[2020-07-24 10:49] alexander-smolyakov commented on #13097
@djee-ms, I created a simple pipeline to test PowerShell task behavior with `npm pack .` command.

This pipeline covers three cases:
1. The script executed with no errors
2. The script executed with errors but ignoreLASTEXITCODE set true
3. The script executed with errors but ignoreLASTEXITCODE set false

All works as expected -  NPM info messages and errors are being logged in logs as info and do

[2020-07-24 10:50] hbuckle commented on #13329
I also have the same issue, is it related to https://github.com/microsoft/azure-pipelines-tasks/pull/13336 ?

[2020-07-24 11:48] PavelPikat opened #13348 "Update to Azure Powershell task breaks AzContext in background job"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure Powershell

## Environment
- Server - Azure Pipelines or TFS on-premises?

    Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

[2020-07-24 16:51] prokach commented on #8908
Hello @ShreyasRmsft ,
I have the same issue with self-hosted agent, which is running in VM and Screen Resolution Utility task in Azure DevOps.
I've configured the agent in interactive mode. But my Screen Resolution Utility task is failing with the following logs:
`
##[warning]The current user session is not a console session. It may not be possible to change the screen resolution. Please ensure th

[2020-07-24 19:38] rafagsiqueira commented on #13276
Tried that. Tried from a different OS as well. Same errors.

[2020-07-24 20:14] damccorm commented on #13177
I checked, there's no place that we look up the password and then perform a delete, so I think this one is pretty unlikely.

This one seems _more_ plausible, I would expect that if there was some bug there it would equally effect the proxy username and password though - the 2 variables are treated essentially the same throughout all instances of them being used in the task-lib, so it would be pret

[2020-07-24 22:28] rafagsiqueira commented on #13276
I ended up using docker directly from the command line:
[code]

[2020-07-25 02:52] v-kyljon commented on #13348
Similar result can be achieved by running AzurePowershellV4 with pwsh on Win2016 or Win2019 images

`trigger:
- none

pool:
  vmImage: 'windows-latest'

steps:
- task: AzurePowerShell@5
  inputs:
    azureSubscription: 'TestSub'
    ScriptType: 'InlineScript'
    Inline: |
       $PSVersionTable
       Get-AzWebAppCertificate -ResourceGroupName TestWebApp
    preferredAzurePowerShellVersion: '4.3.

[2020-07-25 13:02] AArnott commented on #4743
@sit-md, I tried adding conditionals around one of my stages, like this:

[code]

But I got this error:

Do you know of the right syntax to use to turn some stages entirely off based on a condition like what I have above?

[2020-07-25 13:20] AArnott commented on #12862
I was just hit by this. But it was on a pipeline I was modifying in another area. I use the `download` alias in all my pipelines and this morning is the first time I've hit it. Re-running that failed job alone several times did not alleviate it.
I wonder if it is the *version* that it's looking for that's wrong. I notice it's looking for `1.0.0`, but on successful runs I see that it actually *uses

[2020-07-25 14:16] richardorchard commented on #13124
i have been stuck on the same issue for the past few hours....  Would be good if it was easier.  Following through with the Brett McKenzie solution seems to have changed recently in the Azure portal.  I got a 404 when trying to visit the "manage service connection" roles....

[2020-07-25 14:43] AArnott commented on #12862
**Dude**: I think I found the cause. When I have something like this:

[code]

It fails unless `CI` is in fact a defined resource in the pipeline. In my case, I had moved this step from one pipeline to another and forgot to change `CI` to `current`, so it was pointing at an invalid resource.

My *guess* is that Azure Pipelines wants to download the version of the task that matches the version of t

[2020-07-25 21:20] mbishr commented on #10046
I encountered this issue message and solve it after opening SMB port 445 at destination machine

[2020-07-26 14:00] btnguyen2k opened #13350 "Variable replacement not working in 'jobs' the same as 'deployment' jobs."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: Docker@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

- Agent - Hosted or Private: Mic

[2020-07-26 15:05] #10555 closed

[2020-07-26 15:05] #8144 closed

[2020-07-26 22:47] leantk commented on #12147
I made a separate issue to track this update for all the tasks that call to us:
https://github.com/microsoft/build-task-team/issues/144

[2020-07-26 22:58] leantk commented on #9783
@microsoft/app-center to make the task update

[2020-07-27 04:56] chshrikh commented on #13348
@20shivangi to check this once

[2020-07-27 05:06] 20shivangi commented on #13348
@PavelPikat Earlier we were using set-azcontext command in the scope of currentUser, due to which all the non-azureps tasks were able to use the Az context so we limited the context to the scope of process. But due to this, some pipelines started breaking where people were using az context created by azureps task.
So for now, we have reverted this change back, Soon it will get deployed. Please wai

[2020-07-27 05:25] maxim-lobanov opened #13351 "Prevent customers to specify exact version in UsePython / UseRuby tasks"
Hello from https://github.com/actions/virtual-environments.

## Problem
Both UsePython and UseRuby tasks can't download and install versions on-flight. They just switches between versions pre-installed on image.
On image, we keep only the latest patch version for every major.minor pair.

### Example
Image contains Python 3.6.9. As soon as Python 3.6.10 is released, it will be added to image and wi

[2020-07-27 06:06] #6898 closed

[2020-07-27 06:54] alexander-smolyakov commented on #10851
@Osmosis311, please let us know if you still have an issue

[2020-07-27 08:11] anatolybolshakov commented on #7339
Hi @JonathanNEMRY @jashan05 please ping me if it is still actual for you

[2020-07-27 08:13] anatolybolshakov commented on #12962
Hi @SuperDuperOne is this issue still actual for you? Do you have any updates about network check?

[2020-07-27 08:17] anatolybolshakov commented on #13274
Hi @dbnaza please ping me if you still have this issue

[2020-07-27 08:56] anatolybolshakov commented on #12499
Related fix was already released, I'm closing it at the moment - please feel free to reopen if issue is still reproducible

[2020-07-27 08:56] #12499 closed

[2020-07-27 08:58] anatolybolshakov commented on #13311
Closed since fix was deployed

[2020-07-27 09:01] SuperDuperOne commented on #12962
Hey @anatolybolshakov

apologies for the delay, i guess for now, you can close this ticket.
The network team arent going to open up SSH ports due to security reasons and with their own testing, however, we can rule out the CopyFilesOverSSH being faulty since we have tested the task locally (outside of company network) and it works perfectly.
I guess I will just need to present a business case to w

[2020-07-27 09:04] alexander-smolyakov commented on #13036
@schibu007, fix was already released, I'm closing it at the moment - please feel free to reopen if the issue is still reproducible.

[2020-07-27 09:04] #13036 closed

[2020-07-27 11:06] roofiq commented on #13348
Hey guys, that's quite a big bug. We had several pipelines running using this configuration and they all are failing now.
Do you have any workaround, that we can apply so context will still be taken using this task?

Thanks,
Rafal

[2020-07-27 12:01] egor-bryzgalov commented on #12915
Closing the issue since changes should be deployed now. Please feel free to reopen.

[2020-07-27 12:01] #12915 closed

[2020-07-27 12:02] egor-bryzgalov commented on #12848
Closing the issue since changes should be deployed now. Please feel free to reopen.

[2020-07-27 12:02] #12848 closed

[2020-07-27 12:09] mllab-nl opened #13355 "PublishTestResultsV2 with failTaskOnFailedTests does not fail when tests host crashes"
## Required Information

PublishTestResultsV2 with failTaskOnFailedTests does not fail when tests host crashes
trx file result:

[code]

Outcome:
Build is nice and green

Expected outcome:
Build is failed

Is there any workaround to publish test results and fail the build in this case ?

[2020-07-27 12:09] PavelPikat commented on #13348
@roofiq We ended up adding something like `Save-AzContext -Path C:\context.json` and `Import-AzContext -Path C:\context.json` to get the AzContext inside of a background job.
This first job will guarantee to fail, so we also added a dummy job that runs first and ignores any exceptions.

[2020-07-27 12:55] BarsikV commented on #13275
My organization and I would appreciate this feature very much, too!

Would you mind sharing your script? I was thinking at doing something like that, but I am not very good at parsing files using a script...

[2020-07-27 13:26] lmoelleb commented on #13348
Picking up the context in a later step is not the only use-case breaking. An inline script launching another PowerShell.exe fails as well, even though everything is in the same build step. Sure, not the cleanest of things, but not exactly something you expect to break outside a major version update.

[2020-07-27 13:47] LeonB87 commented on #13348
Not sure if this is exactly the same issue, but our pipeline breaks aswell. we have the following task in our pipeline;

[code]

The script does one call to Azure

[code]

And the pipeline is failing telling us to Run Connect-AzAccount to login.

![image](https://user-images.githubusercontent.com/10503724/88549213-51e95b00-d020-11ea-80c2-360f21a2eb88.png)

last time it ran the powershell module wa

[2020-07-27 13:50] PavelPikat commented on #13348
@LeonB87 Are you executing the Az cmdlet in a `ScriptBlock`? If so, the context is lost if it's not passed into the block

[2020-07-27 13:54] v-kyljon commented on #13348
Hi All,
I have two workarounds that I have tested so far.
1.  Update the task version to 5.* or use AzurePowerShell@5
2. Run on Windows Powershell (set pwsh: false)

[2020-07-27 13:55] LeonB87 commented on #13348
@PavelPikat The powershell script itself doesn't contain a scriptblock.

[code]

[2020-07-27 13:56] roofiq commented on #13348
Hey. So if you disable Powershell Core on this task, it will run as before this change. Powershell core is creating another process which is loosing the context and all.
It should defaultly run on Core, so it is implementation bug.

[2020-07-27 14:00] PavelPikat commented on #13348
The initial issue I created, including its repro steps use v5 without PowerShell Core, so if anything changed now, then it must be due to some fix. I'll re-test my code again

[2020-07-27 14:02] LeonB87 commented on #13348
Tested work arounds mentioned by v-kyljon on my side. AzurePowerShell@5 using Core works, aswell as AzurePowerShell@4 Without Core.

[2020-07-27 14:04] PavelPikat commented on #13348
Yeah, seems like it's fixed now. The old release still fails, but if I create new deployment using the same task and code, then it seem to work.

[2020-07-27 15:26] creambyemute commented on #13346
So it turned out that the culprit which resulted in this behaviour was a wrong symlink to xcpretty.
The osx update to 10.15 caused the ruby/xcpretty installation to be corrupted and had to be reinstalled.
After doing this, the build runs fine.

[2020-07-27 15:26] #13346 closed

[2020-07-27 16:08] GreatScott000 opened #13357 "Permissions error using downloadbuildartifact. What Permisions???"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-27 19:42] mllab-nl commented on #13355
IMHO it is a bug

[2020-07-27 19:51] ThadHouse commented on #13322
Any update on this? Its becoming a more and more painful issue, especially as we are still in active development and need access to the artifacts.

[2020-07-27 19:57] maboivin commented on #11958
@wireznak I'm trying an experiment with our build pipelines. During development, code analysis ans stylecop warnings may occur but we don't want them when our checks run on a PR that is to be merged into the master branch. I'm also using the MSBuild task 1.*. I tried to send /WarnAsError as the MSBuild arguments and while it fails on my dev machine, it succeeds on the build agent.

I have verified

[2020-07-27 20:53] wireznak commented on #11958
@maboivin This appears to be a known issue with the msbuild tool itself in which it does not issue the correct return code when the only errors are warnings that were promoted through the /WarnAsErrors switch: https://github.com/dotnet/installer/issues/1708

Based on the debug log you provided, it appears that the MSBuild Task is correctly interpreting the return code it's been given-- the problem

[2020-07-27 20:57] maboivin commented on #11958
Just a question for you then.

On my dev machine, when I run:
[code]

And then echo %errorlevel%, it returns 1:
[code]

Should I get 0 as well?

[2020-07-27 21:24] brechtvhb opened #13359 "KubernetesManifestV0 task does not replace image tag"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifestV0

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure pipelines

    - If using TFS o

[2020-07-27 21:47] wireznak commented on #11958
As I understand it, the issue appears sporadically, and may be exacerbated by the specific conditions on the build agent (meaning, our debug logging and other activities may be changing when and how much disk and processor is available to msbuild in a way that msbuild running uncontested on your machine isn't).

[2020-07-27 22:01] kanadaj opened #13360 "Docker cleanup tasks"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Docker

## Environment
- Server - Azure Pipelines

## Issue Description

Currently, Azure Pipelines is responsible for managing the lifecycle of Docker containers all the way except for the cleanup - retention poli

[2020-07-27 22:06] jozefizso opened #13361 "'AzureSignTool.exe' is not recognized as an internal or external command"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server - Azure Pipelines?
    - https://dev.azure.com/netoffice/NetOffice/_build/results?buildId=867&view=logs&j=9eeabfde-0b68-5b48-1926-57b56b63f658&t=f675a0b0-bb7e-5e44-da2f-1025e4db

[2020-07-27 22:17] jozefizso commented on #13361
It randomly succeeded in a troubleshooting build: https://dev.azure.com/netoffice/NetOffice/_build/results?buildId=870&view=logs&j=9eeabfde-0b68-5b48-1926-57b56b63f658&t=f675a0b0-bb7e-5e44-da2f-1025e4db31cf

[2020-07-28 04:47] 20shivangi commented on #13348
@PavelPikat Can you let me know the version of task in which issue is not occuring now ?

[2020-07-28 05:09] chshrikh commented on #13348
@roofiq I am trying to understand the scenario - what do you mean by "Even when we are uploading ARM templates to storage account,"....which task are you using to upload the template ?

[2020-07-28 06:33] souravb11 commented on #8378
Hi I am using below tasks in my azure pipeline and I am getting build no and latest tag.

    - task: DockerCompose@0
      inputs:
        containerregistrytype: 'Azure Container Registry'
        azureSubscription: $(azureSubscription)
        azureContainerRegistry: $(azureContainerRegistry)
        dockerComposeFile: $(dockerComposefilePath)
        action: 'Build services'
        additionalI

[2020-07-28 07:41] Ben67366 commented on #11700
My problem is even there is the file, somehow it can't find the .deploy.cmd file.

Is there any how-to documents to explain how to deploy through pubxml file?

[2020-07-28 09:03] brechtvhb commented on #13359
Sorry, the problem was on my end. I messed up with my devops variables.

[2020-07-28 09:03] #13359 closed

[2020-07-28 09:20] roofiq commented on #13348
@chshrikh, nevermind because it all works when disabling Core in v4. But we are uploading ARM templates to storage with Azure PowerShell task so it was all connected :)

[2020-07-28 09:22] bergmeister commented on #13329
I have the same issue, using the `AzurePowerShell` v4 task. It occurs only when executing commands of the Az module within a `PSJob`.
This is a severe breaking change.

[2020-07-28 10:02] sdobrodeev commented on #6458
@subhaKiruba Could you please provide more technical details about this issue (environment description, part of pipelines file, logs in debug mode)

[2020-07-28 10:33] chshrikh commented on #13329
@bergmeister yes we have reverted the changes and we are in process to deploy the rolled back changes.

[2020-07-28 12:54] GrimGadget commented on #10274
This seems somewhat less than automated.  How do I capture the Service Connection's object id so that I can apply the access policy _in the pipeline_?

[2020-07-28 13:34] surajsupremegolf commented on #13329
@chshrikh  When can we expect the reverted changes to go to production?

[2020-07-28 13:49] anatolybolshakov commented on #13274
@dbnaza I'm closing due to lack of activity, please feel free to reopen if issue is still actual for you

[2020-07-28 13:49] #13274 closed

[2020-07-28 13:52] anatolybolshakov commented on #12962
Thanks @SuperDuperOne! I'm closing it at the moment

[2020-07-28 13:52] #12962 closed

[2020-07-28 14:21] bergmeister commented on #13329
@surajsupremegolf According to the comment of @chshrikh here, 3-4 days for all rings: https://github.com/microsoft/azure-pipelines-tasks/pull/13336#issuecomment-664963329

[2020-07-28 14:29] surajsupremegolf commented on #13329
@bergmeister Thank you. I was not following the other thread. Hopefully I will circle back early next week.

[2020-07-28 15:48] vineetmimrot commented on #13361
As I can check in your later pipeline builds, the signing is working fine.

[2020-07-28 15:59] jozefizso commented on #13361
As I reported, using tools from `dotnet install` fails randomly.

[2020-07-28 19:46] gvermaosi opened #13366 "VSTest feature request: Fail VSTest task immediately when a single test fails (fail fast option)"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: VSTest

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure Pipelines

- Agent - Hosted or Private:
    Private Agent

## Issue Description

Could there be a setting on the VSTest task to immediately fail the entire task when a single test fails (fail fast option)? It would be helpful to speed up deployment time w

[2020-07-28 20:07] karsten-kuepper commented on #13311
I'm still having the same issue

[2020-07-28 21:16] MattGal commented on #10810
@stephenmichaelf is there any chance you'd take a look at my response?  Has been about a year.

[2020-07-28 21:16] MisinformedDNA commented on #11088
@ivan-sam Did you find an answer? I'm stuck there now.

[2020-07-28 23:04] harre096 commented on #13348
I think I'm having this error too. Switching to version 5.* doesn't seem to have helped. The error I get from my background job is
##[error]Your Azure credentials have not been set up or have expired, please run Connect-AzAccount to set up your Azure credentials.

[2020-07-28 23:11] rhizohm opened #13367 "AzureCloudPowerShellDeployment Task Silently Fails"
*Type*: Question or Bug

**Enter Task Name**: AzureCloudPowerShellDeployment@1

## Environment
- Server - Azure Pipelines
- Agent - Hosted
## Issue Description
We are having the task silently fail, meaning that the task completes and appears to run, but the cloud service deployment doesn't happen. There are no errors. We noticed the SilentlyContinue switch -- is there a way to override that? Has a

[2020-07-29 01:02] Grace-Dmello commented on #11658
+1

[2020-07-29 07:50] ReneSchumacher commented on #10399
Since I encountered the issue during a customer engagement and waiting for Azure DevOps Server 2020 is no option in our case, here's a workaround that seems to work for all .NET Core versions:

**Prerequisites:**
- Install [NodeJS](https://nodejs.org)
- Install [Git for Windows](https://git-scm.com) or a Git client of your choice for your platform

**Build the latest version of the DotnetCoreCLIV2

[2020-07-29 07:53] kzkz221 opened #13368 "Cannot Use Variables for Azure Subscription in Azure Powershell task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-29 09:14] ckruegerkpmg commented on #10513
We are facing the same problem:
2020-07-28T15:44:16.9260218Z ##[warning]Unable to get feature flag: TestExecution.EnableHydra
2020-07-28T15:44:16.9272552Z ##[debug]Processed: ##vso[task.issue type=warning;]Unable to get feature flag: TestExecution.EnableHydra
2020-07-28T15:44:16.9273134Z ##[debug]Unable to get feature flag TestExecution.EnableHydra Error:unable to get local issuer certificate

[2020-07-29 10:31] anatolybolshakov commented on #13311
Hi @karsten-kuepper, I just marked it as deployed by mistake, but these changes are going to be rolled out. I returned back 'awaiting deployment' label, it will take about 3 weeks to be rolled out

[2020-07-29 11:30] #11016 closed

[2020-07-29 12:30] alexander-smolyakov opened #13369 "[JavaToolInstallerV0] Default value for the "versionSpec" parameter"
## Required Information
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: JavaToolInstaller

## Issue Description
Since there were questions regarding which versions of JDK are available on Microsoft-hosted agents it makes sense to add a default value for `versionSpec` parameter if it's not specified by the user. The default value should contain the latest version of JDK that av

[2020-07-29 14:00] AmittaiShapira opened #13370 "Nuget authenticate failed with Error: tunneling socket could not be established, cause=connect ETIMEDOUT"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NuGet Authenticate

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the
account name:

[2020-07-29 15:15] leantk commented on #13351
@anatolybolshakov I know we haven't transitioned the Python or Ruby tasks yet but could you take a look at this. I would think it shouldn't be too much work just checking for the version format

[2020-07-29 17:13] #11304 closed

[2020-07-29 17:13] edgarrs commented on #11304
Solution has been provided in previous comment

[2020-07-29 17:17] edgarrs commented on #11347
Adding retries is the right solution in this case

[2020-07-29 17:17] #11347 closed

[2020-07-29 17:22] edgarrs commented on #11490
@memao , @zleight1 are you still seeing this issue?

[2020-07-29 17:26] edgarrs commented on #11649
Please re-open it if this is still happening

[2020-07-29 17:26] #11649 closed

[2020-07-29 17:28] edgarrs commented on #13200
Issue tracked in Azure Pipelines repo

[2020-07-29 17:28] #13200 closed

[2020-07-29 17:28] anatolybolshakov commented on #13351
@leantk yep sure 👍 Suggested changes look clear here

[2020-07-29 17:30] edgarrs commented on #11843
This is low priority

[2020-07-29 17:30] #11843 closed

[2020-07-29 18:11] zleight1 commented on #11490
I haven't recently, but we added npmrc tokens to the agent home directories themselves because this was happening sometimes.

We're working on auto-scaling agents, so for these I will not put a token in ~/ and see if it happens with them.

[2020-07-29 19:55] larshg opened #13371 "Cmake '"Visual Studio 16 2019" -A X64' is not working"
**Question, Bug, or Feature?**
*Type*: I see it as Bug.

**Enter Task Name**: Cmake
Generate VS build files using Cmake.

## Environment
Azure piplines:
https://dev.azure.com/PointCloudLibrary/pcl

Github:
https://github.com/PointCloudLibrary/pcl

## Issue Description
CMake Error: Could not create named generator Visual

For some reason the string: '"Visual Studio 16 2019" -A X64' gets chopped.

Y

[2020-07-30 03:22] 20shivangi commented on #13328
@deadlydog Earlier we were using set-azcontext command in the scope of currentUser, due to which all the non-azureps tasks were able to use the Az context so we limited the context to the scope of process. But due to this, some pipelines started breaking where people were using az context created by azureps task.
So for now, we have reverted this change back. Our change has started being deployed,

[2020-07-30 04:22] ds-ms commented on #13360
@N-Usha could you take a look

[2020-07-30 04:25] ds-ms commented on #13350
Could you attach a snippet of your yamls?

[2020-07-30 04:30] ds-ms commented on #13321
@tauhid621 to take a look

[2020-07-30 04:51] btnguyen2k commented on #13350
Hi @ds-ms ,

Below is the working yaml, after workaround:

[code]

I have to move the `variables` to the top level to make it work. If I put `variables` block under stages or jobs I got the error `"There was a resource authorization issue: "The pipeline is not valid. Job Build_and_Publish: Step Docker1 input containerRegistry references service connection $(dockerRegistry) which could not be found

[2020-07-30 04:57] ds-ms commented on #13350
Overall the issue I see is, the variable being available when the replacement happens. If the dockerRegistry variable is available in context during the job orchestration, it would replace it with the value you're looking for. But in your case the value was not being parsed. So instead it was looking for a service connection named `$(dockerRegistry)` which didn't exist so it failed.

I'd like to u

[2020-07-30 05:04] btnguyen2k commented on #13350
@ds-ms, yes I was talking about variable group (which was created via pipelie's libary page).
If I put `variables` block at top level it works, if I put it inside `stages` or `jobs it does not.

[2020-07-30 05:06] btnguyen2k commented on #13350
One more thing, I have another task as the following:

[code]

Task `AzureWebAppContainer@1` works well with the `variables` block at `jobs` level.

[2020-07-30 05:31] arjgupta commented on #13137
@sbugalski can you try to change the Azure PowerShell version input in the task and try specifying version as '3.5.0' and check if you are mitigated.

[2020-07-30 05:58] arjgupta commented on #13232
@mpoiron can follow try to follow the advice in this discussion here: https://github.com/aspnet/IISIntegration/issues/238 especially this comment here about using setting an app offline flag https://github.com/aspnet/IISIntegration/issues/238#issuecomment-406006574 .

[2020-07-30 06:00] arjgupta commented on #13190
@kcherewyk from the logs of the Azure File Copy that you are executing you can see the exact azcopy command that is being run. You can try to copy this and run it on the command line. It should fail with a similar error. What might be happening is that we from task side also append some arguments to azcopy depending on the inputs given to the task and it is possible that you are specifying some ad

[2020-07-30 06:06] arjgupta commented on #13111
@da1rren you are providing the $(slot) variable in the task. can you try not providing it and see if that allows you to set the app setting but not set it as deployment slot setting.

[2020-07-30 06:07] #13070 closed

[2020-07-30 06:08] ShreyasRmsft commented on #13366
This feature would be easier to implement at the vstest testplatform layer since it has a better hook to those events. Raise the request at https://github.com/microsoft/vstest.

Additionally you can consider authoring a custom [datacollector](https://github.com/microsoft/vstest-docs/blob/master/docs/extensions/datacollector.md) that kills the test process when a failed test event arrives. This wou

[2020-07-30 06:08] viktors-telle commented on #12634
I agree that the error message should be improved. I've spent a lot of hours trying to debug the issue because of the generic error message.

[2020-07-30 06:10] ShreyasRmsft commented on #13366
There's already a datacollector that kills the testprocess on potential hangs, you can leverage some of the code it uses to get the testprocess' process id and listening to test completed events https://github.com/microsoft/vstest/blob/63e623f23c6dfd63990c101c957860dfd22fd6c4/src/Microsoft.TestPlatform.Extensions.BlameDataCollector/BlameCollector.cs#L167

[2020-07-30 06:12] arjgupta commented on #12980
@pontuskindh for machine group based tasks we recommend running the agent as NT AUTHORITY\LOCAL SYSTEM.

[2020-07-30 06:12] #12980 closed

[2020-07-30 06:20] arjgupta commented on #12766
The task works on the older Azure RDFE model and uses the Azure RDFE cmdlets because Cloud service also works on RDFE (or classic) model and so requires a classic storage account. And not an ARM storage account.

[2020-07-30 06:20] #12766 closed

[2020-07-30 06:57] ds-ms commented on #13350
That is weird. The orchestrator, I believe doesn't do any biased decisions like that. If it works for one task, it's expected to work with everything else.

One difference I noticed is you're using Docker task in a regular job and AzureWebContainer task under a `deployment` stage. Could you validate if this is occurring for you under just `job` or `deployment job` under a `stage`?

[2020-07-30 07:13] ds-ms commented on #13110
Is it something you're facing only in azure pipelines world or locally as well?

[2020-07-30 07:15] btnguyen2k commented on #13350
Hi @ds-ms,

I think I kind of understand the error. I attached the error screenshot:
![image](https://user-images.githubusercontent.com/2164028/88891350-63cc3780-d286-11ea-9019-f6ba9b6c0610.png)

The error with Docker@2 task happens _before_ the pipeline was able to ever run any task. I think this check is a type of _pre-run_ check. And for some reasons at this _pre-run_ check step, the top level

[2020-07-30 07:21] ds-ms commented on #13350
Like I mentioned it's probably not a task thing.

I'm guessing it's a difference in behaviour between a `job` and `deployment job` type under a stage. If you're able to repro this issue under both the cases.. I'll engage the right team to help with this issue 😄

[2020-07-30 07:28] sbrcloudeon opened #13372 "https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzurePowerShellV5/InitializeAz.ps1 is missing support for "$endpointObject.authenticationType -ieq 'SPNCertificate'""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-30 07:31] ds-ms commented on #13268
@ammohant to take a look.

[2020-07-30 07:34] btnguyen2k commented on #13350
Hi @ds-ms

Your guess is correct! I change the deployment job to normal job like this:

[code]

And I got this error message:
![image](https://user-images.githubusercontent.com/2164028/88894090-b4459400-d28a-11ea-9b6f-2c7052f91b59.png)

So the issue now is why the `variables` group block is not consistently evaluated? I expect it to work without putting the `variables` block at top-level.

[2020-07-30 07:48] thurfir commented on #13232
Hi, if this might help, even with app offline flag we are getting this ERROR_FILE_IN_USE exception on-premise. It started since moving to .net core 2.2 with the AspNetCoreHostingModel flag enabled. This flag default to true since 3.0 .

From the data I gathered from diverse sources this problem has been fixed in Azure by renaming locked dll , hence the ticket we opened here for on-premise support

[2020-07-30 08:06] ds-ms commented on #13350
@zachariahcox there seems to be an issue with parsing variables from a variable group in job layer. Is this an expected behaviour?

[2020-07-30 09:47] Rayzbam commented on #5472
Still an issue here as well. Using .net core app and some Azure client things.

Got : Failed rmRF: EPERM: operation not permitted, unlink '$LocalPath$\Azure.Core.dll'

In my case, i've got everytime the same file, "Azure.Core.dll" and i deploy multiple services in multiple repositories.

[2020-07-30 10:31] Marbulinek commented on #2643
I had the same issue exactly in Azure Pipelines and finally this is my solution:
Command Line step:
`steps:
- script: '$env:ASPNETCORE_ENVIRONMENT='Development''
  displayName: 'Set DB Environment'
`

Command Line step: (also define working directory of project)
`steps:
- script: 'dotnet-ef database update --project $(project)'
  workingDirectory: TunelHelperApi
  displayName: 'Database Update'

[2020-07-30 12:07] #6687 closed

[2020-07-30 12:08] mehdihadeli commented on #13110
I solved it, my issue was .net core version. I upgrade my .net to 3.1 version and my issue resolved.

[2020-07-30 12:08] #13110 closed

[2020-07-30 12:28] tauhid621 commented on #13321
@cbb330 Nested variables are not yet supported in the build pipelines.

As a workaround you can have an inline powershell task which evaluates environment and creates a new variable with value as the required password.
[code]

This will create a variable named passwordVariable with the password value.

Now you can use this "passwordVariable" variable as the input for the next task

[2020-07-30 13:36] JuanParodi commented on #1441
We're still facing this issue. a customer is trying to deploy a dacpac and an index creation statement runs longer than 2 minutes and it's failing with:
`".Net SqlClient Data Provider: Msg -2, Level 11, State 0, Line 0 Execution Timeout Expired.  The timeout period elapsed prior to completion of the operation or the server is not responding."`

Their sqlpackage.exe call looks like this:

`"C:\Prog

[2020-07-30 14:20] kcherewyk commented on #13190
I realize that the Copy command is being run in the task. I was trying to use the **Azcopy.exe sync** command that's available in the newer versions of Az copy, If that command is not available in this task, I guess this isn't a bug but a feature request.

[2020-07-30 14:54] neostorm opened #13373 "Python Twine Upload Authenticate problem when project contains space in name"
## Required Information
Question, Bug, or Feature?
Bug

**Enter Task Name**:  Python Twine Authenticate v0/v1

## Environment
Azure Pipelines

## Issue Description
Python Twine Upload Authenticate problem when project contains space in name
current pypirc file created is incompatible with twine.
twine splits index-servers on the space characters Azure project names with spaces result in trying to

[2020-07-30 14:55] neostorm commented on #13373
relates to https://github.com/pypa/twine/pull/673

[2020-07-30 14:59] anatolybolshakov commented on #7339
@JonathanNEMRY @jashan05 I'm closing it at the moment due to inactivity, please feel free to reopen it if it is still actual for you

[2020-07-30 16:33] ClaudeVernier opened #13374 "Issue with NuGet Package Version number in Artifacts"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: NuGetCommand@2

## Environment
- Server - Azure Pipelines
    - Claude VERNIER https://xxx.visualstudio.com/Development%20Unit/_build/results?buildId=6953&view=results

- Agent - Private:
    - Windows 2.166.4

## Issue Description

Working on Azure pipelines and a self hosted agent, I have an issue to set version number.
I have

[2020-07-30 19:09] savas-guven commented on #1441
I very much doubt this will ever be addressed;
- you either move your time consuming operations into a separate Sql Script and execute that
- or with **powershell** update the **HKCU** registry key that's been indicated above.

Regards,
SG

[2020-07-30 20:49] alexperovich opened #13375 "NuGetAuthenticate task should honor DOTNET_CLI_HOME variable"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-30 20:57] EricStG opened #13376 "`DotNetCoreCLIV2` should respect `rollForward` in `global.json`"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DotNetCoreCLIV2

## Environment
- Server - Azure Pipelines or TFS on-premises?

Using Azure Pipelines but this isn't environment specific

- Agent - Hosted or Private:

Using self hosted agents but this isn't envir

[2020-07-30 21:28] jcuzzi commented on #13361
I am running into this exact same issue today...

[2020-07-30 22:53] dtzar opened #13377 "DotNetCoreCLI publish command doesn't honor project path"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DotNetCoreCLIV2

## Environment
Hosted Azure Pipelines, Ubuntu latest pool

[code]

## Issue Description

Running the following task configuration does not honor the `projects` argument and actually publish the specified project.  Instead, it goes to t

[2020-07-31 04:55] arjgupta commented on #13231
@MursalovAltun the task does not work with a custom app offline file. The task does not delete the custom app offline file because it is not aware about the custom app offline file. What you can do is the deploy the app to a slot and then post deployment you can perform a swap slot.

[2020-07-31 04:55] #13231 closed

[2020-07-31 07:31] alexander-smolyakov commented on #10851
@Osmosis311, I'm closing due to lack of activity, please feel free to reopen if issue is still actual for you.

[2020-07-31 07:31] #10851 closed

[2020-07-31 08:33] vineetmimrot commented on #13377
Can you send the Debug logs of failed scenario?

[2020-07-31 08:47] vineetmimrot commented on #13361
This issue is related to .NetCore SDK tool. Please open an issue in .netcore repo.
https://github.com/dotnet/core/issues

[2020-07-31 09:28] vineetmimrot commented on #13333
setting up the proxy code in dotnetcore task uses Common library written by nuget team. Hence assigning the issue to them.

[2020-07-31 09:39] vineetmimrot commented on #13327
@pulkitaggarwl Can you please check this regarding documentation.

[2020-07-31 09:59] vineetmimrot commented on #13299
Compare the version of AzCli in the pipeline and cloud shell. Provide debug logs by setting  system.debug variable and its value to true.

[2020-07-31 10:07] anatolybolshakov commented on #11582
Hi @idiocache please let us know if it is still actual for you

[2020-07-31 15:17] APIWT commented on #10907
@fadnavistanmay We are running into this issue. How do we check what version of the agent we are on? Also, does it help that we are using Hosted Agents? Thanks!

[2020-07-31 15:38] bc443e opened #13379 "Error when using task Cache@2 and PublishPipelineArtifact@1 tasks in YAML pipeline on self-hosted agent"
**Type**: Question

**Task Name**: Cache@2 and PublishPipelineArtifact@1

## Environment

**Server** - Azure Pipelines

*Account name*: repo-scanner-org
*Project name*: 30553-eastus2-eisapi
*Build definition name / build number*: 14 / 133

**Agent** - Private

*OS*: Linux
*Agent version*: 2.165.2

## Issue Description

I'm running a cache task that was working fine when using the default Azure hos

[2020-07-31 15:45] coreyasmith opened #13380 "Azure Key Vault task converts %3B in secrets to ;"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureKeyVault@1 (https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureKeyVaultV1)

## Environment
- Server - Azure Pipelines
- Agent - Hosted, `windows-2019`

## Issue Description

The Azure Key Va

[2020-07-31 18:09] coreyasmith commented on #13380
I just tested all hex values in the ASCII table and `%5D` (converted to `]`) is affected as well. No other values seem to be affected.

[2020-08-01 03:30] anish-george88 commented on #13329
@bergmeister  thanks for the updates. However, I am still getting this error in my CICD process.

I am using 'Azure CLI' task verion 2.* in my pipeline. Azure CLI 2.9.1 has been installed in our build server(where our self-hosted Azure agents are running).

Do I still need to wait it to be working? Still anything pending to be deployed? or do I need to install any patches in the build server? Our

[2020-08-01 08:49] dewolfs commented on #13299
Version in pipeline
azure-cli                          2.9.1

Version in cloud shell
"azure-cli": "2.9.0"

I've run the pipeline now multiple times, issue seems to be resolved without changing anything my side.
Closing for now

[2020-08-01 08:49] #13299 closed

[2020-08-01 11:06] trevonmckay opened #13381 "PublishPipelineArtifact Unable to load symbolic/hard linked file"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishPipelineArtifact

## Environment
- Server - Azure Pipelines, ```dalgs | Digital Workplace | winteropstoolkit-mobile/20200801.7```

- Agent - Hosted, ```macOS-latest```

## Issue Description

The Publish Pipeline

[2020-08-01 12:30] trevonmckay commented on #9046
Also having this issue

Hosted
Agent: macOS-latest
Organization: dalgs
Project: Digital Workplace
Pipeline/Build#: winteropstoolkit-mobile/20200801.13

[code]

[2020-08-02 04:00] vineetmimrot commented on #13288
Closing it as the issue with powershell and customer is. unblocked.

[2020-08-02 04:00] #13288 closed

[2020-08-02 04:12] #13236 closed

[2020-08-02 05:27] bishal-pdMSFT commented on #13361
@jozefizso @jcuzzi can you add a step after tool install to print the PATH environment variable and share the result

[2020-08-02 11:15] bishal-pdMSFT commented on #13252
We have changed 'end of line' to 'end of life' and fixed the other typo.
The .net core download page still uses 'end of life' so it seems to okay use same in task for now.

[2020-08-02 11:26] bishal-pdMSFT commented on #13249
Yes the intention is to communicate about hosted agents. The intention was necessiated due to a lot of folks not able to understand why their pipeline started failing after we removed EOL version from hosted agent.
I agree that this is not a very elegant solution as it shows up even if you use a current version. But detecting the version which is in use for a command is not really straightforward,

[2020-08-02 11:28] bishal-pdMSFT commented on #13249
We should however clearly call out 'hosted agent' in the message. @vineetmimrot can you please change this?

[2020-08-02 13:27] bishal-pdMSFT commented on #13202
The workaround is use scriptType pscore which will use PowerShell core for executing the script.

[2020-08-02 13:27] #13202 closed

[2020-08-02 13:28] bishal-pdMSFT commented on #13192
No, it is not possible currently and we do not have this item in near term.

[2020-08-02 13:30] #13182 closed

[2020-08-02 13:31] bishal-pdMSFT commented on #13171
Duplicate issue

[2020-08-02 13:31] #13171 closed

[2020-08-02 18:06] #10808 closed

[2020-08-03 07:04] christopherdalton commented on #12140
I have the exact same issue.. what do you mean by a docker enabled container?? How did you fix this?

[2020-08-03 07:26] bishal-pdMSFT commented on #13249
I see that this has already been fixed by @tejasd1990

[2020-08-03 07:26] #13249 closed

[2020-08-03 08:27] #10175 closed

[2020-08-03 08:27] #12815 closed

[2020-08-03 09:56] abhijeetsinha9 commented on #3762
nothing worked as suggested on this website..cant believe there is no solution of this issue

[2020-08-03 10:45] l2999019 opened #13383 "Azure devops push docker to private registry server gave HTTP response to HTTPS client"
![image](https://user-images.githubusercontent.com/10385855/89174946-4d411b80-d5b9-11ea-829b-4678759fdc7d.png)

My docker registry  is the HTTP protocol

[2020-08-03 12:27] asiffermann commented on #11484
Same issue here, and I can confirm that manually moving the file to change its name to `.npmrc` before using the task resolve the issue as a temporary workaround.

[2020-08-03 16:09] leantk commented on #12147
Reassigning to Release for Docker task updates. NPM needs updated as well

[2020-08-03 19:54] rhizohm commented on #13367
It turned out there was a misconfiguration on our end. Regardless, it would be nice if this task didn't have the SilentlyContinue switch on, or if it could be toggled by those using the task.

[2020-08-03 19:54] #13367 closed

[2020-08-03 20:55] surajsupremegolf commented on #13329
@chshrikh Is this issue resolved and deployed to production? When can we expect it?

[2020-08-03 23:06] WardenGnaw commented on #13178
"Not on any of the machines I looked at while investigating. They should acknowledge there is always a chance a process hangs?"

[2020-08-04 03:35] smalgin commented on #11624
@alexander-smolyakov Thanks for the workaround! I changed my keystore password (removed non-alphanumeric characters) and signing went through! That was AndroidSigning@3

It is weird that this problem is still not fixed.

[2020-08-04 04:59] gabrielclima opened #13384 "Wrong warn message: Resource file haven\'t set, can\'t find loc string for key: Not pushing metadata as no resource Ids found"
## Required Information

Recently, we received build warns with `##[warning]Resource file haven\'t set, can\'t find loc string for key: Not pushing metadata as no resource Ids found`. We didn't changed anything in our build config and I don't if we made a miss config or anything to fix this warn. I already checked [the task documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/tas

[2020-08-04 06:34] jfheins commented on #12892
For me it works, but I have set the directory directly because I found no suitable pipeline variable:

[code]

I'm using a hosted agent (ubuntu-18.04); maybe this works for you as well.
One can print the relevant directory for yarn with `yarn cache dir`

[2020-08-04 07:55] sdobrodeev commented on #6458
@subhaKiruba I'm closing due to lack of activity, please feel free to reopen if issue is still actual for you.

[2020-08-04 08:06] afeblot commented on #6458
Closing for "lack of activity" whereas somebody pinged for an update 13 days ago?
@sdobrodeev, for sure, I'm still waiting/hoping for this to get fixed, please reopen it (I can't).

In our case, and probably as well for everyone else, the issue is exactly as described initially by @pjquirk : https://github.com/microsoft/azure-pipelines-tasks/issues/6458#issuecomment-367459714 :
The maven verify st

[2020-08-04 08:22] JozoSlejko commented on #11088
What was the fix?

[2020-08-04 10:58] empitesithum commented on #9458
Still having the issue on my pipelines

[2020-08-04 11:00] junketer opened #13385 "SSH Task failing running inline script"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-08-04 11:33] kanika1894 commented on #12702
@bishal-pdMSFT any update on this?

[2020-08-04 11:54] alexander-prozorov commented on #13210
Hello, @lucascardosods!

Generally, error 65 can indicate problems with the signing process. In some cases, this can be solved using the manual signing option. Provisioning profile id is required for manual signing.

[code]

Could you please also provide the xcodebuild version you are using?

Information about xcode build and release task is [here](https://docs.microsoft.com/en-us/azure/devops/pip

[2020-08-04 12:14] vineetmimrot commented on #12343
Since the core duty of UseDotNetV2 to install the dotnet sdk and not setting up proxy, we have suppressed the nuget proxy setup error.

[2020-08-04 12:14] #12343 closed

[2020-08-04 12:53] #13192 closed

[2020-08-04 14:09] MatkovIvan opened #13386 "Xcode optional parameters don't work from yaml pipeline"
## Required Information

**Type**: Bug
**Enter Task Name**: Xcode

## Environment
- Server: Azure Pipelines
- Agent: macOS-10.15

## Issue Description

Optional parameters don't work from yaml pipeline.

I'm trying to migrate my pipeline from classic editor to yaml. It has Xcode task that I "exported" by "View YAML" button. The task uses some "default" parameters (like SDK and Configuration) and i

[2020-08-04 14:27] tlbonds2 opened #13387 "Code coverage is showing as 0% in SonarQube when using the Jacoco option in the MavenV3 task."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-08-04 14:56] joel-ld opened #13388 "WinRM - SQL Server DB Deployment : Why a Admin Login/Password is required?"
## Required Information

Hello, I'm playing around with the Release Pipeline task : WinRM - SQL Server DB Deployment
I'm trying to deploy my SQL EF migration script to an On Prem SQL Server. In term of security into our departement, having a admin account on the Shared SQL server instance is kind on complex and unsecure... Since I cannot find the information on the documentation, i'm asking the qu

[2020-08-04 15:19] ds-ms commented on #13383
Did you supply `http://<your-ip>` in the docker registry connection which you've created?

[2020-08-04 17:10] MisinformedDNA commented on #11088
I believe I read that azureSubscription/ConnectedServiceName/ConnectedServiceNameARM must be known at compile-time. And it appears that queued variables, as well as group variables, are not used at compile-time and, thus, not used in the evaluation.

So the workaround (as far as I can tell) is to use some combination of YAML-defined variables, parameters, variable templates, template conditions an

[2020-08-04 19:13] jhonnymertz commented on #10353
Is there any update on this issue? I'm working on a monorepo and the fact that it cannot collect all the coverage reports limits the usage of this information in dashboards, for example. All the existing widgets to report code coverage in ADO dashboards rely on this data...

[2020-08-04 19:23] alohaninja opened #13390 "VSTS Test Task - Javascript Heap Out of Memory"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VSTS Test Task - Javascript Heap Out of Memroy

list here (V# not needed):  VSTest

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using TFS on-premises, provide the version:

[2020-08-04 19:48] cwhitten commented on #13265
When can we expect some engagement from the team on this issue?

[2020-08-04 20:21] alohaninja commented on #13390
# Patching Bug
[Increasing the memory limit for `node` globally seems to have fixed the bug](https://github.com/TrilonIO/aspnetcore-angular-universal/issues/736#issuecomment-517374967). Curious why this is happening or how to make this more discoverable for pipeline task consumers.

## Increasing NodeJS Runtime Memory
[code]

[2020-08-04 20:52] MisinformedDNA commented on #10353
To get around this, we can merge all the files using ReportGenerator. This is what worked for me:

1. (Optional) If the code coverage is coming from different jobs, publish the coverage files as artifacts and then have a later job download all the artifacts

2. Create a report from all coverage files and publish
[code]

This has worked well for me.

[2020-08-04 21:48] damienwebdev opened #13391 "docs(HelmDeploy@0): add docs around using secret environment variables with `overrideValues`"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: HelmDeploy@0)

## Environment
- Server - Azure Pipelines

## Issue Description
When attempting to utilize secret environment variables in the `HelmDeploy@0` task, I haven't been able to successfully set the `overri

[2020-08-04 22:01] damienwebdev commented on #13391
Closing this was fixed by moving the `env:` up to the `variables` on the job.

[2020-08-04 22:02] #13391 closed

[2020-08-05 02:11] tstevanovic commented on #7611
Me too, version 2 works. Version 3 and 4 does not work.

[2020-08-05 02:38] yxl5521 commented on #9673
@iashishmittal
HI, Could you please enable the feature to DeltaITAppDevTeam

[2020-08-05 08:42] arjgupta commented on #12988
@saraswat40 there is no way to set the value of a variable conditionally. As for the issue on setting the variable in pipeline vs setting it in the UI, it should work both ways. You can check the documentation for the file transform task [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/file-transform?view=azure-devops). Also, can you post the debug logs for both cases h

[2020-08-05 08:53] bishal-pdMSFT commented on #13332
@henry-padilla yes, the task has this limitation as it removes certificate at the end. It is recommended to use different agents to run parallel tasks which are using same certificate to connect to cluster.
The enhancement to add this support in task is in backlog but I don't think we will be able to prioritize anytime soon.

[2020-08-05 09:22] MatkovIvan opened #13392 "Default simulator value doesn't work with Xcode 11"
## Required Information

**Type**: Bug
**Enter Task Name**: Xcode

## Environment

- Server: Azure Pipelines
- Agent: macOS-10.15

## Issue Description

Xcode task uses default simulator that was removed in Xcode 11:
https://github.com/microsoft/azure-pipelines-tasks/blob/bae01dfb264abf44efdde6070a7a678dc3b59989/Tasks/XcodeV5/task.json#L289

Expectation: the default value should work on last stabl

[2020-08-05 09:36] MatkovIvan commented on #13392
Also, it would be great if the "default" value worked on different platforms like tvOS too.

[2020-08-05 10:38] svengrav opened #13394 "Task automatically transforms HashTable to object[]"
## Required Information
**Type**: Bug
**Enter Task Name**:  AzurePowerShellV5

## Environment
- Server: Azure Pipelines
- Agent: Hosted (Hosted Agent)
  - Agent name: 'Hosted Agent'
  - Agent machine name: 'WIN-NVVKL3OQ0UL'
  - Current agent version: '2.172.2'
  - Current image version: '20200726.1

## Issue Description
The task seems to automatically transform the type HashTable into an Object[].

[2020-08-05 11:29] #13394 closed

[2020-08-05 11:37] jotatoledo commented on #12892
@jfheins thanks for the hint.

I was able to fix this (cloud-hosting) using:

[code]

[2020-08-05 11:54] NinadKavimandan commented on #13168
Hi,

Can you try this task instead for generating Nuget package file:

### Package a project
- task: NuGetCommand@2
  inputs:
    command: 'pack'
    packagesToPack: '**/*.csproj'
    packDestination: '$(Build.ArtifactStagingDirectory)'

Source: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget?view=azure-devops#package

[2020-08-05 12:28] #12402 closed

[2020-08-05 13:59] junketer commented on #13385
HI, any feedback on this? Is it accepted, or anyone got any idea on the issue?
Regards

[2020-08-05 15:20] Dejulia489 commented on #11720
Following up. Is this documented anywhere?

[2020-08-05 17:26] glazzari commented on #12593
I'm facing the same issue on Azure pipelines.

[2020-08-05 19:45] pkmnct commented on #7938
This caused a huge amount of confusion for a team member who got a new computer recently. Our IT has our Windows machines set up to use a network home drive (H:), and running vsts-npm-auth by following the steps outlined on Azure DevOps did not work. Hours of troubleshooting later and we found that we could just copy the .npmrc it generated to the c:\users\<username> and everything works as expect

[2020-08-05 19:46] pkmnct commented on #7938
@elbatk Please consider reopening this bug. It affects more than just the azure pipeline task for vsts-npm-auth.

[2020-08-05 20:00] satbai opened #13395 "DownloadPackage@1 should have an option to download a specific maven snapshot version"
**Question, Bug, or Feature?**  Feature
**Enter Task Name**: DownloadPackage@1

## Issue Description
Using DownloadPackage@1 task to download Maven snapshot versions, it would be great to be able to only download a specific snapshot version. Currently all snapshots are downloaded.

[2020-08-05 20:04] satbai commented on #13395
It is currently not desirable to add _package type specific_ behavior to a generic DownloadPackage task. As a workaround, a [MavenAuthenticate ](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/maven-authenticate) task should be used followed by a maven script task to download a desired snapshot version.

[2020-08-05 20:40] soccerjoshj07 commented on #7952
I have this issue also, using macos-latest agent

[2020-08-05 21:05] gdhuper opened #13396 "Support for `cargo build` task ?"
## Required Information
*Type*: Feature
**Enter Task Name**: N/A

## Environment
- Azure Pipelines

## Issue Description
I realize this might be a repeated feature request for adding `cargo build` task but I couldn't find any information here. Are there any plans to add support for `rust/cargo` build tasks to Azure Pipelines in the near future? If not, could this feature request be added to the ba

[2020-08-06 04:12] chevonc commented on #11864
Having the same issues here. Using cache to speed up things, but variability makes it unreliable

[2020-08-06 05:13] #12437 closed

[2020-08-06 05:14] ds-ms commented on #13254
Closing stale issue. Feel free to reopen if the problem still persisits.

[2020-08-06 05:14] #13254 closed

[2020-08-06 05:15] ds-ms commented on #8655
Closing stale issue. Feel free to reopen if the problem still persists.

[2020-08-06 05:15] #8655 closed

[2020-08-06 05:24] ds-ms commented on #12206
Closing stale issue. Feel free to reopen if the problem still persists.

[2020-08-06 05:24] #12206 closed

[2020-08-06 06:02] deepaleekhare31 commented on #10916
I'm facing the same issue as well...

[2020-08-06 06:42] deepaleekhare31 commented on #10916
Did u find any solution for this @majusmisiak ?

[2020-08-06 08:45] Xoib commented on #10916
It has been fixed. If you try again, it should work now.

[2020-08-06 08:52] asostechnix commented on #13384
Seeing the same issue with the Maven@3 task.

[2020-08-06 09:04] TehWardy commented on #3762
@abhijeetsinha9 This was solved a while ago ...
These days I don't do a restore at all for .Net core projects I just do a build or publish and that does the restore for you.

There is a bit of a gotcha though ... if using cloud based build servers provided by Microsoft they change the versions of .Net Core often as a result of ongoing progress so if you don't keep up you start to find older projec

[2020-08-06 09:23] ekaterina-tatanova commented on #12593
@glazzari What version of Gradle do you use? Could you please share build.gradle and gradle.properties files of your project?

[2020-08-06 11:04] dazinator commented on #13161
@anuragc617

You could add a checkbox option to the task to "enable escaping" of variables? So that escaping could be "opted into" - that way it wouldn't break any existing user's pipelines if the feature was introduced?

[2020-08-06 11:06] dazinator commented on #13161
Escaping is a real problem, becuase for things like strong generated usernames / passwords. urls and other variables, there are always control characters that will be interpreted in the script. As these variables change in DevOps, it's so easy to miss a control character, especially if you are not even aware of the issue, or which particular scripting lanuage all of the tasks that may utilise that

[2020-08-06 11:10] dazinator commented on #13161
I'll create a new issue.

[2020-08-06 11:18] dazinator opened #13397 "AzureCLI Variable escaping"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Arguably both

**Enter Task Name**: AzureCLIV1, AzureCLIV2

## Environment
- Server - Azure Pipelines (Releases, classic)

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
UNIUN, U

[2020-08-06 11:42] damccorm commented on #13396
Hey @gdhuper for new task requests, please use https://developercommunity.visualstudio.com/spaces/21/index.html - this repo is for issues with existing tasks. That will also allow others to vote on it/will help us prioritize if we want to do this. My guess is that we probably will not add it due to lack of demand, but you can also always publish your own task on the marketplace - https://docs.micr

[2020-08-06 11:42] #13396 closed

[2020-08-06 12:36] deepaleekhare31 commented on #12067
Hello @tsaibabu4u ,
i tried your solution, but i'm getting the below error:
**Failed to execute goal org.apache.maven.plugins:maven-antrun-plugin:1.8:run (default) on project VstsReport: An Ant BuildException has occured: Unable to read execution data file /home/azadmin/myagent/_work/1/s/CCReport43F6D5EF/jacoco.exec
2020-08-06T12:33:46.2947704Z [ERROR] around Ant part ...<report>... @ 8:11 in /hom

[2020-08-06 13:33] alexander-prozorov commented on #13385
Hello, @junketer!

Could you please provide the Node.js version installed on the agent?

Thanks for the task logs. The error message says randomFillSync is missing, which could mean that the NodeJS version the agent is using is lower than 6.13.0.

Information about actual Node.js versions is [here](https://github.com/nodejs/Release).

[2020-08-06 13:39] dazinator commented on #13397
For a concrete example of the particular difficulty I am getting into with variables and special chars:

https://github.com/Azure/azure-cli/issues/14693

[2020-08-06 14:17] mattip commented on #13319
This would be very useful for trying out versions of python without waiting for  deployment of a new image.

[2020-08-06 15:07] lostphenomenon opened #13398 "IIS Web App Manage (On machine group) | Adding bindings should be a graceful operation"
**WHEN** choosing the "Add binding" option in a "IIS web app manage" task
**IF** you have a binding that requires a certificate (https) and you have a thumbprint provided
**THEN** the first initial deployment will succeed
**THEN** all the consecutive ones will fail on the part where netsh is called in a similar manner:
`"netsh" http add sslcert ipport=0.0.0.0:443 certhash=*** appid={a78bae04-5ec5-

[2020-08-06 15:08] magleaso commented on #13395
+1 to not adding more to DownloadPackage task. Imo DownloadPackage has a few deficiencies in downloading that are unlikely to be fixed (have seen issues w/ corrupt downloads). It should be used to trigger a pipeline, but not to download artifacts

[2020-08-07 07:13] aDisplayName opened #13404 "TRX file cannot be correctly located in VsTest 16.7 in Azure DevOps Pipeline"
## Description
Starting today, the VsTest 16.7.0 is available in Azure DevOps pipeline. We got an error message at the end of the VsTest step that it clamied TRX was not found when publishing the test.
It appears the VsTest was looking for trx file in ```\agent\_work\_temp\TestResults``` while it was actually saved to ```$(Common.TestResultsDirectory)```

We were using VsTest 16.6.1 with the same

[2020-08-07 07:43] JeeDay commented on #9673
Hi @Lovakumar please enable this feature on https://dev.azure.com/siapep-france account

[2020-08-07 08:21] junketer commented on #13385
Hi, node version is 10.14.1
[image: image.png]

On Thu, Aug 6, 2020 at 2:33 PM Alexander Prozorov <notifications@github.com>
wrote:

[2020-08-07 08:43] arjgupta commented on #12924
This is an issue when importing the Azure PowerShell modules. Ignoring this error in pester should work.

[2020-08-07 08:43] #12924 closed

[2020-08-07 08:51] arjgupta commented on #13003
@dpadiki this error is coming from the Azure App Service end. You can try to restart the app service to see if the issue is resolved. You can try to use the Azure App Service Manage task to perform a swap slot as well. Please try that.

[2020-08-07 08:53] arjgupta commented on #12987
Closing the issue. @dhheeraj please provide relevant details in the template provided and a description of the issue. Reopen once these details are provided.

[2020-08-07 08:53] #12987 closed

[2020-08-07 08:58] arjgupta commented on #12953
Currently the task tries to identify public ip for all vm's in a resource group. can you deploy the VM to a separate rg and try to copy and see if that works.

[2020-08-07 12:29] junketer commented on #13385
Hi, I created a new agent on my laptop and it's Node.js version is 10.14.1 and the SSH task ran fine on that agent.
So suspect something else on the windows server where it is failing is the issue here

[2020-08-07 13:19] alexander-prozorov commented on #13385
Thank you. Could you please also provide the complete pipeline log from Windows Server 2008 agent?

[2020-08-07 13:50] StickNitro opened #13400 "kubectl apply inine configuration using secrets"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-08-07 14:10] junketer commented on #13385
[ReleaseLogs_3329.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5041866/ReleaseLogs_3329.zip)

[2020-08-08 02:07] lostmsu commented on #7160
@edgarrs the workaround in the second post actually works. The problem is that **user interface** for creating a .NET Core CLI `push` task permits you to select a service connection, that was established with an API key.

The proper fix would be to:
1. In the .NET Core CLI push task UI show an error when unsupported connection is picked.
2. Add the docs link you provided to the UI.
3. Add a field

[2020-08-08 02:10] andrewdmoreno commented on #10057
Not sure if it was the right way to solve the problem, but I submitted a PR to add tool install as a command on the DotNetCoreCLI task with functionality similar to how the restore command words (I.E. selecting a feed to use). Worked like a charm when I tested so let's see what happens.

[2020-08-08 04:06] herenhuang commented on #12401
Hey folks, sorry for the delay here. We have a few suggestions:

1) Add the new [npm authenticate task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/npm-authenticate?view=azure-devops) that we recommend using moving forward
2) Run a script to 'npm install newman'
3) Run a script to "**sudo** npm install -g newman" [may need an OS constraint on the task]

Let us know how it

[2020-08-08 04:06] #12401 closed

[2020-08-08 04:10] herenhuang commented on #12436
Hey there, the NugetCommand is quite ~bloated~ so we suggest you use the new [NugetAuthenticate task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/npm-authenticate?view=azure-devops), and script to isolate using either our task or nuget.exe.

Let us know how it goes, going to close this for now.

[2020-08-08 04:10] #12436 closed

[2020-08-08 04:15] herenhuang commented on #12515
We've made some changes to add retries and logging, to be released in the next few sprints. Please keep an eye out for those. If in a few weeks you all are still experience issues, please provide debug logs when you reopen it so we can do some more debugging.

[2020-08-08 04:15] #12515 closed

[2020-08-08 12:35] dandrejvv commented on #11347
Hi @edgarrs, I see the ticket it closed. What does this mean? That it will not be looked at? Or is it moved to somewhere else?

[2020-08-08 22:41] ElvenSpellmaker commented on #12002
Just ran into this issue too, it's very surprising to not keep permissions, running a `chmod` is a bit of a hack tbh.

[2020-08-09 15:48] glazzari commented on #12593
@ekaterina-tatanova It's a Micronaut app created with `mn create-app com.example.myapp --lang=kotlin --test=kotlintest`. I downgraded gradle from 6.5.1 to 5.6.2 with OpenJDK 8 in my Dockerfile and it's working now. Interesting, because the version with gradle 6.5.1 and OpenJDK 14 works on my laptop.

**gradle.properties**

micronautVersion=2.0.1
kotlinVersion=1.3.72

**build.gradle** - I've just a

[2020-08-09 16:51] #13252 closed

[2020-08-09 18:49] gidich opened #13402 "AzureFunctionApp@1 - missing Additional Deployment Options"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Add missing "Additional Deployment Options" to AzureFunctionApp@1

## Environment
Azure Pipelines

## Issue Description

The documentation notes the ability to change deployment method by using Additional Deployment Options but this does not exist in the UI

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-f

[2020-08-10 05:12] v-binpan commented on #13390
@alohaninja There is an similar scenario when using "**Azure App Service deploy**" task (**Version**: 4.171.0 ) to deploy NodeJs App service, the error message is shown as below:
 ##[debug]Processed: ##vso[telemetry.publish area=TaskDeploymentMethod;feature=AzureWebAppDeployment]{"deploymentMethod":"Zip Deploy"}
 ##[debug]WebConfigParameters is -Handler iisnode -NodeStartFile server.js -appType no

[2020-08-10 06:42] anatolybolshakov commented on #12365
Hi @huaxiawang, I'm closing this issue due to inactivity at the moment, please feel free to reopen it if it is still actual for you

[2020-08-10 06:42] #12365 closed

[2020-08-10 06:44] anatolybolshakov commented on #11582
Hi @idiocache, I'm closing this issue due to inactivity, please feel free to reopen if it is still actual for you

[2020-08-10 06:44] #11582 closed

[2020-08-10 07:31] alexander-smolyakov commented on #13097
@djee-ms, please let us know if this issue still actual

[2020-08-10 07:42] junketer commented on #13385
[ReleaseLogs_3331.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5049539/ReleaseLogs_3331.zip)
Another full set of logs after agent server rebooted

[2020-08-10 09:33] adrian-skybaker commented on #11934
I'm still seeing this problem on `2.171.0`.

[2020-08-10 10:12] djee-ms commented on #13097
I emailed you the logs, the issue didn't change, we're still seeing hundreds of "errors" on the pipeline report tab (which are just npm info messages) even though npm does not report any error and the pipeline succeeds. This means the pipeline report tab shows first 150 errors, and if you scroll down the page enough then shows everything actually went fine and there was no problem.

[2020-08-10 10:12] djee-ms commented on #13097
Also you link doesn't work.

[2020-08-10 10:28] alexander-smolyakov commented on #13097
@djee-ms, I've got your email, thanks for providing logs!

It seems that the link is out of date. So you can find a new build by the [link](https://v-alsmo.visualstudio.com/PowerShellTest/_build/results?buildId=445&view=results).

[2020-08-10 10:35] djee-ms commented on #13097
Your pipeline and packing code are somewhat different from the one I posted originally. In particular we need to get back the name of the npm package so need to capture that, therefore our code is more complex. Maybe reproducing with it instead would show the error in your example. I'd also add at least 1 file in the package so it's not empty. And remove the other tasks that are failing, which are

[2020-08-10 11:08] lindhe commented on #13384
It's a shame that there's no way to pin patch version numbers of the tasks, so one could roll back to avoid this...

[2020-08-10 11:17] anatolybolshakov commented on #12954
Hi @BillyONeal, have you tried to update VMs, do you have any updates?

[2020-08-10 12:03] wiciok opened #13403 "DotNetCoreCLIV2 - pack doesn't work correctly with environmental variables"
## Required Information

**Question, Bug, or Feature?**
Bug
**Enter Task Name**:
DotNetCoreCLIV2

## Environment
Server - Azure Pipelines
Agent - Hosted (2.173.0)

## Issue Description
Dotnet pack _Automatic package versioning_ with _Use an environmental variable_ option doesn't work as expected.

![image](https://user-images.githubusercontent.com/18292081/89777922-e36ec780-db0c-11ea-849e-7ba8b1b5

[2020-08-10 13:51] GreatScott000 commented on #13357
Any update on this?  Still having the same problem.  I have confirmed via the API that the project id in the error message exists.

[2020-08-10 14:39] cristian-eriomenco commented on #10464
I can't see how you can't see any of these cases:
...
csmFile: "./azureploy.json",
overrideParameters:
-templateUri https://$(storageAccountName).blob.core.windows.net/templates/$(templateFile).json?$(sasToken)
...

[2020-08-10 14:50] ShreyasRmsft commented on #13404
@aDisplayName are you using AzureDevOps onprem or AzureDevOps hosted service?
 If onprem please mention which version.

[2020-08-10 19:31] mmulhearn opened #13405 "Pushing nuget gets 401 sporadically"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NuGet Authenticate

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure Pipelines

- Agent - Hosted or Private:
Hosted

    - If using Hosted agent, provide agent queue name:
windows-2019 (also exi

[2020-08-10 20:52] BillyONeal commented on #12954
No, I intend to do that when I go back to the vcpkg team starting next week.

[2020-08-10 21:08] #12572 closed

[2020-08-10 21:12] #12529 closed

[2020-08-10 21:12] herenhuang commented on #12529
@lukeschlather - we're closing this issue. If you have problems with the new Nuget Authenticate task please let us know!

[2020-08-10 21:14] herenhuang commented on #12520
Hey @schultetwin1 - are you able to use NugetAuthenticate and script instead of NugetCommand? That is our recommended path moving forward.

[2020-08-10 21:18] herenhuang commented on #12382
Thanks everyone for the suggestions. @PrakashRajanSakthivel - are you still having issues here?

[2020-08-10 21:22] herenhuang commented on #12309
Hey all, thanks for all the comments and ideas. We suggest using the [NugetAuthenticate ](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops)task and scripting whatever other functionality you need moving forward. Closing this issue for now, let us know if you have any further issues!

[2020-08-10 21:22] #12309 closed

[2020-08-10 21:28] herenhuang commented on #12171
@johnDoe619 - are you still having this problem?

[2020-08-10 21:31] herenhuang commented on #12169
This issue looks like its now resolved. Please feel free to reopen it if you run into more problems!

[2020-08-10 21:31] #12169 closed

[2020-08-10 21:37] herenhuang commented on #12086
Hey @path2webdev - did the response above from the team help?

[2020-08-10 21:39] herenhuang commented on #12006
Hey @tusharb86 - we suggest using the [NugetAuthenticate task ](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops)moving forward, and scripting for whatever else functionality you require. Let us know if you have any issues with it!

[2020-08-10 21:39] #12006 closed

[2020-08-10 21:41] herenhuang commented on #11938
@nickgsoft - are you still having troubles here? Please reopen if it's still an issue.

[2020-08-10 21:41] #11938 closed

[2020-08-10 21:44] herenhuang commented on #11490
Good to know. Closing this for now. Please reopen if more issues pop up!

[2020-08-10 21:44] #11490 closed

[2020-08-10 21:51] herenhuang commented on #12703
Pasting the solution from the DevCommunity link here:

We've pushed a new version of vsts-npm-auth that should mitigate session token expiry problems. Please use vsts-npm-auth v.0.41.0 or greater.

Closing this issue! :)

[2020-08-10 21:51] #12703 closed

[2020-08-10 21:53] herenhuang commented on #12714
@xtianus79 - are you still having any issues after the above suggestion of using PublishPipelineArtifact? We do recommend using Pipeline Artifacts instead of Build Artifacts.

[2020-08-10 21:54] herenhuang commented on #12729
Hey there, is this a reproducible issue? Can you provide some more details please?

[2020-08-10 21:57] herenhuang commented on #12730
Hey @benventive - are you still having this issue? We suggest using the new [NugetAuthenticate task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops) and scripting to cover the other scenarios you need.

[2020-08-10 21:59] herenhuang commented on #12748
Hey @dazinator - are you still having this issue? We suggest using the new [NugetAuthenticate task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops) here if the above workarounds don't work.

[2020-08-10 23:42] aDisplayName commented on #13404
@ShreyasRmsft Azure DevOps hosted service. Sprint 172

[2020-08-11 03:29] ferdinand-valderrama-bcs commented on #10006
@gasparnagy Hi! Sorry for some dumb question, I'm also encountering the same error, you mentioned here that you change the assembly name to include the word test, where did you do that? Was it in the pipeline setting?

[2020-08-11 06:59] gmfx opened #13406 "JavaToolInstaller needs support for Service Connection certificate authentication"
The JavaToolInstaller task only supports a service connection with service principal key and not a certificate when retrieving the binaries from an Azure Storage blob container.

Please consider adding this feature as for our organization and I imagine many other we have a requirement to harden the service principal authentication to only allow certificate authentication.

## Issue Description
To

[2020-08-11 08:09] junketer commented on #13385
Hi any more feedback/progress on this?
regards

[2020-08-11 08:58] bishal-pdMSFT commented on #13397
@dazinator we haven't heard this issue from multiple folks. I would like to hear more feedback before trying to fix this issue. I am keeping the issue open for sometime for more folks to report this.

[2020-08-11 09:12] alexander-prozorov commented on #13385
Hello @junketer,
Thank you for the complete logs. The version of the agent you are using includes only node.js 6. This problem can be solved by updating the agent to its actual state. You can use [this instructions](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser#to-update-self-hosted-agents
)

[2020-08-11 09:42] v-abiss commented on #12913
@kanika1894 I'll look into this issue

[2020-08-11 09:42] junketer commented on #13385
Ok, when i look at the server, I see it has the version I reported installed, so I will talk to our operational engineers about what the agents run as as clearly it's not the same as when I am on it.
Thanks for the steer

[2020-08-11 09:48] junketer commented on #13385
Where do you see that version in the logs?

[2020-08-11 12:06] alexander-prozorov commented on #13385
Agent's version is available at the **Initialize job** step logs:

`Current agent version: '2.155.1'`

Internal agent's software versions can be found in the [externals.sh](https://github.com/microsoft/azure-pipelines-agent/blob/v2.155.1/src/Misc/externals.sh) script in the corresponding project branch

[2020-08-11 13:09] mamutmk5 commented on #11951
Are there any it updates for it?

[2020-08-11 13:28] ShreyasRmsft commented on #13404
@aDisplayName you'd need to use the dedicated input of results folder input field instead of providing it in the otherconsoleoptions input since we do not parse/validate otherconsole options as it is an open ended field and just pass it on to vstest.console.exe.

![image](https://user-images.githubusercontent.com/25194518/89902916-a8e85600-dc04-11ea-9d36-7c1ec95d55e6.png)

[2020-08-11 13:31] ShreyasRmsft commented on #13390
Please provide entire logs zip obtained after setting system.debug = true and re-running the pipeline with this issue.

[2020-08-11 13:55] junketer commented on #13385
OK, so the issue isn't node per se, but an old agent version?
so i need to update the agent on the server and that should resolve?
Sorry, but that wasn't obvious in the comments made.
Regards

[2020-08-11 14:09] junketer commented on #13385
Thank you I re-read your comment and it makes sense to me now.
Have updated the agents and pipeline is good again
Many thanks for your support!

[2020-08-11 14:09] #13385 closed

[2020-08-11 16:08] adamsclark commented on #11191
Is there any update on this. I am getting the same behavior when using DevOps Release Pipelines

[2020-08-11 17:15] jcuzzi commented on #13361
@bishal-pdMSFT I only had this issue for a single day. It started working reliably without any changes in the pipeline the next day - I haven't had an issue since.

[2020-08-11 17:24] samgengiti opened #13408 "Getting Error " Microsoft.VisualStudio.TestService.VstestAdapter.TestsNotFoundException" while executing TestCases"
Getting below error while executing testcases in Microsoft Azure.
[ReleaseLogs_57707.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5058392/ReleaseLogs_57707.zip)

Downloading artifacts failed: Microsoft.VisualStudio.Services.Agent.Worker.Release.Artifacts.ArtifactDirectoryCreationFailedException: Failed to create Release artifact directory 'C:\agent\_work\r1\a'. ---> System.Unautho

[2020-08-11 17:49] bishal-pdMSFT commented on #13361
That's good to hear. I am closing the issue. Please reactivate if needed.

[2020-08-11 17:49] #13361 closed

[2020-08-11 18:53] gasparnagy commented on #10006
@ferdinand-valderrama-bcs By changing the assembly name I meant changing the project properties of the test project in Visual Studio. But for this particular issue my comment [here](https://github.com/microsoft/azure-pipelines-tasks/issues/10006#issuecomment-479011625) was a much easier solution.

[2020-08-11 19:06] aDisplayName commented on #13404
@ShreyasRmsft Any idea why it was working when using VsTest before 16.7.0?

[2020-08-11 20:21] aDisplayName commented on #13404
@Sanan07 , Will it be possible why the change of VsTest version caused the behavior change in pipeline task?

@ShreyasRmsft Sorry, but your solution doesn't work for us.

Consider the following script, only the second vstest result is available for "Publish Test Results" task. Apparently the first vstest result was cleared up by ```resultsFolder: '$(Common.TestResultsDirectory)'``` option in the s

[2020-08-11 21:26] adrian-skybaker commented on #11934
@navin22 I don't have permission to reopen.

[2020-08-11 22:10] totalgit74 opened #13409 "GitHub Release on Azure Devops Server not compatible with GitHub Enterprise"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: GitHub Release

## Environment
- Azure DevOps Server  Version Dev17.M153.5
- Agent - Private:
    - Version 2.153.1 on Windows Server 2016 Standard 10.0.14393

## Issue Description

When attempting to use the GitHub Release task in Azure DevOps on premise installation with on-premise GitHub Enterprise I get the following error

`

[2020-08-12 00:27] oscarelo commented on #11191
After many tries, I was able to make it work!

In the Additional Arguments for the Release Pipeline put:
/p:BlockOnPossibleDataLoss=false /p:DropObjectsNotInSource=true

![image](https://user-images.githubusercontent.com/65922847/89959632-835a4d00-dc02-11ea-907d-c24a4b5cea31.png)

If you still are getting the error, you need to be sure that all the referenced databases, tables, columns, etc, exist

[2020-08-12 00:59] robearlam commented on #12470
Has this fix been rolled out yet as I'm still seeing this error on our builds?

[2020-08-12 01:20] PraveenKalavai opened #13410 "Updated a release variable in the pipeline with API call. The updated value is not available in the subsequent tasks/jobs/stages of release."
**Question**
**Enter Task Name**: PowerShell Task

- Agent - Private:
    Private : Windows - VS2017/VS2019

## Issue Description

**_To start with I have 3 pipeline variables_**
![image](https://user-images.githubusercontent.com/36277675/89964016-2ae17a80-dc17-11ea-9f35-b02018e68ee6.png)

- **_I allowed the agent to access oAuth token_**
- **_I set the pipeline variables to be settable during rel

[2020-08-12 02:31] PraveenKalavai commented on #13410
Figured it out!

I was updating the release definition with the below endpoint. This was updating the release definition, and the updated variables could only be accessed in subsequent releases.
`https://vsrm.dev.azure.com/{Org}/{Project}/_apis/Release/definitions/{definitionId?api-version=5.0`

What I needed was the below endpoint, where I could update the current release and use the updated vari

[2020-08-12 02:31] #13410 closed

[2020-08-12 03:10] barrcodes commented on #10948
@madhurig @leantk How did #10947 go stale? These would be very appreciated features. xcpretty is nearly worthless if we can't supply additional arguments.

It seems more and more these days that to get the functionality I need out of Azure Pipelines, I need to write everything as command line scripts.

[2020-08-12 04:24] ds-ms commented on #12470
Yes, this fix has been rolled out; what are the errors you're seeing?

[2020-08-12 04:24] ds-ms commented on #13276
@rafagsiqueira were you able to figure out your build issues?

[2020-08-12 04:38] robearlam commented on #12470
Same warning as in the original post, when I build my images using the following task

[code]

I get this warning thrown for each tag, for image built
`##[warning]No data was written into the file d:\a\_temp\task_outputs\XXXX.log`

[2020-08-12 04:45] ds-ms commented on #13400
What was the final applied configuration?
If it was $(CosmosDb) that means it was unable to find the variable from the context. These are case sensitive, could you verify if the values exists in your variables section.

[2020-08-12 05:39] N-Usha commented on #13360
Thanks for reaching out @kanadaj. We acknowledge that this is would be a valuable addition to the Azure Pipelines' offerings to manage & deploy docker containers and we will surely consider this for future investments in the area. However we do not have any timelines to commit at this time given that we prioritize our investments by impact and severity for a broad set of customers; the impact of t

[2020-08-12 07:27] justintian opened #13411 "install jdk task"
log is:, and java_home is not correct as I configed (C:\hostedtoolcache\windows\jdk8)
Retrieving the JDK from local path.
##[warning]Can't find loc string for key: ExtractingArchiveToPath
ExtractingArchiveToPath C:\hostedtoolcache\windows\jdk8\JAVA_HOME_8_x64_jdk1.8.0_231_zip
Creating destination folder: C:\hostedtoolcache\windows\jdk8\JAVA_HOME_8_x64_jdk1.8.0_231_zip
Extracting file: d:\a_temp\au

[2020-08-12 07:29] justintian commented on #13411
log is:, and java_home is not correct as I configed (C:\hostedtoolcache\windows\jdk8)
Retrieving the JDK from local path.
##[warning]Can\'t find loc string for key: ExtractingArchiveToPath
ExtractingArchiveToPath C:\hostedtoolcache\windows\jdk8\JAVA_HOME_8_x64_jdk1.8.0_231_zip
Creating destination folder: C:\hostedtoolcache\windows\jdk8\JAVA_HOME_8_x64_jdk1.8.0_231_zip
Extracting file: d:\a\_temp\

[2020-08-12 07:45] ShreyasRmsft commented on #13404
@aDisplayName Couple of points, the vstest task itself publishes the testresults for you. By adding another publish you are creating duplicate test runs/results on the server that will show up in the tests UI.

Today the vstest task instance always cleans up the test results folder at the beginning of a run to avoid conflicts. You can specify  $(Common.TestResultsDirectory)/VstestTaskInstance1, $(

[2020-08-12 07:45] oliverchristen opened #13412 "Azure IoT Edge V2 - Deployment is not fetched by device"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureIoTEdgeV2

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure pipelines

- Agent - Hosted or Private:
    Hosted agent

## Issue Description

I'm not sure, whether this is a bug in the pipeline task or one in the IoT Hub. But I don't know where to report bugs in IoT Hub, so I'm reporting it here.
When the ac

[2020-08-12 08:09] #13360 closed

[2020-08-12 08:14] ds-ms commented on #12470
What's the version of the dockerCompose task in your logs?

[2020-08-12 09:42] vivekbm1 commented on #12204
@Turnerj - Can you please share the format of the address that worked for you? I seem to be having these issues persistently and I am unable to make any progress.

[2020-08-12 10:32] radujipa commented on #11451
Has there been any progress here and timeline to fix?

I am encountering the same issue where '/xf' is not being applied.

[2020-08-12 10:37] Gitrathirad commented on #11056
@gykuma - Would installing the task version 0.142.2. on TFS 2018 after removing task (0.131.2) break anything in future

[2020-08-12 11:24] neothoms opened #13413 "AzurePowerShell@5 does not log the command line anymore"
## Environment
Azure Devops
- Agent - Hosted windows-2019

## Issue Description

With AzurePowerShell@4 the command line of the "script file path" executed was logged . Also all parameters and their values were logged after the script command.

With AzurePowerShell@5 nothing is logged at all.
This make our task very difficult to understand wich command failed and for what parameters.
I have no tim

[2020-08-12 12:09] Gerrit-K commented on #11869
I'm hitting the exact same error as the OP. I'm using a similar (YAML-only) pipeline with a `- deployment:` job and an `environment:`. Similarly to @VOVELEE I'm only experiencing this since I've changed the job to a deployment job and used an environment. One peculiar thing though is: I'm having this stage in a template which is used by multiple pipelines and one works while another one doesn't (I

[2020-08-12 12:37] Turnerj commented on #12204
Not sure if this helps @vivekbm1 - this screenshot is the revision history for my release pipeline. Left before, right after - the after is what I had where it started working. (Note: I also went up in FTP task version from v1 to v2)

![image](https://user-images.githubusercontent.com/904226/90015158-5e8bd580-dce7-11ea-8a56-8949fc775bd4.png)

I can't show you what it looks like via the UI as I've

[2020-08-12 13:40] #13370 closed

[2020-08-12 13:40] AmittaiShapira commented on #13370
Internal network issue from our side

[2020-08-12 17:31] thechrisjohnson opened #13415 "Fixup issue with output parameters from runner"
When working with composite actions, the runner is outputing incorrect data.

[2020-08-12 17:31] thechrisjohnson commented on #13415
Sorry, I had the wrong repo open! Closing.

[2020-08-12 17:31] #13415 closed

[2020-08-12 17:42] thechrisjohnson opened #13417 "Fix in proper runner output during composite actions"
Will insert more info when found

[2020-08-12 17:43] thechrisjohnson commented on #13417
Ok, I did this twice now. I'm sorry. I'm just going to close this repo's tab.

[2020-08-12 17:43] #13417 closed

[2020-08-12 18:21] aykevl opened #13418 "Bad symlinks are not allowed in the cache directory"
## Required Information

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: Cache@2

## Environment
- Server - Azure Pipelines

You can see it here for example: https://dev.azure.com/tinygo/tinygo/_build/results?buildId=1954&view=logs&j=ca395085-040a-526b-2ce8-bdc85f692774&t=bcb59787-fffd-4f14-b766-2e58e1ea8247

- Agent - Hosted

## Issue Description

Full output:

[code]

The error

[2020-08-12 19:17] rafagsiqueira commented on #13276
@ds-ms no I wasn't. But as you suggested, I went with a workaround instead.

[2020-08-12 19:17] #13276 closed

[2020-08-12 20:00] jklaus opened #13419 "UseDotNet@2 not compatible with windows-2019 pool agents currently"
Currently UseDotNet@2 is downloading 3.1.401 which has a dependency on MSBuild 16.7, yet the agents only have 16.6.X.

[2020-08-12 22:24] dazinator commented on #12748
Hi @herenhuang
I havent had a chance to try the new task yet and am still using the workarounds above. I will try the new task at the earliest opportunity and report back here if I have any issues. Thanks

[2020-08-13 00:59] aDisplayName commented on #13404
@ShreyasRmsft @Sanan07 Thanks.

It is clear to me now. The conclusion is that there is a behavior changes from VsTest 16.6.1 to 16.7.0 that regarding test result publishing when running within VsTest Azure Pipeline Task.

Regards

[2020-08-13 03:44] robearlam commented on #12470
The log file for that task opens with....

[code]

Is that what you were referring to?

[2020-08-13 05:10] Gerrit-K opened #13420 "CacheV2: Unable to find pipeline caching scopes."
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug (essentially a reopen of #11869)

**Enter Task Name**: CacheV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted
    - ubuntu-latest and Ubuntu16, agent version 2.173.0

## Issue Description
Same as #11869: when using the Cache task, I get the error "Unable to find pipeline caching scopes." (see logs below).

The pipelin

[2020-08-13 06:19] BillyONeal commented on #12954
https://github.com/microsoft/vcpkg/pull/12884/ should turn on pwsh and we'll see if we get stuck again

[2020-08-13 07:45] mudit000 commented on #12067
i am also facing same issue

2020-08-13T07:33:09.7295185Z [INFO] ------------------------------------------------------------------------
2020-08-13T07:33:09.7799700Z Reading code coverage summary from '/home/vsts/work/1/s/<>/CCReport43F6D5EF/jacoco.xml'
2020-08-13T07:33:10.3093538Z ##[error]Build failed.

[2020-08-13 08:25] rohit-batra commented on #11951
@mamutmk5  Can you please explain a bit more, if possible with examples ? I am afraid i am not able to understand this completely.  cc  @shashban

[2020-08-13 08:33] lpasquali commented on #13383
I share this same issue, and in my case "http://" is explicitly written in the Service connection configuration

[2020-08-13 08:53] mamutmk5 commented on #11951
Azure Key Vault was like:
host_enviorment_password_stage_1
host_enviorment_password_stage_2
....
host_enviorment_password_stage_n

The pland task group hade a paramter stage with the vaules stage_1 to stage_n.
In the task grup where pland a task who say get the kay for host_enviorment_password_${stage} from Azure Key Vault to the Stage Variable enviorment_password.
And then use the Stage Variable

[2020-08-13 08:53] ds-ms commented on #13383
You may want to add a script in your pipeline to solve this.
Documentation: https://docs.docker.com/registry/insecure/#deploy-a-plain-http-registry

Some inline script like:
[code]

[2020-08-13 09:06] #11089 closed

[2020-08-13 10:15] vaclavbroz opened #13421 "Helm tasks runs kubectl cluster-info for which it may not have sufficient priviledges"
Now the helm task will run kubectl cluster-info which will result in a forbidden warning because cluster-info may not be accessible for the given service connection, e.g. Error from server (Forbidden): services is forbidden: User "system:serviceaccount:xxx-sa:xxx cannot list resource "services" in API group "" in the namespace "kube-system"

_Originally posted by @vaclavbroz in https://github.com/

[2020-08-13 10:17] vaclavbroz commented on #13421
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/HelmDeployV0/src/helm.ts#L173

[2020-08-13 10:18] shigupt202 commented on #13421
@vaclavbroz Is this affecting the status of the task (success/failure) or is it just a warning?

[2020-08-13 10:22] vaclavbroz commented on #13421
So far no, but that can be related to the fact that the Helm task apparently redirects stderr to stdout (did not verify). So it's a ticking bomb maybe.

[2020-08-13 10:27] shigupt202 commented on #13421
We are sorry for the inconvenience, but this step was added in the task to collect some information which would be used to enhance overall experience for the customers while using these tasks. Thanks for pointing out this issue. I'll get in touch with the right people to decide what needs to be done about it.

[2020-08-13 10:32] vaclav-dvorak commented on #13421
Hi
This is happening to us too. It seems the complaining starts this morning (13th Aug). Was there some release?
From code it seems that `kubectl cluster-info` was executed previously on different place and maybe it never run for us before today.

[2020-08-13 10:41] RajashriVadakeri commented on #13357
I too have the same issue as mentioned above.
Same error - Error: VS800075: The project with id 'vstfs:///Classification/TeamProject/xxxxxxxxxxxxxxxxxxxxxxxxx' does not exist, or you do not have permission to access it.
Anything on this yet?

[2020-08-13 11:16] shigupt202 commented on #13421
@vaclav-dvorak This code was not reachable earlier due to a code bug, which was rectified recently. But looks like, its creating some new issues now. (Although that  warning is an expected behavior, because not all the service principals would have required permissions for running that command). If it's not affecting the state of the task, please continue to use the pipelines the way you were usin

[2020-08-13 11:43] vaclav-dvorak commented on #13421
@shigupt202 pipeline is working fine (well except for the warning). Just wanted to add my two cents :)

[2020-08-13 12:01] dmccaffery commented on #13201
I am able to download via `DownloadPipelineArtifact@2` but it results in this nasty warning:

[code]

The build artifacts api has been deprecated in favour of the pipeline artifacts api, from what the documentation suggests.

[2020-08-13 12:28] shigupt202 commented on #13421
Discussed this with the team. Since the issue is not affecting any of the customer scenarios and is only appearing in the logs to inform that the service account is not having enough permissions to perform that operation, I think we can continue with it for now.
@vaclavbroz This is a kubectl command, and not a helm command. So, we don't need to worry about it getting written in stderr or stdout. C

[2020-08-13 12:28] #13421 closed

[2020-08-13 12:47] vaclavbroz commented on #13421
Fine for me.

Once the kubectl command run within the HelmDeploy task will somehow start putting the warning in stderr the pipeline task HelmDeploy will start being marked as failed. Given the fact you did not discover the issue with logging before releasing this pull-request I guess you do not have any automated integration tests covering this scenario. From that I understand there is a non-null

[2020-08-13 13:29] anatolybolshakov commented on #13411
Hi @justintian, thanks for heads up! We fixed this issue and going to roll out changes with next release

[2020-08-13 13:32] VeerabhadramRagi commented on #11191
Hi,
Could you please look into the below issue:
Facing the below issue in Release pipeline (it is defined for Azure SQL DB):
_**Warning SQL72012: The object [data_0] exists in the target, but it will not be dropped even though you selected the 'Generate drop statements for objects that are in the target database but that are not in the source' check box**_
Please help me to fix it.

Thanks

[2020-08-13 14:05] #13332 closed

[2020-08-13 15:45] johnterickson commented on #13420
`Pipeline Caching` uses cache namespaces scoped to specific branches - details here: https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#cache-isolation-and-security.

@vtbassmatt to check me on this, but a `deployment` is tied to an artifact - not a source code branch. This is why no scopes are found.

Generally speaking, the flow is that the build stages cre

[2020-08-13 19:23] jmyersmsft commented on #12600
Did some testing, and npm itself does not support UTF-16-encoded or BOM-prefixed files, so I'm going to close this issue as the task expects the .npmrc it's editing to be valid input to npm.

An example (Windows PowerShell defaults, which are UTF-16LE with BOM):
[code]

Note that despite sort of _appearing_ almost correctly, the keys have nulls between the characters too (you can see this if you t

[2020-08-13 19:23] #12600 closed

[2020-08-13 19:29] oseduardo commented on #13342
Having the same problem.....

[2020-08-13 20:53] aravindmungara opened #13423 "Microsoft.TeamFoundation.DistributedTask.Task.TestExecution.NoTestPointsException: No automated test cases were found matching the specified test plan, test suites, test configuration. Ensure that right values were specified and try again"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-08-13 21:02] aravindmungara commented on #13423
I am working on POC to execute Automation test case on Azure Develops.
I created static suite with Automated test. I created a release with VS test task  pointing my automation drop location. when I am running  release i am getting following exception . I am getting following exception when i am running against a test plan

"Microsoft.TeamFoundation.DistributedTask.Task.TestExecution.NoTestPointsE

[2020-08-13 21:06] #11075 closed

[2020-08-14 01:17] arjgupta commented on #13320
@gbrueckl this issue happens because there is a bug in Windows PowerShell that causes the module Az to not be recognized. You will need to use the newer variant of PowerShell, PowerShell core in order to bypass this issue. Please select the option to use PowerShell core in the task inputs. If you are using Private agent, then you will need to make sure to install PowerShell core on the agent machi

[2020-08-14 01:17] #13320 closed

[2020-08-14 01:23] arjgupta commented on #13316
@luiarhs please refer this: https://docs.microsoft.com/en-us/azure/app-service/configure-common#add-or-edit for app setting naming conventions involving __ and :

[2020-08-14 01:27] arjgupta commented on #13246
@soccerjoshj07 thanks for pointing this out. If you would like to raise PR, please go ahead, and reference the PR in this issue.

[2020-08-14 05:10] 20shivangi commented on #13328
Closing it as the issue has been fixed, feel free to re-open if face any issue.

[2020-08-14 05:10] #13328 closed

[2020-08-14 05:11] arjgupta commented on #13003
@dpadiki are you still facing this issue ?

[2020-08-14 05:16] arjgupta commented on #13341
@syedwajeehbukhari the File Transform task does not operate on MSIX package. You need to provide path to json or xml configuration files for the task to be able to work on.

[2020-08-14 05:16] #13341 closed

[2020-08-14 05:20] arjgupta commented on #12988
Closing this issue. Please reopen if you are still facing this issue.

[2020-08-14 05:20] #12988 closed

[2020-08-14 06:02] tauhid621 commented on #13321
Closing this as this is the expected behaviour. A workaround is provided in above comment.

[2020-08-14 06:02] #13321 closed

[2020-08-14 06:16] Gerrit-K commented on #13420
Thanks for the swift response!

I'm still a bit puzzled about your notes on branches, because 1) all of the questioned pipelines belong to one monorepo (=same branch) and 2) some of them are working while others aren't. If the cache namespaces are scoped to branches and `deployment` jobs are not tied to them, I would've expected that either _all_ or _none_ fail 🤔  especially because they all use t

[2020-08-14 06:45] gbrueckl commented on #13320
actually I thought it does not work as the task loads the module from a custom location during execution
`##[command]Import-Module -Name C:\Modules\azurerm_6.7.0\AzureRM\6.7.0\AzureRM.psd1 -Global`
and as PowerShell does not know about the custom location, the #requires fails
I do not know how PowerShell core would work different here?!

I worked around this by running a another PowerShell task be

[2020-08-14 06:47] oocx opened #13424 "docker@2 push: bad performance when pushing images"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: docker@2 push: bad performance when pushing images

## Environment
- Server - Azure Pipelines or TFS on-premises?
TFS on-premise - Azure DevOps Server Version Dev17.M153.5

- Agent - Hosted or Private:

private
agent version: 2.164.8
OS: linux x64

## Issue Description

When I use the Docker@2 task to push docker images, it seems lik

[2020-08-14 08:29] anatolybolshakov opened #13425 "[CopyFilesOverSSH] On Windows as a target: failure if cleanTargetFolder=true and folder doesn't exist"
#13264  Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: JavaToolInstaller

## Environment
Windows environment

- Agent - Hosted or Private:
Any

## Issue Description

Actual: if cleanTargetFolder=true and target folder doesn't exist - there's an error
Expected: task sh

[2020-08-14 13:57] vtbassmatt commented on #13420
(I believe @johnterickson is right about `deployment` not being tied to a triggering branch; @ashokirla or @shashban might be able to say more about how that context flows around in a unified pipeline where the `trigger` was a branch but one of the jobs is a `deployment`.)

[2020-08-14 14:27] vvoinov commented on #13124
Faced same issue and even following the workaround and documentation did not work for me - very likely am missing smth so have to start from scratch. I appreciate the effort of MS folks and understand that maintaining documentation and keep it in sync with the code implementation details is a significant challenge however it just looks "strange" from the end-user perspective - the service looks li

[2020-08-14 15:14] pellebjerkestrand opened #13427 "Azure Functions Misconfigures Slot on Deployment"
**Type**: Bug
**Task**: Azure Functions
**Environment**: Azure Pipelines
**Agent**: Hosted, version 2.173.0

## Issue Description

The slot being deployed to is using runtime version 3.0.14120.0 on Linux on EP1. It's not using Docker at all.

When deploying to a slot, the task updates _App Service Configuration settings_ with `{"linuxFxVersion":"DOCKER|microsoft/azure-functions-node8:2.0","appComm

[2020-08-14 15:34] anti-matter commented on #13361
This is still occurring randomly in our build pipeline and this issue should be re-opened.

[2020-08-14 16:02] jozefizso commented on #13361
Yes, it just randomly happened on our private pipeline build. Running the build again fixed the issue.

Build machines should have identical software so this does not break randomly.

[2020-08-14 17:23] hdiass commented on #11914
Nice one!

[2020-08-14 17:30] satbai commented on #13405
You can increase the nuget handshake timeout which defaults to 5 seconds. You can do this by setting the following build variables:
NUGET_PLUGIN_HANDSHAKE_TIMEOUT_IN_SECONDS
NUGET_PLUGIN_REQUEST_TIMEOUT_IN_SECONDS

[2020-08-14 18:06] anti-matter commented on #13361
How do we get this issue re-opened? It's happening often enough that multiple builds fail in a row.

[2020-08-14 19:32] anti-matter opened #13428 "'AzureSignTool.exe' is not recognized as an internal or external command"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Issue Description

[Previous issue](https://github.com/microsoft/azure-pipelines-tasks/issues/13361#issue-666613881) was closed, but is still a major problem:

We are hitting this 100% in our enviro

[2020-08-15 03:07] #11031 closed

[2020-08-15 03:39] avivanoff commented on #12763
@damccorm, any ideas if this might be implemented anytime soon>

[2020-08-15 04:57] soccerjoshj07 commented on #13246
@arjgupta No problem. Just created PR #13430 with the updated documentation and an example. Let me know if there are any tweaks that are needed.  Thanks!

[2020-08-15 07:40] alexander-prozorov commented on #13334
Hello @bakerhillpins,
Thank you for the complete description and logs. Could you please also confirm if you use a full path without wildcards as Project value in both cases?

[2020-08-15 09:06] SamYuan1990 commented on #7987
Hi guys,

I am also blocked by `go get -u `

I want to use `go get -u` to install some cli for end to end testing of my project,
I forked the project and adding an azp which make sure the project itself is good.
but when I use `go get -u`
[code]

Hope `go get -u ` issue can be fixed.

[2020-08-15 10:16] pellebjerkestrand commented on #13427
The task's UI looks like this

![image](https://user-images.githubusercontent.com/2156573/90310321-d11bd180-def0-11ea-94e6-4c2f2524258b.png)

The task's YAML has some extra info

[code]

Particularly interesting is the line `runtimeStack: 'DOCKER|microsoft/azure-functions-node8:2.0'`, which seems to be the problem.

[2020-08-16 01:38] jpmoura commented on #5472
Still an issue here using MSbuild for a .NET Framework 4.7.1 application.

It occours sometimes after the `Publish Quality Gate Result` task with SonarCloud plugin in a task to copy the artifacts originated in build step:

`##[error]Unhandled: Failed rmRF: EPERM: operation not permitted, unlink 'D:\a\1\a\.sqAnalysis'`

[2020-08-16 08:08] kanakaraju043 commented on #8811
Hello ,
Do we need to create exportOptions.plist file manually ?

[2020-08-16 13:22] pellebjerkestrand commented on #13427
To work around this, I moved everything we had in our release pipelines to a YAML pipeline.

The deployment task looks like this:

[code]

This seems to work without any issues, even though [the task's documentation](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFunctionAppV1) states that `runtimeStack`, `startUpCommand`, `appSettings`, and `configurationStrings` are re

[2020-08-16 21:57] jmalak commented on #11082
Wasting of time to write here anything.

[2020-08-17 00:21] kemats opened #13432 "FailOnStandardError does not work for AzurePowerShell@5 and AzurePowerShell@4 with PowerShell Core."
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShell@5, AzurePowerShell@4 (only when use PowerShell Core)

## Environment
- Server - Azure Pipelines

- Agent - Hosted

    - If using Hosted agent, provide agent queue name: windows-latest

## Issue Description

FailOnStandardError does not work for AzurePowerShell@5 and AzurePowerShell@4 with Pow

[2020-08-17 04:28] timmkrause commented on #10399
@ReneSchumacher Did you receive a response from the product group regarding the overwrite during an update.

[2020-08-17 06:48] staywen56 opened #13434 "ExtractFiles incorrectly finds archives recursively"
## Required Information

*Type*: Bug

*Task Name*: ExtractFiles

## Environment

*Server*: Azure Pipelines
- Account name: wencorepo
- Team project name: Dependencies
- Build number: 34933
- Pipeline: libzmq (definitionId=20)

From log:
- Agent name: 'Azure Pipelines 2'
- Agent machine name: 'fv-az246'
- Current agent version: '2.173.0'
- Operating System: Ubuntu 18.04.4 LTS
- Virtual Environment:

[2020-08-17 08:05] keerthinathganjam commented on #9893
Thanks , was facing the same issue, after changing zipalign: true started working

[2020-08-17 09:12] egor-bryzgalov commented on #12763
Hi, @avivanoff we triaged this issue and planning to start working on it in the near future.

[2020-08-17 09:14] anatolybolshakov commented on #13311
Hi @karsten-kuepper, changes were already rolled out - could you please verify that it works for you?

[2020-08-17 09:16] #13311 closed

[2020-08-17 09:17] anatolybolshakov commented on #12499
Hi @tlbonds2, @Xoib, @albankimor, we fix for this issue was already rolled out - please feel free to raise a new issue - if there are still any problems

[2020-08-17 11:37] bakerhillpins commented on #13334
@alexander-prozorov  I'm sorry, I don't understand what you're asking me to confirm. Can you please be explicit about the changes you are looking to test. Thanks.

[2020-08-17 11:49] abrj opened #13439 "PublishSymbols results in 'Encountered Win32 error '203' from method 'SymEnumSourceFiles'"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-08-17 12:50] egor-bryzgalov commented on #12543
Closing this issue since the fix is deployed. Feel free to reopen it.

[2020-08-17 12:50] #12543 closed

[2020-08-17 16:40] alexander-smolyakov commented on #13097
@djee-ms, I modified my pipeline but didn't manage to reproduce the described behavior. You can find a pipeline by the [link](https://dev.azure.com/v-alsmo/PowerShellTest/_build/results?buildId=482&view=results).

As I can see from the provided logs the "Publish" pipeline was executed on the private agent, could you please try to execute it on the MS-hosted agent and see if the issue still appears

[2020-08-17 19:47] ThadHouse commented on #13322
Another ping for an update. This is still an issue causing pain for development.

[2020-08-17 20:01] hoffmanntravis opened #13441 "JSON substitution is case sensitive by default, and also does not log missed keys that match apart from case"
This is somewhat similar to the issue below, but my point is more of a difference in design opinion than a bug:
https://github.com/microsoft/azure-pipelines-tasks/issues/6656

Relevant code to the best of my knowledge, or in the general vicinity:
https://github.com/microsoft/azure-pipelines-tasks/blob/a6f349070b6ed807a134974af44e49cf262b8037/Tasks/Common/webdeployment-common-v2/jsonvariablesubstit

[2020-08-17 23:05] ReneSchumacher commented on #10399
@timmkrause Sorry for not updating my comment properly. The PG was unsure so I ran my own tests and can confirm that future updates are indeed applied. I'll also update my original comment so all information is in one place.

[2020-08-18 02:40] schultetwin1 commented on #12520
Hi @herenhuang, definitely! Currently we use NugetAuthenticate and a script instead of NugetCommand.

I had this issue open to point out that if you run NugetAuthenticate to install the Azure Credential Provider plugin, and then use NugetCommand, NugetCommand will not use that plugin.

Up to you guys how you want to proceed.

[2020-08-18 05:41] ds-ms commented on #13408
Is this a self hosted agent? If it is, you may need to ensure correct permissions for the relevant folders.

[2020-08-18 06:35] JoeyCor commented on #5472
I still have the same issue here for a .Net 4.7.1 web application.

[2020-08-18 09:42] Josh-01 commented on #13326
Hi @sebastienros ,

Like you mentioned correctly, the 'connectedServiceName' field is not of string type, and that prevents it from parsing parameters like a string would do.
The value has to be selected from a list of available connections in the project,  which are of type connectedService:AzureServiceBus - only the displayed value is a string.
This is why currently we don't have a way to pass a

[2020-08-18 09:43] #12900 closed

[2020-08-18 09:48] alexander-prozorov commented on #13334
@bakerhillpins Sorry, the question was about input values for the project property. They are different in the logs:

[code]

It turned out that the problem is with logger masking. It happens when the content of one of the secrets in the variable group is “Hylink.Android” so it is replaced with "***" everywhere in the logs.

@leantk Since this isn't related to the tasks and task-lib, where should t

[2020-08-18 10:52] anraghun commented on #12877
@bada09089 Thanks for your inputs. Unfortunately, we cannot handle an exit-code specifically within the task especially since helm diff is a plugin. Taking an array of status codes which are exempted from failure seems like a doable solution but again, it is very specific to the helm diff scenario. We will wait and see if more customers require this and add it accordingly.

[2020-08-18 10:55] #12877 closed

[2020-08-18 11:11] PrakashRajanSakthivel commented on #12382
we were able to make that work by using this command: `vsts-npm-auth -config .npmrc -TargetConfig ~/.npmrc` This actually creates the token in the workspace then we were utilizing this at the userlevel token.

I will try to do the above approach and check.

[2020-08-18 11:21] shoop opened #13442 "Syntax error in JSON for Azure IoT Edge "Push module images""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-08-18 11:26] bakerhillpins commented on #13334
@alexander-prozorov   To answer the original question: The input values were not changed between runs.

But it seems you have answered that yourself and you have discovered what the problem is.

[2020-08-18 12:42] Ganeshrockz commented on #13098
@wow-anton This question is more aligned with the working of Server Tasks in Azure Devops.The `Release.RequestedFor` returns just the username of the person who triggered the release in my case. Are you explicitly overriding the environment variable in this case?Also we don't support escaping of characters within a substituted variable.As a workaround you may try something like this in the request

[2020-08-18 13:46] leantk commented on #13334
This is by design unfortunately. When secret variables are used, we scan the logs for every occurrence of the secret and replace the string with *** so we aren't printing secrets out in the logs. We have no way to tell when a string in a log is referencing a secret or it's just a string. For example, if your secret variable is "the" then every time "the" appears in the logs, it will be replaced wi

[2020-08-18 14:09] jozefizso commented on #13428
This started to happen in our private Pipelines too.

[2020-08-18 14:31] bakerhillpins commented on #13334
@leantk
Your description was a bit unclear to me and I had to read it several times to understand. However, I understand now... The **values** of secret variables are scrubbed from the log output using a simple string search algo.

Thus all pipeline output is subject to a search and replace operation, where any linked secret variable's **value** is replaced with "***" in the output.

In this case

[2020-08-18 14:45] leantk commented on #13334
Yep that's a good suggestion on the docs. I'll take note of making an update. I'm going to close this out then but if you have more questions, please feel free to comment

[2020-08-18 14:45] #13334 closed

[2020-08-18 15:54] FilBot3 opened #13443 "UseDotNet@2 Task deprecated in favor of NuGet Task?"
# UseDotNet@2 task deprecated in favor of NuGet Task

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: `UseDotNet@2`

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TF

[2020-08-18 15:54] FilBot3 commented on #13443
Similar to https://github.com/Microsoft/azure-pipelines-tasks/issues/8702 which was closed prematurely due to lack of response from OP.

[2020-08-18 20:27] carterkraft commented on #11658
+1

[2020-08-18 20:43] rokonec commented on #12102
@leantk We would like to escalate priority of this issue.

Recently it got worse. With increasing activity and builds rate related to .NET 5 activity it starts to be quite bothersome for [dotnet org](https://github.com/dotnet).

See #dotnet/core-eng#10458

[2020-08-18 21:04] leantk commented on #12102
@rokonec I don't have permissions to see that issue. Could get some examples of this happening?

CC: @edglas1 this another example of a team that can't move from build artifacts to pipeline artifacts easily but would benefit from their updated artifacts service

[2020-08-18 21:36] PontiusTheBarbarian commented on #7611
Had a 403, validated everything as detailed by @ChristosMonogios and still failed. Dropped the version to 2* and worked first time.

[2020-08-19 01:54] wow-anton commented on #13098
Thanks @Ganeshrockz .

If you use an automation account to trigger the release you should see that the project prefix is added. The workaround you suggested won't work in that case.

Since escaping characters is not currently possible, could the implementation be updated to pass the body through a JSON sanitizer before sending the request? I.e. instead of using the unsanitized string directly?

[2020-08-19 06:52] Ganeshrockz commented on #13098
@wow-anton It might take some time to introduce this as a feature from our end.One quick workaround i see here is to have a separate stage/agent job that runs at the start of the release,  which contains a `Powershell` task that modifies the release variables via rest apis. You can consume the `Release.RequestedFor` variable and escape the `\` character in your inline script and update the release

[2020-08-19 07:03] AdamCoulterOz opened #13444 "Task: Docker - Feature: Add Pull Command"
### Task: Docker
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/Docker

### Add Pull Command

Add an additional command option to perform a docker pull on a given repository:tag. This is useful for restoring a container from a previous build to take advantage of cached layers to improve build time. This would also be helpful with multi-stage builds.

[2020-08-19 07:34] AmrutaKawade commented on #13402
![image](https://user-images.githubusercontent.com/65217380/90605798-7b129b00-e21c-11ea-913c-24b7ffa3ef3b.png)
this option is already available

[2020-08-19 07:54] wow-anton commented on #13098
Thanks for the suggestions @Ganeshrockz

I've tried something similar but in my use case I want to encapsulate all the steps in a single task group. Unfortunately, you cannot mix `Powershell` and `AzureFunctionV1` because one is an agent job and the other is agentless.

I've worked around it by removing the problematic field.

[2020-08-19 07:54] #13098 closed

[2020-08-19 08:29] AmrutaKawade commented on #12229
As this command to connect to SQL DB is executing in powershell and $ is special character in powershell its failing. Can you add backtick before $ sign and try? like this Abcde`$12345

[2020-08-19 09:23] rokonec commented on #12102
In runtime-official its failing with message ' after retry' at these builds of last 1000:
|Build|Kind|Timeline Record|
|---|---|---|
|[773847](https://dev.azure.com/dnceng/internal/_build/results?buildId=773847)|Rolling|Publish intermediate unsigned artifacts|
|[773847](https://dev.azure.com/dnceng/internal/_build/results?buildId=773847)|Rolling|Publish intermediate unsigned artifacts|
|[773477](h

[2020-08-19 13:07] AmrutaKawade commented on #13087
Are you still facing issue? In previous issue you had mentioned that its working with Az Module Task version 4.0. is it breaking for this module as well?

[2020-08-19 14:44] alexander-prozorov commented on #13371
Hello @larshg,

Thank you for the report.  Is this issue still relevant?

As I can see builds are running successfully now after changing GENERATOR property value to 'Visual Studio 15 2017 Win64'. The problems with the previous one could be related to the version of cmake, which is probably less than 3.1.

[2020-08-19 15:56] zooda56 opened #13446 "CopyFilesOverSSHV0 ver. 0.172.3 fails with Ciphers aes256-gcm@openssh.com,aes128-gcm@openssh.com"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature
*Account*: Skype
*Team Project*: SBS
*Release Def: TEST ssh copy file
*Release Number: Release-4
**Enter Task Name**:  Copy files over SSH

## Environment
- Server - Azure Pipelines
- Agent  Private

## Issue Description
Add support for

[2020-08-19 16:31] mwc360 commented on #11339
I get the same error even though i've set the following SQLPackage settings:
/p:ExcludeObjectTypes=ExternalTables;DatabaseRoles;ServerRoles;Users;Logins;Permissions;Filegroups;FileTables /p:IgnoreComments=True /p:DropStatisticsNotInSource=False /p:DropObjectsNotInSource=True /p:BlockOnPossibleDataLoss=False /p:ScriptDatabaseOptions=True /p:IgnoreFileAndLogFilePath=True /p:IgnoreFileSize=True /p:Do

[2020-08-19 18:31] iambernics commented on #13329
@bergmeister is it related to my issue [13087](https://github.com/microsoft/azure-pipelines-tasks/issues/13087)?
The PowerShell Task do not provide valid Tenant ("_Please provide a valid tenant or a valid subscription_") only if the Agent process will be restarted.

[2020-08-19 18:32] iambernics commented on #13329
@bergmeister is it related to my issue [13087](https://github.com/microsoft/azure-pipelines-tasks/issues/13087)?
The PowerShell Task do not provide valid Tenant ("_Please provide a valid tenant or a valid subscription_") only if the Agent process will be restarted.

[2020-08-19 18:32] iambernics commented on #13329
@bergmeister is it related to my issue [13087](https://github.com/microsoft/azure-pipelines-tasks/issues/13087)?
The PowerShell Task do not provide valid Tenant ("_Please provide a valid tenant or a valid subscription_") only if the Agent process will be restarted.

[2020-08-19 18:38] iambernics commented on #13087
There is no relation with the AZ or Azure RM versions. The issue is still exists.

[code]

[2020-08-19 20:01] shadargee1982 commented on #12549
This should be fixed with v. 0.174.1 of UniversalPackages task

[2020-08-19 20:01] #12549 closed

[2020-08-19 20:02] shadargee1982 commented on #11933
This should be fixed with v. 0.174.1 of UniversalPackages task

[2020-08-19 20:02] #11933 closed

[2020-08-19 20:30] bishal-pdMSFT commented on #13443
@FilBot3 UseDotNet@2 is most certainly not deprecated.

This could be due to some other task in your yaml which linter might be highlighting. Please check other tasks in your yaml.

Which VS code extension are you using to add azure pipeline yaml schema support?

[2020-08-19 21:56] rokonec commented on #12102
The responsible team realized, that this particular issue has been most probably caused by two build legs concurrently uploading same package.
So this issue is no longer critical for us. I still consider it a bug though, that it is allowed to concurrently upload package. Especially concurrent chunk upload sounds scary if there is no final SHA verification.

[2020-08-19 23:18] JoaBjo opened #13447 "Question regarding VsTestV2 and test adapters"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: VsTestV2

## Environment

Azure DevOps Server On-prem
Version Dev17.M153.3

Private Agent
Version 2.153.1
OS: Windows Server 2019

## Issue Description

My setting is that I've built & deployed my binaries (including tests) to the target server. The deploy works and every service is up and running. Now I

[2020-08-20 01:03] nategreen commented on #10937
+1 for globbing in the path. Would like to use it to cache Rush build info from each project's .rush/temp directory in my monrepo.

[2020-08-20 02:47] ds-ms commented on #13400
Closing stale issue, feel free to reopen if problem still persists.

[2020-08-20 02:47] #13400 closed

[2020-08-20 02:52] ds-ms commented on #13383
Closing stale issue; feel free to reopen if the problem still persists.

[2020-08-20 02:52] #13383 closed

[2020-08-20 04:03] PureKrome opened #13448 "PublishCodeCoverageResultsV1 cannot handle multiple coverage files"
**Type**: Feature

**Enter Task Name**: [PublishCodeCoverageResultsV1 ](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishCodeCoverageResultsV1)

list here (V# not needed):
- https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishCodeCoverageResultsV1

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

I have a .NET Cor

[2020-08-20 04:14] kmkumaran commented on #11339
+ @chshrikh / @nadesu

[2020-08-20 06:33] larshg commented on #13371
Hi  @alexander-prozorov

Yes, it still seems so:
https://dev.azure.com/PointCloudLibrary/pcl/_build/results?buildId=17283&view=logs&j=d487384d-eb63-5565-d344-b581c1518e4a&t=8ffb19e5-c9f7-5281-7f20-3cfc859d485a

See this for yaml file changes:
https://github.com/PointCloudLibrary/pcl/pull/4297/files#diff-a32e23151be9c3a4b1d7c3a994ae889f

There seems to be a change from VS 2017 to VS 2019 how to sup

[2020-08-20 06:55] larshg commented on #13371
This is not a cmake task per se (after reading a bit more about it), but a script task that executes CMake commands - so this might not be the right repository for the issue?

[2020-08-20 07:38] larshg commented on #13371
Think I got it working now. We add additional qoutes here:
https://github.com/PointCloudLibrary/pcl/blob/3aaa1dad09cf1105bd3acd13a634f114627bcd54/.ci/azure-pipelines/build/windows.yaml#L24

Which somehow made the script looking for just "Visual" - however that can happen.

[2020-08-20 09:22] ShreyasRmsft commented on #13447
@JoaBjo consider using the "dotnet" task where you have more control/flexibility over settings.

[2020-08-20 09:34] AmrutaKawade commented on #13427
you can use **Azure Functions for Container** Task for docker deployment

[2020-08-20 09:48] JoaBjo commented on #13447
I definitely would I if I could! However, it's unfortunately not available when running a deployment group job. At least not in my version of Azure Dev Ops.

[2020-08-20 09:51] tinohager commented on #9107
Azure Artifact have currently no support for snupkg 😠
https://developercommunity.visualstudio.com/idea/657354/add-snupkg-support-to-azure-devops-artifacts.html

[2020-08-20 10:12] blumk opened #13449 "AzureRmWebAppDeployment: ConnectionType missing in "view yaml - copy to clipboard""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeployment@4
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureRmWebAppDeploymentV4

## Environment
- Azure Pipelines
- Agent - Hosted

## Issue Description

Migrating an existing r

[2020-08-20 10:19] #13425 closed

[2020-08-20 10:24] JKrag commented on #7654
@JerryWang20 @wrong42 In my experience I can deploy ACR hosted images without a hitch from my pipeline, provided that we have at some point manually through the UI switched the "Image Source" setting from `Docker Hub` to `Azure Container Registry`.

After this has been done once, future deploys from the pipeline work.

I consider this a barely usable workaround for now, because it would stop worki

[2020-08-20 11:36] blumk commented on #13449
`azureSubscription ` is just an alias, needs to be renamed to `ConnectedServiceName`.

Expected YAML format should be:
[code]

See [Azure App Service Deploy task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=azure-devops)

[2020-08-20 11:40] blumk commented on #13350
@ds-ms @zachariahcox
This bug does affects other tasks as well, like `AzureRmWebAppDeployment@4`.

Variables don't get resolved (default is empty string) and task fails with error message:
`##[error]Error: Input required: WebAppName`

I'm using `deployment job`, trying to migrate to YAML CD.

[2020-08-20 12:27] alexander-prozorov commented on #13371
@larshg thank you,

Yes, at least 3.14 version is required to use VS 2019 generator.

https://github.com/PointCloudLibrary/pcl/blob/3aaa1dad09cf1105bd3acd13a634f114627bcd54/.ci/azure-pipelines/build/windows.yaml#L24

Great. Yes, it looks like the quotes for the environment variable are superfluous here.

Matrix values are also available to the job as usual variables:

https://docs.microsoft.com/en

[2020-08-20 12:43] phanikmmsft commented on #13448
@nishantms please look into this

[2020-08-20 12:55] larshg commented on #13371
Yes.

[2020-08-20 12:55] #13371 closed

[2020-08-20 13:08] dan-weiss commented on #10792
One fix for this issues is to put both the application and installer certificates in the same .p12 file. The InstallAppleCertificate@2 task will then install both certificates.

[2020-08-20 13:22] leantk commented on #13386
We apologize for the unexpected behavior but we cannot change the YAML task defaults to new values since that will break many existing customers using that task. I would recommend setting the parameter values to empty which will achieve the behavior that you are looking for. Again I'm sorry for the mismatch here but this isn't something we can go back and adjust now

[2020-08-20 13:22] #13386 closed

[2020-08-20 13:23] anatolybolshakov commented on #12200
Closing it since it was resolved and error handling was improved for Java Tool Installer task

[2020-08-20 13:23] #12200 closed

[2020-08-20 13:37] MatkovIvan commented on #13386
@leantk let's fix export from classic editor at least, so customers can get working YAML from that

[2020-08-20 14:04] mmulhearn commented on #13405
Why is it taking longer than 5 seconds?  The authentication already happened so shouldn't it be as simple as pulling the access token from the existing, authenticated instance?

[2020-08-20 14:13] blake-mealey opened #13451 "Helm deploy cannot authenticate when deploying using environment"
## Required Information

**Type**: Bug

**Task Name**:  HelmDeploy@0

## Environment
- Server - Azure Pipelines

    - Account name: Nureva
    - Team project name: Nureva
    - Build definition ID: 1298

- Agent - Hosted or Private:

    - Hosted: ubuntu-latest

## Issue Description

I first posted this issue on the Microsoft Developer Community: https://developercommunity.visualstudio.com/conten

[2020-08-20 14:25] rlevchenko opened #13452 "Docker task - is Managed Identity supported?"
I'm using MI service connection to Azure, Docker v0 task and faced with some issues during the docker push execution. Briefly checked source code of Docker v0 task and haven't understood whether MI supported or not (not sharing my findings, I'm not a prof. developer..waiting for your response instead)

[2020-08-20 15:55] satbai commented on #13405
It looks like it took more than 7 seconds for the NuGet client to start the Artifacts cred provider plugin that the NuGet Authenticate task sets up. We have a work item to bump up the timeout with the variables in the NuGet Authenticate task so the customers don't have to do it themselves. You can read more [how the task and the cred provider works here](https://docs.microsoft.com/en-us/azure/devo

[2020-08-20 16:50] patware commented on #5641
In my case, the problem was case sensitivity.  The agent was unix based which is case sensitive.  [Dockerfile].

[2020-08-20 18:43] FilBot3 commented on #13443
It seems to be the Red Hat Ansible YAML plugin. I disabled that extension for Visual Studio Code and it seems to have stopped which also required me to disable the Kubernetes extension which depended on this extension.

[2020-08-20 20:24] blumk commented on #13449
This issue can be closed - the alias `azureSubscription` is working.
Root cause of this problem is #13350.

The error message `##[error]Error: Input required: ConnectedServiceName` is a bit confusing in this case since it doesn't mention the alias.

[2020-08-20 20:24] #13449 closed

[2020-08-20 20:53] jhonnatanpb commented on #12098
Hi @jvassbo
How you manage to create the service connection for multiple susbscriptions?
In Azure devops, when I create a service connection, I can just select one subscription, so, if I'm using the AzureCLI task, I just can select that service connection, and if my script is trying to access two subscriptions, it only can access the one selecte in the service connection, fails for the other one.

[2020-08-20 21:25] gfk76 opened #13454 "Unhandled: No Dockerfile matching D:\a\1\s\**\Dockerfile was found."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

## Required Information

**Bug**
**Docker@2**

## Environment
- Server - Azure Pipelines
- Agent - Hosted
    - If using Hosted agent, provide agent queue name: windows-2019

## Issue Description

Docker@2
When using Docker@2 task with the command "build and push" I get and error, that the

[2020-08-20 21:40] gfk76 commented on #13454
[logs_177.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5105628/logs_177.zip)

[2020-08-20 21:47] mwc360 commented on #12400
I am having the same issue but I am using an **environmentCode** library variable that is linked from my key vault. The service connection has access to the key vault. I'm guessing this is because the KV isn't pinged upon save/update so it can't validate the RD. When the library variable isn't linked it works fine.

[2020-08-21 06:48] abrj commented on #13439
Is there any reason why this is not assigned?

Please let me know if there is missing any sort of information in the description.

[2020-08-21 08:18] AmrutaKawade commented on #13137
can you try out above solution and let us know

[2020-08-21 08:45] #13402 closed

[2020-08-21 08:46] AmrutaKawade commented on #12229
Please try out above workaround. closing this issue. Feel free to open it if you are still facing issue

[2020-08-21 08:50] AmrutaKawade commented on #13111
Please try out above workaround. closing this issue because of inactivity. feel free to reopen it if you are still facing issue

[2020-08-21 08:50] #13111 closed

[2020-08-21 09:11] stouter1982 opened #13455 "Bug: Deployment Job: Stage cross output variable not possible when the deployment job is the first job in the stage."
## Bug
[code]

The output variable from the Build stage can't be used when the deployment job is the first one in the stage. When a different (not deployment) job is running and using the same stageDependency then the deployment can work with the variable.

## Environment
- Azure Pipelines - Executed on On Premis agent.

Only the deployment job is executed on internal agent to contact the deployme

[2020-08-21 09:34] veepee78 opened #13456 "Powershell task copy-item command fails to copy subdirectory"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-08-21 15:35] ricohomewood opened #13457 "AzureFunctionApp if deploying to a slot with auto-swap which fails, task returns successful"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFunctionAppV1

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFunctionAppV1

## Environment
- Azure Pipelines

- Agent - Hosted

## Issue Description

When you

[2020-08-24 05:48] shigupt202 commented on #13451
@blake-mealey Could you please confirm whether you've already created that environment (and the resource in that environment) and do you see a service connection (automatically created with the creation of environment)?

[2020-08-24 08:04] rohit-batra commented on #13303
@veemvve Is this still an issue ? Can you please share logs with system.debug set to true ? Also can you please share the docker-compose yml file.
Also the whole Pipeline yml file would help as well.

[2020-08-24 08:06] gary918 opened #13460 "The links for Azure PowerShell task AzureRM PowerShell scripts are broken"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-08-24 08:20] ds-ms commented on #13444
The `command` input is an editable dropdown; you should be able to achieve docker pull today by simply just editing that field.

[2020-08-24 08:39] v-abiss commented on #13327
@pulkitaggarwl I'll work on this issue

[2020-08-24 10:19] ricohomewood commented on #10903
Any update on support for this @niadak  @N-Usha ?

[2020-08-24 10:30] hopewise commented on #10302
I had a similar issue, I set legacy option ON, and it worked, however, would there any possible issue with the new generated build?

[2020-08-24 11:33] pellebjerkestrand commented on #13427
The need here is to specifically not use Docker, though, so I fail to see how using Docker is a solution.

[2020-08-24 13:46] Garand-Gary opened #13461 "Gradle task ignoring working directory parameter"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Gradle

## Environment
- Server - Azure Pipelines
- Agent - Hosted (ubuntu-latest)

## Issue Description

My pipeline definition contains the following:
[code]

However the output in Azure Pipelines is:

[code]

As can be seen from the path, it seems that the working directory I specified is being ignored (no mention of Android anywh

[2020-08-24 13:53] alevincenzi commented on #11714
Hello.
i am experiencing a similar issue. Do you have any update?

We run the task that generates a manifest
[code]
and the `deployment.template.json` has the following section
[code]
The pipeline has the two variables:
![image](https://user-images.githubusercontent.com/8089061/91051690-bfd57200-e620-11ea-9d0d-98477c654363.png)

but at the end the file `newdeployment.json` remains unchanged.

I ex

[2020-08-24 15:54] peterson4ts commented on #12147
Dead link! Any news on this subject?

[2020-08-24 15:55] egor-bryzgalov commented on #13461
Hi, @Garand-Gary! Could you please try to pass the relative path from the repository root to the Gradle Wrapper script to `gradleWrapperFile`  parameter.
If it's located in the android folder than it should look like:
`gradleWrapperFile: 'android/gradlew'`
Could you please let me know whether it helps? Thank you!

[2020-08-24 16:27] spmanjunath opened #13462 "task: DotNetCoreCLI@2 - command: test - No test result files were found."
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description
When executing test project (.net core 3.1 - Azure functions - xUnit) the test run succeeds, however, publishing of test results fail with a warning "No test result files were found".   Below i have copied both the **build** and **test*

[2020-08-24 20:24] illegalnumbers opened #13463 "PublishCodeCoverageResults does not appear to support matching on summaryFileLocation"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishCodeCoverageResults

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Hosted or Private:

    - If using priva

[2020-08-24 20:50] herenhuang commented on #12382
Thanks! Going to close this for now, though please do reopen this issue (or a new one) if you have problems. :)

[2020-08-24 20:50] #12382 closed

[2020-08-24 20:51] herenhuang commented on #12520
Got it! We've got it in our bug log. And to confirm, this isn't currently blocking right?

[2020-08-24 21:00] herenhuang commented on #12748
Awesome, we'll close this issue for now, though please do reopen if you have issues!

[2020-08-24 21:00] #12748 closed

[2020-08-24 21:11] illegalnumbers commented on #13463
It appears this was due to my own misconfiguration, so I ask 10,000 pardons in opening this bug.

[2020-08-24 21:11] #13463 closed

[2020-08-24 21:55] samuelkoppes commented on #13395
We do not plan to support downloading specific snapshots of Maven packages. Please see @satbai comment above.

[2020-08-24 21:55] #13395 closed

[2020-08-24 21:58] samuelkoppes commented on #13379
Please add more detailed logs and confirm that the issue is still happening.

[2020-08-24 22:01] samuelkoppes commented on #13374
We do not support republishing the same version of a package. To publish an updated version, you must increment the version number.

[2020-08-24 22:01] #13374 closed

[2020-08-25 00:19] #11105 closed

[2020-08-25 07:25] mwanchap commented on #7611
Assigning the "Storage Blob Data Contributor" role to the ARM service connection's service principal as @adrien-constant so helpfully suggested worked, using version 4.171.3.

My YAML:
[code]

[2020-08-25 07:58] frenchf commented on #12593
I am having the same problem.
JDK 11
Gradle 6.5
Works fine locally but fails when run in Azure.
Based on all the above I think it's safe to say this is an Azure problem.
Any idea when this might be fixed?

[2020-08-25 08:20] span commented on #10565
This is still an issue for the create command. I can confirm that removing the command entry in the yaml still executes the command, but only once and successfully.

[2020-08-25 09:00] JonathanNEMRY commented on #7339
@anatolybolshakov yes it is always the same :) sorry for the delay

[2020-08-25 09:28] ShreyasRmsft commented on #13447
You can locally build the dotnet task after adding [one line to it](https://github.com/microsoft/azure-pipelines-tasks/blob/fec3b6b1c72fa8e3acc8356ba425697afc3a9ea0/Tasks/VsTestV2/task.json#L15) in this [file](https://github.com/microsoft/azure-pipelines-tasks/blob/fec3b6b1c72fa8e3acc8356ba425697afc3a9ea0/Tasks/DotNetCoreCLIV2/task.json#L15) and then change the name of the task to dotnet experimen

[2020-08-25 09:30] ShreyasRmsft commented on #13447
The design of the vstest task is the way it is because we do not expect to find more than one test adapter type/version for one test framwork.

The task assumes that all tests that belong to a particular test framework can be run using the highest version of a particular adapter found under the test adapter path.

[2020-08-25 09:42] Garand-Gary commented on #13461
Hi Egor, thanks for your reply.

So simple, with hindsight so obvious, and so effective! That is now allowing me to complete my builds.

I had tried your suggestion of 'android/gradlew', and I had tried the working directory being set, but I had not tried both together as that seemed incorrect to me as the combination of those options would give the wrong path.

Thanks

[2020-08-25 09:42] #13461 closed

[2020-08-25 11:29] rikogeln commented on #12745
@bishal-pdMSFT - has this been fixed? Is there a PR/release for the fix?
Thanks!

[2020-08-25 14:58] AmrutaKawade commented on #13137
closing this issue feel free to reopen if its not resolved

[2020-08-25 14:58] #13137 closed

[2020-08-25 15:00] AmrutaKawade commented on #13368
Hope your query got answered. Closing the issue. Thanks again for reaching out out to us.

[2020-08-25 15:00] #13368 closed

[2020-08-25 15:21] pbfrederiksen commented on #11831
Does anyone know a workaround for VSTest@2?
I have tried setting publishRunAttachments: false , but it still hangs at "Publishing Attachments: 1" and gives a warning after about 10-12 minutes:  ##[warning]Failed to upload file *.trx to Blob Transfer exception with errorcode Unknown

[2020-08-25 16:03] djfoz opened #13465 "Publish Test Results XUnit - No Result Found to Publish"
*Type*: Bug

**Enter Task Name**: Publish Test Results

## Environment

- Running Azure Pipelines
- Private Agent, Windows 10, Agent Version 2.173.0

## Issue Description

Publish test result does not appear to publish xunit/vstest xml files. The task displays:
2020-08-25T15:46:58.5873997Z No Result Found to Publish

This is being run as part of a release stage pipeline.

![image](https://user-ima

[2020-08-25 17:15] sheeeng opened #13466 "Interpolate variable given inside arguments input for Docker@2 task."
*Type*: Question, Bug, or Feature?

## Environment
- Azure Pipelines, Agent Hosted

## Issue Description

Interpolate variable given inside `arguments` input for Docker@2 task.

## Example

The `displayName` can interpolate variable to correct output. But, `arguments` use the given verbatim string without interpolate argument.

_Expected_: `--build-arg environment=dev`

_Actual_: `--build-arg envi

[2020-08-25 17:41] justindbaur opened #13467 "UseDotNet@2 Unable to verify leaf signature"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UseDotNet@2

## Environment
- Server - Azure Pipelines or TFS on-premises? TFS on-premises

    - If using TFS on-premises, provide the version: Azure DevOps Server 2019

- Agent - Hosted or Private: Private

    - If using private agent, provide the OS of the machine running the agent and the agent version: Windows Server 2019 1809,

[2020-08-25 20:24] JoaBjo commented on #13447
Thank you for the explanation and for the instructions for how to work around it if necessary.

[2020-08-25 20:44] Bestadd commented on #11831
@pbfrederiksen  based on the lack of response to my comment you open a new issue.  I'm are not seeing this anymore since we updated our agents to 2.165.0

[2020-08-25 22:15] thewillhuang commented on #11864
can confirm, the cache is extremely slow if it was really a disc bottleneck then skipping the cache and going straight for NPM or NuGet or Cargo would also take just as long but that does not seem to be the case here so there is something wrong with the cache implementation. so much so that it might be a good idea just to use AWS Codebuild as its much faster and does not have the same cache issues

[2020-08-25 22:58] blake-mealey commented on #13451
@shigupt202 it turns out our Kubernetes resource hadn't been properly configured and the service connection was not created yet. We fixed the configuration and it now works!

[2020-08-25 22:58] #13451 closed

[2020-08-26 02:18] schultetwin1 commented on #12520
Thank you!!

That is correct. This isn't currently blocking.

[2020-08-26 05:40] seanke commented on #11013
I'm getting this issue now. How do you fix it?

[2020-08-26 06:00] maxim-lobanov opened #13468 "InstallAppleCertificateV2 and InstallAppleProvisioningProfileV1 often fails to download secure files"
## Required Information

**Question, Bug, or Feature?**  Bug

**Task Name**: InstallAppleCertificateV2 and InstallAppleProvisioningProfileV1

## Environment
- Azure pipelines
- Hosted MacOS images

## Issue Description

These tasks are used to download secure files from Azure DevOps to VM during build. We have noticed that these tasks are unstable and often fail randomly (see errors below) and pas

[2020-08-26 07:07] lszomoru opened #13469 "DownloadBuildArtifactsV0 does not download the latest successful build"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadBuildArtifacts

## Environment
- Agent - Hosted or Private: Hosted
    - If using Hosted agent, provide agent queue name: windows-2019

## Issue Description
We have a multi stage pipeline that has a `pipeline`

[2020-08-26 08:17] Zachery2008 commented on #13350
I found the the same error, and I wish someone help to solve it. Thanks

[2020-08-26 08:55] Zachery2008 commented on #13350
I found a solution. You can save the acr connection as a variable in a variable group. And if you want to choose different variable groups depending on some conditions, you can do it at the top level. So the `containerRegistry` will treat it correctly.
For example,
[code]

[2020-08-26 09:01] righardtmarais commented on #5472
Still an issue for us today.
Using Copy files Task version 2.*
Clean Target Folder ticked.

2020-08-26T08:46:44.1940259Z Cleaning target folder: C:\aaa\aaa.sites\aaa-web\build
2020-08-26T08:46:44.2092589Z C:\aaa\aaa.sites\aaa-web\build\css\semantic - The directory is not empty.
2020-08-26T08:46:44.2184445Z ##[error]Unhandled: Failed rmRF: EPERM: operation not permitted, unlink 'C:\aaa\aaa.sites\aa

[2020-08-26 09:06] ds-ms commented on #13466
It does not look like a Docker task issue per se, you'd probably be facing this issue with any other task being used in the same context, right?

@chshrikh to confirm

[2020-08-26 09:34] pellebjerkestrand commented on #13427
Yes, using YAML this is possible, but I couldn't get this to work using the UI. It seems that when using the UI, the extra things I mentioned are always added. As far as I know, there is no way to use YAML for Releases, so using this task in Releases will always leave the environments that are deployed to in an unwanted state (unless one wants exactly the extra added things).

[2020-08-26 09:50] AmrutaKawade commented on #13427
![tempsnip](https://user-images.githubusercontent.com/65217380/91288717-f4773400-e7ae-11ea-99c3-912140b66dde.png)

I was able to remove runtimestack from UI.

Generate YML looks like this.

[code]

[2020-08-26 10:01] GreatScott000 commented on #13357
Still waiting on ANY response!

[2020-08-26 10:10] RajashriVadakeri commented on #13357
Hi,
I solved the same error using this post
[https://developercommunity.visualstudio.com/content/problem/1146258/error-vs800075-when-downloading-artifact-from-anot.html]

[2020-08-26 11:00] #13447 closed

[2020-08-26 12:02] pellebjerkestrand commented on #13427
It seems like the main issue is that choosing JavaScript as the Runtime stack does something _very_ unexpected.

[2020-08-26 12:23] harvinders opened #13470 "DownloadSecureFile gives the error `Error: self signed certificate in certificate chain`"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadSecureFile

## Environment
- Server - Azure Pipelines

- Agent - Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version: Windows 10 Enterprise 1909

## Issu

[2020-08-26 13:30] abrj commented on #13439
I have now switched to using a self-hosted Windows Server 2016 agent instead of Windows Server 2019.  I no longer get the error described, so the switch seems to be the resolution.

Closing the this issue.

[2020-08-26 13:30] #13439 closed

[2020-08-26 13:42] alexander-prozorov commented on #13210
Hello @lucascardosods,

сan you please confirm if this problem is still relevant?

[2020-08-26 14:12] sheeeng commented on #13466
I experienced this issue with `Docker@2` task.

For example, the ` repository: '$(imageName)'` and `tags: '$(targetEnvironment)-$(Build.BuildNumber)'`under `input` group did interpolate to use correct variables values, but not `arguments`.

[2020-08-26 15:21] jez9999 commented on #12336
I agree this should be fixed 100%.  On Azure DevOps, this same problem occurs - an Inconclusive test is treated like a skipped test, and the error message passed to the Inconclusive call is simply dropped.  I passed the error message for a reason - I want it displayed in the test results!

The only thing it does right is that an Inconclusive test doesn't cause the test run to fail, which is desira

[2020-08-26 17:32] coldacid opened #13471 "Allow custom environment name for IISWebAppDeploymentOnMachineGroupV0 XDT transforms"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: IISWebAppDeploymentOnMachineGroup

## Issue Description

We have a complex build pipeline that requires us to provide descriptive names for the different stages in order to differentiate between different web proje

[2020-08-26 17:42] AmrutaKawade commented on #13460
Thanks for pointing this out. we will update our document

[2020-08-26 17:48] jmyersmsft commented on #12538
Sorry this fell on the floor. There should be additional output from the credential provider before those lines. I will need to see that output as well. If there is no additional output, try setting the build variable NUGET_CREDENTIALPROVIDER_LOG_PATH to an absolute path (the directory must exist, but the file doesn't need to). The artifacts-credprovider will log at maximum verbosity. Another poss

[2020-08-26 18:37] jmyersmsft commented on #13375
We should fix this, but as a workaround, you could obtain artifacts-credprovider separately and place it in the appropriate location under DOTNET_CLI_HOME.

The [install script](https://github.com/microsoft/artifacts-credprovider/blob/master/helpers/installcredprovider.ps1) isn't particularly long and demonstrates where to get it and what to extract where.

[2020-08-26 21:06] #9147 closed

[2020-08-27 09:38] alexander-smolyakov commented on #13097
@djee-ms, did you able to check if this issue reproducible on MS-hosted agent?

[2020-08-27 12:41] AmrutaKawade commented on #13348
@harre096 are you still facing this issue? we have reverted our changes.

[2020-08-27 13:38] bishal-pdMSFT commented on #13462
@phanikmmsft can you please look at this test issue in dotnet cli task.

[2020-08-27 14:36] harre096 commented on #13348
For my script that uses background jobs and runs in AzureDevops. I have been using 5.* successfully for a while. I tested 4.* today and that seems to be working again too.

[2020-08-27 14:58] JohnLivermore opened #13472 "DotNetCoreCLI@2 failing in latest 2.174.0 release"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server - Azure Pipelines (DevOps)

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
[code]

- Agent - Hosted or Private:
Hosted and selecting this in our yaml with...

[code]
## Issue Description

This was working fine in 2.173.0, but no

[2020-08-27 15:21] JohnLivermore commented on #13472
Another change was we just upgraded to .NET Core 3.1.  I noticed the DotNetCoreInstaller was using a 2.x version, so I updated that and it fixed this issue.

[2020-08-27 15:21] #13472 closed

[2020-08-27 15:29] mmulhearn commented on #13405
Extending the timeout seemed to solve the issue.  I kicked it out to 30 seconds (because why not).  I believe I'm seeing up to ~15 seconds, which seems super high.

[2020-08-27 15:59] theBNT commented on #10360
There is a relatively new feature described in the [Sprint 172 Release Notes](https://docs.microsoft.com/en-us/azure/devops/release-notes/2020/pipelines/sprint-172-update#generic-webhook-based-triggers-for-yaml-pipelines) where one can trigger a YAML build via a Service Connection/Service Hook combination. I think this addresses this request.

[2020-08-27 16:02] theBNT commented on #6219
@mathstuf please see the [comment i just made](https://github.com/microsoft/azure-pipelines-tasks/issues/10360#issuecomment-682039151) on #10360 (which could be seen as duplicate of this), triggering builds (which in turn can trigger other things) is now possible via webhooks

[2020-08-27 18:57] eavonius commented on #10479
I ran into this today and it's incredibly frustrating. This shouldn't be closed, but should be fixed!!

[2020-08-27 21:56] ManuelGalindo opened #13474 "WaitForCompletion Property stops Expression to be evaluated"
**Question, Bug, or Feature?**
*Type*:  Question
Why if I user the proprty WaitForCompletion the Expression is not evaluated on a ServerGate Custom task?

**Enter Task Name**: Custom ServerGate task

## Environment
We created our own  Azure Pipeline task following https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops&viewFallbackFrom=vsts and we are getting

[2020-08-27 23:41] matthewfcarlson commented on #9046
Also seeing this as well.
Hosted
Agent: Ubuntu and windows-latest
[code]

[2020-08-28 04:52] kmkumaran commented on #10479
@nadesu / @chshrikh  - Can you review the feedback and take this further.

[2020-08-28 05:05] AmrutaKawade commented on #13348
Thanks for confirming. Closing this issue

[2020-08-28 05:05] #13348 closed

[2020-08-28 05:27] #13316 closed

[2020-08-28 05:32] mithsapurva commented on #12426
Hi,

I am facing the same issue. Please suggest how to resolve this issue.

[2020-08-28 05:37] mithsapurva opened #13475 "Publish Test Results is completed but has some exceptions written in the log"
On Azure DevOps server, the publish test results task is completed but has following exception written in the logs:

`##[section]Starting: Publish : Client Side Test Results
==============================================================================
Task         : Publish Test Results
Description  : Publish test results to Azure Pipelines
Version      : 2.153.5
Author       : Microsoft Corporat

[2020-08-28 06:48] dannythomas13 opened #13476 "Error CS0117: 'File' does not contain a definition for 'WriteAllBytesAsync'"
Has anyone else seen and know what could be the cause for the following error I am seeing within DevOps Xamarin.Android build task?
Error CS0117: 'File' does not contain a definition for 'WriteAllBytesAsync'

Here is the full log:

Build FAILED.

"D:\a\1\s\Veridian.Xamarin\Veridian.Xamarin.Android\Veridian.Android.csproj" (PackageForAndroid target) (1) ->
"D:\a\1\s\Veridian.Xamarin\Veridian.Core\V

[2020-08-28 07:25] ebcFlagman commented on #12593
I am having the same problem.
JDK 11
Gradle 6.0
Works fine locally but fails when run in Azure.

[2020-08-28 10:03] inforithmics opened #13477 "CopyFilesOverSSHV0 0.174 adds on a network target path an additional ./ which then fails the build"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CopyFilesOverSSHV0

list here (V0.174 not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/CopyFilesOverSSHV0

## Environment
Azure Pipelines

Agent - Private:
Agent on MacOs Copy Files to

[2020-08-28 10:10] Tovli opened #13478 "AzureFileCopyTask@4 authentication fail"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-08-28 10:50] inforithmics commented on #13477
Workaround. Make two Agent Jobs.

1. Agent Job:
On Mac:
    Job Compile and Copy to Remote Machine

2. Agent Job:
On Remote Machine:
    Copy Files from Local Folder to Network Path

[2020-08-28 11:58] egor-bryzgalov commented on #13283
Closing this issue since related changes are deployed. Please feel free to reopen.

[2020-08-28 12:10] egor-bryzgalov commented on #13411
Closing this issue since the fix is deployed. Please feel free to reopen it.

[2020-08-28 12:10] #13411 closed

[2020-08-28 12:10] AmrutaKawade commented on #13432
Thanks for pointing out. I am able to reproduce this issue. We will look into it

[2020-08-28 12:13] egor-bryzgalov commented on #11247
Closing this issue since the fix is deployed. Please feel free to reopen the issue.

[2020-08-28 12:13] #11247 closed

[2020-08-28 12:29] AmrutaKawade commented on #13388
Please find documentation [here](https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/IISWebAppDeploy/Src/Tasks/SqlDacpacDeploy/SqlDacpacDeployV2/README.md)

As the execution happens within the target machine(s), admin username and password is required for target machine not for SQL Server.

[2020-08-28 12:57] AmrutaKawade commented on #13329
@surajsupremegolf this is deployed. can you verify once?

[2020-08-28 13:00] AmrutaKawade commented on #13003
no response from user. closing this issue. feel free to reopen if its not resolved

[2020-08-28 13:00] #13003 closed

[2020-08-28 13:44] surajsupremegolf commented on #13329
@AmrutaKawade Yes this is fixed thanks. It would be great if we get some sort of notification once this got released.
Thanks.

[2020-08-28 13:48] AmrutaKawade commented on #13329
Thanks for confirming and suggestion. We will try to incorporate it. Closing this issue.

[2020-08-28 13:48] #13329 closed

[2020-08-28 17:21] zhenghao104 opened #13480 "ExpiredServicePrincipal"
While creating a pull request to Azure Pipeline Canary, I got an warning that the Java task failed to localize the string correctly. It looks like there is an issue with the service principal while communicating with Azure to retrieve the JDK.

Warning/Error message: `##[warning]Resource file haven\'t set, can\'t find loc string for key: ExpiredServicePrincipal`

Failed location: Java 1.7 under VS

[2020-08-28 18:00] leantk commented on #13469
@romil07 are you taking a look at this? Wasn't sure if this is an artifact issue we need to look at

[2020-08-28 18:51] farshid3003 opened #13481 "add rollout restart to kubectl task"
I want to run rollout restart on my EKS cluster on AWS but it does not have rollout command
is there any way to run this command ?

[2020-08-28 19:23] romil07 commented on #13469
@leantk I and harshini from my team looked at it but we couldn't repro this or find anything that could cause this issue.
This is pretty simple flow. We call the builds API from pipeline provider and just rely on what API returns. We tried finding the logs to see in the execution flow of that API but didn't find anything.
This issue is not a task issue is what I am saying. We can discuss if you fe

[2020-08-28 21:21] anti-matter commented on #13428
[azure-pipelines.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5144242/azure-pipelines.zip)

@bishal-pdMSFT
1. Attached
2. Attached
3. Hosted
4. Will reply with that in a bit

[2020-08-28 21:25] anti-matter commented on #13428
@bishal-pdMSFT

[azuresigntooltask_log.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5144253/azuresigntooltask_log.txt)

1. Attached
2. Task:
`  - task: DotNetCoreCLI@2
    inputs:
      command: 'custom'
      custom: 'tool'
      arguments: 'install --global azuresigntool'
    displayName: Install AzureSignTool`
3. Hosted
4. Will post as soon as I have it.

[2020-08-30 10:10] roizentner opened #13482 "Docker stop no longer works"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Task Name**: Docker

## Environment
- Server - Azure Pipelines

- Agent - Hosted (ubuntu-18.04)

## Issue Description

Ever since updating the Docker task to include start and stop commands, I can no longer stop my containers.
I am running an elasticsearch container during my pipeline using the name **elasticsearch_$(Build.Buil

[2020-08-30 18:07] ds-ms commented on #13444
Closing stale issue. Feel free to reopen if the above suggested solution doesn't work for you

[2020-08-30 18:07] #13444 closed

[2020-08-30 18:08] ds-ms commented on #13454
What's the path you've used in your pipeline?

[2020-08-30 18:12] ds-ms commented on #13481
The command input of the `Kubectl` task is editable. You could add `rollout` to command and `restart <your-resource>` to arguments and try?

[2020-08-30 18:51] ds-ms commented on #13466
The difference is the variables being served from the matrix context, right?

[2020-08-30 22:56] rafalkasa commented on #9201
@MarkDordoy  maybe could you add support for your Extension for linux Azure DevOps agents by use

PowerShell on Linux systems, including Ubuntu… To install, run the commands below install Snap…

[code]
Then run the commands below to get PowerShell installed via Snap..

`sudo snap install powershell --classic`

After installing, you can go to the Activities Overview board and search for PowerShell

[2020-08-31 05:21] AdamCoulterOz commented on #13444
Thanks

[2020-08-31 06:08] AmrutaKawade commented on #13087
Can you share snapshots how your pipeline is configured?

[2020-08-31 07:26] AmrutaKawade commented on #13478
can you run pipeline with system diagnostics on and share the logs?

[2020-08-31 07:44] Tovli commented on #13478
Can you please send me reference of how to do that? :)
Or just write me, of course

[2020-08-31 07:48] AmrutaKawade commented on #13478
![image](https://user-images.githubusercontent.com/65217380/91695877-6de69c00-eb8c-11ea-9fb0-22831c902752.png)
Click on Enable System Diagnostics checkbox

[2020-08-31 07:54] AmrutaKawade commented on #13190
In Azure Copy Task only `azcopy copy` command is supported, not `azcopy sync`. there is no plan currently to support this. Latest version of AzCopy.exe is available on agents, you can use command line instead to perform this operation

[2020-08-31 08:07] alexander-prozorov commented on #13210
Closing stale issue. Feel free to reopen if the problem still persists.

[2020-08-31 08:07] #13210 closed

[2020-08-31 09:16] Tovli commented on #13478
And how do I get to this screen?

[2020-08-31 09:23] AmrutaKawade commented on #13478
this option comes when you click on run pipeline. Alternatively you can follow steps from [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/variables?view=azure-devops&tabs=batch#run-a-release-in-debug-mode)

[2020-08-31 09:28] AmrutaKawade commented on #13296
I tried to reproduce this issue. value for settings3 replaced for me. Yes other 2 cases are not handled.

[2020-08-31 11:28] ekaterina-tatanova commented on #13480
@zhenghao104 Used service principal was expired. Service connection was [changed](https://github.com/microsoft/azure-pipelines-canary/pull/355) 3 days ago. Could you please check if it works now?

[2020-08-31 11:59] #13388 closed

[2020-08-31 12:27] Tovli commented on #13478
Do you have an email I can send the logs to?
I don't feel comfortable putting such sensitive information in a public location

[2020-08-31 12:44] AmrutaKawade commented on #13478
Sure. Please send logs to amrutakawade@github.com

[2020-08-31 12:57] rpeltola commented on #12500
Should this be reopened since this is not fixed, and is definitely a problem?

Older version of DeleteFilesV1 took about 6 seconds for us (6679 files, 1134 folders, 446MB in size), now it takes little under 3min for the same files.

Yes, we could use Powershell script, but what is the use of Delete files task if it's so slow that it's almost unusable?

[2020-08-31 13:50] sheeeng commented on #13466
I discovered this issue from the matrix context only. I have not tested it without matrix context.

[2020-08-31 14:36] egor-bryzgalov commented on #13477
Hi, @inforithmics!

Thank you for opening this issue!
We tried to reproduce the issue but found no cases a UNC path is considered as not absolute by `isAbsolute` method:
`path.isAbsolute(targetPath)`
For us to investigate the issue further, could you please share the following information:
- pipeline logs;
- part of YAML definition containing this task;
- node.js version used on your local machine

[2020-08-31 18:25] rsegecin commented on #13377
I ran into the same issue when I tried to publish a project that depends on another project which is on a git submodule. The publish command publishes not only the project that was intended to but also publishes the project from the submodule overwriting files in the first published project. I've tried to work around this issue by running the publish command with the task _cmdline_ as it shows bel

[2020-08-31 18:26] damccorm commented on #13466
Hey @sheeeng - this looks like an issue with the general service, not with a particular task. This repo is meant for issues just dealing with specific tasks - please open a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html, that way we can get the right eyes on this.

[2020-08-31 18:26] #13466 closed

[2020-08-31 18:59] philipwolfe commented on #10616
@ponnmohan, @deepaksinghnationwidecouk, @szwed, @ajinkya599 and to anyone else
I found that my AWS URL was wrong.  I found that mine was `...amazonws.com` instead of '...amazonaws.com`.  I was missing the 'A' in 'AWS' and I received this error:
[code]

[2020-08-31 20:09] richardgavel commented on #4945
Agree this is unusable. And it's because the code it uploading each file one at a time (not even doing multiple files in parallel)

https://github.com/microsoft/azure-pipelines-agent/blob/1500e376855708134b1662d17ceddfba9519f0ba/src/Agent.Worker/CodeCoverage/CodeCoveragePublisher.cs#L51

Couldn't this be changed to use the PipelineArtifactServer like the publish pipeline artifact task does?

https

[2020-08-31 21:06] zhenghao104 commented on #13480
Solved, thanks!

[2020-08-31 21:06] #13480 closed

[2020-08-31 21:36] #13405 closed

[2020-08-31 21:37] herenhuang commented on #13379
Closing, pls reopen if needed!

[2020-08-31 21:37] #13379 closed

[2020-08-31 21:38] herenhuang commented on #13375
@alexperovich - were you able to try the workaround above?

[2020-08-31 21:44] herenhuang commented on #13290
Hey there, thanks for the call-out. We will go update the docs.

Are you able to use NugetAuthenticate to complete your work scenarios?

[2020-08-31 21:48] samuelkoppes commented on #13265
Pending triage from the Artifacts team.

[2020-08-31 22:01] alexperovich commented on #13375
no, we just chose to not set the variable at all.

[2020-08-31 22:01] herenhuang commented on #12775
Hey - check out https://github.com/microsoft/azure-pipelines-tasks/issues/12401, do the instructions in there help?

[2020-08-31 22:02] herenhuang commented on #12769
Pasting the solution from the DevCommunity link here:

We've pushed a new version of vsts-npm-auth that should mitigate session token expiry problems. Please use vsts-npm-auth v.0.41.0 or greater.

Closing this issue, tho pls reopen if that doesn't fix the problem.

[2020-08-31 22:02] #12769 closed

[2020-08-31 22:05] DaDarkWizard commented on #13290
Yes, NuGetAuthenticate works as expected.

[2020-09-01 00:01] anti-matter commented on #13428
@bishal-pdMSFT
Here is #4 from your request (the PATH environment). We just hit this several more times today!!

`2020-08-31T20:25:10.2947477Z C:\agents\2.174.1\externals\git\cmd;C:\Program Files\Mercurial\;C:\Program Files\MongoDB\Server\4.4\bin;C:\aliyun-cli;C:\ProgramData\kind;C:\vcpkg;C:\cf-cli;C:\Program Files (x86)\NSIS\;C:\Program Files\Mercurial\;C:\hostedtoolcache\windows\stack\2.3.3\x64;

[2020-09-01 06:03] Tovli commented on #13478
Well, the classic issue of "problem solved when the expert is here" just happened and the release succeeded
I tried it multiple times now and it seems ok
So I think you can close this and I hope it won't regress :)
Thanks for assisting and the prompt response

[2020-09-01 06:11] AmrutaKawade commented on #13478
That's Great!!!
Closing this issue.
Feel free to reopen if it regresses.

[2020-09-01 06:11] #13478 closed

[2020-09-01 08:20] anatolybolshakov commented on #12954
Hi @BillyONeal, I see that microsoft/vcpkg#12884 is merged - do you have any updates with testing it?

[2020-09-01 08:29] andreujuanc commented on #10353
Work around is good and all, but in some orgs, it can take quite a while until you get a marketplace extension approved, if at all.
100% should be handled by Azure Pipelines and not some random extension.

[2020-09-01 11:25] AmrutaKawade commented on #12607
are you still facing issue?

[2020-09-01 11:28] AmrutaKawade commented on #12953
Closing this issue due to inactivity.

[2020-09-01 11:28] #12953 closed

[2020-09-01 11:34] #13190 closed

[2020-09-01 11:37] HardNorth opened #13490 "Unable to push image to ACR if basic authorization used"
# Required Information
*Type*: Bug
**Enter Task Name**: Docker

## Environment
- Server - Azure Pipelines
  - Account Name: Vadzim Hushchanskou
  - Team Project Name: Report Portal
  - Build definition: service-api
  - Build number: any, starting from build 21, e.g. 29

- Agent - Hosted:
    - Agent Queue name: Azure Pipelines

## Issue Description
The Docker task unable to push a newly built imag

[2020-09-01 11:55] lg2de opened #13491 "PublishSymbols fails after Windows Update"
## Required Information

**Question, Bug, or Feature?**: Bug
**Enter Task Name**: PublishSymbols

## Environment
- Azure DevOps Server (on-premises) Version Dev17.M153.5
- private Agent
  - on Windows Server 2019 Version 1809
  - agent version 2.170.0
  - 5 agents are identically configured to the same pool

## Issue Description

The builds using PublishSymbols task were running fine until install

[2020-09-01 12:24] stuartdga commented on #11286
I agree with @davidje13. I have also found your approach to be extremely frustrating. For one thing, it just isn't documented. For another, it's counter-intuitive. @fadnavistanmay & @johnterickson I would like the cache to be created and to be resolved correctly to what is brought down from git initially. All that I am doing between the cache step and the post-cache step is just a restore and buil

[2020-09-01 12:49] egor-bryzgalov commented on #13477
Hi, @inforithmics!

We managed to find the root cause of the issue. I'll let you know once we prepare a solution.

[2020-09-01 17:55] anatolybolshakov commented on #7339
@JonathanNEMRY ok, thanks! Are you using on-premise solution or Azure DevOps Services? Could you please also provide task version which you are currently using? You can find it at the top of task logs:

![image](https://user-images.githubusercontent.com/8779682/91888757-7d054100-ec95-11ea-90c3-e3613778d1dc.png)

[2020-09-01 19:00] BillyONeal commented on #12954
We haven't seen it happen yet but it was never a consistent repro. Feel free to close for now and we'll reopen if we see it again.

[2020-09-01 21:18] inforithmics commented on #13477
Great, if you need more info I'll can give it to you tommorrow

[2020-09-02 01:19] johnterickson commented on #11864
This would only be for persistent agents (e.g. self-hosted or VMSS).

[2020-09-02 03:09] #9637 closed

[2020-09-02 06:14] t-dedah commented on #13419
@jklaus Fix for this will be deployed this week, where we will be able to add input for compatible Visual studio version and sdk version will be installed accordingly.

[2020-09-02 07:09] ds-ms commented on #13490
cc: @ajinkya599 could you take a look

[2020-09-02 07:17] ajinkya599 commented on #13452
Managed Identity based service connection is not supported in Docker task. The service connection needs to be based on [service principal](https://github.com/microsoft/azure-pipelines-tasks-common/blob/main/docker-common/registryauthenticationprovider/acrauthenticationtokenprovider.ts#L43) to work with Docker task.

[2020-09-02 07:21] rlevchenko commented on #13452
@ajinkya599 thanks. So, I understood the code correctly :) and already switched to SP

[2020-09-02 07:21] #13452 closed

[2020-09-02 07:22] ds-ms commented on #13408
Closing stale issue; feel free to reopen if this problem still persists.

[2020-09-02 07:22] #13408 closed

[2020-09-02 09:10] ekaterina-tatanova commented on #13456
@veepee78 It seems like it's an [external](https://github.com/PowerShell/PowerShell/issues/7005) issue. What version of PowerShell do you use? Are you able to check if this issue is reproducible on MS-hosted agent?

[2020-09-02 09:29] bz-wow commented on #7247
I tried a .net core app, encountered the issue as well. But it doesn't need a copy file task, instead we can specify an output location for the "dotnet build" command, to let it output to $(Build.ArtifactStagingDirectory). Samples as below.

`steps:
- script: dotnet build --configuration $(buildConfiguration) **--output $(Build.ArtifactStagingDirectory)**
  displayName: 'dotnet build $(buildConfig

[2020-09-02 11:06] joacar opened #13499 "NuGetCommand@2: 'mono' not found on Linux agent"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NugetCommand@2

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - **If using TFS on-premises, provide the version: Azure DevOps Server Version Dev17.M153.5**

    - If using Azure Pipelines, provide

[2020-09-02 11:21] joacar commented on #13499
There is no install mono task ...

[2020-09-02 12:35] joacar commented on #13499
Lets close this since I understand that mono is needed to be installed. Issue was created hasty. Perhaps provide MonoInstaller@1 or just install mono if NuGet in Linux depends on it.

[2020-09-02 12:35] #13499 closed

[2020-09-02 13:35] ekaterina-tatanova commented on #13387
@tlbonds2 Do you still run into this issue?

[2020-09-02 13:53] roofiq commented on #12066
Closing as we have started using yaml and this issue is no longer relevant.

Cheers,
Rafal

[2020-09-02 13:53] #12066 closed

[2020-09-02 13:58] tlbonds2 commented on #13387
Hello,
Yes we are still seeing the issue and we are wondering if the following commit caused the issue:
https://github.com/microsoft/azure-pipelines-tasks/commit/d176141b06c23aac345ff21c4d2fa74e3ef95956#diff-99ba5d31f4a9541e7aff1ae8d5e37cdf
When the MavenV3 task went from version v3.171.0 to 3.173.0, the Jacoco code coverage stopped being passed to Sonar and Sonar then reports 0% code coverage.  I

[2020-09-02 14:11] anatolybolshakov commented on #12954
@BillyONeal ok, thanks! I'm closing it at the moment, please feel free to reopen it again if it appears

[2020-09-02 14:11] #12954 closed

[2020-09-02 15:05] veepee78 commented on #13456
powershell 5.1

Seems similar, but my command is much simplier. And as I told it works when run manually on the agent but not with the task.
Not sure, we have not used hosted agents.

[2020-09-02 17:50] tiagospies commented on #13482
I temporarily resolved this way:
![image](https://user-images.githubusercontent.com/10756130/92018533-a4a6e880-ed2b-11ea-88c9-e907289fe92c.png)

[2020-09-02 21:13] alvipeo commented on #13124
Do not assign **Storage Blob Data Contributor** on a Subscription level. You may have a security issue. If you work with blob container you can assign this role to DevOps Service Principal for Storage account or even blob container.

[2020-09-02 21:20] allendgoodner commented on #10968
Happening to us today...

[2020-09-02 22:06] aravindmungara commented on #13423
I noticed that Correct browser configuration is not passing . Fixed configurations on release pipeline and it is working fine

[2020-09-02 22:06] #13423 closed

[2020-09-03 06:23] robearlam commented on #12470
Any update on this @ds-ms ?

[2020-09-03 07:21] alexander-prozorov commented on #13468
Hello @maxim-lobanov,

It looks like we already have the retry logic at the azure-devops-node-api level. By default we have 5 retries already:

[code]

Where WebApi passes this options object to the HttpClient [here](https://github.com/microsoft/azure-devops-node-api/blob/master/api/WebApi.ts#L163).

As far as I can see, this issue has not occurred since August 20th. Is it still relevant?

[2020-09-03 07:36] ankur198 commented on #12620
I got this same error(randomly) during `InstallSshKey` task which also downloads a secure private key

[2020-09-03 08:25] Oshein123 opened #13508 "Xamarin.iOS task failed with error Error: /Library/Frameworks/Mono.framework/Versions/6_12_0/bin/msbuild failed with return code: 1. For guidance on setting up the build definition, see https://go.microsoft.com/fwlink/?LinkId=760847."
Trying to run one xamarin code in visual studio app center.

logs :

"/Users/runner/work/1/s/iSmart.sln" (Rebuild target) (1) ->
"/Users/runner/work/1/s/ISmart.UnitTest/ISmart.UnitTest.csproj" (Rebuild target) (11) ->
(CoreCompile target) ->
  XFDependancyServiceStub.cs(8,44): error CS0246: The type or namespace name 'IXFDependencyService' could not be found (are you missing a using directive or a

[2020-09-03 08:41] MarkIannucci opened #13509 "NugetCommand@2 versioningScheme: byBuildNumber truncates a build number with a hyphen"
## Required Information

Entering this information will route you directly to the right team and expedite traction.
*Type*: Bug
**Enter Task Name**: NugetCommand@2

## Environment
- Server - Azure Pipelines
https://dev.azure.com/DenverHealth-EpicCogito/Epic/_build/results?buildId=34892&view=results

- Agent - Hosted or Private:
Hosted: windows-latest

## Issue Description

I tried to use the built

[2020-09-03 09:36] sdobrodeev commented on #13508
@Oshein123 Could you please provide minimum steps to reproduce - there may be a minimal test project that reproduces this behavior.

[2020-09-03 10:49] ekaterina-tatanova commented on #13456
@veepee78 It works correctly when the destination folder already exists both when you run manually and with the task. But when there's no destination folder, it misses the sub-directory 'assets' in both cases. Have you had the destination folder before running manually?

[2020-09-03 12:15] ekaterina-tatanova commented on #13387
@tlbonds2 Could you please provide your logs?

[2020-09-03 14:27] dlm69 opened #13510 "SQLPackage Errors when using /AccessToken from Pipeline"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure SQL DacpacTask

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

I am running a dacpac deployment uisng an access token (previous step) in the pipeline. The dacpac deployments see

[2020-09-03 19:03] jdthorpe commented on #12485
I believe this is a bug relating to granting permissions to the Service Connection in Azure Pipelines.  Specifically granting permissions via the "this pipeline needs permissions to run" popup grants sufficient permissions for AzureFileCopy@3 task but not the AzureFileCopy@4 task.

The solution is to:

- open the Devops pipeline and note the name of the service connection
- open the project settin

[2020-09-03 19:09] MaksimC opened #13511 "JUnit failure type = "warning" fails the build"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-09-03 19:17] jdthorpe commented on #13159
Seems weird that (A) AzCopy v10 (and hence AzureFileCopy@4) enforces permissions differently than the underlying blob storage  data plane, and (B) that granting permissions via the "this pipeline needs permissions to run" popup when running the Azure Pipeline grants sufficient permissions for AzureFileCopy@3 task but not the AzureFileCopy@4 task.

For those unfortunate enough to be as confused abo

[2020-09-03 20:35] MartinDemberger opened #13512 "Timeout parameters for ServiceFabricDeploy aren't documented"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: ServiceFabricDeploy

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

In task ServiceFa

[2020-09-03 21:45] planetmarshall commented on #12503
+1 The default operation doesn't support the Gitflow model where short lived feature branches are forked and merged back into a develop branch, rather than master which is purely for releases.

[2020-09-03 23:22] AlexA-1976 commented on #7243
I'm also seeing this issue, trying to extract multiple UI test projects into the same destination folder.

[2020-09-03 23:51] AlexA-1976 commented on #11593
Please add this capability!

[2020-09-04 05:28] arjgupta commented on #13232
@mpoiron are you still facing the issue ? can you try setting the MSDEPLOY_RENAME_LOCKED_FILES app setting and setting it's value to 1.

https://github.com/projectkudu/kudu/wiki/Dealing-with-locked-files-during-deployment#for-msdeploy-there-is-another-option-to-rename-locked-files

[2020-09-04 09:10] meriturva commented on #11247
I confirm that issue is fixed and my release pipeline is green for the first time!
Thanks!

[2020-09-04 09:15] raswinraaj commented on #7243
As a workaround, I moved the extract and the subsequent tasks to a different agent job. That solved the issue.

[2020-09-04 13:49] jrybacek commented on #11593
@stephenmichaelf when this PR is accepted, how long will it take to get into the Azure DevOps cloud product?

[2020-09-04 14:38] egor-bryzgalov commented on #13477
Hi, @inforithmics

The fix for that issue has been merged. I'll let you know once it's deployed. Thanks!

[2020-09-04 14:52] GaTechThomas commented on #11934
We're suddenly seeing this issue. Agents are on 2.174.1.

[2020-09-04 15:41] ddprince-yaksa commented on #4743
After testing the whole thing, I have found out that there is an error in the initial script which makes us think we are validating the right value. See the line - script: echo "##vso[task.setvariable variable=valno;isOutput=true]no" does NOT save the value no, but instead no" (Double quote really important here). So when the stage is checking whether is should be ran or not, checking against no w

[2020-09-04 16:25] f3ltron commented on #12770
same bug here

[2020-09-04 22:46] thurfir commented on #13232
Hi, afaik MSDEPLOY_RENAME_LOCKED_FILES is for Azure, right? This is on-premise.

[2020-09-04 22:55] mizhgun commented on #6439
@keesschollaart81  actually no need to pull, just additional [variable](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/containers/build-image?view=azure-devops#buildkit) and [argument](https://docs.docker.com/engine/reference/commandline/build/#specifying-external-cache-sources)

Something like that:
[code]

[2020-09-05 23:52] jason-e-gross commented on #9565
It doesn't work in YAML, either - and yet the documents dated 8/2020 still show it.   I'd recommend this be re-opened.

`##[error]Unrecognized value: 'dependencies'. Located at position 10 within expression: contains(dependencies.`

[2020-09-06 16:22] NenoLoje commented on #11245
@bishal-pdMSFT Any update on this one?
Will we ever see a built-in task that can run .NET Core tests under Linux (that knows how to publish results into Azure DevOps)? Thanks!

[2020-09-06 17:01] FuncLun opened #13514 "Feature Request: IIS Web App Deployment deploy to new folder"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: IISWebAppDeploymentOnMachineGroupV0

## Environment
- Server - Azure Pipelines

- Agent - Private: Windows 2016 Datacenter, agent v2.174.1

## Feature Description

The "IIS Web App Deploy" task should limit downtime during the deployment by having a feature to extract and transform to a new folder, then u

[2020-09-07 04:39] kmkumaran commented on #13514
@N-Usha , @chshrikh , @nadesu  - Can you review the request.

[2020-09-07 06:40] 20shivangi commented on #13087
We are unable to repro this issue at our end. Can you please answer above question : how the pipeline is configured and which az/azurerm module are you using ?

[2020-09-07 06:56] alexander-prozorov commented on #13468
Hi @maxim-lobanov,

Could you please confirm that we need the retry logic at the task level since we already have it in the node api?

[2020-09-07 07:13] 20shivangi commented on #13510
@dlm69 Please attach the full debug logs here by setting variable system.debug to true in your pipeline/release.

[2020-09-07 07:17] 20shivangi commented on #12607
Closing this issue since there is no response from a long time.
Please feel free to re-open if you face some issue.

[2020-09-07 07:17] #12607 closed

[2020-09-07 07:51] maxim-lobanov commented on #13468
Unfortunately, this issue still reproduces sometimes. [Example](https://buildcanary.visualstudio.com/PipelineCanary/_build/results?buildId=1084050&view=logs&j=2a76672d-928d-5404-2031-2a96851d5b43&t=1c275fed-b058-4156-841a-6dcbd9198a23)

Any ideas why retry logic doesn't help in this case? How can we check that retry logic is really used in that failed task?

[2020-09-07 09:17] timg83 commented on #12147
What is the current news about this issue? We are also receiving these. No blocking issues so far, but warnings are a signal something is not good and is a sign for something worse in the future.

Please do provide some feedback on this.

[2020-09-07 09:55] 20shivangi commented on #13432
Have fixed the issue in PR : https://github.com/microsoft/azure-pipelines-tasks/issues/13432

[2020-09-07 10:48] ds-ms commented on #13454
Closing stale issue, feel free to reopen

[2020-09-07 10:48] #13454 closed

[2020-09-07 14:27] ricohomewood commented on #10903
Hello is there a planned eta on this limitation @chshrikh @nadesu ? thanks

[2020-09-07 15:37] anatolybolshakov commented on #13476
Hi @dannythomas13 this seems to be related to some incompatibility between tools versions on image and tools versions which you are using locally. You can find current tools versions installed on hosted images [here](https://github.com/actions/virtual-environments/tree/main/images)
Could you please verify that your project is targeted for these tools versions and give us some minimal test project

[2020-09-07 21:12] Abrishges opened #13517 "MSBuild subsequent task always uses the latest version when specific msbuild version selected"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-09-08 04:34] nadesu commented on #10903
@N-Usha can you take the first stab at this request?

[2020-09-08 04:50] spmanjunath commented on #13462
@phanikmmsft :  Let me know if you need additional information on this issue.

[2020-09-08 05:59] N-Usha commented on #10903
@ricohomewood / @EwanNoble  - Thanks for reaching out. Can you please help understand the ask here better... We understand that the mentioned App settings can be used to customize the warm-up behavior during slot swap. However these settings can also be manually applied on the App using our App service settings task. Could you please confirm if you have tried that option already and if you are fac

[2020-09-08 06:07] ds-ms commented on #13262
That's probably because whenever you use an endpoint in your pipeline, there's some preprocessing done by the server before it's handed off to the agent. The preprocessing involves fetching the serviceEndpoint and setting variables in a way the task SDK understands.

To avoid setting variables globally, you could leverage a feature called `Environments` and `Kubernetes Resource` where you can bind

[2020-09-08 06:14] rizi commented on #10513
@AndreasHeisel could you please reopen the issue, we also have the same warnings.
Azure DevOps Server (on premises 2019.1) and VS 2019 16.6.x.
AND
Azure DevOps Server (on premises 2020 RC2) and VS 2019 16.6.x please reopen the ticket.

[2020-09-08 08:02] EwanNoble commented on #10903
Hi @N-Usha, there is no issue with specifying that app settings, that is fine and we are using those already. The issue is that when these settings are applied the Azure DevOps task is still pinging the root of the application here: https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureAppServiceManageV0/operations/AzureAppServiceUtils.ts#L53-L71

The ask is that IF these setti

[2020-09-08 08:05] 20shivangi commented on #11631
@amccool Is this issue still occuring ?

[2020-09-08 08:28] richardzaat commented on #10513
We are still experiencing the issue as well.

[2020-09-08 09:15] EDasilvaCorreia commented on #13361
Having the same issue as well, I have to redeploy multiple times in order to get this to work which isn't ideal. any workarounds?

[2020-09-08 09:23] candritzky opened #13518 "DownloadPipelineArtifact with preferTriggeringPipeline not working as expected"
**Question, Bug, or Feature?**
*Type*: Bug, or missing feature, or maybe just a question, not sure.

**Enter Task Name**: DownloadPipelineArtifact

## Environment
Azure Pipelines, on-premise agent.

## Issue Description

We have a build pipeline with two pipeline triggers. The goal of this pipeline is to download the artifacts from two different source build pipelines to copy them to some network