[2019-09-09 05:37] SumiranAgg commented on #11306
Thanks for reporting this. I will be making a fix soon.

[2019-09-09 06:33] #11283 closed

[2019-09-09 07:17] caphuevo commented on #11191
There is any progress with this issue?

[2019-09-09 08:01] arjgupta commented on #11158
@greengumby can you try running a powershell task and try to run the invoke-command cmdlet and see if you can make a connection to the target machine.

[2019-09-09 08:06] #11120 closed

[2019-09-09 08:16] issacnitin commented on #11277
@ashutak84 Hope this resolved your issue. We're closing the ticket, please feel free to reopen if you face any issues.

[2019-09-09 08:16] #11277 closed

[2019-09-09 08:35] diepnn01 commented on #10302
how i can set legacy for iOS project?

[2019-09-09 08:38] tientruongvan1995 commented on #10302
In Build configuration
![image](https://user-images.githubusercontent.com/29093461/64516002-dc956e80-d317-11e9-97f8-2dd4eb94effa.png)

[2019-09-09 09:06] omeshp commented on #9826
@EraYaN I see that the documentation for the field is updated now at https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-build-artifacts?view=azure-devops. If you are still running into any issues with the new version of task let us know.

[2019-09-09 09:06] #9826 closed

[2019-09-09 09:20] diepnn01 commented on #10302
I still get error. :))
<img width="606" alt="Screen Shot 2019-09-09 at 4 18 44 PM" src="https://user-images.githubusercontent.com/17587944/64519049-9511e100-d31d-11e9-837e-8ee3cd5455e9.png">
[1_Build.txt](https://github.com/microsoft/azure-pipelines-tasks/files/3589669/1_Build.txt)

[2019-09-09 09:45] Jon889 commented on #10948
@madhurig Is it possible to get this looked at?

[2019-09-09 13:07] saxenark opened #11308 "What does this branch graph mean?"
Hi,

What is the best way to interpret this git branch history graph? I have tried it a few ways but given what I know about the branches I have, it does not make much sense to me.

![image](https://user-images.githubusercontent.com/2850526/64533212-a1ec0000-d330-11e9-90f7-f2d512a374d3.png)

Also, based on this knowledge I want to know what branch has all the changes and which branches I can delet

[2019-09-09 13:17] oleksabor commented on #9673
@Lovakumar Please enable this feature on https://dev.azure.com quipu-cwnet account

[2019-09-09 13:26] IanKemp commented on #11130
@bishal-pdMSFT Right now this isn't an issue for my organisation, as we only have 1 affected pipeline and the workaround @anuragc617 provided solves its issue. But I would be interested in providing a PR regardless, as the code it contains can later be repurposed for the next version of this task.

My only questions to you would be regarding the name of the variable (should it be prefixed/suffixed

[2019-09-09 14:00] jonathaneckman commented on #11063
This seems to be resolved. I learned it was caused by using a 32 bit agent on a 64 bit VM.

[2019-09-09 14:00] #11063 closed

[2019-09-09 15:17] bootress commented on #10792
I'm having the exact same issue as @anaisbetts. While trying to install the _second_ certificate as part of a pipeline:
[code]
It says to use a temporary keychain, which I already am doing. Anyone aware of a workaround for this?

[2019-09-09 15:28] willsmythe commented on #10925
This feature is merged and will be available in the v2.157.0 agent, which should be rolling out everywhere this week.

The functionality is currently "opt in" --- you need to set the `AZP_CACHING_TAR` variable to `true` to use it.

**IMPORTANT**: this variable is only checked on "cache save", which only runs if needed (i.e. a cache entry with the same key doesn't already exist) and the build statu

[2019-09-09 16:12] fadnavistanmay commented on #10892
Thanks @compuguru for your contribution. Hi @olandese - I am finishing some final testing, and I expect this to be merged in a day or so, and released in the next agent version.

[2019-09-09 18:40] #10892 closed

[2019-09-09 18:54] mikeblakeuk opened #11310 "sampleInterval isn't used in start-collect-diagnostics.ps1"
https://github.com/microsoft/azure-pipelines-tasks/blob/8a1ed3827d52ac64f088d2133292a086a26db8f8/ci/start-collect-diagnostics.ps1#L27

[2019-09-09 20:15] ryancflowers commented on #11059
Same issue with both tasks, this simple error is causing lots of issues getting our pipelines to work the way we need!

[2019-09-09 21:10] lcmbam opened #11311 "Visual Studio Test v2 tasks fail with error: Failure attempting to call the restapis System..."
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Visual Studio Test v2

## Environment
- Server - Azure Pipelines

- Agent - Private
    - Windows 10x64 running agent 2.153.2

## Issue Description

Release pipelines that have been unchanged are failing with the following error:
```##[error]Failure attempting to call the restapis System.Threading.Tasks.Task`1[Microsoft.TeamFoundatio

[2019-09-10 05:58] vithati commented on #11014
@johnburns320,  Can you provide the above details if you are able to repro the issue.

[2019-09-10 06:01] ajinkya599 commented on #11099
@prongcs - Can you please answer the question asked above by @ds-ms ?

[2019-09-10 06:45] max-lobanov commented on #11288
Hi, @sbolotovms ,

Based on your logs, you use incorrect destination parameter: `-destination platform=iOS,name=Generic iOS Device`.
The correct one should be `-destination generic/platform=iOS` according to [the article](https://www.mokacoding.com/blog/xcodebuild-destination-options/).

Could you please try to specify the following settings to XCode task:
![Screen Shot 2019-09-10 at 9 43 28 AM](h

[2019-09-10 07:05] vithati commented on #10988
@drauch, you can write custom gate for your scenario.  https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/authoring/gates.md helps writing customer gate.  Refer some of the gate tasks for reference https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks

[2019-09-10 07:07] Anumita commented on #10274
@darzu , is this working for you?

[2019-09-10 07:11] ptr1120 commented on #11259
I am having the same problem: `##[error]The path provided is invalid.`. The caching task crashes on post-job on other agents (osx, linux) then windows.

[2019-09-10 07:56] SumiranAgg commented on #11306
Closing issue, since fix is merged. Will be available during next sprint deployment.

[2019-09-10 07:56] #11306 closed

[2019-09-10 08:00] drauch commented on #10988
@vithati: In my scenario I'd perform some checks on the input artifact - is this a good idea? It looks like gates are retried again and again until they're fulfilled. If my check of the artifact fails, the gate is never going to open.

Is there a better way to implement such a behavior in Azure DevOps?

[2019-09-10 08:29] SumiranAgg commented on #11307
Thanks for reporting. We will update the APIs and hotfix ASAP.

[2019-09-10 08:52] SumiranAgg commented on #11301
@saxenark There are two concepts here:
Deployment pool is an account level object
Deployment group is a project level object

Also a deployment group needs to be backed up by a pool.

Now to answer your question, "Available pools" tab lists deployment pools that are available to be shared in the current project. Once shared, a deployment group will be created, and a corresponding entry appears und

[2019-09-10 08:52] #11301 closed

[2019-09-10 09:14] SumiranAgg commented on #11227
I agree the documentation is a bit confusing.

You actually have to provide "azureSubscription" or" azureClassicSubscription" so that we can talk to azure service.

@N-Usha Can you add a comment in YAML snippet calling out one ofthese inputs is mandatory.

[2019-09-10 09:24] SumiranAgg commented on #11180
Can you set variable "System.debug" with value "true". Redeploy and share logs at RM_Customer_Queries@microsoft.com

[2019-09-10 09:30] SumiranAgg commented on #11129
@craigmpeters Can you share complete debug logs at RM_Customer_Queries@microsoft.com
To get debug logs add variable "System.debug" with value "true" to your release, re-queue and share logs.

[2019-09-10 09:55] N-Usha commented on #11227
Documentation already mentions that the fields are mandatory/Required:
- task: SqlAzureDacpacDeployment@1
  inputs:
    #azureConnectionType: 'ConnectedServiceNameARM' # Optional. Options: connectedServiceName, connectedServiceNameARM
    #azureClassicSubscription: # Required when azureConnectionType == ConnectedServiceName
    #azureSubscription: # Required when azureConnectionType == ConnectedSe

[2019-09-10 09:56] Ajay-MS commented on #11157
@kevin-david

Yes, currently only default path is supported. I have marked it as an enhancement.

[2019-09-10 10:06] saxenark opened #11313 "Release Analytics tab is empty"
Hi,

I have a build pipeline for  my ASP.Net core application on Azure DevOps that does

Stage 1
Build on ubuntu vm on cloud

Stage 2
Run unit tests on my on-prem hosted agent

After this, I get the Test and Coverage related tabs under the build summary for each build

![image](https://user-images.githubusercontent.com/2850526/64604563-03b77300-d3e0-11e9-8057-387969dcb57e.png)

So far so good.

I

[2019-09-10 10:13] saxenark commented on #11301
Ok. I understand.

I have a deployment group like so for my project

![image](https://user-images.githubusercontent.com/2850526/64605261-5d6c6d00-d3e1-11e9-8bce-70cbe823738c.png)

The corresponding pool (at org level is)

![image](https://user-images.githubusercontent.com/2850526/64605316-7aa13b80-d3e1-11e9-9571-803730249a03.png)

What is the name of the pool that I need to specify in my build pip

[2019-09-10 10:18] saxenark commented on #11300
@chshrikh
Thanks for the note. But, from the link referenced, it still seems that the grammar requires a pool name to be specified. How do I specify my onprem pool name?

[2019-09-10 10:20] vithati commented on #10988
@drauch, If you keep 'Delay before evaluation' 0 it retries only for two times, you can try with gates and gates runs before deployment starts. We have feature [pipeline decorator](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-pipeline-decorator?view=azure-devops) in yaml pipeline this can be used for yaml pipelines, but this feature not available in release pipeline. It is in r

[2019-09-10 10:22] saxenark commented on #11300
Oh ok. I get it now. Deployment pools are not supported but Agent pools are. Correct?

[2019-09-10 11:37] niadak commented on #11301
Deployment Groups are not yet supported in Yaml pipeline. We are working on this and the scenario will be supported soon.
Currently Deployment Group is supported in classic Release definition with Deployment Group job where you can select deployment group.

![image](https://user-images.githubusercontent.com/11937515/64610660-65caa500-d3ed-11e9-942a-e4a6f997143e.png)

[2019-09-10 12:47] lukeapage commented on #10925
We've been using 7z compression (as above) as its the best timings. However, the 7z task to compress when the cache fails is expensive and the problem is that we get cache misses *all the time* - we might get a cache hit and then 20 minutes later a cache fail.. and we end up compressing again and again on different pipelines for the exact same cache key and that in the end makes the builds alot sl

[2019-09-10 12:58] lukeapage opened #11314 "CacheBeta task: Frequent cache misses right after cache hit"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CacheBeta

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: account: SaxoBank project: Saxo

[2019-09-10 13:39] lukeapage commented on #11314
I think my colleague worked it out - these are builds on 2 different branches.
💥 That is totally absolutely crazy!!!!
the product name is "azure devops" - devops usually encorporates CI, which without trunk based development means lots of short lived feature branches.

and every single one of them has its own cache.

What could possibly be the reason for this? it can't be to protect against pipeli

[2019-09-10 13:49] stefantalpalaru commented on #8368
Doesn't seem to apply to the "Get sources" task in the "Checkout" job: https://dev.azure.com/nimbus-dev/nim-beacon-chain/_build/results?buildId=3

`2019-09-10T13:22:18.6715952Z warning: unable to access 'json_tests_v0.8.3/general/phase0/bls/sign_msg/small/sign_msg_0x263dbd792f5b1be47ed85f8938c0f29586af0d3ac7b977f21c278fe1462040e3_0x0000000000000000000000000000000000000000000000000000000000000000_0

[2019-09-10 13:59] tanbchr commented on #7358
@yhan solution worked for me.

[2019-09-10 17:38] wli3 opened #11315 "dotnetcli publish does not use vstsfeed parameter when restoring nuget packages"
_From @nmaarse on Tuesday, September 10, 2019 11:13:35 AM_

## Steps to reproduce
                - task: DotNetCoreCLI@2
                  displayName: Dotnet Build
                  inputs:
                      publishWebProjects: false
                      command: "publish"
                      vstsFeed: '7b591551-0978-4734-ac2a-1172b12c2a17'
                      arguments: "$(solutionName

[2019-09-10 17:38] wli3 commented on #11315
_From @livarcocc on Tuesday, September 10, 2019 5:25:22 PM_

This task in Azdo is not really owned by us. I would recommend following up on the issue you have linked here already for azure pipelines.

cc @wli3 who might know someone we can ping about this.

[2019-09-11 02:28] prongcs commented on #11099
Sorry, i was away for a while and couldnt respond in time. Nope, i dint set qualify image name property to true, rather i dint use that property at all. What's the default value for the same?
Also, as mentioned earlier in my last update, I had to concatenate ImageName with the ACR Name for it work as expected.

[2019-09-11 02:52] bkaid opened #11316 "HelmInstaller: Support Helm 3"
Helm 3 is now in [beta](https://helm.sh/blog/helm-v3-beta/). Specifying `helmVersionToInstall: 3.0.0-beta.3` properly installs Helm 3 as expected, but since `helm init` (and Tiller) have been deprecated in v3, I get an error: `Error: unknown flag: --client-only`.  My current workaround is to do `continueOnError: true` but it leaves every build result marked as Warning. It would be great to get pro

[2019-09-11 05:22] vincentdass commented on #10815
@SumiranAgg , please look into this.

[2019-09-11 05:24] vincentdass commented on #11061
@SumiranAgg , please look into this issue.

[2019-09-11 07:46] marcussonestedtbarium opened #11317 "Have the PublishBuildArtifacts task fail (optionally) if no artfacts found"
## Required Information

**Type**: Feature request
**Task Name**: PublishBuildArtifacts

## Environment

- Azure Pipelines - Hosted Agent -

## Issue Description

If there are no artifacts, only a warning is given.

It'd be nice to set it to get an error, with `errorOnNoArtifacts: true` or a similar flag,.

https://github.com/MicrosoftDocs/vsts-docs/issues/5542#issuecomment-530019219

### Task log

[2019-09-11 07:55] centreboard commented on #10641
@argupta Is this available with Azure DevOps Server 2019.1?
Having updated we're getting version 3.1.2 of this task currently, while the updated version is 3.1.3?

[2019-09-11 08:50] cowlinb6 opened #11318 "How to set the Brokered Message properties in the PublishToAzureServiceBusV1 task"
Type: Question

Task Name: PublishToAzureServiceBusV1

## Environment
Server: Azure Pipelines
Agent: Hosted

Using the PublishToAzureServiceBusV1 task how do you set any of the brokered message properties, i.e. Label?

[2019-09-11 09:03] #11284 closed

[2019-09-11 09:48] Additi commented on #10950
Hi,
It will be of great help if you can request for this feature @ https://developercommunity.visualstudio.com/content/idea/post.html?space=21 to help us prioritize it.

[2019-09-11 09:52] tomaszmadeyski opened #11322 "File Transform Task - Unable to apply transformation for the given package. Verify the following"
*Type*: Bug

**Task Name**: File Transform Task

I have setup File Transform Task to apply my `web.config` transformations in my zip deployment package. It seems that it finds proper file but it's unable to apply transformation and giving no reason, just saying `Unable to apply transformation for the given package. Verify the following`:

[code]

This is my task configuration:
![image](https://use

[2019-09-11 10:22] Additi commented on #11313
You can use the test runner of your choice that supports the results format you require. Supported results formats include CTest, JUnit (including PHPUnit), NUnit 2, NUnit 3, Visual Studio Test (TRX), and xUnit 2.
Please refer to the documentation here: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=azure-devops&tabs=yaml

[2019-09-11 11:03] saxenark commented on #11313
@Additi I understand this but after having done all my tests and publishing the test & code coverage successfully as part of my build pipeline, it is little bit annoying to see the message "We didn't find any test results".

So, I still don't understand this well. Why can't the test results from the particular build being deployed & released be displayed here in the Analytics tab. Of course, I am

[2019-09-11 17:24] gschrader commented on #11180
@SumiranAgg I just emailed the logs with the debug turned on.

[2019-09-11 19:25] juliocr-ciandt commented on #10353
+1

[2019-09-11 20:31] dimiboi commented on #9711
Still broken 🙁

[2019-09-12 02:55] chrisrodriguezkinesso opened #11324 "add redirect to Web.config parameters"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-12 06:39] marcussonestedtbarium commented on #11314
I added a feature request to be able to configure how branch name affects cache keying, over at  dev comminity (whatever the right place is), see [here](https://developercommunity.visualstudio.com/idea/731018/disable-or-allow-customization-of-cache-key-wrt-pe.html)

[2019-09-12 06:41] marcussonestedtbarium commented on #11042
+1. Happens in node_modules/.bin on linux. Had to add an extra chmod step, similar to what @archive said above.

[2019-09-12 07:22] marcussonestedtbarium commented on #11314
It'd be nice to see the entire key (both explicit as configured in yaml) and implicit (whatever the task adds on it's own) so that one can see why there are cache misses. It reduces confusion.

The cache task is a great feature btw, just needs some polish around the corners to get out of beta.

[2019-09-12 07:58] tomaszmadeyski commented on #11322
I did some further investigation and I believe the issue in the code of [specialXdtTransformation](https://github.com/microsoft/azure-pipelines-tasks/blob/aacf9984665b206bc2266c6a83e5771f9d0c5416/Tasks/Common/webdeployment-common/xdttransformationutility.ts#L83).

With my current issue the task is entering `for(var transformXmlFile in transformXmlFiles)` with empty `transformXmlFiles`.

What I did

[2019-09-12 12:06] roizentner opened #11328 "Write a warning when running the VSTest task and no tests were found"
*Type*: Feature
**Enter Task Name**: VSTest

## Environment
- Server - Azure Pipelines
- Agent - Private (Windows, v2.141.1)

## Issue Description
Hi,
There used to be a warning written when VSTest task did not find any tests to run.
This warning is no longer being written to the log.

Please bring it back...
This issue was born from the feedback received in https://developercommunity.visualstudio

[2019-09-12 14:36] saxenark opened #11330 "Detached Head during pipeline build"
Hi,

I notice the following during the pipeline build stage for my git branch. I however get no 'HEAD DETACHED' error when I checkout the branch in my dev environment. Is this error significant or is it just something that is to be expected for all git based pipeline builds on Azure DevOps?

Thanks,

[2019-09-13 03:04] ricoisme opened #11333 "how can execute dll file via dotnet.exe"
Hi

I just want to execute myapp.dll via dotnet.exe so type "myapp.dll" into custom command.
But I got error message as below:
No executable found matching command "dotnet-D:\myjob-vsts-agent\_work\125\s\BackgroundJobs\MigrationJob\bin\Release\netcoreapp2.2\MigrationJob.dll"
##[error]Error: The process 'D:\myjob-vsts-agent\_work\_tool\dotnet\dotnet.exe' failed with exit code 1
##[error]Dotnet comm

[2019-09-13 06:03] Pr0methean opened #11334 "Command-line task reports false success if STDIO left open"
At https://dev.azure.com/polymorpheus/BetterRandom/_build/results?buildId=1080&view=logs&s=62add90f-9a1f-5845-6bfd-b54447f526dc&j=f43d4008-7a89-5683-a713-8042507c2c7e, the shell script exited with status 1 (otherwise there would have been log output from more Dieharder tests; see the source at https://github.com/Pr0methean/BetterRandom/blob/dce64e116c1287eb243cb6e4d6a9431297973618/dieharder.sh#L10

[2019-09-13 07:29] saxenark opened #11335 "Ownership transfer of a branch in Azure Repos"
Hi,

I have a branch for which I am the author. I want to transfer the ownership of this branch to another member in the team. How can I do this?

Thanks,

[2019-09-13 13:38] jtpetty commented on #9158
Closing this issue now that we have the docs updated to point this out explicitly.

[2019-09-13 13:38] #9158 closed

[2019-09-13 13:42] damccorm commented on #10331
Hm, I'm not able to get a repro. Does your variable have any special characters in it? Wondering if there's a weird escaping bug here.

Also, have you tried not quoting the command like @i0pr1m3 suggested? Just trying to rule out possibilities

[2019-09-13 14:03] psined1 opened #11339 "Azure SQL DacpacTask v1.0 ignores DoNotDropObjectTypes"
*Type*: Question, possibly a bug

**Enter Task Name**: Azure SQL DacpacTask

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

I have two Azure SQL servers/databases, one of which acts as a Dev db (the source) and another a Test db (the target). The database in target is currently identical to that in the source, including login and user identifiers. I have extracte

[2019-09-13 15:23] elijah1210 opened #11340 "vsts-npm-auth: Unable to authenticate when probing"
Hi,

I am on Windows.

I am attempting to use vsts-npm-auth to handle authentication against an Azure feed.

.npmrc in my users profile
`registry=https://registry.npmjs.com`

The .npmrc file in my project (next to package.json)
[code]

When I run
`vsts-npm-auth -config .npmrc -v detailed`, I receive the following.

[code]

The authentication works just fine when I add the token to my user .npmrc m

[2019-09-13 16:34] jtpetty commented on #11334
@Pr0methean - I believe the issue is that you are | the output to tee. When you do this, the exit status is the exit status of 'tee', not of the command you are piping to.

[code]

[2019-09-13 16:44] psined1 commented on #11339
I have added system.debug=TRUE variable to release pipeline. The full debug log for DACPAC task is below (for security I have masked out ASQL URL, database name and subscription id).

`2019-09-13T16:38:28.8750293Z ##[debug]Evaluating condition for step: 'Azure SQL DacpacTask'
2019-09-13T16:38:28.8750910Z ##[debug]Evaluating: succeeded()
2019-09-13T16:38:28.8751087Z ##[debug]Evaluating succeeded:
2

[2019-09-13 16:48] jashan05 commented on #7339
Hello @brcrista ,
I have the same problem and i dont want my ssh keys to be encrypted. But when i try to make SSH connection without paraphrase , it doesnt allow me to do as you showed in the attached picture above.

After reading through the comments i concluded that if i create SSH connection by giving bogus paraphrase/password. It will work.

Is my conclusion right? If so it seems to be a bug.

[2019-09-13 17:05] Pr0methean commented on #11334
No, that's not the problem: dieharder exits with status 0 even when the tests fail. It's lines 99-103 that convert the output to an exit status.

[2019-09-13 17:15] mkoertgen commented on #11307
Thanks for reporting. Facing the same issue.

[2019-09-13 17:49] jtpetty commented on #11334
@Pr0methean - ok, I see, you are right, I jumped too quickly at the 'tee'. Looking through the code, I can see where we print out the
[code]
message, but, to me, it looks like we continue to process the exit code.

Can you re-run the pipeline and and check the 'Enable system diagnostics' so we can maybe get a better idea of what is going on?

[2019-09-13 17:51] rsemenov commented on #10700
Azure Pipelines pool rolled out to all accounts at this point. Closing.

[2019-09-13 17:54] #10700 closed

[2019-09-13 19:18] tomtung commented on #10331
For reference I also have the same problem and need to do the same workaround: https://github.com/tomtung/omikuji/blob/83f33e8c62694f0ec58d28d306a59246849701bb/.ci/azure-python-build.yml#L67

Unless it's already fixed, removing this line (and maybe all such lines in the file) should help repro the problem.

[2019-09-13 19:48] ChuckBuford commented on #10866
We are having the same problem.

All the details are the same, but we are using 17.143.28912.1 (AzureDevOps2019.0.1)

Has there been any movement on this bug for the past few months?

[2019-09-13 21:06] jtpetty commented on #11009
@hiyadav - I do not believe the issue is with the task-lib. The issue appears to be that the "searchPatternPack" input is set to be of type "filePath", which is what is causing manipulation of the input. A type of "filePath" is to be used for a single file path.

[2019-09-13 23:11] jotaylo commented on #11340
Hi, this isn't really the right place for it, but there isn't a much better place, so I'll try to help here.
Are you trying to use this to authenticate to an on-premises install of TFS? vsts-npm-auth only works with the hosted version of Azure DevOps.

The probe makes an unauthenticated request to the registry, and then looks for the 'X-VSS-AuthorizationEndpoint' header in the response. `Credentia

[2019-09-13 23:47] jotaylo commented on #11304
What's happening here is that you're specifying a publishConfig/registry in your package.json file. The npm custom task prepares a .npmrc file that sets a registry and authenticates to that registry, however instead of using the feed name in the registry string, it uses the feed's id. Without the publishConfig value in the package.json, this registry would be picked up and published to, however wi

[2019-09-14 22:52] Trolldemorted commented on #10831
I just lost several hours because of this bug. Could you emit a warning if `projects` is used in combination with `pack` and link to this issue @sachinma ?

[2019-09-14 23:05] StingyJack commented on #6136
... and I have no idea or interest in YAML builds.  I dont want to use a text editor and CLI for anything I dont have to. When I can hit a key chord to build instead of writing a script to figure out how to execute csc.exe, that is a WIN. That is also PROGRESS.  I dont understand this backwards romanticism with raw text editing.

[2019-09-15 04:54] staff0rd opened #11344 "File Transform (JSON) same name different shape across files"
**Question, Bug, or Feature?**
*Type*: Question/Feature
**Enter Task Name**: FileTransform
## Environment
Azure Pipelines

- staff0rd/5
- Hosted/ubuntu-latest

## Issue Description

A tfx extension for Azure Pipelines requires a manifest.json with a `version: "1.0.0"` format and a taskName/task.json with a `version: { Major: 1, Minor: 0, Patch: 0}` format.

I can define the following;
[code]
But t

[2019-09-15 06:00] Amax165 commented on #10866
I am not aware of any progress regarding this bug.

[2019-09-15 07:44] hiyadav commented on #9171
**With UseDotNet V2 task**: we have added the functionality to install latest versions by specifying the version spec in the following formats
1. 2.2.x
2. 2.x
3. absolute version: 2.2.108

This also works with DotNetCore 3.0

Hence closing the issue.

[2019-09-15 07:44] #9171 closed

[2019-09-15 09:34] bhicks329 commented on #11151
@bishal-pdMSFT - What would be the recommended alternative approach until this is hopefully implemented?

[2019-09-15 10:51] ashutak84 commented on #11277
Thanks, this has solved the problem, sorry for the late reply.

[2019-09-15 11:01] ashutak84 opened #11345 "System.Nets.SocketException in Azure function app"
## Note
Deployed Azure function app via Azure Function App Deploy task in release.

## Required Information

Azure function app run time error

**Question ?**

Following error is coming up in telemetry when i try to deploy the function App from release task. I have attached the YAML, i have also attached the stack trace of the error. This is the common message which appears: "An attempt was made t

[2019-09-15 15:56] JosephG3001 commented on #11191
Setting /p:BlockOnPossibleDataLoss=true worked for me.  I can delete columns without the release pipeline failing.

[2019-09-16 03:21] saxenark commented on #11313
@Additi : As I have mentioned, my CD & Release pipeline uses on-prem hosted agent. It appears to me that CD YAML does not yet support on-prem hosted agents. So, I guess I can't show the test results from build pipeline in the Release->Analytics tabs just yet. Am I correct?

[2019-09-16 04:13] bishal-pdMSFT commented on #11151
@bhicks329 no good alternative other than using a Subscription/Resource group scoped service connection.
Another option would be to use bash/powershell task and login using a script.

[2019-09-16 04:32] bishal-pdMSFT commented on #11130
@IanKemp sorry for late reply - this went under the radar.
We can have a name like `__PUBLISH_PRESERVE_DIRECTORY_STRUCTURE__`. What do you think?

You can use task lib to get variable value - `tl.getVariable('__PUBLISH_PRESERVE_DIRECTORY_STRUCTURE__')`

[2019-09-16 04:36] #11056 closed

[2019-09-16 07:01] SumiranAgg commented on #11345
You might have reached socket limit. I cannot find any official documentation but please check out this blog fore more information https://blog.vjirovsky.cz/azure-functions-and-forbidden-socket-exception/

[2019-09-16 07:23] gfoidl commented on #9171
@hiyadav thx 👍

[2019-09-16 07:30] SumiranAgg commented on #11344
This is happening because you have a variable 'version' defined. This key is present in both manifest.json and task.json. In manifest.json it substitutes the value of version key which is desirable, when it does the same for task.json it causes an issue in this case. As a workarounf you can configure two jobs with file transform tasks, and define job level varibales. Ref doc: https://docs.microsof

[2019-09-16 08:07] SumiranAgg commented on #11324
@chrisrodriguezmbww Can you elaborate? Do you want to add a redirect config setting in web.config or is it something else.

[2019-09-16 08:32] richardzaat commented on #10513
Hi,

We are using Azure DevOps, with onprem agents behind a firewall, proxy et cetera. We use agent 2.155.1 and latest version of vstest. Still our builds get the error message as mentioned above, and it takes roughly 20 seconds before the next comes in:

[code]

[2019-09-16 09:35] IvanAlekseev commented on #10819
@kisantia hello, I see that new version of sql package got released, but I can't find any mention of this bugfix in [release notes](https://docs.microsoft.com/en-us/sql/tools/release-notes-sqlpackage?view=sql-server-2017). Is it there?

[2019-09-16 11:42] dikhakha commented on #11081
@Shri-Humrudha The fix is being rolled out with Azure Resource Group Deployment task 2.157.2 . It will be available in all regions soon.

[2019-09-16 12:15] richard-ob opened #11346 "Cannot set unique testRunTitle when using dotnet test for multiple projects"
Using the `test` command with `DotNetCoreCLI@2` allows you to run dotnet test against multiple projects in a single task. DotNetCoreCLI allows the passing of a `testRunTitle` which is subsequently used when the results are published to Azure DevOps' Test Run page. At present I cannot see that it is possible to set the `testRunTitle` to be different for each project, or an option that would set `te

[2019-09-16 13:20] issacnitin commented on #11333
@ricoisme Currently we donot have support to run the dll directly, You could use the Run command to build and run the project. Follow the screenshot below
![3](https://user-images.githubusercontent.com/4218887/64961322-d91f5b80-d8b2-11e9-8d4e-8c2689d2421e.PNG)

[2019-09-16 15:14] dandrejvv opened #11347 "NuGet push retry capability"
*Type*: Feature

NuGet

## Issue Description

When publishing Nuget packages to DevOps Artifacts, it sometimes fail with an internal error:

   at Microsoft.VisualStudio.Services.WebApi.VssHttpClientBase.<SendAsync>d__31.MoveNext()

It's not so much that I want to report that error as getting that resolved will take too long. I want to be able to set a retry action to try 2 more times at least so

[2019-09-16 15:43] johnterickson commented on #11314
@owenhuyn  / @fadnavistanmay - I thought we had updated to include this. Has it just not rolled out yet?

@lukeapage / @marcussonestedtbarium - Thanks for your feedback here - you are right that the concern is security.  There are flows that are particularly concerning (like a CI on a PR from a fork being able to affect the CI cache) and there are flows that are much less (two feature branches fro

[2019-09-16 18:52] ashutak84 commented on #11345
I have already googled that blog it didn't help solve the problem, i have already done the code changes as suggested by them and it works fine when publish it from Visual Studio,
i did following thing:

1. Used VSO's release pipeline with release task Azure App Service Deploy and deployed the service in a very high S3 app service plan. Didn't work, kept giving me the above error.
2. I deployed fro

[2019-09-16 18:59] tegaaa commented on #11104
I'm also still seeing this problem as of today.  I don't want to add more tasks then necessary if this is a bug.  I don't really have loc in my application so i'll assume the warning will go away once fixed.

[2019-09-16 19:26] elijah1210 commented on #11340
@jotaylo I have a sneaking suspicion that it's an on-premises install of TFS instead of a hosted version. Are there any other ways that I can verify?

Something I noticed is that there when I click the connect to feed, it doesn't recommend vsts-npm-auth as a tool.

[2019-09-16 19:40] jotaylo commented on #11340
If it's a hosted version the uri will be either `https://[org].visualstudio.com` or `https://dev.azure.com/[org]`
(and yes, vsts-npm-auth only shows in connect-to-feed in the hosted version).

The connect-to-feed UI generates a 90 day token, but users can use the security dialog to generate a token that is valid for up to a year: see [Create a token that lasts longer than 90 days](https://docs.mic

[2019-09-16 20:21] elijah1210 commented on #11340
Hmm... Okay, I am pretty comfortable saying that TFS is on premise. The URL follows this pattern https://{server}:8080/tfs/.

I guess I'll have to investigate using the tokens or some other method.

[2019-09-16 20:46] jotaylo commented on #11340
Yep, that's on premise. I'm sorry about that, unfortunately there are technical differences between how auth works between hosted and on-prem, and we're only able to get vsts-npm-auth working for the hosted instance at this time.

[2019-09-16 20:46] #11340 closed

[2019-09-16 22:15] moswald commented on #11246
@andrewconnell I'm not seeing what you're seeing, but I don't want to toss this back as "can't repro". Can you provide logs for a failing build? Run with system diagnostics enabled. Thanks!

[2019-09-16 22:33] katlimruiz opened #11349 "DownloadBuildArtifactsV0: allowPartiallySucceededBuilds for multistage pipelines"
I have an azure-pipelines.yml with
Pipeline 1: Build, Stg and Prod. Stg and Prod are set with manual check. This is working fine.
The build stage generates a nupkg which is published as artifact.

I have a azure-pipelines-nuget.yml with
Pipeline 2: DownloadBuildArtifact, Publish to Nuget.
This will download the artifact from P1, and then push to nuget.

This was working fine before P1 was converte

[2019-09-17 04:54] arjgupta commented on #11287
@senthilkungumaraj since you are using azure powershell task on a linux agent, you must be using powershell core. what is the version of powershell core that you are using ? What is the version of Az PowerShell modules that you installed on your local machine ?

[2019-09-17 05:37] ajinkya599 commented on #10616
@adam-resdiary - Were you able to try this out ?

[2019-09-17 05:46] ricoisme commented on #11333
I knew it but I dont want to rebuild dotnet project.
I mean I had builded a solution include some dotnet projects.
I hope support it in azure devops pipelines.

Thanks your replay.

[2019-09-17 06:02] asottile opened #11350 "CacheBeta: task: cache turns symlinks into real files breaking virtualenvs"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-17 06:03] asottile opened #11351 "CacheBeta task: cache drops permission bits breaking virtualenvs"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-17 06:54] ajinkya599 commented on #11099
If you want to use the simple name "entityservice", then you should set `qualify image name` to `true` in both your build and push steps. The default choice is `true`.

But it seems it is set to `false` in your build step.
Can you try with `qualify image name` set as `true` in your build and push steps ?

[2019-09-17 07:47] marcussonestedtbarium commented on #11314
I sort-of get the security standpoint with public repos and PRs, although if they are set up so that a cache data set is immutable, we could avoid the issue. (i.e. depend on packages.lock/,csproj/etc).

If that's not solvable, having the option, or the default, to make caches readable from in-repo-branches but copy-on-write for PR's seems like a good compromise from a security standpoint, methinks

[2019-09-17 10:56] saxenark opened #11357 "What does "average work in progress" mean?"
Hi,

How do I interpret the average work in progress? I can't find a suitable documentation on how it is calculated.

![image](https://user-images.githubusercontent.com/2850526/65035757-9bc8d580-d967-11e9-9d3a-5fddc2ee280c.png)

e.g. in my case for the POC project, it shows as 1, but I can't understand how the value of 1 is calculated.
![image](https://user-images.githubusercontent.com/2850526/650

[2019-09-17 11:01] saxenark commented on #11357
After trying a few things, I landed in to a new kind of error while viewing the Analytics tab

![image](https://user-images.githubusercontent.com/2850526/65036225-928c3880-d968-11e9-9d30-72e29e415c12.png)

Again, I don't know what it means and what I should do

[2019-09-17 12:16] andrewconnell commented on #11246
I can still repro it... did you notice the link to the public forum post where someone from MSFT was also able to repro it?

Here's a project that shows it in action: https://github.com/Voitanos/azure-pipelines-spfx-templates. It is a public repo that contains job templates for a specific type of dev. The sample in the project demonstrates the issue.

### Working sample using "Gulp@0" + workaround

[2019-09-17 13:47] bergmeister opened #11358 "AzurePowerShellV4 does not prefer pwsh over powershell (despite code comment saying so) and there is no configuration option"
## Required Information

*Type*: Bug

**Enter Task Name**: `AzurePowerShellV4`

## Environment

Azure Pipelines

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name: `windows-2019`

## Issue Description

When being run on an image that has PowerShell Core (pwsh) installed and on the path, the `AzurePowerShellV4` task does not use it but uses Windows PowerShell (powe

[2019-09-17 15:53] tsteenbakkers opened #11359 "VSTest: Where to set TestExecution.EnableHydra"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-17 16:11] swonge commented on #3996
Thanks for the pointer, it seems only work within the same agent. When I try to prompt from the another agent within the same stage, the original value set under pipeline variable will be shown

[2019-09-17 16:23] moswald commented on #11246
If you look at the task source, you'll see that we [check for the existence of the gulpfile](https://github.com/microsoft/azure-pipelines-tasks/blob/7ae13519490aed705d3be3c51bb50588fb55c775/Tasks/GulpV1/gulptask.ts#L6) before we [set the current working directory](https://github.com/microsoft/azure-pipelines-tasks/blob/7ae13519490aed705d3be3c51bb50588fb55c775/Tasks/GulpV1/gulptask.ts#L10) based on

[2019-09-17 17:33] freeone3000 opened #11360 "Bash@3 doesn't execute inside a container"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-17 17:38] Lovakumar commented on #11349
@katlimruiz this seems like enhancement but not as a bug. With multi stage pipeline do you want to consider moving pipeline 2 steps in pipeline 1 itself and kill pipeline 2?

Secondly why are you publishing as artifact first and then to nuget package? You can directly publish to nuget from pipeline 1 itself.

[2019-09-17 17:52] andrewconnell commented on #11246
Makes sense... thanks for looking into it.

FWIW, when setting the `workingDirectory` parameter, I would expect the task would essentially  change the PWD => that folder before continuing to look for the **gulpfile.js**, similar to what the **Script** tag does (ex: [how I'm using it](https://github.com/Voitanos/azure-pipelines-spfx-templates/blob/191ca215409cf9a5a0f170ce66f99dacd1f6fbc0/jobs/build

[2019-09-17 17:56] moswald commented on #11246
No problem! Agreed, I'm going to change Gulp@1 to set the PWD before searching for the gulpfile. The fix will go out with our next round of deployments, which is about three weeks out.

[2019-09-17 18:04] andrewconnell commented on #11246
![](https://media.giphy.com/media/26ufq9mryvc5HI27m/giphy.gif)

[2019-09-17 19:13] johnterickson commented on #11314
The cache is immutable, the problem is that the task is defined in YAML which can be edited as part of a rogue PR.  That is, my rogue PR would not only have malware in it, it would change the build YAML to have the cache task use a cache key that the next CI build would use.

Interesting - would being able to opt-in to read from specific branches be equivalent?

[2019-09-17 19:26] katlimruiz commented on #11349
2. I had to do it because I need to decide whether that version is worth pushing to nuget feed. If the changes made are only internal workings, then no. If they change external interface, then yes.

However, I have found a solution that works out well in the end.

I decided to add a new stage called PushNuget, which was associated to an environment called NugetFeed that has a manual check, and the

[2019-09-17 19:26] #11349 closed

[2019-09-17 19:56] tarrenj commented on #10665
I'm also looking for this.

[2019-09-17 21:02] moswald commented on #11246
Fixed with #11361.

[2019-09-17 21:02] #11246 closed

[2019-09-17 21:55] sweekarpinto commented on #10331
This seems to be an issue with set -x: https://developercommunity.visualstudio.com/content/problem/375679/pipeline-variable-incorrectly-inserts-single-quote.html

[2019-09-18 07:15] reyem commented on #11259
Same issue here. Tried also to set the variables on job level rather than pipeline, but did not help. Further I tried `CacheBeta@1`. But unfortunately not success.

[2019-09-18 08:26] SumiranAgg commented on #11344
Closing the issue, since it is by design. please feel free to re-open if required.

[2019-09-18 08:26] #11344 closed

[2019-09-18 08:31] grav opened #11362 "Xcode task: specifying Xcode version/path"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Xcode

## Environment
- Server - Azure Pipelines

- Agent - Hosted or Private: hosted macOS

## Issue Description

When specifying `xcodeVersion: '10'`, version `10.2.1` is selected. It isn't possible to select `10.3`

[2019-09-18 08:48] 20shivangi commented on #11358
@bergmeister
For now, the task AzurePowerShellV4 does not support powershell core in Windows. This support is recently added in this week. It will take at least 3-4 weeks to get deployed.

[2019-09-18 09:05] 20shivangi commented on #10328
The support of PowerShell core in Windows for task AzurePowerShellV4 is recently added in this week. It will take at least 3-4 weeks to get deployed.

[2019-09-18 09:34] bergmeister commented on #11358
Thanks for the feedback. Sorry, I was not aware that this change was very recent and has not been deployed yet. :-)

[2019-09-18 09:57] arjgupta commented on #11299
@saxenark check out the task.json for this task. Every input has a help markdown associated with it which you can refer [here](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/IISWebAppManagementOnMachineGroupV0/task.json). Additionally the documentation for the task can be found [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/iis-web-app-management-

[2019-09-18 09:57] #11299 closed

[2019-09-18 09:57] #11358 closed

[2019-09-18 10:30] arjgupta commented on #11158
@greengumby i am closing this issue. Feel free to reopen if you are still facing this issue.

[2019-09-18 10:30] #11158 closed

[2019-09-18 10:32] #11322 closed

[2019-09-18 10:33] #11129 closed

[2019-09-18 10:36] arjgupta commented on #11150
Hi @ahughes257 , this seems like an issue with the dacpac file that you are using. I was able to search for the error message and found [this](https://docs.microsoft.com/en-us/sql/t-sql/statements/add-sensitivity-classification-transact-sql?view=azuresqldb-current) doc that might help. This is not a task issue.

[2019-09-18 10:36] #11150 closed

[2019-09-18 10:50] ahughes257 commented on #11150
Hey Arjun

Thank for the syntax page, I have already read and used this to deploy to
the database. The database project builds perfect locally and deployment is
also fine from visual studio to Azure SQL database.
The only place there is a problem with deployment is though the pipeline
release job...
I have simply removed the sensitivity classification as it doesn't work
with the release job. Again

[2019-09-18 11:32] dikhakha commented on #11333
@ricoisme You can run your dll in Azure Pipelines using **Command Line task**, run this command: `dotnet <path-to-dll>`.
You could get the above error if you have not specified the path of dll correctly. Where is your dll located ?

[2019-09-18 11:56] ShreyasRmsft commented on #11359
@tsteenbakkers the typescript code that you see in the task is legacy code and we will be moving away from it. The TestExecution.EnableHydra variable is the feature flag we are using to move customers away from the legacy code. It is fetched from the server is a temporary flag till we migrate all users after which both the flag as well as the legacy code will be deleted.

If what you want is a cus

[2019-09-18 12:13] arjgupta commented on #11345
@ashutak84 can you please send the task debug logs to RM_Customer_Queries at microsoft dot com. are you using run from package. If yes, then please try to use zip deploy and see if you are able to deploy successfully.

[2019-09-18 12:35] ashutak84 commented on #11345
I am using zip deploy, I found the problem, it was with my storage account
which u created newly but I still don't know what was the difference
between the storage accounts.

On Wed, Sep 18, 2019, 5:43 PM Arjun Gupta <notifications@github.com> wrote:

[2019-09-18 12:43] saxenark opened #11363 "Scheduler Syntax for pipeline"
Hi,

I have the following as part of my build pipeline. I notice that whenever a developer creates a new branch this pipeline is triggered irrespective of the date/time.

Q1. Why is this pipeline triggered whenever a new branch is created from MyDev?
Q2. What is the syntax to exclude all other branches other than MyDev. I tried the below but that does not work. Note I do not have any release branc

[2019-09-18 13:05] saxenark commented on #11299
@arjgupta I find it hard to find answers to my questions directly. Reference is good but still can't figure out answer to my exact questions. Can you please suggest?

[2019-09-18 15:13] JoseGeraldino commented on #8704
It seems that a Microsoft server is down, the tests are trying to consume a service in the IP: 13.107.42.18:443

[2019-09-18 15:46] bbakermmc commented on #8608
Any update on this?
I see that managed instances now have this option:
![image](https://user-images.githubusercontent.com/30090055/65163760-8ad0a080-da09-11e9-8e31-2118574cc188.png)
I don't think we want to enable it just to deploy ssdt, is there an ip range or something we could whitelist instead?

[2019-09-18 15:50] scottstout opened #11364 "Commands not Discoverable in Helm Package and Deploy Task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Helm Package and Deploy

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
Azure Pipelines
    This account will likely be deleted since it is part of an Op

[2019-09-18 15:54] joalmeid opened #11365 "dotnetcli test does not use vstsfeed parameter when restoring nuget packages"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo
[code]

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Type**: Bug
**Enter Task Name**: DotNetCoreCLI

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DotNetCoreCLIV2

##

[2019-09-18 16:13] vlad-zuga commented on #6294
Any updates on this?

[2019-09-18 16:16] Pr0methean commented on #11334
Started a diagnostic run (https://dev.azure.com/polymorpheus/BetterRandom/_build/results?buildId=1113&view=results); logs should be available in a few hours.

[2019-09-18 16:17] Joseluismantilla commented on #11307
Hello @SumiranAgg and guys, I am facing the same issue and I'd like to know when will be available.

The Alert rules is a field required and whatever option shows the previous error, so I had to disable the Azure Monitor Alerts in the pipeline release.

[2019-09-18 18:16] Oblivious91 opened #11367 "Feature Request: Please support Multi-Agent testing for dotnet"
Hello Azure Pipeline Team,

The era of .NET Core is here and I would like to request for multi-agent testing for it be supported in the pipeline. I was told that this is currently only supported in Windows.

My main motivation is to execute tests in a distributed fashion in the Azure Pipelines using linux machines.

Thanks!

Jorge

[2019-09-18 18:30] lukeapage commented on #11314
Being able to configure master to write and branches to read from master would solve it for me. Alternatively a security option on the repo since we only have private repos.
Our issue is that the builds are not Pr builds but we have many short live branches.

[2019-09-18 19:42] Pr0methean commented on #11334
Here's the log: https://dev.azure.com/polymorpheus/BetterRandom/_build/results?buildId=1115&view=logs&s=62add90f-9a1f-5845-6bfd-b54447f526dc&j=f43d4008-7a89-5683-a713-8042507c2c7e

[2019-09-18 20:12] senthilkungumaraj commented on #11287
@arjgupta The version of PowerShell Core is 6.2.0. Az PowerShell module version is 2.1.0.

[2019-09-18 20:26] jtpetty commented on #11334
I think I see your issue, you have:

[code]

I think what you really want is:

[code]

A single & runs the command in the background, your grep is going to run and not find anything since report_out doesn't have any content yet

[2019-09-18 20:27] arjgupta commented on #11180
Closing the issue. The task is trying to run a script remotely on a machine with powershell 2 installed. PowerShell 2 does not have the & operator which is used by the task to execute script on the remote machine. PowerShell 2 is marked deprecated. The recommendation is to move to PowerShell 3 or later or try to run custom PowerShell script and use the Invoke-Command cmdlet.

[2019-09-18 20:27] #11180 closed

[2019-09-18 21:22] tarunaroraonline opened #11368 "Pip install package xxx and the package is not usable?!"
**BUG**
What's wrong with this pipeline?

**PowerShell@2**

## Environment
- Server - Azure Pipelines

- Agent - Hosted :

    - If using Hosted agent, provide agent queue name: windows-latest

### Code...

[code]

The package install's fine as per the logs below, but is never recognized in the following steps. Why... Works locally and works just fine in other container images, but just doesn't wo

[2019-09-18 22:09] ArieHein commented on #3996
you should potentially change the value at the end of a pipeline when youre sure it was successful

[2019-09-18 22:58] shubham90 commented on #11365
@joalmeid Unfortunately, dotnet test command does not support vstsFeed parameter. Only dotnet nuget push and restore supports vstsFeed parameter.
If you want to use an authenticated feed with dotnet test, I will recommend you to use [Nuget Authenticate task ](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops#dotnet) and then you will be able

[2019-09-19 04:11] vithati commented on #11364
@scottstout , Package command does not required Kubernetes cluster information. Example mentioned [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/helm-deploy?view=azure-devops) task: HelmDeploy@0
  displayName: Helm package
  inputs:
    command: package
    chartPath: Application/charts/sampleapp
    destination: $(Build.ArtifactStagingDirectory)

In task UI, when you

[2019-09-19 04:16] scottstout commented on #11364
You can’t choose package command until you supply the cluster info . . .
even though no cluster is needed for package command.

On Wed, Sep 18, 2019 at 9:12 PM Vikranth Thati <notifications@github.com>
wrote:

--
Scott Stout
mobile (713) 320-4376

[2019-09-19 04:23] vithati commented on #11364
No, you can change command to 'package' directly in UI without giving cluster information. Before changing the command to 'package'
![image](https://user-images.githubusercontent.com/19663618/65213187-c8453480-dac2-11e9-827e-28e99897298c.png)

After changing the command to 'package'. I didn't gave any cluster information.

![image](https://user-images.githubusercontent.com/19663618/65213257-22de90

[2019-09-19 04:26] scottstout commented on #11364
That whole commands section was missing until i filled in the cluster info.
I had three other people watching when I did it. I’ll try to reproduce it.

On Wed, Sep 18, 2019 at 9:24 PM Vikranth Thati <notifications@github.com>
wrote:

--
Scott Stout
mobile (713) 320-4376

[2019-09-19 04:30] vithati commented on #11364
Ok. Can you share which Helm task version you are using. When I added task I am able to see commands section

![image](https://user-images.githubusercontent.com/19663618/65213548-2f171d80-dac4-11e9-99b6-23c9ddd6eaad.png)

[2019-09-19 04:35] scottstout commented on #11364
The version is 0.*

Scott Stout
mobile (713) 320-4376

On Wed, Sep 18, 2019 at 9:30 PM Vikranth Thati <notifications@github.com>
wrote:

[2019-09-19 04:39] vithati commented on #11364
Can you share specific version number? I am trying with task version 0.156.0. Can you try to repo the issue and provide the repo steps.

[2019-09-19 04:45] scottstout commented on #11364
I can't repro . . . and I'm in the exact same environment where I
originally saw it and thought I reprod it. If I can't repro it now I don't
expect you to. We must have misunderstood what we saw.

On Wed, Sep 18, 2019 at 9:39 PM Vikranth Thati <notifications@github.com>
wrote:

[2019-09-19 04:49] scottstout commented on #11364
I can't reproduce. We must have misunderstood what we saw.

[2019-09-19 04:49] #11364 closed

[2019-09-19 06:11] vagisha-nidhi commented on #11138
We have updated the Report Generator version to 4.2.20.

[2019-09-19 06:11] #11138 closed

[2019-09-19 06:23] Additi commented on #7659
Hi ,
We have considered this feedback and added this to our backlog. We'll take it up in the coming months.
I'll post the updates once its done.
Thanks.

[2019-09-19 07:04] leonheess commented on #4319
@tkrick I am getting the same error (`lacks permission to complete this action. You need to have 'ReadPackages'`) - which permission does the account need and where in the Azure-Portal doe sit have to be set? Thank you so much in advance

[2019-09-19 08:28] bgelens commented on #10328
Great news!

[2019-09-19 08:30] 20shivangi commented on #7898
It is same as https://github.com/microsoft/azure-pipelines-tasks/issues/10262
Closing this one.

[2019-09-19 08:30] #7898 closed

[2019-09-19 08:55] vonders opened #11370 "add retry(x times) for publish build artifacts/ symbols task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-19 09:44] zhangwk02 opened #11371 "[error].PBM\Lucene.Net\src\core\Analysis\PorterStemmer.cs(689,23): Error CS0017: 程序定义了多个入口点。使用 /main (指定包含入口点的类型)进行编译。"
##[error]Vanke.PBM\Lucene.Net\src\core\Analysis\PorterStemmer.cs(689,23): Error CS0017: 程序定义了多个入口点。使用 /main (指定包含入口点的类型)进行编译。

[2019-09-19 09:46] #11371 closed

[2019-09-19 10:06] vagisha-nidhi commented on #9711
@dimiboi This issue has already been fixed. Please reopen another issue with full logs.

[2019-09-19 10:25] #9711 closed

[2019-09-19 10:29] ShreyasRmsft commented on #11172
@Shortcheese for this task atleast this should be easy to fix.
https://stackoverflow.com/questions/9232160/nuget-behind-a-proxy

We would need to add the proxy details to the nuget config file in the task [here](https://github.com/microsoft/azure-pipelines-tasks/blob/e9932f67495be994bbc80674dfd20d563bec4e68/Tasks/VsTestPlatformToolInstallerV1/nugetfeedinstaller.ts#L27)

You can take a look at the

[2019-09-19 11:00] iricigor commented on #10262
Please review this closing. @20shivangi

Side-by-side installation is not what was requested. Notice the sentence "Our project has some 300 Powershell files so updating them call AzureRmAlias setting is not an option." @mozts2005

P.S. I have the same issue, and I do not want to modify all scripts.

[2019-09-19 11:10] vishnuprakash9845 opened #11372 "Not a issue but Want to publish the Automation Test Results executed in Azure Devops to team members through(Mail or Teams)"
I have developed a testing framework for automating the UWP Application using appium.
Created the build pipeline to run the tests in VM in Azure Devops and able to see the Test Results and summary.

**But wanted this results to publish to my entire team of 12 members as soon as the Test Automation in the VM completes through Mail or Microsoft Teams**

Can anyone help me on this, if anyone feels an

[2019-09-19 11:32] ShreyasRmsft commented on #11292
@Shortcheese you will need to add a whitelist for the attachment store

docs here https://docs.microsoft.com/en-us/azure/devops/organizations/security/faq-network-connections?view=azure-devops

this is the attachment specific one, dropping it here for your convenience https://*.vstmrblob.vsassets.io

But make sure you go through the entire list in the docs to ensure you have everything configured

[2019-09-19 11:42] saxenark opened #11373 "Azure DevOps Services CI Build not started for long time"
Hi,

My CI build hasn't started now for almost an hour. The build details shows the following information.

![image](https://user-images.githubusercontent.com/2850526/65241154-82a75c80-db00-11e9-9069-234940288cb5.png)

Did I do anything incorrect, and how to recover from this? Should I continue waiting? How can I avoid this in future?

Because of this my other CI builds are also not progressing?
!

[2019-09-19 11:54] marcussonestedtbarium commented on #11314
Well, a rouge PR could do a lot if it is allowed to builds & run. Regardless, IIUC, it could not overwrite a cache that some other branches use. If it creates a new cache key, no other build would use that. (Unless it adds package X + malware, tags it as X, and then another CI also adds X, then it'd get the malware. Ok. But external PR builds should maybe have different security policy w.r.t. cach

[2019-09-19 12:13] marcussonestedtbarium commented on #11317
It fails if the folder doesn't exist (which happens for cypress screenshots) so having this configurable either way would actually be quite nice.

[2019-09-19 14:32] johnterickson opened #11374 "Better caching support for short-lived feature branches"
Based on conversation with @lukeapage and @marcussonestedtbarium in https://github.com/microsoft/azure-pipelines-tasks/issues/11314, it sounds like Pipeline Caching doesn't really help folks who have short-lived feature branches because it's always a cache miss.

There are security concerns with interactions of caches across branches, but one possible solution we came up with was to all builds to

[2019-09-19 14:35] #9132 closed

[2019-09-19 14:47] johnterickson commented on #11314
Thanks @lukeapage  and @marcussonestedtbarium  for your feedback and following-up on my questions. I've tried to coalesce the feedback into a new issue: https://github.com/microsoft/azure-pipelines-tasks/issues/11374.

[2019-09-19 16:03] pollockm commented on #7598
FYI, suggestion ticket created.

[2019-09-19 16:14] ahaynes-gw opened #11375 "PublishBuildArtifact Task not working as intended"
This pull introduced a change that made the scripts ignore the incoming FileCopyOptions parameter from the Azure build YAML task.

publishbuildartifacts.ts - There is no longer the constant parameter, nor instructions on what to do with the input.

Invoke-Robocopy.ps1 - The input parameter was changed, and there are no longer instructions on how to use the $FileCopyOptions in the robocopy.exe comm

[2019-09-19 16:24] Pr0methean commented on #11334
report_out is a named pipe, not a normal file. The intent is to run dieharder in the background (since otherwise we couldn't reuse prng_out -- also a named pipe -- or its contents from one Dieharder run to the next), but monitor its output in the main shell so that it can be failed fast.

[2019-09-19 17:09] silasmendes commented on #9667
Hello guys, do you know if the **Invoke-Sqlcmd** supports _Azure AD authentication_?

[2019-09-19 17:13] fadnavistanmay commented on #11374
I think Owen is @owenhuynMSFT

[2019-09-19 17:15] #7934 closed

[2019-09-19 17:36] jtpetty commented on #11334
Ok, having looked through a lot of the agent and task code, I am pretty confident that issue is in dieharder.sh script and not in the agent. The agent is getting an exit code of 0.

Is it possible that for this instance, there is a race condition and that the grep is executed before data is written to report_out and it thinks it's done?

Can you not just pipe the output directly to grep?

[code]

[2019-09-19 18:30] shantanu1singh opened #11376 "IoT Edge deployment creation failure with 'jsonschema' distribution not found"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureIoTEdge@2

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
Account->MsAzure
Project->One
Build Definition

[2019-09-19 21:45] tkrick commented on #4319
@leonheess you are having perms problems or your builds are (via the build service)? Either way the feed you are accessing needs to give you or a group you belong to (or the build service if this is a build) permissions to read the feed. If you need more support look here: https://docs.microsoft.com/en-us/azure/devops/artifacts/feeds/feed-permissions?view=azure-devops . If still having an issue re

[2019-09-19 22:53] paulpce commented on #11250
+1 I've also just hit this problem

[2019-09-20 07:01] saxenark opened #11379 "Set a pipeline variable to true if scheduled build"
Hi,

I want to pass additional arguments to my batch file in case the Build.Reason is not 'IndividualCI' or 'BatchedCI'. For that I am trying to set a variable to true like so, which is incorrect, because it is not under condition statement.

`IsScheduledBuild: notin(variables['Build.Reason'], 'IndividualCI', 'BatchedCI')`

So, how can I set a custom variable to true, if Build.Reason is a schedule

[2019-09-20 09:49] IvanovOleg opened #11380 "AzureResourceGroupDeploymentV2 doesn't work with subscription level deployment template"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureResourceGroupDeployment

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premis

[2019-09-20 09:54] larsts commented on #11191
@JosephG3001 : Did you mean /p:BlockOnPossibleDataLoss=_false_ ?
Setting /p:BlockOnPossibleDataLoss=false worked for me.

Release without flag failed with "The column [xxx] is being dropped, data loss could occur". Updating pipeline adding /p:BlockOnPossibleDataLoss=false and creating new release succeeded.

[2019-09-20 10:35] Ajay-MS commented on #11289
As error mentioned that a deployment already exists then `Get-AzureDeployment` cmdlet shouldn't have returned `null`.

Can you please try the following steps :

- Run `Get-AzureDeployment` cmdlet with verbose and debug arguments
[code]

- Delete the service once and retry the deployment multiple time.

[2019-09-20 11:18] nilfdev opened #11384 "Azure AppService. Perform swap with preview fails"
## Note
It is not possible to perform swap from staging environment to production environment

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Required Information

*Type*: Bug

**Enter Task Name**:
Swap Slots

## Environment
- Server - Azure Pipelines

## Issue Description

We use azure devops portal with configured pipeline. There are 2 tasks:
- deploy to slo

[2019-09-20 11:47] MatejQ commented on #9122
We currently migrated our solution to VS2019 and it builds fine locally, but build fails on the DevOps server (hosted agent build) because of the _ operator that is not recognized by earlier VS than 2019. I have set the "Visual Studio Version" property of the build step to VS2019 but it didn't help.
In the logs, there is warning:
##[warning]Visual Studio version '16.0' not found. Falling back to v

[2019-09-20 11:57] rakeshjjain commented on #3682
Hi Bryan,

Any suggestion on what the solution to this is?

[2019-09-20 12:08] ShreyasRmsft commented on #10504
We have made the fix and will be rolling it out in the next hosted release (approx in 3-4 weeks).

[2019-09-20 12:44] azureDaveOps commented on #9122
Thanks for reporting, I will have someone take look today and get back to you (likely by monday).

[2019-09-20 13:08] greengumby commented on #11158
I don't know why this is closed as the issue still exists.

[2019-09-20 16:30] apobekiaris opened #11386 "Custom name parallel tests"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-20 17:11] heratyian commented on #6135
I found this blog post really helpful and I take no credit for the solution. https://blog.ehn.nu/2019/05/accessing-azure-artifacts-feed-in-a-docker-build/

A workaround is to add a step in your dockerfile to download the microsoft azure cred provider and you pass your PAT as a build arg to docker.

`docker build . --build-arg PAT=<pat-token>`

[code]
https://dev.azure.com/jakob/ignitetour/_git/Doc

[2019-09-20 17:23] shieldsjared commented on #9245
Also seeing this on Azure Devops Server 2019, and we didnt enable anything manually (that we can recall).

[2019-09-20 17:29] kisantia commented on #10819
@IvanAlekseev Yes the fix is there. We will add it to the release notes. Thanks!

[2019-09-20 17:29] hiteshmadan opened #11387 "Azure IoT Edge Task is busted on Hosted Ubuntu 16.04 pool since 09/17"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information
The Azure IoT Edg

[2019-09-20 17:30] JosephG3001 commented on #11191
@larsts Yes sorry:  /p:BlockOnPossibleDataLoss=false

[2019-09-20 18:32] WillLennon commented on #9122
MatejQ, can you share your .yml file and the build logs?
I tried to use MSBuild v16.0 on the windows 2019 and it worked fine.  Here are my example files

my azure-pipelines.yml file:

jobs:
- job: Windows
  pool:
    vmImage: 'windows-2019'
  steps:
  - task: MSBuild@1
    inputs:
      msbuildVersion: '16.0'

and from my build logs:
##[command]"D:\a\_tasks\MSBuild_c6c4c611-aa2e-4a33-b606-5eaba219

[2019-09-20 21:09] MatejQ commented on #9122
Hello,
I don't have any .yml file. We are using a build pipeline created by clicking and drag-and-dropping build steps and configuring them via DevOps GUI. The agent itself is hosted by MS. Anyway, I made some progress. I switched the agent pool from Hosted to Azure Pipelines (I don't know what's the difference between the two, apart from the fact that I can't switch back to Hosted now), which mad

[2019-09-21 03:47] noeltupas commented on #6119
I am using the current version of Index and Publish Symbols. Still does not work for standard. Does anyone have an update on this?

[2019-09-21 05:34] vadimcn opened #11388 "Option to cache build artifacts even if build job fails."
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: CacheBeta@0

## Issue Description

Currently, cache post-job is skipped if the job status is not `Succeeded`.
It would be nice to have an option to cache intermediate build artifacts even if the job fails.  For example, object files cached by ccache can still be used even if there was a compilation error later in the build.

[2019-09-21 14:41] Trolldemorted commented on #9754
@raiyanalam now almost 6 months have passed, can you give us an update on how this is supposed to work?

I have an organization which I'd like to push releases from azure pipelines to, but without giving access to all my other repositories.

[2019-09-22 03:40] jayatipathak opened #11389 "Using Azure AD Integrated auth throwing an error"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question/Bug

**Enter Task Name**: Azure SQL Database deployment

## Environment
- Server - Azure Pipelines
   MicrosoftIT | OneITVSO | Galena_Dev
https://microsoftit.visualstudio.com/OneITVSO/_releaseProgress?releaseId=816908&environmentId=2645534&_a=release-task-editor

- Agent - Hosted

## Issue Description

Trying to use Azure AD

[2019-09-22 14:15] ricoisme commented on #11333
@dikhakha
It works for me.

Thanks

[2019-09-22 14:16] #11333 closed

[2019-09-22 17:04] luyseyal opened #11390 "Update Az.Accounts to 1.6.2 for AzurePowerShell@4"
I am unable to use the Az.ManagedServiceIdentity because it requires Az.Accounts 1.6.2. Please upgrade the modules available to the AzurePowerShell@4 task.

Thank you!!!

Stephen Olander-Waters
Austin, Texas

[code]

[2019-09-22 19:18] luyseyal commented on #8920
azcopy is available on Linux
https://aka.ms/downloadazcopy-v10-linux

[2019-09-22 21:13] robertoandrade commented on #6439
I was able to get this working using the Cache task and some conditional manual `docker save/load` commands after it to dump the desired docker image (and its layers) into a tar ball that the Cache task would then upload and download on the next execution which the `load` command from docker would put back into the local registry. The time it takes the Cache task to perform its thing in combinatio

[2019-09-23 05:03] bishal-pdMSFT commented on #11380
@vinodkumar3 this looks like a regression

[2019-09-23 05:43] Ajay-MS commented on #11150
Hello Aaron,

Can you share your local deployment logs (in case deployment you have done is through Azure Dev Ops) or Path of SQLPackage.exe in case you have done using SQLPackage.exe directly?

Also, Share debug complete logs for the failed release. Pass additional argument in task `/Diagnostics:true`.

You can send logs at `RM_Customer_Queries@microsoft.com`

[2019-09-23 06:14] #10616 closed

[2019-09-23 06:18] ajinkya599 commented on #10616
Closing due to inactivity. Please feel free to re-open the issue if its still there.

[2019-09-23 08:15] fldvrees commented on #4918
I had the same error message.

The error was on my side. In the build task I selected `Select Release Notes File` without specifying a valid `Release notes file`.

To be honest: The error message could be better. I lost about 20 minutes finding the source of this error...

[2019-09-23 08:27] arjgupta commented on #11390
Hi @luyseyal [this](https://github.com/microsoft/azure-pipelines-image-generation) is the Hosted Agent Image generation repo. Please open the issue over there. Thanks

[2019-09-23 08:27] #11390 closed

[2019-09-23 09:26] dikhakha commented on #11380
@IvanovOleg Presently, AzureResourceGroupDeploymentV2 supports template deployment at Resource group level and not subscription level which is why you are seeing the above error. We plan to add support for this soon.

To unblock yourself, if you intend to create Azure Resource group in your Azure Pipeline, you can use [Azure CLI task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/d

[2019-09-23 09:52] sskohli01 opened #11399 "the exportOptionsPlist is missing the iCloudContainerEnvironment property"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-23 10:07] vsingh63 opened #11400 "AZ CLI task : fails on curl call with failonstandarderror:true"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AzureCLI@1

## Environment
- Server - Azure Pipelines or TFS on-premises?

      - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:  Azure pipelines

- Age

[2019-09-23 10:08] dikhakha commented on #11009
@elbatk This issue is for pack command can you please take a look ?

[2019-09-23 10:11] dikhakha commented on #11081
@Shri-Humrudha Is this issue resolved for you now with latest task version ?

[2019-09-23 14:57] JO3-W3B-D3V commented on #9673
@Lovakumar I don't suppose there's any update on this feature? I really look forward to using this feature since I'm working on quite the array of projects! 😃

[2019-09-23 17:53] elbatk commented on #10802
hey @tao-zhang , I see you're using the Maven task, and was wondering if you wanted to try our new [Maven Authenticate Task](https://docs.microsoft.com/azure/devops/pipelines/tasks/package/maven-authenticate?view=azure-devops) and see how it works for you?

We are trying to transition from those heavy protocol tasks (like Maven, or NuGet) towards lighter-weight authentication tasks that handles au

[2019-09-23 18:41] tao-zhang commented on #10802
Hi @elbatk, thank you for your comment. I have a question after reading the task document, who adds the password inside <server> element? In the inputs, I don't see 'password' as an input.

[2019-09-23 18:42] ohadschn commented on #7690
For me, `Enable-AzureRmContextAutosave` only replaces this issue with this issue: https://github.com/Azure/azure-powershell/issues/9448

[2019-09-23 18:58] elbatk commented on #10802
That password gets filled by the authentication task, and it uses the PAT from the build, the System.AccessToken I believe. @aasim could expand on this if I'm wrong :)

[2019-09-23 19:05] aasim commented on #10802
@tao-zhang @elbatk
The password will be set by the authentication task, and it does use the PAT from the build.

[2019-09-23 19:22] Frankwayne commented on #5562
for those still using old version of TFS.  I found the Task "Publish Test Results"  will publish the .trx files and if you go to advance  and select upload Test Attachments,  it will  also upload your code coverage files.

You may need to do some additional work on excluding  test  .dll and various other dll with your runsettings file.    TFS should automagiclly  combine the .coverage files as wel

[2019-09-23 21:45] Shri-Humrudha commented on #11081
Yes. I am able to view the details.

On Mon, Sep 23, 2019 at 3:11 AM Disha Khakhar <notifications@github.com>
wrote:

--
With Regards,
J.SHRI HUMRUDHA

[2019-09-23 22:48] Daniel127 opened #11406 "Task: DotNetCoreCLI@2 nuget pack error No value was found for the provided environment variable."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question, Bug?

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
Daniel Quiñone

[2019-09-23 23:11] aasim commented on #10802
@tao-zhang Let me know if you hit any issues while using the task, I can help you through your setup as well.

[2019-09-23 23:33] Lovakumar commented on #9673
@omeshp can you please enable sharing (old ux) feature flag for accounts mentioned in previous comments.

[2019-09-24 01:36] Lovakumar commented on #10835
@omeshp  can you please check if new tunnel version is resolving the issue. If yes, update task to take dependency on newer version of azure-devops-node-api.

[2019-09-24 04:24] kaadhina commented on #11292
Closing this. Please get back if the above did not help solve the issue.

[2019-09-24 04:31] greengumby commented on #11158
@coin8086 Did you solve/workaround this issue?

[2019-09-24 06:43] dikhakha commented on #11081
Thanks for the confirmation, closing this issue.

[2019-09-24 06:43] #11081 closed

[2019-09-24 06:56] tao-zhang commented on #10802
@aasim I can understand the authentication task can use PAT for password. But for 'feeds outside your organization', for example, Nexus on premise, how does this task get password?

[2019-09-24 08:23] coin8086 commented on #11158
No, I suspend my deployment with it. I have a lot of work to do and can't afford days trying and diagnosing for their problem. But it seems they don't work on it.

[2019-09-24 12:51] Philo opened #11410 "Failure when running swap slot task due to task using unexpected parameter during execution"
*Type*: BUG

**Enter Task Name**: Swap slots

## Environment
- Server - Azure Pipelines
- Agent - Private (2016 Data center, agent version: 2.155.1)

## Issue Description

We have began to encounter the following issue with release pipelines using the "Swap slots" task.  This has only started happening today, with all previous releases working as expected without any pipelines updates.

The "Swap

[2019-09-24 13:09] zhangwk02 commented on #4734
FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory

<--- Last few GCs --->

   58445 ms: Mark-sweep 1372.8 (1435.0) -> 1372.7 (1435.0) MB, 1090.0 / 0.0 ms [allocation failure] [GC in old space requested].
   59536 ms: Mark-sweep 1372.7 (1435.0) -> 1372.7 (1435.0) MB, 1090.1 / 0.0 ms [allocation failure] [GC in old space requested].
   60629 ms: Mark-sweep 1372.7 (14

[2019-09-24 15:36] bsoulier commented on #4734
This is not an issue with Azure pipeline per say, as you can override this behavior to run your build with more memory and still get it to succeed.

An updated version on how to do this isto use the npm package [CrossEnv](https://github.com/kentcdodds/cross-env) and to set it up this way in your **package.json** in order to run:

[code]

Then you just run your script from properly configuring your

[2019-09-24 16:46] JoeGaggler opened #11413 "[UseDotNetV2]"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UseDotNetV2

## Environment
- Server - Azure Pipelines

- Agent - Private: Windows Server deployment group

## Issue Description

Task fails to run on the deployment group agent.

### Task logs

## Troubleshooting
Observed that the "execution handler" for the task has changed to "Node10" in this task vs. the previous "Node" handler f

[2019-09-24 17:12] aasim commented on #10802
@elbatk You're correct, however they will have to setup a "Maven" "Service Connection" to be able to add to the maven authenticate task.

@tao-zhang Yes, for Nexus, you should be able to setup a "Service Connection" to add that password to your settings.xml file. For your case follow these steps.

1. Go to "Project Settings" > "Service Connections", and add a new service connection of type "Maven"

[2019-09-24 17:24] hhellbusch opened #11414 "helm3 - setting system.debug causes "helm upgrade" pipeline to be marked as fail even though it succeeded"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug/Feature

**Enter Task Name**: helm

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure DevOps / Pipelines

## Issue Description

The debug output of helm3 is being treated as an error message. This causes the stage to be ma

[2019-09-24 17:40] Rod-Sychev commented on #11034
[code]

[2019-09-24 17:45] johnterickson commented on #11034
@Rod-Sychev - I'd recommend going the buildctl route.  For whatever reason, "docker load" from a _local_ file was slower than doing a pull from a _remote_ registry.  If you don't have a private registry and you have super slow-to-run layers (e.g. building lots of native dependencies) then "docker load/save" might still pay off.

The challenge with buildctl is getting it installed on the agent.

[2019-09-24 18:00] JoeGaggler commented on #11413
The task does not yet provide a valid "minimumAgentVersion" which would enable support for the "Node10" execution handler.

[2019-09-24 20:01] collinbarrett commented on #10493
I am seeing this issue today on the hosted Ubuntu agent.

https://dev.azure.com/collinbarrett/FilterLists/_build/results?buildId=1517

[2019-09-24 22:55] johnterickson commented on #11034
@Rod-Sychev btw here's my YML for buildctl tinkering: https://dev.azure.com/codesharing-SU0/cachesandbox/_git/Scripts?path=%2Fdocker.yml&version=GBmaster

[2019-09-25 01:52] blackchoey commented on #11376
This issue is caused by Azure CLI IoT extension issue: https://github.com/Azure/azure-iot-cli-extension/issues/98. Azure CLI IoT extension has released a new version 0.8.2 to resolve this issue a few days ago.

[2019-09-25 04:11] vithati commented on #11414
@hhellbusch , which task are you using? can you share task log?

[2019-09-25 05:16] jayakumarj85 opened #11419 "ic download"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-25 06:02] zhangwk02 commented on #4734
ths！ &nbsp;
i have resloved the problem by add the
scripts&nbsp;yarn upgrade gulp

发自我的iPhone

------------------ Original ------------------
From: Benjamin Soulier <notifications@github.com&gt;
Date: Tue,Sep 24,2019 11:37 PM
To: microsoft/azure-pipelines-tasks <azure-pipelines-tasks@noreply.github.com&gt;
Cc: zhangwk02 <415675018@qq.com&gt;, Comment <comment@noreply.github.com&gt;
Subject: Re: [m

[2019-09-25 06:58] jamiehill commented on #11259
Exactly the same here.  Build Windows first - restores cache and updates it post-job.  Then builds Mac but crashes post-job.

To confound things further, each step uses a `build.yml` template, so there are definitely no subtle differences between the configuration of each step.

[2019-09-25 07:02] jamiehill commented on #11259
**Yml extract:**
[code]

**Working Windows console output:**
[code]

**Non-working Mac console output:**
[code]

[2019-09-25 08:29] michaelkollmann commented on #9245
So it's still not supported by Azure DevOps Server but available for use?

[2019-09-25 08:49] bogdancucosel opened #11421 "xUnit InlineData theories are not run when using parallel strategy (DTAExecutionHost)"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VSTest

## Environment
Azure Pipelines: uipath, Orchestrator, CI/506187:

- Agent - Hosted: Windows Server 2016

## Issue Description

We have tests written in xUnit that use InlineData attribute in order to test different use cases.
We run the tests using the parallel strategy for jobs.
In the vstest executio

[2019-09-25 09:06] Robjam opened #11422 "windows-latest build agent not executing first command only"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug/Question

**Enter Task Name**: script

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines
    - can provide the account name, team project name, build d

[2019-09-25 09:26] bogdancucosel commented on #11421
This did not happen for vstest.console.exe. we have older builds that were running these tests. But since last friday , all tests are being run with DTAExecutionHost

[2019-09-25 10:22] omeshp commented on #9673
@Lovakumar Enabled the feature for quipu-cwnet, clarksonscloud and teamtelstra accounts.

[2019-09-25 10:30] adriansuhov opened #11424 "AppCenterDistribute: Possibly wrong hardcoded link"
Hi,

I tried to use this task but I got 404 error. Looking into debug info, i can see that from the pipeline the link i got is this:
`https://appcenter.ms/orgs/XYZ/apps/XYZ/release_uploads`
XYZ - hidden by me
And indeed, when accessing the above link from the browser, i got a 404 error. However, getting to the link via the web page, i'm getting to this link:
`https://appcenter.ms/orgs/XYZ/apps/XYZ

[2019-09-25 10:55] abelal83 commented on #9673
This is awesome guys. I honestly can't tell you how much work this will save us!

Is there any chance task groups can also be shared across projects?

[2019-09-25 11:17] skamoda commented on #2395
Any news related to what should be given to set `Cache-Control` in AdditionalArgumentsForBlobCopy?

[2019-09-25 12:29] mahalex opened #11425 "Visual Studio Test Platform Installer became slower due to change in nuget.org behaviour"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  VisualStudioTestPlatformInstaller

## Environment
- Server - Azure DevOps Server v2019.1

- Agent - Private, Windows Server 2012r2

## Issue Description

Since several days ago, "Visual Studio Test Platform Installer" task takes much longer time than previously. Logs show that this task calls
`nuget.exe list Microsoft.TestPlatform -

[2019-09-25 13:16] merill commented on #9673
Legends. Thanks guys!!!
Just tried it and love it! @Lovakumar  @omeshp

[2019-09-25 13:49] hhellbusch commented on #11414
@vithati

[code]

See attached for the task log.
[tasklog_9.log](https://github.com/microsoft/azure-pipelines-tasks/files/3652819/tasklog_9.log)

Let me know if there's any other information that would be useful.
Cheers!

[2019-09-25 13:57] CristiPagu opened #11429 "ArchiveFilesV2 - the 7zip compression option is not recognized"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: ArchiveFilesV2

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure DevOps / Pipelines

## Issue Description

In the archive files task there is no option for selecting the compression level for 7zip ar

[2019-09-25 14:03] #11429 closed

[2019-09-25 14:09] CristiPagu commented on #11429
This wasn't released yet. Forgot to check that, whoops.

[2019-09-25 15:32] StephenLarkin commented on #11267
I'm seeing what I can only imagine is the same problem.

[code]

In this case the new version of `StopAppPool.ps1` included a bug that was picked up in code review, but somehow succeeded in the build pipeline. I determined that this was because the file had already been downloaded by a previous run to the agent, and when downloaded again it was not replaced.

This seems like a fairly serious probl

[2019-09-25 15:37] gabrielfsousa opened #11433 "task escape token with a slash adding a back slash"
**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: qetza.replacetokens.replacetokens-task.replacetokens@3

## Environment
- Server - Azure Pipelines

- Agent - Private:

    - microsoft/dotnet:2.2-sdk
    - agent version 2.155.1

## Issue Description

token with a slash: ```*x;/?)]%$U=;```
when replaces the variable in the file, azure escape the slash adding a back slash
on the file

[2019-09-25 15:58] gabrielfsousa commented on #11433
didnt know about the escapeType option, i added:
escapeType: none

[2019-09-25 15:58] #11433 closed

[2019-09-25 17:05] leecow commented on #11100
@bishal-pdMSFT, checking on progress for this task.

[2019-09-25 17:23] bishal-pdMSFT commented on #11100
@leecow we had made the changes and were ready to roll it out, but our changes had to be reverted at last moment due to some flakiness in system and we missed the train. We will be able to go with next train in about 3 weeks time. I will update you.

[2019-09-25 17:30] manospasj commented on #9673
@omeshp Can we please enable this for gastag account?

[2019-09-25 17:49] fadnavistanmay commented on #10870
Hi @ruffsl , yes. You are correct in terms of containers, that the paths under _w is visible to agent (reason because of the thread you referenced.) But if you are not using containers, any path should be a happy path for caching.
I am working on the original issue of displaying the path in terms of container perspective (if there is a container).

[2019-09-25 17:50] fadnavistanmay commented on #10870
Actually, there is a possibility , *maybe* , that there are paths, other than _w which have been mapped 🤔

[2019-09-25 18:24] teh13th commented on #9565
Any updates?

[2019-09-25 22:28] Linaa opened #11434 "AzurePowerShell@4 module Az.Blueprint in consistent behaviour"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-25 22:30] MarkKharitonov opened #11435 "Cryptic error when attempting to publish symbols to on-premises TFS"
## Required Information

**Type**: **Bug**
**Enter Task Name**: **Index Sources & Publish Symbols**

## Environment
- Server - TFS on-premises?

    - If using TFS on-premises, provide the version: 17.143.28912.1

- Agent - Private

    - If using private agent, provide the OS of the machine running the agent and the agent version:

Capability name | Capability value
-- | --
Agent.OS | Windows_NT

[2019-09-25 23:35] aasim commented on #10802
Hi @tao-zhang - let me know if that helped, or if you have any more questions.

Aasim

[2019-09-26 01:43] Lovakumar commented on #9673
@abelal83 task groups sharing is not in our backlog.

[2019-09-26 02:31] ifiokjr commented on #11259
I'm having the exact same issue, but following the `yarn` task instructions. Here's a [link](https://dev.azure.com/remirror/remirror/_build/results?buildId=561&view=logs&j=743bc1cd-037d-5150-fc69-2953b556a708) to the failing build.

My config looks like this

[code]

[2019-09-26 04:43] JanEggers opened #11437 "Out of memory when publishing testresults"
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- TFS on-premises
- version: 17.143.28912.1
- Agent - Private: Agent is running on winserver 2019 agent version 2.131.0

## Issue Description

we run dotnet test and the checkbox "Publish test results and code coverage" is checked.

The testrun completes but the testresults are not uploaded because of an out of memory exception.

Th

[2019-09-26 06:46] tao-zhang commented on #10802
Thank you a lot guys!

[2019-09-26 06:58] JO3-W3B-D3V commented on #9673
@Lovakumar out of curiosity, is there any chance that such a feature will end up on your backlog?

[2019-09-26 07:12] abelal83 commented on #9673
Task group sharing would be fantastic. For builds it's not a big deal for us however, releases are a nightmare. We have standard set of release policies that must be followed, you can imagine the pain we go through updating all the releases across all projects. Please add task group sharing to your backlog!

[2019-09-26 07:31] omeshp commented on #9673
@manospasj Done.

[2019-09-26 08:09] mulgurul commented on #10057
Me to, so count me in on a fix:-)

[2019-09-26 08:10] mulgurul commented on #10057
`PM> dotnet tool install --global dotnet-ef
C:\Program Files\dotnet\sdk\2.1.801\NuGet.targets(123,5): error : Unable to load the service index for source https://pkgs.dev.azure.com/notalib/_packaging/Dependencies/nuget/v3/index.json. [C:\Users\pmd\AppData\Local\Temp\rgjvalkm.rsi\restore.csproj]
C:\Program Files\dotnet\sdk\2.1.801\NuGet.targets(123,5): error :   Response status code does not indica

[2019-09-26 08:11] manospasj commented on #9673
@omeshp @Lovakumar I just tried it and sharing works fine. Although, if you share a connection and then try to untick all shared projects from this connection, the connection itself gets deleted even from the original project that was created.

[2019-09-26 08:12] ChrisPearce opened #11438 "Xcode Task: Provisioning profiles not included in ExportOptions.plist when exportOptions set to 'specify'"
https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Xcode

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/XcodeV5

## Environment
- Server - Azure Pipeli

[2019-09-26 08:13] hiyadav commented on #10057
Hey,

We have added it to our backlog and will pick it up in coming sprints. I'll post about further update soon.

[2019-09-26 08:22] dikhakha commented on #11365
@joalmeid Please let me know if the above suggestion works for you.

[2019-09-26 08:28] dikhakha commented on #11380
@IvanovOleg Are you unblocked using suggested workaround ?

[2019-09-26 08:31] IvanovOleg commented on #11380
@dikhakha No, since that was just an example. Actually I need to deploy resources to multiple resource groups.

[2019-09-26 08:45] dikhakha commented on #11406
@Daniel127 It looks like the task is failing due to this line:
`versionEnvVar: '$(packageVersion)'`
The environment variable 'packageVersion' is not set correctly in the script or is empty. Can you please check if it is being set by the script ? Also, I am not able to access the task logs you have shared. You can give me read permission or share the debug logs here. Set 'system.debug' = true in pi

[2019-09-26 08:52] dikhakha commented on #11380
@IvanovOleg We are working on adding support for this scenario and it will be rolled out soon !

[2019-09-26 08:53] IvanovOleg commented on #11380
@dikhakha Thanks!

[2019-09-26 09:19] dikhakha commented on #11400
@vsingh63 It looks like curl is writing the output to stderr stream. You will see the same error while using bash script with curl. As a workaround if you want to use failOnStandardError: true, you can redirect curl output to stdout: curl .... 2>&1. You can also assign curl output to a variable and check for errors: OUTPUT=$((cur ....) 2>$1) .

Please let me know if this helps !

[2019-09-26 09:39] sinclr4 commented on #11307
We too have this issue, are pipelines are designed to not progress unless gates pass

[2019-09-26 09:41] Lovakumar commented on #9673
Adding @ashokirla @shashban to track this feature request.

[2019-09-26 09:41] Lovakumar commented on #9673
@omeshp can you please take a look at it. This looks to be serious bug.

[2019-09-26 09:52] #11380 closed

[2019-09-26 09:54] vsingh63 commented on #11400
@dikhakha - If I redirect the logs to stdout, wouldn't I miss the actual error. output, I checked and you can see in logs too it's 200 without any error. I tried on Bash too, no error. Also, how can I see what is being written in error logs?

[2019-09-26 10:18] dikhakha commented on #11400
@vsingh63 You can see the entire output of script execution in your logs right after .sh file is executed. In this case, the curl output with 200 response is actually being written to stderr even tough it is successful. The curl output in the debug logs you have attached is actually what is written to stdErr.

If you use a Bash task in Azure Pipelines to execute curl command with failOnStandardErr

[2019-09-26 10:43] mulgurul commented on #10057
Is it possible to suggest a workaround?

Would be appreciated very much, thanks

________________________________
Fra: himanshu yadav <notifications@github.com>
Sendt: 26. september 2019 10:14:05
Til: microsoft/azure-pipelines-tasks
Cc: Peter Stjernholm Meldgaard; Comment
Emne: Re: [microsoft/azure-pipelines-tasks] "dotnet tool install/update" not working with Azure Artifacts (#10057)

Hey,

We ha

[2019-09-26 11:12] mulgurul commented on #10057
Ok, just an update, because this problems expands as you search for a workaround.

It seems like the dotnet commands ignores the dropdown selections for "Package source" and "Default Project" in VS 2019 package manager console.

So it does not take these into account when executing a command like: dotnet tool install --global dotnet-ef
Trying to specify a source (-add-source) on the command line d

[2019-09-26 11:40] dikhakha commented on #11009
@elbatk The searchPatternPack is semi-colon separated list of file path. Since this input is of type filePath, it tries to resolve the whole thing as one path. The input should be of type string and it should be first processed (using ; as separator) to return array of paths and then resolve individual paths. Thoughts ?

[2019-09-26 11:47] jamiehill commented on #11259
An update on this:  When I run the build with `system.debug=true` it sheds further light on the subject.

[code]

I notice that `FileCount` is zero.  Is the task simply failing as it can't find any files to cache?  This would make sense in my case, as there may not always be files to be added to the cache.

[2019-09-26 12:39] nmaarse commented on #11315
Could this be documented somewhere so that other developers do not loose time with this annoyance. The task documentation indicates it is possible, however it is not.

[2019-09-26 14:48] TWJH commented on #10815
@vincent1173 @SumiranAgg @RoshanKumarMicrosoft Hi, could you tell me if this bug being investigated at all please?

[2019-09-26 16:25] marcinzi commented on #11259
Also hit this issue today.
Yarn cache on Linux hosted pipeline.
Tried @0 and @1 version of CacheBeta task.
Also tried to specify absolute path to yarn.lock file with use of Source folder variable, instead of just saying yarn.lock

[2019-09-26 17:47] epsmae opened #11439 "Copy files over SSH: Cannot parse privateKey"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Copy files over SSH

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Copy files over SSH does not work with a private key. I am able to connect with username and passwort only but not with a private key. In the error log is visible that "Cannot parse privateKey: Unsupported key format", however I tri

[2019-09-26 18:49] Daniel127 commented on #11406
@dikhakha , The variable 'packageVersion' is set correctly in the script, and the Nuget package is created but task fail

Here the log
[logs_134.zip](https://github.com/microsoft/azure-pipelines-tasks/files/3659351/logs_134.zip)

Recently i changed the YML for this, and now it's working, but i don't know how the Nuget has the correct version

[code]

[2019-09-26 19:19] ustun opened #11440 "Post-deploy task for AzureRmWebAppDeploymentV4 does not work with WEBSITE_RUN_FROM_PACKAGE=1 setting"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeploymentV4

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Devops

- Agent - Hosted or Private: Private / Ubuntu

## Issue Description

When deploying to App Service, we want to run some post-deployment scripts. We are using the WEBSITE_RUN_FROM_PACKAGE=1 flag for faster de

[2019-09-26 19:25] ustun opened #11441 "Add task to run bash scripts on App Service slots"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: There is no "App Service Execute Bash Task". It would be great if there was one.

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Devops

## Issue Description

We would like to run some Bash scripts in a running App Service slot. There seems to be no task for that. This would be the equivalent of `ssh -c`.

Th

[2019-09-26 19:31] ivailop opened #11442 "System.IO.FileLoadException: Unable to load symbolic/hard linked file"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CacheBeta

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: https://s2technologies.visualstudio.com/testspace/_

[2019-09-26 19:36] LUC18fknU7P opened #11443 "Copy Files over SSH: Update ssh2 to support Ed25519 keys"
**Question, Bug, or Feature?**
*Type*: Feature

## Issue Description
Are any efforts being made to update to a newer ssh2 version that fully supports ed25519 keys?
because as of now you cant use them on "Copy Files over SSH" (results in Error: Cannot parse privateKey: Unsupported key format.)

[2019-09-26 19:45] fadnavistanmay commented on #10870
@ruffsl - These 3 paths are mapped - https://github.com/microsoft/azure-pipelines-agent/blob/fe5a24a1d7e93724c4849295a8200804cf2ec301/src/Agent.Worker/Container/ContainerInfo.cs#L40

[2019-09-26 19:50] ruffsl commented on #10870
Thanks @fadnavistanmay , would there be a place in the docs to document the purpose/difference between `WellKnownDirectory.Tools`,  `WellKnownDirectory.Work` and `WellKnownDirectory.Root`?

[2019-09-26 19:50] damienwebdev opened #11444 "Bug: Failed Successful Deployment - Error Handling AzureFunctionAppV1"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFunctionAppV1

## Environment
Azure Pipelines

* Account: lostgolfballs
* Project Name: www.lostgolfballs.com
* BuildId: releaseId=1101
## Issue Description

Upon running a AzureFunction Task with a zip file, I an

[2019-09-26 19:52] fadnavistanmay commented on #10870
Yeah. We will update the docs - https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/?view=azure-devops with this information. Plus, we are updating the code to reflect the same.
cc - @johnterickson

Thanks.

[2019-09-26 20:22] damienwebdev commented on #11444
Turns out, the bug is due to the task running as `Zip Deploy` but still setting `WEBSITE_RUN_FROM_PACKAGE=1`.

[2019-09-26 20:37] apobekiaris opened #11445 "How to tell which tests failed when scaled to multiple agents"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-26 21:57] JustinSchneiderPBI commented on #8651
We had a problem with overwrite recently, where 2 different build definitions incorrectly pointed to the same share. This caused a significant amount of duplicated work for a number of people, so the followups are rather important. In addition to correcting the destinations, we're preventing future misconfigurations by blocking overwrite of files. I added additional file copy parameters to exclude

[2019-09-26 22:50] aasim commented on #10802
@tao-zhang glad it helped. We'd welcome any feedback on the documentation or on the new task. I am closing this issue as fixed.

[2019-09-26 22:50] #10802 closed

[2019-09-26 23:51] fadnavistanmay commented on #10870
Hi @ruffsl , it looks like, we can mount more paths if required. @jtpetty - could you please chime in on the how part. Thanks.

[2019-09-27 00:11] avishnyakov commented on #10464
@sachinma did we have updates or workaround on this one?
Parameters override based on the ENV variables is very useful one.

[2019-09-27 02:19] damienwebdev commented on #9797
@azooinmyluggage yes. Absolutely, sorry for the delay.

[2019-09-27 07:30] ustun commented on #11440
I think the issue lies in Kudu, because as an alternative, I tried to run our post-deploy script with Kudu's REST API, however was not able to do that since the filesystem observed with Kudu is as if WEBSITE_RUN_FROM_PACKAGE=1 is not in effect.

See https://github.com/projectkudu/kudu/issues/3041 on Kudu repo.

[2019-09-27 07:35] knocte commented on #6493
@dahlsailrunner maybe this was because of casing? I've only seen `Version` (uppercase V) in my projects.

[2019-09-27 07:58] piotrgwiazda opened #11447 "Error: spawn E2BIG after Kubernetes apply"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Kubernetes@1

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/KubernetesV1

## Environment
- Server - Azure Pipelines

- Agent - Hosted or Private:

    - If using privat

[2019-09-27 08:07] bharathHexagon commented on #10794
Hi @Jonlondon ,
Even I am looking for similar feature. Can you please update on whats the progress from your side?
Did you create this on Developer Community Site?

[2019-09-27 08:48] dmitrykarnitski commented on #6554
Hi @amaljg,
We are facing the same issue while using TFS tasks after the update of "az cli" to version 2.0.74. The TFS task automatically executes the "az account clear" command, which writes in the error stream.

Setting "Fail on standard error" to "false" is not an option, it's a dirty hack that allows errors to left unseen while running the releases to production env. In other words, it's not a

[2019-09-27 09:07] 20shivangi commented on #10328
Merged PR : https://github.com/microsoft/azure-pipelines-tasks/pull/11326

[2019-09-27 09:08] 20shivangi commented on #10722
@MisinformedDNA
The support of PowerShell core in Windows for task AzurePowerShellV4 is recently added. It will take at least 3-4 weeks to get deployed.
Merged PR : https://github.com/microsoft/azure-pipelines-tasks/pull/11326

[2019-09-27 09:31] 20shivangi commented on #10262
@iricigor
Currently there is no plan to add "Enable-AzureRmAlias" as input in Azure PowerShell V4 task. We recommend users to use V3 task in case the script is not yet updated yet.
You can use V4 tasks for the scripts which is already updated with Az commands and keep using V3 task for old scripts.

In case you are using private build agent (not hosted agent), you can add two agent where one agent

[2019-09-27 09:43] Terottaja commented on #11443
Not sure but it seems like other tasks are also affected, such as SSH inline script

[2019-09-27 12:51] Robot1que opened #11448 "pwsh (PowerShellV2) tries to spawn powershell.exe process inside container with PowerShell Core"
**Type**: Bug
**Task Name**: pwsh (PowerShellV2)

## Environment

### Server
Azure DevOps Server
Version 17.143.28912.1

### Agent
**Type:** Private
**OS:** Windows Server 1809 with Docker
**Version:** vsts-agent-win-x64-2.144.2

## Issue Description

I run `pwsh` task inside a `mcr.microsoft.com/powershell:6.2.3-nanoserver-1809` container and get failure mentioning that `node.js` cannot spawn `C:

[2019-09-27 13:26] reyem commented on #11259
In my case the issue could be solved. I was wrongly assuming that `MAVEN_OPTS` will always be picked up by the maven execution. It turned out this is not the case so I had to pass this explicitly to the `options` in my pipeline:

[code]

After this, the documented configuration works.

[2019-09-27 13:36] stevenvolckaert opened #11449 "dotnet restore task fails if DOTNET_SKIP_FIRST_TIME_EXPERIENCE is set"
## Required Information

- **Type:** Bug
- **Task Name:** `CacheBeta@0`

## Environment

- **Server:** Azure Pipelines
- **Account name**: `skarabeecomnv`
- **Team project name**: `Korfine.Net`
- **Build definition:** `rent-assist` (definition ID 36)
- **Agent**: Hosted (VM image `windows-2019`)
- **.NET Core SDK used:** 2.2.402

## Issue Description

The pipeline works, including the `CacheBeta@0

[2019-09-27 14:12] baywet opened #11450 "iot edge deploy Additional properties are not allowed"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureIoTEdge

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: senseai, DataPipeline, Agent 1114 (and 1102 for the one that was working before)

- Agent - Hosted or Private:
    - If us

[2019-09-27 14:49] amaljg commented on #6554
@dikhakha / @bishal-pdMSFT - Can you help here?

[2019-09-27 15:35] JustinSchneiderPBI opened #11451 "PublishBuildArtifacts task - Robocopy: Additional File copy parameters are not applied"
*Type*: Bug

**Enter Task Name**:
PublishBuildArtifacts

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishBuildArtifactsV1

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
PowerBI.visualstudio.com\Power Query
any build. Example build:
https://powerbi.visualstudio.c

[2019-09-27 16:02] damccorm opened #11452 "Ignore - test issue to get action going"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-27 16:03] #11452 closed

[2019-09-27 16:07] fadnavistanmay commented on #10870
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/service-containers?view=azure-devops&tabs=yaml

[2019-09-27 16:10] damccorm opened #11453 "test - ignore"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-27 16:10] #11453 closed

[2019-09-27 17:06] damccorm opened #11454 "test - don't merge"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-27 17:07] #11454 closed

[2019-09-27 17:51] damccorm opened #11455 "test - ignore this"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-09-27 17:56] #11455 closed

[2019-09-27 19:59] winstonhenke opened #11456 "Default parameters not working with Azure CLI Task V2.0"
*Type*: Bug

**Enter Task Name**: AzureCLI@2

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureCLIV2

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: account name is Advicent

- Agent - Hosted

    - vs2017-win2016 from Azure Pipelines

## Issue Description

I'm tryin

[2019-09-27 20:01] ivailop opened #11457 "CacheBeta: Skipping because the job status was not 'Succeeded'"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CacheBeta

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: https://s2technologies.visualstudio.com/testspace/_

[2019-09-28 01:12] baoduy commented on #9257
Instead of trying to replace the value in the array with indexing `[0]`. I'm using [Replace Token](https://marketplace.visualstudio.com/items?itemName=qetza.replacetokens&targetId=1a4ff402-8255-461c-bdc2-e455fdf622ff&utm_source=vstsproduct&utm_medium=ExtHubManageList) extension to replace the variable name in the config file with value during deployment.

[2019-09-28 04:23] Mgamerz commented on #10712
Having this same issue. Would be nice to see this fixed, I want to see code coverage but I want to be able to exclude libraries I have to build from source from my coverage test.

[2019-09-28 08:26] EFanZh opened #11459 "In Azure Pipelines, the published coverage report fail to display some Unicode characters"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishCodeCoverageResults

## Environment

- Server - Azure Pipelines or TFS on-premises?
  - Azure Pipelines
- Agent - Hosted or Private:
  - Hosted

## Issue Description

The published reports fail to display some U

[2019-09-29 09:04] blackchoey commented on #11387
This is caused by a bug in Azure IoT extension for Azure CLI: https://github.com/Azure/azure-iot-cli-extension/issues/95
Azure IoT extension for Azure CLI already fixed this error. You should no longer see this error.
I'm going to close this issue. Feel free to open new issues if you meet other problems when using Azure IoT Edge tasks.

[2019-09-29 09:04] #11387 closed

[2019-09-30 00:31] mattsteinRRD commented on #11136
I too am running into this and would like to use recent versions of everything.  Is there an ETA for this?

[2019-09-30 03:47] kiwidave72 opened #11460 "DotNetCoreCLIV2 - Custom command, path needs to be absolute"
Im having issues with the passing the path of the .dll that i want to run.
based on my testing the only way i can get the dotnet to run is to pass the complete full path of the .dll or dotnet cannot find the file.
is there a work around for this as i dont want full path names in my pipelines.

[2019-09-30 06:50] gnimor commented on #11435
I see the same issue on our on-premises instance

[2019-09-30 08:01] jdefesche1 commented on #3853
Hi, for me the problem was that I pointed to the solution file under GetSources task, property ServerPath. In stead use the folder where the solution file is located.

[2019-09-30 08:51] joalmeid commented on #11365
@dikhakha, that was exactly our scenario - using authenticated feeds. We made sure restore would run correctly beforehand any test task.
We can close this issue.

[2019-09-30 08:52] #11365 closed

[2019-09-30 10:02] stevenvolckaert commented on #11449
Issue is related to (or caused by?) https://github.com/NuGet/Home/issues/8604: The package lock is generated differently on different machines.

I was able to resolve this by following the steps **exactly** as outlined in repo [NuGet/Home \#7921](https://github.com/NuGet/Home/issues/7921)

[2019-09-30 13:24] n1ckyb commented on #11457
I'm facing a similar issue to the one mentioned above.

I think it would make sense if this was configurable with some option like
[code]

Does this option already exist?

[2019-09-30 13:57] skamoda opened #11466 "AdditionalArgumentsForBlobCopy to set Cache-Control property"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Azure file copy

## Environment
- Server - Azure Pipelines

- Agent - Hosted VS2017

## Issue Description
I know there was a question in related issue: #2395.
But I would like to ask what should be given in `Optio

[2019-09-30 14:07] hacst commented on #11136
Same here. Looks like this code is no longer compatible with current node stable versions. Using an old v11.15.0 node things work. Using a current 12.11.0 it fails with this error.

[2019-09-30 14:41] BLZ3 opened #11467 "Created Initialize-Az to mimic functionality of Initialize-Azure"
*Type*: Question
**Task Name:** Common/VstsAzureHelpers

I have several custom build tasks created using the AzureRM powershell module.  I am starting the process of converting these tasks over to the Az module.  I have used the Initiliaze-Azure function from VstsAzureHelpers module and noticed that the module lacked an equivalent function for the Az module.  I am wondering if I am have simply ove

[2019-09-30 17:03] sepich opened #11468 "CmdLine does not forwarding signals"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CmdLine, Bash

## Environment
- Server: TFS2018
- Agent: Hosted, 2.158.0 on ubuntu 16.04

## Issue Description

We use only one step in build definition - "Command Line", which runs script in repo doing all the logic.
Here is process tree, while build is running:
[code]

Pressing "Cancel" on such build, trigge

[2019-09-30 18:19] Banner-Keith commented on #10013
I started working in this repository again today and encountered this problem again. Can we get some traction on this? It's a very easy fix with minimal impact.

All I did to fix it was change  [Line 173 in make-util.js](https://github.com/Microsoft/azure-pipelines-tasks/blob/0ab6301bae6cb89baed88478eca7786ccf0a8cff/make-util.js#L173) from `run('tsc --outDir ' + outDir + ' --rootDir ' + taskPath);

[2019-09-30 19:50] chrisrodriguezmbww commented on #11324
Yes I want to add it to azure release pipeline web.config parameters task.

This will allow me to prevent redirect issue from www to non-www urls and not get dinged by SEO.

[2019-09-30 19:50] sturlath opened #11469 "Build can't find variable because it is not defined"
I have the following code in my Script.PostDeployment.sq (DatabaseProject)

`SELECT @solutionDir = REPLACE('$(SolutionPath)','MySoulution.sln','');`

There I'm getting the absolute path to the solution (and using it in another place).

This **works like a charm** when I publish locally. But when I run azure build it fails and I get the following error

`SCRIPT.POSTDEPLOYMENT.SQL(17,32,17,32): Buil

[2019-09-30 21:42] ANTPro opened #11470 "Variable endpoint is not working"
## Variable in endpoint parameter is not working for task ssh

## Required Information
**Question, Bug, or Feature?**
*Type*: Bug
**Enter Task Name**: SshV0

## Environment
- Server - Azure Pipelines
- Agent - Private: Linux

## Issue Description

1. Nobug:
[code]
2. Bug:
[code]

## Troubleshooting
This is not task bug. Bug in Azure DevOps(bad setting parameter).

[2019-09-30 21:42] ANTPro commented on #11470
[Ex info](https://github.com/MicrosoftDocs/vsts-docs/issues/5790)

[2019-10-01 01:37] lhfiedler opened #11471 "PublishTestResults doesn't publish with release 1.0.43 on 9/13 and 9/25"
Our builds stopped publishing our trx test results on 9/13 (1.0.43) with the updates to PublishTestResults.  9/25 update didn't work either. We are seeing the warning:
##[warning]Failed to publish test results: The given path's format is not supported.

When diffing the updates to the PublishTestResults.ps1 changes wih 1.0.43, I imagine it has to do with these changes:

        # There's a Null re

[2019-10-01 05:19] arjgupta commented on #11466
Hi @skamoda , we use azcopy tool to copy files to blob. The additional arguments input is arguments that are passed to azcopy to modify it's behaviour. The [az copy github repo](https://github.com/Azure/azure-storage-azcopy) will be the right place to answer your query.

[2019-10-01 05:19] #11466 closed

[2019-10-01 06:19] arjgupta commented on #11434
@Linaa , when you are trying to execute the command on your local environment, are you initializing az powershell module using the service principal credentials or using your user credentials. Please try it with the same service principal credentials that you are using in your release.

[2019-10-01 06:19] SumiranAgg commented on #11444
@damienwebdev post deploy action is not supported with RUN_FROM__PACKAGE deployment technique, since it makes code mounted in site/wwwroot read only. If you are trying to write to the app files, I suggest using zipdeploy. You can select the option from additional deployment options section in the task.

[2019-10-01 06:47] UmairSyed commented on #9416
Can we have an if condition in inline script to be able to run az network command only if the environment is dev etc?

[2019-10-01 06:57] dikhakha commented on #6554
@dmitrykarnitski Can you please share the debug logs of your pipeline run where this task is failing.

[2019-10-01 07:10] dikhakha commented on #11460
@kiwidave72 Can you elaborate on your scenario ? Suggested way to run dotnet application is to use dotNetCore task with command build, followed by run command where you can pass path/pattern to your csproj. If you are directly trying to run an existing application dll without any build process then you need to provide absolute path to the dll like dotnet <path_to_dll>

[2019-10-01 07:24] dikhakha commented on #11456
@jalajmsft Can you take a look at this ?

[2019-10-01 07:42] dikhakha commented on #11437
@JanEggers Can you please share the complete debug log of the task. Set 'system.debug'=true as pipeline variable. Also, can you give an idea on the size of trx file ? It could be because of huge file size.

[2019-10-01 07:51] lhfiedler commented on #11471
I enabled system.debug=true to get some more output.  Are the spaces in the trx filenames now throwing it off with it using Agent Command mode?

##[debug]Find-Files -SearchPattern c:\deployment\TestResults**\*.trx
##[debug]FindFiles.FindMatchingFiles(rootFolder = , matchPattern = c:\deployment\TestResults**\*.trx, includeFiles = True, includeFolders = False
##[debug]FindFiles.GetMatchingItems(incl

[2019-10-01 08:04] skamoda commented on #11466
Thanks for reply
According to documentation and example I pass `--cache-control=no-cache` but I get errors like that:
`[ERROR] The syntax of the command is incorrect. The option "--cache-control=no-cache" is not recognized.`

[2019-10-01 08:10] JanEggers commented on #11437
I enabled debug trace, it will take a while until the build is done, I will let you know.

no I did not have a chance to look at it as the server deletes the files after the run completes. And I didnt run it locally as it takes several hours.

[2019-10-01 09:22] AndreiLipinski commented on #6554
Hi @dikhakha, I work with @dmitrykarnitski
logs with debug mode:
`2019-10-01T08:51:03.6221810Z ##[section]Starting: Add firewall rules to DW for Toronto office
2019-10-01T08:51:03.6449519Z ==============================================================================
2019-10-01T08:51:03.6449758Z Task         : Azure CLI
2019-10-01T08:51:03.6449971Z Description  : Run a Shell or Batch script with A

[2019-10-01 09:48] ShreyasRmsft commented on #11425
@mahalex this was fixed in a later version. Take a look at the code here https://github.com/microsoft/azure-pipelines-tasks/blob/e6388b144537d1d80a468fbf39ccb47d2ca1c75c/Tasks/VsTestPlatformToolInstallerV1/nugetpackageversionhelper.ts#L19

Initially in the older versions we were looking for the package by name and I changed it to look for the package by Id  which should solve this issue.

If there

[2019-10-01 09:50] ShreyasRmsft commented on #11359
Closed due to no response.

[2019-10-01 09:50] #11359 closed

[2019-10-01 09:50] ShreyasRmsft commented on #11328
We are working on revamping the experience of what happens when no tests are run. Will keep you updated once we spec out the plan.

[2019-10-01 10:05] kaadhina commented on #11421
please share the full debug logs  for us to look into

[2019-10-01 10:11] dikhakha commented on #11456
@winstonhenke Thanks for reporting this issue ! We have identified a bug and will be rolling out the fix soon. The issue is when arguments is not passed, the script gets called with arguments value as null which is why first parameter will be affected and assigned value null.

While the fix gets rolled out, you can unblock yourself by modifying the script and setting the default value for first pa

[2019-10-01 10:14] kaadhina commented on #11445
Hi, the task (on all agents) fail based on the test run passing/failing. You can find the reporting under the tests tab.
![image](https://user-images.githubusercontent.com/11773114/65953727-2f1f0200-e462-11e9-8514-c2870f3baee0.png)
It will have a detailed report of what tests passed and what failed
![image](https://user-images.githubusercontent.com/11773114/65953770-42ca6880-e462-11e9-8fbf-88404fb

[2019-10-01 10:19] navin22 commented on #11471
@lhfiedler I am able to repro it, and yes it started breaking after moving to agent command to publish the test results.

Can you please use the newer task version ? If there are any blockers, please let us know.

In case if you are still wanted to use the V1 - Add a variable to your pipeline/build like below
UsePowerShellScripts=true

[2019-10-01 10:32] kaadhina commented on #11372
It is possible to set notifications for pipeline completion that will send out the report over email: https://docs.microsoft.com/en-us/azure/devops/notifications/?view=azure-devops

[2019-10-01 10:42] mahalex commented on #11425
@ShreyasRmsft thank you for the informative answer!
Unfortunately, this won't work for us, since we're not always using the default package source. We have our own locally hosted package source, and I can see from the code you posted that in this case it will still use lookup by name. I guess it makes sense, since the task has no way of knowing if the package source supports the "packageid:" searc

[2019-10-01 10:54] dikhakha commented on #11413
@JoeGaggler Thanks for reporting this issue ! We will be adding minimumAgentVersion in the task which is 2.144.0

[2019-10-01 11:02] hiyadav commented on #11413
@JoeGaggler we have updated the task to include minimum supported version. It will start rolling out next week and will be available to everyone in 3 weeks time.
Thus closing the issue.

For using the task, kindly upgrade the agent to 2.144.0 or above.

[2019-10-01 11:02] #11413 closed

[2019-10-01 11:07] vishnuprakash9845 commented on #11372
I Just went through the link, but could not find to send the below summary report through mail

![image](https://user-images.githubusercontent.com/24207575/65957131-ba4fc600-e469-11e9-8b7d-11aa4cc6ad73.png)

[2019-10-01 11:22] hacst opened #11478 "Interest in "Kubernetes Proxy" functionality?"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: KubernetesV1

## Issue Description
One challenge we have encountered when working with Kubernetes from pipelines is that it is hard to run post-deployment integration tests on cluster internal services.

The workaround we have come up with for this is to use the kubectl port-forward feature to make the i

[2019-10-01 12:05] birko commented on #11439
I have similar issue with the task SSH command. need to log with the privatekey option . hope this issue will be resolved soon

[2019-10-01 12:20] BLZ3 commented on #11467
Here is the function I have duplicated from the Initialize-Azure function and the line required to export the function:

[code]

[2019-10-01 12:20] gclpixel commented on #11359
What is the expected value of 'EnableHydra' on non legacy code.
On our system this flag is enabled unexpected.
Will this code
`test.runNonDistributedTest();`
or this
`localtest.startTest();`
the new prefered way?

[2019-10-01 12:21] ShreyasRmsft commented on #11425
@mahalex true. I guess it shouldn't be too much of an effort to manually update the version once in a while. However you could make a copy of the task and publish it to your account with a few code changes suited to quickly finding the latest version published to your custom feed. Assuming the solution of manually updating is too much of an overhead.

[2019-10-01 12:56] mahalex commented on #11425
@ShreyasRmsft right, thanks again!

[2019-10-01 12:56] #11425 closed

[2019-10-01 13:24] damienwebdev commented on #11444
@SumiranAgg I'm not sure I understand. If it's not supported, then why does running the release more than a single time cause it to intermittently work as anticipated?

[2019-10-01 14:22] hbunjes commented on #11460
We have a similar issue since version 2.158.0 (shown in header of tasks) with the tests. Before, the parameter "-s" for "dotnet test" points to the solution folder and no longer to the folder where the csproj is located at. With version 2.156.2 it was working.

[2019-10-01 14:27] pauldoom commented on #10835
@Lovakumar and @omeshp - Adding this as a vote to please resolve ASAP.   This is a blocker for us using deployment stages, which means coding in ugly workarounds for many pipelines we are trying to port over to Azure Pipelines.

[2019-10-01 14:36] niadak commented on #11467
You can use Initialize-AzModule function. For example, we are doing so in [AzureFileCopy task](https://github.com/microsoft/azure-pipelines-tasks/blob/4de28e88fd53a2e6e7380a9adeba058198fc461e/Tasks/AzureFileCopyV3/AzureFileCopy.ps1#L68).

Logic for reading task inputs should be in individual task code instead of in the common function. For example, because of this common function all the tasks are

[2019-10-01 14:45] Linaa commented on #11434
It works fine when using the service connection credentials in local environment

[code]

[2019-10-01 15:31] lopeg opened #11479 "VSTestV2 shows settings file content in logs and fails with relative paths in settings file"
## Note
After update from 2.157.3 to 2.157.4 two changes took place:
- Task started exposing settings file content (which contains sensitive data) to log output.
   There was no output in 2.157.3
- Relative paths in settings file are concatinated to %APPDATA%\Local\Temp
  Earlier IT was concatenated to %Build.SourcesDirectory%

## Required Information
**Question, Bug, or Feature?**:  Bug
**Enter T

[2019-10-01 16:29] Diandres opened #11480 "Error"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-10-01 16:31] #11480 closed

[2019-10-01 16:55] apobekiaris opened #11481 "Safety of Download Azure Secrets"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-10-01 18:42] aapalm opened #11483 "Version 2.157.4 forcing settings file to be "runsettings""
**Question, Bug, or Feature?**
*Type*: Bug

## Environment
Azure Pipelines

## Issue Description
Version 2.157.4 is forcing test runs to use "runsettings".  Since it does not have the ability to run startup / cleanup batch scripts, this is a breaking change for our test runs.

## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/bui

[2019-10-01 20:56] jattasNI commented on #11242
This bit me too. Does anyone know if this is fixed in YAML-based Release pipelines? My current setup is the older configuration-based approach but if this works in YAML pipelines then it might spur me to switch.

[2019-10-02 04:37] princjef opened #11484 "[NpmAuthenticate] Local credentials not loaded for working file not named .npmrc"
## Overview

- **Type**: Bug
- **Task Name**: NPM Authenticate
- **Server**: Azure Pipelines
- **Agent**: Hosted Ubuntu 1604

## Issue Description

When running the NPM Authenticate task with a `workingFile` whose leaf file name is something other than `.npmrc`, local credentials are never loaded into the file.

![image](https://user-images.githubusercontent.com/3675357/66018271-40cccd80-e493-11e9

[2019-10-02 06:07] mitchdenny commented on #9190
Closing this issue as Azure Pipelines now has pipeline caching.

[2019-10-02 06:07] #9190 closed

[2019-10-02 06:11] mitchdenny commented on #10220
@elbatk could you help route this to the right folks? Not sure who is looking after this now.

[2019-10-02 06:34] lietu commented on #9190
@mitchdenny yet this says it's WIP? https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/pipeline-caching.md

[2019-10-02 07:49] osvaldolove commented on #6135
The info provided by @heratyian works perfectly for me and is easy to implement.

[2019-10-02 08:01] gertvdh opened #11485 "Older versions of the test platform and no tests were found"
originated from

https://developercommunity.visualstudio.com/content/problem/690316/vstest-task-behavior-change.html
and https://developercommunity.visualstudio.com/content/problem/754407/visual-studio-test-tasks-fails-when-no-tests-to-ex.html

When you are using an older version of the test platform, in our case visual studio 2015, the vs test task fails when no tests are detected. It used to jus

[2019-10-02 08:15] sylwiaboguska opened #11486 "Azure Pipelines: Not possible to select service connection when using ".NET Core Function App to Windows on Azure" task"
Hi,

I have noticed that, when building pipeline in Azure Pipelines using ".NET Core Function App to Windows on Azure" task, it is not possible to select service connection, only subscription. This creates problems because the user needs to have "Owner" or "User Access Administrator" permissions on the Subscription to be able to authorize the connection. Is there a plan to add Service Connection o

[2019-10-02 10:19] sturlath commented on #11469
This is still a problem so I created a [question on StackOverflow](https://stackoverflow.com/questions/58183392/azure-devops-build-cant-find-variable-because-it-is-not-defined). Unfortunately no one has answered that one either...

[2019-10-02 10:32] aatif912 commented on #11479
I am facing the same issue from couple of days. Appreciate if someone can have a look on this. Thanks !

[2019-10-02 10:35] aatif912 commented on #11479
I am also facing the same issue from couple of days. Appreciate if someone can have a look on this. Thanks in advance !

[2019-10-02 12:36] mitchdenny commented on #9190
Yeah - that was a design note - the ** Work In Progress ** thing wasn't removed before it was merged. Here is where the feature is described right now:

https://devblogs.microsoft.com/devops/caching-and-faster-artifacts-in-azure-pipelines/

I believe there is still more work to do - but it is in a usable state right now.

[2019-10-02 14:32] robal commented on #5112
Please add this. I need this to be able to run Task Groups in parallel using "multi-configuration".
For the impatient ones: I've found a sick workaround:

1) take your Task Group and add a dummy task to print two vars (this is just to make the vars appear on Task Group variable list).  Eg:
Inline Powershell: `Write-Host("$(selector) $(staticselector)")`

2) specify Custom Condition on ALL tasks in

[2019-10-02 15:48] cwoolum commented on #6135
We already have that solution above but it prevents the `dotnet restore` step from being cached by docker.

[2019-10-02 16:13] Sharparam commented on #5188
Since the `publishConfig` is supposed to be used to avoid accidentally publishing to the wrong registry, won't this requirement mean that there's a risk of publishing an internal package to the public?

[2019-10-02 16:26] osvaldolove commented on #6135
@cwoolum I see you're other post about getting docker to cache with build secrets, I'll give that a whirl. There is a lot of info to parse in this thread!

[2019-10-02 16:43] zachgreencbt commented on #9893
Did you ever find a resolution? I am having this same problem, but I do have zipalign enabled.

[2019-10-02 16:53] fadnavistanmay commented on #10220
Hi @CasperWSchmidt , for the "Publish Artifact" - Can you try using "Publish Pipeline Artifact" task. And in your publish directory, you can use the .artifactignore option to filter, which files you don't want to publish. - https://docs.microsoft.com/en-us/azure/devops/artifacts/reference/artifactignore?view=azure-devops

[2019-10-02 19:57] CasperWSchmidt commented on #10220
@fadnavistanmay I'm sorry but I'm no longer assigned to that project. The .artifactignore approach looks promising though. I will keep that in mind for the new project I'm working on.

[2019-10-02 20:00] fadnavistanmay commented on #10220
Hi @CasperWSchmidt - sounds good. I'll close this issue.
Feel free to reach out for any future requests.

[2019-10-02 20:00] #10220 closed

[2019-10-02 20:04] fadnavistanmay commented on #11069
Hi @hintbw , it was discussed and was decided to not have this feature.

[2019-10-02 20:04] #11069 closed

[2019-10-02 20:17] coldacid commented on #11443
The current version of the task uses a version of ssh2-streams which _does_ include ed25519 support, but it seems to have that support turned off for some reason. As far as I can tell from a bit of code and issue walking is that the task fails at https://github.com/mscdex/ssh2-streams/blob/master/lib/keyParser.js#L749 which means that the `EDDSA_SUPPORTED` flag is `false`, indicating that the Node

[2019-10-02 21:55] phil-hodgson opened #11489 "DownloadPackagesV1 may report success, even if the download fails"
## Required Information
**Question, Bug, or Feature?**  Bug
*Type*: Error handling
**Enter Task Name**: DownloadPackagesV1

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

## Issue Description
Customer reported that in a build, the actual download failed with a message "UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Failed to extract

[2019-10-02 22:36] memao opened #11490 "npmAuthentication task fail randomly"
Type: Bug
Task Name: NPM Authenticate
Server: Azure Pipelines
Agent: Hosted windows 2019

The authentication for a registry outside of our org goes wrong randomly.

On azure hosted agents, we are using npm authentication task and npm service connection to do the authentication. Normally, if things goes right, this step would find the correct username and password for the feed. However, randomly, t

[2019-10-02 22:53] kungfooflea opened #11491 "Deleting a resource group fails if the storage account has snapshots"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-10-03 02:18] KennyChen0909 opened #11492 "Add build information in logs for DownloadPipelineArtifacts just like DownloadBuildArtifacts does"
**Question, Bug, or Feature?
Feature request

**Enter Task Name**: DownloadPipelineArtifacts

## Environment
 Azure Pipelines

### Feature request:
Is it possible to add some build information(such as the build number) when generating logs for the DownloadPipelineArtifacts?

In the debug log of  DownloadPipelineArtifacts, we could only see:

2019-09-26T04:03:11.4060581Z Information, Filtered 7 fil

[2019-10-03 02:31] kiwidave72 commented on #11460
I have a .net 3.0 core console app that i use in the pipeline.

my "Custom command" is something like the following:
C:\Users\buildagentadmin\agent\_work\r1\a\_Pipeline\Tools\ProductHelper\AzureFileSync.Console\bin\Release\netcoreapp2.1\AzureFileSync.Console.dll

And when i try using variables from the pipeline 'dotnet' errors and cant find the dll.

[2019-10-03 02:32] damienwebdev commented on #11444
This is potentially related to #10961

[2019-10-03 05:04] dmitrykarnitski commented on #6554
@dikhakha,
Do you have any updates regarding this?

Also, I see that our log is almost identical to the log provided by the author of this post.
Can we reopen this issue then?

[2019-10-03 05:22] kaadhina commented on #11479
Hi can you please share full debug logs from before and after the behaviour change?

[2019-10-03 05:27] kaadhina commented on #11483
Hi, if no settings file is specified, we do create a runsettings. But if a testsettings is specified, it will be embedded in the runsettings and honoured. Please let us know if that does not work for you. (SHare full debug logs in case this does not work)
Also on another note, runsettings now supports batch scripts under a 'LegacySettings' node: https://github.com/microsoft/vstest-docs/blob/master

[2019-10-03 05:58] ShreyasRmsft commented on #10982
@splateaux we have fixed this and this should get rolled out in around 2 weeks

[2019-10-03 05:59] ds-ms commented on #11212
Have you tried removing `'` from your overrides and used it?
Use it like:
[code]

[2019-10-03 06:01] ShreyasRmsft commented on #10980
@lygasch we are working on addressing. please track this issue https://github.com/microsoft/azure-pipelines-tasks/issues/11328 for updates.

Closing is it will be addressed as part of the linked issue.

[2019-10-03 06:01] #10980 closed

[2019-10-03 06:06] ShreyasRmsft commented on #10878
Closing due to no response. please Re-open with requested details.

[2019-10-03 06:06] #10878 closed

[2019-10-03 06:11] ShreyasRmsft commented on #11359
test.runNonDistributedTest();

we will be deleting the legacy code (localtest.startTest()) soon

[2019-10-03 07:47] rbev commented on #11374
I just noticed this behaviour during a bug-squashing sprint where almost every branch only had one commit.
Providing a "read" branch to the restore step would be great, similar to how PR builds will read from the source/target caches.

[2019-10-03 08:29] itorian opened #11493 "FileTransform task not working as expected for appsettings.json file variable substitution"
I know how variable substitution works in release pipeline, just check "XML variable substitution" for XML files or write json filename in "JSON variable substitution" textbox. This works well if I'm deploying to "Web App on Windows" app service type. But as soon as I select "Web App on Linux" app service type "File Transforms & Variable Substitution Options" group disappears.

Then I decided to m

[2019-10-03 11:07] suyash691 commented on #11182
Hey, can you provide me with the published trx(old and new ideally)?

[2019-10-03 11:41] lopeg commented on #11479
@kaadhina hello
Unfortunately i have no debug logs "from before" as i can not revert to old version and had no runs with debugs
Please fine attached logs: "before_debug_false.log" and "after_debug_true.log"
[after_debug_true.log](https://github.com/microsoft/azure-pipelines-tasks/files/3685832/after_debug_true.log)
[before_debug_false.log](https://github.com/microsoft/azure-pipelines-tasks/files/3

[2019-10-03 12:05] dikhakha commented on #6554
Thanks for the logs @AndreiLipinski , @dmitrykarnitski It is possible that the script is writing something to stderr even though it passes with exit code 0. I am not able to repro 'az account clear' causing the failure. Can you share the script which you are executing ? Also, can you share debug logs of the failed pipeline, set 'system.debug' = true as pipeline variable and run it. The current log

[2019-10-03 12:30] DenSmoke commented on #11315
It doesn't work in my case with WPF app which uses some legacy dependencies. I can build it and run on local machine, but Azure Pipeline fails on dotnet publish, it tries to restore packages again and gets "Unathorized" exception

[2019-10-03 13:32] kgapos commented on #10767
@vincent1173 For what it's worth, this problem still manifests in all 3 versions of the task (v1, v2, v3.preview)

[2019-10-03 14:22] loshurik opened #11496 "Need support for the released 3.0"
Only 3.0 preview are available now, need to use the SDK 3.0.100

[2019-10-03 14:25] loshurik commented on #11496
switching from task version 0.* to 2.* helped

[2019-10-03 14:26] #11496 closed

[2019-10-03 14:38] dikhakha commented on #11491
@kungfooflea As per this documentation: https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/storage-resource-deletion-errors, Azure prevents deletion of a disk that is attached to a VM. You need to manually follow the steps to delete storage account if it contains snapshot being used by other VMs. Can you confirm if same scenario was working with this task earlier ? Also, when

[2019-10-03 16:56] MarkKharitonov commented on #10399
We face the same problem. Unbelievable!

[2019-10-03 17:25] dikhakha commented on #11460
@kiwidave72 You can use pipeline variables in your custom command. Example: $(System.DefaultWorkingDirectory)\<artifact alias>\<path to dll>. Can you please share the logs for the instance when you tried to use pipeline variables ?

[2019-10-03 17:29] dikhakha commented on #11456
@winstonhenke The fix will be available with version 2.0.2 within few days. Please feel to reopen this issue if problem persists.

[2019-10-03 17:29] #11456 closed

[2019-10-03 17:58] yelob opened #11498 "KubernetesManifest task failing on canary deployment with Helm chart"
**Note**
https://github.com/microsoft/azure-pipelines-tasks/blob/86a104c469fb62fb3e14915414f58d939973a8ed/Tasks/KubernetesManifestV0/src/utils/CanaryDeploymentHelper.ts#L54

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifest@0
**Environment**:
Server: Azure Pipelines
Agent: Hosted

**Issue Description**
While testing the KubernetesManifest@0 task with a Helm chart,

[2019-10-03 18:22] kungfooflea commented on #11491
Hi @dikhakha thank you for your response. Yes this process was working previously and has been for the last year without any issues or manual steps required. When I manually deleted the storage, I had to tick the option to delete snapshots. In the Azure CLI I needed to add "--delete-snapshot include" to the command.

[2019-10-03 23:12] clpalmer opened #11500 "KubernetesManifest task doesn't accept variable for kubernetesServiceConnection"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifest

## Environment
Azure Pipelines

## Issue Description

When trying to store the kubernetesServiceConnection in a variable, it doesn't appear to resolve the variable and fails.

Task:
[code]

This results in the error in the Error Logs section below, regardless of whether I try and include it from a variable group a

[2019-10-04 03:01] asottile commented on #9190
Is there a place to leave feedback? I have some... thoughts

[2019-10-04 03:51] altendky commented on #9190
https://github.com/apps/wip ?

[2019-10-04 04:17] daniellittledev commented on #9257
The documentation for this needs to be updated!

[2019-10-04 04:42] kaadhina commented on #11485
This was an intended change but based on feedback we are considering making a change in behaviour. We are already tracking this in our backlog. But please do note that we pick items from backlog based on priority.

[2019-10-04 04:43] #11485 closed

[2019-10-04 04:45] #11445 closed

[2019-10-04 04:56] kaadhina commented on #11386
Thank your feedback. The name is based on the phase name configured in the pipeline and not from the test task (which is just one of the many tasks potentially present in the phase) Today there isn't a way to let the pipeline know which of those tasks and for that task to custom configure this based on how the task behaves and unfortunately this is not high on our priority right now.

[2019-10-04 04:56] #11386 closed

[2019-10-04 04:57] gertvdh commented on #11485
I did not know DevOps is doing breaking changes without announcing them? This breaks 20 of our build definitions or so,  very dissappointed with that.

[2019-10-04 04:57] Anumita commented on #11414
@hhellbusch , thanks for reporting this issue. I have  checked in the fix for this(https://github.com/microsoft/azure-pipelines-tasks/pull/11473) and the fix should reach you in 2-3 weekes. Till then you can remove the --debug option as a workaround.

[2019-10-04 05:04] kaadhina commented on #11485
Hi, my understanding is that this is not a blocking issue. The test are not discovered and the task fails as opposed to passing. Tests not being discovered for a task configured to run tests is unexpected and hence is being treated as failure.

[2019-10-04 05:07] gertvdh commented on #11485
I understand why this is done, but it used to not fail, and now it does, that is a breaking change I would believe

[2019-10-04 05:12] gertvdh commented on #11485
As a workaround we added 1 test and set them to inactive

[2019-10-04 05:16] JanEggers commented on #11437
yesterday we had the issue again:

2019-10-03T17:56:33.9974872Z Results File: C:\TFS\_work\_temp\xxx_2019-10-03_17_57_26.trx
2019-10-03T17:56:33.9978759Z Test Run Failed.
2019-10-03T17:56:33.9979944Z
2019-10-03T17:56:33.9980098Z Total tests: 662
2019-10-03T17:56:33.9980626Z      Passed: 620
2019-10-03T17:56:33.9980728Z      Failed: 3
2019-10-03T17:56:33.9980830Z     Skipped: 39
2019-10-03T17:56:33

[2019-10-04 05:19] JanEggers commented on #11437
I had a look at some other runs and there I see this warning:
2019-10-03T15:53:59.6066204Z ##[warning]Skipping attachment as it exceeded the maximum allowed size 75MB: C:\TFS\_work\_temp\tfsadmin_SRHW8055_2019-10-03_15_36_24.trx

So it looks like that file size isnt the issue because I dont see this waring when we get the outofmemory exception

[2019-10-04 05:48] himajan opened #11501 "Intermittently VsTest Task fails to execute tests"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
Task         : Visual Studio Test
Description  : Run unit and functional tests (Selenium, Appium, Coded UI test, etc.) using the Visual Studio Test (VsTest) runner. Test frameworks that have a Visual Studio test adapter such as MsTest, xUnit, NUnit, Chutzpah (for JavaScript tests using QUnit, Mocha and Jasmine), etc. can be run. Test

[2019-10-04 08:14] Terottaja commented on #11443
Seems like the task is 1 minor version behind (https://github.com/mscdex/ssh2/issues/352#issuecomment-486511390)

[2019-10-04 08:29] dikhakha commented on #11491
@kungfooflea The task behavior has not changed and it looks like Azure needs you to delete snapshots being used before going forward. One workaround which I can think is using az cli to delete snapshot and then delete resource group using 'az group delete'.

[2019-10-04 09:13] dikhakha commented on #11460
@hbunjes Can you share the debug logs for both successful and failed scenarios ?

[2019-10-04 10:05] Lovakumar commented on #10835
@pauldoom if you are just onboarding to Azure Pipelines, can you please consider using Pipeline Artifacts instead Build artifacts. Our future investments will be in [Pipeline Artifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=azure-devops&tabs=classic).

[2019-10-04 10:17] ds-ms commented on #11500
Have you created a variable with `KubernetesServiceConnection` name in your variable section?
Also, could you show me the error you're seeing; would be easier to debug

[2019-10-04 10:37] kaadhina commented on #11459
Thank you for your feedback. We have fixed this and it should get rolled out in a few weeks time. Thanks!

[2019-10-04 10:37] #11459 closed

[2019-10-04 14:14] clpalmer commented on #11500
The big report contains pasted examples of both the capable group and direct variable approaches I've tried and also the error logs section at the bottom of it contains the exact error that shows up.

The error says missing or not authenticated, but the authentication is in place as trying to click the authenticate button fails and putting the name of the SC directly into the task instead of using

[2019-10-04 14:45] ericallam opened #11507 "Add ability to include additional export options during Xcode package step"
## Required Information

**Question, Bug, or Feature?**

Feature

**Enter Task Name**: Xcode

## Environment

Any environment where the Xcode task can be used.

## Issue Description

During the Xcode export process, it's not possible to specify options for `compileBitcode`, `thinning`, and more (see full list [here](https://gist.github.com/cocoaNib/502900f24846eb17bb29)). This is particularly pain

[2019-10-04 14:58] slawomir-brzezinski-at-clarksons commented on #4457
We are having the issue as well, and the workaround found by our team-member is to rather use a change to firewall rules to cut the traffic to the service, without stopping the service, so that the task can succeed.

Re [vincent1173's comment](https://github.com/Microsoft/azure-pipelines-tasks/issues/4457#issuecomment-346873940):

The justifications attempted with the above statement seem to be ra

[2019-10-04 15:12] slawomir-brzezinski-at-clarksons commented on #4457
Re [vincent1173's comment](https://github.com/Microsoft/azure-pipelines-tasks/issues/4457#issuecomment-346873940):

The justifications attempted with the above statement seem to be rather vague to argue with, but I'd like to try to reason with them:

Zero down-time is a property of a change, not the CI infrastructure. Then perhaps you mean here that _"Azure DevOps "Slot Swap" Task doesn't support

[2019-10-04 15:15] gpomykala opened #11508 "unable to get local issuer certificate"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadSecureFileV1 / InstallSSHKeyV0

## Environment
- TFS on-premises

    - If using TFS on-premises, provide the version:

About Azure DevOps Server
Version Dev17.M153.3

- Agent - Hosted or Private:
private Linux agent running Azure Pipelines agent v2.158

## Issue Description

Both tasks fail with infamous 'unable to get local

[2019-10-04 16:56] shashankbarsin commented on #11316
Valid feedback. @Anumita let's address this

[2019-10-04 18:15] cwoolum commented on #6135
I've come up with another way to use private Nuget repos in Azure Pipelines builds. It uses service containers so you'll need to be able to use YAML builds to support it.

The BuildKit solution I had above worked but you lost the ability to use `--cache-from` which is crucial to keeping build times down on Azure hosted agents. This new approach loads up a Nuget proxy in a container using your buil

[2019-10-05 08:27] abbottbd opened #11509 "Task input validation is broken when using $ character"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-10-05 13:43] annguyen281 opened #11510 "TaskCompleted in Events"
Hello all,

I would like to have question about "TaskCompleted" in Events

TaskCompleted - Raise this event when task is completed (indicates success/failure). Here is how an example of the event section.
 `
{
       "TaskStarted":
       {
          "Timeout": "00:05:00"
       },
       "TaskCompleted":
       {
          "Timeout": "00:07:00"
       }
    }
`
Beside "Timeout", what options I ca

[2019-10-05 15:26] roybongers-oce opened #11511 "Azure Resource Group Deployment task: fill param values with Key vault secrets WITHOUT using the overwrite section"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-10-07 00:06] adibradfield opened #11512 "NuGet Command - allowPackageConflicts still surfaces conflict error"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-10-07 00:33] hhellbusch commented on #11414
That's great! Thanks for fixing @Anumita.  I'll test on my end once the fix has been rolled out.

[2019-10-07 01:09] Linaa commented on #11434
@arjgupta @kmkumaran
 any update about this issue? has similar issues been reported when az powershell cmdlet dont fully execute in the task?

[2019-10-07 07:06] stanislavlevin commented on #11070
Ping.

[2019-10-07 07:45] Rutix commented on #8479
@zarenner My initial test with update 1 solves my problem it seems. I am able to push packages to the internal feed on our preprod environment. I am going to approve the move to production and then test again to see if everything is solved.

[2019-10-07 09:21] BrashenRedcol commented on #10513
I'm seeing the exact same warrnings, Using latest Visual Studio 2019

[2019-10-07 10:35] ShreyasRmsft commented on #11483
Please try out the suggestions above. And if you are still facing issues please provide the full zip logs with system.debug = true and we will re-open the issue

[2019-10-07 10:39] ShreyasRmsft commented on #11501
Taking a look

[2019-10-07 10:42] ShreyasRmsft commented on #11479
@lopeg you will need to create your the params you want to mask as secret variables. (https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=classic%2Cbatch#secret-variables)

If this is done the agent will mask these values when logging them. You can put dummy placeholder values in the runsettings and use the override test run params input in the task to

[2019-10-07 10:55] lopeg commented on #11479
@ShreyasRmsft imho, this sounds like workaround
I am already using securefiles - native azureDevops functionality - to keep whole content.
And it worked smoothly, untill task started posting the whole content of config file to  logs.
i think, this should be fixed, but not using workaround with secrets overriding content from secret file

[2019-10-07 14:36] Ausm opened #11515 "UseDotNet@2 does fail with "self signed certificate in certificate chain""
**Question, Bug, or Feature?**: Bug
*Type*: throws an error
**Enter Task Name**: UseDotNet@2 (Version 2.0.5)

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - If using TFS on-premises, provide the version:
          Azure DevOps 2019 Update 1

- Agent - Hosted or Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version: Agent 2

[2019-10-07 16:44] ShreyasRmsft commented on #11479
The reason we log the settings file is that there are a lot of issues that have come up where we needed the settings file and the updations we do to it to be logged to get the RCA.

But i hear your concern and i will make the change to not log the values of the params we are overriding. Please do use the workaround until i can make the changes and release a new task version.

Thank you for reporti

[2019-10-07 17:54] ravindra2010 opened #11516 "Image Digest file"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-10-07 18:06] rauljmz opened #11517 "KubernetesManifest container substitution regex is not correct in all cases"
The image substution supplied in the `containers` input parameter is not done correctly if the deployment file is using the syntax:

[code]

As the regular expression in
https://github.com/microsoft/azure-pipelines-tasks/blob/7e19e00ddb6f0e7f306bd9bf1dc8732c1d7ba0e1/Tasks/KubernetesManifestV0/src/utils/utilities.ts#L120 is only looking for *spaces* before the keyword `image`.

[2019-10-07 18:33] bender2k14 commented on #10505
Are all the [Microsoft-hosted agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#use-a-microsoft-hosted-agent) 64-bit agents?

If I run `dotnet --info` when using the [pool](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#pool) with VM image label `windows-2019`, then the [RID](https://docs.microsoft.com

[2019-10-07 19:14] jni- opened #11518 "Pipeline cache randomly crashing builds"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: [CacheBeta@1](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/CacheBetaV1)

Seems to relate to #11128, though this one is closed as being fixed. It could be a regression in V1 that needs to be tracked separately, so I opened a new issue just to be sure. If you need me to copy/paste this in the old issue and reope

[2019-10-07 23:01] aapalm commented on #11483
Attached are the logs, which shows it converting our "testsettings" file to a "runsettings" file and breaking our test run.  @kaadhina , are you suggesting that this has been fixed in latest version (2.157.5+)?

[13_VsTest - testAssemblies.log](https://github.com/microsoft/azure-pipelines-tasks/files/3699961/13_VsTest.-.testAssemblies.log)

[2019-10-07 23:32] cnadolny opened #11520 "AzureResourceGroupDeployment@2 csmFile path not working if not in root directory"
## Required Information

*Type*: Bug
Enter Task Name: AzureResourceGroupDeployment@2

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

Using the AzureResourceGroupDeployment@2 task and providing the file path link to the ARM template via csmFile does not work unless the file is in the root directory. My file is located in a folder called tooling, and I've tried mu

[2019-10-08 02:07] blackchoey commented on #11450
Hi @baywet thanks for reporting this issue. The task will use the latest version of Azure CLI IoT extension to do deployment. So no further changes is required to the IoT Edge task.
I saw Azure CLI IoT extension already released a new version that resolves https://github.com/Azure/azure-iot-cli-extension/issues/100. Could you let us know whether you still met errors in the IoT Edge task?

[2019-10-08 04:28] lopeg commented on #11479
Variable "debug" exists for this purpose.
Can you fix it please, to expose settings file content only if debug us true, but not every normal run?
Thank you

[2019-10-08 08:32] FernanOrtega opened #11521 "Python Twine Upload Authenticate problem when feed name contains dot."
**Question, Bug, or Feature?**
Bug

**Enter Task Name**: Python Twine Authenticate v0/v1 (I checked both versions)

## Environment
Azure Pipelines

## Issue Description
If a seed artifact contains a dot, for instance, "My.Feed", the task "Python Twine Upload Authenticate" will create the ".pypirc" as follows:

[code]

This involves that the execution of "twine upload -r My.Feed --config-file $(PYP

[2019-10-08 10:11] ramesh580 opened #11522 "Nuget pack for .net standard not updating version(build number) in .csproj file"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-10-08 11:22] Ausm commented on #11515
I think I've found the problem here...
setting the `options.agent.options.ca` property to a certificate does not add this ca to the trusted ones, it replaces it. (`options ` object it the object that you pass to the `https.request `method)

[2019-10-08 12:42] sugarjig commented on #11384
I have also run into the same issue. I deploy the app to a staging slot using the "Azure App Service deploy" task, then try to use the "Azure App Service manage" task with the "Start Swap with Preview" action. I get the same error: `Error: Conflict - Cannot modify this site because another operation is in progress.`.

[2019-10-08 13:20] themissingcow commented on #9737
This would be very helpful for our `scons` based cross-platform pipeline too.

[2019-10-08 13:47] vonj commented on #7543
Oh, it's still very much occurring.  Using Agent vsts-agent-win-x64-2.153.1

[2019-10-08 13:49] vonj commented on #7495
"These tasks are now proxy-compatible."

Sort of. They are not CA cert compatible, i.e. they will not work in a corporate environment.

Does not seem to be a priority.

[2019-10-08 14:38] baywet commented on #11450
hi @blackchoey
Thanks for the follow up.
I spent some time testing this again. The CLI extension has the issue fixed. However the task doesn't seem to leverage the latest version of the cli extension.
new build id 1159

[2019-10-08 15:02] baywet commented on #11450
disregard the last comment, my test was flaky, running it again and keeping you updated

[2019-10-08 15:37] baywet commented on #11450
confirmed, the problem was fixed with cli extension 0.8.3, no action needed for the task. Thanks!

[2019-10-08 15:37] #11450 closed

[2019-10-08 16:07] Exodus commented on #4743
This works between Jobs but not between Stages.

[2019-10-08 16:18] Tuely commented on #5598
Modules\DTAExecutionHost.exe' failed with exit code 1  please help me to solve this isssue

[2019-10-08 16:19] Tuely opened #11526 "Modules\DTAExecutionHost.exe' failed with exit code 1 please help me to solve this isssue"
019-10-08T16:06:57.6913114Z       Example  /ResultsDirectory:<pathToResultsDirectory>
2019-10-08T16:06:57.6913425Z --ParentProcessId|/ParentProcessId:<ParentProcessId>
2019-10-08T16:06:57.6914147Z       Process Id of the Parent Process responsible for launching current process.
2019-10-08T16:06:57.6914547Z --Port|/Port:<Port>
2019-10-08T16:06:57.6915049Z       The Port for socket connection and re

[2019-10-08 16:26] fadnavistanmay commented on #10264
Closing this. Please re-open if required.

[2019-10-08 17:53] mercuriete commented on #10779
You have to click on advance
then add some arguments
and put:
```-UseModernBuildSystem=0```

so the yaml is something like:

[code]

[2019-10-08 17:53] mercuriete commented on #10758
You have to click on advance
then add some arguments
and put:
```-UseModernBuildSystem=0```

so the yaml is something like:

[code]

[2019-10-08 18:05] mercuriete opened #11527 "[Feature Request] XCode5 Legacy Build System"
**FEATURE REQUEST**

Starting from XCode 10, the legacy build system is deprecated and the New build system is the default.

So I want a new checkbox or property called:
UseModernBuildSystem: false

and it should behave like adding a new argument to xcode command
```-UseModernBuildSystem=0```
or
```-UseModernBuildSystem=NO```

**Actual yaml**
[code]

**Proposed yaml**

[code]

[2019-10-08 18:56] bender2k14 commented on #4185
That UserVoice instance is no longer available.  Is there a new link to follow this?

[2019-10-08 19:01] bender2k14 commented on #4185
Seems like #11328 is now tracking this issue

[2019-10-08 20:22] GitHubSachin opened #11528 "MSBUILD task fails when used on Agent with ps Constrained Language Mode"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Bug, or Feature?**
*Type*: We are running the private ADO Agent on windows server 2019 with device guard code integrity enforced, which sets the powershell runtime to a constrained language mode. While most of the pipeline tasks work in such execution environment, MSBUILD task fai

[2019-10-08 20:52] andersthorsen commented on #11292
@ShreyasRmsft  What do you mean by adding a white list? Do you mean that everyone usin Azure devops with on presise connections must open a connection in the firewall?

Is a proxy not supporter for this scenario?

I’m also seeing this problem and it seems testing of DevOps agent with a proxy not done often.

[2019-10-08 21:03] Shortcheese commented on #11292
I concur  with @andersthorsen. As a workaround our network engineers have put an exception on our firewall rules. ( And i simply forgot this issue *shame on me *)
But that is not a real solution. Especially because azure and its agents provides proper proxy settings and support. And most tasks works with it very well.

[2019-10-08 22:18] clpalmer commented on #11500
@ds-ms - Further looking at this, it seems like (finally found the fine print) I can't use the $(KubernetesServiceConnection) variable from the variable group as this is in a strategy: runOnce: deploy: block and you can't use variables in a strategy. Using it from the ${{parameters.kubernetesServiceConnection}} param that I pass in works if I hardcode the service connection in there, but again fai

[2019-10-09 01:54] mikescar opened #11529 "Windows job w/ caching enabled is slow w/ endless logs"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CacheBeta@0

## Environment
- Server - Azure Pipelines or TFS on-premises?

Azure Pipelines - private org but PM/email for details.

- Agent - Hosted or Private:

Azure Pipelines 5 windows-latest

## Issue Description

[2019-10-09 05:12] hiyadav commented on #11315
I'm glad you are unblocked. Also is restoring while publish is causing the problem, you can pass `--no-restore` as an argument.

[2019-10-09 05:37] ShreyasRmsft commented on #11485
@gertvdh we have made a fix to ensure that using an older version of the testplatform will not cause a failure when no tests are discovered. This should get deployed to all accounts in a couple of days

[2019-10-09 05:40] ShreyasRmsft commented on #11479
Will do.  If you notice the test run params section of runsettings are not logged as part of the printed runsettings already. Where you are seeing the values get displayed is in the log line that says overriding parameter with value ....

I will let you know as soon as the fix is out.

[2019-10-09 05:52] gertvdh commented on #11485
Thanks for that!

[2019-10-09 05:59] ShreyasRmsft commented on #11292
@andersthorsen this path for attachments is only taken in the hosted service and not onprem. We store attachments as blobs in the service in onprem it's an altogether different storage you will not run into this.

I had meant putting a whitelist for this url on the proxy server machine and not the client machine. If your proxy server is not blocking this call and it is indeed the task code that is

[2019-10-09 07:34] andersthorsen commented on #11292
What we're seeing is similar to this. Let me know if I should raise a different issue if it's not the same.

I've pasted parts of the log below.

We're behind a corporate proxy (like the one described by the original poster) which I've been told does not block any of those addresses. We've configured the proxy with the agent and it works with most tasks, but not all.

Network tasks that work fine

[2019-10-09 09:10] henryju commented on #7591
https://github.com/microsoft/azure-pipelines-tasks/issues/11225

[2019-10-09 09:37] faran opened #11532 "getting error while trying to run maven task"
**Question, Bug, or Feature?**
*Type*: question

**Enter Task Name**: maven

- Agent -  Private:
    Windows server 2016

version: 10

## Issue Description

I am trying to run a simple maven job instead i am getting below error.

### Task logs

[Error 1]
No agent found in pool Test which satisfies the specified demands:
     maven
     Agent.Version -gtVersion 1.91.0

I have maven and java install

[2019-10-09 09:45] krishnamhn009 commented on #4734
I am facing same issue.I tried to fix using
`node --max-old-space-size=8172`

it worked for few times and again I am facing same issue.

`FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory
2019-10-09T08:38:06.4708120Z
2019-10-09T08:38:06.4710954Z <--- Last few GCs --->
2019-10-09T08:38:06.4711476Z
2019-10-09T08:38:06.4712223Z    36339 ms: Mark-sweep 1277.3 (1425.8)

[2019-10-09 10:29] faran commented on #11532
ok after setting path agent needs a restart, cant believe you have to restart it to take effect in 2019

[2019-10-09 10:29] #11532 closed

[2019-10-09 10:45] takluyver commented on #10842
Did the `rolling` idea from example 3 in [this comment](https://github.com/microsoft/azure-pipelines-tasks/issues/10842#issuecomment-510637798) get implemented, or only the `restoreKeys` bit? I can see you can make the same thing work with either, but `rolling` is quite a bit more concise.

[2019-10-09 11:25] mayankbansal018 commented on #11526
Can you please check if there were test failures in your build? If yes, then DATExecutionHost process fails  with exit code "1" if there are tests failures, which is by design.

[2019-10-09 11:52] ShreyasRmsft commented on #11483
@aapalm can you add a runsettings similar to below

[code]

`<DeploymentEnabled>False</DeploymentEnabled>`
This being the node of importance. Basically mstest framework uses a temporary folder E:\agent_work\_temp\TestResults\localaccount_AZRFL2W007 2019-10-01 11_44_56\Out\ to run the tests from where your dependent items are not getting copied.

Let me know if this works for you.

[2019-10-09 12:02] ShreyasRmsft commented on #11501
Download the full zip logs for this release.

in there you will see a file **_23_Slice-953174_o4eydd.host.19-10-04_01-17-05_90642_7.diaglog_**

You will see an issue with loading xunit runner. Please ensure the dependent xunit dlls are placed correctly.

TpTrace Warning: 0 : 9536, 3, 2019/10/04, 01:17:07.250, 1607218297178, testhost.exe, LoaderExceptions: System.IO.FileNotFoundException: Could not

[2019-10-09 12:02] ShreyasRmsft commented on #11501
This is a setup issue and not a task issue.

[2019-10-09 12:30] AndreiLipinski commented on #6554
Hi @dikhakha we have just migrated from TFS 2018 to Azure DevOps, and I still have this issue, but with new description.
Task log with system.debug = true:
[code]

Script:
[code]
Also, I faced this error in other scripts.

[2019-10-09 13:51] davidje13 opened #11535 "CacheBeta task should use same hash for writing as reading"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Pipeline caching

## Environment
- Server - Azure Pipelines

- Agent - Hosted
    - If using Hosted agent, provide agent queue name: Hosted Ubuntu 1604

## Issue Description

I have the following task:

[code]

But I observe that the read reports the following:

Whereas write discovers extra package.lock.json files, since it runs aft

[2019-10-09 14:00] AndreiLipinski commented on #6554
@dikhakha also, I redirected stderr to log file:
[code]

[2019-10-09 14:17] ktmaul opened #11536 "Allow dotnet test with publish --results-directory to be customized"
*Type*: Feature

**Enter Task Name**: .NET Core - test

## Environment
Server - Azure Pipelines

## Issue Description

Checking the **Publish test results and code coverage** option sets --results-directory to the agent's temporary directory, making it difficult to isolate a single build's test output when publishing the results of multiple data collectors.

Recommendation: Allow --results-directo

[2019-10-09 14:20] asottile commented on #11351
yes it is

[2019-10-09 14:20] #11351 closed

[2019-10-09 14:32] praveendath92 opened #11537 "Issue with script task setting environment variables"
Entering this information will route you directly to the right team and expedite traction.

**Bug**
**Enter Task Name**: script

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Private:  Ubuntu 16.04

## Issue Description
When using the `script` built in task to set an environment variable, we are

[2019-10-09 15:04] adam-resdiary commented on #10616
@ajinkya599 no problem. Sorry, but it's just not been a big priority since we were able to use the script task fine. If we get a chance to re-test it I'll update this, but it sounds like it's probably not an issue anymore from what you're saying.

[2019-10-09 15:15] fadnavistanmay commented on #10842
@takluyver - the rolling idea has not been implemented yet, only the restoreKeys.

[2019-10-09 15:21] takluyver commented on #10842
OK, thanks. We can work with that. It would be good to see it in the docs, though - #5694. :slightly_smiling_face:

[2019-10-09 16:32] fadnavistanmay commented on #10842
Yup, we will be updating the docs soon. :)

[2019-10-09 17:55] jni- commented on #11204
@arjunguha I don't know if it helps, but setting `AZP_CACHING_TAR` creates a tar instead, which preserves permissions (and symlinks too, when caching a node_modules with a .bin, this is also important).

You can enable it this way :

[code]

There is a PR somewhere on this github with the details too, not sure how official this is yet, but it works for us on hosted agents with `CacheBeta@1`.

[2019-10-09 18:01] johnterickson commented on #11204
Yes, that is rolling out.  We've not doc'd it yet because we have https://github.com/microsoft/azure-pipelines-agent/pull/2400.

[2019-10-09 19:05] #8330 closed, assigned to leantk, brcrista

[2019-10-09 19:15] keithdv opened #11539 "DotNetCoreCli 'Build' fails for Floating Version in PackageReference for a package in Azure Artifact Feed"
I cannot get a floating version "1.*" for a package in a private Azure Artifact feed to work for the azure pipeline build. Works in Visual Studio.

**csProj file:**

    <PackageReference Include="MyPackage.Logging" Version="1.*" />

**Yaml:**

- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '**/*.csproj'
    feedsToUse: 'select'
    vstsFeed: '2a167ba8-8dc2-4ecf-8505-f73255

[2019-10-09 22:58] aapalm commented on #11483
ack, will give this try and report back soon.  Thanks @ShreyasRmsft !

[2019-10-10 02:25] alexmg opened #11540 "Helm deploy task broken by variable group referencing a Key Vault secret containing a single space character"
## Required Information

**Type**: Bug
**Task**: HelmDeployV0
**Environment**: Azure Pipelines
**Agent**: Hosted
**Agent OS**: vs2017-win2016

## Issue Description

A variable group referencing a Key Vault that contains a secret with a single space character causes all subsequent log entries to replace spaces with `***`. We have fixed the problem secret but I thought I would raise this in case it

[2019-10-10 02:59] tejasd1990 commented on #11511
Hi @roybongers-oce ,
The ARG task current does not support this ask. The parameter values from the parameters file are read as literal values and they are not interpreted as variables.

[2019-10-10 03:24] tejasd1990 commented on #11520
Hi @cnadolny ,
From the working path of the agent directory '/home/vsts/work/1/s', I assume the agent is linux. On linux machines, paths are case sensitive, so 'tooling/azuredeploy.json' and './tooling/azuredeploy.json' won't work since the filename has is 'azuredeploy.json' in these paths, whereas the actual filename is 'azureDeploy.json'(capital D).

Also, the path '$(Pipeline.Workspace)/tooling

[2019-10-10 05:02] SumiranAgg commented on #11440
Run From Package makes wwwroot read-only, so you will receive an error when writing files to this directory.
Reference doc: https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package

[2019-10-10 05:55] vinodkumar3 opened #11541 "Pipeline tasks are failing to find matching file pattern"
Pipeline tasks (ARM Deployment, AzureCLI, Azure Powershell etc.) are failing to find matching file pattern when the YML template utilizes deployment job functionality.

Error: Could not find any file matching the template file pattern

Sample failure yml:

stages:
\- stage: Deploy_In_Dev
  jobs:
  \- deployment: test
    pool:
      vmImage: 'vs2017-win2016'
    environment: 'test_env'
    strateg

[2019-10-10 06:30] roybongers-oce commented on #11511
Hi,

That’s what we know indeed but question is (on which term) can you make this work (for us)?
Again, we need this very much for continuous delivery of Canon (Commercial Production Printing) cloud solutions to our customers…

Can you please let us know?

Thanks very much in advance.

With kind regards,

Roy Bongers
Cloud Architect / DevOps Engineer | Canon CPP

+31 6 25659426
+31 77 359 2658
roy

[2019-10-10 06:31] SumiranAgg commented on #11244
@SledgeHammer01 Apologies for late reply. The fix is rolled out to all rings. Please validate. If the issue still persists, please reopen the issue and we take it up.

[2019-10-10 06:33] SumiranAgg commented on #11104
It should be fixed now. Please validate.

[2019-10-10 06:37] SumiranAgg commented on #10699
@SteveDevOps Are you still facing the issue?

[2019-10-10 07:01] SumiranAgg commented on #11164
This is a javascript limitation. We need to use some library to handle big numbers.
The issue will be in our backlog and we might get to it as per its priority. But anyone is free to contribute to our opensource repo.

[2019-10-10 07:27] vithati commented on #11540
@alexmg , secrets variables values are masked in logs.  As you mentioned one of the secret variable value is single space characters so it try to mask space characters, but this masking not impact actual commands. Can you provide HelmDeployV0 log? and HelmDeployV0 task screen shot? Does this $(variable1) and $(variable2) have proper values?

[2019-10-10 07:36] mihaj opened #11542 "Docker v2 separate build and push task issue"
We are using AZure DevOps Docker v2 tasks for building and pushing our docker images. We are pushing them to Azure Container registry.

First we used `buildAndpush` command, but because we need some build arguments (not supported by `buildAndpush`) we needed to split it.

Here is the excerpt from build yaml:

[code]

The `build` task completes successfully. The problem is when push command is runn

[2019-10-10 08:48] ShreyasRmsft commented on #11483
Hi small update: remove the results directory for the above

[2019-10-10 08:50] ShreyasRmsft commented on #11483
Also if the above workaround doesn't work then try using the one below:

[code]

[2019-10-10 10:29] ShreyasRmsft commented on #11421
@bogdancucosel closing this due to no response, please re-open with the full zip debug logs or a sample repro project on github and we can take a look. Thanks.

[2019-10-10 10:29] #11421 closed

[2019-10-10 10:41] mayankbansal018 commented on #11526
@Tuely can you please confirm if tests are failing when you see DTAExecutionHost process exiting with code `1`

[2019-10-10 11:02] Tuely commented on #11526
@mayankbansal018 tests are not failing. I am getting test report. i think it's failing to write the report in vm. please find attached

![log](https://user-images.githubusercontent.com/29451624/66563510-d03e4480-eb55-11e9-9e2f-e9705529b78b.PNG)
![result](https://user-images.githubusercontent.com/29451624/66563511-d03e4480-eb55-11e9-860b-93dcd2f4fc74.PNG)

[2019-10-10 11:12] mayankbansal018 commented on #11526
@Tuely I can see one of the test as failed in the report, in such case vstest.console, & dtaexecutionhost both fail with exit code 1

![image](https://user-images.githubusercontent.com/24792973/66564118-ddbaf500-eb7c-11e9-9580-1f57b9fa786c.png)

[2019-10-10 11:22] Tuely commented on #11526
Thanks @mayankbansal018  that makes sense:). Can you please help me out for this specflow report error as well

![image](https://user-images.githubusercontent.com/29451624/66564662-74c18600-eb58-11e9-9aac-cd09ee1bd216.png)

##[error]No trx files was found using search pattern 'C:\Agent1\_work\12\s\TestResults

[2019-10-10 11:23] amaslenn commented on #9394
Hello, I'm getting the same error.

I use a connection created with Github Personal Access Token. For some reason, I can't use it in my pipeline, I'm getting this error: `The pipeline is not valid. Job release: Step GitHubRelease input gitHubConnection expects a service connection of type github with authentication scheme OAuth,PersonalAccessToken but the provided service connection release is of

[2019-10-10 11:33] pacorreia commented on #11104
I can say it is ok for me, western Europe region

[2019-10-10 11:34] mayankbansal018 commented on #11526
To mitigate this please change the input for specflow task to $Agent.TempDirectory.

please read solution section of https://developercommunity.visualstudio.com/content/problem/756960/21574modulesdtaexecutionhostexe-failed-with-exit-c.html for detailed explanation

[2019-10-10 11:43] 20shivangi commented on #11104
Great!! Thereby I am closing the issue.
Feel free to reopen if facing any issue.

[2019-10-10 12:03] Tuely commented on #11526
Thanks. Do i need to change in publish test reults and specflow report ?

![image](https://user-images.githubusercontent.com/29451624/66567014-3f1f9b80-eb5e-11e9-9005-d99a987c7883.png)

[2019-10-10 12:03] Tuely commented on #11526
![image](https://user-images.githubusercontent.com/29451624/66567048-4e9ee480-eb5e-11e9-94d8-45ef70468eb9.png)

[2019-10-10 12:12] bramvdklinkenberg commented on #6840
Same issue. Running a shell script that completes and exits with 0 but the job/task fails with:
Error: #[error]Bash wrote one or more lines to the standard error stream.

But I run this script on multiple environment and 50% fails and the other 50% succeeds.

[2019-10-10 12:17] mayankbansal018 commented on #11526
yes, although in your publish test results task you are giving filters as **/Test-*.xml, you might want to change it to .trx

[2019-10-10 13:24] mihaj commented on #11542
Ok, I've figure it out. The `buildAndPush` calls tag in build script, and mine didn't so I changed the docker build task to:

[code]

And now I am a happy camper :D

[2019-10-10 13:24] #11542 closed

[2019-10-10 13:31] Tuely commented on #11526
@mayankbansal018 i have changed to nunit now getting error as

![image](https://user-images.githubusercontent.com/29451624/66573459-9c214e80-eb6a-11e9-80ef-3a2eef4907d0.png)

##[section]Starting: Generate SpecFlow Report
==============================================================================
Task         : Report Generator for SpecFlow
Description  : SpecFlow Test Execution Report Generator

[2019-10-10 14:11] vithati commented on #10926
Closing the issue. Please reopen the issue if problem still exist.

[2019-10-10 14:11] #10926 closed

[2019-10-10 14:14] vithati commented on #11014
Closing the issue. Please reopen the issue if problem still exist.

[2019-10-10 14:14] #11014 closed

[2019-10-10 14:31] ikeselman commented on #9033
Hi there,
have similar Warning - release unable to found Test Assemblies - at same time Build pass successfully with same Test Assemblies

2019-10-10T14:00:11.1198481Z ##[section]Starting: VsTest - testAssemblies
2019-10-10T14:00:11.1339311Z ==============================================================================
2019-10-10T14:00:11.1339389Z Task         : Visual Studio Test
2019-10-10T14:00

[2019-10-10 15:04] maciekporebski opened #11543 "AzureCLIV2 Powershell - Warnings cause task to fail"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureCLI@2

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureCLIV2

## Environment
- Server - Azure Pipelines
- Agent - Azure Pipelines/windows-2019

## Issue Description
When running a Powershell script with AzureCLI@2 task, warnings cause the task to fail

I am running task AzureCLI@2 with the following par

[2019-10-10 15:09] bishal-pdMSFT commented on #11543
@jalajmsft can you please take a look

[2019-10-10 15:50] ustun commented on #11440
Thanks for the response @SumiranAgg

In this case, I'm not trying to write anything, I just want to read the contents so that I can execute some scripts that write to the db hosted on Azure MySQL. The issue is the output of `ls` shows as if the .zip file is not mounted to wwwroot.

Do you have any ideas what might be wrong? Kudu seems to see things from a different lens from App Service when that

[2019-10-10 16:01] Tuely commented on #11526
still i couldn't fetch the trx file in the specflow report

![image](https://user-images.githubusercontent.com/29451624/66585888-91bd7f80-eb7f-11e9-9d68-263dfbafaf21.png)

[2019-10-10 16:03] Tuely commented on #11526
publish trx file seems to be like this. I think the path which i ma giving is still wrong. tried with  $Agent.TempDirectory even that's not working

![image](https://user-images.githubusercontent.com/29451624/66586012-d1846700-eb7f-11e9-8444-3e3c27f6bef1.png)

[2019-10-10 17:04] jmyersmsft commented on #11539
`dotnet build` also runs a restore. Try adding `--no-restore` to the arguments in your 'Build' step.

[2019-10-10 17:07] jmyersmsft commented on #11522
The task is operating as designed. NuGet does not alter csproj files when packing.

[2019-10-10 17:07] #11522 closed

[2019-10-10 17:26] jmyersmsft commented on #11512
We are beginning the process of deprecating the NuGetCommand task in favor of using the new NuGetAuthenticate task to set up authentication + a script task to run NuGet however you like, including using the -SkipDuplicate switch added in version 5.1

We may still fix the NuGetCommand task, but it is a lower priority than other fixes in flight at this time.

[2019-10-10 17:35] keithdv commented on #11539
That worked, thanks!
Seems like if it doing a restore the vstsFeed setting should be honored.

[2019-10-10 17:35] #11539 closed

[2019-10-10 18:15] bandersongit opened #11544 "Add option to fail Publish Test Results task when test result file is not found"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: PublishTestResults@2

## Environment
- Server - Azure Pipelines

## Issue Description

I imagine it is a common pattern to have a test task (with continueOnError: true) followed by a publish task. I've run into the issue a couple times where we will have our test task fail due to setup issues (e.g. not test failures), but the jun

[2019-10-10 18:57] olivesandtrees commented on #10195
I realize that this is closed, but I didn't see a good response to @nikbhadane .  Are wild cards not supported if there are multiple SQL scripts in the same folder?  It would be nice to be able to deploy multiple SQL scripts in the same folder without listing the path of each script separately.

[2019-10-11 00:39] alexmg commented on #11540
The fact that secret variables are masked is was caused us to look for a problem entry in the Key Vault. It might make sense to trim and ignore empty input that only contains spaces to avoid strange output in the log. This should not be a common occurrence though, and the primary reason for raising the bug is that it had an impact on the actual command line arguments used in the Helm task.

It loo

[2019-10-11 02:01] JoeGaggler commented on #11095
@MisinformedDNA It looks like you are using the [shortcut syntax](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops) for the download task. Have you tried using variables with the [explicit task reference](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops#yaml-snippet)?

[2019-10-11 02:40] JoeGaggler opened #11546 "Allow DownloadPipelineArtifact to find project by name"
*Type*: feature

**Enter Task Name**: DownloadPipelineArtifact

## Issue Description

When downloading pipeline artifacts from a different pipeline than `current`, the `project` input requires the project GUID as its value. While the GUID is completely unambiguous, it is **very unintuitive** compared to the project name:
* The help text does not mention that the GUID is necessary, it implies that

[2019-10-11 04:01] tejasd1990 commented on #11515
Thanks @Ausm for reporting this. I will investigate and update.

[2019-10-11 04:07] Surajshindeselenium opened #11547 "Need to help to create customized task in Azure Devops pipeline"
We are creating customized task plugin for automation testing tool and facing issue while creating task.json file. it will be helpful if i get sample code for task which is used for automation testing tool.

Thanks in advance.

[2019-10-11 05:02] jalajmsft commented on #11543
Hey @maciekporebski, can you please set the "ErrorActionPreference = Continue" and re-try. You can read about it [here](https://devblogs.microsoft.com/scripting/hey-scripting-guy-how-can-i-use-erroractionpreference-to-control-cmdlet-handling-of-errors/). This should avoid the task to fail.

If you are still facing the issue, please share the complete logs by setting the pipeline variable  system.d

[2019-10-11 05:22] Anumita commented on #10274
Closing this issue. @darzu please reopen if you are still facing any issues

[2019-10-11 05:22] #10274 closed

[2019-10-11 05:44] BrightRan opened #11548 "Install Apple Certificate task failed"
Install Apple Certificate task failed with the following error:
**Error: Unable to find the certificate SHA1 hash and common name (CN). Verify that the certificate is a valid P12.**
This issue occurs on Install Apple Certificate V2.
More details please reference the ticket linked here: https://developercommunity.visualstudio.com/content/problem/769699/install-apple-certificate-fails-after-updating

[2019-10-11 06:10] ashutak84 commented on #11345
This problem was solved, i had kept one AzureWebJobsStorage value was "UseDevelopmentStorage = true" in the appsettings of the function app, when i modified to point to exact address. It solved the problem

[2019-10-11 06:10] #11345 closed

[2019-10-11 06:52] ajinkya599 commented on #11099
@prongcs - Any updates on this ?

[2019-10-11 08:00] #11188 closed

[2019-10-11 08:07] eaarora-ms commented on #7785
Hi, We have made the necessary changes. Please feel free to reopen the issue in case you have any doubts.

[2019-10-11 08:07] #7785 closed

[2019-10-11 09:56] DanielHabenicht opened #11551 "DockerV2: Add option to not set metadata labels"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature
**Enter Task Name**: DockerV2
**Step**: buildAndPush

## Environment
- Server: Azure Pipelines or TFS on-premises
- Agent: Hosted or Private

## Issue Description

If building for production I don't need the labels added by the DockerV2

[2019-10-11 10:14] Tuely commented on #7836
I am also facing the same issue

![image](https://user-images.githubusercontent.com/29451624/66644226-502ce300-ec18-11e9-941c-47f19f9d4ac4.png)

[2019-10-11 10:41] w371987114 commented on #6136
How to invoke nuget in CommandLine task?
I try Bash、PowerShell、CMD；and all get this error
[code]
[code]
I known it because the nuget is not install in the agent global
Or Can you tell me how to get the right nuget installed path?
My `azure-pipelines.yml` is like this:
[code]
[code]