[2017-01-05 19:59] EricABC commented on #3089
No worries, I'm just living with the delay for now, and eventually we'll take the time to script it.  Thanks!

[2017-01-05 20:08] iamthemovie opened #3373 "ARM Resource Deployment DNS Regular Check Failure"
When ever any changes to our infrastructure ARM templates occur we always build and destroy a temporary environment as part of our CI/CD pipeline.

Quite often though the builds fail due the VSTS ARM Template task not picking up our DNS records for our App Service.

To be clear, the DNS Records are there and have been for months. 3/10 times it succeeds and we just have to keep pressing queue until

[2017-01-05 21:27] mrjono1 opened #3374 "Execute Azure SQL : DacpacTask release failed due to not clearing IP Range"
When using Execute Azure SQL : DacpacTask (SqlAzureDacpacDeployment) I was getting failed released then eventually found out that I had an issue in the firewall section. Due to the line number errors in the powershell scripts.

1. Expand Firewall section
2. Select Specify Firewall Rules Using: IPAddressRange and type in a StartIP Address and EndIP Address values click save
3. Select Specify Firewa

[2017-01-06 05:26] nigurr commented on #3333
Hi,

Sorry for the inconvenience. It should have been documented well.
By default, we made Merge report as true because of performance issues.

If you require test reports to be published individually, you can `uncheck` the publish test results from Maven task and add `Publish Test Results` task to achieve the same.

`Publish Test Results` task has more options to control the same.

[2017-01-06 06:44] vincentdass commented on #3374
@mrjono1 , thanks for reporting the issue. The values will be shown in UI, but it is validated in the [task](https://github.com/Microsoft/vsts-tasks/blob/releases/m109/Tasks/SqlAzureDacpacDeployment/Utility.ps1#L55).

Can you enble **system.debug = true** and queue a new release ?
In the logs, you can find that the IP address range is autodetected and not taken form input field value.

[2017-01-06 06:51] vincentdass commented on #3351
@FramnkRulez , is this issue resolved ? Is the new app shown in drop-down of Web App (in AzureRM Web App Deployment task) ?

[2017-01-06 09:12] vincentdass commented on #3278
@shaunbatty , Can you ensure that the extensionConfiguarion(`Extensions `folder) is related to cspkg package that your trying to deploy. It looks like they are irrelevant.
You can also deploy the package without the Extensions Folder.

[2017-01-06 09:47] tomkerkhove commented on #3024
@prawalagarwal Can you provide an update on this status or a link to an issue if one was filed so I can stay up to date?

[2017-01-06 10:13] KjartanThor commented on #3333
Thank you :-) I just tested this out and it works as I want it too.

[2017-01-06 10:13] #3333 closed

[2017-01-06 10:15] kerslake commented on #3051
Hi @KrishnaAdityaB

Is there any update on this issue?

We haven't seen a successful DACPAC deployment step in VSTS (hosted agents) in a couple of weeks due to this. The "...vsdtl.visualstudio.com/_apis/vslabs/ipaddress" URL consistently returns 404 - when trying to hit it directly too.

Thanks

[2017-01-06 12:00] vincentdass commented on #3165
@kerslake, we are working on this issue.
Can you share your VSTS link ?

[2017-01-06 12:28] jhumphries83 opened #3378 "Azure File Copy Task No Longer Copies Subdirectories"
As of version 1.0.82 the Azure File Copy task does not copy subdirectories to Azure VM's.  You are not able to supply the /S argument as this is not valid for the task.

Example:
With the following folder structure:

- Folder 1
   - SubFolder 1
      - File
   - SubFolder 2
      - File

I used to be able to specify "Folder 1" as the argument for "Source" and the two subfolders and the files conta

[2017-01-06 13:31] froeschel commented on #1370
@eriksendc I'm having the exact same issue. I get a System 53 error. I have opened the firewall, but the error remains. Maybe there is something wrong with my UNC setting. Can you share waht you have done to solve this?

[2017-01-06 14:25] #3378 closed

[2017-01-06 16:26] bryanmacfarlane commented on #3355
Are you using our hosted build image?
Have you tried with a private agent (azure) where you can control the toolsets?  I think 7.0 is in the process of getting on the image.

[2017-01-06 16:26] ericsciple commented on #3367
@acosmici which build task are you using?

[2017-01-06 16:27] bryanmacfarlane commented on #3354
This is likely more of an agent question.  Adding Ting to confirm.

[2017-01-06 16:34] madhurig commented on #3355
Android 7 support is available on the hosted build VMs now. But you need to use JDK 8 explicitly in your build process as Xamarin requires JDK 8 but by default Xamarin will use JDK 6 if installed on the build server. Please try setting the JDK version on Xamarin Android task to 8 and see if this helps.

<img width="341" alt="screen shot 2017-01-06 at 11 33 24 am" src="https://cloud.githubuserconte

[2017-01-06 16:37] madhurig commented on #3353
@psycosyd: Thanks for notifying us.
It looks like Xamarin update Cycle 9 which has the fix is not available in stable channel yet. I am following up on whether it would be better to wait for Cycle 9 or go back to an older stable channel build.

Thanks,
Madhuri

[2017-01-06 16:44] kerslake commented on #3165
Hi @vincentdass, can I share privately with you (e.g. email)? Thanks!

[2017-01-06 18:13] MikkelHegn commented on #3346
Hi Nick, we have no current plans to change the deploy task, but are happy to take in pull requests for additional / enhanced features.

[2017-01-06 18:14] MikkelHegn commented on #3285
Hi mikanyg, we have no current plans to change the deploy task, but are happy to take in pull requests for additional / enhanced features.

[2017-01-06 18:14] MikkelHegn commented on #2984
Hi mikanyg, we have no current plans to change the deploy task, but are happy to take in pull requests for additional / enhanced features.

[2017-01-06 18:18] MikkelHegn commented on #2929
Hi rhan1161, we have no current plans to change the deploy task, but are happy to take in pull requests for additional / enhanced features. However, I would like your input if a generic Service Fabric PowerShell task, that takes any PowerShell script would be helpful in this scenario?

[2017-01-06 18:26] vincentdass commented on #3165
@kerslake, Please share the details with this github issue link to  **RM_Customer_Queries@microsoft.com**.

[2017-01-06 18:35] ericsciple commented on #3367
i'm not able to repro the issue. here's what i tried:
Add PowerShell Script task:
Type: Inline Script
Inline Script:
[code]

based on the output of my attempted repro, it looks like the hashtable was passed correctly

[2017-01-06 19:32] rhan1161 commented on #2929
Hi Mikkel,
What would a generic SF Powershell task do?  Will it be able to run PowerShell script that requires administrator right for deploying a SF application?

[2017-01-06 20:10] froeschel commented on #1370
Thank you for the answer @eriksendc ! I will give it a try. Initially I had hoped it was much easier to deploy from VSTS to an non Azure server. Have a nice weekend!

Regards,
Christoph

[2017-01-06 20:47] psycosyd commented on #3353
@madhurig I checked with Brendan Zagaeski. C8SR1 and later builds are all fine, the QA team is explicitly testing for it. The fix in C9 is that it will be no longer possible for the bad installer to be generated in the first place. Upgrading to latest stable, or at least C8SR1 should provide the fix

[2017-01-06 20:57] MikkelHegn commented on #2929
Hi rhan1161

Sorry for being brief in the original comment - let me expand.

The hard part running a custom PowerShell script against a Service Fabric cluster in VSTS is authentication and connection to the cluster. The idea with the PowerShell for Service Fabric task is that you input a Cluster Connection as a Service Endpoint (like you do with the deployment task today) and then provide a script

[2017-01-06 23:56] rhan1161 commented on #2929
As long as I can run the deployment scripts in VSTS and get the previous "parallelized" upgrade process, this will work well for me.

[2017-01-07 04:24] taspeotis commented on #1644
Hi, I've had my own troubles with this task and I've been keeping an eye on this GitHub issue as a reference. Thanks to everyone who's come before me and tried to make it work. Sorry if I repeat something in the thread above.

This isn't necessarily true and I think a lot of the problems here are presuming that `Parameters.xml` means a non-.NET Core package. I have a `Parameters.xml` file included

[2017-01-07 04:29] taspeotis commented on #2122
I've left a comment on a related issue [here](https://github.com/Microsoft/vsts-tasks/issues/1644#issuecomment-271061867), but basically, assuming `Parameters.xml` means `-dest:auto` is an imperfect solution.

[2017-01-07 04:50] vincentdass commented on #1644
@taspeotis , this issue was already [fixed ](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/Common/webdeployment-common/msdeployutility.ts#L43) and will be available in the upcoming on-prem release.

[2017-01-07 05:08] taspeotis commented on #1644
Thanks for the quick response.

The code you linked me to still exhibits the problem I'm describing. I have a package that needs to be deployed with `-dest:contentPath` *and it has a `Parameters.xml` file*.

[code]

Because I have a `Parameters.xml` file *for parameterising my ASP.NET **Core** application* the code you linked will choose `-dest:auto` instead of `-dest:contentPath`.

[2017-01-07 06:25] vincentdass commented on #1644
@taspeotis , thanks for reporting this issue. its a genuine issue and will be fixed soon.

[2017-01-09 02:23] jamesatgithub commented on #3355
@bryanmacfarlane Yes hosted agent used.
@madhurig the JDK 8 option was already set and we tried both x86 and x64 options, all same results, here the build summary link if you need: https://boundlss.visualstudio.com/Boundlss/_build/index?buildId=635&_a=summary&tab=details

[2017-01-09 05:45] rjygraham commented on #3322
@chshrikh I'm running into same issue. Please see Azure Storage documentation regarding the $root container: https://msdn.microsoft.com/en-us/library/azure/hh488356.aspx

[2017-01-09 06:00] vincentdass commented on #1644
@taspeotis, Can u add  `<parameter name="IIS Web Application Name" defaultValue="Default Web Site/ASPCore" />` as a workaround in your **parameters.xml** file?

[2017-01-09 07:16] zjrunner commented on #3287
@magol -- any luck with these steps and your auth issues?

[2017-01-09 07:49] prawalagarwal commented on #3024
Hi @tomkerkhove

Sorry for the delays in updating. There is an on going discussion going on this topic on the nunit adapter issues page :[]( https://github.com/nunit/nunit3-vs-adapter/issues/219). Once it reaches a conclusion we should be able to update you what is the way forward. Currently, this seems like a design level blockade in how nunit adapter is used by the VSTest.

[2017-01-09 09:58] #2357 closed

[2017-01-09 10:04] kaadhina commented on #2468
This is already in.

[2017-01-09 10:04] #2468 closed

[2017-01-09 10:28] kaadhina commented on #3060
@gregpakes Did force copying the sln file along with the packages folder work for you?
It should then pick up the adapter automatically. If it still did not, send us the build logs to devops_tools[at]microsoft[dot]com

[2017-01-09 10:35] kaadhina commented on #3087
@Cva2904 can you confirm if you were able to run the test plan scenario?

[2017-01-09 10:46] vincentdass commented on #3165
@kerslake  , Can u also share the screenshot  of `https://<vsaccount>.visualstudio.com/<project>/_machines` .
You can navigate to this URL by going to the `<project> -> Test -> Machines`.
![image](https://cloud.githubusercontent.com/assets/20121508/21764017/f43c557a-d686-11e6-8277-4628c6a50558.png)

[2017-01-09 10:57] acosmici commented on #3367
@ericsciple in fact I had a issue trying to pass powershell parameters from on script to another, the problem is fixed now.

Thanks,

[2017-01-09 10:57] #3367 closed

[2017-01-09 11:21] kaadhina commented on #3352
Can you confirm that the code coverage reports are not actually present under the CCReport folder. If they are present and still the reports are not getting published, please send us the contents for us to try at our end.
Else, can you please send us the modified build.gradle file after the Code Coverage data is appended?

[2017-01-09 11:26] kaadhina commented on #3359
Which task are you using: MSBuild/VSBuild ?
What option are you selecting for VS version /MSBuild version in the drop down?

[2017-01-09 11:32] kerslake commented on #3165
Hi @vincentdass, I've sent an email with the VSTS link failing with a 404, and the requested screenshot
Thanks!

[2017-01-09 11:35] kaadhina commented on #3363
Please ensure you have copied the config file to the test drop location on the test agent machine.
If you are still hitting this issue, please reply back to devops_tools@microsoft.com with the test agent logs at C:\dtalogs on the test agent machine, and also build logs after setting build variable system.debug=true.

[2017-01-09 12:04] FramnkRulez commented on #3351
I do not see the 'AzureRM Web App Deployment' on our server.  We are using TFS2015 Update 3 on-premise.

[2017-01-09 12:31] Pitterling commented on #3359
@kaadhina Visual Studio Build
![image](https://cloud.githubusercontent.com/assets/4181164/21766629/ec40f4dc-d66f-11e6-8066-32452f556051.png)

[2017-01-09 16:22] JoeBrockhaus commented on #3288
sorry for the delayed response guys. 

Initially it was happening consistently.

As of this morning, using the 2.1.8 version, it looks like things are working as expected.

[2017-01-09 20:03] mikanyg commented on #2929
@MikkelHegn A Service Fabric PowerShell task is a very good idea. It removes the friction with authentication as you mention and enables advanced deployment pipelines using the SF PowerShell API.

[2017-01-09 22:22] jeffyoung commented on #3369
Based on the SSH task code, it appears to be failing trying to get the first parameter (username) as it's required.  I don't know why that it'd be failing to do that.

Would it be possible for you to set the "system.debug" build variable on your build definition to true, re-run the build and post the build log here?  You may want to check for any PII information before posting.  Also, I assume you

[2017-01-10 01:10] richardszalay commented on #1268
@chrisrpatterson Your response is unrelated to @strtdusty's issue. The issue is that if a test fail, the "build" is still marked as successful. The successful build contains a failed test, sure, but it will go unnoticed so it's almost irrelevant.

[2017-01-10 05:22] jasonbrome commented on #3352
There are two CCReport43F6D5EF folders - one for each child project that contains test cases.  These folders exist within the child project folder at the same level as the build folder - not within the build folder.  Each of these two folders does have a jacoco.exec file within it.

[build.gradle](https://github.com/Microsoft/vsts-tasks/files/695327/build.gradle.txt)

[2017-01-10 08:49] RobBowman commented on #3363
Hi, I tried to send you an email but got the following message:

Are you able to email me at rob.bowman147@gmail.com ?

[2017-01-10 08:59] vincentdass commented on #3351
@FramnkRulez , `AzureRM Web App Deployment task` is not available in TFS-15 U-3 On-Premise.
You need to upgrade your [TFS](https://www.visualstudio.com/en-us/news/releasenotes/tfs2017-relnotes) to get the task.

You can also upload the [task](https://github.com/Microsoft/vsts-tasks/tree/releases/m105/Tasks/AzureRmWebAppDeployment) to your TFS. Please change the [task-ID ](https://github.com/Micros

[2017-01-10 09:23] CookieCookson commented on #3369
Thanks for your reply @jeffyoung! Apologies, I am hosting my own build agent on OSX. Here is my build log with system.debug enabled:
[code]

[2017-01-10 11:38] tanvi-soni commented on #3302
Hi,
Any update on the same?

[2017-01-10 12:00] vincentdass commented on #3322
@tabeth , @rjygraham , thanks for reporting this issue. Its a genuine issue and will be fixed.

[2017-01-10 12:58] tanvi-soni commented on #3363
Hi Rob,
We have received your email. We will take a look at it.

[2017-01-10 14:26] jeffyoung commented on #3369
Thanks @CookieCookson.  This certainly looks like the endpoint no longer exists which could happen if the definition points to an endpoint and is able to use it, then the endpoint is removed (via the services admin page).  I was able to reproduce that behavior simply by deleting an existing endpoint my SSH build was using.

Interestingly enough, my build definition didn't have system.debug set to

[2017-01-10 16:52] CookieCookson commented on #3369
Hey @jeffyoung, thanks for your input, I tried creating another endpoint etc but to no avail.

However, I decided to have a dig around `copyfilesoverssh.js` which was listed in the debug output and started logging out some values. It turns out when performing `getEndpointAuthorizationParameter` and `getEndpointDataParameter` it is now stored as a secret as a stringified JSON object instead of indi

[2017-01-10 17:47] RDalziel opened #3391 "Running Get-AzureSBNamespace in the context of Principal Authentication"
Hey Folks, wondering if anyone can shed some light here. I'm looking to remove any usage of credentials on our release templates and trying to figure out how to run Get-AzureSBNamespace within a RM Context.

Locally, running "Login-AzureRMAccount" and hitting Get-AzureSBNamespace everything returns fine. However on the build server (using the same Initialize-Azure functions as the AzurePowershell

[2017-01-10 18:22] jeffyoung commented on #3369
Well, for one, I read "copy files of SSH" and thought of the SSH task (so I was looking at the wrong code).  :(  Oops.

Let me do some digging around this area and see what I can find out.  BTW, what do you mean by "VST"?  Did you mean TFS (on-prem)?  Are you using our on-prem product or team services?  (I should have asked that question earlier.)

[2017-01-10 18:42] jeffyoung commented on #3369
Could you also let me know which version of the build agent you're using?

[2017-01-10 18:53] madhurig commented on #3355
@jamesatgithub: It looks like the proguard version is not being updated with Android SDK and has to be installed separately: http://stackoverflow.com/questions/39514518/xamarin-android-proguard-unsupported-class-version-number-52-0.

We don't have ProGuard 5 on the hosted build VMs, so you are seeing this error. We will update in the next rollout, I will post a timeline for the availability here o

[2017-01-10 19:11] madhurig commented on #3196
@NicoNB: Unfortunately, further updates are not planned for TFS 2015, since TFS 2017 is available. You can try the fix provided by @Vinzz in the xcode-task-utils.js on your build machine. If that works well for you, I can provide a zip of the task you can upload to your server.

Thanks,
Madhuri

[2017-01-10 19:12] AlexHimself opened #3392 "Copy and Publish Build artifacts - Cannot bind argument to parameter 'StagingFolder' because it is null."
I hope this is the right place to leave this issue.

My scenario is this. I do a build process and upload (using artifact.upload) specific log files. I have a Stakeholder who wants to see these log files, but Stakeholders can only see things in the release side, so I'm using [Copy and Publish Build Artifacts](https://www.visualstudio.com/en-us/docs/build/steps/utility/copy-and-publish-build-artifa

[2017-01-10 19:46] AlexHimself opened #3393 "Publish Build Artifacts does not work on release definition"
The utility task Publish Build Artifacts doesn't appear to work correctly. I've created a simple repro scenario to demonstrate.  The cause I can initially think of is that this is running via the on-prem Agent, but I don't think that should matter because it just downloads files locally then uploads/publishes the local artifacts back to the server.

The ultimate error I get is:

[code]

# Steps to

[2017-01-10 20:02] CookieCookson commented on #3369
Err yeah I meant TFS! I'm using the team services product. Would updating the build agent solve things? I haven't updated it since I installed it about 7 months ago. How would I get the build agent version?

[2017-01-10 21:30] RDalziel commented on #3391
Update - I've managed to get in via the following APIs https://docs.microsoft.com/en-us/rest/api/servicebus/ Getting an Access token to management.azure.com using the principals key and ID.

Still got problems on the hosted agents, but progress at least!

[2017-01-10 22:08] jeffyoung commented on #3369
I believe the build agent was updated back in June to handle changing Auth Data parameters from JSON to strings.  (See https://github.com/Microsoft/vsts-agent/commit/b70f8c7ec9c121a7562fc61a21a5d44c37eac8fd)

The version of the agent that you have should be displayed towards the top of your detailed build log.  Something like:
![image](https://cloud.githubusercontent.com/assets/2796865/21826483/a9

[2017-01-11 02:04] mkosieradzki opened #3397 "[Feature Request]service-fabric-versioning task - allow to specify single service/artifact for version update"
It would be useful very useful able to override version of single or multiple artifacts only eg. MyService1/MyCodePackage;MyService1;MyService2/MyDataPackage

[2017-01-11 05:30] kaadhina commented on #3363
Updating the outcome here: It turned out to be because of a missing config file in the test assembly folder.
Any dependency such as the config file, referenced binaries need to be copied to the folder from which you are running the tests in the target machine.
Closing this issue.
Rob, if you face any other issue, feel free to open another ticket or send us a mail as above, for us to take it forwar

[2017-01-11 05:30] #3363 closed

[2017-01-11 06:08] KishDan commented on #3222
Could you please update on this issue from Engineering Support? As @prawalagarwal mentioned above, the issue will be loop in through engineering support.

[2017-01-11 06:52] ozziwald commented on #1607
Same problem. MSDEPLOY_RENAME_LOCKED_FILES set to 1 worked for me. In my case it was the application dll that was causing the issue.

[2017-01-11 08:54] NickV1984 commented on #3176
Chaitanya thanks for you help, today I've found a solution for the permissions with the local administrator we're using. I also found the problem for the error "The term 'net' is not recognized as the name", this error occurs when the variable "path" exists.

The solution for the local administrator is to disable the UAC remote restrictions (https://helgeklein.com/blog/2011/08/access-denied-trying

[2017-01-11 09:46] kaadhina commented on #3222
@KishDan as communicated on email, provide a sample project for us to reproduce this issue at our end, and look into the issue.

[2017-01-11 10:20] NicoNB commented on #3196
Hello @madhurig,
thank you for your answer and thank you @Vinzz for the fix. It works with this fix :-)

[2017-01-11 10:30] vincentdass commented on #3374
@mrjono1 , Is the issue resolved ?

[2017-01-11 10:30] vincentdass commented on #3278
@shaunbatty , IS the issue reolved ?

[2017-01-11 10:31] vincentdass commented on #3351
@FramnkRulez , Is the issue resolved ?

[2017-01-11 12:02] vincentdass commented on #3288
@JoeBrockhaus, thanks for the response.

FILE_IN_USE issue occurs when DLL’s are locked. App_offline is believed to bring the app service down and unlock the resource. But the latest ASP.NET Core module expects app_offline.htm in root folder, but MSDeploy provides App_Offline.htm( case-sensitive). This issue is already in an active github issue with  ASP.net repo and they informed that it will be

[2017-01-11 12:38] tanvi-soni commented on #3352
If you are using VSTS, can you give us access to your VSTS account so that we can directly debug there. Can you please mail further details at devops_tools@microsoft.com

[2017-01-11 12:55] aydey commented on #3373
This failure is coming from Azure Resource Group Manager and not the task. You could try to repro the issue from the command line to confirm the same. Also from your description it seems that you are destroying and creating the environment again - does this mean deleting and creating the azure app? The error in that case could be due to some race condition for the host name to be verified from the

[2017-01-11 13:03] Ricconnect opened #3406 "Powershell on remote target shows incomplete verbose logs"
When I run remote powershell from a administrator powershell command prompt on the system of my buildserver, I get a more complete output than when I use the build in TFS task for Remote powershell in Release Management.

When I use the TFS task, it seems to cut off the logging at some point, which is always somewhere on the same line but not specifically one line always. Is there something that c

[2017-01-11 13:40] FramnkRulez commented on #3351
You mentioned upgrading TFS however I do not see an upgrade to TFS on-premise beyond update 3 which is already installed.  Is this going to be released as a TFS on-premise update?

[2017-01-11 15:49] FramnkRulez opened #3407 "Visual Studio Test Agent Deployment task fails with error 1603"
Our build configuration has the 'Visual Studio Test Agent Deployment' task included for running automated tests.  However this task is failing with error 1603 on a clean machine.  Attached is the installation log I found in %temp%

[dd_vstf_testagent_20170111102422.txt](https://github.com/Microsoft/vsts-tasks/files/699319/dd_vstf_testagent_20170111102422.txt)

[2017-01-11 17:31] StrangeWill commented on #2126
The only thing that is rough is I don't think we can get test coverage if we don't use a Visual Studio Test task, however I'm not entirely sure that would be supported on .NET Core anyway (TeamCity has been struggling off and on, they had it working during RC2 but haven't since).

Right now I'm just using `dotnet test -xml results.xml` and having VSTS suck in the XML results, nice, but no code cov

[2017-01-11 21:28] jasonbrome commented on #3352
Thanks - I just followed up with an email to devops_tools@microsoft.com.

[2017-01-11 21:30] jasonbrome commented on #3352
... and I just received a undeliverable message from postmaster@microsoft.com with the following preliminary information:

Couldn't deliver to the following groups:
tri@microsoft.com, vscsscomm@microsoft.com, vsate@microsoft.com

Let me know if the message was received on your side - or if there is another alias that I should use to address the message.

[2017-01-11 21:36] muttech opened #3408 "Azure SQL : DacpacTask 1.4 fails when {Username}@{ServerName} is specified for the user"
It looks like vsts-tasks/Tasks/SqlAzureDacpacDeployment/Utility.ps1 in #3263
was updated to append $serverName IF there is already an @ in the $sqlUsername.  That seems backwards and causes it to fail with:

##[error]Unable to connect to master or target server 'DBNAME'. You must have a user with the same password in master or target server 'DBNAME'

[code]

[2017-01-11 21:56] ChuckkNorris commented on #1170
Deleting the task from the build definition and re-adding it fixed it for me

[2017-01-11 22:57] offbeatful opened #3409 "NuGet Publisher duplicates path when running on Mac."
When running on mac it duplicates $(System.DefaultWorkingDirectory)

Please see the log below:
2017-01-11T22:53:09.3058530Z Directory '/Users/mac/VsoAgent/_work/r6/a/Users/mac/VsoAgent/_work/r6/a/Mocoding.Ofx/nupkg' not found.
2017-01-11T22:53:09.6835180Z ##[error]Error: /Library/Frameworks/Mono.framework/Versions/Current/Commands/mono failed with return code: 1
2017-01-11T22:53:09.6860520Z ##[err

[2017-01-12 00:00] bhenn commented on #1607
Same here.

[2017-01-12 04:32] sachinma commented on #3311
If you are using hosted agent - then the tooling there works only with project.json files. We will be working on  adding support for csproj based .Net Core projects to hosted images. However, if you use your own agent and install the tools supporting csproj files - the task would work.

[2017-01-12 05:16] Ajay-MS commented on #3408
@muttech

In task input for Azure SQL dacpac task, input for SQL server and username are separate. So username should be provided without **@servername** . Can you help me is there any reason for providing username in **username@servername** format. If yes, will surely take it into consideration.

In provided snippet of code, this condition in being added for reason following reason -
if username

[2017-01-12 06:28] tanvi-soni commented on #3090
The test agent needs to reboot the machine to create an active session. Hence, that cannot be avoided to run UI tests. The only options we can suggest for you to get unblocked are:
i.  Maintain an active session, i.e. the machine should be logged in with the same credentials used by test agent and it should not be locked or minimized
ii. Use a different set of test machines that do not come under

[2017-01-12 06:28] #3090 closed

[2017-01-12 08:17] vincentdass commented on #3351
@FramnkRulez , There is no updated after U-3. You need to get the latest [release](https://www.visualstudio.com/en-us/news/releasenotes/tfs2017-relnotes).
You can upload the task, if u do not want the latest  TFS.

[2017-01-12 08:39] cltshivash commented on #1486
You can find the details about the software on the hosted image pool here : https://www.visualstudio.com/en-us/docs/build/admin/agents/hosted-pool

Image updates are published here as well : https://blogs.msdn.microsoft.com/visualstudioalm/

[2017-01-12 09:28] jerone commented on #3191
Hi @madhurig, is there any more detailed ETA when the Android SDK version will be updated?

[2017-01-12 09:35] shtratos commented on #3230
I observe the same issue on Linux Hosted worker.

[2017-01-12 09:56] tanvi-soni commented on #3352
Yes, we have received your email

[2017-01-12 12:00] AbhitejJohn commented on #3359
@Pitterling : Can we use msbuild x86 instead? That is what Visual Studio uses to build the project in Dev15.
MSbuild x64 does not seem to be resolving assemblies from Public Assemblies. This is however working in Dev14 and the x86 msbuild from Dev15 where the UnitTest Framework dll is being picked up from PublicAssemblies. @Microsoft/msbuild-maintainers, any idea why this resolution is not happeni

[2017-01-12 12:12] DavidStaheli commented on #3230
Apologies for this bug!  It was fixed with pull request #3148.  Unfortunately it was not hot-fixed in production, and because of the holidays, deployment of the fix to production did not take place until this week.  If it has not already arrived for your account, it should by Saturday.  If you let me know the name of your accounts (_account_.visualstudio.com), I can tell you when the fix should be

[2017-01-12 12:43] vincentdass commented on #3406
@Ricconnect , Thanks for reporting the issue.
Can you share the last two release logs to **RM_Customer_Queries@microsoft.com** ?
Can u please queue and new release with `system.debug` = true and share those logs too ?

[2017-01-12 13:22] tanvi-soni commented on #3407
Can you please send the build logs as well to devops_tools@microsoft.com

[2017-01-12 13:26] FramnkRulez commented on #3407
I figured out the problem with this issue.  The Visual Studio Test Agent Deployment tasks fails on a machine without an active internet connection.  The failure is due to it trying to validate the root certificate for authenticode and then later in the install when it attempts to check the certificate revocation list for the signed installation content.

I had to enable my internet connection on t

[2017-01-12 13:26] #3407 closed

[2017-01-12 13:42] rainersigwald commented on #3359
Filed https://github.com/Microsoft/msbuild/issues/1549 to investigate why there's an x64/x86 difference.

@Pitterling I also recommend using the default x86 MSBuild as a workaround.

[2017-01-12 13:57] FramnkRulez commented on #3351
Thanks I didn't realize that 2017 was out already.

[2017-01-12 13:57] #3351 closed

[2017-01-12 14:17] Pitterling commented on #3359
@AbhitejJohn @rainersigwald Thanks for the update. I changed to x86 but also updated the VS2015RC version. Now VS15 is not found any longer :( ... therefore I cannot confirm if this changes the issue.

[2017-01-12 15:14] ericsciple commented on #3359
@Pitterling are you on VSTS (the service) or an on-premises install of TFS?

[2017-01-12 15:19] Pitterling commented on #3359
@ericsciple TF2017 - agent/vs2017rc running on same node - recently updated VS2017RC to 15.0.26020.0. With former VS15 version agent detected my VS2017RC installation.

[2017-01-12 15:23] ericsciple commented on #3359
can you add the variable `system.debug` to your definition and set the value to `true`, run a build, and download the build logs zip and send to ersciple? (at microsoft com)

[2017-01-12 15:24] JoeBrockhaus commented on #3288
@vincentdass ideally we would prefer a zero-downtime deployment. ie: uncheck the 'take app offline' box on the VSTS task.

Is that expected to be supported?

[2017-01-12 15:30] dawilliams opened #3415 "Deploy AzureRM App Service Additional Arguments doesn't work with v2.1.9 of Azure App Service Deploy"
The upgrade of the Azure App Service Deploy task to version 2.1.9 on the hosted agents has broken my values in the Deploy AzureRM App Service Additional Arguments field.  These values worked in version 2.1.8.

The error is...
##[error]Error: The regular expression 'MesaDevAdmin\Logs' is invalid.
Error: parsing "MesaDevAdmin\Logs" - Unrecognized escape sequence \L.

and the config is
![image](https

[2017-01-12 15:46] phatcher opened #3416 "Why doesn't Azure App Service Deploy use SetParameters file by default?"
The standard build process produces a <Projectname>.SetParameters.xml file along side the zip file containing the contents to be published, so I have a token replacement step which substitutes the token values.

Unfortunately the unless you explicitly specify the file in the task, the parameter file is not used by the publish process.

Can you change it so that if not specified it looks for a SetP

[2017-01-12 15:56] vincentdass commented on #3415
@dawilliams, thanks for reporting the issue.
Can u change the double quotes in **Additional arguments** to single quotes ?
`-skip:SkipAction=Delete,objectName=dirPath,absolutePath='$(webAppName)\\Logs'`

[2017-01-12 16:05] Vinzz opened #3417 "Cannot pass DestinationSpecifier with quotes from TFS to OSX"
We want to launch xcode tests via the xcodebuild task, and struggle with the [destinationspecifier ](http://www.5neo.be/use-xcodebuild-cli-to-launch-ios-simulator-and-device/)parameter.

In our case, the platform name is 'iPhone 5', so the destinationspecifier for our command ought to be:
`-destination name="iPhone 5",OS="10.2"`

How to pass such double quotes from TFS to an OSX agent? All we trie

[2017-01-12 16:22] madhurig commented on #3417
I have this in my build definition: -destination "platform=iOS Simulator,name=iPhone 6s" and it works. Please try: -destination "name=iPhone 5,OS=10.2" and see if that helps.

The arguments are split on spaces and the quotes indicate it is one argument and should not be split. I agree this is confusing.

Thanks,
Madhuri

[2017-01-12 16:24] madhurig commented on #3191
@jerone: Are you still seeing issues? The update was done in the last week of December, so we expect this to work unless you are using ProGuard (which is still older version).

Thanks,
Madhuri

[2017-01-12 16:41] dawilliams commented on #3415
Thanks @vincentdass!  That worked.

[2017-01-12 16:41] #3415 closed

[2017-01-12 16:44] ericsciple commented on #3359
i can't repro the issue with build 26020. are you sure the installation succeeded? can you open visual studio on the box?

[2017-01-12 16:45] vmakhaev opened #3418 "One or more of the steps defined in the build does not have an associated task definition"
We've been using cloud VSTS with custom agent. It works most of a time, but sometimes we get this error for build:

`One or more of the steps defined in the build does not have an associated task definition. Check if the task was uninstalled or has failed a licensing check.`

After manual restart, build runs smoothly without any problems.

This can be connected to https://github.com/Microsoft/vsts

[2017-01-12 16:52] Pitterling commented on #3359
@ericsciple yes, installation succeeded, i can open vs on the box.

Agent.Version = 2.111.1 - Capabilities tab does not list "VisualStudio_15.0"

[2017-01-12 17:41] muttech commented on #3408
@Ajay-MS the variable for username in the release was configured that way many months ago (I honestly don't remember if there was prior documentation showing that, or I just added the @servername to it - although I don't know why I would have decided to do so without seeing it elsewhere) - and it worked until mid-day yesterday, which led to the discovery of the task changing from 1.2 to 1.4 and th

[2017-01-12 17:41] #3408 closed

[2017-01-12 18:12] ericsciple commented on #3359
ok, the task finding VS and the agent finding VS are two different things. the agent scans on startup. so you may just need to restart the agent.

[2017-01-12 18:44] Pitterling commented on #3359
@ericsciple I restarted several times, I also reverted back the agent to 2.109.2 ... VS15 is not found.

[2017-01-12 18:59] ericsciple commented on #3359
When you launch the visual studio installer, does it know where your instance of VS 2017 is located? When you click modify on the instance, is the "Location" text box filled in corrected (bottom of workloads window)

[2017-01-12 19:03] ericsciple commented on #3359
The only other thing I can think of, if the agent is running as a service account, does the service account have access to the VS installation directory? For example, if you run the agent as Network Service, then it wouldn't be able to read files under your user profile directory.

[2017-01-12 19:09] shaunbatty commented on #3278
Vicent, the issue still persists. I am not sure what you are talking about in the previous comment. Can you please elaborate that?

[2017-01-12 20:37] ericsciple commented on #3418
@vmakhaev by manual restart, do you mean restarting the agent?

[2017-01-12 20:39] mikanyg opened #3419 "ServiceFabricDeploy does not have demands for SF SDK capability for agent"
Ran into an issue where ServiceFabricDeploy task failed with the following error message:

**##[error]Supported task execution handler not found. Supported handlers: Node**

Found out that our Agent pool, which already had two private agents (Windows based, with VS and SF SDK), was updated with a new OSX based agent being added to the pool by a mistake. Since the ServiceFabricDeploy task does not

[2017-01-12 20:43] ericsciple commented on #3418
i found out there is an investigation currently regarding this issue.

[2017-01-12 20:43] ericsciple commented on #3418
@yaananth fyi

[2017-01-12 20:55] ericsciple commented on #3392
@AlexHimself are you using Copy and Publish Build Artifacts in a release definition?

[2017-01-12 21:01] ericsciple commented on #3393
@GitHubSriramB it looks like this is confusion due to RM not considering the [visibility filter](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/PublishBuildArtifacts/task.json#L9) on the task.

[2017-01-12 22:26] yaananth commented on #3418
@vmakhaev Could you share the following details:
What's your account name?
Time when you observed the issue?
I think those tasks are coming from an extension correct?

[2017-01-12 22:38] jerone commented on #3191
@madhurig You are right, I can build with Android SDK 24 again!

I was using a separate branch with downgraded version and subscribed to this issue for updates. Looks like this issue can be closed as fixed.

[2017-01-13 05:00] vmakhaev commented on #3418
@ericsciple by "restarting" I mean "Queue new build"

@yaananth
Account name: "usinnovation"
There is [link](https://usinnovation.visualstudio.com/Cortex/_build/index?buildId=211&_a=summary) to the failed build with this issue (yesterday, just before I created this issue). Another [one](https://usinnovation.visualstudio.com/Cortex/_build/index?buildId=210&_a=summary).
We are using Docker extension

[2017-01-13 05:56] zjrunner commented on #3226
@montanehamilton -- any more info from the earlier questions?  for pack, we do very little on top of nuget (not like we need to auth).  Sounds like the nuspec is just missing data so wondering if you generate it or it is fully specified, etc.

[2017-01-13 07:36] GitHubSriramB commented on #3393
Not honoring the visibility filter in RM is as designed. We had added logic in Publish artifacts task to fail when used in Release with appropriate error message. Looks like this logic got regressed. We should fix it.

[2017-01-13 07:37] GitHubSriramB commented on #3393
We will take up fixing this issue.

[2017-01-13 10:34] Ricconnect commented on #3406
@vincentdass  I have sent you the logs of the remote powershell task, together with a log of powershell when I manually do a Invoke Command remotely from the same pc as the release agent runs

[2017-01-13 14:09] madhurig commented on #3191
@jerone : Thanks for confirming.

[2017-01-13 14:09] #3191 closed

[2017-01-13 14:10] #3237 closed

[2017-01-13 16:09] shortstuffsushi commented on #3237
@madhurig could you please add a comment noting why you close issues in the future? By digging through linked issues, I saw that it was fixed, but it's not clear in this issue.

[2017-01-13 16:50] shortstuffsushi commented on #3237
@madhurig in this instance, I already saw it. I mean to say, in the future, please provide context when closing an issue for those of us watching.

[2017-01-13 17:28] Pitterling commented on #3359
@ericsciple yep, Installer knows the correct location and i tried both user/service - no luck.

Is there any way to trace the "scanning capabilities" phase during agent startup?

[2017-01-13 18:01] NBelham commented on #1607
Also seeing the same issue in the past 20 days approx. Using VS2015 Web Project Publish which includes this WebDeploy parameter `-enablerule:AppOffline` but I am finding that the web application isn't going offline and hence the web publish fails with the error message:

Web Deploy cannot modify the file 'someName.dll' on the destination because it is locked by an external process.  In order to al

[2017-01-13 18:24] yaananth commented on #3418
Thanks!
I see first occurrence at 2017-01-12 12:35:03.4072654 UTC and last  2017-01-12 16:14:49.5055690 UTC.

There has been similar occurrence of this issue for another account. We enabled tracing that would help us in narrowing the issue down. If it happens again, please reopen the issue that should point out what is happening.

As of now, the issue doesn't seem to be happening.

**Note**: If an

[2017-01-13 18:30] ericsciple commented on #3359
Let me pull together a small script to help diagnose. We may need someone from VS to help investigate.

[2017-01-13 18:50] ericsciple commented on #3359
Ok here's as small as I could reduce it. Log on the box with VS 2017 installed, add the below code into a script Test-VS2017.ps1, and then CD to that directory and run .\Test-VS2017.ps1

It sounds like it will output 0 instances for you. VS 2017 doesn't have registry values to locate where it's installed, so we query the COM API instead. You could also try running it elevated and see if that makes

[2017-01-13 20:26] Pitterling commented on #3359
here is the output

[2017-01-13 20:38] ericsciple commented on #3359
Thanks... I'll try and track down someone from VS who can help troubleshoot why the COM API isn't returning any instances, yet the VS installer is able to resolve the location.

[2017-01-13 21:19] heaths commented on #3359
Depending on the state of the instance, `ISetupConfiguration::EnumInstances` may not enumerate them (I only enumerate valid instances). You can use `ISetupConfiguration2::EnumInstances` instead to enumerate them all. Starting with RC.3 `ISetupConfiguration::GetInstanceForPath` will also return an instance for an installation directory (or subdirectory) even if the state is incomplete.

[2017-01-13 21:58] ericsciple commented on #3359
@Pitterling have you tried rebooting the machine?

[2017-01-13 22:17] mclark1129 opened #3424 "Question: How can I use endpointUrl in an inline Data Source Binding"
I'm writing a custom task to publish documents to the Azure API portal.  I want the UI for the task to list out the available API Management services for a selected Subscription and Resource Group.  According to #3077 this should technically be possible by specifying the `endpointUrl` inline with my datasource binding.  I've tried to model the endpoint after the datasources in the Azure RM Web Dep

[2017-01-13 23:07] ericsciple commented on #3359
@Pitterling also can you try this script, it will list more info about the state of the install

[code]

[2017-01-14 10:07] Pitterling commented on #3359
@ericsciple i don't see any difference in the output of both scripts. I also rebooted the system.

[2017-01-14 16:51] martincostello opened #3425 "Allow custom app_offline.htm in web app deployment task"
From looking at the [code](https://github.com/Microsoft/vsts-tasks/blob/588387ac2fb3caf73c6f7e1f0f1eec069b6363f7/Tasks/Common/webdeployment-common/kuduutility.ts#L14) it appears that the ```app_offline.htm``` file is generated from a hard-coded string.

It would be nice if there was a way to specify a custom ```app_offline.htm``` file path and/or content as a parameter to the task to allow for a n

[2017-01-15 20:51] zhangpeng-kooboo commented on #1607
Same here

[2017-01-15 21:21] grantbowering commented on #3027
I have problems displaying this type of report as well.
Like the OP, I'm using karma-coverage (or rather, isparta and karma-remap-istanbul, because typescript+webpack, but same result), generating a cobertura file to upload to VSTS as a summary and an html report to show on the code coverage tab.
Like the OP, the resulting artifact contains the full html folder nearly identical to theirs, and I ca

[2017-01-16 00:11] ArashMotamedi commented on #1607
Started experiencing this on my Asp.net core web app just now as well. The `.exe` file is locked and can't be overwritten.

For reference, this is the deployment command:
`Executing command ["C:\...\msdeploy.exe" -source:manifest='C:\...\SourceManifest.xml' -dest:manifest='C:\...\DestinationManifest.xml',ComputerName='https://....scm.azurewebsites.net/msdeploy.axd?site=...',UserName='...',Password

[2017-01-16 00:45] baylisscg commented on #3230
Thanks @DavidStaheli. Looks like it hasn't landed for me yet `dstgrp.visualstudio.com`

[2017-01-16 05:59] #3302 closed

[2017-01-16 06:22] vincentdass commented on #3374
@mrjono1 , if the issue is not resolved, please feel free to open the thread.

[2017-01-16 06:22] #3374 closed

[2017-01-16 06:26] vincentdass commented on #3288
@JoeBrockhaus , For zero downtime deployment, You can deploy to a staging slot and then swap with production.
You can use `Azure App Service Manage Task` for Managing Azure App Service.
If dll's are locked in slots, then you need to Stop-Deploy-Start the slot.

[2017-01-16 06:38] vincentdass commented on #1607
@bhenn , @NBelham , @zhangpeng-kooboo , @nezoic , @ArashMotamedi ,
FILE_IN_USE issue occurs when DLL’s are locked. App_offline is believed to bring the app service down and unlock the resource. But the latest ASP.NET Core module expects app_offline.htm in root folder, but MSDeploy provides App_Offline.htm( case-sensitive). This issue is already in an active github issue with  ASP.net repo and they

[2017-01-16 07:36] kirkone commented on #1607
@vincentdass maybe I did something wrong, but the `Azure App Service Manage` Task only provides the possibility to switch deployment slots for me.

Thanks, KirK

[2017-01-16 08:04] ArashMotamedi commented on #1607
@vincentdass Thanks. Could you please elaborate if there are any differences in the deployment behavior of Asp.net Core apps vs. Asp.net apps? My understanding is that when a classic (non-core) Asp.net app was deployed, IIS would simply react to the presence of new files and restart the app pool, and therefore it resulted in continuous, uninterrupted service. Conversely, it sounds like the behavio

[2017-01-16 08:42] kirkone opened #3429 ""Publish using Web Deploy" = false not working in "Azure App Service Deploy" task"
Hello,

I have some troubble with my deployment to Azure using the `Azure App Service Deploy` task.
Currently ther is an issue with the casing of the `app_offline.html` using msdeploy. So I tryed uncheck the `Publish using Web Deploy` switch under `Additional Deployment Options`. The result is not what I expected becouse in the logs I can see that msdeploy is used regardless.
The parameter is gett

[2017-01-16 08:48] vincentdass commented on #1607
@kirkone , Latest version of Azure App Service Manage Task Deployment is yet to be completed.  Can you please try managing the app using Azure PowerShell Task.

You can start-stop the app service using the Azure PowerShell Task.
Please use the following commands to manage app service.

[code]

For start-stop Azure App Service Slot , we need to use different command.
[code]

[2017-01-16 08:51] vincentdass commented on #1607
@ArashMotamedi ,The behavior of ASPCore and ASP.NET apps are different.  There is an active thread with this issue. Will provide you the complete details, once the fix is planned.

[2017-01-16 08:56] kirkone commented on #1607
@vincentdass
I will give this a try.
so far I used the the Azure CLI task to do so but sometimes this failed with ResourceGroup not found error in my own build controllers. I think using the PS is the better option here.
I did something similar here [PublishWebPackage.ps1](https://github.com/kirkone/vsts-dnx-tasks/blob/master/VSTS.DNX.Tasks.PublishWebPackage/PublishWebPackage.ps1#L93) but I tried

[2017-01-16 09:39] vincentdass commented on #3278
@shaunbatty , Published Cloud service package generally contains **<CloudService>.cspkg**, **ServiceConfiguration.Cloud.cscfg** and **extensions folder**.

![image](https://cloud.githubusercontent.com/assets/20121508/21976850/c0a79a4e-dbf9-11e6-8006-59afcaa6dab5.png)

Extension Folder contains the configuration settings for each worker/WebRole.
When the Web/Worker role name doesn't match with the

[2017-01-16 09:50] mrjono1 commented on #3374
sorry I didn't get back to you I was on unable to get the logs in time. The code you pointed out looks good, not sure what happened to me

[2017-01-16 10:01] vincentdass commented on #3429
@kirkone , Thanks for your feedback and code reference.
Yes, the above behavior is expected. Many packages (Mainly ASP.NET) are generally created from Visual studio Build and only using MSDeploy, it will be properly extracted.

General structure of Package:
![image](https://cloud.githubusercontent.com/assets/20121508/21978278/ed732498-dbff-11e6-8aac-51f60f8b4662.png)
The actual content resides in

[2017-01-16 10:21] kirkone commented on #3429
I am not totaly convinced about this behavior.
You are right about the output of an MSBuild based projekt but there are so many other options for getting files to deploy. In example `dotnet build` or `node.js.`
I thinkt it would be nice to have an build in tast which can deploy to azure regardless of the kind of input. Maybe I did not see the whole thing but why we should not be able to use Kudu d

[2017-01-16 12:45] vincentdass commented on #3391
@RDalziel , We **cannot run Get-AzureSBNamespace within RM Context,** it required Azure Classic Connection.
It runs on local box because, an instance of AzureSubscription is already saved in the machine.
You can view the instance by running `Get-AzureSubscription`.

[2017-01-16 14:24] DavidStaheli commented on #2903
Done.  @BluMist, thanks for the suggestion!

[2017-01-16 14:24] #2903 closed

[2017-01-16 14:59] karthik25 commented on #1441
@Ajay-MS This issue still seems to be happening. I tried everything suggested in this page and nothing seems to work. I even tried going from the basic tier to S0. Still no luck. Should I create a new issue? Update happens without issues for a while and then start timing out:

[code]

And this is on visual studio online (visualstudio.com). And sorry for hijacking the discussion - getting desperate

[2017-01-16 15:30] elferone commented on #3165
We are getting the same problem as you guys. Tried to add the port number to the
Azure SQL Server Name, but it did not work for me. Here is my log:

`2017-01-16T15:21:00.8163706Z ==============================================================================

2017-01-16T15:21:00.8163706Z Task         : Azure SQL Database Deployment

2017-01-16T15:21:00.8163706Z Description  : Deploy Azure SQL DB us

[2017-01-16 16:25] mclark1129 commented on #3424
Update,

When I checked the console in Chrome I saw a message of **Cannot call URLs that do not start with {{endpoint.url}}** when I tried to enumerate my custom datasource.

I changed the `endpointUrl` of my datasource to `{{endpointurl.url}}subscriptions/$(endpoint.subscriptionId)/resourceGroups/$(ResourceGroupName)/providers/Microsoft.ApiManagement/service?api-version=2016-07-07`

That lead me

[2017-01-16 16:50] zidad commented on #3311
@sachinma, I don't fully understand, when using VS2017RC the project.json files are deprecated when converting the solution, so we can't build VS2017 projects now at all on a hosted build agent?

[2017-01-16 16:55] sachinma commented on #3311
You are right about your understanding of the current state. VS2017 RC based .Net core projects cannot be compiled on the hosted build agent right now. As I mentioned, we are working to add that capability. In the meantime, as a workaround you can use a private build agent which has the right version of .net core tools and then use the task.

[2017-01-16 17:01] zidad commented on #3311
Thanks!

I was hoping there would be some hackety-hackety way we could still build it on the hosted build agent, but I'll end my quest here :)

[2017-01-16 17:24] mclark1129 commented on #3424
I have confirmed that I can manually perform authorization and issue the REST call via Postman to `https://management.azure.com`.  When I try to substitute `https://management.core.windows.net/` i receive the following message:

Since I am not using Azure Classic endpoints I do not have any certificates associated to service users.  This makes me think that if I could issue a request to `managemen

[2017-01-16 21:29] kirkone commented on #3425
@martincostello had the same problem.
I did some work on my own Build Tasks. If you want please have a look here: [vsts-dnx-tasks](https://github.com/kirkone/vsts-dnx-tasks)
You can either use the default App_Offline.htm which looks like other Azure status sites or you can provide a custom page.

I would appreciate some feedback

Greetings, KirK

[2017-01-16 21:42] kirkone commented on #3429
Hi,

after a little tinkering I came up with a solution for my needs. I added the option to use App_Offline.htm in my own Build Tasks here: [PublishWebPackage.ps1](https://github.com/kirkone/vsts-dnx-tasks/blob/master/VSTS.DNX.Tasks.PublishWebPackage/PublishWebPackage.ps1)
By implementing this I also worked around the casing problem with App_Offline.htm and asp.net core projects.

I am not sure if

[2017-01-16 21:42] DavidStaheli commented on #3230
@baylisscg, sorry.  :(  Unfortunately the final phase was delayed until tomorrow (Tuesday).

[2017-01-16 22:56] mikanyg commented on #2984
@MikkelHegn what is the expected timeline for having a PR reviewed?

[2017-01-17 05:16] vincentdass commented on #1441
@karthik25 , sorry for the inconvenience.  Can you please send the debug logs to `RM_Customer_Queries@Microsoft.com` ?

[2017-01-17 05:59] RoopeshNair commented on #3416
We have add this to our backlog. However it will be another 3-4 sprints before we can get to it.

Thanks

[2017-01-17 05:59] #3416 closed

[2017-01-17 07:10] PlasticLizard opened #3434 "ServiceFabricDeploy fails for UserCredential constructor arity in latest hosted agent"
The latest update of the hosted agent, which seems to have been released on 1/13/2017, is causing the ServiceFabricDeploy task to fail on line 97 of Tasks/ServiceFabricDeploy/utilities.ps1:

$userCredential = Create-Object -TypeName Microsoft.IdentityModel.Clients.ActiveDirectory.UserCredential -ArgumentList @($authParams.Username, $authParams.Password)

With this error:

##[error]Cannot find an o

[2017-01-17 07:29] Cva2904 commented on #3087
@kaadhina

I tried doing so, but when we are executing using test plan, test agent is not identifying the required assembly files and .dll's.

So tried executing using Priority and was able to do it.

Thanks.

[2017-01-17 07:30] Cva2904 commented on #3087
Hi All,

I am able to send email notifications once my build gets executed.

Thanks.

[2017-01-17 07:40] kaadhina commented on #3087
If you are still blocked, here is some troubleshooting that might help:
If your intention is to run a particular set of test methods from a set of dlls based on name,priority etc, you are on the right direction.
If you are trying to run the test cases of a particular test plan, test suite, and test config,
Check whether the testplan, suite, config selection that you have made points to the require

[2017-01-17 14:47] karthik25 commented on #1441
@vincentdass No problem, I will scrub the logs and send it to you today. Thanks!

[2017-01-17 15:38] ericsciple commented on #3359
@heaths ISetupConfiguration2.EnumAllInstances is also returning zero instances. Thoughts?

[2017-01-17 15:58] shiningdragon opened #3437 "Deploy App Service Task Failing"
Since yesterday I am seeing these failures deploying to app services. Was the task updated to version 2.1.9 recently? The failures started happening then.

2017-01-17T15:51:47.6828631Z ##[section]Starting: Deploy App Service

2017-01-17T15:51:47.6828631Z ==============================================================================

2017-01-17T15:51:47.6828631Z Task         : Azure App Service Dep

[2017-01-17 16:00] shiningdragon commented on #3437
These release were working fine with no issues until very recently

[2017-01-17 16:54] vincentdass commented on #3437
@shiningdragon , Thanks for reporting the issue.
Can you please queue a new release with system.debug = true and share the debug logs ?

[2017-01-17 17:00] Vinzz commented on #3417
Thanks @madhurig, that's exactly what we needed to do. And indeed it's a bit confusing,

[2017-01-17 17:00] #3417 closed

[2017-01-17 17:20] montanehamilton commented on #3226
`<?xml version="1.0"?>
<package >
  <metadata>
    <id>$id$</id>
    <version>$version$</version>
    <title>$id$</title>
    <authors>$author$</authors>
    <owners>$author$</owners>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>$description$</description>
    <copyright>Copyright 2016</copyright>`

Using the replacement tokens so the AssemblyInfo.cs has these.

[2017-01-17 17:31] montanehamilton commented on #3226
With "detailed" verbosity.

2017-01-17T17:27:26.4325799Z ##[section]Starting: NuGet Packager
2017-01-17T17:27:26.4385791Z ==============================================================================
2017-01-17T17:27:26.4385791Z Task         : NuGet Packager
2017-01-17T17:27:26.4385791Z Description  : Creates nupkg outputs from csproj or nuspec files
2017-01-17T17:27:26.4385791Z Version      : 0.

[2017-01-17 17:39] heaths commented on #3359
Please run http://aka.ms/vscollect.exe and share _%TEMP%\vslogs.zip_ after it completes.

[2017-01-17 18:10] montanehamilton commented on #3226
Running similar pack command locally is working.

[2017-01-17 18:43] Pitterling commented on #3359
@heaths file is about 20MB .. any preferred place to upload?

[2017-01-17 18:49] heaths commented on #3359
OneDrive, Dropbox, wherever. Just make sure I can access it. I can let you know once I've downloaded if you want to delete it afterward.

[2017-01-17 19:02] Pitterling commented on #3359
@heaths [vslogs](https://www.dropbox.com/sh/51c52looitssanl/AABU1s-Fe3Pbi5b9nnNJ9rJ5a?dl=0) contains 2 files
- TF-agent - the one of interest
- laptop --> my laptop, powershell script does not detect VS15 either

[2017-01-17 19:18] zjrunner commented on #3226
Ok, so 3.5 isn't filling in the tokens, only in the vsts build task flow, but earlier versions can't be used because you need dotnetstandard.    We'll try to get a repro over here, but can you confirm when you run this locally you're using the exact same commandline and you have the template nuspec (nothing cached so it must do token replacement)?
nuget.exe pack "C:\a\1\s\Consumer\Consumer.csproj"

[2017-01-17 19:30] montanehamilton commented on #3226
Was using older version locally, 3.5.0.1938 fails locally as well.

[2017-01-17 19:35] zjrunner commented on #3226
Ah, I'll see if I can get the nuget team involved to comment.

[2017-01-17 19:47] heaths commented on #3359
Thanks. I've got them and am taking a look now.

[2017-01-17 20:02] heaths commented on #3359
I don't see anything wrong other than some errors, which newer versions of the API (like that shipped with RC2) should still enumerate as some errors still allow the product to be launchable. Depending on which version of the DLLs the original code (from your OP) called, this could be the problem. But trying the script with your state yielded the same results you got (even though my official power

[2017-01-17 21:00] tousinn opened #3438 "Can not run Get-AzureRmNotificationHubsNamespace using AzurePowerShell Task"
Hi,
I am trying to use Get-AzureRmNotificationHubsNamespace PowerShell cmdlet to get the
resource group of an existing service bus on Azure. It works fine on my local.

However,  when I tried to run the same cmdlet via AzurePowerShell Task on Visual Studio Team Service,
It gives me the error  below.

=================================
[error]Could not load file or assembly 'Microsoft.Rest.ClientRun

[2017-01-17 22:50] #3438 closed

[2017-01-18 00:40] frourke commented on #1233
Careful with "azure webapp stop|start" if you are working with slots.
Currently this command ignores the --slot xxx and always uses the production slot.

[2017-01-18 02:51] ericsciple commented on #3359
Thanks @heaths! To add more context, the task in VSTS uses `ISetupConfiguration` to locate msbuild and detect the version of VS on the box. Right now we are close to shipping TFS 2015 Update 1. I think if we switch over to `ISetupConfiguration2`, we still need to fallback to `ISetupConfiguration` for older VS installs (otherwise break existing consumers).

Aside from a longer-term solution for the

[2017-01-18 05:40] vincentdass commented on #1233
@frourke , We recently added Azure `App Service Manage Task (Preview)` to manage Start, Stop, Restart and swap slots in Azure App Service. This task is available in most of the regions and will be available to all the regions soon.

[2017-01-18 05:45] vincentdass commented on #3278
@shaunbatty , is the issue resolved ?

[2017-01-18 05:59] vincentdass commented on #3288
@JoeBrockhaus , Can you please explain what will be the issue with swap slots ?

[2017-01-18 05:59] vincentdass commented on #3391
@RDalziel , Is the issue resolved ?

[2017-01-18 06:06] Evit15 opened #3440 "[TFS 2017][MAVEN task]No test result files matching pattern were found"
When I run maven task on TFS 2017 with option publish test result to TFS services, I receive warning "No test result files matching D:\agentTest\_work\5\TEST_REPORTS\**\TEST-*.xml were found, so publishing JUnit test results is being skipped."

I am customize Test Result Files to pattern "$(Agent.BuildDirectory)/TEST_REPORTS/**/TEST-*.xml"

This issue doesn't happen on TFS 2015

I show log I see i

[2017-01-18 06:19] vincentdass commented on #3283
@ovitrif , Can you try migrating your definition to `Azure App Service Deploy` Task and queue a release ?

[2017-01-18 06:38] mmercan opened #3441 "Proxy and VSTS_HTTP_PROXY is failing for Node.js Tasks"
I run my agent under a proxy I added .proxy file and I also added VSTS_HTTP_PROXY environment variable too, Powershell base tasks works well on
Requesting for Auth Token: https://login.windows.net/********/oauth2/token/
But Node.js tasks gives Error: connect ETIMEDOUT 23.101.222.242:443
error message

(https://github.com/Microsoft/vsts-node-api/blob/28cc72093615fbdaf274e3c4e17653e449f799ca/api/Htt

[2017-01-18 06:45] mmercan commented on #3441
Azure App Service Deploy (RM)  2.1.8 / Private Agent
Error: The underlying connection was closed: An unexpected error occurred on a send.
Error: Authentication failed because the remote party has closed the transport stream.
Error count: 1.

To fix this I added
RegEdit
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NETFramework\v4.0.30319
SchUseStrongCrypto (DWORD)  =  1

[2017-01-18 07:55] tanvi-soni commented on #3440
Yes, in TFS 2017, we look for the file in system.DefaultWorkingDirectory and that is why the task is not able to find the xml file in agent.buildDirectory.
I would suggest that you use the PublishTestResults task to publish the test results to TFS. You can add the task after maven task and specify the format of test result file and test result file location. Alternatively, you can also give full n

[2017-01-18 08:00] bipindas opened #3444 "Azure SQl Dacpac deployment failing"
I have a dacpac deployment that's failing. Its pushing to 2 other environments without problems. Dev and QA are deployed successfully but sandbox is failing. I get the error. Credentials are the same for all 3 db's. I tried with both Autodetect firewall and IP address range.

Unable to connect to master or target server 'XX_Sandbox'. You must have a user with the same password in master or target

[2017-01-18 08:16] aydey commented on #3373
I am closing this issue owing to the fact that the failure is coming from Azure.

[2017-01-18 08:16] #3373 closed

[2017-01-18 09:26] CookieCookson commented on #3369
This seems to have fixed things @jeffyoung, thanks! Would the plugin need a minimum version of the build agent set?

[2017-01-18 10:20] alexbance opened #3445 ".NET Core restore/build with a .csproj instead of a project.json"
Hi,

We've run into an issue where we cannot build our .Net Core app in VSTS because the build definitions are looking for project.json files not the .csproj files. I have tried both the .Net Core (Preview) definition and using a command line definition.
 On the documentation for the hosted pool it says the build server is deployed with both .Net Core 1.0 and 1.1 runtimes. How do I specify which r

[2017-01-18 10:24] vincentdass commented on #3444
@bipindas ,It looks like the task failed for invalid user credentials.
Can you queue a new release with system.debug = true ?
you can find the **sqlpackage.exe command** with arguments in debug logs. Please run that command locally with appropriate password. Can you also try to login to Azure SQL Server from 'Microsoft SQL Server Managment Studio' ?

[2017-01-18 10:32] bipindas commented on #3444
Thanks. From the log sqlpackage command I could see that the username was incorrect. Something must have changed with the vsts task. previously we had to specify the user name as username@servername. Now it looks like the task is appending the server name automatically so I ended up with username@servername@servername. Updated that and the task ran successfully.

Thanks!

[2017-01-18 10:32] #3444 closed

[2017-01-18 10:39] iamthemovie commented on #3373
Thanks for the information I will pass this issue on as reference. Thanks!

[2017-01-18 13:40] shiningdragon commented on #3437
OK will do. I've enabled the setting, we are not planing any releases today but I will update the next time we do a release. Thanks

[2017-01-18 15:13] jeffyoung commented on #3369
That's great to hear!  Yes, that is likely what we'll need to do.  I'll file a bug on our end for this (and close this issue).  Thanks @CookieCookson!

[2017-01-18 15:13] #3369 closed

[2017-01-18 16:01] tomap opened #3447 "Increase the size of inline powershell script"
Hi,

Could you increase the maxlength of the inline powershell script?
Current value is 500
Better value would be at least 2000

Code:
https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/powerShell/task.json#L83

Thank you

[2017-01-18 16:54] mclark1129 opened #3450 "Azure RM Service Endpoint: endpoint.url should resolve to https://management.azure.com"
This is a follow up to #3424 but is focused on what I believe is a specific bug causing my issue.

The Azure RM Service Endpoint type defines its URL as `https://management.core.windows.net` which is the Azure Classic API and not the Azure RM API at `https://management.azure.com`.  If you look at the datasources defined in the endpoint here:

`https://yourinstance.visualstudio.com/defaultcollectio

[2017-01-18 16:56] andradf opened #3451 "Powershell On Target Machines ##vso[task.logissue type=error] does not fail build step"
I'm using TFS Version 15.105.25910.0.
In one of my builds I have a Powershell on Target Machines task. Everything works except for when my script should fail the build step. I am executing a
`Write-Verbose ##vso[task.logissue type=error] Error Message`
in the target machine and it shows up under build issues, but the build step is marked as successful and the build as a whole is too.

[2017-01-18 16:56] mclark1129 commented on #3424
I've opened a new issue that focuses on what I believe to be an actual bug preventing me from defining a working data source binding.  The correct syntax for the binding I need to define is below:

    "dataSourceBindings": [
        {
            "target": "ResourceGroupName",
            "endpointId": "$(ConnectedServiceName)",
            "dataSourceName": "AzureResourceGroups"
        },

[2017-01-18 16:56] #3424 closed

[2017-01-18 16:59] JoeBrockhaus commented on #3288
We've moved away from slot swaps for a few reasons.

It's unclear if the dll locking is an issue with the platform, the specific dll, the deployment task, etc, and it is easy for the buck to keep getting passed around as a result. Especially since this never happened before, the natural question is what changed that suddenly now it's not possible? 

Doing some quick rabbit-hole tracking, I can see

[2017-01-18 17:10] #3451 closed

[2017-01-18 17:45] vincentdass commented on #3288
@JoeBrockhaus , thanks for your feedback.
We already added '`rename locked files`' feature in 3.0-preview version of the task.
![image](https://cloud.githubusercontent.com/assets/20121508/22075837/9803b2fe-ddd3-11e6-9e5b-e57be662d5c7.png)

This task is available in most of the regions and will be available to all the regions in a week or two.

[2017-01-18 18:20] heaths commented on #3359
@ericsciple you should be using the Microsoft.VisualStudio.Setup.Configuration.Interop NuGet package (embeddable types) instead of rolling your own. If you're using this in script form (i.e. what you're using above) you still need to declare the interfaces correctly. `ISetupConfiguration2` inherits from `ISetupConfiguration`, which means its VTBL contains all the methods of inherited interfaces as

[2017-01-18 19:10] ericsciple commented on #3359
@heaths Thanks! Yes I understand the ordering problem now (just affects troubleshooting script i pasted above, doesn't affect the logic used by the task).

I think updating to use the DLLs from NuGet is a good path forward. At this point we're late in the release cycle so I think after we branch for TFS 2017 Update 1. The current code used by the tasks pre-dates the NuGet package. At that time, it

[2017-01-18 19:31] ericsciple commented on #3434
The bug is understood now. The task leverages the a DLL delivered by the agent (fragile assumption) and should pull the DLL it needs when the task is built.

From offline discussion, it sounds like the needed version of the DLL can be obtained from this package https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/

And the tasks repo has infrastructure to pull the depende

[2017-01-18 19:38] geoffreysamper opened #3452 "Question about the AzureRmWebAppDeployment tasks in the release of vsts"
Hi everyone,
Not sure I'm at the right place

Today I was using the AzureRmWebAppDeployment  in build and release managment of vsts online and I have follow problem when running AzureRmWebAppDeployment tasks my node application is copied to my azure webpp verified using console of my webapp. The strange thing is my node_modules is missing. but there is a web config created the tells that we run no

[2017-01-18 19:46] heaths commented on #3359
The newer query API DLLs actually use `IsLaunchable` by default when calling `ISetupConfiguration::EnumInstances`, so that may not be necessary if you're just enumerating launchable instances (which can have errors, but are otherwise installed with no reboots pending).

[2017-01-18 20:33] dtmnash opened #3454 "Deployments Failing from VSO to AzureSql"
Our deployments from VSO hosted builds and release manager are failing as of this morning (1/18/17) at around 11 am.

We are using the AutoDetect feature since our releases run on hosted servers.

Error Message:
Unable to connect to master or target server 'XXXXX'. You must have a user with the same password in master or target server 'XXXXX'.

We are able to deploy using the same U/P as is config

[2017-01-18 22:17] MikkelHegn commented on #3419
In regards to the SF SDK requirement. All we need for build and publish is either part of the .sfproj (a NuGet package) or a set of PS utilities in the deploy task. We do rely on the SF Runtime to be installed.

[2017-01-18 22:29] ericsciple commented on #3419
@MikkelHegn since the Service Fabric tasks only run on Windows, adding a demand for CMD will ensure it gets routed to a Windows agent. [Example here](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/BatchScript/task.json#L23).

[2017-01-18 22:41] justinpatten commented on #3434
I'm having the same issue and it is blocking the deployment of new builds. Any ETA on a fix?

[2017-01-18 23:45] ericsciple commented on #3338
@knom if you're npm version is less than 3, then switching to npm3 will cut down on the size of the node_modules folder. other than that, no there is no way today to reference common files across tasks within the vsix

[2017-01-18 23:46] ericsciple commented on #3338
sent to sanyogita as fyi for future consideration

[2017-01-18 23:46] #3338 closed

[2017-01-19 00:29] NickDarvey commented on #3434
This is blocking deployment for us too. Updates please?

[2017-01-19 00:41] ericsciple commented on #3434
@MikkelHegn or @kmkumaran would know more details. i know the issue is being worked on.

[2017-01-19 03:27] vercellone opened #3455 "Persisting environment variables across agent phases"
Similar enough to #2111 that one could argue that issue be re-opened instead.  But, since that issue was closed before the introduction of server phases I hope this will be revisited.

[2017-01-19 03:29] vincentdass commented on #3454
@dtmnash, thanks for reporting the issue.
Can you verify that you have provided only the `username` in **Azure SQL Server Name** and not `username@servername` ?

You can see the actual commend running by enabling system.debug  = true before queuing the release.

[2017-01-19 03:40] ericsciple commented on #3455
Closing the issue here. Not an issue with the tasks in this repo.

This work has already started in the [agent repo](https://github.com/Microsoft/vsts-agent) and server side.

[2017-01-19 03:40] #3455 closed

[2017-01-19 03:42] ericsciple commented on #3397
User voice is probably a better place to request features

[2017-01-19 03:43] ericsciple commented on #3392
@AlexHimself ?

[2017-01-19 05:12] RoopeshNair commented on #3452
@geoffreysamper  - the task uses Kudu REST apis to deploy if you are using linux agents. On windows it falls back to msdeploy even if you have not enabed publish using web deploy option.

Can you try running it with system.debug variable set to true and share the logs at RM_Customer_Queries at Microsoft dot com

[2017-01-19 05:13] Ajay-MS commented on #3450
@mclark1129

You are right  in this context, endpoint.url should be https://management.azure.com for AzureRm endpoints. We will fix this issue soon.

[2017-01-19 05:26] brett3210 opened #3456 "WinRM - SQL Server DB Deployment : Unable to connect to master or target server"
When I try to deploy a DACPAC using the "WinRM - SQL Server DB Deployment" Task, I receive the following error message:
"System.Exception: *** Could not deploy package. Unable to connect to master or target server 'TestDB2'. You must have a user with the same password in master or target server 'TestDB2'."

I can successfully deploy IIS apps to the machine using the same details, just not the DACP

[2017-01-19 05:44] vincentdass commented on #3456
@brett3210 , thanks for reporting the issue.
Can you please ensure that the username and password is valid for the corresponding server ?
Can you queue a release with `system.debug = true` and share the logs ?

[2017-01-19 05:44] ChrisMelinn commented on #3070
Hi @sachinma , as mentioned in emails, we have identified that our issue was due to a problem with the service principal.  We created a new SPN which has resolved the problem.  Should we reopen this issue until the hotfix is ready as well?

[2017-01-19 06:44] sachinma commented on #3070
@ChrisMelinn I have opened the issue. As discussed, it was an SPN issue but there was no good way to trace the exact reason. I will use this issue to track adding the right tracing.

[2017-01-19 06:50] geoffreysamper commented on #3452
@RoopeshNair I send the logs to the request email adress. I enabled debug with version 0.3 (preview).
I don't know on with host machine it ran because I couldn't find where I can set this.

[2017-01-19 07:12] RoopeshNair commented on #3452
@geoffreysamper - we use Kudu REST API which just copies the content. When you use Git+Kudu from Ibiza portal, there are additional steps performed, viz. check out, restore npm modules and then deploy using Kudu SCM end point. VSTS just relies on the last part which is deploy using Kudu SCM end point.

You need to ensure that required node modules are present in your zip package as part of you bui

[2017-01-19 07:29] geoffreysamper commented on #3452
Ok thanks. So I need to make sure that my build happens on the same as where the my website is running?
Correct

[2017-01-19 07:35] geoffreysamper commented on #3452
Sorry I interpreted the tutorial wrong. so The tutorial is correct

[2017-01-19 07:42] #3278 closed

[2017-01-19 11:13] matthew-horrocks commented on #3170
This seems like quite an important feature and one that our team would love to see implemented.

In our case, we have an automated Selenium test suite in which tests will occasionally fail due to a problem at our cross-browser testing provider. Currently we need to re-run our entire test suite, just to re-run these "flaky" tests; not an ideal situation given how long our test suite takes to run.

[2017-01-19 11:17] vincentdass commented on #3441
@bryanmacfarlane , the issue is coming for vso-node-api.
Can you please look at this issue ?

[2017-01-19 11:19] vincentdass commented on #3452
@geoffreysamper , closing this thread as your issue is resolved.
If you face any issue, please open this thread or create a new one.

[2017-01-19 11:19] #3452 closed

[2017-01-19 15:52] vercellone commented on #3455
@ericsciple Glad to hear it is on the radar.  Can you provide a hyperlink to the relevant issue, PR, branch, blog, or backlog?

[2017-01-19 16:03] ericsciple commented on #3434
It looks like the issue only affects connections using AAD auth. Using a different auth type would workaround the issue.

Additionally, while the hotfix is being worked on, I published [a private here](https://github.com/Microsoft/vsts-tasks/releases/tag/servicefabricdeploy-m111-private) that you can use TFX to upload to your account. I don't have a proper Service Fabric env to test against (AAD c

[2017-01-19 16:12] ericsciple commented on #3455
The backlog is internal. There's commits in the agent repo with "output variables" in the commit message.

A dependency for completing the work is moving the agent to .Net Core 1.1. We're locking down for the TFS 2017 U1 release right now, so that work is on hold for a couple weeks.

[2017-01-19 17:16] StrangeWill commented on #3445
Did .NET Core move to removing the project.json yet? All my .NET Core projects still have those.

[2017-01-19 17:52] rohit21agrawal commented on #3226
am looking into this, will update this thread when i have more info.

[2017-01-19 18:03] rohit21agrawal commented on #3226
this seems to be working for me . Sample project attached
[ClassLibrary2.zip](https://github.com/Microsoft/vsts-tasks/files/717371/ClassLibrary2.zip)

Command line used :
```nuget pack ClassLibrary2.csproj```

NuGet version : 3.5.0.1938

If this is still an issue for you, please attach a minimal repro, and file a bug on https://github.com/nuget/home/issues for more visibility

[2017-01-19 20:02] brett3210 commented on #3456
Thanks, yes the same username and password Environment Variables are used to successfully deploy the IIS app.

Attached is the log file.
[VSTS RM DB Deploy Debug.txt](https://github.com/Microsoft/vsts-tasks/files/717643/VSTS.RM.DB.Deploy.Debug.txt)

[2017-01-19 20:08] justinpatten commented on #3434
@ericsciple I installed the hotfix on our account and was able to deploy. Thanks!

[2017-01-19 20:09] ericsciple commented on #3434
@justinpatten thanks for confirming the fix!

[2017-01-20 01:43] damienpontifex opened #3459 "Select artifacts download by glob pattern"
The release agent can be configured to "Skip artifacts download", but wondering whether a task could be created for artifact download that allowed a glob pattern to be specified?

As an example:
We have multiple Environments in the release pipeline, one of which only does an ARM deployment which only needs two json files. We still need to download all artifacts to be able to get just these two fil

[2017-01-20 06:01] Evit15 commented on #3440
Thanks for your answer!

I can use the PublishTestResults task to publish the test results to TFS 2017.

But I suggest we should edit help to user can understand.

[2017-01-20 08:00] vincentdass commented on #1441
@karthik25 , Can you please share the logs , if the issue still persists?

[2017-01-20 08:34] #3391 closed

[2017-01-20 08:51] yorgovs commented on #3434
@ericsciple When can we expect an official fix? This is directly influencing our production deployment atm.

[2017-01-20 09:33] alexbance commented on #3445
Turns out we were using a pre-release, we've reverted to the current version for now. Cheers

[2017-01-20 09:33] #3445 closed

[2017-01-20 11:39] jhumphries83 opened #3464 "Warnings in Azure File Copy Task"
When the Azure File Copy task runs as part of my build I receive this warning twice in the log:

`##[warning]GeoReplicationEnabled property will be deprecated in a future release of Azure PowerShell. The value will be merged into the AccountType property.`

This is adding extra noise to my otherwise clean build.

I am using the following settings in the Azure File Copy task:

- Connection type: Az

[2017-01-20 11:56] KrishnaAdityaB commented on #3165
We observed that some accounts have been redirected to wrong application tier instances because of which they may get 404 error while hitting https://<accountname>.vsdtl.visualstudio.com/_apis/vslabs/ipaddress.
We are working on figuring out the impacted customers and fixing the issue proactively.
If you face this issue meanwhile, please mail the debug logs and visual studio account name to RM_Cus

[2017-01-20 14:28] tomap commented on #3447
Well, in our scenario, we wanted to tag the build conditionally.
Not only when the build was a success or not but also when the build was on a specific branch name

So our alternative was to have two job definition, to share the tasks (with build group), but there are still plenty of options that would not be shared, like the repository tab & general tab options.

So to do that our script was simp

[2017-01-20 14:34] bryanmacfarlane commented on #3447
You missed one obvious option which is the mainline supported option.  You can check in the powershell script into your repo and use the powershell task to run it.

[2017-01-20 14:49] karthik25 commented on #1441
@vincentdass Sent! Sorry got caught up!!

[2017-01-20 14:55] tanvi-soni commented on #3440
Yes, we will look towards documenting it.

[2017-01-20 15:31] bryanmacfarlane commented on #3441
I'm looking into this.

@mmercan can you clarify something?  In your issue you talked about both powershell and node.  Then you said you fixed node by using envvar (good - btw, we have work for agent proxy settings to flow and just work in node tasks).   But then you mentioned the net framework reg key.  Was that need for node task (you said it work prior).  I wouldn't expect .net framework to eff

[2017-01-20 15:57] opcodewriter commented on #439
Any news on updating the hosted image?

What's the logical explanation for deleting `mscorlib` reference from .csproj file?

[2017-01-20 16:07] tomap commented on #3447
Hi, I did not missed that, but this felt like something that should be done by the CI/Build part, it is not the concern of the source code.
But I agree, I could commit a .ps1 in my repo

[2017-01-20 16:09] ericsciple commented on #3434
@yorgovs If you can post your account name here or send it to ersciple, I can see what we can do to expedite the roll-out to your scale unit (mail to me at microsoft.com). Same goes for anyone else, feel free to send me your account name.

[2017-01-20 16:10] ericsciple commented on #3434
...e.g. https://`account`.visualstudio.com

[2017-01-20 16:19] ericsciple commented on #3434
Some folks were asking so I updated the instructions on the [release page for the private](https://github.com/Microsoft/vsts-tasks/releases/tag/servicefabricdeploy-m111-private).

[2017-01-20 18:24] juramicrosoft opened #3471 "Publish-TestResults cmdlet not cleaning up after itself?"
It seems that trx attachment uploads by way of the Publish-TestResults cmdlet are not cleaning up temporary artifacts from the NetworkService temp folder, causing the drive to fill.

[2017-01-20 19:44] shtratos opened #3472 "Gradle build task failure message is not friendly"
When Gradle build fails, the message I see in build summary is not very helpful:

for example:
<img width="524" alt="screen shot 2017-01-20 at 19 37 50" src="https://cloud.githubusercontent.com/assets/1232175/22162800/0be7994a-df48-11e6-9a10-a7934e84fda3.png">

In order to find what the real error is I have to go into logs:
<img width="1061" alt="screen shot 2017-01-20 at 19 37 11" src="https://cl

[2017-01-20 20:00] vincentdass commented on #3454
@dtmnash , we fixed an related issue in SqlAzureDacpac task. Can you please queue a new release and check the task ?

[2017-01-20 22:08] ericsciple commented on #3434
The fix has rolled out to about half of the accounts now. ETA for all accounts is later this evening.

[2017-01-21 04:20] mmercan commented on #3441
Hi Bryan,
This problem is Just for Node, Powershell worked fine from the beginning and adding envvar solved the connection problem for Node too.

[2017-01-21 04:22] mmercan commented on #3441
Comment I added was the second problem I encountered after proxy worked, (I Know I should open a second Issue for this)

Azure App Service Deploy (2.1.10) Runs msdeploy.exe after Azure Authentication, this is the result of msdeploy.exe command
and It was returning
##[error]Error Code: ERROR_CERTIFICATE_VALIDATION_FAILED
I fixed this with
RegEdit
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NETFramework\

[2017-01-21 11:55] raffaeu commented on #2126
@StrangeWill that's the same problem I am facing. Working on it and trying to see if I can create some sort of recursive task to run all my test projects and output everything into one .xml file and then give it back to TFS online to get a full list of executed tests

[2017-01-21 19:31] LarsKemmann commented on #3434
@ericsciple Just FYI, this was still occurring on the 'bynalogic' tenant as of 15 minutes ago, but installing the hotfix has resolved the issue for me as well. Thanks so much!

[2017-01-21 21:33] #3283 closed

[2017-01-22 16:48] tomasherceg opened #3473 "VsTest task fails even when all tests passed"
We have a project where `VsTest` task consistently fails even when all tests passed.

In the log, I see this:

[code]

When I download and open the `.trx` file from the build agent and open in Visual Studio, it says that all tests passed (one is skipped, because it is marked using the `Ignore` attribute which is correct).

The version of VsTest task is `2.0.5` (C:\BuildAgent\tasks\VSTest\2.0.5)

W

[2017-01-22 20:46] sowsan opened #3474 "Execute Nuget.exe from powershell vsts build task"
Hello Team -
Trying to execute an .exe from powershell task. For that, I'm trying to set it as not read-only but its not working. Any work-around ?
Set-ItemProperty is not setting it as $false and I'm getting the value always false.
==========script===========
-exeUrl $(build.sourcesdirectory)\uHub.App\Stateless1\tools\Nuget.exe
$out = Get-ItemProperty $exeUrl -Name IsReadOnly
Write-Host $out.IsRe

[2017-01-23 06:08] vincentdass commented on #3437
@shiningdragon, just a gentle reminder. Is the issue resolved ?

[2017-01-23 07:54] Grishantiy opened #3477 "Error in step Test Agent Deployment"
After upgrade to TFS 2017 Version 15.105.25910.0 CodedUI test stopped working. The error occurs in step Deploy test agent. Agent Version 2.111.1, release test agent 14.0.25463.0. This user zav\autorazv is an administrator on wlab-40 computer.
[Log](https://drive.google.com/open?id=0BzaTZ7KD63YVRm5qYU5Vek4tQWs)

[2017-01-23 08:08] raffaeu commented on #2126
After few days of struggle I came up with probably the *most feasible* solution.
I have multiple projects and multiple test projects and I use xunit with Dot Net Core.

**Restore References**
*First I restore my references by iterating all available projects*
1. Step **.NET Core** and set the following:
1.1. Command: `Restore`
1.2. Projects: `**/project.json`

**Build everything**
*Then I build ev

[2017-01-23 09:58] melborp opened #3478 "Copy Files Task: Is there a way to enable .file to be copied"
Hi
It seems that by default .project and other files starting with . are not copied. glob and minimatch have a way to enable .dot files to be included.
The option "dot: true".

Is there a way to override and enable .dot files to copied for Copy Files task?
(referene: https://github.com/isaacs/minimatch (read: dot) )

[2017-01-23 10:49] xzlichao commented on #3082
Just as @ericsciple said, make sure the service account have permissions granted on the local directory.
You have to add **NETWORK SERVICE** account and have permissions granted to access the **Orchard**  folder. Right-click the **Orchard** folder --> **properties**-->tap to **Security**-->**Advanced**-->**Add**--> **select a principal** --> ...  find the service account (Network Service in this c

[2017-01-23 13:40] ericsciple commented on #3478
The dot:true option is used now in the 2.x version of the Copy Files task (rolled out recently)

[2017-01-23 13:40] #3478 closed

[2017-01-23 14:06] ericsciple commented on #3434
The fix has rolled out everywhere now. Thanks everyone!

[2017-01-23 14:06] #3434 closed

[2017-01-23 15:11] StrangeWill commented on #2126
@raffaeu definitely a nice solution to handle any number of test projects -- but won't get us code coverage without VSTest task support. I may be reaching for something that is no supported to begin with though, but I'd _really_ like code coverage reports if Microsoft supports that on .NET Core.

[2017-01-23 15:46] mvvsubbu commented on #3464
Thanks for bringing it to our notice we will address this.

[2017-01-23 15:48] melborp commented on #3478
Hi, is that coming with TFS 2017 RTM on-premis as well? or Update 1?
These tasks are platform tasks right, so they would be updated by TFS version / update.

[2017-01-23 15:50] raffaeu commented on #2126
@StrangeWill I will make more investigations using **Microsoft.CodeCoverage** which is available here:
[Nuget](https://www.nuget.org/packages/Microsoft.CodeCoverage/)
I just need some time to experiment it and I should come up with a solution here.

[2017-01-23 15:54] ericsciple commented on #3478
2017 update 1

[2017-01-23 15:55] ericsciple commented on #3478
a workaround is to specific `.*` as a pattern

[2017-01-23 18:20] madhurig commented on #3021
The changes to XamariniOS task are deployed to VSTS. There is an option available to not run nuget restore as part of the task now.
![nuget](https://cloud.githubusercontent.com/assets/3269636/22216814/8cd2f950-e16e-11e6-80fa-99e57204de6c.png)

Please open a new issue if you see issues with the NuGet task.

Thanks,
Madhuri

[2017-01-23 18:20] #3021 closed

[2017-01-23 19:14] madhurig commented on #3472
@shtratos: We will track this as an enahancement. Gradle writes "what went wrong" to STDOUT, so to show better information on the summary section will require parsing the STDOUT.

[2017-01-23 19:17] madhurig commented on #3230
@baylisscg: VSTS deployment completed on 1/19. Please try and let us know if you have the fix now.

Thanks,
Madhuri

[2017-01-23 19:25] madhurig commented on #2986
@gedeh: We normally see the "Not accepted license agreement" error when the required Android SDK or build tools or SDK components are not already installed on the hosted build VMs. Updating the SDK has helped resolve the issue for other customers. Which version of Android SDK are you using? Do you still need the workaround?

Thanks,
Madhuri

[2017-01-24 06:00] baylisscg commented on #3230
@madhurig yes! It's working happily now thanks.

[2017-01-24 06:10] gopinathch commented on #3459
Sorry Damien, currently we do not have support for partial artifacts download, we have it in backlog and we will be picking up support for this.

[2017-01-24 07:27] yuvallb opened #3485 "CopyFilesOverSSH very slow"
copying files from build machine to deployment server using pscp works fine.
copying files using VSTS CopyFilesOverSSH is VERY slow (12 minutes for a single 30MB file).

[2017-01-24 07:38] bobylevm commented on #2745
@allendm-msft $(Common.TestResultsDirectory) is published as output/common variable at visualstudio.com: https://www.visualstudio.com/en-us/docs/build/define/variables

[2017-01-24 08:19] majkelllo commented on #2558
How to reopen the issue ? I started having this error yesterday. ( I've seen there was some maintanance done, as i've seen my clusters were in "updating infrastructure" status. I'm definitely using the right endpoint with 19000. Any ideas ?

[2017-01-24 08:24] shiningdragon commented on #3437
I ran new builds today, it picked up version 2.1.10 of the task and no errors so far so looks good.

Thanks

[2017-01-24 08:33] mvvsubbu commented on #3437
We noticed few customers are hitting it. We are working on the solution we will update as soon as the fix is deployed.

[2017-01-24 09:42] shiningdragon commented on #3437
its come back again ;( heres the full debug trace...

2017-01-24T09:41:04.5985021Z ##[debug]rc:0

2017-01-24T09:41:04.5985021Z ##[debug]rc:0

2017-01-24T09:41:04.5985021Z ##[debug]success:true

2017-01-24T09:41:04.5985021Z ##[debug]success:true

2017-01-24T09:41:04.6297256Z ##[debug]task result: Failed

2017-01-24T09:41:04.6455318Z ##[error]Error: Error: Unclosed root tag

2017-01-24T09:41:04.6455

[2017-01-24 11:44] madhurig commented on #3230
@baylisscg: Thank you.

[2017-01-24 11:44] #3230 closed

[2017-01-24 16:21] EricJizbaMSFT commented on #2558
@mthalman-msft

[2017-01-24 16:40] MikkelHegn commented on #2558
One thing to note is that we changed the required input to be prefixed with tcp:// so tcp://mycluster.FQDN:19000 would be the right input.
@majkelllo You posted an issue on SF issue with authentication issues. Is this the same issue? https://github.com/Azure/service-fabric-issues/issues/146

[2017-01-24 18:06] paonekumar commented on #3454
@vincentdass @mvvsubbu we are still getting the issue, it is failing with the below error.

*** Could not deploy package.
Unable to connect to master or target server 'XXXX'. You must have a user with the same password in master or target server 'XXXX'.
Azure SQL Dacpac task failed.

Removing @servername form user id fixed  in one environment, this fix is not working in all environments.

[2017-01-24 18:38] MikkelHegn commented on #2984
@ericsciple Do you know the timeline for PR reviews?

[2017-01-24 18:40] MikkelHegn commented on #2984
I'm sure he refers to this: https://github.com/Microsoft/vsts-tasks/pull/3382 :-)

[2017-01-24 19:33] ericsciple commented on #2984
For this task, I would think the decision would come down to a decision between you and Muthu (or the PM on Muthu's team - Gopi might be the right contact?)

[2017-01-24 22:02] madhurig commented on #3485
@yuvallb: Please attach the debug log. Do you see the slowness in establishing the connection or the transfer of the file itself. Are you using your own Windows build agent?

Thanks,
Madhuri

[2017-01-24 23:01] yuvallb commented on #3485
The slowness is in the file transfer itself, not in establishing the initial connection.
This is running on a build agent.
Attached the debug log:
[code]

[2017-01-25 02:23] arunkumar90 opened #3490 "Test Agents deployment stucks on deploying test agents"
I am having issue on the test agents deployments step.
I am trying to set them up as interactive. I can see my VM gets rebooted multiple times when trying to deploy test agent.
I think it is because my VM domain policy doesn't allow auto logon. (It works when I uncheck interactive box)
I have already got the test agents on the VM, I am not sure why it is trying to install and reboot the VM everyti

[2017-01-25 05:21] mvvsubbu commented on #3454
Can you share your username and server name formats for failing environments?

[2017-01-25 06:14] Grishantiy commented on #3477
The error was in the Russian project name.

[2017-01-25 06:14] #3477 closed

[2017-01-25 08:18] majkelllo commented on #2558
Yes that was the same issue. Prefixing with tcp:// solved the problem. Thanks.

[2017-01-25 09:35] mohit1606 opened #3492 "Real time status/logs of test execution not available on VSTS console"
Hello,

As we are running our test cases, the result is shown only after the test execution.
I have the following query-
- Real time status of test execution is not available on VSTS. Only after the test execution is completed, the status is shown on the portal.
Even the test console output log is not available in the VSTS console. It is only available in the VSTS agent for which every time we hav

[2017-01-25 10:52] mvvsubbu commented on #3165
Feel free to reopen if anyone facing this issue.

[2017-01-25 10:52] #3165 closed

[2017-01-25 11:16] mvvsubbu commented on #3456
Is the .\ZZZ also has permissions to Sql Server running on target machine? If no you might want to use "SQL Authentication" instead of default Windows Authentication.

[2017-01-25 12:05] mvvsubbu commented on #3437
We got the root cause of the issue, we working on fix we will update once it is rolled out.

[2017-01-25 12:17] mvvsubbu commented on #3429
The reasoning behind picking MsDeploy on windows is

"When Publish Using Web Deploy is false user is not really specific about deployment tool to use. In these scenario we have possibility few users giving default MsDeploy generated package which may not be in right format. So to do best case effort we choose to use MsDeploy on Windows and hence for them as well it might pass."

There is an issue

[2017-01-25 12:17] #3429 closed

[2017-01-25 12:21] mvvsubbu commented on #3293
Closing it as there is another issue tracking the same https://github.com/Microsoft/vsts-tasks/issues/3312

[2017-01-25 12:21] #3293 closed

[2017-01-25 12:22] mvvsubbu commented on #3288
Closing this as there is another issue tracking the same, we will communicate on that issue once it is resolved by Azure Team https://github.com/Microsoft/vsts-tasks/issues/3312

[2017-01-25 12:22] #3288 closed

[2017-01-25 12:29] mvvsubbu commented on #1607
There is another tracking issue, so I am closing this will update on that issue is resolved. You can find status here https://github.com/Microsoft/vsts-tasks/issues/3312

[2017-01-25 12:29] #1607 closed

[2017-01-25 12:33] rohit-batra commented on #3052
This functionality has been added
![image](https://cloud.githubusercontent.com/assets/21075522/22290702/793baa52-e328-11e6-90a3-f27c518a7990.png)

[2017-01-25 12:33] #3052 closed

[2017-01-25 13:57] arunkumar90 commented on #3490
I have an update regarding the above issue. When it is restarting the VM and fail to logon back to server for running test due to the domain group policy. But when I manually logon to the server with the same service account, it start running the tests on the server automatically. Is that possible to automate the process somehow?

[2017-01-25 17:43] nibras85 commented on #3459
Release time could be cut by half if I was able to specify downloading of artifacts per environment.

[2017-01-25 17:44] MikkelHegn commented on #2558
@kmkumaran I think you can close this again (I do not have access to do that)

[2017-01-25 18:27] #2558 closed

[2017-01-25 18:33] stoneass commented on #1870
Has this ever been resolved? I'm seeing this with the 3.4.0 version of Azure, as well.

[2017-01-25 18:42] cwoolumtechnossus commented on #2480
Sorry for the delay, I am just getting back to this. I submitted a PR with a single file change and am still getting the same issue

[code]

[2017-01-25 19:05] karlrissland opened #3494 "Need to add -SkipCNCheck option for remote powershell tasks"
If you are standing up lab machines, they may or may not be a part of a domain.  If they are not part of a domain, you need to provision an HTTPS WinRM endpoint for remote powershell to work.  To do that, you need to create a self signed cert.

In my case, I provisioned a self signed cert as *.EastUs2.cloudapp.azure.com which worked fine when I was connecting to <machine>.EastUS2.cloudapp.azure.co

[2017-01-25 19:33] mikeycooper opened #3495 "AzureRmWebAppDeploy: Xml Variable Substitution does not work with connectionStrings"
We are using the 3.x preview AzureRmWebAppDeploy task. All app settings are replaced as expected. However, connection strings are not substituted. Looking at **webdeployment-common/xmlvariablesubstitutionutility.ts**, it looks like it's only looking for attributes named **key** and **value**, whereas the connectionStrings section uses **name** and **connectionString**.

[2017-01-25 21:59] mikanyg commented on #3419
@ericsciple that would do the trick, but it seems like a workaround since the task really depends on Powershell and the SF runtime (and its cmdlets). But as far as I can tell only private agents report PowerShell as a capability, I cannot see this capability in the Hosted agent in my VSTS account.

[2017-01-25 22:26] ericsciple commented on #3419
The big problem today is that capabilities are not extensible. The next step to addressing that is a tool installers feature (pulling tools on the fly).

Regarding the missing powershell capability on the hosted agent, I'll check with someone offline about that.

[2017-01-25 22:27] BWBuchanan7 commented on #2751
@dawilliams could you clarify how you solved this exactly? I seem to be in the same situation but am not able to see why this .dll can't be found.

[2017-01-25 22:32] brett3210 commented on #3456
Yes, the account does have the permissions.  I can perform the steps manually on the target machine under that account

[2017-01-25 22:34] #3359 closed

[2017-01-25 23:14] heaths commented on #3359
BTW, I published our official cmdlets that expose the query API this weekend. See https://github.com/Microsoft/vssetup.powershell. Basically, with PowerShellGet installed (default in WMF 5.0), run: `install-module vssetup -scope currentuser`

[2017-01-25 23:15] DanielBMann9000 opened #3496 "AzureFileCopy task fails due to MaxEnvelopeSizekb WinRM setting being too low"
The AzureFileCopy task does not attempt to set the MaxEnvelopeSizeKb WinRM setting during prerequisite configuration. Every other task that configures WinRM prerequisites does this. Error message:

It's also worth noting that this task is the only one that pulls its WinRM configuration directly from external GitHub content.
Ex:
[code]

That seems dangerous, as there is no guarantee that these file

[2017-01-26 00:30] mvvsubbu commented on #3456
The following command gets executed on the target server in admin mode. Can you try this command in admin command prompt on remote machine.

"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\130\SqlPackage.exe"  /SourceFile:"C:\temp\VS\Release\1.1.1.41.2\TestSQLServerDBProj1.1.1.41.dacpac" /Action:Publish /TargeServerName:"XXX.cloudapp.azure.com"  /Tar

[2017-01-26 01:55] bryanmacfarlane commented on #3441
Yes, create another issue for that other issue.  closing this as the node proxy issue was addressed.  Thanks!

[2017-01-26 01:55] #3441 closed

[2017-01-26 01:57] bryanmacfarlane commented on #3474
Doesn't seem to be an issue with the tasks in this repo.  Seems to be a general powershell exec process problem.

[2017-01-26 01:57] #3474 closed

[2017-01-26 02:01] bryanmacfarlane commented on #3392
closing.  no response

[2017-01-26 02:01] #3392 closed

[2017-01-26 03:35] brett3210 commented on #3456
Thanks.  It failed (same error as above) with the cloudapp server name, but "successfully published database" with "localhost"

[2017-01-26 09:35] kmkumaran commented on #3494
You can generate a test certificate that matches the host name. Refer these blogs for help:
https://blogs.msdn.microsoft.com/muthus_blog/2015/11/04/pre-requisites-for-using-azure-vms-in-winrm-based-tasks-in-build-and-release-management-workflows/
https://blogs.msdn.microsoft.com/muthus_blog/2016/03/24/simplifying-winrm-pre-requisites-in-azure-vms-as-part-of-release-and-build-workflows/

[2017-01-26 10:08] kmkumaran commented on #1870
The original issue reported in this thread has been addressed. Can you set system.debug variable to true, reproduce the issue and share logs with us. You can send logs to RM_Customer_Queries@microsoft.com.

[2017-01-26 11:23] ErikvanMaanen commented on #3437
@arjgupta @mvvsubbu : Any update on this issue?

Currently we need to redeploy 4 times or more to get all (12) webapps running.
Same issue. Unclosed root tag/FileDescriptor.
Seems random what get's deployed succesfull and what not.

[2017-01-26 12:23] oschistad opened #3498 "AzureRmWebAppDeployment: Frequently fails due to file locking issues on target"
Even with the App_Offline flag set, the Azure App Service Deploy task often fails because of a locked file.

While workarounds do exist (use an inactive slot and swap, or use powershell to stop-release-start website), ideally this is something that the deploy task itself ought to handle.

This issue requires some mechanism by which all read locks against the wwwroot are cleared before unpacking th

[2017-01-26 14:19] jesfer opened #3499 "AzureFileCopy fails when copying to premium storage VM"
When trying to copy files to an Azure VM that uses premium storage the AzureFileCopy task apparently creates a temporary page blob storage and unless you are VERY lucky with your file sizes you get this error:

File size 1.31KB is invalid for PageBlob, must be a multiple of 512 bytes

Apparently the 512 bytes thing is inherent to page blobs but it renders the AzureFileCopy task useless for deploym

[2017-01-26 14:25] StrangeWill commented on #3312
Same issue, resolved as part of VSTS by using stop/start Azure tasks. Not the ideal situation and would like to see if we can't resolve this back to working how it worked previously.

[2017-01-26 14:32] mvvsubbu commented on #3456
Thanks for confirming I am closing the issue. Issue is your SQL Server instance name is not matching and hence the failure.

[2017-01-26 14:32] #3456 closed

[2017-01-26 15:16] leyshon opened #3500 "Code coverage not visible after publish code coverage"
I've generated an OpenCover code coverage file and then processed this with ReportViewer to generate html files. I've also converted the xml summary with OpenCoverToCoberturaConverter. Having then published the resulting files with the Publish Code Coverage Results task I'm unable to view the resulting report in VSTS. This is very similar to the issue in https://github.com/Microsoft/vsts-tasks/iss

[2017-01-26 16:18] montanehamilton commented on #3226
@rohit21agrawal I'm running into it again but about to leave town and will have to slim down the project next week for you. Just to confirm, if targeting a csproj to package and there is a nuspec in the directory with tokens they should be replaced no problem?

On the other hand targeting a nuspec directly with tokens will fail, by design, to replace tokens right?

[2017-01-26 16:22] rohit21agrawal commented on #3226
@montanehamilton a couple things to note here:

1) Make sure that you dont change the name of your nuget executable as this may cause errors related to metadata extraction . (Known issue : https://github.com/NuGet/Home/issues/3146 )

2) Token substitution only works if nuget can extract assembly metadata - this is only possible if you pack using a csproj file and there is a corresponding nuspec fi

[2017-01-26 16:39] DanielBMann9000 commented on #2405
This should be reopened and fixed. Many corporate environments have strict username requirements, which frequently include periods as separators between words or names (ex: daniel.mann). We shouldn't have to request exceptions and have accounts renamed in order to use this task.

**All valid Windows user names should work with all tasks that require a user name.**

[2017-01-26 22:19] mikanyg commented on #3285
Just tested the latest repo version (1.3.3) of the ServiceFabricDeploy task. It fails as expected on upgrade rollbacks, so I guess it has been fixed.

[2017-01-26 23:10] alexszilagyi commented on #3156
@madhurig : thanks for [pointing out](https://github.com/Microsoft/vsts-tasks/issues/3156#issuecomment-263617634), the issue was that the project was not shared. I had to use the shared_scheme (ruby script available for cordova).

[2017-01-26 23:10] #3156 closed

[2017-01-27 04:15] mvvsubbu commented on #3495
Can you share your sample web.config snippet and debug logs by setting system.debug to true

[2017-01-27 07:54] gedeh commented on #2986
Hi @madhurig, thanks for your reply. Yes when this issue is raised the SDK components are not yet updated in hosted build VM as mentioned in my issue above. I am always try to use latest SDK and tools on my project. The main idea of the issue was if customer needs newer SDK than what installed in hosted build machine, the build should able to update to requested version seamlessly without have to

[2017-01-27 08:13] mvvsubbu commented on #3498
Sorry for issue you are facing.  This is an issue Azure App Service we have open issue (https://github.com/Microsoft/vsts-tasks/issues/3312) for the same. We will update on that issue once it is fixed.

For now to unblock your self there is task App Service Management (Preview) which can stop website and start. You can add this task before deployment for stopping and after deployment for starting.

[2017-01-27 10:27] mikeycooper commented on #3495
Snippets of log where it's reading out the connection string from our variable called RavenReadModels and then do the substitution on connectionStrings:

`2017-01-27T10:05:06.8141117Z ##[debug]XmlVariableSubstitution=true
2017-01-27T10:05:12.3187894Z ##[debug]RavenReadModels=********
2017-01-27T10:05:12.3811443Z ##[debug]Initiated variable substitution in config file : C:/agent/_work/r10/a/temp_we

[2017-01-27 10:28] Thaoden commented on #2126
@raffaeu Which version of TFS are you running this on?

[2017-01-27 10:39] raffaeu commented on #2126
@Thaoden I do use VSTS (Visual Studio Team Service) which is the online version of TFS.
I think is the version 2017 right now but I really have no idea because VSTS keeps updating itself almost every week.

[2017-01-27 11:40] mvvsubbu commented on #3495
RavenReadModels  will be substituted with the value of "name" release variable. Isn't it happening like that?

[2017-01-27 12:22] mikeycooper commented on #3495
The connection string node with a **name** of **RavenReadModels** should have its **value** attribute substituted with the value of the **RavenReadModels** environment variable. This is not happening. Even the scenario that you're describing would not happen, because **xmlvariablesubstitutionutility.ts** only looks for **key** and **value** pairs. When processing the connectionStrings section, it

[2017-01-27 14:04] madhurig commented on #2986
@gedeh: The issue with automatically updating the requested version is the license agreement. We need a way for the user to agree to installing new components on the VM during their build. The amount of time it takes to download the component would also be a concern on hosted build. It will be a good enhancement.

[2017-01-27 15:40] gedeh commented on #2986
@madhurig yes I agree if it should be classified as enhancement as not everyone might happy with auto downloading latest SDK components which consumes their hosted build agent build time resource. Also, there might be a concern about each of introduced license agreements.

I am happy if you decided to close this issue or leave it as is as enhancement request.

Thanks! :1st_place_medal:

[2017-01-27 17:19] Rurouni opened #3506 ""Invalid filename specified" when publishing .trx"
Hi,
I am struggling to enable test results to be reported after build when using new msbuild dotnet test command
The only way how I managed to produce results was to call it with
`dotnet test --logger:trx`
and then have Publish Test Results `**/TestResults/*.trx`  to upload it.
But even in that case it shows only total number of passed/failed and error:
`Failed to publish test results: Invalid fil

[2017-01-27 20:12] alexmarshall132 commented on #3198
This is all well and good if you have a simple string field that you want to pass along, but what about if you want to pass things like connection strings and keys to later steps for populating items that are released on-premise where there's no app service override of System.Configuration.ConfigurationManager to manager your appSettings and connectionStrings in a secure way ?

[2017-01-27 21:49] madhurig commented on #3355
The [Xamarin bug resulting in this error](https://bugzilla.xamarin.com/show_bug.cgi?id=44187) is fixed for Cycle 9 release but is not in the stable channel yet. Replacing ProGuard version in the Android SDK location is a workaround suggested by Xamarin team but we don't want to do that on the hosted build VMs since they are shared machines and we don't know if there will be side-effects of the wor

[2017-01-29 11:27] seanrockster opened #3507 "AzureRMWebAppDeployment XML Transformations"
Glad to see this in v3 however it doesn't work as one would expect. Or maybe not working how i'm used to given we use octopus deploy currently.

VS will include the environment *.config files as _DependentUpon_ the web.config in the project and that is fine. However despite the additional *.config files having their Build Action property set to Content, aside from Web.Release.config, none of the o

[2017-01-29 15:03] bryanmacfarlane commented on #3507
It's unclear which task in this repo you're creating this issue for.

Which one of these are you having an issue with: https://github.com/Microsoft/vsts-tasks/tree/master/Tasks

[2017-01-29 15:12] seanrockster commented on #3507
This one
https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/AzureRmWebAppDeployment

And under releaseNotes here https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/AzureRmWebAppDeployment/task.loc.json

It states whats new in 3.0, e.g. Supports File Transformations (XDT) etc

To be fair, it does work, provided those *.config files are present. But as i said above, msbuild appears to

[2017-01-29 15:15] bryanmacfarlane commented on #3507
routing to release team for their call on it.

[2017-01-30 03:05] kmkumaran commented on #3494
@karlrissland - Are you unblocked?

[2017-01-30 06:22] mvvsubbu commented on #3498
As there is another issue tracking file locking case I am closing this issue.  If the work around doesn't work please feel free to reopen this issue.  Anything related to file locking issue please post it on https://github.com/Microsoft/vsts-tasks/issues/3312

[2017-01-30 06:22] #3498 closed

[2017-01-30 07:10] mvvsubbu commented on #3495
XML variable substitution supports the following two formats, please let us if it doesn't as described below.

Format 1:

If release variable has ValueOfWebsiteName = Contoso defined the following transformation happens.

	<tag key=”WebsiteName” value=”ValueOfWebsiteName” /> --> <tag key=”WebsiteName” value=”Contoso” />

Format 2:

If release variable has connectionStrinng = localhost\SQLSERVER, w

[2017-01-30 07:14] mvvsubbu commented on #3464
We are not using any option as reported by command let. We have an open issue with Azure team (https://github.com/Azure/azure-powershell/issues/3116) for the same. If there is anything we need to address in the task we will do that based on their reply.

Mean while if you wanted have release without warnings can you try using Azure Resource Manager based endpoint and do the copy using same?

[2017-01-30 09:56] sachinma commented on #3070
Hi @ChrisMelinn we are deploying the updated task; and your account should get the updated task by the end of this week. Then you should be able to run this task again with the old service endpoint and see if you get additional logs (with system.debug=true) to root cause the issue with the service endpoint.

[2017-01-30 09:56] #3070 closed

[2017-01-30 10:20] pedroasconde opened #3510 "Xamarin iOS Build fails loading nuget packages"
We had an existing build definition working before we've changed the nuget restore arguments to get nuget packages also from other sources than nuget.org.
We've added this on the arguments: -sources "<source1>;<source2";...".

The build succeeds to get some of the packages, but fails on getting others.

Here is the error:
`
##[error]XamariniOS task failed with error Error: /Library/Frameworks/Mono

[2017-01-30 10:50] mikeycooper commented on #3495
I tested with a variable named **connectionString** and that did replace it. I'm not sure how I'm supposed to replace different connection strings though...

[code]

There seems to be no way to set it so that **RavenReadModels** has a connection string of **Url = http://prod;Database=Prod** and **LoggingDb** has a connection string of **http://log;Database=ProdLog**. The current mechanism only sup

[2017-01-30 11:21] RoopeshNair commented on #3425
We have added this to our backlog. However it will be 2-3 sprints before we can get to it.
As we are tracking this on our backlog, closing the issue
Thanks,
Roopesh Nair

[2017-01-30 11:21] #3425 closed

[2017-01-30 11:31] RoopeshNair commented on #3459
We have this on our backlog. However it will be 2-3 months before we can get to it based on current priorities.  Closing it for now.

Thanks

[2017-01-30 11:31] #3459 closed

[2017-01-30 11:37] RoopeshNair commented on #3397
@mkosieradzki can you please vote on User Voice to get right prioritization.
I have added this to backlog, we will re-evaluate based on user asks.
Closing it now.

[2017-01-30 11:37] #3397 closed

[2017-01-30 11:42] RoopeshNair commented on #3322
We should support this. Can you please ensure that it works

[2017-01-30 11:48] pedroasconde commented on #3510
I was able to detect that the issue is comming from the existance of a nuget.config file that specifies all the nuget sources.

Is this a known issue on the VSTS build task for Xamarin.iOS ?

[2017-01-30 11:56] dersteve commented on #834
For everyone that ran into the same issue, here is the uservoice item you can wish for: https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/15577407-vstest-console-exe-should-be-able-to-handle-multip

[2017-01-30 11:57] RoopeshNair commented on #3112
Added it to our backlog. However, it will be 2-3 months before we can get to it based on current priorities.

Closing this for now.

Thanks,

[2017-01-30 11:57] #3112 closed

[2017-01-30 12:21] kirkone commented on #3425
Hi,

@RoopeshNair Would it be helpful to submit a pull request for this?
I am working on something similar and it would be me an honor to be able to contribute something.
Greetings,
KirK

[2017-01-30 12:22] RoopeshNair commented on #2987
@ogoodwin we have added to our backlog to support connection string as an option to connect to DB. However it will take a while before we can get to it. (2-3months).

Thanks

[2017-01-30 12:22] #2987 closed

[2017-01-30 12:41] mvvsubbu commented on #3437
Currently fix is deployed to few accounts, we will deploy to remaining SUs tomorrow.

[2017-01-30 13:11] mvvsubbu commented on #3495
Can you try using format 1 for now.

[2017-01-30 13:22] mvvsubbu commented on #1441
Can you help me with the following data.

1.	What is the region of your azure sql server?
2.	What is your tfs account url?
3.	What is the size of your dacpac file?

Things to try:

1.	Download automation agent from your account settings page to your one of your local machine.
2.	Follow the steps mentioned in the download page to configure the agent to your VSTS account.
3.	This machine should have

[2017-01-30 15:11] dtmnash commented on #3454
we are using just the username and password, not {username}@{servername}

[2017-01-30 15:12] dtmnash commented on #3454
The publishs work fine when using the same user/name password when going straight from visual studio sql database project

[2017-01-30 15:14] mvvsubbu commented on #3454
servername is something like xyz.database.windows.net? or xyz only? what is your account name?

[2017-01-30 15:15] mvvsubbu commented on #3454
Does your user name contains @ symbol? Can you share task debug logs by setting system.debug = true

[2017-01-30 15:18] mvvsubbu commented on #3454
Share your account name as well

[2017-01-30 15:20] agc93 opened #3511 "Setting a timeline record's state to `skipped` in a logging command results in no icon"
Using the [commands documentation](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md), the following is a valid timeline record command:

[code]

However, using this command in a PowerShell Script step results in the record appearing in the timeline with a 0:00 duration and a white square for an icon, as in the below screenshot:

![pasted_image_at_2017_01_31_01_11_am](

[2017-01-30 15:23] dtmnash commented on #3454
VSTS Account is kiewitcorp.visualstudio.com
[ReleaseLogs_329.zip](https://github.com/Microsoft/vsts-tasks/files/739337/ReleaseLogs_329.zip)

[2017-01-30 15:36] johnkattenhorn opened #3512 "Understand Service Fabric Upgrade Logic"
I'm trying to understand the difference in behaviour from VS publish with upgrade and VSTS Release task.

If I have a Application Type of Smartbox.Customers with version `1.0.0` and I perform a monitored upgrade to Smartbox.Customers with version `0.1.0-unstable0007` within VS it works fine.

If I try to perform the same operation using VSTS Deploy Service Fabric task in Release Manager I get the

[2017-01-30 15:48] agc93 opened #3513 "Timeline record's `progress` value does not affect build progress."
Setting the `progress` value of any logging commands including both `task.setprogress` and `task.logdetail` doesn't have any impact on any counters of build progress. The left sidebar percentage shows a fixed percentage for the duration of a PowerShell Script test, even if the script itself outputs a logging command specifying a value for progress. The progress is also not shown in any timeline vi

[2017-01-30 15:49] mvvsubbu commented on #3454
Your issue is not related to username/password issue. It is something related to firewall. Can you try suggestion given in thread https://social.msdn.microsoft.com/Forums/expression/en-US/0c70ce16-1dea-46a2-9ae0-8fe1d6237c49/azure-arm-sql-database-import-user-with-the-same-password-in-master-or-target-server-issue?forum=visualstudiogeneral

In the Portal (portal.azure.com) Firewall Settings of the

[2017-01-30 16:01] mvvsubbu commented on #3454
The following is the command that runs on the automation agent. You can run by updating your password, to see whether servername/username/password which is going wrong.

"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\130\SqlPackage.exe" /SourceFile:"D:\a\r1\a\Master.Deploy\Database\OPSM.Punchlist.Database.dacpac" /Action:Publish /TargetServerName:"a

[2017-01-30 17:14] MikkelHegn commented on #3346
Hi @NickDarvey: Taka a look at this PR by @mikanyg: https://github.com/Microsoft/vsts-tasks/pull/3382 He added ability to control the overwrite behavior. Will that do the trick?

[2017-01-30 17:31] MikkelHegn commented on #3285
@mikanyg Thanks - apparently this was added in a November check in - 1.2.0: https://github.com/Microsoft/vsts-tasks/pull/3137 - I think this is the one that got rolled out the beginning of this year.

Sorry for not catching that in the original repsonse :-)

[2017-01-30 17:34] MikkelHegn commented on #2984
@mikanyg: As you can see we are learning the process of getting your PR approved as we go along - thanks for pushing us down this path - you changes will merge very soon...

[2017-01-30 17:37] MikkelHegn commented on #3512
@johnkattenhorn Hi John - the above is due to the current logic in our deployment task.

The deployment task can either be configured to do upgrade or new (replace/overwrite). It cannot conditionally upgrade or create. You need to configure the deployment task to do upgrades (check the upgrade checkbox).

We have a backlog item to fix this, but it's currently not a high priority.

[2017-01-30 17:41] johnkattenhorn commented on #3512
Thanks @MikkelHegn, for some reason if I use a publish profile with upgrade settings it was still failing but if I use the upgrade settings it worked so I'll close this.

[2017-01-30 17:41] #3512 closed

[2017-01-30 17:42] MikkelHegn commented on #3271
Hi @guidoffm - sorry for not getting back to you before hand.

Did you succeed getting this set-up? I haven't had a time to look at it, but simple running with "No auth' and having the agent service account configured with access to the cluster would be my initial suggestion.

Please let me know your state of this?

Thanks

[2017-01-30 18:33] mikanyg commented on #2984
Sure no problem. Been pushing you all since May 2016 when I firstsuggested the SF deploy task over on user voice. Great to see it getting better and better.

[2017-01-30 20:56] yacaovsnc commented on #3510
@pedroasconde are you trying to do nuget restore from Xamarin.iOS task?  Do you see the same issue with NugetInstall task?  I am wondering if you are experiencing #3021?

[2017-01-31 01:50] bryanmacfarlane commented on #3511
you should open this issue in the vsts-agent repo.  This is the same command the agent uses.

https://github.com/Microsoft/vsts-agent

[2017-01-31 01:50] #3511 closed

[2017-01-31 01:51] bryanmacfarlane commented on #3513
You should log this in the agent repo.  These are the same commands the agent itself uses

https://github.com/Microsoft/vsts-agent

[2017-01-31 01:51] #3513 closed

[2017-01-31 03:11] ericsciple commented on #3511
i believe the white square is the icon

[2017-01-31 03:58] brett3210 opened #3514 "Azure SQL DB Deployment: Missing Firewall Auto-Detect Option"
The "Azure SQL DB Deployment" Task is missing the auto-detect option (mentioned in the documentation) for the combo field "Specify Firewall Rules Using", for hosted automation agents

[2017-01-31 04:13] brett3210 opened #3515 "Azure App Service Deploy: Wildcards in "SetParameters File" Field Causes Error"
The "Azure App Service Deploy" task supports wildcards for the "Package or Folder" field but not the "SetParameters File" field.  The error returned is:
"2017-01-31T03:00:33.4775945Z ##[error]Error: Set parameters file not found: D:\a\r1\a\Test Product A FL2\**\*.SetParameters.xml"

[2017-01-31 06:02] #3087 closed

[2017-01-31 06:09] kaadhina commented on #3060
@gregpakes Did the above work?

[2017-01-31 11:15] mvvsubbu commented on #3312
The actual issue of app service issue is fixed by Azure core team. here is the reference of the issue https://github.com/aspnet/Home/issues/694#issuecomment-269997757 for any further issues, please post there.

As the original issue is fixed by App Service team I am closing this issue.

[2017-01-31 12:03] mvvsubbu commented on #3494
We are not SkipCN intentionally, You need to have CN matching. I am closing this issue as it is as designed.

[2017-01-31 12:03] #3494 closed

[2017-01-31 12:40] guidoffm commented on #3271
OK I will try this.

I found another issue here:

The doc in https://www.visualstudio.com/en-us/docs/release/author-release-definition/understanding-tasks#sep-servfabric states that the cluster endponit should be prefixed with tcp://

How should the url look like? There is no example. Should it read tcp://server.domain.com:19000

Clarification is needed here.

There is a tool tip help for the inpu

[2017-01-31 12:47] mvvsubbu commented on #3514
This option is available only for VSTS.  There is refresh button at the end of the input, try refreshing it should show up if you are using VSTS

[2017-01-31 13:56] ytimenkov opened #3516 "vstest: Can't specify multiple console options to vstest executable"
This is regression from v1:
 1. Add vstest task
 1. Specify at least 2 parameters in "Other console options", e.g. "/inIsolation /platform:x64"
 1. Expected result: Both parameters are passed as a separate parameters to vstest command line.
 1. Actual result: console options is quoted and passed as a single parameter to vstest:
`2017-01-31T13:35:59.7656188Z [command]"C:\Program Files (x86)\Microso

[2017-01-31 16:20] vimegh commented on #3473
@tomasherceg Can you please check eventviewer at the time failure and share what application error is observed there. Thanks.

[2017-01-31 16:29] tomasherceg commented on #3473
@vimegh I have looked into both Application and System category in the Event Viewer but there is nothing related to the vstest.console.exe.

[2017-01-31 17:43] Rurouni commented on #3393
I have run into same issue.

Does it mean it is not possible to publish artifacts from Releases by definition?

[2017-01-31 18:03] jaquelinecramos commented on #2271
My VMs have public IPs as well as Fully qualified domain names set up, but I am running into the same issue

 ##[debug]Trying to get FQDN for the azureRM VM resources from resource Group
Index operation failed; the array index evaluated to null.

[2017-01-31 18:22] lehne commented on #431
@RoopeshNair Those changes only support adding "Azure Classic" subscription. The publish to Azure Website Task for Azure Classic is deprecated. Will azure government support come for Resource Manager subscriptions?

[2017-01-31 21:34] eliassal opened #3517 "MSBuild.SonarQube.Runner executable could not be found"
Hi, I downloaded the extension for TFS 2015 update 3, installed it in my collection and created and end poing. Then I configured 2 steps as indicated before and after my build, I am getting the following error
##[error]The MSBuild.SonarQube.Runner executable could not be found. Check that the build definition includes a SonarQube Pre-Build step
My sonar server Version is 5.6.3 running on Linux fed

[2017-01-31 22:40] MikkelHegn commented on #3271
The correct endpoint for your service connection is tcp://server.domain.com:19000.

The tooltip has been corrected in a later release of the task (which is live on VSTS). Honestly, the task ignores the prefix and only uses the server.domain.com:19000, but VSTS requires the prefix. It was just confusing to specify http:// when it's actually the tcp management endpoint you need to target.

[2017-01-31 22:43] #3285 closed

[2017-01-31 22:44] MikkelHegn commented on #2984
Completed merge: https://github.com/Microsoft/vsts-tasks/pull/3382

[2017-01-31 22:44] #2984 closed

[2017-02-01 03:46] mvvsubbu commented on #3515
Yes It is as designed you have to give full path of the set parameter file.

[2017-02-01 03:51] mvvsubbu commented on #3514
If the option doesn't show up for VSTS even after refresh, feel free to re open

[2017-02-01 03:58] mvvsubbu commented on #3464
Tacking the issue with the above mentioned azure powershell issue. Closing it here.

[2017-02-01 03:58] #3464 closed

[2017-02-01 03:59] mvvsubbu commented on #3454
Can you update your status?

[2017-02-01 04:01] mvvsubbu commented on #3437
The fix is rolling out to all the SUs in stages, it will happen in next 24 - 48 hrs. Please try after that, I am closing the issue for now. Please feel free to re open if issue persists even after that time frame as well.

[2017-02-01 04:01] #3437 closed

[2017-02-01 04:06] brett3210 commented on #3515
Thanks, as per the error log extract in my previous message, it doesn't appear to work as designed.  Therefore, can you please clarify why you have closed this Issue?

[2017-02-01 04:12] brett3210 commented on #3514
Thanks, the Auto-Detect option still doesn't show up after refresh in Chrome, however it does show in Firefox.  Therefore please re-open (I don't have permissions to re-open)

[2017-02-01 04:19] mvvsubbu commented on #3514
Can you share the fiddler traces of vsts request when you did refresh from chrome. It shouldn't browser dependent.

[2017-02-01 04:20] mvvsubbu commented on #3515
We are not supporting regular expression for set parameters file name and hence I closed. Did you meant something else?

[2017-02-01 04:32] brett3210 commented on #3515
Sorry, I misunderstood your earlier response.  It would be great if you could add wildcard support as a future feature request for all path based fields please

[2017-02-01 04:43] mvvsubbu commented on #3515
Adding our PM to do needful.

[2017-02-01 05:11] brett3210 commented on #3514
Working in Chrome now, after upgrading the Chrome version

[2017-02-01 05:11] #3514 closed

[2017-02-01 05:12] mohdumairakbar commented on #693
Hi All,

I am facing the same issue "Requested value 'Dynamic' was not found." while running New-AzureWebsiteJob  on build definition through powershell script.

This was working fine few days back. I got this error and now stuck on it.

Any help. Highly Appreciated.

Thanks
Umair

[2017-02-01 05:13] mvvsubbu commented on #3514
Thanks for confirming

[2017-02-01 05:32] ericsciple commented on #3419
Reassigning to Service Fabric area. This specific issue would have been avoided (job routed to Mac agent) if the Service Fabric had a demand for CMD to ensure routed to a Windows agent. [Example here.](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/BatchScript/task.json#L23)

[2017-02-01 06:55] vimegh commented on #3473
@tomasherceg What happens if you run the command directly on the machine from command prompt. do you see any error?

You can run following and check. Does it show any error?
"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe" C:\BuildAgent\_work\12\s\src\DotVVM.Samples.Tests\bin\ANC_Firefox\net461\DotVVM.Samples.Tests.dll /logg

[2017-02-01 07:07] vimegh commented on #3490
Test Agent machines are rebooted in following scenrios
a.    First time installation of Test Agent which might install .NET which requires reboot
b.    The test agent admin credentials and test user credentials are different which might need to force reboot to logoff all the users

Can you make sure in “Deploy Test Agent Task”-> ‘Update Test Agent’ checkbox is not selected (by default it’s selecte

[2017-02-01 07:14] vimegh commented on #3471
@juramicrosoft Are you observing this with VStest task or publish test reults task?
I think deleting the trx file is not the responsibility of Publish Test results cmdlet, as the file is not generated by it. Publish Test results cmdlet just reads the file and publishes the result.

[2017-02-01 07:20] vimegh commented on #3500
Can you please send a sample coverage file and summary report to devops_tools at microsoft dot com so that we can take a look? Also please mention the TFS version and Build agent version in case you are using TFS OnPrem. Thanks!

[2017-02-01 08:40] guidoffm commented on #3271
I could successfully setup the SF cluster. But the deployment fails with this log:

  1.

2017-01-31T13:00:07.2415117Z ##[section]Starting: Deploy Service Fabric Application

  2.

2017-01-31T13:00:11.2739215Z Searching for path: C:\agent\_work\r2\a\**\drop\projectartifacts\**\PublishProfiles\Cloud.xml

  3.

2017-01-31T13:00:12.8681317Z Found path: C:\agent\_work\r2\a\HelloWorldSF\drop\projectart

[2017-02-01 09:15] kbulte opened #3521 "ServiceFabricDeployTask throws Xml parsing error when EnvironmentOverride is added to the ApplicationManifest"
I ran into  the following issue when I specify EnvironmentOverrides in the ApplicationManifest.xml

**##[error]Exception while parsing XML file: C:\Users\buildguest\AppData\Local\Temp\TestApplicationPackage_2712596271\mu5idquj.uwq\applicationpackage\ApplicationManifest.xml**

The overrides are specified as described in the following [documentation ](https://docs.microsoft.com/en-us/azure/service-f

[2017-02-01 12:57] vimegh commented on #3490
You can refer to : https://github.com/Microsoft/vsts-tasks/issues/2239

Additon to above, presently we dont have any solution for this. For Test agent to run interactively, we need to have a valid user session on the box and if that session is not present then we rely on autologon to create that session and therefore we reboot. Hence the dependency.

You can try doing above but if that doesn't wor

[2017-02-01 13:39] PBoraMSFT commented on #3170
Hi Matthew,
Yes, this is on the backlog and we will be working on it in upcoming sprints.

[2017-02-01 13:39] #3170 closed

[2017-02-01 13:44] PBoraMSFT commented on #2717
@AmaranAthigaman - sounds like your scenario is to be able to re-run failed tests. This is already on the backlog. https://github.com/Microsoft/vsts-tasks/issues/3170
If this functionality was added, do you have other scenarios where providing a long filter criteria using test names is necessary?

[2017-02-01 14:52] vimegh commented on #3492
@mohit1606 In case of failed tests, you will be able to see the console output of test in Test tab of completed build, by clicking on the failed test(Also console output of failed test can be seen in VSTS build Console during execution). We dont show console output for passed tests, as that is rarely needed and ideally shouldn't be required.

Assuming you are using VSTest task to run the tests, re

[2017-02-01 16:15] FBNitro opened #3522 "ServiceFabricDeployTask Error -1073741819 : Deploy to Linux Cluster w/Certificate Security setup"
I'm using VSTS on VisualStudio.com to deploy a service fabric app to 2 clusters running on Azure.  One cluster is setup as unsecured, the other is setup as secured by certificate.  Both are configured as Linux clusters.

Using the unsecured cluster, I have no problem deploying the Application.  Using the secured cluster, I get error code -1073741819.

For the Secure Cluster, I am using a CA Signed

[2017-02-01 16:59] GitHubSriramB commented on #3393
That's right. We currently don't support publishing artifacts from a release.

[2017-02-01 17:48] MikkelHegn commented on #3271
Yes - you need the PowerShell CmdLets. You can get these through installing the runtime package. Links are in the release notes docs found here: https://blogs.msdn.microsoft.com/azureservicefabric/2016/12/15/release-of-sdk-2-4-145-and-runtime-5-4-145-for-windows/ (There is a link to detailed release notes in the bottom of that blog post). Later versions you will find direct links in older blog pos

[2017-02-01 18:25] DOMZE commented on #3473
I have the same problem.

all tests passed, 2 skipped tests, but agent determines that the build fails.
Using NUnit 3.6.0 and NUnitTestAdapters 3.7.0

It does because Skipped tests generate error messages when running 2>error.text

[2017-02-01 19:47] mikanyg commented on #3521
Have you tried adding a release variable name System.Debug and set it to true? It will output detailed logs from the VSTS tasks.

[2017-02-01 22:52] sjdirect commented on #3075
any workaround in the present?

[2017-02-01 23:10] mikanyg commented on #3346
@NickDarvey and @MikkelHegn I'm actually "brewing" on a new pull request to have an option to skip upgrades if same app type and version exists.
For new deployments, setting the OverwriteBehavior option to 'Always' will do the same trick.

Stay tuned

[2017-02-02 05:27] vimegh commented on #3506
@Rurouni You are having colon ':' in file name, which as far as I know is a invalid character in filename(atleast in windows). Can you try with a filename without colon and check. Thanks.

[2017-02-02 06:03] MacinCloud commented on #3261
@IgesEntwickler Please [contact our support](https://support.macincloud.com/support/tickets/new) and provide us your agent details so we can investigate further. This could be caused by VS 2017 RC as our agents have the production version of Xamarin and VS 2017 RC may need the alpha channel Xamarin.iOS.

[2017-02-02 07:40] kbulte commented on #3521
@mikanyg I added the Debug variable and it outputs an error on schema validation

So I added an inline powershell script which prints out the registry key value of"HKLM:\SOFTWARE\Microsoft\Service Fabric SDK". It seems VSTS is not using the latest Service Fabric SDK:

'EnvironmentOverrides' was introduced in the latest Service Fabric SDK 2.4.145.9494 based on this thread [here](https://github.com/

[2017-02-02 08:20] shashban commented on #2981
@rhan1161 - You're right. VSTS task groups do not support parameterization of endpoints. We have it in our backlog but can't commit to exact timelines as yet. Unfortunately, I can't offer a workaround either.

[2017-02-02 10:28] NickDarvey commented on #3346
That'd be amazing @mikanyg --- ARM templates give us idempotent infrastructure deployments, it'd be great to have the same with our SF app

[2017-02-02 12:07] mvvsubbu commented on #3454
Any update?

[2017-02-02 13:04] Rurouni commented on #3506
@vimegh Cheers, it works when I am manually renaming the output file.
But it's not good that by default dotnet test produces test results on linux that are broken for vsts...

[2017-02-02 15:55] guidoffm commented on #3271
Hi,

we have done the installation of SF SDK.

The realease now fails with this result:

  1.

2017-02-02T15:47:22.5117345Z Die Dateien wurden erfolgreich heruntergeladen.

  2.

2017-02-02T15:47:22.5117345Z 28 placed file(s): 28 downloaded, 0 empty

  3.

2017-02-02T15:47:22.5117345Z 6 MB downloaded at 1149 KB/sec. Download time: 00:00:05.0349315. Parallel download limit: 4.

  4.

2017-02-02T15:

[2017-02-02 17:45] paonekumar commented on #3454
@mvvsubbu appreciate your quick response, your suggestion worked and issue is fixed now.

[2017-02-02 18:11] MikkelHegn commented on #3271
Can you do another run with debug output? Set a variable on the release definition called debug with a value of true?

Thanks

[2017-02-02 18:14] MikkelHegn commented on #3346
@mikanyg: Our thinking has been along the lines of putting in this logic:

Create/Upgrade modes:
- Replace (no matter what or if same type and version)
- Make it run (upgrade if exists otherwise create new one)
    - What if we have no upgrade parameters (default to Monitored?)
- Upgrade Only (upgrade if one exists, otherwise do nothing)
    - What if we have no upgrade parameters (default to Moni

[2017-02-02 20:32] mikanyg commented on #3521
I am not sure, but I think they update the Hosted Agent images every 2-3 months, you can probably skim through the VSTS release notes, where they mention when the Hosted Agent image has been updated.

[2017-02-02 21:02] mikanyg commented on #3346
@MikkelHegn Looks promising, some of the logic is already there as I see it.

- Replace:  Can be achieved by disabling upgrades and setting OverwriteBehavior to Always

- Upgrade only: The PR I'm working on will add option to make upgrades idempotent, by skipping the upgrade if  the error mentioned occurs.
- Make it run: I previously did this using the Deploy-FabricApplication.ps1 found in the .sf

[2017-02-02 22:01] cgapeart opened #3528 "PublishTestResults .ts version handles wildcards differently than the .ps1 version"
I have build definitions for a cross platform project that includes running googletest unit tests in both Linux and windows.  I have the junit style xml test results on each of them being generated in the staging directory (e.g. BuildAgent/_work/1/a).  On our windows build platform, **/TEST-*.xml works fine, and the test results are published properly.

Under Linux, it appears that if wildcards ar

[2017-02-02 22:29] roberteblackwood opened #3530 "'System.Globalization' already has a dependency defined for 'Microsoft.NETCore.Platforms'"
Using Flurl 2.2.1 which has a dependency on System.Globalization >=4.0.11 (lowest version installed), I get the following error in my package build in VSTS:

**##[error]'System.Globalization' already has a dependency defined for 'Microsoft.NETCore.Platforms'.**

I tried downgrading to Flurl 2.0.0 to get rid of the System.Globalization dependency, (still has .NETPlatform dependencies, including Sys

[2017-02-02 22:33] ericsciple commented on #3530
@roberteblackwood which task is this issue for?

[2017-02-02 22:36] roberteblackwood commented on #3530
NuGet Packager

[2017-02-03 04:39] pavanadepu2 commented on #3496
@DanielBMann9000, we have fixed the WinRM MaxEnvelopeSizeKb issue. Could you please retry your scenario and let me know if you still see any issue.

Also, the scripts present in external GitHub are maintained by our team itself. These scripts exists forever and remain correct.

[2017-02-03 06:34] mvvsubbu commented on #3454
Thanks for confirming I am closing the issue.

[2017-02-03 06:34] #3454 closed

[2017-02-03 08:36] guidoffm commented on #3271
I have done this. Got no other output.

[2017-02-03 08:38] guidoffm commented on #3271
[code]

[2017-02-03 10:47] leyshon commented on #3500
I've tried this but I get an undeliverable message as I am not on the allowed senders list

[2017-02-03 10:55] machie27 commented on #439
Also having the issue, removing the mscorlib from android project did not solve the problem. Created the extra problem:
_MSB4018: The "LinkAssemblies" task failed unexpectedly.
Java.Interop.Tools.Diagnostics.XamarinAndroidException: error XA2006: Reference to metadata item 'Mono.Security.Cryptography.SymmetricTransform' (defined in 'System.Core, Version=2.0.5.0,_

for now switched back to targetfr

[2017-02-03 12:47] acesiddhu commented on #3500
@leyshon We got your mail. We will look into this.

[2017-02-03 21:15] jdholbrook81 commented on #1440
Hello, is there any progress on this issue? Looks like it was removed from the Dev15 label. Running into this issue with a release.

[2017-02-03 22:20] alcoforado commented on #3165
jpisano solution worked for me as well

**I was experiencing the same issue. IDK if your config is the same but I didn't have the port specified in the "Azure SQL Server Name" setting of the task. Once I added it, the 404's went away.**

[2017-02-03 22:39] aarcro commented on #2186
Hope we can reopen this issue. I'm seeing the same behavior. I attached logs and coverage.xml
[coverage.xml.txt](https://github.com/Microsoft/vsts-tasks/files/751707/coverage.xml.txt)
[publish.coverage.log.txt](https://github.com/Microsoft/vsts-tasks/files/751709/publish.coverage.log.txt)

So it does find the coverage.xml, and publishes it as an artifact.

https://www.dropbox.com/s/g6f044iis4ig0k7

[2017-02-04 16:51] FrenchKoyote commented on #3051
Hi,

I received same issue like @kerslake every nigth : "The remote server returned an error: (404) Not Found."
I already tried to apply port number at the end of SQL server address without success.

Any update ?

Regards,
Thanks

Below my execution log about DacPac deployment with debug variable set to true:

    2017-02-04T11:21:30.9192485Z ##[section]Starting: Deploy Azure SQL DACPAC

    2017-

[2017-02-05 03:17] takinosaji commented on #3358
Facing the same error with nuget using in Teamcity.

[2017-02-05 14:02] NickDarvey commented on #3183
@mthalman-msft This just appeared for us---deployed a build successfully then deployed another build ten minutes later and it failed with this error. No changes to the environment or connection.
The port is set to 19000.

[2017-02-05 14:18] ericsciple commented on #3517
@eliassal that task isn't maintained in this repo anymore. The fwlink in the latest version that shipped from this repo [points to here](https://blogs.msdn.microsoft.com/visualstudioalm/2015/08/24/build-tasks-for-sonarqube-analysis/). It looks like from there, there is a link over to docs.sonarqube.com.

The SonarQube website that it links to should have some place for support. Another think you c

[2017-02-05 14:18] #3517 closed

[2017-02-05 14:44] ericsciple commented on #3336
Fixed as part of this commit: https://github.com/Microsoft/vsts-tasks/commit/0ea764c87a840378c03870a09017c638c934f88e

Tasks can declare dev dependencies in a package.json under the task's Tests folder. I also added validation so the build fails if devDependencies are defined in the wrong place.

[2017-02-05 14:44] #3336 closed

[2017-02-05 17:16] ericsciple commented on #1440
PR: https://github.com/Microsoft/vsts-tasks/pull/3535

[2017-02-05 18:59] eliassal commented on #3517
I am reallty confused with your response
At https://blogs.msdn.microsoft.com/visualstudioalm/2015/08/24/build-tasks-for-sonarqube-analysis/
comments are closed.
Pointing to https://blogs.msdn.microsoft.com/visualstudioalm/2015/07/28/msbuild-and-team-foundation-server-integration-with-sonarqube-version-1-0-released/
comments are also closed
Going to(as indicated) to
https://docs.sonarqube.org/displ

[2017-02-05 19:19] ericsciple commented on #3517
there is a Get Support link on the [home page](https://docs.sonarqube.org/display/HOME/SonarQube+Platform). you may be able to reach the owners of the task from there.

[2017-02-05 19:22] ericsciple commented on #3517
which extension did you install?

[2017-02-05 19:25] eliassal commented on #3517
The one  on
https://marketplace.visualstudio.com/items?itemName=SonarSource.sonarqube
for TFS 2015 update 3 o premise

[2017-02-05 19:31] ericsciple commented on #3517
it looks like this might be the repo: https://github.com/SonarSource-VisualStudio/sonar-scanner-msbuild

[2017-02-05 19:55] eliassal commented on #3517
Agree, I visited it already but no way to post an issue, there is a link to jira but also no link to report an issue

[2017-02-05 20:00] ericsciple commented on #3517
@bgavrilMS @duncanpMS can you help redirect this issue?

[2017-02-05 20:07] bgavrilMS commented on #3517
@eliassal - appologies for any confusion the transition of the SonarQube tasks creates. We documented the transfer in this [blog post ](https://blogs.msdn.microsoft.com/visualstudioalm/2016/12/13/sonarsource-have-announced-their-own-sonarqube-team-services-tfs-integration/
) and link to it from the old tasks.

Since the build tasks are owned by Sonar Source, the company behind SonarQube, you have

[2017-02-05 21:29] seanrockster commented on #3507
Another issue I'm having is the xml transformations do appear to work for the _connectionStrings_ element. In the same *.config file I can see it working (provided the *.config is in the artifact) for the _appSettings_ element but not the _connectionStrings_ element. I've tried with and without a vs build config for the target environment, in my case i called it Test.

[2017-02-06 08:34] mvvsubbu commented on #3051
@FrenchKoyote
We fixed for your account can you try and let us know

[2017-02-06 08:44] karthik25 commented on #1441
@mvvsubbu Ealier today I responded with my answers for the 1st set of questions. Please check it out.

[2017-02-06 10:32] mvvsubbu commented on #3496
Any update?

[2017-02-06 12:58] eliassal commented on #3517
Thanks, I have already opened a thread in stackoverflow on Friday at
http://stackoverflow.com/questions/42008232/sonarqube-vsts-marketplace-extension

[2017-02-06 13:45] MagnusTim opened #3540 ""Error: Failed which: Not found ant: null" with Ant task 1.0.56"
Hi,
I upgraded to TFS 2017 RTM this weekend for a customer and after the upgrade I get the following error when using the Ant build task (1.0.56): "Error: Failed which: Not found ant: null".

Ant is installed on the server and I have an ANT_HOME path set.

The Ant task log down to the error looks like this:
2017-02-06T12:42:31.8656110Z Set workingFolder to default: D:\Builds\Agent2\tasks\Ant\1.0.5

[2017-02-06 16:37] RDalziel commented on #3391
I managed to figure it out with the API, however since then i've moved onto using the new(ish) RM Powershell command as it cuts my code a considerable amount!

"Get-AzureRmServiceBusNamespaceKey"

[2017-02-06 18:14] xzhe commented on #3540
Hi,

Can you run ant from the command line? It looks like that ant is not in your PATH.

[2017-02-06 18:58] drlawler commented on #788
is the resource group name the only output parameter that is supported, or will it support other output params declared in the template?

[2017-02-06 20:59] MikkelHegn commented on #3271
Thanks - I did a check and the Windows Credential connection option needs to be passed to the Connect-ServiceFabric CmdLet. We currently do not support that in our Service Endpoint. I'll go ahead and file a bug against this.

[2017-02-06 21:28] ericmaino opened #3543 "Remove Resource Group fails if deletion takes more than 5 minutes"
It appears that if a resource group remove takes more than 5 minutes the task will fail with a task cancellation exception:

This reproduces 100% of the time.

2017-02-06T20:11:48.7048933Z [Azure Resource Manager]Deleting resource group 'ericmai-EthereumEx-ci-2017-0206-1'
2017-02-06T20:11:49.0338123Z ##[debug]Performing the operation "Removing resource group ..." on target "ericmai-EthereumEx-ci-2

[2017-02-06 22:18] weltan opened #3544 "AzureRmWebAppDeployment: Json Variable Substitution causes build to hang"
I'm using the Azure App Service Deploy 3.*(preview) task (I assume that's AzureRmWebAppDeployment?) to deploy a node.js app to an App Service Web App running Windows. I'm able to successfully build/deploy a working app.

However, when I try to add an additional feature, 'File Transforms & Variable Substitution Options' -> 'JSON variable substitution', it causes the build to hang indefinitely (30 m

[2017-02-06 22:48] jstawski commented on #553
We are also looking into speeding this up on hosted VSTS agent. Using an internal cache sounds like a good idea.

[2017-02-07 00:27] K5i4 commented on #2397
@allendm-msft is there any progress on the issue? Will the solution honour the order of test cases within in a test suite?

[2017-02-07 00:51] mani-ramaswamy commented on #3522
Can you share the command that you used (for the self-signed cert deploy)?  were you able to connect to the cluster using CLI?

[2017-02-07 00:52] mani-ramaswamy commented on #3522
And as of now, you cannot connect to  a secure linux cluster with PS if that's what you are doing. We're working on a fix for that. You'll have to use Azure CLI to connect to secure LInux clusters.

[2017-02-07 06:28] desattir commented on #3543
@ericmaino Is this happening when you're using 1.* version of the task or 2.*?

[2017-02-07 06:31] mvvsubbu commented on #3496
I am resolving as the issue is resolved. You can feel free to reopen if it doesn't work.

[2017-02-07 06:31] #3496 closed

[2017-02-07 06:37] mvvsubbu commented on #3495
@mikeycooper

We have added this enhancement in PR 3538 (https://github.com/Microsoft/vsts-tasks/pull/3538). This will be available in next deployment for your to try out which will be 3 - 4 weeks from now.

I am closing the issue, feel free to re-open if there is some issue after this enhancement as well.

[2017-02-07 06:50] desattir commented on #3543
@ericmaino Will look into that failure and fix it ASAP. Thank you for reporting :)

[2017-02-07 07:23] mvvsubbu commented on #3450
We have addressed this in current sprint. It should be available in next 3 - 4 weeks. I am closing the issue as fix is completed. Please feel free to re-open if there is any issue once 113 deployment is done.

[2017-02-07 07:23] #3450 closed

[2017-02-07 07:32] #2981 closed

[2017-02-07 07:46] vincentdass commented on #3544
@weltan , thanks for reporting the issue.
Can you enable system.debug = true and queue a release and share the logs ?

Can you please enable `XML transformation`  option in **'File Transforms & Variable Substitution Options**', if it doesn't hurt your deployment ?

[If XML tranformation is enabled, it will search for web.<env_name>.config and apply transformation on web.config]. If no such file is

[2017-02-07 08:08] desattir commented on #3543
@ericmaino also can you verify, that you haven't set the task time out to be 5 min. You can find this in the Control Options of a task.

[2017-02-07 12:02] Athosone commented on #2595
Same Issue here :(,
Any idea on how to remove these quotes from tfs ?

[2017-02-07 12:11] rikbosch opened #3552 "400 Bad Request using nuget push on ubuntu 14.04"
Hi,

I'm getting a bad request response on nuget push, using the Nuget Publisher task in VSTS, using the internal nuget feed.

I'm able to push from our (windows) dev machine.

logs:

[code]

[2017-02-07 14:37] weltan commented on #3544
@vincentdass just pm'ed you via email with a full set of logs, enabling the `XML transformation` didn't seem to make a difference. We are in fact using a folder path: `$(Build.SourcesDirectory)` for the deploy task, so maybe that's why.

[2017-02-07 14:49] jaquelinecramos opened #3554 "Azure File Copy - Index operation failed; the array index evaluated to null."
2017-02-06T19:30:44.0777609Z ##[debug]Trying to get FQDN for the azureRM VM resources from resource Group RESOURCEGROUP

2017-02-06T19:30:44.1558736Z ##[debug]System.Management.Automation.RuntimeException: Index operation failed; the array index evaluated to null.

2017-02-06T19:30:44.1558736Z    at System.Management.Automation.ExceptionHandlingOps.CheckActionPreference(FunctionContext funcContext

[2017-02-07 17:03] onionhammer commented on #3312
This issue is totally still happening intermittently

[code]

[2017-02-07 17:22] ericmaino commented on #3543
It appears the task timeout is not honored by the task. It was set to 0. I also set a big number 45 minutes and it still timed out in 5 minutes. The overall build timeout was set to 90 minutes.

[2017-02-07 17:47] ajklotz commented on #1008
For anyone that has been going down this path and still runing into issues, don't forget the possibility of being blocked by corporate firewall. I went through all the steps listed here and in Muthu's blog and finally got the bright idea of asking our NoC team if the port was blocked. It was - and now I'm getting successful Azure File Copy tasks.

[2017-02-07 21:34] ericsciple commented on #1440
In master. Will roll out with the next deployment. It should roll out to all accounts within 2-3 weeks.

[2017-02-07 21:35] #1440 closed

[2017-02-08 06:03] DanielBMann9000 commented on #3496
@mvvsubbu @pavanadepu2 That took care of it, thank you!

[2017-02-08 08:21] mvvsubbu commented on #1644
https://github.com/Microsoft/vsts-tasks/pull/3549

[2017-02-08 09:59] eliassal commented on #3517
Hi, yesterday, while I was playing with my build as I needed it to succeed, I removed  the "SQ....Ened Analysis New", reput it again, and hop, my build worked like a charm and I got analysis in Sonarqube server
Thanks for your help

[2017-02-08 10:36] Reijnn commented on #439
Facing the same problem still. When targeting 7.1 I receive the mscorlib error. When removed from proj file, we recieve MSB4018: The "LinkAssemblies" task failed unexpectedly.

Building works again when target sdk is set to 7.0.

[2017-02-08 14:18] madhurig commented on #439
@Reijnn : Xamarin Android version was updated at the end of Dec 2016 to 7.0. If you target a higher version like 7.1, you will continue seeing the "LinkAssemblies" task failure since that is not available on the hosted build VMs.

Thanks,
Madhuri

[2017-02-08 15:12] vimegh commented on #3516
@ytimenkov Thanks for reporting. This is a valid bug. If you have dependency on console options, for now you can continue to use v1 of task. We will fix this for v2 preview task next release and update here.

[2017-02-08 15:21] ardz opened #3563 "Error after updating to Version 2 of the Deploy Test Agent Task"
2017-02-08T15:07:01.1252302Z ##[error]Error occured on 'xxx-x-xxxx.xxxxxxxx.local:5985'. Details : 'The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: The term 'New-ScheduledTaskAction' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included,

[2017-02-08 15:22] matthew-horrocks opened #3564 "It would be useful if the "Run Functional Tests" build step would report its test results in real time."
It would be useful if the "Run Functional Tests" build step would report its test results in real time.

We have some large test suites which can take > 10 hours to complete. Not having these results in real time makes it hard to gauge the stability of builds as we can't see the outcome of the tests for 10 hours!

If a number of tests are failing, then we'd know that something has gone terribly wr

[2017-02-08 15:22] ardz commented on #3563
Version 5.0 of WMF has been installed on the machine where the tests are being ran.

[2017-02-08 15:45] popcatalin81 commented on #3051
I've been getting the same error intermittently for the last 3 days. Currently I'm on attempt 11 for deployment and it hasn't worked.

Attached log:

[code]

[2017-02-08 22:05] TheRubble opened #3565 "VSTest includes Microsoft.WindowsAzure.Storage version 8.0.1.0 in results"
Hi,

When codecoverage is on it appears to include Microsoft.WindowsAzure.Storage as my code, it's included as a nuget package and it's the only package that appears with this problem.

In the console the following code is run:
`2017-02-08T21:50:37.1723605Z Executing C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe "D:\a\1\s\O

[2017-02-08 22:33] FrenchKoyote commented on #3051
Hi @mvvsubbu It works well now for me.
Latest build was terminated with success.
Thanks a lot.

[2017-02-09 03:54] mvvsubbu commented on #3051
@popcatalin81

We have fixed for your account. Can you check and let us know?

[2017-02-09 07:28] hcoona commented on #375
@chrisrpatterson This tricks only works for one-line varaible. I'd like to load copy file patterns from config file but it contains line-endings as seperator but be consumed in standard copy task in VSO. Is there a more powerful way for it?

[2017-02-09 07:42] jamesatgithub opened #3568 "Test Cloud iOS Error "Xamarin.UITest.dll version (2.0.6.0) and test-cloud.exe version (1.3.8.0) are incompatible""
found this output in the log "Xamarin.UITest.dll version (2.0.6.0) and test-cloud.exe version (1.3.8.0) are incompatible" and it seems the build agent uses a wrong version of test-cloud.exe although our UITest project uses the latest 2.0.6.0 package. Here's the UITest package.config:

`<packages>
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Xamarin.UITest" versio

[2017-02-09 07:56] jamesatgithub commented on #3568
OK found the reason: we upgraded the UITest nuget package and since the vsts nuget restore task not doing clean so the build agent packages folder has old versions of the package and in the vsts test cloud task there is a property of "test-cloud.exe location" which was using value of "**/packages/**/tools/test-cloud.exe" which caused the task to pick up the old version to use.  But didn't like to

[2017-02-09 09:13] MagnusTim commented on #3540
Hi,
Command line does not work but the agent identifies both ant and ANT_Home as capabilities, should not that be enough?

[2017-02-09 09:31] vferras opened #3571 "SonarQube task (new one)"
Hello,

I updated the task of Sonar analysis to the new version (2), and using the "native" connector instead of the generic one using tokens. But I'm not able to make it work, I'm always facing an 401 error:

2017-02-09T08:55:09.6988691Z 08:55:09.194  Fetching analysis configuration settings...
2017-02-09T08:55:10.1017876Z ##[error]
2017-02-09T08:55:10.3023047Z ##[error]Unhandled Exception: Syste

[2017-02-09 10:22] FrenchKoyote commented on #3051
@mvvsubbu

Ouch. An issue has been generated during latest build this nigth about DAC package deployment.
See my log below.

Thanks.

    2017-02-09T03:34:15.8319546Z ##[section]Starting: Deploy Azure SQL DACPAC

    2017-02-09T03:34:15.8399548Z ==============================================================================

    2017-02-09T03:34:15.8399548Z Task         : Azure SQL Database Deploym

[2017-02-09 10:28] Cva2904 opened #3573 "Need to execute my automation scripts when build is moved from dev to QA environments."
Hi Everyone,

I need to execute my automation scripts when build is moved from dev to QA environments.

I am entirely new to this approach.

Please keep me posted if any one has worked on this earlier.

Thanks in advance.
Siva.

[2017-02-09 11:33] degant opened #3575 "[Release Task] Deploy Azure App Service: XML Substitution unable to parse config"
In the release task for azure app service deployment using the 3.0 template (in preview), the newly added XML substitution isn't able to parse the web.config.

Task: https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/AzureRmWebAppDeployment

Here's the trace from the release logs after enabling system.debug:
_Initiated variable substitution in config file : E:\agent_work\r69\a\temp_web_pack

[2017-02-09 11:36] popcatalin81 commented on #3051
@mvvsubbu thank you, it looks like the problem went away, the deployment succeeded on the first attempt.

[2017-02-09 11:38] nitc3 commented on #3075
Hi, I can see the -ForceUpgrade has been added to the PS script but there's no checkbox showing up on the VSTS task gui? Is the feature not complete yet?

[2017-02-09 12:22] DavidStaheli commented on #3540
Hi @MagnusTim.  Sorry for the trouble and disruption to your customer's build processes.  There are two things affecting what you're seeing:

First, just as you noted above, when the build agent starts, it checks to determine whether it has the Ant "capability."  Depending on which version of the agent you're running, it does this by looking for the ANT_HOME environment variable or for 'ant' in th

[2017-02-09 13:21] MagnusTim commented on #3540
Hi David,
Thanks for you answer

**1. Agent**
I am running the latest build agent version -2.111.1

**2. The ant build task**
Yest, ant is in the path.
Is there a way to get more debug information from the anttask.ts, I saw there where the tl.debug rows in the code, I have set the system.debug=True in the build.

I tried to runt the ant command in a command prompt from the java SDK\bin folder then

[2017-02-09 15:15] ericsciple commented on #375
you can replace carriage return and line feed with the URL encoded equivalents (`%0D%0A`)

[2017-02-09 15:22] ericsciple commented on #3571
That task does not live in this repo anymore. See this issue for where to get help for that task: https://github.com/Microsoft/vsts-tasks/issues/3517

[2017-02-09 15:22] #3571 closed

[2017-02-09 15:25] ericsciple commented on #3573
This doesn't sound like an issue with any tasks in this repo. Build docs [are here](https://www.visualstudio.com/en-us/docs/build/overview). Release docs [are here](https://www.visualstudio.com/en-us/docs/release/overview).

[2017-02-09 15:25] #3573 closed

[2017-02-09 15:59] mvvsubbu commented on #3075
"Force upgrade" option shows up on selecting allow upgrade.

[2017-02-09 16:08] Enceee commented on #3075
@mvvsubbu I am afraid that's not the case as you can see in the screenshot. Allow upgrade has always been selected.

![untitled](https://cloud.githubusercontent.com/assets/20704239/22791578/cb93b4b0-eee1-11e6-8bd7-b5382ba7ac24.png)

[2017-02-09 16:18] TheRubble commented on #3565
Found the issue, this version of the Azure package has a pdb included in it. I've now got a task that removes it before the test runner runs.

[2017-02-09 16:18] #3565 closed

[2017-02-09 19:40] jaquelinecramos commented on #3554
We use TFS2015 Update 2.1 on-premiss.

Is there a need to update the Task?

[2017-02-10 03:31] mvvsubbu commented on #3051
@FrenchKoyote

What is your VSTS account name?

[2017-02-10 03:42] mvvsubbu commented on #3075
Currently this feature is checked in to our development branch. it will be available in next deployment of VSTS which is approximately finishes in 3 -  4 weeks from now. Are you taking about current VSTS deployment or you went ahead and uploaded new version the task?? If you haven't uploaded then that is expected behaviour only, as the latest changes are not yet deployed to production.

[2017-02-10 06:06] vimegh commented on #3222
Closing the issue, as no repro at our end and customer haven't provided sample project yet. Can be reopened if needed.

[2017-02-10 06:06] #3222 closed

[2017-02-10 06:06] jamesatgithub commented on #2067
@madhurig is this fix available on VSTS? Or I need do any update on our macincloud build agent?

As I encountered similar problem with wildcard of the .ipa location on Test Cloud iOS task:

"No matching app files were found with search pattern: /Users/vso113024/vsts-agent/_work/5/s/Mobile/App/bin/iPhone/Release/**/*.ipa
Unhandled: tl.exit is not a function"

[2017-02-10 06:11] vimegh commented on #3060
Closing the issue here, assuming the solution provided by @kaadhina has worked, and customer hasn't responded for long time.

[2017-02-10 06:11] #3060 closed

[2017-02-10 06:14] gregpakes commented on #3060
I don't see @kaadhina 's solution as workable.

The tests are supposed to be run against the compiled output, so it makes no sense copying the sln file to the outputs.  The other src would not be available so, no I don't see this as a solution.

[2017-02-10 06:20] jamesatgithub opened #3582 "Test Cloud Android: uploading single architect apk and task failed expecting the rest x86, x64 apk"
On task starting, arm v7a apk is specified as per below logs - wanted to test this apk only

`2017-02-09T10:29:59.7066330Z ##[section]Starting: Test $(build.binariesdirectory)/Release/com.****.android-armeabi-v7a.apk with Xamarin.UITest in Xamarin Test Cloud
2017-02-09T10:29:59.7808690Z ==============================================================================
2017-02-09T10:29:59.7822680Z Task

[2017-02-10 06:24] vimegh commented on #3060
@gregpakes Assuming that you are able to provide test adapter path in runsettings file, and you are not blocked due to this issue, we are taking this as your feedback, and will try to improve the experience further. I am opening a backlog item internally for us to track. I hope that is fine.

[2017-02-10 06:50] Cva2904 opened #3583 "Coded UI Framework - DTAExecutionHost.exe Crashes"
Hi All,

I am facing the below issue when scheduling the build Build using Test Agent.

Test agents have been running fine for a month then suddenly started crashing on VM Test Agent.

System is displaying the message "DTAExecutionHost.exe has stopped working".

Thanks in advance,
Siva.

[2017-02-10 06:59] Cva2904 commented on #3583
Hi @SatishThareja,

I have seen your comments on issues #2213.

Could you please share the executable, so that I patch it.

Thanks in advance.
Siva.

[2017-02-10 08:56] rbluethl opened #3585 "Use variables from "Build number format" in "Artifact Name""
Hello,

I wanted to ask if it's possible to use the same variables from Build number format (for example "$(Build.DefinitionName)_$(date:yyyyMMdd)$(rev:.r)_$(BuildConfiguration)") in the **Publish Build Artifacts** task's Artifact Name?

Currently, our setup is configured as follows:

Build number format: $(Build.DefinitionName)_$(date:yyyyMMdd)$(rev:.r)_$(BuildConfiguration)
Artifact Name: $(Buil

[2017-02-10 11:31] vimegh commented on #2721
@geoffstew4 I was just checking old issues for cleanup. Just wanted to confirm, is this problem still reproducible at your end? Please let us know.

[2017-02-10 14:16] podgito opened #3587 "Azure App Service Deploy MSDeploy Additional Arguments"
I'm receiving the error:

Looks like the value provided in the Additional Arguments field is being wrapped in double quotes. Must have been introduced very recently as I had been using this for deployments 4 weeks ago, successfully.

[2017-02-10 14:20] MagnusTim commented on #3540
xzhe and David, you where both right, it vas the PATH to D:\ANT\Bin that was missing for the Build user.

Thanks!

[2017-02-10 14:20] #3540 closed

[2017-02-10 14:25] DavidStaheli commented on #3540
Thank you for reporting the issue regardless, @MagnusTim.  Maybe the conversation here will be helpful to others.

[2017-02-10 14:54] geoffstew4 commented on #2721
I have not seen this in a while so we can probably close this thread.

[2017-02-10 14:54] #2721 closed

[2017-02-10 14:58] leyshon commented on #3500
This is actually an issue with the conversion from OpenCover to Cobertura using OpenCoverToCoberturaConverter.

[2017-02-10 14:58] #3500 closed

[2017-02-10 15:10] ericsciple commented on #3585
@chrisrpatterson @bryanmacfarlane fyi

@rbluethl today it's not supported

[2017-02-10 15:10] #3585 closed

[2017-02-10 15:16] podgito commented on #3587
Just adding logs to compare the MSDeploy commands which further highlights the issue. (I've hidden some sensitive  values)

[2017-02-10 16:20] marianogenovese opened #3588 "Capture Trace/TestContext Writes"
Hi!, im using VSTest task in TFS (V. 14.102.25423.0) for running my tests, in these tests i use:
Debug.WriteLine, Trace.WriteLine and TestContext.WriteLine but none of the messages written on the console do not appear. There are a config to change?

[2017-02-10 17:03] FrenchKoyote commented on #3051
Hi @mvvsubbu
This is https://tfsitvision.visualstudio.com
Thanks.

[2017-02-10 22:41] kumarappanc opened #3589 "JenkinsQueueJob task fails with the following Error"
2017-02-10T11:47:59.2528919Z ##[warning]File name doesn't indicate a full path to a executable file.

2017-02-10T11:47:59.2528919Z Set workingFolder to default: c:\B\SourceRootMapping\9c0304b3-b058-4e7d-84ef-4f205f292902\Job-f98d6625-a150-4098-983c-27b363bf0508

2017-02-10T11:47:59.3154170Z ##[error]System.ComponentModel.Win32Exception (0x80004005): The directory name is invalid

2017-02-10T11:47:

[2017-02-11 00:00] Blinkk commented on #1923
@atinb I tried your solution by copying the OrderedTestAdapter.dll to the same directory as the test assemblies on the test machine, but I am still unable to run an ordered test. Is there any update on this?

[2017-02-11 14:18] DavidStaheli commented on #3589
Thanks for reporting this, @kumarappanc.  Can you please attach the full log here or email it to dastahel at microsoft.com?

[2017-02-12 00:10] dozgunyal commented on #2986
Hi @gedeh , may i ask you to share your scripts here to help us until this issue is resolved?

[2017-02-13 05:14] vimegh commented on #3500
Also, to add for future reference, If you code coverage file does not have any valid lines or branches that is Coverage is 0  out of 0 viz. lines-covered="0" lines-valid="0" branches-covered="0" branches-valid="0"

Then Code coverage will not be shown on UI.

[2017-02-13 05:58] jamesatgithub opened #3592 "Test Cloud - Error "The operation was canceled.""
In a build definition,  we have a Test Cloud task to run test on 87 iOS devices, after 57 minutes the build failed with error "

2017-02-13T05:41:04.7865610Z Status: Running on 1 device (3 / 86 completed, 82 pending) - Report 3% done
2017-02-13T05:41:13.2586800Z ##[error]The operation was canceled.
2017-02-13T05:41:13.2708830Z ##[section]Finishing: Test **/*.ipa with Xamarin.UITest in Xamarin Test

[2017-02-13 06:07] vimegh commented on #3492
@mohit1606 Just a reminder, Were you able to see console output for failed tests?

[2017-02-13 07:47] vimegh commented on #3583
@Cva2904 If you are using TFS 2015 U3 with coresponding Update 3 Test Agent ans are seeing the issue after reboot with the convert exception shown in #2213
![image](https://cloud.githubusercontent.com/assets/16918564/22874927/ba536384-f1ee-11e6-8949-57b998621a9d.png)

Then, can you try what Satish has sugessted in #2213 that is Set Update Test Agent option to true in Deploy Test Agent Task.
Queue

[2017-02-13 08:18] mvvsubbu commented on #3051
@FrenchKoyote

This issue seems to different you are getting 501 error. Can you open a different issue for the same, adding @arjgupta to help further.

[2017-02-13 08:22] lmussier commented on #3036
Hi @dragongame we run in the exact same issue, do you find a new tool in order to replace gcovr ?
The latest version is still bound to dtd 0.3 :(

[2017-02-13 08:41] Cva2904 commented on #3583
@vimegh

i have tried the same.

@SatishThareja was talking about a exe that has to be patched.

I have tried sending mail to devops_tools@microsoft.com, but i am gettign postmaster error.

Could you please share the exe file.

Thanks

[2017-02-13 09:49] vimegh commented on #3471
@juramicrosoft Can you please respond to my previous comment. Thanks.

[2017-02-13 10:42] olandese opened #3595 "Azure File Copy Task: (400) Bad Request - Not able to fetch token for tenant Id"
Hello,

we are using the latest Azure File Copy task (version 1.0.84), and we are getting the following error:

2017-02-13T09:50:58.7898956Z ##[debug][Azure Call]Retrieving storage key for the storage account: ebsazstorageesbdbesbdxxx in resource group:
2017-02-13T09:50:58.7908966Z ##[debug]Fetching Access Token
2017-02-13T09:50:58.8308958Z ##[debug]No proxy settings
2017-02-13T09:50:58.9878968Z #

[2017-02-13 11:11] kbulte commented on #3521
Meanwhile the Service Fabric team released SDK version 2.4.164. When can we expect this version to be installed on the VSTS hosted agent?

[2017-02-13 12:23] davidreher opened #3597 "Azure PowerShell "The term 'Get-AzureRmServiceBusNamespaceKey' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.""
I am using the (probably quite new) `Get-AzureRmServiceBusNamespaceKey` (see [docs](https://docs.microsoft.com/en-us/powershell/resourcemanager/azurerm.servicebus/v0.0.2/get-azurermservicebusnamespacekey)) to retrieve a connection string.

Unfortunately this is not yet possible within the Azure PowerShell task:
[code]

It is working fine on my local machine ... What am I doing wrong?

[2017-02-13 12:37] davidreher commented on #3597
Azure PowerShell 3.1.0 is installed on the [hosted machines](https://www.visualstudio.com/en-us/docs/build/concepts/agents/hosted#software). Therefore this "new" command does not work (yet).

[2017-02-13 12:37] #3597 closed

[2017-02-13 14:49] guidoffm commented on #3271
If the build step was successful there should be a way to deploy the builded package with a PowerShell script to the cluster. Is there a documentation on how to do this?

[2017-02-13 17:18] MikkelHegn commented on #3271
We will be providing the authentication feature for AD in an upcoming release and we are also working on a PowerShell task with SF Cluster authentication support.
Take a look here for how to deploy via scripts: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-deploy-remove-applications
Be aware of this when scripting SF connectivity: http://stackoverflow.com/questions/38103343/

[2017-02-13 17:19] MikkelHegn commented on #3521
@chrisrpatterson Can you help with an update?

[2017-02-13 18:09] juramicrosoft commented on #3471
This is with the Publish Test Results task being directly called by a custom task.  We have a remediation in place and I will get a verification as soon as is viable.

[2017-02-13 20:07] ericsciple opened #3601 "MSBuild logger choking on `>` in error/warning"
Fixed by PR https://github.com/Microsoft/vsts-tasks/pull/3559

[2017-02-13 20:07] #3601 closed

[2017-02-13 23:28] jasonchester commented on #3521
Also having this issue. Attaching log file with System.Debug = true

[3_Deploy Service Fabric Application.txt](https://github.com/Microsoft/vsts-tasks/files/772690/3_Deploy.Service.Fabric.Application.txt)

[2017-02-13 23:57] riiight commented on #3312
This issue is happening to me today as well.

[2017-02-14 03:02] singlewind opened #3602 "semi-colon separation in command field of ssh task"
By design, the ssh task will separate command with semi-colon which makes challenge for cases like if we have semi-colon in the parameters which not suppose to be separated. Like connection string in .NET Core.

The code may can be improved by not separate quoted strings like printf "a=b;c=d" to printf "a=b and c=d"

[2017-02-14 03:49] mvvsubbu commented on #3312
@arjgupta

To follow up on this issue

[2017-02-14 06:19] vimegh commented on #3588
@marianogenovese  You can refere to #3492 . We dont show test console output for passed tests. Only in case of failed tests, you will be able to see the console output of test in Test tab of completed build or in build UI while running tests.

[2017-02-14 06:34] #1644 closed

[2017-02-14 06:53] ericsciple commented on #3592
what about the timeout on the job? i believe it's on the general tab of the definition. default is 60 minutes.

[2017-02-14 06:59] ericsciple commented on #2736
@zlphoenix sorry i missed this issue. iirc in 2015 unchecking "log timeline events" may turn off relativizing the paths (side effect). in 2017 i think it will always be full path.

[2017-02-14 07:14] jamesatgithub commented on #3592
@ericsciple thanks! didn't know that timeout on the General tab

[2017-02-14 07:14] #3592 closed

[2017-02-14 09:12] olandese commented on #3595
We solved the problem. After deleting the endpoint in VSTS we recreated the principal and the endpoint and everything works fine.

[2017-02-14 09:12] #3595 closed

[2017-02-14 09:24] jvalladolid opened #3604 "Copy and Publish Build artifacts - Cannot bind argument to parameter 'StagingFolder' because it is null"
Hi all.

I'm facing to the same problem that was posted here a month ago more or less. This is the thread that described the issue
https://github.com/Microsoft/vsts-tasks/issues/3392

In my case, I'm trying to upload the screenshots generated when there is an error running a functional test. I'm using a "Copy Publish Artifact" task inside a Release definition in VSO
![image](https://cloud.githubus

[2017-02-14 09:28] lmussier opened #3605 "Coverage data for native linux builds"
Hello,

I have a question regarding #3036 and the newly available linux hosted machine.
The cobertura task only accepts coverage report aligned with coverage-04.dtd, the fact is a lot a linux native builds are based on gcc which generate it own type of coverage reporting (with lcov). A common way to integrate coverage reports to CI services (i.e jenkins) is to generate cobertura report from gcc re

[2017-02-14 09:51] smartin34 opened #3606 "NuGet Publisher Tasks with additional option "ignore existing packages""
Let’s assume you have a TFS build process which produces 30 NuGet packages, each with its own package version.
29 packages are unchanged, just the contents of a single package has been changed, so the developer increases the version number for this package in AssemblyInfo.cs using the AssemblyInformationalVersion.
Other 29 packages are also produced with each build, because the build is configured

[2017-02-14 10:01] cltshivash commented on #3588
You should be able to download the trx of the test run from run details/summary. The trx will contain all the information that you are looking for.

[2017-02-14 10:02] cltshivash commented on #3492
You should be able to download the trx of the test run from run details/summary. The trx will contain all the information that you are looking for.  Does this help answer your query ?

[2017-02-14 11:52] aelij opened #3608 "ServiceFabricDeploy: A communication error caused the operation to fail"
During an upgrade operation, seems like one of the calls to `Get-ServiceFabricApplicationUpgrade` failed, and it caused the release to fail, although the upgrade completed successfully on the Fabric.

I suggest wrapping this call in a try...catch block.

[code]

[2017-02-14 13:02] nigurr commented on #3583
@Cva2904 we did receive your mail :)
Can you uninstall Test Agent from the machine and install manually from here https://go.microsoft.com/fwlink/?LinkId=615472 or from MSDN install Test Agents 2015 Update 3.

This should have the fix for this issue. please let us know if you are still facing the issue

[2017-02-14 13:25] bhushanjogi opened #3610 "Visual Studio Team Services Agent Deployment task stuck indefinitely on all subsequent builds after reboot"
Hello devops_tools@microsoft.com,

Need you help.. VSTS build is stuck in the queue indefinitely and it shows build cancelling but doesn't cancel..

Following if the error :
ERROR:
System.ServiceModel.AddressAlreadyInUseException: Cannot listen on pipe name 'ne
t.pipe://localhost/taskagent/49/2c17f384d8ff129f087b0697352a9b4f' because anothe
r pipe endpoint is already listening on that name. ---> S

[2017-02-14 14:14] treierts commented on #3610
Where did you find this error? We are also having problems with our Hosted Build Agents. The build jobs are queued up and waiting for a free agent, but all agents are Online & Ready. Nothing happens.

[2017-02-14 14:27] bhushanjogi commented on #3610
try executing .RunAgent.cmd from agent folder on buildserver.. If its working properly it will kick start the agent but in this case it throws above error message.. please let me know if you find the solution

[2017-02-14 14:31] treierts commented on #3610
I ran the .Run.cmd in my agent folder, and it just says this:

[2017-02-14 15:07] bgoldman69 commented on #999
So im going to call out @ericsciple  here for not saying "yes" or "no" to the original question and confirming or denying the required / requested outcome.  I believe the answer is "yes - and you do just point to a different directory, but you need to make sure to download the agent each time you do an install because there is some configuration done pre-download each time" but it would be a good

[2017-02-14 15:09] andygjp opened #3612 "Cannot queue or cancel hosted agent build"
Hi,

I queue a build over three hours ago which never completed. The system reported that there were 2 items in the queue, but there was only one. I have cancelled the build and tried to queue another, but it seems it is stuck cancelling the previous build. Everything was working fine yesterday. The account is: aiswebprod.visualstudio.com

Please can you investigate the issue as this is stopping w

[2017-02-14 15:55] bhushanjogi commented on #3610
@treierts   any update ?
@devops_tools@microsoft.com  please respond

[2017-02-14 17:14] ericsciple commented on #999
@bgoldman69 yes you can run multiple agents on one machine, just make sure they dont point to the same _work folder

[2017-02-14 17:16] ericsciple commented on #999
yes the docs do not seem to address specifically running multiple agents on one machine. i'll follow-up with appropriate folks offline

[2017-02-14 21:13] marianogenovese commented on #3588
Hi, is possible to change that behaviour, show my trace writes always?

[2017-02-15 02:37] jamesatgithub commented on #3582
@DavidStaheli this could be caused by the overall timeout setting on the build definition in General tab

[2017-02-15 02:37] #3582 closed

[2017-02-15 03:56] danports commented on #3485
I was experimenting with VSTS today and was excited to see that it had native support for SFTP transfers...but then when I tried it, I soon concluded that this task transferred files so slowly it was basically unusable. I tried uploading files from my own agent via this task and via WinSCP; this task used only ~1Mbps of the agent's available upstream bandwidth, whereas the WinSCP transfer maxed ou

[2017-02-15 05:33] nigurr commented on #3528
@cgapeart I tried reproducing the issue. I am able to publish the files in *nix with wildcard support.

Can you share your file structure and task configuration

![image](https://cloud.githubusercontent.com/assets/15208679/22961719/2944c726-f36e-11e6-8b49-8d64fc5ee52e.png)

![image](https://cloud.githubusercontent.com/assets/15208679/22961735/4b8271bc-f36e-11e6-8f3f-e239cfff6a83.png)

[2017-02-15 08:42] yuvallb commented on #3485
I replaced the copyOverSsh task with a command line task running pscp, using a preconfigured putty session with a public key authentication. It works perfectly.
I agree it would be nice to have the copyOverSsh task work, as my workaround requires too much configuration and moving parts.

[2017-02-15 09:06] vimegh commented on #3516
@ytimenkov We are planning to remove "other console options" Input in vstest 2.0 task. We will be exposing the Isolation option on UI and for specifying /platform:x64 one can use run settings file. for eg: check TargetPlatform in https://msdn.microsoft.com/en-us/library/jj635153.aspx?f=255&MSPPError=-2147217396
which you can do presently also as a workaround to specify platform argument in console

[2017-02-15 09:21] vimegh commented on #3352
@jasonbrome As per discussion on email, you were facing this issue as Code Coverage was not getting published due to jacoco Report getting skipped. We are expecting that you will be providing us a sample multimodule gradle project in order to further debug this issue. Please let us know if there is any update on that.

[2017-02-15 10:54] gustavgahm opened #3620 "Display Name property from XUnit test result xml file"
I use the _Publish Test Result_ task to publish a TestResult.xml file (genereaded by xunit) in my build. When i look at the test result in vsts only the name of each test method is displayed. I would very much like the Name property as well.

![image](https://cloud.githubusercontent.com/assets/382210/22971206/42feb51c-f375-11e6-9521-980fdb651aa7.png)

The xml could look like this:

[code]

[2017-02-15 16:34] cgapeart commented on #3528
The task configuration is pretty much the default, but it was looking for $(Build.StagingDirectory)/TEST-*.xml

**/Test-*.xml was used as well, but it couldn't find the files either.

As you can see in the logs from your test run, **/Test-*.xml is off of the /s/ directory by default on linux.  On windows it will pull from /a/ as well.

Admittedly, our build configuration dumping the files in the /

[2017-02-15 18:42] renatotkr commented on #3111
any updates on this issue?

I have a similar problem with copy files task when clean is enabled
`2017-02-15T12:57:44.5509653Z Cleaning target folder: \\univmfs01\projetosprot$\Backup\AvaliacaoDesempenho\
2017-02-15T12:57:44.5509653Z ##[debug]rm -rf \\univmfs01\projetosprot$\Backup\AvaliacaoDesempenho\
2017-02-15T12:57:50.1920133Z ##[debug]creating path: \\univmfs01\projetosprot$\Backup\AvaliacaoDe

[2017-02-15 18:47] miker1423 opened #3624 "Service fabric definition not working"
Hello, I'm trying to build a Service Fabric project that contains some services built on .Net Core targeting .Net 452, when the build definition triggers to build it fails with the following error message:

`
Error MSB4041: The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please add xmlns="http://schemas.microsoft.co

[2017-02-15 19:14] gburghardt commented on #3358
I'm getting the same error building a NuGet Packager solution in Visual Studio 2013. I just updated the NuGet Package Manager extension for VS 2013.

[2017-02-15 19:51] rh78 commented on #3521
Unfortunately 2.4.164 fails during installation. It says a newer version is already installed!!

[2017-02-15 20:03] MikkelHegn commented on #3521
@rh78: Where are you trying to install the SDK?

[2017-02-15 21:07] rh78 commented on #3521
In the meanwhile I got it to install (downloading the MSI directly) (Windows 10). But then still there was a crash when opening the project in Visual Studio. But i solved it: it was because Visual Studio was set to German. When set to english everything works.

[2017-02-15 21:13] dbreshears commented on #3521
@rh78. We have a known issue when installing Localized versions of the tooling on the 5.4.164 release.   We are working on a fix for this now.

[2017-02-16 00:11] naveenmangtani opened #3625 "Find-Files throws System.IO.PathTooLongException"
I am running a CI for an on premise application and one of the task is to execute unit tests.
When I dig in to the problem, I find that the VSTest.ps1 task in build agent executes this line of code:
$testAssemblyFiles = Find-Files -SearchPattern $testAssembly -RootFolder $sourcesDirectory
and then throws this error:
2017-02-15T23:58:25.5190204Z ##[error]System.Management.Automation.CmdletInvocatio

[2017-02-16 00:46] treierts commented on #3610
This was our issue, I don't know if this is related to your issue:

https://blogs.msdn.microsoft.com/vsoservice/?p=13385

[2017-02-16 04:11] nigurr commented on #3625
Hi,

Copy your test libraries to some other folder C:\tests\ and use that folder in VsTest task. That should mitigate the issue. This is limitation of Windows OS path

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: naveenmangtani <notifications@github.com>
Sent: Thursday, February 16, 2017 5:41:27 AM
To: Microsoft/vsts-tasks
Cc: Subscribed
Subject: [Microsoft/vs

[2017-02-16 06:53] LaevaertK commented on #3521
@kbulte @MikkelHegn Also having this problem (VSTS Hosted Agent doesn't have SDK version 2.4.164 installed)...
Any update?

[2017-02-16 08:24] hqer2k9 opened #3628 "Post Clean Up ends up with error"
Trying to clean up the vnext agent working directory with the "Delete Files" task.

when executing the build, it finishes as partialy succeeded with the following error message:

[code]

looking into the agent directory, the "S" folder is still there, but empty.
I then tryed using inline poweshell with a 10 second wait pause, but the error still comes up.
any ideas how to post clean up the source

[2017-02-16 10:03] Mertsch opened #3631 "Non-Fatal - fatal: Not a git repository (or any of the parent directories): .git"
This is absolutely not fatal at all, as I am building from TFVC

[code]

[2017-02-16 10:18] arjgupta commented on #3587
hi podgito, earlier you would have been passing additional arguments as -setParam:name=**"**MyParam**"**,value=**"**test**"**
Please try passing like so: -setParam:name=**'**MyParam**'**,value=**'**test**'**
just replace the " with '  . It should work

[2017-02-16 10:28] arjgupta commented on #3575
Hi degant, can you please share your web.config file with RM_Customer_Queries@microsoft.com

[2017-02-16 10:37] podgito commented on #3587
Yes, thank you, that worked.

[2017-02-16 12:38] podgito commented on #3587
Apologies, I jumped the gun on that saying it worked. It did not throw the error this time. However examining my server after the deployment it seemed like the setParam did nothing. However changing the name and value to not use any quotes works on the server. AFAIK the quotes should be used when names or values have spaces in them. So I believe this is still an issue.

[2017-02-16 13:04] #3516 closed

[2017-02-16 13:08] vimegh commented on #3506
@Rurouni It seems Unix/linux does allow colon as a valid character in filename. We will take that as a bug internally, you can use the workaround for now.  Closing the issue.

[2017-02-16 13:08] #3506 closed

[2017-02-16 13:15] DavidStaheli commented on #3111
@ericsciple, this appears to affect multiple tasks.  Do you advise fixing this in the task-lib and having the tasks adopt a new task-lib version?

[2017-02-16 15:19] arjgupta commented on #3587
Hi podgito , can you send us the debug logs for the case when you are replacing " with '

[2017-02-16 15:22] madhurig commented on #2067
@jamesatgithub: The fix was deployed several months back to VSTS. You should not need any changes to be made on the MacInCloud agent. Can you please open a new issue with your build log or post your log here?

[2017-02-16 15:49] andygjp commented on #3612
Seems to have resolved itself

[2017-02-16 15:49] #3612 closed

[2017-02-16 15:58] ericsciple commented on #3111
@renatotkr are you able to confirm whether the crude retry logic i pasted above eliminates the problem you are seeing?

[2017-02-16 16:31] madhurig commented on #3485
@yuvallb: Sorry for the issues you are facing and thanks for providing the workaround you are using. Our tests with files and directories in the size range you mentioned didn't show performance issues (completed in < minute). Are you using the hosted build VMs or your own windows build servers? What types of files are you transferring?

@danports:
We are using a cross platform native node library

[2017-02-16 16:44] ryanbennett commented on #693
I received the same error after creating an Azure Function and trying to deploy my website.

[2017-02-16 16:55] mohdumairakbar commented on #693
Installing the latest version of Powershell through web platfrom installer worked for me.

Make sure you restart your machine after installing latest powershell else you will face error "he required module 'Azure.Storage' is not loaded"

[2017-02-16 17:08] ryanbennett commented on #693
Deleting the Azure function from my App Services screen let me continue building. Thankfully I was just testing the Function capabilities and not using it for anything

[2017-02-16 19:00] ChristopherHaws opened #3636 "NuGet Packager Version Selection"
Hello,

I was wondering if there is any particular reason that the NuGet Packager task does not have the ability to select a NuGet version to use. NuGet Installer and NuGet Publisher both have this ability, so it seems strange that NuGet Packager doesn't.

Thanks!

Chris

[2017-02-16 19:19] renatotkr commented on #3111
@ericsciple

I've tried as suggested but it didn't work

I noticed that I'm using copyfiles version 1.0.13 and there are newer versions, I guess this may be the problem.

I'm using TFS on premise, but I didn't find out how to update it. Could you help?

Thanks!

[2017-02-16 19:29] StefH commented on #2126
@tiefling

Did you solve that `No executable found matching command "dotnet-test-xunit"` issue ?
Because I can run **nunit** tests like this:
[code]

But how to run **xUnit** ?

[2017-02-16 20:54] ericsciple commented on #3111
@renatotkr if you want to build the repo (contribute instructions in readme.md), then you can use tfx to upload the copy files task layout that is produced under _build\tasks\copyfiles. you would want to build a release branch, releases/m112. i added a change in m112 so that if you select "clean", then it only cleans the contents and doesnt drop the folder. that may solve the problem you are runni