[2017-09-08 09:04] RaleS opened #5275 "ServiceFabricDeploy: Removes all application instances when using invalid parameters file"
Providing an invalid application parameter file removes all applications.

In this case, publishing profile xml file has been used as input for Application Parameters.
This was initial deployment of Service Fabric application.
Deployment task Overwrite Behavior is set to Always.

Agent version: 2.120.2
Service Fabric Cluster version: 5.7.198.9494

[2017-09-08 09:06] IvanAlekseev commented on #5259
@vincentdass added more info. Will it be enough?

[2017-09-08 10:12] nigurr commented on #5213
@kalin-toshev interesting. Can you try one simple thing in your local and see if it works (honestly, we tried without any sessions in our local lab, not able to repro)

In your local build agent can you change this [LoadUserProfile] to "true" - https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/DeployVisualStudioTestAgent/TestAgentConfiguration.ps1#L141

Really appreciating your help in thi

[2017-09-08 11:11] MEbbesenDB commented on #5218
I don't know if this helps, but when I want to run a remote PS Script that needs to run something in an elevated prompt, I start the script out with the following in my scriptblock:

If (-NOT ([Security.Principal.WindowsPrincipal][Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole]::Administrator))
			{
				$arguments = "& '" + $myinvocation.mycomman

[2017-09-08 13:32] bryanmacfarlane commented on #5260
What version of TFS?

[2017-09-08 13:33] bryanmacfarlane commented on #5260
This seems more like a designer issue than a task issue ...

[2017-09-08 13:45] MassicotteB commented on #5260
For TFS 2017 update 1.

[2017-09-08 14:46] mayeager22 commented on #5218
I have tried a variation of this, but it did not seem to help.

I have a Powershell script that call another Powershell script with several functions.  Would it suffice to just put this elevation check in the wrapper script?

[2017-09-08 16:01] iyerusad commented on #4743
**Possible Workaround:** Use Azure Key Vault

Shove values into Azure Key Vault using AZ CLI. Download the values from Azure Key Vault in the phases you the data need it in.

**Note:** When pulling down the values, using the `Azure Key Vault` specific task will redact the "secret" values pulled down across the phase. Only one irksome issue I had with this: You cannot explicitly set the secret valu

[2017-09-08 16:28] kdubau opened #5276 "Publish Test Results task does not include test attachments for NUnit results"
When using the NUnit result format in Publish Test Results task, if the tests have test attachments, they are not published along with the results.

[code]

but
![image](https://user-images.githubusercontent.com/2809202/30221413-243beede-9491-11e7-8430-cedc68027fd0.png)

Let me know if you need any more information!

[2017-09-08 18:13] eschrader commented on #5043
Hi Eric, thank you for the workaround, copying the files to a folder in the build staging directory (with filters) then copying all items from there to the FTP copy task worked.

[2017-09-08 18:32] kalin-toshev commented on #5213
Yes, I looked at that, but I do not think the suggestion above will work with the existing code. The reason is that LoadUserProfile is only 'taken into account' if we also have something in startInfo.UserName and this not case (when running as service - we run under the same account).  LoadUserProfile (LOGON_WITH_PROFILE) is only significant if startInfo.UserName is also set i.e. when Process.Star

[2017-09-08 18:34] whihathac commented on #4743
Hmm, yeah any kind of storage - KV if the environment variables are secrets, or you can just use Storage/ServiceBus or even CosmosDb with minimal schema to get this to work! You can also use fileshare and save this data in files if you can provide restricted access.

[2017-09-10 14:35] omeshp commented on #5136
@Symbianx @JacobHenner In Release Management artifacts can be extended via contributions, it should be easy to integrate different providers using extensions. Which git/svn providers do you want to integrate with. @Symbianx If it is vsts/tfs git then https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.vss-services-externaltfs extension might help.

[2017-09-11 03:57] nigurr commented on #5224
This error occurs if there is any proxy settings are being used and addressing the proxy issue is in our backlog. We will be supporting it soon.

[2017-09-11 03:57] #5224 closed

[2017-09-11 06:17] Cva2904 opened #5279 "Can we stop and start DTAAgentExecutionService on remote machine using TFS Build Definition Continuous Integration"
Dear team,

Can we stop and start DTAAgentExecutionService on remote machine using TFS Build Definition ][Continuous Integration].

Do let me know if you need further inputs from my side.

Kind Regards,
Siva. A

[2017-09-11 09:50] Symbianx commented on #5136
@omeshp Currently we are using on-premises GitLab for our repositories. Although it would be great to have a native GitLab integration, we would be happy with the external Git artifact source present in the VSTS builds.

[2017-09-11 10:17] #5174 closed

[2017-09-11 10:28] xenalite opened #5283 "Run functional tests - test results includes an unrelated past test run"
After a CI test run failed, I examined the test results. They included an unexpected test run from months ago (see completed date for the top one), as well as the current one.
This is the first time I saw an issue like this. The 2 test runs are from 2 different test VMs as well.

![image](https://user-images.githubusercontent.com/4509839/30270249-ca191012-96e3-11e7-896d-275c1bc88a62.png)

Using la

[2017-09-11 12:11] iyhammad commented on #3762
I'm facing the exact same issue. I tried many ways but the build is still failing.
I've created a stack-overflow question.
https://stackoverflow.com/questions/46155449/use-vsts-to-build-a-solution-with-vsts-packages-and-old-style-csproj
Thanks,

[2017-09-11 13:32] manisko opened #5286 "Error during first build - cannot download sources"
Error: Exit code 255 returned from process: file name 'tf', arguments 'vc workspaces /format:xml /collection:https://dgsit.visualstudio.com/ /loginType:OAuth /login:.,******** /noprompt'.

Build Server contains BizTalk 2016 Feature Pack 1, VS 2015, SQL Server 2016

Fresh agent: 2.120.2

Logs from task Get Sources:

Evaluating condition for step: 'Get Sources'
Evaluating: succeeded()
Evaluating suc

[2017-09-11 13:50] iyhammad commented on #3762
I resolved my own issue by using **NuGet Tool Installer** and install Nuget 4.3.0 instead of 4.1.0

[2017-09-11 16:34] sweetsruthi commented on #5040
installing from above MSI worked thank you.

[2017-09-11 17:49] manisko commented on #5286
After installation CU1/CU2 (BTS2016-KB4014788-ENU.exe) it works.

[2017-09-11 17:49] #5286 closed

[2017-09-11 18:04] tlisiecki commented on #5078
Hi @bishal-pdMSFT
Any news on that hotfix?

[2017-09-11 22:36] racemills89 commented on #5265
Also having the same issue. Is there any way to achieve referencing two feeds from my internal VSTS packages within the same .Net Core restore task?

[2017-09-12 02:06] lucasmaj opened #5291 "Instances lost when using Azure Cloud Cloud Service deployment task"
When using Azure Cloud Cloud Service deployment task the number of role instances appears to be dictated by the service configuration file. This process disregards the currently applied scales.

For example, while autoscale on production slot would have bumped up # of instances to lets say 20 because of high load, a release to that slot would bring # of instance down to whatever the service config

[2017-09-12 02:14] alexmullans commented on #5265
Checking in a NuGet.config is the right way to go when you're using multiple feeds. The task will automatically provide credentials for all VSTS feeds in the same account as the build.

[2017-09-12 02:14] #5265 closed

[2017-09-12 02:15] bryanmacfarlane commented on #5243
not a task issue from this repo.  also an open ended question, not a specific issue

[2017-09-12 02:15] #5243 closed

[2017-09-12 04:29] nigurr commented on #5279
@Cva2904 currently it's not possible. To run tests in remote machine, use "Deploy Test agent task and Run functional test task"

[2017-09-12 04:29] #5279 closed

[2017-09-12 05:03] vincentdass commented on #5259
@IvanAlekseev , Is there any web jobs enabled in App Service (including Application Insights)?
Did you enable `Rename locked files` option too?

[2017-09-12 06:18] #5040 closed

[2017-09-12 07:22] bishal-pdMSFT commented on #5078
@tlisiecki we are working on this. This got pushed out a bit due to some other high priority items.

[2017-09-12 07:31] lovakumar commented on #5233
The AzureKeyVault task uses the request node module that needs a different proxy configuration. Please try setting the HTTP_PROXY and HTTPS_PROXY on the build/release definition "Variables" tab. Let us know if that helps.

Examples:
HTTP_PROXY=http://username:password@proxyserver:port
HTTPS_PROXY= https://username:password@proxyserver:port
I found that putting username:password in quotes does not

[2017-09-12 08:00] lovakumar commented on #5233
More details can be found [here](https://github.com/Microsoft/vsts-agent/blob/61b82a80f224e444932e1a830ca49276872f3c54/docs/start/proxyconfig.md).
https://github.com/Microsoft/vsts-agent/blob/61b82a80f224e444932e1a830ca49276872f3c54/docs/start/proxyconfig.md

[2017-09-12 08:20] Cva2904 commented on #5279
@nigurr

the reason for this is that my build definition is failing at deploy test agent task. so we thought of stopping the service after build completes and restart the service before deploying the test agent.

can i have your skype for bussiness id, so that i can explain the issue in detail.

Thanks in advance,
Siva.

[2017-09-12 08:39] whichrakesh commented on #5283
Hi Oskar,
Can you please provide the name of your VSTS account?

[2017-09-12 08:45] xenalite commented on #5283
@whichrakesh
rcss-02-willistowerswatson

[2017-09-12 08:55] nigurr commented on #5279
Please drop a mail: devops_tools at   microsoft  dot com

[2017-09-12 09:47] omeshp commented on #5163
FYI this should get resolved once the latest task (M123) gets deployed.

[2017-09-12 10:22] Cva2904 commented on #5068
@nigurr

the link related to download test agent in the above url is not working.

can you share me the latest url.

thanks in advance,
Siva.

[2017-09-12 10:42] vincentdass commented on #4787
@DanielBMann9000 , Is the issue resolved?

[2017-09-12 10:56] #4569 closed

[2017-09-12 11:08] bishal-pdMSFT commented on #5025
Removing service fabric label as this is question related to Azure PS and not to any SF deploy tasks.

[2017-09-12 13:30] schmichri opened #5295 "Add -allowProvisioningUpdates to the xcode-archive step as variable"
Hi MS-Team,

Apple will provide XCode9 with automatic signing on the commandline very soon. Please enhance xcode.ts for VSTS to support `-allowProvisioningUpdates` during archive-export.

E.g. as boolean field or something.
[code]
Otherwise Xcode9 Auto-Signing is not working in VSTS

[2017-09-12 14:28] jwace81 opened #5296 "dotnet pack datetime versioning not guaranteeing that a newer package will have a higher version"
A package generated on 8/8 had the version 1.0.0-CI-**201788**-*, but then a build produced on 8/11 had the version 1.0.0-CI-**2017811**-*.  The 8/11 package is seen as older than the 8/8 package.  The date time versioning should probably use 2 digit numbers for the month and day so the versions become 1.0.0-CI-20170808-* and 1.0.0-CI-20170811-*.

[2017-09-12 17:38] alexmullans commented on #5266
The task copies the NuGet.config to a temporary location to safeguard the credentials used for authenticated feeds. However, there's a "Destination directory" setting further down in the task that you can use to specify a restore location relative to your code base - can you give that a shot?

[2017-09-12 17:38] #5266 closed

[2017-09-12 17:39] alexmullans commented on #5236
Can you update the NuGet Restore task to version 2, and also add a "NuGet Tool Installer" task at the beginning of your build set to 4.3.0?

[2017-09-12 17:41] alexmullans commented on #5148
@anangaur can you comment here?

[2017-09-12 18:03] anangaur commented on #5148
Doesn't the following command pack symbols and sources?
`> nuget.exe pack <csproj> -Symbols`

Alternatively, If you are multi-targeting in the same project i.e. if you are using:
[code]
then you can set the following properties in the project file (csproj) and a **regular build** will generate **one**  package that targets both the TFMs along with the symbols and sources:

[code]

[2017-09-13 01:02] rmarinho commented on #4365
I still have this issue even wit the new flag to rename locked files..

I don't like the approach for the workarounds.

[2017-09-13 04:14] whichrakesh commented on #5174
Owner and priority are updated based on the run and in this case, there was a different run that wasn’t publishing the owner info while publishing results from "Publish test results task". The customer has agreed to fix this from his side.

[2017-09-13 05:11] ludydoo opened #5302 "Nuget task add -ForceEnglishOutput"
I have a non english system.

When using Nuget pack, I get this error in my agent

[code]

Adding the  -ForceEnglishOutput  in nugetpack.js

[code]

Fixed the error

[2017-09-13 05:46] SayusiAndo opened #5303 "Run unit tests with Run only impacted tests option enabled: UnMatched Results found error."
Hi All,

I have a build where "Run impacted tests only" option is enabled. The build executes unit tests successfully, but when while collecting the result it fails. Please find part of the log below.

Unit test framework: xUnit
Visual studio version: 2017

What is the maximum length of a fully qualified name of a test case? 256 chars?

If the "Run impacted tests only" is disabled it works fine.

[2017-09-13 05:56] vincentdass commented on #4526
@rubenfa , does the [workaround](https://technet.microsoft.com/en-us/library/cc794944(v=ws.10).aspx) provided resolved the issue?

[2017-09-13 06:09] vincentdass commented on #4365
@rmarinho , Is App Offline flag enabled in Release definition?
Can you please add `-retryInterval:6000  -retryAttempts:10` in Additional arguments of Web Deploy option?
We have another [thread ](https://github.com/Microsoft/vsts-tasks/issues/1607)to monitor the same issue.

Is there any webjobs or Application Insights extensions running in your App Service?

[2017-09-13 06:28] LokiMidgard opened #5304 "OutOfMemoryException using the DistributedTest"
I recive an `OutOfMemoryException` using the DistributedTest. My test case has around 380 tests of which were 237 were actually executed and the rest skiped (*Assert.Inconclusive()* this should be no problem). On TFS 2010 this was no problem.

If I interprete the logs corectly, this happens when the results (all in a bulk, I asume) are transmitted at the end of the Test.

Splitting the Test in mul

[2017-09-13 06:54] rubenfa commented on #4526
No. Is not working yet.

From host computer I can run this command without problems:

`Invoke-Command -computername COMPUTERNAME -UseSSL –ScriptBlock {Get-Process} -Cred
ential ""
`

That command prompts for user and password. I'm introducing the same user that we have configured in VSTS Remote Powershell Task, and it is working (we receive a list of processes on the remote computer).

I don't bel

[2017-09-13 07:27] kuglerus opened #5305 "[DeployTestAgent] TestAgentConfiguration task stop with ErrorActionPreference exepction (TFS2017,VMWare)"
Hi everyone,

As part of continuous integration, i have created build definition to execute my unit tests on remote machine.
I have a TFS 2017 Server in domain and a test domain VMWare virtual desktop.
I configured the build and i opened the https port with winrm commands.
In the log you will see the build server can communicate with the client.
TestAgentConfiguration task stop with ErrorActionPre

[2017-09-13 08:17] SGStino opened #5306 "Builds fail at random on unit tests with 0 failed."
Sometimes, builds fail at the Test step, but when looking into the logs, i see thatall test passed, yet the entire run fails.

Build N:
[code]
Build N+1:
[code]

Build N+2:
[code]

Full log of one of the failed builds:
[code]

[2017-09-13 10:31] whichrakesh commented on #5283
We investigated the issue and found that the test run data that you have imported to VSTS have associations with releases prior to migration. As the releases data have not been migrated and now that the releases are getting created from the start, this is causing the corresponding old test runs associated with the release ID to show up. As you queue more releases, you would be seeing other old tes

[2017-09-13 11:29] IPO-srh-sloan commented on #5233
I've added in the HTTP_PROXY and HTTPS_PROXY environment variables as suggested by @lovakumar and this works fine, thanks.

[2017-09-13 11:31] #5233 closed

[2017-09-13 11:55] rmarinho commented on #1607
Hey @vincentdass discuss moving from #4365

Nop i didn't put the app offline, I will try. I m not using webjobs but i m using ApplicationInsights.

[2017-09-13 12:12] arjgupta commented on #4991
the issue was fixed with later versions of the task. We ignore if there is an error in importing any azurerm submodule

[2017-09-13 12:12] #4991 closed

[2017-09-13 12:12] MSTestAuto commented on #2865
I am experiencing the same issue with TFS 2017. When will this be fixed?

[2017-09-13 12:37] MSTestAuto commented on #4003
I contacted them and they said it should hopefully be fixed in 2-3 sprints. In the meantime, we're pushed to use the new vnext build because of our new feature that will fail the old xaml builds. We created a workaround with our tfs admin where he actually copies all the Test Case data/parameters to a separate sql server DB with each test case having its own table (updated automatically with the T

[2017-09-13 12:51] nesshoever opened #5310 "Task 'Deploy Test Agent' fails: Test Agent installation/update stuck"
I created a VS 2017 solution that executes UI tests (using Chrome through Selenium). I build and deploy this test solution through VSTS to a VM (Win Srv 2012, VS 2017 Community installed).
After upgrading the VM to Visual Studio 2017, the next deployment got stuck with the task 'Deploy test agent' during the installation of the Visual Studio 2017 test agent. The setup process remained at 100% CPU

[2017-09-13 12:54] nesshoever opened #5311 "Task 'Run Functional Test' fails because test run aborted."
I created a VS 2017 solution that executes UI tests (using Chrome through Selenium). I build and deploy this test solution through VSTS to a VM (Win Srv 2012, VS 2017 Community installed).

The task 'Run functional tests' fails, when I use 'Test Plan' as 'Test Selection' with the message: "System.Exception: The test run was aborted, failing the task."
If I use 'Test Assembly' as 'Test Selection Va

[2017-09-13 13:09] SamNutkins commented on #3765
I'm having this issue as well.  Seems like a fairly common scenario to have a daily build dropped into a network share (new folder each time).  This works with a simple robocopy call, but i'm forced to write my own script instead of being able to use this task.

[2017-09-13 13:19] PBoraMSFT commented on #4003
@MSTestAuto @nshr12 - this is being picked up for execution this sprint. We expect this to be available on VSTS in 2-3 sprints and on TFS on-prem in the next available update cycle.

[2017-09-13 14:03] nesshoever commented on #5311
Apologies... found out myself after not being able to let it rest ;)
The tests have all been set into 'In progess' by another tester. For some reason, this status has not been reset even though the locally executed tests had been terminated.
Once the test cases were reset to 'Ready', the task completed as expected.

[2017-09-13 14:03] #5311 closed

[2017-09-13 14:29] MSTestAuto opened #5313 "vNext Release - Run on Agent high deployment timeout doesn't work"
I have set a 360 timeout for a vNext release as we run a lot of automated tests. But it times out at 60 minutes and aborts the current test run.

Configuration:
![image](https://user-images.githubusercontent.com/29276768/30382782-578ca7f2-98a0-11e7-87d6-165306b59b1c.png)

Test run timeout:
![image](https://user-images.githubusercontent.com/29276768/30382837-82c1bdfe-98a0-11e7-888d-2f7dc11f9ffb.png

[2017-09-13 14:35] MSTestAuto opened #5314 "TFS 2017 Test Run - Cannot manage test run manually like stop and restart tests"
In Test Manager, Test Runs can be stopped, and tests can be reset back to active so that they can be rerun again.

But when the test run is started with the new vnext Build/Release, there is no way of performing these same actions on TFS. Even if the Build/Release that started it is stopped, the Test Run is still In Progress.

Please implement these same features with TFS 2017. We shouldn't lose f

[2017-09-13 16:20] AlexKeySmith commented on #2987
Hi, was there any progress made in the end?

It would be great not to even need to specify a password and have the VSTS deployment service principal be the admin of the database server.

[2017-09-13 16:45] IvanAlekseev commented on #5259
@vincentdass - this is a dummy service name - http://errorfileinuse-msexample.azurewebsites.net and we have a problem with recommendations api.
We have app insights enabled and no other webjobs.
I will try with `Rename locked files` option and tell you the results, for now we deploy to staging and then swap with prod

[2017-09-13 19:48] darrentraffk commented on #5094
After updating to .NET Core 2.0, we're experiencing the same issue on VSTS.  Any test project referencing a .NET Core app 2.0 web project fails with "error NU1105: Unable to find project information for {the web project}"  If we remove the test project, then everything builds fine on VSTS.  If we add a reference to the web project from other test files, those fail also.

[2017-09-13 21:21] rmarinho commented on #5112
👍 on this.. any news @bryanmacfarlane ?

[2017-09-13 21:22] RaleS opened #5318 "NuGet Command: Microsoft.VisualStudio.Services.Common.VssServiceException: TF400898"
NuGet push (NuGetCommand 2.0.6) failes with internal error
Exception: Microsoft.VisualStudio.Services.Common.VssServiceException: TF400898
NuGet version: 4.3.0.4406

[code]

[2017-09-13 22:27] emanuelquintero opened #5319 "dotnet commands (test/pack) do not work if project depends on authenticated feed"
There's dotnet commands which implicitly build the projects and implicitly restore packages if needed.
In the case for dotnet pack, the task should probably pass the --no-restore to avoid restoring packages.
There should also be documentation saying that if the project depends on packages coming from authenticated builds, a dotnet restore should be put in place before other dotnet tasks.

[2017-09-13 23:00] darrentraffk commented on #5094
@trbngr Thanks.  This worked for me.

For others, to be more specific, comment out:

`<DotNetCliToolReference Include="BundlerMinifier.Core" Version="X.X.XXX" />
`

The PackageReference can stay.

[2017-09-13 23:37] jukai16 opened #5320 "Azure Resource Group Deployment: Unable to edit or replace deployment"
Hi,

I have multiple apps using the same ARM template during deployment. I am using multiple on-prem agents and understandably apps can be deployed simultaneously.

In some instances the _Azure Resource Group Deployment_ is kicked off at the same time. The challenge I have is, because the task creates a deployment with the following name: _[template name]-yyyymmdd-hhmm_ (for example: azuredeploy-2

[2017-09-14 01:14] kngrace commented on #5152
It appears my npm run test was in fact not in the correct directory. Once I fixed that, it was able to locate and run jest just fine.

Thanks for encouraging me to double check my directory variables. I hadn't noticed they were more complex within this team environment than I expected.

[2017-09-14 01:14] #5152 closed

[2017-09-14 04:18] vincentdass commented on #4889
@komby , sorry for the delayed response.
We have identified the cause of the issue and working on the fix . #5312

[2017-09-14 06:05] LokiMidgard commented on #5304
I tried to avoid the problem running multiple tests in one Build. So I'll still have an overview of all tests in this build. I put 40 tests in one Test Suite and have 6 Test Suits. before every Test Suite I run deploy test agent task. The 4th test still got an OutOfMemoryException. Running the tests in a batch of 80 standalone was no problem

[2017-09-14 06:16] vincentdass commented on #4889
This issue is resolved and the fix will be available in the **0.0.24** task version

[2017-09-14 06:16] #4889 closed

[2017-09-14 09:06] psandhu79 commented on #5018
Any update on when we might see this ?

[2017-09-14 09:07] benc-uk opened #5324 "Most settings for Azure App Service Deploy task are missing in new release editor"
When using v3.0 of the *Azure App Service Deploy* task and the new release editor, nearly all the important settings are missing/hidden. See screenshot

![2017-09-14_100025](https://user-images.githubusercontent.com/14982936/30421277-285b5ffc-9934-11e7-9ffc-44c19033d973.png)

If you switch to the old editor you can see them
![2017-09-14_100055](https://user-images.githubusercontent.com/14982936/30

[2017-09-14 09:14] vincentdass commented on #5324
@benc-uk , The additional input field shows up when you provide the subscription name and App Service name in appropriate input fields. This change is made to dynamically render appropriate fields for the selected app service (Windows App / Linux App)

[2017-09-14 09:17] vincentdass commented on #2398
Closing this issue as there is no response.
Feel free to open the issue, if required.

[2017-09-14 09:17] #2398 closed

[2017-09-14 09:19] benc-uk commented on #5324
The fields do not appear when you have picked a subscription and webapp, here I have them set as linked paramters

![2017-09-14_101821](https://user-images.githubusercontent.com/14982936/30421889-210eef3c-9936-11e7-98ac-db24a3bde208.png)

[2017-09-14 09:19] #4787 closed

[2017-09-14 09:22] benc-uk commented on #5324
Even if I unlink the those parameters and pick my sub and app name from the dynamic drop down list, I still see no other settings below
(Note. the linked parameters is how it was set up by the template "Deploy Node.js App to Azure App Service")

![2017-09-14_102024](https://user-images.githubusercontent.com/14982936/30421983-7173f8d2-9936-11e7-9e01-9000918f4889.png)

[2017-09-14 09:29] benc-uk commented on #5324
OK. I can see those extra fields if I add the tasks to an empty process and don't use the *Deploy Node.js App to Azure App Service* template.

This is a problem on two levels:
- I want to use that template when teaching people VSTS as it sets some of the extra but confusing things needed (like the web.config settings required for Node.js)
- If it only works when you pick something from the dynamic

[2017-09-14 10:02] cltshivash commented on #4996
@raman91dogra This works for tests that work through through the VS test platform. You can write a custom adapter to make the UFT tests runs as part of it. https://github.com/Microsoft/vstest

[2017-09-14 10:02] #4996 closed

[2017-09-14 10:07] vincentdass commented on #4526
@rubenfa , Can you please mail the logs to` RM_Customer_Queries@Microsoft.com`?
We can take this thread offline to quickly unblock you from the issue.

[2017-09-14 12:09] 50802353 opened #5325 "Permission denied when using file share if agent service user doesn't have the permission"
The build agent running as userA while the file share folder is granted for userB.
There's no configuration in build task for me to config the credential to let these tasks work as userB.

This affects two tasks below:
- Copy Files
- Publish build artifacts (to File Share)

Please help fix ASAP.

[2017-09-14 12:34] karlrissland opened #5326 "Azure file copy - No files copied to VM"
Working with the AzureVMs File Copy Task with no luck.

I can see the files copied to the storage account correctly, then get cleaned up.  But, no files are copied to my target VM and no errors are logged.

**Here I show my task configuration.**

![taskconfig](https://user-images.githubusercontent.com/9871029/30429578-f9e0e664-9925-11e7-8d67-bace87d429f7.PNG)

**Here you can see that I am targetin

[2017-09-14 12:43] schmichri commented on #5295
Guys, this is pretty urgent for us. Is there a way to speed this up?

[2017-09-14 12:47] dbtfsbre commented on #5095
I read further and it seems that what I am trying to do (connect to Workgroup machines via HTTP) is not supported: https://www.visualstudio.com/en-us/docs/build/apps/cd/deploy-webdeploy-iis-winrm

So I am going to change to HTTPS. Only I need to use a script which configures WinRm and creates the certificate with the correct computer name after creating our virtual machines.

[2017-09-14 12:49] #5095 closed

[2017-09-14 13:13] vincentdass commented on #5324
@benc-uk , thanks for the info. It's a genuine issue and will be fixed soon.

[2017-09-14 13:25] vincentdass commented on #5324
@benc-uk , updated the comment with more info.
Closing the issue as the workaround provided will resolve the issue.

[2017-09-14 13:25] #5324 closed

[2017-09-14 14:30] RoopeshNair commented on #2987
@AlexKeySmith

Unfortunately, we haven't been able to get to this. Currently working on few high priority items.
We do encourage contributions, if you are willing to share it would be awesome and other users can benefit as well.

Thanks,
Roopesh Nair

[2017-09-14 14:33] RoopeshNair commented on #3765
Appreciate if you can vote on [uservoice](https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/category/145269-release-management). It will help in better prioritization and tracking. Thank you

Roopesh Nair

[2017-09-14 14:58] xenalite commented on #5135
@nigurr
We are still seeing this issue, albeit less often, with TA 2015 U3.

[DTAExecutionHost.exe.txt](https://github.com/Microsoft/vsts-tasks/files/1303446/DTAExecutionHost.exe.txt)

Can you please advise what is the recommended way of running non UI tests on a remote test VM?
Should we keep using "Run functional tests" task or should we create a Deployment Group and run "Visual Studio Tests" ta

[2017-09-14 15:00] xenalite commented on #5283
@whichrakesh
Is there going to be a fix for this issue to perhaps only associate the latest release ID with the test run, or should this issue be closed?
We might have to remove old test runs prior to the migration to prevent further false-negative test failures.

[2017-09-14 15:07] RoopeshNair commented on #5245
You can explore multiple execution deployments section: https://docs.microsoft.com/en-us/vsts/build-release/concepts/process/phases#agent-phase or use Deployment Groups to run task in parallel on multiple agents at the same time.

[2017-09-14 15:07] #5245 closed

[2017-09-14 15:29] nphmuller commented on #5259
Same issue here: [dummy](dummy-fileinuse.azurewebsites.net) Happens on both the staging and production variant of the api app. I have `Rename locked files` and `Take App Offline` enabled. Still get the error.

Retrying the deployment usually works.

I have tried `-retryAttempts:10` but not `retryInterval:6000`. Will probably work as a workaround when I try the deployment with both.

[2017-09-14 15:58] madhurig commented on #5295
@schmichri : Hi,

We support running Xcode9 builds in VSTS as long as you provide the provisioning profiles. Even with auto-signing, you can collect the provisioning profiles from the developer machine. What issue are you seeing with signing? Please share your logs here or email them to me at madhurig at microsoft.com.

To support "-allowProvisioningUpdates", the build server will need access to y

[2017-09-14 16:43] whichrakesh commented on #5283
These are some of the ways to fix this.
- You can set a retention policy for the test runs before migration so that these get deleted. This is the best and the fastest solution if you don't need the old test runs data as it will take care of removing the other metadata corresponding to the test run.
- We can delete the test runs which have old invalid releases associated with them.
- We can set th

[2017-09-14 18:26] AndrewASel commented on #5197
Hello @nigurr
Thank you! I updated test agent to 15.3 and tests associated with multiple test cases are executed. I have one more question: I noticed that if test assigned to 2 or more test cases it executed 2 or more times. I our case we have tests which cover 10 test cases, this test executed 10 times and it take very long time. Is there available any option or setting which allow run test once

[2017-09-14 18:38] pan-wang commented on #5259
could you please collect event log from AppService portal and  share it? In general, a windows event will be logged once the file change of app_offline.htm is received and the IIS component try to gracefully shutdown the backend asp.net process.

[2017-09-14 21:45] lavahot opened #5332 "Cannot find xamarinios.js?"
So I keep getting this error where the agent cant find xamarinios.js when running the task as a build step. Of course, there is no xamarinios.js, only a xamarinios.ts. When is this supposed to be transpiled? Did I miss a step when I uploaded this task? Could there be some prerequisite that I missed installing?

[2017-09-14 21:50] bryanmacfarlane commented on #5332
Did you upload the source code and not the built task?

[2017-09-14 21:52] bryanmacfarlane commented on #5332
https://github.com/Microsoft/vsts-tasks/blob/master/docs/contribute.md

Shows how to build a task.

[2017-09-14 21:52] #5332 closed

[2017-09-14 21:53] bryanmacfarlane commented on #5325
That's currently the requirement.  The agent must runs as the account that copies the files.

There's is a long term feature on the backlog to support "registered shares" where you provide the credential and we use that.

[2017-09-14 22:00] w3he commented on #4300
Observing the similar issue with a newly created solution today.  Somehow, it fails to restore the Newtonsoft.Json package when built through the TFS build agent.  Interactive build with VS works fine.  All the other packages are restored fine, too.

[2017-09-14 22:03] lavahot commented on #5332
Yep, that's exactly what I did, my mistake. Thanks for the quick response.

[2017-09-15 00:14] JasonTheProgrammer commented on #468
I'm still unclear on what the proposed approach is? The summary by @azooinmyluggage is unclear.

The link refers to an article for packaging output using a gulp task, but that packaging means manually specifying which files and folders are included in the zip.

The strength of the Visual Studio build step is that these flags: `/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFil

[2017-09-15 00:30] sergsalo opened #5334 "Azure File Copy: Increase SasToken TTL"
Is there a way to increase "Storage Container SasToken" TTL from default 4 hours? I want to have it like a year.

[2017-09-15 04:35] mjsabby commented on #5039
@dandancode We should create a VSTS sourceLink nuget package since this is a common thing people will like to do.

This is a good one we use internally in Bing that I can think we can make official since it uses the VSTS build agent variables and populates it for them.

[code]

[2017-09-15 04:49] mjsabby opened #5335 "Create an official Microsoft.VSTS.SourceLink nuget package"
I'd like to propose we create a nuget package to make it trivial for people to do SourceLinking when using VSTS Build Agents.

VSTS has publicly documented build variables that we can use to target most customers' build scenarios with respect to SourceLinking if not all.

The following targets I'm proposing are for VSTS GIT Repos AND VSTS Build Agents. You can imagine we'd like to make another for

[2017-09-15 05:56] nigurr commented on #5197
@AndrewASel I am sorry to say this, currently there's no workaround available. From the user perspective, test execution supposed to execute all test cases from test suite. We don't validate on the associated test methods.
Alternatively, you can combine your multiple test cases into single test case and associate to one test method.

[2017-09-15 05:59] mjsabby commented on #5335
@dandancode

[2017-09-15 06:02] nigurr commented on #5135
@xenalite
We recommend you to move to VsTest v2 task and use Build agent in Interactive mode [v2.120.x supports this functionality - https://github.com/Microsoft/vsts-agent/releases/tag/v2.120.2]. We will be publishing the blog about same sooner.

[2017-09-15 09:21] schmichri commented on #5295
@madhurig Hi,

This is what we've tried but it's actually not the case. XCode9 in the agent has an valid Developer Portal sign-in.
If've provided `-allowProvisioningUpdates` in Advanced->Arguments but it is not passed to the exportArchive Step in the task
![bildschirmfoto 2017-09-15 um 10 50 24](https://user-images.githubusercontent.com/8415907/30474455-08d456d6-9a04-11e7-90a4-57d2b85df867.png)

`

[2017-09-15 09:54] RoopeshNair commented on #5334
For security reasons, default expiry time is set to allow enough time to complete the deployment. If you need longer duration, you can use custom script.

[2017-09-15 09:54] #5334 closed

[2017-09-15 10:33] IvanAlekseev commented on #5066
Today I've found that coverage is now displayed correctly for .net core project

![ivan 2017-09-15 11-30-34](https://user-images.githubusercontent.com/23052247/30478555-70a45220-9a09-11e7-919a-9a0a867b583a.png)

This is what I had to do to make it work
![ivan 2017-09-15 11-32-45](https://user-images.githubusercontent.com/23052247/30478598-a3872d66-9a09-11e7-88d5-00675e44ab05.png)

[2017-09-15 11:53] #5325 closed

[2017-09-15 12:14] russelldyas commented on #5245
@RoopeshNair

I don't think that solves the issue as that will run same RM job several times.  But the RM process would still need to have one task for each website.  We want to be able to give the task a list of sites or resource group and single task deploys to those sites.

[2017-09-15 12:33] henkmollema commented on #1607
How can this be closed? We still hit this issue daily and is really killing a productive CI workflow.

[2017-09-15 14:14] divad4686 opened #5342 "Run shell inline on remote machine, with docker-compose fails the build on regular docker-compose output"
I'm running a docker-compose command on a remote server using the remote shell script task, and it looks  like very line docker-compose output to the console is tagged as an error by the Shell script Task in VSTS

![capture](https://user-images.githubusercontent.com/1509269/30486444-de670858-9a30-11e7-875d-ae36e6698323.PNG)

[2017-09-15 14:46] jpricketMSFT commented on #4044
@karann-jain - thanks for providing repro steps. We will take a look at this issue soon.

[2017-09-15 14:50] divad4686 commented on #5342
The probles in with docker-compose output some of the messages to stderr. I will close this

[2017-09-15 14:50] #5342 closed

[2017-09-15 14:55] lavahot opened #5343 "task repo build process does not support building from behind a proxy"
Unfortunately the mechanism used to download blob files does not respect HTTP_PROXY, HTTPS_PROXY, nor NO_PROXY environment variables (or their lowercase versions), which makes building behind a proxy impossible. Please make this mechanism proxy aware, preferably referencing the aforementioned environment variables.

EDIT FOR CLARIFICATION: I'm referring to when tasks are built with `node make.js b

[2017-09-15 14:56] ericsciple commented on #5343
Which task?

[2017-09-15 15:03] lavahot commented on #5343
Well, lots of them, anything that downloads a blob. To name two: ArchiveFiles and XamariniOS.

[2017-09-15 15:07] lavahot commented on #5343
[code]

[2017-09-15 16:01] madhurig commented on #5295
@schmichri: You are right, we are not passing in the additional args to export. In your case it might help to have additional args for export specifically since sharing the additional args for build and export doesn't make sense. I can see that being useful in general too.

Thanks,
Madhuri

[2017-09-15 16:03] lei7081 opened #5344 "Cloud-based Web Performance Test not exposing self-provisioned agent group"
Found a previous issue reported here: https://github.com/Microsoft/vsts-tasks/issues/3668 , wondering if it has been fixed. If not, do we have an alternative to run performance test on intranet site on a schedule also collecting diagnostic data?

[2017-09-15 17:37] kardinal3000 opened #5345 "upload extension and get "Cannot insert dublicate key row in object""
Hello guys,

I create my custom extension and use your task  "PowerShellOnTargetMachines." your task use "DeploymentUtilities\Microsoft.TeamFoundation.DistributedTask.Task.Deployment.Internal.psm1"

When I tried to upload Extension  ".vsix package" I faced with unexpected issue:

`Cannot insert duplicate key row in object 'Gallery.tbl_Asset' with unique index 'PK_tbl_Asset'. The duplicate key valu

[2017-09-15 18:19] joe45sp opened #5346 "Cannot pass an array of strings in the Override Template Parameters setting"
I have tried every combination I could think of:

{\"East US 2\"}
[\"East US 2\"]
@(\"East US 2\")
{"East US 2"}
["East US 2"]

Every time I get the following error:
2017-09-15T18:11:35.9031720Z ##[error]Deployment template validation failed: 'The provided value for the template parameter 'webAppLocation' at line '1' and column '1392' is not valid.'.
2017-09-15T18:11:35.9031720Z ##[error]Task fail

[2017-09-15 18:36] jeffputz commented on #5259
There are at least three versions of this issue floating around, all with workarounds that don't work for everyone. It became an issue again with .NET Core v2 release time... perhaps the thing that changed has something to do with it? Having to change your build process and endure a lot of pain with every release isn't great for productivity.

[2017-09-15 19:02] rposener commented on #1441
So, I'm still dealing with this -have to scale up my Azure SQL Db to a Premium RS3 everytime before deployment.  This is a pain - any chance this will get fixed at some point?

[2017-09-15 19:02] rposener commented on #1441
@Ajay-MS any chance we can get this Issue re-opened?

[2017-09-15 19:11] coreyzw opened #5348 "Cannot use slot name "production" when stopping/starting web app slots"
When attempting to stop or start a web app's primary slot (using a VSTS template that allows for deployment of a slot being designated through a variable), it will not allow the manipulation of the slots status with the name "production". Other VSTS tasks that handle this process allow for it.

Example of process:
Build kicked off, variable entered value of "production" used for the slot name (thi

[2017-09-15 21:14] sergsalo commented on #5334
why not to by default set it to 4 hours but allow people to still configure it?

[2017-09-16 13:41] vincentdass commented on #1607
@henkmollema , apologies for the inconvenienvce.
We have an active thread [here ](https://github.com/Microsoft/vsts-tasks/issues/5259)to follow on this issue.

[2017-09-16 14:40] rmarinho commented on #5259
Ok let's just talk here :) i have the same issue, workaround is manual turn off the slot.. i don't like that kills productivity ..

[2017-09-16 15:29] CleberDSantos commented on #3762
It's working fine for me:

Aspnet core 2.0

![image](https://user-images.githubusercontent.com/1626423/30513491-8d970bbc-9ada-11e7-8e81-e1e560fa9aae.png)

![image](https://user-images.githubusercontent.com/1626423/30513483-5d4c629a-9ada-11e7-9742-d339e12a0d41.png)

[2017-09-17 12:32] davidobrien1985 opened #5351 "Azure Resource Group Deployment should return outputs"
Hi team,

I don't really understand why the Azure Resource Group Deployment tasks don't capture the "outputs" property of an ARM deployment template..
The CLI and PowerShell both return this object so that we can use these values in subsequent steps.
In VSTS, using the built-in task, I have to script my own "Get" and then create custom VSTS environment variables.
This seems like an inconsistency b

[2017-09-17 12:36] davidobrien1985 commented on #5351
Actually, I just found https://github.com/Microsoft/vsts-tasks/blob/d226e225e69338c179bdf087d82bd7158e456193/Tasks/AzureResourceGroupDeployment/operations/ResourceGroup.ts#L405

Why is this commented out?

[2017-09-18 02:28] Jassi1313 commented on #3953
Hi Prachi..
I am not able to send the email to that address..

On Mon, Jul 31, 2017 at 9:31 PM, Prachi Bora <notifications@github.com>
wrote:

[2017-09-18 04:23] nigurr commented on #5213
@kalin-toshev can you please try this? https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/DeployVisualStudioTestAgent/TestAgentConfiguration.ps1#L150
Can you explicitly add line 'Start-Sleep -Seconds 60' and try running the same (we tried different ways to repro in our labs, couldn't :-/ )

If our theory is correct, within that 60 seconds, the DTAExecutionHost will kick in the assembly reso

[2017-09-18 04:44] RanjanarMS commented on #5314
Thanks for the feedback. I am adding @PBoraMSFT our product owner to take this forward.

[2017-09-18 04:49] RanjanarMS commented on #5313
Sorry for the issue you are noticing, can you please enable the debug logs (by adding the variable "System.Debug = true") and send us the same. Also please let us know you ****.visualstudio.com account name.

[2017-09-18 05:57] LokiMidgard commented on #5304
Moving the failing tests to the beginning let those pass, but later test will fail with an `OutOfMemoryException`

[2017-09-18 06:38] vincentdass commented on #5326
@karlrissland , `Enable Copy Prerequisites` option is enabled and it configures the WIMRM HTTPS port automatically.
![image](https://user-images.githubusercontent.com/20121508/30531128-bdea41b8-9c69-11e7-9553-2e6c60e862a5.png)

Can you please share the following details to debug the other issue:
* Debug logs for the release
* Number of VM's associated with the resource group selected
* Can you ple

[2017-09-18 06:40] vincentdass commented on #5345
@kardinal3000 , Can you try changing the GUID of the custom extension and then upload the updated extension?

[2017-09-18 07:15] kardinal3000 commented on #5345
Hi @vincentdass

GUID of the custom extension  - you mean to do this in the extension manifest.json?

[2017-09-18 07:22] kalin-toshev commented on #5213
Yes, this would mitigate the problem as it would give a chance for the resolver to resolve the assemblies (at least in the beginning) while the hive is still loaded (as I said, I cannot try this unless it's deployed in VSTS, because I have no access to the agents), but it's not ideal, because if we (ever) need to resolve something after that (may never happen), we would still hit the issue. That's

[2017-09-18 08:10] xenalite commented on #5283
@whichrakesh
We set retention policies for old test runs.
Thanks.

[2017-09-18 08:10] #5283 closed

[2017-09-18 08:26] RanjanarMS commented on #5310
There is no need for installing Visual Studio in the test VM. Please use a clean VM without VS.

[2017-09-18 08:28] nigurr commented on #5213
@kalin-toshev thanks for the info. I will try out that. We are moving towards "VsTest v2" task and deprecating the "Run Functional test" task. So I am just weighing the right fix given that service can't keep running [out of our control].

[2017-09-18 08:31] RanjanarMS commented on #5306
Can you try the below things to help us trouble shoot this further:

1.	Before queuing the build,
a.	Change the build variable system.debug to true. (This will enable verbose level debug logs).
b.	Change the Trace levels to 4 in the vstest.console.exe.config file in the build agent machine
2.	Collect the build logs from the build summary, and the vstest logs from %temp% and share them with us.

[2017-09-18 08:34] RanjanarMS commented on #5305
Sorry for the inconvenience. This error happens when the DTA machine (test domain machine) is not able to  communicate to the TFS machine via http or https. Please see if you can ping the tfs machine from the DTA machine.

[2017-09-18 08:39] nesshoever commented on #5310
The description includes TWO machines. One machine for the build process (having VS 2017 installed). The other machine (for the tests) does NOT have VS 2017 installed, just the VS2017 test agent, which should originally be triggered by the build task, if I understand that correctly.

[2017-09-18 09:26] SunnyOswal opened #5353 "Limitation:VSTS Build definitions support a single server task when "run at server" option is enabled"
Hi Team,

Currently I see that there is a limitation that if we run Agentless task i.e server based task, we cannot add more tasks to the build definition.
Is VSTS team working on removing this limitation. If yes, could you please share the release timelines .

Thanks.

[2017-09-18 09:26] henkmollema commented on #1607
@vincentdass, thanks. I'll keep an eye on that.

[2017-09-18 10:40] LokiMidgard commented on #5304
I tried to clear the temp folder befor every test run, but didn't helped either.

[2017-09-18 11:04] aivendor opened #5359 "Failed to run selenium automated test in Azure VM (server 2016) with Run functional test task"
Our release definition:
https://mseng.visualstudio.com/AppInsights/_apps/hub/ms.vss-releaseManagement-web.cd-workflow-hub?definitionId=334&_a=environments-editor-preview
We've created an azure VM whose VS is server 2016.
chromedriver.exe was copied to the directory of build artifact folder. It can be started. But the URL left "data;" and whole browser is empty.
Is there something extra we need to

[2017-09-18 12:20] cltshivash commented on #5359
You need to check on selenium forums on the compat requirements/error.

There's one improvement you can do is to use the vstest v2 task itself for running UI tests. You can configure the agent to run interactively and can do distribution as well. Please read : https://blogs.msdn.microsoft.com/devops/2017/03/26/vstest-task-dons-a-new-avatar-testing-with-unified-agents-and-phases/

[2017-09-18 12:20] #5359 closed

[2017-09-18 13:17] kaadhina commented on #5310
"VM (Win Srv 2012, VS 2017 Community installed)" Can you please confirm that this is not the case?
If this VM has VS 2017 Community installed, please retry on a clean VM
If it does not, please  collect the logs from c:\testagent if you are on v2 of deploy test agent task, c:\dtalogs if you are on v1 and share them with us.

[2017-09-18 13:53] madlenerc commented on #5303
I'm running into the same problem, except I don't get the lines about the name being too long. I'm also getting only messages about data driven tests. If I download the test results from the build machine everything is reported correctly but in TFS a lot more than the results of the mentioned tests in the log have missing results and appear as pending. Please let me know if I can provide any more

[2017-09-18 14:14] sachinma commented on #5351
You have correctly identified that we have plans for enabling this feature. However, it is aligned to work with another in-preview feature https://github.com/Microsoft/vsts-agent/blob/4ae90b42c97c285a1a83541fb81872cc0ba0c14d/docs/preview/outputvariable.md . We hope to roll-it out soon..

[2017-09-18 14:18] sachinma commented on #5346
Array parameters and complex objects were not supported in over-ride section till recently. You could have specified them in the parameters file.
We have just added support for them in over-ride parameters and the fix is rolling out to customers in stages. You should see it in around 2 weeks.

[2017-09-18 14:21] sachinma commented on #5320
Thanks for reporting this. As you  pointed out, there can be a conflict with the deployment name format that we have chosen. We will work on fixing this.

[2017-09-18 14:47] sachinma commented on #4994
Apologies for the late response. You can now use the ".NET Core Tool Installer" task install the desired version of the .Net core sdk that your project depends upon.

[2017-09-18 14:48] nesshoever commented on #5310
I see, my description has been not very good. I used to build on a VM using 2017 Community, but I moved for the build to VSTS.
The VM running the test agent only has the Visual Studio 2017 Test Agent installed. The deploy task is V2, so I attached the DTAExecutionHost.exe.log (as TXT file).
[DTAExecutionHost.exe.log.txt](https://github.com/Microsoft/vsts-tasks/files/1311057/DTAExecutionHost.exe.lo

[2017-09-18 14:55] FelschR commented on #5161
@bishal-pdMSFT @MikkelHegn
It seems the VSTS images weren't updated with the new SDK yet?

[2017-09-18 15:13] KrishnaAdityaB commented on #5245
This blog covers an example of multiple agents https://blogs.msdn.microsoft.com/jikuma/2016/12/13/run-phase-on-multiple-agents-in-parallel/

[2017-09-18 15:20] jdshkolnik opened #5361 "Older NuGet version re-appearing in _tool folder"
Hi,

When I use the deprecated NuGet Packager task, it uses externals\nuget.exe and works fine. When I use the new NuGet task, it fails because it uses an older version that appears under the _tool folder even if I first delete it. How do I prevent this?

[2017-09-18 17:11] emanuelquintero commented on #5296
This issue will be solved by [this PR](https://github.com/Microsoft/vsts-tasks/pull/5347).
The fix will go out in the next deployment.

[2017-09-18 17:11] #5296 closed

[2017-09-18 17:11] keithrob commented on #5219
@ljani ,
The documented way to override nuget.exe is to use the nuget tool installer task ahead of any subsequent build steps.  This will place the version of nuget you selected from the tool installer at the front of $PATH.  Notice [this](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/Common/nuget-task-common/NuGetToolGetter.ts#L88).

Public documentation on the nuget tool installer is

[2017-09-18 17:11] #5219 closed

[2017-09-18 17:12] emanuelquintero commented on #5166
This issue will be solved by [this PR](https://github.com/Microsoft/vsts-tasks/pull/5347).
The fix will go out in the next deployment.

[2017-09-18 17:12] #5166 closed

[2017-09-18 17:12] emanuelquintero commented on #5165
This issue will be solved by [this PR](https://github.com/Microsoft/vsts-tasks/pull/5347).
The fix will go out in the next deployment.

[2017-09-18 17:12] #5165 closed

[2017-09-18 18:58] jabbera commented on #5018
I've got a beta implementation of authenticode signing with secure file here:  https://github.com/jabbera/vsts-authenticode/releases  for anyone interested. Once I get some feedback I'll publish the full task to the marketplace.

[2017-09-19 02:42] keithrob commented on #4812
Still waiting on logs.  Closing this out.

[2017-09-19 02:42] #4812 closed

[2017-09-19 02:48] keithrob commented on #5006
Closing this out based on previous comment.

[2017-09-19 02:48] #5006 closed

[2017-09-19 02:52] keithrob commented on #5106
Duplicate #4905

[2017-09-19 02:52] #5106 closed

[2017-09-19 02:54] keithrob commented on #5148
Closing based on previous suggestion.

[2017-09-19 02:54] #5148 closed

[2017-09-19 02:58] keithrob commented on #5164
@grantwar,
We recommend you use the [Nuget tool installer](https://docs.microsoft.com/en-us/vsts/build-release/tasks/tool/nuget) to control the version of nuget used by all of your build steps.  Placing, the tool installer at the top of your build task will affect subsequent invocations of nuget because the tool installer will fetch the version you indicated an place it at the head of $PATH.
Keith

[2017-09-19 02:58] #5164 closed

[2017-09-19 03:03] ds-ms commented on #5346
@joe45sp
use ["East US 2"] as the value,
if you're using Release Editor, add a new variable system.debug and set the value to true,
if you're using Build editor, set the value system.debug to true
And queue a build/release accordingly and attach the logs here.

[2017-09-19 03:04] keithrob commented on #5302
Glad you found a work-a-round.  However, curious to know which version of the nuget task you were using and whether or not you were using the nuget tool installer as a build step.  Looks like it was trying to resolve a fr resource bundle and couldn't find it.

[2017-09-19 05:35] ljani commented on #5219
That task is only going to land in TFS 2018, right?

[2017-09-19 05:36] vincentdass commented on #5348
@coreyzw , thanks for reaching out.
Are you referring to Azure App Service Manage task?

[2017-09-19 07:31] hkusulja commented on #5259
It worked for me before, and it stopped working about 2 months ago, and still have issues. My app is asp.net core v1 including the asp.net 4.6.1 , I did not change my app or deployment procedure. Issue still persist. Second build always passes. I have same issue for multiple VS TS projects / and azure web sites.

[2017-09-19 09:40] SteveSims2 commented on #3447
I have to agree with the OP, many times I just barely need 550 characters, or 600, and suddenly I have to go the whole route of checking in a file.   2000 would be a more sensible limit.    The UI text box experience is fine for a 2000 limitation.

[2017-09-19 09:47] LokiMidgard commented on #5304
I have found a workaround for now. Befor every testrun I reset the VM to a snapshot and redeploy the Testagent. However this takes 25 minutes more for tests. And still 20 miniuts more then not reseting the machine but only deploying the Testagent again. I hope there are other ways to handle this. It is a huge drawback for migration to 2017 if tests takes 25 minuts more.

[2017-09-19 10:41] madhurig commented on #5295
This attached zip file has a new version of the task that allows passing in "Export Arguments".

[Xcode.zip](https://github.com/Microsoft/vsts-tasks/files/1313912/Xcode.zip)

To upload to your account:
1.	Unzip attached zip file
2.	Install tfs-cli
`tfx login` (enter collection url followed by PAT)
 `Tfx build tasks upload –task-path <unzipped Xcode task location>`

Thanks,
Madhuri

[2017-09-19 11:01] bishal-pdMSFT commented on #5161
Assigning this issue to @chrisrpatterson as he own updating hosted agent images

[2017-09-19 12:19] dasMulli commented on #5236
@alexmullans is the "NuGet Tool Installer" supposed to be available on TFS 2017 Update 2? I was unable to find it..

[2017-09-19 12:21] dasMulli commented on #5236
better to continue the on-prem discussion in https://github.com/Microsoft/vsts-tasks/issues/5109

[2017-09-19 12:23] dasMulli commented on #5109
Is there a way to install the "official" nuget tool installer to the on-prem TFS? Really need to use NuGet 4.3 now for mixed `packages.config` / `PackageReference` solutions requiring `netstandard2.0` support for `net461` projects.

[2017-09-19 13:32] x3r10n commented on #3312
I have the same issue. I have an app plan with 3 website (dev / pre prod / prod) and it looks like the deploy process get stuck, it timeout after 6h and the cpu stay at 100% usage I have to restart each web site to drop the cpu to normal...

[2017-09-19 13:47] vincentdass commented on #3312
@x3r10n , this issue seems to be different. Can you please share the debug logs to investigate?
Please share the app name [privately](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly), if required.

[2017-09-19 13:51] vincentdass commented on #5259
@hkusulja , Is App offline flag enabled?
Can you please try adding `-retryAttempts:10  -retryInterval:6000` in Additional arguments of Web Deploy?
In this way, we increase the retry time for deployment.

[2017-09-19 13:59] jeffputz commented on #5259
I did that and it had no effect.

[2017-09-19 14:14] x3r10n commented on #3312
@vincentdass  Sure, heres the info from my dev environment :
![image](https://user-images.githubusercontent.com/4524121/30596530-5b6035f2-9d22-11e7-82b7-9515eb316ffe.png)

2017-09-18T21:21:34.5851826Z ##[section]Starting: Deploy Azure App Service
2017-09-18T21:21:34.6031837Z ==============================================================================
2017-09-18T21:21:34.6031837Z Task         : A

[2017-09-19 14:48] davidobrien1985 commented on #5351
@sachinma awesome, thanks for confirmation. That will mean I can soon remove my custom code.

[2017-09-19 14:55] TroySchmidt commented on #5259
Having the same issue.  Using a continuous deployment release definition in VSTS.  It randomly fails deploying because the file is still in use.  I have tried the retryAttemps, retryInterval, put stop and start management tasks around the deploy.  This is still happening regardless of any workarounds other than manually redeploy until it works.

[2017-09-19 14:58] coreyzw commented on #5348
Sorry yes. Its the Azure App Service Manage task.
Appreciate you looking into it. Being able to call out the slot as production as well as any other slot name through a variable allows us to use a single release workflow to target up to 5 slots.

[2017-09-19 15:47] RoakyWood opened #5370 "Task Fails on unpack of 'Test Execution' File"
Hi folks!

OS: Windows 2012 R2 no Service Pack
TFS Version: TFS 2017 Update 2
Time: Defective Since TFS Update 1 (i.e., worked before doesn't work now. No other relevant changes)
Software: Issue is with the Deploy TestAgent Task
Activity: Run Automated Tests through the Build Feature against a Test Agent.
Experience Level: Automated testing suites through Microsoft TFS on Prem since 2013
User Resp

[2017-09-19 17:16] psandhu79 commented on #5018
I will there also be a tool to use with Sign when using .snk certificates ?

[2017-09-19 17:44] elferone opened #5372 "Override Template Parameters not working for securestring on V2"
When trying to override 2 parameters, which the 2 of them are securestring, only the first one works. the second parameter doesn't get replaced and I get this error message when releasing:

Deployment template validation failed: 'The value for the template parameter 'appOnlyAuthClientSecret' at line '1' and column '772' is not provided. Please see https://aka.ms/arm-deploy/#parameter-file for usag

[2017-09-19 20:57] pspill opened #5374 "DotNetCore task, restore command, default should be "selectOrConfig": "select""
The default settings for DotNetCore restore task should be "Feeds to use: Feeds I select Here" and "Use packages from NuGet.org" checked.  That way, if a user selects this tasks and does nothing other than select their project to build, they will get a basic restore from nuget.org.

Currently the default is "Feeds to use: Feeds in my Nuget.config" and an empty path to nuget.config, which results i

[2017-09-19 21:00] pspill opened #5375 "DotNetCore task, missing loc string"
If the task has "use feeds in my Nuget.config" and an empty config path, they will see the following in their log:

##[warning]Can\'t find loc string for key: NGCommon_NoSourcesFoundInConfig
##[warning]NGCommon_NoSourcesFoundInConfig d:\a\1\Nuget\tempNuGet_1252.config

[2017-09-19 21:07] jainr commented on #5077
I am getting a similar error where VSTS Hosted Linux Preview agent does not come pre-installed with az cli. Is downloading it from within the script the recommended workaround?

[2017-09-19 21:14] mitch-b commented on #3896
We are in a situation where we have multiple developers - with multiple connected MSDN Azure subscriptions - registered as services in TFS. If I wanted to deploy a new Web App (and related assets) to my MSDN, I need to create a duplicate Release Management environment, and switch all of the ARM deployment tasks to my subscription. Everyone will have to do this, then our UAT/Production environments

[2017-09-19 22:23] iyerusad commented on #5077
@jainr It appears per comment https://github.com/Microsoft/vsts-tasks/issues/5077#issuecomment-326818748 that `az cli` is NOT currently included as part of the Hosted Linux Agent Preview.

To workaround, I was able to use the steps outlined by @davidobrien1985 here: https://github.com/Microsoft/vsts-tasks/issues/5077#issuecomment-326750491. This works as expected and allows Azure CLI tasks to run

[2017-09-20 04:06] N-Usha commented on #3896
We are sorry for the trouble you are having Mitchell. We have now added the feature enhancement to our backlog and would soon be addressing it soon (exact timelines are not available though for now). Will keep you posted once its available. Thanks!

[2017-09-20 05:53] ds-ms commented on #5372
@elferone could you attach some debug logs and the way you've overrode those parameters for some investigation. Also, the template you've used.

[2017-09-20 05:55] nigurr commented on #5133
@ericsciple after updating the VstsTaskSdk version, I am seeing below message in Task and seems to be genuine
the psm1 file is having reference to the dll, however it's not being present in the lib.

[code]

[2017-09-20 08:04] kuglerus commented on #5305
Hello!
I checked the Internet Explorer settings. I managed to communicate with TFS(on DTA machine).
I tried the build again and I still get same error message.

Any other ideas?
Thank you in advance for your help

[2017-09-20 09:24] sachinma commented on #5351
Reopening it until this is deployed.

[2017-09-20 09:58] KrishnaAdityaB commented on #4543
@zivillian We were able to reproduce this issue with 2016 server. I am marking this as a bug and we will work on it.
@Rajat-Jindal We were not able to reproduce the issue with 2012 R2 server. I will re-open the original thread, we can follow up there.

[2017-09-20 10:04] KrishnaAdityaB commented on #4885
@Rajat-Jindal Sorry for the delay in response.
As I was mentioning on other thread - We were not able to reproduce the issue with Windows Server 2012 R2. Can you try a simple script (provided in #4543)

[code]

[2017-09-20 10:45] KrishnaAdityaB commented on #5218
@mayeager22 Sorry for the delay in response. Adding @vincentdass who is taking care of customer issues for this week and next.

I am still not convinced, what you were facing was because of not having admin rights.
From the logs I saw, all commands returned with Exit code 0. And the expected file was from %temp% folder. I might be wrong, but writing to user's %temp% folder shouldn't require admin

[2017-09-20 13:02] baywet opened #5380 "Enhancement npm publish "skip if already exists option""
Quick suggestion here. We're deploying packages automatically using the npm task in publish mode.
It's really great, the only thing that's missing would be an option to "skip publishing if the package with same name and version is already on the feed" thus avoiding error and failing the release.

[2017-09-20 14:28] henning-krause commented on #5109
@dasMulli, can you use my workaround: Revert to version 0.x of the task? That got a "Works on my machine award" :-)

[2017-09-20 14:43] nigurr commented on #5213
Just an update, I tried adding 2min wait in the starting of DTAExecutionHost before Assembly Resolver kicks in and made sure that no user sessions are active, and still working in our labs. Never ran into UNEXPECTED error :(

[2017-09-20 14:54] ericsciple commented on #5133
@nigurr you are missing [this line](https://github.com/Microsoft/vsts-tasks/pull/4660/files#diff-903a6497ecbd54360703b61bb1dd869eR23).

[2017-09-20 15:07] dasMulli commented on #5109
Which requires installing a nuget.exe on each machine in the same location or adding one to the project :( (ugly but yeah).
I was hoping for a ps1 script to install the missing task just like the script for vsbuild/msbuild tasks for 2017 RTM+Update1

[2017-09-20 15:08] henning-krause commented on #5109
I just added a download task for nuget as a first step in my pipeline....

[2017-09-20 15:38] dasMulli commented on #5109
Turns out I can also use the 1.* task when I add this to your script to set the variable that the new NuGet tasks use:
[code]

[2017-09-20 16:40] henning-krause opened #5382 "dotnet restore fails on Linux Agent with System.ArgumentNullException"
I've successfully connected a Linux Build Agent to my On-Premise TFS (2017.2). Now, running a build with a "dotnet restore" command yields this error:

[code]

I've installed the .net Core 2.0 SDK on the Build Agent. Using CentOS as OS on the machine.

I found this issue on the .net CLI project, which might be related: https://github.com/dotnet/cli/issues/2385.

Any ideas on how to fix this?

[2017-09-20 16:49] kalin-toshev commented on #5213
Something (process) must be keeping the hive from unloading; note that it does not need to be an interactive process. Alternatively, you might have 'HKLM only option' (policy) turned on in your lab (for urlmon).
You can also check when the hive is loaded/unloaded using xperf (ETW) - just make sure that you start a kernel session and logoff - this is what I used to prove what's happening -

xperf -

[2017-09-20 17:02] #5375 closed

[2017-09-20 17:13] cory-nmdp opened #5383 "Nuget push to external nuget server using apikey no longer working"
The Nuget V2 task to push packages to an external Nuget server endpoint using apikey connection is no longer working and returning the following errors:

2017-09-20T16:24:22.7643802Z ##[warning]Can\'t find loc string for key: Error_ApiKeyNotSupported
2017-09-20T16:24:22.7643802Z ##[error]Error: Error_ApiKeyNotSupported

[2017-09-20 17:29] keithrob commented on #5219
Ah yes, I missed the 2017U2.  My concern; however, is that you're using an internal variable that could change and I don't want your builds to break should we rename it or something.

You may want to revert back to the earlier version of the task which has the ability to provide a path to nuget.exe.

[2017-09-20 17:36] ljani commented on #5219
Ah, thanks for clarification.

[2017-09-20 19:08] AlexRukhlin commented on #5133
The change is committed to master.

[2017-09-20 19:30] abatishchev opened #5385 "Visual Studio Test task fails build/release if MSTest test is inconclusive"
I'm using the latest [MSTest.TestFramework from NuGet](https://www.nuget.org/packages/MSTest.TestFramework/) and inconclusive tests used to work differently: build/release would continue but have orange/warning status. Now it fails:

[code]

See [these logs](https://microsoft.visualstudio.com/defaultcollection/Universal%20Store/Universal%20Store%20Team/_apps/hub/ms.vss-releaseManagement-web.hub-ex

[2017-09-20 21:04] briancuster commented on #4526
I'm getting a similar error on TFS 2015 with Update 2.  Except it is an access denied error on creating the temporary folder for storing the VisualStudioRemoteDeployer.exe.  Any ideas what could be going on here?

[2017-09-20 21:32] kalin-toshev commented on #5213
We started hitting another issue while deploying the TestAgent :-( Attached is the log from VSTS. Note that it happens when the agent is not installed on the (remote) machine (first time run) and it fails after waiting for >1h.

Is this a known issue? Looks like the deployer is trying to invoke PS script with invalid args.

[DeployTestAgent.txt](https://github.com/Microsoft/vsts-tasks/files/131931

[2017-09-20 21:44] Zuul86 commented on #5383
Is there any way to use version 2.0.6?  It was working in that.

[2017-09-20 21:51] chrish619 commented on #5383
Seems to have been caused by #4984
Even thought this is marked for DotNetCoreCLI, this causes breaking changes in the 'standard' NuGet tasks.

[2017-09-20 23:39] pauldalyii commented on #4830
I'm sorry... I think there is some confusion.

When I refer to the AzureAD vs AzureRM PowerShell modules, I'm not referring to [Azure classic](https://www.powershellgallery.com/packages/Azure/4.3.1) vs [AzureRM](https://www.powershellgallery.com/packages/AzureRM/4.3.1).

I'm referring to [AzureAD](https://www.powershellgallery.com/packages/AzureAD/2.0.0.131) vs [AzureRM](https://www.powershellgall

[2017-09-21 00:29] thomasmktong opened #5388 "VstsTaskSdk missing in AzureWebPowerShellDeployment Task"
Hi, when I start a deployment task of Azure App Service: Classic today, I found the following problem

[code]

After some investigation, it seems to me that my VSTS agent has downloaded a new version of AzureWebPowerShellDeployment (1.0.46) few hours ago, Comparing the folder structure between the  latest version and older version, seems it used to have a VstsTaskSdk folder under ps_modules, but n

[2017-09-21 00:52] bryanmacfarlane commented on #5343
This is currently not a goal

[2017-09-21 01:37] nigurr commented on #5213
@RanjanarMS Can you please look into this with priority?

[2017-09-21 01:42] Zuul86 commented on #5383
To get around this issue I just used Custom and used push as the command and arguments.  That way it bypasses that issue.

[2017-09-21 04:48] RanjanarMS commented on #5305
I want to understand this statement a bit more "managed to communicate with TFS(on DTA machine)". What settings you changed in the VM? Is the VM reverted to any snapshot before running the next build?

[2017-09-21 06:55] vincentdass commented on #4526
@briancuster , Can you please share the bebug logs?

[2017-09-21 08:40] rubenfa commented on #4526
Ok, thanks to @vincentdass it is finally working.

We are performing the release from a domain machine to a machine out of the domain. We were setting username and machine name with the full name. So we were using `machine.ohterdomain.com\user` as credentials and `machine.ohterdomain.com`.  We changed it to `machine\user` and `machine` and now it is working.

Of course, we have changed our certifi

[2017-09-21 09:11] kinoro commented on #5388
Please can we get a fix for this Microsoft - we are using VSO and this is happening since yesterday using Hosted agents. Why did you even mess with it in the first place? It is deprecated so leave it alone.

[2017-09-21 10:58] kaadhina commented on #5310
1. For a build where this issue is hit, can you share the installation logs from %temp%. The file would be named as dd_vsts_testagent*
2. Can we try this on another clean VM, without a manually installed agent, so we can rule out any issue specific to that machine?

[2017-09-21 11:02] tomkerkhove commented on #5259
Same issue here

[2017-09-21 11:17] prawalagarwal commented on #5127
Closing this. Please re-open if you are still facing the issue.

[2017-09-21 11:17] #5127 closed

[2017-09-21 11:18] prawalagarwal commented on #5209
Closing this. Please re-open if you still need assistance on this issue.

[2017-09-21 11:18] #5209 closed

[2017-09-21 11:45] GrimaceOfDespair commented on #4335
Just wanted to add that the suggested workaround can still give issues. If you use a CI setup which you don't force clean checkouts upon for the sake of build time, your build might get started while having an old report in its folders. If you don't clean out these reports actively before the first failing build step, you end up publishing the report from that previous build.

[2017-09-21 11:46] arjgupta commented on #5388
hi @kinoro , we are hotfixing this. I will update here once that is done. Meanwhile, can you please tell me your account name.

[2017-09-21 13:24] chadidbarnero commented on #5388
Hi,

Is there any workaround available while you work in the hotfix?

Thanks.

[2017-09-21 13:31] thomasmktong commented on #5388
@chadidbarnero , if you use private pipeline, you can copy the whole VstsTaskSdk folder from old version to new version. Probably @arjgupta can help if you use hosted pipeline?

[2017-09-21 13:38] chadidbarnero commented on #5388
thanks @thomasmktong. Unfortunately I only have hosted pipelines...

[2017-09-21 15:02] arjgupta commented on #5388
we have hotfixed the task. Can you please confirm if you are unblocked. The newer version is 1.0.47

[2017-09-21 15:24] thomasmktong commented on #5388
@arjgupta , I confirm that my build agent has picked up the new version and deployment can be done successfully. Many thanks.

[2017-09-21 15:34] nmaier26 commented on #5213
I may have hit a similar issue that kalin-toshev.  Though in my case I believe it's due to the machine having all internet access blocked including VSTS (which I'm working to resolve).  Follow up question though, for the Visual Studio Test Agent Deployment task what domain and port access does it need to download and install the VS Test Agent?  I'll need to open these up on our firewall as well.

[2017-09-21 15:40] chadidbarnero commented on #5388
It is working now. thanks.

[2017-09-21 17:23] henning-krause commented on #5382
Okay, figured it out. I executed the `./svc.sh` as root. That user didn't have a HOME directory.

I've now created a new user and installed the service using that account. The agent is now working.

[2017-09-21 17:23] #5382 closed

[2017-09-21 18:31] abatishchev opened #5400 "How to really run tests in parallel, or troubleshoot when they don't?"
I'm using the Visual Studio Tests task with "Run tests in parallel on multi-core machines" checkbox selected. But they still run sequentially. I believe the test agents pool which I'm using has all machines multi-core, it's the [Universal Store](https://microsoft.visualstudio.com/DefaultCollection/Universal%20Store/Universal%20Store%20Team/_admin/_AgentQueue?queueId=34&_a=agents) pool in the Micro

[2017-09-21 20:07] psandhu79 commented on #946
We also require this to build with Intel fortran any update on when we can use devenv ?

[2017-09-21 20:54] santoorman opened #5404 "TFS 2017 Build Fails - can't publish test results"
TFS 2017 Build is failing on the Visual Studio Test task when it tries to publish tests result.  Using task version 2.* ... version 1.* was not working anymore (couldn't find path vstest.console.exe and acted strange when I put specific path)... how can I get this to work?  using tfs 2017.5 on the build server, and TFS Version 15.117.26714.0, using the latest agent from that.

<p>2017-09-21T20:29:

[2017-09-22 03:53] arjgupta commented on #5388
I am closing this issue, please feel free to open this issue, if you are still facing it

[2017-09-22 03:53] #5388 closed

[2017-09-22 05:38] nigurr commented on #5213
@nmaier26 We require HTTPS port opened. However we do have offline test agent installation support. please refer https://blogs.msdn.microsoft.com/devops/2017/05/05/using-visual-studio-agent-deployment-task-on-machines-not-connected-to-the-internet/

[2017-09-22 08:16] lczc1988 opened #5410 "App Service Deploy fails with ERROR_CONNECTION_TERMINATED"
Deploying with VSTS into a staging slot with auto-swap enabled will swap the slots, even if an error occurs during deployment. The error is reported as a warning in the logs. This problem has been happening for a few weeks and is consistent when the connection is terminated during deployment. We are able to work around the failed version by re-deploying the code.

Here are the warnings that are re

[2017-09-22 08:30] vincentdass commented on #5410
@lczc1988 , can you please share the debug logs (set _**system.debug**_ to **_true_** and rerun release).
Can you try adding `-retryAttempts:10 -retryInterval:6000` to additional arguments of Publish Using Web Deploy option.

[2017-09-22 08:50] DeV1L opened #5411 "Task "Visual Studio Test Agent Deployment" failes"
Hi team,

I've started have an errors during release at the task "Deploy TestAgent on localhost".

[code]
<a href="https://ibb.co/dmSb8k"><img src="https://preview.ibb.co/kaPdM5/Capture_55.jpg" alt="Capture_55" border="0"></a>
The error is:

[code]

[2017-09-22 09:07] tlisiecki commented on #5078
Hi @bishal-pdMSFT. I see changes are now in master and a new version of VSTS Agent was released ('2.123.0'). I tried to run the release but the VSTS Service Fabric Application Deployment Task was still in version 1.3.10 and it still fails. Any idea when the new versions of tasks will be rolled out?

[2017-09-22 09:19] lczc1988 commented on #5410
Thank you for your quick reply. Let me do it and update here.

[2017-09-22 10:11] RoopeshNair commented on #5128
@sixfootfour - you can have multiple publish artifact steps for one each project. In your deploy step you can pick the artifact you wish to deploy

[2017-09-22 10:41] PalleDue commented on #5383
Nuget.exe cannot use wild cards. Instead of using custom I used this inline powershell script:

[code]

[2017-09-22 10:48] AlexKeySmith opened #5415 "Are the hosted azure powershell versions correct?"
In the "Azure Powershell Version" contextual help it states 2.1.0 on the 2017 hosted queue and 3.6.0 on the hosted queue.

However when comparing this to the [documented installed versions](https://docs.microsoft.com/en-us/vsts/build-release/concepts/agents/hosted)

It states:

**Hosted**
Azure PowerShell 3.6.0
AzureRM PowerShell 3.6.0

**Hosted VS2017**
Azure PowerShell 3.8.0 (Installed)
AzureRM

[2017-09-22 11:13] DavidKloet commented on #4543
I had this issue on a Windows 2KR2 machine after I upgraded PS4 to PS5.
There has been a change from PS4 to PS5: the configuration is now decorated with an attribute and properties are part of Settings instead of LocalConfigurationManager

The following script works for me:

Param
(
    [string] $ComputerName = [System.Net.Dns]::GetHostByName(($env:ComputerName)).HostName,
    [string] $SourcePath

[2017-09-22 13:11] vijayma commented on #946
This work is not scheduled yet. Sorry. You should be able to write a custom task meanwhile.

[2017-09-22 14:57] kyleherzog commented on #5383
Same issue here.  I switched to use Custom with the following argument as a workaround for now.

`push $(System.DefaultWorkingDirectory)/$(Release.DefinitionName)/drop/Release/** -ApiKey $(NuGet.ApiKey) -Source $(NuGet.Source)`

[2017-09-22 17:04] nmaier26 commented on #5213
Port 443, and what domain?

Offline installer is what we are trying to use currently.  We added it as a package in VSTS.  But it's not ideal for two reasons, 1) the size of the file is relatively large and it gets copied between multiple servers/machines making the task run long and 2) we would have to manually update the package whenever a new version comes out.

[2017-09-22 18:48] cijothomas commented on #4000
Hi,
I am facing the same issue where tests from vs 2017 created project is not discovered.
What's the official workaround for this?

[2017-09-22 20:42] tkcrown commented on #5383
Same issue here. Any fix plan? Thanks

[2017-09-22 21:08] vvillasanteg opened #5440 "NuGet 2.0.7 broke ability to restore from feeds outside account/collection using credentials"
2.0.7 NuGet task is unable to restore when using a custom NuGet.config file and providing credentials to access externals feeds.
The generated temporary NuGet config file is not a valid XML for NuGet.

[2017-09-22 22:49] ckrempp91 commented on #4558
This is still a problem with on-premise TFS update 2, when using msbuild it does not quote properly for the Codesignkey property. I added a comment to the [original issue](https://github.com/Microsoft/msbuild/issues/471#issuecomment-331577784) as well because it seems like spaces are treated as delimiters as well.

[2017-09-23 04:03] ericsciple commented on #5073
@sandersaares I don't think a non-interactive non-elevated process elevate itself. If you run as a Windows service and the account is a local administrator, it will run elevated.

[2017-09-23 06:54] kanvuduc commented on #5383
+1 here.

[2017-09-23 07:59] vovikdrg opened #5442 "Add possibility to control npm version"
You've done amazing job with ionic and cordova.

And i would like to have possibility to set npm version i would like to use.

[2017-09-23 12:19] bryanmacfarlane commented on #5442
There is a node installer task in the tools category.  It will also install the corresponding npm version

You can also choose a private agent on an azure VM and install whatever tools you want.

[2017-09-23 12:19] #5442 closed

[2017-09-23 13:23] SergeBerwert commented on #5383
+1

[2017-09-23 17:48] ivan-prodanov commented on #5112
@rmarinho I just came to the conclusion that I need this and I need it now. After observing @bryanmacfarlane's comment I realized that if we set the condition to a task and then create a task group from that task, the condition will still be set, just not visible until they deploy the new UI. I just tried it and it works. 🥇

[2017-09-23 20:04] jonkeda commented on #5383
+1

[2017-09-23 20:18] Iapmes commented on #5383
+1

[2017-09-24 13:03] cilerler opened #5443 "How to set Json file as a password in Docker registry service registration"
I need to push docker images to a 3rd party service.

Their authentication is through JSON file which has `"` and ` ` characters in it and the file is ~2350+ characters long.

[code]

I wonder how should I set that as a password in following screen?

![image](https://user-images.githubusercontent.com/385958/30782764-76630f9a-a106-11e7-9485-ddf3b1f60a45.png)

[2017-09-24 13:10] PoojaMiraje opened #5444 "Socket Exception while running load test with Self Provisioned test rig"
A connection attempt failed because connected party did not respond properly after period  of time

The webtest alone works fine

[2017-09-24 18:05] dimkanewtown commented on #5188
I concur, this should be documented. Spent quite some time trying to figure out what is wrong, and that's after verifying that the package.json is correct when publishing from local.

[2017-09-24 22:00] ColinM9991 commented on #5259
Having the same issue on an Azure App Service environment with no fix on the retryAttempts and retryInterval.

It works fine with "app_offline.htm", but not "App_Offline.htm".
This is apparently fixed in a later version of the ASP.NET Core Module for IIS, but this isn't something that can exactly be installed on an Azure App Service node.

[2017-09-25 04:35] wergil123 commented on #3206
@gedeh

Hi, can you provide some snapshots regarding the build steps you provided? I'm lost, beginner here :) By the way, i'm using NUnit 2..will it be different?

Hope to hear from you soon.

Thank you.

Regards,
WL.

[2017-09-25 05:27] jikuma commented on #5443
what does <keyfile.json> mean. If it means content of keyfile.json. Try pasting the content of the file in password field.

[2017-09-25 06:58] daanl commented on #5383
+1

[2017-09-25 06:58] antonio-neto-basecone commented on #5383
+1

[2017-09-25 07:12] cucamacuca commented on #5383
+1

[2017-09-25 07:21] #5036 closed

[2017-09-25 07:22] bansalaseem commented on #5020
Closing because of no response

[2017-09-25 07:22] #5020 closed

[2017-09-25 07:43] demetrioalvesnl commented on #5383
+1

[2017-09-25 07:50] Iapmes commented on #5383
Easiest work-around for me: Revert back temporarily to using the deprecated NuGet publisher with a generic endpoint. (May require changes to minimatch patterns.)

[2017-09-25 07:57] furier commented on #5440
This is currently breaking all our builds, and there are many :O

[2017-09-25 08:23] verysimplenick commented on #5094
Yep same with EF core
[code]
If I commented this line all sln build successfully. If not -> csproj builded, solution isn't.

[2017-09-25 08:32] hfurubotten commented on #5440
Using version 2.0.8 here and experiencing the same problem.
Managed to work around the problem with restoring packages fra external feeds by using preauthenicated urls (Not good as access keys gets checked into source control). Should get people there, but set a very low expiration time on those keys!

However this only moved the problem further ahead in the process for me. There is also problems

[2017-09-25 08:51] xavierdecoster commented on #5383
For any MyGet users affected by this VSTS change: your MyGet username and MyGet scoped access token (API key) can also be used for Basic Authentication.

You can update the NuGet Service Connection in your Team Project to use Basic Authentication, and leverage your MyGet scoped API key and MyGet username as basic auth credentials.

We updated our docs to reflect this:
https://docs.myget.org/docs/r

[2017-09-25 09:13] ShreyasRmsft commented on #5400
Can you please re-run the build with System.debug set to True and share the build logs with devops_tools@microsoft.com so that I can have a look?

[2017-09-25 09:14] asartem opened #5450 "How to pass parameters to custom test adapter (nUnit3)"
I had a console command step which ran nunit3-console with parameters and published test results to a file TestResults.xml using nunit test adapter

I need this file in one these formats: junit, nunit, tap, robot to publish on hiptest.net
When I've moved to step Visual Studio Test, I added a Path to Custom Test Adapters to Nunit folder in nuget, but I see no way of how to generate TestResults.xml

[2017-09-25 09:19] ShreyasRmsft commented on #5404
Hi @santoorman, It's a known issue in results publishing. We are working on it and we'll update you once the fix is ready.

[2017-09-25 09:23] arjgupta commented on #5415
Hi @AlexKeySmith , in Hosted Pool, by default( i.e. if you use version 1 of Azure PowerShell task) azureps 3.6.0 will get picked up. You have option for specifying 2.1.0 and 4.2.1 as well using version 2 of the Azure PowerShell task.

In hosted VS2017 Pool, by default Azure PowerShell will get picked up. You have option for specifying 3.8.0 and 4.2.1 using version 2 of the Azure PowerShell task. W

[2017-09-25 09:23] #5415 closed

[2017-09-25 09:23] prasadkumar1 commented on #3922
Hi Experts,
I got struck with Release error in vsts + BizTalk Server 2016 with Feature pack installed.
While creating release definition in VSTS I am getting below release error message, please help me to error message.
when iam trying to multiple projects into the same solution for Automatically deploy BizTalk Server applications using Visual Studio Team Services and getting the below release err

[2017-09-25 09:26] mcapewell opened #5452 "Nuget Publisher failing using project with space in the name"
In TFS 2017 Update 1 and Update 2, credentials cannot be retrieved for a package feed in a project collection that has a space in the name.

See the below log output where it can be seen that the URI has been truncated at the first space in the name and hence no match is then found. Please note, NuGet 4.3.0 was used to increase the details in the log output:

2017-09-13T15:10:45.5359005Z ##[sectio

[2017-09-25 09:29] #5320 closed

[2017-09-25 10:03] jcats commented on #5440
+1 Same here using v2.0.8 in VSTS. This is a blocking issue as there is no way to revert to using 2.0.6. We can't restore any packages from our company-wide Nexus-server.

Comparing the build logs of the Nuget task from v2.0.6 to v2.0.8, you can see the 2.0.6 version actually fires three commands:

- [command] nuget.exe sources Remove ...
- [command] nuget.exe sources Add ...
- [command] nuget.exe

[2017-09-25 10:12] pedro-resende-1981 commented on #5383
+1

[2017-09-25 10:39] ShreyasRmsft commented on #5385
Can you please point me to the latest build/release where the the build/release continued despite having inconclusive tests? This is so that i can get an estimate of the time frame where the behavior appeared to have changed and also have a look at the task version and mstest version used.

[2017-09-25 10:50] ShreyasRmsft commented on #5370
Can you please send us the build logs and also the DTAExecution logs from the machines where the test is being run? Also can you let me know what led you to believe that it's the zip extraction that's failing?

[2017-09-25 11:10] asartem commented on #2468
doesn't work for me. TFS 2015, v 14.102.25423.0
Invalid format error message is displayed when use nunit3 and try to publish it's xml  test result file

[2017-09-25 11:18] ShreyasRmsft commented on #5344
Please have a look at:
https://blogs.msdn.microsoft.com/devops/2016/08/23/testing-privateintranet-applications-using-cloud-based-load-testing/

The section you are interested in is 'Using Visual Studio Enterprise IDE'

Basically what you need to do is tick the radio button that says use self provisioned rig and then go ahead and provide the details of the rig (namely rig name and number of agents

[2017-09-25 11:34] jiraf commented on #5383
+1

[2017-09-25 12:14] lafritay commented on #2350
@kmkumaran I just tried to use this task and hit the following error.  Are we sure that this is fixed?
[code]

[2017-09-25 12:27] advdberg commented on #5383
+1

[2017-09-25 12:29] fvelasco1 commented on #5383
+1

[2017-09-25 12:30] jochenvangasse commented on #5383
+1

[2017-09-25 12:40] SanderSiep commented on #5383
+2

[2017-09-25 12:41] alesebi91 commented on #5383
+1

[2017-09-25 12:56] munir131 commented on #5404
When test cases are few at that time this error is not occurring. But when test cases are in large number at that time it appears. Can we put the delay between `tests executor task` and `test publish task`?

[2017-09-25 13:01] xenalite opened #5454 "DistributedTests: No test assemblies found on the test machine matching the source filter criteria"
All of our non-UI automated test runs started to fail on Friday afternoon 22 Sept.
We got the following error message in the "Run function tests" task:
[code]

Full log of Deploy and Run tests tasks and DTAExecutionHost log:
[tasklog_14.log](https://github.com/Microsoft/vsts-tasks/files/1329429/tasklog_14.log)

[tasklog_15.log](https://github.com/Microsoft/vsts-tasks/files/1329431/tasklog_15.log)

[2017-09-25 13:25] cvvvlad commented on #5383
+1

[2017-09-25 13:31] mikehowey1 commented on #5383
Auto updates without rollback.....going to be the death of the platform real quick.

[2017-09-25 13:40] RoakyWood commented on #5370
It absolutely was the unzip task that was failing I watched it happen in real time. The issue was that I was running Powershell 2.0 I upgraded to 4.0 and now it works.

Thanks for following up though.

On Sep 25, 2017, at 6:50 AM, Shreyas R <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you please send us the build logs and also the DTAExecution logs from the machines wher

[2017-09-25 14:23] kaadhina commented on #5303
Yes, the maximum supported length of FQDN is 256. Can you confirm that the name actually exceeds this limit? If not, can you please enable build variable system.debug = true , collect the build logs and send them over?

[2017-09-25 15:24] santoorman commented on #5404
I don't really understand what you mean. It is the same number of tests whether it fails or not.

Anyway I will try what you suggest where exactly is this setting?

Also which version of vstest.console.exe to use?

Sent from my iPhone

[2017-09-25 15:30] alexmullans commented on #5383
Thanks for reporting. We're determining the root cause of this issue now and will share more details here soon.

[2017-09-25 16:20] wyrdfish commented on #5383
We also used the deprecated push command also with a generic service endpoint.
maybe allowing the task version selector to be explicit not just major version would help in these instances.

[2017-09-25 16:48] alexmullans commented on #5383
This is now being tracked as an incident: https://blogs.msdn.microsoft.com/vsoservice/?p=15005

[2017-09-25 16:56] scottkoland commented on #5383
+1

[2017-09-25 16:56] julioarruda opened #5457 "Nuget Push Task not send api key"
In the last week, my costumer has been reported that push task is not working. I saw the log, and i think, that token / apikey isn't send in the push command.

Using authentication information for the following URI: http://NexusURL
2017-09-25T12:17:18.5873980Z [command]E:\Bld\Agent-01\_work\_tool\NuGet\4.0.0\x64\nuget.exe push E:\Bld\Agent-01\_work\87\a\Package.1.0.1.20.nupkg -NonInteractive -Sour

[2017-09-25 16:58] alexmullans commented on #5380
Thanks for this suggestion! I've added it to our backlog, so I'm going to close the Github issue.

[2017-09-25 16:58] #5380 closed

[2017-09-25 17:05] baywet commented on #5380
Thanks, will you update that issue once it's implemented?

[2017-09-25 17:07] alexmullans commented on #5380
Sure. Full disclosure: I don't think we'll be able to schedule it in the remainder of this calendar year.

[2017-09-25 17:13] alexmullans commented on #5188
I'm pushing a fix now to the docs (which have [moved here](https://docs.microsoft.com/en-us/vsts/build-release/packages/nuget-pack-publish?toc=/vsts/package/toc.json)) - it should be live in 10-20 minutes. I'll also add an item to our backlog to see if we can support the `publishConfig` flow in a future version of the npm task.

[2017-09-25 17:36] baskint commented on #5383
👍

[2017-09-25 17:40] shimmyt commented on #5457
#5383 Same Issue

[2017-09-25 17:40] fuocor opened #5458 "Azure App Service Deploy 403 Error"
The Azure App Service Deploy has started throwing 403 errors when running.
This was working as recently as Saturday, and has not been modified.

additionally, in the task configuration, I cannot change/select any app service.

`2017-09-25T17:29:05.2346239Z ==============================================================================
2017-09-25T17:29:05.2346239Z Task         : Azure App Service De

[2017-09-25 17:46] felipeOliveira commented on #5383
+1

[2017-09-25 18:39] abatishchev commented on #5385
hi @ShreyasRmsft,
All releases to Prod failed here because inconclusive test fails the task thus the whole build/release: https://microsoft.visualstudio.com/defaultcollection/Universal%20Store/Universal%20Store%20Team/_apps/hub/ms.vss-releaseManagement-web.hub-explorer?definitionId=3456&_a=releases. This happens at least since 8/24 for me.
Or I can follow-up to devops_tools@microsoft.com.

[2017-09-25 19:09] alexmullans commented on #5457
Duplicate of #5383

[2017-09-25 19:09] #5457 closed

[2017-09-25 19:09] alexmullans commented on #5440
Duplicate of #5383

[2017-09-25 19:13] leftler commented on #5351
@sachinma How soon is soon, are we talking days, weeks, or months? We wanted to use outputs to look up the private keys of various resources we create in the template and are at the decision point of scrapping the idea, doing a workaround like davidobrian1985 did, or waiting for this feature to become available in preview in VSTS.

[2017-09-25 20:04] Schenz commented on #5383
+1

[2017-09-25 20:35] alexmullans commented on #5383
The fix is now out to all but one of the remaining deployment rings. The majority of users should be unblocked now; the failure rate is down to ~6%. The current ETA for completing this on the final deployment ring is 22:00 UTC. We will provide another update in 2 hours or less at https://blogs.msdn.microsoft.com/vsoservice/?p=15005

[2017-09-25 20:35] #5383 closed

[2017-09-26 00:00] keithrob commented on #5440
@vvillasanteg , @furier , @hfurubotten , @jcats ,
We have just deployed a hotfix with #5456 that should resolve this issue.  Apologies for the inconvenience and If you continue to experience issues please reach out and we will work to triage with you.
Keith

[2017-09-26 00:00] #5440 closed

[2017-09-26 00:05] keithrob commented on #5383
@chrish619 ,
The PR you linked to wasn't the root cause.  The root cause is [this](https://github.com/Microsoft/vsts-tasks/pull/5456/files).
Keith

[2017-09-26 00:15] cilerler opened #5462 "Argument textbox from the .NET Core 2.* (Preview) Restore is missing"
It looks like you removed **Argument** textbox from the **.NET Core 2.* (Preview) Restore** but it is needed to pass `version`, `configuration` etc.

![image](https://user-images.githubusercontent.com/385958/30836429-3083176e-a22c-11e7-8b4a-2f6b49a72ddd.png)

[2017-09-26 03:07] nigurr commented on #5213
@nmaier26 We suggest you following
1. Install Test Agent in all those machines
2. Whitelist following urls for downloading the test execution engine https://testexecution.blob.core.windows.net/*

[2017-09-26 04:28] vincentdass commented on #5259
@davidebbo, @pan-wang , to comment on the issue.
The casing issue in app_offline is fixed long back.

[2017-09-26 04:38] vincentdass commented on #5410
@Iczc1988, is the issue resolved?

[2017-09-26 04:39] pan-wang commented on #5259
@ColinM9991 the casing issue was fixed this Jan. When did you hit this casing issue last time?

[2017-09-26 04:41] vincentdass commented on #5291
@lucasmaj , As you know, with deployment, the number of instances are overridden by config file value.
Please open the issue with Cloud Service team to resolve.

[2017-09-26 04:41] #5291 closed

[2017-09-26 04:57] #5370 closed

[2017-09-26 06:03] ShreyasRmsft commented on #5385
@abatishchev What I meant was can you provide me the link to a release where the release did not fail due to inconclusive tests? ie. where the release was marked orange.

Also can you run the tests manually (using Visual Studio) using the same version of   MSTest.TestFramework and share the .trx file with me?

Because I had a look at the .trx attached along with the failed releases and the 4 tests

[2017-09-26 06:04] ShreyasRmsft commented on #5400
@abatishchev tagging you for notification.

[2017-09-26 06:29] ShreyasRmsft commented on #5400
@abatishchev  Okay so I had a look at your runs.

<RunSettings>
  <RunConfiguration>
    <TargetPlatform>x64</TargetPlatform>
    <MaxCpuCount>0</MaxCpuCount>
  </RunConfiguration>
</RunSettings>

This is the run settings file being passed to vstest console which clearly indicates that the VsTest task is passing on the information to vstest console to use all available cpu cores (0 indicates use a

[2017-09-26 06:32] ColinM9991 commented on #5259
@PanWang, it was hit both on Sunday, and yesterday (Monday).

[2017-09-26 06:36] ShreyasRmsft commented on #5400
Also since you are interested in parallelizing the tests you should try out the phases in release that allow multi-agent parallelism. This should help cut down your test run time considerably.

Please take a look at https://blogs.msdn.microsoft.com/devops/2017/03/26/vstest-task-dons-a-new-avatar-testing-with-unified-agents-and-phases/ for guidance on using this feature.

[2017-09-26 07:30] hfurubotten commented on #5440
Can verify that our builds are working again, and we are able to get them to flow as usual. Took a while to revert back from all the workarounds from yesterday, but from v2.0.9 everything seems to be working as expected here. Thanks!

[2017-09-26 07:34] jcats commented on #5440
Can confirm v2.0.9 is working as expected again!

[2017-09-26 09:11] vincentdass commented on #5458
@fuocor , Can you please verify whether the SPN expired (Validate once from service endpoint)?
![image](https://user-images.githubusercontent.com/20121508/30852253-cbc661a8-a2c8-11e7-8347-7e4f3b466a02.png)

[2017-09-26 09:13] #4526 closed

[2017-09-26 09:48] vincentdass commented on #5348
Merged changes.
Fix will be available in **0.2.16** version.

[2017-09-26 09:48] #5348 closed

[2017-09-26 09:49] munir131 opened #5467 "Publish test results is failing"
When `Publish test results` task is trying to upload Junit formatted xml file at that time it is throwing error like `Failed to publish test results: Illegal characters in path.`

Publish Test Results : version 2.0.1

![image](https://user-images.githubusercontent.com/6319375/30853499-9cb8ada4-a2cc-11e7-8311-d3c2877834bc.png)

[2017-09-26 10:17] vegvarizoltan commented on #2380
Hello,
I have the same issue with my build agent. Can you share your solution for the problem, if you successfully resolved it.

[2017-09-26 10:21] ShreyasRmsft commented on #5404
We already have bugs filed for this and are actively working on it.

[2017-09-26 10:52] LiohAu opened #5468 "Xcode compilation AND analyzer warnings are not reported in the build summary page"
Hello,

We have warnings correctly reported for .NET compilations but they are not reported for xcode builds.
Obviously static analysis warnings are also missing in the build summary.

Also would it be possible to use the "Create Work Item on Failure" feature with warnings ?

Thanks.

[2017-09-26 11:11] vincentdass commented on #5326
@karlrissland , is the issue resolved?

[2017-09-26 11:12] vincentdass commented on #5011
Apologies for late response. Debug statements and success messages will be added to the task.

[2017-09-26 11:47] Cva2904 commented on #5279
@nigurr

i have sent mail to devops_tools@microsoft.com with the error logs.

[2017-09-26 12:16] ileonidmas commented on #5454
Same here! Same day. Same time ¯\_(ツ)_/¯

[2017-09-26 13:22] bansalaseem commented on #5351
It should get enabled with our current ongoing deployment, which usually takes around 2-3 weeks to get deployed on all the scale units.

[2017-09-26 14:03] munir131 commented on #5467
![image](https://user-images.githubusercontent.com/6319375/30862913-2e48eeee-a2ed-11e7-8d00-550c29dd5135.png)
Also those tests stay `in progress` state forever.

[2017-09-26 14:10] ShreyasRmsft commented on #5404
@santoorman Can you please share the .trx file and the build logs with us at devops_tools@microsoft.com

[2017-09-26 14:17] chrish619 commented on #5383
@keithrob: Fair enough, I did mention it was a _possible_ cause;
Also, a null coalescing truthy, [in this method,](https://github.com/Microsoft/vsts-tasks/pull/5456/files#diff-56b99ee433c329284ed69fdbbb502334R29) e.g.
[code]
Will always evaluate to true..

[2017-09-26 14:19] vincentdass commented on #2348
Azure App Service Deploy task works fine with regex in 2.* and 3.* version.
Closing the issue.

[2017-09-26 14:19] #2348 closed

[2017-09-26 14:20] vincentdass commented on #4885
@Rajat-Jindal , Closing this issue  as no response received.
Feel free to open the issue, if required.

[2017-09-26 14:20] #4885 closed

[2017-09-26 14:22] vincentdass commented on #5218
Closing this issue, as no response received.
Feel free to open the issue, if required.

[2017-09-26 14:22] #5218 closed

[2017-09-26 14:24] #5345 closed

[2017-09-26 14:28] madhurig commented on #5468
We do special handling of output to show errors and warning from .NET projects in the summary page. We have to parse Xcode output which in general we hadn't been doing for other 3rd party build tools. We will consider this request for enhancing the Xcode task. Thanks for the feedback.

Thanks,
Madhuri

[2017-09-26 14:30] vincentdass commented on #2350
@lafritay , Is the task **not failing** with the above error?
This thread is about the task not throwing error when it fails.

[2017-09-26 14:55] ShreyasRmsft commented on #5404
We have fixed it in TPV2 (Test Platform Version 2) and VS 2017 Update4.

[2017-09-26 14:55] #5404 closed

[2017-09-26 14:58] vijayma commented on #5468
Thanks for the suggestion on "Create work item on failure". Can you please post the request on uservoice (https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/category/145254-ci-build) as well? This will allow us to track it in the right place in the backlog.

[2017-09-26 15:04] fmdufour commented on #5259
@pan-wang  I'm hitting this issue right now.

[2017-09-26 15:22] pan-wang commented on #5259
@fmdufour could you please collect server side  windows event log (during the deploy) through portal and share it ?

[2017-09-26 15:39] leftler commented on #5351
@bansalaseem Once it is deployed will it show up in the version dropdown as `3.* (preview)`, just `3.*`, or will it be part of `2.*`?

[2017-09-26 15:50] ColinM9991 commented on #5259
@pan-wang

I've retried following an environment rebuild and it seems to be working now, I will put it under a bit of load once I am at home again and attempt a redeployment.

[2017-09-26 16:51] fuocor commented on #5458
I'm getting the following error on the verify

Failed to obtain the Json Web Token(JWT) for service principal id '819b4687-bb01-4f9a-97cb-1d69a3183b66'. Exception Message: AADSTS70002: Error validating credentials. AADSTS50012: Invalid client secret is provided. Trace ID: 856eeadc-74d1-4712-947a-ae03a1952500 Correlation ID: 93caf92c-f760-4b17-9bfc-711950f60b4d Timestamp: 2017-09-26 16:50:18Z

[2017-09-26 16:58] vincentdass commented on #5458
@fuocor , it looks like SPN expired. Can you update the endpoint?

[2017-09-26 17:08] abatishchev commented on #5400
Thanks for confirmation and for the link, will try it out!

[2017-09-26 17:08] #5400 closed

[2017-09-26 17:17] fuocor commented on #5458
Where and how do I do that?

[2017-09-26 17:36] fuocor commented on #5458
I used the update service configuration and it returned

Failed to query service endpoint api: https://management.azure.com//subscriptions/39125119-2e00-4137-aba1-fea44b2d9aeb?api-version=2016-06-01. Error Message: The remote server returned an error: (403) Forbidden..

[2017-09-26 17:45] vincentdass commented on #5458
Have you tried [this ](https://blogs.msdn.microsoft.com/devops/2015/10/04/automating-azure-resource-group-deployment-using-a-service-principal-in-visual-studio-online-buildrelease-management/)to update your SPN?
If not, can you try the manual configuration steps and update Service Principal ID and key.

[2017-09-26 18:00] fuocor commented on #5458
Creating a new SPN seems to have resolved the problem. The update just fails

[2017-09-26 18:18] fmdufour commented on #5259
@pan-wang  Are you refering to eventlog.xml file? I couldn't find any relevant information on it.

[2017-09-26 18:18] perreaultd opened #5472 "Copy Files using Clean Target Folder sometimes fails with EPERM: operation not permitted"
I have release definitions having the "Copy Files" task and "Clean target folder" option checked.
Most of the deployments are successfull, so security seems rights.
Service account is in server local admin group which have full control of folder within NTFS security.

Sometimes the tasks end up giving the EPERM: operation not permitted error message. After getting the error, we can see that the fo

[2017-09-26 18:21] abatishchev commented on #5385
I figured this out! This is a bug in MSTest, apparently already being filed here, see https://github.com/Microsoft/testfx/issues/249

Thanks for your help!

[2017-09-26 18:21] #5385 closed

[2017-09-26 18:25] abatishchev commented on #5385
I figured this out! This is a bug in MSTest, apparently already being filed here: https://github.com/Microsoft/testfx/issues/249

Thanks for your help!

[2017-09-26 20:01] shinydiamond opened #5474 "Install build agent interactive mode hangs in TFS 2015"
I am trying to install build agent with same credentials both on TFS and build agent and
configuring it as 'Interactive Mode' by saying N to Windows as a service (y/n).

On command prompt displayed as 'Registering the agent xxxxxx with the server 'TFS server'
Press Ctrl+C to quit....

I waited for almost for an hour and see below in _diag/log what could I possibly be doing wrong?

19:33:32.158658

[2017-09-26 21:30] colindembovsky opened #5475 "docker-compose build task fails with [could not read CA certificate "/vsts/agent/_work/_temp/DockerConfig_1506458440225/ca.pem"]"
I'm running a docker-compose build task to build service images. The task used to work with version 0.4.0 but the latest version, 0.4.4, fails with a "cannot find ca.pem" error:

[code]

There are 2 images in the docker-compose file: both image builds succesfully and it appears the tagging command actually worked. However, the task is not completing because of the file not found error.

I'm connec

[2017-09-26 22:48] santoorman opened #5476 "Unit Tests that that create UI controls fail with latest version of vstest.console.exe"
using vstest.console.exe version as described here:

https://github.com/Microsoft/vsts-tasks/issues/5404#issuecomment-332210558

It now publishes properly but now we are getting exceptions with unit tests that create UI controls (running on TFS 2017 server):
System.InvalidOperationException: The calling thread must be STA, because many UI components require this.

These worked fine with the Built

[2017-09-27 01:09] colindembovsky commented on #5475
Turns out this was an issue with the `microsoft/vstsagent` container we were using. The `DOCKER_HOST` and `DOCKER_TLS_VERIFY` environment variables were set, but `DOCKER_CERT_PATH` had not been set. Setting that resolved the issue!

[2017-09-27 02:18] #5343 closed

[2017-09-27 03:37] jikuma commented on #5475
Hey Colin, Can you help me understand the issue a bit more. If you are using Docker Compose task you need not set DOCKER_HOST,  DOCKER_TLS_VERIFY, DOCKER_CERT_PATH variable manually.
You should create Docker Host endpoint and specify server url, ca certificate, certificate, key in the endpoint.
Then use this endpoint in docker compose task. Go to advance section and specify Docker Host connection.

[2017-09-27 04:03] jikuma commented on #5475
Hey Colin, I got the issue you are not using Docker Host endpoint at all. Can you share complete log whose snippet you have pasted above. This will help me understand the issue completely.

[2017-09-27 04:04] SadagopanRajaram commented on #5467
@munir131 - can you please share following details with the devops_tools@microsoft.com alias?
1) The xml file which is failing
2) Details of server/service - are you using Team Foundation Server or VSTS? If TFS, which version?
3) Is it a hosted agent or private build/automation agent?
4) What is the source directory for the path? What is the filter in the "Publish Test Results" task? Are you using

[2017-09-27 04:20] munir131 commented on #5467
@SadagopanRajaram  Mail sent. Let me know if you want any other details from my side.

[2017-09-27 06:27] ShreyasRmsft commented on #5450
@asartem Can you tell us why you need the results to be in xml nunit format? Is the only reason you need it because you need to publish it to hiptest also? Also can you let me know why you need to publish the results to hiptest?

[2017-09-27 06:31] ShreyasRmsft commented on #5444
Can you please elaborate? Did you try running the web test from the same machine the self provisioned agent is on?

[2017-09-27 06:34] KrishnaAdityaB commented on #4543
Thanks @DavidKloet
@zivillian Can you try David's suggestion and share the observation?

[2017-09-27 08:32] Mauzer93 opened #5477 "Get value of variable dynamically AzureRgDeploymentTask"
I am using the Azure Deployment task to deploy our ARM template to Azure, but I am struggling on reading the value of a vsts dynamically.

When using version 1, I used the following command to get the value of a variable dynamically:
commonStorageAccountConnectionString  (Get-Variable -Name '$commonStorageAccountConnectionStringSecretName' -ValueOnly)

Now I am upgraded to version 2 and this power

[2017-09-27 08:44] bryanmacfarlane commented on #5475
opening the issue to see if we can do something in the task to help guide the user.

[2017-09-27 09:18] zivillian commented on #4543
With the following changes the release is working as expected (on Windows Server 2016).

I've also tested to add only `ActionAfterReboot = "ContinueConfiguration"` to `LocalConfigurationManager` section, tried without `Set-DscLocalConfigurationManager` and to combine `RebootDSCConfiguration` with `RebootDSC`, but all of them failed with mostly the same error.

[code]

[2017-09-27 09:59] vincentdass commented on #5458
@fuocor , Is the task succeeding now?

[2017-09-27 10:13] KrishnaAdityaB commented on #4543
Thanks for sharing the experience. @zivillian
I will close the issue as you get unblocked.

[2017-09-27 10:17] KrishnaAdityaB commented on #4885
@Rajat-Jindal
Are you in PS5?
Can you try the solution provided in #4543 and share the experience?

[2017-09-27 10:43] zivillian commented on #4543
Sadly I would like to repoen this issue. With the above DSC no error is reported, but the DSC is also not applied - so the target is not rebooted and the release does not fail.
I tried some more variations and every time the target is rebooted by DSC it still fails with the initial error message.

I also found out that the Setting option `ActionAfterReboot` has a default value of [ContinueConfigur

[2017-09-27 12:11] rgiurea opened #5479 "Wix 3.11"
Hello,

having some issues building a wix setup project because the hosted vs2017 does only have wix 3.10 installed. Would it be possible to update to 3.11?

Thanks. Regards.

[2017-09-27 13:04] sachinma commented on #5477
You can just specify $(commonStorageAccountConnectionStringSecretName)

[2017-09-27 14:04] Mauzer93 commented on #5477
That does not work.
The value of the commonStorageAccountConnectionStringSecretName is for example: testSecret.
I have a vsts task that downloads all secrets from the key vault.
This vsts task will expose one secret => testSecret.

If I pass it like this: $(commonStorageAccountConnectionStringSecretName), than the secret name itself is used as value. (testSecret)

What I really want is something l

[2017-09-27 16:09] SayusiAndo commented on #5303
There are test cases where the FQDN is more than 256 characters but the testing part does not fail now. Correct me if I'm wrong, FQDN contains the full signature, right? If so, then it is easy to have more than 256 chars length especially with xUnit and its Theory stuff. Please, find example below.

What happens if a test with FQDN longer than 256 characters? Won't the result stored and basically

[2017-09-27 16:23] kaadhina commented on #5303
That is a valid feedback. We will add an item to our backlog to increase it. Thank you.

[2017-09-27 16:32] satbai commented on #5145
Hi @christophedemey, thanks for reporting the issue. The reason for losing 0 from the version number is that NuGet (3.4 and later) started normalizing version numbers. Please note that the documentation advises not to use 1.0.9.808 and 1.0.9.0808 as different versions because they will be treated as the same version by NuGet. Please find the documentation here https://docs.microsoft.com/en-us/nuge

[2017-09-27 16:34] #5303 closed

[2017-09-27 18:03] #5145 closed

[2017-09-27 19:00] colindembovsky commented on #5475
Here's the Dockerfile that we use for our build agent - which is a docker container:

[code]
We then start the agent using this command:
[code]
This starts the agent container and gives the container access to the host's docker daemon.

We then have a `docker compose build` task in our build _with no host endpoint set_ since we want the agent to use the system settings. In this configuration, we g

[2017-09-27 19:00] santoorman commented on #5476
just to make clearer

This one fails on UI tests:
"C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe"
Version 15.0.0.0
System.InvalidOperationException: The calling thread must be STA, because many UI components require this.

When I use the “latest platform version” – I believe it uses the following?  This one doesn’t publish res

[2017-09-27 23:01] satbai commented on #5462
Thank you for the feedback. The Arguments textbox was removed to avoid conflicts with the parameters that the version 2 task provides. Could you help us understand why those arguments are necessary in the restore step in your scenario? Thanks.

[2017-09-27 23:16] satbai commented on #5318
@RaleS We are investigating this issue and will respond back once we have more information. Based on our logs this was a transient issue, but please let us know if you encounter this error again.

[2017-09-27 23:47] SushantShaha opened #5482 "Azure File Copy Fails with Error 404 Not Found"
We are using Azure File Copy task in VSTS Build and release activities. However it started failing since yesterday morning with following error
2017-09-27T07:06:38.6807118Z ##[debug]System.Management.Automation.RuntimeException: Failed to enable copy prerequisites. Long running operation failed with status 'Failed'.
2017-09-27T07:06:38.6807118Z ##[debug]ErrorCode: VMExtensionProvisioningError
2017

[2017-09-28 00:35] cilerler commented on #5462
I simply add code below into project files and unless I pass `/p:Configuration=$(BuildConfiguration) /p:BuildNumber=$(Build.BuildNumber)` through **Arguments** it restores dependent projects in DEBUG configuration regardless of the build configuration setting.

[code]

[2017-09-28 01:09] bryanmacfarlane commented on #5479
We install VS 15.3 (2017 update 3).  Does that come with wix 3.11?  What are you using on your desktop?

[2017-09-28 01:10] bryanmacfarlane commented on #5479
BTW, not a task issue but I'll redirect to the image creation folks.

[2017-09-28 01:12] bryanmacfarlane commented on #5475
@jikuma - is what @colindembovsky mentioned possible?

[2017-09-28 01:13] bryanmacfarlane commented on #5474
It looks as though it's running and waiting for a build on the queue.  Agent issues are tracked in the vsts-agent repo, not here.

[2017-09-28 01:13] #5474 closed

[2017-09-28 06:04] singhsarab commented on #5476
@santoorman
For the STA issue, can you please try setting the execution-thread-apartment-state
https://github.com/Microsoft/vstest-docs/blob/master/docs/configure.md#execution-thread-apartment-state

[2017-09-28 06:17] barry-yao commented on #5454
Met same issue... it's a blocker!
temp workaround: switch to "Visual Studio Test " task to run tests.

[2017-09-28 06:33] kaadhina commented on #5454
This issue has been identified, and we are in the process of patching the fix. Sorry for the inconvenience.

[2017-09-28 08:08] tjrobinson opened #5494 "Nuget restore build task ignores `NoWarn` usage"
I have a solution which targets both `net462` and `netstandard2.0` and uses the .NET Core SDK 2.0.

During the Nuget restore step I'm getting multiple errors like the below:

[code]

These errors are suppressed in the `.csproj` file by using the `NoWarn` option, for example:

[code]

Adding the `NoWarn` prevents these errors when restoring packages and building from Visual Studio but not when runn

[2017-09-28 09:26] north0779 commented on #5482
I'm seeing the same issue, blocking our deploy.

[2017-09-28 09:58] kaadhina commented on #5411
1. Can you please share the full debug logs?
2. Is this a consistent repro?
3. Can you try on a different agent/hosted agent ?

[2017-09-28 10:13] pavanadepu2 commented on #5482
@SushantShaha, @north0779 thanks for reporting the issue. We are currently working on it, I will update you once it is fixed.

[2017-09-28 10:46] sachinma commented on #5351
The current plan is to have it with 2.* version

[2017-09-28 11:03] ds-ms commented on #5482
This issue has been hotfixed. Please verify your scenarios and close this issue accordingly.

[2017-09-28 11:04] ds-ms commented on #5372
Closing this; assuming you found a fix.

[2017-09-28 11:04] #5372 closed

[2017-09-28 12:36] north0779 commented on #5482
We're still seeing it. We're using on-prem TFS - is there anything we need to do our end?

[2017-09-28 15:08] kelliejos commented on #4044
@karann-jain We have a new version of the plugin that we'd like you to try. It has a fix in it that may help with your build. Could you email me at kellie.jos at Microsoft.com and I'll send you the new plugin version.  Thanks.

[2017-09-28 16:30] mdesenfants commented on #5482
We're seeing this issue with our deployments as well.

[2017-09-28 16:39] SushantShaha commented on #5482
It seems to have fixed our issue in our VSTS instance.

Thanks & Regards,

Sushant Shaha

On Sep 28, 2017, at 4:03 AM, Deepak Sattiraju <notifications@github.com<mailto:notifications@github.com>> wrote:

This issue has been hotfixed. Please verify your scenarios and close this issue accordingly.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<h

[2017-09-28 16:43] pavanadepu2 commented on #5482
The issue is fixed in VSTS, we are still working on OnPremise fix.

[2017-09-28 16:55] SushantShaha commented on #5482
Thanks team for fixing it in VSTS ASAP.

However couple of quick questions/feedback:
1. We did not update our VSTS-tasks to new version neither it shows that new version is available but still we got broken.
2. Whenever such new changes gets pushed, don’t Ms release new version of these tasks that one can upgrade on need basis ? What testing methods are in place before promoting such fixes to prod

[2017-09-28 17:00] pavanadepu2 commented on #5482
@north0779, you need to update the file Tasks/AzureFileCopy/Utility.ps1 present in your agent directory structure, with the changes as shown in this [PR#5484](https://github.com/Microsoft/vsts-tasks/pull/5484/files#diff-5e20439d3669bfb2afd0f5c18572fe3e).

[2017-09-28 17:29] bryanmacfarlane commented on #5335
you can create a suggestion on user voice or developer community.  This repo is for tasks and it's issues

[2017-09-28 17:29] #5335 closed

[2017-09-28 17:34] shibinchandra commented on #4884
is the fix implemented ?

[2017-09-28 19:44] MikkelHegn opened #5505 "ServiceFabricComposeDeploy does not support Service Fabric SDK 2.8"
The current ServiceFabricComposeDeploy tasks does not support Service Fabric SDK 2.8, which targets Service Fabric runtime 6.0. You can still use the 2.7 SDK to deploy to a 6.0 runtime cluster, however there should be a new version of the task , which supports the 2.8 SDK, as the commands have changed.

https://github.com/Azure/service-fabric-issues/issues/491

[2017-09-28 20:16] colindembovsky commented on #5475
Hi @jikuma and @bryanmacfarlane

I've submitted a PR that I think will warn the user about the missing variable.

[2017-09-28 22:32] Jonathan34 opened #5507 "nuget restore fails with local feed and .net core 2 app"
Hi,

Using VSTS to build asp.net core 2.0 app with VS 2017 on an windows on-premise agent.
i have this nuget.config at the root of my solution:
[code]
I restore one nuget package from the NugetFeed folder as you can see above and then most from nuget.org.

In VSTS i have these settings:
![image](https://user-images.githubusercontent.com/3976137/30993010-66f48222-a472-11e7-9544-6249b83bb8e3.png)

W

[2017-09-28 23:07] PBoraMSFT commented on #5314
@MSTestAuto - can you specify your scenario, please?
Are you running tests from a TestPlan using the TestHub ?
Or are you running tests in the build/release pipeline? If build/release pipeline, are you running using the Visual Studio Test task or the Run Functional Tests task?

[2017-09-28 23:33] satbai commented on #5494
Hi @tjrobinson, thank you for reporting this issue.

This is a bug with NuGet version 4.0.0 that we use as a default version in the NuGet restore task. The bug is fixed in version 4.3.0, so what you can do is to use the NuGet Tool Installer task to change the version of NuGet to 4.3.0 and run it before the NuGet restore task. Please let us know if you still experience issues after doing this.

Tha

[2017-09-29 01:21] jikuma commented on #5475
@colindembovsky thanks for the PR. I saw the PR, are you assuming that every one will want to have a TLS connection between cleint and daemon?
The complete check should be,  to see if TLS verify is set. If set get the cert dir, if found are the certificate present in the directory or not.
Thanks for your help here.

[2017-09-29 01:53] colindembovsky commented on #5475
Hi @jikuma - good point! I've updated the logic to check if DOCKER_TLS_VERIFY is set before checking for the DOCKER_CERT_PATH.

[2017-09-29 04:54] munir131 commented on #5467
@SadagopanRajaram @bryanmacfarlane @nigurr @kaadhina Any update on this?

[2017-09-29 07:40] euhm commented on #4496
@northtyphoon any idea if arguments (!= parameters) can be used in msdeploy arm extension?

[2017-09-29 07:43] DavidKloet commented on #4543
Rebooting requires another step as I found out from in http://jacobbenson.com/?p=654#sthash.HoNHwMyT.dpbs

In short, you must also include something along the lines of this, **after** you have set RebootIfNeeded = $true

    Configuration RebootServer
    {
        Param
        (
            [string] $ComputerName
        )

        Import-DscResource –ModuleName PSDesiredStateConfiguration

[2017-09-29 07:52] tjrobinson commented on #5494
@satbai Thank you, that has resolved the issue!

[2017-09-29 07:52] #5494 closed

[2017-09-29 07:56] vincentdass commented on #5482
The issue is fixed and the task should be succeeding now.

[2017-09-29 07:56] #5482 closed

[2017-09-29 08:21] sachinma commented on #5477
Double expand is generally not available within the framework today. Another tip: If you are using a custom task for downloading secerts from key-vault; then you can consider using AzureKeyVault task which sets the secert variables correctly for the next task to consume.

Also If $(commonStorageAccountConnectionStringSecretName) i.e. testSecret in the example is a pre-known value to you and it is

[2017-09-29 08:25] sachinma commented on #3198
See #5351 for latest on this topic

[2017-09-29 08:27] sachinma commented on #4303
This is now fixed.

[2017-09-29 08:27] #4303 closed

[2017-09-29 08:27] bishal-pdMSFT commented on #5133
Updated Service fabric tasks with lib.

[2017-09-29 08:28] bishal-pdMSFT commented on #5133
@ericsciple All the tasks are done i guess. Should we close this issue?

[2017-09-29 08:29] bishal-pdMSFT commented on #5078
this is deployed now.

[2017-09-29 08:39] sachinma commented on #4840
@RoopeshNair should we start doing it?

[2017-09-29 08:54] sachinma commented on #4994
Hosted Linux Preview also has the latest dotnet tooling now.

[2017-09-29 08:54] #4994 closed

[2017-09-29 09:27] tjrobinson opened #5511 "Cannot specify multiple .csproj paths in dotnet pack task"
Task: .NET Core (Preview)
Version: 2.* (preview)
Command: pack

Using multiple values in `Path to csproj or nuspec file(s) to pack`, delimited by `;` fails with `##[error]No files matched the search pattern.`

This value works:
`src\Empactis.Data.Querying\Empactis.Data.Querying.csproj`

This doesn't:
`src\Empactis.Data.Querying\Empactis.Data.Querying.csproj;src\Empactis.Data.Querying.ElasticLinq\E

[2017-09-29 10:42] tlisiecki commented on #5078
Thank you @bishal-pdMSFT , much appreciated. I`ll check how it looks like on my account.

[2017-09-29 10:44] shaggygi commented on #4303
@sachinma thanks.  Can you add a link here to the document update?

[2017-09-29 10:46] mouse9 commented on #5467
I am also facing the same issue. Any updates?

[2017-09-29 11:18] sachinma commented on #4303
The same link that you referred to earlier is now showing the right steps.

[2017-09-29 12:16] lafritay commented on #2350
@vincentdass Apologies.  You're right.  Is there a bug tracking the fact that "take database backup" doesn't work against Azure?

[2017-09-29 13:08] DeV1L commented on #5411
I've resetup vsts agent already. Issue can be closed.

[2017-09-29 13:08] #5411 closed

[2017-09-29 15:26] bl4cky commented on #4293
Sorry @nigurr but could it be, that you missunderstood the topic?
It is correct that you cant run "Deploy Test Agent/Run Functional test task" on Hosted Agents.
But here the topic is: Why isnt it possible to run "Deploy Test Agent/Run Functional test task" on Azure VMs which are in this context "Private Build Agents".

So if i am right, please reopen that topic.

Thanks in advance!

[2017-09-29 18:09] vbossica opened #5518 "Default registry.npmjs.org registry is not overridden by a NPM Service Endpoint registry"
When defining an NPM Service Endpoint, the NPM VSTS task does not use it in the generated `.npmrc` file and defaults to `repository.npmjs.org`.

**Steps to reproduce**

  1. create a NPM Service Endpoint
  2. in a build definition for a node project, add the NPM task and invoke the custom command `config ls -l`
  3. add as custom registry (_Registries in my .npmrc_) the one created previously
  4.

[2017-09-29 19:06] pspill commented on #5507
Thanks for the detailed report @Jonathan34. As you noted, this bug is a side effect of the fact that this task creates a temporary nuget.config in order to inject credentials. Glad to see that you found a workaround.

I copied this into our backlog, and we will work on a change that will alleviate this kind of issue by bypassing the need to create temporary config files.

[2017-09-29 19:06] #5507 closed

[2017-09-29 19:07] pspill commented on #5507
Copied to backlog, will address in a future release.

[2017-09-29 19:24] Jonathan34 opened #5520 "sonarqube task code coverage failure"
Hi,

I am building, testing a .net core 2 app:
![image](https://user-images.githubusercontent.com/3976137/31032262-f52d7f86-a520-11e7-979d-aa11e88c9445.png)

the vstest step is configured as below:
![image](https://user-images.githubusercontent.com/3976137/31032314-291f29f2-a521-11e7-9171-7625d7ce97f4.png)

A trx file and a binary .coverage files are produced.

If `Code coverage` checkbox is disab

[2017-09-29 19:31] Jonathan34 commented on #5507
How can i track this issue if it is copied in a backlog somewhere and fixed some day?
sorry but i d rather keep the bug opened until fixed.

[2017-09-29 19:39] bryanmacfarlane commented on #5507
@Jonathan34 - unfortunately, the backlogs are not OSS.  Forwarding this for feedback however.

[2017-09-29 19:42] bryanmacfarlane commented on #5507
Also labelling as an enhancement.  If it's work that's on the horizon, we sometimes keep open as an enhancement.    However, this seems like an issue.  Is it really feature work to net core 2 works with a local feed?

@pspill ?

[2017-09-29 19:56] pauldalyii commented on #4830
Should I open this as a separate issue?

[2017-09-29 19:58] bryanmacfarlane commented on #4830
re-opening for @arjgupta to answer that question

[2017-09-29 20:03] jrmcdona opened #5521 "Task for email notifications (i.e. failed build or successful build)"
Hello,
I am checking to see if there are any tasks that can be used at the end of a build for build success/build failure.  The built in notifications for VSTS do not allow customizaton for the email subject which isn't too good if you have  a lot of build definitions and deployments.

Any ideas what task could be used for this?

Thanks

[2017-09-29 20:26] Jonathan34 commented on #5507
Local feeds are supported in .Net Core 2 but not through the VSTS CI/CD.
It took time for VSTS to step up and support .net core 2, apparently still a bit lacking although i admit it's nearly there!

We could argue this to be a enhancement or a bug but it seems like a side effect of a current buggy implementation that implies a non-working behavior for the end user with non productive time and limi

[2017-09-29 20:27] bryanmacfarlane commented on #5139
Ting can answer that question

[2017-09-29 20:53] vbossica commented on #5521
Have you tried the [Send Email task](https://marketplace.visualstudio.com/items?itemName=rvo.SendEmailTask) from the marketplace?

You can then customize the subject/content with the various [build variables](https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/build/variables?tabs=batch)

[2017-09-29 20:59] antispinward commented on #5139
I believe I have solved this issue for myself.

While $env:AGENT_JOBSTATUS is null
However ${env:agent.jobstatus} has the expected value

This appears to be a bug with the naming convention used to define this environment variable, it does not match up with the documentation.

[2017-09-29 21:55] satbai commented on #5462
Thanks @cilerler. To make your scenario work, please use the Custom command in the NuGet task. That way you can provide all of the parameters you need. The Arguments option was removed to avoid conflicts between the parameters the task provides and any custom parameters the user may provide. Please let us know if you still experience issues after switching to the Custom command.

[2017-09-29 22:08] cilerler commented on #5462
So you are suggesting to me to add additional **Nuget** task and use that one instead of `.NetCore Restore`, please confirm.

[2017-09-29 22:53] satbai commented on #5462
Thanks for replying. I meant the custom command in the .NET task, not NuGet task. Sorry for the confusion.

[2017-09-29 22:55] cribeiro84 opened #5522 "ExtractFiles to support override files on the target path"
I'm facing an issue that I don't want to delete all files on the target path prior to extraction from the archived file. Would be great to have an option to allow overriding or not the target files.

[2017-09-30 02:49] santoorman commented on #5476
thanks but no go:

2017-09-29T21:22:21.9246859Z Error: Invalid settings 'RunConfiguration'. Unexpected XmlElement: 'ExecutionThreadApartmentState'.
2017-09-29T21:22:21.9246859Z ##[warning]Vstest failed with error. Check logs for failures. There might be failed tests.

<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <RunConfiguration>
    <ResultsDirectory>.\TestResults</ResultsDirectory>

[2017-09-30 02:55] cilerler commented on #5462
So you are suggesting to add **.NetCore Custom** task and add the command `restore` with the arguments of `/p:Configuration=$(BuildConfiguration) /p:BuildNumber=$(Build.BuildNumber)`.  If that is correct, it will not solve the issue I'm pointing because it needs to be able access the private feed.

If I'm missing something here, would you please send me a screenshot that demonstrates what I'm miss

[2017-09-30 09:50] zivillian commented on #4543
If I'm correct, the xPendingReboot is only a wrapper for [$global:DSCMachineStatus = 1](https://github.com/PowerShell/xPendingReboot/blob/f430664076c13242ebe04d47d24cba5002701fd6/DSCResources/MSFT_xPendingReboot/MSFT_xPendingReboot.psm1#L85), which I'm using in the SetScript section of the Script resource. So I guess it wouldn't make a difference.

[2017-09-30 11:56] bryanmacfarlane commented on #5521
https://marketplace.visualstudio.com/search?term=email&target=VSTS&category=All%20categories&sortBy=Relevance

[2017-09-30 11:56] #5521 closed

[2017-09-30 11:58] bryanmacfarlane commented on #5520
According to: https://marketplace.visualstudio.com/items?itemName=SonarSource.sonarqube

Support is here: https://www.sonarqube.org/community/

[2017-09-30 11:58] #5520 closed

[2017-10-01 03:48] MikkelHegn opened #5537 "UpdateServiceFabricAppVersion and Deploy compressed packages fails"
See her: https://github.com/Azure/service-fabric-issues/issues/444

When using the UpdateServiceFabricAppVersion to only update changed package in combination with deploying compressed package, the deployment fails.

Cause seems to be that the compressed package is created at each deployment, which causes the checksum of the package to change (because of timestamps) - see the referenced task for m

[2017-10-01 12:58] MitchDart commented on #4288
Did you manage to find a workaround @duckwaffle ? I have the same issue at the moment.

[2017-10-01 18:03] akshaysaviant commented on #1227
I am getting below error while building in VSTS

2017-10-01T17:47:53.6039080Z ##[debug]Evaluating condition for step: 'Transform deploy.yaml'
2017-10-01T17:47:53.6060950Z ##[debug]Evaluating: succeeded()
2017-10-01T17:47:53.6079460Z ##[debug]Evaluating succeeded:
2017-10-01T17:47:53.6105680Z ##[debug]=> (Boolean) True
2017-10-01T17:47:53.6125390Z ##[debug]Expanded: True
2017-10-01T17:47:53.6146430

[2017-10-02 07:34] leidegre opened #5540 "The Azure CLI task inline script has a 500 character max length"
What possible reason could there be for this!? It just gets in the way. I would very much like this arbitrary limit to be removed. I managed to save and run the script by simply editing the HTML using the browser dev tools why would you do this to me?

[2017-10-02 07:42] leidegre commented on #5540
If you want to accept this change I created a pull request with a more reasonable limit https://github.com/Microsoft/vsts-tasks/pull/5541

[2017-10-02 08:36] IvanAlekseev commented on #5511
Same thing here, had to use separate task for each project

[2017-10-02 10:03] henning-krause commented on #5109
I updated our setup to TFS 2018 RC2, but the issue remains. Altough a new version of the Nuget task, the issue remains.

[2017-10-02 10:27] bryanmacfarlane commented on #5109
@henning-krause- did you use the nuget installer task with 2018?

[2017-10-02 10:30] henning-krause commented on #5109
@bryanmacfarlane, yes, I did. Updated the task to the latest version (2.0). At least, the workaround from @dasMulli still works in combination with my inline PoweShell task.

[2017-10-02 10:40] bryanmacfarlane commented on #5109
@henning-krause

Not sure you're using the right task.  NugetToolInstaller is in the tools category.  It's not in version 2.0 (it's 0.x).  https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/NuGetToolInstaller/task.json#L15

As you can see here, it takes a version spec including wild cards:  https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/NuGetToolInstaller/task.json#L29

Are you n

[2017-10-02 10:44] henning-krause commented on #5109
Ah.. didn't saw that one. Just added it to the pipeline and it works like charm :-)

[2017-10-02 10:44] #5109 closed

[2017-10-02 10:52] bryanmacfarlane commented on #5109
Awesome.  Yeah, we started a whole new category of tasks.  One of the benefits is it prepends the path so you can even use nuget in scripts downstream during the build and it will use that one.

https://github.com/Microsoft/vsts-tasks/blob/master/docs/tools.md

[2017-10-02 11:16] dasMulli commented on #5109
Glad to see it is going to be in 2018, but is it going to be in 2017 u3? Don't have the RC installed anywhere..

[2017-10-02 11:26] dasMulli commented on #5109
The interesting thing is it listed in the database but nowhere in the UI..

[code]

[2017-10-02 11:44] Dushelov commented on #5467
Same problem with both versions (v1.* and v2.*)

[2017-10-02 13:13] LarsOleKMD opened #5542 "Could not load file or assembly 'Microsoft.VisualStudio.QualityTools.CodedUITestFramework"
WIN Server 2016 , TFS 2017 UP 1  Agent 1.120.2
VS2017 15.3.3  install on the build server and test.server is the samne server

If i open the Ui test projekt on the server in VS2017 i can run the test bye VS2017

run the test bye agent vNext then say cannot  load 'Microsoft.VisualStudio.QualityTools.CodedUITestFramework

The test i open notpad write som think and close without save

DistributedTest

[2017-10-02 14:38] pjquirk commented on #5511
If the `NuGet.UseLegacyFindFiles` variable is not defined as `true`, then the [VSTS Task Lib is used to resolve the files from the pattern](https://github.com/Microsoft/vsts-tasks/blob/be34f3b4943b812cdb0046a98fb6f290f6d8ac29/Tasks/DotNetCoreCLI/packcommand.ts#L94), which [does not appear to support semicolons](https://github.com/Microsoft/vsts-task-lib/blob/b7ee0e1d166bc2bfdc501cdf6b412a12ed1366e

[2017-10-02 14:58] pjquirk commented on #5522
Have you tried unchecking the `Clean destination folder before extracting` option?  If so, could you clarify your issue?

[2017-10-02 15:09] kzu commented on #5112
Yep, indeed. I found this out by coincidence.

[2017-10-02 15:30] tjrobinson commented on #5511
@pjquirk Thanks for the update on this. I would suggest that at the very minimum the label should be changed to explain the differences.

[2017-10-02 15:43] asartem commented on #5450
I need to implement technical and business requirements. I need to publish end-to-end test results to hiptest.net to display results and state for business and BA and also to TFS for development needs.

Also NUnit is very shared and common test format supported by other sistems, if they support .net, de-facto  standard.

[2017-10-02 16:07] cribeiro84 commented on #5522
Yes, I did. But when I try to uncheck this flag, it raises an error saying that files cannot be extracted because they already exist in the target folder and tries to ask on the console if I want to replace it or not (see the attachment). Would be great o have a flag to force always to 'Yes' option during the extraction.

![image](https://user-images.githubusercontent.com/328635/31087140-529392de-

[2017-10-02 16:12] pjquirk commented on #5522
Ah I see, thanks for the additional info.  What type of archive was this (zip/tar/7z)?

[2017-10-02 16:14] cribeiro84 commented on #5522
In this case, I'm using zip files but I believe for other types may face the same issue.

Thanks a lot.

[2017-10-02 16:48] choang76 commented on #1923
I'm having the same issue executing .orderedtest using vstest..console.exe from both command line and from TFS Functional Test task as others have described.  I have done:

1. copy the .dll to BOTH c:\deployment (where tests artifacts reside) and c:\progr...\ as others
2. execute vstest.console from commandline and tfs and still get tests not being discovered.

Any update on this issue?

[2017-10-02 17:45] keithrob commented on #5236
@dasMulli ,
The new Nuget Tools installer is not available in TFS2017U2.  However, I have created a [powershell script](https://github.com/keithrob/tools/blob/master/vstsfetchnuget.ps1) which will fetch it for you and add the version of nuget you want to the head of $env:PATH.  @alexmullans also blogged about it [here](https://blogs.msdn.microsoft.com/devops/2017/09/29/using-the-latest-nuget-in-yo

[2017-10-02 17:45] #5236 closed

[2017-10-02 18:54] dasMulli commented on #5236
@keithrob thank's for responding, I have followed up on @bryanmacfarlane's suggestion to do the download during the build.

I'm using the new NuGet tasks now but run an inline powershell task before to download the right nuget.exe and configure the build variable that the new NuGet tasks use to determine its location:

[code]

[2017-10-02 19:01] vijayma commented on #5521
While we cannot support customization at this point, we are working on refreshing the notification emails with more info both in the title and in the content. With the new title you should be able to filter the emails better. ETA: Next 2-3 months.

[2017-10-02 19:53] fahnzmode commented on #962
@ericsciple - would you happen to have any additional info on the possibility of VSTS builds being able to checkout multiple git repositories? Would be very nice to have first-class support for this.

Dave Burnison mentions the steps needed to cleanly clone the git repo yourself:

_(see his 'June 1, 2016 at 8:22 pm' comment here: https://blogs.msdn.microsoft.com/premier_developer/2016/04/13/tips-f

[2017-10-02 20:10] TroySchmidt commented on #5259
I updated to .NET Core v1.1.4 and that seems to have fixed it.  It does appear that I was having the casing issue otherwise.

[2017-10-02 20:34] ericsciple commented on #962
It's something we want to do for multiple reasons. It's not next though.

[2017-10-02 21:16] aldoms commented on #5511
Thanks for reporting this issue, the dotnet task should support semicolons as separators just like the NuGet task does. We have identified the bug and are working on a fix.

[2017-10-02 21:27] satbai commented on #5462
Hi @cilerler, I can see the problem with accessing the private feed with the .NET Core custom task. Unfortunately, the .NET Core task doesn't support your scenario today, but we are planning on adding a feature to the .NET Core custom task that allows to add feed credentials. Thank you for reporting the issue! I'm leaving this issue open until the issue is fixed.

Since NuGet restore is slightly d

[2017-10-02 22:25] cilerler commented on #5462
I wouldn't use _**.Net Core** Custom Task_ if you didn't remove it from the _**.Net Core** Restore Task_

You are taking away a feature that already exist without providing a replacement.

I would understand if you would taking away all the `Arguments` from _**.NET Core** tasks_ but just from _Restore_ doesn't seem correct.

[2017-10-02 23:08] keithrob commented on #5462
@cilerler,
Is it correct to assume that you have recently changed your build task to use an authenticated feed?  I am asking because earlier versions of the restore task (i.e. neither 0.* nor 1.*) did not support authenticated feeds.
Keith

[2017-10-03 00:36] zarenner commented on #5518
I think your understanding is correct.

+@alexmullans to comment here on the intent/design.
Alex, it looks like when you use the "Registries in my .npmrc" setting, it only will supply creds for those registries (somewhat hinted by the text "Credentials for registries...") rather than setting one of them as the default registry as well.

The "Registry I select here" option does set it as the defaul

[2017-10-03 04:01] sachinma commented on #5540
Thanks for the change. I have merged it.

[2017-10-03 04:01] #5540 closed

[2017-10-03 04:12] alexmullans commented on #5518
Correct. The intent here was to only add _credentials_ to your .npmrc securely, but not to alter the actual restore behavior. The assumption is that the .npmrc you check into your repo will already have a `registry=` line or `@scope\registry=` lines with your desired registry/registries, and we'll add credentials for you.

[2017-10-03 04:22] ShreyasRmsft commented on #5344
Closing this issue as we've gotten no response for a while. Please reopen this issue if you feel more clarification from our side is necessary.

[2017-10-03 04:22] #5344 closed

[2017-10-03 04:22] ShreyasRmsft commented on #5313
Closing this issue as we've gotten no response for a while. Please reopen this issue if you feel more clarification from our side is necessary.

[2017-10-03 04:22] #5313 closed

[2017-10-03 04:23] ShreyasRmsft commented on #5444
Closing this issue as we've gotten no response for a while. Please reopen this issue if you feel more clarification from our side is necessary.

[2017-10-03 04:23] #5444 closed

[2017-10-03 05:43] bishal-pdMSFT commented on #5232
@naresh1990 you are right that Hosted agent has SF 5.4. You can use HostedVS2017 pool which has 5.6 preview version of SF. it is going to be updated to 5.7 soon.

[2017-10-03 07:36] Cva2904 commented on #5279
@nigurr

i haven't sent mail to devops_tools@microsoft.com and the ticket is assigned to ranjanar@microsoft.com.

i have shared the error logs to ranjanar@microsoft.com and awaiting for the response.

Kind Regards,
Siva.

[2017-10-03 08:33] vbossica commented on #5518
In our case, we do not check in the `.npmrc` file (because of the credentials, obviously) but creating one on the fly works.

Thanks for the clarification.

[2017-10-03 09:21] TqrHsn opened #5548 "Deploy to Kubernetes task output format jsonpath"
Could not find a way to define output format "jsonpath". There are only two options in drop down menu, json and yaml. Either it should accept any value like what command selector allows or an option could be added.

[2017-10-03 09:23] PoojaMiraje commented on #5444
No I am running the test from my local sytem and connecting to the rig

[2017-10-03 09:47] Ajay-MS commented on #5458
@fuocor  Closing this issue assuming you are unblocked on this issue. Feel free to reopen in case of problem still persists.

[2017-10-03 09:47] #5458 closed

[2017-10-03 09:48] Ajay-MS commented on #5410
@lczc1988
Closing this issue assuming you are unblocked on this issue. Feel free to reopen in case of the problem still persists.

[2017-10-03 09:48] #5410 closed

[2017-10-03 09:55] RanjanarMS commented on #5305
Closing this thread, as there is traction for last 12 days. Please reopen the thread with details.

[2017-10-03 09:55] #5305 closed

[2017-10-03 09:56] RanjanarMS commented on #5306
Closing this thread, as there is traction for last 15 days. Please reopen the thread with required details.

[2017-10-03 09:56] #5306 closed

[2017-10-03 10:00] Ajay-MS commented on #5326
@karlrissland
Closing this issue assuming you are unblocked on this issue. Feel free to reopen in case problem still persists.

[2017-10-03 10:00] #5326 closed

[2017-10-03 10:15] #5346 closed

[2017-10-03 11:04] madhurig commented on #2147
@rolandh: The feature is only available for VSTS repos. We are working on adding it to GitHub and BitBucket.

[2017-10-03 11:12] rolandh commented on #2147
Thanks for the reply. Be great if that could be added as a side note in the list of environmental variables on the msdn.microsoft.com.

[2017-10-03 11:36] kardinal3000 opened #5549 "Executes the PS script on the remote machine asynchronously returns response"
I am using  Task  "PowerShellOnTargetMachines"  and when I run my PS script on the remote machine I have to wait response from remote PS session.

Why I cannot see output (logs) of my script throughout its implementation?
When session is done I will get all output of my script.

I tried to figure it out.

You use cmdlet `Invoke-PsRemote` which the
return `DeploymentResponse`  - this object contain

[2017-10-03 13:19] alexmullans commented on #5518
Glad you've got it working! It's definitely the right move not to check in your credentials. If you like, you can use two separate npmrc files: one with the registries only that you check in and one with the credentials that lives in your profile folder. npm will merge these for you on the machine.

[2017-10-03 14:10] madhurig commented on #2147
@rolandh : We will be updating the docs soon. Thank you!

[2017-10-03 14:57] DavidKloet commented on #4543
Ok, more pieces for the puzzle this time. I have a configuration that does (worst case) 2 reboots on a W2K12R2.
1: after installing PS5.1
2: after installing .NET 4.6.2

For the first one (with PS4), all works fine
2017-10-03T14:18:31.5201273Z [S0WCOI0001O]:                            [] A reboot is scheduled to progress further. Configuration will be continued after the reboot.
2017-10-03T14:18:3

[2017-10-03 20:23] antispinward opened #5551 "git submodule summary error"
Hello,

I am writing a powershell script which performs a number of git commands at the end of a build.

When running:
`git submodule summary $submoduleName`
I am getting the following error:
`/mingw64/libexec/git-core/git-sh-setup: line 179: egrep: command not found`

This is on v2.117.2
I have so far found a work around to set this variable:
`system.prefergitfrompath = true`

[2017-10-03 20:52] zarenner commented on #5361
Hi John,

Can you please share a screenshot of your NuGet (and any other relevant task) settings, as well as the error details so I can try to reproduce this? Thanks.

[2017-10-03 21:42] aldoms commented on #5511
@tjrobinson, we have deployed the hotfix to all rings, please try again and let us know if the issue still persists.

[2017-10-03 23:40] zarenner commented on #5452
Hi @mcapewell, thanks for the report.
It looks like this is due to a bug in NuGet.exe in how it calls out to credential providers. I've filed https://github.com/NuGet/Home/issues/5982

As far as workarounds go - I want to first note that populating a nuget.config with credentials is unfortunately unlikely to work for TFS, as a *different* bug https://github.com/NuGet/Home/issues/5286 prevents usin

[2017-10-04 01:14] kdubau commented on #5276
Is there any way to work around this?

[2017-10-04 03:59] ds-ms commented on #5511
@pjquirk You're right, the new library we use doesn't support semicolons for as delimiters. A new line is the delimiter the new library expects.

@tjrobinson the pattern you should have given is
[code]
 Will make sure to update the help text accordingly; Thanks for reporting this.

[2017-10-04 04:32] ds-ms commented on #5477
You could directly add key vault references to your template as well, to avoid the downloading and referencing separately phase.
Here's a link to some [documentation](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-keyvault-parameter)

[2017-10-04 05:48] munir131 commented on #5467
@SadagopanRajaram @bryanmacfarlane @nigurr @kaadhina Please update on this. Our build system is on hold due to this issue.

[2017-10-04 06:55] nigurr commented on #5467
This is discussed here: https://github.com/Microsoft/vstest/issues/683
@SadagopanRajaram can we please have fix for the same in vsts-agent side for handling it?

[2017-10-04 06:58] sabbour commented on #5548
This is needed for automation.

[2017-10-04 07:07] Mauzer93 commented on #5477
Thanks for the replies. I have chosen to hard code the variable name in the override parameters step.

[2017-10-04 07:07] #5477 closed

[2017-10-04 07:10] TqrHsn commented on #5548
Actually I am adding a step where I am trying extracting the deployed service ip like this:

kubectl get svc my-service -o jsonpath='{$.status.loadBalancer.ingress[0].ip}'

But my -o param is being overridden by -o json or -o yaml param added by the VSTS task.

[2017-10-04 08:05] arjgupta commented on #4830
Hi @pauldalyii , AzureAD is not supported in the Azure PowerShell task. Adding @RoopeshNair to look into this enhancement.

[2017-10-04 08:22] mobius127 opened #5554 "Build fails after restoring nuget packages"
Hi there,

My builds fails always after restoring nuget packages. In build step is trying to get references from GAC and then from packages folder but It fails.

I found the "optional" option "Destination Directory" but it doesn't works:

2017-10-04T08:17:02.9151536Z ResolveAssemblyReferences:
2017-10-04T08:17:02.9151536Z   Primary reference "log4net, Version=2.0.8.0, Culture=neutral, PublicKeyTok

[2017-10-04 08:23] mobius127 commented on #5554
![image](https://user-images.githubusercontent.com/16031601/31166176-20263c98-a8ee-11e7-9c49-d0a546ee66fc.png)

[2017-10-04 08:59] mcapewell commented on #5452
Thanks @zarenner for the info and workarounds. It is much appreciated.

[2017-10-04 09:15] mobius127 commented on #5554
My build finally works disabling NuGet Restore 2.0 and put another one with version 0:

![image](https://user-images.githubusercontent.com/16031601/31168286-2494efca-a8f5-11e7-99d0-58596006b385.png)

![image](https://user-images.githubusercontent.com/16031601/31168320-3ec09da4-a8f5-11e7-8003-f46a9f794244.png)

[2017-10-04 10:47] bryanmacfarlane commented on #5551
Doesn't appear to be an issue with any of the tasks in this repo.

[2017-10-04 10:47] #5551 closed

[2017-10-04 11:31] hoetz commented on #5259
Hit this today as well with a aspnetcore 2.0 azure web app and I even enabled the rename locked file option. Thing is it worked at some point but now it doesn't.

[2017-10-04 11:38] ISAF87 opened #5556 "Deploy Test Agent fails (unzip failed, unable to stop dtaexecutionhost)"
Our Deploy Test Agent task is stuck on two issues:

Unable to stop DTAExecutionHost.
Details : 'A command that prompts the user failed because the host program or the command type does not support user interaction. The host was attempting to request confirmation with the following message: Are you sure you want to perform the Stop-Process operation on the following item: DTAExecutionHost(5696)?'.

[2017-10-04 12:02] cilerler commented on #5462
@keithrob sorry about delayed response.

No, I was always using it through _**Nuget** task_ for feed.  Just a reminder issue here is `Arguments` textbox,

If you link 2 projects together and restore them through _**.Net Core** Restore Task_, you will see that linked library will be called in `Debug` configuration even you are actually calling the entry library in `Release` configuration.

[2017-10-04 12:15] PBoraMSFT commented on #5450
@asartem - Visual Studio Test platform produces TRX. For extensibility in result formats, this forum is not the right one. Please post this ask on https://github.com/Microsoft/vstest/

About the other requirement to run nUnit tests using nunit runner, you can do that and publish results using the publish test results task. Is that not working for you?

[2017-10-04 12:41] tjrobinson commented on #5511
@ds-ms @aldoms I'm a bit confused, one of you appears to be saying that semi-colons are now supported but the other is saying that I should be using a different pattern. Which would be the best to use going forward?

[2017-10-04 12:42] chrisrpatterson commented on #5554
@mobius127 what pool are you building against?
What version of Visual Studio is your solution built with?

[2017-10-04 12:47] silentbobbert commented on #5467
I can see this problem on the current version of this task, and the previous version I was using: v1.0.36

[2017-10-04 13:22] mobius127 commented on #5554
I'm working with Visual Studio 2015 Update 3.

The pool, if i'm understanding you is .NET Desktop

![image](https://user-images.githubusercontent.com/16031601/31177945-c78a6486-a917-11e7-9342-9d8e6fcabdcd.png)

The solution is a group of .net libraries built in 4.6.1 framework.

[2017-10-04 13:23] vincentdass commented on #5259
@hoetz , Can you please add  `-retryAttempts:10 -retryInterval:6000`  in additional arguments of Web Deploy options and rerun the release?
Please share the debug logs for the same.

[2017-10-04 13:29] mobius127 commented on #5554
if you want a copy of one of .csproj files. Ill put you here the xml:

<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.pr

[2017-10-04 13:30] nphmuller commented on #5259
@vincentdass while this worked for me, this _is_ seen as a workaround, right?
Are you still interested in the debug logs, even with this workaround implemented? The issue didn’t occur every deployment for me, so I’m not sure if the log is still useful with the workaround.
Got an email address I can mail confidential logs to?

[2017-10-04 13:33] vincentdass commented on #5259
@nphmuller , thanks for the response.
Wanted to confirm from the logs, if the issue is raised by any Web jobs or DLL.
Can you please share only the ASPCore version?

[2017-10-04 13:34] mobius127 commented on #5554
This is one of my .csproj with log4net dependency

![image](https://user-images.githubusercontent.com/16031601/31178446-66ef49a0-a919-11e7-80cc-acf9f3600908.png)

[2017-10-04 13:45] ds-ms commented on #5511
@tjrobinson:  @aldoms has made the fix to support semicolons I suppose. I was talking about the earlier functionality.

[2017-10-04 13:54] IvanAlekseev commented on #5511
Multiple projects with semicolons works for me now.
Will it change to a new pattern in the future?

[2017-10-04 14:28] hoetz commented on #5259
Setting -retryAttempts:10 -retryInterval:6000 seemed to work for now

[2017-10-04 17:32] pjquirk opened #5559 "Deploy Azure App Service deploys WAR to root under Linux and is not visible by default"
This may be by design or I don't understand the Azure App Service well enough, but the out-of-the-box experience isn't great.

When running on a Linux agent, the 'Deploy Azure App Service' task explodes the WAR to `/wwwroot` and it is not navigable by default.  Going to the app service's root (`http://<azurewebsite>/`) still shows the welcome page, which is served out of `/wwwroot/webapps/ROOT`.

[2017-10-04 17:51] CarteriTrellis opened #5560 "Azure File Copy fails with "Failed to enable copy prerequisites""
This started in our builds immediately after this Win RM-related change to Azure File Copy:
https://github.com/Microsoft/vsts-tasks/pull/5491

From our logs:
[code]

[2017-10-04 19:18] pauldalyii commented on #4830
Right, my request is to either:
- add support to the existing Azure PowerShell task to also load the AzureAD module w/in the same task (ideally) or
- create a new AzureAD PowerShell task (would also work, but would require more passing of varaibles between tasks that could be avoided if the first option was implemented).

[2017-10-04 20:47] jls901 opened #5561 "Visual Studio Test Task fails when Test Impact Analysis is switched on"
Agent: Hosted VS2017
Version: 2.x
Test Platform: Visual Studio 2017
Run only impacted tests: Yes

All NUnit tests initially run fine:
[code]

 But when the build system executes the below command:
`2017-10-04T20:00:43.0551626Z [command]d:\a\_tasks\VSTest_ef087383-ee5e-42c7-9a53-ab56c98420f9\2.1.12\TestSelector\TestSelector.exe UpdateTestResults`

I get the following output:
[code]
The exception re

[2017-10-04 23:29] gchadid commented on #3154
what parameters did you modified in the build.xml and in the ant build steps?

[2017-10-04 23:56] sandorfr commented on #5188
the doc link is incorrect and points to nuget, here is the correct one : https://docs.microsoft.com/en-us/vsts/build-release/packages/npm?toc=/vsts/package/toc.json

[2017-10-05 06:10] Ajay-MS commented on #5560
@CarteriTrellis

As per logs error message says that VM extension that you are trying to set is already marked for deletion. A request for setting extension has resulted in conflict operation as some other operation is already in progress.

Is it possible for you to try Azure File Copy on a different VM to figure out if [#5491](https://github.com/Microsoft/vsts-tasks/pull/5491/files)  has caused t

[2017-10-05 06:34] ds-ms commented on #5051
I'll look into it.

[2017-10-05 07:00] abhishkk commented on #5476
This issue was moved to Microsoft/vstest#1164

[2017-10-05 07:00] #5476 closed

[2017-10-05 07:36] abhishkk commented on #5542
Can you share following logs to devops_tools@microsoft.com?
1. Add/set 'system.debug' variable to true in your build/release definition and share the logs folder.
2. For checking assembly load failure, share fusion logs:
    -	Open developer command prompt from Start menu
    -	Run fuslogvw command to open fusion log viewer UI.
    -	In fusion log viewer UI, Settings > Check ‘log bind failures to

[2017-10-05 08:04] chunliu opened #5562 "How to publish the code coverage result with a .coverage file?"
I am working on a .net core 2.0 project. With the latest version of Visual Studio agent, I can collect the code coverage with a command like below:

`"C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe" /framework:".NETCoreApp,Version=v1.1" /collect:"Code Coverage" "G:\tmp\trial\bin\Debug\netcoreapp1.1\trial.dll`

The command ge

[2017-10-05 08:41] shaileshkumar-atos opened #5563 "Failed to publish test results: Value was either too large or too small for an Int32."
Running the UFT testcase using Jenkins. And this is triggered from VSTS Release step.
After successful run of UFT testcase in jenkins, collecting the results from Jenkins to VSTS in JUnit format.
In VSTS the release if completing successfully, but the test results are giving the following issue:

When I checked the result xml of testcase in Jenkins, found out that in <testcase> the "time" attribut

[2017-10-05 10:44] LarsOleKMD commented on #5542
Hi abhishkk i cannot send a mail to devops_tools@microsoft.com the mail come back ?

[2017-10-05 11:29] Ajay-MS commented on #5549
@kardinal3000

Live logging is currently not being supported with "PowerShellOnTargetMachine" task.  I suggest you try PowerShell task with Deployment Group in order to take advantage of live logging. [Getting started for DG.](https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/release/deployment-groups/)

[2017-10-05 11:37] abhishkk commented on #5542
Hi Lars, We have received the mail. I will look into the logs and reach back. Thanks.

[2017-10-05 13:10] sawankumarbundelkhandi opened #5565 "Unable to build Xamarin.iOS build on VSTS"
![untitled](https://user-images.githubusercontent.com/10863510/31228809-62e2ed24-a9fc-11e7-961e-fcaaf28297d1.png)

This is the error I am getting. It's a Xamarin forms application and I am trying to have CI for Xamarin.iOS app.

[2017-10-05 13:48] rhessinger opened #5566 "Swap Slots Error: Bad Request"
I'm seeing intermittent errors when trying to swap slots via VSTS.  It has now become the majority of the time that it fails.  I have tried starting the slot first and not starting at all prior to swap.  I notice it hangs for quite a while prior to failing with Bad Request.  It looks like it took about 7 minutes to fail.

2017-10-05T13:25:09.0042022Z ##[section]Starting: Swap Slots: <omitted>
2017

[2017-10-05 14:55] CarteriTrellis commented on #5560
Ajay -- It's definitely persistent. I'm trying it on a new VM now.

[2017-10-05 15:06] the-daniel-rothig commented on #5161
The issue persists - any guess when it might get resolved?

[2017-10-05 16:48] pjquirk commented on #5566
Can you queue a new build and set the `system.debug` variable to `true`? This should output more information about what exactly is failing.

[2017-10-05 18:15] rhessinger commented on #5566
Here is the debug for that step:

Evaluating condition for step: 'Swap Slots: <omitted>'
Evaluating: succeeded()
Evaluating succeeded:
=> (Boolean) True
Expanded: True
Result: True
******************************************************************************
Starting: Swap Slots: <omitted>
******************************************************************************
=============================

[2017-10-05 19:04] sujitks opened #5567 "IIS Web Application Management failed to work for non admin user accounts"
Hi There,

**IIS Web Application management task fails** to create or update the application pool on the deployment target if vsts agent running on the deployment target are not running with the administrator account.

Could you please suggest what permission user account should have which is used for running the vsts agent?

[2017-10-05 19:21] aleccaputo commented on #4884
@shibinchandra it is not fixed.  We just ran into this today. Probably has something to do with string manipulating the JSON, and not taking the slashes in comments into consideration and parsing it as part of the JSON.

[2017-10-05 19:28] pjquirk commented on #5565
Could you post that error log as text instead of an image? Some of the error is cut off, and it would also make it more searchable.

[2017-10-05 19:33] AndreyShvidky commented on #4361
Specifying v.2.0.55 solves the problem, but brings new one.
Something is wrong with console output encoding:
![default](https://user-images.githubusercontent.com/31736985/31248635-84297132-aa25-11e7-9cb4-6b659873e523.PNG)
while on 1.0.85 everything was fine.

[2017-10-05 19:34] pjquirk commented on #5563
Unless your unit tests really do take 21 years to run, this sounds more like a bug with your test runner on your Jenkins server.  It would probably be ideal for TFS to better handle values this large, but that would likely only handle these buggy scenarios.

Can you post some of your result XML so we can get a sense of what values are too large?  Can you confirm the error comes from the 'Publish T

[2017-10-05 20:42] xenalite commented on #3455
The change has been made. Is it present in Agent version 2.120.2?
I tried to set the variable with PS Inline script:
[code]
It did not persist the value 'def' into the second agent phase.

[2017-10-05 21:03] CarteriTrellis commented on #5560
It works on a vanilla VM; I'm trying to see if there are subsequent build steps that are interacting negatively.

[2017-10-05 21:17] KZeronimo opened #5568 "Show branch information for build artifacts when creating a release"
## Issue
When creating a release the artifacts from the associated build do not show the branch from which they were build.  You only know after the release is queued which branch the artifacts were built from and if the release artifact filters will be satisfied

## Proposal
In addition to showing the build number of the artifact- also show the branch from which it was built

<img width="668" alt

[2017-10-06 06:13] tiagorosendo commented on #5066
@IvanAlekseev i've replicated your settings and still have this error, have any idea what that might be?

Error:
2017-10-06T06:06:32.7478934Z ========================================================
2017-10-06T06:06:32.7478934Z Test selector : Test assemblies
2017-10-06T06:06:32.7478934Z Test assemblies : **\*test*.dll,!**\obj\**
2017-10-06T06:06:32.7478934Z Test filter criteria : null
2017-10-06T

[2017-10-06 07:32] to-kr opened #5570 "Adding support for collecting results in Jenkins pipeline job"
I cannot find a way how to get "team-results" when using JenkinsQueueJob with Jenkins pipeline job. There is no equivalent for "Collect results for TFS/Team Services" in pipelines.

[2017-10-06 08:01] sawankumarbundelkhandi commented on #5565
@pjquirk Here is the exact error - https://gist.github.com/sawankumarbundelkhandi/daa1b1b03a5075cca424011ac62722de

[2017-10-06 09:25] IvanAlekseev commented on #5066
@tiagorosendo Maybe there is a problem with xunit runner. We are using MS Test v2, and it still works fine with settings mentioned above.

[2017-10-06 10:16] PBoraMSFT commented on #5066
@tiagorosendo - are you able to run the tests using vstest.console.exe independent of the task?

[2017-10-06 10:40] michel-weber commented on #5467
I have the same problem.

[2017-10-06 10:44] munir131 commented on #5467
I found the issue. VSTS test result task considering this  "…" (\u2026)  Unicode character as invalid in my case.

[2017-10-06 11:56] octatone commented on #5467
I have the same issue using version 1 or 2 of the test publish task

[2017-10-06 12:59] thurfir opened #5573 "IIS Web Deploy - JSON replacement for non .json files"
Hello,

We would like to apply JSON replacements from the IIS Web Deploy task on some of our configuration files. However as these files may contain sensible informations we save them as .json.config files to prevent them from being exposed by IIS.

As the IIS Web Deploy task use the file type to detect if the file is a JSON or not, the replace is currently forbidden:

jsonvariablesubstitutionutil

[2017-10-06 13:53] pjquirk commented on #5567
That task ultimately uses [appcmd.exe](https://technet.microsoft.com/en-us/library/jj635852.aspx) to perform its work.  The help for that application states:

So, the user account used to run the agent for this particular task should belong to the administrator's group.

[2017-10-06 13:56] sujitks commented on #5567
Can an option be added in the task to allow running it in another elevated account context please? A deployment agent running in administrator account does not make any sense. Does it?

Thanks

[2017-10-06 14:27] joe45sp commented on #5351
Any idea when this will be released? I really need this functionality for my project asap. I see it was a part of version 1, but not version 2?

[2017-10-06 14:45] pjquirk commented on #5570
Unfortunately you're right, there is no way to get the results when using this task to queue pipeline jobs.

This issue has [been reported against the Jenkins TFS plugin](https://issues.jenkins-ci.org/browse/JENKINS-44213).  Any changes to that plugin will be reflected in the task here.

[2017-10-06 14:45] #5570 closed

[2017-10-06 16:02] hikirsch commented on #5566
we are experiencing the exact same issue as the log above. doesn't seem to be getting a valid auth token.

[2017-10-06 16:14] alexmullans commented on #5188
Great catch, thanks. Fixing the redirect now.

[2017-10-06 16:39] Jonathan34 commented on #5507
Also this is quite dangerous since if someone updates the package un the local folder in the VCS (git) without updating the agent, then we end up deploying something outdated and potentially buggy...
Any update on a resolution for this?

[2017-10-06 17:01] SunnyOswal opened #5574 "Azure SQL Database Deployment Task fails as it cannot locate SqlPackage.exe"
We have installed SSDT nuget package **(Microsoft.data.tools.msbuild)** on vsts agent. But in our VSTS release definition , Azure SQL Database Deployment Task fails as it cannot locate SqlPackage.exe

**Error:**
Unable to find the location of Dac Framework (SqlPackage.exe) from registry on machine.

As part of installation of nuget package,we have already set environment variables such as **SQLDBE

[2017-10-06 17:27] pjquirk commented on #5568
This is a feature request for the VSTS/TFS product itself, not one of its tasks.  Please use [UserVoice](https://visualstudio.uservoice.com/forums/330519-team-services) to submit feature requests for the product, as this repository is only for certain tasks.

[2017-10-06 17:27] #5568 closed

[2017-10-06 17:38] pjquirk commented on #5562
The Publish Code Coverage task only supports [Cobertura](http://cobertura.github.io/cobertura/) and [JaCoCo](http://www.eclemma.org/jacoco/) output.

See [this thread and comment](https://github.com/Microsoft/vsts-tasks/issues/5066#issuecomment-329745668) for details on using the Visual Studio Test task to generate and publish the code coverage.

[2017-10-06 17:49] pjquirk commented on #5574
The SqlPackage.exe distributed with the Nuget package does not advertise its existence to the system in any way, so there's no easy way to determine if it's there.

Please read [this section of the readme](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/SqlAzureDacpacDeployment#automation-agent) for this task for a number of supported ways to install SqlPackage.exe.

[2017-10-06 17:51] pjquirk commented on #5565
For posterity, the error encountered is:

[2017-10-06 17:54] SunnyOswal commented on #5574
Hey Patrick,
Already went through the prerequisites. Was just wondering , Could we add this as a feature request i.e to support sql deployment task where agents have SSDT nuget package installed ?

Use case:
We want to use docker windows containers as VSTS agents in our release definitions and want containers to be as light as possible.

Thanks,
Sunny Oswal

[2017-10-06 17:59] madhurig commented on #4558
@ckrempp91: These changes didn't make it into TFS 2017, they are included in TFS 2018. You can try building the task and uploading to your TFS server using the  tfs-cli: https://github.com/Microsoft/tfs-cli

Thanks,
Madhuri

[2017-10-06 18:14] pjquirk commented on #5565
I'm assuming your project is targeting .NET Core since this error commonly is a result of loading .NET Core projects targeting VS 2017 with older build tools.  Try the following:
- Use MSbuild instead of xbuild. The latter is deprecated and likely doesn't support the 'new' project format for .NET Core.  This is an option in the Xamarin.iOS task.
- Use VS 2017 to build the project.  If you're using

[2017-10-06 18:19] pjquirk commented on #5574
In that case, can you create a new issue for that? The title of this issue does not reflect what you just asked and I don't want it to get lost.

[2017-10-06 18:21] tiagorosendo commented on #5066
@PBoraMSFT u can send me one example ?

[2017-10-06 18:31] SunnyOswal opened #5575 "Feature request: Support Azure Sql dacpac deployment task for VSTS agents with SSDT nuget package installed"
**Feature request:** Support Azure Sql dacpac deployment task for VSTS agents with SSDT nuget package installed.

**Use case:**
We want to use docker windows containers as VSTS agents in our release definitions and want containers to be as light as possible. So we want to install SqlPackage.exe from **Microsoft.data.tools.msbuild** nuget package .

Currently Azure Sql dacpac deployment task works

[2017-10-06 18:32] SunnyOswal commented on #5574
Sure. Posted Feature request: https://github.com/Microsoft/vsts-tasks/issues/5575

[2017-10-06 18:34] #5574 closed

[2017-10-06 18:43] perreaultd commented on #5472
Any hint on this? Got the error twice in a row again this moring.

[2017-10-06 19:57] leftler commented on #5351
@sachinma you say it is about to roll out, but I can't find any branch in the repo that touches the output code since c316063fcca3e7bd53697c41d4d837314496545e was put in to comment out the code. I figured that if it is deploying "soon" at least there would be a branch or PR waiting to be merged in that enables it.

[2017-10-06 20:20] rhessinger commented on #5566
I opened a ticket with Microsoft also.  They instructed that the website was not started, even though i called a start app service step.  I added a powershell command of Invoke-WebRequest to both the staging and production slots prior to swap slots and it fixed my issue.

What i'm seeing is that if swap slots is called prior to the Invoke-WebRequest, my apps will fail to load indefinitely.   If i

[2017-10-06 20:32] joe45sp commented on #5351
@leftler for now I found a workaround, not sure if you have one yet. But I added an Azure Powershell inline script task with the following code to get the output variables:

$outputs = (
    Get-AzureRmResourceGroupDeployment -ResourceGroupName $(ApplicationName) |
    Where-Object -Property Outputs -ne $null |
    Sort-Object -Property Timestamp |
    Select-Object -Last 1
).Outputs

$val = $outp

[2017-10-06 20:53] BiribiriJaNai opened #5577 "How to use the common module in custom tasks?"
Trying to use secure files in a custom task, I found [this link](https://docs.microsoft.com/en-us/vsts/build-release/concepts/library/secure-files).
Exploring the source code of this repo, I also found some examples, like the [InstallAppleProvisioningProfile ](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/InstallAppleProvisioningProfile/preinstallprovprofile.ts)task.

Are these modules

[2017-10-06 22:49] mydiemho commented on #2147
@madhurig when will the docs be updated?

I tried using the variable in my branch name but it doesn't work, my branch name just looks like this:

** Branch-merge-$(System_PullRequest_SourceBranch)-20171006-01**

Here are the formats I've tried:
1. $(System_PullRequest_SourceBranch)
1. $(System.PullRequest.SourceBranch)
1. $(PullRequest.SourceBranch)
1. $(PullRequest_SourceBranch)

[2017-10-07 00:42] danieldiazastudillo commented on #1607
My first Core app, candidate to go on production and this error comes up, from nothing, out of nowhere :(. No update, no changes, nothing. I had to stop the app on Azure, publish via VS and it worked. I'll configure CI/CD with GitHub and see what happens, i've never had this problem before (.NET Classic and so on)

[2017-10-07 10:44] SadagopanRajaram commented on #5467
The test runner needs to be updated to the latest version. Please see below post.
https://github.com/Microsoft/vstest/issues/683

[2017-10-07 15:08] christophedemey opened #5578 "Google Play release task"
Hi

I am trying to use the google play release task, i followed the instructions but am getting the following output from the task :
[code]

I can see it found my apk at path d:/a/1/b/Release/privatemessaging.cdmapplications.com.apk which is correct because i also upload it as an artifact of the build.
`d:/a/1/b/Release/privatemessaging.cdmapplications.com.apk (version code 1)`

Then authenticatio

[2017-10-07 15:35] mobius127 commented on #5554
I have another problem....

All of packages of my libraries, NuGet Pack allways mark them in preview....

[2017-10-07 16:12] christophedemey commented on #5578
Hi

Found the issue, the android:versionCode="2" line in androidmanifest.xml is required to increment on each push to the store.
Would be nice to get more feedback from the task.

Thanks!

[2017-10-08 12:22] alexmullans commented on #5554
If you're using the automatic package versioning features, that's currently by design. Each automatic option uses the `-prerelease` part of the Semantic Version of the NuGet package (e.g. `1.0.0-beta` or `1.0.0-20171008.1`), so NuGet considers the package as in preview.

[2017-10-08 16:45] #5133 closed

[2017-10-08 21:35] ericsciple commented on #5577
@BiribiriJaNai Nope, they are internal libraries for tasks in this repo.

[2017-10-08 21:35] #5577 closed

[2017-10-08 21:44] ericsciple commented on #5472
@perreaultd A workaround is to do the delete yourself. If you have antivirus on, I suspect that adding an exclusion for folder would workaround the issue as well.

I suspect the issue is occurring because node unlink() decrements the ref count on the file, and the OS deletes the file after all ref counts are removed. If contents in the folder are still pretty fresh, then anti-virus may not be done

[2017-10-08 21:49] ericsciple commented on #5472
@bryanmacfarlane we need either a new or updated lib function to do the delete. Either sleep in a loop and wait for the delete to finish, or shell out to do the delete. There are aspects about both options that I am not enthusiastic about (poll and sleep in js, or spawn a process on Windows and handle escaping problems correctly either across an env var or in a batch script).

[2017-10-09 07:04] henkmollema commented on #4365
@vincentdass it seems that the Application Insights snapshot collector extension causes the locked files lately:

[code]

[2017-10-09 07:18] dikhakha commented on #5566
@rhessinger Is this Linux or Windows web app ? Also, are you using any slot specific settings for your app ?  It looks like application initialization is taking long due to which the task could not verify whether swap actually happened.  Using Invoke-WebRequest before the swap operation will ensure that web app is warmed up and ready to process further requests. You can continue using this fix whi

[2017-10-09 07:38] abhishkk commented on #5310
Closing this issue as we haven't got any response for a while. Please reopen the issue if required.

[2017-10-09 07:38] #5310 closed

[2017-10-09 07:39] abhishkk commented on #5314
Closing this issue as we haven't got any response for a while. Please reopen the issue if required.

[2017-10-09 10:07] shaileshkumar-atos commented on #5563
Thanks for your reply pjquirk :)
Following is the result xml file:

`<?xml` `version="1.0"?>`

`<testsuites` xmlns:xsd="http://www.w3.org/2001/XMLSchema" `xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">`

`<testsuite` package="HPToolsFileSystemRunner" errors="0" failures="0" `tests="1">`

`<testcase` status="pass" classname="All-Tests.<None>" time="89,925759" report="C:\Users\Administrator\

[2017-10-09 10:50] abhishkk commented on #5444
Did you get a chance to look at the response given by Deepak over mail? Following is the response:

This could be an application/rig issue. You should dig into the server logs and see if the connections are getting closed properly and there are no timeouts.

In the load test you can enable TCPV4 counters if not done already to monitor the connections health from the agent machines.
https://blogs.m

[2017-10-09 11:04] Ajay-MS commented on #5573
@thurfir

As you also know we are here strongly checking with extension '.json' only.

Only possible workarounds are
1. To change the file to .json extension.
                  _But this is a restriction from your end because you don't want to expose it by IIS_.
2. To customize your local task to remove this check to get you unblocked on this issue.

I will check if we could support '.json.config'

[2017-10-09 11:07] Ajay-MS commented on #5560
@CarteriTrellis
Are you unblocked on this issue?

[2017-10-09 11:10] #5549 closed

[2017-10-09 11:12] Ajay-MS commented on #4338
@svandekrol

Are you unblocked on this issue?

[2017-10-09 11:27] rhessinger commented on #5566
This is a Windows .net 4.5.2 web app.  We are not using any slot specific settings.  I also wanted to point out that the Invoke-Web Request took 10 seconds to initialize.  After that, the swap slot worked.  If I ran the swap slot without the invoke, the web app would refuse to start (hang) until the timeout expired.

[2017-10-09 12:10] thurfir commented on #5573
@Ajay-MS Being able to use .json.config (or other .json.* file formats) would be much appreciated, thank you.
On the meanwhile we might change the file format then perform a file rename to avoid this issue, creating and maintaining custom VSTS tasks is not possible for us right now.

[2017-10-09 12:11] skushubar opened #5589 "Build Test Hub reports incorrect test results."
Our CI build includes a Visual Studio Test (version 2) task.  When looking at the logs for the task after a build it shows:

[code]
However the Test Results section on the build summary shows some spurious number of failed tests.  The Tests Hub  shows the same number of tests as failed, but if you look at an individual "failed" test there is no error message or stack trace that you typically find

[2017-10-09 12:12] PoojaMiraje commented on #5444
yes I tried enabling TCPV4 counters and I am count for connection failuer

[2017-10-09 12:24] knuterik91 commented on #5566
Not sure if this is related, but I experienced the same issue as described. The problem occurred on Friday and has continued until today. I attempted to go to the url for the staging app, but page responded with server error. I restarted my staging app in azure. And the page now loads successfully, meaning i can deploy aswell.
So Im guessing this is more of an azure issue ?

[2017-10-09 12:53] abhishkk commented on #5444
Can you please respond the same over the email query (on which Deepak has already replied). Deepak will be helping you out on this solving this issue.

[2017-10-09 13:16] RobertHamiltonPeople commented on #5566
Getting occasional, very annoying, non informative errors that fail my builds randomly. "Failed to swap slots for Azure Web App. Error: Bad Request". Any workarounds to this? I didnt encounter random failures with the "old" task

[2017-10-09 13:18] abhishkk commented on #5542
There are few issues with your run. Please follow below suggestions for your issue:
1. Build Agent and Test Agent on same machine is not a supported scenario. Please use separate machines for build agent and test agent. You will/might run into many issues if same machine is used for both.
2. Test Agent and Visual Studio installed on same machine is not a supported scenario. Ideally in your build a

[2017-10-09 13:29] hkusulja opened #5590 "Wrong content-type for SVG extension"
AzCopy /SetContentType puts automatic content-type based on file extension

But it does it wrong for .svg extension.
It should be

instead current/wrong:

This needs to be fixed

[2017-10-09 13:40] rhessinger commented on #5566
@knuterik91 I notice when the swap slot happens without the site warmed up, it will lock the initialize of your app until you restart the app. Once both slots are warmed up, swap slot seems to work fine.

@RobertHamiltonPeople Try warming up both slots using powershell to call Invoke-WebRequest prior to calling swap slots.  Seems to work for me every time. https://docs.microsoft.com/en-us/powershe

[2017-10-09 14:46] CarteriTrellis commented on #5560
@Ajay-MS No, I'm still blocked, but it's less straight-forward than I thought. I'll close this, and re-open it when I have more information.

[2017-10-09 14:46] #5560 closed

[2017-10-09 15:08] sawankumarbundelkhandi commented on #5565
@pjquirk Thanks. It worked.

[2017-10-09 15:08] #5565 closed

[2017-10-09 15:09] yacaovsnc commented on #5578
Duplicate item.  Tracking in the [correct ](https://github.com/Microsoft/google-play-vsts-extension/issues/80) repo.

[2017-10-09 15:09] #5578 closed

[2017-10-09 17:15] jricke opened #5592 "partial update service fabric versions not working"
@MikkelHegn

When trying to perform diff package comparison in Service Fabric Update Application Versions task, the following error is occurring:

Could not find previous build to compare against.

I made a default build script with no modifications and get the error as well.

[2017-10-09 18:18] onetrueerror opened #5594 "The nuget task should reference $(System.ArtifactStagingDirectory) instead of $(Build.ArtifactStagingDirectory)"
## Troubleshooting

When creating a new nuget task in **_Release manager_**, it incorrectly references `Build.` instead of `System.`.

![bild](https://user-images.githubusercontent.com/6445000/31352346-b97447d4-ad2e-11e7-93b1-9f752214284b.png)

This is tricky since the task will not produce an error if no nuget packages is found. So if you are not aware of what the output should be, you might assu

[2017-10-09 18:22] DrEsteban commented on #4131
We are also seeing this issue on task version 3.*, but with the appSettings section.  We are using the KeyVault task to download secrets and set build variables, and are expecting these build variables to be substituted in the Web Deploy process.  This isn't happening.

This worked for us just fine until this week.  Has there been a bad release of this task?

[2017-10-09 18:30] madhurig commented on #2147
@mydiemho : The variables set during PR builds for repositories in VSTS are:
SYSTEM_PULLREQUEST_PULLREQUESTID
SYSTEM_PULLREQUEST_SOURCEBRANCH
SYSTEM_PULLREQUEST_TARGETBRANCH

The same variables will be available for GitHub repositories after Oct 23 (approx) in VSTS. The same work for BitBucket is on our backlog.

Thanks,
Madhuri

[2017-10-09 19:07] shaneholder opened #5595 "Variable substitution for ApplicationSettings not working"
It seems that while appSettings are correctly substituted, applicationSettings are not.

Her in xmlvariablesubstituionutility.ts the code is iterating through a set of tags.

https://github.com/Microsoft/vsts-tasks/blob/a698fb593f58fe733df94aa166a99ed3ea6dda5b/Tasks/Common/webdeployment-common/xmlvariablesubstitutionutility.ts#L84

There appears to be special case code for configSections and conne

[2017-10-09 22:25] MikkelHegn commented on #5592
Can you please rerun the build with debug enabled? https://docs.microsoft.com/en-us/vsts/build-release/actions/debug-deployment-issues#debug-mode

[2017-10-10 00:02] jricke commented on #5592
@MikkelHegn

2017-10-09T23:58:40.8848607Z ##[debug]Evaluating condition for step: 'Update Versions Sem.Vims'
2017-10-09T23:58:40.8848607Z ##[debug]Evaluating: succeeded()
2017-10-09T23:58:40.8848607Z ##[debug]Evaluating succeeded:
2017-10-09T23:58:40.8848607Z ##[debug]=> (Boolean) True
2017-10-09T23:58:40.8848607Z ##[debug]Expanded: True
2017-10-09T23:58:40.8848607Z ##[debug]Result: True
2017-10-0

[2017-10-10 03:43] ds-ms commented on #5351
@leftler  We are testing that feature out locally first, by enabling that Feature Flag on some accounts and checking if the functionality is fine. We were having some trouble doing that, so it is going to take some more time. Till then, I hope the work around which @joe45sp suggested works for you.

Thank you for your patience.

[2017-10-10 05:54] PoojaMiraje commented on #5444
Hi ,

I have tried collecting TCPV4 socket details. Most of the sockets are
getting into waiting state and most of sockets will be getting resetted.

On Mon, Oct 9, 2017 at 2:53 PM, Abhishek Kumawat <notifications@github.com>
wrote:

[2017-10-10 06:51] TechnologyAnimal commented on #5577
I came here looking for the same answer.  If it's not possible, why is it listed on docs.microsoft.com?  I'd really love to find an example in a custom task using powershell...

https://docs.microsoft.com/en-us/vsts/build-release/concepts/library/secure-files
https://docs.microsoft.com/en-us/vsts/build-release/tasks/utility/install-apple-provisioning-profile
https://github.com/Microsoft/vsts-tasks

[2017-10-10 08:23] cortex93 opened #5598 "VsTest task failed to configure agent with DTA in Test run"
## Environment
- TFS on-premises 15.117.267.14.0
- Agent Private : Windows Server 2012

## Issue Description

I create an automated test release definition with the assistant from test hub.
The Run on agent phase contains the new VS Test Task set to "Test run".
When running the test, a release is created and run but failed when trying to create the DTA. From the log, it stops somewhere in the try/

[2017-10-10 14:55] abhishkk commented on #5556
@ISAF87 unzip failure is happening only after DTA task stucks?

Can you share following logs to devops_tools@microsoft.com?
**For Unable to stop DTAExecutionHost issue**:
1. Add/set 'system.debug' variable to true in your build/release definition and share the logs folder.
2. Share DTAExecutionHost.exe.log from test agent (usually its present at C:\DtaLogs)

**For unzip failure issue**:
As you men

[2017-10-10 15:02] abhishkk commented on #5561
@jls901 Can you please provide following information?
1. Whats the NUnit adapter version?
2. can you confirm if you are using NUnit data driven tests?
3. Can you share following logs to devops_tools@microsoft.com?
    - Add/set 'system.debug' variable to true in your build/release definition and share the logs folder.

[2017-10-10 15:11] abhishkk commented on #5444
@PoojaMiraje There is a email conversation already going on vsoloadtest@microsoft.com titled "Loadtest Error". Can you please follow up there?

[2017-10-10 15:39] joe45sp opened #5600 "Azure File Copy Task does not work well in task group"
When having this task in the task group, it automatically creates the output variables for URI and token as a parameter for the task group. Since it becomes a parameter, I need to set a default value such as "" on the release definition. This then keeps the variables as "" and the azure file copy task does not override the values in these variables.

[2017-10-10 15:59] apryiomka commented on #4153
Hi, any update on this? I have exactly the same scenario. We deploy the (web) application package on one port for "testing in production" (think of it as staging slot for cloud services), something like application.cloudapp.azure.com:**123**. Once the testing was successful, we want to deploy the same build on different port - application.cloudapp.azure.com:**321** where **321** is the production

[2017-10-10 17:25] CarteriTrellis commented on #5560
@Ajay-MS FYI: I am now unblocked. The task now works on the original VMs that it had been failing on, and I haven't changed a thing about them.

[2017-10-10 18:28] perreaultd commented on #5472
@ericsciple thanks for the tips. We'll try to antivirus workaround and will keep you inform. The task is used into a continous deployment release definition so deleting content myself is not an option. We use this step and clean target folder to make sure deployment content does not "inherit" from previous deployments and do a full clean before copying files. We used to do this using robocopy comm

[2017-10-10 18:37] ericsciple commented on #5472
Sorry, by do-the-delete-yourself I mean to add a step immediately prior that does something like `rmdir /s /q` on the folder. Or robocopy (mirror copy against an empty folder) with multithreaded option might be quicker if you have a lot of files to delete, or across network IO.

[2017-10-10 18:40] MrDoctorJ commented on #2147
@madhurig that also didn't work. I'm in the same boat as mydiemho, I've tried the above combinations. I just tried $(SYSTEM_PULLREQUEST_SOURCEBRANCH) and it didn't work. For clarification, I'm doing this in the "Build number format" field under Options when editing the build definition.

`$(SYSTEM_PULLREQUEST_SOURCEBRANCH)_$(Date:yyyyMMdd)$(Rev:.r)` gives me
`$(SYSTEM_PULLREQUEST_SOURCEBRANCH)_201

[2017-10-10 19:01] madhurig commented on #2147
I am not sure what variables are available for build number formatting vs at build runtime. The PR variables are available at build runtime. @vijayma or @chrisrpatterson will know.

[2017-10-10 19:17] MikkelHegn commented on #4153
@apryiomka - You're only option is to provide your own PowerShell script with that logic. The Service Fabric PowerShell task was created for scenarios like these as there can be many different ways you want to deploy the application. The SDK scripts are mainly there to support the Visual Studio experience, and the versions of these scripts we use in VSTS is a fork of what's in the SDK.

[2017-10-10 19:35] felpel opened #5601 ""VS Test" task hangs after the tests execution in release definition"
## Environment

- VSTS: (I will provide the needed information _on demand_)
- Agent
  - Private
  - OS:  Windows_NT (10.0.14393)
  - Version: 2.123.0

## Issue Description

When I run functional tests with the **Visual Studio Test** task, it is unable to finish and hangs indefinitely if I don't set a timeout (currently 2 minutes), even if I receive the usual test summary:
[code]

Notes:
- I'm runn

[2017-10-10 20:07] goranjovanovic25 commented on #3522
Any updates when will this be available? Any time soon?

[2017-10-10 21:56] ps2goat commented on #3787
You also have to do the same thing for your unit tests in the VS Test step(s).

[2017-10-10 23:04] shaykalyan opened #5607 "Publish-UpgradedServiceFabricApplication: upgrade state is "RollingForwardCompleted" but deployment fails with "Upgrade was rolled back" error"
## Environment
- If using VSTS, provide the account name, team project name, build definition name/build number:

Account name: microsoft
Please ping me internally using alias _shakal_ for more details.

## Issue Description

As per the title, the deployment step reported that the deployment failed with the message: "Upgrade was rolled back", however, the deployment was successful as shown in the

[2017-10-11 00:00] jesomm opened #5608 "VSTS keep task failing to authorize"
## Environment

- VSTS
   - account name: [outlookweb](https://outlookweb.visualstudio.com/)
   - project name:  [outlook web](https://outlookweb.visualstudio.com/Outlook%20Web/)
   - build:
      - [here is a draft that fails](https://outlookweb.visualstudio.com/Outlook%20Web/_build/index?context=allDefinitions&path=%5CPeople&definitionId=264&_a=completed)
      - [here is an example failing buil