[2019-04-06 06:15] mitchdenny commented on #6916
@alohaninja - sadly those visibility settings have never resulted in hiding the tasks. Adding @shashban for the feedback though.

[2019-04-06 11:18] natemcmaster commented on #6916
Is there any plans to change this that I can track on GitHub? My team would still prefer to only publish symbols via release pipeline. We had to invent our own tech to do this which basically duplicates what this task does.

[2019-04-06 18:04] danebou commented on #6916
Thanks for the tip alohaninja!

I agree nate. It would be great to make this a TODO. As far as I'm concerned this issue is hasn't quite been resolved. I understand it being low priority though.

[2019-04-06 19:31] tmzblue commented on #9984
@DavidStaheli we were struggling with this since the beggining of the month, now everything is green again ✔. Thanks a lot.

[2019-04-06 22:42] vcliment89 commented on #3027
Had to change it a bit since it was still not fully working for me with latest Angular app.
[code]

Then in my Azure pipeline used it like this
[code]

[2019-04-08 05:35] SumiranAgg commented on #9571
For more details about the task please go through reference doc https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/file-transform?view=azure-devops

@jepzen The issue should be resolved now. Closing the issue. Feel free to reopen if required.

[2019-04-08 05:35] #9571 closed

[2019-04-08 06:36] Ajay-MS commented on #9998
@Garand-Gary

Yes, For hosted agent this option is not useful.

Closing this thread. Feel free to reopen in case of any question.

[2019-04-08 06:36] #9998 closed

[2019-04-08 07:07] abhinavongithub commented on #3996
we can change this pipeline variable through the REST API.
https://docs.microsoft.com/en-us/rest/api/azure/devops/release/definitions/update?view=azure-devops-rest-5.0
Please use above link to update the variable.

[2019-04-08 08:16] #9472 closed

[2019-04-08 08:26] amaljg commented on #9073
Thanks @Kaneraz for the feedback. Adding @pulkitaggarwl to consider the feedback in the next version of the task. @pulkitaggarwl - Can you help in fixing the documentation referred above in the meanwhile?

[2019-04-08 08:34] kaadhina commented on #9967
Hi,
1. For a failed test case, the console output will be available as a test case attachment. But for passed tests, we do not have any such feature.
2. The assembly will be loaded for every batch.

[2019-04-08 09:09] robinsedlaczek commented on #9967
Hi @kaadhina!

Great, many thx for your response!

1. Yes, so far so good. Known and clear.
2. Thx, helpful.

So there is absolutely no way to write to the log from own code?

[2019-04-08 09:12] kaadhina commented on #9967
I guess you can write to a file and upload it using https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.testcontext.addresultfile?view=mstest-net-1.2.0
I haven't tried this myself. But I think this should work.

[2019-04-08 09:40] robinsedlaczek commented on #9967
Yes, at least we can do this. Had that in mind already. So, many thanks again. Your answers were more helpful than those from the developer community this time.

[2019-04-08 09:40] #9967 closed

[2019-04-08 09:54] amaljg commented on #9981
Thanks @PedroC88 for reporting this issue. I could reproduce this issue at my end. I'll investigate this further and revert back on this. A quick question. Are you seeing this behaviour with Windows VM or Linux VM?

[2019-04-08 09:59] kaadhina commented on #9929
Hi, is this same as https://github.com/Microsoft/testfx/issues/541
Can you please check the version as mentioned there?

[2019-04-08 09:59] hansmbakker opened #10054 "Allow ARM debugging in Resource Group Deployment task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Resource Group Deployment

## Environment
- Server - Azure Pipelines

- Agent - Hosted VS2017

## Issue Description
I would like to use [debug logging](https://docs.microsoft.com/en-us/azure/azure-resource-manager/

[2019-04-08 10:31] kaadhina commented on #10038
Hi @acgritt , can you please share debug logs from the pipeline? (set variable system.debug = true)

[2019-04-08 11:25] kripajoym opened #10055 "Help needed with a picklist"
1.Autocomplete.
EditableOptions is set true, still it should **not** allow me to enter and save any value other than the dropdown values

2.Need to restrict the user to enter the value from picklist only.
dataSourceBindings will return values ["abc","def","ghi","jkl"]
Since EditableOptions is set true, when I type  "a" the list should show me only elements starting with "a", or the element which i

[2019-04-08 11:48] PedroC88 commented on #9981
Windows VM.

[2019-04-08 12:04] acgritt commented on #10038
@kaadhina Attached is the log from the test task.
[tasklog_15.log](https://github.com/Microsoft/azure-pipelines-tasks/files/3054146/tasklog_15.log)

[2019-04-08 13:26] paddymccallan commented on #6657
I resolved this by downgrading node to 8.11.1 and npm 5.6.0 - https://npm.community/t/issues-running-npm-install-from-azure-devops/5888

[2019-04-08 14:27] damccorm commented on #9766
Closing since this should now be fixed from the agent. It will roll out with the next agent release.

[2019-04-08 14:27] #9766 closed

[2019-04-08 14:49] UnreachableCode commented on #5739
I was just having this issue after a few months of successfully building piplines for develop/master branches in debug/release modes. I'm not sure what caused it to suddently stop working, but I went and got an up to date token from App Center for my organisation and added it to my existing App Center service connection in Azure and now everything is working again for my 2 original pipelines and t

[2019-04-08 16:43] michael-x opened #10057 ""dotnet tool install/update" not working with Azure Artifacts"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-04-08 17:07] mavinm commented on #6364
Any status on this?  It's been over a year since this bug was reported.

[2019-04-08 18:09] JGCreator commented on #5472
I am also still seeing this issue when trying to clean a directory after the contents are supposed to have been copied over.

[2019-04-08 18:18] damccorm commented on #5472
This should be fixed in the task-lib by this PR: https://github.com/Microsoft/azure-pipelines-task-lib/pull/518

Once that's in we can consume the new version here. We might want to wait until the task-lib is entirely out of preview though.

[2019-04-08 20:04] damccorm commented on #9768
@stephenmichaelf I think this was fixed in this commit - https://github.com/Microsoft/azure-pipelines-task-lib/commit/8a1a8a9dec5b6de37ab8835a852f6cf72272634e

We should be able to upgrade the version we consume, I don't think it should be considered breaking (unless customers are relying on the task to blow up when there's a broken symlink?)

[2019-04-09 01:29] Pr0methean opened #10061 "PowerShell task fails spuriously"
PowerShell reports a failure when the script is `java -version`, even though that command exits normally. This doesn't happen when `script` is used instead of `powershell`, but to replace `powershell` with `script` in this use case, I'd need a function that could convert a Windows file path to a Linux one before passing it in as an environment variable.

An example error log with debug, and a coup

[2019-04-09 02:08] bryanmacfarlane commented on #10055
Not an issue with a task in this repo.  If I'm mistaken, please log a new issue and fill out the template

[2019-04-09 02:08] #10055 closed

[2019-04-09 02:10] bryanmacfarlane commented on #10061
scrip is a command script

Does that powershell work in your dev powershell console?  We just run powershell against that.

[2019-04-09 02:14] bryanmacfarlane commented on #9985
Don't put java home in single quotes.  Everything after the ] is data.

[2019-04-09 02:14] #9985 closed

[2019-04-09 04:09] kaadhina commented on #10001
I tried the below versions and this works (tried both using vstest.console and dtaexecutionhost)
chrome=73.0.3683.75
chromedriver=73.0.3683
The agent was setup as non-admin. It could be possible that the issue appears only for admin agents. So please try as non-admin as well.

Can you please confirm the above setup does not work for you.

[2019-04-09 04:19] kaadhina commented on #10006
Hi @gasparnagy I'm unable to repro this issue. Can you please share debug logs from the build where the failure occurred?
Are you using on-prem server? If so , which version?

[2019-04-09 05:45] omeshp commented on #9728
https://github.com/Microsoft/azure-pipelines-extensions/commit/67cd790ee9dd1fdc9b4216d0e4eddae22a9cb89c#diff-6631d0f09a7148f0614b1258b4a6688d

[2019-04-09 05:45] #9728 closed

[2019-04-09 05:50] amaljg commented on #9981
Thanks @PedroC88. We've root caused the issue to be in the Azure VM side and reached out to the concerned team. We'll update the thread once we have a closure.

[2019-04-09 06:16] kaadhina commented on #10038
This is a bug. We will get this fixed soon.
Thank you for reporting and sorry for the inconvenience caused.

[2019-04-09 06:17] mikkokok opened #10062 "Azure File Copy Task version 3.* (preview) creating SAS token does not work"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-04-09 06:38] gasparnagy commented on #10006
It was on hosted Azure DevOps... I have tried to reproduce it with a brand new project but could not. So this might have been some special situation where the source filter setting get stuck.

This is a build where it has happened and see the attached log files, but since the problem seemed to be a one-time only, we can close the ticket from my point of view.

https://gasparnagy.visualstudio.com/S

[2019-04-09 07:14] hiyadav commented on #10009
Hey @tillig

I see that this would help in saving time, but sometimes exclusivity of a version is required for some customers. As you might know that .Net Core has a roll forward mechanism which picks a newer version at the time of build/run. In certain cases such behaviour is undesirable, hence we choose to install the version irrespective of it being present in the machine.

What you are suggest

[2019-04-09 08:23] kaadhina commented on #10006
Thanks for clarifying. Do let us know if it happens again.

[2019-04-09 08:23] #10006 closed

[2019-04-09 08:54] lukaszch commented on #6314
How to consume the most recent version of the task-lib in Azure DevOps Server 2019?
We are facing exactly the same issue with the latest Azure DevOps Server 2019 RTM release with MSBuild task.

[2019-04-09 08:56] olaeld opened #10064 "Npm taks: Report warnings"
When Npm reports warnings, can we please have them show up in the Azure Pipelines job log?

For example: "Npm install" reports the following warning:
npm WARN deprecated print.js@1.0.18: WARNING: This project has been renamed to print-js. Install using npm print-js instead.

But I have to click on the job task to read the log to see that there is a warning.

Type: Feature
Task Name: Npm

The '.NET

[2019-04-09 11:29] bogdancucosel commented on #9147
@alexmullans sorry for the late reply.
I just checked, now i get a message like :
##[error]Failed to get artifact tool. Universal Packages require an x64 agent.

So, this is not going to work ?

[2019-04-09 11:54] PedroC88 commented on #9981
Noted, thanks!

[2019-04-09 12:32] vtbassmatt commented on #9768
Relying on a bug like that seems unlikely. It fails the whole job, which customers tend not to like :)

[2019-04-09 12:46] lucaghersi commented on #6245
We have the same issue here.
It is impossible to publish to AppCenter using this task in a release flow, also using the cloud version.
We are for now forced to push this task to the build pipeline, and it's very annoying.

[2019-04-09 13:09] guylevy opened #10065 "Azure PowerShell version required for Azure SQL Database Deployment task"
*Question*:

**Azure SQL Database Deployment**:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/SqlAzureDacpacDeploymentV1

## Environment
- Server - TFS on-premises 2018.3

- Agent - Private,
    -  OS: Win Server 2016
    - agent version: 2.136.1

## Issue Description
The task documentation mentions a specific (rather old) version of Azure PowerShell (Installer v1.3.0) - [se

[2019-04-09 13:17] JasonHenson commented on #9596
I am also having the same issue this morning.

[2019-04-09 13:19] damccorm commented on #9768
That's fair :)

Also, turns out I actually already had a PR open to bump the version we're consuming - https://github.com/Microsoft/azure-pipelines-tasks/pull/9390 - @stephenmichaelf could you take a look? I updated the options so that it should allow broken symlinks

[2019-04-09 15:04] DeV1L commented on #10001
I have the same issue. Tests has stopped working at all six build agents at the same time. The problem started about two weeks ago.

I've just tested with ChromeDriver 2.45.615291 and ChromeDriver 73.0.3683.68. Result is the same.
But the test works well if I run it from command line.

![image](https://user-images.githubusercontent.com/8911626/55811429-ca599f00-5af1-11e9-8a35-1c4008589db8.png)

Ag

[2019-04-09 15:50] mjscosta opened #10067 "InstallSSHKey - "Host key verification failed." after installing ssh key"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: InstallSSHKey@0

## Environment

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name: `Hosted Ubuntu 1604`

## Issue Description

Installed ssh key using the InstallSSHKey task, in azure

[2019-04-09 15:55] mjscosta commented on #10067
Apparently the host signature is not being added to ~/.ssh/known_hosts file.

executing the command `ssh-keyscan bitbucket.org > ~/.ssh/known_hosts` solves the issue.

[2019-04-09 15:56] kimwandev commented on #7310
I have similar issue. What could be the possible cause for this?

[2019-04-09 16:00] dougbu opened #10068 "`NuGetCommand@2` `push` commands are timing out occasionally"
## Required Information
### Question, Bug, or Feature?
*Type*: Bug
**Enter Task Name**: `NuGetCommand@2`

## Environment
- Server - Azure Pipelines
  - account: I'm not sure. **Where is this information visible in our pipeline?**
  - team project: I'm not sure. **Where is this information visible in our pipeline?**
  - owners are either .NET Core Engineering or Project K Runtime Engineering team

[2019-04-09 16:12] mitchdenny commented on #9147
Unfortunately we don't currently produce an x86 version of Artifact Tool. We'll need to look into our dependency graph to see whether we can support it.

[2019-04-09 19:28] ArieHein commented on #10065
Azure Powershell is not Powershell (per se)
Powershell has versions 2.0, 3.0, 4.0, 5.0, 5,X, 6.X and soon 7.0
Azure Powershell has a different versioning schema
https://github.com/Azure/azure-powershell/releases

Powershell:
https://github.com/powershell/powershell

Azure Powershell:
https://github.com/Azure/azure-powershell

[2019-04-09 19:54] mitchdenny commented on #9147
@bogdancucosel I managed to produce a test build of a win7-x86 compatible version of our artifact tool. Let me know if you are interested in trying it out (we haven't pushed it through the release pipeline, we are just trying to see whether it can work at all initially).

[2019-04-09 20:37] bogdancucosel commented on #9147
@mitchdenny yes please, how do I do that ?

[2019-04-09 20:53] mitchdenny commented on #9147
Shoot me an e-mail at midenn at microsoft com and I'll walk you through how to try it out.

[2019-04-09 21:37] Naatan opened #10072 "PublishTestResults does not work when tests were ran in container"
**Question, Bug, or Feature?**
*Type*:  Question

**Enter Task Name**: PublishTestResults@2

## Environment
- Server - Azure Pipelines

Account details are sensitive, I don't want to disclose them publicly.

- Agent - Hosted (using docker container)

## Issue Description

`PublishTestResults@2` appears to only search the paths on the agent and not on the docker container, despite the container bei

[2019-04-09 22:47] Silvenga commented on #6628
Same problem, except the only error was:
[code]

The command that it attempted to run was:
[code]

I've looked at the code and have no idea why a trailing slash would cause this command to fail when run under AzOps.

Removing the slash fixed it. Just adding this post to sure the value of the related pull. 😹

[2019-04-09 22:58] dubcdr opened #10073 "Bash Indirect Expansion Problems"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-04-10 05:46] tiwood opened #10075 "Colorized output breaks special chars (output as HTML entities)"
## Required Information

*Type*: Bug
**Enter Task Name**: PowerShell@2

## Environment
Azure Pipelines
Hosted Agent

## Issue Description

We're calling Terraform during our pipeline, which creates colorised output. Unfortunately special characters like `/<>` are shown as HTML entities instead of the actual character:

![Colorized_ouptut_with_HTMLentities](https://user-images.githubusercontent.com

[2019-04-10 06:55] vincentdass commented on #7310
@kimwandev , please refer [here](https://docs.microsoft.com/en-in/azure/devops/pipelines/tasks/transforms-variable-substitution?view=azure-devops#xml-transformation-notes) for troubleshooting.

[2019-04-10 08:03] vincentdass commented on #4863
@yashika06 , sorry for the late response. Can you post your query [here](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazurewebsitespreview) regarding app service?

[2019-04-10 08:38] hiyadav commented on #10009
Hey @tillig,

You're right about global.json and its use. We can't however change the current behaviour as it might break customers, we can try providing a way to get what your ask is.

We shall consider it in our planning and will update once its in the action plan.

[2019-04-10 09:23] Ajay-MS commented on #10065
@guylevy

Yes, task works with the recent version of the Azure PS task.

[2019-04-10 09:42] DeV1L commented on #10001
I found that the tests work when VSTS agent is running from command line (not as Windows Service).
But all was Ok with working as the service for a years.

[2019-04-10 10:08] Ajay-MS commented on #9710
Hello @hdinizribeiro

I have tried out above mentioned if condition on `Hosted VS 2017` agent and `On Prem` agent.

**Predeployment script content**
[code]
It's succeeding for me on both the agent.

**Logs snippet**
[code]
I will share the sample DACPAC file ( which I tried )  with you over the mail. If that works for you we can analyse your post deployment script.

[2019-04-10 10:38] amaljg commented on #6567
Thanks @GlenAppleton for the feedback. Adding @pulkitaggarwl to consider this feedback in the next version of the task.

[2019-04-10 11:18] hiyadav commented on #6567
@alexmullans who might be the right person to consider this ?

[2019-04-10 11:26] kaadhina commented on #10001
Hi, thank you for the info. I am able to reproduce this issue with agent running as service. I understand this did not use to require an interactive session. I'm trying to find what changed that caused this break in behaviour. I tried this with an older agent (but newer browser) and can still reproduce the issue.
Can you please confirm what changed between before and after the break? Was there a b

[2019-04-10 12:25] DeV1L commented on #10001
Hi!
The browsers are updating automatically on the agents.
I can share release logs before and after the problem had appeared. Would it be helpful?

As workaround I switched the tests to Firefox. It works without any problem.

[2019-04-10 13:24] lukaszch commented on #6314
Thank you for your prompt reply.
As it's not a blocker for us (build runs successfully after 2-3 tries, and not every build is affected) we can wait for a next DevOps Server release.
If that's possible, please just only ensure it will have the newer task-lib version included.
Thank you very much.

[2019-04-10 13:55] filip998 opened #10076 "Publish Test Results"
Is there some way for me to publish test results to another pipeline?

Currently, I don't see that as a option in Task version 2.*?

I need this because I am executing another build definition (for testing purposes) from my main Build pipeline.

![image](https://user-images.githubusercontent.com/25111706/55884829-0ef44180-5ba9-11e9-96c4-f2271e3f2a2a.png)

[2019-04-10 14:20] gtalton opened #10077 "Multiple VSBuild targets not working in testing Issue #6975"
In reviewing the closed issue [MsBuild task should support a list of given solutions #6975](https://github.com/Microsoft/azure-pipelines-tasks/issues/6975#event-1975863867), I was happy to find that there was a way to submit multiple identified solutions to a VSBuild@1 Pipeline task if I delimited the solution file paths with a semicolon ';' character.

However in testing I find this is not true.

[2019-04-10 15:15] #6384 closed

[2019-04-10 17:34] joshmgross commented on #10067
@mjscosta I believe the task is expecting you to provide the host signature via the `hostName` field rather than just `bitbucket.org`

See: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/install-ssh-key?view=azure-devops for instructions

[2019-04-10 17:39] yaananth commented on #10075
This is a known limitation with the ANSII color code support.
This is getting addressed, we already have a view that's in internal preview that addresses this.
This will be out to public soon.

This is AzureDevOps rendering issue, not a task issue.
For reference - https://developercommunity.visualstudio.com/topics/Azure+DevOps.html is the right place for such things.

Thanks for reporting and sorr

[2019-04-10 17:39] #10075 closed

[2019-04-10 18:48] PhilPeters304 opened #10080 "Confusing message in docs for deploying webapp"
https://github.com/Microsoft/azure-pipelines-tasks/blob/984ca40b9dd3b9279e91936ebb52f72626e8d0f2/Tasks/AzureRmWebAppDeploymentV4/task.json#L437

The message on this line is confusing. I think a rebrand of Azure DevOps has created a mis-match.. user supplied variables are now called pipeline variables which are not excluded. System (provided) variables are exluded

[2019-04-10 19:10] JamieMagee opened #10082 "Combine existing tasks?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

## Issue Description

Is it possible to combine existing tasks in a custom task?

We have a lot of repositories that all have the same, or similar, `.azure-pipelines.yml`. However, our standard build has evolved over time, such that w

[2019-04-10 19:24] joshmgross commented on #10082
Hey @JamieMagee sounds like you might benefit from using YAML templates: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops

[2019-04-10 19:26] JamieMagee commented on #10082
Yes, that's exactly what I'm looking for! Specifically [Using other repositories](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#using-other-repositories)

Thanks!

[2019-04-10 19:26] #10082 closed

[2019-04-10 21:21] denaliwhite opened #10085 "Azure Powershell Long running operation failed with status 'NotFound'"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShellV2

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team pro

[2019-04-10 22:32] Pr0methean commented on #10061
Yes, it works fine on my PC:
[code]
This is with Zulu 12. If I should try a different version of PowerShell, let me know where to get it.

[2019-04-11 06:02] jachin84 opened #10087 "IISWebAppDeploymentOnMachineGroupV0 Removes comments, changes order"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question/Bug

**Enter Task Name**: IISWebAppDeploymentOnMachineGroupV0

## Issue Description
When performing variable substitution in IISWebAppDeploymentOnMachineGroupV0 the resulting xml file has the comments stripped out and the order of the

[2019-04-11 06:15] shizn opened #10088 "IoT Edge create deployment return success when IoT Hub quota exceeded"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: IoT Edge

## Environment
Azure DevOps.

## Issue Description
Create deployment task.
While IoT Hub deployment quota exceeded, the task still returns success.

[2019-04-11 06:16] shizn commented on #10088
https://github.com/Azure/azure-iot-cli-extension/issues/72

[2019-04-11 08:32] Shuchita009 commented on #8464
Hello

below are my logs why I need to acquire lock while restoring nuget package on vsts

Restoring NuGet package Microsoft.Extensions.Configuration.Binder.2.0.1.
  GET https://api.nuget.org/v3-flatcontainer/chocolatey/0.10.13/chocolatey.0.10.13.nupkg
  GET https://api.nuget.org/v3-flatcontainer/adonethelper/2.9.1/adonethelper.2.9.1.nupkg
  GET https://api.nuget.org/v3-flatcontainer/adonethelper.

[2019-04-11 08:47] sescandell commented on #10001
Nothing as changed about agent configuration. So we can probably think a browser updated happened.

Thanks for your time

[2019-04-11 11:31] fume commented on #6868
This is still a problem as of today. All the proposed workarounds could work but are fragile. At least document the workarounds while searching/finding/developing a REAL solution!

thanks, regards

[2019-04-11 12:41] asbpp commented on #6868
This is resolved. We weren’t doing it right.

[2019-04-11 14:35] guylevy commented on #10065
thanks, that is what I also observed just yesterday. Maybe the documentation should be updated as it was the reason for my confusion and for creating this issue.

[2019-04-11 16:28] ephill commented on #8053
I think there was a regression here. Early this morning my k8s delete tasks that were previously working started spitting out `kubectl delete secret foo -o json` commands which of course throw an error because `-o json` is not supported. Previous builds had no output specified for these delete commands. I changed the advanced settings to use `-o name` as suggested above but noted that "name" was n

[2019-04-11 16:37] scottluskcis commented on #4712
I have the same question as @dasiths, how do you accomplish this with yaml? I've tried using newline separation in the yaml, even tried using the \n character and a -: or ; as well but no luck.

[2019-04-11 18:32] Kaneraz commented on #9073
Hopefully this is on it's way to being fixed. I'm not sure what the release timelines are for the docs, but I've had a PR accepted for it: https://github.com/MicrosoftDocs/vsts-docs/pull/3582

[2019-04-11 19:18] ericstj opened #10093 "DotNetCoreCLI should support specifying the path to dotnet"
**Question, Bug, or Feature?**
Feature

**Enter Task Name**:
DotNetCoreCLIV2

## Environment

AzurePipelines, dnceng, internal
https://dev.azure.com/dnceng/internal
Working on build-definitions: https://github.com/dotnet/corefx/tree/master/eng/pipelines

Hosted Ubuntu 1604

## Issue Description
DotNetCoreCLIV2  does not provide a way to specify the path to dotnet.  It only searches the path.  For

[2019-04-11 19:22] IOrlandoni opened #10094 "PublishCodeCoverageResults ignores reports"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishCodeCoverageResults

## Environment

- Server: Azure DevOps
    - Account name: mobiglobalsolutions
    - Team project name: Couponing Platform
    - Build definition name: OpenMobiFeeder
    - Build ID: 3491

[2019-04-11 21:27] gtalton opened #10095 "task.setvariable does an implied create, is there a task.deletevariable to allow for explicit variable removal"
I am currently seeing an issue where a variable is created in a called template, persists into the calling of a subsequent instance of the same template. It would be nice if I could explicitly delete a variable upon exit of the template. Is this possible? I have tried deleting the variable from within Powershell however that doesn't seem to delete the variable in the next invocation of a following

[2019-04-11 21:32] Saugat168 commented on #4310
I know that I am late into this thread, but I am kind of stuck. And this thread is the closest to the issue I have. So, I have a SAS token which is set in previous Release task and then the Create Resource Group Task uses that SAS token to create the resource group. However, when I try to use the same SAS Token in a powershell task, if I just use in the parameters section of the PowerShell Task
-S

[2019-04-11 21:38] Saugat168 opened #10096 "Secret Value of SAS Token cannot be used in VSTS Release pipeline custom powershell task"
This is very close to the issue: 4310 , though that never confirms if there is a way out or is it simply a limitation.

https://github.com/Microsoft/azure-pipelines-tasks/issues/4310

I have a SAS token which is set in previous Release task and then the Create Resource Group Task uses that SAS token to create the resource group. However, when I try to use the same SAS Token in a powershell task, i

[2019-04-11 22:16] yijiamicrosoft opened #10097 "Cannot find module 'azure-arm-rest/azure-arm-endpoint'"
Hello,

I'm trying to develop a custom task that integrate with our service Azure AppConfiguration. And I followed AzureKeyVaultV1 example to build the task. However, when I just my task, with ```node index.js```, it shows the error ```##vso[task.issue type=error;]Unhandled: Cannot find module 'azure-arm-rest/azure-arm-endpoint'```. Then, I found that package ```azure-arm-rest``` doesn't have any

[2019-04-11 22:28] dasiths commented on #4712
I think this worked for me
[code]

[2019-04-12 01:46] JCPuerto commented on #9809
Instead of using VS.QualityTools.UnitTestFramework use Microsoft.VisualStudio.UnitTesting. I think they're the same libraries. None of them is from Microsoft anyways.

[2019-04-12 01:50] worldspawn commented on #8500
@vincentdass be good if the docs could be updated to reference v4 too -> https://docs.microsoft.com/en-us/azure/devops/pipelines/targets/webapp?view=azure-devops&tabs=yaml

[2019-04-12 02:13] jixer commented on #6868
I don't know that anyone has mentioned this workaround yet, but instead of specifying a direct path (including version number) for Test tools directory, use a CopyFiles task to copy '$(build.sourcesdirectory)/packages/Xamarin.UITest.*/tools/*' to '$(build.sourcesdirectory)/tools'.  Then you can just hardcode the path without version number and a version update on the project won't break the build.

[2019-04-12 04:07] Anumita commented on #8053
Hi @ephill , thanks for the information. There is a regression for delete command as it was removed from the list of commands that don't support -o json/yaml list. Will raise a fix for this and let you know the eta for the fix . Regarding the output format field, the filed is an editable field hence you can add "name" to it.

[2019-04-12 05:31] vincentdass commented on #8500
@worldspawn , thanks for bringing the documentation to notice. Will change that!

[2019-04-12 05:53] ShreyasRmsft commented on #9809
Closing due to no reply. Please re-open after trying out the given suggestion wrt to the folder rename.

[2019-04-12 05:53] #9809 closed

[2019-04-12 07:57] VincentBailly commented on #8840
FYI, we are experiencing the same problem in my team and the only solution we found was to have some logic that would retry the command when this particular problem is detected.

[2019-04-12 08:34] estatic commented on #6854
We have the same problem on all our repositories

[2019-04-12 08:34] leonardocuco opened #10101 "How to use variables in Azure Function deployment gate ?"
## Required Information
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Gate InvokeAzFunction ?

## Environment
- Azure Pipelines
- agent queue name: Hosted Ubuntu 1604

## Issue Description
The URL of my AzFunction is defined inside a pipeline variable (setted from an ARM template output). I Would like to use it inside the URL of the Azure Function invoke gate. I tried somth

[2019-04-12 08:50] bergmeister commented on #10096
@Saugat168 They have added an environment variables section to the task that might solve your problem
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/powershell?view=azure-devops#arguments

[2019-04-12 10:02] mdmdakbar commented on #9770
Yes, possibly we need to encode the url.

Thanks @fernandreu for reaching out to us. Will update the thread with a fix soon.

[2019-04-12 10:12] vorburger opened #10103 "PATH include wrong $JAVA_HOME/bin when using jdkVersionOption: '1.11'"
**Question, Bug, or Feature?**  *Type*: Bug

**Enter Task Name**: MavenV3

## Environment
- Server - Azure Pipelines https://dev.azure.com/quarkus-ci/quarkus/_build/results?buildId=964
- Agent - Hosted or Private: ?

## Issue Description

see https://github.com/quarkusio/quarkus/issues/2012 for full background, but the TL;DR is that [when you specify `jdkVersionOption: '1.11'`](https://github.com/

[2019-04-12 11:15] chperich commented on #9596
@fthkucuk: The main issue here is stop operation is not being treated as idempotant. The task should ideally check for this exit code and ignore this error. We will add this to our back log. But it might take a little longer for us to get to it.

Until then, to avoid your pipeline run from failing due to this error, you can choose "Continue on error". This will let the run continue even on task fa

[2019-04-12 11:28] raiyanalam commented on #9735
Apologies, I missed responding to this.
I see your scenario, apart from the work around suggested earlier, we would like you to submit a feature request as well in our [Azure Devops forum](https://developercommunity.visualstudio.com/spaces/21/visual-studio-team-services.html?type=idea). This will let others who are facing similar issue vote on this and we can prioritize your request better. I am c

[2019-04-12 11:28] #9735 closed

[2019-04-12 11:29] #9394 closed

[2019-04-12 11:36] mjscosta commented on #10067
@joshmgross Indeed, I've missunderstand the docs, thanks. It is now working. I'll close the issue.

[2019-04-12 11:36] #10067 closed

[2019-04-12 11:46] #9869 closed

[2019-04-12 11:50] raiyanalam commented on #9121
The drop down is editable now.
We are also working towards making this drop down better in case there are large number of repos. Thanks for your feedback and help in making Azure DevOps Pipelines better!

[2019-04-12 11:50] #9121 closed

[2019-04-12 14:26] steevegldev commented on #6854
Seems to be a regression, was working few days ago. Noticed it happening this morning.

[2019-04-12 14:42] ruslan-bikkinin commented on #9869
Hi @raiyanalam could you please clarify what is the reason of closing this?

[2019-04-12 15:14] fthkucuk commented on #9596
Hi @chperich, I already know that (Continue on error) but it might be nice to solve that in future.

[2019-04-12 16:12] joshmgross commented on #10103
Hey @vorburger, are you saying that your maven tests are failing after you build using Java 11 because the tests use Java 8?

[2019-04-12 17:05] justinmwarner opened #10108 "npm task not showing color from chalk"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: NpmV1

list here (V# not needed):  V1
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using TFS on-prem

[2019-04-12 17:29] IOrlandoni commented on #10094
This was done intentionally for #9704.

You can no longer provide your own reports and you have to let task auto generate them from a 'Cobertura' (case sensitive) summary file.

[2019-04-12 17:29] #10094 closed

[2019-04-12 17:35] damccorm commented on #10095
I believe can just call `setvariable` again and set the variable to an empty string (it works like environment variables).

[2019-04-12 17:42] vorburger commented on #10103
No, a test launched an external `java` process, without specifying a directory, so it uses whatever `java` is first found on `PATH`. And that seems to always be a Java 8, even when you want when you specify `jdkVersionOption: '1.11'`.

It's not really strictly related to tests. You just need to set `PATH` correctly, as described above.

Does this make sense?

[2019-04-12 18:07] ggirard07 commented on #10085
Same issue here, any update on the issue?

[2019-04-12 18:51] denaliwhite commented on #10085
Still happening very regularly for us, absolutely debilitating for our production and development pipelines. An open support request has been going nowhere for about a week (they keep asking for fiddler captures of local client data which has nothing to do with Hosted Agent to Azure communication issues).

[2019-04-12 19:32] ggirard07 commented on #10085
I don't know for you, but in our case it happens for resources we delete then recreate right away.
By deleting the resource upfront (few minutes prior to start the actual release pipeline), issue seems to does not occur for now. Still need a few more run to confirm this behavior.

Here is yet another issue impacting us due to too quick resource deletion then re-creation https://github.com/Microsof

[2019-04-12 19:45] harry12311 commented on #5112
Is there an update on this? I have the same requirement as AroglDarthu. I am using Azure DevOps and see no option to control execution of task group apart from hacky solution!

[2019-04-12 20:05] grantal commented on #6854
Yep also happened to me. Build succeeded on 4/2 and then today it failed with no change to the repo.

[2019-04-12 20:51] cjbush commented on #8053
We also just noticed this when we went to deploy. Thanks for the workaround 😄

[2019-04-12 21:02] jpenniman commented on #6854
Same here. It has been working for us, and started receiving this error this afternoon.

[2019-04-12 21:03] steevegldev commented on #6854
In my case I'm using Twine authentication for python but the issue is the same.

I tried to:
- Clear and recreate Azure Agent
- Recreate the task (thru the UI)
- Manual authentication

As this issue is **major**, it would be appreciate a faster investigation or point-out the right place to raise that.

A workaround is required ASAP, because uploading artifact is broken!

[2019-04-12 21:36] tkrick commented on #10048
bypass proxy support in our tasks got better in January this year. That means it is available right now in Azure Dev Ops, but not on-premises Server product. Unfortunately that means those changes won't be seen until the 2019.1 release. Until then you may have other options like using a nuget custom command (but then you have to manage other things like creds).

[2019-04-12 21:53] tkrick commented on #6854
Can one of you who started seeing this recently @steevegldev @jpenniman @grantal can you give a detailed log? We'll take a prompt look.

[2019-04-12 22:32] tkrick commented on #6854
FYI to folks. We have a fix for the above task. Will be trying to hotfix that now. Also verifying which other tasks this might be affecting. Stay tuned.

[2019-04-13 02:29] chriskrycho commented on #9302
This is going to end up being a serious pain point for effective adoption in both the Rust and Ember.js communities, where it's common to run against the current stable release, the current beta release, and often also the current unstable/nightly/master channel. (We're doing it against beta on ember-cli-typescript.) In that case, it's perfectly acceptable for the beta channel to fail, and it shou

[2019-04-13 04:49] brenden-sbt commented on #6917
I came looking for this feature.  Disappointed it is not yet available.

[2019-04-13 13:32] AddonContributor commented on #6854
The Azure Pipeline task "Package and deploy Helm charts" [1] is also affected. It fails in the pre-job phase with `TypeError: Cannot read property 'retrieveSecret' of undefined`.

[1] https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/helm-deploy?view=azure-devops

[2019-04-13 14:23] 32technologies commented on #6854
I'm seeing this with "Package and deploy Helm charts" as well.

[2019-04-13 17:33] tkrick commented on #6854
fyi TwineAuthenticate task has been hotfixed and should be GTG. @AddonContributor @32technologies Artifacts folks don't own this the "Package and deploy Helm charts" task so the cause is likely different even though symptom might be the same. I also ran a query against that task and did not see it systemically failing across scale units. But I will still share this thread with some folks who own t

[2019-04-13 17:51] steevegldev commented on #6854
I confirm the issue has been fixed. Thanks @tkrick

[2019-04-14 00:48] looterz commented on #8241
I'm going to close this issue, as after further review supporting two azure repos with one pipeline is simply not supported.

[2019-04-14 00:48] #8241 closed

[2019-04-14 05:38] CesarD commented on #7495
What can those of us that are still on TFS 2018 do about this issue? Is there some workaround for us or we are just left on a side until we can convince the company to make the upgrade to DevOps 2019?

[2019-04-14 06:52] praneetloke commented on #8063
I just encountered this issue with one of my pipelines. I hadn't used my pipeline build for quite some time now. I just used it to run a CI build and it failed with this exact problem. Any suggestions on what might be the problem?

[2019-04-14 18:38] jburbach commented on #8063
I did as well on Friday. For now we switched our connection from oauth to use a username and password and it seems to work. The bitbucket oauth integrations seems to be pretty flakey.

[2019-04-14 19:58] praneetloke commented on #8063
Same here.

[2019-04-15 06:52] michaelbpalmer commented on #6854
I am also seeing the issue with Helm charts. It appears to be related to having TLS enabled for communication between Helm and Tiller. If this isn't the right place to post this, can someone please point me in the right direction? This is currently block deployments for us. Thanks!

[2019-04-15 07:04] nickwilliams-codynamic commented on #10094
Are there no plans to add the previous functionality back? I can't really understand why this would have been removed.

There is now no way to produce the test coverage reports as part of a Docker build, which was our use case for that feature.

[2019-04-15 07:34] estatic commented on #6854
Confirming, the problem with Twine Auth has been fixed.

[2019-04-15 07:44] Saugat168 commented on #10096
@bergmeister Thanks for getting back. Yes, I did try that before raising the issue here. But I get blank. Actually, I found this as well
[https://stackoverflow.com/questions/45593094/how-do-i-use-a-secret-variable-in-a-vsts-release-task](url) The user did raise a bug here :
[https://developercommunity.visualstudio.com/content/problem/94475/secret-variable-in-variable-not-group-not-availabl.html]()

[2019-04-15 07:56] puagarwa commented on #9093
HI,
  Did you able to validate it ? It will be great if you can confirm,

[2019-04-15 09:55] raiyanalam commented on #9869
Hi @ruslan-bikkinin ,
  We have accepted this feature request and added to our internal backlogs. We will be tracking it from there.

[2019-04-15 10:06] alexmullans commented on #7495
You can manually acquire the version of NuGet.exe you wish to use and put it on the private agent(s) in a folder that's on the PATH.

[2019-04-15 10:21] mmajcica commented on #7495
You can always push the new version of the task manually to your server. It is not advised by MS but it works as for any other task. Clone the repo, build the task and with tfs-cli push it to your instance of TFS.

[2019-04-15 10:45] vtbassmatt commented on #9302
Thanks @chriskrycho - good to hear reinforcement of how important this is. If you want to point me at an example pipeline, I might be able to suggest a workaround. (And to be clear, it'll be a workaround, not the solution we want to deliver.)

[2019-04-15 10:51] owenniblock commented on #6868
Thanks @jixer - that's a great workaround.

[2019-04-15 11:51] japj commented on #3805
@keithrob is vsts-npm-auth (v0.37.0.0) supporting TFS on-premise officially yet?
I can't seem to get it working for TFS2018U3/AzureDevOpsServer2019.

[2019-04-15 11:58] kaadhina commented on #9929
Closing this. Please reopen if the above does not help.

[2019-04-15 12:28] brcrista commented on #8063
This is a known issue and we're rolling out a fix.  Sorry for the inconvenience.  Switching to username / password should work as a workaround.  Feedback thread is here: https://developercommunity.visualstudio.com/content/problem/529542/bitbucket-checkout-error-could-not-read-username.html

[2019-04-15 12:30] Viktoryath commented on #9929
Hi kaadhina,

Unfortunately, the issue is not fixed. Please reopen...
We use VS 2017 with Test Project (4.5.2) and our upgraded TFS 2019
We added the following reference to MSTest.Testdapter and MSTest.TestFramework packages (1.4.0) according to the linked bug (541)

We use Test Plan/Cases to invoke our automated tests via Release pipeline. in our tests we use the properties:
- __Tfs_TestCaseId__

[2019-04-15 13:09] chriskrycho commented on #9302
@vtbassmatt thanks! Here is our config for the ember-cli-typescript project:

- [top-level config lines of interest](https://github.com/typed-ember/ember-cli-typescript/blob/master/azure-pipelines.yml#L70:L84)
- [template](https://github.com/typed-ember/ember-cli-typescript/blob/master/.azure/ci-template.yml)

[2019-04-15 13:37] bansalaseem commented on #9821
This is not a task issue and hence should not be discussed here. You should report the problem here. https://developercommunity.visualstudio.com/spaces/21/index.html

[2019-04-15 13:37] #9821 closed

[2019-04-15 13:40] bansalaseem commented on #9813
It should work with all the authentications that service endpoint supports? See this [example task/endpoint ]((https://github.com/Microsoft/azure-pipelines-extensions/commit/abfa9e9da8c3b42a08026ef72b9346d442949a97))for how you can use different auth scheme.

[2019-04-15 13:40] #9810 closed

[2019-04-15 13:41] CesarD commented on #7495
Awesome! Thank you @mmajcica !!

[2019-04-15 13:41] bansalaseem commented on #9720
@ajinkya599 were you able to look at this issue?

[2019-04-15 13:43] bansalaseem commented on #9719
@peters, apologies for late reply. Can you please share whether you are still facing this issue or not?

[2019-04-15 13:45] bansalaseem commented on #9518
@DannyMeister Can you please share whether you still are running into it or weable to resolve it?

[2019-04-15 13:46] bansalaseem commented on #4582
@timjkelly were you able to try out @ajinkya599 suggestion?

[2019-04-15 13:53] PedroC88 commented on #9981
Any word from the Azure VM team?

[2019-04-15 13:58] ajinkya599 commented on #9720
In V1, `arguments` input was added to support arguments for all the commands. (and not just build)
This, requires you to specify `--build-arg` before each argument.
So, in V1 your YAML should look like:

[code]

Note: This input currently does not support multi-line arguments. We have an internal tracking item to make that improvement.

[2019-04-15 14:19] ruslan-bikkinin commented on #9869
@raiyanalam got it, thanks!

[2019-04-15 14:42] vtbassmatt commented on #9302
Gotcha. Here's how I'd work around the limitation. In the template, add a parameter `allowedToFail` defaulted to `false`. In the template, update the lines that run tests:
[code]

Then in your top-level pipeline, you'll have to have separate matrixes for the allowed-to-fail legs:
[code]

[2019-04-15 14:55] kvn-stgl opened #10123 "Findbugs analyze only the first package"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Common/codeanalysis-common/Common/FindbugsTool

## Issue Description

The FindBugs-XML can have more as one packageStats (see https://github.com/Microsoft/azure-pipelines-tasks/blob/1d75fa8f66aa1cf7a9cb62946939f30f087b

[2019-04-15 16:16] jlorich opened #10125 "The Azure CLI Task does not fail when a command fails"
## Required Information

**Type:** Bug
**Task Name:** Azure CLI

## Environment

**Server:** Azure Pipelines
**Account Name:** mtcdenver
**Project Name:** Azure Demos
**Build Definition Name:** demo-whack-a-mole-admin
**Build Number:** #20190401.2
**Agent:** Hosted

## Issue Description

When a command within the Azure CLI task fails, subsequent commands within the script continue to run and the t

[2019-04-15 16:21] cwiederspan commented on #10125
We have run into this issue with a customer project that looking to bring a large Heroku app into Azure and Azure DevOps. Would be great if this script worked like many/most of the others out there.

[2019-04-15 18:11] armanik11 commented on #9813
Thanks @bansalaseem. Did you intend to share the example task? I don't see any links.

[2019-04-15 19:17] jlorich commented on #10125
I often recommend use of the Azure CLI task to build and push containers as well, as it's nice to be able to interact with ACR without creating a seperate service principal.  However with how things are designed now I need an incredibly over complicated script to check each previous lines success and only continue if it's really working.

[2019-04-15 21:33] samsta1128 commented on #9587
I am having the same issue did you ever resolve yours?

[2019-04-15 21:39] alarobric commented on #10094
Am I in limbo between this feature being removed and the new one implemented then?
I have a working Cobertura xml log but can't use the html report. Instead I keep seeing this error in the build Code Coverage tab.

Code coverage report cannot be rendered as report HTML was not found. Please verify that "Report Directory" containing an HTML report was specified when publishing code coverage.

Is th

[2019-04-15 22:40] salvmd commented on #10013
Removed "Area: Artifacts" label since it's not an issue with the Artifacts build tasks.
@bryanmacfarlane, could you help us route this to the appropriate team? For future reference, should I use the "route" label for these cases?

[2019-04-16 04:32] kingces95 commented on #6445
I also see `Error: Cannot prepare UI Test artifacts using command:`

[code]

[2019-04-16 04:47] amaljg commented on #9981
The Azure VM team has acknowledged a potential bug on their side. However, we don't have an ETA on when this would be fixed. So, to unblock you, can you try using the [Azure CLI task](https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureCLIV1) instead and see if that helps?

e.g., The below command will turn on the VM.

`az vm start -g MyResourceGroup -n MyVm`

You can find mo

[2019-04-16 06:26] hugo-retro commented on #9984
@DavidStaheli We are coming at an awkward point. Currently busy moving over our apps to azure pipeline. Our react native ios based one builds funnily enough without issue. But our pure swift one does not. Cocoapods 1.5.3 makes no difference.

[2019-04-16 07:54] Ajay-MS commented on #10065
@guylevy

Thanks for confirmation. Closing this issue.

[2019-04-16 07:54] #10065 closed

[2019-04-16 07:56] jagratimodi commented on #7009
@grik001 Hey Did you find any solution for this scenario?

[2019-04-16 08:38] Anumita commented on #10022
We get the clusteruser creds in the task which is why you are hitting this issue. Could you try creating a kubernetes service connection using azure subscription option? Steps

1. Choose 'Kubernetes Service Connection' connection type.
2. Add a Kubernetes Service connection using Azure subscription type (click on +New button)
![image](https://user-images.githubusercontent.com/8982085/56194588-f4aa

[2019-04-16 08:46] bansalaseem commented on #7585
We have this support now. So I am closing this issue.

[2019-04-16 08:59] owenniblock commented on #6445
@kingces95 - that's a different error, looks like it can't locate (or access) the assembly path for some reason.

See if you can locate it in a command line? If not, please either reach out to us using the support in the App Center portal or create a new Issue here.

[2019-04-16 10:29] kaadhina commented on #9929
Can you please attach debug logs?

[2019-04-16 10:34] bansalaseem commented on #9813
Sorry. I missed it. See [this](https://github.com/Microsoft/azure-pipelines-extensions/blob/master/Extensions/SampleTask/Src/vss-extension.json) for endpoint and [this](https://github.com/Microsoft/azure-pipelines-extensions/blob/master/Extensions/SampleTask/Src/Tasks/query-task/task.json) for how to use the endpoint in a custom task based on httpHandler.

[2019-04-16 10:46] christoff-1992 opened #10132 "Xcode tests fail when running in parallel"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Xcode@5

## Environment
- Server - Azure Pipelines

## Issue Description

Hosted agent does not support running tests in Parallel. When tests are set to run in parallel execution the simulators exit early with exit code 65. If this occurs the JUnit results are not generated either, making it hard to diagnose

[2019-04-16 11:28] JnxF opened #10133 "DotNetCoreCLI@2 doesn't work with C# 8"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment:
Azure Pipelines (/ondfisk/C5/14
Hosted on Azure DevOps

## Issue Description
I'm trying to build my .NET Standard 2.0 project with Azure pipelines,
[code]

It was working perfectly unti

[2019-04-16 12:09] MarkKharitonov commented on #9093
We have an on-premises TFS 2018. It does not seem to come with the agent of the version you mention. Do I just download a newer agent from somewhere or must the TFS server be upgraded too?

[2019-04-16 12:20] puagarwa commented on #9093
You dont need to upgrade server but you can download newer agent from github releases and configure, agents are compatible with older TFS server. Let me know if you face any issue.

[2019-04-16 12:20] #9667 closed

[2019-04-16 12:25] #10133 closed

[2019-04-16 13:55] danebou commented on #6916
I really need to double-down on the importance of this issue.

Given the direction of Azure DevOps, it seems pertinent that organizations have a simple method to host their own Nuget packages/debugging symbols, then have CI/CD to support this. While possible, this issue makes it very unnatural for a setup to accomplish this. I'm yet to see a good document from Microsoft explaining the common CI/CD

[2019-04-16 14:30] chapterjason commented on #8628
With the hostname only it works, with the FQDN it fails.

tfs-1:8080 -> works
tfs-1.core.company.com:8080 -> does not work

[2019-04-16 14:52] PedroC88 commented on #9981
Thanks, I'm on vacation as of today and until next Tuesday. I'll see if I can test it while I'm out, if not I'll get back to you next Tuesday.

[2019-04-16 15:43] shashban commented on #6916
Hello folks, our roadmap has unified YAML pipelines i.e. a common pipeline definition for builds & releases. We'll ensure all capabilities (tasks) are functional across stages in those pipelines. You'll be able to split pipelines into stages, each behaving like a milestone of sorts for the pipeline, with approvals & checks in between.

[2019-04-16 15:44] jiedou88 commented on #7353
The other way to fix it by using yaml file.
Add the following snippet before you nuget restore or build task. This script will automaticly add credential to you NuGet.Config file everytime user queue a pipeline build.

- task: NuGetCommand@2
  displayName: 'Authenticate with NuGet feed'
  inputs:
    command: custom
    arguments: sources update -Name "feed_name_match_nameIn_NuGet_Config" -Usernam

[2019-04-16 17:03] danebou commented on #6916
Thanks shashban!

[2019-04-16 18:02] IOrlandoni commented on #10094
@alarobric If you're already generating a cobertura type summary, you can call the "publish code coverage results" task using 'Cobertura' as codeCoverageTool (note the upper-case C, it's case sensitive) and the task will automatically generate reports and publish them, from your summary.

Check #9704 & #9962 to see where this is going...

[2019-04-16 18:39] joshmgross commented on #10103
Hey @vorburger, this is as designed. The Maven task only sets up the java version for the maven process itself, not for the entire pipeline.

If you want to set the java version for an entire pipeline, then setting up the PATH as you described is a valid solution.

[2019-04-16 18:39] #10103 closed

[2019-04-16 19:24] coderlife14 opened #10138 "UWP app does not show checkbox when installed through build artifact"
**Question, Bug, or Feature?**
*Type*: Question
## Environment
- Server - Azure Pipelines
- Agent - Hosted:
    - If using Hosted agent, provide agent queue name: Hosted VS2017
## Issue Description
I have a Xamarin forms UWP mobile app. I have created a build definition in AzureDevOps to create a package for UWP app installation. The build succeeds and a package is created. When I install the app

[2019-04-16 19:41] lwajswaj commented on #7898
@20shivangi, by having both AzureRM and AZ is causing issues with other preview tasks, such as Azure File Copy 3.x. In my self-hosted agent, when installing both modules, it attempts to execute Clean-AzurermContext which fails since authentication happens through AZ.  Besides switching to AZ, how can we get this time lower?

[2019-04-16 20:52] trwalke opened #10140 "Nuget task tries to push .snupkg packages twice"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NuGet

## Environment
account name: trwalke,
team project name: Identity Division IDDP (https://identitydivision.visualstudio.com/IDDP)
 build definition name/build number: .NET MSAL V3 Release/ [release Id=13717](https://identitydivision.visualstudio.com/IDDP/_releaseProgress?_a=release-pipeline-progress&rel

[2019-04-16 20:57] trwalke commented on #10140
The task documentation says we can use the "Index Sources & Publish Symbols task" for pushing symbols but that task doesnt seem to support .snupkgs.

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget?view=azure-devops

[2019-04-17 00:39] salvmd commented on #10108
@bryanmacfarlane, could you help me route this to a more appropriate team? I don't think the question here is specific to the npm task since this is about displaying colors for commands in the UI. The npm task adds support for authentication and then runs npm commands using azure-pipelines-task-lib/toolrunner (https://github.com/Microsoft/azure-pipelines-task-lib/blob/master/node/toolrunner.ts), w

[2019-04-17 01:32] bryanmacfarlane commented on #10108
The issue is with npm and that's covered by artifacts.  You can talk to @yaananth if you want to see why the artifact task isn't round tripped colors correctly.

[2019-04-17 01:36] bryanmacfarlane commented on #10097
Yes, you need to compile it.  A task is a self contained fully built and realized package.

[2019-04-17 01:36] #10097 closed

[2019-04-17 01:40] bryanmacfarlane commented on #9968
Not in the box.  Signing varies on how the private key is protected and shared in various organizations.  Not a one size fits all problem.

[2019-04-17 01:40] #9968 closed

[2019-04-17 06:33] alarobric commented on #10094
It turns out I was missing the upper-case C. I think there's a minor bug there, as I didn't get a warning that it was an unsupported setting (which I did when set to 'custom' later. But clearly it wasn't working right either.
Anyway, thanks for that, working now and looks pretty good.

[2019-04-17 06:57] navin22 commented on #10047
@SrinathAka : Please add one more to the list https://{organization_name}.vstmr.visualstudio.com.
I will get the documentation get [fixed](https://github.com/MicrosoftDocs/vsts-docs/issues/3992) to add the mentiohed URL.

[2019-04-17 07:21] hugo-retro commented on #9984
Found a solution to our project. First, ensure you pod file has the following post-install section:

`
platform :ios, '9.0'

# Comment the next line if you're not using Swift and don't want to use dynamic frameworks
use_frameworks!

#--- This was what we had missing ---
post_install do |installer|
  installer.pods_project.targets.each do |target|
    target.build_configurations.each do |config|

[2019-04-17 09:23] DeV1L commented on #10001
Hello @kaadhina,

Do you have any updates on the issue?

Thanks!

[2019-04-17 09:44] amaljg commented on #10125
@jlorich @cwiederspan The Azure CLI task relies on the scripting environment’s behaviour. For inline scripts, the task actually creates a batch script (in Windows) or bash script (in Linux) with the specified commands and executes the script. So the behaviour of whether to exit on individual command failure or not is dependent on the script & scripting environment. The default behaviour for batch

[2019-04-17 10:00] kaadhina commented on #10001
Hi, I've confirmed that the differentiating factor is the browser version. The issue reproduces with older version of agent, driver but a  newer version of chrome. At the moment I have no clue about what might have changed in the browser. The workarounds I can think of for the time being are:
1. Use agent in interactive mode (not as service)
2. Downgrade browser to previously working version
3. Tr

[2019-04-17 10:35] DeV1L commented on #10001
Thanks for your participation here!

So what we can do except a workaround?
Is Microsoft going to work on it? Or should we report the issue to Chrome or Selenium team?

[2019-04-17 12:57] samuel-begin opened #10146 "[feature request] implement kubectl wait"
## Required Information

*Type*: Feature
**Enter Task Name**: Kebernetes (kubectl)

## Issue Description

After a `kubectl apply` there is no way _inside azure devops_ to verify if the desired state which was applied is reached. We would like to have information about the success of the operation embedded in the azure release pipelines section, ideally integrating with success/failures statuses an

[2019-04-17 13:02] UnoSD opened #10147 "Unexpected token warning on password with backslash"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure Resource Group Deployment Task

## Environment
- Server - Azure Pipelines
- Agent - Private

## Issue Description

When a password in Key Vault uses the backslash (in my case it contained [...]**\K**[...]) then is passed as argument to an ARM template in the task, you get the following warning:

The deployment seems fine and th

[2019-04-17 15:17] niadak commented on #9853
@ansariwn, Did you get a chance to try to workaround? Are you still blocked for this?

[2019-04-17 15:18] niadak commented on #9849
@prestonr83 , I am closing the issue for now. Please feel free to reopen with sufficient data (debug log) if you are still facing the issue.

[2019-04-17 15:18] #9849 closed

[2019-04-17 15:20] #9049 closed

[2019-04-17 15:34] SadagopanRajaram commented on #10076
No, there isn't any way to use the publish test results task to publish to another pipeline.
You can write another task to use the REST APIs directly.

[2019-04-17 16:27] iorlas opened #10148 "Docker push requires Dockerfile"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Docker

## Issue Description

1. DockerV2 task push command implementation relies on Dockerfile existence
2. Although Dockerfile input is used, it is not available in Designer for push command since visibility is: command = build || command = buildAndPush

Which leads to inability to use push command at all, f

[2019-04-17 16:38] jlorich commented on #10125
Perhaps this is just a lacking in the documentation then, as both myself and a number of others have ran into this in the past - especially with inconsistencies depending on the build agent that is running.   I think this has led to a number of various issues that have been filed here in the past too. For an external script file, setting `set -e` makes sense, for an inline script to me that was al

[2019-04-17 17:42] ChuckOp commented on #10038
We're experiencing this issue as well.  It's impacting our reporting and we've paused migration from TFS to VSTS as a result.  Let me know if we can provide any information.  We'll be looking for the fix.

[2019-04-17 18:00] rigerosa commented on #6854
Same as @michaelbpalmer , all our Helm based pipelines are not working, we have TLS enabled.
This is blocking our deployment.

[2019-04-17 19:50] michaelmdeng opened #10149 "Publish code coverage task not able to load coverage data from cobertura.xml"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Publish Code Coverage

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishCodeCoverageResultsV1

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build

[2019-04-17 20:00] brcrista commented on #8066
@yacaovsnc did your fix address this?

[2019-04-17 20:34] mbrancato commented on #9754
I ran into this today and I too am confused. The UI doesn't allow specifying the Azure Pipelines service connection. That said, the GitHub App token *is* scoped to certain repos - that is controlled by the GH admin. The confusion is that someone with access to my project in DevOps already has access to use that service connection to private repos. So why is pulling data using the service connectio

[2019-04-17 20:48] rigerosa commented on #6854
Update on my previous comment: I guess it has been fixed? seems to be working now

[2019-04-17 20:52] 32technologies commented on #6854
Working for me now as well.

[2019-04-17 23:44] ansariwn commented on #9853
@niadak I haven’t tried the workaround yet but I will try it tomorrow and report back. Thanks for your support.

[2019-04-17 23:48] tkrick commented on #6854
hi @rigerosa , @michaelbpalmer. i reached out to a contact internally that works on those helm tasks. He asked that you file a new issue and put the info there. it will be more easy to route if it says helm in the title/etc. so if one of you could do that that would be great. sorry for the delay.

[2019-04-18 00:16] rigerosa commented on #6854
thanks @tkrick but the problem seems to be solved now

[2019-04-18 05:14] mike-north commented on #9302
[code]
With this use of `exit 0`, it seems like a reviewer would have to actually dig into the test logs of each passing pull request, in order to ascertain whether a given code change introduced a build failure on these allowed-to-fail jobs.

It's still very important to surface feedback about these failures in a first class way.

An example implementation might involve using GitHub's [`CheckRun`

[2019-04-18 06:04] tasharm commented on #4798
I am getting a similar error but don't have any spaces in the path.
moreover I can see the dll getting copied in the drop step before running the tests.

error :
The test source file "dll_path>> provided was not found

[2019-04-18 08:54] SrinathAka commented on #10047
Thanks @navin22 . The Url you provided is it equivalent to the  https://spsprodweu2.visualstudio.com and or https://tfsprodweu2.visualstudio.com as after adding these two Url's to our firwall list i'm now unable to run tests and get it pushed to vsts and Tests results are displayed in my release pipeline under "Tests" tab

[2019-04-18 09:18] navin22 commented on #10047
@SrinathAka: Glad to know that it worked. Yes the URL I gave or like sps and tcm which is used mainly in Test area, It may not be needed now, but it will be needed for some scenarios. It's good to have in your firewall list.

[2019-04-18 09:18] #10047 closed

[2019-04-18 09:31] RicardoLans opened #10152 "VSTest@2 fails on login docker container with sql image"
**Question, Bug, or Feature?**
*Type*: Question and/or Bug

**Enter Task Name**: VSTest@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/VsTestV2

## Environment
- Agent - Private:
Self hosted agent based on microsoft base image.

## Issue Description
1. We build projects using
  - `NuGetRestoreV1`
  - `VSBuildV1`

2. We setup a docker container wi

[2019-04-18 10:40] joergbattermann opened #10154 "'Index Sources & Publish Symbols' Task fails with 'Unable to connect to the remote server' for Azure DevOps with local VSTS Agent behind Proxy"
## Required Information

**Question, Bug, or Feature?**
*Type*:  **Bug**

**Enter Task Name**: **Index Sources & Publish Symbols**

## Environment
- Server - Azure Pipelines or TFS on-premises? **Azure Pipelines**
- Agent - Hosted or Private: **Private** (v2.149.2, URL: https://dev.azure.com/ctplmtooling/Tooling/)

## Issue Description

Private Build Agent(s) are behind corporate proxy. All build

[2019-04-18 10:59] iricigor commented on #7898
Transition was going tough, with multiple issues. First, as documented on many sites, I hit [Get-SerializationSettings](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/runbooks#get-serializationsettings) issue. Then some other and so on...

However, we hit one **hard migration requirements**. If we have both Az and AzureRM modules, old scripts inside pipelines are not working fine.

[2019-04-18 11:41] JohannesDrexler commented on #9912
This has been fixed with version '0.150.0'

[2019-04-18 11:41] #9912 closed

[2019-04-18 12:29] vtbassmatt commented on #9302
@mike-north fair point, I didn't think about that. You can actually inject an error and still not fail the leg, which might be what's needed.

[2019-04-18 15:52] IOrlandoni commented on #10149
Try setting a build variable called `disable.coverage.autogenerate` to `true`. They introduced some breaking changes to the task in a non-backwards compatible way.

More info here: #10094, #9704 & #9962.

[2019-04-18 17:03] pgraham-acn opened #10156 "Command Line Task v2: Cannot bind argument to parameter 'LiteralPath' because it is an empty string."
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Command Line

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: pressganeyei, PGO-AUDIT-API, PGO-AUDIT-API-RELEASE-PATCH

- Agent - Private:

    - If using private agent, provide the OS of the machine ru

[2019-04-18 17:06] pgraham-acn commented on #10156
Just tried with a Hosted agent from VS2017 and the build succeeded. Does this mean that I need to get the agent in the Private queue updated?

[2019-04-18 18:09] denaliwhite commented on #10085
We moved resource deletion to earlier in the process to band-aid the issue. Still looking for a more elegant solution. Support ticket still unresolved (incident 119040426002744).

[2019-04-18 19:18] puttagunta opened #10157 "VSTest should retain TestResults or give an option not to publish"
**Feature**
*Type*: VSTest 2.* is removing the TestResults folder after publishing the results. This is inhibiting the option of using trx files in the subsequent tasks.

**Task Name**: VSTest 2.*

- Agent - Private:
    - Microsoft Windows Server 2016
    - Agent version: 2.149.2

## Issue Description
We have a stage in release that runs Integration Tests. We have tasks following the VSTest task

[2019-04-18 19:28] michaelmdeng commented on #10149
Works now, thank you!

[2019-04-18 19:28] #10149 closed

[2019-04-18 20:08] damccorm commented on #10095
I'm going to close, just let me know if you'd like me to reopen.

[2019-04-18 20:08] #10095 closed

[2019-04-18 20:38] michaelbpalmer commented on #6854
Yes, fixed for me as well. Thanks!

[2019-04-19 01:36] mskilton commented on #5566
I am also having this issue with Github deployment.  Was working fine for a number of swaps now getting

statusMessage": "{\"status\":\"Failed\",\"error\":{\"code\":\"ResourceOperationFailure\",\"message\":\"The resource operation completed with terminal provisioning state 'Failed'.\",\"details\":[{\"code\":\"BadRequest\",\"message\":\"Cannot swap slots for site 'XXX' because the worker process fo

[2019-04-19 08:09] puagarwa commented on #9292
#2222

[2019-04-19 09:29] markdebruijne commented on #8380
This isn't descriptive either  the `-PreserveVnet` parameter that probably is used under the hoot.

https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/switch-azurermwebappslot?view=azurermps-6.13.0

[2019-04-19 09:30] markdebruijne commented on #8380
Can you dispatch this question regarding missing documentation @bryanmacfarlane

[2019-04-19 14:13] trwalke commented on #10140
any updates on this?

[2019-04-19 16:07] kapilt commented on #8514
pypy2/pypy3 is a little ambigous for versions of 3, as thats inclusive of both 3.5 and 3.6, in particular i was interested in the latter, but found that its actually 3.5. the version proposal is also a little ambigous because pypy's python 3.6  latest release actually corresponds to pypy3.6 v7.1.1 so its unclear what the verison numbers to use for the task without additional research.

[2019-04-19 18:46] davidstaheli opened #10158 "Unclear what Destination ID should be"
Hi @mseyma,

Can you please help @andrewleader understand valid values for "Destination ID" and we can document it better too?  Details are here:
https://github.com/MicrosoftDocs/vsts-docs/issues/3997#event-2288666593

[2019-04-19 19:51] tanandy opened #10159 "Kubernetes@1 exec fails using single quotes in pod name"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Deploy to kubernetes

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/KubernetesV1

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: cf logs

- Agent - Hosted

    - If using Hoste

[2019-04-19 20:07] DavidStaheli commented on #9923
Hi @ravero.  I too have been anxious for us to provide better examples using YAML.  I'm sorry for the confusion in the meantime.  The Azure Pipelines documentation is [here](https://github.com/MicrosoftDocs/vsts-docs/tree/master/docs/pipelines/languages) (see Xamarin.md) and any contributions are much appreciated!

[2019-04-20 00:56] omeshp commented on #6364
@mitchdenny Are we supporting retaining of permissions in pipeline artifacts? I know it's on the agenda but wondering if it's already implemented.

[2019-04-20 03:27] mitchdenny commented on #6364
At this point we don't do it. I think the first priorities for additional metadata to be stored with files in artifacts are:

1. Execute bit
2. Timestamps (may be important for native build caching scenarios)

Both of these are important for both Pipeline Artifacts and Pipeline Caching. Adding @alexmullans for awareness.

[2019-04-20 14:55] ravero commented on #9923
Hi @davidstaheli,
Please let me know how can I contribute with the docs. I have plenty of examples that I've been building on our pipelines.
Best regards.

[2019-04-21 06:33] zhuowei opened #10163 "CopyFiles task fails with "Failed find: ENOENT" when encountering broken symlink"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CopyFiles
## Environment

https://dev.azure.com/swiftwasm/wasi-sdk/_build/results?buildId=7

## Issue Description

I'm building a modified LLVM on Azure Pipelines, and one of the test cases in LLVM uses a broken symlin

[2019-04-21 06:35] zhuowei commented on #10163
I think this is a duplicate of #9768. Closing

[2019-04-21 06:35] #10163 closed

[2019-04-21 06:54] sachinma commented on #9191
This support is now available. Added with PR #9419

[2019-04-21 06:54] #9191 closed

[2019-04-21 11:57] KamilKhair opened #10164 "Running CodedUI tests (from test plan suites) fails: Test run is aborted duo to TestNotFoundException (Visual Studio Test Task (version 2) - Test platform installed by tool installer task)"
**Type**: Bug

**Task Name**: Visual Studio Test Task (version 2) - Test platform installed by tool installer task

## Environment
- Server - Azure Pipelines
- Running task in release pipeline
- Agent - Private, version **2.149.2**, running on Windows 7 SP1

## Issue Description
Running CodedUI tests (from test plan suites) fails: Test run is aborted duo to TestNotFoundException:
![image](https://

[2019-04-21 15:11] #10164 closed

[2019-04-21 15:15] KamilKhair commented on #10164
Closed.
Reason of failure is missing assembly **Microsoft.VisualStudio.QualityTools.CodedUITestFramework, Version=15.0.0.0** in Microsoft.Testplatform package (stable version 16.0.1)
Work around is to downgrade Microsoft.Testplatform package to 15.0.9

[2019-04-21 20:39] mjscosta opened #10165 "##vso[task.prependpath] in linux always results in an extra quote added wiht the prepended path"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: ##vso[task.prependpath]

## Environment
- Server - Azure Pipelines or TFS on-premises?
   Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number

[2019-04-22 04:04] kaadhina commented on #10038
This has now been fixed and deployed. Thanks.

[2019-04-22 04:04] #10038 closed

[2019-04-22 05:37] kaadhina commented on #10157
Hi, thank you for the feedback.
Reusing the trx from the results directory in agent is not something the task supports and not planned for future either.
If the file needs to be used by a subsequent task, you will have to download from server from test run attachments.

[2019-04-22 05:38] #10157 closed

[2019-04-22 05:49] kaadhina commented on #9929
Please reopen once u have the logs

[2019-04-22 05:49] #9929 closed

[2019-04-22 05:51] amaljg commented on #10125
Thanks @jlorich for the feedback. Adding @pulkitaggarwl to consider the feedback in the next version of the task. For now, since you are unblocked, I'm closing this issue. Feel free to reach out to us, if you need any further help.

[2019-04-22 05:51] #10125 closed

[2019-04-22 07:44] wisdeom commented on #10158
This is actually documented in the App Center doc under distribution: https://docs.microsoft.com/en-us/appcenter/distribution/vsts-deploy#setting-up-distribution-with-app-center

[2019-04-22 09:16] kaadhina commented on #10001
Since this is not a change from the agent side and the breaking change is confined to Chrome/Selenium, we think it would be best for you to report this directly to the concerned owners. Thank you.

[2019-04-22 09:16] #10001 closed

[2019-04-22 09:32] letmaik opened #10170 "Universal packages task fails during initialization on network errors"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  	UniversalPackagesV0

## Environment
- Server - Azure Pipelines
- Agent - Hosted

queue name: windows-2019

## Issue Description

When a temporary network issue happens, then downloading the "artifacttool" may fail. T

[2019-04-22 13:29] karanjitsingh commented on #9865
@dwilsonbst, from your logs, it seems that you've selected jacoco as your coverage format (or used the default value)

![image](https://user-images.githubusercontent.com/4632805/56502534-3bf10e80-6530-11e9-86ba-ed8da5a39007.png)

You need to specify Cobertura as your coverage format.

[2019-04-22 13:31] ansariwn commented on #9853
@niadak I have tried the work around (Invoke-WmiMethod) and it seems to be working. Thank you for that.  However there is a side-effect to using the work around where the call to command 'Invoke-WmiMethod' returns immediately causing the PowerShell pipeline task to complete while the system is still starting the process given to 'Invoke-WmiMethod' call.

Can you please provide any information rega

[2019-04-22 15:39] egoicovici opened #10175 "Cannot use the CopyFilesOverSSH task to deploy to Solaris 11"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CopyFilesOverSSH

## Environment
- Server - Azure Pipelines

- Agent - Private running on Windows OS, agent version 2.148.1

## Issue Description

I cannot use the **Copy Files over SSH** Azure DevOps task inside a rel

[2019-04-22 15:48] egoicovici commented on #10175
The SSH server used is OpenSSH v7.5, which is the default version that come with Solaris 11.4, thus this bug can be reproduced by connecting via SSH to any Solaris 11.4 server.

[2019-04-22 15:51] andrewleader commented on #10158
Thank you!! Maybe that should be linked somewhere, I spent 15 minutes searching but never found that page.

[2019-04-22 16:31] MisinformedDNA commented on #8809
@kasubram If the dropdown isn't going to populate, shouldn't it turn into a normal text box?

[2019-04-22 17:25] brcrista commented on #8514
We explored a few possible designs for this.  The main alternative was something like this:

[code]

This is more semantically correct, since PyPy technically isn't a "version" of the Python interpreter, and would make it more natural to switch between versions of PyPy.

We ended up going with the simpler syntax that is rolling out with v0.150 of the task right now.  The first reason is that we do

[2019-04-22 17:28] brcrista commented on #8514
This feature should now be available for all users.

[2019-04-22 17:28] #8514 closed

[2019-04-22 20:15] brkerr commented on #7618
@jmoody

I see the mac images have Ruby 2.6 pre-installed, so you don't need to specify the version with that task.

https://github.com/Microsoft/azure-pipelines-image-generation/blob/master/images/macos/macos-10.13-Readme.md#language-and-runtime

I am working on adding Ruby versions to the hosted tool cache on mac so it won't throw this error in the future though.

[2019-04-22 21:24] SudoBrendan commented on #8259
Writing this down in the hopes it will be helpful... I *think* the ticket can remain closed...

In the current BashV3, the default behavior is to launch `/bin/bash` directly, that is, you'll write a Task with either a file to execute, or some in-line script that's written to a temp file then executed. Here are all the paths for the new parameters, and what files get sourced:

DEFAULT: command to t

[2019-04-22 21:52] johnayoub opened #10177 "AzureFileCopy failes when 'RM Storage Account' is set as a variable"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFileCopy

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFileCopyV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted VS2017

## Issue Description

T

[2019-04-22 23:04] jerickmsft commented on #9924
@alexmullans I think this can be closed thanks(!) to @ryandle's contribution

[2019-04-22 23:06] alexmullans commented on #9924
Yep, thanks.

[2019-04-22 23:06] #9924 closed

[2019-04-23 07:59] EricAlvarez292 commented on #9389
Hi guys unfortunately Im experiencing this kind of bug mentioned above, its just works fine from 1.148.0 and suddenly got this problem on 1.150.3. I already tried petrce workaround but no luck on that.

[2019-04-23 08:54] Schirmi136 opened #10181 "App Service Deployment to Slot: 401 Unauthorized"
## Required Information
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Azure App Service Deploy

## Environment
- Server - Azure Pipelines
- Agent - Hosted VS2017

## Issue Description
When trying to deploy an App Service to a slot, we are getting a  ERROR_USER_UNAUTHORIZED error.  In our DevOps pipeline the only task which is executed is Azure App Service Deploy. When deplo

[2019-04-23 09:53] ladislas opened #10182 "Matrix Strategy in template"
Hi there!

I've been playing with Azure Pipelines templates and I was wondering if it was possible to mix templates and matrix.

I've tried passing the matrix as a parameter to the template, either directly or through a `each` mapping. I've also tried adding `strategy` to `- template` in the `azure-pipelines.yml` but it does not work either.

Is this even possible?
And if not, is this something yo

[2019-04-23 10:04] vincentdass commented on #10181
@Schirmi136 , Can you set an application setting  `1WEBSITE_WEBDEPLOY_USE_SCM` to value `true` in Azure Portal and retry the deployment after 1 min.
Also, we recommend choosing `Zip Deploy` or `Website Run From Package` as deployment method.
Please follow the steps [here](https://github.com/Microsoft/azure-pipelines-tasks/wiki/Migrating-from-Web-Deploy-to-Run-From-Package-deployment-mechanism) for

[2019-04-23 10:10] Schirmi136 commented on #10181
It worked with WEBSITE_WEBDEPLOY_USE_SCM set to true, thank you!

[2019-04-23 10:40] #10181 closed

[2019-04-23 10:46] karanjitsingh commented on #9389
@EricAlvarez292, thanks for reporting this, since this thread has a lot of context and has already been closed, can you go ahead and create a new issue with logs. This will help you gain traction for your issue, you can tag me in the issue as well.

[2019-04-23 11:30] RoopeshNair commented on #9913
@Leon99 Sorry for the issues. We will take a look

[2019-04-23 11:55] guillermomartinez-accenture commented on #9389
Hi @karanjitsingh, I believe the issue has been closed incorrectly.
I'm also facing the issue in the version 1.150.3.

[2019-04-23 12:00] karanjitsingh commented on #9389
@guillermomartinez-accenture, the thread was closed after we confirmed the fix post release.

It's possible due to some changes happened in sprints after, this could've regressed. Having a new issue and fresh logs would definitely help.

[2019-04-23 13:28] johnayoub commented on #10177
There was a double quote in the storage name that got added somewhere in the name and it was hard to tell from the error message. Sorry about that!

[2019-04-23 13:28] #10177 closed

[2019-04-23 13:57] ladislas opened #10186 "Parallel jobs inside stage"
Hi there!

Is it possible to parallelize `jobs` inside a `stage`?

Thanks a lot!
Best,
-- Ladislas

[2019-04-23 14:07] gthvidsten commented on #9064
I'm struggling with the same issue right now. It seems PR #9396 fixes this, and it is marked as closed (released?), but I'm still getting this error in my DevOps build pipeline. Any ETA on when this will actually be fixed?

[2019-04-23 14:33] brcrista opened #10187 "Python Script V0: ##[error]The given path was not to a file: 'D:\a\1\s"
Here's the YAML snippet for v0.147 of the task:

[code]

In YAML, if you specify `script` but don't specify `inline`, you'll get a confusing error:
`##[error]The given path was not to a file: 'D:\a\1\s'.`

Currently, the correct way to use the task in YAML is to specify `scriptSource: inline`, but the error does not make this clear.

This is some YAML-unfriendliness left over from the task being m

[2019-04-23 15:35] daantimmer commented on #5163
Hello long ago issue. It seems we are having this same issue right now.

2019-04-23T15:18:10.9085327Z 8574a444-08f7-44f4-8925-b083e33191c2 exists true
2019-04-23T15:18:21.1539543Z ##[error]Unhandled: Error: socket hang up
2019-04-23T15:18:21.1549570Z ##[error]Unhandled: Error: socket hang up
- - snip about 300 entries - -
2019-04-23T15:18:21.2454315Z ##[error]Unhandled: Error: socket hang up
2019-

[2019-04-23 16:02] MarkKharitonov commented on #9093
A quick update - we upgraded the agent. I will monitor to see if there is any change.

[2019-04-23 16:39] f2calv commented on #9548
double use of "--docker" but otherwise thanks for saving me (any more) pain :)

[2019-04-24 00:34] deepakmhr opened #10189 "Why test assemblies are not filtering in VSTS azure build pipeline despite putting test assembly patterns?"
Here are my test assembly patterns (configuration)

[code]

After triggering the build, here is the log where integration test assembly is also there (this file must be filtered and should be here)

[code]

Because of this integration test cases are also running and I want to run only unit test cases
**Enter Task Name**: Visual Studio Test

## Environment
- Server - Azure Pipelines

[2019-04-24 03:30] EricAlvarez292 opened #10191 "Publish Code Coverage Results task is not copying HTML files to report artifact"
## Issue Description
Re-creating this issue [9389](https://github.com/Microsoft/azure-pipelines-tasks/issues/9389)
*Type*: Bug
[PublishCodeCoverageResultsV1](https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishCodeCoverageResultsV1)
## Environment
Hosted macOS High Sierra
## Issue Description
Publish Code Coverage Results task is not copying HTML files to report artifact
##

[2019-04-24 04:06] mathewjustin commented on #8442
@ikewabo Same here

[2019-04-24 04:58] bishal-pdMSFT commented on #9064
@hiyadav would it be possible to use newer version of tool lib in the new version of task?

[2019-04-24 06:12] hiyadav commented on #9064
Yes, I shall change make that change in this sprint. And then it can go as part of normal deployment chain...
@bishal-pdMSFT thoughts ?

[2019-04-24 07:19] 20shivangi commented on #9146
@bogdancucosel Which Azure PowerShell version (x86 or x64) have you used ? Please refer to this link to get x86 version of Azure PowerShell msi :
https://github.com/Azure/azure-powershell/releases/tag/v6.13.1-November2018

[2019-04-24 08:17] bogdancucosel commented on #9146
@20shivangi e have different versions.
We tried with 5.7.0 right now, and with the new version of the task , we get :

##[section]Starting: Azure PowerShell script: InlineScript
==============================================================================
Task         : Azure PowerShell
Description  : Run a PowerShell script within an Azure environment
Version      : 3.1.24
Author       : Microso

[2019-04-24 08:30] 20shivangi commented on #9146
@bogdancucosel
If the machine is 64 bit, then x-64 version of Azure RM module must be installed . If you install x86 version of Azure RM module the error saying  "Could not find the modules: AzureRM with Version: 5.1.2. If the module was recently installed, retry after restarting the Azure Pipelines task agent." is given .

[2019-04-24 08:32] michaelpisula commented on #3116
Is there any hope for a good solution to the "set variable inside Task Group" problem? The solution presented in the article does not seem to work anymore with DevOps Server (the tasks do not resolve the replaced $(foo) for some reason).

[2019-04-24 09:05] nikbhadane opened #10195 "Facing error wile deploying "SQL Server Database Deploy" task in release pipeline."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-04-24 09:12] mereth opened #10196 "SQL Server Database Deploy Task and Connection String failure"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: SqlDacpacDeploymentOnMachineGroup

## Issue Description

Since 0.3.16, using "Connection String" as "Specify SQL Using", instead of "Server", result in a failing task .

This bug is related to this feature : #9949

### Task logs

[code]

[2019-04-24 09:28] michaelpisula commented on #2439
@AndyP2  That workaround does not work on Azure DevOps Server for me for some reason. Even though I set the variable in a task, the second task uses the literal value `$(myvariable)`. Have you had that problem? Or maybe it is a different behavior between versions.

[2019-04-24 09:30] bogdancucosel commented on #9146
No, the machine is a 32 bit machine.

Agent.OSArchitecture | X86
-- | --

[2019-04-24 09:36] arek-avanade opened #10197 "Download Pipeline Artifact - wrong match pattern"
**Type**: bug

**Enter Task Name**: Download Pipeline Artifact uses wrong match pattern

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description
When the build pipeline produces multiple artifacts and we want to choose just a few of them in the release pipeline, the artifact is not downloaded because of a wrong file match pattern. In the sample below out of 3 artifacts we

[2019-04-24 10:38] 20shivangi commented on #9146
@bogdancucosel  And what is Azure RM module version , it is x86 ?

[2019-04-24 11:56] dhashrath-msft commented on #8442
@ikewabo @mathewjustin  Can you please share
your organisation name or your account url
project name and
release / build name

where you were hitting the issue to help us investigate ?

[2019-04-24 12:06] AndyP2 commented on #2439
I'm using Azure DevOps Service, so that might be the difference, but I have just recreated the scenario and it is working as expected:
- TaskGroup
  - one parameter 'myvariable' with default value `$(myvariable)`
  - "task 1: set" powershell inline script:
    `Write-Host 'setting myvariable=banana'`
    `Write-Host '##vso[task.setvariable variable=myvariable;]banana'`
  - "task 2: display" powers

[2019-04-24 12:10] bogdancucosel commented on #9146
@20shivangi I do not understand. Yes it is, I can install Azure Rm x64 version on a x86 OS ?

[2019-04-24 14:25] Gordon-Beeming opened #10201 "Cannot bind argument to parameter 'inputString' because it is an empty string."
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: SQL Server Database Deploy

## Environment
- Server - Azure Pipelines?

- Agent - Private

### Task logs

[code]
2019-04-24T14:05:14.0249443Z ##[debug]at <ScriptBlock>, <No file>: line 1
2019-04-24T14:05:14.0260137Z ##[debug]at <ScriptBlock>, <No file>: line 22
2019-04-24T14:05:14.0270758Z ##[debug]at <ScriptBlock>, <No file>: line 1

[2019-04-24 14:45] vinnyrose opened #10202 "VsTestV2: Rerun of failed NUnit TestCase fails."
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VsTestV2

## Environment
- Server - Azure Pipelines
- Agent - Private: Microsoft Windows Server 2016 Datacenter

## Issue Description

​Setup a NUnit unit test using the TestCaseAttribute like so:

    namespace Regression.Tests
    {
    	internal sealed class FeatureFile
    	{
    		[TestCase("Test Case A")

[2019-04-24 16:11] guillermomartinez-accenture opened #10205 "Publish code coverage not shown for Jacoco"
I want to Publish my Jacoco code coverage in TFS with the plugin Publish Code Coverage Results.

This functionality was working correctly, but since short time ago it's not working anymore.
When going to Code Coverage tab on the build it shows the message: "Code coverage report cannot be rendered as report HTML was not found. Please verify that “Report Directory” containing an HTML report was spec

[2019-04-24 16:28] draconastar commented on #9893
Any updates on this?  We're still unable to successfully build our Xamarin app through Azure.

[2019-04-24 16:54] steph-moto commented on #8897
Has anyone heard any progress for this issue.

This is causing our build to fail trying to use the mavenAuthenticateFeed flag set to true.  We need to use the ugly workaround to downloading a settings.xml file.

[2019-04-24 20:02] johncrim opened #10207 "Expose Connect-AzAccount error details in Azure PowerShell v4 task"
## Required Information

**Question, Bug, or Feature?**
Bug

**Enter Task Name**: AzurePowershellV4

## Environment
Azure Pipelines - Private - Hosted Ubuntu 16.04

## Issue Description
Problems connecting to Azure are excessively difficult to troubleshoot, b/c the error details are swallowed, and aren't even exposed when debug is true.

Here's an example:
https://developercommunity.visualstudio.c

[2019-04-24 20:13] RandomEngy opened #10208 "Azure Cloud Service Deployment task fails if label contains parenthesis "()""
Bug:
Having parenthesis in the Label on the Azure Cloud Service Deployment task causes the task to fail with:

[error]Specified argument was out of the range of valid values.
Parameter name: parameters.Label

It looks like when creating the PS command none of the properties are quoted, which is probably causing Powershell to reject the argument:

https://github.com/Microsoft/azure-pipelines-tasks/

[2019-04-24 20:28] mereth commented on #10201
This bug is related to this feature : #9949

[2019-04-24 21:36] in4margaret opened #10212 "PublishCodeCoverageResult is broken for JaCoCo after Autogenerate HTML reports for Code Coverage #9704"
Publishing of JaCoCo coverage results is broken after #9704.
If you have a look at https://github.com/Microsoft/azure-pipelines-tasks/pull/9704/files#diff-3afbe858d80311a2afe7be02b22dedd4R87 it uses 'tempFolder' variable as report directory but the only place it's value is defined is inside of this 'if' https://github.com/Microsoft/azure-pipelines-tasks/pull/9704/files#diff-3afbe858d80311a2afe7be0

[2019-04-24 22:49] coderlife14 commented on #10138
@bryanmacfarlane , Do we have any suggestions on this issue? I really need to understand where did I
 go wrong with this?

[2019-04-24 23:00] dagood opened #10213 "DotNetCoreInstaller uses a deprecated releases.json and can't install .NET Core 3.0 Preview 4"
**Question, Bug, or Feature?**
Bug

**Enter Task Name**: DotNetCoreInstaller

## Environment

Unknown

## Issue Description

I'm filing this issue on @minhhieugma's behalf based on https://github.com/dotnet/core/issues/2632.

This appears to be caused by the task using a deprecated file:

https://github.com/Microsoft/azure-pipelines-tasks/blob/e239620b93b1d2c6339893cc86b0d51d6bf2ee88/Tasks/DotNetC

[2019-04-25 04:15] mitchdenny commented on #10197
@fadnavistanmay

[2019-04-25 05:04] niadak commented on #9731
Closing the issue. Please feel free to reopen with debug logs if you are still facing the issue.

[2019-04-25 05:04] #9731 closed

[2019-04-25 05:05] niadak commented on #9780
Closing the issue. Please feel free to reopen with debug logs if you are still facing the issue.

[2019-04-25 05:05] #9780 closed

[2019-04-25 06:54] CasperWSchmidt opened #10220 "*Feature Request* PublishBuildArtifact - Filtering folder content"
We are running Azure Pipelines and earlier the build pipeline used the tasks "DotNet Publish" and "Publish Artifact" to zip and publish the build artifacts from ```$(Build.ArtifactStagingDirectory)```. Then, in the release pipeline, the "Azure App Service Deploy" task deployed the zip file and the Azure Function ran directly from it ("Run from package" option).
Because we need to access some of th

[2019-04-25 07:02] maniSbindra opened #10221 "PackerBuild Build fails when build_resource_group_name is used"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PackerBuild

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:

    - Hosted Ubunt

[2019-04-25 08:23] nigurr commented on #10152
@RicardoLans VsTest task is just wrapper around vstest.console.exe and which executes test code.
Did you try running them in local (invoking vstest.console.exe on docker image)

[2019-04-25 08:39] RicardoLans commented on #10152
@nigurr yes the exact command used by vstest task is:
`vstest.console.exe "E:\agent3\_work\24\a\xxx.DbTest.dll" /Settings:"E:\agent3\_work\_temp\5e7e6c40-61b1-11e9-9427-7bdc9b3786f4.runsettings" /logger:"trx" /TestAdapterPath:"E:\agent3\_work\24\a"`

and we ran this local on the agent and it worked
only when this command runs from our build by the VsTest task it fails

[2019-04-25 12:47] stephenmichaelf opened #10222 "Update Npm to use latest node-api"
The npm task has had some intermittent failures calling in to the location service:

##[error]Error: Error: Failed to find api location for area: npm id: D9B75B07-F1D9-4A67-AAA6-A4D9E66B3352

I think this is due to networking issues.

We added resiliency to the azure-devops-node-api when calling the location service to allow retries. This is in 7.2.0.

It looks like this is being called through pa

[2019-04-25 12:48] stephenmichaelf commented on #10222
@zjrunner @jotaylo Could you take care of this? Thanks!

[2019-04-25 12:48] maniSbindra opened #10223 "On Windows Agents AZ CLI task executes only the first az command in an inline script"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure CLI (1.150.0)

## Environment
- Azure Pipelines

- Agent - Hosted or Private:

    - Hosted Windows (VS 2017) Agents and Private Windows Agents

    - Windows Server Data Center version: (2019)

## Issue Descript

[2019-04-25 13:39] maniSbindra opened #10224 "JSON parsing error on Windows Agent based on value of PackerBuild task Template parameters"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PackerBuild

## Environment
- Azure Pipelines?

- Agent - Both Hosted and Private Windows Agents

## Issue Description
On Windows Agents, In the Packer Build task when passing Template parameters (Custom Packer Templat

[2019-04-25 15:07] chrisdeely commented on #9865
I'm encountering the same issue using Karma / Jasmine / Istanbul.

[code]

Is there a way to access the `cobertura-coverage.xml` file from the build agent to validate the contents?

<details>
  <summary>Here are the full debug logs for the task</summary>

[code]
</details>

[2019-04-25 16:32] stephanebachelier opened #10228 "Breaking changes introduced to the PublishCodeCoverageResults@1 task."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishCodeCoverageResultsV1

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - Hosted ubuntu 16.04

[2019-04-25 19:21] fadnavistanmay commented on #10197
Ack. So @arek-avanade , you are trying to download just a single artifact, right? And you need all the files in that artifact ( IPA ), the you don't need to give any minimatch pattern. @owenhuynMSFT - FYI. From what I understand, the minimatch pattern will be applicable to all the artifacts.

[2019-04-25 21:41] Srikanthshetty opened #10232 "Azure ClI not finding `az` with self hosted agent(Ubuntu)"
**Bug**
When using Azure CLI for AZ acr command giving following error
" Script failed with error: Error: Failed which: Not found azure: null"

**Task Name**: Azure CLI

## Environment
- Server - Azure DevOps using self hosted Agent running in Azure VM
Azure Devops Account Name : https://dev.azure.com/HdproServices
Project Name : One Process Inventory
Build Name : AKS_PL
Build Number : 20190425.49

[2019-04-26 00:01] salvmd commented on #10064
@elbatk FYI for triage

[2019-04-26 02:56] zjrunner commented on #10222
Tracked in AZDEVOPS #1486640

[2019-04-26 04:24] karanjitsingh commented on #9865
@chrisdeely, the cobertura file should be uploaded as build artifact, you can download the artifacts from the build timeline.

[2019-04-26 05:01] SvenAelterman opened #10233 "Support variables, such as $(Date:yyyyMMdd) and $(Rev:rr) in GitHub Release Title"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: GitHubRelease

## Environment
Azure Pipelines
Hosted VS 2017

## Issue Description

The GitHubRelease task does not appear to support using variables to name the release on GitHub. For example, I'd like to name my release "Product Release 20190426.2" using the release title value "Product Release $(Date:y

[2019-04-26 05:50] ceteongvanness opened #10236 "Error: The process 'C:\Program Files\dotnet\dotnet.exe' failed with exit code 1"
I get the issue that mention" ##[error]Error: The process 'C:\Program Files\dotnet\dotnet.exe' failed with exit code 1" after I enabling the Continuous Integration with Azure Pipelines

After that it showing "##[section]Finishing: Restore"

current .NET Core version is 2.1.503

How can I solve this issue?

[](https://github.com/ceteongvanness/eventdemo/blob/master/P1.png)

Here is the log
2019-04-

[2019-04-26 07:12] arek-avanade commented on #10197
@fadnavistanmay In the first case I chose 2 artifacts in the DevOps UI: IPA and dSYM. Here's how it looks like:
![Screenshot 2019-04-26 at 09 09 00](https://user-images.githubusercontent.com/35216537/56789762-02a3f180-6803-11e9-9207-90ee76a4ee7b.png)
I haven't provided any match patterns myself, but each artifact is downloaded individually in the pipeline and it uses the pattern [IPA/**,dSYM/**].

[2019-04-26 07:13] nickwhyte commented on #9893
I was able to solve this by enabling Zipalign in the Android signing task. I don't know why this worked for my build, but it fixed the splash screen freeze and the app seems to run well.

[2019-04-26 07:50] psulek commented on #6657
Man this helps me a lot!

[2019-04-26 08:05] anuragc617 commented on #9981
@PedroC88 Did you get the chance to test  the workaround?

[2019-04-26 09:39] nesherhh opened #10240 "DockerCompose build-arg"
How do I pass build-arg in DockerCompose Task?

[2019-04-26 10:02] anuragc617 commented on #9608
Closing this as the fix has been rolled out in  V1 version of .Net core installer task.

[2019-04-26 10:02] #9608 closed

[2019-04-26 12:04] PedroC88 commented on #9981
I tried yesterday the 25th, but it gave me an error about Azure CLI not being installed. I didn't have the time to look into it but will do so early next week.

[2019-04-26 13:19] chrisdeely commented on #9865
Thanks, @karanjitsingh , I was able to download the coverage file and found that it was in fact empty. I have confirmed that the build steps work properly when run locally, so I'm thinking this is more of an issue with settings in my Azure Pipeline than this task itself.

My guess is a bad path somewhere, but the tests themselves run perfectly and produce detailed reports.
Any hints would be very

[2019-04-26 13:47] madhurig commented on #9893
@nickwhyte - thanks for sharing your solution. @draconastar - can you check if this works for you please?

[2019-04-26 14:03] yaananth commented on #10108
Thanks for sending me the log offline.
Here are the colors we support:
fg colors - 30 (black), 31 (red), 32 (green), 33 (yellow), 34 (blue), 35 (magenta), 36 (cyan), 37 (white), 90 (grey)
bg colors - 40 (black), 41 (red), 42 (green), 43 (yellow), 44 (blue), 45 (magenta), 46 (cyan), 47 (white)

It’s using ESC[94m …. ESC[39m
Which isn’t in our range for support.

We will add that, thanks for the rep

[2019-04-26 14:03] #10108 closed

[2019-04-26 18:49] salvmd commented on #9933
Apologies for the inconvenience. The PipAuthenticate task only supports authentication to Azure DevOps hosted feeds (called here "internal feeds"). Since Python packages are not supported at this time in Azure DevOps Server feeds, the task won't work in Azure DevOps Server, which is why it is throwing an error immediately after starting. Both the task description and the error message are not maki

[2019-04-26 18:49] #9933 closed

[2019-04-26 20:03] jbockle opened #10242 "lerna bootstrapping fails with npm task due to invalid registry url when using azure artifacts"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NPM

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:  ** omitted due to company policy **

- Agent - Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version:  ** windows serve

[2019-04-27 03:21] shashankbarsin opened #10244 ""Cannot retrieve source tags..." from task "docker", when used in Release with "Azure Repos Git" artifact"
Opening this issue related to transfer over https://github.com/MicrosoftDocs/vsts-docs/issues/3597 from the docs repo as this issue relates to the task and not the docs.

**Issue description:**
In Azure DevOps I'm getting a message ##[warning]Cannot retrieve source tags because Build.Repository.Provider is not set. This message only appears when I select Include source tags.

I have no Build Pipel

[2019-04-28 16:47] prudx commented on #6445
I also am seeing this error

`Cannot prepare UI Test artifacts using command: C:\Users\dnlma\.nuget\packages\xamarin.uitest\2.2.4\tools\test-cloud.exe prepare "C:\Users\dnlma\Desktop\com.prudx.grocerymate.apk" --assembly-dir "C:\Users\dnlma\Documents\Code\Project\GroceryMateApp\Product Lookup\App-UITests\bin\Debug" --artifacts-dir "C:\Users\dnlma\AppData\Local\Temp\appcenter-upload119328-4024-3ypj

[2019-04-28 16:53] akash3456 opened #10246 "Why would i use an agentless job"
in the visual designer there is an option to use a agentless job why would i use this feature in what given context would be great please?

Thanks

[2019-04-28 17:01] narcis-pv commented on #7549
@bishal-pdMSFT, 5 months the docs are still not updated.

I’m having the same scenario, or similar as @Wachymax.

I build from multiple branches, e.g develop for latest, release branches for major versions, e.g v12, v13.
In our cluster we have multiple major versions in parallel. Basically each environment has an application instance named Dev,Qa,PreProd of a fixed appType but different app versio

[2019-04-28 17:15] nikhil2007rock opened #10247 "Azure DevOps - Not able to run an inline Powershell in "Azure App Service Deploy's" post deployment action"
I am looking to rename a file after deploying a package to the Azure Website. To do so, I understand that while deploying into an Azure Web app using the "Azure App Service Deploy" task, it has a Post Deployment action with which we can run an inline script that will execute on the app service itself - https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureRmWebAppDeploymentV4

[2019-04-28 22:38] bajmming commented on #10201
Related to and workaround here  https://developercommunity.visualstudio.com/comments/542128/view.html

[2019-04-28 22:38] bajmming commented on #10196
Related to and potential workaround here  https://developercommunity.visualstudio.com/comments/542128/view.html

[2019-04-29 03:43] vincentdass commented on #10035
@melborp , it is a feature request to Azure App Service. Can you please post your query [here](https://github.com/projectkudu/kudu/issues)?

[2019-04-29 03:43] #10035 closed

[2019-04-29 03:44] vincentdass commented on #10010
@NatMarchand , Apologies, the deployment is in progress and the fix should be available by this week.

[2019-04-29 04:34] vincentdass commented on #10247
@nikhil2007rock , thanks for reaching out.
I assume the deployment is done using `Run From Package` method. Can you verify if there is an app setting `WEBSITE_RUN_FROM_PACKAGE` set to value `1` for the web app?

If so, try changing the deployment mechanism to `Zip Deploy`
![image](https://user-images.githubusercontent.com/20121508/56876593-29ae2d80-6a66-11e9-8e89-cee170d364c1.png)

[2019-04-29 04:55] puagarwa commented on #9093
@MarkKharitonov Any Update on the issue, can i mark it as fixed ?

[2019-04-29 04:55] bishal-pdMSFT commented on #7549
@narcis-pv "Update service fabric manifest" task has the responsibility of ensuring that it bumps up application/services version which have changed. It is irrespective of where the package has been deployed to. Same package can be deployed in multiple clusters!
The task checks the file contents compared to previous version of artifact generated by build and bumps up the version if required.
On th

[2019-04-29 05:02] vincentdass commented on #10220
@CasperWSchmidt , thanks for reaching out.
For the feature request, I ll let @Lovakumar and @omeshp  to comment and track the feature request.

`Also, "Web Deploy" option is not automatically detected ("Zip Deploy" is used by default) when I select a folder and have "Select deployment method" unchecked. Perhaps this should be made into a seperate issue?`
This is by design.  Zip Deploy is the recom

[2019-04-29 05:12] nikhil2007rock commented on #10247
@vincentdass  : The `WEBSITE_RUN_FROM_PACKAGE` is set to `1`. Next, the "Select deployment method" was unchecked previously. I've changed it to explicitly use Zip deploy method and tried. I get the same error.

![image](https://user-images.githubusercontent.com/5222165/56877390-46992f80-6a6b-11e9-99d2-64533dfcaa72.png)

[2019-04-29 05:23] mionir commented on #6657
any news on this? i'm facing a similiar problem but with the "unlink" command instead of the "rename" command as described by the OP.

[2019-04-29 05:47] #8699 closed

[2019-04-29 05:52] #9865 closed

[2019-04-29 06:07] anuragc617 commented on #10223
On windows, you have to add "call" in the beginning of the az commands. Ex:- "call az ...", can you try this?

[2019-04-29 06:18] CasperWSchmidt commented on #10220
"This is by design. Zip Deploy is the recommended way by App Service team to deploy the web package."
It's fair to have a recommended way, but not finding a zip file in the folder should still fall back to web deploy instead doing nothing.
BTW. Any recommendations for doing zip deployment with the mentioned need for individual files in the release pipeline?

[2019-04-29 07:35] fncap commented on #3425
Any news on this issue?

[2019-04-29 08:11] RoopeshNair commented on #8380
Here is a bit more context on this. https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#which-settings-are-swapped

------------------snip---------------
When you clone configuration from another deployment slot, the cloned configuration is editable. Furthermore, some configuration elements follow the content across a swap (not slot specific) while other configuration elements

[2019-04-29 08:11] #8380 closed

[2019-04-29 08:17] vincentdass commented on #10220
@CasperWSchmidt , if a folder is provided, it is compressed to a zip file and then deployed using `zip deploy`.
For deploying only the required files, I could think of using a `copy file(s)` task to copy the artifact (with filters to eliminate MD files) and then publish that as an artifact. or use a `cmd` task to scrub all MD files from the artifact directory before publishing.

[2019-04-29 08:18] vincentdass commented on #10247
@nikhil2007rock , Can you use `xcopy` command to copy the file instead of PowerShell commandlet?

[2019-04-29 08:46] nikhil2007rock commented on #10247
@vincentdass, I tried to not use Powershell and so to serve my original purpose, I used the below command to rename the deployed file and still I get the same error. Actually, I would want to use the value saved in the library (key : AppURLForAppJS) associated to this release stage I am trying to deploy to.

`ren ".\config\config.js" "rm.js"`

[2019-04-29 08:50] vincentdass commented on #10247
@nikhil2007rock , Can you please share the release logs to `RM_CUSTOMER_QUERIES [at] Microsoft [dot] com`?

[2019-04-29 08:52] owenniblock commented on #6445
@prudx that's also a different error, please reach out to us using the support channels in the App Center portal and someone will help you.

I would also advise using the latest UITest nuget in case you've hit an issue which has already need resolved.

[2019-04-29 08:57] nikhil2007rock commented on #10247
@vincentdass : Sent! I've mentioned the issue ID in the subject.

[2019-04-29 09:12] narcis-pv commented on #7549
@bishal-pdMSFT, what about config version changes?

Since config values are dependent of the final environment, you cannot do this at build time, right?

Basically:
[code]

[2019-04-29 09:14] Ajay-MS commented on #10196
**Fix**
PR - https://github.com/Microsoft/azure-pipelines-tasks/pull/10248

[2019-04-29 09:48] omeshp commented on #10220
Since we are moving to pipeline based artifacts adding @mitchdenny for the ask of pattern based filtering in publish artifacts.

[2019-04-29 10:35] anuragc617 commented on #10232
@Srikanthshetty This task expects az to be installed on the agent machine. The error indicates that az is not present on the machine. Can you first install the Azure CLI on your machine and try again?

[2019-04-29 11:04] anuragc617 commented on #10213
@dagood We have rolled out the newer version of dotNetCore SDK Installer task i.e 2.*(preview). It uses https://github.com/dotnet/core/blob/master/release-notes/releases-index.json to get all the releases. You can use this task to install dotNetCore SDK. In this task, if you specify the version as 2.x it will install the latest version of the channel excluding preview versions, to include the prev

[2019-04-29 11:32] markdebruijne commented on #8380
@RoopeshNair No, it doesn't. According to https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#which-settings-are-swapped, the VNET Integration IS being swapped.

That being said, what does that _Preserve VNET_ checkbox do in addition to the VNET integration that is swapped along within a swap?

[2019-04-29 11:57] nikhil2007rock commented on #10247
@vincentdass , thanks for solving this for me. The problem was with the File transformation step.

[2019-04-29 12:08] sachinma commented on #5768
It should be working now. Please open again if that is not the case

[2019-04-29 12:08] #5768 closed

[2019-04-29 12:13] sachinma commented on #9545
@alexmullans can you look at this request?

[2019-04-29 12:14] vincentdass commented on #10247
@nikhil2007rock , glad to know you are unblocked :)

[2019-04-29 13:04] anuragc617 commented on #10236
@ceteongvanness The error suggests that the dotNet version on your agent is older. You can queue your build to VS2017 agent which supports net core csproj.

[2019-04-29 13:06] MarkKharitonov commented on #9093
I did not have the time to test it yet. Please, keep the issue open. I will try to find the time during this week.

[2019-04-29 13:12] anuragc617 commented on #5768
@rol-dave-overall The custom commands are supported in DotNetCoreCLI now. Closing this, feel free to open if you see any issue.

[2019-04-29 13:13] anuragc617 commented on #10213
Closing it, for now, feel free to open if you find any issue.

[2019-04-29 13:13] #10213 closed

[2019-04-29 13:14] anuragc617 commented on #8860
@pulkitaggarwl Can you please look into this enhancement ask.

[2019-04-29 13:17] anuragc617 commented on #8729
Closing this issue, as the extension has been added to marketplace.

[2019-04-29 13:17] #8729 closed

[2019-04-29 13:19] anuragc617 commented on #10232
Closing this issue, feel free to open if not resolved.

[2019-04-29 13:19] #10232 closed

[2019-04-29 13:22] anuragc617 commented on #10223
Closing this, feel free to open if you find any issue.

[2019-04-29 13:35] asranja commented on #10208
@RandomEngy We are unable to repro this. Can you please share the debug logs (set variable "system.debug" to "true" and redeploy) and share it with us at RM_Customer_Queries@microsoft.com over email.

[2019-04-29 13:40] vincentdass commented on #7799
@HemanthsGithub , Can you please help us reproduce the error?
You can share the logs to `RM_CUSTOMER_QUERIES [at] Microsoft [dot] com` privately.

[2019-04-29 14:40] Srikanthshetty commented on #10232
Hi Anurag, i installed azure cli in the hosted agent following is the Azure CLI version

azure-cli                         2.0.63

Still i am getting same error.

[2019-04-29 14:41] bishal-pdMSFT commented on #7549
@narcis-pv  You should not need to modify config files for each environment. You can directly override these config settings via application parameters in the release environment. See the "Override Application Parameters" input in the deploy task.
I will create separate issues to track doc change and for adding branch support in update manifest version task.

[2019-04-29 14:48] bishal-pdMSFT opened #10253 "[SF update manifest task] It should be possible to choose a branch while comparing version against previous build"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-04-29 14:52] bishal-pdMSFT opened #10254 "[Service fabric update manifest task] Update docs to mention this task can only run in a build"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-04-29 14:53] bishal-pdMSFT commented on #10254
#7549

[2019-04-29 15:07] anuragc617 commented on #10232
Can you run the task with system.debug=true and share the logs? Also, what is the command that you are running in Azure CLI task ?

[2019-04-29 15:18] narcis-pv commented on #7549
@bishal-pdMSFT, There aren’t any docs about how “Override Application Parameters works”. If checked it will replace param names with values from variables matching the same name?
I thought the purpose of versioning config was explicitly for this reason... Now i’m not sure what’s the purpose of SF config versioning anymore..

[2019-04-29 15:22] dagood commented on #10213
If so, that's a bug--that endpoint is out of date. It doesn't include 3.0 Preview 5. https://github.com/dotnet/announcements/issues/87

I don't have permissions to reopen.

[2019-04-29 15:41] giggio commented on #8259
@SudoBrendan suggestion makes sense. I am not sure if there should be a `Login` option, or if removing `--noprofile` should imply `--login`. What do you think?

[2019-04-29 15:55] Srikanthshetty commented on #10232
Hi Anurag ,

Restart Host agent server did resolve the issue.

[2019-04-29 16:34] No1e opened #10255 "Build Artifacts not available in Pipeline"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Download Build Artifact

## Environment
- Server - Azure DevOps Server 2019. Version: 17.143.28621.4
- Agent - Private: OS - Windows Server 2019 Standard, Agent Version: 2.144.2

## Issue Description
We have Build that is using Upload Build Artifacts Task to upload artifacts at the end of Build procedure, using the Default version: "

[2019-04-29 17:07] SudoBrendan commented on #8259
@giggio Even though the paths I outline above describe how the currently supported Task options for launching `/bin/bash` don't necessarily make sense, I think that making assumptions in the Task code (`--noprofile` implies `--login`) obfuscates what the Task will ultimately do and also restricts what the users will be capable of controlling (aside from a reasonable default, which I think the Task

[2019-04-29 18:10] giggio commented on #8259
This makes sense to me.

[2019-04-29 18:11] giggio commented on #8259
@damccorm should we open another issue for this, or do you think we should reopen this one?

[2019-04-29 18:30] dagood opened #10260 "DotNetCoreInstaller uses a deprecated releases.json and can't install .NET Core 3.0 Preview 4"
Reopening https://github.com/Microsoft/azure-pipelines-tasks/issues/10213:

[2019-04-29 18:31] dagood commented on #10213
Reopened as https://github.com/Microsoft/azure-pipelines-tasks/issues/10260.

[2019-04-29 20:21] Barsonax opened #10261 "New version of use dotnet breaks the build"
Use dotnet 2.0.2 is breaking my build:
https://dev.azure.com/Barsonax/Singularity/_build/results?buildId=160

It was working fine before with 2.0.0:
https://dev.azure.com/Barsonax/Singularity/_build/results?buildId=159

I suspect some paths were changed. You can see this if you go to line 26 of the NUKE build task. The NUKE build is still working fine locally.

[2019-04-29 21:14] narcis-pv commented on #10253
There is also another possible conflict of names when having the “download artifact” set to false.

The agent temp folder used and it is shared between build and release definitions.

I suggest the PkgArtifactName in temp folder should be composed of:

BuildDefinitionName_BranchName_ArtifactName.zip

Change would be in Get-VstsBuild.psm1 around line 70.

[2019-04-29 22:44] mozts2005 opened #10262 "Azure PowerShell Add Option to call Enable-AzureRmAlias before executing script"
When trying to migrate to using the new Azure PowerShell v 4 task. We are not able to update all scripts at this time.  We would like to have Azure Powershell task to have the Option to call Enable-AzureRmAlias.

[code]

We have tried to enable this option on a private build agent, but at this time the user profile is not loaded when running the Azure PowerShell task.

Our project has some 300 Pow

[2019-04-29 23:27] jkewley opened #10263 "Azure Powershell - support AZ CLI without having to pass credentials for az login"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Azure Powershell

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

I am using the Powershell task to build out large server environments based on parameterized source files. I chose Powershell to do the heavy lifting of building out hashtables containing server and environmental names which follow

[2019-04-30 01:06] emichang opened #10264 "Exception in PublishSymbols (Exception calling "Filter" with "3" argument(s): "Value cannot be null)"
I am trying to use the publish symbols task. The following is my task configuration:

[code]
I keep getting the error Exception calling "Filter" with "3" argument(s): "Value cannot be null.

I have pasted the debug output below. What am I missing to get this task working?

[code]

[2019-04-30 01:20] benbuzbee commented on #6840
We have 5000 lines of output in a build that succeeds completely, but that prints this error and marks the build as failed. It is impossible to figure out which of the 5000 lines was written to stderr. This is not a usable feature without a way to distinguish stderr output from stdout output.

If the UI could just color stderr output red, or call it out separately, or write it to a stdout.log file

[2019-04-30 04:44] anuragc617 commented on #9587
From the error, it seems like that the task is not able to get the issuer certificates on your machine when it tries to fetch the channel for the specified dotNet version. I think you can re-try by installing the issuer certificates on your machine.

[2019-04-30 05:01] anuragc617 commented on #10224
Hi @maniSbindra, this is expected behavior as per the design of the task. For special characters, the user has to escape them by using the escape character('\). We can't do much here.

[2019-04-30 05:01] #10224 closed

[2019-04-30 05:03] bishal-pdMSFT commented on #7549
Yes, it will replace param value with the value of the variable with same name.

This override mechanism is an additional mechanism providers by Azure DevOps so that you can manage configs from release directly instead of updating config files. This way you can deploy same package to multiple environments with different config.
You can still choose to ignore this feature and manage your configs by

[2019-04-30 05:52] #5025 closed

[2019-04-30 05:52] #5011 closed

[2019-04-30 05:52] #4738 closed

[2019-04-30 05:53] #4130 closed

[2019-04-30 06:26] anuragc617 commented on #10260
@dagood According to  [dotnet/announcements#87](https://github.com/dotnet/announcements/issues/87) release-notes/releases.json and release-notes/releases.csv are deprecated and the new format uses release-index.json. We are using release-index.json to get the releases as mentioned in my comment. So we are pointing to the correct releases file.
Regarding 3.0.0 Preview5 not updated in releases-index

[2019-04-30 06:39] #10196 closed

[2019-04-30 07:42] Ajay-MS commented on #10195
@nikbhadane

I have tried out task with following regex for the path
[code]
or
[code]

I have following observations:
#### Single file matching regex present at the provided location
Task runs successfully.

#### Multiple file matching regex present at the provided location
Then task fails with following error:
[code]

#### No file matching regex present at the provided location
[code]

Can you pl

[2019-04-30 07:52] omeshp commented on #9781
@fran-hermida Were you able to figure out if the difference in schemes was due to server configuration? Other thing you can try to unblock yourself is to configure the agent using https url.

We will look at supporting different schemes at root and item level, but since yours is onprem setup it won't reach you soon.

[2019-04-30 08:35] JonathanNEMRY commented on #7339
@brcrista and @madhurig  sorry for the delay, I just setup a new project with ssh agent and the error is still there I launched a run with debug and can provide you this:
![image](https://user-images.githubusercontent.com/7601731/56949522-70b62480-6b33-11e9-849e-a637669350b5.png)
So we clearly see that null passphrase still problematic...when could you provide a fix for this one? many thanks in ad

[2019-04-30 08:36] JonathanNEMRY opened #10266 "Error ssh agent connection without passphrase"
follow this one https://github.com/Microsoft/azure-pipelines-tasks/issues/7339

[2019-04-30 08:53] anuragc617 commented on #10261
Hi @Barsonax, we have updated the path where we install the dotNet to support some features, we are also updating the system PATH environment variable. But we would really want to understand how it is impacting your build, what dependency the NUKE build task has on the dotNet PATH. Ideally, you should not have any dependency on the dotNet installation path. If you really looking for a workaround,

[2019-04-30 09:12] Barsonax commented on #10261
Thanks for the workaround. Iam gonna test it.

Indeed if tooling is not supposed to depend on the path ike that it might be a bug in NUKE.

[2019-04-30 09:19] anuragc617 commented on #10261
@Barsonax The name of the task to use is "DotNetCoreInstallerV0".

[2019-04-30 09:42] anuragc617 commented on #10147
Hi @UnoSD, this is expected behavior as per the design of the task. For special characters, the user has to escape them by using the escape character ('\').  For example, if you want to pass a value 'hello " world', then you should pass it like "hello \" world".  There is not much we can do here.

[2019-04-30 09:45] Ajay-MS commented on #9710
@hdinizribeiro

Did you get chance to tryout above mentioned suggestion.

[2019-04-30 09:45] Barsonax commented on #10261
Seems to fix it: https://dev.azure.com/Barsonax/Singularity/_build/results?buildId=174

[2019-04-30 09:51] SaikatCool commented on #2856
@leantk did you find a solution to this problem??

@nigurr I am the same problem, could you please support??

[2019-04-30 09:52] UnoSD commented on #10147
Hi @anuragc617,

did you mean: "hello \" world"?

In this case then, should I raise an issue for the Key Vault task to escape the `\` character?

Although I do not know what impact this would have as the password would now passed correctly escaped and my guess is that it would then duplicate the \ unless a change in DevOps un-escapes then the output of the variable.

Fetching a password from Key V

[2019-04-30 10:06] anuragc617 commented on #10261
@Barsonax Thanks for confirming. I was thinking more about it, it may not be the issue with the Nuke build. Perhaps, Nuke build would also require an older version of dotNet Core. Can you please try the latest task "UseDotNetV2" with input "performMultiLevelLookup=true"? That should also work.

[2019-04-30 10:40] sachinma commented on #9999
@TehWardy apologies for the delay in replying to this issue. The VS option to configure the Azure DevOps Pipelines is best suited for a single project. Glad that you were able to fix the build to get it working. From what I understand, now the deployment is also successful - but the web app is still not up.

Can you check your build process to see that out of the 3 applications in your source code

[2019-04-30 10:58] SaikatCool opened #10271 "jacoco code coverage is not calculated"
I have a gradle project for which I have selected jacoco for code coverage calculation.

Running the build in my local environment works absolutely fine.

When running the build in Azure pipeline (custom agent), code coverage is not calculated.

Please find my pipeline logs attached.
[logs_9635.zip](https://github.com/Microsoft/azure-pipelines-tasks/files/3130906/logs_9635.zip)
[loga.txt](https://

[2019-04-30 11:34] bishal-pdMSFT commented on #10221
@maniSbindra this failure seems to be coming from Packer itself

How are you adding this property `build_resource_group_name` to builder? Are you trying a user-defined packer template or have you modified task to add this property to builtin templates? If using custom template can you please check that it does not have windows line ending as your task seems to be running on Linux agent.

[2019-04-30 11:36] bishal-pdMSFT commented on #10221
If possible can you please share your custom template if you are using one

[2019-04-30 11:36] TehWardy commented on #9999
Sorry if this feels long / like a rant, it's really not, I just want you to experience the headache's I've had to endure a little so you can see why I'm here.
I've been a C# developer since the beta version of .Net that I had to download and compile myself so i'm about as invested as a developer gets here.

I'm manually deploying apps by using ftp pushes at the moment from VS ... it seems like som

[2019-04-30 12:06] maniSbindra commented on #10223
Thanks. Since the behaviour differs on the windows agent as compared to the Ubuntu agent can this be added to tooltip.

[2019-04-30 12:08] maniSbindra commented on #10224
Thanks. However this works fine on Ubuntu Agent. Since the behaviour differs on the windows agent as compared to the Ubuntu agent can this be added to tooltip.

[2019-04-30 12:09] maniSbindra commented on #10221
Sure will do that

[2019-04-30 12:11] JohannesDrexler commented on #10236
It seems the installed dotnet-version is too old. Add a ".NET Core SDK Installer"-task at the start of your definition and specify the version you are using in development.

Also it might be usefull to know which agent you use. only logs is not enough information. There is a reason an issue-template is configured for this repository

[2019-04-30 12:13] nigurr commented on #2856
@SaikatCool this should have been fixed now. We have rolled out fix already. Can you share your DevOps Account?

[2019-04-30 12:18] SaikatCool commented on #2856
How do u want me to share my account? Actually it is a corporate account.
I have created a new issue anyway:
https://github.com/Microsoft/azure-pipelines-tasks/issues/10271

Let me know if you anything else.

[2019-04-30 12:28] sachinma commented on #10223
@maniSbindra this looks like a good suggestion. Reopening the issue to track it

[2019-04-30 13:02] maniSbindra commented on #10221
Sample Packer Template : https://gist.github.com/maniSbindra/6b801b1494a91d8ab7ec50aebac96ae3

[2019-04-30 13:50] BoNzO commented on #8322
Alla faccia 'ro cazz!

[2019-04-30 14:41] dagood commented on #10260
Ah, thanks for the extra info, I messed this up pretty bad. 😄 I didn't realize the URL you linked was different and messed up the preview # as well. Closing, thanks again.

[2019-04-30 14:41] #10260 closed

[2019-04-30 15:43] joshmgross commented on #7339
Re-opening this issue

[2019-04-30 15:44] joshmgross commented on #10266
@JonathanNEMRY I've reopened #7339 since it has all the context of the full issue. Closing this one

[2019-04-30 15:44] #10266 closed

[2019-04-30 15:51] joshmgross commented on #10246
@akash3456 This page might give some information: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/server-phases?view=azure-devops&tabs=yaml

[2019-04-30 16:33] LeeFramp opened #10273 "Azure Powershell v4 - limited to v1.0.0 only?"
I'm trying to use the below az.sql cmdlet in my Azure Powershell v4 task:
Get-AzSqlDatabaseBackupShortTermRetentionPolicy

The task fails because the cmdlet is not available:
"The term 'Get-AzSqlDatabaseBackupShortTermRetentionPolicy' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the pat

[2019-04-30 16:41] pulkitaggarwl commented on #9999
Thank you for a detailed description and apologies for the issues you are facing. We are constantly working hard to help ease the life of customers such as you to get their application deployed successfully. We are making investments both in documentation as well as product to do the same.
As an example we are documenting End to End CI/CD scenarios like this [one](https://docs.microsoft.com/en-us/

[2019-04-30 16:51] dazinator commented on #8073
No news on this?

[2019-04-30 17:17] dazinator opened #10274 "Azure Devops - Key Vault task - Specified service connection needs to have x y z"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure Key Vault

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure Pipelines

    - If using Azure Pipe

[2019-04-30 18:23] Barsonax commented on #10261
Jup that works as well: https://dev.azure.com/Barsonax/Singularity/_build/results?buildId=176

[2019-05-01 04:44] shashban commented on #9627
@hansmbakker are you still blocked on this? Task groups is the way to go for this. Think of them as sub-templates with steps only.

[2019-05-01 08:01] dazinator commented on #8073
- I'm using the task from Azure Devops, and hit #10274

[2019-05-01 08:31] TehWardy commented on #9999
If I were in your position I would be looking to have an MSBuild / VS Build activity be able to be pointed at a project / solution and be able to build it using VS on the build server no matterwhat projects it contained.

Following that I also wrote a simple deployment exe that uses MSDeploy to push any compiled result (when the build command uses packaging options to construct zip packages).

Thi

[2019-05-01 09:47] dazinator commented on #10274
Ah so I found the generated powershell scrip that the task was mentioning, in devops:
I needed to click on "Download all logs":

![image](https://user-images.githubusercontent.com/3176632/57012439-6dd43600-6bfe-11e9-8792-4dd0cc92f005.png)

Then the file is:

![image](https://user-images.githubusercontent.com/3176632/57012455-893f4100-6bfe-11e9-8da7-3c9ebcd6c877.png)

I'll try running that powershe

[2019-05-01 09:50] dazinator commented on #10274
Yep.. running that powershell script fixed it. It would be good if someone can clarify why this is necessary though  - given the previous powershell script that was run I thought the service connection used should have full access required..?

[2019-05-01 09:54] CesarD commented on #8489
Same here for me, but when trying to copy files over ssh to Godaddy (I have everything correctly setup in Godaddy as I can SSH from putty on my laptop and even from my phone).

[2019-05-01 11:26] centreboard opened #10279 "Copy Files enumerates all sub directories"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Copy Files

## Environment
- Server - Azure Pipelines or TFS on-premises?
    TFS 16.131.28601.4

## Issue Description

Copy Files V2 unnecessarily enumerates all sub directories, when the pattern match can only match files, causing a big performance hit with lot of sub directories (e.g. node_modules)

I have

[2019-05-01 12:52] toutougabi opened #10280 "AzurePowerShellV4 Cannot read property 'retrieveSecret' of undefined"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShellV4 version 4.0.5

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
Account : vt-dev
Project Name : visionintel
Build Number: 20190501.22

- Agent - Hosted or Private:

    - Hosted Ubuntu

## I

[2019-05-01 15:59] anuragc617 commented on #10261
Thanks @Barsonax for trying the second solution as well, closing it.

[2019-05-01 15:59] #10261 closed

[2019-05-01 16:11] anuragc617 commented on #10147
@UnoSD yes I meant: `"hello \" world"`.
No, you shouldn't raise this issue to Key Vault task,  also there should be no restrictions of characters in the password. We expect this kind of parsing failure because of the current design of the task. Therefore, we are not failing on parsing errors instead we are ignoring such failures and letting the task to pass.

[2019-05-01 19:02] hansmbakker commented on #9627
@shashban and @bishal-pdMSFT after trying more it works for me now. I'll close the issue. Thank you for the support!

[2019-05-01 19:02] #9627 closed

[2019-05-01 19:58] brminnick opened #10281 "[App Center Test Task, Xamarin.UITest] Auto-Detect Test Tools Directory"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**:
[AppCenterTestV1](https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/AppCenterTestV1)

## Issue Description

For Xamarin.UITest, the current App Center Test task, requires the `Test tools director

[2019-05-01 20:04] bfbatch opened #10282 "Error: Error Code: ERROR_DESTINATION_INVALID when deploying to agent in an internal ASE"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-05-01 21:20] Tadimsky commented on #7585
All working now - thanks!

[2019-05-01 23:21] shenhong1000 opened #10285 "customer logger does not work with Visual Studio Task"
I can execute below runner with runsettings containing customer logger without any issue. However when configuring in Visual Stuido Task (VS 2017), I think the logger dll is discovered/loaded properly (since It will throw "not found xxx..." if I don't drop the logger dll), however it does not executed after test execution completed.

"C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\

[2019-05-02 03:01] ceteongvanness commented on #10236
``
##[section]Starting: Test
==============================================================================
Task         : .NET Core
Description  : Build, test, package, or publish a dotnet application, or run a custom dotnet command. For package commands, supports NuGet.org and authenticated feeds like Package Management and MyGet.
Version      : 2.150.1
Author       : Microsoft Corporation
Help

[2019-05-02 04:39] anton-dealmeida commented on #9530
Hi there @vincentdass, was this ever resolved?

[2019-05-02 04:59] CHEEKATLAPRADEEP-MSFT commented on #10096
@bergmeister && @kmkumaran && @chperich Any update on this issue?

[2019-05-02 05:36] hieuhlc opened #10289 "InstallSSHKey - "Permission denied (publickey)" after successfully installed ssh key"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: InstallSSHKey@0

## Environment
- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name: `Hosted Ubuntu 1604`

## Issue Description

After successfully installed ssh key, executing script to

[2019-05-02 05:52] sahaassa commented on #6919
We are also getting this error when the build try to rerun failed tests, what is the solution?

[2019-05-02 06:24] 20shivangi commented on #10273
@LeeFramp Are you using hosted agent or private agent to run the task?

[2019-05-02 06:25] 20shivangi commented on #10262
@mozts2005 We are fixing this issue. Once fixed, we will let you know.

[2019-05-02 06:33] karanjitsingh commented on #10271
@SaikatCool, could you download the coverage artifact that's uploaded and see if valid information persists there?

[2019-05-02 06:49] mrptsai commented on #9201
Vote from me also to be able to run Core like the Standard PowerShell Task where you and check a box to Use PowerShell Core

[2019-05-02 06:56] SaikatCool commented on #10271
Hello @karanjitsingh
Please find the coverage artifact from pipeline and also the coverage results from my local pc build.
It seems, in pipeline, coverage is not calculated at all because results are empty. Please check the logs which I attached earlier.
I am using a corporate Azure devops account so we can even have a remote session (if it is possible from you end).

[Code Coverage FromPipeline.z

[2019-05-02 07:16] LeeFramp commented on #10273
I'm using hosted agent and have tried VS2017 and VS2019 versions.

[2019-05-02 07:24] karanjitsingh commented on #10271
@SaikatCool, since coverage information is empty, as far as publishing code coverage is concerned, things are working fine. You will have to see your pipeline and build/test system to see where things are going on. Try to replicate the pipeline steps locally and check why coverage isn't being produced. Also check to see if tests are actually being run or not.

[2019-05-02 07:28] SaikatCool commented on #10271
@karanjitsingh as the issue title says "jacoco code coverage is not calculated" - so I am not focusing on publish here.
I have selected deafult gradle task in the pipeline and selected "Jacoco" for code coverage calculation, please find the pipeline task in yml:
steps:
- task: Gradle@2
  displayName: 'gradlew prepareApplication'
  inputs:
    gradleWrapperFile: Analytics.Infrastructure/gradlew.bat

[2019-05-02 07:41] karanjitsingh commented on #10271
@SaikatCool can you run this locally, Analytics.Infrastructure/gradlew.bat and see what the results are

[2019-05-02 07:47] SaikatCool commented on #10271
@karanjitsingh ,
The "local" files which I shared are the results after executing the task "gradlew jacocoTestReport".
Do you need the logs as well? The pipeline logs are shared in the issue opener post.

[2019-05-02 07:50] SaikatCool commented on #10271
Here is my build.gradle:

import java.nio.file.Files

/*
 * This build file was generated by the Gradle 'init' task.
 *
 * This generated file contains a sample Java Library project to get you started.
 * For more details take a look at the Java Libraries chapter in the Gradle
 * user guide available at https://docs.gradle.org/4.3/userguide/java_library_plugin.html
 */

buildscript() {

    ext {

[2019-05-02 08:35] karanjitsingh commented on #10271
@SaikatCool sorry for the confusion looking at the logs again, it seems the src / built files are not found while generating the coverage report.

![image](https://user-images.githubusercontent.com/4632805/57064220-4a36eb80-6ce3-11e9-9e4e-99d379d4940c.png)

[2019-05-02 08:43] SaikatCool commented on #10271
@karanjitsingh I have seen this error already in the log.
But compiled java files are available in the proper location in the build PC.

[2019-05-02 09:37] jfalameda opened #10293 "Unable to build windows generated service fabric on linux"
Hi,

I ported a windows generated service fabric cluster into linux. I basically changed all the targets to linux-x64 and I also created a install and build and restore scripts (imitating how the yeoman scripts do it) to build and deploy my service using sfctl.

I tried to compile the project using the out of the box build SF linux pipeline in DevOPs. But I keep getting this error.

[code]

I woud

[2019-05-02 10:18] karanjitsingh commented on #10271
@SaikatCool, one thing you can try is that instead of setting `codeCoverageToolOption: JaCoCo` in the gradle task, write explicit code in your gradle script to generate code coverage and publish using the publish code coverage task.

[2019-05-02 10:41] chperich commented on #10096
@Saugat168: VSTS masks out all the secret values from logs. That is the reason you see "***" when you print the secret value instead of its original content. You can still use the secret value though. That is, if you pass it as an input to any command expecting a SASToken, you should see the command succeeding.

[2019-05-02 10:46] vincentdass commented on #9530
@anton-dealmeida , the issue is reoslved.

[2019-05-02 12:00] BotellaA opened #10294 "GithubRelease@0: Endpoint auth data not present"
I would like to use the task `GithubRelease@0` on Azure Pipelines, Hosted Ubuntu 1604. I created a Github connection using the Azure UI. I got this error: `Error: Invalid GitHub service endpoint`.

Here is my yml and debug log:
[code]

[code]
Link: https://dev.azure.com/GeodeSolutions/Geode/_build/results?buildId=183&view=logs&jobId=8ddd0bd4-8e24-5c83-a24c-dc6a31dfd012&taskId=21e303b6-5826-5bb1-89

[2019-05-02 12:06] timfish opened #10295 "NodeTool does not work on ARM"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NodeTool

## Environment
- Server - Azure Pipelines
- Agent - Private - Raspberry Pi 3b+

## Issue Description
[code]

This is because `os.arch()` equals `arm` but valid downloads are one of `linux-arm64, linux-armv6l, linux-armv7l`.

[2019-05-02 12:37] asranja commented on #10280
We have hotfixed the issue in the version 4.0.6 of the task. Please redeploy your release to get the updated version of task.

[2019-05-02 12:42] FrankTheTank9 commented on #10280
I confirm my new builds use 4.0.6 and this has fixed the issue.

Thanks

[2019-05-02 13:19] omeshp commented on #10255
#10297

[2019-05-02 13:20] omeshp commented on #9983
#10297

[2019-05-02 14:07] SaikatCool commented on #10271
@karanjitsingh Thanks it worked.
But I wonder why the default code coverage calculation in the gradle task is not working??
Any idea what could be wrong??

[2019-05-02 14:14] bfbatch commented on #10282
I just had a working session with one of our developers and this was due to ASP.CORE dependencies. It's hard to believe this is true, but I was able to deploy once this section was removed.

[2019-05-02 14:14] #10282 closed

[2019-05-02 14:29] zamzowd commented on #10280
@asranja Could I ask what the fix for this was?  I'm getting the same logged failure on my new custom task.

[2019-05-02 14:30] Rzpeg commented on #10197
We are hitting the same issue.
Is there any ETA for fix ?

[2019-05-02 15:17] mchelen commented on #9505
Does setting `system.debug = true` in the build have any affect on this?

[2019-05-02 15:26] PedroC88 commented on #9981
Hi, I tried the workaround but it doesn't seem to work for me (unless I'm missing something). To be able to use de Azure CLI task it seems that the agent running the task must have Azure CLI installed, however this agent is a hosted agent who's job is precisely to turn/on (and off at the end) the virtual machine that does the actual build.

Is there a way to use the Azure CLI task on a hosted agen

[2019-05-02 15:58] SadagopanRajaram commented on #6877
Based on the comment from user ,the issue seems to be resolved. Closing the issue

[2019-05-02 15:58] #6877 closed

[2019-05-02 17:19] anuragc617 commented on #10221
Hi @maniSbindra, I have tested the packer build task with the custom template provided by you with service principal scope to the build_resource_group. For me, it worked fine, I am not able to reproduce this. Also, the error `**Build 'azure-arm' errored: unexpected EOF**` is not thrown by our task, it's a Packer error. Can you please retry and verify that you are able to reproduce it or not?

[2019-05-02 17:25] anton-dealmeida commented on #9530
Awesome, but how?

So does that mean using the web deploy task for container's will trigger an
image pull when the release happens?

On Thursday, May 2, 2019, Vincent A (vinca) <notifications@github.com>
wrote:

--
[image: Responsive]
------------------------------
Anton De Almeida | Developer
3 Woodlands Rd, Woodstock, 7925, Cape Town
T: (+27) 21 201 1180 <+27212011180>
E: anton@responsive.co.za

[2019-05-02 17:45] anuragc617 commented on #10236
@ceteongvanness This error generally comes when the "dotNet Core test" task doesn't find the tests csproj. The path of the test csproj in the task is `**/*[Tt]ests/*.csproj`, if that doesn't match the path of your tests csproj then it gives warning. So if you have tests csproj, make sure that matches the given path or if you don't have the tests then remove the "dotNet Core test" task from the bui

[2019-05-02 17:57] UnoSD commented on #10147
OK, thanks for the explanation. Would still be nice to remove the warnings, but I appreciate the effort may not be worth it.

[2019-05-02 18:13] NickBenthem commented on #2147
The parameters (especially System.PullRequest.TargetBranch) related to a pull request build validation step disappear when you try to kick off a failed build from a pull request validation step.

This is confusing since to create a "build validation" step, you can't use the re-queue button in the upper right of the failed build.

[2019-05-02 18:26] MarkKharitonov commented on #9093
I tested and it works with the new agent.
Thank you.

[2019-05-02 20:23] madhurig commented on #9984
Thanks for reporting the issue and providing your solutions. We are closing this issue since it is resolved. We are looking into better ways to providing this integration with CocoaPods and signing as a future enhancement.

[2019-05-02 20:23] #9984 closed

[2019-05-02 20:58] satbai opened #10301 "NuGet pack task doesn't include dependencies when using PackageReference"
Repro steps:
1. Create a project that references other NuGet packages using [PackageReference](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files) in the project file.
2. Use the v2.* NuGet task pack command to pack the project.
3. Add a NuGet push task to push the package to a feed.
4. View the pushed package in the feed. You should be able to see the refe

[2019-05-03 00:06] fadnavistanmay commented on #10197
@Rzpeg , sorry for the delay, we are looking into the issue. @omeshp - Could you help here please. Looks like, when the user is selecting a particular artifact to download in RM, the itemPattern (minimatch ) is being set a <artifactName>/** for each artifact, instead of just **. This scenario works in build pipelines (multidownload). Are we adding artifactName to the minimatchPattern in RM?

[2019-05-03 02:55] staff0rd commented on #10001
Confirmed I get the same result with headless mode.

[2019-05-03 03:29] ceteongvanness opened #10302 "iOS - Error: /usr/bin/xcodebuild failed with return code: 65"
[code]
[code]
Hi All,

I currently fail with the Error return code: 65 by using Azure DevOps with current Agent Pools MacOS High Sierra,
but don't know what is the issue and to solve it.

Hope can get helping hand from here.

[2019-05-03 03:47] kmkumaran commented on #10280
#10291 #10292 - Fixes for the issue.
@zamzowd  - the issue starting showing up as we moved to new version of tasklib. We have reverted it for now.

[2019-05-03 03:47] #10280 closed

[2019-05-03 03:48] 20shivangi commented on #10273
version 1.6.0 is being rolled out. It will take two to three weeks to deployed.

[2019-05-03 03:53] #10273 closed

[2019-05-03 04:26] SadagopanRajaram commented on #7173
https://github.com/MicrosoftDocs/vsts-docs/issues/3992 has the required urls to whitelist for publish test results task to work.
Please add "https://{organization_name}.vstmr.visualstudio.com"

[2019-05-03 04:26] #7173 closed

[2019-05-03 04:57] hiyadav commented on #9064
We have used the new version of tool lib in new task 2.*.
@gthvidsten can you use the new 2.* version of the task, hope it works for you. Let us know the status.

[2019-05-03 05:28] omeshp commented on #10197
@fadnavistanmay Yes, we are adding the artifactname to item patterns at injection time. But I don't see why that should break the download if task is handling the patterns correctly.

[2019-05-03 06:07] SadagopanRajaram commented on #9093
Closing the issue based on @MarkKharitonov response above.

[2019-05-03 06:07] #9093 closed

[2019-05-03 06:21] SadagopanRajaram commented on #7699
@pondelknimojdan - I assume you are fine with upgrading to the new agent for resolving this issue and I am closing it. Let me know if otherwise.

[2019-05-03 06:21] #7699 closed

[2019-05-03 06:42] JonathanNEMRY commented on #7339
Hello, any news about this issue? 😄

[2019-05-03 07:09] #9710 closed

[2019-05-03 07:12] SadagopanRajaram commented on #5314
We have fixed this by aborting the run if the pipeline (build or release) has been cancelled in the latest release of [Azure DevOps Server](https://docs.microsoft.com/en-us/azure/devops/server/release-notes/azuredevops2019?view=azure-devops). This is also available if you are using Azure Devops Services. I am closing this issue but please do let us know if you need any clarification.

[2019-05-03 07:12] #5314 closed

[2019-05-03 07:51] Sudharma commented on #10022
Hi, Any solution for this problem?

[2019-05-03 08:02] gthvidsten commented on #9064
@hiyadav I just tried the 2.x preview version and got the following error when trying to install 2.2.106:

[2019-05-03 08:14] anuragc617 commented on #10223
@maniSbindra The usage has already been explained in the task helpMarkDown. See image.
![image](https://user-images.githubusercontent.com/44864882/57125974-0a3a3c00-6da9-11e9-97b2-2e06f94c38c1.png)

[2019-05-03 08:18] maniSbindra commented on #10223
Thank you, this is good. I am closing the issue.

[2019-05-03 08:18] #10223 closed

[2019-05-03 08:44] puagarwa commented on #6919
@sahaassa can you give us information about the product and version you are using, because we have fixed this issue sometime back.
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting
Environment

    Server - VSTS or TFS on-premises?
    VSTS

        If using TFS on-premises, provide the version:

        If usi

[2019-05-03 09:03] puagarwa commented on #7658
@japj  are you still facing this issue, if yes can you please update your TFS server. we have fixed this issue in TFS 2018 U3 ?

[2019-05-03 09:51] arjgupta commented on #9146
Hey @bogdancucosel There is an input in the task that let's you specify the version of Azure PowerShell that should be imported by the task. Can you specify the version of azure powershell that you have installed on your machine in this input and then try running the task ? The version should be a proper semantic version <Major>.<Minor>.<Patch> i.e. 5.7.0 or 6.13.1 etc.

[2019-05-03 09:54] anuragc617 commented on #9981
Hi @PedroC88, on the hosted agent, Azure CLI task should have worked irrespective of the version. Which hosted agent are you using?
Regarding your issue, the issue is in the Azure VM side and we already have reported this issue to them.  But don't have control when the fix will roll out for this. Can you please report this to them on this [link](https://portal.azure.com/#blade/Microsoft_Azure_Supp

[2019-05-03 10:44] hiyadav commented on #9064
@gthvidsten this seems to be happening because of connection to the download server was ended for some reason.
This shall not be happening consistently, could you try once again ?

If it still happens, can you share debug logs by setting variable in build/release definition
Variable Name: system.debug
Variable Value: true

[2019-05-03 10:45] kmkumaran commented on #9530
@anton-dealmeida - #9819 is the fix done for this. The Web deploy task will now trigger an image pull.

[2019-05-03 10:58] anuragc617 commented on #5374
@alexmullans can you look at this request?

[2019-05-03 10:59] gthvidsten commented on #9064
@hiyadav I've run the build twice now without the error, so I guess you're right that it's an intermittent connection error. It fetched from the cache, so I tried changing to a previously unknown .NET Core version, and it downloaded successfully, so I guess this issue is fixed :)

When will it be released in a final version so that my build tasks don't have "preview" on them?

[2019-05-03 11:14] Burnsy2023 opened #10306 "Allow the names of Secure Files in the download step to be parameterised."
## Required Information
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Download Secure File
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/DownloadSecureFileV1

## Issue Description
A the moment, the secure file download step only allows you to select a file from a list when using the GUI to create a release pipeline. We have several files that we'd like

[2019-05-03 11:30] divais commented on #9310
@manu4rhyme I am assuming working with the team the data issue is resolved. Can you please share feedback on 'better option for test reporting?'

[2019-05-03 11:39] Rzpeg commented on #10197
@Rzpeg thanks for the followup.

[2019-05-03 12:14] Flavien commented on #10133
Did you find a solution to this?

[2019-05-03 16:32] fadnavistanmay commented on #10197
Hello @omeshp , basically, the minimatch pattern is going in as "<artifactname>/**" instead of "**" -> so the logic is searching for files that match "<artifactName>/**" instead of "**", hence it's failing. Could you please remove adding the artifactname logic in the injection.
Thanks,
Tanmay

[2019-05-03 16:53] rodyvansambeek commented on #2643
I had the same problem.
But changing the build definition to something like the following works:

[code]

It looks like the dotnet Core custom build task puts a dash between the dotnot executable and the custom command contains spaces. This seems like a bug.

Please reopen this issue.

[2019-05-03 18:08] xinofekuator opened #10309 "Using two value files in helm install"
In Azure Devops I am trying using the `Package and deploy Helm charts` task for performing a `helm install`
and override the default values.yaml with several yaml files seems not supported.

Right now only one file can be added in the `Value File` text box. However, help support passing several yaml files with options `-f` or `--values` as specified in the documentation https://helm.sh/docs/helm/#

[2019-05-03 19:14] coderlife14 commented on #10138
@bryanmacfarlane any updated on this?

[2019-05-04 04:01] maniSbindra commented on #10221
Hi @anuragc617  I am able to reproduce this, just tried using hosted agent as well as private agent. Please make sure that the service principal has access only to the resource groups specified in build_resource_group_name and resource_group. You are correct, I have tried locally using packer 1.2.4 and the same error is received.

[2019-05-04 04:50] maniSbindra commented on #10221
@anuragc617 I have now tried on my local machine with packer version 1.4.0 and packer does not throw an error with the exact same packer build command. So I think to fix this we may need upgrade of packer version used in the task

**Packer 1.2.4 output on local machine (ERROR)**
[code]

**Packer 1.4.0 output on local machine (SUCCESS)**
[code]

[2019-05-04 07:04] #10096 closed

[2019-05-04 07:10] chperich commented on #10096
@Saugat168: I have closed this issue as its not a bug. Please try to use the SAS token and see if it works for you. If you still run in to issues, feel free to re-open.

[2019-05-04 12:10] JnxF commented on #10133
Yes, the solution came by adding

[code]

[2019-05-04 23:08] CesarD commented on #8489
To add more information to this issue, I narrowed the error down to the SCPClient connection here: https://github.com/Microsoft/azure-pipelines-tasks/blob/08914a70defbdbe73b2bb87e8d0663bdbeb248e0/Tasks/CopyFilesOverSSHV0/sshhelper.ts#L46
Until the previous line, the task runs correctly, but here it errors out when connecting to GoDaddy. I'm debugging with a local agent. Is there any other way to d

[2019-05-05 08:29] leonidumanskiy opened #10312 "XCode@5 only passes teamId when signingOption = auto"
**Problem:**
Currently, XCode@5 task only passes teamId parameter only when signingOption is set to `auto`. This is incorrect and does not cover all use cases.

**Example use case:**
xcode project is generated (i.e. by Unity3d) and does have provisioning profile / teamId set. Provisioning profile can be set by doing "manual" signing. However passing provisioning profile without teamId would result

[2019-05-05 18:09] johnknoop opened #10314 "Make Azure Devops play nice with blue/green deployment"
I have a release pipeline consisting of two stages: Staging and Production. I also have an Azure App Service with two deployment slots, also called "staging" and "production".

All changes to the develop branch gets deployed to the "staging" slot of my Azure App service.

When I promote the release to the Production stage, it just performs a slot swap. However, the Azure Devops UI doesn't track th

[2019-05-06 05:06] anton-dealmeida commented on #9530
Incredible! Thank you @kmkumaran! My browser bugged out, didn't see the the piece on Mar 18 where this was closed.

Kind regards!

[2019-05-06 05:54] omeshp commented on #10197
@fadnavistanmay The issue here isn't adding artifactname at injection time, we do the same thing for server build artifact. The issue is how the pattern is handled in the download task. If a pattern like artifactname/** is sent to "Download Pipeline Artifacts" task it skips downloading all the files, on the other hand same pattern works with "Download Build Artifacts" task. Below are the snapshots

[2019-05-06 08:02] BotellaA commented on #10294
Any update? It seems to affect multiple users.

[2019-05-06 08:08] oleksabor opened #10316 "NuGetToolInstallerV1 uses unknown IP to download"
## Required Information

**Question, Bug, or Feature?**
*Type*: question

**Enter Task Name**: NuGetToolInstaller

## Environment

Azure Pipelines:
*account* quipu-cwnet
*team project* tools
*build definition* DirectClientDataSync
*build number* 20190506.1

Agent - Private:
* Windows Server 2012R2 version 6.3 build 9600
* agent: 2.150.3

## Issue Description

I'm using NuGetToolInstallerV1 to down

[2019-05-06 09:10] bogdancucosel commented on #9146
@arjgupta the version was 5.7.0

[2019-05-06 09:34] RoopeshNair commented on #10314
@johnknoop - yes, we are aware of this issue. We are planning to address this. As a first step, we are planning to introduce a first class notion of environments. As part of environments, we will enable tracking what is currently deployed and history of deployments from multiple pipelines on it. We also plan to make deployment strategies first class, so that we know what exactly is deployed to the

[2019-05-06 09:34] #10314 closed

[2019-05-06 11:16] ralucapredacegeka opened #10317 "VsTestV2: Running test using "Path to custom test adapters" returns "Could not find extensions: C:\SeleniumWebDrivers\ChromeDriver""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: VsTestV2

## Environment
- Server - Azure Pipelines
https://dev.azure.com/cegekadsa/DynamicsEmpire/_releaseProgress?_a=release-environment-logs&releaseId=9065&environmentId=24231
- Agent - Hosted VS2017

## Issue

[2019-05-06 12:27] arjgupta commented on #9146
Did you specify the version in the Input and then try to run the task ? I believe that should work correctly. Can you try this and let me know.

[2019-05-06 12:43] goodies4uall commented on #8793
https://developercommunity.visualstudio.com/content/problem/529341/buildsourcebranch-variable-in-release-pipeline-is.html

[2019-05-06 13:22] cltshivash commented on #10020
@victorguo Is there a reason to opt out of attachments upload ?

[2019-05-06 14:32] victorguo commented on #10020
@cltshivash Yes. Sometimes the attachments could be huge but our upload bandwidth is small. It takes a long time to upload and the attachments are not useful for us.

[2019-05-06 16:03] mayankbansal018 commented on #7520
Fixed with https://github.com/Microsoft/vstest/pull/1997, we have also released latest nuget package (16.0.2 preview) of test platform with above change, please upgrade to it.

[2019-05-06 17:51] anuragc617 commented on #10293
Hi @jfalameda, some of the tasks used in out of the box build SF pipeline are not supported on Linux, those tasks are supported only on windows as they are written in PowerShell. You can build your service by invoking your install, build and restore scripts from bash tasks like bash task, command line task.

[2019-05-06 18:44] fran-hermida commented on #9781
Thank you @omeshp, I wasn't able to test different TFS server configurations, since we don't have a test environment, only production environment.

I have already setup an https agent. Luckily, only one of our agents needs to use the Download Build Artifacts Task. The rest will remain http only and I will try to avoid using this task, as a workaround.

[2019-05-06 22:44] ohadschn opened #10319 "powershell.exe: Index was out of range. Must be non-negative and less than the size of the collection. Parameter name: index."
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: `PowerShellV2`

## Environment
- Server - Azure Pipelines
  - Account name: `msazure`
   - Team project name: `One`
   - Build definition name: `PSAF.Deployment`
   - Build: https://msazure.visualstudio.com/One/_build/results?buildId=21959637 (debug+diagnostics enabled)

- Agent - Private:
    - `Windows Serv

[2019-05-07 02:46] epvanhouten opened #10320 "Write-Host in referenced scripts does not get passed through"
It appears that [line129](https://github.com/microsoft/azure-pipelines-tasks/blob/1728abf77c993571dd1a1753f52c34f3deece383/Tasks/AzurePowerShellV4/AzurePowerShell.ps1#L129) is gobbling Write-Host statements. This causes issues when attempting to set variables using ##[task.setvariable ...].

Special casing [System.Management.Automation.HostInformationMessage] to call Write-Host $_.Message may solv

[2019-05-07 03:47] #9901 closed

[2019-05-07 03:47] SumiranAgg commented on #9901
The support has been added. please feel free to try the feature and share your feedback.

[2019-05-07 03:53] 199219921992 opened #10321 "TFS Service End Point for Azure connection during verification throughs error- Failed to obtain the Json Web Token(JWT) for service principal id '<Service ID>' Exception Message: Object reference not set to an instance of an object. "
Hello,

I am using TFS 2018 and trying to create service end point for TFS-Azure bridge using service clinet ID, after verifying the connection i am getting - **Failed to obtain the Json Web Token(JWT) for service principal id +  Exception Message: Object reference not set to an instance of an object.**  error.

Added Service principal client ID to subscription and providing the contributor role a

[2019-05-07 04:07] rajatagrawal-dev commented on #9157
@eelkram Can you give more details on your scenario? Where do you see the need for the sync command and how will it complement the static website support?

[2019-05-07 04:09] 199219921992 commented on #5458
@kmkumaran @vincentdass I am getting Failed to obtain the Json Web Token(JWT) for service principal id +  Exception Message: Object reference not set to an instance of an object error even after adding SPN to subscription and providing the contributor role and made the secret key as Never expires, what should we do now.
Created seperate Issue- https://github.com/microsoft/azure-pipelines-tasks/iss

[2019-05-07 04:28] SumiranAgg commented on #9445
The support for consumption plan for function apps has been added to Azure function app task.

[2019-05-07 04:28] #9445 closed

[2019-05-07 04:41] cltshivash commented on #10020
@victorguo What are these attachments and can the creation be turned off ?

Context : We are looking at removing this option altogether.

[2019-05-07 05:13] anuragc617 commented on #10221
Yes, you are right, we should update the version of Packer installed by the task to 1.4.0. Currently, the task installs Packer version 0.12.3, if not installed on the agent machine.
When I queued the task on the hosted agent where packer wasn't installed, task installs 0.12.3. And I was getting this:

I used a private agent and the packer version installed on my local machine is 1.4.0, so the task

[2019-05-07 05:27] likemike91 opened #10322 "Support more protocols with IIS Web Application Management"
**Question, Bug, or Feature?**
*Type*: Question, Feature

**Enter Task Name**: IISWebAppManagementOnMachineGroupV0 (IIS Web Application Management)

## Environment
Both TFS and Azure Pipelines

## Issue Description
For handling all scenarios supported by IIS the pipeline task should also support managing bindings for protocols like net.tcp, net.msmq and so on.
I had a short look on the implementat

[2019-05-07 08:40] anuragc617 commented on #9587
Closing this, please re-open if have any comments.

[2019-05-07 08:40] #9587 closed

[2019-05-07 08:42] anuragc617 commented on #10147
Closing this, please reopen if you have any other comment.

[2019-05-07 08:42] #10147 closed

[2019-05-07 08:50] anuragc617 commented on #10236
Hey @ceteongvanness, if you don't have the tests csproj,  you can remove "dotNet Core test" from the dotNetCore template. Closing this, if you have any issue related to this, please re-open.

[2019-05-07 08:50] #10236 closed

[2019-05-07 09:43] asranja commented on #5884
Please use the latest version of the task to deploy. Please reopen if anybody is still facing this issue.

[2019-05-07 09:43] #5884 closed

[2019-05-07 11:20] andyfisher100 opened #10325 "NET Core SDK Installer and Visual Studio Build tasks conflict with each other"
*Type*: Bug

**Task Name**: Visual Studio Build

## Environment
- Server - Azure Pipelines
- Agent: Private
- OS: Windows 10 1803
- Agent Version: 2.150.3

## Issue Description
We have a pipeline that currently uses the .NET Core SDK Installer task to install SDK version "2.1.503" which corresponds to runtime version 2.1.7. this installs as expected.

Later in the pipeline the Visual Studio Build

[2019-05-07 11:54] Ajay-MS commented on #8940
SQLAzureDacpacDeploymentV1 supports connection string now.

[2019-05-07 11:54] #8940 closed

[2019-05-07 11:59] jfalameda commented on #10293
Hi,

How am I supposed then to update the manifests versions when files change
and such? Does it mean I need to write it in bash? Can I build a linux SF
package form a windows pipeline?

Thanks.

Kind Regards,
/ José.

El lun., 6 may. 2019 a las 19:51, anuragc617 (<notifications@github.com>)
escribió:

[2019-05-07 12:15] timjkelly commented on #4582
@bansalaseem This seemed to have fixed the issue. Apologies for the delayed response.

[2019-05-07 13:02] kristiansamuelsson commented on #6135
@cwoolum Unfortunately, changing the value of an ARG does cause a cache miss on the first use of that variable, causing the rest of the image to be rebuilt (including the dotnet restore), see [Dockerfile reference](https://docs.docker.com/engine/reference/builder/#impact-on-build-caching).

[2019-05-07 14:14] bgelens opened #10328 "Azure PowerShell Task v4 on Windows needs option to run on PowerShell core"
Azure PowerShell Task v4 which is currently in preview runs PowerShell core on any non Windows Image / Agent. On a Windows agent however, it decides on it's own to run Windows PowerShell with no way to overwrite it even though PowerShell Core is installed.

I'd like an option to set Core on Windows for this task (for me it would be the default).

[2019-05-07 17:15] yacaovsnc commented on #10289
From the log, it says that the key is installed here:
2019-05-02T04:22:34.5758404Z ##[debug]Adding the SSH key to the agent /home/vsts/work/_temp/id_rsa

Since you are using a cmd task to run ssh, please use "-i" option to specify the key location.

[2019-05-07 17:49] Yiming-Jia opened #10329 "SetVariable with variable names containing '=' failed the task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-05-07 18:39] nuclear0wl opened #10331 "Bash 'task.setvariable' adds unexpected ' as trailing symbol"
**Type**: Bug

**Task Name**: Bash

## Environment
- Server - Azure Pipelines

- Agent - Private:

    - OS: Red Hat Enterprise Linux Server release 7.4 (Maipo)
    - Agent version: 2.141.1

## Issue Description
When `echo "##vso[task.setvariable variable=variable]$value"` is used as a part of script in Bash task type some unexpected trailing `'` may appear in the value of variable. Appearance of

[2019-05-07 20:55] bagstac opened #10332 "Several tasks - remove BOM from [Console]::InputEncoding to prevent issues with Start-Job"
Environment

Server - Azure Pipelines

https://lubrizol.visualstudio.com/LTR/_releaseProgress?_a=release-environment-logs&releaseId=507&environmentId=623

 Agent - Private

 OS: Microsoft Windows Server 2012 R2 Datacenter (6.3.9600.0) [Win32NT] x64
Agent version: 2.150.3
Issue Description
Some tasks I use have this problem, if I use the parallel job check I got the error that seems fixed on this B

[2019-05-07 20:58] ManuelGalindo commented on #10332
@damccorm this is still failing and we are looking for a way not to disable the Pararel Job check

[2019-05-07 23:19] eelkram commented on #9157
@rajatagrawal-dev - I use AzCopy to deploy a React front end on Azure Storage that is served up via the static website support and fronted via an Azure CDN.  During the build process the artifacts are dynamically named with a hash to eliminate caching issues.  When using the current AzCopy commands it moves the new files up to Azure Storage but never removes the old files.  I would like to be able

[2019-05-08 01:10] victorguo commented on #10020
@cltshivash The attachments are the test result .trx files. That brings up another issue - we have no way to disable it. VsTestV2 always comes with a /logger:"trx".

Sometimes the .trx files are as large as 50 MB and our upload bandwidth is so small that it simply cannot take it.

[2019-05-08 02:03] hieuhlc commented on #10289
@yacaovsnc I want to add ssh key to the agent machine because my project has some dependencies in our private github repo. In that case I think I need to change ssh config `IdentityFile`. Is it possible?

[2019-05-08 06:38] arjgupta commented on #10332
@bagstac what is the version of PowerShell on Target Machines task that is failing ?

[2019-05-08 07:57] SadagopanRajaram commented on #7658
Closing this issue - the fix is in TFS 2018 Update 3. Request to upgrade to this version or later.

[2019-05-08 07:57] #7658 closed

[2019-05-08 08:24] Skoucail opened #10333 "NodeToolInstaller does not satisfy demands for Gulp"
**Type**: Bug
**Task Name**: NodeToolV0, GulpV0, GulpV1

## Environment
- Server - Azure DevOps 2019 Server
    - Version: 17.143.28621.4

- Agent: Private:

    - OS: Windows Server 2016 Standard

    - Agent version: 2.144.2

## Issue Description

When using the Node tool installer (NodeToolV0) the Agent demands are not getting satisfied for the Gulp task (GulpV0/GulpV2) .
Adding npm to the sati

[2019-05-08 08:28] karanjitsingh commented on #10285
@shenhong1000 , distributed runs does not support other console options. You can specify your logger using run settings, https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0016-Loggers-Information-From-RunSettings.md#specifying-a-logger

[2019-05-08 08:42] arjgupta commented on #10332
The agent side changes made to handle this issue were applicable for only the PowerShell3 handler based tasks. The IIS extension tasks ( like IIS Web App Deploy and IIS Web App manage ) use the legacy PowerShell handler. And so that is why these tasks are failing. @damccorm if we take the changes that you made in the agent for powershell3 handler to handle this issue and apply them at the beginnin

[2019-05-08 10:45] dalemyers commented on #7093
I'm not a node.js dev, so I wouldn't even know where to start with this.

This continues to be an issue though unfortunately. It's pretty disappointing that this won't be fixed considering that it's an issue which affects real world scenarios that are absolutely supported by ADO.

[2019-05-08 11:00] bagstac commented on #10332
The primary target servers are at V4 of powershell.

[2019-05-08 11:24] BurgerVanDan commented on #9922
Has this really been resolved?

Its now May 2019 and I am still encountering the same issue when utilizing the AzCopy task within Azure DevOps:

`##[warning]The names of some imported commands from the module 'AzureRM.Websites' include unapproved verbs that might make them less discoverable. To find the commands with unapproved verbs, run the Import-Module command again with the Verbose parameter.

[2019-05-08 14:37] UnoSD opened #10334 "ARM optional parameters variables"
*Type*: Question or feature

**Enter Task Name**: Azure Resource Group Deployment

## Environment
- Server - Azure Pipelines

## Issue Description

When using an ARM template with optional parameters (with defaultValue set), would be nice to be able to link those to a variable and if the variable is empty having the option to omit the parameter and use the default.

I would probably need to be an

[2019-05-08 14:43] bansalaseem commented on #9719
Closing it because of no reply

[2019-05-08 14:43] #9719 closed

[2019-05-08 14:46] bansalaseem commented on #9813
Closing it as there is no further action required on it.

[2019-05-08 14:46] #9813 closed

[2019-05-08 14:52] ManuelGalindo commented on #10332
@arjgupta @damccorm be aware other tasks are affected like
Powershell on Target machines

[2019-05-08 16:28] cmielke opened #10335 "Azure PowerShell v4 task fails when using certificate credentials"
Type: Bug
Task Name: Azure PowerShell

## Environment
- Server - Azure Pipelines
    - Account Name: Emdat
    - Team Project Name: Emdat
    - Release Definition: _testing-az-cert-issues (Release-3)

- Agent - Private:
    - OS: Windows Server 2019 Datacenter (running on an Azure VM)
    - Agent version: 2.150.3

## Issue Description
When using the Azure PowerShell task with a service connection

[2019-05-08 16:40] Gimly opened #10336 "PublishCodeCoverageResults@1 uploads to the artifacts with spaces which is not supported by deploy stages"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishCodeCoverageResults@1

## Environment
- Server - Azure Pipelines
- Agent - Hosted Ubuntu 1604

## Issue Description

I'm using the new multi stage yaml build configuration and there seems to be an issue with the PublishCodeCoverageResults@1 task because it's uploading the of the code coverage report wi

[2019-05-08 17:09] TheJayMann opened #10337 "Azure File Copy TLS1.2"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AzureFileCopy

## Environment
- Server - TFS on-premises version 17.143.28621.4

- Agent - Private: Windows Server 2019 Agent version 2.144.2

## Issue Description

Azure File Copy task uses an agent built in vers

[2019-05-08 21:59] Yiming-Jia commented on #10329
Close this issue, as we're using new library azure-pipelines-task-lib. And already filed a [issue](https://github.com/microsoft/azure-pipelines-task-lib/issues/535) in that repo.

[2019-05-08 21:59] #10329 closed

[2019-05-08 22:56] halfpeaw opened #10338 "AzureFileCopyV3 Failing on cleanup"
## Note
Azure File Copy appears to be failing on clean up.  This is a recent development and only appears to be happening about 25% of the time.

Here's the exact error:
[error]Cannot bind parameter 'Context'. Cannot convert the "Microsoft.WindowsAzure.Commands.Storage.AzureStorageContext" value of type "Microsoft.WindowsAzure.Commands.Storage.AzureStorageContext" to type "Microsoft.Azure.Commands

[2019-05-09 00:32] benjamin-goldman commented on #5125
this may come as a shock to everyone - but the fact that we have SHELL forced on us when everything else has moved to powershell ages ago is insanity.

[2019-05-09 00:32] benjamin-goldman commented on #5125
this may come as a shock to everyone - but the fact that we have SHELL forced on us when everything else has moved to power shell ages ago is insanity.

It makes no sense that this feature was released like this.

[2019-05-09 01:20] maniSbindra commented on #10221
Hi @anuragc617 while working on https://github.com/microsoft/azure-pipelines-tasks/pull/8015 it was found that when you update packer version there may be breaking changes. I have the end to end tests ready, if I find time later this month will test it out and submit PR

[2019-05-09 03:37] kmkumaran commented on #10335
@cmielke - for the service connection that you have created, can you tell us what you see if you click on "verify"

![image](https://user-images.githubusercontent.com/11780076/57425708-ea3bca00-7239-11e9-972d-7eb382ebbcc1.png)

[2019-05-09 04:31] mdmdakbar commented on #10294
Thanks @BotellaA for reporting the issue. Looking into it.

[2019-05-09 04:47] anuragc617 commented on #10293
Hey @jfalameda, "ServiceFabricUpdateManifests" is the task that is used to update the version of the manifest but this task is also supported on Windows only. That means you have to write your scripts to update the manifests version. I don't think that you can use windows pipeline to build a Linux SF because of platform dependency.

[2019-05-09 04:56] rajatagrawal-dev commented on #10337
@TheJayMann AzCopy should work fine with TLS 1.2. [Refer this](https://github.com/MicrosoftDocs/azure-docs/issues/14042).

Can you send us the debug logs of your build/release? Add a variable "system.debug" in the variables section of your definition and set it's value to "true". This will give the debug logs.

[2019-05-09 05:51] mdmdakbar commented on #10294
@BotellaA @pragmatrix Did you recently updated the service endpoint?

We are not able to reproduce this issue at our end. Could you please create a new service endpoint and try again?

If issue persists, please reach out to us at RM_Customer_Queries@microsoft.com, which is for internal query management. Thanks

[2019-05-09 06:08] #10285 closed

[2019-05-09 06:35] karanjitsingh commented on #10205
@guillermomartinez-accenture, could you provide your build logs for us to investigate?

[2019-05-09 07:19] arjgupta commented on #10332
@ManuelGalindo , are you using V1 of the PowerShell on Target Machines task ? Because that is the only version of the task that is still on the legacy handler. You can mitigate issues with PowerShell on Target Machines task by switching over to V2 or V3 of the task. As for the rest of the extension tasks ( IIS Web App Deploy using WinRM, IIS Web App Manage using WinRM, and Sql Dacpac Deploy using

[2019-05-09 07:25] karanjitsingh commented on #10317
@ralucapredacegeka, i think you're confusing vstest adapter with SeleniumChromeDriver. SeleniumChromeDriver is not a test adapter extension. Please refer https://docs.microsoft.com/en-us/azure/devops/pipelines/test/continuous-test-selenium?view=azure-devops

[2019-05-09 07:25] #10317 closed

[2019-05-09 07:33] kmkumaran commented on #10322
@likemike91 - Appreciate you contributing to the task. You are right that the same cannot be accomplished with additional arguments at this point. So please feel free to raise a PR with the protocol support.

[2019-05-09 07:42] ralucapredacegeka commented on #10317
Hi @karanjitsingh ,

Indeed I can see my mistake now.
Still, we want to use the Selenium web driver that is installed on the Hosted 2017 agents when running the tests. Based on the info found here: https://docs.microsoft.com/en-us/azure/devops/pipelines/test/continuous-test-selenium?view=azure-devops#decide-how-you-will-deploy-and-test-your-app

_When using the Microsoft-hosted agent, you should u

[2019-05-09 07:53] atyourservers commented on #10334
If I understand you correctly, you could use the following as a variable then:

`"yourVariableName": "[if(empty(parameters('yourParameterName')), 'YourDefaultValue', parameters('yourParameterName'))]"`

[2019-05-09 08:14] #9981 closed

[2019-05-09 08:18] TheJayMann commented on #10337
Looking further into this myself, I see that this task makes use of AzCopy version 7.3.  Based on assembly metadata, it is meant to run on .NET Framework 4.5, and I see no evidence of the tool selecting TLS 1.2 in it's code.
This would mean that tool would by default use TLS 1.0 by default, and will fail if TLS 1.0 is not enabled by the OS.  I have needed to solve this myself in our network by eit

[2019-05-09 08:45] rajatagrawal-dev commented on #10338
@halfpeaw It seems that you have both `Az` and `AzureRM` powershell modules installed on some of your build agents. This is what is causing an issue. It is recommended to have only one of those installed. Check [this](https://github.com/Azure/azure-powershell#powershell-gallery).

Please uninstall one those modules completely from all your build agents and then try again. Let us know if you still

[2019-05-09 08:55] mailgovindarao71 commented on #3853
Facing the same  when run in Azuredevops(VSTS)  enviornment.

##[command]tf vc get /version:10734 /recursive /overwrite d:\a\3\s /loginType:OAuth /login:.,*** /noprompt

Let me know any solutions

[2019-05-09 09:17] rajatagrawal-dev commented on #10337
@TheJayMann Is TLS 1.2 enabled on your agent machine? You have to enable TLS 1.2 explicitly for .NET 4.5 by setting a couple registry entries which are specific to .NET. Once you have enabled TLS 1.2 and disabled TLS 1.0 and 1.1, AzCopy would automatically pick TLS 1.2.

Please check [this link](https://support.microsoft.com/en-us/help/3206898/enabling-iis-manager-and-web-deploy-after-disabling-ss

[2019-05-09 09:37] UnoSD commented on #10334
@atyourservers yes, I thought about that, but in my case there are several parameters and it would make the ARM template quite massive and confusing. It does not feel right to change the template when it supports default parameters. I was wondering if there was a more elegant way for this.

[2019-05-09 09:40] jfalameda opened #10341 "Add support for Linux pipelines"
Hi,

This is a feature request. At the moment it is quite cumbersome to deploy linux service fabric applications.

Specifically tasks such as ServiceFabricUpdateManifests would be great to have them written in python or bash.

Kind Regards,
José.

[2019-05-09 09:41] jfalameda commented on #10293
Thanks. I create a feature request to add support for Linux pipelines. I believe this can be easily accomplished using python.

[2019-05-09 09:45] Rzpeg commented on #10197
@omeshp @fadnavistanmay
Is there any progress on the issue ?
Downloading all artifacts is, for some reason, is very slow on Azure Pipelines, the first 5-6 artifacts are downloaded fast (3-10 seconds per 100-200 mb artifact) and the rest take up to 2-4 minutes each, with constant errors (below). The issue is causing the deployment process to take close to 30 minutes instead of 5-6 for all our artif

[2019-05-09 09:51] TheJayMann commented on #10337
I will try the SchUseStrongCrypto setting and see if that works.  I hadn't seen this setting before, and various websites seem to suggest it will work.

However, the build machine is currently down after I restarted it, and I won't be able to get it back up until the operations team is available.

[2019-05-09 10:03] Rzpeg opened #10343 "Downloading Pipeline Artifact in Release pipeline takes forever with Timeout exceptions."
**Type**: Bug

**Enter Task Name**:  Download Pipeline Artifact in Release pipeline

## Environment
- Server - Azure Pipelines?
- Agent - Hosted windows-2019

## Issue Description
When the build pipeline produces multiple artifacts and the release pipeline downloads all of them, the first 5-6 artifacts are downloaded fast (3-10 seconds per 100-200mb artifact), the rest might take a very long time

[2019-05-09 10:04] omeshp commented on #10197
@Rzpeg Sorry for the inconvenience, we are working on the fix and will get it deployed to your account by next week.

[2019-05-09 10:06] Rzpeg commented on #10197
@omeshp Thanks for the ETA.
I have created another issue for the timeouts during artifact download: #10343

[2019-05-09 10:15] Rzpeg commented on #10301
@satbai The problem lies in nuget.exe itself. look: https://github.com/NuGet/Home/issues/5979

The workaround that works for me is to patch nuspec with a powershell script, manually. This version supports only 1st level dependencies though.

[code]

[2019-05-09 10:25] TheJayMann commented on #10337
Adding the SchUseStrongCrypto values fixed the problem.

[2019-05-09 10:25] #10337 closed

[2019-05-09 10:57] cannehag opened #10344 "Bug: File Transform task not working with secret variables"
**Enter Task Name**: File Transform

## Environment
- Azure Pipelines
- Agent - Hosted

## Issue Description

File Transform workes fine, but if the variable is a secret, it ends up as null in the transformed file.

**I just noticed that the same problem exists in the App Service Deploy task when using 'File Transforms & Variable Substitution Options'**

[2019-05-09 10:59] bagstac commented on #10332
We will work on switching the version of the PS task.

[2019-05-09 11:12] atyourservers commented on #10334
The only other way I can think of is filtering the input which is sent to the template, so if a value is empty, don't send it to the template as parameter. That means that your scripting in front of the template will have to contain more logic.

(What is a massive template? We have a few of around 1000 lines. Most are half that size.)

[2019-05-09 12:52] arjgupta commented on #10332
@bagstac , @ManuelGalindo we have published a new version of the task with the appropriate fix. The version of the extension is 1.5.3. You should not face this issue for IIS Deploy or IIS Manage or Sql Deploy using WinRM.

[2019-05-09 12:52] #10332 closed

[2019-05-09 12:53] #9586 closed

[2019-05-09 12:54] BotellaA commented on #10294
@mdmdakbar I created a new service endpoint and same error. Is this task able to work with private repositories?

[2019-05-09 12:56] arjgupta commented on #10320
Hi @epvanhouten , can you share a sample script that we can use to reproduce this issue. Also tell, how are you trying to access the variable that you are setting using ##[task.setvariable]. Are you using Azure DevOps Services (previously VSTS ) or the Azure DevOps Server (previously Team Foundation Server and what version ??). What is the version PowerShell that you are using on the agent machine

[2019-05-09 13:00] alucardu opened #10345 "Outputting `##[error]` in front of lines in the command line"
## Type: Bug

## Agent: Hosted Windows 2019 with VS2019

## Issue Description

Issue: Outputting `##[error]` in front of lines in the command line

During the Jest test step in my build:
![image](https://user-images.githubusercontent.com/779921/57455141-c3e25280-726a-11e9-868b-2125044eb066.png)

During the Yarn build step in my build:
![image](https://user-images.githubusercontent.com/779921/57455

[2019-05-09 13:19] omeshp commented on #10255
@No1e You should use [publish build artifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-build-artifacts?view=azure-devops) task. If it still doesn't work can you send the logs at RM_Customer_Queries@microsoft.com

[2019-05-09 14:01] majorvin opened #10346 "Broken symlink for helm/repository/cache/local-index.yml"
Using Ubuntu 1604

Intermittent. Sometimes it works and sometimes it doesn't.

Job: "Unhandled: Failed find: ENOENT: no such file or directory, stat '/var/lib/waagent/custom-script/download/1/agent/_work/27/s/.helm/repository/cache/local-index.yaml'"

[2019-05-09 15:13] elbatk commented on #10064
Hi @olaeld , we're looking to change our pipelines tasks in the near future. As part of that change we'll be doing an overhaul of how our tasks are used, so we won't be making any improvements to the current tasks but we'll consider this feedback in the redesign, thanks!

[2019-05-09 15:15] nikhil2007rock opened #10347 "complete set JSON replacement doesn't work"
As suggested by @SumiranAgg in the issue #9338, I've tried the below but it doesn't seem to work.
![image](https://user-images.githubusercontent.com/5222165/57373668-8de39680-71b6-11e9-8fbf-b8d2c61b37ca.png)

The level of the key is as follows
[code]
I'm try to replace the whole endpoints with just the value --> {"https://www.my.website.name":  "12fbdc54-4ff7-48bc-bffa-30bd3gfcd2sf"}

_Originally

[2019-05-09 15:23] ladislas commented on #10182
anyone?