[2018-01-03 15:08] jessehouwing opened #6136 "NuGet Pack doesn't take preview tags from Build.BuildNumber"
The NugetCommand Pack task will take a pre-release task when the version is taken from anything, but the Build.BuildNumber. A regex is used to extract the version number from the BuildNumber, which will always strip anything but the 1.1.1.1 parts.

Original regex:
https://github.com/jessehouwing/vsts-tasks/commit/5fe31cb19719f9a531aa49c402e4962a687a3aa5#diff-920bb8ed9bf3fa3f695e8b9eb8a14f7eL91

Pr

[2018-01-03 16:00] fforjan commented on #6075
@ShreyasRmsft  I'm not sure to understand what does 'urging customers to move to VsTest V2' mean for us.

Us in that case is using TFS 2017 update 3 ?

[2018-01-03 16:16] alexmullans commented on #6117
@bryanmacfarlane I think I'd rather just document this behavior in the npm task docs and the help tooltip in the task itself - WDYT?

[2018-01-03 16:47] bryanmacfarlane commented on #6117
Sure.

[2018-01-03 17:11] pakdev commented on #1268
@ncunning Interesting, I didn't know the Command Line task allowed "Fail on Standard Error". My workaround was to use/create "reporters" specific to VSTS ([jscs-reporter-vso](https://github.com/EngageSoftware/jscs-reporter-vso), [jshint-vso-reporter](https://github.com/pakdev/jshint-vso-reporter)) and to manually parse C# TRX files. Now, if a test failure is detected, [logging commands](https://gi

[2018-01-03 17:23] ncunning commented on #1268
@parkdev my current setup has both npm task with custom command  "npm run test-ci" where in my package.json scripts section I use
"test-ci": "karma start ./test-config/karma.conf.js --single-run --code-coverage",
and also a command line task with ng test --single-run --code-coverage

Both Fail the Build but return results to the Tests section with Fail on Standard Error checked

This way i get Tes

[2018-01-03 17:28] ncunning commented on #1268
@pakdev When i look at the output it is the actual testing step which fails. The Publishing Tests Results allow the Tests section to display the charts and failed test etc..

[2018-01-03 19:39] owenniblock commented on #6092
Hi @Vinzz - I've just added a CLI change to make this possible:
[PR is awaiting review here](https://github.com/Microsoft/appcenter-cli/pull/352)

It will mean that you can add `--include-category` when calling the `appcenter test prepare` command.

You _should_ be able to then use the `Additional Options` in the Prepare section of the VSTS task (however I'll test this once appcenter-cli is releas

[2018-01-04 02:34] pakdev commented on #1268
@ncunning Sorry, I meant our solutions are better than failing the Publish Test Results task as suggested by this issue.

[2018-01-04 04:52] arjgupta commented on #6107
@iknyc, were you unblocked after installing DacFx?

[2018-01-04 04:53] vincentdass commented on #6054
@dei79 , thanks for the logs. The problem here is the FILE_IN_USE error where the resources are locked by some DLL / EXE. Adding a app_offline.html should have resolved the issue but since the task starts the deployment without any time delay, app_offline has no effect. Adding a retry with considerable retry interval should resolve this issue. Marking the thread as enhancement.

[2018-01-04 06:34] ShreyasRmsft commented on #6075
@fforjan Just means that **if possible** do move to VsTest V2. The code for RFT is frozen and fixes for only major blocking issues will be made. (assuming no workaround exists).

[2018-01-04 06:34] #6075 closed

[2018-01-04 08:06] RoopeshNair commented on #5898
@cornillemichiel, for now, you have following options. Manage the secrets in Azure KeyVault and have [template parameters json ](https://azure.microsoft.com/en-in/blog/keyvault-support-for-arm-templates/)which reference these variables. Or you can have tokenize step before ARM template deployment step which can replace the tokens with secrets from release variables

[2018-01-04 08:18] vinodjo commented on #1268
The purpose of Publish Test Results Task is to report the test results, hence if task is able to report all the results successfully it is marked as success even if it there were test failures. If the test execution does not return failure for a failed test, here is a sample that queries the failed tests and returns failure, which you can refer to drive the expected behavior https://github.com/Man

[2018-01-04 08:22] akuryan commented on #4716
If I will be able to replicate this issue again - I will do it. At this point of time I resorted to remove and recreate staging before deployment

[2018-01-04 08:25] janpieterz commented on #6073
@ShreyasRmsft just sent you 3 more logs, 2 randomly failed again (kicking off again fixed one of them, other still running).

Odd thing as well, the test step takes considerably longer than locally. Locally it runs ~15 seconds for all tests, on the build server it seems to sometimes just hang, even when succeeding.

[2018-01-04 08:26] michelkamp commented on #2119
if you use the new NuGet push build step you have a option "Allow duplicates to be skipped" described as : If you continually publish a set of packages and only change the version number of the subset of packages that changed, use this option. It allows the task to report success even if some of your packages are rejected with 409 Conflict errors.

This option is currently only available on Visual

[2018-01-04 09:26] ShreyasRmsft commented on #6100
Hi @vinayapc, we do not support more than 32 machines per run.

[2018-01-04 09:30] ShreyasRmsft commented on #6100
@vinayapc The reason being the agent vsts build agent internally constructs the above message to set task variables - which is unavoidable. The task itself isn't constructing any URIs or anything. The limitation is imposed by the vsts-build agent.

[2018-01-04 09:37] ShreyasRmsft commented on #6100
@vinayapc as a workaround you can split the vms into say 2 groups and have 2 instance of each task since you claim 140 ips work.

[2018-01-04 11:10] arjgupta commented on #6029
@pwaller24 , did the solution posted on stackoverflow work for you? Are you able to deploy now?

[2018-01-04 13:23] eorengo commented on #6118
Hi guys,
Sorry to bother. I was wondering if it is possible to prepare a Xamarin iOS build server for TFS2017.2 and how. I tried to follow https://docs.microsoft.com/en-us/vsts/build-release/apps/mobile/xamarin?tabs=vsts but it does not work. Thanks.

[2018-01-04 13:24] pspill commented on #6118
+ DRI

From: eorengo [mailto:notifications@github.com]
Sent: Thursday, January 4, 2018 8:23 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Peter Spillman <pspill@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vsts-tasks] MsBuild.exe does not exist at '/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/msbuild/15.0/bin/xbuild.exe'. (#6118)

H

[2018-01-04 13:35] sebandraos opened #6145 "Unable to explicitly clone private git repo or add as submodule"
## Environment
- Server - VSTS:

 - If using VSTS, provide the account name, team project name, build definition name/build number:
https://hal-robotics.visualstudio.com/HAL - HAL.BuildTests

- Agent - Hosted:

    - If using Hosted agent, provide agent queue name: Hosted VS2017

## Issue Description

Inline Powershell Task attempting to add a submodule to the current repository or clone another r

[2018-01-04 22:51] bryanmacfarlane commented on #6145
The system access token is a token for accessing resources in the VSTS account.  This doesn't appear to be an issue with one of the tasks in this repo - instead with a custom ps script.  You will need to get a token from github and automate getting into into the config (and devs will need to do the same - use a credential provider).

[2018-01-04 22:53] bryanmacfarlane commented on #6135
Are you building the container using docker build?

[2018-01-04 23:07] RomanMik commented on #5738
Any clue when this will be available for on-premise version?

[2018-01-04 23:16] madhurig commented on #5738
@RomanMik: It will be in the next feature update for TFS 2018, we don't have a timeline yet.

[2018-01-05 02:33] bryanlikes opened #6146 "VsTest does not find TestAgent installationPath when installed from vs_testagent.exe"
the vswhere search in **function getVSTestConsole15Path()** requires "Microsoft.VisualStudio.PackageGroup.TestTools.Core" which is not found for a vs_testagent.exe only install.

I am using the 2017 vs_testagent.exe install as part of the microsoft/dotnet-framework-build docker container.  The vsts task is searching for test agent using Test platform version "Visual Studio 2017".

I would propose

[2018-01-05 05:13] vincentdass commented on #6109
@neurospeech , thanks for reporting the issue. It's a genuine issue and will be addressed.

[2018-01-05 05:14] vincentdass commented on #6074
@makhdumi , thanks for reporting the issue. It's a genuine issue and will be addressed.

[2018-01-05 05:50] neurospeech commented on #6109
@vincentdass One more thing, the issue exists even for IIS Web Deployment, not only Azure App Service.

[2018-01-05 05:53] PBoraMSFT commented on #6100
@vinayapc - can you specify why you want to do 300 VMs?

[2018-01-05 06:08] PBoraMSFT commented on #6100
Closing this. More than 32 machines is not supported. Apart from the build agent limits that Shreyas called out earlier, Deploy Test Agent and RFT uses WinRM and that has limits as well.

[2018-01-05 06:08] #6100 closed

[2018-01-05 07:21] Hinton commented on #6135
Yes, using the Dockerfile generated by Visual Studio, and the VSTS build template, `Container (PREVIEW)`.

[2018-01-05 07:28] vincentdass commented on #6109
@neurospeech , yes, the substitution logic is shared across IIS deploy and App Service Deploy task.

[2018-01-05 07:31] vinayapc commented on #6100
We have few thousand UI end to end test cases that are written using Microsoft Coded UI Framework for an Thick Client desktop application. When we execute these test cases using about 20 VMs it takes about 48 hours to complete. To reduce the feedback time of the product quality we are trying to distribute the test cases into more machines so that it gets completed faster. I don't know what 32 mach

[2018-01-05 07:50] mkonars opened #6147 "TFS File not found dotnetcore.js"
## Environment
TFS 2017
Private Agent on Windows Server 2016

## Issue Description

Hi, our build is failing because the following file is not found:

##[error]File not found: 'C:\agent1\_work\_tasks\DotNetCoreCLI_5541a522-603c-47ad-91fc-a4b1d163081b\0.4.1\dotnetcore.js'

and inside this folder there is typescript file dotnetcore.ts, but no js file

Could you help?

[2018-01-05 09:02] ShreyasRmsft commented on #6073
@janpieterz for your sql connection timeouts can you try increasing the default connection timeout in your tests? The hosted agents might just be slow.

For the other issue can you run all your build with System.debug set to true and share all the build attachments you get? I am hoping to get the detailed logs from vstest.console.exe.

Also as a workaround can you try by providing one version olde

[2018-01-05 09:09] janpieterz commented on #6073
I've increased the timeout to 60 seconds to check. I've also set the debug=true. If I get it I'll send the logs again and then try the older version so at least we have a debug=true failing.

They do seem to be extremely slow, I did a manual local build and it goes so much faster. Is there any way to upgrade to a more sped-up pipeline?
5-7 minutes of test instead of 15 seconds is quite a differenc

[2018-01-05 09:21] NSTA1 commented on #2395
Worth noting that /SetContentType sets javascript files' content type to application/x-javascript which is not RFC compliant.

[2018-01-05 09:26] UREURE commented on #3447
"The task UI isn't designed to be a code editor"...
I don't want a "code editor", I want to paste my code.
Big difference.

[2018-01-05 09:47] ShreyasRmsft commented on #6073
@janpieterz Can you setup a private build agent on your box and run the whole build once? This will ascertain whether the slowness is purely related to the hosted machine having lesser configuration.

[2018-01-05 10:12] sebandraos commented on #6145
Thanks @bryanmacfarlane . You are absolutely right. I had indeed missed the actual role of the token and had assumed that it was the token used to Get Sources regardless of where those sources were. I have now tested with a GitHub PAT and everything is working as expected. Thanks again.

[2018-01-05 10:12] #6145 closed

[2018-01-05 10:22] ShreyasRmsft commented on #6066
Hi @cordialamit, any updates?

[2018-01-05 11:11] lukas-ais opened #6152 "Download Artifacts in Release Managment continues even cleanup failed"
I'm using the on-premise version of TFS (version 2017 U2) with private agents.

When running a release definition sometimes the download of artifacts shows an IOException on cleanup. The process continues without further notice, so I'm not able to identify the item which could not be cleaned, e.g. because any process is accessing file or folder.
How to stop deployment to identify issue? I would li

[2018-01-05 11:42] janpieterz commented on #6073
3 runs locally:
4.3, 4.6 and 4.4 minutes

Last 3 successful hosted ones:
17:29, 23:22, 24.1 minutes

Everything takes about 2 times as much, nuget/npm installs a lot more (probably no caching?), tests take 8 times as much (1 minute local, 8.x hosted)

[2018-01-05 13:29] bryanmacfarlane commented on #3447
@UREURE - as noted above the V2 version of the task upped the limit even in the UI.
@sibbl - yml ends up resolving to the V2 version of the task for inline.

[2018-01-05 13:34] bryanmacfarlane commented on #6147
Did you upload that task from this repo to your on-prem server?  If so, did you build it?  (it looks like you uploaded source - not the built task).

[2018-01-05 13:38] bryanmacfarlane commented on #6135
You can't use `docker build` for anything that has secrets (via files, envvars etc...) because the secret will end up being in the docker container you produce.

Instead, build the product including getting dev dependencies from nuget (that could also be in a container) to a mapped output container and then when you do `docker build` use a COPY statement in the `docker build` script.

We are worki

[2018-01-05 14:38] henningst commented on #6119
We are having the same issue on VSTS. The symbol server works for full framework libraries, but not for netstandard libraries. When can we expect this to work on hosted VSTS?

[2018-01-05 14:50] Hinton commented on #6135
I believe that's what my `Dockerfile` is currently doing, although it's using a multi-stage build.

[code]

Which is building correctly and the `NuGet.config` credentials are only accessible inside the `build` container which gets thrown away. I'm not particularly happy about including the credentials inside the repository but I guess that could be solved by creating the `NuGet.config` file inside

[2018-01-05 14:53] bryanmacfarlane commented on #6135
@Hinton - you're doing the dotnet restore in the docker file.  You're also copying the nuget.config.  What I'm saying is you do the dotnet restore and dotnet build outside the docker build file.  The docker build file would copy in the resultant full product layout bits (your output).

[2018-01-05 14:55] bryanmacfarlane commented on #6135
... that also has the benefit of not requiring build tools in your products final container (small as possible).  You can have a docker dev image that is based on the prod image and only the dev image has dev tools.

[2018-01-05 16:04] janpieterz commented on #6073
Two more failures just recorded on latest with 60 seconds timeout in connections string.

[logs_2306_protocol timeout.zip](https://github.com/Microsoft/vsts-tasks/files/1607082/logs_2306_protocol.timeout.zip)
[logs_2303_sql timeout.zip](https://github.com/Microsoft/vsts-tasks/files/1607083/logs_2303_sql.timeout.zip)

[2018-01-05 16:42] Hinton commented on #6135
@bryanmacfarlane I understand that's a potential way to solve it. Docker build would then only copy the pre-built binary files and not actually build anything.

However Visual Studio Docker Tools would then no longer be able to build and debug it through Visual Studio as a Docker target.

The `Dockerfile` above is the recommended way to build an asp.net core 2.0 container. From my understanding of

[2018-01-05 16:55] richlander commented on #6135
@bryanmacfarlane Your proposal is antithetical to the promise of multi-stage build and to some degree to Docker itself. The promise of consistent and predictable execution environments applies nicely to build/CI environments as well.

On the question, I don't think we've got a great solution for this currently. Ideally, you could specify a nuget.config via an environment variable. I don't think th

[2018-01-05 17:38] omeshp commented on #6152
@lukas-ais We retry cleanup on failure, from the logs it looks like first cleanup attempt failed but subsequent one passed so the release will pass.

[2018-01-05 18:47] cordialamit commented on #6066
Hi,

Yes these tests are present in two assemblies and that’s why I expected them to run in parallel.

Thanks
Amit

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Shreyas R <notifications@github.com>
Sent: Friday, January 5, 2018 2:23:01 AM
To: Microsoft/vsts-tasks
Cc: cordialamit; Mention
Subject: Re: [Microsoft/vsts-tasks] Ho

[2018-01-05 22:54] ameyagholkar commented on #6117
Thanks for the quick feedback, guys 👍

[2018-01-06 00:00] expeepit commented on #5989
How exactly do you do this in IIS please ?  How do you tell IIS which branch of a repo to use ??

Thanks!

[2018-01-06 00:02] bryanmacfarlane commented on #5989
This is not an issue with one of the tasks in this repo (what these issues are tracking).

[2018-01-06 00:02] #5989 closed

[2018-01-07 03:22] cltshivash commented on #6146
@bryanlikes There's a new TestPlatform tools installer that brings in the Test Platform without needing a VS/Test Agent installation. You can choose the tools installer option in vstest task to use the platform brought in by the tools installer. Will that help your scenario?

[2018-01-07 11:20] bansalaseem commented on #6080
@sureshtadisetty, can you please take a look at it?

[2018-01-07 16:06] fredgate commented on #1486
I have the same problem when I try to execute unit tests of an angular 5 application with a phantomjs browser (ng cli wrap karma) on VSTS.
When I use the _Hosted_ queue, I get this error :
[code]
But when I use the _Hosted Linux Preview_ or the _Hosted VS2017_ queues, unit tests are correctly executed.

[2018-01-07 16:19] fredgate commented on #5894
Error occurs on vsts for build process using the _powershell 2.* preview_ task when executed on _Hosted Linux Preview_ queue.
The error message is :
[code]

What to do ?

[2018-01-07 18:34] bryanmacfarlane commented on #1486
@fredgate - you should also open another issue for the encoding problems (?s).

[2018-01-07 22:34] rswe commented on #4884
Getting same issue today e.g. // style comments break VSTS Build  (using Task Azure Resource Group Deployment, rather than Appservice - please comment if I should raise a new separate incident?):

2018-01-07T22:13:06.4942880Z Resource Group created successfully.
2018-01-07T22:13:06.4946213Z Creating deployment parameters.
2018-01-07T22:13:06.5091189Z The detected encoding for file 'd:\a\1\s\mainTe

[2018-01-07 22:57] fredgate commented on #1486
I do not know if it's a tease, but just in case: there is no encoding problem. On VSTS, everything is well displayed, these odd characters just appeared during the copy / paste on github.

[2018-01-07 23:09] mrvladis commented on #5894
@fredgate  see my comment above.

[2018-01-08 00:20] williamtsoi1 opened #6155 "Mac Hosted agent - enable 'Allow Remote Automation' option in Safari"
## Environment
VSTS
Account name: rockendproject
Team Project name: Mac agent proof of concept
Build definition name: Mac agent proof of concept-CI
Build number: 279
Agent - Mac Hosted agent

## Issue Description

Trying to use the MacOS VSTS hosted agents to perform some Safari automated testing using selenium web driver, and coming up with the following problem.

### Error logs

[code]

[2018-01-08 04:00] vincentdass commented on #4884
@rswe , please open a separate thread for this issue.

[2018-01-08 04:42] sachinma commented on #4884
@rswe can you specify the version of the Azure Resource Group Deployment task where you are seeing this behavior?

[2018-01-08 04:50] vincentdass commented on #4716
Closing the thread as waiting for the response.
Fell free to re-open the issue or create a new thread if required.

[2018-01-08 05:36] GitHubSriramB commented on #6152
@lukas-ais - let us know if you have any further queries. closing this issue for now.

[2018-01-08 05:36] #6152 closed

[2018-01-08 05:44] GitHubSriramB commented on #6043
@ian-a-anderson - Hosted agent gets reimaged for every deployment. So the work directory is always clean before artifact download begins. You are right, not deleting the artifacts folder in case of private agent is to give more control over the process to customers using private agent.

[2018-01-08 05:44] #6043 closed

[2018-01-08 05:45] GitHubSriramB commented on #5806
@morgwai - if you are able to repro this issue & the above workaround suggested doesn't help, pl. reactivate the issue.

[2018-01-08 05:45] #5806 closed

[2018-01-08 05:59] ShreyasRmsft commented on #6066
Hi @cordialamit, can you re-run the build with system.debug set to true and share the logs.

Also how are ascertaining that the tests aren't being run in parallel? Is it based on execution time difference when the option is enabled and otherwise?

[2018-01-08 06:58] ShreyasRmsft commented on #6073
@janpieterz The differences in run times is clearly because the hosted vms are 2 core machines

[2018-01-08 07:03] ShreyasRmsft commented on #6073
@janpieterz The sql timeouts i looked into a bit more. [link](https://social.technet.microsoft.com/Forums/en-US/3bbcd9a3-f90b-4ef2-8244-f06ee8d9cfa3/timeout-error-while-attempting-to-consume-the-prelogin-handshake?forum=sqldataaccess). It can't be reasons 4,5,6 or 7 as you are using localDb and the hosted machines are reimaged after every build. 1,2 or 3 might however be a possibility.

Also you a

[2018-01-08 07:04] ShreyasRmsft commented on #6073
@janpieterz The protocol negotiation timeout I've logged a bug and we are investigating into it.

[2018-01-08 09:33] ds-ms commented on #6052
@juniinacio Since it's a certificate that you're passing, it might contain a lot of special characters, which might confuse the parser to consider it a separate literal.
The parameter being an XML, you can supply it to a "parameters.json" file or you could add this value to an Azure Key Vault and reference it as well, to avoid these kinds of parsing errors.

[2018-01-08 10:27] rswe opened #6158 "Unable to parse JSON file with // comments for VSTS Build using Task Azure Resource Group Deployment"
## Environment
- VSTS
- Agent - Hosted: agent queue name: inherited

## Issue Description
Similar issue as noted in https://github.com/Microsoft/vsts-tasks/issues/4884

[Include task name(s), screenshots and any other relevant details]
Azure Resource Group Deployment task version 2.*
Task Name: Azure Deployment:Create Or Update Resource Group
Action: Create or update resource group
Location: Austr

[2018-01-08 10:28] rswe commented on #4884
@sachinma  @vincentdass  Azure Resource Group Deployment task version 2.*
Raised in https://github.com/Microsoft/vsts-tasks/issues/6158

[2018-01-08 10:58] sachinma commented on #6158
@ds-ms can you look at it

[2018-01-08 11:24] ds-ms commented on #6158
@rswe could you upload the debug logs?

Check out how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

[2018-01-08 16:05] jpricketMSFT commented on #4110
The feature that David mentioned is now available. Please let us know if you continue to have issues.

[2018-01-08 16:05] #4110 closed

[2018-01-08 16:13] jpricketMSFT commented on #3327
Since this issue has been added to our backlog and is not an issue with the tasks themselves. I am closing this issue.

[2018-01-08 16:13] #3327 closed

[2018-01-08 16:17] jpricketMSFT commented on #5814
This is issue is being tracked in Jira now (see link above). So, I am closing the issue here.

[2018-01-08 16:17] #5814 closed

[2018-01-08 16:19] jpricketMSFT commented on #5661
Closing this issue due to lack of response.

[2018-01-08 16:19] #5661 closed

[2018-01-08 16:21] jpricketMSFT commented on #5119
@YogeshBandiwadekar - does the solution provided by Semant1ka work for you?

[2018-01-08 16:25] jsheetzati commented on #4143
Having the same issue as @eriksteinebach.  It all started when we added the AppInsights extension to our site.  Currently, this is happening in our dev environment, and we do not have deployment slots available here.

[2018-01-08 18:34] libPhipp commented on #3036
Hi all!
I am quite happy to be able inform everyone that gcovr produces xml out in Cobertura's dtd-04 format since yesterdays merge of my PR! Integration of coverage results of gcovr into a c++ VSTS build works like a charm now!
![coverage](https://user-images.githubusercontent.com/25852800/34686063-b7b3d0b8-f4aa-11e7-9be1-7a91e2033ed6.png)

You OS's package respository will not yet contain this u

[2018-01-08 19:07] mohantyrr2003 opened #6159 "Insufficient privileges while running Azure Active Directory command on powershell"
Hi,

I am getting error "insufficient privileges" while running an AD command to my Azure Data Lake Store account I am creating via PowerShell. I am able to create the DLS account, however when I am trying to assign a group (admin group) to be the owning group, it fails with error "insufficient privileges". The command goes like this.

PS H:\> Set-AzureRmDataLakeStoreItemOwner -AccountName $dataLa

[2018-01-08 23:09] rboorgapally opened #6161 "VSTS Service Fabric deployment task timed out"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

VSTS

- Agent - Hosted or Private:

Hosted

## Issue Description

We are seeing the below traces in the release task for the past few days. Everything worked well before that. It works occas

[2018-01-08 23:25] fredgate opened #6162 "Azure App Service Deploy failed when app settings are provided"
## Troubleshooting
Can not completly deploy web app on Azure (when app settings are set).

## Environment
- VSTS
- Agent queue : Hosted VS 2017

## Issue Description

I have a release definition with a task _Azure app service deploy_ that deploy an node application on a Linux web app.
I simply defined these properties for my task :
- Azure subscription : {my subscription}
- App type : Linux web ap

[2018-01-09 01:55] remullig opened #6164 "Deploy Service Fabric Application task fails every other time when node in cluster is down"
## Environment
- Server - VSTS
    -Account name: dynamicscrm
    -Team project name: OneCrm
    -Release definition name: Arca_Test, Release 25

- Agent - Hosted or Private: Hosted

    - Agent Queue Name: Hosted

## Issue Description
Currently, if any node is down on our cluster, deployment will fail every other time, even though our application will not be placed on the downed node due to place

[2018-01-09 05:24] omeshp commented on #6045
Hi @jimmywyatt, I am trying to figure out why Download Build Artifacts task isn't working with your proxy configuration. Can you confirm if your proxy server is using NTLM for authentication?

[2018-01-09 07:57] sureshtadisetty commented on #6080
@hrboyceiii good if it's working for you.
IdentityDescriptor converter is a known issue, in Azure Functions, please refer to this link for the recommended workaround: https://developercommunity.visualstudio.com/content/problem/117356/problem-using-vsts-c-client-library-vssconnection.html

[2018-01-09 08:21] matslo opened #6169 "Azure Powershell "Could not load file or assembly" - update powershell version"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS

- Agent - Hosted VS2017

## Issue Description

 The VSTS task "Azure PowerShell" is using version 5.0.0 as latest installed version. This version have errors when loading assemblies. Can you updated the latest

[2018-01-09 09:44] ds-ms commented on #5351
I have added an outputs section in the task definition, where you can provide a name for the variable for the output variable which will contain the outputs section of the current deployment object in string format. You can use the “ConvertFrom-Json” PowerShell cmdlet to parse the JSON object and access the individual output values in the further steps of your build/release.

[2018-01-09 09:44] #5351 closed

[2018-01-09 11:36] ShreyasRmsft commented on #6073
@janpieterz are your tests .NetCoreTests? If so can you use the .Net Core task to run your tests.

VsTest at the moment does not support .NET core tests.

[2018-01-09 11:49] jimmywyatt commented on #6045
@omeshp i can confirm it is

[2018-01-09 13:00] Cva2904 opened #6172 "How to authenticate the user with OTP (one time password) validation using Coded UI c#"
Hi All,

I do have a requirement to authenticate the user with OTP validation instead of user id and password option in my web Application. I'm using html pages with C# and Coded to test this.

I searched lot of things but couldn't able to get corresponding related info. If any one of you had faced the same requirement, kindly let me know what to do in order to get resolve this issue.

Thanks!!!

[2018-01-09 13:27] omeshp commented on #6045
@jimmywyatt Thanks!

[2018-01-09 15:12] jmzagorski opened #6173 "SQL Server Database Deploy Task (using dacpac)"
## Environment
- Server - VSTS
- Agent - Hosted

## Issue Description

I experienced odd behavior with the **SQL Server Database Deploy** using dacpac. When I select **Publish Profile** as the value for the **Specify SQL Using** configuration option, the tasks ignores my XML publish profile and generates the error log below. However, when I select **Server** for **Specify SQL Using**, the tasks wo

[2018-01-09 17:08] mikermesh opened #6176 "Add option to not run az clear at end of Azure CLI VSTS Task"
We are using the Azure CLI task to grab an access token to be used in a subsequent task. However, it looks like the Azure CLI step is executing the az clear command which clears out the token at the end of that task. We were able to get around this by creating two Powershell tasks to issue the az login command as a Service Principal and a second to run the az clear command. We would prefer to use

[2018-01-09 17:12] ericsciple commented on #5894
fixed in master https://github.com/Microsoft/vsts-tasks/pull/6175

will roll out with the next deployment. the next deployment starts next week and will roll out over a week or two.

[2018-01-09 17:12] #5894 closed

[2018-01-09 17:48] mackenziemi opened #6177 "Error: Failed which: Not found npm: null"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

   TFS On Premise

- Agent - Hosted or Private:

    Agent -> OPEN BUILD running  Windows Server 2012 R2

## Issue Description

We have a build definition that has previously been working ju

[2018-01-09 18:13] bryanlikes commented on #6146
I ended up just forking the microsoft docker image and I'm installing the tools using the vs bootstrap installer and specifying the component ID of the testing tools: "Microsoft.VisualStudio.Component.TestTools.Core".  Now vswhere can locate the install dir of vstest.console.exe with no problem.

[2018-01-09 19:41] ederbond commented on #375
Me too @sufyannisar

[2018-01-09 20:14] onionhammer commented on #6169
I'm seeing something very similar, but with `System.Spatial`

[code]

[2018-01-10 01:46] rcjcooke opened #6180 "Metadata schema element not supported on deployment parameters file"
## Environment
VSTS Azure Resource Group Deployment task execution as part of a Hosted Agent phase on a Release Definition.

## Issue Description
The parameters file schema (https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json) supports the use of a metadata tag within a parameter definition. I've taken advantage of that to add comments to my parameter file (NOT the tem

[2018-01-10 02:44] tolgabalci commented on #3046
Still having the same issue here as well.  Brand new setup.

After hours of troubleshooting found this page and turned off "Take App Offline" the first deployment and it worked!  Then I turned it back on and redeployed an it worked!

[2018-01-10 02:47] tolgabalci commented on #3046
Here is a partial log showing the issue before I turned "Take App Offline" off:

`2018-01-10T02:25:15.1870966Z ##[debug]found 194 paths
2018-01-10T02:25:15.1871102Z ##[debug]applying include pattern
2018-01-10T02:25:15.1871256Z ##[debug]adjustedPattern: 'C:\vstsagent\A1\_work\r1\a\temp_web_package_8287370284012923\**/*.config'
2018-01-10T02:25:15.1914036Z ##[debug]8 matches
2018-01-10T02:25:15.191

[2018-01-10 03:57] weznagwama commented on #375
I'd like to echo Tanya's question: are you able to set/update a variable inside a release, for use in another release?

Or, are you able to update the value of a variable inside of a shared variable group? This could perhaps be in the realm of the API, which I haven't yet looked at...

[2018-01-10 04:55] sachinma commented on #6176
We can consider adding it to the advanced section. Adding @RoopeshNair  for his opinion here.
However, as a work-around after you have generated the token, consider saving it in secret variable. Will this approach variable. You can use echo "##vso[task.setvariable <>=<>;issecret=true;]" to do it.

[2018-01-10 05:18] #6146 closed

[2018-01-10 05:34] vincentdass commented on #5566
Closing the thread, as the issue is resolved. The Fix will be available in next deployment.

[2018-01-10 05:34] #5566 closed

[2018-01-10 06:10] ShreyasRmsft commented on #6066
Hi @cordialamit, any updates

[2018-01-10 06:21] bansalaseem commented on #6080
Suresh has shared the workaround to come out of this and the right fix is owned by azure function team which is outside of this repo. So I am marking this issue closed.

[2018-01-10 06:21] #6080 closed

[2018-01-10 07:04] BobbyTable commented on #5566
@vincentdass any actions required from users affected by this? Re-add the Task or something? Or is it just automagic

[2018-01-10 07:23] vincentdass commented on #5566
@BobbyTable , no actions from user required. The deployment will be initiated (from our side) to all the regions.

[2018-01-10 08:59] nordvall commented on #5259
I've been doing almost a hundred deployments over the last months and never hit this issue. I am deploying Azure Functions and ASP.NET Core 2.0 apps with VSTS Release Management.

However today this issue appeared on one of my apps (ERROR_FILE_IN_USE for my application dll). One special thing about this app is that it was manually stopped from the Azure Portal during the Christmas holidays. Yester

[2018-01-10 09:11] McMlok opened #6185 "Run functional test failed with runsettings specified"
## Environment
- Server - TFS 2017 update 3 On-premise?
- Agent - Private, Windows 2012 Server, version: 2.122.1
- Test Agent - Private Windows 7
-Run functional Test task version 1.0.52

## Issue Description

I try to run task Run functional tests with runsettings file specified. When I run task without file specified every thing works fine. When I specify runsettings file task crash with error u

[2018-01-10 09:24] janpieterz commented on #6073
They're not .net core tests, just net47 tests (they do run in new project model).

I just ran it 17 times straight in a row and it occurred 0 times locally.

Funny they run on 2 core machines, I'd expect more. It might make us consider for future builds to  run them locally indeed.

[2018-01-10 09:49] ShreyasRmsft commented on #6073
@janpieterz one small suggestion in your test assemblies input you've given this **\*test*.dll,!**\obj\**

This is causing a bunch of unnecessary dlls being picked up:
8-01-03T20:36:15.6386525Z "d:\a\1\s\Tests\bin\Debug\net47\cs\Microsoft.TestPlatform.CommunicationUtilities.resources.dll"
2018-01-03T20:36:15.6387099Z "d:\a\1\s\Tests\bin\Debug\net47\cs\Microsoft.TestPlatform.CrossPlatEngine.resourc

[2018-01-10 11:33] arjgupta commented on #6105
The issue was caused due to some TeamFoundating modules being present in the c:/windows/system32/windowspowershell/modules path, and so instead of the modules getting picked up from the agent directory itself, they were getting loaded from there. Removing the modules resolved the issue.

[2018-01-10 11:33] #6105 closed

[2018-01-10 13:03] evolcode opened #6189 "Vsts Tasks using Get-VSTSinput"
## Environment
VSTS

Task is a Azure PowerShell Task

- Agent - Hosted or Private:

Hosted 2017

## Issue Description
Im running a VSTS task "Azure PowerShell" with the lastest version of PowerShell Running.

Here is the snippet of my code:Import-Module -Name VstsTaskSdk
Trace-VstsEnteringInvocation $MyInvocation

$billing = Get-VstsInput -Name Billing -Require
$resourceGroupName = Get-VstsInput -

[2018-01-10 13:52] kmvanderpool commented on #5066
@PBoraMSFT Is the code coverage command available to run on build agents on VSTS? From what I understand it is only available on the Enterprise SKU of Visual Studio so I'm unclear whether it is an option on the build agents that exist on VSTS.

[2018-01-10 14:36] wattsrw commented on #4918
@joost4net
I had the same error message. The fix for me was to put the file name at the end of the binary file path.
Our binary path is:
$(Build.SourcesDirectory)\bin\$(BuildConfiguration)\$(AndroidProjectName).apk
So it just depends where you're outputting/copying your apk and ipa files, just be sure to have the file name at the end of the path.

[2018-01-10 15:11] psyvision opened #6190 "VsTest 2.3.17 - Test Impact Analysis Failing"
## Environment

TFS On-Premise 2018 RTM (16.122.27102.1)

Private Agent (v2.122.1) on Windows Server 2012 R2

VsTest 2.3.17

## Issue Description

We have a vNext build that builds a C# project and then runs unit tests using the VsTest task.  We are wanting to use Test Impact Analysis (TIA) but are having a couple of problems.

Firstly - The build that normally takes 15 minutes takes 115 minutes.

[2018-01-10 15:16] AlbertoLF opened #6191 "Trying to get provisioning profiles from another repository"
## Environment

- VSTS

## Issue Description

Im trying to install an Apple provisioning profile from an another repository that are in the same project.

When i choose 'Source Repository' in 'Provisioning Profile Location' option, i can't choose another repository.

<img width="1034" alt="screen shot 2018-01-10 at 16 13 26" src="https://user-images.githubusercontent.com/10026227/34779761-71b7044a

[2018-01-10 15:42] PrimeByDesign commented on #4300
Same issue here. I don't know why this is closed!

[2018-01-10 15:47] pageflex opened #6192 "VSTS Docker Agent can't find docker-compose.yml"
## Issue Description
I am creating a vsts task that first builds a series of docker images and then publishes them to a private ACR. I want to use the previously built docker-compose.yml to effect the multi dockerfile build. Even though it pulls sources correctly and I can see the docker-compose.yml on the path

![image](https://user-images.githubusercontent.com/35233719/34782456-5cf62474-f5ee-11e

[2018-01-10 16:26] alexmullans commented on #4300
Have you tried adding a NuGet Tool Installer to your build, set to version 4.3.0 or 4.4.1?

[2018-01-10 18:24] Mertsch opened #6193 "TestSelector does not understand MSTestV2 DataRow attribute"
## Environment
- Server - VSTS
- Agent - Private
## Issue Description
I have the following Test
[code]
TIA does not realise that this is one specific test case with parameters and will always run this test, even if not impacted, see log files below.

### Error logs
[code]

[code]

[2018-01-10 19:05] cordialamit commented on #6066
Sure. Here is the build with system.Debug=true

https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=7583630&_a=summary

Thanks
Amit

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Shreyas R <notifications@github.com>
Sent: Tuesday, January 9, 2018 10:10:53 PM
To: Microsoft/vsts-tasks
Cc: cordialamit; Menti

[2018-01-10 19:32] kmvanderpool commented on #5066
I tried running the vstest command with the parameters above to enable code coverage and got the error. "System.InvalidOperationException: No test run found." Anyone have an idea of what's causing that error or what might be missing? Do I need to scaffold in some nUnit support to run my xUnit based tests?

I am currently running the version 1 of the .NET Core Task within Visual Studio Online to ru

[2018-01-10 21:02] rswe opened #6194 "Cannot reference ARM linked templates / nested templates in private Github repo without workaround"
## Issue Description:
In github, you can get the raw content url and attach a token to  azuredeploy.json uri.  How the access token is secured is most probably with CI CD tools.
But you can do that only with  azure storage, to my knowledge. ARM engine is only capable of url  authorization. it won't pass any username, tokens,

investigation shows there is no way to use a URL and github available au

[2018-01-10 21:22] rswe commented on #6194
The only non-code workaround I can think of is
1) (if possible) create a private SAS token controlled artifacts Azure blob location (in a VSTS task if possible?)
2) have Github push any changes => artifacts blob location.
Then the ARM template could reference the linked templates via URL + SAS token.
But I don't know if 1 & 2 as feasible/recommended?

[2018-01-10 22:23] tevert opened #6196 "Packer version on PackerBuild task is out-of-date"
Packer passed their 1.0.0 mark awhile ago, the PackerBuild task should get updated to support multiple (including newer) versions.

[2018-01-10 23:24] alexmullans commented on #6039
@jbaumbach try adding a NuGet Tool Installer step at the beginning of your build and setting the version to 4.4.1.

[2018-01-11 00:16] ckrempp91 commented on #4558
Sorry for the delayed response @madhurig, I finally got some timed and tried out your suggestion. I was able to work around the issue, per your suggestion, but I did encounter a few issues though:

1. Instead of using the TypeScript file, I had to package the `xamarinios.js` file instead (I am unsure if TypeScript is able to run on macOS, but my machine would not allow it)
2. I had to add the node

[2018-01-11 02:42] rohit21agrawal opened #6197 "allow test url/id created by Publish Test Results task to be used in a later task"
the publish test result task creates a run id and generates a url , but there is no way to retrieve this url or id. an easy option would be set an environment variable with the test run title as key and the id as the value (just one of the many possible options to do it).

if you can point me in the right direction, i would be willing to do a PR too.

[2018-01-11 07:07] ShreyasRmsft commented on #6066
@cordialamit

The task is passing the correct settings for running the tests in parallel

2018-01-10T19:06:28.0968470Z ##[debug]Running VsTest with settings :
2018-01-10T19:06:28.0968664Z ##[debug]<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
2018-01-10T19:06:28.0968859Z ##[debug]<RunSettings>
2018-01-10T19:06:28.0969034Z ##[debug]  <RunConfiguration>
2018-01-10T19:06:28.0969226Z ##[debu

[2018-01-11 08:19] ds-ms commented on #6180
I will look into it.

[2018-01-11 09:35] vincentdass commented on #6109
The Issue is resolved and the fix will be available in upcoming deployment.

[2018-01-11 09:35] #6109 closed

[2018-01-11 09:35] vincentdass commented on #4884
The Issue is resolved and the fix will be available in upcoming deployment.

[2018-01-11 09:35] #4884 closed

[2018-01-11 09:58] PBoraMSFT commented on #6098
@Cva2904 - this is not the right forum to seek guidance and advice. It is meant for reporting any issues you may encounter with running the tasks in VSTS / TFS CI/CD pipelines.
Please post your queries in Stackoverflow at [https://stackoverflow.com/questions/tagged/vsts]

[2018-01-11 09:58] #6098 closed

[2018-01-11 10:36] DanielTheCoder opened #6203 "When npm task fails, wrong npm log file is attached to task output"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
    VSTS
- Agent - Hosted or Private:
    Multiple Agents hosted on-premise in one VM

## Issue Description
Currently we are hosting multiple build agents inside a VM like this
Virtual machin

[2018-01-11 11:44] madhurig commented on #4558
@ckrempp91: Thanks for the details. The .js file has to be uploaded to the server, the build agent only runs the .js and can't run the .ts.

[2018-01-11 12:17] vincentdass commented on #5021
@strand , Can you share the debug logs to `RM_CUSTOMER_QUERIES@MICROSOFT.COM`?

[2018-01-11 16:35] eorengo opened #6205 "Nuget restore task failed in Mac with Mono 5.4.1/NuGet 4.3.0.4406"
## Environment
TFS 2017.2

- Agent - Hosted or Private:
OSX 10.11.6

## Issue Description
NuGet Installer failed when I point out to the current (latest) version Mono: 5.4.1.7 at
`/Library/Frameworks/Mono.framework/Versions/Current/bin/nuget`
If I change it to an older version such as:
`/Library/Frameworks/Mono.framework/Versions/4.8.1/bin/nuget`
it works. I'm not sure if msbuild autodetection (se

[2018-01-11 17:15] keithrob commented on #5757
@tonyferrell, @Miista , @robbratton ,
This problem has been fixed in the hosted version of Visual Studio (i.e. *.visualstudio.com) and will be fixed in the upcoming TFS2018U2.
Keith

[2018-01-11 17:15] #5757 closed

[2018-01-11 17:20] jshepler opened #6206 "[IISWebAppDeploymentOnMachineGroup] more info link (helpMarkDown) incorrect url"
The more info link is https://aka.ms/iiswebappdeployreadme which redirects to https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.iiswebapp and is for a different task, which has a link http://aka.ms/IISWebDeploy that redirects to https://github.com/Microsoft/vsts-rm-extensions/blob/master/Extensions/IISWebAppDeploy/Src/Tasks/IISWebAppMgmt/README_IISAppMgmt.md

It should end up at https

[2018-01-11 17:23] jshepler opened #6207 "[IISWebAppDeploymentOnMachineGroup] readme appears to be outdated"
https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/IISWebAppDeploymentOnMachineGroup

Missing information about xml transforms and variable substitution options.

References "machine groups" instead of "deployment groups".

[2018-01-11 17:30] jshepler opened #6208 "[IISWebAppDeploymentOnMachineGroup] not clear on how xml transformations are expected to be used"
According to the help popup on the xml transformation option, "The config transforms will be run for *.Release.config and *.<EnvironmentName>.config on the *.config file."

However, the transform files aren't available at the time the release is running. The build applies the transform and doesn't include the files (e.g. web.sandbox.config) in the output or package. I don't know how to get those t

[2018-01-11 17:47] ggirard07 commented on #4245
Are you going to update this issue once implemented?
I found the following extension [Tag\Branch Git on Release](https://marketplace.visualstudio.com/items?itemName=jabbera.git-tag-on-release-task) which seems to do the work. But an official feature will always be considered the best solution :)

[2018-01-11 18:41] cordialamit commented on #6066
Yes, its based on execution time. No two tests ran at the same time while there they are in different assemblies

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Shreyas R <notifications@github.com>
Sent: Wednesday, January 10, 2018 11:07:14 PM
To: Microsoft/vsts-tasks
Cc: cordialamit; Mention
Subject: Re: [Microsoft/vsts-tasks]

[2018-01-11 18:47] Rabadash8820 commented on #5919
I am getting this same error.  I am using a private agent: Ubuntu 16.04 hosted on an AWS EC2 instance.  Everything works fine in my ASP.NET Core build definition except for the Publish Sources task.  I can't find any documentation anywhere that says this task shouldn't run on Ubuntu, so some Microsoft feedback here would be appreciated!

[2018-01-11 20:00] vincentdass commented on #6208
You can refer to this [doc](https://docs.microsoft.com/en-us/vsts/build-release/tasks/transforms-variable-substitution#xmltransform).

[2018-01-11 23:26] strand commented on #5021
@vincentdass Apologies for dropping this. I am going on vacation next week, but hope to find time to send you deets tomorrow. Thank you for reminding me of this.

[2018-01-12 03:44] Tadimsky opened #6210 "Service Fabric: How to specify parameters in VSTS release"
I'm trying to deploy to Service Fabric using the `Service Fabric Deployment` task and want to get secrets from Azure KeyVault and use those as part of the deployment process.
However, it seems like I can only set a parameters file, not application parameters individually (like you can with the PowerShell command).

Is there any good way to be able to get secrets and use them at deployment time? Or

[2018-01-12 08:39] pekkah commented on #5931
I'm hitting this same issue. Builds have been working just fine but during the past two weeks something has changed which has made this issue appear. Upgrading to new CSPROJ format fixes it but for some of our projects that is not an option as they contain Entity Framework edmx files.

[2018-01-12 08:50] pekkah commented on #5931
Here's the logs
[code]

[2018-01-12 09:08] ds-ms commented on #6158
This has been fixed. Should be reflecting in your account soon.

[2018-01-12 09:08] #6158 closed

[2018-01-12 09:39] psandhu79 commented on #5668
@bryanmacfarlane Any update on this ?

[2018-01-12 10:24] jikuma commented on #6192
Error explicitly says that "which  docker-compose: command failed means docker-compose is not installed on the agent machine.
"Unhandled: Failed which: Not found docker-compose: null"
Its able to find docker-compose.yml

[2018-01-12 10:24] #6192 closed

[2018-01-12 11:06] Manvibha opened #6214 "Visual Studio Test Agent deployed on vm aborts Test Execution on remote VM after 6 hrs of execution"
Hi,

I have automation builds configured to execute GUI based selenium test suite to execute on Azure VM.
From last 3 days , I am seeing that after 6 hrs of execution , test agent aborts test execution and no clue why it is doing so.

I have Test agent deployed via build on Azure windows 10 box. It discovered tests and initializing  test execution and tests were executed. However,  after 6 hrs of

[2018-01-12 12:21] ShreyasRmsft commented on #6066
@cordialamit can you try using this with the [Visual Studio Test Platform Installer task](https://docs.microsoft.com/en-us/vsts/release-notes/2017/nov-28-vsts#test ) to get the latest platform version? This feature may not have been supported in the version you are on and even if it doesn't work we'll get more logs from the latest platform version with system.debug set to true.

[2018-01-12 13:49] pageflex commented on #6192
1) is there any way to make the verbiage more clear in the error? Surely it's understandable that I made the assumption that it couldn't find the docker-compose file itself.

[2018-01-12 21:35] Tadimsky commented on #6210
To be clear, I would like to be able to do what is recommended by Service Fabric for deploying secrets:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-secret-management

[code]

[2018-01-12 21:53] StandBackBurrito commented on #6136
As a workaround I am currently setting

`Automatic package versioning` to `Use an environment variable`
and
`Environment variable` to `Build.BuildNumber`

[2018-01-12 21:54] jessehouwing commented on #6136
Yes, that's what I did too, use environment variable BUILD_BUILDNUMBER does
the trick as well. Which is why I found the different behavior irritating,
hence the PR.

On 12 Jan 2018 22:53, "Justin Patterson" <notifications@github.com> wrote:

[2018-01-12 23:12] boklyn commented on #5985
sorry it took so long but yes that worked. Any chance you can update the description to indicate that because sometimes that is not obvious to others.

[2018-01-12 23:12] #5985 closed

[2018-01-13 00:35] williambernardet opened #6218 "VSTS linux build agent does not terminate child commands on cancel"
## Environment
Currently using TFS2017.2 with agent 2.117.2 on Linux Ubuntu

## Issue Description

When executing a command on a Linux VSTS agent, tasks do not handle properly signal propagation. So when cancelling a build, the agent sends a SIGINT to the NodeJS process executing the task (https://github.com/Microsoft/vsts-agent/blob/v2.117.1/src/Microsoft.VisualStudio.Services.Agent/ProcessInvoke

[2018-01-13 00:53] bryanmacfarlane commented on #6218
Should log this issue in the vsts-task-lib repo

[2018-01-13 01:34] williambernardet commented on #6218
Created new issue: https://github.com/Microsoft/vsts-task-lib/issues/306

[2018-01-13 05:08] neurospeech opened #6219 "Anonymous Web Hook for Build Trigger with external git source"
For external git source, the only way to setup build trigger is pull git source at regular interval.

External git providers such as gitlab.com and even self hosted git repositories provide simple web hooks. If there is a unique url to trigger build for external git source, it will be helpful.

Currently there are long workarounds to setup azure function, use vsts API with personal access token to

[2018-01-13 13:09] oclgithubdeployuser1 commented on #6194
FYI the Azure Function proxy workaround https://blog.tyang.org/2017/05/19/deploying-arm-templates-with-artifacts-located-in-a-private-github-repository/ requires a Github Personal Access Token, which does not work with 'public_repo, repo:invite, repo:status, repo_deployment' privs. It additionally requires 'repo: full control of private repos' privs, meaning that the deployment solution can delete

[2018-01-13 13:11] rswe commented on #6194
FYI the Azure Function proxy workaround https://blog.tyang.org/2017/05/19/deploying-arm-templates-with-artifacts-located-in-a-private-github-repository/ requires a Github Personal Access Token, which does not work with 'public_repo, repo:invite, repo:status, repo_deployment' privs. It additionally requires 'repo: full control of private repos' privs, meaning that the deployment solution can delete

[2018-01-13 23:09] rhyskoedijk opened #6220 "VSTest unable to locate VS2017 test agent (standalone)"
## Environment
- Server - TFS on-premises v16.122.27102.1
- Agent - Private: Windows 2012 R2, Agent v2.127.0

## Issue Description

- Task - VS_Test v2.1.9 (VS Test Agent v15.5.3)

Not sure if there is something wrong with my installation or not, but I was unable to get TFS to recognise my test agent installation (see attached screenshots).

![capture](https://user-images.githubusercontent.com/123

[2018-01-15 03:29] mrducnguyen commented on #5876
Thanks for your information.

I will need to call back to VSTS from our environment using PHP, I guess I can only use the JSON REST API. Can you link me to the REST APIs equivalent to the .NET library used in your snippet?

Much appreciate!

[2018-01-15 08:32] ShreyasRmsft commented on #6066
@cordialamit Closing this issue, please reopen if the tests are not run parallelly even on the latest test platform version

[2018-01-15 08:32] #6066 closed

[2018-01-15 09:22] bishal-pdMSFT commented on #5736
@NCarlsonMSFT , is this among your next planned items?

[2018-01-15 09:38] bishal-pdMSFT commented on #5537
PR #5962 is merged. It should be rolled out publicly in a couple of weeks.

[2018-01-15 11:35] nirlavi commented on #4185
Until this is supported natively, I created a Powershell script that can be used in a VSTS task after the VSTest task is executed that checks this.
@janpieterz  - if still relevant, this could help you with what you need.

Can be found here: https://github.com/nirlavi/vsts-helpers

[2018-01-15 11:57] sandorfr commented on #4143
facing the same issue since app insights is turned on.

[2018-01-15 12:21] manjunath6681 opened #6223 "##vso[task.uploadsummary] - Upload HTML file with javascript - doesnt work"
Using TFS 2017 on Prem
Agent runs on windows 7 Enterprise machine

Description :
  My requirement is to upload an HTML summary file to summary tab of TFS release at the end of my release. This file would display the MSIs and the versions installed in all servers like a summary.
I want to use a button to Toggle between hiding and showing the HTML content for which i have a small javascript(inthe sa

[2018-01-15 13:57] vincentdass commented on #4127
@hilfor , Can you please share the logs and Package size?

[2018-01-15 16:19] christophearg opened #6226 "Task not showing on vsts task list"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

   I'm using VSTS: ercg.visualstudio.com DriverPortal project. I'm trying to create a release for deploying to azure, but this task does not appear on the list of tasks. Is there a prerequis

[2018-01-15 16:23] lehne opened #6227 "AzureFileCopy fails when prefix ends in 0"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS

- Agent - Hosted or Private:
    Private- Windows

## Issue Description

When we use prefix that ends in 0, for example "myproduct/folder/1.0.7.0", the task fails with the error message below. The upload works

[2018-01-16 06:05] GitHubSriramB commented on #6226
@christophearg - which task are you trying to add?

[2018-01-16 06:13] sandorfr opened #6231 "Install an Apple Certificate Task fails with a cryptic error, Usability issue with Task Groups"
## Environment
VSTS 2017
Hosted Mac Agent

## Issue Description

When specifying the filename from a task group it fails with a cryptic error. The cause is that with the new UI it offers a dropdown and I guess the field value is mapped to the fileid. the thing is that the task group UI still lags behing and doesn't offer that convenience
![image](https://user-images.githubusercontent.com/2660262/3

[2018-01-16 06:18] ShreyasRmsft commented on #6073
Tracking this issue [here](https://github.com/Microsoft/vstest/issues/1361).

[2018-01-16 06:18] #6073 closed

[2018-01-16 06:57] vinodjo commented on #1268
As suggested above, closing the issue.

[2018-01-16 06:57] #1268 closed

[2018-01-16 07:49] pavanadepu2 commented on #6227
@lehne, I tried the same scenario, it is working fine for me. I am able to upload the file to a blob prefix of "myproduct/folder/1.0.7.0". Can you email the debug logs to RM_Customer_Queries@microsoft.com to analyze the issue further.

[2018-01-16 11:26] christophearg commented on #6226
I'm trying to add an Azure App Service Deployment task

[2018-01-16 13:30] vincentdass commented on #5259
For FILE_IN_USE issue, There are few recommendation that resolves the issue.

- Enable `Take App Offline` option. With `-retryAttempts:10 -retryInterval:6000` additional argument provides a reliability with retry.
- Enable `Rename locked files` option to allow MSDeploy to attempt to rename DLLs if they can't be copied during deployment
The above two options works for most of the cases.

![image](h

[2018-01-16 15:27] mkonars commented on #6147
I've got an answer from our administrator that there was a script running, which has removed too many files. I don't quite understand it, but for now I am closing the issue as it works fine.

[2018-01-16 15:27] #6147 closed

[2018-01-16 19:48] lehne commented on #6227
That is very strange. We were using a variable in place of the version number. Perhaps that was the problem. Are the debug logs just the log printout?

[2018-01-16 21:14] aus7d7 commented on #5983
Hi @sachinma we are not using machines on a VM scale set. Pardon my lack of knowledge here, but how do I run the release with system.debug variable set to true and access the logs?

[2018-01-16 22:30] aldoms commented on #6177
The issue with the task succeeding when it's clearly failing could be a bug. I would recommend upgrading to the v1 version of the npm task (if it's available in your TFS OnPrem version).

Can you confirm npm is in the machine-wide PATH? The agents run under the NETWORK SERVICE account, which could be using a different PATH that the one you updated.

[2018-01-16 23:06] aldoms commented on #6203
Hi,

I'm sorry you're having issues. Due to the way how we detect the config settings, your command line change isn't being picked up. The solution here would be to set the config via an environment variable and removing it from the command line in the custom step. I would also recommend using the Agent's work folder as the cache location. This way you get the benefits of the cache across builds,

[2018-01-17 05:38] bansalaseem commented on #6231
sandorfr, We have rewritten the task group UI and it is getting rolled out to various accounts slowly. Can you please share your account so that we can enable it for you and see that helps or not?

[2018-01-17 05:44] sandorfr commented on #6231
that's a great news, regarding the UI :)
I can PM that information somewhere.

I guess the fact that if we use a variable it still expects the opaque id instead of the filename still stands?

[2018-01-17 06:17] sachinma commented on #5983
You can define a variable in the release with the name "system.debug" and have its value set to true. After that next time when the task runs, it would be have debug logs. You can go to the logs section in the release and look at the task logs there.

[2018-01-17 06:18] sachinma commented on #6227
You can define a variable in the release with the name "system.debug" and have its value set to true. After that next time when the task runs, it would be have debug logs. You can go to the logs section in the release and look at the task logs there.

[2018-01-17 10:32] vinodjo commented on #6197
Thanks for you suggestion Rohit. I have added the request to our backlog, however at this stage it is relatively lower in our priority. In the interim, with the build id you can create build uri and use the API(s) below to get the run information for a build.
https://www.visualstudio.com/en-us/docs/integrate/api/test/runs#get-a-list-of-test-runs

[2018-01-17 10:32] #6197 closed

[2018-01-17 12:30] bansalaseem commented on #6231
You can drop a mail to RM_Customer_Queries at the rate of microsoft dot com.

[2018-01-17 13:01] filipczaja commented on #4863
We are experiencing the same issue when uploading over FTP to an Azure WebApp.
Do you have any workarounds apart from dedicated PS script?

[2018-01-17 16:21] christopherbauer commented on #5595
@Ajay-MS When is this going out to the rest of us? I have an entire build pipeline that can't function because we are using the strongly-typed settings object.

[2018-01-17 18:10] daveVSTS commented on #5914
Apologies for the late response.  I am looking into this now.  I will get back to you in the next few days.

[2018-01-17 18:30] NCarlsonMSFT commented on #5736
Yes, this is currently on my plate.

[2018-01-17 18:53] jcleavel commented on #5736
Awesome, thanks folks!

[2018-01-17 19:02] ericsciple commented on #5914
you can use macro syntax or env block in yaml (backlog item to add to designer)

[2018-01-17 19:03] ericsciple commented on #5914
or for public variables you can use powershell syntax to access the environment variable

[2018-01-17 21:39] RyanThomas73 opened #6245 "AppCenterDistribute - Support Absolute File Path"
## Environment
TFS On-Premises
Version 15.117.26615.0

Private Agents
Windows Server 2012 RT and macOS v10.12.6
Agent Versions: 1.105.6 and 2.117.2

## Issue Description
The [AppCenterDistribute](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/AppCenterDistribute) task uses the description *Relative path from the repo root to the APK or IPA file you want to publish* for the app file inpu

[2018-01-17 22:44] Tadimsky commented on #6210
Any update on this? I've now written a PowerShell script that will encrypt the values using the Cert from KeyVault and then modify the Application Parameters `xml` file, but it seems like this would be nice to not have to do...

[2018-01-17 22:52] ManuelGalindo opened #6247 "FTPS port is not used"
## Troubleshooting
i need to use FTPS and make sure is using the 990 port

## Environment
- VSTS Account: ntwc
- TP: Guitar
- Release Task: FTP task
-Agent: Hosted

## Issue Description

The FTP task seems is using the 21 port

### Error logs

FTP Task
2018-01-17T15:51:02.4361856Z Task         : FTP Upload
2018-01-17T15:51:02.4362043Z Description  : FTP Upload
2018-01-17T15:51:02.4362210Z Version

[2018-01-18 00:55] cserkaran commented on #375
Is it possible to overwrite System variables e.g. $Env:SYSTEM_DEFAULTWORKINGDIRECTORY in the powershell script using Write-Host

[2018-01-18 06:08] Ajay-MS commented on #5595
We have skipped deployment of one release (M128)  in between. Deployment of release M129 has been started and will be available in next 2 weeks to almost all rings.

 Though I will not recommend to run a pre release version. But for you info in case of it's blocking you below are the steps to achieve it.

Deploying copy of task by changing Task Id
1. Clone vsts-tasks repo
2. Open task.json file of

[2018-01-18 09:34] arjgupta commented on #6189
@evolcode , VstsTaskSdk is not present in psmodulepath at the time when your script execution begins, and so it will not be imported. The agent imports it for use in the context of the task, and right before the script execution begins, all commands imported from it are removed so that they do not conflict with names of functions that you may be using in your script. From the snippet you posted, I

[2018-01-18 10:00] aumanjoa commented on #2049
But if I want to use the files I copy than in an release how I can do that?

[2018-01-18 11:46] Zaniarr opened #6248 "vsts-npm-auth cannot find .npmrc file"
I have downloaded the vsts-npm-auth package [here](https://www.npmjs.com/package/vsts-npm-auth#install-and-run-the-tool) and followed the instructions

`npm install -g vsts-npm-auth`
`vsts-npm-auth -config path-to-your\.npmrc`

I try and run `vsts-npm-auth -config path-to-your\.npmrc` but it gives me a file not found error.
Not sure what i'm doing incorrect.

![capture](https://user-images.githubu

[2018-01-18 11:58] T-rav commented on #6247
You appear to have left the port off the FTP Service Endpoint or you forgot the protocol.

Your Server URL should look like ftp://ftp.auzrewebsites.windows.net:990
![config](https://user-images.githubusercontent.com/5384842/35097142-9f8530ae-fc57-11e7-9879-ad5285be8c4c.png)

[2018-01-18 12:49] ManuelGalindo commented on #6247
Let me test, but I already made whose changes and fails

[2018-01-18 12:54] roryprimrose opened #6249 "dotnet custom does not execute in the context of project directories"
- Server - VSTS
- Build https://watchium.visualstudio.com/Watchium/_build/index?buildId=1537&_a=summary
- Agent - Private: Windows 10, agent version 2.120.2

## Issue Description
I'm using 2.* beta of the dotnet build task to run a custom dotnet CLI. In this scenario, I'm using setversion from https://github.com/TAGC/dotnet-setversion

I have added the following to one of my projects.

[code]

My

[2018-01-18 13:02] emre-aki commented on #2967
Hey @bryanmacfarlane,

As for _that_, how shall one read these variables from a PowerShell script? Is doing a `$env:<variable_name>`going to return a `string`, or something like `System.Security.SecureString`? I need to be able to use that secret variable in a `.ps1` file.

[2018-01-18 14:29] bryanmacfarlane commented on #2049
Use a server artifact (not UNC share) on the publish side.

[2018-01-18 15:04] smokedlinq opened #6250 "DownloadSecureFile YML Support"
Environment:
   VSTS (msg me for tenant)
   Hosted VS2017 Agent

Using the YML build definition with the DownloadSecureFile task the following error occurs when trying to queue the build. Tried using system.debug = true but the build is never kicked off as queuing it fails.

[code]

[2018-01-18 16:30] thecontrarycat opened #6252 "Proxy Support in NuGetToolRunner2 does not honour Agent.ProxyBypassList"
## Environment
- Server - TFS2018

- Agent - Private Agent win7-x64-2.122.1 on Windows Server 2012R2

## Issue Description

In https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/Common/nuget-task-common/NuGetToolRunner2.ts the method prepareNuGetExeEnvironment() checks to see whether a proxy is configured on the agent (Agent.ProxyUrl).

However, it does not honour the associated proxy bypas

[2018-01-18 16:38] thecontrarycat commented on #6252
## Workaround

Note that it is possible to workaround this issue by setting the NO_PROXY environment variable on your build agent.  However, this is more problematic to maintain across multiple build agents compared to simply having the .proxybypass file in the agent root folder.

e.g. `SET NO_PROXY=domain.local`

[2018-01-18 16:57] daveVSTS commented on #5914
We intentionally removed this because of security concerns.  There is still work before we move this out of preview.  We wanted to prevent the easy path from leading to secret values getting logged/traced.

The best way to pass secrets is to use the env input. There is a backlog item to add this to the designer, which we will have before moving v2 of this task out of preview. Short of that, you ca

[2018-01-18 16:57] #5914 closed

[2018-01-18 16:59] bryanmacfarlane commented on #5914
The env block can be set in yaml.

@ericsciple - do we have a yaml sample how to use the env block?

That allows the script to use envvars instead of arguments which can get logged in various systems and options.

[2018-01-18 17:11] jerickmsft opened #6253 "Attempting to publish symbol packages should give helpful error message"
When attempting to publish a package and a symbols package, one will fail with a cryptic error message.  Instead, the user should be directed to [some symbol service instructions](https://blogs.msdn.microsoft.com/devops/2017/11/15/vsts-is-now-a-symbol-server/)

[2018-01-18 17:27] bergmeister commented on #5914
Release definitions cannot be defined in YAML at the moment. I am afraid this is not a solution at the moment.

[2018-01-18 18:06] alkampfergit commented on #6253
The error is the following: suppose we have a build where we create one or more nuget packages with generate symbols package activated

![image](https://user-images.githubusercontent.com/358545/35113388-8c15a7fe-fc81-11e7-8c3a-b65fa61e3761.png)

Now you configure the build to **push all packages to VSTS feed**

![image](https://user-images.githubusercontent.com/358545/35113471-c8581d32-fc81-11e7-9

[2018-01-18 18:10] pageflex opened #6254 ""Bind address needs a port" error when running Docker-Compose as agent on Linux Host"
## Environment
- Server - VSTS
    - Pageflex-pando-dev.visualstudio.com / Teamcity.DocumentReleaseNotes

- Agent - Private / Docker Azure Linux

## Issue Description
Docker-Compose build runs successfully when sshed in as the docker-machine default user, but when running as vsts agent, it fails with a port bind error.

**Failure**
![image](https://user-images.githubusercontent.com/35233719/351122

[2018-01-18 18:33] jerickmsft commented on #6253
@alkampfergit  What's the name of the task with the "Create Symbols Package" option?

[2018-01-18 19:55] keithrob commented on #6253
@alkampfergit ,
The root of the problem is that the Push wildcard pattern in is picking up *.symbols.nupkg and attempting to push it into the Feed.  Please change your pattern to [1] to exclude files with the suffix *.symbols.nupkg.

We have changed the defaults in the task to [1] and that change will be deployed to all accounts shortly.  I will take an action item to see if we can change the STDE

[2018-01-18 19:55] #6253 closed

[2018-01-18 20:11] aldoms commented on #6248
From the screenshot it looks like your file is missing the leading dot, can you confirm the file includes the leading dot?

The file should be named `.npmrc` or you could modify the path you're passing to vsts-npm-auth to not have the dot.

I think file explorer won't let you directly name the file `.npmrc` because it thinks it's missing the filename, so you'll need to do it through the cmd prompt

[2018-01-18 20:15] ggirard07 commented on #4496
Same issue here.
[code]

`WEBJOBS_STOPPED` with value `1` is defined at web app level for staging slot with `Slot Setting` checked to make it sticky.
After error occurs, there seemed to be no file on the remote folder (checked from kudu).
We use 3 different webjobs:

- 2 are console app built upon webjob SDK with queue triggers.
- 1 is console app not using webjob SDK and is cheduled by using a si

[2018-01-18 20:52] aldoms commented on #6249
There's no expectation for the dotnet task to cd into each proj directory found.

According to their README, for dotnet-setversion to work, dotnet should be invoked from the directory the .csproj is on. I think dotnet-setversion should be updated to use the parameters dotnet is called with (which our custom task provides) so that it can do the directory change on its own. I would contact the setve

[2018-01-18 21:44] christopherbauer commented on #5595
@Ajay-MS Ok on your recommendation I will not run the prerelease. Until then I suppose we will run a copy-item for the web.config via a post deploy powershell script and make a note to followup on this release in 2 weeks. Thank you

[2018-01-18 22:36] Tadimsky opened #6255 "ARM Deploy: Cannot read property 'artifacts' of undefined"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS
    - If using VSTS, provide the account name, team project name, build definition name/build number:
https://intentional.visualstudio.com/intent/Apps/_apps/hub/ms.vss-releaseManagement-web.cd-workflow-hub?defin

[2018-01-19 01:06] ManuelGalindo commented on #6247
I just changed the URL and we are getting the same behavior, if I put or use a secure port I got this error

##[debug]serverUrl=ftps://XXXXXXXX.ftp.azurewebsites.windows.net:990

2018-01-18T14:19:23.5328626Z connecting to: XXXXXXXX.ftp.azurewebsites.windows.net:990
2018-01-18T14:21:32.1384675Z ##[debug]ftp client error, err: Error: read ECONNRESET
2018-01-18T14:21:32.1385486Z FTP upload failed: Er

[2018-01-19 02:05] roryprimrose commented on #6249
Hi @aldoms. I have already raised that as an issue with setversion in order to support the way the VSTS build task invokes the custom CLI. We are now at the point of testing that updated CLI and this is where we are hitting the issue.

My understanding of the current state is:
- The CLI package is referenced via the DotNetCliToolReference element in a csproj
- dotnet cannot find the CLI when execu

[2018-01-19 04:38] roryprimrose commented on #6249
Ok, so reading https://docs.microsoft.com/en-us/dotnet/core/tools/extensibility#path-based-extensibility it seems like this setversion CLI is a project specific one. That would explain why the custom command can only be run in the context of the specific project.

[2018-01-19 05:30] jikuma commented on #6254
You are running docker client and docker host on a separate machine, but the client is not able to connect to docker host.
It seems that server URL in Docker host endpoint is not correctly set. Is this your server url : https://pf-docker-host.centralus.cloudapp.azure.com/
It should contain the port number where Docker host is running. By default it is 2376. You can refer [https://docs.docker.com/m

[2018-01-19 08:49] vincentdass commented on #6074
This issue is resolved and the fix will be available in upcoming deployment.

[2018-01-19 08:49] #6074 closed

[2018-01-19 08:49] vincentdass commented on #6054
This issue is resolved and the fix will be available in upcoming deployment.

[2018-01-19 08:49] #6054 closed

[2018-01-19 08:50] vincentdass commented on #5259
Closing the thread as the recommendation provided above should have resolved the issue.
Feel free to re-open the thread or new one if the issue is still persisting.

[2018-01-19 12:58] McMlok commented on #6185
I solved it. It was my fault. Task look for run setting file on agent machine not on target machine. When I setup correct path for agent machine it works.

[2018-01-19 12:58] #6185 closed

[2018-01-19 14:37] onionhammer commented on #5259
This is definitely a hack/workaround, not a very satisfying solution.

[2018-01-19 14:37] christopherbauer commented on #5595
The account is under upclear, thanks Ajay.

[2018-01-19 14:42] DaleMckeown commented on #5259
This also doesn't cater for people deploying to a regular IIS site, as
reported above.

Stopping an app pool, publishing a service, then restarting an app pool is
not a good process for people who have to publish an app to a single server.

On Fri, Jan 19, 2018 at 2:37 PM, onionhammer <notifications@github.com>
wrote:

[2018-01-19 15:04] rmarinho commented on #5259
Please reopen, stopping the website is not what one should be recommend to do.. We have production apps depending on 100% uptime.

[2018-01-19 15:52] pageflex commented on #6254
Actually, I think they are on the same machine. I'm not using a "hosted" task, but a task set to a private docker host that i deployed to azure.

I read the documentation you linked. I ran the command it asked me through docker-machine from my local machine. The commands I ran were windows centric.

![image](https://user-images.githubusercontent.com/35233719/35158419-9c5d16c6-fcfc-11e7-925a-b4d077

[2018-01-19 16:05] jikuma commented on #6254
You have deleted the old endpoint used in the task and created a new endpoint. You need to change docker host endpoint value in the task also.
![image](https://user-images.githubusercontent.com/23053847/35159536-92c9262c-fd60-11e7-9a17-40ccf0654ebb.png)

[2018-01-19 17:28] pageflex commented on #6254
Okay. Kinda fixed it. Set the host name in the service definition to the IP address and port. Build is successful, but when it tries the second task which is to push to the ACR, it errors out (log 24).

/usr/bin/docker -H https://52.176.45.116:2376 --tls --tlscacert='.dockercerts/ca.pem' --tlscert='.dockercerts/cert.pem' --tlskey='.dockercerts/key.pem' push pageflexacr.azurecr.io/raneto-linux:late

[2018-01-19 17:43] pageflex commented on #6254
I think the last part is related to this issue: https://github.com/docker/docker-py/issues/894

[2018-01-19 19:20] ManuelGalindo commented on #6247
Hello Team, after a Azure investigation we found this

https://blogs.msdn.microsoft.com/benjaminperkins/2017/09/27/using-ftps-with-azure-app-services/

Then seems we are using FTPS with the Explicit SSL

[2018-01-19 19:31] aldoms commented on #6252
I'm sorry you're having issues. We haven't updated our tasks to support the .proxybypass feature, we'll fix that in a later release.

[2018-01-19 19:56] lkillgore commented on #6067
Hi @jamesatgithub, are you sure that the error message is coming from the Xamarin UITest task?  That message appears to be coming from the MSBuild task.  Something you may want to try: upgrading to a newer version of NuGet (perhaps something like 4.5?).

[2018-01-19 21:33] markjsc commented on #6040
For what it's worth, I'm seeing the same thing here. My 3 NPM tasks (install, test, build) suddenly took 4+ minutes each - the 3+ minute delay and then execution. My build went from 6 minutes to about 18.
I switched to a command task so I didn't have to downgrade anything. Now we're back to a reasonable time.

[2018-01-19 23:38] keithrob commented on #6040
@markjsc & @erikrenberg,
We have observed this before with specific versions of NPM.  From the task's perspective, there is literally nothing going on.  The task spawns npm and waits for the return code.  Some versions of NPM seem to hang for a certain amount of time before giving the exit code back to the calling process.

Notice this line in the original post's debug.  Prior to running any comma

[2018-01-20 00:32] motowilliams commented on #3455
Is the the example at https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-phases.md#output-variables only Yaml build definitions?

Was looking into using this pattern in RM for getting output variables from an ARM deployment downstream to other phases but I can can't seem to figure out the magic incantation to solve this.

[2018-01-20 01:43] aldoms commented on #6205
It looks like msbuild detection is NuGet's responsibility: You can see a related [issue](https://github.com/NuGet/Home/issues/3085) on the NuGet repo.

[2018-01-20 09:35] hilfor commented on #4127
@vincentdass The last logs from the release process, the package size is about 20MB :
[code]

[2018-01-20 13:53] marceloavf opened #6258 "Error: Cannot find module in VSTS"
## Environment
- VSTS
precisaosistemas/InovaFarmaAPI/InovaFarama API

- Agent Private:
**Windows Server 2016 Standard**
**Agent version** 2.124.0

## Issue Description

I'm trying to use some node_modules inside my js task with gulp, but I don't know how to import it and use it. Do I need to install it global in agent to provide it or someway import it inside the project?

Link to the extension: h

[2018-01-21 02:04] cltshivash commented on #6220
@rhyskoedijk VSTest task needs Visual Studio to be installed on the machine. Test Agent is not supported with this task (installing test agent doesnt satisfy the vstest demand).  We are working on improvements to have VSTest work without Visual Studio installed. This improvement will be available on premise though a later update.

[2018-01-21 02:04] #6220 closed

[2018-01-21 02:15] rhyskoedijk commented on #6220
Ok, no worries. Hopefully support is improved in the future.

For anybody else that stumbles across this issue in the meantime, manually modifying the above vswhere.exe package name has worked perfectly for me running both VisualStudio tests (MSTest) and NUnit tests via the test adapter functionality.

[2018-01-21 04:14] vincentdass commented on #5259
Reopening the thread.
@onionhammer , @rmarinho , Is App_offline and Rename locked files option not resolving your issue?
@DaleMckeown , Are you referring to IIS App Deploy task?

[2018-01-21 05:38] NickMOrlando commented on #4143
I have also started seeing this issue after enabling AppInsights.

My workaround, as this is a dev environment with no deployment slots, is to:

1.  Stop the App Service,
1.  Run publish,
1.  Re-start the App Service.

It's not graceful, but it works.

[2018-01-21 16:40] onionhammer commented on #5259
@vincentdass It works around the core issue. A workaround is a temporary solution to a more fundamental problem. The fundamental problem is by default this task fails without a lot of monkeying around with the settings. Do you expect users in the future to simply search for a solution, find this post, and apply your workaround whenever people come across this in the future?

[2018-01-21 19:55] louislewis2 opened #6259 "Local IIS"
## Environment

- Server - VSTS
- Agent - Hosted

## Issue Description

I was tasked to change a build system from another online service, to now use VSTS.
The migration process so far was great, however I am now at the part where I need to deploy
an ASP.NET Core application to a local instance of IIS running on the build server, I used to
simply publish the project and then xcopy it to the IIS di

[2018-01-21 23:06] marceloavf commented on #6258
Just need to bundle up.

[2018-01-21 23:06] #6258 closed

[2018-01-21 23:56] davidmceleney commented on #5066
Installing 'xunit.runner.visualstudio' package fixed it for me in VS 2017...

[2018-01-22 02:32] TingtingAn commented on #6067
@lkillgore    please refer to this link  https://gyazo.com/0bf2b772751777cd7633008cb21d387a

it works for xamarin.ios build, but not for xamarin.uitest

[2018-01-22 02:51] cltshivash commented on #6220
@rhyskoedijk Definitely. For VSTS users, the test platform tools installer is already available for use which helps executing tests without needing to have Test Agent or VS installed. https://docs.microsoft.com/en-us/vsts/release-notes/2017/nov-28-vsts#test

[2018-01-22 03:09] AceHack commented on #5894
@ericsciple I'm still getting the error above on the hosted linux agent

https://github.com/Microsoft/vsts-agent-docker/blob/master/ubuntu/16.04/standard/Dockerfile

Any idea when I should see it working?

Thanks.

[2018-01-22 05:01] mrducnguyen commented on #5876
@bansalaseem  I have tried to 'reverse engineer' the package you linked in your blog post, I've reached to getting the resource using resource locator, but then sub-sequence calls always returned 500 Internal Server error from VSTS.

I also tried both this [https://github.com/Microsoft/vsts-rm-extensions/tree/master/ServerTaskHelper](library) and your code snippet with values on our VSTS task (ext

[2018-01-22 05:59] vincentdass commented on #5259
@onionhammer , I agree with your concern. We are currently working on an experience to enable the app offline feature and rename locked files options by default with retry attempts for MSDeploy in the release templates. Need to think through on enabling these options by default in the task, as App offline flag brings the app down for a time-interval and not accepted by others.

Now on the core pro

[2018-01-22 06:23] sandorfr commented on #4362
@bryanmacfarlane the sqlpackage version in the visual studio folder seems to be is a legacy version [(as explained here)](https://blogs.msdn.microsoft.com/ssdt/2016/06/30/changes-to-ssdt-and-sqlpackage-exe-installation-and-updates/) and with it we can run into [azure deployment issues](https://blogs.msdn.microsoft.com/azuresqldbsupport/2017/09/19/deployment-fails-with-unable-to-connect-to-master-o

[2018-01-22 07:16] HarishMS commented on #6231
sandorfr, the feature is enabled now.

[2018-01-22 07:32] sandorfr commented on #6231
Sweet, that's so much better! The old UI was driving me crazy. Thanks. Little feedback, it still lacks a `New Task Group` button ;).

With the new interface the problem now obvious :) It's impossible to use a variable which kinda defeats the purpose of tasks groups :(.

[2018-01-22 07:46] Ajay-MS commented on #4362
@sandorfr

In hosted agent,
Path of SQLPackage.exe in visual studio folder as follow (Legacy)
C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\130\SqlPackage.exe

Path of SQLPackage.exe with SQL Server ( Latest )
C:\Program Files (x86)\Microsoft SQL Server\140\Dac\bin\SqlPackage.exe

We have logic in task to select latest version of SQLPackage.exe  amo

[2018-01-22 07:48] DanielTheCoder commented on #6203
Hi,

thank you for the input.
We've tried it for one of our build definitions, isolation per agent is now working for us.

We are currently using the following build variable configuration:
`"NPM_CONFIG_CACHE" = "$(Agent.WorkFolder)\_temp\npm-cache"`

Additionally we have a custom build step to delete the npm-debug.log file at build start with powershell
` Remove-Item (Join-Path $env:NPM_CONFIG_CA

[2018-01-22 08:05] vincentdass commented on #4143
@sandorfr , @NickMOrlando
As you know, this error occurs when Application Insights Web jobs are in running state during deployment.
Can you try stopping the continuous jobs , deploy and start the jobs using the Azure App Service Manage task?

If there are no webJobs configured except Application Insights, You can enable `Exclude files from the App_Data folder` to skip deleting the jobs folder.

[2018-01-22 08:09] sandorfr commented on #4143
I'm already stopping the slot (that's standard procedure for me) and it does not mitigate the issue.
I also tried Excluding App_Data which did not seem to have any impact either.

Stopping the slot should be enough...

[2018-01-22 08:19] sandorfr commented on #4362
Yes it should definitely be up to date because Azure SQL Team expects it to be up to date:
![image](https://user-images.githubusercontent.com/2660262/35210972-7f29de50-ffa8-11e7-9d66-053aae4a975a.png)

I still think that a tool installer would ease the usage as it would make it easier for people using on premise agent to be up to date and it could put the right version in the path.

Regarding the

[2018-01-22 08:51] DaleMckeown commented on #5259
@vincentdass Yep.

[2018-01-22 08:53] vincentdass commented on #4143
@sandorfr , Stopping the App Service stops only the main site (more info [here](https://github.com/projectkudu/kudu/wiki/Full-stopping-a-Web-App)).  Since WebJobs and Extensions run on SCM site, they need to be stopped prior deployment. We recommend to stop the continuous jobs before deployment.

Also, Can you please share the debug (set `system.debug` = `true` and re-run the release) logs to `RM_

[2018-01-22 10:25] JonnyMattsson opened #6262 "Kubernetes: No way to specify namespace for secret"
## Environment
VSTS

## Issue Description

Adding a secret name in the kubernetes task will create a secret in Default namespace. There is no way to add a namespace.

Would it be possible to add an argument textbox just like it works for the kubernetes commands?

[2018-01-22 12:23] rudidlo opened #6264 "Coded UI test execution fails using a Test Run"
## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version: 2018

- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version: Windows Server 2016, Agent version 2.122.1

## Issue Description

We started using Coded UI tests. Our tests are working correctly if we execute them using "R

[2018-01-22 13:33] erikrenberg commented on #6040
(I upgraded to Node 8.9.4 with NPM 5.6.0 last week for other reasons, but that didn't improve the delays.).

I only have that version of Node installed on the build machine. Are you saying that adding a "Node Tool Installer" task with the spec 8.9.4 somehow could improve it? (sounds unlikely because the original logs already show a late Node-version being used).

I don't want to cherry-pick an old

[2018-01-22 13:58] r123aryan opened #6265 "Test execution in TFS 2017 agent is hanged when running the test cases"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:

[2018-01-22 14:18] Zaniarr commented on #6248
Thank you. that seems to have solved my issue!!!

[2018-01-22 14:19] #6248 closed

[2018-01-22 14:29] lkillgore commented on #6067
Hi @TingtingAn, thanks for your reply.  I apologize, but I'm still not sure I understand your situation.  The error message in your log looks to me like it's coming from the MSBuild task and not the Xamarin.iOS task or the Xamarin Test Cloud task.  When you edit your build definition, which is the task that's failing?

I'm guessing it's one of these 3:
![image](https://user-images.githubuserconten

[2018-01-22 14:41] ggirard07 commented on #4496
@vincentdass commented on a similar issue at #4143.
According to [this comment](https://github.com/Microsoft/vsts-tasks/issues/4143#issuecomment-359350694), `WEBJOBS_STOPPED` set to `1` should have solved the issue...
Looks like issue is still not completely resolved!

[2018-01-22 15:01] vincentdass commented on #4496
@ggirard07 , is this issue occurring consistently or intermittently?
Setting the WEBJOBS_STOPPED to 1 takes some time to take effect on SCM side.
Can you try stopping the webjobs using manage task?

[2018-01-22 15:10] ggirard07 commented on #4496
`WEBJOBS_STOPPED` is set to `1` on the staging slot we use to deploy our website updates. This app settings is always there (sticky on staging slot) and we never remove it so I don't expect it to take some time to take effect.

[2018-01-22 15:15] vincentdass commented on #4496
@ggirard07 , Can you share the latest release log, where it failed? To share the logs in private, send to `RM_CUSTOMER_QUERIES@MICROSOFT.COM`.

Also, make sure that the SCM site is not open in portal during deployment. This locks the current folder from deleting during deployment.

[2018-01-22 15:22] ericsciple commented on #5894
I would expect the change to make it to most, if not all public scale units by the end of this week.

[2018-01-22 15:23] ericsciple commented on #5894
the deployment hasn't progressed beyond the first ring of accounts yet (all internal accounts).

[2018-01-22 16:41] marceloavf opened #6266 "How to use gulp inside an extension"
## Environment
- VSTS
precisaosistemas/InovaFarmaAPI/InovaFarama API

- Agent Private:
**Windows Server 2016 Standard**
**Agent version** 2.124.0

## Issue Description

How can I use gulp inside and Javascript extension without need to carry it with the extension, it will save some and installation time.

Link to the extension: https://github.com/marceloavf/github-tools-vsts

[2018-01-22 21:27] madhurig commented on #6155
This feature has been enabled and will rollout with the next macOS VM update. We will post a timeline once we have a better idea.

Thanks,
Madhuri

[2018-01-22 21:48] ericsciple commented on #6250
check this doc https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-authz.md

if that resolves it, it sounds like we should add an fwlink to the error message.

[2018-01-22 22:09] remullig commented on #6164
Any update on this? This is currently a major pain point for our deployment.

[2018-01-22 22:14] ericsciple commented on #6250
Closing the issue. This isn't really an issue with any task in this repo. Email me ersciple if that doesn't resolve the issue (at microsoft com)

[2018-01-22 22:14] #6250 closed

[2018-01-22 22:19] ericsciple commented on #6266
You can use [tl.which](https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/vsts-task-lib.md#taskwhich) to find it in the PATH or use the [vsts-task-tool-lib](https://github.com/Microsoft/vsts-task-tool-lib) to download and cache it on the fly. As a reference example, I believe the nuget task in this repo will download specific version of nuget and cache it using the tool lib. Also the

[2018-01-22 22:19] #6266 closed

[2018-01-22 22:19] ericsciple commented on #6266
Note that if you go the tool-task-lib route, the solution will not work for internet-disconnected scenarios.

[2018-01-22 22:46] DirkBoer commented on #4496
I'm having the same problem. I wrote up a StackOverflow question here:

https://stackoverflow.com/questions/48330962/azure-web-deployment-task-failed-an-error-was-encountered-when-processing-ope

[2018-01-22 23:08] sandorfr commented on #4143
I'll give it another try in a future release and keep you posted if I still get the issue.

[2018-01-22 23:52] aus7d7 commented on #5983
Hi Sachin,
I am attaching the logs as a zip file. I will also send an email to the alias you suggested
[ReleaseLogs_6752.zip](https://github.com/Microsoft/vsts-tasks/files/1653986/ReleaseLogs_6752.zip)

[2018-01-23 00:23] marceloavf opened #6271 "How to get Endpoint API Token from GitHub Services"
## Environment
- VSTS
precisaosistemas/InovaFarmaAPI/InovaFarama API

- Agent Private:
**Windows Server 2016 Standard**
**Agent version** 2.124.0

## Issue Description

How can I get the token from GitHub Endpoint connection inside javascript ?

That's the code I'm already using:

[code]

But it returns 401 error

Link to the extension: https://github.com/marceloavf/github-tools-vsts

[2018-01-23 00:50] sandorfr commented on #4143
Btw, would you consider a PR adding the optional capability to stop and start the webjobs as part of the stop/start slots task?

[2018-01-23 04:27] weznagwama commented on #1928
Thread revival level = 100

Any news here? Discovering that my variable values (e.g. "text,one,two,three,four") is getting passed through as either:

* A single space-delimited string, the commas removed, or;
* null

Currently going through the motions of trying to escape/not-escape/single-quote-enclose etc. to figure out how to get this working.

[2018-01-23 04:28] sandorfr commented on #4362
@Ajay-MS I tried the path you indicated and it does not exist on  hosted 2017 agents (EAU region in the present case). It seems to be: `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\140\SqlPackage.exe`

[2018-01-23 04:43] bishal-pdMSFT commented on #6164
@remullig thanks for reporting the issue.
Before deploying the application instance, this task will first remove existing instance. And additionally as a precautionary measure it will forcefully drop all application replicas running on each node.
The issue is that when a node is down, SF SDK(which this task internally uses) throws exception while querying for replica on that node. This is not hand

[2018-01-23 05:16] vincentdass commented on #4143
@sandorfr , Stop/Start webJobs are available in Manage task.
![image](https://user-images.githubusercontent.com/20121508/35259225-8ff5f368-002a-11e8-909f-5ce43b03b162.png)

[2018-01-23 05:28] Ajay-MS commented on #4362
Hello sandorfr

**Available paths for SQLPackage.exe in Hosted 2017 Agent**
* C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\140\SqlPackage.exe
* C:\Program Files\Microsoft SQL Server\140\DAC\bin\SqlPackage.exe

**Available paths for SQLPackage.exe in Hosted Agent**
* C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensio

[2018-01-23 06:05] TingtingAn commented on #6067
@lkillgore   Yes, it is a MSBuild task.  Please refer to this link: https://gyazo.com/31030825ec30e05adea03f4c7471de57

In our solution, there is a xamarin.ios binding project. It is referenced by my Xamarin.ios project.
When build xamarin.ios project, it works well.  But it not work for xamarn.uitest build.
It gave us unsafe code issue.

[2018-01-23 08:17] michelmoorlag commented on #3510
Had the same error in VSTS Ios build after I added a new nuget source (telerik) to my nuget.config. I disabled the nuget restore option in the VSTS Xamarin.Ios build  task and the fixed the issue.

[2018-01-23 08:35] HeinzmeierDornbuschFeldhausen commented on #5931
All of a sudden I had this error even when using the old (non-sdk) project format for a f# project.

References didn't show up even though the project file included them. Cleaning bin and obj folders helped. Just in case someone stumbles on the same problem. Very weird.

[2018-01-23 09:12] arjgupta commented on #6169
@matslo , we have updated the hosted vs 2017 pool agent with azure powershell v 5.1.1. closing this issue.

[2018-01-23 09:12] #6169 closed

[2018-01-23 10:33] mauritsb opened #6273 "Cannot build Xamarin.IOS project on Mac -> missing parameterless constructor?"
This problem was mentioned in a wrong thread.
See issue here: [https://github.com/Microsoft/vsts-agent/issues/1373](https://github.com/Microsoft/vsts-agent/issues/1373)

[2018-01-23 10:39] vincentdass commented on #6208
Closing the thread, as there is no action item from team required.

[2018-01-23 10:39] #6208 closed

[2018-01-23 12:12] sachinma commented on #5983
hi @aus7d7 , from the logs it appears that the VMs are not associated with any public IP address. For the selection to work, we expect the VMs to be publicly accessible. Just to clarify further, this selection is meant to be consumed in a subsequent Run PowerShell on Remote Machine task to do the deployment where we expect them to be publicly accessible.

[2018-01-23 12:42] bryanmacfarlane commented on #6273
Pasting in context from the other thread

## Agent version and platform

Version of your agent?
2.122.1

OS of the machine running the agent?
OSX

## VSTS type and version
On-Prem TFS

If On-Prem TFS, which release
2017 Update 3

## What's not working?
I'm setting up a build environment for build our xamarin.forms apps via tfs builds. I've successfully set up the android build on a windows build m

[2018-01-23 13:36] NickMOrlando commented on #4143
@vincentdass Is there a similar option available for ASP.NET Core? I don't see that option in Publish Settings like I do in ASP.NET Framework

[2018-01-23 13:39] smokedlinq commented on #6250
Thanks, that seems to have resolved it: granted Project Collection Build Service (accountname) access to the secure file.

[2018-01-23 13:52] ericsciple commented on #6250
Explicitly granting the service account should not be required. Once it is enabled for use on the definition, it should be usable from any branch.

Are you using a vsts git repo, or a GitHub repo?

[2018-01-23 14:45] jshepler commented on #6208
You linked to an article, great, but that's not discoverable from the task. At the very least, the info popup for that option in the task should link to the article. Maybe even include it in the tasks's readme, https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/IISWebAppDeploymentOnMachineGroup

[2018-01-23 16:59] mackenziemi commented on #6177
I have confirmed that NPM is on the build node we are using. I have made sure that its registered in the PATH and runs from the command prompt. We are on version v0 of the NPM task. Can you point me to where I can find how to update to v1?

Thank you for your help

[2018-01-23 17:10] ggirard07 commented on #4496
@vincentdass I don't have it reproduced with the `system.debug` property. I will post it as soon as I get one.

[2018-01-23 18:11] vincentdass commented on #6208
sure, will do it.

[2018-01-23 18:15] lkillgore commented on #6067
Hi @TingtingAn, thanks for your reply.  Is there a reason why you're not building the uitest as part of the solution?  Have you tried using the Xamarin.iOS task to build the uitest (instead of MSBuild)?

Something that may help you out is to try running the command line that's run with '[command]' as part of the MSBuild step.  It may be able to reproduce the issue on your developer box (or on your

[2018-01-23 18:27] madhurig commented on #6273
The issue seems to be with restoring the nuget packages target .NET standard. You can see warnings in your logs:

2018-01-18T07:40:13.2365830Z   /Applications/AppsTFSAgent/_work/1/s/iProva/Mobile apps/Dev/iProvaCapture/iProvaCapture/iProvaCapture.csproj : warning NU1701: Package 'PCLCrypto 2.0.147' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETStand

[2018-01-23 18:59] PaulVrugt commented on #6273
The warning you mention doesn't have anything to do with the build error. The same warning appears on the vs for Mac and windows machine where the build does work, and I know the cause of the warning.  I have the latest version of vs for mac installed (installed last week). My colleagues can probably tell you the version of mono and nuget (they'll reply to this thread)

[2018-01-23 19:38] aus7d7 commented on #5983
Hi @sachinma. That is true that these VMs not have any public IP addresses and yes the intention is to consume them in the subsequent run powershell and remote machine tasks. However, our release agent is running in the same domain and environment as the VMs and all we need are the machine names which I would guess the "Azure Resource Group Deployment" task should be able to get, no? As a work aro

[2018-01-23 19:42] smokedlinq commented on #6250
I am using a VSTS GIT repo, the yml file I am updating is not in the master (default) branch. From reading the link you sent it looks like it needs to be there to be authorized. I'm trying to prove this out on a fork, I thought it had worked earlier but my CI build kicked off on the new branch and not my update.

[2018-01-23 19:50] smokedlinq commented on #6250
So I did verify, my yml build does work with the DownloadSecureFile when in the master branch. Also once it is in the master branch the other branches can access the file successfully. My problem was I was trying to use it from a non-default (feature) branch and PR it into master but couldn't get the build to succeed and satisfy the PR policy. For now I'll disable the PR policy, merge it, then re-

[2018-01-23 19:57] juniinacio commented on #6052
Hi thanks for the reply. Sorry for my late reactions, i was on vacation. What i finally did was using another vsts task to directly upload the certificate to the app service ons the template deployment is finished. I will close the issue if no further fix is needed, and this is by design.

[2018-01-23 19:57] #6052 closed

[2018-01-23 22:11] sandorfr commented on #4143
@vincentdass thanks for pointing at this. I'm a bit annoyed to have to add two more tasks to do what I would have expected to be part of the stop. But no worries I'll see to update our own azure task to include that feature.

[2018-01-24 03:16] sachinma commented on #5983
Hi @aus7d7  our current behavior is to select only public vms and not rely on having agent in the same network as the VMs. However, this could be valid enhancement in the task. + @RoopeshNair to look at this.

[2018-01-24 07:03] Tigerforce328 opened #6276 "Cannot publish results to TFS"
## Environment
- TFS on-premises, version: 15.117.26714.0
- Private agent: Windows_NT. Agent version: 2.117.2

## Issue Description
Task name: Run Functional Tests
Task was run about 6 hours. It has results on Agent machine. But, test status on TFS is "Aborted" without any information such as executed machine, run duration... It seems that the results status do not return to TFS

### Error logs
[l

[2018-01-24 07:27] vincentdass commented on #4143
@NickMOrlando , Can you enable web deploy option in task?
![image](https://user-images.githubusercontent.com/20121508/35319487-0a7f756a-0106-11e8-8f3c-8d7707db3fd5.png)

[2018-01-24 08:48] sanderaernouts opened #6277 "Updating from VSTest 1.* to 2.* reverts testassemblies setting to default."
## Environment
On-Prem TFS 2017 Version 15.117.26714.0

## Issue Description
When I update the VSTest task from version 1.* to 2.* using the dropdown in the build editor. It will copy most settings to the 2.* version of the task but the value of testAssembly is not copied. This seems to be caused by the fact that the testAssembly input paramater has been renamed to testAssemblyVer2.
![image](https

[2018-01-24 09:32] jikuma commented on #6070
#6278

[2018-01-24 09:32] jikuma commented on #5909
closing because of no response form customer.

[2018-01-24 09:32] #5909 closed

[2018-01-24 10:57] Tigerforce328 opened #6279 "Result directory is deleted automatically"
## Environment
- TFS on-premises, version: 15.117.26714.0
- Private agent: Windows_NT. Agent version: 2.117.2

## Issue Description
Task name: Run Functional Tests
I update the "runsettings" file to change the result location as below
    <RunConfiguration>
      <ResultsDirectory>C:\TR\</ResultsDirectory>
    </RunConfiguration>

However, after each running, the "TR" folder is deleted automatical

[2018-01-24 11:11] TingtingAn commented on #6067
@lkillgore  mmm, I cannot use a solution for MSBuild, because that xamarin.ios build need specify a certicate.   And msbuild works well before for uitest.  After added a xamarin.ios binding project, it gave us the error.

[2018-01-24 12:12] jikuma commented on #6070
Added option in advance section of the task to disable image name change and not depend on vsts to convert image name to docker convention.
![image](https://user-images.githubusercontent.com/23053847/35331535-cb63b062-012d-11e8-8fc4-a42111db2abf.png)

Will be rolled out with new version of task

[2018-01-24 12:12] #6070 closed

[2018-01-24 12:30] sujitks opened #6281 "Deployment target provisioning"
## Unable to find a way to remove deployment targets or build agent using api or script

## Environment
- VSTS

- Agent - Hosted or Private:

    Private

## Issue Description
We have requirement to provision deploy target and remove as per the demand
We want to provision new deployment targets and delete them when not needed. I have searched lots of the documentation but could not see any way to

[2018-01-24 12:42] vs6681 commented on #2567
Not sure

Regards,
Vikas

On Thu, Nov 2, 2017 at 3:16 AM, Jeremiah Towe <notifications@github.com>
wrote:

[2018-01-24 17:51] bergmeister commented on #5914
@daveVSTS @bryanmacfarlane
Release definitions and task groups cannot be defined in YAML at the moment. I am afraid this is not a solution at the moment.

[2018-01-24 17:52] aldoms commented on #6177
What version of TFS are you on? Depending on your version of TFS the v1 version may or may not be available. I believe it was introduced on TFS 2018.

[2018-01-24 17:57] lkillgore commented on #6067
Hi @TingtingAn, could you please explain what you mean when you say 'msbuild works well before for uitest'?

Also, did you try my other suggestions?  Could you explain their results?  Thanks!

[2018-01-24 18:58] ericsciple commented on #6250
Thanks for confirmation. Yes that is a painpoint today. We are working on changes that will enable resource-authorization on-push to any branch (vsts git repo only). Another longer term solution to the problem is a resource authorization experience in the web.

[2018-01-24 19:08] madhurig commented on #6271
Can you try
const githubEndpointToken = tl.getEndpointAuthorizationParameter(githubEndpoint, 'AccessToken');

Thanks,
Madhuri

[2018-01-24 19:28] aus7d7 commented on #5983
Hi @sachinma, Thank you so much for your help. Should I file an official feature request for this?

[2018-01-24 19:40] ameyagholkar opened #6283 "Can't pull secrets from KeyVault"
## Issue Description
We're using variable groups to link our keyVaults to our VSTS builds. As a side-effect of this, `Azure Key Vault` task runs to get the secrets from the linked vault. Since this morning, we're having issues with this task not being able to pull these secrets. The error we get is shown below.

### Error logs
[code]

Since this task isn't a task that we add explicitly into our bu

[2018-01-24 20:00] sawpresto commented on #2914
@yacaovsnc I'm using version 2.* in VSTS on a Hosted Windows agent (both VS2017 and Hosted) and it seems like I'm still getting the issue where in the logs it shows that it has removed all slashes and can't find the file at d:ar1aPartsUnlimitedARMTemplatesAppInsights.json only when doing a minimatch. I don't run into this error when running the Hosted Linux Preview. Here are the combinations I've

[2018-01-24 20:12] ameyagholkar commented on #6283
Never mind, it was a permission​s issue on our end.

[2018-01-24 20:12] #6283 closed

[2018-01-24 20:13] ameyagholkar commented on #6283
It'd probably help to add an explicit error message stating that there was a permissions issue though 👍

[2018-01-24 20:19] yacaovsnc commented on #2914
I see the matching logic has [changed](https://github.com/Microsoft/vsts-tasks/commit/9e7cd2700b4aa9a698a5789645febc01e5a3305a#diff-b19fe201640a3e02d32b36843afe0c16) recently.

I will route this to the right person to take a look.

[2018-01-24 20:21] sawpresto commented on #2914
Great, thank you! This is a bit time sensitive so if someone can take a look at this right away, I would appreciate it very much!!

[2018-01-24 21:11] lkillgore commented on #2914
Hi @sawpresto, thanks for pointing this issue out to us.  I was able to reproduce the issue, and we're working on a fix for it.  Sorry for the inconvenience.

[2018-01-24 22:26] sawpresto commented on #2914
Thanks, @lkillgore! Do you have an estimate of when the updated task will be released at earliest? Not sure if task updates fall within VSTS's release cycles.

[2018-01-24 22:36] lkillgore commented on #2914
@sawpresto, these tasks do fall within VSTS's release cycles, but we are eyeballing this for a hotfix outside of a normal release.  It's still early, so I don't want to say too much beyond that right now.  I'll try to see that this thread gets updated as decisions are made.

[2018-01-25 01:50] Teodelas opened #6284 "Azure Resource Group Deployment - How to pass subscription as a variable"
In a Resource Group Deployment task, I need to be able to pass the subscription / service connection information as a VSTS Build variable.  When I tried to pass the subscription ID, I got the error:
##[error]Required: 'fed7f475-6055-4e3c-8529-c1345df70589' service endpoint URL

What format should the service endpoint be in?

If you need additional info, I'm a MSFT FTE and my alias is teodelas.

[2018-01-25 02:43] aivendor commented on #6152
any new comments? I met same problem here.

[2018-01-25 05:21] sachinma commented on #6284
Subscription information is only read from service connection and service connection object cannot be passed as build variable. Can you explain why do you need to pass the service connection as build variable to help me understand your scenario better?

[2018-01-25 06:18] vincentdass commented on #6206
updated task help link

[2018-01-25 06:18] #6206 closed

[2018-01-25 08:54] mauritsb commented on #6273
Below are the current versions that we are using on the OSX build server.

- Visual studio community 2017 for Mac Version 7.3.3 (build 5)
- Mono 5.4.1.7
- NuGet 4.3.1.4445

[2018-01-25 09:27] omeshp commented on #6152
@aivendor Are you releases failing? Can you attach release logs?

[2018-01-25 09:53] lukas-ais commented on #6152
@omeshp You are right. It seems to be a retry.
I think the messages could be improved to understand the activities.
I would like to contribute. But I'm unable to identify the relevant code section. You you take me there?

[2018-01-25 10:09] aivendor commented on #6152
@omeshp You can check my release log here.
[releasefailure.txt](https://github.com/Microsoft/vsts-tasks/files/1663484/releasefailure.txt)

[2018-01-25 11:32] mwildenb opened #6286 "AzureResourceGroupDeployment not using the TFS Build Agent environment variables for the proxy"
We are using the "AzureResourceGroupDeployment" task for azure deployments. The task is used on a build agent behind a corporate firewall. The agent does not use the environment variables set for the internet proxy (HTTP_PROXY, HTTPS_PROXY, NO_PROXY). Is there any way to force the Tasks to use the Proxy for the Azure endpoints?

ENVIRONMENT
- TFS2017 - Update 2
Agent:
- Windows Server 2012 R2, Bui

[2018-01-25 12:33] Teodelas commented on #6284
I need a way to have a single release definition (ARM template) that can be deployed to multiple subscriptions.

From: Sachin Mangla [mailto:notifications@github.com]
Sent: Thursday, January 25, 2018 12:22 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Teo De Las Heras <teodelas@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/vsts-tasks] Azure Resource G

[2018-01-25 13:18] sachinma commented on #6284
Currently service endpoints are not supported as a build/release variable. Adding @GitHubSriramB for comments on whether that can be done or taken as a feature ask

[2018-01-25 15:52] ArieHein commented on #6281
@sujitks Try this:
https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/v2-windows#replace-an-agent

[2018-01-25 16:04] ArieHein commented on #6259
For IIS you need to install it physically on the build server.
Theres IISExpress that can also be used
Most IIS servers, if they weren't changed, will have a interpub\wwwroot folder in one of the drives (c: by default)
you can indeed install IIS using PowerShell, simple search in your favorite search engine will assist you with those details.

[2018-01-25 16:47] pavanadepu2 commented on #6259
Yes IIS is available on Hosted Agent. The default path of IIS is  $env:SystemDrive\inetpub\wwwroot.

[2018-01-25 17:08] pavanadepu2 commented on #6227
@lehne, did you get a chance to collect the debug logs. Please share the debug logs to analyze the issue further.

[2018-01-25 17:16] OrangeTimes opened #6287 "Run Test Assemblies Test Plan doesn't discover NUnit .Net Core unit tests"
## Troubleshooting
[log.txt](https://github.com/Microsoft/vsts-tasks/files/1664927/log.txt)

## Environment
VSTS: https://orangetimes.visualstudio.com/Sandbox
Build definition: Sandbox-ASP.NET-CI-TestPlan-CORE
Agent hosted: Hosted VS2017
## Issue Description
1. I need to be able to run unit test associated with manual test cases using NUnit (or xUnit). I was able to get this working on .Net Framew

[2018-01-25 18:30] mjring commented on #4906
@BiribiriJaNai We are running into a very similar issue with our private build agent with on-prem TFS 2018. What is your current workaround for now? Are you using an older version of the NuGet task? Were you able to find a solution that allowed using the v2.0 NuGet build task without requiring developers to check in the same nuget.config for each repo?

@alexmullans What is the latest on improveme

[2018-01-25 20:51] alexmullans commented on #4906
@mjring nothing scheduled that directly impacts this, unfortunately. That said, we're starting on a pretty comprehensive revamp of how NuGet (including dotnet and msbuild, when they do NuGet operations) handles auth, which will impact the current implementation of the NuGet task. For example, we may end up not generating a temporary NuGet.config at all. So, I don't think we'd take a change in this

[2018-01-25 21:10] sturlath commented on #6119
I would also like to know when this will work! I just move my nugets to .netstandard and then found out here that I can´t use symbols... so much missing... all the time....

[2018-01-25 21:34] madhurig commented on #6273
Can you please try using NuGet 4.5? I recently found that .NET standard packages were not being restored correctly with Nuget 4.3 and nuget 4.5 helped.

Thanks,
Madhuri

[2018-01-26 03:14] Tigerforce328 commented on #6276
Hi,
Any update on this issue? It still happens. I'd like to add more information:
The issue only happens with the "big" test suites. If we run a few tests, it works fine. If we run the full test suites (122 tests. Duration is about 6 hours. The result size is about 200 Mb). The results CANNOT publish to TFS. All test status on TFS are ABORTED although the local results are exist.
We attach the log

[2018-01-26 03:23] bryanmacfarlane commented on #6223
That's for simple markdown additions to summary.

For scenarios like this, you can create an extension.  Here's a sample:
https://github.com/Microsoft/vsts-extension-samples/tree/master/build-results-enhancer

[2018-01-26 09:54] daveVSTS commented on #6081
This post should guide you:
https://social.msdn.microsoft.com/Forums/en-US/24630cf3-d04c-4813-b102-3c275ba81e46/tfs-2017-how-to-call-a-function-in-a-powershell-script-and-pass-parameters?forum=tfsbuild

[2018-01-26 10:19] daveVSTS commented on #6081
More details, you can use the inline script option to invoke your powershell function, assuming your ps1 file is checked in at the root of your repo, use this as your inline function:

$(Build.SourcesDirectory)\MyFile.ps1 MyFunction

[2018-01-26 10:19] #6081 closed

[2018-01-26 12:42] #5915 closed

[2018-01-26 12:43] daveVSTS commented on #5915
Sorry it was busted, glad its working now!  Thanks for reporting it and following up.

[2018-01-26 12:49] daveVSTS commented on #5696
Are there any other agents running the index process to the same path at the same time?

[2018-01-26 12:57] lkillgore commented on #2914
Hi @sawpresto, this issue is fixed in this PR: https://github.com/Microsoft/vsts-tasks/pull/6289.

Also, we are doing a hotfix release, which should be rolled out with changes to M129.  I don't know when your account will receive the fix (we do staged rollouts, and I don't know where your account lies in the rollout schedule).

If you want the fix now, you can update the task on your own account a

[2018-01-26 13:12] daveVSTS commented on #6172
You will likely get better tracking posting on stackoverflow.  Issues not directly related to tasks are not likely to get traction in this repository's issues.

[2018-01-26 13:12] #6172 closed

[2018-01-26 14:29] StingyJack opened #6291 "Is there a logging command for informational or verbose messages?"
[This page](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md) lists an error or warning command, but I don't see any informational message command. Is there one present?

[2018-01-26 15:25] Storm9562 opened #6292 "vsts-npm-auth EPERM: operation not permitted erro"
## Issue Description
I am trying to upload a npm package to VSTS. However everytime I run "npm publish" I get an error. I'm really not sure if the issue lies with the vsts-npm-auth or if i'm doing something wrong. So I apologise in advance.

I will take you through the steps...(I initially follow the steps in the pic)

![capture123](https://user-images.githubusercontent.com/31470504/35445902-10de2

[2018-01-26 18:53] johnwhoffman opened #6293 "Test Results show all tests passing when using an ordered test when tests are actually failing"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

 TFS on-premises-2017
Private Agent- Server2012R2
Version 2.122.1

We use the run functional test task to execute an ordered test.
The run summary and test results show 1/1 tests passing but the trx file shows a failed test .

We are migratin

[2018-01-26 20:51] yaananth commented on #5961
![image](https://user-images.githubusercontent.com/12280011/35460081-a6bd0950-02b0-11e8-8633-dc48992853ad.png)

Where do you expect to see the progress?
We don't currently have a way to display progress for subtimelines.

I guess you could pump to the logs on the progress.

[2018-01-26 21:45] dahovey commented on #6119
Has anyone found workaround to this issue? Facing it as well with TFS 2017.

[2018-01-26 23:07] sawpresto commented on #2914
Great, thanks, @lkillgore!

[2018-01-27 12:43] cltshivash commented on #6279
@Tigerforce328  The results directory will be cleaned up after each run. The results publish will be taken care by the task. Is there a reason why you are looking for the results directory ?

[2018-01-28 12:33] tom-stones commented on #4457
I have a multilayer application with webjobs and webfunctions that are triggered by servicebus messages.  It is not safe for my application to have production and staging slots pulling from the queue at the same time - it could lead to sequencing issues.  I've tried stopping the production slot, starting the staging slot then switching, but that isn't allowed.   If we must have a rule here then sh

[2018-01-28 22:08] veccsolutions commented on #6119
I found a possible workaround, at least the debug symbols are built and indexed and they work when running everything on Windows (memory dumps and Visual Studio). Go to the properties of the project, ```Build```, change ```Configuration``` from whatever it currently is to ```All Configurations```, click ```Advanced``` and change ```Debugging Information``` from ```Portable``` to ```Full```. Check

[2018-01-29 02:44] Tigerforce328 commented on #6279
The problem is that when cleaning up the results, they delete the "TR" folder also. This folder is created manually by user. They should not delete it.

Regards,

[2018-01-29 05:13] Manvibha opened #6294 "Visual Studio test task fails to rerun failed tests when data driven testing is implemented for test automation"
Hi,

Issue:
I have configured Release definitions to run GUI test automation using Visual Studio Test task and have set "Rerun failed tests" to true i,e checkbox is checked.
I am executing GUI test automation scripts and have designed for data driven testing which executed same test method for multiple iterations.

Behavior:
Once test method is executed which is having 5 iterations. Lets assume th

[2018-01-29 08:51] sachinma commented on #6119
@arunkm I am assigning this to you to evaluate if the publish symbol task is supposed to work with .Net core

[2018-01-29 11:15] arjgupta commented on #6189
Hey @evolcode , were you able to pass arguments using the "script arguments" input ?

[2018-01-29 13:34] abhishkk commented on #6279
@Tigerforce328 This behavior is as per design. Results Directory is created (if not present) while test run and is deleted after test run is completed.

[2018-01-29 13:34] #6279 closed

[2018-01-29 13:45] abhishkk commented on #6276
@Tigerforce328
RFT task has internal timeout of 6 hours. You can override this timeout by adding timeout in testsettings.

Please add following in testsettings:
`<?xml version="1.0" encoding="utf-8"?>
<TestSettings name="TestSettings1" id="2ac68d7c-6e7e-4862-a377-e32c0d3f698d" xmlns="http://microsoft.com/schemas/VisualStudio/TeamTest/2010">
  <Execution>
    <Timeouts runTimeout="200000000" />
  <

[2018-01-29 13:48] ExcaliburVT opened #6300 ".Net Core (Preview) Restore fails 401 from TFS OnPrem Private Feed (TFS 2018)"
We have a brand-new installation of TFS 2018 on-prem and are trying to set up our private NuGet packages to restore during a build.  We are using the .Net Core (Preview) 2.* task with the feeds and authentication options.

I have the build set up with "Feed(s) I select here", "Use Packages from this VSTS/TFS feed" set to use our private feed, and the "Use packages from NuGet.org" checked.

Running

[2018-01-29 13:48] abhishkk commented on #6276
Closing this issue. Let us know if issue is unresolved.

[2018-01-29 13:48] #6276 closed

[2018-01-29 13:50] abhishkk commented on #6214
@Manvibha
RFT task has internal timeout of 6 hours. You can override this timeout by adding timeout in testsettings.

Please add following in testsettings:
`<?xml version="1.0" encoding="utf-8"?>`
`<TestSettings name="TestSettings1" id="2ac68d7c-6e7e-4862-a377-e32c0d3f698d" xmlns="http://microsoft.com/schemas/VisualStudio/TeamTest/2010">`
`  <Execution>`
`    <Timeouts runTimeout="200000000" />`
`

[2018-01-29 13:50] abhishkk commented on #6214
Closing this issue. Let us know if issue is unresolved.

[2018-01-29 13:50] #6214 closed

[2018-01-29 14:14] ExcaliburVT commented on #6300
Running procmon on our Build server has confirmed that the tempNuGet.config file IS NOT being written to the file system even though the log states that it is.  Since the config file does not exist it would not be able to pass the temporary credentials to the feed which is likely causing the issue.

[2018-01-29 14:46] ExcaliburVT commented on #6300
Installed a new Build Agent and have the same issue, the file does not appear to be created at all.

[2018-01-29 15:33] pageflex commented on #6254
Any updates on this issue?

[2018-01-29 16:46] AlexRukhlin commented on #6191
Hi @Troglodyte55

We have a work item in our backlog to allow usage of multiple repositories in a definition. Once implemented, this feature will allow you to use different repositories for code sources and provisioning profile files.

Unfortunately, we haven't yet any specific date for the work item implementation by now.

Alex

[2018-01-29 16:48] Troglodyte55 commented on #6191
OK @AlexRukhlin, thank you for clarification

[2018-01-29 17:45] hegold opened #6301 "Utils.getError should JSON.stringify the error so it is readable"
## Issue Description
Using the Azure Resource Group Deployment task in VSTS on a hosted 2017 agent, we are presented with an unhelpful error message.

![image](https://user-images.githubusercontent.com/13440904/35525043-3709422a-04d8-11e8-98b8-4c24c27ee131.png)

It would be useful if the error object was stringified before being logged. [Utils.getError](https://github.com/Microsoft/vsts-tasks/blob

[2018-01-29 18:24] ericsciple commented on #6189
+1 the vsts task sdk is for task authors, not ad-hoc scripts.

[2018-01-29 20:20] inverted360 opened #6302 "Feature: ability to set a release variable ("##vso[release.setvariable variable=varname;]$value")"
General availability to set a release variable from within a powershell script path/ inline script would appeal to many.

Overview: I want RM to leverage a dynamic number of test agents for automated testing. The test agents are always contained by a known resource group, but quantity and names may change. For cost saving, the test agent VMs do not need to run outside of the testing that is orches

[2018-01-29 23:07] CameronVetter commented on #5566
What is the timeline for this deployment?

[2018-01-29 23:49] cschertz commented on #6284
Just want to second this request.   In our case the issue is trying to avoid maintaining different build definitions for different azure environments  China and Germany where separate AAD and Sub is required.

[2018-01-30 03:05] Tigerforce328 commented on #6276
Thanks abhishkk for this information.
However, in this context, I use the "runsettings" file. Can I put the "timeout" setting in this file also.
I attach my "runsettings" file for your reference.

Thanks,
[RunSetting1.zip](https://github.com/Microsoft/vsts-tasks/files/1676255/RunSetting1.zip)

[2018-01-30 07:01] vincentdass commented on #5566
The deployment is currently in progress and the fix will be available in 0.0.23 task version.

[2018-01-30 08:54] azarj opened #6306 "Run tests in parallel with vsts-task and Selenium Grid"
Hello,

I'm using TFS on-premises.
I have an agent installed on a machine with 2 processors.
I use a build definition to run selenium webdriver tests in parallel over a Selenium Grid setup. The step to run the tests is Visual Studio Test version 1.

The problem is that no matter the number of nodes on Selenium Grid, only 2 tests will run at a time (the tests are sent, randomly,  to all the nodes,

[2018-01-30 09:26] abhishkk commented on #6276
@Tigerforce328 Sorry but you can add timeout from testsettings only.

[2018-01-30 09:43] Tigerforce328 commented on #6276
So, is there any solution for my case? I need to run some tests on vNext (by RFT task) that take more than 6 hours to finish.
I think other users might meet this case also.
Do you have any idea?

Thanks

[2018-01-30 10:09] ds-ms commented on #6301
Thanks for reporting this, you could enable the debugging logs in order to check for the response code and stuff until then for debugging.

[2018-01-30 10:23] abhishkk commented on #6276
Sorry but for long running tests taking more than 6 hours, overriding timeout via testsettings is the only option currently.

[2018-01-30 10:54] jikuma commented on #6254
Did you tried setting server url as  "tcp://52.176.45.116:2376".
If you using DOCKER HOST endpoint you dont need to specify  DOCKER_HOST variable.

[2018-01-30 11:11] PaulVrugt commented on #6273
Hello,

I've updated nuget to 4.5, but it doesn't seem to help.
Besides this, is there any way to show the version of nuget used in the "xamarin.ios" task?

When using a separate "nuget restore" task, it lists the version used (this one uses 4.0.0 so it fails, and I can't seem to point it to 4.5, even when it is installed on the mac).

However, I cannot verify nuget 4.5 is used when performing the

[2018-01-30 13:00] pageflex commented on #6254
I'm not using DOCKER_HOST variable at all. the VSTS is defining everything. the Host is registered as a service with VSTS. I then define my build. The tasks use the host registration to extrapolate. The only half works with the host registered as I have registered it (the sub-task is using Docker-Compose). The ACR push is not working (because it is using Docker).

The Host definition in VSTS is at

[2018-01-30 13:17] jikuma commented on #6254
Can you try setting server URL in Docker Host endpoint used in task as "tcp://52.176.45.116:2376" instead of https://52.176.45.116:2376. Let me know the outcome.

[2018-01-30 13:18] #6254 closed

[2018-01-30 13:41] pageflex commented on #6254
yes. This finally works with tcp:// defined, but I don't feel it should be closed. A) None of the tutorials state that you must use tcp and show https. Docker-Compose works with https but docker commands do not. Since the definition is with VSTS and you can mix and match sub-tasks, I feel that it would be a better user experience if the scripts should deal with the transformation of the service en

[2018-01-30 14:35] jonnovaretti opened #6313 "[VS-OnLine] Build/Release Error: Config is missing for service"
## Environment
VSTS

- Agent Private:
Windows

## Issue Description

I'm trying to create a build and release to a actors service in Visual Studio Online. I already created build and release to anothers services fabric without problem. But with this specific service I getting the error below:

The BuildLayout of the application in E:\SFabric\SP\SP2DS\Fabric\work\ImageBuilderProxy\AppType\Scheduler

[2018-01-30 18:13] steelerc opened #6314 "Visual Studio Build Task fails on logging when any filenames contain [ or ]"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
VSTS

## Issue Description
If a solution has any project with a filename containing either of [ or ] the build process succeeds, but is marked as failed.  Actual build step logs show:
2018-01-30T16:13:36.3337662Z Build succeede

[2018-01-30 18:24] KostaVlev opened #6316 "Publish VsTest Results Error: Failed to publish test results: Data at the root level is invalid. Line 1, position 1."
## Environment
- Server - VSTS

Build: 20180130.36
Task: Publish VsTest Results

- Agent - Hosted:

Name: Hosted Agent

## Issue Description

Publish VsTest Results Error: Failed to publish test results: Data at the root level is invalid. Line 1, position 1.

Settings:

![untitled](https://user-images.githubusercontent.com/10883826/35583441-ebc2d1da-05bf-11e8-8d09-064891249645.png)

Result from Vs

[2018-01-30 21:42] madhurig commented on #6273
@PaulVrugt: Sorry you are still having issues. "Xamarin iOS" task will use the default version of "nuget" that is in the PATH. You can run "which nuget" on the macOS build server to find it's location or just run "nuget" on the terminal.

Can you try running "dotnet restore" and see if it works for the .NET standard 2.0 packages? Similar issue is described here:
https://developercommunity.visualst

[2018-01-30 23:42] am11 commented on #5066
In terms of PowerShell, VSTS `Visual Studio Test` task ends up invoking something like:

[code]

With xunit tests, we get lots of:

Couldn't make it work with `/EnableCodeCoverage` locally or on VSTS. Without that option, it just works 😞

[2018-01-31 05:34] Manvibha commented on #6214
Thanks, I checked that option. However, I do not use Testsettings for my execution, shouldn't this be independent of such settings?

regards,
@Manvibha ~Mahendra

[2018-01-31 05:41] abhishkk commented on #6214
@Manvibha Sadly for longer running tests (more than 6 hours), overriding timeout is possible from testsettings only.

[2018-01-31 06:48] AceHack commented on #5697
@vijayma @bryanmacfarlane 1709 is also a Windows 10 Desktop version as well, please support building 1709 nanoserver based docker images, this is a big limitation of the hosted agents.

[2018-01-31 10:01] PaulVrugt commented on #6273
@madhurig

I can confirm the default version of nuget on the mac (in the path) is now nuget 4.5, so that doesn't seem to be the issue

running dotnet restore on the solution i'm trying to build shows some errors.
[dotnetrestoreoutput.txt](https://github.com/Microsoft/vsts-tasks/files/1681208/dotnetrestoreoutput.txt)

The issue in the link you gave me doesn't seem to be related to this issue. In th

[2018-01-31 10:05] vincentdass commented on #5566
@CameronVetter , Can you share the type of your web app? (Windows/Linux / Linux container)?
Can you share the whole error message for debugging?

[2018-01-31 13:33] Mardoxx opened #6323 "XBode build exportPath"
If we set the export path as something which does not end in `*.ipa` it exports to `_XcodeTaskExport_`
https://github.com/Microsoft/vsts-tasks/blob/54355de733c2702855627d46a94fff3f7195371d/Tasks/Xcode/xcode.ts#L413-L415

I don't want it to. So I put a path with `*.ipa` in it expecting it to export to this directory. It doesn't, it exports to `/path/wahtever.ipa/foo.ipa`!

This should be rewritten

[2018-01-31 15:13] CameronVetter commented on #5566
This is a Linux web app using the PHP 5.6 runtime stack container.  The full output of that task is:

`2018-01-29T23:28:02.7034650Z ##[section]Starting: Swap Slots Stage and Prod
2018-01-29T23:28:02.7109159Z ==============================================================================
2018-01-29T23:28:02.7128340Z Task         : Azure App Service Manage
2018-01-29T23:28:02.7143576Z Description  :

[2018-01-31 15:44] PaulVrugt commented on #6273
@madhurig

I've done some more investigation, and it seems a reboot of the mac and restarting the build agent has fixed the issue. The build now succeeds and uses the correct version of .net standard

Thanks for your help!

[2018-01-31 16:35] madhurig commented on #6273
@PaulVrugt: Thanks for posting your solution. If reboot helped, I am curious if you were running into some nuget client issue that got resolved by reboot.

We have found that with .NET standard DLLs, running both dotnet restore and nuget restore with latest version of nuget (4.5) helps get the right set of packages installed. In VSTS we have a task to install latest version of nuget and run nuget

[2018-01-31 16:35] #6273 closed

[2018-01-31 18:20] madhurig commented on #2914
@sawpresto: Can you let us know if the issue is resolved for you? We issued a hotfix last week.

[2018-01-31 18:38] OrangeTimes commented on #6287
Any help on  how to setup it to make it work. I also tried using vstest.console.exe located in C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions
mentioned here but receive next error

[code]

[2018-01-31 19:23] janpieterz commented on #6294
Encountering this too, don't think it has to do with data driven testing, just switching a normal unit test project to retry on failure and getting this.

Pretty annoying, it succeeds because of this, resulting in succeeding builds that should have failed.

[2018-01-31 19:36] strand commented on #5021
![Kermit waving hands and saying Yay](https://media1.tenor.com/images/afc199aba63308be9826b60cfc574653/tenor.gif?itemid=8712171)

[2018-01-31 20:48] bradyguy opened #6328 "hostedMac Preview failed Error: Failed which: Not found mono: null"
Error getting iOS Xamarin project to build.  Mono not found.
## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:
 thrivehealthcarellc.visualstudio.com
orangeburst
ios_dev_daily_ipa
 #1.1.0.2803

- Agent - Hosted or Private:

    - If using Host

[2018-01-31 21:26] sagoo33 commented on #5566
For the last two days I have been getting swap errors using my VSTS task on multiple sites.
Trying via the Azure portal is also giving the same error:

This is a windows based web app.

"statusMessage": "{\"status\":\"Failed\",\"error\":{\"code\":\"ResourceOperationFailure\",\"message\":\"The resource operation completed with terminal provisioning state 'Failed'.\",\"details\":[{\"code\":\"BadRequ

[2018-01-31 21:27] burndeal opened #6329 ""Deploy Service Fabric Application" uses Diff Package even when set to false"
## Environment
- Server - VSTS
- Agent - Hosted  VS 2017

## Issue Description
I am using the "Deploy Service Fabric Application" task v 1.5.0 to do a rolling upgrade of my application.
Before today, this was working, but now with the same exact code, my build is failing to upgrade, and it errors out while creating the diff package:

[code]

I'm not sure what that error means because that folder d

[2018-02-01 02:54] Tigerforce328 commented on #6279
Hi abhishkk,
Is there any (hidden) setting to stop deleting HTML results automatically? We need these HTML files to for reporting tasks. Then, we will delete them manually.

[2018-02-01 03:14] abhishkk commented on #6279
@Tigerforce328
Test results are uploaded as attachments to test run hub. After upload is successful, we delete the result directory. You can download those results from the test run hub. I hope this will help in your scenario.

There is no hidden way to stop deleting html results as its part of clean up process after successful upload to test run hub.

[2018-02-01 03:59] ganesp commented on #6294
@Manvibha , @janpieterz
Rerun for data driven tests is not supported at present.
It is on the backlog and fairly high on the priority list.
Also, this limitation is called out in the release notes here: [Identify flaky tests](https://docs.microsoft.com/en-us/vsts/release-notes/2017/dec-11-vsts#identify-flaky-tests)

[2018-02-01 07:01] mikefourie commented on #2326
@atinb any eta on a fix for this or any workaround? Seeing it with TFS 2017.2

[2018-02-01 07:14] janpieterz commented on #6294
@ganesp Do xunit tests with autofixture and automoq qualify as data driven unit tests?

[2018-02-01 08:59] jimmywim opened #6335 "AzureRM.Profile or AzureFileCopy not loading command aliases"
## Environment
VSTS

- Agent - Hosted or Private:
Private.
This works fine on Hosted, but I want to use the private agent as it's much faster.

## Issue Description

The AzureFileCopy VSTS task loads in the AzureRM.Profile.psd1 file, but this fails to load the aliases located in StartupScripts\AzureRmProfileStartup.ps1. This makes the AzureFileCopy command fail when it tries to call "Select-AzureR

[2018-02-01 12:50] philshur opened #6339 "Boolean parameter not being loaded from parameters file during deployment"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS

    - If using VSTS, provide the account name, team project name, build definition name/build number:
1id, Starling, AccountSupervisor/20180126.7

- Agent - Hosted or Private:

    -  Hosted agent, queue name:

[2018-02-01 13:14] boevink commented on #6339
We also have this issue. Templates and parameter files are not changed and worked with version 2.2.17 of this task.
This week the task was upgraded to version 2.129.3 and we are not able to deploy these templates anymore.

[2018-02-01 14:34] boevink commented on #6339
Issue only occurs if the bool parameter has a value of false.
In case of a value of true, the task runs successfully.

This is caused by sanitizeParameters:
`if (!!parameters[key].value) {`
[ResourceGroup.ts line 382](https://github.com/Microsoft/vsts-tasks/blob/fdc3d7ddbd2a598df2939fa7de8fdb65c040ee5b/Tasks/AzureResourceGroupDeployment/operations/ResourceGroup.ts#L382)

In case of a param value o

[2018-02-01 17:49] bruno-kzsoftworks commented on #5601
And which are these set of steps to close processes? Im facing the same issue.

[2018-02-01 17:57] heaths opened #6342 "Cannot override default Docker memory limit"
## Issue Description

For some workloads, the default memory limit for Docker `build` and `run` tasks of 1GB is not enough. It would be nice to override this in those tasks (perhaps "hidden away" under the **Advanced** section). Error handling could be delegated to Docker itself that will fail if not enough memory is available below the set limit.

[2018-02-01 20:43] elmalakai opened #6344 "Azure Web App deploy fails, Error Code: ERROR_INSUFFICIENT_ACCESS_TO_SITE_FOLDER"
## Environment: VSTS
- Account: digitalsolutionsllc
- Project: Quanta
- Build Def: QuantaWebAPI_Dev_BuildDefinition
- Build Number: 877

- Agent - Hosted VS2017

## Issue Description
Receiving intermediate deployment failures from Azure App Service Deploy, revolving around deleting a file "**dotnete-aspnet-codegeneratore-design.exe**".

I'm using  version 3.*, and I have enabled the following:
 -"

[2018-02-02 02:36] MirzaSikander opened #6348 "Docker task: 'RUN mv' command removes the contents of the directory being moved."
## Environment
- Server - VSTS or TFS on-premises?
VSTS

- Agent - Hosted or Private:
Hosted

    - If using Hosted agent, provide agent queue name:
Hosted Linux Preview

## Issue Description
Repro steps:

1. Create a bash task with inline script. Version 3.*
[code]

2. Create a docker task, version 0.*

- Action: Build an image.
- Docker File: repro-dockerfile

3. Save and queue.

Expected:
File

[2018-02-02 03:12] kmkumaran commented on #6291
There is no commands for information or verbose. Any output you put in console using write-output or write-verbose from your script can meet your needs here. Adding @ericsciple

[2018-02-02 03:32] #6223 closed

[2018-02-02 04:06] jikuma commented on #6342
You can always use 'Run Docker command' in such cases and specify your command. Docker task UI is already complex and we don't want to unnecessarily make it more complex for the user. Adding @azooinmyluggage to check the feasibility.

[2018-02-02 04:30] jikuma commented on #6348
Can you try using COPY (https://docs.docker.com/engine/reference/builder) instead of MV. I cant see MV as a well know dockerfile instruction.

[2018-02-02 04:44] bishal-pdMSFT commented on #6329
PR #6326 is already merged to fix this. It will roll out to customers in a couple of days.

[2018-02-02 04:45] arjgupta commented on #6335
@jimmywim , aliases are imported as part of importing the AzureRm module. Try reinstalling azure powershell and make sure to not have open powershell session at that time and if the installation prompts you to restart the machine, do it. If you continue to face this issue, please follow up with the azure powershell team [here](https://github.com/azure/azure-powershell)

[2018-02-02 04:54] vincentdass commented on #5566
@sagoo33 , Can u ping the application URL of the slots and retry the swap?
There seems to be an issue with restarting the app service.

[2018-02-02 05:22] bishal-pdMSFT commented on #6313
@jonnovaretti , I assume you are getting this error while building sfproj. Have you tried building the project locally first using visual studio? It seems your sfproj does not have proper reference to new service project. See [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-manage-application-in-visual-studio) to follow steps.

[2018-02-02 05:51] bishal-pdMSFT commented on #6300
temp nuget config file seems to be getting created for my test Release.
Adding @pspill

[2018-02-02 06:12] ds-ms commented on #6339
@boevink thanks for identifying the problem correctly, I've raised a PR to fix it. The fix should be rolled out by tomorrow.

[2018-02-02 06:12] ds-ms commented on #6339
https://github.com/Microsoft/vsts-tasks/pull/6349

[2018-02-02 10:43] ds-ms commented on #6300
@ExcaliburVT could you set `System.Debug` variable to `true` and upload the logs for your failure.

[2018-02-02 14:01] ds-ms commented on #6300
@ExcaliburVT before you run it again; could you also verify if you have permissions to access the feed?
 You can find this tab inside feed settings of your feed.

[2018-02-02 14:04] ExcaliburVT commented on #6300
The whole team is set as Reader and the Build Agent actually works publishing to the feed (which is the same agent running the restore that fails).  I'm working on the debug build right now, should have the log for you shortly.

[2018-02-02 14:23] StingyJack commented on #6291
No, not tags. Just trying to write information to the log from a script.  Write-Verbose only does so when debug is turned on, and Write-Output seems less reliable (and less appropriate) than Write-Host in capturing the messages, but even Write-Host sometimes doesn't capture.

[2018-02-02 14:51] ExcaliburVT commented on #6300
Sorry it took me so long, I had issues reproducing and may have found another bug.   After deleting the Nuget.config file from the root of my solution and changing the build definition to use the feed it was still not breaking.  Changing the "Disable local cache" had no effect either.  I was forced to log into the build agent machine and manually delete the cache from the user\.Nuget and AppData\L

[2018-02-02 15:21] heaths commented on #6342
Which is why I put it in the advanced section. You already expose just about everything else available for the build command. I am using the "run command" in the meantime, but why have any higher level tasks like "build" or "run"? They provide abstraction and some validation and make it easier to use especially for people that don't know Docker well. This seems like a good fit and will make it eas

[2018-02-02 16:28] AlexRukhlin commented on #6328
Hi @bradyguy ,

Thanks for reporting the issue. To investigate it, we need more information.
Could you please run the build with the `system.debug` build variable set to `true` and provide us with the failed build logs?

Thanks,
Alex

[2018-02-02 16:32] AlexRukhlin commented on #6328
Also, we'd like to know:

1. Which (if any) build definition template have you used creating your definition?
2. Which (enabled) tasks are used by your definition - in order?

Thanks,
Alex

[2018-02-02 16:52] madhurig commented on #6328
@bradyguy :
Can you please try selecting the version of Mono you want to use as referenced [here](https://docs.microsoft.com/en-us/vsts/build-release/concepts/agents/hosted#q--a) and see if it helps?

[2018-02-02 17:31] bradyguy commented on #6328
@AlexRukhlin  I took over this build from another team working on the build.  There are a number of task in the build definition see screen shot.  system.debug set to true and logs attached.

I started a new build definition, used the xamarin template and it appears to build correctly when I check the use iOS Simulator box.  Could be that as I get this new definition working using the template I m

[2018-02-02 17:55] bradyguy commented on #6328
@AlexRukhlin using the Xamarin build template I get the following error when I deselect the build with iOS simulator checkbox.

Xamarin.iOS task failed with error Error: /Library/Frameworks/Mono.framework/Versions/Current/Commands/msbuild failed with return code: 1. For guidance on setting up the build definition, see https://go.microsoft.com/fwlink/?LinkId=760847.

I am looking at this article an

[2018-02-02 18:04] madhurig commented on #6328
@bradyguy: It looks like you are using NuGet 3.5 which is the tool having trouble finding mono. Can you try updating to a newer version of NuGet and see if it helps? There is a task that allows you to download a newer version of NuGet during your build: https://docs.microsoft.com/en-us/vsts/build-release/tasks/tool/nuget

Thanks,
Madhuri

[2018-02-02 19:01] iyerusad commented on #357
I know this is an ancient issue, but i found using the Shell Script task with following content worked for me:
`bower install --allow-root`. Dropping a note if anyone else stumbles into this in 2018 or later.

[2018-02-02 19:51] AlexRukhlin commented on #6323
Hi @Mardoxx,

Thanks for reporting this issue. We've added it to our backlog and are expecting to fix it in the next version of the task.

Alex

[2018-02-02 19:53] pspill opened #6357 "dotnetcore build task should warn or error when setting up authentication for an http package source"
## Environment
Users are reporting this issue on-prem using private windows agent.

## Issue Description

This issue affects users a) in on prem environments, b) performing dotnet restore in build c) targeting a VSTS package source using http instead of https.

The build task does write credentials to a temporary nuget config, but during restore, the basic authentication header will not be emitted

[2018-02-02 20:02] pspill commented on #6300
@ExcaliburVT The dotnet and nuget build tasks use an access token to communicate with vsts package sources, and these credentials are written to the temporary nuget config created by the build task. However, in order to use that access token, the package source must be specified using an https connection -- if the source is http, then the auth header is simply not attached to requests and the requ

[2018-02-02 20:02] pointtoken commented on #5566
This seems to be back, even with doing a curl on the staging instance before swapping.

[2018-02-02 20:06] ExcaliburVT commented on #6300
Ah that makes sense.  I would recommend adding an option to override that behavior.  We are using this in an isolated environment with no real risk of credential sniffing and we had not planned on doing anything with SSL certs a all.

Thank you for your help!

[2018-02-02 20:06] #6300 closed

[2018-02-02 20:08] ExcaliburVT commented on #6357
Request in addition to the warning the option to disable the SSL-only behavior for isolated environments where SSL is not considered needed.

[2018-02-02 21:43] MirzaSikander commented on #6348
@jikuma I don't see your comment about the 'mv' command here but I did get an email with your question.

The docker instruction I am using is `RUN`, which is defined [here.](https://docs.docker.com/engine/reference/builder/#run) I am aware that there is no MV docker instruction.

The problem is when `RUN` is used with Linux `mv` command: `RUN mv original new`

[2018-02-03 00:31] remullig commented on #6164
Any further update/ETA on when this will be fixed? We may need to stop using this task and write our own powershell scripts for deployment if this isn't fixed soon.

[2018-02-03 04:37] #6218 closed

[2018-02-03 14:47] GuofuZhong opened #6358 "vsts customized variable max char size?"
I want to pass 2-5KB string to a customized variable.

[2018-02-03 14:49] bryanmacfarlane commented on #6358
Did you try it and have an issue?

[2018-02-03 14:50] GuofuZhong commented on #6358
@bryanmacfarlane  trying now. but I cannot find this info on the document

[2018-02-03 14:58] bryanmacfarlane commented on #6358
There is no known limitation on a single input / variable.  There is however a .net limitation of 65K on the total environment block.  But that only is a limitation for tasks written with the powershell handler.

https://github.com/Microsoft/vsts-task-lib/issues/228

If you write your tasks in typescript (preferred, cross plat etc...) there is no known limitation.

Reactivate if you find some limi

[2018-02-03 14:58] #6358 closed

[2018-02-03 14:59] GuofuZhong commented on #6358
@bryanmacfarlane Thanks!

[2018-02-04 16:22] SadagopanRajaram commented on #6316
I see that you already have a Vstest TestAssemblies task. Is there a reason why you require the Publish task? The vstest Test Assemblies task will automatically publish the results.
In the publish task, you have a filter for *.coverage. Can you please remove this from the filter and try again?

[2018-02-04 18:29] hakankaraduman commented on #5259
I'm having the same problem on my .net core 2 application. It was okay yesterday but today I have to first stop the app service and then I can upload and restart the app service.

What's the workaround for this? I publish from the visual studio 2017 community edition.

[2018-02-04 19:12] jpwarner-gh commented on #6284
Yes, having this option would help with significantly reducing the number of definitions we need to create/maintain. Our definitions are comprised mostly of Azure PowerShell tasks for deploying ARM templates as well as Service Fabric apps to various test clusters in different subscriptions.

[2018-02-05 02:14] madhurig commented on #6155
This feature is now enabled on the macOS VMs. Please try it out.

[2018-02-05 02:36] alexjustus commented on #5066
Huge props to @IvanAlekseev  for the work-around. We've got code coverage up and running using these settings.

Here's the exact strings required (for easy copy/paste-ability) for anyone that needs them:

Path to vstest.console.exe:
`C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\TestPlatform`

Other console options:
`/Framework:FrameworkCore10 /logger:consol

[2018-02-05 04:32] jikuma commented on #6348
Instead of RUN mv, COPY should work for you. But this is a workaround, I have to check what is happening with RUN mv, that's why I removed my first comment.

[2018-02-05 06:09] ds-ms commented on #6339
This has been rolled out.

[2018-02-05 06:09] #6339 closed

[2018-02-05 08:59] vincentdass commented on #6344
@elmalakai , Can you please try the steps provided [here](https://github.com/projectkudu/kudu/wiki/Dealing-with-locked-files-during-deployment) to find out the reason behind locked file?

[2018-02-05 11:51] mwildenb commented on #6286
Thanks for reviewing. Are you aware of any work around for this issue?

[2018-02-05 15:43] GuofuZhong opened #6361 "Step with "Always Run" does not run if previous step fails"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
https://msasg.visualstudio.com/Bing_Ads/AdsUCM/_release?definitionId=740&_a=release-summary&releaseId=44561&source=ReleaseExplorer

- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine runni

[2018-02-05 16:12] CameronVetter commented on #5566
Agreed doing a curl before swapping does not help at all.

[2018-02-05 17:03] thomasmktong opened #6363 "PowerShell on Target Machines - Deployments using 'test hub: machine groups' is no longer supported"
## Environment
- Server - VSTS
- Agent - Private

## Issue Description

We use "Powershell on Target Machines" task for deployment and it is suddenly not working today. Error shown below.

### Error logs

[code]

[code]

[2018-02-05 17:11] Fefe-Hern commented on #5601
Same here. Would @vimegh  or @felpel explain the steps needed to close ChromeDriver?

[2018-02-05 18:24] omeshp opened #6364 "Download Build Artifacts: : broken file permission mask"
## Environment
- Server - VSTS or TFS on-premises?
    VSTS

## Issue Description
Permissions on the files are lost when downloaded to the agent. We have some files set to be executable.

[2018-02-05 18:51] bowlerma commented on #5566
I had the same issue.  In the end I deleted the web app and created it again.  So far it has been working.

[2018-02-05 19:34] bishal-pdMSFT commented on #6164
This will done by end of week. @kuvinod to raise PR.

[2018-02-05 19:53] sagoo33 commented on #5566
FYI guys, it looks like there is an issue with swapping when local cache is enabled. I switched local cache off in and it the swap works again:
https://social.msdn.microsoft.com/Forums/azure/en-US/20c44598-38b7-47ca-bd16-b9b35b72aedb/local-cache-issues?forum=windowsazurewebsitespreview

[2018-02-05 20:10] pointtoken commented on #5566
How does one disable the local cache? And what are the implications of doing so?

[2018-02-05 20:14] sagoo33 commented on #5566
Well, it will only be enabled if you enabled it specifically in the application settings:
![image](https://user-images.githubusercontent.com/3021022/35826567-fbd0275e-0b1d-11e8-9c8c-00a38e28f896.png)

[2018-02-05 23:57] GuofuZhong commented on #6361
I have found that re-create this task group. It will work. (but in task group, always run isn’t selected.)
This is latest VSO break the backward compatible.

Thanks,
Guofu

[2018-02-06 03:37] kmkumaran commented on #6363
@thomasmktong - As you can see from the error message, the usage of "machine groups" from "test hub" has been decommissioned. More details at https://go.microsoft.com/fwlink/?LinkID=799742&clcid=0x409. Please look for the guidance in the same page on how to move away from the "test hub: machine groups" usage.

If you are not using "test hub: machine groups" but still seeing this issue, then please

[2018-02-06 04:04] acesiddhu commented on #6190
@psyvision Sorry for late reply here. can you get fiddler trace from build machine when this happens

[2018-02-06 04:15] thomasmktong commented on #6363
Thanks, just sent the email. We are not using "test hub: machine groups". Actually if that feature has retired since Jan 31st 2018 our jobs would have been failed for few days, but it only happened since yesterday.

[2018-02-06 04:16] acesiddhu commented on #5601
you can close WebDriver instance and Dispose it off

Webdriver.Close()
Webdriver.Dispose()

[2018-02-06 04:39] chshrikh commented on #6363
@thomasmktong to unblock yourself, could you please change the task version to 2.x. We are looking to address the issue you reported in older version. Moving to 2.0 can unblock you faster.

[2018-02-06 06:23] acesiddhu commented on #6190
I just noticed that your tfs version is TFS 2018 RTM and your task version is 2.3.17. Did you upload the task manually? If yes this is not supported as the task has some dependencies on server side which it is not able to find. Can you confirm

[2018-02-06 07:15] nmfisher commented on #5018
+1 for SignTool task.

[2018-02-06 08:19] acesiddhu commented on #6193
@Mertsch this is a known issue in TIA today. Check https://blogs.msdn.microsoft.com/devops/2017/03/02/accelerated-continuous-testing-with-test-impact-analysis-part-1/ for known issues. TIA today always run data driven test cases in TIA mode.

[2018-02-06 08:19] #6193 closed

[2018-02-06 08:53] acesiddhu commented on #6264
@rudidlo Sorry for the late reply. Are you still blocked on this? The error message suggest that agent doesn't have test assemblies specified in the search location. Can you cross check that

"No test assemblies found on the test machine matching the source filter cr 2018-01-19T16:27:04.5241154Z iteria or no tests discovered matching test filter criteria. Verify that test assemblies are present on

[2018-02-06 08:56] acesiddhu commented on #6265
@r123aryan can you add more details here?as  asked in environment section?

[2018-02-06 08:57] acesiddhu commented on #6265
also enable system.debug = true and share logs for the same.

[2018-02-06 09:00] acesiddhu commented on #6277
@sanderaernouts sorry for the delay here.
This is by design. the format of test assemblies specified in vstest v1 task and v2 task has changed and we cant migrate those automatically. Vstest v2 task uses minimatch pattern. You need to specify the sources manually for it to work.

[2018-02-06 09:01] rudidlo commented on #6264
Test assemblies were successfully copied to folder where expected. Problem was with Visual Studio  2017 installation at test machine. Repair did not helped, but I had to uninstall and install Visual Studio again.

[2018-02-06 09:01] #6264 closed

[2018-02-06 09:17] acesiddhu commented on #6293
@johnwhoffman Ordered test in Run functional test task is not supported out of the box. Check for workarounds https://blogs.msdn.microsoft.com/allendm/2016/08/09/executing-ordered-tests-on-remote-machines-using-run-functional-tests-task/

[2018-02-06 09:20] acesiddhu commented on #6294
@janpieterz can you share a sample for that?

[2018-02-06 09:34] TheSquiffy commented on #6363
Hi, it's happening here too, switching to 2.0 didn't solved. I'm still getting the same error.

[2018-02-06 09:45] Shriram-A-R commented on #6363
Same here...getting this same error on two of our release definitions even though we are using our own machines

[2018-02-06 09:47] TheSquiffy commented on #6363
Forgive me, I had to re-release process. Switching to 2.0 solved the problem.

[2018-02-06 09:52] chshrikh commented on #6363
@Shriram-A-R could you please try to switch to 2.x version of task and check if it works for you

[2018-02-06 11:07] Ajay-MS commented on #5595
@christopherbauer

Changes have been deployed to all Rings. Please validate the changes to your account.

[2018-02-06 11:07] #5595 closed

[2018-02-06 11:43] psyvision commented on #6190
Hi @acesiddhu - Thank you for getting back to me.  The task was an old version - I then upgraded TFS from RC to RTM and the task didn't update, therefore I did so manually.

Is it possible to un-install and TFS will replace it with the default?  Or do I need to upgrade to newer?

Unfortunately due to this being a restricted development network (due to nature of work) I can't use Fiddler on the bui

[2018-02-06 12:48] GitHubSriramB commented on #6284
@Teodelas - we currently support updating endpoint details within a task using the following command:
##vso[task.setendpoint]value

Detailed command documentation can be found here:
https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md

With this command, you could author a custom task that takes an endpoint that exists & update fields of the endpoint specific to the deplo

[2018-02-06 13:14] janpieterz commented on #6294
Sure, for example this post highlights one:
https://stackoverflow.com/questions/36607786/in-xunit-shouldly-automoq-autofixture-can-we-pass-in-a-type-using-inlineautomoq

I've never realised there'd be a considerable difference between normal tests and this.

[2018-02-06 13:16] Teodelas commented on #6284
This may work.  Could you provide any more information on the values I would need to provide?  The examples in the documentation seem to show that I need to pass additional information:
##vso[task.setendpoint id=000-0000-0000;field=authParameter;key=AccessToken]testvalue
##vso[task.setendpoint id=000-0000-0000;field=dataParameter;key=userVariable]testvalue

The Azure Resource Manager endpoint take

[2018-02-06 15:24] acesiddhu commented on #6190
@psyvision the update of in box tasks happens based on tfs upgrades and ideally there shouldn't be updated manually. what you see in master is what is going to be deployed on vsts or may be in upcoming TFS release trains. all releases/* branches is what goes into vsts production or tfs update.

@bryanmacfarlane can suggest a way to revert to inbox version of task.

The latest task which you upload

[2018-02-06 15:43] Shriram-A-R commented on #6363
@chshrikh Thanks for the recommendation. Yes, switching to 2.* version worked for me as well.

[2018-02-06 16:00] psyvision commented on #6190
@acesiddhu thank you.  I'll wait to hear what @bryanmacfarlane says, I hadn't noticed the releases/* branches, not sure if that is clear enough in the documentation or if I missed it.

It looks as though I should pull from https://github.com/Microsoft/vsts-tasks/tree/releases/tfs2018rtw that contains task version 2.1.9

[2018-02-06 16:00] ansariwn commented on #4102
@ericsciple  @pavanadepu2  @mvvsubbu @RoopeshNair - Can you please confirm if the exit code is now returned with merge #5606?

[2018-02-06 16:07] bryanmacfarlane commented on #6190
If you upload a task manually, the system returns the in the box versions unioned with the custom one you uploaded.  If you use tfx to then delete that task, we delete the overlay.  You cannot delete the in the box versions we upload on upgrade so that works fine.

Regarding support, it's not that it's not supported.  It's more of you're kind of on your own to build correctly and upload.  We don't

[2018-02-06 16:14] psyvision commented on #6190
Thanks Bryan!  I'll delete the task and run a build and then report back.

[2018-02-06 17:00] dtulepov opened #6375 "Modify Invoke REST API body from previous powershell script or set body from variables"
Hello.
I'm trying call web service with Invoke REST API task (Understand, that I can make request throw powershell). If i try to set body with $(VarName) request sent with open curly brace. Also tryed to set from another powershell script body:
Write-Host "##vso[task.setvariable variable=body]$json"
Any way to do this with Invoke REST API task ?

[2018-02-06 17:06] #6375 closed

[2018-02-06 19:26] ljacobsenpc commented on #6363
We also started to have this error in "Windows Machine File Copy" and "PowerShell on Target Machines" yesterday. We are not using "test hub: machine groups". Switching to version 2.* of both task types resolved the problem.

[2018-02-07 02:14] gilbertogwa opened #6377 "NPM version 5.5.1 is causing build error"
## Environment

**Server:** VSTS
**Account:** colossusinformatica.visualstudio.com
**Build**: cls-angular-controls-build-on-commit-CI
**Build number:** Build 20180206.4
**Team Project:** cls-angular-controls
**Agent:** Hosted
**Agent queue name:** Hosted VS2017

## Issue Description

Npm version 5.5.1 is causing build error on my projects. Locally, I solved with update to version 5.6. Is there any

[2018-02-07 06:25] ericsciple commented on #6377
npm can be used to update itself, something like `npm -g npm@version`

[2018-02-07 06:30] ericsciple commented on #4102
nope that pr is for the powershell task

[2018-02-07 06:32] vinodjo commented on #5276
Have added the request to our backlog. Closing this as a suggestion.

[2018-02-07 06:32] #5276 closed

[2018-02-07 08:17] psyvision commented on #6190
Morning update - we ran two jobs through last night.

The first took longer than the 2 hour allowed time when running which caused it to be terminated, it was the unit test running that took the time.

The second job took just under 2 hours and succeeded:

[code]

I'll run a build this morning and see if it runs quicker, I presume it should now only run a subset of tests.

[2018-02-07 08:19] acesiddhu commented on #6190
Thanks for the update @psyvision . also in the mean time can you tell what kind of test these are. are they ui test/integration/functional test. does it test a web server etc?

[2018-02-07 08:40] psyvision commented on #6190
A small change to the code with a CI build has now only taken 2 minutes.

[code]

Cool!

Thanks for the help - I'll close this now :)

[2018-02-07 08:41] psyvision commented on #6190
@acesiddhu missed your comment - these are purely middle-ties functional tests.  No UI.  In some of these, the slower ones, we are mocking EF and ADO.  No additional web/database servers are used, it's all pretty self contained.

[2018-02-07 10:01] psyvision commented on #6190
After running some more builds, it seems that it's okay as long as you don't touch code that impacts certain tests.  I.e., with TIA turned on, some test runs are taking much longer, the initial build taking ~2 hours doesn't appear to be because it was the first run.

I've put TIA on a separate project and the builds have all taken the same time as without TIA or much shorter times to run.

[2018-02-07 10:10] acesiddhu commented on #6190
can you share logs

[2018-02-07 10:29] psyvision commented on #6190
A subset of the logs is just this:

[code]

Do you want me to set the `system.debug` build variable to give further details?

[2018-02-07 10:30] acesiddhu commented on #6190
can we hop on a quick call if this is a good time. will make things faster. mail me on Siddhartha.pandeyATmicrosoft DOT COM

[2018-02-07 13:00] bryanmacfarlane commented on #6377
eric's suggestion is good.  We also have the node installer task which will install the corresponding npm.

Closing as it's not a task issue - it's an npm issue.

[2018-02-07 13:00] #6377 closed

[2018-02-07 13:31] gilbertogwa commented on #6377
Node Installer Task works to me! Thank you

[2018-02-07 14:07] haole223 commented on #5244
@kardinal3000 - Can you please elaborate on how you redesigned the code of the task to get all the job variables?  When I tried using the Get-VstsTaskVariableInfo I wasn't getting any values back.  You said you created a new extension is this available on the marketplace?

[2018-02-07 15:04] jstawski commented on #5112
I'm not sure if this merits a new bug or not, but here some feedback. As of today, it seems the only way to add a variable into a task group is to reference one in one of the tasks. That is problematic if the variable is only used on the custom condition as it is not being checked. I had to resolve by using a dummy task and reference the variable there, but it truly shouldn't be like that. Either

[2018-02-07 19:04] pointtoken commented on #5566
Some more discovery: it seems there's a new UI dialog in the portal that is preventing the swap from completing, where you are led to a "complete swap" screen. I think this is the source of the VSTS task failing.

[2018-02-07 19:23] asranja commented on #6029
@pwaller24 are you still facing the issue ?

[2018-02-07 19:24] asranja commented on #6107
@iknyc are you still facing the issue ?

[2018-02-07 19:25] #6086 closed

[2018-02-07 19:26] KostaVlev commented on #6316
Vstest TestAssemblies task does the publishing and removing the *.converge solves this problem. I guess I can't use  Publish VsTest Results to publish .converge files...

The reason I am having the Publish VsTest Results is a try to workaround another issue I have with the published .coverage file by the  Vstest TestAssemblies task which doesn't contains my project DLLs but it has only microsoft.w

[2018-02-07 20:16] kardinal3000 commented on #5244
@haole223 - Yes I have extension but I didn't post it on the marketplace.
my extension has two modified task that base on the standard vsts\tasks (Run PowerShell script and Run PowerShell scripts on Target Machines)

Extension : [PowerShellExtraAbility.zip](https://github.com/Microsoft/vsts-tasks/files/1704548/PowerShellExtraAbility.zip)
Inside the archive you will find Read.md file (_in the folde

[2018-02-07 20:21] pwaller24 commented on #6029
@asranja @arjgupta The solution worked and deployments are working.  Thanks for the help and sorry for not closing the issue sooner.

[2018-02-07 20:21] #6029 closed

[2018-02-08 00:23] johnwhoffman opened #6381 "Test cases not executed in the order specified in the Test Suite"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server -  TFS 2017 on-premises
- Agent -  Private: SERVER2012R2
## Issue Description

We are replacing xaml BDTs with ordered tests  with a Run Functional Test Task in a release build.

The test plan contains one test suite w

[2018-02-08 05:01] #6342 closed

[2018-02-08 06:10] acesiddhu commented on #6381
@johnwhoffman order of test case is not guaranteed when you use test plan test suite. to maintain order you need to use ordered tests instead.

[2018-02-08 06:21] chshrikh commented on #6363
this has been fixed now

[2018-02-08 06:21] #6363 closed

[2018-02-08 09:50] johnwhoffman commented on #6381
ordered tests are not supported and the result reporting is not what you want.
We have a heavy investment in ordered integration tests that we need to find a way to support as we migrate away from.

[2018-02-08 11:02] #6155 closed

[2018-02-08 11:04] madhurig commented on #4859
Closing since we haven't had any activity on this for several months and this is as the task was designed.

[2018-02-08 11:04] #4859 closed

[2018-02-08 11:04] #6271 closed

[2018-02-08 11:09] madhurig commented on #5660
The fix on the agent is available for Xamarin.Android capability.

[2018-02-08 11:09] #5660 closed

[2018-02-08 13:08] nicholasqms opened #6382 "AzureFileCopy Set SAS Token timeout"
## Environment
- Server - VSTS

- Agent - Hosted or Private:
-Private - Windows,

## Issue Description

AzureFileCopy does not provide the ability to set the token timeout for the SAS generated, when usign blob storage.

On file "AzureFileCopy.ps1", such parameter is set as:
[code]
And later used on:
[code]
So all blobs copied to the storage get the token access timeout set to 4 hours.

It would b

[2018-02-08 13:55] reinaldoarrosi commented on #4907
Any update on this issue?
I'm trying to associate a manually created TFVC label (using `artifacttype=tfvclabel`) an I have the same error.

[2018-02-08 14:04] GuofuZhong opened #6383 "Azure SQL Database Deployment task failure"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

    - If using VSTS, provide the account name, team project name, build definition name/build number:
Accoutn Name:msasg
Project Name:Bing_Ads
ReleaseDefinition:UCM - [A/B/C/T] - [Dev]
Relea

[2018-02-08 14:13] jonathaneckman commented on #5259
I got stuck behind the same issue deploying my .NET Core 2 app to an app service using every variety of work around in this thread.

Make sure you queue a new release if you change your release task. Using redeploy will not pick up the changes suggested above.

[2018-02-08 14:15] bishal-pdMSFT commented on #6164
@remullig we are currently battling some other high priority issue and hence the fix will be delayed - we are hoping mid to end next week.

[2018-02-08 14:31] japj opened #6384 "CopyFiles Task: preserve timestamps option"
## Environment
- TFS2017Update3
- Private Agent, WindowsServer 2016, Agent v2.117.2

## Issue Description
The "Copy Files" Task currently does not seem to preserve timestamps.
At this moment it seems that the destination files have the time of copy, instead of the original modified/created timestamps.

It would be great if it had an option to enable preserve timestamps.

I am not sure, but it coul

[2018-02-08 15:23] jonnovaretti commented on #6313
@bishal-pdMSFT The project run locally without problem. The error is in the end of release, it's happen on phase Service Fabric Application Deployment

[2018-02-08 15:28] madhurig commented on #6191
@Troglodyte55: You can achieve this even today by adding a script to pull sources from the other repository and providing the local path to where that was downloaded. The UI will not allow you to browse to the repository but you can use environment variables that are available during the build: https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/build/variables?tabs=batch

We

[2018-02-08 16:46] bradyguy commented on #6328
I finally got this working.  I switched over to use the new Xamarin build template.  It take a day or two to get all the properties, variables, etc. figured out but in the end using the new build template worked just fine.  Thanks for everyone's help.

[2018-02-08 16:46] #6328 closed

[2018-02-08 18:39] shaneholder commented on #5595
Success!!! THANK YOU SO MUCH!

[2018-02-08 19:38] #6335 closed

[2018-02-08 20:19] mikefourie commented on #2865
Still seeing this in 2017 Update 2

[2018-02-08 21:46] MirzaSikander opened #6387 "Can not download the kubectl client of version v1.7.0"
## Environment
- Server - VSTS or TFS on-premises?
VSTS

- Agent - Hosted or Private:
Hosted
    - If using Hosted agent, provide agent queue name:
Hosted Linux agent

## Issue Description

Agent is unable to download kubectl client.

### Error logs

[code]

[2018-02-09 00:29] GitHubSriramB commented on #6284
You can get the keys for the AzureRm endpoint inputs by querying the endpoint type:
https://{accountName}.visualstudio.com/_apis/serviceendpoint/types?type=AzureRm

The API is documented here:
https://docs.microsoft.com/en-us/rest/api/vsts/serviceendpoint/types/list

subscriptionId & subscriptionName are the keys in AzureRm endpoint's data dictionary.,
servicePrincipalId, servicePrincipalKey, tena

[2018-02-09 04:18] bishal-pdMSFT commented on #6313
@jonnovaretti  Are you able to deploy using direct powershell commands? This error is not explicitly thrown from 'Service fabric deploy'.
Is the application package which you try to deploy 2nd time a valid package? You can check that by running command 'Test-ServiceFabricApplicationPackage' in powershell.

[2018-02-09 04:26] jikuma commented on #6387
Can you check if this url "https://storage.googleapis.com/kubernetes-release/release/v1.7.0/bin/linux/amd64/kubectl" is accessible from agent machine? K8 task tries to download the agent from this URL. If it's not able to access you need to manually place the kubectl in the agent machine.
If the url is accessible from agent machine, can you run a release with a variable 'system.debug' as true and

[2018-02-09 06:13] acesiddhu commented on #6265
Closing the issue. please re open the issue with details.

[2018-02-09 06:13] #6265 closed

[2018-02-09 06:14] acesiddhu commented on #6277
Closing the issue

[2018-02-09 06:14] #6277 closed

[2018-02-09 06:14] acesiddhu commented on #6293
hope the above blog helps. Closing the issue

[2018-02-09 06:14] #6293 closed

[2018-02-09 06:18] acesiddhu commented on #6190
@psyvision I am closing the issue. he you still face any issues please create a new issue on GitHub and we can take it from there. Thanks

[2018-02-09 06:18] #6190 closed

[2018-02-09 06:32] asranja commented on #6383
The error shows up when you are trying to fetch the ARM access token using your SPN credentials. It is possible that there was a network timeout issue or the SPN credentials expired. Can you go to the ARM endpoint used in the task and click on Verify Connection to make sure the SPN is valid.

Please share the debug logs with us if you still face issue after validating SPN credentials. To get the d

[2018-02-09 07:44] GitHubSriramB commented on #6226
@christophearg - Sorry for the delay. Is this issue still happening for you?

[2018-02-09 07:53] GitHubSriramB commented on #6076
@gertvdh - Thanks for the feedback. We will consider how to surface option to choose latest build in the task.

[2018-02-09 08:08] sqlenders opened #6393 "Please add a possiblity to run powershell task V2 remotely"
## Troubleshooting
It would be nice if we could run powershells script remote like
scriptname C:\scripts\myscript.ps1
servers : domain1\server1; domain2\server2
username : (somename from a variable)
password : (password from variable)

Note C:\scripts points to the local drive of the server, not of the agent.

## Environment
- Server - VSTS or TFS on-premises?
VSTS only
- Agent - Hosted or Private

[2018-02-09 15:05] ggirard07 commented on #4444
Node.js 8.x is now the LTS version since 2017-10-31 but hosted agents still use v6.9.1.
Do you plan to update those anytime soon?

[2018-02-09 16:40] ggirard07 opened #6395 "Current npm version (v3.10.8) does not handle optional dependencies when using shrinkwrap"
## Issue Description

1. Create a new build definition
2. Add a single NPM step
3. Configure NPM step as Custom with command as "install -g polymer-cli"
4. Save and run the definition on a VSTS Hosted Agent

## Expected result
Command should execute without any issue.

## Actual result
Command fails due to an optional package related to macOS platform being installed despite it is not necessary.

[2018-02-09 17:02] ggirard07 commented on #6395
Looks like only solution is to wait on https://github.com/Microsoft/vsts-image-generation/issues/13 to complete its deployment

[2018-02-09 19:06] lukewis opened #6397 "Custom task versioning"
## Envrionment

Using vsts with a private agent (running macOS).

## Issue Description

I've read through other issues like #2131, but I still can't wrap my brain around how to test new versions of a task.  In particular, I have a task that is listed as private and I want to upload and test major, minor, and patch releases, but for the life of me I can't get my build definitions to pickup the new

[2018-02-09 19:11] brcrista commented on #6393
Have a look at the "PowerShell on Target Machines" task.
https://docs.microsoft.com/en-us/vsts/build-release/tasks/deploy/powershell-on-target-machines

[2018-02-09 19:11] #6393 closed

[2018-02-09 19:12] lukewis commented on #6397
[This page](https://docs.microsoft.com/en-us/vsts/extend/publish/overview) also says that "The updated version of your extension is automatically installed to accounts that have it already installed", but that doesn't seem to be the case?  I've uninstalled and reinstalled the extension in my account.  I've also deleted and re-added the affected task to no avail.  It still only shows version "0.*"

[2018-02-09 19:15] fgauna12 opened #6398 "App Service Deploy: Failed to deploy but the task succeeded"
I know how to get around it but I figured I would report it.

I have a staging slot called **pre-production**. I deleted it and recreated a new one with the same name.
I did this to get around another issue that I reported through VSTS support.

From the build release logs:
[code]

It failed to deploy due to the publish profile being invalid:
[code]

**Although the task failed to deploy, it is mar

[2018-02-09 19:26] lukewis commented on #6397
I think I figured this out.  My problems were twofold:

1. I failed to realize that the VSIX version is different than the TASK version.  I was updating the VSIX version but leaving the task version static.
2. There is a delay (timing seems indeterminant?) between when the extension is published and when builds start picking up the new version (I think this is what @bryanmacfarlane alluded to #213

[2018-02-09 19:26] #6397 closed

[2018-02-09 19:28] dudamir commented on #5266
The work around is not convenient because every build task will have a hard coded convention that already exists in the NuGet.config. You may 100 build definitions ... 100 build tasks with this folder hard coded.

Another issue is that this error is not easy to debug, so every time an engineer forgets to write the destination directory, hours of investigation are wasted.

[2018-02-09 19:28] bryanmacfarlane commented on #6397
You have to bump the version of your task in the task.json.  Not just the extension.  An extension can carry multiple tasks each independentantly versioned.

Also the task is installed into the build system async in the background so wait and refresh browser.  Also kickoff a build.  If it failed for some reason kicking off the build forces it to re-evalute

This should be closed and asked on the v

[2018-02-09 20:13] Tadimsky commented on #6255
@sachinma any ideas on this?

[2018-02-09 21:24] alexmullans commented on #5266
@dudamir Makes sense, thanks. We're working with the NuGet team on their [#6486](https://github.com/NuGet/Home/issues/6486), which will enable us to do auth without constructing a temporary nuget.config.

[2018-02-09 23:16] youngcm2 opened #6399 "Error Code: ERROR_PROXY_GATEWAY"
We get this error several times per day across different app services and release tasks. We can click redeploy and everything just works. It is becoming a pain to have to do this all the time. It defeats the purpose of continuous deployments if someone has to watch the deployment tasks.

HOSTED VS2017 Agent: 3.3.36

2018-02-09T23:06:11.7237456Z [command]"C:\Program Files\IIS\Microsoft Web Deploy V

[2018-02-10 07:28] densto88 commented on #5953
If you’re using the Hosted queue you’re on the older windows 2012 with VS 2012/2013/2015 on it, the Hosted VS 2017 pool only has VS 2017. The Hosted Linux pool is probably the closest thing to pure dotnet core in our set of images right now.

[2018-02-10 14:30] vincentdass commented on #6399
@youngcm2 , thanks for reporting the issue.
We have added retry mechanism for MSDeploy and for all REST API, that should take care of this intermittent failures.
This fix will be available in upcoming deployment.

[2018-02-10 14:36] vincentdass commented on #6398
@fgauna12 , thanks for reporting the issue.
Looks like there is some inconsistency with the publishProfile method.
We have added validation to check the format of Publishing Profile, that should eliminate these errors.
The fix will be available in upcoming deployment. (3.3.40 Task version).
Feel free to re-open / start a new thread, if it is happens in above mentioned task version.

[2018-02-10 14:36] #6398 closed

[2018-02-11 07:24] MShankwu opened #6403 "VSTS agents often exit with -1 after upgrading to 129.0 version"
## Troubleshooting
https://msasg.visualstudio.com/Bing_Ads/AdsUCM/_build/index?buildId=1549795&_a=summary
https://msasg.visualstudio.com/Bing_Ads/AdsUCM/_build/index?buildId=1543973&_a=summary
https://msasg.visualstudio.com/Bing_Ads/AdsUCM/_build/index?buildId=1533821&_a=summary
https://msasg.visualstudio.com/Bing_Ads/AdsUCM/_build/index?buildId=1557086&_a=summary
https://msasg.visualstudio.com/Bi

[2018-02-11 10:42] #5537 closed

[2018-02-11 20:48] allanmoller commented on #6045
Having exact same problem out of a sudden, seems to be many fixes, can someone point me in right direction?

[2018-02-11 21:09] allanmoller opened #6404 "Download Artifacts: Failed in getBuild with error: Error: self signed certificate in certificate chain"
Suddenly getting the following error!!! seems to be alot of fixes out there, can anyone tell me the correct one that dosnt break standard security principals?

2018-02-11T20:53:39.4625283Z Task : Download Build Artifacts
2018-02-11T20:53:39.4625488Z Description : Download Build Artifacts
2018-02-11T20:53:39.4625654Z Version : 0.129.1
2018-02-11T20:53:39.4625840Z Author : Microsoft Corporation
2018

[2018-02-11 22:30] johnib opened #6405 "Upload files to storage container fails with empty error, impossible to debug"
Getting the following error:

it happened all of a sudden, previous builds were passing.
since today -- all of my builds fail executing this step.

I'm not sure what information I may provide you with in addition.

[2018-02-12 06:35] RoopeshNair commented on #6382
We appreciate your offer to help. We are currently working on few features that warrants major version revision of the Azure File Copy task. (~2-3 months).

We would be glad to accept your PRs on the newer revision. Looking forward to it.

[2018-02-12 06:35] #6382 closed

[2018-02-12 07:04] sachinma commented on #5641
I am closing this issue. Reopen once you try it again and still run into this issue.

[2018-02-12 07:04] #5641 closed

[2018-02-12 07:50] cltshivash commented on #6306
@azarj Currently there's a limitation on the parallelism possible with vstest runner. It is limited to the number of processors.

[2018-02-12 07:50] #6306 closed

[2018-02-12 08:57] sachinma commented on #6194
HI @rswe , you can use "Azure File Copy" Task along with "Azure Resource group" task to achieve this using built-in tasks. You can upload files to an azure blob storage using Azure File Copy task. The task also outputs the Shared access token. This way you don't need to manage the update of the file content into azure blob outside of your release process. You release will take care both.

As an ex

[2018-02-12 09:03] sachinma commented on #6012
@ds-ms can you look at the comments regarding publish.
@ygeelen-tb can you describe if you are missing some functionality in restore due to difference in options.

[2018-02-12 09:06] sachinma commented on #5992
@hiyadav can you open an issue for ANT and did this resolve for the Jenkins task?

[2018-02-12 09:07] sachinma commented on #6162
@aydey can you work on this

[2018-02-12 09:10] ygeelen-tb commented on #6012
I don't quite remember which options, but it's anyhow nice to have a fallback in case newer arguments are added to the command by Microsoft.

[2018-02-12 09:12] sachinma commented on #5651
@azooinmyluggage pinging again. Can you provide the recommendation here

[2018-02-12 09:13] sachinma commented on #6161
@bishal-pdMSFT can you have a look

[2018-02-12 09:40] sachinma commented on #6301
@hegold can you try this repro with system.debug variable set to true.
@ds-ms can you evaluate if we should use JSON.stringify in all cases. Only thing, I can think of is if the object contains some recursive self-reference then it may fail.

[2018-02-12 10:06] sachinma commented on #6255
I think the reason for this is that you have use ** in the path. For us to be able to download the file and show the parameter name in the grid, we require the full path of the files. You can use ... button near the template file input to select the exact file path. That should resolve this.

Adding @hililh to work on improving the message here

[2018-02-12 10:08] hiyadav commented on #5992
@sachinma  I did not work on this further given that this occurs for multiple tasks when using Node>=8. Looked like a engineering side change as it looked like that we needed to change the way we build tasks with latest node version.
It is anyways fixed now on a Repository level by checking in package.json files.

[2018-02-12 10:08] #5992 closed

[2018-02-12 10:14] sachinma commented on #6249
@roryprimrose this feature should be available to you now. Let me know if this resolves your issue.

[2018-02-12 10:41] sachinma commented on #6255
Adding @ds-ms as well

[2018-02-12 11:00] sachinma commented on #5983
I have marked this as enhancement and we go over possible enhancement during our regular planning.

[2018-02-12 11:04] ds-ms commented on #6301
@sachinma will do. Since we'll use it only for parsing responses we should be good to go.

[2018-02-12 11:38] JonnyMattsson opened #6411 "NPM private feed. What is correct url format?"
## Troubleshooting

## Environment
VSTS

## Issue Description

We have a private feed that is accessible from "https://ourproject.myget.org/F/subcategory/auth/abc123.....456/npm/"

What is the correct format for the url in the npm service endpoint configuration and the .npmrc file?
It works fine if I have the full path including the token in both urls. But I would like to have the .npmrc file with

[2018-02-12 13:12] totkeks commented on #4838
Got the same issue on VSTS. The percentage update is updated in the step / task overview in the "logs" tab of the release. But the message is neither in the detailed log nor somewhere else.

[2018-02-12 13:18] roryprimrose commented on #6249
Sorry, I missed these comment notifications.

The addition of the workingDirectory parameter will now support using the dotnet task with project based CLI because the CWD can be set. Thank you for making this change.

I think there is still a usability issue here where the build task cannot be used to execute project based CLI resolved via a glob. To argue the other side, I'm not sure the build ta

[2018-02-12 15:30] SplitThePotCyrus opened #6415 "Azure-CLI fails when variable system.debug = true"
## Environment
- VSTS
- Hosted Linux

## Issue Description

The taks fails when we set the variable system.debug to true.
Our script does not fail and infact behaves as expected, but the result of the task will fail.

All works fine when system.debug = false and the task completes with no errors as expected.

### Error logs

2018-02-12T15:17:00.4031884Z ##[debug]rc:0
2018-02-12T15:17:00.4054136Z #

[2018-02-12 16:54] yrtimiD commented on #4958
@asiffermann, if supplied minimatch pattern matches several packages, would you expect all of them to be published or task should fail?

@keithrob, do you have any rough ETA for this feature? I need it and considering doing it by myself. Is it worth to wait?

[2018-02-12 17:17] asiffermann commented on #4958
@yrtimiD I suppose that all the matched packages being published would make sense, however it could be confusing and would not follow the NPM command syntax, so I'll go for the task failure 😉

@keithrob I suppose you saw it, but since August the NPM issue got resolved in version 5.6.0 🎉

[2018-02-12 18:29] keithrob commented on #4958
@yrtimiD,
It isn't on the top of our backlog right now.  Would be happy to look at a PR.

[2018-02-12 19:48] rickyno commented on #5043
I didn't want to create a new issue as I believe this is related to pattern matching consistency, if not please consider the following if there is a pattern matching update in the pipeline.

I used the ** pattern with the **DeleteFiles** task to empty the sources directory as the last build step, assuming it would clear the entire directory, but dotted folders and files are ignored.

The `.nuget `

[2018-02-12 22:15] allanmoller commented on #6404
anyone :)

[2018-02-12 23:06] radderz commented on #5701
Was this ever fixed as we are having this issue, where it just hangs forever with no indication of anything going on then times out. This is however on a Xamarin.iOS build task.

[2018-02-12 23:19] radderz opened #6416 "VSTS : Xamarin.iOS hangs on code signing, works on macbook."
## Environment
VSTS
Account Name : "blackhawktracking"
Team Project : "Blackhawk Platform" or Blackhawk%20Platform
Build Definition : "Fleet Vision iOS"
Build Number : "2.0.0"
Hosted Build Agent : "Hosted macOS Preview 2"

## Issue Description

Xamarin.iOS task hangs on code signing, the certificate and provisioning profiles are installed at the begining of the process and are correct based on the

[2018-02-12 23:56] GitHubSriramB commented on #6404
@allanmoller - looks like a genuine certificate chain issue. Could you check if releases on the agent machine where this happened have succeeded before?

[2018-02-13 01:57] bryanmacfarlane commented on #6395
You can use the node installer task in the box.  Pick the node 6.x (npm 3.x latest) or node 8.x (npm 5.x latest) to pull JIT.

No need to wait.

[2018-02-13 01:58] bryanmacfarlane commented on #6395
I would also recommend moving to npm 5.x (node 8.x) and use package lock files.  shrinkwrap is being deprecated

[2018-02-13 02:02] bryanmacfarlane commented on #6403
@MShankwu - do you run SxS multiple agents on the same machine / OS?  If so, you need to pickup 129.1.

[2018-02-13 02:04] GuofuZhong commented on #6403
@bryanmacfarlane  yes. we are running multiple agents on the same machine

[2018-02-13 02:05] bryanmacfarlane commented on #6384
I think this is a dupe but marking as enhancement for now.

[2018-02-13 02:05] GuofuZhong commented on #6403
@bryanmacfarlane Update all agents button cannot upgrade to 129.1?

[2018-02-13 02:31] ericsciple commented on #6403
set a variable process.clean=false on your definitions or install the agent manually. its on the releases tab.

multiple agents on the same machine have a problem with 2.129.0.

[2018-02-13 02:32] ericsciple commented on #6403
the 2.129.1 agent hasn't reached your deployment ring yet, but can be downloaded from the releases tab on this repo.

[2018-02-13 02:40] GuofuZhong commented on #6403
@ericsciple  Thank you for your explanation. when could it ship to our deployment ring? Do you have any ETA for this?

[2018-02-13 02:43] ericsciple commented on #6403
hopefully tomorrow, or wed. until then, set the variable on your definitions, or manually install from the download link on the releases tab.

[2018-02-13 02:44] GuofuZhong commented on #6403
Thank you, @ericsciple. we will follow up.

[2018-02-13 02:57] bryanmacfarlane commented on #6403
@GuofuZhong - note that "reaching your ring means" we update an url in your backend to point to 129.1.  As eric noted, you can download.  But that would mean manually updating (downloading, disabling agents) instead of pressing the update pool link which automates the agent to follow the url in the backend.   Variable probably the best way to validate that's the issue.

[2018-02-13 02:58] GuofuZhong commented on #6403
ok. we will apply variable to all build def.

[2018-02-13 04:49] sachinma commented on #6415
@hiyadav can you take a look?

[2018-02-13 05:35] vincentdass commented on #6344
@elmalakai , closing the issue. Feel free to re-open the thread or create a new one, if the link provided above doesn't solve the issue.

[2018-02-13 05:35] #6344 closed

[2018-02-13 06:23] hashtagchris commented on #5701
@julianiaccopucci @radderz Sorry for the inactivity on this issue. I'm able to repro this on our hosted agents if I add the iOS certificate to the default keychain. I'm investigating further, but at least as a workaround I recommend installing the iOS certificate into a unlocked, temporary keychain instead. The "Install Apple Certificate" task can be configured to do this at the beginning of the b