[2018-11-25 15:16] satrapu commented on #8291
I wanted to use both [ReportGenerator](https://github.com/danielpalme/ReportGenerator#available-packages) and [SonarScanner](https://docs.sonarqube.org/display/SCAN/Analyzing+with+SonarQube+Scanner+for+MSBuild) in [my Azure DevOps pipeline](https://github.com/satrapu/aspnet-core-logging) and of course, I have encountered the infamous error "No executable found matching command ...".
Th only way I

[2018-11-25 21:16] andreacassioli commented on #8726
@sachinma awesome! when is it planned to be released?

[2018-11-25 22:32] nkolev92 commented on #8903
My comment wasn't clear enough.
The bug is on NuGet side.
See tracking here:
https://github.com/NuGet/Home/issues/7524

[2018-11-25 22:36] andreacassioli commented on #8644
I have similar experience with other tasks. The auto refresh does not work properly. Have you tried to manually refresh the page? Sometimes it works for me...

[2018-11-26 04:57] sachinma commented on #8726
We will start rolling it out this week and should reach all accounts in around 2-3 weeks.

[2018-11-26 07:20] davidwesst commented on #8777
Found an alternative solution, which was to use the [Publish Build Artifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-build-artifacts?view=vsts) tasks.

Considering the documentation says that you should use the [Publish Pipeline Artifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-pipeline-artifact?view=vsts) tasks for Azur

[2018-11-26 07:47] prawalagarwal commented on #8305
@ColinLaws The changes to support nested test suites in JUnit have been pushed to the PublishTestResults  task and will be deployed mid next week.

[2018-11-26 08:03] #8903 closed

[2018-11-26 08:13] zanechua commented on #8305
Sweet.

So I guess the script I made won't be of much use then.

[2018-11-26 09:40] GraueEminenz79 opened #8907 "Publish Test Result task: Discrepancy between reported Test results of NUnit2/NUnit3"
_Please tag as Question_

## Environment
* Server - TFS on-prem 2017 Version 15.117.27024.0

## Issue Description

I noticed an (intended?) discrepancy between published NUnit2 and NUnit3 verdicts.
In Test Run explorer they are reported as following:

| NUnit2 (respective their NUnit3 counterparts) | Published NUnit2 | Published NUnit3 |
| --- | --- | --- |
| Success/Passed | Passed | Passed |
| F

[2018-11-26 10:19] stephanebachelier commented on #8376
I had the same issue with running code coverage on a Javascript project with `nyc`.
First my configuration in `azure-pipelines.yaml` was :

[code]

<img width="601" alt="screenshot 2018-11-26 at 10 54 59" src="https://user-images.githubusercontent.com/172615/49006825-3d2d3380-f16a-11e8-8131-659d75cee2ed.png">

I've updated the configuration to provide also an `index.html`, as I've read it should b

[2018-11-26 10:20] blackbaud-rossthomson commented on #8467
Okay so I've already tried that - things I've tried and did not work are as follows:

1. The extension listed above
2. Setting the resolution in VMware
3. Setting the resolution in the registry
4. Creating an app that sets the resolution on login

None of these actually worked, I'm assuming, due to the task setting the resolution itself, hence my request for the task to surface the resolution it's

[2018-11-26 10:21] blackbaud-rossthomson opened #8908 "Visual Studio Test reset resolution"
_Originally posted by @cltshivash in https://github.com/_render_node/MDEyOklzc3VlQ29tbWVudDQ0MTI0MTQwNw==/timeline/issue_comment#issuecomment-441241407_

[2018-11-26 10:21] blackbaud-rossthomson commented on #8908
Okay so I've already tried that - things I've tried and did not work are as follows:

1. The extension listed above
2. Setting the resolution in VMware
3. Setting the resolution in the registry
4. Creating an app that sets the resolution on login

None of these actually worked, I'm assuming, due to the task setting the resolution itself, hence my request for the task to surface the resolution it's

[2018-11-26 10:40] grokys commented on #8838
By "private agent" do you mean what the docs refer to as a "self-hosted agent"? https://docs.microsoft.com/en-gb/azure/devops/pipelines/agents/agents?view=vsts#install

[2018-11-26 10:47] Ivers07 opened #8909 "Download Build Artifacts behind proxy always fails"
## Environment
- Server - Azure Pipelines
- Agent - Private:
    - OS - Windows Server 2012 R2
    - Agent V - 2.140.2

## Issue Description

When running a release pipeline with either
A) Run on agent Job - Artifact download enabled or;
B) using the Download Build Artifacts task

Throws error:
**"Error: tunneling socket could not be established, statusCode=407"**

The same "Download Build Artifac

[2018-11-26 11:24] karanjitsingh commented on #8838
Yes, private agent should help you get the logs.

[2018-11-26 14:43] ColinLaws commented on #8305
Awesome, this is going to help a lot of people developing using PHPUnit!

[2018-11-26 16:37] wli3 commented on #8291
I think the reason is only DotNetCoreInstaller@0 task will export the global tools path to PATH. And I do think putting extra in PATH by default need more discussion. Meanwhile you could export `$HOME/.dotnet/tools` or `%USERPROFILE%\.dotnet\tools` to PATH.

[2018-11-26 17:59] joshmgross commented on #8908
Hey @blackbaud-rossthomson, I can't open that link. Which task are you referring to?

[2018-11-26 18:51] edjubuh commented on #8862
Is the PR you referenced the correct one? It looks unrelated.

I have a similar issue with not being able to find the Python libraries, but I'm using cx_Freeze instead of pyInstaller. I think a workaround/solution would be to add the libraries to `LDPATH` on macOS and Linux, but I'm not too thrilled about doing that on my own pipeline since UsePythonVersion should set that up.

[2018-11-26 21:39] aggieben opened #8911 "VSTest@2 task seem only able to run TP v1; need to run multi-targeted test project"
## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
https://dev.azure.com/true-myth/TrueMyth

- Agent - Hosted
    - If using Hosted agent, provide agent queue name: Unsure; I'm using separate Windows (VS2017) and Linux (ubuntu-16.04) jobs

## Issue Description
The problem I'm having is that I ha

[2018-11-26 21:56] joshmgross commented on #8884
Hey @manojvazirani, thanks for reporting this issue. Could you explain why you expect the build to fail? Are you saying the `azuredeploy.json` is an invalid json file but that isn't caught?

[2018-11-26 23:42] bhanu7755 commented on #8309
I tried to disable TLS but issue persists. And, this happens randomly which is a problem for us.

[2018-11-27 04:13] shivakumarg06 opened #8914 "VSTS Artifacts upload from PowerShell"
Hello All,

I need a solution/ alternative ways to upload a file from PowerShell to VSTS Artifacts.

is there anyway,

your information will be highly appreciated.

[2018-11-27 04:52] fforjan commented on #8817
I could share the TRX file but not publicly as it may contain some logs and other things.

Let me know

[2018-11-27 08:08] prawalagarwal commented on #8733
@MertSenel @Izzmo Does browser.Quit() solve your issue?

[2018-11-27 09:01] SadagopanRajaram commented on #8449
This has been addressed with the commit below.
https://github.com/Microsoft/azure-pipelines-agent/commit/980268dc33a405184b10f61c10eb1c0fee163e6a#diff-794b066dfa08920779551a9a83d82956

[2018-11-27 09:01] #8449 closed

[2018-11-27 09:07] SadagopanRajaram commented on #8817
Please use the developer community and you can attach the trx visible only to Microsoft
https://developercommunity.visualstudio.com/
I believe the issue is related to the data driven tests you have in the trx file which are being aggregated and reported as a single test pass/failure.

[2018-11-27 09:14] blackbaud-rossthomson commented on #8908
Hey @joshmgross - my original issue was this:

In 2.* of the task “Visual Studio Test” when the "Test mix contains UI tests" checkbox is ticked could you surface the resolution that the test will run at (by default) and allow this to be set greater that the default of 1024x768.

I've tried a large number of solutions to this issue but nothing seems to reset the size of the resolution the test are

[2018-11-27 09:17] juarola commented on #5066
We are experiencing the same issue as @joshbouganim and i'm a bit confused about the "things remain the same" part. Is there something that should be done so the coverage results would be shown on the coverage tab? Currently there's just the option to download .coverage file.

[2018-11-27 11:32] aardouin opened #8918 "Gradle 5.0"
## Environment
 - Azure Pipelines
    - Account : Helloasso
    - Project : Mobile
    - Build : Android Dev #20181127.1 -> 20181127.8
 - Hosted on : macOS10.13
## Issue Description
Executing a gradle2 task :
[code]

After upgrading to gradle 5.0, the init script : init.d/log-gradle-version-plugin.gradle
Fails with the following error :

[code]

## Temporary workaround :
Added a task that delete t

[2018-11-27 13:09] lpghartz commented on #8896
A comment on this, because we got caught by it, too -- the Maven task isn't parsing the POM to retrieve tokens, its parsing it to retrieve a list of all the repositories in the effective POM, and adding the authentication to settings.xml for the ones it finds.

The fix, as far as we've been able to determine, is to run the process twice -- one on the actual POM, update the settings file, and then

[2018-11-27 14:51] madhurig commented on #8896
@lpghartz: To upload a private version of the task to your Azure DevOps organization, you can use this tool: https://github.com/Microsoft/tfs-cli. You can update the task version, compile locally and upload the private version. That version will be used on the hosted build environment.

[2018-11-27 14:53] bryanmacfarlane commented on #8888
Nope, there's nothing blocking http requests on the agent.

Issues in the repo are meant to track bugs with the tasks in the /Tasks folder (in the box tasks).

You can either add some tracing / logging / instrumentation to your code or use a private agent to troubleshoot

[2018-11-27 14:53] #8888 closed

[2018-11-27 14:56] ParidaPunyasloka commented on #5820
When will this be prioritized?

[2018-11-27 15:04] lpghartz commented on #8896
And that'll work with updated versions of the existing Azure Pipelines tasks? Or do I need to change the GUID as well?  (If its possible to patch and update the existing tasks, that might be worth mentioning in the root readme of the repository...)

[2018-11-27 15:58] SadagopanRajaram commented on #8625
If possible, can you please share the zipped trx folder? You can also open a ticket on https://developercommunity.visualstudio.com

[2018-11-27 16:11] cbrianball commented on #8625
The only attachment I see in Azure DevOps is the trx file itself, but on the build server (which I host) I can see the files that I've attached.

In the "Visual Studio Test" task, I have the box checked for "Upload test attachments". I'll post another comment next week when I can get to the server and zip the trx folder for you.

[2018-11-27 16:23] madhurig commented on #8896
Just update the patch version of the task and upload it, don't change the guid. It will update the existing task for your org, so it will impact all builds in the org. So, please be careful if there are other builds/releases in your organization.

In case of any issues, you can delete the version you uploaded, that will fallback to the original version that we shipped. Delete will not delete the s

[2018-11-27 17:59] stephenmichaelf commented on #8858
@stephaneey Sorry for the issues, there was a bug introduced. A fix has gone in and started to roll out today(we block deployments during the holidays).

[2018-11-27 18:08] brcrista commented on #8299
Update on this: I would recommend YAML users move away from the Conda Environment task and just use script to work with environments.  This grows up a lot better to more complex scenarios such as installing from multiple channels.  It also lets you define your environment setup using an **environment.yml**, which I think meshes very well with azure-pipelines.yml 😊

I added some YAML snippets to ou

[2018-11-27 18:27] benne opened #8920 "Azure File Copy build task not available on hosted Ubuntu build agent"
## Environment
- Server - Azure Pipelines
    Account name: chaosbyte
    Team project name: D Test
    Build definition name: D Test-CI
    Build number: 9

- Agent - Hosted:
    Queue name: Not sure
    It is hosted a Ubuntu 16.04 build agent

## Issue Description
I got a project building some pulling from an external Git repository, and building it with `gcc` through a simple bash script - no p

[2018-11-27 18:35] chrisrpatterson commented on #8920
@benne you could use the az cli to do the file copy and that task will work on Linux

[2018-11-27 18:38] TingluoHuang commented on #8883
@kenkuo if you check the log of that step, base on the timestamp in the log, what's exactly time does it take?

[2018-11-27 18:46] benne commented on #8920
@chrisrpatterson `az cli` might be my best option for now, using a non-interactive service principal. I am gonna experiment a bit with this.

Still interested in if this is gonna make it to the road-map at some point. It would be nice to use the build-in build task for future projects :)

[2018-11-27 18:47] chrisrpatterson commented on #8920
@benne I will leave the roadmap for that task up to the team that owns the task.  The az cli task should work with the same service principal you would have setup for the Azure File Copy task.

[2018-11-27 18:59] stas00 commented on #8299
I tried the new way as you suggested, @brcrista and there are still permission problems:

` PermissionError: [Errno 13] Permission denied: '/usr/local/miniconda/.condatmp'`

This is with macos recipe copied verbatim the the updated doc above:

[code]
the full dump:

[code]

[2018-11-27 20:03] benne commented on #8920
@chrisrpatterson I went with a service principal with specific permissions to contribute to a specific storage account. Combined with an `Azure CLI` build task I was able to upload the assets to the blob storage.
Success!

[2018-11-27 20:14] lpghartz commented on #8896
Awesome, that worked like a charm! We added a checkbox to the MavenV3 advanced settings to disable the use of the effective POM and to use the native POM directly, which solves this problem. Thanks!

[2018-11-27 20:17] madhurig commented on #8896
If you would like to provide a contribution, you can submit a pull request to this repo.

Thanks,
Madhuri

[2018-11-27 20:23] lpghartz commented on #8896
I don't like working in github, so the change is in a devops git repo that was initialized from this one. I don't think there's a way to do a pull request without creating a branch here, and re-applying the changes, correct? If that's the case, I can do that, but I will need to find some cycles to mess around with the process here.

[2018-11-27 20:23] brcrista commented on #8299
@stas00 I tested it on Hosted macOS and it worked for me.  I see your build is running the command line

[code]

And then it's trying to install to the base directory:

[code]

That is where the permissions error comes from, since it doesn't have access to write to `/usr/local`.  Did you activate the environment before running the install line?  Each build step runs in its own process, so you need

[2018-11-27 20:56] go2guy commented on #7527
Is this released for consumption yet?

[2018-11-27 21:09] kelliejos commented on #7527
@go2guy The changes are being deployed. The ETA for all orgs is 12/14. Some orgs may have it earlier.

[2018-11-27 21:10] KenticoMartinS commented on #8812
Hi @rstabenow, @koreyba,
if you check directly [code that is executed](https://github.com/Microsoft/azure-pipelines-agent/blob/master/src/Agent.Plugins/PipelineArtifact/PipelineArtifactPlugin.cs#L60), then you can see the **Publish Pipeline Artifact** task works only for Build pipelines.

I was a bit sad after this discovery, as we are waiting for publish artifact from release pipeline for ages.

[2018-11-27 23:33] stas00 commented on #8299
It doesn't seem to help, lots of other problems:

[code]
gives (the last step):

[code]

[2018-11-27 23:48] stas00 commented on #8299
Clearly I didn't touch `~/.bash_profile` that it complains about.

[code]

I even tried to add an extra line to appease to conda:

[code]
but to no avail.

[2018-11-28 00:18] montyshashi opened #8925 "npm test failing for jasmine test cases"
## Environment
- Server - Azure Pipelines?

## Issue Description

I am using jasmine test cases for the node application, when I am running "npm test" from the azure pipeline(using npm custom task), getting **sh: 1: jasmine: Permission denied**

### Error logs
2018-11-28T00:09:38.3034992Z ##[section]Starting: npm custom
2018-11-28T00:09:38.3038797Z =================================================

[2018-11-28 00:51] bryanmacfarlane commented on #8925
looks specific to jasmine tests

[2018-11-28 00:52] bryanmacfarlane commented on #8874
looks specific to the repository extensibility model added for release.

[2018-11-28 00:52] bryanmacfarlane commented on #8883
can't repro.  Add info and we can reactivate if needed

[2018-11-28 00:52] #8883 closed

[2018-11-28 00:54] bryanmacfarlane commented on #8871
This is not a task issue - it's a service issue.  I'm closing but I'm also forwarding to the team that works on the service.  If you want you can email me - bryanmac and that's at microsoft

[2018-11-28 00:54] #8871 closed

[2018-11-28 00:56] aaronpowell commented on #8871
I couldn't find anywhere else to raise the issue which is why I popped it here 😉

[2018-11-28 00:58] bryanmacfarlane commented on #8871
cool, there's visual studio developer community

But here is fine.  I sent the mail to the team.  Feel free to send me a mail so you can get confirmation of traction.

[2018-11-28 01:02] DHowett-MSFT opened #8926 "NuGetCommand@2: packagesDirectory/restoreDirectory doesn't work for repo root"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
Azure Pipelines (https://microsoft.visualstudio.com)
Private Agent - Windows 10.0.17134 (RS4) - Agent 2.142.1

## Issue Description

I have tried the following:

[code]

[code]

### Task logs

[code]

The packages are not resto

[2018-11-28 01:18] DHowett-MSFT commented on #8926
I've realized that one would not want this in a sane configuration, and `$(Build.SourcesDirectory)\packages` makes far more sense.

[2018-11-28 01:18] #8926 closed

[2018-11-28 05:40] RoopeshNair commented on #5820
We are tracking this on our backlog, we trying to get few important issues sorted out before we can get to this.

[2018-11-28 06:16] MertSenel commented on #8733
We are already using browser.quit();  in our ClassCleanup, yet we are still experiencing this issue.

@cameronmco

[2018-11-28 10:42] prawalagarwal commented on #8908
@blackbaud-rossthomson For us to investigate further, please attach the following:
1) Screen shot of the tasks added in your definition (this is with the screen resolution utility task added).
2) Screen shot of the inputs to the Screen Resolution Utility task.
3) Screen shot of the inputs to the VsTest task.
4) Your build logs with system.debug set as true in build definition variables.

[2018-11-28 11:35] omeshp commented on #8909
@Ivers07 It is possible that since agent is dotnet core is process in picking up default network credentials to authorize to proxy, Since the task is node based, node processes aren't able to use default creds.

[2018-11-28 13:50] pckls commented on #8880
Thank you both for the responses.

@kmkumaran nope, I'm already using that one and while it can create the resource group, it's not able to manage the tags on that resource group.

@RoopeshNair that's exactly what I'm after. I know that I can use Powershell, and this is what I'm doing at the moment, but a task in Azure DevOps would be great.

[2018-11-28 14:47] brcrista commented on #8299
It's not `conda activate`, it's `source activate`

[2018-11-28 15:33] manu4rhyme commented on #7318
@prawalagarwal @ShreyasRmsft

Hi,

I have been facing the same issue, while trying to on board our product to continuous testing using Selenium. Locally all our Selenium tests are passing, however they are failing on AzDev Ops instead.

I’ve tried following this tutorial
https://docs.microsoft.com/en-us/azure/devops/pipelines/test/continuous-test-selenium?view=vsts

But I’m facing few issues:
1)	U

[2018-11-28 15:48] manu4rhyme commented on #8733
Hi,

I have been facing the same issue, while trying to on board our product to continuous testing using Selenium. Locally all our Selenium tests are passing, however they are failing on AzDev Ops instead.

I’ve tried following this tutorial
https://docs.microsoft.com/en-us/azure/devops/pipelines/test/continuous-test-selenium?view=vsts

But I’m facing few issues:

Unable to finish/terminate VSTest

[2018-11-28 15:48] manu4rhyme commented on #8838
Hi,

I have been facing the same issue, while trying to on board our product to continuous testing using Selenium. Locally all our Selenium tests are passing, however they are failing on AzDev Ops instead.

I’ve tried following this tutorial
https://docs.microsoft.com/en-us/azure/devops/pipelines/test/continuous-test-selenium?view=vsts

But I’m facing few issues:

Unable to finish/terminate VSTest

[2018-11-28 16:36] joshmgross commented on #8897
Hey @landrus , this seems to be the same issue as #8896

We're working on adding an option in the Maven task to disable the help:effective-pom (see #8933)

For a temporary workaround, see: https://developercommunity.visualstudio.com/solutions/392864/view.html

Thank you for your feedback, please let me know if the workaround doesn't work for you.

[2018-11-28 16:53] landrus commented on #8897
I got the idea of the workaround myself, already. For the moment, I can work. However, this workaround puts the personal access token into the checked in code, which I consider Very Bad(tm).

Thanks anyway for the answer. Looking forward to the solution :)

[2018-11-28 17:12] stas00 commented on #8299
Not since conda 4.4, where `conda activate` replaces `source activate` (while the latter still works). See https://stackoverflow.com/a/49600711/9201239. conda's online docs aren't up-to-date.

From the docs, regarding the release of conda version 4.4.0 (released december 2017):
https://conda.io/docs/release-notes.html#id71

    conda activate: The logic and mechanisms underlying environment activa

[2018-11-28 17:51] scott-lin commented on #7839
@moswald, is the deployment still on for this week? Just trying to get a more accurate ETA. Thanks.

[2018-11-28 18:08] moswald commented on #7839
Yes, we've already deployed to the first ring of accounts. I'll follow up with you offline to find out when exactly you can expect to see it.

[2018-11-28 18:42] joshmgross commented on #8897
Could you put the personal access token into a variable?
See: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=vsts&tabs=yaml%2Cbatch#secret-variables

[2018-11-28 19:57] shubham90 opened #8934 "Intermittent connect "ETIMEDOUT" error in DownloadPackage task v0.1.10"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server -  TFS onprem
    - If using TFS on-premises, provide the version: Task version 0.1.10

- Agent - Private agent

## Issue Description
DownloadPackage build task fails around 1% of the time where it raises a fatal "Erro

[2018-11-28 20:02] AndreyBespamyatnov commented on #6439
Have the same issue with Downloading MSSQL image every time, takes ~20 min.
Thanks

[2018-11-28 20:07] kungfooflea opened #8935 "Azure CLI with inline script fails with TypeError: Path must be a string. Received undefined"
We have an issue open on the developer community here too -> https://developercommunity.visualstudio.com/content/problem/393967/script-failed-with-error-typeerror-path-must-be-a.html
[logoutput.txt](https://github.com/Microsoft/azure-pipelines-tasks/files/2626422/logoutput.txt)

We use the Aure CLI plugin V1 in some of our releases in Azure DevOps.

Starting yesterday we were seeing that it was fa

[2018-11-28 20:11] Jonatthu commented on #553
So Azure will or not fix this problem?
Cache is really needed here

[2018-11-28 20:12] shubham90 commented on #8934
@omeshp  This is the bug reported by a customer. Looks like the task needs some retry logic around network calls.

[2018-11-28 20:46] joshmgross commented on #8918
Hey @aardouin, this might be an issue with your `log-gradle-version-plugin.gradle`.
You may need to upgrade that plugin so that its compatible with Gradle 5.0. See here for more info: https://docs.gradle.org/5.0/userguide/upgrading_version_4.html

[2018-11-28 21:57] blackbaud-brandonstirnaman commented on #8885
Apologies for the late reply - They are not and it'd be prohibitive to do so as they are not managed via variables at all. We pull some data from our configuration/secret store on Release and pass it to `helm template` to generate YAML for the `kubectl` task.

Is there another mechanism we can use from a release step (like echo'ing for variable settings) to add secure strings that shouldn't be pri

[2018-11-28 22:05] brcrista commented on #8299
I see, thanks.  I didn't realize that `conda activate` was superseding `source activate`.  It does sound better, and it will be good for CI that it's cross-platform.

It sounds like we need to do some configuration on the agent to get `conda activate` to work.  I'm going to be making some changes to the agents soon, so I'll make a note to look into that.  (The CI environment runs in `--noprofile`

[2018-11-28 22:30] stas00 commented on #8299
Oh, I'm not blocked, I still successfully use the old setup with the permission fixing workaround. I was just trying to move to the latest setup as you suggested a few days ago and that attempt wasn't getting me anywhere. So my old setup still works.

Looking forward to trying the new setup with `conda activate` once you guys make it work.

I currently use:

[code]

[2018-11-28 22:54] ClearIce opened #8938 "Release pipeline cannot download UniversalPackage artifact"
## Environment
- Server: Azure Pipelines

## Issue Description
When using a UniversalPackage artifact feed as the source for a release pipeline, "Nuget_" is prepended to the artifact name during the 'Download Artifact' step, causing an error during this step:

`Failed to get package metadata with error Error: Failed Request: Not Found(404) - The package with ID 'Nuget_xxxx' was not found in feed w

[2018-11-28 23:05] aggieben commented on #8911
Ok, it looks like I overlooked a property on the task.  I'm using this now:
[code]

The task now picks up the TP v2 executable as configured, but: it doesn't actually run any tests:

![image](https://user-images.githubusercontent.com/1321/49188270-c346a700-f32f-11e8-87da-903d4d2ddf22.png)

Key line (for searching):
`##[warning]No results found to publish.`

[2018-11-29 02:04] blackbaud-brandonstirnaman commented on #8885
After thinking about it.. realized I could hack this but really wish I didn't have to... Just looping over my secrets in the bash script that loads them and writing them into a variable (for simplicity, the same variable for each secret.. seems to work?).

```jq '.secrets' ./config.json | xargs -L1 -I% echo '##vso[task.setvariable variable=N1;isSecret=true]'%```

[2018-11-29 02:31] MarkAtAgilliance opened #8940 "Feature Request: support connection strings in pipeline task SQL Database Deployment"
Feature request.  In the Azure SQL Database Deployment task (SqlAzureDacpacDeploymentV1), **support full connection strings as an option**.  This would use the alternative form of Invoke-SqlCmd that accepts a connection string.  Enable the form field to use variables so that we can pull this from a variable populated by KeyVault and pass it to the agent.

We are working on multiple Azure Data Fact

[2018-11-29 03:56] kmkumaran commented on #8920
@benne - Making Azure File copy xPlat is in our backlog. Adding @RoopeshNair . Until then using Azure CLI will be the right way to solve.

[2018-11-29 04:57] RoopeshNair commented on #5820
@jawn - we are monitoring this. Please stay tuned.

[2018-11-29 06:46] ShreyasRmsft commented on #7318
@manu4rhyme have you tried adding try finally blocks around all your selenium invocations and terminating browsers/drivers instantiated?

[2018-11-29 06:56] nigurr commented on #7545
Hi @ChristopherHaws, after deep diving into this issue, this requires much larger fix from TRX generation.
To mitigate this issue, we recommend customers to turn on "Batch Options" as shown above, this will solve the issue with "Display Name and FQDN"

Thanks for your support and we are closing this issue as we don't have any immediate plans to fix in TRX generation.

[2018-11-29 06:56] #7545 closed

[2018-11-29 08:14] omeshp commented on #8934
Thanks @shubham90 we will take care of adding retries.

[2018-11-29 09:44] ShreyasRmsft commented on #8821
@jagany this has been fixed in the latest version of the vstest task.

Another additional fix was made with regards to proc dump holding onto a file in the results directory - to get this please use the latest version of the test platform using the vstestplatform tool installer task.

Please reopen the issue if you are still facing this problem.

[2018-11-29 09:44] #8821 closed

[2018-11-29 09:51] prawalagarwal commented on #8911
@aggieben Usually it is not advised to target a test project on netstandard2.0, you can instead target netcoreapp2.0 or netcoreapp2.1. These can then take references to any netstandard project.

Also, netcore projects cannot be run by VsTest task today. This is a limitation which will be fixed in future releases. For them you need to use dotnet task with 'test' command. I will suggest you to use t

[2018-11-29 10:02] nigurr commented on #8686
@jonmclean I tried publishing the sample xml which you have provided and it's working as expected.
![image](https://user-images.githubusercontent.com/15208679/49214142-ffd7d880-f3eb-11e8-9ffc-e546c6ffd2c7.png)

Total Tests: 4
Skipped tests: 1 (Other)

[2018-11-29 10:02] #8686 closed

[2018-11-29 10:50] landrus commented on #8897
Yes, that works. Thanks for that information. Now, I can wait happily for this fix here :)

[2018-11-29 10:57] aardouin commented on #8918
Hi,
In fact, this file is not mine, it's part of VSTS's mac os image.

[2018-11-29 11:16] johnkors commented on #8428
@RoopeshNair , could you list them? We're also interested in doing this.

[2018-11-29 11:51] RoopeshNair commented on #8428
@N-Usha

[2018-11-29 14:49] beatcracker opened #8945 "Multiple patterns in NuGet PUSH don't work correctly if negated pattern is first"
## Environment
- Server: **Azure Pipelines**
- Agent: **Hosted** , `Hosted Ubuntu 1604`

## Issue Description

I've got NuGet `push` task looking like this:

[code]

The `$(Build.ArtifactStagingDirectory)` contents are similar to this:

[code]

File pattern is supposed to exclude package with `.Release.0.459.0-stable4862.nupkg` and push only `MyPackage.0.459.0-stable4862.nupkg`.

But NuGet `push`

[2018-11-29 16:44] joshmgross opened #8947 "Translation Typos for zh-TW Resources"
There are a few cases of translation typos in some of the zh-TW files where `True` is spelled as `Ture`. This has to be fixed internally with the translators so that future translations don't overwrite the typo fixes. @stephenmichaelf is tracking this issue.

[2018-11-29 16:46] joshmgross commented on #8947
See: https://github.com/Microsoft/azure-pipelines-tasks/search?q=ture&unscoped_q=ture for all the cases of `ture`

[2018-11-29 18:13] pjcollins opened #8948 "MSBuild is invoked multiple times when the clean argument is set to true"
## Environment
- Server - Azure Pipelines - DevDiv - Build Definition: `CompatLab PR (blank-forms-template)` / `2242052`

## Issue Description
Looking over the relevant [MSBuild task source](https://github.com/Microsoft/azure-pipelines-tasks/blob/master/Tasks/MSBuildV1/msbuild.ts#L43-L62), `MSBuild` will always be invoked twice if `clean` is set to true, regardless of the value of any arguments or

[2018-11-29 18:31] W0GER commented on #2439
Starting 11/20 we started seeing the same issue as originally reported:

[2018-11-29 18:48] W0GER opened #8949 "In a Task Group (Meta-Task) Write-Host "##vso[task.setvariable variable=someVar;]someValue" when the variable is used later within same task group it's back to the default value"
## Issue Description
In a Meta-Task (Task Group)
In step 1 - PowerShell Script that executes:
`Write-Host "##vso[task.setvariable variable=PullRequestSourceBranchName]$pullRequestSourceBranchName"`
or
`Write-Host "##vso[task.setvariable variable=PullRequestSourceBranchName;]$pullRequestSourceBranchName"`

In step 2 - reference the $PullRequestSourceBranchName
However in that step the variable is b

[2018-11-29 19:28] vladonemo opened #8950 "Install SSH key doesn't add the public SSH to the known_hosts"
## Environment
- Server - Azure Pipelines

- Agent - Hosted Ubuntu 1604

## Issue Description

We use the 'Install SSH key' task to add a private SSH. The SSH public key contains the public key of the server (ecdsa-sha2-nistp256 algo). However, after running the task, the known_hosts only contains the 'Known host entry' text (the hostname), but not the public key. Hence the SSH connection to the h

[2018-11-29 19:50] fforjan commented on #8817
Thanks.
So what's the rule/usage of github issues vs developer community ?

[2018-11-29 20:46] bryanmacfarlane commented on #8817
Issues in this repo should be for the tasks in this repo ( /Tasks)

If it’s an issue with the service or web that goes to dev comm

[2018-11-30 01:34] zarenner commented on #8945
@vtbassmatt do you happen to know if putting the negated pattern first is expected to work? Either way, probably worth updating https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/file-matching-patterns?view=vsts#exclude-patterns to clarify if this is supported.

[2018-11-30 01:49] bryanmacfarlane commented on #8945
@ericsciple is the expert on our matching patterns for the task lib

[2018-11-30 05:06] ericsciple commented on #8945
the patterns are intentionally applied in order

[2018-11-30 08:04] ParidaPunyasloka commented on #1441
This worked for me! The execution timeout error stopped and I am able to do publishing successfully. However, modifying the registry might warrant unexpected results. An official fix/solution should be provided ASAP. It seems to be an issue with the current SQLPackage version of the VS2017 agent.

[2018-11-30 08:05] Ruud-cb opened #8955 ".NET Core SDK runtime 2.1.6 but The current .NET SDK does not support targeting .NET Standard 2.0."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

**Account n

[2018-11-30 08:41] atlefren opened #8958 "PowerShell: Arguments"-input is missing when choosing "Inline" code."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server: Azure Pipelines
- Agent:  Hosted (windows)

## Issue Description
When adding a PowerShell task to an agent job in a release pipeline the "Arguments"-input is missing when choosing "Inline" code. I am not able to find

[2018-11-30 08:56] pranavsharma opened #8962 "Sync from github to vsts."
We've 2 repos for the same product - one internal (vsts) and one external (on github). The vsts repo is a superset of the github repo. Is there any cookie-cutter recipe to sync changes made in github with vsts? How should one configure this? I read [this](https://nkdagility.com/open-source-vsts-tfs-github-better-devops/), but it might be outdated. Thanks.

[2018-11-30 09:22] LeMaciek opened #8964 "Test batching by testfixture with VSTest task"
## Environment
TFS 2018 Update 3 - agent version: 2.140.0
## Issue Description
Batching based on number of tests or  past running time of tests does not take into account the time of setups for test fixture (Nunit: OneTimeSetup), which in case of UI Tests can be significant. This leads to very poor results and makes this feature unusable. An option based on test fixtures would be helpful...

[2018-11-30 12:09] carlowahlstedt commented on #6384
My two cents on this, and thus the second PR is that there are two areas that timestamps are changing. One is in this task when copying files, the second is the upload of the artifact (as PR #739 states). I don't have validation that the second is still an issue, but the CopyTask updating timestamps is. Thanks.

[2018-11-30 12:45] azooinmyluggage commented on #8885
Hi,
We have support for secret variables https://docs.microsoft.com/en-us/azure/devops/pipelines/release/variables?view=vsts&tabs=batch

![image](https://user-images.githubusercontent.com/6857119/49290054-d2625c00-f4cb-11e8-96cc-f38e21d4f213.png)

Key Vault integration is also present https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-key-vault?view=vsts

Let me know if thi

[2018-11-30 12:53] Allendorf231 commented on #7174
Any update on this?

[2018-11-30 13:46] tmakin commented on #2439
I've just run in to this and I can confirm that the workaround recommended by @JoeBrockhaus fixes it.

In my case I have a variable called `$(ContentContainer)` which is set by powershell inside the task group. I created a release variable called `$(ContentContainer)` with no value and passed that into the task group from the pipeline. Messy, but it works.

I suggest that task groups should allow

[2018-11-30 14:33] JohannesDrexler commented on #8958
You don't need arguments for inline because you can use build/release variables in your inline code. the variables will be replaced with the values when the task gets executed.

[2018-11-30 18:05] joshmgross commented on #8958
@JohannesDrexler is correct. Arguments are for passing into an external powershell script. If you're using an inline script, you can directly put those variables into your inline code.

[2018-11-30 18:05] #8958 closed

[2018-11-30 20:43] groogiam opened #8976 "Command line Task skips last command"
## Troubleshooting
When executing the following command line script via the Command Line task in Azure Pipelines (on prem) the last command is skipped completely.

[code]

[2018-11-30 20:58] eFlores824 commented on #5957
What was the cause of the issue? I'm experience the EXACT same issue with my build. The task 'TestAgentConfiguration' is throwing the exact same error for me

[2018-11-30 23:06] nrajpurkar commented on #8918
Thanks for letting us know @aardouin.

@joshmgross, our Hosted macOS currently supports Gradle 4.10.2 as seen in the [docs](https://github.com/MicrosoftDocs/appcenter-docs-pr/blob/master/docs/build/software.md). We plan to update to Gradle 5.0, but do not have an ETA to share at the moment.

[2018-12-01 05:39] KirillOsenkov commented on #7370
See related: https://github.com/Microsoft/azure-pipelines-tasks/issues/7616

[2018-12-01 18:21] pekspro commented on #8729
I wrote this an extension myself :-) Here it is:

https://marketplace.visualstudio.com/items?itemName=pekspro.pekspro-efcore-migration-script-generator

[2018-12-02 11:07] kmkumaran commented on #8801
The work is currently in progress. It will be likely two sprints before we have the Az module support in relevant tasks and hosted agent and have it ready for users. @niadak will keep this thread posted once ready.

[2018-12-02 12:10] #8717 closed

[2018-12-02 12:14] vincentdass commented on #8768
closing the issue as there is no response from customer.

[2018-12-02 12:14] #8768 closed

[2018-12-02 17:27] #7621 closed, assigned to kmkumaran, chshrikh, arjgupta, asranja, rajatagrawal-dev

[2018-12-02 21:39] blackbaud-brandonstirnaman commented on #8885
As stated above.. It doesn't directly. The content being placed in Kubernetes Secret objects isn't coming from VSTS (or Azure KeyVault). Its coming from a service we call via HTTP. The request is that you actually be careful not to output things that Kubernetes says are secrets, not just magic strings that the user has told you about via some other mechanism (like my hack above).

[2018-12-03 00:14] BernieWhite commented on #8587
@jessevdp For CI to work you need to have web hook configured so that Azure DevOps knows when a PR or push occurs. They should be visible under the repo settings > Web hooks.

The web hooks should be automatically created when you add a service connection for the project in Azure DevOps.

See https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=vsts#sep-github

[2018-12-03 04:41] MarkKharitonov opened #8979 "PublishTestResults for NUnit ignores the <output> element, unless it is a sibling of a <failure> element."
## Environment
- Server - TFS on-premises, version 16.131.27701.1

- Agent - Private:

Capability name | Capability value
-- | --
Agent.OS | Windows_NT
Agent.OSVersion | 10.0.14393
Agent.Version | 2.131.0

## Issue Description

The published NUnit test results only contain console output for failed tests. More details are here - https://stackoverflow.com/q/53548115/80002

### Task logs

[logs.zip]

[2018-12-03 05:06] abhishekguin95 opened #8980 "Downloading and Extracting Packages spyder-3.3.2"
(base) C:\Users\HP>conda update spyder
Solving environment: done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - spyder

The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    spyder-3.3.2               |           py37_0         2.8 MB

The following p

[2018-12-03 05:42] MarkKharitonov opened #8981 "PublishTestResults shows incorrect run duration"
## Environment
- Server - TFS on-premises, version 16.131.27701.1

- Agent - Private:

Capability name | Capability value
-- | --
Agent.OS | Windows_NT
Agent.OSVersion | 10.0.14393
Agent.Version | 2.131.0

## Issue Description

Please, observe:

![image](https://user-images.githubusercontent.com/489792/49355147-3768ae00-f694-11e8-8b7b-df0d0a2fdb29.png)

Unfortunately, I cannot upload the test resu

[2018-12-03 08:14] raketenolli opened #8982 "Publishing test results in JUnit format results in unusual Run Id and wrong test run name(s)"
## Environment
- Server - Azure Pipelines
- Agent - Hosted: Hosted VS 2017

## Issue Description

We have a nightly build definition that runs Node.js WebdriverIO tests using the Jasmine framework through SauceLabs. We have a custom reporter that outputs JUnit format XML files which get published in the _Publish Test Results_ step with the following settings
- Version: 2.*
- Display name: Publish

[2018-12-03 08:30] atlefren commented on #8958
Thanks for the heads-up!

This seems a bit inconsistent to me, but as long as it's possible to pass variables to an inline script in one way or another I guess it's fine.

Does the same thing apply to the Bash task?

[2018-12-03 10:12] vineetmimrot commented on #8935
This issue has been fixed. It will be available in 1.144.1 task version.
https://github.com/Microsoft/azure-pipelines-tasks/pull/8953/files

[2018-12-03 10:12] #8935 closed

[2018-12-03 11:39] vineetmimrot commented on #8726
The fix has been rolled out. Please let us know if you are still facing the issue.

[2018-12-03 11:39] #8726 closed

[2018-12-03 12:11] dhanvi commented on #8483
@ajinkya599 I can use it now Thank You! for the fix 👍

[2018-12-03 13:13] Naidul opened #8984 "Configure SQL Server Auditing using ARM templates"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - H

[2018-12-03 13:16] atlefren opened #8985 "Service Principal Credentials: expose tenant ID as well"
## Environment
- Server: Azure Pipelines

- Agent: Hosted

## Issue Description
As described in [1], getting service principal credentials as variables in a pipeline is handy. The task "Service Principal Credentials" works fine, but when using the "Azure Key Vault libraries for Python"[2] in a pipeline task I need Tenant ID as well (or so I think?)

As the task "Azure Key Vault" is able to get sec

[2018-12-03 13:33] atlefren commented on #8985
Ok, I am too confused. Turns out that a co-worker has made an (internal?) task "Service Principal Credentials", and that this has nothing to do with the solution described in #8726.

Sorry about the confusion!

[2018-12-03 13:33] #8985 closed

[2018-12-03 13:52] bergmeister commented on #4777
@ericsciple  This problem still exists, when trying to publish just one file to a file share, it also publishes empty folders from the path where the file sits. The workaround is not very satisfying, this is the job of the task, otherwise I might as well script a copy command myself.

[2018-12-03 14:01] Shawson commented on #7158
This is an annoying issue- on our web app I've had to split our build into two steps - a web step and a web jobs step which both deploy to different folders

`
msbuild .\MySolution.sln /t:"MySolution_Web" /p:DeployOnBuild=true /p:WebPublishMethod=FileSystem /p:DeployDefaultTarget=WebPublish /p:publishUrl="..\artifacts\debug\web" /p:Configuration=Debug

msbuild .\MySolution.sln /t:"WebJobs\MySoluti

[2018-12-03 15:03] phil-lgr commented on #553
`npm ci` on my build is 50% of the total build time, a cache would be nice

[2018-12-03 15:05] hisuwh commented on #6657
@mattnedrich I assume since you haven't been back here in 21 days that has solved the issue for you?
I am experiencing the same issue painfully frequently so would be good to know if that works

[2018-12-03 15:20] mattnedrich commented on #6657
@hisuwh We have not seen any `npm install` failures since changing to a Command Line task for the `npm install` step

![image](https://user-images.githubusercontent.com/4796480/49382654-f64cba00-f6e4-11e8-9d7b-cd136d55bd02.png)

[2018-12-03 16:14] damccorm opened #8987 "Node Tool Installer fails on versions [0-3].x"
## Environment
- Server - Azure Pipelines
- Agent - Hosted VS2017

## Issue Description

The node tool installer fails with a 404 response.

![image](https://user-images.githubusercontent.com/42773683/49381203-63f6e700-f6e1-11e8-9cf5-674d70321d0a.png)

Upon inspection, it looks like it is expecting there to be packages containing node for windows at https://nodejs.org/dist/v0.12.18 that aren't the

[2018-12-03 17:25] serhit opened #8988 "Exception System.Management.Automation.Runspaces.InitialSessionState while running powershell steps"
We are running Azure pipeline agents on-prem for release.
As part of the release scenario we are running series of powershell scripts.

After updating server to Windows Server 2016 we started to receive exceptions System.Management.Automation.Runspaces.InitialSessionState while execution of these tasks.

Exceptions are occure on various scripts - cannot with confidence say which one will fail. Som

[2018-12-03 20:40] zarenner commented on #8938
Hi @ClearIce,

Currently, NuGet packages are the only type of package supported as a source artifact in Pipelines. We're working on adding other package types such as Universal Packages, but they're not supported today.
I apologize the experience here is so unclear - we'll shortly be updating the UI and documentation to indicate that only NuGet packages are currently supported.

To download Univer

[2018-12-04 01:50] ClearIce commented on #8938
I understand, that clarifies things. Thank you guys for all of the work that you do!

[2018-12-04 01:52] #8938 closed

[2018-12-04 02:35] Lovakumar commented on #8874
This is by design in release. I will let build team comment on feasibility of adding these variables in build. I marked it as enhancement for now.

[2018-12-04 04:03] aggieben commented on #8911
@prawalagarwal I was somewhat unclear about my project - the project _under test_ targets `net461` and `netstandard2.0`.  The test project itself targets `net461` and `netcoreapp2.1`.

But I'm confused about your suggestion about VSTest.  I did finally get this to work, and VSTest does indeed run the test suite for `netcoreapp2.1`.  See the latest test run here: https://dev.azure.com/true-myth/Tru

[2018-12-04 07:31] vineetmimrot commented on #8984
@Naidul : You should see the operation progress bar in Azure Portal under the _resource group -> deployment_. Make sure the template you are using is in good state or you can get the template from azure portal itself under _Automation Options_. If the process ends in Azure, and the task doesn’t stop – let us know.

[2018-12-04 08:00] Naidul commented on #8984
Hi Vineet,

Thanks for your response
By using azure portal we are able to enable that sql auding option.

while deploying through ARM template we are getting this issue.
Please find the below  template what we are using
Template

{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "serverNam

[2018-12-04 08:30] vineetmimrot commented on #8984
@Naidul Have you tried to deploy the same arm template schema using Azure Portal _Automation Option_?

[2018-12-04 08:32] navbhati commented on #8655
Hello, I am also encountering this with following error when calling a function using Invoke Azure Function task -

Response Code: 0
Response: An error was encountered while processing request. Exception:
Exception Message: The request timed out after 20 seconds as no response was received. (type TimeoutException)

Invoke Azure Function task doesn't throw above error if function returns with respo

[2018-12-04 08:33] acesiddhu commented on #8911
@aggieben you should run betcoreapp2.1 test and net461 in separate instance of vstest task. Running them together in a single instance of task is not supported today. I saw your build and i see you are running them in different instance of task. This should work

[2018-12-04 08:34] acesiddhu commented on #8911
please reopen the issue if you are still facing any issues.

[2018-12-04 08:34] #8911 closed

[2018-12-04 08:40] miksteri commented on #3235
I have set up of VM's behind application gateway and have the same error message. Is current scenario supported? If not, any other ideas of how to copy and/or run scripts in VM's behind application gateway. I guess there should be a way to keep CI/CD -pipelines going on without compromising security.

[2018-12-04 09:16] Naidul commented on #8984
NO

[2018-12-04 09:31] prawalagarwal commented on #8908
@blackbaud-rossthomson Any updates here? Also I went through the comment of your last issue. VsTest task does not set the resolution for the test to run. There is no mstsc invoved. It simply invokes the test runner on the agent machine and all resolution related aspects are handled by the tests or any scripts you run.

[2018-12-04 09:35] vineetmimrot commented on #8984
Please try it there first as it will confirm if there is any error in ARM template. Or better get the sample ARM template under automation option. The AzureResourceGroupDeployment task has responsibility for just deploying the ARM template. If you found any issue with the ARM template, please check with SQL team.

[2018-12-04 09:50] sachinma commented on #7174
@pulkitaggarwl can you share some plan for this enhancement request?

[2018-12-04 10:05] blackbaud-rossthomson commented on #8908
I'll have files uploaded by the end of the week :)

[2018-12-04 10:54] Naidul commented on #8984
while deploying the ARM Template trough Azure Portal Automation  Option,
we are getting the below error

{
  "code": "InternalServerError",
  "message": "An error has occurred while saving Auditing settings, please try again later",
  "target": null,
  "details": [],
  "innererror": []
}

Please suggest me

[2018-12-04 10:54] DerAlbertCom commented on #7755
Any Update on this? Cant make a nuget install without an private buildserver where I can modify the Global NuGet.config.

[2018-12-04 12:31] vineetmimrot commented on #8984
I may not be the right person to help for this error. Better you try again or can check with Azure/SQL team.

[2018-12-04 12:35] vineetmimrot commented on #8873
This issue has been fixed https://github.com/Microsoft/azure-pipelines-tasks/pull/8998. It will be rolled out by tomorrow.

[2018-12-04 12:35] vineetmimrot commented on #8837
This issue has been fixed https://github.com/Microsoft/azure-pipelines-tasks/pull/8998. It will be rolled out by tomorrow.

[2018-12-04 12:56] xenalite commented on #6159
@mohantyrr2003 I had a similar issue when assigning a group to Azure Key Vault access policies.
It also failed with "insufficient privileges" error message.
Luckily, Azure PowerShell command had a flag -IgnoreObjectIdValidation or something like that.
If I tried to query for a group with `Get-AzureRmADGroup`, it would return nothing - so you have to know the object ID of the group ahead of the tim

[2018-12-04 14:39] ojdo commented on #8914
I once got file upload working with the VSTS command `uploadfile`, documented in [commands.md](https://github.com/Microsoft/azure-pipelines-tasks/blob/master/docs/authoring/commands.md) in this very repo. However, it seems that not all commands work anymore as advertised. At least [`logdetail` no longer works](https://developercommunity.visualstudio.com/content/problem/258783/repro-of-unable-to-pr

[2018-12-04 15:56] cbrianball commented on #8625
Here's the TestResults folder from the latest execution.
[TestResults.zip](https://github.com/Microsoft/azure-pipelines-tasks/files/2644761/TestResults.zip)

[2018-12-04 16:22] ling1726 commented on #8719
I have just tested this on my pipeline, it copies subdirectories too, so that should mean that it is recursive right?

[2018-12-05 01:51] keggster101020 opened #9001 "Release Variables In Service Connections"
## Environment
- Server

- Agent: Hosted

    - Hosted VS2017

## Issue Description

Hi, I'm trying to use release variables in service connections. Specifically for an Octopus Deploy task.
For the API key, I'm trying to set the value to $(SomeReleaseVariable) to allow for the service connection to take a modified key at runtime. I was able to get this working a while ago but it seems as though th

[2018-12-05 08:14] omeshp commented on #5136
@Symbianx An artifact extension was recently authored for consuming gitlab sources in release, might be of interest to you: https://marketplace.visualstudio.com/items?itemName=onlyutkarsh.gitlab-integration

[2018-12-05 09:37] philippesollaud opened #9002 "Dockercompose push Task does not filter on tags anymore"
Hi,

Using dockercompose in build definition for building and pushing docker images on ACR, we add the BuildId as tags on images:
![image](https://user-images.githubusercontent.com/22167066/49504123-5e340980-f879-11e8-8cc5-626d1c291aae.png)

Since 2 months, the dockercompose push task does not push only the image with the tag corresponding to the current build. Before pushing the image with the sp

[2018-12-05 10:12] SadagopanRajaram commented on #8817
@fforjan - can you please let us know if you were able to open a developer community issue? My hypothesis is that you have data driven tests and we aggregate the data rows into a single result when reporting which is why you see the discrepancy. I want to have a look at the trx file to make sure that the number matches my hypothesis. You can search for the test name which has data rows in the repo

[2018-12-05 12:43] blackbaud-rossthomson commented on #8908
So trying to set the resolution to 1920*1080 I get the fail message:
![two](https://user-images.githubusercontent.com/24247222/49514184-48c7db00-f88b-11e8-89f9-1872ccbbe118.png)
![three](https://user-images.githubusercontent.com/24247222/49514206-4feee900-f88b-11e8-8289-1f3a00abff04.png)
![four](https://user-images.githubusercontent.com/24247222/49514215-541b0680-f88b-11e8-82b3-16d28905b921.png)

[2018-12-05 14:37] thurfir opened #9008 "Wrong assembly version when packaging"
## Environment
- Server - Azure Pipelines
    - Account: sport-decouverte
    - Project: Sport-Decouverte
    - Build Definition: Web.Front-CI
    - Build Number: [6293](https://dev.azure.com/sport-decouverte/Sport-Decouverte/_build/results?buildId=6293)

- Agent - Private:

    - Windows Server 2012 R2
    - VSTS agent 2.140.2

## Issue Description

Hello, we have stange issue with our Nuget pack

[2018-12-05 16:51] ShreyasRmsft commented on #8908
It's quite possible that the splash screen is indeed preventing the screen resolution change. The script basically checks if the current active session is a console session or not.

In this case it clearly has detected the active session is not a a console session.

You can double check this by running a simple powershell command:

query session

Also see if you can get rid of the splash screen.

[2018-12-05 16:58] onovotny opened #9009 "GitHub Release task does not work with GitHub Application service endpoint"
If you try to use the GitHub release task with a Service Endpoint created by the GitHub application, it fails with a "Bad Credentials" error.

[2018-12-05 17:01] onovotny opened #9010 "GitHub Release: Prefer PR/Issues over commits"
In the new GitHub release task, I see a changelog like this:

![image](https://user-images.githubusercontent.com/1427284/49530018-511d1780-f885-11e8-9cef-2df652a4ce63.png)

It would be more useful if it could traverse the links and prefer PR issue tiles and/or linked issues as the list. Only list commits that are outside of a PR.

[2018-12-05 17:01] ShreyasRmsft commented on #8908
Also if you've started the agent with autologon but remote desktoped into the machine at some point of time you sometimes end up losing the console session. A restart of the machine and then running the build/release without remoting to the machine is advisable

[2018-12-05 20:19] halfpeaw opened #9011 "AzureFileCopy Task Should Allow for customized expiration time for SASTokens"
## Issue Description
 AzureFileCopy VSTS Task should add an option to set the length of the expiration token.  Right now its hard coded to four hours which can be problematic if that outputted SaSToken is being used during a particularly long vsts task call.

[2018-12-05 23:22] phil-hodgson commented on #8875
@KirillOsenkov The restore is failing because the source NuGet.Config file only contains a single source (https://ci.appveyor.com/nuget/ilspy-masterfeed). It does not contain nuget.org as a source, which is where the majority of the referenced packages exist.

Whilst nuget.org _may_ be set in a machine or user default NuGet.config file, or whilst earlier versions of nuget.exe will automatically ad

[2018-12-05 23:22] #8875 closed

[2018-12-06 00:58] ajay-arora opened #9012 "AzureResourceGroupDeploymentV2 task does not emit the deployment name"
## Issue Description
AzureResourceGroupDeploymentV2 task chooses a random arm template deployment name. My later tasks need to access the deployment again, but i dont know which one was created by this task. Other deployments are also happening in the same resource group, and I cant rely on the latest one.

[2018-12-06 02:08] phil-hodgson commented on #8850
Given a target feed with:
- Name = myfeed
- Source = https://devdiv.pkgs.visualstudio.com/_packaging/myfeed/nuget/v3/index.json
- Id = 64b8e088-a2d9-408a-a1d2-ce0fb2725952

You may want something like...

[code]

where `<FeedIdOrName>`:= `'64b8e088-a2d9-408a-a1d2-ce0fb2725952'` or `'myfeed'`

Hint: If you create a non-YAML build definition, add and configure the appropriate NuGet task, and set the

[2018-12-06 05:33] #8909 closed

[2018-12-06 05:36] omeshp commented on #8431
Closing this issue since the changes to support this feature are merged.

[2018-12-06 05:36] #8431 closed

[2018-12-06 07:06] prawalagarwal commented on #8305
Closing this issue. Please reopen if you have any more concerns around this. Thanks!

[2018-12-06 08:34] JohannesDrexler commented on #9008
I suggest you configure your build to clean the build-directory on each build when using a private build server.

here is some explanation of what you can configure and what gets cleaned up:
https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/pipeline-options-for-git?view=vsts#clean-the-local-repo-on-the-agent
(note that this does not just apply to git-repos but also tfvc)

Try the 'Sour

[2018-12-06 08:39] vineetmimrot commented on #9012
Hey @ajay-arora ,
There is already a [PR](https://github.com/Microsoft/azure-pipelines-tasks/pull/8722) out, which addresses your issue.

[2018-12-06 08:39] #9012 closed

[2018-12-06 08:52] JohannesDrexler commented on #8684
There might be something wrong with the `%PATH%` environment variable of the executing system.
Check if `%PATH%` contains `%SYSTEMROOT%\System32\WindowsPowerShell\v1.0\`

[2018-12-06 08:53] vineetmimrot commented on #8984
I think this issue is related to Azure Template, thus I am closing this issue. Please revert back in case you found template deployment is working fine but the issue is happening with AzureResourceGroupDeployment Task.

[2018-12-06 08:53] #8984 closed

[2018-12-06 16:07] hisuwh commented on #6657
Unfortunately this has not worked for me

[code]

[2018-12-06 17:24] ktharsis-sw commented on #8610
So the summary run duration in this case is basically the time that the publish test result task takes. I verified this by adjusting the test times - the run duration is almost always 3 seconds (which matches with the task log)

Thanks for the info - would never have figured that out without help.

[2018-12-06 17:24] #8610 closed

[2018-12-06 17:39] mylesbarros commented on #8840
I'm also seeing this in ~1/10 builds using Fastlane and TeamCity with Xcode 10

[2018-12-06 18:26] gwoody1984 opened #9017 "Deploy Connection Strings using Azure App Service Deploy"
## Environment
- Server - Azure Pipelines
- Agent - Hosted
    - Hosted VS2017
- Task - Azure App Service Deploy (Preview)
   - Version 4.* (preview)

## Issue Description

I am attempting to deploy connection strings to an Azure Function App. I am able to specify app settings, but cannot figure out how to make my connection string show up in the connection string settings.

I would specify it man

[2018-12-06 18:49] brunoborges commented on #8918
Perhaps you should ensure the Gradle task will not call the provided Gradle Wrapper inside customers' projects if there are limitations to which Gradle version is supported. Otherwise, this issue will continue to pop up constantly.

[2018-12-06 18:57] zjrunner commented on #6657
I see 5.6 is in play here, has anyone found a newer thread than this: https://github.com/npm/npm/issues/17671 -- looks like there was a known npm race they thought they fixed as of 5.6 that may still be there.  I see many others on there even more recent with the same error, some publish some restore, not much comment from the npm contributors.

[2018-12-06 19:18] brunoborges opened #9019 "Java Tool Installer: support remoteUrl as jdkSourceOption"
The Java Tool Installer should support for the download of a JDK installer available on a remote URL.

Many JDK installers are openly available over HTTP/HTTPS for download.

The current options `azureStorage`, `localDirectory` are not simple to use.

[2018-12-06 20:39] tgillitzer commented on #7295
I am getting the same error in TFS on prem 2018.3

Log with debug turned on:
2018-12-06T20:12:36.6147132Z ##[debug]Evaluating condition for step: 'Signing and aligning APK file(s) **/*.apk'
2018-12-06T20:12:36.6303385Z ##[debug]Evaluating: succeeded()
2018-12-06T20:12:36.6303385Z ##[debug]Evaluating succeeded:
2018-12-06T20:12:36.6459638Z ##[debug]=> True
2018-12-06T20:12:36.6459638Z ##[debug]Resu

[2018-12-06 21:03] MattDavisRM opened #9021 "Show folder path in build selection for Download tasks"
## Issue Description

The "Download" tasks that allow specific build specification should mimic the artifact selection and show the folder details.

Example of build definition selection for Download Build Artifacts task:

![image](https://user-images.githubusercontent.com/45459239/49611794-4d15f600-f968-11e8-8dc9-1ab550fca9da.png)

Example of the artifact build definition selection on a release p

[2018-12-07 02:15] declan-smyth opened #9023 "How do I customize my TestParameters section in a runsettings file using the dotnet vstest CLI"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - **Azure Pipelines**

- Account information

- Agent - Hosted

    - If using Hosted agent, provide agent queue name:  vshosts 2017

## Issue Description
I am trying to run a number of tests for a .Net Core webapp in

[2018-12-07 06:14] vineetmimrot commented on #8837
fix is available in 1.144.3 version.

[2018-12-07 06:14] #8837 closed

[2018-12-07 10:15] nf112-de opened #9024 "Visual Studio Test Task deletes TRX files after publish"
## Issue Description

Hello,

I'm currently setting up a SonarQube build.
For that purpose I need a .trx and .coverage file.
These two files should be generated by AzureDevOps Task "Visual Studio Test".

Obviously the files are generated (I can see them for short time)
and published to TFS but are not persisted in the working directory.
Even if you change the directory, the issue persists.

This i

[2018-12-07 10:45] JohannesDrexler commented on #9024
With the currently rolled out version of VSTestV2 the files won't be deleted on publish but older trx files (from previous runs) on start of the test run.

You could build the task yourself and try to push it against your tfs. I am not sure if the task will work the same in this environment so you might want to change 'Name' and 'TaskId' of the task to avoid breaking the VSTest task that is delive

[2018-12-07 10:51] nf112-de commented on #9024
Hi Johannes,

thanks for your answer.

How can I verify If I'm using the latest task version (or compare)?
Currently our task (V2) is definitely deleting the files after publish.
Is there another way to update task version, like update through the marketplace if needed?

[2018-12-07 10:54] Ruud-cb commented on #8417
So.. how do I work around this because I just received this error while changing nothing in my build configuration, using Hosted VS2017 agent.

[2018-12-07 11:44] JohannesDrexler commented on #9024
The build or release logs the task version as first lines when executing the task. You can't update this task through marketplace unfortunately.

[2018-12-07 12:06] nf112-de commented on #9024
Here is the log with version:

2018-12-07T08:39:03.3323743Z ==============================================================================
2018-12-07T08:39:03.3323829Z Task         : Visual Studio Test
2018-12-07T08:39:03.3323896Z Description  : Run tests with Visual Studio test runner
2018-12-07T08:39:03.3323945Z Version      : 2.0.55
2018-12-07T08:39:03.3324007Z Author       : Microsoft Corporat

[2018-12-07 12:46] JohannesDrexler commented on #9024
Currently rolled out is '2.143.7' and the current version in the master branch is '2.145.0'

[2018-12-07 13:07] nf112-de commented on #9024
Thanks. I will have this checked on and updated.
I will revert back as soon as it is updated.

[2018-12-07 15:23] KUGA2 opened #9026 "Improving CMake Task"
## Environment
TFS on premise. Version 15.117.27024.0

## Issue Description

The current CMake Task is basically worthless. All the benefits to the "Command Line" Task is adding cmake as executable and setting the demand.

## Proposed enhancements

* If Demand CMAKE points to cmake.exe, use this cmake.exe
* Support and Demand multiple different cmake versions that can be installed in parallel
* Ad

[2018-12-07 15:40] elipsion commented on #7295
Disabling `Basic Authentication` in the IIS site solved the issue for me.

[2018-12-07 15:47] madhurig commented on #7295
@elipsion - Thanks for posting the workaround, we are investigating.

[2018-12-07 18:49] JeremyLoy opened #9027 "The Github Release task README should state when it will create tags if they do not exist"
~[The behavior of this task should mirror the Github API](https://developer.github.com/v3/repos/releases/#create-a-release)~

[2018-12-07 19:59] DerAlbertCom opened #9028 "GitHub Release has wrong default Assets folder"
## Environment

Agent: Hoste 2017

## Issue Description

If you add a GitRelease Task to your Release Pipeline the the default for a the assets folder is

$(Build.ArtifactsStagingDirectory)/*

this may work for releasing within a build (which should be a release)

for the release pipeline this should be

$(Agent.ReleaseDirectory)/*

[2018-12-07 21:13] stweedie commented on #7654
Is there any update on this?

Scratching my head as to why I can't deploy a container from my ACR onto an app service using VSTS.

[2018-12-07 21:58] vinaysandela commented on #8041
Facing Similar Issue. Attached is the Build Log.
[1_Build.txt](https://github.com/Microsoft/azure-pipelines-tasks/files/2658895/1_Build.txt)

Build's Get Sources couldn't pull the code from the TFVC Repo

[2018-12-07 22:05] foolip commented on #5073
This would have been handy in https://github.com/web-platform-tests/wpt/pull/14300. There are some things we have to do as an administrator (e.g. installing HTTPS certificates) but others that *can't* be done using an administrator, namely running `MicrosoftEdgeDriver`. This mix is tricky to get right, and something that effectively is like `sudo` would make it easier.

[2018-12-07 22:06] foolip commented on #5073
@thejohnjansen @mustjab, would you mind asking around if there's an open issue somewhere for what we need?

[2018-12-08 09:50] ArieHein commented on #8428
@johnkors any of these will do, or just a powershell script that does RegEx

https://marketplace.visualstudio.com/search?term=token&target=AzureDevOps&category=All%20categories&sortBy=Relevance

[2018-12-08 13:05] janpio commented on #8840
I am getting the same error on Azure Devops Pipelines, but while running `snapshot`/`capture_ios_screenshots` of fastlane as a script:

[code]

[2018-12-08 20:07] ovitrif commented on #5682
Same issue doesn't seem to be fixed / documented or with any workaround suggested in the official docs

[2018-12-09 13:07] sachinma commented on #8417
Can you try this again? We use "https://github.com/dotnet/core/blob/master/release-notes/releases.json" file to get the download URLs for a version. It seems that there was a [bad commit](https://github.com/dotnet/core/commit/061246a56aba13281c3e6f361ebf44ba11d691e8#diff-134da986ed7a3f87e53f741ec8db93c2) in the file which has been fixed with this [one ](https://github.com/dotnet/core/commit/458d7a

[2018-12-09 18:31] anishkny commented on #8647
Yes this was surprising to me too. Please allow publishing just files too.

https://dev.azure.com/anishkarandikar/custom-pipelines-task/_build/results?buildId=45

[2018-12-09 22:51] federicorinaldi commented on #8647
I don't think you should recommend switching to Pipeline Artifacts ([here](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/build-artifacts?view=vsts&tabs=designer)) until you have the same level of support

[2018-12-10 05:22] raiyanalam commented on #9027
This task does create a tag if they don't exist. Have you tried using 'user specified tag' as tag source?

[2018-12-10 05:38] vincentdass commented on #8824
@SeriousM , Is the issue still persisting?

[2018-12-10 05:39] SumiranAgg commented on #7654
@stweedie This feature addition is planned work and should be available in couple of sprints. We will update the thread once feature is ready for use.

[2018-12-10 05:53] JeremyLoy commented on #9027
The documentation for git tag explicitly states it doesn’t not create a tag.

I have not tried user-specified, but it states I should specify a tag. Can you also specify a SHA?

[2018-12-10 05:58] kpzara commented on #6680
Hi,

I am experiencing the same issue. I tried to change the pattern so it will look for the test automation dll files for Easy Repro and for the dll files I have created.

2018-12-10T05:18:40.4786270Z ##[section]Starting: VSTest
2018-12-10T05:18:40.4793309Z ==============================================================================
2018-12-10T05:18:40.4793387Z Task         : Visual Studio Test

[2018-12-10 06:14] prawalagarwal commented on #6680
@kpzara please open a new issue. This is required as we no longer track closed issues. Thanks!

[2018-12-10 06:30] kpzara opened #9033 "Error in Visual Studio Test task v2.* ##[warning]No test assemblies found matching the pattern"
## Issue Description

[Hi,

I am experiencing the same issue on #6680. I tried to change the pattern so it will look for the test automation dll files for Easy Repro and for the dll files generated for my tests. I am new to Azure Devops so I am not sure if I am on the right track.]

### Error logs

[2018-12-10T05:18:40.4786270Z ##[section]Starting: VSTest
2018-12-10T05:18:40.4793309Z =============

[2018-12-10 07:21] SeriousM commented on #8824
No, it's resolved now.

[2018-12-10 08:14] #8824 closed

[2018-12-10 08:26] OneCyrus opened #9034 "docker run additional arguments"
## Environment
- Server - Azure Pipelines
- Agent - Private
- Docker v1 Task

## Issue Description

We would like to specify some additional arguments to docker run. Currently it looks like this is not possible. e.g.

docker run **--isolation hyperv** containous/whoami
docker run **--label com.example.foo=bar** containous/whoami

with docker build we can specify additional arguments. it would be n

[2018-12-10 08:38] danieland opened #9035 "[Question] "File buffer is too short to detect encoding type" fix/solution?"
Hi guys, nice work on this repo:

I'm getting the error: "File buffer is too short to detect encoding type" from a .config file in my website - but I'm having a very hard time figuring out what I can do about this as this error seems to be quite custom and not really leading to anything when googling (only this repo)

Any tips or helpful links on where to go to try and fix this problem with my web

[2018-12-10 09:10] prawalagarwal commented on #8733
@MertSenel Can you go through this [post](https://stackoverflow.com/questions/15067107/difference-between-webdriver-dispose-close-and-quit) to see if this helps? I wil suggest to use both driver.quit and driver.dispose in your cleanup. Let us know if this helps.

[2018-12-10 09:14] Zanpakut0 commented on #6894
Hi, I have this same problem.
I'm using a Local Server (not Online)
Microsoft Visual Studio Team Foundation Server

Version 16.131.28226.3

How to apply this fix in to my VS TS Server ?

[2018-12-10 09:20] prawalagarwal commented on #8468
@benjaminlew any updates here?

[2018-12-10 11:09] raiyanalam commented on #9027
- If you select tag source as 'git tag', then the git tag associated with the commit will be used to create release.
- If you select tag source as 'user specified tag'. Then we ask the user to give a tag. We will create a release with that given tag. If not present we will create it for you. The behavior mimics that of the GitHub API.

- You can specify a SHA in the target commit field, not in the

[2018-12-10 12:46] LockTar commented on #2439
[Workaround](https://github.com/Microsoft/azure-pipelines-tasks/issues/2439#issuecomment-245969869) of @JoeBrockhaus works!

[2018-12-10 13:52] dedalusmax opened #9040 "Error in App Service Deploy task when using quotes in AppSettings"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - H

[2018-12-10 14:46] Tyonoro opened #9042 "Publishing NUnit(2) xml via Publishing Task does not return values in ITmiTestImplementation"
## Troubleshooting
We run our test via NUnit 2 and 3 Testrunner. Publishing the nunit.xml works fine if you want to see the test results in TFS but there is no way to get the results via ITmiTestImplementation.
Our workaround at the moment is to transform the XML into a TRX, fill the needed information and publish by VSTest/TRX setting of publisher. In this way we receive our values in ITmiTestImp

[2018-12-10 14:59] JeremyLoy commented on #9027
Interesting, thanks @raiyanalam. I think the documentation could use a once-over to state this behavior. In its current state, it makes no mention that it creates tags. I'll repurpose this issue to reflect that.

[2018-12-10 16:07] angellaa commented on #8812
I am also looking forward to seeing this happening. We have many customers who want to publish artifacts at release time.

[2018-12-10 19:07] ArieHein commented on #8647
why are you trying to do that in the first place ?

idea is that if you want certain files form the build directory you use a copy task and in the content section you put relative path / specific files / exclude files to the artifact dir (a folder under the _work path of the agent) and the next step would be publish to an artifact name from that 'a' folder.

[2018-12-10 19:08] stweedie commented on #7654
Awesome! Thanks for the update. We can modify the container versions manually for the time being

[2018-12-10 20:48] tgillitzer commented on #7295
Disabling basic auth solved my problem.   We enabled basic auth for the TFX client, does that support PAT yet?

[2018-12-10 20:56] brcrista commented on #7295
PATs should work with `tfx`.  Use `tfx login --auth-type pat --token <your PAT> -u https://dev.azure.com/<your org>/DefaultCollection`

[2018-12-10 21:15] federicorinaldi commented on #8647
According to the help Path to publish is "The folder or file path to publish"

And for your suggestion of using the copy task, the docs also recommends against this:

I've already created a zip file with the files I need, so I only need to publish that, is true that I can publish the entire dir with only that file but this behaviour is not what you would expect from the help and also from the prev

[2018-12-10 21:56] jaredpar commented on #8850
@phil-hodgson

Thanks for the response but I'm still unsure what should be done here. In your sample YAML you didn't include the URL anywhere. Only that `vstsFeed` should be the ID of the URL or the name. I'm unsure where to get the ID of a general NuGet feed or how to establish a name.

[2018-12-10 23:03] danlev1 opened #9045 "Visual Studio Test task does not report an error when unable to load a test module defined in the runsettings"
example of impacted release:
https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=198028&environmentId=788069&_a=release-environment-logs

The 'Run test automation' task should have been marked as failed because not all tests were discovered. Instead, the tests that were discovered all passed, so the task passed. This is hiding critical missing validation.

The following output should

[2018-12-10 23:35] AnshulMehta187 commented on #7214
I did this but the system is not able to find the certificate file in the root folder and I am still getting this issue.
I tried skip the SSL certificate validation as well in the cmd but still it gave me the same error while fetching the build artifacts.

[2018-12-11 04:30] SadagopanRajaram commented on #8625
Thanks for the zip file. I was able to publish the results and see the attachments in the details for the result iteration. For the failed tests, all the iterations are reported in a hierarchical manner and the inner result details are shown at that lower level in the UI. Let me know if the below documentation helps
https://docs.microsoft.com/en-us/azure/devops/pipelines/test/review-continuous-tes

[2018-12-11 05:39] ahmadkhudeish opened #9046 "Copy Files Task failed find"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

Using Azure Pipelines, Team Project Name = MyPatientList, build definition = MyPatientList-CI, Build number: 31
Azure Pipelines:

- Agent - Hosted or Private:
    Self Hosted Mac

[2018-12-11 09:08] Lovakumar commented on #2439
This is an enhancement request hence added enhancement label.

[2018-12-11 09:17] miksteri opened #9049 "Port cannot be defined with Azure File Copy -task"
Cannot define port with Azure File Copy -task, would be necessary when load balancer is used in order to copy files to all VM's behind load balancer. If port could be defined then i could chain many tasks with Azure File Copy -task and use different port for each task. Then from load balancer NAT rules forward certain port to certain VM.

[2018-12-11 09:49] prawalagarwal commented on #8468
Please reopen if you are still facing this issue.

[2018-12-11 09:49] #8468 closed

[2018-12-11 10:21] SadagopanRajaram commented on #8817
@fforjan - I am currently closing this issue assuming that this is related to the documentation below. Please do reactivate if not the case.
https://docs.microsoft.com/en-us/azure/devops/pipelines/test/review-continuous-test-results-after-build?view=vsts
See the section on "View summarized test results"

[2018-12-11 10:21] #8817 closed

[2018-12-11 10:50] prawalagarwal commented on #8925
@montyshashi Can you please attach your complete build logs from a run with system.debug set to true in build variables.

[2018-12-11 12:17] madhurig commented on #7339
Closing since there is no activity since July. Please reach out to us if this is still blocking you.

[2018-12-11 12:21] madhurig commented on #4169
Closing since this is a very old issue. If you continue to have problems, please try using cURL to upload files over FTP.

Thanks,
Madhuri

[2018-12-11 12:21] #4169 closed

[2018-12-11 15:13] nf112-de commented on #9024
Hello,

we had the plugin added as seperate one (changed name) with version 2.145.0.
The issue with the deletion of result files after the test run is solved,
but it will not allow us to select a test plan when selecting "Select tests using test plan"
As a consequence it will also not allow to select a test suite.

Please see screenshot attached.
![task_error](https://user-images.githubusercontent

[2018-12-11 16:36] damccorm commented on #4936
Added #9056 to try to address this

[2018-12-11 19:06] damccorm commented on #7990
@ThePickNick is this still an issue for you?

[2018-12-11 19:19] damccorm commented on #6524
@andmattia is this still an issue?

[2018-12-11 21:07] ahmadkhudeish commented on #9046
I have gotten around this issue by using a simple bash script to copy the file instead, I think the Copy Files task provided by Azure Pipelines is buggy.

[2018-12-11 23:18] devingoble commented on #9009
I get the same result.

[2018-12-12 02:06] kmkumaran commented on #9035
@danieland - can you tell us what task you are using for the web deployment here.

[2018-12-12 02:52] turimbar1 commented on #8812
I have a number of customers who want this functionality :/

[2018-12-12 06:07] kpzara commented on #9033
Hi,

I am able to resolve this issue(see below). But I encountered another problem. My test basically gets data from an excel file. Locally it will work fine using Microsoft.Office.Interop.Excel lib. Running the test via Build pipeline I put the excel file in the azure repository and I am having a hard time to read the excel file(see error below). Is there a way to read and write an Excel file tha

[2018-12-12 06:18] prawalagarwal commented on #8908
@blackbaud-rossthomson any updates here?

[2018-12-12 06:52] mdmdakbar commented on #9009
Thanks for pointing this out. We need some more details to debug this issue.

Can you please let us know about your pipeline configuration? Like if the task is being used in build (CI) or release (CD) , if it is being used in build then are you using yaml  for configuration?

@onovotny @devingoble It would be great if you can provide us with the pipeline definition url. It will help us a lot.

[2018-12-12 08:00] blackbaud-rossthomson commented on #8908
Sure I got the splash screen removed, autologin now works as expected, I still get the same exception above and the pipeline fails.

I've rebooted and not logged into the server since reboot - I still get the same exception above and the pipeline fails (with autologin working).

Any thoughts are appreciated?

Ross

[2018-12-12 09:00] prawalagarwal commented on #8908
@blackbaud-rossthomson Can we schedule a skype call for this? We are available from 10AM- 6PM IST

[2018-12-12 09:01] ShreyasRmsft commented on #8908
@blackbaud-rossthomson can you run a powershell task with the following script and share the output?

`query session`

[2018-12-12 09:38] blackbaud-rossthomson commented on #8908
@ShreyasRmsft output of the query session below + full log of the task:

![agent1query](https://user-images.githubusercontent.com/24247222/49860266-6946e680-fdf1-11e8-9612-f9ebe5d222e9.png)
[7.txt](https://github.com/Microsoft/azure-pipelines-tasks/files/2671305/7.txt)

@prawalagarwal happy to set  up a acall but it would need to be in w/c Jan 7th as I'm off on extended leave from today :)

Thanks

[2018-12-12 10:34] ShreyasRmsft commented on #8908
@blackbaud-rossthomson

what you ran via rdp the output was expected. What i was looking for was the output of the command when run via the agent. But that's alright I had enhanced the task to print the output sometime ago

Here's what i was looking for anyways from the logs you sent

[code]

**_2018-12-12T00:01:37.2461015Z ##[debug]>services                                    0  Disc_**

This lin

[2018-12-12 10:35] ShreyasRmsft commented on #8908
Note that you say **_N_** for service and **_Y_** for autologon

[2018-12-12 12:16] bansalaseem commented on #6894
The fix should be available in [RC1 release](https://azure.microsoft.com/en-us/blog/introducing-azure-devops-server-2019-rc1/)

[2018-12-12 12:23] blackbaud-rossthomson commented on #8908
Apologies I thought that was how I'd configured it - clearly not!

On reconfiguring it, the set resolution still fails, however I don’t actually need it since the autologin is now picking up the profiles resolution in vmware and running the test at 1920x1080.
Thanks to all of you for getting me to a solution!

Ross

[2018-12-12 12:23] #8908 closed

[2018-12-12 13:13] vithati commented on #9002
@philippesollaud , In your docker compose file if image name not contains any tag like in example1,  When you run 'Push service image' command, task internally uses docker push command and it pushes all 'mytestimage' tagged images on the server. This is docker push default behavior. In example2,  When you run 'Push service image' command, it pushes 'mytestimage:latest' tagged image along with addi

[2018-12-12 13:48] ds-ms commented on #9034
@OneCyrus There's an input field called `Command` in the task view, could you pass these extra arguments there and see if it works?
![image](https://user-images.githubusercontent.com/25762922/49873755-ab4c4880-fe42-11e8-8457-ea273cf1fcde.png)

[2018-12-12 14:02] kittaakos opened #9062 "Creating a new GH release with the `GithubRelease` task"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

👍

## Environment
Build: https://dev.azure.com/kittaakos/first-test/_build/results?buildId=135
Current agent version: `2.142.1`

## Issue Description

The new [`GithubRelease`](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/uti

[2018-12-12 14:08] devingoble commented on #9009
@mdmdakbar Do you mean this? https://devingoble.visualstudio.com/FicheUtilities/_release?view=mine&definitionId=2

[2018-12-12 14:14] ArieHein commented on #8647
@federicorinaldi perhaps that is poorly worded or miscommunication of the writer, for me a file path is not path to file. A file path is \\server\share  not a \\server\share\file.ext  so maybe an assumption of the writer vs English terms.

While I agree that this causes a longer build time as youre copying files from one folder on the agent to another folder on the same agent BUT, as you probably

[2018-12-12 14:17] Ajay-MS commented on #5820
@jawn

We have raised PR for support of AAD authentication to Azure SQL Dacpac deployment.
PR - https://github.com/Microsoft/azure-pipelines-tasks/pull/9051

[2018-12-12 14:18] danieland commented on #9035
Thanks for having a look @kmkumaran !

I'm using a very standard IIS Deployment with the:
- IIS Web App Manage
- IIS Web App Deploy

Pretty much out of the box, only slight changes

[2018-12-12 15:01] anishkny commented on #8647
+1 to @ArieHein

I have been delighted by Azure DevOps as I try to use it in my workflows and build a custom task. Even the best of services has some gotchas and this was one. Perhaps a better error message if you try to publish a file instead of a folder - or better yet just allow publishing a file 😀

[2018-12-12 16:02] dallasclement commented on #7158
The webpublish is still broken even in latest version 15.9.20.62856.  I am doubtful this was ever fixed.  And if not, why is Microsoft taking so long?  This msbuild is entirely for use on a build server.

Does anyone know of a workaround?  Is it possible to run an older msbuild 14 to publish only (no compiling)?

[2018-12-12 16:26] bishal-pdMSFT opened #9064 "[.Net Core installer task] extract package fails with "End of Central Directory record could not be found.""
2018-12-12T06:17:22.6112292Z ==============================================================================
2018-12-12T06:17:22.6112371Z Task         : .NET Core Tool Installer
2018-12-12T06:17:22.6112426Z Description  : Acquires a specific version of .NET Core from internet or the tools cache and adds it to the PATH. Use this task to change the version of .NET Core used in subsequent tasks.
2018-

[2018-12-12 16:31] bishal-pdMSFT commented on #9064
One suggestion is to verify checksum or check for abnormally small package size.

[2018-12-12 17:21] phil-lgr commented on #553
I guess this is the ticket we can follow right https://developercommunity.visualstudio.com/idea/365799/improve-hosted-build-agent-performance-with-build.html?utm_source=t.co&utm_medium=referral

[2018-12-12 18:20] schroerbrian commented on #8950
It's not ideal, but you can just add the entire entry (hostname AND public key) to the known_hosts field. Azure should perhaps clarify this

[2018-12-12 18:49] TingluoHuang commented on #8741
@TechWatching try remove the write space in your ##command

`##vso[task.uploadfile] D:\a\1\s\GeneratedOutputFiles********-int.bacpac` to `##vso[task.uploadfile]D:\a\1\s\GeneratedOutputFiles********-int.bacpac`

[2018-12-12 20:20] dallasclement commented on #7158
I did what this gentleman said and it worked!

https://github.com/Microsoft/msbuild/issues/1901#issuecomment-370518364

[2018-12-13 00:03] kaiza commented on #8812
Why doesn't this work in a Release? The documentation here https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-pipeline-artifact?view=vsts clearly states:

Use this task in a build **or release** pipeline to publish pipeline artifacts to Azure Pipelines.

[2018-12-13 00:43] danlev1 commented on #9045
It seems that this is an issue with the VSTest adapter. It only logs the failed condition, but does not raise an error.

[2018-12-13 05:12] prawalagarwal commented on #8733
@MertSenel Any updates here?

[2018-12-13 05:52] Zanpakut0 commented on #6894
@bansalaseem Thanks for the reply. Really appreciate it.
Anyway. Is there any other way ?
I  mean, rather than upgrading the whole version of product to 2019 RC1, I prefer to apply some kind of minor fix pack, if possible.

[2018-12-13 05:57] akbarmdmd commented on #9062
@kittaakos  Sorry for the inconvenience caused.

Action input is case sensitive today and the value allowed is Create and not create. We will be fixing this to be case insensitive soon. Also we should throw error in this scenario.

For now you can either change the case to Create or you can remove this action input as Create is the default value for action and task will work.

Thanks for reporting

[2018-12-13 06:15] TestO2015 opened #9071 "Visual Studio Test Task - fails despite reporting that all tests have passed"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - H

[2018-12-13 07:30] kittaakos commented on #9062
@akbarmdmd, thank you for the help! I am one step further after replacing the `create` action with `Create`. Removing it also "works". Now, I am getting a warning that I do not have the tag when creating the GH release.

[code]

My understanding was that the tag will be created if it does not exist. How does it work? Can you please help me with this?

This could be related: https://github.com/Micr

[2018-12-13 07:46] kittaakos commented on #9062
I've figured it out:

https://github.com/Microsoft/azure-pipelines-tasks/blob/d9cfbdfcfcd98bf8dfb162128123075d3035cc40/Tasks/GithubReleaseV0/main.ts#L56-L66

I had to use `action: Edit`. I think this is misleading so I created a [follow-up](https://github.com/MicrosoftDocs/vsts-docs/issues/2755) for the documentation.

[2018-12-13 08:48] karann-jain opened #9072 "Jenkins V2 Task through's 403 for job completion status"
## Environment
- Server - Azure Pipelines
- Agent - Private (linux):

## Issue Description

We started seeing these errors yesterday. Job is being queued fine but while it waits for completion status the steps are failing.
### Task logs

Job progress tracking failed to read job progress
[error]Job progress tracking failed to read job progress
HttpResponse.statusCode=403
HttpResponse.statusMessage=

[2018-12-13 08:50] vineetmimrot commented on #8561
This PR fixes the issue https://github.com/Microsoft/azure-pipelines-tasks/pull/9054

[2018-12-13 08:50] #8561 closed

[2018-12-13 08:51] #8873 closed

[2018-12-13 09:15] bishal-pdMSFT commented on #8417
Fixed with PR #9015

[2018-12-13 09:15] #8417 closed

[2018-12-13 09:45] akaFalsh opened #9073 "DotNetCoreCLI@2 does not support configuration"
## Environment
- Agent - Hosted:

## Issue Description
When using DotNetCoreCLI@2 parameter configuration is ignored and not added to dotnet.exe call

[2018-12-13 10:22] JohannesDrexler commented on #9073
Cannot reproduce this, how did you configure your task?

[2018-12-13 11:17] mdmdakbar commented on #9009
Service endpoints created through GitHub application is of scheme Token, which we do not support. We have updated the [documentation ](https://github.com/Microsoft/azure-pipelines-tasks/blob/master/Tasks/GitHubReleaseV0/README.md) as well.

Today, OAuth and Personal Access Token (PAT) schemes are supported by this task.

Thanks for reaching out to us. Closing this issue as designed. Feel free to r

[2018-12-13 11:17] #9009 closed

[2018-12-13 11:57] blackbaud-rossthomson commented on #8908
Sure @ShreyasRmsft logs are attached.
[7.txt](https://github.com/Microsoft/azure-pipelines-tasks/files/2675847/7.txt)

I've since removed the task as now I've corrected the autologin per your instructions it's picking up the correct resolution from the user profile :)

[2018-12-13 12:13] ShreyasRmsft commented on #8908
`2018-12-12T12:17:12.7911010Z ##[debug]>                  aut                       4  Disc                      `

Extremely strange, despite autologon there seems to be no active console session. There's something strange going on with the VM. I'm not able to repro this with any of the VMs I create.

Another question: Is this a local Hyper-V vm or a VM on the cloud?

[2018-12-13 12:44] blackbaud-rossthomson commented on #8908
The VM's in question here are VMware VM's on vSphere, exceure my ignorance, would that make a difference?

[2018-12-13 12:48] robertdemartinoXX opened #9077 "Unable to use Get-TfsChildItem in a PS Script build step to retrieve a child item from TFS Server. On-Premises TFS 2015"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - H

[2018-12-13 12:52] cbrianball commented on #8625
@SadagopanRajaram How did you publish the results? I do know what you are talking about when you say "inner result", I don't see attachments for any results in Azure DevOps (but if I simply open the trx file from the zip I posted in Visual Studio it works fine.

I am not using any extra tasks to publish the results, I'm relying on the "Visual Studio Test" task to do that -- should I create a separ

[2018-12-13 13:33] RichRowan opened #9078 "PublishTestResults for NUnit3 xml results doesn't use duration"
## Environment
- Server - Azure Pipelines
Private account.

- Agent:
Private
Windows 8.1
Agent.OS | Windows_NT
Agent.OSArchitecture | X64
Agent.OSVersion | 6.3.9600
Agent.Version | 2.142.1

## Issue Description
The Publish Test Results task doesn't handle the duration of test cases or the entire suite. It looks to be based on the end-time minus the start-time and ignores duration entirely. It does

[2018-12-13 13:49] twcarnahan opened #9079 "TFS 2018 Update 2 Core 2.1 Build Failed Missing Assembly - System.DirectoryServices"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - H

[2018-12-13 13:54] twcarnahan commented on #9079
https://stackoverflow.com/questions/53660049/tfs-2018-build-fails-with-core-2-1-and-microsoft-windows-compatibility-2-0-1
I don't know what to try now - I've edited the cproj file with no success.
You can reproduce this with a new .net core 2.1 MVC project - then just add the Microsoft Compatibiltiy package or System.DirectoryServices directly.
It will build locally, but NOT using the pipeline MSB

[2018-12-13 15:33] twcarnahan commented on #9079
After much research, the cproj file is hidden and you can only edit it via the menu in Visual Studio. Anyway, this file did not get Updated in TFS 2018 after adding the System.DirectoryServices package. Therefore, what the TFS 2018 Build server did was correct - looked at the cproj file and found assembly missing. I went to the Server and edited the cproj file to add the assembly and solved the pr

[2018-12-13 15:33] #9079 closed

[2018-12-13 16:04] OneCyrus commented on #9034
@ds-ms no, that doesn't work. it adds them as command

![image](https://user-images.githubusercontent.com/7747800/49950931-16f0ed00-fef9-11e8-8dfe-091027e313f6.png)

[2018-12-13 16:14] DavidStaheli commented on #8732
This is now fully available in production.  Thank you for your patience as we worked through some bugs and security considerations!

[2018-12-13 16:32] ahaleiii commented on #5612
The link provided by @bansalaseem's [answer](https://github.com/Microsoft/azure-pipelines-tasks/issues/5612#issuecomment-338150893) helped me resolve an issue I was having:
https://developercommunity.visualstudio.com/content/problem/407703/update-release-api-returns-tf400898-an-internal-er.html

[2018-12-13 17:41] jrmcdona opened #9080 "PERM: operation not permitted, scandir. error errno -4048"
I have seen this errror in the issues in other spots from several years ago.  I am not doing anything tricky here.  Just a npm install.

## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipleines
https://microsoft.visua

[2018-12-13 18:01] FerAguilarR93 opened #9081 "TFS .net core build does not show code coverage"
## Environment
- Server - TFS 2017 update 2

- Agent - Hosted or Private:
    - Private
      SO: Windows 10
     agent version:  2.142.1

## Issue Description

I am attempting to get code coverage using a build with ASP.NET Core (PREVIEW) template:

![image](https://user-images.githubusercontent.com/23412502/49957155-92887500-fecc-11e8-976b-df8c58eef37e.png)

but I can´t found the coverage code o

[2018-12-13 20:09] TechWatching commented on #8741
I am using the visual designer for my build so I have no control on this. The command you are mentionning is a command done by the "Azure SQL Database Deployment" task. I only can see the logs.

[2018-12-13 23:36] twurm commented on #8186
@amaljg, @pulkitaggarwl I agree that it would make life a lot easier if the task looked to see if a global.json file was found in the root folder of the solution.

[2018-12-14 00:44] jrmcdona commented on #9080
Actually my Agent was not set right.  It is running better on Hosted agent.

[2018-12-14 00:44] #9080 closed

[2018-12-14 00:47] gandhiprachi commented on #9072
Seeing the same issue in our pipelines. Things were fine until y'day.

[2018-12-14 01:06] drcrook1 commented on #8762
I'm having same exact problem.  2018-12-14T01:00:42.6237202Z ##[warning]Error occurred while publishing code coverage files. Error: Access to the path '/home/vsts/work/1/s/junit/cov_html/summary214' is denied.

I can see coverage summary on summary page; but not the html outputs.

[2018-12-14 01:55] mikeharder opened #9084 "PublishTestResults: [warning]Could not publish build level data. Object reference not set to an instance of an object."
## Environment
- Server - Azure Pipelines
  - Build Log (debugging enabled): https://dev.azure.com/azure-sdk/public/_build/results?buildId=1715
- Agent - Hosted
  - Queue: `vs2017-win2016`

## Issue Description
On Windows, the `PublishTestResults` task generates the following warning:

[code]

No warning is generated when the same task is run on our Linux or Mac agents:

[code]

[2018-12-14 02:06] jrmcdona commented on #4311
did Chrome ever get added to the Hosted Microsoft agents?

[2018-12-14 04:09] rakol-ms commented on #8315
@rh072005 you can choose connection type as `None` and pass `--client-only` as an argument to init command for `HelmDeploy` task.
![helm_client_only](https://user-images.githubusercontent.com/45386516/49982725-28330b80-ff84-11e8-8052-0b1bddb38531.PNG)

[2018-12-14 04:14] JSRunning commented on #9072
Our pipelines experienced this issue starting this morning as well. I've reverted our usage of the Jenkins Queue Job task to 1.x for the time being, and that seems to be working as expected.  Hopefully this issue will be addressed soon.

[2018-12-14 04:16] gandhiprachi commented on #9072
Yea its annoying especially if theres a lot of pipelines using this task.

[2018-12-14 05:16] DazChong commented on #6686
Still having similar issue.

[2018-12-14 05:59] martins-vds commented on #8655
Hi there,

I'm having the same issue. I followed the proposed solution but the behavior hasn't changed as I am still getting the 20-second timeout

Thoughts?

[2018-12-14 06:09] ShreyasRmsft commented on #8908
@blackbaud-rossthomson just trying to see if the VMs you get would have any configuration set by default that could be preventing the resolution change. To be quite honest this seems like a one off scenario and trying to figure out what's happening without access to the machine is difficult.

If you try to take a screen shot from the build at the very beginning of the build before launching anythi

[2018-12-14 09:34] omeshp commented on #9001
Here is an example where I used the command to update the password field of endpoint to some dummy value to fail the teamcity download task

Command:
`Write-Host "##vso[task.setendpoint id=7ca2e022-0d02-4c4c-bd0a-f6b4e099f299;field=authParameter;key=password]testvalue"`

Failing Release:
https://panditaomesh.visualstudio.com/Tests/_releaseProgress?_a=release-environment-logs&releaseId=6&environmen

[2018-12-14 10:34] bansalaseem commented on #8655
@martins-vds can you please share the link to a failed release and also the code that you have written inside azure function to call back?

[2018-12-14 11:32] VladDerptastic opened #9087 "Build steps jumping from 'skipped' to 'successful'."
Hello, folks. What I have is not a breaking bug, but it seems like an unexpected behaviour.

#### Environment
I'm using a hosted agent of Azure Pipelines
Acc: vlad0359@stud.kea.dk
Org: vlad0359 (not terribly original I know)
Proj: EF.JA.Config
BN: 20181214.2
Agent: Hosted VS2017

#### Issue Description
It's a pipeline for getting NuGet package projects checked and then stored in my Artefacts.
Howe

[2018-12-14 11:57] puagarwa commented on #9084
HI,
  We understand the issue and we are in process of fixing it. we will update the thread with release update.

[2018-12-14 12:01] vtbassmatt commented on #8186
@NetTecture I'm sorry that this issue is frustrating. Please strive to be [friendly, patient, welcoming, and respectful](https://opensource.microsoft.com/codeofconduct/) in your communications with us. We'll continue to return the favor.

@amaljg's comments are a perfectly acceptable *workaround*. For another: I see that [global.json is read from the current working directory or any parents](https

[2018-12-14 12:22] twurm commented on #8186
I’ll take a wake at the suggested work around this week sometime.  Once I get things working I’ll post the PowerShell here.  @vtbassmatt I did look at the code just to make the change, the shell script stuff isn’t my thing.  So for now this seems like the best solution.

[2018-12-14 13:05] twurm commented on #8186
@NetTecture, @vtbassmatt here is a quick and dirty solution eventually we will clean it up further but for now it works and solves the issue of SDK Upgrades.

1.  Create a new Variable in your Pipeline called: SdkVersion
2. Create a new PowerShell task in you Pipeline before "Use .Net Core Version xyz" task
3. Set the PowerShell task type to InLine and set the body to:
[code]
4. Edit your "Use .Ne

[2018-12-14 13:33] StefanKert commented on #8249
@RoopeshNair is there a rough timeframe for Powershell support?

[2018-12-14 16:01] RoopeshNair commented on #8249
No concrete time lines yet, probably ~4-5 months.

[2018-12-15 09:12] xenalite commented on #8726
@vineetmimrot So you approved a change that would expose credentials even though it was explicitly mentioned that it would be security role?

[2018-12-15 10:51] nelisbijl commented on #6439
I managed to create a self-hosted agent from https://github.com/Microsoft/azure-pipelines-image-generation using packer. Although the documentation fails to explain how to create a VM from the generated vhd and image file, I got one up and running, installed the agent software and configured it.

However, this agent still fails to cache the costly 'npm install' step in my Dockerfile.
If I run the

[2018-12-15 22:42] martins-vds commented on #8655
I've also noticed a different behavior.

I'm calling 2 azure functions as you can see bellow and the one that fails is the first on.
![image](https://user-images.githubusercontent.com/41807230/50048039-76790500-007f-11e9-83ab-78d50e2ce547.png)

Build summary
![image](https://user-images.githubusercontent.com/41807230/50048051-b4762900-007f-11e9-8c0b-89c192e41160.png)

Azure function step log
![ima

[2018-12-16 04:31] sachinma opened #9092 "PackerBuild task cleans up directory containing template file for user provided template."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises? Both

- Agent - Hosted or Private:  Both

## Issue Description

Select "User Provided" template option in the Packer Task and the task ends up cleaning up the folder containing the

[2018-12-16 04:47] MarkKharitonov opened #9093 "PublishTestResults does not publish test attachments for NUnit tests."
## Environment
- Server - TFS on-premises, version 16.131.27701.1

- Agent - Private:

Capability name | Capability value
-- | --
Agent.OS | Windows_NT
Agent.OSVersion | 10.0.14393
Agent.Version | 2.131.0

## Issue Description

The published NUnit test results do not contain any test attachments, even if the respective test results XML does list them.

I looked at the source code of `Microsoft.Tea

[2018-12-16 07:35] bonesoul commented on #9084
having the same issue here.

[2018-12-16 12:34] michaeldeongreen opened #9094 "Script failed with error: Error: Unable to locate executable file"
Getting this error when using an Azure CLI Release Pipleline Task.

## Environment
- Server - Azure Pipelines (Release Pipeline)
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

Greensharesthoughts, GreenOneFoodTrucksV2, GreenOneFoodTrucksV2-CD/220181216.9
- Agent - Hosted
    - If using private agent, provide the OS of the machine r

[2018-12-16 22:06] TestO2015 opened #9095 "[VsTest task] Vstest.console.exe error "An existing connection was forcibly closed by the remote host""
## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description
We have a Visual Studio Test task which fails with an error returned from vstest.console.exe.
There were no test failures reported however not all were run; it appears it aborted before they completed.

Error from VsTest log:

2018-12-13T00:33:18.5763946Z Test Run Aborted.
2018-12-13T00:33:18.5763992Z Test execution t

[2018-12-16 23:52] mickeygousset opened #9096 "Please add Node Tool support for using nodejs nightly builds"
## Environment

- Server - Azure Pipelines
- Agent - Hosted VS2017

## Issue Description

Travis CI provides the ability to create builds using the nightly build from Nodejs.  In the screenshot below (from the ExpressJS repository), they are specifying multiple versions of NodeJS, and specifying that certain versions use the nightly build.

The Node Tool should provide this support as well.  It sh

[2018-12-17 02:41] #9071 closed

[2018-12-17 03:10] Ramanean commented on #7177
This is ridiculous, Framework 4.6.1 is not still supported by VSTest..what's the reason for it?

[2018-12-17 03:57] sachinma commented on #9073
@akaFalsh  did you try out the suggestion from @JohannesDrexler . This should help you out.

[2018-12-17 05:21] prawalagarwal commented on #8925
Closing the thread. Please reopen if you are still facing issues here.

[2018-12-17 05:21] #8925 closed

[2018-12-17 09:58] hiyadav commented on #8884
Hey @manojvazirani
can you share the logs of the passing task in the build with build variable "system.debug" = "true".

[2018-12-17 11:13] SwanseaUniveristy commented on #9072
@kelliejos  Thanks for the fix, do you know when this is going to be released as it's causing a lot of issues for us and can't revert back to version 1 as we need the output variable included in version 2.
Thanks

[2018-12-17 12:01] Geertvdc opened #9100 "Azure Powershell task keeps user logged in after task ends"
## Environment
- Server
  - Azure Pipelines

- Agent
  - Private Agent Windows Server 2016 Datacenter

## Issue Description

We've created shared build agents for multiple teams to use which connect to Azure Pipelines. When we use the Azure Powershell task it will log in using a service principal that we select in the pull down menu.

the problem however is that this service principal is never log

[2018-12-17 13:34] youfoundkris commented on #9084
@puagarwa same issue here. Can you please explain what the issue is?

[2018-12-17 14:16] markallisongit opened #9102 "Error downloading artifacts when behind a proxy"
## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
spektrix, spektrix, MigrateDB, MigrateDB-demo1-20181217.5

- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version:
Windows Server 2012 R2
Agent version vsts-agent-win-x6

[2018-12-17 14:36] rlesavre commented on #9084
having the same issue here too
[code]

[2018-12-17 16:39] damccorm commented on #8848
Added a PR to address this

[2018-12-17 17:42] mguirao commented on #8622
Any feedback on this ?
It's been 2 month.

[2018-12-17 17:49] damccorm commented on #8987
Hm, the Windows 0.x error is definitely the same, the Linux errors look more like expected behavior when that version of node isn't available on nodejs.org (coming from [this line](https://github.com/Microsoft/azure-pipelines-tasks/blob/69a6b16dd2fcd32650a4beccb34982f5bff6d36e/Tasks/NodeToolV0/nodetool.ts#L66)). Judging from [here](https://nodejs.org/dist/index.json) and [here](https://nodejs.org/

[2018-12-17 17:56] bryanmacfarlane commented on #8987
Yeah, there never was a node 1 - 3.  0.12 is marginally interesting to fix

[2018-12-17 18:11] mickeygousset commented on #8987
@damccorm @bryanmacfarlane  I'm trying to create Azure Pipeline builds for some different open source projects. The goal being I want to recreate their current builds as much as possible.   The particular example I've given above is from the [expressjs\express](https://github.com/expressjs/express) project.   In their Travis and their Appveyor builds, they are testing the following versions:

- 0.

[2018-12-17 19:08] bryanhelms opened #9104 "AzureRM: The TypeConverter was ignored because it already occurs [Azure File Copy]"
## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
       - Account Name: msmobilecenter
       - Project Name: Mobile-Center
       - Release ID: 24966

- Agent - Private:
     - If using private agent, provide the OS of the machine running the agent and the agent version:
      - Windows versi

[2018-12-17 19:09] bryanhelms opened #9105 "AzureRM: The TypeConverter was ignored because it already occurs [Azure File Copy]"
## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
       - Account Name: msmobilecenter
       - Project Name: Mobile-Center
       - Release ID: 24966

- Agent - Private:
     - If using private agent, provide the OS of the machine running the agent and the agent version:
      - Windows versi

[2018-12-17 19:31] keggster101020 commented on #9001
@omeshp thanks for this info, it proves that it can be done using the setendpoint API.
As a followup question, how did you find out the name of the key to be "password"?

[2018-12-17 20:31] SteveKennedy opened #9106 "NuGet Push Does Not Respect APIKey parameter"
## Environment
- Server - Azure Pipelines or TFS on-premises? On-Premise

    - If using TFS on-premises, provide the version:  TFS 2017

- Agent - Hosted or Private: Private

    - If using Hosted agent, provide agent queue name:

    - If using private agent, provide the OS of the machine running the agent and the agent version:
OS: Windows
Agent Version: 1.105.6

## Issue Description

Using NuG

[2018-12-17 21:52] damccorm commented on #8987
Judging from the output [here](https://travis-ci.org/expressjs/express/jobs/467371622) what Travis/Appveyor are pulling down is indeed io.js, not technically Node. @bryanmacfarlane I think I'd lean towards doing the same (it should be a pretty small code change) - I tend to think if you're asking for Node 1-3 you probably know what you're actually getting. If we don't want to do that our recommend

[2018-12-17 21:57] bryanmacfarlane commented on #8987
Sure, I'll re-open and mark as an enhancement

[2018-12-17 22:01] perclausen commented on #9084
same issue:

2018-12-17T19:09:38.0022458Z ##[section]Starting: Publish Test Results
2018-12-17T19:09:38.0026883Z ==============================================================================
2018-12-17T19:09:38.0026970Z Task         : Publish Test Results
2018-12-17T19:09:38.0027047Z Description  : Publish Test Results to Azure Pipelines/TFS
2018-12-17T19:09:38.0027101Z Version      : 2.144.4
201

[2018-12-17 22:02] bryanmacfarlane commented on #9105
dupe of #9104

[2018-12-17 22:02] #9105 closed

[2018-12-17 22:04] bryanmacfarlane commented on #9087
This repo is for tracking issues with /Tasks in this repo.

If you're having an issue with the service, you can report @ developer community

[2018-12-17 22:04] #9087 closed

[2018-12-17 22:06] bryanmacfarlane commented on #9077
Issues here are for reporting bugs with in the box /Tasks in this repo

[2018-12-17 22:06] #9077 closed

[2018-12-17 22:11] bryanhelms commented on #9105
Sorry for the dupe! Had a hiccup on airplane wifi, didn't realized it submitted twice 😳

[2018-12-17 22:11] bryanmacfarlane commented on #9105
NP :)

[2018-12-17 22:19] bryanmacfarlane commented on #8980
Issues in this repo track issues with in the box tasks in /Tasks.  Can you reactivate and clarify which task you're having an issue with?

[2018-12-17 22:19] #8980 closed

[2018-12-18 00:47] SergeyKanzhelev opened #9107 "support snupkg creation in dotnet pack"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

Azure

    - If using TFS on-premises, provide the version:

n/a

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

[2018-12-18 04:36] satishkumaarponnusamy commented on #9106
Steven, for feeds within same account/collection, NuGet task will automatically handle the authentication. ApiKey is not used/passed on to packaging service for authentication. That is the reason, it is hard coded.

[2018-12-18 04:47] puagarwa commented on #9084
@youfoundkris basically , this is just warning and no impact on functionality, we just missed some null check for one of new feature. We have fixed it and its in process of deployment.

[2018-12-18 04:58] ds-ms commented on #9034
@OneCyrus could you add a screenshot of how you've configured the definition?

Also, if you notice there are 2 input fields called `Command` when you choose `run`. I've raised a PR (https://github.com/Microsoft/azure-pipelines-tasks/pull/9070) to fix the confusion here.
Whatever you add to the 2nd Command input is given as command line input to docker, which in your case should be the input field

[2018-12-18 05:19] jachin84 commented on #8119
I have the same issue on a self-hosted agent.

[2018-12-18 05:21] omeshp commented on #9001
@keggster101020 It is the same name that is used to define the input in input descriptors for the endpoint contribution. You can use https://github.com/Microsoft/azure-pipelines-task-lib/blob/e0a9634ca6aa7c0095dc5fbf3608ea2539d430fa/node/task.ts#L411 to get whole endpoint authorization object. For data parameters you can check process env variables look at https://github.com/Microsoft/azure-pipeli

[2018-12-18 06:19] rajatagrawal-dev commented on #8846
@twentytwokhz Please refer issue #8920 for upcoming support and workaround recommendation.
Please post further questions on that thread itself.

[2018-12-18 06:19] #8846 closed

[2018-12-18 06:49] joshbouganim commented on #5066
so the new UI is the equivalent of the line metric from the old UI?

[2018-12-18 07:41] OneCyrus commented on #9034
the config looks like this:

![image](https://user-images.githubusercontent.com/7747800/50138969-90456280-02a0-11e9-8828-62f758cbc5b8.png)

the problem is that it adds the command at the end of the command line and thus the docker command uses it as command for inside the container instead of a argument for the docker command.

[2018-12-18 07:43] karanjitsingh commented on #5066
@joshbouganim, yes that's correct

[2018-12-18 07:45] rajatagrawal-dev commented on #3235
@miksteri We do not currently support VM's behind Application Gateways. We do support VM's behind Load Balancers.
Since your ask is different from the subject of this thread, can you create a new issue with your requirement so that we can track that enhancement separately?

[2018-12-18 07:48] arjgupta commented on #9100
@Geertvdc can you tell what is the version of azure powershell that you have installed on the machine ?

[2018-12-18 08:12] Geertvdc commented on #9100
@arjgupta I've checked on 2 different machines which both have same issue. They are running different versions of Azure Powershell:

[code]

other machine is running

[code]

the first machine is an agent that is built using the packer images used by the hosted agents: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/packer-build?view=vsts

[2018-12-18 09:04] zcbenz opened #9109 "Support "Debugging Tools for Windows""
When writing some programs with features to automatically upload crash reports, it is required to have the `dbghelp.dll` and `dbgcore.dll` from "Debugging Tools for Windows" which is part of Windows SDK.

I think it should be installed by default, or there should be a way for users to install it separately.

[2018-12-18 09:17] teejam2 opened #9110 "Maven Task Not authorized when "Authenticate built-in Maven feeds" is enabled"
## Environment
- Azure Pipelines
- Account name: bcagroup
- Team project name: LOL
- Build definition name: ci_lolrequestdetectionserver
- Build number: #20181218.1
- Agent - Hosted
- Queue name: Hosted VS2017

## Issue Description
I have got an Azure Artifact called com.bca:testing
![image](https://user-images.githubusercontent.com/27975947/50143678-2d09ff00-02a5-11e9-8cae-4d85a3ebc9d7.png)
I hav

[2018-12-18 09:49] acasella commented on #7870
I'm not sure to understand the answer. For me, the problem is a simple bug. A "break" sentence is missing. By only adding it the bugs dissapears. Take a look at this PR: https://github.com/Microsoft/azure-pipelines-tasks/pull/7871

[2018-12-18 10:07] akaFalsh commented on #9073
@JohannesDrexler  this works for me either. However I was wondering why configuration parameter does not work.

[2018-12-18 11:21] BiribiriJaNai opened #9111 "Archive@2 task fails on a Linux agent with message Failed which: Not found zip: null"
## Environment
- Server - Azure Pipelines
- Agent - Private, Azure VM Ubuntu 16.04, agent version: 2.144.0

## Issue Description
using this config in my Yaml pipeline,
[code]
the task fails with the message *Failed which: Not found zip: null*

### Task logs
[code]

**Edit: The task does work properly on a Windows agent.**
[code]

[2018-12-18 11:52] JohannesDrexler commented on #9073
can you show us some build logs and how you configured your task ?

[2018-12-18 12:08] ds-ms commented on #9034
You're right!
I've exposed an input field called `Arguments` (in PR #9070) which should solve your problem.

[2018-12-18 14:14] madhurig commented on #9072
Fix was deployed over the weekend, please let us know if you still see issues.

[2018-12-18 14:14] #9072 closed

[2018-12-18 14:18] miksteri opened #9115 "Support to copy files and run powershell on virtual machines behind application gateway"
I'm currently having infrastructure of multiple VM's behind application gateway and I would like to use CD-pipeline to copy files and run powershell -scripts on those virtual machines to manage in-house solution upgrades properly.

When I use "Azure File Copy" -task at the moment, i get error: Unable to get FQDN for all resources in ResourceGroup : 'Name-of-AppGateway'".

[2018-12-18 14:19] miksteri commented on #3235
Sure, I created another issue: https://github.com/Microsoft/azure-pipelines-tasks/issues/9115

[2018-12-18 15:09] gandhiprachi commented on #9072
@madhurig  - is there a way of figuring out that a fix was deployed from github?

[2018-12-18 15:31] madhurig commented on #9072
@gandhiprachi - Sorry we don't have a way of tracking that on GitHub or externally today. We apologize for the inconvenience but are constantly looking to have more transparency in our process.

Thanks,
Madhuri

[2018-12-18 16:19] JSRunning commented on #9072
I tested this yesterday and I can confirm that it is indeed fixed.

[2018-12-18 16:22] OneCyrus commented on #9034
perfect. thanks!

[2018-12-18 16:25] SarahGrif commented on #8980
I got the same error, Windows 10, installing update for Spyder 3.3.2 from Anaconda download.  I rebooted and then went to start menu again.  But instead of opening the Anaconda prompt normally, I right clicked and selected "open as administrator".  Then I did the two prompts:
conda update qt pyqt
conda update spyder

This worked and I verified that the new 3.3.2 version of Spyder was in my Anacond

[2018-12-18 18:35] damccorm commented on #8987
Added a PR to address the issue with versions 1-3 (a solution to the original 0.x issue has already been merged)

[2018-12-18 18:38] anangaur commented on #9107
What's the version of SDK used? It must be 2.1.500 or above.

[2018-12-18 18:40] anangaur commented on #9107
Ignore the above comment. Missed the last part which says `arguments` didn't apply :)

[2018-12-18 19:10] damccorm commented on #9096
I'm looking into this, a couple of clarifying questions/thoughts though:

1) What does it actually mean to get nightly builds for node v9 or v10? From [here](https://nodejs.org/download/nightly/), new nightly builds are only being released for v12 since its the only one being actively developed, so I'm not sure what that would even mean.
2) To get some clarification on (1), I tried to look at the

[2018-12-18 19:28] LoaderB0T opened #9117 "Unhandled: read ECONNRESET on windows target"
## Environment
- Server - Azure Pipelines
- Private Project, Hosted VS2017

## Issue Description

The Copy Files Over SSH Task fails in my release pipe with the error you can see below.
All the files are transferred without problems and after that the task still fails.
I've set it to continue on error but now every release finishes with a warning and I don't get an error if something actually fail

[2018-12-18 19:31] jogleasonjr commented on #5651
Seconding the need for this. Either a free-form text box for any/all command line options, or individual UI elements for each [build option](https://www.packer.io/docs/commands/build.html) (there aren't very many) would be great. I was half curious about implementing the former myself -- but it wasn't clear from the contributing guide how to present a modified version of a built in task (such as t

[2018-12-18 23:30] jameshowe opened #9118 "Azure App Service Deploy (Preview) failing consistently - An unknown error has occurred"
## Environment
- Server - Azure Pipelines

    - Account: `tagdat`
    - Project Name: `Geodis`
    - Build Name: `Geodis Portal`
    - Build No: `20181218.1`

- Agent - Hosted

    - Queue: `Hosted Ubuntu 1604`

## Issue Description

Azure App Service Deploy task has started to fail consistently with a very obscure error:

Seems to occur during the KuduSync operation. The task is set to Version 4

[2018-12-18 23:47] heaths opened #9119 "More Information link for GitHub tasks results in 404"
When trying to create a build definition on the web for Azure Pipelines (mainly to copy YAML out), the "More Information" link for the new GitHub Release tasks results in a 404. It currently points to:

https://github.com/Microsoft/azure-pipelines-tasks/blob/master/Tasks/GithubReleaseV0/README.md

[2018-12-18 23:47] mtaron opened #9120 "CondaEnvironment task should support conda env"
The CondaEnvironment build task uses the "conda create" command. It would be *much* better from my perspective if it used "conda **env** create", or at least had the option to do so.

I create an [environment.yml](https://conda.io/docs/user-guide/tasks/manage-environments.html#create-env-file-manually) for each of my projects so that teammates can just run `conda env create -f environment.yml` to

[2018-12-18 23:52] heaths opened #9121 "GitHub Release task times out enumerating accessible projects in large organization"
When trying to configure the new GitHub Release task (v0) for the Microsoft organization on GitHub for devdiv.visualstudio.com - despite the service connection being valid (just re-authorized it to make sure this wasn't the problem), the drop down for the repo times out. And since it's not also editable, I can't simply type the repo name. Perhaps using an editable drop down and doing a partial mat

[2018-12-19 00:04] jimmylewis opened #9122 "MSBuild task does not recognize VS2019"
At first glance, this issue seems to be partly in:

1.  Select-MSBuildPath (located in Tasks\Common\MSBuildHelpers\PathFunctions.ps1), which has a hardcoded list of versions that goes up to 15.0
[code]
2. Get-MSBuildPath which only does the vswhere.exe query when $version is 15.0 (also in Tasks\Common\MSBuildHelpers\PathFunctions.ps1)
[code]
3. Get-VisualStudio_15_0, which is fine by itself but pr

[2018-12-19 00:12] RusmanCool commented on #5066
Could VSTS just make it work with SonarQube? SonarQube is the best tool for not only Code Coverage but for defect idetifications, what VSTS did not even have.

[2018-12-19 00:17] jimmylewis commented on #9122
This isn't as simple as replacing 15.0 with 16.0.  In VS2019, MSBuild is changing the version to 15.1, and the install path becomes `<VSRoot>\MSBuild\Current\Bin\MSBuild.exe` instead of `<VSRoot>\MSBuild\15.1\Bin\MSBuild.exe`.  Should $versions in `Select-MSBuildPath` have a new entry called 15.1 or 16.0?

The vswhere command in `Get-VisualStudio_15_0` (or it's replacement) should use 16.0 for the

[2018-12-19 00:32] bryanmacfarlane commented on #9109
azure-pipelines-image-generation might be a better repo.  It's the repo that gens the hosted images

[2018-12-19 01:08] csinge commented on #8119
Same, Ubuntu 1604 agent

[2018-12-19 01:30] zcbenz commented on #9109
Thanks, I have created https://github.com/Microsoft/azure-pipelines-image-generation/issues/614 for this.

[2018-12-19 01:30] #9109 closed

[2018-12-19 01:48] benken-parasoft commented on #1268
Is this new feature live in VSTS?  I'm not seeing the new checkbox.  When will it be available?

[2018-12-19 05:01] bishal-pdMSFT commented on #5651
@jogleasonjr you can create pull requests in this repo if you want to contribute. See the guidelines [here](https://github.com/Microsoft/azure-pipelines-tasks/blob/master/docs/contribute.md). A text box for build options looks okay to me. @pulkitaggarwl @azooinmyluggage  to comment further.

[2018-12-19 05:03] bishal-pdMSFT opened #9123 "Service fabric deploy task fails to detect SF SDK on x86 agent"
`##[error]Service Fabric SDK is not installed on the build agent. Go to https://aka.ms/servicefabric to download and install it.`

It should look into x86 registry hive

[2018-12-19 05:25] #9034 closed, assigned to azooinmyluggage, bansalaseem

[2018-12-19 05:53] #9092 closed

[2018-12-19 08:58] serhit commented on #8988
As an update:
1. we discovered that it was an issue with start of powershell.exe as such: if you run from the command prompt something like: c:>powershell.exe "Write-Host Hello, World!" - it may crash at start.
Crash was not stable from the first attempt, but happens within fiest 10 attempts with 100% probablility.

2. we have discovered that this issue is very likely caused by antivirus software

[2018-12-19 09:07] PBoraMSFT commented on #5066
@carrocon - ack. Coverage reporting in the web (without needing to download files for offline viewing in the IDE) is on the backlog. There are two parts to the .NET core problem - coverage collection on all platforms and reporting. Our first priority will be to enable collecting coverage data on Linux and then do the reporting bit.

I am also locking the conversation here since the original issue

[2018-12-19 09:43] Geertvdc commented on #9100
I did some extra tests and it seems to be the case that everywhere where we use Azure RM 6.X this is happening while others that only have 5.7 or lower do not have this issue.

The hosted agents only have 5.7 currently so maybe that is why this issue is not on the hosted agents yet.

[2018-12-19 09:58] ChrisProlls commented on #3393
Same need here, any news about it ?

[2018-12-19 11:10] jameshowe commented on #9118
Workaround - switching Azure App Service Deploy to v3.* works.

[2018-12-19 12:00] grenzr commented on #7934
I hit the same problem just now, unable to use `dirname` properly in my scripts because of the wrapper as @andreasf describes. Using Working Directory property makes no difference to the execution. Reverting to V2 works.

Also the shebang and any switches set on it (eg. -e) are ignored too, which is a bit annoying, but I supposed can be worked around by ensuring you use 'set' command directly in y

[2018-12-19 13:13] KairuByte opened #9126 "task.setvariable will not properly set out vars"
No matter what I attempt, I am unable to set output variables properly.

Very simple reproduce steps:

New build pipeline.

Two tasks:
1. Inline powershell script: Set output Reference name to "Test"
[code]
2. DutchWorkz - Display all variables

Run with diagnostics and you will likely get the attached logs, showing that the variables were created, but the names have the values concatenated to the

[2018-12-19 13:52] omeshp commented on #9102
@markallisongit Which proxy server are you using? Is it expecting windows authentication?

[2018-12-19 14:31] azureDaveOps commented on #9122
Austin is working on this now.

[2018-12-19 14:35] azooinmyluggage commented on #9034
Thanks @OneCyrus We will pick up this enhancement.

[2018-12-19 14:47] yacaovsnc commented on #9117
This issue is also tracked here:
https://developercommunity.visualstudio.com/content/problem/380609/release-pipeline-copy-files-over-ssh-task-fails-ev.html

[2018-12-19 15:45] mickeygousset commented on #9096
I'm not sure I'll be much help answering these questions, unfortunately.  If, in examining the repos, it doesn't look like they are using the nightly builds, then it could be because they didn't update the build file to use the new variable.  But if no one is complaining, then it may be that it doesn't matter as much.  My biggest argument for this feature was for parity, and so I could create an A

[2018-12-19 15:45] brcrista commented on #9120
Thanks for the suggestion!  I agree that Anaconda's environment.yml is the best way to set up an Anaconda environment reproducibly, especially for CI.  I would expect that many projects using environment.yml would also be using azure-pipelines.yml.

We considered adding environment.yml support to the Conda Environment task.  This is what we ultimately decided: the Conda Environment task came from

[2018-12-19 15:48] brcrista commented on #8504
I hadn't noticed before, but it looks like you're right -- on Windows, activating the environment at the beginning of a script causes the rest of the script not to be executed.  I tested this on Hosted macOS and Hosted Ubuntu also and they don't have this problem.

Thanks for sharing your workaround.  Let me see what I can come up with here.

[2018-12-19 15:50] devedse opened #9127 "Publish Code Coverage Results: summary access denied"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
[code]

- Agent - Hosted or Private:
    Hosted

[2018-12-19 16:07] markallisongit commented on #9102
we are using a feature of the Citrix Netscaler VPX as a simple forward proxy. No Windows Auth.
https://www.citrix.com/blogs/2010/02/25/netscaler-feature-of-the-day-deploy-as-a-forward-proxy/

[2018-12-19 16:20] TomasHubelbauer opened #9128 "Document how to specify password for Copy Files Over SSH"
I'd like to request for the Cope Files Over SSH it be documented how the SSH password can be securely passed to the task.

[In the documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/copy-files-over-ssh?view=vsts#arguments) is just says that *the private key and the passphrase must be specified for authentication*, but not how.

I am interested in how to do this usi

[2018-12-19 17:53] mtaron commented on #9120
Hmm... I think that makes sense.

I see the "value add" of the CondaEnvironment task over a script in azure-pipelines.yml is that it (sorta) activates the environment for the rest of the job. But since it doesn't *really* activate the environment (not all environment variables set, no custom activation scripts run, etc.), it doesn't seem to add any value over a script...

Having some option to clo

[2018-12-19 18:03] jerickmsft commented on #8119
Looking into this ASAP.

[2018-12-19 18:12] jerickmsft commented on #8119
This should be resolved now.  The impact should have been limited to orgs hosted in Australia and my logs confirm this.  Do let me know if you have seen otherwise.  Apologies both for the disruption and the delayed response.

[2018-12-19 18:36] SergeyKanzhelev commented on #9107
using buildProperties worked! Thank you @satishkumaarponnusamy Do you want to keep this bug open to unify how arguments being set for different commands and avoid confusion? If not - feel free to close it.

![image](https://user-images.githubusercontent.com/9950081/50240495-d3bfcf80-0379-11e9-804a-7cf323b37030.png)

[2018-12-19 20:03] satishkumaarponnusamy commented on #9107
Glad it worked for you. I will convey your documentation feedback to team and will close this bug.

[2018-12-19 20:03] #9107 closed

[2018-12-19 20:13] praneetloke commented on #8119
@jerickmsft I sent you an email shown on your GH profile.

[2018-12-19 21:08] Erikvdv opened #9129 "App Center Distribute task does not allow upload android proguard mapping.txt"
## Issue Description

App center distribute task does not allow to upload android proguard mapping.txt files
We would like to automatically upload the mapping file together with our release

[2018-12-19 21:19] brcrista commented on #9120
That's been my thought as well.  Said another, it's become clear to me that getting the task to simulate all of the behavior of conda activate is too much, and we should focus on getting the actual `conda` to persist its environment changes in a pipeline.

[2018-12-19 21:24] brcrista commented on #1268
Yes, I meant this:

![image](https://user-images.githubusercontent.com/33549821/50248810-3fba2c00-03aa-11e9-9f20-517e23a92e07.png)

In YAML:
[code]

[2018-12-19 23:56] KevinCust commented on #8113
Any resolution to this? I experienced the same behavior back in October and want to get it working in the new year. Came back to check on the status and appears to be closed without resolution?

[2018-12-20 00:17] mitchdenny commented on #8647
@ArieHein and @tvald thanks for your feedback on the Pipeline Artifacts feature. Clearly we need to address this issue. The docs say one thing and the code does the other.

We want Pipeline Artifacts to be a drop in replacement for the existing artifact store so it makes sense to support handling file paths. I'll create a bug on our team to go and address this.

[2018-12-20 01:49] nigurr commented on #1268
@benken-parasoft, it will be available with next Azure Devops deployment (3 weeks away)

[2018-12-20 05:28] issacnitin opened #9132 "Use Node version task fails on x86 agent in x64 machine"
os.arch() returns ia32 for the task, because of which the task tries to install

https://nodejs.org/dist/v6.12.0/node-v6.12.0-win-ia32.7z

URL gives 404

[2018-12-20 06:12] SumiranAgg commented on #9118
@jameshowe Can you share complete debug logs at RM_Customer_Queries@microsoft.com.
Set variable System.debug with value 'true' in the release and deploy again. Share logs generated.

[2018-12-20 07:10] jachin84 commented on #8119
@jerickmsft Did you check the feature flags for the Release pipeline? I'm not able to consume any artifacts that are published via the new publish pipelines artifact. I'm an Australian customer.

[2018-12-20 07:36] jachin84 commented on #8119
I'm seeing the following:
![image](https://user-images.githubusercontent.com/2740855/50270463-61d0ae80-047d-11e9-9961-a3d9673e27d1.png)

When running the realease pipeline nothing is downloaded to the agent either.

[2018-12-20 07:40] mitchdenny commented on #8119
Assumig you are using Pipeline Artifacts then this is expected right now. we are currently working on an enhancement to support better drill down into Pipeline Artifiact-type artifacts. Its on of the reasons it is still in preview. Should roll out in the next deployment.

[2018-12-20 08:07] mitchdenny commented on #8119
The fix for the pipeline artifacts not downloading is also being fixed in an upcoming deployment (in the new year at this stage). For now you can manually insert the Download Pipeline Artifact task. It automatically injects in some circumstances but we don't have it covered for all scenarios.

[2018-12-20 08:12] rajatagrawal-dev commented on #3235
@miksteri Sorry for the presumption, but I assumed you were talking about "Azure File Copy task". We don't support Load Balancers in "Powershell on Target Machines" task. This task is for executing powershell on any machine, not specific to VM's on Azure, and so the concept of Load Balancers is not supported here. For this task you can specify comma separated list of machines(IP address or FQDN) w

[2018-12-20 08:21] jachin84 commented on #8119
Weird as this was working fine. I'll try adding a manual download step to see what happens. Even with this being preview it's way faster than the previous approach.

[2018-12-20 08:30] divais commented on #1268
Hi, it isn't live yet and will be available in few weeks as we have deployment freeze for the holiday season. Sorry for the delay.

[2018-12-20 08:38] mitchdenny commented on #8119
Yep. Our main focus for the preview was landing some tech we’ve been using inside Microsoft for a while. Now it’s just a matter of filing off the rough edges ;)

[2018-12-20 09:22] miksteri commented on #3235
Ok, thanks for the response.

Should I create another issue for "Powershell on Target Machines" -task support for load balancer? Actually if it would be possible to define port to be used that would solve this issue. So if port could be defined for the task then in load balancer it would be possible to direct certain ports to certain VM's.

[2018-12-20 09:41] jameshowe commented on #9118
@SumiranAgg the verbose log I included is the log for that task action with `system.debug=true` enabled. What other logs are you looking for?

[2018-12-20 09:48] rajatagrawal-dev commented on #3235
You can specify the port currently. In the Machines input, you can specify the VM address like IP:port or FQDN:port.
For example if your load balancer IP is 123.456.7.8 and you have mapped the port 1234 on your load balancer to the port 5986 on your target VM, then specify 123.456.7.8:1234 in the Machines input.

Please click on the 'i' button next to the "Machines" input in the task for info.

[2018-12-20 12:04] JohannesDrexler commented on #9126
That is not how you are supposed to call a function in powershell and that is why $value is empty.

Instead of
`Set-VstsVariable("test", "Hello World")`
try this:
`Set-VstsVariable "test" "Hello World"`

[2018-12-20 12:17] JohannesDrexler commented on #7887
@KairuByte You just have an issue with your powershell-function, i've added a comment #9126 issue about this.

[2018-12-20 12:53] Anufriev commented on #1148
Any updates?

[2018-12-20 13:12] Anufriev commented on #9126
Hi @KairuByte!

I faced with the same needs today. I found a working solution

1th step
`$SASToken= 7
Write-Output ("##vso[task.setvariable variable=SASToken;]$SASToken")`

2th step
`Write-Host $env:SASToken`

[2018-12-20 13:36] ackava opened #9134 "How to force build agent to use `d:` drive in Azure VM?"
Azure VM comes with D drive that is local SSD hard disk. How to force **Build Agent** to make use of d drive for work folder and temp files.

Installing agent in D drive is not possible as it VM will loose entire drive after restart. If we can configure `work` and `temp` folder on D drive, it will significantly improve performance for agents hosted on Azure VM.

[2018-12-20 13:56] JohannesDrexler commented on #9134
When configuring the agent the script will ask you where the work-directory should be located. Pay attention when setting up the connection and configure _work to be in D:\.....

By the way: this belongs into this repo -> https://github.com/Microsoft/azure-pipelines-agent

[2018-12-20 13:59] JohannesDrexler commented on #9134
There is also a config-file in the agent-directory that contains the path of _work so you can redirect the _work-directory without having to set up a new agent

[2018-12-20 14:20] ackava commented on #9134
@JohannesDrexler I already did and it does not work, Agent creates work folder and expects it to be there, if it is not there agent does not start.

So when you first time install agent and configure work folder, it works till it restarts.

[2018-12-20 14:33] JohannesDrexler commented on #9134
strange... i had this setup with some buildservers and it worked. i'll try to reproduce this later today. which agent version do you use ?

[2018-12-20 14:34] grayjeremy opened #9135 "PackerV1 Managed Disk Name instead of Id in Output Variable"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:  https://dev.azure.com/apolinarorg2/VMBuilds/_build/results?buildI

[2018-12-20 14:50] ackava commented on #9134
@JohannesDrexler sorry, I had wrong path set, it is working correctly.

[2018-12-20 15:34] KairuByte commented on #9126
@JohannesDrexler Well I certainly have egg on my face. Thank you very much for noticing that, as you can probably tell PowerShell is not one of my core languages and I'm mainly just stumbling through it. I made the change and it works 100%, thank you again!

[2018-12-20 15:34] #9126 closed

[2018-12-20 15:38] JohannesDrexler commented on #9134
what a relief ^^

[2018-12-20 15:53] kristoferreierson opened #9136 "Xcode test job doesn't differentiate between process return code failure and test failures."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

Azure Pipe Lines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

msazure / Intune / MAM - CI 16147

- Agent - Ho

[2018-12-20 20:02] brandonchastain commented on #4842
??? There was no fix for this. Why close it simply because it's old? I'm still looking for documentation on what the heck this setting means.

[2018-12-20 21:34] kristoferreierson commented on #9136
Addendum: it turns out that one of the UTs did fail, and when I disabled the UT, everything works.  When I looked the run reported above, it reports that this UT succeeded.  Either xcode or xcpretty seems to be misreporting the error. (fwiw, I updated xcpretty to .30 and still see this issue.)

[2018-12-20 22:00] mydiemho opened #9138 "[Github Release] Changelog doesn't work on non-master branch"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines
   * https://dev.azure.com/msft-vott/VoTT/_releaseProgress?_a=release-pipeline-progress&releaseId=3

- Agent - Hosted
    - Queue: Hosted

## Issue Description

ChangeLog feature doesn't work if I'm t

[2018-12-20 22:09] yacaovsnc commented on #9128
Can you use [secret variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=vsts&tabs=yaml%2Cbatch#secret-variables)?

[2018-12-20 22:13] yacaovsnc commented on #9136
Is there anything that you think we can/should do?  Sounds like an issue with xcode or xcpretty?

[2018-12-20 23:31] stevenbarker opened #9139 "PublishSymbolsV2: Win32 203 error"
## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
        - [https://netconstruct.visualstudio.com/NetConstruct%20CI%20Boilerplate/_build/results?buildId=8066](https://netconstruct.visualstudio.com/NetConstruct%20CI%20Boilerplate/_build/results?buildId=8066)

- Agent - Private:

    - If using

[2018-12-21 02:47] kant2002 opened #9140 "RetryToDeploy localization message missing on IISWebAppDeploymentOnMachineGroupV0 task"
## Environment

Anywhere

## Issue Description

RetryToDeploy localization message missing on IISWebAppDeploymentOnMachineGroupV0 task

Other tasks has that localization message. but that particular task is missing them. This gives warning during release which is annoying and distract from actual warnings

### Task logs

---

### Error logs

[code]

[2018-12-21 02:59] sachinma commented on #4842
Reopening it to track it.

[2018-12-21 05:37] mdmdakbar commented on #9119
@heaths  Thanks for reporting this issue.

We have fixed it and the link is working fine now.

[2018-12-21 05:37] #9119 closed

[2018-12-21 07:18] jacemw08 commented on #9118
Stay off my shit u pussy

[2018-12-21 08:04] JohannesDrexler commented on #9134
@ackava can this issue be closed now ?

[2018-12-21 09:14] SumiranAgg commented on #9118
@jameshowe Sorry I missed it somehow.
Can you share kudu trace. Visit kudu Url: https://tagdat-geodis-staging.scm.azurewebsites.net/api/vfs/LogFiles/kudu/trace
Try to find a file around below timestamp as per the logs shared:
"log_time":"2018-12-18T22:50:42.834369Z"
This might have more information about the failure. Please share that trace if possible.

[2018-12-21 10:10] ackava commented on #9134
@JohannesDrexler yes, though I would recommend updating documentation to highlighting this feature for others.

[2018-12-21 10:13] hiyadav commented on #4842
Hey @brandonchastain, hope the below description will help, we will update the task input's information button with the same usage information.

Overwrite Behavior: when upgrades are not configured and an application exists in the cluster with the same name exists, then the 3 actions are available=> Never, Always, SameAppTypeAndVersion.
    Never will not remove the existing application. This is t

[2018-12-21 10:38] JohannesDrexler commented on #9134
You could suggest this in the repo for the build agent -> https://github.com/Microsoft/azure-pipelines-agent

This repo here is for build/release tasks, not the agent

[2018-12-21 12:12] RoopeshNair commented on #1148
Not at this point in time, we haven't been able to get to this.

We do encourage contributions, if you are willing to help.

[2018-12-21 12:28] bogdancucosel opened #9146 "Azure PowerShell fails on self hosted x86 agents"
The failure is:
Cannot find path 'HKLM:\Software\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall' because it does not exist.

It happens on x86 agents, we tried Windows 8.1 and Windows 10

## Environment
- Server - Azure Pipelines uipath, activities, cd - tests - development, releaseId=3611
- Agent - Private:
Windows 8.1 Agent.OSVersion | 6.3.9600, Agent.Version | 2.141.0
Windows 10 Agent.O

[2018-12-21 12:34] bogdancucosel opened #9147 "Universal Packages Download task fails on x86 self hosted agents"
The error is:
Error: Failed to get artifact tool metadata from source url https://uipath.vsblob.visualstudio.com/_apis/clienttools/artifacttool/release?osName=windows&arch=ia32

## Environment
- Server - Azure Pipelines
- Agent - Private:

Windows 7 Agent.OSVersion | 6.1.7601, Agent.Version | 2.141.0
But it does not really matter, it happens on any x86 OS

## Issue Description
 You can find the de

[2018-12-21 12:44] jameshowe commented on #9118
@SumiranAgg unfortunately I can't see any file for that date, I think the logging may only be enabled for last 24 hours as I can only see logs for today. FWIW I've had problems before deploying on Linux via Kudu Sync using v4.* (Preview), now that it's been fixed switching to v3 I'll switch back to v4 and post report back if it starts failing again.

[2018-12-21 12:46] #8845 closed

[2018-12-21 13:54] kachkaev commented on #3027
Thanks for the [gist](https://github.com/Microsoft/azure-pipelines-tasks/issues/3027#issuecomment-385740426) @kohlikohl! Here's my approach to the problem:

[code]

Pros:
* No dependency on `inline-css`, which makes a pretty significant impact on the size of `node_modules`
* Replacement rules are quite simple, which boosts the performance
* Promise queue makes the script scalable

Despite that thi

[2018-12-21 16:48] kachkaev opened #9150 "Code coverage tab does not render utf8 characters"
Task: **Publish Code Coverage Results** (v 1.*)

I'm publishing HTML coverage reports generated by istanbul with the help of workarounds shared in https://github.com/Microsoft/azure-pipelines-tasks/issues/3027. The result is styled correctly, but there is a problem with unicode characters both in FF and Chrome:

![screenshot 2018-12-21 at 16 43 46](https://user-images.githubusercontent.com/608862/

[2018-12-21 17:21] TomasHubelbauer commented on #9128
Probably! Looks like I will have to specify both the user name and the password as a part of the endpoint, I don't see how else I would pass that into the task, but secret variables (which I didn't know about) seem like to way to go about this. Thank you.

[2018-12-21 17:21] #9128 closed

[2018-12-21 19:18] #9106 closed

[2018-12-21 19:31] brcrista commented on #8504
@mtaron my mistake, you have to `call activate <env>` -- see https://github.com/conda/conda/issues/794

I'll admit, Batch scripting is one of my lesser strengths.  I'll fix the doc page.

[2018-12-22 09:50] TomasHubelbauer commented on #9128
There's a little more to this after all. I've documented what I've came up with in a comment in MicrosoftDocs/vsts-docs#1918.

[2018-12-22 12:49] raiyanalam commented on #9138
Sorry for the inconvenience faced. The changelog in release notes generally contain the changes that have been done to the last release. For this, the task internally uses the APIs provided by GitHub to find the difference between 2 commits. The difference works even when the commits are from 2 different branches but they should have at least some common ancestry. In your case however, the beta br

[2018-12-22 18:12] eelkram opened #9157 "AzureFileCopy support AzCopy (v10) sync command"
The AzureFileCopy task should be updated to support the new AzCopy v10 tool and the new sync command.  This would be extremely useful in conjunction with the static website hosting on Azure Storage capabilities.

[2018-12-23 14:58] psibi opened #9158 "Copy via bash on windows hosted agent not copying as expected"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

Using Azure Pipelines. You can find the environment here: https://dev.azure.com/commercialhaskell/stack/_build/results?buildId=143

- Agent - Hosted or Private:

Agent name: vs201

[2018-12-23 16:43] psibi commented on #9158
Replacing the same logic of `bash` with `powershell` makes it work.

[2018-12-24 01:54] xingyu217 opened #9162 "Secret value starts with “&” will be show as plain text in Visual Studio Test task log"
Steps to reproduce:

Create a variable group
Add a variable (e.g. Name: se, Value: **&fdsaf**, Change it to secret)
Create a new release definition and link to that variable group
Add Visual Studio Test task (2.*)
Specify Test plan, suite, Override test run parameters (-webAppUserName user1 -webAppPassword $(se), Settings file. Part code:
[code]
Run release and the log:
[code]

You can find that t

[2018-12-24 03:32] aDisplayName commented on #9162
Does it affect the build baseline?
What about other xml exclusive characters, such as **&**, **<**, **>**, **“**, **‘**
I would suspect that it will also affect for the characters at any position of the secret value.

[2018-12-24 08:12] 20shivangi commented on #9011
Fix will be available in next release

[2018-12-24 08:12] #9011 closed

[2018-12-24 10:41] govanikunal commented on #5820
Is it available for use ?. Don't see as part of Task 'Azure SQL Database Deployment'. Can you provide insights on how i can use it ?

Thanks,
Kunal

[2018-12-24 11:08] Ajay-MS commented on #5820
@govanikunal

Above mentioned PR has been merged but it has not ye been deployed. It will take approx 3 more weeks for the deployment.

[2018-12-24 13:36] SadagopanRajaram commented on #8625
This was fixed in Agent 2.142.0 with the below commit. Please update the agent to a version later than 2.140.2 and this should be resolved.
https://github.com/Microsoft/azure-pipelines-agent/commit/9a5098d1c6d14efde3d7e824e6ea9f0530c30588#diff-a2aa3eddcb5c7bd5be5f375b6de1cea7

[2018-12-24 13:36] #8625 closed

[2018-12-24 14:21] rgiese opened #9168 "PublishPipelineArtifact fails when it encounters an empty subdirectory"
Encountered on Azure Pipelines with a hosted Ubuntu agent.

Example error message when trying to create an artifact out of `frontend/out`:

`Access to the path '/home/vsts/work/1/s/frontend/out/_next/xbuZruUi6mEsakGX7ZY0k' is denied.`

In this case, the given directory is an empty subdirectory, and the agent account definitely has access to it (confirmed via ls -laR injected in YML). Note that thi

[2018-12-24 21:49] mitchdenny commented on #9168
Thanks for reporting this. We already have a fix in the pipeline.

[2018-12-25 01:36] xingyu217 commented on #9162
Yes, it affects the build too.

The &, <, > have the same issue.

Yes, those characters at any position of secret value

[2018-12-25 05:50] govanikunal opened #9169 "Visual Studio Test task failing on hosted agent"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

https://mic

[2018-12-25 11:48] sylar217 opened #9170 "NPM task doesnt update working directory after build task"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
   Account Name: decentralized-identity
   Project Name: Core
   Build Definition Name:

[2018-12-25 15:11] ToMakeSense commented on #9094
same here for azure CLI release task.

[2018-12-25 18:50] gfoidl opened #9171 "[DotNetCoreInstaller] install latest SDK / runtime -- special versions"
As `version` a valid and explicit version must be given, e.g. 2.1.500

I propose to allow special version strings like
* `latest`
* `latest.coherent`

to install the latest SDK (from master branch) according to https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/latest.version

Analogous for the runtime.

[2018-12-25 22:30] kimballjohnson commented on #6509
Hi,
At which version number of TFS on-premise server is the version 2 of the agent implemented?
I have TFS Version 15.117.27414.0 which is somewhere above the TFS 2017 Update 3.
When I use a powershell task, my agent displays the text limitation to 500 characters.
I'm guessing I'm using an older version of the Agent. How can I fix this?
Thanks,

[2018-12-26 00:34] viertaxa opened #9172 "Add an Upload Secure File task"
As a VSTS user, it would be immensely helpful to be able to upload/update secure files from a build task. For example, LetsEncrypt certs that expire every 90 days. The renewal task could be automated and moved to a build task to eliminate the need for specific hardware running that job outside of control.

In the meantime, is there an API endpoint for managing secure files?

[2018-12-26 03:33] #9134 closed

[2018-12-26 05:30] 20shivangi commented on #9011
Fix will be available in AzureFileCopyV3

[2018-12-26 05:30] ShreyasRmsft commented on #8113
@KevinCust please provide the entire zip file containing debug logs for the build where this has ocurred. Send the empty coveragge file along with the code coverage that's generated when you run the tests with code coverage locally. We will take a look. I will re-open the issue on receiving all the requested files.

[2018-12-26 05:37] ShreyasRmsft commented on #9169
@govanikunal this scenario is not supported on hosted agents

[2018-12-26 05:39] kgbuddhima opened #9174 "NuGet Installer Task - App is not compatible with monoandroid81 (MonoAndroid,Version=v8.1). Project App1 supports: netstandard2.0"
### Source - TFVC
### Pipeline : Hosted VS2017

## Issue Description

Xamarin.Android Build Task fails with following errors. Seems The task try to compile the Portable app (.Net standard) using the Target platform of Native app (Android/iOS).

Project App1 is not compatible with monoandroid81 (MonoAndroid,Version=v8.1). Project App1 supports: netstandard2.0 (.NETStandard,Version=v2.0)
One or more

[2018-12-26 05:47] sachinma commented on #9171
Adding @bishal-pdMSFT and @pulkitaggarwl  to consider this request.

[2018-12-26 05:51] sachinma commented on #9135
We will be looking at this issue, but feel free to contribute a fix if you can.  [this](https://github.com/Microsoft/azure-pipelines-tasks/blob/master/docs/contribute.md) should help you on how to contribute.

[2018-12-26 06:32] ShreyasRmsft commented on #9169
@govanikunal we support only pure Selenium tests.

Coded UI tests are deprecated and we do not support running them on hosted agents.

[2018-12-26 06:36] govanikunal commented on #9169
Okay, what about the headless option. is that supported?

var option = new ChromeOptions();
option.AddArgument("--headless");
IWebDriver instance = new ChromeDriver(Environment.GetEnvironmentVariable("ChromeWebDriver"));

[2018-12-26 06:40] ShreyasRmsft commented on #9169
As long as it's a pure selenium test, we aren't doing anything special. If it runs locally with the same version of the webdriver and browser it ought to run on the hosted machines too.

Just double check if the feature is available for the version of chrome installed on the hosted machine along with the version of the driver that is present on the hosted machines.

[2018-12-26 06:42] govanikunal commented on #9169
Will verify those, Thanks for the clarifications.

[2018-12-26 06:44] ShreyasRmsft commented on #9169
@govanikunal closing this issue. Please re-open a new issue if this does not work for you to avoid mixing up/cluttering issues.

Thanks.

[2018-12-26 06:44] #9169 closed

[2018-12-26 06:50] nigurr commented on #8622
@mguirao currently it can be masked by providing the same details in pipeline variables.

For example:
` <Parameter name="webAppPassword" value="Password" />`

If you want to mask the `Password`, create a pipeline *secret variable* with value as `Password`.
This will strip off sensitive data from pipeline.

[2018-12-26 08:38] nigurr commented on #9150
@kachkaev Thanks for reporting this. Currently we are revamping the code coverage experience and no plans to enhance current experience.
Closing this issue and we assure that this experience will be improved sooner.

[2018-12-26 08:38] #9150 closed

[2018-12-26 08:47] nigurr commented on #8762
@drcrook1 @juwitaw @uabbas Can you please check is it sill happening.
We just tried to repro the issue, seems like working fine

![image](https://user-images.githubusercontent.com/15208679/50439693-f4a79800-0918-11e9-8772-63ed2b13644a.png)
![image](https://user-images.githubusercontent.com/15208679/50439706-fec99680-0918-11e9-8755-dca7e7232268.png)

[2018-12-26 08:58] nigurr commented on #8746
@WillSullivan  @richardszalay  @srowan Can you please raise the issue here https://github.com/Microsoft/azure-pipelines-task-lib/blob/master/node/task.ts#L784

This is core issue from the library and so all the tasks depending on it are failing understand.
One approach is, Task can explicitly not follow `SymLinks` which may not be a good option.
Alternatively we can fix the library to `ignore inva

[2018-12-26 08:58] #8746 closed

[2018-12-26 09:13] juwitaw commented on #8762
![image](https://user-images.githubusercontent.com/17060491/50440432-d5b10200-0928-11e9-92ac-95564a68e727.png)
 Just now I tried again and still have the same problem. Is there any config I should change?

[2018-12-26 10:09] nigurr commented on #8762
@juwitaw Please look into sample here: https://dev.azure.com/dtatestingint/Public%20Samples/_build/results?buildId=7032&view=logs

[2018-12-26 11:10] mitchdenny commented on #9170
Do you mean that the dist folder is not present - or that the working folder is not set to the dist folder?

[2018-12-26 11:30] kachkaev commented on #9150
Thanks for your reply @nigurr! What link would you recommend me to track not to miss the update? What’s the approx order of the ETA (days, weeks, months)?

Feeling quite excited!

[2018-12-26 11:34] nigurr commented on #9150
@kachkaev Please follow Azure DevOps Release Notes, we update the rollout in the notes. Currently we can't share the exact timelines, however the work is in progress.

[2018-12-26 11:45] mitchdenny commented on #9170
I'd recommend doing a tree listing from ```$(System.DefaultWorkingDirectory)``` to get a sense of the source tree layout after the build step. That will prove one way or the other that the dist files are where you think they are and then help you debug why some of the tests are failing.

[2018-12-26 12:20] sylar217 commented on #9170
Sure, will do that and revert back

[2018-12-26 12:20] rajatagrawal-dev commented on #9100
@Geertvdc We have deployed the fix for this to all accounts. Let us know if you still face the issue.

[2018-12-26 15:05] #8884 closed

[2018-12-26 17:13] aledeniz opened #9185 "PackerBuildV1: Builders vm size is hardcoded to "Standard_D3_v2""
The Builders VM is hardcoded to "Standard_D3_v2" on the PackerBuildV1 task.
This vm size is not available on all Azure regions, e.g. it is not available on UK South.

## Environment
- Server - Azure Pipelines

## Issue Description

The Builders VM is hardcoded to "Standard_D3_v2" on the PackerBuildV1 task.
E.g. see lines 21 to 41 on azure-pipelines-tasks/Tasks/PackerBuildV1/DefaultTemplates/defaul

[2018-12-26 18:36] mydiemho commented on #9138
1. The beta branch is completely new because we needed to start over with V2.
1. In such cases, I wasn't hoping for a different output but more of configuration that would allow me to choose an origin branch, ie. specify an origin branch other than master.

[2018-12-26 19:50] grayjeremy commented on #9135
I'm able to get the package built using the contribution guide, but this doesn't seem to have a manifest where I can create an extension and upload it the way I've done with [other extensions](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=vsts#step-3-create-the-extension-manifest-file).  Am I missing something?

[2018-12-26 19:55] aledeniz commented on #9185
I found a temporary work around that may allow to use the task, which is to pass the vm size in the Additional Builder parameters on the Advanced section of the task configuration, e.g.:

`{"vm_size":"Standard_DS2_v3"}`

[2018-12-27 01:04] deadlydog commented on #6509
Hey @kimballjohnson I believe you need to be using TFS 2018 on-prem for v2 of the PowerShell task to be available, and even then it will show up as "v2 (Preview)", but it works and is stable.

[2018-12-27 01:33] cindymarie commented on #3836
I encountered this issue a while ago while building my project with vstest. Tests were undiscoverable. :(

[2018-12-27 02:52] samsmithnz commented on #8749
I agree with everything xenalite has here..

I'm not sure why we can't show blocks on the summary page - given it only shows blocks in Visual Studio.

[2018-12-27 04:30] nigurr commented on #9023
@declan-smyth currently this functionality is not available in `dotnet core` task. Can you try using `VsTest v2` task?

[2018-12-27 04:34] nigurr commented on #9024
@nf112-de currently this is not feasible and we recommend writing a powershell script to download TRX from test run attachment and use it for subsequent tasks.
https://docs.microsoft.com/en-us/rest/api/azure/devops/test/attachments?view=azure-devops-rest-5.0

From CI/CD pipeline experience, we *deliberately* taken decision to delete any files which are generated by tasks so that we don't end up ru

[2018-12-27 04:35] #9024 closed

[2018-12-27 04:44] nigurr commented on #9045
@danlev1 Thanks for valuable feedback.

While we are able to understand the concern, test platform erroring out for “Adapter dependency” load might be a breaking change.

1.	Test platform loads all possible adapters present by default. Some of these adapters might load/may not be loaded based on whether they support particular platform.
2.	Erroring out such scenarios will not be an ideal solution

[2018-12-27 04:44] #9045 closed

[2018-12-27 06:08] PBoraMSFT commented on #3836
@cindymarie - this issue that has been addressed a long time ago. If you are facing any problems with using vstest task, please log a new one.
I am locking the conversation on this one to prevent old threads from going unnoticed.

@cltshivash @acesiddhu - FYI.

[2018-12-27 06:09] nigurr commented on #9033
@kpzara Sample demo here: https://dev.azure.com/dtatestingint/Public%20Samples/_build/results?buildId=7049

[2018-12-27 06:09] #9033 closed

[2018-12-27 06:21] nigurr commented on #9081
@FerAguilarR93 In the dotnet test task, there's no information to collect "Code Coverage" is being passed.
Please refer to some public articles - https://medium.com/@tarik.nzl/publishing-test-coverage-with-net-core-and-vsts-build-pipelines-39a2f29dfa12

[2018-12-27 06:21] #9081 closed

[2018-12-27 06:42] ShreyasRmsft commented on #9095
@TestO2015 does this repro constantly with every run?

Does this happen if you run the tests on a self hosted agent also?

Can you provide a sample repro project if possible?

[2018-12-27 07:42] sachinma opened #9187 "Log the deployment name by default in Azure Resource Group Deployment task"
It is difficult to correlate the deployments from Azure DevOps to Azure Portal. While deployment name customization provides a way out - if the default name that are generated by the task are also printed in the logs - it would help in the default scenario as well.

[2018-12-27 07:49] sachinma commented on #9135
@grayjeremy since these tasks go to all the Azure DevOps organizations - they are installed differently and do not have individual extension packages. You can, however, create a temp extension package and put this task in that package (preferably with a different task guid and a different display name) to test this out. Or another way that we use is to use the [tfx cli](https://www.npmjs.com/packa

[2018-12-27 08:38] ShreyasRmsft commented on #8733
@MertSenel did Prawal latest suggestion work for you?

`@MertSenel Would like you try two things:

Instead of ClassCleanup, please keep these dispose commands in TestCleanup.
If the above doesn't work, please use a try-finally block around your tests with the finally block containing these dispose commands.`

[2018-12-27 08:58] ShreyasRmsft commented on #8838
@grokys hey are you still facing the issue?

Also if you ran your tests using the VsTest task it should automatically upload all the log files generated like

as part of the build logs. I tried going through the links pasted in the thread but the build definition seems to have changed and the older builds seem to have expired. Do you have a recent failure for me to look at?

[2018-12-27 10:26] #8761 closed, assigned to nobody

[2018-12-27 13:35] kapilt opened #9190 "Build Cache Task"
Its very common for npm, pip, and others to use a build cache to speed up installations and time to first test execution. For many hosted ci platforms this is accomplished via a plugin that stores/retrieves cache artifacts from a cloud provider object storage. Ideally an azure pipeline integration would work the same so it works regardless of hosted/byoa execution runtimes.

There have been numero

[2018-12-27 14:51] cbrianball commented on #8625
@SadagopanRajaram
I upgraded to 2.144.0 and subsequent runs of the tests now upload the images in Azure DevOps!

Feedback on upgrade process: I run the agent interactively, so I understand that fully automated updates aren't supported, but I didn't find any information on how to manually perform the update. I found the option in Azure DevOps to push the update, which in my case merely downloaded t

[2018-12-27 16:05] Geertvdc commented on #9100
@rajatagrawal-dev i've tested it and it seems to log out the users now. Thanks for the change.

closed the pull request https://github.com/Microsoft/azure-pipelines-tasks/pull/9101 since it's not needed anymore

[2018-12-27 16:05] #9100 closed

[2018-12-27 16:17] 4c74356b41 commented on #7703
@nigurr

[2018-12-27 21:18] mitchdenny commented on #9190
Thanks for raising this issue @kapilt. We are actively looking into a build caching solution for Azure Pipelines, we have done some initial design work and hope to start work on it in the new year.

[2018-12-27 21:54] dave-read opened #9191 "Add MSI (now known as Managed Identities) support to Azure CLI Task"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?
   **Azure DevOps Build Pipeline**
    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definiti

[2018-12-27 22:17] kilasuit commented on #9100
@rajatagrawal-dev is this a backend Azure Devops change or a change within this repo to the tasks?

Your answer is not clear and leaves me asking further questions for our own private hosted agents and also clients agents whether private or hosted as well

Could you elborate further?

[2018-12-28 04:46] kmkumaran commented on #9100
@kilasuit - This is change in the Tasks in this repo and the changes has been rolled out to all rings.
The fix will work for both private and hosted agents.

[2018-12-28 05:47] hiyadav commented on #9185
Hey @aledeniz
Thanks for reporting, it seems to be an enhancement in the task, adding @pulkitaggarwl @bishal-pdMSFT to consider this.

[2018-12-28 05:48] hiyadav commented on #9073
@akaFalsh can you provide @JohannesDrexler with the logs for further investigations ?

[2018-12-28 05:51] hiyadav commented on #4842
@brandonchastain does this help ?

[2018-12-28 06:32] #7620 closed

[2018-12-28 06:40] bishal-pdMSFT commented on #4842
Some comments:
1. When upgrade is not configured ...
2. Typo: an application with same name already exists in the cluster ~~with the same name exists~~
3. Use 'Application' instead of application everywhere as you have used 'Application type' and 'Version'

[2018-12-28 06:46] bishal-pdMSFT commented on #9185
@aledeniz, isn't using builder parameter a good enough solution? I don't think this is a temporary workaround. Although it is not very discover-able, if we start adding new inputs for each parameter it will be overwhelming UX.
Will it be okay if we can enhance the help text for Additional Builder parameters input to hint that VM size can also be set here?

[2018-12-28 06:58] MSidda opened #9193 "Publish Code-coverage Report in summary page"
![image](https://user-images.githubusercontent.com/42439015/50505850-d9b16100-0a9b-11e9-979f-28047155a4bc.png)
i want to view code coverage report in build summary page ...
can anybody help me out please ?
Thanks

[2018-12-28 08:49] miksteri commented on #3235
I'm now trying the load balancer, how should I configure Load Balancer for "Azure File Copy task" to work? I can get it to work for 1 VM if I create inbound NAT rule for that port (5986), but I cannot create the same port rule for all VM's.

[2018-12-28 09:30] juwitaw commented on #8762
I read you example-java-maven/azure-pipelines.yml and I think It's the same like my configuration yet I'm still facing `[warning]Error occurred while publishing code coverage files. Error: Access to the path '/home/vsts/work/1/s/coverage/summary2378' is denied.` problem. I'm using visual designer like this:
![image](https://user-images.githubusercontent.com/17060491/50510804-b0093180-0abd-11e9-9b5

[2018-12-28 09:33] nigurr commented on #8762
@madhurig Can you please help on this?

Temporarily you can mitigate by changing permissions as suggested.

[2018-12-28 09:43] muziekklas commented on #8655
I am encountering the same issue.
I've created a Function which spins up a Container Instance (with a docker-buildagent) which takes about 90 seconds to complete. I've use the callback as Completion event and in my function I RaiseCompletion.
2 Questions concerning this:
- as I've chosen for the Callback completion event, why does it still timeout? Is this a behaviour of Agentless tasks?
- Is ther

[2018-12-28 09:50] nigurr commented on #9193
https://docs.microsoft.com/en-us/azure/devops/pipelines/test/review-code-coverage-results?view=vsts
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=vsts

[2018-12-28 09:57] juwitaw commented on #8762
It turns out that I need to use `sudo` when changing permission. That's why it failed when I only using `chmod 777 . -R`.
As temporary, I think I can add this permission command on my task.

[2018-12-28 10:36] aledeniz commented on #9185
@bishal-pdMSFT it took me 17 hours and 36 minutes of work to understand what was going on.

Maybe I am not really brilliant, but I kept attempting to pass the vm_size setting variables and builders on my yaml, to no avail (I tried a number of sizes, but I always got Standard_D3_v2).

I had no idea the PackerBuildV1 task was open sourced, I discovered that only when I give up and looked on how to r

[2018-12-28 10:54] aledeniz opened #9196 "PackerBuildV1 reporting that Object_ID is no longer needed"
## Environment
Azure Pipelines.
Agent - Hosted.

## Issue Description

Using the PackerBuildV1 task, the Packer.exe tool (version 1.2.4 as deployed by the task) is reporting that the Object_ID is no longer needed.
Should the relevant variable and builders options be removed, or is still needed on some specific scenario?

### Task logs

[code]

[2018-12-28 11:43] sandermvanvliet opened #9198 "Task PowerShellV2 does not validate targetType parameter"
## Environment
- Server - Azure Pipelines
- Agent - Hosted VS2017

## Issue Description

The PowerShellV2 task currently only checks if the `targetType` parameter is set to `FILEPATH` to determine if it needs to run a script instead of an inline script defined in the `script` parameter. If no script parameter has been provided then it will run the default "Hello, world" script instead.

When using

[2018-12-28 12:14] vithati commented on #8655
Even if you select callback completion your function should return with in 20 secs. 'Callback' mode means task waits for completion event from external, and not wait till function completes. If your function has any time consuming tasks, you should handle that work to another thread and main function should return immediate, and newly created thread should complete work and raise task completed ev

[2018-12-28 12:19] vithati commented on #8655
I think "await _azure.ContainerGroups.Define ..." call taking more time. You should handover this work to another thread and return from main function. Newly created thread should complete work and raise task completed event at end.  Please refer this [AzureFunctionHandler](https://github.com/Microsoft/azure-pipelines-extensions/tree/master/ServerTaskHelper/AzureFunctionHandler) example, in this e

[2018-12-28 12:40] kilasuit commented on #9100
Could you provide a link to the commit/PR that included the change that fixed this for circular reference completion?  I.e so that others reading this thread can see what was changed where and when and by whom to fix this issue

[2018-12-28 15:41] CYoderDev opened #9199 "Disconnects from Azure after Job completes"
## Environment
- Server - Azure Pipelines or TFS on-premises?

Azure Pipelines

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name: Hosted VS2017

## Issue Description

When starting multiple jobs in parallel, Azure disconnects after the first one completes. So when the next one launches, it throws an error stating we need to reconnect.

![image](https://user-image

[2018-12-28 15:46] Silvenga opened #9200 "Document YAML Usage of vsTestVersion"
Regarding the VSTest@2 task documentation, the following is given when using the VisualStudioTestPlatformInstaller task:

Unfortunately, if you use YAML there is no documentation on what the `vsTestVersion` input should be set to.

When running with the literal `Installed by Tools Installer` - the following is given to the user, which is slightly confusing to the user:

Looking at the code, it's o

[2018-12-28 16:49] MarkDordoy opened #9201 "Azure PowerShell - Does not support powershell Core"
## Environment
- Server - Azure Pipelines

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:  Clarksons Cloud

- Agent - Hosted

    - Windows Container

## Issue Description

I want to run a powershell script created using powershell core against azure. However you do not offer a p

[2018-12-28 18:12] martins-vds commented on #8655
Since I'm spinning up a containerized build agent, I need to wait until the container is up and running (and therefore I have an operational build agent running on the container) before the build pipeline can continue. The reason why I tried to use "Callback" is because usually the Azure Function (with the "await _azure.ContainerGroups.Define ..." statement) takes 3-4 minutes to the complete and I

[2018-12-28 18:44] muziekklas commented on #8655
@vithati Thanks for the answer. Although, I am still curious why this has been designed this way? Is is just a rule or is it maybe how agentless tasks are ran?
Personally I am not big fan of 'Oh lets shoot up a thread and let that thread handle it' as our devops team would love to see that the creation of a agent has failed within Azure Devops logs, without consulting a separate logging system. Ok

[2018-12-28 21:37] onovotny commented on #9122
What is the status of this and is there a workaround? This is a significant blocker to my projects as .NET Core 3 post preview 1 requires the MSBuild in VS 2019.

[2018-12-28 21:45] jimmylewis commented on #9122
@onovotny I was able to work around this for now by specifying the path in YAML:

[code]

This requires knowing the path to msbuild on the agent.  My agent pool is configured the same so it worked out.

[2018-12-28 22:34] davidroberts63 opened #9202 "NPM Authenticate won't work with .npmrc outside project folder"
## Environment
Azure Pipelines
Private agent (Windows Server 1803 with containers) v2.144.0

## Issue Description
Running a pipeline inside a container (based on microsoft/dotnet-framework:4.7.2-sdk-windowsservercore-1803  with node addtionally installed) the npmAuthenticate (via YAML) task will only set the credentials when specifying a `workingFile` input that resolves to a path within the build

[2018-12-29 14:38] RobLSDev commented on #3683
@Ajay-MS - Is this really still an issue?  From the Azure portal it allows users to deploy using an ARM-based storage account.  It would be great if this functionality was supported in the pipelines so we could migrate all of our existing classic storage accounts.

[2018-12-29 15:47] dalemyers commented on #7093
@joshmgross Please re-open.

[2018-12-29 17:49] bryanmacfarlane commented on #7093
Re-opening at request of users

[2018-12-30 02:42] vanpyrzericj opened #9204 "Azure File Copy Does not support $web container (Azure Static Sites)"
Task: Azure File Copy
Environment: Azure Pipelines.
Agent: Hosted VS2017 and Private (Windows 10)

## Issue Description

Azure File Copy v1.0.146 does not support container with the name "$web" which is the predefined container name that is used for the new Azure Blob Storage Static Sites capability (https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website)

### Error logs

[2018-12-30 11:00] andtii opened #9205 "dotnet restore task suddenly started failing (The process cannot access the file)"
## Environment
Server - Azure Pipelines
Account
https://omnia-source.visualstudio.com/Omnia

Build
Publish Preview Omnia Nuget And Npm Packages
Latest

Agent - Hosted
agent queue name:
Hosted VS2017
Agent: Hosted Agent

## Issue Description

.net core task
dotnet restore

### Task logs

2018-12-30T10:50:54.3297669Z ==============================================================================
2018

[2018-12-31 03:58] vincentdass commented on #9204
@vanpyrzericj , Can you upgrade the task version to `2.*` and deploy?
![image](https://user-images.githubusercontent.com/20121508/50554323-7e22e580-0cde-11e9-9971-b1ed341aec92.png)

[2018-12-31 05:40] nigurr commented on #9200
@Silvenga We welcome your contributions and willingness to help us.
https://github.com/MicrosoftDocs/vsts-docs is the repository for all documentation.

Feel free to raise the PR, we will take it further.

[2018-12-31 08:52] kmkumaran commented on #9201
Support for Az module is work in progress. I am adding @20shivangi and @niadak who will update this thread when the support is available.

[2018-12-31 10:40] MarkDordoy commented on #9201
Thanks great news, looking forward to when this is in place.

[2018-12-31 11:13] vincentdass commented on #9140
the issue is fixed in 0.0.51 task version and will be available in ~3-4 weeks.

[2018-12-31 11:13] #9140 closed

[2018-12-31 11:38] vincentdass commented on #6159
@mohantyrr2003  Can you try the recommendation provided by @xenalite and reopen the thread if it doesn't work?

[2018-12-31 11:38] #6159 closed

[2018-12-31 16:41] moswald commented on #8546
Wow, I forgot to follow up on this, sorry about that @atrauzzi. If it is no longer an issue for you, please close this.

I've assigned the Release area as the artifact task is owned by the Release team.

[2018-12-31 16:46] moswald commented on #9122
@onovotny Austin is out on vacation until after the New Year, but I'll follow up with him about it when he gets in.

[2018-12-31 17:06] moswald commented on #6314
This isn't an issue with the build task, but rather with the way the agent is parsing the log message. Moved it to the agent repo.

[2018-12-31 17:06] #6314 closed

[2018-12-31 18:59] atrauzzi commented on #8546
If you guys haven't fixed it, then it's still an issue.

[2018-12-31 21:53] vanpyrzericj commented on #9204
@vincentdass confirmed that it works with `2.* preview`. Thanks!

[2018-12-31 23:33] salvmd commented on #9174
Hi, the logs show this is not an issue in Packaging (all responses to restore are OK), but rather an error in the compatibility check after downloading the packages. The warnings are also not related to the failure in the compatibility check. Removing Area: Packaging label.

Unfortunately, my team doesn't have much expertise building for Android, so we can't provide much guidance here. From what I

[2019-01-01 12:44] #9204 closed

[2019-01-01 13:39] prawalagarwal commented on #8305
@zanechua  Yes please attach the junit file causing this issue. @vagisha-nidhi please take a look.

[2019-01-01 14:16] zanechua commented on #8305
Please see the attached file.

Renamed the xml to log

[TEST-phpunit-junit.log](https://github.com/Microsoft/azure-pipelines-tasks/files/2719381/TEST-phpunit-junit.log)

[2019-01-01 16:55] bsoulier commented on #4734
For those who are still blocked on that, I have been able to solve this by replacing my "npm" task by a "Command line" task that run npm and set max_old_space_size as an environment variable.

![image](https://user-images.githubusercontent.com/3098127/50574721-433ab380-0dab-11e9-9168-7a7579e33ca6.png)

[2019-01-01 16:57] bsoulier commented on #4427
For those who are still blocked on that, I have been able to solve this by replacing my "npm" task by a "Command line" task that run npm and set max_old_space_size as an environment variable.

![image](https://user-images.githubusercontent.com/3098127/50574740-9280e400-0dab-11e9-9011-df5dc58ef63a.png)

[2019-01-02 04:35] bishal-pdMSFT commented on #9185
@aledeniz sorry for your experience. Could you please elaborate why you need to set VM size most of the times? This task only generates a VM image, after which you can create VM on any size using generated image. Is your application a really heavy one which needs bigger size for image generation?

[2019-01-02 04:43] SumiranAgg commented on #9040
@dedalusmax Thanks for reporting this. It appears to be a bug. We will file a bug internally and update the thread when fixed.
If you are setting a connection string, we are planning to introduce a new task input to support it. We will take care of this issue in the new input but for older ones (App setting, Config setting) we will be able to get a fix only with a major version bump.

For now, as

[2019-01-02 05:31] ShreyasRmsft commented on #8130
@mathewkuruvila please re-open with relevant logs and screenshots if you are still facing this issue with the latest test platform and adapters.

[2019-01-02 05:31] #8130 closed

[2019-01-02 05:38] vagisha-nidhi commented on #8305
@zanechua The changes to fix the bug have been pushed. This will be available with the next deployment.

[2019-01-02 05:45] hiyadav commented on #9073
@akaFalsh we are closing the issue now, if more help is needed, feel free to reopen or open a new issue.

[2019-01-02 06:13] mdmdakbar commented on #9062
@kittaakos Apology for the late reply.

We create tag at the time of creation of release as well if it does not exist. For that, set

action: create
tagSource: manual
tag: yourTagName

but if you set

action : create and
tagSource: auto

we assume that you already have created a tag for the particular target mentioned above.
And you now want to create a release with that tag.

If no tag is found o

[2019-01-02 06:17] mdmdakbar commented on #9121
@heaths Thanks for your feedback.

The issue is acknowledged and for now we will make a change to make repository input editable as well.
Hopefully the fix will get released soon.

[2019-01-02 06:37] xingyu217 commented on #9162
Any updates?

[2019-01-02 08:10] zanechua commented on #8305
@vagisha-nidhi

Sweet. Thanks for getting it sorted.

[2019-01-02 10:39] Lovakumar commented on #8546
This seems to be coming from agent command support. Adding Build/Core team to take a look at this.

[2019-01-02 11:31] aledeniz commented on #9185
@bishal-pdMSFT while I was attempting to use this task, my subscription was not supporting Standard_D3_v2 (it may be now). If you look at the error log, I was receiving:

2018-12-26T17:05:08.6797308Z ==> azure-arm: ERROR:   -> SkuNotAvailable : **The requested size** for resource '/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxx
xxxxxxx/resourceGroups/packer-Resource-Group-xxxxxxxxxx/providers/Microso

[2019-01-02 11:41] omeshp commented on #8949
@W0GER When you say passing he variable value to step 2 Is it passed as input or are you reading the value task lib/from environment variables?

[2019-01-02 12:01] divais commented on #7659
Yes its on the roadmap but not this quarter. It will be of great help if you can request for this feature @ https://developercommunity.visualstudio.com/content/idea/post.html?space=21 to help us prioritize it.

[2019-01-02 12:32] omeshp commented on #9094
@ToMakeSense Are you using hosted agent too?

@michaeldeongreen @ToMakeSense Does the same error repro on private agent? If so is it possible to manually check if the file exists on private agent. From the download logs it seems like the file was downloaded, so it seems strange of it not to exist at task execution time.

[2019-01-02 13:57] teejam2 opened #9215 "Code Coverage tab not formatted correctly in Azure Devops"
## Environment
- Server - Azure Pipelines
- Account name: bcagroup
- Team project name: LOL
- Build definition name: ci_lolrequestdetectionserver
- Build number: #20181231.2
- Agent - Private
- OS: Windows Server 2008
- Agent version: 2.142.1

## Issue Description

Similar to https://github.com/Microsoft/azure-pipelines-tasks/issues/3027#issue-187223113

When I run the build the code coverage task

[2019-01-02 15:17] vincentdass commented on #9017
@gwoody1984 , the story is in out backlog and the feature will be added soon.
In the meantime, you can add AZ CLI (or) Azure PowerShell task to update connection strings from Azure Pieplines.

[2019-01-02 15:22] vtbassmatt commented on #8850
@mitchdenny or @alexmullans could you guys improve the docs and help out the .NET team here?

[2019-01-02 16:00] madhurig commented on #9136
@kristoferreierson - I don't see the raw xcodebuild.log files for your build. Can you send us the full debug logs from your build to help us identify if this is an xcodebuild or xcpretty issue? You can disable xcpretty to check if xcodebuild also reports incorrect issue.

Thanks,
Madhuri

[2019-01-02 16:21] madhurig commented on #9127
Are you running on the "Hosted Ubuntu" VM? This seems like the same issue as https://github.com/Microsoft/azure-pipelines-tasks/issues/8762. Please refer to that for a workaround while we are figuring out the best way to address the bug.

Thanks,
Madhuri

[2019-01-02 18:00] amrock-my opened #9217 "CmdLine task echo issue with $(Build.SourceVersionMessage)."
## Environment
Azure Pipelines; private agent (Windows)

## Issue Description
We use Azure Repos for our source code repository and we use Azure Pipelines for our build definitions, using the yaml-based (azure-pipelines.yaml) format.

[code]

### Error logs
[code]

[2019-01-02 19:38] brianobr opened #9218 "exception"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - H

[2019-01-02 20:04] salvmd commented on #9202
Hi @davidroberts63, it is as you mentioned: this is a security-related restriction built into the tasks (not even specific to the npm Auth task), so unfortunately, I don't think there is a supported way to set a global .npmrc.

[2019-01-02 20:07] shajusukumaran opened #9219 "Azure file copy tasks fails with error when trying to copy file using an on-premise agent to azure storage"
## Troubleshooting
Enable debug on the task and checked the logs, receiving the below error:'
`2018-12-14T17:38:43.1589619Z ##[debug]System.Exception: There was an error with the service principal used for the deployment. ---> System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.WebException: Unable to connect to the remote server ---> System.Net.Socke

[2019-01-02 20:08] cnjohns13 commented on #7909
Has there been any movement on this?  I don't understand why this is an enhancement and not a defect.  The field is marked as optional but the task throws an error when it is not provided.

[2019-01-02 20:12] damccorm commented on #9096
Ok, I don't think that it makes sense to add this right now, then. Since we don't have a use case I think I'd rather avoid having 1 more thing to maintain/document. With that being said, I'd definitely be open to adding it in the future given a use case.

[2019-01-02 20:12] #9096 closed

[2019-01-02 20:32] bryanmacfarlane commented on #9096
Is their a specific customer that's driving this need?  If so then that's a good use case ...

@mickeygousset ?

[2019-01-02 20:48] mickeygousset commented on #9096
Specific customer at this point, no.  The test will be when I finish creating the Azure DevOps pipeline for the ExpressJS repository and submit it to them.  If they reject it because that functionality isn't in the build, then it definitely becomes an issue.

What I will do is submit it without it, and see what happens. I'll also point out that their current build isn't really using it either.

[2019-01-02 21:07] Arithmomaniac commented on #3116
Updated link: https://mitra.computa.asia/articles/msdn-vststfs-understanding-task-groups-and-its-various-use-cases-setvariable-logging

[2019-01-02 21:38] paulb777 commented on #8840
We started seeing this randomly on some travis builds after switching from Xcode 10 to Xcode 10.1

[2019-01-02 21:39] madhurig commented on #7295
Closing this issue since it turned out to be a TFS on-premises configuration issue. We are updating the docs for secure files to clarify this as well. @elipsion - thanks for identifying the issue. The download tickets for secure files are similar to one time use PATs.

Thanks,
Madhuri

[2019-01-02 21:39] #7295 closed

[2019-01-02 22:35] heaths commented on #9121
In the meantime since this is blocking release definition creation, is there some trick I can do using the F12 tools? Previously, I could edit the HTML for the `input` and set the `value` attribute but that took several tries. Now it doesn't seem to work at all.