[2021-02-11 06:01] 20shivangi commented on #14215
@krispenner Addtion of latest versions of az module is in our backlog. Please have patience and we will surely add support for the latest az modules in hosted agent.
In the mean time to unblock yourself, you can use private agent instead of hosted one, install the latest az module on your machine locally and then specify same version in yout task in `specify version` block

[2021-02-11 06:20] #12168 closed

[2021-02-11 06:23] ajinkya599 commented on #12470
I have fixed the empty file write warning with #14321. This will be rolled-out with our next deployment.
I was not able to repro the behavior for the build case. However, the fix should take care of that too.

[2021-02-11 06:27] ajinkya599 commented on #13555
Raised a PR to change the language in the documentation.

[2021-02-11 06:27] #13555 closed

[2021-02-11 06:27] #13845 closed

[2021-02-11 06:34] 20shivangi commented on #14218
@madanbhavi Is the issue still being faced ?
Also, you can try to run from a package file : [ Run your Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package) . Also check the [link ](https://github.com/Azure/azure-functions-pack#note-this-repository-is-no-longer-actively-maintained)from the FuncPack author.

[2021-02-11 06:34] #12470 closed

[2021-02-11 07:17] 20shivangi commented on #13170
@andrew-sumner 407 means Proxy authentication required so means task is failing to authenticate successfully with their proxy server.
Are you using proxy password. If so, then if the proxy password has \  or any other special character in it, it may fail. Please confirm if your proxy password is also using these characters.

[2021-02-11 07:20] 20shivangi commented on #14224
@Anne56njeri Is this the task `Azure App Service Settings` ?
Also, please attach the full debug logs once with setting system.debug to true in your pipeline/release so that we can what version is it and all

[2021-02-11 08:35] hannwang1 opened #14378 "Request Az.Resources version 3.0.0 and above to deploy azure template spec"
I need to deploy Azure Resource Manager template spec.  The cmdlet I need are in Az.Resources 3.0.0 and above which requires Az.Accounts 2.1.0 and above.  I see the Az.Accounts imported by Azure Powershell version 5 is already 2.2.4, but deploy still failed with error

"The term 'Get-AzTemplateSpec' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the sp

[2021-02-11 08:46] florin-szilagyi opened #14379 "Helm3 support for KubernetesManifest"
## Note
Helm3 support for KubernetesManifest

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Feature/question

**Enter Task Name**:  KubernetesManifest

## Environment
 All environments
## Issue Description

Will the KubernetesManifest support Helm3 (right now it's working with Helm2). If not, why

[2021-02-11 09:26] shoter commented on #13946
I do not know. We did not go back to version 4 after we found workaround. Too much hassle. There is a chance that it might still be happening.

[2021-02-11 09:42] MikielAgutu commented on #14373
I don't quite understand.  Is there an actual reason why Azure Resource Manager doesn't work for me? Or is it just broken?

The publish profile asks me to enter the profile I made in Visual Studio. Well I'm not using Visual Studio - so how can I create a publish profile?

[2021-02-11 09:57] shigupt202 commented on #14361
Can you please share the logs, and the command that you're trying to execute?

[2021-02-11 11:32] AmrutaKawade commented on #13607
I am restating all things mentioned, to check whether problem is understood correctly. please confirm.

1. You are using classic pipeline and not yaml
2. you have some variables in variable group
![image](https://user-images.githubusercontent.com/65217380/107631098-7d652780-6c8a-11eb-852f-f5c187a1fbc9.png)
3. there is config yaml file which is using variables defined in variable group

[code]

4.

[2021-02-11 12:02] 20shivangi commented on #14091
@Warzinski We are able to reproduce the issue. Will look into it and get back on this.

[2021-02-11 12:12] etarzan opened #14380 "Please update the 7z version used for the Extractfiles task to 16.04"
## Note
We are using the extract files task in our Azure DevOps pipelines for extracting files from our preexisting exes and then re-bundling them using a .Net Solution.
The newer versions of  our .exe files are not being unzipped by the task and we are ending up with an error that looks like the following Pipeline raw log:
[code]
Note: I have masked the name of our exe due to the proprietary natu

[2021-02-11 12:43] etarzan commented on #14380
Please do leave a note/comment on the expected timelines for the resolution as we have significant customer interests tied to the outcome of the above-mentioned azure pipeline.

[2021-02-11 13:08] PatrickMessierGoC commented on #14075
@AmrutaKawade Thanks.

[2021-02-11 13:25] rohankapoor commented on #14380
Hi team, this one is critical to fix. Our DezOps pipelines for release have come to a halt. Looks like 7z version 16.04 doesn't have this problem. Possible to speed up the fix for this one?

[2021-02-11 13:29] Castone22 commented on #13607
There are two bare minimum cases here that very much isolate this to the compose plugin.
https://gist.github.com/Castone22/4105b26c749533a69451b0084ec23a30
This one does it using a provided environment variable override in the plugin

https://gist.github.com/Castone22/6f4160703a5f3f0c518ea3c640d3f2ab
This one does it using docker compose environment binding as per its spec.

In both cases, the bas

[2021-02-11 14:55] Castone22 opened #14381 "Docker Compose Environment variables do not bind when variable substitution is used in azure pipeline"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DockerCompose

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    Not at liberty to share publicly, can provid

[2021-02-11 14:57] Castone22 commented on #14381
May have relationship with https://github.com/microsoft/azure-pipelines-tasks/issues/13607

[2021-02-11 15:21] Anne56njeri commented on #14224
The task is Azure App Configuration Push Task

[2021-02-11 15:23] Anne56njeri commented on #14224
[code]

[2021-02-11 16:11] jamers99 commented on #14314
We again deleted the **_temp**, **_tasks**, and additionally this time the **_tools** directories and it worked for about a week, but the issue came up again. I'm uninstalling and deleting the agent and reinstalling to see if that makes any difference.

[2021-02-11 17:31] devsbryan commented on #7654
This is still an issue I can't resolve.

The scenario for me is:

Azure Container Registry - only accessible to App Service in the same subscription AND with ACR admin key enabled.

Microsoft state that the admin key being enabled is not good security practice, so I'm trying to use a service principal instead.

In order to provide specific credentials for the docker registry in App Service (i.e. t

[2021-02-11 17:53] MisinformedDNA commented on #10353
My guess is that something either is in the wrong place or is looking in the wrong place.

Can you share your YAML?

[2021-02-11 20:05] vaindil commented on #13971
We are also running into this issue, we have to restart builds all the time because they fail with this exact error. It's incredibly irritating.

[2021-02-11 23:01] Divjyot commented on #13607
1. Correct - classical
2. Correct  - Variables are NOT secret.
3. Correct
4. Correct - there is ONLY one difference of ```build: ./appX``` in yml file used in Docker Compose tasks (Task1 and Task2) vs AzureWebAppContainer (Task3):

**yml : Docker Compose tasks Task1 and Task2 (docker-compose.yml)**

[code]

**yml : Azure Web App Container Task (conf.yml)**
[code]

[2021-02-12 00:26] AnshumanTripathy opened #14391 "Deployment Agent Group - Release Pipeline Bash Task"
## Having issue with BASH Task - Deployment Group Agent.

Simple jboss server start in bash command

**_sh -x /apps/APPNAME/jboss-eap-7.1/bin/standalone.sh -b servername &_**

Starts the server with the application deployed immediately kills the server as soon as the Bash Task is done.
If I pass a wait, it waits for the command to start the server then somewhere in the middle the task is completed

[2021-02-12 01:19] Zanchee opened #14384 "Unable to provide mapping of env variables to Bash script."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Type: Bug

**Enter Task Name:** Bash

## Environment

- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
        Not at liberty to share publicly, can provide pri

[2021-02-12 01:31] Zanchee commented on #14384
Looks like `env` should be tabbed back one step. Closing.

[2021-02-12 01:31] #14384 closed

[2021-02-12 03:09] #12471 closed

[2021-02-12 03:09] #12285 closed

[2021-02-12 03:09] #12133 closed

[2021-02-12 03:09] #12160 closed

[2021-02-12 03:09] #11844 closed

[2021-02-12 06:24] kavitha1991dhiman commented on #14380
Hi Team,
Our pipelines in production require this fix for a quick resolution to the issue.
Looks like this needs to be prioritized to update to 7z version 16.04 in order to get us in shape.
Please do leave a comment on the expected time for the resolution.

[2021-02-12 08:29] AmrutaKawade commented on #13607
when you define any variables in variable group, those are saved in environment variables.
and `docker-compose` command itself replaces variables in `docker-compose.yaml` file

https://docs.docker.com/compose/compose-file/compose-file-v3/#variable-substitution

this feature is not provided in any of the above task.

If you want you can use any variable substitution strategy/task that will replace

[2021-02-12 10:01] EzzhevNikita commented on #14380
@etarzan We've started working on the fix of the fix. But unfortunately I didn't manage to find the case when this issue happens for you.
It will be very helpful if you could provide me an example of .exe file which is causing an issue for you or may be some steps how I can generate an exe which couldn't be unpacked. You can send an example of exe to my email - v-niezz@microsoft.com

The fix will

[2021-02-12 11:33] pacorreia opened #14386 "AzureCLIV2 does not use the selected Service Connection and picks a random one"
## Required Information

*Type*: Bug

**Enter Task Name**: AzureCLIV2

## Environment

- Server - Azure Pipelines
   - Account name : Cofco International
   - Team project name: Integration Platform
   - Build definition name/build number: refresh-datalake

- Agent - Private:
    - Agent OS: Linux
    - Agent version: 2.172.1

## Issue Description

When using an Azure CLI task (Get Source SAS toke

[2021-02-12 14:36] homelchenko commented on #12471
@satbai  To run this script, do I need to stop the server, is it worth doing a backup of some sort? How bad could it go?

[2021-02-12 14:51] Alexabix commented on #4743
If you have time could you please explain the "gotchas" that held you up? I need to look at this now and I'd like to avoid getting stuck on the same bits as you if possible.

[2021-02-12 15:29] LUC18fknU7P opened #14387 "GitHubRelease seems to use wrong endpoint for getting commits (404 Not Found)"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-12 15:37] s-leonard opened #14388 "Azure File Copy V4 StorageContainerSasToken is invalid"
The Sas token I get back from the AzureFileCopy@4 task doesn't enable be to retrieve any of the files I'm uploading.

[code]
When I trying to view a file  I get the following error.

[code]

If I create a new Sas token in the portal and view a file it works fine.

[2021-02-12 15:51] tero-dev commented on #14387
https://github.com/microsoft/azure-pipelines-tasks/blob/ac62063fd69b95a49ab7a607336e1eb104927478/Tasks/GitHubReleaseV1/operations/Release.ts#L103-L114

This is the function that fails.
It's a call to https://docs.github.com/en/rest/reference/repos#get-a-branch
shouldn't https://docs.github.com/en/rest/reference/repos#get-a-commit be used for commits?

[2021-02-12 16:57] anatolybolshakov commented on #14255
Hi @Bouke thanks for reporting this - we will let you know once this fix will be available.

[2021-02-12 19:41] MattGal commented on #13250
@alexander-smolyakov Good news: I see it's getting used (https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_apis/build/builds/992064/logs/2063 )

Less good news:  the retry never returned and timed out almost 2 hours later:

[code]
Since a successful retry is hard to find (as it'd be a successful pipeline), this may just be a one-off, but letting you know that it's seemingly rolled

[2021-02-12 19:47] satbai commented on #13591
We recommend using one of the two workarounds:
1. Use NuGet Authenticate task followed by a script task that does the dotnet command with `--skip-duplicate`
2. Use the "custom" command with the dotnet task and use the arguments option to add `--skip-duplicate`

Azure Artifacts no longer takes new feature requests or feature contributions for the bulkier package type tasks (nuget/dotnet/npm/maven/p

[2021-02-12 19:47] #13591 closed

[2021-02-12 20:20] MisinformedDNA commented on #13591
Is Azure DevOps moving into support mode so that development can be focused on GitHub?

[2021-02-12 22:25] pacorreia commented on #14386
Issue tracked down.

Az login does not share credentials with az powershell modules

[2021-02-12 22:25] #14386 closed

[2021-02-12 23:06] derekrprice opened #14390 "Unable to Mount Docker Volume from Self-Hosted Agent"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DockerCompose@0

## Environment
- Server - Azure Pipelines
- Account & Team: https://dev.azure.com/PartechGSS/TDP
- Build: partech_web.diagnostics-service/202106.26

- Agent - Private:
    - OS: Ubuntu 18.04
    - Agent Version: 2.181.2 (commit a673867)

## Issue Description

We use a docker-compose run task

[2021-02-13 01:47] #14369 closed

[2021-02-13 03:29] lordlycastle commented on #11864
Regarding the `yarn` cache thing. I learnt new things. Things like yarn always creates a cache. Every time you do `yarn install` it will first create/update the cache then add them to your project. So that is why this is only slow on agent if they clean everything everytime but they don't. We have a recycle cycle of 24 hrs so it creates the local cache on each agent once every day then it is faste

[2021-02-13 19:53] avivanoff commented on #12763
@egor-bryzgalov, it has been almost five months. Any updates?

[2021-02-13 23:08] totalgit74 commented on #13409
Same request in #11570

[2021-02-14 09:09] #11951 closed

[2021-02-14 14:46] cyberpion-yotam commented on #12474
Getting this issue when deploying from bitbucket.

[2021-02-15 04:46] 20shivangi commented on #14378
@hannwang1 On hosted agent, the latest version of az module corresponds to 4.7.0 where Az.Resources module version is 2.5.1
Addition of latest az modules on hosted agent is in our backlog already.
Meanwhile  to unblock yourself, you can use private agent instead of hosted one, install the latest az module on your machine locally where Az.Resources version is 3.0.0 and then specify same version in

[2021-02-15 05:07] 20shivangi commented on #14218
@madanbhavi Any update here ?

[2021-02-15 05:07] 20shivangi commented on #14273
@NWH-SAmin5 Any update on this issue ?

[2021-02-15 05:09] 20shivangi commented on #13607
@Divjyot Please try to use any variable substitution strategy/task that will replace your conf file before using in task, since this feature is not provided by any of the task mentioned above.
Please refer to above comment for more details.

[2021-02-15 05:27] Divjyot commented on #13607
@AmrutaKawade and @20shivangi  Thanks for that clarification. I will use a substitution task.

[2021-02-15 05:48] 20shivangi commented on #13946
We are closing the issue. Please feel free to reopen the issue if it is still being faced. Thanks :)

[2021-02-15 05:48] #13946 closed

[2021-02-15 06:30] 20shivangi commented on #14043
@mwc360 Have you tried the above approach ?

[2021-02-15 07:11] robmaas commented on #14302
It looks like that PR has been released to production a couple of days ago, warnings are gone in my configurations.
I think this issue can be closed.

[2021-02-15 07:30] EzzhevNikita commented on #14391
@AnshumanTripathy Could you please share the task log with enabled diagnostics. To turn it on you can follow this [instruction](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#configure-verbose-logs).

[2021-02-15 08:44] oliverchristen commented on #13412
The issue still exists. Unfortunately I did not hear anything of @blackchoey.

[2021-02-15 08:53] shigupt202 commented on #14262
Closing stale issue. Feel free to reopen the issue if the problem is still there. (We have fixed the issue in DockerV2)

[2021-02-15 08:53] #14262 closed

[2021-02-15 09:02] wngr commented on #8259
I'm sorry to dig this up here, but it seems to me that this is currently not working as intended. At least on my server running `Ubuntu 20.04.2 LTS`.

Running a task like
[code]

definitely does not source `~/.bashrc`.

Also, looking at `man bash` (excerpt):

       ~/.bashrc,  if  that file exists.  This may be inhibited by using the --norc option.  The --rcfile file op‐
       tion will force ba

[2021-02-15 09:04] anshii03 commented on #14192
@DhirajKhot Code coverage is enabled through run settings file which you are using in VSTest task for integration tests . Once you use right run settings without code coverage enabled , you will not get coverage comment for integration tests pipeline.

[2021-02-15 10:38] ddivanshu commented on #14246
@pradudev Its been deployed.

[2021-02-15 10:41] ddivanshu commented on #14097
Though in the updated version, task tends to flatten the variable but that comes as additional variable without impacting the current variable.Although there was an issue https://github.com/microsoft/azure-pipelines-tasks/issues/14246 that if one of the field of deployment output was null, output variable was not being populated which has been fixed in the version 2.182.
This could be the reason f

[2021-02-15 10:44] olivier-voutat commented on #5590
I'm having a similar issue with "IIS WebApp Deploy" task and *.woff2 files.

The woff2 files in the artifact are correct, since I can download them and they work.

I'm doing a onPremise deploy so I cannot use the "Azure File Copy" task and the "Copy Files" doesn't have an "Additionnal Arguments" field...

Lost 2 days searching already. Anyone has a suggestion, please ?

[2021-02-15 10:47] AsierVillanueva commented on #14371
@20shivangi
How long can it take?
We have the release pipelines crashing since last Wednesday and the task still not updated. We can't deploy any new feature since then.

[2021-02-15 10:50] anatolybolshakov commented on #14278
Hi @nick3389 is this issue still actual for you?

[2021-02-15 10:52] anatolybolshakov commented on #14227
Hi @rik-v is this issue still actual for you?

[2021-02-15 10:56] DurandSacha commented on #10302
Legacy build is available with Xcode version  : 10.3

[2021-02-15 11:29] kmkumaran commented on #5590
+ @chshrikh  / @nadesu

[2021-02-15 11:38] ds-ms commented on #13412
Looping in the new owners: @marianan   @tameraw   @pprovost could you guys take a look?

[2021-02-15 11:40] kmkumaran commented on #13158
+ @chshrikh  / @nadesu

[2021-02-15 12:23] hvdb commented on #13971
We also have this problem.
We have to restart it several times until it works, very irritating and also costs lost of time..

Using ubuntu 18-04 and 20-04 and running NPM CI.

[2021-02-15 13:54] douglassimaodev commented on #12433
I am still getting this error, either using azure devops or appcenter ##[error]Error: Cannot find any file based on /Users/runner/work/1/s/**/*.ipa.

[2021-02-15 14:30] cloudlucky commented on #14246
I can confirm that my deployment scripts are working now with this fix.
Thank you everyone

[2021-02-15 15:14] 20shivangi commented on #14371
@AsierVillanueva The deployment usually takes 3-4 weeks to roll out.

[2021-02-15 15:23] cstrempfer commented on #14366
This is a constant struggle with Azure Pipelines. I reported the same issue in #14359 for another task.

Even worse some tasks do not even support service connections for subscriptions, e.g. PythonScript. That means basically you have to manage:

- one service connection for every subscription, because tasks do not support management groups
- service principal credentials in pipeline variables for

[2021-02-15 15:32] alexander-smolyakov commented on #13250
@MattGal, thank you for the info, as I can see from the logs task version is 0.178.0, however, a task with the fix will have a 0.183.0 version. A release for the 183rd sprint will start this Friday.

[2021-02-15 16:49] djentelmenis commented on #13971
Update from my side - Last week I tested out switching from `npm` to `yarn` and have had no more problems since.

[2021-02-15 16:51] mssanjay opened #14394 "##[error]TypeError: Cannot read property 'updateAndMonitorAppSettings' of undefined"
I have a task in my pipeline as below ..
  - task: AzureWebApp@1
            displayName: 'Azure Web App Deploy: MS-us-web-daps-api-1'
            inputs:
              azureSubscription: $(azureSubscription)
              appType: webAppLinux
              appName: $(webAppName)
              package: '$(System.ArtifactsDirectory)/drop/**/target/*.?(war|jar)'

I get the error ##[error]TypeError:

[2021-02-15 16:51] jessehouwing opened #14395 "SSH@0 logs inline scripts to console verbatim, causing any ##vso commands to be executed"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Ssh

## Environment
- Server - Any
- Agent - Hosted or Private: Any

## Issue Description

[code]

will always log `warning: Something is fishy...` because the tasks outputs each command it parses to the console:
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/SshV0/ssh.ts#L107-L108

![ima

[2021-02-15 18:16] bishal-pdMSFT commented on #14246
Special shout out to @pradudev for creating PR for fixing this issue ❤️

[2021-02-15 19:48] bfbatch commented on #10282
I need to have this ticket removed per the client's request. I removed the content, but it was the log file that came up in a security scan and they'd like it removed. Please let me know if you need any other type of request.

[2021-02-15 23:22] AsierVillanueva commented on #14371
3-4 weeks with the releases stopped ¿really?

[2021-02-16 04:00] markwooff commented on #14302
Can confirm on my end as well. Haven't seen the `##[warning]%25 detected in ##vso command. In March 2021, the agent command parser will be updated to unescape this to %. To opt out of this behavior, set a job level variable DECODE_PERCENTS to false. Setting to true will force this behavior immediately. More information can be found at https://github.com/microsoft/azure-pipelines-agent/blob/master/

[2021-02-16 05:10] ds-ms commented on #11714
Paging @marianan   @tameraw    @pprovost ; new owners of the area path

[2021-02-16 05:24] 20shivangi commented on #14277
@ElvenSpellmaker Have you checked the above doc ? Any update here ?

[2021-02-16 05:25] 20shivangi commented on #13170
@andrew-sumner Are you still facing the issue ? Any update here ?

[2021-02-16 05:58] 20shivangi commented on #14352
Closing the issue since PR for [bug fix](https://github.com/microsoft/azure-pipelines-tasks/pull/14372) and for [documentation](https://github.com/MicrosoftDocs/azure-devops-docs/pull/10160/files) have been merged. Deployment usually takes 3-4 weeks for rollout.

[2021-02-16 05:58] #14352 closed

[2021-02-16 06:33] spacejam101 commented on #14302
I'm still having this error even if the pr has been closed

[2021-02-16 07:03] 20shivangi commented on #14373
@MikielAgutu From the logs attached, it can be seen that you are using `Publish Profile` as connection type and credentials are null, due to which it is giving error

![image](https://user-images.githubusercontent.com/45754171/108028914-925b0580-7052-11eb-9be3-07e87c8270af.png)

**Please see the below snippet to use the correct service connection and provide credentials for the same**

![image](ht

[2021-02-16 07:31] olivier-voutat commented on #5590
Extra information: same problem with "Copy Files" task. With "Download Pipeline Artifact" the final files are correct... just unable to copy to correct folder ... ?

So, for now, even if it is completely awful, I added:
1) "Download Pipeline Artifact",
2) "Copy Files" from folder where artifact was downloaded to final folder
3) "Delete files" to delete Artifact download folder.

[2021-02-16 07:39] 20shivangi commented on #13607
Closing the issue since the scenario is not supported by task and we should use any variable substitution strategy/task that will replace your conf file before using in task

[2021-02-16 07:39] #13607 closed

[2021-02-16 08:01] 20shivangi commented on #14224
@Anne56njeri Although the common module i.e. AzureRmDeploy-common is being used by some of our tasks, yet the extension `Azure App Configuration Task` is not owned by us.
We will check if this api is being used by our task , meanwhile you can also create issue on the team here : https://github.com/Azure/AppConfiguration for your ask

[2021-02-16 08:27] john-forrest commented on #14320
I've now tried  Jenkins 2.263.4. The change of behaviour with archive.zip I noticed seems to have been fixed (the file structure of the zip is the same as 2.263.1) but I still see the problem reported. Suggestion then is that the real issue is something different. Currently my only solution is to stick to Jenkins 2.263.1, which continues to work. That is not a long term solution.

[2021-02-16 08:35] frbar opened #14396 "AzureMySqlDeployment - Cannot read property 'getFullyQualifiedName' of undefined"
## Required Information

**Question, Bug, or Feature?**
*Type*:  Bug

**Enter Task Name**: AzureMySqlDeployment

## Environment
- Server - Azure Pipelines

- Agent - Hosted - windows latest

## Issue Description

Cannot execute MySQL inline script. Tried with auto-detection of IP and manual resolution.

[code]

### Task logs

[code]

### Error logs

`Cannot read property 'getFullyQualifiedName' of

[2021-02-16 09:14] zooda56 commented on #13446
Up and atom!

[2021-02-16 09:36] ashokirla commented on #14366
@cstrempfer Thanks for the feedback. As of today, we dont have support for service connections with multiple subscriptions.
Adding @ninallam/@vijayma to take this feedback.

[2021-02-16 09:37] anatolybolshakov commented on #13446
Hi @zooda56 according to docs for CopyFilesOverSSH task requires OpenSSL v1.0.1 and higher - could you please it's version on your machine?
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/copy-files-over-ssh?view=azure-devops#encryption-algorithms

[2021-02-16 09:56] navin22 commented on #14212
Closing this because of no activity. Please reopen this if you still face the issue.

[2021-02-16 09:56] #14212 closed

[2021-02-16 10:06] navin22 commented on #14304
@hollowdrutt Is the agent behind a firewall? If yes can we get the fiddler traces and see if any URLs are blocked

Follow the below documents for whitelisting the URLs needed for the PTR task.

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#im-running-a-firewall-and-my-code-is-in-azure-repos-what-urls-does-the-agent-need-to-communicate-with

[2021-02-16 10:50] 20shivangi commented on #14371
Please wait at least till this week. Deployment might reach your account by this week

[2021-02-16 10:59] EzzhevNikita commented on #14391
@AnshumanTripathy The Bash task itself doesn't clean background processes. Agent is cleaning the process after pipeline completing on the Finalize Job step. You can try to set _process.clean_ environment variable with _false_ value in your pipeline, after that agent will skip cleaning of extra processes.

[2021-02-16 12:11] #7987 closed

[2021-02-16 14:33] Anne56njeri commented on #14224
@20shivangi sorry I had mentioned, am from the Azure App configuration Team I work on the `Azure App configuration and Azure App configuration push task`, we've implemented the code available in your repo from the `azure-arm-rest` folder, that is why we were wondering if in the azure-arm-common file, in the “_getMSIAuthorizationToken()” function when setting the “web request. URI” you set the reso

[2021-02-16 15:07] bilaakpan opened #14397 "AzureMysqlDeployment ERROR at line 1: Unknown command '\a'"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureMysqlDeployment

## Environment
- Server - Azure Pipelines or TFS on-premises? **Azure Pipelines**

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
https://dev.azure.com/datacoz/livediligence/_build/results?buildId=249&view=logs&j=275f1d19-

[2021-02-16 15:45] lpgoncalves commented on #14282
Any updates?

[2021-02-16 15:50] Sidoran commented on #9783
Hello. We have the same issue with the WhiteSource task.
Issue reproduced on 19.* and 20.* task versions.
![image](https://user-images.githubusercontent.com/50662809/108084557-027e8100-707d-11eb-988a-cf98f2edb067.png)

[2021-02-16 17:21] MattGal commented on #13250
Thanks for clarifying.  One follow-up question; does this mean there actually was already some retry logic before this change?  (had never seen evidence of a retry being attempted, just silent quitting)

[2021-02-16 18:06] StingyJack commented on #11536
@ShreyasRmsft @shashban - In addition to this OP's use case, this also creates a problem with SonarCloud integration because this task puts test results files in a location where SonarCloud's task does not look for them.  This config option is present and works with the VSTest task, so until this is configurability problem is fixed, we have to use the VSTest task in all of our devops pipelines.

A

[2021-02-16 21:09] AnshumanTripathy commented on #14391
@EzzhevNikita Since this is happening on Release Pipeline, which is not in yaml, when we pass this process.clean as a environment variable, is it passed as $(process.clean = false) ? Just trying to understand the syntax there.

[2021-02-16 21:18] LiohAu opened #14400 "missing argument for install command in NPM task ?"
Hello,

Quick question, maybe a deliberate choice on your side otherwise a bug :

Is it normal that the NPM task when used with the "install" command does not let us provide the name of the package to install ?
So either we use NPM install command with a package.json OR we have to use npm custom if we want to install tools to be run with NPX for instance ?

[2021-02-16 21:55] marianan commented on #11714
@alevincenzi  thank you for reporting this issue. Regarding the documentation bug, we are already tracking it in our backlog and will share updates when available. Regarding the initially reported issue of env variables not being substituted - is this still an issue? If yes, do you have workaround that can unblock you in the meantime?

[2021-02-16 22:08] marianan commented on #13412
@ds-ms thanks for reporting this issue. Could you please try to use the az cli command directly in your pipeline and observe if the issue reproduces - this will help root cause the issue. The az cli command that the task uses is at https://github.com/microsoft/azure-pipelines-tasks/blob/693e719b4dbf83dc3637a040273035de9bb5221e/Tasks/AzureIoTEdgeV2/deployimage.ts#L83.

[2021-02-16 22:09] Justin-DynamicD opened #14401 ""kubernetes@1" does not configure a context"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: kubernetes@1

## Environment: Azure Pipelines

Account Name: itsocloud
project Name: DevOps
Pool: DevOps-Builders

## Issue Description

After using kubernetes@1 'login' command, attempting to run kubectl from command line reveals no configured context which make subsequent commands fail.

task used:
[code]

[2021-02-16 22:13] Justin-DynamicD commented on #14401
Note: the `build` cmd is from a custom module.  However, simply getting config context fails.

[2021-02-16 22:43] fbrosseau opened #14402 "PublishTestResults@2 leaks TestResults_*.zip"
hello

**Type** Bug

**PublishTestResults@2**

Azure pipelines
Linux onprem agent

## Issue Description

If **mergeTestResults is true** for PublishTestResults@2, the task will create a zip called TestResults_[number].zip under system /tmp, but never clean it up. This is not the agent-managed temporary folder, this is the true /tmp. This will accumulate over time unless a cron job is configured to

[2021-02-16 22:51] rfink commented on #12892
Bump - this actually just started happening on a build that hasn't changed since December.

[2021-02-16 23:12] TravisEz13 commented on #13384
Can we please get this addressed?
https://dev.azure.com/powershell/PowerShell/_build/results?buildId=73459&view=logs&j=bc13c707-2b09-5831-a107-b42ace4fe40a&t=a88287c2-32fb-5af0-89ea-5d5b1a3cc8cf
I'm using the `##vso` commands and it seems to be triggering this.

[2021-02-17 04:55] BansalVikrant opened #14403 "Variable Transform in web.config inside system.web section."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-17 05:53] EzzhevNikita commented on #14391
@AnshumanTripathy You need to set it on variables tab in your release pipeline configuration, like on the screenshot below:

![image](https://user-images.githubusercontent.com/23104121/108162034-55981880-70fd-11eb-9d67-cdb782874511.png)

[2021-02-17 06:25] ds-ms commented on #14401
This seems weird. The kubectl cli was able to communicate with your cluster in the login step; it was able to fetch the server version.
![image](https://user-images.githubusercontent.com/25762922/108164489-ddd6e780-7116-11eb-9d0f-01becba912c3.png)

@Justin-DynamicD was this passing for you earlier? Or is this the first time you're trying it out.

@shigupt202 could you take a look into this?

[2021-02-17 06:43] Justin-DynamicD commented on #14401
@ds-ms this was my first attempt to use this task in a build job.  I do use the helm task in a deployment job just fine, though I'm not sure how much code the two tasks share.

I have moved on from this task by creating a bash task that creates the config file instead, so it's not a critical path, just a bit kludgeier. ;)

Context for what I'm doing:

I'm attempting to prepare for dockershim remov

[2021-02-17 07:35] DaniilShmelev commented on #14271
Hi @milbrandt! The task is working as expected; the `workingFolder` input is only used to specify the working directory that your batch script will use. It doesn't affect the path to the script. So the fix would be to use:
[code]

By the way, the workaround with `script` works because in the context of `$(SrcDir)` the path `builds\setupdevenv.cmd` is indeed valid, so both tasks work as expected.

[2021-02-17 07:35] DaniilShmelev commented on #14271
Could you please confirm if the issue is resolved with this fix?

[2021-02-17 08:56] oliverchristen commented on #13412
@marianan Thanks for your suggestion. I'll try it out when I have the time to do so.

[2021-02-17 09:08] anatolybolshakov commented on #9783
Hi @Sidoran WhiteSource task is external for this repo, please contact support of this task to resolve this issue.
They just need to update azure-pipeline-task-lib dependency like it was in [PR ](https://github.com/microsoft/azure-pipelines-tasks/pull/14026/files)

[2021-02-17 09:27] Sidoran commented on #9783
@anatolybolshakov, thank you. I will notify WhiteSource support.

[2021-02-17 09:35] megafinz opened #14405 "UseDotNet@2: no option to install aspnetcore runtime (only full sdk or regular runtime)"
**Type**: Question || Feature

**Enter Task Name**: UseDotNet

## Issue Description

I would like to install **aspnetcore runtime 3.1** along with **sdk 5.0** during the pipeline run. I'm trying to use `UseDotNet` task for that. It seems that there is no option for installing the **aspnetcore runtime**, the choice is either **regular runtime** or **sdk**. Installing the **sdk** also installs the c

[2021-02-17 09:42] shigupt202 commented on #14401
@Justin-DynamicD Since you're using self hosted agents, it's possible that you already have a Kubeconfig file present or the KUBECONFIG environment variable set to something. In such cases, if a --kubeconfig flag is not attached with kubectl commands, it merges all the files and take the context of the first file. For your use case I would suggest you to do one of the following:
1. Remove other ku

[2021-02-17 10:17] nick3389 commented on #14278
@anatolybolshakov I haven't found the time to test it yet. I will try to do it until the end of the week. I will keep you posted.

[2021-02-17 10:17] alevincenzi commented on #11714
Well .. that was a loooong time ago.
We dropped the usage of that type of task and replaced it with a bash script that fetches the secrets from a vault and replaces them with [jq](https://stedolan.github.io/jq/).
We never tried to use it since.

[2021-02-17 10:27] erikthysell commented on #12051
Same issue here... I get
##[warning]Can\'t find loc string for key: Info_ResolvedToolFromCache
##[warning]Can\'t find loc string for key: Info_UsingVersion
##[warning]Can\'t find loc string for key: Info_UsingToolPath

when running this task:
- task: UseDotNet@2
  displayName: 'Use .NET Core sdk 5.0.103'
  inputs:
    packageType: 'sdk'
    version: '5.0.103'
    includePreviewVersions: true

[2021-02-17 11:07] DevRCRun commented on #14375
We are also finding that the Azure Artifacts registry for NPM whether for our own packages published from Azure Pipelines or mirrored public ones are completely missing the sha-512 hashes, only the "shasum" field is present. It looks like the

`"integrity":"sha512-WD53jhgDQmtx/z1hbr2WB+i1f9oAgi9gXeerC6xwRynAP1Xh8W2KM8JCyZ3PslGX3zc9/w3Ic/m+hp1myBJ0jQ==",`

which should be before it Is being strippe

[2021-02-17 12:01] aldodfm commented on #14375
Same here,
what we setup npm task to:
        - task: Npm@1.179.1
          inputs:
            command: 'install'
            customRegistry: 'useFeed'
            customFeed: 'XXXXXXXXXXXXXXXXXX'

[2021-02-17 12:17] aldodfm commented on #13971
Same here,
what we rollback npm task to:
- task: Npm@1.179.1
inputs:
command: 'install'
customRegistry: 'useFeed'
customFeed: 'XXXXXXXXXXXXXXXXXX'
Then, it doesn't fail...

[2021-02-17 13:54] PatrickMessierGoC commented on #14268
I'm having a [similar issue with the ARM template deployment@3 task](https://developercommunity.visualstudio.com/content/problem/1321175/arm-deployment-task-fails-on-templates-with-multi.html). I originally thought it was an issue with Azure DevOps since I was running the ARM template successfully through Azure CLI.

[2021-02-17 14:01] Korijn opened #14408 "Intermittent quote failure in bash task/variable substitution"
Given:

[code]

The following **_sometimes_** fails. I can't explain it. Retrying usually works.

[code]

Like so:

[code]

[code]

[2021-02-17 14:36] Korijn commented on #14408
Another data point, this also sometimes happens in another location in the script, with a different error:

[code]

[code]

Notice that dangling quote at the end of the line which has seemingly appeared out of nowhere: `docker push ***/project/system:ee9e0f3a'`

[2021-02-17 16:21] pkgw opened #14409 "AzurePowerShell@4: blob property set stopped working"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShell@4

## Environment
- Server - Azure Pipelines or TFS on-premises?

  - Azure Pipelines: aasworldwidetelescope/WWT org/project, build definition WorldWideTelescope.wwt-web-client; build number 20210217.1

[2021-02-17 18:37] mslukebo opened #14411 "Download package task: "Invalid or unsupported zip format. No END header found""
## Task
- Download package (universal)

## Environment
- Agent - Azure Pipelines agent running windows-2019

## Issue Description

My pipeline has a universal package that gets downloaded during a "Download package" task. The task says it's using version 1.182.2.

Sometimes - but not always - the task fails with the following error:
[code]

This error happens before my universal package is even at

[2021-02-17 19:06] t-dedah commented on #14326
Updating the helpMarkDown and docs to reflect the expected behaviour. https://github.com/microsoft/azure-pipelines-tasks/pull/14412

[2021-02-17 19:29] #14246 closed

[2021-02-17 19:59] BartNetJS commented on #13033
Same issue here with bash

The STDIO streams did not close within 10 seconds of the exit event from process 'C:\Program Files\Git\bin\bash.exe'. This may indicate a child process inherited the STDIO streams and has not yet exited.

[2021-02-18 00:22] #11082 closed

[2021-02-18 04:46] asranja opened #14414 "Web deploy tasks corrupting the file names which have specials characters"
**[Tasks]**
Azure App Service Deploy
IIS Web App Deploy

**[Issue]**
On doing an IIS web deploy and the files in zip folder with Swedish characters in their names are getting corrupted
The file that is named
Pts.Master.Analys.Jämförelse.dll
now looks like this
Pts.Master.Analys.J├ñmf├Ârelse.dll

**[Cause]**
The zip package generated by MSBuild corrupts the file name during build. 7zip extracts thi

[2021-02-18 05:01] AmrutaKawade commented on #14397
this has already been fixed and deployed. please confirm if you are still facing this issue

[2021-02-18 05:12] 20shivangi commented on #14409
@pkgw Have you tried the above script locally in Windows PowerShell ?
If not, please do the same with same az module installed locally on your machine. With this, we can verify if there is problem with command or task .

[2021-02-18 05:16] chshrikh commented on #14414
team is working on the actual fix for this, meanwhile please refer to above workaround

[2021-02-18 05:16] #14414 closed

[2021-02-18 06:29] 20shivangi commented on #14396
@frbar We are not able to reproduce the issue..have tried using both options : InlineScript as well as ScriptPath
Is this issue intermittent for you or some specific condition when it is occuring ?

From the logs attached it can be seen that it is not able to find the server. Can you check your mysql server connection once

[2021-02-18 06:39] 20shivangi commented on #14273
Closing the issue since there has been no response for so long.
Please
1. try using task Azure Web App with a pre step of extracting your zip to a folder using Extract files and then using that folder path in Package parameter of Azure Web App
2. For you issue on using azure app service deploy task, his task supports two connections, Publish Profile and ARM.
Please try to use ConnectionType = Publ

[2021-02-18 06:39] #14273 closed

[2021-02-18 07:33] alexander-smolyakov commented on #13250
The `DownloadBuildArtifacts` task uses the [Artifact Engine](https://github.com/microsoft/azure-pipelines-extensions/tree/master/Extensions/ArtifactEngine) to download artifacts from Azure DevOps. As I can see from logs, this retry attempt was triggered by the engine itself, not the task. If this problem reappears, could you please create a separate ticket for it?

[2021-02-18 07:59] ninallam commented on #14366
@cstrempfer Thanks for the feedback We have take a note and will look out for more requests on this.

[2021-02-18 08:07] 20shivangi commented on #14366
@cstrempfer @ld0614 As mentioned above, we have taken your request into our feedback and will look out more for such requests.
Thank you for providing your input. Thereby closing this issue.

[2021-02-18 08:07] #14366 closed

[2021-02-18 08:46] 20shivangi commented on #14359
@cstrempfer I totally agree what you said "Service connections should not have an additional subscription id, because that would defeat the purpose of using management groups in service connections."

What I am saying is that , `having an optional "subscriptionId" parameter in addition to the "azureSubscription" parameter (which is actually pointing to a service connection), and its value would be

[2021-02-18 10:29] 20shivangi commented on #14218
Closing the issue since there has been no response. Please feel free to re-open the issue in case of any queries.

[2021-02-18 10:29] #14218 closed

[2021-02-18 10:31] lazarillo commented on #13092
Was this ever solved?

Forcing an escape character is a very poor solution.  In my case, the mangling occurs with a *secret* key vault-associated variable that I would prefer not to have access to.

I have tried the exact same Powershell command on my local machine, and it works without a problem.  But in the pipeline, it keeps getting mangled.

Specifically, my command is this:

[code]

If the va

[2021-02-18 11:05] anatolybolshakov commented on #13384
Hi @TravisEz13 we fixed this issue and will let you know once it will be available.

[2021-02-18 11:05] lazarillo commented on #13092
I realized that I made a mistake: the variable was being passed correctly, but it was difficult to *validate* that it was correct, since secrets are not printed to screen.  I had made an error with the validation script.  (Accidentally used double quotes for the raw value instead of single quotes.)

---

I will say, though, that there is still a difficult challenge in passing this information:  th

[2021-02-18 11:18] egor-bryzgalov commented on #13092
Hi @lazarillo
Thank you for the information provided. Could you please clarify if the task works as expected for you? Am I right that your password is passed correctly?

[2021-02-18 13:37] dign17 opened #14417 "Publish Pipeline Artifacts Task Ignores .artifactIgnore For File Share"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishPipelineArtifact@1

## Environment
- Server - Azure Pipelines
- Agent - Private:
    - WIndows 10

## Issue Description
Using the following ignores .artifactsIgnore file due to execution of ROBOCOPY with default setting:

[code]
The whole folder is unfortunately copied to destination.

If I use the def

[2021-02-18 13:43] bormm commented on #14417
Very annoying!

[2021-02-18 13:44] pkgw commented on #14409
@20shivangi I have tried it on PowerShell on Linux. It works fine with Az 5.5.0, as well as some of the older versions I've used before. And again, it used to work in the Azure Pipelines environment, up until about a month or two ago.

[2021-02-18 14:01] 20shivangi commented on #14409
@pkgw I got that the script was working before.
But can you try these commands locally in a powershell prompt and confirm if you are still getting that error.

If so, then problem is with command and we have to raise bug on AzurePowerShell team

[2021-02-18 14:04] pkgw commented on #14409
Sorry if I was unclear. Yes, it works for me locally now, on PowerShell on Linux. I could spin up a Windows VM if you want to have confirmation about whether it works specifically on Windows.

[2021-02-18 14:27] ShreyasM6 opened #14418 ""Azure SQL DataBase deployment" pipeline- Fails to create a APP user on DB for the first time, but succeeds after multiple runs"
## Required Information

Azure SQL DataBase deployment pipeline- Fails to create a APP user on DB for the first time, but succeeds after multiple runs

**Task Name**: Azure SQL DataBase deployment

## Environment

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name: vs2017-win2016

## Issue Description

The Task to add the APP user to the DB fails through Azure DevO

[2021-02-18 14:28] wespen commented on #10967
I got `npm install` to work, but `npm audit` still gives
[code]

[2021-02-18 15:09] winniehell commented on #13234
comment

[2021-02-18 16:35] MattGal commented on #13250
Will do, thanks

[2021-02-18 17:03] IanBFarrell commented on #14282
I am really hoping to have some updates for this issue, so we can have a clean build pipeline.

Thanks

[2021-02-18 17:57] felickz commented on #9157
still cant use SYNC (aka robocopy mirror)  in Azure File command - this issue is not closed

[2021-02-18 18:33] bahadir-be commented on #13729
Same issue here.

[2021-02-19 00:19] AnshumanTripathy commented on #14391
That works. @EzzhevNikita

[2021-02-19 02:20] hannwang1 commented on #14378
Hi @20shivangi  we don't have private host.  When are you going to update the Az version.  Az 4.7.0 is more than 5 months old.  many releases will be blocked if you can only support 6 months old version.  Can you please provide a timeline when you are going to upgrade version? Or any other workaround I can use newer version in my task? Thanks.

[2021-02-19 03:13] vovikdrg commented on #12597
@nishantms any updates on this?

[2021-02-19 05:34] EzzhevNikita commented on #14391
@AnshumanTripathy Since this issue has been resolved for you, then I close this ticket.

[2021-02-19 05:34] #14391 closed

[2021-02-19 05:52] 20shivangi commented on #14277
There has been no response, so we are closing the issue. Please feel free to reopen in case of any queries.

[2021-02-19 05:52] #14277 closed

[2021-02-19 07:01] 20shivangi commented on #14373
@MikielAgutu Any update here ?

[2021-02-19 07:03] 20shivangi commented on #13170
@andrew-sumner Any update here ?

[2021-02-19 09:47] SimonAlling opened #14422 "ManualValidation task doesn't send email notifications"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: ManualValidation

## Environment
- Server: Azure Pipelines
- Agent: hosted

## Issue Description

I have this job:

[code]

It works insofar as I can choose to reject or resume in the web GUI – but I get no email notification. I've tried with my personal work email as well as a generated email for one of our

[2021-02-19 09:48] MikielAgutu commented on #14373
I was not using Publish Profile - I had already specified Azure Resource Manager in the first instance. Now I think the issue was something to do with the service connection. I had to ask our IT department to sort it out.

So I suppose this is resolved. Although it would be nice to have a clearer error message.

[2021-02-19 09:48] #14373 closed

[2021-02-19 09:54] anatolybolshakov opened #14427 "Update 7zip version - ArchiveFiles and ExtractFiles tasks"
We need to update 7zip version used by ArchiveFiles and ExtractFiles tasks from blob storage on windows os.

[2021-02-19 10:02] ganesp commented on #14280
@RoykoSerhiy You seem to be using report generator tool directly to generate the report.
If you are using Publish Code Coverage Results task then, it internally uses ReportGenerator 4.6.1.0 (https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/PublishCodeCoverageResultsV1/make.json)

Also, this is also evident as you clarified that you are specifying the report type yourself, which

[2021-02-19 10:16] ElvenSpellmaker commented on #14277
Of course the issue still exists, linking to some other documentation doesn't help the fact the original documentation doesn't state anything about credentials leaving people to believe the task should set them up for you...

[2021-02-19 10:17] ElvenSpellmaker commented on #14277
I know how to add credentials manually and did so before I opened the issue, but that doesn't answer the issue that either the task should set the credentials for you or allow you to pass them in to be set by the task.

[2021-02-19 10:50] 20shivangi commented on #14330
The issue has been fixed with [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/14364)
It will take at least 3-4 weeks for the fix to get deploy. Please wait until fix reaches your account. Thanks for your patience.

[2021-02-19 10:50] #14330 closed

[2021-02-19 10:55] 20shivangi commented on #14397
@bilaakpan Any update here ? Are you still facing the issue ?

[2021-02-19 11:11] aricamf commented on #12269
This issue was still reproducible with 2.175.2   It failed very often when running powershell task in the release/build pipeline of azure devops.

[2021-02-19 12:23] anatolybolshakov commented on #14227
@rik-v closing this due to inactivity.
I would suggest also to try to set proxy settings via 'VSTS_HTTP_PROXY_USERNAME' and 'VSTS_HTTP_PROXY_PASSWORD' environment variables, agent logs would be also helpful.
Please feel free to reopen or ask any further questions it or if it's still actual for you.

[2021-02-19 12:23] #14227 closed

[2021-02-19 12:35] bilaakpan commented on #14397
Yes it is working as expected now.

[2021-02-19 14:20] DrJohnT opened #14424 "Visual Studio Test Platform Installer task does not fail"
## Required Information

*Type*: Bug

**Task Name**: VsTestPlatformToolInstaller

## Environment
- Server - Azure Pipelines - https://dev.azure.com/EYCBS/

Pipeline (created to show error):
https://dev.azure.com/EYCBS/Finance.R15Y/_build/results?buildId=6020

- Agent - *Private* Self-hosted
- Self-hosted agent running on Windows Server 2016
- Agent version: 2.181.1

## Issue Description

VsTestPla

[2021-02-19 14:40] james-bjss commented on #13101
Hi, @liushuanggang  - I realise this is closed but wanted to leave this comment here to help others avoid the pain I have been through. I spent all evening trying to solve it thought I would share.

The reason no artifacts are found is due to the ambiguity of of the `Tag` parameter.  This is neither the Tag on the Git Repo, nor the tag that can be applied via the UI on a specific `Run`. As @jplck

[2021-02-19 14:58] erjicles commented on #13971
We are experiencing the same issue. We have a custom .npmrc file that points to our own private feed in Azure Artifacts. The npm install task fails randomly ~20% of the time with this error.

[2021-02-19 15:50] DriverPR commented on #11300
![image](https://user-images.githubusercontent.com/16920961/108527310-84062700-72a8-11eb-97cb-8c6b69a2812f.png)

I think there are not available yet for YAML pipelines

[2021-02-19 22:23] ackermann81 commented on #10376
Hi, i´m currently running in the same problem. We have more than 20 isolated environments with a own keyvault foreach one and we want to use azure powershell or setting and getting key and certificates. Our Pipeline system is very dynamic with dynamic build agents set originating from git based files (as for security reasons). We simply load xml files and they define build agent and azure subscrip

[2021-02-20 10:44] anatolybolshakov commented on #14282
@IanBFarrell @lpgoncalves do you experience any issues with agent network? Is it reproducible for you for agent on other machines/hosted agents?
@zhenghao104 there is an ECONNRESET error during package uri's request - looks like connection is being reset for some reason.

[2021-02-20 10:45] milbrandt commented on #14271
@DaniilShmelev  Your solution works. But then the [documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/batch-script?view=azure-devops#arguments) should be more prcise:

filenamePath | (Required) Path of the cmd or bat script to execute. Should be fully qualified path or relative to the default working directory
-- | --

The filenamePath in my report was relative to

[2021-02-20 10:45] #14271 closed

[2021-02-20 11:35] 20shivangi commented on #14397
Since it is working as expected now..we are closing the issue.

[2021-02-20 11:35] #14397 closed

[2021-02-20 14:36] IanBFarrell commented on #14282
I have two different build agents and it happens on both of them.

[2021-02-20 15:29] anatolybolshakov commented on #14282
@IanBFarrell are they located on different machines/networks?

[2021-02-20 16:41] IanBFarrell commented on #14282
They are for sure on the same network, but are different vms.

[2021-02-21 00:23] #12102 closed

[2021-02-21 06:09] #10937 closed

[2021-02-21 19:23] mathstuf commented on #10360
Hmm. Webhook delivery has always been via a POST verb in my experience (with GitHub and GitLab) with a JSON payload. How are you passing all of the relevant information in a GET request? A boatload of query parameters?

[2021-02-22 00:35] bhavanakonchada opened #14429 "Unable to resolve job name in a custom server task in agentless job"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-22 04:04] agray commented on #13062
Users in our organisation (/colesgroup) are still reporting not being able to see the code coverage information.  What is Microsoft doing to restore service?

[2021-02-22 06:50] chrisjaimon2012 commented on #11785
@shashankbarsin k8s deployments via a manifest are often quite elaborate, they involve namespaces for cert-manager like @mmisztal1980 mentioned, or API gateways or roles in the kube-system namespace
Splitting up the task and the yaml files wrt to namespace to support this use-case of azure devops task, doesn't make sense and renders the task quite unusable
You mentioned that the service connection

[2021-02-22 08:06] Mobrockers commented on #11435
@arunkm @johnterickson  ping

[2021-02-22 09:59] GammaPsh opened #14432 "You may delete this as soon as it fullfilled its purpose to transport my rage."
Your doku page states we can use Nuget.config with, feedsToUse: 'config', nugetConfigPath: 'D:\a\1\s\NuGet.config'
![image](https://user-images.githubusercontent.com/842165/108690145-4a2c5f00-74fa-11eb-9dd7-ab1a6ba027a8.png)

So this is the Yaml fragment:
![image](https://user-images.githubusercontent.com/842165/108690426-a68f7e80-74fa-11eb-8c52-be5869d5632d.png)

And what does the console tell us

[2021-02-22 10:02] oliverchristen commented on #13412
@marianan Today I had the chance to change our release pipeline to use Azure CLI directly instead of IoT Edge task. Until now the problem did not occur again. But it also happened very rarely before. So that does not mean much yet.

But a huge benefit of this change is the increase in performance. Before it took about 90 seconds and now about 30 seconds to deploy the file. I also created an issue

[2021-02-22 10:16] oliverchristen commented on #13412
@marianan I was a little bit too fast with my feedback. The exact same problem occurred again even if I now deploy the configuration with Azure CLI. So that means it has to be a problem on IoT Hub, does it?

[2021-02-22 10:17] cyril-dussert opened #14433 "[PublishCodeCoverageResults@1.182.0] Paths with percent-encoded values are not evaluated well"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-22 10:36] nick3389 commented on #14278
@anatolybolshakov Is there any guide on how to setup keychain in an agent? I use a hosted agent. I add it as a task?

[2021-02-22 11:34] chirangaalwis opened #14436 "[AzureKeyVaultV1] Azure Key Vault Task to retrieve a version of a Key Vault object"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureKeyVaultV1

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure Pipelines

- Agent - Hosted or Private:
Hosted

## Issue Description
Azure Key Vault allows versioning of the stored objects.

Is

[2021-02-22 12:09] Danthar opened #14437 "UseDotNet@2 does not handle useGlobalJson well with netcore 5"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UseDotNet@2

## Environment
- Server - Azure Pipelines
- Agent -Private:

## Issue Description

When you define the UseDotNet@2 task to download the .NET core sdk based on the global.json. It does not work.

[code]

It

[2021-02-22 13:44] hollowdrutt commented on #14304
@navin22 I ran the build on different times of day and on different days with the agent going through Fiddler.
I have not been able to capture when upload of test reports fails, but eventhough the .coverage and .trx files are about the same size, the time it takes to upload varies quite a lot.
The build server is running in a VM in Azure North Europe

[code]

[2021-02-22 14:04] drapadubok commented on #10146
Same issue as above, I'd like to deploy a Job manifest, it doesn't seem to work with KubernetesManifest task, and I'd like to wait for the result before i delete the job.

[2021-02-22 15:02] marianan commented on #13412
@oliverchristen my next guess would be that this may be related to IoT Hub. I am looking to find the right repo/contacts for next steps in this investigations.

[2021-02-22 16:30] Kolky commented on #13033
This happens daily to us! Can this get more attention? Will there be improvements for `dotnet tool restore` using Azure DevOps?

[2021-02-22 16:41] AmrutaKawade commented on #14224
Hey @Anne56njeri

Here is flow of calls for`_getMSIAuthorizationToken` method from `AzureWebAppContainerV1` task.

https://github.com/microsoft/azure-pipelines-tasks/blob/e451e599bb6d375d0215601a105b6c80ac9105b7/Tasks/AzureWebAppContainerV1/azurermwebappdeploymentprovider.ts#L27

https://github.com/microsoft/azure-pipelines-tasks/blob/fe056f1b6dc63c8dd296c45d2d8870702e57ab7f/Tasks/Common/AzureRmDe

[2021-02-22 17:23] johnterickson commented on #11435
This "symbol server on-prem" is marked as closed on the feature request section of developer community. https://developercommunity.visualstudio.com/idea/365919/tfs-symbol-server.html

I'll leave this issue open as an ask to have a clearer error and docs.

[2021-02-22 19:06] gavinbarron opened #14440 "Caching almost never has a hit."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache@2

## Environment
- Server - Azure Pipelines

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

[2021-02-22 20:02] Anne56njeri commented on #14224
Thank you @AmrutaKawade  let me check it out then get back.

[2021-02-22 20:28] Mobrockers commented on #11435
Well if this is not actually supported on azure devops server I would expect that the built-in task for it doesn't actually give you the option to try this. Not just that the error message is non-cryptic.

It would also be great to have some more 'official;  confirmation that this is not supposed to work because for your one developer community ticket that is closed as won't fix I have at least on

[2021-02-22 20:35] gavinbarron commented on #14440
Adding the log for the Cache@2 task on the previous run:
[code]

And the Post Job stage for Cache@2
[code]

[2021-02-22 21:54] andrew-sumner commented on #13170
Haven't had a chance to look at this again, will get to it soon.

[2021-02-22 21:55] actionthomas commented on #13131
Hi @ShreyasRmsft
Sorry to bother you again. We upgraded to Azure Devops Server 2020, and the issue is still present.

[code]

Thanks for your help

[2021-02-22 22:37] damccorm commented on #14429
Hey @bhavanakonchada this repo is for our first party tasks, for custom task issues please open a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html

[2021-02-22 22:37] #14429 closed

[2021-02-23 00:22] #13397 closed

[2021-02-23 00:22] #13373 closed

[2021-02-23 00:22] #13307 closed

[2021-02-23 00:22] #13216 closed

[2021-02-23 01:22] John-Bosch opened #14444 ""%25" appearing in URLs output from logic app ARM templates via listCallbackURL function"
## Required Information

*Type*: Bug

**Enter Task Name**: Azure resource group deployment

## Environment
- Server - Azure Pipelines - [health-ndss/NDSSIntegrationInfrastructure](https://health-ndss.visualstudio.com/NDSSIntegrationInfrastructure)

First Showing: [NDSSIntegration.Full-Build_dev.21014.1/PreProd/Attempt#1](https://health-ndss.visualstudio.com/NDSSIntegrationInfrastructure/_releasePr

[2021-02-23 05:16] yuzsun opened #14446 "can't push 2 docker images in 1 task after Feb 11"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-23 07:49] bishal-pdMSFT commented on #14444
Yes @John-Bosch this is the result of agent behavior change. AFAIK this change is an intended one and "DECODE_PERCENTS" set to "true" should help you get back to working. Please see [here](https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/design/percentEncoding.md)

Please ensure that you are setting job level variable and not a task level environment variable.

[2021-02-23 07:53] bishal-pdMSFT commented on #14437
@Danthar the task only supports explicit (or concrete) version inside global.json file. You can change global.json to use a explicit version like `5.0.3`.

[2021-02-23 08:28] Danthar commented on #14437
Ok.
The task should support the same combinations that other tooling regarding the global.json does. The fact that it does not, is a bug.

[2021-02-23 09:11] shigupt202 commented on #14216
Closing the issue as there was no response to the review comments on the [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/14217). Feel free to reopen if you'd like to address the comments and merge the PR.

[2021-02-23 09:11] #14216 closed

[2021-02-23 10:13] AroglDarthu commented on #5472
We also use this task after stopping a windows service. The service gets killed in case a normal stop fails. Even then, we experience this issue. The workaround that worked for us was to insert an **Inline Powershell** task that simply does a delay:
[code]

[2021-02-23 10:22] zooda56 commented on #13446
dpkg -l |grep openssl
ii  openssl                                     1.1.0l-1~deb9u2

[2021-02-23 10:32] BalintKorcsmar629 commented on #13569
@Cadacious i can see the pull request on the above link is still open. Is there an estimated time of availability for this?

For me this also happens intermittently when more than 1 job is running parallel, because the settings.xml is in a shared linux folder.

I am getting the same error:
##[error]Failed cp: cp: dest file already exists: $HOME/.m2/_settings.xml

On some occasions the settings.xml

[2021-02-23 11:20] zeeshanmcp12 commented on #10464
Hi Team,
Is there any update on this issue?

I've a scenario where it's important. In `ARM template deployment` task, we do not mention the template path manually by selecting 3dots button, instead reference this in pipeline variable and put the value. for example:

$(System.DefaultWorkingDirectory)/<CI>/<published artifact (i.e drop)>/$(TemplateFolderRoot)/$(TemplateFile)

and in pipeline variabl

[2021-02-23 12:10] rcomanne commented on #13569
Please approve the PR of @Cadacious as the race condition is still happening from time to time, meaning we cannot run multiple agents on one host without issues.

[2021-02-23 12:21] AmrutaKawade commented on #13158
This is known issue

https://developercommunity.visualstudio.com/content/problem/1109500/azure-file-copy-task-drops-file-name-when-using-pr.html

and adding trailing slash will break most of the customers check this issue. https://github.com/microsoft/azure-pipelines-tasks/issues/13935

Till AzureFileCopy V3 you should use like below

[code]

For AzureFileCopyV4 use like this.

[code]
I hope it he

[2021-02-23 12:43] lion92pl opened #14449 "ManualValidation comments as output variable"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-23 12:47] zeeshanmcp12 opened #14450 "Azure Resource Group Deployment - Override template parameters not working when using pipeline variables"
Re-creating the issue with details.

Azure Resource Group Deployment - Override template parameters button NOT working when using pipeline variables

Error: Failed to download the template file from the given path '$(System.DefaultWorkingDirectory)/$(Release.Artifact_IaC)/$(Release.Path_IacShrd)/template002-ApiContent.json' with the following error: There is no such artifact '$(Release.Artifact_Ia

[2021-02-23 12:53] vineetmimrot commented on #14318
Hey @ElvenSpellmaker,

You don't need to mention nuget feed in the task as this field is used only by the restore command.
You can directly use dotnet task with below configuration:

[code]

[2021-02-23 12:53] #14318 closed

[2021-02-23 12:55] ElvenSpellmaker commented on #14318
The above fails as it loads the `NuGet.config` file in the project as mentioned in my issue, it tries to enumerate the sources and fails to do so as only `restore` has access... This shouldn't be closed, it's still an issue.

[2021-02-23 12:57] raspe88 opened #14451 "Python version used by py.exe does not match version configured by task UsePythonVersion"
*Type*: Bug or Feature, depending on your point of view

**Enter Task Name**: UsePythonVersion

## Environment
- Azure DevOps Pipelines
- Agent - Hosted: vs2017-win2016, windows-2019

## Issue Description

I'm writing this report on recommendation of the Microsoft Support (https://developercommunity2.visualstudio.com/t/pyexe-in-windows-agents-pointing-to-wrong-version/1323399)

Within the pipeline

[2021-02-23 13:09] vineetmimrot commented on #14318
@ElvenSpellmaker Can you pass the NuGet config as an argument to the task as mentioned in this doc
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-tool-install#options

It is the dotnet tool that is automatically picking your Nuget file, so the task can't do anything here.

[2021-02-23 13:11] vineetmimrot commented on #14318
The dotnet custom command is not supposed to use any nuget configuration. Please reach out to dotnet team, if above solution doesn't fix the issue.

[2021-02-23 13:12] ElvenSpellmaker commented on #14318
@vineetmimrot The `custom` command needs to use the nuget config, because the tool you install _could_ be in a private feed.

[2021-02-23 13:18] BalintKorcsmar629 commented on #13569
The issue is closed but it is not merged back to master, the pull request related to this issue is still open. So closing this issue means the Azure Pipelines team is aware of the issue but do not wish to fix it?

[2021-02-23 13:32] AmrutaKawade commented on #14409
Can you print object values for this object ?
`$blob.ICloudBlob.Properties`

[2021-02-23 13:46] BartNetJS opened #14452 "ERROR:device_event_log_impl.cc(211)] [13:31:52.640] Bluetooth: bluetooth_adapter_winrt.cc:1072 Getting Default Adapter failed"
## Required Information

**Bug**

**Task Name**: AzureCLI@2

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
      account : atlascopco-its
      team project: Hybrid Integration Platform
      build id=3267

- Agent - Hosted
    - If using Hosted agent, provide agent queue name: "Azure Pipe

[2021-02-23 13:58] vineetmimrot commented on #14405
@megafinz Since a possible workaround is available to install AspNetCore runtime as part of SDK, we will not be planning to take this up in near future. Hence closing the issue.

[2021-02-23 13:58] #14405 closed

[2021-02-23 14:46] rcomanne commented on #13569
I guess the comment of omokoh made them think the issue was resolved?
However, we are still getting these errors, so they are not...

[2021-02-23 15:17] pkgw commented on #14409
With this powershell code:

https://github.com/WorldWideTelescope/wwt-web-client/blob/b8c35e2ad3be7c53b65448f55835176ef5128926/ci/azure-deployment.yml#L71-L78

I get blank output for the properties:

[code]

[2021-02-23 15:25] BalintKorcsmar629 commented on #13569
@anatolybolshakov please reopen this issue because it is not resolved. Please merge the pull request above so we can use Maven Authenticate task.

[2021-02-23 16:59] j2020v commented on #13885
Also having the same issue. I am deploying a consumption based linux function app and it fails to perform a swap slot because it is expecting these in the appsettings

##[error]Error: Failed to swap App Service 'func-app' slots - 'func-app-slot1' and 'production'. Error: BadRequest - Storage access failed. WEBSITE_CONTENTAZUREFILECONNECTIONSTRING or WEBSITE_CONTENTSHARE appsetting is missing (CODE

[2021-02-23 17:04] j2020v commented on #13885
cc @mhoeger

[2021-02-23 17:23] m1nkeh commented on #13885
What language? C# i assume? I will test..

[2021-02-23 18:19] lazarillo commented on #13092
Hi @egor-bryzgalov,

Sorry it took me a while to respond:

- The *azure pipeline* works fine.  So you can close this issue.

- But to answer your follow up question: no, my password is not passed correctly, but this is a Powershell problem, not an Azure pipelines problem.  I will explain it since you asked:
  - I call `pytest` from within the Azure Pipeline Powershell command (specifically `AzureC

[2021-02-23 18:33] iwsummers14 commented on #12269
@aricamf I experienced it up until 2.181.0. Since updating to 2.181.0, I have not had any recurrence of this error.

[2021-02-23 22:15] John-Bosch commented on #14444
Thanks for the response @bishal-pdMSFT.

As I said in the piece you quoted, I have tried this with DECODE_PRECENTS both true and false. The DECODE_PERCENTS variable is defined as a pipeline variable so it should be available to the job. In fact, if you look in the attached logs, which are the "true" case, you can see that it is set in the 1_Initialize job.log, line 56. You can also see that in 5_n

[2021-02-23 22:16] irontoby commented on #4712
I had to omit the single quotes in order to use variable substitution, e.g:

[code]

[2021-02-24 00:30] hangy commented on #11435
Agreed. But Azure DevOps Server 2020 also let's you add some pipeline artifacts related tasks, that only work in Azure DevOps Service, and when you create a new YAML pipeline from the templates, most of them use something like `pool: ubuntu-latest`, ie. they'd only work in the cloud version. There seems to be more than one thing that Azu DevOps Server 2020 should allow us to try, because it should

[2021-02-24 05:38] nishantms commented on #13062
Hi @agray , as asked by @DaniilShmelev , can you share more details e.g Pipeline, logs, agent. This help us to debug the issue thoroughly.

[2021-02-24 05:52] vineetmimrot commented on #14318
Can you please try the workaround as passing nuget configuration as argument of custom command.

[2021-02-24 07:43] egor-bryzgalov commented on #13092
@lazarillo
Thank you for the explanation. I understand your situation.
So I'm closing this issue. Please feel free to create a new one if you face any problems.

[2021-02-24 07:43] #13092 closed

[2021-02-24 09:13] EzzhevNikita commented on #14219
@jackdeansmith The fix for has been deployed. Could you please check if it works for you now?

[2021-02-24 09:14] zlweicoder commented on #10375
any further feedback about this issue? we also met this issue.

[2021-02-24 09:22] #13158 closed

[2021-02-24 09:37] AmrutaKawade commented on #14215
@krispenner we are currently working on upgrading az version on agent and by March end it will be available. till then you can follow above approach using private agent

[2021-02-24 09:37] #14215 closed

[2021-02-24 10:21] AmrutaKawade commented on #14396
@frbar any update on this?

[2021-02-24 11:08] frbar commented on #14396
Hi - sorry for not responding. Yes the error makes me think of the server not being found... I've workaround this for now, will try once I'm sure of all parameters (but it was working from local + firewall disabled).

[2021-02-24 11:30] AmrutaKawade commented on #14418
@ShreyasM6 `User must be in the master database` this error is not thrown by task. but from sql script. and as you said its happening locally as well. this issue is not related to task.

you can try solution like here https://social.msdn.microsoft.com/Forums/azure/en-US/02f4b32f-5b87-4163-a592-9a19ba2169b1/how-do-i-create-a-second-login-for-sql-azure?forum=ssdsgetstarted

[2021-02-24 11:37] leepowelldev commented on #13971
Same issue on npm v6.

Completely different issues using npm v7 where we are getting 401 errors using Azure Artifacts as our registry and the automatically generated access tokens only work on *.visualstudio.com and not on dev.azure.com

[2021-02-24 11:44] AmrutaKawade commented on #13457
since `auto-swap` is the feature provided by function apps. whenever you deploy to slot which has auto-swap enabled it will automatically swap app to destination slot.

since as task we just have info about target app where app needs to be deployed and not about slot where app will be swapped, its difficult for us to monitor that slot to check whether swap succeeded or not.

There are no APIs as w

[2021-02-24 11:44] #13457 closed

[2021-02-24 11:48] leepowelldev opened #14456 "NPM Task 401 Auth Failures - Dual URL's"
We have a older instance of ADO where we are still running 2 urls - `PROJECT_NAME.visualstudio.com` and `dev.azure.com`

Depending on which of these urls you use you're given different endpoints to access the same Azure Artifacts registry.

PROJECT_NAME.visualstudio.com give you:
https://PROJECT_NAME.pkgs.visualstudio.com/_packaging/REGISTRY_NAME/npm/registry/

and

dev.azure.com gives you:
https:

[2021-02-24 11:58] AmrutaKawade commented on #14224
@Anne56njeri let us know if you need more info or can we close this issue?

[2021-02-24 13:31] bramvdklinkenberg commented on #14301
Have not been able to fix it.. The team using the pipeline has removed the validation step to proceed.

[2021-02-24 13:31] #14301 closed

[2021-02-24 13:35] verbedr opened #14457 "Using a service connection with a management group throws an error"
**Question, Bug, or Feature?**: Bug
**Enter Task Name**: AzureRmWebAppDeployment@4

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
- Agent - Hosted or Private: Hosted

## Issue Description
When using a service connection with a managment group instead of a subscription id it throws following error  'subscriptionId' cannot be null.'.

### Task logs
Got service connect

[2021-02-24 13:40] jwyglendowski-precisionlender opened #14458 "Can not access variable group variables from a non inline powershell script"
Since it isn't possible to using dynamic variable group variables like the following:

[code]
I have to resort to autogenerating a PowerShell script via a code generation. The resulting script that I generate works fine as an inline script but not as a FilePath script. What I was hoping was that I could run my code generation in one task and then run generated script in the next task.

The problem

[2021-02-24 13:58] anatolybolshakov commented on #14278
@nick3389 I haven't found specific instructions to set up keychain - I guess you can ask for more examples how to set it up on Mac using MacOS Keychain CLI here - https://developer.apple.com/support
Please also note that you can use only temporary keychain on hosted agents (according to issue and comment [here](https://github.com/microsoft/azure-pipelines-tasks/issues/5701#issuecomment-382129415))

[2021-02-24 13:58] japj opened #14459 "DeleteFiles fails to delete a long pathname during Build Deletion"
**Question, Bug, or Feature?**
*Type*:  Bug

**Enter Task Name**: DeleteFiles

## Environment
- AzureDevOps Server Dev18.M170.6
- Private Agent:
  - Window Server 2016
  - Agent 2.175.2
  - DeleteFiles 1.166.2

## Issue Description

The Artifacts of a Build were not correctly deleted by DeleteFiles.
It seems there is a file that was published to a fileshare that has total unc path length of 263 ch

[2021-02-24 17:40] Cadacious commented on #13569
@BalintKorcsmar629 i jumped the gun on submitting the PR and did not have permission from my employer to sign the document as this was discovered and developed in the course of my work. Someone else may need to submit the PR while I work through the red-tape.

However, upon further review of this after submitting the PR I was unsure if changing this file location would actually change the behavior

[2021-02-24 18:01] guinatal commented on #13232
Same problem here. .NET 5 web api running on premise.
It looks like this is not something new by researching it.... still didn't find a solution though.

[2021-02-24 19:23] osolo commented on #12336
This is still a problem.

[2021-02-24 22:48] kirk-marple opened #14460 "Possible to do parallel pushes to Nuget feed with NuGetCommand task?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: NuGetCommand

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure Pipelines

## Issue Description

W

[2021-02-25 00:45] gaspo100 opened #14461 "AzureFileCopy v4 fails on extracting AzCopy"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-25 00:53] gaspo100 opened #14462 "AzureFileCopy v4 Multiple entries in PATH environment variable"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-25 06:51] DaniilShmelev commented on #14370
Hi @little-eyes! Could you please confirm if this issue is still present for you?

[2021-02-25 08:00] japj commented on #14459
it seems tl.rmRF (https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DeleteFilesV1/deletefiles.ts#L101) is from the https://github.com/microsoft/azure-pipelines-task-lib

rmRF seems to use `rd /s /q` on the windows platform (https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/task.ts#L1171)

When I manually (on the buildserver) run the `rd /s /q` on the problem

[2021-02-25 08:38] #13091 closed

[2021-02-25 09:15] IvanAlekseev commented on #13091
@nishantms can you provide some comments for closing it? Have you implemented merging in v1 or published v2?

[2021-02-25 10:41] milanjaros commented on #13466
Sad, I've found two related tickets:
- [CLI YAML Task Cannot Use a Variable from a matrix strategy](https://developercommunity.visualstudio.com/t/Azure-CLI-YAML-Task-Cannot-Use-a-Variabl/771928) - closed because they "didn’t get response for several days"
- [YAML Builds displayname not resolving variables with matrix strategy](https://developercommunity.visualstudio.com/t/YAML-Builds-displayname-n

[2021-02-25 11:41] nishantms commented on #13091
@IvanAlekseev This is by design of task. Quoting the comment of @drdamour , this is already marked for enhancement. Following are the other tickets already kept opened:
https://github.com/microsoft/azure-pipelines-tasks/issues/10353
https://github.com/microsoft/azure-pipelines-tasks/issues/13448

[2021-02-25 13:00] IvanAlekseev commented on #13091
@nishantms cool, thanks. Are there any updates for v2?

[2021-02-25 13:11] anatolybolshakov commented on #14458
Hi @jwyglendowski-precisionlender from FilePath script you can access variables as $env:VAR_NAME, where VAR_NAME is upper-cased variable name. Could you please check if it works for you?

[2021-02-25 13:23] casfahrenfort commented on #14365
I am experiencing exactly the same problem. Adding a

`- script: echo ${{parameters.SubscriptionName}}`

step, correctly prints the name of the subscription in the logs.

[2021-02-25 13:24] bart-rosseel opened #14469 "AzureKeyVaultV1 Fetching secrets does not consider activation date"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureKeyVaultV1

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureKeyVault

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure Pipelines

- Agent - Hosted or Private:
Private

## Issue Description

I am using AzureKeyVault task to fetch secrets selected by name from

[2021-02-25 13:28] jwyglendowski-precisionlender commented on #14458
@anatolybolshakov Since these are getting pulled from KeyVault in variable groups and the key names have dashes in them how would I access them using $env:VAR_NAME syntax? For example, The variable group variable name is `VAR-NAME` currently I do that like `"$(VAR-NAME)"` which only works inline. `$env:VAR-NAME` is not valid in PowerShell far as I know. Thanks.

[2021-02-25 13:36] jwyglendowski-precisionlender commented on #14458
FYI. I just created a quick pipeline and branch for testing purposes. Changing the dash to underscore as now affect.

[2021-02-25 13:55] jwyglendowski-precisionlender commented on #14458
It seems I am not alone in my issue. https://github.com/microsoft/azure-pipelines-tasks/issues/10525

[2021-02-25 13:59] jwyglendowski-precisionlender commented on #14458
The suggestion in https://github.com/microsoft/azure-pipelines-tasks/issues/10525 is far from ideal beyond a few variables plus it requires manual work where if there was an underlying api that could be called from the script built in then all I have to maintain is a template of the configurations keynames with my repo.

[2021-02-25 14:20] jwyglendowski-precisionlender commented on #14458
So from my perspective I am suppose to use Variable Groups instead of calling Key Vault directly because it's more secure. That's the constraint I have which I am fine with. It would seem that the limitation is PowerShell and Azures inability to sandbox and sanitize things that are not inline. Which leads me to have to manually run an aerogeneration script and copy and paste that into devops as in

[2021-02-25 14:43] memark commented on #11864
What is the status on this issue from 2019, @johnterickson? Is there a plan to fix it? Can you escalate this issue to some other department that will solve it? If not, please let us know and we will abandon the illusion of caching.

[2021-02-25 15:04] anatolybolshakov commented on #13569
@Cadacious could it make sense to add some switch input to allow turn on/off this behavior instead? The main concern here from our side is just to avoid unexpected behavior changes for existing logic, since some users can rely on this.

[2021-02-25 15:58] danielfen opened #14470 "AzureRmWebAppDeploymentV4 does not copy all changed node_module files"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-25 16:07] phongcao opened #14471 "File patterns doesn't work when downloading all pipeline artifacts"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadPipelineArtifactV2

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DownloadPipelineArtifactV2

## Environment
- Server - Azure Pipelines or TFS on-premises?
  Azure Pipelines

- Agent - Hosted or Private:
  Microsoft-hosted agents

## Issue Description

When using `DownloadPipe

[2021-02-25 16:29] GregoryOtt opened #14472 "Allow double-hop for PowerShell on target machines task"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: PowerShell on target machines v3

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version: Version Dev18.M170.6 (18.170.30525.1)

- Agent - Hosted or Private:

    - Private agent:
      - OS : Windows 2016 Std - 10.0.14393 N/A Build 14393
      -

[2021-02-25 18:10] TroyMeOut commented on #5472
I'm still running into this issue. It appears that IIS has some of the files locked. If I log onto the server and manually try to delete the files it fails. If i restart the app pool i am able to delete them.

Now I'm running into issues getting elevated permissions for the account running powershell scripts to be able to restart the app pool using

`Import-Module WebAdministration
Restart-WebAppP

[2021-02-25 18:17] maxim-nyc3 commented on #14156
@ashwinsangem ,
 Hi did you get a chance to look and modify this?

[2021-02-25 19:01] japj commented on #13309
@damccorm do you happen to know who owns the MSBuild task? This issue is still relevant since VstsTaskSdk has not been updated yet in the MSBuild task

[2021-02-25 19:03] damccorm commented on #13309
I added the appropriate team's label, its now on their backlog to address as appropriate

[2021-02-25 19:58] LanceSandino commented on #14322
bump

[2021-02-25 22:16] TimShererWithAquent opened #14475 "The `noCache` option is incorrect."
The `noCache` option adds the `--no-cache` flag to the `dotnet restore` command. [That documentation](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore) states

and this is the behaviour one can see in detailed logs.

Original issue: MicrosoftDocs/azure-devops-docs/issues/9772

[2021-02-26 06:44] AmrutaKawade commented on #14396
Using same service principal?
can you check response of this localy

##[debug][GET]https://management.azure.com/subscriptions/xxx/providers/Microsoft.DBforMySQL/servers?api-version=2017-12-01

[2021-02-26 06:45] AmrutaKawade commented on #14409
you need to echo value of this $blob.ICloudBlob.Properties

`echo $blob.ICloudBlob.Properties`

[2021-02-26 06:52] AmrutaKawade commented on #14418
Closing this issue since its not related to task but script

[2021-02-26 06:52] #14418 closed

[2021-02-26 07:51] AmrutaKawade commented on #14409
Az 5.5.0 is available on windows agent now.
I have verified your scenario

[code]

Here is the output

[code]

Please confirm if its resolved for you as well

[2021-02-26 08:23] AmrutaKawade commented on #14457
Management group level service connections are not supported currently for this task.

@N-Usha Can you check this enhancement request?

[2021-02-26 09:09] #10565 closed

[2021-02-26 10:06] GrillPhil commented on #14375
Same here...

[2021-02-26 10:18] wiruzman commented on #10565
/reopen

[2021-02-26 10:43] AmrutaKawade commented on #14470
@danielfen there is no such logic in task which determines whether to update file or not

while doing minor change in dependency are you updating its minor version?
Can you try these steps locally? not deploy part just build with npm install and check whether locally if node_modules are updated

[2021-02-26 10:54] verbedr commented on #14457
Hi @AmrutaKawade,
I think documenting the limitation would be a great first step. Add some more information in [Prerequisites](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-deployment?view=azure-devops#prerequisites-for-the-task). It could be added under the required subscription id. That this requirement implicitly means that service connections should be s

[2021-02-26 11:32] ninallam commented on #14457
@verbedr Thanks for the feedback. We will update the documentation. Regarding the enhancement we have taken a note and are looking for more requests on this. I would recommend posting this feature ask in our[ developer community feedback](https://developercommunity.visualstudio.com/report?space=21&entry=suggestion) so that others also can vote for it and we can prioritize it better.

[2021-02-26 13:39] danielfen commented on #14470
Hi @AmrutaKawade,

Yes the minor version in our package.json is definitely updated. As noted in the issue description, we also checked our local build & also the build artifact uploaded by our build pipeline (the artifact which is then deployed through our release pipeline by the 'Azure App Service deploy task'), and confirmed that the expected changes are present in both of those.

We modified th

[2021-02-26 15:06] pkgw commented on #14409
Hi — I still see the same problem. I changed my PowerShell script to add the `echo` statement but still get the same output when running on the Azure hosted agent:

[code]

[2021-02-26 15:23] hamillwj commented on #14282
Is there any update on this? Ian has moved on and I'm taking over this project. We're in desperate need of a more dependable CI pipeline.

[2021-02-26 16:51] blesuer opened #14484 "Creating my first custom pipeline task and want to call a program from cmd. Have tried using exec but that doesn't seem right. I get an error that cmd.exe can not be found. What is the proper way to call a command line from within a custom task. Thanks"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-26 18:16] schmidtd-enb opened #14485 "OData filter does not work for "az rest" call in AzureCLI@2"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-26 18:44] Cadacious commented on #13569
@anatolybolshakov I can definitely add that in to the PR. I am going through the approval process within my company to get permission to move forward.

I would have to see how other tasks implemented this kind of configuration option, but I would think a checkbox that is defaulted to unchecked that says "Use agent temp directory for settings.xml" or something along those lines would suffice here.

[2021-02-26 19:01] Cadacious commented on #13569
@anatolybolshakov I can definitely add an input field to toggle this behavior. Would adding a group to contain this setting be needed or can it be visible by default (but not selected by default) with the currently available settings?

I would also use a MarkdownHelp value of "Utilizes $(Agent.TempDirectory) to avoid race condition when running multiple Maven Authenticate tasks on agents running a

[2021-02-26 22:12] jeszulc commented on #14305
Any updates here? I believe I'm in a similar situation where logs are not showing up

[2021-02-27 03:09] #12520 closed

[2021-02-27 21:07] #12538 closed

[2021-03-01 05:39] DaniilShmelev commented on #14370
Closing this due to inactivity

[2021-03-01 05:39] #14370 closed

[2021-03-01 05:43] RobdeT opened #14486 "Unable to deploy to Service Fabric if the Service Connection uses Common Name for the Server Certificate Lookup"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: ServiceFabricDeploy, ServiceFabricComposeDeploy

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/ServiceFabricDeployV1
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/ServiceFabricComposeDeployV0

## Environment
- Server - Azure Pipelines or

[2021-03-01 05:58] nishantms commented on #14192
@DhirajKhot For now closing this issue, please feel free to reopen the issue, if problem persist.

[2021-03-01 05:58] #14192 closed

[2021-03-01 06:00] anshii03 commented on #14194
@DhirajKhot  Are you still facing this issue ? If yes , please share pipeline and build logs . Else , we will close this from our end.

[2021-03-01 09:12] Anne56njeri commented on #14224
@AmrutaKawade It makes sense, I think we can close the issue. Thank you for your response.

[2021-03-01 09:12] #14224 closed

[2021-03-01 10:13] mihairatoiu opened #14487 "Universal package not failing on package already exists"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-03-01 10:19] tknerr commented on #6364
Oh damn, also ran into this today :-/

Our use case is build parallelization: so we are currently splitting our build and running it as several pipeline jobs in parallel, publishing the output directories as pipeline artifacts. If all parallel jobs complete, we are collecting the output directories from each job (i.e. download pipeline artifacts) and merging them back into one directory. This is w

[2021-03-01 10:38] yahorsi commented on #14305
@jeszulc I made it working, the key point is that TaskStartedEvent is not enough.
You need to change the state of the timeline record.
Like that

[code]

[2021-03-01 11:41] jmalak commented on #6364
No interest from MS guys, read date of starting this issue.

[2021-03-01 13:52] jusbuc2k commented on #13885
@m1nkeh Yes, c#, aspnet core 3.1 function app.

[2021-03-01 14:57] egor-bryzgalov commented on #14484
Hi @blesuer

If I understood your question right, you should use features provided by the `azure-pipelines-task-lib` npm package. [Here's an example](https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/docs/samples/toolrunner.src) of a tool run using ToolRunner class. Please take a look at [this page](https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/docs/az

[2021-03-01 15:07] jeszulc commented on #14305
This also worked for me - thanks much for the update!

[2021-03-01 15:25] yene opened #14490 "checkout with fetchDepth: 1 gets all tags"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: checkout

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Azure Pipelines

## Issue Description

When using
[code]
it does a `git fetch --tags ...`

[2021-03-01 15:47] ChristianUlbrich commented on #6364
**FWIW** _cross-platform_ artifact upload is possible with the the hosted build agents, because they all have `tar` on board. Thus we _"simply"_ _tar_ all artifacts with `tar cvpzf ../browser-cache.tgz .`. This will not only retain permissions, but works with _symbolic_ links as well (which are not supported with `PublishPipelineArtifact@1` either).

For restoring, we use:
[code]

There are variou

[2021-03-01 16:12] anatolybolshakov commented on #11470
@jankytay at the moment you can't use variables as a value of service connection. This limitation is not related to the task itself - if you want to use variables anyway here, could you please create ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2021-03-01 16:55] jackdeansmith commented on #14219
@EzzhevNikita I just tried again and everything is working as expected. Thanks for getting to the bottom of this!

[2021-03-01 16:55] #14219 closed

[2021-03-01 17:33] satyam88 opened #14491 "'MavenAuthenticate' at version '0' which does not exist."
Issue :  'MavenAuthenticate' at version '0' which does not exist.

Description i am trying to use MavenAuthenticate task in my pipeline to download azure artifacts from VS , however i am getiing below error
Step references task 'MavenAuthenticate' at version '0' which does not exist.

YAML
------
- task: MavenAuthenticate@0
  displayName: 'Maven Authenticate'
  inputs:
    artifactsFeeds:

Environ

[2021-03-01 18:11] yene opened #14492 "build API has all informations for downloading an artifact"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: DownloadBuildArtifacts

## Environment
Azure Pipelines

## Issue Description
If the **buildId** are unique per organisation, why does it require additional parameters like defintionId.
Could the DownloadBuildArtifacts only require the buildId?

[Builds - Get](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/ge

[2021-03-01 18:25] EvilCreamsicle commented on #12263
@fortunacio
I would like this custom task, if it is still available. Please and thank you.

[2021-03-01 18:56] fortunacio commented on #12263
@EvilCreamsicle Yes, for sure, can you give me the name of your organization?

[2021-03-01 19:48] EvilCreamsicle commented on #12263
my organization is 'powerley-development',
Thanks

[2021-03-01 20:35] tomkuijsten opened #14495 "FunctionApp deploy step succeeds, azure thinks otherwise"
## Required Information
Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFunctionApp

## Environment
Azure Pipelines, account name: Longskip, team project name: Longship, build: Longship.Connect.Monitoring 0.1.0+29

Hosted agent, agent queue name: 'Hosted', image: windows-latest

## Iss

[2021-03-01 21:48] damccorm commented on #14490
Hey @yene - the checkout task is actually driven from our agent repo (a little surprising I know) - would you mind filing an issue at https://github.com/microsoft/azure-pipelines-agent? That way it gets the right eyes on it.

[2021-03-01 21:48] #14490 closed

[2021-03-01 22:06] darklove0504 opened #14496 "Release Annotation has wrong category"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:

AzureRmWebAppDeployment
AzureFunctionApp
AzureFunctionAppContainer
AzureWebAppContainer
AzureWebApp

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipelines

## Issue Description
All above de

[2021-03-01 22:17] msidave opened #14497 "Expression in Docker Task repository field not evaluated"
https://github.com/microsoft/azure-pipelines-tasks/blob/4f1cfb92d79b4b10eadc2417b328c7cd977c06fd/Tasks/DockerV2/dockerbuild.ts#L26

Given a pipeline
with `System.TeamProject` = `MyProject`
and `Build.Repository.Name` = `MyRepo`
[code]

The docker task will fail with something like

[code]

It appears that expressions in the repository field are not evaluated.

[2021-03-01 22:37] msidave commented on #14497
The evaluation issue might be earlier
[code]

[2021-03-02 07:55] vineetmimrot commented on #14485
@schmidtd-enb Can you try with url encoding of `appId eq ${{ parameters.appId }}` by replacing it with `appId%20eq%20%24%7B%7B%20parameters.appId%20%7D%7D`

[2021-03-02 08:53] anatolybolshakov commented on #13569
@Cadacious I think it could make sense to put it to advanced group also - since useAgentTempDir input is already in this group.

[2021-03-02 12:07] AmrutaKawade commented on #14409
can you set `system.debug = true` in variables and run pipeline?

also can you check content type of file on azure portal inside storage container?

![image](https://user-images.githubusercontent.com/65217380/109646116-c586b400-7b7d-11eb-8a83-547e390595e4.png)

[2021-03-02 12:07] AmrutaKawade commented on #14396
@frbar any update on this?

[2021-03-02 12:52] Eastrall commented on #14171
Any updates about this issue? We are trying to setup ou CI/CD process using Azure DevOps for our Xamarin.Forms application (Android & iOS), but we run into the same error when trying to build both Android and iOS, since we are using C# 9 in all projects of our solution.

We have also tried another option, which was to call directly `dotnet build` using a script task to build the Android applicatio

[2021-03-02 14:05] AmrutaKawade commented on #14495
hey there is bug from our side if you see logs from `scm.azurewebsites.net/api/zipdeploy?` in `POLL URL RESULT` you could see that deployment has been failed. still we are showing success. we will fix this.

till then can you try zip deploy option instead of run from zip deploy

![image](https://user-images.githubusercontent.com/65217380/109660059-6b421f00-7b8e-11eb-95ae-d22295a24117.png)

[2021-03-02 14:18] anatolybolshakov commented on #14458
@jwyglendowski-precisionlender this sounds like a more wide feature which requires changes in the process of how variables are handled in yaml, this repo is mostly for pipeline tasks - could you please create a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2021-03-02 14:19] pkgw commented on #14409
Here's the log output from a debugging run: [link](https://dev.azure.com/aasworldwidetelescope/WWT/_build/results?buildId=1615&view=logs&j=dd5e8a6e-f0e5-562f-5c8f-6123c6bdff29&t=d53cb79f-08ca-5163-059f-79dc5063587d). I'll copy/paste the contents below for posterity.

The content-type of the file is currently `text/html` because I changed in manually, but when I first created the file it was `appli

[2021-03-02 15:18] AmrutaKawade commented on #14409
I followed exact similar steps as yours but its not reproing for me.
can you add `echo $ctxt` step as well after
`$ctxt = New-AzStorageContext -UseConnectedAccount -StorageAccountName "wwtwebstatic`

I think service connection which is being used in task doesn't have access to storage container or expired.

[2021-03-02 15:35] bishal-pdMSFT commented on #13376
We are not planning to make this enhancement. A workaround exists to use a well tested complete version in global.json.

[2021-03-02 15:35] #13376 closed

[2021-03-02 15:36] bishal-pdMSFT commented on #13428
Closing stale issue. Please re-open if you are still facing this issue.

[2021-03-02 15:36] #13428 closed

[2021-03-02 15:38] bishal-pdMSFT commented on #13033
@vineetmimrot please take a look

[2021-03-02 15:45] bishal-pdMSFT commented on #13327
Closing stale issue. Please re-open if you still feel that this is an issue.

[2021-03-02 15:45] #13327 closed

[2021-03-02 15:54] jwyglendowski-precisionlender commented on #14458
@anatolybolshakov Thanks for getting back to me. I just opened up a ticket at the recommended link. As soon as I get the verified ticket I will link to it here.

[2021-03-02 16:01] jwyglendowski-precisionlender commented on #14458
Okay here is the [link ](https://developercommunity2.visualstudio.com/t/can-not-access-variable-group-variables-from-a-non/1353542)in case anyone else runs into this issue.

[2021-03-02 16:34] henry-padilla opened #14511 "overrideParameters in AzureResourceManagerTemplateDeployment is not multiline"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureResourceManagerTemplateDeployment

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines
    account Name: wkaxcess
    Project

[2021-03-02 16:35] bishal-pdMSFT commented on #13619
Closing stale

[2021-03-02 16:44] schmidtd-enb commented on #14485
`${{ parameters.appId }}` is substituted before the pipeline is executed, so there is no point in escaping it.

I replaced it with `appId%20eq%20%${{ parameters.appId }}` to allow the substitution. Here is the debug log from the result:

2021-03-02T16:21:52.6058469Z DEBUG: cli.knack.cli: Command arguments: ['rest', '--method', 'GET', '--url', 'https://graph.microsoft.com/v1.0/applications', '--uri

[2021-03-02 16:56] bishal-pdMSFT commented on #13781
We are not planning to fix this as 1) it is not a common scenario to use multi line text and 2) a reasonable [workaround](https://github.com/microsoft/azure-pipelines-tasks/issues/13781#issuecomment-720978175) exists.

[2021-03-02 16:56] #13781 closed

[2021-03-02 16:59] bishal-pdMSFT commented on #13789
Closing stale issue as we are not planning to make this enhancement. Please reopen if you think it is an important blocker.

[2021-03-02 16:59] #13789 closed

[2021-03-02 19:34] phatcher opened #14513 "Techniques for cross-platform task with executable"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: N/A

## Environment
- Agent - Hosted or Private:  Both
    - If using private agent, provide the OS of the machine running the agent and the agent version: Either

## Issue Description

I'm looking to write a cust

[2021-03-02 20:07] uioporqwerty commented on #11444
Any updates on this? I am also experiencing this issue with a new Azure Function App. Using the task with `runFromPackage` I see the package under `d:\home\data\SitePackages`. When I download this package, the contents are as I expect:
host.json
bin
FunctionFolder\functions.json
The configuration has set WEBSITE_RUN_FROM_PACKAGE=1 and WEBSITE_RUN_FROM_ZIP is not there. I don't see any functions un

[2021-03-02 20:12] tomkuijsten commented on #14495
@AmrutaKawade thanks for your answer. I think you mean "zip deploy instead of **Run From Package**" (all those name changes doesn't make it easier 😄 ).

What will you fix? The problem that the kudu error didn't show up in the deploy logs? That would be a step forward of course, but I still don't know WHY the deploy failed. The only error I found was the "Thread was being aborted", but no idea why

[2021-03-02 21:20] pkgw commented on #14409
[Logs here](https://dev.azure.com/aasworldwidetelescope/WWT/_build/results?buildId=1625&view=logs&j=dd5e8a6e-f0e5-562f-5c8f-6123c6bdff29&t=d53cb79f-08ca-5163-059f-79dc5063587d).

Not obvious to me if there's an auth problem from the logging info, but I'll try to explore the possibility.

[2021-03-02 22:33] pkgw commented on #14409
I tried adding a specific new Blob RBAC role for the service principal and that seems to have fixed the problem! Thank you for your help in figuring out what was going on.

I would say that there's a "bug" here in the sense that the cause of the failure was quite hard to pin down, but I doubt that `azure-pipelines-tasks` is the place where any fix would go. Feel free to close or transfer this issu

[2021-03-02 23:15] anupam128 opened #14514 "Maven task succeeds on maven build failure"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Maven

list here (V# not needed):  https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/MavenV3

## Environment
- Server - Azure Pipelines

    - Account : ailens-io; Project: truera; BuildId=13244 or 2

[2021-03-03 00:26] rsheptolut commented on #12503
Any movement on this? This is still relevant and would help speed up our pipelines. I'm fine with the current behavior as default, but it'd be good to have this configurable.

[2021-03-03 02:46] Justin-DynamicD commented on #14401
I'm going to go ahead and close this topic as I have a work around in place for now that involves simply dropping to bash shell and performing all actions from there.

I also added a condition: always task that deletes ~/.kube on completion to ensure no lingering configs remain on the system.

Thank you.

[2021-03-03 02:46] #14401 closed

[2021-03-03 03:04] myanakiev opened #14515 "ArchiveFilesV2 not replaceing existing archive if the replaceExistingArchive option is set"
https://github.com/microsoft/azure-pipelines-tasks/blob/9244d42f479f31600c1dff0dc6ca8e05b2e9f85c/Tasks/ArchiveFilesV2/archivefiles.ts#L340

The code is only logging that the file should be deleted but the action is missing.

[2021-03-03 03:07] myanakiev commented on #14515
Adding the folowing code should resove the issue `tl.rmRF(archiveFile);`

[2021-03-03 05:30] AmrutaKawade commented on #14495
Yes I meant Run From Package 😁 thanks for pointing out corrected previous comment.

Fix would be failing task.

when deployment completes, logs are written by Azure itself at this location `https://***.scm.azurewebsites.net/api/deployments/latest/log` its not written by task. we just print those logs in task.

[2021-03-03 05:35] AmrutaKawade commented on #14409
@pkgw yes you are right. As I stated earlier as well service principal might have expired.

Since this task just connects to Azure and make available Az modules. And every user might have different Azure Powershell Script written. its difficult to fix it in Task.

Since its resolved for you I am closing this issue

[2021-03-03 05:35] #14409 closed

[2021-03-03 07:24] ronnetzer commented on #12143
@jalajmsft Hi,
Im experiencing the same issue when running AzureCli@2 with an inline bash script that uses `az storage copy`
Recently I had authentication issues caused by some expired keys of my service principal and the copy failed with the error:
[code]

but the task completed successfully without any error

[2021-03-03 08:13] frbar commented on #14396
Hi, @20shivangi you are correct the mysql server was not found back then (I've reproduced by forcing a wrong name) - I have other errors now but it must be related to my inline script as the messages are now very descriptive. Thanks for your support.

[2021-03-03 08:13] #14396 closed

[2021-03-03 09:29] egor-bryzgalov commented on #14513
Hi @phatcher

You can use features provided by `azure-pipelines-task-lib` npm package which should be used to create a custom task.
A step-by-step guide about creating your own tasks you can find in [the reference](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops).
[Here](https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/docs/azure-

[2021-03-03 09:32] phatcher commented on #14513
@egor-bryzgalov Thanks for the information, that should give me a good start,

[2021-03-03 09:55] Lutando commented on #11478
This is of huge interest to me to be honest. It makes sense to want to test your uat/qa environment especially if it has limted ingress.

[2021-03-03 10:46] egor-bryzgalov commented on #14513
@phatcher
I'm closing this issue. Please feel free to reopen or ping me if you need any help!

[2021-03-03 10:46] #14513 closed

[2021-03-03 12:20] Miles-Davies-HORIBA commented on #7243
poke

[2021-03-03 12:29] mariusGundersen opened #14522 "AzureRmWebAppDeployment@4 removes the WEBSITE_RUN_FROM_PACKAGE appSetting"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeployment

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Issue Description

When running the AzureRmWebAppDeployment task with ZipDeploy, it removes t

[2021-03-03 13:48] GreatBarrier86 opened #14524 "Azure VM File Copy V4 - 'C:\ADO_AzCopyV10\AzCopy\AzCopy.exe' already exists. Use the -Force parameter if you want to overwrite the existing directory"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFileCopyV4

## Environment
Azure Pipelines

- Agent - Hosted or Private:
Hosted

It appears the overall error is during decompression of AzCopy.exe
**'C:\ADO_AzCopyV10\AzCopy\AzCopy.exe' while expanding the archive file
'C:\ADO_AzCopyV10\AzCopy.zip' contents as the file 'C:\ADO_AzCopyV10\AzCopy\AzCopy.ex

[2021-03-03 14:04] GreatBarrier86 commented on #14524
Closed as it appears to be a duplicate

[2021-03-03 14:04] #14524 closed

[2021-03-03 14:09] GreatBarrier86 commented on #14461
We worked around this temporarily by reverting back to V3, but we'd prefer to remain on the latest if possible, especially since V3 doesn't support wildcards.

[2021-03-03 14:47] anatolybolshakov commented on #14458
@jwyglendowski-precisionlender let me close this one at the moment here since it's not related to Powershell task itself.

[2021-03-03 14:47] #14458 closed

[2021-03-03 17:52] SakshiS-harma opened #14528 "Azure Dev Ops to pick up latest DacFx build"
## Environment
- Server - Azure Pipelines or TFS on-premises?: Azure pipelines

## Issue Description
https://portal.microsofticm.com/imp/v3/incidents/details/214811143/home
This ICM was created a few months back where customer was not able to use deploy dacpac file using Azure DevOps. The problem was identified within DacFx product code and has been fixed in the latest version. Since the customer

[2021-03-03 22:24] ericmattingly opened #14529 "NuGet Task Succeeded When Azure DevOps Artifacts Was Down"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NuGetCommand

## Environment
Hosted Agent

## Issue Description

When running a simple NuGet push, the push didn't actually occur because ADO services was returning a 503.  The NuGet Task ran successfully anyway.

![im

[2021-03-03 22:25] thejcannon opened #14530 "Cache hashing file path in addition to contents"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache@2

## Environment
- Server - Azure Pipelines

   - Account name: (I don't know, "ni" perhaps)
   - Team project name: DevCentral
   - Build definition name: nibuild-pipeline-systemtestd
   - Build number: 750764

- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine r

[2021-03-03 23:00] johnterickson commented on #14530
IIRC if you use a relative path in the cache key then it will hash the relative path (which is the same).

[2021-03-03 23:16] thejcannon commented on #14530
From the docs:

I think I'm missing a piece here, this would only work if the path I'm pointing to was a subdirectory of whatever `$(System.DefaultWorkingDirectory)` is, right?

[2021-03-03 23:33] johnterickson commented on #14530
I'm not sure if the `..` operator is allowed or not - it's worth a shot.  At a high level, including the path of the file as part of the hash is intentional - if I move or rename a `cpp` file, the compiler should be re-run.  Although the absolute path of a file actually *does* matter in some scenarios (e.g. PDBs contain absolute paths of inputs), the task IIRC does allow some wiggle room by only h

[2021-03-03 23:37] thejcannon commented on #14530
Should this information be included in the documentation? Seems pertinent.

[2021-03-04 03:23] AmrutaKawade commented on #14522
@mariusGundersen you can select RunFromPackage deployment option from task. this will add `WEBSITE_RUN_FROM_PACKAGE` setting automatically for you

![image](https://user-images.githubusercontent.com/65217380/109906693-faeae900-7cc6-11eb-9f3e-f85f66bdf179.png)

[2021-03-04 06:37] #14522 closed

[2021-03-04 07:04] PeterDowdy commented on #12633
This is happening to me, too.

[2021-03-04 07:16] nishantms commented on #8133
@shashban : Can you help with this.

[2021-03-04 07:56] nishantms commented on #12352
@shashban : can you please help with this

[2021-03-04 08:25] piraces commented on #14302
I'm having the error in the task `.NET Core` when executing the `test` command (with the option `Publish test results and code coverage` enabled):
[code]

[2021-03-04 09:54] JorgeDios opened #14531 "AzureResourceGroupDeploymentV2 - Errors when using linked templates with templateLink Id"
## Required Information

*Type*: BUG
**Enter Task Name**: AzureResourceGroupDeploymentV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted
    - If using Hosted agent, provide agent queue name: 'windows-latest'
      Pool: Hosted Windows 2019 with VS2019
      Agent: Hosted Agent

## Issue Description

Deploying linked templates using the templateLink Id property results in the following

[2021-03-04 10:20] hbensalem commented on #11272
Is there any intention to add yaml support for release pipelines?

[2021-03-04 10:30] vineetmimrot commented on #14511
Yeah, overrideParameters doesn't support multiline. You must put all the parameters in single line.

[2021-03-04 10:30] #14511 closed

[2021-03-04 11:11] olivier-voutat commented on #5590
Driving me crazy. Same problem for ttf and woff files....

[2021-03-04 11:20] nishantms commented on #14336
@msft-mw can you please share the logs with system.debug set to true

[2021-03-04 13:34] damccorm commented on #14302
Hey @piraces could you please try updating to the most recent version of the agent?

[2021-03-04 14:18] piraces commented on #14302
Sure! I will try and I will update here with the result

[2021-03-04 14:23] thejcannon commented on #14530
We ended up copying the file somewhere consistent (as the original file is not relative to `$(System.DefaultWorkingDirectory)` and can change from run-to-run).

I'll leave the issue open since I believe this should be documented behavior.

Thanks for the speedy responses!

[2021-03-04 16:02] Shaked commented on #14119
I am experiencing a similar problem.

I have defined the following YAML:

[code]

While `aksstage` is a Kubernetes provider with a `devops` namespace as the resource.

However, when I run it, it keeps failing with the following message:

Only when I add the following to the `HelmDeploy` task it works:

[code]

and while it does deploy, the environment resource stays empty:

<img width="792" alt="E

[2021-03-04 16:13] Shaked commented on #13451
Hey @blake-mealey, can you elaborate how you have fixed it? I am having the same issue as I have mentioned in https://github.com/microsoft/azure-pipelines-tasks/issues/14119#issuecomment-790725700

[2021-03-04 17:49] johnterickson commented on #14530
Thanks for following-up with the workaround you found @thejcannon !

[2021-03-04 18:28] ArieHein commented on #11272
Not sure i follow. In classic you can have a build and release pipelines. In YAML is just called multi-stage pipeline where one file can do both or just 1 or the other but the OP was about how to version the pipeline itself, which if you're using YAML you already have as its stored in the repo thus enjoys history tracking and pull request process like all rest of the code does.

[2021-03-04 20:14] lygasch commented on #14293
Hi, is there any progress on this issue? Thanks!

[2021-03-04 20:29] huangbolun opened #14534 "AzureFileCopyV4 throws AuthorizationPermissionMismatch exception"
## Note
AzureFileCopyV4 task throws AuthorizationPermissionMismatch exception with my ARM service connection to a subscription; with the exact same ARM service connection, AzureFileCopyV2 is working without a problem.

## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFileCopyV4

## Environment
- Server - Azure Pipelines
    - Account name: msdata
    -

[2021-03-04 21:19] and-rewsmith commented on #13412
@oliverchristen How often does this repro for you? I am attempting to investigate this from the edge side. I think you are probably correct in that it is a hub issue, so there is someone from the hub team assisting me on that front.

I feel the most efficient way to resolve this is to get a repro with a way to observe:
- any possible client errors
- hub behavior
- edge reaction to missing "no depl

[2021-03-04 21:24] Shaked commented on #12964
@shigupt202

This seems to be the same problem as https://github.com/microsoft/azure-pipelines-tasks/issues/14119#issuecomment-790725700.

Few questions:

1. Why is it required to create a role binding? [The docs explicitly state](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/helm-deploy?view=azure-devops#service-connection):

While instead I end up with

2. Is the Environme

[2021-03-04 21:39] and-rewsmith commented on #13412
@oliverchristen Can you also please tell me what version of iotedge service, EdgeHub, and EdgeAgent you are using?

[2021-03-04 21:45] #14203 closed

[2021-03-04 23:16] Febbe opened #14535 "Feature request: add `user:` keyword to change execution user in scripts"
## Required Information

*Type*:  Question ^ Feature

**Enter Task Name**: Answer "how to change user" Question or add "change user" option.

## Environment
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
 [none, xournalpp, #20210304.17 Bump macos1013 on CI](https://dev.azure.com/xournalpp/xournalpp/_build/results?buildId=11325&view=

[2021-03-05 00:50] trolleyboy opened #14536 "Azure resource group deployment v2 task shows warnings"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-03-05 02:37] wilmol commented on #6458
Such a basic functionality still broken after 3 years :/

When adding the `codeCoverageToolOption` input to Maven task it makes tests run twice. If excluded, no code coverage report is picked up. I'd expect all that input does is look for the code coverage report.

[2021-03-05 02:43] wilmol commented on #6458
While the running of tests twice is fixed, it still runs other maven phases twice, for example spotbugs or checkstyle analysis.

I expected that adding the `codeCoverageToolOption` to maven task would simply let the build agent know where to look for code coverage reports, not invoke maven a second time.

[2021-03-05 03:09] #13333 closed

[2021-03-05 03:09] #13375 closed

[2021-03-05 03:09] #13241 closed

[2021-03-05 03:09] #12991 closed

[2021-03-05 03:09] #12847 closed

[2021-03-05 04:06] mmrepos commented on #11444
@uioporqwerty, With the Run From Package enable (WEBSITE_RUN_FROM_PACKAGE app setting value of 1), the zip deployment APIs should copy your package to the d:\home\data\SitePackages folder, and then update / create a packagename.txt file in the same directory, that contains the name of the ZIP package to load at runtime. If you run into any issues, check the d:\home\site\wwwroot directory to see if

[2021-03-05 04:06] jcfiorenzano opened #14537 "Docker task output variable has no value"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DockerV1(1.181.0) , DockerV2 (2.182.0)

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using Hosted agent, provide agent queue name: Azure Pipelines

## Issue Description

My team is using the content of the output variable "Docker.Output" to do further processing with

[2021-03-05 04:20] shigupt202 commented on #12964
@Shaked Service connections are something used by azure pipeline tasks to communicate with your Kubernetes cluster. It's different from role bindings, which are used to define permissions on certain resources for specified users/SA's in your cluster (This is something that the user is expected to do manually depending on their user case).
Here you are using an environment, which creates a service

[2021-03-05 05:11] AmrutaKawade commented on #14534
@huangbolun AzureFileCopyV4 requires additional permissions
Refer this Doc

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFileCopyV4#prerequisite-for-the-task

[2021-03-05 06:10] #12781 closed

[2021-03-05 07:17] emilpeder commented on #14536
Just input: We see the same thing. Seems to be a consequence of moving from version 2.182.0 to 2.184.0 of the task.

[2021-03-05 07:19] bishal-pdMSFT commented on #14536
@ddivanshu can you please take a look here

[2021-03-05 08:01] ajinkya599 commented on #14537
Hi @jcfiorenzano,
In the build you shared, I see that `ReferenceName` is not set for the Docker tasks.
Can you please verify whether the task `ReferenceName` is set correctly in the pipelines? [[Reference](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=classic%2Cbatch#use-outputs-in-the-same-job-1)]

[2021-03-05 08:57] anatolybolshakov commented on #13309
Hi @japj we have already updated azure-pipelines-task-lib dependency for MSBuild task (which includes VstsTaskSdk dependency) - I think you just need to update Azure DevOps Server to receive last updates.

[2021-03-05 09:48] japj commented on #13309
@anatolybolshakov we have recently updated to AzureDevOps Server 2020.

With the server upgraded we now have:
- MSBuild Task 1.166.2
  - which (still) includes VstsTaskSdk 0.8.2

In which version of the server is this expected to be fixed?

[2021-03-05 09:53] japj commented on #13309
0.8.2 is still mentioned in https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/MSBuildV1/make.json
so that might explain it

[2021-03-05 09:56] japj commented on #13309
please note there are several other make.json files containing a nuget external reference to an old version of the VstsTaskSdk

[2021-03-05 10:51] piraces commented on #14302
@damccorm Just tried with the latest version of the agent... Both tasks mentioned above (`UseDotNet@2` and `AzureCli@2`) works just as expected for me 😄

[2021-03-05 10:56] Jeej commented on #14301
Hi @bramvdklinkenberg Goede morgen :wink:

This morning I had the same problem. The issue with this error is that it is not obvious what is going on.
Your ARM file is parsed and the override parameters are applied to that file, that happens [here](https://github.com/microsoft/azure-pipelines-tasks/blob/9e3ea8cc7454ae5a1275cc9a1deca4481b4173b0/Tasks/AzureResourceGroupDeploymentV2/operations/Resourc

[2021-03-05 11:02] Ganeshrockz commented on #14293
@lygasch Apologies for the delay. Can you help me reproducing this one?

I tried with the following yaml

[code]

The secret seems to be masked in this case. I believe your tasks also do something very similar right?

[2021-03-05 11:14] eleasysoft commented on #14320
I have the same issue with Azure DevOps on hosted Nodes with Jenkins 2.281
The same environment as previsouly worked for a few weeks.
I assume that changes made in Jenkins 2.276 may habe brocken the Azure task.

[2021-03-05 11:52] AmrutaKawade commented on #14470
For zip deploy its known issue https://github.com/projectkudu/kudu/wiki/Deploying-from-a-zip-file-or-url#issues-and-investigation

As mentioned in above link can you set `SCM_ZIPDEPLOY_DONOT_PRESERVE_FILETIME=1` in appSettings

[2021-03-05 12:12] #14302 closed

[2021-03-05 12:56] bart-rosseel opened #14541 "AzureKeyVaultV1 Fetching secrets does not consider activation date"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureKeyVaultV1

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureKeyVault

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure Pipelines

- Agent - Hosted or Private:
Private

## Issue Description

I am using AzureKeyVault task to fetch secrets selected by name from

[2021-03-05 12:58] bart-rosseel commented on #14469
Closed and created duplicate [https://github.com/microsoft/azure-pipelines-tasks/issues/14541](url) as the labeler workflow for this issue failed and nobody picked it up.

[2021-03-05 12:58] #14469 closed

[2021-03-05 12:59] bart-rosseel commented on #14541
Recreated as duplicate of [https://github.com/microsoft/azure-pipelines-tasks/issues/14469](url), for which the labeler workflow failed and it was not picked up.

[2021-03-05 13:09] davidandradeduarte commented on #9239
This is still an issue.
The `DotNetCoreCLI@2` task with the command `test` and `nobuild: true` doesn't work as expected and builds before testing.
As a workaround, we can add `--no-build` to the arguments, but I would expect it to work with `nobuild: true` as well.

[2021-03-05 13:27] GreatBarrier86 commented on #14461
@nadesu, is this going to be triaged? It's been waiting for 9 days now. The latest version of Azure File Copy simply doesn't work and that is the default version for all new task entries. This needs to be fixed.

[2021-03-05 13:31] allantargino commented on #14010
Hi all,
I faced the same situation. As per [this comment](https://github.com/microsoft/azure-pipelines-tasks/issues/14160#issuecomment-753782049) on #14160,  we don't need private agents and a simple step installing the desired version should be enough.

[2021-03-05 13:32] allantargino commented on #14378
Hi all,
I faced the same situation. As per [this comment](https://github.com/microsoft/azure-pipelines-tasks/issues/14160#issuecomment-753782049) on #14160,  we don't need private agents and a simple step installing the desired version should be enough.

[2021-03-05 13:33] allantargino commented on #14160
It worked perfectly, thank you very much @amit-avit! I mentioned this thread in similar issues so people can relate it.

[2021-03-05 14:33] gaspo100 commented on #14461
I temporarily worked around this by deleting the "C:\ADO_AzCopyV10" folder with Power Shell script that is run after the AzCopy task. I also hope that this will be dealt with soon as the fix seems to be as simple as adding -Force to the Expand-Archive command.

[2021-03-05 15:05] sdobrodeev commented on #14535
Hi @Febbe You can execute the build command via `sudo -b -u <user> <command>`. The -b (background) option tells sudo to run the given command in the background. Also we can use `sudo -u <user> <command>&` and then get a PID of sudo process via `$!` variable for example for use with `wait <PID>` call.

[2021-03-05 15:57] GreatBarrier86 commented on #14461
Don't you mean BEFORE the AzCopy task? Or do i misunderstand what you did?

[2021-03-05 16:36] gaspo100 commented on #14461
No, its after. Once the AzCopy task finishes its job copying files onto the tratget VM and I don't need it anymore.
The next task runs powershell script that deletes the AzCopy folder so the next time the pipeline is run it won't fail extracting the AzCopy.

[2021-03-05 17:39] Febbe commented on #14535
I am not sure, If you understand me correct; I am trying to execute several commands in the other userspace.

Also, I want, that those are visible to the azure pipeline log. Isn't that the exact opposite of the `sudo -b`. What I can do, and what I probably have to do is to write several scripts, which are all executed by `sudo -i -u`. But this has the disadvantage, that I can't see the output.

[2021-03-05 17:47] Febbe commented on #14535
My preferred solution would be a `user` option:
[code]

[2021-03-05 20:04] huangbolun commented on #14534
@AmrutaKawade, this is good to know.. Could you add this link to the Azure DevOps UX as well as OneBranch UX? From the interface I have no idea I need to ACL additional RBAC to the service principals/connections (, and apparently simply authorizing the service connection is not adding the `Storage Blob Data Contributor` role for me).

Azure DevOps UX:
![image](https://user-images.githubusercontent

[2021-03-05 20:38] lygasch commented on #14293
Perhaps it is working in that case because of the "key=" param name? (I am not sure how the secret detection works) Can you try with param name DocDbKey like we use?

I am not sure what you mean in your request about az cli logs. Feel free to ping me on Teams and we can chat. Thanks!

[2021-03-05 20:42] irega opened #14542 "AzureWebApp web config template error after 1.184.0 upgrade (nodejs app)"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureWebApp

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureWebAppV1

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
https://de

[2021-03-06 17:54] ATripathy1 opened #14543 "Sharing Library Group Vars Across Different Projects"
## Note
I have two projects in Azure DevOps. Project A and Project B. Project A under Library, has Group Variables, which are common to Project B. Instead of having to repeat these vars across projects, is there a way to use the Group Variable across different projects. This is an essential feature, and I am not looking forward to Azure Key Vault to solve this problem. Number of projects and organ

[2021-03-06 20:05] liliankasem commented on #9272
+1 it would be great to get this feature implemented!

In the meantime, I used the CopyFiles task to create a folder with the items I needed, then used the ArchiveFiles task to create a zip of that folder.

[2021-03-07 04:36] ainomc commented on #12345
Did you find a solution?

[2021-03-07 21:26] andrew-sumner commented on #13170
@20shivangi the proxy password doesn't have any special characters.

As I said earlier if I set the http(s)_proxy variables via a powershell script, eg `Write-Host ("##vso[task.setvariable variable=HTTPS_PROXY]http://domain%5Cusername:password@proxy.co.nz}")`, this task works fine. If I set it via an environment variable this task will not pick it up while other tasks do.

I have also found the th

[2021-03-07 23:03] andrew-sumner commented on #13170
I found some articles stating that Node.js proxy support is somewhat problematic. Now does this task pass proxy settings to Node and do you think settign GLOBAL_AGENT_HTTP_PROXY would help at all?

https://stackoverflow.com/questions/37688508/make-node-js-use-http-proxy-https-proxy-and-no-proxy-environment-variables
https://github.com/gajus/global-agent

[2021-03-08 09:20] joaomoreno commented on #6671
Giving up.

[2021-03-08 09:20] #6671 closed

[2021-03-08 09:24] AmrutaKawade commented on #14461
Can you share your Task version? is it 4.183.0?

[2021-03-08 09:56] Shru301 opened #14546 "facing issue with referencing the keyvault certificate"
i am trying to deploy kubernetes cluster and download the certificate and generate the key and cert through Devops and im getting error in Devops like "Exception calling "Import" with "3" argument(s): "The parameter is incorrect."; I have tried running in the local powershell with the below commands and please find the screenshot for the same.
<img width="909" alt="Powershellerror" src="https://us

[2021-03-08 10:25] Shaked commented on #12964
@shigupt202

That makes a lot of sense.

Yes, that's how I solved it. I had the impression that there was a way to avoid specifying the service connection within the HelmDepoy, but I guess I got it wrong.

Thank you
Shaked

[2021-03-08 10:52] shigupt202 commented on #12964
There is a way to avoid specifying service connection in HelmDeploy, and that is by specifying environment resources. But that would limit you to a particular namespace (it works for most of the use cases), and thus won't work for your use case.

[2021-03-08 10:53] gaspo100 commented on #14461
The task is "Azure file copy" v4.*
![image](https://user-images.githubusercontent.com/931540/110311811-47278780-803f-11eb-9eca-1f9e6b4d0fe3.png)

This task copies AzCopy v10 to the target VM regardless of whether it is already installed there or not.

[2021-03-08 11:44] oliverchristen commented on #13412
@and-rewsmith I'm in contact with the Azure support too.

What I wrote to them:
What I found out:
-	The 417 runtime response is disappearing always after a few minutes
-	The 417 runtime response is reported while new module images are pulled

So for me it seems to be different to the mentioned github issue (https://github.com/Azure/iotedge/issues/2450). There the error appears after a while and do

[2021-03-08 11:45] AmrutaKawade commented on #14461
there is no change in logic of task except upgrading version of azcopy exe.
can you try deleting this folder on VM C:\ADO_AzCopyV10 ? No need to write script to delete it everytime. Deleting just once should work

[2021-03-08 11:48] GreatBarrier86 commented on #14461
@AmrutaKawade, i believe the problem is that the Azure hosted Server 2019 pipeline VM used had ITS version upgraded to 10.8, so the folder is already present when the extraction occurs.

The logic didn’t change but the VM did. That’s the problem.

[2021-03-08 12:13] gaspo100 commented on #14461
In my case the Azure file copy task is part of the release pipeline that copies build pipeline artifacts to the target VM running Windows server 2012, which does not have AzCopy.

Deleting C:\ADO_AzCopyV10 folder once won't help.
After deploying to the target VM the folder and its content remain on the VM and when the release pipeline is run again it fails to extract AzCopy because it is already t

[2021-03-08 12:34] AmrutaKawade commented on #14461
I am not able to repro this issue with fresh VM. and it succeeded with every run.
I think this problem occurs when target VM already had older version of azcopy 10.3.3 installed
and based on this logic

https://github.com/microsoft/azure-pipelines-tasks/blob/3da3b2409ea7bb3f950f99b009ec9df033486c42/Tasks/AzureFileCopyV4/AzureFileCopyRemoteJob.ps1#L48

it will set shoulddownload to true and then tr

[2021-03-08 12:34] AmrutaKawade commented on #14461
Yes this is what is happening. can you try above workaround

[2021-03-08 13:05] GreatBarrier86 commented on #14461
I tried deleting that directory, but it doesn't exist on the generated VM. I did this in a Powershell script PRIOR to the Copy Files step. Did i not do this correctly?

![image](https://user-images.githubusercontent.com/29482393/110325212-0dc22e00-7fe5-11eb-8030-28fca220fbfc.png)

2021-03-08T12:57:06.4927065Z ##[section]Starting: PowerShell Script
2021-03-08T12:57:06.5059798Z =====================

[2021-03-08 13:47] gaspo100 commented on #14461
I've checked the older logs from release pipelines when it was failing and the task version was
![image](https://user-images.githubusercontent.com/931540/110329538-b4471700-8057-11eb-8825-bd2017575320.png)

When I run the release pipeline now the logs shows version 4.183.0 and it does not fail anymore! I did not know there was an update.

[2021-03-08 13:56] gaspo100 commented on #14462
Closing as the new version 4.183.0 does not alter PATH variable anymore.
It was failing with the prior versions.

[2021-03-08 13:56] #14462 closed

[2021-03-08 14:32] AmrutaKawade commented on #14461
@gaspo100 4.183.0 is the version when we introduced 10.8 version of azcopy. Great to hear that its working for you.
@GreatBarrier86  this folder is not available on hosted agent but on target VM where you are trying to copy files

![image](https://user-images.githubusercontent.com/65217380/110334664-046aad00-8049-11eb-8cc5-b6364c574633.png)

[2021-03-08 14:37] gaspo100 commented on #14461
Closing, problem fixed with version 4.183.0

[2021-03-08 14:37] #14461 closed

[2021-03-08 15:40] danielfen commented on #14470
Thank you @AmrutaKawade, I can confirm that workaround has worked for ZIP deploy!

It unfortunately did not seem to have any effect when using Web Deploy however, are you aware of any similar solutions when using Web Deploy?

[2021-03-08 16:45] GreatBarrier86 commented on #14461
I dont understand. What are we saying is the fix? I'm still getting the error with 4.183.0.

[2021-03-08 17:20] AmrutaKawade commented on #14461
@GreatBarrier86 what are you selecting as destination type in AzureFileCopy Task ?
Azure Blob or Azure VMs

![image](https://user-images.githubusercontent.com/65217380/110354603-579b2a80-805e-11eb-8976-0c2d9ee13f2d.png)

If you are selecting Azure CM then login to that VM and delete `C:\ADO_AzCopyV10` this folder.

[2021-03-08 17:24] AmrutaKawade commented on #14470
@danielfen Sorry I am not aware of solution for Web Deploy. For web deploy we use `msdeploy.exe`. but i did not find any workaround using this.

[2021-03-08 17:27] GreatBarrier86 commented on #14461
My mistake. I wasn’t connecting the dots. Is this a one time thing I’ll need to do or every time?

[2021-03-08 17:28] nicparmee commented on #10574
I was having the same problem as original post:
     1. Zipalign fails with exit code 1 as per my 1st comment / description.
     2. If I uncheck Zipalign checkbox, signing the APK fails as per my 2nd comment.

I tried not using zipalign but it still failed.

What I eventually did was re-generate the signature but as V1 (jar signature) as apposed to bot V1 and V2 and the pipeline was immediately s

[2021-03-08 17:31] AmrutaKawade commented on #14461
Onetime thing

[2021-03-08 18:50] gforceg opened #14549 "clarification on the word 'phase'"
Hello,

I am getting ["the artifact not found errors: Please ensure you have published artifacts in any previous phases of the current build."](https://github.com/microsoft/azure-pipelines-tasks/blob/3da3b2409ea7bb3f950f99b009ec9df033486c42/Tasks/DownloadBuildArtifactsV0/Strings/resources.resjson/en-US/resources.resjson#L45) I just need some clarification on what  the previous phases includes. Doe

[2021-03-08 19:03] lndr27 commented on #12195
I'm facing the same issue. The problem seems to happen randomly.

I've tried adding a step to clear npm cache forcefully, but it didn't help.

Deleting ```package.lock.json``` does help, but I don't think it's an acceptable solution.

[2021-03-08 20:07] SimonAlling commented on #14422
It worked with a colleague's email, so we think the email address must be registered in DevOps in some way, although we're not quite sure how.

[2021-03-08 20:56] GreatBarrier86 opened #14550 "Copying single file with Azure File Copy V4 to Blob Storage using Blob Prefix causes file to be created with Blob Prefix as file name"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFileCopy

## Environment
- Server: Azure Pipelines

- Agent
Hosted: 2.183.1
Windows 2019: 20210219.1

## Issue Description

In the scenario described by the attached picture, if I use V4 to copy MyApp.apk to Blob

[2021-03-08 21:10] Febbe commented on #14535
Calling `sudo -u /etc/bash -x ...` or adding `set -x` to the script does the trick.

[2021-03-08 22:59] blesuer commented on #14484
That was exactly what I needed. Thanks

[2021-03-08 23:00] mswilson4040 opened #14551 "dotnet tool install doesnt work anymore"
## Required Information
All of the sudden, my builds are failing due to the installation step of a dotnet tool (swashbuckel).

Here is the YAML:
[code]

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    -

[2021-03-09 00:07] maxtheaviator commented on #9754
Any news on the support of Github Organizations for the Task GitHubRelease@0 with an Azure Pipelines App installed with "Install Token"? This integration is managed by organization admins and scoped to the organization only.

Separate Service Connection doesn't work with OAuth due to Github "Restricted third-party application access".

For reasons stated above PATs aren't a thing I would like to u

[2021-03-09 05:01] AmrutaKawade commented on #14550
We are not planning to fix this currently as it will cause regression. this was fixed and reverted. please check https://github.com/microsoft/azure-pipelines-tasks/issues/13935

Workaround for your case would be change blob prefix from
`rootFolder/testFolder`
to
`rootFolder/testFolder/MyApp.apk`

[2021-03-09 05:03] AmrutaKawade commented on #14470
@danielfen I will close this issue since its resolved

[2021-03-09 08:33] rzeq commented on #10479
This functionality is confusing and looks more like bug than feature.

[2021-03-09 09:32] yene opened #14553 "Question: how does FileTransform access secret variables?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: FileTransform

## Environment
Azure Pipelines

## Issue Description

hi, I was reading through the FileTransform source code, but could not figure out how FileTransform gets access secret variables, declared in th

[2021-03-09 10:29] AmrutaKawade commented on #14553
yes all variables defined in variable group are saved as environment variables

[2021-03-09 11:02] anatolybolshakov commented on #14549
Hi @gforceg yes, correct - this exact message means that specified artifact has not been generated before Download Build Artifacts task in the current build.

[2021-03-09 11:19] anatolybolshakov commented on #13309
@japj got it, I see thanks! Let me take a look.

[2021-03-09 11:44] GreatBarrier86 commented on #14550
Ok. Thank you very much.

[2021-03-09 12:31] anatolybolshakov commented on #6671
Hi @joaomoreno did you try to specify 'force32bit' input for NodeTool task as 'true'?

[2021-03-09 12:34] AmrutaKawade commented on #14550
Closing this issue. Let me know if you need any more details

[2021-03-09 13:50] tomkuijsten commented on #14495
For the people who find this issue in the future, the actual problem is explained in the linked kudu issue and solved.

[2021-03-09 13:50] #14495 closed

[2021-03-09 13:58] minhhungit commented on #13591
This works for me, either use powershell like @MisinformedDNA or use Nuget

[code]

[2021-03-09 15:57] seanmbills opened #14556 "AzureRmWebAppDeploymentV4 DevOps Release task doesn't update clientAffinityEnabled/ARR Affinity on App Service being deployed to"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-03-09 17:07] shigupt202 commented on #14361
Closing stale issue. Feel free to reopen if the problem still exists.

[2021-03-09 17:57] LUC18fknU7P commented on #14484
@blesuer If this is resolved, I'd recommend closing this issue so it doesn't show up as unresolved

[2021-03-09 17:57] vagpap commented on #14320
Reporting the same issue using Jenkins 2.283 currently, but have also faced it with 2.282.

Hosted agent v2.179.0 @ Windows Server 2019 Standard

[2021-03-09 17:59] LUC18fknU7P commented on #14387
@AmrutaKawade Would it be possible for you to take over / take a look at this issue? It has been unresolved for almost a month now.

[2021-03-09 19:46] nishi1612 opened #14561 "GradleV2 build task for android app gets stuck intermittently on app:build task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-03-09 22:37] antonio-pscanner commented on #14461
We just ran into a problem because the azcopy was installed in a different folder than what the task expects on the remote server and was outdated (10.6.0). Solved by executing the same powershell commands in the source code:

`https://github.com/microsoft/azure-pipelines-tasks/blob/36195470336e21a885561c771a8db81371fc5363/Tasks/AzureFileCopyV4/AzureFileCopyRemoteJob.ps1`

but changing the followi

[2021-03-10 02:30] msft-mw commented on #14336
Sorry, missed this. I will do it tomorrow, thanks!

[2021-03-10 02:45] anshii03 commented on #14193
@DhirajKhot As discussed , you are generating coverage from your run settings file . Once you fix that , this issue will no longer be there . Can we go ahead and close this ?

[2021-03-10 04:51] AmrutaKawade commented on #14387
@LUC18fknU7P Sorry this task is not owned by our team
@ammohant can you assign someone to this issue?

[2021-03-10 05:05] AmrutaKawade commented on #14534
@huangbolun If its possible Can you raise PR for this?
CC: @ninallam

[2021-03-10 05:06] AmrutaKawade commented on #14010
@ninallam can you check this document update request?

[2021-03-10 05:06] AmrutaKawade commented on #13948
@ninallam can you check this?

[2021-03-10 05:20] AmrutaKawade commented on #14461
@antonio-pscanner its not failing because its installed in different folder. we check what version is installed on your VM if its less than 10.8.0 we try to installed 10.8 version. folder location doesn't matter

[2021-03-10 08:19] chshrikh commented on #14542
we have fixed this issue, please lets us know if things are working as expected

[2021-03-10 08:19] #14542 closed

[2021-03-10 09:00] ShreyasRmsft commented on #14424
This the expected behavior where we do not want to fail the pipeline if a stable version of the platform was found in the tool cache as indicated by the logs.

[code]

If this is your private agent you can clear the cache folder D:\agent_work_tool\VsTest\ to make the task fail.

[2021-03-10 09:50] Gismork commented on #14551
Hello,

It's caused by myget repository. It seems they have a certificate issue.

I had this error when opening the feed index url in my Firefox browser : https://dotnet.myget.org/F/dotnet-core/api/v3/index.json

![image](https://user-images.githubusercontent.com/2140163/110610186-45200e80-818e-11eb-9733-348eb38dd34f.png)

[2021-03-10 09:58] #14424 closed

[2021-03-10 13:46] #14484 closed

[2021-03-10 14:40] blesuer opened #14565 "How to get the AZ_BATCH_TASK_WORKING_DIR in a custom task"
I am creating a custom pipeline task and need to get the working directory of the task. I understand that there is an environment variable called AZ_BATCH_TASK_WORKING_DIR. I have attempted to get it with %AZ_BATCH_TASK_WORKING_DIR% and $(System.DefaultWorkingDirectory) but neither appears to be correct. What is the correct way to access the value of an environment variable inside a custom task wr

[2021-03-10 15:30] AmrutaKawade commented on #14470
@danielfen you said you have enabled `Remove additional files at destination`  option. with this option it cleans target directory and fresh package gets deployed. This issue should not occur with this option. Can you set `system.debug=true` in variables and share logs.

[2021-03-10 17:54] Vincent-NET opened #14566 "Error MSB4014: The build stopped unexpectedly because of an internal failure. System.NotSupportedException: The given path's format is not supported."
Not sure if I miss something on the agent server or it's a bug in Visual Studio build

Hi, I'm not too familiar with MSBuild, even if turned on debug, I am not sure what went wrong.

can anyone help me understand? I checked all the paths in the [command], see text below. they are all fine.

this project is 2017 project, i upgraded to 2019 and able to build before checking in for CI build.

the bui

[2021-03-10 22:21] NenoLoje commented on #11245
Ping - @phanikmmsft or @bishal-pdMSFT

[2021-03-11 02:24] agray commented on #13062
Here is an example app I wrote.  It is a dotnetcore 3 app running nunit3 unit tests and using coverlet/opencover to watch the tests and publish results with reportgenerator.

![image](https://user-images.githubusercontent.com/118102/110725889-7707a280-826c-11eb-9f01-14495b22666f.png)

![image](https://user-images.githubusercontent.com/118102/110726000-b6ce8a00-826c-11eb-9742-123d69964e69.png)

![i

[2021-03-11 08:29] kovianyo opened #14569 "DeleteFiles should log which files and folders it deleted"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DeleteFiles

## Issue Description

Could you implement the possibility for the DeleteFiles Task to log to the console which files and folders it deleted? Possibly configurable with a setting.

[2021-03-11 09:33] anatolybolshakov commented on #14565
Hi @blesuer, in a custom task you can get variable using getVariable method from 'azure-pipelines-task-lib/task' like below:

const tl = require("azure-pipelines-task-lib/task");
const varName = tl.getVariable('System.DefaultWorkingDirectory');

Please also see task-lib [docs](https://github.com/Microsoft/azure-pipelines-task-lib/blob/master/node/docs/azure-pipelines-task-lib.md#taskgetVariable) f

[2021-03-11 09:35] mercer opened #14570 "Maven@3 does not fail task on test failures"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Maven@3

## Environment
Azure Pipelines:
    - account name: censored

- Agent - Hosted or Private:
    - private: ubuntu 18.04

## Issue Description

1. junit test fails
2. but task does not fail

[code]
Build is green after this.

![image](https://user-images.githubusercontent.com/95358/110766407-ceeadd00-825d-11eb-897f-22aa61397a7

[2021-03-11 10:20] anatolybolshakov commented on #14566
Hi @Vincent-NET this seems to be msbuild issue, at first sight it looks good from the task side - have you tried to bulid solution locally on agent machine, does it work as expected?

[2021-03-11 10:26] anatolybolshakov commented on #14278
@nick3389 let me close this one since it doesn't seem to be related to issue on Xcode task side - please feel free to ask any further questions.

[2021-03-11 12:48] AmrutaKawade commented on #14553
Do you need any more info or can we close it?

[2021-03-11 12:49] nishantms commented on #13690
Closing the issue, as didnt hear back from the customer

[2021-03-11 12:49] #13690 closed

[2021-03-11 14:00] anatolybolshakov commented on #14549
@gforceg please let me know if you have any other questions 😃

[2021-03-11 14:40] ahsan-cc commented on #13156
Any update on this guys?

[2021-03-11 15:20] blesuer commented on #14565
Thanks for your reply @anatolybolshakov . I used getVariable in my task to get the System.DefaultWorkingDirectory but it returns 'undefined'. Is that because I am running from PowerShell and have not from a Pipeline yet?
Thanks again

[2021-03-11 15:40] avivanoff opened #14576 "Add ability to specify feeds to use to NuGet tasks' custom command"
In our pipelines we need the ability to run **nuget.exe install** command against specific feeds. Unfortunately, NuGet tasks's **custom** command does not allow this.

[2021-03-11 15:46] Vincent-NET commented on #14566
Hi, thanks for a quick response.

yes, I logged in to agent server,  open with vs2019 would build successfully, I also install vs2017, also build fine.
I ran the MSbuild command in the agent server, it would(obviously, but just wanna check it out).
I switched the VSBuild in azure pipeline build from 2019 to 2017, it would build. switch back to 2019 and it failed(path error)

the problem is the err

[2021-03-11 16:18] timothy-volvo opened #14577 "Xcode@5 fails to resolve signing settings when signingOption=default"
When using singingOption=default, the XCode@5 task fails to sign an app even thought the signing details are set in the project. There is an warning message:

`2021-03-11T15:44:50.1982960Z ##[debug]Corresponding pbxProject file doesn't exist: /users/runner/work/1/s/xxxxx.pbxproj`

which occurs when the code is trying to extract the project settings to create the plist.

The xxxxx.pbxproj is resolv

[2021-03-11 17:16] anatolybolshakov commented on #13156
@ahsan-cc we rolled out dependencies update for CopyFilesOverSSH task - so as we see now performance increased for this task. Do you still face with performance issues?

[2021-03-11 17:18] anatolybolshakov commented on #14565
@blesuer yes, it should work in a pipeline - you can try to upload task to some test organization via [tfx-cli](https://www.npmjs.com/package/tfx-cli) tool and check it.

[2021-03-11 17:35] ahsan-cc commented on #13156
Ah yes. It took me almost 30 mins to copy around 50mb of data to DO server.

[2021-03-11 19:31] jvinters commented on #11005
Is there anyway to ignore this for Pull Requests? Every feature / fix branch now does not have a cache if using status checks in github.

[2021-03-11 20:09] #14553 closed

[2021-03-11 22:26] enriko-riba commented on #12140
anyone solved this?

[2021-03-11 22:41] worldspawn commented on #12140
Hello, what I meant by a _docker enabled container_ is a container with docker installed. If its not installed it ain't going to run :)

Caveat, if your running this on kubernetes > 1.19.x (i think) you can longer run docker in docker

[2021-03-11 22:45] worldspawn commented on #12140
Heres my agent docker file btw

[code]

start.sh (verbatim from MS)

[code]

[2021-03-11 22:46] worldspawn commented on #12140
and here is how I build and push in a kubernetes post docker world:

[code]

[2021-03-12 05:58] ds-ms commented on #14379
@florin-szilagyi it supports `Helm3` right now.
You can checkout this code:

https://github.com/microsoft/azure-pipelines-tasks/blob/b908bffea681a03d1b8925e299d2a2b794bc035e/common-npm-packages/kubernetes-common-v2/helmutility.ts#L18..L24

If your environment has `Helm2` it'll use `Helm2` otherwise it downloads the latest release.

[2021-03-12 07:03] DaniilShmelev commented on #14459
Hi @japj! I'll take a look at this issue.

[2021-03-12 07:12] Ganeshrockz commented on #13882
Closing it as stale issue since the author didn't get back

[2021-03-12 07:12] #13882 closed

[2021-03-12 07:12] Ganeshrockz commented on #14175
Closing it as stale issue since the author didn't get back

[2021-03-12 07:12] #14175 closed

[2021-03-12 07:13] Ganeshrockz commented on #14067
Closing it as stale issue since the author didn't get back

[2021-03-12 07:13] #14067 closed

[2021-03-12 07:32] enriko-riba commented on #12140
Thanks I solved it. My scenario is a bit different since my agents are not K8s but you pushed me in the right direction - I had to install docker cli in the agent container.

It's funny because before the agent upgrade everything was working by simply mapping /usr/local/bin/docker into the container with
[code]

If anyone faces the same problem here is the general direction:
1. remove the docker v

[2021-03-12 08:54] anwojcie opened #14578 "AzureResourceManagerTemplateDeploymentV3 output not really output"
Hi,

When using the AzureResourceManagerTemplateDeploymentV3 task with `deploymentOutputs: 'SOMETHING'`
within the log it states
Updated **output** variable 'SOMETHING.value'...

I think this is misleading as it is not an `output=true` variable
see
https://github.com/microsoft/azure-pipelines-tasks/blob/b908bffea681a03d1b8925e299d2a2b794bc035e/Tasks/AzureResourceManagerTemplateDeploymentV3/operati

[2021-03-12 10:36] vineetmimrot commented on #14486
This has been fixed and will be available to you in maximum next 3 weeks.

[2021-03-12 10:36] #14486 closed

[2021-03-12 10:52] ericlemes opened #14580 "Azure File Copy (v4) stopped working"
## Required Information

**Bug**
*Type*: Azure File Copy task stopped working in my production pipeline with no apparent changes to the environment. It seems to be having issue to download Azure File Copy on the target machine

**Enter Task Name**: Azure File Copy (v.4)

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server: Azure

[2021-03-12 11:14] danielfen commented on #14470
@AmrutaKawade please find attached the logs from when we were investigating the issue. Two log files are included:

- tasklog_9_1529.log demonstrates the deployment where we expected the files to be deployed where they were not. The files in question are in a directory called '<app>\node_modules\<app>-validators\lib\fieldValidators\'. All files in this directory had only a small change applied and

[2021-03-12 13:39] AmrutaKawade commented on #14556
Though ARR Affinity settings are visible on general settings page of Portal, its not part of configuration setting update

Check this API, what all settings can be updated via configuration setting

https://docs.microsoft.com/en-us/rest/api/appservice/webapps/updateconfiguration

You need to update this setting on portal directly or can update via Azure CLI/Azure Powershell task

[2021-03-12 14:11] blesuer commented on #14565
@anatolybolshakov that worked perfectly. Thanks

[2021-03-12 14:11] #14565 closed

[2021-03-12 14:17] blesuer opened #14581 "ToolPath empty when running in Pipeline"
I'm using the ToolRunner in my custom task.

When I run in PowerShell, my task is working as expected.

But when I test within Azure pipeline 'which' in 'var toolPath = tl.which(atTestToolLine);' is coming up empty.

I tried with cmd.exe and my executable but in neither case, is 'which' able to locate the exe. I tried with and without the full path. In one case there are spaces but in the other th

[2021-03-12 15:49] anatolybolshakov commented on #13156
@ahsan-cc do you use on-prem version of Azure DevOps? Could you please share what task version do you use?

[2021-03-13 13:16] 4devnull commented on #12798
Up status ?
I've just tried again and the error is still

[2021-03-13 15:58] StingyJack commented on #13703
Same problem here, but for me its the line counts that are deficient from the pipeline task thats causing the numbers to be off

This is VS displaying the coverage file that was produced from VSTest task (Single file depicted). That total line count is WAY off.
![image](https://user-images.githubusercontent.com/15381181/111035795-09818080-83ea-11eb-9d32-f9698b9621ad.png)

This is from running the

[2021-03-13 16:32] MirKml commented on #14422
I confirm, that external (in sense of Azure Devops) emails aren't processed by this task, no information is sent. If email which is registered inside the Azure Devops itself is used, notification is sent.
Some notices about emails for `notifyUsers` settings will be enough for me.

[2021-03-13 16:52] MirKml opened #14584 "ManualValidation timeout reject whole pipeline, resources approvals timeouts don't"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: ManualValidation

## Issue Description

When ManualValidation task timeouts it rejects by default, then following tasks also fails and whole pipeline fails.

![image](https://user-images.githubusercontent.com/21239658/

[2021-03-13 16:57] MirKml commented on #14584
I classified this one as bug, maybe can be reclassified as Feature - it's up to you Azure crew :wink:

[2021-03-14 15:51] LianaN opened #14585 "Deploying Logic App flow using Azure Pipeline task "AzureResourceManagerTemplateDeployment@3""
Hi,

I'm trying to automate the deployment of Logic App flow from the Azure DevOps IaC pipeline. To do so, I created manually the Logic App flow and tested it to be sure that there is no error. Then I downloaded the it as a code (JSON file).

![image](https://user-images.githubusercontent.com/11301976/111074660-59447280-84e4-11eb-9c7c-21832f3fd89d.png)

Finally, I uploaded this JSON file into Azur

[2021-03-14 15:51] nekdima opened #14586 "[Question] overrideParameters for ARM parameters "type": "object""
Anyone idea on how to reference a parameter **object** from an ARM template in a pipeline task _overrideParameters_?
Object example:

azuredeploy.json **object** reference

[code]

azuredeploy.parameters.json **object** reference

[code]

Usual  string / integer reference would look like:
`overrideParameters: '-pipelineVariableName $(templateVariableName)'`

example:
`overrideParameters: '-virtual

[2021-03-15 00:47] silkimen commented on #12147
Hi guys, same issue still apparent in AppCenterDistribute@3:

<img width="775" alt="CleanShot 2021-03-15 at 01 43 19@2x" src="https://user-images.githubusercontent.com/4717881/111090481-2aec8480-8530-11eb-92e6-eb02fb00a32a.png">

[2021-03-15 04:56] shigupt202 commented on #14446
@yuzsun Could you share the yaml pipeline showing the task how you have specified two images?
We did make a change around that time.

[2021-03-15 05:17] shigupt202 commented on #14362
@mateusz-kolecki Helm provides the update dependency flag `--dep-up` along with install command, and not with upgrade command probably because building the chart directory makes sense before installing. That's why, this option is only available with install command.

[2021-03-15 05:41] AmrutaKawade commented on #14496
This will be automatically deployed after 4 weeks. closing this issue

[2021-03-15 05:41] #14496 closed

[2021-03-15 10:01] EzzhevNikita commented on #14380
@etarzan Task with the fix has been deployed. Could you please check if it works for you now?

[2021-03-15 10:28] alexander-smolyakov commented on #13250
A fix has been released for the `DownloadBuildArtifacts` task.
I am closing it at the moment, if the problem still appears, feel free to reopen it.

[2021-03-15 10:28] #13250 closed

[2021-03-15 12:30] etarzan commented on #14380
@EzzhevNikita This seems to be working now. Thanks for fixing this on priority!

[2021-03-15 12:30] #14380 closed

[2021-03-15 13:00] AmrutaKawade commented on #14043
I am able to repro this issue.
Repro steps

[code]

Required fix similar to this https://github.com/microsoft/azure-pipelines-tasks/pull/9741

in this method https://github.com/microsoft/azure-pipelines-tasks/blob/b908bffea681a03d1b8925e299d2a2b794bc035e/Tasks/SqlDacpacDeploymentOnMachineGroupV0/Main.ps1#L176

https://github.com/microsoft/azure-pipelines-extensions/blob/5dd1dba15c474153c8b8d971c77

[2021-03-15 13:01] TMattes commented on #12306
I ask you to re-open this, because your fix causes unwanted behaviour: if I decide I want a specific version of my artifact / artifact from a specific build, and this artifact is not found, then I want the pipeline to fail and not to take something else out of the parent directory. Furthermore, I never want it to download everything inside the parent directory. What "fix" should this be? Please th

[2021-03-15 13:28] TMattes opened #14587 "Bug: Release Artifact Download: Artifact not found, Falling back to parent directory results in unwanted behaviour"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadPipelineArtifact

## Environment
- Server - Azure Pipelines or TFS on-premises? **On-Premises**

    - If using TFS on-premises, provide the version: **ADO Server 2019.1.1**

- Agent - Hosted or Private: Privat

[2021-03-15 14:07] estebanes22 opened #14589 "Java tool installer task "EACCES: permission denied, mkdir '/builds""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-03-15 14:23] JamesMacClaranet opened #14590 "Packer Task does not support "build_resource_group_name""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-03-15 15:07] ahsan-cc commented on #13156
Sorry for the late response. Yes I am using the available task on Azure DevOps. Task version and name is as followed.

 CopyFilesOverSSH@0

[2021-03-15 15:07] AmrutaKawade commented on #14365
I am not able to repro this issue.
Let me know If I am following correct steps.

1. I have added variable `SubscriptionName`
2. then referenced this variable in below pipeline

[code]

3. and inside template I am using this parameter like this

[code]

It ran successfully

[2021-03-15 15:09] #13535 closed

[2021-03-15 15:16] Soruk commented on #14365
Hi @AmrutaKawade

As I said that previously, it works in normal job but no in a deployment job.

`
parameters:
 - name: SubscriptionName
   default: ''

jobs:
  - job: DeploymentJob2

    pool:
      name: Azure Pipelines
      vmImage: 'windows-latest'

    environment: $(EnvironmentName)-$(EnvironmentType)$(EnvironmentNumber)

    strategy:
      runOnce:
        deploy:
          steps:

[2021-03-15 17:01] bl718w commented on #10354
If you want to set an environment variable inside a template, you can use the following configuration:
- job: SetRuntimeVariables
  displayName: 'Set Runtime Variables'
  steps:
  - task: PowerShell@2
    displayName: 'Set Runtime Variables'
    inputs:
      targetType: 'inline'
      script: |
        echo '##vso[task.setvariable variable=disable.coverage.autogenerate]true'

[2021-03-15 20:23] iambernics opened #14591 "Prefetch Tasks to new Agent"
Dear Community,

Is there any way to prefetch the latest version of the Tasks onto the blank Agents?

We are reverting the VMs when the jobs completed: the Job initialization time could be long due to the Agent must download the affected Tasks each time when a Job started.

Looks like the Agent add a randomly generated suffix to the Task name:
`
_work\_tasks\AzureCLI_46e4be58-730b-4389-8a2f-ea10b3

[2021-03-15 22:58] blake-mealey commented on #13451
@Shaked I don't actually know - I didn't have permissions to configure it so an admin had to do it

[2021-03-16 04:48] shigupt202 commented on #12798
Could you share the logs and part of the workflow where you're using this task? This fix has been deployed long back.

[2021-03-16 05:09] AmrutaKawade commented on #14365
I was able to repro this when I added this variable here

![image](https://user-images.githubusercontent.com/65217380/111258497-1ea51c00-8643-11eb-9629-6300bc7a54bd.png)

**My main yaml looks like this**

[code]

**and template yml like this**

[code]

**but it worked when I passed value directly in main.yaml like this**

[code]

Can you try this approach and let me know if it works.

[2021-03-16 07:15] AmrutaKawade commented on #14556
Closing this issue let me know if you need any more info

[2021-03-16 07:15] #14556 closed

[2021-03-16 08:06] Soruk commented on #14365
Hi @AmrutaKawade

It still is not working for me.

Here is my template main.yml:

[code]

And the sub template.yml:

[code]

The variable group 'AzTestEnvironment' contains:
- EnvironmentSubscriptionName: SubPAYGDevTest
- EnvironmentSubscriptionNameProd: SubPAYG
These names correspond to Service Connections to my Azure Subscriptions.

I want to choose the subscription by choosing the given runtime

[2021-03-16 08:29] vladislav-ryzhov commented on #14459
Hi @japj!

The 260 character limit on a path is a core Windows system issue.
You can do 1 of 2 things:

1. Change the name of the files/folders that is too long for the path.
2. If you use self-hosted agent, you can enable long paths. You can find instructions here https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation

[2021-03-16 08:32] vladislav-ryzhov commented on #14459
@japj Let me close this one since this is external issue. Please feel free to ask any further questions.

[2021-03-16 09:33] jrahlf opened #14593 "Visual Studio Test (VSTest@2) does not upload Code Coverage"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VsTestV2

## Environment
- Azure Pipelines

## Issue Description
VSTest@2 should publish both test results and test coverage according to documentation. However, only the test results are published. See the pipeline settings below. According to the log, a `.coverage` file is generated.
Please note the test pr

[2021-03-16 09:55] vladislav-ryzhov commented on #9457
Created a PR https://github.com/microsoft/azure-pipelines-tasks/pull/14564

[2021-03-16 09:55] #9457 closed

[2021-03-16 11:01] egor-bryzgalov commented on #13836
Hi @d-miles,
would you mind sharing the scripts' contents with us so we can investigate the issue further? Could you please also provide us with a minimum repro steps? We're looking forward to hearing from you!

[2021-03-16 11:29] RoykoSerhiy commented on #14280
I've tried remove report generator and use built-in ReportGenerator, but still see simple html table without filters, expands, icons, javascript and have HtmlInline_AzurePipelines report type:
![image](https://user-images.githubusercontent.com/10273500/111301967-7b143580-865b-11eb-844c-5f18a9e40ca2.png)

[2021-03-16 12:03] anatolybolshakov commented on #14255
Hi @Bouke we have rolled out fix for this issue - please let us know if you have any other issues.

[2021-03-16 12:03] #14255 closed

[2021-03-16 12:06] anatolybolshakov commented on #13384
Hi everyone, we have rolled out fix for this issue - please let us know if you have any other issues.

[2021-03-16 12:06] #13384 closed

[2021-03-16 12:12] #13265 closed

[2021-03-16 12:46] anshii03 commented on #14193
Closing this issue as there is no action item from our end.

[2021-03-16 12:46] #14193 closed

[2021-03-16 13:16] anshii03 commented on #14127
This is by design and vstest task works like this internally. Tagged this as enhancement .

[2021-03-16 13:27] #14127 closed

[2021-03-16 13:49] bwstaal opened #14594 "[Bug] VSTestV2: collect code coverage throws errors after updating to VS Enterprise 16.9.1 and private agent to version 2.183.1"
**Question, Bug, or Feature?**
*Type*: Bug

**Task Name**: VSTestV2

## Environment
- Azure Pipelines

- _Agent:_ private

_OS:_ Windows Server 2012 R2
_Agent Version:_ 2.183.1

## Issue Description

After updating Visual Studio to version 16.9.1 and all the build agents to version 2.183.1 on the CI server at my employer, collecting code coverage for a .Net 4.6.1 solution doesn't work anymore. Bel

[2021-03-16 13:49] anshii03 commented on #14194
@DhirajKhot  As discussed offline ,Issue is because code coverage is enabled through run settings file for second pipeline. Closing this from our end now.

[2021-03-16 13:49] #14194 closed

[2021-03-16 15:13] penihel opened #14595 "##WARNING##:PowerShell Core (pwsh.exe) is not available on agent machine. Falling back to using Windows PowerShell (powershell.exe). This can cause reduced performance"
I have a pipeline with that i call the "IIS web app deploy" task twice.

the first i got error, but the last, its ok.

the first log
[code]

but in the same pipeline, the next task, runs ok.

the second log

[code]

## Required Information

**Enter Task Name**: IIS web app deploy

## Environment
- Server - Azure Pipelines runing o VM o Azure

Accountname:https://dev.azure.com/implantainformatica/

[2021-03-16 16:31] Phil-Be commented on #14566
Hello, we encounter the same issue as described. However, we have some .net standard in our projects and can't change for the 2017 vs image.
Do you have any other workaround?

[2021-03-16 16:47] max-zaytsev commented on #13839
Hi @kenotron is this issue still actual for you? I just tried running the task using your code and got the correct result.

[2021-03-16 17:07] penihel commented on #14595
I noticed, that Saturday worked

[code]

But, today not
[code]

Just the task version was changed (0.179.0 to 0.184.0)

[2021-03-16 17:54] penihel commented on #14595
Im pretty sure that this is the problem https://github.com/microsoft/azure-pipelines-tasks/commit/92ae148a02b1a174cc212222f9d92b07dc536ea6

[2021-03-16 18:07] ellierutherford opened #14597 "WindowsMachineFileCopy Task - robocopy does not retry on failure & robocopy logs aren't available?"
**Question, Bug, or Feature?**
*Type*: Question/Possible bug

**Task Name**: WindowsMachineFileCopyV2

## Environment
- **Azure Pipelines**

    - I'm not sure I can provide a link to our pipeline, it is Microsoft internal.

- Agent - Private:
OS: Windows Server 2019 DataCenter

## Issue Description

As part of my team's Azure pipeline (which runs on on prem agents), we have a Windows Machine File

[2021-03-16 18:23] BrianMouncer opened #14598 "Problems switching from PublishBuildArtifacts to PublishPipelineArtifact@1"
I would like to be able to use the Azure CLI to download build artifacts, but it does not work with PublishBuildArtifacts uploaded artifacts.  AZ CLI teams suggestion was to switch to using PublishPipelineArtifact, whihc does resolve the problem with AZ CLI being able to download artifacts...but PublishPipelineArtifact does not seem to be a 1-to-1 replacment.

The problem I am hitting is, our dist

[2021-03-16 18:46] anatolybolshakov commented on #12306
Hi @TMattes reopened it at the moment since there are some points to investigate.

[2021-03-16 19:02] anatolybolshakov commented on #13156
@ahsan-cc could you please share your exact task version? You can find it in logs like below (here's example for Bash task - v3.182.0):

![image](https://user-images.githubusercontent.com/8779682/111365150-2f857a00-86a3-11eb-950a-f9d24e338349.png)

[2021-03-16 19:23] anatolybolshakov commented on #14581
Hi @blesuer does it through an error if you call it like 'tl.which(atTestToolLine, true)'?
Could you please share your diagnostic logs?

[2021-03-16 21:02] pixelnix commented on #14595
This change to use Expand-Archive instead of 7zip broke the IIS web app deploy task on all my servers. Please fix or revert it.

[2021-03-16 21:12] blesuer commented on #14581
Hello @anatolybolshakov . Thanks for your response.
I did set the optional parameter to 'which' to true so that it throws when it can't find the executable.
It throws the error:
Unable to locate executable file: 'cmd.exe'. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable. Also check the file mode to verify the file is

[2021-03-16 21:14] penihel commented on #14595
The problem continues,

but I managed to get around it by installing PowerShell Core 7.1 on my server

[code]

So, i restarted the server and ran another deploy, and finally works fine!

[2021-03-16 21:26] pixelnix commented on #14595
After reading the commit referenced above, it seems the developers left a switch to force the IIS Web App Deploy task back to using 7zip for artifact extraction. Just add a pipeline variable "ADO_FORCE_USE_7ZIP" set to "true".

[2021-03-16 21:28] pixelnix commented on #14595
For reference:
https://github.com/microsoft/azure-pipelines-tasks/commit/92ae148a02b1a174cc212222f9d92b07dc536ea6#diff-46a33d08a56b1f9b206377aa6c90dccb24740d1a652f0b425b9c789d302d4aaeR14

[2021-03-17 00:52] oggy22 opened #14601 "ExtractFiles not waiting for files to be actually created"
On our [pipeline](https://microsoft.visualstudio.com/Edge/_build?definitionId=39488&_a=summary) where we use ExtractFiles, it happens sometimes that the files are not created when the task finishes, but probably a bit later, and the task right after it fails before it can't find the files expected to be there after uncompression. I think I know why this happens. Namely, this returns a task:
https:

[2021-03-17 04:13] chshrikh commented on #14322
@ds-ms please route this

[2021-03-17 04:14] chshrikh commented on #14319
@navin22  @shailesh-sk please check this

[2021-03-17 04:19] chshrikh commented on #14342
@ajinkya599 to check this

[2021-03-17 04:22] #14368 closed

[2021-03-17 04:29] chshrikh commented on #14449
@ds-ms please assign it appropriately

[2021-03-17 04:30] chshrikh commented on #14436
@ds-ms please assign this appropriately

[2021-03-17 04:35] chshrikh commented on #14422
@ds-ms can you check this and assign it appropriately

[2021-03-17 04:47] chshrikh commented on #14541
@ds-ms please assign this appropriately

[2021-03-17 04:49] chshrikh commented on #14528
please provide the task details

[2021-03-17 04:49] chshrikh commented on #14497
@ds-ms to assign appropriately

[2021-03-17 04:56] chshrikh commented on #14597
is this consistent re-pro ? it seems robocopy did not even started

`2021-03-11T14:41:30.9373813Z ##[debug]Attempting to remove PSDrive 'WFCPSDrive'
2021-03-11T14:41:30.9416592Z ##[debug]RemoteSharePath: SHARE_PATH
2021-03-11T14:41:30.9460517Z ##[debug][command] cmd.exe /c net use /delete SHARE_PATH "2>NUL"
2021-03-11T14:41:31.0078209Z ##[debug]System.Management.Automation.RuntimeException: Copyin

[2021-03-17 05:12] chshrikh commented on #14584
@ds-ms to assign it appropriately

[2021-03-17 05:14] chshrikh commented on #14580
is it intermediate issue ?

[2021-03-17 05:17] ankit-arora12 commented on #14314
It seems like an issue with the environment.

- Please check agent diagnostic logs (which can be enabled from the UI) to see if the azure pipeline agent is giving some error.
- Can you please check if publish test results task is running fine?
- Also, please check if it's running on the hosted agents?

[2021-03-17 05:19] ankit-arora12 commented on #14328
It looks like an issue with NUnit test. Please open this issue in Nunit repo.

[2021-03-17 05:26] ankit-arora12 commented on #14341
We do not recommend manually downloading the task because there will be a client-server mismatch that causes undesirable behaviour when interacting with the server.

[2021-03-17 05:55] chshrikh commented on #14580
sorry missed that logs are already attached, is there any proxy setting applied on target

[2021-03-17 06:41] ALM-at-RZL commented on #13130
WORKAROUND
Will work with ".NET Core"-Build-Task with Command "test" on on-premise server 2019.0.1. Later not tested. But maybe...

`-- "TestRunParameters.Parameter(name=\\\"<name1>\\\", value=\\\"<value1>\\\")" "TestRunParameters.Parameter(name=\\\"<name2>\\\", value=\\\"<value2>\\\")"`

[2021-03-17 06:52] AmrutaKawade commented on #14394
can you try giving exact extension of package instead if this `?(war|jar)`?

[2021-03-17 06:57] AmrutaKawade commented on #14403
Currently only these sections are supported for variable substitution
"applicationSettings", "appSettings", "connectionStrings", "configSections"

[2021-03-17 07:05] #14403 closed

[2021-03-17 08:00] ahsan-cc commented on #13156
Here it is.
[code]

[2021-03-17 08:01] Bouke commented on #14328
@ankit-arora12 this is NOT an issue with NUnit but with the test task and/or MSTest. Please reopen.

[2021-03-17 08:05] anatolybolshakov commented on #14549
@gforceg I'm closing it at the moment - feel free to ask any further questions.

[2021-03-17 08:05] #14549 closed

[2021-03-17 08:32] rudfoss opened #14602 "Constantly getting ECONNRESET when using AzureFunctionApp@1 task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFunctionApp

## Environment
- Server - Azure Pipelines

    - Org: utlendingsdirektoratet
    - Team project name: UDI-Skjemaløsning
    - Build definition: UDIForm-CICD
    - Build Id: 3773

- Agent - Hosted

[2021-03-17 08:43] #14585 closed

[2021-03-17 08:43] LianaN commented on #14585
I exported a template from logic app (instead of a workflow) and now everything works as expected.

[2021-03-17 08:53] rudfoss commented on #14602
Lately this error has gotten a lot worse. We have to retry multiple times now so there seems to be something accumulating errors. The interesting thing is that we seem to encounter it both for new environments and when installing on existing ones (we have PR-specific environments that we can set up and tear down to test both create and upgrade scenarios).

[2021-03-17 09:01] AmrutaKawade commented on #14388
How are you trying to view file? I mean which command are you using?

[2021-03-17 09:02] AlbanBarbosa1982 commented on #14319
I have working code now so this can be closed.

[2021-03-17 09:03] #14319 closed

[2021-03-17 09:12] ericlemes commented on #14580
@chshrikh, the issue is still blocking my production continuous release pipeline. There's no proxy settings applied to the target.

[2021-03-17 09:31] rudfoss commented on #14602
Could the problem be related to this status? https://status.dev.azure.com/_event/232379056

[2021-03-17 10:09] shigupt202 commented on #14362
Closing the issue. Feel free to reopen for any more clarification.

[2021-03-17 10:09] #14362 closed

[2021-03-17 10:16] vidarkongsli opened #14604 "KubernetesManifest task does not replace container image when referenced by digest"
## Required Information

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: KubernetesManifestV0

## Environment

- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

When an existing Kubernetes deployment contains a container image reference using the digest format, the container image reference is not updated by the task.

Given a deployment spec:
[code]
And the step:

[2021-03-17 10:24] vidarkongsli commented on #14604
This can be fixed by changing the line on https://github.com/microsoft/azure-pipelines-tasks/blob/fb0a6b4644b597f2f8879f21692ae3d2471472f8/Tasks/KubernetesManifestV0/src/utils/KubernetesObjectUtility.ts#L348 from `return img;` to `return img.split('@sha256')[0];`

[2021-03-17 10:28] ds-ms commented on #14604
@vidarkongsli would you be willing to raise a PR for the same?

[2021-03-17 10:36] kalfilla opened #14605 "Java Tool Installer, error on installing Java 11 in azure self-hosted machine"
## Required Information

Try to register Java 11 in self-hosted machine (generated with azure virtual-environments).

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: JavaToolInstaller@0

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/JavaToolInstallerV0

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using A

[2021-03-17 11:07] 4devnull commented on #12798
Hi @shigupt202

I have same warning with "Publish metadata from pipelines (preview)" Enabled or Disabled.

- Warning message :
[code]

Context:
- Azure Agent Self-hosting
[code]

- HelmDeploy@0  (0.183.0)  :
[code]

Trace output :
[code]

[2021-03-17 11:47] kalfilla commented on #14605
A fix that I found is to set manually some vars in the self-hosted machine:

[code]

[2021-03-17 12:33] chshrikh opened #14607 "Issue with 'IIS web app deploy' and 'App Service Deploy' in context of unzipping package zip with file transformation"
**Context**
Recently we got customer feedback where zip package built using msbuild corrupts the file names [having special characters](https://github.com/dotnet/msbuild/issues/6165).  There is an issue to deploy such zip packages using mentioned tasks with file transformation enabled.

**Details**
1. Post analysing the issue, we found that, if we make use of "Expand-Archive" cmdlet to unzip the z

[2021-03-17 12:34] chshrikh commented on #14595
https://github.com/microsoft/azure-pipelines-tasks/issues/14607

[2021-03-17 12:41] mattsteinRRD commented on #11136
Is the PR for this done?

[2021-03-17 12:52] brekus opened #14608 "Allow task to work with bicep files as the template"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: ARM Template Deployment

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

It would be great if this task can now allow using bicep files as the template file.  Understanding the fact the bicep CLI would need to be installed first which is already a preview task.

[2021-03-17 13:01] jamers99 commented on #14314
We haven't gotten this in a long time, so it seems the uninstall and reinstall of the agent fixed the issue.

[2021-03-17 13:39] #14607 closed

[2021-03-17 13:51] doittjdoughty commented on #14156
@ashwinsangem and @bishal-pdMSFT  any update on this? This would be a big help to our organization.

[2021-03-17 14:06] hhovhann commented on #12597
Any updates on this ?

[2021-03-17 16:33] GeorgePotterCivica commented on #14595
We've been having the same issues as described here: https://github.com/microsoft/azure-pipelines-tasks/issues/14595#issuecomment-800602330

Previously this task was using 7zip for the deployment, now as of this update it always tries to use Powershell Core without ensuring that it's installed on the machine. The fallback behaviour of using Windows Powershell is broken because the expand-archive c

[2021-03-17 17:35] kconner commented on #12470
I've got the same issue with a `docker image save` command run by `Docker@2`:

[code]

Task configuration:

[code]

[2021-03-17 17:39] pixelnix commented on #14595
Also, do these tasks not have incrementable version numbers? Azure tells me that the IIS Web App Deploy task is version 0, with no other versions available. If this change doesn't warrant a version bump, retaining the old version that doesn't use Expand-Archive, I'm not sure what does.

[2021-03-17 17:44] pixelnix commented on #14595
@chshrikh The notes you wrote in #14607 also don't appear in the README for this task (https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/IISWebAppDeploymentOnMachineGroupV0/README.md). If the plan is really to leave things as they stand now, that documentation should probably be updated to say what version of PowerShell is required for the task to function normally, and how to f

[2021-03-17 18:28] sivetic commented on #14237
I am seeing this issue using AzureKeyVaultV1 task v1.182.1 with `%0A` and `%0D` being decoded as newlines/carriage returns.

Here is a sample value from a local development build (secret value below is not used for anything):

Value in Azure Key Vault (manually retrieved): `%0AMc2EnC!%l!5mcff2thP9gxB9Fz%0vYYM%`

Using Azure Key Vault task to retrieve the secret:

[code]

PowerShell task follows to

[2021-03-17 18:30] pardhasaradhireddy commented on #13372
any progress with this?
Still i am facing the same issue for linux machine.

[2021-03-17 19:19] sivetic opened #14610 "AzureKeyVaultV1 does not properly handle secrets containing certain reserved values (%3B, %0D, %0A, and %5D)"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureKeyVault

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    account name - VarianCloud
    project name - CorePlatform
    build definition name - Sasa Test
    buildid - 10033

- Agent - Hosted

[2021-03-17 19:46] doittjdoughty commented on #14156
Awesome! Thank you @ashwinsangem.

[2021-03-17 20:56] chirangaalwis commented on #14436
@ds-ms @chshrikh it would be ideal if we can look into this as this is an important, missing feature in this task, which is available in pretty much every client interacting with the Azure Key Vault.

[2021-03-17 21:00] bobharing opened #14612 "Invalid typed array length error when deploying zip file with AzureRmWebAppDeploymentV4"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure App Service deploy (AzureRmWebAppDeploymentV4)

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureRmWebAppDeploymentV4

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: Un

[2021-03-17 21:03] BrianMouncer commented on #14598
For more details, you can review this original GH Issue for the AZ CLI extension.
This is where they said they now work, but for me to switch to PublicPipelineArtifact...

https://github.com/Azure/azure-devops-cli-extension/issues/982

[2021-03-18 05:36] chshrikh commented on #14595
@GeorgePotterCivica can you try your scenario by adding pipeline variable named - ADO_FORCE_USE_7ZIP and  set its value as true. With this task will forcefully use the 7Zip for unzipping

[2021-03-18 05:37] chshrikh commented on #14595
@pixelnix we will update the read md once our new solution reaches to all customers.

[2021-03-18 06:10] #12913 closed

[2021-03-18 08:46] mark-mybaggage opened #14614 "Using PowerShell to unzip MSBuild Package Breaks Release"
I'm using IIS web app deploy to an ASP.Net application to multiple EC2 instances in AWS

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this information will route

[2021-03-18 08:57] ajinkya599 commented on #14537
Summary from offline discussion -

- Short: This is expected for `DockerV0` and `DockerV1`. Waiting for @jcfiorenzano to share the debug logs with `DockerV2`.
- Long:
    - The behaviour of output variable was different for older versions of the Docker task (`DockerV0` and `DockerV1`). It stored the output of the Docker command in the variable (and not a file path). Also, they didn’t support all c

[2021-03-18 09:02] ganesp commented on #12597
@vovikdrg / @hhovhann
We have not seen any issue with rendering if publish code coverage results task is used:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops

If the report is being published from Maven task then I think it is not generating HTML using report generator.
Publish code coverage results has logic to generate the HTML

[2021-03-18 09:18] anatolybolshakov commented on #12597
Hi everyone, currently we are working on more prioritized issues, but planning to pick it up.