[2021-01-05 07:37] dragnilar commented on #11864
As with @MuckT and @whitleykeith , we were having this problem as well with our cache tasks. And as they have found, switching to CacheBeta@1 significantly cut down the download time. As @dazinator said, it would be nice if we could get some acknowledgement of this problem. ☹

[2021-01-05 07:50] juwens opened #14175 "[DockerInstaller@0] fails to Download 20.10.0"
## Required Information

*Type*: Bug

**Enter Task Name**: DockerInstaller@0

https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/DockerInstallerV0

## Environment
- Server - Azure Devops Server
- Version: Dev17.M153.3

- Agent - Private:
- Windows
- 2.153.1

## Issue Description

DockerInstaller fails to download anything newer than `17.09.0-ce`.

The current Version of Docker en

[2021-01-05 09:15] #9019 closed

[2021-01-05 09:36] viskin commented on #10366
@poserdonut Try installing node 10

[2021-01-05 09:44] poserdonut commented on #10366
Thanks for the tip.

[2021-01-05 12:29] AmrutaKawade commented on #14091
is it windows / linux agent?

[2021-01-05 13:21] Warzinski commented on #14091
It's a Windows agent.

Here's the start of the log from when we changed it to v4 and it worked.  You can see the path for the agent is still the same.

2020-12-18T20:40:07.2272435Z ##[debug]VstsTaskSdk 0.11.0 commit 7ff27a3e0bdd6f7b06690ae5f5b63cb84d0f23f4
2020-12-18T20:40:07.4955728Z ##[debug]Entering E:\Agents\UPMC Agent Pool\SWAZU2AP6001-1\_work\_tasks\AzurePowerShell_72a1931b-effb-4d2e-8fd8-f8

[2021-01-05 15:15] MarkKharitonov commented on #13247
Am I the only one who thinks the current diag implementation is useless?

[2021-01-05 15:41] cutecycle opened #14176 "Account Connection failure on self-hosted agent when using AzurePowerShell@4, AzurePowerShell@5 with Sovereign Environment via Managed Identity"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**  Bug
*Type*: Bug

**Enter Task Name**: AzurePowerShell

list here (V# not needed):  4,5
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises,

[2021-01-05 16:00] niteenkole commented on #14155
Closing as if I do continuous test somehow url gets blocked and then starts working.

Presently I keep some delay in my testing.

[2021-01-05 16:00] #14155 closed

[2021-01-05 16:19] cutecycle commented on #14176
Additional note:

reference: it may be that the task does not branch based on managed identity?

https://github.com/microsoft/azure-pipelines-tasks/blob/c8f0311b276522b1cbbc202298b1e05796128f13/Tasks%2FAzurePowerShellV5%2FInitializeAz.ps1#L79

[2021-01-05 16:30] damccorm commented on #14168
Closing as dupe of #14169 - looks like the issue got created twice

[2021-01-05 16:30] #14168 closed

[2021-01-05 16:47] izikl opened #14177 "AzureRmWebAppDeployment with Zip Deploy without deleting files left over from a previous deployment"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureRmWebAppDeployment@4

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureRmWebAppDeploymentV4

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipeline
         https://dev.azure.com/msazure/One/_build/results?buildId=38049033

- A

[2021-01-05 18:08] vtbassmatt commented on #14146
I'll leave this open a while to see what other inputs we get. This is the first request I've seen for such a task, so there's not (yet) enough evidence to support building something out of the box.

[2021-01-05 19:47] MasterEmit commented on #14171
Just as a note a possible workaround:

https://twitter.com/DerSia/status/1340037617384124417?s=19

[2021-01-05 21:49] jusbuc2k commented on #13885
I have the same problem. Using the AzureRmWebAppDeployment task above doesn't work for me for a .NET Core 3.1 function app. I *think* it fails because it's trying to do a build on deploy, and the SDK doesn't exist on the function app node?

It seems to me that there needs to be a way to persist the URL in the WEBSITE_RUN_FROM_PACKAGE app setting across ARM deployments, so that the existing package

[2021-01-06 06:31] AmrutaKawade commented on #14176
@N-Usha can you check this enhancement request?

[2021-01-06 06:33] AmrutaKawade commented on #14117
Closing this issue due to inactivity

[2021-01-06 06:33] #14117 closed

[2021-01-06 06:54] alexander-smolyakov commented on #14100
Closed due to inactivity. Please feel free to reopen if the issue still actual to you.

[2021-01-06 06:54] #14100 closed

[2021-01-06 09:51] patriziobrunoms commented on #14067
Hi @Ganeshrockz, Happy New Year! Did you get the chance to test the secret-on-keyvault setup?

[2021-01-06 13:00] phatcher commented on #12842
Just did the same :blush:

[2021-01-06 14:23] Alexlofern commented on #13626
Hi guys, any predictions for this feature? tks....

[2021-01-06 15:13] #9797 closed

[2021-01-06 15:27] makukl commented on #12901
Another scenario (although, somehow similar to @gaikovoi's) in which this feature would come handy:
We build Python conda environment as part of our PR and CI builds. The operation takes around 5 minutes, but it rarely needs to be redone, as the environment stays unchanged for long time.
We can use current cache mechanism efficiently for CI builds, but not  for PR build: since the cache is per bui

[2021-01-06 18:10] Hazhzeng commented on #14157
Hi @gabrielmccoll, this is an expected behavior as the backend (kudulite) is using zipdeploy to mount your package onto the /home/site/wwwroot folder.
The filename is handled by the api/zipdeploy endpoint automatically since this will allow you to rollback to previously version easily from changing the content in packagename.txt.
If you believe the older versions are not needed, feel free to remov

[2021-01-06 20:40] andrew-sumner commented on #13170
Yes, I'd upgraded to the latest version several months ago.

[2021-01-06 23:40] droopy4096 opened #14184 "continueOnError results in failed tasks..."
## Required Information

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: Any task.

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Hosted or Private: Any

## Issue Description

using code like:

[code]
to fetch any existing build artifacts results in errors for tasks, while job e

[2021-01-07 05:11] AmrutaKawade commented on #14157
Closing this issue as this is expected behaviour.

[2021-01-07 05:11] #14157 closed

[2021-01-07 05:39] AmrutaKawade commented on #13170
@andrew-sumner can you try this solution https://github.com/microsoft/azure-pipelines-tasks/issues/8090#issuecomment-426589813

[2021-01-07 07:33] Liero commented on #12437
I think this issue has been incorrectly mentioned in the PR. The PR seems to be unrelated and this issue should be reopenned

[2021-01-07 09:42] shigupt202 commented on #14118
This has been fixed now. All the helm versions should work.

[2021-01-07 09:42] #14118 closed

[2021-01-07 09:47] ds-ms commented on #14104
Although it's not listed in the default values. The task does support all the commands. You can set the `command` input to `scale` and add the other required arguments in the `arguments` input. It will work out for you

[2021-01-07 09:49] #12342 closed

[2021-01-07 09:50] ds-ms commented on #12342
Closing this stale issue. Feel free to reopen if the problem still persists

[2021-01-07 09:53] ds-ms commented on #12498
Closing this stale issue. Feel free to reopen if this still needs to be addressed

[2021-01-07 09:53] #12498 closed

[2021-01-07 09:54] ds-ms commented on #13212
Closing this stale issue. Feel free to reopen if the problem still persists

[2021-01-07 09:54] #13212 closed

[2021-01-07 09:54] ds-ms commented on #13268
@bmarinov any updates on the PR?

[2021-01-07 09:56] ds-ms commented on #13553
Closing this stale issue. Feel free to reopen and tag me if the problem still persists. I'll help triaging it.

[2021-01-07 09:56] #13553 closed

[2021-01-07 09:59] ds-ms commented on #13701
Closing this stale issue, given that there aren't any other requests for this feature.

[2021-01-07 09:59] #13701 closed

[2021-01-07 10:02] ds-ms commented on #11510
Closing this stale issue

[2021-01-07 10:02] #11510 closed

[2021-01-07 10:09] ds-ms commented on #11775
I apologise for the delayed response. Do you still see this significant delay?

[2021-01-07 10:14] ds-ms commented on #12417
Closing this stale issue; feel free to reopen it if the problem persists

[2021-01-07 10:14] #12417 closed

[2021-01-07 10:15] ds-ms commented on #13831
Closing stale issue; feel free to reopen it if the problem persists

[2021-01-07 10:15] #13831 closed

[2021-01-07 10:17] ds-ms commented on #13641
@marianan / @tameraw / @pprovost could you take a look

[2021-01-07 10:23] ds-ms commented on #13746
Closing this issue as we don't have enough data right now for finding the root cause.
Feel free to reopen this issue if the problem recurs.

[2021-01-07 10:23] #13746 closed

[2021-01-07 10:38] shigupt202 commented on #14119
@raswinraaj Could you please validate the server url in Kuubeconfig that you are using? It should have been a public endpoint, but from the error logs, looks like it is not: `http://localhost:8080/version?timeout=32s`

[2021-01-07 11:16] leonheess commented on #11902
What kind of useless error is that anyway??

[2021-01-07 11:23] Ganeshrockz commented on #14072
@jeanfrancoislarente You can have a `az cli` task that runs the `az acr import` command before your docker compose step. This helps in moving all images to a particular registry before docker compose. More information can be found here (https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az_acr_import)

[2021-01-07 11:33] jeanfrancoislarente commented on #14072
Ok I understand what you're saying, but I don't want to import all of the images that I need from one private registry to another just for building. I'm trying to use two private registries as a source and one private registry as a destination.

Some images would end up being:

_pseudo:_
[code]

As you can see the final tag (push) will be private 1 but I'm using both private 1 and private 2 as sou

[2021-01-07 11:48] tiwarishub commented on #14174
Hi @fabio-muramatsu , are you able to deploy the  arm template using az cli with same service principal credentials ?

[2021-01-07 13:40] Ganeshrockz commented on #14072
In that case, can you try creating an SPN in Azure and add the role assignments (for all the above mentioned registries) and create a ARM service connection in Azure Devops? Referencing this service connection in the docker compose task should solve your problem i guess.

[2021-01-07 13:50] jeanfrancoislarente commented on #14072
I solved it by pulling base/build images using powershell. That way I login to all relevant ACRs using `az acr login -n <name>`, pull all images and then docker-compose build already has the most up-to-date images locally.

[2021-01-07 13:50] #14072 closed

[2021-01-07 14:07] Ganeshrockz commented on #14175
@juwens Looks like Docker has stopped supporting CLI packages for windows. So we can only support till version `17.09`

[2021-01-07 14:16] marianan commented on #13641
Per @oliverchristen's comment, the issue no longer reproduces on ubuntu-20.04. @franperezlopez - could you please confirm that switching the agent resolves the issue? We have added to our backlog the action to investigate the behavior on ubuntu-18.04 but I wanted to make sure that you are not blocked.

[2021-01-07 14:42] czerwinskilukasz1 commented on #13946
Hello @arjgupta and @nadesu , it is been more than a month since we submitted this issue and we still have not heard from anybody from Microsoft team.
What are the next steps?

[2021-01-07 14:54] Ganeshrockz commented on #14175
This is the issue that we filed on docker (https://github.com/microsoft/azure-pipelines-tasks/issues/14072)

[2021-01-07 15:16] oliverchristen commented on #13641
For me it now works again on both agent images ubuntu-18.04 and ubuntu-20.04. Cannot explain why.

[2021-01-07 15:17] #13741 closed

[2021-01-07 15:26] Ganeshrockz commented on #13882
@michael-hawker We do have a validation check in place when you use an OAuth Connection. But I am not able to reproduce the same issue. Both forward and backward slashes worked fine for me.

Are you facing the similar issue with all the other repositories? If not, what's so special about that one repo? Do you have specific details to share?

[2021-01-07 17:58] AmrutaKawade commented on #13946
@czerwinskilukasz1 can you share debug logs for both v3 and v4.

[2021-01-07 19:50] fabio-muramatsu commented on #14174
I was able to repro using az powershell, so I'll follow up with Azure support. Closing this for now.

[2021-01-07 19:50] #14174 closed

[2021-01-07 19:59] jvilalta commented on #11859
For those reading this thread as I did. WorkingDirectory did NOT work in V4, but it DOES work on V5.

[2021-01-07 20:53] czerwinskilukasz1 commented on #13946
Hello @AmrutaKawade , thank you for getting back to us.
As for logs, we would need to look through them and make sure we don't share any sensitive information from our client. Sadly, at this point of our project, we cannot allocate more time for this bug. We might be able to get back to you with logs in 1-2 months, or if the workaround stops working for us and we need to fix the issue. Anyways, we

[2021-01-08 02:44] MarluanEspiritusanto commented on #13555
Try to put all together without pipe or back slash:

[code]

In that way worked for me!!

[2021-01-08 03:34] #10132 closed

[2021-01-08 06:13] AmrutaKawade commented on #13946
I have sent you mail on your gmail id. You can reply back on same with logs. If you can provide sample app with minimal code which will reproduce this issue that will also help.

[2021-01-08 08:04] anatolybolshakov commented on #13970
Hi @chr0m1ng is this issue still actual for you?

[2021-01-08 08:21] DhirajKhot opened #14192 "Azure Pipelines Test Service comments are overridden"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VsTestV2

## Environment
- Server - Azure Pipelines
Account name : Office

- Agent - Private:
Agent OS : Windows
Agent version : 2.179.0

## Issue Description

We have configured to run two build pipelines on our Pull

[2021-01-08 08:32] AmrutaKawade commented on #14101
As mentioned earlier we use https://docs.microsoft.com/en-us/rest/api/appservice/provider/getavailablestacks api to list runtime stack. .Net 5.0 is currently not available in this API and appservice team is working on this to update this API.

till then you can directly enter runtime stack in dropdrown `DOTNETCORE|5.0`

As there is no fix required from task side I will close this issue.

[2021-01-08 08:32] #14101 closed

[2021-01-08 08:40] DhirajKhot opened #14193 "Inconsistent results of Azure Pipelines Test Service comments for similar coverage"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VsTestV2

## Environment
- Server - Azure Pipelines
Account name: Office

- Agent - Private:
Agent OS: Windows
Agent version : 2.179.0

## Issue Description
We have configured the Visual Studio Test task in our build p

[2021-01-08 09:23] oecdGeneric commented on #10969
Hello,
I have a similar error, I'm working on an automated tests pipeline on Azure to run on a Windows Self Hosted agent, my build pipelines are working, in this new pipeline, I have:
[code]

I have this error:  Failed to download or parse releases-index.json with error: {"code":"UNABLE_TO_GET_ISSUER_CERT_LOCALLY"}
As you can see in the logs:
[code]

I added the task "UseDotNet@2" because without

[2021-01-08 09:27] DhirajKhot opened #14194 "Unexpected Coverage Status check on the Pull Request from the build where code coverage is not enabled"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VsTestV2

## Environment
- Server - Azure Pipelines
Account name : Office

- Agent - Private:
Agent OS : Windows
Agent version : 2.179.0

## Issue Description
We have configured to run two build pipelines on our Pull R

[2021-01-08 09:29] ClaudeVernier commented on #10969
Hello,
I have a similar error, I'm working on an automated tests pipeline on Azure to run on a Windows Self Hosted agent, my build pipelines are working, in this new pipeline, I have:
[code]

I have this error:  **Failed to download or parse releases-index.json with error: {"code":"UNABLE_TO_GET_ISSUER_CERT_LOCALLY"}**
As you can see in the logs:
[code]

I added the task "UseDotNet@2" because with

[2021-01-08 12:53] MasterEmit commented on #14171
Thanks to Twitter and after fighting with some other bugs like: https://github.com/xamarin/Essentials/issues/1589 I got it working with a workaround:

I created a bash script

[code]

And then changed my pipeline yaml:

[code]

[2021-01-08 13:34] nulltoken opened #14197 "AzureResourceManagerTemplateDeployment and weird sas token encoding"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureResourceManagerTemplateDeployment

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Issue Description

`AzureResourceManagerTemplateDeployment@3` and `AzureResour

[2021-01-08 14:19] dazinator opened #14198 "UniversalPackages@0 taking long time to download"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UniversalPackages@0

## Environment
- Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
      - Uniun
      - Uniun
      - uniun-website

[2021-01-08 14:20] bishal-pdMSFT commented on #14197
This issue could be due to encoding changes in newer task lib

[2021-01-08 14:54] dazinator commented on #14198
Here is the log showing its the download step that takes the time:

[code]

[2021-01-08 14:54] nulltoken commented on #14197
@bishal-pdMSFT For information,, below the version number of the tasks that have been used.

AzureResourceManagerTemplateDeployment (3.179.1)
AzureResourceGroupDeployment (2.179.0)

[2021-01-08 17:55] bishal-pdMSFT commented on #14197
@nulltoken this is change in the pipeline agent behavior and not a bug with task. Agent is not decoding encoded `%`. Please see [here](https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/design/percentEncoding.md) for more details. To enable decoding, please set an environment variable DECODE_PERCENTS to true for the task.

[2021-01-08 18:24] PrestonR commented on #13971
Can confirm this issue is still happening as described above with the exact same setup.

[2021-01-08 18:44] emul8ed commented on #7150
We have Jenkins builds that take 2-3 hours, so people cancelling and re-queuing the Azure DevOps pipelines that drive them quickly saturates our build capacity with useless work. How do I reactivate this?

[2021-01-08 19:33] gschlereth opened #14201 "AzureFunctionApp@1 deployment gets stuck and fails after several retries"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFunctionApp@1

## Environment
- Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
       - msasg
       - Bing_UX
       - FastPath-B

[2021-01-09 01:54] weijia-ai opened #14203 "Azure Artifacts feeds within my organization should automatically be authenticated but actually not?"
## Note
Hi, I'm new to authentication on ADO pipeline so I might miss something.
But I'm blocked because I'm trying to add an Azure Artifacts within my organization but the pipeline is still failed by 401.

So I added `- task: NuGetAuthenticate@0` to the YML file, and it it the first task in that file. The logs from pipeline are below:

I'm so confused here, because in my local dev machine, I did

[2021-01-09 11:45] nulltoken commented on #14197
@bishal-pdMSFT Thanks for the feedback. However your answer raises a ton of additional questions. I'd be very grateful if you could help me further understand by answering them.

Additional context info:
- Both tests have been run on the same agent on my side
- Agent version was 2.179.0

Questions (on-topic):
- My current understanding is that the execution of `AzureResourceGroupDeployment@2` and

[2021-01-09 15:14] #9596 closed

[2021-01-09 16:03] sandersaares opened #14205 "DotNetCoreCLI@2 with command=publish ignores "projects" argument and selects arbitrary wrong csproj instead"
## Required Information

**Question, Bug, or Feature?**
Bug

**Enter Task Name**:
DotNetCoreCLI@2

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
- If using Azure Pipelines, provide the account name, team project name, build definition name/build number: https://skype.visualstudio.com/DefaultCollection/SCC/_build?definitionId=9928&_a=summary
- Agent - Hosted or Priva

[2021-01-09 17:53] rkm commented on #11286
Hello, I'm facing the same issue at the moment. From the docs: "The contents of any file identified by a file path or file pattern is hashed to produce a dynamic cache key. This is useful when your project has file(s) that uniquely identify what is being cached." -- when the opposite is true though (i.e. no file that uniquely identifies the cache contents), then updating the cache contents for a g

[2021-01-09 19:26] davidje13 commented on #11286
@rkm I don't believe such a thing would be possible; neither with the current caching strategy nor with the proposed change. You would need a system which is able to update/replace an existing non-expired cache item, which isn't the intent of this task.

In general, using `:latest` is not recommended for docker images because it makes it harder to distinguish which version was used in a build (i.e

[2021-01-09 19:53] jmegner commented on #6868
I have even better news: building a Xamarin.UITest project puts a `test-cloud.exe` into the output folder alongside all the generated dlls.  Here's a simpler pipeline snippet:

[code]

Full sample repo with writeup on [GitHub](https://github.com/jmegner/XamarinPipelineDemo) and [Azure DevOps](https://jmegner.visualstudio.com/Demos/_git/XamarinPipelineDemo).

[2021-01-09 20:22] tiwarishub commented on #14159
Hi @e3b0c442,
     The issue is happening because beta version  ``1.16beta1`` is not correct as per semantic versioning which is why it is failing here. And currently we support only semver. And this is bydesign.

[2021-01-09 20:46] rkm commented on #11286
Thanks for the quick reply. I see your point about this task not updating existing caches, so looks like I'll have to change my workflow. I'm aware of the pitfalls of `latest` - you're correct that the best solution would be to pin versions and have an auto-update process.

[2021-01-10 03:41] rajeshkandati commented on #9673
Hi @iashishmittal, Could you please enable the feature to dev.azure.com/CRM2CRM ?

[2021-01-10 08:52] andrew-sumner commented on #13170
@AmrutaKawade I assume what you wanted me to try was placing the proxy settings in the .proxy and .proxybypass files. It didn't help. All other tasks continued to work, but this one gets a timeout error. Here are the logs:

[code]

[2021-01-10 14:12] rajeshkandati commented on #9673
Hi @Lovakumar, Could you please enable the feature to dev.azure.com/CRM2CRM

[2021-01-10 14:15] logicatwork commented on #9673
This feature is now public and you do not have to request it to be turned on.

[2021-01-10 14:38] rajeshkandati commented on #9673
@logicatwork can you please point me to the right documentation? Appreciate your response.

[2021-01-10 14:47] logicatwork commented on #9673
https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml#organization-level-permissions

[2021-01-10 14:58] rajeshkandati commented on #9673
Thank you.

[2021-01-10 21:13] #11084 closed

[2021-01-11 02:36] shashban commented on #9673
Closing this issue as the capability is publicly available

[2021-01-11 02:36] #9673 closed

[2021-01-11 07:41] marcosfriasraet commented on #13899
Hi .
Sorry a lot for late reply.. i was on holidays. The issue is solved..
Thanks a lot for your time.

On Thu, 31 Dec 2020 at 22:55, Bishal Prasad <notifications@github.com>
wrote:

[2021-01-11 09:27] farlop opened #14206 "PublishPipelineArtifact@1 task not available when using multistage pipelines in Azure DevOps Server 2020"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question/Feature

**Enter Task Name**: PublishPipelineArtifact@1
Version: 1.2.3

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure DevOps Server 2020

- Agent - Hosted or Private:
   Private Windows 2.170.1

## Issue Descr

[2021-01-11 09:30] xamadev opened #14207 "Support wildcards within targetPath in PublishPipelineArtifact@1"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: PublishPipelineArtifact@1

## Environment
- Azure Pipelines

## Issue Description

It would be nice to support wildcards in targetPath argument. E.g. for selecting a generated nuget file - `bin/Release/*.nupkg` or even `bin/**/*.nupkg`

[2021-01-11 09:56] sven5 commented on #12345
What's the solution here? I got this error after setting up a new pipeline with using the DevOps default template.
I wonder why it doesn't work from scratch. ❓

[2021-01-11 13:26] japj commented on #6120
Who is the current owner of this task?

[2021-01-11 14:21] ashwinsangem commented on #14021
Hi @iamalexmang, this issue has been stale for a while. Can you please share the YAML/Screenshot of your pipeline?

[2021-01-11 14:36] giggio commented on #11674
Not stale.

[2021-01-11 14:41] trajano commented on #10843
The `Maven` build task which provides support for SonarQube does not allow specifying a SonarQube server connection.  So what I have done is just do `SonarQubePrepare` and just run maven using `bash`

[2021-01-11 15:03] thomaskellough commented on #13508
I'm also having this same issue. I made sure to update AppCenter to the latest SDK/XCode version.
AppCenter SDK Version - Xamarin.iOS 14.6
AppCenter Xcode version - 12.3

My Local version for pushing into repository...
  Visual Studio - 8.8.4

  Xamarin.iOS
  Version: 14.6.0.15 (Visual Studio Community)
  Hash: 87a1b18d8
  Branch: d16-8
  Build date: 2020-11-16 21:39:41-0500

  Apple Developer Too

[2021-01-11 16:27] anatolybolshakov commented on #13836
Hi @d-miles is this issue still actual for you?

[2021-01-11 18:11] tagru opened #14210 "cURL Uploader: When providing a wildcard without prefix the task can take a lot of time"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: cURL upload files ([cUrlUploaderV2](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/CUrlUploaderV2))

## Environment
- DevOps Server 2019 on-premise
    - 17.153.29522.3 (AzureDevOps2019.Update1.1)

- Agent - Private:
    - Windows Server 2019 Standard
    - Agent Version 2.153.1

## Issue

[2021-01-11 18:20] zmarty commented on #14201
Please be aware there is an internal e-mail thread discussion that contains more context, as well as links to specific code snippets that we think have issues.

[2021-01-11 18:37] #13240 closed

[2021-01-11 18:39] Bouke opened #14211 "Multi-framework MSBuild project not logging warnings for additional frameworks"
## Required Information

**Question, Bug, or Feature?**  Bug
*Type*: Incorrect build output

**Enter Task Name**: VSBuild

## Environment
- Server - Azure Pipelines or TFS on-premises?    Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
      https://dev.azure.com/cloudbilling/CloudBilling/_build/results?buildId=16036&

[2021-01-11 18:51] ElMiguel123 commented on #14088
Same issue here; did you find a way to fix that ?

[2021-01-11 19:22] nkolev92 commented on #10972
https://github.com/microsoft/azure-pipelines-tasks/issues/13146 is another related issue that was open a while ago.

This problem still bites us occasionally.

[2021-01-11 19:51] karambawow opened #14212 "PublishTestResultsV2"
today we tryed to get the Publish test Results Task working
in Verion 2.158

we imported the Task via avalable script
and the update just takes care of the VStest Task
the seperate publish Task will not be updated
so we tryed to Imort just the Publish Task  in our case nUnit Files
it works but it is a mess wrong File Names ans at the end some errors in the script
can someone please look into it to

[2021-01-11 20:04] karambawow commented on #14212
##[error]File not found: 'C:\Users\xxx\Downloads\vsts-agent-win-x64-2.175.2 (4)\_work\_tasks\PublishTestResults_0b0f01ed-7dde-43ff-9cbb-e48954daf9b1\2.158.0\publishtestresults.js'
first  try
than we adapted the Task to get publishtestresults.ts
so  we run into this issue
2021-01-11T13:45:02.4365398Z C:\Users\xxx\Downloads\vsts-agent-win-x64-2.175.2 (4)\_work\_tasks\PublishTestResults_0b0f01ed-7dde

[2021-01-11 20:06] karambawow commented on #14212
the^^^^ are shown under  { import *

[2021-01-11 20:25] bannus commented on #3472
Confirming this is still occurring. Re-upping my previous comment that having the actual failure piped through would improve workflow efficiency for all gradle-built projects.

[2021-01-11 21:57] damccorm commented on #14184
Hey @droopy4096 - this looks like a feature request for the service more generally, not for a specific task. This repo houses issues for specific tasks, would you mind opening a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html so that it gets the right eyes on it?

[2021-01-11 21:57] #14184 closed

[2021-01-11 23:30] robododge opened #14214 "JavaTooInstallerV0 install failue via azureStorageAccount due to storage path"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: JavaTooInstarllerV0

## Environment
- Server - Azure Pipelines or TFS on-premises?  Pipelines
    - ACC-Azure-02
    - 30253-Rainmaker
    - rainweb
    - buildID: 67205

- Agent - Hosted or Private:
   Private:  Ubuntu 18, agent version 2.164.8

## Issue Description

When using the azure storage account to load in jdk gzip file, if

[2021-01-11 23:36] Viper61x23 commented on #14097
@gbrueckl Hi did you manage to get past this issue, I have exactly the same thing as you reference here but I haven't found a way to address, or if its a bug or not.

[2021-01-12 05:52] chshrikh commented on #14201
@AmrutaKawade to check this on priority

[2021-01-12 06:35] krispenner opened #14215 "Get-AzWebApp "Unable to deserialize the response" when ipSecurityRestriction is of type ServiceTag"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShell@4

## Environment
- Server: Azure Pipelines
- Agent: Hosted

## Issue Description
When my Web App has an IP security restriction defined of type `ServiceTag`, I am not able to retrieve it using `Get-AzWebApp`.

[code]

It seems the AZ module it not the latest version, even though I have `azurePowerShellVersion: Latest

[2021-01-12 07:28] gbrueckl commented on #14097
hi @Viper61x23
actually I am quite sure it is a bug - actually two bugs
1) the behavior of how the output variable is used was completely changed from version 2.175.2 to 2.179.0
2) 2.179.0 does not output all values that are defined in the ARM template

to at least work around issue 1) I wrote a PowerShell script that parses the single environment variables and puts them back into one single Power

[2021-01-12 08:28] sonnehansen commented on #13350
Thank you all for the investigation :)

An identical issue occurs for variables from a template in a `jobs` section (and works for `deployment` type):

[code]

- Inside `jobs` it does not resolve (but `imageName` does because it is outside initial validation):
![image](https://user-images.githubusercontent.com/29034546/104287274-82319280-54b6-11eb-9467-96d476c48aab.png)
- Moving `template: variabl

[2021-01-12 10:20] AmrutaKawade commented on #13170
Can you try adding two new environment variables `HTTP_PROXY` and `HTTPS_PROXY` and set it to proxy?

[2021-01-12 11:02] ShreyasRmsft commented on #14099
As captured in the docs over [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/vstest?view=azure-devops#i-am-running-into-issues-when-running-data-driven-xunit-and-nunit-tests-with-some-of-the-task-options-are-there-known-limitations) if adapters have custom implementations of fully qualified names are formed then vstest task was not engineered to handle those scenarios.

S

[2021-01-12 11:02] #14099 closed

[2021-01-12 11:04] ShreyasRmsft commented on #13719
Closing due to no response.

[2021-01-12 11:04] #13719 closed

[2021-01-12 11:08] ShreyasRmsft commented on #14145
@katiekloss as documented in the task [official docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/vstest?view=azure-devops#i-am-running-into-issues-when-running-data-driven-xunit-and-nunit-tests-with-some-of-the-task-options-are-there-known-limitations) some of the advanced features of the task are not supported for datadriven tests or tests with custom characters in their f

[2021-01-12 11:08] #14145 closed

[2021-01-12 11:10] ShreyasRmsft commented on #13542
Closing due to no response.

[2021-01-12 11:10] #13542 closed

[2021-01-12 11:14] ShreyasRmsft commented on #13130
@jamierytlewski @kcentralsquare we are dependent on this issue https://github.com/microsoft/azure-pipelines-task-lib/issues/648 getting fixed. Could you please re-create that issue there since the old one got closed due to no activity.

[2021-01-12 13:28] Guuz commented on #13783
@egor-bryzgalov I would like to re-open this issue. Or at least ask for help. I believe i'm experiencing the same issue but don't see a workaround/solution.
note: this also looks to be the same issue: https://developercommunity.visualstudio.com/content/problem/984321/installsshkey-task-cant-resolve-variable-reference.html

I have a pipeline that deploys an app to a staging environment and later, a

[2021-01-12 14:17] egor-bryzgalov commented on #13783
Hi @Guuz

I think that you could try to use templates as was suggested by @Zanchee.
As per [this article ](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/runs?view=azure-devops#process-the-pipeline) templates are processed before checking resources authorization. Only variables explicitly included in the pipeline can be used for such inputs. It also makes sense to experiment with

[2021-01-12 14:26] anatolybolshakov commented on #3472
Hi @bannus sorry for delay here - we are working on more prioritized issues at the moment, but going to handle this as soon as we have capacity and improve error message with more details.

[2021-01-12 14:37] Guuz commented on #13783
I think the YAML might help. since i'm using templates already. but this seems to cause the issue. The below YAML files are obviously shortend by A LOT. just to show you the most important parts:

[code]

[code]
The "Authorize resources" button seems to work. But does not fix the issue. The resources have also already been given access to all pipelines anyway.
![image](https://user-images.githubus

[2021-01-12 14:50] egor-bryzgalov commented on #13783
@Guuz I see that you're using variable groups but as per the article mentioned above `Variable groups are themselves a resource subject to authorization, so their data is likewise not available when checking resource authorization.` I guess the only way here might be to pass secure files as template parameters somehow. [Here you can find more information about template parameters](https://docs.mic

[2021-01-12 14:59] Guuz commented on #13783
Using a template paramater sounds like it could work. I'll try it out and post the results here. Thanks!

Thought:
It would still feel "broken" though. Since using variables works only at the root level, and not lower. But this is the intended usage of variables.
The paramaters sound like a viable workaround.

[2021-01-12 15:03] anderson-fachini opened #14216 "KubernetesManifest@0 task Cannot read property 'trim' of undefined"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifestV0

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
        -  account name: AMBEV-SA

[2021-01-12 16:23] d-miles commented on #13836
Hi @anatolybolshakov, I wasn't available over Christmas break :) Based on your question I think you may not be understanding what I am identifying as the problem.

The key points are summarized at the end:

Yes, this most likely still is a problem. The only way I was able to stop this from happening was to remove the content of the inline scripts completely, otherwise I was getting these random er

[2021-01-12 16:36] andmig-ilty commented on #6885
Any update on this? I just had the same issue (YAML pipeline) and found this github issue... Two stages that need to download different secure files, receive the secure file name via stage-scoped variables... Nada... It only works if the variable is globally defined. That's definitively a wrong behavior.

[2021-01-12 16:45] anatolybolshakov commented on #7150
@emul8ed let me reopen this since it's still actual

[2021-01-12 16:52] FranzKohl commented on #12935
Will this feature being taken care of or not? In any case, a comment from the feature owner would be appreciated.

[2021-01-12 16:54] carlosmiguelsns commented on #8345
In classic type, In order to access secret variable in inline powershell script,

**step1**: Define variable and set it secret (for ex Name: ConnectionString value: ********)
**step2**: Add/set an Environment variable (below inline script available as an option) to remap your secret variable [since you can't access secret variables directly in scripts] like for ex Name: CONNECTIONSTRING value: $(C

[2021-01-12 17:18] chr0m1ng commented on #13970
Sorry about the delay (I was on vacation), the answer provided by @EzzhevNikita is right. Thanks for the help!

[2021-01-12 17:18] #13970 closed

[2021-01-12 18:23] ds-ms commented on #14216
Could you enable `System.Debug` and attach those logs as well.

[2021-01-12 18:27] sfuqua commented on #12364
Sorry, missed this question! No, my team never found a solution and we're still using version 2 of this task.

[2021-01-12 19:17] shigupt202 commented on #14216
@anderson-fachini `image` is always a mandatory field in the spec of a pod or deployment. This kind of scenario seems to be very rare when it's not present in the manifest. If I'm not wrong, what you are asking for is to update the error message in logs for this scenario right (which is not actually a bug)?

[2021-01-12 19:18] JustinKaffenberger commented on #12464
Our in-house testing over the past few months has shown us that this issue has been resolved.

[2021-01-12 19:18] #12464 closed

[2021-01-12 19:20] anderson-fachini commented on #14216
In fact, that's the case. As there was no exception handling, the error message was not clear.

[2021-01-12 19:21] anderson-fachini commented on #14216
Do you still need the detailed log?

[2021-01-12 22:21] madanbhavi opened #14218 "appinsight distributed tracing not working in nodejs-functionApp when deployed through azure pipeline task"
We noticed that when we deploy a function APP via azure pipeline distributed tracing is not working as expected. when functionApp 1 calls the functionApp2 (using axios) trace context headers are not getting passed. But same functionality works well when we deploy the code directly from visual studio.
Can you please let us know in case if there is anything we need to add to enable appinsight to pas

[2021-01-13 02:09] jackdeansmith opened #14219 "CMDLineV2 task not failing when executed program terminates due to error"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CMDLineV2

## Environment
- Server: Azure Pipelines
- Account Name: SkyDrive
- Team Project Name: CrossPlatform
- Build definition name: iOS Run xPlat Unit Tests
- Agent: Hosted Mac Internal Mojave

## Issue Description

This pipeline is used as a PR gate in our repo to ensure that checked in code passes our unit tests. It consists o

[2021-01-13 04:14] adrian-skybaker commented on #11864
@johnterickson do you have any update, there's been a lot of further feedback since you commented July last year?

[2021-01-13 04:42] chshrikh commented on #14218
which task is used with ADO pipeline

[2021-01-13 05:41] shigupt202 commented on #14216
No, the logs are not needed.

[2021-01-13 06:15] bothzoli commented on #11521
hiya!
i'm also facing this issue. it's quite frustrating as i spent hours of checking what could be the issue.
any thoughts on @tkrick 's idea of only doing the replace in headers?
if not than a simple warning or some documentation about this limitation would be helpful.
i'm also happy to contribute either to fix or to extend documentation.
what are your thoughts?

[2021-01-13 06:32] bothzoli opened #14220 "Python Twine Upload Authenticate problem when feed name contains dot"
This issue is to reopen #11521 which is not yet fixed.

Last comment by @tkrick was that it may be dangerous to simply replace all `\.` with `.`, but maybe it could be done for ini headers.
Any thoughts on that solution? I'm happy to contribute resolving this if that is acceptable for you.
If not, could this limitation be mentioned in the task documentation as to avoid hours of needless hunting fo

[2021-01-13 06:38] LiamKarlMitchell commented on #9272
Instead of ArchiveFiles task found I could use Publish Pipeline Artifacts with a .artifactignore file.
Which let me deploy it in a release build.

[code]

Did the trick.

[2021-01-13 07:19] AmrutaKawade commented on #14075
this is fixed and will be deployed after 3 weeks. Closing this issue

[2021-01-13 07:19] #14075 closed

[2021-01-13 08:20] #13945 closed

[2021-01-13 09:17] xamadev commented on #13101
I'm also trying to achieve this but without tags. Came across this [post](https://developercommunity.visualstudio.com/content/problem/1088543/downloadpipelineartifact-2.html):

Is it true? Can't find any documentation about it [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops).

[2021-01-13 10:02] bothzoli commented on #14220
The issue all boils down to how the npm dependency [ini](https://www.npmjs.com/package/ini) works.

When encoding an object in an ini format, the dots in the object keys (`My.Feed` in the above example) will be escaped.
I attempted to create a failing test for this, however tests use the same package to parse the ini files, which will remove the escapes from the section headers and thus hiding thi

[2021-01-13 10:39] ashwinsangem commented on #14159
@e3b0c442 Let me know if you have anything else associated with this issue.

[2021-01-13 10:46] aksm-ms commented on #14215
@krispenner Can you please share logs?

[2021-01-13 10:54] anatolybolshakov commented on #13836
@d-miles could you please check that syntax of build definition is correct after update? Could you share modified build definition version which causes the issue - just to verify that there's no possible syntax issue?

[2021-01-13 10:59] aksm-ms commented on #13232
@mpoiron Are you still facing any issues?

[2021-01-13 11:37] Bouke commented on #14211
Running parallel builds gives highly random `##[warning]` counts between builds:

Maybe some sort of race-condition inside the logger?

[2021-01-13 12:09] PatrickMessierGoC commented on #14075
Thanks.
Should I understand that the corrected task version of the will be 2.0 and will only be available in 3 weeks from now?

[2021-01-13 12:23] AmrutaKawade commented on #14075
its minor version upgrade. task version will be 1.182.0 and yes it will be available in 3 weeks from now

[2021-01-13 13:11] delucaezequiel commented on #14088
Hi:

An alternative that is working is use Get-MsalToken cmdlet as shown below:

[code]

[2021-01-13 14:44] Guuz commented on #13783
@egor-bryzgalov i tried to use the template parameters combined with variables. But this resulted in the same error.

I ended up using the parameters and hardcoding the required arguments for them, instead of using variables. since the secure files are only a name reference, this is acceptable. the passwords (which should be secure) do work via variables and then passing them on as parameters.

i

[2021-01-13 14:54] Anunaya02 commented on #11191
I am using the same parameters in at least 10 database project and it is working fine for me. I am using DevOps pipeline for deploying my database on On-Prem as well Azure.

Can anybody please specify what steps I can take to replicate the issue?

An easy way to debug your issue is to use Publish and Generate script option and you will be able to see what script it is actually deploying in backend

[2021-01-13 15:29] v-lali opened #14221 "Azure Web App for Container task ignore tags and report wrong task status."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure Web App for Containe

[2021-01-13 16:27] Axemasta commented on #13916
+1 Getting this warning from `NuGetAuthenticate@0`, Issue arose when I referenced a NuGet package from a private feed.

YAML:
[code]

Warning:
[code]

Seeing massively increased build time, my build & test stage has gone from on average ~1m 30s to ~7m 0s

[2021-01-13 19:06] drdamour commented on #13448
@PureKrome FWIW this is a known limitation of v1 per the docs https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops#is-code-coverage-data-merged-when-multiple-files-are-provided-as-input-to-the-task-or-multiple-tasks-are-used-in-the-pipeline

the v2 seems to handle this https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks

[2021-01-13 19:07] jobertcodes commented on #13916
+1 I'm getting these warnings when running a `Gradle` task:
[code]

[2021-01-13 19:09] drdamour commented on #13091
@Kurtz1993 it's kidna confusing...the report generator tool that generates the html has no problem with multiple files...the only thing that has a problem is the task itself when it tells devops the coverage summary value which shows here
![image](https://user-images.githubusercontent.com/1514496/104497789-1f182c80-5598-11eb-9a0f-ce3e7e83d0fe.png)

if you have multiple coverage files then this val

[2021-01-13 19:12] drdamour commented on #10353
fwiw it looks like this might have been fixed with the v2 of this task at https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/PublishCodeCoverageResultsV2/task.json with https://github.com/microsoft/azure-pipelines-tasks/pull/11144 but it hasn't been published to devops...not sure why was also asked in #13257

[2021-01-13 19:13] drdamour commented on #10353
@MisinformedDNA where's that reportgenerator task come from?

[2021-01-13 20:39] MisinformedDNA commented on #10353
@drdamour https://marketplace.visualstudio.com/items?itemName=Palmmedia.reportgenerator

[2021-01-13 22:24] marianan commented on #13641
@ammohant - as repo owner, please close this issue as I don't have permissions to do so.

[2021-01-14 00:46] nhojt commented on #3425
Any news on this?

[2021-01-14 01:50] andrew-sumner commented on #13170
I already do that.

If I set those variables via a powershell task in the pipeline this task works.

If I set them as environment variables on the server this task fails, however other tasks that require the proxy work.

[2021-01-14 06:50] lukasztokarski-tomtom commented on #13916
+1 for the gradle task I use
[code]
Gradle wrapper props set the desired gradle version:
`distributionUrl=https\://services.gradle.org/distributions/gradle-6.5-all.zip`

And the result is presented on the screenshot:
![AzurePipelineWarning](https://user-images.githubusercontent.com/72228632/104554872-2b09fa00-563d-11eb-9608-f4cb4728dbbf.png)

[2021-01-14 07:27] egor-bryzgalov commented on #13916
Hi!

[2021-01-14 07:57] lukasztokarski-tomtom commented on #13916
Hi @egor-bryzgalov ,

thank you for the update.
How to bump up the version of that task used in my pipeline? In the logs of the initialization step I still can see:
`Downloading task: Gradle (2.178.0)`

[code]

[2021-01-14 08:03] egor-bryzgalov commented on #13916
@lukasztokarski-tomtom
Do you use an on-premise Azure DevOps server?

[2021-01-14 09:09] lukasztokarski-tomtom commented on #13916
No, DevOps services.

[2021-01-14 09:29] gavincampbell commented on #13101
Same use case as wouterroos , specifying a build tag along with `latestFromBranch` causes `No builds currently exist in the pipeline definition supplied`; removing the tag filter downloads the latest from the branch.

[2021-01-14 09:34] Anne56njeri opened #14224 "Setting baseUrl in the webrequest URI resource"
**Question**
Hey, we are from the App config team. We pulled some of the code from azure-arm-rest folder, in the azure-arm-common file, in the “_[getMSIAuthorizationToken()](https://github.com/microsoft/azure-pipelines-tasks/blob/f462aeacedf56ceeeacd3d29027471a59573eaee/Tasks/Common/AzureRmDeploy-common/azure-arm-rest/azure-arm-common.ts#L112)” function when setting the “web request.uri” you set t

[2021-01-14 11:21] Yush0 commented on #13232
We are still getting some rare FILE_IN_USE errors

I was able to reproduce this behaviour by running a request that contains only await Task.Delay(40000); during deployment.

But normally we get the FILE_IN_USE in another dll that handles Entity Framework matters.

[2021-01-14 12:30] #13245 closed

[2021-01-14 12:50] rik-v opened #14227 "DownloadBuildArtifacts does not use proxy, which makes it fail behind one"
**Bug**
DownloadBuildArtifacts, does not utilize proxy.

https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks
[DownloadBuildArtifactsV0](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DownloadBuildArtifactsV0)

## Environment
Azure DevOps Server on-premise, version: Dev17.M153.5 (2019 update 1)
Agent machine hosted by the company, running Windows Server 2019 (

[2021-01-14 15:14] sarod opened #14228 "Cancelling a Build does not kill Maven Task process"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Maven

## Environment
- Server - Azure Pipelines
   https://dev.azure.com/semarchy/Build Project/_build/results?buildId=3799

- Agent - Hosted agent Agent Pool: "Azure Pipelines" https://dev.azure.com/semarchy/Build%20

[2021-01-14 15:15] sarod opened #14229 "Cancelling the build does not kill the maven process"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Maven

## Environment
- Server - Azure Pipelines
   https://dev.azure.com/semarchy/Build Project/_build/results?buildId=3799

- Agent - Hosted agent Agent Pool: "Azure Pipelines" https://dev.azure.com/semarchy/Build%20

[2021-01-14 15:52] damccorm opened #14230 "Courtesy push pipeline failures"
## Issue Description

Our courtesy push pipeline has started to fail consistently, we should get that fixed up. Its failing on the update unified deps step - https://dev.azure.com/mseng/PipelineTools/_build/results?buildId=14098132&view=logs&j=39b35c2a-6bbc-5806-91b1-4f11d00d1f59&t=ab027f4d-fc26-5299-7183-aa2f205e36b6

I'm routing this to our ABTT team, I'm happy to help out on this one though, ju

[2021-01-14 15:56] damccorm opened #14231 "Courtesy push pipeline should notify on failures"
## Issue Description

This is related to #14230 - right now if our courtesy push pipeline fails, it does so silently. We should add an extra step to the pipeline that checks if it was a courtesy push run, only runs on failure, and notifies the team that it failed so that we can manually intervene. It could use our slack integration like we do here - https://github.com/microsoft/azure-pipelines-tas

[2021-01-14 16:11] egor-bryzgalov commented on #14229
Closed as duplicate of #14228

[2021-01-14 16:11] #14229 closed

[2021-01-14 16:34] madanbhavi commented on #14218
We use - task: AzureFunctionApp@1

Here is the job details

jobs:
  - deployment: Deploy_Web_Stg_Slot
    pool:
      vmImage: ubuntu-16.04
    variables:
      - name: "environment-name"
        value: "dev"
      - group: InfraVar-Dev
      - name: release
        value: ${{Parameters.release}} ${{Parameters.releasenumber}}
      - name: servicename
        value: ${{Parameters.servicename}}

[2021-01-14 16:36] egor-bryzgalov commented on #14230
`Error: Cannot find module 'D:\a\1\s\azure-pipelines-tasks\ci\courtesy-push\courtesy-push.js'` This exact error can appear if it's not a 3rd sprint week as per `whatsprintis.it`. AzureDevOps checkout is skipped in this case and hence the path previously mentioned becomes invalid since the tasks' repo is cloned to `D:\a\1\s\` directly. it seems that we can't just override the `WEEK` variable since

[2021-01-14 17:01] sarod commented on #14229
Sorry about the duplicate I thought github didn't create the first one because I received a 404 when I clicked "create"

[2021-01-15 07:42] lukasztokarski-tomtom commented on #13916
@egor-bryzgalov any hints from your side?
Btw. today I have replace two `Bash@2` tasks with two `Gradle@2` task and the result is worrying:

1. Execution time is almost doubled
2. Instead of 5 aforementioned warnings I got 15 of those. It looks like 5 warnings per single gradle task.

My `Bash@2` tasks were executing just `./gradlew taskName`.

How could I start using the newly released version 2.

[2021-01-15 07:51] AmrutaKawade commented on #13170
@andrew-sumner if you check your first log and second log after adding proxy settings in .proxy and .proxybypass `Agent.ProxyUrl` value is properly set. In initial log it was undefined. also error has changed

Terraform task uses terraform cli to run commands
and FunctionApp task uses nodejs to make webrequest

I think this issue is particularly when nodejs is used. here https://github.com/microso

[2021-01-15 08:19] egor-bryzgalov commented on #13916
Hi @lukasztokarski-tomtom

I'm sorry for the delay. We've faced some issues with the deployment. We are working on it now. The updated task is going to get available soon. I'll keep you posted.

[2021-01-15 09:05] DhirajKhot commented on #14194
Hey @phanikmmsft
Can you provide any updates on this issue?

[2021-01-15 09:06] DhirajKhot commented on #14193
Hey @phanikmmsft / @damccorm
Can you provide any updates on this issue?

[2021-01-15 09:06] DhirajKhot commented on #14192
Hey @phanikmmsft / @damccorm
Can you provide any updates on this issue?

[2021-01-15 09:38] #13255 closed

[2021-01-15 10:02] GrumpyMeow commented on #13639
I also ran into this issue:
[code]

[2021-01-15 10:31] josefschabasser commented on #13639
Are you using an old version of the DockerCompose task?
The PR was merged, tasks v0.179.0 and newer contain the fix.

[2021-01-15 11:42] EwanNoble opened #14232 "DotnetCoreCLI task should fail when no tests are found"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DotNetCoreCLI

## Issue Description

After a project restructuring earlier today our pipelines stopped running tests and went unnoticed for longer than desired due to pipelines remaining green. Currently when `dotnet test` is run and no tests are found this is only logged as a warning:
https://github.com/

[2021-01-15 12:06] ashwinsangem commented on #14205
Hi @sandersaares, this is expected behavior.
the _projects_ input is valid only when _publishWebProjects_  is false. See [this](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DotNetCoreCLIV2/task.json#L105). The [help text](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DotNetCoreCLIV2/task.json#L98) of _publishWebProjects_  input is also helpful in unde

[2021-01-15 12:07] ashwinsangem commented on #14205
Let me know if you have any questions.

[2021-01-15 17:11] sarndt opened #14234 "HelmDeploy@0 task: cannot list resource "pods" in API group "" in the namespace "kube-system""
## Required Information

**Question, Bug, or Feature?**
*Type*: Question, maybe Bug?

**Enter Task Name**: HelmDeploy@0

## Environment

    Server - Azure Pipelines
    Agent - Hosted

## Issue Description

Helm Version: 2.x
When trying to use the Helm Deploy task with an environment specifying the connection details, like so:

[code]

This task will fail with the following error:

[code]

**Ques

[2021-01-15 17:31] japj commented on #13309
The issue is still valid, but it is unclear to me who the product owner is for this (and why it’s not being picked up)

[2021-01-15 17:50] GrumpyMeow commented on #13639
We are using Azure DevOps, so I don’t think we have control over which version of a task we use.
I’ll look into the “missing quote”, maybe that’s the root cause. But I would expect to see an error to occur. Thanks

[2021-01-15 18:48] #13289 closed

[2021-01-15 20:33] twahl0630 commented on #10499
so I know this might be closed but I do not get this error in VS 2019 in a local build however I get this error in Azure builds
`<ArtifactReference Include="$(DacPacRootPath)\bin\Debug\master.dacpac">
      <HintPath>$(DacPacRootPath)\bin\Debug\master.dacpac</HintPath>
      <SuppressMissingDependenciesErrors>True</SuppressMissingDependenciesErrors>
      <DatabaseVariableLiteralValue>master</Data

[2021-01-15 21:29] madanbhavi commented on #14218
@chshrikh

We noticed below 2 warnings in our logs when webpack is running, do you think this may be causing the issue ? and any idea how to over come this ?

webpack: ./node_modules/diagnostic-channel-publishers/dist/src/azure-coretracing.pub.js; Module not found: Error: Can't resolve '@opentelemetry/tracing' in

webpack: ./node_modules/applicationinsights/out/AutoCollection/NativePerformance.js;

[2021-01-16 18:46] #10312 closed

[2021-01-17 00:55] #13302 closed

[2021-01-17 07:05] sandersaares commented on #14205
I do not have any questions. I understand how the task operates. This feedback is intended to emphasize that the way the task operates is problematic and difficult to understand. I recommend the task be redesigned without this "modality".

[2021-01-17 15:21] #13136 closed

[2021-01-17 15:32] beatcracker commented on #14232
I'd vote for configurable since, I, for one, use a single template for dozens of projects and not all of them have tests. Making this task fail when no tests are found would be a breaking change.

[2021-01-18 00:54] #13308 closed

[2021-01-18 00:54] #11961 closed

[2021-01-18 05:08] shigupt202 commented on #14119
Closing stale issue. Feel free to reopen it in case you need more clarity.

[2021-01-18 05:08] #14119 closed

[2021-01-18 05:46] tauhid621 commented on #13998
Closing the issue.
PR : #14135

[2021-01-18 05:46] #13998 closed

[2021-01-18 06:25] shigupt202 commented on #13546
Sorry for the delayed response. This doesn't look like a task related issue. Did you check this issue in docker/registry?
https://github.com/docker/distribution/issues/2225

[2021-01-18 07:27] pjivers-bom commented on #6885
+1

[2021-01-18 08:08] EzzhevNikita commented on #14231
Created [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/14236)

[2021-01-18 08:42] miketimofeev opened #14237 "AzureKeyVaultV1 started to escape % symbol in passwords since 1.181.0"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureKeyVault

## Environment
- Server - Azure Pipelines:
account name — mseng
project name — AzureDevOps
build definition name — macOS-10.15_stable
buildid — 14128504

- Agent - Private:
OS — Ubuntu 20.04
Agent version — 2.177.1

## Issue Description

Starting from task version 1.181.0 passwords in the keyva

[2021-01-18 11:41] KDSBest opened #14240 "Bug ServiceFabricPowerShell Value does not fall within the expected range"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: ServiceFabricPowerShell

## Environment
- Server: Azure Pipelines
- Agent: Hosted windows-latest, vs2017-win2016 and private

## Issue Description

If we want to run a script that worked 2 weeks ago with the Service Fa

[2021-01-18 11:50] #14221 closed

[2021-01-18 11:54] ds-ms commented on #14237
Hotfix for this issue has been rolled out. Do validate and close this issue accordingly 😄

[2021-01-18 12:03] Ganeshrockz commented on #14067
Hi @patriziobrunoms. Sorry for the delay from my end. I tried the following case
1. Created a secret in my keyvault in azure.
2. Referenced the same in a variable group in azure devops
3. Linked the variable group to the release pipeline
4. Referenced the variable in my Invoke Azure function task function key input.

My azure function got invoked and i was able to see the expected logs. Can you al

[2021-01-18 14:55] anatolybolshakov commented on #6885
Hi everyone, this looks like an enhancement for Azure DevOps itself, this repo is mostly for pipeline tasks - could you please fill in ticket in https://developercommunity.visualstudio.com to get right eyes on it?

[2021-01-18 15:08] miketimofeev commented on #14237
@ds-ms we see no errors, thank you!

[2021-01-18 15:08] #14237 closed

[2021-01-18 15:59] vivek425ster commented on #14212
@karambawow Can you please tell me the script which you are using to update the task ?
And how also are you using On Prem or hosted version.

And what is the agent which you are using ?
Is it hosted or your own agent machine ?

[2021-01-18 16:35] xenon8 opened #14243 "DownloadBuildArtifacts@0 Project setting isn't clear if it wants a Project ID or Project Name"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadBuildArtifacts@0

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account na

[2021-01-18 17:05] cgockeln42 commented on #12101
same for me. Would be very nice

[2021-01-18 19:16] droopy4096 commented on #14184
ticket already exists https://developercommunity2.visualstudio.com/t/shcontinueOnErrorsh-should-have-the/918346?entry=problem&space=21 since last year with no action on it.

[2021-01-18 19:23] wadeem commented on #13729
For me it was solved with version 4, as described here:

https://brettmckenzie.net/2020/03/23/azure-pipelines-copy-files-task-authentication-failed/

[2021-01-18 19:50] JimmyBanks opened #14245 "Ubuntu 20.04 is not a selectable gallery image in Pipelines"
Feature
*Type*: Release Build

**Enter Task Name**: PackerBuildV1

## Environment
Azure Pipelines

- Agent - Hosted or Private: Hosted

## Issue Description
Ubuntu 20.04 is not available in:
Releases->Tasks->Build Machine Image->Auto Generated Packer Template->Gallery Image

The Ubuntu version available to be selected as an image are 14.04.4, 16.04, and 18.04

Ubuntu 20.04 image is available elsew

[2021-01-18 21:00] cloudlucky opened #14246 "AzureResourceManagerTemplateDeployment@3 or AzureResourceGroupDeployment@2 outputs not working when a value is null"
*Type*: Bug

**Enter Task Name**: AzureResourceManagerTemplateDeployment@3 and AzureResourceGroupDeployment@2 outputs fail to create variable when the property value is null.

list here (V# not needed):
* AzureResourceGroupDeploymentV2
* AzureResourceManagerTemplateDeploymentV3

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
    - If using Azure Pipelines, provide th

[2021-01-18 22:10] mikanyg commented on #13455
@AmrutaKawade I ran into this issue, and tried to use to documentation you refer to. It states that between stages the variable syntax can be used (seperate document found here: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops#use-outputs-in-a-different-stage), which says this syntax should work.

[code]
I can confirm this works for Jobs between stages bu

[2021-01-19 09:58] egor-bryzgalov commented on #14230
Merged the PR.
A fix was applied to avoid build failing if the pipeline runs not on the third week of a sprint (some steps are expected to be skipped in this case instead of build failing).
A fix was applied to avoid build failing if some commits are pushed to a release branch before a sprint ends.

[2021-01-19 09:58] #14230 closed

[2021-01-19 10:47] nulltoken commented on #14197
@bishal-pdMSFT Kind bump?

[2021-01-19 11:33] ssaarinen opened #14247 "typed-rest-client/HttpClient missing from ContainerStuctureTest task"
*Type*: Bug

**Enter Task Name**: ContainerStructureTestV0

## Environment
- Azure Pipelines
- Agent - Hosted

[code]

## Issue Description

Task fails:

[code]

## Workaround
https://github.com/microsoft/azure-pipelines-tasks/issues/14247#issuecomment-768834565

[2021-01-19 14:36] doittjdoughty commented on #14156
@bishal-pdMSFT  any updates one this? Seems like a simple enough fix that would add a value to the login task.

[2021-01-19 14:46] Kolky commented on #13033
I'm having the same issue. Before this task I also do a NuGetAuthenticate, because we are using a DevOps Artifact Repo.

[2021-01-19 15:36] LoekvanHaaster opened #14248 "MavenV3 task with SonarQube: jacoco.exec report deprecated, must use jacoco.xml report"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: MavenV3

## Issue Description

I want to import JaCoCo reports to sonarQube after a Maven build.

The use of -Dsonar.jacoco.reportPaths is deprecated, adviced is to import JaCoCo reports in xml format. The MavenV3

[2021-01-19 16:20] madanbhavi commented on #14218
@chshrikh / @aksm-ms / @nadesu ,

On further analysis we noticed that as we were using webpack it was getting only the dependents used to run the functions .We added a step in Azure pipeline to do npm install to include node_modules into dist folder. After this changes distributed tracing seems to be working fine.

By doing this our bundle size is getting increased , can you please suggest if this

[2021-01-19 17:29] skyfrk commented on #13893
Why does `DOTNETCORE|5.0` work as `Runtime Stack`? Does the Azure Pipelines Task magically convert it to `DOTNET|5.0`?

According to the [docs](https://docs.microsoft.com/en-us/azure/app-service/overview#built-in-languages-and-frameworks) one can retrieve all available runtime stacks for an App Service (Linux) via `az webapp list-runtimes --linux`.

I ran given command and acccording to this resul

[2021-01-19 17:32] d-miles commented on #13836
Hi @anatolybolshakov:

The build definition JSON is included in the zip file that is attached; I mentioned this in the first post as well.

The build definition updated successfully, and to prove that there was no possible syntax issue, I can also confirm that the build worked perfectly fine if I just disabled the step that updated the build definition during the build.

This issue was only happen

[2021-01-19 19:22] InternetPseudonym commented on #11508
lorem ipsum sit dolor amet.

[2021-01-19 22:49] djpugh commented on #9565
@vtbassmatt - I'd suggest some clarification here on both this issue the error message that's shown is not at all helpful, and I'm not clear on how your comment resolves this for @jason-e-gross - I am getting a similar error when expanding conditions set as parameters in a template, but the syntax matches your example ```dependencies.<jobname>.outputs['stepname.outputvar']```

[2021-01-20 04:32] andrejpk opened #14249 "AzureWebApp deploy - strange error trying to redeploy to a site replacing directory w file w the same name (fixed but had to do manual cleanup)"
## Required Information

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: AzureWebApp

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    https://dev.azure.com/andrejk/servo/_build/results?buildId=1209

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent

[2021-01-20 05:14] ashwinsangem commented on #14205
@sandersaares makes sense. I'll escalate this to the PM and see what can be done. Thanks for the feedback :)

[2021-01-20 08:40] KDSBest commented on #14240
Our Service Connection Server Thumbprint had a leading ,.

[2021-01-20 08:40] #14240 closed

[2021-01-20 09:19] Duracell1989 commented on #14170
Any update on this?

[2021-01-20 09:36] ericstrongDevOps commented on #13014
any update on this issue? TIA

[2021-01-20 11:35] onlyutkarsh opened #14250 "helm uninstall command is not available in HelmDeploy task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Helm Deploy

## Environment
- Server - Azure Pipelines or TFS on-premises?

Azure Pipelines

- Agent - Hosted or Private:

    Private, RHEL
    Current agent version: '2.177.1'

## Issue Description

In Helm 3, delete

[2021-01-20 14:21] Roman-Rostovtsev commented on #14099
The link you provided with relates to data-driven xUnit and NUnit tests, it is not my case. So it seems such behavior is documented nowhere and it is also illogical and inconsistent.

[2021-01-20 14:52] tinytone opened #14252 ""Feed does not exist" when using the dotnet test or publish task (.net 5)"
Hi there,

I configured a .net build pipeline to build a .net 5.0 solution containing 2 applications:
 - A Web Api project
 - A Blazor project

The build pipeline last successfully ran on the 10th of December 2020 without issues.
5 weeks later (on January 20th) I've tried to re-run the build pipeline again (no code changes) and the ADO build server is failing with what looks like a Feed that's ret

[2021-01-20 15:49] #14252 closed

[2021-01-20 15:59] phenixita opened #14253 "Publish Build Artifact from Linux Agent"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Publish build artifacts

Hi team,
at the time of this writing the Publish build artifacts task only supports Windows agents when used in the file share mode. Is there any plan to support the scenario also for Linux agents?

![image](https://user-images.githubusercontent.com/17789308/105201155-d684e400-5b40-11eb-8f3e-68ea393b7e32.

[2021-01-20 16:03] Bouke commented on #11770
May I suggest reopening this ticket? We're running into the same problem with the cache accumulating package versions and causing unbounded growth. I could imagine an option to not restore the cache for master builds when there's not an exact cache hit.

[2021-01-20 16:20] Bouke commented on #14211
When building locally with the distributed logger (`msbuild -dl:"CentralLogger,Microsoft.TeamFoundation.DistributedTask.MSBuild.Logger.dll*ForwardingLogger,Microsoft.TeamFoundation.DistributedTask.MSBuild.Logger.dll"`), the warnings reported don't match the console output from msbuild. So the problem is with this logger, which is hard-coded by the MSBuild / VSBuild tasks.

[2021-01-20 16:32] Bouke opened #14255 "Ability to disable MSBuild distributed logger"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: MSBuild / VSBuild

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
- Agent - Hosted or Private: Hosted

    - If using Hosted agent, provide agent queue name:
      Pool: Azure Pipelines
      Image: windows-2019
      Agent: Azure Pipelines 3

## Issue Description

I've reported a bug with the [dist

[2021-01-20 16:33] #14231 closed

[2021-01-20 16:34] timfish commented on #13888
We have also found that `AzureFileCopy@4` does not copy JavaScript files with the correct content type which is a pain!

Does this require a major version bump to v5?

[2021-01-20 20:24] Bouke commented on #11864
2021-01-20T15:48:00.9290460Z Downloaded 3,572.1 MB out of 3,572.1 MB (100%).
2021-01-20T15:48:00.9291335Z Download statistics:
2021-01-20T15:48:00.9291556Z Total Content: 3,572.1 MB
2021-01-20T15:48:00.9291846Z Physical Content Downloaded: 1,521.3 MB

So 1500 MB in around 6:26 is about 31 Mbps. Being this slow, it's probably faster just to skip the cache completely and just download the packages f

[2021-01-20 20:38] lloydkevin commented on #1441
Just "worked through" this issue myself today. I don't know what combination of settings is needed, but here's what worked while deploying on a Windows 2019 Azure Pipeline Agent:

- `/p:CommandTimeout=3600 /TargetTimeout:3600` as paramters
- Powershell script to modify the registry listed above.

[2021-01-20 22:32] Viper61x23 commented on #14246
I am also having exactly the same issue, here is part of my ARM template with the output.

`	"outputs": {
	"endpoints": {
      "type": "array",
      "value": [
        "[if(equals(parameters('tfm-exists-account-assets'), 1), reference(resourceId('Microsoft.Network/trafficManagerProfiles', variables('tfmp-account-assets')), '2018-08-01', 'Full').properties.endpoints, json('[]'))]",
        "[if(e

[2021-01-21 03:44] shigupt202 commented on #14250
Helm task supports both Helm 2 and Helm 3. I don't think removing `delete` would be possible at the moment. Can you try specifying uninstall explicitly in the Command field and remaining parameters in the arguments and then run the pipeline?

[2021-01-21 05:28] #14205 closed

[2021-01-21 05:29] #14159 closed

[2021-01-21 05:37] ashwinsangem commented on #14156
@doittjdoughty, I will take a look and get back.

[2021-01-21 05:40] little-eyes opened #14257 "AzureRmWebAppDeployment@4 runFromPackage deploy not working in Azure App Service"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeployment

list here (V# not needed):  4
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines

[2021-01-21 09:05] ossentoo commented on #12150
Yes, just change the project Id in the yaml above.

You can use az devops command line to list the project ids in your Azure DevOps organisation.

[2021-01-21 09:33] onlyutkarsh commented on #14250
Understand. It works but gives validation warning as there is list of valid values for `command` field. Would be good if `custom` option is added to the pickList, allowing us to execute custom commands.

https://github.com/microsoft/azure-pipelines-tasks/blob/e5a345be00dd924af015c62cb6c1437a375f8b00/Tasks/HelmDeployV0/task.json#L173-L186

![image](https://user-images.githubusercontent.com/2685029/

[2021-01-21 09:43] shigupt202 commented on #14250
Got it. We will add it to our backlog. In the mean time you can continue with the above approach.
If possible, you can also raise a PR for this if you'd like a quick fix. I'll take it forward.

[2021-01-21 10:06] onlyutkarsh commented on #14250
yep.. will do. thanks for looking in to it. I will keep the issue open and link to this if I raise a PR if its okay?

[2021-01-21 10:16] shigupt202 commented on #14250
Sure

[2021-01-21 11:36] sturlath commented on #11546
Just wanted to add that you can get the project id by writing it out with System.TeamProjectId

[code]

I added System.DefinitionId also because you can use it in e.g. in DownloadPipelineArtifact@2 for pipeline but note that you can also just use pipeline: 'your_build_pipe_name'

[code]

This hopefully saves somebody time!

[2021-01-21 12:29] jplck commented on #13101
I actually ran into the same problem some minutes ago. After some digging I realised, that the problem was, that I was setting the tag to a run rather than to a specific build. So check that you have added your tags either via the UI or cli (https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/pipelines/build/tag?view=azure-cli-latest) to your builds. In my case that helped.

[2021-01-21 13:45] merric-rocketpartners commented on #13916
We've had to remove all coverage reports here. Hard to deploy to prod when can't show leadership that services are covered.

[2021-01-21 14:32] damianon commented on #13845
No reply yet

[2021-01-21 19:09] bitva77 opened #14262 "Docker Build Task 1.181.0 Fails"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Docker

specifically Docker V1

## Environment
- Server - Azure Pipelines or TFS on-premises?

Azure Pipelines

- Agent - Hosted or Private:

Private

## Issue Description

[code]

Note that we are using version 1.181.0 of the task.  A few hours ago we were using version 1.177.0 of the task and it worked fine.

Here's the successful

[2021-01-21 20:13] ipointer-certifid commented on #14262
This may be related to an issue I'm having.  It appears that the tag source is injecting a tag for the working path of the build, which is adding a space to the tag, and causing docker to choke.

Take, for example:

[code]
Notice the space between that last tag's prefix, and the work location ☝️ .

For reference, the relevant part of my YML:
[code]

[2021-01-21 20:41] ajay2java2dev commented on #9458
For me it was the incorrect path settings as @Ashanmg mentioned. We were deploying the zip package to storage and using WEBSITE_RUN_FROM_PACKAGE to read it (https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-technologies#trigger-syncing). But the URL set was incorrect and the path (SAS setting) was not correct.

Evaluating the URL path manually resolved the issue for me. T

[2021-01-21 21:24] ipointer-certifid opened #14264 "Docker@2 Task ("Build") adds tag with space in path, breaking the build"
It appears that the tag source is injecting a tag for the working path of the build, which is adding a space to the tag, and causing docker to choke.

I'm not sure if we want to fix this with a simple PR to the Docker task to change `tag` to `tag.Trim()`, or if this is an issue that needs to be fixed higher up in the chain, or both.

See: https://github.com/microsoft/azure-pipelines-tasks/blob/e5a

[2021-01-22 00:52] andrew-sumner commented on #13170
What is your agent version after upgrading server https://github.com/microsoft/azure-pipelines-agent? Agent Version is 2.170.1
Have you restarted your machine after setting environment variable? No, but I did restart the agent
Also both tasks are running on same machine or different machine? Tasks run on same machine
Have you tried using different machine to run this task? Yes - 3 different machin

[2021-01-22 00:59] andrew-sumner commented on #13170
Azure DevOps Server Version is Dev18.M170.6

[2021-01-22 01:22] modmoto commented on #14264
I use it similarly like that:
[code]
On pull-request build the `IS_LATEST` variable is null, on master builds it is `latest`. In the version 2.176.0 this resulted in a command where the `IS_LATEST` was ignored and the image did not have the `latest` tag. Now this breaks my build because it tries to tag the build like that: `--tag myImage: ` (mark the empty space).

[2021-01-22 01:58] rhinon commented on #14237
We started seeing this issue today, how can we assert we have this hotfix? We've updated the agents and the version is still 1.181.0.

[2021-01-22 03:24] AmadeusW commented on #13404
Our CI pipeline just started to fail with this error
Excerpts from the log:
Setup:
[code]
More setup:
[code]
After test execution:
[code]
@ShreyasRmsft how can we restore our ability to run tests?

[2021-01-22 03:59] #13325 closed

[2021-01-22 05:08] shigupt202 commented on #14264
@ipointer-certifid Could you please check whether your `$(tag)` variable also has extra newline or an empty value like @modmoto pointed out? We'll probably need to add a null check in that case.

[2021-01-22 06:33] shigupt202 commented on #14264
Whitespaces are not trimmed in the newer versions of azure-pipelines-task-lib after [this](https://github.com/microsoft/azure-pipelines-task-lib/commit/ea7cfd92c86568620a761ab092d0bcc4816ed074#diff-8c0d3606f5533debbaff6b9bb823728034f2bac6694ef72adecb402da0664d25) commit. We updated the version of this library in the last deployment and that's why it started breaking some of the pipelines. We are w

[2021-01-22 06:49] aksm-ms commented on #14257
@little-eyes Is the task failing? Can you please send the logs from tasks?

[2021-01-22 07:23] #14104 closed

[2021-01-22 09:29] shigupt202 commented on #14262
@bitva77 Can you share that part of the pipeline which is using DockerV1?

[2021-01-22 09:41] #12596 closed

[2021-01-22 10:10] truthz03 opened #14267 "Test step hanging in Azure Devops build pipeline"
Hi, I'm trying to run some WebApi tests inside the an Azure pipeline with the DotNetCoreCLI@2 task but after about 18min the tests will stuck and after 60min they get aborted.

I'm using .Net Core 3.1 and xUnit 2.4.1 on a Linux build machine.

Inside VisualStudio the tests run without problems.
If neccassary I'm unsing async for the tests because the HttpClient.GetAsync is also async. (I also trie

[2021-01-22 10:18] ajinkya599 commented on #13845
This was removed in DockerV2 in order to simplify the YAML specification of the task, as it was not being used widely.
To work-around this, you will need to set-up the environment ([Docker cli environment variables](https://docs.docker.com/engine/reference/commandline/cli/#environment-variables)).  [Pipeline secrets](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=az

[2021-01-22 10:19] nulltoken commented on #14197
@bishal-pdMSFT It looks like version `AzureResourceGroupDeployment` 2.180 is now being used on our release agents. And the encoding issue is now back.

Could you please check my previous comment and the questions and help me understand how to properly deal with this?

[2021-01-22 10:33] ajinkya599 commented on #12168
There has been no customer ask for such a feature. If there is a good set of customers asking for this feature, we can evaluate this.

[2021-01-22 12:22] shigupt202 commented on #14264
Could you please share the ADO org name as well?

[2021-01-22 12:39] renenaplava opened #14268 "AzureResourceGroupDeployment@2 doesn't support multi-line strings"
*Type*: bug

**Enter Task Name**: AzureResourceGroupDeployment

## Environment
- Azure Pipelines
- Agent Info:

![image](https://user-images.githubusercontent.com/33029406/105489820-26d08300-5cb4-11eb-813c-c5b836f2a4cf.png)

## Issue Description

It seems like the **AzureResourceGroupDeployment** task doesn't handle correctly multi-lines in my ARM template. There is a user-defined function in my t

[2021-01-22 12:50] modmoto commented on #14264
https://dev.azure.com/w3champions/

that is us, or do you want it from @ipointer-certifid ?

[2021-01-22 13:28] nulltoken commented on #14197
@bishal-pdMSFT I've tried to move the thing a little bit further.

I've updated the task we use to extract the outputs from the ARM to explicitly set the env variable `DECODE_PERCENTS`

[2021-01-22 14:23] shigupt202 commented on #14264
Thanks @modmoto. I wanted it from both actually. 😄
The deployment with the fix will complete on all the rings by next week. I'll keep you posted.

[2021-01-22 14:28] #14264 closed

[2021-01-22 15:24] modmoto commented on #14264
ok, thanks a lot for the quick fix! =D

[2021-01-22 15:53] ruudhe commented on #14264
We experienced this too, all our pipelines started failing.

For now we have set our tasks to the last known working version:

- task: Docker@2.176.0

[2021-01-22 15:59] kikisaeba commented on #14197
Hello @bishal-pdMSFT,

We meet the same issue in our pipeline. Our production delivery is impacted.
Could you help us to understand and fix it ?

Thanks

[2021-01-22 16:50] bitva77 commented on #14262
[code]

[2021-01-22 18:08] glloyd2010f commented on #13997
@bishal-pdMSFT any update on this?

[2021-01-22 18:25] doittjdoughty commented on #14156
@ashwinsangem Awesome! Thank you!

[2021-01-22 20:02] avagraw commented on #13442
@shoop It seems like you were able to get around this issue. Wanted to make sure that you are no longer stuck on this?

We plan to make the required changes to the documentation, error message as well as the input format.

[2021-01-22 20:55] milbrandt opened #14271 "BatchScript not respecting workingFolder when multiple repos are checked out"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: BatchScript@1

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure DevOps Server 2020 (Dev18.M170.6)

- Agent - Hosted or Private:

    - Self-hosted (private) agent
    - Current agent version: '2.170.

[2021-01-22 20:59] aressler38 opened #14272 "Add OS validation before deployment"
*Type*: Feature

**Enter Task Name**: AzureFunctionApp

## Environment
Hosted AzureDevOps Agent.

## Issue Description

It would be good if the AzureFunctionApp task verified the host OS before deploying and provide a user-friendly error message if something is mismatched. For example, if you have a Windows app service setup, but you deploy using the "functionAppLinux" appType, then you get a conf

[2021-01-22 23:11] modmoto commented on #14264
Ah nice, was not aware that you could set such a specific task number. Will use this workaround until the fix is rolled out :)

[2021-01-23 12:49] onlyutkarsh commented on #14250
Tried to work on this, but hitting the issue mentioned https://github.com/microsoft/azure-pipelines-tasks/issues/11136. I see a PR related to that issue has been merged but I still cannot build the extension. **Any suggestions?**

After `npm install` I am trying to build the extension with command `node make.js build --task HelmDeployV0` but error I see is as below

[code]

[2021-01-23 16:59] shigupt202 commented on #14250
Can you try updating the node version to `v10.16.3`? If that doesn't work, you can try to manually download this package as stated in the mentioned issue. If that also doesn't work, we will take it up.

[2021-01-23 22:28] laazik commented on #5641
For those who are struggling with single solution multi project build setup in Azure pipeline for Docker. I had exactly the same issue, and if you look into the command line that the build server gives out you can see that it tries, by default, to make a build in the project directory.

So to fix this, you most likely need to add a `buildContext: $(Build.SourcesDirectory)` to the actual build file

[2021-01-24 04:00] #11985 closed

[2021-01-24 08:43] NWH-SAmin5 commented on #4127
I am still getting this error, please see below

Error: EMFILE: too many open files, open 'D:\a\_temp\temp_web_package_9235376407089184\node_modules\tar-fs\test\fixtures\d\file1'

Log:
2021-01-24T08:18:19.9115523Z ##[section]Starting: Azure Web App Deploy: <app service name>
2021-01-24T08:18:19.9336583Z ==============================================================================
2021-01-24T08:18

[2021-01-24 08:45] NWH-SAmin5 opened #14273 "Error: EMFILE: too many open files, open 'D:\a_temp\temp_web_package_9235376407089184\node_modules\tar-fs\test\fixtures\d\file1'"
Error: EMFILE: too many open files, open 'D:\a\_temp\temp_web_package_9235376407089184\node_modules\tar-fs\test\fixtures\d\file1'

Log:
2021-01-24T08:18:19.9115523Z ##[section]Starting: Azure Web App Deploy: APP_SERVICE_NAME
2021-01-24T08:18:19.9336583Z ==============================================================================
2021-01-24T08:18:19.9336939Z Task         : Azure Web App
2021-01-2

[2021-01-24 09:42] fhtino commented on #11700
Any news on this?

[2021-01-24 14:15] nemrood commented on #13616
Same problem here ! Please tell me what information you need in order to troubleshoot this. Thanks

[2021-01-24 14:48] riteshmaddala commented on #13616
Hi,

I resolved this issue by updating the Jenkins configuration. Check the Load Balancing settings and make sure there is no extra endpoints which is not required.

For me it was https://hostname:port/**jenkins**

**/jenkins** was an extra parameter and I removed it and that resolved the issue.

Thanks

[2021-01-24 18:12] gh-andre opened #14275 "GitHubRelease task converts `+` characters to `.` in asset names due to missing URL encoding"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: GitHubRelease

## Environment
- Server - Azure Pipelines

- Agent - Hosted. Type doesn't matter - all behave the same way. See description.

## Issue Description

Plus characters in GitHub release asset file names are converted to periods when they are uploaded to GitHub. For example, `hello-world-5.0.0+master.001.tar.gz` is uploaded

[2021-01-24 18:13] iamalexmang commented on #14021
My apologies for the late reply to this thread.
In the meantime I prepared a complete set of templates and YAMLs to elaborate the issue. By doing so I came up with several ideas and eventually managed to get it to work - not sure if this is of my doing or the task got updated under the hood - in which case, my apologies for the arrogance.

TL/DR: **in this scenario I was trying to get the ARM temp

[2021-01-24 18:13] #14021 closed

[2021-01-24 18:30] onlyutkarsh commented on #14250
Great! Downgrading node to v10.16.3 worked. I have two approaches to support uninstall commands. Can you let me know what is the preference?

1) Change to `task.json` so that I add `uninstall` command to the list of supported commands.
   **Pros**: Removes validation warning shown above
   **Cons**: Works only for `uninstall` command

2) Add `custom` option to `command` field and add additional si

[2021-01-25 03:39] shigupt202 commented on #14250
The custom command is supported even today. You can give any input to the command field, so I don't think it makes sense to add `custom` option. You can add `uninstall` command.
The L0's should have passed, otherwise the checks in your PR will fail. Can you pull latest master and check again?

[2021-01-25 07:03] shoop commented on #13442
@avagraw Thank you for checking in, I'm not stuck on this. Glad to hear that this will be improved!

[2021-01-25 07:20] FrancescElies commented on #14228
I believe this issue is affecting other tasks too, I am having similar issues with custom builds too.

Even though I configured all my jobs with `cancelTimeoutInMinutes: 1` when I click cancel tasks are being executed until the end.

E.g. https://mbbm-ast.visualstudio.com/AST/_build/results?buildId=49292&view=logs&s=01df7332-ddd3-5c82-f240-d009192798a8&j=79b13df5-4950-54f0-8a25-090624fa8a5b

[2021-01-25 09:59] MrzJkl commented on #4734
Solution for Azure Pipeline in Azure DevOps:

[code]

Set the Environment Variable `NODE_OPTIONS` with value `--max_old_space_size=16384` in your Build-Task.

[2021-01-25 10:22] dnperfors commented on #12375
@dirien, A work around for this is setting the `http_proxy` and `https_proxy` environment variables (and possibly the `no_proxy` variable as well) this will cause the task to go through the proxy,

[2021-01-25 10:56] FrancescElies opened #14276 "DownloadPipelineArtifact@2 latestFromBranch not downloading latest build"
## Required Information

**Question, Bug, or Feature?**  Bug

**Enter Task Name**:  DownloadPipelineArtifact@2

## Environment
- Azure Pipelines, see [build](https://mbbm-ast.visualstudio.com/AST/_build/results?buildId=49266&view=logs&j=b8799a56-5a81-5876-c964-30b15b245cd4)

## Issue Description
When I use `DownloadPipelineArtifact` in combination with `latestFromBranch`

    - task: DownloadPipel

[2021-01-25 10:58] FrancescElies commented on #13656
@anuragc617 @phanikmmsft  any news on this?

[2021-01-25 12:02] amit-avit commented on #14273
@NWH-SAmin5 can you please try making use of: "Azure App Service Deploy" (AzureRmWebAppDeployment@V4)

[2021-01-25 12:30] FrancescElies commented on #14276
It seems I overlooked the  `allowPartiallySucceededBuilds`, it's default is `fase`, which means  builds `succeededWithIssues` are not considered.

Setting  `allowPartiallySucceededBuilds` to `true` solves it. Closing.

[2021-01-25 12:30] #14276 closed

[2021-01-25 12:40] onlyutkarsh commented on #14250
yeah, only issue with already supported custom command is that, YAML is getting validated by what's in the task.json "command" field. So any custom command user types which is not in the list of allowed values will give warning in YAML. I was trying to avoid that. Let me know if its okay for now and I will just commit the task.json file which has "uninstall" added to the list.

[2021-01-25 14:38] NWH-SAmin5 commented on #14273
Okay let me try using Azure App Service Deploy

[2021-01-25 15:39] ElvenSpellmaker opened #14277 "AzureFunctionAppContainer@1 ACR Authentication"
**Question, Bug, or Feature?**
Question

**Enter Task Name**: AzureFunctionAppContainer@1

## Environment
 - Azure Pipelines

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name: `windows-latest` currently.

## Issue Description

When using this task to try and deploy an image from an ACR it seems the container fails to start, the ACR has admin access enabled.

The

[2021-01-25 16:45] MattGal commented on #10810
I would very much like this retry to be implemented, please don't stale-ify this issue github bot.

[2021-01-25 16:54] IanBFarrell commented on #13955
I am running into a issue that may be related in Azure DevOps Tasks. When the npm task is run, some times it works and others it fails with a error of "##[error]TypeError: Cannot read property 'locationServiceData' of null" when I set system.debug to true, it gives me information about being unable to get packaging URIs (debug details below). Could this all be related?

##[debug]Acquiring Packagin

[2021-01-25 17:11] cmendible commented on #14277
Same thing is happening tome running `AzureWebAppContainer@1`

[2021-01-25 17:46] bormm commented on #10571
We have the same issue here and some colleagues now wasted some hours as the other guy. So I analyzed it a bit and it was not very hard to find this tricky thing. **So please MS fix it!**
The good thing is, that it is easy to fix. But first some words about the issue:

### The issue in Windows
It seems there is some "hack" in Windows, which fills the TEMP and TMP variable in some cases with the sh

[2021-01-25 18:10] NWH-SAmin5 commented on #14273
@amit-avit

I tried using "Azure **App Service** Deploy" and this does not work. But this one throwing error "credential cannot be null". I tried recreating Service Connection but still facing this issue.

I have attached both Log and YAML please review.
azure-app-service-deploy.log
azure-app-service-deploy.yaml.txt

Also previous failed Release for "Azure **Web App** Deploy" I have attached LOG a

[2021-01-25 18:20] phasmatic2k commented on #10571
I found a workaround, set indexSources to false.

[2021-01-25 18:52] nick3389 opened #14278 "XCode tests are failing"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-01-25 18:57] mihai-cindea commented on #10996
Bump.
Hit this on a multi repository pipeline for `pack`. Any plans to fix it any time soon?

[2021-01-25 21:54] bormm commented on #10571
Thanks for this hint!
It is of course also possible to set TEMP for the user running the agent to a value that is not affected by this issue, like "c:\user-temp" or something.

[2021-01-25 22:11] phasmatic2k commented on #10571
Thanks, this might be easier then my existing workaround 😀

[2021-01-26 00:27] #13177 closed

[2021-01-26 09:41] vasilevach commented on #9807
Hi, already updated the PAT, still 401. Is there another issue that might cause that?

[2021-01-26 12:13] podedra92 opened #14279 "AzureCLI@2 - az storage blob download fails on Windows 2019"
## Required Information

Seems like a specific Windows 2019 AzCLI Task issue - cant mimic on 2016
Also works Locally

## Environment
Azure pipeline
Private agent - Windows 2019
Az CLI 2.18.0
Agent Version 2.181.0

## Issue Description

The problem is this works locally and on pipeline against other servers other than Windows Server 2019

- task: AzureCLI@2
  displayName: 'Get Storage Account'
  in

[2021-01-26 12:29] hhovhann commented on #12067
I think in azure you can see the UI even without pom.xml changes because there is a built-in 0.8.4. version.
Can you confirm that your UI is also including all resources icons properly or you have broken icons as well?

[2021-01-26 13:15] RoykoSerhiy opened #14280 "PublishCodeCoverageResults@1 removes JavaScript on index.html page of coverage report"
## Required Information

Seems so that task is removing all JavaScript from index.html file of coverage report. After report coverage publishing in Code Coverage tab I see coverage information but I don`t see collapse buttons, grouping, and filter. When I'm doing report locally with the same params I have all JavaScript inside index.html and collapse buttons, grouping, and filter are visible. Is t

[2021-01-26 14:04] majorvin commented on #14173
Is there any update on this issue?

[2021-01-26 14:05] tillig commented on #12634
The error message here still needs improvement.

[2021-01-26 15:15] blmbyd commented on #8076
I have this same issue - I can't set array variable in JSON while using `IIS Web App Deploy`, but I can do it using `File transform` task. Both task are in this same pipeline. I'm forced to disable substitution in `IIS Web App Deploy`.

There is also second problem: both tasks transform numbers differently: `IIS Web App Deploy` is generating quotes ex. `"20"`, `File transform` not.

[2021-01-26 16:51] bsegault commented on #13756
We have a similar need in my organization.

We currently use PublishBuildArtifacts for temporary artifacts, because PublishPipelineArtifacts fails on multiple attempts (for instance, with unstable tests).
We also need to use DownloadPipelineArtifacts, because of #6739.

So we currently have a warning reported and must clean the downloaded artifacts manually to avoid conflicts.

Having an option fo

[2021-01-26 18:43] GammaPsh opened #14281 "DotNetCLI Task fails with Version Attribute in .csproj"
## Required Information

**Type**:
Bug

**Task Name**:
DotNetCoreCLI@2

## Environment & Agent
Azure Pipeline with Microsoft Hostet BuildAgent, yml head:
`pool:
  vmImage: 'windows-2019'
  ....`

No custom tools installed.
Custom Feed for one nuget package within our own team.
Source ist specified in nuget.config.

## Issue Description

We are building a Nugetpackage.
With most of the values for t

[2021-01-26 21:18] IanBFarrell opened #14282 "##[error]TypeError: Cannot read property 'locationServiceData' of null Error"
I am putting this here because the Developer Community told me to talk about my issue here. https://developercommunity2.visualstudio.com/t/errorTypeError:-Cannot-read-property/1285892

*Type*: Task Error

**Enter Task Name**: .Net Core and npm

## Environment
- Server - Azure Pipelines (rigsystemsis)

- Agent - Private (Linux)

## Issue Description

when .Net Core or npm runs about 50% (or more) o

[2021-01-26 23:14] tbuico-premera opened #14283 "Kubernetes task does not fail on failure"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Kubernetes

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team pro

[2021-01-27 01:41] sadedil opened #14284 ""Resource file has already set to" warning at the KubernetesManifest@0 task"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifest@0

## Environment

Azure Pipelines
Both of the Microsoft Hosted and On-Premise agents

## Issue Description

We are started to getting this error at the beginning of all `KubernetesManifest@0` tasks.

[code]

### Task logs

Logs above

[2021-01-27 04:26] jenciso commented on #13916
I noticed a new gradle task version (2.181) and the warning messages dissapeared, at least using 2.181 Agent version

![image](https://user-images.githubusercontent.com/2229964/105942711-888b4700-603e-11eb-962d-32a6f7d0a733.png)

[2021-01-27 06:14] lukasztokarski-tomtom commented on #13916
The same fix appeared on my side. No more warnings for Gradle Task.
Thank you for fixing the problem!

[2021-01-27 06:50] djentelmenis commented on #13971
I feel I have the same problem in our project - ever since we added a self hosted npm package from Azure Arftifacts

[2021-01-27 07:57] buckleyGI commented on #13971
@djentelmenis We have a ticket open with MS which we already spent a lot of time on. It is currently closed with the status "not enough info" (which is not justified IMO). Maybe you can add your conclusions to there as well? We still have the problem and are able to reproduce.

https://developercommunity.visualstudio.com/content/problem/1268824/cb-never-called.html

[2021-01-27 09:09] amit-avit commented on #13607
Closing due to inactivity.

[2021-01-27 09:38] ChrisGibson1982 opened #14285 "DownloadPackage@1 ignores specified view"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

*Type*: Bug

**Enter Task Name**: DownloadPackage@1

## Environment
- Server - Azure Pipelines

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or

[2021-01-27 09:40] tnsholding commented on #14173
Having same issue - preventing us from using Template Specs as our deployment pipelines uses AzureResourceGroupDeployment@3.

[2021-01-27 11:34] amit-avit commented on #14272
We can't add any logic or validation in the task, we just pass on any returned errors that we get as is from the kudu rest api's. We return the stack trace url for you to further debug.
The task assistant while setting up yaml/release pipeline does show filtered out values to help in choosing the right values based on the subscription and app service type.

[2021-01-27 11:54] shigupt202 commented on #14262
Thanks, could you also share the debug logs? From the command in failure and success scenarios I don't see any difference at all. Also, can you confirm if any of the inputs given to the task as variable are null? (This includes $(docker-build-arguments), $(app-name) etc.)

[2021-01-27 12:13] amit-avit commented on #14273
You need to provide the mandatory/required parameters. You can use the assistant(right pane) for making things easier.

Please check out [this](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureRmWebAppDeploymentV4/README.md#parameters-of-the-task) readme for parameters required.

[code]

![image](https://user-images.githubusercontent.com/8944724/105988537-cbdcc880-60c5-11e

[2021-01-27 12:58] shigupt202 commented on #14250
Sure, please go ahead with the change

[2021-01-27 13:00] mihai-cindea opened #14287 "gitversion/execute@0 fails with SyntaxError: Unexpected token i in JSON at position 1"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-01-27 13:23] amit-avit commented on #14273
Please confirm if your issue gets resolved.

[2021-01-27 13:58] #13616 closed

[2021-01-27 13:58] anatolybolshakov commented on #13616
@riteshmaddala thanks for info about this case 👍  please feel free to ask any further questions

[2021-01-27 14:30] debben commented on #13578
I'm getting the same error, but right after implementing an outbound firewall four our self-hosted agents. Our agents are able to talk to Azure Devops just fine for things like publish artifact steps, but publish build results appears to depend on other blob storage accounts and it's not documented what needs to be opened up.

[2021-01-27 14:35] mastoj opened #14290 "[Question] Cache@2 returns cache miss even though a previsous build with the exact same key populated the cache"
How is the cache supposed to work?

I almost get a cache miss on every build, even though I'm 100% sure it is using the same cache key. Is it anythin more than this I need to do:

[code]

Is the cache only there for a specific amount of time?

[2021-01-27 15:25] sderrico commented on #10967
Hi everyone!

I am facing the same issue.

Is it possible to share how you resolved yours?

Thank you very much!

[2021-01-27 15:32] NWH-SAmin5 commented on #14273
Hi @amit-avit,

I used the assist pane and I did fill the all the required information OR else it doesnt let me save. Not sure why YAML is doesnt have all parameters mentioned but it there in my assist pane. see below screenshot.

Also if you notice debug Log it looks like it has all that information.

![image](https://user-images.githubusercontent.com/44787317/106013854-de85dc00-608a-11eb-83a2-4a

[2021-01-27 15:37] amit-avit commented on #14273
Are you archiving the required deployment folder to a zip?
The package path should be the root folder or the zip.

[2021-01-27 15:50] NWH-SAmin5 commented on #14273
Yes I am, this is my build yaml.

[code]

![image](https://user-images.githubusercontent.com/44787317/106015982-04ac7b80-608d-11eb-8e4a-1df1fde9a943.png)

[2021-01-27 17:27] ChrisGuzak commented on #13404
I am having a similar problem, but it only impacts the "release,x86" test run. For people with MS corp net access here is [the log showing the failure.](https://microsoft.visualstudio.com/DefaultCollection/OS/_build/results?buildId=30852335&view=logs&j=ae5f67bc-b508-52d0-18c7-3e0886a35c88&t=585e8ebe-8cb2-5921-2a53-98baf2746d9c&l=65)

[2021-01-27 17:54] AmadeusW commented on #13404
FYI our issue turned out to be a deadlocked test. After an hour, the test runner process was ended without producing the .trx file. What we really need here is
1. Azure task to report a message that test runner process was terminated due to timeout
2. The test runner to report that a test (provide a name) did not finish running, so that developer can immediately focus on that test.

[2021-01-27 18:22] georambo commented on #14156
@ashwinsangem , Hi 👋 .  Sorry to poke, but just wondering if any updates to this.  It is also very useful feature to our team.  The task works great, but the output is so verbose, it makes reviewing the logs very difficult for all jobs we use this for.  We have 100's of subscriptions that spam the logs.  Much appreciated.

[2021-01-27 21:00] Ivanov-Alexander commented on #14247
Same for me, as option you can try:

`-   script: |

            docker build -f ./Dockerfile -t some-service:$(Build.BuildNumber) .
            docker run -v /var/run/docker.sock:/var/run/docker.sock -v $(System.DefaultWorkingDirectory)/image-tests.yml:/tests_config.yaml --name container-structure-test gcr.io/gcp-runtimes/container-structure-test:latest test --image some-service:$(Build.BuildNumb

[2021-01-27 22:01] ElvenSpellmaker commented on #14277
It seems the underlying task looks for an ImageSource parameter but the wrapper tasks don't allow you to specify it

[2021-01-27 23:46] aasim commented on #14285
Thanks @ChrisGibson1982 for reporting this, I have put out a fix which should go out in prod probably by next week. Let me know if you need any immediate assistance until then.

[2021-01-28 00:08] lygasch opened #14293 "Docker activity logs secrets"
**Question, Bug, or Feature?**
*Type*: BUG

**Enter Task Name**: DOCKER

## Environment
AZURE PIPELINES,
acct MSENG
project: SPACE
pipeline: https://dev.azure.com/mseng/1ES/_build?definitionId=10355&_a=summary
agent: ubuntu-20.04

## Issue Description
I am looking into our docker command task is logging some secrets that are passed on the command line.
I am not sure if the issue is in the task or

[2021-01-28 00:22] Divjyot commented on #13607
I created these Tasks directly using Pipelines UI interface, however here are yml created by the tasks (deidentified copies)

TASK 1
[code]

TASK 2
[code]

TASK 3
[code]

[2021-01-28 00:51] prabhakarreddy1234 commented on #13033
We are getting this error too on `dotnet test` command. But it's occurring intermittently.

[2021-01-28 06:37] ssaarinen commented on #14247
actually I used this as a workaround (found by others having similar issues):
[code]

Don't know if `--save` is actually needed on `npm install`

[2021-01-28 06:43] Davilink commented on #12548
Hi @jaliyaudagedara, i did what you propose and it works, but why do we need to use the UseDotNet task ? I use microsoft hosted agent (https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md#net-core-sdk), so the .net core SDK 5.0.100 is already install, so why we have to install the same .net core SDK by using the task UseDotNet ?

[2021-01-28 08:00] henriklynggaard opened #14294 "codeCoverageToolOption: JaCoCo fails for multi-module builds (Maven@3)"
Type: Bug
Task Name: Maven@3
Server: Azure Pipelines
Agent: Hosted - ubuntu 16.04

Note: This is similar to #12067 but I could not find the new issue the reporter was asked to open hence creating a new. Sorry for the potential duplicate

## Issue Description

I added a second module to my project and suddenly the piplines started failing with

When using "codeCoverageToolOption: JaCoCo" in a multi

[2021-01-28 08:10] ds-ms commented on #14283
https://github.com/microsoft/azure-pipelines-tasks/blob/d8cbf147899ef9705d0467c37a0d2c029941abfe/Tasks/KubernetesV1/src/kubernetes.ts#L73..L96

Looks like it's a conscious call. Given that `kubectl version` command is not explicitly requested by your pipeline config, I suppose it's okay not fail upon failure. This is more or less to help with debugging.

Based on this [PR](https://github.com/micro

[2021-01-28 08:14] ds-ms commented on #14284
This is a warning. It wouldn't impact your release in any way. It's probably a side effect of us upgrading the underlying `task-lib` version to `3.0.6-preview`.

@shigupt202 could you take a look?

[2021-01-28 08:17] ds-ms commented on #14293
The docker task doesn't explicitly handle the masking of secrets. The masking is taken care of by the agent while parsing the raw pipeline logs.

@damccorm could you take a look?

[2021-01-28 09:04] Ivanov-Alexander commented on #14247
@ssaarinen thx, much elegant solution

[2021-01-28 09:37] DaniilShmelev commented on #14294
Hi @henriklynggaard! Could you please provide your pipeline .yml and pom.xml?

[2021-01-28 09:54] shigupt202 commented on #14283
@ds-ms You're right. The version was added in logs to help users with debugging and we are not failing it here because of back-compat.

[2021-01-28 09:54] #14283 closed

[2021-01-28 10:02] shigupt202 commented on #14284
This is happening probably because KubernetesV1 is dependent on azure-pipelines-tasks-azure-arm-rest-v2 which has the an older version of `azure-pipelines-task-lib`, while we have specified the latest version in it's package.json. This should not have any effect on the pipeline run.
@ds-ms Any suggestion what we should do here? Should we downgrade the task-lib version of this task, or ask the owne

[2021-01-28 10:16] cranphin commented on #4743
Would like to mention that after 2 days of digging to through documentation and threads like this, I finally got this to work.
It is still very convoluted, and badly documented.
One of the fun parts was finding out you can't use (on stage level) a variable set from a output variable from a previous stage in a condition, and also the syntax to use an output variable from a previous stage for variab

[2021-01-28 10:32] Chefkoch81 commented on #7150
This would be really important for me too.

Our Jenkins build for PR verification takes approx. 1 hr. When devs push new changes shortly after an automatic PR verification build started, the Pipeline stops and the jenkins build continues without reason and blocks lots of resources.

Would be really appreciated if this could be implemented.

[2021-01-28 10:44] woscostametaxa commented on #7150
The worst combination is if the jenkins multibranch pipeline only allows 1 concurrent job per branch if the user starts PR verification or a build from AZP to quickly restart a newer one ( automated or "by hand") with somewhat sensible timeouts - because if the queueing timeout in AZP is something like 1,5 times the normal build duration, the second build will fail because it runs into the timeout

[2021-01-28 10:50] brainbug89 opened #14298 "Docker build tasks are failing since today: invalid argument --tag"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Docker build

## Environment
Azure Pipelines
Hosted Agent

## Issue Description

Since today all Docker build tasks are failing in our pipeline:
[code]

The same pipeline (no changes!) worked fine yesterday:
[code]
The only difference is the task version.

Here is the task definition:
[code]

The images tags

[2021-01-28 12:03] m2xumb commented on #14264
That version number worked in some places, but i had schema errors e.g. in deployment tasks when doing that.

What helped me was adding a "-" after the pipe:

[code]

According to https://yaml-multiline.info/ that removes a trailing newline that is added by yaml otherwise.

[2021-01-28 12:14] hbuckle opened #14300 "Linux agent downloads artifact tool every time"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UniversalPackages@0

## Environment
- Server - Azure Pipelines

- Agent - Hosted:

    - If using Hosted agent, provide agent queue name:
    - Ubuntu-20.04

## Issue Description

When running a build on a windows agen

[2021-01-28 12:20] bramvdklinkenberg opened #14301 "Parameter override: 'TypeError: Cannot read property 'type' of undefined', make sure it follows JavaScript Object Notation (JSON)"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question**
*Type*: I want to override parameters but cannot get it to work. Could use some support.

**Enter Task Name**: AzureResourceGroupDeployment@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Taskshttps://github.com/microsoft/azu

[2021-01-28 12:24] Davidsv commented on #14264
@m2xumb This worked for me, thanks!

[2021-01-28 13:06] snehalatamath commented on #1923
Hi,
Can you please tell me how can I run orderedtest using tfs build?

Thanks in advance

[2021-01-28 13:20] brekus commented on #14215
Having the same exact issue. Here is a log output.
[tasklog_6.log](https://github.com/microsoft/azure-pipelines-tasks/files/5887373/tasklog_6.log)

[2021-01-28 13:56] damccorm commented on #14293
@ds-ms my guess is that the secret is being modified somehow and isn't an exact match (e.g. some sort of escaping or whitespace is being injected). From the logging side we guarantee that the exact secret will be masked, but not modified variants - could you confirm that is the case?

In general, it is not a great idea to intentionally log secrets, I would consider not logging the value in this ca

[2021-01-28 14:14] anatolybolshakov commented on #13916
@lukasztokarski-tomtom sure!
We rolled out a fix for this issue at the moment - @aafnan10 @merric-rocketpartners @jenciso
Let me close this one - please let us know if it's still actual for you.

[2021-01-28 14:14] #13916 closed

[2021-01-28 16:06] ElvenSpellmaker opened #14302 "%25 detected in ##vso command in some Tasks"
## Note
[code]

**Question, Bug, or Feature?**
Bug

**Enter Task Name**:

 - AzureResourceManagerTemplateDeployment@3
 - FileTransform@2
EDIT:
 - Docker@2
 - PublishTestResults@2
 - CopyFile@2
 - AzureRmWebAppDeployment@3
 - AzureCli@2 (with % in parameter or inline script)
 - AzureResourceGroupDeployment@2
 - Kubernetes@1
 - PythonScript@0
 - HelmDeploy@0

## Issue Description

As of today we've

[2021-01-28 16:19] lygasch commented on #14293
Is it not matched because it is appended to docDbKey= and no longer whitespace delimited?
Also, would it be possible to surface a flag that pipeline authors could use to immediately suppress logging of the cmd string? This would allow a mitigation while the issue is being investigated. As it stands, I have no control over this at all. It would be great to treat this as high priority. Thanks!

[2021-01-28 16:49] anatolybolshakov commented on #14278
Hi @nick3389 could you please share your yaml file and pipeline logs?

[2021-01-28 16:53] hollowdrutt opened #14303 "NuGetCommand restore fails when using Fiddler as per troubleshooting instructions but does not exit with error code"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NuGetCommand@2

## Environment
Azure Pipelines
Private Agent
OS: Windows Server 2016
Agent version:2.179.0

## Issue Description

I followed the instructions for troubleshooting Azure Pipelines [https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops](https://docs

[2021-01-28 17:09] hollowdrutt opened #14304 "Publishing code coverage results with VSTest task is slow or fails with timeout"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VSTest@2

## Environment
Azure Pipelines
Private Agent running on VM in Azure
OS: Windows Server 2016
Agent version:2.179.0

## Issue Description

I am using the VSTest@2 task to run tests with code coverage enabled and publishing the coverage results to be able to see code coverage in Pull Requests.

The tas

[2021-01-28 17:29] brunofitas commented on #14302
I have the exact same issue on Docker@2.
It started only a few hours ago

    jobs:
      - job: BuildAndPush
        displayName: Build and Push Image
        pool:
          vmImage: ubuntu-16.04
         steps:

          - task: Docker@2
             inputs:
             command: login
             containerRegistry: docker-service-connection

          - task: Docker@2
             displayNam

[2021-01-28 18:23] #13345 closed

[2021-01-28 18:54] anatolybolshakov commented on #13062
Hi @DevRCRun we have rolled out the fix for this issue, let me close this since it was fixed - please feel free to reopen it or ask any further questions if it's still actual for you.

[2021-01-28 18:54] #13062 closed

[2021-01-28 19:03] anatolybolshakov commented on #13860
Hi @js-hdl we have rolled out the fix for this issue - let me close this since it was fixed, please feel free to reopen or ask any further questions if it's still actual for you.

[2021-01-28 19:03] #13860 closed

[2021-01-28 19:10] anatolybolshakov commented on #13835
Hi @joecoolish we have rolled out the fix for this issue - let me close this, please feel free to reopen it or ask any further questions if issue is still actual for you.

[2021-01-28 19:10] #13835 closed

[2021-01-28 19:22] anatolybolshakov commented on #13300
Reopening this since there's still no workaround for this issue.

[2021-01-28 19:45] drdamour commented on #4743
@cranphin i was able to make a stage conditional based on output of another stage's job

[2021-01-28 20:32] yahorsi opened #14305 "Question: (InvokeRESTAPI@1,) Why RaisePlanEventAsync & TaskStartedEvent has no effect"
In the release pipeline we're making REST call using InvokeRESTAPI@1, and then in the REST service implementation trying to raise "TaskStartedEvent" and the append logs. The problem is -in the azure devops we always see InvokeRESTAPI@1 task as pending and not started and we do not see our logs. It is strange as TaskCompletedEvent works fine and we were able to fail or successfully complete the tas

[2021-01-28 20:40] nick3389 commented on #14278
Hi @anatolybolshakov. yaml is here:

[code]

Because of privacy issues, do you need something specific from the logs? I am asking you because I don't want project information to be public.

[2021-01-28 22:33] jwadolowski commented on #13344
@damccorm I missed the no activity notification and the ticket got closed, could you reopen it please?

[2021-01-28 23:55] lygasch opened #14306 "specific task version property in UI"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: general request (but Docker is the specific example in my mind today)

## Environment
- Server - Azure Pipelines

General issue: when there is a regression in a task minor version, there is no way for UI pipelines to mitigate this by picking a specific version, as you can do in yaml. Maybe this is the responsibility of the task a

[2021-01-29 02:43] ben790924 commented on #14302
I have the same issue. Also, release is not triggered after a new build is available. I am sure it was working but this time wasn't.

[2021-01-29 03:17] #11958 closed

[2021-01-29 04:06] maxonweb commented on #10903
Any update on this? This is a great feature but unfortunately not being utilised when deploying via DevOps tasks. I would very much love to see this fixed soon.

[2021-01-29 04:17] michael-wilson-au commented on #10903
@N-Usha  This has a big impact on us.  Automated DevOps deploys keep failing as the slot has not warmed up because it is pinging the root and not using the WEBSITE_SWAP_WARMUP_PING_PATH that we have specified and require it to use.

[2021-01-29 04:52] shigupt202 commented on #14234
This doesn't seem to be task related problem. Can you please confirm whether appropriate role binding has been done on the service account for `kube-system` namespace? (Probably theKubernetes service connection used with the task has this permission issue)
If you still feel that the issue is with HelmDeploy feel free to reopen the issue.

[2021-01-29 04:52] #14234 closed

[2021-01-29 04:54] shigupt202 commented on #13546
Closing stale issue. Feel free to reopen if the problem still exists.

[2021-01-29 04:54] #13546 closed

[2021-01-29 04:57] shigupt202 commented on #14298
Please refer this [issue](https://github.com/microsoft/azure-pipelines-tasks/issues/14264). We have made a fix from our end, it should reach out to all the customers in few days. But in the mean time you can try the workarounds mentioned in the issue.

[2021-01-29 06:27] FrancescElies commented on #13656
Since there is a workaround, I don't think anybody cares about this. Closing.

[2021-01-29 06:27] #13656 closed

[2021-01-29 07:10] cranphin commented on #4743
It's not that it's not possible, it's that it's badly implemented (unclear) and documented :)

[2021-01-29 07:33] FrancescElies commented on #14228
My problem was that I had jobs that specified a condition without checking for `succeeded()`

Problem:

    condition: and(eq(dependencies.A.outputs['A1.printvar.shouldrun'], 'true'))

Solution:

    condition: and(succeeded(), eq(dependencies.A.outputs['A1.printvar.shouldrun'], 'true'))

@sarod might this be your case too?

[2021-01-29 07:45] #14284 closed

[2021-01-29 09:29] brainbug89 commented on #14298
Workaround is working. Thanks!

[code]

[2021-01-29 09:50] JonBSteer73 commented on #13802
Hi! Just wondering if a change to add this feature to SqlAzureDacpacDeploymentV1 task ever got completed?

Looking at the task in my pipeline I can see it does attempt to use the -AccessToken property, but looking in the source code it appears that the SQLPS version of Invoke-Sqlcmd (which doesn't seem to allow AccessToken) is still being used.

I know I can get this working via custom powershell

[2021-01-29 10:03] JakubWojtowicz-TomTom opened #14309 "DownloadGitHubRelease broken due to incorrect host"
**Question, Bug, or Feature?**
*Type*: Bug

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DownloadGitHubReleaseV0

## Environment
- Server - Azure Pipelines
- Agent - Hosted: ubuntu-latest

## Issue Description

[Include task name(s), screenshots and any other relevant details]

### Task logs

[code]

## Troubleshooting

Use the task and see how it crashes.

[2021-01-29 10:20] ED220Webfactory commented on #14309
Havint the same issue. By digging through the task code a bit i could properly get the reqeusted release and fetch the asset list via api, but then failed to download them via ArtifactEngine and/or webProvider.

[2021-01-29 10:20] brainbug89 commented on #14298
Just saw that the task now uses the fixed version (2.181.2). So the workaround is probably no longer necessary.

[2021-01-29 10:20] #14298 closed

[2021-01-29 10:21] JakubWojtowicz-TomTom commented on #14309
I've already prepared a PR fixing this issue: https://github.com/microsoft/azure-pipelines-tasks/pull/14310

[2021-01-29 10:30] ED220Webfactory commented on #14309
@JakubWojtowicz-TomTom did you test whether that fixes the issue?
Because i think its strange that the calls up to, including the one getting the list of assets via `https://api.github.com/repos/OWNER/REPO/releases/RELEASE_ID/assets` succeed and only the download itself seems to fail. and those requests seem to be limited to `api.github.com` and `github.com` for the download? (by using the downloa

[2021-01-29 10:32] henriklynggaard commented on #14294
This is simplified version that still breaks my pipeline

Attaching files
[issue-14294.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5893231/issue-14294.zip)

[2021-01-29 10:34] JakubWojtowicz-TomTom commented on #14309
I did test it.
The thing is that once you try to download the file you get redirected (302 Found) from github.com to github-releases.githubusercontent.com.
My understanding is that previously it was redirecting to AWS S3 native URL directly.

[2021-01-29 10:35] ED220Webfactory commented on #14309
Ah, thanks for that info! That PR was blazing fast too :)

[2021-01-29 11:28] eddynaka opened #14311 "Publish symbols always fail"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishSymbols@2

## Environment
- Azure Pipelines
- Windows-latest

## Issue Description
![image](https://user-images.githubusercontent.com/16199012/106269826-cd180d80-620b-11eb-8a59-02be4a6b79e5.png)

### Task logs

[2021-01-29 12:07] nick3389 commented on #14278
@anatolybolshakov I just inspected a little bit further the logs and found this error which I think is the what cause my failures:
`OSStatus error:[-34018] Internal error when a required entitlement isn't present, client has neither application-identifier nor keychain-access-groups entitlements.`

My tests contain checking data saved in keychain and I guess that's reason why they fail. Something i

[2021-01-29 12:15] daniel-walz commented on #13980
Any update about when you might pick this one up?

[2021-01-29 12:44] kamimanzoor commented on #10723
I have also encountered the issue with loop in the azure pipeline using maven release plugin. The reason is the trigger caused by the commits made by the release plugin. Since I got quite some help from this page so commenting it here as someone else might find it useful. We may skip ci triggers by having some commit prefixes as mentioned here:
https://docs.microsoft.com/en-us/azure/devops/pipelin

[2021-01-29 13:10] bahadir-be commented on #14302
Same issue!!

![Uploading image.png…]()

[2021-01-29 13:11] chleit opened #14313 "PublishPipelineArtifact: Wrong/misleading file count/sizes in log output"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishPipelineArtifactV1

## Environment
- Server - Azure Pipelines
- Agent - Self hosted

## Issue Description

We are using PublishPipelineArtifact task to publish the Build.SourcesDirectory as a pipeline artefact for debugging purposes.

When downloading the published pipeline artefact I get a zip with
**

[2021-01-29 13:18] jamers99 opened #14314 ""VsTest task failed" with no additional info or errors"
## Required Information
*Type*: Bug
**Task**: Visual Studio Test

## Environment
Private Agent on Windows 10, version 2.181.0

## Issue Description
Our Visual Studio Test task is failing in or YAML build on only one of our agents *sometimes*.

![image](https://user-images.githubusercontent.com/20806279/106279068-da33fd00-6209-11eb-831c-46a4db0fd7e3.png)

We started experiencing the issue around th

[2021-01-29 14:36] Zanchee commented on #13783
Correct, you can't use a variable explicitly for a certificate, but by creating a template that takes in parameters, and then just creating N jobs each passing in your required parameters to the template, you are essentially doing the same thing as a matrix, but now on each template call you can define the certificate you wish to use.

To be honest. We publish many apps from one code source, and t

[2021-01-29 15:21] majorvin commented on #14173
@tnsholding  you can still use it and it works but just have to ignore that error message.

[2021-01-29 15:29] anatolybolshakov commented on #14290
Hi @mastoj, pipeline cache expires after 7 days of inactivity - please see https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#when-does-a-cache-expire.

[2021-01-29 15:47] v-lali opened #14316 "Kubectl task doesn't show runtime messages well."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Kubernetes task

## Environment
- Server - Azure Pipelines.

- Agent - Hosted

## Issue Description

For those AKS created with AAD and RBAC enabled, it will have “To sign in, use a web browser to open the page htt

[2021-01-29 16:59] jemag opened #14317 "Docker@2 login - Allow login without docker requirement"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Docker@2

---
## Description

It seems that currently the Docker@2 task with login command requires Docker to be installed on the agent. However, this specific task and command do not actually need it.

If I run th

[2021-01-29 17:33] weshaggard commented on #14302
We have started hitting this with the PublishTestResults task as well:
[code]

These are coming from tasks that are build in this repo and so it seems like we need to get these all updated before we start blasting everyone's builds with these warnings.

[2021-01-29 19:17] flyingUnderTheRadar commented on #13710
Were you guys able to find your way around this?

[2021-01-29 19:24] skipper09 commented on #14302
We are seeing this warning during our build when we push a Docker image to a container registry

[2021-01-29 19:35] ElvenSpellmaker commented on #14302
Which tasks is this? Your image is broken.

[2021-01-29 19:45] AjkayAlan commented on #14302
Bumping, we get this with when using:
[code]

[2021-01-29 20:32] ElvenSpellmaker opened #14318 "DotNetCoreCLI@2 doesn't have access to feeds when installing tools which leads to failures"
**Question, Bug, or Feature?**
Bug

**Enter Task Name**: DotNetCoreCLI@2

## Issue Description
Trying to install tools when you have a `nuget.config` fails because it doesn't have access to the feeds. Even though this tool is in the public Nuget.org repo it still tries our private repositories first and fails to auth.

[code]

This is a public tool in Nuget but for some reason it tries to look in

[2021-01-29 20:47] ElvenSpellmaker commented on #14318
For now I'm having to work around this by using a Pwsh script that installs the tool and make sure I set the directory to somewhere random outside of the project root:
[code]

[2021-01-29 21:21] IanBFarrell commented on #14282
I wanted to know if this is a issue that is known about and/or being worked. It is causing problems with the day to day development and use of Azure DevOps Pipelines. It is also almost entirely blocking our SPA deployments because we use multiple npm tasks in the build.

[2021-01-29 23:13] mastoj commented on #14290
@anatolybolshakov, hm. Then why do I get so many cache miss even though the key is the same between different builds? Are the cache per branch or something? Is there a way to cache per repository if that is the case?

[2021-01-30 05:42] mgexm commented on #4743
I don't want jobs to depend on one another either. I want to be able to have 2 different jobs in the same pipeline where both can check the value of a variable that's shared to make a decision in either job.

[2021-01-30 09:19] AlbanBarbosa1982 opened #14319 "PublishTestResults does not publish find pester 5 nunit or junit testresults"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-01-30 09:39] PetrPospisil commented on #14302
maybe related to this?
microsoft/azure-pipelines-agent#3204

it also happens to us
AzureCli@2 (with % in parameter or inline script)
AzureRmWebAppDeployment@3 (did not try to update to @4 yet)

[2021-01-30 10:32] mmajcica commented on #14302
Same here.

![image](https://user-images.githubusercontent.com/3026551/106353978-c31b0b00-62ee-11eb-9fc2-38812468c69f.png)

[2021-01-30 10:34] ElvenSpellmaker commented on #14302
Which commands? I'm trying to keep an updated list in my issue

[2021-01-30 10:37] mmajcica commented on #14302
I get it by using AzureResourceGroupDeployment@2
Not sure what commands internally are used.

[2021-01-30 11:53] onlyutkarsh commented on #14250
Got the latest from master, still a test fails for me. Can you please review the changes [here](https://github.com/microsoft/azure-pipelines-tasks/compare/master...utkarshforks:feature/add-uninstall-json) and see if I have made any mistake?

![image](https://user-images.githubusercontent.com/2685029/106355686-9288a080-62f1-11eb-82f9-0f0073444384.png)

[2021-01-31 05:15] kmkumaran commented on #8076
@nadesu , @chshrikh to follow up.

[2021-01-31 05:17] kmkumaran commented on #11700
@nadesu , @chshrikh for follow up.

[2021-01-31 05:18] kmkumaran commented on #10499
@nadesu , @chshrikh for follow up

[2021-01-31 05:22] shigupt202 commented on #14250
I'm not able to see the details of the failed test. Can you please raise a PR, updating the versions in task.json and task.loc.json to 0.183.0? (It should probably be some platform dependencies issue. If the tests fail in the PR as well we'll debug it then.)

[2021-01-31 05:22] kmkumaran commented on #12958
@nadesu , @chshrikh , @N-Usha  for follow up

[2021-01-31 05:24] kmkumaran commented on #12474
@nadesu , @chshrikh for follow up

[2021-01-31 05:28] kmkumaran commented on #12819
@nadesu , @chshrikh , @N-Usha for follow up

[2021-01-31 07:27] DanielSchafer87 commented on #13783
I managed to solve the same issue:
![image](https://user-images.githubusercontent.com/23694181/106377511-23b94f00-63a6-11eb-8a91-b99fd5e0fc30.png)

by defining the variables like this:
[code]

it's a desktop application building pipeline but I think the issue was the same.

[2021-01-31 13:22] talkwithsrinivas commented on #14302
I see this too. But this is happening when the nuget security analysis job runs (This is injected by policy. So i do not control it).

__**Nuget Security Analysis (auto-injected by policy)
Starting: Nuget Security Analysis (auto-injected by policy)
==============================================================================
Task         : Nuget Security Analysis
Description  : A task to scan for

[2021-01-31 14:08] anatolybolshakov commented on #14294
This seems to be duplicate of https://github.com/microsoft/azure-pipelines-tasks/issues/14130

[2021-01-31 16:54] anatolybolshakov commented on #4743
Hi everyone, this seems to be related to Azure DevOps itself, but this repo is more for pipeline tasks - could you please create ticket on https://developercommunity.visualstudio.com/spaces/21/index.html for documentation updates/any further improvements to get right eyes on it? Let me close this one since it's not related to pipeline tasks.

[2021-01-31 16:54] #4743 closed

[2021-01-31 18:03] anatolybolshakov commented on #14282
Hey @satbai could you please take a look at this issue?

[2021-01-31 21:58] Viper61x23 commented on #14246
My original error was not showing any stack trace due to converting to JSON.  However I modified my arm template just to change the output and I now get a stacktrace:

`2021-01-31T21:44:20.2637860Z (node:4588) UnhandledPromiseRejectionWarning: TypeError: Cannot convert undefined or null to object
2021-01-31T21:44:20.2641096Z     at Function.keys (<anonymous>)
2021-01-31T21:44:20.2641393Z     at se

[2021-02-01 02:14] avishnyakov commented on #13420
Hitting the same problem. We tend to use deployment due environments, so we can have traceability and other checks.
Looks that Cache task is not supported when using deployments (eg, "release" pipelines) in YAML.

@vtbassmatt, team, what would be a path forward here?

[2021-02-01 02:38] avishnyakov commented on #13420
@johnterickson

Split between build stages and deployment stage is reasonable, of course. Say, build stages produce some kind of configuration, an application, a docker image or any of that kind, an artifact which then deployed by the deployment stages. People might want to use docker images in the deployment stages to deploy artifacts coming from the build stages. Having same-same images which pe

[2021-02-01 05:05] 9jaboy commented on #9272
@LiamKarlMitchell is the Artifact compressed or zipped?

[2021-02-01 07:47] ankit-arora12 commented on #14194
@DhirajKhot Can you please provide the pipeline and build logs(with system.debug set to true) where this issue is observed?

[2021-02-01 08:06] jvymazal commented on #13798
Please, can we get any update on this? Unfortunately from my current research this ends up in some internal publish function so while I would love to do so I cannot just post a PR to fix it in scope of what is in this open-source repo. Having this option not working means that we have unusable "Code Coverage" tab in PR in out devops for windows or .NET projects (if devops sees published .coverage

[2021-02-01 08:36] sarod commented on #14228
I'm in this case however I expected cancelTimeoutInMinutes to apply still

[2021-02-01 09:50] LiamKarlMitchell commented on #9272
Not aware.
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-pipeline-artifact?view=azure-devops

[2021-02-01 09:57] alexander-smolyakov commented on #13369
Not stale

[2021-02-01 10:13] #14309 closed

[2021-02-01 11:27] sarukk opened #14320 "Download Jenkins artifacts fails with ExtractionFailed Error: Unsupported file type "undefined""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Bug

**Enter Task Name**: Jenkins download artifacts

## Environment
- Server - Azure Pipelines or TFS on-premises?

    Azure Pipelines: PG-CT/DIAC/ReleaseAndCiScripts Trigger

- Agent - Hosted or Private:
     Private: Windows Server 2012 R2

## Issu

[2021-02-01 12:08] anatolybolshakov commented on #14278
@nick3389 if you need some certificates or provisioning profiles to be installed on - you can use [Install Apple certificate task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/install-apple-certificate?view=azure-devops) or [Install Apple Provisioning Profile task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/install-apple-provisioning-profile?view

[2021-02-01 12:25] cocowalla commented on #14302
Same with v4

[2021-02-01 12:40] anatolybolshakov commented on #14290
@mastoj currently cache is scoped by exact branch, project and pipeline for security reasons - here are some docs about it https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#cache-isolation-and-security
As I see there's no way to cache per repository at the moment - if you want this as enhancement, I would suggest to create a ticket on https://developercommun

[2021-02-01 13:07] bahadir-be commented on #14302
![image](https://user-images.githubusercontent.com/62173919/106462760-cd780900-6496-11eb-92db-7244def28d80.png)

[2021-02-01 13:30] jensneubauer commented on #14302
I'm getting the warning when calling set image in kubectl:

`[command]C:\ProgramData\Chocolatey\bin\kubectl.exe set -n frontend image xxx=yyy -n frontend -o json`

YAML:

[code]

[2021-02-01 14:57] OldManLink commented on #14302
We have been getting these warnings from the following tasks since Thursday, January 28th:
[code]

[2021-02-01 16:27] djkrose commented on #12101
Can this please be expedited somehow? Looks like there is a PR already for it...
Also, is there a workaround for deploying all *.sql files?

[2021-02-01 16:30] john-forrest commented on #14320
We have noticed something very similar in the last few days. We had another issue that was preventing the Azure Devops job from being triggered. Last job that worked was the 25th Dec. Fixed the trigger issue last Friday (29th Jan) and now see this.
In the meantime we have updated Jenkins from LTS 2.263.1 to 2.263.3. There are some suggestions of changes in the zip format in the latter, even though

[2021-02-01 16:34] mastoj commented on #14290
Got it. Thanks.

On Mon, 1 Feb 2021 at 13:40, Anatoly Bolshakov <notifications@github.com>
wrote:

[2021-02-01 16:34] IamRui commented on #12101
I added a powershell script in  the pipeline to combine all the sql files into one single sql file. You can find it here: https://github.com/IamRui/Azure-pipeline-Azure-SQL-Database-deployment

[2021-02-01 16:56] ChrisGibson1982 commented on #14285
Thanks @aasim if you get a chance, please can you confirm when this has gone in

[2021-02-01 17:12] LanceSandino opened #14322 "Docker json_key gets logged"
Environment: Azure DevOps Cloud

[code]

JSON key is logged verbose
![image](https://user-images.githubusercontent.com/1300195/106493002-3737e900-647e-11eb-8ac3-0560c3cf9394.png)

Happens on other commands like `buildAndPush` as well

[2021-02-01 17:31] john-forrest commented on #14320
I have downgraded our Jenkins instance from 2.263.3 to 2.263.1 and the link to Azure Devops has now started working again.
I have also compared the behaviour of using the "(all files in zip)" under artifacts - the code on Azure Devops appears to be using the equivalent of this. The behaviour of this command has indeed changed - based on the Jenkins released notes, it seems deliberately so. Let's a

[2021-02-01 17:37] satbai commented on #14282
I think it may be related to [this commit](https://github.com/microsoft/azure-pipelines-tasks/commit/6e24f3b285397073443f29db64e654e578f885db#diff-2a16291e21f5d87ab0937629d2bed76d67019a344b2d1e4c05270cbba7000794). @zhenghao104 could you have a look when you have a chance?

[2021-02-01 17:47] damccorm commented on #14287
Hey @mihai-cindea - this looks like an issue with a build generally, not a specific task in this repo (it looks like you might be using a 3rd party task?). Please file a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html for more general support requests like this

[2021-02-01 17:47] #14287 closed

[2021-02-01 21:06] 9jaboy commented on #9272
ok, it won't be a substitute for most.

[2021-02-02 01:06] rshariy commented on #13780
hi team, the same issue affecting resource group deployments as well.

As the result everyone with just Reader access on resource group level can see SQL admin password (for example) in deployment logs.

See ticket 121011226000082 for detailed steps to reproduce the issue and screenshots.

A proper fix of the issue would be much appreciated.

[2021-02-02 02:20] jaysong88 commented on #10903
we are experiencing the same issue as well, it would be great to see this issue fixed.

[2021-02-02 02:24] Choonster opened #14323 "DockerCompose@0 - Add Compose CLI/ACI Support"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DockerCompose@0

## Description

We're currently trying to set up a pipeline to deploy a multi-container group to ACI using a **docker-compose.yml** file, but the `DockerCompose@0` task only supports the original [compose](https://github.com/docker/compose) tool (`docker-compose ...`) and not the newer [c

[2021-02-02 03:18] ChrisGuzak commented on #13404
@AmadeusW thank you. in my case I had a buggy test that resulted in calling `std::terminate()`. it seems vstest does not consider that a test failure and it just times out. I'll look into filing a vstest bug.

[2021-02-02 04:47] lygasch commented on #14293
I saw in debug logs (don't have the example any longer) where the secret WAS redacted in those logs but then not here. I have learned from that troubleshooting session that the args are converted into an array and I wonder if this text is built with something like array select so the secret-ness is lost? Please bump the priority, this is a serious leak and I have no mitigation.

[2021-02-02 07:24] AlbanBarbosa1982 commented on #14319
<?xml version="1.0" encoding="utf-8" standalone="no"?>
<test-results xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="nunit_schema_2.5.xsd" name="Pester" total="1" errors="0" failures="0" not-run="0" inconclusive="0" ignored="0" skipped="0" invalid="0" date="2021-02-02" time="08:22:39">
  <environment user="NPX9-AZDO-SYS_T" machine-name="TARGETSERVER" cwd="P:\dr

[2021-02-02 07:25] AlbanBarbosa1982 commented on #14319
Uploaded nunit output file now for pester 4.. also fails

[2021-02-02 08:43] jaliyaudagedara commented on #12548
@Davilink , quoting @vineetmimrot,

[2021-02-02 09:48] lucianiz commented on #12333
DownloadPackage doesn't support latest version for universal packages.
There is a check
[code]

that is done before checking if version = "latest", this causes "latest" version to work for all package types except universal packages, we are using universal packages only, we really need this feature, currently I'm doing workarounds for linux but we now have windows deployments that would require du

[2021-02-02 10:11] guicey opened #14324 "CUrlUploaderV2 task can have more uses than documentation suggest"
https://github.com/microsoft/azure-pipelines-tasks/blob/ef86c44958bf55a6d7f045060b96117c310a4bf5/Tasks/CUrlUploaderV2/curluploader.ts#L36

Hi Community,

I'm currently using the CUrlUploaderV2 task to search for JSON files in a directory and HTTP.POST them to a Wiremock server for stubbing purposes on our test environment where no username and password is needed. The documentation suggest that you

[2021-02-02 10:19] alexander-smolyakov commented on #13250
@MattGal, the [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/14065) with the fix was merged. I'll let you know once the fix is deployed.

[2021-02-02 12:14] #13381 closed

[2021-02-02 12:24] nick3389 commented on #14278
@anatolybolshakov My project is a swift dynamic framework, so there is no need for signing. I just save some data in the keychain and I suppose it needs some extra configuration to access the keychain store in the simulators you offer.

[2021-02-02 13:09] jamers99 commented on #14314
@damccorm we're getting this very frequently now. Here are the debug logs for the step:
[vstest.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5911308/vstest.txt)

[2021-02-02 14:15] AlbanBarbosa1982 commented on #14319
Ok my problem is a little bit more tricky. We use MS build agents and private release agents which I need to unit test. We do not have accounts to access and MS build agents and release agents. Please assist

[2021-02-02 14:42] anatolybolshakov commented on #13324
Reopening it since it still looks actual

[2021-02-02 15:47] bradringel commented on #12892
Bumping because this is still happening and I don't think it should be closed

[2021-02-02 17:56] anatolybolshakov commented on #14227
Hi @rik-v did it work before for you?

[2021-02-02 18:22] zhenghao104 commented on #14282
@IanBFarrell Hi there, since your private agent run on linux, can you try setting this debug flag on to get more information on the HTTP request?

https://github.com/microsoft/typed-rest-client#debugging

Note that the output will contain some secrets, please do not remove them in the comments when you provide the new logs.

[2021-02-02 18:32] damienwebdev commented on #9797
Not stale. This issue was on maybe picked up by @azooinmyluggage ?

[2021-02-02 18:35] amit-avit commented on #12474
@Arun7even is this issue still valid for you?

[2021-02-02 19:09] jmyersmsft commented on #14282
(edited the above comment to clarify that you _should_ remove secrets before sending logs)

[2021-02-02 19:15] tbuico-premera opened #14325 "Kubernetes task does not fail on failure while using versionSpec"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Kubernetes

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team pro

[2021-02-02 19:30] bishal-pdMSFT commented on #13780
@rshariy this issue is already hotfixed.

[2021-02-02 19:30] #13780 closed

[2021-02-02 19:33] lordlycastle commented on #11864
Same here. Cache of 1.7GB takes ~10 minutes. It starts very fast and gets to ~1.6GB and then takes 9 minutes to download the rest of 1GB.

Please fix as this slower than `yarn install`.

[2021-02-02 20:07] mk-AVA opened #14326 "ARM deployment tasks create resource groups when using Deployment mode Validation"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-02 21:39] IanBFarrell commented on #14282
Which debug flag? when I select debug on the Build variables the above output is what is given.

[2021-02-02 21:40] zhenghao104 commented on #14282
https://github.com/microsoft/typed-rest-client#debugging

[2021-02-02 23:34] agray commented on #13062
Has this fix been pushed to all regions?  We are in Australia South East.  I have customers saying it is still not working.

[2021-02-03 02:23] sheldonlynn commented on #12892
I was running into this exact issue and fixed it by adding YARN_CACHE_FOLDER to the pipeline variables.

I had the Cache task as part of a task group and in the pipeline that uses the task group, there is a required field that asks for the value of `YARN_CACHE_FOLDER` which is used as 'path' for the Cache task. Filled in the field with `$(Pipeline.Workspace)/.yarn` but the post-job kept failing wi

[2021-02-03 06:56] bramvdklinkenberg commented on #14301
Can anyone help me with this issue? @bishal-pdMSFT maybe?

[2021-02-03 07:14] merken commented on #9807
Generated a new token using the **correct feed** name did the trick for me (macOS)

In DevOps the feed URI seems incorrect, it includes the view name in the URI:
pkgs.dev.azure.com/mydevops/_packaging/**MyNodeFeed%40MyView**/npm/:email=myemail

The correct URI should be :
pkgs.dev.azure.com/mydevops/_packaging/**MyNodeFeed**/npm/:email=myemail

After changing this in the proposed user .npmrc, gene

[2021-02-03 07:15] john-forrest commented on #14320
**Note**: I may have got the above analysis the wrong way around (it might be the 2.263.1 version that has got the extra directory) but definitely downgrading to 2.263.1 seems to fix the problem. This sounds related to the following Jenkins issue [JENKINS-64621](https://issues.jenkins.io/browse/JENKINS-64621), although that claims to have been fixed for 2.263.3.

[2021-02-03 08:39] AlbanBarbosa1982 commented on #14319
Ok after some fugly inline powershell to invoke-command on target server and then create outputfile on build agent in working dir i'm getting somewhere. Last hurdle is my xml junit/nunit does not pass the xml validation. Some help?

[2021-02-03 09:18] lonevvolf opened #14327 "AzureFileCopy@4 requires read permission on resource group"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-03 09:34] ajinkya599 commented on #13555
Modifying the existing behavior can break the case when the secret value is actually multiline.
We should remove `multiline` from the docs. @ds-ms - Thoughts?

[2021-02-03 09:48] DaniilShmelev commented on #13062
Hi @agray! This change has been deployed to all regions. Could you please provide us with some more information about the Azure DevOps they use (cloud or on-premise), agent (version and if it is self-hosted), the pipeline definition and logs? We're looking forward to hearing from you.

[2021-02-03 11:09] henriklynggaard commented on #14294
Similar at least but different task.

[2021-02-03 12:27] anatolybolshakov commented on #14278
@nick3389 do you have this keychain being set up locally or is it being set up previously in the pipeline?
To set up keychain in pipelines - I guess you can use MacOS Keychain CLI for hosted agents, or just set it up manually for self-hosted agent.

[2021-02-03 13:13] egor-bryzgalov commented on #14170
@Duracell1989 Hi! We've managed to reproduce the issue and it seems to be related to Azure DevOps. Could you please open an issue at https://developercommunity.visualstudio.com/ at the Azure DevOps tab?
Closing this issue since it's not related to tasks.
Thank you!

[2021-02-03 13:13] #14170 closed

[2021-02-03 13:14] egor-bryzgalov commented on #13783
Closing the issue since the workaround has been found.

[2021-02-03 13:14] #13783 closed

[2021-02-03 13:45] egor-bryzgalov commented on #13783
Please feel free to open a ticket at https://developercommunity.visualstudio.com/ if you'd like to suggest an enhancement or found any issue related to Azure DevOps.

[2021-02-03 14:47] Bouke opened #14328 "Error on failure to discover tests"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VSTest

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines (private)
- Agent - Hosted or Private: Hosted

## Issue Description

We just discovered that the VSTest task was **not executing any test**. The reason is unrelated and appears to be related to multi-targeting of test projec

[2021-02-03 15:17] PatrickMessierGoC commented on #14075
3 weeks have gone by. Is this task version deployed now? I can only see 1.* in Azure DevOps > Pipelines > Release (See screenshot below).

[cid:image001.jpg@01D6FA15.BC82E340]
More generally, how to see the minor version of a task in Azure DevOps?

Thanks

De : Amruta Kawade <notifications@github.com>
Envoyé : 13 janvier 2021 07:24
À : microsoft/azure-pipelines-tasks <azure-pipelines-tasks@noreply

[2021-02-03 16:03] hkusulja opened #14329 "AzureFileCopy - set Content-Encoding"
I am using latest cloud Azure DevOps - Release - Task Azure File Copy - version 4.*
to copy static files for web page to Azure Storage blob account container.
It also automatically sets correct content-type attribute in azure storage account.

However, attribute content-encoding is not set, and should be set for gzip, .br files

This is needed due to HTTP browser requirements, and CDN only pick-up

[2021-02-03 17:44] JPadster opened #14330 "AzurePowerShell5 Task fails when Managed Identity Service Connection is Scoped to Management Group"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-03 19:51] IanBFarrell commented on #14282
I think I have removed any secrets but if I missed anything please let me know and I can remove it.

2021-02-03T19:42:57.8221428Z ##[debug]Evaluating condition for step: 'npm install'
2021-02-03T19:42:57.8222679Z ##[debug]Evaluating: succeeded()
2021-02-03T19:42:57.8223086Z ##[debug]Evaluating succeeded:
2021-02-03T19:42:57.8224021Z ##[debug]=> True
2021-02-03T19:42:57.8224483Z ##[debug]Result: Tr

[2021-02-04 07:01] dataslicer commented on #8798
I came here looking for the same thing.  After some searching, I found it here:

https://marketplace.visualstudio.com/items?itemName=Fizcko.azure-devops-download-a-file

Not sure if this is the same work done here.

[2021-02-04 08:42] MightyJay commented on #10057
This is still a problem. So not stale!

[2021-02-04 08:43] pradudev commented on #14246
I have created a PR for the fix: [GitHub link](https://github.com/microsoft/azure-pipelines-tasks/pull/14334)

[2021-02-04 09:39] ds-ms commented on #14293
@Ganeshrockz could you take a look at this?

[2021-02-04 10:15] garyverhaegen-da commented on #14302
In our pipeline, in a Bash step, this code:
[code]
producing this output:
[code]
triggers the warning, so I'm inclined to think the warning is triggered on _any_ `vso` command, regardless of whether it contains a `%`. From my experiments it seems to be triggered by the first `setvariable` of each job.

[2021-02-04 15:16] absognety commented on #12800
Thank you @manikantabandaru it worked for me, although documentation has to be updated.

[2021-02-04 16:40] Bouke commented on #14328
Another example of the task output (note that it is not even outputted as a warning!) that should simple fail the test task:

[2021-02-04 18:09] #11484 closed

[2021-02-04 18:51] Bouke commented on #14328
Another example of the task output (note that it is not even outputted as a warning!) that should simply fail the test task:

[2021-02-04 19:06] msft-mw opened #14336 "VSTest ignores platform in runsettings and task options"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VsTestV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted: Microsoft-hosted

## Issue Description

VsTestV2 ignores the platform setting in the defined `.runsettings` and then shows a platform mis-match error. Logs show that the `.runsettings` is detected:

[code]

and that it is updated properly:

[code]

But then this er

[2021-02-04 19:12] msft-mw commented on #14336
This is a closed source project, happy to provide log files privately if needed!

[2021-02-04 19:39] zhenghao104 commented on #14282
@anatolybolshakov
A recent [commit](https://github.com/microsoft/azure-pipelines-tasks/commit/6e24f3b285397073443f29db64e654e578f885db#diff-2a16291e21f5d87ab0937629d2bed76d67019a344b2d1e4c05270cbba7000794) forces the task to fail if location service call fails, and the logs showed that [getConnectionData](https://github.com/microsoft/azure-pipelines-tasks/blob/a6ec2c2e967c4e792ac81654c39dc46811ff5

[2021-02-05 05:52] Bouke opened #14340 "Reduce VSTest task output verbosity"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VSTest

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines (private)
- Agent - Hosted or Private: Hosted

## Issue Description

Having clear & readable output from tasks in general is important. It allows onlookers to identify issues and validate proper working of the task. Or quick

[2021-02-05 09:10] mlop3s opened #14341 "File not found 2.157.3\runvstest.js after updating task on Azure DevOps Server Version Dev17.M153.3"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VSTest

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
     - Server - TFS on-premises
    - If using TFS on-premises, provide the version:

DevOps Server Version: Dev17.M153.3

     - Agent - Private
    - If using private agent, provide the OS of the machine running t

[2021-02-05 09:24] qj0n opened #14342 "FuncToolsInstaller doesn't set +x on gozip"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: `FuncToolsInstaller`

## Environment
- Server
   - Azure Pipelines
   - Account name: speeron
   - project: PiccoloCloud2
   - Build ID: 2161
- Agent
   - Hosted `ubuntu-latest`

## Issue Description

According to Azure Functions Core Tools manuall installation instruction (https://github.com/Azure/azure-func

[2021-02-05 09:35] onlyutkarsh commented on #14250
hey @shigupt202 - not sure if notification triggered for you, but I raised a pr #14332 for this and tests seem to pass. do let me know if any changes required.

[2021-02-05 09:58] BartNetJS commented on #13350
Same issue here: variabele ServiceConnectionK8SDEFAULT from a template file is not substituted in the pre run check

[code]

and the template file:
[code]
![image](https://user-images.githubusercontent.com/4865355/107018574-e63b3400-67a0-11eb-897b-2952cdf1f0c6.png)

[2021-02-05 10:32] JohannesDrexler opened #14345 "dotnet restore fails with error MSB4025 ("the project file could not be loaded. Data at root level is invalid. Line 1 , position 1")"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question or Bug

**Enter Task Name**: DotNetCoreCLI 2.181,0

## Environment
Azure Pipelines
    Agent - Hosted Agent
    Image - "windows-2019"

## Issue Description

I have a netcore 3.1 webapp and dotnet-restore fails with the error message "

[2021-02-05 11:27] dwivedipriyaranjan commented on #14302
As per Microsoft documentation, you need to define
jobs:
- job:
  variables:
  - name: DECODE_PERCENTS
    value: true

To avoid these issues.
For more details read this.
[Percent Encoding](https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/design/percentEncoding.md#percent-encoding)

[2021-02-05 11:58] ElvenSpellmaker commented on #14302
This isn't a solution it's a workaround?

If the tasks aren't updated to compensate then tasks may break as they'll be opting into behaviour they don't expect.

It's 8 days into this issue and still no official response on this other than to force everyone to add a variable to potentially hundreds of builds.

[2021-02-05 12:01] bahadir-be commented on #14302
+1 agree!!

[2021-02-05 12:03] JimmyBanks commented on #14245
@bishal-pdMSFT Hi Bishal, I was just wondering if there is a timeline for this packer update?

[2021-02-05 14:32] shigupt202 commented on #14250
I didn't get notified for the change. Thanks for pointing it out. I'll review it.

[2021-02-05 14:52] #14250 closed

[2021-02-05 15:40] leepowelldev commented on #10967
We are getting similar issue - so far we have narrowed it down to an issue with NPM v7 and using the `pkgs.dev.azure.com` endpoints in our `package-lock.json` files. When we use NPM v6 installs work as expected. Or when we make sure the URL's in our `package-lock.json` files point to `ACCOUNT_NAME.pkgs.visualstudio.com` then it works as expected.

[2021-02-05 15:47] anatolybolshakov commented on #14282
@zhenghao104 we didn't faced similar issues before... Could there be some issue on azure-pipelines-node-api side or with api?

[2021-02-05 15:52] basithaf commented on #14302
Based on https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/design/percentEncoding.md,

I think the ']' in the setVariable syntax decodes to '%5D' behind the scenes, so we see the warning about having a '%' character in our task(s) despite not explicitly having one. Based on that link, I think the only change is that if you wanted to add a '%' character to a ##vso command, you wou

[2021-02-05 16:05] IanBFarrell commented on #14282
Thank you for the help trying to figure this out and resolve this. Is there anything I can do to help with this? It has been a problem for a couple months now and it is starting to wear on our development group. We basically have to run most build multiple times, hoping for it to succeed.

[2021-02-05 17:11] anatolybolshakov commented on #14302
Hi everyone, there is another [PR](https://github.com/microsoft/azure-pipelines-agent/pull/3241) to fix this encoding issue - since there were a lot of false-positives for %25, it will be replaced to %VS_TS instead.

[2021-02-05 17:23] maciejporebski opened #14346 "Wildcards in NO_PROXY environment variable break tasks relying on typed-rest-client"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-05 21:38] dzsquared commented on #11191
Hi folks, we have clarified the property "BlockOnPossibleDataLoss" in the SqlPackage documentation as a deployment will still exit/fail if actual data exists on the database that will be impacted by changes when the property is set to false.
https://docs.microsoft.com/en-us/sql/tools/sqlpackage/sqlpackage-publish?view=sql-server-ver15#properties-specific-to-the-publish-action

As a few other users

[2021-02-06 00:05] Mrkisha opened #14348 "Nodejs VSTS task packaging with tfx failed due to space in txt file name"
When I create a node vsts task and want to package it with `tfx` I get following error
![image](https://user-images.githubusercontent.com/1561303/107101355-4ff62500-6817-11eb-9732-3f31263e8e2a.png)

Temporary solution is to rename the file.
Then another file has same issue
![image](https://user-images.githubusercontent.com/1561303/107101489-cabf4000-6817-11eb-9020-d11598100be7.png)

But need long

[2021-02-06 15:07] #13168 closed

[2021-02-06 18:10] #11720 closed

[2021-02-07 09:12] mattboothman opened #14352 "AzureMySqlDeployment task update broke Windows agent deployments"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureMysqlDeployment

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment

Azure Pipelines

Hosted, WIndows Server 2019, agent version 2.181.1

MySQL Client v

[2021-02-07 09:14] mattboothman commented on #14352
I'm not sure why Task: SqlDacpacDeployment is tagged. I've not looked at it, not reporting an issue with that task.

[2021-02-07 12:12] #10916 closed

[2021-02-07 15:22] lindhe commented on #13384
Oh absolutely not. Guys, do we not have any eyes on this at all?

[2021-02-07 22:18] t-dedah commented on #14245
@JimmyBanks We are working on this fix.

[2021-02-08 07:35] rchowdhe commented on #14092
@alexander-smolyakov  Any update about when this might be fixed and available?

[2021-02-08 08:38] shashban commented on #12850
@pi3k14 The close preview was to explore an approach that addresses the requirement. We monitor for service load, usage and qualitative feedback to decide how to proceed further. We tried an approach and found that it doesn't meet the requirements at scale.
https://github.com/microsoft/azure-pipelines-tasks/issues/9954
https://github.com/microsoft/azure-pipelines-tasks/issues/12727#issuecomment-72

[2021-02-08 08:50] pi3k14 commented on #12850
@shashban Thank you for your clarification - could you please remove the question label and add a bug label instead?

[2021-02-08 09:19] 20shivangi commented on #11191
Closing the issue as item as users with comments from the past year have been able to sort through their specific deployment scenario, the same got confirmed by @dzsquared on mail :)

[2021-02-08 09:19] #11191 closed

[2021-02-08 09:34] 20shivangi commented on #14326
Transferring it to right team as confirmed from [CODEOWNERS](https://github.com/microsoft/azure-pipelines-tasks/blob/master/.github/CODEOWNERS#L74)

[2021-02-08 09:40] #10948 closed

[2021-02-08 10:17] 20shivangi commented on #14327
@lonevvolf  I was unable to try out since I am the owner on the subscription so could not remove inherited roles. Can you please confirm once if this issue is happening for all versions of AzureFileCopy i.e 2,3 and 4 for you?

[2021-02-08 10:21] 20shivangi commented on #14330
@JPadster The PR : https://github.com/JPadster/azure-pipelines-tasks/pull/1 mentioned in this issue, resolve this issue for you ?

[2021-02-08 10:38] shashban commented on #12850
In the current scheme of things, this is an enhancement request, not a bug.

[2021-02-08 10:59] 20shivangi commented on #14352
@mattboothman You are confirmed that this [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/14183) broke yout task?
cc: @AmrutaKawade

[2021-02-08 11:01] mattboothman commented on #14352
@20shivangi yes

[2021-02-08 11:11] 20shivangi commented on #14352
Will check with Amruta and update the same. Thanks @mattboothman for confirming

[2021-02-08 11:15] mattboothman commented on #14352
Thanks @20shivangi. Please don't just roll back, it'll break the other guys pipeline.

[2021-02-08 11:27] mattboothman commented on #14352
Can it be sorted so we can work around the issue, too. The task doesn't really need to check if the file exists, mysql can do and emit its own error:

[code]

Similarly, when I do find the right relative path:

[code]

Back to square 1!

Can the task jsut not check the path, let MySQL figure out if the file exists, or not, and also not mess with the parameters passed into the task?

Here's what I'

[2021-02-08 11:34] 20shivangi commented on #14277
@ElvenSpellmaker Please let me know if you find this helpful :https://docs.microsoft.com/en-us/azure/devops/pipelines/targets/function-app-container?view=azure-devops&tabs=yaml#configure-registry-credentials-in-function-app
This doc mentions step on how to add your registry and image to pull the private image in function app

[2021-02-08 11:38] AntonioNH opened #14358 "Web Config Generation in App service deploy task"
Hello,

I am using a pipeline with a deploy to app service task. To run this pipeline I am using a self-hosted agent, and I am using the feature to generate the web.config in the task, it is not in the repo. Under the File Transforms and variable substitutions tab, I am using the edit feature and providing the default parameters for java springboot apps. But I get the following error:

Error: Fail

[2021-02-08 11:38] mattboothman commented on #14352
Even using `SqlInline`, the task interferes with:

[code]

It mangles to:

[code]

[2021-02-08 11:41] ChrisGibson1982 commented on #14285
This now appears to be working.

[2021-02-08 11:41] #14285 closed

[2021-02-08 11:42] 20shivangi commented on #14327
@lonevvolf Alos, please specify the version of task also for which you raise the issue

[2021-02-08 11:47] 20shivangi commented on #14352
We will check on this for sure and get back to you.
Also, if you have any code changes in mind, you can surely raise PR against master and we will be happy to review that one :)

[2021-02-08 11:52] mattboothman commented on #14352
@20shivangi thank you.

Unfortunately, i've no idea what I'm doing with TS. If I went poking around, I'm sure I'd break it even more than it is now.

Forgive me for being frank, guys, but this task is a bit pickled. I think what is needed is a V2, get someone who understands MySQL client, and Typescript to do it from scratch. Don't mutate parameters being send it, don't do any checking to see if f

[2021-02-08 12:02] alanwales commented on #13033
We have also seen this happen in the past couple of weeks with `dotnet test`. It seems to happen when the runner is uploading the test results and then hangs, and also intermittently

[2021-02-08 12:21] robs commented on #13710
@flyingUnderTheRadar If you work it out can you post the resolution please?

[2021-02-08 12:49] cstrempfer opened #14359 "AzureFunctionAppV1 and AzureRmWebAppDeploymentV4 fail when used with Management Group Service Connection"
Copied from #13779, because it was closed incorrectly and nobody reopened it since 3 months.

Justification:
1. Service Connections support Management Groups
2. App Service Tasks support Service Connections
3. App Service Tasks fail if used with a Management Group Service Connection
=> Bug, because it isn't compatible with the Azure Pipelines' standard and users cannot fix it themselves

## Requir

[2021-02-08 12:53] mattboothman commented on #14352
Ok, I have my workround working. There are more issues to look at with this task and its documentation:

The workaround is this:

[code]

The workaround involves _not_ following the documentation for `taskNameSelector`:

![image](https://user-images.githubusercontent.com/2004173/107221412-85fbfa80-6a0b-11eb-990e-92710f9bad13.png)

...by passing what it says is the option for inline scripts for the

[2021-02-08 13:07] cstrempfer commented on #14359
It could be easily avoided if there would be an optional "subscriptionId" parameter in addition to the "azureSubscription" parameter (which is actually pointing to a service connection), and if its value would be applied in case that a service connection with Management Group is selected. If you put this logic into "InitializeAzModuleFunctions.ps1" you could use the same mechanism for other Pipeli

[2021-02-08 13:14] hwride commented on #13781
This issue I believe is not to do with having newlines in the values of strings, but being able to specify ARM template multi-line strings which helps with things like long if conditions. See: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-syntax#multi-line-strings

[2021-02-08 13:16] hwride commented on #14268
I can confirm I have seen this as well. Ensured the ARM template had a schema set to the latest value in case that had an effect (`https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#`).

This would be very useful to have, more complex statement are difficult maintain when they are all on a single line.

[2021-02-08 13:39] lonevvolf commented on #14327
I can confirm the issue is present in versions 2, 3, and 4.

[2021-02-08 13:46] JPadster commented on #14330
@20shivangi @nadesu reverting this commit until more extensive testing can be completed. Please revert the commit.

[2021-02-08 15:09] damccorm commented on #14348
Hey @Mrkisha this looks like an issue with `tfx` not with a specific task in this repo. Please open an issue at https://developercommunity.visualstudio.com/spaces/21/index.html

[2021-02-08 15:09] #14348 closed

[2021-02-08 16:19] sarndt commented on #14234
Hey @shigupt202 ,

can you tell me where exactly I should look for an error here?

I am using an `environment` in Azure DevOps (ADO) and when I create this environment, I can choose a subscription to work with and a kubernetes namespace to work in. These two properties define the `resource` in the environment I'm working in.

At no time do I define any service connection, so I don't understand whi

[2021-02-08 16:23] AntonioNH commented on #14358
Hey again, found the issue.

 In the portal, if you you click on the button next to the "Generate web.config parameters for Python, Node.js, Go and Java apps" textbox and auto generate the parameters for the java_springboot framework, you will get the following: -appType Java_SpringBoot (among others)...

Looking at https://github.com/microsoft/azure-pipelines-tasks/blob/ea74f3f0b3fac2e071d445656f

[2021-02-08 16:47] pr-hasomed commented on #11451
Not an additional parameter, but the default "/E" in the parameter list is also not documented...

[2021-02-08 18:34] garyverhaegen-da commented on #14302
Based on a suggestion from @damccorm in #3241 I was able to make a minimal reproducible case for the `Bash` step issuing a spurious warning:

[code]
Here is the relevant part of the debug output for that build:
[code]

So I suppose Bash can be added to the list above.

[2021-02-08 19:31] zhenghao104 commented on #14282
@anatolybolshakov The previous implementation will set the packagingUrl to a default one, and hide away the error. The recent commit i linked above force it to fail and throw the error, I think we need more information on what may be causing getConnectionData to return null, if you know who can help on this issue that would be great.

[2021-02-08 19:51] richshadman opened #14361 "Kubernetes@V1 .KubectlOutput is wrong"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-08 20:06] cforce commented on #10360
There is is still no webhook support which is simply based on HTTP GET and url param. Posts are just not supported in most of the tools working with WebHooks..

[2021-02-08 22:21] KyleCrowley commented on #12562
For anyone using Azure DevOps Server (on-prem):

The [workaround](https://github.com/microsoft/azure-pipelines-tasks/issues/12562#issuecomment-631663658) suggested above does not work with ADO Server, as the [NuGet Authenticate](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops) task is not available in ADO Server.

It appears that there is

[2021-02-08 22:29] mateusz-kolecki opened #14362 "updatedependency option for HelmDeploy@0 upgrade command"
*Type*: Question

**Enter Task Name**: `HelmDeploy@0`

## Issue Description

Why `HelmDeploy@0` command `upgrade` does not offer `updatedependency` option? Is that some design decision or it was just simply forgotten for `upgrade` command?

I can see that the `install` command can receive this option and it is not clear to me why `upgrade` doesn't.

[2021-02-09 03:42] shigupt202 commented on #14234
A service connection is automatically created with permissions restricted to the namespace specified during environment creation. I think the problem here could be that the namespace that you've given during environment creation is different from where you're trying to deploy the Helm chart (which seems to be `kube-system` from the error message). Can you validate this once? If this is the issue,

[2021-02-09 06:25] 20shivangi commented on #14224
@Anne56njeri You want this change for which task ?
Also, if something is breaking for you with our present scenario ?

[2021-02-09 06:28] 20shivangi commented on #14352
@mattboothman Is the workaround working for you ? If that is the case, can we close the issue ? :D

[2021-02-09 06:33] mattboothman commented on #14352
@20shivangi I suppose that depends. Are you guys, and Microsoft, happy with this task being broken and the documentation being wrong/incomplete

I'm happy to submit a PR to fix the documentation if you could let me know where/how to do that.

Otherwise, IMO, this ought to be fixed. It's ruined for Windows agents at the moment. Although we can happily work around the break, all that'll happen is so

[2021-02-09 06:37] 20shivangi commented on #13457
@ricohomewood Sorry for the late response. Are you still facing the issue ?

[2021-02-09 06:57] 20shivangi commented on #14327
@N-Usha We do need read permissions on RG for the call ' Get-AzRmResourceGroup' in the code . Can you please update the documentation of AzureFileCopy task for the same.

[2021-02-09 07:02] 20shivangi commented on #14273
@NWH-SAmin5 Have you tried the workaround proposed above ?

[2021-02-09 07:03] 20shivangi commented on #14257
@little-eyes Is the issue still occuring ?

[2021-02-09 07:12] 20shivangi commented on #14215
@krispenner From the logs attached, az module version is 4.7.0 and the commandlet `Get-AzWebApp` must be available in that version.
Can you install this version locally on your machine and try to run the same az script that you are running using task and check if that is working for you ?

[2021-02-09 07:16] 20shivangi commented on #7654
Is the issue still occuring ?

[2021-02-09 07:27] Anne56njeri commented on #14224
@20shivangi yes MSI doesn't seem to be working for us since in the[ _getMSIAuthorizationToken()](https://github.com/microsoft/azure-pipelines-tasks/blob/f462aeacedf56ceeeacd3d29027471a59573eaee/Tasks/Common/AzureRmDeploy-common/azure-arm-rest/azure-arm-common.ts#L119) the resource is set to `baseUrl` this results in 401 error code. A customer who tried using MSI on a private agent added the MSI fo

[2021-02-09 07:27] ricohomewood commented on #13457
@20shivangi Yes indeed this still happens as a workaround we are no longer relying on the auto-swap feature and manually swapping using a different task.

[2021-02-09 07:30] 20shivangi commented on #13457
It is great that workaround is working for you. We will check and work on auto-swap

[2021-02-09 07:50] 20shivangi commented on #14224
Please share the logs once with setting system.debug to true in your pipeline/release.

[2021-02-09 08:06] lonevvolf commented on #14327
This means that the account used for the action has read access to every resource in the RG, as the permission is inherited.  This seems like a security issue to me.

[2021-02-09 08:44] mattboothman commented on #14352
@20shivangi I'm not sure if this comment on the docs PR helps to clarify the problem: https://github.com/MicrosoftDocs/azure-devops-docs/pull/10160#issuecomment-775768980

[2021-02-09 10:16] Soruk opened #14365 "Cannot use parameter / variables for 'azureSubscription' in AzurePowerShell task in deployment"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShell@5

## Environment
- Server - Azure Pipelines or TFS on-premises?

Azure Pipelines

- Agent - Hosted or Private:

Hosted

## Issue Description

When I use the AzurePowerShell in deployment job in a Yaml

[2021-02-09 12:10] 20shivangi commented on #14091
@Warzinski The issue is occuring on AzurePowerShellV5 in private agent, right?
However the same is working for V4 version in  private agent. Just confirming...

[2021-02-09 12:32] Warzinski commented on #14091
@20shivangi  That is correct.  I've already provided the logs from v5 where it doesn't work and from v4 where it does work.

[2021-02-09 13:25] ld0614 opened #14366 "AzureFileCopy@4 SubscriptionId parameter is not avalible"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug?

**Enter Task Name**: AzureFileCopy

## Environment
- Server - Azure Pipelines
- Agent: Hosted (windows-latest)

## Issue Description

When a Service Connection has been configured with access to multiple subscriptions it is not possible t

[2021-02-09 14:27] derekrprice commented on #11864
I did some testing today with npm.  My baseline is a pretty consistent ~58s for `npm install` to run.  Following the documentation's npm example and caching the .npm directory, initial caching costs ~23s.  Restoring the .npm cache takes ~68s.  Subsequent runs of `npm install` still take ~44s.  That this is a net loss is pretty much a no-brainer.  There must be a better solution.  Are there any cir

[2021-02-09 14:54] ahaleiii commented on #4945
Would like to echo what everyone else has said. Adding code coverage to our pipeline (.NET Core 2.1, coverlet.collector, cobertura) added 2 minutes to what was a 3 minute pipeline (1463 files). We will probably end up publishing just the .xml file as an artifact instead of as code coverage.

I don't suppose there is a way to publish a coverage file from one build to another..? Could create an asyn

[2021-02-09 15:27] Anne56njeri commented on #14224
Debug log
[code]

[2021-02-09 15:47] Soruk commented on #14365
And I see the same behavior with the AzureResourceManagerTemplateDeployment task.

Maybe there is a problem with deployment jobs.

[2021-02-09 15:55] krispenner commented on #14215
@20shivangi yes when I run my script locally it works because the version of the az module is newer than whatever the “latest” version is on the YAML task. The issue seems to me that “latest” doesn’t actually mean the latest and there seems to be no way to specify a specific version of az to download and install.

[2021-02-09 17:28] dazinator commented on #11864
@derekrprice No there doesn't appear to be. Perhaps the Azure infrastructure benefits by being able to deprioritise network traffic when using this new cache task, that's just a guess - it would explain why there has been no rush to investigate or fix this issue. Switch back to cache v1?

[2021-02-09 18:19] derekrprice commented on #11864
@dazinator This is my first try at a pipelines cache.  Did v1 work?  I can't find any doc for that.  Is it just a matter of using `task: Cache@1` and keeping the rest of the args the same?

[2021-02-09 18:32] dazinator commented on #11864
@derekrprice
I ended up removing caching so I can't give you the v1 syntax but I beleive they were very similar. Quick Google reveals task: cachebeta@1: https://bluerivet.com/blog/automated-testing-in-azure-devops-with-cypress/

[2021-02-09 18:58] bishal-pdMSFT commented on #14197
Sorry this went under radar. Adding @damccorm who can answer your [questions](https://github.com/microsoft/azure-pipelines-tasks/issues/14197#issuecomment-757137629) better.

[2021-02-09 19:21] phanikmmsft commented on #14304
@ganesp @anshii03  pls triage this

[2021-02-09 19:55] steved0x opened #14368 "AzzureAppServiceSettingsTask shows resourceGroupName as required, but it does not seem to be required"
https://github.com/microsoft/azure-pipelines-tasks/blob/9e3ea8cc7454ae5a1275cc9a1deca4481b4173b0/Tasks/AzureAppServiceSettingsV1/task.json#L59

A customer has reported this:

https://github.com/MicrosoftDocs/azure-devops-docs/issues/9969
https://github.com/MicrosoftDocs/azure-devops-docs/pull/9971

I am going to accept their doc PR to remove required as an input - (although the task.json shows it

[2021-02-09 19:56] devgibsonsp opened #14369 "Recent issue with artifacts seemingly not deploying correctly since "%25 detected" error started showing up"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-02-09 21:26] vany0114 commented on #10996
Here is my workaround if it can help anyone, while this issue gets fixed. I'm using a variable which contains the relative path to the project/solution I want to build, e.g. `src/service1`, `src/service2`

[code]

[2021-02-09 23:07] pradudev commented on #14246
@bishal-pdMSFT  Hi, when can I expect the new version(v2.182.0 and v3.182.0) of the two ARM deployment tasks with the fixes in it?

[2021-02-10 06:00] 20shivangi commented on #14257
Since we did not get any response yet. Feel free to reopen the issue if still facing the same.

[2021-02-10 06:00] #14257 closed

[2021-02-10 06:30] 20shivangi commented on #14359
@cstrempfer As pointed out earlier, Management Group service connection will not work for deploying to a web app. Since Management Group service connection does not take subscription id while creation but for deploying to resources like a web app, we do need the subscription id.
And for your idea of being having an optional "subscriptionId" parameter in case of Management Group service connection,

[2021-02-10 06:47] AmrutaKawade commented on #14075
Hey deployement started last week and completed on few regions it will get deployed in other regions this week. you can check minor version in logs of task

[2021-02-10 07:32] 20shivangi commented on #14215
@krispenner Can you let us know what is the version of Az module in which your script is working ? On hosted agent, latest version corresponds to 4.7.0
Also, what you can do to verify if the problem is not with task, use private agent instead of hosted one and then specify the az module version that is in your machine

[2021-02-10 07:33] little-eyes opened #14370 "Bash task environment variable not working"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Bash or script

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide th

[2021-02-10 07:34] 20shivangi commented on #14352
@N-Usha Can you have a look at the documentation PR : https://github.com/MicrosoftDocs/azure-devops-docs/pull/10160/files

[2021-02-10 07:38] 20shivangi commented on #13232
Was the doc : https://github.com/projectkudu/kudu/wiki/Dealing-with-locked-files-during-deployment#for-msdeploy-try-enabling-app-offline not helpful to you ?

[2021-02-10 07:55] 20shivangi commented on #14366
@ld0614 We do not support a service connection with access to multiple subscriptions in the task . Try to use manual spn with access to single subscription and azure powershell with combination of `set-azcontext`  to provide access to other subscriptions to use the same.

[2021-02-10 08:04] mpowrie commented on #13158
I observed the same behaviour. By changing 👍
`SourcePath: '$(System.DefaultWorkingDirectory)/directory/testFile.txt'`

to:

`SourcePath: '$(System.DefaultWorkingDirectory)/directory/testFile.*'` the target file was copied properly to the correct folder.

[2021-02-10 08:06] mpowrie commented on #13158
This is not a dup I'm afraid - the issue is still unresolved for single files being copied to a folder.

[2021-02-10 08:48] AsierVillanueva opened #14371 "Azure MySQL Deployment Task wrongly sets the path to the script"
*Type*: Bug

**Enter Task Name**: Azure Database for MySQL deployment (AzureMysqlDeploymentV1)

## Environment
- Server - Azure Pipelines
Account Name: DesarrollosEdatalia
Team Project Name: Fábrica Edatalia
Release: Deploy PSC (Release-99)

- Agent - Hosted

Agent name: 'Hosted Agent'
Agent machine name: 'fv-az354-502'
Current agent version: '2.181.1'
Operating System: Microsoft Windows Server 20

[2021-02-10 09:23] cstrempfer commented on #14359
@20shivangi I'm not sure we are on the same page here. Service connections should not have an additional subscription id, because that would defeat the purpose of using management groups in service connections. My suggestion was to add a subscription id to the pipeline tasks, so that it can handle both kinds of service connections.

Trying to put the subscription id anywhere else would ignore incr

[2021-02-10 09:59] 20shivangi commented on #14371
This issue is a duplicate of issue : https://github.com/microsoft/azure-pipelines-tasks/issues/14352 so marking this as closed
We have fixed this with PR : https://github.com/microsoft/azure-pipelines-tasks/pull/14367

Please wait for the deployment to reach your account. Thank you for your patience :)

[2021-02-10 09:59] #14371 closed

[2021-02-10 10:22] albigi commented on #13033
we are having the same, even after isolating the publishing result into a different step we sometimes see this error message when the test runs are over.

the problem started all of a sudden a couple of weeks ago. It's not clear to us whether this depends on anything in our code at all (e.g. ApplicationInsights telemetry), the tests host itself or else. we went through our codebase several times t

[2021-02-10 10:26] Yush0 commented on #13232
@20shivangi No they don't provide a real solution for us:
"The downside of course is that your site is unavailable during the deployment. This can be avoided by relying on a Staging slot instead of deploying straight to Production."
We already have Staging Sites running but at some point we need to deploy to Production. In most cases the deployment works seamlessly without app_offline and we have

[2021-02-10 11:59] DaniilShmelev commented on #14370
Hi @little-eyes! Could you try using  `echo "Client_Secret=$Deployment_Client_Secret"`?

[2021-02-10 12:03] MikielAgutu opened #14373 "Azure App Service Deploy task: Error: 'credentials' cannot be null"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: `AzureRmWebAppDeploymentV4` (Appears in the UI As 'Azure App Service Deploy')

## Environment

Azure DevOps, Pipeline. Hosted agent.

## Issue Description

When attempting to deploy with the Azure App Service Deploy task, I get the error `'credentials' cannot be null`. Nowhere in the UI am I asked for credent

[2021-02-10 12:32] milenavega commented on #11399
I have same problem. Is there any suggestion how to resolve missing iCloudcontainer in ExportOptions.plist

[2021-02-10 14:20] beyerleinf opened #14375 "npm task & Azure DevOps Artifacts - Issues with npm ci"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NpmV1

## Environment

Azure DevOps, hosted Agent
Account Name: balluffsmartreorderingsystem
Team Project: SRS
Build Definition: srs-frontend (BuildID 459 / "#srs-frontend_merge_20210210.2 Minor visual bugfixes")

## I

[2021-02-10 14:36] damienwebdev commented on #11444
Just bumping this issue again, as this seems to have reappeared and I'm the original issue author.

[2021-02-10 15:30] JohannesDrexler commented on #14345
Closing the issue, i figured out what the problem was. there is a branch in that repo that is called "webapp.csproj" and the dotnet-restore finds that branch-ref in the git-folder.

[2021-02-10 15:30] #14345 closed

[2021-02-10 16:28] ddivanshu commented on #14197
@nulltoken
As suggested by [here](https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/design/percentEncoding.md)
could you set job variable DECODE_PERCENTS to true either in workflow or through UI instead of environment variable.That will work for you
[code]

[2021-02-10 17:12] flying-sheep commented on #10125
Since I see no open feature request: Is there an option now? Will we get one?

It’s easy to forget to add `set -e` for every single CLI task, it would be great to set it globally once.

[2021-02-10 20:10] anatolybolshakov commented on #14290
Sure! Let me close this one since feature mentioned above seems to be for Azure DevOps itself.

[2021-02-10 20:10] #14290 closed

[2021-02-10 20:14] rafastellato commented on #13232
Same problem here... I am using .NET 5 and deploying on premises.

The problem by check the option "Take app offline" is that if the deploy fail, the api goes down :(

[2021-02-10 21:57] aykevl commented on #13418
I don't know whether this has been fixed in the meantime. I do know that I no longer need to work around it because the bad symlink has been removed from the dependency (LLVM) so it no longer affects me.

[2021-02-11 03:46] AmrutaKawade commented on #14201
this is fixed. closing this issue

[2021-02-11 03:46] #14201 closed

[2021-02-11 04:49] ByteDev commented on #10353
Using reportgenerator in the way described above doesn't fully work for me. I get the following warning from the `PublishCodeCoverageResults@1` task: `[warning]No code coverage results were found to publish.`.

However, if i set `summaryFileLocation: '$(Build.SourcesDirectory)/**/coverage.cobertura.xml'` then everything works but I'm back to getting the misleading warning: `Multiple file or direct

[2021-02-11 05:02] 20shivangi commented on #14373
@MikielAgutu  In Azure app service deploy task, we have two connection, Publish Profile and ARM.
From the logs attached, I can see that you are using publish profile, have you tried to use ConnectionType = PublishProfile instead of Azure Resource Manager?

[2021-02-11 05:34] 20shivangi commented on #13946
Is the issue still being faced ?

[2021-02-11 05:58] 20shivangi commented on #14273
@NWH-SAmin5 For you issue on using azure app service deploy task : `I tried using "Azure App Service Deploy" and this does not work. But this one throwing error "credential cannot be null". I tried recreating Service Connection but still facing this issue.`

I can see that you are using publish-profile in the task. This task supports two connections, Publish Profile and ARM.
Please try to use Conn