[2020-06-21 06:05] 20shivangi commented on #9922
Please use latest version of azure filecopy i.e. V4 version. The issue has been fixed in that.

[2020-06-21 10:33] anuragc617 commented on #13107
@hbuckle since you have specified version input as 3.1.x, the task tries to find out the latest version in 3.1 channel and if the latest version is not in your agent tool directory it will download it. If you have only 3.1.301 in your tool cache and you don't want the task to download the latest then use 3.1.301 in task input instead of 3.1.x.
In your case, I saw the logs and find out that the tas

[2020-06-21 14:02] ksingh3 commented on #12683
@eaarora-ms Any updates please?

[2020-06-21 17:33] dpurge commented on #13027
Hi @apluche, thank you for your response. Apologies for the delay in my answer, I was trying to find instructions how to create a "suggestion ticket" in this repo, could not find either instructions or an example and later was a bit busy :)

Should I just create a new ticket and explain what I would expect and why I think it's useful?
It would be a copy of this question - so should I do that?

FYI

[2020-06-21 17:33] #13027 closed

[2020-06-21 20:30] Roshan-Kumar-Microsoft commented on #12835
@jkonecki  Please let us know if you are still facing this issue .

[2020-06-21 20:30] #12835 closed

[2020-06-21 20:32] #13026 closed

[2020-06-22 04:45] chshrikh commented on #13137
which azure powershell version is getting used in task ?

[2020-06-22 04:48] saquibkhan commented on #13130
Hi, I have started looking at it.
So far my analysis is as below:
**Issue** Bug is with azure-task-lib _argStringToArray function - https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/toolrunner.ts#L88
Changing this function to provide the fix may require a lot of regression hence we are exploring other options to provide a mitigation fix in azure-pipeline-tasks

**Stack-->**
ht

[2020-06-22 04:53] #13082 closed

[2020-06-22 05:31] ShreyasRmsft commented on #13142
Yes, add the details here along with full zip logs with system.debug set to true.

[2020-06-22 05:45] saquibkhan commented on #13155
Hi @sarukk Can you try VSTestPlatform installer and check if it unblocks you. Here is the link - https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/vstest-platform-tool-installer?view=azure-devops

Meanwhile, we are looking into the issue

[2020-06-22 05:55] jsburckhardt commented on #12401
I got this issue since yesterday. It was building normally two days ago

[2020-06-22 06:36] shigupt202 commented on #11945
Thanks for the feedback. Let me discuss with the team and PM's about the feasibility of adding this feature in the task.
For the time being, as a workaround you can use command line task in your pipeline to write all the environment variables into a file and then use that as a config map.

[2020-06-22 06:43] anuragc617 commented on #12756
closing the issue as the fix has been rolled out.

[2020-06-22 06:43] #12756 closed

[2020-06-22 07:32] anuragc617 commented on #13127
Hi, @musmuris this issue doesn't look like DotNetCoreCLI@2  task issue. The `dotnet restore` command should be taking a similar time on your local setup as well. Can you verify this? If it is taking a similar time then you can report it to DotNetCore team.

[2020-06-22 08:08] dnperfors commented on #10968
Today it is happening again. First I thought it was because we used a slightly older version of .NET Core, but then again I would expect that I can run older builds just fine without any problems.
Could this please be solved correctly?

[2020-06-22 08:17] mickael-caro-sonarsource commented on #2147
Hi @defaultbr,

Please go to our support forum, should you have any problems that you need help for : https://community.sonarsource.com

And please note also that if you are using the Community Edition of SonarQube, branches and pull request analysis are not supported. Thanks !

[2020-06-22 08:29] rnmalone commented on #13070
This was caused by the my storage account having an IP whitelist. I made the mistake of assuming all Azure services would be able to connect to it

[2020-06-22 08:36] juanmalm opened #13160 "Add support for include/exclude paths on schedule trigger"
Having schedules trigger on a repo with more than one VS solution would be good to have the ability to configure the trigger including/excluding repo paths.

Right now only filter by branches is supported:
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/scheduled-triggers?view=azure-devops&tabs=yaml

[2020-06-22 09:17] Michaelvsk commented on #4743
I have the exact same problem.  I cannot access variables from a deployment job. Not only across stages but also accessing a variable in a dependent job seem to not work.

[2020-06-22 11:17] musmuris commented on #13127
@anuragc617  Locally it's fine - clean the repo and run it on command line takes <10 seconds.  This should be the same with the Cache@2 task to restore the package download.

[2020-06-22 12:11] dazinator opened #13161 "AzureCLIV1 with variable values containing %X"
## AzureCLIV1

When a variable value used in the inline script, contains %X it results in weird output.

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureCLIV1

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provid

[2020-06-22 13:48] wouterroos commented on #13101
Hi,

This also doesn't seem to be working on a single-stage pipeline when referencing a build definition other than the one that is currently running. Our use-case is to download an artifact from another pipeline based on a given tag.

[2020-06-22 14:19] mcalnd70 opened #13163 "Azure SQL Database Deployment task - Server/DataBase/Login names need to support secrets"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure SQL Database Deployment

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/SqlAzureDacpacDeploymentV1

## Environment
- Server - Azure Pipelines

- Agent - Hosted: windows-latest

## Issue Description

The fields passed into this task such as...

_**_Azure SQL Server
Database
Login_**_

[2020-06-22 15:12] #13069 closed

[2020-06-22 15:16] itzkumar commented on #11191
@ronbuchanan,

Can you please share us the PS script sample?

[2020-06-22 16:15] edgarrs commented on #6135
As @richlander  pointed out this is something to follow up on the dotnet-docker repo:
https://github.com/dotnet/dotnet-docker/blob/master/documentation/scenarios/nuget-credentials.md

[2020-06-22 16:15] #6135 closed

[2020-06-22 16:16] chriswill commented on #13158
#13159 seems to be a dupe of this report.

[2020-06-22 16:24] edgarrs commented on #7160
Take a look at this "how do I" answer:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops#how-do-i-configure-a-nuget-package-source-that-uses-apikey-nuget-api-keys-such-as-nugetorg

[2020-06-22 16:24] #7160 closed

[2020-06-22 16:25] #8309 closed

[2020-06-22 16:28] #12895 closed

[2020-06-22 16:38] edgarrs commented on #12343
This is the dot net core tool installer task not the nuget installer. @bishal-pdMSFT, can you  please take a look at this?

[2020-06-22 16:40] #11811 closed

[2020-06-22 16:41] edgarrs commented on #11768
This will be fixed for Azure DevOps Server 2020

[2020-06-22 16:41] #11768 closed

[2020-06-22 16:42] #11724 closed

[2020-06-22 16:46] ScottyMac52 commented on #7160
So, you post an article from 8/2019 and then simply close the issue? That's
really poor customer service!

On Mon, Jun 22, 2020, 9:24 AM Edgar Ruiz <notifications@github.com> wrote:

[2020-06-22 16:47] edgarrs commented on #11722
This is a specific issue with the npm package node-sass.

[2020-06-22 16:47] #11722 closed

[2020-06-22 16:48] #11567 closed

[2020-06-22 17:00] ronbuchanan commented on #11191
@itzkumar Here's the gist. The parameters are provided by the AzDO release.

https://gist.github.com/ronbuchanan/459dd77faa486a02520af4ef50d3c9e6

Hope it helps.

[2020-06-22 17:02] edgarrs commented on #10494
You need to run the agent with this env var configured: https://nodejs.org/api/cli.html#cli_node_extra_ca_certs_file

[2020-06-22 17:02] #10494 closed

[2020-06-22 19:30] nick5454 commented on #7287
That was a resolution to from a zip deploy to a web deploy?

[2020-06-22 21:31] babelshift commented on #7160
Are we to assume that this will never be addressed now that the issue is
closed?

On Mon, Jun 22, 2020, 12:46 PM Scott McIntosh <notifications@github.com>
wrote:

[2020-06-22 21:50] ScottyMac52 commented on #7160
That certainly was my reasonable assumption.

On Mon, Jun 22, 2020, 2:31 PM Justin Skiles <notifications@github.com>
wrote:

[2020-06-22 22:28] johnterickson commented on #12680
This is part of the FAQ:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops#how-do-i-configure-a-nuget-package-source-that-uses-apikey-nuget-api-keys-such-as-nugetorg

[2020-06-22 22:28] #12680 closed

[2020-06-22 23:17] cpujuice commented on #11191
We were able to reproduce the issue by changing the data type of a column. Deployment fails when the underlying data cannot be directly mapped to the new data type, regardless of what BlockOnPossibleDataLoss is set to.

We are working on a fix for the next SqlPackage release.

[2020-06-22 23:21] fadnavistanmay commented on #12578
This was released.

[2020-06-22 23:21] #12578 closed

[2020-06-22 23:21] #12345 closed

[2020-06-22 23:56] fadnavistanmay commented on #12790
Failed to reply to this thread. If you check the timestamp, there is a 4 day delay between when the job started, and the files were processed. Something definitely is not right with the agent for the particular run. I am going to close this as s one off issue.

[2020-06-22 23:56] #12790 closed

[2020-06-23 05:12] rdaruich commented on #9696
hi  guys. i have the same issue here. but i resolve changing the  deploy method for **web deploy** and then i have the error trace for my app.

![image](https://user-images.githubusercontent.com/25388140/85363270-75cff300-b4ee-11ea-9950-8dabdf23696b.png)

in my case the error has because an app service are using a lot of space in your quota.

![image](https://user-images.githubusercontent.com/2538

[2020-06-23 05:31] shigupt202 commented on #13152
@elvinasp The issue is indeed because of older version of the task. You can use the following set of steps to upgrade the HelmInstallerV1 and HelmDeployV0.

![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/57620559/85364460-cb34f000-b540-11ea-8f2e-7d6ce22d37cd.png)

[HelmInstallerV1.zip](https://github.com/microsoft/azure-pipelines-tasks/files/4817289/HelmInstallerV1.zip)

[He

[2020-06-23 07:13] shigupt202 commented on #13157
@arroyc Could you please share the failing pipeline? From the logs, it looks like the pipeline is failing because a repository has not been specified.

[2020-06-23 07:15] twsl commented on #7160
The nuget solution has been posted over and over. Closing this by saying "ignore this bug, use another method" is a really shitty decission.

[2020-06-23 07:56] AdrienCulem opened #13165 "File transform cannot replace variable called "build""
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: File transform

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/FileTransform

## Environment
- Server - Azure Pipelines

- Agent - windows-2019

## Issue Description

When building an electron.NET application, I want to transform some things in a file called "e

[2020-06-23 08:03] MichaelHolmesWP commented on #11191
@ronbuchanan Can you confirm what version of sqlpackage.exe (ie the executable File/Product Version) your build agents are running?

[2020-06-23 08:35] jcovoluntis opened #13166 "Docker task improvement"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Docker

In order to execute our Selenium based automated tests I have to run Selenoid docker image.
If I understood docker correctly, I will have to "run" the container at the 1st execution, but only "start" it at the next executions (because it has been created already by the "run" command).
Would it be

[2020-06-23 08:44] sarukk commented on #13155
Hi saquibkhan,

With VSTestPlatform task the UTs are running without any issue.

[2020-06-23 09:30] elvinasp commented on #13152
Thanks @shigupt202.
It was indeed version issue. I have asked administrator to update the task and that did the job.

[2020-06-23 09:30] #13152 closed

[2020-06-23 11:29] sdobrodeev commented on #13048
Found and used https://github.com/theophilusx/ssh2-sftp-client instead of scp2.
Created and merged the PR - https://github.com/microsoft/azure-pipelines-tasks/pull/13084

[2020-06-23 11:29] #13048 closed

[2020-06-23 11:37] #11852 closed

[2020-06-23 11:40] sarukk commented on #13155
Or, rather, there is not exception, but with that approach, the test are not discovered.

`No test is available in ASBTest.exe. Make sure that test discoverer & executors are registered and platform & framework version settings are appropriate and try again.`

[2020-06-23 11:55] tongtrongnhan commented on #4533
I have same issue I fixed it by "Add  https://api.nuget.org/ to trusted site on Internet Option"

[2020-06-23 14:45] ClaudeVernier opened #13168 "Searching for best practices"
## Required Information
*Type*: Question
**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server - Azure Pipelines
- Agent - Private: vsts-agent-win-x64-2.166.4

## Issue Description
Hello,
I am sorry if this isn’t the best place to ask questions but I’m so confused, I don’t know where to go anymore.

My task seems simple:
- Developers used GitHub to create a DotNetCore command prompt applic

[2020-06-23 18:29] ericoporto commented on #9009
In the documentation appointed above:

Can you give a little more examples? I been away from azure pipelines from an year and came back today to findout all my repositories are failing from Bad Credentials.

[2020-06-23 21:55] andrew-sumner opened #13170 "Publishing Azure Function doesn't work in agent behind proxy"
Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?** : Bug
**Enter Task Name**: AzureFunctionAppV1

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure DevOps Server

    - If using TFS on-premises, provide the version: Version Dev17.M153.5

- Agent - Hosted or Private:

    - If using private agent, provide the

[2020-06-23 23:06] ronbuchanan commented on #11191
@MichaelHolmesWP
![image](https://user-images.githubusercontent.com/729849/85475798-aebaa700-b584-11ea-9513-422317a9e1c6.png)

[2020-06-23 23:50] temelj opened #13171 "DotNetCoreCLI@2 does not use the proxy correctly"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug ?

**Enter Task Name**: DotNetCoreCLI@2

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DotNetCoreCLIV2

## Environment
- Server - Azure Pipelines
- Agent - Both
    - Private: Agent 2.170.1,

[2020-06-24 02:05] temelj commented on #13171
It appears that as part of the DotNetCoreCLI@2 - it does not use the proxy properly.

[2020-06-24 05:11] anuragc617 commented on #13107
@hbuckle closing this as all your questions are answered and there is no bug in task. Feel free to comment if you have any other question.

[2020-06-24 05:11] #13107 closed

[2020-06-24 05:14] anuragc617 commented on #13059
Closing this issue there is no active query.

[2020-06-24 05:14] #13059 closed

[2020-06-24 05:16] anuragc617 commented on #12913
@pulkitaggarwl can you have a look at this.

[2020-06-24 05:19] anuragc617 commented on #12717
Closing this issue as the DotNetCoreCLI@2 projects path should be minimatch pattern and working directory input is used for running the dotnet command. The working directory help text has also been update for the same.

[2020-06-24 05:19] #12717 closed

[2020-06-24 05:25] DavidLHannah commented on #11593
I echo the need for an overwrite option. Or perhaps just an _arguments_ option where we can pass any 7zip argument.
In the mean time, easy enough to make due in PowerShell.

[2020-06-24 05:32] saquibkhan commented on #13130
Below are our findings and next steps:
1. If we try passing quotes as a value even that is being eaten up by task-lib
Input: `-- TestRunParameters.Parameter(name=paramName,value=argwith"aquote)`
Output `-- TestRunParameters.Parameter(name=paramName,value=argwithaquote)`
2. If we use backslash then also quote is eaten up.
Input: `-- TestRunParameters.Parameter(name=paramName,value=argwith\"aquote)`

[2020-06-24 06:25] anuragc617 commented on #13161
@dazinator this is expected behavior, you need to escape any special character before passing input to task. We are working on doing the escaping in the task itself.

[2020-06-24 07:24] rizi commented on #10513
We also have the same warnings. (Azure DevOps Server (on premises 2019.1) and VS 2019 16.6.x please reopen the ticket.

[2020-06-24 07:53] mcharo commented on #8853
Old and dead issue, but for the fellow googler, this seems to be an issue when you are doing string interpolation like:
[code]

Changing to something like the following seems to help whatever parser correctly figure out what's going on:
[code]

[2020-06-24 08:59] nohwnd commented on #13130
https://github.com/microsoft/vstest/issues/862#issuecomment-621737720 I was exploring and fixing the vstest part here. It would be nice if the final syntax was compatible with these ways of escaping, as we don't know from whichOS the user will copy the command. ( Notice that on bash we escape parentheses and spaces.)

[code]

[2020-06-24 09:37] saquibkhan commented on #13130
yes @nohwnd once this issue  https://github.com/microsoft/azure-pipelines-task-lib/issues/648 is fixed the escape sequence will work

[2020-06-24 10:17] 20shivangi commented on #13159
@samsmithnz Are you giving the inputs as a yaml file or in the azure task itself ?

[2020-06-24 10:17] 20shivangi commented on #13158
@chriswill  Are you giving the inputs as a yaml file or in the azure task itself ?

[2020-06-24 10:28] 20shivangi commented on #13159
Please let us know the version of AzureFileCopyV4 used if you face the error again

[2020-06-24 10:31] nishantms commented on #11666
Report Generator version is updated and fix will be available in M172 update.

[2020-06-24 10:37] 20shivangi commented on #13129
@jgierveld This file is a ps1 file so no semi colons are required here that's why the task is not failing. And yes, in V4 version,, it does not allow us to set the variables, rather they are given as outputs.
Please refer to screenshot attached :
![image](https://user-images.githubusercontent.com/45754171/85540595-cea9a380-b634-11ea-88db-b621f39b7c2f.png)

[2020-06-24 11:16] egor-bryzgalov commented on #12915
Thanks for opening the issue!
It may take some time for the fix to be deployed. You may also try to change logon account to the local system account for the agent running as a service as a temporary workaround.
In order to do it, you may open "Services", find "Azure Pipelines Agent" in the service list, open it's properties and set 'Log on as' property to 'Local System account' at Log On tab.
Runn

[2020-06-24 11:28] samsmithnz commented on #13159
Permissions should be all set, I use this same service connection for other deployments and AzureFileCopyV3 is working on the same connection? Saying that, I get a different error now, which does indicate permissions. Not sure that makes sense, given it's the same settings/storage/etc from v3 to v4, and the SPN has full permissions.

I created another job, with the same settings and V3 and V4. Her

[2020-06-24 11:46] shihanpietersz commented on #4743
@ drdamour

You saved so much of time with the above post.. thank you, so much

[2020-06-24 12:27] Eossu opened #13173 "KubernetesManifest@0 is not deploying baked kustomize files"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetsManifest@0

list here (V# not needed):
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/kubernetes-manifest?view=azure-devops

## Environment
- Server - Azure Pipelines or TFS on-premises?

[2020-06-24 12:43] Mohan739 commented on #1774
@Nimrod20  can you please let me know what was the issue. Even i am also in same trouble.

[2020-06-24 12:49] dpurge commented on #12471
@a688 I believe the way it works requires a few things to match. I use this task to set up credential provider to upload and download tasks to Azure Artifacts, and this is a process that I use during troubleshooting.

1) Create PAT in Azure Artifacts - I create it manually on https://dev.azure.com/dgsit/_usersSettings/tokens making sure that it works for my target organization (you can have more t

[2020-06-24 13:38] dazinator commented on #13161
@anuragc617 how do I escape the value? There is no mention of the necessity to escape values in the docs: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops

[2020-06-24 13:51] TWolverson commented on #1928
Any update?

[2020-06-24 14:38] sbugalski commented on #13137
`
2020-06-17T20:12:05.6654742Z Task         : Azure CLI
2020-06-17T20:12:05.6655190Z Description  : Run Azure CLI commands against an Azure subscription in a PowerShell Core/Shell script when running on Linux agent or PowerShell/Powershell Core/Batch script when running on Windows agent.
2020-06-17T20:12:05.6655608Z Version      : 2.0.16
2020-06-17T20:12:05.6655830Z Author       : Microsoft Corpor

[2020-06-24 14:41] soutchilin commented on #13142
Cool, where/how I can privately transfer the data?

[2020-06-24 14:51] lesterchan commented on #12892
Came in here to +1 to this, below is my config:
[code]

`Post-job: Cache Yarn Packages` will throw an error
[code]

[2020-06-24 15:31] RoakyWood opened #13174 "Specflow Test with Data Tables runs from Agent or Client Fails on Azure Pipeline VS Test Task"
## Required Information
Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug
[See Issue on StackOverflow ](https://stackoverflow.com/questions/62557458/specflow-test-with-data-tables-runs-from-agent-or-client-fails-on-azure-pipeline)

Without Specflow Data Table tests run fine from Azure Pipeline
With Specflow Data T

[2020-06-24 18:22] simmiaggarwal commented on #11864
I have same issue, Using Cache@2

Downloading 1,057.3 MB took 43seconds the first time. and now after 20 mins, it's still downloading. I had to cancel the build to get out of it

[2020-06-24 19:43] stephenmoloney commented on #4743
---

Update 24/06/2020

It's possible now to use conditions from stages but there is quite a bit of exactness required and in some cases, it's not 100% intuitive.

@drdamour address this relly well in [this post](https://github.com/microsoft/azure-pipelines-tasks/issues/4743#issuecomment-643469964) and I'd highly recommend reading it.

The use of conditions could do with being a bit more consisten

[2020-06-24 22:42] SirAlvarex opened #13175 "Helm Task printing all pods in cluster for each chart deployed in 'upgrade' or 'install' command"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy

list here (V# not needed):
V0

Direct link: https://github.com/microsoft/azure-pipelines-tasks/blob/bb48cfe4c7ca7ffd3d4e1f36efd7bf334cec0273/Tasks/HelmDeployV0/src/helm.ts#L176

## Environment
- Server - Az

[2020-06-24 23:55] ngreyes commented on #7708
In case someone runs into this again,  I recently had the same problem and my problem ended up to be that I was passing a zip file as an artifact which is primarily used for deploying websites.  I used the copy command to copy from build folder to artifact staging folder and my problem was resolved.

[2020-06-25 00:17] temelj commented on #13174
Guessing here: For SpecFlow to play nicely, I had to add MSBUILDSINGLELOADCONTEXT variable to my yaml
[code]
As per:
https://github.com/SpecFlowOSS/SpecFlow/issues/1912
It does appear that they have resolved the issue in the Beta release.

I couldn't help but notice that you are using the latest for specflow but outdated nuget packages elsewhere - however I'd guess your issue is quite likely relat

[2020-06-25 00:41] temelj opened #13177 "Task: UseDotNet@2 does not use the proxy correctly"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UseDotNet@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines
- Agent - Private - behind proxy - Windows 2016 - Agent 2.170.1

#

[2020-06-25 01:27] WardenGnaw opened #13178 "NuGetAuthenticate@0 is unable to install credential provider on force reinstall."
*Type*: Bug

**Enter Task Name**: NuGetAuthenticate

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/NuGetAuthenticateV0

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
   Account Name: DevDiv
   Team Project Name: Concord
   Build Definition Name (Build Number): Concord-Windows-PR (11789)

- Agent - Private Windows (2.165.0)

## Issue Descriptio

[2020-06-25 01:51] BlairMcc commented on #10067
@mjscosta I am also curious what you did to solve it, @sney-kqa did manage to resolve it?

Install private SSH key
[code]

The key works when I attempt it on our private build server
[code]

But still getting a host key verification failed error when trying a

`git pull git@bitbucket.org:org/repo.git $(Build.SourceBranch)`

[code]

Is there a reason the persistCredentials property on checkout can'

[2020-06-25 02:35] temelj commented on #13177
Strangely, The task is set to use a specific .NET Core version, and even though it is found, the task continues and attempts to install NuGet version 4.4.1

This is where the fun begins as it somehow drops the ProxyPassword in the process.

### nugetinstaller.ts - NuGetInstaller.installNuGet
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/UseDotNetV2/nugetinstaller.ts

#### Li

[2020-06-25 03:32] RoakyWood commented on #13174
@temelj I much appreciate your recommendation. I did try both solutions, but no luck. It may be a slightly different issue. I tried the Build Variable and I updated the Specflow Packages to a 3.3 Beta.

[2020-06-25 04:11] shigupt202 commented on #13175
@SirAlvarex We're sorry for the inconvenience. The issue is indeed because of the PR that you pointed out. But earlier, it would have never happened, whether `--debug` was used or not (because of a bug, this code was never executed). It seems that the commands `kubectl cluster-info` and `kubectl get pods -o json` are getting executed for every chart which is not required. We'll work on fixing this

[2020-06-25 04:28] temelj commented on #13174
May I ask, do you have an example project that generates this same error? I'd re-produce it locally to see what's happening.  My gut feeling is that Specflow is the issue here.

[2020-06-25 05:47] 20shivangi commented on #13159
@samsmithnz This error [AuthorizationPermissionMismatch] comes up only if we do not provide storage blob owner and storage blob contributor permissions to the SPN. Can you please check if these permissions are given to SPN?

[2020-06-25 09:23] DevRCRun commented on #9046
I've also just run into this when running script tasks, npm ci (to install everything for build) and then npm ci --only=production

A delete task in between these removing node_modules solves the issue (even though npm ci should be removing it entirely anyway)

[2020-06-25 10:21] DevonBritton opened #13179 "Sonar Code Coverage deprecated report path"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: here

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - TFS on-premises

    - Version: Azure DevOps 2019 1.1 Update 3

- Agent - Private

    - OS of the machine running the agent and the agent version: Linux (ubuntu 16.04) - Agent v2.141.1
--
## Issue Descript

[2020-06-25 11:47] samsmithnz commented on #13159
I'll look: but does this make sense? Does V3 use the SPN in a different way? Why do I get errors with the new version and not the old version?

[2020-06-25 11:52] 20shivangi commented on #13159
@samsmithnz Yes it is different. AzureFileCopyV3 uses azcopy.exe version 7, and AzureFileCopyV4 uses azcopy.exe version 10.
So in AzureFileCopyV4, we have to some extra permissions to our SPN as documented in the document :
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10#option-1-use-azure-active-directory

[2020-06-25 12:10] egor-bryzgalov commented on #13092
Hello, @kingcoyote!

Could you please try to escape the `$` sign with backquote?
[code]
Please let me know whether it helps. Thank you!

[2020-06-25 13:38] jrybacek commented on #11593
Hi David, would once you figure out the PowerShell script, would you mind posting it back here?  I know what 7zip arguments I need, but I'm not super familiar with what environment variable names reference the zip file and output directory.

[2020-06-25 15:59] priyan-github opened #13180 "Is there a way to list all the secure file in Azure Devops project library?"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-06-25 17:32] jeremytbrun commented on #11672
@eaarora-ms Bumping this thread. See above comments.

[2020-06-25 17:58] eaarora-ms commented on #11672
@20shivangi  To look into it.

[2020-06-25 19:24] zjpiazza opened #13182 "Error trying to sync Azure Storage Account container via Azure DevOps"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Azure CLI

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

   Azure Pipelines

- Agent - Hosted or Private:

    - Not sure where to find agent queue name

## Issue Description

Trying to upload build artifacts from my

[2020-06-25 20:11] Danlewis3 opened #13184 "Kubectl Extension 1.171 broken"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/KubernetesV1

## Required Information

The Kubectl extension has just updated into my ADO version 1.171.0 its causing issues on creating ingress controller this is a breaking change for us.

BUG:

2020-06-25T1

[2020-06-25 20:23] samuelkoppes commented on #11219
Artifacts supports glob patterns in paths. https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops

[2020-06-25 20:28] samuelkoppes commented on #11302
We are unable to support this due to the asynchronous architecture of "##" outputs and cache look-ups.

[2020-06-25 20:28] #11302 closed

[2020-06-25 20:32] samuelkoppes commented on #11682
We do not have a good way to implement this in YAML without introducing further syntactic complexity.

[2020-06-25 20:32] #11682 closed

[2020-06-25 20:42] samuelkoppes commented on #12480
We have this ask in our backlog, unfortunately we do not have a date for delivery at this time.

[2020-06-25 21:49] samsmithnz commented on #13159
Looks like I have contributor and owner access to the storage. Adding the storage contributor role worked, but I have to admit, it's odd having to add an extra role when the same SPN already has owner and contributor roles too. Any idea why they made this change? Otherwise this issue can be closed.

![image](https://user-images.githubusercontent.com/8389039/85798552-a50f7b80-b70b-11ea-9574-d4341fc

[2020-06-25 22:36] cpujuice commented on #11191
Hello,

After further investigation, the errors we were able to reproduce are actually thrown by the SQL engine and not by SqlPackage itself. Currently SqlPackage only supports implicit conversion between data types. The BlockOnPossibleDataLoss option is honored when the deployment plan generates in the background, but when it executes it could still fail if the underlying data cannot be directly

[2020-06-25 22:38] cpujuice commented on #11191
We are still not able to reproduce the issue with dropping columns though. Column is dropped successfully with BlockOnPossibleDataLoss=False regardless if there's data or not. Any pointers on this would be greatly appreciated!

[2020-06-26 01:49] kernelcoredump commented on #11268
I think this should be re-opened.  Surely the design docs of exposing the _path_ property on the download keyword/shortcut has not yet been (will never be?) implemented.  What is that behavior difference between BA and PA tasks that's preventing exposing this property in the keyword/shortcut?

What's more is that in _DownloadPipelineArtifactV1_, the default value is _$(System.ArtifactsDirectory)_

[2020-06-26 04:40] qJake commented on #11444
@saleelpk95 Can you verify what you mean by "clean up the resource group"? What differences are there between one that is broken vs. one that is good?

We have a number of resource groups that are manually created/maintained, not deployed automatically as templates, so I would be interested to know what tasks we can complete to potentially fix this issue.

[2020-06-26 04:48] koushdey commented on #13184
Working on the fix. As a workaround pass `outputFormat: ''` in yaml

[2020-06-26 04:52] 20shivangi commented on #13159
@samsmithnz This permission thing came as a document with new Azcopy.exe version.  I can't say why this change has been made. But you have to give these required permissions to run AzureFileCopyV4 task. I hope all your queries are solved now.

[2020-06-26 06:06] 20shivangi commented on #13159
Closing this one, feel free to reopen if face any issue.

[2020-06-26 06:06] #13159 closed

[2020-06-26 06:07] 20shivangi commented on #13158
@chriswill Please refer to this issue : https://github.com/microsoft/azure-pipelines-tasks/issues/13159
It will resolve your query

[2020-06-26 07:27] kambizniktabar commented on #9922
@20shivangi the V4 of Azure File copy throws the error message "ExceptionMessage: Not able to fetch token for tenant Id"

[2020-06-26 07:45] ShreyasRmsft commented on #13142
You can drop a mail to devops_tools@microsoft.com make sure you provide the github issue link in the mail along with updating other details in the issue here.

[2020-06-26 07:52] sdobrodeev commented on #12815
It was fixed in https://github.com/microsoft/azure-pipelines-tasks/pull/13084 PR. Tested on 500Mb and 1Gb files. Delay after copying now no longer occurs.

[2020-06-26 08:23] saleelpk95 commented on #11444
@qJake
Clean up means deleting all the resources within the resource group. I thought I'd have to recreate the resource group as I have read in other threads. But fortunately removing the resources worked.

[2020-06-26 08:34] haljin commented on #13175
At the same time it seems the task prints out the manifest, which includes secrets. Since we are using helm to base64 encode the values of secrets, Azure DevOps does not recognize them as secrets and does not censor them in the output. That's a pretty major security breach as it prints out passwords out in the open.

[2020-06-26 09:28] ChrisF987 commented on #4743
thanks very very much @drdamour . This was driving me nuts, was about to give up and then found your post! Cheers

[2020-06-26 13:41] samsmithnz commented on #13159
Thank you @20shivangi. One last thought: Should any of this be in the v4 task docs? I don't see anything, but it's a change.

[2020-06-26 14:07] 20shivangi commented on #13159
@samsmithnz I will check this, if it is not documented, I will take care of it

[2020-06-26 15:37] JohannesDrexler commented on #7952
This was opened in august 2018. Now is june 2020 and still open. i am closing this now as i am not expecting any fix for this in the near feature

[2020-06-26 15:37] #7952 closed

[2020-06-26 15:57] chshrikh commented on #12770
@Roshan-Kumar-Microsoft  to check this

[2020-06-26 18:00] mishfit commented on #13145
This doesn't appear to work if I specify multiple patterns (to overcome the lack of an _except_ syntax):

[code]

[2020-06-26 18:24] DavidLHannah commented on #11593
@jrybacek I just used the [microsoft.powershell.archive](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.archive) module in a PowerShell task. Pretty simple.

[2020-06-26 20:34] kcherewyk opened #13190 "cannot sync directory files to Azure Blob storage container"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-06-27 09:35] yesoreyeram opened #13192 "[Feature Request] Support tenant level deployment on AzureResourceGroupDeploymentV3"
Is it possible to do the tenant level deployment using AzureResourceGroupDeploymentV3 task ?

[2020-06-27 19:56] DaveSkender commented on #12178
So, I noticed this just showed up in my tenant.
![image](https://user-images.githubusercontent.com/8432125/85930645-1a09bf00-b88c-11ea-8e61-2776f6ac8b08.png)

The prior values I'd entered manually seemed to have disappeared, requiring a reset/re-save on my Release pipeline.  I only started looking at this again because I'm now having other issues with immediately failing Linux containers `Cound no

[2020-06-27 22:05] MatthewSteeples opened #13194 "Consider making the execution of the Cache post-job step configurable"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Cache

## Environment
- Server - Azure Pipelines
Account: ledgerscope
Project: Core
Build: CI
Build Id: 23425

- Agent - Hosted

    - If using Hosted agent, provide agent queue name: Azure Pipelines

## Issue Desc

[2020-06-28 00:52] apis3445 commented on #7659
I want this feature working correctly, the name is not useful

[2020-06-28 10:17] MehdiSaeedifar commented on #5472
@0xaryan Thanks. It worked for me.

[2020-06-28 15:22] RoakyWood commented on #13174
@temelj I am working on getting working but anonymized code out either in a zip on here or on Github, but I'll need a couple days to unravel it. I really do appreciate your interest in this.

[2020-06-28 16:30] anatolybolshakov commented on #12162
Hi @tomduncalf, have you tried it with last version of task, is it working for you?

[2020-06-29 05:31] temelj commented on #10893
This is still happening for me.
[code]

[2020-06-29 07:09] soutchilin commented on #13142
Thanks, I've just sent it.

[2020-06-29 07:42] #11952 closed

[2020-06-29 08:57] chshrikh commented on #13158
closing this as dup with https://github.com/microsoft/azure-pipelines-tasks/issues/13159

[2020-06-29 09:04] tstoian opened #13196 "Azure File Copy task creates anonymously accessible containers by default"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-06-29 12:13] huntantr commented on #12736
I have tried this and it gets the source for the new changeset, but the issue still remains in that the build summary does not reflect the newly added changeset. The only way for it to appear is in the next build, which does not help when it is the "final" build for a product.

[2020-06-29 12:36] thomasnal commented on #11521
Has this been fixed?  We still encounter this error.  In our situation, there is no permission to change the feed name, so we are stuck.  So disappointing.

[2020-06-29 12:46] damccorm commented on #13160
Hi, this doesn't look like an issue with a specific task. For general issues/questions about the service that don't have to do with a specific task, please open a ticket here - https://developercommunity.visualstudio.com/spaces/21/index.html

[2020-06-29 12:46] #13160 closed

[2020-06-29 12:46] damccorm commented on #13180
Hi, this doesn't look like an issue with a specific task. For general issues/questions about the service that don't have to do with a specific task, please open a ticket here - https://developercommunity.visualstudio.com/spaces/21/index.html

[2020-06-29 12:46] #13180 closed

[2020-06-29 12:55] nishantms commented on #10191
Requirement to specify the source path, if the format is jacoco, is already clarified, in the input variable description.
![PCCv1](https://user-images.githubusercontent.com/63423133/86007157-a5be4f80-ba34-11ea-9bf0-654d28c0c407.PNG)

If there is still some issue , please feel to comment on this issue.

[2020-06-29 13:46] himel951 commented on #10967
i am facing the same issue. cant resolved until now.

[2020-06-29 13:59] soutchilin commented on #13142
I've got an auto-response, that your e-mail address cannot be used for unknown sender. How can I reach you?

[2020-06-29 14:11] adhodgson1 opened #13197 "[HelmDeploy 0.171.3]: Attempts to run Helm get manifest without specifying namespace"
*Type*: Bug
**Enter Task Name**: HelmDeploy

Since 0.171.3 of the HelmDeploy task, the task tries to run the Helm get manifest <release-name> which fails because it does not include the --namespace option. Further to this I don't understand the purpose of running this command after deploying the release, as it may cause secrets to be available in the log.

Example task:
- task: HelmDeploy@0
  disp

[2020-06-29 14:47] winromulus opened #13198 "DockerInstall task fails on ARM (works for AMD64 and ARM64)"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-06-29 14:57] ShreyasRmsft commented on #13142
@soutchilin can confirm we received the attachment. There's some sub groups in that list that throw this error, where mails from external contacts are not allowed. Anyway we'll get back to you after analyzing the logs.

[2020-06-29 14:58] kohtenko commented on #12806
@ds-ms It's been three weeks now since the change was merged, but I still can't see it being deployed and available.

[2020-06-29 15:35] soutchilin commented on #13142
Cool, thanks.

[2020-06-29 16:01] koushdey commented on #13184
Issue has been fixed and deployed.

[2020-06-29 16:01] #13184 closed

[2020-06-29 16:11] shigupt202 commented on #13197
@adhodgson1 Could you please confirm whether it's a warning or a task failure, to help us understand the issue better?

[2020-06-29 16:13] adhodgson1 commented on #13197
The task still succeeds even with this error.

[2020-06-29 18:47] anatolybolshakov commented on #12962
Hi @SuperDuperOne, could you please tell what version of TFS do you use? I can't reproduce this issue with the last task version

[2020-06-29 19:19] anuragc617 commented on #13161
@dazinator AzureCLIV1 uses batch files, so to escape them you can follow esacping guidelines for batch. I found this [link ](https://www.robvanderwoude.com/escapechars.php) useful for escaping batch files. For escaping % you need to give %%. You can also use AzureCLIV2 that supports various scripting languages. There also you will need to escape based on the language selected

[2020-06-29 19:40] dazinator commented on #13161
@anuragc617
Ok thanks.
I can work around this issue by escaping password values and such myself. Obviously not ideal, but if you are working on escaping variables automatically within the task itself then I guess I can close this - if there is an issue already tracking that work?

[2020-06-29 21:28] herenhuang commented on #13200
Moving to the Azure Pipelines repo to review.

[2020-06-30 01:47] adamtuliper opened #13201 "PublishCodeCoverageResults seems to publish to build artifacts which multi-stage pipeline fails when trying to auto-retrieve."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-06-30 04:52] ds-ms commented on #13197
@shigupt202 it's probably not marked as an agent error.. it's just something being piped to the stdout maybe?

[2020-06-30 04:58] shigupt202 commented on #13175
Closing the issue. The fix should start rolling out from next week.

[2020-06-30 04:58] #13175 closed

[2020-06-30 05:06] ds-ms commented on #13166
You could configure this at the step level right? You could use expressions to skip or run that particular `docker run` task step?
Here's some documentation: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?view=azure-devops

Something like:

[code]

PS: This is just a pseudo syntax

[2020-06-30 05:29] shigupt202 commented on #13197
Yes, the error message is getting piped to stdout. Working on the fix.

[2020-06-30 07:43] SuperDuperOne commented on #12962
Hi @anatolybolshakov
thanks for getting back to me -- we're currently using the azure devops services (cloud) and unfortunately i'm not the org admin.
is there anything else you might need from me?
I dont believe our internal firewall is blocking port 21.

last time i ran the above i got the following error message below

2020-06-08T12:32:20.6075859Z connecting to: uatservername01:21
2020-06-08T12

[2020-06-30 08:22] vcorr commented on #11414
Still happening it seems, Azure DevOps...
`Found tool in cache: helm 3.2.4 x64`
`##[error]history.go:52: [debug] getting history for release xyz`

[2020-06-30 08:26] JonasSamuelsson opened #13202 "AzureCLI@2 - invoke az cli twice from the same task fails"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureCLI@2

## Issue Description

I'm using azure pipelines with hosted agent and image `windows-2019`.
I have a `AzureCLI@2` task that invokes `az storage copy ...`, `scriptType` is `ps` and `scriptLocation` is `inlin

[2020-06-30 08:54] anatolybolshakov commented on #12962
This error seems to indicate that hostname is unreachable for some reason... Could you please check if it is reachable for you, and port is not blocked by firewall?

[2020-06-30 09:06] anuragc617 commented on #13202
Hi @JonasSamuelsson for multple az cli use you need to use call before az command like `call az storage ...`

[2020-06-30 09:32] JonasSamuelsson commented on #13202
I saw some github issues while troubleshooting stating that this would solve things but I couldn't get it to work, am I doing something wrong here?

using `call az ...`:
[code]

using `& az ...`:
[code]

[2020-06-30 09:39] anuragc617 commented on #13202
What is the script type you are using? For reference you can see inlineScript input [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops#task-inputs)

[2020-06-30 09:44] anuragc617 commented on #13202
For Powershell, you need not use call. Sorry for that I thought  you are using Batch. The error says ` This command is in preview. It may be changed/removed in a future release.` , is it working if you only specify this command?

[2020-06-30 09:50] #13198 closed

[2020-06-30 10:50] kensington133 commented on #13182
Also having this issue on my Mac with a Vue project, but a colleague on a Windows machine is able to use the same command just fine.

My command: `az storage blob sync -c "$web" --account-name {account name} -s "/Users/benshort/Sites/site-name/dist"`

Windows command: `az storage blob sync -c $web --account-name {account name} -s "C:\Users\Name\Sites\site-name\dist"`

Had initial issues with `$web

[2020-06-30 11:28] SuperDuperOne commented on #12962
let me check and will update here again shortly.
thanks!

[2020-06-30 13:19] AlexandrKravchuk opened #13208 "JavaToolInstaller - Documentation Changes Requirement"
Will be filled later

[2020-06-30 13:20] #13208 closed

[2020-06-30 13:33] saquibkhan commented on #13142
@ suyash691 We will need your help here. Our analysis so far,

looking at the log we see upload was successful but we didn't receive one final success log from `UploadInternalAsync`

Logs:
[code]

[code]

[2020-06-30 14:10] colewerner commented on #12464
@jeschu1 Do you have an update on this?  This causes us quite a few heartaches because it's causing a lot of different build pipelines to fail and also at critical times.

It seems like a potential fix was put in place even though I haven't seen any updates on this because we are now getting the following on the Get Sources step in our build pipeline:

[code]

Unfortunately this is not the only pl

[2020-06-30 14:50] jeschu1 commented on #12464
@MaximMalygin I believe your team has been looking into similar issues.  Can you please advise.

[2020-06-30 14:51] RoakyWood commented on #13174
It was a red herring... it's a huge never mind. I ran it headless and got the same fail pattern. Then I found this recommendation from demoncodemonkey https://stackoverflow.com/questions/47061662/selenium-tests-fail-against-headless-chrome options.AddArgument("--disable-extensions");
            options.AddArgument("--headless");
            options.AddArgument("--disable-gpu");
            option

[2020-06-30 14:51] #13174 closed

[2020-06-30 15:08] SuperDuperOne commented on #12962
i've been told that, we've been trying to connected to a server which is not within azure devops/portal, but looking SSH into the server. The SSH port is enabled however connecting to it via azure devops pipelines/task is not actually making the connections.

I have the service connection setup, the pub/priv keys setup

![image](https://user-images.githubusercontent.com/23457220/86142948-b8e02680-

[2020-06-30 15:41] JonasSamuelsson commented on #13202
The `This command is in preview. It may be changed/removed in a future release.` is because I'm using `az storage copy` which is in preview, but I still get the same behavior if I use the stable command `az storage blob upload-batch`.

[2020-06-30 15:57] ericsciple commented on #12862
Same here. The `download` keyword in YAML pipelines doesnt work.

[2020-06-30 16:09] Sourceless commented on #12862
I encountered this today, switching to the [DownloadPipelineArtifact](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops) task fixed this for me.

[2020-06-30 16:25] tj-incycle commented on #12862
Yes, that worked for me as well. The documentation, however, says that I should be able to use the `download` keyword as an alias for that task.
https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema%2Cparameter-schema#download

I think the keyword syntax is easier to read and follow as compared to the task which is why I opened the bug (aside from the fa

[2020-06-30 17:52] lucascardosods opened #13210 "xcodebuild failed with return code: 65"
## Note
I'm trying to build my project in azure pipelines, it was working but at some point stopped...
- The exactly same command in my Mac, with the same repo, is returning **BUILD SUCCESS.**
- I have tried every single profile from my apple developer account.

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or

[2020-06-30 17:58] apluche commented on #13027
Hi @dpurge , a suggestion ticket is the same as an issue but they type that is assigned to it is different. I'm glad to hear that you were able to unblock yourself. If you would like Azure Artifacts to consider this feature, please make sure to create a ticket since we keep track of those in our backlog.

[2020-06-30 21:09] Valay14 commented on #10181
where can get WEBSITE_WEBDEPLOY_USE_SCM so i can check if it is true or not because getting same error in deploying website through github.

[2020-07-01 03:28] Nathanli03 opened #13211 "Is feature preserve VNET still available in task Azure app service management?"
## Note
Issues in this repo are for tracking bugs, feature requests, and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use the developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering th

[2020-07-01 06:16] akazemis commented on #11414
Same here, seems like a bug that line has both [error] and [debug] tags

[2020-07-01 08:17] hrushidevops commented on #7799
Hi All,
I am tried to pass "TriggerTime":0 */2 * * * * as environment variable  to azure function using Azure Devops. But,Am facing an  error like  "application settings. Error: BadRequest - Parameter name cannot be empty. (CODE: 400)".  Can anyone please suggest.

For workaround, updating "Trigger Time" manually at Config Tab in Azure Function. Please suggest permanent solution for this.

Thanks

[2020-07-01 08:57] hrushidevops opened #13212 "Am facing an error like "application settings. Error: BadRequest - Parameter name cannot be empty. (CODE: 400)". Can anyone please suggest."
Hi All,
I have tried to pass "TriggerTime":0 */2 * * * * as environment variable  to azure function using Azure Devops. But,Am facing an  error like  "application settings. Error: BadRequest - Parameter name cannot be empty. (CODE: 400)".  Can anyone please suggest.

For workaround, updating "Trigger Time" manually at Config Tab in Azure Function. Please suggest permanent solution for this.

Thank

[2020-07-01 09:52] ffloimair commented on #9094
Why in the world does this need to be .sh file ending? I used .azcli as this enables syntax awareness in VS Code and now ran into this issue as well.
This should be fixed ASAP!

[2020-07-01 10:09] tomduncalf commented on #12162
I'm afraid I've not had a chance to test this yet @anatolybolshakov. Please feel free to close and I will comment or open a new issue if there are any problems

[2020-07-01 10:22] anatolybolshakov commented on #12162
Ok, thanks! I'm closing it at the moment, please feel free to reopen it if issue still exists.

[2020-07-01 10:22] #12162 closed

[2020-07-01 12:21] J-Graham commented on #9984
@esunilkumare Can you maybe mention how you updated the PodFile? We are adding the platform and building in a CommandLine script step. Do you just modify it as part of the pipline?

[2020-07-01 13:37] anatolybolshakov commented on #12962
@SuperDuperOne yes it should be possible if this server is reachable outside, and there's no any firewall settings blocking it

[2020-07-01 15:05] anatolybolshakov commented on #12962
@SuperDuperOne Could you try to establish connection by running Bash task and using ssh command like utility? Or maybe just have another way to check if is possible to establish SSH connection to remote server?

[2020-07-01 16:26] SuperDuperOne commented on #12962
Hi, @anatolybolshakov,
so from running a simple SSH task, it would seem that the on-prem server we're looking to connect to isnt accepting port 22 access:

![image](https://user-images.githubusercontent.com/23457220/86267786-25782580-bbbf-11ea-86cc-7919504b6e1e.png)

`2020-07-01T16:17:32.6984858Z ##[debug]Evaluating condition for step: 'Run shell commands on remote machine'
2020-07-01T16:17:32.698

[2020-07-01 17:14] cotyhamilton commented on #9743
@jotaylo How are we supposed to views appropriately then? No matter which view an npm package sits in, it's always the 'latest' package that gets installed, no matter which permissions are set in the views.

[2020-07-01 17:22] dpurge opened #13215 "Make powershell tasks support nuget credential provider in PowershellGet"
# Suggestion for a new feature

## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Requir

[2020-07-01 17:24] dpurge commented on #13027
Created suggestion for a new feature: #13215

[2020-07-01 17:48] jmyersmsft commented on #13215
I believe it should work, actually, but you might have to add a task to upgrade PowerShellGet. Only newer versions of PSGet support the credential provider, and the version provided with Windows in the agent image may not be new enough.

[2020-07-01 18:15] jmyersmsft commented on #11697
Closing as this is an issue with npm and/or node itself, not with the Pipelines task

[2020-07-01 18:15] #11697 closed

[2020-07-01 20:07] chandlerkent commented on #12154
@20shivangi we are having this issue starting today. I have tried it with V2, V3, and V4 of the task and they all fail. I have tried it on the vs2017-win2016 and windows-2019 Hosted Agents and they also both fail. Logs below:

[code]

[2020-07-01 22:20] dannyvv opened #13216 "Cache@2 allows relative paths for 'Path of the folder to cache' but fails uploading the cache"
## Required Information

**Question, Bug, or Feature?**
Bug

**Enter Task Name**: Cache

## Environment
- Agent - Hosted or Private:
    Hosted agent (2019 windows server image)
    Sample build [here](https://dev.azure.com/ms/react-native-windows/_build/results?buildId=91831&view=logs&jobId=d1d6f0bf-8fba-5a08-054d-b7f8f3ed7bef&j=d1d6f0bf-8fba-5a08-054d-b7f8f3ed7bef)

## Issue Description
The [doc

[2020-07-01 23:20] danagarcia opened #13217 "NuGetCommandV2 - Won't restore both package.config and PackageReference must run two task to hit both"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-02 02:17] ugr519519 opened #13218 "Azure devops pipeline"
Build pipeline error.
The requested build not found .it showing error.
But build is available.

[2020-07-02 02:46] JQUINONES82 commented on #7611
Had the same issue..Reverting back to version 2 works.  Version 3 and 4 do not work for me.

[2020-07-02 07:19] #13197 closed

[2020-07-02 10:50] asranja commented on #12154
@chandlerkent I tried to revert the change and test it using 2.1.0 module. The task failed even with 2.1.0 version of the module. Can you confirm that you were using storage account of type **Premium File Storage** and were able to execute the task successfully with versions V1 and V2 ?

[2020-07-02 11:53] daniil-shumko commented on #12364
I have the same issue with my build. I want to use the project settings from Xcode and not rely on manually setting up signing process on Azure Pipelines.

@sfuqua Have you found a solution that works for you?

[2020-07-02 12:30] saffiali commented on #13115
any update about this? When this will be resolved?

[2020-07-02 12:41] shigupt202 commented on #13173
@Eossu Can you run a command line task after the bake step and do `cat $(bake.manifestsBundle)` to validate whether the bake step generated manifests or not?

[2020-07-02 12:50] Eossu opened #13221 "@Eossu Can you run a command line task after the bake step and do `cat $(bake.manifestsBundle)` to validate whether the bake step generated manifests or not?"
I did print out the env when i testet last time and i find this env variable: BAKE_MANIFESTSBUNDLE=/home/vsts/work/_temp/baked-template-26794a75-6b8f-4022-bec9-a0b04a33e6e6.yaml

So the yaml is generated. I can run cat if you still need that.

@Eossu Can you run a command line task after the bake step and do `cat $(bake.manifestsBundle)` to validate whether the bake step generated manifests or not

[2020-07-02 12:50] #13221 closed

[2020-07-02 12:50] Eossu commented on #13221
Sorry, did something wrong

[2020-07-02 12:52] Eossu commented on #13173
@shigupt202 I did print the environment when i run the job last time and got this variable:
BAKE_MANIFESTSBUNDLE=/home/vsts/work/_temp/baked-template-26794a75-6b8f-4022-bec9-a0b04a33e6e6.yaml

Do you still want to see the cat? then i can prepare the pipeline again to test.

[2020-07-02 13:29] FrancescElies opened #13222 "[question] where is the checkout task? Is checkout a task?"
**Question, Bug, or Feature?**
*Type*: Questions

**Enter Task Name**: checkout

## Description
Like ~1.5 weeks ago we started started having some really weird checkout errors with lfs files, git just simply not replacing lfs pointer with their real contents.

I was hoping to be able to inspect the checkout task but I could not find it, could someone point me out where is it located

[2020-07-02 13:38] chandlerkent commented on #12154
@asranja Thank you for taking a look. We were previously using the V2 task and have been successfully for many months without any changes to the storage account (it is part of a pipeline that runs each day). In fact, we are still using V2 only because that was the latest version that was out when the pipeline was created.

I don't believe we are using a Premium File Storage account. The SKU is "St

[2020-07-02 14:01] shigupt202 commented on #13173
Yes it would be helpful in identifying the problem, I want to see all the resources present in the `kustomize.yaml`.

[2020-07-02 14:12] asranja commented on #12154
@chandlerkent Can you point out the error you got with Azure File Copy V4 task ?

[2020-07-02 14:26] Eossu commented on #13173
@shigupt202 I got this result:

Starting: CmdLine
==============================================================================
Task         : Command line
Description  : Run a command line script using Bash on Linux and macOS and cmd.exe on Windows
Version      : 2.164.2
Author       : Microsoft Corporation
Help         : https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/command-li

[2020-07-02 14:38] shigupt202 commented on #13173
So, there's no resource specified in the kustomize file? I believe the KubernetesManifest task is working fine. Could you please verify the kustomize file once?

[2020-07-02 14:40] anatolybolshakov commented on #12962
@SuperDuperOne yes, I almost sure that it's related with connection... It would be great also if you have ability to try to establish ssh connection from another computer. Probably it could also make sense to check if ssh service is running on remote host, if it is possible

[2020-07-02 14:41] chandlerkent commented on #12154
@asranja V4 task gives us a permissions error.

Task info:

[code]

Error:

[code]

The Service Principal is actually an owner of the entire subscription with no deny statements on this Storage Account.

[2020-07-02 14:51] asranja commented on #12154
Yes, this was a breaking change with Azure File Copy V4 (hence a new version).

The Service Principal needs to also have **Storage Blob Data Contributor** permissions on the Storage account. This is because of AzCopy.exe logging in using the Service Principal Credentials in V4 task. Can you assign the permission and re-queue the pipeline. More details on [Azure File Copy V4 task](https://docs.micr

[2020-07-02 14:53] chandlerkent commented on #12154
@asranja Ah OK, thank you! I will try that and let you know!

[2020-07-02 15:15] chandlerkent commented on #12154
@asranja Just to follow up that did fix the issue and the V4 task is now working after I gave the Service Principal the correct permissions on the Storage Account. Thank you!

If you need any tests of the V2/V3 tasks, I would still be happy to test those and verify they will fix the reported issue.

Thank you again!

[2020-07-02 16:05] jmyersmsft commented on #13217
This would be an issue with nuget.exe itself, not the NuGetCommandV2 task. Consider filing an issue against NuGet itself at https://github.com/NuGet/Home/issues .

[2020-07-02 16:05] #13217 closed

[2020-07-02 16:38] thurfir opened #13223 "[Feature Request] Consider enabling MSDEPLOY_RENAME_LOCKED_FILES for on-premise apps"
Hi, would it be possible to add the Rename locked files option to the "IIS web app deploy" release task?

This option is currently only available for the Azure App Service deploy task.

[2020-07-02 17:03] asranja opened #13225 "[Azure File Copy] Microsoft.Rest.SerializationException: Unable to deserialize the response."
The Azure File Copy versions V2.171.1 and V3.171.1 could fail with the error:
**##[debug]Microsoft.Rest.SerializationException: Unable to deserialize the response. ---> Newtonsoft.Json.JsonSerializationException: Error converting value "FileStorage" to type 'System.Nullable`1[Microsoft.Azure.Management.Storage.Models.Kind]'. Path '', line 1, position 19442. ---> System.ArgumentException: Requested

[2020-07-02 17:07] asranja commented on #13225
The current mitigation is to use Azure File Copy V4 of the task.

To use V4, the Service Principal needs to also have **Storage Blob Data Contributor** permissions on the Storage account. This is because of AzCopy.exe logging in using the Service Principal Credentials in V4 task. More details on [Azure File Copy V4 task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-fi

[2020-07-02 17:11] jmyersmsft commented on #13178
The credential provider should exit on its own either when commanded to by NuGet, or if not, when the NuGet process exits. Is it possible that the machines in your pool are running multiple instances of the agent?

[2020-07-02 17:21] anatolybolshakov commented on #12954
Hi @BillyONeal is this issue still reproducable for you?

[2020-07-02 18:33] Nbhonrao commented on #1923
i have used OrderedTest.orderedTest in tfs build. i am able to execute the test case properly but i would like to know that how to update the test case status in respective test suite in tfs

[2020-07-02 18:39] Nbhonrao commented on #6877
i have user orderedTest.OrderedTest in tfs build to run the test case in specific order but at the end i am getting an error "Invalid results file. Make sure the result format of the file 'temp.trx' matches 'VSTest' test results format."
any solution to this ?

[2020-07-02 18:54] Eossu commented on #13173
So it is working now.

I tested the kustomize logic locally by using the "kustomize cli" and everything worked perfectly, but "kubectl kustomize" as i see now beeing used in devops failed locally. Tough locally i get an error message, but in devops you continue as normal. Are you silencing erros from the baking command?

needed to do some adjustments in the overlay kustomize files and now it works

[2020-07-02 19:13] Roshan-Kumar-Microsoft commented on #11631
@amccool Are you still facing this issue ?

[2020-07-02 19:25] Roshan-Kumar-Microsoft commented on #13137
The log which you had shared doesn't belong to azurepowrshelltask ..but it is related to azure cli ?

[2020-07-02 19:30] secret-agent-B opened #13226 "NuGet restores Service Fabric project with .NET Framework 4.7.2 instead of .NET Core 3.1"
I've been trying to setup a SeviceFabric CI in DevOps and I am unable to find a way to tell MSBuild that my app is a .NET Core app and not a .NET Framework 4.7.2 app. Is there another way to do that from within my project file aside from the usual .NET Core TargetFramework element in csproj file so MSBuild stops thinking that it is a .NET Framework app?

Type: Question
Task Name: MSBuild
Agent: Ho

[2020-07-02 19:34] Roshan-Kumar-Microsoft commented on #13133
Can you please ask this question from here https://feedback.azure.com/forums/908035-sql-server/ ?

[2020-07-02 19:34] #13133 closed

[2020-07-02 19:35] #13129 closed

[2020-07-02 19:46] #13095 closed

[2020-07-02 19:49] Roshan-Kumar-Microsoft commented on #12919
Closing this issue as this fix get deployed ..If you still face same issue please let us know

[2020-07-02 19:49] #12919 closed

[2020-07-02 19:52] Roshan-Kumar-Microsoft commented on #11444
@saleelpk95  If you still issue please let us know . Closing this issue.

[2020-07-02 19:52] #11444 closed

[2020-07-02 19:57] BillyONeal commented on #12954
@anatolybolshakov No but we stopped using PowerShell for this at all as a workaround.

[2020-07-02 20:02] Roshan-Kumar-Microsoft commented on #11672
Already made azurepowershell V5 as GA https://github.com/microsoft/azure-pipelines-tasks/commit/0110e09085e7c04df636b9e759cb35f1c69b40ee#diff-0dd11361cc3202525e07443994b339ed But deployment is going ring by ring ...It will reflect most probably by this weeks .
![image](https://user-images.githubusercontent.com/57892372/86404259-e637fa80-bccc-11ea-9e9a-73f9608a2ee1.png)

[2020-07-02 20:02] #11672 closed

[2020-07-02 20:02] amccool commented on #11631
yes on newly deployed build agents.   If I manually alter the files on an agent (per the PR) the problem goes away.

[2020-07-02 20:09] anuragc617 commented on #13202
Hi @JonasSamuelsson the issue is in `Powershell version 5.1.17763.1007` installed on `windows-2019` . The Powershell version needs to be updated. We had reported this issue earlier [here](https://github.com/microsoft/azure-pipelines-image-generation/issues/1436). I tried running `az storage copy` command twice on windows 2016, it ran successfully there.

[2020-07-02 20:14] soutchilin commented on #13142
So, ok, what does it mean?

[2020-07-02 20:35] sbugalski commented on #13137
Sorry, I confused tasks.
Here's the version.

[code]

[2020-07-02 23:35] temelj commented on #13226
Can I ask a question please:
Was the SF app created from the "Visual Studio - New Project Template? Because as you create a new SF project, it asks for the framework which is the full .NETFramework 4.7/4.8. Once you create that, you need to specify the Service Fabric Service and your options are:
.NET Core - Stateless, Stateful, Stateless ASP.NET Core, Stateful ASP.NET Core
.NET Framework (4.7/4.8

[2020-07-02 23:55] secret-agent-B commented on #13226
The only options there when I created the service fabric project was .NET Framework. But the service within we're all created using .NET Core.

[2020-07-02 23:57] secret-agent-B commented on #13226
I will replace those steps with .NET Core tasks. Thank you.

[2020-07-03 00:04] temelj commented on #13215
Does it work behind a proxy? 😝

[2020-07-03 01:11] secret-agent-B commented on #13226
I am now able to build the .NET Core projects but when I build the .sfproj project using NuGet restore, it fails because the .NET Core services are referenced by that project and it tries to do the same thing it was doing before,

![image](https://user-images.githubusercontent.com/15314841/86421517-f1c0fc80-bc9f-11ea-8748-8e0afa2319d9.png)

[2020-07-03 02:10] temelj commented on #13226
Correct I was expecting that. You need a dotnetcore take to restore core packages and another classic nuget task  to restore sfproj packages

[2020-07-03 02:47] secret-agent-B commented on #13226
That is what I did. You'll notice on the screenshot that I have .NET Core tasks to take care of the .NET Core projects and the I have the NuGet restore only restoring the sfproj. Would you like me to add a .NET Core task to restore the sfproj too for its .NET Core references?

[2020-07-03 02:58] secret-agent-B commented on #13226
Yeah, adding a .NET Core task to build the sfproj didn't work.

[2020-07-03 03:45] shigupt202 commented on #13173
Yes, all the bake commands are run silently by the task (as it prints out the baked manifests). Now that the issue is resolved, can we close it?

[2020-07-03 04:13] ds-ms commented on #13173
@shigupt202 do we print out the logs of the run in debug mode?

[2020-07-03 04:44] shigupt202 commented on #13173
No, we don't print the logs in debug mode either.

[2020-07-03 05:46] temelj commented on #13226
top of yaml to define some variables
[code]
later in the yaml at the BUILD step
[code]

[2020-07-03 05:49] temelj commented on #13226
Probably are because DotNetCoreCLI will target only .NET Core SDK
but to build `*.sfproj` you need to target the full .NET 4.7/4.8 framework

[2020-07-03 06:51] #10191 closed

[2020-07-03 07:43] anuragc617 commented on #13202
@JonasSamuelsson PowerShell version is not going to update on windows-2019 for legacy. As mentioned [here](https://docs.microsoft.com/en-us/powershell/scripting/whats-new/what-s-new-in-powershell-70?view=powershell-7#running-powershell-7) PowerShell 7 is an in-place upgrade that removes PowerShell Core 6.x. i.e PowerShell in now  PowerShell Core.
For fix, you should start using PowerShell Core.

[2020-07-03 08:23] arynaq opened #13228 "Paralell jobs, race in workspace clean causing failure"
## Note
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: job

## Environment
Self hosted agent pool. Cannot share details on azure devops org.

## Issue Description
We have a self-hosted agent pool (6 agents) and use multi-stage yaml pipelines.
The first step in our pipeline is a build stage, which used to run 6 jobs, but now runs 7, these jobs have no depen

[2020-07-03 08:33] secret-agent-B commented on #13226
I get that sfproj needs the full .NET 4.7/4.8 Framework and to do that you'll need to use the NuGet task. The issue now is that my services are .NET Core and are being referenced by the sfproj. So now whenever I try to build sfproj I get `

[2020-07-03 08:34] arynaq commented on #13228
Actually, this happens regardless. It seems we have no gurantee that the jobs will be distributed evenly to each agent, so with M<=N for M jobs and N agents this still happens as I just confirmed by adding an explicit dependsOn to get a workaround.

Was there a release that broke this?

[2020-07-03 10:18] #10683 closed

[2020-07-03 10:22] egor-bryzgalov commented on #12318
@igal1c0de4n these changes are deployed. Please, feel free to reopen the issue.

[2020-07-03 10:22] #12318 closed

[2020-07-03 11:23] anatolybolshakov commented on #13039
Hi @flesicek, looks like this issue has already been fixed by [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/9694) - could you please tell the task version you are using (you could find it it logs)? Do you use on-premise or cloud solution?

[2020-07-03 11:40] MursalovAltun opened #13231 "Azure App Service deploy task with "Take App Offline" feature and custom app_offline.htm"
Bug

Task Name: Azure App Service deploy V3

Azure Pipelines:

1. Account name - 2bit
2. Team project name - 2payroll
3. Build name - dev
4. Build number - Release-1335

Agent - Hosted Agent

If we enable the Take App Offline feature it works as expected:
- generates App_Offline.htm
- removes App_Offline.htm after deployment

But the problem is that, when we provide custom app_offline.htm in root

[2020-07-03 12:37] mpoiron opened #13232 "IIS Deploy on premises fails with ERROR_FILE_IN_USE"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: IISWebAppDeploymentOnMachineGroup

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

I'm using the IISWebAppDeploymentOnMachineGroup@0 task to deploy a .NET Core 3.1 app to IIS on premises.
The task fails sometimes with a ERROR_FILE_IN_USE code. I have set the TakeAppOfflineFla

[2020-07-03 13:54] anton-erofeev commented on #12363
Hi @dy-lan,
These changes were deployed in the latest release

[2020-07-03 13:54] #12363 closed

[2020-07-03 14:02] temelj commented on #13226
I have a project with exactly that scenario and it is restoring, building and deploying fine.

Basically, i don't think it is an issue with the azure pipelines tasks, but more about how they are being applied for your particular usecase.

[2020-07-03 14:20] matt-aitken commented on #11922
We get this happening a lot when merging branches, very frustrating. Would be great if this could be fixed.

[2020-07-03 15:30] neomarck commented on #8130
Hi @mathewkuruvila, did you get any fix for the option 3 (rerun only failed iterations)?

I'm facing the same issue:
When I run my tests, I have several iterations running per test, but only a few of the iterations are failing, however it's rerunning all the iterations, wasting a lot of time rerunning iterations that have already passed.

@ShreyasRmsft or @prawalagarwal, could you please double ch

[2020-07-03 16:28] anatolybolshakov commented on #12954
@BillyONeal do you use a self-hosted agent? Looks like there was some breakpoint set up, you can retrieve all breakpoints in current powershell session by 'Get-PSBreakpoint' command

[2020-07-03 19:45] anuragc617 commented on #13177
@damccorm the task is using [getHttpProxyConfiguration ](https://github.com/microsoft/azure-pipelines-task-lib/blob/c532de60cd68ba382b17d574c669333beabe0b9f/node/task.ts#L1698 )to get the proxy configuration. But the getVairable function used here is return random values for the secret variables. As you can see in the logs, that  Agent.ProxyPassword value is sometimes masked value and sometimes un

[2020-07-04 05:37] OK-UNDP opened #13233 "How to make PublishPipelineArtifact to preserve file permissions on Linux agent?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: `PublishPipelineArtifact`

## Environment
- Server - Azure Pipelines
- Agent - Hosted:

## Issue Description

As part of the stage artifact I have a bash script file with exec permissions enabled for user/group/ot

[2020-07-04 12:40] MursalovAltun commented on #13231
The default app_offline.htm is totally useless for users and says nothing because it has empty <body> tag with title "Site Under Construction"

[2020-07-04 15:10] brahimiarlinda commented on #2058
Hello :)
Did anybody find any solution about this issue?
Why is this issue closed?
I am getting the same error with @m-andrei

**I run the tests in 2 steps:**

_Step 1:_

I run the tests and when there is a failing test then a screenshot is taken and saved in an output folder (the configuration is not shown here, but you can rely on my words):

`"test": "TEST_ENV=TEST codeceptjs run-multiple paral

[2020-07-04 15:12] brahimiarlinda opened #13234 "The Microsoft Azure DevOps - Test Results Trend (Advanced) dashboard reporter doesn't support attachments in .xml format"
Hello :)
Did anybody find any solution about this issue https://github.com/microsoft/azure-pipelines-tasks/issues/2058
Why is the issue closed?
I am getting the same error with @m-andrei

I run the tests in 2 steps:

Step 1:

I run the tests and when there is a failing test then a screenshot is taken and saved in an output folder (the configuration is not shown here, but you can rely on my words):

[2020-07-05 00:47] BillyONeal commented on #12954
It just happened again today: https://dev.azure.com/vcpkg/public/_build/results?buildId=39800&view=logs&j=878666d5-db33-5b27-9e7d-b0c7ee352005&t=3980505e-92f5-53ef-75a8-4f2e70b97516

We use 'Scale Set Agents' and do not have the ability to remote to them. Those machines build arbitrary PRs from GitHub so we are fairly restrictive in terms of the firewall rules we apply (example: https://github.com

[2020-07-05 13:34] cmeeren commented on #13133
Posted: https://feedback.azure.com/forums/908035-sql-server/suggestions/40832233-azure-sql-database-deployment-task-using-dacpac-fa

[2020-07-05 14:11] a-patel commented on #9797
@shashankbarsin and @bansalaseem
Any update on this?

[2020-07-05 19:20] sergi2112 commented on #11264
In case anyone is facing the same problem:

Ensure to not have case sensitive ambiguous import paths, your pipeline is building on Linux (case sensitive).

I had no problem to build my React App locally, because in my case, the macOS is case insensitive and it has no trouble resolving `app` and `App` paths on build. But by changing to corresponding case sensitive references worked ok on Azure Devo

[2020-07-05 21:54] ekaterina-tatanova commented on #10838
@fluffy-cakes @SamYuan1990 The changes were deployed in the latest release.

[2020-07-05 21:54] #10838 closed

[2020-07-06 05:43] chshrikh commented on #13225
@asranja did we started hot fix for this?

[2020-07-06 06:47] anuragc617 commented on #13161
@dazinator sorry we are not currently working on it, as it may break the existing user's pipeline who are escapping the characters manually. Whenever we will do such work we will mention that in release notes.

Closing this for now.

[2020-07-06 06:47] #13161 closed

[2020-07-06 06:48] anuragc617 commented on #13148
Closing this, as PR has been merged and the fix will be deployed to all rings in a week or so.

[2020-07-06 06:48] #13148 closed

[2020-07-06 06:51] keamas opened #13236 "Azure CLI Pipeline Task mutliple files / variables files"
​Hi, I m using a Release Pipeline with the Aure CLI Pipeline Task: https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureCLIV2

I am using a separate variable.sh file

and a rg.sh where I have my az commands just as an example.

like:

variables.sh

[code]
rg.sh
[code]
Is there any way to first load the variables.sh into the pipeline and than execute the az command script.

The

[2020-07-06 07:28] TWJH commented on #10815
Hello. Is there any progress with fixing this issue please?

[2020-07-06 07:41] anuragc617 commented on #13182
@zjpiazza Azure CLI does not modify or append path to your script. I tested az storage copy, it works fine. How are you generating the folder to copy, can you please share you script?

[2020-07-06 07:42] anuragc617 commented on #13182
@kensington133 are you using Azure pipelines agent to run these commands?

[2020-07-06 08:42] anuragc617 commented on #13192
@pulkitaggarwl @bishal-pdMSFT please have a look at this ask?

[2020-07-06 09:58] alexander-smolyakov commented on #13036
Hi, @schibu007! Thanks for opening the issue!

The [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/13205) with the fix was merged. It may take some time for the fix to be deployed. I'll let you know once the fix is deployed.

[2020-07-06 10:22] AlexandrKravchuk commented on #11247
@meriturva The problem was fixed in #13084, these changes will be rolled out completely by the end of the current sprint, till 24, July
@anatolybolshakov fyi

[2020-07-06 11:31] aviatrix commented on #2058
@brahimiarlinda we ended up writing small C# utility that traverses the screenshots and uploads the files via the devops api to the appropriate test run

[2020-07-06 13:51] shayl commented on #12611
Still waiting. Any update on this?

[2020-07-06 13:52] cawoodm opened #13240 "Download Pipeline Artifact Ignores http_proxy for HTTPS"
Not sure if this is a fault of the download pipeline artifact task (for ignoring `http_proxy`) or the fault of the VSTS Agent for not passing `https_proxy` on but I have described the issue in full [here](https://stackoverflow.com/questions/62757233/download-artifact-fails-ignoring-http-proxy).

Basically the download of any artifact fails UNLESS we explicitly set `https_proxy`. This was reproduce

[2020-07-06 14:31] soutchilin commented on #13142
I've found, that if the CC has not found any DLL to include in the result, then this is the behavior. In Visual Studio it is visible, because you see the CC result. So, it's solved for my end. But maybe you should check the code with this scenario to have more clear behavior in the pipeline.

[2020-07-06 14:36] ShreyasRmsft commented on #8130
@neomarck today if a single datarow fails we re-run the whole parent test method. This is a limitation today and the behavior is as designed, this is not a bug.

[2020-07-06 14:45] zjpiazza commented on #13182
I ended up going with a different deployment method instead of using Azure storage accounts. I ended up figuring out my problem using "azure storage blob sync". I forget the exact command I use as I ended up deleting that release pipeline after changing deployment strategies.

[2020-07-06 16:10] anatolybolshakov commented on #13104
Hi @kevcrooks, fix was already merged for this issue - I'm closing this issue at the moment, please feel free to reopen if issue still appears for you

[2020-07-06 16:10] #13104 closed

[2020-07-06 16:50] arnauddrain commented on #13115
I solved this by adding the role **Storage Blob Data Owner** to the Application that was linked to Azure Devops.
I found this solution in this thread: https://stackoverflow.com/a/60628323/4925750

[2020-07-06 21:34] rohithjidagam commented on #11864
Any resolution for this? I am also seeing longer push times.

![image](https://user-images.githubusercontent.com/2794720/86648451-ba02cf00-bf95-11ea-9644-7100486abd1a.png)

[2020-07-06 21:58] ZhimaoLin opened #13241 "[Bug] npmAuthenticate@0 throws warning: Found and overrode credentials for the {org}.pkgs.visualstudio.com"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NpmAuthenticateV0

## Environment
- Server: Azure Pipelines
- Agent: Hosted

## Issue Description

I am using `NpmAuthenticateV0` to authenticate to my Azure Artifact Feed.
When I run `NpmAuthenticateV0` on my `.npmrc`

[2020-07-07 02:43] secret-agent-B commented on #13226
I created a new project with an empty .NET Core in a new repo with a new Pipeline and I get the same result. Not really sure what I am missing here.

[2020-07-07 02:46] leantk commented on #2995
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:46] leantk commented on #3472
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:47] leantk commented on #4186
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:48] leantk commented on #5468
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:49] leantk commented on #6069
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:49] leantk commented on #6219
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:50] leantk commented on #6417
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:51] leantk commented on #6558
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:51] leantk commented on #6590
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:52] leantk commented on #6668
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:52] leantk commented on #6716
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:54] leantk commented on #7150
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:55] leantk commented on #7313
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:56] leantk commented on #7439
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:56] leantk commented on #7518
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 02:57] #8066 closed

[2020-07-07 02:58] #8406 closed

[2020-07-07 02:58] #8419 closed

[2020-07-07 02:58] leantk commented on #8433
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 03:00] leantk commented on #8489
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 03:00] leantk commented on #8496
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 03:00] leantk commented on #8645
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 03:02] leantk commented on #8874
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 03:02] leantk commented on #9019
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 03:03] leantk commented on #9300
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 03:04] leantk commented on #9317
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-07 03:18] BillyONeal commented on #12954
I'm now wondering if using `pwsh` rather than `powershell` might help?

[2020-07-07 07:08] TWJH commented on #10815
After further investigation ​we had to remove the agent, then reinstall after adding the VSTS_HTTP_PROXY environment variable hack with the proxy details. The connectivity is then established successfully.

Please close this problem. Thank you for your help.

[2020-07-07 07:08] #10815 closed

[2020-07-07 07:34] saquibkhan commented on #13142
Good to hear that your are unblocked and the issue is resolved at your end. We will take a look further into this issue.

[2020-07-07 08:22] anatolybolshakov commented on #12954
`pwsh` is using PowerShell Core - if it's installed on agent. I think it could help if there's some Powershell version specific bug... Could you try to swtich on it?

[2020-07-07 09:52] alexander-smolyakov commented on #13156
Reopen this, since the fix is waiting to be deployed. We will let you know once the fix will be published.

[2020-07-07 09:54] alexander-smolyakov commented on #3485
Closing this as a duplicate issue. You can track it here: https://github.com/microsoft/azure-pipelines-tasks/issues/13156

[2020-07-07 09:54] #3485 closed

[2020-07-07 09:55] brunoborges commented on #9019
It is still quite unease to tell this task to install a different JDK.

[2020-07-07 10:39] alexander-smolyakov commented on #13097
Hello, @djee-ms!

Could you please provide information about the environment that you are using for the pipeline (cloud/on-premise solution) and version of the PowerShell task?

Regarding failOnStderr, as it was mentioned in the issue description it should work, but as written in task docs about this parameter: "If this is true, this task will fail if any errors are written to the error pipeline,

[2020-07-07 10:57] djee-ms commented on #13097
The release pipeline is [here](https://github.com/microsoft/MixedReality-WebRTC/blob/master/tools/ci/release-unity.yaml). The NPM packing is [here](https://github.com/microsoft/MixedReality-WebRTC/blob/ccae6a171ec72678e75f04a7d89ac7decd09c597/tools/ci/templates/jobs-unity-package.yaml#L148) and is already using `$ErrorActionPreference = "SilentlyContinue"`, which does **not** silence any Azure Dev

[2020-07-07 11:59] mathstuf commented on #6219
Webhook support for triggering builds would still be appreciated.

[2020-07-07 14:14] vikramadhav commented on #6135
Reading through so many solution and implementing them , i was huffed and puffed .

please don't forget to add username in ENV variable otherwise you will have 401.

`ENV VSS_NUGET_EXTERNAL_FEED_ENDPOINTS "{\"endpointCredentials\": [{\"endpoint\":\"https://something.pkgs.visualstudio.com/_packaging/Shell.Dirac.Nuget/nuget/v3/index.json\", \"username\":\"build\", \"password\":\"${PAT}\"}]}"`

[2020-07-07 14:30] bannus commented on #3472
This issue still occurs -- for builds that fail in the gradle build task, top-level details like the summary page and the result email notification only report `Error: d:\a\1\s\_BuildCommon\path1st\gradlew.bat failed with return code: 1`. Having the actual failure piped through to these places would improve workflow efficiency for all gradle-built projects.

[2020-07-07 14:50] sonayak commented on #11516
@ravindra2010 : Closing the issue for now. Please feel free to reopen with the details asked in the previous comment.

[2020-07-07 14:50] #11516 closed

[2020-07-07 16:03] ozomer commented on #6739
Like @poveilleux , I've also stumbled upon this warning and immediately switched to `DownloadBuildArtifact` because I thought it was some kind of deprecation warning. Will using `PublishPipelineArtifact` instead of `PublishBuildArtifact` solve the warning?

It really should be a configuration option to not create a subdir for the files.

[2020-07-07 16:19] poveilleux commented on #6739
@ozomer As long as you use the Publish/Download pair (either Build or Pipeline, not a mix of both), you should not have warnings. If you don't want a sub-directory, use `PublishPipelineArtifact` and `DownloadPipelineArtifact` with your artifact name.

[2020-07-07 16:24] lukos commented on #7938
This should not be closed. It is a very real bug and is very confusing to debug. The instructions on Azure Devops do not mention this either. Horrible workarounds like manually copying a file are not helpful and don't make the world a better place. Presumably npm is doing the correct thing because it is NPM so please can we fix this to behave the same way?

[2020-07-07 16:32] ozomer commented on #6739
We already have `UploadBuildArtifact`s, written by other developers in the team, that I don't want to change. Please add the feature to the future `DownloadBuildArtifact@1` or declare `DownloadBuildArtifact` as candidate to be deprecated.

[2020-07-07 16:33] xiwenc commented on #10146
@shashankbarsin could provide a working example as alternative?

I'm doing this:

[code]

However i'm getting the error:

[code]

I'm pretty sure the file is there.

Also, I'd still prefer to see the `wait` action added to the Kubernetes toolset here.

If not, can you provide an alternative example step showing how to call with the right service connection?

[code]

[2020-07-07 16:35] frank-digirati opened #13243 "Azure Pipeline: Azure Network Load Balancer disconnect fails"
**Bug**
Fails to remove VM form LB and errors out with:  ]Could not fetch primary network interface configuration for the Azure Virtual Machine

VM has single internal VNet IP Address.
The LB is BASIC (not standard).

**Azure Network Load Balancer***
https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/azure-nlb-management

list here (V# not needed):
https://github.com/Microsoft/azure-p

[2020-07-07 16:55] kaushikmaji commented on #10376
In my case, I resolved it by using condition( ) function at job level which is evaluated at runtime based upon runtime variables. Which meant I had to write similar replica for jobs, but I templated repeating tasks within those jobs, thus reducing overall line of code repetition.

[code]

[2020-07-07 17:06] #13173 closed

[2020-07-07 17:28] kiranallari commented on #12067
I am also facing same issue. though we provide coverage path it always searches in hard coded folder.
I resolved it by putting hard coded path in pom.xml. It is a workaround.		<sonar.coverage.jacoco.xmlReportPaths>${project.basedir}/CCReport43F6D5EF/jacoco.xml</sonar.coverage.jacoco.xmlReportPaths>

[2020-07-07 23:22] BillyONeal commented on #12954
Next time we do a VM deployment I'll see about getting Powershell Core in the image so we can try. Unfortunately the issue is somewhat intermittent and we have not found the exact trigger :(

[2020-07-08 01:23] temelj commented on #13226
Might we worth while posting some logs? (and your updated pipeline yaml) I am not sure how else to help.
I've been successfully restoring, building and deploying Service Fabric Apps (with .NET Core 3.1 web api project) to an on-prem cluster for a while.

Are you still doing it in this order?
[code]

because that's nothing like I've commented above.  - ie:  MSBUILD Solution is wrong to start off wi

[2020-07-08 01:56] leantk commented on #9591
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 02:22] leantk commented on #9451
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 02:24] leantk commented on #10579
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 02:42] leantk commented on #10721
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 02:42] leantk commented on #10681
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 02:43] leantk commented on #10608
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 02:43] leantk commented on #10582
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 02:46] leantk commented on #10187
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 02:47] leantk commented on #9878
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 02:48] leantk commented on #9375
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 02:48] leantk commented on #9370
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 02:49] leantk commented on #9340
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-08 04:51] ds-ms commented on #13166
Closing stale issue. Feel free to reopen if you're still stuck

[2020-07-08 04:51] #13166 closed

[2020-07-08 04:53] ds-ms commented on #13157
@arroyc closing stale issue.. feel free to reopen if you're still stuck.

[2020-07-08 04:53] #13157 closed

[2020-07-08 06:08] #13115 closed

[2020-07-08 06:41] #12683 closed

[2020-07-08 09:35] secret-agent-B commented on #13226
Hey, thank you so much and I really appreciate the help. I have no problems getting .NET Core to restore by the way. Here's the log file I get from the NuGet restore step.

[code]

[2020-07-08 11:04] alexander-smolyakov commented on #10579
Hi, @majorvin! Is this issue still appears?

If yes, could you please run the pipeline again with the debug option set on and send full logs? It would be great if you are able to share the YAML file for your pipeline. Also, if you are able to provide a minimal reproducible sample it will speed up our investigation.

[2020-07-08 11:05] alexander-smolyakov commented on #9591
Hi, @jepzen! Is this problem with `SshHostKeyFingerprint` still actual to you?

[2020-07-08 11:40] jepzen commented on #9591
Not working on that anymore so no priority for me

[2020-07-08 11:57] alexander-smolyakov commented on #9591
Closing it since the problem not actual. Feel free to reopen.

[2020-07-08 11:57] #9591 closed

[2020-07-08 14:28] MartinEnser commented on #9596
Hello Guys,
i actually got the same problem. My Pipeline is throwing the error that is mentioned above because my AppPool is already stopped. I could use "Continue on Error" aswell, but i want to have a sucessfull release and not a "partial sucessfull" one.
If there is a solution available it would be great to hear it. ;)
Greetings Martin

[2020-07-08 14:53] CptSandblaster commented on #9172
What kind of response are you getting?

I get
[code]

So I would assume that the command went through. However, I see no new secure files in Pipelines -> Library -> Secure files.
What could be wrong?

[2020-07-08 15:22] candritzky commented on #9588
Same problem here. dotnet restore fails in ~50 % of the builds, but NuGet restore always succeeds.

I opened a ticket here:
https://developercommunity.visualstudio.com/content/problem/1106610/sporadic-dotnet-restore-authentication-credentialp.html

[2020-07-08 15:36] fluffy-cakes commented on #10838
@ekaterina-tatanova Can you please advise how to use this new version? `InstallSSHKey@0` was the old non-working task, and updating to `InstallSSHKey@1` makes no difference.

Comparing a run from last month, I can see no difference in the version of the task being updated, and still won't function as intended.

From
[code]

[code]

Going back mid June and earlier, I can see some jobs running `v0.1

[2020-07-08 15:52] graphicsxp opened #13245 "dotnet pack does not support -p:PackageID"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DotnetCoreCli@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

  In local environment I'm able to customize my packages name by running the following command :

        dotnet pack  .\$(ProjectName).csproj  --include-symbols --no-build -

[2020-07-08 18:09] soccerjoshj07 opened #13246 "Documentation: AzureFileCopyV4 output variable documentation incomplete"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

documentation issue

**Enter Task Name**: AzureFileCopyV4

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFileCopyV4

## Environment
- Server - Azure Pipelines

    - If using Azure Pip

[2020-07-08 18:46] vadim82 commented on #12354
We are seeing the same thing. The sideeffect of this is that we are not seeing this deployment in the deployment center of the app service.

[2020-07-08 20:20] #13066 closed

[2020-07-08 20:21] Josh-01 commented on #12400
Closing issue. Kindly reopen if issue persists.

[2020-07-08 20:21] #12400 closed

[2020-07-08 21:09] StingyJack commented on #6120
@mitchdenny or @elbatk  - please configure your github actions bot to not try to close issues that a member reopened after discussion. The community doesnt really need another stalebot or its more evil relative the docker-desktop-robot.

The issue is not stale, it just does not require any additional conversation.

[2020-07-09 08:26] dgard1981 commented on #12354
We stopped seeing these issues now.

Our Function Apps and slots are created through an ARM template, and as part of our deployment we were setting App Settings in our slot, before swapping in to production. This meant that we we're setting the value of `WEBSITE_CONTENTSHARE` to be the same in both the slot and production.

It's a pain that this is managed through App Settings, but with the follow

[2020-07-09 08:26] #12354 closed

[2020-07-09 10:24] hbuckle commented on #13107
There is a bug, because the latest SDK is 3.1.301, and this version is present in the cache, but the task incorrectly updates DOTNET_ROOT and PATH, so subsequent tasks can not find the dotnet exe

[2020-07-09 12:19] ekaterina-tatanova commented on #13103
It's not possible to use a service connection in a Bash Script task. You may store your credentials as [variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch) or use [variable groups](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/variable-groups?view=azure-devops&tabs=yaml).

[2020-07-09 12:22] ekaterina-tatanova commented on #13103
@sensslen It's not possible to use a service connection in a Bash Script task. You may store your credentials as [variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch) or use [variable groups.](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/variable-groups?view=azure-devops&tabs=yaml)

[2020-07-09 12:40] ekaterina-tatanova commented on #9772
@Pr0methean @gregnorz @MohamadMousheimish Did you specify options `azureResourceManagerEndpoint`, `azureStorageAccountName`, `azureContainerName`, and `azureCommonVirtualFile`? They are required when `jdkSourceOption == AzureStorage`.

[2020-07-09 14:00] MarkKharitonov opened #13247 "The tasks VSBuild and MSBuild generate the archaic diagnostics text log instead of the modern binary log when ran with System.Debug = true"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: MSBuildV1, VSBuildV1

list here (V# not needed):
- https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/VSBuildV1
- https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/MSBuildV1

##

[2020-07-09 15:36] shekibobo commented on #11864
I just switched over to using `Cache@2` for a gradle build cache. The cache package is about 2GB, and it was taking 3-4 minutes at first, and now I had the build cache just take 9 minutes for the same size cache. There are no errors in the logs, just a very slow download speed.

[2020-07-09 15:57] jpobst opened #13249 "Provide mechasnism to opt-out of DotNetCoreCLIV2 deprecation warnings"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DotNetCoreCLIV2

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

Every time the `DotNetCoreCLIV2` task is used it now outputs this warning:

[code]

This warning is displayed even if you aren't using 2.2 or 3.0, and there doesn't seem to be any way to opt out of this mes

[2020-07-09 16:00] MattGal opened #13250 "DownloadBuildArtifacts has incomplete downloads with no errors"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-09 17:36] scott-doyland-burrows opened #13251 "AzureFileCopy - allow source to be an Azure Storage Container"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureFileCopy

## Environment
On-prem Azure DevOps

## Issue Description
Would it be possible to implement a feature to copy FROM an Azure Storage Container.

Currently we can only copy from a local filesystem.
Even though AzCopy itself allows a copy from a storage container, the extension does not support this.

Ideally we want

[2020-07-09 18:15] marcpopMSFT opened #13252 "Update warning message for out of support runtimes"
*Type*: Bug

**Enter Task Name**: In mseng source, the loc files are under Localization/GitHub/**BuildTask**

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description
Two things.  1. There's a typo in this error message: "requied". 2. We are switching .net core to use "(out of support)" instead of EOL.  The work is already checked in for the VS setup UI for July releases.

[2020-07-09 18:32] bishal-pdMSFT commented on #13177
@damccorm it seems like tasklib  [getHttpProxyConfiguration ](https://github.com/microsoft/azure-pipelines-task-lib/blob/c532de60cd68ba382b17d574c669333beabe0b9f/node/task.ts#L1698) is sometimes returning proxy configuration in which password is empty.

For example, you can notice the the value being printed in fine once and then in undefined later. `##[debug]Agent.ProxyPassword=`

[code]

[2020-07-09 18:33] bishal-pdMSFT commented on #13177
cc @vineetmimrot

[2020-07-09 18:58] yanjar commented on #11084
Allowing the re-use of existing ARM service connections would greatly simplify managing service connections. Can that be an alternate option? Even if it means manually entering the ACR name? If that is not an option, we'll likely be forced to manually do the things this task is doing because that would be less to manage than having to create multiple new service connections for each project, espec

[2020-07-09 19:59] marcpopMSFT opened #13253 "False positive Warning instead of Info at compilation (Azure DevOps)"
---
**Issue moved from dotnet/core#4926**
- Please respond to @tango-charly.

---

_From @tango-charly on Thursday, July 9, 2020 6:43:15 PM_

# False positive Warning instead of Info at compilation (Azure DevOps)

Hi,

We have an issue with compilation warning in Azure Devops, I know it's related with Build Agent but idon't know where exactly i have to open this issue.

# General
![image](https://

[2020-07-09 20:18] tstoian commented on #13196
Any updates on the question? If the public access to the container is not intended, this might be a serious security issue.

[2020-07-09 20:36] tango-charly commented on #13253
By the way, we are trying to filter warning to ignore this false positive.
But it's very difficult to understand the logic.
(Documentation : https://marketplace.visualstudio.com/items?itemName=mspremier.BuildQualityChecks#task-parameters)

We have a more "Filtered Warning" than "Total Warning"
![image](https://user-images.githubusercontent.com/8989885/87087445-1ae20f80-c201-11ea-8189-b7cd84708a34.

[2020-07-09 22:02] BillChirico opened #13254 "Azure Key Vault and Task Groups"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure Key Vault

list here (V# not needed):  1.*

## Environment
- Server - Azure Pipelines

- Agent - Hosted (Task Group)

## Issue Description

For setting variables from this task within a task group they are not properly being set. It is automatically being picked up by the task group when defined in the variable format.

[2020-07-10 02:28] chriswue opened #13255 "Support layered deployments for iotedge task"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureIoTEdge

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

We would like to created a layered deployment but currently this is not possible with the AzureIoTEdge task. I've had a look at the code and doesn't look super difficult to add so I could try and submit a PR if

[2020-07-10 02:50] johngrimes opened #13256 "HelmDeploy: helm get manifest does not use configured namespace"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy

This task runs `helm get manifest [release name]` before finishing. This fails when the release is installed to a namespace, as the command does not seem to include the configured namespace.

## Environment

Azure Pipelines - team: aehrc, project: ontoserver, build: 20200710.12

## Issue Description

Task name: Install He

[2020-07-10 04:47] chshrikh commented on #13243
could you please share the task details

[2020-07-10 05:49] Snipisx commented on #11543
@bishal-pdMSFT , @jalajmsft : I'm having the same issue running PowerShell Core on a custom agent on Windows server 2012. It's putting the following message as an error:
[code]

And we had the Az CLI version updated:
[code]

Any idea how to solve it?

[2020-07-10 08:26] #13006 closed

[2020-07-10 09:20] ds-ms commented on #13256
This issue has been addressed in this PR: https://github.com/microsoft/azure-pipelines-tasks/pull/13219

The rollout has started this week. cc: @shigupt202  to verify

[2020-07-10 09:21] ds-ms commented on #13256
Closing this duplicate issue.

Ref: https://github.com/microsoft/azure-pipelines-tasks/issues/13197

[2020-07-10 09:21] #13256 closed

[2020-07-10 09:21] IvanAlekseev commented on #11666
Hi @nishantms. I can't find any mention of that in release notes for M172 - https://docs.microsoft.com/en-us/azure/devops/release-notes/2020/sprint-172-update
And I still see this in coverage report
[code]

[2020-07-10 09:28] IvanAlekseev opened #13257 "Do you have any plans to publish PublishCodeCoverageResults@2 to azure devops?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: PublishCodeCoverageResults@2

## Issue Description
This new task is sitting there for quite a while already - https://github.com/microsoft/azure-pipelines-tasks/pull/11144
I would like to get rid of custom merging

[2020-07-10 10:41] movergan commented on #11658
+1

[2020-07-10 12:17] ekaterina-tatanova opened #13258 "JavaToolInstallerV0 Add validation when using azureStorage"
**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: JavaToolInstallerV0

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

## Issue Description

Add validation when using azureStorage in case azureCommonVirtualFile is not set. It should be:
`##[error]Input required: azureCommonVirtualFile`

### E

[2020-07-10 13:26] secret-agent-B commented on #13226
I figured it out. I have Directory.Build.props, stylecop.json and StyleCop.ruleset on the same directory where SLN file is. I removed these files and my build started going through.

Directory.Build.props
[code]

Stylecop.ruleset
[code]

[2020-07-10 13:32] ekaterina-tatanova commented on #10838
@fluffy-cakes Do you store known_hosts input as variable? Could you please share your yaml file?

[2020-07-10 14:27] tcunbeliever commented on #11191
I have resolved both of these issues with the creation of  pre-deployment sql scripts.

For columns getting dropped - check for existence of the column then if present issue the alter table drop column command.

For columns changing from null to not null - check for the existence of the table (so new environments won't fail on the update) then if present issue an update command to change any null

[2020-07-10 14:31] lindhe commented on #12051
I've got the same issue. Did you do something to make it work?

[2020-07-10 14:56] Pr0methean commented on #9772
@ekaterina-tatanova No; what should we set these to, for those of us who want to use published copies of Zulu (e.g. those who were using the versions that were formerly preinstalled)?

[2020-07-10 15:11] secret-agent-B commented on #13226
I will end up adding those files in my .gitingore because I still want to be able to take advantage of stylecop without consciously referencing it as I add more projects.

[2020-07-10 15:11] #13226 closed

[2020-07-10 16:27] braydie commented on #5472
This is still an issue for me

[2020-07-10 16:44] damccorm commented on #13218
Hi, this looks like a general service issue, not an issue with a specific task. Please file service issues here - https://developercommunity.visualstudio.com/spaces/21/index.html

[2020-07-10 16:44] #13218 closed

[2020-07-10 16:45] damccorm commented on #13222
Hey @FrancescElies the checkout task is a little odd in that it lives as a plugin on the agent. I'd recommending asking any questions in that repo - https://github.com/microsoft/azure-pipelines-agent/tree/master/src/Agent.Plugins

[2020-07-10 16:46] #13222 closed

[2020-07-10 16:46] damccorm commented on #13228
Hi, this looks like a general service issue, not an issue with a specific task. Please file service issues here - https://developercommunity.visualstudio.com/spaces/21/index.html - this will also allow you to share info directly with Microsoft employees

[2020-07-10 16:46] #13228 closed

[2020-07-10 16:50] adityasirohi commented on #12597
@ShreyasRmsft : This issue still exists after following your recommendation. This needs a resolution.

[2020-07-10 17:25] travispalmer opened #13259 "CopyFilesOverSSHV0 0.172.0 fails where 0.171.0 did not."
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CopyFilesOverSSHV0

## Environment
- Server - Azure Pipelines
    Account: Navitaire
    Team Project: Tech-Cloud
    Release Def: Install-Splunk
    Release Number: Install-Splunk-Automation_1.0.0.102_20200702.1 01

- Agent - Private:
    OS for Agent: Windows Server 2012 R2 Version 6.3 (Build 9600)
    Agent Version: 2.171.1

## Is

[2020-07-10 17:46] marlier opened #13260 "CopyFilesOverSSH - no longer creates destination directory if it does not exist"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CopyFilesOverSSH

## Environment
- Server - Azure Pipelines

## Issue Description

As of 0.172.0, CopyFilesOverSSH no longer creates the destination directory if it does not exist.  This is a change in behavior.  In 0.171.0 and prior, if the destination directory did not exist it would be created.

Having the prior behavior available

[2020-07-10 17:50] wmpauli opened #13261 "Get SyntaxError when pushing module images"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-10 18:04] wmpauli commented on #13261
OK. Looks like user error.

Had to do:
[code]

instead of

[code]

Of course, I don't know which of the many changes made the difference. But it works now.

Could have never guessed from https://github.com/MicrosoftDocs/azure-devops-docs/blob/master/docs/pipelines/tasks/build/azure-iot-edge.md

[2020-07-10 18:04] #13261 closed

[2020-07-10 18:07] dazinator commented on #11864
Given how quiet MS has been with this issue, I can only assume something sinister is going on.. Is there perhaps an intentional strategy to shift people off of the speedy cache1 infrastructure, over to something which you know is going to be slower but are doing as a cost saving?? Does anybody care about this issue or should we all switch back to cache1?

[2020-07-10 18:41] iasha102 opened #13262 "Variable for kubernetesServiceEndpoint in Kubectl task can handle only Global Variables"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Kubectl task

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines
- Agent -  Private:

## Issue Description

Variable for kubernete

[2020-07-10 19:52] chandlerkent opened #13263 "AzureFileCopyV2 Started Failing with Version 2.171.2"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-10 19:53] chandlerkent commented on #13263
@asranja can you help with this? Looks like your commit is the only thing in 2.171.2:

https://github.com/microsoft/azure-pipelines-tasks/commit/b0c103ca030110dc2f0cba375d7c910e081f182b#diff-10c0386b7ba2862cd7e655dfcf5dbb96

[2020-07-10 20:19] travispalmer commented on #13260
Looks like this is the same issue I logged in #13259. Got mine in JUST before you ;} . Glad Im not the only one!

[2020-07-10 20:22] marlier commented on #13259
#13264 Should address this -- it's linked against duplicate issue #13260

[2020-07-10 20:49] gregjohnsonr commented on #13260
I've seen this problem where it fails even if the destination folder exists.  In my case it was copying from a Windows build VM to a linux node.  I've seen it do some rather crazy things like create files with backslashes in the filenames..

[2020-07-10 21:28] compulim opened #13265 "NpmAuthenticateV0 should write token to ~/.npmrc to works with NPX and match vsts-npm-auth"
## Required Information

*Type*: bug

**Enter Task Name**: NpmAuthenticateV0

## Environment

Server: Azure Pipelines
Agent: Hosted (Windows 2016)

## Issue Description

When running "NPM authenticate", it write to the local `.npmrc` file (the file we pass as task argument). But `vsts-npm-auth` write to `~/.npmrc` by default.

Both case works for `npm install`. But `NpmAuthenticateV0` will fail wh

[2020-07-10 23:45] jdholbrook81 opened #13266 "download fails when passing a variable to a parameter with [error]Value cannot be null. (Parameter 'hashAndAlgorithm')"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadPipelineArtifact

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build numb

[2020-07-11 00:02] jdholbrook81 commented on #13266
Resolved. I had to use a template expression variable.

[2020-07-11 00:02] #13266 closed

[2020-07-11 00:25] FunnyFry commented on #13263
We are having similar issue but with a different error message.

[code]

The client and object id referenced do not actually exist within our AAD tenant and this is not the client id that is associated to the service connection.

[2020-07-11 14:57] SamYuan1990 commented on #10838
can someone update here:
https://docs.microsoft.com/zh-cn/azure/devops/pipelines/migrate/from-travis?view=azure-devops
can't find out sample for how to use it.

![image](https://user-images.githubusercontent.com/7820992/87226937-d05fbf00-c3c9-11ea-8a12-e74f096c0e19.png)

[2020-07-11 16:49] CodeRevver commented on #13263
Referencing this in case you haven't seen it already: https://developercommunity.visualstudio.com/content/problem/1106999/azure-file-copy-task-v2-resource-not-found.html

[2020-07-11 22:36] graphicsxp commented on #12412
I'm trying to get subscriptionId from Azure Keyvault secret and I'm facing the same issue. At runtime I usually manage to download  keyvault secrets into variables but here the pipeline won't even start :

`There was a resource authorization issue: "The pipeline is not valid. Job deploymentjob: Step input azureSubscription references service connection PROJ ( ) which could not be found. The servic

[2020-07-12 03:05] #10836 closed

[2020-07-12 03:05] #10804 closed

[2020-07-12 03:06] #9317 closed

[2020-07-12 03:06] #9300 closed

[2020-07-12 03:06] #9235 closed

[2020-07-12 03:06] #8874 closed

[2020-07-12 03:06] #8645 closed

[2020-07-12 03:06] #8496 closed

[2020-07-12 03:06] #8489 closed

[2020-07-12 03:06] #8433 closed

[2020-07-12 03:06] #7518 closed

[2020-07-12 03:06] #7439 closed

[2020-07-12 03:06] #7313 closed

[2020-07-12 03:06] #6716 closed

[2020-07-12 03:06] #6668 closed

[2020-07-12 03:06] #6590 closed

[2020-07-12 03:06] #6558 closed

[2020-07-12 03:06] #6417 closed

[2020-07-12 03:06] #5468 closed

[2020-07-12 03:06] #4186 closed

[2020-07-12 03:06] #2995 closed

[2020-07-12 06:06] #6069 closed

[2020-07-12 12:55] bishal-pdMSFT commented on #11543
@snipisx you have set failOnStdError to be true. The task will fail if anything is written to standard error stream. You can turn that setting off.

[2020-07-12 13:33] bishal-pdMSFT commented on #13236
Can you use main.sh file Azure CLI task without the first line of login

[2020-07-12 13:34] bishal-pdMSFT commented on #13252
@tejasd1990 another issue related to versioning message

[2020-07-12 13:37] bishal-pdMSFT commented on #13249
@tejasd1990

[2020-07-12 17:45] bmarinov opened #13268 "DockerV2: Task ignores addPipelineData and always sets two labels on build"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DockerV2
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DockerV2

## Environment
- Server - Azure Pipelines

- Agent - Hosted:

    - Image: ubuntu-18.04
    - Pool: Azure Pipelines

## Issue Desc

[2020-07-13 00:08] gregpakes opened #13269 "Nuget Bitness"
**Question, Bug, or Feature?**
Question

**Nuget Installer @ 1**:

## Environment
Azure Pipelines

- Agent - Hosted or Private:
Private agent, but built from the Hosted packer image.

## Issue Description

We have suddenly started experiencing an issue in out Azure Devops Build, where the build fails because it says the packages can't be found.

[code]

We suspect the issue is related to the bitne

[2020-07-13 03:06] #10721 closed

[2020-07-13 03:06] #10681 closed

[2020-07-13 03:06] #10608 closed

[2020-07-13 03:06] #10582 closed

[2020-07-13 03:06] #10187 closed

[2020-07-13 03:06] #9878 closed

[2020-07-13 03:06] #9451 closed

[2020-07-13 03:06] #9370 closed

[2020-07-13 03:06] #9375 closed

[2020-07-13 05:55] mehalick opened #13270 "Fix Spelling in Deprecated .NET SDK Warning"
**Question, Bug, or Feature?**
Bug

*Type*:
Build

**Enter Task Name**:
DotNetCoreCLIV2

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DotNetCoreCLIV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

When initializing the task a warning is printed/logged regarding .NET Core SDK/runtime 2.2 and 3.0 deprecation and contains a spelling mistake.

[2020-07-13 09:14] subhaKiruba commented on #6458
is the issue resolved ??
Im facing it now while working on codeCoverage

[2020-07-13 09:14] egor-bryzgalov commented on #13092
Hello, @kingcoyote!

Is this issue is still relevant for you?
We are looking forward to hearing from you.

[2020-07-13 09:17] anatolybolshakov commented on #12962
Hi @SuperDuperOne, do you have any updates?

[2020-07-13 09:24] subhaKiruba commented on #12184
im facing it today after including codeCoverage in the yml file
Can someone please let me know if this is fixed ? and what is the cause for this twice execution ?

[2020-07-13 10:05] MackM01 commented on #10513
Same warnings too with VSTest task
On prem agent ( version 2.171.1) behind proxy communicating to hosted Azure DevOps using VS 2019 16.6.3 for test execution

[2020-07-13 10:24] musmuris commented on #13245
I found the same thing - I've been using a custom one for now

[code]

[2020-07-13 10:28] musmuris commented on #13245
see also #11640

[2020-07-13 11:14] ShreyasRmsft commented on #12184
@subhaKiruba please open a new issue with all details such as onprem or hosted, versions, task logs zip with system.debug with the issue and before turning on codecoverage option and link the new issue here.

[2020-07-13 11:15] ekaterina-tatanova commented on #9772
@Pr0methean You may use the new [feature](https://github.com/microsoft/azure-pipelines-tasks/pull/12918). Just set `jdkSourceOption: 'PreInstalled'` and specify `versionSpec` and `jdkArchitectureOption` options. Before that [ensure ](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#software) that specified version is pre-installed on the agent.

[2020-07-13 11:40] subhaKiruba commented on #12184
sure will update in few mins

[2020-07-13 11:57] musmuris commented on #13127
I will raise this on dotnet core SDK

[2020-07-13 11:57] #13127 closed

[2020-07-13 12:24] dmakvh commented on #11508
this can be easily reproduced on Azure DevOps server 2019.1.1 behind a firewall, the server needs to have a corporate certificate _(hence : not available via WAN)_ signed by a corporate CA **(also not available / reachable via WAN, CA certificate not shipped with any browser but installed on each client machine)**. Its definitely a bug.
**Using NODE_EXTRA_CA_CERTS works, though** ...

[2020-07-13 13:29] dbnaza opened #13274 "Android pipeline not building for gradle 4.0"
*Type*: Bug

**Enter Task Name**: Pipeline builds forever after gradle update.

After updating gradle with this configuration:
`classpath 'com.android.tools.build:gradle:4.0.0'
distributionUrl=https\://services.gradle.org/distributions/gradle-6.1.1-all.zip`

Build takes forever until the 60 minutes timeout, then the pipeline fails.

Here is pipeline with gradle 4.0:
<img width="1680" alt="Screen S

[2020-07-13 14:22] ponnmohan commented on #10616
Any solution? issue fixed?

[2020-07-13 14:31] derekendres opened #13275 "Fail on no test file for PublishTestResults@2"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-13 15:04] alexander-smolyakov commented on #10579
Closing now this issue due to a lack of reproducible information, please feel free to reopen it.

[2020-07-13 15:04] #10579 closed

[2020-07-13 15:17] rafagsiqueira opened #13276 "How to use output of DockerV2 task"
*Type*: Question

*Task*: DockerV2

*Agent*:
- Hosted Agent: Microsoft Windows Server 2019
- Current agent version: '2.171.1'

## Question Description
I am having trouble using the output of the docker BuildAndPush task. I want to use the digest of the pushed image further down the pipeline. Can someone help or point me to some documentation regarding the output?

[2020-07-13 15:56] ds-ms commented on #13276
https://github.com/microsoft/azure-pipelines-tasks/issues/11516 Does this answer your query?

[2020-07-13 16:13] rafagsiqueira commented on #13276
@ds-ms, not really. That issue apparently was closed due to the lack of response from the user.
Basically I want to release the recently built docker image as part of a kubernetes deployment using kubectl set image with the image digest. Perhaps this is a reasonably common use case?

[2020-07-13 16:15] ds-ms commented on #13276
the reason for the issue being closed: https://github.com/microsoft/azure-pipelines-tasks/issues/11516#issuecomment-639283758

You could achieve it using the DockerV1 task perhaps?

[2020-07-13 16:20] ds-ms commented on #13268
@sonayak to take a look

[2020-07-13 16:23] rafagsiqueira commented on #13276
From what I understood, DockerV1 accepts more parameters as inputs for its own commands, however it still does not export the image digest of the docker push command, does it?

[2020-07-13 16:27] ds-ms commented on #13276
My bad. It doesn't explicitly push the image digest value. But it does create an output variable called `DockerOutput`. You could parse this output and fetch the image digest maybe?

https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DockerV2/task.json#L122

[2020-07-13 16:33] rafagsiqueira commented on #13276
I could do that, but it feels like a workaround. And this would have to be done on all the pipelines that push a docker image and later release it to kubernetes. Isn't the digest of a pushed image a reasonable output candidate?

[2020-07-13 16:36] ds-ms commented on #13276
Perhaps you could resolve to this workaround for now.. I'll engage with my PMs and people who have been a part of the designing of this task and see how to proceed with this. 😄

[2020-07-13 18:18] eggilbert opened #13280 "PublishTestResults@2: Duration of multiple test suites is not aggregated"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: `Bug`

**Enter Task Name**: `PublishTestResults@2`

## Environment
- Server - Azure Pipelines
- Agent - Private (`2.166.4` on Linux x64)

## Issue Description
`PublishTestResults@2` does not handle the _duration_ of multiple JUnit `<testsuite/>

[2020-07-13 20:08] mconnew commented on #13249
Detecting the version being used isn't going to work across the board. Some commands don't have a version specified. For example, I have the following in my pipeline and it still emits that warning:
[code]

[2020-07-13 21:05] #8123 closed

[2020-07-13 21:23] rafagsiqueira commented on #13276
@ds-ms, I even tried, but couldn't build the task. Got a lot of typescript errors.
[code]
Are there any other requirements for building the task that I am missing?

[2020-07-13 21:39] herenhuang commented on #11512
Hi @adibradfield - were you able to try out the NugetAuthenticate task mentioned above? Are you still hitting this same issue?

[2020-07-13 21:42] herenhuang commented on #11575
@rubberduck203 - are you still experiencing this issue?

[2020-07-13 21:55] rubberduck203 commented on #11575
@herenhuang I can doublecheck with the team, but I don’t think we’ve seen this for a while.

[2020-07-13 21:57] herenhuang commented on #11842
@brunoborges - are you still having this issue? Let us know so we can reopen the issue if it still exists.

[2020-07-13 21:57] #11842 closed

[2020-07-13 22:01] herenhuang commented on #11875
@Uanid - did you manage to get this checked in? Thanks!

[2020-07-13 22:01] #11875 closed

[2020-07-13 22:03] herenhuang commented on #11512
Just send us a comment if you're still having this issue and we'll reopen the ticket to track this exact issue.

[2020-07-13 22:03] #11512 closed

[2020-07-13 22:03] herenhuang commented on #11575
ok, we will close it for now. do let us know if you're still experiencing and we can reopen it. thanks!

[2020-07-13 22:03] #11575 closed

[2020-07-13 22:19] EricMCornelius commented on #10937
@herenhuang  Is there the possibility of controlling the cache content itself via globs in the "path"?

My understanding from the docs right now is that the fingerprinting accepts file patterns, but the actual path needs to be a directory.

This is an issue for NPM global installs, e.g., where all binaries are dumped into a single directory.

[2020-07-14 00:05] krokofant commented on #13249
Related thread https://developercommunity.visualstudio.com/content/problem/1108547/irrelevant-build-warning-about-eol-net-core-sdks-b.html

[2020-07-14 06:09] asranja commented on #13263
Hi all, we are noticing such issues with Azure PowerShell version 5.7.0. Can any of you guys provide the Azure PowerShell version on your agent machine ?

Upgrading the Azure PowerShell version to 6.13.1 or using the latest Az modules should fix this.

[2020-07-14 06:10] ds-ms commented on #13276
@rafagsiqueira Here are the steps I follow whenever I do a new setup after a clone
1. run `npm install` this would bring in all the types as well as packages required for building
2. for building a task `node ./make.js build --task DockerV2`

If you're seeing typescript errors.. it's most likely cause some `.d.ts` files aren't pulled in your environment.
Perhaps you could post the error you're see

[2020-07-14 06:25] ds-ms commented on #13262
AFAIK this is by design.

cc: @chshrikh to comment

[2020-07-14 06:26] JesseDeBruijne commented on #13263
@asranja you mean the AzureRM version? I can confirm I was running it on `5.7.0` and upgrading to `6.13.1` resolved the issue.

To update, run the following command

[code]

[2020-07-14 06:27] asranja commented on #13263
@JesseDeBruijne Thanks for confirming.

We will be hotfixing this with the appropriate solution.

[2020-07-14 07:12] fluffy-cakes opened #13283 "Using multiple InstallSSHKey@0 tasks results in only 1 ssh key being available"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-14 07:13] fluffy-cakes commented on #10838
@ekaterina-tatanova Since this ticket was closed, I raised another; https://github.com/microsoft/azure-pipelines-tasks/issues/13283

Hopefully you have all the details you need in there.

[2020-07-14 08:22] anatolybolshakov commented on #12962
I'm closing it due to inactivity at the moment, please feel free to reopen it

[2020-07-14 08:29] SuperDuperOne commented on #12962
Hi @anatolybolshakov
apologies for the late reply,
I did what you suggested from another computer and got the same error connection, so I believe, we will need to allow access to/from azure devops to our on-premise servers via SSH.

I am however, still confused to why having the Priv and Pub key + password to server didn't even let me run and commands on box....

[2020-07-14 09:28] SuperDuperOne commented on #12962
will the network guys need to whitelist azure devops or just enable SSH port access to the server?

will this link be useful for them to enable SSH access from ADevops to Server

https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops

[2020-07-14 09:51] AlexandrKravchuk commented on #9661
@gandhiprachi @GuyBanay Are you guys still having this issue?

[2020-07-14 10:00] ekaterina-tatanova commented on #13103
Please ping if you have any questions.

[2020-07-14 10:00] #13103 closed

[2020-07-14 11:44] chan43999 opened #13284 "SSL validation error when publish UniversalPackage"
## Required Information
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**:  UniversalPackagesV0

## Environment
- Server - Azure Pipelines
- Account Name: csuttic@xomdeveloper.com
- Organization: PlatformStrategy
- Project Name: Starter-Kit
- BuildId: 10087

- Agent - Private:

    - Type: On premise container agent deployed on Openshift
    - OS: ReadHat Enterprise Linux 7 (rhe

[2020-07-14 12:03] #12627 closed

[2020-07-14 12:08] rafagsiqueira commented on #13276
@ds-ms, that's what I did. And yes, the errors seem all related to d.ts files. What do you mean by the files aren't pulled?
A part of the errors:
[code]

[2020-07-14 12:33] rikat-ms opened #13288 "AzureCLI@2 task fails with Windows Server 2019 when we run "az rest" command to Logic App twice."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-14 13:40] stuspethln commented on #13259
We are seeing the same issue when using SSH to copy assets from a Windows agent to a Linux server. It seems to be a problem with the fact that the directory separators in the *contains* parameter are being dereferenced to backslashes, which is then making the ssh host on the unix server mad.

[2020-07-14 13:45] ds-ms commented on #13276
Could you try removing the `node_modules` folder and try doing `npm install` again?

[2020-07-14 13:51] ds-ms commented on #13254
@tauhid621 to take a look 😃

[2020-07-14 14:10] tauhid621 commented on #13254
@BillChirico I will take a look at this. Meanwhile a workaround will be to create a release variable with same secret name which can be set at release time and pass this variable as an input to the task group.

![Screenshot 2020-07-14 at 7 39 43 PM](https://user-images.githubusercontent.com/17411453/87435755-ccba7b00-c609-11ea-9d9e-2330b337b55a.png)

<img width="855" alt="143979-screenshot-2020-06

[2020-07-14 14:24] fluffy-cakes commented on #13283
Added to this, essentially my goal is to have one ssh key download the repo at a required Git version (because the `-checkout` function in Azure YAML is somewhat limited), and another that would be used for my Terraform naming standard Git pull.

I've updated the pipeline to test this as well (but it still fails):
[code]

And my single test Terraform module
[code]

But of course, as I said, this s

[2020-07-14 14:33] GuyBanay commented on #9661
Hi,

Yes, sometimes

Thanks, Guy

בתאריך יום ג׳, 14 ביולי 2020, 12:52, מאת Alexandr Kravchuk ‏<
notifications@github.com>:

[2020-07-14 14:50] bjs169 commented on #13259
Did #13272 not resolve it for you? It resolved it for some other people including me.

[2020-07-14 16:05] ekaterina-tatanova commented on #12593
@kingwang-git It seems to be related to Gradle update. As mentioned [here](https://docs.gradle.org/current/userguide/upgrading_version_5.html#other_deprecated_behaviors_and_apis), the 'append' property on JacocoTaskExtension has been removed. Could you please share build.gradle and gradle.properties files of your project to make sure that there's no issue with Gradle version?

[2020-07-14 16:57] anatolybolshakov commented on #12962
@SuperDuperOne yes, could you please share these [steps ](https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops#ssh-connections) from this instruction with them?

[2020-07-14 17:50] lehne opened #13289 "PackerBuildV1 does not work with Azure Government"
*Type*: Bug

**Enter Task Name**: PackerBuildV1

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:

   - Hosted Agent Windows 2019

## Issue Description

We are trying to use the Packer Build task to make a VM image for use in an Azure scale set in Azure Governmen

[2020-07-14 18:19] stuspethln commented on #13259
In looking at that PR I don't see that it is completed yet, nor do I see a PR into a release. Is there a guide or something about how I can load changes from a feature branch into a build agent in my local environment?

[2020-07-14 18:28] iasha102 commented on #13262
I had more days to test everything.
And come to this:
If I declare the variable in the global section and then redeclare it in the staging section, then everything works fine.
And this does not happen with other variables.

[2020-07-14 18:36] marlier commented on #13259
Instead of merging my pr, they created one of their own. It was merged
yesterday

On Tue, Jul 14, 2020, 14:20 stuspethln <notifications@github.com> wrote:

[2020-07-14 19:05] harsh-vm commented on #13283
@egor-bryzgalov we had the same issue as @fluffy-cakes. For now we have the following workaround that servers the requirement of using multiple SSH keys for different repo checkout.

[code]

It would be good to see the above solution to be part of the task `- task: InstallSSHKey@0`

[2020-07-14 19:47] DaDarkWizard opened #13290 "Depreciated NuGet Restore option"
## Required Information

*Type*: Bug

**Enter Task Name**: NuGetCommand

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - Hosted

    - If using Hosted agent, provide agent queue name:

## Issue Description

NuGetCommand -externalFeedCredentials option is depreciated.

When reading

[2020-07-14 19:50] ChristopherHaws commented on #13249
It would be nice if the task detected the runtime version in the `global.json` and didnt show the warning if you are on a supported runtime

[2020-07-14 19:59] bishal-pdMSFT commented on #13249
Detection is going to be difficult and may well be wrong at times. Hence we will not do that.

We are moving this message from warning to be an Info. It will still be printed in all cases, but will not show up in pipeline warnings.

[2020-07-14 20:26] WaitingForGuacamole commented on #12412
This may depend on where you declare that variable. It seems that if the variable is declared in a template (job or stage template, or variable template), I don't get access to it with ${{ }} template expressions, rather I have to use macro $( ) syntax.

Did you declare your variable in azure-pipelines.yml, or another template?

[2020-07-14 20:28] stuspethln commented on #13259
ah sweet, everything is copacetic again with version 0.172.3. Thank you both

[2020-07-14 20:29] WaitingForGuacamole commented on #12412
Also note that I can use variables for the other inputs, it only seems to be the connected service name that doesn't accept this?

[2020-07-14 21:33] enufacas commented on #13158
I ran into the same problem as described in the original post by Chris and I don't believe it is a permission issue or related to #13159

In the v4 version of the task if you explicitly specify a **single file** in the `SourcePath` in combination with a `BlobPrefix`, the format of the AZ Copy command is ultimately missing a trailing slash. This causes the file that is uploaded to be created with t

[2020-07-14 23:30] mitchdenny commented on #6120
Hey @StingyJack neither Elijah or I work on Azure DevOps anymore, I suspect this bot is something that the owners of this repository have setup.

[2020-07-15 02:36] leantk commented on #10123
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-07-15 02:38] leantk commented on #10843
Closing this out due to lack of activity

[2020-07-15 02:49] stkevintan commented on #13270
repro for me

[2020-07-15 03:18] mconnew commented on #13249
Would it be worth emitting the warning for UseDotNet@2 if an unsupported version is specified?

[2020-07-15 04:10] raiyanalam commented on #13128
Thanks for the feedback. It makes sense and I have taken a note of this. However, we haven't heard of similar requirements from other users. So, I will keep an eye on this to see if other users also are facing similar challenges and prioritize this based on the demand. Closing this issue for now.

[2020-07-15 04:10] #13128 closed

[2020-07-15 05:17] tejasd1990 commented on #13249
@mconnew UseDotNet task will use whichever version is specified(eol or not), for subsequent tasks. The deprecation message is for DotNetCoreCLI task on hosted agents, not UseDotNet. Not sure I got the question.

[2020-07-15 06:53] cremor commented on #13249
The message should only be shown on hosted agents? That's not the case, I also get it on a self-hosted agent.

[2020-07-15 09:52] therottman commented on #12593
I'm having the same issue.

One workaround is to remove `codeCoverageToolOption` from the Gradle@2 task and add a new task after:
[code]

[2020-07-15 11:20] egor-bryzgalov commented on #13092
I'm closing this issue. Please feel free to reopen it if it's still relevant to you.

[2020-07-15 11:56] StingyJack commented on #6120
Can you reach out to or tag whomever the current owners are? I didn't see anywhere here where they are listed.

[2020-07-15 13:00] gunars-skangals opened #13296 "File Transform - does not replace empty applicationSettings values"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: File transform

## Environment
- Server - Azure Pipelines
- Agent - Windows Server 2019 Datacenter

## Issue Description

App.config settings with an empty value element are not replaced (task version 1).

 - File format: XML
 - parent stage has a linked variable group with a key for each setting name

relevant config file part:
[cod

[2020-07-15 13:02] NilsEngelbach opened #13297 "PublishTestResult + NUnit3 report: publishing of test attachments with relative path not working"
Should it be possible to publish the test attachments with a relative path in Azure DevOps for NUnit3 reports?

The task is configured like this:

[code]
The report looks like this:

[code]

It seems that the file can not be found, even tough it is in the given location relative to $(System.DefaultWorkingDirectory):
[code]

Is the search folder (default: $(System.DefaultWorkingDirectory)) not take

[2020-07-15 14:08] synergiator commented on #11444
Side note: I get same blue screen on testing standard Azure Function App Hello World tutorials for [NodeJS](https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-nodejs?tabs=bash) and [Python](https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-python?tabs=bash).

[2020-07-15 14:30] oscarelo commented on #11191
Hi @tcunbeliever please can you share your pre-deployment sql scripts?

[2020-07-15 15:05] #10809 closed

[2020-07-15 17:05] dewolfs opened #13299 "AzureCLI task list public IPs no HTTP resource was found"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AzureCLI@2

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using **Azure Pipelines**, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name: **ubuntu-latest**

## Issue Description

I want to l

[2020-07-15 17:09] anatolybolshakov commented on #13039
Hi @flesicek, please let us know if you still have an issue

[2020-07-15 17:14] mconnew commented on #13249
@tejasd1990, if the idea is to warn people when they are using an older EOL version of .NET Core, then I was suggesting adding the warning message to the UseDotNet task instead where you do know exactly which version has been specified.

[2020-07-15 17:20] alexander-smolyakov opened #13300 "[XamariniOSV2] Implement support of provisioning profile for app extension"
## Required Information
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: XamariniOS

## Issue Description
In the current implementation of the Xamarin iOS task, there is a limitation that users can provide only one provisioning profile. But to sign an application that contains an extension requires two provisioning profiles. One for applications and another for an extension.

[2020-07-15 17:24] alexander-smolyakov commented on #10851
Hello, @Osmosis311!

At the moment the current implementation of the XamariniOS task doesn't support builds where several provisioning profiles needed. We already created a [ticket](https://github.com/microsoft/azure-pipelines-tasks/issues/13300) regarding this XamariniOS task enhancement.

As a workaround, you can specify names of provisioning profiles in settings of your projects (`Project Setti

[2020-07-15 17:26] anatolybolshakov commented on #13274
Hi @dbnaza, do you use self-hosted or ms hosted agent? Did you try to run it locally with this configuration?

[2020-07-15 19:22] ChristopherHaws commented on #13249
@mconnew If I am understanding correctly, it seems like this warning (not info) message is really warning the user that .NET Core 2.2 and 3.0 are no long installed by default on hosted agents, which happens to be because they are EoL'ed, not that you are using an EoL'ed version of .NET Core. I do think that the latter (warning if you are using an EoL'ed version of .NET Core) would be more meaningf

[2020-07-15 19:34] mconnew commented on #13249
@ChristopherHaws I misunderstood the purpose of the message. I would think that the build output is the wrong place to communicate about a change in the hosts configuration which is why I didn't connect the dots correctly. Re-reading the message I can see that the intention was about the host configuration.

[2020-07-15 21:40] kcentralsquare commented on #13130
I am experiencing this same issue with the --collect parameter when attempting to use coverlet as part of my build pipeline. URL escapes do not work.

[2020-07-16 00:16] jenatali opened #13302 "PublishSymbolsV2: Support source indexing across git submodules"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*:  Feature

**Enter Task Name**: PublishSymbolsV2

## Issue Description

I have a pipeline for building an open source project, where the project does not have Azure DevOps YAML build definitions built-in. In order to simplify synchronizing betwe

[2020-07-16 00:26] veemvve opened #13303 "Docker Compose Task fails with "HNS failed with error : The parameter is incorrect.""
I'm trying to execute a docker-compose.yml which deploys Azure Docker Container Instances needed for Apache Airflow using Docker Compose task and ended up with below error,

_Creating network "network_name_default" with the default driver
HNS failed with error : The parameter is incorrect.
##[error]Creating network "msbizopsde-airflow_default" with the default driver
##[error]HNS failed with error

[2020-07-16 04:53] saquibkhan commented on #13130
@kcentralsquare Can you try using %22 instead of quotes and see if that works. For time being this seems to be the only workaround here.

[2020-07-16 05:41] ajainguru commented on #12464
We have also started getting below error with Hosted ubuntu agent.
Retrying. Attempt $2/$3
##[error]_proc should be null. (Parameter '_proc')

Any idea what can fix this? Seems to be issue on Azure agent. It is not able to find/create workspace.

[2020-07-16 06:13] hvinett commented on #13179
hey @DevonBritton , can you provide a sample small project with pipeline setup and share it? that could be easy for us?

[2020-07-16 06:22] DevonBritton commented on #13179
Hi @hvinett .

I appreciate the response. I see this is being dealt with in the following PR so I think my issue can be closed or linked to that.

https://github.com/microsoft/azure-pipelines-tasks/pull/12122

Kind Regards,
Devon Britton.

[2020-07-16 06:40] gethari commented on #12195
Hi Team, We are facing this randomly on our VSTS hosted agent today.  This is the final error message we get

[code]

[2020-07-16 08:00] ds-ms commented on #13303
@rohit-batra could you take a look at this issue?

[2020-07-16 08:02] alekssako commented on #6417
Any news on this or workaround solutions ?

[2020-07-16 08:03] hvinett commented on #13179
@DevonBritton , yes https://github.com/microsoft/azure-pipelines-tasks/pull/12122 seems like the correct fix.  we are closing this issue from our side.
Thank you,
vineeth

[2020-07-16 08:14] gethari commented on #12195
HOLY SHIT, After 2 hours of reading various threads back and forth [this answer](https://stackoverflow.com/a/18020195/8368871) fixed my issue.

[2020-07-16 08:38] nishantms commented on #11666
@IvanAlekseev
It is not mentioned in the release notes as it is used internally  by the "Publish code coverage results" Task.
i tried to repo , however i am seeing the correct version

![Annotation 2020-07-16 140533 PNG](https://user-images.githubusercontent.com/63423133/87649152-b2011700-c76d-11ea-8678-aa8740ea0472.jpg)

Can you please help me with your usecase

[2020-07-16 08:57] #13179 closed

[2020-07-16 09:23] ekaterina-tatanova commented on #9772
Please ping if you have any questions. Created an [issue ](https://github.com/microsoft/azure-pipelines-tasks/issues/13258)for correct error output when using `azureStorage`.

[2020-07-16 09:24] ekaterina-tatanova commented on #9772
Please ping if you have any questions. Created the [issue ](https://github.com/microsoft/azure-pipelines-tasks/issues/13258)for correct error output when using `azureStorage`.

[2020-07-16 09:24] #9772 closed

[2020-07-16 09:40] #13260 closed

[2020-07-16 10:02] Jaffacakes82 commented on #13119
Looks like this is fixed, thanks!

[2020-07-16 10:02] #13119 closed

[2020-07-16 10:23] papuashu commented on #10839
As of now (July 2020) this issue (MSBuild 16 not being available in the above dropdown) is not fixed.

[2020-07-16 10:41] RuslanRasulovAkv commented on #12464
Hi @jeschu1 ! I found in logs that 2.165 version of the Agent was used and may be we should update it to the latest one. A retry logic was added In Agent's version 2.169.1 which can influence this step.

[2020-07-16 11:07] colewerner commented on #12464
@RuslanRasulovAkv If you are looking at the original logs posted here in this issue those are dated at this point.  I posted an update on ~7/1/2020 above showing where this retry logic looks like it was implemented and is failing.

[2020-07-16 11:30] anatolybolshakov commented on #12815
Reopened it at the moment due to reverted changes - https://github.com/microsoft/azure-pipelines-tasks/pull/13298, we are going to proceed on it further

[2020-07-16 12:44] lxmaran commented on #10968
It's happening again.

[2020-07-16 12:59] kcentralsquare commented on #13130
That did not work for me @saquibkhan.

[2020-07-16 14:02] alexander-smolyakov commented on #9661
Hi, @gandhiprachi!

Could you please provide more details about the setup for Azure DevOps and Jenkins pipelines? I'm not able to investigate logs from https://jet-tfs.visualstudio.com/ since access needed. So it would be great if you manage to share some fresh logs from Azure DevOps and Jenkins as well.

Also could you please try to use a delay in pipelines to test is this issue related to a race

[2020-07-16 14:19] japj commented on #6314
@damccorm I just run into this today with the MSBuild task:
- Azure DevOps Server Dev17.M153.5 (This is an Azure DevOps Server 2019 Update 1.1)
- Agent 2.153.1
- MSBuild task 1.151.1 (which seems to use vsts-task-lib 2.2.1 and VstsTaskSdk 0.8.2)

[2020-07-16 15:10] kensykora commented on #11864
We are seeing similar slowness in cache restore. Sometimes the download process just completely stalls out. What used to be a ~1min30sec nuget restore turned into a ~7min cache restore. Completely invalidates the purpose of the task.

Example Log here: https://gist.github.com/kensykora/2e78bedf44a1c90e628d0e4d5b61a2af

[2020-07-16 16:26] jeremysimmons opened #13307 "Replace DeleteFiles or use Specific Version"
Type: Question
Task Name: DeleteFilesV1

## Environment
- Server - Azure Pipelines
account name: entcu
team project name: SI
build definition name: Olb
build number: maintegration-20200714.3-Release-3

- Agent
Location: Private
OS: on Microsoft Windows [Version 10.0.14393]
Agent Version: bin.2.171.1

## Issue Description
The DeleteFiles task was affected by the update to the https://github.com/mic

[2020-07-16 17:33] saquibkhan commented on #13130
@kcentralsquare If it's possible can you share the command and argument?

[2020-07-16 20:34] GF-Huang commented on #6135
My question is: How to make `PAT` safe when I also use `docker-compose.yml` to build the `Dockerfile`.

[2020-07-16 21:22] anorborg opened #13308 "VSBuild - Exception Parsing msbuildArgs with YAML mutiline escape"
## Required Information

*Type*: Bug
**Enter Task Name**: VSBuild

## Environment
- Server - Azure Pipelines (https://dev.azure.com/realcrowd/RealCrowd/_build/results?buildId=4424)
- Agent - Hosted (windows-latest)

## Issue Description

When re-running a build with no code changes, the pipeline started failing on the VSBuild task with the following error:

`Cannot validate argument on parameter '

[2020-07-16 23:41] terenceyan commented on #11961
I've ran into this exact same problem. It's unclear from the documentation how to do this without uploading two separate build. But it can be done via the web interface, so it can be done?

[2020-07-17 00:12] gandhiprachi commented on #9661
@alexander-smolyakov  - i no longer work with these pipelines, sorry unable to provide any information at this time. Please resolve the ticket

[2020-07-17 02:55] subhaKiruba commented on #6458
Can someone please help me ?

[2020-07-17 07:33] japj opened #13309 "Upgrade VstsTaskLib to 0.11.0 everywhere to fix fails on logging when any filenames contain [ or ]"
## Required Information

I recently ran into the same issue as microsoft/azure-pipelines-tasks#6314, but for the MSBuild task with:

- Azure DevOps Server Dev17.M153.5 (This is an Azure DevOps Server 2019 Update 1.1)
- Agent 2.153.1
- MSBuild task 1.151.1 (which seems to use vsts-task-lib 2.2.1 and VstsTaskSdk 0.8.2)

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: MSBuild, and mo

[2020-07-17 09:16] anatolybolshakov opened #13311 "[SSH] sudo command doesn't work with runOptions=commands"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: SshV0

## Environment
- Server - Azure Pipelines or TFS on-premises?
   Any

- Agent - Hosted or Private:
   Any

## Issue Description
Sudo command doesn't work properly with 'runOptions' as 'commands' - execution is b

[2020-07-17 09:47] alexander-smolyakov commented on #9661
@gandhiprachi thanks for the response! So closing it.
@GuyBanay could you please create a new ticket regarding this issue and provide information that I requested earlier?

[2020-07-17 09:47] #9661 closed

[2020-07-17 10:24] Surendra-thota1640 commented on #9710
we are getting the fallowing err Error SQL72014: .Net SqlClient Data Provider: Msg 4145, Level 15, State 1, Line 26 An expression of non-boolean type specified in a context where a condition is expected, near 'Dev'.
I have used this condition IF '$(environment)' = 'Dev'
in script file
and  Pipeline we are using /v:environment='Dev' , what is the issue with the above settings?

[2020-07-17 10:54] muthukrishnan-g opened #13313 "Unable to access pipeline variables in Powershell task with file path, However it works with inline script."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-17 12:19] winniehell commented on #13234
As far as I understand, a similar thing was already implemented a while back for the Jenkins task: https://github.com/microsoft/azure-pipelines-tasks/pull/5269 (judging by the name `WriteContentToFileAndUploadAsAttachment`).

Maybe part of that logic can be reused for JUnit reports?

[2020-07-17 15:29] sanjeevsharma-1 opened #13314 "getting *** marks in pipeline tasks"
I'm trying to run a pipeline but not sure why the pipeline consists of **** marks in results page, it is trying to hide the values and I need the values for understanding the error or issues.
the issue comes in all the tasks and not any specific one.
![image](https://user-images.githubusercontent.com/68319188/87803649-6c794280-c870-11ea-93e3-bdc3e0d57d0a.png)

[2020-07-17 15:51] MikeRixWolfe commented on #10968
Happening again today

[2020-07-17 16:38] anatolybolshakov commented on #7339
Hi @JonathanNEMRY @jashan05 is this issue still reproducible for you? I can't reproduce it at the moment - even if there's no passphrase for ssh key...

[2020-07-17 19:25] bmvij commented on #11191
Seems like it doesn't work from Publish
Go to  DB project -- properties ( project > properties > debug) uncheck "Block on incremental deployment if data loss occurs" this will work.

I am getting timeout error below, i have increased the timeout time but no luck. ( I am deploying it through PS)

    + CategoryInfo          : InvalidOperation: (:) [Invoke-Sqlcmd], PipelineStoppedException
    + Ful

[2020-07-18 11:06] jashanbhullar commented on #13246
@soccerjoshj07 Thank you for this. Been beating my head at this for the whole day :+1:

[2020-07-18 11:11] jashanbhullar commented on #13129
Should fix the documentation here :
https://github.com/microsoft/azure-pipelines-tasks/issues/13246

[2020-07-18 15:57] bishal-pdMSFT commented on #13288
@rikat-ms we have seen similar issues with the task and the problem seems to be with Powershell version installed on hosted agents. Not sure whether same issue but can you try the workaround of specifying scriptType of pwsh

[2020-07-19 05:48] luiarhs opened #13316 "Deploy failed to update Azure Linux App service application settings"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Azure App Service deploy - Deploy to Azure Linux App Service

## Environment
- Server - Azure Pipelines
- Agent: ubuntu-latest

## Issue Description

I'm trying to deploy a ASP.NET Core 2.1 app on a Linux App Service

Deploy failed when try to update application settings `appsettings.json` this issue onl

[2020-07-19 13:19] bishal-pdMSFT commented on #13270
Fix has been merged

[2020-07-20 00:03] travisgosselin commented on #11864
Same in our organization. This caching task is essential and has completely rendered many of our builds at times incapable of passing in under 1hr. We are beginning to migrate to a custom in-house task that will cache assets into AWS S3. Before going down this route we found a few other caching options (other than switching back to preview or V1) that seem promising in case it helps anyone else:
-

[2020-07-20 02:38] rikat-ms commented on #13288
@bishal-pdMSFT Thank you for your information. As you said, this issue seems to be caused by PowerShell because this issue also occurs using PowerShell task. (Sorry, I didn't write first.) I tried to run with pscore in scriptType (pwsh didn't exist for the scriptType) and it completed successfully. So, pscore can be workaround if we use Windows Server 2019.
Meanwhile, I'll try to find more details

[2020-07-20 03:05] #10123 closed

[2020-07-20 06:06] #10874 closed

[2020-07-20 06:08] subhaKiruba commented on #6458
any update on this issue ??

[2020-07-20 06:09] subhaKiruba opened #13317 "Build: Maven with Code Coverage run tests twice"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-20 06:18] hvinett commented on #13201
hey @adamtuliper, can you create a simple project with build pipeline setup and share?

[2020-07-20 09:27] IvanAlekseev commented on #11666
@nishantms just run it today and see correct version now. Thanks

[2020-07-20 11:15] ekaterina-tatanova commented on #13317
Closing out since it's duplicate of [#6458](https://github.com/microsoft/azure-pipelines-tasks/issues/6458)

[2020-07-20 11:15] #13317 closed

[2020-07-20 12:04] fluffy-cakes commented on #4743
I agree, this does not seem to work with Deployment Jobs. Does anyone know a fix for this?

[2020-07-20 13:17] tango-charly commented on #13253
Corrected by
- https://github.com/microsoft/azure-pipelines-tasks/pull/13286
- https://github.com/microsoft/azure-pipelines-tasks/pull/13287

[2020-07-20 14:50] tmahncke-lhind commented on #4743
For deployments there is a different syntax, see https://docs.microsoft.com/en-us/azure/devops/pipelines/process/deployment-jobs?view=azure-devops#support-for-output-variables.

I was however not able to get this running in a stage condition. It is working when using stageDependencies in a job in the next stage however. I used a bash Job as waorkaround. Run the job based on the inverse condition y

[2020-07-20 15:23] anatolybolshakov commented on #12954
Hi @BillyONeal, do you have any updates about this attempt with Powershell Core?

[2020-07-20 15:24] #13039 closed

[2020-07-20 16:13] maxim-lobanov opened #13319 "Improve UsePython to allow installation versions on-flight"
## Problem
Currently, UsePython task just switches versions that are pre-cached on image ([example](https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md#python)).

It works for the most of the use-cases, because image always contains latest patch version for every major.minor pair.
However, some customers prefer to specify exact version of Python and would lik

[2020-07-20 16:23] rosieks commented on #8408
Is there any plan to provide SQL task that works on Linux too or at least instruction how to do it? Unfortunatelly instruction like that:

Is quite short.

[2020-07-20 18:11] gbrueckl opened #13320 "Using #requires in Script"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShellV5

## Environment
Hosted agent windows-2019

## Issue Description

Using a #requires statement at the top of my script makes the script fail due to missing

### Task logs

2020-07-20T17:53:00.3283365Z ##[section]Starting: Storage - Deploy Content
2020-07-20T17:53:00.3412623Z ===================

[2020-07-20 19:26] cbb330 opened #13321 "Evaluating environment dependent secret names in AzureKeyVault task"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AzureKeyVault@1

## Issue Description

I have an AzureKeyVault task that will run in three environments: Dev, Lab, and Prd.

Each environment has a Key Vault named: dev-kv, lab-kv, and prd-kv.

Each key vault has secrets following this naming convention named: dev-password, lab-password, and prd-password

[2020-07-20 21:10] zachariahcox commented on #13313
@microsoft/akvelon-build-task-team

[2020-07-20 22:54] BillyONeal commented on #12954
@anatolybolshakov No, we haven't updated the VMs since we last spoke; that probably won't happen until sometime after August 1st.

[2020-07-20 23:06] ThadHouse opened #13322 "PublishBuildArtifacts with an artifact name of bin results in artifacts that can't be downloaded"
We recently changed our build artifacts published by PublishBuildArtifacts to be called bin rather then drop. We noticed today that doing this caused us to be unable to download any individual artifacts. This can be seen in the following build.

https://dev.azure.com/ms/msquic/_build/results?buildId=95701&view=results

The following link is to one of the individual build artifacts, which should be

[2020-07-20 23:52] olivia opened #13323 "luminati/is0/LAYOUT"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-07-21 01:59] lacasseio opened #13324 "The README's taskbanner.png should use the new Gradle logo"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Documentation bug

**Enter Task Name**: README.md

## Environment
N/A

## Issue Description

The logo in the taskbanner.png for Gradle is really old. It should use the newer one, see [their branding page](https://gradle.com/brand/).

[2020-07-21 03:53] lacasseio opened #13325 "AppCenterDistributeV3 fails with HTTP 500 releasing Android React-Native on AppCenter"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AppCenterDistributeV3

## Environment
Using **appcenter.ms** for a React-Native Android application.

## Issue Description

The log shows:
[code]

I can't find any information on how to enable debug log on AppCenter. I

[2020-07-21 06:22] asranja commented on #13263
This should be fixed with version 3.171.3 of the task by now. Please requeue the pipeline and check if the issue has resolved for you.

[2020-07-21 07:54] tinohager commented on #10399
Please fix this problem on Azure DevOps Server - it has been open for over a year now.

[2020-07-21 09:27] anatolybolshakov commented on #12954
Ok, thanks - please just let me know once you try it

[2020-07-21 10:08] ekaterina-tatanova commented on #13313
You may use `arguments` option and set pipeline variables to `arguments`. [Here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/powershell?view=azure-devops#call-powershell-script-with-multiple-arguments) is the example how to call PowerShell script with multiple arguments. Please ping if you have any questions.

[2020-07-21 10:08] #13313 closed

[2020-07-21 13:22] chandlerkent commented on #13263
@asranja Thank you. I can confirm that 2.171.3 does fix the issue. Closing.

[2020-07-21 13:22] #13263 closed

[2020-07-21 13:48] jeremysimmons commented on #13307
@mjroghelia any thoughts? is this a question for the microsoft/azure-pipelines-agent repo?

[2020-07-21 15:05] sebastienros opened #13326 "PublishToAzureServiceBus doesn't resolve parameter for connectedServiceName"
*Type*: Question/Bug
__PublishToAzureServiceBus__

I defined a job with a matrix of parameters. When binding a parameter to the `connectedServiceName` property of __PublishToAzureServiceBus__ the value `$(connection)` is seen instead of the actual value of the parameter. When used in the `displayName` property it shows up correctly, like `"My Service Bus Queue"`.

Here is an example of usage

[cod

[2020-07-21 15:06] Gupta-Amrit commented on #9172
For secure file delete use PUT API https://dev.azure.com/{organization}/{project}/_apis/distributedtask/securefiles/{secureFileID}?api-version=5.0-preview.1

And for secure file upload use POST API https://dev.azure.com/{organization}/{project}/_apis/distributedtask/securefiles?name={fileName}&api-version=5.0-preview.1
Content-Type=application/octet-stream

[2020-07-21 15:43] satbai commented on #10399
Azure DevOps Server 2020 release comes with the NuGet Authenticate task and the [RC1](https://docs.microsoft.com/en-us/azure/devops/server/release-notes/azuredevops2020?view=azure-devops) is out.

[2020-07-21 16:14] nibanks commented on #13322
FYI, the impacted pipeline is used for a Windows OS component. [MsQuic](https://github.com/microsoft/msquic) is shipped as a part of Windows. This bug impacts our development and debugging experience, since we cannot download symbols for test failures. We'd greatly appreciate it if you could take a look at this ASAP.

[2020-07-21 16:22] anatolybolshakov commented on #11582
Hi @idiocache, could you please check if it's working for you with hosted agent?

[2020-07-21 19:32] jklaus opened #13327 "AzureResourceGroupDeploymentV2 Missing from ADO's Release Designer"
## Required Information

The Azure Resource Group Deployment Task is missing from ADO's release designer.  I can't even find it in the deprecated tasks lists.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureResourceGroupDeploymentV2

Note: this issue seems to have started up May 17th.  See comments on original post on this prior closed bug.
(The original bug was simply user

[2020-07-21 19:44] jklaus commented on #13327
After a little snooping I found the new task - This name change doesn't seem to be published anywhere.  Is it possible to alias the package, or at least publish such a name change?

[2020-07-21 20:58] wei-hai commented on #13201
+1

[2020-07-21 21:42] johnterickson commented on #11864
Hi all- This thread has a lot going on in it!

Some thoughts:
1. If you are running your own private agent, it's going to be difficult to rule out that network topology and disk performance as the culprit.  Ideally, repro your issue on a hosted agent in a public project.
2. We've found a hang in HttpClient and we have a fix in the works to mitigate it more quickly.  If you're seeing it usually pre

[2020-07-21 22:00] deadlydog opened #13328 "Azure PowerShell task no longer persists Azure auth context when the task completes"
**Type**: Bug

**Task Name**: AzurePowerShell

## Environment
Azure Pipelines
https://dev.azure.com/iqmetrix/RQ/_releaseProgress?_a=release-environment-logs&releaseId=24564&environmentId=104457

Hosted agent, using Azure Pipelines and ubuntu-18.04

## Issue Description

Prior to PR #13239 you could use the Azure PowerShell task to authenticate with your Azure subscription and establish a context,

[2020-07-21 23:18] xantari commented on #5472
Still an issue here as well.

[2020-07-22 00:47] surajsupremegolf commented on #9319
This issue still exists, I think it was premature to close this. I have done everything mentioned by Mr. Vincent and it does not work. It was working today morning and subsequent release started failing for swapping slots. I think this should be reopened or prper guidance has to be given. This is breaking our production systems.

[2020-07-22 00:49] surajsupremegolf opened #13329 "No subscription found in the context. Please ensure that the credentials you provided are authorized to access an Azure subscription, then run Connect-AzAccount to login."
This happens when we run the swapping of slots using this command in parallel for more than one app service :
Switch-AzWebAppSlot -SourceSlotName "PreProd" -DestinationSlotName "PRODUCTION" -ResourceGroupName "abc" -Name "xyz"
As said this was working at one moment and suddenly stopped working. No intimation nothing has been given if something has been changed from Microsoft's end. How do you thin

[2020-07-22 04:58] chshrikh commented on #13329
please share the detail release/build logs

[2020-07-22 04:59] chshrikh commented on #13328
@20shivangi to address this

[2020-07-22 05:01] subhaKiruba commented on #6458
is this issue resolved ?

[2020-07-22 05:54] alokpatra commented on #9673
@iashishmittal
Is this feature enabled for on-premise as well?
Am using Azure DevOps Server Version 17.143.28912.1

[2020-07-22 05:55] adrian-skybaker commented on #10842
That was nearly 10 months ago. Perhaps you could leave github issues open until the documentation is done? Otherwise it seems documentation never actually happens? And without it are they really completed features?

[2020-07-22 06:24] ekaterina-tatanova commented on #12593
@therottman The solution to use PublishCodeCoverageResults task does not work because there is no generated file with code coverage statistics.

[2020-07-22 07:54] adrian-skybaker commented on #11864
Why limit the concept of the cache to something that has to be transported remotely (and slowly) over HTTP? Why not transparently present it via local disk? It shouldn't require resorting to managing persistent private agents to achieve this.

The cache was one of the things I was most looking forward to in Azure, mainly to avoid redownloading dependencies from remote HTTP sources, so it's hugely

[2020-07-22 08:38] himanshush13 commented on #12195
@gethari  did you only add .npmignore file only ? because that doesn't solve my issue. The error is same.

[2020-07-22 08:43] nishantms commented on #11666
@Galad / @IvanAlekseev : Thats Great, I am going ahead and close this issue now

[2020-07-22 08:43] #11666 closed

[2020-07-22 09:26] therottman commented on #12593
@ekaterina-tatanova hmn, maybe it's because I've this in build.gradle:

[code]

[2020-07-22 11:05] PDostalek commented on #12991
@romil07 please check

[2020-07-22 11:34] gethari commented on #12195
@himanshush13 It did resolve the issue for time being for one or two days. Today we are facing this issue again ! 😟

[2020-07-22 13:25] surajsupremegolf commented on #13329
Here is the release log for that task which has failed :
_2020-07-22T13:13:45.0428226Z ##[section]Starting: Swap Slots
2020-07-22T13:13:45.0537127Z ==============================================================================
2020-07-22T13:13:45.0537504Z Task         : Azure PowerShell
2020-07-22T13:13:45.0537810Z Description  : Run a PowerShell script within an Azure environment
2020-07-22T13:13

[2020-07-22 13:34] mjroghelia commented on #13307
@stephenmichaelf Can you advise here on whether this is or will be a task locking workaround?

[2020-07-22 14:30] jeremysimmons commented on #13307
@mjroghelia, @stephenmichaelf it's hard to understand how much of a crippling regression this is.
This is occuring once for every server in our deployment and increasing the time from seconds to 5-10 minutes per server.

We were at > 90 minutes for a release to run fully vs now the < 10 minutes.

As a workaround, I added a shell script as a final task in my task-group to remove files from $(System

[2020-07-22 16:38] surajsupremegolf commented on #13329
Attached is the debug log for the above task
[
[DevopsLogs.txt](https://github.com/microsoft/azure-pipelines-tasks/files/4961249/DevopsLogs.txt)
](url)

[2020-07-22 17:11] johnterickson commented on #11864
@adrian-skybaker There are a couple of limitations, but the main driver is costs.  Either you have a pool of VMs on standby with state _specific to each pipeline_ or you have a pool of generic VMs that have state injected into them.  The former is faster, but the latter is less expensive.

Unfortunately, the term "caching" is quite overloaded.  Pipeline Caching is less about "refetching dependenci

[2020-07-22 18:54] wasabii commented on #11864
It would be nice if there was a first-level cache on the local machine maintained by this task. All the objects are identified by some ID, I'm sure. So just slam them into a local directory. Fetch remote only when needed.

[2020-07-22 19:23] johnterickson commented on #11864
@wasabii this would be for private agents only, right?

[2020-07-22 20:16] eggilbert commented on #13280
I did some more investigation here and it seems like the root cause is actually that the `maven-surefire-plugin` doesn't include a `timestamp` field on the generated `<testsuite/>` XML nodes. I noticed the following warning in the logs for the `PublishTestResults` task:

As a result it seems like all the `<testsuite/>` entries that are merged together in the published test run are given the same i

[2020-07-22 20:16] #13280 closed

[2020-07-22 21:05] henry-padilla opened #13332 "ServiceFabricDeploy@1 cannot deploy in parallel because it removes certificates"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: ServiceFabricDeploy@1

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account nam

[2020-07-22 21:16] marcpopMSFT opened #13333 "Yaml Build Task - DotNetCoreCLI@2 Restore working differently when using Proxy & No Proxy"
---
**Issue moved from dotnet/sdk#12121**
- Please respond to @temelj.

---

_From @temelj on Monday, June 22, 2020 9:33:04 AM_

Hi,

I have a step in my azure pipelines that does the following
[code]

The following logs are from a machine that has NO Proxy configured:
[code]

Then the following when a proxy is configured:
[code]

Based on the logs, I cannot identify whether the Proxy is blocking

[2020-07-22 21:16] marcpopMSFT commented on #13333
---
**Issue moved from dotnet/sdk#12121**
- Please respond to @temelj.

---

_From @temelj on Monday, June 22, 2020 10:54:47 PM_

To provide more context:

When configuring the build agent behind the proxy, the `dotnet restore` step is failing but I cannot work out what URLs it is trying to resolve.

PS: I have also made sure that the proxy and firewall are configured as per the [Self-Hosted Windo

[2020-07-22 21:16] marcpopMSFT commented on #13333
---
**Issue moved from dotnet/sdk#12121**
- Please respond to @temelj.

---

_From @temelj on Tuesday, June 23, 2020 7:55:02 AM_

Findings: api.nuget.org is blocked by the proxy
I am attempting to purely use the private feed (to which I know that I have connectivity to).

And it is failing so far. I am starting to believe that the tooling relies on api.nuget.org to be accessible regardless of the

[2020-07-22 21:16] marcpopMSFT commented on #13333
---
**Issue moved from dotnet/sdk#12121**
- Please respond to @temelj.

---

_From @temelj on Tuesday, June 23, 2020 7:59:52 AM_

It also appears that the private feed does NOT have the latest version of a particular package - see log (redacted)

URL: https://REMOVED.pkgs.visualstudio.com/_packaging/00000a00-ef00-0e00-0fb0-000bf0bda000/nuget/v3/flat2/specflow/3.1.97/specflow.3.1.97.nupkg'.

`{"$id

[2020-07-22 21:20] henry-padilla commented on #13332
EDIT: After discussing with a friend I realize the above suggestion still won't work if the cert is not installed in the beginning.

A better approach would be to use semaphores as a use count and when the usage is zero, remove it (if it was installed be this task).

[2020-07-22 21:24] adrian-skybaker commented on #11864
The VMs could be maintained on standby only for a short time, that way if the pipeline re-runs within X amount of time (eg hours/days) it could pick up a fast local copy, otherwise it could fall back on cold storage remotely downloaded. You don't need the whole VM though, just a way to mount a near file system onto it.

Once the cache is local (and once caches are supported across branches), it pu

[2020-07-22 21:40] adrian-skybaker commented on #11864
...having said all that, the remote download shouldn't be as slow as it is, which is what I think this issue is about. Here's my download from a build just now on a MS hosted ubuntu-20.04 agent:

[code]

[2020-07-22 22:22] bakerhillpins commented on #11985
To followup on this conversation about building Android Bundles mostly because it's been a little bit of a battle to get this to work for me. @brendanzagaeski At this point in time I've not seen any of this info integrated into the docs, though I may have missed it.

I didn't find the LinkedIn blog post that @developer9969 posted above, but I did find [this one from James Montemagno](https://devbl

[2020-07-22 23:42] bakerhillpins opened #13334 "XamarinAndroid@1 replaces target project with wildcards when using secret variables."
**Question, Bug, or Feature?**
Bug

**Enter Task Name**:
XamarinAndroid@1

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/XamarinAndroidV1

## Environment
- Server - Azure Pipelines

## Issue Description
Linking a Variable Group that contains Secret variables to a Pipeline causes the XamarinAndroid@1 task to replace the project specified on the MSBu

[2020-07-23 00:15] mderriey opened #13335 "Support for Run-From-Package deployment for Linux App Services"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Feature

**Enter Task Name**: AzureRmWebAppDeployment

## Environment
- Server - Azure Pipelines or TFS on-premises?

   - Azure Pipelines
   - Account name: `readify`
   - Build number: `50584`

- Agent - Hosted or Private:

    - Hosted agent
    - A

[2020-07-23 01:48] v-kyljon commented on #13334
#13314 appears to be similar

[2020-07-23 03:37] nealsu commented on #13226
I am facing the exact same issue with my projects, having the `Directory.Build.props`, `stylecop.json` and `StyleCop.ruleset` causes my build to fail. Removing them resolves the issue.

But I would like to keep these changes in place and setup a standard for the team.

Does anyone know why these files cause the problem? And how to get around it?

[2020-07-23 05:53] temelj commented on #13177
any updates or progress on this issue?

[2020-07-23 06:00] temelj commented on #13226
I have a feeling your issues are again caused by how you've setup your repository and pipeline and nothing to do with a "bug" in nuget restore and the pipeline tasks.

As for Directory.Build.props - don't place them in the solution folder - that's an anti pattern.
I have mine in the `src` folder where all projects are. (Note that the sfproj is under the repo root)

I have an additional Directory.B

[2020-07-23 06:07] nealsu commented on #13226
I don't know if this is just a problem / bug with Service Fabric projects (*.sfproj) that reference .net core applications. But they are the only projects that fail during the nuget restore when the `Directory.Build.props` contains a `PackageReference`, everything else about the `Directory.Build.props` doesn't trigger these errors.

Removing the below package reference but keeping the rest of the

[2020-07-23 06:16] bishal-pdMSFT commented on #13177
@damccorm assigning this to you as it looks like task lib issue. Please hand it back if it is task issue.

[2020-07-23 06:59] nealsu commented on #13226
As mentioned in my comment above, the issue lies with the Service Fabric (`.sfproj`). Thanks @temelj for the hint with regards to your project structure. Knowing that your `.sfproj` sits at the root, where as mine sit within my `/src` folder meant that the `Directory.Build.props` were being applied to all projects. Which then resulted in the `nuget restore` error.

The trick I applied was to condi

[2020-07-23 08:31] frank-digirati commented on #13243
Yeah sure where do I send the logs ?

[2020-07-23 09:59] valters-tomsons opened #13339 "[DockerV2] Images randomly include broken dependencies"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: `Docker@2`
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DockerV2

## Environment
- Server - `Azure Pipelines`
- Agent - `Hosted`

## Issue Description

We have a docker task that builds an image from our repository and it seems that sometimes the final image has a corrupted dependency

[2020-07-23 11:01] csurfleet commented on #13275
This would be incredibly useful, we're using bash scripts between each test task at the moment

[2020-07-23 11:25] gethari commented on #12195
## UPDATE

I don't know if this is the right solution. I downgraded Angular CLI to `8.3.23` and it did resolved my issue, and also we were using a build step called `NODE` we removed it and installed node directly on the server

[2020-07-23 12:06] #13270 closed

[2020-07-23 14:08] syedwajeehbukhari opened #13341 "MSIX package deployment appsetting JSON variable substitution."
Hello,

Please can someone direct me to steps on JSON variable substitution with MSIX package. I need to have different MSIX packages for different environments as the WPF projects appsettings.json file values change based on environments. I've tried the Release Pipeline "File Transform" task replacing zip with msix but no luck. Since I'm new to this MSIX stuff maybe i'm using the wrong approach?

[2020-07-23 14:48] anatolybolshakov commented on #12365
Hi @huaxiawang, there seems to be an issue with build.gradle file - 'classesDir' property was [renamed ](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.SourceSetOutput.html#org.gradle.api.tasks.SourceSetOutput:classesDirs) to 'classesDirs' for Gradle 5 and greater - could you please try to rename it?

[2020-07-23 15:37] MattGal commented on #13250
Another incidence: https://dev.azure.com/dnceng/public/_build/results?buildId=742988&view=logs&j=694d544e-ff71-5faf-b01a-5137c04e57c6&t=e3fd78b8-f38c-5ce4-3c18-7a68a40fe399

[2020-07-23 15:57] frank-digirati commented on #13243
This is the full logs for the task item.

`2020-07-23T15:55:43.0985739Z ##[section]Starting: Azure Network Load Balancer: az-d-lb-test01 - Disconnect
2020-07-23T15:55:43.1119137Z ==============================================================================
2020-07-23T15:55:43.1119589Z Task         : Azure Network Load Balancer
2020-07-23T15:55:43.1120072Z Description  : Connect or disconnect an A

[2020-07-23 17:38] damccorm commented on #13177
@bishal-pdMSFT you can see from the code here that the proxy code doesn't do anything to modify the values that its giving back. Are you making any other calls to the task-lib that could be changing the value? Regardless, I'd strongly suspect that the task is changing this value somehow - there's nothing in the task-lib that would be modifying this value at all.

[2020-07-23 17:40] damccorm commented on #13177
I double checked, there's not any calls we make anywhere in that library that explicitly reference the proxy password in a way that would reset it. This looks like a task issue to me.

[2020-07-23 18:06] #10863 closed

[2020-07-23 18:12] deadlydog commented on #13328
I'll mention that I understand PR #13239 increases security, but at the same time it introduces a breaking change that can break existing pipelines. Ideally the user would be able to choose the scope on the task UI; default it to the more secure `process` scope, but still allow it to use the previous user-scope behaviour so that users can get their pipelines back up and running quickly. Bumping th

[2020-07-23 18:21] damccorm commented on #13314
Hi, this looks like a more general issue with a 3rd party task/secrets, not an issue with a task in this repo. Please direct more general issues to https://developercommunity.visualstudio.com/spaces/21/index.html

[2020-07-23 18:21] #13314 closed

[2020-07-23 18:47] kensykora commented on #11864
@johnterickson

Our issue is on hosted agents

It's regular, but not consistent.

n/a -- running on hosted agents

[2020-07-23 19:07] wasabii commented on #11864
Hosted agent here also.

As to the speed, let's just say this. If I disable the cache task, and let `npm install` run on it's own, it's about 3 times faster. Same with `dotnet restore`. The download of the cache takes longer, by a lot, than just refetching it.

[2020-07-23 19:51] keesschollaart81 commented on #6439
Pulling the :latest and then using `--cache-from` point to it, like the example, below seems to work, or am I missing something?

[code]

[2020-07-23 20:30] mtc-infra-team opened #13342 "Github download release tasks successfully sees tag and repos but downloads nothing"
Hi,

using cloud azure-devops and the github download release. tried on both the gui and the yaml pipeline.

When i try and download a tagged release the task will find the possible tags and completes successfully. but with the message:

[code]

[2020-07-24 00:08] temelj commented on #13333
Thank you for looking into this.

I have a few issues open within `azure-pipelines-tasks` and `azure-pipelines-task-lib` pointing out problems with the tasks when they are executed on an on-prem build agent behind a corporate proxy.

Hopefully the issues get resolved.

[2020-07-24 06:42] bishal-pdMSFT commented on #13177
@damccorm we do not have any explicit code in task to reset proxy setting. There are two theories in my mind:
1. Task is calling some other task lib function which ends up clearing the proxy setting. Can you please help if there are any functionalities in task lib which do so? And then I can look in task code to check where they are called.
2. Could there a race condition when task lib is loading?

[2020-07-24 09:06] Meberem commented on #11864
To echo everyone else on this thread, caches seem to be an issue on the hosted agent. I have a number of cache steps but to highlight a few cases:

[code]
and

[code]

Speeds look better with the larger NuGet cache but I am looking at around 1 minute for 1GB, it makes it seem like the cache is not worth it.

[2020-07-24 09:15] jwadolowski opened #13344 "Configurable destination directory for post-job Cache@2 operations"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Task Name**: `Cache@2`

## Environment

- Server - Azure Pipelines
- Agent - Private

## Issue Description

At the time of writing `Cache@2` task has the following definition:

[code]

In order to make the cache reusable, Azure pipelines trigger `Post-job: Cache` step to package up directory specified as `path` property. Th

[2020-07-24 09:23] dazinator commented on #11864
Hosted agent here also.

[2020-07-24 09:47] s-hintz commented on #9783
We are still getting these warnings in the logs when building with App Center.

(node:5670) Warning: Use Cipheriv for counter mode of aes-256-ctr

[2020-07-24 09:50] Tragetaschen opened #13345 "CopyFiles@2 task looks too broadly and accesses files not referenced"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CopyFiles@2

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
Necessary?

- Agent - Hosted or Private:
    - If using Hosted agent, provide agent queue name:
[code]

## Issue Descriptio

[2020-07-24 10:48] creambyemute opened #13346 "XcodeV5 Build Task not executing exportArchive on self hosted agent."
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: XcodeV5

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
account name: tst@wwimmo.ch
team project name: wwimmo-mobile
build definition name: app-inspection-prod
build number: 30 and higher

- Agent - Pr