[2020-10-13 15:12] #11276 closed

[2020-10-13 15:12] #11269 closed

[2020-10-13 15:12] #11260 closed

[2020-10-13 15:12] #11236 closed

[2020-10-13 15:12] #11217 closed

[2020-10-13 15:12] #11157 closed

[2020-10-13 15:12] #11028 closed

[2020-10-13 15:12] #11019 closed

[2020-10-13 15:13] #10999 closed

[2020-10-13 15:13] #10950 closed

[2020-10-13 15:13] #10924 closed

[2020-10-13 15:13] #10905 closed

[2020-10-13 15:13] #10899 closed

[2020-10-13 15:13] #10885 closed

[2020-10-13 15:13] #10835 closed

[2020-10-13 15:13] #10803 closed

[2020-10-13 15:13] #10731 closed

[2020-10-13 15:13] #10571 closed

[2020-10-13 15:13] #10556 closed

[2020-10-13 15:13] #10505 closed

[2020-10-13 15:40] efeerdogru opened #13701 "Option to disable image list command"
https://github.com/microsoft/azure-pipelines-tasks/blob/329d8c95657ec05371fcc3e3fd9b376a5c8c9903/Tasks/DockerV2/dockerpush.ts#L59

Hi,

We have a big repo, and every time this task runs, all images listed and logged.

A way to disable this printing would be very useful.

[2020-10-13 18:33] chwarr commented on #1867
This issue still exists as more-or-less as originally reported. It should not be marked as stale. The next action needs to be taken by the Azure Pipelines Task team to clarify the format and semantics here. This is not something that we, the users of Azure Pipelines, can definitively answer ourselves.

[2020-10-13 18:50] ardalis commented on #10354
This is still an issue. Running into it now with a client.

[2020-10-13 22:55] inverted360 commented on #6302
Please enable this feature in Azure DevOps or equivalent in Github.

[2020-10-14 06:17] 20shivangi commented on #11859
@kristianpinke @stilren Can anyone of you please let me know, if you got unblocked or not ?

[2020-10-14 06:18] 20shivangi commented on #13675
@lidong6 Any update here ?

[2020-10-14 06:27] anshii03 commented on #12727
@TekuSP @zingaroo
As of now we will not be able to roll out this new feature.

For better viewing of coverage information you can use  -

1.PCC task for coverage information stored in cobertura or jacoco format :
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops

2.Use report generator tool in the pipeline to generate the HTML report

[2020-10-14 06:34] anshii03 commented on #12850
@TekuSP @zingaroo
As of now we will not be able to roll out this new feature.

For better viewing of coverage information you can use -

1.PCC task for coverage information stored in cobertura or jacoco format :
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops

2.Use report generator tool in the pipeline to generate the HTML report

[2020-10-14 06:47] aelmanaa commented on #12293
@bishal-pdMSFT  Hello BIshal, I see that the issue has been closed. does it mean that it has been fixed?

[2020-10-14 07:06] kristianpinke commented on #11859
@20shivangi Hello, I am sorry but I cannot try it out. I realized that this thread is about the "Azure PowerShell" task. In my case, the problem occurs with the "PowerShell" task. In that task, the newest version is 2.*
I am not able to use "Azure PowerShell" tasks as I do not have a proper Azure subscription and I am only part of the DevOps team in my organization.
Would it be possible to fix the

[2020-10-14 07:19] 20shivangi commented on #11859
@kristianpinke Our team does not own PowerShell task, you can raise it as a separate github issue.

[2020-10-14 07:33] vishwanathsrikanth opened #13703 "Code Coverage do not match with Azure DevOps summary"
## Required Information

The build summary page of Azure DevOps pipelines show a different code coverage (less code coverage) when compared to TRX file.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure DevOps build summary

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishTestResultsV2

## Environment
- Server - Azure Pip

[2020-10-14 09:33] Gupta-Amrit opened #13704 "KubernetesV1 tasks with logout command hides Kubernetes service connection field"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesV1

## Environment
- Server - Azure Pipelines

- Agent -  Hosted Ubuntu 1604

## Issue Description

KubernetesV1 task with Command as **logout** hides the **Kubernetes service connection** field which creates

[2020-10-14 10:11] Gupta-Amrit commented on #13704
Raised a PR to fix this issue https://github.com/microsoft/azure-pipelines-tasks/pull/13705
Please review

[2020-10-14 12:14] 20shivangi commented on #11859
Closing this issue. Feel free to reopen if you are facing the issue. We will be happy to help you

[2020-10-14 12:14] #11859 closed

[2020-10-14 12:17] 20shivangi commented on #13675
Closing this issue since there is no response for last one week, feel free to reopen if you are facing. We will be happy to help you out.

[2020-10-14 12:17] #13675 closed

[2020-10-14 13:21] DineshChirnanchu commented on #13536
@Hack3l

It would be great if you can share the pipeline definition and detailed logs(system debug: true) that help us to troubleshoot it faster.

[2020-10-14 14:54] aucampia commented on #11649
I was having the same error:

[code]

For me this was because my PAT on azure devops expired.

[2020-10-14 15:49] ihnorton opened #13708 "Don't bump UsePythonVersion default to 3.9 yet?"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UsePythonVersion

## Environment
- Server - Azure Pipelines or TFS on-premises? AZP

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: `TileDB-Inc`, [6609](https://dev.azure.com/TileDB-Inc/CI/_build/results?buildId=6609&view=logs&j=ddb22062-4ff8-527b-ab2b-d0df282bef17&t=1

[2020-10-14 17:15] admin-simeon opened #13709 "NuGetCommand@2 push doesn't respect conflict options"
**Question, Bug, or Feature?**
*Type*: Bug
## Environment
- Server - Azure Pipelines:

- Agent - Hosted - Windows latest

## Issue Description

I have a step to push my NuGet package to nuget.org
[code]

The pipeline runs regression every night (and so, expectedly throws a 409 error when it can't push because a previous scheduled run already pushed that version). Neither the allowPackageConflicts

[2020-10-14 17:35] admin-simeon opened #13710 "Azure Pipelines GitHub Push Broken/No Longer Works"
**Question, Bug, or Feature?**
*Type*: Bug

## Environment
- Server - Azure Pipelines

- Agent - Hosted - windows-latest

## Issue Description

Pushing packages to a GitHub packages feed from DevOps agents is broken as of early yesterday. Was working fine...now broken. I have the following in my pipeline in a deployment stage. github-packages is a NuGet service connection using basic auth with a G

[2020-10-14 18:10] #10463 closed

[2020-10-14 18:10] #10439 closed

[2020-10-14 18:46] mathieumg commented on #13677
Just managed to build using Xcode 12, make sure you are on 10.15 and you can specify the path:

<img width="1014" alt="Screen Shot 2020-10-14 at 2 44 35 PM" src="https://user-images.githubusercontent.com/1624812/96031874-ebf4be80-0e2b-11eb-9530-53eae1cae9c7.png">
<img width="1024" alt="Screen Shot 2020-10-14 at 2 44 46 PM" src="https://user-images.githubusercontent.com/1624812/96031876-ec8d5500-0e

[2020-10-14 18:49] fichek commented on #13677
Just found the same thing along with the announcement that default Xcode will be changed to 12 on October 20th https://github.com/actions/virtual-environments/issues/1712

[2020-10-14 18:59] fichek commented on #13677
GitHub virtual environments which the pipelines use is going to default to Xcode 12 from October 20th https://github.com/actions/virtual-environments/issues/1712 but yeah as @mathieumg mentioned if you can specify a path manually even though Xcode 12 is not offered from the dropdown. Apparently 12.2 beta and 12.0 beta 6 are also installed https://github.com/actions/virtual-environments/blob/main/i

[2020-10-14 20:33] assadf commented on #13710
I'm experiencing the same problem.  This was working for me a couple of weeks ago.  I hadn't touch the pipeline for awhile and then I tried to deploy today but I kept getting the following error:

`Using authentication information for the following URI: https://nuget.pkg.github.com/***/index.json
This task now configures NuGet to send these credentials using the Basic scheme
only. Most users will

[2020-10-14 21:20] vairakkumar-vairaperumal opened #13711 "Incorrect prerequisites for developing tasks"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-10-15 06:34] lg2de commented on #13491
@johnterickson , initially I already noted that x64 is running.
I did not try to deinstall any windows update (KB?). This is the only change we noticed in the time range.

[2020-10-15 08:31] andyfisher100 opened #13713 "Timeout when downloading node version"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

*Type*: Bug

**Task Name**: Node.js tool installer

## Environment
- Server - Azure Pipelines

- Agent - Hosted with agent version 2.175.2

## Issue Description

There has currently been an issue for a number of days across a number of builds in our instance where the Node tool inst

[2020-10-15 08:39] Spikrit commented on #13088
Hey there,

We are facing he exact same scenario :
- on-prem behind a proxy
- problem downloading artefacts since new agents version (> 2.168)
- adding the workaround variable linked by @promm1983 in **every** release (_sigh..._)
- the artefact downloads are working again
- error with the Universal Package download

![image](https://user-images.githubusercontent.com/7631536/96096673-5fe8a280-0ed0-

[2020-10-15 09:43] timmkrause commented on #10399
@ReneSchumacher The code on `master` has evolved and step 3 from your approach is not applyable anymore.

It seems line #75 needs to be changed from

`var res = spawnSync(command, args, {input: req + '\r\n'});`

to

`var res = spawnSync(command, args, {input: req + '\r\n', maxBuffer: 1000 * 1000 * 100});`

Works on my machine certified.

Do you think it makes sense to edit your solution/comment?

[2020-10-15 10:30] AmrutaKawade commented on #13653
In your case package is getting deployed with WEBSITE_RUN_FROM_PACKAGE. Run from package makes directory readonly so there are problems with stopping webjobs. https://github.com/Azure/azure-webjobs-sdk/issues/2389.

If you want to use Task Version 4, use web deploy option for deployment as mentioned above.

Closing this issue, feel free to reopen if issue is not resolved

[2020-10-15 10:30] #13653 closed

[2020-10-15 12:12] #12081 closed

[2020-10-15 12:26] AmrutaKawade commented on #13696
@BChip Can you share detailed logs setting System.debug=true in variables.

[2020-10-15 13:50] bormm commented on #11544
So you (Microsoft) will close this, because you (MS) have done nothing since a year for this small change but big affect issue?
@Additi Is there something you can do?

[2020-10-15 14:06] RaphaelYoshiga commented on #8345
Because ideally, we wouldn't be able to just extract the secrets that easily =D
But as a white-hat, it's better to know is possible.

[2020-10-15 16:07] simsibimsiwimsi commented on #12593
Hi @anatolybolshakov

I am still experiencing the issue getting the following error.. We are using the following parameterisation in Gradle@2 Task:

    codeCoverageTool: 'JaCoCo'
    codeCoverageClassFilesDirectories: 'build/classes/java/main/'
    codeCoverageFailIfEmpty: true

and the task utilised by the pipeline is:

Task         : Gradle
Description  : Build using a Gradle wrapper script
Ver

[2020-10-15 16:27] justinasfour04 opened #13715 "Question: How can we define MSBuild 16.8 in NuGetCommad"
How can I get NuGetCommand to use MSBuild 16.8 as we are using dotnet 5.0. Can't seem to get it work, with vstsFeed set because the msBuild is pointing to 16.7 when we need 16.8.

I would like to know if there is a way to define the VstsFeed and the MSBuild in order to restore private nuget packages for our needs.
*Type*: Question

**Enter Task Name**: NuGetCommand

### Error logs

Determining pro

[2020-10-15 17:39] nickgsoft opened #13716 "Azure DevOps Delete Files Error - Failed find: ENOENT: no such file or directory, lstat 'C:\inetpub\wwwroot\xxxxx\App_Data\mediaIndexing\xxxxx.pdf'"
I am getting repeated errors lately on Delete Files task that it support to delete in few directory, but instead it throws error as below. By the way the file that it is complaining has no connection between what is specified in the "Delete Files" task.

Any idea?

`2020-10-15T17:29:55.9455564Z ##[section]Starting: Pre-Deploy Cleanup
2020-10-15T17:29:55.9653790Z ===================================

[2020-10-15 18:15] nickgsoft commented on #13716
Is there any way, i can enable the Audit log for this task to know what exactly it is deleting?

[2020-10-15 18:56] craigsmitham commented on #4127
We've gotten this issue a number of times over the last week

[2020-10-15 21:16] djfoz commented on #13465
@upadhyayap I can confirm that works. Thank you.

[2020-10-15 21:16] #13465 closed

[2020-10-16 03:09] #11489 closed

[2020-10-16 05:10] awts7807 commented on #13576
hi @anatolybolshakov I saw this has been close but I notice just today that deployment still fails using the task.
luckily using the workaround below from one of comments earlier works though. Does that mean you will not bring back the old behavior anymore?
`**/*.zip`

[2020-10-16 06:10] JensLeible commented on #9122
Hi there, are there any news on this or recommended workarounds for TFS 2018 build agents to detect MSBuild tools 2019?

[2020-10-16 06:15] AmrutaKawade commented on #13165
Some predefined variables are not replaced in this task.

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/FileTransformV2

[2020-10-16 06:25] AmrutaKawade commented on #13688
@mitoihs Can you try giving more specific path for the file which you want to transform. Wildcards in path are supported.

[2020-10-16 06:27] ebcFlagman commented on #12593
Same here, I've also still the issue

[code]

FAILURE: Build failed with an exception.

* Where:
Build file '/home/vsts/work/1/s/build.gradle' line: 155

* What went wrong:
A problem occurred evaluating root project 'coffeelink-master-data-service'.

[2020-10-16 06:31] armanik11 opened #13717 "Could some please explain what's the significance of #regex inside task.json while querying packages/feeds?"
This is a question. Appreciate if someone could explain.

Reference: https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DownloadPackageV0/task.json

I came across this and was wondering what this means and how it works? What's the significance of using #regex here and how does it expand?

"endpointUrl": "{{endpoint.url}}/{{ **#regex ([a-fA-F0-9\-]+/)[a-fA-F0-9\-]+ feed }}_apis**/

[2020-10-16 06:48] AmrutaKawade commented on #13559
@Alexlofern Can you please elaborate the question? Please provide snapshots of configuration if possible

[2020-10-16 06:51] AmrutaKawade commented on #13627
@eliassal Why do you want to connect to Azure Portal again. Azure Powershell Tasks already connects you to portal using service connection.

[2020-10-16 06:54] AmrutaKawade commented on #13669
This is the requirement from Azure Blob Storage only. Refer this https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata#container-names

[2020-10-16 07:06] mitoihs commented on #13688
Hi @AmrutaKawade! Yeah, sure.
My project layout is like:

- myFrontendDirectory/
  - src/
    - all the source code...
  - package.json
  - **config.json**
  - node_modules/ is also on that level

and for the task I provide
[code]
so my path doesn't have any wildcards.

I've read sources of `FileTransform` task and the way it searches for file(s) to transform and it seems like it will at first go

[2020-10-16 07:08] mika76 commented on #9122
@JensLeible I figured out a workaround - On the MSBuild Task, change the setting from `"Version"` to `"Specify Location"` and then set the path to the VS2019 msbuild exe (mine was `"C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin\MSBuild.exe"`)

[2020-10-16 07:11] AmrutaKawade commented on #13620
`C:\Program Files\Microsoft SQL Server\150\DAC\bin\SqlPackage.exe" /Action:Publish /SourceFile:"D:\a\r1\a_AppDev_Db_AppsHub_Build\Debug\AppsHub.dacpac" /TargetServerName:"MYSERVER.database.windows.net" /TargetDatabaseName:"AppsHub" /TargetUser:"app_sql_service" /TargetPassword:"" /Profile:"D:\a\r1\a_AppDev_Db_AppsHub_Build\Debug\publishprofiles\AppsHub.publish.xml" /p:IgnoreComments=True /p:Comman

[2020-10-16 07:19] rajurh opened #13718 "Helm Lint - Error: unknown flag: --with-subcharts"
I am trying to use helm lint --with-subcharts for validating subcharts from the umbrella chart which works on directly on cmd but when I try with Helm task of Azure DevOps I get below error

![image](https://user-images.githubusercontent.com/15551296/96224908-c531b600-0fec-11eb-8618-9755f1b98285.png)

Code snippet in yaml
![image](https://user-images.githubusercontent.com/15551296/96224981-de3a670

[2020-10-16 07:28] eliassal commented on #13627
I am confused with your response, I am trying to connect from powershell on my laptop not in the portal itself

[2020-10-16 07:31] JensLeible commented on #9122
@mika76 Thank you. That would work for a single agent. What can I do in a setup with multiple agents if not all of them have 2019 build tools installed?

[2020-10-16 07:43] mika76 commented on #9122
@JensLeible true it would not work - but I would ask then why are your build agents not consistent? if they aren't then you wouldn't get consistent results. And if you need a specific build to run on a specific agent you can always set it to always run on that agent in the build options. Or you could create a demand on the agent and require that demand in the build options.

[2020-10-16 07:44] sdobrodeev commented on #13322
Hi @ThadHouse. You cannot use "Bin", "App_Data" and other folder names reserved by IIS as an artifact name because this content is not served in response to Web requests. Please see  [ASP.NET Web Project Folder Structure](https://docs.microsoft.com/en-us/previous-versions/ex526337(v=vs.140)) for more details. The corresponding changes have already been made to the documentation

[2020-10-16 07:45] ds-ms commented on #13718
Perhaps it's a version issue, try using a `HelmInstaller` task to fix the version (possibly the one in your CLI) of helm being used in your pipeline and try again.

[2020-10-16 07:50] ds-ms commented on #13704
Logout doesn't need a kubernetes service connection, it just cleans up the `KUBECONFIG` path.
From the error it looks like you haven't authorised this pipeline to use the chosen K8s service connection. Here's some documentation: https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml#use-a-service-connection

[2020-10-16 08:01] AmrutaKawade commented on #13627
@eliassal This repo is for Azure DevOps Pipeline Tasks.

To know more about Azure Devops Pipeline and Taks Refer : https://docs.microsoft.com/en-us/azure/devops/pipelines/process/tasks?view=azure-devops&tabs=yaml

If you are facing issues with [Poweshell Pipeline Task ](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-powershell?view=azure-devops) we can help you.

For ge

[2020-10-16 08:08] #13627 closed

[2020-10-16 08:18] #13322 closed

[2020-10-16 09:09] #12682 closed

[2020-10-16 09:09] #10420 closed

[2020-10-16 09:09] #10398 closed

[2020-10-16 09:09] #10388 closed

[2020-10-16 09:09] #10380 closed

[2020-10-16 09:09] #10361 closed

[2020-10-16 09:09] #10377 closed

[2020-10-16 09:09] #10334 closed

[2020-10-16 09:09] #10306 closed

[2020-10-16 09:09] #10293 closed

[2020-10-16 09:09] #10253 closed

[2020-10-16 09:09] #10201 closed

[2020-10-16 09:09] #10054 closed

[2020-10-16 09:09] #10154 closed

[2020-10-16 09:09] #9939 closed

[2020-10-16 09:09] #9880 closed

[2020-10-16 09:09] #9852 closed

[2020-10-16 09:09] #9820 closed

[2020-10-16 09:09] #9835 closed

[2020-10-16 09:09] #9764 closed

[2020-10-16 09:09] #9750 closed

[2020-10-16 09:10] #9117 closed

[2020-10-16 09:10] #9115 closed

[2020-10-16 09:10] #9073 closed

[2020-10-16 09:10] #9026 closed

[2020-10-16 09:10] #8981 closed

[2020-10-16 09:10] #8945 closed

[2020-10-16 09:10] #8880 closed

[2020-10-16 09:10] #8786 closed

[2020-10-16 09:36] rajurh commented on #13718
Thanks yes it's with version. Using >= 3.2.1 is fixed

[2020-10-16 09:53] KiranManaguli-git1 opened #13719 "unable to configure the karma jasmine ng test in azure devops pipeline"
i am using angular 10 to build the azure web app and currently we are planning to integrate karma jasmine for ng test and code coverage but my build is failing with below error "Couldn't find a debug log in the cache or working directory". please help...

2020-10-16T09:23:03.4024602Z ##[debug]applying include pattern
2020-10-16T09:23:03.4025063Z ##[debug]adjustedPattern: '/home/vsts/.npm/_logs/*-d

[2020-10-16 10:15] Hack3l commented on #13536
It now shows an error message that code coverage cannot be published in a Releae Pipeline

[2020-10-16 10:15] #13536 closed

[2020-10-16 10:35] anatolybolshakov commented on #13576
Hi @awts7807 yes,  **/*.zip is valid pattern here and should work

[2020-10-16 10:42] #13718 closed

[2020-10-16 10:53] anatolybolshakov commented on #12593
Hi @simsibimsiwimsi @ebcFlagman I can't reproduce it at the moment - could you please share your build.gradle file or provide minimal project - so we could reproduce it on our side?

[2020-10-16 11:11] ebcFlagman commented on #12593
I've uploaded the build.gradle and the pipeline script. When you need additional information please ask

[build.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5391096/build.zip)

[2020-10-16 12:16] #9737 closed

[2020-10-16 12:16] #9547 closed

[2020-10-16 12:16] #9541 closed

[2020-10-16 12:16] #9520 closed

[2020-10-16 12:16] #9497 closed

[2020-10-16 12:17] #9380 closed

[2020-10-16 12:17] #9311 closed

[2020-10-16 12:17] #9129 closed

[2020-10-16 12:40] max-zaytsev commented on #13672
Hi @otebos,
Did you upgrade all projects to use C#8.0? I wasn't able to repro this issue using `<LangVersion>8.0</LangVersion>`

Could you please provide a minimal reproducible project, as that would make it easier to find the root cause?

Thank you!

[2020-10-16 12:54] Veek1 commented on #13548
Hope this could help...

I had the same issue with a 451 MB sized nuget package. After 3 tries I got Error: _Reponse status 503 – service unavailable_

Looking online I discovered that it seems to be a network issue (and in some cases proxy issues).
In order to solve the issue, I uploaded the file to my Azure hosted VM and tried the push from there… it worked.

[2020-10-16 13:05] Alexlofern commented on #13559
When I create a task group, I need put a $ (var) in "App Service type" field for input of task group, but this combo box only allows list options and no inputs. Do you understood?

[2020-10-16 13:43] pallavJha opened #13720 "How to get the build ID from the DownloadBuildArtifacts task for latest downloads?"
*Type*: **Question**

**Enter Task Name**: DownloadBuildArtifacts

## Environment
- Server
[code]

- Agent - Hosted:

    - If using private agent, provide the OS of the machine running the agent and the agent version:

Machine:
[code]

Agent:
[code]

I'm not getting any error.

I just want to get the build ID that was used by the `DownloadBuildArtifacts` task if the `buildVersionToDownload` is `l

[2020-10-16 15:09] pallavJha commented on #13720
I was able to do that using by accessing the `BuildNumber` variable, created in `DownloadBuildArtifacts` task, after naming the task. For example,
If the task is:
[code]
and then in the next step, I accessed it:
[code]

Helpful Links:
1. [Set a multi-job output variable](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set-a-multi-job-ou

[2020-10-16 15:46] hansmbakker commented on #10054
#please-reopen

[2020-10-16 17:32] pshirshov commented on #10361
Great.

[2020-10-16 17:47] seflue commented on #8450
Whats the status on this? I just stumbled upon this issue and it seems to be quit old. Is there a more recommended way to publish NuGet Artifacts these days?

[2020-10-16 18:25] BChip commented on #13696
I am using a regular agent job.

I been playing with this trying to figure it out. My latest discovery was very strange. I went and deleted the variables ( $(DatabaseUser) and $(DatabasePassword)). I then re-added them and now it works! I have tried this several times, but it is now working!

[2020-10-16 18:25] #13696 closed

[2020-10-16 19:22] paule96 commented on #13121
closed by #13122

[2020-10-16 19:22] #13121 closed

[2020-10-16 19:44] ThadHouse commented on #13322
@sdobrodeev Sounds good. Running into an issue though with trying to fix this. Our build scripts use PublishBuildArtifacts and DownloadBuildArtifacts. It depends on placing the files in a folder called artifacts/bin. If I change the publish name to artifacts, the artifacts bet placed in artifacts/artifacts. How can I change the name of the artifact, but still have download place the files in bin?

[2020-10-17 06:54] cornillemichiel commented on #5898
This issue can be closed. YAML multi stage completely resolves my underlying concerns.

[2020-10-17 06:54] #5898 closed

[2020-10-17 11:14] vovikdrg commented on #12597
@ShreyasRmsft Any updates on that?

[2020-10-17 15:09] #8628 closed

[2020-10-17 18:48] anatolybolshakov commented on #13322
@ThadHouse you can change browser settings to show Save dialog for any files being downloaded - it will allow to set any path for downloaded artifacts. Does it work for you?

[2020-10-17 18:50] ThadHouse commented on #13322
It's an issue with the tasks in pipelines, not with manually downloading. I came up with a hack solution that seems to work though.

[2020-10-17 18:59] crsreddy1447 opened #13721 "How to run bash or any script if else condition in Azure yaml pipelines"
Question: I have a Jenkins file
nodejs('NodeJS_12.4) {
                    script{
                        if ("${path}"=="") {
                            sh "npm i"
                        }
                        else {
                            sh "cd ${path} && npm i"
                        }
                    }
                }
I am passing these using bash script in Azure pipeline as

[2020-10-17 18:59] #12178 closed

[2020-10-17 21:09] #8608 closed

[2020-10-18 09:09] #8479 closed

[2020-10-18 15:09] #8379 closed

[2020-10-18 18:10] #12517 closed

[2020-10-18 18:10] #11441 closed

[2020-10-18 21:08] #7843 closed

[2020-10-18 21:08] #7652 closed

[2020-10-18 21:08] #7072 closed

[2020-10-18 21:08] #6917 closed

[2020-10-18 21:08] #6868 closed

[2020-10-18 21:09] #6692 closed

[2020-10-18 21:09] #5651 closed

[2020-10-18 21:09] #6249 closed

[2020-10-18 21:09] #5575 closed

[2020-10-19 04:29] AmrutaKawade commented on #12422
Closing this issue due to long inactivity. Please feel free to reopen if issue still persists.

[2020-10-19 04:29] #12422 closed

[2020-10-19 06:02] armanik11 opened #13723 "Is it possible to enable a select all option in a pickList input inside task.json?"
For a pickList in a task input UI, is there an option to have a Select All option? Is there a property that can be used inside task.json for the input?

[2020-10-19 06:45] PaulVrugt commented on #13697
This issue can be closed. We discovered the issue was in the npm7, and not in the vsts-npm-auth package

[2020-10-19 07:07] ShreyasRmsft commented on #12597
@nishantms can you please prioritize and take a look if this is something we can do?

[2020-10-19 08:05] otebos commented on #13672
Hi,
yes all projects are using C# 8 via <LangVersion>8.0</LangVersion>
I also tried with default, newest and 9.0

I'll try to recreate issue on sample project

[2020-10-19 10:37] sdobrodeev commented on #13616
Hi @riteshmaddala. Unfortunately I could not reproduce the bug. Could you please provide the full log and build definition? This can be very useful for investigation.

[2020-10-19 10:39] nishantms commented on #12597
@vovikdrg : we are working on some priority issues. From next quarter onwards , will look for contributions.

[2020-10-19 10:45] vovikdrg commented on #12597
@nishantms I am fine to contribute but have a look on my previous comments what I suggested to do. If its fine i will try to find time to fix that

[2020-10-19 10:48] egor-bryzgalov commented on #13723
Hi, @armanik11

Unfortunately, it's impossible to pick multiple options of pickList at the moment.
If you faced any issue with a specific task's inputs, could you please describe it so we can help you?
We're looking forward to hearing from you!

[2020-10-19 11:15] #13007 closed

[2020-10-19 12:11] nishantms commented on #10354
@ardalis
Can you check whether the workaround suggested by the @danielpalme works for you.

 you can use the following environment variable in your build:

[code]
This issue is still in our backlogs.

[2020-10-19 12:20] Christ0phH commented on #13475
@fedorbirjukov Any Luck? At my organization have now this very same issue popping up. I'll try to update the task to see if that resolves this issue.

[2020-10-19 12:48] AmrutaKawade commented on #13692
@kespry-kirk Are you seeing this issue frequently or just once while deploying first time on new environment?

[2020-10-19 12:54] LiquoriChris opened #13726 "AzureRMWebappDeploymentV4 - Add EditableOptions for WebAppKind pickList"
Is it possible to update the `WebAppKind` input `pickList` to be Editable? Looking to create a variable for the input, however, cannot do so since the input is not editable.

https://github.com/microsoft/azure-pipelines-tasks/blob/9dff6d35fdbbb2c44f6a52c97d1d37cc9508a253/Tasks/AzureRmWebAppDeploymentV4/task.json#L93

Thanks,
Chris

[2020-10-19 14:18] ahafid1 commented on #3135
I have the same probem :

[code]

azure-pipeline.yml

[code]

[2020-10-19 14:35] ardalis commented on #10354
I can confirm that that did let us have consistency between the HTML report and the generated cobertura.xml file. Thanks.

[2020-10-19 14:45] AmrutaKawade commented on #13620
@mcconnelljh Can you try running as suggested above?

[2020-10-19 14:54] mcconnelljh commented on #13620
@AmrutaKawade - I was able to get past the issue but I don't remember the exact fix.  I believe it was related to my publish profile but cannot remember for sure, apologies.

[2020-10-19 14:54] #13620 closed

[2020-10-19 15:10] kurt-hardy opened #13729 "Getting 'AzCopy.exe exited with non-zero exit code while uploading files to blob storage""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzCopy.exe exited with non-zero exit code while uploading files to blob storage

## Environment
Azure Pipelines
      awsmtech -> SUAZ-Brochure -> Release-7

Agent type - Hosted Agent
Agent pool - Azure pipelines.
Mach

[2020-10-19 15:52] anatolybolshakov commented on #13721
Hi @crsreddy1447 this doesn't seem to be a valid bash script - could you please take a look at some examples of conditional statements in bash here? https://tldp.org/LDP/Bash-Beginners-Guide/html/sect_07_02.html#sect_07_02_01

[2020-10-19 16:12] anatolybolshakov commented on #13716
Hi @nickgsoft could you please provide pattern which you use for 'Contents' input of Delete Files task and 'SourceFolder' input value?

[2020-10-19 16:19] ojasp commented on #13729
I had the same issue, and after adding the pipeline user to the _**Storage Blob Data Owner**_ & _**Owners**_ role I was able to upload a file to the blob.

[2020-10-19 17:02] kurt-hardy commented on #13729
I'm using an ARM service connection and its created by me. When I look at the service connection role, its set to contributor which (I believe) is higher than the Storage owner right?

Thanks for your help

[2020-10-19 17:05] armanik11 commented on #13723
Hi @egor-bryzgalov ,

I do see a way to do multiple select by using below properties in a pickList input. What I'm also looking for is a Select All option at the top.

 "properties": {
        "EditableOptions": "true",
        "MultiSelectFlatList": "True"
      },

Something like below:

![image](https://user-images.githubusercontent.com/31492646/96488331-aa309300-11f2-11eb-8ed2-52d471465c92.png

[2020-10-19 17:30] jmyersmsft commented on #13715
I recommend either switching to the DotNetCore task for restoring packages in .net 5 projects, or even better switching to the NuGet Authenticate task combined with a script task that runs `dotnet restore` directly according to your own requirements

[2020-10-19 18:06] ojasp commented on #13729
The only thing that the Contributor role does not do is allow the user to assign roles in Azure RBAC, that is something that is allowed for the Owner role. AzCopy task may internally check to see if the user has particular access. You might be able to see exactly where the task fails by setting _System.Debug=true_ in the pipeline variable and setting _--log-level=DEBUG_ in the optional arguments s

[2020-10-19 18:24] anatolybolshakov commented on #13508
Hi @Oshein123 @hopegroup we can't reproduce this issue currently - could you please share some minimal project we could use to reproduce it on our side?

[2020-10-19 18:39] #13726 closed

[2020-10-19 18:47] LiquoriChris opened #13733 "Add EditableOptions to WebAppKind input"
Add `EditableOptions` to `WebAppKind` input on  `AzureRMWebAppDeploymentV4`  pipeline task.

[2020-10-19 18:52] nickgsoft commented on #13716
@anatolybolshakov
![image](https://user-images.githubusercontent.com/12518671/96498926-5170f280-1212-11eb-89ea-bbf8423b1b33.png)
Attached is the content items.

[2020-10-19 19:33] GreatBarrier86 opened #13735 "AzureVM File Copy returns "Public access is not permitted on this storage account" when attempting to copy to storage account with public read access disabled"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFileCopy

## Environment
- Server - Azure Pipelines
Account name: custardinsuranceadjusters-dryrun
Project name: TFS
Release Definition: CPS Release
- Agent: Azure Pipelines
Agent name: 'Hosted Agent'
Agent machine name: 'WIN-LFTKQ5U1AG6'
Current agent version: '2.175.2'
Current image version: '20201011.

[2020-10-19 21:47] securityvoid commented on #7611
@mwanchap What do you mean by:
`# needs a role assignment before it'll work`

What do I need to assign where for it to work?

[2020-10-19 22:14] mwanchap commented on #7611
@securityvoid the service principal associated with the ARM connection you're using has to have access to the storage resource in Azure RBAC. The easiest way to get to the service principal is to navigate to your Azure Devops project settings, select "Service Connections", select the service connection you're using and then click "Manage Service Principal". That'll show you its name and ID in Azur

[2020-10-19 23:43] jmyersmsft commented on #13717
Please see my [answer](https://stackoverflow.com/a/64436451/6658931) to your StackOverflow question on the same topic.

[2020-10-19 23:43] #13717 closed

[2020-10-20 05:37] upadhyayap commented on #12863
Publish test results task is not fully supported on docker based agents. It can be used with the workaround mentioned. you can suggest about this feature in [developer community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-10-20 06:04] anuragc617 commented on #13659
@vulegend is the issue resolved? If not, can you provide the details requested.

[2020-10-20 06:15] Gupta-Amrit commented on #13704
Hi @ds-ms
Correctly said Logout command should not require the service connection as it just cleans the KUBECONFIG path but if you see the code https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/KubernetesV1/task.json#L26
its just gets hide for the user. This creates problem when someone clones kubectl task where service connection is getting used(ex- login) and then changing the

[2020-10-20 07:00] sarthak-sriw commented on #9046
I am also facing this issue .

Starting: CopyFiles
==============================================================================
Task         : Copy files
Description  : Copy files from a source folder to a target folder using patterns matching file paths (not folder paths)
Version      : 2.164.2
Author       : Microsoft Corporation
Help         : https://docs.microsoft.com/azure/devops/pipelines

[2020-10-20 07:34] ds-ms commented on #13704
Aah! I see your point now. But given that you're forced to update all the tasks which use this K8s connection, I believe it's logically expected to update this task as well.

Your fix will become a breaking change for existing users. If you change the visibility of this group for `logout`. It becomes a required input  for all the existing customers. This would also force the users to always supply

[2020-10-20 07:36] maxim-lobanov commented on #11852
@egor-bryzgalov , Looks like this change was not applied properly to builds. Could  you please reopen an issue?

[2020-10-20 09:03] jedimanu-ux opened #13737 "kubectl rollout status hangs for a few minutes when using a linux agent"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: kubectl  V1

## Environment
- Server - Azure Pipelines
- Agent - Private, Linux, 2.175.2

## Issue Description
I have a simple release process with two kubectl tasks which run on a on-premise kubernetes cluster:
1. kubectl:
      command: set
      arguments: image deployment/$(k8s_deploymentName) -n $(namesp

[2020-10-20 09:38] sdobrodeev commented on #13713
Hi @andyfisher100 The problem is still relevant to you? I can't reproduce it - it looks like a temporary server unavailability.

[2020-10-20 09:46] andyfisher100 commented on #13713
Sorry i should have updated, the problem was actually related to this issue i also raised after doing more investigation https://github.com/nodejs/nodejs.org/issues/3458

[2020-10-20 09:49] #13165 closed

[2020-10-20 10:09] carstenhag commented on #13637
Hello there, @egor-bryzgalov can you please give us an eta on when this is released? I'm not seeing it atm. Thanks in advance!

[2020-10-20 10:18] AmrutaKawade commented on #13671
This is fixed and will be deployed after 4 weeks from now.

[2020-10-20 10:18] #13671 closed

[2020-10-20 10:46] egor-bryzgalov commented on #13637
Hi, @carstenhag

It usually takes up to 3 weeks for sprint changes to be deployed. I'll keep you posted on the deployment status. Thank you!

[2020-10-20 10:59] NinadKavimandan commented on #13674
Hi @nandun5 - how will be using this task with nuspec file? will you be providing only nuspec file in the command, or do you want to include .sln file as well?

[2020-10-20 11:13] JohanSpannare opened #13741 "[DockerCompose@0] not possible to set workingDirectory (Combine Configuration)"
**Question, Bug, or Feature?**
*Type*: Bug / Feature

**Enter Task Name**: DockerCompose@0

## Environment
Azure DevOps Server
Version Dev18.M170.6

- Agent - Hosted or Private:

Private: Agent version: '2.175.2'

## Issue Description

[Include task name(s), screenshots and any other relevant details]

Not possible to set workingDirectory. The artifacts is located in $(Pipeline.Workspace), but the

[2020-10-20 13:30] anatolybolshakov commented on #13716
@nickgsoft thanks! I reproduced this issue as well. As a workaround - could you please try to remove brackets for excluded paths and move it to the end of patterns list?

[2020-10-20 15:17] zziga commented on #12067
The Maven task injects stuff into pom.xml for jacoco 'prepare-agent' goal. For jacoco 'report' goal, it will generate another pom.xml, on the fly, triggering report generation via ant.

The enriched pom.xml, adds 'append' and sets path to CCReport43F6D5EF, auto-generated pom.xml and resulting ant xml we can _cat_ in separate task (script).

@sheikahamed Good starting point is a maven project witho

[2020-10-20 15:57] #13697 closed

[2020-10-20 16:18] AmrutaKawade commented on #13587
Document has been updated

[2020-10-20 16:18] #13587 closed

[2020-10-20 18:32] nandun5 commented on #13674
we are providing the nuspec file with a wildcard as **/*.nuspec

[2020-10-21 03:17] AlexChongMicrosoft opened #13743 "Suggestion of adding a type of exception"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug or Feature
I would suggest add an exception in t

[2020-10-21 04:10] AmrutaKawade commented on #13669
@bcouavoux I tried with version 4.175.3 and its not reproducible any more. Can you please confirm?

[2020-10-21 07:52] shigupt202 commented on #13737
@jedimanu-ux The deployment command generally executes very quickly, but the deployment is still in progress. The `rollout status` command actually waits for the pods to be up and running deployment to be successful (which takes some time). You can verify this by checking the deployment status from your local machine (given that you have the Kubeconfig locally) when you see the `rollout status` co

[2020-10-21 08:09] fowl2 commented on #13576
Unless I'm misunderstanding, changing the default value doesn't fix all the pipelines that were broken by this change?

It's really _Not Cool_ to make breaking changes like this with no version bump or warning. Regardless of any documentation `*.zip` worked on zip files in sub directories up until this PR.

In my case this was a particularly nasty as it was a silent breakage - there was no error o

[2020-10-21 08:12] jedimanu-ux commented on #13737
Attaching logs from a windows agent and from a linux agent for comparison.
If you look closely at the timestamps you'll see that the rollout status command finishes almost intantly every time, but on the linux agent, the task result comes only after a few minutes in the commandOutputdeployment log. On the windows agent the commandOutputdeployment comes immediately and that's why the task also fini

[2020-10-21 08:22] shigupt202 commented on #13737
Did you delete the deployment before trying on Windows agent? If the deployment was already present on the cluster, it would take no time to be up and running again.

[2020-10-21 08:33] jedimanu-ux commented on #13737
No I did not. Deployment was not changed previous also, same image was used every time.
Attaching again logs for Linux agent AFTER it previously ran on Windows for the sake of being consistent
[code]

[2020-10-21 09:04] shigupt202 commented on #13737
This looks like a Kubernetes/Kubectl (maybe watch) related issue to me. Please take a look at the message shown in the logs after rollout command. This is probably why it's taking that extra time.
`W1020 08:51:07.334790   10261 reflector.go:299] k8s.io/client-go/tools/watch/informerwatcher.go:146: watch of *unstructured.Unstructured ended with: very short watch: k8s.io/client-go/tools/watch/inform

[2020-10-21 09:17] #13713 closed

[2020-10-21 11:18] BobBuildingCode commented on #13576
Yes, same here. We have ~100 release jobs that we now need to rewrite, since fixing the default value doesn't help with all the already created tasks. Luckily for us we don't release that often, but I can imagine this being a nightmare for people with tons of release jobs they use more often.

_But on the bright side this pushed us into switching from classic releases to YAML Pipelines instead 😅_

[2020-10-21 11:56] GerryWilko opened #13746 "Occasional docker build task failure when completing push and attempting to clear temp directory"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DockerV2

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name

[2020-10-21 11:57] bcouavoux commented on #13669
Same problem with the 4.175.3 version :

![image](https://user-images.githubusercontent.com/52322253/96716459-5914d080-13a5-11eb-9437-b8987c465e9f.png)

[2020-10-21 13:17] meiry opened #13748 "Azure starting 2 self hosted servers deliver files to Azure managed agent both in pool but only 1 accepting copyfiles task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-10-21 13:36] AmrutaKawade commented on #13669
Sorry ignore my first comment. $web is valid name. I tried with $web container name only. But I checked on Hosted Agent which has latest Az and Azure RM modules.

As you are using Private Agent Can you try installing latest AzureRM or Az module
https://www.powershellgallery.com/packages/AzureRM/6.13.1
https://www.powershellgallery.com/packages/Az/4.8.0

[2020-10-21 15:03] bcouavoux commented on #13669
Ha yes, the problem come from there .. We updated our Az module and that works well now.
Thanks, you can close the ticket.

[2020-10-21 15:25] Etiennepicard opened #13751 "When deploying a large webjob, the file that keeps the webjob stopped is deleted and the webjob is restarted before deployment is completed"
## Required Information

*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeploymentV4

## Environment
- Server - Azure Pipelines
account name: Mediaclip
team project name: Hub
build definition name/build number: Not sure

- Agent - Private:
OS of the machine running the agent: 4.8-windowsservercore-2009
Agent version: 2.175.2

## Issue Description

When deploying a large webjob (200mb+), the file t

[2020-10-21 16:24] lg2de opened #13752 "Why powershell inline script length is limited?"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: PowerShellV2

## Environment
- Server - Azure Pipelines or TFS on-premises?
  - DevOps Server 2019

- Agent - Hosted or Private:
    - Private hosted agent version 2.170.0 on Windows Server 2019

## Issue Description

In the past the PowerShell task has been changed several times to increase the max leng

[2020-10-21 22:15] Juandi-M commented on #9984
This is a really elegant solution for this and other projects. Thanks!

[2020-10-21 22:16] Juandi-M commented on #9984
The real and elegant solution for this and other projects.

[2020-10-22 00:09] thorntonrp opened #13753 "Maven task needs to allow setting the working directory"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Maven

## Environment
- Server - Azure Pipelines
https://dev.azure.com/churchofjesuschrist/Stack%20Team/_build/results?buildId=128892&view=results

- Agent - Hosted or Private:
Hosted and Private

## Issue Description

The Maven does not appear to allow setting the working directory. Setting the working directory is necessary in orde

[2020-10-22 03:01] hvinett commented on #13719
Hey @KiranManaguli-git1 , if possible can you create a sample project, trigger the pipeline and provide the build link here?

[2020-10-22 03:19] hvinett commented on #13690
hey @smsnyder-pai, I am unable to repro, for me it is working fine. when i gave
TestReustsDirectory : $(Common.TestResultsDirectory)\TestResults
I am getting the following path as expected
```D:\vsts-agent-win-x64-2.166.4\_work\2\TestResults\TestResults\havineet_VINEETHL_2020-10-22_08_41_04.trx```
can you provide the vstest version and agent vesrion that you are using. If possible can you create a

[2020-10-22 04:21] AmrutaKawade commented on #13669
Thanks for confirming

[2020-10-22 04:21] #13669 closed

[2020-10-22 06:21] mailtopavanc opened #13754 "Visual Studio Test (V 2.*) Task: How to retrieve TestRunId when Test Selection uses Test Plan."
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**:  Visual Studio Test V2

## Environment
 Azure Pipelines

## Issue Description

Hi Team,

We are using Visual Studio Test (V 2.*) Task to execute Automated Tests under given Test plan. In Automated Test methods , we have custom logic to add more detail to Test Results using TestRunID. When we are executing from TestHub , we can s

[2020-10-22 08:03] slawekww commented on #12810
Used az command and package name to download universal artifact:

`az artifacts universal download   --organization "https://dev.azure.com/myorg/"   --feed "myfeed"   --name "myname"   --version "1.*"   --path .
`
`
Did not find any versions of 'myname' that matched the pattern '348.*' (Pre-release versions are not currently matched by wildcard patterns)
`

Universal packages are used by Azure YAM

[2020-10-22 08:42] AmrutaKawade commented on #13751
@Etiennepicard can you try using zip deploy option instead of web deploy

[2020-10-22 09:15] DaniilShmelev commented on #13752
Hello, this is a bit of an interesting issue for us as we didn't expect anybody to hit this limit. Do you have any concerns about using script from file?

[2020-10-22 09:41] lg2de commented on #13752
Yes, I'm using this task in a release pipeline.
Using a script requires to provide the script as artifact. But the script is only used in the pipeline.

[2020-10-22 09:46] sdobrodeev commented on #13598
Hi @joacar This problem is still actual to you?

[2020-10-22 10:13] DaniilShmelev commented on #13752
You don't have to provide it as an artifact, you can just use it from your repository :)

[2020-10-22 10:22] lg2de commented on #13752
The release pipeline does only have relation to artifacts. Do I need to manually clone the repository which is "behind" the artifact?

Anyway, having the script in the (one) repository, the release development will get more complicated. Changing the script needs full cycle of development (Pull Requests, etc.).

[2020-10-22 10:41] 20shivangi commented on #13196
@tstoian Able to repro this. Thanks for reporting the issue.

[2020-10-22 11:00] anatolybolshakov commented on #12593
Hi everyone, we just prepared a fix for another issue here and going to roll out these changes during next sprint

[2020-10-22 11:17] DaniilShmelev commented on #13752
Yes, my bad - since you are using release pipeline, you need to use artifacts to provide a large script file.
There are some limitations like environment variables size or job message size, so we can't get rid of the limit for this task input - please see [this](https://github.com/microsoft/azure-pipelines-tasks/issues/6509#issuecomment-368125022) for more info.

[2020-10-22 12:27] NinadKavimandan commented on #13674
okay. is the nuspec file taking care of the files to be packaged? so the command won't need the project/sln path?

[2020-10-22 12:29] fedorbirjukov commented on #13475
@Christ0phH Didn't try yet/it's still on my todo list.

[2020-10-22 12:45] AmrutaKawade commented on #13588
This is as per design https://github.com/microsoft/azure-pipelines-tasks/issues/12277

[2020-10-22 13:30] anatolybolshakov commented on #13716
@nickgsoft btw the order of patterns mentioned also in docs - please see it [here](https://docs.microsoft.com/ru-ru/azure/devops/pipelines/tasks/file-matching-patterns?view=azure-devops)

[2020-10-22 14:15] Zhaph commented on #13588
I would respectfully suggest then that the design is wrong.

There are no meaningful errors in the tasks, and they are successfully applying the transforms and replacements, but the tasks are erroneously reporting an error back to the pipeline and showing as errors on the report when in fact everything is behaving as expected.

How is this "by design"?

[2020-10-22 14:24] junalmeida opened #13756 "Temporary Pipeline Artifacts"
**Question, Bug, or Feature?**: Feature
**Enter Task Name**: PublishPipelineArtifact

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
- Agent - Hosted or Private: Hosted, but can be both

## Issue Description

Consider the use case where you need to publish an artifact to be consumed in the same pipeline run, for example to combine results of multiple jobs into a sing

[2020-10-22 14:52] nandun5 commented on #13674
thats correct. in our pipelines, we only specify the nuspec file.

[2020-10-22 15:06] clifmo opened #13757 "Robocopy.exe command not found. cmd.exe command not found"
**Question**
*Type*: What would cause 'robocopy' command to not be recognized when using this Windows machine file copy?

**Enter Task Name**: Windows machine file copy

## Environment
Azure DevOps Server 2019 Version Dev17.M153.5

- Agent - Hosted or Private:
Private - v2.166.4
## Issue Description

Robocopy not found.
The term 'robocopy' is not recognized as the name of a cmdlet, function, scrip

[2020-10-22 17:03] nickgsoft commented on #13716
@anatolybolshakov Thanks for the udpdate and i tried that sequencing approach as well. but no luck. How can i add Audit on what it is trying to process'? Log do not have enough details.

[2020-10-22 17:47] zhenghao104 commented on #12810
Hello,

Thanks for your feedback. I tried to reproduce the error and using wild card works for me. I have a feed with version 0.0.1 and 0.02 and specifying the version to 0.* using az artifacts universal download get me the latest version of the feed successfully.

 Can you provide a screenshot of your feed versions, your YAML and also the full log?

See here for similar issue regarding wild card:

[2020-10-22 19:13] anatolybolshakov commented on #13716
@nickgsoft you can set 'System.Debug' variable to 'true' ([here](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/variables?view=azure-devops&tabs=batch#run-a-release-in-debug-mode) are some docs describing it) - to enable debug mode for classic editor or use 'Enable system diagnostics' flag to enable debug mode when running a yaml pipeline - it will show you how many files match ev

[2020-10-22 19:23] lg2de commented on #13752
This means there is no easy way to remove nor increase the limit.
We have to live with a work-around at the moment.

Mind my use-case, do you think there is any change with major rework of infrastructure?

[2020-10-23 06:08] NinadKavimandan commented on #13674
alright! thanks.

[2020-10-23 07:33] mailtopavanc commented on #13754
Added more details to query along with screenshots.

[2020-10-23 07:38] slawekww commented on #12810
Yes, it may work for released versions. I have pre-release versions and per statement in error log:
`
Did not find any versions of 'myname' that matched the pattern '1.*' (Pre-release versions are not currently matched by wildcard patterns)
`

It means that wildcards do not work for pre-release versions.
Do you plan to fix it?

[2020-10-23 08:11] joacar commented on #13598
@sdobrodeev Closing it and will revisit if I stumble upon this again.

[2020-10-23 08:11] #13598 closed

[2020-10-23 08:16] robinkb commented on #11414
@vithati this is absolutely _not_ an issue with Helm 3. Plenty of CLI tools (like `curl`, for example) write their debug output to STDERR to make it easier to differentiate between normal output and debug output. The `failOnStderr` option should not be on by default, because Helm will exit with a non-zero exit code when it fails, like any well-behaved CLI tool. You should only need this option wit

[2020-10-23 08:58] sdobrodeev commented on #13616
@riteshmaddala This problem is still actual to you?

[2020-10-23 10:00] jedimanu-ux commented on #13737
As you can see from the last log I pasted this also happens when that warning is not thrown.

[2020-10-23 10:08] Tingle01 commented on #13710
I'm also experiencing the same 401 problem both on pushing packages to GitHub packages and also when trying to pull the packages from GitHub.

My yml snippet pull:

    - task: NuGetCommand@2
      displayName: 'Push All NuGet Packages to github'
      inputs:
        command: push
        packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg'
        nuGetFeedType: external
        publis

[2020-10-23 12:23] VamshiKrishnaAlladi commented on #13710
We too are facing the same issue.

`Pushing ****.1.2.1.nupkg to 'https://nuget.pkg.github.com/***'...
  PUT https://nuget.pkg.github.com/***/
warn : Your request could not be authenticated by the GitHub Packages service. Please ensure your access token is valid and has the appropriate scopes configured.
  Unauthorized https://nuget.pkg.github.com/***/
error: Response status code does not indicate

[2020-10-23 13:06] anatolybolshakov commented on #9046
Hi everyone, we prepared a [fix](https://github.com/microsoft/azure-pipelines-tasks/pull/13759) for this issue
@sarthak-sriw hmm, your issue looks different - looks like there's just a typo in the variable name 'System.DefaultWorkingDirectry' - should be 'System.DefaultWorkingDirectory', so it hasn't been replaced by variable value

[2020-10-23 13:21] DaniilShmelev commented on #13752
Unfortunately there's no easy way to resolve this limitation. We'll take this issue into account and try to resolve it when it's possible.

[2020-10-23 13:26] erfannariman commented on #9445
I am getting the following error when deploying from GitHub actions, is this the same issue? Shouldn't be right since support for consumption plan for function apps is added:

[code]

[2020-10-23 13:32] anatolybolshakov commented on #13748
Hi @meiry are these pipelines on screenshots running on different self-hosted agents?

[2020-10-23 13:35] shigupt202 commented on #13737
Kubectl task does not do any special handling for `rollout status` command, and from the warning it looks like a kubectl issue. If you still think that it's a task issue, you can try to repro it by running the same kubectl command on cmdline task on Linux agent and let us know the result.
@ds-ms Thoughts?

[2020-10-23 15:12] actionthomas commented on #13131
Hi @ShreyasRmsft !
You closed the issue, is there any news ?
On my side, I still have the error when using tools installer.

[2020-10-23 15:39] earlbread opened #13760 "Azure Pipelines Windows image is much slower than other images"
In Azure Pipelines, the windows-2019 image is very slow, not always, but once every few times.
![Screen Shot 2020-10-24 at 12 27 52 AM](https://user-images.githubusercontent.com/5907919/97022940-c3896480-158f-11eb-82cb-b320ae61c6d7.jpg)

I used the `Bash@3` task to run the tests.

The result link:
https://dev.azure.com/waydi1/waydi1/_build/results?buildId=1025&view=logs&j=251538d5-9091-5b0f-9f9e-6

[2020-10-23 16:10] anatolybolshakov commented on #13723
Hey @armanik11 it looks like some UI enhancement for task editor, so it's not related to a specific task. This repo mostly holds issues with specific tasks, please file general issues at https://developercommunity.visualstudio.com/spaces/21/index.html - that way it will get the right eyes on it

[2020-10-23 16:53] meiry commented on #13748
the solution was to use the demands  -equals to agent name
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/demands?view=azure-devops&tabs=yaml

[2020-10-23 16:59] ahmedilyasms opened #13761 "Delete files task v1.177.0 fails with "supported task execution handler was not found.""
**Question, Bug, or Feature?**
Bug

**Enter Task Name**: Delete files

list here (V# not needed):  1.177.0

## Environment
- Server - TFS on-premises

    - If using TFS on-premises, provide the version: 2.164.3

- Agent - Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version:
      Agent version: 2.164.3 and OS is Windows Server 2019

## Iss

[2020-10-23 17:33] magleaso commented on #12810
Hi @slawekww. Our response is the same as when this issue was discussed in issue #12572. We don't have any near term plans to implement wildcard matching for pre-release versions in UPack. You can use [pre-release and release views](https://docs.microsoft.com/en-us/azure/devops/artifacts/feeds/views?view=azure-devops) in your feed for differentiating between released and pre-release packages. For

[2020-10-23 17:33] #12810 closed

[2020-10-23 17:50] al-cheb opened #13762 "[Bash@3] The task doesn't work after upgrading to the 3.177.0 version"
## Note
The Bash@3 task doesn't work after upgrading to the 3.176.0 -> 3.177.0 version. The same issue occurs if we change Bash@3 to CommandLine Version: 2.177.0.

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Bash@3

list here (V# not needed):
https://github.com/

[2020-10-23 18:57] damccorm commented on #13762
Hey, we are working on a fix to this right now - in the meantime, upgrading your agents to the most recent version should fix this

[2020-10-23 18:58] damccorm commented on #13761
Hey, we are working on a fix to this right now - in the meantime, upgrading your agents to the most recent version should fix this

[2020-10-23 19:01] al-cheb commented on #13762
@damccorm, Thank you. Upgrading agents to version 2.175.2 fix the issue. Feel free to close the thread.

[2020-10-23 19:01] damccorm commented on #13762
I'll keep it open until the issue is fully fixed - thanks for confirming

[2020-10-23 20:36] damccorm commented on #13761
This should be fixed now!

[2020-10-23 20:36] #13761 closed

[2020-10-23 20:37] damccorm commented on #13762
This should be fixed now!

[2020-10-23 20:37] #13762 closed

[2020-10-24 00:58] jeisonmp commented on #13762
I still receive error

![image](https://user-images.githubusercontent.com/9480995/97064244-e2313080-157a-11eb-86d2-2c84fba60ee3.png)

[2020-10-24 01:10] jeisonmp opened #13767 "The task doesn't work after upgrading to the 1.177.0 version"
## Note
The DeleteFiles@01 task doesn't work after upgrading to the 1.176.0 -> 1.177.0 version. The same issue occurs if we change DeleteFiles@01 to CommandLine.

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DeleteFiles@01

list here (V# not needed):
https://gith

[2020-10-24 07:13] mdschweda commented on #9781
Can confirm that protocols of the [URL you pass during agent configuration](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops-2020#required-options) (`config.sh --url <url>`) and of the [public URL in the administration console](https://docs.microsoft.com/en-us/azure/devops/server/admin/open-admin-console?view=azure-devops-2020#view-or-change-the-public-url)

[2020-10-25 09:54] TekuSP commented on #12728
Any response from development team?

[2020-10-26 03:34] mztse commented on #13767
@jeisonmp Similar issue on my side seems can be resolved by upgrading the private agent to latest 2.175.2. Can you try the same?

[2020-10-26 03:57] damccorm commented on #13767
@jeisonmp, @mzts is right, upgrading agents should fix this issue. In theory, this upgrade should've happened automatically - do you have agent auto-upgrades disabled for this pool? You can see the auto-upgrade setting via "Org settings"=>"Agent Pools"=><your pool>=>"Settings"

[2020-10-26 06:11] #12746 closed

[2020-10-26 08:34] M463 commented on #13491
I spend some serious time on this issue as well.
After failing to uninstall any of the mentioned KB (KB4570505, KB4565349, KB4566424) updates via wusa and experimenting with several versions of the task, I was eventually able to **fix the problem by removing McAfee antivirus** from the affected server.
It has been replaced with a competitors product but unfortunately I'm not allowed to share the n

[2020-10-26 09:07] anatolybolshakov commented on #13748
@meiry ok, thanks! I'm closing it currently since it's resolved - please feel free to reopen if it is still actual for you

[2020-10-26 09:07] #13748 closed

[2020-10-26 12:34] span commented on #12206
This is still an issue.

It seems to be a problem with how the `useConfigurationFile` property is interpreted.

I thought I could use a yaml file with a configmap but that results in the whole configmap as a string mapped to the filename. After reading up on `create configmap` I realize it is not applicable on `yaml` files with a `ConfigMap` definition. All the examples a k8s.io uses property file

[2020-10-26 13:01] KennyChen0909 opened #13771 "Build machine image failed because deploy script not found"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Build machine image
version 1.175.1

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - Azure Pipelines- Org name: kennychan

- Agent - Hosted or Private:
    Hosted Ubuntu 18.04

## Issue Descri

[2020-10-26 13:19] anatolybolshakov commented on #13723
@armanik11 I'm closing it currently - please let us know if you have any other issues

[2020-10-26 13:19] #13723 closed

[2020-10-26 15:08] KennyChen0909 opened #13773 "Build machine image failed with conda: command not found"
## Required Information
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Build machine image
version:1.175.1

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure pipeline

- Agent - Hoste or Private:
Hosted Ubuntu 18.04
## Issue Description

I have a customer using this task to build a image needs miniconda with their deploy script. Check below partial deploy s

[2020-10-26 15:10] #12393 closed

[2020-10-26 15:23] ericlemes opened #13774 "Azure File Copy stopped working"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFileCopyV2

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
Account name: squk-centra

[2020-10-26 15:34] joostvanvucht commented on #11414
still happening. as soon as we add
arguments: --debug
to the HelmDeploy@0 task
the build pipeline fails  with
##[error]history.go:53: [debug] getting history for release sample-application

[2020-10-26 16:33] kurt-hardy commented on #13729
Woo. Thank you for that! `System.Debug=true` is a very neat trick! Turns out it was someone putting an underscore on the alias and me not being able to read! But that sorted it. Thanks

[2020-10-26 16:33] #13729 closed

[2020-10-26 19:18] Ahmadalsofi opened #13776 "multiple provisioning profiles for Xcode task"
Hi there,

Using multiple provisioning profiles
Currently, there's no support of multiple provisioning profiles for Xcode task (for example for iOS App Extension)

is it still not supported? if so is there's any way to work around this issue?

Thanks

[2020-10-26 19:55] jseekamp commented on #10341
Dealing with the same issue here. I had to stand up a windows build agent just to use this task.

[2020-10-26 21:01] Rickvanderwaal commented on #6885
This issue is still relevant. I want this feature to pass the name of a secure file to a task group in my pipeline.

[2020-10-26 21:05] jfalameda commented on #10341
Hi,

I don't think Microsoft is ever gonna release this, to be frank. This has been requested in different forums for more than two years. I have some experience with SFCL and I have built some bash scripts to do the same thing. If you are up to it we can gather the requirements for such a task and develop a third-party task. Would anybody of you be interested in collaborating?

[2020-10-26 22:53] end-user opened #13778 "Bash task does not accept workingDirectory property from variables"
*Type*: Bug

**Enter Task Name**: Bash

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
OblioLeitch/English Learners

- Agent - Hosted or Private:
    - If using Hosted agent, provide agent queue name:
unknown

## Issue Des

[2020-10-27 00:42] Paxilein opened #13779 "Error: 'subscriptionId' cannot be null"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug?

**Enter Task Name**: AzureFunctionAppV1 and AzureRmWebAppDeploymentV4

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: not specific to our environment....

- Agent - Hosted
    - If using Hosted agent, provide agent queue n

[2020-10-27 06:27] dirkslab opened #13780 "Azure ARM Template Subscription Deployments do not respect SecureStrings"
Azure ARM Template deployments. Subscription level deployments do not respect SecureString. SecureStrings are visible in azure deployment logs.
Resource group level arm deployments work as expected and SecureStrings are hidden.

Will this be fixed or please send me instruction documentation on how to achieve this.
Alternately explicitly highlight in the documentation that subscription level deploy

[2020-10-27 07:56] sdobrodeev commented on #13616
Closed due to inactivity. Please feel free to reopen it if the problem is still actual to you.

[2020-10-27 08:13] #13684 closed

[2020-10-27 08:26] vladislav55 commented on #5164
Update your NuGet installer to version 2.*. After that NuGet.exe will auto-update to version 4.3

[2020-10-27 08:51] jcageman commented on #8182
We got the same issue. It doesn't always happen, but every 1 out of 3 deployments the linux function app deployment fails with this message

[2020-10-27 08:57] DaniilShmelev commented on #13752
Hello @lg2de, feel free to create a new issue if you encounter any other problems with this task. Have a nice day!

[2020-10-27 08:57] #13752 closed

[2020-10-27 09:15] robwe commented on #12797
Any update?

[2020-10-27 09:17] robwe commented on #12796
Any update?

[2020-10-27 09:47] myyalcintas commented on #12509
Did you solve the issue with following updates?

[2020-10-27 10:22] sdobrodeev commented on #13689
Hi @silviulucacentriceu Could you please clarify which task you are using: DownloadBuildArtifacts@0, DownloadPipelineArtifact@2 or maybe something else?

[2020-10-27 10:40] jakob327 opened #13781 "AzureResourceManagerTemplateDeployment@3 does not support multiline strings in ARM templates"
## Required Information

**Question, Bug, or Feature?**
*Type*:  Feature / Bug

**Enter Task Name**: AzureResourceManagerTemplateDeployment@3

## Environment
- Server: Azure Pipelines

- Agent: Hosted

## Issue Description

Multiline strings in ARM templates are not supported when using AzureResourceManagerTemplateDeployment@3. The documentation of the arm-templates however states that they are va

[2020-10-27 10:57] shigupt202 commented on #12206
@span There are multiple ways to create config maps in Kubernetes, and in some of these methods files are used in different ways. This might have created some confusion as you have correctly explained above.
With one of the methods (which is shown in the image in issue description), a config map with file name as the key and content as the value gets created. So, the content of the file is suppose

[2020-10-27 11:51] stavroskasidis commented on #12509
Yes the issue is resolved. Thank you

[2020-10-27 11:51] EzzhevNikita commented on #13753
Hi @thorntonrp , unfortunately I couldn't reproduce this issue. I would like to to ask for some additional information about this issue, please provide:
- the full log with enabled diagnostics
- if it is possible please share the minimal reproducible sample for this issue or concrete steps to reproduce this issue

[2020-10-27 12:10] silviulucacentriceu commented on #13689
Hi @sdobrodeev,
It is happening in the classic releases, when using a deployment group job with "Skip download of artifacts" on false (on AzureDevOps server, Version Dev17.M153.5, not sure if it is fixed on a newer version).
If this is not the right place for this thread, can you move the issue please to the right one?

[2020-10-27 12:37] max-zaytsev commented on #13776
Hi @Ahmadalsofi,

Thank you for your question!
According to our [docs](https://github.com/MicrosoftDocs/azure-devops-docs-pr/blob/29b685ef645d5667133d18fc0669720e9093f39a/docs/pipelines/tasks/build/xcode.md), Xcode task doesn't yet support multiple provisioning profiles. Unfortunately, there is no workaround for this. We have a task in our backlog to add provisioning profiles support.

Thanks,
Max

[2020-10-27 13:05] max-zaytsev commented on #13760
Hi @earlbread - it doesn't look like an issue with bash task. This repo mostly holds issues with specific tasks. And it seems that this is the expected behavior for windows image. Please address general issues at  https://developercommunity.visualstudio.com/spaces/21/index.html - this should be the right place to get the answer to your question

[2020-10-27 14:40] ShreyasRmsft commented on #13131
@actionthomas this has been fixed in azure devops server 2020. (Was already fixed in hosted azure devops). Closed this since there is a workaround available for server 2019.

[2020-10-27 14:47] Zanchee opened #13783 "InstallAppleCertificate@2 Doesn't accept variables for parameter certSecureFile"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

Feature / Bug

InstallAppleCertificate@2

## Environment
- Server - Azure Pipelines

- Agent - Private:

    - macOS-10.15

## Issue Description

The InstallAppleCertificate@2 task doesn't support the ability to pass in a variable for the secure file. Is this on purpose or is this s

[2020-10-27 15:28] crystalgeek commented on #8380
Why is this closed? Nothing has changed

[2020-10-27 16:28] end-user commented on #13778
Not sure where I went wrong - that error should have said '.../1/a'.  I must have gotten browser tabs mixed up.  This works as desired:
[code]

[2020-10-27 16:28] #13778 closed

[2020-10-27 16:48] pakrym opened #13785 "Assertion failed: (timeout != -1) in Command line task on MacOS"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-10-27 17:59] agilekevin opened #13786 "helm lint does not recognize chartType / chartPath"
**Question, Bug, or Feature?**
*Bug*:
I expected to be able to set the chart path with the chartPath input variable, but it is ignored.

Expected to work:
[code]

Instead, I had to wedge it into arguments:
[code]

**HelmDeploy**: HelmDeploy@0

## Environment
- Server - Azure Pipelines

[2020-10-27 18:20] lagalbra opened #13787 "Azure CLI task fails to login with MSI Service Connection"
**Question, Bug, or Feature?**
Bug

*Type*: Azure CLI

**Enter Task Name**: AzureCLIV2

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: https://dev.azure.com/msazure/One/_releaseDefinition?definitionId=

[2020-10-27 20:02] tusharb86 commented on #12002
@herenhuang Hi there - I'm trying to understand why this is considered an enhancement instead of a bug? Is it required that consumers of artifacts keep a list of executable files and mark them as executable (`chmod +x`) after the artifact is downloaded? This certainly feels like a bug in the implementation of artifacts. Many teams are having to put in their own hack/workaround to deal with this is

[2020-10-27 20:15] thorntonrp commented on #13753
It was apparently a configuration issue on my end. I've been able to get it working with this configuration:

[code]

Thanks for looking into it.

[2020-10-27 20:15] #13753 closed

[2020-10-27 21:58] aholler2 opened #13789 "AzureResourceManagerTemplateDeployment@3: Request for template spec support"
## Required Information

**Type**: Feature Request

**Enter Task Name**: AzureResourceManagerTemplateDeployment@3

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

Please add [template spec support](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-specs) for YAML deployment task **AzureResourceManagerTemplateDeployment@3** e.g.
[cod

[2020-10-27 22:01] Lectem commented on #12002
Note that github actions followed the same path and has the same issue.
to mitigate this they document (only on the upload task, not download, which is not that easy to find) that one can simply tar.gzip the directory before (but then you have to do filtering of files yourself).

I think an Ok(ish) solution would be to have the task use tar.gz for storage instead of Zip based on a parameter of the

[2020-10-27 22:33] WHOOHAA commented on #13552
I am also stuck trying to use Azure Piplines to az webapp create-remote-connection etc..... into my container which it doesn then holds and won't allow me to ssh it . any more help is appreciated.

[2020-10-28 01:03] shararehl commented on #12147
We are getting the same warning on Azure Build Pipeline. Any update on this?
![image](https://user-images.githubusercontent.com/8971629/97378047-84536e80-1915-11eb-8da3-f8a05f63c8d3.png)

[2020-10-28 05:45] AmrutaKawade commented on #13779
Can you explain your scenario, why do you need management group service connection for these tasks?

[2020-10-28 05:47] arjgupta commented on #13779
@Paxilein management group service connection will not work for deploying to a web app. When creating managment group service connection you do not provide a subscription id but for deploying to resources like a web app, we need to have the subscription id.

[2020-10-28 06:29] nishantms commented on #10354
we have put this issue in our backlogs. Will work on this as per the priority

[2020-10-28 06:30] #10354 closed

[2020-10-28 07:09] AmrutaKawade commented on #13604
We’re not able to prioritize this issue over the hundreds we receive every week. It’s disappointing, we understand that. All of us have been there - in this project or others we’ve contributed to. So, rest assured, we love all your input. Don’t take personal offense that we’re closing your issue. If you feel it deserves to stay open, then clarify your use case and contact us or gather more up-vote

[2020-10-28 07:09] #13604 closed

[2020-10-28 07:12] ljani opened #13791 "PublishTestResults@2 fails to publish test results to Azure DevOps Server 2020"
# Required Information

**Question, Bug, or Feature?**  Bug
*Type*: `PublishTestResults@2` fails to publish test results to Azure DevOps Server 2020
**Enter Task Name**: `PublishTestResults`

## Environment
- Server - Azure Pipelines or TFS on-premises? On-premises
    - If using TFS on-premises, provide the version: Azure DevOps Server 2020
- Agent - Hosted or Private: Private
    - If using priv

[2020-10-28 08:36] max-zaytsev commented on #13672
Hi @otebos, Do you still have problems with this? Have you recreated the issue on the sample project?

[2020-10-28 08:52] anuragc617 commented on #13789
@pulkitaggarwl can you take a look at this enhancement?

[2020-10-28 08:59] pulkitaggarwl commented on #10341
@jfalameda I completely understand your sentiment here.  Unfortunately, we have not been tied down by other items and I acknowledge we couldn't prioritise this one.
Having said that, I wanted to call out that we are privileged to have active community members such as yourself who are willing to take a lead and contribute.

Here is some pointers that might come in handy. cc: @bishal-pdMSFT

**Deplo

[2020-10-28 10:07] AmrutaKawade commented on #13585
@diakonos I am not able to repro this issue. Are you still facing this issue?

[2020-10-28 10:27] SimonAlling commented on #8253
Can confirm that `Npm@0` seems to be much faster than `Npm@1`. In my case, with a small TypeScript project with only one dependency, "downgrading" reduced the combined time for `npm ci` and `npm run build` (`tsc -p .`) from ~20 seconds to ~5 seconds.

Downgrading from `Npm@1` to `Npm@0` is quite simple:

[code]

[2020-10-28 11:59] AmrutaKawade commented on #12180
We have fixed this issue https://github.com/microsoft/azure-pipelines-tasks/pull/13728. it will be deployed within 2 weeks.

[2020-10-28 12:02] AmrutaKawade commented on #13163
Logging of password as clear text is fixed https://github.com/microsoft/azure-pipelines-tasks/pull/13728

[2020-10-28 12:06] alexander-smolyakov commented on #13785
Hi @pakrym, this issue related to Node v6.

You can find a similar issue in the node repo by the following [link](https://github.com/nodejs/node/issues/34633).

We started working on migration to Node v14 so hopefully, this issue will be resolved with future updates.

So I'm closing it a the moment.

Thanks!

[2020-10-28 12:06] #13785 closed

[2020-10-28 12:13] #12758 closed

[2020-10-28 12:13] #12757 closed

[2020-10-28 12:19] egor-bryzgalov commented on #13783
Hi @Zanchee
Thank you for opening the issue!
I've tried to reproduce the issue but it worked fine for me. For us to investigate the issue further, could you please share the following information if it's possible:
- build logs in debug mode;
- YAML file containing the pipeline definition;
We're looking forward to hearing from you!

[2020-10-28 13:05] ret394 opened #13793 "WARNING - This issue is stale because it has been open for 180 days with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days"
This issue is stale because it has been open for 180 days with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

_Originally posted by @github-actions[bot] in https://github.com/microsoft/azure-pipelines-tasks/issues/12758#issuecomment-713647442_

Spam is against Github policies.

Intentional or not does not matter.

- Speaks from recent personal

[2020-10-28 13:13] ret394 commented on #13793
Repeat it twice for this repository - https://github.com/microsoft/azure-pipelines-tasks.
I'm not going to unintentionally spam anyone. For a weird definition of spam.

you're welcome, as always. all the best. 👍
don't say '... passim' to folks on Github or other sites.

---

To other peeps - View my personal repo for more details later. No point in "spamming" here, the notification system is out o

[2020-10-28 13:13] #13793 closed

[2020-10-28 13:16] ret394 commented on #12757
Don't forget to hide these exact comments later. Please.

You can hide this comment too. It's okay. It's not relevant to issue at hand.

you're welcome, as always. all the best. 👍
don't say '... passim' to folks on Github or other sites.

[ret394](https://github.com/ret394)

[2020-10-28 13:39] AmrutaKawade commented on #12770
@f3ltron I am not able to repro this issue. Are you still facing this issue?

[2020-10-28 13:51] t-l-k commented on #13552
In this full debug dianostics reproduction, I have not used `setsid`, but still run the `az` command as a background job `&` and at the end of I the task I have attempted to kill running processes by background job.

Behold, the task does not finish and hangs. (eventually I aborted it). Running process trees are printed at various points during the task.

# Pipeline Yaml

_Note: I didnt spin up a

[2020-10-28 13:53] wooferclaw commented on #13619
Having the same issue, any updates on this?

[2020-10-28 14:12] AmrutaKawade commented on #13692
@kespry-kirk Any update on this?

[2020-10-28 14:18] AmrutaKawade commented on #13751
@Etiennepicard Web Deploy cleans target before deploying. "Exclude files from the App_Data folder" is the right approach to make it work. If you want to delete App_Data contents as well try Zip Deploy option. ZipDeploy doesn't remove all files from destination but replaces changed files and deletes removed files of package

[2020-10-28 14:30] Zanchee commented on #13783
@egor-bryzgalov so I can't grab you a build log b/c it doesn't startup the build. It immediately cancels with the following issue

<img width="818" alt="Screen Shot 2020-10-28 at 10 19 41 AM" src="https://user-images.githubusercontent.com/13373737/97448585-32a3e780-1907-11eb-8660-30b2fae3f464.png">

I pruned my YAML to the following, just to make sure I was focusing JUST on the certificate install

[2020-10-28 14:38] AmrutaKawade commented on #13774
@ericlemes Can you try Azure File Copy Version 3 or 4? 4 requires some extra permissions as mentioned here https://brettmckenzie.net/2020/03/23/azure-pipelines-copy-files-task-authentication-failed/

[2020-10-28 14:41] ericlemes commented on #13774
Hi @AmrutaKawade I tried v4 and got a similar error.

https://squk-central.visualstudio.com/Code%20Metrics/_releaseProgress?_a=release-environment-logs&releaseId=194&environmentId=361

2020-10-26T14:43:04.6723176Z Failed while downloading azcopy.exe from the URL with exception Exception calling "DownloadFile"

[2020-10-28 14:42] ericlemes commented on #13774
You can ping me on Teams if you'd like to discuss in details (Alias ercintra)

[2020-10-28 14:45] AmrutaKawade commented on #13588
There are some other requirements which made us to add this change. https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/FileTransformV2

If you don't want to fail task, you can check "Continue On Error" checkbox.

[2020-10-28 14:45] #13588 closed

[2020-10-28 14:48] #12180 closed

[2020-10-28 15:32] t-l-k commented on #13552
## Pipeline Yaml

_Note: I reproduced the logs below using my existing container image instead of a default Microsoft one, but it closely matches the MS one as per my OP._
_Note: Names removed to protect the innocent._

In this recreation, I demonstrate, that `setsid` is not used (which would otherwise create a process group), and that a background task is used (`&`), and I kill that background ta

[2020-10-28 15:32] LaurentGoderre commented on #13783
I am experiencing the same issue!

[2020-10-28 15:36] t-l-k commented on #13552
@tejasd1990

In this reproduction, it looks as if it is the `python3` process @ pid `3116` that has caused the issue.

The termination of background shell tasks appears to behave differently in my local WSL shell.

[2020-10-28 15:39] t-l-k commented on #13552
@WHOOHAA are you running your `az` command as a background task? Or pehraps the agent hangs because it prompts for credentials input interactively?

I placed a known ssh key in my image to skip interactive prompt.

[2020-10-28 16:05] LiquoriChris commented on #13733
Thank you for including this. Appreciate the help.

Thanks,
Chris

[2020-10-28 17:14] phil-hodgson commented on #13548
Azure Artifacts has adjusted some limits to help address long-running publish operations. Please let us know if you're continuing to see persistent 503 responses on a push/publish for larger packages.

[2020-10-28 17:14] #13548 closed

[2020-10-28 18:40] Zanchee commented on #6885
Similar to what I just made #13783

Our source code builds 4 applications and we want to a variable to inject the correct certificate. However, this doesn't appear to work.

[2020-10-28 19:26] Zanchee commented on #10603
Is there a reason why this isn't being considered? There are a few other issues open with similar requests.

#13783
#6885

[2020-10-28 19:55] LaurentGoderre commented on #13783
Here's how to reproduce:

[code]

[2020-10-28 20:33] LaurentGoderre commented on #6885
It appears to me that it is failing because the validation is trying to validate the secure files before variable substitution happen and gives an error saying the secure file doesn't exist.

[2020-10-28 20:39] LaurentGoderre commented on #13783
From what I can tell, there is some validation that happen on the pipeline definition before the variable substitution so the build doesn't even start. I am not able to find any of that logic in this repo though.

[2020-10-28 22:12] stas-sultanov opened #13797 "Phantom errors on AzureResourceManagerTemplateDeployment@3"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-10-29 00:36] andreptcosta opened #13798 "VSTest publishRunAttachments has no effect on what is published"
**Type:** Bug

**Enter Task Name:** VSTestV2

## Environment
Azure Pipelines

Hosted Agent - "Self-hosted" pool

## Issue Description
The "publishRunAttachments" parameter has no effect on whether attachments actually get published. They are published regardless.

Snippet from my pipeline yaml:
[
![image](https://uploaddeimagens.com.br/images/002/939/334/original/image.png?1603931542)
](url)

This

[2020-10-29 02:38] diakonos commented on #13585
Yes, I am still experiencing this issue. It also happens when doing a zip deploy from VS Code with the Azure extension.

This logs if you're curious: [vscode_logs.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5455803/vscode_logs.txt)

[2020-10-29 05:05] AmrutaKawade commented on #13585
@diakonos I created zip which has structure like this
test
---1.txt
---2.txt

then I changed structure of this zip and again deployed
test
---src
------1.txt
---2.txt

Initial 1.txt from parent directory was removed with second deployment.
Can you share pipeline logs as well? set system.debug = true in variables and run pipeline.

[2020-10-29 06:37] ljani commented on #13791
Interesting enough, this has fixed itself even if I didn't do anything. Any idea what might have been the problem?

[2020-10-29 06:39] ds-ms commented on #11414
@shigupt202 could you take a look

[2020-10-29 07:32] egor-bryzgalov commented on #13783
@LaurentGoderre @Zanchee Thank you for the information you've provided! We'll investigate this issue and keep you posted on the results.

[2020-10-29 07:57] diakonos commented on #13585
Here are the latest pipeline logs: [logs_49.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5456852/logs_49.zip)

[2020-10-29 08:28] shigupt202 commented on #11414
The default value of `failOnStderr` has been set to false in [this](https://github.com/microsoft/azure-pipelines-tasks/pull/13638) PR. The deployment is already in progress and should have reached most of the customers. If the customers are seeing HelmDeployV0 task version as 0.177.0 and still facing this problem, we'll reopen this issue (given that they have not explicitly changed the value of `f

[2020-10-29 08:30] KennyChen0909 commented on #13773
Any suggestions?

[2020-10-29 08:40] 20shivangi commented on #13735
@GreatBarrier86 We do not support AzureFileCopy task with destination assigned to Azure VM on Hosted agent. Please use private agent in case your destination is Azure VM.

[2020-10-29 08:56] ds-ms commented on #13786
This is not a bug, this is expected behaviour. That's because there's no special handling for `lint`.
These are the ones which have special handling which leverage the inputs of the task.

https://github.com/microsoft/azure-pipelines-tasks/blob/8c47ce21c73f825c635054fa77582e4195a63870/Tasks/HelmDeployV0/task.json#L173-L187

Any other command goes into the default handling, i.e. only the argument s

[2020-10-29 08:58] ds-ms commented on #13737
I agree with your assessment. @shigupt202

Closing this issue, @jedimanu-ux if you still feel this needs to be addressed feel free to reopen this issue.

[2020-10-29 08:58] #13737 closed

[2020-10-29 08:58] #13654 closed

[2020-10-29 08:59] ds-ms commented on #13685
@anraghun any updates on this?

[2020-10-29 09:03] GreatBarrier86 commented on #13735
Well, it is supported if the storage account is public. In that scenario, the copy works as expected.

[2020-10-29 09:18] 20shivangi commented on #13735
Can you share the logs when you are able to run AzureFileCopy with destination to VM using Hosted agent

[2020-10-29 09:42] DevonBritton opened #13801 "isJacocoCoverageReportXML option missing from Azure DevOps MavenV3 task."
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Maven V3

## Environment
- Server - Azure DevOps Server 2019 1.1 - Patch 3

- Agent - Hosted or Private: Private

    - If using private agent, provide the OS of the machine running the agent and the agent version: Linux (ubuntu 16.04)

## Issue Description

I have the Code Coverage tool set to JaCoCo and have enabled SonarQube

[2020-10-29 09:55] NKnusperer commented on #10399
This issue has been resolved with Azure DevOps Server 2020 and the task now works as expected:
[code]

[2020-10-29 10:47] earlbread commented on #13760
Hi @max-zaytsev. Thanks for your answer, I'll post my question there.

[2020-10-29 10:47] #13760 closed

[2020-10-29 11:05] hvinett commented on #13091
hey @Kurtz1993 , can you provide complete debug logs(enable system.debug = true) for the run?

[2020-10-29 11:10] anatolybolshakov commented on #13721
Hi @crsreddy1447 is this issue still actual for you?

[2020-10-29 11:12] anatolybolshakov commented on #13508
Hi @Oshein123 @hopegroup is it still actual for you? Could you please provide some sample project - which we could use to reproduce? Since we can't reproduce it on our side currently

[2020-10-29 11:15] #13508 closed

[2020-10-29 11:36] crsreddy1447 commented on #13721
No. You can close

On Thu, 29 Oct, 2020, 4:40 PM Anatoly Bolshakov, <notifications@github.com>
wrote:

[2020-10-29 11:56] benjaminrhope opened #13802 "Support access token authentication for SQL Server scripts"
## Required Information
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: SqlAzureDacpacDeploymentV1

## Environment

- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

We want to use this task to deploy a migration script to an Azure SQL database, but we have not been able to authenticate with managed identity. Our agent runs on a hosted environment, so we canno

[2020-10-29 12:21] anatolybolshakov commented on #13721
@crsreddy1447 ok, thanks! I'm closing it at the moment

[2020-10-29 12:21] #13721 closed

[2020-10-29 12:28] DaniilShmelev commented on #12067
Hello @sheikahamed, could you please provide your pom.xml?

[2020-10-29 12:33] GreatBarrier86 commented on #13735
Here's an example of one of them.

[tasklog_15.log](https://github.com/microsoft/azure-pipelines-tasks/files/5458314/tasklog_15.log)

[2020-10-29 13:11] anatolybolshakov commented on #13801
Hi @DevonBritton for on-prem solution you need to update whole solution to receive last version of in-the-box tasks. As another option here - you can build Maven task and upload it manually using [tfx-cli](https://www.npmjs.com/package/tfx-cli)

[2020-10-29 13:21] AmrutaKawade commented on #13733
This is fixed and will be deployed within 2 weeks thanks for contribution

[2020-10-29 13:21] #13733 closed

[2020-10-29 13:34] DevonBritton commented on #13801
Thanks @anatolybolshakov . I thought as much. There's an upgrade to Azure DevOps Server 2020 planned for December. I imagine that will fix the issue.

Kind Regards,
DB

[2020-10-29 13:56] mjroghelia commented on #9457
@anatolybolshakov Sounds like a task issue. Could you please investigate?

[2020-10-29 14:26] AmrutaKawade commented on #13585
Zip deploy uses kudu apis to deploy package. there is open issue on kudu api for similar thing https://github.com/projectkudu/kudu/issues/3183. you can try Web deploy approach instead which will clean target directory before deployment

[2020-10-29 14:38] #13751 closed

[2020-10-29 15:07] AmrutaKawade commented on #13618
Sorry I am not able to understand this. Can you give example of config file which did not work and which worked?

[2020-10-29 15:31] AmrutaKawade commented on #13679
@SebastianClaesson Are you facing this issue when running from powershell on your machine as well?

[2020-10-29 17:20] Gi1gamesh opened #13805 "AzurePowerShellV4 and AzurePowerShellV5 Fail on TFS on-premises with Private build agents when setting "Preferred Azure PowerShell Version""
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:

AzurePowerShellV4
AzurePowerShellV5

## Environment
- Server:  TFS on-premises
    - If using TFS on-premises, provide the version: (not sure)

- Agent: Private

    - If using private agent, provide the OS of the machine running the agent and the agent version:

      Agent Version: 2.153.1
      Agent.OSVersion: 10.0.14393

## Iss

[2020-10-29 17:27] kilasuit commented on #13805
You need to install that version of the module in a previous PowerShell step if you want to use a version that is not bundled with the task as the task doesn't do installation of the required version (nor should it)

[2020-10-29 17:44] #13805 closed

[2020-10-29 17:46] Zanchee commented on #12673
Similar issue that I encountered on #13783

[2020-10-29 18:05] RichMatthews commented on #10302
I'm still having this issue even after turning legacy option on. anything else I can do?

[2020-10-29 18:34] jtbrown52 commented on #11191
We had this same issue and thank you @denis-peshkov for your update - it helped! The deployment still failed, however, it actually performed what we needed it to do - and thinking about it, there are a couple of things we could have done to help things along more smoothly.

In our particular situation, we had a  few contributing factors that may have led to this dilemma.

- a column that was actua

[2020-10-29 19:11] max-zaytsev commented on #13776
Close the issue for now. @Ahmadalsofi if you still have questions feel free to reopen it.

[2020-10-29 19:11] #13776 closed

[2020-10-29 21:23] andrejpk opened #13807 "AzureCLI task workingDirectory doesn't expand template parameters"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Bug

**Enter Task Name**: AzureCLI

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
Account: clikz Project: Project Clikz Pipeline ref: adp-cli-

[2020-10-29 21:24] andrejpk commented on #13807
cc @haroldwongms @prangadi

[2020-10-29 23:48] lagalbra commented on #13787
@bishal-pdMSFT Ping!

FYI I have removed the step from our Release for now, but can add it back if needed for further debugging.

[2020-10-30 01:21] diakonos commented on #13585
Ok, I've commented on that issue and will look into an alternative deployment approach. Thanks!

[2020-10-30 01:37] #10302 closed

[2020-10-30 03:06] #8762 closed

[2020-10-30 06:34] ankitkumarr commented on #12342
@ajinkya599, Just wanted to check if there's plans to fix this. Right now, there's 3 major versions of Azure Functions Core Tools targeting 3 major versions of Functions. The "latest" tag in Github release could be either of these versions. This means that you could get either of these 3 versions when you download the way the DevOps task does now. This is a major issue as the 3 versions are drasti

[2020-10-30 06:36] rikat-ms commented on #13797
Same issue: https://developercommunity.visualstudio.com/content/problem/1224035/no-message-found-for-this-issue-error-in-azure-dev.html

[2020-10-30 08:45] Timo-Weike commented on #12368
+1 would also appreciate it if this would be implemented.

[2020-10-30 10:25] AmrutaKawade commented on #13580
If you configure pipeline using UI `Release.EnvironmentName` will take stage name. I am able to reproduce this for pipeline configured though yaml.

[2020-10-30 10:47] pkhabazi opened #13808 "Cross project sharing of service connections - resource authorization issue"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: **Bug**

**Enter Task Name**: **AzurePowerShell**

## Environment
- Server - **Azure Pipelines**

- Agent - **Hosted**:

    - If using Hosted agent, provide agent queue name: **ubuntu-latest**

## Issue Description

I am sharing an Azure Servi

[2020-10-30 11:27] AmrutaKawade commented on #13580
`Release.EnvironmentName` is classic release variable https://docs.microsoft.com/en-us/azure/devops/pipelines/release/variables?view=azure-devops&tabs=batch. Its not available for yaml based releases.
you can add this variable to each stage like below

[code]

[2020-10-30 11:30] AmrutaKawade commented on #13692
Closing this issue due to inactivity. Feel free to reopen if you are still facing this issue.

[2020-10-30 11:30] #13692 closed

[2020-10-30 13:35] tomaustin700 opened #13810 "Vstest.console.exe exited with code -1073741819."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VsTestV2

## Environment
- Server - Azure Pipelines

- Agent - Private

OS is Windows 10 2004, Agent version is 2.175.2

## Issue Description

One of our pipelines is throwing the following exception or completely lock

[2020-10-30 14:24] AmrutaKawade commented on #13688
what version of pnpm are you using? I am not able to repro this issue. also its fetching directly single file and not iterating over each file of folder.

[2020-10-30 14:27] AmrutaKawade commented on #12770
I tried exact steps as mentioned by @jaliyaudagedara but I am not able to repro this. @jaliyaudagedara Can you confirm whether its fixed for you as well? @f3ltron can you share repro steps if you are still facing this issue?

[2020-10-30 14:58] adriandiver commented on #12403
Any news regarding this issue?

[2020-10-30 15:01] egor-bryzgalov commented on #13783
Hi @Zanchee @LaurentGoderre
It seems that it's not supported at the moment.
This issue's root cause is in pipeline processing steps order. It's required to have `secureFile` inputs values defined by the authorization step otherwise errors like one you had would be thrown.
So the matrix is resolved after the authorization step.

You can find more [information about pipeline processing here.](https:

[2020-10-30 15:06] Zanchee commented on #13783
Thanks for the  update. We ended up making a dummy matrix yesterday by creating a pipeline that just calls a template with the same parameters. This worked 👍

[2020-10-30 18:06] #12661 closed

[2020-10-30 20:34] bkwdesign commented on #1511
what am I doing wrong?
I'm using a `dot net push` task step in my Azure CI pipe and am getting this 409 error.
I see this task is closed as if it's all good, but I don't think so.

[code]

[2020-10-30 21:34] fabio-at-kumandgo opened #13812 "Azure Functions task doesn't support Publish Profile Authentication, but lets you choose it"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  Azure Functions

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment

  Not environment dependent.

## Issue Description

The *Azure Functions* task will let

[2020-11-01 05:37] nielslbeck commented on #6885
If I specify the name of the secure file to eg. InstallAppleProvisioningProfile@1 from a variable defined at eg. the stage level it doesn't work. If I specify it globally there's no problem.

So I agree. This should be fixed.

[2020-11-01 16:07] greengumby opened #13813 "Azure SQL BACPAC? task"
Hi,

I noticed that the Azure SQL DACPAC task does not have the option to point to a BACPAC file. Disappointing as I'm sure I have a common requirement.

Essentially I wish to run a pipeline nightly that deploys a MSSQL backup "BACPAC" and than run's built DACPAC against that restored database to bring it up to date.

Once current run a series of integration tests.

Any ideas?

[2020-11-01 19:16] Paxilein commented on #13779
@arjgupta Yes, that's why I opened the issue... To have that feature of adding the SubscriptionId to the Task, like other tasks already have...

@AmrutaKawade Well, my scenario is that my Azure-Access-Manager does give me the Management Group Service Connection and tells me to use it wherever possible...

[2020-11-02 03:06] #12612 closed

[2020-11-02 03:35] anuragc617 commented on #13787
@lagalbra sorry for late reply. Yes, I'm able to repro this. It looks like a bug in Azure CLI itself, not in a task. I am looking into it if we can fix in task. I will come back to you with more information.

[2020-11-02 06:07] #12807 closed

[2020-11-02 07:11] 20shivangi commented on #13196
@tstoian The issue has been fixed in PR : https://github.com/microsoft/azure-pipelines-tasks/pull/13792
The fix will get deployed within 2-3 weeks. Please wait till that time

[2020-11-02 07:12] 20shivangi commented on #13735
The issue has been fixed in V4 version of AzureFileCopy for now : https://github.com/microsoft/azure-pipelines-tasks/pull/13792
This fix will get deployed within 2-3 weeks. Please wait till that time

[2020-11-02 07:33] S121Pradhan commented on #13542
@davidguidali Can you please share the .runsettings file as we need to ensure it follows the desired structure for logger:
      <Logger friendlyName="xxx" enabled="True">
        <Configuration>
          <LogFileName>foo.trx</LogFileName>
        </Configuration>
      </Logger>

[2020-11-02 07:44] S121Pradhan commented on #13632
@pradudev Can you share the .runsettings file ?

[2020-11-02 08:25] S121Pradhan commented on #13155
Can the issue be closed now? @sarukk

[2020-11-02 08:29] sarukk commented on #13155
Hi,

Yes, please do close it.

Br,
Damian Kuras

pon., 2 lis 2020, 09:25 użytkownik Saurabh Pradhan <notifications@github.com>
napisał:

[2020-11-02 10:57] anatolybolshakov commented on #13716
Hi @nickgsoft is it still actual for you? Did the ordering help?

[2020-11-02 11:02] GreatBarrier86 commented on #13735
I'm unclear about something. According to #13792, your change turns Permissions to `Off` when they were `Container`. How does this fix my problem of not being able to copy to a VM with a hosted agent. If anything, this would make my problem even worse, would it not?

[2020-11-02 11:11] AmrutaKawade commented on #13735
So by default we used make container access as Public, and you had disabled public read access for storage account.
Storage account level permissions take precedence over container permission
so while creating container it was failing with permission issue, as we can't create publicly accessible  container on privately accessible storage account.

[2020-11-02 11:26] AmrutaKawade commented on #12770
Closing this issue due to inactivity. Feel free to reopen if issue still persists.

[2020-11-02 11:27] #13585 closed

[2020-11-02 12:13] GreatBarrier86 commented on #13735
So in this case, public read access will be off but the copy to VM will still work correctly?

[2020-11-02 12:22] M0ns1gn0r opened #13819 "AzurePowerShell@4 ignores actual exit code"
## Required Information

*Type*: Bug

**Enter Task Name**: AzurePowerShell

## Environment
- Server - Azure Pipelines
- Agent - Hosted (ubuntu-latest)

## Issue Description

**My task:**
[code]

**Actual:**
Logs contain `2020-11-02T12:14:58.7716488Z ##[error]PowerShell exited with code '1'.`
DevOps Pipeline UI shows *PowerShell exited with code '1'*.

**Expected:**
 Both logs and UI shows the code

[2020-11-02 12:35] AmrutaKawade commented on #13735
Yes

[2020-11-02 12:36] AmrutaKawade commented on #13124
Updated document

[2020-11-02 12:36] #13124 closed

[2020-11-02 12:57] egor-bryzgalov commented on #13783
@Zanchee I'm closing this issue. Please feel free to reopen it if it's necessary. Thank you!

[2020-11-02 14:16] dglozano commented on #11130
We are having the same problem. We have our projects under a /src folder, which causes all projects to become `src.zip`

[2020-11-02 15:01] tdaugaard commented on #10388
This is exactly what I was looking for now, and I'm sad to see that it isn't looking to be implemented soon. My use case i public DNS zones in Azure, for which it doesn't make sense to create a release pipeline for each zone, of which we have 124 at the moment.

Is there any easy way to handle that? Using nested templates doesn't allow for using "Complete" deployment mode, which is desirable with

[2020-11-02 15:24] rikat-ms commented on #13797
As 'Andre 365' said in the forum, the cause of the error looks that 'MissingSubscription' is reported as an error, but it isn't translated. This error occurs at GET request to this URL in GetServicePrincipal method.
- URL: 'https://management.azure.com/<tenantId>/servicePrincipals?$filter=appId%20eq%20'<applicationId>'. (both <tenantId> and <applicationId> are obtained from service connection sett

[2020-11-02 15:38] #12797 closed

[2020-11-02 16:03] nickgsoft commented on #13716
@anatolybolshakov  i am looking at details using system.debug helper and finding the cleanup job is cleaning stuff from the directory that is not mentioned in the content. looks little scary. i did applied the exclude condition at the end of the list by the way. so not sure what else to try.

[2020-11-02 16:15] AArnott commented on #10264
I saw this problem today too, but I figured out the problem. This works:

[code]

But this fails with the error in the issue description:

[code]

Notice the `SymbolsFolder` went from being an absolute path to a relative path.

So I believe this is the bug: the Task *should* support relative paths (assuming the base directory to be the root of the repo). Most tasks do, but this particular task and

[2020-11-02 16:19] AArnott opened #13821 "PublishSymbols should support all agent OS's"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: PublishSymbols

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: [pipeline run](https://dev.azure.com/andrewarnott/OSS/_build/results?buildId=3832&view=logs&j=0da5

[2020-11-02 16:40] wembleyford opened #13822 "Unexpected change in case of Tag names in resourcegroup deployment"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShell@4

## Environment
online dev.azure.com.

## Issue Description

I'm using a parameter.json and template.json file to deploy a resource group via the new-azSubscriptionDeployment cmdlet.
The deployment executes and succeeds, however, with one odd item of behaviour which does not occur when I run the same cmd with the sa

[2020-11-02 18:00] jaliyaudagedara commented on #12770
@AmrutaKawade, I am sorry for the delay.

I just tried with an existing pipeline where we were using `windows-2019` and changed it to `ubuntu-18:04` and triggered a deploy. Same issue

[2020-11-02 18:33] damccorm commented on #13771
Hey @KennyChen0909 - this looks like a more general service question, not a problem with a specific task. This repo is for task issues, would you mind opening a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html? It will have a better chance of getting routed to the right person that way.

[2020-11-02 18:33] #13771 closed

[2020-11-02 18:33] damccorm commented on #13773
Hey @KennyChen0909 - this looks like a more general service question, not a problem with a specific task. This repo is for task issues, would you mind opening a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html? It will have a better chance of getting routed to the right person that way.

[2020-11-02 18:33] #13773 closed

[2020-11-02 18:36] damccorm commented on #13767
Closing due to inactivity and since a workaround has been added

[2020-11-02 18:36] #13767 closed

[2020-11-02 18:39] damccorm commented on #8418
I'm going to close since this doesn't seem to be still occurring in an invalid way for anyone. I don't think we can update this error message since I belive this comes from a dependency unfortunately

[2020-11-02 18:39] #8418 closed

[2020-11-02 18:43] damccorm commented on #13078
Closing due to inactivity

[2020-11-02 18:43] #13078 closed

[2020-11-02 20:47] JamesMiera commented on #13639
I'm curious if anyone is looking into this?

[2020-11-02 20:56] jpivarski commented on #13785
For the record, I've been seeing this, too. My only recourse is to restart failed jobs, because this is intermittent. (It especially happens in tests with long logs.)

Is there a PR I can watch to see how this is going?

[2020-11-02 21:12] xsurfer commented on #12419
Hi, is there any resolution for this? I created a Service Connection using CLI but it is not visible to any pipelines.

[2020-11-03 04:00] AmrutaKawade commented on #12770
@jaliyaudagedara can you set system.debug = true in variables and run pipeline, share debug logs?

[2020-11-03 04:04] AmrutaKawade commented on #13808
I am closing this issue as its not related to Task, and it will be tracked on [developercommunity](https://developercommunity.visualstudio.com/content/problem/1239481/cross-project-sharing-of-service-connections-resou.html)

[2020-11-03 04:04] #13808 closed

[2020-11-03 04:06] #13196 closed

[2020-11-03 04:06] #13735 closed

[2020-11-03 05:52] AmrutaKawade commented on #13813
**Export** and **Import** actions under Deployment Type "SQL Dacpac File" works with bacpac file

[2020-11-03 06:08] AmrutaKawade commented on #12963
This is fixed and will be deployed within 2 weeks.

[2020-11-03 06:08] #12963 closed

[2020-11-03 07:06] wcc8088 commented on #11151
Same issue. Save me please.
Support for Azure Management Group in Azure CLI V2 task (#12922)

[2020-11-03 07:33] jaliyaudagedara commented on #12770
Here you go:
[ReleaseLogs_1172.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5479785/ReleaseLogs_1172.zip)

[2020-11-03 07:34] strakh-alex commented on #13819
I have the same issue since yesterday.
Tried to change task's version, set $ErrorActionPreference = "SilentlyContinue" - did not work.

[2020-11-03 07:36] frochi42 opened #13824 "Using code-coverage option in maven-task uploads illegal pom-files to maven-repository (feed)"
**Question, Bug, or Feature?**
*Type*: At first question. may be a bug.

**Enter Task Name**: Maven@3

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

       - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

Project riot, build https://dev.azure.co

[2020-11-03 08:38] Jandev commented on #13781
For others, who might stumble across this issue.
Our team has solved this by using the `concat` method.
[code]
It's not ideal, but a workable workaround.

[2020-11-03 08:40] GerryWilko commented on #13746
Any update on this?

[2020-11-03 08:47] M0ns1gn0r commented on #13819
I don't think it has started yesterday, pretty sure it's a quite old problem.

[2020-11-03 08:51] 20shivangi commented on #13774
@ericlemes Can you send a snapshot of your pipeline once or provide permission to view the pipeline.. I am unable to open the link that you have provided.
While copying to VM, try to enable the options as shown in snapshot

![image](https://user-images.githubusercontent.com/45754171/97965009-afd7cc80-1ddf-11eb-93eb-533c90c96416.png)

[2020-11-03 09:03] ericlemes commented on #13774
Hi @20shivangi,

Unfortunately I can't give you rights for this repo which is private. I've been debugging this issue with @AmrutaKawade and we found out that the issue is because this machine has TLS versions older than 1.2 disabled and the internal way of downloading the azure copy to the remote machine that will then download the files uses System.Net.WebClient which by default tries to use old

[2020-11-03 09:27] #13155 closed

[2020-11-03 10:14] anuragc617 commented on #13787
@lagalbra For using managed identity, you will need to create it and then install on the agent VM. Creation of service connection doesn't create any MI. Have you completed this step? If not you can follow this [doc](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview) for setting up MI on VM
Also, as mentioned you are using Hosted agent, here you won

[2020-11-03 10:39] anatolybolshakov commented on #13716
@nickgsoft could you please share your current Contents input value and directories which are being cleaned up, but not mentioned in Contents pattern?

[2020-11-03 12:01] AmrutaKawade commented on #13460
Updated document

[2020-11-03 12:01] #13460 closed

[2020-11-03 12:08] AmrutaKawade commented on #12770
Thanks for logs. It helped to reproduce.
I added one more task in between these 2 tasks to list contents of directory (same directory which is used in npm task and app service task)

![image](https://user-images.githubusercontent.com/65217380/97981194-eae5fa00-1df7-11eb-90e0-0cbb01a313fd.png)

**For Windows Agent:**
Contents of directory are as follows

![image](https://user-images.githubuserconte

[2020-11-03 12:49] AmrutaKawade commented on #13679
This issue is not reproducible anymore. I will close this issue. Feel free to reopen if it still persists

![tempsnip](https://user-images.githubusercontent.com/65217380/97987164-d78b5c80-1e00-11eb-87fe-8110968581a5.png)

[2020-11-03 12:49] #13679 closed

[2020-11-03 12:58] anuragc617 commented on #13797
Yes @rikat-ms you are right this is happening because GetServicePrincipal is failing due to wrong endpoint. We are working on the fix on high priority.

[2020-11-03 14:30] mitoihs commented on #13688
Hi! I use pnpm at highest available version (5.10.4) but it doesn't seem to matter.

I've created a repository with minimum code required to reproduce the issue:
https://github.com/mitoihs/FileTransformErrorRepro

azure-pipelines.yml is included, please create a pipeline with it in Azure DevOps and check it out .

[2020-11-03 14:34] AmrutaKawade commented on #13822
@wembleyford please run below command on your machine and check which Azure Powershell version is installed on your machine

`Get-InstalledModule -Name Az -AllVersions | Select-Object -Property Name, Version`

[2020-11-03 15:21] ackermann81 opened #13831 "Agent/Environment Approval Check not Working as dynamically if set by variable"
Hi,
Short introduction for our current setup. We have around 50 customers with different environments to build. OnPrem we only had a fixed set of environments and had fixed the build agents for these stages. We choose the stages by Stagedependencies to a output variable set daone at the first CreatePackage Stage and that worked well. The approvals were set on the Build Agents and we can define sev

[2020-11-03 15:27] PaulVrugt opened #13832 "DownloadPipelineArtifact@2 default output directory"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: DownloadPipelineArtifact@2

## Issue Description

I was wondering why the `DownloadPipelineArtifact@2` output defaults to `$(Pipeline.Workspace)`. This is a bit problematic with private agents, since by default, the workspace is not cleaned on private agents. I know we can add the `workspace clean all` o

[2020-11-03 15:38] wembleyford commented on #13822
[code]

The version of new-azsubscriptionDeployment is comming from the 3.6.1 installation which provides az.resource 2.3.0

Thanks

[2020-11-03 15:38] AmrutaKawade commented on #13688
Thanks for repro. It really helped

[2020-11-03 15:54] lagalbra commented on #13787
@anuragc617 Thank you for the clarification; I will look into changing our Release to use VM instead of Hosted agent.
Closing this thread as I now have the references I need

[2020-11-03 15:54] #13787 closed

[2020-11-03 16:59] #13631 closed

[2020-11-03 17:02] gcacars commented on #12685
News on this?

[2020-11-03 17:52] Alexlofern commented on #13559
Tks

[2020-11-03 20:25] joecoolish opened #13835 "Extract files error "caution: filename not matched: -o""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-11-03 21:42] L-U-C-K-Y commented on #10302
Been pulling my hair out with this error. I'm using xcode 12.1 selected and node 10 in Appcenter. Using the legacy build system is greyed out for this version of Appcenter. Any hints would be appreciated.

[2020-11-04 00:57] d-miles opened #13836 "Strange issue when PowerShellV2 task is set to "Script" but has old "Inline" code, and build definition is updated during a build"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-11-04 05:53] AmrutaKawade commented on #13822
This issue is not related to Task and I am able to reproduce it with Az 4.8.0 on my laptop as well. May be some change in cmdlet. Instead of using latest powershell version (which is Az 4.8.0) you can use specific version 4.3.0 in the task. it will solve your problem. You can raise issue for Az 4.8.0 here https://github.com/Azure/azure-powershell

[2020-11-04 06:12] #13688 closed

[2020-11-04 06:13] AmrutaKawade commented on #13688
this is fixed and will be deployed within 2 weeks

[2020-11-04 06:14] #12770 closed

[2020-11-04 06:18] #13673 closed

[2020-11-04 06:19] AmrutaKawade commented on #13673
This is fixed and will be deployed within 2 weeks

[2020-11-04 07:45] webbiffy commented on #11649
I have a similar issue. In my case, the command **vsts-npm-auth -config .npmrc** generates PAT.
However when I tried to run **npm install**,  I got the below error:
![image](https://user-images.githubusercontent.com/40140655/98082935-8c328600-1eb4-11eb-9de4-5cf9ec493a26.png)

I can see on my PAT that I have read and write access in Packaging but it's weird I'm still having problem with the Authent

[2020-11-04 08:01] webbiffy commented on #11649
In my case the command **vsts-npm-auth -config .npmrc** generates PAT.
Howerver when running **npm install** I got an error "403 Forbidden - In most cases, you or one of your dependencies are requesting a package version that is forbidden by your security policy."
When I look at my PAT I can see there's read/write access in packaging, anyone having the same issue?

[2020-11-04 08:17] AmrutaKawade commented on #13695
I am not able to repro this issue. for me its working with capital S as well. Are you still facing this issue?

[2020-11-04 08:40] mjazwiecki opened #13837 "Azure file copy do not work with Service Connection scoped to management group"
When running the task (version 3.175.4) with service connection scoped to management group level, I am being thrown at with the following error: `Storage account: XXXX not found. The selected service connection 'Service Principal' supports storage accounts of Azure Resource Manager type only.` As soon, as the service connection is changed to the one with subscription only permissions, all works ju

[2020-11-04 08:41] #13427 closed

[2020-11-04 09:01] paul-roberts-dt commented on #5112
Another vote for this.

[2020-11-04 09:31] StephanZaat commented on #12206
@shigupt202 The main confusion comes from the expectation vs. the documentation.
I was also hoping to replace my inline environment variables in my manifest files with a configmap file with parameters that is idempotent.
The current ADO Pipeline task only supports --from-file instead of --from-env-file as far as I can tell.
The --from-file option puts the entire content of the supplied file as-is

[2020-11-04 09:35] Arwinder4 commented on #13511
Closing this issue.
https://dev.azure.com/mseng/AzureDevOps/_workitems/edit/1788196 for tracking.

[2020-11-04 09:53] anuragc617 commented on #13780
@dirkslab I am unable to repo, can you provide the logs. Please hide your secrets before sharing the log and sent them to anchauh@microsoft.com

[2020-11-04 09:56] Arwinder4 commented on #13013
@uandrei can you please confirm if the issue is resolved or not?

[2020-11-04 09:58] Arwinder4 commented on #13076
@colindembovsky can you please confirm if you have tried upgrading the .net framework as mentioned above?

[2020-11-04 09:58] anuragc617 commented on #13659
closing this as the Artifact issue has been resolved and the customers is not responding. @vulegend feel free to ping if you still face this issue.

[2020-11-04 09:58] #13659 closed

[2020-11-04 10:03] shigupt202 commented on #12206
@StephanZaat That sounds like a fair point. However, we cannot change the behaviour of Configmap file as that would break back compat. But we can consider adding a new input to support `--from-env-file` if this is something that a lot of users want.
@anraghun Do you think we can do something about the documentation? We can probably mention that underneath this will be running `--from-file` which m

[2020-11-04 10:08] Arwinder4 commented on #12603
@PaszkoKaminski can you please confirm whether it's fixed or not?

[2020-11-04 10:33] shigupt202 commented on #13602
We are working on updating the docs for better understanding around helm save command. The update will be rolled out within few days.
Closing this issue, feel free to reopen in case of anymore questions or issues.

[2020-11-04 10:33] #13602 closed

[2020-11-04 11:06] #13580 closed

[2020-11-04 11:44] anuragc617 commented on #13807
@andrejpk passing parameters to working directory within single quotes works. You are missing single quotes around ${{ parameters.sourcePath }}. Pass it as ->    workingDirectory: '${​​​​{​​​​ parameters.sourcePath }​​​​}​​​​'

[2020-11-04 12:04] anraghun commented on #12206
@StephanZaat I've called out in the documentation that the task will use `--from-file` for clarity.

[2020-11-04 13:15] EzzhevNikita commented on #13689
Hey @silviulucacentriceu , if I understand your problem in right way the behaviour that you described is expected. According to the [release artifacts documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/artifacts?view=azure-devops#:~:text=After%20a%20release%20is%20created,same%20artifacts%20in%20all%20stages.), the version of the artifacts could be specified only on the

[2020-11-04 13:40] silviulucacentriceu commented on #13689
Hi @EzzhevNikita,

Thanks for the response.
The issue is still present: if I'm trying to create a new release (not to deploy it on some specific environments), the deleted version of the artifact is still used and I need to manually change it to one that exists: In "Create a new release" section, the "Version" dropdown includes also the deleted versions of the artifact (it should ignore the delete

[2020-11-04 13:53] uandrei commented on #13013
@Arwinder4 really sorry but not in a position to test this, so i'd just close the issue at the moment

[2020-11-04 17:51] jaliyaudagedara commented on #12770
@AmrutaKawade, thanks for the explanation!

So isn't this an issue with the npm task?

[2020-11-04 18:11] suwatch commented on #13585
Thank for reporting.  Responded on https://github.com/projectkudu/kudu/issues/3183.

[2020-11-04 18:43] StephanZaat commented on #12206
@shigupt202 I understand you cannot change the behaviour. I believe I've tried all the options of the kubectl task, but is there another solution to solve my use case?
At this point I am tempted to work with kubectl delete configmap / kubectl create configmap, which is not great.

[2020-11-04 18:51] shigupt202 commented on #12206
@StephanZaat You can use `create` command of Kubernetes task and give the other parameters in `arguments` input of the task, something like this:
![image](https://user-images.githubusercontent.com/57620559/98155813-ddfefe80-1efc-11eb-9099-e2e74103354b.png)

[2020-11-04 23:19] kenotron opened #13839 "CommandLine Task added a debug line that breaks builds"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  CommandLine

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

Azure Pipeline (office.vsts.com)

- Agent -

[2020-11-05 02:35] ihnorton commented on #9737
This would be incredibly useful.

[2020-11-05 04:20] AmrutaKawade commented on #12770
yes

[2020-11-05 04:37] #13822 closed

[2020-11-05 04:55] ds-ms commented on #13741
@akshansh04 could you take a look?

[2020-11-05 05:00] AmrutaKawade commented on #13163
Passing of login, database and server as a secret is also supported

[2020-11-05 05:00] #13163 closed

[2020-11-05 05:23] lubomir-angelov opened #13840 "DownloadPipelineArtifact task patterns not working"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Download Pipeline Artifacts task

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DownloadPipelineArtifact (V2)

## Environment
- Server - Azure Pipelines or TFS on-premi

[2020-11-05 05:44] AmrutaKawade commented on #13695
`AzureResourceFilterUtils.getResourceGroupName()` this function is being used in many tasks and we haven't received  any issue for this. Even I am not able to reproduce this. I am closing this issue. Feel free to reopen if issue still persists.

[2020-11-05 05:44] #13695 closed

[2020-11-05 05:54] #13813 closed

[2020-11-05 06:01] AmrutaKawade commented on #13455
@ericamundson Can you check if this helps https://docs.microsoft.com/en-us/azure/devops/pipelines/process/deployment-jobs?view=azure-devops#support-for-output-variables

[2020-11-05 06:07] #12802 closed

[2020-11-05 06:49] AmrutaKawade commented on #13455
Can you share debug logs for this issue? it will help to reproduce

[2020-11-05 09:25] EzzhevNikita commented on #13689
Hi @silviulucacentriceu,

Sorry it's my bad, seems I misunderstood your problem at first. I've checked the case you have described and it is not reproducible on the latest version Azure DevOps. Seems the issue was fixed. So could you please confirm that there no this issue on the Dev18.M170.6 version?

[2020-11-05 09:35] silviulucacentriceu commented on #13689
Hi @EzzhevNikita,

I am not able yet to fully test it, because the test server was only updated with azure update: Dev18.M170.6 version. The database wasn't updated and because of this, I don't have all the releases from the production server in order to be able to look deeper into it (delete artifact and create a new release for one of our release definition). When I tested it on the test server,

[2020-11-05 09:42] EzzhevNikita commented on #13689
Ok, I got you. Then I think we can close it for now. Feel free to reopen it in case the issue will appear for you once again.

[2020-11-05 09:42] #13689 closed

[2020-11-05 10:39] franck-schmidlin commented on #13695
Apologies for the delay in coming back - I have rerun my test calls direct to the REST API and cannot reproduce this either.
Might have been a transient error - just my luck.
Thanks for looking into it

[2020-11-05 11:06] StephanZaat commented on #12206
Yes, that would work, but does not make it idempotent in a pipeline.
So I'll need to do a delete / create anyway in 2 tasks, which I believe is the same functionality as this Force option:
![image](https://user-images.githubusercontent.com/15195218/98233180-edaf2f00-1f5e-11eb-9f9d-3e48500c32e9.png)

The common workaround does not seem to work within a ADO task:
`kubectl create secret generic my-se

[2020-11-05 11:41] mjazwiecki commented on #12720
any info on a progress?

[2020-11-05 12:05] AmrutaKawade commented on #13757
are you running this on hosted agent or private agent?

[2020-11-05 13:15] rolfik commented on #13605
The same problem with preview.3

[2020-11-05 13:31] pulla2908 opened #13842 "DotNetCoreCLI@2 reports wrong number of tests"
I am using yaml pipeline to run unit tests. As unit testframework we are using xUnit. In our solution we have 3 test projects with tests. .NET Core 3.1 is in use.

We configured the pipeline like this to run the tests:
[code]
Resulting command per test project:
[code]

All tests from all test projects are executed. See output from the test projects:

TestProject-1)
[code]
TestProject-2)
[code]
Tes

[2020-11-05 13:32] pulla2908 opened #13843 "DotNetCoreCLI@2 reports wrong number of tests"
I am using yaml pipeline to run unit tests. As unit testframework we are using xUnit. In our solution we have 3 test projects with tests. .NET Core 3.1 is in use.

We configured the pipeline like this to run the tests:
[code]
Resulting command per test project:
[code]

All tests from all test projects are executed. See output from the test projects:

TestProject-1)
[code]
TestProject-2)
[code]
Tes

[2020-11-05 13:32] #13843 closed

[2020-11-05 13:33] pulla2908 commented on #13843
this is a duplicate

[2020-11-05 13:36] AmrutaKawade commented on #13243
@frank-digirati Are you able to connect VM's primary network interfaces to LB?
Can you run this https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networkinterfaces/list and check whether it lists any primary network interface?

Response will look like this.

[code]

verify below two fields
`value[].properties.primary`
`value[].properties.macAddress`

[2020-11-05 13:53] AmrutaKawade commented on #13618
Closing this issue due to inactivity. Please feel free reopen with requested information.

[2020-11-05 13:56] anatolybolshakov commented on #13835
Please prepare e2e tests to cover this case also

[2020-11-05 14:20] damianon commented on #7654
This issue has been open for more than 2 years.
Is there a way to do this now?
When we switch to ACR in the UI like @JKrag mentioned it works once, but changes back to Docker Hub on the next deploy, so unfortunately that's not a viable solution.

[2020-11-05 14:31] damianon opened #13845 "DockerHostEndpoint for Docker@2 Task"
Why has that setting been removed from the Docker task?
Our self-hosted agents are docker instances, so they can't use the docker build command and our only way for now is using Docker@1 and accessing the docker host.

## Required Information

Entering this information will route you directly to the right team and expedite traction.

*Type*: Question

**Enter Task Name**: Docker@2

## Environment

[2020-11-05 14:33] damianon opened #13846 "Custom Docker Command on Docker@1"
Our on-prem agents for on-prem DevOps run as Docker containers.
Therefore we have to use Docker@1 to build docker images, as @2 apparently removed the setting dockerHostEndpoint.
However now the docker host get's filled with images and we'd like to issue a cleanup command (docker rmi) after pushing the image to our acr.

Is there a way to execute a custom docker command on the docker host using th

[2020-11-05 14:37] elFarto commented on #13824
I've also just noticed that the Maven task modifies the pom.xml file. This causes the Cache@2 task to complain that the pom.xml file was modified during the run, in addition to the conflict with the exiting jacoco plugin entry.

It would be nice to have an option to keep the collection of the coverage, and skip the modification of the pom.xml.

[2020-11-05 15:07] #12816 closed

[2020-11-05 15:22] srmagura opened #13847 "Cache@2 renames a folder to PaxHeader after populating the Yarn cache"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Bug

**Enter Task Name**: Cache

## Environment
- Server: Azure Pipelines, Account: CareServices, Project: CDS 2 App, Pipeline: CDS 2 Build, Build Number: 789 (among others)
- Agent: Hosted, Pool: Azure Pipelines, Image: windows-latest

## Issue Descri

[2020-11-05 15:41] gkarthiks opened #13848 "Could not copy the links shown as potential solution for the failed run in pipelines"
**Question, Bug, or Feature?**
*Type*: Feature

## Issue Description

On a failed run, the Azure Pipeline is displaying an error message and also displays a link to refer more. But the link is not copyable from the user interface. Attaching the screen print below.

![image](https://user-images.githubusercontent.com/30545166/98262094-3a205c00-1fab-11eb-9f8d-d32d5e8b187d.png)

[2020-11-05 16:05] ajbrun commented on #13618
It's been a few weeks since I've looked at this, but please see my initial post with these lines:
[code]

With those lines, a web config setting with the key name "authentication_domain" would get substituted, but if I map the variable value to a new variable "Authentication.Domain", then a key with the name "Authentication.Domain" does not get substituted.

The replication steps in my original po

[2020-11-05 16:34] igor-bakhtoiarov-8451 commented on #7654
@damianon Welcome on the 'lack of support' boat.

As previously described the following App Service configuration settings should be set before deploying anything to the App Service:
- DOCKER_REGISTRY_SERVER_URL
- DOCKER_REGISTRY_SERVER_USERNAME
- DOCKER_REGISTRY_SERVER_PASSWORD

I use Terraform to do that, but probably there is a CLI way. And manual via UI of course.

The AzureRmWebAppDeployment

[2020-11-05 17:26] ds-ms commented on #13846
The command section of both docker@1 and docker@2 are editable dropdowns. You can supply the command you want to run and additional arguments in the `arguments` input.

[2020-11-05 18:02] android-dataticket commented on #10574
Please can this be re-opened? this is happening to me on every build for some reason, same exact thing.. zipalign fail with exit code 1, complaining on some of the PNG files in resources - my gradlew is already set to assembleRelease - the zipalign fails whether I've set to assembleDebug or assembleRelease..

just started happening randomly, it used to build fine..  it builds fine in the local IDE

[2020-11-05 19:46] damianon commented on #13846
as far as i understand it, the command is just a selection of predefined values. at least according to the docs here:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/docker?view=azure-devops
(however i am unsure how to find the docs for older task versions)

[2020-11-06 03:48] junalmeida commented on #11864
I can also see terribly slow times in cache task on windows microsoft-hosted agents. A 1.5GB  package usually takes 40secs is taking more than 20 minutes or even timing out the whole build job.

[2020-11-06 05:17] anuragc617 commented on #13807
@andrejpk have you tried the above solution??

[2020-11-06 05:21] anuragc617 commented on #13623
@TheOnlyWei the fixed has been released. Can you verify the fix?

[2020-11-06 05:21] #13623 closed

[2020-11-06 06:07] #12818 closed

[2020-11-06 07:42] n1cho1as commented on #13593
Guys this is still an issue. I'm the one who first reported it and have encountered it by embedding a JSON map within a JSON Object parameter on the trigger. To reproduce the issue simply configure a trigger with a JSON object parameter and then publish it in your GIT enabled ADF instance. You'll immediately see that the JSON template value in the **adf_publish** branch will now contain an extra [

[2020-11-06 07:54] n1cho1as commented on #13593
I also looked at your link and it does not address this issue. The data becomes corrupted by the publish task which then causes a copy activity to fail as the extra [[ is not removed from the execution payload when the trigger fires.

If you were to edit the trigger manually with the raw value and publish it using a non-git enabled ADF instance it does not add the extra square bracket, this happen

[2020-11-06 08:05] Ruud-cb commented on #6759
I come here from https://github.com/Azure/azure-functions-host/issues/2697 where I am a bit confused if I should use zipdeploy or webdeploy now? It has already been 2 years ago but currently still experiencing issues that are described in the referenced issue.

[2020-11-06 12:59] cawoodm opened #13853 "Java Tool Installer Fails with "Java 8 is not preinstalled on this agent""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: JavaToolInstaller

## Environment
- Server - Azure Pipelines
- Agent - Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version: CentOS 7

## Issue Description

The t

[2020-11-06 13:23] alexander-smolyakov commented on #13853
Hi, @cawoodm could you please re-run the pipeline with the “[Enable system diagnostics](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#configure-verbose-logs)” option enabled and share the pipeline logs with system diagnostics information.

Thanks!

[2020-11-06 13:37] cawoodm commented on #13853
[code]

[2020-11-06 14:09] Andrei- commented on #7599
I just hit this issue last week, the difference between a successful deploy and a failed one is that the "IIS Web App Manage" task is now, for some reason, trying to add ssl certificate on hosting server. Any idea why?

![ghub error](https://user-images.githubusercontent.com/6005180/98375132-004e6480-2042-11eb-99f3-7a0482d189af.JPG)

[2020-11-06 14:34] davidhwang-ij commented on #11191
My release failed even with these three parameters:
/p:BlockOnPossibleDataLoss=false, /p:AllowDropBlockingAssemblies=true , /p:TreatVerificationErrorsAsWarnings=true

BUT I resolved the issue by manually updating the Azure SQL within SSMS with the updated database first.
- Right click the local database > Tasks > Export Data-tier Application (save in a local folder)
- Make a connection to Azure SQ

[2020-11-06 18:07] #12794 closed

[2020-11-06 19:04] lubomir-angelov commented on #13840
Possible root cause is the '.' in the filename
https://github.com/isaacs/minimatch/issues/82

To be tested

[2020-11-06 19:29] #13520 closed

[2020-11-06 23:45] ryanrodemoyer opened #13858 "Visual Studio Test task fails randomly without error message, Exit code 1 returned from process: node.exe"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-11-07 00:27] dzak83 opened #13859 "BashV3: Unable to locate executable file: 'bash'"
*Type*: Bug

**Enter Task Name**: BashV3

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure Pipelines

## Issue Description

In the last few days our bash command stopped working. I am trying now bash task with hello world on Windows machine but I am getting the error:

Unable to locate executable file: 'bash'. Please verify either the file path exists or the file can be found wi

[2020-11-07 09:27] js-hdl opened #13860 "InstallSSHKey does not handle paths with spaces when no passphrase is used"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: InstallSSHKey
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/InstallSSHKeyV0

## Environment
- Server - Azure Pipelines or TFS on-premises? On-Premise

    - If using TFS on-premises, provide the version: Azure DevOps Server version Dev17.M153.5; Task v0.151.2

    - If using Azure Pipel

[2020-11-08 12:42] Ashanmg commented on #9458
I had the same issue with this. after that changing the deployment command **package** directory which is read from the build file folder path.
After giving the correct path deployment was successful for me.

[2020-11-08 15:07] #12617 closed

[2020-11-09 03:20] Zanadar commented on #13491
I am also experiencing this issue... can anyone confirm that removing a particular windows update resolves the issue?
Doesn't seem like anything else changed on the system in question.

[2020-11-09 05:44] #13013 closed

[2020-11-09 06:08] #12831 closed

[2020-11-09 06:08] #12834 closed

[2020-11-09 06:50] kraay commented on #6733
Thank you. This worked for me.

[2020-11-09 06:52] miqm commented on #13781
I just spend 1h of trying to figure out what's wrong with my template... VSCode ARM Template syntax checker does not see any issue, while when deploying I'm getting invalid JSON format.

This does not work:
[code]
Nor this:
[code]
In both cases, VSCode does not see any problem with the template.

[2020-11-09 07:07] max-zaytsev commented on #13672
Hi @otebos, Is it still relevant for you? Have you had a chance to create a reproducible project for us?

[2020-11-09 07:14] damianon commented on #7654
@igor-bakhtoiarov-8451 settings the credentials would solve the authentication issue, but then how do i set image and tag to deploy? this would normally be done using the deploy webapp task, but doing so switches the container settings back to docker hub and deletes the credentials.

[2020-11-09 07:42] alanta commented on #13781
The easiest fix I found is to put the string on one line with `\n` for newlines:

[code]

I am able to deploy certs and keys to container instances with that format.
Note that VS Code doesn't think there is a problem because the template is in fact valid. Both Azure Powershell and Azure CLI will happily deploy templates with multi-line strings. Only the pipeline task has a problem with the JSON sy

[2020-11-09 07:48] mcalnd70 commented on #13163
@AmrutaKawade Please post a link to show this please, rather than just closing it - thanks

Last time I tried it back in June 2020 this was not supported, so what has changed?

[2020-11-09 07:54] navin22 commented on #13511
@Arwinder4 let's create a user voice item for this instead of  ADO work item.

Close this based on no activity. And will post the user voice item based on the question.

[2020-11-09 07:54] #13511 closed

[2020-11-09 07:59] miqm commented on #13781
The thing is, that azure cli also has a problem with this. Perhaps if you deploy through portal it will, but az cli also does some parsing before and also fails.

[2020-11-09 08:07] DaniilShmelev commented on #12067
The customer seems to be inactive, so I'm going to try to give everyone the best solution I could find.
@zziga's last response is correct: maven injects jacoco configuration into pom.xml, which means you mustn't do it yourself. This behavior doesn't seem to be documented anywhere, so I'm going to prepare some documentation changes for MS docs regarding this task.

[2020-11-09 08:07] #12067 closed

[2020-11-09 08:29] anatolybolshakov commented on #13801
@DevonBritton ok, let me close this issue at the moment - please feel free to reopen it when you'll be able to check it

[2020-11-09 08:29] #13801 closed

[2020-11-09 08:33] suyash691 commented on #13355
There is no workaround for this apologies.
We can investigate this but since this is a legacy behaviour (on which certain customers would've taken reliance on) we cannot simply change it

[2020-11-09 08:34] suyash691 commented on #12863
Closing this issue as the workaround provided has solved the problem

[2020-11-09 09:18] pulla2908 commented on #13842
maybe it is related to Data-Driven xUnit tests, found a similar case [here](https://github.com/microsoft/azure-pipelines-tasks/issues/12327)

[2020-11-09 10:14] zziga commented on #12067
@DaniilShmelev Many thanks for the follow up!

Maybe also worth mentioning in here or in a separate issue:
- **codeCoverageToolOption: JaCoCo** also injects **clean** to task **goals**. That is documented. But unfortunately mandatory. While it is safer choice, it does not allow reuse of already existing ./target directory. Pipelines with multiple maven tasks can end up compile, test, package _twic

[2020-11-09 10:42] frank-digirati commented on #13243
This is the output of Resource group on Load Balancer

{
  "value": []
}

[2020-11-09 10:51] frank-digirati commented on #13243
This is the output from the Resource Group for  the VM, removed subscription id

`
"value": [
    {
      "name": "az-d-deploytest219",
      "id": "/subscriptions/ #######################/resourceGroups/DigiratiResources/providers/Microsoft.Network/networkInterfaces/az-d-deploytest219",
      "etag": "W/\"f0175214-3515-4d95-8f39-c80d1433afa8\"",
      "location": "northeurope",
      "properties"

[2020-11-09 11:14] Liran-Dobrish opened #13863 "ZipAlign for android failed on OSX"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Android signing

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server: Azure DevOps Server 2019.1 (17.M153.5)
- Agent - Hosted or Private: Private

[2020-11-09 11:18] anuragc617 commented on #13656
Adding @phanikmmsft to take a look at dotnet test

[2020-11-09 11:21] DaniilShmelev commented on #12067
Good points @zziga, do you mind opening a new issue?

[2020-11-09 12:26] AmrutaKawade commented on #13243
@frank-digirati where are you trying to run this task? on which machine? is it on VM which you are trying to connect to LB?

[2020-11-09 12:41] PaszkoKaminski commented on #12603
I have no control over the versions the system uses. Currently I'm still working on version 2.171.0
As soon as the administrator changes the version and I can check it, I will let you know.

[2020-11-09 12:42] anatolybolshakov commented on #13863
Hi @Liran-Dobrish could you please check that you're building app in release configuration? This error with zipalign usually happens with apk build in debug configuration.

[2020-11-09 12:43] anatolybolshakov commented on #10574
Hi @LukaszGrela @android-dataticket could you please check that you're building app in release configuration? This error seems to be different from mentioned in this ticket and usually happens with apk built in debug configuration.

[2020-11-09 12:47] anatolybolshakov commented on #13859
Hi @dzak83 do you use self-hosted agent or ms hosted?

[2020-11-09 13:18] Liran-Dobrish commented on #13863
Hi @anatolybolshakov ,
i first run "/Users/macserver/Agents/Mac_Ag2/_work/10/s/MobileDemoApp/gradlew clean --quiet"
and then  "/Users/macserver/Agents/Mac_Ag2/_work/10/s/MobileDemoApp/gradlew **assembleRelease**"

[2020-11-09 13:22] android-dataticket opened #13864 "Hi @LukaszGrela @android-dataticket could you please check that you're building app in release configuration? This error seems to be different from mentioned in this ticket and usually happens with apk built in debug configuration."
Hi @LukaszGrela @android-dataticket could you please check that you're building app in release configuration? This error seems to be different from mentioned in this ticket and usually happens with apk built in debug configuration.

_Originally posted by @anatolybolshakov in https://github.com/microsoft/azure-pipelines-tasks/issues/10574#issuecomment-723989750_

I can confirm we are using assemble

[2020-11-09 13:22] #13864 closed

[2020-11-09 13:23] android-dataticket commented on #10574
I can confirm we are using assembleRelease and it is still failing.

[2020-11-09 14:56] damccorm commented on #13848
Hey @gkarthiks this looks like an issue with the service generally, not with a specific task. Would you mind opening an issue at https://developercommunity.visualstudio.com/spaces/21/index.html? That should ensure it gets the right eyes on it

[2020-11-09 14:56] #13848 closed

[2020-11-09 15:30] Eneuman opened #13867 "BUG: Missing credentials in WindowsMachineFileCopyV2 task?"
This is a bug report

It seems like the credentials are missing from the Test-Path check in the WindowsMachineFileCopyV2 task.

https://github.com/microsoft/azure-pipelines-tasks/blob/178e687dcc35c116d867c2f1eb3b96e76981a6cd/Tasks/WindowsMachineFileCopyV2/Utility.ps1#L26

Lets say you have a onprem Deployment Server D1 and it runs as user "A".
It has a task to copy files from server S1 to S2. User

[2020-11-09 15:32] DaniilShmelev commented on #13711
Hi @vairakkumar-vairaperumal, sorry for the delay: we faced with some issues due to Node14 migration, so it's reverted currently - I updated related docs as well.

[2020-11-09 15:32] #13711 closed

[2020-11-09 17:00] alexgurman commented on #12862
I am seeing the error when I use variables to specify download specs, using hard coded values works. Reported to Support team as a bug.

[2020-11-09 17:32] ddivanshu commented on #13780
@dirkslab  any update?

[2020-11-09 21:06] #12811 closed

[2020-11-09 21:06] #12742 closed

[2020-11-09 23:07] ThadHouse opened #13869 "Is there a way to print out which files were downloaded with CacheV2"
This morning, 11/9 we noticed that our cache tasks were no longer working correctly. They say all the archives were downloaded, but none of the files that should have been downloaded show up in the build tree. Trying to debug this, and not getting anywhere. Is there a way to have the task print out all the files that are downloaded from the cache?

[2020-11-10 00:20] MattGal commented on #13250
Hi @romil07 and @ashokirla ... any progress on fixing this issue ?

Recent incidence:  https://github.com/dotnet/runtime/pull/44392/checks?check_run_id=1376226460

[2020-11-10 01:59] danmosemsft commented on #13250
Direct link for one above https://dev.azure.com/dnceng/public/_build/results?buildId=879840&view=logs&jobId=b62b1571-aad0-50ee-4a73-da3c82a85c95&j=b62b1571-aad0-50ee-4a73-da3c82a85c95&t=35455d84-638c-5332-d211-8e460f5d43ab&s=d654deb9-056d-50a2-1717-90c08683d50a

[2020-11-10 04:15] dzak83 commented on #13859
I think we use self-hosted agents.

[2020-11-10 05:12] AmrutaKawade commented on #13757
@clifmo sorry i did not check your description thoroughly. you had mentioned its private agent. can you check C:\Windows\System32 is added to your path on private agent. Ref https://stackoverflow.com/questions/51856618/vsts-windows-machine-file-copy-robocopy-not-found

[2020-11-10 06:07] dirkslab commented on #13780
@anuragc617 Apologies, did not see notification in my mail on your response.
What does it mean when you say you could not repo? Are you saying a securestring parameter in subscription level deployment are not visible in azure deployment logs from your testing?
I will create an example with the logs I have and send to you as requested.

[2020-11-10 07:43] dirkslab commented on #13780
[subscriptiondeployment-vaults.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5515542/subscriptiondeployment-vaults.zip)
[ExportedTemplate-demo01-dev-vault-core-we.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5515567/ExportedTemplate-demo01-dev-vault-core-we.zip)
@anuragc617 I have attached an example subscription deployment template with basic vault and 1 secret. A

[2020-11-10 08:14] pulla2908 commented on #13842
It seems to me it is related to Data-Driven xUnit Tests when using "Theory". I added a new test method as "Theory" with 2 test cases ("InlineData"). In my local IDE I can see 2 more tests. But in Azure DevOps the number of total tests was increasted just by 1 (although both tests were executed).

[2020-11-10 08:16] Talha-B opened #13871 "CacheV2"
I have some questions around CacheV2 as it is not behaving as expected, despite having followed the documentation.

1. Where is the cache stored, is it on the build agent?
2. Can the cache be deleted manually - as a one off, in a non-programmatic manner, to ensure a 'clean slate'?
3. If we have an agent pool and different runs of a pipeline end up using different build agents, would the cache stil

[2020-11-10 09:46] tauhid621 commented on #13424
Closing the issue. Please create a new issue if this still persists.

[2020-11-10 09:46] #13424 closed

[2020-11-10 09:51] lamamakara commented on #13824
@alexander-smolyakov I saw you removed bug label from this issue.
I am having the same problem and its really looks like a bug.

[2020-11-10 10:13] clifmo commented on #13757
Thank you. I am almost certain I confirmed this but will check again.

It's definitely agent configuration, since I resolve this issue by using other agents.

Will update soon.

[2020-11-10 11:46] GokGokalp commented on #11414
I'm also getting this error with helm 3.2.4 x64 and also tried other versions.

Any updates?

[2020-11-10 13:37] shigupt202 commented on #11414
@GokGokalp Can you share the HelmDeploy task version? You can find it in the pipeline logs.

[2020-11-10 14:27] GokGokalp commented on #11414
This is the version: Version      : 0.177.0

As temporary solution, I've disabled the "Fail on Standard Error" property.

[2020-11-10 14:31] shigupt202 commented on #11414
That's what the solution is. We have made the default value of `failOnStderr` to false now. If it was explicitly set to true in the pipeline earlier, you need to make it false.

[2020-11-10 15:15] Alexlofern commented on #13559
Hi @AmrutaKawade, I hope you are well.

Hoe much time for release this?

Regards

[2020-11-10 15:47] gwill1010 commented on #13491
I have the exact same issue too.  Please respond.

[2020-11-10 16:24] rgoddard-DE commented on #13604
upvote...this is a massive issue for my org.  Why isn't devops trusted by azure?  Does this mean I shouldn't trust and pay for devops?  Is it not part of the azure environment offering?  Is it not a microsoft product?  The logic behind not trusting it makes me wonder if I should use and pay for the service.

[2020-11-10 18:03] octogonz commented on #13646
This problem is tracked by: https://github.com/microsoft/azure-pipelines-tasks/issues/11484

[2020-11-10 22:36] Lamerchun opened #13875 "Ftp Upload Task: cleanContents should support excluding folders like App_Data"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: FtpUpload

## Issue Description

I wan't to use FTP Upload to deploy built Apps to my Server via FTP.
For this i want to be able to cleanContents of the existing remoteFolder, but exclude the App_Data folder.

[2020-11-11 03:07] MisinformedDNA opened #13877 "DotNetCoreCLIV2: Publish command fails when the output parameter and the working directory are specified"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLIV2

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DotNetCoreCLIV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

When using dotnet publish, an output parameter and a working directory. the task looks for the fil

[2020-11-11 04:37] AmrutaKawade commented on #13559
Deployment has already started for this. By coming Tuesday it will be available.

[2020-11-11 09:31] thomasgalliker commented on #8812
@marcelopontipedra but you're sure you understand the purpose of separating build and release pipelines? When I see that this feature does not exist, I'm not even sure if Microsoft/devops understands the need for it. Deploying software is not always just a matter of publishing something to azure...

[2020-11-11 09:35] anatolybolshakov commented on #11593
Hi @murugan-mp @jrybacek @AlexA-1976 could you please check it now? We have rolled out related changes for ExtractFiles task - so it should be available now

[2020-11-11 09:49] gbusch opened #13879 "Cache@2 task ignores "path""
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache@2, Azure Pipelines

## Issue Description
Since 09. November, we experience issues with Cache@2 Task in Azure Pipelines.
We use it to cache Docker images, as described in the [Pipeline Caching documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#docker-images).

As we could fin

[2020-11-11 09:51] gbusch commented on #13871
Could this be related to the issue that I describe in #13879?

[2020-11-11 09:51] gbusch commented on #13869
Could this be related to the issue that I describe in #13879?

[2020-11-11 10:23] flts commented on #13869
Same here, the Cache tasks report that they have found a cache based on the key and everything is downloaded. Once we want to use the files from the cache in a different task it reports that the folder/files are missing.

[2020-11-11 10:28] marcelopontipedra commented on #8812
Hi Thomas
It was an alternative way to finish my tasks. It was helpful for me, which I was able to give report from a 3 to 4hrs of build.

[2020-11-11 10:32] biltongza commented on #13879
Getting the same issue caching node_modules, the task is not respecting the path parameter anymore.

[2020-11-11 10:34] marcelopontipedra commented on #8812
I understand the separation of build and release, but I need the reports. I only did it for only 3 months, then go back to "build and release".
My tasked was done everyone was happy. :)

[2020-11-11 10:46] kunliubrewing commented on #13879
Same here since 10th November 2020

[2020-11-11 11:55] denravonska commented on #13879
Same here. One build succeeded 10th of November, now they fail.

With the path being passed to Cache is `$(Pipeline.Workspace)/.pip`.

[2020-11-11 12:10] AmrutaKawade commented on #13757
@clifmo did you get a chance to verify? can we close this? as this is not related to task but agent configuration and you found the solution.

[2020-11-11 12:11] AmrutaKawade commented on #13243
@frank-digirati any update?

[2020-11-11 12:12] AmrutaKawade commented on #13455
@ericamundson any update?

[2020-11-11 12:29] clifmo commented on #13757
I haven't but please close. I worked around it. Ty

[2020-11-11 12:48] #13757 closed

[2020-11-11 13:01] phasmatic2k commented on #10571
I have the exact same problem

[2020-11-11 13:24] anatolybolshakov commented on #13392
Hi @MatkovIvan we have rolled out fix for this issue - please feel free to reopen if it's still actual for you

[2020-11-11 13:37] suyash691 commented on #13297
You need to provide the absolute path in order to publish attachments via this method

[2020-11-11 13:50] alisebt commented on #366
In my case, it was because I defined npm in the agent's capabilities in a wrong way. after correcting the variable and restarting the agent the problem has been resolved!

[2020-11-11 14:17] anatolybolshakov commented on #13716
Hi @nickgsoft is it still actual for you?

[2020-11-11 14:55] egor-bryzgalov commented on #13637
Hi @carstenhag @Lubans

The fix has been deployed. Please feel free to reopen this ticket if you have any issues.

[2020-11-11 14:55] #13637 closed

[2020-11-11 15:00] StefanOssendorf opened #13881 "Classic Task Use .Net Core fails on valid global.json"
**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: Use .Net Core  (Classic Task not YAML)

## Issue Description

Use .Net Core fails when using the global.json file.
[code]

This global.json file is according to [global.json documentation](https://docs.microsoft.com/de-de/dotnet/core/tools/global-json).

### Error logs

[code]

[2020-11-11 15:37] AmrutaKawade commented on #13774
Adding `https://*.windows.net` in trusted sites on VM should fix this issue for AzureFileCopy V4

![image](https://user-images.githubusercontent.com/65217380/98831406-8e22b900-2461-11eb-849a-5a10c6f3f6d2.png)

[2020-11-11 15:37] #13774 closed

[2020-11-11 16:47] ryanrodemoyer commented on #13785
Could this be a possible explanation for #13858 ?

[2020-11-11 17:05] jpivarski commented on #13785
That link points to something about Visual Studio. This was something that only affected MacOS, not Windows.

In my experience over the past week (seeing that my comment here was 9 days ago), it got worse for a few days—intermittent with a higher probability, sometimes even affecting the restarted job—then got much better. I haven't seen this issue in days.

@alexander-smolyakov thought it was rel

[2020-11-11 18:41] sergiuturus commented on #9046
I am still facing the issue: `##[error]Unhandled: Failed find: ENOENT: no such file or directory, stat '/Users/runner/work/1/s/platforms/ios/build/device/AppName.app'`

[code]

[2020-11-11 18:56] anatolybolshakov commented on #9046
@sergiuturus is '/Users/runner/work/1/s/platforms/ios/build/device/AppName.app' path valid or is this valid symlink?

[2020-11-11 19:00] anatolybolshakov commented on #9046
@sergiuturus we prepared a fix for this issue but it will take some time (about 3 weeks) to roll it out - I'm going to remove 'awaiting deployment' label once it's rolled out

[2020-11-11 19:01] sergiuturus commented on #9046
I think so. `ls $(system.defaultworkingdirectory)/platforms/ios/build/device` shows a list of files, including AppName.ipa

[2020-11-11 19:39] lindt commented on #13879
is there a test case describing the expected behaviour? @johnterickson @nadesu

[2020-11-11 20:34] matthoulb commented on #12609
Why has this been closed?

The "Use .NET Core" task specifically states:
"Acquires a specific version of the .NET Core SDK from the internet or the local cache and adds it to the PATH. **Use this task to change the version of .NET Core used in subsequent tasks**. Additionally provides proxy support."

The actual functionality appears not to be this at all?  It appears to install the requested vers

[2020-11-11 21:06] #12468 closed

[2020-11-11 21:14] NaagAlgates commented on #13785
I faced a similar issue yesterday and created a ticket: https://developercommunity2.visualstudio.com/t/azure-pipelines-for-ios-returned-exit-code-134-https://developercommunity2.visualstudio.com/t/azure-pipelines-for-ios-returned-exit-code-134-ass/1249827

and I was redirected to this ticket. But seems like the ticket is already closed, which is not.

[2020-11-12 00:17] #12845 closed

[2020-11-12 01:07] michael-hawker opened #13882 "GitHub Release Task saying Repository is not valid for 'windows-toolkit/WindowsCommunityToolkit'"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:

GitHub Release 1.*

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: https://dev.azure.com/dotnet/WindowsCommu

[2020-11-12 01:20] michael-hawker commented on #13882
I was trying to use the OAuth authentication, I switched to a PAT and it seems to not be complaining???

[2020-11-12 07:47] nehsharmMS commented on #13130
@kcentralsquare are you still blocked on this issue or can we close this now?

[2020-11-12 07:51] nehsharmMS commented on #13542
@davidguidali any update on this?

[2020-11-12 09:01] tete2soja commented on #12147
Hello,

I have the same issue using Ansible Extension:

[code]

The output is showing up as failed even if the ansible return is success.

[2020-11-12 09:12] anatolybolshakov commented on #13859
@dzak83 could you please verify that it bash is reachable from command line - and specified in PATH?

[2020-11-12 09:15] anatolybolshakov commented on #11593
@TFleury  @murugan-mp  @jrybacek @AlexA-1976 I'm closing it at the moment - please let us know if there are still any issues

[2020-11-12 09:15] #11593 closed

[2020-11-12 09:15] PaszkoKaminski commented on #12603
OK. Version is still 2.171.0 but the problem is gone. I have two build to compare
10 lis 2020 at 12:52 CET Have this problem
10 lis 2020 at 21:08 CET Problem is gone.
Version of task is not changed.

[2020-11-12 09:15] #12603 closed

[2020-11-12 12:00] AmrutaKawade commented on #13455
Closing this issue due to inactivity. Feel free to reopen if issue persists.

[2020-11-12 12:23] guillermomartinez-accenture commented on #11980
@jahsu-MSFT may you inform what's the resolution of this request?

[2020-11-12 12:42] anatolybolshakov commented on #13863
@Liran-Dobrish could you please check also that it works locally without any issues? We can't reproduce it at the moment...

[2020-11-12 12:57] tejasd1990 commented on #13877
@MisinformedDNA , the error is occuring not during `dotnet publish`, but during zipping the publish results after that. The input `publishTestResults` is [set to `true`](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DotNetCoreCLIV2/task.json#L140) by default. To zip, you will need to give the argument as `--output $(System.DefaultWorkingDirectory/drop`(giving the argument li

[2020-11-12 13:22] #12863 closed

[2020-11-12 14:03] kcentralsquare commented on #13130
@nehsharmMS Have you fixed the issue? I've switched to a script instead of using this task, but I would much prefer to use the task.

[2020-11-12 14:22] glazzari commented on #12593
Hey @anatolybolshakov do you have any update on this?

[2020-11-12 14:25] anatolybolshakov commented on #12593
Hi @glazzari we prepared a fix here and going to roll it out- usually it takes about 3 weeks to be done

[2020-11-12 14:27] anatolybolshakov commented on #13824
Hi @frochi42 @elFarto @lamamakara I changed label for this issue - since it sound more like some bug. We are going to handle this in the near time.

[2020-11-12 16:23] tjrobinson opened #13885 "AzureFunctionApp@1 - unable to use zipDeploy with Linux consumption plan"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: `AzureFunctionApp@1`

## Environment
- Server
  - Azure Pipelines
  - Account name: `empactis`
  - Team project: `Azure Functions`
  - Build definition name: `Azure Functions Build (Printing)`
  - Build definition ID:

[2020-11-12 16:41] jahsu-MSFT commented on #11980
Adding @fadnavistanmay who's maintaining the PublishPipelineArtifact task - can you please help answer @guillermomartinez-accenture's inquiry?

[2020-11-12 17:03] flbaue opened #13886 "Feature Request: YAML support for FileTransform"
I am currently working on a Flutter project and it would be very helpful to use the FileTransform task to modify the pubspec.yaml file.

[2020-11-12 17:26] Liran-Dobrish commented on #13863
actually if i run the same command used by the task from a console it also fails with the same errors

[2020-11-12 18:44] ViktorHofer commented on #12462
Can we please re-open the issue? We just hit this in dotnet/runtime: https://github.com/dotnet/runtime/issues/44595. Ideally there would be a way to retry the task if the connection abruptly fails?

[2020-11-12 19:31] sylvesp opened #13887 "Nuget 5.8.0.6930 cannot handle projects that support multiple .net framework version"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NugetCommandV2

## Environment
- Server - Azure Pipelines
- If using Azure Pipelines,
     account name: psylvester@Microdesk.com
     team project name: Microdesk.BIMrx
     build definition name/build number: 813d977d9c26bbc225f3fa4fb2cd1c8455b856e5

#20201112.12 Update full-build.yml for Azure Pipelines
-

[2020-11-12 20:36] rapritchard commented on #4127
Also runnimg into this problem when I'm trying to deploy a next.js project whi

Zipped folder with node_modules is 100mb.

[2020-11-12 20:45] sermetk commented on #13877
Because --output parameter is trying to find a wrong directory. I used dotnet publish task without output parameter after that I used this workaround temporarily:
[code]

[2020-11-12 20:55] shaneholder opened #13888 "Update AzureFileCopy@4 to use AzCopy 10.6.0"
Can AzureFileCopy@4 be updated to use AzCopy 10.6.0?  I believe that there is an issue in creating content-types when copying javascript files to Blob storage.  This issue seems to be resolved in at least 10.6 when I deploy from my local system.  Currently I'm needing to run 2 Copy commands to work around this issue.  The first copies all files then I copy the files specifying additional arguments

[2020-11-13 04:51] dzak83 commented on #13859
I don't have direct access to that machine. Will the task not install the environment when bash is not available?

[2020-11-13 06:42] JunielKatarn commented on #11435
Same issue here.
Is there at least a workaround?

[2020-11-13 07:20] JunielKatarn commented on #11435
@arunkm You seem like the maintainer of this feature.
Can you please comment?

[2020-11-13 07:26] Jeej opened #13890 "AzurePowerShell - Initialize Az in the PowerShell version that execute the given script"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShell

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    - Sorry, cannot share client details publi

[2020-11-13 08:23] #13672 closed

[2020-11-13 09:07] #12872 closed

[2020-11-13 10:00] tjrobinson commented on #13885
I've worked around this by using the Azure Functions Core Tools instead of the `AzureFunctionApp` task:

[code]

[2020-11-13 10:34] cawoodm commented on #11544
The option `failTaskOnFailedTests` seems to be there now but it doesn't do anything. We have a test step (with `continueOnError: true`) which has failing tests (the test step is green) and the `PublishTestResults@2` step is also green so you never know your build failed. If you switch `continueOnError: false` (or off) then you never get to the `PublishTestResults` step.

This could be a known issu

[2020-11-13 10:35] cawoodm commented on #11934
We are seeing this issue on `2.165.0`. `failTaskOnFailedTests: true` does nothing: failed tests do not fail the task.

[2020-11-13 10:52] cawoodm opened #13892 "Cmdline task won't execute anything after yarn on windows server"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Command line

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: This is sensitive information

- Agent - Hosted

[2020-11-13 15:37] bnbarak commented on #12718
We had the same issue when one pushes twice in small time interval. So the PR triggered the pipeline twice in the same 60 seconds, resulting in the same fail. Is there an option to turn off batch per PR?

[2020-11-13 16:12] anatolybolshakov commented on #13629
Ho @henryju we have rolled out the fix for this issue - please check if it works for you currently.

[2020-11-13 16:56] craigsmitham commented on #4127
I opened a support ticket with MS. I've copy/pasted the current assessment of the situation below.

TL;DR: When JSON variable substitution is used in the task it will unzip the artifact package to perform the replacement in the file. This issue emerges (for us intermittently, around 25% of the time) during this unzip process. Supposedly, the "Extract Files" task has a more reliable unzipping mecha

[2020-11-13 18:14] anatolybolshakov commented on #9046
@sergiuturus as a workaround at the moment - you can just set the path to ipa file more specifically - so it won't contain broken symlinks

[2020-11-13 18:36] lehne opened #13893 "No Option in Azure App Service Deploy Task (Linux) for .NET 5"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure App Service Deploy

## Environment
- Server - Azure Pipelines

## Issue Description

[Include task name(s), screenshots and any other relevant details]
The options that I have are:
![image](https://user-images.githubusercontent.com/4531382/99108129-e7e7c800-25b4-11eb-9f64-e565d09cc00e.png)

I need to be

[2020-11-13 18:53] illegalnumbers commented on #10969
I have seen this same issue.

[2020-11-13 19:17] Alexlofern commented on #13559
Tks @AmrutaKawade, works fine ....

[2020-11-13 19:33] richardgavel commented on #11546
@jahsu-MSFT Your comment "for using a name for a pipeline, it should already be available in the latest agent version" does match this result I'm getting:

##[debug]   at System.Number.ThrowOverflowOrFormatException(ParsingStatus status, TypeCode type)
   at System.Number.ParseInt32(ReadOnlySpan`1 value, NumberStyles styles, NumberFormatInfo info)
   at System.Int32.Parse(String s)
   at Agent.Plu

[2020-11-13 20:55] rmundhe-iastate commented on #11864
Same issue. 1.5 minutes for 308.5 MB.

[2020-11-13 23:23] pakrym opened #13895 "UseDotNet fails with {"errno":"ECONNRESET","code":"ECONNRESET","syscall":"read"}"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UseDotNet

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

    https://dev.azure.com/azure-sdk/public/_build/results?buildId=6

[2020-11-14 00:26] pakrym commented on #13895
We see this issue a lot when installing .net 5.0.

[2020-11-14 02:10] nickgsoft commented on #13716
@anatolybolshakov  thanks for your help, but recently i have not came across such issue yet.

[2020-11-14 05:36] cawoodm commented on #10842
The [documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops) says a cache is "immutable" - created once and frozen in time and then points to this feature but I don't see any correlation between immutability and cache fallbacks.

Does this feature allow my cache to be loaded by a fixed key "foo", the directory updated by the pipeline (say by downlo

[2020-11-14 06:16] cawoodm commented on #13892
Thanks to [Oz Solomon](https://stackoverflow.com/a/64823226/279255) for solving this for me:

[2020-11-14 06:16] #13892 closed

[2020-11-14 06:19] cawoodm opened #13896 "Cache File Not Found - But it's not a filename"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: This is sensitive information

- Agent - Hosted or Private:

    - Hosted: ubuntu-18.04

## Issue Description

The cache task thinks that the strin

[2020-11-14 07:34] cawoodm commented on #8812
We run functional testss (cypress) after we deploy a release. These tests produce screenshots/videos of failed tests. How can we view/access these files if a release pipeline is not allowed to publish anything?

[2020-11-14 09:20] poke commented on #12742
@bishal-pdMSFT Can we reopen this?

If there's no time for MS to address this, I could offer to take a look at fixing this myself.

[2020-11-14 10:48] chinaysun opened #13897 ".xcresult file have zero code coverage"
**Question, Bug, or Feature?**
*Type*:  Question/Bug

**Enter Task Name**: Xcode@5

## Environment
Pool: Azure Pipelines
Image: macos-latest
Agent: Hosted Agent

Xcode 11.7

## Issue Description

The code coverage from the .xcresult file generated via the Xcode@5 is incorrect.
The pipeline used to run well but recently start to occur this problem. Looks like it happens when try to merge new code t

[2020-11-15 12:08] #11840 closed

[2020-11-15 13:02] shayki5 commented on #5112
+1 !

[2020-11-15 15:06] #12891 closed

[2020-11-15 15:06] #10689 closed

[2020-11-15 15:06] #8585 closed

[2020-11-15 20:58] artmasa commented on #13895
We started seeing this error today

[2020-11-15 21:18] Trolldemorted commented on #10831
Was this fixed in the meanwhile?

[2020-11-16 06:03] ShreyasRmsft commented on #13754
@mailtopavanc are you on AzureDevOps services or Azure DevOps server (TFS onprem)?

[2020-11-16 06:18] ShreyasRmsft commented on #12727
Closing this based on the comment above.

[2020-11-16 06:18] #12727 closed

[2020-11-16 08:26] EzzhevNikita commented on #13897
Hi @chinaysun, Could you please provide logs with enabled diagnostics for the pipeline run where this issue happens?

[2020-11-16 08:43] xncbf commented on #13275
Anybody working on this issue? This option is essential

[2020-11-16 09:10] TekuSP commented on #12727
Bug is not resolved, close this bug when you finish your code coverage tab.
Until then, let it be red, bad number in your dashboard.

[2020-11-16 09:12] henryju commented on #13629
Tested successfully, thanks!

[2020-11-16 10:00] gbusch commented on #13879
For some time, only the "path" variable was ignored, but the cache.tar was still there, in the $(Pipeline.Workspace).
Since Friday, we cannot find the cache.tar at all, so the cache-task essentially becomes unusable.
Can you confirm that?
Stefan opened a ticket in the MS Developer Community as well: https://developercommunity.visualstudio.com/content/problem/1256842/pipeline-caching-is-broken.html

[2020-11-16 10:47] marcosfriasraet opened #13899 "Azure devops. AzureCLI extension. az login command fails"
HI All.

We have a self-managed pool that PD teams use for different build processes. These servers make use
of the azure devops azure cli extension. We've had this random error for ane week back.
I have tried updating the agents but we keep getting this error.

##[error]Error Code: [1]
##[error]Error: Azure login failed
##[error]Script failed with error: Please ensure you have network connection.

[2020-11-16 11:22] DanBradbury commented on #11658
Any information from Microsoft team care to respond before this just becomes a +1 train?

@egor-bryzgalov ? first person I saw in Closed issues that was on Microsoft team

[2020-11-16 13:10] anatolybolshakov commented on #13716
@nickgsoft ok thanks! I'm closing it at the moment, please feel free to reopen if you will face with it again.

[2020-11-16 13:10] #13716 closed

[2020-11-16 14:22] error0327 opened #13902 "Azure File Copy Capital letters issue in target path"
Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - using TFS on-premises  version:

- Agent - Hosted or Private:

Windows Vm running Windows_NT agent version : 2.144.2

## Issue Description

Container name include a directory path with capital le

[2020-11-16 14:55] eric-labelle opened #13903 "AndroidSigning - zipalign should be default to false"
## Required Information

**Question, Bug, or Feature?**
*Type*: Improvement

**Enter Task Name**: AndroidSigning

## Environment
- Server - Azure Pipelines
- Agent - Hosted (macOS-latest)

## Issue Description

Since the version 4.1 of the Android Gradle Plugin the apk are already aligned so it would be best to either document the task for it, or to switch default value from true to false on the `

[2020-11-16 15:05] anatolybolshakov commented on #11658
Hi everyone, could usage of security file name be an option to resolve issue in this case? Are there any concerns about not using it?

[2020-11-16 19:09] kingwang-git opened #13904 "git clone does not work for Azure DevOps Dev17"
Hi,
Our DevOps is hosted on premise and the server version is Dev17.M153.5, which unfortunately does not support multiple repos in the YAML pipeline. While we are on the process of upgrading the Dev18, which may take months, we like to have the pipeline running for our project. So our pipeline is define as:

There are two repositories: **services** and **common**, which both are on the same DevOps

[2020-11-16 19:17] cawoodm opened #13905 "PublishTestResult does not show where the error was"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

This seems such a basic functionality which is missing that I'm tempted to call it a bug: Test results don't currently show which file/class failed!

**Enter Task Name**: Publish Test Results
lines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, tea

[2020-11-16 19:22] cawoodm commented on #13905
Possibly related to #7659

[2020-11-16 21:33] sudheeranguluri commented on #12593
Having the same issue. Following

[2020-11-16 22:46] shadargee1982 commented on #13887
@sylvesp - This appears to be an issue with the NuGet client, and not pipelines tasks.  Please create an issue in the NuGet project:  https://github.com/NuGet/Home

[2020-11-17 02:45] Jamesits commented on #8552
no

[2020-11-17 04:15] amrut057 opened #13906 "Service fabric deployment task not able to connect to cluster"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Service Fabric application deployment

list here (V# not needed):  1.9.3
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Private:

    - If usi

[2020-11-17 06:08] #8701 closed

[2020-11-17 08:12] OMO-NOSA commented on #12195
@omokoh  Sure. i am currently experiencing same issue from my end.

[2020-11-17 08:33] PaulVrugt commented on #12195
Updating to npm 7 solved the issue for me

[2020-11-17 08:36] dazinator commented on #8073
#dontclose

[2020-11-17 10:03] TekuSP commented on #12727
@anshii03 @ShreyasRmsft @ankit-arora12  Reopen the issue, or give me migration path to other service, like TeamCity and Jira, for our whole organization.
This is everything wrong

1. It's open from spring, promising feature
2. Feature is not there, but tab is
3. Marking bug as a question
4. Closing this issue, so you have clean agile plan
5. Almost no communication

Reopen the issue, and close it

[2020-11-17 10:13] aleksandra-majchrzak commented on #13863
I also start having this zipalign issue after updating my gradle version to 4.1.1 (gradle wrapper 6.5). When using gradle 4.0.1 all worked well.
I'm using `AndroidSigning@3` and trying to sign `assembleRelease` output.

[2020-11-17 10:19] suyash691 commented on #13018
@mwelsh1118 Do you need any further information? Or may I close this issue?

[2020-11-17 10:44] anatolybolshakov commented on #13859
@dzak83 task is trying to extract path to bash from PATH environment variable - so it fails if it's not specified.

[2020-11-17 11:00] anatolybolshakov commented on #13863
@Liran-Dobrish @aleksandra-majchrzak ok, so it seems to be related to some incompatibility between gradle version and gradle plugin version specified in project and doesn't seem to be related to pipeline task - could you please check that there are compatible versions specified according to https://developer.android.com/studio/releases/gradle-plugin#updating-gradle?

[2020-11-17 11:06] phil-veloso commented on #5472
Im also getting the same issue:

Command failed: rd /s /q  - Access is denied.

[2020-11-17 11:22] alexander-smolyakov commented on #13785
Hey @jpivarski, a couple of tasks (`CmdLineV2` included) already migrated to Node 10 and these changes will be available in 2-3 weeks for all users. Here is a link to related PR for [CmdLineV2 migration](https://github.com/microsoft/azure-pipelines-tasks/pull/13803).

and I was redirected to this ticket. But seems like the ticket is already closed, which is not.

Hey @NaagAlgates, yes this exactly

[2020-11-17 11:43] aleksandra-majchrzak commented on #13863
In my project I'm using the pair that is listed on the link you posted: 4.1.0+ | 6.5+ (in my project it's 4.1.1 | 6.5). The same gradle wrapper version is used in the pipeline.

Zipalign is taken from build-tools version 30.0.2.

[2020-11-17 12:56] LukaszGrela commented on #13864
![image](https://user-images.githubusercontent.com/7643591/99392600-d7489200-28d3-11eb-85c4-c700d3b86fa6.png)
I use assembleRelease and it works, I have separate agent jobs on the pipeline  for a release (assembleRelease) and for a debug.

[2020-11-17 13:19] kdubau commented on #6759
Agreed with @Ruud-cb .. still having this issue and the documentation is unclear.

[2020-11-17 14:44] flts commented on #13879
Same problem over here. The Cache tasks report that they have found a cache based on the key and everything is downloaded. Once we want to use the files from the cache in a different task it reports that the folder/files are missing.

[2020-11-17 15:02] shashban commented on #12727
@TekuSP
We had tried a closed preview of the capability to view code coverage details for a build. Based on the feedback and monitoring of the limited usage, we have now taken it back.
The behavior you are observing above is not a bug, it is the by design behavior as of now. @anshii03 shared the available alternatives earlier on this thread.

We don't have a timeline to share for when we may be wo

[2020-11-17 15:25] anatolybolshakov commented on #13863
@Liran-Dobrish @aleksandra-majchrzak this issue doesn't seem to be related to zipalign task, but rather to android tools incompatibility - I would recommend to fill in a ticket on https://issuetracker.google.com/issues to get the right eyes on it

[2020-11-17 15:27] anatolybolshakov commented on #10574
@android-dataticket This issue doesn't seem to be related to zipalign task - could you please try to check [tools versions compatibility](https://github.com/microsoft/azure-pipelines-tasks/issues/13863#issuecomment-728853188)? If it doesn't help -  I would recommend to fill in a ticket on https://issuetracker.google.com/issues to get the right eyes on it

[2020-11-17 16:28] mwelsh1118 commented on #13018
@suyash691 You may close it.

[2020-11-17 16:49] Heisenberg74 opened #13910 "[Helm Deploy] YAMLException: duplicated mapping key when upgrade"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy@0

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines
- Agent - Hosted : 2.177.1

## Issue Description

While deploying

[2020-11-17 17:05] ddivanshu commented on #13807
@andrejpk I copied your pipeline when expanded to yml, working directory is coming out to be
 workingDirectory: ${â€‹â€‹â€‹â€‹{â€‹â€‹â€‹â€‹ parameters.sourcePath }â€‹â€‹â€‹â€‹}â€‹â€‹â€‹â€‹
may be this part was copied from some editor that was using non utf-8 text encoding. Can you just delete     workingDirectory: ${​​​​{​​​​ parameters.sourcePath }​​​​}​​​​ and retype instead of copying

[2020-11-17 18:52] villa7 commented on #11864
It took 3:39 to download 72.3MB of npm modules with Cache@2.0.1 on an ubuntu microsoft-hosted agent. There were no failures or warnings in the log, just a very very slow download.
I dont think its worth using a cache at this point; downloading such a small amount of data should never take so long.

[code]

[2020-11-17 19:24] dazinator commented on #11864
No response or even real acknowledgement of this problem from the repo owners - just silence. Compare this to the asp.net core repo where issues raised are actually acknowledged. This silence is very frustrating probably for all concerned. Im left to conclude MS isn't interested in addressing this bug which makes cachev2 worthless. Go back to cach v1.

[2020-11-17 21:06] #12598 closed

[2020-11-17 21:46] dizco opened #13911 "KubernetesManifest attempts to chmod an empty string path (caused by KUBECONFIG variable)"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifest

## Environment
- Server
Azure Pipelines, org `GenetecSCX`, project `SCX`, build definition `Tests.Identity.Sso`, build number `20201117.39019`

- Agent
    We use hosted, but not sure what info to g

[2020-11-17 22:17] box57l commented on #12269
@iwsummers14 I am experiencing the exact same issues with with a powershell script task, running agent versions 2.153.1 or 2.170.1. Can you detail exactly what your workaround was?

[2020-11-17 22:23] poveilleux commented on #13911
Update: The problem happens when running multiple `KubernetesManifest` tasks in the same job. You can mitigate this by moving each `KubernetesManifest` task in its own job.

[2020-11-17 22:42] iwsummers14 commented on #12269
@box57l  Our issues are still occurring but at WAY less frequency after I stored all build argument values in build variables.  The issue still occurs on maybe 1-2% of our builds, and I have a custom API that I set up to requeue builds. I send build failures to my API with a webhook and a controller parses the error text from the payload.

Look at your build definitions, and anywhere you are speci

[2020-11-17 22:53] dizco commented on #13911
Yup, and the root cause seems to be that each `KubernetesManifest` task does a [`connection.close()`](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/KubernetesManifestV0/src/run.ts#L53), which does [this](https://github.com/microsoft/azure-pipelines-tasks/blob/master/common-npm-packages/kubernetes-common-v2/kubernetesconnection.ts#L35)...
[code]

[2020-11-17 23:15] bergmeister commented on #8133
I still want this

[2020-11-18 00:18] kythin opened #13913 "InstallAppleCertificate: Please allow installing p12 from source (read desc before you judge me!)"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: InstallAppleCertificate

## Environment
- Azure Pipelines (cloud). No specific project / build.
- Hosted Agent, MacOS 10.15

## Issue Description

_TL:DR; The **InstallAppleCertificate** task only works for secure files. Please add an option to install the certificate from a local working directory instead, as part of the normal

[2020-11-18 00:41] jakehockey10 commented on #13466
Really bummed the discussion didn't continue here.  I'm running into this, and I've been googling for hours.  I can't find the ticket, if it even got created, on developer community.  If the person who wrote the ticket over there sees this, please paste a link here?

[2020-11-18 00:42] trangevi opened #13914 "PublishCodeCoverageResults Fails to Generate HTML Report"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishCodeCoverageResultsV1

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishCodeCoverageResultsV1

## Environment
- Server - Azure Pipelines or TFS on-premises?

[2020-11-18 02:05] jakehockey10 commented on #6135
I'm trying this latest approach and the Docker build step isn't interpolating the variable usage for the build-args:

![image](https://user-images.githubusercontent.com/1821383/99473257-75a21b00-2907-11eb-8bef-75303310249a.png)

Here is the important part of my Dockerfile:

![image](https://user-images.githubusercontent.com/1821383/99473360-a97d4080-2907-11eb-9960-4c99936d1d0f.png)

And when I loo

[2020-11-18 02:51] NaagAlgates commented on #13785
Okay. Thank you.

[2020-11-18 03:48] dzak83 commented on #13859
Update: Turned out running regular command line + bash after upgrading to version 2.* solved the problem.

Thank you the your help with the investigation.

[2020-11-18 03:48] #13859 closed

[2020-11-18 06:18] suyash691 commented on #13578
@ashu16815 Can you please share the logs so that we can diagnose the issue?

[2020-11-18 06:19] suyash691 commented on #13791
@ljani You need to have test plans active on onprem to get the test service active

[2020-11-18 06:21] #13911 closed

[2020-11-18 07:14] oliverchristen commented on #13641
We have the same problem. But only since today. Yesterday the error did not occur yet. We are now completely blocked. Is there a workaround?

[2020-11-18 07:26] aafnan10 opened #13916 "Resource file has already set to /azure-pipelines-tasks-codecoverage-tools/module.json"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Gradle

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

 Azure Pipelines

- Agent - Hosted or Private:

Ho

[2020-11-18 07:35] franperezlopez commented on #13641
In our case, the culprit was an outdated linux kernel version ... launch `uname -a` and check that the linux kernel version is from this year. We updated the linux version and now is working.

[2020-11-18 07:47] 20shivangi commented on #13890
@Jeej Can you please try to use AzurePowerShellV5 instead of V4 version

[2020-11-18 08:18] oliverchristen commented on #13641
With agent image ubuntu-20.04 it works again.

[2020-11-18 09:31] Jeej commented on #13890
@20shivangi The version I now use is actually V3 instead of V4.  I have tried it with V5, with the following pipeline (changed my team name to 'team'):
[code]
Also tried this: `Inline: Get-AzResourceGroup -Name EUW-TEAM-TST`
This didn't work, probably I did something wrong, this is the error log:
[code]

[2020-11-18 09:33] Arun7even commented on #12474
I am facing the same issue in puthon function app. Any help would be much appreciated

[2020-11-18 10:49] svrooij opened #13918 "YAML variable substitution"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: FileTransformV2

## Issue Description

It would be really nice if the FileTransform task would support variable substitution in YAML files. Like [this github action](https://github.com/microsoft/variable-substituti

[2020-11-18 11:07] ljani commented on #13791
Yeah, it's off. Is that requirement mentioned somewhere? Test reporting from CI pipeline worked in version 2019 with the feature turned off, and now it works in version 2020 after adding a test even if the feature is turned off.

[2020-11-18 11:11] jasper-d opened #13919 "Kubernetes task removes quotes"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Kubernetes@1

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version: Azure Devops Server 2020 Dev18.M170.6

- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version: 18.04.1-Ub