[2020-09-08 09:30] alexander-prozorov commented on #13517
Hello @Abrishges,

This is the intended behavior of the task.  The latest .NET core SDK version is used. Look at `installationPath` input in the [doc](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops#task-inputs)
There are two ways to use the older version you want:
1. Use [global.json](https://docs.microsoft.com/en-us/dotnet/core/vers

[2020-09-08 10:01] N-Usha commented on #10903
Fair ask @EwanNoble . May I ask if you have any workaround in place to accomplish this right now? Could you please help understand how are you blocked given that the task doesn't have this support?

[2020-09-08 10:24] mfmayer commented on #13262
At least for me this is not working. I was trying to do so by adding the "kubernetes ressource" to an environment. But this failed because I don't have the appropriate rights to do so in the according azure subscription and/or cluster  (RBAC is used). At least if I interpret the error messages correctly while adding the cluster with correct namespace to the devops environment. It only works for cl

[2020-09-08 10:50] kenr commented on #6671
We have provided workarounds like
``` ( condition: and(contains(variables['image_name'], 'win'), eq(variables['node_arch'], '32')) ) ```
but it would be much better to have it set through NodeTool.

@joaomoreno, did you find a more elegant solution than the one I describe above?

[2020-09-08 11:01] georgez4 commented on #11945
@brechtvhb @rauntska

Currently using the following script running it with an Azure CLI release task to create a file I can feed to kubectl create configmap with --from-env-file flag:

`az pipelines variable-group variable list --id {variable-group-id} --organization {your-devops-organization} --project {your-devops-project} -o json | jq -r 'to_entries | map("\(.key)=\(.value.value)") | .[] ' > co

[2020-09-08 11:13] PaszkoKaminski commented on #12603
I have just updated from 2.167.0 to 2.171.0 and this problem is back.
Again link:
"Published Test Run : https://dev.azure.com/msi-cie/*/_TestManagement/Runs?runId=6138888&_a=runCharts." and it had a '.' in the end. Link is not working correctly

[2020-09-08 12:31] brechtvhb commented on #11945
I am using a tokanized configmap. Which I replace with devops variables depending on the environment to which I deploy.

[2020-09-08 12:32] ColinM9991 commented on #9398
Tried this recently but it didn't work, it still used NuGet 4.1.0.

The folder structure was

[code]

[2020-09-08 12:46] scraver1 commented on #12607
After several months with no response to this, we found a different (much uglier and harder to maintain) way to handle this. So I have no idea if this is still an issue.

[2020-09-08 12:48] scraver1 commented on #12607
Also, closing an issue after only a week with no response, when it's been open for over FOUR months, especially with a United States federal holiday yesterday, is a bit absurd.

[2020-09-08 13:34] vtbassmatt commented on #9565
@jason-e-gross Sorry for the confusion - cross-stage dependencies need a different syntax depending on whether you're consuming them at stage level or job level.

I see that [this topic](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#use-output-variables-from-tasks) still has some outdated info, which I'll get corrected. [This doc](htt

[2020-09-08 13:35] Baddog240Z commented on #12083
I agree that support for Azure AD Integrated authentication should be added. Hosted Agents already use Azure AD Identities in order to connect to the target tenant/subscription so that they can publish to Web App Services, and that same Azure AD identity could be given permissions to connect to SQL Azure. The fact that this Task doesn't support it means that all the effort we go through to set up

[2020-09-08 14:36] joaomoreno commented on #6671
Our workaround was to simply not use a 32 bit Node at all.

[2020-09-08 14:47] damccorm opened #13520 "Add CD for common packages"
Follow up work to https://github.com/microsoft/azure-pipelines-tasks/pull/13519

[2020-09-08 15:42] alexander-prozorov commented on #13468
I wasn't able to reproduce this issue locally having 80 secure file downloads per job. But logging on the local agent shows that HttpClient has exactly 6 tries (Logging this value: https://github.com/microsoft/typed-rest-client/blob/master/lib/HttpClient.ts#L242 : 5 passed and + 1).
HttpClient has no logging by default so I can only guess using the time taken to complete this step. The failed step

[2020-09-08 15:44] nadesu commented on #12607
Hi @scraver1 - My apologies for not being able to revert on this issue for last few months. Pls reopen the issue if its still relevant and reproducible, we will prioritise to troubleshoot/fix it.

[2020-09-08 18:19] cytron201 commented on #7612
This issue can be closed as Done - it's now possible to set the Subscription parameter as a variable, in the more recent versions of this pipeline task.

[2020-09-08 18:20] #7612 closed

[2020-09-08 19:10] damccorm commented on #13474
Hi @ManuelGalindo - this looks like an issue with the service more generally, not with a specific task. This repo mostly holds issues with specific tasks, please file general issues at https://developercommunity.visualstudio.com/spaces/21/index.html - that way it will get the right eyes on it

[2020-09-08 19:10] #13474 closed

[2020-09-09 03:35] ssippe commented on #8429
I can still reproduce the error on windows. It only happens about 10% of the time though.

[2020-09-09 03:37] ssippe commented on #8429
@bishal-pdMSFT Can you please reference the issue for the defaultt installation fix so we can track it?

[2020-09-09 05:59] 20shivangi commented on #13087
@iambernics Are you still facing the issue ?

[2020-09-09 08:16] harishpo opened #13522 "How to modify pipeline so that if any new dependency added to packaje.json it should create new cache for that one run."
How to modify pipeline so that if any new dependency added to packaje.json it should create new cache for that one run.

[2020-09-09 08:19] harishpo commented on #13522
in my current project every week there will be some update in Packaje.json file, so at that time if my pipeline cache restores old cache , build will get faile.
So i am looking for solution how to create new cache every time when there is some change in package.json file .

[2020-09-09 09:34] ekaterina-tatanova commented on #13387
@tlbonds2 As a workaround, could you please try to upload the patch from [attachments](https://github.com/microsoft/azure-pipelines-tasks/files/5194102/MavenV3.zip) using [tfx-cli](https://www.npmjs.com/package/tfx-cli). To do that you may use these [instructions](https://github.com/Microsoft/tfs-cli/blob/HEAD/docs/buildtasks.md#upload). This patch reverts changes made in the "Maven and Gradle tas

[2020-09-09 12:04] alexander-prozorov commented on #13468
@maxim-lobanov

I found two more tickets related to this issue:

- https://github.com/microsoft/azure-devops-node-api/issues/345
- https://github.com/rfennell/AzurePipelines/issues/648

And it seems like sometimes increasing retries helps with this problem. In any case, this only applies to the ms-hosted machines. No one can reproduce this issue using a local agent (see my message up above).

What

[2020-09-09 12:06] maxim-lobanov commented on #13468
@alexander-prozorov , I suggest starting with increase the number of retries / socket timeout because it is simpler solution.

[2020-09-09 12:58] michaelrp opened #13523 "YAML error using AzureCLI@2 on self-hosted build agent"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureCLI@2

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureCLIV2

## Environment
- Server - Azure Pipelines local installation of DevOps

- Agent - Private:
    - Windows agent

## Issue Description

Running the task example here: https://docs.microsoft.com/en-us/azure/devops/pipeli

[2020-09-09 13:03] ricohomewood commented on #10903
@N-Usha I can't speak for @EwanNoble  but in terms of blocking, i believe he mentioned above that the issue is that because the task warms up the root and not the custom ping path, you can end up with unintended cold starts on consumption plans for example.

It's also the case the Azure Platform already supports this, for example, if you had autoswap enabled, the azure backend will honor the setti

[2020-09-09 13:39] 20shivangi commented on #12963
@dazinator If you clear the value the value of resource group and then tick the checkbox, the issue must not occur. Have you checked this ?

[2020-09-09 15:32] dazinator commented on #12963
If I tick the box so the value shows, then clear it, then untick the box, so its hidden again (but now with no value assigned) then yes everything works as expected.

The issue comes if there is a value entered and you untick the checkbox - which hides the value so you no longer see it. The task still ends up using the value at runtime, but in the UI you have no indication that there is a value th

[2020-09-09 16:10] murugan-mp commented on #11593
@stephenmichaelf  when this PR is accepted?

[2020-09-09 17:24] edgarrs commented on #13290
Since we are deprecating the NugetCommand task, this is a low priority issue.

[2020-09-09 17:24] #13290 closed

[2020-09-09 17:32] edgarrs commented on #13284
Can you try to add the cert to .NET Core certificate store?

[2020-09-09 17:36] tlbonds2 commented on #13387
Hi Ekaterina,
Sure I will try it and let you know.  Thanks!
-Tom

[2020-09-09 17:45] phil-hodgson commented on #13269
The bitness of nuget.exe is unlikely to be an issue here (it doesn't contain native code).

[2020-09-09 17:45] #13269 closed

[2020-09-09 17:53] phil-hodgson commented on #13265
Adding credentials to the user .npmrc file is not something we'd do because multiple build agents may be running on the same machine. Consider using the `--userconfig` flag for npx to pass in the path to the local `.npmrc` file that does contain the credentials set by NpmAuthenticate.

[2020-09-09 17:58] phil-hodgson commented on #13215
As far as aquiring credentials, it should. Whether subsequent PowerShellGet operations work behind a proxy is a question for a PowerShellGet forums.

[2020-09-09 17:58] #13215 closed

[2020-09-09 18:27] sakthiyuvaraj opened #13524 "Question: How to specify multiple so in nativeLibrariesPath"
Hi,

In the azure pipeline task AppCenterDistribute@3, I upload the native library symbols to app center to help symbolicate native crashes. Currently, we only upload ARM library symbols and want to specify ARM64 as well.

How do I specify multiple paths in 'nativeLibrariesPath' parameter?

Thanks

[2020-09-09 23:49] gregpakes commented on #13269
This issue was caused due to the new centralised nuget location when running under SDK projects and PackageReference.  The centralised folder is a folder that adheres to the bitness of the application accessing it.  So if you put packages in there through 64 bit nuget and then run a 32 bit MSBuild, the packages will be invisible.

Hope that makes sense.

[2020-09-10 04:38] #12333 closed

[2020-09-10 05:38] tejasd1990 commented on #13467
Hi @justindbaur , this looks like a certificate issue while getting the version with the channel. I could not repro it, so it will need further investigation. Is this issue intermittent, or persistent? Are you seeing this even now, or has it been resolved?

[2020-09-10 05:39] tejasd1990 commented on #13512
Hi @MartinDemberger , the document referred lists a number of timeout parameters like TimeoutSec, HealthCheckRetryTimeoutSec, UpgradeDomainTimeoutSec etc. Can you tell which specific parameters are you looking for?

[2020-09-10 07:42] alexander-prozorov commented on #13524
Hi @sakthiyuvaraj,

You can use a pattern with braces notation to specify multiple paths. Please try something this:

[code]

[2020-09-10 08:11] dlm69 commented on #13510
Apologies - We found the issue. It was not an access token error it was an offending sql script that was using SUSER_NAME and the colum was set to nvarchar(50). The service principal has more characters than that.

[2020-09-10 08:12] FlorisDevreese commented on #11631
@20shivangi I'm still having this issue.

Current agent version: `2.144.2`

Error log:
[code]

As I understand from [this post](https://github.com/microsoft/azure-pipelines-task-lib/issues/228#issuecomment-380514432) the issue is in the `VstsTaskSdk` library.

So I think for me It think this means that I need to update the `RedgateSqlCloneClone` task I use in the hope that the update contains the

[2020-09-10 08:32] 20shivangi commented on #11631
@FlorisDevreese So have you tried to update the RedgateSqlCloneClone task so that it contains updated VstsTaskSdk ?

[2020-09-10 08:35] FlorisDevreese commented on #11631
@20shivangi I just analysed the new version of the `RedgateSqlCloneClone` extension. It still uses `v0.8.1` of the VstsTaskSdk library. That version does not contain [the fix](https://github.com/microsoft/azure-pipelines-task-lib/blob/master/powershell/Docs/ReleaseNotes.md#082).

So an update here won't help...

I'm looking into other option like creating an own version of that extension that cont

[2020-09-10 08:39] 20shivangi commented on #11191
Is the issue still occuring with /p:BlockOnPossibleDataLoss=false ?
Or should we aks sql team to take a look into it

[2020-09-10 08:42] nitin2k20 commented on #11582
This error seems to be still existing

[2020-09-10 08:55] bmvij commented on #11191
Yes

On Thu, Sep 10, 2020, 2:10 PM 20shivangi <notifications@github.com> wrote:

[2020-09-10 09:27] sven73a commented on #11191
yes issue is still there

[2020-09-10 10:41] 20shivangi commented on #13510
Great!! closing it

[2020-09-10 10:41] #13510 closed

[2020-09-10 11:08] anatolybolshakov commented on #13097
Hi @djee-ms is it still actual for you, were you able to reproduce it with ms hosted agent?

[2020-09-10 11:27] 20shivangi commented on #12963
@dazinator So you can anyway have the variable declared in devops , the issue won't be there

[2020-09-10 12:35] dazinator commented on #12963
@20shivangi

Sorry - I don't understand that sentence!

[2020-09-10 12:39] dazinator commented on #12963
@20shivangi if you mean what I _think_ you mean - yes the issue will still be there even if the variable is still in devops - because if you look at the error shown in my screenshot in the issue description above:

![image](https://user-images.githubusercontent.com/3176632/92729796-c0813e80-f36a-11ea-9c29-13da2ef34e83.png)

The failure - is that the task still tries to access the resource group sp

[2020-09-10 13:15] Waddlen commented on #7938
@elbatk We just hit an issue where a team member's IT-issued computer was configured with a near-empty U:\ as the HOMEDRIVE, and when they tried to run `vsts-npm-auth -config .npmrc` in `C:\Users\PERSON\source\repos\PROJECT\CLIENT\` he got:

[code]

We ended up copying the .npmrc to his U:\ drive and running the command there, which completed successfully. However, after that, he still had to copy

[2020-09-10 13:24] anatolybolshakov commented on #12593
Hi @glazzari @frenchf @ebcFlagman could you please try to specify JDK version using JavaToolInstaller task and Gradle version in gradle-wrapper.properties file (distributionUrl property)?

[2020-09-10 13:43] adamsclark commented on #11191
Issue still happens for me as well with `/p:BlockOnPossibleDataLoss=false`

[2020-09-10 14:03] 20shivangi commented on #12963
@dazinator You can unblock yourself by clearing the value from resource group and then tick the checkbox. Meanwhile, we can look into the issue.

[2020-09-10 14:59] chan43999 commented on #13284
Thank you for the answer. I found the root cause already. It was the corporate proxy CA that i have to add to the CA bundle.

[2020-09-10 14:59] #13284 closed

[2020-09-10 17:59] veepee78 commented on #13456
I'm pretty sure situation was same in both cases, no destination. I'd need to confirm that, but I already "fixed" the issue with copy task, it works as it should. Sorry for late reply, got the notification today..

[2020-09-10 18:03] fourpastmidnight commented on #7460
So....how do I use a custom feed? There's ZERO documentation on this--ANYWHERE.

I selected to use a custom feed and used `http://mynugetserver.com/v3/index.json`, but acquiring the test tools failed: `WARNING: This version of nuget.exe does not support listing packages from source 'http://mynugetserver.com/v3/index.json'`.

We're using Azure DevOps Server 2019 (not sure if it's RTM or update 1 or

[2020-09-10 19:03] edwin-traffk commented on #9235
Still an issue, please re-open.

In my particular instance - it's paths: include: foo/$(var)/* - but I assume the logic is the same. Are there any documented sections of the YAML file that we CAN or CANNOT use variable substitution in? Or perhaps, some special quoting to use?

[2020-09-10 19:50] bishal-pdMSFT commented on #13523
When is this error happening - during pipeline run? Please attach task debug logs.

[2020-09-10 19:59] bbrandt commented on #7938
@Waddlen
Our team has the same issue. We have worked around this by using the `-TargetConfig` parameter during our machine setup.

[code]

[2020-09-10 20:37] michaelrp commented on #13523
The error is happening during the pipeline run (either manually or with branch policy).

I don't seem to have access to the logs for this build. Here's a snip of what I see:

![image](https://user-images.githubusercontent.com/1393096/92801109-50cb7d80-f383-11ea-80f4-e51658171f12.png)

[2020-09-10 20:46] sudheeranguluri commented on #7654
Having same issue. I was able to manually switch the image source in lower environment. But soon we will be going to PROD and I don't think I can do the same. Any update on this?

[2020-09-10 21:21] damienwebdev opened #13530 "feat(HelmDeploy): allow overrideValues to be a set of key:value pair or array"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: `HelmDeploy`

## Environment
- Server -  or TFS on-premises?

Azure Pipelines

- Agent - Hosted or Private:
Hosted

## Issue Description
As a developer, I'd really like it if my `overrideValues` path wasn't extremely long. It would be nice to be able to use an Array type, key: value, or a multi-line strin

[2020-09-10 21:32] michaelrp commented on #13523
And here's the full YAML:

[code]

[2020-09-10 21:46] acarlstein commented on #8182
We are getting `encountered request timedout issue in Kudu.` when trying to deploy an `AzureFunctionApp@1` using the `zipDeploy` or `runFromPackage` deployment method.

We tried setting the configuration `WEBSITE_RUN_FROM_PACKAGE` to `0` and `1`.

The funny thing is that this only happen when we rebuilt our resource `Microsoft.Web/sites` of kind `functionapp,linux`!
If we run the deployment of `Az

[2020-09-10 22:51] anti-matter commented on #13428
Any update on this? 10 days since I provided above information. We are hitting this failure regularly.

[2020-09-11 04:47] tejasd1990 commented on #13428
Hi @anti-matter , I am investigating this, will update you

[2020-09-11 05:59] ebcFlagman commented on #12593
@anatolybolshakov
I've defined the java version with the JavaToolInstaller to use Java 11 and in the gradle-wrapper.properties i've defined the url to the gradle 6 download. But I became the same error

[2020-09-11 06:19] 20shivangi commented on #11631
@FlorisDevreese Thank you for the update. Do let us know when you are able to use the required version of VstsTaskSdk lib

[2020-09-11 06:26] FlorisDevreese commented on #11631
@20shivangi I've created a request with the owner of the extension (Red Gate). They forwarded it to there developers.

I will keep you posted on progress (if it doesn't take too long to complete 😉)

[2020-09-11 07:48] 20shivangi commented on #13243
@frank-digirati Are you still blocked on this?
If so, please share full debug logs by setting pipeline variable syatem.debug to true in your release/pipeline

[2020-09-11 07:55] bwienefoet commented on #10322
+1! This would be a great and usefull Feature. I need it for configuring a net.tcp Binding. The workaround is ok but it throws errors on redeploying

[2020-09-11 09:04] ekaterina-tatanova commented on #13456
@veepee78 Could you please confirm that situation was the same in both cases i.e. the destination folder has not been created before copy-item command?

[2020-09-11 09:51] anatolybolshakov commented on #7339
Hi @JonathanNEMRY jentle ping :smiley: could you let us know if you're using on-premise or cloud solution? Could you also check SSH task version from logs?

[2020-09-11 09:56] 20shivangi commented on #13296
@gunars-skangals We do not support the scenario of Settings 2 and settings 4 with empty value to be replaced.

[2020-09-11 09:57] 20shivangi commented on #13087
@iambernics Are you still blocked ? If yes, let us know.

[2020-09-11 10:02] dmcweeney commented on #9789
Just some feedback here - this is painful for me at the moment - after introducing  second repo into the build script all the dotnet commands are failing - trying to use the workingDirectory property to fix it but its not supported by some of the dotnet commands and the docs dont clarify

[2020-09-11 10:30] anatolybolshakov commented on #13097
Hi @djee-ms, I'm closing it currently due to inactivity, please feel free to reopen it if it still actual for you

[2020-09-11 10:30] #13097 closed

[2020-09-11 10:31] tejasd1990 commented on #13428
@anti-matter can you share the logs(with system.debug set to true) of the dotnetcorecli task where you are installing the tool? The logs you have shared are of the task where you want to execute this tool

[2020-09-11 10:59] scb-tomasmortensen commented on #10968
Happened here today too. We are using ADS on prem. Switched to 1.* PREVIEW task then entered 3.x as the SDK version. That got it working.

[2020-09-11 11:00] alexander-prozorov commented on #12651
Hello @Phrayzur,
Is this issue still relevant?
Currently, run shows arguments without unnecessary "options=".

[2020-09-11 11:01] tejasd1990 commented on #13523
@michaelrp , what is the version of this installation?

[2020-09-11 11:23] 20shivangi commented on #11191
Is this issue also occuring when you are using hosted agents ? Please share the full debug logs with variable system.debug to true in your pipeline/release.

I tried to repro the issue but was unable to do the same

[2020-09-11 11:35] alexander-prozorov commented on #13468
Created PR: https://github.com/microsoft/azure-pipelines-tasks/pull/13534

[2020-09-11 12:57] michaelrp commented on #13523
@tejasd1990 2019 update 1.1

[2020-09-11 13:13] tejasd1990 commented on #13523
@michaelrp I suspect the v2 version of the task might not be available in that server version.
Can you check the following api in browser to see what response you are getting? `<your_collection_url/_apis/distributedtask/tasks/46E4BE58-730B-4389-8A2F-EA10B3E5E815>` ? `46E4BE58-730B-4389-8A2F-EA10B3E5E815` is the task id of the `AzureCLI` task. You can check the `major` versions in the response.

[2020-09-11 13:15] dtrifiro opened #13535 "Cache@2 does not cache if the job is succeededWithIssues"
I've been testing out the Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: bug (or feature?)

**Enter Task Name**: Cache@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Hosted or Private:
    Private Agent, CentOS

[2020-09-11 13:40] Hack3l opened #13536 "Publish Test Results contains error message and doesnt show publish Code Coverage"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Publish Test Results@2

## Environment
- TFS On-Premise Version: Dev17.M153.5
- Agent: Windows_NT Version:  10.0.17763

## Issue Description

Publish Test Results Task is used in a Release Pipeline.
Task succeeds, but error message in log.
Unit Test Runs get importet but Code Coverage does not, even though it

[2020-09-11 15:21] bishal-pdMSFT commented on #10968
Please us latest version of task (2*). Older version of task is not being updated frequently.

[2020-09-11 15:23] bishal-pdMSFT commented on #9789
Cc @tejasd1990 @pulkitaggarwl

[2020-09-11 16:27] GreatScott000 commented on #13357
@RajashriVadakeri I will take a look.  Thank you.

[2020-09-11 17:51] DanBradbury commented on #11658
+1

[2020-09-11 18:25] sakthiyuvaraj commented on #13524
@alexander-prozorov,

I tried:

nativeLibrariesPath: 'libpath\{ARM,ARM64}\ShipRelease\libControl.so'

But, it failed with

Cannot find any file based on C:\a\1\s\src\libpath\{ARM,ARM64}\ShipRelease\libControl.so

Does braces notation work inside nativeLibrariesPath?

[2020-09-11 18:39] bishal-pdMSFT commented on #11245
Adding @phanikmmsft as he owns test related actions in the task and would have idea about what is the right approach for publishing vstest result.

[2020-09-11 23:34] lacomc opened #13537 "All Azure App Service deploy Tasks Failing with "Not found resource file path""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-09-12 08:38] dozer75 commented on #5919
@mitchdenny wrote:

I think that this should be reopened since the reason why this issue was closed has failed. .NET Core Source Linking does not work with .NET Core 3 or later due to issues with changes done during builds of applications based on .NET Core 3 and it seems not to be any priority fixing this from the dotnet/sdk team (root issue dotnet/sdk#1458 has been open for over 3 years).

Sourc

[2020-09-12 08:44] compulim commented on #13265
I understand build agents may be a non-containerized machine shared by multiple build jobs.

I think it will be helpful to add an additional note in the documentation to call out `NpmAuthenticateV0` will not authenticate for NPX and additional workaround is needed with the `--userconfig` flag.

In our cases, `--userconfig` flag is not possible because `npx` is being executed by another package dur

[2020-09-12 14:24] MortenMeisler commented on #8380
Why is this closed? I mean the checkbox tooltip is just as ambiguous as 2 years ago. A setting this important should be dumped down and very explicit to avoid mistakes

[2020-09-13 00:43] asklar opened #13538 "task.setvariable changes variable casing"
Related: https://github.com/actions/virtual-environments/issues/1578

## Description
Azure DevOps sets NPM_CONFIG_CACHE (all uppercase). Some tools like yarn/node, they manage to add a lowercase version of some npm variables (npm_config_cache for example) by directly setting it in an environment block when calling CreateProcess. This breaks some tools when they encounter duplicate variables in the

[2020-09-13 05:35] maxim-lobanov commented on #13538
@zachariahcox , Could you please take a look? I think this issue should be transferred to https://github.com/microsoft/azure-pipelines-agent

[2020-09-13 15:07] #9331 closed

[2020-09-13 19:26] JohnWeisz commented on #11864
We are also seeing this issue:

 - Hosted agent (win vs2017)
 - 600 Mb cache size
 - Sometimes takes almost 2 minutes, sometimes it completes in 20 seconds

It's not _horribly_ slow, but I would have expected a better performance (and more importantly, a significantly more _consistent_ performance). It seems to work much better on an Ubuntu agent.

[2020-09-13 20:29] alexander-prozorov commented on #13524
Apparently, nobrace option is true by default, since no matchOptions are passed:

https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AppCenterDistributeV3/utils.ts#L158

[2020-09-14 00:58] tmilnthorp opened #13540 "Container Environment Variables Not Found for Task in Container Job"
*Type*: bug
**Enter Task Name**: CopyFiles@2
## Environment
- Server: TFS on-premises Dev17.M153.5
- Agent - Private Win Server 2019 2.153.1

## Issue Description

When running the copy files task inside a container job, environment variables that only exist in the container do not work with the sourceFolder property. I have tried the following without success:
- SourceFolder: '$env:CUDA_PATH_V11_

[2020-09-14 02:29] kmkumaran commented on #8380
@N-Usha - Can you review the feedback above and triage accordingly.

[2020-09-14 02:54] mchenx opened #13541 "docker builAndPush task failed after upgrade agent to 2.174.1"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: docker buildAndPush

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - VSTS on-premises?

    - If using TFS on-premises, provide the version: 2.

[2020-09-14 04:14] kmkumaran commented on #10322
@N-Usha - Can you review and triage the ask.

[2020-09-14 04:44] 20shivangi commented on #11339
Is this issue still occuring ?

[2020-09-14 05:26] tejasd1990 commented on #13467
Hi @justindbaur , gentle ping!

[2020-09-14 05:26] tejasd1990 commented on #13512
Hi @MartinDemberger , gentle ping!

[2020-09-14 05:28] tejasd1990 commented on #12913
Hi @v-abiss , do you have an update on this?

[2020-09-14 05:31] tejasd1990 commented on #13419
Hi @jklaus , the feature to add input for visualstudio version has been rolled out in most regions. Can you check if you are able to get unblocked?

[2020-09-14 06:44] tejasd1990 commented on #13462
@phanikmmsft , gentle ping!

[2020-09-14 07:48] tejasd1990 commented on #13523
ok @michaelrp , glad you are unblocked. I will close this issue then.

[2020-09-14 09:10] davidguidali opened #13542 "VSTest Task unable to find custom test logger when testSelector: testPlan"
**Problem**

I have written a custom logger to log test results in a kusto database. I added the loggers friendly name to my runsettings file like:

`<Logger friendlyName="KustoTestLogger" />`

The assembly of the test logger is located in the same folder as the test container .dll is.

When executing tests via the VSTest task and settng the **testSelector: testAssemblies**, everything works fine,

[2020-09-14 11:13] tejasd1990 commented on #13377
Hi @dtzar @rsegecin , The `projects` input follows glob pattern, and not path. This has been explained [here](https://github.com/microsoft/azure-pipelines-tasks/issues/12717#issuecomment-619724344), and possible workaround for your scenarios given [here](https://github.com/microsoft/azure-pipelines-tasks/issues/10996#issuecomment-636143746). Does this work for you? If not, then can you explain why

[2020-09-14 11:18] tejasd1990 commented on #13443
Hi @FilBot3 , it appears that you are unblocked, so I will close this issue.

[2020-09-14 11:35] anatolybolshakov commented on #7339
Hi @JonathanNEMRY, I'm closing it at the moment due to inactivity - please feel free to reopen it if it is still actual for you

[2020-09-14 11:35] #7339 closed

[2020-09-14 11:55] justindbaur commented on #13467
Hi @tejasd1990 , Sorry about that. I have now left the job where this was happening at and it doesn't happen at my new job.  I had a feeling it was on their end because I had quite a few issues with proxy and certificates issues there. It was probably on their end I was just hoping for some direction on what we had to do to fix it. But since I won't be able to help debug further I can close the is

[2020-09-14 11:55] #13467 closed

[2020-09-14 12:54] ekaterina-tatanova commented on #13387
@tlbonds2 This issue is not reproducible for me. It works correctly. Could you please provide your logs? Does the patch help to resolve the issue?

[2020-09-14 12:54] tejasd1990 commented on #12702
Hi @Herve-M , can you elaborate which user config file are you saying? The task will have access to only the feeds selected in the inputs.

[2020-09-14 14:11] gionapaolini commented on #13462
I'm also experiencing the same issue

[2020-09-14 14:36] tmilnthorp commented on #13540
I added the following to double check the container's environment variables:

[code]

```CUDA_PATH_V11_0``` is defined in the container:
[code]
## Task Info
With system.debug enabled I see the following in the task, however ```CUDA_PATH``` and ```CUDA_PATH_V11_0``` are not set:
[code]

```CUDAPATH``` is not set in the host machine, so the task is picking that up out of the container. I wonder why

[2020-09-14 15:09] tmilnthorp commented on #13540
I tested the task using the ```CUDAPATH``` variable inside the macro format ```$(CUDAPATH)```. It does get expanded, however as part of the work directory path.

[code]

Output:
[code]

It seems there are two potential bugs:
1. Not all environment variables from the container are accessible in the task for some reason
2) The task does not evaluate an expanded environment variable inside a containe

[2020-09-14 18:17] lacomc commented on #13537
This issue appears to have resolved itself over the weekend. We haven't made any changes to our pipelines. I'll leave the issue open in case there's more investigation that needs to be done, but the issue is resolved from a customer standpoint. Thanks!

[2020-09-14 19:30] GioCirque commented on #11864
I have a pipeline that's taking 13 minutes to download 635 Mb with a self-hosted linux agent on a 1 Gbps connection

[2020-09-14 20:48] anti-matter commented on #13428
Hi @tejasd1990,

Sorry for the delay, I needed to wait until we got a failure w/ debug logs enabled. Attached here.
[install-sign-tool.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5220871/install-sign-tool.txt)

[2020-09-14 22:35] adriend-advz opened #13546 "Docker Compose failing to push to ACR"
*Type*: Bug

**Task Name**: Docker Compose

## Environment
TFS on premises Version Dev17.M153.3

Private agent Version 2.153.1 hosted Windows Server 2019 Standard

## Issue Description
Hi all!

Hope this is the appropriate place to report this.
We have one local docker registry that we use to store our images. We afterwards push them to the target environment, to an Azure Container Registry. Quite

[2020-09-15 04:05] Herve-M commented on #12702
@tejasd1990  I talk about the [user config](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior), aka the one in `%appdata%\NuGet\NuGet.Config` who is loaded & applied for each operations.

[2020-09-15 06:02] MartinDemberger commented on #13512
Sorry for the late answer. A spam filter is a bad thing :-(

I don't know which parameter exactly I was looking for. I had timeouts on my publish very often and tried to reduce publish time and increase timeouts but don't know which one is the right one.

There are a lot of parameter which hasn't any description
* TimeoutSec
* HealthCheckRetryTimeoutSec
* HealthCheckWaitDurationSec
* HealthCheckSt

[2020-09-15 06:08] #11194 closed

[2020-09-15 06:42] #13523 closed

[2020-09-15 07:30] nehsharmMS commented on #13462
Hi @spmanjunath, from the logs we can see that even tests are not running.

The below screenshot is to show how the logs should appear if tests run :

![image](https://user-images.githubusercontent.com/60141664/93179085-d324ba80-f752-11ea-8aad-69ce62e893f9.png)

See if anything is missing in your project that is leading to this.

Also, can you provide a sample repro project?

[2020-09-15 08:02] ddtch commented on #10967
Same here can not figure out what and why I always get this error. location and content of npmrc files are correct. but still got this sh*t

[2020-09-15 08:11] ds-ms commented on #13541
This seems like an issue related to the agent. @damccorm could you take a look?

[2020-09-15 08:28] igoraresti opened #13548 "Nuget push to feed will show error "503 (Service Unavailable)""
Hello,

since 1st of September 2020 we are facing nuget push upload error on every try in certain package in our on-premise agent which is pushing/uploading to Azure DevOps services project feed.

Most of our packages are quite light with few depencies and always have worked fine the nuget feed updating.

There is just one large package. This package nuget push task is in separate task from the ot

[2020-09-15 08:55] gionapaolini commented on #13462
In my case the problem was that the pipeline was automatically using sdk 2.2.
I added this:
`
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '3.1.x'
`
before running the tests and it worked

[2020-09-15 08:59] nehsharmMS commented on #13462
@gionapaolini, were test running in your case with sdk 2.2?

[2020-09-15 09:15] gionapaolini commented on #13462
@nehsharmMS no they weren't, the tests projects were found but then I got an error for each of the project:

`/usr/share/dotnet/sdk/2.2.102/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.TargetFrameworkInference.targets(137,5): error NETSDK1045: The current .NET SDK does not support targeting .NET Core 3.1.  Either target .NET Core 2.2 or lower, or use a version of the .NET SDK that supports .NET Co

[2020-09-15 09:17] nehsharmMS commented on #13462
@gionapaolini, Thanks for confirming :)

[2020-09-15 09:24] anatolybolshakov commented on #13259
Hi everyone! I'm closing this issue since it's resolved

[2020-09-15 09:24] #13259 closed

[2020-09-15 10:29] gunars-skangals commented on #13296
that would be the same as not supporting transformations in JSON for keys like
[code]
otherwise - this is for the .NET Framework setting format which will be irrelevant soon enough and meanwhile i can deal with this by having dummy values everywhere

[2020-09-15 11:25] ShreyasRmsft commented on #13462
@gionapaolini we'll be closing this issue based on the fact that the issue was with using an incompatible version of dotnet sdk, please re-open if you run into other issues after resolving this.

[2020-09-15 11:25] #13462 closed

[2020-09-15 11:28] enoorden opened #13551 "AzurePowershell task on Ubuntu adds "null" as argument if none supplied"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowershell

## Environment
- Server : Azure Pipelines

- Agent : Hosted - ubuntu-latest

## Issue Description

The AzurePowerShell task (both @4 and @5) running on a Ubuntu agent adds an extra 'null' argument to t

[2020-09-15 12:50] t-l-k opened #13552 "AzureCLI@2 task running az webapp create-remote-connection hangs ubuntu agent due to child processes not terminating"
## Required Information

**Type**: Bug or Feature (?)

**Task Name**: AzureCLI@2

## Environment
- Server - Azure Pipelines
- Agent - Hosted - ubuntu

## Issue Description

AzureCLI@2 and `az webapp create-remote-connection`

There appears to be pitfalls in attempting to establish the SSH SCM bridge connection in context of an Azure CLI agent task with obvious solutions not forthcoming.

`az webap

[2020-09-15 13:36] tejasd1990 commented on #13428
Hi @anti-matter , no worries.
The logs say that

This is a dotnet sdk issue, discussed [here](https://github.com/dotnet/sdk/issues/8999), and from what I see in the discussion, does not provide a clean solution. Restarting the agent after installing the dotnet sdk is not possible/feasible.
You can workaround by adding the directories specified [here](https://github.com/dotnet/sdk/issues/8999) to t

[2020-09-15 13:40] iamalexmang commented on #11151
@bishal-pdMSFT is there an update to this?
What is the current possible way (preview or otherwise) to use a management group scoped service connection in an Azure CLI task? PR !12516 is currently merged to master. Based on the commits for this PR, the `--allow-no-subscription` parameter is used, but I'm failing on understanding which is the right input parameter to properly log in.

[2020-09-15 13:59] Purbasha opened #13553 "The PFX file you are trying to import requires either a different password or membership in an Active Directory principal to which it is protected"
I am using Azure key vault task to download a certificate from KV and then install it in the build agent. I eventually want to execute some functional tests that need this certificate to authenticate.

This is my inline powershell after downloading the certificate in the previous task

param(
 [Parameter(Mandatory=$True)]
 [string]
 $firstpartypwd
)
$securePassword=ConvertTo-SecureString $firstpar

[2020-09-15 14:03] EwanNoble commented on #13551
+1 seeing this issue too 😢

[2020-09-15 14:26] iamalexmang commented on #10594
Team, is there an update on this?
Azure Resource Group Deployment task supports this as does the Azure CLI (granted, the latter only supports it with some caveats for now).

[2020-09-15 15:05] luzlozanothermo commented on #11478
Hi Stefan, did you published this task? can you share details of implementation?

[2020-09-15 15:36] frank-digirati commented on #13243
@20shivangi

hi I've included them above. all the output from Azure DevOps,  yes this is still blocking my project.  It simply does not work on Azure LBs.  Tried this on multiple subscriptions and vms/lbs.

[2020-09-15 16:58] richardgavel commented on #11926
I would throw another scenario in the mix: "Failed to parse result files. Invalid file format". If I tell it to parse files and it has trouble doing that, this is another scenario the publish should fail. This is very dangerous, because it passed, failures in another file it didn't pick up got thru.

[2020-09-15 17:59] iamalexmang commented on #11151
In case anyone else is wondering, the way I'm working around it is by using the Azure CLI task instead.
Effectively something along these lines:

[code]

The task above is effectively logging in the SP by using the `--allow-no-subscription` parameter and the, via the inline script, configuring the active subscription context to allow for the Function App deployment to go through.
Regretfully, this

[2020-09-15 18:01] damccorm commented on #13541
Hey @mchenx - this looks like its probably an agent issue like Deepak said - would you mind opening an issue at https://github.com/microsoft/azure-pipelines-agent? That is probably the best place to get the right eyes on it, this repo is meant for issues/code specifically related to tasks.

[2020-09-15 18:01] #13541 closed

[2020-09-15 18:09] ds-ms commented on #13530
That seems like a fair ask.
cc: @shigupt202 could you check with our PMs about this?

We have followed this convention in `KuberentesManifestV0` task. If you're aiming at `helm install` or `upgrade` alone, you could leverage the above mentioned task. A combination of `bake` + `deploy` action would achieve a similar deployment as to your `helm upgrade`. This task provides additional features as wel

[2020-09-15 18:12] ds-ms commented on #13481
Closing stale issue. Feel free to reopen if your query isn't solved. :)

[2020-09-15 18:12] #13481 closed

[2020-09-15 18:19] ds-ms commented on #13303
Closing stale issue.

[2020-09-15 18:19] #13303 closed

[2020-09-15 18:23] ds-ms commented on #13326
Closing stale issue

[2020-09-15 18:23] #13326 closed

[2020-09-15 18:43] #13482 closed

[2020-09-15 18:48] FilBot3 commented on #13443
Well, it's still an issue, jut not specifically related to the documentation or that task. It's something to do with a Visual Studio Code extension for Kubernetes developed by Microsoft, which is dependent on the YAML extension by RedHat.

[2020-09-15 19:47] tejasd1990 commented on #13443
You will need to open an issue in the team/repo corresponding to the Kubernetes extension. This repo is for issues related to tasks, and in this case, I don't see anything that can be done in the task. Closing.

[2020-09-15 19:47] #13443 closed

[2020-09-15 19:55] tejasd1990 commented on #13512
@MartinDemberger , ok can you share the debug logs of the task where you are seeing the timeout? Also, which hosted agent are you using(windows/linux), and which version?

[2020-09-15 20:11] runwithranvit opened #13555 "Kubernetes Manifest Task - Create Secret Action - secretArguments is not exactly multiline"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Kubernetes Manifest Task

## Environment
Azure Pipelines

Account Name: `sifter`
Project Name: `musical-guide`
Build Number: `20200915.11`

- Agent - Hosted
agent queue name: `Azure Pipelines`

## Issue Description

I'm trying to use the **Create Secret** Action of the **Kubernetes Manifest** task. The docs say that the `secretArgume

[2020-09-15 21:02] iginzburg commented on #5472
I have the same issue as well.

[2020-09-16 02:51] mchenx commented on #13541
sure, thanks for looking at this

[2020-09-16 03:17] 20shivangi commented on #13457
Is this still occuring ?

[2020-09-16 03:17] 20shivangi commented on #13455
Is this still occuring ?

[2020-09-16 04:00] kmkumaran commented on #13551
@chshrikh / @nadesu - Can you follow-up on this.

[2020-09-16 04:02] kmkumaran commented on #10594
@N-Usha - Can you review the request.

[2020-09-16 04:28] tejasd1990 commented on #13377
Hi @dtzar @rsegecin , let me know if the workaround unblocks you, the behavior is the expected task functionality and we won't be changing it. Will close this issue, thanks.

[2020-09-16 04:29] tejasd1990 commented on #13419
Hi @jklaus , the rollout is complete, let us know if you are unblocked so that we can close this issue.

[2020-09-16 07:03] harishpo opened #13557 "How this cache task will identify if package.json is updated ? ? PipelineCaching"
How this cache task will identify if package.json is updated ?  ?

In my current project, packaje.json is getting updated very frequently, like at-least once in a week.

In this case, when i am adding cache task, and when it is restoring old packages from cache, build is getting failed.

I want to know is there any option were this cache task will check if any new update in package.json file and c

[2020-09-16 07:09] harishpo commented on #13522
Please add this tag Area: PipelineCaching

[2020-09-16 07:10] harishpo commented on #13557
Please add this tag to this issue  Area: PipelineCaching

[2020-09-16 07:35] #9450 closed

[2020-09-16 08:30] hacst commented on #11478
@luzlozanothermo I did not publish it as there seemed to be no interest. If this is task would be useful to you I can check whether I can do so. The implementation itself is quite straight-forward.

As mentioned the idea is to spawn kubectl with port-forward and keep it running in the background for future steps in the build. For this we added
[code]
to the `ClusterConnection` as it knows the kube

[2020-09-16 09:47] cmenzi commented on #5919
Absolutely agree. The issue is not solved and because .NET Core / SourceLink has Linux support, Azure Artifacts should really support that.

[2020-09-16 10:49] cdesewell commented on #8291
To fix this I did the following after installing a tool using bash

[code]

[2020-09-16 11:35] Ganeshrockz commented on #13339
@FaithLV Are you still facing the same issue consistently?

[2020-09-16 11:36] Alexlofern opened #13559 "AzureRmWebAppDeploymentV4 not allow use a var on App Service type for use on Task Groups"
## Note

In V3 I can use a var on App Service type for reflect in task groups for use, but in V4 isn't.

Could you fixed? Please

[2020-09-16 12:41] dmcweeney commented on #12147
Also getting this on the AzureRmWebAppDeployment@3 task

[2020-09-16 14:19] hopegroup commented on #13508
I am also having the same problem looking forward to help

[2020-09-16 14:28] ekaterina-tatanova commented on #6458
Created PR: https://github.com/microsoft/azure-pipelines-tasks/pull/13558

[2020-09-16 14:53] ricohomewood commented on #13457
@20shivangi Yes, well its the fact that this task knows nothing about autoswap if that has been configured on a slot that this task is deploying to.

We have now reverted to using the `AzureAppServiceManage@0` task now and turning autoswap off because we couldn't rely on the AzureFunctionApp task going green on the DevOps pipeline if the autoswap fails for whatever reason.

[2020-09-16 14:54] ricohomewood commented on #10903
@N-Usha any update on this?

[2020-09-16 14:56] iamalexmang commented on #10594
In case anyone else is wondering, the way I'm working around it is by using the Azure CLI task instead.
Effectively something along these lines:

[code]

The task above is effectively logging in the SP by using the `--allow-no-subscription` parameter and the, via the inline script, configuring the active subscription context to allow for the Function App deployment to go through.
Regretfully, this

[2020-09-16 15:07] 20shivangi commented on #13296
@gunars-skangals Can we close this issue ?

[2020-09-16 15:08] #8860 closed

[2020-09-16 15:50] johnterickson commented on #13557
Follow this example: https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#nodejsnpm

[2020-09-16 15:50] #13557 closed

[2020-09-16 17:24] phil-hodgson commented on #12810
In the failing case, is there a reason that the package name is specified with a GUID, whilst in the succeeding case it has the package name?

[2020-09-16 17:47] leomoty commented on #11640
This is definitely annoying for us also, would like to keep using the glob pattern support for finding the projects, but going custom means there is no advantage whatsoever in using the Task anymore.

[2020-09-16 17:54] 20shivangi commented on #13087
We are closing the issue since we did not get any response from long time. Please feel free to re-open it if you are facing the issue with attached above details.

[2020-09-16 17:54] #13087 closed

[2020-09-16 18:13] dnperfors commented on #10968
@bishal-pdMSFT that is not always possible. In our case we have DevOps server 2019 (on premise), which doesn't support yaml release pipelines, therefor we have to use the old task (or use a custom script...)

[2020-09-16 22:31] yelob opened #13565 "KubernetesManifest task failing with "Cannot find module 'typed-rest-client/HttpClient'""
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifest

## Environment
- Server - Azure Pipelines

    I can provide the account name, team project name, build definition name/build number on request.

- Agent - Hosted Ubuntu-16.04

## Issue Description

The task is failing with the following error:

##[error]Unhandled: Cannot find module 'typed-rest-client/HttpClient'

[2020-09-16 22:43] splitified commented on #13565
Seems to be fixed by this #13564

[2020-09-16 22:45] yelob commented on #13565
ah, thank you! Searched a bunch and didn't see anything out there.

I guess now I sit with broken pipelines until that fix is deployed :(

[2020-09-16 22:56] slaanish opened #13566 "azureremwebappdeploymentv3 broken after 3.175.2 update"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug
**Enter Task Name**: azurermwebappdeplymentv3

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

 - Azure Pipelines

- Agent - Hos

[2020-09-17 00:00] splitified commented on #13565
@yelob You can try this :
Dirty workaround :
[code]

before using the failing task.
Found [here ](https://developercommunity.visualstudio.com/solutions/1187695/view.html)and tested, it works :p

[2020-09-17 00:11] yelob commented on #13565
I'll give a try, thanks!

[2020-09-17 04:57] 20shivangi commented on #13566
@damccorm Can you please check this, I think moving webappdeployment-common folder within the task has broken our code

[2020-09-17 05:47] N-Usha commented on #10903
Thanks @ricohomewood... we will add this to our backlog. However unfortunately we cant commit any timelines to delivering this as our team is currently heads down in delivering feature asks which have higher customer impact and need. Hope you can understand. Thanks! @nadesu as FYI

[2020-09-17 06:39] ds-ms commented on #13565
This issue has been hotfixed.

[2020-09-17 06:39] #13565 closed

[2020-09-17 08:02] ankitsatapara07 commented on #11191
yes issue is still there

/p:BlockOnPossibleDataLoss=false is not honored.

Some logs:
[code]

[2020-09-17 09:43] petrciml commented on #11435
I see the same issue on our on-premises instance too

[2020-09-17 10:32] ds-ms commented on #10665
You could use this task: https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/GitHubCommentV0

[2020-09-17 10:32] #10665 closed

[2020-09-17 10:38] datapythonista commented on #10665
That task doesn't have documentation, so it's difficult to tell for sure. But the task is to write a github comment, and that's not the main issue, the main issue is to access the results of all the jobs in the build.

[2020-09-17 10:54] iasha102 commented on #13262
Have made some more experiments. According to the @ds-ms advice have tried not to specify any kubernetes conection in a helm task but as environment specify the resource, and indeed that has worked.
But still this is not intuitive to not be able to setup a variable in a stage without declaring it in the global ones.
Also different k8s clusters setups don't feet always with the resource scenario.

[2020-09-17 11:50] VaclavK commented on #13518
I landed here investigating what I belive is similar issue

we have multi stage CD pipeline with second stage manual approval, and at times that happens much later
so additional  build happen at CI level .. the first stage of CD would take the build of triggering CI but days later the second stage would take the latest of CI not the build it was triggered for

I ended up not using that param but u

[2020-09-17 12:29] PavelPikat commented on #12147
Seeing for ms-vscs-rm.vss-services-ansible.ansible-task.Ansible@0 as well - https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.vss-services-ansible&targetId=696d346f-db19-4572-8d9a-18e120110d16&utm_source=vstsproduct&utm_medium=ExtHubManageList

[2020-09-17 13:11] VaclavK commented on #13518
_I seem to have accidentally deleted the original post, apologies_

I landed here investigating what I believe is the same issue

we have CI pipeline producing artefacts for CD pipeline, but CI can also be run for PR validation and it skips producing artefacts

our CD is multistage with Dev environment being automatic and QA requiring manual approval, that can happen days later

with that param my

[2020-09-17 13:14] candritzky commented on #13518
Thank you @VaclavK. This sounds promising. I'll give it a try and if it works, I'll close this request.

[2020-09-17 13:18] VaclavK commented on #13518
TBH I probably had the same understanding of that parameter.. either it is genuine bug or the doco should be made clearer/more explicit etc.

[2020-09-17 13:29] ds-ms commented on #10665
The task takes the contents as an input. You could draft the contents of the jobs using output variables, in most of the cases I presume.

[2020-09-17 13:44] candritzky commented on #13518
Yes, because they just mentioned a hardcoded build id in the docs. It wasn't obvious to me that you can pass the runID of the source pipeline here.

[2020-09-17 14:23] GreatScott000 commented on #13357
@RajashriVadakeri thank you so much.  That has it solved!

[2020-09-17 14:51] anatolybolshakov commented on #13476
Hi @dannythomas13 is it still actual for you?

[2020-09-17 14:59] anatolybolshakov commented on #13517
Hi @Abrishges is it still actual for you?

[2020-09-17 15:15] Vandersteen opened #13568 "Docker Task run container in V2"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Docker

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DockerV1
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DockerV2

## Environment
- Agen

[2020-09-17 15:34] nishanperera commented on #8194
@Ajay-MS Any updates on this issue?

[2020-09-17 16:27] ThadHouse commented on #13322
Is there any update on this? I can provide new build links that are up to date if that helps. This is still happening every build, and still extremely painful.

[2020-09-17 16:32] omokoh commented on #13118
Hi,
For this issues, we encourage you do
1. NpmAuthenticate
2. script: call npm install-clean --force || call npm install-clean --force

For more info,  See docs  (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/npm-authenticate?view=azure-devops)

[2020-09-17 16:50] sheikahamedali opened #13569 "MavenAuthenticate@0 task is throwing error "cp: dest file already exists: /root/.m2/_settings.xml""
## Note
The MavenAuthenticate@0 task is throwing  "cp: dest file already exists: /root/.m2/_settings.xml" while running the pipeline task on the Linux OS agent. The same task use to work until today morning without any errors.

Here is the complete error description from the task.

Starting: Maven Authenticate
==============================================================================
Task

[2020-09-17 17:40] Xinbi commented on #11346
Translation: Your problem isn't important enough to consider.  Go pound sand.

[2020-09-17 18:57] Abrishges commented on #13517
@anatolybolshakov  @alexander-prozorov  Thanks.  Temp directory `$(Agent.TempDirectory)` works. If it is intended behavior we can close this Issue

[2020-09-17 19:39] tj-corrigan opened #13570 "Add traffic weighting to AzureAppServiceManageV0"
## Required Information

*Type*: Feature
**Enter Task Name**: AzureAppServiceManageV0

## Issue Description

Currently the App Service Manage task supports swapping slots. It would be nice if it also supported configuring the traffic weight between different slots (see https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#route-traffic). Right now to accomplish the same thing you

[2020-09-17 20:09] rsegecin commented on #13377
Thank you @tejasd1990 for your reply, from what I understood you propose to name the projects accordingly to the sequence that they have to be compiled which might work but I think it's expected when you publish a specific project on azure DevOps to behave just like publishing on Visual Studio or with dotnet command (shown in my previous post) which would publish just the specific project that you

[2020-09-17 21:22] DerAlbertCom commented on #4945
This becomes more and more a problem. It's hard when to upload times takes over the build and test times. This is even worse on premises with the added latency.

[2020-09-17 23:31] keall-kja commented on #11658
+1

[2020-09-18 02:55] mdlopresti commented on #12010
Having the same issue here.  Would love a solution so I don't have to create a workaround.

[2020-09-18 03:11] mindlessroman commented on #11136
For anyone following this still. It seems that a PR is in the works to bump this version up for sync-request. https://github.com/microsoft/azure-pipelines-task-lib/pull/665

[2020-09-18 06:04] #13517 closed

[2020-09-18 07:07] 20shivangi commented on #13296
Since we do not support these scenarios, please feel free to re-open if you face any other issue.

[2020-09-18 07:07] #13296 closed

[2020-09-18 08:12] deepanshuverma commented on #12708
The issue is still there for us in our pipelines, could you please share if anything we need to change on our side to get the fix.

[2020-09-18 08:54] greengumby opened #13571 "azure devops nuget pack dependency version"
Hi,

I'm not entirely convinced this is the right place to ask my question.

`    - task: NuGetCommand@2
      displayName: 'NuGet pack'
      inputs:
        command: pack
        packagesToPack: '**\Database\**\*.nuspec;**\*.csproj;!**\*Host.csproj;!**\Tests\**;'
        packDestination: '$(build.ArtifactStagingDirectory)\nuget'
        includeReferencedProjects: true
        versioningScheme: b

[2020-09-18 09:54] #13377 closed

[2020-09-18 10:04] slawekww commented on #12810
@phil-hodgson Per my tests, package name/GUID must be concrete value and it is unrelated to version.
If version is not fixed, it is impossible to download using UniversalPackages.

Note: it is possible to get the latest version of UniversalPackage via API, as example bash script:

       echo "ORGANIZATION: $ORGANIZATION"
       echo "FEEDNAME    : $FEEDNAME"
       echo "PACKAGENAME : $PACKAGENAM

[2020-09-18 10:54] tejasd1990 commented on #13552
Hi @t-l-k , can you share the complete pipeline for which the run is hanging, and also the debug logs(by setting `system.debug` variable to `true`) for the hanged run?

[2020-09-18 10:57] preeti-mahajan commented on #10195
The wildcard "** /*.sql" does not work, but prefixing the regex with the location of working directory or simply putting "$(System.DefaultWorkingDirectory)\**\*.sql" executes the sql command in the order how the scripts are packaged.

[2020-09-18 11:14] alexander-smolyakov commented on #13322
@ThadHouse, we will investigate this issue shortly. Could you please use a `drop` name for now to avoid this issue?

It will be great since links in the issue description are outdate. Could you please also provide a logs and yaml file from the pipeline?

Thanks!

[2020-09-18 12:15] nithinmohantk opened #13572 "Multi repo pipeline checkout for tags not working as expected using refs/tags/20.8 etc."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-09-18 12:43] mitchdenny commented on #5919
/cc @johnterickson

[2020-09-18 13:26] anatolybolshakov commented on #12593
Hi @ebcFlagman @frenchf @glazzari @therottman @websolut - thanks for provided info? We prepared a fix and going to deploy it soon, will let you know once it's deployed

[2020-09-18 14:50] mb345345 commented on #7654
yup same here. I can set connection strings with passwords in, etc. but not the container registry password. this should not be hard!

[2020-09-18 14:53] tlbonds2 commented on #13387
@ekaterina-tatanova
Sorry for the wait.  Reverting the changes to the task did, in fact, resolve the issue.  Let me know your thoughts on next steps.
Thanks,
Tom

[2020-09-18 14:56] ThadHouse commented on #13322
Heres our pipeline yaml

https://github.com/microsoft/msquic/blob/main/.azure/azure-pipelines.ci.yml

And our builds are here
https://dev.azure.com/ms/msquic/_build?definitionId=347&_a=summary

Heres the latest one that still has the issue
https://dev.azure.com/ms/msquic/_build/results?buildId=110378&view=results

[2020-09-18 15:37] charleaux commented on #5472
Same issue for me today using Copy Files task 2.* with clean target folder option checked.

2020-09-18T15:30:35.8562671Z ##[error]Unhandled: Failed rmRF: EPERM: operation not permitted, unlink

[2020-09-18 16:15] johnterickson commented on #13557
This is not a support forum. Please look at https://developercommunity.visualstudio.com/spaces/21/index.html

[2020-09-18 16:22] johnterickson commented on #5919
Please upvote an existing feature request (or create a new one) on https://developercommunity.visualstudio.com/spaces/21/visual-studio-team-services.html?type=idea

[2020-09-18 16:34] #13118 closed

[2020-09-18 16:47] aaronentwistle opened #13576 "PR #13450 - Breaking change for match patterns in Extract File Task"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Extract Files Task

## Environment:

Azure Pipelines (hosted services):
- isagenix
- 'One Team'
- IsaNet_QA6(Release pipeline)
- Release-3363,3364,3365

Private agent(self hosted):
- Windows 2012r2
- Agent.Version 2.168.2

## Issue Description

Appears a change was made with PR #13450 on 'Extract Files' task that changed the matching

[2020-09-19 05:04] gitfool opened #13577 "DotNetCoreInstaller fails to install .NET 5.0 RC1"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreInstaller

## Environment
- Server - Azure Pipelines

  [gitfool/cake-docker/blob/master/.azure-pipelines.yml](https://github.com/gitfool/cake-docker/blob/master/.azure-pipelines.yml)

- Agent - Hosted:

  [gitfool/cake-docker/Pipelines/Build](https://dev.azure.com/gitfool/cake-docker/_build?definitionId=2)

## Issue Descri

[2020-09-19 11:51] tejasd1990 commented on #13577
Hi @gitfool , from the logs, I see you are using task version 1, can you use task version 2? This issue should not be faced with version 2.

[2020-09-19 20:32] gitfool commented on #13577
@tejasd1990 Thank you! Somehow I missed the switch to [`UseDotNetV2`](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/UseDotNetV2), which works as expected. 🎉

[2020-09-19 20:33] #13577 closed

[2020-09-19 23:59] ashu16815 opened #13578 "Publish test results is not working properly"
2020-09-19T10:24:17.3709790Z ##[warning]Failed to upload file Post_Del_APIs.postman_collection.xml to Blob Transfer exception with errorcode Unknown, exception message Microsoft.Azure.Storage.DataMovement.TransferException: The transfer failed.

We are getting above error for Publish Test Result task. PFA completed logs
[logsado.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5250910

[2020-09-20 21:29] hmendezm commented on #13118
Thanks for the info. I decided to move to yarn.

[2020-09-21 05:23] #13419 closed

[2020-09-21 05:52] kmkumaran commented on #12010
@rohit-batra / @ammohant - Can you review the request.

[2020-09-21 05:58] kmkumaran commented on #8194
@nadesu / @chshrikh to help you further on this.

[2020-09-21 07:24] alexander-prozorov commented on #12651
Hello @Phrayzur, is it still actual for you?

[2020-09-21 08:19] lszomoru commented on #13469
This issue has been resolved. Thank for your help!

[2020-09-21 08:19] #13469 closed

[2020-09-21 09:13] chshrikh commented on #12705
@Prithvitm please let us know details on this if you are still facing issue

[2020-09-21 09:13] #12705 closed

[2020-09-21 09:16] chshrikh commented on #12700
@charleswooprudential sorry for delay, in case you are still looking for details on azcopy task, @20shivangi can help you here

[2020-09-21 09:21] 20shivangi commented on #13432
Deployment will take at least 3 weeks. Please wait till the fix reaches to your account. Thank you for your patience.
Also, feel free to re-open the issue if the issue still occurs for you after our fix.

[2020-09-21 09:21] #13432 closed

[2020-09-21 09:30] chshrikh commented on #12357
@Prithvitm I am assuming the error you reported was not in context with AzureDevOps task. If you have any issue relate to azuredevops task please feel free to reopen this

[2020-09-21 09:30] #12357 closed

[2020-09-21 09:34] chshrikh commented on #11565
@Ashish-Jovial this repo is used to track issues related to azure devops tasks. Closing for now, in case you are using azure devops please share the detailed error logs.

[2020-09-21 09:34] #11565 closed

[2020-09-21 09:38] 20shivangi commented on #12700
Our AzureFileCopyV4 task uses azcopy.exe with version 10.3 which supports copying of files to azure blob and azure VM.
You can refer to this repo for parameters : https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFileCopyV4

[2020-09-21 09:48] 20shivangi commented on #12163
@stilren Az.Storage has been added in az module version 4.6.0 which is present in Hosted agent. Can you please try to run the AzurePowerShell task (V4/V5 version) with option latest version on Hosted agent ?

[2020-09-21 09:50] 20shivangi commented on #11339
Any update here ?

[2020-09-21 09:50] 20shivangi commented on #11631
@FlorisDevreese Are you unblocked now ?

[2020-09-21 11:17] kauemendes commented on #13576
Awesome! I was about to open an issue as well. This has impact several builds and releases on company Azure DevOps. My suggestion is that returning a nested folder should be in some way an option, without the need to pass the entire folder. Once it´s located where it should be.

Another suggestion is... Changes like this should be fully notified in some way. It can impact the whole process inside

[2020-09-21 11:24] aodj commented on #11013
Seeing the same behaviour on Release Pipelines. The [documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#known-issues-and-feedback) simply says to check the known issues, which leads here to a closed issue.

[2020-09-21 11:49] FlorisDevreese commented on #11631
@20shivangi Yes, we are unblocked :-)

[2020-09-21 11:50] Zhaph opened #13580 "Environment Transforms are not being applied with AzureRmWebAppDeployment in YAML pipelines"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeployment

## Environment
- Server - Azure Pipelines?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
      - Account: PromontoryNetwork

[2020-09-21 11:59] 20shivangi commented on #11631
Great, closing it now :)

[2020-09-21 11:59] #11631 closed

[2020-09-21 12:13] 20shivangi commented on #13246
@N-Usha  Can you please review the PR for documentation :  https://github.com/microsoft/azure-pipelines-tasks/pull/13430/files0

[2020-09-21 14:10] acrov commented on #13576
This change broke many of our release pipelines too.

While I realise the existing behaviour (recursive search) was probably not the intended behaviour it had been like that for over 12 months.  Some notice that this was a breaking change (and some way of subscribing to notifications) would have been nice.

Or better still, some impact analysis before deciding to make the change.

[2020-09-21 14:58] d-burr commented on #13566
@chshrikh @N-Usha @nadesu we are also being effected by this issued, is there an ETA on it being resolved?

[2020-09-21 14:59] mbellas-tkxs commented on #10195
Same issue, this would be nice to have.

[2020-09-21 15:13] trevorreeves commented on #13566
@chshrikh @N-Usha @nadesu This is seriously affecting multiple teams in our organisation.  A prompt fix would be gratefully received.

[2020-09-21 15:20] anatolybolshakov commented on #13576
Hi @aaronentwistle @kauemendes @acrov @AndrewGretton sorry for breaking change here - there was an undocumented behavior. We are going to update documentation as well to make it more precise regarding this case, and consider impact for such cases.

The current working way to set all files in root folder and subfolder - '**/*.zip' instead of '*.zip'

[2020-09-21 16:20] aaronentwistle commented on #13576
I guess that makes sense - I remember looking at it and saying "That works? Weird. Ok I guess"

Also to clarify do you mean **/*.zip?

[2020-09-21 16:54] nadesu commented on #13566
@20shivangi, @damccorm - What is the expected ETA for the fix?

[2020-09-21 16:59] annaisalwaysawesome commented on #13576
Our pipeline broke as well.  We had only '*.zip' in the File patterns.

[2020-09-21 17:35] anatolybolshakov commented on #13576
@annaisalwaysawesome @aaronentwistle yes, thanks, correct - '**/*.zip' should work, I fixed my comment above

[2020-09-21 17:50] damccorm commented on #13566
Sorry, didn't mean to close - this should be fixed in master, it should roll out with the next sprint payload over the next 3 weeks

[2020-09-21 18:36] mayankmaheshwari18 opened #13582 "Error adding secret in KeyVault via release pipeline"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information
I am trying to ad

[2020-09-21 20:02] damccorm commented on #13572
Hey @nithinmohantk this looks like an issue with checkout and/or yaml, the checkout task doesn't live in this repo - could you please file an issue here - https://developercommunity.visualstudio.com/spaces/21/index.html? That's the best place to get the right eyes on this.

[2020-09-21 20:11] nulltoken commented on #13566
FWIW, upgrading to v4 solved the issue for us

[2020-09-21 21:24] omokoh commented on #13509
Hey,
We recommend you to use nuget authenticate
see this link for more info

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops.

Thanks

[2020-09-21 21:30] omokoh commented on #13569
Hey,

We just sent a fix for this issue. Is it currently resolved?

[2020-09-21 21:33] omokoh commented on #13571
Hey,

We would recommend you use nuget authenticate
See this link for more info
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops

[2020-09-21 21:55] sheikahamedali commented on #13569
Thank you for the fix. The mavenAuthenticate task seems to be working fine.

[2020-09-22 01:21] greengumby commented on #13571
Hi,

How would that help?

[2020-09-22 05:08] 20shivangi commented on #13566
@slaanish Yes, you can either upgrade your task to use V4 version or wait for at least 3 weeks till the fix reaches to your account. Thank you for your patience.

[2020-09-22 06:41] 20shivangi commented on #13551
@enoorden I am able to reproduce the issue. Thanks for reporting the issue. We will work on its fix and let you know soon

[2020-09-22 06:55] mchenx commented on #13541
I have opened one  [https://github.com/microsoft/azure-pipelines-agent/issues/3110](url)
but no one looked into it, it's been a week

[2020-09-22 06:58] lg2de commented on #11435
I faced this problem on on-premises too.
Is there any work-around?

[2020-09-22 07:02] ammohant commented on #13541
Hey @mchenx   - Can you put the ask against  https://github.com/microsoft/azure-pipelines-agent/issues/3110 given that it is likely to be an agent specific issue  ?

[2020-09-22 07:18] savamihai opened #13583 "New version of Azure App Service deploy task brakes our production deployment pipeline"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-09-22 07:53] shigupt202 commented on #13568
@Vandersteen You can give run in the `command` input of DockerV2 task and remaining command parameters in the `arguments` input.

[2020-09-22 07:54] adsurg commented on #12593
Would you be kind enough to let me know too, please?

[2020-09-22 08:07] diakonos opened #13585 "Zip Deploy doesn't overwrite all wwwroot contents as expected"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeploymentV4

## Environment
- Server - Azure Pipelines

Account name: ok-devops
Team Project name: OK Grade
build definition name/build number:

- Agent - Hosted

Agent queue name: Azure Pipelines vs2017-win2016

## Issue Description

The contents of wwwroot are not being cleared as specified in

[2020-09-22 08:10] spSlaine commented on #9928
There was no workaround for this issue!

[2020-09-22 09:09] mpoiron commented on #13232
Hi,

I am still facing the issue, and the MSDEPLOY_RENAME_LOCKED_FILES setting indeed seems to be only for Azure and I am on-premises.

[2020-09-22 09:13] ljani commented on #13152
@shigupt202: Thanks for the pointer. Did you build the tasks yourself or are they available from some package source?

[2020-09-22 09:15] Zhaph commented on #13580
Digging into a similar issue on the FileTransform task, I noticed that the default is to reference the predefined variable `Release.EnvironmentName` - however the `Release` object doesn't exist on CI/CD pipelines, this should be either `Environment.Name` (if running in a deployment step) or `System.StageName` (to be sure for all types of build).

[2020-09-22 09:19] shigupt202 commented on #13152
@ljani I built it myself. But you can build the latest version of task anytime. Just clone the [azure-pipelines-tasks](https://github.com/microsoft/azure-pipelines-tasks) repo and run `node make.js build --task HelmDeployV0` and then check the _build folder.

[2020-09-22 10:17] anatolybolshakov commented on #13476
@dannythomas13 I'm closing this issue due to inactivity currently - please feel free to reopen it if it's still actual for you

[2020-09-22 10:17] #13476 closed

[2020-09-22 10:17] t-l-k commented on #13552
Sure I will endeavor to do so this week as the original pipeline has been changed to function correctly, I will recreate another pipeline using a default Microsoft docker image that already has SSH configured.

[2020-09-22 11:37] ppanyukov opened #13587 "FileTransform task not replacing appsettings.json keys starting with "common""
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure App Service deploy, version 4

Probably this:

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureRmWebAppDeploymentV4

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

We have `appsettings.json` like this:

[code]

Then we have a var in Release de

[2020-09-22 11:40] ekaterina-tatanova commented on #13456
@veepee78 Is it still actual for you? Could you confirm that this is reproducible when situation is the same in both cases?

[2020-09-22 12:19] ppanyukov commented on #13587
So, looking at the code... if this is the right place:

Any var starting with these will not get replaced:

[code]

https://github.com/microsoft/azure-pipelines-tasks/blob/6a1f5767d30aa2346589377ff4cbdabe199cef7c/Tasks/Common/webdeployment-common-v2/variableutility.ts#L4

These get filtered out later on here:

https://github.com/microsoft/azure-pipelines-tasks/blob/6a1f5767d30aa2346589377ff4cbdabe

[2020-09-22 12:28] Zhaph opened #13588 "FileTransform correctly applies all transforms but still reports Error Unable to apply transformation for the given package - Changes are already present in the package."
## Required Information

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: FileTransform

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
      - Account: PromontoryNetwork
      - TeamProject: newco.com
      - Definition: 2
      - Build Number: 0.2.18

-

[2020-09-22 12:34] ppanyukov commented on #13587
I can see why these are excluded but... This is not ideal. TBH this whole variable substitution is pretty scary as well. Someone can define a var group somewhere which by accident matches something in `appsettings.json` or some other json file.

In any case, these exceptions should be at least documented here: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/transforms-variable-substi

[2020-09-22 13:02] mak-dt-rtl commented on #13569
Has this been deployed to Production?

[2020-09-22 13:51] FaithLV commented on #13339
@Ganeshrockz Yes, tested building images today, still exhibits the same issue.

[2020-09-22 14:25] jozefizso opened #13589 "Build fails because of incorrect Build.SourceBranch variable value"
*Type*: **Bug**

**Enter Task Name**: any task with condition using the `Build.SourceBranch` variable

## Environment
- Server - Azure Pipelines (agent version: '2.174.2', image version: '20200827.1')

## Issue Description

The variable `Build.SourceBranch` is documented to have this format for Git repositories: `Git repo branch: refs/heads/master`. This format was changed in the latest Azure Pipe

[2020-09-22 14:39] jumaffre opened #13590 "DownloadPipelineArtifact artifacts size is not precise enough"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DownloadPipelineArtifact@2

## Environment

Azure Pipelines. MSRC-CCF. Agent version: 2.174.2
Agent: Hosted - ubuntu-18.04

## Issue Description

DownloadPipelineArtifact@2 logging includes size of downloaded artifacts. The size is only precise to the `0.1MB` so everything below `0.05MB` (assuming rounded to the closest digit) wi

[2020-09-22 14:46] care4pet commented on #7654
![image](https://user-images.githubusercontent.com/70435067/93897959-f8856b80-fcf2-11ea-98d8-a414f74f908d.png)

Why? Just why?

[2020-09-22 15:03] candritzky commented on #13518
@VaclavK Works, great, thank you. Closing issue.

[2020-09-22 15:03] #13518 closed

[2020-09-22 15:39] JBorras-summar commented on #13576
HI!
Changing  '**/*.zip' instead of '.zip' works fine in all my pipelines!!
Thank you!

[2020-09-22 16:49] MisinformedDNA opened #13591 "DotNetCoreCLIV2 push has no ability to skip duplicates"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DotNetCoreCLIV2

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DotNetCoreCLIV2

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

A pipeline that tries to push a NuGet package can result in a 409 (Conflict) if the pipeline

[2020-09-22 17:32] jhitze commented on #13587
I just ran into this after several hours of debugging. The ignored prefixes should at least be noted on the documentation.

[2020-09-22 17:51] chris-ray commented on #10469
Just wanted to +1 @lukeschlather here. zipAfterPublish true by default? Ridiculous! My colleague and I just spend several hours over multiple days trying to figure out why a pipeline would succeed step-by-step identically on our machines but fail on azure pipeline. No log message anywhere that we could see about the zipping effect. A nuget pack searching for files in the directory failed with "Dir

[2020-09-22 17:51] jhitze commented on #13441
I agree that there should at least be some kind of log output for keys that were ignored or closely matched but missed. It would really help in debugging issues.

[2020-09-22 17:54] anatolybolshakov commented on #13387
Hi @tlbonds2 we are going to add ability to control this new behavior by input, and specify it as disabled by default - created PR with related fix

[2020-09-22 19:30] hdiass commented on #13589
Yes, this is affecting me aswell.. You can't change this without further notice.. All my company pipelines logic relies on this..

[2020-09-22 20:01] MisinformedDNA commented on #13591
Workaround:

[code]

[2020-09-22 20:10] tlbonds2 commented on #13387
Thanks, @anatolybolshakov!  I will look out for the release.  Much appreciated.

[2020-09-23 00:40] Ceespino opened #13593 "AzureResourceGroupDeploymentV2 - Escaping [ results in [[ after deployment."
## Note
Deploying an ARM template using this extension gives a different result than deploying the ARM template using Powershell or [Azure Portal](https://ms.portal.azure.com/#create/Microsoft.Template).

Using this task, when I am deploying a parameter of type **string** with the following value **[[someValue]**,  the value is deployed as **[[someValue]**, however, if I use the same ARM template

[2020-09-23 01:28] tejasd1990 commented on #12702
Ok @Herve-M , I will update on this.

[2020-09-23 01:28] tejasd1990 commented on #13428
Hi @anti-matter , ping!

[2020-09-23 01:28] tejasd1990 commented on #13512
Hi @MartinDemberger , ping!

[2020-09-23 04:01] mchenx commented on #13541
ok, maybe I can find a new centos vm when I have sometime and setup it from scratch to see if the issue goes away...

[2020-09-23 04:43] kmkumaran commented on #9928
@nadesu / @chshrikh to review and follow-up.

[2020-09-23 05:12] mhgames commented on #13232
Same issue here. Is there at least some workaround? I'm guessing a copy task with app-offline.htm and then delete it after publishing...

[2020-09-23 05:47] pieterv-icloud-com opened #13594 "Helm 3.3.4 Issue"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-09-23 05:48] imzahahs commented on #12263
Does anyone know why "CODE_SIGNING_ALLOWED=No" works? I can't find any docs regarding this. (I used this for automating iOS builds for Unity 2020 via Jenkins).

[2020-09-23 05:53] shigupt202 commented on #13594
@pieterv-icloud-com Thanks for reporting the issue. This security warning is being shown from Helm 3.3.2 onwards. I've already raised a PR to fix the permissions on Kubeconfig file. As a work around, you can continue to use the older helm versions while we work on deploying these changes.

[2020-09-23 06:21] MartinDemberger commented on #13512
Hi @tejasd1990,
I have changed a few of the timeout values and now it is running. The point is I don't know which of the parameter has which effect so it's only a guess.
It might help if there is a sentense for each parameter which describes it's effect (or a URL to another documentation).

I think there was a documentation for the parameters a few years ago but I wasn't able to find it.

[2020-09-23 07:13] veepee78 commented on #13456
@ekaterina-tatanova Hi, so this happens in both cases when the destination directory 'timebooking' does not exists. With powershell build task and directly with powershell command.

Confirmed working if only timebooking directory exists. (no subfolders)

[2020-09-23 09:12] ekaterina-tatanova commented on #13456
Hi @veepee78, it looks like this is an external issue related to Powershell, and not related to pipeline task - since the behavior of the command is the same directly with powershell and via task. Here's also the related [issue](https://github.com/PowerShell/PowerShell/issues/7005) for Powershell - you can track progress about it here.
I'm going to close this issue currently since it's external. P

[2020-09-23 09:12] #13456 closed

[2020-09-23 10:17] vardans6 opened #13597 "How to configure multiple provisioning profile in manual setup"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-09-23 11:55] AmrutaKawade commented on #13583
@savamihai Can you share snapshot of pipeline how its configured?

[2020-09-23 11:58] glaenzesch commented on #11570
Same request #13409

[2020-09-23 12:46] kumarunster commented on #13589
Same here!
<img width="889" alt="Bildschirmfoto 2020-09-23 um 14 43 52" src="https://user-images.githubusercontent.com/2104820/94014102-5d9c9800-fdab-11ea-84a4-08eb5c084767.png">

everything is broken now!

[2020-09-23 14:21] joacar opened #13598 "Bash@3 doesn't have permissions to execute NuGet.exe installed by agent"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Bash@3

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version: Azure DevOps Server Version Dev17.M153.5

    - ~~If using Azure Pipelines, provide the accoun

[2020-09-23 14:52] bacongobbler commented on #13594
While that solves the immediate problem, why not just set the default value of `failOnStderr` to false? There should not be a case where a pipeline should fail due to a warning or a diagnostic message displayed on standard error. If there's an error, Helm will return a non-zero exit code.

https://github.com/microsoft/azure-pipelines-tasks/blob/d2bc3b4b163dcf7826a8f72cf493f1b2968ca477/Tasks/HelmDe

[2020-09-23 14:56] pieterv-icloud-com commented on #13594
Will definitely give it a try

[2020-09-23 18:36] shigupt202 commented on #13594
@bacongobbler The actual problem here was that the warning from Helm command was being written on stdout. This affected the output parsing logic for Helm version check in the task. Now that the warning is being written on stderr after [this commit](https://github.com/helm/helm/pull/8779), and we are also updating the permissions on Kubeconfig file, this issue should be resolved. (Although for imme

[2020-09-23 19:40] bitva77 opened #13602 "Helm v3 ACR login"
## Required Information

**Question, Bug, or Feature?**
*Type*:  FEATURE

**Enter Task Name**:  `Package and deploy Helm charts`

## Environment
- Server - Azure Pipelines or TFS on-premises?

Azure Pipelines

- Agent - Hosted or Private:

Private.  Redhat 7.5

## Issue Description

Using Helm 3, it does not seem possible to run a `helm registry login` command in order to login to Azure Container

[2020-09-23 20:42] mbellas-tkxs commented on #12101
Any ETA on this? It would be very helpful for me.

[2020-09-23 20:57] bridgetkromhout commented on #13594
For anyone looking to follow what's a default and where, we think https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/HelmDeployV0/task.json#L433 being set to true is not a good default, and handling errors like the Bash job handles them (https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/BashV3/task.json#L91) would be a more reasonable default.

[2020-09-23 21:04] annaisalwaysawesome commented on #13576
Hi, just an fyi that this was a pretty huge breaking change across many of our pipelines, causing them to fail suddenly without anyone having any idea why.  All the known issues have been fixed, mostly by the developers just being specific to the file they needed, but the impact was pretty significant.

[2020-09-24 02:47] SinZ163 commented on #13576
Just had to deal with this today, some heads up or moving this to a major version update would have been appreciated.

[2020-09-24 03:00] kmkumaran commented on #12101
@N-Usha - Can you review the request.

[2020-09-24 03:03] tejasd1990 commented on #13593
Hi @Ceespino , I was not able to repro this issue. I deployed the same template you attached, through the `AzureResourceGroupDeploymentV2` task, and a trigger parameter with value `[someValue]` was created. Can you check once again that the values in your template are correct?

[2020-09-24 03:17] #13597 closed

[2020-09-24 05:10] 20shivangi commented on #13551
@enoorden Have fixed the issue in PR : https://github.com/microsoft/azure-pipelines-tasks/pull/13584
The deployment of fix will take at least three weeks. Please wait till that time .

[2020-09-24 06:48] 20shivangi commented on #12163
@stilren The AzurePowerShell task with latest version of Az module on hosted agent will definitely solve your problem.
 I am closing this issue. However, if you find the issue again with latest version, please feel free to reopen this. We will surely help you.

[2020-09-24 06:48] #12163 closed

[2020-09-24 07:00] alexander-prozorov commented on #12651
Closing the ticket. Feel free to reopen this ticket if the problem is still reproducible.

[2020-09-24 07:00] #12651 closed

[2020-09-24 08:26] BobbyCGD opened #13604 "Az Copy V4 - NOT TRUSTED SERVICE"
**Question, Bug, or Feature?**
*Type*: [BUG]

**Enter Task Name**: Azure file copy v4

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Storage account has Firewall rule "Allow trusted Microsoft Services", copy task fails with 403 Not Authorized. Looks like a known issue for the last two years, nothing has been done about it. Last comment on thread 21 days ago http

[2020-09-24 08:49] #11468 closed

[2020-09-24 09:56] #12229 closed

[2020-09-24 10:07] #13530 closed

[2020-09-24 10:13] shigupt202 commented on #13602
@bitva77 Can you try giving the command input as `registry` and the remaining inputs as required by this commad.
Ref: https://github.com/sonayak/azure-pipelines-tasks/blob/master/Tasks/HelmDeployV0/src/helmcommands/helmregistrylogin.ts

[2020-09-24 10:29] #13568 closed

[2020-09-24 11:20] tejasd1990 commented on #13512
@MartinDemberger , the parameters are explained [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-parameters). Let me know if this helps. We will consider updating the task documentation.

[2020-09-24 12:50] MartinDemberger commented on #13512
Thank you very much. This was the information I was searching vor. Should I close this issue or should I keep it open to update the task documentation?

[2020-09-24 13:02] 20shivangi commented on #13551
I am closing this issue, if ever after our fix you find anything, please feel free to reopen it.

[2020-09-24 13:02] #13551 closed

[2020-09-24 13:03] 20shivangi commented on #13566
Closing this issue. Please wait for the fix to reach your account.
Feel free to reopen it if face any further issue

[2020-09-24 13:03] #13566 closed

[2020-09-24 13:24] damccorm commented on #13566
FWIW we actually ended up rolling this fix out last night, so it should be everywhere now

[2020-09-24 14:05] kumarunster commented on #13589
@jozefizso @hdiass did anyone filled an issue for MS Support? Any outcome?

[2020-09-24 14:09] rossbelcher commented on #9727
Also having issues with sub module authentication within the same organisation. Anyone have any workarounds for now?

[2020-09-24 15:58] kristianpinke commented on #11859
Hello,

I am experiencing the same behavior with the PowerShell task. Setting "Working Directory" under Advanced is not applied.
Maybe worth to note, that my path contains '[' and ']', e.g. '$(System.DefaultWorkingDirectory)\_CompanyApp-UWP [Release-Experimental-E2E]\drop\CompanyApp_$(Build.BuildNumber)'_Test\'.
There is no error in the console output, only that directory is set to 'C:\' and not t

[2020-09-24 16:24] stevenbrix opened #13605 "nuget install task should work with any version"
The nuget install task should work with any version of nuget. It currently doesn't support the latest nuget.

https://dist.nuget.org/win-x86-commandline/v5.8.0-preview.2/nuget.exe

No one wants to be blocked from accomplishing their work, and I doubt the azure team wants to continuously update this task every time there is a new nuget version, so this should just work.

Trying to use 5.8.0-preview

[2020-09-24 17:00] tejasd1990 commented on #11103
Hi @WhitWaldo , sorry for the late reply.
I am not getting what is the issue here. With `nuget pack`, are you using `nuget push` also? If so, then can you attach the yaml and the debug logs for that task as well?

[2020-09-24 18:08] bitva77 commented on #13602
@shigupt202 it seems as though it's ignoring everything in the arguments field:

``
2020-09-24T18:06:58.7660181Z ##[section]Starting: helm registry
2020-09-24T18:06:58.7670737Z ==============================================================================
2020-09-24T18:06:58.7671035Z Task         : Package and deploy Helm charts
2020-09-24T18:06:58.7671385Z Description  : Deploy, configure, update

[2020-09-24 18:46] craigktreasure commented on #12263
For me, `CODE_SIGNING_ALLOWED=No` allowed my build to complete, but I couldn't use the resulting app because it wasn't signed. So, I don't believe that's a good solution.

[2020-09-24 19:53] tejasd1990 commented on #13033
Hi @glucaci, can you share the full debug logs where you have faced this issue?
Also, how can I repro this for investigation?

[2020-09-24 20:10] vpetersen commented on #13589
I have a case open for this as well.

[2020-09-24 21:46] sukoneck commented on #4469
Did this ever make it onto a backlog? Any recommendations/workarounds for hosted agents?

[2020-09-24 23:35] kazoo60 opened #13606 "Feature Request: Support Multiple Database Targets in Task SQL Database Deployment"
This task works great for deploying to a single database.  It would be even more awesome if it could be enhanced to support deploying the same dacpac to multiple databases.

I understand we could do this now using "Each" loops in YAML or a custom PS task but it would be great if this pre-built task could accept a comma delimited list of DB names - limiting the functionality to deploying to multipl

[2020-09-25 00:42] Divjyot opened #13607 "Environment variable substitution failed in Configuration File (docker-compose.yml)"
**Question, Bug, or Feature?**
*Type*: Bug

**Task Name**: Azure Web App for Containers Deploy

## Environment
- Server - Azure Pipelines, Ubuntu:16.04
- Agent - Hosted or Private:  Hosted

## Issue Description
I have a pipeline with 3 tasks in it
**Task 1.** Run a Docker-Compose (Command : Build)
**Task 2.** Run a Docker-Compose (Command : Push)
**Task 3.** Azure Web App on Container Deploy

**Ta

[2020-09-25 00:47] trevors20 opened #13608 "azure-pipelines-tasks-azure-arm-rest-v2 - Part Name ".../OpenSSL License.txt" causes tfx create extension build break"
Question: Consuming "azure-pipelines-tasks-azure-arm-rest-v2" node library causes a build break when using "tfx create extension" to create azure task.

Would anyone know what I can do fix this?

Example:
tfx extension create --root <path>\_build --output-path <path>\_build --manifests <path>\_build\extension-manifest-bld.json --rev-version
TFS Cross Platform Command Line Interface v0.6.4
Copyrigh

[2020-09-25 04:21] shigupt202 commented on #13602
Please give the values of these inputs: `azureSubscriptionEndpointForACR` and `azureContainerRegistry`. You don't need to pass username and password explicitly in the `arguments`. The task takes care of getting these credentials from the service endpoint.

[2020-09-25 04:37] tejasd1990 commented on #13512
Glad you are unblocked  . I will close this now, will inform if documentation is updated.

[2020-09-25 04:37] #13512 closed

[2020-09-25 09:24] artazar commented on #13589
raised here too: https://developercommunity.visualstudio.com/content/problem/1192275/buildsourcebranch-no-longer-contains-git-reference.html

[2020-09-25 09:40] trevorreeves commented on #13566
We really appreciated the prompt roll out of this fix.  We had a lot of teams to communicate with and a lot of noise to deal with.  Thanks.

[2020-09-25 10:07] tsigereda commented on #13576
This broke our pipeline too and that created a bit of a disruption in our day until i  figured out that it was this that halted our releases. Nice if these changes were in major versions.

[2020-09-25 11:45] d-burr opened #13611 "azurermwebappdeplymentv3 version 3.175.3 fails with error code 2148734720"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

** Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: azurermwebappdeplymentv3

## Environment
- Server - Azure Pipelines
- Agent - Private Windows, agent version 2.164.7

## Issue Description

azurermwebappdeplymentv3 version 3.175.3 fails with error code 2148734720. Do

[2020-09-25 12:15] exglade commented on #13589
My agent version: '2.174.3'. I have the same condition in my pipeline:

`condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/development'))`

When the branch triggers the Azure Pipeline (in a CI manner) to build, the Build.SourceBranch would not have the `refs/heads`. Afterwards, I manually re-run the Azure Pipeline on the same branch, the Build.SourceBranch has the `refs/h

[2020-09-25 12:39] abartelsmeier commented on #13576
same issue for us too... *.zip used to search recursively, now doesn't. I can see why this change wasn't in a major version change, it was never meant to search recursively! A wider question, not sure if anyone knows the answer, but why don't ADO releases lock the specific versions of all tasks used when the release is created? Seems a bit worrying that past releases can be broken in this way...

[2020-09-25 12:43] davidguidali opened #13613 "ExtractFiles Task does not work anymore"
Since yesterday, the ExtractFiles task does not work anymore in my solution. I have not changed anything in my setup, so I guess its due to some updates in the task itself.

I have the following tasks in my pipeline definition yml:
[code]
My artifact folder is only containing the .zip folder I want to extract:
![image](https://user-images.githubusercontent.com/61904428/94268173-0d553f80-ff3d-11ea-

[2020-09-25 13:18] markdnelson commented on #13613
It seems the change caused the task to no longer find your zip file in a sub-folder of the current working folder (which you cannot specify).  One workaround is to use "**/" in your pattern.

[2020-09-25 14:02] quentled opened #13614 "helm deploy fail when install is executed"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: helm deploy

## Environment
- Server - Azure Pipelines on ubuntu 18.04, hosted agent

## Issue Description
when trying to install chart with helm deploy task , always fail due to bad command line generation: use --name

[2020-09-25 15:16] RSSDaveCanatsey commented on #13613
I am having the same issue since the Extract Files task moved from 1.165.2 -> 1.175.0

Before:
![image](https://user-images.githubusercontent.com/66695165/94284511-7b3f3e00-ff20-11ea-93f1-8770c502962b.png)

After:
![image](https://user-images.githubusercontent.com/66695165/94284533-87c39680-ff20-11ea-89fe-3edf17dd11f3.png)

I haven't tried @markdnelson 's workaround yet.  Will give it a try and re

[2020-09-25 15:21] anatolybolshakov commented on #13613
Hi @davidguidali @markdnelson @RSSDaveCanatsey yes, '*.zip' pattern handled by undocumented way - replacing it by '**/*.zip' should work - please let us know if you have issues with it
Here's the related [issue](https://github.com/microsoft/azure-pipelines-tasks/issues/13576) - please let us know

[2020-09-25 15:44] anatolybolshakov commented on #13576
Hi everyone, we fixed issue with incorrect default '\*.zip' value also for archiveFilePatterns input in [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/13610) and going to roll out briefly soon.
As a workaround - you can set archiveFilePatterns as '\*\*/\*.zip' if it wasn't specified, or replace '*.zip' by '**/\*.zip'
Sorry for inconvenience here - we are going to deliver such changes

[2020-09-25 16:03] steven-hyland commented on #13576
Thanks for pinning this issue - we ran into it at my org too.

I too was confused at first why the bare `*.zip` worked, but just went with it. We had some broken pipelines too, but the reasoning about undocumented/unintended behavior makes sense. Thanks for the explanation of the problem and suggested fix.

[2020-09-25 17:16] #13258 closed

[2020-09-25 17:26] trevors20 commented on #13608
I may have worked around this by renaming these files as part of my build steps before calling "tfx extension".  Instead of "OpenSSL License.txt" I rename the file to have an underscore "OpenSSL_License.txt".  Not pretty but, I believe it works.

[2020-09-25 17:38] RSSDaveCanatsey commented on #13613
@anatolybolshakov Thanks! This is a good resolution.

[2020-09-25 21:09] krispenner commented on #11542
@chinloyal @morfj @josmare
I'm fairly new to docker and I'd like to understand why the `build` command would require to know the container registry?
I'd like to build the image once and then push it to three separate registries, but if you are all suggesting I need to specify the registry during the `build` command then it seems there is some dependency to the registry during the build and therefo

[2020-09-26 05:56] vbreuss commented on #11944
I also have the same issue (with 1&1 Ionos), but also using V1 of the task didn't help.

[2020-09-26 06:58] porscheme commented on #13327
Any update on this, when is the fix coming?

Any workaround in the meanwhile?

[2020-09-27 01:52] softworkz commented on #9754
It hasn't clearly been stated here, so is my understanding correct, that it is currently impossible to create/publish a GitHub from Azure Pipelines, when the target repository belongs to a GitHub organization?

- GitHub App authentication is not supported (what this issue is about)
- It doesn't seem possible to create a PAT for a GitHub organization
  (when using a PAT for my personal account I do

[2020-09-27 01:56] travisgosselin commented on #9754
I don't believe that the second bullet is accurate. Currently, I am using a personal account with a PAT that is a member of the organization, that has "ADMIN" access on a repo with this Task successfully. Not ideal though of course to use the PAT (may consider using a BOT account if not resolved soon to allow GitHub App authentication).

[2020-09-27 02:06] ChrisPearce commented on #11438
Is this issue still being investigated?

[2020-09-27 02:07] softworkz commented on #9754
I meant for the organization itself.

Thanks Travis - maybe it just doesn't work for the organization owner... I'll try to create a separate account.

[2020-09-27 07:33] bishal-pdMSFT commented on #13428
@anti-matter AFAIK if you are using UseDotNet@2 task then this error should not happen. It sets environment path for global tools.

[2020-09-27 07:35] bishal-pdMSFT commented on #13327
@porscheme this is just a doc issue and the task exists in release editor (with an updated name)

[2020-09-27 08:08] ankitsatapara07 commented on #11191
Finally Figure it out what causing the issues.

Actually problem is not with `/p:BlockOnPossibleDataLoss=false` , It is being honored but the Drop Blocking Assemblies are not allowed to drop the column(s)/table(s).

To work it perfectly as you want use this flag : `/p:AllowDropBlockingAssemblies=true` and will work as expected.

I don't think so issue is within the azure pipeline.

JFYI - I am usi

[2020-09-27 12:12] jsuen123 commented on #13611
Having the same issue. Previous version 3.163.5 was working. After 3.175.3, the issue starts.
Is there a work around?

[2020-09-28 05:17] davidguidali commented on #13613
Thanks @anatolybolshakov
Due to your workaround it now works again.

[2020-09-28 05:44] ds-ms commented on #13607
Here's a doc for you to understand the variables syntax: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#understand-variable-syntax

It looks like you're using them wrong. You should use it like $(AZ_CONTAINER_REGISTRY) or ${{ variables.AZ_CONTAINER_REGISTRY }}

[2020-09-28 06:02] Divjyot commented on #13607
Thanks for your comment. Just want to confirm/restate that the yml file I am referring to is the configuration file i.e. that one set in App Service Plan - NOT the yml that we use to define pipeline (tasks). When the pipeline runs **Task1** and **Task2**, the yml linked to those task (**contains same variables & syntax** runs  successfully i.e. variable substitution completes and builds & pushes i

[2020-09-28 07:16] ds-ms commented on #13607
What's your task3? AzureWebAppDeployment?

[2020-09-28 08:09] egor-bryzgalov commented on #13477
Hi, @inforithmics

I'm closing this issue since the fix is deployed at the moment. Please feel free to reopen it if there are any issues.

[2020-09-28 08:09] #13477 closed

[2020-09-28 08:35] ganesp commented on #13201
@adamtuliper
The publish code coverage results task shows no error. I understand it is very old issue now, but please share more details (AzureDevOps account and build number) if you are still facing this.

Log snippet (shows no issue at all in uploading coverage report)

2020-06-30T01:25:19.2667040Z 2020-06-30T01:25:19: Report generation took 1.7 seconds
2020-06-30T01:25:19.2783804Z Generated cod

[2020-09-28 09:15] AmrutaKawade commented on #13611
@jsuen123 are you also facing this issue on private agent?
@d-burr can you share .net framework version installed on your agent?

[2020-09-28 09:17] AmrutaKawade commented on #13583
any update on this?

[2020-09-28 09:34] jsuen123 commented on #13611
@AmrutaKawade yes, on private agent. Agent - Windows, agent version: 2.7.41491.993

[2020-09-28 10:15] alkumaroii commented on #10158
Here is explained in great detail about Destination IDs.
https://www.youtube.com/watch?v=-Hh3qNSolOM

[2020-09-28 10:50] d-burr commented on #13611
@AmrutaKawade we are on version 4.7.03062

[2020-09-28 11:15] riteshmaddala opened #13616 "HTTP ERROR 404 Not Found in Jenkins Queue Job"
**Question, Bug, or Feature?**
*Type*: Bug

## Environment
1. Azure DevOps
2. Jenkins is hosted Seperatly and we are accessing that using Load Balancer and Token-Based Authentication.

## Issue Description

When we try to Trigger Jenkins Job from Azure DevOps Pipeline, Job is getting triggered successfully but Azure DevOps Pipeline is hitting the wrong URL to get the Job ID.

Wrong URL which DevOp

[2020-09-28 11:30] EzzhevNikita commented on #12814
Hi, @sethi-ishmeet! Is this issue still actual for you?

[2020-09-28 11:41] inforithmics commented on #13477
Thanks for the fix

[2020-09-28 11:51] resried commented on #7659
Any news, when this is planned?

[2020-09-28 12:05] ajinkya599 commented on #13490
@HardNorth Are you still facing this issue?

[2020-09-28 12:22] AmrutaKawade commented on #13611
@damccorm can you check this?
@d-burr and @jsuen123 can you try installing ".Net Framework 3.5" check if that works as mentioned [here](https://www.benday.com/2018/01/09/how-to-fix-msdeploy-exe-failed-with-return-code-2148734720/)

[2020-09-28 13:05] HardNorth commented on #13490
@ajinkya599 let me check on the next week. I'm on vacation now.

[2020-09-28 13:18] ajbrun opened #13618 "FileTransform task sporadically doesn't apply variable substitutions"
**Question, Bug, or Feature?**
Bug

**Enter Task Name**: FileTransform

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

The FileTransform task doesn't always appear to substitute variables in the appsettings section of my web.config file. I have pulled out a minimum working demonstration so that this can easily be replicated elsewhere.

The problem _may_ be relate

[2020-09-28 13:21] #13572 closed

[2020-09-28 13:30] damccorm commented on #13589
Hey folks - we are actively investigating this one. Since this isn't really a task-specific issue, I'm going to close here and we'll use https://developercommunity.visualstudio.com/content/problem/1192275/buildsourcebranch-no-longer-contains-git-reference.html for public tracking.

If you're being impacted, I'd recommend upvoting that thread. That will help it get the attention it needs (though to

[2020-09-28 13:30] #13589 closed

[2020-09-28 13:58] jozefizso commented on #13589
This is more then *urgent priority* issue now. We have issue with deployments for a week now.

[2020-09-28 15:08] #8719 closed

[2020-09-28 15:08] #6899 closed

[2020-09-28 15:08] #6468 closed

[2020-09-28 15:08] #6191 closed

[2020-09-28 15:21] bucmic commented on #10513
Same situation and configuration on our side.

[2020-09-28 16:43] Ceespino commented on #13593
@tejasd1990
I just deployed the ARM template again using the task and still getting the parameter value with `[[someValue]`.

![image](https://user-images.githubusercontent.com/40403944/94461219-b33bc080-016e-11eb-9d82-63b484dbd158.png)

Could you please walk me through how are you trying to repro the problem?
I basically have the task pointing to the ARM template file in a repo, then just deployi

[2020-09-28 16:48] DenVifer commented on #13398
I discovered the following strangeness.
In the Add-SslCert util (https://github.com/microsoft/azure-pipelines-extensions/blob/master/TaskModules/powershell/TaskModuleIISManageUtility/AppCmdOnTargetMachines.ps1) the following code looks incorrect.

`
$isItSameBinding = $result.Get(4).Contains([string]::Format("{0}:{1}", $hostname, $port))
`

...

`
$isItSameBinding = $result.Get(4).Contains([string

[2020-09-28 17:25] Danielovich opened #13619 "dotnet test fails with no apparent error message ?"
This is the log from the error and to the task finishes.

I have nothing to go with in terms of why this fails. No error messages!

2020-09-28T17:12:00.6705158Z ##[error]Error: The process 'C:\ag2\_w\_tool\dotnet\dotnet.exe' failed with exit code 1
2020-09-28T17:12:01.3410333Z Result Attachments will be stored in LogStore
2020-09-28T17:12:01.3703831Z Run Attachments will be stored in LogStore
2020

[2020-09-28 17:40] anatolybolshakov commented on #13477
@inforithmics sure 😄 please feel free to create another issue or reopen current if you will face any issues again

[2020-09-28 18:13] mcconnelljh opened #13620 "The Azure SQL DACPAC task failed. SqlPackage.exe exited with code 1"
Hi All -

Just getting started with Azure Pipelines and Releases, and trying to get my head wrapped around how to use the Azure SQL DACPAC.  I'm running into an issue with my initial release and I'm unsure as to what the problem is, all I'm getting is the generic **Azure SQL DACPAC task failed.  SqlPackage.exe exitd with code 1** error.  Currently there are no objects in the database, don't know t

[2020-09-28 19:55] andressantos10 opened #13621 "AzureRmWebAppDeploymentV4 no change always on (general settings)"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:

Azure Deploy App Service task version 4

## Environment

- Server - Azure Pipelines

- Agent - Hosted

Private Windows, agent version 2.173.0

## Issue Description

When I use task version 4 "Azure Deploy App Service"

[2020-09-28 20:03] Alexlofern commented on #13621
I have the same issue, so I'm using v3 that works fine...

[2020-09-28 20:40] bmarinov commented on #13268
Hey all @ds-ms  @ammohant :)
decided to poke a bit to see if this issue didn't slip through your notification filters. Any chance that this makes it past the PR stage in the next month or so? Regards!

[2020-09-28 23:27] Divjyot commented on #13607
**Azure Web App on Container Deploy**

[2020-09-29 01:37] vaughnbeanz opened #13622 "DownloadPipelineArtifact uses inconsistent paths"
## Required Information

**Question, Bug, or Feature?**
*Type*: Maybe Bug

**Enter Task Name**: DownloadPipelineArtifact

## Environment
- Server - Azure Pipelines

account name : vaughnbutt
team project name : ProjectPOC2
build definition name : YAMLPipelinePOC
build number: buildId=134, #20200929.15

- Agent - Hosted:

agent queue name: umm?

## Issue Description

Summary : The paths used by Dow

[2020-09-29 01:40] vaughnbeanz commented on #13622
[logs_134.zip](https://github.com/microsoft/azure-pipelines-tasks/files/5295854/logs_134.zip)
Logs that were TBD.

[2020-09-29 01:41] vaughnbeanz commented on #13622
It's possible that this behaviour is intended. If that is the case then I think this is a documentation issue.

[2020-09-29 03:04] TheOnlyWei opened #13623 "[AzureStack] ICM: Wrong Endpoint URL"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureResourceManagerTemplateDeployment@3

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

Account Name: weshi1
Project Name: weshi1
Build ID: 232

https://dev.azure.com/weshi1/weshi

[2020-09-29 04:36] rikat-ms commented on #13288
FYI: This issue was resolved by this update.

September 8, 2020—KB4570333 (OS Build 17763.1457)
https://support.microsoft.com/en-us/help/4570333/windows-10-update-kb4570333

The current Windows Server 2019 image for Microsoft-hosted agent seems to have this update. So, the issue won't occur unless users configure their self-hosted agent on Windows Server 2019 without this update.

[2020-09-29 05:36] Haim-Bi opened #13624 "HelmDeployV0 - Install fail on latest version."
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeployV0

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: its a corporate account that is not public.

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name: hosted ubuntu 1

[2020-09-29 05:42] Haim-Bi commented on #13624
Task Yaml:
steps:
- task: HelmDeploy@0
  displayName: 'helm install clipper'
  inputs:
    connectionType: 'Kubernetes Service Connection'
    kubernetesServiceConnection: 'AKS-US-UGD-Default-Admin'
    namespace: clipper
    command: install
    chartType: FilePath
    chartPath: '$(System.DefaultWorkingDirectory)/_ClipperDeployment/clipper'
    chartVersion: 0.1.0
    releaseName: clipper
    ov

[2020-09-29 05:51] Haim-Bi commented on #13614
also for me :( "Error: unknown flag: --name"
it seems that it no longer recognizes that the helm version is V3. since this flag no longer exists in V3.

[2020-09-29 06:47] planetjones commented on #13613
Same issue here - not great that this changed without necessitating a version update in the task.  We rely on this sometimes to push fixes to production at short notice, so the last thing we want is something to fail when it's critical it's needed.

[2020-09-29 08:35] jsuen123 commented on #13611
@AmrutaKawade I was unable to install .NET Framework 3.5 due to some VM issues. But running in Task Version 4.* worked, so I have switched to 4.*

[2020-09-29 08:39] jsuen123 commented on #13611
@AmrutaKawade Also, do you know why instaling .NET Framework 3.5 could be the solution? It was working prior to task version 3.175.3, it's a bit strange that a newer task version requires an old version of the .NET Framework.

[2020-09-29 09:49] 20shivangi commented on #13604
@BobbyCGD Have you given these permissions storage blob data contributor and storage blob data owner to your spn id ? Please check this doc : https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10#option-1-use-azure-active-directory

[2020-09-29 10:03] kepikoi commented on #8171
@elangelo Any update on this? I'm struggling with timeouts on long-running `npm test` task and cannot see the culprit due to missing logs

[2020-09-29 10:47] Connect-a opened #13625 "Feature Request: [Pipeline Caching] Please add control options to run "Post-job: Cache" even if a previous task has failed."
## Required Information
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Pipeline Caching

## Issue Description
I encountered a case where I wanted to cache a specified folder, regardless of the success or failure of the pipeline.
The pnpm package manager caches library packages in the ".pnpm-store" folder.
Often it fails to download packages, but this does not cause any incons

[2020-09-29 10:57] Haim-Bi commented on #13624
I think that the problem is that after the check version command, you got warning now and you try to parse the warning for the version results and don't get the "v3" you are searching for.

as a containment, until this will be fixed, you can return to use helm 3.3.1 where this issue started as I believe in 3.3.2 and above due to security changes.

[2020-09-29 11:44] Haim-Bi commented on #13624
Can you consider please set this:
`curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash`
from https://github.com/actions/virtual-environments/blob/854d90d2058963f1e3cc0c7c404857aa9c898910/images/linux/scripts/installers/kubernetes-tools.sh#L18

to :
`curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash -s -- --version v3.3.1`

until there w

[2020-09-29 11:56] Alexlofern opened #13626 "Feature Request: AzureRmWebAppDeploymentV4 "Powershell Post Deployment Action""
## Azure App Service deploy (DevOps Task)

AzureRmWebAppDeploymentV4

## Feature Request

Could you create an option to run powershell scripts on  Post Deployment Action?

Regards

[2020-09-29 12:09] alexander-prozorov commented on #13392
The RP https://github.com/microsoft/azure-pipelines-tasks/pull/13609 has been merged

[2020-09-29 12:09] #13392 closed

[2020-09-29 12:14] eliassal opened #13627 "PS not able connecting to Azure AD"
**Question**
*Type*: I log to azure portal with my credentials, I am in global admins but when I issue
` $AzureAdCred = Get-Credential`
`Connect-AzureAD -Credential $AzureAdCred`
I get
[code]

[2020-09-29 12:23] vovikdrg commented on #12597
Yes this issue still exists report has image reference **jacoco-resources/redbar.gif**, i think simple solution during publish just replace all images into base64....

[2020-09-29 12:46] AmrutaKawade commented on #13611
Its great to hear that you are unblocked.
Can you run below command in CMD of your machine where agent is installed. It will give you proper error message

`C:\Agents\agent_work_tasks\AzureRmWebAppDeployment_497d490f-eea7-4f2b-ab94-48d9c1acdcb1\3.175.3\webdeployment-common\MSDeploy3.6\msdeploy.exe" -verb:sync -source:package='C:\Agents\agent_work\r853\a\app-build\drop\67465.zip' -dest:contentPath=

[2020-09-29 13:27] shigupt202 commented on #13624
You can use HelmInstaller task to use desired version of Helm in your pipeline. We are working on a permanent fix.

[2020-09-29 13:30] shigupt202 commented on #13614
@quentled Could you please check the HelmDeployV0 task version?

[2020-09-29 13:31] shigupt202 commented on #13614
@Haim-Bi This seems to be a different issue.

[2020-09-29 13:35] anti-matter commented on #13428
Hi, I’m not familiar with that task. Here is our current task:

- task: DotNetCoreCLI@2
    inputs:
      command: 'custom'
      custom: 'tool'
      arguments: 'install --global azuresigntool'
    displayName: Install AzureSignTool

Are you saying I should replace “DotNetCoreCLI@2” with “UseDotNet@2” ??

Thanks!
--Mike

Sent from Mail for Windows 10

From: Bishal Prasad
Sent: Sunday, September 2

[2020-09-29 13:50] asg-trifork commented on #12147
Is there any progress on this?
Also getting this on the AppCenterDistribute@3 task
[code]

The tasks returns as successful but no bulid is send to App Center

[2020-09-29 13:59] quentled commented on #13614
hello

[code]

[2020-09-29 14:12] shigupt202 commented on #13614
@quentled This is Helm version. You can find the task version at the top of the logs.

[2020-09-29 14:18] quentled commented on #13614
woups sorry bad reading
Version      : 0.175.4

[2020-09-29 14:20] joseotavioq commented on #13223
It would be nice if we have this feature!

[2020-09-29 14:22] shigupt202 commented on #13614
Thanks @quentled. This issue has been taken care of in this [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/13581). The fix should be deployed soon. In the mean time, you can use older versions of Helm.
@Haim-Bi It is indeed the same issue as you reported. It will be fixed soon.

[2020-09-29 14:26] quentled commented on #13614
ok the issue was about... file permission ? ok interresting, i wait the update then

[2020-09-29 14:48] shigupt202 commented on #13614
Helm recently introduced a security warning which appears if the kubeconfig files has group and world readable permissions. We are changing the permission to get rid of the warning. But the deployment might take some time.
I would suggest to set `failOnStderr` to false in your pipeline, or use older versions for now.

[2020-09-29 15:04] Styxxy commented on #12470
@ds-ms

I'm getting the same error. With version 0.175.0

[code]

[2020-09-29 16:23] henryju opened #13629 "Why is JavaToolInstaller cleaning destination folder when using 'PreInstalled'"
I tried to use JavaToolInstaller in my pipeline. I put it just after the checkout step:
[code]

To my surprise, all checked out source files have been removed. Looking at the logs, I found:
[code]

I'm wondering what is the point to clean the destination folder in this case, especially when it seems to default to the [work dir.](https://github.com/microsoft/azure-pipelines-tasks/blob/414c031e3dc5d

[2020-09-29 16:45] anatolybolshakov commented on #13576
Hi everyone! Fix for default value of archiveFilePatterns input has been already rolled out - now it is '**/*.zip' instead of '\*.zip'

[2020-09-29 18:24] IainS1986 commented on #12147
I'm seeing this on the AppCenterDistribute@3 task version 3.173 as well, only it's also failing with a time out too.

[2020-09-29 18:28] ds-ms commented on #12470
@ajinkya599 could you take a look?

[2020-09-29 20:05] ssudhars opened #13631 "ArtifactTool used by Universal Packages task is not able to download packages with size more than 40 MB"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Universal packages

## Environment
- Azure Devops SelfHosted Windows agent - X64 - 2.149.2
- Microsoft Windows Server 2012 R2 Standard
- artifacttool.exe - 2.172
## Issue Description

Universal Package task with ArtifactTool.exe not able to download the package with size more than 40MB. We could able to downl

[2020-09-29 21:03] bitva77 commented on #13602
I'm sorry, where am I putting that?

![image](https://user-images.githubusercontent.com/36420085/94615276-5a4a5600-025c-11eb-89eb-590677e1c212.png)

[2020-09-29 22:31] edgarrs commented on #13548
@igoraresti , could try using the [Nuget Auth task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops)?
Note that you will need to update the version of Nuget to 4.8.5385 or higher.
If the problem persist after changing your pipeline to use the Nuget Auth task, please enable debugging in your pipelines (system.debug=true) and add the paramet

[2020-09-29 23:03] sandupetrasco commented on #13380
It looks like the backtick symbol ( ` ) is also affected by this bug. If there is at least one backtick contained by the secret, we can meet these situations:
- The secret contained in the KeyVault: **a`Sa** <-> The secret returned by the AzureKeyVaultTask: **aSa**
- The secret contained in the KeyVault: **a`na** <-> The secret returned by the AzureKeyVaultTask: **a(newline)a**
etc.
@tauhid621 do

[2020-09-30 04:17] nadesu commented on #13623
@AmrutaKawade I saw you responding on email that this is not a service connection issue. But as highlighted, 2020-09-29T02:44:05.8170964Z ##[debug][GET]https://graph.windows.net/metadata/endpoints?api-version=2015-01-01 URL seems to be incorrect. Pls assess & direct the issue further.

[2020-09-30 04:36] pradudev opened #13632 "Not able to render Code Coverage results in the "Code Coverage" tab in Azure DevOps"
I have a classic build pipeline in Azure DevOps for that builds and run tests for a .Net Core 3.1 app
I am using self-hosted build agents running Windows Server 2019 OS

Below is the pipeline screenshot
![image](https://user-images.githubusercontent.com/3319134/94642808-9b0fa100-0328-11eb-9b49-54b6b2006742.png)

My tasks:

1. Restore Nuget
2. Build the solution in release mode
3. Install latest vs

[2020-09-30 05:26] lumeiyz commented on #9727
having the same issue, cannot authenticate in the same project.

[2020-09-30 06:07] AmrutaKawade commented on #13623
@bishal-pdMSFT can you check this? this issue is in `AzureResourceManagerTemplateDeployment` task

this is because of this call being made from task https://github.com/microsoft/azure-pipelines-tasks/blob/289e148c9ee3d1093a153139d121cb7b5eb3cf40/Tasks/AzureResourceManagerTemplateDeploymentV3/models/TaskParameters.ts#L118

[2020-09-30 06:50] #13594 closed

[2020-09-30 07:10] d-burr commented on #13611
@AmrutaKawade I have installed .NET Framework 3.5 on a test agent and it fixes the issue, but I echo the comments above and also ask how come this dependency was introduced on a minor version?

[2020-09-30 08:08] guillaume-kizilian commented on #13576
So just to clarify, there is breaking changes without using the Azure DevOps system of versioning, that break tested and trusted releases ? And that's normal ?
I'm sure i can find an analogy between Azure DevOps and Vietnam...

[2020-09-30 08:30] bneumann commented on #13275
Yeah if I need to script my way around problems like that I really don't need these tasks at all. I prefer a fix for this :)

[2020-09-30 08:33] AmrutaKawade commented on #13611
@d-burr this is not introduced in minor version. msdeploy.exe requires .Net Framework 3.5. But as it was working for you before this without this version of .Net Framework. we need to investigate this further. Can you provide logs for older version of task ?

[2020-09-30 08:36] nishantms commented on #13201
Please reopen if you are facing this issue now or if you have further queries.

[2020-09-30 08:36] #13201 closed

[2020-09-30 08:38] alevincenzi commented on #11714
Hello.

There is also this open ticket about a missing documentation.

https://github.com/MicrosoftDocs/azure-devops-docs/issues/8656

The links i reported above is broken. They recently changed the url, i guess. The good page is

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-continuous-integration-continuous-deployment

The broken link is accessible also from the "About this task" link i

[2020-09-30 08:58] tejasd1990 commented on #13593
Hi @Ceespino ,
I deployed the template containing
[code]

After deployment, on the data factory resource,
`Overview` -> `Author & Monitor`.
This navigates to the data factory page. Inside the data factory,
`Author` -> `Factory Resources` -> `Pipelines` -> Select the pipeline -> `Triggers` -> Select the trigger -> `Parameters` -> `pipelineParam`

The value of the parameter is `[someValue]`

[2020-09-30 09:48] sey commented on #9046
Same here.
Hosted, ubuntu-latest

[code]

And I get `##[error]Unhandled: Failed find: ENOENT: no such file or directory, stat '/home/vsts/work/1/s/node_modules/.bin/detect-libc'`

[2020-09-30 09:49] shigupt202 commented on #13602
The PR that you have pointed to was to introduce the `helm chart save` [feature](https://github.com/microsoft/azure-pipelines-tasks/issues/12870) in the task. To be able to use that, you need to select `save` as the command and an Azure service connection in `Connection type`.
Otherwise, if you only want to login to ACR, you can pass `registry` in the command field and the remaining information, i

[2020-09-30 10:30] beatcracker commented on #11600
@AceHack You need to use variable that changes on every pipeline run and fallback keys: [Implementing rolling cache in Azure DevOps](https://beatcracker.wordpress.com/2020/09/29/implementing-rolling-cache-in-azure-devops).

#### Example

[code]

Note, that restoring with fallback key will yield `inexact` in `cacheHitVar` if you're using it.

[2020-09-30 11:17] alexander-prozorov commented on #13613
A hotfix has been released.  The workaround is to use **\*\*\/\*.zip** pattern instead of **\*.zip**.

[2020-09-30 11:17] #13613 closed

[2020-09-30 12:31] d-burr commented on #13611
Ok thanks for that, I was unware of it. Here are the logs (sorry debug wasn't enabled)

2020-09-07T13:41:38.8344901Z ##[section]Starting: Deploy Azure App Service to prod
2020-09-07T13:41:38.8533760Z ==============================================================================
2020-09-07T13:41:38.8533899Z Task         : Azure App Service deploy
2020-09-07T13:41:38.8534010Z Description  : Deploy t

[2020-09-30 13:44] pacorreia commented on #13372
any progress with this?

[2020-09-30 13:56] 20shivangi commented on #13246
Closing this issue as documentation PR is merged

[2020-09-30 13:56] #13246 closed

[2020-09-30 14:01] ShreyasRmsft commented on #12597
@nishantms @anshii03 please take a look.

[2020-09-30 14:42] ejlouw commented on #13614
I am also having the same problem.

[2020-09-30 15:18] Lubans opened #13637 "AndroidSigningV3 doesn't use latest available version of apksigner"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AndroidSigningV3

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AndroidSigningV3

## Environment
- Server - Azure Pipelines?

    - If using TFS on-premises, provide th

[2020-09-30 15:24] bacongobbler commented on #13594
FYI: https://github.com/microsoft/azure-pipelines-tasks/pull/13638

[2020-09-30 15:51] josefschabasser opened #13639 "[DockerComposeV0] custom command does not use arguments"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug
**Enter Task Name**: DockerComposeV0

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: Corporate account
- Agent - Hosted or Private:
    - If using Hosted agent, provide agent queue name: u

[2020-09-30 17:11] omokoh commented on #12810
Hi,
We are currently investigating this issue, we will let you know when we have more updates.
Thanks

[2020-09-30 17:23] denis-peshkov commented on #11191
I can approve the issue is not fixed

`/p:IncludeCompositeObjects=True /p:ScriptDatabaseOptions=False /p:BlockOnPossibleDataLoss=False /p:AllowDropBlockingAssemblies=true /p:DisableAndReenableDdlTriggers=False /p:DoNotAlterReplicatedObjects=False /p:DoNotAlterChangeDataCaptureObjects=False /p:DropConstraintsNotInSource=False  /p:DropIndexesNotInSource=False  /p:DropExtendedPropertiesNotInSource=Fa

[2020-09-30 21:33] coolhome commented on #12235
Just ran into this issue 😞

[2020-10-01 00:53] christianrondeau commented on #11346
I'm surprised, right now this means all projects show as MyProject_1, MyProject_2, MyProject_3... is it not a problem for everyone ho has multiple projects? Or something's missing in my understanding? Just being able to pass a variable such as $(TestProjectName) or something like that would at least allow a workaround.

[2020-10-01 01:04] vovikdrg commented on #12597
Look like it can be done in here https://github.com/microsoft/azure-pipelines-task-lib/blob/ea7cfd92c86568620a761ab092d0bcc4816ed074/node/task.ts#L1831

[2020-10-01 05:28] navin22 commented on #13275
Adding @shailesh-sk

[2020-10-01 06:28] chimeraTrijay commented on #9984
how do I add this in my pod file, it is not in my directory, and if it is created after run time how do I create it after installation in azure devops

[2020-10-01 07:50] AndrewCraswell commented on #13625
I'm also trying to enable pipeline caching for pnpm at the moment as well, do you happen to have a yaml example you're working with?

[2020-10-01 09:22] franperezlopez opened #13641 "Azure IoTEdge tasks error"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureIoTEdgeV2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Hosted or Private: Hosted - ubuntu-18.04

## Issue D

[2020-10-01 11:16] ericamundson commented on #13455
I'm still having problems with 'deployment' job not working with stageDependencies.  Is this issue going to be resolved soon?

[2020-10-01 14:10] RyanThomas73 opened #13645 "Deprecated ANDROID_HOME Variable"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AndroidSigningV3

## Environment
- Server - On Premise
Version: Version Dev17.M153.2

- Agent - Hosted or Private:
Private Agent
OS: Mac OS
Agent Version: 2.153.1

## Issue Description
The AndroidSingingV3 task logic depends on the deprecated ANDROID_HOME environment variable being set and does not work w

[2020-10-01 15:26] #13490 closed

[2020-10-01 17:16] ajbrun commented on #13618
After further testing, I believe now that this only happens when I map the variables to a new name. I've tried with a new set of variables (App.*) without mapping, and these substitutes as expected each of the times I ran the pipeline. Whilst I have a workaround, I would still prefer this to work as I would prefer the naming convention of my variable names not to be directly linked to the naming c

[2020-10-01 19:52] AndrewCraswell opened #13646 "Need option for npmAuthenticate task to save token to environment variable"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-10-01 23:47] Ceespino commented on #13593
@tejasd1990
Is it possible that you are overriding the parameter during deployment in the ADO task? I still can deploy the attached ARM template and get the double **[[**. I can repro this consistently with the ADO task. It works fine with PS or Azure Portal.

[2020-10-02 00:11] llehn commented on #13522
Just add package.json as a key. Or, better yet, add yarn.lock or package-lock.json

[code]

[2020-10-02 04:21] adrian-skybaker commented on #11864
Is there any update on this? Here's a build just now on hosted ubuntu, 90 seconds for 202.9MB:

[code]

[2020-10-02 08:09] davidguidali commented on #13542
Any updates on this?

[2020-10-02 08:24] anatolybolshakov commented on #13576
Hi everyone, I'm going to close it at the moment since we rolled out a fix for issue with wrong default value - please feel free to ask any other questions regarding it

[2020-10-02 08:24] #13576 closed

[2020-10-02 09:22] anatolybolshakov commented on #13569
Hi @sheikahamedali thanks, I'm closing it since it's resolved

[2020-10-02 13:11] beauof commented on #8920
Thanks for sharing your workarounds! Yet, I am still waiting for the AzureFileCopy task on Linux agents because I can't always remember this issue until I see another failed pipeline. :)

[2020-10-02 15:24] oleksabor opened #13648 "FtpUpload task add option to fail if no files were uploaded"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: FtpUpload

## Issue Description

It would be nice to have a feature (new option) that will raise an error if no files were uploaded.

I've got a problem recently: there was an error in the task parameterisation.
The FtpUpload task has not find files to upload but no error was shown and pipeline was marked as completed succesfuly.

[2020-10-02 16:23] BastienPerdriau opened #13649 "[AzureRmWebAppDeploymentV4] Bad deployment and not seeing Function App Linux on list"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeploymentV4

## Environment
- Server - Azure Pipelines or TFS on-premises? : Coporate account

- Agent - Hosted: windows-2019 / ubuntu-latest

## Issue Description

Using the AzureRmWebAppDeploymentV4 task, I have two strange behaviour:
1. When selecting "App Service type" as "Function App on Li

[2020-10-02 18:12] rikkiprince commented on #13614
@shigupt202 Is there an issue tracking the update to the permissions on the kubeconfig?

[2020-10-02 18:16] shigupt202 commented on #13614
@rikkiprince The update has already been done in this PR https://github.com/microsoft/azure-pipelines-tasks/pull/13581.
The deployment with this change should begin within few days.

[2020-10-03 09:25] cveld opened #13651 "How to authenticate an azure-sdk-for-node based workload against a service connection?"
*Type*: Question

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Is there a way to authenticate the azure sdk for node with an Azure service connection?
I have seen that there is an npm authenticate task. Is there something comparable?

I also raised a related ticket with the azure sdk for node repo:
https://github.com/Azure/azure-sdk-for-node/issues/5199

https:

[2020-10-03 12:55] Talha-B opened #13652 "Using existing tasks in custom created one"
Hi,

I have a long winded build process consisting of many jobs and I was thinking to create a custom task which encapsulates all the different steps and to publish it as a private task to the marketplace for use within our organisation. With the idea being that this one task can be re-used across different projects, taking in the required input as params.

Is there any way to call some of the exi

[2020-10-03 15:16] sethi-ishmeet commented on #12814
@EzzhevNikita No, thank you. I don't remember how, but this is resolved for now.

[2020-10-03 15:16] #12814 closed

[2020-10-03 16:00] goosseno opened #13653 "WebJobs deployed using AzureRmWebAppDeployment version 4 are corrupted"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeployment

## Environment
Azure Pipelines (DevOps)

- Agent - Hosted or Private:
Hosted, windows-2019

## Issue Description

When using Task version 4 of the AzureRmWebAppDeployment the WebJob is deployed

[2020-10-04 18:23] francescocristallo opened #13654 "How to get latest version on chartPath for HelmDeploy task?"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: HelmDeploy

## Environment

Azure Devops Pipeline - Yaml

## Issue Description

I have an Azure Pipeline that builds a Docker container from an Asp.Net Core application and uploads it to Azure Container Registry.

The source code chart is packaged, deployed on the temp artifact path, and then deployed to

[2020-10-04 21:02] apsyio commented on #9673
Please enable for https://dev.azure.com/apsyap, thanks!

[2020-10-05 00:16] vovikdrg commented on #12597
@ShreyasRmsft  Any updates on this?

[2020-10-05 04:39] nguyenlamlll commented on #12147
I encounter the same issue as @asg-trifork (with App Center distribute task, version 3, in Release pipeline). Although it shows as a warning, it's **critically an error** to me because the app is not distributed to AppCenter as promised.

[2020-10-05 06:44] dhindrik commented on #13350
I have a similar issue:

[code]
container-template.yml
[code]

There was a resource authorization issue: "The pipeline is not valid. Job BuildSEDEV: Step Docker1 input containerRegistry references service connection $(containerRegistry) which could not be found. The service connection does not exist or has not been authorized for use. For authorization details, refer to https://aka.ms/yamlauthz.,J

[2020-10-05 07:17] ds-ms commented on #13654
You could supply `$(Build.ArtifactStagingDirectory)/server-*.tgz` as an input and try. That'll pick up found, I'm assuming only, version of the package from that directory.

[2020-10-05 08:16] aksm-ms commented on #13606
@kazoo60 can you please send the exact task name used? there are 3 sql tasks available - SqlAzureDacpacDeploymentV1, SqlDacpacDeploymentOnMachineGroupV0, SqlServerDacpacDeployment

[2020-10-05 08:35] 20shivangi commented on #12700
Closing this issue. Please feel free to reopen if you are facing some issue.

[2020-10-05 08:35] #12700 closed

[2020-10-05 08:57] tejasd1990 commented on #13593
@Ceespino , no the parameters are not getting overridden. Can you share the complete debug logs of the task(even if they are succeeding)?

[2020-10-05 11:53] #13624 closed

[2020-10-05 11:53] #13614 closed

[2020-10-05 11:58] ds-ms commented on #13607
@chshrikh this seems like a task you guys own right?

[2020-10-05 13:00] ShreyasRmsft commented on #12597
@vovikdrg we'll get back to you in a few days.

cc: @phanikmmsft @ganesp

[2020-10-05 13:18] FrancescElies opened #13656 "DotNetCoreCLI takes too long for some builds"
ℹ We have been forwarded here from https://github.com/actions/virtual-environments/issues/1733

## Required Information

**Type**: Bug
**Name**: DotNetCoreCLI

## Environment
Azure Pipelies
For account name, team project name, build definition name/build number, see links in issue description.

## Issue Description

We are experiencing some random extra build times in DotNetCoreCLI@2:

Here I have

[2020-10-05 15:46] kazoo60 commented on #13606
![image](https://user-images.githubusercontent.com/33428344/95101277-328d3f00-06ef-11eb-8e9a-64b9eea31e35.png)

I believe the tasks are:

SqlAzureDacpacDeploymentV1, and,
SqlServerDacpacDeployment

I am not sure where to access the technical names of the tasks but have attached a screen shot of how they appear in our release pipeline in VSTS.

Deploying to multiple databases on Azure is the higher

[2020-10-05 15:53] NK74 commented on #12378
No replies since 19 february 👍

[2020-10-05 18:50] vulegend opened #13659 "NetCore 3.1 Build Started Failing NuGet Package Restore All Of Sudden"
AzureDevops build pipeline started failing all of sudden at around 7 PM CEST today (10/5/2020) on all .net core publish tasks with the same reason :

##[error]Packages failed to restore

It seems like it's failing to restore nuget packages. I've tried multiple pipelines as i thought it was somehow related to the new code (i did install some new packages) but even the projects that didn't have anyt

[2020-10-05 18:52] vulegend commented on #13659
I assume it's related with the current artifact service issues :

https://status.dev.azure.com/_event/208052886

[2020-10-05 19:54] damccorm commented on #13651
Hey @cveld - this looks like an issue with the service more generally, not with a specific task. This repo mostly holds issues with specific tasks, please file general issues at https://developercommunity.visualstudio.com/spaces/21/index.html - that way it will get the right eyes on it

[2020-10-05 19:54] #13651 closed

[2020-10-05 19:58] Ol-Father opened #13661 "SSH - Run Inline Script from a Windows agent fails"
## Required Information

*Type*: Bug

**Enter Task Name**: SshV0

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:
   - Private Agent;
| Agent Variable | Value |
| --------------- | --------|
| Agent.Version | 2.175.2 |
| Agent.OS | Windows_NT |
| Agent.OSArchitec

[2020-10-05 20:01] damccorm commented on #13538
Hey @asklar - this looks like an issue with the service more generally, not with a specific task. This repo mostly holds issues with specific tasks, please file general issues at https://developercommunity.visualstudio.com/spaces/21/index.html - that way it will get the right eyes on it

[2020-10-05 20:01] #13538 closed

[2020-10-05 20:03] damccorm commented on #5018
Closing as this has gone stale. At this point we are probably not going to add any new first party tasks, the best way to suggest it going forward would be to file a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html, if this got enough votes we would consider it

[2020-10-05 20:03] #5018 closed

[2020-10-05 20:07] damccorm commented on #6092
Closing as this has gone stale. It looks like the issue has since been fixed anyways

[2020-10-05 20:07] #6092 closed

[2020-10-05 20:08] damccorm commented on #5725
Closing as this has gone stale. It looks like the issue has since been fixed anyways

[2020-10-05 20:08] #5725 closed

[2020-10-05 20:17] damccorm commented on #5043
Closing as this has gone stale. It looks like the issue has since been fixed in a bunch of places anyways, I don't think we want to make the breaking changes required for this at this point anyways without customer demand

[2020-10-05 20:17] #5043 closed

[2020-10-05 20:18] damccorm commented on #5019
Closing as this has gone stale. It looks like the issue has been resolved anyways

[2020-10-05 20:18] #5019 closed

[2020-10-05 20:19] damccorm commented on #4907
Closing as this has gone stale. It looks like the issue probably belongs to https://github.com/microsoft/azure-pipelines-agent anyways

[2020-10-05 20:19] #4907 closed

[2020-10-05 21:10] carstenhag commented on #12521
Bump. Not stale.

[2020-10-05 21:23] #12171 closed

[2020-10-05 21:24] omokoh commented on #10733
Hi,

If you are still having this issue, please reopen it.

Thanks

[2020-10-05 21:24] #10733 closed

[2020-10-05 21:27] omokoh commented on #12086
Hi ,
If you are still having this issue, please reopen it.

Thanks

[2020-10-05 21:27] #12086 closed

[2020-10-05 21:29] omokoh commented on #12195
Hi,

Are you still experiencing this issue?

Thanks

[2020-10-05 21:32] omokoh commented on #12714
Hi,
If you still experiencing this issue, please reopen it.
Thanks

[2020-10-05 21:32] #12714 closed

[2020-10-05 21:32] omokoh commented on #12729
Hi,
If you still experiencing this issue, please reopen it.
Thanks

[2020-10-05 21:32] #12729 closed

[2020-10-05 21:33] omokoh commented on #12730
Hi,
If you still experiencing this issue, please reopen it.
Thanks

[2020-10-05 21:33] #12730 closed

[2020-10-05 21:33] omokoh commented on #12775
Hi,
If you still experiencing this issue, please reopen it.
Thanks

[2020-10-05 21:33] #12775 closed

[2020-10-05 22:40] gaikovoi commented on #12901
This pipeline/branch scoping makes cache task extremely inefficient. In my environment, CI builds unable to use cache produced by PR build (different pipelines). Literally, pipelines produce and store all this cached data for nothing.

[2020-10-05 23:46] zhenghao104 commented on #12810
Hello,

Can you try using package name instead of GUID to see if it works?

Using az cli instead of artifacttool directly is the recommended approach: https://www.1eswiki.com/wiki/Azure_Artifacts_ArtifactTool#Using_ArtifactTool_on_Universal_Packages

[2020-10-06 02:54] bitva77 commented on #13602
Not sure if something's up with our account but `save` doesn't give us our ACR.  The service connection is correct (I even created a new one with the same subscription)

![image](https://user-images.githubusercontent.com/36420085/95153380-28e1f680-0744-11eb-8973-a7e73fc5868f.png)

And then `registry` ignores the host and anything I put after `-u` and `-p`:

[code]

is this all documented somewhere

[2020-10-06 05:13] ioananicu commented on #11905
Are there any updates on this issue? Will it be fixed or should we just forget about this feature?

[2020-10-06 05:32] shigupt202 commented on #13602
Can you please share the complete pipeline that you are using, either the YAML verison (can be done from the option at the top) or UI?

[2020-10-06 05:43] scegg commented on #12602
Comment what?

[2020-10-06 05:56] 20shivangi commented on #12030
This issue is being tracked by azure powershell team here : https://github.com/Azure/azure-powershell/issues/9078

[2020-10-06 06:27] #11822 closed

[2020-10-06 06:37] raczeja commented on #12591
Issue still can be reproduced

[2020-10-06 06:53] fleckert commented on #12428
https://aka.ms/enableTlsv2 works again

[2020-10-06 06:53] #12428 closed

[2020-10-06 06:59] christopheblin commented on #11959
The underlying issue is still not fixed : dotnet CLI test task is not 100% compliant with nuget options...

The workaround is to "split" the test task in 2 tasks (workaround provided by a MS employee at https://stackoverflow.com/a/59317254/1545567, see below).

This is now documented at https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azure-devops#why-is-my-

[2020-10-06 06:59] #11959 closed

[2020-10-06 07:28] FrancescElies commented on #13656
ℹ We have split the build step and the unittest step in two separate jobs.
Now we get timeouts all the time on the unittest, [example build](https://mbbm-ast.visualstudio.com/AST/_build/results?buildId=40948&view=logs&j=3428d4e5-30f9-5552-9c6f-c1033493e7bf&t=00d0dcbc-ee8c-5748-96b3-d027e915ef3d)

I hope this info helps, do you have any news on your side?

[2020-10-06 07:56] Bidthedog commented on #12901
I have to agree. I've actually turned package caching off now I've moved to a self-hosted agent, because it's quicker to use the local server's cache than manage a cache per pipeline. One of my clients has 24 main pipelines (and counting) that should mostly use the same cache.

[2020-10-06 08:15] ds-ms commented on #12738
These special handlings are done by the docker task(s). But the bash task is expected to work this way. i.e. stderr be considered as stderr

[2020-10-06 08:15] #12738 closed

[2020-10-06 09:56] tauhid621 commented on #13424
@oocx Is this issue still reproable? I tried to repro this and it worked fine for me.
From the logs I can see that layers are not actually pushed. Is majority of time spent during push operation?
Can you share raw logs which includes timestamps. This will help in identifying the issue.

However, we use the same command as you used in bash script for push operation

'''docker push harbor.internal/l

[2020-10-06 09:56] MatthewSteeples commented on #5018
Looks like this may be happening elsewhere anyway - https://www.youtube.com/watch?v=Wi-4WdpKm5E

[2020-10-06 10:05] egor-bryzgalov commented on #13652
Hi, @Talha-B
Unfortunately, what you want isn't directly supported.
You can either copy source code of tasks you need or use [yaml templates](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops) to make your pipeline definition more convenient to reuse.

[2020-10-06 10:39] IainCoSource commented on #11944
The same issue with v2, v1 does nothing

[2020-10-06 11:07] FrancescElies commented on #13656
Here [a build](https://mbbm-ast.visualstudio.com/AST/_build/results?buildId=40965&view=logs&j=014ad21f-16a3-5419-72e0-8239cd277932&t=46925b0f-877f-5ca8-0436-e8ac5276d2ed) with dotnet verbosity level diagnostic enabled.

[2020-10-06 11:42] mmuffins commented on #13420
We experience the same issue with the cache task in deployment jobs. Is there anything we can do about it (other than not using caching)?

[2020-10-06 12:51] ccerghed commented on #11877
@arjgupta Are there any plans to release the new enhancement?

[2020-10-06 13:10] beatcracker opened #13666 "Scope is ignored when using fallback keys in Cache task"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache@2

## Environment

- **Server**:  Azure Pipelines
- **Agent**
  - Private agent 2.173.0
  - CentOS Linux 7 (Core) 3.10.0-1127.19.1.el7.x86_64

## Issue Description

When using fallback keys, the scope is ignored and cache is restored from another branch.
In my case, the pipeline was run on the `release/

[2020-10-06 14:39] #11731 closed

[2020-10-06 14:51] damccorm commented on #13608
Per the readme, the common packages in this repo aren't supported for non-first party use - https://github.com/microsoft/azure-pipelines-tasks/blob/master/common-npm-packages/README.md

[2020-10-06 14:51] #13608 closed

[2020-10-06 14:56] BastienPerdriau commented on #13649
Hi there,

As a complement to my previous post, I noticed a strange behaviour when deploying to my Function App (Linux) with this task, it updates two properties on the JSON of my service (seen on resources.azure.com) :
- `kind` : from `functionapp,linux` to `functionapp,linux,container`
- Site property `LinuxFxVersion` value : from `dotnet|3.1` to `DOCKER|microsoft/azure-functions-dotnet-core2.0:

[2020-10-06 15:55] doug-fish commented on #13661
I'm impacted by the same bug. I think the key behavior problem is right here:
2020-10-05T19:24:27.5235103Z tr -d '\015' <./sshscript_d5aa8c10-78b1-4a99-9533-3a82c2c0cea2> ./sshscript_d5aa8c10-78b1-4a99-9533-3a82c2c0cea2._unix
2020-10-05T19:24:27.5532254Z ##[error]bash: ./sshscript_d5aa8c10-78b1-4a99-9533-3a82c2c0cea2: No such file or directory

Note the the file has been renamed to include _unix a

[2020-10-06 16:30] glucaci commented on #13033
There is nothing more to add from the logs, it's running ```dotnet tool restore``` successfully and then it blocks and you can see the message ```The STDIO streams did not close... ```.

I don't know how you can reproduce it, because also on our pipelines it happens sporadic and i assume it's a race condition somehow.

[2020-10-06 16:33] johnterickson commented on #13666
@fadnavistanmay There is a question to walk through exact/inexact first or through scopes first. I think this is the expected order, right?

[2020-10-06 17:14] beatcracker commented on #13666
I see how this may be expected from the code perspective, but the documentation doesn't mention that. For now, I've fixed this using branch name in keys:

[code]

It would be great if this behavior was at least documented.

[2020-10-06 17:36] dglambert commented on #13661
We are having same issue. I got here via this uservoice.
https://developercommunity.visualstudio.com/content/problem/1209307/ssh-run-shell-inline-script-on-remote-machine.html

[2020-10-06 19:28] dfoulk commented on #12146
Is this the intended functionality? We have to use Release and/or Debug configurations, else receive warnings?

[2020-10-06 19:51] #12126 closed

[2020-10-06 19:52] Dejulia489 commented on #12126
Documentation would be nice. Closing this issue.

[2020-10-06 20:48] kylabohon commented on #13661
We are having the same issue.  When will the fix be available?

[2020-10-06 21:22] Talha-B commented on #13652
Ah, I suspected as much.

Thanks,
Talha

[2020-10-06 21:22] #13652 closed

[2020-10-07 07:55] AmrutaKawade commented on #13583
closing this issue due to inactivity. Feel free to reopen if issue still persists.

[2020-10-07 07:55] #13583 closed

[2020-10-07 07:57] FrancescElies commented on #13656
@damccorm are we sure this is an enhancement?

A step that used to take 49 seconds takes now 30 minutes, we will gladly work together to sort out this issue but I believe we need a input from your side to know if this is problem on our side or something is going on on the cloud.

[2020-10-07 08:47] #13131 closed

[2020-10-07 08:52] #13404 closed

[2020-10-07 08:53] #13390 closed

[2020-10-07 08:55] #13366 closed

[2020-10-07 08:58] #11659 closed

[2020-10-07 09:38] bcouavoux opened #13669 "Copy to $web container not working"
# Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFileCopy@4

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFileCopyV4

## Environment
- Server - Azure Pipelines

- Agent - Private:
Windows Server 2019
Agent V

[2020-10-07 10:46] ktmaul commented on #11536
@bishal-pdMSFT Any updates on this feature request?

[2020-10-07 10:47] AmrutaKawade commented on #13611
@d-burr can you tell me which Windows OS version you are using?

[2020-10-07 11:07] raswinraaj opened #13670 "Getting Permission Denied (error 13) during IOT Edge Build Modules task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-10-07 11:31] richardswinbank opened #13671 "SqlAzureDacpacDeployment connection string authentication fails for SqlTask deployment"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-10-07 11:39] raswinraaj commented on #13670
Hi team, Apparently the issue was because the path for the template file was wrong. Once updating the correct path, i was able to resolve it. Thanks. Closing the ticket

[2020-10-07 11:39] #13670 closed

[2020-10-07 11:49] nvborisenko commented on #12352
Still awaiting it to be implemented.

[2020-10-07 11:57] mercuriete commented on #11527
I am not in the same company and therefore i dont mind if this implemented ir not.

Thanks for your amazing CI service.

[2020-10-07 12:03] AmrutaKawade commented on #13653
@goosseno can you select this deployment option for Task Version 4 let me know if that works for you
![image](https://user-images.githubusercontent.com/65217380/95327765-2c02f100-08c2-11eb-823a-6cd571294d41.png)

[2020-10-07 12:13] AmrutaKawade commented on #13649
@BastienPerdriau for second issue check if runtime stack is selected. If yes try removing that value.
![image](https://user-images.githubusercontent.com/65217380/95329413-856c1f80-08c4-11eb-8726-a00dcfc16224.png)

[2020-10-07 12:15] alexander-smolyakov commented on #13661
We rolled out the fix for the SSHV0 task.
I'm closing it at the moment, if the issue still appears feel free to reopen it.

[2020-10-07 12:15] #13661 closed

[2020-10-07 12:16] upadhyayap commented on #13013
@uandrei please update to latest version of publish test results task and do let me know of you are still facing issue in that task.

[2020-10-07 12:24] upadhyayap commented on #13007
@ChadNedzlek could you please share the trx file which you are trying to publish

[2020-10-07 12:37] AmrutaKawade commented on #13621
@andressantos10 You have added "always on" property to in appsettings for task 4 add it in configuration settings same as what you have done in task 3.

[2020-10-07 12:42] upadhyayap commented on #12603
@PaszkoKaminski I see the "." is getting appended in the url but instead I can perfectly access the test run with exact same url from the log.

[2020-10-07 13:23] upadhyayap commented on #13511
@MaksimC I tried with the junit result snippet you have shared and i see that the publish test result task is getting succeeded but the tests for which failure type is "warning" are reported as failed tests. Failed tests are determined by the presence of the failure node itself it's type is not considered.

**Are there any ways to get 'Failure type = "warning"' results to be considered as a warnin

[2020-10-07 13:28] upadhyayap commented on #13475
@mithsapurva Could you please upgrade the publish Test result task to the latest version and let me know if this keeps coming

[2020-10-07 13:32] upadhyayap commented on #13465
@djfoz Could you please confirm if the result file exists in the artifact?

[2020-10-07 13:32] sdobrodeev commented on #13598
Hi @joacar, could you please try to use `chmod a+x $(which nuget.exe)` command before nuget.exe call?

[2020-10-07 13:46] joacar commented on #13598
Hi @sdobrodeev

Will check if that works. I added `mono nuget.exe ...` (after installing it on our agent) and after that it works. Don't know if that particular change was what made it work since I also moved the download parts to the same script that executes nuget.

[2020-10-07 13:51] otebos opened #13672 "Xamarin.iOS C# 8 not available"
## Required Information
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: XamariniOS

## Environment
- Server - Azure Pipelines
    - account name : kvaernertfs
    - team project name : WeCheck
    - build definition name/build number: Mobile.iOS.Multiple_CD / #20201006.2

- Agent - Hosted
    - agent queue name:
Image: macOS-10.15
Agent: Azure Pipelines 5
Agent machine name:

[2020-10-07 13:55] upadhyayap commented on #13465
@djfoz I used the exact same xml file to publish test results and I could see that the tests are getting published.

[2020-10-07 14:30] egor-bryzgalov commented on #13672
Hi, @otebos

Could you please try to add the following parameter to all project files and let us know whether it helps?
[code]
or
[code]
We're looking forward to hearing from you! Thank you!

[2020-10-07 14:54] otebos commented on #13672
I forgot to mention - I stared with latest then changed to 8.0
In both cases issue is the same

[2020-10-07 15:24] sergeyzwezdin opened #13673 "AzureWebAppContainerV1: AppSettings updated after App Service restart"
*Type*: Bug
**Enter Task Name**: AzureWebAppContainerV1

list here (V# not needed):  AzureWebAppContainer
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

While deploying test container to Azure App Services, I noticed that the service restarted right after deployment and then app settings change

[2020-10-07 15:57] danifran commented on #11478
It is quite useful indeed: we are currently integrating the deployment of a pipeline and the vendor requires to send a couple of consul commands to the consul deployment that is not exposed outside of the cluster. the ability to set-up a port forward proxy on the build agent would allow us to simplify the pipeline a lot

[2020-10-07 17:10] nandun5 opened #13674 "dotnet pack "Path to csproj or nuspec file(s) to pack" doesn't work as expected"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2
dotnet pack command

## Environment
- Server - Azure Pipelines

- Agent - Hosted
HostedVS2017

## Issue Description

The task fails when we specify a nuspec file in the "Path to csproj or nuspec file(s) to pack" field. this is the Yaml version what the UI generates:
[code]

### Errorlogs

[cod

[2020-10-07 18:07] fedorbirjukov commented on #13475
@upadhyayap How do you upgrade the publish Test result task to the latest version?

I have just upgraded all agents to the latest version, following advice from issue #12426, but that did not help.

[2020-10-07 18:42] fedorbirjukov commented on #13475
According to [this comment](https://github.com/Microsoft/azure-pipelines-tasks/issues/9660#issuecomment-466398753) in another issue, the only way to update the publish Test result task to the latest version is to update the Azure DevOps Server. Since DevOps Server 2020 was [released yesterday](https://devblogs.microsoft.com/devops/azure-devops-server-2020-rtw-now-available/) you might give that a

[2020-10-07 18:47] fedorbirjukov commented on #13475
According to [this comment](https://github.com/microsoft/azure-pipelines-tasks/issues/3768#issuecomment-286014710) there is a way to upgrade a built-in task. Didn't try yet.

[2020-10-07 19:35] ChadNedzlek commented on #13007
This was months ago. I have moved on long ago.

[2020-10-07 20:00] mayeager22 commented on #9501
Re-opening this issue, as I still am getting this type of error intermittently.  A re-try on the build usually fixes the issue.

I am now using Azure DevOps Server 2019.  I have tried with all 3 version of the Nuget Restore task (0.*, 1.* and 2.*).

[2020-10-07 21:53] lidong6 opened #13675 "support latest az module in Azure Powershell task"
Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: support latest az module in Azure Powershell task

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines,
 account name: msasg
 team project name: Bing_Geospa

[2020-10-07 23:00] andressantos10 commented on #13621
@AmrutaKawade  you didn't understand the issue! If you use task 4 version, this option changes the application settings blade in configuration option in the app in the portal, creating a variable "alwayson" true.

If you use task 3 version, it correctly changes the "alwayson" field to true blade general settings  in the app inthe portal.

See the images attached in descritption this case.

[2020-10-07 23:12] timendez commented on #11697
@jmyersmsft When using the same node version locally, I experience no failures on `npm install`, while it's an intermittent failure on the pipeline job

[2020-10-08 00:18] stuartg3 commented on #13661
Our enterprise is still having this issue, please can you advise when this update will be available to Australia East Azure DevOps Orgs?

I have removed the cached version of the task from the agent and its still downloading and using the 0.176.1 version.

Thanks

[2020-10-08 02:26] AmrutaKawade commented on #13621
@andressantos10 I meant Check below configuration of your task. "always On" is added in App Settings box instead add it in Configuration Settings box
![image](https://user-images.githubusercontent.com/65217380/95407786-a459c880-093b-11eb-8cd0-dfef0aa824ed.png)

[2020-10-08 03:53] nguyenlamlll commented on #12147
@damccorm, @alexander-smolyakov: Hi guys. I'm sorry for tagging, but may I ask about the progress of this issue? It seems that the original problem is fixed in a few tasks, but still happens in "AppCenterDistribute@3" task. This is severe to our organization as we use the tasks in many pipelines :(

[2020-10-08 07:11] psredzinski opened #13677 "Support xcode 12.0 on Hosted agent"
**Feature**
*Type*: Update

**Support xcode 12.0 on Agent Pools**

We've started using xcode 12.0 on our local development machines, but builds fail on Azure Pipeline, because it has only xcode 11.3.1 available.

![Zrzut ekranu 2020-10-8 o 09 11 35](https://user-images.githubusercontent.com/23390884/95426505-4b436200-0946-11eb-8401-9207c985f390.png)

When can we expect an update?

[2020-10-08 08:03] ssipola commented on #13622
Noticed this as well. If I publish to $(Pipeline.Workspace) and then download from $(Pipeline.Workspace) it doesn't find the files.
Publish to $(Pipeline.Workspace) requires download $(Pipeline.Workspace)/s which is a bit weird.
If I publish to $(Build.SourcesDirectory) though, I can download straight from $(Pipeline.Workspace) without it creating the artifact without weird subfolders.

[2020-10-08 08:14] jozefizso opened #13678 "Cache@2 fails with Service Unavailable error"
*Type*: Bug

**Enter Task Name**: Cache@2

## Environment
- Server - Azure Pipelines

    Agent machine name: 'WIN-L63700N6MFJ'
    Current agent version: '2.175.2'
    Current image version: '20200920.1'

- Agent - Hosted

## Issue Description

We use **Cache@2** to cache nuget package in our build job. The job fails with error `##[error]Service Unavailable`.

### Task logs

[code]

[2020-10-08 09:26] BastienPerdriau commented on #13649
It seems to work better now. Not sure if it's related to removing that value (I had few other errors so I made some changes).
But it seems that the deployment task is no longer trying to force this setting : `{"linuxFxVersion":"DOCKER|microsoft/azure-functions-dotnet-core2.0:2.0","appCommandLine":""}`.

[2020-10-08 09:48] keifgwinn commented on #12470
We're seeing this

- task: DockerCompose@0
  displayName: Build frontend & backend
  inputs:
    action: Build services
    dockerComposeFile: docker-compose.prod.yml
    projectName: $(Build.Repository.Name)
    additionalImageTags: $(Build.BuildId)

[2020-10-08 10:40] SebastianClaesson opened #13679 "Azure PowerShell script - encoding output problem"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure PowerShell script (part of a Azure DevOps Release Pipeline)
Same issue with running PowerShell or PowerShell Core.

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipelines

    - If usin

[2020-10-08 10:58] AmrutaKawade commented on #13649
yes its because of runtimestack. we have observed similar issue before  #13427 we will investigate this further. we will track this issue with 13427. closing this issue.

[2020-10-08 10:58] #13649 closed

[2020-10-08 10:59] FrancescElies commented on #13656
`¯\_(ツ)_/¯` Might be related to https://github.com/dotnet/sdk/issues/12281, https://github.com/dotnet/sdk/issues/1228, https://github.com/dotnet/sdk/issues/12445

[2020-10-08 11:02] enriquin commented on #11661
Hi,
I'm suffering the same issue:

Both deployments are being done using ZipDeploy (ths contents are static websites created with Jekyll), If I deploy to the "root" site  everything works OK (no files from other virtual apps are deleted), but if I deploy the app in the child virtual application (hosted in "/help") the contents of the main site are erased.

Any update on this?

[2020-10-08 11:41] BastienPerdriau commented on #13649
No problem for closing.

If I can suggest to take a look to the first issue I spoke about the missing function apps when selecting "Function App (Linux)" in the UI.

[2020-10-08 12:00] Axemasta opened #13681 "DownloadPipelineArtifacts does nothing for 10+ minutes then times out"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Download Pipeline Artifact _(DownloadPipelineArtifact@2)_

## Environment

| Platform          | Azure Pipelines          |
|-------------------|--------------------------|
| Account Name      | a.duffell@senso.cloud

[2020-10-08 12:48] Exanis opened #13684 "KubernetesManifest@0 : Kubernetes configuration file is group-readable"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifest@0

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/KubernetesManifestV0

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, prov

[2020-10-08 12:54] ds-ms commented on #13684
@shigupt202 to take a look

[2020-10-08 13:09] richardswinbank commented on #13671
Digging into this a bit further, I've since been able to get the task to work using a connection string with a different password. The original password contains a $ character which is causing PowerShell some problems - I think it (and possible other characters) need escaping when Invoke-SqlCmd is built.

[2020-10-08 13:29] Davidsv commented on #13684
I'm also getting this issue.
![image](https://user-images.githubusercontent.com/2641528/95465091-01c13a00-097b-11eb-83a1-8c1e0866ba8c.png)

[2020-10-08 13:36] ds-ms commented on #13684
This is a known bug we fixed for the `HelmDeploy` task: https://github.com/microsoft/azure-pipelines-tasks/pull/13633

Until this is fixed, you could use the same workaround @Exanis suggested. 😄

[2020-10-08 14:00] punjprakash commented on #13614
How would we know that fix of this issue has been deployed?

[2020-10-08 14:47] Sudharma opened #13685 "AzureDevops ServiceConnection for AKS can create a role assignment for acrpull with KubernetesManifest Task"
For AKS currently we do not use the imagePullSecret and instead we create a role for AcrPull from the service principal which created the AKS. Azure does the magic inside the cluster which delegates the Kubernetes manifests to pull docker images from azure container registry. However with Azure devops we are creating a service connection which is used to spawn the AKS.  I would like to have a plug

[2020-10-08 15:15] cconrado commented on #11090
@damienpontifex @bishal-pdMSFT any update on this?

[2020-10-08 15:36] geidans commented on #11130
We too have the same issue. Using Blazor WebAssembly template creates folder structures as Client\, Server\, etc. which is fine. However, during the DevOps build it comes Server.zip

[2020-10-08 16:23] IanKemp commented on #11238
This issue is not stale, the team simply hasn't bother to address it. Presumably they hope it will age away so they don't have to do actual work.

[2020-10-08 18:58] bitva77 commented on #13602
this one:

[code]

Or this one

[code]

[2020-10-08 21:55] brentleslie commented on #1441
Can confirm 4 years later... this still isn't fixed (which TBH seems pretty normal from Microsoft).

Am using Azure SQL Deployment DacPac task. Timeout is set to 0 (which should be infinite).  VS2017 with latest SSDT for it, everything set to use Azure SQL DBs.

Fix was to use an Azure CLI Powershell Inline script as specified above. Normal Powershell script doesn't work (I didn't think it would,

[2020-10-08 23:30] remyjette commented on #13319
This would also be really nice for self-hosted agents

For example `NuGetToolInstaller@1` will "find, download, and cache a specified version of NuGet." But `UsePythonVersion@0` instead has a whole section in the documentation "How can I configure a self-hosted agent to use this task?" which describes a manual process setting up a very specific folder structure, which then needs to be performed ag

[2020-10-08 23:46] MisinformedDNA commented on #11095
@JoeGaggler Explicit syntax works fine. Shortcut syntax is still broken.

[2020-10-09 05:58] ds-ms commented on #13614
The version of the task would be `0.176.1`

[2020-10-09 06:03] shigupt202 commented on #13602
The first one is wrong because `registry login` is not a valid command. If you want to use it correctly, give `registry` in the command and login along with rest of the parameters in arguments as I've explained in the previous comment.
In the second one, I do not see the fields for `Azure subscription for Container registry`, `Resource Group` and `Azure Container Registry`. These are all required

[2020-10-09 07:07] 20shivangi commented on #13675
@lidong6 Hosted agent VS2017 already supports latest az module version i.e. 4.7.0 . Can you please check again. I am attaching a snippet of the same.

![image](https://user-images.githubusercontent.com/45754171/95553422-304b1d80-0a2c-11eb-9cbd-c9db0c9bae7c.png)

[2020-10-09 07:10] 20shivangi commented on #11339
Is the issue occuring ?

[2020-10-09 07:12] 20shivangi commented on #11859
@stilren Please use the latest version of AzurePowerShell task i.e. V5, and check if the working directory works for you there

[2020-10-09 08:31] 20shivangi commented on #13196
@tstoian We are able to reproduce the issue, we will work on this

[2020-10-09 09:22] #13629 closed

[2020-10-09 09:58] mitoihs opened #13688 "Error: Failed find: ENOENT: no such file or directory, stat '<myFrontendDirectory>\node_modules\.pnpm\chokidar@2.1.8\node_modules\fsevents'"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: FileTransform

## Environment
- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version: Windows, 2.168.2

## Issue Description

FileTransform task ends immediately with an error:
Error: Failed find: ENOENT: no such file or directory, sta

[2020-10-09 10:34] silviulucacentriceu opened #13689 "Azure DevOps Server - Deployment of a release with a (latest version) of an artifact (feed) is failing after the latest version was deleted"
## Note
I am unable to deploy a release that is using the latest version of a feed artifact, after the latest version of the artifact was deleted.

On AzureDevOps server, Version Dev17.M153.5.
One release that is using an artifact from a feed (latest version).
The latest version of the artifact is deleted from feed (and from recycle been).
Create the release (default settings) - is using the delet

[2020-10-09 11:57] eddy93 commented on #13677
yes please

[2020-10-09 12:49] sdobrodeev commented on #13322
Created PR with updated documentation

[2020-10-09 14:41] shigupt202 commented on #13684
@Exanis Could you please tell what all tasks you are using in your pipeline that could be setting the Kubeconfig file? From your workaround, it looks like you are using KubernetesV1 task, but that task removes the Kubeconfig file post execution. So, ideally this warning shouldn't have been appearing because of KubernetesV1 task. Also I was not able to repo this issue. Would it be possible to share

[2020-10-09 15:15] fichek commented on #13677
It's been 22 days since Xcode 12 GM and 10 days since Xcode 12.0.1, any ETA on this?

[2020-10-09 16:06] bitva77 commented on #13602
Sorry, I got further with `registry login` as `registry` errors with this:

[code]

Here's the YAML:

[code]

Regarding the `save` command, it doesn't propagate those fields.  They are unsearchable in the GUI.  The Subscription is present: `azureSubscriptionForACR` but nothing else and I can't type anything else in.  Using the YAML, those would be `azureSubscriptionEndpointForACR` and `azureContai

[2020-10-09 16:13] smsnyder-pai opened #13690 "Test results folder Parameter stores incorrect Path"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-10-09 16:45] smsnyder-pai commented on #13690
There seems to be an issue when the backslash is immediately followed by an underscore in the filepath.

[2020-10-09 21:07] richardgavel opened #13691 "Powershell tasks to set Debug/VerbosePreference on "Enable Systems Diagnostics""
*Type*: Feature

**Enter Task Name**: Powershell

## Issue Description

When the pipeline is initiated with "Enable System Diagnostics", I'd like the Powershell execution to set the DebugPreference and VerbosePreference to Continue, essentially let the script respond to the checkbox. Whether or not to do this could be a boolean option.

[2020-10-09 21:22] johnterickson commented on #13491
@lg2de Are you running the 32-bit version of the agent or the 64-bit version of the agent? (For comparison to #9139)

[2020-10-09 21:38] johnterickson commented on #13491
@lg2de Also can you confirm that if you uninstall the KB, then this error goes away?

[2020-10-10 03:19] kespry-kirk opened #13692 "AzureRmWebAppDeployment succeeding but Functions don't show up in (Windows) Function App"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeployment@4

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

Account: kespry-perception-analytic

[2020-10-10 06:32] leeebaljith commented on #11697
Hi all,i am  a newbie to react native,2 days ago ,i stucked while solving the issue,issue is same as @LukaszGrela LukaszGrela said ,same  exact issue on that image i am facing,issue came while installing the this expo cmd "npm i -g expo-cli",i tried several solutions like *npm cache clean --force* ,replace the npm v.6.13.7,,node version t,13.11.0,and delete the node_modules,package-lock.json but s

[2020-10-10 16:33] johncrim commented on #11064
There's no good reason that this issue is stale, besides a lack of movement on the AzP side. Again, the request, is not to prevent substitution of system variables, and not to prevent developers from using values like:

[code]

And, if you are going to prevent using values with a `Build` or `Release` prefix, you should dump warnings to the console when they are skipped.

[2020-10-10 21:08] #12641 closed

[2020-10-10 21:08] #12590 closed

[2020-10-10 21:08] #12573 closed

[2020-10-10 21:08] #12587 closed

[2020-10-10 22:22] clairernovotny commented on #12590
This is still needed.

[2020-10-11 00:26] #12569 closed

[2020-10-11 00:26] #12553 closed

[2020-10-11 00:26] #12556 closed

[2020-10-11 00:26] #12551 closed

[2020-10-11 00:26] #12490 closed

[2020-10-11 00:26] #12477 closed

[2020-10-11 00:26] #12456 closed

[2020-10-11 00:26] #12446 closed

[2020-10-11 00:26] #12445 closed

[2020-10-11 00:26] #12433 closed

[2020-10-11 00:26] #12423 closed

[2020-10-11 00:26] #12409 closed

[2020-10-11 00:26] #12396 closed

[2020-10-11 00:26] #12366 closed

[2020-10-11 00:26] #12320 closed

[2020-10-11 00:26] #12321 closed

[2020-10-11 00:26] #12319 closed

[2020-10-11 00:26] #12297 closed

[2020-10-11 00:26] #12293 closed

[2020-10-11 00:26] #12284 closed

[2020-10-11 00:26] #12264 closed

[2020-10-11 00:26] #12270 closed

[2020-10-11 00:26] #12251 closed

[2020-10-11 00:26] #12250 closed

[2020-10-11 00:26] #12220 closed

[2020-10-11 00:26] #12215 closed

[2020-10-11 00:26] #11973 closed

[2020-10-11 00:27] #11957 closed

[2020-10-11 00:27] #11956 closed

[2020-10-11 00:27] #11893 closed

[2020-10-11 00:27] #11861 closed

[2020-10-11 00:27] #11834 closed

[2020-10-11 00:27] #11847 closed

[2020-10-11 00:27] #11790 closed

[2020-10-11 00:27] #11787 closed

[2020-10-11 00:27] #11757 closed

[2020-10-11 00:27] #11755 closed

[2020-10-11 00:27] #11753 closed

[2020-10-11 00:27] #11739 closed

[2020-10-11 00:27] #11710 closed

[2020-10-11 00:27] #11665 closed

[2020-10-11 00:27] #11693 closed

[2020-10-11 00:27] #11662 closed

[2020-10-11 00:27] #11650 closed

[2020-10-11 00:27] #11643 closed

[2020-10-11 00:27] #11642 closed

[2020-10-11 03:09] #12647 closed

[2020-10-11 03:09] #12181 closed

[2020-10-11 03:09] #12165 closed

[2020-10-11 03:09] #12135 closed

[2020-10-11 03:09] #12142 closed

[2020-10-11 03:09] #12111 closed

[2020-10-11 03:09] #12092 closed

[2020-10-11 03:09] #12085 closed

[2020-10-11 03:09] #12091 closed

[2020-10-11 03:09] #12084 closed

[2020-10-11 03:09] #12050 closed

[2020-10-11 03:09] #12040 closed

[2020-10-11 03:09] #12005 closed

[2020-10-11 09:16] Connect-a commented on #13625
@AndrewCraswell
I am currently trying to use the following yaml.
[code]

[2020-10-11 10:19] timfish commented on #10295
I've prepared a PR to fix this!

[2020-10-11 10:20] bishal-pdMSFT commented on #13659
@vulegend the artifact issue referenced above seems to have been resolved. Has that resolved your issue as well?
If no, can you please provide more details:
1. Debug logs for the run
2. Pipeline details
3. Any details of nuget feed you are using

[2020-10-11 11:26] cremor commented on #9457
Please fix, don't close.

[2020-10-11 12:11] #11620 closed

[2020-10-11 12:11] #11605 closed

[2020-10-11 12:11] #11589 closed

[2020-10-11 12:19] JunielKatarn commented on #11589
This issue is still ongoing and not fixed.

[2020-10-11 12:21] JunielKatarn opened #13693 "AppCenterDistribute fails for a macOS project"
Re-opening #11589 because it was ignored for a year and closed automatically.

## Required Information

Entering this information will route you directly to the right team and expedite traction.

*Type*: Bug

**Enter Task Name**: AppCenterDistribute

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build n

[2020-10-11 14:01] igoraresti commented on #13548
We will try this week the proposed solution. For the moment, I have splitted up the package into smaller packages and now its working.

[2020-10-11 16:01] bishal-pdMSFT commented on #13674
@NinadKavimandan

[2020-10-11 18:09] #11583 closed

[2020-10-11 19:56] qJake commented on #9482
Still an issue - bad bot!

[2020-10-11 20:55] rosecodym commented on #13124
I have also been unable to get the linked workaround to work, and had to use version 3 of the task.

[2020-10-11 21:13] MarkKharitonov commented on #9499
Still a problem.

[2020-10-11 21:15] MarkKharitonov commented on #8979
Any update?

[2020-10-12 00:23] joberume commented on #11367
Resurfacing this so that it does not slip through the cracks....

[2020-10-12 00:23] joberume commented on #11367
@ShreyasRmsft can we get traction on this?

[2020-10-12 00:26] #11568 closed

[2020-10-12 05:58] FrancescElies commented on #13656
The problem seems to be related to the `dotnet test` command. Adding `--no-build` and explicitely building it beforehand brings down the job build time from ~20 min to ~5 min.

Workaround:
[code]

[2020-10-12 06:29] 20shivangi commented on #11339
Please feel free to reopen the issue if facing any.

[2020-10-12 06:29] #11339 closed

[2020-10-12 06:33] sidiandi commented on #13548
I can confirm this issue with NuGet Version: 5.4.0.6315

Uploading a 32 MB sized nuget package works. When trying to upload a 64 MB large packages, nuget fails after 3 retries each failing after 30 seconds:

[code]

[2020-10-12 06:36] d-burr commented on #13611
@AmrutaKawade sorry for the delay. The version is Windows Server 2016 Datacenter version 1607

[2020-10-12 08:37] LeoSong121 commented on #4734
I am facing same issue.

[2020-10-12 09:57] ShreyasRmsft commented on #11367
@joberume we pick up feature requests based on popular demand, as of now this is low priority in our backlog.

cc: @shashban

[2020-10-12 11:33] DineshChirnanchu commented on #13536
@Hack3l ,

Thank you for the details shared.
Could you please set **system debug:true** while running it and share the full logs.

[2020-10-12 11:50] AmrutaKawade commented on #13653
@goosseno Did you get a chance to try above solution? Let me know if it works

[2020-10-12 11:51] AmrutaKawade commented on #13621
@andressantos10 Let me know if above solution works

[2020-10-12 12:51] 20shivangi commented on #11859
@kristianpinke @stilren Let me know if you got unblocked using latest version of AzurePowerShell

[2020-10-12 14:04] franck-schmidlin opened #13695 "AzureResourceFilterUtility should filter on /sites (lowercase s)"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-10-12 14:32] BChip opened #13696 "Deploy SQL Dacpac Deployment Group Variable Input Not Working"
## Required Information
*Type*: Bug
**Enter Task Name**: SqlDacpacDeploymentOnMachineGroupV0

## Environment
- Server - Azure Pipelines
- Agent - Private:
    - Windows Server 2016 - Agent version 2.166.4

## Issue Description

Variables for task's sql auth inputs does not work. If I manually put the sqlusername and sqlpassword in plaintext into the task inputs, it does work.

Ex (does not work):

[2020-10-12 14:57] jaredpar commented on #9994
Nothing has changed on our end here. This still appears to be an issue (no change that we have seen) and we are still blocked on moving to Pipeline Artifacts by the linked issue

[2020-10-12 15:07] PaulVrugt opened #13697 "vsts-npm-auth doesn't seem to work with npm 7"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug/Feature

**Enter Task Name**: vsts-npm-auth

## Environment
Irrelevent

## Issue Description
We've been testing with NPM7 (with has the RC status right now), and we run into issue when authenticating with azure artifacts. We use the vsts-np

[2020-10-12 15:18] anatolybolshakov commented on #13468
Hi @maxim-lobanov 😃 Related changes has been rolled out, I'm closing it at the moment - please feel free to reopen it if this issue appears again

[2020-10-12 15:18] #13468 closed

[2020-10-12 15:20] anatolybolshakov commented on #6458
Hi @igorpaladino related changes has been rolled out - I'm closing it at the moment, please feel free to reopen it if issue appears again

[2020-10-12 15:20] #6458 closed

[2020-10-12 15:22] anatolybolshakov commented on #13351
Hi @maxim-lobanov related changes have been rolled out - so I'm closing it at the moment

[2020-10-12 15:22] #13351 closed

[2020-10-12 15:22] Exanis commented on #13684
@shigupt202 sorry for the delay. I can send you the whole pipeline in a private message ; however it's quite a long one, using multiple imbricated templates

[2020-10-12 15:25] anatolybolshakov commented on #12593
Hi @ebcFlagman @frenchf @glazzari @therottman @websolut @adsurg - the fix for this issue has been rolled out - I'm closing it at the moment, but please let us know if issue still appears

[2020-10-12 15:26] anatolybolshakov commented on #13387
Hi @tlbonds2 the fix for this issue has been rolled out - I'm closing it at the moment, please feel free to reopen it if this is still actual for you

[2020-10-12 15:26] #13387 closed

[2020-10-12 15:29] anatolybolshakov commented on #13434
Hi @staywen56 the fix has been rolled out for this issue - I'm closing it at the moment, please feel free to reopen it if it's still actual for you

[2020-10-12 15:29] #13434 closed

[2020-10-12 15:33] shigupt202 commented on #13684
@Exanis Maybe then, it would be better if you could tell which task is generating the Kubeconfig in your pipeline? (If you think it's KubernetesV1, try printing in a CmdLine task in a subsequent step. Because ideally this task should have removed the Kubeconfig in [this step](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/KubernetesV1/src/clusterconnection.ts#L79)).
FYI the i

[2020-10-12 17:31] JustinSchneiderPBI commented on #8651
<commenting to remove stale label>

[2020-10-13 00:22] michael-hawker commented on #10857
[The docs here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops#how-do-i-configure-a-nuget-package-source-that-uses-apikey-nuget-api-keys-such-as-nugetorg) call out this not working for apikey based scenarios (like uploading to nuget.org).

Is there any step-by-step guide to migrate from an existing NuGetCommand pipeline task uploading to

[2020-10-13 05:26] dikhakha opened #13700 "Deploy service fabric application: System.Fabric.FabricException: Application type and version is still in use"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Service Fabric application deployment

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

[2020-10-13 05:39] tejasd1990 commented on #13593
As discussed offline, this is expected, and explained [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-expressions#escape-characters). The `defaultValue` of a parameter in the template file will get escaped, but parameter values passed through command line, or through parameters file will not.
Closing this issue.

[2020-10-13 05:39] #13593 closed

[2020-10-13 08:44] Exanis commented on #13684
@shigupt202 I think I found where our Kubeconfig file is generated (and why it's not removed).

`task: Kubernetes@1
              displayName: Initialize kubernetes staging connection
              inputs:
                command: login`

Here is what my pipeline really do :
- Log in to my staging env
- For each service in my app, look in my staging env, get the image tag currently present in my s

[2020-10-13 09:05] AmrutaKawade commented on #13621
Closing this issue as its task configuration is not correct. Please try out above solution. Feel free to reopen if solution doesn't work

[2020-10-13 09:05] #13621 closed

[2020-10-13 09:35] AmrutaKawade commented on #13611
As this pipeline was working before and suddenly started failing. Net Framework 3.5 might have removed from your machine.
I have verified from our side whether task minor version change caused this removal or Windows Server 2016 .Net Framework [Update](https://support.microsoft.com/en-in/help/4576478/kb4576478-cumulative-update-for-net-framework) but none of these has removed it.

I am closing thi

[2020-10-13 09:35] #13611 closed

[2020-10-13 09:45] AmrutaKawade commented on #12422
@snaits Sorry for delayed response. Are you still facing this issue?

[2020-10-13 09:59] shigupt202 commented on #13684
Thanks @Exanis for the details. This explains the problem. We do not expect the Kubeconfig generated during KubernetesV1 login command to be deleted, so that it can be used in subsequent steps. I'll work on the fix. However, the deployment can take a few weeks to reach all the customers. In the mean time, you can use older versions of Helm or logout command of KubernetesV1 before the bake step, as

[2020-10-13 10:02] AmrutaKawade commented on #13537
yes this was because of bad deployment which happened from our side. some files were missing in the package. we had identified this issue and released fix immediately. #13531

[2020-10-13 10:02] #13537 closed

[2020-10-13 11:02] ruankr commented on #13163
The password is also being displayed in clear text, regardless if locked or not, in the logs. This should not be the case.

[2020-10-13 11:05] ruankr commented on #12180
We've moved away from using most special characters as have also seen this issue. Another issue is that the passwords are being displayed in clear text in the logs, even if locked. Surely this shouldn't be the case?

[2020-10-13 11:16] ds-ms commented on #13685
You could run an az-cli script to achieve the same though, right?
[code]

[2020-10-13 11:28] vivek425ster commented on #13578
@ashu16815 Are you still able to reproduce this issue ?
This seems to be connection issue. Might be an intermittent failure.
Which type of agent are you using in your pipeline?
If possible can you please share fiddler traces for more analysis ?

[2020-10-13 11:45] Sudharma commented on #13685
of course but it involves creating another shell task and do not want to go with the boilerplate code again. Wouldn't it be just easy to create it in a task by adding a key called `AcrPull` Role. in `KubernetesManifest` task

[2020-10-13 11:52] ds-ms commented on #13685
Honestly I see this as a one time setup, so you wouldn't even need it to be a part of your pipeline.
I'd suggest you have this script integrated with your ServicePrincipal rotation's automation.

Also while creating a K8s connection for AKS, we don't create a Service Principal internally, we create a service account in the cluster to establish a connection. Given that the task you're mentioning do

[2020-10-13 12:12] Sudharma commented on #13685
Well the whole purpose of managed identity is not to manage service principal but with above suggestion I need to create and maintain one. Also I see the problem from different angle.

**Outside the scope of azure devops**

1. with Service Principal.

    -  I create a AKS cluster and assign a service principal to it which it uses for internal usage(PVC, key vault)

    -  I create a role with Acr

[2020-10-13 12:20] #8346 closed

[2020-10-13 13:11] isnits commented on #13491
Hello,
The same issue here.
OS: Windows Server 2019 Standard Build 1809
Build agent: x64 version 2.153.1 installed on x64 OS
Tried with V1 and V2 Publish Symbols tasks
Mentioned updates are not installed in the system
Error:
[warning]Library dbghelp.dll is already loaded from an unexpected path. Expected 'C:\Builds\_tasks\PublishSymbols_0675668a-7bba-4ccb-901d-5ad6554ca653\2.0.16\dbghelp.dll'. Act

[2020-10-13 14:26] atrauzzi commented on #9584
Not stale.

[2020-10-13 15:12] #11507 closed

[2020-10-13 15:12] #11481 closed

[2020-10-13 15:12] #11470 closed

[2020-10-13 15:12] #11467 closed

[2020-10-13 15:12] #11375 closed

[2020-10-13 15:12] #11324 closed

[2020-10-13 15:12] #11317 closed

[2020-10-13 15:12] #11315 closed

[2020-10-13 15:12] #11313 closed