[2017-11-20 15:22] #5639 closed

[2017-11-20 16:51] bojanmisic commented on #5885
I had the same problem, and fixed it by adding **ShellScript** task:

[code]

as noted [here](https://bugzilla.xamarin.com/show_bug.cgi?id=60193).

[2017-11-20 18:59] shaneholder commented on #5892
I referenced the wrong tests in my most recent post, I am working with the L1XmlVarSub tests. I will run the tests again and post more detailed results.

[2017-11-20 20:17] brutaldev commented on #5885
@bojanmisic Thanks a lot, I can confirm that adding that shell script did work and fixed the build.
This obviously gets tricky now since the agent version can change and break things again, in the short term I can deal with this solution.

[2017-11-21 00:33] shaneholder commented on #5769
I would actually suggest that a min ver, max ver be added to the contribution guide, at least until the higher version npm's/nodes are supported.

[2017-11-21 01:34] shaneholder commented on #5595
Ok, so I ran my tests again, same results.

I am running on Windows 10:

[code]

I thought the best thing would be to create a branch on my repository to illustrate the error.  Please see:

https://github.com/shaneholder/vsts-tasks/tree/5595_evidence
Below is the Trace file from the run notice the line about configSections not being found.

I also created a PR against my own repository to try and

[2017-11-21 02:25] tmat commented on #4672
@japj Re compatibility of embedded sources and source server information: Yes, these features are compatible. In fact we expect both of them be used in a common scenario: the files that are tracked by the source control would be linked to the source control system and the remaining files (e.g. generated during build) would be embedded.

@jerickmsft I agree it would be best to not report warnings f

[2017-11-21 04:37] singhbibek commented on #5094
HI All,
I have added the SonarQube task in my build for code analysis of .NetCore task, and its start falling since i added the SonarQube, when i am disabling the SonarQubethan its building else throughing error , below is the error-

Time Elapsed 00:00:04.04
2017-11-20T09:20:11.9948934Z ##[error]Error: C:\Program Files\dotnet\dotnet.exe failed with return code: 1
2017-11-20T09:20:11.9961930Z [com

[2017-11-21 04:39] bryanmacfarlane commented on #5094
@singhbibek - create a new issue

[2017-11-21 04:43] singhbibek opened #5899 "Build is not successful when adding new task of SonaqQube , throwing error in build for .NetCore task"
HI All,
I have added the SonarQube task in my build for code analysis of .NetCore task and it is falling since then. However when I am disabling the SonarQubethan task its building without error.
The error I get is shared below:

Time Elapsed 00:00:04.04
2017-11-20T09:20:11.9948934Z ##[error]Error: C:\Program Files\dotnet\dotnet.exe failed with return code: 1
2017-11-20T09:20:11.9961930Z [command]

[2017-11-21 04:45] #2188 closed

[2017-11-21 05:13] ericsciple commented on #5673
This repo is for the in-the-box tasks. Custom-task-author docs are in the vsts-task-lib repo. Specifically here is a doc noting [agent features](https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/minagent.md) (and which agents correspond to which tfs version).

Updating from TFS 2017 RTM to U2 should not require any reaction from in-the-box tasks in this repo. If so, I would think it

[2017-11-21 05:13] #5673 closed

[2017-11-21 05:15] ericsciple commented on #5022
fixing with this PR https://github.com/Microsoft/vsts-tasks/pull/5900

[2017-11-21 05:19] ericsciple commented on #5116
@jgovednik required can be used on a field with a visible rule

[2017-11-21 05:26] ericsciple commented on #4971
@iyerusad you can use the macro syntax `$(mySecret)` syntax to pass secrets (same way if using a separate arguments text box).

alternatively, in yaml you can also pass via the [env dictionary](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-powershell.md#environment-variables). env dictionary will come to web designer in the future.

[2017-11-21 05:26] #4971 closed

[2017-11-21 05:29] ericsciple commented on #4695
@ebrucucen fyi, [env is available in yaml now(https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-powershell.md#environment-variables)], will come to web designer in the future

[2017-11-21 05:29] #4695 closed

[2017-11-21 05:31] ericsciple commented on #1571
the [env dictionary](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-powershell.md#environment-variables) in yaml will keep the secret off of the command line and out of generated scripts. the env dictionary will come to the web designer in the future.

[2017-11-21 05:31] #1571 closed

[2017-11-21 05:53] RoopeshNair commented on #4840
@gregpakes, Fair feedback, we are working on a newer version of the Azure File Copy task which relies on VM extension instead of WinRM to copy the files. We will look into cleaning it up, post deployment. However it will be a while before we can get to it.

As a workaround, for now, you can uninstall the extension using script, if found.

[2017-11-21 05:53] #4840 closed

[2017-11-21 07:31] #5244 closed

[2017-11-21 08:42] niadak commented on #5883
Hi youngcm2,If you dont want to use  -allowUntrusted option, we have to install a ASE certificate on the agent machine to make it worked. Please follow the steps in below link to create and install a ASE certificate.
https://docs.microsoft.com/en-us/azure/app-service/environment/app-service-environment-with-internal-load-balancer

https://docs.microsoft.com/en-us/azure/app-service/environment/crea

[2017-11-21 09:06] sachinma commented on #5641
@aydey can you look at it

[2017-11-21 10:00] sachinma commented on #5899
@singhbibek which SonarQube task are you using. Are you using SonarQube extension? If yes, I am not sure if the extension supports .Net core yet. May be you can post this on the SonarQube extension page and get the timeline for when the support would come there.

[2017-11-21 10:00] #5899 closed

[2017-11-21 10:25] StefanSchoof commented on #5125
A other workaround is to change the azure cli task to a inline script and write:

[code]

[2017-11-21 11:41] verysimplenick commented on #5094
@deanilvincent , yes fixed in nuget https://github.com/NuGet/Home/issues/5941

[2017-11-21 11:52] dibble-james commented on #5717
@ericsciple When using Node > 8 it looks like we need to shave more than a few characters...

`Extracting node-v8.9.1-win-x64/node_modules/npm/node_modules/libnpx/node_modules/yargs/node_modules/os-locale/node_modules/execa/node_modules/cross-spawn/node_modules/shebang-command/node_modules/shebang-regex/package.json`

[2017-11-21 12:03] Ajay-MS commented on #5595
Yes, you are right here I have figured out the issue.  PR that you have shared will surely solve this issue.  I will validate your changes and will take your changes.

**Problem**
Since xmlDomLookUpTable  is a global variable and invoking initialize DOM is updating it's value.
https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/Common/webdeployment-common/ltxdomutility.ts#L5

So, this issue

[2017-11-21 12:23] dibble-james commented on #5717
For me, the issue was (also) with the `Agent.TempDirectory` directory.  Again this would be solved by having a much shorter agent work path.

[code]

[2017-11-21 12:55] ds-ms commented on #5641
Mike, it might be the case because the "linuxFxVersion" is not set for the web app, which might be an issue with old web app. Azure recently made a change following which the image and tag value gets stored in a different property, namely “linuxFxVersion”.
Can you try using a new web app, or can you try to shuffling the docker container type in Docker Container blade for the existing web-app. If i

[2017-11-21 13:32] shaneholder commented on #5595
Thank you for reviewing my comments and code.  I saw your comment about getChildren on the XmlDom and it still does not return nested children nodes.  I encountered this in the PR for #5595 I am working on, however it looks like getChildrenByFilter will do a recursive search for nodes, although not an O(1) operation.  If you want an O(1) you might want to continue using lxdomutility but write it s

[2017-11-21 15:01] vinaysandela opened #5905 "CI using TFS vNext from GIT Repo. Getting Error"
HI, I am configuring CI Build on TFS using vNext. I am using GIT Repositoy.
It is the first time I am Building with the GIT Repo, so far using TFS.

I Created Build Definition, but its failing at the first step in **Getting Sources**. Getting the following Error-

**Error Log:**
2017-11-20T19:32:37.6525390Z ##[section]Starting: Get Sources
2017-11-20T19:32:37.6681390Z ##[debug]Primary repository:

[2017-11-21 18:57] MikeYeager commented on #5641
Deepak,

No luck with the work-arounds so I re-created the app service and tried again. I think that the original issue is fixed. I am still getting this error:
Starting: Build an image
******************************************************************************
==============================================================================
Task         : Docker
Description  : Build, tag, push, o

[2017-11-21 20:40] frankbuckley opened #5908 "Kubernetes task on VSTS Hosted Linux agent fails with "Failed to download OpenAPI""
## Environment

**Server - VSTS or TFS on-premises?**

- VSTS

**Agent - Hosted or Private:**

- Hosted Linux

## Issue Description

Running Kubernetes task fails.

### Error logs

    2017-11-21T19:36:37.0892060Z ##[section]Starting: Deploy [deployment]
    2017-11-21T19:36:37.1343500Z ==============================================================================
    2017-11-21T19:36:37.1357090Z

[2017-11-21 21:18] apryiomka commented on #5908
I have similar error in VSTS hosted linux agent. But i am also getting additional errro:
2017-11-21T21:13:25.6228570Z W1121 21:13:25.620102      82 factory_object_mapping.go:423] Failed to download OpenAPI (tls: failed to find any PEM data in certificate input), falling back to swagger
2017-11-21T21:13:25.6260690Z error: tls: failed to find any PEM data in certificate input
2017-11-21T21:13:25.644

[2017-11-21 23:01] goranjovanovic25 opened #5909 "Docker task on VSTS Hosted Windows agent fails"
## Environment
- Server - VSTS or TFS on-premises?

    - VSTS

- Agent - Hosted or Private:

    - Hosted VS2017

## Issue Description

Running Docker task to build an image on hosted Windows agent fails with the error:

2017-11-21T20:04:11.8276695Z no matching manifest for windows/amd64 in the manifest list entries
2017-11-21T20:04:11.8536892Z ##[error]C:\Program Files\Docker\docker.exe failed w

[2017-11-21 23:06] bryanmacfarlane commented on #5905
407 Proxy Authentication Required (RFC 7235)
The client must first authenticate itself with the proxy

[2017-11-22 00:13] frankfuu commented on #5259
Hey @vincentdass, I'll give it ago, but I can't consistently reproduce the issue. We already have slot swapping for our production environments so it's ok. I just want this to be implemented for our UAT/CI environment without a swapping mechanism. I'm just hoping the `-retryAttempts:10 -retryInterval:6000` will do the trick

[2017-11-22 06:16] Ajay-MS commented on #5595
@shaneholder

I am preferring O(1) operation in order to make substitution operation fast.

I have raised a PR . You can verify your tests on it.
https://github.com/Microsoft/vsts-tasks/pull/5912

[2017-11-22 08:46] Sclusterstack commented on #4372
@mvvsubbu  i have tried all to alternative solution that are explained here. but nothing worked for me and i get error Error: XML transformation error while transforming.

[2017-11-22 10:14] frankbuckley commented on #5908
Turns out this was an incorrect kubeconfig in the service principal configuration. Fixed by:

    $ rm /home/{user}/.kube/config
    $ az aks get-credentials -g {resourceGroup} -n {clusterName}
    $ cat /home/{user}/.kube/config

...and being careful to copy the whole of the JSON contents of the config file to the kubeconfig entry in the service principal settings on VSTS.

[2017-11-22 10:14] #5908 closed

[2017-11-22 10:16] Kmdkca opened #5913 "unable to deploy 2017 agent"
Local TFS 2017 update 1.  using 2. preview
## Issue Description

File is downloaded to other location ($env:SystemDrive\TestAgent\vstf_testagent.exe ) than used for installation ('C:\TestAgent2017Setup\vstf_testagent.exe')
### Error logs
2017-11-22T09:28:50.2566935Z Downloading test agent from https://aka.ms/vs/15/release/vs_TestAgent.exe to $env:SystemDrive\TestAgent\vstf_testagent.exe location o

[2017-11-22 11:09] acesiddhu commented on #5913
@Kmdkca this is a known issue in TFS 2017 U1. this is fixed in TFS 2017 U2. is it possible to update to TFS 2017 U2?

[2017-11-22 12:40] Kmdkca commented on #5913
okay thanks. We plan upgrade to TFS 2017 update 3 next month

[2017-11-22 12:40] #5913 closed

[2017-11-22 13:28] sibbl commented on #3447
Now that we have the `.vsts-ci.yml` approach and even your own official projects are using more than 500 chars in these files (i.e. the [vsts-agent](https://github.com/Microsoft/vsts-agent/blob/806a314a53f37ae485606fb16b55c098ae399a74/.vsts.ci.yml#L180)), isn't it time to also remove the limit from the GUI as well?

For us, the limitation leads to removing helpful comments and renaming variables t

[2017-11-22 13:37] Blackbaud-JonathanBell commented on #3447
@sibbl v2 (preview) of the task has up'd the limit to 5000 anyhow.

[2017-11-22 13:57] bergmeister opened #5914 "PowerShell v2 (preview) task: Inline option does not offer arguments"
The version 2 version (currently in preview) of the `PowerShell` task does not offer arguments if the inline script option is chosen.
This is required e.g. for passing in secrets, which can only be passed in as arguments.

[2017-11-22 14:16] japj commented on #4672
@jerickmsft I can now confirm that the source indexing works ok for us.
I think the warning was one of the things that threw me off track.
I thought I verified the pdb contents before and didn't see the TFS SRV sections, but that seems to be ok now (and debugging into code correctly retrieves the code from source control).

For C++ targets, we typically see references to missing source files in f:

[2017-11-22 14:21] shaneholder commented on #5595
Just as an FYI PR #5912 resolves #5892  but not this issue.  The comments for #5892 ended up side tracked here.  This issue is around being able to use .Net applicationSettings which are not attribute based but rather element based.  They use the type of System.Configuration.ClientSettingsSection and have the following structure:

[code]

I believe that looking at the type attribute on the section

[2017-11-22 16:51] marcelloromani opened #5915 "The 2016 feature pack link is dead, please update the README"
Context:
https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/SqlAzureDacpacDeployment

The README file links to
https://www.microsoft.com/en-us/download/details.aspx?id=52676

which returns 404.

The feature pack has probably been superseded by the 2017 version, here:

https://www.microsoft.com/en-us/download/details.aspx?id=55992

Update: the 2016 link seems to be working now. Go figure.

[2017-11-22 22:38] jycouet commented on #5617
Hi @PBoraMSFT
Do you have an idea of when you will be able to address this? :)
Thank you

[2017-11-23 01:39] JoeBrockhaus commented on #5657
Sorry for delayed response. This is a set it and forget it kind of issue for me, but I ran across it again.

Steps to Reproduce:
1. Add a `Manage App Service` Task to a Release.
1. Select an appropriate `Azure Connection`.
1. As you work your way through the configuration, you'll find that all 3 of the following fields will auto-populate:
   - `App Service Name`
   - `Slot Resource Group`
   - `Sl

[2017-11-23 04:37] vincentdass commented on #5566
@rsnj , @gkovacslmi , Thanks for the info and logs.
Is the swap slot failing even with adding warm-up?
Can you also try enabling `Always On` flag in Application settings of App service for better reliability?
![image](https://user-images.githubusercontent.com/20121508/33159113-15768888-d036-11e7-90c5-42d84460deb7.png)

[2017-11-23 04:58] hikirsch commented on #5566
Always on is on for us and we do have a warm up.

On Wed, Nov 22, 2017, 11:37 PM Vincent A (vinca) <notifications@github.com>
wrote:

[2017-11-23 06:40] SadagopanRajaram commented on #5563
@shaileshkumar-atos - I assume this is resolved and I am closing the issue. Please let me know if you run into anything else.

[2017-11-23 06:40] #5563 closed

[2017-11-23 10:28] gkovacslmi commented on #5566
Also for me 'Always on' is turned on for the web app and I use a warm up request before the 'Swap slots' release def. step

[2017-11-23 10:33] igorguga commented on #2146
Hi guys, this issue was solved?? I'm experiencing the same problem with a build agent behind a proxy trying to connect to VSTS Package management... We configured a .proxy file for the agent, the get sources goes successfull but the Nuget restore gives "connect ECONNREFUSED 191.234.179.224:443" error.

[2017-11-23 11:13] igorguga opened #5916 "Nuget Installer/Retore not working behind proxy"
Hi guys,

I'm trying to run a private VSTS build agent behind a proxy, and I'm getting the following error in Nuget Installer and also in Nuget restore tasks:

Error: connect ECONNREFUSED 191.234.179.224:443

The issue [#869](https://github.com/Microsoft/vsts-agent/issues/869) described the same problem, and was closed. But I'm still experiencing the same problem.

I've configured a .proxy file fo

[2017-11-23 11:56] igorguga commented on #5916
Hi, I've successfully make it run after I created a system environment variable "http_proxy".
Is this the recommended solution?

[2017-11-23 16:50] McMlok opened #5917 "Nuget restore on agent without connection to internet"
## Environment
- Server - TFS 2017.3
- Agent - Private Win 2012 R2 agent version 2.122.1
- Task - Nuget restore 1.0.1

## Issue Description

I run Nuget restore on agent computer without internet connection (corporate security decision). Task want to download nuget.exe from dist.nuget.org and fail. I found that before download task try to find nuget.exe in some caches. Than I copy several versions

[2017-11-23 16:52] bryanmacfarlane commented on #5917
Where do you want to get the package from?  Your on prem server or the internet?  If your feed is the on prem server on the local network it should work.  Obviously, getting a package from an internet feed won't work without an internet connection.

[2017-11-23 17:58] McMlok commented on #5917
Im on premise and we have on local network sonatype Nexus which act as proxy for nuget.org. Nexus has connection to internet. We are using version 0.* of this task several years and everything works. I have problem with version 1.*

[2017-11-24 06:13] cameronattard commented on #4469
You could still do it by installing [ecr-credential-helper](https://github.com/awslabs/amazon-ecr-credential-helper) on your private agents if your agents have the correct ECR IAM permissions in the instance role.

[2017-11-24 12:02] CumpsD opened #5919 "Task: "Index Sources & Publish Symbols" v2 does not work on Linux"
## Troubleshooting

## Environment
- Server - VSTS or TFS on-premises? VSTS
- If using VSTS, provide the account name, team project name, build definition name/build number:
https://agiv.visualstudio.com/Vlaamse%20Basisregisters/Vlaamse%20Basisregisters%20Team/_build/index?buildId=38007&_a=summary

- Agent - Hosted or Private:  Hosted
- If using Hosted agent, provide agent queue name: Hosted Linux

[2017-11-24 12:07] viral7chauhan commented on #5885
@bojanmisic Thanks, Its working!

[2017-11-24 14:56] frankfuu commented on #5112
Any ETA for this release?

[2017-11-24 16:05] Onefox opened #5920 "Powershell on Target Machines not failing on write error or ##vso[task.logissue type=error]"
The Build task does not fail when it should.

This is the powershell code:
https://pastebin.com/njhMFwAp

Is there another way to make the Release Task Fail?

## Environment
- VSTS Release process

- Agent Private:
 Windows 2012 R2

## Issue Description

Powershell on Target Machines Version 2.*

### Error logs
https://pastebin.com/eUFiW0jb

[2017-11-24 16:06] vincentdass commented on #5566
@hikirsch , @gkovacslmi , is the task failing consistently even with warm-up logic?

[2017-11-24 16:59] rsnj commented on #5566
@vincentdass we have AlwaysOn turned on and we are using the Application Initialization Module in our web.config for warming up our application.

[2017-11-24 17:33] vincentdass commented on #4457
@ggirard07 , This is by design to deny swap slot for stopped App Service.
One of the reason is Zero down-time deployment. Swapping the stopped app service is a contradiction here. You can also contact Azure App Service team to get more detailed info.

You can also take your production slot down by placing `app_offline.htm` file in root folder.

[2017-11-24 17:58] BiribiriJaNai opened #5921 "Updating to Node JS LTS (8.9.1) makes unit tests fail"
## Troubleshooting

## Environment
- Server: None
- Agent: None
- Development environment:
  - OS: Windows Server 2016 DataCenter 64bits (Azure VM, up to date)
  - Node JS: 8.9.1 LTS
  - npm: 5.5.1
  - VSCode: 1.18.1

## Issue Description
When upgrading to Node JS latest LTS, unit tests are failing due to a Node JS warning, messing up MockTestRunner's stderr and stdout.

## Repro steps
 - clone th

[2017-11-25 05:07] vinayapc opened #5922 "System.InvalidOperationException: The "Deploy Test Agent" task should be added before running the "Run Functional Test" task."
I get this error all of a sudden. This used to work earlier.
Getting the connection object
Invoke - Get-VssConnection cmdlet
Get - SecretService and EndpointService from TaskContext
Fetched Endpoint:SystemVssConnection
AuthorizationType : OAuth
VssConnection created
UnregisterTestAgent script Path =
Calling Invoke-RunDistributedTests
Invoking Run Distributed Tests with Register Environment support

[2017-11-27 04:18] jikuma commented on #5909
node:8 is more likely a linux-only image.

[2017-11-27 05:09] jikuma commented on #5891
Thanks @jhgoodwin for bringing this up. I am looking into it.

[2017-11-27 05:27] vincentdass commented on #5566
@rsnj , Please send the activity logs of both source and destination slot to  RM_customer_Queries@Microsoft.com
Also share the latest logs of the release to compare.
Is your slots present in same or different region?
Type of app: Windows / Linux (container) app?

[2017-11-27 06:26] mikejonestechno opened #5924 ".NET Core Task - Clean up 'Publish test results' to prevent duplicate test results in VSTS"
# dotnet Core Task v2.* (Preview)
Use "test" command with "Publish test results" check box enabled.
This appends `--logger trx --results-directory $(Agent.TempDirectory)` to the command line arguments.
However the output .TRX files hang around after the results are published to VSTS causing duplicate results when the Task is used more than once.

### Repro Steps
Add a dotnet Core v2.* (Preview) Ta

[2017-11-27 06:34] mikejonestechno commented on #5924
@nigurr Please could you help me with this. I think it would be one line code change but am not familiar with the code.

[2017-11-27 06:41] nigurr commented on #5924
@mikejonestechno
There are two ways to resolve the issue.
1. Clean up `Agent.TempDirectory` - before calling the Test command to make sure there are no previous TRX files exists - https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/DotNetCoreCLI/dotnetcore.ts#L95
2. Add an explicit powershell task/cmd task to clean up this folder after dotnet task so that subsequent task don't publish the du

[2017-11-27 08:50] jikuma commented on #5891
@jhgoodwin Can you share the build log for Install / Test / Build step. Ensure that you set syste.debugger variable as true.
Meanwhile you can use --exit-code-from option of up command.
docker-compose -f ./docker-compose.ci.build.yaml up --exit-code-from ci-build

![image](https://user-images.githubusercontent.com/23053847/33257980-1e7863c0-d37e-11e7-8f2e-30a8b4889a79.png)

[2017-11-27 12:02] mikejonestechno commented on #5924
Thanks nigurr, I might try the temporary workaround so that our builds continue.

I have not contributed to vsts-tasks before and not confident with the code or even how to check changes work locally. I'm happy to help if I can but I would need a lot of help to get started!

[2017-11-27 12:58] Onefox commented on #4526
I moved to a Domain User now...
A Workaround for me
Yes i was able to execute remote scripts with the user from another maschine (the agent)

[2017-11-27 13:35] stephenmichaelf commented on #5662
Going to close this, please reopen if you are still having an issue. Thanks!

[2017-11-27 13:35] #5662 closed

[2017-11-27 13:42] darkcite opened #5927 "Offline test agent deployment error"
## Environment
-    TFS 2017 U2
-    Windows on agent machine: Windows server 2012R2 (with internet access)
-    Windows on target test agent deployment machine: Windows server 2012R2 (no internet access)
-    Agent Version: 2.117.2

## Issue Description

I'm creating a clean VM with Windows server 2012R2 using a default iso downloaded from my MSDN subscription then trying to deploy test agent fro

[2017-11-27 19:16] rice119 opened #5929 "FTP process consistently fails"
## Environment
- Server: *VSTS*
- Account: *fluentweb*
- Team Project: *Fluent Web*
- Build Name: *3 - Continuous Deployment*

- Agent: *Hosted*
- Agent queue: *HostedVS2017*

## Issue Description
Our CD Build consistently fails during FTP process to an Azure Web App. We started getting consistent failures on 11/20/2017, prior to that we had not had any issues with the FTP process.

To circumvent

[2017-11-27 19:19] jhgoodwin commented on #5891
Hi @jikuma I have attached a re-run of the build using the original docker-compose argument of just "up", then added per your suggestion, --exit-code-from which did solve the problem.

It just seems strange that the exit code from the docker-compose appears to be non-zero, yet it did not fail.
[With_Exit_From_4_Install  Test  Build.txt](https://github.com/Microsoft/vsts-tasks/files/1507259/With_Ex

[2017-11-28 00:45] keithrob commented on #5917
@McMlok,
If you are using v1 of the NuGet task then create and set a variable called NuGetExeToolPath the path to your nuget.exe (e.g. "C:\Users\you\Downloads\nuget.exe").

Curious, does your sonatype proxy actually behave like a normal forwarding proxy?

Keith

[2017-11-28 00:45] #5917 closed

[2017-11-28 04:05] nigurr commented on #5924
@mikejonestechno https://github.com/Microsoft/vsts-tasks/blob/master/docs/contribute.md is a great place to start. We love to get feedback on getting started and improve this for contributions

[2017-11-28 04:09] nigurr commented on #5927
@darkcite Hi, sorry for the trouble.
We suggest you to use this script for TFS 2017 Update 2 - https://github.com/Microsoft/vsts-tasks/tree/releases/dev15tfsu3/Tasks/DeployVisualStudioTestAgent/CreateOfflineTestAgent.ps1
It's documented/blogged here: https://blogs.msdn.microsoft.com/devops/2017/05/05/using-visual-studio-agent-deployment-task-on-machines-not-connected-to-the-internet/

[2017-11-28 04:09] #5927 closed

[2017-11-28 04:48] PrasadSudama opened #5931 "project.json doesn't have a runtimes section, add '“runtimes”: { “win”: { } }' to project.json"
## Environment
- Server - VSTS
- Agent -  Private:

## Issue Description
Your project.json doesn't have a runtimes section. You should add '"runtimes": { "win": { } }' to your project.json and then re-run NuGet restore.

### Error logs
2017-11-28T02:43:50.4396191Z ##[error]C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Microsoft\NuGet\15.0\Microsoft.NuGet.targets(178,5): Er

[2017-11-28 04:52] wasabii opened #5932 "VsTest does not insert new parameters"
It seems by design that one can only override existing parameters in *.runsettings. However, I don't see why. Why not allow the user to add whatever parameters he/she wants?

[2017-11-28 04:53] acesiddhu commented on #5598
Issue with one of the machine. Closing the thread

[2017-11-28 04:53] #5598 closed

[2017-11-28 06:27] acesiddhu commented on #5932
yes it is by design today. Adding @PBoraMSFT

[2017-11-28 07:33] jycouet commented on #5617
Sorry to come back to this... I would actually need this soon :)
I would like to know if you are working on it, or I should try to make a PR?

Let me know please @nigurr @PBoraMSFT

Thank you

[2017-11-28 08:28] McMlok commented on #5917
@keithrob thanks it works.

Yes. We have defined several internal feeds for our nugets and one feed for nuget.org which is proxy + cache. And all of this feeds are joined in one meta feed. Than we use this feed in VS and on global configs on build agent servers.

[2017-11-28 09:12] PrasadSudama commented on #5931
I have resolved the issue. I have to change the project build template. There was a migration from project.json to csproj (VS2015 to VS2017) but that was going fine for quite some time now but some how it started breaking recently.

I changed the project build template as below:
`<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net461</TargetFramework>
    <RuntimeIdentifie

[2017-11-28 09:41] PBoraMSFT commented on #5932
@wasabii - can you share your scenario details on how you intend to use any parameters? The way we designed this feature is that parameters will be accessed via TestContext in the test code (e.g., TestContext.Properties["appURL"] will give you the appURL you may want to connect to in your test for a web-application. If these parameters are not already known, how do you propose to use them in your

[2017-11-28 09:44] niadak commented on #5920
@Onefox , Can you please try Write-Error 'Error Message test1.' instead of Write-Verbose "##vso[task.logissue type=error] Error Message test1". For me the task is failing with Write-Error.

[2017-11-28 10:44] jikuma commented on #5891
Docker-compose process does not exit with an error exit code if one of the containers fails. I tried docker-compose up && echo "Working" || echo "Not working". It always printed "Working". Irrespective of container exit code.

This is the reason  --exit-code-from was introduced.

[2017-11-28 10:44] #5891 closed

[2017-11-28 10:45] sufyannisar commented on #375
I am using _Run PowerShell on Remote Machine From File_
I want to change variable value but
Whenever I use `Write-Host` in Powershell script I get error saying

[2017-11-28 12:31] darkcite commented on #5927
@nigurr Hi, sorry but it didn't help, issue is still the same

[2017-11-28 12:37] sufyannisar commented on #573
I am using _Run PowerShell on Remote Machine From File_
When I Write

Whenever I use Write-Host e.g.
`Write-Host "##vso[task.logissue type=error;]Test error"`
 in Powershell script I get error saying

[2017-11-28 14:44] haddedayyadi opened #5934 "TFS 2017 - Deploy Test Agent fails (TestAgentConfiguration) : The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop"
## Environment
- TFS on-premises
- Version : TFS 2017 UPDATE 3

## Agent
- Private
- OS : Windows 2016 Virtual Machine
- Agent version :  2.122.1

I use TFS with https access and certificate created by own certification authority.

## Issue Description

when running the test agent deployment task, the build fails and return an error : Error : System.Exception: The running command stopped because t

[2017-11-28 15:20] acesiddhu commented on #3953
@Jassi1313 can you create a new issue for this? by the way the issue here is that in ur releae/build definition u have a variable named PATH which is set to some value. please rename or remove that to make it work

[2017-11-28 15:51] awentzel commented on #5929
We're available to help work through the issue from 8a-8p PST.  Thanks,

[2017-11-28 17:58] keithrob commented on #5917
@McMlok,
2 quick points.  I asked about the proxy because TFS2017U3 has a NuGet Tool Installer which will respect your [corporate proxy if one is configured](https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/v2-windows).  IOW, it will fetch the version of nuget you want through your corporate proxy.  Place the tool installer ahead of a NuGet Command build step so that your NuGet c

[2017-11-28 19:24] baywet commented on #5319
Ran into the same issue, it's too bad that the preview task for dotnet when in pack mode doesn't accept arguments (like test does for example)

[2017-11-28 19:27] markjsc commented on #5729
I'm having the same issue with similar circumstances (proxy, works for other operations but fails for this one).

Here is the debug dump from the Use NuGet task:
[code]
The IP in question 72.21.81.200 is for https://dist.nuget.org/tools.json. I can reach that URL using a browser (with proxy) on my build agent, so it sounds like this task isn't picking up the proxy settings.

[2017-11-28 23:20] dazhao-msft commented on #5697
@bryanmacfarlane @chrisrpatterson what is the recommended way to build 1709 based images with VSTS CI pipeline then?

[2017-11-28 23:28] AHoran commented on #5729
Thanks for the debug output Mark, I've since worked around by using a build server that didn't need a proxy, and also by using a hosted agent, and so couldn't generate it.

I can confirm that the IP address looks to be a nuget CDN

[code]

[2017-11-29 00:30] piqiums opened #5935 "[Android Gradle] needs to download CMake, but got no chance to agree to license agreement, failed builds"
Hi there
   I am a Microsoft employee working on an cross-platform & cross-language project based on Djinni. It includes an Android project that will also compile C++ code. I chose the "Hosted" agent pool, and used the API level 25 that is supported by the Hosted agent pool. My project needs to download CMake and some other libraries, but there's no chance to accept the license agreement during th

[2017-11-29 04:12] niadak commented on #5259
@frankfuu , Did you get a chance to try the above suggestion? Are you still facing the issue?

[2017-11-29 04:58] jikuma commented on #5475
@colindembovsky you are setting env variables in the DockerFile and in this PR you are validating execution env variable values.
If you specify env variable inside Dockerfile, these variables are only available inside container and there is no way we can validate in task if the variables are properly set for executing container.
Another way to specify Docker Host is through using Docker host endpo

[2017-11-29 05:00] #5475 closed

[2017-11-29 05:11] bryanmacfarlane commented on #5905
See agent docs on configuring for proxy.

[2017-11-29 05:11] #5905 closed

[2017-11-29 10:43] Vossekop commented on #5590
I have tried with the latest version of the task on a Hosted Agent today, and the problem still persists. Is there a manual step I must perform before I get the latest version of AzCopy in my releases?

[2017-11-29 11:20] frankfuu commented on #5259
hi @niadak Yep, it seems to be working so far! I'm hoping to kind of go back and see how many times it actually did retry.

[2017-11-29 11:58] sufyannisar opened #5940 "Unable to use logging command in Powershell on VSTS release task"
According to [Logging Commands](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md) I should be able to log details on VSTS details window.

But when I use `Write-Host` in Posershell, the Release fails with error:

I am using [ PowerShellOnTargetMachines Using File](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/PowerShellOnTargetMachines)

[2017-11-29 12:44] McMlok opened #5941 "VsBuild task not found sln using pattern **\*.sln"
## Environment
- Server - on-premise TFS 2017.3
- Agent - private Agnet 2.122.1 Windows 2012 R2 x64 on both servers

## Issue Description

We have two same servers for running our build. And on one server when in solution field is pattern **\*.sln no solution is found when I use second server solution is found. Logs are included bellow. I know only one diference between servers are that first serv

[2017-11-29 12:47] Onefox commented on #5920
Hi @niadak  i tried
[code]

But only the Verbose command is getting printed to the vsts log as before. All other lines are not displaied and the build task ist still not failing.

[2017-11-29 13:31] BonilMehta commented on #2517
Facing similar issue with failure "Some tests could not run because all test agents of this testrun were unreachable for long time. Ensure that all testagents are able to communicate with the server and retry again." .Everytime i run 3 functional test executes properly and on 4th getting this failure.I kept deploy test agent before each functional test also.Attaching DTA logs here.
[DTAExecutionHo

[2017-11-29 14:23] Ro3A commented on #1607
I've landed here from https://github.com/aspnet/Home/issues/694 and https://github.com/Azure/app-service-announcements/issues/24.

I'm still seeing an issue with locked files during deployment from Visual Studio 2017. I've been using MSDEPLOY_RENAME_LOCKED_FILES for two years now with a staging slot with no issues. All of a sudden, I'm guessing after a VS 2017 update, I'm unable to deploy to my st

[2017-11-29 20:21] chrisrpatterson commented on #5935
Have you tried the Hosted VS2017 pool?

[2017-11-29 20:56] davidjenkins opened #5946 "AzureRmWebAppDeployment does not provide a method to remove additional files when deploying with Kudu"
deployWebAppPackage() in AzureRmWebAppDeployment/kuduutility.ts uses Zip API instead of Zipdeploy API, so additional files are not removed.

This interferes with logic that is based on the presence of files within the deployment folder.

The AzureRmWebAppDeployment task only provides an option to remove additional files when using msdeploy.

I would just use msdeploy as a workaround, but we've see

[2017-11-29 22:04] ggirard07 commented on #5817
Any updates about that?

I tried the workaround of using the Hosted agent queue, but the version of AzurePS is too old and missing cmdlet updates I need.

[2017-11-29 22:13] jrr commented on #5817
@ggirard07 while we wait for this, we're using `sqlcmd.exe` directly from a _Command Line_ task. It can be found on the 2017 hosted agents in `C:\Program Files\Microsoft SQL Server\110\Tools\Binn`; you can add it to `$PATH` with a _Batch Script_ task (with _Modify Environment_).

Gross, huh? I hope we can remove this hack soon!

[2017-11-29 22:28] ggirard07 commented on #5817
@jrr thanks for the tip.
Is there any reason why you don't directly reference the the `sqlcmd.exe` instead of adding it to the path?

[2017-11-30 03:50] mikejonestechno commented on #4936
+1 for this. Have same requirement to delete files excluding file app_offline.htm and **\logs\*

[2017-11-30 04:36] niadak commented on #5940
We dont support Write-Host in PowerShellOnTargetMachines task. Please use Write-Verbose -Verbose "your log" for logging.

Let us know if you need anymore help.

[2017-11-30 04:59] niadak commented on #5920
I guess $ErrorActionPreference is set to "SilentlyContinue" in your script. Can you please add $ErrorActionPreference = "Stop" in the script and try again?

[2017-11-30 08:00] niadak commented on #5590
@Philo , We are working on updating the AzCopy tool to latest version in VSTS.  We will update here once that is done.

My understanding of your scenario is you are using Azure File Copy task to copy your build artifact to some Azure VM and using PowerShellOnTargetMachine task to do some deployment on the target VM.

You can try out Deployment Group feature in your scenario which dont has any AzCo

[2017-11-30 09:10] Vossekop commented on #5590
Any indication on when this will happen? My scenario is somewhat different. I want to automatically deploy Azure B2C custom templates. These need to be on a storage account and our templates need to contain SVG files. Auto deployment works, but the templates are not displayed correctly because the mime type of the SVG files are incorrect. (which means I change them manually now after each deployme

[2017-11-30 10:38] rmarinho commented on #2147
Hey @madhurig was SYSTEM_PULLREQUEST_TARGETBRANCH deployed to github support too already ?

[2017-11-30 13:05] Onefox commented on #5920
I changed it to:
[code]

Without success...

[2017-11-30 13:17] nonotest commented on #4044
hello, this is still happening for me

[2017-11-30 15:05] KyoofuTest opened #5949 "Task:RunLoadTest Error copying files to test run"
## Troubleshooting
When running a load test using the "Cloud Load Test Task" only files and directories found in the selected "load test file"-path is copied to the test run. It should be files and directories in the "Load test files folder".
e.g.
Load test files folder = project root
load test file = file.loadtest
project root --> webtests --> file.webtest
                   --> loadtest --> file

[2017-11-30 16:52] haddedayyadi commented on #5934
I solved this Issue ;)

I recommends enabling and using the TLS 1.2 protocol on your server.  TLS 1.2 has improvements over previous versions of the TLS and SSL protocol which will improve your level of security.  By default, Windows Server does not have this feature enabled.  This KB article will describe the process to enable this.
Start the registry editor by clicking on Start and Run. Type in

[2017-11-30 16:55] haddedayyadi commented on #5875
I solved this Issue ;)

I recommends enabling and using the TLS 1.2 protocol on your server.  TLS 1.2 has improvements over previous versions of the TLS and SSL protocol which will improve your level of security.  By default, Windows Server does not have this feature enabled.  This KB article will describe the process to enable this.
Start the registry editor by clicking on Start and Run. Type in

[2017-11-30 17:57] Izzmo commented on #5817
My solution was to split my release (or build) into 2 agent phases as a workaround.

[2017-11-30 18:02] bryanmacfarlane commented on #5817
@Izzmo - that shouldn't be necessary correct?  Are you splitting into phases because you're adding to the path?  If your script just declares the path and references it directly as @ggirard07 mentioned, wouldn't that be the simplest workaround?

[2017-11-30 18:46] Izzmo commented on #5817
@bryanmacfarlane Sorry I posted this in haste. Let me explain a little better.

My situation is that I needed to have a VS2017 agent and call out to Azure to create a Azure SQL server. Since the CLI doesn't support cross-subscription database copies, I need to run a inline SQL command to do the copy. _With the 2017 agent, it doesn't have the SQL tools installed apparently._ BUT, with the regular H

[2017-11-30 21:32] piqiums commented on #5935
yes, same thing

[2017-11-30 22:58] PilotBob commented on #5318
FYI: This just happened to me a few minutes ago.

[2017-12-01 04:20] niadak commented on #5830
@PaulConwayArk , Thanks for reaching out to us over email.

We don’t support variable for service endpoint input in task. We are planning to support the scenario using process parameter feature which will be available in future.

[2017-12-01 05:01] niadak commented on #5920
@Onefox , I am not sure why adding $ErrorActionPreference="Stop" is not working, may be there are some other global policy is overwriting the settings.

Can you please try throw "Error Message test3"? This should unblock you.

[2017-12-01 06:13] vimegh commented on #5601
This problem was resolved as felpel detected that project uses Chrome Driver’s processes in order to interact with Google Chrome for UI tests, and these processes were not exiting after the test were run. Steps were added to stop these blocking processes as cleanup, after which vstest didn't hang.

[2017-12-01 06:13] #5601 closed

[2017-12-01 09:20] vicancy opened #5953 "Unable to restore .csproj in .NET Core Hosted Build"
## Environment
- Server - VSTS build with ASP.NET Core template
- log:   https://docascode.visualstudio.com/docfx/_build/index?buildId=1&_a=summary
- Agent - Hosted

## Issue Description
Error when restore in .NET Core env: **Invalid input 'd:\a\1\s\test-projects\CSharpAndVBasic\csharp-console\csharp-console.csproj'. The file type was not recognized.**
Looks like similar to https://github.com/Micr

[2017-12-01 10:19] Onefox commented on #5920
I changed it to:
[code]
again without success.

A little bit about the the total process.
I have two Powershell on target machine scripts running.
Deploy and Undeploy.
![Release Tasks](https://i.imgur.com/ngQrcFe.png)

The deployment fails, because Undeployment didn't finish in the first place...

[2017-12-01 10:51] McMlok commented on #5941
I found where is wrong path. It was in .agent file. Reinstall of agent on affected server helps.

[2017-12-01 10:51] #5941 closed

[2017-12-01 11:17] DaleMckeown commented on #5259
It should be noted that this issue is not limited to Azure - publishing to IIS via Web Deploy causes the same issues.

[2017-12-01 15:27] ggirard07 commented on #5817
2 phases releases wasn't  possible for me as cross phases variables are not supported it, except with yaml.

I was able to reference `sqlcmd.exe` directly by using the path provided by @jrr.
My script is executed properly and firewall seems to not be an issue finally...

[2017-12-01 19:08] skushubar opened #5957 "Unable to deploy test agent with error "Cannot create a file when that file already exists.""
Running a release using a private agent running against VSTS.

Account: aptmetrics
Team Project; APTMetrics
Release Definition: APTMetrics-CI
Release Number: 11.2.5.51-2 => 11.2.5.55-1
Agent: DevTfs01
Agent Version: 2.120.2
Agent OS: Windows Server 2008 R2

Releases started failing on 2017-11-28 with the error "Cannot create a file when that file already exists."
Logs: [11_Deploy TestAgent on devd

[2017-12-01 23:05] sheldonhull opened #5961 "Issues with Timeline Entries and progress feedback"
## Environment
- Server: TFS On Premise 15.117.26615.0

## Issue Description

Trying to utilize better progress details on steps in a longer running custom build task. I have tried to leverage child steps nested with GUID's mapped to parent step guids. Didn't work. So I tried just regular steps, and couldn't get the build steps to show up in the timeline at all.  I'd like someway to show percentag

[2017-12-04 01:35] shashban commented on #5642
@lavanyasubbarayalu We're happy to inform you that the feature mentioned by Aseem above is complete and available for use. You can have an Azure function to query for the test results, and use it as a pre-deployment and post-deployment gate. Using the time fields, you'll also be able to specify if the criteria should be re-evaluated multiple times while the team works on completing any remaining t

[2017-12-04 07:03] acesiddhu commented on #5875
@debasisj are you still blocked on this. Did suggestion from @haddedayyadi helped?

[2017-12-04 07:21] tomkerkhove commented on #4990
Any updates on this?

[2017-12-04 08:55] nigurr commented on #5957
@skushubar Can you please clean up C:\TestAgent directory from TestAgent machine and try running the build once?

[2017-12-04 09:00] nigurr commented on #5888
@LokiMidgard Hi, Currently it's not possible to extend the Distribution logic. We are addressing some of the custom distribution options and they are being added to VsTest task.
Please refer this blog for more information: https://blogs.msdn.microsoft.com/devops/2017/03/26/vstest-task-dons-a-new-avatar-testing-with-unified-agents-and-phases/#FAQ

[2017-12-04 09:00] #5888 closed

[2017-12-04 09:16] nigurr commented on #5887
@hubertusgr Sorry for the trouble. This is fixed is TFS 2018 - https://github.com/Microsoft/vsts-tasks/pull/5089/files
Can you please raise the Microsoft support ticket if you require this fix for TFS 2017 Update 3?

[2017-12-04 09:16] #5887 closed

[2017-12-04 09:27] nigurr commented on #5684
Hi,

Can  you please describe which task is being used to run the test and issue details?

[2017-12-04 10:48] xerespm opened #5968 "How should I pass the template path to 'Azure Resource Group Deployment' task?"
## Environment

- Server: VSTS
- Agent: Hosted

## Issue Description

I want that link some ARM templates in an Azure Resource Group Deployment task,
and I don't like that some URI paths are hard-coded.

[code]

and I set 'Override template parameters' as bellows.

`-template $(Build.Repository.LocalPath)\parent.azuredeploy.json`.

Hmm..., What should I do?

### Error logs

[code]

[2017-12-04 11:43] darkcite opened #5969 "Offline test agent deployment error"
## Environment
-    TFS 2017 U2
-    Windows on agent machine: Windows server 2012R2 (with internet access)
-    Windows on target test agent deployment machine: Windows server 2012R2 (no internet access)
-    Agent Version: 2.117.2

## Issue Description

I'm creating a clean VM with Windows server 2012R2 using a default iso downloaded from my MSDN subscription then trying to deploy test agent fro

[2017-12-04 12:38] rajatagrawal-dev commented on #5920
@Onefox I tried a similar setup as yours with 2 powershell on target machine tasks. The first task contained the script in your previous post and the second task was just a normal hello world task. For me the release failed on the first task, as it should. The second did not get executed.

Can you share the debug logs of your release? To get the debug logs just add a variable _system.debug_ and se

[2017-12-04 13:19] rajatagrawal-dev commented on #5830
Closing this as the process variables feature is under development and will be available in near future.

[2017-12-04 13:19] #5830 closed

[2017-12-04 14:16] skushubar commented on #5957
@nigurr I cleared the directory and the release failed with the same error "Cannot create a file when that file already exists".

[2017-12-04 14:39] raman91dogra commented on #4996
@cltshivash Thanks for reply. Can you please guide how to write the Custom Adapter for same. I have not worked upon the stuff from quite a long time.But Now, I need to complete this on priority and there are no sources available anywhere.

[2017-12-04 15:36] kristoferreierson opened #5972 "xcode test does not upload results to TFS"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

VSTS

    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:

msazure.com / Intune / Buil

[2017-12-04 15:50] sibbl commented on #5112
If someone else is looking for a workaround: using the dev chrome tools, search for `.prototype.beginUpdateTaskGroup` in MS's code. In there, the variable `t` contains the JSON object sent to the REST endpoint. You can set a breakpoint beforehand and modify it as required.

[2017-12-04 16:31] lovakumar commented on #4990
Hi Tom, This is still in our backlog. I will check internally with our team and get back on this thread.

[2017-12-04 16:35] kelliejos commented on #4044
@nonotest We recently released a new version of the tfs-plugin which contains the fix for this issue. Please try updating your tfs-plugin version to version 5.126.0. Thanks.

[2017-12-04 16:47] aggieben commented on #4533
@Liero I saw your SO post(s) earlier today and tried them, and I still experience this error currently.  I posted about it here: https://developercommunity.visualstudio.com/content/problem/159780/error-nu1100-unable-to-resolve-netstandardlibrary.html

I'm pretty sure the VS2017 hosted agent has the correct SDK bits, so it seems like the SDK version isn't the cause.  However, I still don't really h

[2017-12-04 17:16] keithrob commented on #4533
@aggieben,
Does your build task have a NET Core Tool Installer "2.0.0" [1] build step _before_ all of your other steps in the build?

[1]
![image](https://user-images.githubusercontent.com/908203/33565905-3b6c2ebc-d8d3-11e7-89bb-1b9571a7ac41.png)

[2017-12-04 17:19] aggieben commented on #4533
@keithrob no - but like I said I verified in the output that the correct version of the SDK is being used (and in addition to that, I'm now using a global.json to ensure an error occurs if the correct version isn't available).

I did just figure this out, though.  I'm using Paket to manage my dependencies and I neglected to add NETStandard.Library to my `paket.dependencies` file.  So the root caus

[2017-12-04 17:23] keithrob commented on #4533
@aggieben,
Glad to hear the problem is resolved.  Curious, can you explain how you verified the correct version of the SDK?

[2017-12-04 19:16] robbratton commented on #5757
Here's my test information:

# Arguments from the config page for the .Net Core command with custom selected:
--no-build --include-symbols --include-source /p:Version=$(GitVersion.NuGetVersionV2) --configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)

# Arguments in debug output:
2017-12-04T18:52:37.6792409Z ##[debug]arguments=--no-build --include-symbols --include-source

[2017-12-04 20:10] tomkuijsten commented on #1256
As far as I know. If I take a look at the labels, I don't think its on a roadmap yet.

[2017-12-04 21:24] debasisj commented on #5875
Thanks for suggestions.
Eventually I worked it out by disabling routing internet request through proxy server which was not reachable or should not be hitting the proxy server from the VM.

Please close the issue.

[2017-12-04 21:42] buzallen commented on #1607
This is still an issue for me, but only on certain projects and I can't find a common thread as of this point.  This is a .net core 2.0 MVC application being published to a azure web app.  Only way around it is to stop the service and then restart it.  Note this is not a slot in this case, it's the regular app.

Over the summer this was an issue on some other projects but that went away and I assu

[2017-12-04 22:50] bryanmacfarlane commented on #5112
@jstawski - see the comment that went along with closing it.

[2017-12-04 23:20] vercellone commented on #4880
+1 @RoopeshNair Any updates on this enhancement?  Would a PR serve to expedite or hinder it?

[2017-12-05 03:28] yaananth commented on #1607
Please move discussions to https://github.com/Microsoft/vsts-tasks/issues/5259 to make sure it gets traction.

[2017-12-05 03:53] ds-ms commented on #5968
@xerespm As of now, there is no provision for linking a template from a local path using this task (i.e. in your case `$(Build.Repository.LocalPath)\parent.azuredeploy.json`; which would map to `C:\<path_to_agent>\<path_to_downloaded_repository>\parent.azuredeploy.json`)

So, when the template reaches Azure for deployment, the value of the "uri" would be a local path, which is not accessible from

[2017-12-05 04:33] #5875 closed

[2017-12-05 05:25] buzallen commented on #5259
This is still an issue for me, but only on certain projects and I can't find a common thread as of this point. This is a .net core 2.0 MVC application being published to an azure web app from visual studio using the publishing profile. Only way around it is to stop the service and then restart it. Note this is not a slot in this case, it's the regular production app.

Over the summer this was an i

[2017-12-05 05:26] nigurr commented on #5969
@darkcite Sorry for the trouble. The issue `Exception from HRESULT: 0x8000FFFF (E_UNEXPECTED))` is fixed in 2018 RTM.

Can you please add the following line to `Start-Sleep -Seconds 60 # required to keep service active till process loads Assembly_Resolve` https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/DeployVisualStudioTestAgent/TestAgentConfiguration.ps1#L152 in your Build agent machin

[2017-12-05 05:38] nigurr commented on #5957
@skushubar can you please drop us mail devops_tools at microsoft dot com

[2017-12-05 05:38] #5957 closed

[2017-12-05 05:43] rajatagrawal-dev commented on #5940
I am assuming you are able to get unblocked by using Write-Verbose -Verbose. Please feel free to reopen the issue if you need any help on this.

[2017-12-05 05:43] #5940 closed

[2017-12-05 06:17] vincentdass commented on #5259
@buzallen , Can you please provide the [details](https://github.com/Microsoft/vsts-tasks/issues/5259#issuecomment-329572378) asked by @pan-wang , so we can closely debug this issue?

[2017-12-05 06:24] rajatagrawal-dev commented on #5883
Hi @youngcm2
If you are still facing the issue please send the debug logs to  RM_Customer_Queries@microsoft.com

[2017-12-05 07:08] kratkaericd opened #5973 "AzureRM 5.0 in Azure Powershell task"
## Environment
VSTS, IHA, Everything, CD - DeployAzure, 20171205.1

## Agent
Agent queue: Hosted or Hosted VS2017

## Issue Description
Running an Azure PowerShell script that depends on AzureRM 5.0 for the New-AzureRmApplicationInsightsApiKey cmdlet and getting notified the 5.0 cmdlet isn't supported. What can I do to get AzureRM 5.0+ running on the Hosted or Hosted VS2017 agent?

## Error Logs
2

[2017-12-05 08:06] sameeradh opened #5975 "Does the Task support stopping multiple webapp / worker role"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:

[2017-12-05 08:32] lovakumar commented on #4990
Hi Tom, We discussed this internally and azure key-vault does not have an API for supporting wild cards in secrets lookup and hence we have not done it.

[2017-12-05 09:30] rajatagrawal-dev commented on #5940
@sufyannisar You can also try using Write-Output "your logs" to display your logs.

[2017-12-05 09:50] tomkerkhove commented on #4990
That's correct but you could list all secrets behind the scenes, apply the wildcard on top of it and only fetch the values for the secrets that match?

[2017-12-05 09:51] tomkerkhove commented on #4989
Since it's closed, is it fixed then or?

[2017-12-05 09:56] harshil93 commented on #4989
We never supported Api-* where * is a filter. We will now throw proper error and let user know that this isn't supported.

[2017-12-05 10:13] lovakumar commented on #4990
That approach is not optimal and adds overhead to key vault APIs.

[2017-12-05 13:42] Onefox commented on #5920
Here is the full log:
https://pastebin.com/ax4tzaCw
I removed some personal information.

I will also try out the setup you have tried.

[2017-12-05 13:54] ggirard07 commented on #2414
@GitHubSriramB @kmkumaran the provided link "https://.visualstudio.com/defaultcollection/_apis/distributedtask/serviceendpointtypes?type=AzureRM" is dead. How to access this documentation?
Thanks!

[2017-12-05 13:56] ggirard07 commented on #2414
@GitHubSriramB Any update on the extended documentation you mentioned at the end of your comment

Thanks!

[2017-12-05 13:56] smartin34 commented on #5738
Dear all,

we are creating a .zip file from our build outputs and want to publish this .zip into a separate build artifact called "zipped_drop". Unfortunately we spend a lot of time to create a working build configuration just because of this bug.
The task (robocopy behind) always handles the "Path to Publish" as a folder, no matter whether you specify a file path.
It's explanation also says "fold

[2017-12-05 14:22] berndku commented on #5973
+1, need to run AzureRM >= 5.0 in Azure Powershell task

[2017-12-05 15:30] #5642 closed

[2017-12-05 15:31] RoopeshNair commented on #5642
Closing as we support gates feature in release, please refer to Shashban update above

[2017-12-05 17:26] rjstalb commented on #4366
The issue still exists as of December...

[2017-12-05 21:55] santoorman commented on #5684
dont quite understand the question.. using Test Assemblies v2.x .... ?

[2017-12-05 22:17] buzallen commented on #5259
@vincentdass I read the @pan-wang  post about event logs, is it the eventlog.xml file in the 'Logs' directory?  I've enabled web server logging for the app but the eventlog.xml file doesn't appear to have any errors in it even though a publish failed after I enabled logging.

If there are any details on how to capture the specific logs, or if I am not getting the correct data please let me know.

[2017-12-05 22:35] tylerjwatson commented on #4366
We ended up migrating off of azure for our entire app stack. It’s a minefield of issues like this and not worth the effort. We now run containers on private infrastructure and it works flawlessly for an eighth of the price.

[2017-12-05 23:55] rjstalb commented on #4366
Awesome. We are contemplating the same. As for the above, we're temporarily biting the bullet and build/deploying to a windows-hosted service. Would love to hear more about your alt infrastructure... :)

[2017-12-06 03:11] chrisrpatterson commented on #4366
@tylerjwatson can you be more specific on the issues you hit?  In the case of the Built In source I see it in my account but it is possible there is something wrong in your scale unit or account for this task that we could look into.

![image](https://user-images.githubusercontent.com/185122/33642703-1a8a1f24-da09-11e7-8a9c-92cb374d0a60.png)

[2017-12-06 03:43] jemiller0 commented on #1252
I just upgraded to VS 2017 15.5 and now I'm getting the error. It was working fine before the upgrade. Whatever "improvements" were made to testing in 15.5 seem to have broken it for me.

[2017-12-06 04:28] azooinmyluggage commented on #4366
@tylerjwatson @rjstalb

Thanks for the feedback, sorry to hear that you are still facing issues.

We have fixed the task with support for built-in source support and a cleaner UI. Check the screenshot posted by @chrisrpatterson. Now both options are supported:

1. Web App on Linux (built-in source)
2. Web App for Containers

I will be happy to help if even the updated task is not resolving your is

[2017-12-06 04:56] #5968 closed

[2017-12-06 07:05] nigurr commented on #5922
@vinayapc Please let us know if you are still having this issue. Closing this issue as there's no response.

[2017-12-06 07:05] #5922 closed

[2017-12-06 07:37] pawelrutka opened #5978 "Jenkins job link lost in TFS"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
 TFS on-premises 20017 update 2

- Agent - Private:
Ubuntu 16.04

## Issue Description

Sometimes TFS lost link to Jenkins Job that was build. It happens almost always when Build fails.

Here how it look when everything works:

[2017-12-06 07:45] xavierdecoster opened #5979 "[NuGet Push] Cannot configure NuGet Service endpoint using ApiKey for feed requiring authentication"
## Environment
- Server - VSTS

## Issue Description

When configuring a VSTS Service connection of type NuGet to use an ApiKey, the connection is verified using a GET request to the endpoint **without any authentication**.

For private feeds (e.g. on MyGet), that doesn't work. The feed is secured, and HTTP GET requests without proper authentication, will return a HTTP 401 Unauthenticated result.

[2017-12-06 08:07] g2petter commented on #5979
👍

This is relatively annoying, and part of the reason why we are sticking with the deprecated _NuGet Command_ build task

[2017-12-06 11:28] sachinma commented on #5641
@MikeYeager, we ask for the path to the Dockerfile. So you can have multiple Dockerfiles one per service project; and you can provide the path to the Dockerfile when configuring the Continuous Delivery. I think the  current failure is due to the fact that the pattern was not found in the repo, it could be related to the forward vs backward slash. Can you try with the **/Dockerfile or the exact pat

[2017-12-06 12:17] sachinma commented on #5968
@xerespm if you don't want to hard-code the URL in the file, you can add a new task (PS or Azure PS) which first uploads the linked template to a blob; form the right URL and update the override param with that URL.

[2017-12-06 12:27] xerespm commented on #5968
@ds-ms @sachinma Thank you for following me. I’ll give privately repository a try.

[2017-12-06 13:02] rajatagrawal-dev commented on #5975
@sameeradh Can you provide more details like which task you are using and what you want it to do?

[2017-12-06 13:35] mrvladis commented on #5894
I have used the following Shell script in front of PowerShell one as workaround:
#!/bin/bash
ln -s /usr/bin/pwsh /usr/bin/powershell

[2017-12-06 15:49] hegsie commented on #5969
Officially giving up on this ever working, time to roll our own version, its not worked since TFS 2015, tested in 2018 and still doesn't work grrr

[2017-12-06 16:53] sramssh opened #5981 "VSTest version 2 task not distributing tests"
Hi, I had created below issue. It was closed as not a bug. But my issue is still not resolved

https://developercommunity.visualstudio.com/content/problem/161220/vstest-version-2-task-not-distributing-tests.html

I tried specifying the batch size as 50 as mentioned in the above issue. Now the tests are not getting run. Log shows "Test run '664' is in 'InProgress' state." and it does not seem to ru

[2017-12-06 18:45] nperno commented on #1441
+1 to re-open as well. Getting the same timeouts. Not sure i fully understand why. The dackpak has a definition of my custom audit table, but nothing is changing with that table on deploy. However, looks like it is trying to create some type of temp table "[tmp_ms_xx_auditLog] " .. my custom table name is "auditlog" fyi. Obviously our custom auditlog table has a ton of data in it. As a test, i del

[2017-12-06 19:45] kelliejos commented on #5978
@pawelrutka, Thanks for providing the build logs. To help us narrow down the issue, could you capture a network trace when you reload the build summary page for a failed build? In Chrome you can do this by opening Developers Tools (you can open this by hitting F12 on your keyboard) and clicking on the Network tab in the tools panel.  Reload the build summary page for the failed build you've shown

[2017-12-06 20:10] Coder3333 commented on #2126
@Sebosek 's answer got me most of the way there, but I think the -xml flag has been removed.

1. Add the XunitXml.TestLogger nuget package to my test project
2. Use a dotnet test task and add the Argument -l:xunit.  The -l:xunit tells it to log using XunitXml.TestLogger
3. Add a Publish Test Results step for XUnit with the results file path of "**\TestResults\TestResults.xml", which is where the l

[2017-12-06 20:28] MikeYeager commented on #5641
@sachinma, thanks for your reply. I've been told that CD does not support multiple Docker Projects in a solution since the source code is all in the same repository. A check-in would have to trigger deployment of all service projects. As for the forward vs back slash issue, I have tried it both ways with the same result.

[2017-12-06 20:46] aus7d7 opened #5983 "Resource Group Resources array empty"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server: VSTS
- Account Name:  Safety Platform
- Team project:  Safety Platform\Intel Services
- Build Definition Name :  IS-IntelWorkbench

- Agent: Hosted
- Agent Queue Name: Windows Defender PROD

## Issue Description
Relea

[2017-12-06 21:34] CarsonTolleshaug opened #5984 "Cannot specify resource group without also using deployment slots"
The "Azure App Service Deploy" task does not allow the user to specify the resource group of the app unless "Deploy to slot" is checked.

I have two app services which have the same name, but are in two separate resource groups on the same subscription. As far as I can tell, there is currently no way for me to use the Azure App Service Deploy task to deploy code to both services, meaning I will ha

[2017-12-06 22:15] boklyn opened #5985 "issue with referencing the keyvault certificate secret."
## Troubleshooting
## Environment
VSTS
- Agent - Hosted
## Issue Description
So in your read me you advise to have a previous  keyvault task to pull the secrets and in the subsequent task you document to reference the secret as $([SecretName]) with the following code
$kvSecretBytes = [System.Convert]::FromBase64String($(PfxSecret)), where I assume that the secret name holding the certificate is Pf

[2017-12-07 03:46] kmkumaran commented on #1441
Re-opening per request

[2017-12-07 05:23] sachinma commented on #5641
You cannot configure multiple services in a single go with CD experience in Azure since that is pivoted around a single App Service. However, you can try by providing the full path to the Dockerfile of the service that you want to deploy on a given app service - that should work. Let me know if you get any error with that.

[2017-12-07 05:29] sachinma commented on #5983
Hi @aus7d7 are you trying to copy files to machines on a VM scale set? If yes, that is not supported by Azure Resource Group deployment and Windows Machine File copy task.
If you are using VMs, can you run the release with system.debug variable set to true and share the logs with description at RM_Customer_Queries at microsoft dot com

[2017-12-07 06:36] nigurr commented on #5969
@hegsie We will help you to fix the issue and understand any issue which is not addressed in our feature implementation. Can you please drop us your skype id at devops_tools at microsoft dot com.
or please reach us through Microsoft Support tool https://support.microsoft.com/

[2017-12-07 06:39] prawalagarwal commented on #5790
@laserrea We will continue on the resolution for your issue @devops alias. Closing this.

[2017-12-07 06:39] #5790 closed

[2017-12-07 06:45] pawelrutka commented on #5978
Hi
Here You are.
Bad log:
[bad_network.zip](https://github.com/Microsoft/vsts-tasks/files/1538047/bad_network.zip)

On good load we can see that Jenkins%Result is received:
![ss](https://user-images.githubusercontent.com/32490603/33702135-95f1bd6a-db22-11e7-852b-a5483d7a4dff.png)

[2017-12-07 08:39] rajatagrawal-dev commented on #5892
This has been fixed in #5912. It will be available with the next deployment which will take around 2 weeks to get to all accounts.
Issue #5595 will be tracked separately, hence closing this.

[2017-12-07 08:39] #5892 closed

[2017-12-07 09:22] darkcite commented on #5969
@nigurr just tested this issue on TFS 2018 with the latest version of vnext agent and task and problem is still the same.

[2017-12-07 09:36] rajatagrawal-dev commented on #1441
Hi @rahulku @rposener @dipinbehl @nperno
Are the timeouts intermittent or persistent?

If you haven't tried that yet, can you increase timeouts through additional arguments in the task? Something like:
/p:CommandTimeout=1200  /TargetTimeout: 1200

Are you using private or hosted agent? If hosted is it from the Hosted pool or the Hosted VS2017 pool?

If possible can you execute the the sqlpackage c

[2017-12-07 10:50] Onefox commented on #5920
There was a try catch some where that only used write-output.... after fixing that the task failed as expected....
Thanks for your time.

[2017-12-07 10:50] #5920 closed

[2017-12-07 13:42] xavierdecoster commented on #5979
@bryanmacfarlane @alexmullans any ideas? can you please redirect as needed or help us reach out to anyone to resolve this?

[2017-12-07 14:43] kelliejos commented on #5978
That was exactly what I was looking for. This isn't a bug in the Jenkins task itself, but I've opened a bug for this (Internal bug 1141699) and we will take a look at the issue soon. Thank you for the detailed information!

[2017-12-07 15:07] pawelrutka commented on #5978
Aby chances to see fix on 2018 release or earlier?

07.12.2017 3:44 PM "kelliejos" <notifications@github.com> napisał(a):

[2017-12-07 18:05] jascam commented on #5979
@xavierdecoster, We are looking into this issue however while we do that can you try clicking the Ok button on the connection?  Verify connection is only supposed to be for you to test with and it should not block creating the endpoint.

[2017-12-07 18:06] alexmullans commented on #5979
There's a fix for this rolling out in the current deployment; we've disabled the connection verifier for now until we can make some improvements to it.

/cc @jascam

[2017-12-07 18:06] #5979 closed

[2017-12-07 18:22] gweinhold commented on #5671
Also having this issue now with On Prem TFS Version 15.117.27024.0.  Most of the command line appears to be taken up with MSTest.TestAdapter.1.2.0 NuGet package internationalization (i.e., 2 Dlls for each country/locality).

What's worse is that TFS is reporting the Build Task as completing successfully while no tests are executing.

[2017-12-07 18:33] xavierdecoster commented on #5979
@jascam looks like clicking _OK_ without clicking _Verify Connection_ does save the apikey! Did not think it would. Thing is, once clicking the verify button, it fails, and there's no way to save it as such without closing and reopening the dialog.

@alexmullans thanks for the fast turn-around!

[2017-12-07 18:59] CESARDELATORRE opened #5988 "docker-compose VSTS task doesn't work with absolute paths pointing to the additional docker-compose files on windows agent"
## Environment
- VSTS. Repro can be done with any docker-compose deployment

## Issue Description
docker-compose VSTS task doesn't work with absolute paths, which is very common as you usually might select the docker-compose files from the GitHub path.

This is the task with the issue:
![image](https://user-images.githubusercontent.com/1712635/33733348-5b276420-db3e-11e7-98f9-1416d34ceba4.png)

Sa

[2017-12-07 21:12] ggirard07 commented on #4171
I am currently hitting this issue with version `3.3.28`
[code]

[2017-12-07 21:14] miltoncamara opened #5989 "New IIS website for each branch"
Is possible to create a New Website in my Virtual Machine for each branch generated?

[2017-12-07 22:38] #5035 closed

[2017-12-08 00:43] FizzBuzz791 commented on #1486
I don't think either solution works anymore; I've tried the build agent variable;
![image](https://user-images.githubusercontent.com/2747764/33745615-d5aff626-dbf2-11e7-8bf2-f2b6eb6f4daf.png)
And the Agent is the most recent possible version;
![image](https://user-images.githubusercontent.com/2747764/33745773-d05adcf8-dbf3-11e7-80e1-b26a95b3da0c.png)

Any other ideas?

[2017-12-08 02:22] doggy8088 opened #5990 "Send email task failed when using Hosted Linux Preview"
## Environment
- Server - VSTS or TFS on-premises?
    - If using TFS on-premises, provide the version:

      N/A

    - If using VSTS, provide the account name, team project name, build definition name/build number:

      Account Name: `miniasp`
      Team Project Name: `TraPac_STARS`
      Release Definition Name: `TraPac_STARS CD (Docker)`
      Release Number: `Release-6`

- Agent - Hosted o

[2017-12-08 03:41] chshrikh commented on #4543
The fix will be rolled out with next deployment. Will update the thread once it is rolled out on all rings.

[2017-12-08 04:35] vincentdass commented on #4171
@ggirard07 , Can you please share the whole release log?
We retry the deployment again for ERROR_CONNECTION_TERMINATED and it should have fixed the issue.

[2017-12-08 04:51] brandmo commented on #5760
Hi there, any new on this?

[2017-12-08 05:38] sachinma commented on #5953
To clarify, 2.1.8 would be the version of the task which is independent of the version of the .Net core sdk installed on the agent machine.
If you want to use Hosted Windows based pools – then only Hosted VS2017 contains the appropriate .Net core SDK.  Hosted Linux preview pool also has the required .Net core tooling.
You can also use the new tool installer task - “.Net Core Tool Installer” which

[2017-12-08 06:13] omeshp opened #5992 "Cannot rebuild JenkinsDownloadArtifact task"
## Issue Description

While trying to rebuild JenkinsDownloadArtifacts task using `node make.js build --task JenkinsDownloadArtifacts` it fails with the below error
![image](https://user-images.githubusercontent.com/11783897/33753338-bf913e9e-dc0c-11e7-8dd6-fdaf904de472.png)

I have to do git clean -xdf before I can rebuild the task again.

[2017-12-08 09:46] hegsie commented on #5969
I tried emailing devops_tools at microsoft dot com however I just get...

Generating server: BN6PR21MB0162.namprd21.prod.outlook.com
tri@microsoft.com
Remote Server returned '< #5.7.133 smtp;550 5.7.133 RESOLVER.RST.SenderNotAuthenticatedForGroup; authentication required; Delivery restriction check failed because the sender was not authenticated when sending to this group>'

[2017-12-08 10:17] jikuma commented on #5988
#5994

[2017-12-08 10:28] nigurr commented on #5969
@hegsie we received your mail and will respond back.

[2017-12-08 10:32] nigurr commented on #5969
@darkcite Can you please add small change in your Build agent folder `(C:\BuildAgent\_work\_task\DeployVisualStudioTestAgent\xxxxx\TestAgentConfiguration.ps1)` -> https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/DeployVisualStudioTestAgent/TestAgentConfiguration.ps1#L152

This should fix the issue. If you are still facing an issue, please do share fresh DTAExecutionHost.exe logs

[2017-12-08 12:12] nigurr commented on #5684
@santoorman Can you please try running these tests using "vstest.console.exe /isolation" and check if they are passing. You can report test platform related issues in http://github.com/microsoft/vstest

[2017-12-08 12:25] PBoraMSFT commented on #5617
@jycouet - This is on our backlog, but not scheduled yet.
You can workaround by writing a task to merge the code coverage files and then publish them using the publish code coverage task.
I am closing this issue here as we don't track backlog items here.

[2017-12-08 12:25] #5617 closed

[2017-12-08 15:20] kelliejos commented on #5992
Which version of node and npm are you currently using? We have seen this error when using an unsupported node version.  Try installing node v6 and rebuilding the task. For windows machines you can use this tool to install specific versions of node: https://github.com/coreybutler/nvm-windows.

[2017-12-08 15:56] darkcite commented on #5969
@nigurr After implementing your fix situation is the following:
First execution of Deploy Test Agent task fails with:
[11_Deploy TestAgent on GASAPP01DV.log](https://github.com/Microsoft/vsts-tasks/files/1543121/11_Deploy.TestAgent.on.GASAPP01DV.log)
But if after that failure restart target machine and then try to execute Deploy Test Agent task once more - it completes successfully and tests are r

[2017-12-08 16:20] DynConcepts opened #5996 "Need a means to "Sync" target directory to source (as per minimatch) tree - AND keep the file modification timestamps"
This is needed so that there can be downstream incremental operations.  I have looked at this task and do not see a way to do so. I have looked at other tasks [OOB & Marketplace] with no luck either.

What is the recommended approach to achieving this goal???

[2017-12-08 18:09] punkouter opened #5997 "Created basic CI CD setup and getting strange error"
It builds and runs fine.

C:\Program Files\dotnet\sdk\2.0.2\Sdks\Microsoft.NET.Sdk\build\Microsoft.PackageDependencyResolution.targets (323, 5)
C:\Program Files\dotnet\sdk\2.0.2\Sdks\Microsoft.NET.Sdk\build\Microsoft.PackageDependencyResolution.targets(323,5): Error : Assets file 'd:\a\1\s\QuickApp\DAL\obj\project.assets.json' not found. Run a NuGet package restore to generate this file.

C:\Progr

[2017-12-08 21:44] Domysee commented on #2988
Is there any way to convert non-default values of image names to lowercase?
I also want to push to the latest tag, so I'd like to use `$(Build.Repository.Name):latest`.
But with this the name is not converted to lowercase and thus fails.
It is also very confusing why this happens for one case, but not the other.

[2017-12-09 02:05] omeshp commented on #5992
@kelliejos I am on node v8.7.0 and npm 5.4.2, I will try out with v6.

[2017-12-09 13:27] bryanmacfarlane commented on #5992
Even though the agent carries node 6, we should be able to build and dev with node 8+.   We should figure out the error.  All that said, were about to redo the engineering in this repo.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Omesh <notifications@github.com>
Sent: Friday, December 8, 2017 8:05:20 PM
To: Microsoft/vsts-tasks
Cc: Subscribed
Subject: Re: [Mi

[2017-12-09 16:24] to-kr commented on #5570
I have finally found the answer. I can use the **General Build Step**
[code]

[2017-12-09 16:28] shaneholder commented on #5595
Now that #5893 has been fixed, what are your thoughts on fixing this issue?  I would rather not rewrite my code to use appSettings when strongly typed choices are available.

[2017-12-09 17:09] sameeradh commented on #5975
I am stopping and starting the Web App.  But as a app service name, I am only allowed to enter one app service. Is there any facility where i can enter more than one app service in the same  task

[2017-12-10 18:33] vincentdass commented on #5566
@rsnj , any updates? Can you please answer to above questions?

[2017-12-10 22:08] ArieHein commented on #5996
use robocopy with the mirror flag and you can also set different flags for file properties

[2017-12-10 22:11] ArieHein commented on #5989
yes, I assume you want to use only one IIS server to hostall websites (for various branches)
you can either go same website name but different ports or one website with different root folders per branch.

[2017-12-10 22:13] DynConcepts commented on #5996
ArieHein - I have considered that, but have been unable to figure out how to get the functionality of "minimatch" (which is supported by the Copy Files task)....

The most common example is collecting the "/bin/{config}" portions of the "s" directory into the "a" Directory....

[2017-12-11 03:42] AHoran commented on #5729
If anyone needs a workaround...

[I spotted on here](https://github.com/NuGet/Home/issues/747) that you can set a http_proxy environment variable, and in my testing it seems to work. (restart agent after changing)

Set `http_proxy` to `http://proxy:port` see the linked post for details of authentication.

[2017-12-11 04:18] nigurr commented on #5969
Closing this issue as these are fixed in subsequent TFS releases.

[2017-12-11 04:18] #5969 closed

[2017-12-11 05:26] Ajay-MS commented on #5595
@shaneholder

I am completely with you regarding this. We will soon add soon support for variable substitution in this format.

[2017-12-11 06:09] prawalagarwal commented on #5684
@santoorman Just to be clear, /isolation does not run individual tests in isolation. It just starts the test process as a different process (outside vstest.console). If your tests are accessing each others data, then you can still encounter this issue.

[2017-12-11 06:14] prawalagarwal commented on #5854
@Poseideon Thanks for reporting the issue. If you are not using multiple agents, we recommend VsTest task over Run Functional Tests task. Please get back to us at devops_tools@micosft.comif you have any further questions.

[2017-12-11 06:14] #5854 closed

[2017-12-11 06:30] prawalagarwal commented on #5934
Thanks for reporting. Please get back to us at devops_tools@microsoft.com if you face any more issues.

[2017-12-11 06:30] #5934 closed

[2017-12-11 08:06] AjayPrasad opened #6008 "CodedUI tests[Run functional test] task on TFS on-premise getting aborted while executing on multiple build def"
## Environment
- Server - TFS on-premises?

    - Version : 14.102.25423.0

- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version:
     Windows 7

## Issue Description

Multiple different builds[for ex. 5] are queued simultaneously with the same pool of machines[for ex 3] configured to them.

Expectation : We would expect

[2017-12-11 08:45] rajatagrawal-dev commented on #5973
AzureRM 5.0 has been installed on the Hosted VS2017 agents. If you select the "Latest installed version" for the "Azure PowerShell Version" input in the Azure Powershell task, it should pick up the latest installed modules.

[2017-12-11 08:53] rajatagrawal-dev commented on #5817
The required SQL powershell modules have been installed in Hosted VS2017 agents.

[2017-12-11 09:26] dipinbehl commented on #1441
Hello @rajatagrawal-dev
If you would like to call 9 out of 10 time intermittent, then yes it is intermittent.

We tried with the timeouts as well but to no difference. It runs on a hosted agent but we tried on a private agent as well.

The dacpac is part of a CI process so, running it via command prompts was not an option. But we did try to do that also and did run into the same problem more often

[2017-12-11 10:44] penihel opened #6011 "SQL Powershell Module is not installed on your agent machine. Please follow steps given below to execute this task"
## Environment
VSTS:https://implantainformatica.visualstudio.com
Team:IMPLANTANET

## Agent: Hosted

Error on Deployment agent machine running SQL File
I Have a task in my Release definition to run a SQL File.

I Installed the PowerShell module
https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-ps-module

I checked by PowerShell and the module is really installed

But i'm getting this e

[2017-12-11 12:46] JohannesDrexler commented on #5997
missing a "dotnet restore" before the build ?

[2017-12-11 13:48] punkouter commented on #5997
I ran that on the DAL still same error. Oh well. Ill have to revisit this maybe some other day.. I was hoping it would just 'work'

[2017-12-11 14:19] ygeelen-tb opened #6012 "ASP.NET Core tasks v2"
I've used the ASP.NET Core build definition template and then switched all task version to 2.0 preview and I have 2 remarks.

The **restore** command doesn't have an Arguments parameter to specify custom options like the other 3 tasks have and like the v 1.0 tasks have.

The **publish** command has the option Zip Published Projects which zips the $(build.artifactstagingdirectory), puts the zip fil

[2017-12-11 14:35] stijnherreman commented on #5112
@bryanmacfarlane Is there a publicly tracked issue for migrating Task Groups to the new UI?

[2017-12-11 14:55] rajatagrawal-dev commented on #5817
Please reopen in case you still face this issue.

[2017-12-11 14:56] rajatagrawal-dev commented on #5973
Please reopen in case you still face this issue.

[2017-12-11 14:56] #5973 closed

[2017-12-11 16:45] vinaysandela commented on #5905
Adding to this
I am getting the same Proxy error while Cloning from VS2017. Attached

I am able to Clone from VS2015. Can someone help to fix this Proxy error. Thanks
![cloneproxyerror_commandline](https://user-images.githubusercontent.com/22040836/33842534-6933adba-de60-11e7-9635-33760abd23b9.JPG)

[2017-12-11 17:18] ggirard07 commented on #5817
do you have the agent version including it?

[2017-12-11 18:40] berndku commented on #5973
Great, thanks! Which specific version was installed ?

[2017-12-11 19:58] brcrista commented on #5997
What does your build definition look like?

If you can enable the YAML builds preview feature for your account, you can export your build definition as a YAML file and attach it to this thread.  https://docs.microsoft.com/en-us/vsts/collaborate/preview-features

[2017-12-11 20:09] brcrista commented on #5996
I'm not sure I understand what you are trying to do.  Can you give a sample directory structure before and after running this build step?

[2017-12-11 21:37] brcrista commented on #5996
It sounds like you are trying to do an incremental build.  Are you using a hosted agent or a private agent?

Hosted agents get recycled after every run, so if you are using hosted agents you will have to build clean every time.  If you need to be able to build incrementally, you will need to use a private agent and set Clean=False on the MSBuild task.  Reference: https://docs.microsoft.com/en-us/v

[2017-12-11 21:41] DynConcepts commented on #5996
Private agents [in fact it is TFS and not even VSTS, so everything is “private”]

And I am aware of the FYI. My expectation is for it to be rebuilt  (by virtue of having a task or tasks that copy the files) in an IDENTICAL fashion. Not with different modified timestamps if the timestamps of the files under the Sources (“s”) directory have not changed!

From: Brian Cristante [mailto:notifications@g

[2017-12-11 21:52] brcrista commented on #5996
What happens when you set Clean=False on the “Visual Studio Build” task?

Not cleaning will leave the ‘bin’ directories under “Sources” as they were before.  Projects with ‘bin’ output newer than the source files will not get built again; the contents of the ‘bin’ folder should get copied straight to the staging directory.  You shouldn’t need a separate task for copying these files.

From: DynConc

[2017-12-11 21:55] DynConcepts commented on #5996
You are correct that with clean=False the bin directories remain intact.  However you need to use a task to update the staging folder. Just look at a DEFAULT Visual Studio Build (specifically the next to last Task). T

[cid:image001.png@01D372A0.D9D5FD10]

From: Brian Cristante [mailto:notifications@github.com]
Sent: Monday, December 11, 2017 4:53 PM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.gi

[2017-12-11 22:39] brcrista commented on #5996
Ok, I think I get it now: you want to do an incremental build, but have all the same timestamps on the build output files as if they were just built clean.

MSBuild has a "touch" task that will update timestamps: https://docs.microsoft.com/en-us/visualstudio/msbuild/touch-task.  Set this up to run in each project on the files in the output directory after the project has been built.

Note that thi

[2017-12-11 22:42] DynConcepts commented on #5996
Brian,

No, it is the opposite. I do *NOT* want the output files “touched”.   I have the old timestamps in the source directory, and what the same timestamps in the target directory after the copy as in the source.

Digging into the task, it is the "tl.copy(...)" that is causing me problems.

[2017-12-11 22:48] brcrista commented on #5996
Ah, I agree that is odd behavior.  I will look into this more tomorrow.

[2017-12-12 02:05] DynConcepts opened #6018 "Can note reliable output any messages from powershell scripts"
Very strange...

Documentation shows usage of "Write-Host" for outputting messages...but I am running *remote* PowerShell ["PowerShell on Target Machines" task], and any usage of Write-Host causes an exception [not complete unexpected].

So I tried "Write-Verbose $message - Verbose" and I do get partial output. It appears to be an issue with the stream not being flushed properly....early messages

[2017-12-12 04:14] pan-wang commented on #5259
@buzallen ANCM logs failure to Windows Event log. You can try the method posted at http://www.c-sharpcorner.com/article/azure-app-service-troubleshoot-using-event-log/ to get the windows event log.

[2017-12-12 04:41] rajatagrawal-dev commented on #6018
Hi @DynConcepts
Can you try Write-Output and see if that causes the same behavior as well? If you have a dummy script where you face this issue, please share the script as well. You can also add a variable system.debug and set its value to true in the release definition. This will give you more detailed logs. Please check if the logs are missing here as well.

[2017-12-12 04:43] rajatagrawal-dev commented on #5883
Please reopen if you face the issue again.

[2017-12-12 05:33] vincentdass commented on #5984
@CarsonTolleshaug , thanks for reporting the issue.
Can you try selecting the required resource group and type slot as "**production**" as a workaround?

Will update the thread on the latest info, if any.

[2017-12-12 07:55] vinodjo commented on #5276
Thanks for you feedback. Currently we don't have the support to add test attachments in Publish Results Test task. I am adding this to our backlog. Unfortunately at this stage I can't provide a precise timeline on this. Would also request you to add it to the user voice so that users can up vote this feature https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services

[2017-12-12 09:05] rajatagrawal-dev commented on #5817
Hosted pools have the latest versions only. You can check it by going to the agent capabilities. I think it is 2.126.0.

[2017-12-12 10:45] DynConcepts commented on #6018
Thanks for the info... Using Write-Output caused some very interesting results. I would like to share the script and logs with you, but can not do so here [public forum]. Please send contact information to: david.corbin@dynconcepts.com and we can exchange the information there....

[2017-12-12 12:04] Mobrockers commented on #4130
We are experiencing the same issue when trying to perform an unattended upgrade to TFS2018 because of a warning about sharepoint sites and workitem migrations being returned by TfsConfig.

[2017-12-12 12:28] rajatagrawal-dev commented on #5973
AzureRM 5.0.0

[2017-12-12 13:19] hiyadav commented on #5992
@omeshp i tired building this task multiple times in node version 6 and 8 and wasn't able to repro this. Could this be some other issue ?
Do you know which changes got cleaned up when you ran git clean -xdf ?

[2017-12-12 14:07] rajatagrawal-dev commented on #6018
@DynConcepts You can mail your logs at RM_Customer_Queries@microsoft.com. We discovered some problems with Write-Output as well just a couple of hours ago. So I think the safest bet is Write-Verbose as of now. Do include the script and logs of the release when you used Write-verbose.

[2017-12-12 14:15] DynConcepts commented on #6018
SENT.

[2017-12-12 14:27] penihel commented on #6011
I got a solution. I think is a workaround

I removed the agent from deployment group, deleted the agent folder and finally i created a new agent. And Works.

Before that i tried remove the folder "C:\vstsagent\A3_work_tasks\SqlDacpacDeploymentOnMachineGroup_4b506f7f-720f-47bb-bf21-029bac6a690d\"
But nothing happens

[2017-12-12 14:41] rajatagrawal-dev commented on #6011
Hi @penihel

I'm not sure why your workaround worked. The agent is still the same and so is the task. The task just executes the Invoke-SqlCmd command from powershell, and it wasn't able to find that command before.

Earlier you just removed the task, which gets downloaded again if it is not found in the _tasks folder, or if  a newer version of the task is available. Task is just a bunch of script

[2017-12-12 14:49] hendecasyllabic commented on #4127
I am still getting this issue with a 2.117.1 agent on a windows platform
here are my debug logs
[debuglog.txt](https://github.com/Microsoft/vsts-tasks/files/1551914/debuglog.txt)

zip size: 47.6 MB

[2017-12-12 15:00] kristoferreierson commented on #5972
You are writing the results to $(System.DefaultWorkingDirectory)\build.  My repo has a folder called $(System.DefaultWorkingDirectory)/build.  Can you write/read the results from $(Build.ArtifactStagingDirectory)/TestResults?

[2017-12-12 15:32] madhurig commented on #5972
@kristoferreierson : What version of TFS are you using? Can you provide the version of the Xcode task?

[2017-12-12 16:14] kratkaericd commented on #5973
Excellent! Thank you for the quick turnaround!

[2017-12-12 16:31] kristoferreierson commented on #5972
XCode task: 4.*
Agent: 2.124.0

There is another more serious bug.  If any of the unit tests fail, the task doesn't upload the results to TFS.  Looking at the code, in xcode.ts, my guess is that this:

        //--- Xcode Build ---
        await xcb.exec();

Is throwing an exception because xcodebuild returns a non-zero exit code.  This prevents the block in:
 // Test Publishing
From running.

If

[2017-12-12 18:02] penihel commented on #6011
hi @rajatagrawal-dev

The agente dont realized that i removed the "C:\vstsagent\A3_work_tasks\SqlDacpacDeploymentOnMachineGroup_4b506f7f-720f-47bb-bf21-029bac6a690d" and do not recreated a new. Just still showing the same error mesage.

When i created a new agente (A4 folder). Worked in A4. But dont in A3.

[2017-12-12 18:03] pauldalyii commented on #4830
Ok, thank you!

[2017-12-12 19:31] brcrista commented on #5996
I investigated this and the current behavior of the Copy Files task is by design.  We will note the feature request for a task that can run arbitrary commands with minimatch-style globbing.  For current releases, the way to achieve this is "the long way" -- writing a CMD / PowerShell script to find the 'bin' directories and using Robocopy to copy the files.

[2017-12-12 20:45] pwaller24 opened #6029 "ManageIISWebApplication failing"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
VSTS
    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:
p2vsts.visualstudio.com
P2 Por

[2017-12-12 20:56] #5996 closed

[2017-12-13 00:21] Tarig0 commented on #2126
Does anyone know if we can have dotnet test publish failed tests as well? When I try the Donavan link it just fails the build

[2017-12-13 04:44] vincentdass commented on #4127
@hendecasyllabic , thanks for reporting the issue.
To unblock, can you try any of the following workarounds?
 - Provide the extracted package path as input for App Service Deploy task
 - Use Post Deployment script feature to install app dependencies.

              - Create a zip/folder that contains only core app content. (without node_modules)
              - Run **npm install** from post deploy

[2017-12-13 04:55] rajatagrawal-dev commented on #6029
Please see if the solutions posted [here](https://stackoverflow.com/questions/5615296/cannot-read-configuration-file-due-to-insufficient-permissions) help you.

[2017-12-13 04:59] nigurr commented on #6008
Hi,

Currently we don't support running same machines against multiple build definitions.
Please share your ideas/feature requests here@ https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services

[2017-12-13 04:59] #6008 closed

[2017-12-13 05:02] rajatagrawal-dev commented on #6011
@penihel If the agent in your A3 folder is not configured(i.e. it not part of the deployment group or os offline), then the task will not be downloaded into it. You can try to configure the agent in A3 by running .\config.cmd --deploymentgroup --deploymentgroupname "{deploymentGroupName}" --agent $env:COMPUTERNAME --runasservice --work '_work' --url 'https://implantainformatica.visualstudio.com' -

[2017-12-13 06:33] Ajay-MS commented on #5595
@shaneholder

Here's the PR for supporting above mentioned format in XML variable substitution - https://github.com/Microsoft/vsts-tasks/pull/6024

You can also review and validate it.

[2017-12-13 07:34] prawalagarwal commented on #5981
@sramssh Thank you for reaching out. Please send us your logs to devops_tools@microsoft.com with system.debug set as 'true' and we will help you resolve the issue.

[2017-12-13 08:29] rajatagrawal-dev commented on #6018
Hi @DynConcepts
You described 2 problems:
1. Logs did not come in correct order
2. Verbose logs were missing

Both of these are valid problems and have corresponding bugs filed which are being tracked.
For the first issue, the reason I believe is that we flush the streams one-by-one and so the logs appear in that order too. Apparently stream redirection does not work either. We'll try to fix it in

[2017-12-13 09:38] hendecasyllabic commented on #4127
I have currently got it working using the extract file work around. I might try the post deployment script as it might be faster. thanks.

[2017-12-13 09:58] vip32 commented on #3787
Agents are not available under Options anymore?

[2017-12-13 09:59] vip32 commented on #3787
ah, moved to 'Process'

![image](https://user-images.githubusercontent.com/164303/33932994-c10d6c5c-dff4-11e7-837e-c0f181e6dd4c.png)

[2017-12-13 11:26] DynConcepts opened #6036 "Build only ONE Project (with dependencies) in a Solution"
I have a solution with 80 projects. Point to the solution and it will build them all....so far so good.

But one project is a WebApp and needs to end up in a _PublishedWebSites ("p:outdir=...").

If I pass that MsBuild parameter at the Solution level, all of the others are "merged" rather than properly in their own bin...

So my thought was to pass the .csproj directly.... But it will not build as

[2017-12-13 12:03] AjayPrasad opened #6037 "Unable to achieve Distributed runs in RFT step of TFS on-premise"
## Environment
- Server - TFS on-premises

    Version : 14.102.25423.0

- Agent - Private

    - OS of the Machine running agent : Windows NT
    - Agent Version : 1.95.3

## Issue Description
I'm seeing 2 issues while trying to do concurrent runs/parallel runs in TFS 2015 on-premise

1. When pool of machines are given to a particular build definition with 1 test assembly, CodedUI tests
    insid

[2017-12-13 12:03] StefanSchoof commented on #5932
I had to run a integration test, that requires username and password. Therefore I created a local runsettings file, which I no committed to git. Since I only need these I first tried without a runsettings, but this not work. Then I added a empty runsettings, because I do not want the username and password in git and someone accidentally add there a real User. But this also does not work, so I add

[2017-12-13 13:28] omeshp commented on #5992
@hiyadav I just tried it with cloning the repo from scratch with below commands and it is reproducing
[logs.txt](https://github.com/Microsoft/vsts-tasks/files/1555609/logs.txt)

Here is the output of git status:
C:\random\vsts-tasks>git status
On branch master
Your branch is up-to-date with 'origin/master'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed

[2017-12-13 14:13] ggirard07 commented on #4171
I just got one, how can i share the logs? I just don't have the system.debug enabled on that release...

[2017-12-13 15:51] vincentdass commented on #4171
@ggirard07 , share the current release log here. (copy-paste is also preferable).

[2017-12-13 15:52] penihel commented on #6011
Hi.
My A3 is was configured.
But now my problem is resolved, and everything is working on A4. I suspect something about user permissions. Because in A3 was working until a server reboot. After reboot the A3 started with this problem.

My another suspect is something about Cache, due the folder removed dont change the message error, and dont trigger a new download.

Anyway, as I have already sort o

[2017-12-13 17:57] jbaumbach opened #6039 "Microsoft.NETCore.Targets 1.0.2 is not compatible with UAP,Version=v10.0.14393"
## Have you try trouble shooting doc?
YES

## Agent version and platform
2.126.0 running on VSTS server

### OS of the machine running the agent? OSX/Windows/Linux...
Appears to be windows

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? http://nliven-webpurchasing.visualstudio.com

## What's not working?
I upgraded our UWP app to use Microsoft.NETCore.Un

[2017-12-13 20:16] erikrenberg opened #6040 "NPM delays latest LTS with update notifier"
We're using TFS 2017 Update 2 on premises, and we have builds that use NPM tasks. We've noticed two 3 minute+ delays in each NPM task in our builds. The builds do work, but of course take unnecessarily long.

_What is causing these delays? Is it a bug in the node vsts-task, the vsts-agent, or in Node that is causing node to not terminate correctly?_

More info:
* We've tried updating the vsts-agen

[2017-12-14 00:54] jbaumbach commented on #6039
I tried a few more things.  I checked the "Continue on error" box so the next step (the build) would start.  The build didn't work because there was an error saying the version of UWP I was using was not compatible with msbuild version 14.

After more googling, it looks like that's the version that came with Visual Studio 2015.  I'm on 2017, so... that's not right.

After more googling, apparently

[2017-12-14 01:55] jbaumbach commented on #6039
As an experiment, I found the missing file on my local dev system and added the directory to a /lib folder in the project.  Still complies locally fine.  After checking pushing the code to VSTS, now this bizarre error:

```d:\a\1\s\projectdir\lib\MSWinXaml\v15.0\Microsoft.Windows.UI.Xaml.Common.targets(6,18): error MSB4086: A numeric comparison was attempted on "$(TargetPlatformMinVersion)" that e

[2017-12-14 03:15] ericsciple commented on #3455
https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-phases.md#output-variables

[2017-12-14 09:40] prawalagarwal commented on #5981
@sramssh I noticed that your ticket was not closed on developer community and CSS is still working on it. They will reach out to you. Please re open this issue if it is not resolved there.

[2017-12-14 09:40] #5981 closed

[2017-12-14 09:44] prawalagarwal commented on #5949
@KyoofuTest Thanks for reaching out. We are looking at the issue and will update this thread soon.

[2017-12-14 11:25] DynConcepts opened #6042 "Failing PowerShell on Remote Machine task based on exit codes"
I can not find a way to have a the PowerShell on Remote Machine Task Fail the Step (and thus Build or Release) based on the exit conditions of the remote PS script...

Attempting to determine if this is a limitation or just obscurity of documentation [at 30+ minutes of web searching revealed nothing concrete]

NOTE: This happens to be in a TFS-2017 RTM environment.

[2017-12-14 11:50] miltoncamara commented on #5989
Hello @ArieHein yes, is it, for each branch I create, once I finish the development, a new website will be created in my IIS, with a new address, and then released for the QA team to test! But I did not want to create a new release with each new branch .... I would like maybe a Powershell that would do it for me ...

[2017-12-14 13:29] rajatagrawal-dev commented on #6011
Thanks @penihel for the info and helping to investigate. Please reopen if you face this issue again.

[2017-12-14 13:29] #6011 closed

[2017-12-14 13:29] #5975 closed

[2017-12-14 13:51] ian-a-anderson opened #6043 "Download Build Artifacts (Preview) - System.DefaultWorkingDirectory not cleared on release if "Skip download of artifacts" checked for agent phase"
## Environment
- Server - VSTS
- Agent - Private: Windows Server 2016 Datacenter

## Issue Description

We have a release definition that is using the new [Download Build Artifacts (Preview)](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/DownloadBuildArtifacts) task to selectively download a single folder of a larger linked artifact. In order to avoid downloading the full artifact list

[2017-12-14 13:59] bojanmisic commented on #5885
Seems that this is no longer an issue, it works now without the "hack".

[2017-12-14 15:35] Onefox commented on #2146
@igorguga  i have the same problem

[2017-12-14 20:30] awentzel commented on #5929
There appears to be a commonality between FTP issues and Azure Deploy issues which points to possibly a Publisher.  Who is actively investigating the FTP / Azure Deploy issue?  Please provide status?

**Some additional details from Suwat B:**
We picked a few incidents and looked at the server-side log (\\suwatchhv3\public\fluentweb_ftp.log).   The failure happened when FTP server tried to handle t

[2017-12-14 20:33] brcrista commented on #6036
This sounds like an MSBuild question, not a VSTS tasks issue.  I suggest you ask this question on Stack Overflow or a similar forum.

If you can run an MSBuild command line locally that does what you want and for some reason it doesn't work on TFS / VSTS, then it is a VSTS problem.

[2017-12-14 20:33] #6036 closed

[2017-12-14 20:38] brcrista commented on #6039
First guess is an SDK version mismatch between what is installed on your dev box and what is installed on the agent.

I am guessing you are using the plain-old "hosted" agent.  Do you still get the error if you change the agent queue to "Hosted VS2017?"

[2017-12-14 20:47] DynConcepts commented on #6036
Very much depends on perspective. The name of the task is "Visual Studio Build" as a result, the expectation is to do the same operations that can be done from within Visual Studio.

Technically *ALL* of the builds are MsBuild as that is the underlying platform and using the general MsBuild task makes sense for things that *cannot* be done within Visual Studio.

[2017-12-14 20:55] jbaumbach commented on #6039
Yeah I switched the agent queue  to VS2017.  There were two places to do
it, so I did it in both.

I feel something isn't installed correctly on the server if that directory
is missing.  Reasonable?

On Thu, Dec 14, 2017 at 12:38 PM, Brian Cristante <notifications@github.com>
wrote:

--
John Baumbach

[2017-12-14 20:55] NickHarvey2 opened #6044 "Missing code coverage report file"
## Environment
We are using TFS on-prem, version 15.117.26714.0 on Windows Server 2012 R2, and visual studio test agent version 15.5.27130.2003

## Issue Description
When running our tests remotely using the [Run Functional Tests Task](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/RunDistributedTests), with code coverage enabled, the coverage is calculated and visible within TFS, but t

[2017-12-14 21:15] brcrista commented on #6039
Ok, so you set the build agent queue to "Hosted VS2017" under "Process" and chose "Visual Studio 2017" as the version in the "Visual Studio Build" task.  (I grant that this is confusing, but it is correct.  See https://docs.microsoft.com/en-us/vsts/build-release/tasks/build/visual-studio-build).

Just to make sure I understand the scenario: when you say you "upgraded" your UWP app, are you porting

[2017-12-14 21:16] brcrista commented on #6039
I guess I should say, what do you mean by "I upgraded our UWP app to use Microsoft.NETCore.UniversalWindowsPlatform?"

[2017-12-14 21:19] jbaumbach commented on #6039
Right, that was a little vague.  No, it's always been a Windows 10 UWP application. I noticed there was an update available in Nuget to the package "Microsoft.NETCore.UniversalWindowPlatform" so I updated that to version v6.0.4.

[2017-12-14 21:24] brcrista commented on #6039
Thanks.  And what version were you on before?  Once I know that I will try to repro.

[2017-12-14 21:56] bryanmacfarlane commented on #6036
Anything you want to automate via CI needs to be able to run via the command line which is msbuild.  It's called VS build because it finds the correct msbuild to invoke in context of the visual studio version you select.

[2017-12-14 21:59] jbaumbach commented on #6039
We were on "Microsoft.NETCore.UniversalWindowsPlatform": "5.1.0" before.

[2017-12-14 22:21] DynConcepts commented on #6036
[Privately]

Brian,

If *all* it did was find the correct msBuild, then that would be one thing…

But that is not *all* it does. It takes a Solution, Configuration, Platform, The Ability to Clean……

What it does not support is picking a project within the solution.

So the only way (that I can think of) to use the MsBuild task is to re-engineer all of the capabilities of the VS Build task,,, then

[2017-12-14 23:13] bryanmacfarlane commented on #5921
The android signing task uses the node handler.  The node handler maps to node 6.x which the agent carries.  The agent will never run this task with node 8.  When we support node 8 for tasks, it will be a node 8 handler and the agent will map it properly.

[2017-12-14 23:13] #5921 closed

[2017-12-14 23:14] bryanmacfarlane commented on #6040
That's npm which has the delays (not the task).  You should try and repro with the command line task invoking the exact cli to rule out the task

[2017-12-14 23:18] bryanmacfarlane commented on #5990
send email task is not a task in this repo

[2017-12-14 23:18] #5990 closed

[2017-12-14 23:19] bryanmacfarlane commented on #6042
I think this needs more details and repro steps.

[2017-12-14 23:21] bryanmacfarlane commented on #6037
Can you clarify what you mean by "RFT step"?

[2017-12-15 00:33] rosstified opened #6045 "Task: Download Build Artifacts - No longer respecting proxy settings."
## Environment
VSTS (cpaaustralia.visualstudio.com)

- Agent - Private:
  From the output:
    - 	[AGENT_VERSION] --> [2.124.0]
    -  [AGENT_OS] --> [Windows_NT]

## Issue Description
The Download build artifacts does not respect the proxy settings of the agent. It was until yesterday. Appears there have been some changes made recently to the task which may have caused the issue? Unsure.

Confirm

[2017-12-15 00:54] DynConcepts commented on #6042
Just create a simple PS1 file with an "exit 1". The step passes.

[2017-12-15 01:17] doggy8088 commented on #5990
@bryanmacfarlane Do you have any "Send email" related task?

[2017-12-15 02:42] rosstified commented on #6045
As a work around - we've verified adding the HTTP_PROXY and HTTPS_PROXY as environment variables as a work around has allowed us to continue to work, but we've needed to make this to all build and deployment agents.

[2017-12-15 02:57] omeshp commented on #6045
Thanks for reporting the issue  @rosstified, I will have a look at it today.

[2017-12-15 03:09] omeshp commented on #6043
We don't cleanup up $(System.ArtifactsDirectory) since the task can be used multiple times to download different artifacts into artifacts directory. What you are looking for is downloading partial artifacts feature in release, work for it is underway and should be available soon. Having an option to clean directory might help to then.

[2017-12-15 03:10] bryanmacfarlane commented on #6043
it could be part of job level cleanup.  we support tasks having wrapper scripts (pre / post job)

[2017-12-15 03:18] Tadimsky commented on #5537
Any update on this? I just hit this issue too and couldn't figure out what was happening.
I ended up having to disable compression from the PublishProfile by removing:
         `-  <CopyPackageParameters CompressPackage="true" />`

[2017-12-15 04:22] acesiddhu commented on #6037
@bryanmacfarlane RFT is Run functional test task.

[2017-12-15 06:04] PBoraMSFT commented on #5854
@Poseideon - correcting the email address in the previous response. You can reach us at
DevOps_tools AT microsoft DOT com.

[2017-12-15 06:31] praga opened #6048 "Gulp task with argument containing the word "version" failing"
## Environment
- Server - VSTS

- Agent - Hosted

    - Hosted VS2017

## Issue Description

Gulp tasks with argument containing the term "version" don't seem to run at all. The same build with same source code and same arguments worked fine few days ago.

### Error logs
This is the output with arguments
2017-12-15T05:26:33.0436184Z [command]C:\npm\prefix\gulp.cmd build --gulpfile d:\a\1\s\gulpfil

[2017-12-15 08:12] rajatagrawal-dev commented on #6042
@DynConcepts
If you execute exit 1 locally, it just exits the process without throwing any error. "exit" statements only set the exit codes which you can get by using the variable $LastExitCode. They don't give any error and are not considered failure statements.
To actually make the script throw an error, you should use Write-Error or throw statements. "throw" statements actually set the exit cod

[2017-12-15 08:41] prawalagarwal commented on #6037
@AjayPrasad Thanks for reaching out. RFT does not parallelize at assembly level. You need to split your tests in multiple assemblies if you wish to run these tests in parallel. There have been a lot of changes since TFS 2015 and we no longer recommend using RFT task starting TFS 2018.

TFS 2018 introduced different batching options and VsTest task V2 can now be used in place of RFT.

For your seco

[2017-12-15 10:11] AjayPrasad commented on #6037
Thanks @prawalagarwal for the info.

yes, on the second issue i meant Agent pool.

[2017-12-15 10:29] DynConcepts commented on #6042
That is going to be a problem. In this scenario we are executing *pre-existing* scripts on the target machine. Modification of these scripts is not in scope, neither is deploying additional material directly to the machine (the existing scripts "pull" content that originated in a build).

Is there any way to back propagate $LastExitCode back into the agent "context" so that it can be checked?

[2017-12-15 11:42] viral7chauhan commented on #5885
Yes! Thanks for update.

[2017-12-15 12:31] ian-a-anderson commented on #6043
I can understand why the Task itself doesn't perform cleanup automatically, for the reasons @omeshp  mentioned. It's just confusing that cleanup is tied to the "Skip artifact download" checkbox since checking that box is one of the main use-cases for this task (selectively pulling partial artifacts). I have a workaround for this by adding a Delete Files task at the beginning of my job, but that se

[2017-12-15 12:38] rajatagrawal-dev commented on #5929
@awentzel
For the App Service task issue, due to your package to be deployed being very big, the requests were timing out (as there is limited support for Linux apps with built-in images) and I believe you moved towards trying out cURL and ZipDeploy as a workaround. As you are facing an issue with that as well, you can get in contact with @vincentdass for updates on that.
I'll leave the handling o

[2017-12-15 12:53] rajatagrawal-dev commented on #6042
I am not sure I understand your scenario completely. If you are using Powershell on Target Machines task, you must be specifying one main script to be executed. Can't you create a powershell script that calls the current main script which you are executing and make this new script your main script? In this way you can access your error code in the new main script.

[2017-12-15 13:06] DynConcepts commented on #6042
I must specify an existing and unaltered script on the target. If I follow your suggestion, the PowerShell script that I create would have to be deployed (I did not se an option for inline script)

[2017-12-15 13:23] erikrenberg commented on #6040
Thanks, yes, it looks like NPM is delaying for some reason _when using the NPM task_ (I forgot to include above that the NPM task I use is version 0.2.22).

As you suggested, I just tried a **command line task** to call NPM directly, and then the whole tasks takes 9 seconds (**no delay**).  Here's that log file:

[2017-12-15 15:02] omeshp commented on #6045
@rosstified We have fixed the task to work with proxy, can you confirm that you are not facing this issue anymore?

[2017-12-15 21:11] kohlikohl commented on #3027
@nigurr We would also be interested in this feature.

[2017-12-15 21:32] html5SharePoint opened #6051 "Custom tasks are getting created without name and when included in Release then releases are getting failed."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises? TFS

    - If using TFS on-premises, provide the version: TFS 2015 update 3

    - If using VSTS, provide the account name, team project name, build definition name/build number:

- Agent - H

[2017-12-15 21:50] juniinacio opened #6052 "Cannot pass xml in the Override Template Parameters setting for Azure Resource Group Deployment"
I have every combination i could think of but without any success, some examples:
-licenseXml $(licenseXml)
-licenseXml ("{0}" -f $(licenseXml))
-licenseXml "$(licenseXml)"

De contents of the licenseXml variables a read in via PowerShell using the following script in vsts:
$licenseXml = Get-Content -Raw -Encoding UTF8 -Path $licenseXmlPath | Out-String
Write-Output ("##vso[task.setvariable variab

[2017-12-15 23:15] rsnj commented on #5566
@vincentdass we haven't been experiencing this issue lately. Things have been running much smoother.
Our staging slot is in the same App Service Plan in the same region.
It is a Windows app

[2017-12-15 23:49] mikemaat commented on #1233
Has the status of this changed or are we still suggested to use `Azure App Service Manage Task` to **Stop**, then `Azure App Service Deploy `to **deploy**, then `Azure App Service Manage Task` to **Start** again

[2017-12-15 23:53] dbreshears commented on #5537
There is a PR out right now for this https://github.com/Microsoft/vsts-tasks/pull/5962

[2017-12-16 01:38] chadwackerman commented on #3762
Yet another one of those amazing GitHub threads that pops up when you Google some absurd issue with the buggy Visual-Studio-Of-The-Week drop.

@alexmullans self-assigns the bug, closes it *before* a fix is shipped, and here it sits for months.

See this over and over in Microsoft's absurd use of GitHub. Stop it!

[2017-12-16 13:59] bryanmacfarlane commented on #6048
Can't repro.  Are you sure it isn't something specific to your gulfile.js file?

Can you include a small repro with a gulpfile.js included (doesn't have to be yours) with the task inputs that repros the behavior?

[2017-12-16 14:02] bryanmacfarlane commented on #5997
This doesn't look like a CI or task issue - it looks like your build and nuget is outputting an error and the task is correctly reporting it.  There's an ask for more details above.  Need more info to repro.

[2017-12-16 14:06] bryanmacfarlane commented on #6039
Note that if you pick the Hosted VS 2017 queue, there's no need to select it in the msbuild task.  The default input of "latest" will be fine.

I don't believe this is a task issue.  It's running msbuild and reporting the error correctly.  I agree it's likely a mismatch between local tools installed and what's installed on the convenient hosted image.

As a troubleshooting step, you can create a p

[2017-12-16 14:09] bryanmacfarlane commented on #6051
This isn't an issue with the tasks in this repo which is what this repo is for.

https://github.com/Microsoft/vsts-tasks/tree/master/Tasks

If you're having an issue with the RM web UI designer, you can create an issue developer community.

[2017-12-16 14:09] #6051 closed

[2017-12-16 14:14] bryanmacfarlane commented on #5876
Not an issue with one of the tasks in this repo (what the issues are tracking):  https://github.com/Microsoft/vsts-tasks/tree/master/Tasks

If you're having an issue with the service, you can create something at developer community.

[2017-12-16 14:15] praga commented on #6048
I re-queued a successful build (a build from a different repo with no changes which ran fine few weeks ago) and that failed as well. I will double check my gulp file and arguments again and try to create a repo to reproduce this.

[2017-12-16 14:18] bryanmacfarlane commented on #3289
please create an issue in the vsts-agent repro.  not an issue with one of the tasks in this repo ..

[2017-12-16 14:18] #3289 closed

[2017-12-16 15:00] wasabii commented on #5932
So, I don't pull settings from TestContext directly: instead I set up Microsoft.Extensions.Configuration to parse all the available values in it, and inject them into the container. So I tried them as a normal source of configuration values.

Having to specify them all explicitly simply becomes a burden. I would rather leave it up to the build on what it wants to set. I have large sets of settings

[2017-12-16 21:31] madhurig commented on #5929
This issue was root caused to an FTP server side issue in Azure. A fix is being deployed by the Azure team.

Thanks,
Madhuri

[2017-12-16 21:31] #5929 closed

[2017-12-16 22:33] madhurig commented on #2986
We are moving to a monthly cadence with image updates which alleviates this problem partly, we don't plan to add a feature in the Gradle task.

[2017-12-16 22:33] #2986 closed

[2017-12-16 22:48] madhurig commented on #4044
Closing since we believe the latest version of the Jenkins tfs plugin has a fix. Please open a new issue if you see errors with the new version of the Jenkins tfs plugin.

Thanks,
Madhuri

[2017-12-16 22:48] #4044 closed

[2017-12-17 02:14] edrohler commented on #4416
I am experiencing this same issue as of today, 12/16/2017. I was using ftps and switched back to ftp to see if it works differently not using ftps.

[2017-12-17 08:18] vincentdass commented on #1233
@mikemaat , there is no change. As you said, the recommended way is to use Manage task for start/stop action and Deploy task for deployment.

[2017-12-17 08:20] vincentdass commented on #5566
@rsnj , thanks for the info.
We are in process of adding warm-up logic (ping both the slots) and reduce the auth token calls count.
This can help in adding more reliability.
#6001

[2017-12-17 08:25] drorwolmer commented on #2873
The full error log is
[code]

I read https://github.com/Microsoft/vsts-agent/blob/master/src/Agent.Worker/TestResults/JunitResultReader.cs and implemented:

[code]

works great!

[2017-12-17 22:16] dei79 opened #6054 "Azure App Service Deployment: ARM aborts sometimes with error 500"
## Environment
VSTS: I'm using a VSTS tenant, account name , team project etc. can be shared in private.
Agent: Using a private agent running on Ubuntu Linux in a Docker Container (official image). Agent version  is 2.124.0.

## Issue Description
From time to time the Azure App Service Deployment task ends up with error 500 when deploying via Kudu RestAPI. The task is using "Take App Offline" to p

[2017-12-17 22:46] #5885 closed

[2017-12-17 22:47] madhurig commented on #5719
Closing this issue since this is expected behavior. Let us know if you have trouble getting the "plist" option to work.

[2017-12-17 22:47] #5719 closed

[2017-12-17 22:57] madhurig commented on #5978
We hope to have it in the next feature update of TFS 2018. Thanks!

[2017-12-17 22:59] madhurig commented on #5845
Fixed in commit 955620487dd557b15642348da99bb62fefa3592c

[2017-12-17 22:59] #5845 closed

[2017-12-17 23:04] madhurig commented on #5738
A fix for this issue (7cf7ed1d4a14fbb7af30a6b5738fc93a5fc15a4c) has been deployed to all accounts in VSTS. Please let us know if you still see a problem.

[2017-12-17 23:04] #5738 closed

[2017-12-17 23:09] madhurig commented on #4519
This is by design. If gradles return a non-zero return code but writes the errors as warnings, we fail the build. We don't do any special processing of the output since we want the build system to be transparent.

[2017-12-17 23:09] #4519 closed

[2017-12-17 23:49] kevindaub commented on #4519
But gradle is returning 0. The issue only presents itself if there are
things written to the error stream (e.g. maven package doesnt exist prior
to publishing, deprecated java features). The issue seems to be that those
items fail the build not the error code. Maybe this is resolved in a later
version (I hope).

On Sun, Dec 17, 2017 at 6:09 PM Madhuri Gummalla <notifications@github.com>
wrote:

--

[2017-12-18 00:03] kevindaub commented on #4519
The version was 1.0.28 that I am using

[2017-12-18 01:07] praga commented on #6048
@bryanmacfarlane I managed to replicate the issue. I initially thought it was to do with the arguments, however, after more investigation, it happens only if you have an environmental variable called "version". This used to work before, so I do not know what has changed.

[2017-12-18 02:58] rosstified commented on #6045
Thanks @omeshp let me get out team to try it on one of the servers and try again. Any specific we need to do or will task always download? (i.e. need to restart the agent or anything?)

[2017-12-18 05:04] prawalagarwal commented on #5684
Closing this. Please feel free to reopen if you have further questions or your issue is not resolved.

[2017-12-18 05:04] #5684 closed

[2017-12-18 05:19] hiyadav commented on #5992
Hey @omeshp,
Yeah i get it now, i had disabled creation of package-loc.json, hence the issue was not occuring for me.
For now can you trying doing so ? => npm config set package-lock false
I'll meanwhile figure how to resolve it permanently.

[2017-12-18 05:39] Ajay-MS commented on #5595
Closing this issue as we have fixed it in master. It will be available with next deployment approx 4 weeks from now.

[2017-12-18 05:41] nigurr commented on #3027
Hi,

Please suggest/vote for this at https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services
We appreciate your feedback and please do consider that we prioritize based on feedback

[2017-12-18 05:46] nigurr commented on #6044
@NickHarvey2 Run Functional Test [RFT] task runs on different machines and they publish the TRX/coverage files to Test run from those machines.
So these files don't present in the build agent machine.

We suggest you following solution
1. After RFT task, please write powershell script to get Test run attachments against current build
2. Download the attachments to specific folder in Build agent ma

[2017-12-18 05:46] #6044 closed

[2017-12-18 06:09] vincentdass commented on #6054
@dei79 , is the release passing after a retry attempt?
Is the error code always 500?

[2017-12-18 06:28] rajatagrawal-dev commented on #6042
True. I do not see how we'll be able to read a variable from target machine without doing something on the target machine. I would have suggested deployment groups feature to you as well which would have allowed you to execute normal powershell task (with inline script support) on the server, but we don't have that feature in TFS 2017 and even that would require installing a deployment agent on th

[2017-12-18 07:27] prawalagarwal commented on #6037
@AjayPrasad Please use different pools with different set of machines. Using different pools with same machines and same pool may cause aborts. Please reopen if you have further queries.

[2017-12-18 07:27] #6037 closed

[2017-12-18 07:41] dei79 commented on #6054
@vincentdass yes when I retry the build it's working. Normally what happens:

* Several builds in a row a re working good
* When my page is in operation for a couple hours the first build fails and the 2nd is going through

And yes the error is always 500 and I have the symptom at all Azure App Services on different Service Plans

[2017-12-18 08:05] vincentdass commented on #6054
@dei79 , Can you please share the deployment template to `RM_CUSTOMER_QUERIES@MICROSOFT.COM` ?
Also set variable `system.debug` to `true` in your release defintion and share the logs from the new release.

[2017-12-18 08:16] rajatagrawal-dev commented on #6018
Closing this as it will be treated as enhancement and worked upon later.

[2017-12-18 08:16] #6018 closed

[2017-12-18 08:27] AjayPrasad commented on #6037
@prawalagarwal Can you suggest me best way to achieve Concurrent runs in TFS 2015 along with documentation if you have.

[2017-12-18 09:05] JohannesDrexler opened #6055 "VSTest: Publish fails if '[' or ']' are used in run title,"
## Environment
- Server - VSTS or TFS on-premises?

    VSTS

- Agent - Hosted or Private:

    Private agent, windowsServer 2016, agent version: 2.126.0

## Issue Description

If the title of a test run contains '[' or ']' or both VSTest-Task will not publish the results and write the following warning: "Failed to publish test results: The given path's format is not supported.".
When i set system

[2017-12-18 09:35] prawalagarwal commented on #6037
@AjayPrasad RFT is the only way for TFS 2015.

[2017-12-18 09:36] rosstified commented on #6045
@omeshp confirmed with the team today that this resolved the need for the proxy setting, and we're back in action. Thanks for the quick resolution

[2017-12-18 09:36] #6045 closed

[2017-12-18 09:53] omeshp commented on #6045
@rosstified Thanks! for confirmation.

[2017-12-18 10:06] dan0131 opened #6057 "Xamarin.iOS task failed with error Error: /Library/Frameworks/Mono.framework/Versions/Current/Commands/xbuild failed with return code: 1."
## Environment
VSTS
buildNo :- 20171218.7

Agent :- Hosted macOS Preview

## Issue Description

When I try to build a xamarin IOS project in VSTS I am getting the following error.  Xamarin.iOS task failed with error Error: /Library/Frameworks/Mono.framework/Versions/Current/Commands/xbuild failed with return code:
I followed this tutorial :- https://docs.microsoft.com/en-us/vsts/build-release/apps

[2017-12-18 10:16] AjayPrasad commented on #6037
@prawalagarwal What are the options do i have if i upgrade TFS to latest versions?
My requirement is to execute builds in parallel on the machines i have in my lab. These builds should automatically pick the idle machine from the pool and start executing tests on it.

[2017-12-18 10:25] DynConcepts commented on #6018
Since this issues is closed, it loos like a Support ticket will need to be generated as the client needs a working solution for TFS-2017 RTM

[2017-12-18 10:49] DynConcepts commented on #6042
Not talking about a variable in genereal, but an exit code specifically... I believe the following should work at the lower level:

$result=invoke-command -computer PC2 -credential $cred -scriptblock { ...} -argumentlist '...'
$result

But what is missing (or at least I am missing it) is the ability to make use of that return code when using the "PowerShell on Remote" Task....

This issue is compo

[2017-12-18 11:00] madhurig commented on #4519
What version of the agent and what version of Gradle are you running? We don't see this in our builds and I haven't heard from customers of VSTS. As you mentioned it is possible that newer versions of TFS and VSTS don't have this issue.

Thanks,
Madhuri

[2017-12-18 11:07] madhurig commented on #6057
@dan0131: The error indicates you haven't provided an iOS signing certificate (.p12). You can use the "Install Apple Certificate" task to install this prior to running Xamarin iOS task.

Thanks,
Madhuri

[2017-12-18 11:12] madhurig commented on #4416
@edrohler: The Azure team was able to detect a server side issue which I believe you are encountering too. They are working on rolling out a fix.

[2017-12-18 11:12] jensf-sidious commented on #6057
Hey @madhurig, I have the same issue. I provided a valid signing certificate (works on local mac too) but the error still exists.

[2017-12-18 11:41] madhurig commented on #6057
Can you provide debug logs from your build to help investigate? You can email them to me - madhurig at microsoft.com.

[2017-12-18 11:50] madhurig commented on #5972
@kristoferreierson: I am working on a fix to publish test results when the test run fails. Thanks for reporting this. I am surprised we didn't find it and no one reported it till now.

Regarding the issue of test results not being uploaded on success, we look for test results in the "Working Directory". By default, it is under the sources directory. Can you share the full debug log from your build

[2017-12-18 12:24] jensf-sidious commented on #6057
@madhurig I will, thx for your support.

[2017-12-18 13:10] kant2002 opened #6059 "Make Cordova application build in VSTS"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS and likely TFS on-premises due to nature of error.
Account: codevision.visualstudio.com
Team Project: SmsRequest
Build definition: SmsRequest-Cordova-VSTS-issue

- Agent - Hosted or Private:
Could be reproduced

[2017-12-18 13:26] Blackbaud-TommyVernieri commented on #3027
Direct link to a relevant User Voice item: https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/15926806-code-coverage-report-on-build-should-not-strip-sty

[2017-12-18 14:38] jensf-sidious commented on #6057
By the way, I followed Jame's tutorial ([https://blog.xamarin.com/continuous-integration-for-ios-apps-with-visual-studio-team-services/](https://blog.xamarin.com/continuous-integration-for-ios-apps-with-visual-studio-team-services/)) and used an onpremise macbook as a build agent and it worked like a charm with the same certificate and provisioning profile which I provided to the hosted macOS buil

[2017-12-18 16:18] aphilpotts commented on #1252
I am seeing something like this too, here full error message:

Test run will use DLL(s) built for framework .NETFramework,Version=v4.5 and platform X64. Following DLL(s) do not match framework/platform settings.
LI.WebServer.UnitTest.dll is built for Framework 4.6.2 and Platform X64.

The command line I use is:

"C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\CommonEx

[2017-12-18 16:20] aphilpotts commented on #1252
Tests run OK from within Visual Studio...

[2017-12-18 16:26] rajatagrawal-dev commented on #6042
If you use "Write-Verbose -Verbose" with "throw", things should work fine, with the logs visible.
If you want to show error in powershell then using "exit" statements is not the right way. You should use "throw" statement. If you are using "exit" command and want to show the meaning of that exit code then you can use "net helpmsg <exit_code>" command. "Powershell on Target Machine" will not give y

[2017-12-18 16:31] dan0131 commented on #6057
@madhurig I'll check it Thanks :)

[2017-12-18 16:31] jemiller0 commented on #1252
I don't know if this is related or not, but, a problem that I ran into was that it wasn't detecting the tests. I was able to solve the problem by removing the binding redirects from the App.config files and then regenerating them using `Get-Project -All | Add-BindingRedirect`. This has happened to me in a couple different solutions now.

[2017-12-18 16:33] DynConcepts commented on #6042
As per https://github.com/Microsoft/vsts-tasks/issues/6018...

Write-Verbose does not properly flush even under normal circumstances. So that is not an option.

You are correct, If I use "Invoke-Command" then things will "work".... My specific question was how to accomplish the SAME capability using an OOB task [aka "Powershell on Target Machine" ]. My expectation would be to have the task either

[2017-12-18 16:52] aphilpotts commented on #1252
No joy with that, although I didn't do exactly as you said, I did not want to splat all my project files so I only changed the one project with all my tests, no improvement.

FWIW, it fails in Visual Studio too

[2017-12-18 17:14] jemiller0 commented on #1252
You may need to do it to all your projects. Or at least the project that the test project is testing. I deleted the entire `<runtime>` in mine. Then, ran the NuGet command from above and it regenerated the element. If you're using Git, just make sure you have everything committed first. So, you can revert the changes if necessary. I have no idea why the test framework would be so sensitive to bind

[2017-12-18 18:45] dei79 commented on #6054
@vincentdass thanks I did and added all the required information. Let me know when you need addition details.

[2017-12-18 18:48] dei79 commented on #6054
@vincentdass forgot to say after a failed deployment the service stucks in error 503 but when I re-deploy after that everything works well ok.

[2017-12-18 19:15] santoorman commented on #5684
OK but why isn't the non-parallel working properly?

[2017-12-18 21:30] awentzel commented on #4416
Possibly related to [here](https://github.com/Microsoft/vsts-tasks/issues/5929)

[2017-12-18 21:42] kristoferreierson commented on #5972
Madhuri - I will send them via email.  It's pretty easy to repro - if your repo has a folder off the root called 'Build' (note capital). As a work around, I renamed the folder to BuildTools.

[2017-12-18 22:09] base698 commented on #6039
@jbaumbach Have you tried upgrading to Linux and Webstorm?

[2017-12-18 22:22] edrohler commented on #4416
@madhurig Awesome! I have gotten around it by just rerunning the release.

[2017-12-18 22:53] b-barthel opened #6063 "NPM Authenticate task appending trailing slash to registry"
The NPM authenticate task is appending a trailing slash to the registry URLs before authenticating, which generates an auth token with an incorrectly nerfed url.  Subsequent operations against the registry in the npmrc will fail because it can't find the correct token..

Ideally we should handle both cases (with/without trailing slash) so the user doesn't need to know the specifics of how the regi

[2017-12-19 01:37] cordialamit commented on #5400
Hi,

Wanted to check back on this. I have two assemblies holding unit tests and checked "run in parallel" option in vsts task but it still executes sequentially.

Can someone please help here:
https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=7376351&_a=summary

Thanks
Amit

[2017-12-19 01:39] cordialamit opened #6066 "How to really run tests in parallel, or troubleshoot when they don't"
Hi,
Wanted to check why vsts task doesn't run tests in parallel.
I have two assemblies holding unit tests and checked "run in parallel" option in vsts task but it still executes sequentially.

Can someone please help here:
https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=7376351&_a=summary

Thanks
Amit

[2017-12-19 02:19] jamesatgithub opened #6067 "Test Cloud iOS: error CS0227: Unsafe code may only appear if compiling with /unsafe"
## Environment
- Server - VSTS
      - If using VSTS, provide the account name, team project name, build definition name/build number:
boundlss/Boundlss/iOS.build+uitest/Build 20171218.1

- Agent - Private:
   - If using private agent, provide the OS of the machine running the agent and the agent version: latest XCode 9.2 and Xamarin.iOS 11.6

## Issue Description

the Xamarin.iOS UITest task (Bui

[2017-12-19 03:28] prawalagarwal commented on #6037
@AjayPrasad  Here is a [blog](https://blogs.msdn.microsoft.com/devops/2017/03/26/vstest-task-dons-a-new-avatar-testing-with-unified-agents-and-phases/) for your reference. You can reach out to us at devops_tools[AT]microsoft[DOT]com for more details.

[2017-12-19 06:28] rajatagrawal-dev commented on #1441
@dipinbehl Any update on the logs? We'll have to include the SQL team to investigate this and they would require logs to debug the issue further.

[2017-12-19 07:26] AjayPrasad commented on #6037
Thanks @prawalagarwal

[2017-12-19 08:11] dalle commented on #6040
Downgrading to npm/3.10.10 node/v6.12.2 results in no delay.

[2017-12-19 08:48] benwalpole opened #6068 "VSTest Task on Mac"
## Environment
Default Hosted Mac agent on VSTS

## Issue Description

I've noticed recently that the VSTest task is now allowed on build pipelines that are targeted to run on Mac agents.

However when I try this I get an error relating to a missing file path but I can't workout from the error message which path is missing.

I noticed that the repo suggests the VSTest task isn't currently cross pl

[2017-12-19 08:49] henryju opened #6069 "Run Maven in non-interactive/batch mode"
To have cleaner logs (especially download progress) you should append the `-B` command line option to every execution of Maven.

[2017-12-19 09:05] hilfor commented on #4127
Same issue here. I'm using the 3.* agent version. Got it working using extract file work around.

[2017-12-19 10:10] sdhamilton6 opened #6070 "Docker Task as of v0.3.3 incorrectly changes docker tags to lowercase"
## Environment
Observed on VSTS with hosted and private agents (using microsoft/vsts-agent:ubuntu-16.04-docker-17.06.0-ce-standard). Can share account and builds in private.

## Issue Description
In Docker task v0.3.2, docker tag case sensitivity is preserved as per the Docker documentation (https://docs.docker.com/engine/reference/commandline/tag/#extended-description).

With the v0.3.3 release,

[2017-12-19 11:02] harishgatla commented on #4365
Checking Take App Offline, Publish using WebDeploy and Rename locked files check boxes fixed  my issue.
However the deployment was successful for two concurrent releases. Will update you once my nightly scheduled builds get succeeded.
![image](https://user-images.githubusercontent.com/29980295/34154043-2764d7a8-e4da-11e7-9408-c038aaff75da.png)

[2017-12-19 13:34] NickHarvey2 opened #6071 "Run Functional Tests Task intermittently gets stuck"
## Issue Description

When running our tests remotely using the [Run Functional Tests Task](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/RunDistributedTests), the task intermittently gets stuck. The build log just repeats `DistributedTests: Test run '######' is in 'InProgress' state.` until it is eventually aborted.

### Build log
`...`
`2017-12-19T06:36:30.1042924Z DistributedTests:

[2017-12-19 14:08] NickHarvey2 commented on #6071
Relevant DTAExecutionHost.exe.log:
[DTAExecutionHost.exe.log](https://github.com/Microsoft/vsts-tasks/files/1571887/DTAExecutionHost.exe.log)

[2017-12-19 14:45] janpieterz opened #6073 "Tests don't run reliably"
VSTS:
intreba.visualstudio.com
Project: Products
Build definition: FastPACE.Server - Build, Package, Push and create release.
Failing ids: 2222 and 2225
Hosted agent queue name: Hosted VS2017

## Issue Description

Sometimes the tests fail with below errors. Currently 50% of the time this happens (well, of 4 builds).
Possibly relation: it looks like it runs really, really slowly, even though we're

[2017-12-19 14:46] janpieterz commented on #6071
#6073 might be related to this. Do normal unit tests work for you @NickHarvey2 ?

[2017-12-19 14:59] rajatagrawal-dev commented on #6042
1. Write-Verbose will not work if you are using some particular IIS commands which, as you mentioned, you are. I gave a workaround in #6018 for this but since you can't edit the scripts it might not be applicable to you.

2. Write-Output is also misbehaving, apparently when there is something written to the error stream also. So we don't recommend Write-Output for now.

3. Incorrect order of logs

[2017-12-19 15:01] DynConcepts commented on #6042
I will re-run the tests, but a script of just

Write-Verbose “1”
Write-Verbose “2”
…
Write-Verbose “500”

Only generates partial output.

From: rajatagrawal-dev [mailto:notifications@github.com]
Sent: Tuesday, December 19, 2017 9:59 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: David V. Corbin <david.corbin@dynconcepts.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micr

[2017-12-19 15:19] NickHarvey2 commented on #6071
You mean do tests work when run with the task "Visual Studio Test (Run tests with Visual Studio test runner)" ? If so, yes, they work fine.

Also, this was intermittent before (seemed to occur when multiple builds were trying to run tests remotely at the same time on the same box), but then it started happening consistently with each build. I rebooted the box, and that seems to have fixed the prob

[2017-12-19 15:57] jimmywyatt commented on #6045
@rosstified i'm having the same issue, did your team have to do anything to get it to update?

[2017-12-19 16:03] omeshp commented on #6045
@jimmywyatt We fixed the above issue and no update is required from your side.

You might be facing another issue with using proxy, where passwords containing \ are not working? https://github.com/Microsoft/vsts-rm-extensions/issues/341

Can you confirm if that is the case?

[2017-12-19 16:36] rajatagrawal-dev commented on #6042
Worked fine for me. Let me know what output you get.

[2017-12-19 16:47] jimmywyatt commented on #6045
@omeshp I don't want to pollute this thread so I might be better off creating a new issue then. In our case we don't specify the username/password as part of the proxy file. Everything else seems to work, just the download artifact task that fails.

[2017-12-19 17:11] DynConcepts commented on #6042
I will be back in that environment tomorrow and will test. Can you confirm you are using the tasks that ship with 2017 RTM and with PowerShell 4.0.....

[2017-12-19 17:16] madhurig commented on #6059
Please checkout the Cordova Build extension for VSTS: https://github.com/Microsoft/vsts-cordova-tasks

Thanks,
Madhuri

[2017-12-19 17:16] #6059 closed

[2017-12-19 17:18] madhurig commented on #5972
Fix has been merged. It will be deployed to VSTS in January 2018 after the holidays.

[2017-12-19 17:21] makhdumi commented on #6073
Are you sure this is an issue with vsts-tasks? It looks like it runs vstest.console, which is about the extent of the task's responsibility.

Maybe this team could help you though if it's an issue with your Hosted VS2017 server.

What I would do though is just deploy my own VS2017 agent (super easy. Just create a VM with VS2017 installed on it in Azure, and download+install the VSTS agent with you

[2017-12-19 17:47] alexmullans commented on #5997
For future readers: this definitely looks like you need a dotnet restore step before your build. If you use the ASP.NET Core build template, you should have such a step already. If not, add the '.NET Core' build task from the catalog and select the "restore" command from the dropdown.

I'm going to close this for now since it's been 8 days since the filer commented. Please feel free to comment and

[2017-12-19 17:47] #5997 closed

[2017-12-19 18:12] makhdumi opened #6074 "AzureRmWebAppDeployment package pattern is case-sensitive on Windows"
## Environment
- Server: VSTS
- Agent: Private (Windows Server 2016, VS 2017)

## Issue Description

My package pattern is:
`$(System.DefaultWorkingDirectory)\**\packages\**\$(ProjectName).zip`

I set the ProjectName variable to MyPackage.zip, so it resolves to:
`$(System.DefaultWorkingDirectory)\**\packages\**\MyPackage.zip`

However the actual package is called MYPackage.zip. The AzureRmWebAppDe

[2017-12-19 18:54] ozyx opened #6075 "Run Functional Tests - Unable to discover NodeJS tests"
## Environment
- Server
    - TFS2017 OnPremise v15.117.27024.0

- Agent
    - Windows 10 Fall Creators Update
    - TFS 2017 Agent

## Issue Description

Tests are not being discovered when trying to run NodeJS tests distributed across multiple machines. I am using NodeJS Tools for Visual Studio 2015 test adapter (v1.3.1). The location of the test adapter assemblies has been specified in a `*.tes

[2017-12-19 19:10] gertvdh opened #6076 "Download Build Artifacts (Preview) not able to get latest build of a specific build definition"
## Environment
- Server - VSTS

## Issue Description

with the build task "Download Build Artifacts (Preview)" it's not possible to automatically get the latest build for a specific build definition if option "specific build" is used. It would be nice if this could be possible

![image](https://user-images.githubusercontent.com/24321244/34174222-7eabddf4-e4f8-11e7-8333-e001aafedae9.png)

so instea

[2017-12-19 22:06] cindoum commented on #2146
Same problem here, i cannot install nuget 4.5 as it doesnt seem to be using the proxy. Any update?

[2017-12-19 22:37] jmyersmsft commented on #2146
@igorguga @Onefox @cindoum can you provide more information in a new issue? This is unlikely to be the same underlying cause at this point.

[2017-12-20 04:22] bansalaseem commented on #5876
Since it is talking about this task, https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/InvokeRestApi, I am reopening the issue.

[2017-12-20 04:23] bansalaseem commented on #5876
If your task is taking longer than 20 seconds, then you should consider calling back VSTS using the code snippet shared [here](https://blogs.msdn.microsoft.com/aseemb/2017/12/18/async-http-agentless-task/)

[2017-12-20 05:20] omeshp commented on #6045
@jimmywyatt what is you vsts-account name?

[2017-12-20 06:01] prawalagarwal commented on #5684
Please reach out at devops_tools[at]microsoft[dot]com with logs of your run. Thanks.

[2017-12-20 09:40] jimmywyatt commented on #6045
@omeshp  ipes.visualstudio.com

[2017-12-20 10:33] omeshp commented on #6045
Ok, I have disabled the feature for your account, It should be working as expected now. I will look at why you are seeing issue with proxy when the feature is enabled.

[2017-12-20 10:40] christopheph commented on #6045
@omeshp We have the same issue at my client. our account is candriamtfs.visualstudio.com
could you make the same for us ?

[2017-12-20 10:45] omeshp commented on #6045
@christopheph Ok, I have disabled it on your account too and all other accounts showing these failures from our telemetry.

[2017-12-20 11:11] christopheph commented on #6045
@omeshp it works, but i needed to create a new release in order to make it working because existing releases were still failing. Thanks

[2017-12-20 11:49] prawalagarwal commented on #5949
@KyoofuTest We looked at the code and this is by design. This is also clearly indicated by a log (line: 193 CltTasksUtility.ps1). The drop folder will always be the folder where load test file is found. Anything inside this folder is recursively copied. Please reopen if your issue is not resolved.

[2017-12-20 11:49] #5949 closed

[2017-12-20 12:06] libenY commented on #3897
I've had this issue as well. I was trying to index sources and publish symbols from release manager. I put in the powershell work around which got me to another error:
##[error]Associating server artifact is not supported in Release.

The reason I'm using release manager for this task is similar to what @Tasteful was doing, package management of different versions, but unlike him, I'm trying to ru

[2017-12-20 12:56] lincolnzocateli commented on #5094
Guys, I was having the same problem reported by jakubsvobodacz, but I managed to succeed in the build with a combination of adjustments, which I share with you:

1. My csproj (not test)
[code]

2. My csproj test project (XUnit)
[code]
3. And most importantly, **when I removed the global.json** file that forced SDK 2.1.3, the build ran without any problems.
[code]

[2017-12-20 13:39] cindoum commented on #2146
My issue is like the original one. I have a task Nuget tool installer. This task work on my computer  (which has no proxy) but cant seem to be working on a private build server behind a corporate proxy.

The .proxy seem to be working for the agent as i have been able to install the agent and the downloading of the source code is working.

Here the log without setting variable env http_proxy:
[3_In

[2017-12-20 14:28] bigmck1 commented on #6045
@omeshp I am getting the issue on https://tgpsystemdevelopment.visualstudio.com how do I go about resolving it?

[2017-12-20 14:36] omeshp commented on #6045
@bigmck1 Can you mail me release logs at omeshp@microsoft.com. I have disabled the feature flag for your account for now. Also I have logged an issue at https://github.com/Microsoft/typed-rest-client/issues/49 to get this fixed.

[2017-12-20 14:38] hiyadav commented on #5992
@ericsciple @bryanmacfarlane
While trying repro this error, i figured out that this failure occurs for more that one task. EG: ANT etc are also failing with the same error.
Should this be taken care of in build system or by individually ?

[2017-12-20 14:46] bigmck1 commented on #6045
Many thanks, Ive emailed from my company account

[2017-12-20 16:12] hrboyceiii opened #6080 "Callback for Azure Function Completion Setting Does Not Work/unclear how to use"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
    VSTS
    - If using VSTS, provide the account name, team project name, build definition name/build number:
    incyclelabs.visualstudio.com
    dp-devops
    "New Release Definition"/Rele

[2017-12-20 17:07] marceloavf opened #6081 "Powershell: execute function with Script Filename"
## Environment
- Server - VSTS:
    **Account name:** precisaosistemas
    **Team project Name:** InovaFarmaNotificacoes
    **Release name:** Master_Release

- Agent - Private:
    Windows Server 2016 Standard

## Issue Description

How can I run a function of a .ps1 file with powershell in VSTS.
I don't want to create a file for each function and repeat the code in many of them, when I try to ru

[2017-12-20 18:54] marcelloromani opened #6083 "Allow Azure SQL Database Deployment task to deploy to an ElasticPool"
## Environment
VSTS

## Issue Description
I am deploying a database schema using a Dacpac file and an Azure SQL DB deployment task.

The database is created with pricing tier S0.
On the same server there is one Elastic Pool configured, and I'd like the database created by the deployment task to appear within that EP.

[2017-12-20 19:56] ozyx commented on #6075
Update:

I was able to fix the issue by following the same steps detailed in issue #5854

[2017-12-20 19:57] hrboyceiii commented on #6080
I've done some additional testing and it seems like this may be an authentication/authorization issue.

If I create a new instance using either MS.VS.Services.RM.ReleaseHttpClient or TaskHttpClient and pass in the Uri and VssOAuthAccessTokenCredentials object, I get a successful response from GetReleaseAsync.  TaskHttpClient throws Internal Server Error.

I noticed from looking at the Vsts-Agent r

[2017-12-21 00:23] NCarlsonMSFT commented on #5760
I am working on a fix, but won't be able to get a PR out till after the new year.

[2017-12-21 05:08] bansalaseem commented on #6080
Can you please try the steps mentioned here?

https://blogs.msdn.microsoft.com/aseemb/2017/12/18/async-http-agentless-task/

[2017-12-21 05:16] weznagwama commented on #5351
Hey Guys,

Any update here? Cheers.

[2017-12-21 10:40] gertvdh opened #6085 "Download Build Artifacts - use of artifacts cache"
## Environment
- Server - VSTS

## Issue Description

It might be interesting to have some kind of local build server file cache where artifacts are downloaded so that the next time a download should be done, it can be retrieved from the cache instead of downloading the version all over again. Similar like NuGet packages are downloaded

[2017-12-21 10:58] SFinistrosa opened #6086 "Azure SQL Database Deployment task failing - Object reference not set to an instance of an object"
Hi - we're using the Azure SQL Database Deployment task in VSTS to deploy a dacpac, and getting the error bellow since we try to enabling SQL data sync. Same package with same release definition works on other azure SQL server.

### Error logs
[code]

[2017-12-21 16:29] hrboyceiii commented on #6080
Thank you @bansalaseem for replying.

I looked at the code both in the blog post and the git repo and, at least for the connection part, it looks the same as my code:

`var credential = new VssBasicCredential("username", data.AccessToken);
VssConnection cn = new VssConnection(new Uri("https://incyclelabs.vsrm.visualstudio.com"), credential);
using (var taskClient = cn.GetClient<TaskHttpClient>())

[2017-12-21 19:45] raphael-liming commented on #1441
We are also experiencing the same issue using Hosted VS2017 Agent. The sqlpackage.exe command we are using is: 2017-12-21T18:16:14.3082753Z ##[debug]Executing : "C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\140\SqlPackage.exe" /SourceFile:"d:\a\r1\a\FOLDER\drop\COMPANY.SQL.DB\bin\Release\COMPANY.SQL.DB.dacpac" /Action:Publish /TargetServerName:"ser

[2017-12-22 05:45] Ajay-MS commented on #6086
@SFinistrosa

Can you could re-run sqlpackage using the /df:<file.log> argument to generate a diagnostic log file, and forward the log file? Or, the /d argument will write diagnostics to the console.

What is the edition/service level objective of the target database?

Which version of SQLPackage.exe task is using ?

Also, please share complete logs at RM_Customer_Queries@microsoft.com

[2017-12-22 07:56] SFinistrosa commented on #6086
Hi @Ajay-MS ,

I only have the issue when I deploy the sqlpackage using VTST. Using my local computeur to deploy on same server same package works.

Taget DB is an MS Azure Sql Database V12.
Below the task used in VSTS.

![image](https://user-images.githubusercontent.com/28700314/34289990-69aab980-e6f5-11e7-8ab8-d9aaf90dc273.png)

I've sent the debug log of the release taks to RM_Customer_Queries@

[2017-12-22 11:37] almiroalves commented on #3853
Hi!

I have same problem.

I activate the Debug and my detail problem is:

**tf vc get /version:1153 /recursive /overwrite d:\a\1\s /loginType:OAuth /login:.,******** /noprompt
d:\a\1:
Warning s - Unable to get because a directory already exists.
Exit code 1 returned from process: file name 'tf', arguments 'vc get /version:1153 /recursive /overwrite d:\a\1\s /loginType:OAuth /login:.,******** /nop

[2017-12-22 13:14] Vinzz opened #6092 "[AppcenterTest task] cannot launch Appcenter UITests (NUnit based) filtered on test categories"
## Environment
- Server - TFS 2017.3 on prem

- Agent Private:
    - Server 2012 R2 en-US
    - Agent version: 2.117.2

## Issue Description
Task AppCenterTest  v1.126, got it from master branch commit **9377c685b005c9fcba12de9e17164a975bd37b5e**

With a direct cli call, we are able to launch our tests on a givent TestCategory, using the --include-category flag: (here push is a test category)

`ap

[2017-12-22 13:47] hrboyceiii commented on #6080
I may have found the issue.

It appears that `15.112.1-preview` packages have/had an issue with processing the tokens supplied by the agent(s).  If I went to the latest versions of `Microsoft.VisualStudio.Services.Client` and `Release.Client` (15.126.0-preview) but keep `DistributedTask.Client` at `15.112.1-preview` everything works.

I would've thought (preferred?) to keep the versions aligned bu

[2017-12-22 16:15] marcelloromani commented on #6083
As a workaround, an empty database with the desired name can be created inside the Elastic Pool via the Azure Portal.
The Azure SQL DB deployment task will then correctly instantiate the schema on that database.

[2017-12-22 16:15] bryanmacfarlane commented on #6085
This is on our backlog.  There is an artifact service that will even support binary (file level) and block level dedupe and caching.

Closing this since it's in our plans and we're not tracking service backlog features here (just tasks)

[2017-12-22 16:15] #6085 closed

[2017-12-22 17:39] debashis1982 commented on #6068
I am getting the same error on hosted MacOS agent.

[2017-12-22 21:06] yzorg commented on #5997
@alexmullans FYI, just for long-tail (one data point, not actionable)

I hit this same symptom today, missing `{project}\obj\project.assets.json`, where project was my DAL library, which is netstandard 2.0 project, the rest of my projects are 4.x.

But `project.assets.json` was missing b/c of what looked like an MSBuild race condition, or if it wasn't a race the error message didn't make sense to

[2017-12-23 21:27] InteXX opened #6095 "Error: Service principal authentication is not supported in version '5.1.1' of the Azure module."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
    TFS
    - If using TFS on-premises, provide the version:
    2018
    - If using VSTS, provide the account name, team project name, build definition name/build number:

- Agent - Hosted o

[2017-12-26 05:41] Ajay-MS commented on #6083
@marcelloromani

Thanks for posting workaround on the thread.

**Scenario 1**
If you have already existing database in elastic pool, using Azure SQL Dacpac deployment you can directly deploy to database in elastic pool.

**Scenario 2**
If database doesn't exists in elastic pool, by default it creates db with performance level S0. Using argument _DatabaseServiceObjective_, you can specify performan

[2017-12-26 06:04] ShreyasRmsft commented on #6073
Hi @janpieterz,
Could you please share the complete build logs of a successful build and a failed build? Also running the same build with system.debug set to true and sharing the logs of a failed build will help a lot.

[2017-12-26 06:07] ShreyasRmsft commented on #6073
You can mail the logs to devops_tools@microsoft.com

[2017-12-26 06:12] Cva2904 opened #6098 "Could you suggest best approach for automating Kendo UI with Selenium c#"
Dear Team,

looking for best approach for automating Kendo UI with Selenium c#.

thanks in advance for your suggestions.

Kind regard!
Siva. A

[2017-12-26 07:39] krukow commented on #6092
Hi thanks for the suggestion. We're reviewing internally when we will add this. Stay tuned for an update after the holidays.

[2017-12-26 08:09] arjgupta commented on #6095
@InteXX , with Service Principal, the task tries to import to AzureRm module, and if not found ( which is the case for you), it tries to import azure module and work with it. And since azure module stopped supporting service principal, that is why you are getting this error. Please run this command from an admin powershell prompt on your agent machine:
Install-Module -Name AzureRm -RequiredVersion

[2017-12-26 08:12] ShreyasRmsft commented on #6071
Hi @NickHarvey2,
After going through the DTAExecutionHostLogs it's evident that the DTAExecutionhost.exe process on the remote machine is crashing because it is unable to find a dll

DTAExecutionHost.exe Error: 0 : Main.InitializeAndStartExecutionHost. Exception occured during initialization/start: System.IO.FileNotFoundException: Could not load file or assembly '**Microsoft.VisualStudio.TestPlatf

[2017-12-26 08:26] nigurr commented on #6071
@NickHarvey2
Sorry for the trouble. it's known issue and it's fixed here - https://github.com/Microsoft/vsts-tasks/pull/5623/files
This will be available for on-prem @TFS 2018 Update1.

Thanks for your support

[2017-12-26 08:26] #6071 closed

[2017-12-26 08:47] akuryan commented on #4496
We still see this issue, while using [approach 1](https://github.com/Microsoft/vsts-tasks/issues/4143#issuecomment-304197479) - deployment is made via ARM template.
Interesting thing is - we are using triggered web job, running on schedule. After deployment fails - ```App_data/jobs``` folder is empty. Next deployment will work OK.
Here is a log:
[code]

[2017-12-26 08:50] akuryan commented on #4143
@asalvo We also have the same issue in VSTS - doing ARM deployment will fail to delete empty ```App_data\jobs``` folder on stopped slot for the first run. Second run will work OK.
I describe the same problem at [related issue](https://github.com/Microsoft/vsts-tasks/issues/4496#issuecomment-353940351)

[2017-12-26 09:00] akuryan commented on #4716
@TheFairey We are experiencing the same issue - doing ARM MsDeploy via VSTS to stopped staging slot we encounter an error, when ```App_data\jobs```, despite being empty, could not be deleted.
As you can see in [related issue](https://github.com/Microsoft/vsts-tasks/issues/4496#issuecomment-353940351) - we also tried to use script to add app setting - still, not avail. Can you please, help?

[2017-12-26 09:24] InteXX commented on #6095
That seems to have worked, but I haven't tested all scenarios yet.

Since, as you say, Azure modules no longer support SPN authentication, is this task soon destined for deprecation?

[2017-12-26 09:55] InteXX commented on #6095
@arjgupta — Azure File Copy worked, but I'm now getting this error with the Azure Powershell build step:

Could not get the storage context. Please pass in a storage context or set the current storage context.

I'm not sure what to make of this. Do you have any suggestion?

[2017-12-26 10:37] ShreyasRmsft commented on #6075
Hi @ozyx,
We are no longer supporting the RFT task and recommend that you switch to using the VsTest task which does everything RFT did and much more.

If you are running this via Releases then distribution via VsTest task is readily available.

If you are on Build then there is a preview feature which needs to be enabled to run vstest task in distributed mode which can be found in the preview fea

[2017-12-26 15:40] rahulku commented on #1441
I had this issue intermittently. Somehow, without any action on my part,
this is fixed now. Not sure what is going on.

Thanks,
RahulKu

On Thu, Dec 21, 2017 at 11:45 AM, raphael-liming <notifications@github.com>
wrote:

[2017-12-26 19:22] vinayapc opened #6100 "Invalid URI: The Uri String is too long"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
 TFS on-premises

    - If using TFS on-premises, provide the version: TFS 2017-
Software VERSION 15.117.26714.0( tfs 2017.Update2)
Database Service Level: 15.117.26714.0 ( TFS 2017.Update2)

    - If using VSTS, provide the ac

[2017-12-27 05:35] Ajay-MS commented on #6086
@SFinistrosa

[Existing Thread](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/dcd50b91-eb7a-4e89-90d8-ddd8ecf6b43d/ssdt-object-reference-not-set-to-an-instance-of-an-object-when-publishing-to-azure?forum=ssdsgetstarted)

As per my communication with SQL team and as per above mentioned thread, this issue has been fixed in recent DacFx version. So, SQL team has suggestion to install lates

[2017-12-27 06:37] singhbibek opened #6103 "How can i debug azure function in azure portal."
I don't see any debug process through i can debug my azure function in azure portal instead of VS17

[2017-12-27 08:29] arjgupta commented on #6095
Hi @InteXX , for using AzureRM cmdlets, you have to use Azure Resource Manager endpoint, which is based on service principal, and for using Azure module cmdlets, you have to create an Azure Classic endpoint using certificate.

[2017-12-27 08:41] arjgupta commented on #6095
@InteXX, for more details on endpoint, you can refer to the endpoint documentation [here](https://docs.microsoft.com/en-us/vsts/build-release/concepts/library/service-endpoints#sep-azure-classic)

[2017-12-27 09:42] kasubram commented on #5806
I couldn't reproduce this, I configured a Jenkins server with self signed certifacte.

When untrusted SSL certificate option is unchecked it failed with an error saying could not make trust relationship to the server.
![image](https://user-images.githubusercontent.com/17177298/34377495-4164c2b0-eb17-11e7-93b4-b4ae2aa96f31.png)

It passed after enabling the option,
![image](https://user-images.gith

[2017-12-27 10:59] bishal-pdMSFT commented on #5275
@kuvinodms , I think this can be closed?

[2017-12-27 12:52] PArpagaus opened #6105 "Windows Machine File Copy Tasks fails / No update to V2"
## Troubleshooting
It is not possible to execute the build task "Windows Machine File Copy", even not after upgrading to TFS Version 2018. The Build Task is only available in Version 1, in Version 2 the problem would be solved I think.

## Environment
- TFS onprem in Version "16.122.27102.1"
- Agent in Version  2.126.0 on Windows Server 2012 R2

## Issue Description
The Build Task "Windows Machine

[2017-12-27 14:36] arjgupta commented on #6105
@PArpagaus , line 191 in your log says, that it cannot find the machine name that you provided as input. Can you please check whether the machine exists or not and verify the name once

[2017-12-27 14:48] PArpagaus commented on #6105
The machine 'sv80.werosoft.net' exists, the same release definition has worked with the old build agent V1.

[2017-12-27 15:53] alexmullans commented on #5997
@yzorg thanks; I'll forward this to the dotnet team to take a look.

[2017-12-27 19:54] iknyc opened #6107 "SqlDacpacDeploymentOnMachineGroup task fails to detect SQLPackage.exe in VS2017 (15.0)"
## Troubleshooting

The Release task **SqlDacpacDeplopymentOnMachineGroup** fails to find sqlpackage.exe on the machine, despite the fact that it is installed via VS2017.

Agent = Private (DeploymentGroup) [version: *vsts-agent-win-x64-2.126.00*]:

CPU Status                      OK
OS Name                        Microsoft Windows Server 2016 Standard
OS Service Pack              0.0
OS System Dri

[2017-12-27 20:51] PArpagaus commented on #6105
I have the same problem with the task "PowerShell on Target Machine"!
[tasklog_4.log](https://github.com/Microsoft/vsts-tasks/files/1589865/tasklog_4.log)

[2017-12-27 21:54] InteXX commented on #6095
@arjgupta — This is interesting; thank you for the additional detail.

To answer your other question, however, these errors are occurring before the sequence is reaching my code. In other words, they're being caused by the Azure Powershell build step itself.

I'll collect and submit the log as you request.

[2017-12-27 22:06] InteXX commented on #6095
@arjgupta — "...these errors are occurring before the sequence is reaching my code." Pardon me, that's not correct.

I'm debugging my code now. I'll report my results asap.

[2017-12-27 22:29] InteXX commented on #6095
@arjgupta — My script is attempting to use Azure Classic cmdlets with an Azure Resource Manager endpoint. Thus the errors.

I'll work next week on retrofitting my script. Thank you for your assistance and clarification.

[2017-12-27 22:31] #6095 closed

[2017-12-28 01:25] xingyu217 opened #6108 "VSTS build/release task: Override template parameters of Azure Resource Group Deployment"
Based on the source code (
https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/AzureResourceGroupDeployment/operations/ResourceGroup.ts), for this code:

`functioncastToType(value:string, type:string):any {
switch (type.toLowerCase()) {
case"int":
case"object":
case"secureObject":
case"array":
case"bool":
returnJSON.parse(value);
case"string":
case"securestring":
returnJSON.parse(`"`+value+`

[2017-12-28 02:00] lovakumar commented on #5985
@boklyn what you have done is right and only change that you need to do is pass $(PfxSecret) as parameter to the script and use that parameter inside your script. Do not reference $(PfxSecret) directly inside the script. In VSTS tasks secret parameters are not available to the script directly, they must be passed explicitly to the task as parameters. Please let us know if that doesn't work.

[2017-12-28 05:30] neurospeech opened #6109 "Json Substitution Does not work if value is null"
## Environment
- Server - VSTS

## Issue Description
When a json value in appsettings.json contains null, it cannot be replaced by JSON substitution.

Example,

appsettings.json in SCM
[code]

JSON Variable in RELEASE defintion

CDN   =   cdn.somewhere.com

After deployment CDN value remains `null` in deployed appsettings.json.

But when set as an empty string,

appsettings.json in SCM
[code]

Aft

[2017-12-28 05:32] kuvinodms commented on #5275
Closing

[2017-12-28 05:32] #5275 closed

[2017-12-28 05:32] #5607 closed

[2017-12-28 05:33] #5097 closed

[2017-12-28 05:34] ShreyasRmsft commented on #6055
Hi @JohannesDrexler, this is a known issue and we'll be fixing it in the coming releases but until then please avoid using '[' or ']' in the test case title.

[2017-12-28 05:34] #6055 closed

[2017-12-28 05:35] ShreyasRmsft commented on #6068
Hi @debashis1982, VsTest task does not run on the MacOS. This is, as of now, as unsupported scenario.

[2017-12-28 05:35] #6068 closed

[2017-12-28 09:27] arjgupta commented on #6107
@iknyc , I have filed a bug for this. Right now, for unblocking yourself, you can download the data tier application framework (DacFx) from [here](https://www.microsoft.com/en-us/download/details.aspx?id=55713)

[2017-12-28 10:47] arjgupta commented on #6105
@PArpagaus , I would like to setup a skype call to debug this issue. Can you send the details, along with logs for the case when the task was succeeding with agent v1 to RM_Customer_Queries@microsoft.com

[2017-12-28 12:31] DynConcepts commented on #4006
Just tested this with TFS-2017.....  Not Working In Releases!!!!!! (But is working in Build!!!!)

[2017-12-28 16:30] deka commented on #3116
Sorry, solution is not good "to set a variable inside Task Group and use it inside Task Group" !
It's a workaround, not a good solution ...
•This is hacky scenario since any variable used inside of Task Group is exposed as an input which has to be filled with some value. Fill the input with the same variable name as the input7
•You may not need to define this variable in your Variables section, yo

[2017-12-28 18:48] ironicnet opened #6111 "Feature Request: Add an option to check if the target file is new or the same"
Currently we are using an FTP Upload to upload some files.
But right now, each FTP Upload is overwriting everything, when actually some little files changed only.

I think that it would be great to have some kind of "Overwrite if source is newer or has changed".

I'm pretty sure that the "remoteExists" could be changed to "getRemoteInfo" to retrieve stuff like the length of the remote or last writ

[2017-12-28 19:04] strand commented on #5021
After a bit of pain I discovered that my app was lacking a web.config file. I believe this may be the underlying cause of the original poster's issue. I will investigate adding error handling which indicates that this file is not getting loaded in the environment, and the user may be able to resolve the issue by following the instructions here: https://github.com/projectkudu/kudu/wiki/Using-a-cust

[2017-12-28 19:39] PArpagaus commented on #6105
After installing a new agent V2 on my developer machine all mentioned tasks work fine. In the two logs of the agents I found the following difference:

Agent with error:
2017-12-27T20:28:29.7435262Z ##[debug]Loading module from path 'C**:\Windows\system32\WindowsPowerShell\v1.0**\Modules\Microsoft.TeamFoundation.DistributedTask.Task.DevTestLabs\Microsoft.TeamFoundation.DistributedTask.Task.DevTest

[2017-12-28 23:01] vinayapc commented on #6100
any update on this please ?.

[2017-12-29 05:48] ds-ms commented on #6108
@xingyu217 Good catch. Will fix it. Thanks for bringing it to our notice :)

[2017-12-29 06:08] #6108 closed

[2017-12-29 06:08] #5051 closed

[2017-12-29 06:11] ds-ms commented on #6012
@pspill can you comment on the reasons for these changes, you have a better context.

[2017-12-29 10:02] kasubram commented on #4006
Sorry, this fix didn't make it to TFS 2017. This is only available from TFS 2018.

[2017-12-29 10:54] doorman02 commented on #2119
Hi @alexmullans what´s the status, is there a way to skip duplicates using the nuget command line tool? I have TFS2018 installed. Thanks

[2017-12-29 11:10] DynConcepts commented on #4006
@kasubram - Thanks (FYI: Had that been explicitly stated that is was fixed **for VSTS** in the Aug 18th comment, it would have saved me at least 4 hours - and who knows how much time across the developer community)

[2017-12-29 19:00] ameyagholkar opened #6117 "Escaping double quotes in npm task arguments"
## Issue Description
### Task
`npm` (https://docs.microsoft.com/en-us/vsts/build-release/tasks/package/npm)

### Version
0.*
1.*

### Description
The `npm` task does not handle escaped double quotes in the arguments as expected. Here's i'm trying to execute -

[code]

If I run this using `npm` vsts task (version 0.* & 1.*), what I see executing in the console logs is this --

[code]

For reference

[2017-12-29 19:19] alexmullans commented on #2119
@doorman02 there is not, unfortunately. The VSTS build task uses a VSTS-specific tool to push packages that can understand and react to the 409.

[2017-12-29 20:21] eorengo commented on #2828
Hi there,
Any workaround for this issue?
I found no way to let nuget know that msbuild.exe does not exist at /Library/Frameworks/Mono.framework/Versions/Current/lib/mono/msbuild/15.0/bin/xbuild.exe
Thanks!

2017-12-29T20:17:10.9006990Z ==============================================================================
2017-12-29T20:17:10.9019100Z Task         : NuGet Installer
2017-12-29T20:17:10.90308

[2017-12-29 20:45] eorengo opened #6118 "MsBuild.exe does not exist at '/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/msbuild/15.0/bin/xbuild.exe'."
## Environment
- Server - TFS 2017.2
- Agent - Private: OSX 10.11 Agent 2.122.0

## Issue Description

I tried to build the project https://github.com/adventworks/xamarin-sample as is described at https://docs.microsoft.com/en-us/vsts/build-release/apps/mobile/xamarin?tabs=vsts. After a day and a workaround, I could make it for the Android version in a Windows agent. Now, I am trying to build the

[2017-12-29 23:00] TheFairey commented on #4716
@akuryan Not sure how I can help, the issue for us was the hidden app insights webjob mentioned in the related threads so when I use the PowerShell script to stop all webjobs prior to performing the release everything deploys without an issue. Sorry!

[2017-12-30 00:23] veccsolutions opened #6119 "Index & Publish symbols with core 2.0"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - TFS 2018

- Agent - Private, Windows Server 2012R2, Agent 2.122.1

## Issue Description

1. When using the Index Sources & Publish Symbols I am unable to index the pdb files from a dot net core 2.0 (targeting netstan

[2017-12-30 09:46] chshrikh commented on #4543
this has been fix now

[2017-12-30 09:46] #4543 closed

[2017-12-30 14:29] bryanmacfarlane commented on #6117
The arguments option in the task lib (all tasks use) requires escaping double quotes as you did here:
[code]

It follows traditional unix style quoting and escaping via the shell

It doesn't support the javascript style single and double quotes for constants (and the json and npm are javascript).

We could add support for single quotes potentially.  We would have to think about compat.  If we do,

[2017-12-31 00:59] ArieHein commented on #6111
from a devops perspective overwriting is safer, no chance unwanted files or manually changed files get to stay in the ftp folder. Id even make sure its completely empty before the copy. This way I know exactly what was moved and when.
Other option is move all every time and then add a step to remotely do a robocopy with /MIR from the ftp folder and add exclusion based on file properties.

[2017-12-31 18:29] pointtoken commented on #5566
We hit this with app service on linux with Docker and the only thing that worked was to create an entirely new staging instance.

[2017-12-31 23:52] pgmolloy commented on #5259
Getting this issue today, I had it a while back. Have to do the same thing stop the service, deploy and restart. Here's the info.

2017-12-31 4:44:09 PM
System.AggregateException: One or more errors occurred. ---> System.Exception: Publish failed due to build errors. Check the error list for more details.
   --- End of inner exception stack trace ---
   at System.Threading.Tasks.Task.ThrowIfExcept

[2018-01-01 05:13] vincentdass commented on #5259
@pgmolloy , the recommendation from App Service team is to stop, deploy and start the app (as you stated), when the app_offline doesnt have any effect (even with retry-attempts and retry-interval).

[2018-01-01 05:16] vincentdass commented on #5566
@pointtoken , can you try hitting the site once before swap slot? You can follow the recommendation [here ](https://github.com/Microsoft/vsts-tasks/issues/5566#issuecomment-335779557)to add it in your release definition.
We have resolved this issue and the fix will be available in upcoming deployment.

[2018-01-01 05:24] vincentdass commented on #5021
@strand , the issue is with compressing the folder to a zip file prior deployment and not with web.config file. Are you using private agent or Hosted agent - (windows / Linux) ?

[2018-01-01 05:29] vincentdass commented on #4716
@akuryan , Can you share the steps how you confirmed` App_Data/Jobs` folder is empty?

[2018-01-01 10:26] akuryan commented on #4716
@vincentdass After build failed I used FTP to login to staging slot and check App_data/jobs content

[2018-01-01 14:06] mikedouglasdev commented on #1534
We are using the Hosted VS2017 agent and getting these errors inconsistently occurring.  Our build is a straightforward React Native build using the gradlew assembleRelease command.  It is causing some issues because our developers can't trust the PR and CI builds.  Is anyone else seeing these issues still?  Anything being done differently with AppCenter?  I haven't run as many builds from there b

[2018-01-01 18:20] StingyJack opened #6120 "Index and Publish Symbols should have an option to automatically include only project outputs that were created in the current build scope"
If I have a solution with >100 projects where many reference third party assemblies or in-house assemblies built as part of other solutions, its often tedious and time consuming work to setup the build tasks to collect just the symbols for the assemblies that were built as part of this solution and not the other referenced pdb's.

It would be great if the index and publish symbols task could be a

[2018-01-01 21:55] strand commented on #5021
I was working with Linux initially, and tried switching to Windows, then successfully deployed to Windows. I was not using zip to get a successful build, instead once a build is successful, my release process retrieves a git repo. If you would like I could spend some time writing out complete reproduction steps later this week.

[2018-01-02 03:44] joe45sp commented on #5351
I also would like to know if there is any update on this? Anything I can do to contribute to getting this pushed into production or preview quicker?

[2018-01-02 04:28] vincentdass commented on #5021
@strand , thanks for the info. On Windows platform, we use MSDeploy for deployment which takes both Folder and Zip as input. On Non-Windows Platform (Linux/  MAC), we use ZIP API , which takes ZIP as input.
So, for Linux, we compress the given folder and upload the same. As mentioned earlier, there is an issue with the compression technique (for large package size). We are currently investigating

[2018-01-02 04:58] vincentdass commented on #4716
@akuryan , Can you open the KUDU SCM portal and check if the folder is empty?
SCM URL: `https://APP_NAME_HERE.SCM.AZUREWEBSITES.NET`
![image](https://user-images.githubusercontent.com/20121508/34474599-09cc7138-efa7-11e7-83b5-502e73945f5a.png)

Then naivgate to the Jobs folder and check the content. I assume there might be a resource that locks the app_data folder, which might prevent from opening

[2018-01-02 05:26] fforjan commented on #6075
To give a bit more context, this is for a TFS 2017 OnPrem instance, not from Visual Studio Team Service.

We've just completed our TFS 2017 migration and we are at least 1 year away before any TFS 2018 migration.

My understanding is the previous feature will be for Visual Studio Team service ?

[2018-01-02 05:42] ShreyasRmsft commented on #6066
Hi @cordialamit, this parallelization option that you have selected is meant if you're tests are present on more than one assembly. It is not meant if all tests are present in the same assembly. The help link for the option calls this out and explains the type of parallelization.

Are your tests present in more than one assembly?

[2018-01-02 05:48] ShreyasRmsft commented on #6075
@fforjan Yes you are right. However in the latest update of TFS 2017 you'll be able to use parallelization via the VsTest task in **Releases**, this is enabled by default. Are you guys running these tests on Builds or Releases?

[2018-01-02 06:53] sachinma commented on #5641
@MikeYeager Just reconfirming if you were able to work by providing the full path to the dockerfile.

[2018-01-02 06:54] sachinma commented on #5983
Hi @aus7d7 can you provide the above information?

[2018-01-02 07:02] sachinma commented on #5898
@cornillemichiel is it possible for you to use the template parameter file for these inputs. That can be checked in along with the template file. I understand that will not be desirable when the template change has a new secret variable when you would not like to use the check-in the secret. But is that often the case?

I think in general we would like to keep these as errors since that is probabl

[2018-01-02 07:04] sachinma commented on #5651
@azooinmyluggage  did you get a chance to go through this?

[2018-01-02 07:21] #5988 closed

[2018-01-02 07:23] bansalaseem commented on #5909
@goranjovanovic25, as Jite asked above can you please confirm whether node:8 is a Linux only image or not?

[2018-01-02 07:50] akuryan commented on #4716
Yes, @vincentdass, it was empty

[2018-01-02 09:25] cornillemichiel commented on #5898
I would argue that this an error is NOT the expected behavior. Version A and version B should both deploy using the same Release pipeline. (How else would could one roll-back to a previous version of the code when things go south?)

Template parameter file is not an option here, in fact, we are planning to move away from using it altogether based on some best-practices advice.

We have a lot of ke

[2018-01-02 09:58] sachinma commented on #5898
If the parameters are secrets, then it would be right to define them as release variables. For other parameters - parameters file might be just fine. However, I understand that it doesn't work for you.

The error that you observe is coming from Azure ARM API call. Why I feel that the expected behavior is to fail, is because it might indicate an error while authoring; which we don't want to hide if

[2018-01-02 11:22] MitchDart commented on #5548
I also need this. Infact 'kubectl delete' does not work at all because of this. I get the following error:

`##[error]error: Unexpected -o output mode: json. We only support '-o name'.`

Kubernetes requires -o name on kubectl delete command. Since only json and yaml are options, this is unusable.

[2018-01-02 14:15] arjgupta commented on #6103
Hi @singhbibek , can you explain a bit more about your scenario? What do you mean by "debug my azure function in azure portal" ? If you mean remote debugging, then visual studio supports debugging azure app service ( on top of which azure function is built upon), both locally and remotely. You can find more details [here](https://docs.microsoft.com/en-us/azure/app-service/web-sites-dotnet-troubles

[2018-01-02 14:21] singhbibek commented on #6103
HI @arjgupta , i have few azure functions which I deployed in azure portal so can I run it from Azure portal and debug there? instead of doing in the visual studio.

[2018-01-02 15:03] fforjan commented on #6075
@ShreyasRmsft
At the moment only on Builds, but we have some ideas to use Releases.
We have more a desktop oriented application and I'm still struggling to find a right example for Release with such type of application but we would like to experiment

[2018-01-02 15:34] shaneholder commented on #5595
Is there some indication that a fix has been deployed?  And the ETA of 4 weeks, is that when it should be available to me as a user or is that a Ring 0 deployment estimate?

[2018-01-02 15:39] joost4net commented on #4918
Hi Bojanmisic, what was the problem? I'm currently having the same issue. I'll tried a couple of times with different api keys with all full access.
Path to publish I used $(build.artifactstagingdirectory) or $(agent.builddirectory)/output/$(SDK)/$(Configuration) or $(SDK)/$(Configuration)/build.sym/$(Configuration)-$(SDK)/output. But on all three folders I got the same error. I'm trying to deploy

[2018-01-02 16:27] cornillemichiel commented on #5898
An alternative idea...
Is it absurd to just override all parameters that match a VSTS variable by default? Is this purely because of name incompatibilities? Because then override template parameters could change to "Map template parameter variable names"

e.g.

In keyvault "some-secret-name-1" :"some-secret-value-1"
In ARM template "secret-name-1"

- Auto Override Parameters with same name: [_V_]

[2018-01-02 16:32] MikeYeager commented on #5641
@sachinma No, I never was able to get it working with multiple Docker Projects in a solution, even when I provided the full path to one of the dockerfiles. Although, I wonder at this point if that may have been caused by all of the mucking around with it. Unfortunately, I'm not in a position to tear it all down and re-create it to try that, but as thing stand I was not able to get it to work.

[2018-01-02 17:06] madhurig commented on #6118
@eorengo: What version of Xamarin/VS for Mac do you have installed on your macOS build machine? You can try setting the build tool to be "msbuild" and not specify any path to xbuild or msbuild.

Thanks,
Madhuri

[2018-01-02 17:59] strand commented on #5021
I am unblocked, but I'm not following _how_ this was caused by zip, when I used git to transmit my repo. I made [this PR based on my troubleshooting,](https://github.com/Microsoft/vsts-tasks/pull/6112) and in looking at the original poster's stacktrace I recognize that my error message was the same (`Could not find the End of Central Directory Record`) but that the cause of the failure was differe

[2018-01-02 18:27] madhurig commented on #6118
@pspill: Can you help @eorengo with the NuGet task issue?

[2018-01-03 05:27] arjgupta commented on #6103
@singhbibek , I am not sure if this is possible from the azure portal. I would suggest you to follow up on the Azure Functions forum [here](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureFunctions) . I am closing this issue since it is not related to vsts task. Reopen this if you face any issues with the vsts app service deploy task

[2018-01-03 05:27] #6103 closed

[2018-01-03 05:54] ShreyasRmsft commented on #6075
@fforjan Shall I close the issue? We are planning on deprecating Run Functional tests and are urging customers to move to VsTest V2. Builds with phases (what you need to run tests in parallel in Builds) will be available in tfs 2018 update 2. This is already in preview on VSTS at the moment.

[2018-01-03 05:55] ShreyasRmsft commented on #6073
Closing the issue due to no reply, please re-open if needed.

[2018-01-03 06:21] janpieterz commented on #6073
Hi @ShreyasRmsft , still occurred yesterday, could you re-open.?

Have failing and successful logs, now set the system.debug to true for all tests and waiting for one to fail there. Christmas and New Years made a lot less builds happen ;)

[2018-01-03 06:31] ShreyasRmsft commented on #6073
@janpieterz can you please share the logs?

[2018-01-03 06:32] vincentdass commented on #5021
@strand , thanks for the detailed info.
Can you please share the new debug logs to `RM_CUSTOMER_QUERIES@MICROSOFT.COM`  so that we can take this thread in private and debug the issue?
We are currently fixing some reliability issues and will be adding more debug / console statements to provide better insights to the user.

[2018-01-03 06:42] janpieterz commented on #6073
Sure, just send the two ones! I did see the error has changed to another one (We setup a database, LocalDB, and the connection to this fails sometimes now, sometimes just passes).

The above SOAP exception does not occur anymore, but this error keeps happening now and then as well.

[2018-01-03 06:58] ShreyasRmsft commented on #6073
@janpieterz The failed logs here indicates its the db connection only that's failing and this seems to be a test/machine issue. Lemme know if the SOAP issue repros.

[2018-01-03 06:59] ShreyasRmsft commented on #6073
@janpieterz and you are claiming that these sql issues are also intermittent and not consistent?

[2018-01-03 07:02] janpieterz commented on #6073
I think the SOAP had to do with whatever was causing the machines to be running in North Europe, probably a temporary issue.

The SQL issues are indeed also intermittent and not consistent, both logs from yesterday were kicked off almost right after each other, no change in code, happens now and then _only_ on hosted VSTS.

Want me to open a new issue for this or can we use this one?

[2018-01-03 07:08] ShreyasRmsft commented on #6073
The test agents you are using are private machines/vms? When you manually go run the tests on the machines they always succeed?

[2018-01-03 07:12] janpieterz commented on #6073
They're hosted public ones, using visualstudio.com hosted VS2017 agents.
Manually locally they always succeed with the database connection.

Maybe localdb is setup on some machines and others not, or not correctly?

Connection code that sometimes does work and sometimes not:

[code]

[2018-01-03 07:14] ShreyasRmsft commented on #6073
So there was a change recently made where permissions were changed for local db access on the hosted machines. This might be causing the issues.

[2018-01-03 07:30] janpieterz commented on #6073
So some machines might be on this new permission policy while others aren't?
Any way to get consistent behavior _and_ use a localdb ? Certain permissions/capabilities I'd need to request?

[2018-01-03 07:47] xingyu217 opened #6134 "XML variable substitution for applicationSettings"
[code]
Variables:
AppName: UpdatedApp
DefaultConnection: XXX

The XML variable substitution doesn't work for applicationSettings, but works fine for connectionString.
Log:
##[debug]Processing substitution for xml node : applicationSettings
##[debug]Processing substitution for xml node : appSettings
##[debug]Processing substitution for xml node : connectionStrings

So, there isn't the related log a

[2018-01-03 08:15] ShreyasRmsft commented on #6073
@janpieterz Scrap that last comment. It was something unrelated. I don't think it may have been the cause.

[2018-01-03 08:39] vincentdass commented on #4716
@akuryan , From SCM portal, Can you download the logFiles folder and share the same with `RM_CUSTOMER_QUERIES@MICROSOFT.COM`?

To download the logFiles folder, click the download button next to the folder name.
![image](https://user-images.githubusercontent.com/20121508/34513721-aa3a6b32-f08f-11e7-9fd9-4cc307fd6b8d.png)

[2018-01-03 09:15] groetzi commented on #5929
@madhurig thanks for the info! any news on this? we're experiencing the same issue since yesterday

[2018-01-03 09:32] vincentdass commented on #6134
#6024
This issue is fixed with the above PR and the fix will be available in upcoming deployment.

[2018-01-03 09:33] #6134 closed

[2018-01-03 09:34] janpieterz commented on #6073
@ShreyasRmsft just ran into the original (SOAP) issue again.
Will send email shortly, but currently doing a production deployment related to this code.

[2018-01-03 09:58] ncunning commented on #1268
Is the solution to this from @chrisrpatterson not correct.
In my case: I use Command Line Step and Set the Task to "Fail on Standard Error".
Then ensure that the Publish Test Results Under Control Options -> "Run this Task" is set to "Even if a previous task has failed, unless the build was canceled"

I have this solution working for karma tests which fail yet still return the test results.
Using

[2018-01-03 10:08] Ajay-MS commented on #5595
@shaneholder
ETA that I have shared with you is approx ETA of deployment to all Rings. But this release has been skipped.  So I will notify you as soon as deployment of next release will start.

[2018-01-03 10:12] ShreyasRmsft commented on #6073
Hi @janpieterz, this apparently is a known issue with older versions of the testplatform. I can give you a simple workaround to get the latest test platform on the Hosted machines. There is a task called the VsTest Tool Installer. Use it to install the latest testplatform and in the VsTest task select the Installed by tools installer option In the VS version selector dropdown.

[2018-01-03 13:42] janpieterz commented on #6073
Looks solved, I've kicked off a lot of builds and they all succeeded, thanks!
Any place to track the deployment of this new test platform so I can remove these steps?

[2018-01-03 14:43] Hinton opened #6135 "Docker use private NuGet Feed"
## Environment
- VSTS

## Issue Description

When building docker containers I would like to be able to use private NuGet feeds hosted on VSTS (Packaging). Currently there does not seem to be a good way to do this other than including a NuGet.config file with clear text credentials, which is less than optimal.

The .NET core task (v4) has options for NuGet feeds, and it would be nice if the Docker