[2017-04-28 10:01] joaofloressantos commented on #3771
Hi all,

Anyone have news on this?

Cheers

[2017-04-28 11:56] DavidStaheli commented on #3771
Hi @joaofloressantos, our current theory is that it has to do with IIS/Windows Server's FTP (which is also running in Azure Web Apps).  We're trying to confirm that theory and find a work around.  If you are using VSTS, one thing you might try is running the **Azure App Service Manage (PREVIEW)** task to start and stop your Web App before and after the FTP Upload:

![image](https://cloud.githubuse

[2017-04-28 12:07] joaofloressantos commented on #3771
I'd love to, but since we're using a very specific network architecture (App Service Environments, WAFs, etc) we've lost access to those features in VSTS, which is also the reason we are uploading via FTP and not WebDeploy...

[2017-04-28 12:31] davenewza commented on #4143
We have this happening on another web app now.

[2017-04-28 12:47] vincentdass commented on #4143
@davenewza , We are currently tracking this issue and analyzing the root cause.
As a workaround, Can you please disable 'Remove Additional Files a destination' option ?

[2017-04-28 12:48] vincentdass commented on #4160
#4125

[2017-04-28 13:15] madhurig commented on #3355
@AviateX14: MobileCenter builds are run on Mac, so these issues don't apply there. Thanks for the details, we will investigate and provide a solution.

[2017-04-28 13:36] Mardoxx opened #4181 "What is the Powershell++ task used for"
What is the Powershell++ task used for. How does it differ from the normal Powershell task?

[2017-04-28 14:00] AArnott commented on #4084
@prawalagarwal I've updated the link to a newer (retained) build.

[2017-04-28 14:35] jwerkau commented on #4111
Thanks @prawalagarwal.  Makes sense.  It is odd that they claim to use a standard xunit format but as you point out it is not following the XSD schema.  Rather than building the report and publishing through the publish results step I will install the Allure plugin in TFS and try generating the report that way in order to display the results.

[2017-04-28 15:20] fahnzmode opened #4182 "Unable to publish vstest.console code coverage results to VSTS"
This seems almost identical to closed issue https://github.com/Microsoft/vsts-tasks/issues/825.

I have a step to publish (xUnit via VSTest) test results that picks up the `*.trx` report correctly, but although the `*.coverage` report is generated and picked up as an attachment, it does not display any code coverage information in the build summary or on the "Code Coverage" tab.

As in the linked

[2017-04-28 15:25] davenewza commented on #4143
Will do. Thank you for the update.

[2017-04-28 16:10] aloisdeniel opened #4183 "Tasks with gyp built dependencies"
I'm currently trying to write my own VSTS extension with its custom task. This task depends on [sharp](https://www.npmjs.com/package/sharp) that has to be build at `npm install` time through **gyp**. But the `node_modules` seem to have to be included into the `.vsix` before upload of the extension so I didn't find any solution for this (*maybe pre-compiling the module for all agent architectures a

[2017-04-28 18:13] bryanmacfarlane commented on #4183
please open on the vsts-task-lib repo and we'll discuss their (this covers tasks in this repo)

[2017-04-28 18:13] #4183 closed

[2017-04-28 21:03] psutharsan commented on #4102
i have the same problem, I am running some webtest using powershell on target machine. It passes the task even when the tests are failed. Is there a work around for this. Thanks.

[2017-04-29 19:17] pramilgawande commented on #4169
Hi @DavidStaheli ,

I think the FTP Upload task is using the Active mode for FTP connections. If support for Passive mode is implemented the problem can be solved.

Regards.

Pramil

[2017-04-29 23:40] icnocop opened #4185 "Optionally fail Visual Studio Test build step if no test assemblies were found"
Hi.

Currently, VsTest will just produce a warning if no test assemblies were found.

I'd like for the build step to actually indicate this as an error and fail.

Otherwise, the build could succeed without actually running my tests.
This is problematic if subsequent build steps are only supposed to run if all tests pass.

If this option doesn't also include the scenario where the test assembly was

[2017-04-30 11:44] gregkalapos opened #4186 "SSH parameters and ProxyCommand"
Hi,
i have an asp.net core application, which i want to build and publish with vsts to a Linux machine (currently I deploy it manually). In order to publish it the only option i have is SSH (I don't control the server, so I cannot open up other ports, etc.). The setup for the production server is this: There is a proxy, which is available via the internet and the production linux machine I deploy

[2017-04-30 12:34] vincentdass commented on #4163
@ichivers , is the issue resolved ?

[2017-04-30 18:39] ichivers commented on #4163
Sorry not had a chance to try your suggestion yet. Should get to it later this week, today is a public holiday in the U.K.

Regards,
Ian.

Sent from my iPhone

[2017-05-01 01:08] gusdewa commented on #4076
Thanks for your feedback @prawalagarwal . I have tried to run the vstest.console.exe manually for my C:\Tests\WebUI folder. It works.

[2017-05-01 06:44] akaulgud commented on #3971
"Install Android Support Repository (revision: 47.0.0)" failed.

Getting this error message during installation of Android Studio. I am using android-studio-bundle-162.3764568-windows.exe

[2017-05-01 09:35] parcae opened #4187 "Azure App Service Deploy V3 - options missing"
I am using the V3 version of the App Service Deploy in several releases and I noticed that since last thursday or friday a lot of the options of the V3 template are missing.
Seems like the template is suddenly incomplete. Switching back to V2 brings back most of the options.

[2017-05-01 09:49] sahilNaran commented on #3971
@akaulgud have a look at https://github.com/Microsoft/vsts-tasks/issues/3891#issuecomment-294695228

[2017-05-01 12:18] DavidStaheli commented on #4169
This may be related to these open issues for the "ftp" library we're using.  We're looking into it.
https://github.com/mscdex/node-ftp/issues/163
https://github.com/mscdex/node-ftp/issues/156

[2017-05-01 13:07] akaulgud commented on #3971
Dear Sahil

Thanks for your resonse. #3891 post contains steps related to build,
however, I am facing issue during installation phase itself for SDK. I went
through the steps that are mentioned in 3891, but, I could not find them
present

Thanks
Atul Kaulgud

On Mon, May 1, 2017 at 3:19 PM, Sahil Naran <notifications@github.com>
wrote:

--

Thank you !
Atul

[2017-05-01 14:15] madhurig commented on #3681
@ericbrunner: All the planned updates to the Hosted build VMs are completed. Please try and let us know if you are still seeing issues.

[2017-05-01 14:16] #3891 closed

[2017-05-01 14:53] wouterroos commented on #3744
@acesiddhu Any updates on when either one of the issues will be fixed on our VSTS environment?

[2017-05-01 15:57] madhurig commented on #4161
@fahms : The HockeyApp task uses the [request node module](https://github.com/request/request) that needs a different proxy configuration. Please try setting the HTTP_PROXY and HTTPS_PROXY on the build definition "Variables" tab. Let us know if that helps.

Thanks,
Madhuri

[2017-05-01 16:12] madhurig commented on #4186
@gregkalapos: The current SSH tasks don't shell out to the command line (since it requires interactive input at least one time), the task uses the [SSH2 node module](https://github.com/mscdex/ssh2).

- The proxy support will require connection hopping that is not currently implemented in the task. So existing task cannot be used with your setup. We will consider this an enhancement for a future ve

[2017-05-01 17:09] madhurig commented on #4174
@fahms: Can you provide the full build log? Do you see any errors in your build?

TFS 2015 does not have the latest Xcode task changes that were shipped to Team Services. But I  compiled the task and tested it against TFS 2015 Update 3. Please check the last response on this post and see if you can update the task on your TFS server: https://github.com/Microsoft/vsts-tasks/issues/3196

Thanks,
Mad

[2017-05-01 18:01] wouterroos commented on #3744
@acesiddhu running a build now, will post back the results when finished.

[2017-05-01 18:04] gregkalapos commented on #4186
@madhurig thanks for the response.

The only one, which I need currently is the '-o ProxyCommand'.

Well, I already tried to do that, but was unable to figure out how to use my private key (which I need to get into the SSH proxy machine). So the first SSH connection (the one between the local machine and the Proxy) is done via SSH key. I use VSTS and I did not find any option to upload my private

[2017-05-01 18:11] AviateX14 commented on #3355
@madhurig thanks, I look forward to your response.

[2017-05-01 18:17] wouterroos commented on #3744
@acesiddhu just tried running our tests twice, but I'm still getting the same error message as before.

[2017-05-01 18:18] madhurig commented on #4186
@gregkalapos:

To secure passwords, you can define them as a secret variable on the definition in the "Variables" tab. If you use the "lock" icon next to the variable, it will be treated as a secret i.e. stored encrypted on the server and build machine, not logged in the output logs etc.

Current options for private key:
1. Store the value in a "secret" variable on the definition
2. Encrypt and st

[2017-05-01 18:49] andremarques023 opened #4189 "Can't add tag for release definitions via logging commands."
I have been using the option to add a tag for current build via logging command. At this moment there's no such functionality for release definitions (or at least not documented yet).

How can it be accomplished and used? Maybe through the REST API, but I can't find it neither. I think it would be great to have this implemented as a logging command.

[2017-05-01 18:52] madhurig commented on #4155
@artgrabovski : Based on the information you have provided, there might be something in IIS holding on to the files causing FTP upload to fail. To reliably automate the upload, you might have to pause the website, do the FTP upload and restart the website.

There are a couple of solutions targetted to deploying to IIS:
1. [Using deployment groups](https://www.visualstudio.com/en-us/docs/build/apps

[2017-05-01 19:50] kittenpoop opened #4190 "Unable to generate a .vsix file from the vsts-tasks archive"
After fiddling around I finally figured out how to get the archive to build (npm run build). So that I can use a few tasks as example to create my own build-task.

I have a resulting '_build' folder with the tasks that are interesting by adapting the 'make-options.json' file.
But to my surprise no 'vss-extension.json' file anywhere to start packaging to a .vsix, also a target to create the .vsix f

[2017-05-01 20:28] paonekumar opened #4191 "Azure SQL Database Deployment Error after enabling SQL data sync"
After enabling Azure SQL Data sync, I am getting below warning while executing DACPAC and deployment if getting failed.  I want to Ignore these errors and continue with deployment.

**SQL72030: If this deployment is executed, changes to xxxxxx might introduce run-time errors in**

I tried adding /p:TreatTSqlWarningsAsErrors=False to Additional SqlPackage.exe Arguments under deployment package and

[2017-05-02 01:48] acesiddhu commented on #3744
Can u share build logs to me on email address i shared before in the thread. Also r u using theories by any chance?

Sent from my Windows 10 phone

From: Wouter Roos<mailto:notifications@github.com>
Sent: 01 May 2017 23:47
To: Microsoft/vsts-tasks<mailto:vsts-tasks@noreply.github.com>
Cc: Siddhartha Pandey<mailto:Siddhartha.Pandey@microsoft.com>; Mention<mailto:mention@noreply.github.com>
Subject:

[2017-05-02 05:05] wouterroos commented on #3744
@acesiddhu I sent you the logs as requested. If you need any more information, just let me know. Regarding your question about the xunit `Theory` tests, we do use them, but as far as I can see from the logs, both `Fact` and `Theory` tests are causing errors.

[2017-05-02 05:55] acesiddhu commented on #3744
@wouterroos we got the logs. we will look into this.

[2017-05-02 06:12] prawalagarwal commented on #4111
Thanks @jwerkau. Closing the thread.

[2017-05-02 06:12] #4111 closed

[2017-05-02 08:17] pavanadepu2 commented on #4187
@parcae, thank you for reporting the issue.

We have recently updated the task UI. In V3 template, first you need to select your web app name. Based on your web app selection, the other field will render dynamically.

[2017-05-02 08:21] arjgupta commented on #4131
Hi @nirjashrestha . Can you please share the debug logs for the task. Also please share the web.config file that you are trying to apply the transformations on. You can send the files to RM_Customer_Queries@microsoft.com

[2017-05-02 09:01] #4155 closed

[2017-05-02 09:08] parcae commented on #4187
When we are using variables, like "$(ApplicationPath)" the options are not displayed. I can work around it by selecting something from the dropdown first and then replace that with our variable.... but it doesn't feel logical...

[2017-05-02 09:16] Geertvdc commented on #4187
Agree with @parcae we use a lot of variables for our web app names (multiple steps same web app) so filling in the web app name is really annoying

[2017-05-02 11:36] cltshivash commented on #4133
Reopening the issue  #3917  as requested.

[2017-05-02 11:36] #4133 closed

[2017-05-02 11:40] cltshivash commented on #4146
There are known gaps with respect to webtest execution and results. We are working on improving it in the near future.

[2017-05-02 11:40] #4146 closed

[2017-05-02 11:43] cltshivash commented on #4139
Thanks for the feedback. Do you have any other task between the Visual Studio Test Agent Deployment task and the Run Functional Tests task ? The execution host is looking for commands that would be assigned once the run functional tasks creates the test run and execution workflow starts.

[2017-05-02 11:43] #4139 closed

[2017-05-02 12:24] woellij commented on #3355
I'm facing the same issue as @AviateX14 . Despite setting MSBuild parameters `/p:ProGuardToolPath=C:\a\1\s\{projectdir}\proguard\ /p:ProGuardJarPath=C:\a\1\s\{projectdir}\proguard\lib\proguard.jar /p:EnableProguard=true ` it errors with "Error : C:\Program Files (Access is denied)" ... maybe because it uses proguard config files in the default android sdk proguard folder (which is under program fi

[2017-05-02 13:17] cltshivash commented on #3953
@Jassi1313 Thanks for the logs. We are able to reproduce the issue on our end and are fixing the bug.

[2017-05-02 13:46] nigurr commented on #4101
@NikolayKash it will. but we strongly recommend you to wait for next Release cycle for On-Prem [TFS 2017 Update 2], or next deployment in VSTS.

Closing this thread as it's already fixed in master.

[2017-05-02 13:46] #4101 closed

[2017-05-02 14:08] cltshivash commented on #4144
You shouldn't hit issues for the steps mentioned. The user provided in the agent configuration section could lack admin rights on the agent machine leading to the observed behavior.

[2017-05-02 14:08] #4144 closed

[2017-05-02 20:09] Jassi1313 opened #4200 "Unable to Launch the Process from Process.Launch"
Hi,
I am running the Functional test using team services. and there is an exex file on my C drive but I am not able to launch the process using process.launch
though when the code was in TFS same function used to launch the process from exe.

[2017-05-02 21:15] pramilgawande commented on #4169
Thanks for adding the references.
Hope to see the issue get resolved soon.

[2017-05-02 22:51] shaykalyan commented on #4102
@psutharsan: Not a very clean work around, but since the default $ErrorActionPreference is set to "Stop", writing to the Error stream in your script via `Write-Error` will be terminal and result in the task being marked as failed.

@pavanadepu2: I'm curious why the design is such?

[2017-05-03 06:45] prawalagarwal commented on #4076
We need to check the discovery engine logs. Please access the config file at:
C:\Program Files (x86)\Microsoft Visual Studio\2017\TestAgent\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.discoveryengine.x86.exe.config
and set the <add name="TpTraceLevel" value="0" /> value in this property to **4.** Queue your run again and please get the discovery engine logs from %temp% and attach.

[2017-05-03 06:46] prawalagarwal commented on #4076
The property name is TpTraceLevel. It got missed in the last comment.

[2017-05-03 07:11] prawalagarwal commented on #4176
Hi @sudeeptm,

Are you on TFS or VSTS? If TFS, which version and release?

Can you attach the logs from C:\Dtalogs from your test agent machines. Thanks

[2017-05-03 07:17] prawalagarwal commented on #4167
Hi @AlexARoche,

This error shows up when the Run Tests Task and the Deploy Test Agent task machine names do not match up. Can you please ensure that the machine names are exactly same in both the tasks (Copy paste from deploy task to run task)?
If this does not help can you send screen shots of your Deploy Task and Run Tasks? Thanks.

[2017-05-03 07:57] prawalagarwal commented on #4156
Hi @cwhiting17,

Are you on TFS or VSTS? If TFS which release?

I tried reproducing the issue on TFS2017 and couldn't. Can you send a snapshot of how you are declaring your Override Test Run Parameters field? Thanks

[2017-05-03 09:07] joacar commented on #3762
Setting up CI in Azure for my Core MVC project and running into this error. What is the recommended solution?

[2017-05-03 10:20] prawalagarwal commented on #4084
@AArnott This information is generated from a powershell script today which will be retired from the newer version of the task. We are moving to vswhere.exe to handle this. You will soon not see this. Thanks

[2017-05-03 10:20] #4084 closed

[2017-05-03 10:22] prawalagarwal commented on #4076
Can you also try specifying "C:\Tests\WebUI" in your run settings as path to custom adapters. Let us know if this solves your issue.

[2017-05-03 10:23] prawalagarwal commented on #1483
@gusdewa @nigurr We will have only one thread to discuss this issue: https://github.com/Microsoft/vsts-tasks/issues/4076.

[2017-05-03 10:37] arjgupta commented on #4191
Hi @paonekumar , you can refer to [this](https://msdn.microsoft.com/library/hh550080(vs.103).aspx#Anchor_2) link to see the parameters supported by the publish action

[2017-05-03 10:48] bryanmacfarlane commented on #3762
Here's how to enable tool installers (what @alexmullans referred to above)

https://www.youtube.com/edit?o=U&video_id=Ie8EuvqJ0Hg

I think nuget one should be there now.  If not, coming to your scale unit soon.

[2017-05-03 10:50] bryanmacfarlane commented on #4181
This repo tracks issues with these tasks:  https://github.com/Microsoft/vsts-tasks/tree/master/Tasks

Powershell++ is a custom task extension.  You'll have to ask them.

[2017-05-03 10:50] #4181 closed

[2017-05-03 10:51] bryanmacfarlane commented on #4200
This repo tracks issues with CI tasks ( https://github.com/Microsoft/vsts-tasks/tree/master/Tasks )

[2017-05-03 10:51] #4200 closed

[2017-05-03 10:52] bryanmacfarlane commented on #4190
You should ask this on the vsts-task-lib repo.

This repo is for tasks: https://github.com/Microsoft/vsts-tasks/tree/master/Tasks

[2017-05-03 10:52] #4190 closed

[2017-05-03 10:53] bryanmacfarlane commented on #4189
This repo is for these tasks:  https://github.com/Microsoft/vsts-tasks/tree/master/Tasks

You'll need to follow up with RM team.  Perhaps in the vsts-agent repo (where logging commands are)

[2017-05-03 10:53] #4189 closed

[2017-05-03 10:55] Mardoxx commented on #4181
It does the same as the normal powershell one provided by yourselves, so why have both?

Little redundant?

[2017-05-03 10:57] prawalagarwal commented on #4182
Hi @fahnzmode,

Is your account url hsem.visualstudio.com? If yes can you provide your build number for the failed build? Please attach the complete logs too. Thanks

[2017-05-03 11:26] arjgupta commented on #4171
Hi @shyamsrini , is the issue still happening for you? Can you please share the full debug logs with RM_Customer_Queries@microsoft.com . You can generate the debug logs by setting the system.debug variable to true in the variables tab

[2017-05-03 11:31] shyamsrini commented on #4171
@arjgupta @vincentdass
Hi, the issue is not happening anymore , after moving to latest version. I havent seen the issue for past 405 days.  Thanks a lot for your prompt response and your help .

[2017-05-03 12:11] arjgupta commented on #3991
Hi @rafaelzm2000 , are you still facing this issue? If yes, can you please send the debug logs.

[2017-05-03 12:17] pavanadepu2 commented on #4187
@parcae , @Geertvdc I agree with you. Currently we are working on the solution. Thanks much for the feedback.

[2017-05-03 12:51] rafaelzm2000 commented on #3991
Finally figured out the issue.  Because the "ErrorActionPreference" error is so broad I was not getting a lot of information to what was really causing the issue. After adding logs to the source code, I found out that what was really causing the problem was a SystemIO file not found.
I was using PowerShell on Target Machines task to run a Powershell script which in turn would run an executable. th

[2017-05-03 13:30] cwhiting17 commented on #4156
We are using VSTS.
[cid:image002.jpg@01D2C3D6.C9796700]

From: Prawal Agarwal [mailto:notifications@github.com]
Sent: Wednesday, May 3, 2017 12:57 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Carl Whiting <Carl.Whiting@ivanti.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vsts-tasks] How to escape semicolons when overriding test run parameters in version 2.*

[2017-05-03 13:52] Manmp opened #4207 "Run PowerShell on Remote machine tasks hangs the build"
As the last step in my automatic build and deploy I call a PowerShell script on the remote machine to install my application.

When executing this script the PowerShell task hangs never finishing the build. I figured out few issues in past that it was due to either waiting for user input or there is any powershell session open on the vm. However here those are not the case.

I am using start proce

[2017-05-03 14:08] cltshivash commented on #4134
You can use the TestContext and do TestContext.AddResultFile or drop files to the results directory property https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.testtools.unittesting.testcontext.aspx

[2017-05-03 14:08] #4134 closed

[2017-05-03 14:19] madhurig commented on #3681
Please open new issue if you continue seeing issues. All planned updates have been deployed to "Hosted" and "Hosted VS2017" pools.

[2017-05-03 14:19] #3681 closed

[2017-05-03 14:36] paonekumar commented on #4191
Thanks @arjgupta for your help. I was using a wrong Publish action.

[2017-05-03 14:36] #4191 closed

[2017-05-03 14:39] alexszilagyi opened #4208 "System variable undefined :: VSTS Build Agent - macInCloud"
Hi there,

I have integration with MacInCloud with vsts-tasks and I have an issue that it doesn't reads the variable which I'm sending it via Visual Studio task.

![systemvariable_macos](https://cloud.githubusercontent.com/assets/1736655/25665261/bc6958fc-3025-11e7-87a7-74877e1870bb.png)

Here's the script which I'm using to modify get the system variable (NodeJS script):

[code]

And the output o

[2017-05-03 17:03] marcwmiller commented on #4028
Hosted VS2017 now has SQL Server Data Tools "Extras", which solves issue.

[2017-05-03 17:03] #4028 closed

[2017-05-03 18:51] scottmishra commented on #4143
Started to get the same error on a series of VSTS releases as well last week. We noticed that deleting the application insights extension through kudu and adding it back seemed to fix the issue for a single deploy.

[2017-05-03 23:19] AlexARoche commented on #4167
Hi Prawalagarwal,
First of all, thanks for your answer.
Yes, both tasks have the same value. We are using the same environment variable for both tasks.
Here, the screenshots for deploy and run tasks:

![image](https://cloud.githubusercontent.com/assets/28107621/25685403/6fcf3470-3067-11e7-8d05-904380b1b22e.png)

and

![image](https://cloud.githubusercontent.com/assets/28107621/25685425/9e50d3f8-30

[2017-05-04 01:36] jrmcdona opened #4216 "Xcode - failing build task. "Select a development team in the project editor. ""
My build is failing on this.  However, I have a development team name set in the editor of both the project and the target.   I am not sure what else to try here?

![screen shot 2017-05-03 at 8 34 43 pm](https://cloud.githubusercontent.com/assets/4327773/25687930/f9460df0-303f-11e7-964e-c65ac29c8f9c.png)

**=== BUILD TARGET Responder OF PROJECT Responder WITH THE DEFAULT CONFIGURATION (Release) ==

[2017-05-04 08:49] prawalagarwal commented on #4156
Hi @cwhiting17 , the image is not attached properly. Cannot download it from here. Can you reach out to us at devops_tools[AT]microsoft[DOT]com with the attachment? Thanks

[2017-05-04 08:52] prawalagarwal commented on #4167
Hi @AlexARoche, I missed that you are on TFS 2015 in the last comment. For TFS 2015, you should not patch the task from master. The current version (v2) which you are using is supported with TFS 2017 onwards. Thanks

[2017-05-04 09:12] #4167 closed

[2017-05-04 09:37] #4171 closed

[2017-05-04 09:49] vincentdass commented on #4160
#4125

[2017-05-04 09:57] #3991 closed

[2017-05-04 10:06] sachinma commented on #4064
@juliusl are you doing "Start Slot" before swapping. We have seen unreliable behavior if we do swap right after Start since sometimes start doesn't bring slot to running state. We are looking at ways to increase the reliability here.

[2017-05-04 11:43] shyamsrini opened #4226 "App Service Deploy fails with ERROR_PROXY_GATEWAY in version 3.3.1"
App Service Deploy Task is taking longer than before ( 3-4 times longer) and intermittently fails with the below error.

PS : It works after multiple retries ( 3/4 retries)

2017-05-04T11:12:39.7151394Z Got connection details for Azure App Service:'oscarDEVdev-app-southindia'
2017-05-04T11:12:41.3027898Z [command]"C:\Program Files\IIS\Microsoft Web Deploy V3\msdeploy.exe" -verb:sync -source:IisApp

[2017-05-04 12:07] vincentdass commented on #4160
Help string and warning messsages are added and the fix will be available in upcoming deployments.

[2017-05-04 12:07] #4160 closed

[2017-05-04 12:51] ISAF87 commented on #4139
No, Run Functional Tests is started right after the Test Agent deployment task.

[2017-05-04 12:52] ISAF87 commented on #4144
Sounds like a design flaw to me. Can imagine you want to run your tests as a specific user, with stripped down permissions, eg: Not administrator.

[2017-05-04 14:07] madhurig commented on #4208
Can you try process.env['APPVERSION'] in your script?

[2017-05-04 14:32] madhurig commented on #3355
We are following up on the 2 Xamarin bugs with the Xamarin team:
1.	https://bugzilla.xamarin.com/show_bug.cgi?id=44187
2.	https://bugzilla.xamarin.com/show_bug.cgi?id=32861

We don't want to apply workarounds for these bugs since they might impact native Android builds. Till we figure out the right solution here, the option will be to setup your own build server and apply the workarounds for Xamar

[2017-05-04 14:49] madhurig commented on #4216
This seems like a project configuration issue. When building in Xcode, check if the scheme and configuration match “Release” and “Responder”. You can also verify by running this command on your Mac: /usr/bin/xcodebuild -sdk iphoneos -configuration Release -workspace Responder.xcworkspace -scheme Responder archive

This post seems relevant: http://stackoverflow.com/questions/39524148/requires-a-dev

[2017-05-04 15:23] dtorg opened #4231 "Publish symbols to drop"
I am trying to publish symbols to the drop location as an artifact but I get an error when I try to specify a location on the $(Build.SourcesDirectory) or  $(Build.ArtifactStagingDirectory) directories. The documentation mentions to use Publish Artifact but I am unsure of the specifics how this needs to be set up.

[2017-05-04 17:05] psutharsan commented on #2155
I have same problem cannot rerun the failed tests. Is there going to be fixed? Thanks

[2017-05-04 17:20] psutharsan opened #4232 "Rerun failed test cases from TFS 2015"
Not able to rerun the failed test from TFS release. There should be a easier way to select the failed test from the Test results and run it from there. Thanks.

[2017-05-04 17:38] juliusl commented on #4064
@sachinma Yes, we are calling start slot before swapping.

[2017-05-04 18:43] jsblock78 opened #4234 "Performing Windows Machine File Copy using user with '$' character fails with "The user context supplied is invalid.""
Copying failed for resource : {fqdnofhost}
Failed to connect to the path \\{fqdnofhost} with the user domain\$build for copying.
The user context supplied is invalid.
More help is available by typing NET HELPMSG 3775.

If I use another account with the same permissions, but no '$' the task completes successfully.

[2017-05-04 20:03] sudeeptm commented on #4176
I've found a workaround by using different task. The file under C:\DTALogs was not updating with the execution of the release.

[2017-05-04 20:05] sudeeptm opened #4235 "Hosted agent VS2017: Unable to call outbound endpoint"
While calling an outbound endpoint to generate a JWT token the Powershell executing fails with the error

2017-05-04T16:36:56.3332096Z ##[error]The response content cannot be parsed because the Internet Explorer engine is not available, or Internet Explorer's first-launch configuration is not complete. Specify the UseBasicParsing parameter and try again.

[2017-05-04 20:13] #4235 closed

[2017-05-04 20:46] NikolayKash commented on #4134
Thanks a lot

[2017-05-04 20:46] nrandell opened #4236 "Cannot find module "./dockerComposeCommand""
I originally raised this against the vsts-agent-docker repository as https://github.com/Microsoft/vsts-agent-docker/issues/28

I'm trying to use this to run some docker compose commands, but I keep coming up against a problem where it cannot find a module.

I'm running on an Ubuntu 16.04 host, running the agent as

[code]

When running, I see the following issues (**_Cannot find module './dockerCo

[2017-05-05 05:35] andremarques023 commented on #1113
@shashban This command functionality should be also available for releases. You can manually add a tag to it but there's no logging command, no API, no nothing.

[2017-05-05 06:45] prawalagarwal commented on #4176
Ok. Let us know if you need further assistance here.

[2017-05-05 06:45] #4176 closed

[2017-05-05 06:45] prawalagarwal commented on #4076
Hi @gusdewa , any updates here?

[2017-05-05 06:46] prawalagarwal commented on #4120
@miles1302 Any updates here?

[2017-05-05 07:08] joacar commented on #3762
@bryanmacfarlane The url doesn't have any video content.

I tried to use NuGet 4.0 and that results in this build error

C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Sdks\Microsoft.NET.Sdk.Publish\build\**netstandard1.0**\PublishTargets\Microsoft.NET.Sdk.Publish.MSDeployPackage.targets(124,7): Error MSB4184: The expression "[System.IO.Path]::GetDirectoryName('')" cannot b

[2017-05-05 08:25] shashban commented on #1113
@andremarques023 We don't have a task command to ad a release tag yet. You can add a tag using update Release API.

[2017-05-05 08:43] bipindas opened #4240 "Web Deploy to Azure App Service not working"
Hello,

I have release management setup to deploy to Azure App services. These have been working for quite some time now. But recently these tasks have stopped working. They are not failing or throwing any errors but the changes are not reflecting on the server. And checked in changes are not showing. I tried deleting all the old files from the Kudu console and running deployment again. It complet

[2017-05-05 08:45] ampetrushenko opened #4241 "Azure App Service Deploy Task: [error]Error: socket hang up"
After task was updated to 3.3.1 version, task failing with error [error]Error: socket hang up
I am using VSO with private build agent 2.115 version.

[2017-05-05 08:53] jikuma commented on #4236
Thanks for reporting the issue. I am working on it and fix the issue.

[2017-05-05 08:57] ananthaakumar commented on #4191
@paonekumar i am facing the same issue. Can i know what publish action you used to resolve this.

[2017-05-05 09:07] #4240 closed

[2017-05-05 09:07] bipindas commented on #4240
It looks like its an issue with the App Service environment and not the VSTS task itself.

[2017-05-05 09:25] carlwoodhouse commented on #4187
also had to switch back to v2, the dropdowns never manage to populate for us (we have to type the names in manual for some reason) so can never get the additional options on v3!

[2017-05-05 10:50] AlexARoche commented on #4167
Thanks for your support Prawalagarwal!
We alredy rollback the tasks to the previous version and now it's working fine again.

Regards

[2017-05-05 10:58] AlexARoche opened #4243 "Run functional test task split the trx files and code coverage in the attachments"
Hi all,
We are facing an issue using TFS 2015 (on-premise) with "Run funcional test task". When the task finishes the test execution of our dlls, we see in the test results attachments several trx files (one per dll). Do we have any way to generate just one trx/codecoverage file? As VSTest tasks is already doing?
We are using Run functional test task version 1.0.28

![image](https://cloud.githubus

[2017-05-05 11:31] masheleza opened #4245 "VSTS Tag source on release"
On the automated build, there's a way to tag the commit on build, which is great but not enough, I need to tag source on Production Environment successful release using, now I can only do that manually with a commands:  I need to be able to do this as part of my Release tasks to production

##BUILD_SOURCEVERSION = CommitID
##BUILD_REPOSITORY_NAME = Repository
##BUILD_BUILDNUMBER = BuildNumber

git

[2017-05-05 12:48] RCerff opened #4251 "Visual Studio Test Task ignores Test Filter Criteria with Nunit"
Hello,

I have the problem that Team Services Test task ignores Test Filter criteria.
I'am using Nunit 3.6.1 and Nunit3TestAdapter 3.7.0
I decorate my TestFixture with a category

    [TestFixture(Category = "DataAccess")]
    public class RetailerDbAccessTestsAsync {...}

As Test Filter criteria I use TestCategory!=DataAccess

It seems that the task ignores this criteria.

2017-05-05T12:29:57.744

[2017-05-05 13:39] jrmcdona commented on #4216
This was something I was doing wrong and not related to the Xcode task.

[2017-05-05 13:39] #4216 closed

[2017-05-05 13:45] Sheludchenko opened #4252 "Azure App Service Deploy Task: Part of UI is missing"
Few days ago i discovered that part of UI is missing for Azure App Service Deploy task.
E.g. i'm unable to change config transformation options.
![image](https://cloud.githubusercontent.com/assets/11521541/25747904/d843280e-31b1-11e7-8bf4-a3a9bba8f89c.png)

I've tried it on two VSTS accounts and three browsers (Chorme, IE and FF).

[2017-05-05 14:28] rodrigomocca opened #4254 "Build is waiting for a pipeline to be assigned. But nothing is In Progress"
Hi, I'm having an strage issue.
When I queue a build I'm getting this message: Build is waiting for a pipeline to be assigned.
![image](https://cloud.githubusercontent.com/assets/4087916/25749666/b3d9f622-3185-11e7-8166-68a4ad261318.png)
But if I enter to expore pipelines queue:
![image](https://cloud.githubusercontent.com/assets/4087916/25749728/e7a04628-3185-11e7-91d6-72410c474b7b.png)
![image](

[2017-05-05 14:53] arjgupta commented on #4252
Hi @Sheludchenko , please select the azure subscription and the app service name that you want to use, the other inputs will appear accordingly.

[2017-05-05 14:57] arjgupta commented on #4241
Hi @ampetrushenko , can you please send the debug logs to RM_Customer_Queries@microsoft.com . You can generate the full debug logs by setting the system.debug variable to true in the variables tab.

[2017-05-05 14:58] Sheludchenko commented on #4252
Hi @arjgupta. Thanks for your reply. I was able to see additional options.
But I have to reselect application each time I want to edit additional options.
![image](https://cloud.githubusercontent.com/assets/11521541/25751030/503c4476-31bc-11e7-8454-8d45160f7231.png)

[2017-05-05 15:04] christhreatt commented on #468
I believe I have a workable solution if you are only deploying one website to your web role.  For this example, assume that you have an MVC application and you're hosting Angular or some other custom javascript content that is generated by gulp.  The gulp process sends its output to Scripts/client.  The solution looks like this:

`
TestMVCApp
  /Contents
  /Controllers
 ..
  /Scripts
    /client (

[2017-05-05 15:07] TheodorKleynhans opened #4255 "VSTest: Test Impact Analysis not working for x64 Assemblies"
The step where tests are discovered (**ListFullyQualifiedTests**) does not pass the platform variable to vstest.console.exe resulting in the following:

I tested on the build agent, and executing the exact same command-line, but with **/Platform:x64** added, results in expected behaviour.

[2017-05-05 15:15] arjgupta commented on #4252
Hi @Sheludchenko , if you select an app name from the app service name dropdown, then you will be able to edit additional options without having to reselect application, but if you use a Variable like in the screenshot, then it won't work. We are working on fixing this issue. It will fixed in the next couple of days.

[2017-05-05 15:16] marcwmiller opened #4256 "vstest.console.exe failed with return code: 4294967295"
I'm getting the following error intermittently (approx 10-20% of CI build/tests) with the Visual Studio test runner (version 2.0.30):

Error: C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe failed with return code: 4294967295

My solution is VS2017 with .Net Core and Xunit test projects. I'm using the Hosted VS2017 agent.

Not o

[2017-05-05 15:19] acesiddhu commented on #4255
Thanks for reporting it. Can you tell if the test assemblies are native or .net assemblies? Also in the task are you passing x64 via other console options or testsettings?

[2017-05-05 15:22] TheodorKleynhans commented on #4255
Hi.

It's .NET Assemblies. We force them to x64 since there is some PInvoke to a
native 64-bit dll.

We're passing x64 via Other Console Options.

Regards, Theodor

On 05 May 2017 5:19 PM, "Siddhartha Pandey" <notifications@github.com>
wrote:

Thanks for reporting it. Can you tell if the test assemblies are native or
.net assemblies? Also in the task are you passing x64 via other console
options o

[2017-05-05 15:23] janpieterz commented on #4256
I also experience this lately, nothing to note with debug logging on, it just quits.
I also have it with some msbuild tasks (same idea, .net core in solution, xunit, hosted vs2017 agent).

Started happening since Tuesday

[2017-05-05 15:33] paonekumar commented on #4191
@ananthaakumar I have used below publish action to Ignore verification errors and for not dropping objects not in source.
 /p:TreatVerificationErrorsAsWarnings=false /p:BlockOnPossibleDataLoss=False /p:DropObjectsNotInSource=False /p:DropConstraintsNotInSource=false /p:DropIndexesNotInSource=false /p:DropDmlTriggersNotInSource=false /p:ScriptDatabaseOptions=False

[2017-05-05 15:44] acesiddhu commented on #4255
Can you use runsettings instead once with x64 option and remove other console output

https://msdn.microsoft.com/en-us/library/ee782531.aspx

Check this for runsettings example.

Sent from my Windows 10 phone

From: TheodorKleynhans<mailto:notifications@github.com>
Sent: 05 May 2017 20:52
To: Microsoft/vsts-tasks<mailto:vsts-tasks@noreply.github.com>
Cc: Siddhartha Pandey<mailto:Siddhartha.Pandey@

[2017-05-05 15:57] ampetrushenko commented on #4241
Logs were sent to email RM_Customer_Queries@microsoft.com. Thanks

[2017-05-05 16:28] alexmullans commented on #3762
@joacar are you using any private repositories, or only packages from nuget.org? If the latter, you can use dotnet restore, which should get you working.

[2017-05-05 21:01] anthonychu commented on #4168
@DavidStaheli Are you open to a community contribution on this?

[2017-05-05 21:02] DavidStaheli commented on #4168
Absolutely @anthonychu!

[2017-05-06 12:41] cytron201 opened #4259 "Restore Nuget Packages Step: "chcp.com 65001" takes nearly 1 minute"
2017-05-05T18:00:08.1167083Z ##[section]Starting: Restore nuget packages
2017-05-05T18:00:08.5386488Z [command]C:\Windows\system32\chcp.com 65001
2017-05-05T18:00:08.5542809Z Active code page: 65001
2017-05-05T18:01:01.3833822Z Detected NuGet version 3.3.0.212 / 3.3.0
2017-05-05T18:01:01.3990072Z SYSTEMVSSCONNECTION exists true

Potentially not an issue with the build step itself, but the process

[2017-05-08 02:14] jrmcdona opened #4262 "Only one command should be used for npm. Use 'Arguments' input for additional arguments."
Hello-

I have two NPM commands and they seem to be fairly different.

One is:
npm install

2nd is:
npm run ionic:build --prod

Any reason why I cannot have two NPM tasks in the VSTS build task list?

Thanks

[2017-05-08 05:30] mderriey commented on #415
Using TFS 2017.1 and a build agent having only VS 2017 installed.
Switching to the v2 of the task - still in preview - worked for me as well.

[2017-05-08 05:57] daniefvh commented on #4256
Same here. Just randomly started happening. It is a major blocker/annoyance for us.

[2017-05-08 06:22] acesiddhu commented on #4256
@AbhitejJohn can you check

[2017-05-08 06:35] AbhitejJohn commented on #4256
Tagging @smadala . Can someone share the diagnostic log too please(with System.Debug "true")?

[2017-05-08 06:40] janpieterz commented on #4256
Two attached, both debug set to true, same project, failed at different location with no 'reason'. Couldn't find anything significant.

[logs_failed_msbuild.zip](https://github.com/Microsoft/vsts-tasks/files/982541/logs_failed_msbuild.zip)
[logs_failed_vstest.zip](https://github.com/Microsoft/vsts-tasks/files/982542/logs_failed_vstest.zip)

[2017-05-08 06:51] bishal-pdMSFT commented on #4153
A new configuration means a new version of service and application. Hence, you should update the version and then try upgrade. For more details see [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade-tutorial-powershell).
Can you please provide more details about your ring set-up. are you using same cluster for multiple rings?

[2017-05-08 06:54] nirjashrestha commented on #4131
@arjgupta @vincentdass Please could you provide an update on this issue. Have sent the log and web.config file.

[2017-05-08 07:03] roryprimrose opened #4264 "NuGet restore build step does not handle framework conditions around PackageReference"
Hi there,

I'm having issues with a project that I've converted to multi-target using the new project format. The project is configured as ```<TargetFrameworks>netstandard1.5;net452</TargetFrameworks>```. It also pulls in a NuGet package that only supports the full framework.

[code]

This is fine in Visual Studio at compile time because the packages are restored correctly and usages of that libra

[2017-05-08 07:06] roryprimrose commented on #4264
Forgot to add, this is using the v1 of the build task

[2017-05-08 07:53] dmccaffery commented on #3948
Does the Deployment mode of "Validation only" not already do this?

https://github.com/Microsoft/vsts-tasks/blob/3e778c26d592fd5e6fc513e4eebee404984520eb/Tasks/AzureResourceGroupDeployment/task.json#L167

Although I found that this mode completely ignores parameters files and thus will fail if the template defines a parameter that does not have a default value. Correct me if my understanding of th

[2017-05-08 08:32] smadala commented on #4256
@janpieterz, @daniefvh To run .net core unit tests choose vstest.console.exe from "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe".
in vstest task (Execution options -> Specific location). In "Other console options" pass /diag:log.txt for diag information. please attach log.txt and log.*.host.txt.

@marcwmiller Please enable /d

[2017-05-08 08:47] samattridge commented on #3896
Thanks @N-Usha.  So this means we need to duplicate any tasks that use the Azure CLI Preview type for each subscription we want to use them in?  Seems rather counter-intuitive.  I'd obviously prefer not to do this so I'll have to find a work-around.

[2017-05-08 09:08] janpieterz commented on #4256
Seems for vstest to have something to do with code coverage. Where do I get those log.txt files from?
Also any thoughts about the msbuild one?

[logs_639.zip](https://github.com/Microsoft/vsts-tasks/files/982969/logs_639.zip)

[2017-05-08 09:59] smadala commented on #4256
/EnableCodeCoverage yet to support in .net core. [Tracking here](https://github.com/Microsoft/vstest/issues/579).

Pass `/Framework:FrameworkCore10` arg in "Other console options" for running .net core tests.
log.txt is relative path from current working directory, you can pass absolute path too.

No vstest task or tests running in msbuild one. It was failing in Build solution, @acesiddhu Can you

[2017-05-08 10:09] ChristianMes commented on #4153
Hi @bishal-pdMSFT , thanks for coming back on my issue.
We need to run multiple different versions of the same application in parallel separated in "Rings". One mesh of services as the "Canary"-Ring one as "Beta" and finally the production mesh. We have gateway services as entry points dispatching to those rings based on defined ring affinity.

We are first upgrading the canary ring, if it is runn

[2017-05-08 10:09] arjgupta commented on #4226
Hi @shyamsrini , can you please send the full debug logs for the task to RM_Customer_Queries@microsoft.com . You can generate the debug logs by setting the system.debug variable to true in the variables tab.

[2017-05-08 10:35] nigurr commented on #4243
Hi,

Thanks for suggestion. Currently we produce individual TRX file per slice.
Please add your suggestion https://visualstudio.uservoice.com/forums/330519-team-services and vote for it. Will happy to improve the experience.

[2017-05-08 10:35] #4243 closed

[2017-05-08 10:41] jpierson commented on #3787
The hosted builds are still failing for me with the same error. The linked duplicate issue seems to indicate that the problem was addressed in the build hosts or am I missing something?

[2017-05-08 10:43] nigurr commented on #4251
Hi,

Can you run this command in your local machine and see if it's working
`C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe "d:\a\1\s\Trovare.Base\Trovare.Base.Sample.Test\bin\Release\Trovare.Base.Sample.Test.dll" /TestCaseFilter:"TestCategory=DataAccess" /logger:trx /TestAdapterPath:"d:\a\1\s"`

If not can you please check

[2017-05-08 10:44] nigurr commented on #4256
We are adding respective folks to investigate into this issue. Seems like both `msbuild and vstest` are failing with same error code.

[2017-05-08 10:47] jpierson commented on #3787
Also trying MSBuild I see a similar error.

[2017-05-08 10:50] bryanmacfarlane commented on #3787
@jpierson - you have to pick the VS2017 queue on your definition.  That will get you to a machine that has VS 2017 (msbuild 15.0)

[2017-05-08 10:53] jpierson commented on #3787
Ok for others running into the same issue it appears that the trick was to also change the Agent setting under Options for the build definition itself and not just the MSBuild/VSBuild version.

![image](https://cloud.githubusercontent.com/assets/1467146/25801297/f44c1578-33ba-11e7-807b-9b91f127a85b.png)

Thanks @bryanmacfarlane, I just saw your comment as I was pasting in my findings.

[2017-05-08 10:55] bryanmacfarlane commented on #3787
Yeah, we are aware of that problem.  Having to "match up" multiple settings is a big problem.  We are discussing various options.

[2017-05-08 10:59] gusdewa commented on #4076
Hi @prawalagarwal , I do apologize for my late response.

Here is my run settings:
`<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <TargetPlatform>x64</TargetPlatform>
  </RunConfiguration>

  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Micro

[2017-05-08 11:06] gusdewa commented on #4076
Just sent you the logs. @prawalagarwal

[2017-05-08 11:16] joacar commented on #3762
@alexmullans I disabled the `**uGet restore**-task and replaced it with **dotnet restore** (arguments `*/*.csproj`) and that step is running to completion but the build step is failing.

Will try to replace it with `dotnet build`

[code]

[2017-05-08 12:03] marcwmiller commented on #4256
@smadala - I have enabled /diag:log.txt as requested and will attach log files after next failure.

[2017-05-08 12:18] marcwmiller commented on #4256
@smadala - As luck would have it (I guess) I got the error first time running CI build after enabling diagnostic logs. Please find log files attached.
[6_Test Assemblies .Tests.dll.txt](https://github.com/Microsoft/vsts-tasks/files/983413/6_Test.Assemblies.Tests.dll.txt)
[log.host.17-05-08_12-07-31_43223_4.txt](https://github.com/Microsoft/vsts-tasks/files/983417/log.host.17-05-08_12-07-31_43223_4

[2017-05-08 12:50] smadala commented on #4256
@marcwmiller

 Looks vstest.console.exe exiting abnormally,   Can please share log.txt which will be in current directory of vs test task command runs.
vstest.console.exe full dump by following instructions [here](https://msdn.microsoft.com/en-us/library/windows/desktop/bb787181(v=vs.85).aspx).

[2017-05-08 12:59] marcwmiller commented on #4256
@smadala - I *think* I've correctly updated the Copy Files task to capture the log.txt file (we'll have to wait for another failure).

But I'm not sure about your last request for logs - I'm using the Hosted VS2017 agent and cannot perform instructions provided in the link. Please advise.

[2017-05-08 13:31] naile commented on #4256
This seems widespread, we have this error in approx. every 3rd build or so for several projects. Sometimes consecutive test runs have this, then it works for a couple of builds without any apparent change on our side. This happens only in VSO i haven't been able to repro locally.

Solution is VS 2017 .Net 4.6, Nunit 3.7, Hosted VS2017 agent

[2017-05-08 13:58] keesschollaart81 commented on #3198
I've created a [VSTS extension](https://marketplace.visualstudio.com/items?itemName=keesschollaart.arm-outputs) which does exactly this... Hope it helps!

[2017-05-08 14:05] rikkitherockett commented on #3962
+1

I've got the exact same problem. What's going on in SetupTestMachineForUiTests? The machine/agent seems to be stuck in restarting its box - no ending.

I cannot cancel the build, I will have to restart the vsts-agent, to explicitly fail the build, and ensure the VS deployment blah blah.. service, which is dynamically registered is disabled once the box is back up, before it restarts again..

[2017-05-08 14:22] rikkitherockett commented on #3962
Found the issue.

Turns out the Test Agent User - used to configure the agent must be logged in (have an active RDP session), otherwise the PS script SetupTestMachineForUiTests tries to reboot the machine and login using that credential..

In my case - where we have an AD environment (the box is joined to a domain..) there's legal notice upon logging in, and auto-logon (which I was lazy to find a

[2017-05-08 14:33] mathieu-benoit commented on #3948
Hey @dmccaffery, thank you for the heads up, that's exactly what I was looking for! I was looking at the "Action" field and not the "Deployment mode" field. You got it thanks. I'm closing this opened issue accordingly.
I will now need to play with it. Thanks for your remark about the parameter file.

[2017-05-08 14:33] #3948 closed

[2017-05-08 17:47] chrisrpatterson commented on #4264
What version of the NuGet package manager are you using in VS?  If you used that same version of the NuGet command line doe sit have an issue?

[2017-05-08 17:48] chrisrpatterson commented on #4262
Nope you can have as many as you need.  You can even change the display name for the instance in the editor so you can tell them apart in the build.

[2017-05-08 17:48] #4262 closed

[2017-05-08 17:52] chrisrpatterson commented on #4231
Take a look at https://www.visualstudio.com/en-us/docs/build/concepts/definitions/build/artifacts

[2017-05-08 18:28] smadala commented on #4256
@marcwmiller are you able to get log.txt file?
@nigurr Is there a way we can get dmp from Hosted server?

[2017-05-08 18:30] marcwmiller commented on #4256
@smadala - just got error moments ago. Please find attached log files.
[6_Test Assemblies .Tests.dll.txt](https://github.com/Microsoft/vsts-tasks/files/984481/6_Test.Assemblies.Tests.dll.txt)
[log.host.17-05-08_18-17-32_22127_4.txt](https://github.com/Microsoft/vsts-tasks/files/984487/log.host.17-05-08_18-17-32_22127_4.txt)
[log.host.17-05-08_18-17-58_32720_4.txt](https://github.com/Microsoft/vsts

[2017-05-08 22:45] SiCro commented on #3287
So friggen frustrating, had this issue as well with on-prem TFS 2017, had to add the build service account to the VS Enterprise Access Levels to get past the 401 Unauthorised error
![image](https://cloud.githubusercontent.com/assets/16787178/25828448/50129550-34a4-11e7-840a-1da23664ecf1.png)

[2017-05-09 01:22] nigurr commented on #3962
Thanks for suggestion. We have added this recently to v2 version. Now user will be notified about such legal notices and reboot is limited to 3 trials and informs the user why it failed to configure.

[2017-05-09 02:04] JacobHenner opened #4272 "Remove artificial restriction on length of inline PowerShell scripts."
Currently, inline PowerShell scripts are limited to 500 characters (`"maxLength": "500"`). Please remove this restriction so longer inline scripts can be used.

https://github.com/Microsoft/vsts-tasks/blob/b5eed6e36281234f3bd920ff7eeaa81c508596d7/Tasks/powerShell/task.json#L83

[2017-05-09 02:30] daniefvh commented on #4256
Just a note that we are not running .NET core.  I will try getting logs for you.

[2017-05-09 03:19] nigurr commented on #4256
@marcwmiller can you please send your VSTS account and build details to devops_tools at microsoft dot com
I will be investigating into this asap.

[2017-05-09 06:32] jikuma commented on #4236
The fix for this issue is already rolled out. Can you check.

[2017-05-09 07:54] parcae opened #4277 "Being able to specify the startpath for webdeploy when "Remove additional files at destination" is checked"
Not sure if this is a feasible option to request, but I would like to see the ability to supply a startpath for MSWebdeploy when the checkbox "Remove additional files at destination" is enabled. So in that case Webdeploy is doing a full sync on that path only and removing all additional files within that path and it's subfolders.
Releases which are only updating parts of the folders in the webroot

[2017-05-09 08:39] nvankesteren commented on #4256
FYI, we have the same problem with .net 4.6, VS2017, 2017 host, MsTest v2. And it happens to the build step as well, about as frequent.

[2017-05-09 09:35] ananthaakumar commented on #4191
@paonekumar Thanks a lot. its working for me.

[2017-05-09 09:54] nigurr commented on #4256
Hi,

We have created a Live Site Incident for the same and actively working on this.

[2017-05-09 10:07] metu commented on #3761
So how can one copy files to a hosted server? I use the run script task to run a deploy script that was generated by msbuild but I have a build folder that was created through gulp and isn't part of the deploy script.

[2017-05-09 11:08] bryanmacfarlane commented on #4006
It should work in either.  It's not specific to build or release.  RM should fix it.

[2017-05-09 11:12] bryanmacfarlane commented on #4272
This is a dupe.  We have it on our backlog to do "right".  That means use the web based editor, putting it in external file container storage (with a ref in the definition) etc...  Until then, the limit will stay.  It's not artificial - not deterministic / specific yes but a job with multiple with very large file contents can cause issues in job message orchestration server side.  Inline support a

[2017-05-09 11:17] bryanmacfarlane commented on #4208
reactivate if that doesn't work

[2017-05-09 11:17] #4208 closed

[2017-05-09 11:18] bryanmacfarlane commented on #4254
This is not a task issue from the repo.  It was related to live site incident on the service.   email be - bryanmac and that's at microsoft if you're still having an issue.  I'll have someone look at it.

[2017-05-09 11:18] #4254 closed

[2017-05-09 11:19] JacobHenner commented on #4272
Did not see the duplicate when I searched. Thank you for the quick response.

On May 9, 2017 7:12 AM, "Bryan MacFarlane" <notifications@github.com> wrote:

This is a dupe. We have it on our backlog to do "right". That means use the
web based editor, putting it in external file container storage (with a ref
in the definition) etc... Until then, the limit will stay. It's not
artificial - not determi

[2017-05-09 11:19] bryanmacfarlane commented on #4231
reactivate if those docs don't help or you're still suspecting an issue / bug

[2017-05-09 11:19] #4231 closed

[2017-05-09 11:22] bryanmacfarlane commented on #4168
We have bigger feature work on our backlog where we inline the web editor (monaco) and put the inline contents in file service (blob) with a reference to it in the definition.  This will come with that.

We're tracking that work externally.

[2017-05-09 11:22] #4168 closed

[2017-05-09 11:24] DavidStaheli commented on #4168
That sounds awesome!

[2017-05-09 11:29] bryanmacfarlane commented on #4272
It might be closed - we're tracking to do it "right" on our backlog.  Hopefully we get to it soon.

[2017-05-09 12:11] marcwmiller commented on #4256
@nigurr  - I am unable to email the information requested. My email is returned with the following error:

The groups only accept messages from people in their organization or on their allowed senders list, and your email address isn't on the lists

[2017-05-09 12:43] michelkamp commented on #2119
Hi ,

it would be great to have this option "Allow duplicates to be skipped" implemented. I have 1 solution containing several packages. i want to build this with 1 build plan. Now the Devs have to update all package numbers if they only have to change one package. So not a good way do doing.

This here any workaround for this now ? Should i use the nuget packager and apply only the project files

[2017-05-09 12:44] nigurr commented on #4256
@marcwmiller replied to you

[2017-05-09 12:45] JacobHenner commented on #4272
Yeah, it looks like the previous issue was #3447, which is closed. Is there any ETA for this? In the meantime, would it be possible to indicate the maximum length below the field?

[2017-05-09 13:32] wimmeerschman opened #4279 "Get-AgentIPRange fails when password contains "|""
When putting the firewall rules setting to "AutoDetect" it executes
    $ipAddressRange = Get-AgentIPRange -serverName $ServerName -sqlUsername $SqlUsername -sqlPassword $SqlPassword
$sqlPassword = firstPart|secondPart

This cmdlet fails, because it interprets the "|" symbol in the password as a pipe:
The term 'secondPart' is not recognized as the name of a cmdlet, function, script file, or operab

[2017-05-09 14:48] rposener opened #4280 "msbuild.exe fails randomly with exit code -1"
Last couple days, we are seeing random errors using Hosted VS2017 build agent tasks.  Our build includes all of the following:

- Sql Proeject (dacpac)
- asp.net mvc4 project
- asp.net web forms project
- asp.net core web project

failures are random as to which it fails on, but always just seem to be abrupt immediate return of -1.

exact same source has shown the following failures (in different

[2017-05-09 14:54] abatishchev commented on #2119
The work on new version is in progress to my knowledge. For now a workaround would be either writing own PowerShell script to publish which won't fail on conflict, or create publish package step for each package independently and make them to continue on error. This will make your build orange but it's better than updating all versions each time.

[2017-05-09 15:03] MattPitlyk commented on #3793
@vincentdass Is there an open issue that I can watch for updates about your script catching exceptions from my script?

[2017-05-09 15:05] ericsciple commented on #4280
One thing you can try is isolating whether this is related to the custom logger or not. You can try running the command directly (without the logger attached) to see whether you still get a repro. The msbuild command-line that the task runs is printed in log.

[2017-05-09 15:17] rposener commented on #4280
Not sure I'm following @ericsciple - the build fails on VSTS Hosted VS2017 build.  Runs fine when building locally.  How can I change the command being run on the Hosted environment?

[2017-05-09 15:18] nigurr commented on #4280
This issue and https://github.com/Microsoft/vsts-tasks/issues/4256 are related. we are investigating possible causes

[2017-05-09 15:19] ericsciple commented on #4280
How are you running msbuild? Are you using the MSBuild task or VSBuild task?

[2017-05-09 15:31] rposener commented on #4280
Thanks @nigurr - if I can provide logs or other details let me know.

[2017-05-09 15:39] rposener commented on #4280
System.Debug revealed this:
2017-05-09T15:34:29.7142022Z CopyFilesToOutputDirectory:
2017-05-09T15:34:29.7232492Z   Copying file from "obj\Release\PE.Unity.dll" to "bin\Release\PE.Unity.dll".
2017-05-09T15:34:29.7232492Z   PE.Unity -> C:\a\1\s\Releases\9.6\PE.Unity\bin\Release\PE.Unity.dll
2017-05-09T15:34:29.7232492Z   Copying file from "obj\Release\PE.Unity.pdb" to "bin\Release\PE.Unity.pdb".
20

[2017-05-09 15:44] chrisrpatterson commented on #4256
does everyone on this thread have .NET Core projects in their solution?  Also can you all post your account URLs?

[2017-05-09 15:47] ericsciple commented on #4280
@nigurr is it clear the issue you referenced is related? The issue you referenced is for vstest.console.exe. This issue is msbuild.exe.

[2017-05-09 15:48] ericsciple commented on #4280
@rposener look at the top of the log for the VSBuild task and you will see the msbuild.exe command line that the task runs. What you can try is adding a Command Line task instead of running the VSBuild task, and remove the custom logger from the command line. That will help to rule in/out the custom logger as the culprit.

[2017-05-09 15:50] marcwmiller commented on #4256
@chrisrpatterson - My solution contains .NET Core projects. I have shared account URL with @nigurr and can email to you if you'd like.

[2017-05-09 16:02] alexmullans commented on #2119
@michelkamp we're taking the "Allow duplicates to be skipped" work this sprint. Should be available in about a month.

[2017-05-09 16:06] chrisrpatterson commented on #4256
@marcwmiller can you simply ping your account and tell me what it resolves to.

[2017-05-09 16:07] janpieterz commented on #4256
Jup, contains .NET core, account url is intreba.visualstudio.com, one of affected projects Arke.
@nigurr has access to this already.

[2017-05-09 16:09] marcwmiller commented on #4256
@chrisrpatterson tfsprodcus1.app.visualstudio.com [104.43.203.175]

[2017-05-09 16:10] rposener commented on #4280
It appears the issue is tsc.exe is an older version (2.1), which is run by the VSBuild task.  I did not realize there was a nuget package Microsoft.TypeScript.MSBuild that would provide this functionality with upgrade.  I believe this is our issue- have added that to the project now, and I am waiting for build to complete.  If this does not solve it, will try your suggestion of removing custom log

[2017-05-09 16:13] nigurr commented on #4280
@rposener Can you please share your account name?

[2017-05-09 16:15] chrisrpatterson commented on #4280
@nigurr  his url is https://praceng.visualstudio.com

[2017-05-09 16:15] rposener commented on #4280
New error with typescript package - not sure if this helps:
C:\a\1\s\Releases\9.6\packages\Microsoft.TypeScript.MSBuild.2.3.1\tools\net45\Microsoft.TypeScript.targets(182,8): error MSB4064: The "IsFileSystemCaseSensitive" parameter is not supported by the "FindConfigFiles" task. Verify the parameter exists on the task, and it is a settable public instance property. [C:\a\1\s\Releases\9.6\PE.Web.Ma

[2017-05-09 16:17] rposener commented on #4280
Another with same: https://github.com/Microsoft/TypeScript/issues/15536

[2017-05-09 16:20] rposener commented on #4280
Oddly, we just had a successful build from another dev's checkin.  Keeps with the randomness.

[2017-05-09 16:47] rposener commented on #4280
Possibly related (Roslyn move) https://github.com/Microsoft/msbuild/issues/1542

[2017-05-09 17:02] michelkamp commented on #4163
just tried it and it works. Just follow vincentdass answer .
The mistake i made was that i was in the dev slot and forgot to create the virtual directory + application ;-)

michel

[2017-05-09 17:12] chrisrpatterson commented on #4256
Another question, what about TypeScript?

[2017-05-09 17:13] chrisrpatterson commented on #4280
That is interesting.  I wonder if that was related at all.

[2017-05-09 17:13] marcwmiller commented on #4256
@chrisrpatterson - nope.

[2017-05-09 17:15] janpieterz commented on #4256
Jup, all failing builds have TypeScript projects

[2017-05-09 17:19] janpieterz commented on #4256
Typescript compile *should* be disable though, at least on the msbuild
failing projec
--
Met vriendelijke groet,

Jan-Pieter Zoutewelle

[2017-05-09 17:20] rposener commented on #4280
I have tried everything (adding Microsoft.TypeScript.MSBuild package) and (adding System.IO.FileSystem package) - neither seems to work. Could not figure out how/where to add the property to the .csproj noted as a workaround in the related msbuild issue.

[2017-05-09 17:38] benc-uk commented on #3972
Same problem here, I'm getting 's' appended to my path NO MATTER WHAT I DO!
so specifying `--configuration release -o pub` in my task results in `publish /opt/vsts/work/1/s/dotnet-demoapp.csproj --configuration release --output pub/s` being executed.

**Where is this 's' coming from, this doesn't happen when running locally, only in VSTS**

[2017-05-09 17:56] chrisrpatterson commented on #4280
@rposener  would you be willing to send me your proj files?  chrispat@microsoft.com

[2017-05-09 17:56] benc-uk commented on #3972
I've given up on the Dotnet Core tasks, and just used a simple command task

[2017-05-09 18:06] chrisrpatterson commented on #4256
@janpieterz did you recently change or update the typescript version?

[2017-05-09 18:47] pascalberger opened #4281 "Support markdown for instructions of the manual intervention step"
It would be nice to have some formatting options (markdown) for the instructions of the manual intervention step.

[2017-05-09 18:49] pascalberger opened #4282 "Remove max size restriction for instructions on the manual intervention step"
Is there a specific reason why the instructions field of the manual intervention step [is restricted to 500 characters](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/ManualIntervention/task.json#L31)? IMHO it is not unusual to have instructions longer than 500 chars.

[2017-05-09 18:51] pascalberger opened #4283 "Add notification to manual intervention step"
It would be nice if there was a notification checkbox on the manual intervention step which would send out an email. Options for the recipient could be the user which has started the deployment or a specific user or group.

[2017-05-09 19:09] janpieterz commented on #4256
@chrisrpatterson wouldn't say recently, moved to 2.2.2 the 9th and 19th of April, but to be honest the history seems to stop after a bit (probably a setting) and I can't trace back when these started.

Maybe something that changed is that I've added GitVersionTask to both solutions recently, though I haven't found anything in the logs suggesting that fails (though neither anything else).

[2017-05-09 19:11] chrisrpatterson commented on #4280
@rposener Can you remove all of the lines in your project files that refer to typescript props and targets that do not come from the NuGet package.  In the project you sent me that would be line 4 and line 1786.  Looking at those should give you a pattern for taking those out of other project files as needed.  Also update the TypeScriptToolsVersion element to 2.3 from 2.1

[2017-05-09 19:26] chrisrpatterson commented on #4256
@janpieterz  How are you referencing TypeScript?  If you are using NuGet can see check your project files to see if you happen to be importing targets from both the MSBuildExtensions location
<Import Project="$(MSBuildExtensionsPath32)\Microsoft\VisualStudio\v$(VisualStudioVersion)\TypeScript\Microsoft.TypeScript.targets"

and the NuGet
  <Import Project="..\packages\Microsoft.TypeScript.MSBuild.2

[2017-05-09 19:38] janpieterz commented on #4256
I'm using npm, no reference to typescript in csproj or in packages. Only references in csproj to Typescript are:
[code]

[2017-05-09 19:49] chrisrpatterson commented on #4256
@janpieterz  sorry I am working on a couple of issues at the moment.  Are you also seeing random failures in MSBuild with a return code of -1 or are you only seeing the vstest.console failure?

[2017-05-09 19:51] janpieterz commented on #4256
No worries! I am seeing both, so msbuild sometimes fails with -1, sometimes vstest.console fails with some number.

[2017-05-09 19:56] rposener commented on #4280
@chrisrpatterson the version change alone did not change anything.  Am trying to remove the other bits and will give it another go.  Probably last thing I can try today - have to catch flight to build.

[2017-05-09 20:01] ChristophB125 opened #4284 "Secret variables are not secure"
It is very easy for a normal user with no admin rights to get the value of any secret variable. Let the secret variable name be *secretVariable* and its value *secretValue*. Then in a PowerShell script simply put the following code:
``!$(secretVariable)``
The console log then contains the value of the secret variable 4 times in plain text:

2017-05-09T20:09:44.0463696Z ##[error]!secretValue : The

[2017-05-09 20:05] rposener commented on #4280
@chrisrpatterson no dice on that - different error, looks like it tried to compile ts this time, but failed (presumably due to lack of definitions provided by the targets somehow)?

[code]

[2017-05-09 20:06] chrisrpatterson commented on #4256
@janpieterz which version of the GitVersion task are you using?

[2017-05-09 20:10] janpieterz commented on #4256
4.0.0-beta0011
Test projects don't reference this though

[2017-05-09 20:11] chrisrpatterson commented on #4280
ok but that is a typescript compilation error and something that you should be able to fix.

[2017-05-09 20:12] rposener commented on #4280
Yeah, just kind of noticing that... Web Notifications - they must be included, but only partially....

[2017-05-09 20:13] chrisrpatterson commented on #4256
but the build projects do.  This feels like some sort of assembly mismatch error that is not bubbling through to me.  I am just to exactly sure where, Thanks for the information.

[2017-05-09 20:16] chrisrpatterson commented on #4280
Not sure what web notifications are.   Where you are you downloading that type definition from?

[2017-05-09 20:17] rposener commented on #4280
See this: https://github.com/Microsoft/TypeScript/issues/3111

[2017-05-09 20:20] ericsciple commented on #4284
@ChristophB125 what agent version are you on? i believe we scrub error messages in current agent version

[2017-05-09 20:21] ericsciple commented on #4284
...also note, if you have edit permission to the definition, then you are the admin of that definition.

[2017-05-09 20:26] chrisrpatterson commented on #4280
According to the dev on the TypeScript team you can remove the Notification.d.ts references now with 2.3 because it is included in lib.d.ts and that is added automatically.

[2017-05-09 20:28] ChristophB125 commented on #4284
@EricJizbaMSFT : I am using the 'Hosted' agent. One does not even need to have permission to edit the build definition. A user who can commit code to the repository can simply add the following line to extract the variable without even breaking the build:
``try{!$(secretVariable)}catch{}; $value=$error[0].Exception.CommandName; Write-Host "The value of the secret variable is $value"``

[2017-05-09 20:29] janpieterz commented on #4256
Interesting, I did have some issue with System.Runtime being assembly redirect, on runtime, which was caused by GitVersionTask. Test project doesn't reference this, but who knows.

I'm more than happy to give you access and you can kick off as many builds as you want (it's night time here). If so, you might want to disable the npm/webpack tasks when doing since they slow it down a lot.

[2017-05-09 20:32] chrisrpatterson commented on #4256
sure is your account MSA or AAD backed? if MSA backed you can add chris@pattersonplace.org.  If AAD you will probably need to invite me to your tenant so it would be chrispat@microsoft.com.

The System.Runtime redirect I have seen before.  In that case it seemed adding some Roslyn analyzers caused it.

[2017-05-09 20:36] mikanyg commented on #4153
Would it make sense to have the task support all variants of the powershell cmdlet parameter, e.g. Register, Upgrade and RegisterAndUpgrade?

[2017-05-09 20:43] chrisrpatterson commented on #4256
@janpieterz can you make me a PCA so I could register an agent on a debug pool please

[2017-05-09 20:59] janpieterz commented on #4256
AAD backed, invited you but doesn't seem to want to add you as a PCA as of yet

[2017-05-10 01:16] daniefvh commented on #4256
Just a quick note that we partially resolved this problem by not using GitVersion during MSBuild but rather moving it to an extra Build Task in VSTS. The Build passes more regularly now, but we are still seeing occasional failures.

If I had to place a bet on it, I'd say the Agent is running out of resources during the build.

[2017-05-10 01:35] chrisrpatterson commented on #4256
@daniefvh It is not the agent that is failing, it is MSBuild.  The machines have 7GB of memory so resources seem  unlikely but possible.  There is an option on the task to switch to 64bit MSBuild. Which version of GitVersion where you using?

[2017-05-10 01:36] chrisrpatterson commented on #4256
@janpieterz thanks I will see what I can figure out.

[2017-05-10 01:46] duckwaffle opened #4288 "Command Line - Piping commands to output file"
Hi,

I'm trying to create a simple task that will output build variables to a file using the Command Line task, but I cannot get the stdout stream of echo to write to a file, is this possible? I have tried many different ways of getting the output to pipe into a file, but none of them seem to generate a file.

The methods I have tried are all variations using quotes, double quotes, backticks etc.

[2017-05-10 01:47] duckwaffle commented on #4288
It's worth noting that I have been testing on a mac build agent, so I don't have access to the powershell task, otherwise I would use an inline powershell script.

[2017-05-10 01:50] bryanmacfarlane commented on #4288
It does not support piping (that's a shell concept).  It supports running a process with arguments.

A script is probably the way to go.

We have discussed the possibility of taking your input and generating a temp script on the fly.

[2017-05-10 01:52] daniefvh commented on #4256
@chrisrpatterson we tried upgrading to the latest version and that still failed.

[2017-05-10 02:04] duckwaffle commented on #4288
Hmm, that is a touch annoying as there doesn't seem to be any way to write to a file on a non-windows agent without using a custom task.

[2017-05-10 02:05] bryanmacfarlane commented on #4288
Yeah, ad-hoc scripts (sh and ps1) are a much easier than a custom task.

[2017-05-10 02:13] bryanmacfarlane commented on #4284
Secret variables used to ensure that string (1) does not show up in the definition after initially inputting it and (2) does not show up in the web UI or logs when downloading it.

Of course it does not prevent users that can contribute to the automation from getting at the secret.  That is the point of automation.  If I can contribute to the automation, and the automation can get at the secret (t

[2017-05-10 02:13] #4284 closed

[2017-05-10 02:18] bryanmacfarlane commented on #4279
This isn't related to any of the tasks in this repo.  If it is, can you specify which one and reactivate?

[2017-05-10 02:18] #4279 closed

[2017-05-10 02:20] duckwaffle commented on #4288
I do see that the SSH task allows for creating essentially an inline shell script, if I wanted to SSH into localhost, are there pre-defined variables for the build agent's username and password?

[2017-05-10 02:22] duckwaffle commented on #4288
Nevermind, that task requires a pre made endpoint.

[2017-05-10 02:23] bryanmacfarlane commented on #4288
we do it have it on our backlog for proper inline support of shellscript, cmd and ps1

[2017-05-10 02:25] duckwaffle commented on #4288
Ok cheers, I will close this now. Thanks for the info.

[2017-05-10 02:25] #4288 closed

[2017-05-10 02:56] bryanmacfarlane commented on #4280
This issue started off with an msbuild repro of msbuild returning -1, meandered into a vstest console issue, meandered into a typescript valid compilation failure (return code 1) and then something about web notifications.

I don't want this thread to turn into any build issues with VS2017.  Should we close this and create a topic focusing on the msbuild -1 issue?

[2017-05-10 05:39] janpieterz commented on #4256
@chrisrpatterson Should I look into the (new) _TF209010_ error and/or create an issue with GitVersion or here? Seems that is unrelated to what's going on here (though also pretty weird).

Any thoughts about the msbuild/vstest failures?

[2017-05-10 06:21] roryprimrose commented on #4264
@chrisrpatterson v1 of the build task no longer provides this as an option, but you can see from the build log that it has resolved v4.0 of the NuGet CLI

[code]

[2017-05-10 07:07] wimmeerschman commented on #4279
Hi,

I didn't noticed I logged the issue on the level of all vsts tasks, the issues concerns this task:
/tree/master/Tasks/SqlAzureDacpacDeployment
More specific in file DeploySqlAzure.ps1, line 131.

[2017-05-10 08:41] ChristianMes commented on #4153
Yes, that would help us, since we know that the application type is already registered in our case. Ideally there would be an option to "register-if-not-existing" and upgrade.

[2017-05-10 09:28] dixhap opened #4289 "VSTS release failed in Run sql script on azure steps"
Error : Cannot bind argument to parameter 'Path' because it is null
##[error]System.Management.Automation.ParameterBindingValidationException: Cannot bind argument to parameter 'Path' because it is null.
2017-05-10T08:50:56.7307474Z    at System.Management.Automation.ExceptionHandlingOps.CheckActionPreference(FunctionContext funcContext, Exception exception)
2017-05-10T08:50:56.7307474Z    at Syst

[2017-05-10 09:29] bishal-pdMSFT commented on #4153
This looks like a valid requirement to me. @MikkelHegn, @RoopeshNair should we add support for upgrading without re-register?

[2017-05-10 10:04] OrestTkachuk commented on #4028
Could you please provide path to SQL Server Data Tools? I've tried following configuration for SqlPackage capability:
C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\130
C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB\DAC
C:\Program Files (x86)\Microsoft SQL Server\130\DAC\bin

Build fai

[2017-05-10 10:38] pcarcereri opened #4290 "Test run is aborted. Logging details of the run logs. UnExpected error occured during test execution. Try again."
Hi,

I am using TFS 2015 Release 3 and i found out an issue with the "Run Functional Tests" task when the user selects a particular test plan.
I created a test suite made by several tests created using MTM. By default MTM sets the "automation status" of each test to "Planned". I have associated the automation to four tests in the suite (using Visual Studio).
It seems that the "Run Functional Tests

[2017-05-10 10:53] bishal-pdMSFT commented on #4128
@alextolp what parameters can you possible use in this dialog? This dialog is not in context of a release or build and hence you wan't be able to use release/build variables.

[2017-05-10 10:57] bishal-pdMSFT commented on #4129
@RoopeshNair Any thoughts?

[2017-05-10 11:07] bryanmacfarlane commented on #4280
@rposener - the msbuild return of 1 in the middle of this thread is a real compilation failure (msbuild returns 1 on valid failure)

For the -1 case, you noted that you believed it may have been nuget.  I've been wondering the same whether some nuget package got updated and it has a intermittent failure (timing).  This is msbuild failing and it's useful to note that the image, the tasks and our se

[2017-05-10 11:16] bryanmacfarlane commented on #4289
There is not enough info here.

Which task is failing?  Is that a custom powershell script or a task?

[2017-05-10 12:13] chrisrpatterson commented on #4256
@janpieterz take a look at the clone of your definition in the project.  I made a small change and it potentially points to a logger we hook up.  For now you could potentially unblock yourself by adding a similar change.  Now we have not changed that logger in a couple of years so it appears their might be some new interaction with MSBuild we need to look into.

[2017-05-10 12:43] chrisrpatterson commented on #4256
@janpieterz while I am working through debugging this issue I am going to temporarily increase the number of hosted agents in your account so I don't block your normal work

[2017-05-10 13:10] janpieterz commented on #4256
@chrisrpatterson I see, interesting. I'll wait for you to finish, only need to build correctly once for this security advisory.

[2017-05-10 13:18] chrisrpatterson commented on #4256
@janpieterz you have 5 agents right now so you should be able to build.

[2017-05-10 13:19] janpieterz commented on #4256
Jup, I noticed when both ran at the same time. Cheers!

[2017-05-10 14:28] nvankesteren commented on #4256
We don't have any .NET Core / TypeScript stuff.

We went back to the non-2017 host and all is well. We can't open it up for experimenting with builds since we have external dependencies (database for end2end tests).

Like I said in a previous post, we see builds failing on either the build step _or_ the test step (not both).

[2017-05-10 17:31] chrisrpatterson commented on #4256
@janpieterz  thank you for your patience.  We are working with the MSBuild team to figure out what additional diagnostics we can gather.  It seems the failure rate is about 20% and the MSBuild failure happens at a different place in the project every time.

[2017-05-10 17:36] janpieterz commented on #4256
@chrisrpatterson no worries, happy to help! If you want to speed up your build test, you could disable webpack and npm, they shouldn't bother the msbuild and test!

If you'd like me to add any other MS employee just send me an email or ping me here, besides that I'm enjoying the notifications for the builds in our Slack 😄

[2017-05-10 18:28] rposener commented on #4280
Hi Guys - finally have a minute to look at this again - here is the latest failure.  I think we are getting close, and I believe the msbuild.exe failure is a result of the change in the .targets references Chris had me remove.  Here is the latest failure:

2017-05-10T17:55:25.5494824Z "d:\a\16\s\Releases\9.6\PE.Web.Main\PE.Web.Main.csproj" (default target) (2) ->
2017-05-10T17:55:25.5494824Z (Find

[2017-05-10 18:59] chrisrpatterson commented on #4280
@yuit can you help with this TypeScript issue?

[2017-05-10 19:29] bishal-pdMSFT commented on #4088
@SeanStayn VSTS CD can only work if VSTS has access to your local cluster. You can setup reverse proxy and open up firewall ports so that VSTS can access your local cluster over internet.
The cluster endpoint should be of form tcp://<cluster-url>:<port>. port is usually 19000 for programmatic access.

[2017-05-10 20:13] yuit commented on #4280
@rposener  could you share with me the build error and csproj again? Just to be clear this is same as original issue [here](https://github.com/Microsoft/vsts-tasks/issues/4280#issuecomment-300285343) even after all the modification suggested by @chrisrpatterson ?

[2017-05-10 20:58] rposener commented on #4280
So 1 of our builds are successfully building again. Just made same changes in our release branch and waiting results of it's build (looks good so far - should know soon).  Issue was using TypeScript 2.3 (via nuget package) and the .csproj still had reference to TypeScript MSBuild targets and props files which were in the msbuild win32 extensions folder.  As I understand things, when that is includ

[2017-05-10 21:02] rposener commented on #4280
Build succeeded - this can be closed - see last note about how to fix if others have the same issue.  Thank you @chrisrpatterson !

[2017-05-10 22:24] awcab opened #4292 "Service Application Deployment: Value does not fall within the expected range"
With no application changes, we just started seeing this today.  Things worked fine yesterday. Has something changed with the deploy task?

Successfully connected to cluster.
2017-05-10T17:17:53.0768795Z Searching for path: d:\a\1\s\Stage.xml
2017-05-10T17:17:53.0858774Z Found path: d:\a\1\s\Stage.xml
2017-05-10T17:17:53.0868750Z Overriding application parameter file specified in publish profile w

[2017-05-11 01:39] bryanmacfarlane commented on #4280
Let us know if you hit it again.  My gut says the changes lost the -1 repro and the msbuild 1 failure is a valid red herring for this issue.  But we have a couple other repros we're tracking on.

[2017-05-11 03:08] Konnor5092 opened #4293 "Unable to deploy Test Agent on Azure VM - WinRM issue"
Hi there,

For some reason I am unable to deploy the Test Agent on a VM with the following error...

`2017-05-11T03:03:32.4966120Z ##[warning]Task 'VerifyTestAgentInstalled' for machine DockerVM:5986's Error : System.Management.Automation.Remoting.PSRemotingTransportException: Connecting to remote server DockerVM failed with the following error message : The WinRM client cannot process the request

[2017-05-11 03:48] rposener commented on #4280
I'm afraid you are right @bryanmacfarlane - just failed again on same source:

[code]

Please let me know what next steps are.

[2017-05-11 04:14] nigurr commented on #4290
@pcarcereri Sorry for the trouble. This has been fixed in TFS 2017 and later versions.

[2017-05-11 04:14] #4290 closed

[2017-05-11 04:20] MECLab-Keags commented on #4292
We're experiencing the same issue as of today.

[2017-05-11 05:52] rposener commented on #4280
Just was re-reading this and noticed @bryanmacfarlane comment about turning off "Record Project Details".  We have 6 separate build tasks on the build definition - and it seems to randomly fail on one of those most of the time.  I am turning that option off on all 6, and will try a few builds.  If it looks good, I will leave/encourage our team to check in and trigger some builds to see if that mak

[2017-05-11 06:01] rposener commented on #4280
no dice on that change @bryanmacfarlane - still getting a msbuild.exe failure 1 at a random point.

[2017-05-11 06:46] yogendra-kaushik commented on #3027
Hi @nigurr, same issue, please suggest if we have any available solution now ?

[2017-05-11 12:02] johnkattenhorn opened #4298 "PublishSymbols Task and Functional Breakpoints"
I'm pretty sure this is nothing to do with the PublishSymbols task but I though I'd ask anyway. We have the following:

VSTS Private Build Agent
Shared Drive Using Azure File Storage to hold symbols
PublishSymbols step to publish to Shared Drive
Visual Studio 2017 Enterprise configured to use the same Shared Drive as Symbol Server

If I set a breakpoint and step into some code which we have symbol

[2017-05-11 12:18] mqlkmd commented on #4083
Have you tried putting below line at the top of your ps script? (This will make it import the module that contains the cmdlet Get-AzureRmWebApp).

`#Requires -Module AzureRM.Websites`

[2017-05-11 13:23] Fizcko commented on #4008
Hi @cooljig89,

First of all you have to create a "Generic Endpoint" with the following settings :

In "Connection Name" enter "Json Place Holder".
In the "Server URL" setting enter "https://jsonplaceholder.typicode.com". Then validate.
Note you can fill the fields username and password if the target site need basic authentication.

Now you have to had a new "input" in your "task.json" like this :

[2017-05-11 13:34] mrichman commented on #4083
That's a good idea, but I actually got it working by uninstalling whatever was there previously, and then installing the latest Azure PowerShell MSI (3.8.0).

[2017-05-11 13:34] #4083 closed

[2017-05-11 13:41] nigurr commented on #3027
You can download the coverage files and view it with rich HTML experience in offline. We still don't have timelines to share :(

[2017-05-11 13:55] sgrebnov commented on #4280
I see the same random `Process 'msbuild.exe' exited with code '-1'. `error when building UWP project (`Visual Studio Build` task). The error happens in different  build phases (the exact same VSTS configuration) and occurs randomly.

[code]

Full build trace: https://gist.github.com/sgrebnov/036ac36b3fa15d086900d7adad93dc07

Here log file from VSTS with enabled debug mode (different run):
https://

[2017-05-11 14:26] Fizcko commented on #4008
Hi @cooljig89,

First of all you have to create a "Generic Endpoint" with the following settings :

In "Connection Name" enter "Json Place Holder".
In the "Server URL" setting enter "https://jsonplaceholder.typicode.com". Then validate.
Note you can fill the fields username and password if the target site need basic authentication.

Now you have to had a new "input" in your "task.json" like this :

[2017-05-11 14:26] aloneguid commented on #4292
same for me today, absolutely nothing has changed in deployment scripts

[2017-05-11 14:29] negberts commented on #4292
Same here after upgrading to service fabric 5.6.204

[2017-05-11 14:37] aloneguid commented on #4292
@negberts my cluster is running 5.5.216.0 so nothing changed here

[2017-05-11 14:39] jrodrigv commented on #4243
Hi,

I'm also quite interested on this feature.

It is quite annoying to have several trx generated per solution, because then I will need to check each of them to review its test output.

In my opinion the output from the Fuctional Test Task Run should be as close as possible to the output from the VSTest task.

[2017-05-11 14:41] chrisrpatterson commented on #4256
@janpieterz we have a repro from a basic solution https://github.com/sgrebnov/Windows-appsample-coloringbook now.  You can remove me from your account if you want.  For a temporary work around if you add a second vsbuild task right after the first one and set the first to continue on error it seems to complete successfully 100% of the time.

[2017-05-11 14:41] negberts commented on #4292
@aloneguid isn't your cluster automatically upgraded in Azure? Automatic upgrade is the default mode...

![image](https://cloud.githubusercontent.com/assets/20299260/25955170/bfacc406-3668-11e7-9ed4-1daed5e6b61b.png)

[2017-05-11 15:19] aloneguid commented on #4292
@negberts as long as I understand it's not upgraded as soon as a new version appears - in your screenshot the current fabric cluster runs on 5.5.

[2017-05-11 15:40] RCerff commented on #4251
Hello Nigurr,

thank you for your response. At the moment I'am in holiday. I will try that, when I'am back next week.

Best regards
Rolf

[2017-05-11 15:49] johnweeder commented on #4292
I could not deploy, received this same error, until I forced a manual upgrade of the service fabric to 5.6. After upgrading, I now get a different message during deploy:
Split-Path : The term 'Split-Path' is not recognized as the name of a cmdlet, function, script file, or operable
2>program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

[2017-05-11 15:50] johnweeder commented on #4292
I would also note that Platform installer wants to keep installing the SF SDK and Tools even though I have installed them multiple times!

[2017-05-11 16:03] aloneguid commented on #4292
I've changed the deployment queue from "Hosted VS2017" to "Hosted" and this started working again, therefore I suspect there is something wrong with the new VSTS image.

[2017-05-11 16:04] rickm101 commented on #4292
Agreed - i'm having the same issue.

[2017-05-11 16:45] fahnzmode commented on #4182
I attempted to send more detailed information to that email address, but I am unable:

[2017-05-11 17:04] janpieterz commented on #4256
@chrisrpatterson Great to hear, just removed you. In case you need to get back in just let me know, otherwise good luck hinting, and cheers for that temp workaround!

[2017-05-11 17:05] janpieterz commented on #4256
What do I do with those agents btw?

[2017-05-11 17:11] cwhiting17 commented on #4156
I tried to email the image to devops_tools@microsoft.com  and the email was rejected.

This is how the overrides are being done
-AppServer $(APPSERVER)
-Port $(PORT)
-SqlConnectionString $(SQLCONNECTIONSTRING)

[2017-05-11 17:33] chrisrpatterson commented on #4256
@janpieterz the extra hosted agents should disappear.  You can also delete the agent in the default pool.

[2017-05-11 18:39] bishal-pdMSFT commented on #4292
As stated by @aloneguid, this seems to be an issue with Hosted VS2017 queue. Please use Hosted agent queue as workaround till we get to root of this issue.

[2017-05-11 18:42] negberts commented on #4292
We have our own build agent installed on a VM. It happens there too. What can we do?

[2017-05-11 18:53] bishal-pdMSFT commented on #4292
@negberts what is the service fabric SDK version on you agent. You can run following PS command to get SDK version:
`Get-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Service Fabric SDK" -Name FabricSDKVersion`

Also what is the service fabric version for your cluster?

[2017-05-11 18:54] negberts commented on #4292
We updated SDK on the agent. The cluster was not yet updated, although it had the setting automatic. Could that be the problem?

[2017-05-11 19:04] BPA8 opened #4300 "Nuget Restore fails to restore packages"
Trying to integrate the VSTS package feed in to our build task and Nuget fails to restore any packages. Looks like the credentialsprovider seems to be talking to the package feed . I am using custom option in restoring the nuget packages. Can somebody point me where I am going wrong with this?

2017-05-11T18:41:54.5976272Z ===========================================================================

[2017-05-11 19:06] bishal-pdMSFT commented on #4292
I do think that could be the problem. New SDK version is failing to get application type information from cluster running older fabric. I can repro this issue even without VSTS in picture. Use latest SDK version
2.6.204.9494 and try to run PS command Get-ServiceFabricApplicationType on a cluster having version
5.5.216.0, I get exact same error.

[2017-05-12 00:43] cicorias opened #4302 "Azure CLI task not finding `az` with `which` on macOS"
Running on macOS and the which command doesn't find the Azure CLI installed via pip.

A `type az` finds it OK.
a `which az` returns nothing, which causes the task to fail as it checks for existence of `az` in the path.

![image](https://cloud.githubusercontent.com/assets/1080406/25977546/3b72ebe4-368a-11e7-883d-a335e8fc1233.png)

The location of the `az` script is in ` /Users/cicoriasmbp13/Library

[2017-05-12 01:47] shaggygi opened #4303 "No documentation for new .NET Core task"
It appears the [documentation ](https://www.visualstudio.com/en-us/docs/build/apps/aspnet/ci/build-aspnet-core) is not updated to use the new .NET Core task.

Trying to setup my CI/CD with no luck.  It can pull my source from my GitHub repo, but that's as far as I get.  Not sure what paths to add for solution/projects, how to setup test for Xunit project, etc.

Somewhat frustrating.  Any help (doc

[2017-05-12 02:02] bryanmacfarlane commented on #4303
I'll get this over to the RM team.

[2017-05-12 02:03] shaggygi commented on #4303
@bryanmacfarlane thank you

[2017-05-12 06:28] nigurr commented on #4293
@Konnor5092 You can't use Hosted Build agent for Deploy Test Agent/Run Functional test task. Will add this to documentation.
You need to use "Private build agents"

[2017-05-12 06:28] #4293 closed

[2017-05-12 07:29] nigurr commented on #4243
@PBoraMSFT FYI

Please do give feedback/suggestions through UserVoice.

[2017-05-12 09:11] miles1302 commented on #4120
Dear @prawalagarwal thank you for your reply.
I resolved the initial issue because the path to the result file was not correct.
I am now looking to do a powershell script in order to mass publish many TRX files in our VSTS project. I want to give each TRX file a different run title and merge them all so that they appeart neatly in VSTS. Unfortunatly I am now having an issue in naming the build und

[2017-05-12 10:18] cob999 commented on #4256
we are also seeing about 50% of builds fail on running tests with error

`Error: C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe failed with return code: 4294967295`

similar to @nvankesteren we are using the Hosted VS2017 agent, due to this we also needed to change the build to use the Version 2.* preview version

[2017-05-12 10:35] bryanmacfarlane commented on #4256
We are actively working very hard on it.  We apologize for the inconvenience this is causing.  What we know is the process does not crash - both msbuild and vstest simply exits with -1 or maxint.  It only happens on the first run on a fresh OS (that is the hosted build scenario since every build is a new machine reimage).  For example, you can put a second task of build or test in the same job wit

[2017-05-12 10:42] bryanmacfarlane commented on #4280
@sgrebnov - thanks for the tight repro.

@rposener - note that msbuild 1 is a real build failure (regardless of how flaky).  msbuild completed execution and there was a build failure.

The issue we're tracking here is returning -1 which indicates the msbuild process terminated prematurely and didn't finish.  I want to keep the conversation focused to that.

If anyone else has this issue, please po

[2017-05-12 11:21] DieterE commented on #4110
Hello,

I have noticed that recently 'process' has been added to the build tab in VSO which allows for 'linking'. Was this the solution that was mentioned in the 2nd post?

Regards,
Dieter

[2017-05-12 12:52] DavidStaheli commented on #4110
Hi @DieterE, the "linking" is actually something different.  The solution mentioned in the 2nd post is this: builds tasks now have the ability to set environment variables that live beyond the execution of a task and can be seen by other tasks.  So we can have the **Jenkins Queue Job** task set a variable for the build number and the **Jenkins Download Artifact** task will have an option for using

[2017-05-12 13:05] arjgupta commented on #4207
Hi @Manmp , can you please send the debug logs for the task to RM_Customer_Queries@microsoft.com. Also, if possible, do share the powershell script that you are trying to execute. You can generate the debug logs by setting the system.debug to true in the variables tab

[2017-05-12 13:42] cicorias commented on #4302
So, removing all remnants of the `pip install` version of azure-cli via
[code]

Then re-running the proper install script for azure cli 2.0 (pip was supported at some point) -
[code]

Places the `az` in a path that is perhaps handled better by `which`.

However, if you take not of that Azure CLI install script, you'll see that they use the `command -v` option as it just works better.

[code]

[2017-05-12 13:55] bishal-pdMSFT commented on #4292
Service fabric team has confirmed issue with latest SDK. [https://github.com/Azure/service-fabric-issues/issues/267](https://github.com/Azure/service-fabric-issues/issues/267)
We are also rolling back SDK changes in hosted vs2017 queue. Till that time please use Hosted queue or private agent with n-1 SDK.

[2017-05-12 13:55] arjgupta commented on #4234
Hi @jsblock78 , in "domain$build", is "build" a variable that you are specifying? If yes, the correct way to use it would be to use it like so "domain$(build)" . If you mean something else, then please share the full debug logs with us at RM_Customer_Queries@microsoft.com . You can generate the full debug logs by setting the system.debug variable to true in the variables tab.

[2017-05-12 14:40] cicorias commented on #4302
Sorry, 1 last comment.

the `which` command doesn't handle `~` well, or if at all apparently.

So, any settings in scripts, profiles, etc. should use `$HOME` instead of prefix o `~`.  So, a path such as `~/bin` wont be checked by `which` it seems.

[2017-05-12 15:43] CodedBeard opened #4308 "A parameter cannot be found that matches parameter name 'ComposeFilePath'."
Hi,
I've been testing the Docker-Compose to Service Fabric Preview task, and have not been having much luck. The new build tasks work fine, but when I attempt to run the release task, I just get the following:

==============================================================================
Task         : Service Fabric Compose Deploy (Preview)
Description  : Deploy a docker-compose application to a

[2017-05-12 15:47] rposener commented on #4280
@bryanmacfarlane - sounds good.  We are definitely still seeing the -1 reported.  This was our result today:

[code]

Is it sufficient to add a build at beginning that continues on error ?

[2017-05-12 16:00] rposener commented on #4280
As a work-around that does seem to be working (just added a build of a small solution in the first position which continues on error) the build does complete.  So until it can be resolved properly, that does at least appear to work-around the issue.

[2017-05-12 16:43] rposener commented on #4280
It is interesting that none of the builds fail now (not even the first one that continues on error).  Looking back through our builds that failed with -1, the builds all failed just after 60 seconds (between 60 - 65 seconds for that task run).  When successful the task that we used to have first runs for about 80 seconds.  It's like the first run gets it's process killed if running more than 60 se

[2017-05-12 16:46] bryanmacfarlane commented on #4280
We're rolling an image right now that fixes/mitigates the issue.  Not sure if it's in your scale unit yet but that may be why.  We believe the issue should go away sometime today.

[2017-05-12 16:49] bryanmacfarlane commented on #4256
A new image which fixes/mitigates the issue should be rolling across scale units throughout the day.   Chime in throughout the weekend and early in the week if it's addressed for you.  We will be keeping an eye on it.

[2017-05-12 16:51] marcwmiller commented on #4256
@bryanmacfarlane - sweet. Thanks to all involved with issue resolution.

[2017-05-12 17:00] bishal-pdMSFT commented on #4308
@CodedBeard what agent are you using? Is it hosted/hosted vs2017 queue? if using private agent, what is service fabric SDK version on agent?

[2017-05-12 17:54] CodedBeard commented on #4308
@bishal-pdMSFT VS2017 hosted.

[2017-05-12 18:03] bishal-pdMSFT commented on #4308
Can you please enable debug logging and share debug logs for task. To enable debug logging, add a variable called "system.debug" with value true to release definition, then trigger a release.

[2017-05-12 18:04] CodedBeard commented on #4308
@bishal-pdMSFT  It turns out I must have failed to save changing the release agent change. As i just went back and checked it, and discovered it was on standard hosted. Switched it back to VS2017 and it worked fine. Thanks

[2017-05-12 18:04] #4308 closed

[2017-05-12 20:59] chrisrpatterson commented on #4280
The updated image should be deployed to all of the pools.  Please let us know here if you are still seeing issues.

[2017-05-12 21:52] jsblock78 commented on #4234
I guess our IT has a policy that service accounts should start with a dollar sign. The username itself has a $ symbol in it. The paste above seemed to drop the backslash.

For example: mydomain\\$thisuser

The username is $thisuser for domain mydomain.

`2017-05-12T21:49:30.6240197Z Executing the powershell script: C:\VSAgent\tasks\WindowsMachineFileCopy\1.0.23\WindowsMachineFileCopy.ps1

2017-05-

[2017-05-13 07:23] pchamakura commented on #4292
I faced the same issue. I just updated the cluster to the latest fabric version and this problem went away.

What's stopping you from upgrading the fabric version. It's quick and easy.

[2017-05-13 10:03] sgrebnov commented on #4280
Confirm, I don't see msbuild error anymore - I've re-run build 10 times and all completed successfully.

The only thing I see is that agent version is still '2.116.1', I expected it to be a new one, please confirm that `2.116.1` is correct.

[2017-05-13 12:50] bryanmacfarlane commented on #4280
@sgrebnov - thanks for confirming

The issue wasnt in the agent ( application that runs your build ).  There's multiple parts - there's the OS image, the tools installed on the OS image (VS etc) and our build agent we pull onto that image which hooks up to your account and runs the build.

[2017-05-13 15:35] sgrebnov commented on #4280
@bryanmacfarlane  - makes sense, thanks for details

[2017-05-13 20:16] chrisrpatterson commented on #4302
Are you sure it is in the path for the agent?  Just because it is in your path does not mean it is in the path for the agent.

[2017-05-13 20:18] chrisrpatterson commented on #4289
Are you sure that is a task that is shipped from the repo or that we ship?

[2017-05-13 20:22] chrisrpatterson commented on #4298
I am not sure what you mean by functional breakpoint.  Can you provide some additional details?

[2017-05-13 22:01] cicorias commented on #4302
Yes, as I launch the agent from same shell. It's 'which' that can't find it in any shell where path is set using ~ instead oh $HOME.

Once path is changed it works.

[2017-05-13 22:47] ChristophB125 opened #4310 "Secret variable cannot be used in PowerShell task if it contains an ampersand"
1. Define a secret variable that contains an ampersand, e.g. ``a&b``
2. Secret variables have to be passed into scripts as a parameter and it will fail at the point of passing the variable in, i.e. just having ``Param($inputVariableWhichIsSecret)`` in the script is sufficient.
3. Because VSTS seems to execute PowerShell block by block it tries to evaluate the secret variable and returns a PowerShe

[2017-05-14 19:54] dfederm opened #4311 "Using karma with karma-chrome-launcher doesn't work on Hosted agents"
When trying to run `gulp test` on my build which calls karma using Chrome as the browser gives me an error on the Hosted agent. When using a private agent (my development box) it works just fine.

[code]

[2017-05-15 01:34] chrisrpatterson commented on #4311
Chrome is not installed on the hosted agnets and they are running from a service context not as an interactive user.

[2017-05-15 02:12] mmercan opened #4312 "using variable with AzureRmWebAppDeployment App Service name"
I can't use variable in App Service name of AzureRmWebAppDeployment (it requires had coded name to figure out application  type ("visibleRule": "WebAppKind = app || WebAppKind = functionapp")

We use Release Definition and environments for environment creation we run Azure Resource Group Deployment to create the Web Apps and AzureRmWebAppDeployment to deploy base files (Sitecore etc.  dll) I can u

[2017-05-15 02:53] rposener commented on #4280
so far our builds all look good over the weekend - albeit not as many as we would see during the week.  Will close this tomorrow if we don't find any other issues.  Thanks for the help @chrisrpatterson  and @bryanmacfarlane.

[2017-05-15 03:51] vincentdass commented on #3793
@MattPitlyk , sorry for the late reply.
The issue is resolved and the fix will be available in a week or two (3.3.4 version).
Can you please ensure that the variables (say IN_PLACE_DEPLOYMENT )  are set  prior to their usage.

[2017-05-15 03:57] rikkitherockett commented on #3456
In our case, the user's password had changed - after a few failed releases/tries, the Sql Server account was locked out, and SqlPackage was giving us the same message.

[2017-05-15 05:17] vincentdass commented on #4163
@ichivers , is the issue resolved ?
We added supported for handling virtual application name prefixed with `/`, which will be available in a week or two. (**3.3.4** Task Version).
You can try the workaround by removing the trailing `/` in your virtual application name (in Release Definition).

[2017-05-15 06:17] gusdewa commented on #4076
any update @prawalagarwal ?

[2017-05-15 07:22] wimmeerschman opened #4316 "SqlAzureDacpacDeployment - Get-AgentIPRange fails when password contains "|""
We have an issue with task /tree/master/Tasks/SqlAzureDacpacDeployment
More specific in file DeploySqlAzure.ps1, line 131.
When putting the firewall rules setting to "AutoDetect" it executes
$ipAddressRange = Get-AgentIPRange -serverName $ServerName -sqlUsername $SqlUsername -sqlPassword $SqlPassword
$sqlPassword = firstPart|secondPart

We have a password which contains a "|"
This cmdlet fails, be

[2017-05-15 07:50] vgopensource opened #4317 "EnvironmentName failing my DSC when using VSTS"
Since yesterday I am getting this issue when trying to deploy my DSC configuration to azure , it was working fine till friday but suddenly i am seeing environment name variable , where do I declare this ?[

ERROR] Add-AzureRmAccount : A parameter cannot be found that matches parameter name
07:21:14 - [ERROR] 'EnvironmentName'.
07:21:14 - [ERROR] At line:1 char:2366
07:21:14 - [ERROR] + .<accountna

[2017-05-15 07:53] #4317 closed

[2017-05-15 09:01] RCerff commented on #4251
Hello Nigurr,

I've tried the command above on my local machine with the same result.  What I can see is that the filter works partly. It filters out only the tests in one file with the category of DataAccess set. It seems that filter is only applied for one file and the same filter on another file is ignored?

I can see this behavior on my local run and Team Services build.

Regards
Rolf

[2017-05-15 09:29] pi3k14 commented on #3922
@nigurr
How can you close a critical case that has not been solved?
Two months later there is still not released a fix for such a critical error!

[2017-05-15 09:51] Symbianx opened #4318 "Jenkins Artifact Source not working for Multibranch Pipeline jobs"
Hello,
First of all thanks for the great Jenkins support on VSTS.

We have been using the Release Management artifact source with Jenkins on
several jobs, but now we are trying to use it on Multibranch Pipeline jobs, which basically creates a main job folder and inside it creates a pipeline job per branch.
When we try to link the Artifact Source we can select the main Multibranch Pipeline job, but

[2017-05-15 10:17] nigurr commented on #3922
@pi3k14 For On-Prem TFS, the fix will be available via 2017 Update 2.
For VSTS customers, the fix is already rolled out.

You can continue to use 2015 Test agent as we don't have any feature changes from 2015 TA to 2017 Test agent.
Please let us know if you have any critical issue blocking. We will happy to resolve

[2017-05-15 10:36] nigurr commented on #4251
@RCerff, sorry didn't get you. There's only one "test dll" available from your build log. `It seems that filter is only applied for one file and the same filter on another file is ignored` seems to be bit confusing?
Can you let me know what are the test dlls are present, exact command that you have given to vstest.console.exe and expected output? This will simplify confusions :)

[2017-05-15 12:18] arjgupta commented on #4316
Hi @wimmeerschman , this is a known issue. We have applied a fix for this, and the updated task will be available in the next couple of days

[2017-05-15 12:51] pi3k14 commented on #3922
2015 Test agent has this problem https://github.com/Microsoft/vsts-tasks/issues/4101, or are your referring to the Deploy test agent v1.0 task?

[2017-05-15 12:52] martinfletcher opened #4319 "NuGet Installer no longer works"
I have a build definition that has stopped working due to a 401 when trying to restore packages from a Package management feed for the project. This hs stopped working randomly over the weekend, and I have tried the new version (1.0) of the NuGet Installer task, but still same issue.

Any help appreciated, as this is an urgently needed fix!

Below is the exception:

2017-05-15T12:43:12.6322835Z ##

[2017-05-15 12:57] cob999 commented on #4256
got another failure just now
`Error: C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe failed with return code: 4294967295`

[2017-05-15 12:58] mmercan commented on #4312
Hi, @arjgupta I know that part but the problem is when I trigger the release definition there is no App service to deploy. there are more than 50 tasks I use per-environment which create the Azure components (including App Services) and do the pre-deployments (AzureRmWebAppDeployment)

![capture_1](https://cloud.githubusercontent.com/assets/5808371/26058022/549ff480-39bf-11e7-96d5-6d8eae2c0ace.PNG

[2017-05-15 13:04] arjgupta commented on #4312
Hi @mmercan , if you specify the variable name in the app service name input, the other inputs should appear automatically. Is that not happening?

[2017-05-15 13:32] nigurr commented on #3922
@pi3k14 can you please describe the issue you are facing?

1.using TA 2017 or TA 2015?
2.using DTA v1 or v2 task?
3.what's the exact issue you are facing?

[2017-05-15 13:34] nigurr commented on #4256
@cob999, can you please send your VSTS account and build details to devops_tools at microsoft dot com
and send your build log?

[2017-05-15 13:54] cob999 commented on #4256
@nigurr I've sent that on, got a bounce message saying `Couldn't deliver to the following groups:` but i'm hoping the original email got to you

[2017-05-15 14:00] martinfletcher commented on #4319
The build works on VSTS when the custom package source is removed from the nuget.config file

[2017-05-15 14:58] SeanStayn commented on #4088
Thank you

[2017-05-15 14:58] #4088 closed

[2017-05-15 15:27] ericsciple commented on #4302
I believe `~` is a convention of the bash shell, and not understood at the OS level.

That's not to say that we shouldn't add support for it in the library that we use... Although if `which` doesn't support it, then I think we definitely shouldn't worry about it in our library.

[2017-05-15 15:33] ericsciple commented on #4310
The params are passed on a powershell command line so you need to escape (e.g. wrap in double or single quotes).

Note, passing on a ps command line enables things like arrays and hashtables. So passing on the ps command line is intentional and correct.

[2017-05-15 15:33] #4310 closed

[2017-05-15 15:52] ericsciple commented on #4284
@ChristophB125 the steps you describe do not repro on the hosted agent. Here is what I did:

1. Added a secret variable: `mysecretvariable` with value `mysecretvalue`
2. Added an inline ps script: `!$(mysecretvariable)`
3. Queued against the hosted agent
4. The secret value in the error message is masked (replaced with asterisks) in all places: web console log, downloaded build logs zip, and the e

[2017-05-15 16:17] dfederm commented on #4311
@chrisrpatterson that's a good point; I have noticed that when using my own machine as an agent the Chrome window does actually pop up (not properly headless it seems), so running in the service context likely blocks that. Also, I would have guessed the karma-chrome-launcher included Chrome, but after inspection it looks like it assumes you have Chrome installed already.

Do you know of a solution

[2017-05-15 16:35] RCerff commented on #4251
Ah ok. I will try to clarify it.

- I have only one Test assembly (Trovare.Base.Sample.Test.dll)
- In this assembly I have my two test classes, each decorated with     [TestFixture(Category = "DataAccess")]
- Each test class is in its own code file (*.cs file)

I've used the command exactly (with correct paths) as you recommend.

Best Regards
Rolf

[2017-05-15 17:52] marcwmiller commented on #4256
@nigurr - I've received the error twice today :-(

Error: C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe failed with return code: 4294967295
Vstest exited with return code: 1.

[2017-05-15 18:08] rposener commented on #4280
Looks solid to me - closing the issue.

[2017-05-15 18:41] ChristophB125 commented on #4310
@ericsciple Thanks. Yes, that works, thanks. Would it make sense to document that the arguments to PowerShell actually get evaluated (e.g. in the help-markdown of the task)? I had a look at the documentation [here](https://www.visualstudio.com/en-us/docs/build/define/variables#secret-variables) which used to say that secret variables have to be passed in as $(mysecret), which seems to have changed

[2017-05-15 18:50] ChristophB125 commented on #4284
@ericsciple : I had another try over the weekend and I originally though that you had fixed it anyway. It seems that there different versions of the Hosted agent in the cloud. As far as I could see, the logic of the agent is to do a simple string replacement of the secret in the log because if I do a ``Write-Host my secretvalue`` (assuming I know the value already), it gets masked as well. I can k

[2017-05-15 19:00] ericsciple commented on #4310
@ChristophB125 Secret variables do not get passed to ad hoc scripts. That has not changed.

Are you sure it's a secret?

I can't repro any issue with that behavior. Here is what I tried:
1. Create a definition with two variables
`MySecretVariable` = `MySecretValue` // this one is secret
`MyPublicVariable` = `MyPublicValue`

2. Add a PowerShell task with inline script:
[code]

3. Output of the scri

[2017-05-15 19:22] ericsciple commented on #4284
I see. So for the powershell task specifically, provide inputs on the task UI that map into a secure string variable or pscredential variable inside the powershell runspace. I'll forward the feedback along to the PM.

[2017-05-15 19:58] tkrick commented on #4319
I don't know where the PROJECT_NAME is coming from (it may be an environment variable), but either way you need to reference the correct account hostname, instead of PROJECT_NAME.pkgs.visualstudio.com. Notice the error:
"NuGet.Protocol.Core.Types.FatalProtocolException: Unable to load the service index for source https://PROJECT_NAME.pkgs.visualstudio.com/_packaging/245db6c8-7388-4394-a847-511b811

[2017-05-15 20:15] tkrick commented on #4319
ok i saw actual requests to https://PROJECT_NAME.pkgs.visualstudio.com in our logs but apparently maybe that was someone else just clicking on the link above. It appears from reverse looking up the feed that we were able to find server logs for you and you got: Build\f5351412-bcbb-4fd2-910f-62d29e75e961 lacks permission to complete this action. You need to have 'ReadPackages'.”. Are you sure the b

[2017-05-16 02:26] icnocop commented on #4272
For reference: see https://github.com/Microsoft/vsts-tasks/pull/1676 and https://github.com/XpiritBV/Vsts-Build-Task-InlinePowershell/pull/1

[2017-05-16 02:26] icnocop commented on #3447
For reference: see https://github.com/Microsoft/vsts-tasks/pull/1676 and https://github.com/XpiritBV/Vsts-Build-Task-InlinePowershell/pull/1

[2017-05-16 02:57] miktav commented on #344
I'm having problems using the -destination parameter when the parameter value contains spaces. I've described my problem here:

http://stackoverflow.com/questions/43989967/xcodebuild-error-option-destination-requires-at-least-one-parameter-of-the-f

From your comment, I was hoping this issue had been resolved. Can you suggest a workaround? Thanks!

[2017-05-16 05:05] martinfletcher commented on #4319
The feed is in the same account, and the project build service user has contributor access.

When trying to add the project build service user to read group in the package manager settings it errors stating that a user can only be added to one group.

[2017-05-16 05:12] pi3k14 commented on #3922
@nigurr, I have a VS2017 testproject that I'm trying to run remotely. We have an On-Prem TFS, where I'm using the Deploy Test Agent v2 (preview) task. If I select the Visual Studio 2017 test agent for deployment it crash with this issue (#3922), if I select Visual Studio 2015 test agent for deployment it crash with issue #4101.
The Deploy Test Agent v2 (preview) task seems dead in the water.

[2017-05-16 05:40] nigurr commented on #3922
@pi3k14, #4101 is related to Test Agent 2017. Can you please attach DTAExecutionHost log from C:\TestAgent\ folder?

You can continue to run VS 2017 tests using Test Agent 2015. You can just drop the mstest v2 adapter and the tests will run out of the box.

[2017-05-16 06:04] pi3k14 commented on #3922
@nigurr
[DTAExecutionHost.exe.txt](https://github.com/Microsoft/vsts-tasks/files/1003332/DTAExecutionHost.exe.txt) version 15.111.26109.0 of DTAExecutionHost.exe

[2017-05-16 06:06] nigurr commented on #3922
@pi3k14 thanks for the logs. Is Test Agent 2017 and Test Agent 2015 both are located in the same machine?

[2017-05-16 06:11] pi3k14 commented on #3922
@nigurr  Yes, but quite frankly I don't understand the question. It is Test Agent Deploy that deploys the test agents, and yes I don't have different machines for running the tests on.

[2017-05-16 06:12] nigurr commented on #4156
You can escape (`\`) the values like this `escaped\;string` => `escaped;string`

[2017-05-16 06:12] #4156 closed

[2017-05-16 06:13] nigurr commented on #4182
Hi, did this got resolved?

[2017-05-16 06:21] nigurr commented on #3922
@pi3k14 Sorry for the trouble. We don't support side by side installation of TA 2015 and TA 2017.
[Temp Workaround till Update 2] If you have single test agent machine, You can manually install TA 2017 and use this machine for running the tests. The bug was there in installation of Test Agent. This can be bypassed using manual installation.
If you want to use TA 2015 and run your tests, need to un

[2017-05-16 06:24] nigurr commented on #4251
@RCerff thanks for the info. Will add vstest team look into this. @smadala

[2017-05-16 06:30] arjgupta commented on #3981
Hi @dawilliams , This issue has been fixed, and the updated task(1.1.15) will be available in the next couple of days. I am closing this issue, please reopen if you continue to face this issue even after using the updated task

[2017-05-16 06:30] #3981 closed

[2017-05-16 06:40] dixhap commented on #4289
am attached the screen shot so that you can get clear view of  step of release which is failed.

![issue2](https://cloud.githubusercontent.com/assets/17857098/26092786/80960c2a-3a30-11e7-97e4-ec5d273dd86c.jpg)

[2017-05-16 07:08] smadala commented on #4251
@RCerff I have created a sample project with two class, one with  [TestFixture(Category = "DataAccess")] and other without it. I'm able to use filter. Following is output.

[code]

Here is sample Solution I used: [NUnitTestCaseFilter.zip](https://github.com/Microsoft/vsts-tasks/files/1003446/NUnitTestCaseFilter.zip).
Please try this on your machine, If it fails, provide us vstest,console.exe [TPTr

[2017-05-16 07:28] pi3k14 commented on #3922
@nigurr, trying to manually install TA 2017 from https://aka.ms/vs/15/release/vs_TestAgent.exe result in an install with zero progress.
![image](https://cloud.githubusercontent.com/assets/2109325/26094319/cb6828e4-3a19-11e7-8022-7c4d503129ad.png)

A guess you have to give my instruction to cleanup registry for this.

[2017-05-16 07:43] RCerff commented on #4251
@smadala

My guess is that the filter works partly in some scenarios.

I think to reproduce my issue change the following:

Add another class with the same Category value [TestFixture(Category = "DataAccess")].

Then run the test again.

Is the filter applied on both classes?

Thank you in advance

Best Regards
Rolf

[2017-05-16 08:26] StefanSchoof opened #4321 "Limitation of task.setvariable that a variable is only available on current agent should be documented"
I work on a TFS Server (15.112.26301.0) and tried using the task.setvariable command. I my scenario I can get a value on the first agent and need the value on the second agent in one environment. I tried to use the task.setvariable command, but the variable seems only available on the agent the `##vso[task.setvariable...` output is done.

The documentation on https://github.com/Microsoft/vsts-task

[2017-05-16 09:42] nigurr commented on #3922
@pi3k14 is this machine connected to internet? If not we need to prepare the layout for the test agent from internet connected machine

[2017-05-16 09:53] pi3k14 commented on #3922
@nigurr this machine is connected to the internet, but not for inbound traffic (it's a internal test machine). Are you implying that manual test agent installation is not possible?

[2017-05-16 09:59] nigurr commented on #3922
@pi3k14 it's possible. we published blog for the same https://blogs.msdn.microsoft.com/visualstudioalm/2017/05/05/using-visual-studio-agent-deployment-task-on-machines-not-connected-to-the-internet/

1. From the internet connected machine

2. Copy the entire folder C:\TS2017Setup to Test Agent machine and run the setup

[2017-05-16 10:11] miles1302 commented on #4120
Dear @prawalagarwal
I found about the build uri issue I was having. I am know triying to publish the test result file using mstest command line directly into vsts in the release section.
it doesn't seem to be possible because the only switch available is /publishbuild .
Can I not use the release URI for this switch or is the another switch for Release that I have missed.

thanks for your help

[2017-05-16 10:15] ichivers commented on #4163
Yes that resolves the issue. I noticed that it is case sensitive as well, is that intentional ?

Sorry about the delay, I had to setup a new environment to try the suggestion.

[2017-05-16 10:50] smadala commented on #4251
@RCerff Yes, Filter is applied even after adding another class with Category annotation.
Isn't the same case worked on your local machine?
Are you able to to filter on shared(NUnitTestCaseFilter) project?
Please share TPtrace logs requested above?
Please Share a sample project which repro issue on your local machine?

[2017-05-16 11:40] pi3k14 commented on #3922
@nigurr sorry, but this give the same problem https://github.com/Microsoft/vsts-tasks/issues/3922#issuecomment-301699137 (no progress in installation)

[2017-05-16 12:10] nigurr commented on #3922
@pi3k14 can you drop your skype to devops_tools at microsoft dot com
We will assist you with this.

[2017-05-16 12:41] vincentdass commented on #4163
@ichivers ,Virtual Application name is not case sensitive. We will fix this in the upcoming version.
Thanks for reporting the issue. :)

[2017-05-16 12:41] #4163 closed

[2017-05-16 13:18] pi3k14 commented on #3922
@nigurr have to get back on this, end of day and tomorrow is a public holiday

[2017-05-16 13:57] gregkalapos commented on #4186
@madhurig Thanks for the feedback!

The "Decrypt File" task works fine, that is great! The last problem I have is that in order to log in via SSH jump I have to enter 1) the passphrase to the SSH key and 2) the user password to the machine I deploy to (And of course in this case I have to script this).

Now I found this:
http://stackoverflow.com/questions/16928004/how-to-enter-ssh-password-using-b

[2017-05-16 17:42] RichiCoder1 commented on #1859
@atinb Are you taking community contributions on this?

[2017-05-16 17:42] rposener opened #4325 "Process 'msbuild.exe' exited with code '-1' (again!)"
VSTS appears to be mainly resolved from this issue - however we have seen 2 failures of this status again in the last 24 hours.  Not sure if it's coincidence or not but both were the first build of each definition of the day, and both occurred about 60 seconds into msbuild.exe running on the first build task.  Any further insight @chrisrpatterson  @bryanmacfarlane ?

Just had a second build fail o

[2017-05-16 20:54] tkrick commented on #4319
I have no idea why this suddenly stopped for you, but I can unblock. I see two identities for a build service one at project level and one at collection level. you have perms assigned for the collection level one. I believe the name for the one you are running the build as is: Project Build Service. it is the one with the id above in the failure message i referenced.

[2017-05-16 22:13] bryanmacfarlane commented on #4325
reopen the original issue.

[2017-05-16 22:13] #4325 closed

[2017-05-16 22:17] bryanmacfarlane commented on #4256
we're copying a new image with gflags to figure out what's wacking the process (it's not crashing, it's not exiting).  the previous mitigation appears to reduce the likelyhood but still hapenning ... we're on it.

[2017-05-16 22:18] bryanmacfarlane commented on #4280
we're copying a new image with gflags to figure out what's wacking the process (it's not crashing, it's not exiting). the previous mitigation appears to reduce the likelyhood but still hapenning ... we're on it.

[2017-05-16 23:18] miktav commented on #1051
I'm still getting this error. I asked a [question](http://stackoverflow.com/questions/43989967/xcodebuild-error-option-destination-requires-at-least-one-parameter-of-the-f) about this on stackoverflow. Any insights?

[2017-05-17 01:32] bryanmacfarlane commented on #4321
The docs already state it's scoped to the following tasks:
"The first task can set a variable, and following tasks are able to use the variable"

[2017-05-17 01:32] #4321 closed

[2017-05-17 05:45] fahms commented on #4174
@madhurig followed your comments in the link provided. However no luck. Also, I see the .app generated do not have provisioning profile embedded though it is able to detect the certificate and profile.

`Signing Identity:     "-"`

[2017-05-17 06:21] acesiddhu commented on #4255
@TheodorKleynhans did this work for you?

[2017-05-17 06:26] gusdewa commented on #4076
Hi @prawalagarwal , I have sent the log to you. Have you found any suspicious misconfiguration?

[2017-05-17 07:19] StefanSchoof commented on #4321
I think them may case was not clear. I have a environment with two server phases. In my understanding of the following tasks is "Task 3" following the task with the setvariable, but only Task 2 has access to the variable
![settask](https://cloud.githubusercontent.com/assets/4662023/26142500/15ac3928-3ae1-11e7-9986-7f015f787e43.PNG)

I get following Output:

So "The first task can set a variable, a

[2017-05-17 07:54] martinfletcher commented on #4319
OK, I am not sure what is going on here.

There is only one user (Project Collection Build Service), which is the same user that is used in all tutorials and documentation for Package Management.

Looking at the users for the account, i can only see one entry for a build service account. None of the permissions have been changed as it is a built in account. Below is the Package Management settings

[2017-05-17 09:37] ynijs opened #4329 "VS Test task 2.* throws unable to connect error E_TIMEOUT"
Hello,

We've been using the VS Test task 1.* for quite a long period, successfully, until we noticed a new version was available. I've been trying to get this new version working as it allows me to start using tests associated with a test plan. However, when trying to get the agent to run tests from a test plan, I get the following error:
`2017-05-17T09:31:20.4025782Z ##[debug]Configure the Agent

[2017-05-17 09:47] nigurr commented on #3922
@pi3k14 I installed into one machine which is not connected to internet and it worked.

Followed the same step which I shared with you. Before installing, in the C:\Ta2017Setup\certificates -> there are couple of signed certificates. These must be installed [right click -> install] before starting installation.

[2017-05-17 09:49] nigurr commented on #4076
@gusdewa sorry for the delay. Can you share your complete Release logs (previous one doesn't have any information)? Are you using on-prem TFS or vsts?

[2017-05-17 10:35] wouterroos commented on #3744
@acesiddhu Any update on this issue?

[2017-05-17 10:48] bryanmacfarlane commented on #4289
That's not a task we ship.  It looks like it comes from the market place.

https://marketplace.visualstudio.com/items?itemName=andrewlackenby.sql-toolkit-azure

If I follow the link on that, it's here:

https://github.com/crimdon/SQLToolkitAzure

[2017-05-17 10:48] #4289 closed

[2017-05-17 11:39] raman91dogra opened #4330 "How to do Jenkins-VSTS Integration"
We have a challenge within our project wherein we have a Windows based Application and we are automating it using UFT .
Since we have Sprint dashboard and other Development-Testing Stuff on VSTS. Client is demanding to publish the UFT Execution reports back in VSTS along with Manual Test Reports  Although we suggested HP ALM-UFT Integration since they both are HP products .
I had identified one wo

[2017-05-17 11:51] acesiddhu commented on #3744
@wouterroos
Sorry for the delay. we were checking with xunit folks on this one.

There are overall two issues
1) Looks like you are using theories. Theories or data driven test cases wont work with run only impacted test cases. We should make a fix to atleast run all theories and not fail like this. This will ensure that if the test task is running mix of theories and facts we should atleast apply

[2017-05-17 11:52] arjgupta commented on #4234
Hi @jsblock78 , we found this to be a bug in the task. We will discuss with our pm team to take this up as an enhancement

[2017-05-17 12:08] dikhakha commented on #4064
@juliusl Are you still facing this issue? If yes, can you please set 'system.debug' variable to 'true' for detailed logs? We have improved "Start" functionality which will now complete successfully after the app service is in running state.

[2017-05-17 13:33] RCerff commented on #4251
At the moment I have a new general problem with vstest.console.exe. With your project and my project I get the following  message:
"Warning: No test is available in C:\projects\RTD\Source\Repos\Architecture Blueprint\Trovare.Base\Trovare.Base.Sample.Test\bin\Debug\Trovare.Base.Sample.Test.dll. Make sure that installed test discoverers & executors, platform & framework version settings are appropri

[2017-05-17 13:42] Adilsh4uk opened #4332 "Test Results: Tests count difference between builds is not working"
After I've added new tests, the difference (+70 in this case) between builds always shows all.
But code coverage is working fine.

![image](https://cloud.githubusercontent.com/assets/1780728/26156259/664d9358-3b1e-11e7-8d85-81af034e8ec0.png)

We are using "Gated Check-in" in this build definition also we don't use hosted agent.

[2017-05-17 13:48] AbhitejJohn commented on #4251
@RCerff : It looks like testadapterpath isn't being passed through. Were you using a similar command-line to what @smadala shared above?

[2017-05-17 14:24] RCerff commented on #4251
Yes you were right. I forgot testadapterpath  switch. With your Test assembly the filter works as expected, but with my project the filter does not seem work correctly. Also it seems to ignore the Ignore attribute on one of my test methods.

Here a new TpTrace

[TpTrace.txt](https://github.com/Microsoft/vsts-tasks/files/1008044/TpTrace.txt)

[2017-05-17 15:33] chrisrpatterson commented on #4330
@raman91dogra  this is not an issue and is really a question.  Could you please repost to stackoverflow and tag with vs-team-services.

[2017-05-17 15:33] #4330 closed

[2017-05-17 16:51] AbhitejJohn commented on #4251
Thanks @RCerff . The logs do not seem to indicate anything odd. However, from what you described this seems related specifically to the nunit adapter. [Here](https://github.com/nunit/nunit3-vs-adapter/issues) would be a good place to get answers to what's wrong here.

[2017-05-17 17:07] tkrick commented on #4319
I was trying to say there are two build service accounts (one at just project level one at collection level). You have set perms at the collection level "Project Collection Build Service" yet the build is running as "Project Build Service":

By default i believe builds use "Project Collection Build Service" but there is some way to change that for a build definition, not sure how. You need to add

[2017-05-17 18:41] johnkattenhorn commented on #4298
Thanks for responding @chrisrpatterson , I got this mostly working in the end by sharing the symbols with our machines via Azure Storages (Files), although for some reason the class I wanted to see the source for just isn't there. Pretty much everything else is from the same assembly. It's really odd but I'll close this I think.

[2017-05-17 18:41] #4298 closed

[2017-05-17 18:47] juliusl commented on #4064
It seems to be working on first try with our CD. I can update this issue if we start running into it again.

[2017-05-17 19:18] madhurig commented on #4161
I was able to repro the ECONNRESET with an authenticated proxy if the credentials are incorrect or not specified correctly.

Please check your settings for HTTP_PROXY and HTTPS_PROXY environment variables.
HTTP_PROXY=http://username:password@proxyserver:port
HTTPS_PROXY= https://username:password@proxyserver:port

I found that putting username:password in quotes does not work. If there is an “@” o

[2017-05-17 19:51] madhurig commented on #1051
This specific issue has been resolved in Team Services a while back. I can run tests with the input that you specified _-destination "platform=iOS Simulator,name=iPad Pro (9.7 inch),OS=10.3"_. The input looks right, in additional args put anything with spaces that you want to treat as one argument in "". Please share your build logs for further investigation if you continue to see an issue.

[2017-05-17 19:53] madhurig commented on #4174
Please attach or send (to madhurig at microsoft.com) your debug build logs from the updated task.

Thanks,
Madhuri

[2017-05-17 19:54] Yaash19 commented on #1268
@strtdusty

how did you resolve this ? i am having similar issue.

[2017-05-17 20:01] Yaash19 opened #4335 "Publishing test results with failed tests does not fail the 2015 TFS build"
Hello,

i am using angular cli and for unit test i use Karma. So for CI TFS build, i am using npm task for karma unit test .  We use the "publish test results" task to publish the results to the build. The results get published correctly and we can see that some tests failed. When tests fail, however, the build is not marked as failed. I could fail the build when running npm test task, but the res

[2017-05-17 20:06] strtdusty commented on #1268
I used @chrisrpatterson 's suggestion.  Our builds end up being marked as failed though which is correct.

[2017-05-17 20:30] rposener commented on #4280
Just an update - again today - the same 2 builds failed on the first go for the day.  One of them failed also on the second build task during the second run of the definition.  All 3 failures report '-1' status at the end apparently mid-step of the build.  All builds after those 3 have been successful today (about 6 of them across the 2 definitions).  If there is more I can do to log/help let me k

[2017-05-17 21:12] bryanmacfarlane commented on #4280
We have an image about to rollout which should help but more importantly we've added some gflags debug tooling to the image so if it happens to you again, you can add something to the def to output what is killing your msbuild process.  We had repros but in our test instance, it doesn't repro so we might need your help tomorrow after it rolls out.   We will follow up on what to add to your definit

[2017-05-17 21:37] chrisrpatterson commented on #4335
Your test runner needs to fail the build if there are failures.   You can set the control options on the publish results task to alwasy run or run even when previous tasks have failed

[2017-05-18 00:17] miktav commented on #1051
Thanks for your reply. My mistake was trying to put the -destination parameter in the Actions box, like this:
test -destination "platform=iOS Simulator,name=iPad Pro (9.7 inch),OS=10.3"
I didn't see the Arguments box under Advanced. When I put this parameter there, it works!
What was odd is that it accepted and tried to use the -destination parameter in the Actions box. Perhaps this should be disa

[2017-05-18 00:57] madhurig commented on #1051
@miktav: Feedback noted! We have been considering having inputs to specify the "Test Options" to not require typing in the destination string.

[2017-05-18 01:55] bigbird023 opened #4336 "Nuget Package Task trying to ignore Test Projects failing"
Using the Nuget Package Task with the configuration of trying to ignore test projects.

I'm using the **\*.csproj;-:**\*test.csproj as the path to pack.

******************************************************************************
Starting: NuGet Packager
******************************************************************************
===============================================================

[2017-05-18 04:03] nigurr commented on #4251
Please open this issue in github.com/Microsoft/vstest. Closing this thread as it's related to vstest.console runner.

[2017-05-18 04:03] #4251 closed

[2017-05-18 04:04] nigurr commented on #4232
@psutharsan Hi, Currently this feature is not available. it's in our backlog. Please vote for this @ https://visualstudio.uservoice.com/forums/330519-team-services and give us your suggestions

[2017-05-18 04:04] #4232 closed

[2017-05-18 04:06] nigurr commented on #3986
Hi,
Currently this feature is not available. Please add post your suggestion here and we will add it to our backlog https://visualstudio.uservoice.com/forums/330519-team-services

[2017-05-18 04:06] #3986 closed

[2017-05-18 04:06] nigurr commented on #3923
Hi, This has been fixed in latest task version. it should be rolling out to VSTS customers in a week or two.

[2017-05-18 04:06] #3923 closed

[2017-05-18 04:08] nigurr commented on #4311
@dfederm currently you need interactive build agent (OS security limitation).

[2017-05-18 04:08] #4311 closed

[2017-05-18 04:10] nigurr commented on #4332
@Adilsh4uk can you share your build log?

[2017-05-18 04:11] nigurr commented on #4182
Please re-open this issue if it's not resolved. Happy to help you out.

[2017-05-18 04:11] #4182 closed

[2017-05-18 04:13] nigurr commented on #4329
@ynijs can you share your build logs? it's unable to create the test run and your build log can give some information to debug this issue.

Did you try running again?

[2017-05-18 04:45] lorrinferdinand opened #4338 "Azure SQL Deployment Task is failing on build boxes having Dac Framework 13.0.3370.2"
Perhaps I'm missing something on the box, but this has been reproduced on > 1 build box hosting VS 2017 VSTS agents.

I noticed in the powershell script that it is looking for the Dac F/W in this regkey:
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Microsoft SQL Server\DacFramework\CurrentVersion

On the machine the (Default) value of 13.0.3370.2 is stored as a value at the key level.
HKEY_LOCAL_MACHINE\

[2017-05-18 04:45] ynijs commented on #4329
Hello,

I've added our release log. Bear in mind, should have mentioned that but we are running this in the context of a release, not a build (integration tests on our test environment after each release). Have tried it multiple times over the past months, hoping the issue would be resolved already.

[tasklog_3 (1).zip](https://github.com/Microsoft/vsts-tasks/files/1009776/tasklog_3.1.zip)

[2017-05-18 05:55] #4335 closed

[2017-05-18 06:16] pi3k14 commented on #3922
@nigurr manually installing the certificates did the trick, thank you :)

But then I stumbled into the next problem, it doesn't seem like the Run Functional Tests Task support net core tests "Error : No tests were discovered from the specified test sources".
I am using the NUnit3 TestAdapter v 3.8.0 (alpha1) http://www.alteridem.net/2017/05/04/test-net-core-nunit-vs2017/ , any pointers on how to p

[2017-05-18 06:24] nigurr commented on #3922
@pi3k14 please copy the "Nunit adapaters" along with your Test Assemblies to remote machine. The engine will auto-load the adapters if it finds within test folder.

[2017-05-18 06:33] pi3k14 commented on #3922
@nigurr yes I know. Both the NUnit3.TestAdapter.dll and the nunit.engine.netstandard.dll are copied. I even overrode the testrun parameter TestAdaptersPaths to point to the test folder, but it didn't change anything.

Is there any "hidden" parameters to get trace information from the Run Functional Tests Task?

[2017-05-18 06:51] dewanymca opened #4342 "Azure Resource deployment Task Failure"
Hi Team

I have been using “Azure resource Manager deployment” Task in VSTS to deploy the template using release manager. I am facing an issue with template where it fails with below observation:

1)	In VSTS release, Override template parameters shows below error. I have selected the file using browse button only. See attached 1.jpg and 2.jpg
![1](https://cloud.githubusercontent.com/assets/1533647

[2017-05-18 07:10] nigurr commented on #3922
@pi3k14 There's no hidden information. We print everything to "C:\TestAgent\dtaexecutionhost.log". You can try running the tests with "vstest.console.exe" from test agent machine and see if tests are getting discovered. use "vstest.console.exe /?" for help. We use the same engine to execute the tests.

[2017-05-18 07:52] NikolayKash commented on #4101
@nigurr .

I tried to run the test on 2.10  but it still fails.
[code]

I tried to run tools which you specified.   I did a reboot of a machine and ps1 script shows the location, while vswhere does not

![image](https://cloud.githubusercontent.com/assets/8295880/26191782/eec51a46-3bb7-11e7-85ff-1dc755b2922f.png)

[2017-05-18 07:55] ChristianMes commented on #4153
Any updates on the issue? Would you accept PRs?

[2017-05-18 08:27] Adilsh4uk commented on #4332
Test Assemblies:

2017-05-17T12:21:49.8852125Z ##[section]Starting: Test Assemblies **\*test*.dll;-:**\obj\**
2017-05-17T12:21:49.9043709Z ==============================================================================
2017-05-17T12:21:49.9043709Z Task         : Visual Studio Test
2017-05-17T12:21:49.9043709Z Description  : Run tests with Visual Studio test runner
2017-05-17T12:21:49.9043709Z Versi

[2017-05-18 08:32] pi3k14 commented on #3922
@nigurr found the problem in the vstest.console diagnostics
[code]
found several references to this problem at StackOverflow (eg. http://stackoverflow.com/a/41414568/2294065), but not sure how to proceed from here. Is this something that has to be fixed in vstest.console?
Both NUnit (3.6.1) and Microsoft.NET.Test.Sdk (15.0) are bound to version 4.3 of System.Runtime

[2017-05-18 08:46] sgrebnov commented on #4280
Encountered with msbuild issue again, please let me know whether new image is here and how I can activate new debug/tracing functionality
[code]

[2017-05-18 09:58] pratiksharma897 opened #4345 "Way to get template output from Azure resource group deployment task"
It would be great if we can get the template outputs in a variable in the same way a devtest lab task has for labvmid.

[2017-05-18 10:28] nigurr commented on #4101
@NikolayKash that's so weird. @Heaths, can we help out this customer?

[2017-05-18 10:33] nigurr commented on #4332
+TCM team,

Can you please look into this?
The customer is reporting that “Test Result summary” is showing incorrect results.

From: Andriy [mailto:notifications@github.com]
Sent: Thursday, May 18, 2017 1:58 PM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Nitin Gurram <nigurr@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [Microsoft/vsts-tasks] Test Results: Test

[2017-05-18 10:38] bryanmacfarlane commented on #4345
output variables is a feature in development right now.

[2017-05-18 10:38] #4345 closed

[2017-05-18 10:54] edtheshed opened #4346 "Upgrading Azure Powershell to v4 breaks azure powershell task"
As detailed here:

https://github.com/Azure/azure-powershell/blob/preview/documentation/release-notes/migration-guide.4.0.0.md#breaking-changes-to-profile-cmdlets

v4 has a breaking change

[2017-05-18 12:02] RCerff commented on #4251
Good news about this issue. This morning I've installed the 3.8.0-alpha1 of the NUnit3TestAdapter. This fixed the issue.

Thank you for your efforts.

Best Regards

[2017-05-18 12:07] arjgupta commented on #4346
Hi @edtheshed , a fix has been applied for this, and will be rolled out in the next couple of days

[2017-05-18 13:29] arjgupta commented on #4207
Hi @Manmp , If you are still facing this issue, please send the full debug logs and the poweshell script that you are trying to execute

[2017-05-18 13:33] #4152 closed

[2017-05-18 14:05] madhurig commented on #4186
@gregkalapos: Interactive password input is problematic, that is one of the reasons we chose SSH2 native node module instead of ssh command line tools.
I haven't used an expect script before, so I can't explain why that does not work. Are you using the Hosted build pool or your own machine? If the script requires interactive login, that might be theissue.

The current solution for users who cannot

[2017-05-18 14:10] ArieHein opened #4348 "Feature Request: Publish Artifact Task - Multiple Threads"
Since under the hood, the Publish Artifact task is using Robocopy to copy the artifacts
and since Robocopy has had, for quite some time, the option to use /MT:[n] to do a n-thread copy, it would be great if we could either set it as a property on the task it self in for example the Advanced section (that doesn't exist for this task).

I have a HUGE web site using the Build-Release pipeline. it run

[2017-05-18 14:15] ericsciple commented on #4348
@vijayma to comment. i believe this is on the backlog.

[2017-05-18 14:29] Yaash19 commented on #3027
@akankshagaur - any luck ? if it worked can you share how you did it ?

@rrfenton - can you share how you have setup PublishCodeCoverage task configuration , i have same setting as you. I have TFS 2015  and i am not even seeing "Code coverage" tab

my structure is coverage/cobertura.xml for summary and coverage/html for report. Please help

![image](https://cloud.githubusercontent.com/assets/28021

[2017-05-18 15:33] vijayma commented on #4348
This is now added to the backlog.

[2017-05-18 15:52] madhurig commented on #3355
While we are continuing to work with Xamarin team on the bugs, I have a workaround that can be applied to build on the Hosted and Hosted VS 2017 VM pools.

1. Download latest proguard from: https://sourceforge.net/projects/proguard/files/proguard/5.3/ and commit/push to your repository.

2. In the build definition use "Extract Files" to unzip to a location without spaces, I set it to $(build.sourc

[2017-05-18 15:58] ericsciple commented on #4280
A new image is closed to being rolled out with additional logging enabled to determine more information. When msbuild.exe/vstest.console.exe exits, info will be written to the application event log with the exit code and if another process killed it, the name of the process that killed msbuild.exe/vstest.console.exe.

To be ready when the new image finishes rolling out, you can go ahead and add th

[2017-05-18 17:21] heaths commented on #4101
@NikolayKash can you share what _vs.ps1_ is doing? Both clients rely on the same COM APIs. Also make sure that you do not have _Microsoft.VisualStudio.Setup.Configuration.Native.dll_ in the PowerShell module directory or where _vswhere_ is located. The newer code no longer loads directly, but if your module is older you might be using an older implementation.

[2017-05-18 19:22] mikanyg commented on #4153
Yes they do. I have made several PRs that have been accepted.

I think it would be quite easy to expose the action as a new parameter in the task and just pass the value to the Publish-UpgradedServiceFabricApplication cmdlet, since it already supports the parameter.

[2017-05-18 19:31] MikkelHegn commented on #4153
Yes - please submit PRs - we don't have this high enough on our backlog to get to it anytime soon.

[2017-05-18 19:51] keustermansk08 opened #4350 "DTAExecutionHost.exe, TestExtensionResolver: Failed to load the assembly 'Microsoft.VisualStudio.Utilities.Internal, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'"
The error in de log files van agent in test server is: DTAExecutionHost.exe, TestExtensionResolver: Failed to load the assembly 'Microsoft.VisualStudio.Utilities.Internal, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

This is the log file in Visual studio team service:
2017-05-18T14:42:25.7047639Z ##[section]Starting: Run Tests **\*test*.dll on TOBWEBT01.anaxis.be
2017-05-18

[2017-05-18 20:14] bvirkler opened #4351 "ARM Template validation fails with Error: [object Object]."
Using the Azure Resource Group Deployment task (version 2.1.0) in validation mode.  When validation fails, the result is the unhelpful message

    2017-05-18T19:51:49.7809047Z ##[error]Template validation failed. Error: [object Object].

[2017-05-18 22:14] lmurali opened #4352 "I'm getting TooManyRequests: retry after some time for Azure Deployment"
I am using this Azure Deployment task to deploy my cloud services. For most of the services it works but I get inconsistent errors like the following for the few services.
2017-05-18T21:53:36.0732729Z ##[error]TooManyRequests: Too many requests received. Retry after some time.
I dont get to see additional logs. How do I solve this and deploy consistently without any errors?

[2017-05-19 05:32] nigurr commented on #3027
@Yaash19 This feature is not available to TFS OnPrem due to security constraints.

[2017-05-19 05:35] arjgupta commented on #4338
Hi @lorrinferdinand , this is a known issue, we have added this to our backlog

[2017-05-19 05:42] sachinma commented on #4342
@dewanymca can you confirm is it due to the fact that your template file contains comments? We are working on adding support for template file containing comments which we hope to deploy by next week. In the meantime as a work-around you can remove any comments from your file. @ds-ms who is looking at it.

[2017-05-19 07:24] arjgupta commented on #4312
Hi @mmercan , I am closing this issue. Please feel free to reopen if you are still blocked on this.

[2017-05-19 07:24] #4312 closed

[2017-05-19 07:26] arjgupta commented on #4252
Hi @Sheludchenko , a fix for this issue has been deployed. I am closing this issue. Please feel free to reopen it if you continue to face problems with the task.

[2017-05-19 07:26] #4252 closed

[2017-05-19 07:29] nigurr commented on #3563
@ardz we have added Windows 7 Sp1 support for DTA v2
https://github.com/Microsoft/vsts-tasks/pull/4355/files

[2017-05-19 08:17] dewanymca commented on #4342
Yes,it was because of comments only. Let me know once fix is deployed.

[2017-05-19 08:39] jonathan305 commented on #3355
Step 3:  " Create a batch script"?  Does the batch script contain the command
mklink /J C:\AndroidSDK "C:\Program Files (x86)\Android\android-sdk" ?

What should I call the batch script?  x.bat?  what invokes the x.bat script?

[2017-05-19 08:53] gregkalapos commented on #4186
I use the hosted build pool.

Ok, so the only option I see as a workaround for my problem is this:

- I will remove the passphrase from the SHH key, which I use to log in to the Proxy
- Currently I log in from the Proxy to the real deployment target with username/password. I will try to do this also with an SSH key (also without a passphrase). I'm not sure I can pass an SHH key to this connection

[2017-05-19 09:02] jonathan305 commented on #3355
ok i found a build task to execute the batch script.

[2017-05-19 09:05] ds-ms commented on #4351
@bvirkler you could enable debug as true, as workaround to see the response

[2017-05-19 09:25] raman91dogra commented on #4330
@chrisrpatterson  sure will do. here is the stack overflow link url of my Question.
http://stackoverflow.com/questions/43913103/how-to-integrate-uft-12-25-with-vsts/44037364#44037364

[2017-05-19 09:36] jonathan305 commented on #3355
Progress!  Now the build fails with a different error.  I checked we are using JDK 8.

Any suggestions on this one?

CREATEMULTIDEXMAINDEXCLASSLIST : error : Can't read [C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\ReferenceAssemblies\Microsoft\Framework\MonoAndroid\v7.1\mono.android.jar] (Can't process class [android/app/ActivityTracker.class] (Unsupported class vers

[2017-05-19 14:09] isaac2004 opened #4361 "Visual Studio 2017 Not Found"
Trying to Build a .Net 4.5.2 Web Project and getting this error

2017-05-19T13:59:52.5863673Z Task         : Visual Studio Build
2017-05-19T13:59:52.5863673Z Description  : Build with MSBuild and set the Visual Studio version property
2017-05-19T13:59:52.5863673Z Version      : 1.117.0
2017-05-19T13:59:52.5863673Z Author       : Microsoft Corporation
2017-05-19T13:59:52.5863673Z Help         : [Mo

[2017-05-19 14:15] OrestTkachuk opened #4362 "VS2017 Hosted Agent: SQL Server Data Tools"
I've found closed issue [4028](https://github.com/Microsoft/vsts-tasks/issues/4028), but could you please provide path to SQL Server Data Tools? I've tried following configuration for SqlPackage capability:

- C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\130\SqlPackage.exe
- C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\

[2017-05-19 15:18] davenewza opened #4365 "Failed to deploy App Service (ERROR_FILE_IN_USE)"
Occasionally we get the following exception thrown from the Azure App Service Deploy task (version 2.*)

[code]

Configuration:

![image](https://cloud.githubusercontent.com/assets/6212830/26254535/336975ac-3cb7-11e7-8a0d-1f1268ab3b26.png)

[2017-05-19 15:32] madhurig commented on #3355
@jonathan305: It looks like if multidex is enabled, the /p:ProGuardToolPath is not being used. Looks like replacing the ProGuard version in the AndroidSDK folder is the only way to get this working. I was able to workaround that as well but it is a crazy set of workarounds :(. I will update the workarounds post and communicate back to the Xamarin team.

[2017-05-19 15:43] arjgupta commented on #4187
@parcae , A fix for this issue has been deployed, if you type in the variable name the other options should populate. I am closing this issue. If you are still facing this issue, or want any clarification, please feel free to reopen

[2017-05-19 15:43] #4187 closed

[2017-05-19 15:44] vincentdass commented on #4143
@davenewza , Can you try enabling App Offline feature  and rerun the release ?
It would be better , if you can stop the App Service, Deploy your package and start it using `Azure App Service Manage Task`.

[2017-05-19 16:33] hoetz opened #4366 "Azure App Service Deployment: Linux preview deployment issue"
I am trying to make sense of the deployment task when it comes to deploying a .net Core 1.1 web app to a Azure App Service Linux plan. I have set up the azure web app with the default container settings (built-in)
![image](https://cloud.githubusercontent.com/assets/3835948/26257570/fd809c5e-3c75-11e7-8f52-2cacf8a0702c.png)
Now I want to configure the VSTS deployment task and I am stuck here. I hav

[2017-05-19 17:29] azooinmyluggage commented on #4366
For built in source the deployment to Web App on Linux will be similar to that of an App service. You will have to build the .NET Core app (restore, build, publish commands) and then use the VSTS App service deploy task.
There is one glitch we are trying to fix. Right now we detect if the app is an App service or Web app on Linux and based on that we change the UI of the task. If you are using bui

[2017-05-19 18:01] hoetz commented on #4366
I am still not sure what to type into Registry & Repository. From what I see you have to use containers when doing App Service on Linux so I selected built-in as an image source. When I just type "foobar" into the fields the task starts, the app builds and deploys to the linux web app but nothing happens. I am missing something here and it's got to do with containers :)

[2017-05-19 18:11] lmurali commented on #4352
Figured out that the problem was using the same deployment storage account caused this issue. We created new accounts, 1 per service to fix it.

[2017-05-19 18:11] #4352 closed

[2017-05-19 18:46] azooinmyluggage commented on #4366
**Built-in Source**
When using built-in source the container deployment is done without exposing its complexity to the user.
That is why I said the deployment is done exactly like App service. You will have to build the .NET Core app (restore, build, publish commands) and then use the VSTS App service deploy task. Right now we detect if the app is an App service or Web app on Linux and based on th

[2017-05-19 18:50] hoetz commented on #4366
Ok, so currently the VSTS tasks does not work with built-in image only with docker hub or private registry, right?

[2017-05-19 19:02] isaac2004 opened #4367 "Recover Deleted Build Definitions"
Is there a way in VSTS to do this currently?

[2017-05-19 19:25] bryanmacfarlane commented on #4367
No.  We've considered adding soft delete (recycle bin) for definitions.

Also note that this repo is for tracking issues with the build tasks.

[2017-05-19 19:25] #4367 closed

[2017-05-19 19:49] Yaash19 commented on #4335
I need to fail the build based on test results from "Publish Test Results" task,  otherwise i don't see the test results in "Test" tab or in summary. Its says "No tests runs available for this build"

[2017-05-19 20:31] bryanmacfarlane commented on #4361
Are you trying to build a Visual studio 2017 solution?  Are you using hosted or private agent?  Did you select the VS2017 queue on the options tab?  (that points to machines with vs2017)

[2017-05-19 20:46] isaac2004 commented on #4361
This is a 2017 Solution, hosted. Changing the queue fixed this issue

[2017-05-19 20:46] #4361 closed

[2017-05-19 21:14] bryanmacfarlane commented on #4361
Yeah - this USA bug usability problem for us.  We're aware and discussing

[2017-05-19 21:14] bryanmacfarlane commented on #4361
Is a ...

[2017-05-20 04:46] simeyla commented on #4127
@vincentdass How does something like this get fixed? Would it be a new agent?

I'm seeing the same exact problem, but I'm not clear about your web.config comment since I already have web.config in the root of my zipfile.

This is my rough directory structure:

**web.config**

<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" pa

[2017-05-20 11:16] NikolayKash commented on #4101
Hi @heaths

vs.ps1 is https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/VsTest/vs15Helper.ps1

i used the latest vswhere.exe in my test above.

[2017-05-20 15:48] hoetz commented on #4366
So i think the best way is to use the CI option from the azure portal at the moment. It creates a CI release definition in VSTS. I manually created a build definition in VSTS with dotnet restore, build etc. and I think all the pieces are not there yet for simple deployment to the linux app service. I'll keep an eye on this :)

[2017-05-21 04:32] gusdewa commented on #4076
@prawalagarwal I use VSTS.
Okay I will email you again.

[2017-05-21 04:44] kidfreeze25 commented on #4362
SqlPackage.exe is currently located at "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\130\SqlPackage.exe" on the Hosted VS2017 agent.

[2017-05-21 08:22] nigurr commented on #4350
Hi,

Please attach your DTAExecutionHost.exe.log file.

[2017-05-21 08:25] nigurr commented on #4256
A new image is closed to being rolled out with additional logging enabled to determine more information. When msbuild.exe/vstest.console.exe exits, info will be written to the application event log with the exit code and if another process killed it, the name of the process that killed msbuild.exe/vstest.console.exe.

To be ready when the new image finishes rolling out, you can go ahead and add th

[2017-05-21 17:56] keustermansk08 commented on #4350
this is de DTAExecutionHost.exe.log file:

I, 5696, 1, 2017/05/18, 16:33:11.308, 9198147924, DTAExecutionHost.exe, Main.TryReadAndCacheVssCredentials Acquiring the Token Info
I, 5696, 1, 2017/05/18, 16:33:11.324, 9198390346, DTAExecutionHost.exe, Communicating to the Token Servicehttps://tobania.visualstudio.com
W, 5696, 1, 2017/05/18, 16:33:11.371, 9199019133, DTAExecutionHost.exe, Service task f

[2017-05-22 03:45] nigurr commented on #4350
@keustermansk08 Hi, can you please attach the file? The message log is incomplete.

Can you try running this command in your test agent machine `vstest.console.exe /ListTests:<YOUR TEST DLL PATH>`.
if you are using "Any Test adapters", make sure they are copied to test agent machines.

[2017-05-22 04:15] #4351 closed

[2017-05-22 05:41] vincentdass commented on #4127
@simeyla , if any options in **File Transforms & Variable Substitution Options** is enabled, the zip package is `extracted `to a temporary location to perform the selected operation ( In case of folder, it is `copied `to temporary location).
After performing the above operation, the extracted package is compressed to a zip package. (To maintain the same package structure).  Currently, the task use

[2017-05-22 05:53] acesiddhu commented on #4255
Closing this issue. let me know if you are still blocked.

[2017-05-22 05:53] #4255 closed

[2017-05-22 06:31] prawalagarwal commented on #4120
Hi @miles1302 ,

Yes currently it is not possible to use mstest.exe to publish test results against a release. You can use the Publish Test Results task in your release flow in VSTS to publish your result files against a Release.

Since your original issue is resolved I am closing this thread. Please reach out to devops_tools[AT]microsoft[DOT]com if you have any other issues. Thanks

[2017-05-22 06:31] #4120 closed

[2017-05-22 06:38] ds-ms commented on #4342
https://github.com/Microsoft/vsts-tasks/pull/4344

This issue has been fixed. Will be rolled out in a couple of weeks.

[2017-05-22 06:38] #4342 closed

[2017-05-22 06:41] mvvsubbu commented on #4346
This issue is being addressed as part of the https://github.com/Microsoft/vsts-tasks/pull/4328 and it will be deployed in couple of weeks,

[2017-05-22 06:41] #4346 closed

[2017-05-22 06:43] mvvsubbu commented on #4362
We have a different issue for the same, I am closing this issue, please follow this issue: https://github.com/Microsoft/vsts-tasks/issues/4338 for updates

[2017-05-22 06:54] mvvsubbu commented on #4316
Fix is rolling out in phases to all the accounts, it should reach with in couple of weeks in task version 1.1.15.  Please feel free to reopen if the issue is not addressed in that version

[2017-05-22 06:54] #4316 closed

[2017-05-22 07:12] GitHubSriramB commented on #4318
@Symbianx, thanks for the feedback.

Looks like Multibranch Pipeline requires the "Pipeline Multibranch Plugin" to be installed. Can you pl. confirm?

[2017-05-22 07:59] mvvsubbu commented on #4164
There is a different issue for the same and hence closing this here, please track issue https://github.com/Microsoft/vsts-tasks/issues/4338 for updates

[2017-05-22 07:59] #4164 closed

[2017-05-22 08:00] jikuma commented on #4236
The fix for this issue has already been rolled out.

[2017-05-22 08:00] #4236 closed

[2017-05-22 08:28] bansalaseem commented on #4283
We already have notifications support for MI where we will send mails to the specific users that are the task inputs. Does that work for you?

![image](https://cloud.githubusercontent.com/assets/22289943/26298963/b7e379d6-3ef6-11e7-831d-260caeba0159.png)

[2017-05-22 08:29] bansalaseem commented on #4283
I am closing this issue assuming that it will work for you.

[2017-05-22 08:31] pascalberger commented on #4283
@bansalaseem Is it possible to have an email sent out to the user which has started the deplyoment?

[2017-05-22 09:13] acesiddhu commented on #3744
@wouterroos I have added support for theories and data driven test cases for this feature to work in our backlog. I am closing this issue. Let me know and we can have a call to see if we can unblock you in the mean time

[2017-05-22 09:13] #3744 closed

[2017-05-22 09:30] Symbianx commented on #4318
Yes, that is the plugin.

[2017-05-22 10:35] wouterroos commented on #3744
@acesiddhu It's not blocking for us at the moment, but we would love to have this functionality to improve our build times. If the feature doesn't work properly, disabling parallelism for xunit would only slow it down, or would this cause it to work as expected for Facts?

[2017-05-22 10:52] azooinmyluggage commented on #4366
The only missing piece is support for built-in source option. The task will support built-in source option shortly.
Is it working end to end for you now?

[2017-05-22 10:53] azooinmyluggage commented on #4366
The task has the capability and there is a UI issue we need to fix. I gave a work around:
_Right now we detect if the app is an App service or Web app on Linux and based on that we change the UI of the task. If you are using built in source then switch to an app service in the dropdown (app service name dropdown) and then type or paste the name of web app on linux._

[2017-05-22 10:55] StefanSchoof commented on #4321
@bryanmacfarlane: Are this better description changes any of your opinion, this is already adequate documented.

[2017-05-22 11:02] bryanmacfarlane commented on #4362
I added a cmdline line task with:
cmd: dir
arguments: /s sqlpackage.exe
(advanced)working dir: C:\

I ran the build against the VS2017 queue (under options):

It's output was:

[code]

Does that help you?

[2017-05-22 11:11] bryanmacfarlane commented on #4362
@OrestTkachuk - closing this again.  I just wanted to illustrate how you can use the system itself to answer questions like that.  hth.

[2017-05-22 11:11] #4362 closed

[2017-05-22 11:18] azooinmyluggage commented on #4245
Thanks for your feedback. I have added it to our backlog and we will consider it for future releases.

[2017-05-22 11:36] acesiddhu commented on #3744
@wouterroos do let us know if Facts works by disabling parallelism.

[2017-05-22 12:05] OrestTkachuk commented on #4362
@bryanmacfarlane thanks for your response. As I mentioned before, I tried 'c:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB\DAC\130' path and the result was the same. I am waiting for the resolution of the #4338.

[2017-05-22 12:09] mvvsubbu commented on #4241
As per the last conversation we had it started working without any additional actions for both hosted/on prem agents. So I am closing this issue as nothing is actionable, feel free to re-open if it happens again.

[2017-05-22 12:09] #4241 closed

[2017-05-22 12:12] bryanmacfarlane commented on #4362
@OrestTkachuk - did you pick the VS2017 queue on the options tab?  The hosted pool queue only has 2015 which would be why it didn't find it.

[2017-05-22 12:25] OrestTkachuk commented on #4362
@bryanmacfarlane - I'm using Hosted VS2017 agent queue. I've attached configuration from the options tab and user, system capabilities from agent configuration.

- ![agent configuration](https://cloud.githubusercontent.com/assets/22443407/26308408/c5c25a58-3f01-11e7-8196-52f7a9ac0916.png)
- ![user capabilities](https://cloud.githubusercontent.com/assets/22443407/26308551/6cea4002-3f02-11e7-86b8-6a

[2017-05-22 12:31] bryanmacfarlane commented on #4362
@OrestTkachuk - OK.  SqlPackage is there per my dir /s output.  Also, don't rely on capabilities as sqlpackage isn't registered as a capability.  Have you tried to call it directly to prove it?  I believe the task isn't finding it via registry (issue you reported) which doesn't mean it isn't there :)  You question was where is it and dir /s answers the question but doesn't fix the task.

[2017-05-22 12:32] arjgupta commented on #4131
@nirjashrestha , I am closing this issue based on our offline discussion. Your first issue was regarding xml variable substitution for setparameters file. This has been added to our back log. Your second query, was regarding how the xml variable substitution work in general. We are in process of writing blogs and help articles for the same, and the task will be updated with links to those accordin

[2017-05-22 12:32] #4131 closed

[2017-05-22 12:51] LarssonOskar opened #4372 "AzureRmWebAppDeployment: Web.config doesn't get transformed"
Hi!
I'm using the AzureRmWebAppDeployment task (version 3) and trying to transform my Web.config file. The task outputs that everything went fine ("XML Transformations applied successfully") but the Web.config still has the same values as the original. My setup is:

![configtransforms](https://cloud.githubusercontent.com/assets/6553874/26309533/b781fd8a-3efd-11e7-964e-f9f1a54b17a3.PNG)

![environm

[2017-05-22 13:10] OrestTkachuk commented on #4362
@bryanmacfarlane - OK, thank you for the explanation and the example of using Command Line build step, it will help me in further development!

[2017-05-22 16:45] ajklotz opened #4374 "Unable to get FQDN for all resources in ResourceGroup: 'resourceGroupName'"
In my release definition, I have an environment in Azure that needs files copied to, using AzCopy. This has been working until recently. I'm using Powershell v5.1.14393.953
**Powershell Module versions:**
Azure 3.8.0
AzureRm 3.8.0

The AzCopy task is configured with a Filter Criteria equal to the machine name, using the Machine Name radio button. It had been the machine name only, and not the FQDN

[2017-05-22 16:55] ajklotz commented on #4374
I just realized there is contact information for the AzureFileCopy task [located here](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/AzureFileCopy#contact-information). I will send an email instead, closing issue.

[2017-05-22 16:55] #4374 closed

[2017-05-22 17:02] keustermansk08 commented on #4350
http://prntscr.com/fatlj3

[2017-05-22 17:09] rposener commented on #4280
Just added this, still seeing errors on first run each day.  Will report with details as soon as we capture one of the failures (probably tomorrow).

[2017-05-22 17:43] ncthbrt opened #4376 "Yaml Build Defintions?"
Does this document indicate that a yaml build defintion in vsts is possible/ or in the works?
https://github.com/Microsoft/vsts-tasks/blob/master/docs/yaml.md

What is the time line on this? And how will it integrate with source control? E.g. will the build server look in the root directory of the repo

[2017-05-22 18:11] heaths commented on #4101
Because _vswhere_ by default looks only for VS SKUs. See Microsoft/vswhere#61 for details and solution.

[2017-05-22 19:27] azooinmyluggage commented on #3959
Thanks for the details. I am writing the next set of improvements to the task and I will keep this scenario as a priority.

[2017-05-22 20:31] wouterroos commented on #3744
@acesiddhu I tried running our tests again with `DisableParallelization` but I still get the same error as before.

[2017-05-22 20:38] Hnarisetty opened #4378 "Copying to Azure VM is not working."
Hi,
I have my task setup with following details. It throws below exception when I try to run it.

Source-$(Build.Repository.LocalPath)\Binaries\Local\$(BuildConfiguration)
Azure Connection Type- Azure resource manager
Azure RM Subscription- my subscription id
Destination Type- Azure Vms
RM Storage Account- My storage account
Resource Group- My resoruce group
Select Machines By-  machines checked
F

[2017-05-22 21:48] farlee2121 opened #4379 "Azure Sql Database Deployment fails to login when passwords contain a dollar sign"

[2017-05-22 23:45] jersiovic opened #4380 "Problem publishing a custom project with custom bundle and modules in different folder"
This is how I have organized our folders to keep all our modules for a Project in a repo.

This is the root folder of our submodule repo and its nested folder and relevant files
[code]
This works properly and can be run from VStudio. However when I publish it I get following error:
[code]
Maybe it is useful for you to know which is the content of this file \Orchard2\src\OrchardCore.DistribWebAPI\B

[2017-05-22 23:52] jersiovic commented on #4380
I did the following before publishing, but it didn't solve the problem:
`Orchard2\git clean -xdf`
`Orchard2\src\OrchardCore.DistribWebAPI\git clean -xdf`
`Orchard2\dotnet restore`

[2017-05-23 00:34] acesiddhu commented on #3744
Does it have theories? Whats the full log saying? If the log has 187a4a28b02d5c896372aaea0625e2440ffa3315 (some random number )they do have theories

[2017-05-23 01:24] bryanmacfarlane commented on #4380
This doesn't seems like an issue with one of the CI tasks in this repo.   If you can supply which task and your CI build output, reactivate

[2017-05-23 01:24] #4380 closed

[2017-05-23 01:25] bryanmacfarlane commented on #4376
It's in the works.  Here's an early video of a proto

https://www.youtube.com/edit?o=U&video_id=lkPnv5H2ANI

[2017-05-23 01:25] #4376 closed

[2017-05-23 02:36] GitHubSriramB commented on #4318
We haven't explored what it takes to support selecting artifact source for jobs coming out of this plug-in. We will add this item to your backlog & get back to you once we have added support. Thanks again for your feedback.

[2017-05-23 03:53] nigurr commented on #4350
@keustermansk08 that clearly indicates, there are missing "Any custom test adapters" which you are using. If you have custom adapters, can you copy them to the machine and discover tests `vstest.console.exe /ListTests:<YOUR TEST DLL PATH> /TestAdapterPath:<YOUR ADAPTER FOLDER>`

[2017-05-23 04:11] mvvsubbu commented on #4379
Thanks for reporting can share release logs by setting system.debug to true

[2017-05-23 04:40] mvvsubbu commented on #4378
Can you share the full logs of the task setting system.debug to true

[2017-05-23 05:08] jersiovic commented on #4380
Yes you are right, Iddin't noticed I submit my issue to the wrong repo

[2017-05-23 05:56] mvvsubbu commented on #4365
This is an issue with asp.net apps on azure app service, to avoid this our/asp.net recommended approach to update App is

Approach 1:
1.  Stop staging slot deployment
2.  Deploy to staging slot
3.  Start the staging deployment
4.  Swap the slot

You can achieve using App Service Manage and App Service Deployment tasks together. This is correct way to deploy and it ensures file in use doesn't occur

[2017-05-23 06:02] mvvsubbu commented on #4372
@LarssonOskar,

If you are using MsDeploy Package for deployment, we have added some more guidance on how to get this working in new version of our task 3.3.6 which should reach to your account in a couple of weeks.

I am briefing the same here for you. Can you try these suggestions and let us know?

### To Skip Applying Web.<Env>.Config on your web.config during Msbuild, you need to update your W

[2017-05-23 06:12] arjgupta commented on #4226
@shyamsrini , are you still facing this issue. If yes, can you please send the debug logs for the task.

[2017-05-23 06:13] mvvsubbu commented on #4207
@Manmp

By any chance the script you are running asks for any interactive inputs or pops up any dialogs? Can you check and confirm that?

[2017-05-23 06:25] yaroslavya commented on #4262
Having the same issue. @chrisrpatterson can you give some more details on why it happens if you just add 2 npm commands one after another? I added `npm install` and `npm run build` which immediately gave me this error:
"##[error]Only one command should be used for npm. Use 'Arguments' input for additional arguments."

[2017-05-23 06:30] bryanmacfarlane commented on #4262
And for the second task was it:
Npm
Command: run
Arguments: build

Or was it
Npm
Command: run build

?

[2017-05-23 06:58] yaroslavya commented on #4262
`run build` it is!

[2017-05-23 07:04] shyamsrini commented on #4226
@arjgupta , I am unable to see the error in 3.3.2 onwards. Thanks

[2017-05-23 07:18] hoetz commented on #4366
I'm sorry, I think I didn't fully understand what you mean by "built in source" ?

[2017-05-23 07:40] Manmp commented on #4207
No I verified.
However I had that issue in other script. Do we have any solution of that?

On May 23, 2017 11:44 AM, "Subrahmanyam Mandavilli" <
notifications@github.com> wrote:

[2017-05-23 08:45] mvvsubbu commented on #4207
No you can't run script that requires interactive inputs.   I got your script from @arjgupta it contains msiexec with /qb option, Can you try changing it to /qn.

[2017-05-23 08:47] mvvsubbu commented on #4143
@davenewza  any update?

[2017-05-23 08:58] mvvsubbu commented on #4103
We are going to address this issue, for the time being to unblock your self you can have agents bit under a folder with no spaces in it.  We will update once the spaces issue is being addressed.

[2017-05-23 09:17] Manmp commented on #4207
It was /qn before but it also does same and do not install the application

On Tue, May 23, 2017 at 2:15 PM, Subrahmanyam Mandavilli <
notifications@github.com> wrote:

--
Regards
Manisha

---Life is like a book: what matters is how good it is, not how long it is

[2017-05-23 09:20] mvvsubbu commented on #4207
Can we have lync call?

[2017-05-23 09:32] wouterroos commented on #3744
@acesiddhu Yes it does, I was under the impression that you already created a fix that excludes `[Theory]` tests, but that doesn't seem to be the case. At the moment I have no easy way to skip all `[Theory]` tests in our solution so I can't really test if it would work for just `[Fact]` tests.

[2017-05-23 10:44] Symbianx commented on #4318
Also, keep in mind this issue does not affect only the plugin but also jobs that are grouped in folders.
Thanks.

[2017-05-23 11:20] LarssonOskar commented on #4372
Hi @mvvsubbu and thanks for your reply!
Removing `<DependentUpon>` in the csproj file worked and the task now transforms the configs correctly! :+1:

[2017-05-23 11:39] chrisrpatterson commented on #4280
@rposener any luck getting a repro with logs?

[2017-05-23 12:01] nvankesteren commented on #4256
Can MS repro this without outside projects? My team no longer has the resources to keep testing this and have stepped back a version. I'm watching this space to see if the issue is resolved.

[2017-05-23 12:06] mvvsubbu commented on #4372
Thanks for confirming I am going ahead and closing the issue

[2017-05-23 12:06] #4372 closed

[2017-05-23 12:06] mvvsubbu commented on #4010
Fixed

[2017-05-23 12:06] #4010 closed

[2017-05-23 12:13] #4226 closed

[2017-05-23 12:21] jrmcdona commented on #4262
You have to use the arguments in the second command.   Use

[2017-05-23 12:23] acesiddhu commented on #3744
@wouterroos hmm. yes it wont work if you have theories. Let me see what can be done to atleast enable a fix scenario like urs before we have solution for theories

[2017-05-23 12:23] bryanmacfarlane commented on #4262
The second one isn't a command - it's arguments
run is the npm command.  build is an argument

[2017-05-23 12:25] jrmcdona commented on #4262
Ok, second "task" I should call it.  Not command!

[2017-05-23 13:05] GitHubSriramB commented on #4008
Apologies for the delay.

@cooljig89 - I see that you are missing defining authKey in the source definition. This has to point to the endpoint Id to use for getting the source definition. It would typically correspond to the endpoint input for the task (e.g. $(connectedServcieJsonPlaceHolder) like specified by @Fizcko in example above). Can you try if the issue gets resolved with this? If not, cou

[2017-05-23 13:19] devedse opened #4387 "Docker task not supporting writing output to variable"
I created a pull request for Docker to support writing the output of a Docker command to a variable. This can be used to chain Docker commands. (E.g. obtaining all images and then running a docker command to remove them).

Since I have gotten almost no reply's on my PR I decided to create an issue regarding this as well.

All details regarding this are available in the PR: #4005

[2017-05-23 13:34] rposener commented on #4280
@chrisrpatterson no failures today.  Yesterday we had an odd outage - nuget was failing with a socket error across all builds on the first nuget task for a good hour or more.  Any chance these issues are related?

[2017-05-23 13:35] goatmale commented on #4103
Can you provide instructions on how to do that?
Thanks!

On Tue, May 23, 2017 at 3:58 AM, Subrahmanyam Mandavilli <
notifications@github.com> wrote:

[2017-05-23 13:38] rposener commented on #4280
Here are the nuget error details we were seeing, just incase this helps anyone.
[code]

[2017-05-23 13:40] chrisrpatterson commented on #4387
We are currently working on more formal support for output variables in vsts tasks.  We expect to ship that soon, so once it is in place you can update your PR and we can take a look at it.

[2017-05-23 13:42] rposener commented on #4280
Just reviewing the logs - our last '-1' error was last Friday (May 19).  We didn't have any builds triggered over the weekend, and yesterday we were getting the nuget error on the first builds of the day, when we have been getting the '-1'.

[2017-05-23 14:06] Hnarisetty commented on #4378
There are so many errors... one for each dll. Here are few lines.. Let me know if you still need to see entire log.

UploadResponseLog: Failed to upload files to Azure Storage. Detailed error:\r\nSystem.Exception: [2017/05/23 13:07:20][ERROR] App.config: File size 29.41KB is invalid for PageBlob, must be a multiple of 512 bytes.
2017-05-23T13:08:10.9527079Z ##[debug][2017/05/23 13:07:20][ERROR] Ca

[2017-05-23 14:14] kiransaa opened #4388 "Update azure node modules for vsts agent(private build agent)"
Hi
the ability to deploy a resource to multiple resourcegroups(https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-cross-resource-group-deployment) was added recently to the azure resource manager but it requires that the powershell azure module be updated to the latest version. This I already did but since the azure resource group deployment task depends on node modules

[2017-05-23 14:31] chrisrpatterson commented on #4388
@RoopeshNair can you comment on when we will update the resource group to support these new features.

@kiransaa simply updating the node modules is not going to do anything for you unelss you are using one of the generic script options like the Azure CLI or Azure PowerShell

[2017-05-23 14:36] igorguga commented on #1170
@ericsciple @scottdallamura did this problem was fixed?? I'm experiencing the same issue with scheduled builds in TFS 2015.3. After midnight more than 50 scheduled builds are queued, most of them fail with this error. If you run one of them manually it works.

[2017-05-23 15:42] mvvsubbu commented on #4103
You can refer this link for details https://github.com/Microsoft/vsts-agent/blob/master/README.md

[2017-05-23 15:46] alexxonline commented on #4361
What is the workaround for this issue?

[2017-05-23 15:50] kiransaa commented on #4388
@chrisrpatterson  - appreciate the quick response. Figured that might be the case but wanted to verify :)....i am using the MS built task not a generic one.

[2017-05-23 16:10] isaac2004 commented on #4361
@alexxonline there is an option in the Agent Section of Options. Set the Default Agent Queue to Hosted VS 2017

![image](https://cloud.githubusercontent.com/assets/8878502/26364005/da9f2730-3fb0-11e7-9fdd-3dd4c1c67ed2.png)

[2017-05-23 16:12] bryanmacfarlane commented on #4361
And to be clear that is the solution, not a workaround.  The usability issue I'm referring to is it's not obvious you have to do that

[2017-05-23 16:40] Eneuman opened #4389 "Using Update Service Fabric App Versions Task with mutiple Applications does not work"
Hi
I have created a solution with two service fabric applications in it.
When I created a new build definition using the "Azure Service Fabric Application" (in VSTS) it sets up a build task with the name "Build solution **\*.sfproj" and a bit below this, a task with the name "Update Service Fabric App Versions".

The build runs successfully but only the last application is getting the version upda

[2017-05-23 17:56] SergeyKanzhelev commented on #2537
@RoopeshNair Application Insights is still relying on `BuildInfo.config`. Can the target be added back?

[2017-05-23 18:44] farlee2121 commented on #4379
The draft build history disappeared and I'm out of build minutes for the month. I'll have to get you specific error logs at a later time

[2017-05-23 20:26] ncthbrt commented on #4376
Awesome. Sorry to bother again, but that link doesn't work for me.

[2017-05-23 20:28] bryanmacfarlane commented on #4376
hmmm.  How about this one?

https://youtu.be/lkPnv5H2ANI

[2017-05-23 20:29] ncthbrt commented on #4376
Yes that works :)

[2017-05-23 20:29] bryanmacfarlane commented on #4376
yeah - I copied the edit url the last time :/

[2017-05-23 20:37] bryanmacfarlane commented on #4376
That video also references tool installers which is a pre-cursor and is in preview now

https://www.youtube.com/edit?o=U&video_id=Ie8EuvqJ0Hg

[2017-05-23 20:51] ncthbrt commented on #4376
Funnily enough we were also talking about that very same problem this evening.

[2017-05-23 21:51] cicorias commented on #4302
a `command -v az` would be most compliant and consistent.

[2017-05-24 03:28] bryanmacfarlane commented on #4256
We finally got a repro which captured the offending process from the event log line above.  We know exactly what is killing msbuild/vstest now.  We're following up right now with an image update.  It takes awhile to rollout but good news.

This one was especially tough because the size, length and volatility of our tool would protect it from repro'ing.  Sorry for the inconvenience.

[2017-05-24 03:29] bryanmacfarlane commented on #4280
We finally got a repro which captured the offending process from the event log line above.  We know exactly what is killing msbuild/vstest now.  We're following up right now with an image update.  It takes awhile to rollout but good news.

This one was especially tough because the size, length and volatility of our tool would protect it from repro'ing.  Sorry for the inconvenience.

[2017-05-24 06:45] sachinma commented on #4128
@GitHubSriramB Do you think this is valid enhancement request for service endpoints?

[2017-05-24 07:22] bishal-pdMSFT commented on #3624
@miker1423 @bishal-pdMSFT This could be happening as your sfproj might be older than minimum supported version by SF sdk and tools running on HostedVS2017 agent. Current version on this queue is 5.7-preview.
You should install this version of SF sdk and runtime on your local machine and update sfproj. I think you might not be able to install 5.7-preview version as it is not available on WebPI, but

[2017-05-24 07:26] bishal-pdMSFT commented on #4389
@Eneuman the service fabric build definition template is designed to work for a sln containing just one sfproj. You need to add another "Update Service Fabric App Versions" task for second sfproj application. Additionally you should provide full path to ApplicationManifest.xml to this task. So, for two tasks, you will use paths like $(build.artifactstagingdirectory)\applicationpackage\**applicatio

[2017-05-24 07:43] GitHubSriramB commented on #4128
Endpoint URL cannot have parameters.

If the intent is to create a single endpoint that points to different clusters then this scenario is not supported. We need three different endpoints to access the three different clusters (although the credentials to access them is the same).

[2017-05-24 08:36] parv0888 opened #4394 "tsc.exe exited with code 1"
Using the latest tools 2.3.1 with Vs2015
I have the updated compiler and MsBuild Targets
the error that im receiving in the output window in verbose debug session is

[code]
With me the issue comes up randomly. Sometime it builds fine and other times it gives this error.
The issue has persisted since we started the project and from version 1.8.

TsConfig
[code]

Any Help?

[2017-05-24 08:41] parv0888 commented on #4394
Any help on when

JsErrorScriptException (0x30001)
OR
Out of stack space

error is thrown by the compiler OR the concerned source code.

[2017-05-24 08:42] #4394 closed

[2017-05-24 09:28] mvvsubbu commented on #4378
Yes, please share the complete log file of Azure File Copy task

[2017-05-24 09:30] mvvsubbu commented on #4103
Are you able to configure your agent with different working directory?

[2017-05-24 09:32] mvvsubbu commented on #4004
Any update?

[2017-05-24 13:06] jayaranigarg commented on #3917
@JamesNK :
1. Can you try creating a blank UWP Test Project and see if it works for you? (Just to eliminate the possibility of machine being in a bad state).
2. What is the version of "Microsoft.NETCore.UniversalWindowsPlatform" package on the machine where you built the appx? And what is the version on the machine where you are running the appx? Are they different?
3. If possible, can you share a

[2017-05-24 13:29] styfle commented on #4361
@isaac2004 Thank you, this worked!

@bryanmacfarlane The odd part is that I switched the build from VS 2015 to VS 2017 in mid April and it worked fine. This last week starting mid May is when I started getting the "Visual Studio 2017 was not found." error.

After changing the agent queue from Default to Hosted VS2017, I can build but not run tests.

### Console Output

[code]

Any idea about this?

[2017-05-24 13:51] styfle commented on #4361
I figured it out. There is an advanced options with VSTest Version.

![image](https://cloud.githubusercontent.com/assets/229881/26406514/7d4daafa-4066-11e7-9ca0-61fd817f269b.png)

I selected "Latest" and it works now.

[2017-05-24 14:10] chrisrpatterson commented on #4280
@rposener can you create a seperate issue for the NuGet question.

[2017-05-24 14:16] blarsonrp commented on #4103
No – I have been just renaming the old build agent folder to the new version name to use the old version still. Do you have an ETA on when this could be fixed?

From: Subrahmanyam Mandavilli [mailto:notifications@github.com]
Sent: Wednesday, May 24, 2017 4:31 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Brett Larson <BLarson@rightpoint.com>; Comment <comment@noreply.github.com>

[2017-05-24 14:20] cmielke opened #4395 "DeployVisualStudioTestAgent task fails on Windows 10 VM"
The DeployVisualStudioTestAgent task is failing when I try to deploy the Visual Studio 2017 test agent to a Windows 10 VM. I just created the VM fresh today, so I know that no other versions of the test agent have ever been installed on it. In the build log, I am seeing the following error message:

**Deployment aborted unexpectedly. This might be due to an unplanned restart of target machine. Con

[2017-05-24 14:32] Eneuman commented on #4389
@bishal-pdMSFT I tried your suggestions and changed the first build task build argument to:
`/t:Package /p:PackageLocation=$(build.artifactstagingdirectory)\applicationpackage\Authentication`

and the argument on the second build task to:
`/t:Package /p:PackageLocation=$(build.artifactstagingdirectory)\applicationpackage\Ekonomi`

I also changed the versioning task, Application Package to:
`$(buil

[2017-05-24 15:38] bishal-pdMSFT commented on #4389
@Eneuman I just tried this scenario locally on my box and I don't see this issue. if you are using private agent, can you please check the contents of d:\a\tmp\drop?
Also please enable debug logging by setting a build variable with name "system.debug" and value "true" and retry the release and then send me the logs

[2017-05-24 16:13] seanfuture commented on #4143
Still an issue it seems after adding `<SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>` in all publishing profiles.  Rolling back our implementation of Application Insights integration.  Sample msdeploy log file:

[code]

[2017-05-24 16:53] siddhu151dj commented on #3837
I'm having very same issue. But I'm trying to deploy Test agent 2015 to Windows 10 machine.
And it's failing with the same error. The workaround didn't work too.

[2017-05-24 17:47] Eneuman commented on #4389
@bishal-pdMSFT I'm using Hosted Agent VS 2017 when building.
I have attached the logs below.

The only task I have added to the build definition is "dotnet restore" because I have projects using .Net Standard 1.4.
[logs_46.zip](https://github.com/Microsoft/vsts-tasks/files/1026554/logs_46.zip)

[2017-05-24 18:21] bishal-pdMSFT commented on #4389
@Eneuman I think the issue is happening when task is trying to compare new version against last successful release. For you earlier releases, you were putting manifest files directly under applicationpackage folder. And then to accommodate multiple applications, you added an extra folder under applicationpackage. And now the comparison logic is looking for that extra folder in old artifacts - whic

[2017-05-24 18:26] bishal-pdMSFT commented on #4389
one workaround I can think of is - create a release with "Update only if changed" flag turned off. This will not try to compare against old release and then you will have a successful release with new folder structure. Then you can enable this flag back for subsequent releases.

[2017-05-24 18:34] Eneuman commented on #4389
@bishal-pdMSFT Okey, Im gonna give it a try right now. But shouldn't the compare just log if it cannot find it in the previous release and not fail?

[2017-05-24 18:35] bishal-pdMSFT commented on #4389
yes, this can be treated as a bug.

[2017-05-24 19:04] Eneuman commented on #4389
@bishal-pdMSFT I just got the result from testing your workaround.
On the first run the build succeded and the Packages got updated to version "1.0.0.20170524.3"

On the second run (now with "only update if changed" turned on), it updated it successfuly, so the workaround works fine :)

I  did noticed a stange things tough.
The second "Update Service Fabric Version" downloaded the drop again. Shou

[2017-05-24 22:32] ace26 commented on #3311
It is May and I ran into the same issue when my default queue was set to "Hosted". The build kept on failing with the error message:

However, as @hallatore suggested, I switched the default queue to "HostedVS2017" and that did the magic.

[2017-05-25 02:55] nigurr commented on #4395
@cmielke Can you share the logs from `C:\TestAgent\DTAExecutionHost.exe,log`?

[2017-05-25 02:59] nigurr commented on #3837
@siddhu151dj these issues have been resolved in TFS 2017 U2. If you are using VSTS, it should be rolling out by this weekend.

[2017-05-25 03:01] bryanmacfarlane commented on #3311
@ace26 - yes, that is the solution.  Select the vs2017 queue which selects a vs2017 machine which supports net core csproj