[2021-06-22 13:17] farlop opened #14989 "AppCenter Distribute task failed with message"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AppCenterDistribute@3

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure DevOps Server 2020

- Agent - Hosted or Private: Private agent 2.182.1 running on Windows Server 2012 R2

## Issue Description

Suddently distribution fails with error message:
`{\"status\":400,\"name\":\"Error\",\"message\":\"Missing required

[2021-06-22 13:42] terenceyan commented on #14989
We've been seeing the same issue as well since June 21.

[2021-06-22 18:19] cindydeng1998 commented on #14929
@YarekTyshchenko @rsmit3 , the hotfix is now live. Please let us know if you are still running into this issue. If not, please feel free to close this Github issue. Let us know if you need anything else, thank you!

[2021-06-22 18:20] asklar commented on #14988
After enabling system.debug (must be done in the main repo, not in a fork), I see that the task succeeds silently if it doesn't find the nuspec we asked it to pack, which is a bug.

[2021-06-22 19:42] shermes commented on #14981
I implemented a slightly different workaround based on the suggestion by @tasha-rooney-ul . I just replaced the AzureBlob file copy task with an Azure CLI task that ran azure blob upload. This is the command that worked for me. It ran faster than the AzureBlob file copy task as well.

`az storage blob upload-batch --account-name <STORAGE ACCOUNT NAME>  --auth-mode login  --destination ‘$web’ --sou

[2021-06-22 19:48] asklar commented on #14988
![image](https://user-images.githubusercontent.com/22989529/122989833-210cc580-d358-11eb-943d-ccc5631f2784.png)

[2021-06-23 02:11] AntRemo commented on #14989
Same error with v0.131.0 and v3.173.0 of task (using v0.*)

Using v3.* of task produces different error
##[error]Unhandled: Cannot find module './models/shareresult'

[2021-06-23 05:22] AmrutaKawade commented on #14176
These changes are already merged closing this issue

[2021-06-23 05:22] #14176 closed

[2021-06-23 05:25] GeorgeDarakchiev commented on #14989
We have also been experiencing this issue since June 21.
It seems like it started happening with the new version of AppCenter SDK: [https://github.com/Microsoft/AppCenter-SDK-DotNet/releases](https://github.com/Microsoft/AppCenter-SDK-DotNet/releases).

[2021-06-23 06:09] tomkerkhove opened #14990 "GitHub Release - Support for creating GitHub Discussion"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: GitHubRelease

## Environment

N/A

## Issue Description

Support for creating GitHub Discussion when the release is created per https://github.blog/changelog/2021-04-06-releases-support-comments-and-reactions-with

[2021-06-23 09:20] MrLuje opened #14991 "HelmDeploy overrideValues is not a multiline field"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

HelmDeploy > "Set Values" field states that we can either split values with comma or new lines
Unfortunatly, this field is not defined as multiline

![image](https://user-images.githubusercontent.com/632075/123071128

[2021-06-23 10:00] shoter commented on #13442
@avagraw When document is going to be updated? I was stuck on that too.

[2021-06-23 12:39] pulkitaggarwl commented on #9754
@aaronhalberg to have a look at this one.

[2021-06-23 14:12] marianan commented on #13442
@shoter this section's yaml code has been updated per the feedback from this thread - https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/azure-iot-edge?view=azure-devops#push-module-images

In addition we found that this specific article [link](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/azure-iot-edge?view=azure-devops) is not complete and we recommend usi

[2021-06-23 14:26] jakubch1 commented on #14594
@bwstaal thanks for reporting this. It's fixed only in 16.10. We received this issue https://github.com/microsoft/vstest/issues/2822. It was regression in 16.9 but as there was no a lot of reports we decided to not service 16.9.

[2021-06-23 14:28] toolboc commented on #14929
@cindydeng1998, you mentioned that a hotfix is now live, but it does not seem that all Azure DevOps instances are receiving the hotfix.

The latest version of the AzureIoTEdgeV2 task at this time is version 2.4.8.  When, I attempt to run a"Deploy to IoT Edge devices" task against this version, everything works fine as expected.

[code]

However, when using a completely separate instance of Azure D

[2021-06-23 14:38] jpulipv opened #14992 "Bash: diff comand's returns invalid characters."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-23 15:14] terenceyan commented on #14989
It appears the issue is Microsoft has deprecated the AppCenter endpoint the AppCenterDistribute task used to upload builds.

Deprecated: [https://openapi.appcenter.ms/#/distribute/releaseUploads_create]()

And replaced it with this. [https://openapi.appcenter.ms/#/distribute/releases_createReleaseUpload]()

So all on-premise Azure Devops Server won't have an updated task version that can use this.

[2021-06-23 15:22] #14594 closed

[2021-06-23 15:54] farlop commented on #14989
So maybe upgrading to Azure DevOps Server 2020.1 might use the updated task?

I've seen that the commit switching to other URL for publishing is almost one year ago...

Disculpa la brevedad.
Saludos

________________________________
From: Terence Yan ***@***.***>
Sent: Wednesday, June 23, 2021 5:14:15 PM
To: microsoft/azure-pipelines-tasks ***@***.***>
Cc: Andrés Valor ***@***.***>; Author ***@***

[2021-06-23 18:50] jmhon08 commented on #13275
I would like to see this as well. @shailesh-sk the PR is waiting your review

[2021-06-23 20:37] dabrantkosky commented on #12010
Still having this issue.

[2021-06-23 20:49] terenceyan commented on #14989
I received feedback from AppCenter support they are fixing the issue today. No ETA estimate.

[2021-06-24 00:10] mdlopresti commented on #12010
Same

[2021-06-24 04:09] harvinders commented on #13470
@anatolybolshakov thanks for the link, I would try it as soon as possible.

[2021-06-24 08:08] shailesh-sk commented on #13275
@jmhon08 PR looks good to me, feel free to checkin.

[2021-06-24 09:23] #14052 closed

[2021-06-24 09:47] dmcweeney commented on #9789
Hi @bishal-pdMSFT any update on this?

[2021-06-24 11:58] clairernovotny opened #14993 "Static Web Apps task fails: invalid mount"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**  Bug
*Type*: Trying to use the Static Web Apps task fails with

2021-06-24T11:48:11.1977070Z docker: Error response from daemon: OCI runtime create failed: invalid mount {Destination::/working_dir Type:bind Source:/var/lib/docker/volumes/bbccd3a50b1699

[2021-06-24 12:07] #14110 closed

[2021-06-24 13:14] clairernovotny commented on #14993
The issue is that the task is hard coded for `$BUILD_SOURCESDIRECTORY` and that's not present in release management. It should probably be set to `SYSTEM_DEFAULTWORKINGDIRECTORY`, which is the source directory on build and artifacts on release. Or let it be set.

[2021-06-24 15:31] jloehr opened #14994 "XCode fails to export signing when using ".xcodeproj""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: XCode

## Environment

- Server - Azure Pipelines

## Issue Description

We're building our Unity iOS Application with Azure DevOps. Previously Unity did generate an Xcode Workspace in the resulting XCode project. Howe

[2021-06-24 15:36] jloehr commented on #12364
As this one reads quite similar to my issue #14994, I'll link my issue that contains a temporary workaround, that may also work for your issues.

[2021-06-24 17:33] harini312296 opened #14996 "ID Disabled in Azure active directory"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-24 17:41] munkii opened #14997 "AppCenterDistribute cannot find aab file despite the artifact being successfully downloaded"
*Type*: Bug

**Enter Task Name**: AppCenterDistribute@3

## Environment
- Server - Azure Pipelines
    - Organisation: MagicBulletLtd
    - Project: Breathe

- Agent - Hosted
- Image windows-latest

## Issue Description

We have a two stage pipeline where the first stage builds a  Xamarin Android package with an AAB. At the end of the first stage we publish that artifact using the PublishPielineAr

[2021-06-24 22:38] oleksiypavlenko commented on #6757
24 JUN 2021 seeing the same error since at least UTC 21:00.

[2021-06-25 09:01] towhereur commented on #8345
When you use Variable Group, all variables are registered to env variables automatically but secret.
So, you should declare with env variable with another name. Not working with the same name.

if you added variable named vmUserPassword as Secret, you can add env in your pipeline task like below.
-script: echo "##vso[task.setvariable variable=vmUserPwd;]$(vmUserPassword)"

and in your powershell f

[2021-06-25 12:44] sfragata commented on #14915
I found it

[code]

I'm using `maven:3.8.1-openjdk-16-slim` container so it needs to set a java home

[code]

[2021-06-25 13:11] walczakp opened #14999 "Maven task: Setting for using Maven wrapper inside Maven task"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Maven

## Issue Description
This is a kind request to support a configuration option allowing to specify maven wrapper in Maven task. Maven 4 is going to support wrapper usage out of the box: https://maven.apache.org/plugins/maven-wrapper-plugin/
I'm aware of https://github.com/Microsoft/azure-pipelines-t

[2021-06-25 14:34] pvpetrac commented on #6757
We are facing this issue as well. Due to this error app slot swap won't work anymore.

[2021-06-25 21:00] StephenHodgson commented on #13194
Bippity bumpitty boop

[2021-06-26 06:05] #14128 closed

[2021-06-27 15:05] #14053 closed

[2021-06-27 19:20] Heisenberg74 opened #15000 "HelmDeploy - Use registry service connection"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-27 20:41] AntRemo commented on #14989
It's working for me now 🎉

[2021-06-28 07:32] alexander-smolyakov commented on #14958
@pragnesh1234, is this issue still actual to you?

[2021-06-28 08:31] JeffreyH89 opened #15001 "Azure CLI task - option to skip az-cli version check"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-28 10:05] bazted commented on #2058
@aviatrix  any hope you will Open Source it?

[2021-06-28 10:37] Heisenberg74 commented on #14991
Hi @MrLuje ,

As described in [documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/helm-deploy?view=azure-devops), if you require a multiline value, you have to use the `valueFile` parameter 👍

[code]

[2021-06-28 10:37] munkii commented on #14997
This was as simple as me not wildcarding a recursive appFile path in the AppCenterDistribute task

appFile: '$(Build.SourcesDirectory)/Artifacts/**/com.OurProject.OurApp.apk'

Yes, I have swicthed to APK too but I had the same issue with IPA (iOS) all now fixed with "**". Fresh yes this morning allowed me to see my stupidity. Apologies for any wasted time

[2021-06-28 10:37] #14997 closed

[2021-06-28 14:17] MrLuje commented on #14991
Hi,

This is not about a multiline value, but multiple keys/values
We are setting several values through this field but it quickly becomes
hard to read with everything on the same line.

We are also using valueFile but when we have to temporarily override a
value, we are doing it through the "Set value" field

Example of "Set values" :

cron.command={"/bin/sh","-c","$(pre_start_cmd)dotnet

From th

[2021-06-28 14:44] rebecca-makar commented on #14937
@chshrikh @bishal-pdMSFT @tejasd1990 Any more info on how to fix what I am running into. Have tried updating to newer versions, changing paths, and still not working as it was previously.

[2021-06-28 17:21] bradhead opened #15002 "Post Deployment Script of the DevOps Task "Azure App Service Deploy" Does NOT run in deplooyed"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-29 06:08] AmrutaKawade commented on #14981
Sorry for delayed response
@rgong-cfn @rawatmanish
is it working now?

[2021-06-29 06:15] AmrutaKawade commented on #14974
@thyme51 any update?

[2021-06-29 06:21] AmrutaKawade commented on #14930
@Manbearpiet any update on this?

[2021-06-29 06:21] AmrutaKawade commented on #14884
@dsfrederic any update?

[2021-06-29 06:55] Manbearpiet commented on #14930
Hey @AmrutaKawade I return today from my holiday I will check this week!

[2021-06-29 07:31] shigupt202 commented on #14993
@BrandonHopcraft Can you please take a look?

[2021-06-29 07:39] jessehouwing opened #15003 "Can't pass script arguments to Azure PowerShell task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShell@5

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzurePowerShellV5/task.json#L78

## Environment
- Server - Azure Pipelines or TFS on-premises?
   - Azu

[2021-06-29 08:04] tiwarishub commented on #14937
Hi @rebecca-makar, I tried to run your same GO command using a normal script and there also is failing
[code]

The error reason is the same
![image](https://user-images.githubusercontent.com/64764738/123755682-c89a7280-d8d9-11eb-9094-1381eea29cbb.png)
I will recommend you to check your Gomodule/GOPATH setting

[2021-06-29 12:08] orty opened #15005 "How to download previous agent job built artifacts to avoid rebuilding sources."
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: DownloadPipelineArtifact

## Environment
- Server - Azure Pipelines

- Agent - Hosted or Private: Hosted

## Issue Description

How (is it even possible ?) to leverage both the `PublishPipelineArtifact` and `DownloadPipelineArtifact` tasks to make the following scenario work in a build pipeline (used only to validate PRs, the fi

[2021-06-29 12:47] jakwo commented on #14981
I do have the same issue. The **same files** are always skipped. Those 6 files are the only ones above 5MB. I did not change anything. It just stopped working on the 6/18 - but worked immediately after again.

But since last friday (6/25) it does not work anymore at all. Not with Version 3 and also not with Version 4.

I will try the provided workaround though.

[2021-06-29 12:51] masterjs commented on #14981
On my side it started working again a few days then wasn't working yesterday (likely since Friday). Since it hit us twice, we completely changed our approach too and switched the method suggested by @shermes  and @tasha-rooney-ul . Now we have no more surprises and it works well.

[2021-06-29 13:12] jakwo commented on #14981
I used @shermes "workaround" which works just fine. Thanks!

[2021-06-29 14:42] rebecca-makar commented on #14937
@tiwarishub
I did not change anything in the automation, it started failing one day on the agent. Would this be Azure Devops Pipeline Agents bug? go-sdk bug?

[2021-06-29 22:36] DavidKlempfner commented on #9807
This fixed it for me:
_Use npm install --registry https://registry.npmjs.org instead of npm install_

https://stackoverflow.com/a/62875329/2063755

[2021-06-30 00:38] qd-danh commented on #13585
@diakonos wondering if you figured out an alternative deployment approach?  I'm seeing same behavior, where the files from the zip are not properly overwriting existing files in the wwwroot dir.

For me it's not about new and deleted files, it's not overwriting existing ones.

[2021-06-30 02:59] nadesu commented on #14951
@AmrutaKawade - pls review this clarification

[2021-06-30 10:20] diakonos commented on #13585
Hi @qd-danh, yes I containerized my application with Docker and deploy Docker images now. Azure Pipelines builds the Docker image and pushes it to Azure Container Registry, and I deploy that on App Service.

[2021-06-30 11:48] ph1f1 opened #15006 "VSTestV2 - Unable to get feature flag: TestExecution.EnableTranslationApi"
Question, Bug, or Feature?
Type: Bug

Enter Task Name: Visual Studio Test 2.*

Environment
- Server - Azure DevOps 2020 Patch 3 on-premise
- Agent - Private, Windows Server 2012 R2, x64, Agent Version 2.170.1

## Issue Description

The pipeline's logs and summaries contain warnings complaining about feature flags.
I started to see these warnings after the Upgrade of DevOps from 2019 to 2020 Patch

[2021-06-30 12:17] 0r2W9vXGArZ8e0CYGxwS commented on #13275
A bit late to the party, but I'm looking forward to seeing this added as well.

[2021-06-30 15:31] thesushil commented on #9157
For anybody looking for a workaround, I am using AzureCLI until AzureFileCopy supports sync:
[code]

[2021-06-30 15:33] rebecca-makar commented on #14937
I updated versions:
[code]

Also am doing it on a virtual machine:
[code]

Unsure what is going on

[2021-06-30 16:51] cindydeng1998 commented on #13977
Hello @oliverchristen, after doing some internal investigations, we are going to close this Github issue. We are currently unable to reduce the Generate Deployment Manifest task runtime because each Azure DevOps Edge task needs to verify or install necessary tools and dependencies before executing the actual task. The times you are seeing are within the same ballpark as the numbers we are seeing f

[2021-06-30 16:55] cindydeng1998 commented on #13977
@ds-ms do you mind closing this issue for us? Thank you

[2021-06-30 17:14] anatolybolshakov commented on #14561
Hi @nishi1612 is this issue still actual for you?

[2021-06-30 17:17] anatolybolshakov commented on #14882
Hi @titans2016 is this still actual for you?

[2021-06-30 19:11] titans2016 commented on #14882
Yes. The new task which you recommend, absolutely does not help.
CI pipeline:

[code]

This CD pipeline does not even start:

[code]

The error:

/azure-pipelines-CD.yml (Line: 13, Col: 15): Pipeline Resource $(artifactPipe) Input Must be Valid.

If I put this code instead of variable:

[code]

 I receive the same error as I reported in previous message:

[2021-06-30 19:12] bingofingers commented on #12470
and docker tag

`##[warning]No data was written into the file /home/vsts/work/_temp/task_outputs/tag_1625079372396.txt
`

[2021-06-30 22:36] ameyasubhedar opened #15009 "The Azure pipeline Push task is publishing the standard Microsoft Nuget packages to the Artifact feed location."
The Azure pipeline Push task is publishing the standard Microsoft Nuget packages to the Artifact feed location.

![image](https://user-images.githubusercontent.com/13166236/124039569-0ec60380-d9b8-11eb-99c6-ff066901b110.png)

I don't want to see the packages that are available in the Nuget to be published here. This is supposed to be a custom feed for new packages

![image](https://user-images.git

[2021-07-01 02:36] mike-bagheri commented on #10353
While the `reportgenerator` can merge the results, one has to specify the `reporttypes`

`- task: DotNetCoreCLI@2
            displayName: 'Create code coverage report'
            inputs:
              command: custom
              custom: tool
              arguments: 'run reportgenerator -reports:$(Build.SourcesDirectory)/**/coverage.cobertura.xml -targetdir:$(Build.SourcesDirectory)\CodeCovera

[2021-07-01 03:00] toddwalstad-eaton commented on #13913
Agreed pulling from disk should be an option.

We are trying to work around this issue by uploading to secure file during the pipeline using [this hack](https://github.com/microsoft/azure-pipelines-tasks/issues/9172) .  I am also going to look at the source for this task and see if there is an easy way to add this.

[2021-07-01 03:33] AmrutaKawade commented on #14951
can you pass `/Diagnostics:true` in additional arguments and run pipeline ?
it looks like auth is succeeding from your previously shared pipeline but while executing dacpac it failed

[2021-07-01 10:36] miketimofeev opened #15011 "[Universal packages] Error "Cannot read property 'code' of undefined" starting from 0.188.0"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-07-01 10:38] miketimofeev commented on #15011
@mihairatoiu @zhenghao104 @thisisbrianstewart could you please take a look as the issue seems to be related to this PR? https://github.com/microsoft/azure-pipelines-tasks/pull/14489

[2021-07-01 11:19] mihairatoiu commented on #15011
Hello, it is indeed related to this PR, I have fixed the issue and created another PR. After merge will be fixed. Sorry for the inconvenience

[2021-07-01 11:26] miketimofeev commented on #15011
@mihairatoiu thank you!
@zhenghao104 @thisisbrianstewart is it possible to revert the task to 0.182 until the issue is fixed?

[2021-07-01 12:32] Bertramp commented on #11864
When will this issue be addressed? The cache speeds are still laughable, I had faster download at home 5 years ago

[2021-07-01 12:38] AnnaOpareva commented on #14776
Hi, @devizer Is it still an actual issue for you? Could you send us your logs with checked “Enable system diagnostics” for closer review of your issue?

[2021-07-01 13:13] makuhn opened #15013 "Download universal package - error because node.exe cannot be found"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  Download or publish Universal Package

## Environment
- Azure Pipelines
- Self Hosted Agent, version 2.188.0

## Issue Description

Task **Download universal package** raises the error _This step requires a node versi

[2021-07-01 14:29] alexander-smolyakov commented on #15013
Hi @makuhn, It looks like you downloaded the pipeline agent build that doesn't include Node 6.

Could you please try to download the version of the pipeline agent with included Node 6, configure it and re-run the pipeline?

**Links to the builds**: [Windows x64](https://vstsagentpackage.azureedge.net/agent/2.188.3/vsts-agent-win-x64-2.188.3.zip), [Windows x86](https://vstsagentpackage.azureedge.ne

[2021-07-01 15:21] GrumpyRainbow commented on #14316
@v-lali I'm running into this same issue.  Were you able to get around this problem?  If so, how'd you do it?  I've seen [this](https://github.com/MicrosoftDocs/azure-docs/issues/10326#issuecomment-537732948) mentioned, but it didn't seem to help my situation.

[2021-07-01 15:43] anatolybolshakov commented on #14882
@titans2016 could you please create an issue on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it? At this moment this issue does not seem to be an issue with a task itself, but rather an issue on a server side.

[2021-07-01 15:53] #14275 closed

[2021-07-01 16:12] dancooktoptal commented on #8920
+1

[2021-07-01 16:51] smbolton commented on #15011
This is blocking our production build pipelines. I have raised a ticket with ADO engineering; for those within Microsoft, you can track IcM #248505374.

[2021-07-01 17:30] zhenghao104 commented on #15011
We cant revert the task version, but we can push out the fix for the task as soon as the PR is merged. The hotfix process does take some time as it requires several pipeline runs.

[2021-07-01 21:38] gh-andre commented on #14275
Thanks for fixing it

[2021-07-02 00:11] qd-danh commented on #13585
Thanks @diakonos. I may end up going the docker route as well.

For anyone following along this thread, I **did** get it working by adding an application setting on the app service, thanks to [this thread](https://github.com/projectkudu/kudu/issues/2822#issuecomment-817757404) that wasn't exactly the same, but related enough.

`WEBSITE_RUN_FROM_PACKAGE = 1`

With that, all the files that are zip d

[2021-07-02 01:05] zhenghao104 commented on #15011
Rolling out changes.

[2021-07-02 05:19] nishi1612 commented on #14561
Hi @anatolybolshakov ,

I haven't seen this issue in last 1 week. But I will keep observing the pipelines to know if the issue still exists or not.

[2021-07-02 06:09] #8194 closed

[2021-07-02 09:19] pvasek commented on #9416
I am adding this as a reference for possible usages of pipeline variables. There are the following options:
- argument
- variable
- built-in variable (or any variable with '.')

In this example below the goal was to pass `Build.BuildId` to the Azure CLI script:
[code]

[2021-07-02 09:31] toaditoad commented on #9954
I stumbled across the same issue but was able to solve this with that configuration:
[code]
The arguments `codeCoverageTool` and `reportDirectory` are not part of the official documentation: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops#arguments
However, auto-completion in vscode helped me.

[2021-07-02 09:41] anatolybolshakov commented on #12862
Hi everyone, could you please open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it? This error message comes from sever - since this parameter should be constant in runtime to work it properly at the moment, but error message could be definitely improved for this case.
Let me close this one here since it's not related to the pipeline task.

[2021-07-02 09:41] #12862 closed

[2021-07-02 09:42] anatolybolshakov commented on #14882
@titans2016 this seems to be current limitation for yaml task coming from server, please see related issue also - https://github.com/microsoft/azure-pipelines-tasks/issues/12862
Let me close this issue here since it's not related to the pipeline task itself.

[2021-07-02 09:42] #14882 closed

[2021-07-02 10:33] miketimofeev commented on #15011
@zhenghao104 version 0.190.0 works fine for us.
I'm going to close the issue.
Thank you everyone for such a quick resolution!

[2021-07-02 10:33] #15011 closed

[2021-07-02 13:22] makuhn commented on #15013
I tried to update the agent from agent pool site to version 2.188.3. This does not work. Actual version is 2.188.0 (see screenshot below).
![image](https://user-images.githubusercontent.com/38248390/124280521-12d55b00-db49-11eb-97dc-6bef1b11757c.png)

[2021-07-02 14:23] gabrieleresmini opened #15016 "App Center distribute fail with proxy"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AppCenterDistribute@3

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
Server - Azure Pipelines or TFS on-premises?
Azure DevOps
https://dev.azure.com/FMC-Digital-Program/myCompanion/_build/results?buildId=6001&view=results
Account: gabriele

[2021-07-02 14:59] abaiao-il commented on #14375
Hello,
I'm with the same problem, randomly that error appears.
Any suggestion to solve it?

[2021-07-02 19:47] magliok-wwt commented on #14365
This is an issue as well for us.
What is a simple way to utilize a variable in a -job  does not work in a -deployment

Will have to use a work-around approach. This 100% is a bug.

The simple fact that these tasks like AzureFunctionApp cannot accept a variable for input on the param azureSubscription, but can for the appName... is simply a defect.

[2021-07-02 19:50] kombuchafox commented on #14725
I ran into this also while doing `npm audit fix`. The work around for me was `npm i es-abstract@1.17.0`

[2021-07-02 19:53] zhenghao104 commented on #13983
@Jazzinghen Can you check if you still observe this issue? I created a pipeline, and try publishing a package name `spring.pak` and publish another package named `ring.pak` right after as you described, and I am unable to reproduce the issue with upack agent version 0.190.0

[2021-07-02 21:49] aviatrix commented on #2058
@bazted : https://github.com/aviatrix/AzureDevopsTestImageAttacher
Be sure to put it in static (http) location and download and execute it right after test step, and pass env variables or hardcode them ¯\_(ツ)_/¯

[2021-07-04 10:30] john-forrest commented on #14320
I see this links to #15007

[2021-07-04 18:16] plaa commented on #14094
I think this is still very relevant and I wouldn't believe it to be too
hard to do either.

[2021-07-04 20:51] Larswa opened #15017 "KubernetesManifest@0 accepts invalid containers with no warning and defaults to the Kustomize base"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifest@0

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines
Account name  Factus
Project name  Main

- Agent - Privat

[2021-07-04 21:05] #14158 closed

[2021-07-05 08:20] AmrutaKawade commented on #15002
Can you share debug logs ?
Also can you check deployment center logs of azure app service on azure portal whether your command is executed or not?

[2021-07-05 08:31] AmrutaKawade commented on #15003
Script arguments can be passed to task for input type file only. it can't be passed for inline script. if you want to use variables in your inline script. you can define those variables in `variables` section of task.
e.g.

Add variable

`test = Hi`

and inline script

`echo $(test)`

[2021-07-05 09:36] alexander-smolyakov commented on #14958
@pragnesh1234, closing this issue due to inactivity, please feel free to reopen it.

[2021-07-05 09:36] #14958 closed

[2021-07-05 09:56] alrabe commented on #2439
@AndyP2

Thanks for showing exactly what to do. Saved me a lot time.

[2021-07-05 10:35] jessehouwing commented on #15003
Ai ai aware of that, so the online comments of the input box are misleading.

On Mon, 5 Jul 2021, 10:32 Amruta Kawade, ***@***.***> wrote:

[2021-07-05 10:43] AmrutaKawade commented on #15003
yes. thanks for pointing that out. we will fix it

[2021-07-05 11:30] kilasuit commented on #15003
@jessehouwing  - I personally always use a script instead of inline script as you can better source control it and it allow better allows for a local dev & deployment cycle too!

[2021-07-05 11:42] jessehouwing commented on #15003
Me tom but I also personally don't want to spend 2 hours trying to get arguments to work, to come to the conclusion after inspecting the code, that the inline docs are misleading.

[2021-07-05 12:04] alexander-smolyakov commented on #15013
@makuhn, updating the agent from the agent pool page will not fix the problem with missing Node 6 because you are using a pipeline agent's build that doesn't contain Node 6.

To be able to run pipeline tasks via Node 6 handler you need to download a pipeline agent build **that contains** Node 6 and configure the new agent.

You could download the agent [directly from Azure DevOps](https://docs.mic

[2021-07-05 12:41] anatolybolshakov commented on #13470
Hi @harvinders do you have any updates?

[2021-07-05 15:39] makuhn commented on #15013
How can I recognize whether a specific agent build contains node 6 or not? I downloaded the agent that is installed in the past directly from Azure DevOps. That's why I expect that updating the agent would update to a new version containing node 6.

What if I get a version downloaded with a minor version higher than 188? Does this version then contain node 6 or not? Or does it depend on the build

[2021-07-05 19:29] praveendvd commented on #13475
i used version 1.* and it worked fine ,

[code]

[2021-07-05 19:42] kilasuit commented on #13789
@bishal-pdMSFT  / @alex-frankel - this would be a very welcome enhancement & replace a need to use a custom Azure Script task for deploying a template spec. Please reopen

[2021-07-05 22:44] Nialith20 commented on #14844
Any update on this one? I too am having this issue.

Using the examples on [Microsoft.Docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/azure-key-vault?view=azure-devops) in a clean pipeline a `'Value is not accepted. Valid values: "EditableOptions".'` error is thrown.

[2021-07-06 06:42] kiranjunnuthula opened #15018 "Project Administrator is not able to Complete the Pull Requests in Azure DevOps"
## Note
Project Administrator is not able to Complete the Pull Requests in Azure DevOps

One of Colleague is having Project Administrator access but he is not able to complete the pull requests which is created by developers. He is getting "Approve" button and he can approve but he is not getting the option to "Complete" the pull request. instead of "Complete" Option he is getting "Mark as Draft".

[2021-07-06 07:35] GW-FUB commented on #14171
@gokhancelik What kind of file did you create? If I create a msbuild.bat or msbuild.sh file it doesn't work

[2021-07-06 08:27] anatolybolshakov commented on #15018
Hi @kiranjunnuthula this repo is mostly for pipeline tasks related questions - could you please create a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?
Let me close this one here since it's not related to pipeline tasks.

[2021-07-06 08:27] #15018 closed

[2021-07-06 08:36] shreyajain0208 commented on #6856
@Kalaicompute Hi, I am facing this same issue. Could you please help me how it got resolved or what is the other way round. Thanks in advance!

[2021-07-06 09:05] fabiozig commented on #14983
I'm having the same error happening in the Finalizing Job of many of my pipelines running Ubuntu, Windows and MacOs. My ci works fine, but even though everything works as expected I get that error in the finalizing job... I don't think it has nothing to do with appcenter, because we don't use app center and I'm getting the same error.

It is also important to mention that many of our almost 200 pi

[2021-07-06 09:06] jasric89 commented on #14744
Can I get an update, please?

[2021-07-06 09:07] jasric89 commented on #14677
Please do not close this, its not fixed

[2021-07-06 09:07] alexander-smolyakov commented on #15013
@makuhn

You can recognize it from the agent's archive name. For the builds with `Node 6`, we use the `vsts` prefix (e.g. `vsts-agent-win-x64-2.188.3.zip`) and for the builds, with only `Node 10` we use the `pipelines` prefix (e.g. `pipelines-agent-win-x64-2.188.3.zip`).  You may also check the `externals` folder in the agent archive. In the build with `Node 6`, you can see the folders `Node` and

[2021-07-06 10:14] makuhn commented on #15013
Thanks. This clarifies.

[2021-07-06 12:23] harvinders commented on #13470
@anatolybolshakov Apologies, it is taking more time to come back and provide the feedback. It's just that we have to address some critical issues at hand.

[2021-07-06 12:58] AnnaOpareva commented on #14776
Hi, @devizer I'm closing this item since there no activity for the last 20 days. Please feel free to ping me if it is still actual issue for you and we need to reopen it.

[2021-07-06 12:58] #14776 closed

[2021-07-06 13:19] Oloyedesinmiloluwa commented on #9696
I think the reason this error is very tricky is that there is no detail accompanying the error. I was able to resolve this issue when I **enabled system diagnostics** then I was able to see the reason behind the internal server error and solved it.
In my case it occurred because the memory was full.
![image](https://user-images.githubusercontent.com/32905583/124606762-19274800-de65-11eb-9f0e-62189

[2021-07-06 15:31] patcty opened #15019 "Publish symbols path task - Encountered Win32 error '203' from method 'SymEnumSourceFiles'"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-07-06 16:33] StingyJack opened #15020 "Use .NET core SDK task for "3.x" reports "version 3.1.410 not found in cache" when it is listed in the hosted agent's manifest as being installed"
**Question, Bug, or Feature?**
*Type*: BUG

**Enter Task Name**: **Use** .NET core v2

## Environment
- Server - Azure Pipelines or TFS on-premises?  Azure pipeline

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:  Not posting private information to a public place. You shouldnt really be asking us to divulge that.

## Issue Descripti

[2021-07-06 16:42] anatolybolshakov commented on #14915
Hi @sfragata thanks for reporting! We created PR with a fix for this https://github.com/microsoft/azure-pipelines-tasks/pull/15021

[2021-07-06 17:05] esond commented on #13061
For all those that come after me:

I will be posting this response on a few issues that I frequented when troubleshooting a similar issue. This is not strictly related to this particular issue but someone may find it useful in the end.

In my case, we were having issues with intermittent packages not being restored from a nuget feed with a networking error, for example:

[code]

Multiple packages

[2021-07-06 17:05] esond commented on #10057
For all those that come after me:

I will be posting this response on a few issues that I frequented when troubleshooting a similar issue. This is not strictly related to this particular issue but someone may find it useful in the end.

In my case, we were having issues with intermittent packages not being restored from a nuget feed with a networking error, for example:

[code]

Multiple packages

[2021-07-07 00:10] #12611 closed

[2021-07-07 07:24] tatyana-kostromskaya commented on #14601
@oggy22 Could you please provide minimal reproducing steps for this issue as we don't have access to the pipeline?

[2021-07-07 08:33] gokhancelik commented on #14171
I am not an active MACOS user so I didn't know the exact method to create executable file. I remember that I copied original msbuild file under visual studio folder and I changed its content as I mentioned below post.

[2021-07-07 09:45] asos-benhoward opened #15022 "DownloadPackage Task Fails When Trying To Get Latest Version of a Package"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadPackage

## Environment
_Not sharing org name or project here!_

- Agent - Hosted

## Issue Description
This issue relates to pull request [12334](https://github.com/microsoft/azure-pipelines-tasks/pull/12334) - DownloadPackage to support latest version.

We have a feed which contains nearly 6000 packages.  I'm trying to use

[2021-07-07 09:50] asos-benhoward commented on #15022
@evertonmc

[2021-07-07 10:01] chtourou-youssef opened #15023 "Azure App Service Deploy Degrated task"
I've gone through all log files and don't see a single error in them .

the deploy start copying files to web app  and somtimes is failing with:

[code]

Environment

I use Azure DevOps (dev.azure.com)

i use hosted agent pool

[2021-07-07 11:02] anatolybolshakov commented on #14601
@oggy22 @tatyana-kostromskaya btw there is no asynchronous code in line: https://github.com/microsoft/azure-pipelines-tasks/blob/6d606184245107304b7f5d2ce84a4265da6c5006/Tasks/ExtractFilesV1/extractfilestask.ts#L315
So it does not seem to be issue with awaiting of asynchronous code result.

[2021-07-07 15:12] pollau opened #15024 "401 - Unauthorized Access with task DownloadBuildArtifact"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadBuildArtifact

## Environment
- Server - Azure Pipelines or TFS on-premises?
    TFS on-premises
    - If using TFS on-premises, provide the version: Dev18.M170.6

- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version:
      - Microsoft Windows Server

[2021-07-07 15:51] anatolybolshakov commented on #15024
Hi @pollau have it worked for you before?

[2021-07-07 16:00] AArnott commented on #12862
I have filed it here: https://developercommunity.visualstudio.com/t/download-task-fails-with-taskdefinitionnotfoundexc/1469872?from=email

Everyone on this thread please help vote it up.

[2021-07-07 16:49] pollau commented on #15024
No, not with yaml pipeline

[2021-07-07 17:01] swenkeratmicrosoft commented on #13101
@james-bjss
Thanks so much for your comment - it helped me tremendously!

In my case, I have:
pipeline 1 creates a git tag (git tag FOO_int / git push origin FOO_int) where 'int' is a unique integer.
pipeline 2 is triggered using triggers: branches: include: - refs/tags/FOO_*

I'm using tag triggers because pipeline completion triggers are branch specific.  I want to be able to run pipeline 1 in A

[2021-07-07 17:47] chrisheil commented on #14983
I am seeing this in my self-hosted Ubuntu 20.04.2 build agent as well

[2021-07-08 06:05] #14162 closed

[2021-07-08 06:05] #14095 closed

[2021-07-08 06:05] #14090 closed

[2021-07-08 06:05] #14045 closed

[2021-07-08 06:05] #8979 closed

[2021-07-08 08:32] choukimasri commented on #14971
Any Updates ?

[2021-07-08 08:34] choukimasri commented on #14797
Any Updates ?

[2021-07-08 09:10] #13233 closed

[2021-07-08 13:29] alexander-smolyakov commented on #15013
@makuhn, Сould you please let us know if switching to agent build with included Node 6 helped resolve the problem?

[2021-07-08 14:08] QA-automation-engineer commented on #13754
@ShreyasRmsft
So, is it possible somehow to get TestRunId from VS test task when Test Selection uses Test Plan?
We are also interested in this topic.

We are using AzureDevOps services.
Thanks in advance.

[2021-07-08 17:27] DufusNoname commented on #10839
Is there an eta on when this will be deployed?

[2021-07-08 18:08] #14165 closed

[2021-07-08 18:16] bharney0 commented on #13842
Also can confirm that this is happening in our .NET Core xUnit project. The unit test count shows correctly on the .trx file but the published results is wrong

Unit test task
![image](https://user-images.githubusercontent.com/51799435/124971083-9fff3080-dfdd-11eb-96bd-7d2818e55ada.png)

Publish test task
![image](https://user-images.githubusercontent.com/51799435/124971172-bc02d200-dfdd-11eb-8420

[2021-07-08 23:31] nick5454 commented on #10839
Well it’s much easier to use the command line or cake. I switched to cake because Microsoft has too many issues and they no longer support and iOS that isn’t using 2+ years old tech

[2021-07-09 06:51] agutierrezcu commented on #10101
I'm facing the same problem. I'd like to use release variables in gates but it seems there are out of scope. Many of my chekcs are on services created from ARM template, so It's impossible to know for sure any of their properties in advanced

[2021-07-09 07:36] makuhn commented on #15013
I already resolved the problem by copying folder `node` to folder `node10`. I now updated agent to version 2.188.3.0.

[2021-07-09 08:38] chtourou-youssef commented on #9118
i face the same error now

[2021-07-09 08:49] cmcnicholas commented on #10839
but I am paying for a service that advertises devops integration, why should I re-invent the wheel?

[2021-07-09 09:32] KithorasCarzyl commented on #14171
Finally, this worked for me.
The problem was that I had to include `/p:BuildIpa="True"` into the build-ios.sh file.
Now it works

[code]

[2021-07-09 09:52] chtourou-youssef opened #15027 "Azure Devops: Pipeline fails to deploy to Linux Web App"
I have a pipeline deploying to my Azure web app, that most of the times errors out because it couldn't deploy to my web app. The task take around 25 mins :

[code]

When i enable : system.debug = true , i see these logs repeated many time , before start copying the artifact files :

[code]

This task fails only in specific slot in myweb app , authors slots and production slot works fine and the jo

[2021-07-09 09:59] sonic1981 commented on #14931
[Docker FROM seems very well defined](https://docs.docker.com/engine/reference/builder/#from). It's more than a little naive to just look for the word "from". A simple regex would fix this

[2021-07-09 11:03] SartriX opened #15028 "AzureCLI task censorring inline acquired and consumed passwords"
Based on https://github.com/Azure-Samples/azure-cli-samples/blob/master/app-service/deploy-ftp/deploy-ftp.sh
I want to upload a single file over FTP, using the publishing credentials.

The following works fine when ran from a local source:
[code]
The password is correctly stored in creds[2] when running the az webapp deployment list-publishing-profiles locally.

However, when run from within an Az

[2021-07-09 11:55] brendtumi commented on #11864
[code]

**22.4 minutes is absurd for 224.6 MB**

[2021-07-09 13:24] DufusNoname commented on #10839
Exactly, especially since it's already been developed and is only waiting for the next deployment.  If they weren't going to fix it, I'd find something else but the fix is already ready to go.

[2021-07-09 15:37] anatolybolshakov commented on #14561
@nishi1612 got it, thanks! Let me close this one at the moment - please let us know if you will face with the issue again.

[2021-07-09 15:37] #14561 closed

[2021-07-09 15:37] alexander-smolyakov commented on #15013
@makuhn got it, let me close this issue since the problem is resolved.

[2021-07-09 15:37] #15013 closed

[2021-07-09 15:43] MarkKharitonov commented on #14852
I was about to open the same bug. Could thing I checked first. I second this - the task does not handle multi repo checkout. This is a crucial point for us. We use multi repo checkout extensively and it is frustrating that the source code is not indexed correctly.

I see the bug is ignored for almost 2 months now. Anyone to comment?

[2021-07-09 16:36] anatolybolshakov commented on #10839
Hi everyone, the fix is currently being rolled out and be fully available during the next week.

[2021-07-09 16:38] MarkKharitonov commented on #14852
Have just submitted a PR to fix the issue. I have no idea, though, how to test a task. I did test my changes offline and they seem to be correct. An ultimate test though would be running a build and checking the published symbols.

[2021-07-09 16:38] MarkKharitonov commented on #14852
Have just submitted a PR to fix the issue. I have no idea, though, how to test a task. I did test my changes offline and they seem to be correct. An ultimate test though would be running a build and checking the published symbols.

[2021-07-09 18:05] #14107 closed

[2021-07-09 22:30] nick5454 commented on #10839
How is that re-inventing the wheel. They are both wrappers around command line tools.

Cake is a much better tool that calls the same commands. Except you have a community of supporters that actual support.

[2021-07-10 00:24] cmcnicholas commented on #10839
because we're a team of ~13 developers across 40+ repos with 33 devops pipelines, I don't want to learn yet another thing we use in a fraction of our devops automation when there are advertised tasks that should support this. We aren't asking for a new task, we are asking for the task that is advertised as working to be kept up to date.

[2021-07-10 18:05] #13626 closed

[2021-07-10 19:43] StingyJack commented on #6120
WTH stupid bot? Get deprogrammed and don't come back here.

[2021-07-10 19:49] StingyJack commented on #15028
Sounds like this [this issue](https://developercommunity.visualstudio.com/t/numbers-in-pipeline-logs--are-randomly-b/1424076)  but manifested differently

[2021-07-11 06:05] #14177 closed

[2021-07-11 07:22] davidfordaus commented on #13842
**SUMMARY**
- The issue relates to XUnit and any _Theory_ type tests that rely on data iteration (inline, iterator, etc).
- The reported Visual Studio test count is higher than the Azure test count as any "Theorem" test returns a count of one test rather than the correct count of one test per data line / data input to the theory
- There is no known solution to it.  My personal perspective is that

[2021-07-11 09:29] deepaklohani1985 commented on #10001
is solution to above problem available? I have been struggling for many days

[2021-07-11 09:43] davidfordaus opened #15030 "BUG: DotNetCoreCLI - XUnit [Theory] output misreporting test counts due to mishandling of [Theory] tests"
Related to this item marked as question when in reality it is a bug:
https://github.com/microsoft/azure-pipelines-tasks/issues/13842

**SUMMARY**
- The Bug relates to XUnit and any _Theory_ type tests that rely on data iteration (inline, iterator, etc).
- The reported Visual Studio test count is higher than the Azure test count as any "Theorem" test returns a count of one test rather than the corr

[2021-07-11 15:05] #11775 closed

[2021-07-12 03:20] maulikhdave9601672767 opened #15031 "Jenkins Queue Task queues must be fail when its # Finished: UNSTABLE #"
i m running Jenkins Queue Task queues  from azure devops.
im running my test in jenkin so i want to fail my Jenkins Queue Task whene ever

jenkin has Unstable fail or gray result. it only must success if its success or my all test run success on jenkin job..

please let me know if i can provide more information

[2021-07-12 04:18] davidfordaus commented on #15030
Example:
![image](https://user-images.githubusercontent.com/602815/125229800-d6f57f00-e31a-11eb-83f7-800fa6b94c70.png)

Summary states 1 failed, 0 passed.  Screenshot clearly shows 1 passed and 1 failed.

[2021-07-12 04:34] davidfordaus commented on #13842
Now raised with this bug:
https://github.com/microsoft/azure-pipelines-tasks/issues/15030

[2021-07-12 06:55] pulla2908 commented on #13842
Hi @davidfordaus! I am the author of this issue. I created it on November 2020. From my point of view this is definitely a bug. I also discussed it with my teammates and they agree on it. I also asked here the audience for some feedback or consideration if this is by design and if yes what is the idea behind and why to distinguish between a _simple test method_ (a single test) and parameterised te

[2021-07-12 08:45] davidfordaus commented on #15030
Further: the generic VSTest@2 also has the same issue:

[code]

![image](https://user-images.githubusercontent.com/602815/125257903-31093b00-e341-11eb-81be-a8585379d8bb.png)

[2021-07-12 09:21] FranzKohl commented on #12935
Six months w/o any human reaction from the dev team... at least a comment indicating any plan or progress would be appreciated. @damccorm - any chance to get feedback on this one?

[2021-07-12 10:04] kmikkel commented on #12263
We ran into this problem too after upgrading from Unity 2018 to Unity 2020. Haven't found a workaround yet.

[2021-07-12 13:15] ArmaanMcleod opened #15034 "Enable PublishTestResultsV2 to publish to another project"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: PublishTestResultsV2

## Environment
Azure Pipelines

## Summary of the feature request

Looking at the available arguments for PublishTestResults@2 task:

[code]

There is no option to publish to another project. This would be helpful since I have a scenario where we would like to publish the test results to another project inst

[2021-07-12 13:41] chtourou-youssef commented on #8522
same problem here

[2021-07-12 14:33] bannus commented on #3472
Still occurring.

[2021-07-12 15:10] #14198 closed

[2021-07-12 16:31] chtourou-youssef commented on #8182
same problem here
i use linux web app

[2021-07-12 16:43] nkolev92 commented on #10972
This bug is still an issue occasionally for us.

[2021-07-12 18:16] nulltoken opened #15036 "[v2.26] az cli / acr purge crash: TypeError: 'NoneType' object is not callable"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureCLI

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

- Agent - Hosted or Private: Hos

[2021-07-12 21:29] IvanAlekseev commented on #13448
Hey little bot, why would you close an issue when it is not fixed?

[2021-07-13 02:27] jflamy commented on #11864
**18 minutes for 121.4 MB**
And it had been downloaded twice before in two other jobs.

Download statistics:
Total Content: 121.4 MB
Physical Content Downloaded: 107.0 MB
Compression Saved: 14.4 MB
Local Caching Saved: 0.0 MB
Chunks Downloaded: 1,519
Nodes Downloaded: 3

[2021-07-13 07:55] DenisRumyantsev commented on #14816
[Related Pull Request](https://github.com/microsoft/azure-pipelines-task-lib/pull/774)

[2021-07-13 09:05] rjmarques01 opened #15039 "'subscriptionId' cannot be null while updating a function app with a Docker container"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AzureFunctionAppContainer@1

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - Azure Pipelines

- Agent - Hosted or Private:

    - Hosted agent

## Issue Description

I have a Docker image on a

[2021-07-13 09:42] shigupt202 commented on #14700
Closing stale issue. Feel free to reopen if you have any more questions.

[2021-07-13 09:42] #14700 closed

[2021-07-13 10:11] vermegi commented on #14608
Having this ability directly in the AzureResourceManagerTemplateDeployment would be great. Currently AzureCLI or AzurePowerShell are the only options and for these user needs to know either CLI or PowerShell. AzureResourceManagerTemplateDeployment  task gives an easy way of running ARM deploy through simple config, which some users prefer.

[2021-07-13 10:23] alan-marcinkowski commented on #6176
I'm not sure I see the value in passing the secret value. If I have a subsequent task such as a maven task, how would the maven task leverage that variable to effectively "az login"?

[2021-07-13 10:25] vermegi commented on #14608
Culprit: https://github.com/microsoft/azure-pipelines-tasks/blob/acc64cc7292c98597908325e53af9f898a896189/Tasks/AzureResourceManagerTemplateDeploymentV3/operations/Utils.ts#L184-L190

[2021-07-13 12:17] SebastianSchuetze commented on #14536
@ddivanshu any update on the fix?

[2021-07-13 14:00] damccorm commented on #12935
@anatolybolshakov thoughts on this one? If we want to pick it up, we could do something like Actions and pick up Zulu support - https://github.com/actions/setup-java/blob/main/src/distributions/zulu/installer.ts

[2021-07-13 22:15] Jay-Madden opened #15040 "How to use Az Cli version 2.26 in ADOC AzCliTaskV2"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: question

**Enter Task Name**: AzCliTask

list here

[2021-07-13 23:24] jmhon08 commented on #13275
@upadhyayap any idea when this will be merged?

[2021-07-14 05:33] tatyana-kostromskaya commented on #14601
Hello, @oggy22 , do you have any updates here?

[2021-07-14 06:40] tiwarishub commented on #15036
hi @nulltoken, thanks for reaching out. Please share the debug logs and are you able to run the same command on the Azure portal

[2021-07-14 07:12] DaniilShmelev opened #15041 "[PublishPipelineArtifactV1, DownloadPipelineArtifactV2] Broken file permission mask"
## Required Information

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: PublishPipelineArtifact, DownloadPipelineArtifact

## Issue Description

Artifacts don't store UNIX file permission mask. We've already fixed this issue in PublishBuildArtifactsV1 and DownloadBuildArtifactsV0 by adding an option to store artifacts as TAR archives (PR: https://github.com/microsoft/azure-pipeli

[2021-07-14 08:19] AnnaOpareva commented on #13470
Hi @harvinders do you have any updates?

[2021-07-14 10:36] rjmarques01 commented on #15039
Found the solution, the issue was that the service connection that was being used was created at the management group scope, which apparently is not supported: https://github.com/microsoft/azure-pipelines-tasks/issues/13779

Yet, the error should be more clear.

In my case, I simply created a new service connection at the subscription level.

[2021-07-14 10:36] #15039 closed

[2021-07-14 10:47] harvinders commented on #13470
@AnnaOpareva I asked around and I think we passed `--sslskipcertvalidation` to move around the issue. I am trying to verify if that is the case, but not sure how to confirm it.
Now, looking at it, just wondering if this is a security concern?

[2021-07-14 13:45] kjeske commented on #6757
Today again

[2021-07-14 15:07] hmalhi opened #15043 "HelmDeploy task fails on warnings"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

*Type*: Bug

**Enter Task Name**: HelmDeployV0

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/HelmDeployV0

## Environment
- Server - Azure Pipeline
 Carvana, Carvana.Projects pipeline summary - https://carvanadev.visualstudio.com/Ca

[2021-07-14 15:38] alexander-smolyakov commented on #14915
@sfragata, a related [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15021) was merged. This fix will be available in the next sprint.

I will let you know once these changes are deployed.

[2021-07-14 15:48] sfragata commented on #14915
thanks @alexander-smolyakov

[2021-07-14 21:47] giggio commented on #11674
Not stale.

[2021-07-15 09:24] kmadof opened #15044 "GoTool doesn't allow to install rc version"
## Required Information

**Bug**
*Type*: GotTool task doesn't allow to install rc version

**Enter Task Name**: GoToolV0

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines
- Agent - Hosted
    - If using Hosted agent, provide agent queue name: `ubuntu-latest`

## Issue Description

[code]

### Task logs

[code

[2021-07-15 10:03] SM-Software commented on #10375
I am trying the same and getting the same issue as mentioned above

[2021-07-15 10:03] SM-Software commented on #10375
Can anyone help us with further feedback here!!
Thanks in advance

[2021-07-15 10:05] BlakesHeaven commented on #9272
This seems like such an important and obvious option to include I can't believe it wasn't in the original scope of requirements.
There are always going to be some files/folder we don't want to include, eg *.sqlproj or other development scripts not intended for others.

In my particular case, the zip being created is used by a DevOps Release pipeline which has a stage to copy to a fileshare for man

[2021-07-15 11:29] dansaltmer commented on #15036
Hi, We're also running into this on our live pipeline builds, was working yesterday, so I've done a little bit of digging. Our scenario is running a windows-2019 devops pipeline to process some legacy resource files, which then uses `az acr build` to run the actual linux image build on the ACR.

The issue is present in 2.26.0 of the CLI, and has been hotfixed in 2.26.1, details of this at:
https:/

[2021-07-15 12:10] #14207 closed

[2021-07-15 12:58] rmourato opened #15045 "UseDotNetV2 should verify the integrity of the downloaded zip"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: UseDotNetV2

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/UseDotNetV2

## Environment
- Server - Azure DevOps Server, Version Dev18.M170.6

- Agent - Private:
    - Agent.Version: 2.170.1
    - Agent.OS: Windows_NT
    - Agent.OSArchitecture: X64
    - Ag

[2021-07-15 13:29] cforce commented on #13420
same problem here
Its unreliable. It work for the same tempalte for one usage and for another stage using the same tpl it doesn't ..

[2021-07-15 15:23] jasric89 commented on #13619
I had an issue with .Net 5 and tests in Azure YAML and I found that If I add the task Restore Test Files first before the Test then the pipeline works.

I think it's to do with, that the Test task is not restoring properly or opening the file properly so when you do a Restore it must bring the Test Project Files to the Pipeline Working Directory for the task of Testing to use the files.

My Code f

[2021-07-15 15:30] jasric89 opened #15047 ".Net 5 Tests Fail on Self Hosted Azure Docker Container"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-07-15 18:07] #10843 closed

[2021-07-15 18:11] HighWatersDev opened #15048 "How to specify service principal for Azure KeyVault task"
## Required Information

I'm attempting to set up Azure KeyVault task in pipeline running on self-hosted agent. I have a service principal with proper access right on keyvault. How do I specify that service principal to be used inside pipeline?

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Azure KeyVault

list here (V# not needed):
https://github.com/Microsoft/azure-pipeli

[2021-07-15 18:47] MattGal opened #15049 "PublishBuildArtifactsV1 does not retry for network errors"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-07-15 19:19] nulltoken commented on #15036
@dansaltmer Thanks a lot for the heads up! I can confirm that 2.26.1 fixes this.

Fixed by Azure/azure-cli#18860

[2021-07-15 19:19] #15036 closed

[2021-07-16 04:50] skelso01 commented on #6885
I have a similar problem.
In my case the securefile is created in the first stage and used in the second stage. If the secure file doesn't exist before the pipeline run, the pipeline does not start. So I then created an empty file and uploaded it. But since I can't update the secure file via REST API, I have to delete it first and upload the created one. So the secure file gets a new ID and the se

[2021-07-16 05:21] wlgusgit commented on #14983
I also posted this problem to the visual studio developer community, and it is under consideration now.  It seems that this issue happens only when using the github repository.

[2021-07-16 07:25] ksmigiel commented on #12121
I have exactly the same issue with caching `npm-cache` folder, either by using default `%AppData%\npm-cache` or setting `npm_config_cache` environment variable. It seems like `Cache@2` task is working as designed. but there is problem with populating npm cache folder.
It downloads to cache only certain packages and it is reproducible every time (the same amount of packages are downloaded).
On my m

[2021-07-16 12:23] HighWatersDev commented on #15048
I created a new service connection under my project and used that connection for Azure KeyVault task. That seems to have solved the problem.
I think it'd be helpful to add that step in documentation to avoid confusion.

[2021-07-16 12:23] #15048 closed

[2021-07-16 13:47] DufusNoname commented on #10839
Is there anything I need to do on our end to see these changes?  Thanks!

[2021-07-16 15:16] SvetBonev opened #15051 "Add support for VS 2022 to the VSBuild and any related tasks"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-07-17 01:02] MattGal opened #15052 "AzureKeyVaultV1 still does not retry in the event of transient network troubles"
(No need to read the below unless you want to.  This is the same issue as https://github.com/microsoft/azure-pipelines-tasks/issues/13998, it's [still reproducing in later builds](https://dev.azure.com/dnceng/internal/_build/results?buildId=1227295&view=logs&j=f6520c01-78a6-558b-586b-1352fca1b090&t=cffede2b-c410-53da-9ef3-30f83a24f708&l=14) but I am not allowed to reopen that issue)

## Required I

[2021-07-17 01:07] bradselw opened #15053 "PowerShell task does not log information and verbose streams"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: PowerShell

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
       - Account name: devdiv
       - Team pr

[2021-07-17 01:46] nick5454 commented on #10839
It’s c# and has over 40 extensions of Command lines. You can deal with all of MS issue or use a script that’s has 90% of the code you need. I have 20 project with 20+ devs and I haven’t had to change for wait for the last 6 months.

[2021-07-17 11:42] clairernovotny commented on #14933
Ping? This is still happening.

[2021-07-17 11:43] EmileLombard commented on #14167
Hi everyone, if anyone is still having this issue, this is how I solved it:

Enable debugging logs (set build variable system.debug = true)

From the logs I found these lines:
##[debug]which 'iotedgedev'
##[debug]not found
##[debug]IOTEDGEDEV_VERSION=undefined
##[debug]The specified iotedgedev version is: 3.0.0

and:
##[debug]ERROR: Could not find a version that satisfies the requirement iotedgede

[2021-07-17 18:05] #14088 closed

[2021-07-17 18:08] rfigueroa2014 opened #15054 "IIS Web App Manage task started to fails when deploying to one environment by work on another"
Are production deployment pipleline was working fine, but sudden stopped on IIS Web App Manage, takes.  But the QA stage of the release is still working fine.  Cannot figure out why it started to fail, as there have been no changes to config or target servers.

Below is a verbose log:

##[debug]Evaluating condition for step: 'IIS Web App Manage'
##[debug]Evaluating: succeeded()
##[debug]Evaluating

[2021-07-18 03:05] #13641 closed

[2021-07-18 08:39] msrinivascharan opened #15055 "Azure DevOps “Required template check” not working"
I am extending a template through repository resource in a yml pipeline (mainpipeline.yml), all working fine. project’s, repo folder structure details below.

My template is in OrgA -> proj1 -> repoX -> branch -> templates/set1/template1.yml (only one stage in this template with one job and 3 tasks)

My main pipeline is in OrgA -> proj2 -> repoY ->branch -> pipelines/mainpipeline.yml

Created serv

[2021-07-18 15:06] ylr-research commented on #14932
Is there any update?

[2021-07-18 16:44] bishal-pdMSFT commented on #14932
@ashwinsangem

[2021-07-18 16:45] bishal-pdMSFT commented on #14933
@ashwinsangem please take a look at this

[2021-07-19 06:27] ksmigiel opened #15057 "Problem with caching npm modules"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache@2

## Environment
- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version: windows-2019

## Issue Description

I have noticed the problem

[2021-07-19 09:12] sander1095 commented on #13971
@robingenz Thanks. Just tried this... but still fails..

I might have some kind of fix, but it's nothing magical. I verify the cache when the `npm ci` fails and then try again.
I encountered `npm ci` failure once because of `cb() never called`, and then after `npm cache verify` `npm ci` worked again.

The problem with this approach is that all the next steps will not run because `succeeded()` is f

[2021-07-19 09:17] sander1095 commented on #13971
I am tagging the following people to get some word from microsoft on this issue.
These people have made commits on this repo around this year and are a member of the Microsoft organization on Github, so perhaps they can be of help.

@damccorm @hiyadav  @ds-ms  @arjgupta @stephenmichaelf

This issue makes using Azure Pipelines very very "stressful". Everytime I do a build I need to keep an eye on t

[2021-07-19 10:37] tatyana-kostromskaya commented on #15055
This issue  is not related to the pipeline tasks, and this repo is mostly for pipeline tasks issues - could you please create ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2021-07-19 12:35] ashwinsangem commented on #14932
@ylr-research, can you pass the complete logs with the system.debug flag on.

[2021-07-19 12:38] ashwinsangem commented on #14933
@clairernovotny, I'm unable to access the build you mentioned to check the logs. Can you please pass me a fresh one?

[2021-07-19 13:49] damccorm commented on #13971
@anatolybolshakov could your team please prioritize taking a look at this one?

[2021-07-19 14:06] msrinivascharan commented on #15055
I solved this issue by adding step "- checkout: " in templates. Now, the the "Required template" check added to the service connection working fine, stopping main pipeline to invoke other then allowed templates.

[2021-07-19 14:08] msrinivascharan commented on #15055
thank you @tatyana-kostromskaya.

[2021-07-19 14:08] #15055 closed

[2021-07-19 18:25] ljharb commented on #14725
Hi, es-abstract maintainer here - I'd suggest updating every dep that depends on es-abstract (including es-abstract itself). I have no idea why this problem is occurring (i think it's a bug in npm itself) but I'm pretty sure everything in the es-shims ecosystem now depends on the non-prerelease version of es-abstract v1.18.

[2021-07-20 09:16] MKaandorp opened #15060 "MavenV3 field publishJUnitResults read as string, boolean seems more appropriate"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: MavenV3

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipelines

## Issue Description

In the MavenV3 task, the input field publishJUnitResults is read as string, although reading it as a boo

[2021-07-20 10:46] von-seydlitz commented on #13491
Error still exists on Windows 2019 systems. Any Updates on this?

[2021-07-20 13:22] alexander-smolyakov commented on #13971
@damccorm sure, let us take a look at this issue.

[2021-07-20 13:59] kwaazaar opened #15062 "UseDotNet installs runtime, but it cannot be found"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UseDotNet

## Environment
- Server - Azure DevOps on-premises

    - If using TFS on-premises, provide the version: 1.0? (don't see it anywhere on screen)

- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version:
    Ubuntu 20.04, agent

[2021-07-20 14:22] marcus-dias commented on #12932
Hey, did you guys find a solution for this? I am currently facing the same issues.

[2021-07-20 15:05] AnnaOpareva commented on #13470
Hi, @harvinders, to pass --sslskipcertvalidation during agent configuration is not secure and not recommended according to docs. But if after use of --sslskipcertvalidation you don't have any problem with the agent and task, it looks like you have some problem with your self-signed certificate. You need to recheck all the certificates on your agent machine and try to configure the agent to use sel

[2021-07-20 15:05] #13470 closed

[2021-07-20 19:47] nadcraker opened #15063 "Can you use 'Download Build Artifacts' to download artifacts from a different collection?"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-07-20 23:03] nadcraker commented on #11508
I am getting this error even though I am using ` NODE_EXTRA_CA_CERTS: 'C:\Certs\MYCORPROOT.pem'`

Here is my log:

[code]

[2021-07-21 03:43] janis-veinbergs commented on #11508
@nadcraker maybe agent user has no permissions to access that file, huh?

[2021-07-21 08:31] #14601 closed

[2021-07-21 08:38] tatyana-kostromskaya commented on #14601
As we didn't get any response for 2 weeks, I closed this issue.
Feel free to reopen it in case of new reproes.

[2021-07-21 12:19] BlakesHeaven commented on #9500
I'm not convinced this is resolved. I have tried a simple PRINT 'Hello World'; both inline and in a file and the only way of getting "Hello World" to appear in the release log is to set `system.debug` to "True" and as stated this is not a real option. Far too much noise.

Adding -Verbose appears to do nothing as well.
Below is the yaml
[code]

If there is anything I can check, change or confirm; I

[2021-07-21 12:27] BlakesHeaven opened #15066 "Need a simple way of displaying SQL Print/RaiseError statements in the DevOps release Pipeline log"
I have the same need as #9500 allegedly resolved in PR #9741
I'm not convinced this is resolved. I have tried a simple PRINT 'Hello World'; both inline and in a file and the only way of getting "Hello World" to appear in the release log is to set `system.debug` to "True" and as stated this is not a real option. Far too much noise.

Adding -Verbose appears to do nothing as well.
Below is the yaml
[

[2021-07-21 12:31] DenisRumyantsev commented on #14789
Hi @japj, we implemented retry logic for UNC-paths, now it awaits deployment.

[2021-07-21 15:58] cmwiebe24 commented on #13014
Any update on this issue? Or is there a work around?

[2021-07-21 17:01] dan-griffin commented on #13491
We also have the same issue. Server 2019, x64 agent. Error on previous agent versions and latest 2.189.0. Last success publish was Jan 27. We didnt do another build until last week. Thats when the error started for us. Tried restarting service, restarting server, upgrading agent, etc.

[2021-07-21 17:20] AndrewStrickland commented on #14091
Wanted to note this occurs when trying to use ScriptPath as well, not just inline scripts as well.
Version Azure DevOps Server 2020 Update 1

Current agent version: '2.181.2'
[code]

[2021-07-21 18:05] #14232 closed

[2021-07-21 19:32] pathakrohit08 opened #15067 "service endpoint retrieve username and password"
I am building an azure-pipelines-extension I have a custom endpoint with basic authentication. I need to pass this endpoint credentials to my datasources.

this is my vss-manifest.json

         "dataSources": [
           {
            "name": "AccessToken",
            "endpointUrl": "$(endpoint.url)",
            "requestVerb": "Post",
            "requestContent": "username={{{endpoint.usernam

[2021-07-21 22:07] ms-mikeb opened #15068 "Cannot swap slots for site because the warmup requests to application in 'staging' slot have timed out."
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureAppServiceManage@0

## Environment
- Server - Azure Pipelines
      https://dev.azure.com/MicrosoftIT/OneITVSO/_build/results?buildId=6220044

- Agent - Hosted
    Azure Pipelines 30

## Issue Description

[Include task name(s), screenshots and any other relevant details]
![image](https://user-images.githubusercontent.com/605602

[2021-07-22 09:42] josundt opened #15070 "Azure File Copy Task 4.*: Update to AzCopy 10.11 to support custom file extension to content-type mappings"
AzCopy 10.11 finally adds the capability to define your own file extension -> content-type mappings using a JSON file.
If the `AZCOPY_CONTENT_TYPE_MAP` environment variable is set to the path of a JSON file, the mappings defined in this file will take precedence over the mappings built into the operating system.
https://github.com/Azure/azure-storage-azcopy/wiki/Custom-mime-mapping

With this new

[2021-07-22 11:34] LukeGarrigan commented on #11649
Running `vsts-npm-auth` wasn't updating the password in my .npmrc file, so I did the following:

I regenerated my personal access token using:

`vsts-npm-auth -config .npmrc -r -f -v detailed`

I grabbed that personal access token and plugged into powershell:

`[Convert]::ToBase64String([system.Text.Encoding]::UTF8.GetBytes("YOUR_PAT_GOES_HERE"))`

I then put the output of that in the password of

[2021-07-22 11:58] tatyana-kostromskaya commented on #15067
Hello, @pathakrohit08 , please take a look at this answer on developer community: https://developercommunity.visualstudio.com/t/Is-there-a-way-to-use-custom-endpoint-pa/61533?space=21&entry=problem&q=custom+endpoint&viewtype=all

Most likely it may help you to resolve you problem.

[2021-07-22 18:16] atkulp commented on #14844
same.  I'm also getting the error with `runAsPreJob`

[2021-07-22 18:26] marcpopMSFT opened #15071 "Installing .net 6 is required for 5.0 projects and when installing this version the build agent on the same machine fails to build due to error"
This was copied from https://developercommunity.visualstudio.com/t/Installing-net-6-is-required-for-50-pr/1474894

When I have the latest version of the preview 2022 I cannot use the build agent on my machine for devops. I recieve the error below in the pipeline. If I on the other hand uninstall .net 6.0 the pipeline runs smoothly. The installer tells me I still have 5.0 installed but the project

[2021-07-23 07:27] harshiniks commented on #14320
This is resolved now with latest version of task 1.90

[2021-07-23 07:27] #14320 closed

[2021-07-23 09:26] fabiozig commented on #14983
could you please leave the link here so we can follow up?

[2021-07-23 11:32] mklenbw opened #15077 "Cache not saved when status is SucceededWithIssues"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache@2

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Post-job of Cache@2 task is not saving when status is 'SucceededWithIssues'. When 'continueOnError: true' is set on a task the cache should be working.

This sample will never cache:
[code]

[2021-07-23 13:19] pathakrohit08 commented on #15067
@tatyana-kostromskaya  Thank you i was able to make it work.

[2021-07-23 13:19] #15067 closed

[2021-07-23 13:29] pathakrohit08 opened #15078 "How to pass bearer token to dataSourceBindings"
I am building azure pipeline task. I have to call two custom API endpoint. Using the first endpoint I am able to retrieve authentication token . I need to pass this authentication token in my other endpoint. Here is how my files look like

vss-extension.json

      "dataSources": [
         {
            // This returns a JWT token
            "name": "AccessTokenEP",
            "endpointUrl": "{

[2021-07-23 14:24] JamesonNetworks opened #15079 "SqlDacpacDeploymentOnMachineGroupV0 doesn't support environment variables when dealing with a SQL File Pattern"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

When I use the SqlDacpacDeploymentOnMachineGroupV0, I'm not able to use environment variables in any form when specifying a SQL File. I have tried %SystemDrive% and $env:systemdrive, but anytime I use those patterns, the plugin reports that the file pattern cannot be found

**Enter

[2021-07-23 15:01] asears opened #15080 "Provide WhatifPreference checkbox in Azure PowerShell task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Azure PowerShell

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Hosted / Private:

## Issue Description

It wo

[2021-07-23 18:09] h0p3zZ commented on #9954
I have tried a lot to solve his problem...

So first of all, the problem is the test task of the pipeline (in my case the DotNetCoreCLI@2 task). If this task collects the code coverage it is automatically published with the tests in the .coverage format. For some reason this push of the .coverage file is at the end of the pipeline (or job - this I do not know) and therefore overrides all the previ

[2021-07-23 18:14] h0p3zZ commented on #13632
I have tried a lot to solve his problem...

So first of all, the problem is the test task of the pipeline (in my case the DotNetCoreCLI@2 task). If this task collects the code coverage it is automatically published with the tests in the .coverage format. For some reason this push of the .coverage file is at the end of the pipeline (or job - this I do not know) and therefore overrides all the previ

[2021-07-23 20:28] hbuckle commented on #15020
The claim that this task uses the tool cache is a lie - it doesn't work.

1. The hosted agents install dotnet into `C:\Program Files\dotnet\sdk` or `/usr/share/dotnet/sdk` - these directories are not part of the Agent.ToolsDirectory which is where the task looks by default

2. The hosted agents do not create a `.complete` file, which is what the task actually [looks for](https://github.com/microso

[2021-07-23 21:30] StingyJack commented on #13107
@issacnitin, @bishal-pdMSFT, and @anuragc617  - why is it by design that this task does not work properly with the MSFT hosted agent images that it typically is executed on?

[2021-07-23 21:37] msaxbury opened #15081 "Where is an example vss-extension.json file for multiple versions of a task?"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-07-24 11:14] timstokman opened #15082 "UseDotNet@2 fails with 404 while download url is reachable"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-07-24 14:29] PHPirates commented on #13073
@damccorm This is still an issue

[2021-07-24 17:28] TheRusstler commented on #15082
https://download.visualstudio.microsoft.com is intermittently (about 50% of the time) returning 404 for .net downloads. Not sure how/where to report this issue. I also see the 404 when directly when clicking those links.

[2021-07-24 17:40] timstokman commented on #15082
@TheRusstler Might be a regional issue then, because I'm consistently getting a response from my machine, the only errors are from the pipeline.

[2021-07-24 18:01] srpeirce commented on #15082
I have the same

[2021-07-24 19:40] HofmeisterAn commented on #15082
Same here. `UseDotNet@2` fails frequently at `windows-2019`, `ubuntu-18.04` and `ubuntu-20.04`.

I can access the link from my machine too.

[2021-07-25 09:05] #14210 closed

[2021-07-25 11:54] TheRusstler commented on #15082
Seems to be a more general issue with downloads on https://download.visualstudio.microsoft.com

I also get 404 when trying to download versions of Visual Studio:

![404](https://user-images.githubusercontent.com/8938396/126897951-5deb434a-9c0b-45ba-a3b5-91a4daa459ff.gif)

Can someone from Microsoft advise where we can report such an issue? For sure this is not the right place to report issues with

[2021-07-25 12:05] #14248 closed

[2021-07-26 05:51] wlgusgit commented on #14983
This is the corresponding link:

https://developercommunity.visualstudio.com/t/Finalizing-Job-fails-at-pipeline/1472830

[2021-07-26 06:07] #14243 closed

[2021-07-26 07:07] EzzhevNikita commented on #15082
@timstokman @HofmeisterAn @TheRusstler Based on the info I see in a ticket that seems like an external issue for the UseDotNetV2, it mostly seems to be some infrastructure issues. I suggest you create a ticket in [https://developercommunity.visualstudio.com/search?space=21](https://developercommunity.visualstudio.com/search?space=21) to allow appropriate team to take a look for this issue.

[2021-07-26 07:26] Benalink commented on #15082
We've been experiencing the same intermittent failure in out builds for the past 3 days. Having to retry some builds 5+ times before getting a successful download.

[2021-07-26 07:30] HofmeisterAn commented on #15082
FYI: https://developercommunity.visualstudio.com/t/Issues-downloading-the-NET-Core-SDK---4/1485876

[2021-07-26 08:41] v-abajaj opened #15083 "Kubernetes task does not support passing down environment variables"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/KubernetesV1

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Ent

[2021-07-26 08:59] Turnerj opened #15084 "AzureRmWebAppDeployment@4 - Support removing additional files for Web App on Linux"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureRmWebAppDeployment

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

Basically the feature to remove additional files exists for deploying to Windows web apps but doesn't for

[2021-07-26 09:24] badsyntax opened #15085 "UseDotNet@2 sometimes doesn't download .NET"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

*Type*: Bug

**Enter Task Name**: UseDotNet@2

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

- Agent - Hosted or Private:  Hosted

## Issue Description

The UseDotNet tasks does not download the .NET SDK.

I'm using the following config in my `azure-

[2021-07-26 09:27] badsyntax commented on #15085
Same issue as https://github.com/microsoft/azure-pipelines-tasks/issues/15082 I believe. Feel free to close as a duplicate.

[2021-07-26 09:39] markevych commented on #15085
The same issue was reproduced. Maybe related to Azure services.

[2021-07-26 09:45] badsyntax commented on #15085
Thanks. (I'm not seeing any message about a live site incident in pipelines nor on the main status page btw.)

[2021-07-26 09:53] Gordon-Beeming commented on #15082
FYI, testing from my local machine after a build step failed I got a 404 too, testing a couple minutes later the file was available. Maybe a cdn distribution issue for .net?

https://download.visualstudio.microsoft.com/download/pr/dfbc47b7-4c2c-4e00-989e-a18f6f2e8fe8/5f42a60705fd9122837c68dcbdbbe278/dotnet-sdk-3.1.409-linux-x64.tar.gz

[2021-07-26 10:22] taspeotis commented on #15082
Seeing 404's here, which is painful because we install 3.x and 5.x so our odds of getting are failure are quite high.

[2021-07-26 10:22] JeffreyH89 commented on #15001
Hi, any update on this?

[2021-07-26 10:28] markevych commented on #15082
The same issue was reproduced. Also, Azure shows popup according to some regional issues.

[2021-07-26 10:30] taspeotis commented on #15082
I am seeing this in the US geography, the only event on the Azure DevOps Status page at the moment is [Availability Degradation - Europe](https://status.dev.azure.com/_event/252509859).

[2021-07-26 10:37] anatolybolshakov commented on #13073
Hi @PHPirates reopening this one since it is still actual.

[2021-07-26 10:37] EzzhevNikita commented on #15085
I am closing this ticket as a duplicate of this one https://github.com/microsoft/azure-pipelines-tasks/issues/15082

[2021-07-26 10:37] #15085 closed

[2021-07-26 11:05] eliasjo opened #15086 "UseDotNet@2 task failed on 404 at least retry expected"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-07-26 12:21] RClarkeIQE commented on #15006
We are seeing the same messages appear in our C# unit testing step running Version: 18.181.31425.1 (Dev18.M181.7)
We have an on-premise installation, running a locally installed agent.

[2021-07-26 13:40] llehn commented on #15086
We are having the same problem with 3.1.411:

    ##[error]Failed` while installing version: 3.1.411 at path: /opt/hostedtoolcache/dotnet with error: Could not download installation package from this URL: https://download.visualstudio.microsoft.com/download/pr/c7afc344-acf0-4a6c-8e53-4455f2bcfc85/321418f6300e475f6c5d52849efa2e2e/dotnet-sdk-3.1.411-linux-x64.tar.gz Error: Error: Unexpected HTTP res

[2021-07-26 13:49] jeromelaban commented on #15086
I've opened the issue here as well: https://developercommunity.visualstudio.com/t/Use-NET-Core-task-fails-randomly-to-i/1486997.

Feels like a CDN issue as the URLs sometimes work.

[2021-07-26 15:14] MattGal commented on #10810
The lack of response from anyone on azure-pipelines-tasks is frustrating, but I'll try here one last time.

[2021-07-26 15:30] anatolybolshakov commented on #15063
Hi @nadcraker could you please create ticket on https://developercommunity.visualstudio.com/search?space=22 to get right eyes on it? This seems to be more related to server-side, rather than task itself.
Could you please also share the link to created ticket here for visibility?

[2021-07-26 15:46] anatolybolshakov commented on #10810
Hi @MattGal sorry for delay - probably we could just enhance this to make retry for cases when error is happening - let us take a look

[2021-07-26 16:47] arroyc commented on #15086
Having this issue randomly since last few hours for 3.1.411, retry doesn't work.

`Starting: Use .NET Core sdk 3.1.x
==============================================================================
Task         : Use .NET Core
Description  : Acquires a specific version of the .NET Core SDK from the internet or the local cache and adds it to the PATH. Use this task to change the version of .NET Core

[2021-07-26 17:13] anatolybolshakov commented on #12935
@damccorm yes it make sense, thanks 👍  probably we could just do something similar to this action.

[2021-07-26 17:45] mySYSMON commented on #9807
**This is how I fixed it.**
vsts-npm-auth -config .npmrc -r -f -v normal

[2021-07-26 18:33] tongyuze commented on #15086
I'm seeing the same issue here.
`##[error]Failed while installing version: 3.1.17 at path: /opt/hostedtoolcache/dotnet with error: Could not download installation package from this URL: https://download.visualstudio.microsoft.com/download/pr/7a4bfa73-e500-45aa-8e10-04dc4910d8ae/f8b74c973752d3ea095fe06aa625f7f7/dotnet-runtime-3.1.17-linux-x64.tar.gz Error: Error: Unexpected HTTP response: 404`

[2021-07-26 18:38] bishal-pdMSFT commented on #15086
This seems to be an issue with the download links provided in index file for downloading .NET. I have created an [issue](https://github.com/dotnet/core/issues/6508) on .NET repo.

[2021-07-26 19:36] davesmits commented on #15086
azure devops team seems also planning something: https://dev.azure.com/mseng/AzureDevOpsRoadmap/_workitems/edit/1859330/

[2021-07-26 19:59] arroyc commented on #15086
@davesmits  @bishal-pdMSFT  any workaround?

[2021-07-26 20:24] ms-mikeb commented on #15068
While it seemed at first we could swap in the portal, that was either wrong or it changed, because after trying to validate a few things and swap again in the portal, we discovered we could no longer swap at all.

We're tracking what may be the cause of the swap failures, but it seems to point to an issue with our storage account and the way the timer triggers are relying on it.

That all said, at

[2021-07-26 20:24] #15068 closed

[2021-07-26 20:28] bishal-pdMSFT commented on #15086
@arroyc as a workaround, you can try running the [dotnet-install](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script) which is provided by .NET team. For example:
`dotnet-install.ps1 -Version 3.1.411`

You could run this script  in a Powershell task and replace the UseDotNet task for the time being.
Please note that you might have to add the directory where the SDK was instal

[2021-07-26 20:29] rp-bneagle commented on #15086
@davesmits - the link you provided seems to be locked/hidden.  Is there a public link?

[2021-07-26 20:50] davesmits commented on #15086
@rp-bneagle try in-private. then it mostly works

[2021-07-26 21:00] EnmanuelParedesR commented on #15086
I'm having the same issue here.

[code]

[2021-07-26 21:22] llehn commented on #15086
This is now breaking more than 50% of our builds, SEVERELY impacting development. Please fix urgently!

[2021-07-26 21:28] a-nightingale commented on #15086
This had been intermittent and re-queue of pipeline would resolve. Since 3:00 PM Eastern, we have what looks like 100% fail rate on all .NET Core 3.1 pipelines downloading.

Sample log:

2021-07-26T21:24:49.3960942Z Tool to install: .NET Core sdk version 3.1.100.
2021-07-26T21:24:50.3796282Z Found version 3.1.100 in channel 3.1 for user specified version spec: 3.1.100
2021-07-26T21:24:51.3634256Z

[2021-07-26 21:29] brentleslie commented on #8812
As Microsoft manage what is built and published in some of their data apps (Data Factory/Synapse), we really need to be able to download non-build source control artifacts... nonsensical that this is closed as it is "by design".  If I build a car that breaks down when it hits a pothole because its suspension is too hard, I would make future ones with softer suspension. Not claim that it was origin

[2021-07-26 21:31] arroyc commented on #15086
guys .. sorry but its not intermittent any more for me .. im seeing 100% failure in first time and repeats ... please help !

[2021-07-26 21:32] arroyc commented on #15086
can we create a backup cdn or something like that?

[2021-07-26 21:34] SamuelGarrattIqa commented on #15086
My team was using the ADO ubuntu agent https://github.com/actions/virtual-environments/blob/ubuntu20/20210718.1/images/linux/Ubuntu2004-README.md which already had [dotnet installed](https://github.com/actions/virtual-environments/blob/ubuntu20/20210718.1/images/linux/Ubuntu2004-README.md#net-core-sdk).
I removed that task (as it was not needed anyone) and everything still worked as before

[2021-07-26 21:35] mikewop commented on #15086
Failing also for .Net 5
`##[error]Failed while installing version: 5.0.302 at path: /opt/hostedtoolcache/dotnet with error: Could not download installation package from this URL: https://download.visualstudio.microsoft.com/download/pr/8468e541-a99a-4191-8470-654fa0747a9a/cb32548d2fd3d60ef3fe8fc80cd735ef/dotnet-sdk-5.0.302-linux-x64.tar.gz Error: Error: Unexpected HTTP response: 404
`

[2021-07-26 21:35] bishal-pdMSFT commented on #15086
@llehn @a-nightingale @arroyc the issue with outside of UseDotNet task and hence really difficult to fix inside the task.

You can use a similar to following powershell task as a workaround replacement
[code]

[2021-07-26 21:38] bishal-pdMSFT commented on #15086
This is also a very reasonable workaround. Microsoft hosted agents already have many version of .NET installed and hence you can re-try with disabling the UseDotNet task. Should work for a majority of cases.

In case you are using self hosted agents, then you can pre-install required version of .NET on the agent machine and remove dependency on the task.

[2021-07-26 21:59] EnmanuelParedesR commented on #15086
Right now I try again and one of my pipelines went ok with the step. I don't know if is fixed or is just the intermittence.

[2021-07-27 00:11] #13997 closed

[2021-07-27 00:46] mairaw commented on #15086
Folks, a fix was deployed around an hour ago and we wanna confirm that customers are not hitting the issue any longer. Can you let me know if your pipeline is now working or still doesn't? Thanks!

[2021-07-27 02:06] isra-fel commented on #15086
It works for me! No issues in the last hour 👍

[2021-07-27 05:20] #15086 closed

[2021-07-27 12:25] anatolybolshakov commented on #13971
Hi @sander1095 could you please share the pipeline logs containing this error to take a look? You can send them to my email: v-anbols@microsoft.com

[2021-07-27 12:28] sugamg opened #15091 "Spawn UNKOWN error in Kubectl task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/issues/4582

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this informat

[2021-07-27 12:40] anatolybolshakov commented on #13971
This also looks similar to https://github.com/npm/cli/issues/417
@sander1095 have you tried to use 7.x npm version also as described in [ticket](https://developercommunity.visualstudio.com/t/cb-never-called/1268824)?

[2021-07-27 13:37] vaindil commented on #13971
We tried to use npm 7.x with our pipelines, but 7.x doesn't seem to work with DevOps, see npm/cli#2619. I spent several hours troubleshooting and trying various things to get it to work before we had to just downgrade our agents back to 6.x.

[2021-07-27 13:58] DufusNoname commented on #10839
@anatolybolshakov Any update on when this will be deployed?  I assume that since it's still "awaiting deployment" that it ran into issues.  Thanks!

[2021-07-27 15:43] mwelsh1118 opened #15092 "How can I publish coverage data (.coverage files) to Azure DevOps Server 2020?"
## Required Information
*Type*: Question

**Enter Task Name**: Publish Test Results

## Environment
Azure DevOps Server 2020
Private agents hosted on Windows Server 2016

## Issue Description

According to the documentation for Publish Test Results:
"You can also use this task in a build pipeline to publish code coverage results produced when running tests to Azure Pipelines or TFS in order to obt

[2021-07-27 16:12] minhquang opened #15093 "AzureResourceGroupDeployment: The language expression length limit exceeded. Limit: '81920'"
## Required Information

** Bug**
*Type*: Bug

**Enter Task Name**: AzureResourceGroupDeployment

## Environment
- Server : Azure Pipelines

    - the build is [here](https://aasolutions.visualstudio.com/Integration/_build/results?buildId=449430&view=logs&j=3eef9563-d5e0-533b-fe9e-a61f3098a273&t=00f4b4cd-c5cb-5ce8-8f18-78696dd569dd)

- Agent - Hosted or Private:
    - private agent: Agent version

[2021-07-27 18:40] emul8ed commented on #7150
Keeping this active

[2021-07-27 19:27] bharathns commented on #12901
This is a very useful feature if can get it in.

[2021-07-27 19:38] andschwa opened #15094 "Publish Pipeline Artifacts erroneously reporting "max quantity exceeded" and failing"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug, I think

**Enter Task Name**: Publish Pipeline Artifacts version 1.2.3

https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/PublishPipelineArtifactV1/task.json

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number

[2021-07-27 19:40] andschwa commented on #15094
Uhh in the debug logs my friend just noticed that it's the auto-inserted telemetry upload that's failing!

[2021-07-27 20:31] automagicallyio commented on #14999
+1

[2021-07-27 20:53] Chefkoch81 commented on #7150
That stale notification resulted in me taking another look at the issue.

I have written a small script to be used in the pipeline, it just needs to be inserted after the "JenkinsQueueJob@2" job.
[code]

I know its not perfect and you need to take care about the variables and all that, but probably it helps somebody else.

[2021-07-27 22:29] sugamg commented on #15091
![image](https://user-images.githubusercontent.com/86085972/127235753-2aa3486d-bb16-4068-9f14-1ec8e5cbaa51.png)
Got this mailer for the label failure on this issue we logged.

[2021-07-28 04:57] #14974 closed

[2021-07-28 04:58] #14977 closed

[2021-07-28 05:00] chshrikh commented on #14981
closing this as scenario is working

[2021-07-28 05:00] #14981 closed

[2021-07-28 05:06] chshrikh commented on #15002
closing this due to lack of activity

[2021-07-28 05:06] #15002 closed

[2021-07-28 05:11] chshrikh commented on #15023
please share the debug logs. One can enable debug logs by setting system.debug variable wit value 'true'.

[2021-07-28 05:13] chshrikh commented on #15027
can you check the kudu logs on azure portal - ##[error]To debug further please check Kudu stack trace URL : https://$someapp:***@someapp.scm.azurewebsites.net/api/vfs/LogFiles/kudu/trace

[2021-07-28 06:10] shailesh-sk commented on #15092
Adding @suyash691 , @ankit-arora12 and @nadesu for follow up and closure.

[2021-07-28 08:22] v-pkoneti commented on #15006
The mentioned feature flags are meant for hosted service only , not for onprem installations.
The default state is **off** for these flags.
You can safely ignore these warnings.

[2021-07-28 08:27] RClarkeIQE commented on #15006
We would prefer to have them not display at all, as they form part of the Pipeline history and are confusing to our QA team.

How do we prevent these message appearing and being captured in the Pipeline summary?

[2021-07-28 08:47] sander1095 commented on #13971
@anatolybolshakov  I have sent the logs your way.

I believe I did try npm 7 for a while, but I can't remember if that really fixed it, sorry. In any case, using npm 7 is not really a good fix for me, we use angular 11/12 which uses node 14 which uses npm 6. I believe node 16 will start having npm 7 included by default; that is when we start using npm 7 :).

Because I will be on holiday for 2 week

[2021-07-28 09:13] chtourou-youssef commented on #15023
@chshrikh , when enabling debug log : this logs appears many time :

[code]
after that , il's seems that he start  coping file , but , he failed

[code]

[2021-07-28 10:44] max-zaytsev commented on #10839
@DufusNoname, The fix was deployed. Please let us know if you see any issues

[2021-07-28 10:44] #10839 closed

[2021-07-28 15:19] chausner-audeering commented on #13548
I have been facing this issue for a long time with only moderately-sized NuGet packages (90MB). I keep getting ServiceUnavailable errors after 3 minutes or so, sometimes earlier, sometimes later. I have to retry the upload many times, usually it succeeds at some point. I have the feeling it fails if the upload speed is too low (< 1MB/s).

[2021-07-28 15:28] DJSkruge commented on #9500
I used sqlAdditionalArguments: '-verbose' and it worked fine for me. below is an example of what i used.
[code]

[2021-07-28 16:08] eransha opened #15096 "Dotnet test task can't run net48 unit tests"
*Type*: Question

**Enter Task Name**: DotNetCoreCLIV2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
dynamicscrm/Solutions/CRM.BAS.FSI.PR/20210728.64

- Agent - Hosted

    - If using Hosted ag

[2021-07-28 16:39] bharathns opened #15097 "Feature: Share cache across branches in a pipeline"
Type: Feature

Enter Task Name: Cache (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/cache?view=azure-devops / https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/CacheV2)

**Environment**
Azure Pipelines (yml)
iOS project build
**Issue Description**
We have a pipeline which run builds for a large number of pipelines. Each branch ends up building a lot of a

[2021-07-28 17:50] ngarimella commented on #14724
Hitting this too.. pl provide an ETA. Thanks!

[2021-07-28 18:12] andschwa commented on #15094
Resolved internally (the FAQ answer does not apply to Microsoft owned projects and so was misleading).

[2021-07-28 18:12] #15094 closed

[2021-07-28 19:52] sugamg commented on #15091
Hi Team, do we have any updates on this issue?
Please do let us know in case there is any further information needed on this.

[2021-07-29 03:27] patcty commented on #13491
We also have the same issue. Server 2019, x64 agent. I tried @M463 solution above (as we have Mcafee installed on our server as well) and have identified McAfee as the culprit. However we cannot replace it with any other products so anyone knows what exclusion needs to be in place?

[2021-07-29 05:49] v-pkoneti commented on #15006
We will consider patching it in the next release.

[2021-07-29 08:12] bishal-pdMSFT commented on #15096
@ShreyasRmsft can you please take a look at this test issue in .Net Core CLI task.

[2021-07-29 08:41] hetii commented on #14090
Hello.
Please reopen this ticker and document the `archiveFilePatterns`

B.R.

[2021-07-29 08:42] ShreyasRmsft commented on #15096
Failing with

[code]

[2021-07-29 13:05] tomaustin700 opened #15100 "Unable to build AzureStaticWebAppV0"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question/Bug

**Enter Task Name**: AzureStaticWebAppV0

Hi, I'm trying to make a change to the AzureStaticWebAppV0 task and when I try and build the task to test the changes I'm getting the following error when running `node make.js build --tas

[2021-07-29 14:07] DenisRumyantsev commented on #14816
The changes that fix this issue were provided, and they are currently awaiting deployment.

[2021-07-29 15:51] anatolybolshakov commented on #15063
Let me close this ticket here since it's more to be server-side question

[2021-07-29 15:51] #15063 closed

[2021-07-29 18:10] #13955 closed

[2021-07-29 22:51] monrax commented on #14724
I have the same issue. In my case I get: `TemplateLink RelativePath can only be used with a Uri in api-version '2020-10-01' or later` and I'm using `"apiVersion": '2021-04-01'` —ETA please? Thanks

[2021-07-30 04:32] ranikamadurawe opened #15103 "Is it possible to configure Health Check for an App Service using AzureRmWebAppDeploymentV4"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AzureRmWebAppDeploymentV4

## Environment
- Server - Azure Pipelines

- Agent -  Private:

    - Ubuntu 20.04 / Agent Version 2.118.4

## Issue Description

I am trying to configure a App Service deployment with Health Checks using Azure Pipelines. I am using the inbuilt Azure DevOps Task AzureRmWebAppDeploymentV4. I am using th

[2021-07-30 12:12] hollowdrutt commented on #14303
Would be nice with some response from a human.

[2021-07-30 16:23] anatolybolshakov commented on #14892
Hi @techtor we have rolled out the fix for this issue -  there is a new input 'ignoreMakeDirErrors' added to the task - closing this at the moment, please feel free to ask any further questions.

[2021-07-30 16:23] #14892 closed

[2021-07-30 16:47] anatolybolshakov commented on #13971
@sander1095 thanks! Per this [doc](https://github.com/npm/cli/wiki/%22cb()-never-called%3F-Exit-handler-never-called%3F-I'm-having-the-same-problem!%22) looks like this error could happen for variety of reasons.
I also tried to reproduce it, but it works fine for my configuration - could you please share some public repo to check when you're able to?
It would be also helpful to try it with npm 7 a

[2021-07-30 16:54] abdullah248 opened #15105 "UseDotNet@2 Failed while getting version 5.0.x"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-07-30 17:39] amin3498amin opened #15106 "Automation Test Fail in CI-CD pipe line, But working as expected in Local system and Command line."
Stack Trace:
      at System.Enum.TryParseEnum(Type enumType, String value, Boolean ignoreCase, EnumResult& parseResult)
   at System.Enum.Parse(Type enumType, String value, Boolean ignoreCase)
   at System.Enum.Parse(Type enumType, String value)
   at ECS360.Configuration.AppConfigReader.GetBrowser() in D:\a\1\s\ECS360\Configuration\AppConfigReader.cs:line 17
   at ECS360.BaseClasses.TestBaseClas

[2021-07-30 18:05] #13756 closed

[2021-07-30 18:30] sander1095 commented on #13971
Hello!

I will be back from my holiday in 2.5 weeks. Then I shall find some time to try out these things :) until then I will ask upon other people in this thread to give it a shot!

[2021-07-30 21:01] kevinwedwards commented on #13463
@illegalnumbers  what was your misconfiguration, if you don't mind sharing.

[2021-07-30 23:07] larohra commented on #14365
Running into this exact same issue. I'm trying to set the value for `azureResourceManagerConnection` using the matrix strategy because I need to test the same steps for multiple subscriptions but my runs fail because we can't do that. Assigning a global variable is also not a decent hack because I would need to hardcode in multiple tasks in the same pipeline which is a big pain to manager.

@Amrut

[2021-07-31 12:15] financelurker commented on #7659
*kicking this issue down the road like a can*

Any updates? How long is your roadmap backlog, since we entered the 4th year of this issue.

[2021-07-31 13:47] IanKemp commented on #7659
Microsoft isn't interested in building features that are complete. They are only interested in building features enough of the way so that they can *claim* that Azure supports said feature. So this will never get fixed.

[2021-07-31 18:05] #14272 closed

[2021-07-31 18:05] #13578 closed

[2021-08-01 10:50] maxonweb commented on #10903
Do not close please. We really want this feature to be working when doing deployments via Devops Pipelines Tasks.

[2021-08-01 11:03] GeorgeNarcis commented on #13420
We are facing the same issue when using CacheV2 task inside a deployment job in multi stage pipelines. According to the docs "Caching is currently supported in CI and deployment jobs, but not classic release jobs."
So is this a bug or it doesn't work in deployment jobs ?

[2021-08-01 12:05] #14247 closed

[2021-08-02 00:09] #14249 closed

[2021-08-02 00:09] #13344 closed

[2021-08-02 00:10] #13300 closed

[2021-08-02 00:51] michael-wilson-au commented on #10903
@N-Usha Is this item prioritized in the backlog? We are still waiting for a fix too.

[2021-08-02 04:38] DaniilShmelev commented on #15106
Hi @amin3498amin! Could you please provide the name of the task that is causing the issue? Also, could you attach your logs with [Enable system diagnostics](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#configure-verbose-logs) flag set? You can send them to my email: v-dshmelev@microsoft.com.

[2021-08-02 05:57] EzzhevNikita commented on #14778
We have released a fix for this issue, we have added an option (Create a directory for extracting) that allows disabling extracting directory creation.

[2021-08-02 05:57] #14778 closed

[2021-08-02 08:56] anon65856 commented on #14608
@vermegi do you think this could get prioritised some how?

[2021-08-02 09:10] #14281 closed

[2021-08-02 09:10] #14279 closed

[2021-08-02 09:10] #14267 closed

[2021-08-02 09:13] anatolybolshakov commented on #7659
@shailesh-sk could you please take a look?

[2021-08-02 13:52] tillig commented on #12634
[The location of the original issue has changed](https://github.com/microsoft/azure-pipelines-tasks/blob/7203e1c1f3c9addc9f42920789bc1b3a99bc90ef/common-npm-packages/codecoverage-tools/codecoverageutilities.ts#L16) and the issue is still present in that code. However, it appears to only affect [`PublishCodeCoverageResults@1`](https://github.com/microsoft/azure-pipelines-tasks/blob/7203e1c1f3c9addc

[2021-08-02 15:10] #14311 closed

[2021-08-02 15:10] #13802 closed

[2021-08-02 15:23] anitabogner opened #15109 "Visual Studio Test V2 - Rerun of failed tests failing if data-driven test is included in set of failing tests"
**Question, Bug, or Feature?**
*Type*: Bug (I think)

**Enter Task Name**: Visual Studio Test
list here (V# not needed):  V 2.*

## Environment
- Azure Pipelines: Release definition can be found [here](https://postat.visualstudio.com/BriefEntwicklung/_release?definitionId=26).
- Last excecution demonstrating the issue see [here](https://postat.visualstudio.com/BriefEntwicklung/_releaseProgress?rel

[2021-08-02 18:10] #14313 closed

[2021-08-02 19:49] anatolybolshakov commented on #14904
Created PR for msbuildlogger update (blobstorage) - https://dev.azure.com/mseng/AzureDevOps/_git/CIPlat.Externals/pullrequest/624144

[2021-08-02 20:25] jwadolowski commented on #13344
As far as I can see `Cache@2` destination directory still can't be changed. @damccorm may I ask you to reopen it one more time please?

[2021-08-02 21:39] jcfiorenzano opened #15111 "Docker task is incorrectly labeling the base image name when there is a "copy --from" statement"
## Required Information
With a Dockerfile like
[code]

it returns =base but it should returns scratch. This issue is related to how the dockerfile is parsed

**Question, Bug, or Feature?**
*Type*: Bug

[2021-08-02 21:50] jcfiorenzano opened #15112 "Docker task should ommit the docker digest when labelling the base image"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Docker Task

## Issue Description

When parsing the base image in the dockerfile, if the base image includes the actual digest in its description the digest should be omitted from the name.

For example
[code]

the result should be ubuntu:18.04 instead of ubuntu:18.04@sha256:12341234

[2021-08-02 22:59] taspeotis commented on #11864
I added caching expecting some performance improvements but _at best_ it's as fast as NuGet manages to be natively.

Although given all the engineering effort seems to have left Azure DevOps since the GitHub acquisition it would be nice if someone from Microsoft could give us some clarity about when this won't be fixed.

[2021-08-03 03:54] leviathanbadger commented on #14719
Seems to me this straight-up doesn't work even when referenced from yaml:

![image](https://user-images.githubusercontent.com/3201149/127955062-a0b982b3-eb4d-47dd-ba3d-70206e2be849.png)

The task that generated that error (and yes, the service connection does exist):

![image](https://user-images.githubusercontent.com/3201149/127955157-9bc1aaa6-7efb-405b-8d24-9d9cdbafc8a8.png)

[2021-08-03 11:45] anatolybolshakov commented on #14972
Hi @Jharr20210609 there is no guarantee that part of secret in logs will be masked - for such cases I would suggest to catch such exceptions in script and handle them appropriately - to avoid partial leaking of secrets in diagnostics output info.

[2021-08-03 11:49] kuleshovilya commented on #14992
Hello @jpulipv , we couldn't reproduce the issue on other machines, so could you please provide a little more details on how we go about this:
- what is the encoding on the compared files?
- can those files be read through your local instance bash at all?
- could we get examples of those files without any sensitive data on them for testing?
- can you try the same pipeline on other machine?
You can

[2021-08-03 15:35] donwlewis commented on #13033
I am experiencing this issue as well when running a bash script.  If I use a script block in the `azure-pipelines.yml` file and write out the bash code there, it works fine, but if I leverage it as a script, it will get the STDIO error.

[2021-08-03 17:46] vinaysandela opened #15116 "PowerShell on Target Machines task on GitHub Actions."
Looking for similar task on GitHub Actions.
PowerShell on Target Machines task
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/powershell-on-target-machines?view=azure-devops

Please suggest

[2021-08-03 19:32] jonathansp opened #15117 "Docker task extracts 'image.base.ref.name' from Dockerfile wrongly when 'from' string is found"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
* Docker (docker-common-v2)

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - If using TFS on-premises, provide the version: N/A
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: N/A
- Agent - Hosted or Private:
    - If using Hosted agent, provide agen

[2021-08-03 21:52] CZEMacLeod commented on #14460
I too am interested in this - my project can push up to ~150 packages depending on what has changed.
I also noticed the following happening for **each** package:
[code]
Now it is not _a lot_ of time, but when you are pushing this number of packages, it adds up.
I did an estimate and it is probably about 2minutes of the 5minutes it takes to push them. Even if it is only half that; a 20% improvement

[2021-08-04 04:59] WillTheProgrammer commented on #7694
I am experiencing the same issue. Any updates would be appreciated. Please see a full log of the output attached.
[ADO_Log.txt](https://github.com/microsoft/azure-pipelines-tasks/files/6928702/ADO_Log.txt)

[2021-08-04 05:27] DaniilShmelev commented on #15116
Hi @vinaysandela! This is a repo for Azure Pipelines tasks, we don't support Github Actions.
One of the members of Github Actions team responded that there is no official action for executing powershell on remote machines. You could try searching for community action [here](https://github.com/marketplace?type=actions&query=).
Also, I'd suggest looking towards running commands through ssh.
Hope thi

[2021-08-04 05:27] #15116 closed

[2021-08-04 08:30] PrateekAgarwal1908 commented on #12593
Hello Team, I can see get the same issue -
could not get unknown property 'jacocotestreport' for project 'PROJ_NAME' of type org.gradle.api.Project

I am using sonarqube and gradle

[2021-08-04 08:42] yozepi commented on #7160
August, 2021 and the issue still exists. It's horrible that you believe sparsely documented workarounds is a satisfactory. Instead you are satisfied to let poor slobs like me waste **HOURS** fumbling through posts like these to try and find an answer. Shame on you MS!

[2021-08-04 10:20] alexs77 commented on #8812
I also have this need. As a workaround for copying artifact files from stage (1) to stage (2), I added Azure CLI tasks to my stages, running these "scripts":

    # Upload in stage (1):
    az storage blob upload -f $(Build.BuildNumber).file --container-name something --name $(Build.BuildNumber).file --account-name storageaccount

And in the later stage(s):

    # Download in stage (2):
    az sto

[2021-08-04 11:09] kuleshovilya commented on #14939
Hello @walczakp , tried reproducing the issue with provided info but wasn't able to. But from logs we can tell that the issue is not necessarily with the agent, it tracks job fine, but then cant write to a log file and read it afterwards. Could you please provide a little more details on environment:
- does folder /tmp exists?
- Is user from which agent is running have access to a /tmp folder?
- d

[2021-08-04 11:43] PrateekAgarwal1908 opened #15118 "could not get unknown property 'jacocotestreport' for project 'PROJ_NAME' of type org.gradle.api.Project"
Hello Team, I can see get the same issue -
could not get unknown property 'jacocotestreport' for project 'PROJ_NAME' of type org.gradle.api.Project

I am using sonarqube and gradle

[2021-08-04 12:18] DaniilShmelev commented on #15118
Hi @PrateekAgarwal1908! Could you please share your pipeline .yaml and attach the logs?

[2021-08-04 12:38] PrateekAgarwal1908 commented on #15118
Hello @DaniilShmelev - I am not using pipelines. I am just running the gradle project using sonar command -
gradle sonar

Then it is giving me the error.

[2021-08-04 13:17] #15103 closed

[2021-08-04 17:14] fhtino commented on #11700
Any news on this?

[2021-08-05 04:38] chshrikh commented on #11700
@fhtino as per current priority we are not able to accommodate this for current quarter, we will consider this for next quarter planning

[2021-08-05 06:06] #12958 closed

[2021-08-05 07:01] johnsharland77 commented on #14346
Is there any news on getting this fixed? We are running Azure DevOps Server and have just upgraded to the latest server (2020.1.1 RC1) and the latest agent (2.189.0) and are getting the same error. This is preventing us from being able to use the Azure App Service Deploy task to deploy into Azure from our private agents.

[2021-08-05 09:11] #13798 closed

[2021-08-05 12:01] #14650 closed

[2021-08-05 12:11] #13369 closed

[2021-08-05 12:39] pinakighatak opened #15121 "Bicep What-if fails with false-positive on Azure DevOps."
**Bug**
*Type*: Pipeline error

**AzureCLI@2**:

## Environment
- Azure Pipelines
- Agent - Hosted

## Issue Description
In Azure DevOps, I'm using this step like this:
[code]

### Task logs

[code]

This break the pipleine, even with  `failOnStandardError: false` applied and the templates are OK. Fails on what-if but works fine on deployment.

[2021-08-05 14:53] aherrick opened #15122 "##[error]sdk version matching: 6.0.0-preview.6.21352.2 could not be found"
I have the following step to try and install Net6 Preview6:

[code]

[code]

[2021-08-05 15:22] anatolybolshakov commented on #14972
@Jharr20210609 closing this one since it seems to be expected - please let us know if you have any other questions.

[2021-08-05 15:22] #14972 closed

[2021-08-05 15:56] kuleshovilya commented on #15031
We've introduced a new flag for this job:
failOnUnstableResult (boolean) which you can set to a true, if you want the behaviour you've requested.
It's already in the master, you can try it out.

[2021-08-05 16:48] shaohaolin commented on #14824
@Fitmavincent how did you solve this problem? I want to use `npm 7.x` for the installation as well. For some reason, even I have script `sudo npm install -g npm@7.20`. The npm version doesn't change and still on `6.14.x`. I wonder how did you get around this without having hosted agent?

[2021-08-05 17:29] anatolybolshakov commented on #14346
Hi @maciejporebski @johnsharland77 this issue seems to be already fixed for DownloadPackageV1 task (v1.185.0). To receive last task update on on-prem at the moment - you need to manually download it using [tfx-cli](https://www.npmjs.com/package/tfx-cli) tool.

[2021-08-05 19:00] ddaymn commented on #15092
I see the same thing

![image](https://user-images.githubusercontent.com/19540999/128405532-0e687429-ba2b-465d-98e5-fe50a3bdc573.png)

![image](https://user-images.githubusercontent.com/19540999/128405622-59d141f8-16a3-42b3-8efb-089570612a63.png)

Notice no artifacts

[2021-08-05 19:03] ddaymn commented on #15092
- task: VSTest@2
    inputs:
      platform: "${{parameters.buildPlatform}}"
      testSelector: testAssemblies
      testAssemblyVer2: |
        **\*Tests.dll
        !**\*TestAdapter.dll
        !**\obj\**
      configuration: ${{parameters.buildConfiguration}}
      codeCoverageEnabled: true
      vsTestVersion: toolsInstaller

[2021-08-05 19:08] mwelsh1118 commented on #15092
I understand the VSTest task will generate code coverage data, but we have a very large codebase and a heavily optimized build process; we can't use the out-of-the-box VSTest task because it is not performant.  What we want to do is publish the .trx/.coverage files after we run the tests ourselves. According to the documentation, "Publish Test Results" is the correct task for that.

[2021-08-05 19:14] ddaymn commented on #15092
Ah I missed that you were talking about the publish test results.  But I think it will not work with the vstest task either.  I personally have not tried but have you taken a look at https://docs.microsoft.com/en-us/azure/devops/pipelines/test/parallel-testing-vstest?view=azure-devops-2020 to use VSTest?

[2021-08-05 19:24] shaohaolin opened #15123 "Npm version not consist between npm -v and sudo npm -v"
## Required Information

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: NodeTool@0, custom npm install script

## Environment
- Server - Azure Pipelines

  Account name: msasg
  Project: MicrosoftEsports
  Pipeline: Storybook-PR-buddy-build
  Build Number: 20210805.28

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name: Azure Pipelines 170

## Iss

[2021-08-05 19:29] mwelsh1118 commented on #15092
Thanks. We are aware of the parallel testing support, but there are still a few things we do that don't fit this model. For instance, we set up and tear down dedicated databases before running certain tests. We also start testing before our entire codebase is compiled. By starting low-level assembly tests before high-level assemblies are compiled, we get a significant performance boost.

[2021-08-05 22:27] wenindoubt opened #15124 "Bash Task Documentation Does Not Provide Examples of Multiple Arguments"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-06 08:05] amirabbas-ranjbar commented on #13383
I tried this solution and now I'm  getting other error which it says

[code]

[2021-08-06 09:12] ChrisHout opened #15127 "Deployment Task Stop Website powershell 'C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe' successfully stopped site with Exit code 1"
One of the tasks in the deployment is 'Stop website'. It stops the website successfully, the problem is the exit code 1.
It worked before, only after a new antivirus-scanner this error occured every day. Not sure if this is related to this error.
On another server this steps works without an issue. This server also has the new antivirus -scanner installed.

##[section]Starting: Stop website
======

[2021-08-06 09:31] amirabbas-ranjbar commented on #13383
it works with
`'sudo echo {  "insecure-registries" : ["address:5000"]} > $(DOCKER_CONFIG)/daemon.json'`

but it returns permission error

[2021-08-06 09:32] cawoodm commented on #14824
@Fitmavincent Did you install NPM manually?

[2021-08-06 11:24] thwr commented on #14068
I'm running against the same wall, want to attach some screenshots to a test result. There's a way by parsing the log files of the Publish Test Results Task (like https://stackoverflow.com/questions/67534289/azure-devops-pipeline-logs-for-a-specific-task for example), but that's a terrible idea IMHO. One could also fetch the latest published test run, which is another terrible idea because of poss

[2021-08-06 12:47] JoasE opened #15129 "AzureCLI service connection with multiple subscriptions doesn't select configured subscription"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureCLI

## Environment
- Server - Azure Pipelines
    - Account name: akzonobelpc
    - Team project name: Color-IT
    - Build definition name/build number: AkzoNobel.CustomerDataOnline.CustomerColors 20210806.6

- Agent - Hosted
    - agent queue name: Azure Pipelines

## Issue Description

Task: AzureCLI

[2021-08-06 15:12] AnnaOpareva commented on #10810
Hi @MattGal. The latest version of the NodeTool task (v 0.189.0) by default contains two retries for some of the "socket hang up" errors. Could you please share logs for the latest task version that contains this error with checked “Enable system diagnostics”? We need to understand if it is required to increase the number of retries and add an additional input to the task that will allow setting a

[2021-08-06 15:31] ajannasch opened #15130 "Azure DevOps Junit Tests results only shows first failure"
*Question, Bug, or Feature?**
*Type*: Question or Bug

**Enter Task Name**: Publish Test Results task
## Environment

    - TFS on-premises: Version 17.143.28621.4 (Azure DevOps2019)

    - Private Hosted Agent: Windows Server 2016

## Issue Description
TestCase results only show first failure in the Build - Tests UI view in  Azure DevOps, even though there are multiple failures in the same file.

[2021-08-06 18:06] #13324 closed

[2021-08-07 00:22] matkoch opened #15131 "Feature: Resolve ~ as HOME path"
**Enter Task Name**: Cache

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Azure Pipelines provides no consistent way to reference the HOME directory. These are:

- For macOS: `/Users/runner/`
- For Windows: `C:\Users\VssAdministrator`
- For Linux: `/home/vsts`

This is particularly an issue for the Cache task, which then requires providing different settings. I.

[2021-08-07 00:25] matkoch commented on #15131
FYI, [GitHub Actions does this resolution]. It's an older revision because I couldn't find it in the current HEAD, but the behavior is preserved.

[2021-08-07 00:40] JimmyBanks commented on #14245
@bishal-pdMSFT no, not ready to be closed, this has not been implemented. Still waiting on a reply from Bishal, after 6 months wait.

Hello Bishal how about a reply.

[2021-08-07 09:05] #12819 closed

[2021-08-08 01:02] Fitmavincent commented on #14824
@shaohaolin , @cawoodm

I've resolved this problem by deleting the ```package-lock.json```, because they have a different version of generating the lock file.
So 2 options here based on my knowledge:
1. used the MS Hosted agent node version, to reinstall your npm packages, or
2. align your npm version with the MS hosted agent so that your ```package-lock.json``` will not causing any errors when do

[2021-08-08 15:05] #14306 closed

[2021-08-08 18:47] timstokman commented on #15082
Anyone still affected by this? If not, then it can be closed.

[2021-08-09 00:13] NickDarvey commented on #10996
quack

[2021-08-09 11:15] piotrwielgolaski-tomtom commented on #14939
@kuleshovilya  I think I noticed that is problem, this step does not work when run in container
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azure-devops
Simple run it in i.e. ubuntu container to reproduce it.
Issue is that it saves files in container, but agent looks up for it in own folders.

Step should write to path that is mounted as agent temp and it

[2021-08-09 11:44] kuleshovilya commented on #14939
Yes, tried it on the fresh env with separate jenkins and agent containers, and it works fine.
The issue @walczakp has is with the log files that agent produces, and not external files.
But thank you for heads up on the Maven task, if you've noticed an issue, please register that issue as well, we'll look into it.

[2021-08-09 12:12] walczakp commented on #14939
@piotrwielgolaski-tomtom actually reported workaround for the exact same issue I had. It seems that when we run it straight on agent (no container), JenkinsQueueJob task finishes successfully.
Here's how we made JenkinsQueueJob work for us:
![image](https://user-images.githubusercontent.com/17193925/128703866-c5ca7aed-bcda-43ea-b805-4ade03b31ab9.png)
Maybe there's some kind of issue when writing t

[2021-08-09 12:35] DenisRumyantsev commented on #15127
@nadesu, could you please take a look at this ticket since it relates to your area?

[2021-08-09 12:41] DenisRumyantsev commented on #15130
@SadagopanRajaram, could you please take a look at this ticket since it relates to your area?

[2021-08-09 12:53] DenisRumyantsev commented on #15121
@bishal-pdMSFT, could you please take a look at this ticket since it relates to your area?

[2021-08-09 13:05] DenisRumyantsev commented on #15117
@azooinmyluggage, could you please take a look at this ticket since it relates to your area?

[2021-08-09 13:53] kuleshovilya commented on #14939
Still, in the fresh environment, everything works with no issues, container or not. And from the logs we can conclude that agent got some troubles reading from the file in tmp directory.
Can you describe your pipeline setup as well, we'll need to understand the exact process and container\agent placements to reproduce the issue.
You can also contact me at v-ikuleshov@microsoft.com

[2021-08-09 14:13] #15082 closed

[2021-08-09 16:46] hmalhi commented on #15043
Any update folks??

[2021-08-09 17:10] nadesu commented on #15127
@chshrikh - pls review this

[2021-08-09 18:12] MattGal commented on #10810
@AnnaOpareva I haven't actually seen an instance of this in some time, so I think it's OK to close this given there is some form of retry added, and open a new issue if we do see it again.

[2021-08-09 19:09] Gamecock opened #15133 "Cannot find docker after running InstallerTask"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DockerInstaller

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
      account: jblprd
      project: JAMN Project
      pipeline: Autonestserver

- Agent - Hosted
    Windows Server 2019
    Container agent per [docs](https://

[2021-08-09 19:10] Gamecock commented on #15133
[logs_398793.zip](https://github.com/microsoft/azure-pipelines-tasks/files/6956819/logs_398793.zip)
Logs from run

[2021-08-09 19:36] Gamecock commented on #15133
[logs_398804.zip](https://github.com/microsoft/azure-pipelines-tasks/files/6956958/logs_398804.zip)
Logs with system diagnostics enabled.

[2021-08-09 19:51] luizgrs opened #15134 "VSTest resolving vsTestVersion 16.0 to VS2017"
**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: VsTest

## Environment
- Server: Azure Pipelines
- Agent - Hosted or Private:  private (windows, 2.186.1)

## Issue Description

Task uses vstest.console.exe 15.9.1 from VS2017 Enterprise folder when `vsTestVersion` is 16.0.

Task uses vstest.console.exe  16.5.0 from VS2019 Build Tools folder when `vsTestVersion` is `latest`.

This b

[2021-08-09 20:15] dalehhirt opened #15136 "Helm Upgrade Task fails on chartType == 'name'"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-10 01:56] chshrikh commented on #15127
@ChrisHout can you please share the detailed debug logs for task  / pipeline execution

[2021-08-10 06:04] AnnaOpareva commented on #10810
Hi @MattGal. In this way, I am closing this issue. Feel free to create a new one if you will see this issue again.

[2021-08-10 06:04] #10810 closed

[2021-08-10 06:22] PetrPospisil opened #15138 "AzureCLI@2 ERROR: psutil.AccessDenied"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-10 07:15] walczakp commented on #14939
Checked the answer to your questions before, it this matter it behaves exactly the same as with or without container. It always creates the .md file with content, so it seems it always has access to /tmp.
I executed some commands after the task JenkinsQueueJob fired, there is no difference in the output regardless if its running in container or not:
No container - build goes green:
[code]
With con

[2021-08-10 07:21] kuleshovilya commented on #14939
I see, still issue seems to be local, so we'll need to know the setup to understand wheres the issue.

[2021-08-10 07:32] kuleshovilya commented on #14992
Also, make sure that your region settings are set like this, since behaviour in your example seems really like an issue with those  settings
![image](https://user-images.githubusercontent.com/87485027/128826605-bc92e912-6931-4f2e-9cbc-974d661a985c.png)

[2021-08-10 08:36] walczakp commented on #14939
We have a private agent pool set up, on which I don't have much knowledge about. I'll ask around to see what kind of details can I share, in the meanwhile the workaround with no container is working fine for us. Thanks for your assistance.

[2021-08-10 09:00] markrobert194 commented on #12147
Any updates? Seems to be removing items from my AndroidManifest

[2021-08-10 12:26] walliski commented on #13275
@shailesh-sk @upadhyayap

Did we get anywhere with #14868 ?

[2021-08-10 12:53] Wouter-Vandenputte commented on #10969
August 2021 and the issue still occurs. Thinking out of the box here, could it be that we (the world) are just going with to much servers to the same location? Because this error occurs sporadically with us (about 6 out of 10 times)

[2021-08-10 13:43] JasonWhall opened #15139 "PublishSymbolsV2 task - Doesn't Support TLS 1.2"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishSymbolsV2

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: N/A

- Agent - Hosted or Private:

    - If using Hosted agent

[2021-08-10 13:50] kuleshovilya commented on #14994
Hello @jloehr . The issue doesn't seem to be with the lack of xcworkspace, task can handle that. Moreover, the function that you've provided in the description is for converting old-styled workspace to a pbxproj. Seems, like an issue has something to do with the signing options and warning that you've provided tells exactly that.
Can you please provide:
agent version and xcode version
You can prov

[2021-08-11 03:22] kalimah-apps opened #15142 "MSBuild task does not respect SuppressTSqlWarnings property in .sqlproj"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: MSBuild

## Issue Description

I am trying to build a DACPAC file using MSBuild task. Here is my yaml code:
[code]
When running the pipeline I get errors similar to this:
[code]
The process works fine on local server as the reference exist but it is not checked out to the git repo on AzureDevops.

In my .sqlproj file I added the

[2021-08-11 05:28] vineetmimrot commented on #15129
@JoasE Can you please double-check whether you are using same SPN service endpoint that you have created in the Az CLI task?

[2021-08-11 07:13] PetrPospisil commented on #15138
I debugged the issue and the reason for the failure is too long path for node.exe tool in agent's path

call
"C:\Packages\Plugins\Microsoft.Compute.CustomScriptExtension\1.10.12\Downloads\0\externals\node10\bin\node.exe" "D:\a\_tasks\AzureCLI_46e4be58-730b-4389-8a2f-ea10b3e5e815\2.1.1\azureclitask.js" fails (path length is more than 107chars)
but call
"C:\Packages\Plugins\Microsoft.Compute.CustomS

[2021-08-11 07:13] #15138 closed

[2021-08-11 08:46] ChrisHout commented on #15127
[tasklog_11.log](https://github.com/microsoft/azure-pipelines-tasks/files/6967023/tasklog_11.log)

This is the debug tasklog with some personal stuff removed.

[2021-08-11 10:18] rschindhelm-haba commented on #12490
I agree that the task should not return an error if the application pool is already in the stopped state.
The "continue on error" option would proceed even if there actually is an actual error, e.g. wrong application pool name, and could be more harmful then helpful.

[2021-08-11 10:44] rafek1241 opened #15144 "Not working validation ARM template task for deployment containing azure powershell script"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-11 11:49] herecydev opened #15145 "##[error]The type initializer for 'Category does not exist.' threw an exception."
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache@2

## Environment
- Server - Azure Pipelines
- Agent - Hosted

Image: ubuntu-latest
Agent: Azure Pipelines 2

## Issue Description

The following failure is seen randomly:

`##[error]The type initializer for 'Category does not exist.' threw an exception.`

Current workaround is to retry until it succeed

[2021-08-11 13:33] ben-burton commented on #13918
This would be really useful for working with helm charts

[2021-08-11 13:49] sukumarpatel commented on #8655
I have set up this task and it is working as expected. Hiwver, the REST API task waits for a max of 60 minutes before it fails. How can we increase this time out?

[2021-08-11 13:57] anatolybolshakov commented on #14346
@maciejporebski @johnsharland77 let me close this one since it seems to be already resolved - please let us know if you still have any issues.

[2021-08-11 14:36] cchhllooee commented on #12521
Hey has anyone found a fix when the deleting and re-creating the distribution group didn't work?

[2021-08-11 15:49] maciejporebski commented on #14346
Hey @anatolybolshakov. We now get this error when the Release pipeline attempts to download artifacts.

Task: Download build artifacts
Version: 0.190.0
Agent Version: 2.187.2

The version of 'typed-rest-client' in the node_modules of that task is 1.2.0

[code]

[2021-08-11 15:55] ProYousuf opened #15146 "npm exited with non-zero code: 4294963238"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-11 18:28] DhavalShewale opened #15147 "Expressions using Pipeline Variables behave inconsistently across template files"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Expressions

## Environment
- Server - Azure Pipelines
- Agent - Impacts Both (MSFT Hosted & Self Hosted)

## Issue Description
- Pipeline variable behave inconsistently in nested templates.
- Expressions using same pi

[2021-08-11 18:28] mskoczylas opened #15148 "JenkinsQueueJob: jenkins job is pending while Jenkins job finished 20 minutes ago"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: JenkinsQueueJobV2

## Environment
TFS on-premises

    - Version Dev18.M170.8
    - Agent - Private: Windows_NT 10.0.17763   Version 2.170.0

## Issue Description

There is a 20 minute delay after the Jenkins job was c

[2021-08-11 20:52] ramiMSFT opened #15149 "Azure SQL Database Deployment task - sqladmin account missing"
User reported that his release pipeline is failing at the Azure SQL Database Deployment task because the sqladmin account is missing.

The original issue was filed under MicrosoftDocs/azure-devops-docs:

[ARM Template Deployment Missing Login - Azure DevOps - issue 10998](https://github.com/MicrosoftDocs/azure-devops-docs/issues/10998)

[2021-08-12 05:50] vineetmimrot commented on #15105
Are you still getting this issue, with `5.0.x` we can get `5.0.400` sdk version installed via `usedotnet` task

[2021-08-12 08:42] kuleshovilya commented on #14939
Sure thing, I'll close the issue for now, please send the details to v-ikuleshov@microsoft.com if you'll decide to go into investigation. Thank you

[2021-08-12 08:59] sefelk commented on #15145
The failure occurs in the Post-job execution handler of the Cache@2 task.

This is the stack trace:

[code]

[2021-08-12 09:10] #14092 closed

[2021-08-12 09:31] hollowdrutt commented on #14304
Since I have gotten no more feedback here and I still have the same problem I decided to disable publishing the code coverage but then I ran into the issue that the test task ignores the publishRunAttachments parameter, which is described in this issue which was closed without any response #13798

[2021-08-12 10:42] ssaarinen commented on #14247
this is still very much happening :/

[2021-08-12 11:18] RobertKnienider commented on #14365
seems to be the unterlying issue.

[2021-08-12 12:10] #14294 closed

[2021-08-12 13:16] magliok-wwt commented on #14365
Agreed, that may state that you can't utilize vars, then the question (which really is the root of what everyone is asking here) what is the correct approach for handling the scenarios many of us have, with this limitation.

[2021-08-12 13:29] bjaajb11 opened #15151 "Error in UseDotNet@2 - Failed while detecting machine OS platform with error: "Failed to get machine platform details. Error: .""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-12 16:59] anatolybolshakov commented on #14346
Hi @maciejporebski reopening this one - let us take a look.

[2021-08-12 22:31] avivanoff commented on #12763
@egor-bryzgalov, it has been a years since "we triaged this issue and planning to start working on it in the near future". The issue has become stale twice. Do you have any plans implementing it?

[2021-08-13 09:43] DaniilShmelev commented on #15106
@amin3498amin do you have any updates on this?

[2021-08-13 11:10] anatolybolshakov commented on #14346
Looks like issue is still relevant for tasks which use typed-rest-client less than v1.8.3 (fixed in [PR](https://github.com/microsoft/typed-rest-client/pull/216)) - for azure-devops-node-api it was picked up in v10.2.1. We need to update all tasks which use these dependencies - to resolve issue for other in-the-box tasks.

[2021-08-13 11:48] hollowdrutt opened #15153 "VSTestV2 codeCoverageEnabled parameter set to false has no effect if runsettings file has code coverage enabled"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VSTestV2

## Environment
Azure Pipelines
Private Agent running on VM in Azure
OS: Windows Server 2016
Agent version: 2.187.2

## Issue Description

This is related to [Publishing code coverage results with VSTest task is slow or fails with timeout](https://github.com/microsoft/azure-pipelines-tasks/issues/143

[2021-08-13 12:22] anatolybolshakov commented on #14092
Hi @rchowdhe is this issue still actual for you?

[2021-08-13 15:35] anatolybolshakov commented on #15148
Hi @mskoczylas this is the time agent spent writing markdown to the file on your environment for some reason...

[2021-08-13 15:41] anatolybolshakov commented on #15147
Hi @DhavalShewale there is some difference between runtime and template expressions you can read about in [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?view=azure-devops).
Since this is a general question not related to the tasks - I would suggest to open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it - this repo

[2021-08-13 15:41] #15147 closed

[2021-08-13 15:46] anatolybolshakov commented on #15142
Hi @kalimah-apps this seems to be msbuild question not related to the task itself - since there is a build error. It also does not seem to be some common issue...
You can check msbuild version installed on hosted images on [page](https://github.com/actions/virtual-environments/tree/main/images) - the difference between msbuild on hosted machine and your environment could make sense.
For msbuild re

[2021-08-13 16:35] stephajn commented on #13124
Straight up just downgrading to V3 worked for me when I came up against this issue. From a customer point of view, I look at V4 as being a broken version of the task.

[2021-08-13 16:48] MarkIannucci opened #15154 "AzurePowerShell throws The string is missing the terminator: ". even when the contents of the script are write-host "task doesn't work""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShell

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
https://dev.azure.com/DHHA/DHHA/_build/result

[2021-08-13 21:21] farazahmed879 opened #15155 "Invalid file path 'E:\BuildAgents\agent-1\_work\58\s\CommonScripts\UpdateVersion.ps1,'. A path to a .ps1 file is required."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-13 22:35] garthbf opened #15156 "How to make a user created Azure Devops extension for a Gate show in Environments"
we are creating our own pipeline gate extension. we need to know what to put in the json file so it will also be able to be used in pipeline environments.
Thanks,

[2021-08-13 22:58] spoelstraethan commented on #11854
The issue remains that if you don't specify the AzureKeyVaultV1 (or V2) task but are using a Variable Group backed by a KeyVault, that does NOT set the RunAsPreJob to `true`.

[2021-08-14 23:21] luizgrs opened #15157 "stageDependencies outputs unexpectedly prepended with jobName"
(not sure if this is the right place as this is linked to Azure Pipelines engine not a specific task)

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: none (pipelines engine?)

## Environment
- Server: Azure Pipelines
- Agent - Hosted or Private:  private (windows, 2.186.1)

## Issue Description

Output variables set using log commands are available for next stages but their names

[2021-08-15 00:28] jhakulin commented on #11980
Is there a workaround or fix?

[2021-08-15 04:08] DineshNataraj opened #15158 "Trigger Azure Devops Pipeline when a repository commit happens in Github"
Hello Team,
I have my organization Github and using Azure Devops for pipeline. I need to build my Azure Devops pipeline if a new commit is happened, I need to trigger my Pipeline automatically.
I have used Pipeline->Triggers->Continuous Integration configuration and the build is not getting triggered automatically.
Could you please help to get my webhook enabled with Github and Azure Devops ?

[2021-08-15 06:05] #13418 closed

[2021-08-15 21:05] #14228 closed

[2021-08-16 03:58] StingyJack commented on #15020
@bishal-pdMSFT @chshrikh  - any update on this?  I'd also like to ask that you share some knowledge and education with the staff member who worked on the [same issue that I reported on DevComm ](https://developercommunity.visualstudio.com/t/Use-NET-core-SDK-task-for-3x-reports/1468875)

[2021-08-16 05:50] crushonme opened #15159 "ERR_UNESCAPED_CHARACTERS returned by DockerV2 task when the URL contains Chinese Character"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-16 08:10] berviantoleo opened #15160 "Is it PublishCodeCoverageResults@2 available at Azure DevOps with Microsoft-hosted agents?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: PublishCodeCoverageResults

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines
- Agent - Hosted
- Build Link: https://dev.azu

[2021-08-16 08:31] DaniilShmelev commented on #15106
Closing due to inactivity

[2021-08-16 08:31] #15106 closed

[2021-08-16 09:10] #7654 closed

[2021-08-16 10:23] anatolybolshakov commented on #15158
Hi @DineshNataraj could you please raise a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?
This repo is mostly for pipeline tasks - let me close this ticket here since it's not related to the tasks itself.

[2021-08-16 10:23] #15158 closed

[2021-08-16 11:18] DenisRumyantsev commented on #15051
[This ticket](https://github.com/microsoft/build-task-team/issues/1509) will need to be closed when the issue is fixed.

[2021-08-16 12:49] kuleshovilya commented on #14395
Hello @jessehouwing . Tried reproducing same exact task you've provided with a fresh environment(selfhost agent on win VM, and centos vm target) and latest task version(0.189.0), worked fine. Please, try the latest task version as well. If that doesn't work, please compare re-open the issue. I'll close it for now.

[2021-08-16 13:04] kuleshovilya commented on #14992
@jpulipv , any update on the issue?

[2021-08-16 14:35] max-zaytsev commented on #15155
Hi @farazahmed879 Please provide more details about your issues in the description

[2021-08-16 15:05] max-zaytsev commented on #15157
Hi @luizgrs, this repo is mostly for pipeline tasks issues, so [developer community](https://developercommunity.visualstudio.com/search?space=21) would be a better place to post such questions.

[2021-08-16 15:37] max-zaytsev commented on #15156
Hi @garthbf, this repo is mostly for pipeline tasks issues, so [developer community](https://developercommunity.visualstudio.com/search?space=21) would be a better place to post such questions.

[2021-08-16 15:37] #15156 closed

[2021-08-16 15:40] garthbf commented on #15156
Ok I will post there. But Gates are part of pipelines and they are basically a task with a different signature.
So where is the full documentation of the json schema with explanation of each element?

Garth Frazer
Premera Blue Cross
***@***.******@***.***>
Work    - 425.918.3186
Cell    - 360.421.3326

From: Maxim Zaytsev ***@***.***>
Sent: Monday, August 16, 2021 8:37 AM
To: microsoft/azure-pipel

[2021-08-16 16:51] anatolybolshakov commented on #14983
Hi @xxfast @fabiozig @chrisheil @wlgusgit could you please check if [v2.186.1 ](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.186.1) agent works for you also?

[2021-08-16 18:29] microjay opened #15163 "Azure powershell task v5 with powershell core causes misbehavior for variables named $endpoint"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-16 21:11] keitharowe commented on #15054
@rfigueroa2014 there are plain text credentials in your post

[2021-08-17 04:08] gbutler202 commented on #13491
We've been suffering with this issue as well. Server 2019, x64 agent, McAfee AV. We liaised with the AV vendor and with their help were able to identify in our case the Antimalware Scan Interface (AMSI) feature under On-Access Scan was the culprit. We tried OAS folder exclusions (to which we added the agent's base folder path) but that wasn't sufficient as the process touches bits of Powershell, .

[2021-08-17 07:41] ChrisHout commented on #15127
@DenisRumyantsev @nadesu @chshrikh

Do you need more information?

[2021-08-17 11:49] IanKemp commented on #9107
This is the kind of stupidity that makes me hate Microsoft.

[2021-08-17 12:34] v-pkoneti commented on #15153
Hi @hollowdrutt

This is by design and you need to remove form run settings and disable from vstest task to stop code coverage.

[2021-08-17 12:55] bigjonroberts commented on #14408
We hit the same error today consistently.  I guess that azure pipelines really just doesn't support this feature with bash right now?
If so, the docs should be updated to reflect that.

[2021-08-17 14:53] mskoczylas commented on #15148
OK how can I improve it?

Sometimes markdown are written in less then 1 second. (Debug is off, but it completed quickly)
2021-08-16T23:18:55.4109121Z Finished: SUCCESS
2021-08-16T23:18:55.4110119Z
2021-08-16T23:18:55.6306465Z ******************************************************************************
2021-08-16T23:18:55.6307617Z Jenkins job finished: PullRequest.Validation.-.Application.Build
2

[2021-08-17 17:33] zhenyanghua commented on #14845
@leepowelldev How do you configure the pipeline task so that it uses npm v7? We have difficulty to suggest the agent to using npm v7.

[2021-08-17 19:39] bigjonroberts commented on #14408
Well what do you know, the docs do address aspects of this issue:
https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/troubleshooting?view=azure-devops#variables-having--single-quote-appended

[2021-08-18 05:49] Korijn commented on #14408
Wow! That's a great find, thanks for sharing!

[2021-08-18 12:32] wouterkestevens opened #15169 "NuGet restore failing with message. "Getting package **** from source 'https://pkgs.dev.azure.com/*****' was cancelled.""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-18 12:58] tatyana-kostromskaya opened #15170 "[JenkinsDownloadArtifactsV1] Fix high and critical security vulnerabilities"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: JenkinsDownloadArtifactsV1

## Issue Description

This task depends on "artifact-engine" that has critical and high vulnerabilities in handlebars lib and "azure-pipelines-tasks-azure-arm-rest" that has critical vulnera

[2021-08-18 13:57] anatolybolshakov commented on #13971
Hey @sander1095 just checking for any updates, thanks!

[2021-08-18 14:25] mkennten opened #15171 "AzureAppServiceManage - Enable Continuous Monitoring fails with code 400 due to outdated API use"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureAppServiceManage

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description
1. Creating a ASP.NET app service, Application Insights enabled, using the default workspace
2. Running a pipeline

[2021-08-18 14:25] anatolybolshakov commented on #15148
@mskoczylas it seems to be related to something on your local system.
Do you run agent interactively or as a service? I would suggest to re-check if agent process has enough priority, and there is no file system related errors.

[2021-08-18 14:26] anatolybolshakov commented on #15142
@kalimah-apps closing this as external issue at the moment - please feel free to ask any further questions.

[2021-08-18 14:26] #15142 closed

[2021-08-18 16:06] sander1095 commented on #13971
Hello! I have been at work again for 2 days. In the next few days or next week I want to set a reproducable up for you!

[2021-08-18 17:37] dirtygooback commented on #13178
And how does one go about changing the default timeout?

[2021-08-18 17:51] jeahyoun opened #15172 "InstallSSHKeyV0 does not support loading SSH key from Azure Keyvault"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Feature

**Enter Task Name**: InstallSSHKeyV0

## Environment
- Server - Azure Pipelines

- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name

[2021-08-19 06:28] StefanOssendorf commented on #10405
Any news on that?

[2021-08-19 06:59] bohdanudovenko opened #15173 "task: InstallSSHKey@0 ssh_config generation"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-19 07:32] kuleshovilya commented on #14992
@jpulipv , I'll close issue for now. You can reopen it or ping me at my email v-ikuleshov@microsoft.com

[2021-08-19 07:32] #14992 closed

[2021-08-19 12:53] anatolybolshakov commented on #15170
@Lovakumar could you please take a look?

[2021-08-19 13:34] tristanbarcelon opened #15175 "Using task PowershellTask@2 to invoke a pscore script in a YAML pipeline generates a dotnet error"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Powershell

list here (V# not needed):  2

## Environment
- Server - Azure Pipelines

    Please reach out to me in private so I can provide account name, team project name, build definition name, and build number.

-

[2021-08-19 17:04] Kamiljen commented on #11451
Another +1 on not being able to pass args to robocopy

[2021-08-19 20:11] tristanbarcelon commented on #15175
Hi @max-zaytsev , thank you for taking a look at this issue. I've also opened up a ticket (2108190040004024) with azure devops support to see if I can get quicker resolution. I've looked at the yaml pipeline definition and my powershell script but couldn't find anything I'm providing that's a -V.

[code]

[2021-08-19 21:50] msaxbury opened #15177 "Task folder structure in this repo, does not match MS documentation for multi-version tasks"
The folder layout for multi-version tasks in this project, does not match the MS documentation at this link:

https://docs.microsoft.com/en-us/azure/devops/extend/develop/integrate-build-task?view=azure-devops-2020#multiple-versions-layout

[2021-08-19 22:17] tbeavers commented on #9272
Plain and simple, being able to exclude specific files/folders when using ArchiveFiles is a much needed option. In the meantime, will be using an additional CopyFiles task to "stage" what I actually want to archive.

[2021-08-20 08:17] radulacatus opened #15180 "Script failed with error: Error: The process '/usr/bin/bash' failed because one or more lines were written to the STDERR stream"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-20 08:20] radulacatus commented on #15180
Potential workarounds:
- Configure pipeline task not to fail task on STDERR
- Request an older version on Ubuntu
- Demand capability for the agent with a specific image version -> i am not sure that this is possible

[2021-08-20 08:26] kuleshovilya commented on #14994
@jloehr Any update on the issue?

[2021-08-20 08:26] ydaponte opened #15181 "SqlAzureDacpacDeploymentV1 doesn't allow to connect to a Synapse dedicated pool"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-20 09:03] FeroxFoxxo commented on #12169
Hi! As far as I know this is still an issue and has not been resolved. Using PowerShell doesn't seem like it should be "the solution" to people having to wait for NUGET versions to get out of preview?? This is still happening with NUGET 6.0 on the azure cloud, and we've had to revert to .NET 5.0 because we're getting errors thrown trying to use the preview....

[2021-08-20 09:08] FeroxFoxxo commented on #12169
It would be nice to have a "toggle preview" option, just like how the .net installer has "includePreviewVersions: true", which would alleviate this problem.

[2021-08-20 09:58] anatolybolshakov commented on #15177
Hi @msaxbury there is a source code of in-the-bix tasks in this repo - although the docs your provided describe pipeline extension layout.
Please let us know if you have any further questions.

[2021-08-20 09:58] #15177 closed

[2021-08-20 10:08] BogdanGeorge commented on #15180
Seems to work fine if using:  `az aks get-credentials --resource-group --name **--only-show-errors** --overwrite-existing --admin`

[2021-08-20 10:43] SpyRefused opened #15182 "ContainerStructureTestV0 has started to fail this week"
Hi

During this week, suddenly, one of the tasks I have azure has started to fail. Specifically the ContainerStructureTest without having changed any of its definition.

The error is very cryptic, and does not give me any information about what could be happening.

ContainerStructureTestV0

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/ContainerStructureTestV0

## Environmen

[2021-08-20 10:56] ahojnnes commented on #14786
@ganesp It would be great to get an update on when we expect this issue to be fixed. We hit the same issue in our pipelines. Thank you.

[2021-08-20 11:40] DenisRumyantsev commented on #15160
Hi @berviantoleo, currently, the PublishCodeCoverageResults@2 task (the second version) has not been published, so it is not available in Azure DevOps. Besides, there are no plans to publish it.

[2021-08-20 11:58] anatolybolshakov opened #15183 "Migrate remaining pipeline tasks to Node 10"
Since we are going to remove obsolete Node 6 execution handler - we need to migrate tasks which still use it - to Node 10:

- [x] ACRTaskV0 - removed the task due to being unused.
- [ ] AppCenterDistributeV1 - created [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15643). - need to fix tests
- [ ] AppCenterDistributeV2 - created [PR](https://github.com/microsoft/azure-pipelines-tasks

[2021-08-20 12:01] anatolybolshakov opened #15184 "AzureIoTEdgeV2 - migrate to Node 10"
We need to migrate AzureIoTEdgeV2 to Node 10 - since Node 6 will be removed soon from agent.
Related parent issue - https://github.com/microsoft/azure-pipelines-tasks/issues/15183

[2021-08-20 12:05] anatolybolshakov commented on #15184
@marianan @mhshami01 could you please take a look?

[2021-08-20 12:07] anatolybolshakov opened #15185 "JenkinsDownloadArtifactsV1 - migrate to Node 10"
We need to migrate JenkinsDownloadArtifactsV1 to Node 10 - since Node 6 will be removed soon from agent.
Related parent issue - #15183

[2021-08-20 12:07] anatolybolshakov commented on #15185
@Lovakumar could you please take a look?

[2021-08-20 12:10] anatolybolshakov opened #15186 "NuGet and package tasks - migrate to Node 10"
We need to migrate following to Node 10 - since Node 6 will be removed soon from agent:
-  NuGetCommandV2
-  NuGetInstallerV0
-  NuGetPublisherV0
-  NuGetRestoreV0
-  NuGetToolInstallerV0
-  NuGetToolInstallerV1
- TwineAuthenticateV0
- TwineAuthenticateV1
- UniversalPackagesV0

Related parent issue - #15183

[2021-08-20 12:12] anatolybolshakov commented on #15186
@phil-hodgson @johnterickson @animania4ka could you please take a look?

[2021-08-20 12:18] anatolybolshakov opened #15187 "VSTestV2, PublishTestResultsV1 tasks - migrate to Node 10"
We need to migrate following to Node 10 - since Node 6 will be removed soon from agent:
- VSTestV2
- PublishTestResultsV1

Related parent issue - #15183

[2021-08-20 12:21] anatolybolshakov commented on #15187
@sadagopanrajaram @PBoraMSFT could you please take a look?

[2021-08-20 12:45] segunog opened #15188 "Enable Continuous Monitoring Task failing on Azure DevOps Pipeline"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-20 12:55] eric-labelle commented on #13257
Duplicate (with answer) for https://github.com/microsoft/azure-pipelines-tasks/issues/15160

[2021-08-20 13:35] anatolybolshakov opened #15189 "CondaEnvironment, NodeToolV0, PublishCodeCoverageResultsV2, PyPIPublisherV0, ShellScriptV2, UseNodeV1, XamarinTestCloudV1 - migrate to Node 10"
We need to migrate following to Node 10 - since Node 6 will be removed soon from agent:

- [x] CondaEnvironmentV0
- [x] CondaEnvironmentV1
- [x] NodeToolV0 - [NodeToolV0 Migrated to Node10](https://github.com/microsoft/azure-pipelines-tasks/pull/13872)
- [x] PublishCodeCoverageResultsV2 - it isn't in collection, so we need to change PublishCodeCoverageResultsV1, [PublishCodeCoverageResultsV1 Migra

[2021-08-20 14:37] msaxbury commented on #15177
What is the difference between these "in-the-box tasks" and "pipeline extensions"?

[2021-08-20 15:36] mvacha commented on #9984
If you need some targets to be signed but not the rest, you can specify them this way:

[code]

[2021-08-20 16:25] marianan commented on #15184
thanks @anatolybolshakov , I added this work item to our backlog. When do you expect Node 6 support to be removed from the agent?

[2021-08-20 20:43] luizhlelis commented on #13729
There are two work around:

1. As mentioned by @Frederic-roamler, you can rollback that task to the old versions (v2 worked for me too). In the old versions you don't need to do any extra job in Azure Portal.
2. If you want to keep using the latest version, you need to make sure that the `Service Principal` used in that task has access to the `Storage Account`. Try to navigate to the `Access contr

[2021-08-20 21:05] #11536 closed

[2021-08-20 21:12] StingyJack commented on #11536
@shashban - why aren't you required to respond before this gets closed?

[2021-08-21 03:05] #14400 closed

[2021-08-21 12:08] elninoisback commented on #13632
Your issue is with Step 4. => "Run tests using above tool and generate .coverage file"

If a .coverage file is created and left alone, Azure DevOps will pick it up and use it over anything else you create later. So basically your coverage.xml or any generated HTML report is ignored at the Code Coverage tab.

So instead of using VSTest task and whatever you used beneath that, try adding a .Net Core

[2021-08-21 15:05] #9783 closed

[2021-08-21 18:05] #14268 closed

[2021-08-22 18:05] #14417 closed

[2021-08-23 07:15] s-hintz commented on #9783
When will this be fixed?

[2021-08-23 07:48] hwride commented on #14268
Just commenting to say this is definitely still something we would find useful 👍

[2021-08-23 08:29] max-zaytsev commented on #15155
Hi @farazahmed879 Is it still actual for you?

[2021-08-23 08:46] kuleshovilya commented on #14994
Alright, I'll close the issue for now. Please, check it when you can, and you can either send in message to this issue or ping me at my email v-ikuleshov@microsoft.com

[2021-08-23 08:46] #14994 closed

[2021-08-23 08:47] #14395 closed

[2021-08-23 09:58] amkondi commented on #12147
same issue here !! Any updates plz ?

[2021-08-23 10:44] sander1095 commented on #13971
I spent some time yesterday to create a repo to reproduce the problem. I have not been able to reproduce it :(.

Perhaps I could enable more `verbose` logging and system diagnostics and send it to you @anatolybolshakov ?
Furthermore, the creator of this issue (@buckleyGI ) says in the issue they also had logs with sys diagnostics, perhaps that could be of help? I don't have access to these, unfort

[2021-08-23 19:15] DenisRumyantsev commented on #15160
@berviantoleo, the documentation was updated, thanks! Please check it out [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops).

[2021-08-23 20:39] zhenyanghua opened #15192 "How to specify NPM version when using npm task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-08-23 21:40] phil-hodgson commented on #15186
Hi @anatolybolshakov. What are the changes required here? The parent item (#15183) doesn't give a lot of detail.

Are there any example PRs for other tasks that have already addressed the issue?

[2021-08-23 22:54] berviantoleo commented on #15160
Thanks. I think my issue can be closed now.

[2021-08-23 22:54] #15160 closed

[2021-08-24 05:44] chshrikh commented on #13170
with current design our task does not honour the proxy settings from agent, we need to make this task enhancement to support this scenario

[2021-08-24 05:48] chshrikh commented on #14043
we will take the required changes with next enhancement

[2021-08-24 06:02] chshrikh commented on #14663
closing as there is no activity

[2021-08-24 06:02] #14663 closed

[2021-08-24 06:07] chshrikh commented on #14884
closing due to lack of activity

[2021-08-24 06:07] #14884 closed

[2021-08-24 06:09] chshrikh commented on #14930
closing this as there is no activity

[2021-08-24 06:09] #14930 closed

[2021-08-24 06:13] chshrikh commented on #15023
@chtourou-youssef the logs starting with "`2021-07-13T15:56:58.1459713Z ##[debug]getDeploymentLogs. Data:"` has the KUDU log url, can you check on KUDU what error happened

[2021-08-24 06:26] chshrikh commented on #15163
1. can you try to run the script directly form PS promt where Azure PS 5 is available
2. Can you share the detailed debug task logs

[2021-08-24 07:36] AmrutaKawade commented on #15066
Given fix is in other task `SqlAzureDacpacDeployment@1` and task which you are using is different `SqlDacpacDeploymentOnMachineGroup@0`. we are tracking this issue with https://github.com/microsoft/azure-pipelines-tasks/issues/14043. Closing it since its duplicate

[2021-08-24 07:36] #15066 closed

[2021-08-24 08:07] tatyana-kostromskaya opened #15193 "[AzureSpringCloudV0] Update dependencies to fix vulnerabilities"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureSpringCloudV0

## Issue Description

This task has dependency on "azure-pipelines-tasks-azure-arm-rest-v2" that has critical vulnerability in "typed-rest-client > underscore".

![image](https://user-images.githubu

[2021-08-24 08:51] AmrutaKawade commented on #14580
As task owner we can't take dependency on any particular version of tls. and since tls 1.0 and 1.1 is deprecated now you can disable tls in internet explorer options as mentioned here

https://docs.microsoft.com/en-us/lifecycle/announcements/transport-layer-security-1x-disablement

https://warwick.ac.uk/services/its/servicessupport/web/sign-on/help/tls1-eol/ie/

Closing this issue as no fix from t

[2021-08-24 08:51] #14580 closed

[2021-08-24 09:00] AmrutaKawade commented on #15127
@ChrisHout Can you set `system.debug = true` and share logs

[2021-08-24 09:10] AmrutaKawade commented on #15154
is this the only content of script file `write-host "task doesn't work"`?

[2021-08-24 09:18] AmrutaKawade commented on #15100
I tried on
[code]
and it worked for me. can you check by deprecating your npm version

[2021-08-24 09:51] AmrutaKawade commented on #15171
Duplicate of https://github.com/microsoft/azure-pipelines-tasks/issues/15188. Closing this issue

[2021-08-24 09:51] #15171 closed

[2021-08-24 09:51] AmrutaKawade commented on #14794
Duplicate of https://github.com/microsoft/azure-pipelines-tasks/issues/15188. Closing this issue

[2021-08-24 09:51] #14794 closed

[2021-08-24 10:08] AmrutaKawade commented on #15188
@darklove0504 in our `AzureAppServiceManage` task there is option to enable continuous Monitoring in Azure App Insights. While doing this we add tags to App insights.

So we retrieve app insights details with this API

https://docs.microsoft.com/en-us/rest/api/application-insights/components/get

which has response like this

[code]

and then update details in app insights using this API

https://

[2021-08-24 10:26] k290 opened #15194 "Azure SQL Publish not supported on Linux build agent"
There is no way to execute SQL scripts generated from EF Core from a Linux agent without workarounds that would require:
1. Access to the agent to install a SQL Agent
2. Implementing complicated containers

This was originally raised here: https://github.com/microsoft/azure-pipelines-tasks/issues/8408 but was closed in 2018 as "it had been added to the backlog".

The issue should remain open until

[2021-08-24 10:27] anatolybolshakov commented on #13257
Closing this one at the moment - please let us know if you have further questions.

[2021-08-24 10:27] #13257 closed

[2021-08-24 10:48] tatyana-kostromskaya opened #15195 "[Deployment, databases, and servers tasks] Update dependencies on "azure-pipelines-tasks-azure-arm-rest-v2" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- AzureAppServiceManageV0
- AzureFileCopyV2
- AzureFileCopyV3
- AzureFileCopyV4
- AzureMonitorAlertsV0
- AzureMysqlDeploymentV1
- AzurePowerShellV4
- AzurePowerShellV5
- AzureRmWebAppDeploymentV3
- AzureRmWebAppDeploym

[2021-08-24 10:56] tatyana-kostromskaya opened #15196 "[Deployment, databases, and servers tasks] Update dependencies on "utility-common-v2" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- AzureAppServiceManageV0
- AzurePowerShellV4
- AzurePowerShellV5
- AzureWebAppV1

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-utility-common" that has critical vulnerability in "azure-p

[2021-08-24 11:31] tatyana-kostromskaya opened #15197 "[Deployment, databases, and servers tasks] Update dependencies on "AzureRMDeploy-common" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- AzureAppServiceSettingsV1
- AzureFunctionAppContainerV1
- AzureFunctionAppV1
- AzureWebAppContainerV1
- AzureWebAppV1

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-azurermdeploycommon"

[2021-08-24 11:33] anatolybolshakov commented on #15177
@msaxbury in-the-box tasks are default tasks being shipped with Azure DevOps. There is a different build process.
For more questions regarding building of custom tasks - I would suggest to create a ticket on https://developercommunity.visualstudio.com/search?space=21 for any related questions.

[2021-08-24 11:39] tatyana-kostromskaya opened #15198 "[Azure Integration] Update dependencies on "azure-pipelines-tasks-azure-arm-rest-v2" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- AzureResourceGroupDeploymentV2
- AzureResourceManagerTemplateDeploymentV3
- AzureVmssDeploymentV0
- PackerBuildV0
- PackerBuildV1

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-azure-arm

[2021-08-24 11:43] tatyana-kostromskaya opened #15199 "[Azure Integration] Update dependencies on "azure-pipelines-tasks-packaging-common" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- DotNetCoreCLIV2
- UseDotNetV2

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-packaging-common" that has critical vulnerability in "azure-devops-node-api > typed-rest-client > underscore"

[2021-08-24 11:45] tatyana-kostromskaya opened #15200 "[Azure Integration] Update dependencies on "utility-common-v2" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- AzureVmssDeploymentV0
- DotNetCoreCLIV2
- UseDotNetV2
- GoToolV0

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-utility-common" that has critical vulnerability in "azure-pipelines-tool-l

[2021-08-24 11:49] tatyana-kostromskaya opened #15201 "[Packaging tasks] Update dependencies on "azure-pipelines-tasks-packaging-common" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- DownloadPackageV0
- DownloadPackageV1
- NpmV0
- NpmV1

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-packaging-common" that has critical vulnerability in "azure-devops-node-api > typed-r

[2021-08-24 12:11] tatyana-kostromskaya opened #15202 "[Packaging tasks] Update dependencies on "azure-pipelines-tasks-utility-common" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- DownloadPackageV0
- DownloadPackageV1

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-utility-common" that has critical vulnerability in "azure-pipelines-tool-lib > typed-rest-client > un

[2021-08-24 12:12] anatolybolshakov commented on #15184
@marianan thanks! We don't have exact timeline at the moment, but I would say that it could be during the next 1-2 months.

[2021-08-24 12:19] tatyana-kostromskaya opened #15203 "[Packaging tasks] Update dependencies on "azure-pipelines-tasks-artifacts-common" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- MavenAuthenticateV0
- NugetAuthenticateV0
- PipAuthenticateV1
- TwineAuthenticateV1

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-artifacts-common" that has critical vulnerability in "a

[2021-08-24 12:22] tatyana-kostromskaya opened #15204 "[Containers tasks] Update dependencies on "azure-pipelines-tasks-azure-arm-rest-v2" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- ACRTaskV0
- AzureKeyVaultV1
- AzureKeyVaultV2
- ContainerBuildV0
- HelmDeployV0
- KubernetesV1

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-azure-arm-rest-v2" that has critical vulnera

[2021-08-24 12:25] anatolybolshakov commented on #13971
@sander1095 yep, it would be great to check any verbose logs, thanks 👍

[2021-08-24 12:26] tatyana-kostromskaya opened #15205 "[Containers tasks] Update dependencies on "azure-pipelines-tasks-kubernetes-common-v2" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- HelmDeployV0
- KubernetesV1
- AzureFunctionOnKubernetesV0
- HelmInstallerV0
- HelmInstallerV1
- KubectlInstallerV0
- KubernetesManifestV0
- KubernetesV0

## Issue Description

These tasks have dependency on "azure-pi

[2021-08-24 12:30] tatyana-kostromskaya opened #15206 "[Containers tasks] Update dependencies on "azure-pipelines-tasks-securefiles-common" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  HelmDeployV0

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-securefiles-common" that has critical vulnerability in "azure-devops-node-api > typed-rest-client > underscore" and "azure-devo

[2021-08-24 12:36] anatolybolshakov commented on #15186
@phil-hodgson yes, here are several examples of such changes:
https://github.com/microsoft/azure-pipelines-tasks/pull/14195
https://github.com/microsoft/azure-pipelines-tasks/pull/14141

The main requirement is to update task execution handler from "Node" to "Node10", and make task to be compatible with Node 10 - let me share details internally also - since we've already have some how-to page for

[2021-08-24 13:46] tatyana-kostromskaya opened #15207 "[JavaToolInstallerV0] Update dependencies to get rid of vulnerabilities"
### Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: JavaToolInstallerV0

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-utility-common" that has critical vulnerability in "azure-pipelines-tool-lib > typed-rest-client > underscore".

![image

[2021-08-24 13:50] tatyana-kostromskaya opened #15208 "[ABTT] Update dependencies on "azure-pipelines-tasks-utility-common" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- NpmV0
- NpmV1
- NodeToolV0
- UseNodeV1
- UsePythonVersionV0
- UseRubyVersionV0
- XcodeV5

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-utility-common" that has critical vulnerability in

[2021-08-24 13:55] tatyana-kostromskaya opened #15209 "[ABTT] Update dependencies on "azure-pipelines-tasks-packaging-common" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- MavenV2
- MavenV3

## Issue Description

These tasks have dependency on "azure-pipelines-tasks-packaging-common" that has critical vulnerability in "azure-devops-node-api > typed-rest-client > underscore", " typed-re

[2021-08-24 13:56] tatyana-kostromskaya opened #15210 "[ABTT] Update dependencies on "azure-pipelines-tasks-securefiles-common" package to fix high vulnerability issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- AndroidSigningV2
- AndroidSigningV3
- DownloadSecureFileV1
- InstallAppleCertificateV2
- InstallAppleProvisioningProfileV1
- InstallSSHKeyV0

## Issue Description

These tasks have dependency on "azure-pipelines-task

[2021-08-24 14:44] DenisRumyantsev commented on #14816
@henryju @damien-urruty-sonarsource let me close this issue since the provided fix was deployed.

[2021-08-24 14:44] #14816 closed

[2021-08-24 14:45] DenisRumyantsev commented on #14789
@japj let me close this issue since the provided fix was deployed.

[2021-08-24 14:45] #14789 closed

[2021-08-24 15:05] eric-labelle commented on #9340
This is still a valid issue and needs to be reopened and fixed. We cannot use it when configuring our projects with kotlin-dsl.
Thanks

[2021-08-24 16:53] tatyana-kostromskaya commented on #15193
Hi, @yevster could you please take a look?

[2021-08-24 16:55] tatyana-kostromskaya commented on #15195
Hi, @nadesu could you please take a look?

[2021-08-24 16:55] tatyana-kostromskaya commented on #15196
Hi, @nadesu could you please take a look?

[2021-08-24 16:55] tatyana-kostromskaya commented on #15197
Hi, @nadesu could you please take a look?

[2021-08-24 16:57] tatyana-kostromskaya commented on #15198
Hi, @bishal-pdMSFT could you please take a look?

[2021-08-24 16:58] tatyana-kostromskaya commented on #15199
Hi, @bishal-pdMSFT could you please take a look?

[2021-08-24 16:58] tatyana-kostromskaya commented on #15200
Hi, @bishal-pdMSFT could you please take a look?

[2021-08-24 16:59] tatyana-kostromskaya commented on #15201
Hi, @phil-hodgson could you please take a look?

[2021-08-24 17:05] tatyana-kostromskaya commented on #15202
Hi, @phil-hodgson could you please take a look?

[2021-08-24 17:05] tatyana-kostromskaya commented on #15203
Hi, @phil-hodgson could you please take a look?

[2021-08-24 17:07] tatyana-kostromskaya commented on #15204
Hello, @rohit-batra could you please take a look at it?

[2021-08-24 17:07] tatyana-kostromskaya commented on #15205
Hello, @rohit-batra could you please take a look at it?

[2021-08-24 17:07] tatyana-kostromskaya commented on #15206
Hello, @rohit-batra could you please take a look at it?

[2021-08-25 02:59] aytimothy opened #15213 "FileTransform@1: [Feature Request] JSON case-insensitive substitution"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: FileTransform@1

## Environment
Hosted Agent, though I'm pretty sure this is environment agnostic.

## Issue Description

Is it possible to have JSON file substitution be case-insensitive (or at least add a flag fo

[2021-08-25 07:59] kimpatrickdelosreyes commented on #12010
What was the solution for this error. Encountering it running on self hosted agent

##[debug][POST]https://login.windows.net/***/oauth2/token/
##[debug]Processed: ##vso[task.logissue type=error;code=SELF_SIGNED_CERT_IN_CHAIN;]
##[debug]{"code":"SELF_SIGNED_CERT_IN_CHAIN"}
##[debug]task result: Failed
##[error]Get secrets failed. Error: self signed certificate in certificate chain.

[2021-08-25 08:03] tatyana-kostromskaya commented on #15209
Created PR: https://github.com/microsoft/azure-pipelines-tasks/pull/15214

[2021-08-25 08:15] tatyana-kostromskaya commented on #15207
Created PR: https://github.com/microsoft/azure-pipelines-tasks/pull/15215

[2021-08-25 08:16] ChrisHout commented on #15127
Hi guys, the problem is solved. On Server3 the script was running correct but on Server2 the result had an exit code 1.
So I checked the Powershell versions:
Server2 - v3.6.9600.17415 (2014)
Server3 - v10.0.14409.1005 (2016)
I don't know why the error showed up because I didn't changed the script. After updating Server2 with the new Powershell version it finally worked again. Thanks for your time.

[2021-08-25 08:16] #15127 closed

[2021-08-25 08:49] tatyana-kostromskaya commented on #15208
Created PR: https://github.com/microsoft/azure-pipelines-tasks/pull/15216

[2021-08-25 09:18] GregoryOtt commented on #14472
Issue still here.

[2021-08-25 09:43] kuleshovilya opened #15217 "Certain errors are improperly handled in JenkinsQueueJobV2 task"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: JenkinsQueueJobV2

## Issue Description

Seems like JenkinsQueueJobV2 , doesn't handle abrupt disconnection errors and socket hang-ups. The task goes into infinite timeout, and just produces same errors all the time.
The logs are from task with modified retry and normal one, works the same.

List of found errors with this behaviour:

[2021-08-25 11:33] tatyana-kostromskaya commented on #15210
Created PR:https://github.com/microsoft/azure-pipelines-tasks/pull/15218

[2021-08-25 12:56] kalimah-apps commented on #15142
@anatolybolshakov Thanks for the advise. We decided to go with sqlpackage.exe instead and it seems to be working fine.

[2021-08-25 13:10] richatcosta commented on #13350
This still appears to be an issue - and as per the comment from @sonnehansen it is an issue when wanting to use a (dynamically-selected) variable group in a template (or variable template etc):

`release-pipeline.yml` file:
[code]

`build-template.yml` file:
[code]

Attempting to refer to a variable in the variable group as part of the steps results in the errors posted earlier eg "references $(fo

[2021-08-25 13:47] kmikkel commented on #12263
I have been struggling with this issue. Here are my findings (pretty much the same conclusion as in the original post).

When running this Xcode task:
[code]

it generates this xcodebuild command, adding empty entries for PROVISIONING_PROFILE and PROVISIONING_PROFILE_SPECIFIER:

`
/usr/bin/xcodebuild -sdk iphoneos -configuration $(Configuration) -workspace /Users/runner/work/1/s/iOSBuild/Unity-iPh

[2021-08-25 14:20] eqinox76 opened #15219 "[GoToolV0] Binary releases of the go compiler only available until 1.16.3"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Bug

**Enter Task Name**:
GoToolV0

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    xtp/Development/Pipelines/XTP.TCA.Ben

[2021-08-25 15:33] DimitrisStaratzis opened #15220 "GithubRelease fails to create release."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: GithubRelease@0

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build d

[2021-08-25 16:13] spanditcaa commented on #13182
In case anyone else comes across this issue - a resolution for mac & linux is to single quote (') the container name.
[code]

[2021-08-25 17:29] fromthewoods opened #15221 "AzurePowerShellV5 is missing ps_modules\VstsTaskSdk"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: question

**Enter Task Name**: AzurePowerShellV5

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - If using TFS on-premises, provide the version: Azure DevOps Server Version Dev18.M170.6

- Agent - Hosted or Private:
    - If