[2018-05-22 12:41] acm74 commented on #7246
@prawalagarwal release logs are 32Mb - this is too big to upload to GitHub.  Where can I send it?

[2018-05-22 12:51] dejansimeunovic commented on #2717
Hi @prawalagarwal ,

How can we use the inbuilt ReRun functionality with the VsTest task? Is there some documentation, or some valuable examples? I tried to find the guide/doc for it online, but I wasn't that lucky...

Does it have to be preceded by "Visual Studio Test Agent Deployment" task (like "Run Functional Tests" task did), or it needs something else?

[2018-05-22 12:58] dejansimeunovic commented on #2717
Hi @AmaranAthigaman ,

Is there any chance that you could share your PowerShell script, and explain how you made it, or at least give us the guidelines how you did it? I need to do exactly the same thing in our build/test environment...
Thanks in advance (in any case)!

[2018-05-22 13:03] prawalagarwal commented on #2717
@dejansimeunovic Here is a [link](https://blogs.msdn.microsoft.com/visualstudioalmrangers/2018/02/08/vsts-gems-identify-flaky-tests/) explaining rerun in VsTest task. VsTest task is a stand alone task and does not need to be preceded by Deploy Agent task (DTA and RFT tasks are now deprecated).

[2018-05-22 13:13] pinkfloydx33 opened #7263 "Service Endpoint with Token retrieved via User/Password post"
My goal is to set up a custom Service Endpoint that we can use in some of our custom build/release tasks. Before I get too far down the rabbit hole I'm trying to determine if what I want is even possible. The endpoint I am trying to hit is an internal API that requires a token for its requests. The token itself is retrieved via an HTTP POST with user/password credentials. The token is then used fo

[2018-05-22 17:50] ggenetec opened #7265 "Multi-Agent with Visual Studio Test task is not working"
We are using TFS 2017.2
![image](https://user-images.githubusercontent.com/39531977/40380298-af3879b8-5dc6-11e8-8c32-122ce9202dfb.png)

using Visual studio Test Version 2.*

when running tests on single agent, tests runs with pass or failed results.
when using Multi-Agent, we get System.IndexOutOfRangeException
![image](https://user-images.githubusercontent.com/39531977/40380343-d5804c22-5dc6-11e8

[2018-05-22 19:11] william726 commented on #7252
thanks it works!

[2018-05-22 19:12] william726 commented on #7252
paste my code here for others as a reference

[code]

[2018-05-22 21:59] arunprakashwa opened #7267 "ChefKnife task failing with ruby_env"
## Issue Description

Chef knife task is failing with below error, even before it is getting into executing the script that is passed for the task. Looks like this is being affected by the number of artifacts present on the release definition.
### Error logs

2018-05-22T15:10:25.3234984Z ##[debug]Creating Chef Repo
2018-05-22T15:10:25.3470854Z ##[debug]userName = ***
2018-05-22T15:10:25.3532142Z #

[2018-05-23 00:48] AndrewCraswell commented on #3027
I'm also watching this. Without the CSS working, the viewer doesn't make much sense to us.

[2018-05-23 01:14] brownbl1 commented on #3027
@kohlikohl Also, we tried the gist to inline the styles, and while we were able to generate the file, it still seems to be stripping out inline styles as well? Couldn't get it working that way either.

[2018-05-23 03:06] amrmahdi opened #7268 "Bash bash commands treated as input variables in task groups"
Consider the following

```x=$(cat file.txt)```

cat file.txt is treated as an input to the task group.

[2018-05-23 03:18] AndrewCraswell commented on #3027
@brownbl1, I've just managed to use @kohlikohl's gist successfully. It's currently my workaround to this issue. I've told the file to execute after my Jest unit tests, which produces the Istanbul code coverage HTML reports.

![image](https://user-images.githubusercontent.com/1908292/40401686-6ad29cd2-5dfc-11e8-9983-98c669d47f25.png)

The results after uploading via the Publish Code Coverage Result

[2018-05-23 04:50] bishal-pdMSFT commented on #6856
@Kalaicompute sfproj build will create a text file with created image names and there is a "Update manifest" task which will update image version in manifest file. Can you please share your build logs?

@mthalman-msft / @NCarlsonMSFT can you please help us with steps for creating a hybrid application through VS?

[2018-05-23 05:38] Ajay-MS commented on #7252
@william726
Thanks for the confirmation that you are unblocked and for the reference.

[2018-05-23 05:38] #7252 closed

[2018-05-23 05:54] prawalagarwal commented on #7229
@johnqa Are you unblocked?

[2018-05-23 06:00] prawalagarwal commented on #7246
@acm74 We did not get the mail from you. It might have been filtered as spam due to the attachment size.  Is it possible to share both logs and the sample code on a share and provide us the link on devops_tools@microsoft.com

[2018-05-23 07:06] acm74 commented on #7246
@prawalagarwal I will try again later today.  Please note that the related issue with authorization has been fixed, and I was able to get a test run started.  I have had to roll back our code changes to remove the use of the VSTS REST APIs (via the Microsoft.TeamFoundation.Client NuGet package).

[2018-05-23 07:08] msathya20 commented on #7219
Hi All,

Sorry for the delay..

I have configured VsTest V2 task in my build definition. builds are succeeded, but tests are not executing in VM. I have tried command line execution by using vstest.console.exe, tests are executing perfectly in local Machine. While executing build in  VMs i am getting below  warning message.
"No test assembiles found matching the pattern:**\WinEmbedded.dll"
I have

[2018-05-23 07:58] ShreyasRmsft commented on #7219
@msathya20 can you send screen shots of your build definition showing clearly all the options in the vstest task and also the copy files tasks that copy your dlls.

After this set system.debug=true (if you haven't already) and send us the build logs zip file.

I believe its a simple matter of your dlls being in a different folder from where the vstest task is looking for it.

Your search folder in

[2018-05-23 08:43] omeshp commented on #7263
Yes, it is possible you will have to use `ms.vss-endpoint.endpoint-auth-scheme-basic` authentication scheme and use a helper method to get the value of token used for header. Below is the example:
[code]

[2018-05-23 08:51] msathya20 commented on #7219
Hi Shreyas,

I have attached build definition step by step screen shots and log files.
[VSTest.zip](https://github.com/Microsoft/vsts-tasks/files/2030241/VSTest.zip)

Can you please check and provide the solution for avoiding this issue??

Best Regards,
Sathya

[2018-05-23 09:04] maikvandergaag opened #7271 "Variables in Azure SQL Database Deployment"
## Environment

Using VSTS online: msftplayground.visualstudio.com
Project name: Visual Studio Team Services
Agent: Hosted 2017

## Issue Description
When using the task: "Azure SQL Database Deployment" we can not specify the server name and database as variables. For some reason it tries to connect to the database including the variable name:

Unable to connect to master or target server "$(sqlda

[2018-05-23 09:34] memark commented on #7170
Anyone reading this?

[2018-05-23 11:09] WaelHamze opened #7272 "Parameter name: _gitVersion - value cannot be null"
## Environment
VSTS

Agent:
On premises
Windows Server 2012 R2
Agent: 2.123.0
VS Enterprise 15.5

## Issue Description
Get Sources Task (from VSTS Git)

Sometimes when new builds are queued an error is generated during `get sources` phase
Retry normally fixes this.

The main issue is with scheduled builds, if these run overnight and nobody is around and we get this error then the builds fails.

##

[2018-05-23 11:11] ShreyasRmsft commented on #7219
Hi @msathya20

So couple of things you need to know/do.

1) With VsTest task you no longer need another test agent machine. Tests run on the same machine on which you have your build agent.

2) Remove all the copy tasks you have.

3) Change the search folder input in the vstest task to $(System.DefaultWorkingDirectory)

This should get your tests running.

[2018-05-23 11:27] vincentdass commented on #7271
@maikvandergaag , Please ensure that there is no typo in variable name. One more reason is the variable is scoped for different environment.
Can you please share the debug logs for the release? (set `system.debug` to `true` and rerun the release). You can also share the logs privately to `RM_Customer_Queries@Microsoft.com`.

[2018-05-23 11:47] RoopeshNair commented on #7267
@arunprakashwa - Chef Knife task is deprecated. The Chef and Chef Knife task will be removed. Our recommendation is to use the tasks from Chef extension available in VSTS marketplace

[2018-05-23 11:47] #7267 closed

[2018-05-23 12:11] bryanmacfarlane commented on #7272
should log this issue in the vsts-agent repo

Also, what are your source options on the definition and are there any source/git related variables set on the definition (like custom path to git etc...)

[2018-05-23 12:40] twurm opened #7273 ".Net Core Tools Installer Version Issues"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS
- Agent - Hosted

## Issue Description
When attempting to install the .Net Core 2.1-rc1 SDK following the help window information (below).

Specify exact version of .NET Core SDK or runtime to install.

Examples

[2018-05-23 13:10] pinkfloydx33 commented on #7263
@omeshp  Thank you; How/where do I define the helper method? I naively thought that it was enough to just paste the above into the vss-extension for my service endpoint (along with the missing inputDescriptors). Needless to say, it doesn't work. Inspecting the console/chrome network inspector I get the following message:

[code]

Obviously this tells me that I need to define the helper method _som

[2018-05-23 13:23] william726 opened #7274 "task.json inputs type and value based on another input"
I have two questions about developing custom VSTS task, mainly about the settings in task.json.

1. Is there any input field type which shows a string and not editable?
2. Is there a way to set a input field value based on the value of other input field?

I ask these two questions because, for instance, in a task which clones Azure SQL database, users will enter the source database name. For the n

[2018-05-23 13:40] AbinsYnoox commented on #6687
How can I get the output data from the call to my next task

[2018-05-23 13:44] omeshp commented on #7263
@pinkfloydx33 can you share your extension code? Also are you sure you didn't miss the space before #getTokenUsingBasicAuth can you try getTokenUsingBasicAuth without #.

These helpers are in-build. We currently don't have any documentation around them but we are working on it.

[2018-05-23 14:10] pinkfloydx33 commented on #7263
I tried without the `#` before the method name and I now get this message:
[code]

I've attached my vss-extension.json and my task.json (with some items redacted); Note that its currently just a dummy testing task/extension while I'm trying to work this out. [vss-extension.zip](https://github.com/Microsoft/vsts-tasks/files/2031403/vss-extension.zip)

[2018-05-23 14:19] michjuh commented on #6650
Had the exact same issue for VS build version 15.7.27703.2000
Resolved by rebooting the server

[2018-05-23 15:38] mathnogueira commented on #6567
+1

[2018-05-23 16:46] StephenMP commented on #7194
@sachinma
Running `dotnet "-h"` in a local terminal works and it works in the custom command on VSTS. It appears that enclosing options or arguments in general is okay and passes.

The issue appears to be when you enclose the entire custom command in quotes or parts of the custom command which are not indivdual parts of the command. This is likely due to the dotnet CLI treating things contained in

[2018-05-23 20:03] jashif opened #7277 "test task: support for uwp and remote machine"
Hi

We are using visual studio test agent for running out automated test and it seems you have deprecated that task. is there any timeline when we have test task on remote machine. and support for uwp.  We are using appium for our crossplatform app , it would be so grateful to have the support for remote machine and uwp apps.

[2018-05-23 22:14] mperssonPTI opened #7278 "Publish Symbols task fails to unpublish from file share when deleting a build"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises? VSTS

    - If using VSTS, provide the account name, team project name, build definition name/build number:

account: papertech.visualstudio.com
project: TotalVision
build definition name: De

[2018-05-23 22:34] #7272 closed

[2018-05-23 22:46] wli3 commented on #7255
https://github.com/Microsoft/vsts-tasks/compare/master...wli3:export-dotnet-root?expand=1

I think the above should be enough. However, I don't know how to generate VSIX(no vss-extension.json
) so I can test it on my Account.

[2018-05-23 22:51] bryanmacfarlane commented on #7255
@wli3 - you want to do toolLib.setVariable

https://github.com/Microsoft/vsts-task-lib/blob/master/node/task.ts#L120

It will set the envvar but it will also echo to agent to ensure variable is set downstream for other out of proc tasks.  That's also what the prepend line does above it - instructs the agent to alter path for future out of proc tasks

hth

[2018-05-23 22:58] bryanmacfarlane commented on #7274
I don't believe that's supported.

Another option is to make NewSqlDatabaseName required false and description says optional clone database name.  if not supplied will be (name)_clone.  At runtime, you can set to (name)_clone.  You could even query existing database names and set (name)_clone2 etc...  You would want to set that name as an output variable if you want the name it was cloned to.  Tha

[2018-05-23 22:58] wli3 commented on #7255
Thank you! I changed my branch to

[code]

However I still don't know how to test it, what is the command to build vsix? I cannot find it on the repo easily. Also what is the shipping cadence if this is merged?

[2018-05-23 23:12] bryanmacfarlane commented on #7255
@sachinma can help you test.

Details if you're interested ...

Here's how to build:

https://github.com/Microsoft/vsts-tasks/blob/master/docs/contribute.md

You can run the the task interactively :)

https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/stepbystep.md#run-the-task

You will have to set this var:
https://github.com/Microsoft/vsts-task-tool-lib/blob/master/tool.ts#L500

T

[2018-05-24 00:15] Kalaicompute commented on #6856
@bishal-pdMSFT I too see that building sfproj is creating a text file with image name, but that has the default container image tag "dev" that I have in my source code. Can I expect it to be updated with build number by this(sfproj) build task or some other build task? Please find below the logs and let me if I have some bugs in build configuration.

[logs_9866224.zip](https://github.com/Microsoft

[2018-05-24 00:18] jdanyow opened #7280 "DownloadBuildArtifacts url construction bug"
![image](https://user-images.githubusercontent.com/1306747/40457736-eb38cc24-5eac-11e8-8a2a-8b74c4293742.png)

Bug is here:
https://github.com/Microsoft/vsts-tasks/blob/1157d25599ca492ae63c5ac4e9ecf435dc3494de/Tasks/DownloadBuildArtifactsV0/main.ts#L236

Could use `url.resolve(...)` or `path.posix.join(...)` possibly

[2018-05-24 01:03] bryanmacfarlane commented on #7280
path.join should also work

[2018-05-24 02:06] Nekobravo commented on #7246
![image](https://user-images.githubusercontent.com/23462665/40460574-718b6caa-5ed5-11e8-8262-a942ca10c6bc.png)
![image](https://user-images.githubusercontent.com/23462665/40460604-91717e06-5ed5-11e8-9e2e-d562b13cf69f.png)
Help!!!

[2018-05-24 02:08] Nekobravo commented on #7229
![image](https://user-images.githubusercontent.com/23462665/40460646-c257e8f2-5ed5-11e8-96ef-46386945dc04.png)
 Help!!

[2018-05-24 02:11] bryanmacfarlane commented on #7274
since not an issue with tasks in this repo, if the suggestion above is not sufficient, please log an issue in the vsts-task-lib repo

[2018-05-24 02:11] #7274 closed

[2018-05-24 02:35] Nekobravo commented on #1268
help´
![image](https://user-images.githubusercontent.com/23462665/40461482-97beb568-5ed9-11e8-8ff3-364513ba344e.png)

[2018-05-24 04:10] omeshp commented on #7280
@jdanyow Is this affecting download, we sanitize urls before downloading.

[2018-05-24 05:05] omeshp commented on #7263
@pinkfloydx33 Are you trying your extension in VSTS or is it for onprem?

[2018-05-24 05:29] prawalagarwal commented on #7229
@Nekobravo this is a separate issue. Please reach out to us at devops_tools@microsoft.com with your run logs with system.debug set true in build variables.

[2018-05-24 05:34] NCarlsonMSFT commented on #6856
@Kalaicompute The Update Manifests task is supposed to update your image name with the digest of your built image. However it appears to have a bug with the recently introduced dev tag. I'll try and take a look tomorrow at fixing the logic.

One workaround for unblocking your CI/CD would be to remove the dev tag. But that unfortunately would break local debugging as Service Fabric does not allow f

[2018-05-24 05:35] ShreyasRmsft commented on #7219
@msathya20 okay here are the steps:

Your build definition will simply build the dlls and then upload them as artifacts. (you can use the default template for building .NET apps it already has the build and upload artifact steps)

You can remove the vstest task from the build definition

Setup vsts-build agents on the VMs you want to run the tests on.

Create a new Release definition that download

[2018-05-24 05:37] ShreyasRmsft commented on #7219
@msathya20 can we have a quick call? Send a mail to devops_tools@microsoft.com with you skype id and I'll reply with a convenient time to have the call. We can resolve this speedily.

[2018-05-24 05:39] ShreyasRmsft commented on #7277
@jashif can you please provide more details as to whether you are an on-prem user or a vsts user. Please provide screenshots of you definition so we can understand and help with a solution.

[2018-05-24 05:44] prawalagarwal commented on #7153
Closing this issue. Please reopen if you have more information. You can also reach out to us at devops_tools@microsoft.com

[2018-05-24 05:44] #7153 closed

[2018-05-24 05:54] prawalagarwal commented on #7265
@ggenetec  Thanks for reaching out. Two points:
1) Currently we do not support UNC paths for "Search Folder" input. The error you see comes up because the filter on task fails to process a UNC path correctly. Please use a File copy task before VsTest task to copy the files to a local agent location and then use that path in your task.

2) To utilize the multi-agent scenario in VsTest task, please

[2018-05-24 06:14] msathya20 commented on #7219
Hi Shreyas,

I sent mail to specified mail address,,but it seems mail was not delivered. Please find the Skype Id below and let us know your free time for a discussion.
ID- msathya20@gmail.com

Regards,
Sathya.M

[2018-05-24 06:56] prawalagarwal commented on #7246
@Nekobravo As I mentioned on the other thread, please create a separate issue or reach out to us at devops_tools@microsoft.com

[2018-05-24 07:03] prawalagarwal commented on #7246
@acm74 Please let us know if you are unblocked. Also it will help if you could mention the steps which helped you unblock.

[2018-05-24 07:06] jashif commented on #7277
Hi
Am a on premise user. Right now the solution I added is I created a agent which runs as a interactive mode.

Then I created a release definition which has test task to run the ui test.. if the below setup is fine ?

[cid:image002.png@01D3F33E.79C0B270]

This definition will run on a dedicated test agent server. I hope this way is correct ?. also i want to connect to test from test plan .

For t

[2018-05-24 09:12] JoshPearce91 opened #7283 "Cannot run multi-configuration build with Test Plan in VSTS"
Hi,

We have a build setup to run against multi-configurations, and a Visual Studio Test task where the tests are selected using a Test Plan. The build is expected to run for each configuration defined, where the tests are executed every run.

![image](https://user-images.githubusercontent.com/39563571/40474149-26afe9e8-5f36-11e8-879f-bd3925a846bc.png)

![image](https://user-images.githubuserconte

[2018-05-24 10:28] acm74 commented on #7246
@prawalagarwal we are currently still experiencing issues with unavailability of VSTS.  We are seeing HTTP requests timing out, service unavailable errors, and service unavailable for anonymous authentication errors.

[2018-05-24 11:57] GitHubSriramB commented on #6752
This issue is getting addressed with this PR:
https://github.com/Microsoft/vsts-tasks/pull/6855

[2018-05-24 11:58] GitHubSriramB commented on #6752
We have already added support for choosing latest build from a different build definition.

[2018-05-24 12:16] GitHubSriramB commented on #7210
@AlexHimself - you could use ##vso[task.uploadfile] command to upload your MD file into the release.

Pl. refer to the command documentation here:
https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md

You could then create your dashboard widget that could retrieve the MD file from release and render it. We will be updating RM client here in a week:
https://github.com/Micr

[2018-05-24 12:17] GitHubSriramB commented on #7210
@AlexHimself - in case you want to display the content of the MD file in release summary page, you can use the following command:
##vso[task.uploadsummary]

[2018-05-24 12:17] acm74 commented on #7246
@prawalagarwal we have a work-around for the issue with the test adaptor throwing an exception.  We can get tests running now (when VSTS authentication and authorization is working).

In the longer term we would like to start using the VSTS REST APIs, so any insight or help you can provide would be appreciated.  I am still trying to find out just how the dependencies to VS2015 were installed on ou

[2018-05-24 12:48] MarkDordoy opened #7287 "Deploying to a Web app slot should have option to clear slot files"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
VSTS - ClarksonsCloud
Agent - 2017Hosted - windows

## Issue Description
When using the published VSTS "Azure App Service Deploy" Task, there is currently no option to delete/clean the deployment slot before deploying. This cau

[2018-05-24 13:34] william726 commented on #7274
Hi @bryanmacfarlane, you mentioned "You would want to set that name as an output variable if you want the name it was cloned to. That output could be mapped to an input of another task downstream."

Do you have an example how to set the name as output variable? Should it be done in task.json or ts/ps1 file? If you can point me to an example task it would be awesome.

[2018-05-24 13:42] heavenwing opened #7288 "Deploy Service Fabric Application always failed, but VS publish is working"
## Environment
- TFS on-premises VS 2018 Update 1
- Private Agent : Windows 2016/VS 2017 Community 15.7.1/Service Fabric SDK 3.1.274
## Issue Description
Deploy Service Fabric Application always failed because of HealthCheck,
but if I publish same package (same source , same configuration) to SF Cluster directly with Visual Studio, it is working.

### Error logs
···
2018-05-24T10:12:54.1488574Z ##

[2018-05-24 14:47] vincentdass commented on #7287
@MarkDordoy ,  Please enable `Publish using Web deploy` & `Remove additional files at destination`
option under `Additonal Deployment options` group

![image](https://user-images.githubusercontent.com/20121508/40493002-6dfc37e4-5f8f-11e8-9c6d-58c53dd37232.png)

[2018-05-24 15:07] omeshp commented on #7263
@pinkfloydx33 Yeah that is right, this handler was added recently.
@jikuma Is the handler available for Update 2?

[2018-05-24 15:12] acm74 commented on #7246
@prawalagarwal I will see what I can do.  Our codebase is not so easy to work with, and unfortunately I don't have the time to try and put together a proof of concept.

In the meantime, I am still seeing issues with VSTS itself.  All my attempts today to configure new interactive test agents are failing with "TF400813: resource not available for anonymous access".

[2018-05-24 18:29] #5760 closed

[2018-05-24 18:37] thiezn opened #7291 "task.json - "dataSourceName" options not documented - How to retrieve AzureRM subnets"
We are trying to build a VSTS task and utilise DataSourceBindings to present a list of available vnets and contained subnets to the user. I came across issue https://github.com/Microsoft/vsts-tasks/issues/2414 that provided some guidance on how to use DataSourceBindings. As indicated the referred issue, there is currently no documentation available on how to handle this.

We managed to get the lis

[2018-05-24 20:01] thiezn commented on #7291
Managed to get this working after the article https://blogs.msdn.microsoft.com/sriramb/2016/09/15/service-endpoints-data-sources/ helped me on my way.

[code]

[2018-05-24 20:01] #7291 closed

[2018-05-24 20:11] TheTeraByte opened #7293 "Feature request: Associate output variables with "Command Line" (CmdLineV2) task"
## Environment
- Server - VSTS
- Agent - Hosted
    - If using Hosted agent, provide agent queue name: Hosted Linux Preview

## Issue Description

I want to use the "Command Line" task to output the contents of my version file into [an output variable](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/outputvariable.md), which I can then use in a downstream task.

However, it seems

[2018-05-24 20:33] #7293 closed

[2018-05-24 20:55] TheTeraByte commented on #7293
Thanks for the tip, @ericsciple. However, it seems that command substitution doesn't work in the "Command Line" task. So the value of the variable is set to `$(cat myfile.txt)` instead of the contents of `myfile.txt`. Do you know of any workaround for that?

[2018-05-24 21:27] TheTeraByte commented on #7293
I ended up using the "Shell Script" task in conjunction with the `##vso` command to get this to work. I still think that the output variable feature in the "Command Line" task would be simpler and less error prone.

[2018-05-24 22:56] kjkc-gar opened #7295 "'Invalid Resource' when downloading a Secure File"
## Environment
- Server - TFS 2018 R2
- Agent - Windows Server 2016 (v2.131.0)

## Issue Description

I get 'invalid resource' anytime I attempt to download a Secure File in either a build or release workflow. I've attempted to delete the resource and recreate it, but I'm still unable to download it.

### Error logs

[2018-05-25 00:04] ericsciple commented on #7293
The command line v2 task runs your inline script using bash when running on Linux/macOS, so command substitution should be working. Based on the initial screenshot I assumed you were using Linux/macOS. Is that a correct assumption? Did you use single quotes instead of double quotes?

[2018-05-25 03:49] Prashanth-PS opened #7297 "Download secure file task fail on Private Agent"
## Environment
- Server - VSTS
account name: Unisysapacinternal
team project name: Internal
release definition name/build number: New Release Definition / Release-13

- Agent - Private:
OS Windows 2012 R2

## Issue Description
]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
Download secure file task fail and does not download Certificate from the VSTS Library on a Private agent.
]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]

[2018-05-25 04:12] Davis10733 opened #7298 "Can not pull docker image from Docker Hub"
## Environment
VSTS - Linux Hosted Agent

## Issue Description
I try to create Redis container during CI process, but it fails and show up `Failed which: Not found docker: null`. It used to work, is anything change in the latest deployment ?

vsts.ci.yml
[code]
### Error logs

2018-05-25T03:42:08.6993925Z ##[debug]loaded 24
2018-05-25T03:42:08.7040514Z ##[debug]check path : /_work/_tasks/Docker_e2

[2018-05-25 04:55] ShreyasRmsft commented on #7219
Had a call and was able to get the test running.

[2018-05-25 05:22] hiyadav commented on #7025
Closing issue, you can reopen if still facing this.

[2018-05-25 05:22] #7025 closed

[2018-05-25 07:32] acesiddhu commented on #7246
@acm74 ensure that the PAT token you are using is still valid. you will generally see this error when PAT token has expired

[2018-05-25 08:12] AndrewCraswell commented on #7083
The hosted agents are running npm 5.6, so even when npm creates the alias, we're still limited by whatever version of npm is on the agent.

[2018-05-25 08:47] CorneliusJack opened #7299 "Test cases are skipped after 30minutes of running our coded UI test plan"
## Environment
- Server TFS on-premises:
   Team Foundation Server 2018
   Version 16.122.27102.1 (Tfs2018)
- Agent Private:
   Version 2.122.1
   OS Windows 7 Enterprise Service Pack 1

## Issue Description
We have a global orderedtest file which calls other orderedtest files (which call different test methods). The test cases run correctly when we start a release but after 30 minutes of running

[2018-05-25 12:42] simonua commented on #7083
@AndrewCraswell, I see. I think there's still benefit in deferring the responsibility as to whether `npm install` or `npm ci` is executed to us users since Microsoft's default of `npm install` would remain. Would you agree?

[2018-05-25 13:02] CorneliusJack commented on #7299
For more informations, I tried to setup the release to run each orderedtest files one by one and the final result is the same: the test cases are skipped in each tests suite after 30 minutes of running.

![orderedtest_file_onebyone_screenshot](https://user-images.githubusercontent.com/28890841/40545587-abe9117e-602c-11e8-9c02-110718d300d3.jpg)

[2018-05-25 15:15] Solution143 opened #7301 "##[warning]No test result files matching C:\agent3\_work\23\s\**\TEST-*.xml were found, so publishing JUnit test results is being skipped."
I am trying to use TFS 2018 for CI process while using Maven project! Somehow, it's skipping Junit test and the build is passing without the execution of the Junit test. Can somone please help me out with that?

[2018-05-25 15:18] Solution143 commented on #3440
Can someone please share the documentation on that?

[2018-05-25 16:09] DalSoft commented on #1268
The new .NET Core VSTS tasks for dotnet test allow you to publish as part of the one step.

If you can't use them go with @chrisrpatterson suggestion Publish Test Results task as Always Run, then add the following command line task to fail the build:

[code]

[2018-05-25 16:48] Dev13u28 opened #7302 "Add data source to Azure RM endpoint"
Can we add datasource to the existing Data Sources defined by Azure RM Service EndPoint :
{VisualStudioaccount}/defaultcollection/_apis/distributedtask/serviceendpointtypes?type=AzureRM ?

Or Can we define variables in Task.json ? My requirement is to get azure location of a rsg and get corresponding VMSizes available in the location without creating a new input of selecting Azure Location. Rest A

[2018-05-25 19:28] zhili1208 opened #7304 "VSTS nuget task. Unable to set 'externalFeedCredentials' for multiple feeds"
From @Roraa
## Details about Problem

NuGet product used: VSTS build task 'NuGet' (YML build)
NuGet version: 4.4.1

**Nuget task configuration**
[code]

### Issue
When creating a (normal) VSTS build and adding a nuget task, with the restore command selected, we get an option ```Credentials for feeds outside this account/collection``` which allows us to set multiple feed credentials.

When using th

[2018-05-25 21:16] wli3 commented on #7255
Thanks! I managed to upload with `tfx build tasks upload --task-path .` and tested on my Account. I am sending pull request

[2018-05-27 08:12] bishal-pdMSFT opened #7307 "[Service fabric deploy] Skip same application type and version should happen before Test-ServiceFabricApplicationPackage"
Mail thread for this issue:

Doug,

I checked the two artifacts and don't see any difference. Hence diff logic is working fine.
However, SF still reports that code has changed. This must be happening as you have enabled compression for deployment. You can disable compression and this error should go away.

Note: You have also enabled "Skip upgrade for same app type and version" and this should hav

[2018-05-27 09:26] amrfarid140 opened #7308 "NPM failing to install packages"
## Environment
- Server - VSTS or TFS on-premises?

Using VSTS :
  - Account Name : able-android
  - Team Project Name: AblePortalFunctions
  - Definition name: Node.CI-No-Pack
  - Build Number: 461

- Agent - Hosted or Private:
    Hosted

## Issue Description

NPM started failing to download npm packages.

Note that no changes has been done to the packages.json file. It suddenly started failing

[2018-05-28 06:32] Roraa commented on #7304
Update; it seems that a CSV string with GUIDs do work. Follow the following steps to get this string:

1. Create a normal build (non yml)
1. Configure nuget restore with the credentials as you would in your yml build
1. Export the build defenition to JSON
1. Copy the value of 'externalEndpoints' (this is an alias of 'externalFeedCredentials')
1. Use the copied value in your yml build

[2018-05-28 08:03] haohighview commented on #6745
thanks, but can't resolve the issue.
I can build android project locally and AppCenter.

[2018-05-28 08:38] GitHubSriramB commented on #7302
@MireilleHanna - Azure RM service endpoint is part of an internal extension & so would not be possible for customers to add data sources to it.

However customers can create data source bindings where the URL can be specified inline without having to refer to a data source. Here is a task that defines the URL inline:
https://github.com/Microsoft/vsts-tasks/blob/dabc382bcc98750676c3f1a79c17f39c7fe4

[2018-05-28 10:32] prawalagarwal commented on #7265
@ggenetec  Are you unblocked?

[2018-05-28 10:42] prawalagarwal commented on #7229
@johnqa closing this. Please reopen if the issue is not resolved.

[2018-05-28 10:42] #7229 closed

[2018-05-28 10:44] nigurr commented on #7118
@Rutix
Sorry for delay.
Can you please share the VsTest task configuration screenshot and the list of dlls present after the source code is built from Build/Release agent machine?

This can occur when we keep default Test Assembly path in VsTest v2 ("**\*test*.dll") and some framework adapter dlls present in the test assembly folder which are matching the search pattern.

[2018-05-28 10:45] prawalagarwal commented on #7219
Closing this thread. Please reopen if you are still facing issues.

[2018-05-28 10:45] #7219 closed

[2018-05-28 10:48] serg-s opened #7310 "XML Transformation wasn't applied for Azure App Service deploy"
I have the following structure of configs:
Web.config, Web.Debug.config, Web.Dev.config, Web.Production.config, Web.Staging.config.

Each of environment configuration has connection string params like this:
`<add name="DefaultConnection" connectionString="..." xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>`

I have followed by this tutorial (https://docs.microsoft.com/en-us/vsts/build-r

[2018-05-28 11:38] Rutix commented on #7118
@nigurr
Here is the screenshot of the task. Couldn't fit it fully on it so if you need a part which is not on it let me know.
The screenshots I made of the build server are the ones of the bin folder of the library and webapi. If you want to have the dll list of the bin folder of the test projects please let me know.
![screenshot-test-task](https://user-images.githubusercontent.com/241452/40612821

[2018-05-28 11:54] nigurr commented on #7118
@Rutix can you strengthen the Test assembly pattern

`**\release\*test*.dll`

This filter makes sure that we are picking only test assemblies specific to your built assemblies.
If you have any common namespace in assemblies, you can use similar pattern
`**\release\*Werkgever*.dll`

[2018-05-28 12:01] ggenetec commented on #7265
I changed the path a simple name of a dll in "test assemblies" but it is still not working :(
"folder' does not contain any assemblies that match the specified criteria: 'Genetec.Media.Tests.dll'.
I checked <folder> and the dll is there. I tried with 'Genetec.Media.Tests*.dll' still same error

[2018-05-28 12:04] prawalagarwal commented on #7265
Did you change your input to "Search Folder" field? As I mentioned earlier, UNC paths are not supported in that field.

[2018-05-28 12:40] bryanmacfarlane commented on #7308
npm registry service was down for maintenance.  is it still persisting?

[2018-05-28 14:44] vincentdass commented on #7310
@serg-s , Can u share the debug logs for the release? (set variable `system.debug` to `true` and re-run the release)

[2018-05-28 18:42] Brain2000 commented on #3540
A year later and it still reports "Not found ant: null".
Thanks for having this thread available, I was able to easily fix the issue.

[2018-05-28 21:24] pumaloso opened #7312 "How to generate a .pem/.pfx and .key files from Azure Key Vault certificate in Linux"
## Troubleshooting
What would be the equivalent process to generate PEM/PFX and key files from Azure Key Vault in Linux? I know you can do this in Powershell, but I'm using a Linux hosted agent.

Thanks in advance.

[2018-05-29 02:44] zilinc opened #7313 "Shell commands utility doesn't work for Windows endpoint"
I try to use the "run shell command" utility to a Windows server, which has `cygwin` and `openssh` in place. It seems that only the first command can run, and all the rest return 255. E.g.
[code]

If I manually run `ssh` to that Windows machine, it shows no issues. I also try to run the same on other linux end-points and they work well.

Looking at the code:
https://github.com/Microsoft/vsts-tasks

[2018-05-29 05:04] patnolan commented on #7211
+1
I'm getting the error aswell

[2018-05-29 05:27] ds-ms commented on #6896
@irajbalakrish are you still facing this issue?

[2018-05-29 06:03] bishal-pdMSFT commented on #7288
The reason task is failing is that status of upgrade is RollingBackCompleted. Have you checked upgrade status code when upgrading through VS?

[2018-05-29 07:07] prawalagarwal commented on #7283
Hi @JoshPearce91,

Thanks for reporting the issue! Please provide your TFS version if you are on premise user. Also please send your run logs to devops_tools@microsoft.com

I could not reproduce the issue on VSTS and TFS 2018.

[2018-05-29 07:07] irajbalakrish commented on #6896
**The situation is fixed** The outcome of the investigation is mentioned by Ajay in the prev thread

[2018-05-29 07:09] ds-ms commented on #6896
Closing the issue then.

[2018-05-29 07:09] #6896 closed

[2018-05-29 07:16] Rutix commented on #7118
@nigurr I strengthened the Test assembly pattern but that didn't solve the problem. It still gives wrong readings. For some reason it still finds .pdbs outside the agent/_work/<id> folder of that build definition. I assume when determing the code coverage it looks for .pdbs for all referenced .dlls and for some reason the search is going outside it's own agent/_work/<id> folder.

[2018-05-29 07:45] sureshtadisetty commented on #6717
@AmudhaPalani fix has been deployed. Please let us know if you still see it.

Thanks,
Suresh.

[2018-05-29 07:45] #6717 closed

[2018-05-29 07:48] CorneliusJack commented on #7299
Hi @prawalagarwal and thank you for your answer. Sadly I already put this option to True on all my orderedtest files (checked on UI in VS and in the XML version too for each orderedtest files).

Futhermore I have an exemple in which we can see several tests failed but the run did not stop (except after 30 minutes of running again...) :

[tasklog_6(1).log](https://github.com/Microsoft/vsts-tasks/fi

[2018-05-29 08:56] acm74 commented on #7246
@acesiddhu sorry about the delay in replying - I've had to work on other issues in the past couple of days.  The PAT is still valid. I updated the agent version being used (from 2.129.0 to 2.133.3), and this seems to have fixed the problem.

[2018-05-29 09:07] mayankbansal018 commented on #7118
@Rutix can you please use runsettings to configure what modules you want coverage for.
Please follow https://msdn.microsoft.com/en-us/library/jj159530.aspx
Under the "ModulePaths" "Include" you can specify for what modules you are looking coverage info.

[2018-05-29 09:45] prawalagarwal commented on #7299
@CorneliusJack Ordered tests are run through legacy adapter which enforces a timeout of 30 minutes per test (which is modifiable through a TestSettings file). You can use a TestSettings file to specify test case level timeout. If you don't want to switch to TestSettings file, you can embed a test settings file in run settings. Read [here](https://msdn.microsoft.com/en-us/library/jj635153.aspx).

I

[2018-05-29 10:03] Rutix commented on #7118
@mayankbansal018 : I know of that option but that option is undesirable since it introduces another error prone option. In my opinion the default shouldn't look outside it's folder when searching for PDBs. Especially when Visual Studio does this right and thirdparty tools like SonarQube also do it right. Only the report in TFS is wrong.

[2018-05-29 10:20] vincentdass commented on #7158
@shaneholder , Currently, we don't recommend packages contain only WebJobs.
Your package should contain Web App content & WebJobs content together.
Other way is to generate the package as folder and deploy the same to `wwwroot\app_data\jobs\continuous`

[2018-05-29 10:20] #7158 closed

[2018-05-29 10:30] nigurr commented on #7118
@Rutix one suggestion is don't publish your pdbs along with dll or publish them as separate package so that you can keep track of them. this should fix the issue. AFAIK, this is the only solution which we can suggest now

[2018-05-29 10:49] bergmeister commented on #7304
@Roraa The externalFeedCredentials value is not exported in the `View YAML` button, which is not very helpful
![image](https://user-images.githubusercontent.com/9250262/40654441-48c44e9e-6336-11e8-97e5-5b12399770a3.png)

[2018-05-29 10:54] Rutix commented on #7118
Hi @nigurr . But we aren't publishing the pdb's along with the dll in that build definition.

It's like this:
**BuildDefinition 1** -> builds on the build server and ends up in: /_work/**1**/*
**BuildDefinition 2** -> builds on the build server and ends up in: /_work/**2**/*

Both build definitions only generate pdbs for their own project.

If **BuildDefinition 2** references dll's which were buil

[2018-05-29 11:06] Roraa commented on #7304
@bergmeister correct, I had to export the build definition to json to retrieve the correct value

[2018-05-29 11:36] prawalagarwal commented on #7246
Thanks for updating us. Closing this issue.

[2018-05-29 11:36] #7246 closed

[2018-05-29 11:52] bergmeister commented on #7304
@Roraa Thanks for the tip. :-)

[2018-05-29 11:57] bergmeister opened #7315 "View YAML of NuGetCommand@2 task does not show value for exportFeedCredentials"
## Environment
- Server - VSTS or TFS on-premises?

VSTS - account: `rcss-02-willistowerswatson`

- Agent - Hosted or Private:

NA

## Issue Description

The `Restore Nuget` task v2 `NuGetCommand@2` does not export the `exportFeedCredentials` field entry when clicking on `View YAML`
![image](https://user-images.githubusercontent.com/9250262/40657378-8f31c47a-633f-11e8-8a79-ef9585852514.png)

As a

[2018-05-29 13:52] madhurig commented on #6745
@haohighview : Do you have the logs from AppCenter?

[2018-05-29 14:10] ggenetec commented on #7265
changing to Agent.ROOTDIRECTORY solved the problem. Thanks

[2018-05-29 15:09] rokmicrosoft commented on #7178
This is fixed and will be available on next release. Closing this thread .

[2018-05-29 15:09] #7178 closed

[2018-05-29 15:37] kelliejos commented on #7295
@kjkc-gar  Thanks for reporting this.  Are you still experiencing this issue? We had a partial server outage during the same timeframe that might have been responsible for the error.

[2018-05-29 18:36] paulgdunn opened #7316 "npm login _authToken configuration support missing in npm endpoint when npm registry and collection are on the same domain"
## Environment
- Server - TFS on-premises - TFS 2018 U2 and TFS 2017 U3

- Agent - Private:
    - Windows Server 2012 R2

## Issue Description

1) the password field cannot support longer length'ed  passwords in order to support _authToken (npm login)

2) npm login / _authToken not supported

npm build task and npm endpoint does not support _authToken configuration.  For example, using the command

[2018-05-29 20:41] kelliejos commented on #7295
@kjkc-gar , my apologies, I missed seeing that this was TFS at the top of your post.  The outage should not have affected you.  Are you using a proxy? This type of error can occur due to proxy configuration. If you are using a proxy, can you try whitelisting this site: https://<myteamservicesaccount>.visualstudio.com. Thanks.

[2018-05-29 21:01] yaffa7 opened #7317 "Run Functional Test on Test Agent not picking up Nunit tests"
## Environment
- Server - Visual Studio Team Services 2015 on premise
- Agent - Private - Visual Studio Test controller + agent 2013

## Issue Description

I am trying to run Nunit tests on a test agent using the Run Functional tests task on the VSTS release configuration. I am building the artifacts on a build process that is working fine.

My release configuration is :
1) Windows Machine copy [B

[2018-05-29 21:02] yaffa7 commented on #7317
@nigurr @kaadhina

[2018-05-29 21:38] compuguru opened #7318 "VSTest Task doesn't stop after test session times out"
## Environment
- Server - VSTS
  - Account Name - PBIX
  - Team Project Name - PowerBIClients
  - Build Definition Name/Build number - Desktop E2E Tests v2 (Custom) / desktop_e2e_v2_custom_20180529.3

- Agent - Private
  - Version - 2.133.3
  - OS - Windows Server 2012 R2

## Issue Description

We have some UI tests that run on a machine. The agent is setup to run interactively. The build definiti

[2018-05-29 22:01] flyboarder commented on #6872
Bump! This seems to be a supported feature for Linux however it does not function.

[2018-05-29 22:29] shaneholder commented on #7158
That may be, but it still should not deploy assets into that folder. The
problem is that I'd you are using an ioc that scans for assemblies it may
pick up something it should not.  That being said, as someone pointed out
it *might* be more of an msdeploy packaging issue, I just have not looked
into that yet.

On Tue, May 29, 2018, 5:20 AM Vincent A (vinca) <notifications@github.com>
wrote:

[2018-05-30 01:40] haohighview commented on #6745
@madhurig
AppCenter's logs
https://highviewsoftware.sharepoint.com/:u:/g/EYXK1zD8JTpDhL6hN6jX-nABkzlcqrIYHfe816BhfbvZtQ

[2018-05-30 05:42] prawalagarwal commented on #7265
Thanks for reporting back.

[2018-05-30 05:42] #7265 closed

[2018-05-30 05:47] weznagwama commented on #6176
@sachinma how would you then use this variable in subsequent steps?

[2018-05-30 06:06] prawalagarwal commented on #7318
@compuguru Thanks for reporting. Can you share the logs of this run at devops_tools@microsoft.com?

[2018-05-30 06:13] PradeepKumarMunirathinam commented on #6895
Hi ,

I am using Azure File copy task in VSTS to copy a folder from local git into Azure blob storage.
The above task is working fine in Build.
When try the same in Release, The task fails with the below error
 **failed with error: '' For more info please refer to https://aka.ms/azurefilecopyreadme**

I tried the Release with HOSTED Agent and Local Agent. And both throws the same error .

Local Ag

[2018-05-30 06:39] rajatagrawal-dev commented on #6895
@PradeepKumarMunirathinam Can you please open a new issue with the details. This issue is related to TLS protocol issue and is now closed. New issue will help get the right traction.

Please also include the debug logs when you create the new issue. You can get the debug logs by adding a variable _system.debug_ in your release definition and setting its value to _true_. You can send the logs to RM

[2018-05-30 06:42] sachinma commented on #6176
Any variable set with ##vso[task.setvariable ..] will be available to next set of tasks same as any other build/release variable.

[2018-05-30 06:48] prawalagarwal commented on #7317
@yaffa7
You mentioned your agent as Private - Visual Studio Test controller + agent 2013, but RFT does not support Agent2013. But this is contradicted by
Test Agent Location: C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\QTAgentService.exe
which seems to be pointing to the correct location (ie VS 2015).

Also, please note that we require adapters to be present in the "packages" f

[2018-05-30 07:40] RoopeshNair commented on #6176
secret variables have to be explicitly passed as an argument to the next step.

[2018-05-30 08:06] vincentdass commented on #7310
@serg-s ,thanks for the info.
Can you please share your `web.config` and `web.staging.config` to `RM_CUSTOMER_QUERIES@MICROSOFT.COM` to debug further?

[2018-05-30 10:33] vincentdass commented on #6682
Added message to guide user to set variable to bypass SSL error and also recommended to use valid certificates.

[2018-05-30 10:33] #6682 closed

[2018-05-30 12:27] serg-s commented on #7310
@vincentdass I'm receiving an error message that my email couldn't be delivered, so I'll `web.config` here.
I've removed sensitive data there.
[configs.zip](https://github.com/Microsoft/vsts-tasks/files/2053843/configs.zip)

[2018-05-30 13:13] omeshp commented on #7238
@SandipKumarKundu Did the steps mentioned in above issue help?

[2018-05-30 13:17] onovotny commented on #7255
@wli3 @bryanmacfarlane Any idea how long it'll take this task to get pushed out to the instances and available on the agents?

I'm seeing this now

[code]

[2018-05-30 13:26] poveilleux opened #7326 "[Enable Continuous Monitoring] Add the capability to use a different Azure subscription for the App Insights resource"
Hi,

When I was looking to enable Continuous Monitoring on my App Services, I noticed the Application Insights resource has to be in the same Azure subscription than the App Service resource. I have a scenario where those 2 resources (Application Insights and App Service) are in two separate Azure subscriptions. Would it be possible to add a "Application Insights Azure subscription" parameter to t

[2018-05-30 13:49] davidobrien1985 opened #7327 "Kubernetes task output"
Hi,

I'm running a `kubectl` task with a `get` and want to set the output of this to a variable that I then want to check out in a following PowerShell step.
However, it looks like the output variable doesn't get set.
@Anumita is this not implemented in version 0?

In the k8s task I set the `Output variables` section to `Reference Name: status` and in the next task, a PowerShell task, I am running

[2018-05-30 13:50] madhurig commented on #6745
@haohighview: Thanks for sharing the logs. AppCenter is running the build on the "Hosted macOS preview" VMs, so the issue that is happening on the "Hosted VS2017 VMs" in VSTS does not repro there.

I see several posts on this from Xamarin customers and a couple of frequent suggestions:
1. delete packages folder (if it is committed to the repo, you can try running a script before running the build)

[2018-05-30 14:55] OnlyHicki opened #7330 "VSTS - Service Fabric Deployment Upgrade Timeout"
We're working with VSTS using Hosted VS2017 - Following Microsoft documentation for the Upgrade Settings for the Service Fabric Application Deployment task, we have stumbled upon the issue of a timeout during the registration of the application (See screenshot).

![image](https://user-images.githubusercontent.com/28600686/40728016-1994fd4e-6421-11e8-80d8-fd9b9540a4d0.png)

The task Upgrade Setting

[2018-05-30 17:52] ColinDabritzViewpoint commented on #6790
This issue is affecting our builds, although we easily work around it by specifying the destination directory in the restore step as `$(Build.SourcesDirectory)/packages`

The lack of clear documentation around the "$" root of Nuget.config location syntax made it a little more complicated to track down.

Our project has multiple solutions one folder deep, all using the same nuget.config file at the

[2018-05-30 17:56] wli3 commented on #7255
@onovotny could you also include the text after "The following versions are installed:" ?

I think this should be a different issue. The runtime you packed with is different than the runtime available on the build agent. And because preview runtime won't move forward you need to make sure the build agent version is higher than the version you pack your tool with. However, release version of 2.1.30

[2018-05-30 18:26] yaffa7 commented on #7317
Hi, thanks for the update. After some research it seems like even though the folder is Visual Studio 2015, the installer available for download came with the test agent and the test controller of 2013. Link  https://docs.microsoft.com/en-us/visualstudio/test/lab-management/install-configure-test-agents

![image](https://user-images.githubusercontent.com/9054709/40739756-de60d63c-63fb-11e8-9075-b0d

[2018-05-30 18:34] onovotny commented on #7255
@wli3 It was packed and run on the same framework -- I built it in a previous step and am installing it from a local path to execute.

Full build is here and you can see the failing step.
https://orennovotny.visualstudio.com/GitBuilds/_build/index?buildId=696&_a=summary

It's not finding the final 2.1 framework:

[code]

[2018-05-30 18:41] wli3 commented on #7255
@onovotny i see the problem. VSTS task has not been deployed yet. The version should be "0.1.8". It is still 0.1.7 from the log. Meanwhile, there is some SDK built in agent in under directory `C:\Program Files\dotnet`. Since apphost will search `C:\Program Files\dotnet` when DOTNET_ROOT is not set. So it only finds the following old SDKs. We still need to wait for deployment of the VSTS task.

[co

[2018-05-30 18:43] onovotny commented on #7255
Right...any idea when that's going to be @bryanmacfarlane?

[2018-05-30 19:02] bryanmacfarlane commented on #7255
It won't be for a few weeks unless it's patched.

Re-opening.  @sachinma team owns it so they can patch prod.

[2018-05-30 19:04] yaffa7 commented on #7317
Tried to run functional tests with the folder configuration you suggested of putting the packages folder in the same folder as the test dll.

![image](https://user-images.githubusercontent.com/9054709/40741848-752b821a-6401-11e8-92ee-070cc3b1e390.png)

But im still getting the same error as above in the RFT task

[2018-05-30 19:32] onovotny commented on #7255
This is critical....

[2018-05-30 20:47] JeffRausch opened #7333 "VSTS Release - Phase with partially succeeded install to deployment group Succeeds overall"
## Environment
VSTS - ReleaseId 242
Private Agent - Windows server 2016

## Issue Description
We have a release Phase that's installing to a deployment group with two machines.  It succeeded on one but failed on the other.  The issue is that the phase was marked as "Partially Succeeded" and the install carried on like the phase succeeded.  We need to mark the release as failed if any phase is not

[2018-05-30 22:37] keithrob commented on #7315
Duplicate of #7304

[2018-05-30 22:37] #7315 closed

[2018-05-30 22:43] keithrob commented on #7170
@memark,
Yes. We intentionally did not allow custom fields with the canned commands (e.g. restore) to prevent folks from creating contradictory options.  We only support a limited set of options through check boxes.

These two options seem fairly innocuous and are something we will consider adding to pack.

[2018-05-31 03:00] ericsciple commented on #7304
Thanks for letting us know! This is a bug on the server (not this repo) and would repro for any task with comma separated endpoints. I'm going to close the issue here. We are tracking the issue internally (internal work item 1272614)

[2018-05-31 03:03] ericsciple commented on #7304
Note, you should also be able to set the friendly names in YAML (comma separated).

[2018-05-31 03:04] ericsciple commented on #7304
Nevermind, leaving this open here for now

[2018-05-31 06:29] nigurr commented on #7317
@yaffa7 Can you please create an empty solution (.sln) file and place it in `\bin\DEV\` folder and `\bin\DEV\packages\` folder?
Sorry for the trouble. These issues are fixed in later versions of TFS 2017 Update 3.

[2018-05-31 06:54] gencebay commented on #7273
When .NET Core SDK 2.1.0 RTM version will be available on VSTS hosted machine.

[2018-05-31 08:16] henkin67 commented on #6040
Hello,

I got exactly the same problem with the Built-in npm task of TFS 2018 On premise.
But this 3mins delay is repeated 4 times!
Then each build using npm install is taking at least 12mins instead 30 seconds...

Unfortunatly the workaround with the system variable NO_UPDATE_NOTIFIER=1 is not working on my agent...

If someone could help me to find a way to solve that, I would be very glad... :)

[2018-05-31 08:49] bishal-pdMSFT commented on #7255
@wli3 @onovotny I get following output when I do "dotnet --info" after installing version 2.1.300 using installer task. I can see that 2.1.300 is listed with correct path

I am still using old task version. Can you tell me how to repro this?

[2018-05-31 08:51] PradeepKumarMunirathinam opened #7338 "Azure File Copy failing in Release"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
     VSTS Server
    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:
    Account Name =

[2018-05-31 09:32] JonathanNEMRY opened #7339 "Passphrase into endpoint is required even if even if none is required on the remote server"
## Issue Description

I use ssh task that used a specific configured endpoint with
* connection name: ok
* host name: ok
* port: ok
* user name: ok
* passphrase: ko
* private key: ok

About the ssh's configuration of the remote server it is not set with a passphrase so it explain why I didn't set one into my VS endpoint configuration.

Unfortunatly my first observation is that with no passphrase s

[2018-05-31 09:34] fume commented on #6885
is there any ETA for this enhancement?

thanks, regards

[2018-05-31 10:02] JoshPearce91 commented on #7283
Hi @prawalagarwal,

We use VSTS. I have sent the logs to the email address provided, referencing the issue number in the email header.

Thanks.

[2018-05-31 10:06] JoshPearce91 commented on #7283
@prawalagarwal I just received a response to my email, stating it could not be delivered to the following groups: vstlmtcm@microsoft.com, vs_atpm@microsoft.com. Is this an issue, or will you still be able to receive the email?

[2018-05-31 10:18] onovotny commented on #7255
In a script, you should be able to do the following:

[code]

[2018-05-31 10:31] onovotny commented on #7255
I can confirm that it's working for me as well: https://orennovotny.visualstudio.com/GitBuilds/_build/index?buildId=708

[2018-05-31 11:03] edtheshed opened #7341 ""The environment block used to start a process cannot be longer than 65535 bytes" Azure RM Web App Deploy"
## Issue
Our Release used to get this error, and is now getting it again on one of the web app deploy tasks:

[code]
Unfortunately we have a large amount of variables for app config. Can't really do much about that... We had this error before and after reading https://github.com/Microsoft/vsts-task-lib/issues/228 we had upgraded the agent to the latest.

## Environment
VSTS account: solidsoftreply

[2018-05-31 11:41] prawalagarwal commented on #7283
@JoshPearce91 We received the logs. Will update the thread after analyzing.

[2018-05-31 11:45] bishal-pdMSFT commented on #7255
Cool! Closing this issue.

[2018-05-31 11:46] #7255 closed

[2018-05-31 11:58] bryanmacfarlane commented on #6040
@henkin67 - how did you set the envvar.  Add a step right before npm to dump envvars (cmd line task run 'env')

@keithrob - I wonder if the npm task should set this envvar until it's resolved.  8.x is the latest LTS ...

[2018-05-31 12:05] imalokagrawal commented on #7326
Thank you for your suggestion! We haven't heard this request from our other customers.
Please add your request or vote for this feature on the Visual Studio UserVoice site (https://visualstudio.uservoice.com), which is our main forum for product suggestions.

Continuous Monitoring option in Azure App Service manage task mainly does 2 things:
1. Add application insights extension to Azure web app
2

[2018-05-31 12:14] bishal-pdMSFT commented on #7330
@OnlyHicki if your application package is large in size, if can result in timeout while registering the package. You can increase default register timeout in task
![image](https://user-images.githubusercontent.com/7830141/40781622-370e0d6e-64fa-11e8-9fed-e115a4a83c4a.png)

[2018-05-31 12:20] OnlyHicki commented on #7330
Can't believe I missed that! 🙈

[2018-05-31 12:20] #7330 closed

[2018-05-31 12:34] memark commented on #7170
That would be great!

Another "solution" would be if the _custom_ command somehow did the same wildcard matching that the other commands support.

[2018-05-31 12:37] vincentdass commented on #7341
@edtheshed , Currently, the selected task is in 1.* task version. Can you please update the task version to 3.* or 4.* and retry the deployment?

[2018-05-31 12:38] PranavaNaini commented on #3853
Hi @almiroalves, I have same issue when I build my automated test scripts with Java, maven. Was your issue solved? If solved can you please share the solution. TIA

[2018-05-31 12:39] henkin67 commented on #6040
@bryanmacfarlane : You are rigth, the NO_UPDATE_NOTIFIER is not set at all (I run a ps script with `Get-ChildItem Env:` to check).
I set the variable into the System variables of the VM (logged with my account not the one used by the agent).
![image](https://user-images.githubusercontent.com/29369709/40782597-22e55960-64e0-11e8-8cb5-bfc0fc04329f.png)

[2018-05-31 12:41] edtheshed commented on #7341
yep looks like that was it! thanks very much for your help

[2018-05-31 12:41] #7341 closed

[2018-05-31 12:46] bryanmacfarlane commented on #6040
@keithrob - the other reason I think it's good to set the envvar in the task is the update notifier really isn't helpful in the ci case - as we can see here it can only cause issues.  often in ci, user specifically specifies version to use by either installing it on their build server of using an installer task.

You can also set in option specifically on the invocation of npm process.

leaving op

[2018-05-31 12:46] erikrenberg commented on #6040
@henkin67 : Maybe you just need to restart the server? (if you haven't tried already)

I put NO_UPDATE_NOTIFIER as a build variable with the value 1 on the Variables tab of the build definition, and that worked fine.

@bryanmacfarlane : the npm task setting NO_UPDATE_NOTIFIER to 1 (if that envvar isn't already set to something) sounds like a good and pragmatic idea!

[2018-05-31 12:46] henkin67 commented on #6040
I just tried to set NO_UPDATE_NOTIFIER to 1 through the variable of the build and it work perfectly.
My task took 18 secondes now.
I'm quite new with TFS and I'm still not very familiar with the scope of the variables.

[2018-05-31 12:49] henkin67 commented on #6040
@erikrenberg : You are right, both solutions work:
- set the System variables and restarting the service
- set the variable in the build defiition

[2018-05-31 12:53] vincentdass commented on #7338
@PradeepKumarMunirathinam , Can you try reducing the file path of the agent: (say `C:\agent\vsts-agent-win7-x64-2.124.0` to `C:\A`) and retry the deployment . We identified this as a genuine issue and added it to backlog.

[2018-05-31 13:11] bergmeister commented on #3473
@nigurr Your link does not explain how we can use the vstest task with skipped tests and not have the task fail. The PR above (#3558) could have helped you to achieve this

[2018-05-31 13:35] vincentdass commented on #7310
Closing the issue, as the issue is resolved offline.

[2018-05-31 13:35] #7310 closed

[2018-05-31 13:35] rokmicrosoft commented on #7220
Done. Closed.

[2018-05-31 13:35] #7220 closed

[2018-05-31 13:54] kuvinodms commented on #7028
@nforysinski Unable to repro the failure scenario by following the steps mentioned by you.
Please share your task's debug logs.

[2018-05-31 13:58] nforysinski commented on #7028
@kuvinodms got an email I can mail you the full log zip with all associated tasks?

[2018-05-31 14:11] KostaVlev opened #7346 "Build fails when try to process the bundleconfig.json"
## Environment
- Server - VSTS

    - Build number: 20180531.2
    - Task: Build

- Agent - Hosted:

    - Hosted Agent VS2017

## Issue Description

 The build started failing when it tries to process the bundleconfig.json I can confirm we don't have any changes in that file and previous builds were successful. The build fails at the same point even if I try to rebuild branches where it was succe

[2018-05-31 14:34] kuvinodms commented on #7028
Yes, please mail it to kuvinod@microsoft.com

[2018-05-31 14:41] nforysinski commented on #7028
@kuvinodms just emailed the logs to you. let me know if you need anything else.

[2018-05-31 15:15] kuvinodms commented on #7028
Got the mail. Expect an update on it by tomorrow EOD.

[2018-05-31 15:45] ericsciple commented on #6662
The envvar grid change for designer definitions is rolling out with the M135 deployment which will likely finish rolling out to all scale units by the end of next week.

[2018-05-31 15:45] #6662 closed

[2018-05-31 15:51] ericsciple commented on #5073
Taking tasks out of the picture, how would you do this normally?

I would think the solution is remoting.

[2018-05-31 17:07] bishal-pdMSFT commented on #7288
@heavenwing any update?

[2018-05-31 17:14] bishal-pdMSFT commented on #7230
@nebffa sorry for deplyed answer. could you please share your build steps? Do you compress before updating manifest version or after?

[2018-05-31 17:32] bryanmacfarlane commented on #7346
This looks like an issue with msbuild / your code.  It looks like the CI system and task ran it and correctly returned the results ...

You might want to log in developer community to follow up with msbuild.  This repo is for the CI tasks.

[2018-05-31 17:41] wli3 commented on #7255
Thank you @sachinma @bishal-pdMSFT

[2018-05-31 18:13] WennderSantos commented on #5560
Same problem here.
I had to restart the VM to get it work.

[2018-05-31 18:44] kelliejos commented on #7301
@Solution143 : From the error it looks like your test results are not in the directory expected by the Maven task.  Have you tried specifying the exact filename and path for the test results? Another option that may work for you is to try using the PublishTestResults task after the Maven task to publish your test results to TFS. Thanks!

[2018-05-31 18:51] compuguru opened #7348 "Issue template "Troubleshooting" link 404s"
The "Troubleshooting" link in the Github issue template (when you file a new issue in this repo) points to https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting which 404s. Perhaps it's supposed to point to https://docs.microsoft.com/en-us/vsts/pipelines/troubleshooting?view=vsts?

[2018-05-31 20:28] pinkfloydx33 commented on #7263
@omeshp Were you able to find out if this has made it into Update 2? Thanks!

[2018-05-31 20:30] vinaysandela opened #7349 "Gradle Build - Error for Sonarqube analysis"

[2018-05-31 22:18] sandersaares commented on #5073
I do not remember anymore what my exact use case was in august 2017 but right now, I am not particularly feeling any lack of elevation capability in agent tasks. As such, I am unable to really comment on the substance of the matter and do not consider the issue I opened relevant anymore. Accordingly, I will close it.

[2018-05-31 22:18] #5073 closed

[2018-05-31 23:13] yaffa7 commented on #7317
Thank you for the input. Eventually we will look to upgrade to 2017.

In the meantime im running the tests through a powershell script on our test agent (via the Run Powershell on Remote Machine task). The tests are being executed and finish running, but the tasks seems to stall and block the release from being completed.

Here is the log from these steps

[code]

However this step never finishes,

[2018-05-31 23:56] yaffa7 commented on #7317
Alright. This article helped me solve this issue http://www.codewrecks.com/blog/index.php/2016/06/04/running-unit-tests-on-different-machine-during-tfs-2015-build/

The solution was to add the contents of the Nunit3 unit test adapter to the extensions folder the test agent uses for running function test `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\Tes

[2018-05-31 23:59] nebffa commented on #7230
Hey @bishal-pdMSFT , that's not a problem at all. I'll describe it for you here, and if you like I can get you the complete `json` definition of the pipeline i.e. stuff like this:

[code]

The important steps were:

1. Do a build
2. `Update Service Fabric App Versions`
3. Compress all build artifacts into a single zip file
4. Publish this single zip file as the sole artifact of the build

As menti

[2018-06-01 03:08] troybooth commented on #3604
Ah, no not done, this task still shows in RM and I get that exact error as stated by the OP....

[2018-06-01 04:59] prawalagarwal commented on #7317
Thanks for reporting back on the closure.

[2018-06-01 04:59] #7317 closed

[2018-06-01 05:48] bishal-pdMSFT commented on #7230
@nebffa Your understanding is correct and the scenario seems to be a useful one. We would be glad to take PR contribution if you want.

[2018-06-01 06:06] lvsezhufu opened #7350 "App Center Distribute task show errors when queuing YAML build"
I can use the task App Center Distribute successful in other build definition (and the endpoint MyAppCenter has been configured successful in VSTS):

![app center distribute task - build successful in other build definitions](https://user-images.githubusercontent.com/23092306/40823845-7690532a-65a4-11e8-9489-fc2d9f758a6a.png)

While when a create a YAML build definition and add the App Center Dist

[2018-06-01 06:09] ShreyasRmsft commented on #7283
@JoshPearce91 can you check of the preview feature Build With Multiple Queues is on or not for you vsts account?

It can be found in the profile drop down. select preview features for this account instead of for this user

![image](https://user-images.githubusercontent.com/25194518/40824070-54d43a4e-6590-11e8-95af-e32fd6db6d42.png)

[2018-06-01 06:11] ShreyasRmsft commented on #7317
@yaffa7 can you have the dlls inside the packages folder in the DEV folder itself? It might not be recursively looking.

[2018-06-01 06:27] nigurr commented on #3473
@bergmeister I understand your concern, however we can't break this default functionality.
We would be interested to know in which scenario we need to write to error stream and still pass the test?

`If it's an error, the test should fail. If it's not an error, then it shouldn't be in error stream. it can be in standard stream.`

[2018-06-01 09:16] bergmeister commented on #3473
@nigurr
Here is the log below using the vstest task v2 that uses the `Visual Studio Test Platform Installer` of version [15.7.2](https://www.nuget.org/packages/Microsoft.TestPlatform/15.7.2).  All tests pass and there are no skipped or inconclusive tests but the task is still marked as red. The tests are using `NUnit3`. Here is the log:
[code]

[2018-06-01 09:17] cosminstirbu opened #7352 "Update Download Build Artifacts task to set a DowloadedArtifactBuildNumber variable"
Hello,

We have a build definition that runs our nightly acceptance tests suite (we run them nightly because they are end to end and they take a few hours to run).

This build definition uses a "schedule trigger" and it uses the Download Build Artifacts task to download the artifacts from the latest build of a different build definition.

We'd like to keep in sync the build number of the artifact

[2018-06-01 09:57] xenalite opened #7353 "NuGet Restore: Unable to load the service index for source"
## Environment
- VSTS:
Account: rcss-02-willistowerswatson
Project: Unify
Build ID: 47468

- Agent - Private:
OS: Windows Server 2016 (10.0.14393)
Agent: 2.134.2

## Issue Description

Using v2 of NuGet Restore task with 2 VSTS feeds.
![image](https://user-images.githubusercontent.com/4509839/40834474-d24bdf02-6588-11e8-8cdd-d4f0d901f9d8.png)

While restoring a package from one of VSTS feeds, it f

[2018-06-01 09:58] ossentoo commented on #7350
Thanks Marina.

I originally logged this on stackoverflow [here](https://stackoverflow.com/questions/50625807/vsts-yaml-build-app-center-service-endpoint-could-not-be-found/50637216#50637216)

There was a similar issue logged on  [StackOverflow](https://stackoverflow.com/questions/49123590/vsts-app-center-yaml-endpoint-could-not-be-found?rq=1#) but this turned out to be a case of adding the servic

[2018-06-01 11:19] daliusd commented on #5066
I actually get VSTS to run tests (.net core 2.0) but it fails with following error:

2018-06-01T11:06:36.1777961Z Microsoft.VisualStudio.TestPlatform.ObjectModel.TestPlatformException: Failed to initialize client proxy: could not connect to test process.
2018-06-01T11:06:36.1779658Z    at Microsoft.VisualStudio.TestPlatform.CrossPlatEngine.Client.ProxyOperationManager.SetupChannel(IEnumerable`1 so

[2018-06-01 12:02] bryanmacfarlane commented on #5066
@daliusd - you may want to open a new issue

[2018-06-01 12:06] daliusd commented on #5066
@bryanmacfarlane At the moment I solved this problem by using "dotnet test". I might consider opening new issue in the future if need will arise. Still I can answer all the question if someone from VSTS team is interested.

[2018-06-01 13:21] omeshp commented on #7263
@pinkfloydx33 Yes the helper is available in TFS 2018 Update 2.

[2018-06-01 15:03] goldenbeard opened #7355 "Download Build Artifacts task for specific build dropdowns are empty"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
VSTS environment, account: aecom.visualstudio.com
Attempted in a couple of team projects: Digital Transformation - CS and Digital Transformation - DPC.
Also tried in several build/release definitions, the behaviour is the same.

[2018-06-01 17:18] ericsciple commented on #5717
I am working on a fix: PR https://github.com/Microsoft/vsts-tasks/pull/7356

[2018-06-01 18:04] nschonni opened #7357 "Release tasks have roken FWlinks from folder renames"
Can we use this as a meta issue to get all of the FWLinks broken from #7181 updated?
EX: https://go.microsoft.com/fwlink/?LinkId=838890 is used on-prem 2017 and is a 404, and I'm guess there are others too.
There was a bunch of broken thinks in the https://github.com/MicrosoftDocs/vsts-docs repos too since they weren't consistently using fwlink URLs.

[2018-06-01 18:10] stephenmichaelf commented on #7357
@DavidStaheli @bryanmacfarlane for visiblity.

The FWLinks should be updated by task owners.

Per David: We are generally moving towards docs being our standard location for product docs for unification, searchability, discoverability, and SEO. If there are links broken there they should be fixed. For instance that link to DeployVisualStudioTestAgent README should go to something in Docs not in th

[2018-06-01 18:19] pumaloso commented on #7312
Nevermind, I've solved it:

#!/bin/bash
echo ${1} > cert.encoded.pfx
base64 --decode cert.encoded.pfx >> cert.pfx
openssl pkcs12 -in cert.pfx -out cert.pem -nodes -nokeys -password pass: >/dev/null 2>&1
openssl pkcs12 -in cert.pfx -out cert.key -nodes -nocerts -password pass: >/dev/null 2>&1

[2018-06-01 18:19] #7312 closed

[2018-06-01 18:54] yhan opened #7358 "Vs test failed but all tests passed OK"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
 tfs 2018

    - If using TFS on-premises, provide the version:  2018

    - If using VSTS, provide the account name, team project name, build definition name/build number:

- Agent - Hosted

[2018-06-01 19:04] nschonni commented on #7357
I don't have a list of fwlinks, I've just been fixing the broken links on the docs repo manually. The one example above I gave, I came across this morning when trying to share the the link from our on-Prem that embeds that link.
Here is one more I found on the Add Tasks -> Test for TFS 2017 though https://go.microsoft.com/fwlink/?LinkId=624389

:+1: Probably a good idea, but the docs repo has a bu

[2018-06-01 19:09] ericsciple commented on #7208
I can't repro the original problem. Here is my definition:

[code]

[2018-06-01 19:22] letmaik opened #7359 "VSTS | .NET Core Task | Custom command should support feed authentication"
I'm trying to run `dotnet add` via the custom command option of the .NET Core task, however this then fails if the package to add is in a VSTS feed since this custom command option does not support feed authentication. Does it make sense to add support for that?

[2018-06-01 21:00] michael-golfi commented on #6739
I'm running into the same issue. Any progress?

As an alternate route I had been thinking of having a itemPattern to match on what to put into the target directory eg:

[code]

Then that `**` would specify to put all the subdirectories and files into the downloadPath.

[2018-06-02 17:08] chetanku opened #7360 "Docker Compose task in VSTS : Couldn't connect to Docker daemon at http+docker://localhost - is it running?"
Installed docker 18.03 on vsts agent box(on premises VSTS agent) The user under which the agent is running has been added to the docker group. When I try to build using Docker Compose task in VSTS, the build fails with error:

**Couldn't connect to Docker daemon at http+docker://localhost - is it running?
 If it's at a non-standard location, specify the URL with the DOCKER_HOST environment variabl

[2018-06-03 11:12] vincentdass commented on #7333
Can you try using custom phase condition with condition value `eq(variables['Agent.JobStatus'], 'Succeeded')`. The next phase will be executed only if previous phase is succeeded.

![image](https://user-images.githubusercontent.com/20121508/40885915-070da9a8-674d-11e8-8161-acb5177034bc.png)

[2018-06-04 06:15] omeshp commented on #7238
Closing this issue since there is no response. @SandipKumarKundu Please reopen if you are still facing this issue.

[2018-06-04 06:15] #7238 closed

[2018-06-04 06:15] omeshp commented on #6950
@ezuidema This issue should be fixed by now, if you are still facing this issue let us know.

[2018-06-04 06:15] #6950 closed

[2018-06-04 06:26] sachinma commented on #7288
@heavenwing ping!

[2018-06-04 06:28] sachinma commented on #7273
This is dupulicate of #7032. You can find the exact versions to specify there. We will be working on it to make sure that it is more natural.

[2018-06-04 06:29] sachinma commented on #7273
@gencebay we are planning to roll it out soon. In the mean time, you can use the installer task.

[2018-06-04 06:29] #7273 closed

[2018-06-04 06:30] prawalagarwal commented on #7318
@compuguru were you able to send the logs?

[2018-06-04 06:42] kmkumaran commented on #7326
Closing this based on @imalokagrawal comments, since we will track this based on Visual Studio UserVoice response.

[2018-06-04 06:42] #7326 closed

[2018-06-04 07:03] DerGary commented on #7355
We currently have the exact same Problem

[2018-06-04 09:12] lvsezhufu commented on #7350
@ossentoo With or without quotes makes no changes since my service name does not contains blank space. If you built your yaml build definition, can you share the screen shot?

[2018-06-04 09:15] kuvinodms commented on #7028
@nforysinski
Please add following debug variable in your release definition and re-initiate the release. Forward/attach the generated logs.

Name - system.debug
Value - true

[2018-06-04 09:21] dejansimeunovic commented on #2717
@prawalagarwal first of all, sorry for the late answer. And, thanks a lot for the link.

However, this is a solution for the On-Premises version. Since we are using TFS it doesn't really apply to us (at least not yet, because it says "TFS Availability - Future"). Do you know (approx) when it comes to TFS?

[2018-06-04 09:51] prawalagarwal commented on #2717
@dejansimeunovic Rerun was introduced from TFS 2018 Update 2 onwards.

[2018-06-04 10:16] dejansimeunovic commented on #2717
Oh, that's great!
Thanks for the quick answer!

[2018-06-04 10:27] ossentoo commented on #7350
@lvsezhufu, like your example, my yaml build doesn't event start building. It won't let me submit the build.  I can click Queue Build, but nothing happens because of the error.

![image](https://user-images.githubusercontent.com/7569380/40912731-508828ae-67ea-11e8-9801-61b34058f065.png)

[2018-06-04 10:29] sachinma commented on #6955
@tonyferrell I believe this should work if the service principal has access on the service fabric application. While configuring the service fabric application, you can specify that service principals can be added as users of the application. You will have to modify the standard script that service fabric documentation provides.

[2018-06-04 10:31] sachinma commented on #7030
closing this issue. Please reopen if this doesn't work with the recommended VS version.

[2018-06-04 10:31] #7030 closed

[2018-06-04 10:48] ShreyasRmsft commented on #7283
@JoshPearce91 any updates?

[2018-06-04 10:55] JoshPearce91 commented on #7283
Hi @ShreyasRmsft this is currently turned off in our instance.

![image](https://user-images.githubusercontent.com/39563571/40913920-2eadfd40-67ee-11e8-9091-35b8cfe37963.png)

[2018-06-04 11:00] LukeBillo opened #7363 "Set Azure Storage Emulator Task as an Environment Variable"
Apologies if this is the wrong place to raise this - wasn't entirely sure where to raise this issue. Feel free to direct me elsewhere if so.

I have a build job on VSTS for simply building a solution that uses Azure table storage, and wanted to run integration tests that the Azure storage emulator. To do this, I found that Azure storage emulator is already installed on a hard-coded path and ran it

[2018-06-04 11:52] ShreyasRmsft commented on #7283
@JoshPearce91 This is necessary for multi config to work in the build pipeline.

Can you please turn it on and try your build?

[2018-06-04 13:35] let-thomas opened #7366 "Maven sonarqube status timeout"
TFS on-premises Version 15.117.27024.0
Agent WinServer 2012R2, vsts-agent-win7-x64-2.122.1
Sonar server: v7.1.0.11001
Maven 3.5, JDK8

We are running maven build including cobertura and sonaqube analyzes.
Point is sonarqube analyse on the server takes some time (in our case over 4minutes).
Until analyse is ready request URI [SQ] Invoking API at: /api/ce/task?id=AWPK5ZII5LBxopHISKb_ returns JSON wi

[2018-06-04 14:30] RobertOwenJack commented on #7208
I have a build definition with a Shell Exec task with the following commands in:-
newversion=”1.0.4-234”
echo “##vso[build.updatebuildnumber]$newversion”

The command completes successfully setting the buildnumber to “1.0.4-234” but I get the following log indicating an error:-

2018-06-04T14:25:05.0032120Z ##[debug]Evaluating condition for step: 'shellexec '
2018-06-04T14:25:05.0061490Z ##[debug]

[2018-06-04 15:58] bryanmacfarlane commented on #7366
Sonar moved to a market place extension and there's a support link on this page.
https://marketplace.visualstudio.com/items?itemName=SonarSource.sonarqube

I would recommend following that support link

[2018-06-04 16:09] deka commented on #5112
Yes, not usable if the variable is only used on the custom condition.

[2018-06-04 16:12] pinkfloydx33 commented on #7263
@omeshp  We installed Update 2 over the weekend. I can see that the helper is available, but something about it is not working for me.

Originally, my 'authServerUrl' had the following value 'endpoint.url\/api\/token\/' . The response I was receiving (via Chrome network tools) was a 404 not found. I figured out that this was due to the extra slash after token (our API doesn't like it). I replaced

[2018-06-04 16:22] JeffRausch commented on #7333
Aah, that does work.  I was checking that variable inside the phases run after and it always showed "Succeeded" but apparently the value of that variable is set differently for the tasks running inside the phase.

That should fix the issue I'm seeing then.
Thanks!

[2018-06-04 16:37] ericsciple commented on #7208
I'm not familiar with the internal details of that task (it is not one of the tasks in this repo). The attempted repro that I pasted, uses the "Shell Script" task (v3, choose inline option). There is a change rolling through the scale units that it will rename it in the tasks catalog as the "Bash" task. It would be good to know whether it repros using that task, or whether you can provide a repro

[2018-06-04 17:16] chrisrpatterson commented on #7363
@LukeBillo this does not seem like an issue specific to a task.  It is more like a feature request for the hosted pools.  Please close this issue open one in the microsoft/vsts-image-generation repo.

[2018-06-04 17:28] compuguru commented on #7318
@prawalagarwal Yup, I sent it on May 31st. Subject of the email is "VSTest Task doesn't stop after test session times out #7318"

[2018-06-04 17:31] chetanku commented on #7360
The issue was user permissions. So after adding a user to the docker group, logging out and logging in didn't work. I had to reboot my system in order for permissions to take effect.

[2018-06-04 17:31] #7360 closed

[2018-06-04 17:34] Shahyads commented on #6071
I have the same problem. Is there any workaround for TFS 2017?

[2018-06-04 19:03] viperx77 opened #7367 "Unable to publish test results during release when release is using artifacts from another project in VSTS"
## Environment
VSTS
account=phm-caremgmt
team project name=microservices
Release definition definition name = rules-engine
Artifacts from project named = "architecture"

- Agent -
Private docker based agent FROM [microsoft/vstsagent](https://hub.docker.com/r/microsoft/vsts-agent/ )
Agent is running in Azure container instances

## Issue Description

Unable to publish test results during release wh

[2018-06-04 20:57] murali89 opened #7370 "Nuget restore creates a temp copy of nuget.config breaking its relative paths"
## Issue Description

[Include task name(s), screenshots and any other relevant details]

Nuget restore creates a temp copy of nuget.config breaking its relative paths
Using NuGet.config file, you can configure repositoryPath key in the config section to modify the default location of the packages installation folder (see ref https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file).

Ho

[2018-06-04 21:00] murali89 opened #7371 "Nuget Restore task re-uses config file from previous Task in the same build definition"
## Issue Description

If you have a build definition that references two different nuget.config files, the nuget restore task will re-use the first config file for the second instance of the task this is problematic when the config files contain different package sources.

To work around the issue we had to add the following step to our build definition to clear out the temporary file after the fi

[2018-06-04 21:02] murali89 commented on #7370
VSTS Dev Community Link: https://developercommunity.visualstudio.com/content/problem/238562/nuget-restore-creates-a-temp-copy-of-nugetconfig-b.html

[2018-06-04 21:03] murali89 commented on #7371
VSTS Dev Community Link: https://developercommunity.visualstudio.com/content/problem/243645/nuget-restore-task-re-uses-config-file-from-previo.html

[2018-06-05 08:05] ishafqat commented on #5641
I had the same issue. The docker compose file was not checked in for my solution which caused this error. Adding the file back solved it for me.

[2018-06-05 08:22] RobertOwenJack commented on #7208
I used the Shell Script task that you recommended and it works perfectly.  I used the market place shell script  https://marketplace.visualstudio.com/items?itemName=tsuyoshiushio.shell-exec   as the Shell Script task didn’t offer an inline option at the time and I wasn’t aware that this option existed until you mentioned it.   I’ll inform the author. Many thanks

From: ericsciple <notifications@gi

[2018-06-05 09:01] ds-ms commented on #6255
Fix has been merged. Should reach all rings in 1-2 weeks.

[2018-06-05 09:01] #6255 closed

[2018-06-05 09:11] greengumby commented on #7308
I don't believe this issue is resolved. It appears that if the network has a hiccup then NPM will abort. Trying again is a workaround which may or may not work all the time.

Is there a retry setting or timeout condition that can be set?

[2018-06-05 10:28] jashif commented on #7277
![definition1](https://user-images.githubusercontent.com/1052953/40970773-e916b4f6-68bb-11e8-8274-9aaa0bf98e4c.PNG)
![definition2](https://user-images.githubusercontent.com/1052953/40970774-e933e81e-68bb-11e8-87d1-d3ca0ab24e6f.PNG)
![definition3](https://user-images.githubusercontent.com/1052953/40970775-e9537472-68bb-11e8-8ca8-d663b23cae5a.PNG)

[2018-06-05 12:46] NickDarvey commented on #7028
We're also seeing this.

(I'd love to give you these logs but when I'm downloading it I get a: `"typeName":"Microsoft.TeamFoundation.Framework.Server.UnauthorizedRequestException, Microsoft.TeamFoundation.Framework.Server","typeKey":"UnauthorizedRequestException","errorCode":0,"eventId":3000`)

[2018-06-05 13:14] JoshPearce91 commented on #7283
Thanks for the suggestion @ShreyasRmsft, I'll get our site admin to enable the feature and then I'll update you with the result.

[2018-06-05 13:33] chrisrpatterson commented on #6620
The agent is already running inside a container and you are starting up a sibling container so you will not be able to curl that endpoint directly on localhost.  You will need to use docker-compose exec to target a container in your composition in order to check the output.

[2018-06-05 13:37] NickDarvey commented on #7028
I think it was [this issue](https://developercommunity.visualstudio.com/content/problem/204067/vsts-service-fabric-deployment-task-171-error.html).
@nforysinski have you tried using Hosted VS2017 as your agent?

[2018-06-05 13:45] eaglo commented on #6620
Thanks @chrisrpatterson for your response. I'm not sure this applies to my case though as i don't want to execute something on the target container but rather want to connect to a service running behind an exposed port. Is there a solution for this as well?

[2018-06-05 14:03] ruffzy commented on #6618
I have experienced exactly the same issue. In my case I was able to change the execution environment to a linux machine and fortunately this environment does not have this file length limitation:

![image](https://user-images.githubusercontent.com/794039/40980943-fb0e88d2-68d9-11e8-956a-f6df3a16c922.png)

[2018-06-05 14:22] iandvt commented on #3959
Any update on this scenario? I would like to do something similar in my deployment process

1) Push an image tagged as master to ACR and have it auto deploy to the staging slot of a Web App
2) Require a manual step / intervention to trigger a Web App Slot Swap from staging to production
3) Retag image master image as latest

[2018-06-05 15:14] amitasawant opened #7376 "Maven SonarQube error message - Getting "Cannot read property 'statusCode' of undefined" error message"
Getting the "Cannot read property 'statusCode' of undefined" error message when running a build.
The code analysis fails.

![2018-06-05_11-12-59](https://user-images.githubusercontent.com/39960144/40985168-09e5db00-68d3-11e8-971e-9da7fb72a3de.png)

## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troublesho

[2018-06-05 15:43] SeriousM opened #7377 ""Cannot find CodeCoverage.exe" on self-hosted agent"
FROM: https://github.com/Microsoft/vsts-agent/issues/1605

## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
yes

## Agent Version and Platform
Version of your agent? 2.134.2

OS of the machine running the agent? Windows 10, 1803

The agent-machine has VS2017 Professional installed.

## VSTS Type and Version
VisualStudio.com

[2018-06-05 16:06] willmorgan opened #7378 "InstallSSHKey is unable to access secure file that definitely exists"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
    - If using VSTS, provide the account name, team project name, build definition name/build number:
Account name: digital-identification
Project name: digital-identification
Build definition name: admin-api
Build number: #110

[2018-06-05 17:07] mjbrian commented on #7367
Chiming in to report similar symptoms.

## Environment

- Server - VSTS:
account.name=mindbody
team.project.release=DeploymentPipeline
team.project.build=mb
release.definitionname=marketplace-temp
build.id=240623

- extension:
task=VsTest - testAssemblies
version=2.5.12

- Agent -Private:
OS=Win. 2012R2
Agent.Version=2.133.3

## Issue Description
Build 240623 exists within another project.

Result

[2018-06-05 18:30] esstump commented on #7142
I am having similar problems. I ma trying to use msbuild to deploy ssrs reports and shared data sources. That error "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Reporting Services\Microsoft.ReportingServices.MSBuilder.targets(30,5): Error : : Object reference not set to an instance of an object." happens when it tries to deploy the data sources.  Reports are deployed wit

[2018-06-05 21:20] alexmullans commented on #7359
@sachinma sure. something we're interested in, but not coming in the next few sprints. We're first working on bringing Credential Provider support to dotnet (which gives us the hooks we need to do auth well in the build tasks)

[2018-06-06 04:29] vinodjo commented on #7189
Historically publish results only supported Passed, Failed and Not Executed tests. However we acknowledge the need to support other states as well. We have made a change to fix reporting of the "Inconclusive" state, which will be available in approx. 6 weeks (VSTS). We need to look at this at multiple level (Platform, Reporting etc.) and hence adding this to our backlog to provide a comprehensive

[2018-06-06 04:29] #7189 closed

[2018-06-06 05:16] bishal-pdMSFT commented on #7288
Closing this for now. @heavenwing please re-open if you see any anomaly.

[2018-06-06 05:16] #7288 closed

[2018-06-06 06:44] josefblaha commented on #7189
Does it mean that "Inconclusive" state will be reported correctly first, followed by other possible states? What about the error details (message & stack trace)?

[2018-06-06 08:16] maikvandergaag commented on #7271
Hi Vincent, I had to give a training last week will try it tomorrow.

[2018-06-06 08:38] rudibech commented on #6436
Thank you so much! :)

We now have the same issue for .Net Core 2.1. Do you have any plans for fixing that @vincentdass? The code for the task has changed a bit, and I am not sure where you get the list of values from now.

I am aware that we can not select .NET Core 2.1 as Runtime for the App Service yet, but my understanding is that it should be available really soon.

[2018-06-06 08:41] vincentdass commented on #6436
@rudibech , we changed the static list to dynamic list in 4.* task version.
please change your task version to 4.* and select your preferred run-time stack.

[2018-06-06 09:35] smneal commented on #6917
This would be a great addition. Particularly when combined with an agent less phase with a manual intervention step. Agent phase could do the "Swap with Preview", lead on to a manual intervention task to confirm everything looks good before using the "Swap with Preview" task again to complete the swap.

[2018-06-06 11:44] prawalagarwal commented on #7358
Hi @yhan
netcoreapp tests are not supported via VsTest task. Please use the .Net task to run these.

[2018-06-06 11:59] PradeepKumarMunirathinam commented on #7338
Hi @vincentdass.
As mentioned in the logs, i made the directory length less than 260 characters. And reran the task in my release and my release got succeed.

Thanks for you suggestion.

[2018-06-06 12:41] kuvinodms commented on #7028
@NickDarvey Thanks for providing the issue link and your debug logs.
I was going through your logs and have 1 thing to confirm. Did you delete the application before triggering the release?

[2018-06-06 12:56] puagarwa commented on #7367
this is known issue about cross project scenario, we are in process of hotfixing it, Will update here once fix get deployed.

[2018-06-06 13:02] doormalena opened #7386 "Add support for NuGet Signing in NuGet-task (NuGet 4.6)"
We would like to see that the NuGet Signing capability is added as a configurable option for the the NuGet build definition task. See also https://docs.microsoft.com/en-us/nuget/create-packages/sign-a-package

[2018-06-06 14:55] chrisrpatterson commented on #6620
It would be the same solution.  You would need to add a contianer to your compose that is the client and then you would exec inside that client container.

[2018-06-06 15:44] nforysinski commented on #7028
@NickDarvey we changed to Hosted VS2017 yesterday and everything went fine this morning. I don't yet have a failing log with System.Debug turned on, so I am watching that carefully.

@kuvinodms I can't speak for @NickDarvey but I can say we definitely we did not delete the application as we expected the non-upgrade deployment task to take care of that.

[2018-06-06 16:26] strosu opened #7387 "Test task times out after enabling TIA"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number

- Agent - Hosted or Private:

[2018-06-06 17:32] omeshp commented on #7355
@goldenbeard @DerGary We have hot fixed this issue, can you confirm that this is resolved?

[2018-06-06 17:34] bishal-pdMSFT commented on #7028
@NickDarvey @nforysinski Service fabric tasks will most probably run into problems with Hosted agent pool - as the installed SF SDK (on which the task takes dependency) is quite old.
I would strongly recommend using Hosted VS2017 pool which gets updated often. Please let us know if you see same issue with Hosted VS2017.

[2018-06-06 19:25] mgreen opened #7388 "Docker tag/push images tasks EOL failures"
Docker tag/push images tasks seem to fail on line endings. I created a simple 3-line `DockerImages.txt` file in my repo to use the Docker "Tag Images" task in my build. This task was working as recently as last Friday 06/01. I'm not sure what happened, but now this task is failing with errors that appear related to line endings.

Things I've tried:
* Convert the line endings from CRLF to LF
* Remo

[2018-06-07 02:57] wahyuen opened #7389 "DotNet Core - Publish - Deletes output folder causing Publish Artifact task to fail"
## Environment
- Server - VSTS

- Agent - Hosted 2017
## Issue Description

Currently attempting to use the new DotNet core build template for a DotNet Core 2.1.0 WebAPI project. It appears that the default template causes issues in how it zips the output up and subsequently deletes the output folder. This causes issues with the default template in the downstream task of Publish Artefact as it can

[2018-06-07 05:36] bishal-pdMSFT commented on #6755
@Tadimsky we are working on this currently. Expect it to start rolling out to prod next week. Do you need this on priority?

[2018-06-07 06:03] modplug commented on #6416
Hi. I'm experiencing the same behavior when codesigning on the latest macos preview agent on VSTS.
I've created a custom build steps which runs fastlane match on my solution to download and install the proper certificates. Fastlane reports that everything worked as expected. But when I try to build the solution it hangs forever on codesign. As a workaround I tried to install my certificates into a

[2018-06-07 06:33] kuvinodms commented on #7307
@bishal-pdMSFT
Hotfixed the issue for Ring0 and Ring1. Soon it will be deployed to other rings.

[2018-06-07 06:39] kuvinodms commented on #6836
Fix has been merged with master where we've moved UseDiff to Upgrade section and not enabling it by default.

[2018-06-07 06:40] kuvinodms commented on #6778
@bishal-pdMSFT
Fix has been merged with master

[2018-06-07 06:42] goldenbeard commented on #7355
@omeshp Yes I can confirm that the project and build selectors are now working.

I'm still not getting anything appearing in the 'specific' artifact droplist but this doesn't seem to be due to an error and I'm able to type in the name of the artifact to get the task running correctly in my build.

Thanks for the fast fix :)

[2018-06-07 06:42] bishal-pdMSFT commented on #6836
@kuvinodms  please create separate issue to track enabling diff by default in task

[2018-06-07 06:46] kuvinodms opened #7390 "[ServiceFabricDeploy] Enable 'UseDiff', 'CompressPkg' and 'SkipUpgradeSameTypeAndVersion' checkboxes by default"

[2018-06-07 06:47] omeshp commented on #7355
Thanks @goldenbeard for confirmation.

Also 'specific' artifact droplist only works if the "Build version to download" is "Specific Version".

[2018-06-07 06:47] #7355 closed

[2018-06-07 06:48] kuvinodms commented on #6836
@bishal-pdMSFT
Create the new issue #7390
Feel free to update the same if you want to involve enabling Compression or enabling SkipUpgradeSameTypeAndVersion with the same issue

[2018-06-07 06:49] bishal-pdMSFT commented on #7390
Enable compression and skipupgradeforsameapptypeandversion as well

[2018-06-07 07:50] linuxchata commented on #6439
Is there information about container images cached on **Hosted Linux Preview** agents?

[2018-06-07 07:57] #7338 closed

[2018-06-07 09:43] georgekargakis commented on #2126
You have to keep in mind when you use ```dotnet test```
[code]

[2018-06-07 09:53] ShreyasRmsft commented on #7377
@SeriousM can you please provide the build/release logs with system.debug=true.
Please upload the entire zip file you get.

Also in the vstest task have you set the test platform version to installed by tools installer?

![image](https://user-images.githubusercontent.com/25194518/41092545-c0e024a2-6a66-11e8-83c7-709ea39b61fe.png)

[2018-06-07 13:50] SeriousM commented on #7377
That was the solution. It was set to "Latest" which suggested to select a special version, not a result of a preview executed task.
Thank you. Maybe this could be enhanced to be set automatically or suggested if CodeCoverage.exe wasn't found?

[2018-06-07 14:04] DarshanS3792 commented on #5075
Hey guys,

I am trying to build my Android app on App Center, but the build fails everytime. Build works fine on local machine but it fails only on App Center. Please help ! BTW if i need to update nuget on App Center, how do i do that. Steps please !

I am using VS 2017 version **15.7.3** and Nuget package manager version on VS is **4.6.0**

Below is the log.

git-lfs/2.4.2 (GitHub; darwin amd64;

[2018-06-07 14:07] DarshanS3792 commented on #4425
Hey guys @developernm @madhurig

I am trying to build my Android app on App Center, but the build fails everytime. Build works fine on local machine but it fails only on App Center. Please help ! BTW if i need to update nuget on App Center, how do i do that. Steps please !

I am using VS 2017 version **15.7.3** and Nuget package manager version on VS is **4.6.0**

Below is the log.

git-lfs/2.4.2

[2018-06-07 14:09] DarshanS3792 commented on #5075
@madhurig Thank you. Will post on their support channel.

[2018-06-07 18:53] Tadimsky commented on #6755
@bishal-pdMSFT this is great news! looking forward to the improvements. Not super urgent but would be nice to have soon as it makes VSTS much more useful.

[2018-06-07 22:16] jotaylo commented on #7316
Does this PR address your issues? #6440
If you swap back to specifying a token (which has a 2000 character limit) it should now be supplied as _authToken

[2018-06-08 06:11] ShreyasRmsft commented on #7377
@SeriousM thank you for your feedback. @PBoraMSFT for taking a look at the feedback.

[2018-06-08 06:11] acesiddhu commented on #7358
As @prawalagarwal suggested please use .net task to run netcore tests

[2018-06-08 06:11] #7358 closed

[2018-06-08 08:01] SWarnberg opened #7403 "BDT Workflow"
Hi,

I'm trying to figure out how to use the new VSTest task in a BDT workflow, using DevTestLab. Previously we've successfully used the Deploy Test Agent and Run Functional Test tasks on target VM's, but since they are now deprecated, I wonder how we're supposed to use this task an remote machines?

I had the following workflow with VSTS Release Management in mind:

1. Create VM with **Azure DevT

[2018-06-08 11:40] azooinmyluggage commented on #3959
Yes. Have you tried the latest App Service task version. It has support for Web App for Containers and the scenario you have mentioned can be easily attached.
Also look at Azure DevOps Project in case you want to setup a container pipeline in just three simple steps.
https://azure.microsoft.com/en-in/features/devops-projects/

[2018-06-08 12:45] chrisrpatterson commented on #6439
The host is not the same for each build, it is a fresh host each time for security and consistency reasons.  We do precache some of those images on the host machines.  We can look at caching others but that cache will always drift from what is currently published simply due to how often the pool is updated.  So it is possible that you build a docker container with a node base and you get a differe

[2018-06-08 12:57] bryanmacfarlane commented on #6439
note that we are going to release a new Ubuntu (released) hosted pool and we're investigating caching a series of more focused containers (node, dotnet core etc...).  We may keep a couple tags of each.  But as @chrisrpatterson noted, you're cache hits will be hit or miss for a number of factors.  We're experimenting now.

This issue should move to vsts-image-generation repo since that's where the

[2018-06-08 13:59] omeshp commented on #7263
@pinkfloydx33 we currently only support sending json payload for fetching the token.

What's the validity of this token? Can it be generated at endpoint creation time and saved with the endpoint?

[2018-06-08 16:00] DonJayamanne opened #7408 "GitHub PR Status not updated correctly"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- GitHub Project: https://github.com/Microsoft/vscode-python
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version: VSTS (Online)

    - If using VSTS, provide the account name, team project n

[2018-06-08 16:12] schmidtaa commented on #6669
@GregoryOtt  Do you have VSTest issue in github for running tests against Test Plan?

[2018-06-08 16:20] GregoryOtt commented on #6669
@schmidtaa not in VSTest repo. In this repo I have a more recent issue => #6674

[2018-06-08 16:29] schmidtaa commented on #6669
Got it, thanks.

[2018-06-08 16:47] Ty-Bot opened #7410 "TFS 2018 Update 2 with SonarQube"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
TFS on-premises?
2018 Update 2

- Agent - Private:
 OS - Windows Server 2016 Datacenter
 Agent - 2.131.0

## Issue Description
 we have a build definition that works in TFS 2015 but fails for the 2018 build.
The step that fails

[2018-06-08 16:50] ericsciple commented on #7410
wrong repo. you need to follow-up with the extension author. click the node in the timeline tree, the first thing printed should be info about the task author.

[2018-06-08 16:51] #7410 closed

[2018-06-08 16:54] ericsciple commented on #5717
The fix is in master now. It will roll out across all scale units within the next few weeks.

[2018-06-08 16:55] jabbera commented on #5717
Any way to get it on prem?

[2018-06-08 17:52] bryanmacfarlane commented on #5717
It will be in the next on prem release.  The current workaround (above) is also viable (shorten the work path).

[2018-06-08 18:05] ericsciple opened #7413 "Bump tasks to consume latest vsts-task-tool-lib"
A [race condition](https://github.com/Microsoft/vsts-task-tool-lib/pull/41) was fixed in the vsts-task-tool-lib.

I'm planning to leave this issue open until all of the tasks in this repo are updated.

[2018-06-08 18:53] jotaylo commented on #7386
Have you tried using the 'custom' NuGet command to sign the package?

[2018-06-08 23:10] pkumar1986 commented on #4171
I have the same issue while publish a web application to azure -
1. Error from VS 2015 : Web deployment task failed. (Web Deploy experienced a connection problem with the server and had to terminate the connection.  Contact your server administrator if the problem persists.  Learn more at: http://go.microsoft.com/fwlink/?LinkId=221672#ERROR_CONNECTION_TERMINATED.

2. And also Error while using "gi

[2018-06-08 23:13] pkumar1986 commented on #4171
I have the same issue while publish a web application to azure -
1. Error from VS 2015 : Web deployment task failed. (Web Deploy experienced a connection problem with the server and had to terminate the connection.  Contact your server administrator if the problem persists.  Learn more at: http://go.microsoft.com/fwlink/?LinkId=221672#ERROR_CONNECTION_TERMINATED.

2. And also Error while using "gi

[2018-06-09 04:31] viveknuna opened #7414 "How do I see the no. of lines added, modified and deleted between two sprints in VSTS?"
I want to see the code changes between two sprints. Or the no. of lines added, modified or deleted in a sprint .searched a lot in VSTS but could not find this feature. So is there any workaround for this? My VSTS is integrated with GIT.

For now, I have tried the below command, but it requires two commit ids and I want to give sprint or time as input. And it should ignore the autogenerated files l

[2018-06-09 12:28] bryanmacfarlane commented on #7357
@nschonni - all the tasks with the broken fwlinks already have doc content in the docs repo.  The release team moves the doc content in the markdown into those.

[2018-06-09 18:01] viveknuna commented on #7414
So what should I do?

[2018-06-10 17:00] sachinma commented on #7389
Are you using the template without any change? Could it be that you have un-set "Add project name to publish path" field. I am not able to repro this with the default template. If possible, can you share the complete debug logs (here or send them to RM_Customer_queries@microsoft.com).

[2018-06-10 19:47] yhan commented on #7358
I resolved by excluding NUnit3.TestAdapter.dll as part of Testing assembly ( before this resolution, wildcard *test* was used.

Now, the filter is
[code]

So I suppose that what is meant by

is test runner found no test in NUnit3.TestAdapter.dll, which is normal. ;)

As task, I do use Visual Studio Test. That does not seem a problem.

[2018-06-11 00:17] wahyuen commented on #7389
The only thing I've unchecked from the default template is the `Publish Web Projects' field (WebAPI project). I can confirm the `Add project name to publish path` is still set.

I've emailed through the full logs to the above email address :)

[2018-06-11 04:28] sachinma commented on #7389
I looked at the logs, and I think I understand the issue. This is when you pass "Path to project(s)" as empty - then we are not able to publish individual projects to separate sub-folders. You can use the same pattern as you have in other tasks "**/*.csproj" or the path to the project that you want to publish and then things should work fine.

The current work-around you have to put an artifacts s

[2018-06-11 05:05] bansalaseem commented on #7151
As @pjquirk has replied, I am closing this issue

[2018-06-11 05:05] #7151 closed

[2018-06-11 06:40] kaadhina commented on #7403
@SWarnberg
The build agent machines can run UI tests and the steps you have mentioned above is the recommended approach if you want to dynamically create VMs, run tests and delete them.
However, if dynamic creation of VMs is not necessary, you may create a pool of build agents and use them to run the tests.
Here is a [link](https://blogs.msdn.microsoft.com/devops/2017/03/26/vstest-task-dons-a-new-

[2018-06-11 07:06] SWarnberg commented on #7403
Hmm, that didn't really solve my question. Can you elaborate on how to setup a release workflow, and in which phases each task will execute in?
The problem with the steps I mentioned is that they execute on the Agent phase on the build machine, and the VSTest task can't execute remotely on the newly created VM.

[2018-06-11 08:06] maikvandergaag commented on #7271
Is it correct that all variables need to be "Release" scoped?

[2018-06-11 08:40] kaadhina commented on #7403
Sure.
Firstly, if the dynamic creation is not mandatory, I will recommend setting up a pool of agents and using it to run the tests, as mentioned in the link. In that case you will just have one phase where you will have the test task.
If it is mandatory, you can setup one phase where you can create the machines, setup build agents on them and configure them to run against a particular pool. You c

[2018-06-11 08:47] ds-ms commented on #6967
Duplicate issue. Following up here: https://github.com/Microsoft/vsts-tasks/issues/7032

[2018-06-11 08:47] #6967 closed

[2018-06-11 09:19] fgiele commented on #7295
Having the same issue, also with an on-premise installation of TFS 2018 (update 2 RC2), with a proxy.
What ports are used by this task? Since 445 and the PowerShell ones are opened.

(So on-premise build/release servers to on-premise production servers)

[2018-06-11 10:54] vithati commented on #6872
Hi, Can you try to execute docker command "/usr/local/bin/docker run --rm -v /vsts/agent/_work/7/a:/out -v /vsts/agent/_work/7/s:/protos pseudomuto/protoc-gen-doc" manaually on your agent machine and check it is working or not. I tried on my setup i didn't any issues.

[2018-06-11 10:55] vithati commented on #7298
Can you retry deployment and see issue occuring or not?

[2018-06-11 10:57] vithati commented on #7388
"C:\Program Files\Docker\Docker\Resources\bin\docker.exe" tag mseg-cmc/rules-dev ***.azurecr.io/mseg-cmc/rules-dev:latest here issue with ***.  ***.azurecr.io is  not vaild repo, so it throwing error. Can you try with proper name in repo and see issue exist or not.

[2018-06-11 11:24] ossentoo opened #7423 "VSTS SqlAzureDacpacDeploymentV1 task does not respect the BlockOnPossibleDataLoss parameter in VSTS release template"
## Environment
- Server - VSTS - organisational.  Please contact us for further information re: logs

    - If using VSTS, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:

    - Windows 2016 Datacenter

## Issue Description

In a VSTS release template, a dacpac db schema update for Azure SQL is not being processed because the above tas

[2018-06-11 12:08] GitHubSriramB commented on #7352
@cosminstirbu - We currently support taking latest build from a build definition as input to the download build artifact task and log the build that is used. However we don't output this build as a variable from the task. If we add output variable (say DownloadBuildArtifacts.BuildNumber) would that suffice?

[2018-06-11 12:11] GitHubSriramB commented on #7339
@madhurig - can you take a look as this is related to SSH endpoint/task?

[2018-06-11 12:33] GitHubSriramB commented on #6991
@NenoLoje - good suggestion. We will take up this improvement shortly.

[2018-06-11 12:41] GitHubSriramB commented on #7143
@scott-lin - we will investigate if this is an issue with service endpoint UI/API. Thanks for letting us know.

[2018-06-11 12:51] #7210 closed

[2018-06-11 12:52] vineetmimrot opened #7424 "[Azure SQL Database Deployment] task fails when SQL server name provided with "tcp:" prefix"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:
VSTS

- Agent - Hosted or Private:

[2018-06-11 12:55] GitHubSriramB commented on #7061
@doormalena  - could you clarify if you intend DownloadBuildArtifacts task to get content of TfvcLabel and set it as value for build.sourceLabel output variable?

[2018-06-11 13:01] cosminstirbu commented on #7352
Hi @GitHubSriramB,

Yes, we would use this output variable to set the build number of the acceptance test suits build.

So a DownloadBuildArtifacts.BuildNumber or something similar would be exactly what we need (not sure if we want to make it even more complex and take into account several Download Build Artifacts tasks, have them output some sort of unique variable - but for now having a single v

[2018-06-11 13:04] GitHubSriramB commented on #6935
@steve-hawkins - are all the cluster connections for which you want to create a variable used within same environment?

[2018-06-11 13:07] svaenn commented on #6717
@sureshtadisetty I ran into this issue on my account: portalsystems-de.visualstudio.com. It only works using the {}-body-workaround. Shouldn't it work with an empty Body, too as the fix is deployed by now?

[2018-06-11 13:43] brcrista commented on #7378
I tested this and it is working fine for me.  Can you run with System.Debug=true and send us the full log file for the Install SSH Key step?  Also, how did you upload your private key?

[2018-06-11 13:46] willmorgan commented on #7378
Hi @brcrista, it seems that it might be due to the fact I'm doing this on a feature branch and that my default branch's `.vsts-ci.yml` doesn't reference the secureFile:

https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-authz.md

[2018-06-11 14:17] brcrista commented on #7378
Ok, that is helpful information.  Are you able to clone the build definition and set the default branch to your feature branch to see if that fixes the issue?

[2018-06-11 14:17] brcrista commented on #7378
Or, I don't think you can clone YAML definitions.  But create a new definition, etc.

[2018-06-11 14:21] ericsciple commented on #7378
We have a better resource authorization experience coming in one to two sprints.

A workaround that covers most cases is, navigate to the build definition in the web, switch the default branch to your branch, save, revert back to your desired default branch, save again.  The act of saving the definition loads the file (from the default branch) and authorizes discovered resources.

[2018-06-11 14:49] gbrueckl commented on #4830
for my scneario, all I needed from AzureAD module now exists in AzureRM module. but the Module version is 6.0.1 and the VSTS taks always uses 5.1.1
So far I could not find a way to update the module - is this somehow possible?

[2018-06-11 15:05] willmorgan commented on #7378
Thanks guys.

We've had to set up our own npm registry to workaround this issue, which has been a bit of a time sink for us - but if we encounter another requirement where we need to reference secure files on feature branch builds then we'll try those steps above.

[2018-06-11 15:33] GreyMana-git opened #7426 "Release Pipeline view (preview feature) doesn't show the current progress"
When using ##vso[task.setprogress value=x] in a PowerShell deployment script, the progress won't be shown in the release pipeline view (preview feature) on VSTS.

The current deployment view will show the percentage as a tooltip on the current deployment step (this was fixed with issue #4006). The tooltip on the new release pipeline view doesn't show this information. Visually it would be nicer to

[2018-06-11 15:35] doormalena commented on #7061
Not sure if I understood you correctly.
- Yes we want to use DownloadBuildArtificats task to get the content of a TfvcLbel
- However, not to set this label with a value, but to obtain it's value. The value of the build.sourceLabel label we want to use in the build definition which uses this DownloadBuildArtificats task.

[2018-06-11 15:40] doormalena commented on #7386
Yes I ended up with a custom command. Nevertheless it would be nicer if this is available out of the box :-).

As a reference for others searching for the same answer:
- NuGet Tool Installer task configured to install NuGet version 4.6.0
- NuGet task configured with a custom command:
`sign $(Build.ArtifactStagingDirectory)/**/*.nupkg -CertificatePath $(Agent.WorkFolder)\_temp\CodeSigningCertificat

[2018-06-11 16:08] kjkc-gar commented on #7295
@kelliejos - It doesn't appear that it's an issue with proxy config. I've whitelisted, but I still receive the same error.

[2018-06-11 16:53] brcrista commented on #7339
To make sure I am clear on the problem: you are saying that you are unable to connect with the "SSH" task when you are using a private key without a passphrase?  Can you please run a build with System.Debug=true and send the log file for this build step?

[2018-06-11 16:53] davidwmartines opened #7427 "Helm deploy, Value File, vsts variable substitution"
How can I use the VSTS variables in the Value File used in the "**Package and deploy Helm charts (Preview)**" task?   I tried using a value file artifact (external to the chart) containing `KEY: $(some-var)`, but just got the literal "$(some-var)".

[2018-06-11 17:09] davidwmartines opened #7428 "Helm deploy, multiple values not passed properly"
**Package and deploy Helm charts (Preview)**

For the _Set Values_ field, the help text says

This results in following arg passed to the helm install/upgrade command:
`--set key1=val1,key2=val2`

It should send this instead:
`--set key1=val1 --set key2=val2`

[2018-06-11 17:30] davidwmartines commented on #7428
OK, looks like helm does support csv string here.

[2018-06-11 17:30] #7428 closed

[2018-06-11 19:07] grayjeremy opened #7429 "Shell Script output "Build Issues" report"
I've got a shell task in a VSTS build, running on a linux agent, that outputs the following in the logs

I'm running the linting command in a "fail on warning mode" that fails with return code 1.

When I look at the build summary, I see the follwoing,

![capture](https://user-images.githubusercontent.com/37842906/41251874-541bb004-6d89-11e8-98cc-2d987f0d7b9f.PNG)

I'd like to see the text "site/pr

[2018-06-11 19:08] mgreen commented on #7388
@vithati Sorry, i should have mentioned that I added the "*"s just to censor out the name of our ACR. It is actually the correct name in our logs.

[2018-06-11 20:41] andrew-gordon commented on #6480
Hi @ppanyukov

I'm trying to execute 'docker login' inside a VSTS task but I'm getting the error "Cannot perform an interactive login from a non TTY device".  You mentioned there is a way with some hacking. How did you manage to achieve that?  Thanks.

[2018-06-11 22:21] paulgdunn commented on #7316
After having a second look at the linked item #6440 and the commit from Feb 21, it seems that the condition and block starting with line 51: https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/Common/npm-common/npmregistry.ts#L51 is not compatible with anyone that would have an NPM registry and TFS server deployed on-premise where both servers are on the same domain.  And where the NPM regis

[2018-06-12 00:52] Liphi opened #7431 "how can I config 'Visual Studio Test' task in order to run tests under elevated privilege?"
Hi, for my vsts build definition (https://onedrive.visualstudio.com/Security/ODSP%20Protect/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=2062), I wanna config the 'Visual Studio Test' task to run tests under admin account with elevated privilege because several tests require elevated admin privilege. Is it supported? If no, which task template should I use?

[2018-06-12 00:59] VinKamat opened #7432 "Can't copy file to Azure Blob Storage"
What are the other pre-requisites for private agent such that Azure tasks are run properly? I've installed Azure PS (v6.2.1) and AzureRM modules however still can't **copy a file** to **Azure Blob Storage.**

This works fine if I use the Hosted VS2017 agent.

Log from the task:

2018-06-11T19:28:23.4792254Z ##[section]Starting: AzureBlob File Copy - README.md
2018-06-11T19:28:23.5140067Z =========

[2018-06-12 01:30] bryanmacfarlane commented on #7432
@kmkumaran

Note that there isn't a requirement to run private agents as admin.

[2018-06-12 02:42] Davis10733 commented on #7298
I've retried it and it's same.

[2018-06-12 03:45] sachinma commented on #7174
@bishal-pdMSFT  any update on this?

[2018-06-12 06:15] prawalagarwal commented on #7387
Hi @strosu
Are you on VSTS or TFS? If TFS which version? Can you please send your run logs where you face this issue (with system.debug set as true in your build variables) to devops_tools@microsoft.com

[2018-06-12 07:28] vithati commented on #7298
Can you provide your VSTS account name.

[2018-06-12 07:30] Davis10733 commented on #7298
http://kpmg-taiwan-blockchain-lab.visualstudio.com

[2018-06-12 08:47] PBoraMSFT commented on #7403
@SWarnberg - I will be happy to chat with you to go over your workflow and get you setup. Can you send me a mail at pbora AT microsoft DOT com?

[2018-06-12 09:10] GitHubSriramB commented on #6935
@steve-hawkins - cluster connections used within same environment can reuse the same endpoint if it is promoted as a process parameter. Although there is no UI experience to do this, it is possible to use RM REST APIs to do this. Here's a blog that explains how this can be achieved:
http://blog.repsaj.nl/index.php/2018/04/vsts-using-process-parameters-in-release-definitions/

[2018-06-12 09:18] JoshPearce91 commented on #7283
The issue has been fixed by turning on "Build with multiple queues", thanks for the suggestion @ShreyasRmsft.

[2018-06-12 09:18] #7283 closed

[2018-06-12 09:40] kuvinodms commented on #7390
For now, we've enabled the same in Release templates to seek customer feedback/results over the same. If things will look fine then we'll do the same on tasks by bumping up the version

[2018-06-12 10:34] divesh987 commented on #1677
Not sure what is meant by inputs. I am trying to use this in VSTS. the First task is an azure powershell task that uses a script to get the key from keyvault, second task uses that secret value as the resource name for resource deployment (testing purposes). It works without the issecret=true, but with it the value is '' (empty).
?

[2018-06-12 11:22] SWarnberg commented on #7403
Thanks. I may contact you when we come to that phase. Right now I'm setting up the VM templates in DevTestLab to be used by the workflow, which is why I want to understand ahead what the requirements will be.
As I understand, either an agent pool or a deployment group is needed, where the test vm should be added. I'm leaning against the deployment group option. I'm also reconsidering to have a fix

[2018-06-12 12:04] niadak commented on #7432
@VinKamat , Can you please share the debug log with us?
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

You can email us the logs to RM_Customer_Queries@microsoft.com

[2018-06-12 12:40] fmanea opened #7439 "Environment variable parsing to Repository\ServerPath field doesn't work as expected"
## Environment
- Server - VSTS or TFS on-premises?
    VSTS private server

- Agent - Hosted or Private:
    private agent:
   OS: Windows Server 2016 -
   Agent version: v2.112.0

## Issue Description
We have the following issue:
In the build definition\Repository\Server Path
If on one of the Server paths we try to use an environment variable in this form: $(Version)
TFS is unable to identify tha

[2018-06-12 13:46] lukewis commented on #7243
@stephenmichaelf Is this still on the radar?  Looks like the pull request was approved, just needs some merge work?

[2018-06-12 13:52] ericsciple commented on #1677
You need to use macro syntax in the input text boxes for secrets. Here is an example:

[code]

[2018-06-12 14:07] RickBlouch commented on #6210
Any updates or new plans to support encrypting secrets as part of a VSTS release task for Service Fabric?  We are also looking to follow [the recommended pattern](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-secret-management), but there appears to be no built-in way to do this yet.

@Tadimsky - Any chance you would be willing to share your scripts?

[2018-06-12 14:54] vithati commented on #7298
Can you attach all release logs.

[2018-06-12 15:12] VinKamat commented on #7432
@niadak  Here it is:

Loading module from path 'C:\Program Files\WindowsPowerShell\Modules\AzureRM\6.2.1\AzureRM.psm1'.
Entering Get-SdkVersion.
Leaving Get-SdkVersion.
Leaving Import-FromModulePath.
Leaving Import-AzureModule.
Leaving Initialize-Azure.
Caught exception from task script.
Error record:
Get-ItemProperty : Requested registry access is not allowed.
At C:\agent\_work\_tasks\AzureFileCo

[2018-06-12 16:11] alexmullans commented on #7386
I've copied this to our internal backlog - thanks for the suggestion!

[2018-06-12 16:15] Symbianx commented on #4318
This is major for us, we used a separate jenkins job to work around this.

🎉

[2018-06-12 16:51] brownbl1 commented on #3393
We also have a need for this ability. We are generating a report (an html performance test) after a deployment step in a release definition and would like to be able to upload that html file to the release for linking to a dashboard eventually but for now just for auditing purposes. We considered shaping the data to look like a test, but we really need the ability to upload the html file, not xml.

[2018-06-12 17:02] brcrista commented on #7295
I am pretty sure this is an authentication issue.  We generate an OAuth bearer token for the download and this is why the proxy can cause issues.  Do you see anything in the proxy's logs that would indicate it [is getting a 401 back from the service?  The URL should look like {tfs host}/{project}/_apis/distributedtask/securefiles/{GUID}

[2018-06-12 18:18] bishal-pdMSFT commented on #6210
This slipped under radar. Let me discuss this internally to see if this is something we can do.

[2018-06-12 19:56] paulgdunn commented on #7316
In my opinion, it would be best if the implementation of the npm endpoint/service definition was the same as the nuget endpoint/service definition.   NPM endpoints only have Basic and PATS.  NuGet endpoints have Basic, PATS, and Token.  If the endpoint definition for npm had 3 options, then the task could be implemented to support Basic, VSTS PATS, and _authToken.  Also, it would be best if the en

[2018-06-12 20:01] vinaysandela opened #7441 "Error at Nuget Restore Step in CI on VSTS"

[2018-06-12 21:07] hairydawgy opened #7442 "Azure File Copy - unable to copy to folder within a container"
I have created an Azure File Copy Task in VSTS building with the Hosted VS2017 agent.  My connection type is Azure Classic and my Destination Type is Azure Blob.   I have specified the container name and I am able to copy a file to the root of the container; however, I need to copy the file to a folder within the container.  I have attempted to specify the path in the container name field, but thi

[2018-06-12 21:58] Naninani opened #7443 "Import-Module AzureRM fails with The TypeConverter was ignored because it already occurs"
## Environment
VSTS

- Agent: Private

- Windows 10 Enterprise N

## Issue Description
Import-Module -Name C:\Program Files\WindowsPowerShell\Modules\AzureRM\5.6.0\AzureRM.psd1 -Global fails with:

Error in TypeData "Microsoft.Azure.Commands.Common.Authentication.Abstractions.IAzureContextContainer": The TypeConverter was ignored because it already occurs.

Details:

This occurs when the module is

[2018-06-12 23:34] zpv commented on #6287
@acesiddhu
It has been a year and I'm still struggling to find a solution to this problem.
Hope it's going to be implemented soon!

[2018-06-13 00:16] Naninani commented on #7443
PR with the fix: [https://github.com/Microsoft/vsts-tasks/pull/7444](url)

[2018-06-13 01:56] AymericG commented on #5318
I keep having this intermittent issue too. Same logs...

[2018-06-13 02:08] Davis10733 commented on #7298
Following logs are the steps that I failed.

2018-06-12T03:00:34.7974330Z ##[debug]Evaluating condition for step: 'create redis service'
2018-06-12T03:00:34.8039087Z ##[debug]Evaluating: succeeded()
2018-06-12T03:00:34.8101999Z ##[debug]Evaluating succeeded:
2018-06-12T03:00:34.8177363Z ##[debug]=> True
2018-06-12T03:00:34.8240231Z ##[debug]Result: True
2018-06-12T03:00:34.8284819Z ##[section]Star

[2018-06-13 02:30] DarqueWarrior commented on #7029
Are arguments going to be shown for inline?  I can't upgrade until it does.

[2018-06-13 02:31] boydc2014 opened #7446 "Release gate doesn't support TaskCompleteEvent for "Invoke REST API" task"
## Environment
VSTS:
https://msasg.visualstudio.com/Bing_and_IPG/Official%20Account%20Team/_releaseProgress?releaseId=72307&_a=release-pipeline-progress

## Issue Description

I created a pre-deployment release gate, with one task "Invoke REST API", and set the success method to "Callback". Then my service receive a call with projectID, jobID, taskID, auth, etc.

When my service done it's work and

[2018-06-13 03:22] Rakesh201180 opened #7447 "Getting Publish-UpgradedServiceFabricApplication : Upgrade was Rolled back error when adding resource governance configuration in applicationmanifest.xml file"
We are deploying our application to azure service fabric cluster using VSTS and Octopus build
After adding resource governance parameters.

[code]
We are getting below error during build.

**Publish-UpgradedServiceFabricApplication : Upgrade was Rolled back.**

Please let us know if any issue is there related to configuration.

we are following below link for configuration

https://docs.microsoft.

[2018-06-13 04:26] Rakesh201180 opened #7448 "Getting xml parse error after adding HealthConfig in ApplicationManifest.xml"
Hi Team,
We are deploying our application to service fabric using VSTS and Octopus build.
For HealthCheck Configuration we are defining Below Configuration in applicationManifest file.

[code]
without **HealthConfig**  build is working fine but when we add

` <HealthConfig IncludeDockerHealthStatusInSystemHealthReport="true" RestartContainerOnUnhealthyDockerHealthStatus="false"/> `

its showing er

[2018-06-13 04:52] doormalena opened #7449 "Warning in NuGet-task (push only): "No package sources were found in the NuGet.config file at D:\a\3\Nuget\tempNuGet_xxxx.config""
We have a NuGet task configured for pushing which raisea a warning that the package source was not found in the NuGet.config (created by the NuGet-task itself).

The warning is incorrect, because the package source is defined explicitly in the configuration page of the task (Target feed setting).

Log:

2018-06-08T12:22:10.6378755Z ==================================================================

[2018-06-13 05:45] ShreyasRmsft commented on #7173
@GitHubSriramB @WaelHamze what is the status here?

Is it a Release side issue or a test side issue? Is there anything actionable from the test team?

[2018-06-13 05:58] ShreyasRmsft commented on #7318
@compuguru are your tests selenium based tests?

[2018-06-13 06:09] ShreyasRmsft commented on #7387
@strosu let us know once you have mailed the logs with system.debug=true

[2018-06-13 06:10] bishal-pdMSFT commented on #7448
HealthConfig seems to be a recent feature. And the task might be using an older SDK which results in error. Are you using HostedVS2017 agent or private agent?

[2018-06-13 06:14] ds-ms commented on #7389
This issue has been fixed, will be rolled out in a few weeks! :)

[2018-06-13 06:14] #7389 closed

[2018-06-13 06:17] Ajay-MS commented on #7423
@ossentoo

Yes, SQLPackage.exe should have ignored the warning when /BlockOnPossibleDataLoss is being set to false. I will check it.

Meanwhile, can you please check in your DB project properties ( project > properties > debug) that checkbox for "Block on incremental deployment if data loss occurs" is disabled.

**Screenshot**

![image](https://user-images.githubusercontent.com/16772764/41333279-e

[2018-06-13 06:18] ShreyasRmsft commented on #7431
@Liphi all you have to do is configure your vsts-agent with the same admin credentials and the task will run using those

[2018-06-13 06:19] ShreyasRmsft commented on #7431
@Liphi lemme know if you need anymore help/clarification and do let me know if this solves your issue.

[2018-06-13 06:42] Ajay-MS commented on #7424
@vineetmimrot

Task should work fine with tcp: perfix

**Syntax**
tcp:\<sqlservername>.database.windows.net,1433

I have just tried with above mentioned format.

**Task Input**
![image](https://user-images.githubusercontent.com/16772764/41334362-fef0e52e-6f02-11e8-800f-070dcbf15114.png)

**Task Logs**
[code]

Can you please share debug logs for your task where it is failing.

[2018-06-13 07:42] Rakesh201180 commented on #7448
We are using private agent

[2018-06-13 09:12] vincentdass commented on #7271
@maikvandergaag , Having the variables in Release scope should be fine.
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/pipelines/troubleshooting?view=vsts#build-and-release-logs
 You can also share the logs privately to RM_Customer_Queries@Microsoft.com.

[2018-06-13 09:13] vincentdass commented on #7161
@AlexanderParadeis , the issue is fixed and the fix will be available in upcoming deployment.

[2018-06-13 09:13] #7161 closed

[2018-06-13 09:16] rokmicrosoft commented on #7049
This is on Azure powershell team and they are working on it https://github.com/Azure/azure-powershell/issues/6165

[2018-06-13 09:26] uankola opened #7454 "Maven repository URL incorrect"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:

[2018-06-13 09:29] uankola commented on #7454
I am using VSTS task Nexus Artifact Upload and noticed that it was constructing the path to Nexus repository incorrectly

2018-06-13T08:44:25.7199884Z ##[debug]nexusUploadUrl=https://<hostname.com>/nexus/**_service/local/artifact/maven/content_**

whereas i wish to upload to content/repositories/snapshots/com

how do i set this in the endpoint setup?  or in the task?

[2018-06-13 09:34] fmanea opened #7455 "Visual Studio Test task - Published test run link only in logs"
## Issue Description
When running Visual studio test task, i can see in the logs that it published the test results:
```2018-06-12T12:56:53.6252551Z Published Test Run : http://tfs-2013-...```

I want to be able to take the link to where it was published and parse it to another task that sends and email to some custom users.
As this information is not available in any environment variable from the

[2018-06-13 10:08] nesshoever commented on #7308
NPM registry is up and running. I can "npm install" locally from here just fine. But on VSTS that step fails with the same network error message.
Seems there's a connection issue from VSTS to npm - correct me if I;m wrong...

[2018-06-13 10:22] pulkitaggarwl commented on #6846
@krish-gh
Thanks for reaching out.
SF endpoint creation requires information such as certificate and password. Wanted to hightlight that and check if you are ok to maintain that as part of code ?

[2018-06-13 12:18] strosu commented on #7387
Hi @ShreyasRmsft , thanks for looking into this.

I've emailed the logs, titled "Logs Test task times out after enabling TIA #7387". The build is running on vsts, please let me know if a build url would be helpful.

[2018-06-13 12:22] bryanmacfarlane commented on #7454
There is not Nexus Artifact Upload task in this repository.  Where did that task come from?  An extension?  You would need to follow up with the author of that task.

[2018-06-13 12:23] #7454 closed, assigned to nobody

[2018-06-13 12:47] fmanea commented on #7439
@bryanmacfarlane , that was not the problem. The problem was that the first step in the build, is "Get Sources" iti didn't break the build when it couldn't find the path in the tfs repository:
![first_step](https://user-images.githubusercontent.com/26770295/41351801-2c54da9e-6f20-11e8-9fa1-4b128d2cf699.jpg)
And it went further, stopping only on build solution, because it couldn't find the project

[2018-06-13 13:08] navin22 commented on #6877
@BeebMeister: The DUnit.xml is not compliance with the JUnit XML that we support. Here is the schema that we support: [supported xsd schema](https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd)

Basically I don't see any `testcase` nodes in your xml under `testsuite` tag. `testsuite` says that it has tests with `test` attribute but there are no `testcase` tags.

[2018-06-13 13:19] vithati commented on #7298
i am able to repo the issue. From logs docker image "jermysu/docker-vsts-ci" does not have docker installed. Assigned to @thechrisjohnson further debugging.

[2018-06-13 13:33] BeebMeister commented on #6877
So I coded to that schema and file does pass schema validation. The testcase element is minOccurs="0.

I am not actually using junit, I am modifying a legacy test runner created for dunit (Delphi tests) and coded to that schema. The only examples of test results I found online only had testcase element when there was a test failure.   Adding the testcase element did fix the problem. Thanks for the

[2018-06-13 13:35] uankola commented on #7454
Hi Bryan,
I am using Nexus Upload task in my VSTS build definition and would like to deply the war file to Nexus.  We have defined an end point for the same.

I noticed that the VSTS task Nexus Artifact Upload was constructing the path incorrectly.  i.e.
2018-06-13T07:55:38.9878799Z ##[debug]nexusUploadUrl=https://<nexus host.com>/nexus/service/local/artifact/maven/content
Whereas it should be htt

[2018-06-13 14:46] roizentner opened #7457 "Updating VSTest task to v2 causes elasticsearch tests to fail"
## Environment
- Server - VSTS
- Agent - Private
- Agent OS: Windows
- Agent version: 2.134.2

## Issue Description
Hi,
I've been going through my old build definitions, updating the VSTest task from v1 to v2.
Everything was going great until I updated a task that runs Elasticsearch tests.
The failing tests include the use of https://github.com/poulfoged/Elasticsearch-Inside
All the tests which in

[2018-06-13 15:13] lukewis commented on #5717
@ericsciple Is there a way to know what the version number of the task will be when this rolls out?  I have several builds dependent on this issue, but I'm not sure what the "signal" will be to know when I should re-test.  I'm seeing version 0.136.0 in the [task.json](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/NodeToolV0/task.json) on master and my current builds are showing a task

[2018-06-13 15:21] ericsciple commented on #5717
We roll out service updates in stages. The first stage (first group of accounts) is rolling out today. The rest will follow over the next couple weeks.

If you are using a private agent, a workaround is to configure a short work folder when configuring the agent.

[2018-06-13 15:46] misterspeedy commented on #5931
@shurane Your solution fixed it for me too.

[2018-06-13 16:13] vithati commented on #7388
Can you enable debug mode (set system.debug = true in build variables) and send the logs.

[2018-06-13 16:19] jikuma commented on #7388
There is  back slash in the name of docker repository ***.azurecr.io/mseg-cmc/rules-pro**d\r:l**atest. Are you sure its valid?

[2018-06-13 16:33] vithati commented on #7388
\r not valid. But this  line does not have "\r" in it. "C:\Program Files\Docker\Docker\Resources\bin\docker.exe" tag mseg-cmc/rules-dev ***.azurecr.io/mseg-cmc/rules-dev:latest". Debug mode prints arguments. We can see arguments info.

[2018-06-13 16:37] jikuma commented on #7388
@vithati you are right. I was looking the error message.

Error parsing reference: "***.azurecr.io/mseg-cmc/rules-prod\r:latest" is not a valid repository/tag: invalid reference format.

This has \r in it.

[2018-06-13 16:46] bergmeister opened #7460 "Visual Studio Test Platform Installer' task to have option to choose latest release"
## Environment
- Server - VSTS or TFS on-premises? -> VSTS

- Agent - Hosted or Private: -> NA

## Issue Description

Visual Studio Test Platform Installer has only an option for the `Latest Pre-Release` but not for **latest release**:
![image](https://user-images.githubusercontent.com/9250262/41365529-87170112-6f31-11e8-8394-fc5c5348be12.png)

[2018-06-13 16:51] bergmeister commented on #7353
@bryanmacfarlane  Any updates on this?
We cannot collaborate/integrate with other company internal VSTS accounts due to this issue. Every account trying to use NuGet packages from this account needs to re-publish the Nuget packages at the moment as a workaround.

[2018-06-13 17:04] bergmeister opened #7461 "PowerShell v2 task to have option to run PowerShell Core on Windows as well"
If the PowerShell v2 task runs on Linux/Mac it uses PowerShell Core automatically but on Windows, it uses Windows PowerShell.
There should be something like a checkbox available to `Run using PowerShell Core` that makes it use PowerShell Core on Windows and the value of this checkbox gets ignored on other systems.

[2018-06-13 17:05] Liphi commented on #7431
We’re using the hosted build agents provided by VSTS (running on their infrastructure, not ours) so we don’t have the necessary admin credentials to configure this.
Any other solution?

[2018-06-13 17:18] bryanmacfarlane commented on #7431
builds in the hosted pool run as admin

[2018-06-13 17:19] bryanmacfarlane commented on #7461
What issue does it cause to have it run by PowerShell on windows?

[2018-06-13 17:20] Liphi commented on #7431
Then may I know why my test throws access denied error when it tries to register an NT service ? It works on my dev box when I run the test with elevated Visual Studio.

[2018-06-13 17:30] Liphi commented on #7431
We're already using Hosted VS2017 as the 'Agent queue'.

[2018-06-13 17:35] puagarwa commented on #7367
The issue has been fixed now, can you please try your scenario now and confirm.

[2018-06-13 21:08] mgreen commented on #7388
I will try to enable the debugging. Just fyi, \r is not in my repository or image names, I believe it's a bug in how the input file is generated/parsed.

[2018-06-13 22:13] jimlamb opened #7465 "Archive Files task should warn user when folder to archive is empty"
## Environment
- All environments

## Issue Description
I was following the "[Implement a CI/CD process to build and deploy your Node.js app to Azure](https://docs.microsoft.com/en-us/vsts/pipelines/archive/apps/nodejs/quick-to-azure?view=vsts)" tutorial using the NodeJS with Gulp template. That template set the root folder to archive setting on the Archive Files task to $(BinariesDirectory). In t

[2018-06-13 23:00] bergmeister commented on #7461
Apart from the fact that PowerShell Core is twice as fast, it has also an improved engine and new capabilities such as e.g. cross platform remoting.
Calling pwsh.exe from Windows PowerShell  is not a pleasure due to various problems and therefore solutions to command line parsing. It is annoying having to escape stuff or having to encode the command.

[2018-06-13 23:15] weznagwama commented on #7426
Where abouts does this display in the old panel? I can't find it...

[2018-06-13 23:16] weznagwama commented on #6176
so output a variable with the value `az account get-access-token` should suffice

[2018-06-13 23:59] mgreen commented on #7388
Here is the debug output. Again ***-ed out the name of the ACR.

Complete build can be found [here](https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=10376663&_a=summary).

[code]

[2018-06-14 01:11] masnider opened #7466 "Service Fabric Deployment Tasks should be using -Async option during Registration of applications"
This API call should be made using the -Async flag. This allows the timeout to be mainly about delivering the command to the platform, allowing the actual work of registering an application type to proceed asynchronously in the background.

https://github.com/Microsoft/vsts-tasks/blob/d2f14192c3a1270b3cad81127c4812738bdfbb5c/Tasks/ServiceFabricDeployV1/ServiceFabricSDK/Publish-NewServiceFabricAppl

[2018-06-14 01:12] masnider commented on #7466
@oanapl fyi

[2018-06-14 01:15] bryanmacfarlane commented on #7461
I'll leave this open and have someone dig into it.

[2018-06-14 03:12] Davis10733 commented on #7298
@vithati Really thank you !! After I install docker into "jermysu/docker-vsts-ci:0.10" it can work now.
I have another question. Do I need to bind docker.sock ? or I can use localhost to access this container ?

[2018-06-14 03:35] Rakesh201180 commented on #7447
Any update on this

[2018-06-14 04:41] bishal-pdMSFT commented on #7447
@Rakesh201180 I believe the right place for this issue is https://github.com/Azure/service-fabric-issues/issues. Why do you think this is a VSTS task issue?

[2018-06-14 04:45] bishal-pdMSFT commented on #7466
Thanks @masnider for bringing this up. We are already are aware of this and have a tracking issue for this. https://github.com/Microsoft/vsts-tasks/issues/6833 and we plan to start working on that in this/next sprint.

[2018-06-14 05:12] joe45sp commented on #7042
@KrishnaAdityaB @RoopeshNair @kmkumaran @GitHubSriramB this might have worked at some point, but it is not working for me at all. Here is the result:

<img width="812" alt="screen shot 2018-06-14 at 1 08 58 am" src="https://user-images.githubusercontent.com/564767/41392644-ee9ac36c-6f6f-11e8-8d9c-23989354b526.png">
<img width="264" alt="screen shot 2018-06-14 at 1 10 12 am" src="https://user-image

[2018-06-14 05:17] Rakesh201180 commented on #7447
I raised same in sf issue,closing that

[2018-06-14 05:17] #7447 closed

[2018-06-14 06:22] MagnusTim opened #7467 "Could not create SSL/TLS secure channel"
## Environment
TFS 2018.2

- Agent - Private:
Windows 2016, agent version: 2.133.3

## Issue Description
After upgrading to TFS 2018.2 and switching to https on our build agents we occasionally get this error in our builds and releases: “Could not create SSL/TLS secure channel”. It occurs in Get sources in the build and sometimes when running PowerShell in releases. Our TFS server uses has both ht

[2018-06-14 06:37] vineetmimrot commented on #7424
PFA logs:
[ReleaseLogs_2.zip](https://github.com/Microsoft/vsts-tasks/files/2101052/ReleaseLogs_2.zip)

![image](https://user-images.githubusercontent.com/4174297/41395243-979807a4-6fca-11e8-85b0-11f2793a1c36.png)

Following are my observations:
1. If I remove "tcp:" from the server name then it works out.
2. If "tcp:" is present in the server name and if I remove "@<server-name>" from the usernam

[2018-06-14 07:53] vithati commented on #7388
Thanks for reporting the issue. I found the bug. I am working on bug fix. Once bug fixed i will update this thread.

[2018-06-14 08:11] ShreyasRmsft commented on #7431
@Liphi can you use the powershell task to try and register an NT service? If this also fails then the agent on the Hosted pools clearly does not have this permission and no task will be able to achieve registering an NT service. But if the powershell task can accomplish this with a simple script the we can further see why it's not happening via the test code.

Can you get back to me on this?

[2018-06-14 08:53] hangy commented on #7170
It seems that `-IncludeReferencedProjects` can also not be applied when using `pack` with `csproj` files. From what I can see, this is currently blocking us from moving away from the deprecated "NuGet" task.

[2018-06-14 09:07] vithati commented on #7298
@TingluoHuang, Can you help customer.

[2018-06-14 09:48] sorosoro2 commented on #7042
@joe45sp , Is this specific to this task group, or are you facing this issue, in other task groups as well?

Can you share the json of the task group with me? It will be right hand side of the latest revision under your history tab

[2018-06-14 09:51] RoopeshNair commented on #7042
@joe45sp - you need to set the value for the endpoint from the task input, you can't pass a variable.
Just to re-iterate, Task group accepts variables for endpoint, task doesn't accept. Hope it helps

[2018-06-14 09:51] #7042 closed

[2018-06-14 10:07] hangy opened #7470 "tfx task"
We are currently using a custom release pipeline to publish a custom, internal VSTS task to our server.

1. `npm install tfx-cli`
2. `tfx login --username $(TfsUsername) --token $(TfsToken) --service-url $(TfsUrl)`
3. `tfx build tasks upload --task-path $(System.DefaultWorkingDirectory)/VSTS-Tasks/Tasks/CustomTask`
4. `tfx logout`

Right now, we have to specify TFS server, username, and token from

[2018-06-14 10:08] phatcher opened #7471 "Azure Web App Deploy: Invalid config when packaging and deploy multiple netcore webs"
## Environment
- Server - VSTS
- Agent - Hosted 2017

## Issue Description

Build a solution containing multiple webs which I need to deploy into Azure as a main web and virtual applications.

Problem I am hitting is invalid web.config in the virtual applications as they contain the asp.net core handler (see [IIS Configuration of sub-applications](https://docs.microsoft.com/en-gb/aspnet/core/host-

[2018-06-14 10:33] GreyMana-git commented on #7426
It's really a little bit hidden, especially when you have a long task name.
1. Start the Release
2. Switch to the "Logs" tab
3. Wait until the PowerShell task is active (maybe change the Start-Sleep to 10 Secondes per tick)
4. Depending on the length of the task it will be shown behind the task name or on the tooltip of the task:

![image](https://user-images.githubusercontent.com/21182009/4140720

[2018-06-14 11:07] GitHubSriramB commented on #7302
Documentation is updated here.

[2018-06-14 11:07] #7302 closed

[2018-06-14 11:14] GitHubSriramB commented on #6935
Closing this issue for now. In case additional help is required, pl. let us know.

[2018-06-14 11:14] #6935 closed

[2018-06-14 11:14] omeshp commented on #7280
The above suggestions don't work for us, that's the reason we went with handling multiple slashes in the artifact engine.

[code]

Closing this issue since it doesn't affect the download.

[2018-06-14 11:14] #7280 closed

[2018-06-14 11:17] AlexanderParadeis commented on #7161
Thank you very much @vincentdass , great to hear that.
Do you know when the next deployment is scheduled?

[2018-06-14 11:27] GitHubSriramB commented on #7263
@pinkfloydx33  - we will track the improvement to getTokenUsingBasicAuth in our backlog.

Another option is to create a service endpoint UI contribution, generate the token within that UI and save it with endpoint.

In case you are interested in this option, pl. let us know.

[2018-06-14 11:31] GitHubSriramB commented on #7061
@doormalena - DownloadBuildArtifacts task currently only supports downloading server drop & file share artifacts.

We are adding a task to download file share artifact:
https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/DownloadFileshareArtifactsV0/main.ts

Suggest having a custom task to download TfvcLabel artifact along the same lines.

[2018-06-14 11:33] GitHubSriramB commented on #6991
Since this is a Build scenario, @madhurig - could you take a look at this suggestion?

[2018-06-14 11:41] bryanmacfarlane commented on #7470
Yeah, it would be easy.  If you look at the vsts-task-lib repo, there's a method that gives you a bearer token (generated per build) which represents the service account. Now, it's still up to users to give permissions to the build service account - by default it has reasonable access like read sources etc...

The problems you would have with that task:
1.  You would have to give the build service

[2018-06-14 11:41] #7470 closed

[2018-06-14 11:46] bryanmacfarlane commented on #7465
I would probably go the more information route.

@stephenmichaelf - we can print the number of files to be zipped, and print the first level files / folders (up to 10 and if ten ... line below).

That gives the user an understanding of what they're zipping.  For both the empty file case and the case where there's an unexpected root folder, it will be clearer to the user the effect of what they con

[2018-06-14 11:47] bryanmacfarlane commented on #7467
Not an issue with the tasks (/Tasks) in this repo.  Probably better to create an issue in Developer Community.

[2018-06-14 11:47] #7467 closed

[2018-06-14 11:54] bryanmacfarlane commented on #7429
Seems more like a bash scripting question :)

Haven't tried this but I think you want to run it and then pipe to grep (to filter) and then to sed which is a stream editor.

Something like this?
https://unix.stackexchange.com/questions/143798/why-does-the-same-sed-regex-after-grep-fail-when-run-in-a-bash-script-vs-bash

To do that, you would have to use a cmd line task or a a script in between.

[2018-06-14 12:04] joe45sp commented on #7042
@RoopeshNair can you please provide an example on how to do this with screenshots? The only way I know how to add variables to a task group is by setting a variable inside of a task in the task group itself. Here is the example article I found on how to to this and this doesn't work for me. Other than this, I have found now detailed examples on how to do this. [https://colinsalmcorner.com/post/tip

[2018-06-14 12:12] joe45sp commented on #7042
@RoopeshNair @kmkumaran @KrishnaAdityaB @GitHubSriramB please respond quickly, as I need to hit production today and need this working. If one of you can either provide detailed examples with screenshots on how to to this, or do a screen share with me to walk me through it, that would be awesome. In @RoopeshNair example above, he specifically shows that you can put a variable for the Azure Subscri

[2018-06-14 12:15] bryanmacfarlane commented on #6991
That suggestion should probably be created @ developer community.  The issues in this repo are for the tasks (/Tasks) in this repo.

[2018-06-14 12:18] vincentdass commented on #7161
@AlexanderParadeis , the deployment should commence in ~4-5 weeks.

[2018-06-14 12:32] SadagopanRajaram commented on #7367
We have completed the deployment of the fix and verified it. Please let us know if it still an issue.

[2018-06-14 12:32] #7367 closed

[2018-06-14 12:34] RoopeshNair commented on #7042
@joe45sp  - can you please save, clear browser cache and try again?

[2018-06-14 12:46] sorosoro2 commented on #7042
@joe45sp , please share the json on the right hand side of your latest revision from history, if possible

[2018-06-14 12:50] hangy commented on #7470
Thank you very much for your thorough response. Considering the TFS build account does not have the elevated permissions, the suggested approach sounds like a really good idea! I am not too eager having to configure the service endpoint and it's credentials manually, but considering they do not change too often, that is still doable. Again, thanks for your response - I'm positive that we can get r

[2018-06-14 13:28] MatteoSp commented on #4163
Same issue.

My app service settings:

![appservice](https://user-images.githubusercontent.com/206792/41414800-4f189f94-6fe7-11e8-9ec4-71debe4adcc7.PNG)

My task settings:

![deploytask](https://user-images.githubusercontent.com/206792/41414818-59d4b2d8-6fe7-11e8-8194-9a353c245737.PNG)

My task log (System.Debug was set to true):

[tasklog_9.log](https://github.com/Microsoft/vsts-tasks/files/21025

[2018-06-14 15:24] thechrisjohnson commented on #7298
If you're using the current Hosted Linux Agent, the agent is running in a docker container that has the docker socket mapped into the container, so you should be able to map the same docker socket into your new container, and it will use the hosts docker daemon.

[2018-06-14 15:30] david-higgins commented on #1831
👍 Getting this too.  Using hosted agents, passing a .app between phases, not sure how will workaround right now but probabbly zip... 🤔

[2018-06-14 16:14] Davis10733 commented on #7298
@thechrisjohnson Thank you ! But how do I configure it ? Is it possible to do it on vsts-ci.yml ?

[2018-06-14 16:38] symborsk commented on #1441
We are using a VS2017 Agent in order to deploy a SQL Dacpac file. We get the following error message corresponding to a timeout.

*** Could not deploy package.
Error SQL72014: .Net SqlClient Data Provider: Msg -2, Level 11, State 0, Line 0 Execution Timeout Expired.  The timeout period elapsed prior to completion of the operation or the server is not responding.
Error SQL72045: Scr

2 more errors.

[2018-06-14 19:16] brcrista commented on #7295
This should be fixed now thanks to @mmajcica .

[2018-06-14 20:31] SteveL-MSFT commented on #7461
If a user is authoring a cross platform PowerShell script (doing builds, running tests) across Linux, Windows, and macOS.  Currently they have to special case Windows PowerShell because there have been breaking changes and new capabilities we've taken in PowerShell Core.  What @bergmeister is saying is to have PowerShell Core as an option on Windows which runs happily side-by-side with Windows Pow

[2018-06-14 20:32] SteveL-MSFT commented on #7461
I should mention that adding PSCore6 to the Windows image can be as simple as using the .zip we publish and updating the system PATH env var so that `pwsh` is found.

[2018-06-14 21:13] bryanmacfarlane commented on #6991
I thought you were suggesting us analyzing the graph service side and warning (and why Sriram suggested build look at it).

Re-opening and moving back to Sriram since it's the same task used in build and release.

[2018-06-14 22:18] pinkfloydx33 commented on #7263
@GitHubSriramB  I would be interested in that. How would I go about setting that up?

[2018-06-15 02:27] xom-pschiess opened #7478 "Release Task - Dynamic Picklist Without Service Endpoint"
Greetings, I am using TFS 2018 (on-prem).

I want to populate a RM task picklist with results from a REST API call that is hosted externally such as:

`{
    "versions": [
        "4.1.2",
        "3.9.1",
        "3.8.7"
    ]
}`

I see that there is a way to do this with Service Endpoint, which adds an extra field to the display that I would prefer not have.

Can I do a simple HTTP GET on the Re

[2018-06-15 05:01] niadak commented on #7442
Can you provide blob prefix value in the task and try? It will create a folder with the blob prefix name and copy the files under it.

![image](https://user-images.githubusercontent.com/11937515/41450720-23bcbde4-7087-11e8-99f2-42a65354507e.png)

[2018-06-15 05:39] Ajay-MS commented on #7424
@vineetmimrot

We will fix this scenario soon.

But  assuming you are not blocked on this issue as there are following options
1. If SQL server name is being provided with TCP: prefix then provide username directly instead of <username>@<servername>
2.  Provide server name with TCP: prefix if username is being provided in <username>@<server name> format.

[2018-06-15 08:17] oughton commented on #7461
Doesn't the change [here](https://github.com/Microsoft/vsts-tasks/pull/6175/files) mean that PowerShell Core is preferred if present on the Windows Agent in version 2 of the task?

[2018-06-15 09:59] ShreyasRmsft commented on #7455
@fmanea you can use a simple powershell script to get [environment variables containing the build/release id](https://docs.microsoft.com/en-us/vsts/pipelines/build/variables?view=vsts&tabs=batch#buildbuildid) of the ongoing build or release and use the [vsts rest apis ](https://docs.microsoft.com/en-us/rest/api/vsts/test/?view=vsts-rest-5.0) to get test runs associated with the current build or re

[2018-06-15 10:01] vincentdass commented on #7471
@phatcher , Can you try `XML transformation`  in App Service Deploy task to transform your web.config as required?
![image](https://user-images.githubusercontent.com/20121508/41462504-b5e4ba5e-70b0-11e8-9c9c-a3008cb142c8.png)
More info [here](https://docs.microsoft.com/en-us/vsts/pipelines/tasks/transforms-variable-substitution?view=vsts#xmltransform).

[2018-06-15 10:19] vincentdass commented on #4163
@MatteoSp , can you ensure that you created virtual application in **staging** slot?
If the issue still exists, browse `https://resources.azure.com/subscriptions/f7904463-b451-4f2d-a0aa-ea800705e73b/resourceGroups/map-dev/providers/Microsoft.Web/sites/cd-public-map/slots/staging/config/web` and share the result to `RM_CUSTOMER_QUERIES AT MICROSOFT DOT COM`

[2018-06-15 10:22] ShreyasRmsft commented on #7457
@roizentner it might not be the task per se. The v2 version uses the new Microsoft.TestPlatform (TPv2). This could be causing the issue.

Can you send me build logs (with system.debug=true) from the older builds where this test was passing and also from the newer builds where this is failing.

[2018-06-15 10:25] ShreyasRmsft commented on #7460
@bergmeister the task is still in pre-view. Right now Latest Pre-Release gets you the latest version (Stable or Preview). We will soon be adding an option for latest Stable also.

But do note that as of today if the latest version available is a stable version then choosing latest pre-release gets you that.

[2018-06-15 10:27] ShreyasRmsft commented on #7460
@bergmeister for all intents and purposes latest pre-release == latest release.
These pre-release versions are also thoroughly tested internally.

Also if you are adamant on sticking to a specific stable version then you can use the specific version option.

[2018-06-15 10:33] aaron-bozit commented on #6135
Hi All,

I was wondering if there has been any progress on allowing a VSTS private NuGet package feed to be read from the dockerfile build process? I've tried creating a nuget.config file that can be then read by the dockerfile **COPY nuget.config /root/.nuget/NuGet/** which is created at build time using a PAT token.

Thanks.

[2018-06-15 10:55] zingaroo commented on #7185
I experienced the same problem which led to one of the nodes being stuck at "RollingForwardInProgress". What is the recommended way to make the node/cluster get out of this state?

[2018-06-15 11:10] kuvinodms commented on #7185
@zingaroo
The ServiceFabricDeploy task has no control over the cluster's node and its state post initiating the Service Fabric Application Upgrade process other than polling the upgrade status and surfacing it once done.

[2018-06-15 11:17] ShreyasRmsft commented on #7387
@strosu from the build logs it seems like it's stuck on a particular test
The logs indicate 151 tests have passed. While 154 tests were supposed to run.

One of tests is causing the hang when Test impact is on.

2018-06-13T11:39:20.4862165Z 19.6099
2018-06-13T11:39:20.4958979Z 4.794
2018-06-13T11:39:20.5714581Z 68.8016
2018-06-13T11:39:20.5958934Z IncrementMes***ges called
2018-06-13T11:39:20.5959

[2018-06-15 11:34] niadak commented on #7432
@VinKamat , It will be great if you can share the complete debug logs with us.
I have tried the scenario with AzurePS V6.2.1 and it is working for me.
You can email us the logs to RM_Customer_Queries@microsoft.com.

[2018-06-15 11:47] fmanea commented on #7455
Hello,
Basically I would need the runId from be able to construct my own link to add it to the email
```2018-06-15T11:30:41.3061285Z Published Test Run : http://tfsLink:8080/tfs/DefaultCollection_2010/GamingX/_TestManagement/Runs#runId=642009&_a=runCharts```
But this runId is nowhere to be found.

I don't need to take a decision upon it, I only need the link.
On that link we can find a sumarry of

[2018-06-15 12:47] zingaroo commented on #7185
I understand that. My question was more regarding a general recommended way since this bug created some problems for us, but I will post that in another forum instead.

[2018-06-15 13:12] roizentner commented on #7457
Hi @ShreyasRmsft, and thanks for responding so quickly.
Your request for build logs (with system.debug=true) made me curious so I started checking them myself.

First of all, I was a bit inaccurate in my initial post regarding the update of the VStest task to v2. I actually replaced my explicit v1 task with a task group that had v2. **That's when the tests started failing**.

After endless runs wi

[2018-06-15 13:36] cervengoc opened #7485 "VSTest: All test tasks have started to fail unexpectedly"
## Environment
- Server - VSTS, dealogic.visualstudio.com
- Agent - Private, 2.134.2, Windows Server 2012R2,

## Issue Description

We're using the VsTest Platform Installer task to set up our environment, using latest pre-release version.

Visual Studio Test tasks constantly fails on every environment since about beginning of this week. The error log is the following on every environment. We use

[2018-06-15 13:37] hairydawgy commented on #7442
@niadak  that worked!  Thank you.  I suggest updating the tooltip as it wasn't obvious that adding a blob prefix related to virtual folders.

[2018-06-15 13:37] #7442 closed

[2018-06-15 13:45] brcrista commented on #7295
If you want the change right away, you can clone the repo, build the task, and deploy it to your account.

To deploy, get [TFS CLI tool](https://www.npmjs.com/package/tfx-cli)  and run

[code]

[2018-06-15 13:51] mmajcica commented on #7295
If it is not a proxy problem, can you tell us how did you setup your agent? During the installation of the agent, have you perhaps used pat for authentication?

[2018-06-15 14:04] ericsciple commented on #7461
No that is the version that runs on Linux/macOS.

If you are on Windows it will always go to PowerShell.exe, it will only look for pwsh on Mac and Linux.

We have discussed adding a bool “pwsh: true” to enable Windows users to require pwsh. Does that sound good?

[2018-06-15 14:44] oughton commented on #7461
Ah right. @ericsciple that would work great for us!

[2018-06-15 14:52] MatteoSp commented on #4163
thanks, that solved the issue. I didn't get web applications needs to be created in slots too.

[2018-06-15 15:02] EzraBrooks opened #7487 "Can't edit any field of a new build definition"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:
The account name is fastcase-inc.

[2018-06-15 15:14] eric-caslake opened #7488 "Deployment Contributor"
When attempting to use a deployment contributor in the Azure SQL Database Deployment task on a hosted VSTS release to apply schema filters to the dacpac file, I am getting an error.  If I use the same parameters dacpac and deployment contributor from my local machine it runs without error.

Both the dacpac and the deployment contributor assembly exist in the artifacts folder.  But when the release

[2018-06-15 15:16] chvollm opened #7489 "Dotnet Core Task V2: Command Test: If no projects found it doesn't state the pattern that was searched for"
## Environment
VSTS

- Agent - Hosted

## Issue Description
Dotnet Core Task in version 2. Command test.
If no projects are found, it only states that nothing is found.

I think it would help if the pattern would get mentioned so you can see if a typo was made or you can see other issues without opening the build definition, e.g.

##[warning]Project file(s) matching the specified pattern '*UnitTet

[2018-06-15 15:43] bergmeister commented on #7461
Yes, and possibly another field `pwsh-preview` for all platforms because that is the name of the preview binaries, correct me if I am wrong @stevel-msft

[2018-06-15 16:01] viniciusjarina opened #7490 "Trigger build on tag creation."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

    VSTS - Codefoco - Team/Project BlueMaze

- Agent - Hosted or Private:

    - Hosted: BlueMaze-MazeCreator.iOS/Desktop

## Issue Description

VSTS allow the integration with Github WebHoo

[2018-06-15 16:58] phatcher commented on #7471
@vincentdass I tried a web.Release.config like this...

[code]
but it didn't work

[2018-06-15 17:08] bergmeister commented on #7460
Ok, thanks, understood. To me it sounds like it would be best to have 3 options:
- `Latest version` (no matter if release or pre-release) as currently present but rrenaming it to `Latest version (allow pre-release)` or something like that would make it clearer
- Latest released version as per this issue request
- Specific version as currently present

[2018-06-15 18:51] madhurig commented on #6991
I think the feedback here is about using the task in Build. This is new guidance for downloading artifacts produced by a different phase of the build. Users have to set that up on their own in Build since we don't inject the tasks and could be making mistakes. I will follow up on this.

[2018-06-15 20:05] phil-hodgson commented on #5318
@AymericG Could you share the "ActivityId" entries from the logs of your latest repros?
e.g. "Microsoft.VisualStudio.Services.Common.VssServiceException: TF400898: An Internal Error Occurred. Activity Id: **7d225f18-6c6f-48f4-82b8-c294debbdc22**."

[2018-06-15 22:17] hashtagchris opened #7491 "tl.loc doesn't work in securefiles-common.ts"
`tl.loc('ErrMsg')` doesn't work in securefiles-common.ts, unless you add the resource string to the consuming tasks. Adding the message to module.json isn't sufficient, at least in the case of InstallAppleCertificateV2. Based on the conversation in #7486, it looks like we need to move to v2.2.0 of the task lib. That will probably requiring moving all consuming tasks to v2.2.0 of the task lib, unle

[2018-06-15 23:27] nigel-dewar commented on #6928
This is still a problem. Trying to build a fresh .net core 2.0 project using a linux agent and it hangs on this 'Error: Unable to locate executable file: 'mono'

Is this not going to be fixed or should we just avoid using the linux agent altogether because it doesnt work

[2018-06-16 10:03] kuvinodms opened #7492 "ServiceFabricDeploy Task: Diff logic should happen only for Upgrade (not Create) scenario"

[2018-06-16 17:10] VinKamat commented on #7432
@niadak sent the logs to the email address, let me know what you find. Thanks.

[2018-06-16 18:29] bryanmacfarlane commented on #7490
You may want to go to developer community.  This repo is for issues with the in the box tasks (/Tasks).   Triggering is a service issue.

[2018-06-16 18:29] #7490 closed

[2018-06-16 18:33] bryanmacfarlane commented on #7491
Only tasks that (1) use common and (2) don't want to duplicate strings need to go to that task-lib version which has the capability.

It's not clear what work this issue is tracking other than stating how it works.

IMHO, common causes more issues than it's often worth (npm packages are better or sometimes just copying a function).

[2018-06-16 18:36] bryanmacfarlane commented on #7487
There was a bug that only got to one scale unit and it's rolling out.  I think the workaround is ctrl-s

If you don't see it fixed soon, then developer community is a better option.  This repo and issues is for the in the box tasks (/Tasks)

[2018-06-16 18:36] #7487 closed

[2018-06-17 00:51] danilobreda commented on #6135
What worked for me... using the PAT token.

My dockerfile:
[code]

and my NuGet.Config file:

[code]
The Username parameter need to be passed but you can set a random username/phrase there... since PAT does not have username parameter.

[2018-06-17 07:45] MatisseHack commented on #4852
Ran into this same issue the other day with a NuGet package containing a hotfix that had to be included in the repo. The environment variable workaround didn't work for me so I had to add an extra build step to run a shell script (I'm on a macOS agent):

```nuget sources update -Name Local -Source "%BUILD_REPOSITORY_LOCALPATH%/LocalPackages"```

[2018-06-17 12:15] davidobrien1985 commented on #5566
Same issue here with an App Service for Containers.

Brand new staging slot, the swap fails eventually, even though the site swaps and it all works.
I'm hitting the staging slot with `curl` before swapping over to prod.

[2018-06-17 12:30] bryanmacfarlane commented on #6135
@danilobreda - is your PAT token now in a layer of your docker container?

[2018-06-17 12:44] bryanmacfarlane commented on #6135
@AceHack - regarding building in container and dependencies - agreed.  Both solutions build in a container.  Building in a container is great for dev == dev == ci.  It's awesome.

Regarding tasks and the CI solution still working (tasks etc... )  and secrets not getting into layers (maps work dirs into container outside in), we will be previewing the ability to run any phase in a container (full y

[2018-06-17 12:54] hikirsch commented on #5566
Sure thing. Please find a dog friendly area.

On Sun, Jun 17, 2018, 8:15 AM davidobrien1985 <notifications@github.com>
wrote:

[2018-06-18 04:22] morshilo opened #7493 "failed to install .NET Core runtime 2.0.7"
### Error logs

Starting: Use .NET Core runtime 2.0.7
******************************************************************************
==============================================================================
Task         : .NET Core Tool Installer
Description  : Acquires a specific version of .NET Core from internet or the tools cache and adds it to the PATH. Use this task to change the versio

[2018-06-18 05:16] kaadhina commented on #7485
@cervengoc The settings file specified seems to be wrong. Can you please clear out that input or try with a valid file ?

[2018-06-18 05:17] niadak commented on #7488
Can you please share the debug logs with us? Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/pipelines/troubleshooting?view=vsts#get-logs-to-diagnose-problems

You can send the logs over email to RM_Customer_Queries@microsoft.com

[2018-06-18 05:37] ShreyasRmsft commented on #7457
@roizentner in the V2 task we changed the assembly filtering technique to use Minimatch patterns.
This was a breaking change (along with many more changes) hence the major version bump up to 2.

I'm still not very sure why it caused the tests to fail. It might be due to loading of other dlls which messed with either globals or loaded different versions of some assemblies etc. Without either having

[2018-06-18 05:41] ShreyasRmsft commented on #7460
@bergmeister thank you for your feedback. We should picking this up in sometime when we get the task out of preview. @PBoraMSFT to take a look at the suggestion for naming the options.

[2018-06-18 05:57] ShreyasRmsft commented on #7455
@fmanea using the apis mentioned above is the only way to get this done. The link has samples to get the build id and release id. Once you have these use the test management apis to get the test run associated with the build or release. Then you can construct the link. Please follow the docs on the apis, closing the issue here.

[2018-06-18 05:57] #7455 closed

[2018-06-18 05:58] cervengoc commented on #7485
Hi @kaadhina, thanks for your response. The settings file is left empty, and was always empty. This can be seen in the log section, which was the same when it worked.

[code]

We did not modify any settings in the near-past.

[2018-06-18 06:06] ShreyasRmsft commented on #7173
@GitHubSriramB  @WaelHamze any updates? It's currently lying in our area path. Please let us know if you need anything from us.

[2018-06-18 06:07] ShreyasRmsft commented on #7277
@jashif any updates here? Did you drop a mail to devops_tools@microsoft.com?

[2018-06-18 06:07] ShreyasRmsft commented on #7431
@Liphi any updates here?

[2018-06-18 06:08] mmajcica opened #7495 "NuGet Tool Installer"
NuGet Tool Installer is not considering the proxy settings provided by the agent, thus if agent is behind a proxy it will fail.

[2018-06-18 06:16] niadak commented on #7432
@VinKamat Thanks for sharing the logs with us. Can you check if the agent is running with non-admin account ? If so, can you configure the agent with admin account and try?

[2018-06-18 06:19] ShreyasRmsft commented on #7118
@Rutix what do you mean by BuildDefinition 2 references dll's which were build in BuildDefinition 1?

Is BuildDefinition 2 freshly building these dlls again? It seems wrong to me if its re-using dlls built by another build definition. If it's building the same dlls again or fetching them via nuget then its fine but any other way doesn't seem right. Can you please clarify this?

[2018-06-18 06:30] ShreyasRmsft commented on #7485
@cervengoc can you also make sure there isn't like a space in the settings file input? The quickest way to get unblocked is probably to add another instance of the task copy all inputs except for the settings file leave it as it is when you add a new instance of the task.

Reason i'm suggesting this is because i tried to re-pro the issue and it does not re-pro if the field is left untouched after

[2018-06-18 06:30] ShreyasRmsft commented on #7318
@compuguru any updates here?

[2018-06-18 06:31] ShreyasRmsft commented on #7403
@SWarnberg can we close this issue? You can open a support ticket or another issue when you get to the stage when you are trying this out.

[2018-06-18 07:07] SWarnberg commented on #7403
@ShreyasRmsft sure. Even though I think it's a bit drastic to "deprecate" the RFT task, I have a fair idea on how you think these tasks should be set up.

[2018-06-18 07:07] #7403 closed

[2018-06-18 07:09] mmajcica commented on #7495
After looking into the code I noticed that NuGet Tool Installer task uses vsts-task-tool-lib to download the necessary.  Starting with the version 0.4.1 of the vsts-task-tool-lib the necessary proxy settings are passed to typed-rest-client.

Still, however I do get the following error:
`2018-06-18T05:54:20.7946286Z ERR:tunneling socket could not be established, cause=write EPROTO 101057795:error:1

[2018-06-18 07:12] jashif commented on #7277
I have send to the mail, but It replied saying only email id’s from Microsoft can send email to the provided address.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Shreyas R <notifications@github.com>
Sent: Monday, June 18, 2018 8:07:17 AM
To: Microsoft/vsts-tasks
Cc: Jashif; Mention
Subject: Re: [Microsoft/vsts-tasks] test t

[2018-06-18 07:19] roizentner commented on #7457
@ShreyasRmsft, let me share the different logs.

Keep in mind: The only tests the match the TestCaseFilter crtieria are in `"D:\bld\s\Fabrikam.Solution\ElasticSearch.Tests\bin\x64\Release\ElasticSearch.Tests.dll"`
The logs might shed more light on the issue:

**Scenario 1 - Tests failed**
Test assemblies : `**\*test*.dll,!**\obj\**,!**\Microsoft*.dll`
Command:
`vstest.console.exe`
`"D:\bld\s\Fabri

[2018-06-18 07:28] ShreyasRmsft commented on #7277
@jashif can you tell me the subject of the mail? It generally says that but the mail does get sent. I'll take a look.

[2018-06-18 07:33] ShreyasRmsft commented on #7457
@roizentner I have a few hunches now after seeing this.

Can you provide the complete build logs with system.debug=true. Please upload the entire zip file that gets attached to the build. Or send it to devops_tools@microsoft.com and reply here with the subject of the mail and i can try and validate my hunches.

[2018-06-18 07:41] mmajcica commented on #7495
Seems that the issue is not in downloading the client but in getting the list of the available versions.

At this step in the code
https://github.com/Microsoft/vsts-tasks/blob/fa0cf7029e6ccc95f4d61da2e179e9fa4d128536/Tasks/Common/nuget-task-common/NuGetToolGetter.ts#L128

a new instance of RestClient from typed-rest-client module is created. However, although it supports handling proxy settings, t

[2018-06-18 07:52] sagoo33 commented on #5566
@pbartos I had this issue once due to localcache being enabled - you don't happen to have that enabled do you?

[2018-06-18 08:18] Rutix commented on #7118
@ShreyasRmsft what I mean by references is that BuildDefinition 1 generates a nuget packages (not containing the PDBs) and that the code build by BuildDefinition 2 uses that nuget package. Does this clarify your question?

[2018-06-18 08:22] ShreyasRmsft commented on #7118
@Rutix so the problem here is that when the binaries that go into the nugget package are built the location to the corresponding pdbs are hardcoded onto the built dlls.

Now when these dlls are later used on the same machine CLR automatically tries to load them from the location hardcoded onto the dlls.

[2018-06-18 08:29] cervengoc commented on #7485
Hi @ShreyasRmsft, here is the JSON excerpt from our release definition. It is a release definition, not a build actually.

[code]

[2018-06-18 08:29] ShreyasRmsft commented on #7118
@Rutix there is another option wherein in the code you can add the exclude code coverage attribute https://msdn.microsoft.com/en-us/library/system.diagnostics.codeanalysis.excludefromcodecoverageattribute(v=vs.110).aspx

[2018-06-18 08:39] cervengoc commented on #7485
Hi @ShreyasRmsft, we tried to recreate the task from scratch with the same settings, and the result is exactly the same, we get the same error with the same log.

[2018-06-18 08:57] cervengoc commented on #7485
Hi @ShreyasRmsft, we managed to compare our task with a very similar one which does work. One thing we've noticed is that at the working one, in the log we see

[code]
while at ours it's

[code]

In the JSON we see the same empty string in the corresponding property. Probably there's some issue with resolving the settings file path in case when it's empty.

[2018-06-18 09:03] Rutix commented on #7118
@ShreyasRmsft The cleanup was kind of undesirable because we might have to debug the dlls when a consumer reports a problem with a specific nuget package.

https://msdn.microsoft.com/en-us/library/hsa130k8.aspx <-- this seems to be a C++ option and we are building C# projects. Is there a same thing for .NET projects?

https://msdn.microsoft.com/en-us/library/system.diagnostics.codeanalysis.exclude

[2018-06-18 09:04] jashif commented on #7277
This was the subject, I got error from postmaster@microsoft.com<mailto:postmaster@microsoft.com> saying not delivered.

FW: [Microsoft/vsts-tasks] test task: support for uwp and remote machine (#7277)

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Shreyas R <notifications@github.com>
Sent: Monday, June 18, 2018 9:28:39 AM
To:

[2018-06-18 09:10] MinhThienDX commented on #7493
I have the same issue, mine is **Failed to download .NET Core package. Please ensure that .NET Core sdk of version 2.1.300 exists. Check out: https://github.com/dotnet/core/blob/master/release-notes/releases.csv**
It was working fine yesterday.

[2018-06-18 09:17] bishal-pdMSFT commented on #7493
@morshilo @MinhThienDX The download URLs for dotnet core packages mentioned in [releases.csv](https://github.com/dotnet/core/blob/master/release-notes/releases.csv) are not working. We have created a [issue ](https://github.com/dotnet/core/issues/1701) on dotnet team for this.

[2018-06-18 09:18] wawyed commented on #3890
Hi, is this someone that can be looked at. We are trying to update to gulp4 and we have to go an manually uninstall/update the global version of gulp on each build task...

Thanks.

[2018-06-18 09:48] Selvaraj1989 opened #7498 "Unable to run the automated tests in TFS 2018"
## Environment
- Server - TFS 2018.2
- Agent - Private: OS : Window Server 2016 and Agent Version : 2.131.0

## Issue Description

I am configuring my test plan based on steps given here https://docs.microsoft.com/en-us/vsts/test/run-automated-tests-from-test-hub?view=vsts. When i tried to run, it thrown some exception which i attached in the error logs.

Kindly help me in resolving this issue.

T

[2018-06-18 09:50] niadak commented on #1441
Can you the diagnostics log and share with us. It should give the exact issue regarding the failure.

For diagnostics logs
In additional arguments of task
/df :<logfilepath>

How to get diagnostic logs on hosted agent

Add argument for generating diagnostic logs in additional argument input of Azure SQL dacpac task
/df:'D:\sqlpackage.log'

Add PowerShell task next Azure SQL Dacpac task, select inl

[2018-06-18 09:56] ShreyasRmsft commented on #7118
@Rutix wait how do customers get the pdbs for the nuget packages you publish? Wherever they get it from should be your primary source of getting the pdbs for debugging (or a local build) and the ones on the build agent machine. This is something we do atleast, we never depend on the ones present on the build agent machines.

[2018-06-18 10:32] ShreyasRmsft commented on #7118
@Rutix the recommended way (and the safest) is to use the runsettings to specify what you want coverage on (you can use regex here). Note: don't use the exclude filter but use the include filter to cover what you want.

[2018-06-18 10:36] vincentdass commented on #7471
@phatcher , Can you try the following config & Transform file:
Config File: **Web.config**

[code]

**Transform file: Web.Release.config**

[code]

[2018-06-18 10:41] ShreyasRmsft commented on #7485
@cervengoc so this is [starting of the code](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/VsTestV2/inputparser.ts#L262) where we read the settings file.

By default if the field is empty the value that vsts tasks infra passes is the value of the system.defaultworkingdirectory.

We compare if the vaue is this and if it is we set it to undefined meaning that no file was passed by the us

[2018-06-18 10:58] cervengoc commented on #7485
@ShreyasRmsft, you can see the working directory in

[code]

In this variable we purely use `$(System.DefaultWorkingDirectory)`. So it seems like it's OK.

Besdies these, we found that the working instance uses a different on-premise Agent queue, having an earlier agent version `2.119.1`. Do you think the agent itself can introduce such an issue?

[2018-06-18 11:08] ShreyasRmsft commented on #7460
@bergmeister Apologies. Will keep it open for tracking. The reason is that internally we track all our work items elsewhere and that customers sadly don't have visibility over that. Will take your feedback going forward and keep issues that have pending action items open and tag them appropriately.

Thank you for pointing this out :).

[2018-06-18 11:13] dabasn commented on #7196
As you correctly pointed out, EnvironmentName is a valid variable but it works only in the context of the environment currently deployed.
For example, if you add a powershell task with the script using $(Release.EnvironmentName), it will get replaced with the name of the environment on which this task is running.
Release creation doesn't have environment context so it isn't expected to work in rel

[2018-06-18 11:17] ShreyasRmsft commented on #7485
Yes. It's entirely possible. These build variables (ex: System.DefaultWorkingDirectory) are dependent on the agent. We generally test on the latest but its entirely possible that it may have broken on an older agent. Can you give me the agent versions where it works and where it doesn't? Will try to repro on those versions.

[2018-06-18 11:19] cervengoc commented on #7485
@ShreyasRmsft, interestingly enough, it seems like it **does work** on an old agent `2.119.1`, and it **does not** on the latest `2.134.2`

[2018-06-18 11:28] ShreyasRmsft commented on #7485
@cervengoc will check and get back to you.

[2018-06-18 11:33] mmajcica commented on #7495
I'm trying with the following change:

[code]

Unfortunately I can't get it to work. Any suggestion is welcome.

Following the output that I get in case of the above change:
[code]
@brcrista @emanuelquintero any ideas?

[2018-06-18 11:39] MJLHThomassen commented on #5601
Same problem here. Not using ChromeDriver in my project. All tests pass, the test report is written, but the task hangs. Is there any way to debug which other processes might possibly not be properly closing down?

[2018-06-18 11:42] cervengoc commented on #7485
@ShreyasRmsft thank you for your efforts.

We now tried to downgrade our failing agent to `2.119.1`, and unfortunately we had no luck, so this might not be related only to the agent binary. Now I'm trying to clear the entire working folder of the agent.

[2018-06-18 11:47] cervengoc commented on #7485
Still the same issue after clearing the working directory :(

[2018-06-18 11:48] bryanmacfarlane commented on #7485
To my knowledge there was no agent bug where working directory was set incorrectly.  Certainly not the a (artifacts) directory.

[2018-06-18 11:51] cervengoc commented on #7485
@ShreyasRmsft  Just another information: it seems like the task breaks only when using the Test Plan mode. We could successfully run tests using the Test Assembly mode. Hope this helps in any way.

[2018-06-18 11:58] kaadhina commented on #7498
Please set variable system.debug = true in the release definition and start another run, and please share the full logs. You may choose to send them over by email to [devops_tools@microsoft.com] as well.

[2018-06-18 12:04] ShreyasRmsft commented on #7485
@bryanmacfarlane apologies. I meant we may have broken the working of the task on an older agent version since we did not test.

[2018-06-18 12:05] bryanmacfarlane commented on #7485
No worries - just trying to help narrow. :)

[2018-06-18 12:12] cervengoc commented on #7485
Another information, it seems like the behavior depends on the machine context too, as pointing the phase to another agent queue running `2.119.1` agents made the task work properly. However, the same agent version was not working on out queue.

Could there be any environmental setting which may affect this behavior?

[2018-06-18 12:13] ShreyasRmsft commented on #7485
@bryanmacfarlane can system env variables override agent variables (for example: System.DefaultWorkingDirectory)?

[2018-06-18 13:37] Selvaraj1989 commented on #7498
I have already enabled the system.debug=true and attached the logs here.
[VsTestLogs.txt](https://github.com/Microsoft/vsts-tasks/files/2111433/VsTestLogs.txt)

[2018-06-18 13:48] roizentner commented on #7457
@ShreyasRmsft I've just sent an email with the subject: **Logs for vsts-tasks issue #7457**
Let me know if you received it, because I got the following reply:

Your message couldn't be delivered to multiple recipients.
The groups only accept messages from people in their organization or on their allowed senders list, and your email address isn't on the lists.
Sender not allowed
Couldn't deliver to

[2018-06-18 13:51] brcrista commented on #7495
@keithrob -- @mmajcica is referring to change #7435 we made to Download Secure File and is trying to get the same thing to work here.

[2018-06-18 14:30] JonathanNEMRY commented on #7339
Hello, sorry for the late. This is exactly what I mean: the endpoint seems to work only with a passphrase when using ssh private key. Unfortunatly I think that I can't provide you a system.debug output log
Did you succeed to reproduce this behavior?

many thanks

[2018-06-18 14:56] comdw opened #7501 "Release based on Azure Container Registry image triggers twice, once for latest and once for specific version"
In VSTS I'm building a release pipeline for a project that pushes docker images to ACR during CI builds.  The push is set to tag both the specific version and 'latest' as is standard practice.  My release artifact is set to automatically trigger but each time there is a CI build, two releases are triggered, one for the specific version and one for 'latest'.

I can understand why this is happening,

[2018-06-18 15:14] MinhThienDX commented on #7493
@morshilo The underlying issue has been fixed here https://github.com/dotnet/dotnet-docker/issues/599#issuecomment-398074526
Is everything okay now?

[2018-06-18 15:46] nickrflynn commented on #5188
I get a 404 with the links above but the updated documentation can be found here:
[](https://docs.microsoft.com/en-us/vsts/pipelines/targets/npm?view=vsts&tabs=web)

[2018-06-18 18:38] danilobreda commented on #6135
@bryanmacfarlane yes, it's because I'm not removing NuGet.Config, if I remove it, it will not be in any of the layers. Thank you for this note.

[2018-06-18 19:08] bryanmacfarlane commented on #6135
@danilobreda - one other note - does your current approach require you to check in your PAT to source code? (one some other process is generating it host side?

[2018-06-18 20:07] nehaagrawal commented on #4208
I am facing similar issue. process.env['APPVERSION']  doesn't work. Any idea why?

[2018-06-18 20:39] Hinton commented on #6135
Since this issue is getting some activity again, I figured it might be worthwhile to describe, more in-depth how we worked around the issue (for now).

In our build definitions, before the docker tasks we have a `bash` task, which creates a `NuGet.config` file from a secret variable.
[code]

The secret variable is linked through a variable group to our built tasks and contains the complete `NuGet.

[2018-06-18 20:42] JeffRausch commented on #7333
I'm requesting that this issue be reopened.
When I have the following check on a phase, that phase is always skipped, even if it's the first phase or all phases before it are successful.
`eq(variables['Agent.JobStatus'],'Succeeded')`
But in a task inside a phase if I check that value (as a Custom Condition or inside a script) I get the correct value and can fail the process.  So what I'm currently

[2018-06-18 21:16] PNI-GS opened #7505 "VSTS NuGet Temp file for restore"
VSTS creates a copy of standard nuget.config file, naming it "tempNuGet_xxxxx.config", and placing it in a NuGet folder outside of the source folder.

There are multiple issues here that should be addressed and can be addressed with just disabling the "temp" config file action.

Issues:
1.  tempNuget_xxxxx.config file is not an exact copy of the nuget.config that should be used that is in the sour