[2018-07-19 13:02] mbialitskiy opened #7784 "AzureRmWebAppDeploymentV4 v.4.2.2 tempParameterSet.xml etr"
## Environment
**VSTS**:
account name: rapmd
team project name:rapmd
release definition name: QA
release definition number: 248+
**Agent**:
Private (windows 2016, agent ver.2.120.2)

## Issue Description
The error appeared after extension update from version 4.1.12 to 4.2.2
In release I have two successive tasks: deply webapp and function app.
After first is successfully deployed the second fails

[2018-07-19 13:55] lzandman opened #7785 "XML variable substitution: log each substituted variable"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- TFS on-premises

## Issue Description

Current the only thing we see in our logs when we use XML variable substitution is:

We'd like some more logging. Specifically which variables in which files are replaced . When you run

[2018-07-19 14:14] whytoe commented on #7676
No the actual issue @bishal-pdMSFT is the Version of Packer in the task, it is an old version of Packer

[2018-07-19 14:27] NenoLoje opened #7786 "Azure File Copy: Specifying a target folder does not work as expected"
Environment:
- VSTS
- Azure File Copy task v2 (preview)

### The Problem
I want to copy a file to an **Azure Blob storage**, into a **subfolder**.

### What I tried
When adding the folder name into the **Container Name** parameter like this: `Container/Foldername`, that does indeed seem to work - however, it changes Foldername to all lower case.

This is a problem as Azure blog storage is case sen

[2018-07-19 14:35] bishal-pdMSFT commented on #7676
A PR is already out there for updating packer version in task. However currently we are evaluating best approach to update, hence it will take some time to merge that PR.

[2018-07-19 14:37] bishal-pdMSFT commented on #4868
@riweston are you using Powershell task and not "Build Immutable image" task?

[2018-07-19 15:05] riweston commented on #4868
Yeah that's right @bishal-pdMSFT - I discovered the "Build Immutable image" task after I started down this rabbit hole but figured I'd like to get to the bottom of the problem so at least if/when it comes up again I understand what the issue is

[2018-07-19 15:16] vincentdass commented on #7784
@mbialitskiy , thanks for reporting the issue. This is a genuine issue and will be fixed.

[2018-07-19 15:17] ajklotz commented on #7173
I'm having this problem myself

`2018-07-19T14:52:04.4227645Z ##[debug]Calling Publish-TestResults
2018-07-19T14:52:04.4540121Z Publishing Test Results...
2018-07-19T14:52:04.5946378Z ##[debug]Get - SecretService and EndpointService from TaskContext
2018-07-19T14:52:04.5946378Z ##[debug]Fetched Endpoint:SystemVssConnection
2018-07-19T14:52:04.5946378Z ##[debug]AuthorizationType : OAuth
2018-07-19T

[2018-07-19 15:18] sescandell commented on #6036
Hi,

@DynConcepts how did you solve this situation? Do you have any link to provide?

Thanks,

[2018-07-19 15:24] AlbertQM opened #7789 "AzureFileCopyV2: Access is denied"
## Environment
VSTS
Agent: HostedVS2017
Azure VM (Windows 10) is running inside a DevTest Lab.

## Issue Description
I'm trying to copy some files to a VM hosted on Azure.
The first part of the task (copying files to a blob) works perfectly:

[code]

The AzureFileCopyV2 task returns this error:

[code]

I've been trying to solve this issue for quite a while, here's what I've done:

- Added an inbo

[2018-07-19 15:32] rajatagrawal-dev commented on #7786
@NenoLoje In the Contianer Name parameter, specify only the container name like this: `Container`.
Just after Container Name, there is another parameter called Blob Prefix. Specify your folder names in that parameter like this: `Foldername1/Foldername2`.

We have updated the help string for these inputs which will give similar explanation as above. It will be available in the upcoming patches to t

[2018-07-19 15:52] go2guy commented on #7527
I'm seeing the same issue when calling a Multiphase job on Jenkins. If any of the sub jobs are disabled, Queue Jenkins job on VSTS will hang even though a successful response is recorded in Jenkins.

[2018-07-19 16:16] NenoLoje commented on #7786
Awesome - thanks exactly what I was looking for. It's a bit weird having to look for **Blob Prefix** to enter the folder name, but it works as expected!

Thanks, @rajatagrawal-dev

[2018-07-19 16:41] NenoLoje commented on #7786
@rajatagrawal-dev While this approach seems to work well for named Blob containers, it does not seem to work great in combination with `$root` as the container name. **Any idea how to workaround this?**

The AzCopy error from the log shows that the path looks like:

Note the two forward slashes (`//`).

[2018-07-19 16:59] rajatagrawal-dev commented on #7786
@NenoLoje $root container cannot contain folders inside it. This is by design from Azure.

[2018-07-19 17:11] NenoLoje commented on #7786
That explains it. Thanks, @rajatagrawal-dev !

[2018-07-19 17:11] #7786 closed

[2018-07-19 17:29] trevorNgo opened #7790 "Package: NuGet (Push) - NuGetCommand2 input externalEndpoint references endpoint does not exist or has not been authorized for use (and no longer allows queuing builds)"
## Troubleshooting
Problem:  A potential verification issue, when YAML contains a deprecated-value in "ExternalEndpoints"; regardless if "nuGetFeedType" is set to **internal**, the feed path in "ExternalEndpoints" is verified and will not allow build to queue if feed path or service endpoint no longer exists.

![image](https://user-images.githubusercontent.com/23327878/42959059-79b03102-8b55-11e8-

[2018-07-19 17:36] timmydo opened #7791 "Docker push VSTS task always try to push latest tag even if 'include latest tag' is unchecked"
## Environment
- Server - VSTS: https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=10935317&_a=summary

- Agent - Hosted or Private:

    - Linux hosted agent. Seems to happen regardless of agent.

## Issue Description

Yaml for build def:

[code]

"Include latest tag" is *unchecked*

### Error logs

[code]

[2018-07-19 18:09] timmydo commented on #7791
ok, I might be misunderstanding how this is supposed to work. I don't have a tag in the image names file because the tags are generated at build time. So if it is trying to push the image names from my text file, then it's using the latest tag by default and causing this error?

[2018-07-19 19:16] dendle commented on #7427
Hello @vithati
In the build logs, the default variable is not substituted - I see the command being passed *exactly* what is in the destination field.

Here is the error:

Also, the tooltip help for that input says "Specify values in a YAML file or a URL." - this seems wrong given your helpful explanation.

Thanks,
Matt

[2018-07-19 22:55] whytoe commented on #7676
@bishal-pdMSFT The current version is really old, over a year. How long is some time?

[2018-07-19 22:57] whytoe commented on #4868
@riweston The Build Immutable Image Task currently has a Packer version from April 2017. Im thinking about using a custom script because that task doesnt meet my requirements

[2018-07-20 02:04] fuocor opened #7792 "Connot install .NET Core preview version"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- VSTS
   Account ossiaco.visualstudio.com
   Build Definition: Web-Api
   Build: 20180719.1, 2, 3

- Agent - Hosted or Private:
    - Hosted (Hosted) Agent Version 2.136.1

## Issue Description
The build was working yesterday

[2018-07-20 04:35] SumiranAgg commented on #7552
Closing since no further customer communication. Please feel to reopen if required.

[2018-07-20 04:40] SumiranAgg commented on #7601
@danielstocker We are following up with PS team for resolution on issue https://github.com/Azure/azure-powershell/issues/6680
In the meanwhile we will be implementing a workaround. We will Clear-AzureRmContext before logging in Azure again. This will ensure the recently created context is used in the task.
Thanks for reporting the issue. Please reach out if you have any more insights.

[2018-07-20 04:45] SumiranAgg commented on #7621
#https://github.com/Microsoft/vsts-tasks/pull/7757

[2018-07-20 04:46] SumiranAgg commented on #7621
#7757

[2018-07-20 04:51] SumiranAgg commented on #7688
Closing the issue as solution provided. Please reopen if still blocked.

[2018-07-20 04:51] #7688 closed

[2018-07-20 04:54] SumiranAgg commented on #7689
@EwanNoble We are working with azure PS team to get a resolution. https://github.com/Azure/azure-powershell/issues/6680
In the meanwhile we are adding a workaround. We will Clear-AzureRmContext before logging in Azure again. As such only one context will be in memory when connection is made.

[2018-07-20 05:07] bishal-pdMSFT commented on #7676
I will update you mid next week.

[2018-07-20 05:12] bishal-pdMSFT commented on #4868
@riweston its preferable if you use the "Build Immutable image" task. None the less even if you are using powershell task, you will need to pass secret variables as arguments to your script. `env:<var>` will not work. For example, you need to pass clientSecret as `-ClientSecret $(client_secret_release_variable)`

[2018-07-20 05:21] SumiranAgg commented on #7623
@brcrista Thanks for your feedback.
We will rollout the fix soon. It should be deployed on all rings in the next few days.

[2018-07-20 05:21] #7623 closed

[2018-07-20 05:35] SumiranAgg commented on #7732
@mkosieradzki As a workaround we will Clear-AzureRmContext before logging in. This will ensure only relevant context is used for calls henceforth.

[2018-07-20 05:44] vithati commented on #7427
Hi @dendle, I have used $(Build.ArtifactStagingDirectory) in task in build defintion, it working for me. How are you specifying environment varaible $(Build.ArtifactStagingDirectory) in task. Can you share your task screenshot? I will change tooltip info.
![image](https://user-images.githubusercontent.com/19663618/42985143-c7f937d8-8c0d-11e8-9460-8d3298ce8bd2.png)

[2018-07-20 06:07] danielstocker commented on #7601
Thanks for following up @SumiranAgg
Am I right in assuming that this change won't get to TFS (on-prem) customers until the next TFS update as most of the Azure tasks are built in rather than delivered via a TFS/VSTS extension?

Thanks again for all your efforts everyone

[2018-07-20 06:29] vcorr opened #7794 "Helm installer fails to get latest info from github"
## Environment
- Server - VSTS
- Agent - Private (linux)

## Issue Description
Helm tool installer (Preview)

### Error logs
Cannot get the latest Helm info from https://api.github.com/repos/kubernetes/helm/releases/latest. Error Error: Failed to download file status code: 301. Using default Helm version v2.8.2.

This results in using whatever old helm version may be available. If the check mark "

[2018-07-20 06:37] bishal-pdMSFT opened #7795 "[Service fabric] Connect-ServiceFabricCluster with metadata failure should retry internal exceptions"
Current Connect-ServiceFabricCluster with metadata option always throws a aggregate exception. Hence while re-trying we should check internal exceptions

[2018-07-20 07:10] vithati commented on #7791
@timmydo, Yes, this is due to image names sepcified without tag in file.  if image names in files are not specified with tags then docker task will push latest tag image along with additional tag images.

[2018-07-20 07:30] ds-ms commented on #7686
Fix to this has been merged.

[2018-07-20 07:30] #7686 closed

[2018-07-20 07:59] kuvinodms commented on #7508
@Tadimsky
We've fixed this issue. Please let us know if you're still facing the same!

[2018-07-20 08:06] #7070 closed

[2018-07-20 08:09] kuvinodms commented on #6856
This fix should roll out in next few days for all the customers

[2018-07-20 08:09] #6856 closed

[2018-07-20 08:09] kuvinodms commented on #6833
This fix should roll out in next few days for all the customers

[2018-07-20 08:09] #6833 closed

[2018-07-20 08:10] kuvinodms commented on #6755
This fix should roll out in next few days for all the customers

[2018-07-20 08:10] #6755 closed

[2018-07-20 08:15] kuvinodms commented on #7537
This fix is under deployment state and will roll out in next few days for all the customers.

[2018-07-20 08:16] karann-jain opened #7796 "Publish Java Code Coverage using Jacoco fails - Error : '', hexadecimal value 0x01, is an invalid character. Line 1, position 1.."
## Environment
- Server - VSTS
- Agent - Private (Using VSTS docker image)

## Issue Description

Jacoco Code Coverage when publishing throws error. Same Jacoco,exec works fine on Jenkins to view results.

### Error logs

2018-07-19T07:14:15.8101586Z Reading code coverage summary from '/var/vsts/23/a/jenkinsResults/<mydefination-name>/team-results/jacoco/target/jacoco.exec'
2018-07-19T07:14:15.818

[2018-07-20 08:17] scary1337 commented on #7537
hi @kuvinodms - thanks. When would be the best time to test a deployment?

[2018-07-20 09:06] markusdresch commented on #3322
are you sure this was fixed? i'm trying to upload to $web (static hosting preview) using azureblob file copy and i get the following error:

$web is the automatically generated webroot container for static hosting.

[2018-07-20 09:11] rajatagrawal-dev commented on #3322
@markusdresch You should be able to upload to $root container. The fix for $web container will be deployed to all accounts in around a week.

[2018-07-20 09:17] jbuschke commented on #7675
Using xunit: 2.4.0-rc.2.build4045 resolved the issue. Tests are now properly skipped.
Thank you

[2018-07-20 09:25] SumiranAgg commented on #7785
@lzandman Thanks for the feedback. We will incorporate this in our backlog. We will display what fields have been transformed in the normal logs itself.
Though this may take some time as we are prioritizing issues which have major customer impact.

[2018-07-20 10:34] bishal-pdMSFT commented on #7648
@Tadimsky is this fixed for you now?

[2018-07-20 10:36] riweston commented on #4868
I've tried this as a means to see what each variable is doing and this is what I get...

CODE
[code]
LOG
[code]
Cheers, Rich

[2018-07-20 11:38] hangy opened #7798 "dotnet nuget push with NuGet feed at local directory"
## Environment
- Server - TFS 2018
- Agent - Private

## Issue Description

When DotNetCoreCLI v2.137 using the `nuget push` command, it is not possible to use a private UNC path as a NuGet feed. As TFS 2018 only allows us to add external NuGet feeds using a HTTP(S) URL, we cannot add our local NuGet feed that's hosted on a DFS share. Given the only VSTS task that can publish to a UNC path is the

[2018-07-20 13:53] stephenmichaelf commented on #7758
Thanks Brian. @nigurr Could you take a look?

[2018-07-20 14:53] mccw commented on #7508
I'm seeing this same issue in my builds. How do I know when the fix is in?

[2018-07-20 15:29] timmydo commented on #7791
In that case maybe you could not push the default tag from the image file when I have 'include latest tag' unchecked? It is slightly confusing

[2018-07-20 16:20] riweston commented on #4868
Interestingly I've tried rebuilding this with the "Build Immutable image" task and having the same issue...
[code]
There's some issues in there with my config but you can clearly see the secrets aren't passing correctly into the build.

Just for context these are the template parameters I'm using for the build...
[code]
Cheers, Rich

[2018-07-20 17:03] adamtuliper opened #7799 "App Service Deploy: Extra spaces in settings causes BadRequest"
## Environment
    VSTS Hosted Linux Preview
    adamtuliper.visualstudio.com
    new.dot.net-custom-branch / Build 0.1.92+g44e6a2bc21
    project: new.dot.net

Note: I've worked with @vincentdass on this issue via skype.

## Issue Description
Task Name: Azure App Service Deploy
When you edit the "Application and Configuration settings/App Settings" section, if there's an extra space between key/v

[2018-07-20 17:54] bishal-pdMSFT commented on #4868
The variables which are passing to packer do not match the variables defined in template. For example, the packer command is `packer.exe validate -var "ARM_RESOURCE_LOCATION=North Europe" -var ARM_CLIENT_ID=***`. This means that you should have variables `ARM_RESOURCE_LOCATION` and `ARM_CLIENT_ID`, but variables defined in template are `location` and `client_id`.
You should fix the variable keys i

[2018-07-20 17:56] Kalaicompute commented on #6856
Thanks everyone!

[2018-07-20 18:24] bishal-pdMSFT commented on #7508
@mccw The fix should already be in. can you please attach debug logs for task. Also please attach screenshots of:
1. Build sfproj task
2. Update manifest task
3. Publish artifact task
4. Artifacts snapshot of last successful build (the way @Tadimsky shared in https://github.com/Microsoft/vsts-tasks/issues/7508#issuecomment-398948954)

[2018-07-20 18:34] whytoe commented on #7676
Thanks alot!

[2018-07-20 19:12] IbrahimUmar opened #7800 "Visual Studio test Task in agent phase not distributing test. Executing on same agent again and again. TFS2018"
Hi Guys
           I have tfs 2018: I want to run My 10 thousand tests on 5 agents distributedly/Parallel:

What i have done:

Created a release definition where in Agent phase , Selected EXECUTE ON MULTIPLE AGENTS and given 5 Agents as MAXIMUM Number of agents.
Then created a Visual Studio test V2 and Selected RUN TESTS IN PARALLEL ON MULTICORE MACHINE.

When i release the definition , It Created

[2018-07-20 19:22] Ranu2046 commented on #4490
I too have similar kind of issue.. when i deploy the ARM template from Visual studio then all the parameters are auto populated from parameter file but when i try to deploy running the  .PS1 (powershell script), It prompts to enter the values for all the parameters present in the parameter file. Can anyone please let me know how to auto read the parameter file without prompting user to enter the s

[2018-07-20 22:00] edwardg-MSFT opened #7801 "Service Fabric Deployment fails with ApplicationTypeName parameter not found"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
devdiv.visualstudio.com
Failed release (current task version 1.7.17 - look at attempt #1): https://devdiv.visualstudio.com/XlabImageFactory/XlabImageFactory%20Team/_apps/hub/ms.vss-releaseManagement-web.hub-explorer?releaseId=2

[2018-07-20 23:36] craigktreasure commented on #7692
@vineetmimrot: Got a [repro](https://microsoft.visualstudio.com/Analog/_build/results?buildId=10961608&view=logs) with debug on.

[2018-07-21 06:47] bishal-pdMSFT commented on #7801
@edwardg-MSFT this can happen if the service fabric sdk which is installed on private agent is old. You can update the SDK + runtime and retry.

[2018-07-21 08:16] ATGardner opened #7802 "Deploy to Kubernetes is missing configmap from-env-file option"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
    - using VSTS
        Account name: harmonie-collage
        Team project name: Collage
        Build definition name: testing AKS
        Build number: #2512
        Release definition na

[2018-07-21 17:25] alexvy86 opened #7803 "Support a predefined `login` action in the Docker task"
## Environment
VSTS

## Issue Description

Enhancement request for the Docker task.

Right now in order to use the Docker task just to login to the registry, so other steps in the build/release phase can call the `docker` CLI directly, we need to use the `Run a Docker command` action, specify "login", **and pass the credentials manually** (hardcoded, from variables, or somehow).

Since the credent

[2018-07-22 04:12] bansalaseem commented on #7803
@alexvy86 Thanks for asking for this. Last week we were internally discussing this feature only and since you also need it, it will make it much easier to add now.

[2018-07-23 04:55] ds-ms commented on #7529
Any updates on this?

[2018-07-23 06:07] vineetmimrot commented on #7489
Does not seem important enough to me.

[2018-07-23 06:07] #7489 closed

[2018-07-23 06:42] Anumita commented on #7802
@ATGardner , Thanks for your feedback! We don't support the --from-env-file option right now. You could use the commands section to run the --from-env-file command to get unblocked. The file path has to be specified as it is specified in the configmaps section. Hope this solves your issue.

[2018-07-23 06:54] sachinma commented on #4490
@Ranu2046 You can use the Azure Resource Group Deployment task to perform this operation which takes both a template file and a parameters file as input.

[2018-07-23 07:36] ATGardner commented on #7802
Yeah, I was able to use a workaround with another "Deploy to Kubernetes" step and a "create" command. There is also another problem there (maybe I should open another issue?) - if such a configmap already exists it fails. I tried adding another step before with a "delete" command (similar to how you do with the "Force update configmap"), but this this one failed because the output value has to be

[2018-07-23 07:46] RiaanVR commented on #7584
Anyone actively busy with this? Are there workarounds known? I'm getting this error in the Nuget Installer task.

[2018-07-23 09:02] bishal-pdMSFT commented on #7801
@edwardg-MSFT we do have made some changes in the task in 1.7.17 version, however there is no change related to the error message you have reported. This error looks like agent is using old version of service fabric SDK. Have you changed agent queue for your release which resulted into older SDK ?

[2018-07-23 09:53] LokiMidgard commented on #7584
I have the same error (at least I think) with an domain certificate.

[DownloadBuildArtefact.log](https://github.com/Microsoft/vsts-tasks/files/2218814/DownloadBuildArtefact.log)

[2018-07-23 10:23] hiyadav commented on #7692
Hi @craigktreasure,
Thanks for sharing the repro, we will work on this tomorrow and come back to you.

[2018-07-23 11:30] hiyadav commented on #7782
@whozDougie I noticed that there is a "Delete files" task in the BD before Update Service Manifest task. Are you sure, if that task is not deleting the ServiceManifest file ?
You can see if the generated build artifacts contain the ServiceManifest file.
You can do this two ways
1. If the Agent is private you can go and access the artifacts directly.
2. If you are using hosted agent, you would need

[2018-07-23 12:05] malikmahak91 opened #7806 "all the tests run but no results getting published under test tab"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
 VSTS

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name:Agent: Hosted VS2017 2

## Issue Description
The test gets canceled because it keeps on running for

[2018-07-23 12:35] bryanmacfarlane commented on #7485
@ShreyasRmsft - that's by design.  FilePath defaults to the root of the repo if no path is given.  That's the difference between a string input field and a filePath input field.  This has always been the case since the creation of build.vnext.

https://github.com/Microsoft/vsts-task-lib/blob/master/node/task.ts#L234

That's also why that lib method exists.

[2018-07-23 13:06] whozDougie commented on #7782
@hiyadav Thanks for responding.

I don't believe it is deleting the ServiceManifest file as the parameters specify for it to delete **\*.pdb files (as per the template).
![image](https://user-images.githubusercontent.com/11555622/43078055-a058e02c-8ecc-11e8-9e42-288e976a0c6f.png)

In case you were wondering, the copy files task copies **\*.pdb files, and it isn't able to find any either:
![image](

[2018-07-23 13:08] brcrista commented on #7806
Possibly related to #7727

[2018-07-23 13:09] brcrista commented on #7727
This is happening for me as well with JUnit XML.  Debug logs:

[code]

[2018-07-23 13:11] brcrista commented on #7727
Publishing JUnit XML was working a couple weeks ago and then stopped working last week.  The version of the task was 2.0.7 in both cases.

[2018-07-23 15:15] phatcher opened #7808 "Correct way to authenticate a VSTS poweshell task"
I'm writing a task that uses Invoke-AzureRmResourceAction however, when run I get an error message
`Invoke-AzureRmResourceAction : Run Login-AzureRmAccount to login`

What's the correct way to get an authentication token so that I can invoke this?

[2018-07-23 15:18] Mystere opened #7809 "Any way to make the Artifact source for a release into a variable?"
I realize this isn't exactly a "task" per se, but I am betting it's implemented as a task somewhere.

I have several release definitions that could all be combined into 1 if there were a way to make the release artifact source variable.  (ie I have different branch builds, such as Trunk and Dev).

In thinking about this, I realize that this could be a difficult task.  Continuous integration needs

[2018-07-23 16:54] andreacassioli opened #7810 "vsts docker run command drops double quotes"
## Environment
- VSTS

- Agent - Hosted or Private:
    Hosted - Linux

## Issue Description

I am using docker run task to execute a one liner script in a container just build in the pipeline. The iea is to execute:

``
docker run -t  my-container sh -c "ls *.Test/*.csproj | xargs -L1 dotnet test -c Release --logger:trx -r ../../test_out"
``

So I set up a docker run task and pass `sh -c "ls *.Te

[2018-07-23 17:02] malikmahak91 commented on #7727
adding vs test assemblies task should automatically display the test results under test results tab.test publish is required if we use our own agent instead of hosted agent

[2018-07-23 17:03] malikmahak91 commented on #7727
i do not know what more configuration settings need to be displayed

[2018-07-23 17:12] malikmahak91 commented on #7727
![image](https://user-images.githubusercontent.com/33269089/43092073-f312ddf2-8e79-11e8-88d1-d61ed86a66f4.png)
![image](https://user-images.githubusercontent.com/33269089/43092087-023a8a82-8e7a-11e8-8883-2eb5a37267e4.png)

mine the test run but nothing is displayed just no output

[2018-07-23 17:18] Tadimsky commented on #7648
I haven't done an upgrade with just service manifest changes again. I'll make sure to see when I do it next time - thanks @bishal-pdMSFT

[2018-07-23 18:29] bishal-pdMSFT commented on #7508
@mccw have you tried recently in last couple of days? The fix rolled out very recently.

[2018-07-23 18:31] bishal-pdMSFT commented on #7648
@Tadimsky should we close the issue? You can re-open later if this is not fixed.

[2018-07-23 18:35] Tadimsky commented on #7648
@bishal-pdMSFT sounds good to me!

[2018-07-23 20:09] stephenmichaelf commented on #7529
@iyerusad Can you try to run this again? I have been unable to recreate the issue using Bash. This task (AzureCLI) was updated 6 days ago so that may have resolved issues you were having before.

If you can recreate, could you send me the logs stfrance at microsoft.com

Thanks!

[2018-07-23 22:23] ianjirka opened #7811 "helm-tool-installer fails on Linux Hosted Agent"
## Environment
VSTS Hosted Linux Agent : "Hosted Linux Preview"

## Issue Description

Helm Tool Installer fails to locate the package for download (404).  It appears to assume that the archive has a .zip extension but the Linux package is gzip/tarball

Expected :
Actual : https://storage.googleapis.com/kubernetes-helm/helm-v2.1.9-linux-amd64.zip.
Expected: https://storage.googleapis.com/kubernete

[2018-07-23 22:26] #7811 closed, assigned to nobody

[2018-07-24 06:04] saurabhsuniljain commented on #7551
We are working on the fix for this. For now, to unblock yourself, can you remove the comma from the filename?

[2018-07-24 06:21] virtrixke opened #7812 "Secrets in env variables in 'Docker - run an image' task"
## Environment
- Version: TFS 2018 (Update 1)
- Agent - Private on Windows 2016 using latest docker version 17.06.2-ee-13

## Issue Description

We want to test release a docker image with some env variables using 'Run an image - Docker' task. We define some secrets in the 'Variables' tab of the 'new release definition'. However, it does not seem possible to use these secrets in the 'Environment V

[2018-07-24 07:12] The-real-Urb commented on #7812
Same problem here. Using it in the form of
MQ_SECRET
in the 'Environment Variables' section doesn't work either.
The env variable is not set in the container.

[2018-07-24 07:37] ds-ms commented on #7792
@fuocor I've informed the dotnet-core owners about this, please follow up on the referenced issue in the other repository for why we aren't supporting it now.

[2018-07-24 07:37] #7792 closed

[2018-07-24 08:52] rajatagrawal-dev commented on #7690
@elangelo Please try using Enable-ContextAutoSave as suggested by @SumiranAgg. According to the doc, your context info will be saved in a file in 'AppData' folder. Subsequently, each new PowerShell session targets the context used in your last session.

[2018-07-24 10:14] rajatagrawal-dev commented on #7646
@grik001 I tried to reproduce your scenario but it worked for me, both locally and using VSTS. You can try to debug this further if you like by seeing exactly which command is failing. Enabling debug logs by adding a variable _system.debug_ with value as _true_ in your release definition might help you with this.

[2018-07-24 11:07] dendle commented on #7427
I just used the default value as-is, and substitution did not work.

I also just tried what you have shown, where you add a subfolder to the varible, with the same results:
2018-07-24T11:04:23.5489170Z [command]C:\hostedtoolcache\windows\helm\2.8.2\x64\windows-amd64\helm.exe package --dependency-update --save --destination $(Build.ArtifactStagingDirectory)/Dendlebot-chart "D:\a\r1\a\_Dendlebot-Doc

[2018-07-24 11:09] dendle commented on #7427
Does it matter which preview features (in VSTS) I have turned on?

![vstspreview](https://user-images.githubusercontent.com/3049643/43134567-580b4dc8-8f3a-11e8-928b-da01e5ce56e5.PNG)

[2018-07-24 11:35] gykuma commented on #7584
@RiaanVR @LokiMidgard can you try the following steps and let us know if it works

1. download a new copy of the agent
2. put your CA cert chain under the root of the agent folder, the cert better be _.pem_
3. configure agent with `config.cmd --sslcacert ./locationtoyourcert.pem`

[2018-07-24 11:49] dendle commented on #7427
Hi vihati

When i read your post it just dawned on me; i am using this in a **release** and not a **build**.

Can you test again in a release setting please? I am really hoping you replicate the issue!

I will do as you have asked and post accordingly.

Thanks!

[2018-07-24 12:34] dendle commented on #7427
Yeah - it works in a build setting.

Probably because the variable is only defined in build and not release - sorry!

Also, my assumption was that if the directory was not there it would create it - although this does not appear to happen.  There also doesn't appear to be a "Make Dir" task?

Thanks for your help!

[2018-07-24 12:41] vithati commented on #7427
@dendle, $(Build.ArtifactStagingDirectory) not avaiable in 'Release', because of that it didn't work. You can find availble predefined varaible for 'Release' here https://docs.microsoft.com/en-us/vsts/pipelines/release/variables?view=vsts&tabs=batch You can use other task like powershell, bash task to create dir.

[2018-07-24 12:43] #7427 closed

[2018-07-24 12:48] hiyadav commented on #7782
It seems that .sfproj is not able to package the application properly.
@NCarlsonMSFT  can you help here ?

[2018-07-24 12:50] dendle commented on #7427
Thanks for your help vihati

[2018-07-24 12:51] iPiyushPatel opened #7815 "VsTest > VSO - Published result test count is incorrect- not matching with log file count"
## Description
While running Unit Tests on VM using VsTest build step (screenshot below), published total test run count is different than what is show in log file (which is correct, screenshot below).

![image](https://user-images.githubusercontent.com/5212585/43114736-0ae2298e-8f1e-11e8-8aba-830edbb891a7.png)

![build_log](https://user-images.githubusercontent.com/5212585/43114748-1aab8ebe-8f1e-

[2018-07-24 12:54] vithati commented on #7546
@colindembovsky, I am closing the issue. Please reopen, if you are still facing the issue.

[2018-07-24 12:54] #7546 closed

[2018-07-24 12:56] Anumita commented on #7802
We print the output in the format provided in the Output format field in the Advanced section of the task. By default the value is json. The output format field is editable so you can keep the field empty. The delete command will not have the -o json argument then.

[2018-07-24 13:36] owenniblock commented on #7350
We had the same issue with our `App Center Test` task - thanks @ericsciple - the prudent bit of information for us was this:

[code]

I needed to give access to the user editing the YAML definition so that it authorized correctly when he made changes.

[2018-07-24 13:59] UMUTBAYGUT opened #7816 "Does Not Contatin - Nuget Publisher - Pattern"
## Environment
- Server - VSTS or TFS on-premises?
    Microsoft Visual Studio Team Foundation Server
    Version 16.131.27701.1
- Agent - Hosted or Private:

   Private
## Issue Description

We are using TFS and nexus package manager. For the CI we have Nuget Publisher task.
For the Path/Pattern to nupkg I wrote: "^((?!SNAPSHOT).)*nupkg;-:**/packages/^((?!SNAPSHOT).)*nupkg;-:^((?!SNAPSHOT).)*nupk

[2018-07-24 14:01] AlbertQM commented on #7789
I've finally found the problem.

I was generating the VMs password by using 1password generator.
Apparently, Windows 7 can't take an overly complicated password. I would be able to create the VM via Azure but it wouldn't let me RDP (Getting a credentials error, tried a couple of times with different auto-generated passwords).

With the same auto-generated passwords, Windows 10 would let me RDP. Ho

[2018-07-24 14:01] #7789 closed

[2018-07-24 14:43] vithati commented on #7812
@virtrixke @The-real-Urb, I have tried your scenario, setting release secrets variables in the 'Environment Variables'. it is working for me, i see environment variable properly set in docker container. Can you explian issue and your scenario more? Can you share the logs and Dockerfile.

[2018-07-24 14:48] riweston commented on #4868
So I'm aware there's config issues there but the issue I was testing was actually just printing the variables contents to the log using the code below;
[code]
When I tested this code I was able to output the variable contents of `$env:Location` & `$env:Packerfile` however when the agent tries to execute `Write-Output $(ClientId)` I got the following error;
[code]
Does that make sense? :)

Cheers,

[2018-07-24 15:04] rorymacleod commented on #7801
I had a similar issue, except that the missing parameter was "ApplicationTypeVersion". My build agent was using version 2.6.220 of the Service Fabric SDK - upgrading to the latest 3.2.162 fixed it.

[2018-07-24 15:06] samneirinck commented on #7536
Having the same issue on the Bash task in releases (build seems to work). Any update on when this would be deployed?

[2018-07-24 15:10] bradwillis commented on #7536
The last ring of users should be getting the fix this week. I will send an update once this happens.

[2018-07-24 15:15] #7809 closed

[2018-07-24 15:38] damienwebdev opened #7817 "Feature Request: Add "silent/quiet" option to `Archive Files` Task"
Use Case:
As a DevOps team member, a significant portion of my build time is a result of the output of the `zip/unzip` commands. Adding the ability to add the `-q` flag will reduce my build time significantly (25s out of 1 min build).

## Environment
* VSTS
* Private Agent - Ubuntu-16.04

[2018-07-24 15:54] rajatagrawal-dev commented on #7789
@AlbertQM Can you share one of the sample passwords for which the AzureFileCopyV2 task is giving you an error? We'll try and fix it.

[2018-07-24 16:34] NCarlsonMSFT commented on #7782
Could you add the flag /verbosity:diag to your package step? That will give more information about why the package task is behaving the way it is.

Another thing that may be useful for diagnostics would be to upload your output folder as an artifact after the solution build, but before the package. That would check fi something strange is happening on the initial build.

Lastly does your solution

[2018-07-24 16:51] rajatagrawal-dev commented on #7789
@AlbertQM Just to clarify, is your task still failing or the "Access is denied" error was only on Windows 7?

[2018-07-24 17:23] FlorenceDaniel commented on #7621
Hi @SumiranAgg , Thanks! How could we make our existing "windows machine file copy task" in VSTS use this new robocopy script?

[2018-07-24 17:38] madhuv-msft commented on #7446
@boydc2014 would you check @sureshtadisetty suggestion?

[2018-07-24 17:40] madhuv-msft commented on #7206
@yiqzhou would you follow suggestion of @sorosoro2 and see if that fixes the problem?

[2018-07-24 17:41] edwardg-MSFT commented on #7801
There was no change to the agent pool. However, updating to the latest version (3.2.162) has enabled the task to succeed.

[2018-07-24 17:41] #7801 closed

[2018-07-24 17:52] wahabakhtar opened #7821 "Deploy Service Fabric task doesn't work with secret variables"
We are using Service Fabric Deploy task and managing application secrets inside Azure Key Vault, Service Fabric Deploy override application parameter option doesn't work with secret variables that are loaded previously from Azure Key Vault task, which works fine with other tasks e.g. Azure Resource Manager Tasks, Powershell, etc.

[2018-07-24 18:11] softarch74 commented on #7537
This still is not working. We just got this issue again today.

[2018-07-24 19:45] keithrob commented on #7564
Duplicate of #6252

[2018-07-24 19:45] #7564 closed

[2018-07-24 19:45] keithrob commented on #7582
Duplicate of #6252

[2018-07-24 19:45] #7582 closed

[2018-07-24 21:01] heaths opened #7823 "Please generate and upload diagnostic VSBuild logs when System.Debug is true"
It would be nice if the VSBuild task uploaded a diagnostic log when `System.Debug` is 'true', much like the VSTest@2 task does (see its vstest.ts source). This can be done with an additional task currently, but then the log filename doesn't line up (i.e. doesn't have the same ordinal prefix) and is something build administrators / developers have to do before a problem arises, vs. just kicking a n

[2018-07-24 21:53] CEsystemLLC commented on #1102
you can add a task with its control options set to "Continue on Error". Whenever this tasks fails, your build will be partially succeeded.

Control options >
Enabled (checked)

[2018-07-24 21:55] CEsystemLLC commented on #1102
in Build Tasks and the Publish Artifact blade

[2018-07-24 22:54] gravufo commented on #1102
@CEsystemLLC have you even read the issue? We're asking for a build to partially succeed when a task has warnings, not when it fails.

[2018-07-25 02:11] ryanmagani commented on #7551
@saurabhsuniljain I have a workaround already (noted in the original post): I've replaced my commas with tildas

[2018-07-25 02:37] gjmoyer commented on #5125
I'm having the same issue.  Please support Azure CLI task with Powershell on hosted Windows agent or allow easy way to az login in the Powershell task.   I think that the combination of Powershell and Azure CLI is the best.

[2018-07-25 04:56] akhilvatts commented on #7049
Facing the same issue at our end too.
+1

[2018-07-25 07:16] The-real-Urb commented on #7812
@vithati , I have it working fine now. I had to change 2 things.

1. removed and added the secret to TFS again. It was blank for some reason :-s
2. In the 'Environment Variable' section, I had to put "SecretPassword=$(SecretPassword)" instead of "SecretPassword".

Now the secret is blanked out perfectly in the logs:
`2018-07-25T06:51:11.4532000Z ##[debug]C:\Program Files\Docker\docker.exe arg: ["-

[2018-07-25 07:19] mmajcica commented on #6252
I am having the same issue with NuGet (new v2 version) task when trying to push the packages to my internal TFS feed.
The suggested workaround doesn't work (NO_PROXY env variable).
However, the old task NuGet Publisher (that is deprecated) works with no issues. And this can be considered a good workaround.

[2018-07-25 07:41] mmajcica commented on #7495
@bryanmacfarlane @brcrista Are there any updates on this one?

[2018-07-25 08:04] whozDougie commented on #7782
I will give that last point a shot. Will try to compile everything in x64. At the moment, the dependencies are compiling with "Any CPU".

Will post shortly - appreciate your help on this.

[2018-07-25 08:07] ShreyasRmsft commented on #7485
@bryanmacfarlane wanted to know what the recommended way to detect if this field was left blank.

A simple string comparison with system.defaultworkingdirectory did not work due to the reasons stated above. One possible way was to normalize directory separators but that seems very hacky.

Ideally a string comparison with system.defaultworkingdirectory should have sufficed but for some reason the b

[2018-07-25 08:47] AlbertQM commented on #7789
To make everything more clear:

I'm using AzureFileCopy to copy files to a Windows 10 machine.

The Windows 7 machine was created just to see if this 'Access is denied' problem was OS related; I was checking this by simply trying to establish a Cim-Session rather than using the Windows 7 machine in the VSTS pipeline.

To answer your question, an auto-generated password would look like:

`fF}uBiLKw

[2018-07-25 09:06] bryanmacfarlane commented on #7495
@keithrob can update

[2018-07-25 09:42] vincentdass commented on #5259
@frankfuu , @thomasrousset , Zip Deploy & RunFromZip feature is available in 4.* task version.
Please try out the same and share your feedback.

[2018-07-25 09:58] kaldav opened #7824 "Inline powershell issue with lots of variables"
## Environment
   https://dealogic.visualstudio.com/Dealogic
   Agent version: 2.136.1
   Task version: 2.136
   OS: 2012 and 2016 Server VM
   PowerShell: 5.1

## Issue Description
We are from Dealogic and we faced an issue when running an inline PowerShell script with lots of environment variables.
We have lots of variables which we have to support, workaround is not possible.
We are aware of th

[2018-07-25 10:40] markusdresch commented on #7611
now it does transfer files from the root directory to $root (instead of $web) and then it fails with:

[code]
subdirectories are omitted.

[2018-07-25 10:51] SreenivasReddyS opened #7827 "Cloud-based Apache JMeter Load Test from build task"
we are running load test from VSTS build using Cloud-based Apache JMeter Load Test, but here for duration i can able to select value upto 300 sec only, i want to run test for 15mins. is that possible?

[2018-07-25 10:59] jaq316 opened #7828 "Helm package Error: Endpoint data parameter not present: authorizationType"
## Environment
- Server - VSTS or TFS on-premises? VSTS

    - If using VSTS, provide the account name, team project name, build definition name/build number:  lsproperty, Lightstone Team, Lightstone.TransactionManagement build #0.1.0-unstable.13

- Agent - Hosted or Private: Private

    - If using private agent, provide the OS of the machine running the agent and the agent version: Docker hub im

[2018-07-25 11:30] hiyadav commented on #7692
@craigktreasure it looks that the downloaded file is being locked and used by some process. It can be that the agent machine has AntiVirus software installed which might have locked the downloaded file. Can you try removing this area out of the AntiVirus and try if it repro's still ?

[2018-07-25 12:16] frankfuu commented on #5259
hi @vincentdass, just tried using Zip Deploy but it came back with an error

Here is my msbuild command

`C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin\msbuild.exe" "C:\vsts\MyTestPool\my-test-bd-agent-2\_work\1\s\MyCompany\src\UI\My.Project\MyCompany.My.Project.csproj" /nologo /nr:false /dl:CentralLogger,"C:\vsts\MyTestPool\my-test-bd-agent-2\_work\_tasks\VSBuild

[2018-07-25 12:32] bergmeister commented on #5112
@bryanmacfarlane This still does not seem to be implemented

[2018-07-25 12:49] rajatagrawal-dev commented on #7621
@FlorenceDaniel The next deployment will happen sometime next week, after which all accounts will have the updated task.
If you want the task before we deploy to your account, you'll have to use [tfs-cli](https://github.com/Microsoft/tfs-cli) to manually upload the task to your account. If you do plan to manually upload and need guidance with tfs-cli, you can mail us at RM_Customer_Queries [at] mi

[2018-07-25 12:52] rajatagrawal-dev commented on #7611
@markusdresch In what version of the task are you seeing this behavior? You'll find the task version near the top of the logs.

[2018-07-25 12:55] FlorenceDaniel commented on #7621
@rajatagrawal-dev  Thanks a lot for you response. Would you be able to update this thread once the deployment happens next week? Also right now we are using 1.* version of the "windows machine file copy task". Should we update our release definitions to use 2.* version of the "windows machine file copy task" in order to have the updated task? Please let me know.

[2018-07-25 13:00] rajatagrawal-dev commented on #7621
@FlorenceDaniel I'll update the thread once the task is deployed to all accounts. Yes, the fix is only in version 2 of the task. Please select version 2 to get the task with latest features and bug fixes.

[2018-07-25 13:19] davoodharun opened #7829 "Cannot get vsts test case id, parameters, or test configuration from test context for an automated test"
## Issue Description
I've successfully set up automated testing by associating VSTS test cases with Visual Studio NUnit tests using this method: https://docs.microsoft.com/en-us/vsts/test/associate-automated-test-with-test-case?view=vsts

I want to be able pass test case parameters from the VSTS test case to the Visual Studio test. The only way I am to do this is by hard coding the VSTS test case

[2018-07-25 13:34] markusdresch commented on #7611
[code]

[2018-07-25 13:35] briannipper opened #7830 "AzureKeyVault: Trim Leading White Space in Comma Separated List of Secrets"
## Troubleshooting
Included a comma separated list of secrets and the second, third and following secrets have a leading whitespace which is included in the HTTPS request to Key Vault, see following...

2018-07-25T13:21:44.2034296Z ##[debug]xxxxxxxxxxxx data msiclientId = undefined
2018-07-25T13:21:44.2058587Z SubscriptionId: xxxxxxxxxxxxx.
2018-07-25T13:21:44.2058853Z Key vault name: Dev-PUMA-EAS

[2018-07-25 13:38] LokiMidgard commented on #7584
Thank you for the tip.

I currently can't try it. I hope I can check in two weeks.

[2018-07-25 13:48] onovotny commented on #7792
This is a breaking change to the task. Breaking changes should be at a different task major v

[2018-07-25 14:50] bryanmacfarlane commented on #5112
@bansalaseem for task group question.

[2018-07-25 14:52] bryanmacfarlane commented on #5112
Since this is a service side issue, developer community would be a better channel.  That's the only publicly tracking mechanism for the service.

[2018-07-25 15:55] vincentdass commented on #5259
@frankfuu , Can you please edit the build as follows:

- In **Build Solution** task, change the **MSBuild Arguments** to `/p:DeployOnBuild=true /p:DeployDefaultTarget=WebPublish   /p:WebPublishMethod=FileSystem  /p:DeleteExistingFiles=True /p:publishUrl="$(System.DefaultWorkingDirectory)\\WebAppContent"`
![image](https://user-images.githubusercontent.com/20121508/43206337-1b405636-9043-11e8-98b2-b

[2018-07-25 16:07] jkanczler commented on #7824
It seems that is already fixed as mentioned in vsts-task-lib: Microsoft/vsts-task-lib#228

According to that issue, the fix was applied in July 2017. But Powershell task is using version 2.0.5 that was released in April 2017. Updating vsts-task-lib for the task should solve the issue.

[2018-07-25 17:28] elendil326 opened #7833 "The WaitForComplete property is ignored"
The WaitForComplete variable is not being set as a property of the execute section, therefore ignoring its value.

https://github.com/Microsoft/vsts-tasks/blob/d3d09824dbfea8b8dcdddf18ae5f22026ca44385/Tasks/PublishToAzureServiceBusV1/task.json#L96-L113

[2018-07-25 18:40] scott-lin commented on #3890
@wawyed, I'm running into the same and looking for a workaround until the fix is provided. How did you "uninstall/update the global version of gulp" in the build definition?

+1 for looking at this issue sooner than later.

[2018-07-25 20:50] whytoe commented on #7676
@bishal-pdMSFT Its mid week :)
Do you have any update?

[2018-07-25 21:38] elvisFabian opened #7836 "Failed to publish test results: Could not find file '/vsts/agent/bin/.trx;]"
## Troubleshooting
At publish Test Results task, it gives the following error: `Failed to publish test results: Could not find file '/vsts/agent/bin/.trx;]'.`

My guess is because the file name has `[1].trx`

The file trx is generated by dotnet test with multiples tests projects, this is why the `[1]`

## Environment
- Server - TFS on-premises 2018.1

- Agent - Hosted or Private:
    Docker: micro

[2018-07-25 22:10] gravufo opened #7837 "Builds stuck on symbols publishing"
## Environment
TFS 2017.2

## Issue Description

Builds get stuck on symbols publishing because the Publish Symbols task locks the symbol server with _lockfile.sem.
`##[warning]Semaphore file '\\server\SymbolServer\_lockfile.sem' already exists. Retrying symbol publishing in 10 seconds.`

We have a ton of builds that run at the same time and we have always had a single symbol server for all of the

[2018-07-25 22:10] JCanlett opened #7838 "IIS Web App Manage Task - WebDAV module being enforced even when "disabled""
VSTS IIS Web App Manage Task

## Issue Description
HTTP error code 405 on all PUT & DELETE request post release.

Per the docs - "The task updates websites, webapps and application pools but does not install or configure IIS web server on the machines."

However the first option is "Enable IIS" which appears runs the cmndlet Add-WindowsFeature web-server -includeallsubfeature cmd which I'm not fam

[2018-07-25 22:16] scott-lin opened #7839 "[Gulp Task]: Global gulp version being used instead of my packages.json version"
## Issue Description

The global version of gulp installed on the agent is being used instead of the version installed via my packages.json. Before the gulp task is run, an npm install task is run successfully targeting the packages.json below. I've confirmed the packages.json version of gulp is installed during the npm step by turning on verbose logging.

My gulpfile.js and packages.json files ar

[2018-07-25 22:41] rajatagrawal-dev commented on #7432
@VinKamat As discussed, the task requires that the agent be configured with credentials that has read access to registry. By default, NT Authority/Network Service account has these permissions. For some reason, NT Authority/Network Service on your VM is not able to that, but you were able to run the task using admin credentials.

You can try and create a new user on your VM and try to configure it

[2018-07-25 22:44] rajatagrawal-dev commented on #7432
Closing this issue as this is not a task issue but rather a infra/permissions issue.
@VinKamat Please use our RM_Customer_Queries mail thread if you need further assistance regarding this.

[2018-07-25 22:44] #7432 closed

[2018-07-26 04:28] shellicar opened #7840 "Machine File Copy Task - Specifying Clean Target does not clean subdirectories"
## Environment
- Server - VSTS

- Agent - Private\
OS: `Windows Server 2012 R2`\
OS Version: `6.3.9600`\
Agent Version: `2.131.0`

## Issue Description

Task Name: `Windows Machine File Copy`\
Version: `2.*` (`2.1.2`)\
Details: Specifying `Clean Target` does not pass the `/E` parameter to robocopy.\
Clean-Target function in RoboCopyJob.ps1 uses parameters `/NOCOPY` and `/PURGE` with no `/E`

### E

[2018-07-26 05:38] japj commented on #6252
Any insight in when this is planned to be worked on for on premise customers?
We are on TFS2018 Update2 and are now hitting this issue, not being able to use the NuGet based tasks because of this.

[2018-07-26 05:41] bryanmacfarlane commented on #6252
noting that proxy support is a base requirement for TFS in-prem.

[2018-07-26 05:55] fleed opened #7842 "Azure file copy: clean path before copying"
Is there an option to cleanup a specified path on Azure storage blobs before copying new files?

[2018-07-26 05:57] vincentdass commented on #7784
@mbialitskiy , the issue is fixed and the fix will be available in upcoming deployment.

[2018-07-26 05:57] #7784 closed

[2018-07-26 05:59] japj commented on #6252
Just to clarify on my earlier remark/question, we are running TFS behind a proxy server and have configured all build agents with correct bypassproxy settings. This was done as part of the rollout of agent v2.117.2 (TFS2017U2), because the bypassproxy was introduced then (the setting didn't exist before).

Now that we are moving more internal projects to TFS and as those want to make more use of t

[2018-07-26 06:11] vithati commented on #7828
@jaq316, We have identified issue and fixed the issue https://github.com/Microsoft/vsts-tasks/pull/7779.  We are deploying the fix. I will update once fix deployed.

[2018-07-26 06:16] mblaschke opened #7843 "Qualys on WinAgent: Requested registry access is not allowed"
## Environment
Agent: 2.133.3
OS: Windows 10.0.14393

VSTS agent running inside an Azure VM with Qualys agent

## Issue Description

If a security application (eg. qualys) is installed some registry keys (uses registry as credential storage) are not readable by `NETWORK SERVICE` user and vsts agent failed to run Azure Powershell Script tasks. The tasks are already failing in the setup phase (befor

[2018-07-26 07:43] vithati commented on #7810
@andreacassioli, In task logs it is not showing quotes but if you specify sh -c "ls *.Test/*.csproj | xargs -L1 dotnet test -c Release --logger:trx -r ../../test_out" in docker task run 'command' input, it executes "ls *.Test/*.csproj | xargs -L1 dotnet test -c Release --logger:trx -r ../../test_out" command in docker container even quotes not visible in logs. Can you share task log?

[2018-07-26 07:49] bishal-pdMSFT opened #7844 "[SF deploy task] Test application package error message should clearly mentioned that user can turn off validation in task input"
I have seen case where application install/upgrade can still succeed even if application package validation fails. Hence, if test package fails, we should tell user that they can turn off validation.

[2018-07-26 08:13] rajatagrawal-dev commented on #7621
Please check if you have Windows File Copy v2.1.2. The fix should be deployed.

[2018-07-26 08:24] rajatagrawal-dev commented on #7842
@fleed Azure File Copy uses [AzCopy](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy) to handle blob upload. There doesn't seem to be any option to delete blobs.

You can add an Azure Powershell task before your Azure File Copy task and call something like Remove-AzureStorageBlob (see [documentation here](https://docs.microsoft.com/en-us/powershell/module/azure.storage/rem

[2018-07-26 09:13] bishal-pdMSFT commented on #7676
Yes, we will go ahead with the PR - once the author has resolved all comments. We will bump up the major version of task so that not to break anyone using current packer version.

[2018-07-26 09:25] fleed commented on #7842
Thank you @rajatagrawal-dev . I submitted the idea to the AzCopy team.

[2018-07-26 09:25] #7842 closed

[2018-07-26 09:25] andreacassioli commented on #7810
I had to find a workaround in the meantime, so I have to setup a new pipeline to reproduce the issue. But the output  log is what I pasted in the first message.

BTW: if the log does not show exactly what is executed, including quotes, then it is clearly at least a bug in the log!

[2018-07-26 09:34] thomasrousset commented on #5259
Hi,
@vincentdass I just tried the v4 with zipDeploy deployment and it works well on my side.
We'll keep on test it. Thank's for your work and the message to warn us about the v4 avaibility.

[2018-07-26 09:45] bishal-pdMSFT commented on #7537
The fix is still rolling out across scale units. Can you please try again as many of the scale units are done.

[2018-07-26 09:49] vithati commented on #7810
I see only for linux agent logs quotes are not visible. Windows agent printing logs with quotes. I will check why quotes not showing in linux agent logs.  As i said in my previous comment, logs not showing quotes but command sh -c "ls .Test/.csproj | xargs -L1 dotnet test -c Release --logger:trx -r ../../test_out" executes in docker container and it should not fail due to quotes issue.  Can you tr

[2018-07-26 10:13] jaq316 commented on #7828
Awesome. Thank you. Will await deployment

[2018-07-26 10:57] whozDougie commented on #7782
Hi @NCarlsonMSFT ,

Thanks for giving us those hints. Here are the results of the attempt:
1. Added /verbosity:diag to the package step and have attached the log.
[Packagelog.txt](https://github.com/Microsoft/vsts-tasks/files/2231591/Packagelog.txt)
2. Configured uploading the output of the build, checked the artifacts and can confirm all binaries were built correctly.
3. Ran a Build with the DB o

[2018-07-26 11:13] bansalaseem commented on #5112
Thanks @jstawski for the feedback. Right now the workaround which you have done looks reasonable and we have a story in our backlog to manually specify a task group variable. I dont have a specific timeline when we will get to it though.

[2018-07-26 12:51] vincentdass commented on #7694
The issue is fixed and the fix is available in all accounts.

[2018-07-26 12:51] #7694 closed

[2018-07-26 12:51] vincentdass commented on #5946
@davidjenkins , Zip Deploy & RunFromZip feature is available in 4.* task version.

[2018-07-26 12:51] #5946 closed

[2018-07-26 13:41] vithati commented on #7810
Task logging comes from vsts-task-lib file.  I have opened bug https://github.com/Microsoft/vsts-task-lib/issues/383 . Closing this bug.

[2018-07-26 13:41] #7810 closed

[2018-07-26 14:14] joe45sp commented on #7784
@vincentdass does this fix the issue with appsetting json variables not being replaced as well?

[2018-07-26 14:14] joe45sp commented on #7784
@vincentdass also when is the upcoming deployment? Is there a way to see a schedule of this?

[2018-07-26 15:18] rajatagrawal-dev commented on #7621
When you queue a release, the latest available patch of the version that you have selected (2.*) will be taken. So please select 2.* in your release definition and in the logs, you will find the exact task version that is available for major version 2.

[2018-07-26 16:38] vincentdass commented on #7784
@joe45sp , JSON var. substitution issue is getting hotfixed. This should available this week.
Setparam issue fix will be available in ~3-4 weeks.

[2018-07-26 18:00] whytoe commented on #7676
@bishal-pdMSFT Do you have a PR reference number? so i can follow that?

[2018-07-26 18:31] andreacassioli commented on #6439
I have noticed that the docker build process always delete intermediate containers. Why is that? It is not the default Docker behaviour. We have some use cases in which we would like to split a multi-stage build in multiple tasks, but right know there is no way to cache one stage to the second.

Notice that that does not happen running docker build fro ma bash task.

[2018-07-26 19:03] joe45sp commented on #7784
@vincentdass is there anyway to see release progress? Also, can you point me to the commit that fixed the json var substitution? Just curious to see what fixed it. Thank you for all your help with this!!!

[2018-07-26 19:33] tabeth opened #7852 "Publish Test Results: Clarification on metadata linkage"
## Environment
- Server - VSTS or TFS on-premises?
 **VSTS**

- If using VSTS, provide the account name, team project name, build definition name/build number:
 **I'd rather not publicly make this information available. I can provide through private channel if necessary**

- Agent - Hosted or Private:
    **Hosted**

- If using Hosted agent, provide agent queue name:
    **Hosted Linux Preview**

[2018-07-26 20:43] andrewsuiter commented on #6687
@AbinsYnoox  were you able to figure out how to obtain data from the call? I am working on the same thing and have been unable to get the data to my next build task.

Thank you,

[2018-07-26 21:55] rylewell-msft commented on #7808
Instead of using the PowerShell task, use the Azure PowerShell task, which injects the needed credentials into the current PowerShell session before running your script

[2018-07-26 22:14] andreacassioli commented on #7791
I agree with @timmydo : the `include latest tag` behaviour it's pretty unusual to me. I do not see a reason why latest should be pushed if no tags are in the tag file. Why not just push tags from the file and the additional list, and if both are empty then just either fail or silently push no tag at all?

[2018-07-26 23:09] NCarlsonMSFT commented on #7782
Looking at your log it seems like your project does not reference any services (line 1621):
2018-07-26T00:42:48.2860543Z Target "GetServiceProjectReferences" skipped, due to false condition; ( '@(ProjectReference)' != '' ) was evaluated as ( '' != '' ).

Where are you expecting the service manifests to come from?

[2018-07-27 00:13] whozDougie commented on #7782
The project is actually defined in the sfproj file.

  <ItemGroup>
    <ProjectReference Include="$(SolutionDir)\******.******.FabricService\******.******.FabricService.csproj" />
  </ItemGroup>

Is that build parameter meant to be defined somewhere in the build tasks?

[2018-07-27 05:08] bansalaseem commented on #6687
@andrewsuiter We dont have support for passing variables across phases yet though it is there in our backlog.

[2018-07-27 05:24] Tom-Dunstan opened #7853 "Task PowershellV2 has not arguments field when inline is selected as type"

[2018-07-27 05:54] vincentdass commented on #7799
@adamtuliper , thanks for reporting the issue.
This is a genuine issue and will be fixed.

[2018-07-27 05:59] vincentdass commented on #7784
@joe45sp , JSON variable substitution fix: #7818. (Task replaced the values in JSON but deployed the unmodified (original) package and this created an impression that JSON variable substitution didn't work)

[2018-07-27 06:16] hiyadav commented on #7508
Closing the issue as the fix has been rolled out. If still facing this kindly reopen

[2018-07-27 06:16] #7508 closed

[2018-07-27 07:42] mmajcica commented on #6252
@bryanmacfarlane are you saying that proxy support is not an essential feature and you are not keen to focus on it?

@japj I opened a ticket on MS Premier Support regarding this and I'm chasing this on other channels. It is also essential for us to have ALL of the MS supported tasks play well with the proxy.

[2018-07-27 07:53] vivuu1989 commented on #1542
May I know, How you could resolve the issue.

[2018-07-27 09:11] bishal-pdMSFT commented on #7801
Just to update - fix for this has been rolled out. You won't need to use newer SDK.

[2018-07-27 09:13] bishal-pdMSFT commented on #7801
but, if you use newer SDK, you will get added reliability in task. So, better to use new SDK

[2018-07-27 09:16] cltshivash commented on #7517
The trx generated by the test task would be available as a run attachment. If you can explain your need in detail it can help us provide a better response

[2018-07-27 09:16] bansalaseem commented on #5074
@GarethOates, you should able to deploy releases also via a custom task.

[2018-07-27 09:23] #7828 closed, assigned to Anumita, vithati, bansalaseem

[2018-07-27 09:35] bishal-pdMSFT commented on #7537
The fix has been rolled out completely. Closing this issue. If you still same error, please re-activate this issue.

[2018-07-27 09:35] #7537 closed

[2018-07-27 09:36] bishal-pdMSFT commented on #7597
@Leo-Mepham this issue has been fixed. Closing the issue. If you still same error, please re-activate this issue.

[2018-07-27 09:36] #7597 closed

[2018-07-27 09:37] bishal-pdMSFT commented on #7466
This is done now.

[2018-07-27 09:37] #7466 closed

[2018-07-27 09:49] harshil93 commented on #6439
@andreacassioli Not an expert on docker but the default option in docker build is to remove intermediate containers. Do you want to keep the containers after docker build ?

https://docs.docker.com/engine/reference/commandline/build/#options

See the --rm

[2018-07-27 10:30] rajatagrawal-dev commented on #7840
@shellicar Thanks for reporting this. The fix missed the last deployment. It will be available in the next few days.

[2018-07-27 12:15] Calidus commented on #5472
This is still an issue, has anyone considered the option of removing the clean folder option? Microsoft already provides a 'Delete Files from' Task.

[2018-07-27 12:22] hiyadav commented on #7792
Hey @fuocor

We have rolled out a fix to all customers, you can try running your BD/RD now. It shall pass now.

[2018-07-27 12:36] Mibe8 commented on #7621
I can see we are using version 2.1.2 of this task, but we still get this error. I can't see any sessions open from the agent.

[2018-07-27 13:11] rajatagrawal-dev commented on #7808
If you are writing a task, the best way to authenticate to Azure Resource Manager (ARM) will be to give an input in the task to select an ARM endpoint. Please see our [Azure Powershell task](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/AzurePowerShellV3/task.json#L59) to see how we are doing it.

[2018-07-27 13:18] phatcher commented on #7808
@rajatagrawal-dev  Thanks I'll give it a go

[2018-07-27 14:37] abannsunny commented on #4427
you can try
ng test --watch=false

This worked for us!

watch mode will look for file changes and re run the tests.

"Tests will execute after a build is executed via Karma, and it will automatically watch your files for changes. You can run tests a single time via --watch=false."

[2018-07-27 20:22] DiMaReCas commented on #6306
I'm new working with the tfs, I'm trying to run tests from tfs in selenium grid, but I don't know if this is possible.

[2018-07-28 11:05] JohannesDrexler commented on #7853
The scriptblock is checked for variables so you don't need an argumentsfield. You can write
`write-host "$(myMessage)"`
where myMessage is a variable from your build or release

[2018-07-28 13:45] mathieu-benoit commented on #7794
FYI @vithati @Anumita @vcorr, I just submitted this PR #7859 to fix that.

[2018-07-28 14:42] JohannesDrexler commented on #7853
If your variable is scret you need to map it in the "Environment Variables" section of the task. Lets assume you map the scret variable  $(myMessage) to 'MYMESSAGE' you can then access it like
`$secretvalue = $env:MYMESSAGE`
Note that the variable my get replaced in the console output (which makes sense for secet variables) if you are trying to display it's value.  The script will still use the re

[2018-07-28 15:02] JohannesDrexler commented on #7656
If this is a customTask and no powershell-inline you can't access $(Build.ArtifactStagingDirectory) like that in your script. Theses build.X variables are available as environment-variables for the powershell script of your custom task with the "." replaced with "_".
So instead of
`$policyFolder = "$(Build.ArtifactStagingDirectory)$policyName"`
you would do this
`$policyFolder = Join-Path $env:BUI

[2018-07-29 03:57] devTimmy commented on #5094
Apparently, adding a **Nuget Restore** task before **.NET Core Restore** worked for me.

[2018-07-29 22:13] keithrob commented on #6040
Seems like everyone with a proxy is hitting this.  Not a huge fan of embedding this logic in the task but I agree update+CI doesn't make sense.

[2018-07-30 01:54] iPiyushPatel commented on #7815
In fact, I've figured out the issue. Let me explain. In our solution, we publish Test Logs back to VSO (code snippet below ). I noticed that if log file name is > 70+ (approx) then it doesn't export all results to VSO correctly.

![image](https://user-images.githubusercontent.com/5212585/43373735-408d10b2-93c9-11e8-9514-bd9f20fad63f.png)

Now,I've restricted log file name size to max 70 and everyt

[2018-07-30 02:46] bryanmacfarlane commented on #6040
Either the task does it or you push the consumer of the task to do it (and discover they need to do it).  In the task you 100% reliably whether the agent is configured to use a proxy.  Since the task packages up how to run tools given the appropriate environment, I think it's where it should be done.

[2018-07-30 06:33] dpksinghal commented on #7727
@CoderAilbhe1  => It is not a supported scenario. Publish Test results task is used only to publish unit test results.

@brcrista => Thanks for reporting. We recently discovered an issue with Publish Test results task for non-TRX (VSTest) formats, if the agent version is V2.138.*. As a work around you can use V2.136.* to unblock yourself.  We will be pushing the fix soon and you can refresh the ag

[2018-07-30 07:43] mayankbansal018 commented on #7705
@Daroosh , can you try following:

- Can you please share what is the Max TargetSDK you are using for your UWP app, is it 14393?
-  from CLI can you also enable diagnostics log via passing --diag:<path_to_log.txt>, it should print path to two log files on console, please share both of them.
- Can you also try this for a blank UWP UT app. We want to make sure that there is no external factor which

[2018-07-30 07:59] kumarkpsaravana commented on #2980
@bryanmacfarlane can we have the dictionary type of input for a task now?

[2018-07-30 09:31] sachinma commented on #7844
@bishal-pdMSFT  should we ask the SF team first if this is expected behavior. This doesn't look like a very natural suggestion and rather a bug on the SF team. Should we open one in their repo once we have  repro for this issue.

[2018-07-30 09:54] gbrueckl opened #7865 "Assigning empty/null value to VSTS variable"
## Troubleshooting
not relevant

## Environment
VSTS
general issue

Hosted Agent

## Issue Description

when setting a VSTS variable via PowerShell and the variable value is $null (maybe also if it is empty/""), the VSTS variable does not get created
In my case this was due to an issue with my PowerShell script but it would have been much easier for me to spot the error if I get a warning that I a

[2018-07-30 10:05] rajatagrawal-dev commented on #7808
Closing this. Please reopen or create new for further questions.

[2018-07-30 10:05] #7808 closed

[2018-07-30 10:05] rajatagrawal-dev commented on #7646
Closing this. Please reopen if required.

[2018-07-30 10:05] #7646 closed

[2018-07-30 11:04] #7517 closed

[2018-07-30 11:07] SreenivasReddyS commented on #7827
Could you please confirm, is this fix will be for my subscription/project only or is that for others also?

[2018-07-30 11:31] Daroosh commented on #7705
@mayankbansal018 , Thanks a lot for your feedback.

- Yes, 14393 is the TargetSDK version
- I enabled the diagnostics logging and attached the output log file
- I tried with a blank UWP and UnitTest project, same result
- Yes, both capabilities are enabled in both projects; UWP & UnitTest

Thanks a lot!
[log.txt](https://github.com/Microsoft/vsts-tasks/files/2240933/log.txt)

[2018-07-30 11:46] mayankbansal018 commented on #7705
@Daroosh if the Max Target SDK is 14393, it means that for such UWP test projects we will use our older Testplatform. To run tests for such projects from CLI, You will have to use ".appx" as input, & make sure you set an env variable "PREFER_TP_LEGACY" to 1, & then run it via CLI . Please make sure you register the App before running it via ".appx"

However if you can move your Max target SDK to >

[2018-07-30 11:49] ds-ms commented on #7821
@wahabakhtar can you share some debug logs?

[2018-07-30 12:11] rajatagrawal-dev commented on #7789
@AlbertQM I did not completely understand your scenario. Where exactly are you using the command `(ConvertTo-SecureString -String '$(password)' -AsPlainText -Force)` in the AzureFileCopy task?
You only need to specify `$(password)` in the password field.

[2018-07-30 12:41] nigurr commented on #7730
@tbielejeski

From the logs, you seem to set `Select test platform using = Specific Location`.
This won't work with 'Tools installer`. Please configure your VsTest task with below values
`Select test platform using = Version`
`Test platform version = Installed by Tools Installer`

[2018-07-30 12:45] nigurr commented on #7708
@arturo2019 Can you please update on this issue? Please let us know if you need our assistance

[2018-07-30 12:46] nigurr commented on #7703
@4c74356b41 Currently this feature is not yet available. We are currently working on this.
Thanks for your feedback. Please do share your ideas/feature requests here: https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services

[2018-07-30 12:46] #7703 closed

[2018-07-30 12:47] nigurr commented on #7685
Can you please share your build/release logs with `system.debug=true`?

[2018-07-30 12:54] nigurr commented on #7760
Please refer this thread: https://github.com/Microsoft/vsts-tasks/issues/7703

Currently we don't have support for this. We are actively working on this feature to enable this experience.
However we don't have specific timelines to share at this moment.

[2018-07-30 12:54] #7760 closed

[2018-07-30 12:59] nigurr commented on #7800
@IbrahimUmar
Can you please share your Release configuration (screenshots) and can you please let us know how many agents are active when the release is started.

[2018-07-30 13:08] Kasperki opened #7869 "Ant fail task"
## Issue Description

When running ant targets which calls Fail Task.
[code]

We get generic error:
❌Error: /usr/bin/ant failed with return code: 1

Is it possible to get:
Error: Something wrong here.

## Example
![alt text](https://i.imgur.com/J9ElgmM.png "Example")

[2018-07-30 13:58] nmohammad1 commented on #7685
Hi Nitin,

You probably got this from Github. I had also raised a ticket. A support specialist from MSFT spoke to me and told me the issue has been resolved. I do see attachments now. Thanks for getting back to me.

Thanks
Nawaz

From: Nitin Gurram [mailto:notifications@github.com]
Sent: Monday, July 30, 2018 8:48 AM
To: Microsoft/vsts-tasks
Cc: Nawaz Mohammad; Mention
Subject: Re: [Microsoft/vsts

[2018-07-30 14:01] arturo2019 commented on #7708
Good morning, I tell you that I am still with the problem and if possible I would like to help to be grateful

[2018-07-30 14:06] acasella opened #7870 "NugetCommand: Basic authentication breakes when pushing to jfrog artifactory"
## Environment
- VSTS
- Agent - Hosted and private

## Issue Description

Task: NuGetCommandV2.
When using basic authentication, the nuget push command adds an invalid parameter:
 -ApiKey RequiredApiKey
This is causing the nuget push command to fail when calling jfrog artifactory. Removing this parameter fix the problem.
![image](https://user-images.githubusercontent.com/8753512/43402175-6b454d1c-

[2018-07-30 14:11] gbrueckl commented on #5351
@aakash1906  you may add single quotes before passing the value to the PS script:
-postlink '$(PsOutput)'

[2018-07-30 14:20] Daroosh commented on #7705
@mayankbansal018 I did the changes in the empty UWP project. However, I am getting the exact same error.

- Target version in both; UWP project and UnitTest project: 15063
- Microsoft.NETCore.UniversalWindowsPlatform: v6.1.5
- MSTest.TestAdapter: v1.2.1
- MSTest.TestFramework: v1.2.1
[log.txt](https://github.com/Microsoft/vsts-tasks/files/2241488/log.txt)

The following is Package.appxmanifest [UW

[2018-07-30 14:39] mayankbansal018 commented on #7705
@Daroosh , you mentioned that you are able to run test from IDE, are you able to do the same for Blank UWP Test project?
Can you verify what is the TestPlatfom.Universal version shown in IDE (refer attached image), it should be 15.5.0
![tp_version](https://user-images.githubusercontent.com/24792973/43403852-cfe38a9c-9433-11e8-9eb2-f7eddaea336f.PNG)

- When you run via CLI, do you your empty  UWP a

[2018-07-30 14:49] Daroosh commented on #7705
@mayankbansal018
**TestPlatform.Universal: v.15.0.0**

Cli output:
[code]
When run from cli, unitTest app flickers, a window is displayed and then disappears. Shortly after, the test fails and i get the error message mentioned above.

[Debugx86.zip](https://github.com/Microsoft/vsts-tasks/files/2241613/Debugx86.zip)

[2018-07-30 14:49] jaanclaeys opened #7872 "Validating the service when deploying a cloud service slows down other deployments"
## Environment
VSTS
Hosted and Private:

## Issue Description

When using Azure Cloud Deployment powershell for cloud services, the added extra step of validation of the cloud service (introduced begin june 2018) adds two minutes per deployment. With lots of cloud services deploying in one service, this can significally slow down other tasks. Also if you work with small machines there is no way a

[2018-07-30 14:58] mayankbansal018 commented on #7705
@Daroosh since the version is 15.0.0 which means your app is still targeting older testplatform, I don't know why it is doing so.
The reason you are getting the error is because the vstest.console that is getting invoked has a different communication model, as compared to that of old platform(your UWP app contains bits from Old platform because of 15.0.0) hence the error.

It's possible that somet

[2018-07-30 15:01] Daroosh commented on #7705
@mayankbansal018 Thanks a lot for the info. I'll try on a fresh installed VS on one of my VM's and I'll keep you posted!

Thank you!

[2018-07-30 15:01] gbrueckl opened #7873 "UnhandledPromiseRejectionWarning and outputVariable not popuplated"
I am running an ARM deployment and according to the Azure Portal, the ARM deployment runs successfully. Also the VSTS task itself finishes successfully.
However, the output variable of the VSTS tasks does not get populated. Checking the log outputs, I see this:
2018-07-30T14:33:43.7583248Z ##[section]Starting: ARM - Deploy Template
2018-07-30T14:33:43.7606499Z =====================================

[2018-07-30 15:04] keithrob commented on #7495
@mmajcica,
We are planning on comprehensively fixing all of the proxying problems with the NPM, NuGet and Dotnet tasks for TFS2019.  Earlier, TFS users can use older versions of the tasks which are not susceptible to these problems.

[2018-07-30 15:06] keithrob commented on #6252
@mmajcica,
Please contact me at kerobert AT Microsoft.com and we can discuss.

I have commented in #7495 that we are planning to address all of these issues.  In the meantime, older versions of these tasks should work.

[2018-07-30 15:06] mayankbansal018 commented on #7705
Also the reason things are working from VS IDE, is because based on Testplatform version (15.0 vs 15.5) IDE determines how to run the UWP Test app, where as CLI can't do so.

Another thing you can try is, modify you csproj file, & change the value of
**UnitTestPlatformVersion** from "$(VisualStudioVersion)" to 15.5, this should explicitly bring in dependencies of latest test platform, & then try t

[2018-07-30 15:16] alexpilon666 opened #7874 "Dollar signs ($) not supported during file copy"
## Environment
- Server - VSTS or TFS on-premises?
VSTS - sidlee.visualstudio.com
Project Name: SidLee_Kinship
Build Definition Name/number: _SidLee_Kinship-CI #544

- Agent - Hosted or Private:

Hosted: Hosted

## Issue Description

Cannot upload to container containing a dollar sign ($) in it.
This is problematic, because the new Static Website functionality requires content to be in the `$web`

[2018-07-30 16:29] gbrueckl commented on #7873
here is some more information using system.debug = true
`2018-07-30T16:23:44.7053214Z ##[debug][PUT]https://management.azure.com/subscriptions/***/resourcegroups/***/providers/Microsoft.Resources/deployments/azuredeploy-20180630-162344-f816?api-version=2017-05-10
2018-07-30T16:23:45.6526047Z ##[debug][GET]https://management.azure.com/subscriptions/***/resourcegroups/***/providers/Microsoft.Resourc

[2018-07-30 17:23] bgklein opened #7877 "VSTS Nuget Push Task"
## Troubleshooting
We tried mitigating the tag issue by adding an additional X.Y.Z.Patch.Tag which did not work.

## Issue Description

When using to Nuget Push Task to push an internal package feed get the following version when adding a task with the version '1.3.0.8-0001'. We are able to upload packages fine with X.Y.Z.Patch fine so it has to do with the tag at the end.

### Error logs

Microso

[2018-07-30 17:44] StingyJack commented on #7837
I've just had this happen for the first time on a TFS 2015 server. We have dozens of build defs and this file only became a problem when I happened to cancel a build when it was in the middle of publishing symbols. Deleting the lock file let the in-progress build continue OK.

[2018-07-30 17:58] alexmullans commented on #6040
@keithrob seems like it would make sense to have the task do this. Can you elaborate more on your concerns? In general, I think we should rely on the Tool Installer infra to handle the version of Node/npm used in builds, and override any (seemingly problematic) npm version management/updater that's intended for interactive use.

[2018-07-30 18:36] bradwillis commented on #7536
The final ring of users have received the update. This fix is available for all users now.

[2018-07-30 19:03] ConnorChristie commented on #5931
Yes, it seems to be the `projects.assets.json` file that is causing the problem. If you have a large amount of sub-projects, you can use `rm -rf ./**/*/obj` in the solution dir to delete all the obj folders

[2018-07-30 22:06] bgklein commented on #7877
Closing

[2018-07-30 22:06] #7877 closed

[2018-07-30 23:06] NingPing commented on #7685
@nigurr yes can also confirm something has changed but for me its only partially resolved i can now see 1 of 2 attachment, i believe theres still an issue with multiple attachment.
@nmohammad1  do you know what they did and is there something i can do on my side?

[2018-07-31 00:27] NCarlsonMSFT commented on #7782
Looking at your project file, I can't think of why it would not have any references to your ProjectReference in the log. Are you absolutely sure the project in the comment is the one being built? We've run into issues in the past where after upgrade the old project got added in a backup folder and that was accidentally built instead of the true project.

One other thing to try would be to add an e

[2018-07-31 01:18] Leon99 commented on #7297
[code]

[2018-07-31 02:58] Prashanth-PS commented on #7297
This is working now, you may close the ticket

[2018-07-31 02:58] #7297 closed

[2018-07-31 05:28] smadala opened #7880 "Failed: ETIMEDOUT connect ETIMEDOUT error while running tests on browserstack through npm task"
_From @ShaifaliKhera on July 30, 2018 8:53_

I have a protractor test automation framework which is integrated with browserstack. When I run the tests from local system in browserstack, the tests run fine. But on "Hosted VS2017" agent, when npm task run to start tests on browserstack (and wait for the results), the tests are failing at random places with Failed: ETIMEDOUT connect ETIMEDOUT error.

[2018-07-31 05:28] smadala commented on #7880
@ShaifaliKhera Can you provide more details about to how repro the issue?
What is the exact `vstest.console.exe` command you are running?

[2018-07-31 05:28] smadala commented on #7880
_From @ShaifaliKhera on July 31, 2018 0:41_

I'm using npm task to run "npm run e2e-browserstack" command specified in package.json file, which actually calling  "node ./node_modules/protractor/bin/protractor ./e2e/protractorBrowserstack.conf.js" command. I have protractorBrowserstack.conf.js file which controls running tests on browserstack. Can't share the whole framework for you to reproduce th

[2018-07-31 05:28] smadala commented on #7880
Looks like issue related to Hosted VS2017. Moving to `vsts-tasks` repo.

[2018-07-31 06:25] nigurr commented on #7685
@NingPing, rerunning with multiple iterations and attachments is on the way. It's only applicable in the Build/Release hub. Closing this issue.

![image](https://user-images.githubusercontent.com/15208679/43441518-a91cdd34-94b8-11e8-9133-b825222f2dd4.png)

[2018-07-31 06:25] #7685 closed

[2018-07-31 06:34] nigurr commented on #7708
@arturo2019 Can you please share the output from the following command

[code]

[2018-07-31 06:39] rajatagrawal-dev commented on #7840
Closing as the fix is deployed.

[2018-07-31 06:39] #7840 closed

[2018-07-31 07:36] gbrueckl commented on #7873
after several hours of investigation I found the problem:
I have an output-object defined that contains an array - within that array, I had a multi-line comment which was not read correctly by the VSTS task.
Th last call to ttps://management.azure.com/subscriptions/***/resourcegroups/***/providers/Microsoft.Resources/deployments/azuredeploy-20180630-162344-f816?api-version=2017-05-10
 then returns

[2018-07-31 07:37] stromsky opened #7882 "Add support for additional arguments in Docker Compose build task for Build service images action"
## Issue Description

When building images using Docker Compose build task, it has awesome feature that can add additional tags to all images in docker-compose file, but I am missing option for specifying additional arguments that could be passed to docker-compose command, e.g. --no-cache (but [other options](https://docs.docker.com/compose/reference/build/) could be also useful).

I could definit

[2018-07-31 08:05] bishal-pdMSFT commented on #7844
I have seen this behavior when using old SDK to deploy. The application was created using a newer SDK and it introduced a structural change in ApplicationManifest.xml which old SDK treated as error.
I agree that this is a SF issue and we can raise it with them, however I don't think they will go and fix it in all previous SDK versions. Hence, we need to handle this.

[2018-07-31 09:11] iampbk opened #7886 "Powershell on target machine - reference variable "ErrorActionPreference" or common parameter is set to Stop"
## Environment
- Server - VSTS + Private agent
    - account name - rmgdigitallabs,
    - team project name - MSOL,
    - build definition name - MSOL-Arachni Scan

- Agent - Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version:
        Windows Server 12 R2
        2.126.0
--
## Issue Description

I am using a PowerShell on Target Machine tas

[2018-07-31 10:34] Jaffacakes82 commented on #7710
Very strange, it still doesn't work for me.

I have reverted to using a service account in our Azure AD to grant the key vault access as opposed to the VSTS service principal and this has resolved my issue.

[2018-07-31 11:11] martinfletcher opened #7887 "Unable to create new variables using powershell"
Environment: VSTS
Account Name: w2globaldata
Team Project: Common
Build Definition: Framework.Extensions.TypeMapping
Agent: Hosted (VS2017)

Issue Description:

When running 'Write-Host "##vso[task.setvariable variable=variableName]variable value"' the variable is not created or updated

This is preventing me from updating a variable in which i want to use to tag the Git branch being built.

[2018-07-31 11:30] cltshivash commented on #7769
@sureshthumar Execution of ordered test in VSTS and TFS build/release definitions has known set of issues that needs fixes on both VS client and on the VSTest Task (TFS/VSTS). The client side issues have been addressed with VS 15.8 Update. There are corresponding task side changes which are available in VSTS and will be part of the next TFS release.

[2018-07-31 11:35] tompi commented on #3323
@campersau Thank you, this solved my problem as well! (I have extra PCL-code I download in a post-build script)

[2018-07-31 13:35] DeluxZ opened #7888 "Misleading help text Azure App Service Deploy"
## Environment
- Server: VSTS
- Agent: Hosted

## Issue Description
I was trying to prevent our WebJob from being deleted when we did a deployment of our WebApp. After a quick search on Google I noticed there is a checkbox "Exclude files from the App_Data folder" I had to check. But after reading the help text from the "Exclude files from the App_Data folder" and the help text from the "Remove add

[2018-07-31 13:39] DeluxZ commented on #7888
I can't assign a label but the category of the task is **Deploy**

[2018-07-31 14:30] Ajay-MS commented on #7872
@jaanclaeys

I agree with your feedback to make validation of cloud service as optional. We will add it soon and will update you.

[2018-07-31 15:26] FlorenceDaniel commented on #7621
Hi @Mibe8, Were you able to figure out the issue? Your response might help us in saving lot of time.
We don't want to update the version for all copy file tasks in release definitions and then end up with same issue again. Please let me know.

Hi @rajatagrawal-dev , Any response to Mibe8's comment above will be appreciated.

Thanks!
Florence

[2018-07-31 16:11] snelljef commented on #2119
@michelkamp Is there a timeline or workaround for TFS On-premise users?

[2018-07-31 17:36] ds-ms commented on #7873
@gbrueckl are you able to parse the response in any JSON parser? The task does `JSON.parse(response)` we remove comments before making the request, but not after. Do you have an example response with you?

[2018-07-31 19:21] laurentchicoine opened #7891 "Error in InvokeRestAPIV1: No endpoint found with identifier TaskInputs[TaskInputs['connectedServiceNameSelector']]"
## Troubleshooting
No debug log other than: No endpoint found with identifier TaskInputs[TaskInputs['connectedServiceNameSelector']]

## Environment
- Server - VSTS or TFS on-premises? TFS on-premise

    - If using TFS on-premises, provide the version: Version 16.122.27409.2

- Agent - Hosted or Private:

    - Agentless

## Issue Description

Task name: Invoke REST API: GET (V1 Patch 3)

When tr

[2018-07-31 21:52] scott-lin opened #7892 "GetInput results in error "Cannot read property 'retrieveSecret' of undefined""
## Environment
- VSTS
    - Account: pyewpyew
    - Project: VstsExtensionTesting
    - Build Definition: Build VstsExtensionTesting
    - BuildId: 181
- Agent: Hosted

## Issue Description

I'm developing a custom build task using `"vsts-task-lib": "^2.6.0"` dependency. The first action my task performs is to fetch inputs (see line 97 below). When doing so, it fails with error, "Cannot read prope

[2018-07-31 21:54] scott-lin commented on #7892
Sorry, I realized I should have opened this in https://github.com/Microsoft/vsts-task-lib instead. Moving there.

[2018-07-31 21:54] #7892 closed

[2018-07-31 22:03] bryanmacfarlane commented on #7887
Are you trying to use that variable in that same step, a future step or another step in another phase?  Are you running in build or release?

[2018-07-31 22:33] ShaifaliKhera commented on #7880
Can someone reply to this plz? I’m currently blocked because of it

[2018-08-01 00:55] davidlbyrne commented on #2439
I'm trying to set a variable from my inline powershell script Write-Host "##vso[task.setvariable variable=git_date](Get-Content commit.log)[2]"

What I'm getting is the value of git _data is the string literal "(Get-Content commit.log)[2]" and not the value that should be evaluated by the expression. Any ideas? I can do this easily in bash but ps is new to me.

[2018-08-01 00:57] Boaz101 commented on #3393
Publishing log files from a release would be super useful. The only workaround would be to feed them to the built in logging. However that is much slower when the logs are large.

[2018-08-01 01:17] bryanmacfarlane commented on #3393
Reopening to answer question for @dci-aloughran and @Boaz101

@GitHubSriramB - can you confirm whether publishing from release is planned?

[2018-08-01 01:25] bryanmacfarlane commented on #7853
I believe @JohannesDrexler is correct.

[2018-08-01 01:37] AlexHimself commented on #3393
@dci-aloughran @Boaz101 @brownbl1 I wrote this PowerShell function as a work-around that I just call from either a Build/Release and it should upload a directory to either.

The main difference being for Releases using "##vso[task.uploadfile]" and for builds "##vso[artifact.upload...", where it seems like builds would allow a directory upload and releases would allow individual file upload.

So fo

[2018-08-01 04:40] #7769 closed

[2018-08-01 04:41] cltshivash commented on #7769
@sureshthumar Also we recommend using VSTest V2 task over the Run Functional Task. The latter has been deprecated.

[2018-08-01 05:27] cltshivash commented on #7827
This will be applicable for all VSTS accounts

[2018-08-01 05:51] rajatagrawal-dev commented on #7886
@iampbk Can you try and run your script manually from the agent machine?
Just execute:
Invoke-Command -ComputerName "10.70.0.5" -Credential (Get-Credential) -FilePath "C:\arachni-1.5.1-0.5.12-windows-x86_64\All_Scripts\Applications\ScanApplications.bat"

from admin powershell console and enter your target machine credentials when prompted.

[2018-08-01 05:56] rajatagrawal-dev commented on #7874
@alexpilon666 This support is underway. The deployment for this has already started and should be available to all accounts in the next couple of days.

Please track #7611 for future updates regarding this.

[2018-08-01 05:56] #7874 closed

[2018-08-01 06:00] SumiranAgg commented on #7888
@DeluxZ Thanks for reporting the issue. We have reviewed your PR. Please address the comments before merging.

[2018-08-01 06:29] rajatagrawal-dev commented on #7838
@JCanlett If you enable "Enable IIS" option, then all the sub-features of "Web Server (IIS)" feature will get enabled, including WebDAV publishing. So please disable WebDAV manually and re-deploy you website with "Enable IIS" option **disabled**. See if that works.

[2018-08-01 06:32] rajatagrawal-dev commented on #7690
@elangelo Did you get a chance to try "Enable-ContextAutoSave"? Let us know if that mitigated the issue for you.

[2018-08-01 07:06] gbrueckl commented on #7865
I am doing this via ##vso echo

[2018-08-01 07:13] gbrueckl commented on #7873
this is the response that I get from https://management.azure.com/subscriptions/***/resourcegroups/***/providers/Microsoft.Resources/deployments/azuredeploy-20180630-162344-f816?api-version=2017-05-10

I did not modify anything. As you can see, it is basically a single line string until it reaches the comment that I was talking about. The comment itself then spans across multiple lines (same as in

[2018-08-01 07:31] mayankbansal018 commented on #7705
@Daroosh , any update on this?

[2018-08-01 07:43] ds-ms commented on #7873
@gbrueckl I'm actually a bit surprised that there are comments in response. When we send the request to Azure, we strip those comments and send a valid JSON object. Can you send me your template file. Also, I suggest you delete your earlier comment, it seems to contain secrets from your key vault.

PS: Javascript style comments are not allowed in JSON.

[2018-08-01 07:44] Daroosh commented on #7705
@mayankbansal018 Thanks for the follow up. We are currently in the process of updating our components and will try within a freshly installed environment. I'll keep you updated very shortly as soon as we're done with the set up.

Thanks again!

[2018-08-01 07:53] gbrueckl commented on #7873
@ds-ms I think this is a special case as the comments are encapsulated within an JSON array. Please find the original (or very similar) ARM template below

{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "hyphenBasedPrefix": {
      "type": "string",
      "metadata": {
        "description": "Id

[2018-08-01 08:10] GitHubSriramB commented on #2439
@TingluoHuang @ericsciple - is executing PS commands supported within ##vso commands?

[2018-08-01 08:15] ds-ms commented on #7873
I've updated your comment moved the template to a file, for readability.

The task strips the comments from the string, it doesn't matter if the comments are inside a JSON array or not. I've validated the logic of stripping as well using your template. So the template which we're sending to Azure definitely doesn't have any comments. Can you send the template used for deployment from azure (the co

[2018-08-01 08:34] gbrueckl commented on #7873
It is a nested deployment (4 levels of nesting). The issue is with the second level. For some reason, the historic runs of sub-templates do not show up anymore in the deployment section of the resource group?!? It seems that only root-templates and deployments with errors show up.

In general it seems like all comments were indeed removed but As I removed all the comments that caused the problem,

[2018-08-01 08:58] elangelo commented on #7690
Not really, I'm still trying to think of a way on how to do this for my vstsagent.

[2018-08-01 09:12] ds-ms commented on #7873
Trying to strip the comments before parsing the response looks fine to me, cause it would be a redundant operation in other cases. I was checking the [azure-sdk-for-node](https://github.com/Azure/azure-sdk-for-node/) even they rely on the fact that the response from the API is going to be a valid JSON.

Although this will definitely fix the error, by convention JSON doesn't support comments (RFC 4

[2018-08-01 09:27] elangelo opened #7898 "Azure Powershell Vsts-Task should not import AzureRM and Azure Powershell Module"
Right now the Azure-Powershell vsts-task imports the complete AzureRM and Azure powershell module. This wastes a lot of resources (just importing these takes about 30 seconds with 100% of cpu usage). According to the Azure-Powershell team the vsts-task should actually not import the full module:

https://github.com/Azure/azure-powershell/issues/6645

[2018-08-01 09:29] bryanmacfarlane commented on #7865
should probably create this issues in the vsts-agent repo

[2018-08-01 09:40] joshuasumanth commented on #7455
this is not useful . The API just gives the list of all the variables

We don't find one variable which can be used to get the test Run..

[2018-08-01 09:58] bryanmacfarlane commented on #7898
Is the suggestion to push it to the user to import a selected set? or, do we just import a small set and rely on the user to import what they use?  wouldn't that break existing scripts?

[2018-08-01 10:01] elangelo commented on #7898
As far as i know, as long as your modules are installed in the correct location, powershell will load the corresponding module if you use a CmdLet from that module. The only thing that would be breaking would be the loading of the different versions of Azure Powershell

[2018-08-01 10:05] gbrueckl commented on #7873
In generallI agree, that if it is not in the RFC, then it should not be fixed. However, as the VSTS task itself supports submitting ARM templates with comments, it should also work properly. Otherwise simply do not allow comments at all.

@"comments": I guess if I add a "comments" property to the outputs, this will also be part of the output - no?

[2018-08-01 10:05] gbrueckl commented on #7865
can you move it there?

[2018-08-01 10:07] rajatagrawal-dev commented on #7690
@elangelo Do you have multiple agents configured on a single machine? Or do you have multiple machines with single agent configured on each machine?

[2018-08-01 10:09] ds-ms commented on #7873
Like I mentioned in my previous comment, the intent for supporting comments is back compatibility so that people who were upgrading wouldn't have to edit their templates when testing.

I'm not sure about the comments property in output section; I don't see that in the schema

[2018-08-01 10:15] ShreyasRmsft commented on #7455
@joshuasumanth you will get all test runs associated with the specified build or release.
Please paste a sample of the call you are making.

[2018-08-01 10:26] elangelo commented on #7690
I have multiple machines with multiple agents

[2018-08-01 10:45] rajatagrawal-dev commented on #7690
If you have multiple agents configured on any machine, then please also try deleting the TokenCache.dat file from your machines once. It might get you unblocked.

[2018-08-01 10:50] joshuasumanth commented on #7455
GET https://{accountName}.vsrm.visualstudio.com/{project}/_apis/release/releases/{releaseId}?approvalFilters={approvalFilters}&propertyFilters={propertyFilters}&$expand={$expand}&$topGateRecords={$topGateRecords}&api-version=5.0-preview.8

using this to get the Release inormation to get the Test run ID created

[2018-08-01 11:03] ds-ms commented on #7873
After referring to your comments again, it looks the comments are coming from the linked template (whose comments we don't strip) i.e. the 2nd level. So, the task is working as expected, we are stripping the comments at the first level correctly.

Adding the required comments to `resources` section should work fine for you.

Closing the issue.

[2018-08-01 11:11] ds-ms commented on #7692
@craigktreasure any updates?

[2018-08-01 11:31] brownbl1 commented on #3393
That's helpful. Thanks @AlexHimself

[2018-08-01 12:41] JCanlett commented on #7838
@rajatagrawal-dev  Yes that is exactly what we had to do. Just a case of features going faster than documentation I guess. Also note that while the installation is "seemless" the uninstall is not and requires server restart. So this was a bit of an issue for our team.

[2018-08-01 12:44] gbrueckl commented on #7873
regarding the comments I am fine with closing this issue but I would expect that the UnhandledPromiseRejectionWarning will be fixed - am I correct?

[2018-08-01 13:02] ShreyasRmsft commented on #7455
you should be using a test management api to get the test run. The above will get you unnecessary release details

in a powershell script try to obtain the release id https://docs.microsoft.com/en-us/vsts/pipelines/build/variables?view=vsts&tabs=batch#buildbuildid

and then use the test management api to get associated test run

[2018-08-01 13:06] joshuasumanth commented on #7455
can you please share the URL for the Test Management API

[2018-08-01 13:07] martinfletcher commented on #7887
I have come across the following article, which is the exact same problem, but the solution is not a fix:

https://developercommunity.visualstudio.com/content/problem/91058/tag-sources-not-working-with-custom-variable.html

[2018-08-01 13:08] Mibe8 commented on #7621
@FlorenceDaniel, no I didn't figure it out yet.

 @rajatagrawal-dev, I tried the net use command. It returns: There are no entries in the list.

I'm able to reproduce quite easy, by creating a build and new release definition. All I do is copy a zip file to a machine.

The first time it works. At the end of the log I see:
##[debug]Attempting to remove PSDrive 'WFCPSDrive'

If I start a new release

[2018-08-01 13:47] frankfuu commented on #5259
Hi @vincentdass ,

You're a champ, thanks for the detailed instructions. Got it working ;)

[2018-08-01 14:20] ericsciple commented on #2439
@davidlbyrne this is the syntax you want: `Write-Host "##vso[task.setvariable variable=git_date]$((Get-Content commit.log)[2])"`

Please open a separate thread if that doesn't work. This thread is too long and more about task groups. Also this sounds more like a generic powershell question.

[2018-08-01 14:39] yss14 commented on #3302
@tanvi-soni I just ran into the same problem. `File 'cobertura-coverage.xml' does not exist or is not accessible.`. When inspecting the assets of the build, the file is located in the root dir of my project.
As summary file path I specified `cobertura-coverage.xml`, report directory and additional files field is blank.

![screen shot 2018-08-01 at 16 38 47](https://user-images.githubusercontent.co

[2018-08-01 19:16] shkrishms opened #7902 "Azure Monitor in pre-deployment gates runs forever with message "No samples have yet arrived""
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
AccountName: o365exchange.visualstudio.com
TeamProject: O365 Core/SubstrateDevX
Release pipeline Name: MetagraphCataloging-UtahAPI
Release number: 128

- Agent - Hosted or Private:

Hosted agent. But issues in in the agentless

[2018-08-02 00:35] replaysMike commented on #5931
For me I've been unable to resolve it as of yet, cleaning bin/obj didn't remove the error. For me it only happens using msbuild and does not occur using VS2017.

[2018-08-02 06:09] nigurr commented on #7455
@joshuasumanth Please refer documentation https://docs.microsoft.com/en-us/rest/api/vsts/?view=vsts-rest-5.0

Users can write simple powershell/bash scripts to access APIs and the documentation outlines all the information required.

[2018-08-02 06:10] rajatagrawal-dev commented on #7611
Deployment is a bit delayed. It is planned to complete by next week. I'll post more updates when I have any.

[2018-08-02 06:41] nigurr commented on #7455
@joshuasumanth https://{youraccount}.visualstudio.com/DevDiv/_apis/test/ResultSummaryByRelease?releaseId=${releaseId}&releaseEnvId={EnvId}
I do see that this API is not listed, sorry for the inconvenience.
I will be taking it up internally with product team about the API documentation.

[2018-08-02 07:25] mayankbansal018 commented on #7705
@Daroosh good to know it got resolved for you. :)

[2018-08-02 07:34] ds-ms commented on #7873
Yes, I am. Here's the PR: https://github.com/Microsoft/vsts-tasks/pull/7905

[2018-08-02 07:54] ds-ms commented on #7821
@wahabakhtar pinging.

[2018-08-02 08:44] joshuasumanth commented on #7455
@nigurr  I am not getting the following

{"aggregatedResultsAnalysis":{"previousContext":{"contextType":0,"build":null,"release":null},"totalTests":42,"duration":"00:00:01.2740000","resultsByOutcome":{"Passed":{"outcome":"passed","count":42,"duration":"00:00:01.2730000"}},"runSummaryByState":{"Completed":{"state":"completed","runsCount":1,"resultsByOutcome":{"Passed":{"outcome":"passed","count":42

[2018-08-02 09:18] elangelo commented on #7690
The release definition seems to have done it's work, I haven't encountered the tokencache problem anymore so you can close this if you want.

[2018-08-02 09:28] shep1987 opened #7908 "[DotNetCoreCLIV2] Add Global tool installer"
## Environment
- Server - VSTS

- Agent - Private:
    2016 - 2.136.1

Would be nice to be able to install/update a Global tool from VSTS Packages, I currently am creating a nuget.config file during release then doing the upgrade, having a similar experience to "restore" would be great as I could choose the package location.

Thanks

Shaun

[2018-08-02 09:47] Ianril opened #7909 "IIS Web App Manage - setup IIS Application pool - Optional password field not working"
We are using **IIS Web Application Manage** in a release to create a new **IIS Application pool** on a local server (using release agents).

We want to configure this application pool to run as a service account. I set up the **Identity Custom Account** and leave the password field blank (as the field is optional).
Since it's a service account we don't want to set a password.

When I run the relea

[2018-08-02 10:49] TehWardy commented on #4361
Hmm ... I'm getting the warning too :( and I have the VSTest version set to latest already.
From the build log ...

[2018-08-02 12:55] rajatagrawal-dev commented on #7621
@Mibe8 That's unexpected. I tried the same scenario that you specified but it worked for me.
Can you try restarting the agent machine? Also, please share you account name, project name and the release definition name. I'll check a few things on our end as well. Please send it to raagra@microsoft.com, if you don't want to post these details here.

@FlorenceDaniel Please let me know if you are facin

[2018-08-02 13:54] undejavue commented on #5717
Looks like node.js 10.8.0 distributive has shorter file names )) Have success with Node Tool Installer with this version...

[2018-08-02 14:12] brcrista commented on #7869
That isn't the build log, that's just the build summary.  It's doing the right thing, which is reporting that the `ant` process failed.

Check your build logs.  I would expect the message to be there.

[2018-08-02 15:42] martinfletcher commented on #7887
Any news on this issue?

[2018-08-02 17:26] mattpickle commented on #7037
@nigurr We are using `VsTest Platform Installer` which installs 15.8.0, but still getting errors on reruns for our SpecFlow/Nunit tests.  Any suggestions?

[code]

[2018-08-02 17:44] wahabakhtar commented on #7821
@ds-ms That was primarily the concern, because we don't want to share our keys as well as secrets. I was to recreate a separate environment to reproduce the error and logs but seemed like a lot of work.

[2018-08-02 17:58] ericsciple commented on #7887
The task.setvariable command is for setting a variable in one step, and accessing the variable from a downstream step. [Here is an example](https://github.com/Microsoft/vsts-agent/blob/31217c9497cc31ba8807cc01408c4a36ffb7c4ad/docs/preview/yamlgettingstarted-setvariable.md)

[2018-08-02 18:03] ericsciple commented on #7853
Secret variables are masked in the logs as `***`

Here is a document describing working with [secret variables](https://github.com/Microsoft/vsts-agent/blob/31217c9497cc31ba8807cc01408c4a36ffb7c4ad/docs/preview/yamlgettingstarted-secretvariables.md). The first section has examples that illustrate the masking behavior. The second section recommends best practice to map a secret variable into your s

[2018-08-02 18:06] #5717 closed

[2018-08-02 18:09] ericsciple commented on #7529
@stephenmichaelf diagnosed this down to the task lib. Escaping newlines in the debug command was added in a newer version. Coincidentally this task updated to the newer version last sprint. This will be fixed when the current deployment finishes rolling out to all scale units (next couple weeks).

Also, I was wrong about having a repro in the bash task. I got confused when testing.

[2018-08-02 19:08] chcosta commented on #7537
@bishal-pdMSFT, is there any information about the fix itself that was rolled out to the hosted agents?  We have some static pools of machines that have begun behaving similarly as the issue reported here.  We are seeing this...

[code]

Do we need to update to a different VSTS agent version?  to a specific Service Fabric SDK on the machines? Or would you expect that the fix which was implemented

[2018-08-02 21:33] bitdepth commented on #5590
I'm using version 7.2.0 on Ubuntu and the issue still exists. From the azcopy docs i can see that a list of mime types is provided on Ubuntu at `/usr/lib/azcopy/AzCopyConfig.json`. A quick `cat` of the json file shows that `svg` isn't listed as a Mime type so im guessin it defaults to `application/octet-stream`

[2018-08-03 03:38] rajatagrawal-dev commented on #5590
@bitdepth Since your issue is related to AzCopy itself, I recommend you raise an issue here: https://github.com/Azure/azure-storage-net-data-movement, to get the right traction.

[2018-08-03 04:27] nigurr commented on #7800
Closing this issue as there's not enough information. Please feel free to re-open/reach us in case of any issues

[2018-08-03 04:27] #7800 closed

[2018-08-03 04:46] rajatagrawal-dev commented on #7843
We are looking into this. Right now, as clearly noted, the task does require registry access for us to support a wider range of customer scenarios. Will update after due consideration.

[2018-08-03 05:53] SumiranAgg commented on #7888
@DeluxZ Merged to master. Thanks for contributing. :)
Fix will be rolled out with next deployment. Closing the issue.

[2018-08-03 05:53] #7888 closed

[2018-08-03 06:52] Kasperki commented on #7869
So this is the expected behavior? I know that I can see the message from build log. But in my opinion I should see the defined message in summary like: Error: /usr/bin/ant failed: Something wrong here.

We have big ant targets with multiple fail conditions. So it would be much more useful to be able to see the fail message in the summary than to crawl through the logs.

We have targets like unit t

[2018-08-03 10:04] bcgrillo commented on #6036
Yes, please... ¿Any help for this?

I think if VSTS has a user interface for other commands, why not for the MSBUILD options like build only a project?

[2018-08-03 10:27] Anumita commented on #7902
@shkrishms , looks like the jobagent was stuck in the queued state and was not picking up any of the server tasks. I have restarted the jobagent and the issue should be fixed now. We are still investigating as to why this happened but you should be unblocked now. Please do confirm whether you are unblocked or not. Thanks for reporting the issue!

[2018-08-03 10:36] euhm opened #7921 "Azure File Copy - copy to ChinaCloud"
Hello,

it doesn't seems to be possible to use in VSTS the 'Azure File Copy' task to copy a file to the ChinaCloud data center.

I tried to use the full name (name.core.chinacloudapi.cn) but this doesn't work.

Error message: Storage account: name.core.chinacloudapi.cn not found. The selected service connection 'Service Principal' supports storage accounts of Azure Resource Manager type only.

Cor

[2018-08-03 10:41] euhm commented on #7921
My mistake, made a type... :s

[2018-08-03 10:41] #7921 closed

[2018-08-03 11:23] ds-ms commented on #7908
Seems like an enhancement related to Packaging to me.
@azooinmyluggage @keithrob can you respond?

[2018-08-03 11:51] pagangil commented on #7699
@pondelknimojdan Can you please tell the agent version you are using?

[2018-08-03 13:55] xenalite commented on #7353
Fixed the issue by using VSTS credential provider.

[2018-08-03 13:55] #7353 closed

[2018-08-03 14:08] brcrista commented on #7869
Well, think about it -- how would this work, in general?  Consider any failure that Ant could produce.  We could say "anything written to stderr gets reported in the build summary," but that would usually be way too much information -- that's what the logs are for.  We could say "the first line that gets written to stderr gets reported in the build summary."  That may work in this case but I'm not

[2018-08-03 15:29] arturo2019 commented on #7708
hi @nigurr

I send you the screenshot of what you requested and I take advantage of telling you that there are some names of the "build and launch" project so it generated a new record.

Data: My agent is in C: \agent\

`2018-08-03T15:17:21.7113096Z ##[section]Starting: Test run for Test plans
2018-08-03T15:17:21.7123276Z ============================================================================

[2018-08-03 16:37] Thieum commented on #6657
Same issue here on npm install:

[code]

[2018-08-05 06:20] courtenayparserr opened #7927 "FTP Task randomly failing with "socket hang up""
Just doing a basic FTP upoad as a build task which simply will not work - it just hangs without any idea of what is going on. There is no output and no idea of any errors.

We just need to do a copy and drop to a particular folder on a Azure web app.

## Environment
VSTS online

![image](https://user-images.githubusercontent.com/24819057/43683261-30b15a5c-98cb-11e8-9506-1d0396ceff3b.png)

- Agent

[2018-08-05 06:45] GZidar opened #7928 "Android Signing Task V3.0 fails when password string contains an ampersand"
## Environment
VSTS
Hosted 2017 agent

## Issue Description
Android Signing Task V3.0

If the keystore file password or the keystore key password have an ampersand (&) in the string then the commands fail because it seems like they attempt some kind of variable substitution resulting in the parts after the & raising errors (* is not recognised as an internal or external command

### Error logs
[co

[2018-08-05 14:15] bryanmacfarlane commented on #7927
@madhurig - just a guess - maybe an error path is missing a callback and the process hangs?

[2018-08-05 14:27] craigktreasure commented on #7692
Thanks for the help. I've passed this on to our team and the problem has been resolved.

[2018-08-05 14:27] #7692 closed

[2018-08-05 18:56] Kumar0106 opened #7929 "Test Run Getting Aborted after 2.2 hours and throws Exception of type 'System.OutOfMemoryException'"
On Premises TFS Server Version - 16.122.27102.1
Test Agent Version - Visual Studio 2015

Issue Description - Run Functional Test Task Fails after 2.2 Hours. The log is given below -

2018-08-04T17:54:06.7179512Z ##[section]Starting: Run Tests SFBTesting.dll on FE-Z0V56.fe.de.bosch.com
2018-08-04T17:54:06.7179512Z ==============================================================================
2018-0

[2018-08-06 06:07] rajatagrawal-dev commented on #7909
@Ianril According to the help text for the password field, the only case where the task will not require the password is when you are using a gMSA account. You can find more info about gMSA on the internet. (ex: https://blogs.technet.microsoft.com/askpfeplat/2012/12/16/windows-server-2012-group-managed-service-accounts/)

[2018-08-06 07:44] rajatagrawal-dev commented on #7710
@Jaffacakes82 Glad that you were able to resolve it.
Please reopen if you get blocked with this again.

[2018-08-06 07:44] #7710 closed

[2018-08-06 07:53] rand0me commented on #7694
I'm still experiencing this issue while deploying Azure Function App with any post-deployment command

[2018-08-06 09:33] nigurr commented on #7708
@arturo2019 from the screenshot, seems like adapters are missing or failed to load and thus there are no tests listed in the console.
I would suggest you to enable `Fusion Logs` and see why the tests are not discovering. Additionally you can pass `--diag:C:\temp\test.txt` and share the logs/look into them.
They should give more information why tests are not discovered

[2018-08-06 10:20] dikhakha commented on #4868
@riweston Did you get a chance to try using ClientId as parameter in your script file as pointed out by @bishal-pdMSFT ?

[2018-08-06 10:52] vincentdass commented on #7694
@rand0me , can you share the task version and the debug logs (set variable `system.debug` to `true` and requeue a release)?

[2018-08-06 12:14] davidsk opened #7932 "Secret variables are not passed to task if marked as 'Settable at release time'"
## Environment
VSTS
Account Name: aker-dma
Team Project Name: Coabis
Build Definition Coabis CI
Build Number: 0.1.0+248

- Agent: Private
OS: Windows 7
Agent version: 2.131.0

## Issue Description
Secret variables are not passed to task if marked as 'Settable at release time'.

## Logs
2018-08-06T12:03:29.1391180Z ##[section]Starting: Copy Web And Api packages to ABZ-MIIS04 - Fix
2018-08-06T12:03:

[2018-08-06 13:53] navin22 commented on #7658
@japj We have fixed this in the TFS 2018 U3 release.

[2018-08-06 14:29] andreasf opened #7934 "Bash V3 task sources script instead of executing it"
## Troubleshooting
Troublesome code was found at https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/BashV3/bash.ts#L71

## Environment
- Server - VSTS
- Agent - Private

## Issue Description

When running a Bash V3 task with a target script type of "File Path", the task wraps the target script with something like the following:

[code]

Sourcing (.) a script instead of executing it is probl

[2018-08-06 16:47] cyberjacob opened #7938 "vsts-npm-auth Creates .npmrc in Wrong Location When $HOME is on a Network Drive"
## Environment
- Server - VSTS

## Issue Description

When running vsts-npm-auth from a user that has their profile home on a network drive (e.g. `U:\`), the program creates an `.npmrc` file in the user's home directory (i.e. `U:\.npmrc`). However, NPM does not recognise the network share, and uses `C:\Users\username` as the user's home directory (taken from `npm config ls`). This results in packa

[2018-08-06 17:27] dikhakha commented on #7782
@whozDougie did you get a chance to try out what @NCarlsonMSFT suggested above ?

[2018-08-06 17:34] cltshivash commented on #7929
@Kumar0106  RunFunctionalTest Task is deprecated with TFS 2018 U2 onwards. Please try your scenario using the VSTest V2 task. TFS 2018 Update2 has fixes done to improve the test execution reliability and it would be great if you can upgrade your TFS instance to the above mentioned update.

[2018-08-06 18:50] chcosta commented on #7537
@chrisrpatterson , do you have any additional info on the fix here that I can use to try to resolve our issue with our static pool of machines using Service Fabric?

[2018-08-06 20:51] onooka commented on #946
How can I to pass password as a command line devenv interface in project SSIS with EncryptAllWithPassword ProtectionLevel

[2018-08-06 22:09] ChristopherLClark commented on #7160
The issue with failing build when configuring dotnet nuget push task for external feed using managed credentials still worth addressing.

This does not work for us either.

[2018-08-07 05:27] bishal-pdMSFT commented on #7537
@chcosta the fix was done in SF task and would be available to all hosted agents. The version of task you are using (1.7.20 as per above log) contains the fix.
Are you sure that this is not an authentication issue? Have you provided correct auth details in service endpoint?

[2018-08-07 05:42] bishal-pdMSFT commented on #7537
If you feel the issue is happening even with correct service endpoint details, please create a new issue so that it can be tracked properly.

[2018-08-07 06:32] Kumar0106 commented on #7929
@cltshivash Thanks for advise. Where do we define the test machine and login information in vstest task? Also how to use deploy test agent now?

[2018-08-07 06:53] kumarpun commented on #6868
Kumaresan P you can use "$(build.sourcesdirectory)/
packages/Xamarin.UITest.*/tools" to take any version

On Mon, Aug 6, 2018 at 6:08 PM, Kumaresan P <notifications@github.com>
wrote:

[2018-08-07 06:55] vtkumaresan commented on #6868
packages folder not found in finder but showing in project. so how do we set above path.
<img width="323" alt="screen shot 2018-08-07 at 12 24 42 pm" src="https://user-images.githubusercontent.com/3971168/43759487-06dbbd26-9a3d-11e8-8c2c-0befe24d60ad.png">

[2018-08-07 07:01] owenniblock commented on #6868
You need to set this ($(build.sourcesdirectory)/
packages/Xamarin.UITest.*/tools) in your `Test tools directory` on the App Center Test task.

[2018-08-07 07:40] kumarpun commented on #6868
You need to set this ($(build.sourcesdirectory)/
packages/Xamarin.UITest.*/tools) in your Test tools directory on the App
Center Test task.

On Tue, Aug 7, 2018 at 12:41 PM, Kumaresan P <notifications@github.com>
wrote:

[2018-08-07 09:14] tommyja commented on #7537
I have this issue. Why am i still seeing version 1.7.19?
2018-08-06T21:30:22.8399720Z Task         : Service Fabric Application Deployment
2018-08-06T21:30:22.8399974Z Description  : Deploy a Service Fabric application to a cluster.
2018-08-06T21:30:22.8400192Z Version      : 1.7.19

[2018-08-07 09:15] alalit commented on #7537
Hi, we still see this issue and the version comes as 1.7.19. I understand that the fixed version has been rolled out globally, so what is the reason for that?

[code]

[2018-08-07 09:36] bishal-pdMSFT commented on #7537
Version 1.7.19 contains the fix as well. Please attach debug logs of task.

[2018-08-07 10:39] tommyja commented on #7537
I think i had the wrong port. It Works now.

[2018-08-07 10:56] vtkumaresan commented on #6868
Getting same error,

`2018-08-07T10:54:11.5087690Z Error: Cannot find test-cloud.exe, the path specified by "--uitest-tools-dir" was not found.

2018-08-07T10:54:11.5107630Z Please check that "/Users/vsts/agent/2.136.1/work/1/s/packages/Xamarin.UITest.*/tools" is a valid directory and contains test-cloud.exe.

2018-08-07T10:54:11.5124110Z Minimum required version is "2.2.0".

2018-08-07T10:54:11.5

[2018-08-07 13:18] yacaovsnc commented on #7927
@courtenayparserr Does it repro?  Could you please set `system.debug` to true and run it again?  If it repros, can you please send us the log?  Also can you please let me know what is the log error in your screenshot?  What did lstat complain about and what is the full path of the file?

Thanks.

[2018-08-07 13:48] Sudheer-Yalamarthi opened #7950 "Issue in connecting to Azure AAD through power shell task in vso"
**issue**
We want to automate app registration in AAD and include one azure power shell task in vsts. With user credentials  we are able to connect but when we tried to connect with service principle account it is giving invalid user type.
Is there any another approach to connect to AAD other than user credentials?

**Below is the script we are using to connect.**

$TenantId = "XYS"
$securePasswor

[2018-08-07 13:51] dalemyers opened #7951 "Install an Apple Certificate fails with ECONNREFUSED"
## Environment

Server: VSTS
Account: office
Definition ID: 2539
Build Number: 885894

Agent: Hosted
Queue: Hosted Mac Internal

## Issue Description

The pre-job step of "install an apple certificate" randomly fails with an error like:

    Error: connect ECONNREFUSED 13.107.6.175:443

I've been unable to get it to reproduce with `system.debug` enabled since this only fails one in a few hundred t

[2018-08-07 13:54] JohannesDrexler opened #7952 "ArchiveFilesV2: "Replace existing archive" did not replace archive"
- Server - VSTS or TFS on-premises?
    VSTS

- Agent - Hosted or Private:
   private, 2012r2, agentversion=2.136.1

## Issue Description

In a build a webApp is zipped into "$(build.binariesdirectory)\webApp.zip". The task has the "Replace"-option set but still the files get added to the existing zip instead of replacing the zip.

### Error logs

One of the assemblies of the webApp changed its ex

[2018-08-07 13:59] matsovef opened #7953 "VsTestv2 -> No test assemblies found when using environment variable"
## Environment
TFS on-premises: Version 2018 Update 2
Private agent on Windows Server 2016 and version 2.131.0

## Issue Description
Running Visual Studio Test task, version 2.3.28 using locally vstest.console.exe

In the VsTestv1 version we could use an environment variable to specify the test assemblies to process. In a step prior to VsTest a powershell script set the TestAssemblys environment v

[2018-08-07 14:10] yacaovsnc commented on #7928
@ericsciple hi Eric, do you know how we can escape the `&` in this case?  The task is passing in the secret with the `arg` function:

` apksignerRunner.arg(['--ks-pass', 'pass:' + keystorePass]);`

[2018-08-07 15:52] cltshivash commented on #7929
@Kumar0106 The blog https://blogs.msdn.microsoft.com/devops/2017/03/26/vstest-task-dons-a-new-avatar-testing-with-unified-agents-and-phases/ should help you with the details. The deploy test agent task is not needed.

[2018-08-07 16:30] PBoraMSFT commented on #7460
@ShreyasRmsft - can you close the issue if the deployment rollout has started ?

[2018-08-07 16:54] vincentdass commented on #7694
@rand0me .
Currently, we dont have first class support for Linux function apps (exposed in UI). But, Selecting 'Web App on Linux'  should work.

![image](https://user-images.githubusercontent.com/20121508/43790510-7600f39e-9a90-11e8-8409-90bda9c1a2cf.png)

[2018-08-07 17:29] chcosta commented on #7537
Thanks for the details @bishal-pdMSFT.  With no changes on our end, things *appear* to be working again and we're no longer seeing any problems in our Release Service Fabric deployment builds.

[2018-08-08 01:00] somasekhar18 opened #7960 "VSTestV2 --> Re-run failed test not working in new version 2.138.11"
## Environment
VSTS  Account: msdata
Team Project: Azure Data Factory
Build Definition: Data Factory - Gated, Build No: 20180803.7

- Agent - Private
Agent OSVersion:6.3.9600
Agent.Version 2.124.0

## Issue Description
We have VSTest task in build pipelines that runs E2E tests with "re-run failed test" enabled. The task started failing to initial test execution with rerun option from past 5 days.

[2018-08-08 03:09] hannesne commented on #6660
I just ran into the same issue trying to deploy from VSTS using the Azure App Service Deploy task. I defined the release pipeline to use 3.x. The app was deployed using a self-hosted Linux agent, to a Linux- based ASE.
I fixed it by changing the version of the task to 4.x (PREVIEW).
From the logs I could see that the 3.x task was trying to use the zip api, and the 4.x task uses zipdeploy.

[2018-08-08 04:56] rajatagrawal-dev commented on #7886
Please reopen if you are still blocked.

[2018-08-08 04:56] #7886 closed

[2018-08-08 05:57] GZidar commented on #7928
@yacaovsnc you could try to put quotes around the value: instead of 'pass:bad&password' have it send 'pass:"bad&password"' but then the apksignerRunner may consider the quotes are part of the password... so, maybe '"pass:bad&password"' will work...

[2018-08-08 08:28] bergmeister commented on #3393
@bryanmacfarlane Yes, being able to publish from release is critical to upload error logs (e.g. WiX installation logs) to analyse deployment failures quicker and being able to fix production ASAP

[2018-08-08 09:28] nigurr commented on #7960
We are rolling out the hot fix for the same.
This can be mitigated by adding "Visual Studio Test Platform Installer" task before "VsTest task" and selecting Test platform version as "Installed by Tools installer". We recommend going this route as this gets latest test platform bug fixes/features

[2018-08-08 09:31] nigurr commented on #7953
@matsovef

You can set multi-line variable as mentioned below and consume in VsTest v2 task
`$tests = "**\*test*.dll%0D%0A!**\*TestAdapter.dll%0D%0A!**\obj\**"

Write-Host "##vso[task.setvariable variable=TestAssemblies;]$tests"
`

[2018-08-08 09:35] nigurr commented on #7730
Closing the issue as there's no further update. Please feel free to reach us in case of any issue

[2018-08-08 09:35] #7730 closed

[2018-08-08 09:39] divais commented on #7852
Hi,

For "Failing Since" & "Failing Build" properties we look at past execution of that test and update these fields based on that. These fields are not mapped from the XML.

[2018-08-08 10:17] StefanKoell opened #7963 "Phase condition does not work like task condition"
## Environment
VSTS
https://royalapplications.visualstudio.com/Royal%20Applications/_build/results?buildId=192&_a=summary&view=logs
Build 20180808.17

- Agent - Private:
Windows Server 2016
Microsoft Windows [Version 10.0.14393]
C:\agent>bin\Agent.Listener.exe --version
2.136.1

## Issue Description
Working with several agent phases in VSTS and trying to use a custom condition on the phase itself

[2018-08-08 10:18] vithati commented on #7812
@virtrixke, please reopen bug if you faces any issue.

[2018-08-08 10:18] #7812 closed

[2018-08-08 11:14] sdarnell opened #7966 "nuget restore fails in VSTS with unable to locate nuget b3be7473-68ea-4a81-bfc7-9530baaa19ad"
## Environment
Server - VSTS (account thegappartnership, team sponsorview-master, build 20180808.2)
Agent - Hosted (queue 'Hosted VS2017')

## Issue Description

A regular build restore now fails on the restore (repeated and it still fails).

The error from task 2.x is:
[code]

Others seem to be having the same issue and have suggested downgrading task to 1.x.  This does indeed seem to work.  But

[2018-08-08 11:25] Kumar0106 commented on #7929
@cltshivash  The blog has a very high level detail. Could you please guide on following -

1 - In Vs Test task where do we select the machine name on which we want to run the coded ui test? Like earlier, we use to provide machine name and login detail in Run Functional Test Task. Where to provide logon details for the test machines here?
2- Do we need to physically install test agent on the machin

[2018-08-08 11:25] sdarnell commented on #7966
To be clear, b3be7473-68ea-4a81-bfc7-9530baaa19ad seems to be the GUID referenced in LocationHelper https://github.com/Microsoft/vsts-tasks/blob/a11cc658ee324fd3c439eb3f17c1e32629e259c0/Tasks/Common/nuget-task-common/LocationHelpers.ts

And StackOverflow has similar issues: https://stackoverflow.com/questions/51730600/error-build-vsts-error-error-unable-to-locate-the-nuget

[2018-08-08 12:48] martinfletcher commented on #7887
Yeah, this works fine. The problem i have is that i have a variable Build.Version in which is used to tag the repository by the build pipeline.

When setting this variable in the pipeline, it is updated for future tasks, but the build pipeline taggs the build with $(Build.Version).

To my knowledge, there are different levels/scoping of variables. It seems that you can not use a variable that has

[2018-08-08 12:58] tabeth commented on #7852
Thansk @divais for the response. Could you also elaborate on how `duration` is populated?

[2018-08-08 13:17] owenniblock commented on #6868
What's in `$(build.sourcesdirectory)`? You could add a Powershell (or Bash) script to output the directory contents. Maybe you need to be looking somewhere else?

[2018-08-08 13:29] azooinmyluggage commented on #7803
Thanks for the feedback.
We are very close to getting this done. Next deployment will start rolling out this change.

[2018-08-08 13:39] vtkumaresan commented on #6868
what could be the correct path?
shall use '$(APPCENTER_SOURCE_DIRECTORY)/' ?

[2018-08-08 14:07] yacaovsnc commented on #7928
@GZidar we spawn the child process with [child_process](https://nodejs.org/api/child_process.html#child_process_child_process_spawn_command_args_options).  I don't think we should change the quotes around the argument input.

Can you give [this ](https://stackoverflow.com/a/27960888)a try?  Can you escape the `&` char?

[2018-08-08 15:04] sailro commented on #7960
Same everything is broken after 2.137.8.

Is it possible to instruct the VSTS agent to stick on a specific task version ?

[2018-08-08 15:07] sebastienlabine opened #7970 "VsTestV2 -> Unable to get feature flag: TestExecution.EnableTranslationApi"
## Issue Description
When running the task: VsTest - testAssemblies version 2.138.11, the agent is unable to find the feature flag: TestExecution.EnableTranslationApi.

This causes the 'effectiveState' to be undefined and thus to throw the error:
Unhandled: Cannot read property 'effectiveState' of undefined which fails task and our release.

## Code
The function affected is this one. Somehow, it e

[2018-08-08 15:43] arturo2019 commented on #7708
@nigurr sorry but how and where fusion log is enabled??

[2018-08-08 16:08] owenniblock commented on #6868
Just a thought - I assume you're building the source (so downloading the necessary nuget packages) before running the tests?

The `packages` folder should be wherever you'd expect it to be based on your project folder structure.

[2018-08-08 16:25] rand0me commented on #7694
With this setting it takes almost infinity (25 mins and continues).
Could this happen, given that I'm trying to deploy a Function App?

[2018-08-08 16:27] cltshivash commented on #7929
1. You will need to install the automation agent (https://docs.microsoft.com/en-us/vsts/pipelines/agents/agents?view=vsts) and the vstest task will execute the task on the agent in a pool. You don't need to specify the machine name.
2. You need to install Visual Studio on the machine or you can use the test platform tools installer task which will fetch the test platform needed for execution. http

[2018-08-08 16:39] vtkumaresan commented on #6868
Test initiated after Build generation for Continuous Testing.
'Packages' folder not found in project location. I'm using Xamarin.Form for mobile application.

[2018-08-08 16:43] nigurr commented on #7960
@sailro, we are pushing hotfix. To mitigate, you can change to Custom Batch size in advanced execution options. Extremely sorry for the inconvenience. We will be driving hot fix by tonight

[2018-08-08 17:10] brcrista commented on #7869
Thanks for the feedback.  We've added this to our backlog.

[2018-08-08 17:10] #7869 closed

[2018-08-08 17:13] Midacts opened #7974 "PowerShell Task: Inconsistent Behavior"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
**TFS on prem**

    - If using TFS on-premises, provide the version:
    **16.122.27102.1**

- Agent - Hosted or Private:
**Private**

   - If using private agent, provide the OS of the mach

[2018-08-08 17:38] sdarnell commented on #7966
Looks like it has been fixed, see for more info: https://blogs.msdn.microsoft.com/vsoservice/?p=17315

[2018-08-08 17:38] #7966 closed

[2018-08-08 18:27] dandraka commented on #7708
@arturo it’s fuslogvw.exe, get it here:

https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer

Regards,

Jim

Στις Τετ, 8 Αυγ 2018 στις 18:43 ο χρήστης  <notifications@github.com>
έγραψε:

--
Jim

Von meinem iPhone gesendet, daher kurz gehalten.

[2018-08-08 18:40] baywet opened #7975 "vstest output path changed recently"
## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number: 2tolead, <team project name contains customer name, can provide privately>, build definition id 32, build id 3998 (working), 4191 (non working)

- Agent - Hosted or Private: Hosted VS2017

##

[2018-08-08 19:33] #7802 closed

[2018-08-08 22:07] michael-gaudet commented on #7198
This is old, but this thread just solved an issue I was dealing with for days! Thank you @ShreyasRmsft. For anyone else who may stumble across this issue...

I was getting the same error as originally reported. On my server VM, I used powershell to `Write-Host $env:PATH` and it was missing any mention of the `C:\WINDOWS\System32\Wbem\` directory.

I have never had to change this, so I found this r

[2018-08-08 22:15] GZidar commented on #7928
@yacaovsnc I tried that before posting the issue. When using the ^ before the & the error goes away but the password is considered invalid.

[2018-08-08 22:40] arturo2019 commented on #7708
Thank you @dandraka !!!
@nigurr attached evidence
[log_fuslogvw.log](https://github.com/Microsoft/vsts-tasks/files/2272246/log_fuslogvw.log)
[log.host.18-08-08_18-33-55_19895_1.txt](https://github.com/Microsoft/vsts-tasks/files/2272249/log.host.18-08-08_18-33-55_19895_1.txt)
[log.txt](https://github.com/Microsoft/vsts-tasks/files/2272250/log.txt)

[2018-08-09 02:27] kumarpun commented on #6868
You need to set this ($(build.sourcesdirectory)/
packages/Xamarin.UITest.*/tools) in your Test tools directory on the App
Center Test task.

On Sun, May 13, 2018 at 4:37 PM, gsstudio <notifications@github.com> wrote:

[2018-08-09 05:40] vtkumaresan commented on #6868
tried already got below error message,
`2018-08-07T10:54:11.5070140Z Preparing tests... failed.
2018-08-07T10:54:11.5087690Z Error: Cannot find test-cloud.exe, the path specified by "--uitest-tools-dir" was not found.
2018-08-07T10:54:11.5107630Z Please check that "/Users/vsts/agent/2.136.1/work/1/s/packages/Xamarin.UITest.*/tools" is a valid directory and contains test-cloud.exe.`

[2018-08-09 05:43] ShreyasRmsft commented on #7198
@michael-gaudet glad it helped :)

Generally Wbem should be included in the PATH by default. Not sure if the image was a custom image or if the stock image was like that.

[2018-08-09 05:44] owenniblock commented on #6868
Does the build process definitely build the UITest project? (If it's just building the app project this might be the case).

And also are there any build logs in VSTS which show where nuget packages are being restored to? That might help us find the tools :)

[2018-08-09 05:47] nigurr commented on #7708
@arturo2019 Seems like telerik adapters are not loaded. Please check this documentation https://docs.telerik.com/devtools/teststudiodev/features/test-execution/vs-test-console
and it's specific to telerik, can you please check with them about the same?

[2018-08-09 06:09] vtkumaresan commented on #6868
Thank you @owenniblock .
Got nuget package url in build log,
`/Users/vsts/.nuget/packages/xamarin.uitest/2.2.2`

[2018-08-09 06:16] dikhakha commented on #7782
@whozDougie are you still facing this issue ?

[2018-08-09 06:32] owenniblock commented on #6868
No problem - sorry I didn't think of doing that sooner! Let me know if `Xamarin.UITest.*` works or whether you have to add the version number :)

[2018-08-09 07:21] Styxxy opened #7984 "Nuget Installer : custom download location"
## Environment
- Server - TFS on-premise
    - If using TFS on-premises, provide the version: 2018 update 2

- Agent - Hosted or Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version: Windows Server 2016, agent version vsts-agent-win-x64-2.138.2

## Issue Description
When adding the task Nuget Installer to install nuget 4.3.0 (or even 4.7.0),

[2018-08-09 08:21] meastp opened #7985 "New PowerShell on Target Machines 3 has no option to select a subset of machines"
## Issue Description

I tried to migrate to the new PowerShell on Target Machines Task (3.* preview) from #6789

However, I use tags on the virtual machines to run the script on a subset of the VMs. Are tags deprecated? How should I select a subset of machines with this new version?

[2018-08-09 08:44] dpksinghal commented on #7727
@brcrista => The fix has been pushed for this. Please let us know if you are still facing it.

[2018-08-09 08:44] #7727 closed

[2018-08-09 08:49] dpksinghal commented on #7758
@brcrista => there was an issue in the publish test results task and it is fixed now. Are you still seeing the issue? Please re-activate this if that is the case.
https://github.com/Microsoft/vsts-agent/pull/1736

[2018-08-09 08:49] #7758 closed

[2018-08-09 09:38] kachkaev commented on #4757
I tried installing yarn on a VSTS Hosted agent, but it did not work. When I pick a Ubuntu 16.04 machine, `npm install --global yarn` fails because I don't have write access to global node_modules dir:

[code]

Installing Yarn on a standard Hosted agent does not work too because it does not come with choco:

[code]

On a Hosted VS2017 agent, `choco.exe install yarn --ignore-dependencies` kind of wo

[2018-08-09 09:47] dpksinghal commented on #7551
Thanks @ryanmagani We are closing this thread.

[2018-08-09 09:47] #7551 closed

[2018-08-09 09:53] kachkaev commented on #4757
I was finally able to get yarn on the Hosted by using a custom task:

![screen shot 2018-08-09 at 10 49 14](https://user-images.githubusercontent.com/608862/43891851-46632afc-9bc2-11e8-9d54-9b5ef9bd2e8c.png)

Still not sure how to install it manually (via bash / cmd) – that'd be useful to know.

[2018-08-09 09:57] thomasdc commented on #4757
@kachkaev You're correct, I had the exact same issue. I assume the environment variables aren't refreshed correctly after installing yarn through chocolatey. I switched to npm because this was taking way to long to get it working...

[2018-08-09 10:09] kachkaev commented on #4757
We can't switch to npm as we're relying on `yarn.lock` files and also use [yarn workspaces](https://yarnpkg.com/en/docs/workspaces). We also pay Microsoft for several Hosted agents, so going for a self-hosted one just because of yarn feels mad 😅

Yarn these days seems to be as popular as npm, so it'd be great to see it in VSTS Hosted agents by default. Docker [`node.js` images](https://hub.docker.

[2018-08-09 10:59] dpksinghal commented on #7815
@pagangil to take a look.

[2018-08-09 12:17] enzian opened #7987 "Installing additional go tools"
## Troubleshooting
This is not a bug report - I'm more interested in how I could solve my problem.
## Environment
- Server: VSTS

- Agent: Hosted

## Issue Description
I'm trying to build a repository containing `golang` code. Now that would not be the problem on VSTS but I have to restore dependencies using [`dep`](https://github.com/golang/dep). This demands the following steps:

1. Fetch the `d

[2018-08-09 12:41] SWarnberg commented on #7749
Yes, it's a big problem for us too. We have a zero-warning policy on checked in code and we need to visualize that on VSTS, just as you could with old VS builds.

[2018-08-09 13:23] nbuchert opened #7990 "Build agent fails on Get sources tasks on Hosted VS2017 and Hosted build agents"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS
- Account: nticloud.visualstudio.com
- Team project: MDOCFM
- Build definition: MDOCFM-CI/#43

- Agent - Hosted
- Agent queue name: Hosted VS2017 (and Hosted on previous runs)

## Issue Description
I executed a

[2018-08-09 14:16] FlorenceDaniel commented on #7621
Hi,

We are not seeing the issue after upgrading to version 2.* of Windows Machine File Copy Task.

Thanks for the help!

Regards,
Florence

[2018-08-09 15:40] singhsarab commented on #7970
@nigurr Please take a look

[2018-08-09 21:03] ericsciple commented on #7934
Thanks. That makes sense. A workaround is to switch to inline and then call your script.

I'm trying to remember why I chose to dot source. I think it solves an issue if the executable bit is not set.

[2018-08-09 21:17] ChristopherLClark commented on #7160
We must be able to do this through managed external feeds.

[2018-08-09 22:27] kraftc commented on #1854
Where is the task.json schema reference now?

[2018-08-09 22:32] kraftc opened #8001 "task.json schema documentation is missing, republish."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:

[2018-08-10 05:57] mathewkuruvila commented on #6294
@acesiddhu @nigurr @PBoraMSFT

Is the backlog item for this issue fixed ?? Any help will be appreciated

[2018-08-10 07:46] rajatagrawal-dev commented on #7985
@meastp Which tags are you referring to? How did you specify tags in PowerShell on Target Machines Task 2.* ?

[2018-08-10 08:56] Styxxy commented on #7505
Same happens on TFS2018 (on premise) installation.

Especially item 6 is very annoying. We now have to find sometimes creative workarounds for it, which is very confusing to many people.

Both repositoryPath and globalPackagesFolder can contain relative paths (example from our source control):

[code]

Actually in another repository we also found that the package sources also can contain relative

[2018-08-10 09:34] nigurr commented on #7806
Can you please check if there are any background processes are being spawn up in test code? Similar issue: https://github.com/Microsoft/vsts-task-lib/issues/389

[2018-08-10 09:36] nigurr commented on #7708
@arturo2019 closing this issue as this is specific to telerik and please do reach their support for the same.

[2018-08-10 09:36] #7708 closed

[2018-08-10 09:37] nigurr commented on #7953
@matsovef closing this issue with above solution. Please feel free to reach us in case if you are still facing issue.

[2018-08-10 09:37] #7953 closed

[2018-08-10 09:51] meastp commented on #7985
@rajatagrawal-dev Advanced Options -> Select Machines By -> Tags (you can also choose machine names instead of tags) and used Filter Criteria to specifi which tags.

[2018-08-10 09:58] vincentdass commented on #7799
The issue is resolved and the fix will be available in upcoming deployment.

[2018-08-10 09:58] Styxxy commented on #7505
I'm for the moment adding following solution.

I added an extra build step **before** the nuget restore, that will _fix_ the nuget.config that will be used. (TFS will discard the changes anyway.)

I use for the moment two steps, both PowerShell inline scripts.
Change path to your own nuget.config file.

## Step 1
- **Task**: PowerShell
- **Description**: PowerShell Script : Fix nuget.config relati

[2018-08-10 10:18] jpsingleton commented on #7173
If you are having trouble with the publish task not using the configured proxy then you can set a variable to bypass the external executable flow. Simply set `PublishTestResults.OverrideExeFlow` to `true` in your definition variables.

[This is the code that you need to trigger](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/PublishTestResultsV2/publishtestresults.ts#L68) in the publish

[2018-08-10 10:29] kuvinodms commented on #7185
Fix has been merged. Will close down the issue once fix will get merge to all the customers.

[2018-08-10 10:56] dblain1987 commented on #7970
Any news on this? All my builds are failing due to this error.

[2018-08-10 11:01] ArieHein commented on #7934
what happens if you continue to use v2 ?
I only used v3 so far if I had a quick inline bash script I wanted to run which I didnt want to place in the repo, which I couldn't do with v2

[2018-08-10 11:28] #7929 closed

[2018-08-10 11:30] ACE786786 commented on #7970
Affected also, issue started on the 8th also.

[2018-08-10 11:37] nigurr commented on #7970
Hi,

We are rolling out hotfix. Sorry for the inconvenience. It should be fixed as early as possible.

[2018-08-10 13:34] markusdresch commented on #7611
works now with v2.0.7

[2018-08-10 14:44] azooinmyluggage commented on #7882
Hi,
thanks for the feedback. We are refactoring our tasks to make them more command line friendly. In the end, the Docker Compose task is a wrapper on top of cli and there must be a way to pass arguments. You will see the new changes in Docker, Helm and Kubectl tasks first. We will work on making similar changes to Docker Compose too.

[2018-08-10 14:54] AArnott commented on #1854
The `tasks.schema.json` file ended up moving [here](https://github.com/Microsoft/vsts-task-lib/blob/master/tasks.schema.json).

[2018-08-10 15:23] varnk opened #8011 "Task.UploadSummary causes Test Results panel to change positiion"
## Environment
- Server - TFS on-premises

    - If using TFS on-premises, provide the version: 14.102.25423.0

- Agent - Private:

    - OS = Windows 7.  Agent Version = 1.95.3

## Issue Description

We are using ##vso[task.uploadsummary] to upload custom summary info to our build results Summary page.  The Build Details results page shows the custom markdown file correctly, but the Test Results

[2018-08-10 15:52] ohadschn commented on #7970
Until the hotfix is deployed (and in similar future cases) I think your admin can work around this by setting the flag himself:
https://blogs.msdn.microsoft.com/buckh/2016/09/30/controlling-exposure-through-feature-flags-in-vs-team-services/

[2018-08-10 18:35] RobDesideri commented on #7505
@Styxxy Thanks for your workaround. It work perfectly

[2018-08-10 19:27] Gold14388 opened #8014 "Nuget package restore error for UWP project in a VSTS build definition"
## Issue Description
I get below error for my VSTS build definition. I have attached the logs zipped file.

_C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Microsoft\NuGet\15.0\Microsoft.NuGet.targets(186,5): Error : The package Esri.ArcGISRuntime.UWP with version 100.0.0 could not be found in C:\Users\username\.nuget\packages\. Run a NuGet package restore to download the

[2018-08-10 20:49] jahquin-msft commented on #8014
I went through the logs and all the NuGet restore tasks succeeded and none of them attempted to download the Esri.ArcGISRuntime.UWP package. Could you please confirm this package is listed as a dependency in the relevant project or package.config. You might be able to get it to work locally due to a cached package.

[2018-08-10 21:26] brcrista commented on #7727
Thanks.  Looks fixed.

[2018-08-10 21:26] brcrista commented on #7758
Thanks -- looks fixed.

[2018-08-10 22:15] Gold14388 commented on #8014
{
  "dependencies": {
    "Esri.ArcGISRuntime.Xamarin.Forms": "100.0.0",
    "Jint": "2.11.58",
    "Messier16.Forms.Checkbox": "0.2.1-alpha",
    "Microsoft.NETCore.UniversalWindowsPlatform": "5.2.2",
    "Newtonsoft.Json": "9.0.1",
    "pclstorage": "1.0.2",
    "SharpGIS.NmeaParser": "1.9.0",
    "sqlite-net-pcl": "1.2.0",
    "Toasts.Forms.Plugin": "3.2.0",
    "Xam.Plugin.Connectivity": "2.3.

[2018-08-10 22:29] Gold14388 commented on #8014
and the path in the error message "C:\Users\username\.nuget\packages".. I am getting confused about this path. Where exactly the build is trying to look this path into?

[2018-08-11 00:14] GZidar commented on #7928
@yacaovsnc @ericsciple I have tried some testing just using the command line and the call to the apksigner.bat file seems to work properly if the two passwords are passed like this pass:"<password>" note that the double quotes are placed around only the password string. It might be a matter of just adjusting this and everything will work as expected.

I hope that helps.

[2018-08-12 05:26] GZidar commented on #7928
It turns out my issue was made more complex by the fact that not only did the password contain an ampersand it also contained a per cent symbol, both of which cause issues to the apksigning batch file.

By escaping the % (using %%) and not the & (^&) the apk was signed even though the console reported errors.

Ideally the task should not require the values to be escaped in the task definition but

[2018-08-12 13:24] roizentner opened #8017 "Unusual behavior in VSTest task using multi-agent configuration"
Hi,

We are using private windows agents (version 2.134.2) on VSTS.

This started appearing in the VSTest task (v2.138.11) log since August 9, 2018:
`##[warning]DiscoveryMessage : C:\Users\[User]\AppData\Local\Temp\1\tmpB274.testsettings:(Line: 36, Position: 6). XSD violation: The element 'Execution' in namespace 'http://microsoft.com/schemas/VisualStudio/TeamTest/2010' has invalid child element '

[2018-08-13 07:38] arjgupta commented on #7985
@meastp , yes the tags input is deprecated. v3 only supports specifying ip's or fqdn's.

[2018-08-13 07:38] #7985 closed

[2018-08-13 07:56] arjgupta commented on #7950
@Sudheer-Yalamarthi , the correct pattern for passing service principal details to the connect-azuread cmdlet is to pass the service principal id as the value of the 'ApplicationId' input. if you do not know the application id you can use the 'Get-AzureRmADServicePrincipal' cmdlet to get the service principal.  You can follow the documentation [here](https://docs.microsoft.com/en-us/powershell/mod

[2018-08-13 07:56] #7950 closed

[2018-08-13 08:37] JohannesDrexler commented on #7887
had a similiar issue. i tagged the repo with an inline-powershell at the end of the build instead of using the built-in "tag sources"-function from the definition editor.
I also needed to allow that agent-phase to access OAuth-token

code:
[code]

[2018-08-13 08:55] elangelo commented on #7690
I will have to reopen the issue. The problem with the TokeCache.Dat file being locked every now and then is still occuring:
[code]

[2018-08-13 09:39] martinfletcher commented on #7887
Thanks, yeah this is what I have done in the interim until there is a fix/feature for the original issue.

[2018-08-13 09:44] nigurr commented on #7960
@sailro @somasekhar18 This is fixed and rolled out 4 days ago. Can you please confirm that everything is working fine now?

[2018-08-13 09:58] dblain1987 commented on #7970
Looks like this has been resolved. Builds are working as of 13th.

[2018-08-13 10:03] #7970 closed

[2018-08-13 11:39] courtenayparserr commented on #7927
The full error log is:
Unhandled: Failed find: EINVAL: invalid argument, lstat 'C:\ProgramData\docker\windowsfilter\0745941af06d37d16d46379496af5828a25cdcfba158390415f158bcea610a8a\Files\Boot'

With the system.debug to true it does this for ages:

![image](https://user-images.githubusercontent.com/24819057/44029553-0db8196a-9f41-11e8-8ac0-6164dc4f0535.png)

This may help too:
![image](https://user

[2018-08-13 12:18] courtenayparserr commented on #7927
[log_6_855.zip](https://github.com/Microsoft/vsts-tasks/files/2282907/log_6_855.zip)

Logs attached

[2018-08-13 12:19] kovaliovsg commented on #7827
Hello, what is the maximum supported amount of JMeter Agents in VSTS ? In the task I can choose between 1 and 5, but if I customize the task I can specify even more. My question what is the maximum number I can specify ?

[2018-08-13 13:13] yacaovsnc commented on #7928
@GZidar Glad it worked at last!  As to escaping the password within the task, I need to think about it a bit more as I usually shy away from changing user inputs since if we introduce any bugs in those logic, user will have no way to workaround those issues.

I am closing this issue as the `&` and `%` can be escaped manually for now.

[2018-08-13 13:13] #7928 closed

[2018-08-13 14:12] steinmr commented on #5671
I also have the same problem, I have about 200 different test assemblies, and I get:

`UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: spawn ENAMETOOLONG`

If this has been fixed, where and in what version? If not, is there a workaround?

I'm running TFS 2018.1, but will update to TFS 2018.3 as soon as it is released. The VSTest task is version 2.1.14 and th

[2018-08-13 23:20] jlcj1974 opened #8022 "VSTS gives FailedToUpdateApplicationInsightsResource code 201 on deploy Azure App Service"
## Environment
- Server - VSTS

## Issue Description
We are seeing a warning from app deploys originating with an Application Insights release annotation update.  From the code in [azure-arm-rest/azure-arm-appinsights.ts](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/Common/azure-arm-rest/azure-arm-appinsights.ts), the update method expects a 200 status code response and the documentat

[2018-08-14 00:55] davidlbyrne commented on #5883
I am facing this same issue with a self signed cert. Can you please help?

[2018-08-14 06:00] bansalaseem commented on #7902
Closing this issue as the issue is fixed.

[2018-08-14 06:00] #7902 closed

[2018-08-14 06:03] bansalaseem commented on #7794
@mathieu-benoit can you please complete your PR?

[2018-08-14 06:08] SumiranAgg commented on #7732
Closing the issue since fix has been deployed. Please feel free to reopen if required.

[2018-08-14 06:08] #7732 closed

[2018-08-14 06:08] SumiranAgg commented on #7689
Closing the issue since fix has been deployed. Please feel free to reopen if required.

[2018-08-14 06:08] #7689 closed

[2018-08-14 06:25] #7068 closed

[2018-08-14 06:54] hiyadav opened #8025 "ServiceFabric Deploy Task upgrade exit states."
Service Fabric Deploy task => while upgrading it should exit checking upgrade status when the UpgradeState is either one of the below-mentioned ones

Invalid - Indicates the upgrade state is invalid. All Service Fabric enumerations have the invalid type. The value is zero.
RollingBackCompleted - The upgrade has finished rolling back. The value is 2
RollingForwardCompleted - The upgrade has finishe

[2018-08-14 07:48] Styxxy opened #8026 "Nuget restore : temp nuget config file doesn't respect relative paths"
## Environment
- Server - TFS on-premise
    - If using TFS on-premises, provide the version: 2018 update 2

- Agent - Hosted or Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version: Windows Server 2016, agent version vsts-agent-win-x64-2.138.2

## Issue Description
When adding the Nuget restore task, and specifying a nuget.config file with t

[2018-08-14 07:49] Styxxy commented on #8026
See also #7505 , where I also created a work-around.

[2018-08-14 07:54] richardzaat commented on #7970
Today, 14th August 09:50 CET we are still experiencing this issue. Could it be because we are in the 4th ring and the deployment is not yet complete?

[2018-08-14 08:09] nigurr commented on #7970
@richardzaat can you please let us know the task version (it will be printed in build logs)

[2018-08-14 08:59] nigurr commented on #7970
@richardzaat we will hot fix your ring now. We rolled out hot fix for all rings except one ring which was running under M137.

[2018-08-14 09:52] balayoglu commented on #7970
We are also experiencing the issue. Current task version is 2.138.12.

[2018-08-14 11:47] nigurr commented on #7970
@richardzaat @balayoglu sorry for the trouble. It's hot fixed. can you please check now?

[2018-08-14 11:59] richardzaat commented on #7970
@nigurr @balayoglu
It seems to find the effectiveState, now I do see another one popping up (TestExecution.EnableTranslationApi).
PS: I am working on it, but it seems the hosted agents are running fine, and the issue occurs especially on our onprem agents (still on agent version 126). Still working on confirmation for this by running a few test builds.

2018-08-14T11:55:26.1117296Z Task         :

[2018-08-14 12:04] nigurr commented on #7970
@richardzaat the warning will disappear after a while (probably within 24hrs) but it's safe to ignore.

[2018-08-14 12:10] GitHubSriramB commented on #7761
@RichardWangCN - this is not the right place to raise issues related to Jenkins endpoints. Please report this issue in https://developercommunity.visualstudio.com/spaces/21/index.html

[2018-08-14 12:10] #7761 closed

[2018-08-14 12:11] #7656 closed

[2018-08-14 12:12] GitHubSriramB commented on #7584
@LokiMidgard - closing this issue for now. Pl. let us know if you need further help.

[2018-08-14 12:12] #7584 closed

[2018-08-14 12:13] #6991 closed

[2018-08-14 12:16] GitHubSriramB commented on #3393
##vso[task.uploadfile] can be used to upload files to release. We don't have plans to support uploading folder/artifacts from release in near future.

[2018-08-14 12:16] #3393 closed

[2018-08-14 12:43] richardzaat commented on #7970
@nigurr @balayoglu It is working, both onprem and hosted. Thanks for the quick response and fix!

[2018-08-14 12:54] MichelZ commented on #3393
Real shame. I think this would be a nice addition. E.g. we built the following pipeline:
- Build definition with Unit Tests, builds code
- Release definition deploying release to Azure
- newman Tests in release definition to run tests against the deployed Infrastructure

Would be nice to upload the tests back to the Artifacts.

[2018-08-14 13:09] brcrista opened #8030 "Use Python Version: Optionally pip install dependencies (as with Conda)"
After a fair amount of foot-shooting where I would set up a multi-phase Python build and forget to install dependencies for each phase, I think that Use Python Version should optionally take a list of packages or a requirements.txt and Pip install them from the public PyPI.  More specialized functionality (like installing from a specific package index) would have to be done separately, but this wo

[2018-08-14 13:28] mathieu-benoit commented on #7794
@bansalaseem , I'm not able to do that by myself, I don't have access to this action.

[2018-08-14 13:29] vithati commented on #7794
@mathieu-benoit, i will push the changes.

[2018-08-14 13:35] #7794 closed

[2018-08-14 13:37] balayoglu commented on #7970
@nigurr it is working on my agent as well. Thanks for your help.

[2018-08-14 13:59] aharris opened #8032 "vsts-ci.yml Docker Compose ##[error]missing path"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS

    - If using VSTS, provide the account name, team project name, build definition name/build number:

https://vs-pioneer.visualstudio.com/project0/_build/results?buildId=49791&_a=summary&view=logs

- Agent - H

[2018-08-14 17:14] sailro commented on #7960
@nigurr yes, seems to work now. Thanks!

[2018-08-14 18:23] Gold14388 opened #8034 "VSTS build solution error for renewing certificate (.pfx) file"
## Environment
VSTS details
    AccountName:
    Team project name:
    Build Definition Name:
Build Number:
    Private Agent: Windows Server 2012 R2

## Issue Description
Build Solution task in VSTS
C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\Microsoft\VisualStudio\v15.0\AppxPackage\Microsoft.AppXPackage.Targets(4216,5): error APPX0108: The certificate specified has

[2018-08-14 19:47] anuragacharya commented on #7621
hi @rajatagrawal-dev  - i am facing the same issue and using Version 2.* for Windows Machine File Copy. I can share the Account NAme, Project Name and release definition if this helps. Please let me know if there you were able to resolve this.

![image](https://user-images.githubusercontent.com/3384586/44114429-273e862e-9fd9-11e8-9406-519f64c34e50.png)

Thanks,
Anurag

[2018-08-14 20:12] arturo2019 commented on #7708
@nigurr  @dandraka Thanks for your time and let me know if they solve my problem

[2018-08-14 20:31] cathymarkle commented on #8017
I am seeing the same error when trying to run "Visual Studio Test" tasks using version 2.138.14.  The last version to work for me is also 2.137.9.

[2018-08-14 23:01] calebcartwright commented on #7987
Hi @enzian - I've used the Bash/Shell++ tasks with an inline script for some similar situations. I was using [gocover-cobertura](https://github.com/t-yuki/gocover-cobertura) to convert the code coverage of my Go code to cobertura format so that VSTS could understand the coverage results.

I used the Go preview task to do a `go get -u https://github.com/t-yuki/gocover-cobertura` similar to your ste

[2018-08-14 23:12] #7515 closed

[2018-08-14 23:15] stephenmichaelf opened #8038 "Update badges to use new endpoint."

[2018-08-15 03:11] sramssh commented on #8017
I am seeing the same error using version 2.138.14.  Even though the source location is C:\agent\_work\5\ , MSTestAdapter is looking under C:\agent\_work\4\ for one of the 6 machines. Please see below log. Could someone here help with this?

 Initializing the Test Execution Engine
2018-08-14T21:00:17.6564493Z Updated Run Settings:
2018-08-14T21:00:17.6564493Z <RunSettings>
2018-08-14T21:00:17.65644

[2018-08-15 05:12] courtenayparserr commented on #7927
Any thoughts here @yacaovsnc ?

[2018-08-15 05:35] LokiMidgard commented on #7706
Unfortunatly this problem seems only to happen less often when batching the tests :(
From the runsettings a test should timeout after 4:30 minutes, but it only prints the statusline of how many tests passed for houres untill the 4.5 houres timeout of the complete test are reached, if this problem occures.

I haven't yet found out, if actually a test is still executing or if this happens between te

[2018-08-15 07:28] rickvdbosch commented on #8022
We're having the same issue after updating our NuGet packages. Currently investigating if it has something to do with the restraint on `Microsoft.ApplicationInsights.DependencyCollector` version 2.7.1 which requires Microsoft.ApplicationInsights to be version 2.7.1. Currently we have version 2.7.2 installed.

**Error logs**
`2018-08-15T01:05:56.8351185Z ##[warning]Can\'t find loc string for key: F

[2018-08-15 07:28] illumination7272 commented on #7970
Hello after the hotfix the issue seem to be resolved , but am starting to get another issue

An exception occurred while executing the task. So the task is not executed. System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: No test assemblies found on the test machine matching the source filter criteria or no tests discovered matching test filter criteria.

[2018-08-15 07:30] matsovef opened #8039 "VsTask PowerShell on Target Machines not working where target is a Windows Server 2012"
## Environment
TFS on-premise version 2018 Update 2
Private agent version 2.131.0
Agent running on Windows Server 2016

## Issue Description
When the task "PowerShell on Target Machines", version 2.0.3, runs the PS script on a target machine we always get the following error:

`A command that prompts the user failed because the host program or the command type does not support user interaction. Tr

[2018-08-15 09:20] illumination7272 opened #8040 "[warning]Unable to get feature flag: TestExecution.EnableTranslationApi and 2018-08-15T09:12:25.3666141Z ##[warning]DiscoveryMessage : Exception occurred while instantiating discoverer : Exception has been thrown by the target of an invocation."
until the 7 of august everything worked fine but after that this issue popped out #7970 after yesterdays i started getting these warnings:

 [warning]Unable to get feature flag: TestExecution.EnableTranslationApi and  2018-08-15T09:12:25.3666141Z
[warning]DiscoveryMessage : Exception occurred while instantiating discoverer : Exception has been thrown by the target of an invocation.

in vsts test r

[2018-08-15 10:59] pb-qs commented on #8022
I am getting a similar problem...  shown as a 400 response from the Annotations endpoint, with debug on...
`
2018-08-15T10:20:39.8002502Z ##[debug][PUT]https://management.azure.com/subscriptions/xxxx/resourceGroups/xxxx/providers/microsoft.insights/components/myappinsresource123/Annotations?api-version=2015-05-01
2018-08-15T10:20:40.4916839Z ##[debug]addReleaseAnnotation. Data : {"statusCode":400,

[2018-08-15 11:09] hhgm commented on #7297
I still experience problems on the restore nuget job.. timeout and still the same message as reported earlier

[2018-08-15 11:41] matsovef commented on #8039
After upgrading to WMF 5.1 on the target machine the PS script runs successfully. So it seems like the steps in the task for invoking a PS script on a remote machine is not fully compatible with PS 3.0.

[2018-08-15 12:06] mdschweda opened #8041 "Get sources fails when mapping a single file"
## Environment
On-premises 2017 Update 3

- Agent - Hosted or Private:

Version 2.138.6 under CentOS Linux release 7.5.1804 (Core)

## Issue Description

Mapping a single file in task `Get sources`

![](https://i.imgur.com/XZGnBjm.png)

`java.io.FileNotFoundException: /.../_work/.../NuGet.config/.tf/8/d7301238-892d-4224-b15b-b960f38bcd29.gz (Not a directory)`

### Error logs

[code]

Works fine wh

[2018-08-15 12:16] rerime opened #8042 "Please support new website hosting for Azure Storage"
https://azure.microsoft.com/en-us/blog/azure-storage-static-web-hosting-public-preview/

[2018-08-15 12:58] ScottMathieson commented on #7836
I encountered the same issue. Easiest work-around is to simply run a command line task of
`rename 's/[\[,\]]/_/g' *.trx`
before the publish phase (so long as you are using Debian/Ubuntu based build agents).

[2018-08-15 13:37] rerime commented on #8042
or how to update built-in Azure File Copy Task to v2 in TFS?

[2018-08-15 13:56] LarsPellarin commented on #6680
I had a similar issue where the cause was I had copied a semi-colon separated search pattern in the "Test files" field from my `v1` Visual Studio Test task definition to my `v2` definition
(i.e. `build/Tests/*Test.dll;-:**\obj\**`) .
Apparently `v2` does not support semi-colon separation so i changed to new-line separation and it worked.

Hope it will be of value to someone with this issue, otherw

[2018-08-15 14:15] laurentchicoine commented on #7891
Hi @bansalaseem ,

We tried the Patch 2 (https://github.com/Microsoft/vsts-tasks/blob/releases/m137/Tasks/InvokeRestApiV1/task.json) which is the same as Patch 1 other than labels and helpMarkDown.

However Patch 2 has the following error everytime the task is runned (whether the URL suffix is provided or not):
Variable with name urlSuffix could not be found for the given endpoint.

Let me know if

[2018-08-15 15:05] leonpw commented on #6480
To fool the VSTS task in having an interactive login, you can do the following:

echo "password" | docker login --username username --password-stdin docker.registry:123

I do not recommend this method!

[2018-08-15 15:35] SergeyKanzhelev commented on #8022
CC: @frankguodongchen and @barustum in case it's error on Application Insights side, not in VSTS

[2018-08-15 15:39] jlcj1974 commented on #8022
To clarify on our issue, we are receiving what looks like a HTTP 201 if I trace the error through the formatter correctly.  201 is a CREATED which is a success but the code above is looking for HTTP 200.  https://httpstatuses.com/201

[2018-08-15 15:43] johnhydemtm365 commented on #3322
Hi, has the fix for deploying the $web folder been deployed yet..?

[2018-08-15 15:48] SergeyKanzhelev commented on #8022
@jlcj1974 did it work for you before? I wonder if something was changed recently

[2018-08-15 16:05] jlcj1974 commented on #8022
The warning started for us with releases on Monday 8/13/2018.

[2018-08-15 17:43] rajatagrawal-dev commented on #3322
@johnhydemtm365 Yes. It deployed a couple of hours ago. Please check if you are able to successfully deploy to $web containers.
If you have issues with this, please post here #7611.

[2018-08-15 17:49] rajatagrawal-dev commented on #7611
Static website support should be available in all accounts now. Please check if you are seeing Azure File Copy v2.0.7 in your builds/releases and whether you are able to deploy to $web container successfully.

[2018-08-15 17:49] samuelbcollie opened #8044 "Nuget build task that pushes to MyGet started failing with a 401"
## Environment
VSTS
Hosted Agent
Agent Queue Name: Hosted VS2017

## Issue Description

At the end of our build we have a nuget push task that pushes packages to MyGet. This task started failing today despite working as recently as yesterday. I'm assuming this is an issue with our Service Definition for MyGet.

We used "Update Authentication for My MyGet feed (push)" at the bottom of this tutorial

[2018-08-16 03:52] nilaybhima commented on #5916
I am having the same issue as @amritathakur. Anyone managed to resolve this?

[2018-08-16 04:34] nishubansal commented on #7609
**Steps to fix Build template issue with TaskGroups**
1.	Copy Zip file, backup script and rollback script (files given after steps) to TFS installation location. Default Location will be like C:\Program Files\Microsoft Team Foundation Server 15.0
2.	Take backup using the backup script provided.
a.	Open command prompt in Administrator mode.
b.	Go to TFS installation location.
c.	Run the script.
d.

[2018-08-16 04:48] jonathantower commented on #7611
It's getting close to working, but what's that backtick doing in there?

![image](https://user-images.githubusercontent.com/1853927/44188869-103e9e80-a0ee-11e8-862f-f885fc08f562.png)

[2018-08-16 05:31] bwwilliam commented on #7297
Any updates on this.  we are also having the exact same issue which just happened today.
@Prashanth-PS how did you fix the problem?

[2018-08-16 05:45] ranganathg commented on #7782
@whozDougie - I am closing the issue. Feel free to re-open if you need more help.

[2018-08-16 05:46] rgovardhms commented on #7782
@whozDougie - I am closing the issue. Feel free to re-open if you need more help.

[2018-08-16 05:46] #7782 closed

[2018-08-16 06:04] asranja commented on #8022
It seems like the release annotations endpoint now returns a 201 instead of 200. @frankguodongchen and @barustum, please let us know if there has been any update recently so that we can fix the task accordingly.

[2018-08-16 06:28] barustum commented on #8022
I'll take a look.

Adding @jpiyali as FYI.

[2018-08-16 06:47] GitHubSriramB commented on #3393
Thanks for the quick response/feedback.

We will consider adding this support within Release & are will track it in our backlog.

@MichelZ - couple of queries about the scenario you mentioned:
 - By "newman tests", are you referring to manual tests?
- Would you like to upload the tests themselves as artifact within release?

[2018-08-16 07:11] MichelZ commented on #3393
@GitHubSriramB
No, I am referring to tests of the API that are written using Postman (www.postman.com). newman is the "Command Line" execution part which can take a Postman collection and environment, and execute the written API tests.

There is a nice marketplace extension:
https://marketplace.visualstudio.com/items?itemName=carlowahlstedt.NewmanPostman

Ideally, I would like to upload the test r

[2018-08-16 07:42] GitHubSriramB commented on #3393
@MichelZ - Thanks for the details.

"Publish Test Results" task can be used within release and we support viewing the test results within the release environment from where the tests were executed.

Let us know if you face issues in doing this with newman based test execution.

[2018-08-16 11:42] johnhydemtm365 commented on #7611
Hi still not working, unless I have mis-configured something... :-(

**Version is 2.0.7**
2018-08-16T08:18:28.4657458Z ##[section]Starting: AzureBlob File Copy
2018-08-16T08:18:28.4665256Z
2018-08-16T08:18:28.4665631Z Task         : Azure File Copy
2018-08-16T08:18:28.4665961Z Description  : Copy files to Azure blob or VM(s)
2018-08-16T08:18:28.4666259Z Version      : 2.0.7
2018-08-16T08:18:28.466

[2018-08-16 11:59] hiyadav commented on #7987
@enzian @calebcartwright you are right, this feature is not available today in the task.
Adding @imalokagrawal. do you think this can be an enhancement?

[2018-08-16 12:10] rajatagrawal-dev commented on #7611
@johnhydemtm365 Does this only happen with $web container or with any container name? Can you re-execute with some other container name like "testContainer" instead of "$web"?

Also, please enable debug logging. Add a variable in your release definition called 'system.debug' and set it's value to 'true'. Then create a new release to get debug logs.

[2018-08-16 12:37] johnhydemtm365 commented on #7611
Hi nope, does not work with a normal container. Updated AzCopy Locally and it all works fine in a windows batch file.
Log File:
[Vsts_AzcopyTaskFailure.txt](https://github.com/Microsoft/vsts-tasks/files/2293687/Vsts_AzcopyTaskFailure.txt)

[2018-08-16 12:49] imalokagrawal commented on #7987
@enzian: as pointed out by @calebcartwright, use any command line task like bash/shell to achieve this.

[2018-08-16 13:09] lincolnzocateli commented on #7297
I am having the same problem in VSTS agent on premises

![image](https://user-images.githubusercontent.com/16601706/44210315-7f42e400-a13c-11e8-823b-5bd3f7021b5d.png)

[2018-08-16 13:30] yacaovsnc commented on #7927
This seems like a http error now.  Could you please let me know which agent are you using?  Is it a hosted pool?  You can find this information from the "Process" step, it should show you which pool you are using.

Is this failing all the time?  Does it repro if you use a different pool?

[2018-08-16 13:31] rajatagrawal-dev commented on #7611
@johnhydemtm365 Since the issue does not seem to be related to static website support but rather related to permissions, can you open a new issue for this to get the right traction. Please attach the logs in that as well.

[2018-08-16 13:33] jonathantower commented on #7611
@rajatagrawal-dev I figured out my issue, and it is definitely something you'll want to fix. In the "Azure File COpy (Preview)" task, I had mistakenly specified the Source to be "/", thinking it was a relative path. I noticed in the logs that it was copying from c:\ on the underlying VM! When I changed Source to $(Build.SourcesDirectory), it worked, but I thought you'd want to know about this issu

[2018-08-16 15:15] DaveEWrk commented on #7297
Exactly the same here. Started Friday.

https://developercommunity.visualstudio.com/content/problem/280075/restoring-nuget-package-fails-etimeout-13107617544.html

That's an old issue from June with the same symptoms.

[2018-08-16 15:44] johnhydemtm365 opened #8050 "AzFileCopyV2 Does fails with a 403 Error"
Using version 2.0.7 of the task, it is failing with this error

2018-08-16T15:19:39.0186745Z ##[command] & "AzCopy\AzCopy.exe" /Source:"D:\a\1\s\public" /Dest:"https://ineosstyleguide.blob.core.windows.net/testcontainer" /@:"D:\a\_temp\sw5785jc0mj84z7mnq9z4cxr" /S
2018-08-16T15:19:39.9767376Z [2018/08/16 15:19:39][ERROR] Error parsing destination location "https://ineosstyleguide.blob.core.windows

[2018-08-16 16:19] rajatagrawal-dev commented on #7611
@jonathantower We expect you to give absolute paths in source path input or use pre-defined build/release variables like $(Build.SourcesDirectory) and $(System.ArtifactsDirectory). This is also specified in the help text of the input.
"/" and "\\" paths in Windows OS usually correspond to the root C:\ path only . If you execute `cd /` from a command prompt in Windows it takes you to "C:\\". So thi

[2018-08-16 17:18] damienwebdev opened #8053 "[Deploy to Kubernetes]: kubectl delete -o throws an error unless modified from default settings"
## Environment
- Server - VSTS
- Hosted Agent Docker Image running in an AKS cluster

## Issue Description
The default `[Deploy to Kubernetes] v1.*` task breaks when using the `delete` version of the task due to `kubectl delete` not allowing the `-o=json` flag.

You can see the Throw statement k8s [here](https://github.com/kubernetes/kubernetes/blob/64eb015471adb5cd8feebe7941f74f44e2ab67b3/pkg/kub

[2018-08-16 19:30] jpiyali commented on #8022
@asranja  - Annotations always returned 201 and not 200 for creation of annotation. However, the response code is not returned from the VSTS task. So, not sure where you are using this for validation purposes.

[2018-08-16 22:17] marcusvnac opened #8057 "SonarQube - Prepare analysis task failing with error (401) Unauthorized"
## Environment
- Server
  - TFS on-premises: TFS 2018 (Version 16.131.27701.1)

- Agent - Private:
   - Agent.OS | Windows_NT
   - Agent.OSVersion | 10.0.14393
   - Agent.Version | 2.120.2

## Issue Description

I am trying to use SonarQube (server version 7.3) with TFS 2018, however, the first task (SonarQube - Prepare analysis) is always failing with a 401 error. I am using the connector availab

[2018-08-16 22:18] courtenayparserr commented on #7927
Doesnt seem to matter? They all fail:

![image](https://user-images.githubusercontent.com/24819057/44237979-0738f480-a1f6-11e8-8127-ae3bcee53dbd.png)

[2018-08-17 00:26] aashish2384 commented on #5562
I have generated .coverage file using vstest.console.exe and also I have exported the xml file by opening and exporting .coverage file. The final exported file contains .coveragexml extension, and this is xml file basically which has all the details of the tests and coverage report with source code linkgae.

How can I consume these files(.coverage, .coveragexml) in JACOCO plugin on Jenkins so that

[2018-08-17 00:35] joshmackey opened #8058 "Multi-Agent Distributed Testing - Agents idling"
We've got several hundred tests that I'm splitting across 4 VSTS VS2017 hosted agents. I've noticed that if one of the agents finishes its batch of tests early (Using automatic batches of past running time), it idles at `Test run '375' is in 'InProgress' state with ....` until the other test jobs are done.

Is this intentional? Wouldn't it be better to have to finish and free up the concurrentjob

[2018-08-17 02:11] jpiyali commented on #8022
I checked the code and there have not been any changes in this route for sometime. We saw a few failures with 400 but not for any create requests. Please provide x-ms-correlation-request-id to help with investigation.

[2018-08-17 02:42] schnitty commented on #7621
We are having the same problem on our account.

[2018-08-17 02:45] bryanmacfarlane commented on #8057
The market place task has a support link with Sonar Qube.  The issues in this repo track issues with the tasks (/tasks) in this repo.

[2018-08-17 02:45] #8057 closed

[2018-08-17 02:50] bryanmacfarlane commented on #8011
Not a task issue from this repo.  Please report on developer community

[2018-08-17 02:50] #8011 closed

[2018-08-17 02:52] bryanmacfarlane commented on #8001
Can you clarify where you expect it to be?

[2018-08-17 02:55] bryanmacfarlane commented on #7974
We call it the same everytime.  Here's the args:

https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/PowerShellV2/powershell.ts#L79

There's no repro here so I'm not sure how to take action.  However, answered the answered how we call powershell so closing.  Reactive if you get details or a repro.

[2018-08-17 02:55] #7974 closed

[2018-08-17 02:58] bryanmacfarlane commented on #7963
Service issue.  Not an issue with with the tasks in this repo.

Note that some variables are realized JIT agent side.  Phase conditions are evaluated service side before it goes to the agent.

If that doesn't answer your question, you may want to log an issue in vsts-agent repo

[2018-08-17 02:58] #7963 closed

[2018-08-17 03:01] #7865 closed

[2018-08-17 03:01] #7853 closed

[2018-08-17 03:05] bryanmacfarlane commented on #7830
Are you referring to the generic secret input box?  If so, that input box has no context (doesn't know you're entering urls etc...) - it's just a string input box and we don't know how it's being used so we can't arbitrarily trim spaces.  However, tasks that consume an input (which might be mapped in via a secret variable) have specific knowledge of the data and can choose to trim.

Can you clarif

[2018-08-17 03:08] bryanmacfarlane commented on #7990
Is it still reproing?

[2018-08-17 03:13] bryanmacfarlane commented on #7682
Service side issue.  Not an issue with tasks in this repo.  You can repo on developer community.

[2018-08-17 03:13] #7682 closed

[2018-08-17 03:14] bryanmacfarlane commented on #7591
Service side request - not an issue with tasks in this repo.  Request on developer community.

[2018-08-17 03:14] #7591 closed

[2018-08-17 03:14] bryanmacfarlane commented on #7592
Service side request - not an issue with tasks in this repo.  Request on developer community.

[2018-08-17 03:14] #7592 closed

[2018-08-17 04:09] acesiddhu commented on #8017
Hi all
We hotfixed the issue around 9 hours back. Are you still facing this issue?

[2018-08-17 04:31] schnitty commented on #7621
I've been troubleshooting the issue and have some information that might help.
In our release we have three WindowsMachineFileCopy tasks in a row.
The first two succeed and the third fails nine times out of ten.
We are running our own build server running the latest version of the agent - 2.136.1
We are running Windows Machine File Copy 2.3.1

When I log onto our build server and run a command pro

[2018-08-17 04:53] abhishkk commented on #5562
@aashish2384 Can you please create a separate issue for this for better tracking?

[2018-08-17 05:14] jlcj1974 commented on #8022
Where would I find that?

[2018-08-17 05:31] Do660 commented on #7297
Hi,

For everyone with this issue, I found a workaround that fixed it for me:

- Make sure you use the latest nuget.exe on your build agent following this instructions: [https://blogs.msdn.microsoft.com/devops/2017/09/29/using-the-latest-nuget-in-your-build/](https://blogs.msdn.microsoft.com/devops/2017/09/29/using-the-latest-nuget-in-your-build/)

- In your nuget.config change your packageSources

[2018-08-17 05:32] littleninja commented on #958
I'd like to suggest reopening this ticket. The answer from @ericsciple solves for job status, but we have a need for **_task_** status.

An example:

- Build
- Test 1
- Publish Test 1 artifacts
- Test 2
- Publish Test 2 artifacts

If either the build fails or the Test 1 task fails, one or more publish tasks will fail. The setting "Run task: even if a previous task has failed, unless the build was

[2018-08-17 06:11] acesiddhu commented on #8058
Hi Josh
this is by design. We do this because we want to ensure that agents wait till all tests gets executed. if there is a batch of test that failed because of agent issues we queue them to the idle agents to improve resiliency.
I would also suggest to use time based slicing option in the task so that distribution of test are optimized across agents

[2018-08-17 06:14] nbuchert commented on #7990
Hi Bryan,

I haven’t tested if it is still a problem.
What I did to avoid the problem was to replace the special character in my surname.

I will test later today and see if it fails and let you know.

Best regards

Nicolas Büchert

From: Bryan MacFarlane <notifications@github.com>
Reply-To: Microsoft/vsts-tasks <reply@reply.github.com>
Date: Friday, 17 August 2018 at 05.09
To: Microsoft/vsts-task

[2018-08-17 06:27] schnitty commented on #7621
Further update.  I put some sleeps into my process with mixed success. It seems like this is an intermittent issue for me at least.  Sometimes it works, sometimes it doesn't but the failure rate is fairly high.

[2018-08-17 08:11] JanEggers commented on #7836
same here but on windows

i used powershell becasue windows rename isnt that smart:

`Get-ChildItem $(TestResults) -filter '*.trx' -Recurse | Rename-Item -NewName { $_.Name -replace '([\[\]])','' } `

[2018-08-17 09:52] htoma commented on #8022
I'm seeing the same warnings when using VSTS to deploy Function Apps:

2018-08-17T09:46:46.3005386Z ##[warning]Can\'t find loc string for key: FailedToUpdateApplicationInsightsResource
2018-08-17T09:46:46.3021074Z Failed to add release annotation. Error: FailedToUpdateApplicationInsightsResource <my_app_name> undefined - undefined (CODE: 201)

[2018-08-17 10:14] asranja commented on #8022
@jlcj1974 x-ms-correlation-request-id should not be needed for return code of 201.

[2018-08-17 10:55] Xyclade commented on #7297
Using the 0.x step of Nuget restore works for me. I'll use that as a workaround...

[2018-08-17 10:58] Strandfelt opened #8061 "kubectl command fails on Linux agent: Error: spawn EACCES"
## Environment
On-Prem TFS
Version 15.117.26714.0

- Agent - Private:
    - Linux, 2.136.1

## Issue Description
Kubetnetes command kubectl fails with error `Error: spawn EACCES`

### Error logs
[code]

[2018-08-17 11:31] DaveEWrk opened #8062 "NuGet 2.x task failing with a timeout on VSTS (on premise build agent)"
Since Friday any builds we have that use the NuGet 2.x task are failing with a timeout (see below log).

I have followed the source using the debug messages and have narrowed it down to assumeNuGetUriPrefixes.

There was a change made to it on the 6th, https://github.com/Microsoft/vsts-tasks/commit/4076946d7f4159642f2de492166934a0c7d0b339, which appears to me to have changed it from a simple strin

[2018-08-17 11:36] DaveEWrk commented on #7297
I've logged https://github.com/Microsoft/vsts-tasks/issues/8062 for this as this issue is closed (and related to a different task originally)

[2018-08-17 11:43] ffloimair commented on #8022
Same problem here with VSTS WebApp deployment.
No changes were made on our side and this configuration was working without any flaws for almost a year.

[2018-08-17 11:46] DaveEWrk commented on #8062
@jahquin-msft @pspill could you take a look at this one please?

[2018-08-17 11:49] jlcj1974 commented on #8022
Sorry I am a bit confused as to what more you need. If the application insights endpoint is returning a 201 on success, it just seems like the VSTS task code in github needs to change from checking for 200 to 201.

 Joe Christopher
Sent from my phone

[2018-08-17 12:04] DaveEWrk commented on #8062
I thought Friday for some reason, but last working build was on Tuesday and the NuGet step was displaying version 2.0.32. The failing builds show version 2.0.33.

[2018-08-17 12:06] prawalagarwal commented on #7975
@baywet
The output location of the vstest task is not guranteed and does not follow a fixed contract. Taking a direct dependency on this is not a good idea. The recent changes we made to generate output in agent temp directory were to ensure proper cleaning of files generated by us and ensuring the right artifacts get uploaded to the build.

That said, you can control where your coverage file gets

[2018-08-17 12:09] bryanmacfarlane commented on #7975
+1 to what @prawalagarwal said.  that's the location layout of our code.

[2018-08-17 12:15] bryanmacfarlane commented on #7990
I think we fixed an issue with encoding so good to know ...

[2018-08-17 12:30] seanbriceland opened #8063 "Get Sources - Bitbucket Cloud OAuth connection - fatal: could not read Username ..."
## Environment
Account Name & URL: https://pointman-hq.visualstudio.com
Build Definition: ALL that use our bitbucket cloud OAuth Service connection
Build Number: All since August 13th @ 2:51 EDT

OS of the machine:
Hosted (WIN) 2.116.0 (multiple builds)
Hosted Linux Preview 2.116.0 (multiple builds)

## Issue Description

Task Name: Get Sources
Using Bitbucket Cloud OAuth connection, cannot clone

[2018-08-17 13:05] baywet commented on #7975
Thanks for the answer. If I'm not mistaking the runsettings file only accepts full paths and not relatives correct? (and the build working path is dynamic by nature)
With that in mind it means we'd have to replace tokens before running the tests. I'm not saying it's impossible, I'm only saying this is a huge overhead than simply having a parameter for that in the task that'd be relative to the bui

[2018-08-17 13:07] GersonDias commented on #958
Maybe you can archive that with OutputVariables? I mean, create a build variable, assign that in OutputVariable task's field and then use a Control Option -> Custom Condition checking that variable.

[2018-08-17 13:33] baywet commented on #7975
thanks for that answer @bryanmacfarlane
Again, I understand it's feasible with a runsettings file and token replacement (and the build variables). My feedback is: it'd be much simpler if the test task provided a setting for the output location.

[2018-08-17 14:30] bhuvanpasham commented on #3312
same problem here... with .Net Core web app

[2018-08-17 15:08] kpage-bentley commented on #7902
@Anumita could you restart the jobagent again? we are facing the same issue
![image](https://user-images.githubusercontent.com/14302108/44273520-520e3880-a205-11e8-9a0a-9cbb6bc07233.png)
![image](https://user-images.githubusercontent.com/14302108/44273567-694d2600-a205-11e8-800f-a7535cd05da0.png)

[2018-08-17 15:36] bergmeister commented on #7460
@PBoraMSFT Thanks, I can see it already in my VSTS account :-)

[2018-08-17 17:26] joshmackey commented on #8058
I am using the time based slicing option. (I mentioned `Using automatic batches of past running time` above)

Will the automatic batches get better the more I run them? So far it seems that there are too few batches.

[2018-08-17 17:33] acesiddhu commented on #8017
the hot fix has been rolled out and you shouldnt see this failure any more. please reopen the issue if the issue still persists.

[2018-08-17 17:33] #8017 closed

[2018-08-17 17:36] nphmuller commented on #6135
Looks like this will be a reality soon-ish :)
https://github.com/docker/cli/pull/1288

[2018-08-17 17:59] pabrams commented on #7609
Thanks @nishubansal, I'll try this when I get a chance.

[2018-08-17 18:03] PBoraMSFT commented on #7460
Closing the issue.

[2018-08-17 18:03] #7460 closed

[2018-08-17 18:17] pabrams commented on #7609
Actually, my client has a workaround, so we don't need to mess with the server, so I probably won't try this, and will just wait until we upgrade instead.

[2018-08-17 18:30] cpuguy83 commented on #6135
"--secret" won't be supported on 18.06 daemons though, the version of buildkit
included with it doesn't have what is needed to make that work.

[2018-08-17 18:33] nphmuller commented on #6135
@cpuguy83 Sorry for the confusion. Meant that BuildKit's included (experimentally) since 18.06.

Looking at the PR --secret will likely be in 18.09, right?

[2018-08-17 18:40] cpuguy83 commented on #6135
Correct.

[2018-08-17 18:46] sebastienlabine commented on #8062
+1 @nigurr could you take a look?

[2018-08-17 18:48] shortstuffsushi opened #8065 "RunSettings file not used in TFS VsTest task"
## Environment
TFS On Prem, Version 16.131.27701.1
Agent - Windows Server 2012R2, agent version 2.131.0

## Issue Description

While running the vstest task, the `.runsettings` file I've provided is being ignored and replaced by an autogenerated version, causing the coverage report to include assemblies I don't want. These are what I believe to be the relevant settings, let me know if you need any

[2018-08-17 18:52] acesiddhu commented on #7960
closing the issue. Thanks @sailro for confirming

[2018-08-17 18:52] #7960 closed

[2018-08-17 21:04] barustum commented on #8022
We have identified a possible regression. A peer team is working on a fix.

[2018-08-17 23:36] barustum commented on #8022
To summarize:
- @jlcj1974 Yes the return code changed from 200 to 201, which is the correct response code. @asranja is making the fix in his script to account for the 201 response code.

- We are also fixing an issue in our backend code that may result in 400s. Fix will be in PROD next week

- @pb-qs I am not sure why you're getting the 400. Can you provide me with the resource name so I can look

[2018-08-17 23:38] jlcj1974 commented on #8022
Thank you for your help!

[2018-08-18 03:02] cltshivash commented on #7827
We support upto 25 agents per run and 50 concurrent agents per account.

[2018-08-18 03:02] #7827 closed

[2018-08-18 03:32] danilobreda commented on #6135
So it will be possible to pass the PAT as a secret? How it will help for Docker use private NuGet Feed, can somebody clarify? Thanks.

[2018-08-18 05:25] acesiddhu commented on #7975
Tagging @PBoraMSFT for the feedback on providing it as a task option. Prachi whats your take on this?

[2018-08-18 05:29] acesiddhu commented on #8065
@shortstuffsushi I see that you have also checked Code Coverage Enabled checkbox. Can you un check and try again. Saying this because you already have enabled Code coverage in your runsettings and you don't need to use this task option.
Regarding cleanup, with recent changes in our task (that will flow in vsts) we are cleaning up all generated files. so this should be fixed.

[2018-08-18 05:36] pb-qs commented on #8022
The error message is being poorly described I think.

The problem might be related to the fact the Web app being registered with App Insights was using an App Svc Plan which was in a resource group that the agent didn't have permissions on.  All withing locked VNETs with NSGs too.

When we added the VSTS agent account to the ASP's resource group as contributor  the warning went away.

Many thanks,

[2018-08-18 11:15] bryanmacfarlane commented on #8041
might be an issue with the TEE tf (not the task) ...

[2018-08-18 13:05] bryanmacfarlane commented on #8001
It's here: https://github.com/Microsoft/vsts-task-lib/blob/master/tasks.schema.json

[2018-08-18 13:05] #8001 closed

[2018-08-18 13:12] bryanmacfarlane commented on #7770
Covered here:

http://chamindac.blogspot.com/2017/12/running-ui-tests-with-unified-agent.html

reactivate if needed.

[2018-08-18 13:12] #7770 closed

[2018-08-19 01:13] jfoshee commented on #4490
I completely agree with the OP in that this is confusing.  I'd like to see Microsoft add a better VSTS task to support Azure Resource Group projects.

In the mean time, let me correct a misconception in this thread: It is not Visual Studio that auto-populates `_artifactsLocation` and `_artifactsLocationSasToken`. Rather it is the PowerShell script that runs as part of the deployment; in the projec

[2018-08-19 07:30] roizentner commented on #8017
@acesiddhu I can confirm the issue is fixed. It started working with v2.138.14 (and still works with v2.138.15)...

[2018-08-19 12:05] felixfbecker commented on #7461
Is there a workaround in the meantime? Is `pwsh` installed on the Windows agents, so that we can run `pwsh -c` manually? I have a C# cmdlet that only runs on PowerShell Core because a dependency requires .NET Core 2.1 and can't target .NET Standard 2.0 (nor .NET Framework).

[2018-08-19 13:30] acesiddhu commented on #8040
@illumination7272 can u enable system.debug and share the build logs with us.