[2019-12-04 00:00] CasperNaudts commented on #11837
@leantk any updates on this?

[2019-12-04 01:18] blackchoey commented on #11053
The Azure CLI command you mentioned just returns a series of metrics, you need to determine the status of deployment by yourself based on the returned metrics. So just invoking the command could not help resolve your problem.

[2019-12-04 01:43] dansemedo commented on #11876
+1

[2019-12-04 01:46] avivanoff commented on #11804
@jahsu-MSFT, yes, we do. We are still on sprint 160, agent 2.160.1.

[2019-12-04 01:49] jahsu-MSFT commented on #11804
@avivanoff I meant to ask, which AzureDevops account you are using? What's the account name?
You can find the account name from the Url -  https://dev.azure.com/{account Name}/

[2019-12-04 01:50] avivanoff commented on #11804
@jahsu-MSFT, ivanti.

[2019-12-04 02:04] acds commented on #10246
@joshmgross your link above is broken...

[2019-12-04 03:27] ds-ms commented on #11867
Did you try adding `rollout` to the command and `undo deployment` to the args and try?

[2019-12-04 03:44] srikcgaa2 commented on #11876
One observation made when comparing another instance that is still working with different version of Jenkins is that the crumb value length seems to have doubled.  Could that be causing an incompatibility with Azure task?

[2019-12-04 04:07] jalajmsft commented on #11673
Hey @petegrimsdale The fix is rolled out and should be available in all the regions by end of this week. Closing this issue. Feel free to re-open or create a new issue for further queries.

[2019-12-04 04:07] #11673 closed

[2019-12-04 07:06] eaarora-ms commented on #11859
@stilren  I am sorry but I am not able to repro the issue. The contents of the directory are getting listed. Can you please share the directory structure and pipeline logs with system.debug set as true.

[2019-12-04 07:06] eaarora-ms commented on #11678
Closing due to no response from the customer. Please comment if you want to re-open.

[2019-12-04 07:06] #11678 closed

[2019-12-04 07:27] eaarora-ms commented on #11191
Hi,
I have forwarded the issue to the SQL team. We will let you know when we get an update from them.

[2019-12-04 08:35] eaarora-ms commented on #11749
@siromega  Hi just tried the task with Task Version - 1.0.46 and agent version - 2.161.0 and it is working successfully. I am assuming there is some issue with the agent configuration. Just to rule out this issue can you once try to configure a new agent and a fresh machine and try out the same scenario again?
Let us know the updates.

[2019-12-04 08:54] adrianbumbas commented on #11867
I tried this

[code]

which produces the following output:

[code]

But if I run the same command on the cloud shell it works.

[2019-12-04 08:58] ds-ms commented on #11867
Could you try this `deployment/XXX` instead.
The task doesn't add quotes to `XXX` explicitly though, it would have if you args had them.

And also remove the `'` from the args
[code]

[2019-12-04 09:14] adrianbumbas commented on #11867
This works:

[code]

Removing the quotes from around deployment also helped.

[2019-12-04 09:14] #11867 closed

[2019-12-04 09:46] borysl opened #11887 "[UseDotNetV2] Cache is not used. Failure on unpacking verison 2.2.300"
**Type**: **Bug**
**Task Name**: UseDotNetV2

## Steps to reproduce
Create .Net Core build with UseDotNet task in azure-pipeline.xml
[code]

## Environment
- Server - Azure Pipelines
- account name: uniperteamservices
- team project name: ADAM
- build definition: 564
- build number: 22738
- Agent - Hosted:
- Agent queue name: Azure Pipelines 2

## Issue Description

Suddenly I've got error below.

[2019-12-04 09:48] borysl commented on #11887
I will also write to MS DevOps support, perhaps cache doesn't work because of the local settings

[2019-12-04 09:51] FrancescElies opened #11888 "[Publish Test Results] JUnit <testcase> with multiple <errors> only displays the first one"
This is a **Bug report**  (similar to #7659 but not the same)

Task Name: **PublishTestResults@2**

## Issue Description
In the Docs [Publish Test Results task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=azure-devops&tabs=yaml) a link to [junit (xsd)](https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd) is added as a supported result fo

[2019-12-04 09:53] ED220Webfactory opened #11889 "XCode with InstallAppleCertificate having problem with UTF8 Codepoints"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-12-04 09:59] robbertvanhove commented on #11714
I got the same problem. @prativen @blackchoey any progress on this issue so far?

[2019-12-04 11:38] robal commented on #11543
This may be related:
I'm seeing a difference in this behaviour between Azure Pipelines self-hosted Build Agents.
One running Win2016 behaves correctly, one running Win2019.
Warning messages are displayed as errors in task logs and tasks fail.
This affects task types: "run command line" "run python command", etc.

[2019-12-04 12:44] askpt commented on #11575
I have the same issue when I added the task `UseDotNet` and targeted the 3.1 version. It restores correctly in the `DotNetCoreCLI` restore but it fails when I try to do a `DotNetCoreCLI` pack.
Without the `UseDotNet` it was working perfectly.

[2019-12-04 13:24] jalajmsft commented on #11863
Hey @monkeyTrainer From the logs it looks like an issue with node-gyp npm package. I am referring to below lines in the log (_last section_)

2019-12-01T09:13:02.3961187Z EXEC : gyp ERR! stack error : spawn C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\15.0\Bin\MSBuild.exe ENOENT [d:\a\1\s\Shovel\Shovel\Shovel.csproj]
2019-12-01T09:13:02.3963709Z gyp ERR! stack at Process.

[2019-12-04 13:36] pl-pack-01 commented on #11684
@chernovol not sure if you are still experiencing this issue but I found mine was due to an Out of Memory Exception that was being masked by the timeout. I was able to refactor my script to be more memory efficient, but another option would be to increase the MaxMemoryPerShellMB setting. Hope this helps.

[2019-12-04 14:17] steevegldev opened #11891 "invalid reference format"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-12-04 14:19] StarWars999123 opened #11892 "Bug VSTest2: Error: Detected x diacritics in log output"
## Required Information
*Type*: Bug

**Enter Task Name**: VsTest2

## Environment
- Server - TFS on-premises
    - If using TFS on-premises, provide the version: Azure DevOps Server Dev17.M153.3

- Agent - Hosted or Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version: Windows Server , Agent version: 2.144.2

## Issue Description
The Pipeline

[2019-12-04 15:44] saroup commented on #11873
The issue was fixed by using bash instead of script and using " instead of '

bash: echo "##vso[task.setvariable variable=testspath]$(localtestspath)"
displayName: Setting the tests path
condition: eq(variables['STORAGE_CONTAINER'], '')

[2019-12-04 15:44] #11873 closed

[2019-12-04 15:48] #11863 closed

[2019-12-04 15:49] monkeyTrainer commented on #11863
Thanks @jalajmsft

[2019-12-04 15:59] Philo commented on #11410
Thank you @eaarora-ms

[2019-12-04 16:26] BramvRiel opened #11893 "Assign updated website to updated application pool automatically"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-12-04 17:24] steevegldev commented on #11891
I have something similar with **DownloadBuildArtifacts**

[code]

[2019-12-04 17:27] richardgavel opened #11894 "Tough to recognize task changes for AgentPlugin type tasks"
**Enter Task Name**: PublishPipelineArtifact

## Environment
- Server - Azure Pipelines
- Agent - Private

## Issue Description

When trying to diagnose issues with, for example PublishPipelineArtifact, and the same build succeeds and then later fails, it's tough to go in and see "ok, what changed" because the version number of the tasks isn't changing. But the underlying task implementation COULD

[2019-12-04 18:04] joshmgross commented on #10246
@acds I've updated the link to https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#server-jobs

[2019-12-04 20:23] bmarder opened #11898 "Invalid global.json is definitely valid"
## Issue Description

Azure devops throws an error about failing to parse global.json . By simply moving the location of the file to a parent folder, it then works.

### Error logs

[2019-12-04 20:24] kyleherzog opened #11899 "Connect-AzureRmAccount must be run in Azure CLI task"
**Question, Bug, or Feature?**
*Type*: Question/Feature

**Enter Task Name**: AzureCLIV2

## Environment
- Server - Azure Pipelines
- Agent - Private: Windows Server 2019, Current agent version: '2.154.3'

## Issue Description

I am trying to run a powershell script using the Azure CLI task v2.0(preview). In my script, I call Get-AzureRmAppServicePlan.  This gives me an error "Get-AzureRmAppServic

[2019-12-04 20:47] luiscbraga commented on #8110
Same issue, version 4.157.4

2019-12-04T17:29:09.4420751Z Number of entries expected in End Of Central Directory does not correspond to number of entries in Central Directory.
2019-12-04T17:29:09.4479732Z ##[error]Failed to deploy web package to App Service.

[2019-12-04 21:14] jahsu-MSFT commented on #11784
@avivanoff I see your point. However, the reason we'd like to keep the name as the same as the build artifact task is because, when migrating from build artifact task to pipeline artifact task, we don't want to break any customers.

[2019-12-04 22:21] avivanoff commented on #11784
@jahsu-MSFT, you could add PipelineId, as well as BuildNumber output variables, and update documentation to say that BuildNumber is deprecated and PipelineId should be used instead.

[2019-12-04 22:58] zmarty opened #11901 "Deploying using AzureFunctionApp@1 erases custom domains and SSL bindings !"
*Type*: Bug

**Enter Task Name**: AzureFunctionApp@1

## Environment
Azure Pipeline: https://msasg.visualstudio.com/Bing_UX/_build?definitionId=11429&_a=summary
Agent: Hosted

## Issue Description

When we use AzureFunctionApp@1 to deploy an Azure Function app, any custom domain or SSL binding previously set using Azure portal gets erased. This is a big problem, as the app then stops accepting htt

[2019-12-04 23:17] jahsu-MSFT commented on #11784
@avivanoff We don't think it's necessary to create a duplicate output variable here. We can potentially consider updating the new output variable name in a newer download pipeline artifact version (for example, V3 ) but for now, our goal is to make the download pipeline artifact V2 task compatible with download build artifact.

[2019-12-05 00:04] jahsu-MSFT commented on #11267
@giggio I cannot repro the issue you mentioned. In my pipeline, I have stage 1 with build and pipeline artifacts published, in the stage 2, I have another build and pipeline artifact published and in the stage 3, I have a download pipeline artifact V2 task and it will download both build artifacts and pipeline artifacts if the multi-download  mode is selected.
One thing to note is that, The jobs b

[2019-12-05 00:50] jahsu-MSFT commented on #11268
@giggio If I'm understanding correctly, for "download" keyword, you should be able to specify artifact name, patterns, and target path.

- download: string - the pipeline to download from (`current` or a resource id) or the word `none`
  artifact: string - the specific artifact; optional unless `path` specified
  patterns: string - minimatch patterns of files to grab from the artifact(s); defaults

[2019-12-05 01:28] avivanoff commented on #11784
Ok, that works.

[2019-12-05 02:09] Benjin commented on #11191
@usmanibnesadiq Are you still experiencing this issue?

[2019-12-05 02:32] fernandoseguim opened #11902 "[Object reference not set to an instance of an object] when run Initialize containers task on azure devops pipeline"
**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: Initialize containers*

## Environment
- Azure Pipelines

- Agent - Hosted

## Issue Description
When we use the container service in the Azure pipeline, the error "Object reference not defined for an instance of an object" occurs when it should initialize the container.

### Task logs

[code]

[2019-12-05 03:45] jalajmsft commented on #11740
Hey @goalie7960 Did you get a chance to try out the workaround suggested above?

[2019-12-05 03:55] jalajmsft commented on #11779
Hey @reshmaparate, Are you still blocked on this? If yes, can you please re-run the pipeline by setting the variable "System.debug" with value "true"  and share logs and YAML file for your pipeline.

[2019-12-05 05:18] eaarora-ms commented on #11061
@fabiostawinski  Are you still facing this issue?

[2019-12-05 05:19] eaarora-ms commented on #11191
@jeroenski74  Can you please confirm if you are still facing the issue? Thanks!

[2019-12-05 05:48] eaarora-ms commented on #11856
@AllanMichaelsen  Can you please set the variable "System.debug" with value "true". Redeploy and share logs at RM_Customer_Queries at microsoft dot com

[2019-12-05 06:22] ShreyasRmsft commented on #11892
@StarWars999123 Could you please upload the full zip logs obtained by clicking on download all logs with system.debug = true?

[2019-12-05 06:46] cconrado commented on #11090
any update on this?

[2019-12-05 09:09] fabiostawinski commented on #11061
Yes, still I have that issue... Seems for me some internal limitation in my
company's network. I cannot use my agents onprem to deploy any azure
service.

On Thu, Dec 5, 2019, 06:18 Eavanshi Arora <notifications@github.com> wrote:

[2019-12-05 11:13] marceloavf commented on #10360
No way to trigger a build using any API from Azure DevOps ?

[2019-12-05 12:10] DalpheSDC commented on #6252
Now we have 2019.1 install, but we still get this error
ERR:unable to get local issuer certificate
which tool do we need to provide the CRT certificate store files?
regards
Peter Dahl
SDC

[2019-12-05 12:43] qmalexander commented on #9673
Hi, What is the status?

Br
Alexander

[2019-12-05 13:35] ioananicu opened #11905 "VS Test parallel execution - Anticipated execution time is always unknown."
[ReleaseLogs_10867.zip](https://github.com/microsoft/azure-pipelines-tasks/files/3955808/ReleaseLogs_10867.zip)
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug /Question

**Enter Task Name**: Visual Studio Test

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

We have about 500 coded UI tests running on 6 agents in parallel. The batch size is co

[2019-12-05 14:50] goalie7960 commented on #11740
@jalajmsft Not yet, it's on my list. Will report back when I have a chance.

[2019-12-05 15:02] jalajmsft commented on #11899
Hey @kyleherzog

Azure PowerShell is a set of cmdlets installed on the PowerShell command line. Azure PowerShell tasks do the required setup before executing the script.

Azure CLI task provides just the shells to execute the az scripts. To use additional functionality(cmdlets/libraries) depending on the shell should be taken care of explicitly.

To use Azure PowerShell cmdlets, it is recommended

[2019-12-05 15:26] kwaazaar opened #11908 "DotnetCoreInstaller does not set active tool"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreInstaller@1

## Environment
- Server:
https://dev.azure.com/aahyp/SF/_build/results?buildId=432022&view=results

- Agent - Hosted or Private:
Private: Ubuntu 16.04 LTS-based, with dotnet 2.2 and 3.0 sdk's preinstalled (self-built container running in Kubernetes).
Agent version: v2.160.1
Dotnet insta

[2019-12-05 15:26] kwaazaar commented on #11908
2019-12-05T15:13:33.7918074Z ##[section]Starting: Job
2019-12-05T15:13:34.7992238Z ##[section]Starting: Initialize job
2019-12-05T15:13:34.7992560Z Agent name: 'buildagent-vnext-6c7dbd9c5-4fmfs'
2019-12-05T15:13:34.7992650Z Agent machine name: 'buildagent-vnext-6c7dbd9c5-4fmfs'
2019-12-05T15:13:34.7992700Z Current agent version: '2.160.1'
2019-12-05T15:13:34.8001128Z Agent running as: 'root'
2019-

[2019-12-05 15:27] kwaazaar commented on #11908
My test build pipeline:

# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master

pool:
  name: 'Docker Build Agents'

steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'echo "ToolsDir = $(Agent.ToolsDirectory)"'
- task:

[2019-12-05 15:36] kwaazaar commented on #11908
It's also unclear to me what the difference is between DotnetCoreInstaller and UseDotNet. They both seem to be maintained and work similar.

[2019-12-05 16:00] jtpetty commented on #11902
@fernandoseguim - Can you confirm which version of the agent you are running? Is it possible for you to rerun with diagnostics turned on and send us that information?

[2019-12-05 16:00] HughDevlin commented on #10165
Yesterday i lost a day cleaning up a spurious trailing single quote. Today I put together a minor variation on your "Set variables in scripts" YAML example on your "Variables" concept page. I hope this suggests some simple test cases.

[code]

Expected: BAR
Actual: BAR'

[2019-12-05 16:09] damccorm commented on #10165
Hey @HughDevlin per my comment above, I think this is all probably related to #10331 - we're working on a better long term fix, but in the short term adding `set +x` should fix the problem.

[2019-12-05 16:59] #11868 closed

[2019-12-05 17:03] zmarty commented on #11901
@chshrikh This is a bug

[2019-12-05 17:07] HughDevlin commented on #10165
No, adding `set -x` does not fix the problem, I'll test it if you won't:

[code]
Expected: BAR
Actual: BAR'

Also, I note the potential duplicate you reference  #10331 is currently closed as no fault found which does not suggest a fix is in progress.

[2019-12-05 17:20] HughDevlin commented on #10331
Please re-open.

[2019-12-05 17:22] damccorm commented on #10331
Currently following up in the other issue (#10165). This is actually different than what you are experiencing there. Will follow up momentarily with guidance

[2019-12-05 17:26] HughDevlin commented on #10165
Please add ##vso[task.setvariable] to the description.Thanks.

[2019-12-05 17:28] damccorm commented on #10165
Oh, I see - this is the same type of root cause, but actually slightly different - sorry about that. Its actually the `set` command that is causing problems here which is why I didn't initially capture the issue.

Bash is setting the `$_` variable to the first arg of the previous command that was executed (see [here](https://unix.stackexchange.com/questions/280453/understand-the-meaning-of) for mo

[2019-12-05 17:29] damccorm commented on #10165
I think its probably the same issue, I'd prefer to leave it to the issue author's discretion.

[2019-12-05 17:41] HughDevlin commented on #10165
We agree, this behavior is not desirable.
We disagree, it is bug.
After you implement a new category of read-only variables, and ask customers to flag variables as read-only with a new parameter at variable creation, you will maintain the undesirable behavior for non-read-only variables, because it is a design feature?

[2019-12-05 18:18] damccorm commented on #10165
_Updated the wording in my comment above for clarity_

To be clear, I think the behavior is undesirable for this use case, but in general it _is_ the behavior we want. The contract we have with the end user is essentially: any time you write something to stdout that matches our `##vso` commands, we'll process it. That includes when tools write something to stdout, or a command writes something to

[2019-12-05 18:38] gaikovoi commented on #11621
@niadak when to expect V5 on hosted agents? I want to move my client to PS Core and this issue is preventing us from this.

[2019-12-05 18:43] HughDevlin commented on #10165
Sorry, I do not think that's fair.

If as you say setting $_ to an arbitrary value prior to invoking ##vso is a circumvention, it is very clear to me that ##vso is making an unjustified assumption about its execution environment, and that needs to be fixed, even if it is not an easy fix. Is that not clear to you?

If I invoke ##vso in a script, it behaves differently (undesirably) if the immediate

[2019-12-05 18:45] lawrencegripper commented on #9363
![image](https://user-images.githubusercontent.com/1939288/70263879-38dd2280-178f-11ea-928d-e8d3b32d063a.png)

To highlight this one I also got confused, to add to the confusion the UI seems to suggest that I can pass my secret as a normal bash variable and gives me an example... following the example fails.

[2019-12-05 19:07] damccorm commented on #10165
I think I maybe haven't made the problem here clear, there seems to be a little bit of misunderstanding.

The issue is not that `##vso` commands are dependent on the previous line - its actually that in Bash, `set` gives you different output dependent on the previous line (since it is very intentionally dependent on the environment). Since you have an environment variable `$_` now set to `_='##vso

[2019-12-05 19:14] xerothermic opened #11910 "docker command failed with "unauthorized: authentication required" after changing resource group in ACR"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DockerV2

## Environment
- Server - Azure Pipelines: BluebirdSW
- Agent - Hosted or Private: Private (ubuntu 18.04), agent ver: 2.160.1

## Issue Description
We have a working azure pipeline that will fetch base image from ACR and push new image back to ACR. Ye

[2019-12-05 19:21] HughDevlin commented on #10165
Dear friend,

May I respectfully advocate for intuitive behavior in our software, and may I respectfully suggest that if i need to turn on diagnostic tracing to understand how a bug is feature, perhaps it is a bug.

May i respectfully remind you and readers that the MS published idiom for ##vso usage is embedded in echo commands. Respectfully I do not agree that a fix is impossible. I think ##vso

[2019-12-05 19:29] vtbassmatt commented on #9363
That's an unfortunate bit of UI - thanks for reporting. I'll see if we can disable that "helpful" text when it's a secret.

@wnjenkin I think that's in your area.

[2019-12-05 19:46] damccorm commented on #10165
I'm going to ask again that we keep the conversation respectful going forward and work towards resolving the problem - otherwise I'll lock the thread to let the conversation cool off.

As far as the issue itself goes, I'd again reiterate that I think its working as intended, but we do have the read only feature coming to address use cases like yours. If you disagree, I'd appreciate clarification o

[2019-12-05 19:58] damccorm commented on #11898
Could you share a yaml snippet? And maybe a repro if you're able to? Is this in one of our tasks?

[2019-12-05 20:51] HughDevlin commented on #10165
May I respectfully ask where is this documented?

[2019-12-05 21:20] damccorm commented on #10165
Our ## syntax is documented here - https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set-in-script

If you think we need further documentation please raise an issue in the docs repo - [this link](https://github.com/MicrosoftDocs/vsts-docs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20De

[2019-12-05 21:21] damccorm commented on #10165
I'm also going to close since as it stands now this is still a no-op on our end.

[2019-12-05 21:21] #10165 closed

[2019-12-05 21:38] mbrancato commented on #11846
I have the same issue:

There are a number of use cases where we want per-pipeline auth using AzureAD for access to non-Azure resources. ADO and AzureAD are SaaS services, tying them to Azure  for authentication of a pipeline seems kinda odd. We need to leverage the JWT of the pipeline to access other services that validate against AzureAD for access.

[2019-12-05 21:42] gonzaloluna opened #11911 "Visual Studio Test v 2.* fails if no test sources found (used to work a few days ago with just a warning)"
I have a generic task group for some of my projects in which some of them have tests and others don't.
Now every time I try to build a project with no tests assemblies the build task fails.

Previously the task would give me a warning, which was OK for me.

Is this something you've just changed in the latest version? can you put it back? or just add an option to not fail the task?

##[debug]Agent.

[2019-12-05 22:04] satbai commented on #11827
This should be fixed now so closing the issue. Please respond here if you still see this and I'll reopen and  investigate. Thanks!

[2019-12-05 22:04] #11827 closed

[2019-12-05 22:17] tillig commented on #4743
This is a real nightmare when it comes to working with YAML pipelines and deployments.

Let's say you have a repo where the content changes infrastructure (e.g., Terraform modules). Some changes to the repo require deployment (and approvals, like manual intervention to click a button); some changes (like an update to the README) do not require deployment and can bypass those steps.

Based on some

[2019-12-05 23:06] satbai commented on #11788
I think this should be fixed now. Can you confirm so I can close the issue? Thanks!

[2019-12-05 23:43] Hasanchiver opened #11912 "Delete Files task pattern matching not working properly"
Hi, I'm using Delete Files VSTS task in order to clear old builds from the directory after I've copied and installed the new build. However, pattern matching is not working properly. I want to delete all folders except the folder that has the new build in it.

The version of the task that I'm using is 1.154.0

I am not sure if it is a problem on my end or the pattern matching is not just working p

[2019-12-06 00:36] satbai commented on #11790
The attached log says "Starting: npm (Xceptor.Client.Gateway) install" at the top so it seems like the pipeline is running the correct npm task. Has there been recent changes to the yaml file or multiple files in different locations with the same name, etc? This is a hard issue to investigate with the current details. Any more details may help. Thanks!

[2019-12-06 03:30] niadak commented on #11621
AzurePowerShellV5 will be deployed in next sprint deployment. It will take ~3 weeks to reach all the accounts.

[2019-12-06 04:41] bishal-pdMSFT commented on #11846
@mbrancato

This is Azure CLI task and hence it is designed to be used for Azure resources only.

ADO has service connections which can be used to gain access to those services by validating against identity providers (including AAD). Is that not what you can use?

[2019-12-06 04:46] ItalyPaleAle commented on #11846
Azure AD (and Azure DevOps) are Azure resources.

[2019-12-06 06:45] mo-saeed opened #11914 "[Azure Devops k8s manifest task] Rollout deployment timeout setting"
Hello,

Currently our pipeline fails due to timeout in the deploy step of KubernetesManifest task.

when running kubectl rollout status command:

##[error]error: deployment "XXXX" exceeded its progress deadline
Is there any way to have a setting to increase the timeout, I think it's 2 minutes by default.

[2019-12-06 08:08] DalpheSDC commented on #9820
Hi

I can see that you haven't set these variable on your agent. But the issue is how do we set them. I know that I can set the "Agent.SkipCertValidation" to true in my build definition, but it doesn't skip the validation. So how do i set the Agent.CAInfo and the Agent.ClientCert so I can point to the crt file or keystore with the certificate in?
2019-03-11T12:38:24.4393654Z ##[debug]Agent.CAInfo=

[2019-12-06 09:04] ajinkya599 commented on #11910
Hi @xerothermic, we will need some info to understand the problem:
- Are you using script or Docker task for pull/push ? If it is Docker task, what version of the task are you using ?
- What is the service connection type that you are using ? Can you share a screenshot showing your service connection ?
- Can you share a snippet of your pipeline yaml ?

[2019-12-06 09:05] techsaau opened #11917 "Add-AzMetricAlertRuleV2 Fails in Azure DevOps with Agent "vs2017-win2016""
Command "Add-AzMetricAlertRuleV2" is using object **<System.Collections.Generic.List`1[Microsoft.Azure.Commands.Insights.OutputClasses.IPSMultiMetricCriteria]>** for condition parameter in Az module. But "**Microsoft.Azure.Commands.Insights**" namespace was used in AzureRM.Insights. When I use Azure Powershell Task in DevOps (under agent "vs2017-win2016"), it gives error:

**Cannot find type [Syst

[2019-12-06 10:58] luca-esse opened #11920 "Kubectl: Release variables in K8s Service connection"
*Type*: Bug

**Task Name**: KubernetesV1

https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/KubernetesV1

## Environment
- Server - Azure Release Pipelines

- Agent - Hosted:

    - Agent queue name: Azure Pipelines (Default)

## Issue Description

Our kubectl task has the following k8s service connection: "miranda-aks-$(Release.EnvironmentName)" and it stopped working since yes

[2019-12-06 10:59] ShreyasRmsft commented on #11857
@patricknolan can you run your tests using the vstest task after build them with the dotnet task? We have a feature in the vstest task (it's still in preview) to detect hangs and collect process dumps.

https://github.com/microsoft/vstest-docs/blob/master/RFCs/0028-BlameCollector-Hang-Detection.md

[2019-12-06 11:06] ohadschn commented on #4743
@tillig if you're resorting to the Azure DevOps API, might as well just use it to set a release-level variable, see @namtab00 's comment: https://github.com/microsoft/azure-pipelines-tasks/issues/4743#issuecomment-545103841

[2019-12-06 11:15] jalajmsft commented on #11543
Hey @robal can you please share the logs of your pipeline to get more information on the issue.

[2019-12-06 11:38] kwaazaar commented on #11908
So UseDotNet has the same issue:
[code]

[2019-12-06 11:50] jalajmsft commented on #11543
Closing this issue for now. Have redirected the issue to image generation repo.

Feel free to re-open for further queries.

[2019-12-06 11:50] #11543 closed

[2019-12-06 11:55] jalajmsft commented on #11862
Hey @ggirard07 are you still blocked on this?

[2019-12-06 12:10] bishal-pdMSFT commented on #11908
@hiyadav can you please reply to this

[2019-12-06 12:36] mbrancato commented on #11846
@bishal-pdMSFT

I think that is exactly what we are **trying** to do, and so no, it cannot be used unless the service principal is granted access to an Azure Resource Group, which it does not need.

@ItalyPaleAle is correct - the Azure CLI is the CLI for Azure, Azure AD (`az ad`), and Azure DevOps (`az devops`).

Just to be clear, when I say non-Azure resources, I mean applications registered in A

[2019-12-06 13:41] TabithaLarkin commented on #11790
The pipeline task details seem correct, but the actual command that is being run is incorrect.

Line 59 specifies:
[code]

When the yaml task specifies that the command that should be run is:
[code]

The yaml files have changed as part of this PR, which is why it is currently blocked.

All yaml pipeline files in our `build` folder:
[code]

The changed files are:
[code]

[2019-12-06 13:59] Lijo2019 commented on #11876
One update on above issue, after downgraded  to Jenkins version 2.164.3 and TFS plugin 5.142.0 , i was able to build my pipeline successfully. Even though it is  a bug in Jenkins, later point of time it will come as an issue. So this issue needs to be fixed.Please let me know if any thoughts.

[2019-12-06 14:07] ggirard07 commented on #11862
I shared the logs yesterday of a failed run to the provided email address.
In the meantime, I was able to get the same pipeline running 2 times properly without any specific changes.

So I am wondering whether it is an intermittent issue or if you fixed something on your side?

[2019-12-06 15:39] TabithaLarkin commented on #11790
Just did a merge from master into that branch. Now it's complaining about a package not being found that's not even present on this branch.

It seems to be running a `ci` command against a topic branch that was build 6 hours ago.

[code]

[2019-12-06 15:47] techsaau commented on #11917
can somebody help here?

[2019-12-06 16:18] tillig commented on #4743
I'm using YAML pipelines, not releases, so there's no release-level to be had. However, I will look to see if there's a similar build-level variable that I could set. I'm not really sure as yet how build variables apply to `deployment` jobs in a YAML pipeline; you definitely don't get the source repo info the way you do if it's a build related `job` even though it's the same YAML file and the same

[2019-12-06 16:20] jalajmsft commented on #11862
Hey @ggirard07 I can't find any logs in the inbox, can you please send it again?

Glad the pipeline is working. I was also able to get the pipeline running with the same command at my end. It could be an intermittent issue with Azure CLI as there is no update at our end w.r.t. task.

[2019-12-06 16:34] sindrunas opened #11921 "KubernetesManifestV0 :: Container image substitution not working if you have a "-" before the image: tag"
The following code is a valid kubernetes yaml, but if you write it this way container image substituion will not work.
Example:

    spec:
      containers:
      - image: your image

[2019-12-06 16:35] rmarinho commented on #4743
On yaml  i was able to pass variables betwen jobs, but not between stages :(

Here's a example of getting a variable of other job that runs in other machine.

https://github.com/xamarin/Xamarin.Forms/blob/master/azure-pipelines.yml#L136

But why can't i do this for a different stage, i wanted to move my yaml to use stages but i can't because of this right now ?

[2019-12-06 16:59] evkhramkov opened #11922 "AppCenterDistributeV3 should truncate release notes"
*Type*: Bug

**Enter Task Name**: AppCenterDistributeV3

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/AppCenterDistributeV3

## Issue Description

Distribution step should truncate release notes which exceeds 5000 characters limit instead of failing build

[2019-12-06 17:23] ggirard07 commented on #11862
@jalajmsft just re-forwarded my email to RM_Customer_Queries@microsoft.com (title is "Logs for https://github.com/microsoft/azure-pipelines-tasks/issues/11862").

[2019-12-06 17:43] jalajmsft commented on #11862
Hey @ggirard07  sorry for the inconvenience we haven't received the mail, can you please  re-send it to rm_customer_queries@microsoft.com (although it shouldn't matter)

[2019-12-06 17:48] ggirard07 commented on #11862
I tried to resend it by just providing a link to the zip file in my onedrive instead of attaching it to the email...

[2019-12-06 18:15] zmarty commented on #11901
We had a call with an Azure escalation engineer which explained there is a bug in the App Service. It is not due to Azure Pipelines, so I will close this issue.

[2019-12-06 18:15] #11901 closed

[2019-12-06 18:25] tillig commented on #4743
It appears you can't update parameters on a build definition though there is a REST API for it. At least, I can't get it to work.

[code]

It's a PATCH not a PUT, so... maybe I'm not formatting the body right?

[2019-12-06 18:25] jalajmsft commented on #11862
Hey @ggirard07 We have received the logs this time. This looks like an issue with functionapp deployement,

Few more folks have faced this issue intermittently, this could be related to [Azure/azure-cli #10773](https://github.com/Azure/azure-cli/issues/10773)

[2019-12-06 18:31] Alxandr commented on #4743
You can get around this by writing the variables to an artifact. It's a bit hacky, but way less then any HTTP API I'd say. You then add a `Prepare` job to the remaining stages that just downloads the artifact and sets the variables as output variables that the rest of the jobs in that stage can use.

[2019-12-06 18:37] tillig commented on #4743
Artifacts won't work in a YAML deployment with approvals where you don't want to deploy or start the approval process based on the value of the variable. Approval happens at a stage level, so the approval would kick off before your prepare job can run and get the build artifact that would otherwise have stopped the approval to begin with.

[2019-12-06 18:59] ggirard07 commented on #11862
I saw that issue at that time. Problem was provided workaround (setting the subscription explicitly outside the command) wasn't working. Also, I had the same issue whether it was webapp of functionapp.

Do you think It can all be related to the issue you linked (meaning once it fixed, it will also fix the webapp case)?

[2019-12-06 19:01] giggio commented on #11268
@jahsu-MSFT The path property is missing on Microsoft docs:
https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#download

Which one is correct, the .md from the azure-pipelines-yaml repo, or the docs from Microsoft?

[2019-12-06 19:09] satbai commented on #11790
Seems like an issue with pipeline caching so switching the tag to Artifacts Core.

[2019-12-06 19:32] xerothermic commented on #11910
Hi @ajinkya599,

For some reason, I created a new service connection to ACR, and it's able to authenticate in pipeline now. I'll close this request now.

[2019-12-06 19:32] #11910 closed

[2019-12-06 19:39] avivanoff commented on #11804
Manually installed 2.162.0 and verified that "Download Pipeline Artifacts" does not fail on UNC artifacts anymore.

[2019-12-06 19:41] mikeharder opened #11925 "PublishTestResults throws exception if searchFolder is relative path"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishTestResults

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: https://dev.azure.com/azure-sdk/public/_build/results?buildId=203814

- Agent - Hosted or Private: Hosted

    - If using Hosted agent

[2019-12-06 19:41] jahsu-MSFT commented on #11804
@avivanoff  Great. Thanks for the update.

[2019-12-06 19:45] mikeharder opened #11926 "PublishTestResults is marked as "succeeded" if dotnet app throws exception"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishTestResults

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: https://dev.azure.com/azure-sdk/public/_build/results?buildId=203814

- Agent - Hosted or Private:

[2019-12-06 19:51] jahsu-MSFT commented on #11268
@giggio I see. The yaml doc is actually a design doc and currently the path input field is not implemented/exposed in the download yaml schema. We will be working on fixing this as soon as possible. Thanks,

[2019-12-06 19:55] jtpetty commented on #11645
@camp-007 - Sorry for the delay in responding to you. In order to use a service connection in a task, a task has to have an input that is defined as a "generic service connection" type. The bash task does not have such an input.

If you want to do this, you would have to write a custom task (https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops).

[2019-12-06 20:42] martinling commented on #9768
Please get the fix for this deployed. I have a submodule containing a third party toolchain, including a number of harmlessly dangling symlinks, and simply having the submodule checked out causes the Copy Binaries task to fail after the build. I am currently working around this by deleting the submodule directory at the end of the build script.

[2019-12-06 23:08] sindrunas commented on #11921
https://github.com/microsoft/azure-pipelines-tasks/pull/11924/commits/cba4170f5dd7dd9bbf71ef9fe518e9b71d5613ab

[2019-12-06 23:54] sanoraya opened #11928 "The term 'Get-AzureRmOperationalInsightsWorkspace' is not recognized as the name of a cmdlet"
Hi, I am using Azure Powershell task in my pipeline to enable Log Analytics in Logic Apps.
The script runs well from command line but fails in Azure PowerShell Task with "The term 'Get-AzureRmOperationalInsightsWorkspace' is not recognized as the name of a cmdlet"
Not sure if it's me doing something wrong or it's a bug.
[ReleaseLogs_382.zip](https://github.com/microsoft/azure-pipelines-tasks/files

[2019-12-07 02:11] jalajmsft commented on #11899
Thanks for raising this issue @kyleherzog. We haven't heard much from the community on this. We would like to collect more information to proceed with this.

Closing this, feel free to re-open for further queries.

[2019-12-07 02:11] #11899 closed

[2019-12-07 12:24] ohadschn commented on #4743
@tillig I don't think it's a body formatting issue, because when I tried to change something else, specifically `keepForever` (build retention) it did work (didn't need the `Id` property BTW).

Strange thing is, the returned `Build` response always said `keepForever' was `True`, regardless of the actual state, so the fact that the parameter change wasn't reflected in the returned JSON would not ha

[2019-12-07 19:25] fernandoseguim commented on #11902
Hi @jtpetty, sorry, I said my agents are hosted, but I was wrong. We use private agents in version ubuntu-16.04-docker-18.06.1-ce. I run the pipeline with diagnostics turned on. You need see what files?

[2019-12-08 08:31] sankara-narayanan commented on #11191
I can confirm that the flag /p:BlockOnPossibleDataLoss=false is absolutely not honored. I have been facing similar issues. i can provide any further evidences you might need
![image](https://user-images.githubusercontent.com/24967648/70386786-dc763080-1951-11ea-94ad-d925e7a917b7.png)
![image](https://user-images.githubusercontent.com/24967648/70386798-062f5780-1952-11ea-8fa8-8dd2a43d2a36.png)

[2019-12-08 18:39] pereiren commented on #11291
Hi,

I was having this issue when adding another GitHub organization to my Azure DevOps pipelines.
![image](https://user-images.githubusercontent.com/11976485/70394114-08e18980-19f2-11ea-90c1-b838b77d9a59.png)

![image](https://user-images.githubusercontent.com/11976485/70394119-172fa580-19f2-11ea-9ea4-8834a059515e.png)

I grabbed the adquisitionID from the URL and pasted here and it worked
![imag

[2019-12-08 21:22] gigi81 commented on #10899
Anyone looking for a workaround, this is I think the best approach. All manifest commands (.ex create and push) will just work
[code]

[2019-12-08 22:56] mounarshisantra commented on #8920
if we are using the az cli to achieve the same functionality, we are not getting the same flexibility as the Azure File Copy task in terms of getting the storage uri and sastoken as output. We need to make additional cli calls to achieve the same . So, it would be great if the file copy task works xPlat.

[2019-12-09 04:39] vithati commented on #11921
@sindrunas , This issue will be fixed with this change, https://github.com/microsoft/azure-pipelines-tasks/pull/11883

[2019-12-09 05:26] ajinkya599 commented on #11910
@xerothermic - Thanks for sharing the update.

[2019-12-09 06:51] jalajmsft commented on #11862
The issue seems common for both webapp and functionapp deployment. I guess once fixed it should be applicable for both.

[2019-12-09 07:06] shigupt202 commented on #11914
@mo-saeed The default timeout is 10 minutes. You can, however, set `progressDeadlineSeconds` to desired timeout value in the spec of your deployment manifest file.

[2019-12-09 08:38] hiyadav commented on #11908
Hey @kwaazaar

Will get to this issue today, you can expect a reply by tomorrow.

[2019-12-09 08:45] asranja commented on #11928
Azure PowerShell V4 task supports only Az version of the cmdlets by default. So in your case you should use **Get-AzOperationalInsightsWorkspace**.

However, if you still want to use AzureRm based cmdlets, run '**Enable-AzureRmAlias**' in the script before using AzureRm cmdlets.

[2019-12-09 08:48] ShreyasRmsft commented on #11911
This has been hotfixed. Please re-open if you are still facing the issues with task version 2.161.4 or higher. Thanks

[2019-12-09 08:55] luca-esse commented on #11920
Hello,
Our relase ppipeline is working again, it looks like the problem has been fixed.
Any idea on the root cause of the problem?

[2019-12-09 09:18] hiyadav commented on #11908
Hey,

The UseDotNet task by default installs/makes version available at $(Agents.ToolsDirectory). In your case it can find 2.2.402 version already present (probably installed from previous run of pipeline) in the agent's tool cache $(Agent.ToolDirectory) = Agent/_work/tools/dotnet.

As the same agent might be getting used in different pipelines, which could have installed 3.1.101 SDK version using

[2019-12-09 09:42] kwaazaar commented on #11908
The [documentation for global.json](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json) states that "In general, you want to use the latest version of the tools, so no global.json file is needed.". Because of [breaking changes in the dotnet cli](https://github.com/dotnet/cli/issues/12696) the latest SDK is not what I want, but I want to use the latest 2.2 SDK for my build pipeline.

So

[2019-12-09 09:47] hiyadav commented on #11908
Adding @pulkitaggarwl to consider the enhancement.

You can still use the 2nd approach to work with exact versions, mentioning it below here:
2. Specify this task input installationPath: $(Agent.TempDirectory) . This will ensure that the versions installed during a pipeline instance's execution, are the only ones available. The installed versions at this path will not be cached and hence won't be

[2019-12-09 09:53] asranja commented on #11917
@techsaau I was able to successfully add an alert rule using the following cmdlets:

[code]

Are you passing the Microsoft.Azure.Commands.Insights object into the condition parameter ?

Please try out the above approach and let me know if it works out for you.

[2019-12-09 09:58] vithati commented on #11920
@luca-esse, Sorry for the inconvenience. We have rollbacked the changes which causing the issue.

[2019-12-09 09:58] #11920 closed

[2019-12-09 09:59] techsaau commented on #11917
@asranja Thanks for your response.
For single condition, it is working fine for me as well. But it gives error for multiple alert conditions.

$alert.Metrics = @{<<Multiple alert conditions>>}
$AlertCondition = New-Object "System.Collections.Generic.List``1[Microsoft.Azure.Commands.Insights.OutputClasses.IPSMultiMetricCriteria]"
    foreach ($Metric in $alert.Metrics) {
        $AlertCriteria = Ne

[2019-12-09 10:08] navin22 commented on #11087
Please reopen if you still find an issue with this!

[2019-12-09 10:08] #11087 closed

[2019-12-09 10:22] vagisha-nidhi commented on #11905
@ioananicu Can you please set variable `system.debug = true` and share with us the full zip logs?

[2019-12-09 11:18] #11517 closed

[2019-12-09 11:27] asranja commented on #11917
@techsaau  The type **[System.Collections.Generic.List[Microsoft.Azure.Commands.Insights.OutputClasses.IPSMultiMetricCriteria]]** was introduced in a later version of Az.Monitor which is not currently installed on the hosted agent and hence you are facing this issue. The current version of Az.Monitor on hosted agent is 1.2.2

While we figure out the next steps, can you try this instead and see if

[2019-12-09 12:05] techsaau commented on #11917
@asranja  workaround is working as expected.
Thanks for your help.

[2019-12-09 12:30] pasasorin opened #11930 "Hide the substituted values in the FileTransform(V2) task"
*Type*: Feature

**Enter Task Name**: FileTransform(V2)

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/FileTransformV2

## Environment
- Server - both Azure Pipelines and Azure DevOps Server
- Agent - doesn't matter
## Issue Description

When running the task for JSON substitution, it displays in the logs the values that it has replaced.
Can you ad

[2019-12-09 13:23] Figglewatts opened #11931 "[HelmDeploy] Causing warning due to YAML parse error in 0.162.1"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Azure Pipelines
- Agent: Hosted ubuntu-16.04

## Issue Description

The Helm Deploy task is

[2019-12-09 13:32] GarethOates commented on #11267
I've been experiencing this problem today as well. If an artifact has previously been downloaded by the agent, it is used in the subsequent stages instead of the latest being downloaded.  Even though when you view the artifact in Azure DevOps, it shows the files as they should be.

In my case, I had renamed 2 files.  The artifact in Azure DevOps looked ok, with the 2 new filenames being present, b

[2019-12-09 14:00] sam-cogan commented on #11414
Yep, still seeing this

[2019-12-09 15:40] MisinformedDNA opened #11933 "Universal Packages task should link to documentation"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Universal Packages

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/UniversalPackagesV0

## Issue Description
When setting up the Universal Packages task, the "About this task" link goes to [a blog article](https://aka.ms/universalpackagesannounce), instead of [the task documentation](htt

[2019-12-09 16:24] jp108 opened #11934 "setting failTaskOnFailedTests on PublishTestResults task does not fail task"
Hello ,

I still find https://github.com/Microsoft/azure-pipelines-tasks/issues/9711 broken and we need this functionality working as a continuation of our workflow of next step to trigger bug creation for even single failed test inside.

Log file for TASK - Publish Test Results
[7_Automated UI Test Results.txt](https://github.com/microsoft/azure-pipelines-tasks/files/3940673/7_Automated.UI.Test.R

[2019-12-09 16:58] asranja commented on #11930
For substituting secret values, the recommended approach is to mark the variable as a secret variable. This will automatically hide the value from the logs.

[2019-12-09 17:08] sawpresto opened #11935 "Helm logs write to error log and fail release when using force"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Helm Deploy

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/HelmDeployV0

I'm using Azure Pipelines (Azure DevOps Services) and a Hosted agent for the Helm Deploy task and I need to use the --Force switch from another issue (https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/848).

This previously worke

[2019-12-09 18:17] sawpresto commented on #11935
It looks like the Helm version is 3.0 and this issue is related to that and a feature not yet implemented. So it will be necessary for the Azure Pipelines task to address the issue with writing to the log writes to error, but if you also run into this error and need the specific workflow that I do, you'll need to start from scratch with Helm 2 or wait for the flag to be developed. https://github.c

[2019-12-09 19:09] steevegldev commented on #11891
Sorry to spam, but 75% of my build fail because that issue. I think that issue required higher priority...

[2019-12-09 19:44] t03apt opened #11937 "[Feature request] KubernetesManifestV0 task: configmap, timeout"
## Feature request for KubernetesManifestV0 task
Please add support to KubernetesManifestV0 for
- creating a configmap
- setting a timeout for checking the success of the deployment

[2019-12-09 19:47] jtpetty commented on #11902
@fernandoseguim - can you send me the contents of the _diag/ directory from the agent that is showing this issue? If there are too many logs there, I just need the Agent*.log and Worker*.log that show the issue.

[2019-12-09 21:52] nickgsoft opened #11938 "gulp version in that task"
while using ulp taks in the azure devops, getting below error. looks like we needs to change the gulp version in the Azure devops task, but do not have any option to change the gulp version. please assist if there is a way and how should i utilize that?

##[section]Starting: gulp CI-Build
==============================================================================
Task         : Gulp
Description

[2019-12-09 23:54] logdog16 commented on #11911
Hello, I'm also running into this issue @ShreyasRmsft and can't get 2.161.4 to download. I keep getting 2.161.2 (which errors out with no tests selected) even after using a VisualStudioTestPlatformInstaller job to try and update to latest. Any tips on how to get v2.161.4 to download as part of my job?

[2019-12-10 01:08] fernandoseguim commented on #11902
@jtpetty these are [logs](https://acesso2-my.sharepoint.com/:f:/g/personal/fseguim_acesso_com/Es1eR-UIwtFIrkYaUhTD5WwBPF04K8c9IvQWgaRfRVLVeg?e=m4aDSw)

[2019-12-10 04:24] #11921 closed

[2019-12-10 06:06] ShreyasRmsft commented on #11911
@logdog16 the roll-out was pending for one ring of accounts, give it a shot now.

[2019-12-10 07:12] asranja commented on #11917
Closing the issue. We will track the update with an internal work item.

[2019-12-10 07:12] #11917 closed

[2019-12-10 08:31] M0ns1gn0r opened #11940 "AzureFunctionApp@1 incorrectly reports success"
**Question, Bug, or Feature?**: Bug

**Enter Task Name**: AzureFunctionApp@1

## Environment
- Server - Azure Pipelines
- Agent - Hosted ubuntu-latest

## Issue Description

Although the deployment of my function fails due to problems connecting with AppInsights, the task itself succeeds. The function app is not working after deployment, the site contains the file FAILED TO INITIALIZE RUN FROM PAC

[2019-12-10 11:28] SteveSteglitz opened #11944 "FTP Upload task can't connecting (FTPS)."
I try to upload some files to FTPS. The Provider is IONOS (1&1).
The login data are:

- Server / Host:  accessXXXXX.webspace-data.io
- Protokoll: FTPS
- Port: 990

I can login in Filezilla, but the FTP Upload task in my pipline yml file failed.

Starting: FtpUpload
Task         : FTP upload
Description  : Upload files using FTP
Version      : 2.157.0
Author       : Microsoft Corporation
Help

[2019-12-10 11:33] philiphoyos commented on #11191
I have the same issue, it seems that neither of the arguments specified in either the publish profile.xml, or the additional arguments is honored. I've tested with
`/BlockOnPossibleDataLoss=false /DropObjectsNotInSource=true /TreatVerificationErrorsAsWarnings=false`

[2019-12-10 12:13] rauntska opened #11945 "Kubernetes deployment container env variables"
Hi,

Im using the KubernetesManifestV0 task to deploy my container from devops to aks.
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/kubernetes-manifest?view=azure-devops

However im wondering if there's any possibility to use the variables defined in Devops->Pipelines->Library to set the "env" variables for the container im deploying?

Im using multiple environments so it w

[2019-12-10 13:54] ioananicu commented on #11905
@vagisha-nidhi Hi. I have updated the original post with the log info for that task, I have set the variable but it will take another day to get the debuglogs. I will attach those when I get them. Do you need the logs for the whole stage or is that task enough?

[2019-12-10 13:54] davemanton commented on #9541
We're looking at using gates after the stage deployment on releases with approvals to complete pull requests.  We can't complete because the pull request information isn't there.  We need the pull request Id.  Is this likely to be included at any point?

[2019-12-10 15:04] Debbus72 opened #11947 "AzureAppServiceSettingsV1 incorrect log line"
*Type*: Bug
**Enter Task Name**: AzureAppServiceSettings
## Environment
- Server - Azure Pipelines
- Agent - Private

## Issue Description
I'm testing the AzureAppServiceSettingsV1-preview task.
There is a small problem with the log, that shows a `Data %s` where it should not.

### Task logs
[code]

The last log-line should not show 'Data: %s' on the end.

[2019-12-10 15:30] Debbus72 opened #11948 "AzureAppServiceSettingsV1 slot fails to populate"
*Type*: Bug
**Enter Task Name**: AzureAppServiceSettings
## Environment
- Server - Azure Pipelines
- Agent - Private

## Issue Description
I'm testing the AzureAppServiceSettingsV1-preview task.
There is a problem within the editor. The Slot-entry will not populate the list. It shows 'No Results Found.'

### Task logs
Not a task log, but when I open the developer-tools it shows the following messa

[2019-12-10 15:32] jtpetty commented on #11902
@fernandoseguim - I believe we may have already fixed this bug in the agent version 2.162.0. We have just started rolling out this fix, but if you are using a private agent, you could manually upgrade to this version and see if that fixes your issue.

[2019-12-10 15:42] lukeschlather commented on #10469
If it can accurately detect web projects that seems reasonable.

zipAfterPublish is still not helpful, I just got bitten by this again.

[2019-12-10 16:06] Ryan-Palmer commented on #11837
+1, I have hit this too.

[2019-12-10 16:40] sanoraya commented on #11928
Thank you, that helped!

[2019-12-10 16:40] #11928 closed

[2019-12-10 17:17] Ryan-Palmer commented on #11837
I'm facing similar issues, just playing with Boots to try to install the required bits https://devblogs.microsoft.com/xamarin/boots-xamarin-ci/

[2019-12-10 17:28] Ryan-Palmer commented on #11837
I was able to get around this.
1.) Install the Boots extension https://devblogs.microsoft.com/xamarin/boots-xamarin-ci/

2.) Add the step to your build before the nuget restore with this InstallerURI:
https://download.mono-project.com/archive/6.6.0/macos-10-universal/MonoFramework-MDK-6.6.0.156.macos10.xamarin.universal.pkg

3.) Set the new Mono path using a Bash script with the following:
[code]

[2019-12-10 18:06] JSiebenthal commented on #7952
Confirming this issue.  My pipeline runs on Windows latest and has the following tasks:
1. VSBuild task: Build an ASP.Net MVC 4 app into a package.
2. Extract files task: extract contents of package .zip to pipeline workspace.
3. Delete files task: delete a bunch of .dll and (dev) .config files from the pipeline workspace.
4. Copy files task: copy some (production) .config files from repo to pipel

[2019-12-10 19:20] logdog16 commented on #11911
There we go! Our hosted agents picked up the change overnight and our builds started working again this morning. Thank you :)

[2019-12-10 19:59] steevegldev commented on #11891
I find out the issue is caused be 2 agent instances trying to use the same folder.

[2019-12-10 19:59] #11891 closed

[2019-12-11 05:47] issacnitin commented on #11779
@reshmaparate We're closing the issue, please feel free to reopen the issue with the logs if you're facing this again.

[2019-12-11 05:47] #11779 closed

[2019-12-11 08:27] asranja commented on #11948
We recently fixed an issue related to slots which is currently undergoing deployment.

The url **_https://management.azure.com/subscriptions/.../resourceGroups/providers/Microsoft.Web/sites/.../slots?api-version=2018-11-01_** does not have resource group name in it. This could be causing the issue for you.

[2019-12-11 08:37] nulltoken opened #11950 "Instructs the pipeline it's ok to save cache on partial builds?"
Hello,

It looks like the cache is only persisted on "Successful" builds (cf. https://github.com/microsoft/azure-pipelines-agent/blob/0533383fe43ae079cd1d8f38342bbd465e7c2c4e/src/Agent.Plugins/PipelineCache/SavePipelineCacheV0.cs#L27-L30).

Some of our tasks fail on non critical steps (`yarn outdated` for instance) and are decorated with the "continueOnError" marker. We use this to warn the user t

[2019-12-11 08:37] asranja commented on #11947
Thanks for pointing this out. We will fix this in the upcoming release.

[2019-12-11 09:03] vagisha-nidhi commented on #11911
Closing the issue since this is resolved. Thanks.

[2019-12-11 09:03] #11911 closed

[2019-12-11 09:18] ShreyasRmsft commented on #11892
Also do you see these messages when you run the tests locally? Closing this due to no response, please re-open with the requested data.

[2019-12-11 09:18] #11892 closed

[2019-12-11 09:24] ShreyasRmsft commented on #11818
Closing this as this is a test issue.

[2019-12-11 09:24] #11818 closed

[2019-12-11 09:49] mamutmk5 opened #11951 "Azure Key Vault Task set pipeline variable name for a secret"
*Type*: Feature
**Enter Task Name**: Azure Key Vault

## Environment
- Server - Azure Pipelines
- Pipeline - Task groups or release pipeline
- Agent - Hosted

## Issue Description
I want to use a Azure Key Vault Task followed by any other task at a task group in multiple stages from a release pipeline with different secrets for the stage of release pipeline.
The secret is selectet over an pipeline

[2019-12-11 09:50] shigupt202 commented on #11945
@rauntska There's no direct way to use externally defined variables as the 'env' variables in the manifest file. You can, however, use configMaps to replace your env variables.
For example, you can create a config map like this:
![configMap](https://user-images.githubusercontent.com/57620559/70610253-43813700-1c29-11ea-8537-a37f210ba1dd.PNG)

Then set  _var_ to the value of your env variable. In t

[2019-12-11 09:56] #11914 closed

[2019-12-11 10:40] vithati commented on #11935
@sawpresto , If your helm chart works with helm2. Can you install helm2 version using "Helm tool installer", untick 'Check for latest version of Helm' in task and try again.

[2019-12-11 10:47] dhruvanmurthy commented on #10499
A fix for this was released in [16.4.1 version of Visual Studio](https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=BuildTools&rel=16).

[2019-12-11 11:05] StiviiK opened #11952 "HelmDeploy@0 upgrade ignores chartVersion"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy@0 upgrade

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure DevOps Pipelines

- Agent - Hosted or Private:
    `Hosted ubuntu-latest`

## Issue Description
[code]
Using this task the version gets not set in the helm upgrade command:
`/opt/hostedtoolcache/helm/2.9.1/x64/linux-a

[2019-12-11 11:07] StiviiK commented on #8374
Any plans on adding this command to the task?

[2019-12-11 11:28] shashankbarsin commented on #11937
Right now you can have ConfigMap in the input manifest files and they'll be deployed by KubernetesManifest task. We have a item in our backlog to add versioning ability for the ConfigMaps deployed using the task.

Being able to specify timeout limit for checking success of deployment is a small addition to add. Will do that right away and roll out the changes this sprint.

[2019-12-11 11:40] ShreyasRmsft commented on #11905
We'd need it for the entire build. Please upload the full zip that you obtain by clicking on download all logs. There are additional platform logs that can only be obtained this way and we need those.

[2019-12-11 12:26] apacha commented on #11217
Is anyone actually using AppCenter to run the XCode UI test and for deployment? If so, can anyone provide a complete YAML file. The documentation does not help at all.

[2019-12-11 12:33] jeroenski74 commented on #11191
Hi,

I have changed is to true because we want people to think about it, I have not tested it again after. Should there be something changed?

Verzonden vanuit Mail<https://go.microsoft.com/fwlink/?LinkId=550986> voor Windows 10

Van: Eavanshi Arora<mailto:notifications@github.com>
Verzonden: donderdag 5 december 2019 06:19
Aan: microsoft/azure-pipelines-tasks<mailto:azure-pipelines-tasks@noreply.

[2019-12-11 13:12] vithati commented on #11952
@StiviiK , Sorry for inconvenience. Presently task honors 'chartVersion' input for package command only.  We will improve this in next version of task.

[2019-12-11 13:13] vithati commented on #8374
@StiviiK , 'Command' input is editable so user can type any command, so presently we don't have plans to add it to dropdown.

[2019-12-11 13:54] StiviiK commented on #8374
Okay.

[2019-12-11 14:34] yelob opened #11953 "KubernetesManifest error with smi trafficSplitMethod and Istio"
*Type*: Bug

**Enter Task Name**: KubernetesManifest

## Environment:  Azure Pipelines

## Issue Description

If you try to use smi as the trafficSplitMethod, the KubernetesManifest task attempts to use the TrafficSplit kind defined by the SMI spec with version "v1alpha1". However, if you install the latest CRDs from the spec for Istio (https://github.com/deislabs/smi-adapter-istio), they are on v

[2019-12-11 14:47] yelob opened #11954 "KubernetesManifest error on final increment of canary"
*Type*: Bug

**Enter Task Name**: KubernetesManifest

## Environment
- Server - Azure Pipelines

## Issue Description

When using the task with the canary strategy, the final step is to make the canary the new stable version. The process tries to patch the spec.selector for the deployment:

originally created canary deployment yaml:
[code]

attempted stable deployment yaml:
[code]

This results in

[2019-12-11 15:45] pasasorin commented on #11930
I was thinking to get the secret values from a Secure File from Library. But I guess I can read them from the file and pass them in the pipeline using the "issecure=true" option, like:
   write-host  ("##vso[task.setvariable variable=$Name;issecret=true]$Value")
Thank you for the reply, you can close this request.
Sorin

[2019-12-11 16:06] twpayne commented on #9394
@romil07 Do you know when the fix will land?

[2019-12-11 16:14] twpayne commented on #11558
I'm encountering the same bug, thank you @DavidSimner for the suggested work-around.

Could you provide more details on exactly you made this POST request? I'm trying to do it with the Azure CLI but am failing because I don't know what resource needs to be associated with the request for authorization.

Specifically, I have verified that I can see my pipelines by running:

    az login
    az exte

[2019-12-11 17:14] sawpresto commented on #11935
@vithati Interesting find, you're right that it must be writing to stderr, and in that case must be a Helm 3 issue, that's rough. :( I think that it should work with Helm 2 and I'll untick Check for latest. I'm going to close this issue for now as it's really an issue with Helm and not the task. Thanks for helping me debug this.

[2019-12-11 17:14] #11935 closed

[2019-12-11 17:58] StarWars999123 commented on #11892
The issue disappeared, as soon as we applied another fix due to illegal characters in path exceptions.
After modification of the VsTest task option "Advanced execution options -> Batch Options -> Specify a batch size" from "automatic" to "manual" (e.g. 2000), the issue disappeared. We kept monitoring it for the last days, but it didn't reoccur.

[2019-12-11 18:58] HughDevlin opened #11956 "Java Tool Installer task select pre-installed Java version"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Java Tool Installer task

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Microsoft hosted agents typically come pre-installed with multiple versions of Java, one of which activated by default. For example, currently pools ubuntu-latest and windows-latest include Javas 7, 8, and 11, and 8 is acti

[2019-12-11 19:03] rcsilva83 opened #11957 "[Maven] Use predefined JAVA_HOME variable"
*Type*: Feature

**Enter Task Name**: Maven

## Issue Description

I'm running my Maven build inside a container with only one JDK and Maven installed. I already have a JAVA_HOME correctly set, so I don't need Maven Task to set it for me.

There is no optimal solution for me now: 1) I can change my Docker image to set a "JAVA_HOME_<VERSION>_<ARCH>" variable that would be used only on Azure Devops;

[2019-12-11 19:40] HughDevlin commented on #11957
The conventional method for selecting among installed Java versions, familiar to all java developers, is to set environment variable JAVA_HOME.

In selecting among Javas pre-installed on Azure pipelines, this approach is difficult because it requires an Azure pipeline developer to know the locations of the several Javas, or the several respective environment variables, which are not apparent in th

[2019-12-11 19:42] HughDevlin commented on #11956
The conventional method for selecting among installed Java versions, familiar to all java developers, is to set environment variable JAVA_HOME.

In selecting among Javas pre-installed on Azure pipelines, this approach is difficult because it requires an Azure pipeline developer to know the locations of the several Javas, or the several respective environment variables, which are not apparent in th

[2019-12-11 19:54] siromega commented on #11749
I installed it on another 2016 Server we have... and it seems to work. So I'm unsure as to why it is not working on this specific machine. Is there any help or advice you can provide on this? The two servers should be identically configured, have nearly identical software installed, etc.

[2019-12-11 20:09] ImportSJC commented on #11788
@satbai this bug still seems to be present for me. I have tried using the feed's name and ID and in both cases the URL generated is invalid, missing only the project name. do you documentation or a commit that indicates this has been fixed?

Also, does anyone have an alternative method of connecting to a project scoped feed that I can use as a workaround?

Thanks!

[2019-12-11 20:57] satbai commented on #11788
Sorry, there was a bug in the connect to feed page in the Artifacts UI. The connect to feed page showed an incorrect nuget URL for project scoped feeds. If you copied the feed URL for a project scoped feed during when the bug was out, you have to manually go back to the feed and copy the URL form the connect to feed page again. For a project scoped feed, the URL includes the project the feed is sc

[2019-12-11 21:11] ImportSJC commented on #11788
@satbai Oh, I get what you are saying. Yes the connect feed page does now show the correct URL for project-scoped feeds. However the current version of the Nuget Command (NuGetCommand@2) still doesn't generate the correct URL when provided the name/ID of the feed in the VSTS input.

[2019-12-11 21:48] MOlechowski commented on #11795
Had the same problem when generating secret from cloud shell on web I believe it must do something with text white spaces or something related to encoding. When you use secret generated from your local terminal everything works fine.

[2019-12-11 22:23] satbai commented on #11788
Ah I see, I shouldn't have assumed that you're using yaml. The task should have the code in place to create the correct project scoped URL based on the selection in the feed dropdown. Is the dropdown getting automatically populated with feed names for you? Is the feed in the same Azure DevOps organization as the pipeline? Can you check from the pipeline log which version of the NuGetCommand2 task

[2019-12-11 22:56] #11930 closed

[2019-12-12 03:43] avivanoff commented on #11804
@jahsu-MSFT, is there a way to find out when updates will reach our account?

[2019-12-12 07:25] ds-ms commented on #11953
This issue is being addressed in #11906

[2019-12-12 08:19] 20shivangi commented on #11776
@DrWala Can you please attach the complete debug logs by setting system.debug variable to true in your pipeline?

[2019-12-12 08:28] blueelvis opened #11958 "MSBuild Task doesn't fail the build on build failure in Hosted VS2019"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-12-12 08:52] DrWala commented on #11776
I think this issue can be closed, it started working a few days after I posted this but forgot to comment. I was playing with azure devops for the first time essentially, and I got the war package deployed after making a few changes in the pom.xml—namely changing the packaging type to war, and testing on a local tomcat server after building the package manually using maven package. Once I got that

[2019-12-12 08:52] #11776 closed

[2019-12-12 10:13] ankrause commented on #11414
Still seeing this as well. Based on the commit it looks like the change was slated for version 0.159.4, but in ADO I still see it failing under version 0.161.0. Is it possible to get an update on when this fix will be available? Thanks!

[2019-12-12 10:15] CasperNaudts commented on #11837
@Ryan-Palmer This solved the issue thanks.

[2019-12-12 10:15] #11837 closed

[2019-12-12 10:17] issacnitin commented on #11887
@borysl As updated by Ming in the Developer Community, version 2.2.300 seems working now. Hosted agent gets recycled after each pipeline job, that must be the reason why the cache is not being hit. Cache can work, if for example, you have two UseDotNetCoreV2 tasks in the same pipeline with same version, or if you're using a private agent.

Hope this clarifies your issue. If you need more help/clar

[2019-12-12 10:58] Ryan-Palmer commented on #11837
It turns out you don't need the bash script btw, Boots sets the new Mono path for you.

If you want to see how to update Xamarin.iOS and point at a newer XCode, see my issue here (turned out I had a rogue space char...)
https://github.com/microsoft/azure-pipelines-image-generation/issues/1441

[2019-12-12 12:54] vithati commented on #11414
Helm 3 writing some of the logs to stderr. If stderr contains messages the task will fail (. https://github.com/microsoft/azure-pipelines-tasks/issues/11935). This is issue with helm3. If your helm chart works with helm2. Can you install helm2 version using "Helm tool installer", untick 'Check for latest version of Helm' in task and try again.

[2019-12-12 13:00] ioananicu commented on #11905
@ShreyasRmsft Hi, I have attached the build logs from which i removed other non relevant stages. Please let me know if you require anything else. Thank you

[2019-12-12 13:05] vithati commented on #11954
I think you are using SMI canary deployment, it works if you are doing deploying using SMI canary from starting. If you have already existing deployment (deployed with some other way) and if you are trying to use canary deployment with SMI then it will fail.

[2019-12-12 14:08] hugginssd commented on #8116
**For the past 2 days i am stuck on the following error. Please any help. I'm new to Microsoft Dynamics 365 am trying to deploy an On-premise application.**
And i'm getting the following error when deploying.

[code]

[2019-12-12 14:19] yelob commented on #11954
No, this is without an existing deployment. It fails with an actual readable error if a deployment already exists.

[2019-12-12 14:23] damccorm commented on #11898
Closing due to lack of info. Please comment if you'd like this issue to be reopened.

[2019-12-12 14:23] #11898 closed

[2019-12-12 15:20] dhabierre commented on #5894
I have the same issue with Azure DevOps / Agent Ubuntu 18.04 / Azure Powershell Task

[code]

**Powershell installation**

[code]

**which pwsh**

[code]

**echo $PATH**

[code]

**ll /snap/bin**

[code]

Any idea?
Thanks!

[2019-12-12 15:33] nachoizquierdo commented on #11439
Jeeez thanks @epsmae, had the same issue and after testing different types of keys this is what worked for me in the end! 👍

[2019-12-12 15:53] christopheblin opened #11959 "Inconsistent error messages between NuGetAuthenticate@0 and DotNetCoreCLI@2 to access a private nuget feed"
**Question, Bug, or Feature?**   Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Azure Pipelines : account = infologic-sante ; project = AIS - GIS ; pipeline = AIS-GIS Tests

- Agent - Hosted (whatever the queue)

## Issue Description
Here is the yaml:

    variables:
      NuGet.ForceEnableCredentialProvider: true
      NuGet.ForceEnableCredentialProviderV2: false
    jobs:
    - job:

[2019-12-12 15:55] christopheblin commented on #11959
I should add that, with the same account / project (so with the same build agent), I can push nugets to the feed thanks to "nuget push" via NuGetCommand@2

[2019-12-12 16:38] damccorm commented on #8455
@guolinke are you still experiencing this problem?

[2019-12-12 17:02] johnterickson commented on #11034
@ygnr The hosted agents have no persistent state.  The images/layers need to be pulled from somewhere each build (either from Pipeline Caching or else where)

[2019-12-12 17:17] rochapablo commented on #10181
Where `WEBSITE_WEBDEPLOY_USE_SCM` should be set? Should it be in `Variables`?

[2019-12-12 17:20] NenoLoje opened #11960 "SCVMM task: Where to report issues?"
The [SCVMM integration](https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.scvmmapp) tasks don't seem to be part of this repo.

Are they in a different repo or **where would be the best place to report issues?**

Thanks,
--Neno

[2019-12-12 17:34] pbakhil commented on #11339
Does any get a solution, I get the same problem?

2019-12-12T17:16:00.8381047Z ##[error]Warning SQL72012: The object [data_0] exists in the target, but it will not be dropped even though you selected the 'Generate drop statements for objects that are in the target database but that are not in the source' check b

[2019-12-12 18:24] johnterickson commented on #11811
@gpad Did you see this when running `npm install` directly?

[2019-12-12 19:36] barrcodes opened #11961 "Issue: AppCenterDistributeTask: Include Collaborators (default) Group in a list of Group Ids"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AppCenterDistribute

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
        - For security reasons, account info can be provided privately

- Agent - Hosted or Private:

    - Not 100% on this, I

[2019-12-12 20:18] shubham90 commented on #11959
@christopheblin Nuget Authenticate task is meant to be used only with cmd/poweshell scripts. The dotnetCoreCLIV2 and NugetCommandV2 tasks have their own auth process. So, I would suggest using nuget authenticate task with a cmd line script to do 'dotnet test'. You can refer to some examples [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-d

[2019-12-12 20:37] damccorm commented on #11841
Repathing to build to take a look at the UI - it seems like we're correctly reporting the warnings, but maxing them out at 10 in some spots.

[2019-12-12 20:40] damccorm commented on #11701
Hey, sorry - just saw this! Would you mind asking this in the tfx-cli's repo here - https://github.com/Microsoft/tfs-cli? They'd be better equipped to answer these questions.

[2019-12-12 20:40] damccorm commented on #10375
@sinistram any updates?

[2019-12-12 21:32] antonenk commented on #11468
@sepich cannot comment the bug now, however I can answer instead (using pids from his bug description):
1) ./run script do catch SIGINT, I especially verified it with "kill -INT 2338"

2) I repeated the experiment and tracked syscalls using strace on different consoles.
I see that cmdlinetask.js gets signal SIGINT, didn't send it to any other process (i.e. 2338) and quits. For our bash script I se

[2019-12-12 23:36] burhan commented on #3437
It seems this problem has resurfaced. My maven build works fine on my local machine, but gives this exact error on azure pipelines.

![image](https://user-images.githubusercontent.com/603112/70757620-4f681880-1d51-11ea-9a3f-61d80a42381b.png)

[2019-12-12 23:45] jahsu-MSFT commented on #11267
@giggio Are you still seeing the issue after adding dependencies? If so, can you provide your sample build def/yaml schema?

@TabithaLarkin @giggio
Regarding the old artifacts not being deleted in the agent, In the DPA V2 task, the default download directory is working directory and by design it won't get cleaned up when running a new build.

[2019-12-12 23:46] jahsu-MSFT commented on #11267
@GarethOates I'm not sure I understand the scenario you described. Can you provide a sample build definition/ yaml schema of the issue you ran into?

[2019-12-13 02:25] guolinke commented on #8455
@damccorm I use my own docker image to avoid the problem, not sure will it happen again by the azure-host agents.

[2019-12-13 04:08] vithati commented on #11954
@yelob , If you apply same deployment yaml file, K8S don't throw any error. Can you delete existing deployment and try once again. if still you are able to repo, can you share the steps you have tried.

[2019-12-13 04:26] yelob commented on #11954
I’ve tried it several times, first deleting the existing deployment. If the
deployment exists, a different error occurs. I can upload logs and yaml
files after I scrub out some specifics.

On Thu, Dec 12, 2019 at 8:08 PM Vikranth Thati <notifications@github.com>
wrote:

[2019-12-13 04:37] tristanbarcelon commented on #11701
@damccorm , thanks for the feedback. I'll post the tfx-cli question over to another repo. I do have another question related to writing custom tasks specifically targeting powershell core. Is my only option at this point copying much of the code that's in the [powershellv2 task](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PowerShellV2)? Is there another execution besides P

[2019-12-13 05:05] yelob commented on #11954
Here's a sample pipeline that fails:
[code]

[2019-12-13 05:16] chshrikh commented on #11960
you can ask [here](https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.scvmmapp&ssr=false#qna)

[2019-12-13 05:16] #11960 closed

[2019-12-13 05:21] vithati commented on #11954
Thanks @yelob , I will try and get back to you.

[2019-12-13 07:05] rauntska commented on #11945
Thanks, That worked just as a wanted. Now i can make environment specific variable groups in devops and use there to create the configmaps. :)

[2019-12-13 07:14] christopheblin commented on #11959
@shubham90 are you saying that this should work without NugetAuthenticate ?

Because, I've also tried that (only DotNetCoreCLI@2) but then the error is a bit different and says:

    d:\a\1\s\xxx\xxx\xxx.csproj : error NU1101: Unable to find package XXX. No packages exist with this id in source(s): Microsoft Visual Studio Offline Packages, nuget.org [d:\a\1\s\xxx\xxx.sln]

To me, it seems that wit

[2019-12-13 07:46] christopheblin commented on #11959
Workaround : add an explicit dotnet restore task and specify `arguments: '--no-restore'` for the dotnet test task

See https://stackoverflow.com/a/59317254/1545567 and https://github.com/MicrosoftDocs/vsts-docs/issues/6666

[2019-12-13 08:47] sahitiyerramilli commented on #11934
Hey,

Could you please cross verify if the task is failing or not. We tried reproducing this at our end and the logs seem to be matching but our task failed. If your task is not failing, then we will need more details about your scenario.

[2019-12-13 10:07] mszadziul87 commented on #10399
Hi,

I had the same problem. I fixed it by adding .NET Core Tool Installer task before dotnet restore.
However, I am not sure if it is going to work in all scenarios.

![image](https://user-images.githubusercontent.com/34235838/70792014-9d543f00-1d98-11ea-923e-f1544aba2cb8.png)

[2019-12-13 10:17] sam-cogan commented on #11414
I know Helm 2 works OK as I've been using that for some time. This only occurs with Helm 3.

[2019-12-13 11:36] ligurio opened #11967 "There is no documentation about how to develop custom flaky tests detection methods"
## Note

Article in [Azure documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/test/flaky-test-management?view=azure-devops) describes custom flaky tests detection methods. There is a [similar question](https://developercommunity.visualstudio.com/content/problem/722029/how-to-implement-custom-flaky-test-detection-in-az.html) without answer on forum. But there are no details abou

[2019-12-13 12:00] burhan opened #11968 "unclosed root tag"
I am running into the "unclosed root tag" issue (https://github.com/microsoft/azure-pipelines-tasks/issues/3437), but as that bug is very old; maybe my issue is different so posting here.

My build is the vanilla maven build with sonarcloud integration. The same command on my local machine is running successfully.

![image](https://user-images.githubusercontent.com/603112/70794806-8ec55200-1daf-11

[2019-12-13 12:34] pkleimann commented on #11414
There are some issues in the helm project, which are related to this issue.
https://github.com/helm/helm/issues/6009
https://github.com/helm/helm/issues/6461

I think this should either be fixed in the Azure DevOps task or, as a compromise, you can add an option to ignore STDERR as it is done in the Azure CLI task (see option "Fail on Standard Error").
Nevertheless i will create another issue in t

[2019-12-13 13:16] M0ns1gn0r commented on #9922
Still not fixed :sigh:

[2019-12-13 13:28] CharlesAtDCube commented on #10880
Hello, I'm having this issue today.

[2019-12-13 13:52] kwaazaar opened #11970 "Projects-parameter does not support path traversal"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: dotnetcore-cli

list here (V# not needed):  2

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition

[2019-12-13 14:14] jeanpoelie opened #11971 "Documentation on deploying a Container registry image to Kubernetes service"
I am trying to find documentation on deploying a Container image to kubernetes services.
I hope to be able to use `Deploy to Kubernetes` but this tells me that the artifact should be a .yml and not a container repository.

[2019-12-13 14:51] sameera commented on #9673
@Lovakumar @ashokirla Guys anyway to get this feature enabled without posting our corporate account here publicly? :)

[2019-12-13 16:13] vtbassmatt commented on #9403
After investigating https://github.com/MicrosoftDocs/vsts-docs/issues/3631, I determined there's no way to correctly use an inline script with task groups that take inputs. As long as the input values don't contain quotes, everything's fine. That's a tough condition to hold, however.

One fix would be making the `arguments` input work even for an inline script. [Altering this logic](https://github

[2019-12-13 17:26] jahsu-MSFT commented on #11804
The schedule of agent deployment is delayed since there was some regression.
@jtpetty Can you please provide better detail on @avivanoff's questions.
Thanks,

[2019-12-13 19:08] goalie7960 commented on #11740
Upon further review, I believe the workaround suggested would require me to rename my folder structure, which I don't really want to do.

[2019-12-13 19:46] tannguyen3 opened #11973 "IISWebAppDeploymentOnMachineGroupV0 SetParameterFile does not support file matching pattern"
Is there any reason why "Set Parameters File" does not support file match pattern?

[2019-12-13 19:52] bluesourceTC commented on #9673
@omeshp can you please enable for account wmsand?

[2019-12-13 19:57] mmikkelson commented on #9673
@omeshp can you please enable for account wmsand?

[2019-12-13 19:58] jtpetty commented on #11804
@avivanoff - We are still working on a bug that we discovered while rolling out 2.162 that we need to address before rolling it out more broadly. I do not have an ETA yet.

[2019-12-13 20:41] chadbr opened #11974 "Shell Script - inline - pass variables?"
## Required Information

Feature

It would be great if we could have command line arguments for inline scripts.

We have our deployment scripts as part of source code. When we're trying to develop these scripts, we have to commit to source, wait for it to complete, then a release to start, have it fail. Repeat.

If we could develop the script *the same way* for inline and file path, it would serio

[2019-12-13 22:58] shubham90 commented on #11959
Ah, I missed that it's a test command. Test command does not support feedsToUse OR vstsFeed and therefore it does not do auth. For restore/publish it should auth without NuGet Authenticate task.

You can still use Nuget Authenticate with a cmdline task for the test command. The authenticate task provides more options because users can do anything from the cmdline script and not worry about auth.

[2019-12-14 15:12] ShreyasRmsft commented on #8114
We've added support to fail the task if the specified number of tests are not run.

Here are the release notes https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-161-update#set-vstest-tasks-to-fail-if-a-minimum-number-of-tests-are-not-run

[2019-12-14 15:12] #8114 closed

[2019-12-14 18:04] vishnu2017 commented on #7654
Have the same issue, provide an update if any. Thanks

[2019-12-14 23:56] siudeks commented on #7598
@pollockm provide link to created suggestion to allow followers go there and vote up

[2019-12-15 00:08] pollockm commented on #7598
https://developercommunity.visualstudio.com/idea/740428/publish-static-analysis-result-task.html

Excellent point, @siudeks

[2019-12-15 16:13] JustinPealing commented on #11831
I worked around this by disabling the "Publish test results and code coverage" option on the .NET Core task and adding a separate Publish Test Results task

[2019-12-16 02:11] shunkino commented on #11578
@eaarora-ms
Thank you for submitting the PR. It seems like the PR is still under the review.
This isn't an urgent issue, but hope the fix will be merged soon :)

[2019-12-16 02:39] jeromelaban opened #11976 "PublishTestResult: Publishing of test attachment fails for paths provided inside a container"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-12-16 05:55] shashban commented on #9673
@ashokirla Please confirm if this open for a private preview

[2019-12-16 06:05] hiyadav commented on #11740
I understand the pain in doing so, but due to the permanent behavior change from .NET Core 3.0, the publish -o change is going to stay.
And since the behaviour of .NET CLI task for `modifyOutputPath` is being used a lot, changing its behaviour would mean breaking another set of customers. We would like to restrict that.

If you have some solution in mind we are open to suggestions :)

[2019-12-16 07:42] eaarora-ms commented on #11578
@shunkino  Hi, the PR is under review because the changes might cause some back-compatibility issues. Hence, we are finding a best way to make the changes. The changes will be merged soon and I will update you with an ETA soon. Thanks for the patience.

[2019-12-16 07:55] eaarora-ms commented on #11191
@Benjin  Can you please look into it?

[2019-12-16 07:57] eaarora-ms commented on #11702
@ntwentyfive  Sorry for the delay. I will look into it and update you soon.

[2019-12-16 07:58] eaarora-ms commented on #11859
@stilren  Can you please confirm if you're still facing the issue?

[2019-12-16 07:59] eaarora-ms commented on #11671
The issue should have been fixed by now. It might take some time to mitigate though. Please comment if you're still facing it.

[2019-12-16 07:59] #11671 closed

[2019-12-16 08:00] eaarora-ms commented on #11672
The issue should have been fixed by now. It might take some time to mitigate though. Please comment if you're still facing it.

[2019-12-16 09:02] Chaouki-Tiouassiouine opened #11978 "Azure Dev-Ops Build is failing at step "restore bower package" since batchscript 1.1.8"
## Environment
- Server - Azure Pipelines - Azure Dev-Ops
- Batch script 1.1.8 during build

## Issue Description

Since the release of 1.18 Batch script, I am having trouble building my project in Azure Dev-Ops it is failing at step "Restore Bower Packages". Nothing has changed in the directory of Bower..

## Error logs

[2019-12-16 09:03] eaarora-ms commented on #11661
@brettkc  Can you please confirm if you're still facing this issue?

[2019-12-16 09:06] eaarora-ms commented on #11749
@siromega  The error lies with the configuration of the agent. Deleting the agent folder and configuring it again should fix the problem (as we already tried on a new machine). Please let us know if any additional help is required from our side.

[2019-12-16 09:36] wrsx commented on #11034
@johnterickson Is it possible to demonstrate in the demo how we can push the built image after it's built from buildctl? We rely on pushing our image to a private registry through an Azure Pipelines service connection

[2019-12-16 11:09] sahitiyerramilli commented on #11888
Hey,

Multiple errors for the same test case is not supported according to the supported result format. Please let us know in case any further clarification is needed.

[2019-12-16 11:11] eaarora-ms commented on #11661
We are working on a potential fix. Will let you know the updates.

[2019-12-16 11:33] amaslenn commented on #11558
@twpayne I created a Personal Access Token in Azure and used it with `curl`:
[code]

Got smth like this as the final cmd: `curl -u USER:PAT -d '{"name": "release","type": "github","url": "https://github.com","authorization":{"scheme":"PersonalAccessToken","parameters":{"accessToken":"GITHUB_PAT"}}}' -H "Content-Type: application/json" -X POST 'https://dev.azure.com/{{ORG}}/{{PROJ}}/_apis/serviceen

[2019-12-16 11:51] mjcheetham opened #11980 "PublishPipelineArtifact should allow preserving symlinks"
## Required Information
**Question, Bug, or Feature?** Bug/Feature

**Enter Task Name**: PublishPipelineArtifact

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description
Publishing a directory with `PublishPipelineArtifact` that contains a symlink (to another file in under that target directory) does not preserve the symlink file. Instead the symlink is followed and a copy

[2019-12-16 12:00] aartikov commented on #2058
+1

[2019-12-16 12:57] vagisha-nidhi commented on #11905
We are still unable to repro your scenario. Can you please provide a sample repro? You can remove most of the tests and even production code if needed.
The base definition run is picked from a previous release/build which contained tests. The running time of passed tests of that build is taken as the anticipated running time of a test. From the logs it seems like it is unable to fetch a previous s

[2019-12-16 12:59] dhabierre commented on #5894
I've found my problem.

I am using Terraform to create and setup a Linux agent with the **remote-exec** provisionner:

[code]
When executing the **./config.sh** command, the file **.path** is created with the current $PATH and it is used to setup the PATH capability. But but the path does not contains **/snap/bin* folder!

And thus the _Azure Powershell Task_ failed with **which pwsh => not found*

[2019-12-16 13:12] mattomwit commented on #4496
Hi I found this post while having issues with similar problem. This link might help: https://forums.iis.net/t/1192163.aspx

Just in case the site gets deleted I will repaste the most useful information from that site:

it was made by user **silverbyte**
[code]

[2019-12-16 13:16] li-dawei commented on #11905
Hi. We have the same problem too - a bunch of UI tests running across 3 self-hosted agents that isn't getting time sliced properly. Same error message across each run '[RunStatistics] Anticipated execution time of current slice is unknown. This might be because the test cases are either new or failed in the previous run.' The same tests have been running repeatedly for months. Happy to provide log

[2019-12-16 13:51] vagisha-nidhi commented on #11905
Hi @li-dawei Can you provide the logs aas well as the dummy mstest project you created that caused the error. It would be great if we can get a repro of the project and the pipeline run.

[2019-12-16 14:06] vineetmimrot commented on #11970
Thank you for taking time to log the issue.
The project parameter takes either the complete path or a pattern to match with one or more .csproj files present in the project. In the pattern, you can give any wildcard characters.
Internally the task finds the file via pattern matching with list of available files and doesn't do path traversal.

[2019-12-16 14:06] #11970 closed

[2019-12-16 14:12] rakkhin opened #11981 "DockerV2 buildAndPush command lacks arguments field"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DockerV2

Title says it all. Both separate commands build and push for DockerV2 have arguments field but combined command buildAndPush lacks it, which makes it kind of useless in scenarios where you use Dockerfile ARGs to specify some values at build time. Not a big issue but an issue nonetheless.

[2019-12-16 14:15] li-dawei commented on #11905
@vagisha-nidhi Would it be OK to send you some of the things via email?

[2019-12-16 14:24] kwaazaar commented on #11970
I understand how it should work, but the 'adjustedPattern' is not the same. Maybe because this is not a wildcard. Which is why it doesn't work:

Failure:
2019-12-13T13:37:02.1737108Z ##[debug]adjustedPattern: '/azp/agent/_work/12/s/./AAH.UfoBeheer/*.csproj'
2019-12-13T13:37:02.1737671Z ##[debug]0 matches

Success:
2019-12-13T13:41:36.9108077Z ##[debug]adjustedPattern: '/azp/agent/_work/12/s/AAH.Uf

[2019-12-16 14:27] ShreyasRmsft commented on #11905
@li-dawei yes you can send it to devops_tools@microsoft.com

Any and all details you can provide will help as we have been unable to reproduce this issue at our end despite all our efforts. It seems like a small segment of customers are facing this and a consistent repro would go a long way in helping us fix this as soon as possible.

[2019-12-16 14:39] GarethOates commented on #11267
Sorry, I should have been a bit clearer about what my particular scenario is with regards to the 'build' and 'deploy' steps.

[code]

I have a git repo which contains a collection of .docx and .pdf files.  The yaml file I have here describes the process by which we upload those documents to our different SharePoint environments, using a simple Powershell script.  This script loops over each .docx

[2019-12-16 14:49] ioananicu commented on #11905
Not sure if this helps, but I created a tiny test plan to see if maybe having a fully successful run might help. I am having the same results sadly. Also, when I go to the test plan I can see past execution times for every test (including failures)

![image](https://user-images.githubusercontent.com/58558196/70916222-f97ec380-2023-11ea-87f1-3c4a0a721152.png)

[2019-12-16 15:29] jp108 commented on #11934
Hello, Task is not failing at our end. I have provided all logs in zip and .txt also. Let me know what exactly should I provide other that that? Thank you

[2019-12-16 15:41] avivanoff commented on #11804
@jtpetty, any updates?

[2019-12-16 15:43] juwens opened #11982 "[UseDotNet@2] which is the correct url to fetch the supported SDKs"
`The supported SDKs is fetched from https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json`

_Originally posted by @bishal-pdMSFT in https://github.com/microsoft/azure-pipelines-tasks/issues/11663#issuecomment-548228440_

According to his post it's: `https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json`

But the url in the master-branch i

[2019-12-16 15:54] jtpetty commented on #11804
I hope to have an update today. There was a server-side issue that impacted the customer trying out an agent fix on Friday which delayed us. There server-side issue should be addressed in the next few hours and we can resume testing out agent fixes.

[2019-12-16 15:57] li-dawei commented on #11905
@ShreyasRmsft @vagisha-nidhi Sent to above email but got bounced: "The group sadadirs only accepts messages from people in its organization or on its allowed senders list, and your email address isn't on the list."

[2019-12-16 17:01] goalie7960 commented on #11740
I understand.

For now the best solution for me is to keep using the UseDotNetV2 task. I assume that will not be deprecated?

[2019-12-16 17:17] joao-carvalheira commented on #10845
https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md

Ctrl+F "use python version"

[2019-12-16 17:27] CobraClutch opened #11983 "Deploy to app service doesn't overwrite changed node_modules directory"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeployment

Here's my configuration (I'm using DevOps Pipelines):

- Hosted Agent (vs2017-win2016)
- NodeJS
- Linux Web App
- Azure App Service deploy (v4)

The first step in my pipeline is to run npm install (in a subdirectory called /api). Then I deploy the root directory, and it works fine, and copies the files to my

[2019-12-16 18:02] damccorm commented on #11967
Hey @ligurio - this seems like its probably a better question for our docs repo - https://github.com/MicrosoftDocs/vsts-docs/issues. I'm going to close here, would you mind filing a bug there?

[2019-12-16 18:02] #11967 closed

[2019-12-16 18:04] joao-carvalheira commented on #10845
Or maybe use a conda enviroment:

https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/anaconda?view=azure-devops&tabs=vs2017#get-started

[2019-12-16 18:06] damccorm commented on #11968
Hey @burhan a few questions:
1) Which task are you running into this issue with? (I don't have access to the link you shared)
2) Could you share a run with debug output turned on?
3) Has this always been broken for you or is it a new issue?

[2019-12-16 18:06] damccorm commented on #11971
Hey @jeanpoelie  - this seems like its probably a better question for our docs repo - https://github.com/MicrosoftDocs/vsts-docs/issues. I'm going to close here, would you mind filing a bug there?

[2019-12-16 18:06] #11971 closed

[2019-12-16 18:18] jeanpoelie commented on #11971
I agree, should have gone there immediatly!

[2019-12-16 18:22] edgariscoding commented on #10343
I'm having the same issue when downloading an artifact to a privately hosted server, when downloading to an Azure server it works perfectly.

Is there a list of domains that need to be whitelisted for the artifact download task to work? It succeeds 90% of the time. How can I troubleshoot this?

[2019-12-16 18:26] mjscosta commented on #10331
May I ask, did you managed to reproduce the example I've provided in https://github.com/microsoft/azure-pipelines-tasks/issues/10165 ?

[2019-12-16 18:30] damccorm commented on #10331
@mjscosta I think its the same issue as this thread - did you try my guidance from #10165?

Could you try running set +x at the start of your script? If that doesn't work, could you try queuing a build with system diagnostics turned on and sharing the output?

[2019-12-16 18:37] jahsu-MSFT commented on #11267
@GarethOates Thanks for the additional info. Can you please try adding dependsOn input field in the yaml schema and assign the stage name it's dependent on to the value and see if it works?
For example:
dependsOn:
  - Build
  - Test
  - QA

For reference: https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema

[2019-12-16 19:22] burhan commented on #11968
I am using the MavenV3 task; I am unable to replicate the issue now (there is a different, legitimate error).

I will try to replicate it again, but it has always been broken - it never worked since I started playing around with it.

[2019-12-16 19:51] HughDevlin commented on #10331
Hello Mario, good to hear from you.
I'm sorry this issue #10165 is closed as no issue found and also that it is blocked from further comment.
Thank you for contributing an example to the issue report. I have not reproduced the exact example you have provided. Others and I encountered an issue with the same symptom in conjunction with ##vso setvariable (not prependpath).

According to Microsoft, pi

[2019-12-16 20:04] HughDevlin commented on #10331
We know the setvariable and prependpath task commands within ##vso logging commands can exhibit this undesirable behavior, but we don't know how many other ##vso task commands are exposed to this undesirable behavior.

Further, we know the linux set bash command, used in a script in conjunction with ##vso can bring about the undesirable behavior, but we don't know how many other linux commands or

[2019-12-16 20:24] #8807 closed

[2019-12-16 21:01] cmielke opened #11984 "Error: Endpoint auth data not present in Azure Resource Group Deployment task"
## Required Information

*Type*: Bug

**Enter Task Name**: Azure Resource Group Deployment

## Environment
- Server - Azure Pipelines
    - account name: Emdat
    - team project name: Emdat
    - release definition name/number: _test_azure_cli (Release-21)

- Agent - Hosted:
    - agent queue name: Azure Pipelines
    - agent specification: windows-2019

## Issue Description

When running the Azu

[2019-12-16 22:04] CobraClutch commented on #11983
Looks like it has to do with Oryx. Setting BUILD_FLAGS to Off fixed my problem:
https://github.com/microsoft/Oryx/issues/437

[2019-12-17 01:18] agupta-au commented on #11984
We're experiencing this too and is impacting our release planning.

Any known workarounds? We don't have an option to fall back to shared secret

[2019-12-17 04:48] brendanzagaeski opened #11985 "XamarinAndroidV1 does not yet surface the new Android App Bundle publishing format option"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Xamarin.Android

https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/XamarinAndroidV1/

## Environment

- Server - Azure Pipelines.

## Issue Description

### Current behavior

The [Xamarin.Android task](https://docs.microsoft.com/azure/devops/pipelines/tasks/build/xamarin-android) has a

[2019-12-17 05:04] sahitiyerramilli commented on #11934
Hey,

[https://dev.azure.com/sahy/myproject/_build?definitionId=4] this is the link to our project pipeline where the task failed. Please share your yaml file if possible.

[2019-12-17 05:04] brendanzagaeski commented on #11985
Depending on opinions about best practices, another option might be to encourage users to set the `AndroidPackageFormat` MSBuild property per-configuration within their *.csproj* file instead of via the Xamarin.Android task configuration. In that case, maybe the best change would be to reword the `createAppPackage` description to say something like:

*Passes the target (/t:PackageForAndroid) durin

[2019-12-17 06:07] #11983 closed

[2019-12-17 06:11] vagisha-nidhi commented on #11905
@li-dawei @ioananicu We were able to get a repro with us and have an RCA. Both these issues are happening in release. So we look at previous releases to determine the past execution times of tests. But  any previous release is only considered if all it's environments status is either Succeeded, Rejected or PartiallySucceded. (https://docs.microsoft.com/en-us/javascript/api/azure-devops-extension-a

[2019-12-17 06:17] skautopsoe opened #11986 "##[error]TestExecutionServiceCommandQueueListener.DispatchAsync : A TestExecutionObjectNotFoundException has occurred."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-12-17 06:46] vineetmimrot commented on #11984
Thanks @cmielke & @agupta-au for reporting the issue, we will try to unblock you at earliest.

[2019-12-17 06:54] ioananicu commented on #11905
Hi, this is how our pipeline looks like:

![image](https://user-images.githubusercontent.com/58558196/70971824-76ed1700-20aa-11ea-9a28-4a63fb66fd6a.png)

We only run the tests on the CI environment, and indeed have 7 stages (representing different environents) that are only deployed when needed.

I have created a release with only one stage to see if I can get the execution time to work.

[2019-12-17 07:22] mrsmitty commented on #11984
I have a client that's also currently being impacted by this. @bishal-pdMSFT let me know if you require info from their ADO Org and pipelines.

[2019-12-17 07:46] bishal-pdMSFT commented on #11984
Ack. From preliminary investigation we seem to have identified the root cause. We will update once the fix is done and is starting rollout.

[2019-12-17 07:59] Barsonax commented on #11864
As its all within Azure I would actually expect atleast 1 gbit here.

[2019-12-17 08:32] #11947 closed

[2019-12-17 09:12] sahitiyerramilli commented on #11926
Hey,

This is how the system is designed. In case there are multiple test files and one of the test files is not found, we publish the other results and display the problem in the logs.

[2019-12-17 09:19] li-dawei commented on #11905
Hi @vagisha-nidhi. I can indeed confirm after removing all other unexecuted stages (leaving just the test) in our release pipeline, the time slicing is now working. This sounds like a bug so looking forward for a fix.

In the meantime, I am not 100% certain what the proposed workaround is? Much like the scenario described by @ioananicu, we have various stages after the testing, and 99% of releases

[2019-12-17 10:40] ansariwn opened #11992 "PowerShellOnTargetMachines reveals secret variable with "Dollar" sign in value"
Unfortunately, we still have not been able to get to a solution to this problem.

When a secret variable is defined in a release pipeline it remains hidden in task logs and Write-Output powershell commands. However, if the variable value contains an Dollar ($), the value is revealed while using the variable value in a 'Write-Output' command in the powershell script.

[2019-12-17 10:41] FrancescElies commented on #11888
In the Docs a link to [junit (xsd)](https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd) mentioned and `xlint` does not find validation errors.

Could this be mentioned in the docs?

[2019-12-17 10:57] rmetzger opened #11993 "PublishTestResultsV2: Introduce option to reduce logging verbosity"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: PublishTestResultsV2

## Issue Description
As you can see in [this example](https://dev.azure.com/rmetzger/Flink/_build/results?buildId=3585&view=logs&j=821169f2-253d-577e-fcd2-77ed3c3937d9&t=428c25e8-0840-52a2-5aac-e4f460b57078), our builds are "polluted" with ~800 log messages from the `PublishTestResul

[2019-12-17 11:24] ashokirla commented on #11568
Download Github releases task is designed to download assets published by user. If you would like to access repository data, you can use Git or use multi-repository resource and checkout.

[2019-12-17 12:20] vagisha-nidhi commented on #11905
@li-dawei Thanks for confirming the issue. We'll mark this as a bug for now internally.
There's no way you can force a status for a release environment.
cc: @PBoraMSFT

[2019-12-17 12:26] ligurio commented on #11967
Done - https://github.com/MicrosoftDocs/vsts-docs/issues/6700

[2019-12-17 12:37] ashokirla commented on #9673
We have completed service connection sharing work and are doing some fit and finish. We can now enable private preview of this feature. Please share your organization details so that we can enable this feature.
@mmikkelson : Sure we will enable this feature for your account 'wmsand'.

[2019-12-17 12:42] ashokirla commented on #9482
We only consider any $(Var) format and parameterize it as part of task group.

[2019-12-17 13:03] ragesh-urolime commented on #11104
Hi Team,

I am getting the same error now
![DevOps_error](https://user-images.githubusercontent.com/51899966/70997712-016c5f80-2119-11ea-86a9-ddcb3950818c.JPG)

[2019-12-17 13:05] eaarora-ms commented on #11104
@ragesh-urolime  Can you please share the task name you're using?

[2019-12-17 13:11] iashishmittal commented on #9673
Sharing service endpoint feature is now enabled in 'wmsand' account

[2019-12-17 13:12] ragesh-urolime commented on #11104
AzureRmWebAppDeployment@4

[2019-12-17 14:11] internoQQ commented on #11104
@ragesh-urolime  I have the same error as you let me know if you solve it

[2019-12-17 14:16] ragesh-urolime commented on #11104
@internoQQ Sure. I haven't found any solution yet and it's showing up all release pipelines, though there was no changes done to the pipeline.

[2019-12-17 14:17] ronbuchanan commented on #11191
Experiencing the same issue. /p:BlockOnPossibleDataLoss=false was not honored when trying to drop a column, but adding /p:TreatVerificationErrorsAsWarnings=true allowed the release to continue for one database, but not another. Looks like there is a major issue with it honoring parameters for these releases.

[2019-12-17 14:29] segraef commented on #11984
Same issue here but with self-hosted agents in connection with assigned managed identities in Azure.

![image](https://user-images.githubusercontent.com/19261257/71004000-bbe07000-20e1-11ea-8b9e-8eefea3aef06.png)

`Current agent version: '2.160.1'`

[2019-12-17 15:05] ttutko commented on #11130
Just want to add that we too have run into this issue where 'modifyOutputPath' does not intuitively do what the documentation says or what you would think. Our structure is like so:

Project1\src\project1.csproj
Project2\src\project2.csproj
etc.

This creates a src.zip that clobbers the previous project OR ends up putting all of the files in a single folder regardless of project which is what 'mod

[2019-12-17 16:25] IkePCampbell commented on #11984
Same issue as @segraef, self-hosted agent with connection with assigned managed identity
![image](https://user-images.githubusercontent.com/39805870/71014281-51b2d580-20b7-11ea-916d-5190b3ebfd5e.png)
Current agent version: '3.1.9'

[2019-12-17 16:32] segraef commented on #11984
@IkePCampbell just fyi the mentioned version is the version of the ARM template deployment task, your agent version ca be seen at the agent pool or once the agent spins up in your pipeline.

![image](https://user-images.githubusercontent.com/19261257/71015027-36fe5200-20f3-11ea-8236-08df60f2d8c1.png)

[2019-12-17 16:33] IkePCampbell commented on #11984
@segraef Oh thank you! My bad, then my version is '2.163.1'

[2019-12-17 17:35] majorvin opened #11996 "AzureFileCopyV2 Method 'AuthenticateAsync' in type 'Microsoft.Azure.Commands.Common.Authentication.KeyStoreApplicationCredentialProvider'"
## Issue Description
Getting error today when running AzureFileCopy. It used to work

### Task logs
[code]
[code]
[code]

[2019-12-17 17:44] autovineduardo commented on #11996
This is also affecting the ARM Task
2019-12-17T17:19:18.3337176Z Task         : Azure resource group deployment
2019-12-17T17:19:18.3337267Z Description  : Deploy an Azure Resource Manager (ARM) template to a resource group and manage virtual machines
2019-12-17T17:19:18.3337336Z Version      : 2.162.1
2019-12-17T17:19:18.3337406Z Author       : Microsoft Corporation
2019-12-17T17:19:18.3337475Z H

[2019-12-17 17:46] mikeharder commented on #11926
What do you mean by a test file is "not found"?  In related issue #11925, the issue was that the JS component and .NET component of this task were not in sync, and this should cause `PublishTestResults` to fail.  There may be some cases where it's appropriate to skip missing results files, but I don't think this is one of them.

[2019-12-17 17:58] adetayorabiu commented on #11104
Getting the same warning messages on **Azure Resource Group Deployment task**

[2019-12-17 18:28] lukka commented on #11136
I am hitting the same problem here:
https://dev.azure.com/CppBuild/CppBuildTasks/_build/results?buildId=3780&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9

[2019-12-17 20:58] avivanoff commented on #11804
@jtpetty, anything?

[2019-12-17 21:06] jahsu-MSFT commented on #11804
@avivanoff We will provide an update once we have any.
As @jtpetty mentioned, "We hope to publish a new agent release today or tomorrow so that it will be available for anyone wanting to manual update, but will not roll out this new version to customers until after the new year."

[2019-12-17 22:25] agupta-au commented on #11984
We've been recommended to use the v3.* (preview) version of the task. Will report back with findings once the build pipelines have been modified.

[2019-12-17 22:38] dougmolineux commented on #11996
I am seeing this error also, but it appears to be just a warning, and my app service is deploying successfully. Not sure what it means

Can\'t find loc string for key: CorrelationIdForARM

[2019-12-17 23:34] cmielke commented on #11984
I get the same error on v3.1.9 of the task.
![image](https://user-images.githubusercontent.com/7267334/71043214-83499200-20f3-11ea-8ec2-eecb778bfa98.png)

[2019-12-17 23:37] craigb commented on #11642
This is still lingering -- has anyone had a chance to look into it?

[2019-12-18 00:20] allan-stewart commented on #11996
It's also affecting the `Azure App Service deploy` task, so all my team's deployments are showing warnings even though everything seems to have worked fine. A similar issue happened before on the substitute variables task, so we weren't totally caught off guard, but it's very frustrating to see hundreds of warnings when it's not actually our problem.

[2019-12-18 00:56] agupta-au commented on #11984
Same issue here!

[2019-12-18 05:14] eaarora-ms commented on #11104
Hi,
We are working on the fix. Although it might take some time for the fix to roll out.

[2019-12-18 05:39] eaarora-ms commented on #11104
Hi, I have created a PR. It should be merged soon and the fix will roll out in  a few days.
I am closing this conversation since the warnings are not related. Please feel free to create a new issue and tag me if you need any help.

[2019-12-18 06:03] tristanbarcelon opened #11998 "Expose -Timeout parameter for NugetCommandV2 task"
## Task Affected

**Type**: Feature or Question

**Enter Task Name**: NugetCommandV2

## Environment
- Server - Azure Pipelines

    - can provide additional account, team project, build definition names using non-public means

- Agent - Hosted or Private:

    - Private agent version 2.159.2 running on Windows 2016 Server

## Issue Description

Our connection to Azure Devops is throttled during b

[2019-12-18 06:39] SupporterMan commented on #11984
I have a customer also has this issue and they are unable to use Service Principal Key authorization in Service Connection to unblock them because they have many service principals, which will let them do lots of work to change their service connections.
Now they are blocked and all the pipelines using the service connection are unable to be executed.

Could you please provide an ETA about this?

[2019-12-18 06:39] MarkAtAgilliance commented on #11984
Also with 2.161.**8**.  We too are using MSI / self hosted build server.
![image](https://user-images.githubusercontent.com/35114634/71061897-097ace00-211e-11ea-9685-33a5ccef8ccb.png)

[2019-12-18 06:57] asranja commented on #11996
@AVL-Ed @dougmolineux @allan-stewart The warning is due to missing localization for the string. We will fix this in the upcoming release. Thanks for bringing this to our attention.

However it is different from the actual error that is pointed out in the issue by @majorvin. We are investigating it and will revert back once we get details .

[2019-12-18 07:11] asranja commented on #11992
@ansariwn We are unable to repro this. I am using version 3 of the task and have tried values like 'abc$def', 'abc$$def$h'. Can you give us an example value(not the actual secret, just one in a similar format) that we can try ?

[2019-12-18 07:36] eaarora-ms commented on #11859
Please comment to re-open if you're still facing the issue.

[2019-12-18 07:38] eaarora-ms commented on #11749
Closing this. Please comment to re-open if you're still facing the issue.

[2019-12-18 07:38] #11749 closed

[2019-12-18 07:41] eaarora-ms commented on #11856
@AllanMichaelsen  Can you please confirm if you're still facing the issue? I haven't received any logs from you until now. Thanks!

[2019-12-18 07:48] JSCProjects opened #12000 "ERROR: az keyvault secret set: error: argument --value: expected one argument"
*Type*: Bug

**Enter Task Name**: Azure CLI (Preview)

## Environment
- Azure Pipelines or TFS on-premises?

    - fudura, Fudura.Fuse, fdr.integration.fdc

- Agent - Private:

    - Windows, Agent.Version | 2.160.1

## Issue Description

Can't set a keyvault secret with a Azure Pipeline variable

### Error logs

2019-12-18T07:33:44.3631959Z {
2019-12-18T07:33:44.3632737Z   "attributes": {
2019-12

[2019-12-18 08:17] #12000 closed

[2019-12-18 08:25] Justin-DynamicD opened #12002 "DownloadPipelineArtifact permissions lost on ubuntu"
*Type*: Bug
**Enter Task Name**: DownloadPipelineArtifact

## Issue Description

When using PublishPipelineArtifact with DownloadPipelineArtifact on ubuntu-latest (assuming other distros as well), the artifacts published then downloaded will not maintain execution rights.

An example of this would be using the `-outfile` option in Terraform, which will bundle downloaded plugins into the generated

[2019-12-18 08:29] stefankip commented on #11034
Yeah I'm struggling with the same thing; getting the resulting image pushed to the ACR.
I tried using the `--output type=image,name=acr-url.io/repo:tag,push=false` argument and after that `docker images`, but the image is not listed :-(

[2019-12-18 09:01] eaarora-ms commented on #11191
@ronbuchanan  @philiphoyos @sankara-narayanan Can any of you please confirm the following?

 1.	Is this against a DW target?
2.	Which version of Dacfx is used? The latest bits are available at - https://docs.microsoft.com/en-us/sql/tools/sqlpackage-download?view=sql-server-ver15
3.	Is the “Data loss could occur” warning blocking the deployment or is there any error in script execution after that.

[2019-12-18 09:15] StefanoVuerich commented on #11697
Also I'm experiencing this issue. The fix is to relaunch the build and pray.

Any other work around here?

Thanks

[2019-12-18 09:38] AllanMichaelsen commented on #11856
Sorry for the late reply. A decision was made to transform in the project file instead as there was no time to wait for a solution. If no one else is experiencing this issue it could be a problem in the file structure somehow but I can't say for sure.

I can't send further logs as transformation in this manner has been stopped.
________________________________
From: Eavanshi Arora <notifications@g

[2019-12-18 09:43] horihel opened #12005 "DotNetCoreCLI restore command does not support Azure artifacts views"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DotNetCoreCLIV2

## Issue Description

vstsFeed format is projectID/feedID
If you want to select a view in Azure Artifacts you'd need projectID/feedID@viewID

but this results in invalid XML in Nuget.config, eventu

[2019-12-18 10:02] tusharb86 opened #12006 "NuGetCommand - NuGet restore does not expose the PackageSaveMode command line parameter"
## Required Information

*Type*: Feature or Question

**Enter Task Name**: NuGetCommand

## Environment
- Server - Azure Pipelines
    - Microsoft, Analog

## Issue Description

The NuGetCommand is missing functionality to set the `PackageSaveMode` command line parameter for `nuget restore` commands. Our team would like to set this parameter to `nuspec` to so that the .nupkg files are not saved af

[2019-12-18 10:02] henrikmagn opened #12007 "Delete Slot - Ignores "Slot" parameter value"
*Type*: Bug

*Task Name*: AzureAppServiceManage

## Issue Description
We have been using AzureAppServiceManage with action "Delete Slot" for a while without any problems. However when deploying to our integration environment this morning the action resulted in our entire app service being deleted instead of just the slot. When troubleshooting we could establish that the version of the task had bee

[2019-12-18 10:06] mattwoberts commented on #8110
Hi.

I'm getting the same issue here. My azure devops version is running version 4.* - here's my yaml:

[code]

I also observe that if I try to manually do a zip deploy through kudu, that just hangs on "fetching changes". I observed this on another deployment slot and the only workaround there was to delete the entire deployment slot and recreate it - then it worked fine. But I'd rather not spend

[2019-12-18 10:22] GarethOates commented on #11267
I'm afraid that didn't fix the problem.

[2019-12-18 12:16] gunnertwin commented on #11621
4.159.7 is causing the same issue, how can we revert back to 4.159.3 on hosted agents?

[2019-12-18 12:36] sameera commented on #9673
@ashokirla Please enable this for `cloudextend` account

[2019-12-18 12:39] shigupt202 commented on #11954
@yelob Can you share your complete debug logs of all the iterations? If you feel it contains sensitive data, you can share it on RM_Customer_Queries@microsoft.com?

[2019-12-18 12:39] Konnor5092 opened #12008 "Unable to see attachments added to Test Case Results that have a 'Standard_Console_Output'.log"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

**Question, Bug,

[2019-12-18 13:19] MichaelKoster70 commented on #11996
We're seeing the same warnings being reported by the following pipeline tasks as well:
AzureResourceManagerTemplateDeployment@3
AzureRmWebAppDeployment@4
AzureAppServiceManage@0

[2019-12-18 13:22] rmetzger commented on #11442
Is the TAR support limited to the cache? it would be nice if [PublishPipelineArtifact](https://github.com/microsoft/azure-pipelines-tasks/issues/11980) would support that as well.

[2019-12-18 13:26] vineetmimrot commented on #11984
@All, the issue has been hotfixed. Let us know if you face any issues.

[2019-12-18 14:08] ansariwn commented on #11992
@asranja please see below:

I created a secret variable with a value of 'ValueWith$sign'. Then I added a PowerShellOnTargetMachine version 3 task to my pipeline and executed the pipeline. The log of the task (given below) reveals the password (on row 145) as 'ValueWith', the string beyond the dollar sign is removed. The powershell task contains a single Write-Host command as inline script (please

[2019-12-18 14:09] MarwaMBK commented on #9673
@ashokirla   Can you please enable this for sdxcloud account ?

[2019-12-18 15:22] yelob commented on #11954
I emailed the logs with the issue number in the subject.

[2019-12-18 15:34] IkePCampbell commented on #11984
@vineetmimrot are there any settings we need to change?

[2019-12-18 15:51] andreacassioli opened #12009 "Shell Task variables not propagated to following tasks?"
Hi,
I am sourcing variables from a text file in a shell task in a release pipeline using bash `source`.

The variables are correctly available in that shell tasks, but in the next, a replacement task, those variables are no more defined.

How could this be done? Notice that I do not know how many variables and their name, I would like to only rely on the text file (it is coming from my git repo).

[2019-12-18 15:56] jrmcdona commented on #11697
None that I know.   Usually takes 1-4 tries to get it to build.

[2019-12-18 16:18] avivanoff commented on #11804
@jahsu-MSFT, we just got 2.163.1. You can resolve this bug.

[2019-12-18 16:51] jahsu-MSFT commented on #11804
@avivanoff Thanks for the update. Closing this Issue as this is resolved.

[2019-12-18 17:21] edgariscoding commented on #10794
I'm also interested in this scenario. We'd like to be able to specify that a PR is a hotfix via a label and then use that as a condition during the build

[2019-12-18 18:34] jahsu-MSFT commented on #11267
@GarethOates Thanks for the updates. I think that goes back to the scenario where old artifacts are not being deleted in the agent. In the DPA V2 task, the default download directory is working directory and by design, it won't get cleaned up when running a new build
I think you can try specifying $(System.ArtifactsDirectory) as the download directory, files inside of that folder should get cleane

[2019-12-18 19:16] avivanoff commented on #11804
@jahsu-MSFT, actually, I am still getting an error:

![image](https://user-images.githubusercontent.com/29612120/71115854-88145180-2198-11ea-9bf1-e5b1d19841c3.png)

[2019-12-18 19:28] avivanoff commented on #11804
@jahsu-MSFT, it works in 2.162.0, it is broken in 2.163.1. Please reopen this bug.

[2019-12-18 19:34] jahsu-MSFT commented on #11804
@jtpetty Is this merge commit in 2.162.0 but not in 2.163.1?

[2019-12-18 19:41] jtpetty commented on #11804
2.163.1 was a roll forward of 2.160.1 since there was a bug in both 2.161.1 and 2.162.0. There are other issues that prevent us from rolling back an agent version from when it was released.

We are in the process of rolling out 2.163.2 which has a cherry pick of this commit.

[2019-12-18 20:15] Lutando commented on #11996
I can add AzureResourceGroupDeployment@2 to the list @MichaelKoster70 saw it today :)

[2019-12-18 20:16] MarkAtAgilliance commented on #11984
This hotfix succeeded for me.  Thank you :-) .

[2019-12-18 20:21] avivanoff commented on #11804
@jtpetty, just tested with 2.163.2, still broken. Please, reopen this bug.

[2019-12-18 20:43] cmielke commented on #11984
It looks like the hotfix has resolved the issue for me. Thank you for the quick turnaround.

[2019-12-18 22:05] agupta-au commented on #11984
The issue is NOT resolved for us:

![image](https://user-images.githubusercontent.com/17844726/71127197-b64c6c80-223e-11ea-8762-cab599c737f1.png)

[2019-12-18 22:10] milkshakeuk commented on #12007
This is happening to us also.

[2019-12-18 22:32] GarethOates commented on #11267
Ok, so does that mean I can’t use the shortcut version of those tasks like - download: current and must instead define the tasks fully, specifying the directory myself?

If so, I’ll do that. It might make sense to mention this caveat (if you can call it that) in the docs somewhere.  I’ll have a go at updating them and submitting a PR tomorrow CET, unless you beat me to it, or don’t agree that it n

[2019-12-18 23:06] agupta-au commented on #11984
What version of the task do your logs show?

[2019-12-18 23:28] jahsu-MSFT commented on #11267
@GarethOates Sorry for the inconvenience. Fro the download keyword, unfortunately the target input field is currently not exposed but it should have the capability for users to specify a custom download directory very soon.
For now if you'd like to use a different download directory, yes, you will need to define the task fully.

[2019-12-19 00:09] cmielke commented on #11984
I am seeing v2.162.2
![image](https://user-images.githubusercontent.com/7267334/71133787-71362500-21c1-11ea-99b2-3082dba302e7.png)

[2019-12-19 00:09] agupta-au commented on #11984
2.162.1 for us.

[2019-12-19 00:25] MarkAtAgilliance commented on #11984
2.161.9 (which was successful).

[2019-12-19 00:36] agupta-au commented on #11984
Thanks @cmielke and @MarkAtAgilliance

I guess our tenant just hasn't been upgraded as yet.

[2019-12-19 01:04] agupta-au commented on #11984
@vineetmimrot

On 2.162.1 version of the Task (does not address issue), we are now using Service Principal Key for one of the deployments that is due for a release. We're now seeing a a multitude of warnings that were not present before in the Deploy pipelines. All of the warnings are _exactly_ the same: `##[warning]Can\'t find loc string for key: CorrelationIdForARM`

Anyone know if there's a way

[2019-12-19 02:37] f2calv commented on #11996
add HelmDeploy@0 to the list :)

[2019-12-19 02:41] rice-cra opened #12010 "Self signed certificate in certificate chain error - Variable Group - Azure Key Vault"
## Required Information

**Question, Bug, or Feature?**
*Type*:  Question

**Enter Task Name**: Azure Key Vault

## Environment
- Server - **Azure Pipelines** or TFS on-premises?

    **- If using Azure Pipelines, provide the account name, team project name, build definition name/build number:**

- Agent - Hosted or Private:

    **- If using private agent, provide the OS of the machine running th

[2019-12-19 03:24] acmcg commented on #11996
Same issue with AzureResourceManagerTemplateDeployment@3

[2019-12-19 05:12] maxim-lobanov commented on #12009
Hi, I think it is expected.
You should use something like `echo "##vso[task.setvariable variable=VarName]hello world"` to propagate variable to the next tasks.
Please see this [article](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=classic%2Cshell#set-a-job-scoped-variable-from-a-script-1) for reference.

[2019-12-19 05:29] eaarora-ms commented on #11723
@DanniJuhl  Closing this after syncing offline. Great to see you unblocked now.

[2019-12-19 05:29] #11723 closed

[2019-12-19 05:43] vagisha-nidhi commented on #11986
@skautopsoe Can you please provide a scaled down repro of your issue? Also set variable `system.debug = true` and provide us with the full zip logs?

[2019-12-19 05:55] eaarora-ms commented on #11856
Closing this in that case. Please comment if you face the issue again in the future.

[2019-12-19 05:55] #11856 closed

[2019-12-19 06:14] skautopsoe commented on #11986
[logs_22776.zip](https://github.com/microsoft/azure-pipelines-tasks/files/3981968/logs_22776.zip)
Please file attached logs, this error is coming randomly, some time occurs initially when tests execution starts or some time in middle of execution after executing few test cases. though I have tried reconfigure the test agent after restarting the machine.
Our Internal TFs version is - Version 16.122

[2019-12-19 07:54] vagisha-nidhi commented on #11346
We pick issues based on priority and traction from the community. Closing this as not high pri right now. Thankyou

[2019-12-19 07:54] #11346 closed

[2019-12-19 08:29] ShreyasRmsft commented on #11986
This looks somewhat like a known bug we had. Can you please update to the latest version of TFS where this has been fixed?

[2019-12-19 08:33] asranja commented on #11992
This is a default PowerShell interpretation of strings while printing values enclosed within double quotes.

Write-Host "Password is $(passVar)"
expands as
Write-Host "Password is ValueWith$sign"
which will only print ValueWith since $sign is interpreted as a variable and its value is null.

To suppress this behaviour you can instead **use single quoted strings**.
write-host 'Password is $(passVar

[2019-12-19 08:55] stefankip commented on #11034
So I found out how we can use the created image.
Add this to the docker command:
`--output type=docker,name=some-registry.com/repository:tag`
And replace `sudo $DOCKER_COMMAND` with `sudo $DOCKER_COMMAND | docker load`.
This way the created image is loaded by docker and you can simply push the image to the registry.

[2019-12-19 09:53] vineetmimrot commented on #11984
@agupta-au can you please check now. The task is upgraded to 2.162.2.

[2019-12-19 12:59] teh13th commented on #10375
@damccorm I have same issue.
I tried various scenarios, below are the results.

### Powershell
**Code:**
[code]
**Output (agent.retainDefaultEncoding = _ANY_):**
[code]
**Result (agent.retainDefaultEncoding = _ANY_):**
![image](https://user-images.githubusercontent.com/19591070/71174506-68535b00-2276-11ea-9679-5ec202efeda4.png)
File has _1251_ encoding. Release shows content like it _1252_ encodin

[2019-12-19 13:10] downstevedown commented on #11996
Any timeline on the reversion, given that there are work items for the fix?

[2019-12-19 13:28] teh13th commented on #10375
@damccorm I also tried to get uploaded file (for "_Powershell + agent.retainDefaultEncoding = true_" scenario) through [API](https://docs.microsoft.com/en-us/rest/api/azure/devops/release/attachments/get%20release%20task%20attachment%20content).
It is identical to the file that we supplied to "##vso[task.addattachment" command. It is encoded in 1251.

**It looks like Azure DevOps Server reads the

[2019-12-19 14:30] jeanpaulsmit commented on #11543
I found this also to be an issue when using the Charles Zipp task to use Terraform in the release pipeline. Runs as long as Azure CLI version is <= 2.0.72
The build agent I use is vs2017-win2016 but still I get a warning as error: "##[error]Error: WARNING: The default kind for created storage account will change to 'StorageV2' from 'Storage' in the future".
Quite annoying.

[2019-12-19 14:34] csteeg commented on #10892
Has this fix been released to azure devops already? If not, when can we expect this?

[2019-12-19 14:57] titiks commented on #8655
Hello,
I'm in a similar situation. I have an agentless job triggering an azure function written in powershell that starts a VM. As it takes more than 20 seconds, the job times out. So I'm trying to start the VM in a separate thread but I can't get it to work.

I'm new to powershell so I may be doing something wrong.
When run synchronously, the azure function works and the VM starts as expected. To

[2019-12-19 15:29] azureDaveOps commented on #11958
@wireznak could you please help out here? Thanks!

[2019-12-19 15:32] #11528 closed

[2019-12-19 15:33] azureDaveOps commented on #11528
This was a private machine, so we can't alter the permissions by default.

[2019-12-19 15:37] azureDaveOps commented on #10839
Image versions have cycled many times since the original report of this issue.  I am assuming the correct versions were shaken out.  There was confusion that the UX required job-level selection of the right agent to get that VS version, and if necessary, you can install the version required.

[2019-12-19 15:41] azureDaveOps commented on #10624
@mjroghelia Could you take a look at this Ruby issue?

[2019-12-19 15:43] azureDaveOps commented on #10599
We would need logs to dig deeper, we were unable to reproduce.

[2019-12-19 15:43] #10599 closed

[2019-12-19 15:55] ptfaulkner opened #12012 "Azure SQL Database Deployment Task doesn't escape special characters in Connection Strings"
## Required Information

*Type*: Bug

**Enter Task Name**: Azure SQL Database Deployment

## Environment
- Agent - Azure Pipelines Hosted `windows-2019`

## Issue Description

When using the Azure SQL Database Deployment task with the `Connection String` Authentication Type, the task will not authenticate correctly if there are special characters in the password of the connection string.

I discov

[2019-12-19 16:29] avivanoff commented on #11804
@jtpetty, @jahsu-MSFT, could you please provide an update?

[2019-12-19 16:29] rameshkanjinghat commented on #10057
I too have the same issue. I have published a custom dotnet tool as nuget package to our AzureDevops artifacts. But when try to install the tool using dotnet tool install command I get unauthorized error.

[2019-12-19 17:06] MisinformedDNA opened #12013 "NuGet Pack does not respect PackageId"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NuGetCommand

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/NuGetCommandV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted, windows-2019

## Issue Descripti

[2019-12-19 17:45] jahsu-MSFT commented on #11804
@avivanoff Because of some complications, the version 2.163.1 doesn't have the latest bits. For the latest bits to be deployed to all the accounts, it will most likely happen in early/mid January since most of the staffs are out during this time and we are not going to do any deployments from now to new year's day.
For now to unblock, can you try manually installing the version 2.162.0?

Thanks fo

[2019-12-19 17:49] damienwebdev commented on #11444
@eaarora-ms What are the specific changes (can you point me to a PR), and do you know when they go out for release/preview?

[2019-12-19 19:04] wireznak commented on #11958
There are two things I'd like to look into from your end, @blueelvis .
1) In your pipeline definition, please check that "Continue on error" is not checked for the steps in question. Since this was previously working, I suspect that it was and still is unchecked, but it never hurts to make sure.
2) Please try checking the box that says "Enable system diagnostics" when running the pipeline, as show

[2019-12-19 20:25] udeeshagautam commented on #11191
Hi,

We are looking for a repro to see if this issue is in DacFx layer for investigation, but not able to repro this using latest SqlPackage.

I understand that the deploy is failing when there is possible data loss as part of Azure DevOps pipeline even with /p:BlockOnPossibleDataLoss=false. Can someone please confirm that if latest SqlPackage.exe is used directly from command line for dacpac depl

[2019-12-19 23:09] CKenrick commented on #11978
I'm running into the same issue and haven't changed anything to the build pipeline since my last successful build.

[2019-12-19 23:24] a30001539 commented on #11996
@MichaelKoster70 @asranja we see the warning too in the `AzureResourceGroupDeployment@2` task

[2019-12-19 23:28] nasminou opened #12014 "VSTest is using deprecated task execution handler"
**Question, Bug, or Feature?**
*Type*: Bug I guess - deprecated code

**Enter Task Name**: VSTest

## Environment
- Server - Azure Pipelines
- Agent - Hosted
    - If using Hosted agent, provide agent queue name: Pool: Hosted VS2017

## Issue Description
VSTest is using deprecated task execution handler.

See below the step yaml definition
[code]

### Task logs

[code]

[2019-12-20 03:05] f2calv commented on #11103
I had the same issue, however in my pipeline whilst I also had "includesymbols: true", I had neglected to add IncludeSymbols to my csproj;

[code]

[2019-12-20 03:56] bishal-pdMSFT commented on #11543
@jalajmsft please take a look as this is an issue even with win 2016 agent

[2019-12-20 05:55] sahitiyerramilli commented on #11925
Hey,

This is a bug on our side. We'll fix this soon. We'll keep you updated.

[2019-12-20 06:30] #11984 closed

[2019-12-20 07:50] joakimglysing commented on #3393
I'm using Cypress (end 2 end testing) that generates screenshots, these are attachet to the zip generated from release-button "Download all logs" in this way:

**Powershell-task (inline):**
Compress-Archive -Path "$(System.DefaultWorkingDirectory)/TestFolder/ScreenShots" -DestinationPath "$(System.DefaultWorkingDirectory)/TestFolder/ScreenShots" -Force
Write-host "##vso[task.uploadfile]$(System.De

[2019-12-20 08:20] eaarora-ms commented on #12007
@henrikmagn  @milkshakeuk  Thanks for reporting the issue. We have raised a PR for the same and will roll out the changes by this Monday. Sorry for the inconvenience.

[2019-12-20 10:04] kumarunster commented on #11996
We see the warning as well on KubeCtl task:

[code]

@asranja when the next release will be?

[2019-12-20 10:41] stefankip commented on #11034
Can someone explain what the `GOOFS=0` part is in the Buildkit cache key?
And what the purpose is of the `CACHE_KEY_FALLBACK` restoreKey?

[2019-12-20 10:59] JulienFloris commented on #11996
ARM Deploy Details:

[code]

[2019-12-20 14:06] rerime opened #12017 "Fix table width in documentation"
## BUG
https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/authoring/commands.md

Please fix table width
![image](https://user-images.githubusercontent.com/7099570/71260013-e4b76e00-234a-11ea-9b9a-365def5984fe.png)

[2019-12-20 19:47] xantari commented on #11996
Also seeing this new error on our builds.

2019-12-20T19:40:36.2303546Z Got service connection details for Azure App Service:'xxxx'
2019-12-20T19:40:36.4483566Z ##[warning]Can\'t find loc string for key: CorrelationIdForARM
2019-12-20T19:40:36.7754338Z ##[warning]Can\'t find loc string for key: CorrelationIdForARM
2019-12-20T19:40:36.7794864Z Updating App Service Application settings. Data: null
2

[2019-12-20 20:28] jeremytbrun commented on #9201
Any progress on support for PowerShell Core for windows agent in the Azure PowerShell task?

[2019-12-21 13:35] eaarora-ms commented on #11996
The localization issue is fixed now in the PR: https://github.com/microsoft/azure-pipelines-tasks/pull/11997

Re-opened the issue to investigate the original issue.

[2019-12-22 05:58] IndraVisatiya opened #12020 "ManagedBatchParser.ParserException"
Write-Exception : ManagedBatchParser.ParserException
2019-12-22T05:37:43.8797775Z ##[debug]   at ManagedBatchParser.Parser.Parse()
2019-12-22T05:37:43.8825890Z ##[debug]   at Microsoft.SqlServer.Management.PowerShell.ExecutionProcessor.ExecuteTSql(String sqlCommand)
2019-12-22T05:37:43.8849714Z ##[debug]At C:\azagent\A1\_work\_tasks\SqlDacpacDeploymentOnMachineGroup_4b506f7f-720f-47bb-bf21-029bac6

[2019-12-23 04:41] #11954 closed

[2019-12-23 04:45] shigupt202 commented on #11954
The issue has been identified and fixed. The fix will be rolled out to all the customers in about three weeks.

[2019-12-23 05:36] vithati commented on #11478
@hacst , Presently we didn't see any requests from customers for this enhancement. Azure DevOps can use tasks from market place also. You can implement this as extension and publish in [marketplace]( https://marketplace.visualstudio.com/). Customers can install task from market place if required and use it in their pipeline.

[2019-12-23 05:36] #11478 closed

[2019-12-23 05:40] #7585 closed

[2019-12-23 05:40] #7882 closed

[2019-12-23 05:53] vithati commented on #11981
@rakkhin , "BuildAndPush" command does both build and push. it is difficult to decide arguments belongs to which command. And this command is common scenarios where you don't need any parameters. This task supports "build" and "push" commands with arguments please use those commands if you want to specify arguments.

[2019-12-23 05:53] #11981 closed

[2019-12-23 05:55] vithati commented on #11953
@yelob , We have checked-in changes. Fix will be deployed in couple of weeks.

[2019-12-23 05:55] #11953 closed

[2019-12-23 05:56] #11945 closed

[2019-12-23 05:57] #11702 closed

[2019-12-23 06:00] vithati commented on #11937
@t03apt , We have added timeout for status check https://github.com/microsoft/azure-pipelines-tasks/issues/12010 in task. and this fix will be deployed in couple of weeks.  "Create config map" added in backlog, we will address that soon. Hence closing the issue.

[2019-12-23 06:00] #11937 closed

[2019-12-23 08:37] ds-ms commented on #11500
Closing this issue as it doesn't seem related to the task as such; feel free to open it if you think otherwise.

[2019-12-23 08:37] #11500 closed

[2019-12-23 08:46] ds-ms commented on #11865
That's probably because you haven't set the variable `ACR_LOGIN_SERVER`
From the logs it looks like the variable got substituted with an empty string
i.e. `--build-arg IMAGE=/ei/mule-ei-ping-api:m.1.0.6.b17107.master` unlike the one you used in your cli directly i.e. `--build-arg IMAGE=myacrregistry.azurecr.io/ei/mule-ei-ping-api:m.1.0.6.b17107.master`

[2019-12-23 08:46] #11865 closed

[2019-12-23 08:47] ds-ms commented on #11741
@Jyoti492 where are you seeing this error?

[2019-12-23 09:12] renevanosnabrugge opened #12025 "tfs:feed returns wrong endpointurl"
Bug in TaskLib

**Enter Task Name**: TaskLib

## Environment
- Azure Pipelines on all agents

## Issue Description

I am using the endpoint tfs:feed in my extension https://github.com/renevanosnabrugge/vsts-promotepackage-task. The task uses gets the endpointurl to a feed, That endpoint url I also use in getting packages and release views.
Since the introduction of Project Scoped feeds, the task d

[2019-12-23 09:49] ansariwn commented on #11992
@asranja
The solution you mention only works if we use 'InlineScript' in the Azure DevOps task. It does not work if the PowerShellOnTargetMachines task ScriptType property is a FilePath, meaning if we execute a script instead of executing PowerShell inline.

So, if we have a script file 'CheckPassword.ps1' with:
[code]
The password is revealed if we execute the above script while passing the passw

[2019-12-23 09:51] teh13th commented on #10375
@damccorm any news?

[2019-12-23 12:40] alexatnext opened #12029 "Azure CLI Task throws an error and doesnt do work but task completes succesfully"
Hi, when using the Azure CLI task i am getting the below error:

==============================================================================
Task : Azure CLI
Description : Run Azure CLI commands against an Azure subscription in a PowerShell Core/Shell script when running on Linux agent or PowerShell/Powershell Core/Batch script when running on Windows agent.
Version : 2.0.4
Author : Microsoft C

[2019-12-23 12:44] jajaislanina opened #12030 "Azure PowerShell on Mac failing to authenticate"
## Required Information
**Type**: Bug
**Task Name**: Azure PowerShell

## Environment
- Azure Pipelines
    - Account name: wilo-smartconnect
    - Team project name: SmartConnect
    - Build definition name & build number: SmartConnect 20191220.19

- Agent:
    - Hosted agent, macos-10.14 and macos-10.13

## Issue Description

Trying to run Azure PowerShell step on MacOS agent results in followin

[2019-12-23 15:34] ice508 commented on #9094
argggggg....

[2019-12-23 16:17] jp108 commented on #11934
Sorry for delay -> YAML

steps:

- task: PublishTestResults@2

  displayName: 'Automated UI Test Results'

  inputs:

    testResultsFiles: '*.xml'

    searchFolder: '$(System.DefaultWorkingDirectory)\screenshots'

    failTaskOnFailedTests: true

  continueOnError: true

[2019-12-23 19:17] avivanoff commented on #11804
@jtpetty, @jahsu-MSFT, looks like 2.164.0 has the fix. Any chance our account will get it before the New Year?

[2019-12-23 19:23] jtpetty commented on #11804
@avivanoff - we will start rolling out 2.164.0 to all accounts after the new year. With so many people out on vacation between now and then, we are unable to push out any major updates.

[2019-12-23 21:54] autarch opened #12032 "Cannot set multiple docker tags from an output variable"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug/Question

**Enter Task Name**: Docker@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Issue Description

The fact that the Docker task takes tags as a *newline*-separated list makes
it

[2019-12-24 00:37] shubham90 commented on #11719
@nocarryr @eduardostarling You should be able to add the Auth token and username("__token__") for pypi.org in the service connection if you choose the "Username and password" radio button. The API token option is available only for Azure DevOps feeds and therefore it won't work for any external endpoint.

For any external endpoint, we recommend using the username and password option. I verified th

[2019-12-24 00:39] #11719 closed

[2019-12-24 03:40] reyou commented on #11621
I am having same issue with `task: AzurePowerShell@5`
When I list `Get-ChildItem '/usr/share'` what I see is below;

[code]

I guess there should be higher versions?

[2019-12-24 05:23] ShreyasRmsft commented on #11986
Closing due to no response. Please re-open if issue persists after following the above steps.

[2019-12-24 05:23] #11986 closed

[2019-12-24 08:01] gpad commented on #11811
Yes

[2019-12-24 08:29] ShreyasRmsft commented on #12014
@nasminou please use major version 2 of the VsTest task.

Major version 1 is no longer recommended.

[2019-12-24 08:29] #12014 closed

[2019-12-24 10:16] sahitiyerramilli commented on #11926
#11925  is a bug and we are working on it. But if a few files among a bunch of files are actually not found, then we don't fail the task by design.

[2019-12-24 10:17] sahitiyerramilli commented on #11888
Hey,

We'll contact and the repo owners and see if that can be changed. We'll keep you updated.

[2019-12-24 10:44] vineetmimrot commented on #12029
@alexatnext Thanks for reporting the issue. We will start working on this soon.

[2019-12-24 13:54] bishal-pdMSFT commented on #11982
@juwens both the urls should be pointing to same content. @leecow is there a recommended one amongst the two urls?

[2019-12-24 14:02] bishal-pdMSFT commented on #11959
@shubham90 I know that @elbatk has mentioned earlier (in other threads) that Nuget Authenticate task is the new preferred approach for authenticating to Nuget feed. But I was not aware that this does not work well with .Net Core CLI task. Is there any reason why so? Is there a plan to add the support because if I understand correctly there are shortcoming in authentication logic in .Net Core task

[2019-12-24 14:13] ajinkya599 commented on #9633
It is a limitation of the Kubernetes task - _"Escaped quotes in a secret variable passed as argument to kubectl do not get masked, when the task is run on OSX/Linux agents"_.

The reason this is happening is because of the behavior of a azure-pipelines-task-lib [code](https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/toolrunner.ts#L146) that is being used for tool execution. T

[2019-12-24 14:17] bishal-pdMSFT commented on #11908
@kwaazaar

Even if you specify a full version in global.json and a newer patch version is installed, it will be picked up by dotnet. See the [matching rules](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json#matching-rules).

Maintaining multiple global.json files is a choice by design. If we attempt to replace it by a single global.json, it might actually be wrong.
Additionally, auto

[2019-12-24 14:19] bishal-pdMSFT commented on #11887
Closing this issue - as mentioned by @issacnitin this is by design

[2019-12-24 14:19] #11887 closed

[2019-12-24 14:21] bishal-pdMSFT commented on #11862
Closing as this is not a task issue. Please track the original issue [here ](https://github.com/Azure/azure-cli/issues/10773)

[2019-12-24 14:21] #11862 closed

[2019-12-24 14:45] blackchoey commented on #11662
@tristanbarcelon The Azure CLI task will do the login and set subscription steps for you. You just need to select the Azure Subscription connection that stores your image. No need to store the subscription info as variables in your pipeline.
In the meanwhile, it's better to have the lock images task as a separate step so you can compose each kind of tasks according to your actual requirement. Prov

[2019-12-24 14:48] #11526 closed

[2019-12-24 14:49] #6453 closed

[2019-12-24 23:55] Humberd opened #12035 "How to build docker images for ARM architecture?"
I'm trying to target amd64 and armv7 architectures at for a single docker image. There is an experimental docker feature called buildx which allows that, however, the current versions of docker on VMs are 1 year old and don't have this feature.

How can I build targetting ARM?

[2019-12-25 09:14] justin6302971 commented on #6733
try add -F flag to force prompt
ex: vsts-npm-auth -F -config .npmrc

[2019-12-25 16:57] NewFuture opened #12036 "[bug] using variables as azureSubscription in AzureFileCopy V3"
**Question, Bug, or Feature?**
*Type*: BUG

**Enter Task Name**: AzureFileCopy (V3)

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFileCopyV3

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - Azure Pipelines

- Agent - Hosted or Private:

     - Host

## Issue Description

like this job when using variables as subscriptions the  `azureSubscription: "

[2019-12-25 18:52] mmisztal1980 commented on #11785
Consider a helm chart such as the jetstack's cert-manager, which creates k8s objects both in a target namespace, as well as kube-system when rbac/webhooks are enabled. This means that it's impossible to deploy that chart using a combination of `helm template` and `KubernetesManifest@0` - do you have a better solution for that case?

[2019-12-26 01:31] mswilson4040 opened #12037 "Surface same pipeline logs in Pipeline UI with Local Agent"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-12-26 02:06] ngochieu642 commented on #12035
- Maybe you could try this qemu approach: https://ownyourbits.com/2018/06/27/running-and-building-arm-docker-containers-in-x86/
- The qemu-arm-static referenced in the article can be found in /usr/bin/qemu-arm-static after installing qemu-user-static

[2019-12-26 03:50] chshrikh commented on #12036
1) please confirm if AZURE_SUBSCRIPTION variable is defined at global level with value 'dg-website' and you are trying to verride ?
2) Currently  we don't support the endpoint connection defined as job/stage level variable, one need to define variable at YML global scope. this is current limitation we have

[2019-12-26 04:07] NewFuture commented on #12036
thanks @chshrikh
I try it in different scopes, and  it only works on the global level:

| scope | position | result |
| :--- | :----: | ----: |
| global | yml>[$root] | ✔️  |
| job | yml>job | ❌    |
| pipeline  |  trigger pipelines with `variables`  manually | ❌  |

[2019-12-26 04:13] NewFuture commented on #12036
and how to set the `azureSubscription` in runtime? such as with runtime expression `$[]`.

[2019-12-26 06:22] sahitiyerramilli commented on #11934
Hey,

In the case where both continueOnError and failTaskOnFailedTests are true, continueOnError takes the precedence. So, instead of failing the task, it proceeds to the next task. If you want to fail the task, then enable only failTaskOnFailedTests.

[2019-12-26 06:46] vithati commented on #6640
@devkeydet , This is not possible with AzureFunction task. But you can set variables from your azure function using Distributed Task API. You can find the examples here https://github.com/microsoft/azure-pipelines-extensions/blob/54d88ccda05e1f37b7dcfcd7504020f3a7ea1b4f/ServerTaskHelper/DistributedTask.ServerTask.Remote.Common/TaskProgress/TaskClient.cs#L85

https://github.com/microsoft/azure-pipe

[2019-12-26 06:46] #6640 closed

[2019-12-26 08:31] vineetmimrot commented on #12029
@alexatnext  can you please send debug logs. You should set **System.Debug** variable with its value **true** in release definition.

[2019-12-26 15:04] navin22 commented on #11993
This has been fixed in the latest release. Once this is rolled out will update you on this.

[2019-12-27 06:00] antmeehan opened #12040 "Universal Package Publish fails with private agent behind authenticated proxy"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UniversalPackagesV0

## Environment
- Server - Azure Pipelines
- Agent - Private: Windows 10 - agent v2.163.1

## Issue Description

Our `UniversalPackages@0` task is failing when trying to download the artifact too fr

[2019-12-27 10:21] toqueteos opened #12046 "Cache@2: Inability to discard tar output (-v flag)"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: `Cache@2` [link](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/CacheV2)

## Environment
- Server - Azure Pipelines [link](https://dev.azure.com/payvision/Warriors/_build/results?buildId=334370&view=logs&j=0b109914-fd3b-548c-e58c-f9d47cb04f5f&t=e8109a5d-54b1-57e5-952c-9dec9387f8ee)
-

[2019-12-27 10:27] alexatnext commented on #12029
Hello,

I could however i have diagnosed the issue to being when 'scriptType' variable is not set in yaml, is this sufficient information to reproduce? Therefore this is kind of user error, although i would still say the task should error if it doesnt have all required parameters?

Thanks,

Alex

[2019-12-27 12:55] toqueteos commented on #12046
This issue might be related to #8496

[2019-12-27 16:47] drdamour commented on #6364
this is an issue with pipeline artifacts too.  AND it causes issues with terraform because best practice of terraform is to artifact and restore the whole .terraform directory and the x bits on the providers are lost

[2019-12-27 18:53] pauldoom commented on #11831
YAML workaround: Users with timeouts using the PublishTestResults@2, you can disable the upload (*which is not required since the agent processes the results locally) with "publishRunAttachments: false"

Example:
[code]

[2019-12-27 20:31] trakzerotrafficking commented on #11705
Hey, any solution for this? I'm facing the same issue, Consumption App Service Plan for `functionapp,linux` and getting the same error

[2019-12-27 20:31] zendu opened #12048 "ServiceFabricDeploy task fails with error "Every node service should not has affinity.""
**Question**
Mysterious error:

Every node service should not has affinity.
FileName: ApplicationManifest.xml

**Enter Task Name**: ServiceFabricDeployV1 (Service Fabric application deployment)

## Environment
- Server - Azure Pipelines
- Agent - Private

Agent.OS | Windows_NT
Agent.OSArchitecture | X64
Agent.OSVersion | 10.0.14393
Agent.Version | 2.163.1

[2019-12-27 20:32] kstro21 commented on #11705
Hey, any solution for this? I'm facing the same issue, Consumption App Service Plan for `functionapp,linux` and getting the same error

[2019-12-28 04:22] tristanbarcelon commented on #11662
Hi @blackchoey, is there an easy method for finding all the container images that have just been built and pushed by the Azure Iot Edge tasks without writing code that knows how to parse deployment.template.json? Most of our container images have an image property defined as a variable: ${MODULES.<module_name>.amd64}. I would prefer to call the [acr api for locking images](https://docs.microsoft.c

[2019-12-28 05:58] ljvmiranda921 commented on #11558
Running the command above gives the following message:

[code]

Not sure how to proceed with this. Any ideas @amaslenn @twpayne @DavidSimner ?

[2019-12-28 06:27] ljvmiranda921 commented on #11558
Ok, I was able to solve the problem above by creating a personal access token. You can do so by following the instructions [here](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?view=azure-devops&tabs=preview-page). The minimal scope for the token can be: `Service Connections (Read, query, & manage)`. Be sure to click the "other 27 sc

[2019-12-29 23:34] Jin-JBA commented on #7160
@aasim  as mentioned by @MarkKoz, NuGetAuthenticate task does not support API key, I am getting the error below while using this task.

`ApiKey service connections are not supported in this task. Instead, use -ApiKey (NuGet) or --api-key (dotnet) when invoking the tool itself. See the task documentation for more details.`

[2019-12-30 04:49] #11982 closed

[2019-12-30 08:37] vithati commented on #12035
@Humberd . "however, the current versions of docker on VMs are 1 year old and don't have this feature." are you referring on hosted agents?

[2019-12-30 09:14] niadak commented on #11227
Closing the issue as the Documentation is already updated

[2019-12-30 09:14] #11227 closed

[2019-12-30 10:25] vithati commented on #11023
@RomanKreisel , Helm task 'command' input is editable and it supports arguments. You can type command and arguments, this file https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/HelmDeployV0/src/helmcommands/uinotimplementedcommands.ts takecares of execution. I see Pipeline UI is warning but you can ignore that. I will raise bug on pipeline UI.

[2019-12-30 10:25] #11023 closed

[2019-12-30 11:18] vithati commented on #11830
@mousiefasil, Which task are you using to pull the images? Can you provide azure-pipeline.yml file if possible?

[2019-12-30 11:34] rahulseth01 commented on #8178
I was also facing the same issue
"An error occurred during deployment plan generation. Deployment cannot continue.
Error SQL72018: SqlPermissionStatement could not be imported but one or more of these objects exist in your source."

To fix this, passed below parameter while deploying
**/p:IgnorePermissions=True**

[2019-12-30 13:33] asingh014 commented on #11543
One solution to this was to use 'pscore' in your tasks in task->inputs->scriptType instead of 'ps' until a fix can be implemented.
![image](https://user-images.githubusercontent.com/50574435/71583972-8176ca00-2b08-11ea-9d5b-ac14699e00dc.png)

[2019-12-30 13:50] damccorm commented on #12017
Hey @rerime - could you be a little more specific on what is wrong with the table width? Its horizontally scrollable, it seems fine to me

[2019-12-30 14:02] damccorm commented on #12037
Could you be a little more specific about what you mean? How are you triggering builds? If you're asking if we can output the same logs directly on the agent that we send to the azure pipelines UI, we currently do not support that as an option. You could file a feature request at https://github.com/microsoft/azure-pipelines-agent if that's something you need, though I don't think that we'd take it

[2019-12-30 14:02] TWJH commented on #10815
I have updated my DevOps server installation to 2019 1.1 (17.153.29522.3 (AzureDevOps2019.Update1.1)), updated the agents and the issue persists.

[2019-12-30 14:42] AleksAlonso commented on #5671
This is happening to me too. Azure DevOps Server Version Dev17.M153.3

Any update on this topic?

[2019-12-30 15:11] damccorm commented on #12025
The task-lib is just pulling this from the environment, I believe this gets populated by the artifacts team and sent to the agent - routing to artifacts to take the first look. FWIW its not clear to me that this is behaving incorrectly, I'll defer to the artifacts team on that though

[2019-12-30 15:26] lvlie opened #12050 "PublishPipelineArtifact fails when special (socket) files are in dir"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishPipelineArtifact

## Environment
- Server - Azure Pipelines
- Agent - Hosted (provided ubuntu-latest)

## Issue Description

Been troubleshooting the PublishPipelineArtifact after a "packer" build (not using the packer task, but plain qemu based build) on a hosted agent for quite some time. The task ou

[2019-12-30 15:54] damccorm commented on #10375
Sorry, was out on holiday so didn't see your last message til now. From your comment:

It is identical to the file that we supplied to "##vso[task.addattachment" command. It is encoded in 1251.
It looks like Azure DevOps Server reads the file when display it, as if it were encoded in 1252.

It sounds like this is a UI issue - I'm going to bring in the Build team (who has UI experts) to take a look

[2019-12-30 16:28] henry-padilla opened #12051 "Warnings "Can't find loc string for key: Info_ResolvedToolFromCache" and "Can't find loc string for key: Info_UsingVersion""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-12-30 16:35] mswilson4040 commented on #12037
Yea, that was basically what I was getting at. Right now, the logs are just "Listening for Jobs", "Job Started", "Job Finished". So not much. Since I run a local agent, I don't have a big need to login to Azure DevOps and see the build logs unless there is an error so it would be nice if there was an option to spit out a little more information.

[2019-12-30 17:07] damccorm commented on #12037
Ok. Like I said, I think that's probably not something we're going to do, you can open a feature request at https://github.com/microsoft/azure-pipelines-agentto continue that conversation if you'd like though.

The reason I don't think we'd do that is that the server has some important information that we need in order to produce logs that we can't send to the agent for security boundaries. The ea

[2019-12-30 17:07] #12037 closed

[2019-12-30 17:56] mswilson4040 commented on #12037
Fair enough. Thanks for explaining the "why", @damccorm

[2019-12-30 19:28] jtpetty commented on #11645
Closing this issue after answering question and no follow up questions.

[2019-12-30 19:28] #11645 closed

[2019-12-30 19:33] jtpetty commented on #11334
@Pr0methean - Looking at the issue you filed, it seems that the problem you were running into is with the ubuntu image the agent is running on and not with the agent code itself. Is that correct? And if so, can this issue be closed?

[2019-12-30 19:37] #9589 closed

[2019-12-30 19:38] #7465 closed

[2019-12-30 21:30] mariopena77 opened #12052 "Code coverage report in Azure DevOps"
## Required Information
*Type*: Bug
**Enter Task Name**: Publish code coverage results (PublishCodeCoverageResultsV1)

## Environment
- Server: Azure Pipelines

- Agent - Hosted or Private: Not sure

## Issue Description

I've seen this issue in others threads, but still have the problem, and I've seen in some of them that the feature is in the backlog, I'm a little bit confused.

I want to see a

[2019-12-31 01:41] Pr0methean commented on #11334
Sounds right; https://github.com/microsoft/azure-pipelines-image-generation/issues/1386 is the same issue.

[2019-12-31 01:41] #11334 closed

[2019-12-31 09:41] #11908 closed

[2019-12-31 09:44] developer9969 commented on #11985
@brendanzagaeski  hi there. I have been looking for a solution to this issue . Yes VS2019 16.4 gives us the option to select aab without editing the csproj file.

However it is still not clear to me what we should do in the pipeline.

1. Sign APK  becomes redundant.
2. AAB i guess is build by the proj.
3. what is there todo since now also the msbuild task that we manually added is redundant too...

[2019-12-31 09:59] hiyadav commented on #12048
Hey, can you explain the error in more detail. Would help us greatly if you can share debug logs of the task.

[2019-12-31 16:53] zleight1 commented on #11724
We are using on premise, and the ability to use scoping would really help. We recently had to switch to calling npm from a command line because of issues with the artifact manager registries upstream sources.

[2019-12-31 16:56] zleight1 commented on #11490
We’re seeing this as well, it seems to happen randomly when providing PAT credentials but using the repos .npmrc.

[2019-12-31 20:40] camerontbelt opened #12055 "Tests are running twice instead of only once."
BUG

VSTestTask

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?
Cloud

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
PinnergyIT, Website, TestSite Deployment
Hosted agent, windows server 2019 with windows 10

## Issue Des

[2020-01-01 10:16] goriunov opened #12056 "Does not update all files correctly on zip Azure App Service deploy"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure App Service deploy

list here (V# not needed): 4 and 3 (tested both)
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

## Issue Description

Currentl

[2020-01-01 11:37] nasminou commented on #12014
Could you please tell me where I went wrong in using the v1 instead of v2 of the VsTest task? I thought ```VSTest@2``` meant that I was using version 2.

I can see that in the logs, the tasks says that it is version 1.0.96. But I can't find any documentation explaining how to select the version 2 of VsTest.

I've also tried to create a new pipeline with a test task and the code is similar to the o

[2020-01-02 05:27] ShreyasRmsft commented on #12014
@nasminou maybe you pasted the wrong logs?

![image](https://user-images.githubusercontent.com/25194518/71652834-9b095300-2d4e-11ea-9d4c-6a3b667e08ce.png)
This does seem to indicate that you have selected major version 2

[2020-01-02 06:25] venura9 commented on #11996
is this issue fixed or not? I'm still getting the following;

Checking if the following resource group exists: xxx-xxx-xx-rg.
##[debug][POST]https://login.windows.net/***/oauth2/token/
##[debug][HEAD]https://management.azure.com/subscriptions/<guid>/resourcegroups/uat-todo-primary-rg?api-version=2017-05-10
##[warning]Can\'t find loc string for key: CorrelationIdForARM
##[debug]Processed: ##vso[tas

[2020-01-02 07:14] uF7264 commented on #11684
Has this problem been solved? We are struggling with the same error message.

Steps to reproduce

1. Create VMSS using Azure Portal
1.1 Select "Browse all public and private images" => My Items => My Images => Select Custom Image
1.1 Confirming in the template definition that the imageReference is based on an id and that the Interfaces confirms we are using a "Custom Image"

2. Create DevOps Pipel

[2020-01-02 08:07] blackchoey commented on #11662
You don't need to parse the deployment.template.json. The image tag is defined in the `repository` property in module.json of each module, the task will expand the environment variables in `repository` property and append the platform as postfix.

[2020-01-02 09:30] jpodoba opened #12060 "AzureResourceGroupDeployment@2 warring CorrelationIdForARM"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-01-02 09:38] mousiefasil commented on #11830
Hi,
i attached two azure-pipeline.yml files, the first one will result in the above error, while second will succeed due to the workaround.

[azure-pipeline.error.yml.txt](https://github.com/microsoft/azure-pipelines-tasks/files/4015431/azure-pipeline.error.yml.txt)

[azure-pipeline.success.yml.txt](https://github.com/microsoft/azure-pipelines-tasks/files/4015430/azure-pipeline.success.yml.txt)

[

[2020-01-02 11:27] andyfisher100 commented on #10499
I think the actual issue here is that the DACPAC tools aren't included with Visual Studio Build Tools. They are only included with versions of Visual Studio that include the full IDE such as the Enterprise version as far as i know.

Question is, should be be included as part of Visual Studio Build Tools?

[2020-01-02 11:38] dhruvanmurthy commented on #10499
It should be part of Build Tools now. I just realized that my previous comment was ambiguous and corrected it (link was pointing to build tools though).
Let me know if you are not seeing the master.dacpac installed in latest version of Build Tools.

[2020-01-02 11:53] andyfisher100 commented on #10499
You are correct, it looks like it is now part of the VS2019 build tools install. However still not included with the latest VS2017 build tools :(

[2020-01-02 11:54] jebbench opened #12064 "K8sManifest deploy: container substitution failes if containers share a folder"
# Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifest

## Issue Description

When trying to substitute container images that share a common folder only one of the o,ages is substituted.

Deployment spec
[code]

Containers argument
[code]

Results:
[code]

[2020-01-02 12:26] bishal-pdMSFT commented on #12060
@SumiranAgg isn't this already fixed? or is it the case that ARG task version has not been bumped up with this common change?

[2020-01-02 13:35] roofiq opened #12066 "Implemented ARM Deployment task (#11404) - SubscriptionId as parameter"
Hello,

When creating pipelines and using deployment task, there is possibility to go with subscription deployments.
But to fill out all the text boxes, it is needed to fill it from drop down list. Therefore we need to specify the service connection and choose subscription id. It would be much better if we could use variables there.

Thanks,
Rafal

[2020-01-02 20:14] avivanoff commented on #11804
@jtpetty, ETA?

[2020-01-02 21:32] damccorm commented on #11974
I'm not sure I follow the use case. For an inline script, since you're calling it directly, why do you need args? Why can't you just set whatever args you were going to pass in as variables at the top of your script? I'm a little confused

[2020-01-02 21:37] damccorm commented on #11912
Could you try:
[code]

I think the issue here is that each of these patterns in the context of the deleteFilesTask resolves to `path/to/root/PATTERN`. So, for example your first pattern resolves to:

[code]

which matches all files in root (correctly). We may want to think about changing that behavior, but we'd almost certainly want to do that in a major version revision if we decide its appropria

[2020-01-02 21:40] damccorm commented on #10073
Closing due to inactivity

[2020-01-02 21:40] #10073 closed

[2020-01-02 21:43] damccorm commented on #10336
Can anyone confirm this is still an issue? I'm unable to repro on my end.

cc @ankit-nitd-zz

[2020-01-02 21:48] damccorm commented on #10407
Hey @nk111 - I wasn't able to get a repro - are you still experiencing this? Any chance you could share a repro?

[2020-01-02 21:52] damccorm commented on #11297
I'm going to close this since it looks like its working as designed

[2020-01-02 21:52] #11297 closed

[2020-01-02 21:52] damccorm commented on #11360
Closing due to inactivity

[2020-01-02 21:52] #11360 closed

[2020-01-02 21:52] damccorm commented on #11422
Closing due to inactivity - feel free to comment if you'd like me to reopen

[2020-01-02 21:52] #11422 closed

[2020-01-02 22:30] sheikahamed opened #12067 "Issue with code coverage and multi-module project build in Azure DevOps"
In Azure Devops Maven build pipeline, while building multi-module java project, the build was successful. However, the Jacoco code coverage is failing with below error,

 [ERROR] Failed to execute goal org.apache.maven.plugins:maven-antrun-plugin:1.8:run (default) on project VstsReport: An Ant BuildException has occured: Unable to read execution data file /vsts/agent/_work/8/s/CCReport43F6D5EF/jac

[2020-01-02 22:35] andschwa commented on #11489
Just chiming in that I saw this on 1/2/2020 too:

It obviously failed, but the task "completed successfully."

[2020-01-03 00:38] jheyduk opened #12068 "HelmDeploy should support Helm v3"
*Type*: Bug

**Enter Task Name**: HelmDeploy

## Issue Description

HelmDeploy-Task not working with helm v3.0.x

### Error logs

/workspace/_tool/helm/3.0.2/x64/linux-amd64/helm install --namespace cidocs --name cidocs --wait /workspace/13/drop/cidocs-1033.tgz
Error: unknown flag: --name
##[error]Error: unknown flag: --name

[2020-01-03 07:00] zendu commented on #12048
It's a release pipeline, so there are no debug logs. This is the only error line in the log. I opened issue because there is no additional detail.

[2020-01-03 07:09] jneira opened #12070 "Error in post-job step of CacheV2 task: `tar: Write error`"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CacheV2 (https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/CacheV2)

## Environment
- Server - Azure Pipelines
     - Account name: jneira
     - Team project name: haskell-ide-engine
     - Build id

[2020-01-03 07:48] boyanio opened #12071 "Styling is omitted in Code Coverage preview even though it is included in the published report"
## Required Information

*Type*: Bug
**Enter Task Name**: PublishCodeCoverageResults@1

## Environment
- Server - Azure Pipelines
- Agent - Private
  - Linux

## Issue Description

We are generating a HTML code coverage report and publishing it using the PublishCodeCoverageResults@1task. The publishing itself works fine and the report can be downloaded from the build artifacts. However, having the

[2020-01-03 08:07] boyanio commented on #10353
I use a custom script to merge all reports into a single one. In this [gist](https://gist.github.com/boyanio/36b9d6d9b32fae761250f7bd4fd6cbb4) you can see an example using [istanbul](https://istanbul.js.org/)

[2020-01-03 08:22] jneira commented on #12070
Hi, i've run the same commit in debug mode: https://dev.azure.com/jneira/haskell-ide-engine/_build/results?buildId=365

The debug log of the post-job step of the CacheV2 task is:
[code]
¿So it seems adding the file `./pantry/pantry.sqlite3` is causing the error?

[2020-01-03 08:54] jneira commented on #12070
I've tested locally thesame command in a msys64 bash session in my local windows system:
[code]
being `D:\sr` similar to the stored in the agent under `C:\sr` (same tree, including `./pantry/pantry.sqlite3`) and the tar command finished succesfully

[2020-01-03 09:05] Roshan-Kumar-Microsoft commented on #11948
@Debbus72  We had already fixed this issue. Are you still facing this issue ?

[2020-01-03 11:38] jheyduk commented on #12068
workaround: use `helm upgrade --install`

[2020-01-03 12:09] jneira commented on #12070
i've got to workaround the issue changing the configuration from
[code]

to

[code]
Although it is no ideal to have to do the packaging manually with the scripts.

[2020-01-03 15:00] pr0gg3r commented on #11424
Same problem here...

[2020-01-03 16:05] vtbassmatt commented on #12017
That doc is no longer canonical for logging commands. See the official doc here: https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/logging-commands?view=azure-devops&tabs=bash

[2020-01-03 16:05] #12017 closed

[2020-01-03 17:16] hanif-everycity commented on #11684
@uF7264 Your matter sounds different from what we were facing. We use a DSC extension to register the DSC pull server on each of the VMs in the scale set. The problem was the extension was failing due to permission issues and this was being reported in the DevOps pipeline during the "Azure VM scale set deployment" step.

Instead, we decided to use a PowerShell script with the PS extension to regis

[2020-01-03 18:08] mliesmons commented on #11493
Hi Arora,
There is still a bug in the new FileTransform.
I was already worried to see in the log only the leaf keys, and not the full hierarchy of which key is being replaced.
I have the key ApiKey twice in my JSON but in a different hierarchy.
This fails, the last ApiKey found is replaced with its current value, a noop in fact.
Another key with the sane parent is simply not logged/replaced.
Hones

[2020-01-03 19:10] Sean-Driscoll opened #12074 "Portable PDB support?"
Does the [Index Sources & Publish Symbols task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/index-sources-publish-symbols?view=azure-devops) publishing to Azure Artifacts/DevOps support portable PDBs?

Recent answers from @fadnavistanmay [here](https://github.com/microsoft/azure-pipelines-tasks/issues/6119#issuecomment-524441635) and @mitchdenny [here](https://github.com/mi

[2020-01-03 20:48] dipeshbhundia commented on #12055
Hi, i'm also having the same issue

![image](https://user-images.githubusercontent.com/59408305/71748363-37744800-2e6a-11ea-90ac-b928605235ea.png)

[6_Run Unit Tests.txt](https://github.com/microsoft/azure-pipelines-tasks/files/4020857/6_Run.Unit.Tests.txt)

[2020-01-03 23:55] JeremyCaney opened #12075 "VSTestV2 Outdated documentation"
## Required Information
**Type**: *Bug*
**Enter Task Name**: `VSTest`

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

The information icon for the _Other console options_ currently points to:

[`https://aka.ms/vstestotherconsoleoptions`](https://aka.ms/vstestotherconsoleoptions)

Which redirects to the documentation for **Visual Studio 14.0**:

[`https://docs.mic

[2020-01-04 00:45] JeremyCaney commented on #12075
**Note:** My original report included references to the documentation for the `/Framework:` parameter, as I was under the incorrect impression that this was required to test **.NET Core** assemblies. And while the documentation for that parameter, specifically, does not provide information on how to target a **.NET Core** assembly, it turns out that requirement was an off-target effect of a bug in

[2020-01-04 15:21] mliesmons commented on #11493
Arora,
After another couple of hours wasted...
It seems when a your JSON contains a child called 'Common', its children get never substituted.
I renamed it to 'Commons' and everything works as expected, go figure:
{
   "Commons": {
      "Child": "substitution works"
   },
   "Common": {
      "Child": "substitution does NOT work"
   }
}

[2020-01-04 16:06] eaarora-ms commented on #11493
@mliesmons Built-in variables are excluded in JSON variable substitution.
![62449643-4ace9a80-b788-11e9-842d-5738608f6cfc](https://user-images.githubusercontent.com/52486630/71768217-37dc1400-2f3a-11ea-8e52-df4a3a6bdcb4.png)

We exclude such variables that have the same prefix as pre-defined variables.

[2020-01-04 16:55] mliesmons commented on #11493
Hi Arora,

My variable entered as the environment variable [COMMON_CHILD], please explain how this is considered a built-in?

Kr,
Michel.

From: Eavanshi Arora <notifications@github.com>
Sent: zaterdag 4 januari 2020 17:07
To: microsoft/azure-pipelines-tasks <azure-pipelines-tasks@noreply.github.com>
Cc: Michel Liesmons <m@nais.be>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/azur

[2020-01-04 18:42] eaarora-ms commented on #11493
@mliesmons  The documentation is definitely pending behind and it is in our backlogs to update the same. However as per the code here :

https://github.com/microsoft/azure-pipelines-tasks/blob/e6b2859cadd9e69b964dbb5b425720b7172d1abf/Tasks/Common/webdeployment-common-v2/variableutility.ts#L3

The words starting with common, build etc. are not replaced in variable substitution.

[2020-01-05 02:43] anoopk-kr opened #12076 "Function app is not listing when i used the Service connection type "Publish profile based authentication""
I have created a Service connection of type "Publish profile based authentication" for deploying my App into Function app.

When adding the task into my pilne, it no more list the App name  when i select this connection type.

I am able to get the app listed when i use the service connection type "Azurerm resource manager with service principle based". Does this plugin has any such limitations due

[2020-01-05 08:50] mliesmons commented on #11493
Hi Arora,

Thanks, I see it in the code yes…

3 questions:

  *   You mentioned somewhere in this thread that the option to specify substitutions within the App Service Deployment task will be deprecated in favor of the specific task. How should we know? Could this be indicated in the current task, e.g. when you click the ‘i’nfo button?
  *   I have a hard time consulting my customers on which tas

[2020-01-05 21:59] mitchdenny commented on #12074
The way to do this is to disable indexing of the symbols in the task, and instead use [source link](https://github.com/dotnet/sourcelink) to do the indexing of sources during the build itself. Then the task just uploads the PDBs as they are. The task will produce a warning.

That is how I've made it work in the past ... YMMV.

[2020-01-06 00:53] alexleonovhs1 opened #12077 "Command Line Task running an executable kills the agent in the middle of the output"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CmdLine

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: https://dev.azure.com/henryscheinone/Conversions/_build/results?buildId=37545&view=results

- Agent - Hosted or Private:
    - If using private ag

[2020-01-06 05:50] navin22 commented on #11934
@jp108 : Please let me know if you need any help ? Based on the logs also we see that the task is failed. If you are still facing the problem please let us know. And if possible can you point to your pipeline for better understanding.

[2020-01-06 06:21] eaarora-ms commented on #11493
@mliesmons
'''You mentioned somewhere in this thread that the option to specify substitutions within the App Service Deployment task will be deprecated in favor of the specific task. How should we know? Could this be indicated in the current task, e.g. when you click the ‘i’nfo button?'''

We will add this to our documentation thanks for pointing out.

''' I have a hard time consulting my customer

[2020-01-06 07:22] eaarora-ms commented on #12007
This has been fixed now.

[2020-01-06 07:22] #12007 closed

[2020-01-06 09:30] mliesmons commented on #11493
Thanks for the clarification.
If the App Service Deployment task will be deprecated, will there be new tasks for Web and API App deployment?

I see the Azure App Service Settings has no appsettings.json variable substitution capability.
We often have large, hierarchical settings specified in an appsettings.json, substitution using variables worked pretty well here.
Copying them into a pipeline tas

[2020-01-06 09:39] ShreyasRmsft commented on #11703
Closing due to no response, please re-open with requested data.

[2020-01-06 09:39] #11703 closed

[2020-01-06 09:55] DrReedo commented on #11996
I am still getting this issue today.  Is it fixed?

[2020-01-06 10:48] vithati commented on #11741
@Jyoti492 , closing the issue. please reopen issue if you are still facing the issue.

[2020-01-06 10:48] #11741 closed

[2020-01-06 12:21] eaarora-ms commented on #12060
@jpodoba  Hi, we have already fixed the issue for all the tasks and it should be available in all the accounts by the end of this week.

[2020-01-06 12:25] Phiph opened #12081 "Cannot bind argument to parameter 'Text' because it is an empty string."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-01-06 12:31] eaarora-ms commented on #11493
@mliesmons  We already have new tasks for the same viz [Azure Web App](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureWebAppV1/README.md),  Azure Function App, etc.,

And variable substitution is not deprecated, it has moved to [File Transform Task ](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/FileTransformV2/README.md).

I hope you use these tas

[2020-01-06 12:51] anouarattn commented on #9565
Same issue

[2020-01-06 12:59] IanKemp commented on #7659
Any update? It's nonsensical that named `testcase`s are supported but named `testsuite`s and/or `testsuites` are not!

[2020-01-06 13:01] mliesmons commented on #11493
I will 😉

From: Eavanshi Arora <notifications@github.com>
Sent: Monday, January 06, 2020 1:31 PM
To: microsoft/azure-pipelines-tasks <azure-pipelines-tasks@noreply.github.com>
Cc: Michel Liesmons <m@nais.be>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/azure-pipelines-tasks] FileTransform task not working as expected for appsettings.json file variable substitution (#11493)

@mlies

[2020-01-06 13:36] frackham commented on #12060
Is this fixed in v2 as well as v3?

v3 doesn't seem to support parameterised service connections so I suspect I'll need to live with the warnings?

[2020-01-06 13:45] al-alison commented on #9673
@ashokirla Can you please enable for organization "Edenred-ITECAmericas" ?

[2020-01-06 13:58] Sean-Driscoll commented on #12074
Thanks @mitchdenny! So to confirm, that task _should_ work for publishing full or portable PDBs to the Azure Artifacts symbol server?

[2020-01-06 15:33] ElvenSpellmaker opened #12082 "[UseDotNet] `cp: copyFileSync: could not write to dest file (code=ETXTBSY):/opt/hostedtoolcache/dotnet/dotnet`"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Task Name**: `UseDotNet@2`

## Environment
- Server - Azure Pipelines.

- Agent - Hosted or Private:

    - `ubuntu-18.04`

## Issue Description

We need two different SDK versions, the application is compiled with 2.1.x and the tests ar

[2020-01-06 15:57] philly86 opened #12083 "Consider adding authorization on SQL server using Service Connection"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: SqlAzureDacpacDeployment

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

In my organization we're using Dacpac to create not only database structure but also map SQL users with AAD groups. As such operations can be [performed only with AAD accounts](https://docs.microso

[2020-01-06 16:15] pl-pack-01 commented on #11684
We are no longer experiencing this issue. The changes we made mentioned above resolved it for us.

[2020-01-06 17:27] emil-mi opened #12084 "Add support for deterministic builds to PublishSymbols"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: PublishSymbols

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

When using [Deterministic builds](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/deterministic-compiler-option) in a VSTS build pipeline the compiler generates the same bin

[2020-01-06 18:27] damccorm commented on #11836
Closing since I believe we've addressed this with your account and its not really a tasks issue.

[2020-01-06 18:27] #11836 closed

[2020-01-06 18:35] gitusr123 commented on #4743
Hello,

I have dynamic variables in variables group for example <Machine_name+IPaddress> Variable name like "MywindowsIPAddess" and value is "198.0.0.0". I would like to use this dynamic variable value in custom condition.

I have one release definition with one agent phase with multi-configuration option and with single task . This single task should be executed in multiple servers based on these

[2020-01-06 19:03] TabithaLarkin commented on #11790
Has there been any progress on this? Is anyone looking into it? It's been well over a month since this was initially flagged up, and we would really appreciate a solution to our issue as it's blocking getting something into our build pipeline.

[2020-01-06 20:03] aasim commented on #11591
This fix has now been deployed. Both the MavenAuthenticate task and the connect to feed ui have the same behavior now0.

[2020-01-06 20:03] #11591 closed

[2020-01-06 20:13] ronbuchanan commented on #11191
@udeeshagautam I updated to the latest SqlPackage on our deploy agents and the error is still occurring. Unfortunately, my workaround using an XML profile file now breaks, too. I have no way to deploy a database now without manually deploying.

[2020-01-06 20:23] udeeshagautam commented on #11191
Thanks @ronbuchanan for trying with latest bits. Can you please confirm once that you are trying **directly deploying via SqlPackage.exe from the command line** OR through deploy agents. Requesting this clarification to understand if the paramter is reaching sqlpackage.exe and the result is passed as is or not. Please note that using sqlpackage directly from commandline is the key thing here to in

[2020-01-06 20:31] jtpetty commented on #12077
@alexleonovhs1 - Looking at the logs you sent, the Agent.log is from after the agent is restarted. Do you have the agent log from the instance of the agent that ran when the worker crashed?

Is it possible that the binary that is being run is consuming a lot of memory and something is auto killing that process on your private agent?

[2020-01-06 20:35] alexleonovhs1 commented on #12077
@jtpetty here's the log from the previous run; will restart the thing again and watch for the memory now

[Agent_20200106-000452-utc.log](https://github.com/microsoft/azure-pipelines-tasks/files/4027694/Agent_20200106-000452-utc.log)

[2020-01-06 20:36] ronbuchanan commented on #11191
@udeeshagautam to clarify...

* manually running SqlPackage.exe from the agent CLI deploys **successfully** using the publish profile file (copied and pasted what Azure DevOps executed)

`"C:\Program Files\Microsoft SQL Server\150\DAC\bin\SqlPackage.exe" /Action:Publish /SourceFile:"source.dacpac" /TargetServerName:"target_db" /TargetDatabaseName:"target_db" /TargetUser:"target_user" /TargetPasswo

[2020-01-06 20:39] udeeshagautam commented on #11191
Thanks for the Clarification. Will follow up on the same. Thanks again!

[2020-01-06 20:39] alexleonovhs1 commented on #12077
@jtpetty no visible spikes of memory or CPU usage: was up to ~40MB mem and 10% CPU, with plenty free on the host

[2020-01-06 20:53] jtpetty commented on #12077
@alexleonovhs1 - Looking at the logs, it looks like something external to the agent is killing the agent process tree.

Is it always the 'Run the conversion' step that gets killed?

Is there anything in the system log on the machine?