[2018-08-19 13:35] acesiddhu commented on #8017
@roizentner thanks for confirming and sorry for the inconvenience

[2018-08-19 15:11] briannipper commented on #7830
Thank you for looking into this...

I've attached an image of the task properties to help ensure I'm sharing the right details.

The orange box is the field that I'm saying could use some attention.

The box is expecting a comma separated list of values. However, if you have any white space after the comma it results in a failure... ideally it would trim the white space for each item before adding

[2018-08-19 15:40] bryanmacfarlane commented on #7830
Thanks for clarifying.  It's perfectly valid for a task to trim since it has first class knowledge of the data.

[2018-08-19 17:34] coonmoo opened #8066 "Add resilency for transient failures when using the FTP task"
## Troubleshooting
Allow the FTP deployment to reconnect and continue deployment after a disconnect.

## Environment
- Server: VSTS
- Agent: Private, Windows 10 x64
- Release Task: FTP task

## Issue Description

Our external partner sometimes has an unstable network connection. So we experience a lot of ECONNRESET errors when deploying via FTP task.

Would it be possible to configure a reconnecti

[2018-08-20 04:49] acesiddhu commented on #7806
@malikmahak91 closing the issue. please reopen if you are still facing the issue

[2018-08-20 04:49] #7806 closed

[2018-08-20 04:54] acesiddhu commented on #8058
@joshmackey can you tell us the account name and one of the release/build id where you saw less batches created. We will check our telemetry in details and come back.

[2018-08-20 05:40] vincentdass commented on #3312
@bhuvanpasham , can you please share the debug logs (set variable `system.debug` to `true` and re-run the release).

[2018-08-20 06:52] vincentdass commented on #7694
@rand0me  , sorry for the delayed response.
Can you please leave the release for an hour and observe the behaviour. Debug logs would help in identifying the issue.

[2018-08-20 06:59] courtenayparserr commented on #7927
Any thoughts @yacaovsnc ?

[2018-08-20 07:19] bergmeister commented on #7461
@felixfbecker Yes, you can call `pwsh -command` or `pwsh -file` from any task that takes a command line option or just from Windows PowerShell.

[2018-08-20 07:41] vithati commented on #7902
@kpage-bentley,  I have checked the issue. I don't see jobs are stuck. Are you still facing the issue?

[2018-08-20 08:13] DaveEWrk commented on #8062
I've had no update on my incident directly, but according to this a hotfix has been applied (reverting the change). I've not had a chance to test it yet - we worked around it in our builds by getting rid of the nuget tasks, so will try to test it out today.

https://blogs.msdn.microsoft.com/vsoservice/?p=17325

[2018-08-20 08:39] pondelknimojdan commented on #7699
@pagangil  Agent.Version is  2.122.2

[2018-08-20 08:48] pagangil commented on #7699
@pondelknimojdan Thanks for telling the agent version. We've fixed this issue in our latest agent version. With the fix, we don't append "_1" to run name if there is just a single run. Can you upgrade your agent version and try again?

[2018-08-20 08:52] acesiddhu commented on #7829
@davoodharun Associating Nunit test are not supported. See the from the link which you added in your question.

"NOTE: At present you cannot use this procedure to associate MSTest V2 tests or tests written in **NUnit** and XUnit. Adding this capability is planned for a future release. "

[2018-08-20 08:54] acesiddhu commented on #7539
@strosu closing this issue. Please create a new issue if you have a repro and logs.

[2018-08-20 08:54] #7539 closed

[2018-08-20 08:58] pondelknimojdan commented on #7699
@pagangil Hi! I cannot upadate agent, but I can back to you when our agent is updated.

[2018-08-20 09:59] aleksandersmierciak commented on #5590
Any update on this issue? We are currently facing it and trying various workarounds that were already suggested, unluckily so far.

The issue's solution has already been postponed several times. I can't know what you are doing internally to make it work and don't want to question your efforts. However, it would only be fair to open this issue as it has not been resolved.

@RoopeshNair, you have cl

[2018-08-20 11:15] prawalagarwal commented on #8040
@illumination7272 please share your build logs with us at devops_tools@microsoft.com with system.debug set as true in build varialbles.

[2018-08-20 12:08] aleksandersmierciak commented on #5590
@rajatagrawal-dev, apologies, it was my mistake. Upon setting the correct Azure File Copy 2.* (2.0.7) Optional arguments we made it work.

[2018-08-20 12:19] vithati commented on #8061
@Strandfelt, Can you set rwx persmission on /tmp/kubectlTask/1534499752387/kubectl and try once again.

[2018-08-20 12:31] rikvandenberg opened #8072 "vstest.console.exe failed with return code: 3221225477"
## Environment: VSTS
- account name: sator
- team project name: (unable to share)
- build definition name: "PR (unable to share)"
- build id: 7481, 7482, 7487

**Private agent 1 details**

Agent.ComputerName | RIKVANDENBERG
-- | --
Agent.HomeDirectory | C:\dev\agents\DARTHREVAN
Agent.Name | DARTHREVAN
Agent.OS | Windows_NT
Agent.OSVersion | 10.0.17134
Agent.Version | 2.136.1

**Private agent 2 det

[2018-08-20 12:51] Mardoxx opened #8073 "Support for authorizing VSTS in Azure Key Vault task"
Would be nice to have ACL for selected keyvault auto provisioned.

Have to do this workaround, adding SP manually failed every time because I don't know what I'm doing and documentation is sparse at best!!
Please see https://stackoverflow.com/questions/50968613/cannot-acces-keyvault-secrets-through-service-endpoint-in-a-vsts-release/51931131#51931131

[2018-08-20 13:05] SumiranAgg commented on #4734
Sorry for late reply.
@GaurangRLB / @iures How are you providing the max-old-space argument in the task. Can you share debug logs for the same.

[2018-08-20 13:19] yacaovsnc commented on #7927
@courtenayparserr Not really, nothing comes to mind immediately.  However if it fails randomly with all pools, then it doesn't look like a client side issue.  When does it usually fail?  Like completely random or after uploading for a while?  If it's after a while, maybe we can break up the uploading into multiple uploading tasks and each task only uploads a subset of the files (like a folder)?  A

[2018-08-20 14:08] kpage-bentley commented on #7902
@vithati, tried one more time, same error
![image](https://user-images.githubusercontent.com/14302108/44345301-934a5680-a458-11e8-9566-496794233301.png)

[2018-08-20 14:15] vithati commented on #8032
@aharris, 'action' input is case sensitive. 'action' input will be 'Run a Docker Compose command'.  Don't specify docker-compose in 'dockerComposeCommand' input. example: dockerComposeCommand: -f docker-compose.ci.yml build.  And 'dockerComposeCommand' has '&&', it will fail.  Divide build and run into two separte tasks and try again.

[2018-08-20 14:19] vithati commented on #7902
@kpage-bentley, Can you share the release link or Release pipeline Name and Release number details?

[2018-08-20 15:15] SuricateCan opened #8076 "IIS Web App Deploy: JSON Variable Substitution and Variable Groups"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS
    - sda-iatec, Sda.Ais, Abms.Api, 20180820.2
- Agent - Private:
    - Windows Server 2012 R2, agent 2.136.1

## Issue Description

- Task Name: IIS Web App Deploy
- File Transforms & Variable Substitution Opti

[2018-08-20 15:52] vincentdass commented on #8076
@SuricateCan, Can you please share the debug logs (set variable `system.debug` to `true` and re-run the release)? You can also share the logs privately to `RM_CUSTOMER_QUERIES@microsoft.com`.

[2018-08-20 16:25] acesiddhu commented on #8072
@rikvandenberg does you test exercise any native code by any chance?

[2018-08-20 16:29] nealAR commented on #4655
I'm running into the exact same issue. In the guide referenced in the original post there is supposed to be an option called "Allow scripts to access OAuth token," however in the new UI it looks like this has been removed (at the least it's not present under the current Options menu). Did anyone figure out a method for enabling script tasks to access git/bitbucket credentials?

https://docs.micros

[2018-08-20 16:39] SuricateCan commented on #8076
@vincentdass After running with debug flag true, the values were substituted. I guess I just needed a fresh new release for the changes to take effect.
I'm closing this issue. If I find any weird interactions, I'll get back and report it.
Thanks.

[2018-08-20 16:39] #8076 closed

[2018-08-20 16:42] SuricateCan commented on #8076
On a slightly different subject, how do I substitute a variable like this:

[code]

[2018-08-20 16:48] acesiddhu commented on #7829
@davoodharun I am closing the issue. this is not a supported scenario today/

[2018-08-20 16:48] #7829 closed

[2018-08-20 18:03] eegabeeva commented on #7796
I have the same issue. I was wondering if *.exec is the right file to load as coverage summary.

[2018-08-20 18:48] sebastienlabine opened #8077 "[undefined]Waiting for console output..."
## Issue Description
It's a non-blocking issue, but while the console is waiting for the console output, it's showing the user an undefined message.
![image](https://user-images.githubusercontent.com/8888846/44360087-afb1b780-a487-11e8-9406-c7f5acdc471b.png)

### Error logs

[undefined]Waiting for console output...

[2018-08-20 19:04] eegabeeva commented on #7796
@karann-jain I think I found my problem, and it might help you too. To generate Jococo's code-coverage report in XML you need to add the `jacoco:report` goal to your Maven task. The report will be generated as `**\site\jacoco\jacoco.xml`.

[2018-08-20 19:56] onlyutkarsh opened #8078 "Azure Powershell task v3.0 inline script has maxlength set to 500"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
VSTS

- Agent - Hosted

## Issue Description

The Azure Powershell task has a text box for inline script set to 500 which is very limiting. Please consider it to 5000 minimum.

![image](https://user-images.githubusercontent.com

[2018-08-20 19:57] kpage-bentley commented on #7902
@vithati Emailed you the link...

[2018-08-20 20:28] rikvandenberg commented on #8072
@acesiddhu No it does not.

Is there a way to find more detailed information about why the vstest.console.exe is critically failing?

[2018-08-20 20:40] climberchad commented on #6657
Exact issue as well - 8/20/18

[2018-08-20 20:45] zarenner opened #8080 "NuGet task doesn't correctly error when "Path to NuGet.config" incorrect"
When "Path to NuGet.config" is incorrectly set to a folder path instead of the NuGet.config path, instead of erroring, sometimes the task will continue, creating a temporary nuget.config with just "<configuration />" in it. The build proceeds and then users are confused when their packages fail to restore because the sources/creds aren't there.

The expected behavior is that it would fail with a "

[2018-08-20 20:45] zarenner commented on #8080
@satbai @keithrob

[2018-08-20 20:49] SweetMeatPumpkin commented on #8022
I got the same issue with 201 response code, but it doesn't seem to deploy.
Do you know when @asranja will fix this script to account for the 201 response code and push it to PROD?

[2018-08-21 00:44] joshmackey commented on #8058
@acesiddhu Can I email that somewhere? I'm also seeing the same issue when I set batch sizes of 60 seconds. One test task gets several minutes worth of tests while the others sit idle.

[2018-08-21 03:54] Selvaraj1989 opened #8082 "How to deploy test agent in TFS 2018 to run CodedUI tests?"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server -TFS on-premises

    - 2018 Update 3

- Agent - Private:

    -OS version : Windows Server 2016 (10.0.14393) and Agent Version : 2.136.1

## Issue Description

Since "Deploy test agent" task got deprecated in TFS 2018

[2018-08-21 04:07] acesiddhu commented on #8058
@joshmackey  you can mail here
devops_tools AT Microsoft DOT com

[2018-08-21 04:08] acesiddhu commented on #8072
you can take dump of the testhost process and see what might be wrong. here is the link on how to do this
. Note that this will work for VS 15.5 or more.
https://github.com/Microsoft/vsts-tasks/blob/users/nigurr/Docs/Tasks/VsTestV2/docs/DumpCollection.md

[2018-08-21 05:37] vincentdass commented on #8076
@SuricateCan , you can use the variable name `NHibernate.connection.connection_string` , keys with `.` is handled in JSON variable substitution.

[2018-08-21 05:46] vincentdass commented on #4143
@ptr727 , from Azure portal, go to your Function app and check if Application settings has a variable named `WEBSITE_RUN_FROM_ZIP`
![image](https://user-images.githubusercontent.com/20121508/44382618-48514180-a533-11e8-813d-6657cd8604ab.png)

Is this the first time you are deploying to that Function app? if not, please share the latest successful release logs for that app.

[2018-08-21 05:58] vithati commented on #7902
@kpage-bentley, I looked at server logs,  it's not releated to jobs stuck issue. 'service connection' used in 'Scorecards gate' not present, either it deleted or not exist. Can you verify service conection once and try the release.  Presently UI not showing that error message. I have opened bug to show proper error messages in UI.

[2018-08-21 06:21] roizentner opened #8084 "Unit Tests are stuck until build reaches timeout"
​Hi,

We are using VSTS and private Windows agents.
We just experienced this strange issue! Here's an excerpt of the build log:

[code]
As you can see, it seems that the subsequent test ran for almost 5 hours until it reached the build timeout.
Since the test name is written to the log only after it passes/fails, we have no indication of which test got stuck. We found no other indication as to wha

[2018-08-21 06:23] bishal-pdMSFT opened #8085 "[Service fabric deploy] Diff package should only be created for an upgrade scenario"
Diff package creation takes dependency on the currently deployed application. In case the application is removed(if user has selected to overwrite application), then diff package becomes invalid.
Hence we should only create diff package in case of application upgrade.

[2018-08-21 06:51] Anumita commented on #8053
Thanks for reporting this issue! We have fixed this issue and should reach you in a few weeks.

[2018-08-21 07:07] bansalaseem commented on #7791
Closing this issue as the fix is merged into latest code.

[2018-08-21 07:07] #7791 closed

[2018-08-21 07:07] bansalaseem commented on #7206
Resolving this issue because of no response.

[2018-08-21 07:07] #7206 closed

[2018-08-21 07:08] bansalaseem commented on #7446
Resolving this issue because of no response.

[2018-08-21 07:08] #7446 closed

[2018-08-21 08:39] prawalagarwal commented on #7706
@LokiMidgard Can you set system.debug as true in the build variables and provide us the entire logs zip? You can send it to devops_tools@microsoft.com

[2018-08-21 09:50] SuricateCan commented on #8076
Great! Thanks.

[2018-08-21 09:51] LokiMidgard commented on #7726
For me it looks like this can only enabled in the visual studio team services not the team foundation server. I don't see a setting to enable preview features there.

[2018-08-21 10:13] pagangil commented on #7836
@elvisFabian Can you please provide following:
1. Agent version
2. Value of "Search folder" provided in the task

[2018-08-21 10:16] kuvinodms commented on #7185
PR for the fix: #7961

[2018-08-21 11:33] PBoraMSFT commented on #7975
@acesiddhu @baywet - Trying to add a setting in the task for every single config will simply bloat it. We can consider enhancing the override test run parameters as an easier means to override values in runsettings - but that would be an enhancement and not a bug fix. Marking this issue as such.

[2018-08-21 11:34] lovakumar commented on #8073
@Mardoxx provisioning of ACL for selected key vault needs user authentication hence it needs to go through user interaction flow only.

[2018-08-21 12:04] Mardoxx commented on #8073
Why have you closed this? :(

Currently there is no way to auth vsts with the kv within the task

On Tue, 21 Aug 2018, 12:34 Lova Kumar Katikala, <notifications@github.com>
wrote:

[2018-08-21 12:05] karann-jain commented on #7796
@eegabeeva This worked!
Thanks much for the solution.

Additionally because i had multi-module project, i used a variance of goal jacoco:report-aggregator and it worked.

[2018-08-21 12:05] #7796 closed

[2018-08-21 12:06] Davy-F commented on #8022
Getting this too, but nothing was deployed apart from the function.json.

Have other peoples apps successfully been deployed with this error?

[2018-08-21 12:15] Strandfelt commented on #8061
It doesn't work. The number in the path changes for each run, so setting those permission on kubectl does not work.
Log from my latest run:
[code]

[2018-08-21 12:16] asranja commented on #8022
We have made the fix in the App Service task. It should take a few days for the fix to be rolled out on all the accounts.

[2018-08-21 12:22] RaleS opened #8088 "[NuGetCommandV2] Nuget restore takes 1½ minute to start"
VSTS Hosted VS2017 agent
NuGetCommandV2: 2.0.34

[code]

Full log

[code]

[2018-08-21 12:23] iggyshu opened #8089 "Artifacts associated by the Logging Command do not get deleted by build retention policy"
## Environment
- TFS on-premises
   Version 15.117.27414.0

- Agent - Private
  Windows_NT 6.3.600, agent version 2.126

## Issue Description

Our current CI build is implemented using a .ps1 script and Invoke-Build tasks. After compiling the sources the following function is called for each artifact source to publish it:

[code]

The 1st line copies the binaries to the share. The 2nd line uses th

[2018-08-21 12:33] lovakumar commented on #8073
@Mardoxx Link that you shared and issue description sounded like you are looking for auto provisioning of ACL in key vault variable group.

If you are looking for similar thing in Azure Key Vault task, we currently generate a scrip as part of the task logs that you can run to provision ACL.

Inline support in task (similar variable group) is not in our backlog yet. Can you please try using the scr

[2018-08-21 12:39] Mardoxx commented on #8073
Sorry should have been more clear!!

Digging through logs only after pipeline has failed is not great imo.
Inline Auth in task would be perfect!

On Tue, 21 Aug 2018, 13:33 Lova Kumar Katikala, <notifications@github.com>
wrote:

[2018-08-21 12:42] lovakumar commented on #8073
Ok got it. @N-Usha @RoopeshNair can you please add this feature to our backlog.

[2018-08-21 12:43] baywet commented on #7975
thanks for the answer @PBoraMSFT ! Yes I think there might be other settings that are not currently exposed that people might want to provide to the task/process. A generic parameters override section would probably be better.

[2018-08-21 13:42] rldcampbell commented on #3302
I'm also getting this same issue - I can publish the code coverage file as an artifact so it is there, but I'm getting the two errors:
`##[error]Unable to process command '##vso[codecoverage.publish codecoveragetool=Cobertura;summaryfile=UploadTool/coverage/cobertura-coverage.xml;]' successfully. Please reference documentation (http://go.microsoft.com/fwlink/?LinkId=817296)`
`##[error]File 'Upload

[2018-08-21 14:28] arjgupta commented on #8039
@matsovef  can you share the script that you were attempting to run with RM_Customer_Queries at [microsoft.com] . Does your script invoke install-module cmdlet ?

[2018-08-21 14:49] ptr727 commented on #4143
Hi, yes, run from zip is set.

This is what I did:
- Run Visual Studio 2017 Enterprise Preview.
- Create a new C# cloud Functions v2 Http trigger project.
- No changes required to code, the default template function is fine.
- Build and run locally, ok.
- Create a free Azure account.
- Publish the app from VS2017 to the Azure account, create all new resources, publish as zip.
- VS2017 warns to upd

[2018-08-21 15:39] pallavkaulwar opened #8090 "Encountered a retriable error:ECONNRESET. Message: tunneling socket could not be established, statusCode=503."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
VSTS is being used for the deployment to a Windows web app on Azure using Service Principal

The Service Principal has contributor access on the resource group

- Agent - Hosted or Private:

Private Windows Agent is being used

[2018-08-21 17:40] joshmackey commented on #8058
Got an error saying
[code]

[2018-08-21 17:47] acesiddhu commented on #8058
@joshmackey we got the mail. will reply on that

[2018-08-21 18:18] AlexRamey opened #8091 "Docker Task: Cannot parameterize Azure Container Registry in VSTS task group"
VSTS

In the task group, the specific ACR is a drop down. I'd like to use a variable $(ACRName)

## Issue Description

![screen shot 2018-08-21 at 2 16 42 pm](https://user-images.githubusercontent.com/6226193/44420837-0634f980-a54d-11e8-83e6-dd20d180b027.png)

[2018-08-21 19:39] shortstuffsushi commented on #8065
Hey @acesiddhu, I had thought you may ask that, but chose to not include those results because they seem like probably an unrelated thing. Unfortunately, running *without* that checked is even worse, as it results in all tests failing with the following:

[code]

[2018-08-21 20:13] SvenSowa opened #8093 "Azure App Service Deploy (Preview) 4.* - Post Deployment Action 400 Bad Request"
**In VSTS the post deployment script result is fetched from a broken URL:**

2018-08-21T17:41:58.3933006Z ##[section]Starting: Azure App Service Deploy: www 7z
2018-08-21T17:41:58.3942728Z ==============================================================================
2018-08-21T17:41:58.3943008Z Task         : Azure App Service Deploy
2018-08-21T17:41:58.3943404Z Description  : Update Azure WebApp

[2018-08-21 22:42] daniel-terceros-incontact commented on #2155
Hey guys, it would be possible to provide me an example to re run failed test by using rest apis in tfs 2015? Thanks :)

[2018-08-22 03:37] N-Usha commented on #8073
Added to the backlog and will update as we make progress in addressing it. Thanks!

[2018-08-22 04:28] acesiddhu commented on #8065
@shortstuffsushi this was surely a bug on our side which we have fixed @prawalagarwal can you confirm. in the mean time you can change your run settings to include in your code coverage configuration node.

<Configuration>
          <CodeCoverage>
            <UseVerifiableInstrumentation>False</UseVerifiableInstrumentation>
          </CodeCoverage>
        </Configuration>

[2018-08-22 05:29] shortstuffsushi commented on #8065
I'm not sure what you're asking me to include. Do you want me to put the text `false` inside one of the nodes? Could you give a more complete example of what you're asking for?

[2018-08-22 05:31] vincentdass commented on #8090
@pallavkaulwar , Can you please share the full debug logs? (This would confirm that only the specific KUDU PUT call failed).

[2018-08-22 05:53] acesiddhu commented on #8065
Sorry GH ate my comment because it an xml
here is the runsetting u can use

[code]

[2018-08-22 06:15] LokiMidgard commented on #7706
@prawalagarwal I've tried to send you the zip file via mail. But I recived an `Delivery has failed to these recipients or groups:`. I hope you still recived the files.

I also was able to force legacy mode but the result were the same.

[2018-08-22 06:50] prawalagarwal commented on #7706
@LokiMidgard yes got the logs. Will follow up there. Thanks.

[2018-08-22 07:09] andreasf commented on #7934
V2 still works. We're currently using V3 with inline scripts as a workaround.

[2018-08-22 07:45] matsovef commented on #8039
Here is the PS script. Please note that when running the script by myself via Invoke-Command on the remote machine it works without any problems.

[ManageService.zip](https://github.com/Microsoft/vsts-tasks/files/2309329/ManageService.zip)

[2018-08-22 09:06] lovakumar commented on #7830
@briannipper please feel free to raise a PR for this issue and add me as reviewer.

[2018-08-22 09:51] woudevdj commented on #6294
Any news on the status of this issue?

Most of our tests are data-driven (abstract scenario's in specflow using Nunit as unit-test framework) so rerun failed tests doesn't work most of the time, but is badly needed!

Abstract specflow scenario's have the following fully qualified name (indeed containing special characters):

`/TestCaseFilter:"FullyQualifiedName=<Namespace>.Features.<FeatureName>.<

[2018-08-22 09:59] nigurr commented on #6294
Hi,

Mitigation step: https://github.com/Microsoft/vsts-tasks/issues/7545#issuecomment-403024781
We still don't have tentative timelines, however it can work (mitigation) with the mentioned solution without an issue.

[2018-08-22 10:08] ArieHein commented on #7934
Did you try to use the "Working Directory" settings instead, so it doesn't take the default Agents' working folder ?

[2018-08-22 10:51] riezebosch commented on #7928
I'm facing the same issues in de AzureCli task. If my input parameters contain a `%` it gets dropped from the input.

[2018-08-22 11:09] riezebosch opened #8104 "Azure CLI task strips % from input"
[code]

Output:
[code]

[2018-08-22 11:27] riezebosch commented on #8104
Probably because the command is executed in a batch using cmd where `%` needs to be escaped.

[2018-08-22 12:32] stylesm commented on #8022
I am getting this with an Azure API App deployment. It is actually causing the entire package not to be deployed to the App Service, which returns a 500 because of this error.

[2018-08-22 12:51] allanmoller opened #8108 "Hosted agent stuck in "Waiting for available machine" for 1 hour"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
VSTS - KKKIT

- Agent - Hosted
Hosted VS2017
Release-180

## Issue Description
My release have been stuck in waiting for more then one hour even though i only have one que item!!

[2018-08-22 13:38] davoodharun commented on #7829
@acesiddhu thanks for your response. If you use MSTest V2 will you be able to grab VSTS test case id, parameters, configuration from the associated test? Although NUnit is not supported, I am still able to associate NUnit tests to VSTS and run them directly from VSTS. Is it just that NUnit tests are not fully compatible?

[2018-08-22 13:52] lachiemurray opened #8110 "Azure App Service Deploy 4.3.0 zip deploy broken"
## Environment
- Server - VSTS

- Agent - Private (ubuntu-16.04)

## Issue Description

Using Azure App Service Deploy 4.3.0 task to deploy a package does not work. This appears to be a regression in 4.3.0 since we have successful deployments using version 4.2.9.

### Error logs

[code]

[2018-08-22 14:02] riezebosch commented on #7928
https://github.com/Microsoft/vsts-tasks/issues/8104

[2018-08-22 14:04] hrlourenco opened #8111 "VSTS find tagged builds"
Hi all,

Is it possible to find builds that was tagged? In build dashboard > Recently completed, is there any way to have a column that shows the tag assigned in each build version?

Thank you

[2018-08-22 14:14] techyian opened #8112 "Retrieve secure file GUID from VSTS frontend"
Hi,

Is it possible to get the GUID for a stored secure file from anywhere in VSTS easily? I would have expected this to be available in the "Library" area where the files are stored, but the only place I can see so far where it's retrievable is via "Link Settings".

I am automating Xamarin builds using the VSTS REST API, and for iOS I need to specify a provisioning profile filename. My understand

[2018-08-22 14:16] pallavkaulwar commented on #8090
@vincentdass Yes the web app is hosted under ILB. Did the fix you have done went through? I don't see the task downloading the version "3.4.5" you have committed.

The task is also failing at some [Post] and [Get] operations

2018-08-21T15:18:13.6039560Z ##[debug][POST]https://management.azure.com/subscriptions/xxxxxxxxxxxxxxxxxxxx/resourceGroups/xxxxxxxxxxxxxxx/providers/Microsoft.Web/sites/webap

[2018-08-22 14:47] samuelbcollie commented on #7601
Is there any update on this? I'm upgrading my AzureRM to 6.7.0 at the beginning of my release pipeline, and I still get this error intermittently. I've tried 6.6.0 as well and this still happens occasionally. [Azure/azure-powershell#6680](https://github.com/Azure/azure-powershell/issues/6680) has been marked as closed, so is this a vsts issue?

[2018-08-22 14:55] vithati commented on #8061
@Strandfelt, Can you share debug logs. Add system.debug varaible with value true and trigger release.

[2018-08-22 15:45] sramssh commented on #8017
@acesiddhu Issue is fixed. We have had good test runs from past 4 days.

[2018-08-22 15:48] jasonbert opened #8113 "Visual Studio Test task isn't generating code coverage for xUnit"
## Environment
VSTS - unable to provide account due to privacy restrictions

- Agent - Hosted or Private:

Private
10.0.14393
Azure Windows Server 2016 Datacenter

## Issue Description

**Task:** Visual Studio Test
**Issue:** code coverage file is empty after running xUnit tests

* Unit tests run, produce results (trx file) and publish them to VSTS without issue
* Code coverage file is created, bu

[2018-08-22 16:05] acesiddhu commented on #7829
@davoodharun mstest will work fine. Prachi has linked a nunit issue because of which these properties r not getting populated in nunit test case.

[2018-08-22 16:06] acesiddhu commented on #8017
@sramssh thanks for confirming

[2018-08-22 16:13] bergmeister opened #8114 "VsTestv2 does not fail if it cannot find tests"
VsTestv2 emits only one warning when no test assemblies were found:
[code]

This leads to a green build/releease and therefore it is not easy to spot that tests are not being run any more by mistake (e.g. due to a rename of assemblies where the build/release definition was not updated accordingly).
The expectation of the task should be that there are test assemblies with matching tests to test for

[2018-08-22 16:33] elvisFabian commented on #7836
@pagangil

`$(Build.SourcesDirectory)/TestResults/unittest`

![image](https://user-images.githubusercontent.com/5919130/44477003-70aa7000-a607-11e8-9da7-e64cfc01debe.png)

[2018-08-22 16:34] acesiddhu commented on #8114
@bergmeister this is the current behavior today In tfs as well as vsts. We cant change the default beaviour to fail the task here, because there would be many customers who might have no matching test dlls in the path but would be using a test task (given that it is part of template). Adding @PBoraMSFT to get her prospective.

[2018-08-22 17:07] shortstuffsushi commented on #8065
Ok, adding the `UseVerifiableInstrumentation = False` seems to have worked, could you explain why?

[2018-08-22 17:12] acesiddhu commented on #8065
you are using visual studio test tools installer task in your definition. in case that task is used useverifiable property needs to be set to false because in xcopy mode we don't GAC the above dll 'Microsoft.VisualStudio.CodeCoverage.Shim (this is a dependency which needs to be loaded when useverifiable is set to true)

marking this property false ensures it doesn't use this particular dll.

[2018-08-22 17:59] lkillgore commented on #8063
Hi @seanbriceland, thank you for letting us know about this.  We have a fix rolling out now.  I expect your account will receive the fix soon (probably the next day or two).

I apologize for the inconvenience.

[2018-08-22 18:30] aharris commented on #8032
@vithati Thanks for the reply.

I tried your suggestions and am still getting the following issues:

[code]

[code]

[2018-08-22 21:05] scott-lin commented on #7839
@daveVSTS, can you provide an ETA on this issue? We're currently blocked from getting our CI to work.

[2018-08-22 21:23] jafreck opened #8115 "Docker v0 does not respect the buildContext key"
# Issue Description

Task Dockerv0 does not seem to respect the `buildContext` key in the yaml definition.

yaml snippet:
[code]

Command from VSTS build logs:
[code]
The build context set in the yaml definition for the docker build is `$(Build.SourcesDirectory)` which should resolve to `/home/vsts/work/1/s/`, and if I look at the output of the first step which prints  $(Build.SourcesDirectory), I

[2018-08-22 21:30] bergmeister commented on #8114
I think then there should either be an option for it or a breaking change be made in a major version bump.
In general I would also like to see options such as marking the build as orange (partially succeeded) if e.g. a test had to be re-run.

[2018-08-22 21:45] jafreck commented on #8115
Closing since it appears the v0 of the task uses `context` and v` uses `buildContext`.

[2018-08-22 21:45] #8115 closed

[2018-08-22 22:45] eavonius opened #8116 "Docker task broken"
We've been using the VSTS online docker task in release manager to build a docker image that gets pushed to an azure container registry.

We then deploy a fabric service package that downloads it.

This has been working fine for months, until an upgrade was just released today to VSTS online for the docker task and now we're getting an error after the fabric downloads the docker image:

**Exceptio

[2018-08-23 02:07] #7461 closed

[2018-08-23 05:00] acesiddhu commented on #8065
Hi @shortstuffsushi I am closing the issue. Thanks

[2018-08-23 05:00] #8065 closed

[2018-08-23 05:04] SumiranAgg commented on #7601
@samuelbcollie What is the error you see? Is it in your custom script?
As per our testing the context persisting has been fixed in 6.7.0 PS version. Also in our Azure tasks we clear all context before logging in with service principal credentials.
In what scenario are you facing the issue?

[2018-08-23 05:17] mathewkuruvila commented on #6294
@nigurr The solution will retry the failed test cases. But retry for data provider based test cases is not working fine properly. It will mark a test case as passed, even if it has some failures. And it won't retry again.

[2018-08-23 05:18] vincentdass commented on #8090
@pallavkaulwar , the fix is deployed in most of the rings. Can you please requeue the deployment and observe the behavior?

[2018-08-23 05:35] nigurr commented on #6294
@mathewkuruvila can you please file new bug and share the sample, we will look into this.

[2018-08-23 06:06] vincentdass commented on #8110
@lachiemurray , sorry for the issue you are facing.
We found the cause of the issue and working on the fix.

[2018-08-23 06:30] prawalagarwal commented on #8040
@illumination7272 are you still facing this issue? If yes, can you share the logs on the id mentioned in the last comment. Thanks!

[2018-08-23 06:54] illumination7272 commented on #8040
Yeah i have contacted microsoft support team and they provided me with an answer

[2018-08-23 06:55] #8040 closed

[2018-08-23 06:55] JohannesDrexler opened #8119 "Publish Build Drop: Fails with 'No http handler was found for request type PUT'"
## Environment
- Server - VSTS or TFS on-premises?
    vsts

- Agent - Hosted or Private:
    private, win2012r2, agentversion 2.139.0

## Issue Description

Task fails when trying to upload a folder with binaries.

### Error logs (this is only the failing task, system.debug=true)

[code]

[2018-08-23 07:07] JohannesDrexler commented on #8112
The id is not displayed in the frontend but if you open the WebDeveloperTools of a browser of your choice, go to library->secureFiles and open/reload the page there is a request named 'securefiles' that returns a json containing the list of securefiles and their ids.
I'd like to see the ids of some objects in the frontend too.

[2018-08-23 07:10] vithati commented on #8032
@aharris,  'action' input is case sensitive. Can you change action input to 'Run a Docker Compose command' from 'Run A Docker Compose command' and try again.

[2018-08-23 08:09] vincentdass commented on #8093
@SvenSowa, Can you please share the full debug logs to `RM_CUSTOMER_QUERIES@Microsoft.com`?

[2018-08-23 09:45] mbn-dk commented on #8063
We are experiencing the exact same issue.
Please advice when done.

[2018-08-23 10:00] martinpolivka commented on #8063
We are also experiencing the issue. Can we get an update, please?

[2018-08-23 11:52] lkillgore commented on #8063
Hi @mbn-dk and @martinpolivka, the ETA is still the same (~today).  As a workaround, you can use 'username / password' for authentication instead of OAuth until then.  When did you first notice the issue happening for you?  Also, what are your account names?

[2018-08-23 12:59] karpis opened #8123 "Index Sources & Publish Symbols doesn't handle foreign characters in path"
## Environment
VSTS with private agent running on Windows Server 2016.
Task version is 2.0.9.

## Issue Description
If path contains foreign characters, in our case Norwegian 'æ', 'ø' or 'å', the task fails after discovering files because the paths apparently get converted to another codepage.

'ø' becomes '°'
'å' becomes 'Õ'
etc.

### Error logs
[code]

[2018-08-23 13:54] mbn-dk commented on #8063
Hi @lkillgore ,
We first noticed it today. On vsts we are: https://vstssiteattention.visualstudio.com
Thanks,

[2018-08-23 14:01] lkillgore commented on #8063
Thanks, @mbn-dk.  It appears that your account should have the bits with the fix now.  Could you please verify whether that's the case or not?

[2018-08-23 14:16] pallavkaulwar commented on #8090
@vincentdass The behavior is similar. However I see the task is now running a 3.4.4 version but I think your fix is in 3.4.5 right? And now will I have the ability to mask the deployment history part to execute or control the retry attempts?

[2018-08-23 14:25] aharris commented on #8032
@vithati Thanks for this. Any plans on updating the documentation to be the correct case?

Based on this:
https://docs.microsoft.com/en-us/vsts/pipelines/tasks/build/docker-compose?view=vsts

The comment for Options is:

![image](https://user-images.githubusercontent.com/713398/44531481-e7567480-a6be-11e8-85e3-bb982916fe7b.png)

[2018-08-23 14:28] samuelbcollie commented on #7601
I have an initial inline powershell task that installs AzureRM 6.7.0. Then I have several subsequent Azure Powershell tasks that validate secrets in our key vault, set app settings, etc. My last task is an Azure Powershell script task that completes the slot swap for our app services. This task has consistently been failing with the same login error. I found this strange because the problem only s

[2018-08-23 14:31] vithati commented on #8032
@aharris, Thanks for reporting issue. I will update doc. Are you seeing any issues after changing the action input?

[2018-08-23 14:32] martinpolivka commented on #8063
Hi @lkillgore ,
I think all builds are failing from yesterday evening.
Our account name is https://summitmedia.visualstudio.com/.
Thanks.

[2018-08-23 14:41] aharris commented on #8032
Everything seems to be working now thanks!

[2018-08-23 14:41] #8032 closed

[2018-08-23 14:45] lkillgore commented on #8063
Hi @martinpolivka, it looks like your account has the updated bits now too.  Could you please check whether it's fixed?

[2018-08-23 14:49] JohannesDrexler opened #8124 "NugetV2: No error when configured solution/project/etc path doesn't exist"
## Environment
- Server - VSTS or TFS on-premises?
    VSTS

- Agent - Hosted or Private:
    private, 2016, agentversion='2.139.0'

## Issue Description

The task was is configured to restore packages for a solution in a subfolder of the repo. The folder was renamed so that the configured path doesn't point to anything anymore. The task doesn't fail, it just adds credentials to the temporary nuge

[2018-08-23 16:12] shortstuffsushi commented on #8065
@acesiddhu I count three open issues here.

1. Use Code Coverage Enabled ignores user `.runsettings` files
2. `.txt` generated files aren't being cleaned up
3. Disabling Code Coverage Enabled causes errors because `Microsoft.VisualStudio.CodeCoverage.Shim` is unavailable

I'm at a point where I can work around these, but ideally they'd be fixed right? Are you tracking them internally or something?

[2018-08-23 16:52] briannipper commented on #7830
@lovakumar
Thank you so much for the offer...

I'll apologize in advance for having to ask so many questions.

I've cloned the repo locally made a branch and made what I think are the right changes and I'm ready to create a PR; however, when I attempt to push to origin <my branch name> I get a 403 which I assume means I need to put my changes somewhere else in GitHub to create the PR off of it.

I

[2018-08-23 16:59] lovakumar commented on #7830
@briannipper looks like you don't have write permissions on the repo. I will get you added tomorrow. After that you need to push your changes to a users branch like origin/users/briannipper/mywork and then create a PR from that branch to master branch.

Here is documentation link https://github.com/Microsoft/vsts-tasks/blob/master/docs/contribute.md

[2018-08-23 21:58] kwilson803 commented on #8110
A similar error has now cropped up in Azure App Service Deploy 4.3.1.
![image](https://user-images.githubusercontent.com/22158974/44554188-03c5d180-a6fe-11e8-96aa-32e484b67e46.png)

[2018-08-23 22:13] kwilson803 commented on #8093
I'm having a similar issue with Azure App Service Deploy that just started happening recently.
https://github.com/Microsoft/vsts-tasks/issues/8110#issuecomment-415584463

[2018-08-24 00:39] mathewkuruvila opened #8130 "Retry of failed test cases with data provider will mark as passed[Even though the test has failed]"
When executed data provider based test cases using the approach mentioned in [https://github.com/Microsoft/vsts-tasks/issues/7545#issuecomment-403024781](url) the test case is marked as passed, although there are failures in the execution result. Please check the attached screenshot.

`        [TestMethod]
        [DataSource("Microsoft.VisualStudio.TestTools.DataSource.XML", "TestData.xml", "Test

[2018-08-24 00:45] kwilson803 commented on #8110
So, I've solved this. For anyone one else who may have this weird issue, here's what I did:

- On the Azure App Service Deploy task in your VSTS definition, Select Version 3.*, dropping down from 4. *(preview)

- In Azure, drop the App Service resource group

- Recreate the App Service resource group in Azure, either manually or through ARM templates

- In VSTS, Create a new release and deploy

-

[2018-08-24 04:32] lovakumar commented on #7830
@briannipper I just learnt that in order to create a pull request on this repo: you will need to fork the repo, make changes and then publish PR.

[2018-08-24 04:41] bansalaseem commented on #8116
@Anumita from the team looked at it and observed that it looks like a service fabric issue more than a docker issue. You hit this issue when the container os version and the host os version is incompatible as described in https://github.com/Azure/service-fabric-issues/issues/1059.

[2018-08-24 04:44] eavonius commented on #8116
Why would this suddenly change? The service fabric has been at the same version, the Visual Studio project that produces the package that gets deployed (and is configured to pull in the docker image from the container registry) was not changed. How does the host and os version suddenly become incompatible?

[2018-08-24 05:27] eavonius commented on #8116
Thanks @bishal-pdMSFT. I'll see about turning on that cluster manifest setting.

Where do I run the docker image prune command?

[2018-08-24 05:28] bishal-pdMSFT commented on #8116
You will need to run it on the Sf cluster node which might be running low on disk space and hence reporting error in SF explorer.

[2018-08-24 05:42] eavonius commented on #8116
I'm so sorry, we inherited this code base from another vendor and I feel stupid asking. How do I run local commands on the cluster node? Is this via CLI the https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cli?

[2018-08-24 05:57] SumiranAgg commented on #7601
@samuelbcollie Can you share debug logs for the failed task. Add System.debug variable with value true and redeploy.

[2018-08-24 06:01] vincentdass commented on #8110
@kwilson803 , the bug is a regression in our recent code change.
There is no need to re-create the App Service or release. We are in process of rolling out the fix and will update the thread once the deployment is completed.

[2018-08-24 06:07] vincentdass commented on #8090
@pallavkaulwar , currently, we have removed the retry for Ping Application and update deployment status. This will significantly reduce the deployment time. This is the fix we are currently rolling out.

Other part of the issue that we are investigating is about the error message (ECONNRESET). It looks like this issue exists for a long time and became visible due to increased deployment time. We a

[2018-08-24 06:38] mbn-dk commented on #8063
Thank you @lkillgore  - working now

[2018-08-24 06:48] dennismi opened #8131 "npm tasks v 1.*"
## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version: 15.117.26714.0

- Agent - Private:
not agent specific

## Issue Description

I'm currently trying to make use of the builtin npm feed capabilities in our tfs 2017.2 (I know there is a .3).
I have tried following the documentation but they are using v 1.* of the tasks, and I only have v 0.* avai

[2018-08-24 07:09] martinpolivka commented on #8063
It works for us as well. Thanks @lkillgor.

[2018-08-24 07:27] plang85 commented on #958
@GersonDias try this
[code]

[2018-08-24 07:36] techyian commented on #8112
Thanks @JohannesDrexler, can confirm this returns the data I'm looking for.

+1 for getting this in the front end.

[2018-08-24 07:36] #8112 closed

[2018-08-24 07:45] bstoop-github commented on #7898
Should not VSTS determine whether there are Azure Powershell tasks within the phase? And if so, download/import them upfront (only once!)  At this stage for each individual task all modules are being imported, as @elangelo mentioned. This is a waste of time.

[2018-08-24 07:51] bishal-pdMSFT commented on #8116
you can rdp into the node VM and run the command. The nodes run on VMSS and hence you will need to find the IP and port from inbound NAT rules in load balancer.

[2018-08-24 09:00] jo3yk opened #8132 "Unable to upload CopyFilesOverSSHV0 task to VSTS marketplace - The task.json file was not found in contribution"
I have made some modifications to the SshV0 and CopyFilesOverSSHV0 tasks, and have been attempting to publish them as VSTS extensions to the marketplace for testing. The vss-extension.json for my modified CopyFiles task is as follows:

[code]

My build/package process is as follows:
1. ```node make.js build --task <Task>```
1. Copy the vss-extension.json file into _build\Tasks
1. ```tfx extension

[2018-08-24 09:29] dalemyers commented on #7951
Bumping this. We are seeing this sort of error pretty frequently. (Around 1 in 100 builds)

Is there anything we can do to mitigate this before a fix is made?

[2018-08-24 10:05] iggyshu commented on #8089
The issue seems to be caused by how TFS handles _$name_ and _$target_ parameters. I noticed that the retention policy was attempting to delete the artifacts from:

`$target\$name`

..location, which in our case resulted in e.g.:

`\\build_share\artifact_name\artifact_name`

I was able to overcome the problem by changing the original snippet to use the parent folder of the artifact:

[code]

[2018-08-24 11:06] bergmeister opened #8133 "VsTestv2: Mark task as SucceededWithIssues if tests had to be re-run"
The option to re-run failed tests in VsTestv2 is nice but I still want to see if a 'green' run had to rerun at least 1 test in order to be 'green'. At the moment I have to look into each release result in order to know that information (because it is still worthwhile to investigate why a test failed sporadically). Marking the task as SucceededWithIssues if all tests passed but at least one test ha

[2018-08-24 11:39] lkillgore commented on #8063
Thanks for letting me know!  And, again, sorry for the inconvenience.

[2018-08-24 11:39] #8063 closed

[2018-08-24 12:45] eavonius commented on #8116
I was wondering how I get into the VM scale set! Thanks, I made the manifest change last night, going to try the explicit purge this morning.

[2018-08-24 12:45] bryanmacfarlane commented on #8131
You should be fine to install the npm v1 task on 2017.  It supports the 2.x agent and min version is low (use that)

https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/NpmV1/task.json#L21

Use tfx to upload.  You'll be fine when you upgrade the server later since it merges in the box and custom and then resolves.

[2018-08-24 13:02] eavonius commented on #8116
@bishal-pdMSFT you're suspicion was correct. The fabric cluster's drive is COMPLETELY full!

If y'all could see about having "Container image history check failed after successful download" instead say "The drive on your fabric cluster node is full" that would save a lot of headaches :)

Appreciate your support!

[2018-08-24 13:06] bryanmacfarlane commented on #8131
Xaml 2018.2 and .3 can use xaml.  Must use 2015 controllers and agents.

https://blogs.msdn.microsoft.com/bharry/2017/05/30/evolving-tfsteam-services-build-automation-capabilities/

Probably a better more formal path.

[2018-08-24 14:08] bishal-pdMSFT commented on #8116
@eavonius this error is coming from service fabric and not from VSTS task and hence we can't change it. You can open an issue with SF team to get that addressed https://github.com/Azure/service-fabric-issues/issues/

[2018-08-24 14:11] eavonius commented on #8116
Thanks @bishal-pdMSFT I will do that. I am still waiting for the node to become responsive again after making manifest changes that will hopefully clean up the temporary files. Fingers crossed! :)

[2018-08-24 15:22] jsancho opened #8134 "Azure App Service Deploy: Internal server error 500"
## Environment
- Server
    - VSTS
    - account name: vehnet
    -  project name: VOS6-web-api
    - release pipeline: Deploy .NET Core API to Azure
    - release number: release-56

- Agent
    - private agent
    - OS: Ubuntu 16.04
    - agent version: 2.138.6 (docker image)

## Issue Description
- Task type: Azure App Service Deploy
- Task name: Deploy WebApp to slot
- Task version: 3.*

The i

[2018-08-24 15:33] samuelbcollie commented on #7601
Yes, but I would rather not upload them to a public thread. If there's an email that I could send them privately, that would be great. As a side note, I made a test pipeline that converted all of my azure powershell tasks to regular powershell tasks with a manual login, and that seemed to work fine.

[2018-08-24 16:00] anand5555 opened #8135 "SonarQube Analysis in Release Section of VSTS"
I am Building and Deploying the code from Release section of VSTS (AS i GET A BETTER VIEW OF THE PIPELINE). The Publish Quality Gate Result task gives the following error. "[error]Path must be a string. Received undefined"

![image](https://user-images.githubusercontent.com/31290069/44594751-15a68380-a795-11e8-9f94-59ff9e3e077d.png)

![image](https://user-images.githubusercontent.com/31290069/4459

[2018-08-24 16:29] mlinnell commented on #8110
Could this be related to an issue in Kudu right now where ZipDeploy fails on Fetching Changes? (it gets to Fetching changes and just stops.  Not sure how to see a more detailed log view from Kudu).

[2018-08-24 17:24] nspillson opened #8136 "VSTS - Visual Studio Test Task"
I'm trying to get code coverage working for a .NET Core 2.1 project. I've tried using both MSTest and XUnit, using the Visual Studio Test task in VSTS. I can get the tests to run fine using the .NET Core Test task. When running using the Visual Studio Test task I get the following:

[code]

Seems like it should be pretty straight forward to setup, but it's been a frustrating endeavor so far.

[2018-08-24 17:40] lambol opened #8137 "Cloud Service Deployment: 'AzureRM.Profile' with version '4.2.0' was not loaded"
## Environment
- Agent - Private:
Agent.OS | Windows
Agent.OSVersion | 10.0.14393
Agent.Version | 2.138.6
AzurePS | 5.0.1

## Issue Description
Release definition fails a cloud service deployment step. The reason seems to be loading a the script modules.
I have reproed the issue across 3 agents in our pool.
No change to the definition which has worked without issue for 6 months.

### Error logs
--

[2018-08-24 19:52] maysamms opened #8139 "Help - Updating the manual test plan from the automation"
Good afternoon,

I wonder if it is possible to perform the process below. I've tried it in many ways, but I still can not get any positive results. So I do not know if it's possible to do this or I really can not.

I've created a test automation project to run on build, with BDD.
I created the project and checked in on VSTS.
After that, I created the build and ran my test solution.
All the tests w

[2018-08-24 20:09] debashis1982 opened #8140 "Azure SQL Database Deployment - Invoke-sqlcmd fails when password has special characters"
Task - Azure SQL Database Deployment
Version - 1
Agent - Hosted
Phase - Release
Issue Description - On trying to run Inline SQL script we get login failed error if the SQL Password contains special characters like semi-colon(;)
Solution - Enclose user ID and password between single quotes when executing Invoke-sqlcmd command through this task. Thanks!

[2018-08-24 21:51] CodingInTheWoods opened #8141 ".testsettings deployments items not being"
## Background
I am working on testing migration from a private TFS server (version 15.117.27024.0) to VSTS.  I have "transcribed" the build definition as close as possible to the original with a hand-full of minor modifications to fit the updated format.  The TFS version builds and tests without issues.  The VSTS version is failing to deploy items specified in the .testsettings file.

## Environme

[2018-08-25 03:06] lvsezhufu opened #8144 "Enable to specify ExcludePatterns for solutions in VS build task and MSBuild task"
For now, what we can specified solutions in VS build task (same for MSBuild task) **Solution** option is only for the `IncludePatterns`.

![image](https://user-images.githubusercontent.com/23092306/44614397-75b12e80-a856-11e8-89cb-1d75c8109ce0.png)

And it seems `ExcludePatterns` is defined for VS Build task, but there has no entries for users to use it.

![image](https://user-images.githubusercon

[2018-08-25 11:44] krish-gh commented on #6846
That should be fine..

[2018-08-25 16:28] prawalagarwal commented on #8130
Hi @mathewkuruvila,
Please send us your build logs with system.debug build variable set as true in your definition. You can send the logs on devops_tools@microsoft.com. It will also help if you can share a sample project with one of the tests where you observe this behavior. Thanks!

[2018-08-25 16:36] prawalagarwal commented on #8058
@joshmackey we have fixed an issue in time based slicing on VsTest task. Please check your runs for change in batching behavior. Thanks!

[2018-08-25 22:57] WhitWaldo opened #8145 "VSTS Service Fabric deployment task very rarely successfully completing"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS
Account Name: ebiquity-na
Team project: Hyperion
Build definition: Hyperion Full Cluster
Release numbers:
Release-185, attempts 1-4
Release-186, attempt 1 (worked on attempt 2)
Release-187, attempts 1-7
Release-

[2018-08-26 01:53] WhitWaldo commented on #8145
Following up on this, I'm able to deploy without issue from my development machine within Visual Studio 2017 Enterprise.

I've toggled just about all the options related to this in the release task - I've tried enabling/disabling compression, diff releases, setting the timeout values, not setting them and using the defaults, and manually setting the MaxMessageSize fabric setting on the service fab

[2018-08-26 12:27] vincentdass commented on #8134
@jsancho , Can you please update the task version to `4.*`?
In Linux agent, `3.*` version uses `Zip API` that caused this issue. We have fixed the issue in `4.*` that uses `Zip Deploy` for Linux agent deployment.

[2018-08-26 16:07] zorkind commented on #6513
I just want to say that the CONTENT_SHARE and the other connectionstring setting is ONLY for CONSUMPTION plans!

As stated in this artigo:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobsstorage

If you apply this settings on a diff plan, your App will stop working.

[2018-08-26 16:45] yanrez commented on #7037
@nigurr can you please explain why setting batch size helps and how it related to the option to rerun failed tests?

[2018-08-26 17:23] SumiranAgg commented on #7601
You can share the failure logs at RM_Customer_Queries@microsoft.com
Corresponding to your powershell task pipeline, are you clearing context before each new login?

[2018-08-27 04:34] acesiddhu commented on #8072
@rikvandenberg hope the dump helped you get to the root cause? I am closing the issue for now. Please reopen or create a new ticket if you are facing the issue still

[2018-08-27 04:34] #8072 closed

[2018-08-27 05:00] bishal-pdMSFT commented on #6846
@krish-gh we haven't heard this requirement from any other customer. Most of the people actually want the connection to be defined in service endpoint as it enables them to create a secure(proper permissions set on service endpoints), well-defined(deployment to a particular prod environment will happen only through a particular release environment) deployment workflow.
FWIW you can create service

[2018-08-27 05:49] acesiddhu commented on #7037
When we set a batch size in the task, task runs the test by calling into API of the test platform instead of calling vstest.console.exe command line. The problem with command line is it doesn't work well with test cases with , . spaces etc.

[2018-08-27 06:08] PBoraMSFT commented on #8114
Marking as enhancement.

[2018-08-27 06:39] WhitWaldo commented on #8145
@bishal-pdMSFT Don't know what to tell you - it's been working great deploying from VSTS for over a year and this cluster instance hasn't given me a problem for the last month it's been around either. All of a sudden last week, I can't deploy successfully but 5% of the time, if that.

Works fine if I deploy from my dev machine itself.

I found several issues in the Service Fabric repo that match t

[2018-08-27 06:40] prawalagarwal commented on #8136
@nspillson .NET Core support is from VS 2017. Please update your agents to VS 2017 or use the tools installer task to run your tests.

[2018-08-27 06:49] prawalagarwal commented on #8130
@mathewkuruvila Regarding your note that retry of passed test cases shouldn't happen, that is by design today. The way we execute data driven tests today in VsTest task is by passing the FQDN of the parent test and not individual iterations. In fact discovery of MsTest based data driven tests also returns only one FQDN and not all iterations (that again is by design).

[2018-08-27 08:38] henryju commented on #7591
https://developercommunity.visualstudio.com/content/problem/321581/feature-request-add-pull-request-user-friendly-bra.html

[2018-08-27 08:44] henryju commented on #7592
https://developercommunity.visualstudio.com/content/problem/321583/feature-request-add-a-build-variable-to-know-if-th.html

[2018-08-27 09:31] kuvinodms commented on #8104
Task is working fine.
Try this:
'echo single percent sign %% and double percent sign %%%%'

For more info, refer this link https://jeffpar.github.io/kbarchive/kb/075/Q75634/

[2018-08-27 09:39] kuvinodms commented on #8116
Hi @eavonius, Is your cluster working fine post clean up ?

[2018-08-27 10:11] singhsarab commented on #8113
Let's try to collect some more information.
Try analyzing *.coverage file generated, follow the instructions here
https://github.com/danielpalme/ReportGenerator/wiki/Visual-Studio-Coverage-Tools#codecoverageexe

Also, please enable debug logs (set system.debug as true in build variables)

[2018-08-27 10:26] acesiddhu commented on #8072
Thanks for letting us know. Do open a new issue if you are facing any issues.

[2018-08-27 13:07] jessehouwing commented on #3313
The official way, from a license perspective, is to install Visual Studio Enterprise.

The Test Agent bits contain the required bit to gather code coverage, but you're officially not licensed to use them.

[2018-08-27 13:08] jsancho commented on #8134
@vincentdass ,, that's done the job.
Switching to task 4.* (preview) has fixed it, well happy with that :)

Thanks very much

[2018-08-27 13:15] samuelbcollie commented on #7601
Yes. I'm clearing the context manually at the very end of each script.

[2018-08-27 13:34] pallavkaulwar commented on #8090
@vincentdass Thanks.. Seems like the fix is now rolled out and retry attempts have been minimized in v3.4.5

[2018-08-27 13:52] astaerk commented on #7160
I moved to the NuGet task like recommended by @aldoms  and @alexmullans
This works, but dotnet nuget push also pushes symbols.
What is the workaround for publishing symbols? It seems like the NuGet task can't do it and the 'Index Sources & Publish Symbols' task only can publish to vsts or to a file share, but not to any official repo, right?

[2018-08-27 13:52] #8134 closed

[2018-08-27 14:53] ArieHein commented on #7932
What's the user case for passing secure variables, that only get decrypted at the target at hus giving you secure at-rest and at-movement, to be settable during the release time ?

[2018-08-27 14:58] ArieHein commented on #8041
well youre not supposed to map files, only folders to start with.
the .tf is the local workspace folder, the nuget.config file is set to be inside the  .gz file as the history of all commits.

Should probably include some sort of warning in the ui.

Note that its not complaining about the usage of a dot in a folder name , as you can have a folder with that name, its complaining about it being a fi

[2018-08-27 15:44] CopperStarSystems commented on #8110
I'm still experiencing this issue with V4.3.3.  I just ran a full build/release cycle which failed on the Azure App Service Deploy step:

2018-08-27T15:37:50.7738221Z ##[section]Starting: Deploy UI
2018-08-27T15:37:50.7747457Z ==============================================================================
2018-08-27T15:37:50.7747777Z Task         : Azure App Service Deploy
2018-08-27T15:37:50.77482

[2018-08-27 16:10] kwilson803 commented on #8110
@vincentdass I've already downgraded to App Service Deploy 3.* and that appears to work without issue.

[2018-08-27 17:16] joshmackey commented on #8058
Aha, we can't even run builds now as now the GetSources section fails due to git lfs changes (For external git, BitBucket also changed something that makes the BitBucket source not work either)

[2018-08-27 17:34] riezebosch commented on #8104
@kuvinodms No, the task is niet. See the sample output. Plus it is hard to escape since the balie is part of a variabele.

[2018-08-27 18:18] phatcher opened #8159 "Breaking change from vstest 15.7.2 to 15.8.0"
## Environment
VSTS
VS2017 Hosted Agent

## Issue Description
My build started breaking on Friday, it appears that the test console was silently updated from 15.7.2 to 15.8.0 even though the agent version and the MS Test task version have not changed.  I thought initially that it was my code changes that caused the issue but eliminated that by re-queuing a previous successful commit (see below). A

[2018-08-27 19:46] nspillson commented on #8136
I finally figured out what was missing. You have to install the test platform and also select the option in the drop down to use the version installed by the test platform installer:
![image](https://user-images.githubusercontent.com/31700724/44682006-30d0f780-aa10-11e8-8fd0-6c191330fa11.png)
![image](https://user-images.githubusercontent.com/31700724/44682055-55c56a80-aa10-11e8-8248-60a49c87166c.

[2018-08-27 19:46] #8136 closed

[2018-08-27 19:46] alexmullans commented on #7160
The NuGet task can also publish symbols - you just need to remove the `;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg` section of the default "Path to NuGet package(s) to publish" field, if it's still present.

[2018-08-27 20:54] nishantyedla opened #8160 "TFS 2018 - Containerized agents having build issues"
## Environment
TFS 2018
**Agent.OSVersion** - 10.0.14393
**Agent.Version** - 2.117.2

##Agent - Hosted or Private:
    Containerized agents followed the VS build Tools steps by Microsoft to setup the base image and installed Build agents on top of it:
**https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container?view=vs-2017**

## Issue Description

Running a dotnet regression test

[2018-08-27 21:44] CodingInTheWoods commented on #8141
In the meantime I've implemented a workaround where I modify the .testsettings deployment items with the absolute file path prior to testing so when these new files are generated they can find the deployment items.

[2018-08-27 22:20] manishsat commented on #2439
I have 2 powershell scripts
On macOS
PowerShell script 1
Write-Host "##vso[task.setvariable variable=myvar;]$value"
The above line worked under macOS.
I could see ##[debug]Processed: ##vso[task.setvariable variable=myvar;]/Users/abc/ in the log file
PowerShell script 2
$env:myvar ----> This does not get any value

On Windows it works fine and the PowerShell script 2 does get the proper value of "m

[2018-08-27 22:36] manishsat commented on #2439
Fixed !!
the variable name was in all CAPS in this case it was MYVAR
on windows I could access by $env:myvar but not in the case of macOS

[2018-08-28 00:05] vincentdass commented on #8110
@CopperStarSystems , Can you please share the debug logs (set variable `system.debug` to `true` and re-run the release) to `RM_CUSTOMER_QUERIES@Microsoft.com`?

[2018-08-28 02:54] Gold14388 opened #8162 "Build Error for MacOS hosted agent"
## Environment
- Server - VSTS or TFS on-premises?

   VSTS

- Agent - Hosted or Private:

  MacOS (agent manually hosted on macbook)

## Issue Description
I have an agent hosted on MacOS for building Xamarin.iOS related project. I am getting below mentioned error.
##[Error 1]
**_No agent found in pool Default which satisfies the specified demands:
     xcode
     Xamarin.iOS
     Cmd
     Agent.V

[2018-08-28 04:40] WhitWaldo commented on #8145
@bishal-pdMSFT I do have such debug-level logs available, but I'd feel better about sharing them (or others) with you directly rather than posting them in this public context and having to redact each one.

I've attached one of the "Deploy Service Fabric Application" step both when it works and when it doesn't.
[notworking.txt](https://github.com/Microsoft/vsts-tasks/files/2326522/notworking.txt)

[2018-08-28 04:43] WhitWaldo commented on #8145
@oanapl To address the possible issues you listed at https://github.com/Azure/service-fabric-issues/issues/1170:
 - The cluster is properly set up to my knowledge. I can deploy to it fine from my local machine, two weeks, I could deploy without issue from my build server via VSTS (and have been for the last year) and the application runs fine once it's there.

[2018-08-28 04:55] acesiddhu commented on #8058
@ericsciple is this a known issue?

[2018-08-28 05:30] bishal-pdMSFT commented on #8145
@WhitWaldo one thing I noticed from task logs is that SF SDK version is different for the two runs. Successful one ran with SDK version 3.1.274.9494 and failed one ran with SDK 3.2.176.9494. These twi might have run on different agents or SF SDK might have been re-installed on agent.
The task versions are same and hence there is no change in task behavior.

[2018-08-28 05:39] prawalagarwal commented on #8130
@mathewkuruvila were you able to send your logs?

[2018-08-28 07:29] SumiranAgg commented on #7049
Closing this issue since no activity. Please feel free to reopen if required.

[2018-08-28 07:29] #7049 closed

[2018-08-28 08:29] vincentdass commented on #5259
@pan-wang , Can you please share your findings on why App offline flag is not honored by IIS?

[2018-08-28 09:09] nero120 opened #8166 "Azure App Service Manage > Enable Continuous Monitoring failing"
## Environment
- Server - VSTS
- Agent - Private (Windows Server 2012, agent version 2.138.6)

## Issue Description
Recently our release started failing at the "Azure App Service Manage" task which is set to the "Enable Continuous Monitoring" action, with the following error:

[code]

Nothing had changed on our side regarding the release or Azure configuration.

### Error logs

[code]

[2018-08-28 10:07] Strandfelt commented on #8061
Full system.debug=true log, although I substituted some sensitive information with XXXXX:
[code]

[2018-08-28 10:09] kuvinodms commented on #8104
@riezebosch
Yes, the command is being executed in a batch using cmd.

- Two percent signs with any characters in between them are interpreted as a variable, hence every text after first % (till the next %) will be treated as a part of variable because of which ' and double percent sign %' textual part is missing.
- Two percent signs without anything in between (in a batch file) are treated like a

[2018-08-28 10:17] pagangil commented on #7852
@tabeth The duration for test results is calculated as the difference between `end-time` and `start-time` of the test result.
In the example xml given by you:
`<test-case id="0-1" name="Example functions as intended" fullname="Example functions as intended" methodname="undefined" classname="unspecified" runstate="unspecified" seed="null" result="Passed" label="unspecified" site="Test" start-time="

[2018-08-28 10:25] marcin-chwedczuk-meow opened #8171 "Npm V1 task does not write proper output to logs"
In my build pipeline I use Npm v1 task to run `npm test` and `npm install` commands. In the log output from the task I can see only a single line like:

[code]

This is not sufficient for my needs I would like to see detiled logs - just exactly the logs that I can see when I start npm via `cmd.exe` on my local machine. I use VSTS with the "new" visual theme.

[2018-08-28 11:34] tabeth commented on #7852
Thanks for the reply @pagangil. In other words, it's not necessary to include `duration` yourself, as it is not read (since VSTS calculates the duration itself)?

[2018-08-28 11:39] pagangil commented on #7852
Yes @tabeth , I hope this clarifies your doubt

[2018-08-28 11:39] GitHubSriramB commented on #7932
@davidsk - thanks for reporting this issue. We will fix this in upcoming deployment (it should be fixed in next 3 weeks)

[2018-08-28 11:43] ShreyasRmsft commented on #7485
Fixed in PR https://github.com/Microsoft/vsts-tasks/pull/8168

[2018-08-28 11:43] #7485 closed

[2018-08-28 11:56] tabeth commented on #7852
It does. Thanks for the answers. I'll go ahead and close this now.

[2018-08-28 11:56] #7852 closed

[2018-08-28 11:59] pagangil commented on #7815
@iPiyushPatel Is it possible for you to share the trx file you're trying to publish.
Also where is the code which you've posted from (`TestContext.AddResultFile(Log.LogPath`) and what it is trying to do?

[2018-08-28 12:33] JohannesDrexler commented on #8162
The cmd-demand comes from your last task in the builddefinition. This task is supposed to run on windows only. You might want to use "Command Line" (v2) which executes on the systems default shell.

[2018-08-28 12:52] sergienko4 commented on #5472
I have the same error with Delete Files from' Task.
:-(

[2018-08-28 13:09] vithati commented on #8061
@Strandfelt,  In 0.1.2 version kubernetes task, agent checks 'kubectl' installed on agent machine or not. if it not installed, it download 'kubectl' to temporary directory and after task completed it deletes the temporary directory. In this task version, agent downloads kubectl but not setting execute permission, due to this you are seeing this issue. This issue fixed in later version of tasks. Ca

[2018-08-28 14:07] ericsciple commented on #8058
@TingluoHuang ?

[2018-08-28 14:08] pallavkaulwar opened #8176 "ECONNRESET. Message: tunneling socket could not be established, statusCode=503."
## Troubleshooting
This issue is already fixed in the Deploy task. The same has to be replicated in this too. #8090
https://github.com/Microsoft/vsts-tasks/issues/8090#issuecomment-414916552

## Environment
VSTS is being used for the deployment to a Windows web app on Azure using Service Principal

The Service Principal has contributor access on the resource group

Agent - Hosted or Private:
Priva

[2018-08-28 14:18] Ajay-MS commented on #8166
@nero120

It seems REST API to configure application insight has returned status code : 201 instead of status code: 200. The task is only handling status code 200.

We will fix this issue soon and will update you.

Also, can you confirm from your Azure portal that though task has been failed Application insight has been configured correctly to the resource?

[2018-08-28 14:30] singhsarab commented on #8159
@phatcher Can you please send the logs to devops_tools@microsoft.com
I'll take a look and get back to you.

[2018-08-28 15:13] oanapl commented on #8145
@WhitWaldo , the fastest way to make progress is to open a support ticket. We will need Service Fabric traces from the cluster and the client machine (where the VSTS agent is running). If you don't know how to collect them, you will get instructions as part of the ticket processing.
If you have the traces, you can also send them to me directly at oanapl at microsoft.com

[2018-08-28 15:51] Gold14388 commented on #8162
Thank you Johannes. After removing the batch task from build definition, The build does works well. I was using it for running git command as  .ipa file generated by build needs to be pushed to github.

[2018-08-28 16:33] nero120 commented on #8166
Hi @Ajay-MS, yes it is configured correctly, the task (and the release) was succeeding before the "Azure App Service Manage" task started failing, and there were no updates to the release from our side.

Thanks for looking into this.

[2018-08-28 16:47] #8162 closed

[2018-08-28 16:57] joshmackey commented on #8058
I disabled the GetSources step and wrote some powershell that did the checkout manually. The batching behaviour does indeed seem to be fixed.

Regarding the GetSources step, my colleague wrote up the bug here: https://developercommunity.visualstudio.com/content/problem/320826/bitbucket-cloud-service-connections-cannot-get-sou.html

However, both the External Git AND the build in BitBucket support

[2018-08-28 17:37] thoaingan opened #8178 "VSTS Release - Azure SQL Database Deployment - Errors occurred while modeling the target database."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS
        - Provide the account name: tcb.visualstudio.com
        - Team project name: BSG
        - Release: https://tcb.visualstudio.com/BSG/_releaseProgress?releaseId=1197&_a=release-environment-logs&environme

[2018-08-28 23:32] jotaylo commented on #8044
Which version of the nuget push task did you see this in? Was the previous successful push a different version of the task?

[2018-08-29 02:17] Banzboy opened #8182 "Deploying with Azure App Service Deploy "encountered request timedou issue in Kudu. Retrying again""
## Environment

- Server - VSTS

## Issue Description

Currently we have a VSTS Release pipeline that deploys to an  Azure App Service. It does so through Azure App Service Deploy task.

In Azure App Service Deploy there is an option to include a Post Deployment script. Currently in that script we run an executable. When deploying to the App Service and debugging the deployment we see that the exe

[2018-08-29 03:16] mathewkuruvila commented on #8130
@prawalagarwal I can't send you the logs. It is against my company policy. You can mock this scenario very easily. Create a test case based on DataSource. Make sure that the test case fails

In VSTS, create a build with retry option. Follow the mitigation approach specific in https://github.com/Microsoft/vsts-tasks/issues/7545

Then you will be able to see the issue.

[2018-08-29 03:26] mathewkuruvila commented on #8130
@prawalagarwal Also for the retry[Passed test cases are getting executed again] is happening only if followed the mitigation approach mentioned in [https://github.com/Microsoft/vsts-tasks/issues/7545#issuecomment-403024781](url) . This won't be helpful if i have some 100 iteration and only 1 failed. So all the test cases will be picked up for execution.

If the above mitigation approach is not use

[2018-08-29 04:46] vincentdass commented on #8176
@pallavkaulwar , we fixed this issue in Azure App Service task as well, but only App Service Deploy task is deployed. Our daily deployment would deploy all the tasks and the issue should be resolved in ~1-2 weeks.

[2018-08-29 05:27] prawalagarwal commented on #8058
@joshmackey Closing this thread as your original issue is fixed. Please reopen if you face any further issues here. Thanks!

[2018-08-29 05:27] #8058 closed

[2018-08-29 06:01] Ajay-MS commented on #8078
@onlyutkarsh

Thanks for raising concern. We have fixed this issue will be deployed within the next 2 weeks.

[2018-08-29 06:01] #8078 closed

[2018-08-29 07:33] illumination7272 opened #8185 "Agent Connecting to server problem"
the problem started today :

error logs of agent:

[2018-08-29 07:24:15Z INFO VisualStudioServices] Starting operation Location.GetConnectionData
[2018-08-29 07:24:16Z WARN VisualStudioServices] Attempt 1 of GET request to https://***.visualstudio.com/_apis/connectionData?connectOptions=1&lastChangeId=167493675&lastChangeId64=167493675 failed (WinHttp Error: ERROR_WINHTTP_CANNOT_CONNECT). The oper

[2018-08-29 07:49] #8185 closed

[2018-08-29 07:57] SumiranAgg commented on #4734
Are you still facing this issue?? If yes, please share above details.

[2018-08-29 09:14] NetTecture opened #8186 ".NET Core Tool Installer should allow defining a base path for finding a global.json"
Current version requires me to define the installed SDK version hardcoded.

We use a GIT standard flow where different branches have different purposes (master is release, develop is where we develop actively).

I need the same build flow to select the sdk version based on a global.json in the hierarchy of folders, nothardcode it. so that when I build master, it uses the sdk version installed in t

[2018-08-29 09:39] dennismi commented on #8131
@bryanmacfarlane I'm trying to upload the v1 to our tfs... but when running `gulp package` I am getting the following error:
`

fs.js:904
  return binding.readdir(pathModule._makeLong(path), options.encoding);
                 ^
Error: ENOENT: no such file or directory, scandir 'F:\vsts-tasks-master\\_package\milestone-layout'
    at Object.fs.readdirSync (fs.js:904:18)
    at Object.createNugetPa

[2018-08-29 09:47] prawalagarwal commented on #8141
Hi @CodingInTheWoods , All your observations are correct about why these files are getting looked into temp folder. Unfortunately, this by design today (due to several reasons reported by other customers) and we recommend using the deployment item attribute with your tests to handle deployments if you cannot continue with absolute paths in the test settings file. Also you may want to start using r

[2018-08-29 10:22] bergmeister opened #8187 "VsTestV2 fails to upload test results: XmlException - Root element is missing"
## Environment

- Server : VSTS
- Release log: https://rcss-02-willistowerswatson.visualstudio.com/Unify/_releaseProgress?releaseId=10400&environmentId=10798&_a=release-environment-logs
- Agent : Private (run in interactive mode)
- OS: Windows 10 - 1803
- Agent version 2.134.2

## Issue Description

[Include task name(s), screenshots and any other relevant details]

### Error logs

[code]

[2018-08-29 10:39] prawalagarwal commented on #8187
@bergmeister Can you provide the trx file which caused this? You can send it to devops_tools@microsoft.com

[2018-08-29 10:46] bergmeister commented on #8187
@prawalagarwal The file does not exist on the machine any more because another release (from a different release definition) ran on the same agent, which seems to have deleted the trx file that was supposed to be in ` D:\_Builds\E20-IX-UNWB007Q.01\_temp\TR_bdd91290-35a4-4d0c-bc3d-3ff8e18fa6f0\sveAzRCSTST_E20-IX-UNWB007Q_2018-08-28_19_01_23.trx`

[2018-08-29 12:29] riezebosch commented on #8104
https://s01rabovstsawin.blob.core.windows.net/system/Microsoft.Compute/Images/rabo-vsts-agent-win/windows-agent-osDisk.54583b19-f8c6-48da-869e-c5242d517f26.vhd?se=2018-09-09T15%3A17%3A21Z&sig=ekcIq4B7vwOU5HuKKGruHKs9I2xyjrmF7xC7OFclL5Q%3D&sp=r&sr=b&sv=2016-05-31

[2018-08-29 12:34] Ajay-MS commented on #8178
@thoaingan

You are right, theoretically, behavior should be the same for both executed the command locally or on the hosted agent.

I have tried it with the hosted agent 2017 but not able to repro so probably I am missing something in this scenario.

Can you please verify the following items
1.  Check if target platform for dacpac file that you are providing as input is V12.
2.  The firewall rule

[2018-08-29 12:42] dennismi commented on #8131
Damn i need to get some instructions on how to build those tasks

I have found the command for building it, but no package is produced. I am trying with:
`gulp package --task NpmV1`
it runs all tests, and finishes with skipping publish, because i have specified a task. Which is ok.

But there isn't any vsix i an upload, and i can't even create an vsix with tfx extension create, because tfx needs a

[2018-08-29 12:49] bryanmacfarlane commented on #8131
From the front readme, the contribution link:  https://github.com/Microsoft/vsts-tasks/blob/master/docs/contribute.md

There's instructions on how to build a single task.

[2018-08-29 13:06] arjgupta commented on #8137
@lambol, did you update the version of Azure PowerShell on your agent machines recently ? In the successful case, the module was imported from a location under the program files directory but in case of error, it is importing it from the default windows powershell module directory. Restart the agent machines and try again. Otherwise, Try removing existing installations and reinstalling. You can ge

[2018-08-29 13:29] #8160 closed

[2018-08-29 13:35] dennismi commented on #8131
I have found that, but it doesn't give any output i can use to upload to my TFS, tfx complains about missing an vss-extension.json, and none of the json files already there can be use, either alone or joined together with --manifests-globs *.json ...

[2018-08-29 13:57] jburbach commented on #8063
This seems to be happening again.

[2018-08-29 14:13] stephenmichaelf commented on #8063
@jburbach Is the agent hosted or on prem? Can you email debug logs to:

stfrance at microsoft dot com

[2018-08-29 14:24] daantimmer opened #8193 "SourceBranchName is not the full name. Troublesome for scheduling Jenkins (multibranch pipeline) jobs"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting
- Not required

## Environment
- Server - VSTS or TFS on-premises?
Microsoft Visual Studio Team Foundation Server
Version 16.122.27102.1

- Agent - Hosted or Private:
N/A

## Issue Description
When creating Job definitions where a Jenkins job

[2018-08-29 14:50] farrukh-normuradov commented on #6840
We are not seeing the error in the logs, please, reactivate.

[2018-08-29 15:01] ohelin2 commented on #6119
Hello,
I'm not sure to understand all the nuget mechanisms. I have an on-premise TFS with nuget feeds and a shared folder to store PDB. My build definitions use "Index Sources & Publish Symbols" V2.

Case 1: Library in .Net Framework, I'm able to debug it (VS download PDB which seems to include source files)
Case 2: Library in .Net Standard 2.0, I tried a lot of things but VS does not find the sou

[2018-08-29 15:28] pallavkaulwar commented on #8176
@vincentdass I don't see that fixed in "vsts-tasks/Tasks/AzureAppServiceManageV0/operations/AzureAppServiceUtils.ts"

Its still being used as "var response = await webClient.sendRequest(webRequest);"

At the same time I'm not sure if I'm looking at the right file.

Can we by any means push the fix faster, as we have multiple places this is effected on.

[2018-08-29 16:51] bergmeister commented on #8187
@prawalagarwal Thanks for the info. Although it is a UNC path, it is just a local file share. I will try changing it to a local path similar to your example though and will see if it improves (note that the issue is sporadic and more likely to happen in long test runs over 10 hours)

[2018-08-29 17:16] pan-wang commented on #5259
@vincentdass ANCM does honor appoffline. However, it depends on file change notification from OS. If FCN was not emitted or missed, nothing can be done by ANCM. This is the scenario for AppService.
In the past, WebDeploy only creates appoffline.htm file once instead of every deployment. This is why the retry logic does not help. We made change to webdeploy. That is webdeploy touches the appoffline

[2018-08-29 17:39] ld0614 opened #8194 "Visual Studio Versions of DAC take precedence over SQL Versions"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
    VSTS

- Agent - Hosted or Private:
    Hosted
    - If using Hosted agent, provide agent queue name:
VS2017

## Issue Description

Publish of DACPAC file works on the first attempt
Publis

[2018-08-29 18:35] ericsciple commented on #6840
@farrukh-normuradov can you download the logs zip and check there? Sometimes the streaming console can miss a web event. But I would expect to see the error in the downloaded log.

[2018-08-29 18:56] samuelbcollie commented on #8044
The previous successful push used 2.0.32 based off the logs. Unfortunately, I no longer have the logs for the failed build, so I can't check the minor version there (I didn't realize our retention policy was more strict for failed builds). The last push succeeded on August 14th, and the first fail was August 15th.

[2018-08-30 00:55] alexmarshall132 opened #8197 "Add support for the Project2ProjectTimeOut nuget.exe parameter on the NuGet task"
## Issue Description

The NuGet task should have an option to specify the Project2ProjectTimeOut parameter in order to reduce restore times.

[2018-08-30 03:45] vincentdass commented on #8176
@pallavkaulwar , thanks for the notification. Will resolve the issue in Mange task.

[2018-08-30 05:38] vincentdass commented on #8176
@pallavkaulwar . Can you please send the debug logs of Manage task to `RM_CUSTOMER_QUERIES@Microsoft.com`? We can get into call to investigate further on why the error occurred in first place.

[2018-08-30 06:59] prawalagarwal commented on #8187
@bergmeister Yes I noticed from the logs that your tests ran for a long time. Not sure if that is creating a buggy trx file or if it is some other issue. Will need to have a look at the file to determine the same. Please let us know whenever your have the trx. Thanks!

[2018-08-30 07:07] farrukh-normuradov commented on #6840
@ericsciple, I did that. The logs file contains the same logs that are presented through the UI. I also turned on debug mode and agent diagnostics.

The only error containing phrase is this:
<img width="1032" alt="screen shot 2018-08-29 at 2 34 23 pm" src="https://user-images.githubusercontent.com/31625562/44835113-67d32300-ac33-11e8-8b69-aa8eb1c820b5.png">

I search for "err" in the logs and do n

[2018-08-30 08:00] daantimmer opened #8201 "Jenkins Download Artifacts downloading artifacts from wrong jenkins job"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting
- Not required

## Environment
- Server - VSTS or TFS on-premises?
Microsoft Visual Studio Team Foundation Server
Version 16.122.27102.1

- Agent - Hosted or Private:
N/A

## Issue Description
The "Jenkins Download Artifacts" step can only dow

[2018-08-30 10:25] judavi opened #8203 "How to update vsts-tasks in on-premise environments"
Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

Environment
TFS on-premise 2017-Update3
Private Agent on Windows Server 2016

Issue Description
We have a similar issues as in #4684. In the issue it is said that the problem is fixed in a new version PR: #5622.
So how do I update the vsts-tasks

[2018-08-30 10:44] johnhydemtm365 commented on #8050
Any update on this issue...??

[2018-08-30 10:57] rajatagrawal-dev commented on #8042
@rerime Azure File Copy v2 is still in preview and not available in TFS. It is onlt available to VSTS customers be default. If you wish to use this task in TFS, you can manually upload it into your TFS using [tfs-cli](https://github.com/Microsoft/tfs-cli).

[2018-08-30 12:32] bergmeister commented on #8114
@PBoraMSFT Which option (mark as `SucceededWithIssues`, i.e. orange if there are no test results or to provide a checkbox to make it red/fail) do you prefere
The code line where this enhancemenent would need to go is [here](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/VsTestV2/vstest.ts#L650)

[2018-08-30 12:40] Ajay-MS commented on #8140
@debashis1982

I really appreciate your efforts to raise PR in order to fix this Bug.

Since we are planning to deploy this fix with the deployment of the current sprint. Today is the second last day for the check. And we have to address a few more scenario along with your fix. So, I have addressed the fix for this issue as below mentioned PR
PR - #8155

[2018-08-30 12:41] #8140 closed

[2018-08-30 13:02] singhsarab commented on #8159
@phatcher I am sorry, but I haven't received the logs yet.

[2018-08-30 13:32] pallavkaulwar commented on #8176
@vincentdass Replied from my org ID. please provide a window to schedule a call

[2018-08-30 14:06] CopperStarSystems commented on #8110
@vincentdass Any word on ETA for a resolution?  We have been blocked and unable to deploy our application for over a week now.  Any information on progress will be greatly appreciated.

[2018-08-30 14:36] phatcher commented on #8159
@singhsarab Sent another link - let me know if you get it

[2018-08-30 18:06] r0bfr commented on #7505
I'm hitting this same issue.  #6 in particular.  Part of our solution checks for the existence of a package in the "packages" folder.  In Visual Studio this works fine.  But then when building in VSTS, the packages folder gets placed off in some NuGet directory instead of $(SolutionDir)\packages.

Looking forward to a fix here.

[2018-08-30 18:19] Styxxy commented on #7505
@r0bfr Look at my provided solution (above). Make sure you have repositoryPath and globalPackagesFolder in your nuget config file.

[code]

[2018-08-30 21:53] jotaylo commented on #7984
If more users request this feature (see [UserVoice](https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services?category_id=145266)) it'll make its way up the triage stack, but in the meantime you're welcome to contribute the change yourself.
https://github.com/Microsoft/vsts-tasks/blob/7caffeb95e6dff07406ca1744a4601ca345ba7e5/Tasks/Common/nuget-task-common/NuGetToolGetter.ts#L131

[2018-08-30 22:12] jotaylo commented on #7870
Unfortunately different NuGet services have different requirements in terms of how requests are handled when both X-NuGet-ApiKey and another form of authentication are provided, so the current implementation is a compromise. Since Artifactory supports authentication via API Key, I recommend switching to that instead (this may require separate endpoints for pushing & restoring).

[2018-08-30 22:33] trailmax opened #8209 "Azure Powershell Script: This input does not support more than 500 characters. The pasted content has been clipped."
I'm configuring release steps for VSTS Hosted 2017 agent (don't think this matters greatly here). I'm using Azure Powershell Script step and I'm trying to do inline PS script rather than a PS-file. When I'm pasting  my script into the inline window, I'm getting an error

![image](https://user-images.githubusercontent.com/3606356/44882786-c25c9580-acac-11e8-8b62-c930369f1b77.png)

500 chars for PS

[2018-08-30 22:46] bryanmacfarlane commented on #8209
This is a dupe of https://github.com/Microsoft/vsts-tasks/issues/4272

In latest vsts versions (should be in latest tfs 2018) it's 5000

https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/PowerShellV2/task.json#L73

[2018-08-30 22:54] trailmax commented on #8209
@bryanmacfarlane I suspected there was an issue for that, but could not find given the keywords.
How can I get the latest version of the task when on VSTS? I see version selector for the task - I'm on 3.*. Anything else I should do to get 5000-limit?

[2018-08-30 23:01] jotaylo commented on #8044
I'm not sure which region your account is in, but 2.0.33 was rolled out around August 15th, so it may be related to the update, although we haven't had any other reports of issues publishing to MyGet.

Can you please do a build with system.debug set to true and email me the nuget publish log at jotaylo@microsoft.com. Feel free to anonymize any data in it.

[2018-08-31 00:44] sweetest commented on #4365
I am trying to deploy Function App and having similar problem.

[code]

[2018-08-31 01:32] bryanmacfarlane commented on #8209
Ohhh - I was looking at the powershell task.  I took a look at the azurepowershell task and it looks like they bumped it 9 days ago:

https://github.com/Microsoft/vsts-tasks/blame/master/Tasks/AzurePowerShellV3/task.json#L103

[2018-08-31 01:34] bryanmacfarlane commented on #8209
That means it will show up on VSTS in 2 - 4 weeks (updates roll)

[2018-08-31 01:34] bryanmacfarlane commented on #8209
@kmkumaran team owns.

[2018-08-31 01:50] mathewkuruvila commented on #8130
@prawalagarwal
Issue is still there after trying the approach which you suggested.

Check if these logs are useful for you

Task         : Visual Studio Test Platform Installer

2018-08-31T01:24:50.2032917Z Looking for the latest pre-release version of the Microsoft.Testplatform.
2018-08-31T01:24:50.2089859Z [command]C:\agent\_work\_tasks\VisualStudioTestPlatformInstaller_2c65196a-54fd-4a02-9be8-d

[2018-08-31 05:48] singhsarab commented on #8113
@jasonbert Gentle ping.
Also if it is a private agent, can you please share the event logs as well ?

[2018-08-31 06:55] astaerk commented on #7160
Ok, I already tried that, but I tried it with TFS. But now I realize this is a restriction of TFS. So you're saying this works with the official NuGet.org? Ok, I'll give that a try. Thanks!

[2018-08-31 07:48] tjgalama opened #8212 "Azure App Service Deploy: 'App Service Type' not bindable within Task Group"
When using an Azure App Service Deploy **V3** within a Task group, it is possible to bind the field to the task group's input parameter
![azureappservicedepolyv3](https://user-images.githubusercontent.com/504789/44899299-ac2cf480-ad01-11e8-8604-929a648c6e44.png)

When switching to Version **V4** (currently preview), it is no longer possible to bind the field to an input parameter of the task group

[2018-08-31 08:59] trailmax commented on #8209
@bryanmacfarlane I see, I'll just create a script file instead
Thanks for your help and your time!

[2018-08-31 08:59] #8209 closed

[2018-08-31 09:04] venmaram commented on #6135
Same Problem here
<img width="965" alt="error" src="https://user-images.githubusercontent.com/42862255/44903495-9cfb7600-ad04-11e8-81e1-1fe41ce7c20a.png">

My Nuget.Config

 `<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ViewDataModel" value="https://bestunionuk.pkgs.visualstudio.com/_packaging/VivaAlkemyViewDataModel/nuget/v3/index.json" />

[2018-08-31 09:16] venmaram opened #8214 "Response status code does not indicate success :401(Unauthorized) using private nuget package in Docker"
**Unable to load the service index for source Private Nuget URL**
<img width="965" alt="error" src="https://user-images.githubusercontent.com/42862255/44903964-d2ed2a00-ad05-11e8-858b-13d2f9444565.png">

**Docker File **
`FROM microsoft/dotnet:sdk AS build-env
WORKDIR /app
EXPOSE 80

`# Copy csproj and restore as distinct layers`
COPY *.csproj ./
`#COPY Nuget.config  Nuget.config ./`
`#RUN dotnet

[2018-08-31 11:37] Banzboy commented on #8182
It looks like retry logic was merged on the 11th of july. So that would explain why it's failing all of a sudden. Is there way to increase the request timeout in Kudu?

[2018-08-31 13:40] Ajay-MS commented on #8166
@nero120

We have fixed this issue. I am closing this issue. Feel free to reopen in case if you still facing this issue.

[2018-08-31 13:40] #8166 closed

[2018-08-31 13:57] vaclav-dvorak opened #8216 "Git push to bitbucket is not triggering build in VSTS"
## Environment
Account name: summitmedia.visualstudio.com
Project name: Automotive
Build definition name: https://summitmedia.visualstudio.com/Automotive/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=122&view=Tab_Triggers

## Issue Description
We are using "Enable continuous integration" in our build definitions with connection with our bitbucket cloud repositories using OAu

[2018-08-31 14:47] singhsarab commented on #8159
@phatcher I havent received the logs :(
 Is there any other way, we can get the logs?

[2018-08-31 14:57] nero120 commented on #8166
Confirmed as resolved, thanks @Ajay-MS.

[2018-08-31 15:27] phatcher commented on #8159
@singhsarab Did you receive any email from me...

1. If I send the full logs they get blocked as too large
2. If I send with a OneDrive link they get blocked as too large
3. Send with DropBox link doesn't seem to get through

Please check you spam box :-)

Suggestions?

I can try to trim them down, but that rather missed the point I think

[2018-08-31 15:40] samuelbcollie commented on #8044
Done. Let me know if you need any other information.

[2018-08-31 15:52] vincentdass commented on #8182
@Banzboy , this is a regression on our side and we are working to fix this.
Ideally the task shouldnt retry for request timedout in post deployment script. Instead it should retry to get the script result. Will update the thread once the issue is fixed in master.

[2018-08-31 17:19] vinaysandela opened #8217 "Build Server - Unable to configure Build Agent"
We are using TFS 2017.1 On Prem.
On our Build Server, when trying to configure Agent, getting  error
Able to ping to the TFS Server, but when configuring agent, it says Internal Server Error.

[code]

Attahced the screenshot
![buildagenterror](https://user-images.githubusercontent.com/22040836/44926665-d12c6200-ad17-11e8-8989-c29e9bd1e3ee.JPG)

[2018-08-31 19:55] jotaylo commented on #8171
Which version of the task are you running, and what sort of build agent? I've just checked our suite of validation builds for the Npm V1 task, and they all contain the full npm logs as expected.

[2018-08-31 23:43] mathewkuruvila commented on #8130
@prawalagarwal

1. Yes it is VSTS.

2018-08-31T01:25:23.2561418Z Task         : Visual Studio Test
2018-08-31T01:25:23.2561606Z Description  : Run unit and functional tests (Selenium, Appium, Coded UI test, etc.) using the Visual Studio Test (VsTest) runner. Test frameworks that have a Visual Studio test adapter such as MsTest, xUnit, NUnit, Chutzpah (for JavaScript tests using QUnit, Mocha and Ja

[2018-09-01 04:48] bansalaseem commented on #8214
Can you please share in which task you are running into this issue?

[2018-09-01 06:01] jamesbannan opened #8222 "Deploy Azure App Service: "XML Variable Substitution" causes task to fail on private Linux agent"
## Environment
- Server - VSTS (steamdriven.visualstudio.net)
- Agent - Private (Ubuntu 16.04, VSTS agent version 2.139.1)

## Issue Description

I am trying to deploy a Web Deploy package to an Azure App Service using the "Deploy Azure App Service" VSTS task on a private agent running Ubuntu 16.04. If the option "XML variable transformation" is ticked, the task fails. If the option is unticked, t

[2018-09-01 06:53] prawalagarwal commented on #8130
@mathewkuruvila On point 3. I think you believe that non batching mode will run only failed iterations because you see this in the log : /TestCaseFilter:"FullyQualifiedName=xxx.xxx.xxx.Tests.xxxx.Verify_TestCaseA (Data Row 2)|FullyQualifiedName=xxx.xxx.xxx.Tests.xxx.Verify_TestCaseA (Data Row 6)|FullyQualifiedName=xxx.xxx.xxx.Tests.xxx.Verify_TestCaseA (Data Row 0)"
I can assure you this a wrong i

[2018-09-01 10:33] Prashanth-PS opened #8223 "IIS Web Deploy fails on existing Website with AppBindings"
Getting errors; while creating/updating an existing IIS Website with AppBindings enabled with https certificates.
##[debug]Microsoft.PowerShell.Commands.WriteErrorException: Process 'netsh' exited with code '1'.
##[error]Process 'netsh' exited with code '1'.

[2018-09-01 14:26] abbgrade opened #8225 "Error while packing VSTS Task"
## Environment
Development System, with Windows10 with the latest updates and Visual Studio 2017 and Visual Studio Code.

## Issue Description

When i want to create the package of vsts-tasks for a specific task the directory `vsts-tasks\_package\milestone-layout` is missing. I ran the build task before, that exited without a error.
Unfortunately the explanation in [the contributing doc](https://g

[2018-09-03 01:38] mathewkuruvila commented on #8130
@prawalagarwal

On Option 3, If retry picks up the passed test cases also, i can't use that. For me more then 100 data are there in the data provider and if only a couple of test cases fail, all tests will be executed[Like wise i have multiple test cases]. So it will take more time and some other test cases might fail in retry. sorry about that.

FYI : I always use the clean option

So is there an

[2018-09-03 02:31] iPiyushPatel commented on #7815
Hey @pagangil -
I don't have trx file which as this issue got resolve when I limited log file name to <70 chars.  Regarding code :
TestContext.AddResultFile(Log.LogPath);

Here - Log.Logpath = log file path. [Official link.](https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.testtools.unittesting.testcontext.addresultfile.aspx)

To Replicate locally:

        `[TestMethod]
        pub

[2018-09-03 04:57] vincentdass commented on #8110
@CopperStarSystems , the issue is resolved and the fix is rolled out in all the accounts.
Please requeue the release for updated task

[2018-09-03 05:40] ShreyasRmsft commented on #8187
@bergmeister any updates here?

[2018-09-03 05:47] ShreyasRmsft commented on #8159
@phatcher can you double confirm if you have been sending it to devops_tools@microsoft.com?

Also can you try sending a mail without an attachment to see if it's an issue with attachments or you're unable to even reach the mail id?

Let us know once you've done this and if you are still unable to send over logs we'll see if there are any alternatives we can resort to.

[2018-09-03 06:06] ShreyasRmsft commented on #8130
Tagging @PBoraMSFT for the below ask

[2018-09-03 06:09] ShreyasRmsft commented on #8130
@mathewkuruvila the batch option will fix the initial bug you mentioned please use that as a workaround for now.

[2018-09-03 06:30] ShreyasRmsft commented on #8114
@bergmeister the part of the code that you are pointing to is soon going away. Making a change there is not a long term solution.

To be more verbose the non distributed flow of the vstest task will also start going via DtaExecutionHost.exe.

[2018-09-03 06:34] prawalagarwal commented on #8141
@CodingInTheWoods Can we close this issue? Can we help you with any additional information for your scenario?

[2018-09-03 06:40] ShreyasRmsft commented on #8113
@jasonbert are you using the VsTestPlatform tool installer task along with the VsTest task? As @singhsarab has requested can you please send over the logs with system.debug=true as an attachment here or send a mail to devops_tools@microsoft.com with the logs as well as a screenshot of your build definition.

[2018-09-03 06:50] mathewkuruvila commented on #8130
Ok Thank you

[2018-09-03 07:39] marcin-chwedczuk-meow commented on #8171
We use a self-hosted agent:
[code]
Task version `1.*` (dropdown in VSTS), command Custom, exact command line:
[code]

Before this command we use `Use Node 8.x` block (Node Tool Installer) - version speck 8.x.

Where can I check VSTS version itself? I will try to provide all necessary information so please ask if something is missing.

[2018-09-03 07:40] phatcher commented on #8159
@ShreyasRmsft  Test email sent - I'm sure I've managed to send you guys logs in the past

![image](https://user-images.githubusercontent.com/192778/44973575-ef32d600-af54-11e8-8a14-c4bb107af83f.png)

[2018-09-03 07:48] marcin-chwedczuk-meow commented on #8171
OK I double checked (in meanwhile we have an update to VSTS) and now we indeed get log output on *completed* builds. But still output is missing on ongoing builds. Now I must wait 10 minutes until command is finished and only then I can see log output - no immediate results.

![image](https://user-images.githubusercontent.com/37583749/44973908-4db08200-af5e-11e8-8fdb-65627d1d69a8.png)

Please see

[2018-09-03 07:49] phatcher commented on #8159
Ok latest one was block at your mail server...

[http://products.office.com/en-us/CMSImages/Office365Logo_Orange.png?version=b8d100a9-0a8b-8e6a-88e1-ef488fee0470]
Your message couldn't be delivered to multiple recipients.

The groups only accept messages from people in their organization or on their allowed senders list, and your email address isn't on the lists.

paulh   Office 365      Groups
Se

[2018-09-03 08:04] marcin-chwedczuk-meow commented on #8171
I consult with my teammates and indeed on completed builds logs were always present, here we are concerned only about logs that we can see during ongoing builds. Sorry for misunderstanding.

[2018-09-03 08:27] rgovardhms commented on #8145
@WhitWaldo , Hope you are taking up this with SF team. Can we close this issue?

[2018-09-03 08:46] ShreyasRmsft commented on #7614
@anniekvandijk is your issue resolved? If you are still facing it please open a new issue and provide a snapshot of your build definition and provide the entire build logs with system.debug=true

[2018-09-03 08:49] venmaram commented on #8214
Hi bansalaseem ,
Thanks for the reply. Please have a look below image I am using these Tasks

![image](https://user-images.githubusercontent.com/42862255/44976935-923c1d80-af5e-11e8-8441-a94c602e5560.png)

[2018-09-03 08:56] bergmeister commented on #8187
@ShreyasRmsft I set the `system.debug` variable to true and on the next run I had the same error but the error message also included a hint that the system is running out of space (the working directory of the agent is on a separate, relatively small drive of 16 GB size) but I am not sure if this is the same error or a new error as it might have been caused by the verbose log taking up more space.

[2018-09-03 09:06] prawalagarwal commented on #8187
@bergmeister for now we don't need the debug logs. Just the trx file will do. As I mentioned in a previous comment, you can execute this on any machine using the vstest console. You can even run fewer tests by using test categories and test filter with the command line.

[2018-09-03 09:07] omeshp commented on #7604
https://github.com/Microsoft/vsts-rm-extensions/pull/486

[2018-09-03 09:11] ShreyasRmsft commented on #8159
@phatcher that is a standard reply you get when you try to send a mail to that id. It's always been the case.

In fact just now i sent a mail from my personal mail account to the id and was able to see it appear within a minute. Is it possible for you give the logs here on GitHub? With sensitive info redacted if you so wish.

[2018-09-03 09:11] ShreyasRmsft commented on #8159
PS: we only need the logs for the VsTest task. You needn't send the log files of the other tasks

[2018-09-03 10:17] Ajay-MS commented on #8194
@ld0614

In order to select SQLPackage.exe for the deployment,

#### Goal
To achieve deployment with the latest version of SQLPackage.exe. So that user can take advantage of features that have been added to latest version of SQLPackage.exe

#### Search in DAC under the following software
* Data-Tier application framework
* SQL Server
* Visual studio

#### Algorithm
1. If any of above-mentioned sof

[2018-09-03 10:32] #7352 closed

[2018-09-03 10:39] ShreyasRmsft commented on #8159
@phatcher found the mails in the Junk folder. They were getting redirected there for some reason. We have received the logs and will take a look

[2018-09-03 10:56] phatcher commented on #8159
@ShreyasRmsft Thanks, I think some of the issues are do to with the netcore shim packages being incorrectly referenced from the net framework projects, but the most important is why the test category filter is not obeyed - the rest I am working around by upgrading package/assembly versions

[2018-09-03 13:01] ld0614 commented on #8194
Hi @Ajay-MS thanks for reaching out, my email address is leo.darcy@outlook.com

[2018-09-03 13:38] bansalaseem commented on #8214
@venmaram, The task which fails is nuget restore?

[2018-09-03 14:34] venmaram commented on #8214
Fails on Build Image, rest all tasks are no issue

[2018-09-03 14:35] StevenDevooght opened #8236 "PowerShellOnTargetMachinesV3 variables"
## Environment
- Server - VSTS
- Agent - Private

## Issue Description

In the PowerShellOnTargetMachinesV3 it is not possible to use pipeline variables when using inline scripts. Is this not supported?

[2018-09-03 15:17] razidare opened #8237 "PowershellV2 Task sees Object as System.Char"
## Environment
- Server - VSTS or TFS on-premises?
     VSTS
    - If using VSTS, provide the account name, team project name, build definition name/build number:
     https://justbedev.visualstudio.com/JustBe-Code-Portal
     Build definition: TEST VERSIONING BUILD

- Agent - Hosted or Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version:

[2018-09-03 16:38] Strandfelt commented on #8061
@vithati Thanks, installing kubectl manually first makes the task complete successfully.

[2018-09-03 18:29] andreujuanc opened #8238 "Space in arguments"
Given a file path (for -f command), if it has a space in it, docker compose (and presumably other tasks) will not append quotes to handle them propertly.

It's not the first time something similar had happened to me. I opened this bug one year ago: https://github.com/Microsoft/vsts-agent/issues/1091 and now it's propertly handled by the agent's installer. But now I just encounter it while setting

[2018-09-04 02:24] joshuapetryk opened #8239 "VSTS: Azure Powershell 3.* Inline Script missing Script Arguments"
On VSTS - self hosted agent (Azure VM w\ Windows Server 2016 Datacenter)

The Azure Powershell 3.* task seems to be missing the Script Arguments box if Inline Script is selected. Compare this to the 2.* version of the task.

We can't pass variables into inline scripts without this.

[2018-09-04 05:47] #7185 closed

[2018-09-04 06:00] arjgupta commented on #8239
@joshuapetryk , you can pass the variables using the $(variable_name) pattern in the inline script directly.

[2018-09-04 06:01] arjgupta commented on #8236
@StevenDevooght , you can pass variables using the $(var_name) pattern in your inline script directly.

[2018-09-04 06:37] #8061 closed

[2018-09-04 07:35] harikumar2017 commented on #6399
I am facing this issue now

[2018-09-04 07:40] Banzboy commented on #8182
@vincentdass Thanks for your reply. It's great news that it's going to be fixed! If possible do have any idea  when this issue will be fixed and included in the next release?

[2018-09-04 08:04] vincentdass commented on #8110
Closing the issue as the fix is deployed in all the rings.
**Summary**
A regression was found in App Service Deploy task, where when the package type is folder, Zip Deploy (Windows & Linux) and RunFromZip fails. It was because the folder was not archived before invoking the Zip Deploy API. The fix was to restore the existing flow of archiving the folder and then deploy the same.

[2018-09-04 08:11] vincentdass commented on #5883
Closing the issue as the recommendation is provided in logs and there is no response from customer.
**Summary**
When Self-signed certificate is used for App Services configured under App Service Environment, App Services tasks fails with SSL error. The recommendation is to install appropriate certificate from CA in the agent machine.
However , if  you want to ignore SSL error, set variable `VSTS_A

[2018-09-04 08:11] #5883 closed

[2018-09-04 08:13] vincentdass commented on #8022
@stylesm , Can you please share the debug logs (set variable `system.debug` to `true` and rerun the release)?

[2018-09-04 08:18] mrsmitty opened #8240 "KubernetesV1 configMapFile should accept a key"
When creating a config map, need the ability to specify the key name when creating --from-file
`kubectl create configmap mapName --from-file=<my-key-name>=<path-to-file>`

Currently specifying a key before the filename doesn't work e.g.
`config.json=$(System.DefaultWorkingDirectory)/_StudentPortalWeb-CI-YAML/drop/config.dev.json`

Despite the command not working, this also doesn't fail the task. L

[2018-09-04 10:16] looterz opened #8241 "Index Sources & Publish Symbols for two Azure repositories managed in one pipeline"
I have a unique issue I need to solve with how our team is using Azure DevOps. We currently have two separate repositories managed in Azure, UnrealEngine and Game. Because Get Sources in the pipeline only works for a single repository, we set `Build.SyncSources` to false, and manage updating the repositories ourselves via Command-Line tasks. The repositories live on a work volume that is attached

[2018-09-04 10:50] stylesm commented on #8022
@vincentdass I actually re-ran the deployment to the same environment / App Service and it worked fine. I haven't experienced this issue since, but I guess it is intermittent?

[2018-09-04 11:08] vincentdass commented on #8022
@stylesm , feel free to reopen / create a new thread if the issue occurs again.

[2018-09-04 11:13] vincentdass commented on #8022
**Summary**
Azure Application Insights REST API for create release annotation started returning 201 instead of 200 as status code.  This caused the failure in VSTS task which expected 200. The fix is made to check for both the status code (200 & 201) as successful state.

[2018-09-04 11:13] #8022 closed

[2018-09-04 12:01] bryanmacfarlane commented on #8217
agent repo is vsts-agent.  please log an issue there.

also, the error is coming from the server.  check the event log and see if there's any more info there.

[2018-09-04 12:01] #8217 closed

[2018-09-04 12:05] bryanmacfarlane commented on #8225
Can you outline why you're trying to create a package?  What's your end goal?

[2018-09-04 12:11] bryanmacfarlane commented on #8225
per the contribution guide: This is only used for TFS internal engineering

[2018-09-04 12:11] #8225 closed

[2018-09-04 12:16] bryanmacfarlane commented on #8225
https://github.com/Microsoft/vsts-tasks/commit/ae6bc73951d80e338ba76101e26e9a6de23fcb2c

[2018-09-04 12:19] jpiyali commented on #8022
As an fyi, appinsights reverted that change last week thursday to return 200 again. This will not break anything since the vsts task here checks for both 200 and 201.

[2018-09-04 12:29] abbgrade commented on #8225
I would like to have a task to deploy PowerBI Reports.

[2018-09-04 12:30] bryanmacfarlane commented on #8225
vsts-task-lib repo covers how to create your own task.  it has a step by step guide.

[2018-09-04 12:34] bryanmacfarlane commented on #8171
is only the npm test not showing live console output?  or are all tasks not showing live console?

are your tests buffering output?

[2018-09-04 12:35] bryanmacfarlane commented on #8203
answered.  let us know if you need anything clarified.

[2018-09-04 12:35] #8203 closed

[2018-09-04 12:37] bryanmacfarlane commented on #8216
Looks to be a service issue (not tasks which is this repo).  I'll forward this to devs but you might want to create an issue on developer community

[2018-09-04 12:37] #8216 closed

[2018-09-04 12:43] rehael commented on #8171
In the build @marcin-chwedczuk-meow describes we use mainly node steps. All of them behave like buffered on the agent. `Get Sources` is too quick to say if it's buffered or not.
Node commands, when run manually in cmd.exe, generate output just fine, line by line.
We use mainly: `npm install --no-optional`, `npm test`, and some custom scripts too. All output it presented only after the command fini

[2018-09-04 12:52] bryanmacfarlane commented on #8171
some things to narrow:
trying cmdline task (and run npm test) to see if that's buffering - trying to see if task or whether you're having a general signal R issue

Do F12 / devtools in the browser and see if you're getting an errors

If you "queue with diagnostics" the logs will have trace output from the agent and that will help us see if the task or the agent is buffering.

[2018-09-04 12:59] joshuapetryk commented on #8239
This doesn't work in Release Management. I tried putting varibles in the script directly but they were not expanding during a release.
________________________________
From: Arjun Gupta <notifications@github.com>
Sent: Tuesday, September 4, 2018 1:00:33 AM
To: Microsoft/vsts-tasks
Cc: Joshua Petryk; Mention
Subject: Re: [Microsoft/vsts-tasks] VSTS: Azure Powershell 3.* Inline Script missing Script

[2018-09-04 13:34] rehael commented on #8171
Task _Utility: Command line_ v2 – does indeed _not_ buffer `npm` output. Chrome console does not show any errors (some warning for getCodeCoverageSummary promise returning null only, not important here I think).

Diagnostic log contains some data we'd like not to share publicly. Is there something specific we should extract from the diagnostic log, anonymize our sensitive data and share with you?

[2018-09-04 14:04] WhitWaldo commented on #8145
@rgovardhms Yes, I'm currently engaged in a support ticket about this now. This issue can be closed here.

[2018-09-04 14:04] #8145 closed

[2018-09-04 14:20] KevinHaisol opened #8243 "VSTS -> Build and Release -> Release: Stuck on loading screen"
## Troubleshooting
Tried using IE, Firefox, and Chrome and got the same issue.

## Environment
- Server: VSTS
- Agent: N/A
## Issue Description
When clicking on Build and Release -> Release, the screen never loads and is stuck on the loading screen.  I've tried the new release preview feature but that doesn't work either.

![image](https://user-images.githubusercontent.com/25829792/45036802-ae9d90

[2018-09-04 14:55] daantimmer commented on #3393
Hello,

There is a need within our team for this functionality as well. After all automatic builds have succeeded a manual test step is required. This is a manual test report, images, scanned signatures etc. This should all be contained in a zip file and published during an environment.

I've setup a  Jenkins build to ask for file input (queue from TFS) which is then fed back in to TFS (Download a

[2018-09-04 17:56] gencay commented on #8243
The `503` seems to be related to the Azure outage. Check out [this page for live updates](https://blogs.msdn.microsoft.com/vsoservice/?p=17405)

[2018-09-04 18:30] sure17490 opened #8245 "Failed to setup Tempkeychain"
Trying to use a temp keychain for signing
its failing below is the out put

/Users/dev/Downloads/VSTS-2.134/_work/15/s/_iparesigntasktmp.keychain

/usr/bin/security import /Users/dev/Downloads/VSTS-2.134/_work/15/s/TechAppCertificatePK.p12 -P M0bility -A -t cert -f pkcs12 -k /Users/dev/Downloads/VSTS-2.134/_work/15/s/_iparesigntasktmp.keychain
2 identities imported.

rc:0

success:true

which 'sec

[2018-09-04 19:23] Sibaram57 opened #8246 "Unable to publish standard console output results/details of .trx file in VSTS Test Hub"
We are using "System.Diagonestics.Trace.WriteLine("User Message")" command  to capture the standard console output results/details in to .trx file in VSTS. We are successfully captured the standard console ouput details in to  .trx test result file. However, we are unable to publish this standard console output details to VSTS Test hub after executing release tasks "Visual studio test" and "Publis

[2018-09-04 21:32] aghattam commented on #4103
I'm trying to copy the files from Shared folder into Azure blob from Azure storage Azcopy .I'm getting the follow error.
[ERROR] The syntax of the command is incorrect. Error parsing the argument "Source:\\siebelprodshare\SiebelPROD_xfer\Xogistics\Inbound\Returns": parameter name is required.

Script am using.
AzCopy.exe /Source:\\share\xfer\data\Inbound\Returns /Dest:https://blobqa.blob.core.wind

[2018-09-04 21:32] aghattam commented on #4103
trying to copy the flat files.

[2018-09-05 03:04] tilumi opened #8247 "SSH task - use VSTS variables"
## Environment
- VSTS
    account: luyan@microsoft.com
    Team: IP Engineering
     Pipeline: spark-aggregator

## Issue Description

Exactly the same as: [https://github.com/Microsoft/vsts-tasks/issues/3073](https://github.com/Microsoft/vsts-tasks/issues/3073)

Variable read as empty even use the syntax "$(VARIABLE_NAME)"

[2018-09-05 03:26] #8247 closed

[2018-09-05 04:42] mblaschke commented on #7843
@rajatagrawal-dev
It's ok that the VSTS task needs access to the registrys but one protected key should not prevent the task from running at all.

[2018-09-05 05:58] vineetmimrot commented on #8104
@riezebosch For the time being you can use Powershell task in-between to replace % with %% in the URL.
We have added story in our backlog to allow to run the script in powershell.
Hope this helps. Please revert back in case of any queries.

[2018-09-05 06:14] ShreyasRmsft commented on #8141
@CodingInTheWoods closing the issue. Pleaes re-open if you need any more assistance or info from our side. Thanks.

[2018-09-05 06:14] #8141 closed

[2018-09-05 06:28] ShreyasRmsft commented on #7706
@LokiMidgard can you please change the execution batch size to one and see which test is causing the hang? Also see if it gets stuck at the same tests each time? And also try logging into the agent machine when the test run hangs.

[2018-09-05 09:05] riezebosch commented on #8104
Thanks!

[2018-09-05 09:45] #8104 closed

[2018-09-05 09:53] vineetmimrot opened #8249 "[Azure CLI Task] Provide an option to execute script in powershell"
Based on the [issues ](https://github.com/Microsoft/vsts-tasks/issues/8104) faced by user, we should provide option to run script under Powershell.

[2018-09-05 10:46] phatcher opened #8250 "VsTest - How to get fully qualified test names"
I have a standard set of tests for each entity e.g. Add/Create etc, which means if something fails VSTS just tells me that I have a failed test "Add", which is not ideal when it could be one of 150 other Add tests.

According to [#1732](https://github.com/Microsoft/vstest/issues/1732) I can get fully qualified name by passing some additional parameters to the task e.g.` /ListFullyQualifiedTests /L

[2018-09-05 11:35] JDCain opened #8251 "VSTest Task Plans & Alternate Test Frameworks"
Per a comment on this link [https://developercommunity.visualstudio.com/content/problem/309413/cannot-associate-test-case-in-visual-studio.html](https://developercommunity.visualstudio.com/content/problem/309413/cannot-associate-test-case-in-visual-studio.html) the ability to associate test cases from testing frameworks other than MSTestV1 is coming in VS 15.9 preview 2.

Does this mean there is a

[2018-09-05 11:37] arjgupta commented on #8239
@joshuapetryk , can you share the inline script you are trying to use variable in ?
I tried using a simple script like this:
`Write-Host "$(var1)"`
And I had set the "var1" as a variable in the variables tab for my release. The script output had the substituted value.

[2018-09-05 11:43] johnhydemtm365 commented on #8050
Hi, I cannot use the V1 task as I am trying to deploy to the $web container.......hence the issue. I have other release pipelines that use the V1 task and there are no issues with permissions there.
I will try out the powershell  script suggestion and come back to you asap.

Thanks
J

[2018-09-05 12:29] johnhydemtm365 commented on #8050
Hi, V1 of the task is not working either???
2018-09-05T12:20:57.5349475Z ##[error]Upload to container: 'website' in storage account: '*******' with blob prefix: '' failed with error: '' For more info please refer to https://aka.ms/azurefilecopyreadme

Now the 'Destination type' on the task is Blob, however other tasks I have 'VM' and that all works fine.

Also I retried V2 uploading to the web con

[2018-09-05 12:43] rajatagrawal-dev commented on #8050
It is weird that it works when destination is VM and not when it is Blob. In 'VM' part also we first upload to blob only.

Were you able to try executing the powershell script? Try executing it locally as well as through VSTS powershell task.

PS: Please enable debug logging when running through to VSTS to get detailed logs.

[2018-09-05 13:03] johnhydemtm365 commented on #8050
hi yeah it is weird. Locally I am trying to but putting $web is causing me a little issue.....

[2018-09-05 13:15] rajatagrawal-dev commented on #8050
Please try without $web. Give something like 'testcontainer'. If we can get it to work for 'testcontainer', it will work for $web as well.

[2018-09-05 14:17] tjgalama commented on #8212
We currently have a mixture of WebApi's (Windows) and Functions Apps to which we want to deploy. Both use the same sub input parameter (more or less). Some of them are deployed via a slot (+ swap) other apps are directly deployed to the production (slot). This currently results in two task-group's (deploy with/without slots).

[2018-09-05 14:41] calebcartwright commented on #7987
I see the benefit of `dep` being an available option so I'd be +1 on that. However, I think it would be worth considering the changes that came with [Go 1.11](https://golang.org/doc/go1.11), including modules, current and planned vgo/go get enhancements, etc., before making `dep` the default/standard for *all* projects on the VSTS side.

[2018-09-05 14:59] joshuapetryk commented on #8239
Okay I just tried again and this started working - not sure what was going wrong before.

[2018-09-05 14:59] #8239 closed

[2018-09-05 15:23] axelheer opened #8253 "npm task is very slow in version 1.x"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version: 2018 Update 3 RC

    - If using VSTS, provide the account name, team project name, build definition name/build number:

- Agent - Hosted

[2018-09-05 16:33] ham-steamer commented on #3521
This is still an issue. Here is the relevant portion of my ApplicationManifest.xml:
`<ServiceManifestImport>
    <ServiceManifestRef ServiceManifestName="HangFirePkg" ServiceManifestVersion="1.0.0" />
    <ConfigOverrides />
    <EnvironmentOverrides CodePackageRef="Code">
      <EnvironmentVariable Name="DeploymentEnvironment" Value="[DeploymentEnvironment]"/>
    </EnvironmentOverrides>
  </Serv

[2018-09-05 17:35] WhitWaldo opened #8255 "Deprecated parameter in Service Fabric release definition"
## Environment
VSTS

- Agent - Hosted or Private:
Private

## Issue Description

Built-in release definition for Service Fabric has deprecated argument. I received a warning that "ReplicaQuorumTimeoutSec is deprecated - use UpgradeReplicaSetCheckTimeoutSec". Both parameters are available in the task, but if the former is deprecated, it ideally shouldn't show up in the list of properties to set.

[2018-09-05 19:41] johnhydemtm365 commented on #8050
Locally using powershell its just hanging.
Rerunning with just a container that exists gives this error
Processed: ##vso[task.logissue type=error;code={"Task_Internal_Error":"BlobUploadFailed"};]
2018-09-05T19:39:22.6008238Z ##[debug]Caught exception from task script.
2018-09-05T19:39:22.6043367Z ##[debug]Error record:
2018-09-05T19:39:22.6936192Z ##[debug]Upload to container: 'website' in storage

[2018-09-05 19:42] johnhydemtm365 commented on #8050
Note the above is from the V1 Version of the task

[2018-09-05 19:44] johnhydemtm365 commented on #8050
V2 of the task works if the container exists

[2018-09-05 19:48] johnhydemtm365 commented on #8050
On V2 of the task it sfails when uploading to $web with the following error:
]ExceptionMessage: AzCopy.exe exited with non-zero exit code while uploading files to blob storage.
2018-09-05T19:47:33.2420561Z ##[debug]Processed: ##vso[task.logissue type=error;code={"Task_Internal_Error":"BlobUploadFailed"};]
2018-09-05T19:47:33.3221958Z ##[debug]Caught exception from task script.
2018-09-05T19:47:33.

[2018-09-05 20:37] keithrob commented on #8171
The NPM task synchronously runs your command, buffers the output, and prints it at the end of the task.  We will be switching to async (i.e. streaming STDOUT/STDERR) but there should be no change in total duration of your step.  The only difference will be that you observe STDOUT/STDERR sooner.

[2018-09-05 20:45] rehael commented on #8171
Okay, thanks for clarification. Any ETA on the async?

[2018-09-05 20:49] bryanmacfarlane commented on #8171
@keithrob - thanks for confirming.  I think it should be as simple as switching a line to await tl.exec (instead of tf.execSync)?  Let me know if that's correct.  In the early days it was harder but await makes it awesome :) Regarding the task model async is a big deal as buffering gives the impression of a hang or non responsive.

[2018-09-05 21:47] dvmorris commented on #7449
Did you find a resolution for this issue? I am seeing the same thing.

[2018-09-05 22:44] giggio opened #8259 "Add option to BashV3 to enable loading profile and rc"
Right now BashV3 never loads profile and RC, which I believe is a good default, as seen here:
https://github.com/Microsoft/vsts-tasks/blob/f1b8d42c24662857177d47faf8d744415dff85ab/Tasks/BashV3/bash.ts#L9-L13

But we should be able to load them optionally, there should be options that we could enable and then run BashV3 without `--noprofile` and/or `--norc`.

[2018-09-05 22:45] giggio commented on #8259
My use case is the use of `nvm` which is installed on the build agent, and we can't use it until it is sourced, which is the default if bashrc is loaded.

[2018-09-06 05:49] doormalena commented on #7449
Not at the time, we have put this issue on our backlog. If you or anyone else found a resolution it would be very nice to hear this.

[2018-09-06 06:41] enzian commented on #7987
@calebcartwright I absolutely agree that making it run by default would be a very bad move!! A tool install task would be my way to go too!

[2018-09-06 08:51] ShreyasRmsft commented on #8113
@jasonbert closing this due to no response. Please re-open the issue with the request details if you are still facing the issue.

[2018-09-06 12:26] enzian commented on #7987
Just as a quick check-in. Here is how I solved this issue:

1. Have the go tool installer task run first. Important here is, to specify where you want your `GOBIN` and `GOPATH` to be since we'll need this values later!

2. Run the following PS script:

[code]
3. Have a `Copy Files` Task move your files from `$(GOPATH)/src/demo.organization.com` to the stageing directory and upload them...

[2018-09-06 13:57] severisv commented on #8053
Is there a workaround for this?

[2018-09-06 16:03] darshankumarys commented on #2414
We didn't find any APIs for VM Sizes, wen they will be released ?

[2018-09-06 16:03] qJake opened #8262 "Remote PowerShell fails with "The service cannot accept control messages at this time.", then "The service has not been started.""
## Environment

**Server:** Team Foundation Server On-Premise, Version 16.131.27701.1

**Agent Info:**

Property | Value
----------|---------
(Type) | On-premise / Local Agent
Agent.Version | 2.131.0
Agent.OSVersion | 6.1.7601
AzurePS | 5.7.0
PowerShell | 5.1.14409.1012

## Issue Description

Our release definition includes, among other things, these steps:

1. Azure File Copy - Copies deployment

[2018-09-06 16:08] darshankumarys opened #8263 "VM Size APIs"
We are using VSTS to provision VMs and in need of VM Sizes APIs to get data disk types and max data disk count. Unfortunately we didn't find any APIs for VM Sizes, by when they will be released ?
By then, can you suggest alternate process to fetch VM size properties in VSTS task.json

[2018-09-06 20:59] Karamorf opened #8264 "Deployment to slot bug"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
VSTS, general task usage

N/A

## Issue Description
If you are deploying containers to an Application Service as a WebApp, using deployment slots and using Azure Container Registry (ACR) then using the "--configuration-source"

[2018-09-07 03:27] kmkumaran commented on #8263
If you are provisioning VMs using custom script, you can make use of Azure APIs for fetch VM related properties.
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/list

[2018-09-07 04:39] huf1 commented on #7952
Can confirm this issue. Creating a zip archive with option "Replace existing archive" does not replace the the zip file in the destination.

[2018-09-07 09:27] ShreyasRmsft commented on #8159
@phatcher I created a sample NUnit test project with 4 tests.

Using latest NUnit adapter and latest test platform.

And ran tests with testcategory!=a&testcategory!=b and it ran the 4th test which doesn't fall into this category. So it isn't broken. However i would like you try this project with a bunch of testcategory filters to see if it runs fine on your hosted pool.

(@phatcher you can acquir

[2018-09-07 09:31] ShreyasRmsft commented on #8187
@bergmeister can you please provide the trx file as prawal has requested?

[2018-09-07 09:31] ShreyasRmsft commented on #7706
@LokiMidgard any updates on this?

[2018-09-07 09:37] GitHubSriramB commented on #7932
@davidsk - we have fixed this issue. Pl. let us know if you are facing any further issues.

[2018-09-07 09:37] #7932 closed

[2018-09-07 09:58] bergmeister commented on #8187
@ShreyasRmsft As I said, I could not retrieve the trx file because the tasks saves the file to the agent's temp directory, which gets cleaned for every release. I will therefore have to wait for when it occurs next and stop any subsequent releases. I am on annual leave at the moment, therefore please bear with me for the moment.

[2018-09-07 10:03] LokiMidgard commented on #7706
I have the test currently running.  I hope I have some data at the end of the day. The last time the test machines were restored before I could save the data from the machines. Sorry it takes so long.

[2018-09-07 10:38] razidare commented on #8237
@bryanmacfarlane Thanks for your prompt reply.

I gave up on that approach and used the " -like" operator instead and now the script works.

Sorry, but can't devote any more time into researching that issue.
Thanks again

[2018-09-07 12:15] ShreyasRmsft commented on #8187
@bergmeister you can provide a runsettings with a custom results directory folder and make it save the trx in a convenient location

[2018-09-07 14:19] ericsciple commented on #8237
We just run powershell against your script.

When output flows out of a command, if one string is output by the command, the result will be a string. If multiple strings are output by the command, the result will be an array.

For example:
[code]

Perhaps when you ran the command locally, git outputted a single line. And when run on the server, the command output a single line?

The powershell way

[2018-09-07 14:19] #8237 closed

[2018-09-07 15:13] phatcher commented on #8159
@ShreyasRmsft Looking at your code, which runs successfully for me, I checked the logs again and I think I've identified the issue.

We have two test steps, one for managed tests, the other for a C++ client and the problem is associated with the C++ test step.

1. The test specification on C++ step was defined incorrectly with no filter, but because it had a custom test adapter path, it previously

[2018-09-07 16:12] radhikaswift commented on #6718
Hi Team ,I am new to docker.Configured docker for windows and developed docker file which builds nginx server to host angular application successfully.Now planning to call docker file in TFS build definition.I have added docker task to run command in Build deinftion but getting issue

018-09-07T15:44:05.6305242Z ##[debug]Absolute path for pathSegments: C:\Build\agent\agent\worker\Modules\Microsoft

[2018-09-07 17:38] NDDeveloper13 opened #8270 "Visual Studio Test task failing with "Failure attempting to call the restapis" error"
I have the following setup:
- Agent version 2.139.1
- Test agents are Win10 OS.
- On-Premise TFS 2018 Update 2

I have a release definition with the following steps:
- VsTest Platform Installer
- Copy Test Assemblies - copies assemblies from a drop location to the agent
- Visual Studio Test - runs tests from a test plan

Upon creating a release, the first 2 steps succeed; however, I get the follow

[2018-09-07 20:07] MoBattah commented on #3604
Yeah, this is ridiculous. I can't believe that this is an issue. Don't show an incompatible task.

[2018-09-07 21:08] LokiMidgard commented on #7706
I've tried to analize the log files of my tests.

All but two tests failing tests had the same log entry when they run into the problem. It was the last log entry in TextCleanup

The only statments after this log are:
[code]

In one other Log the last test did log from `07.09.2018 12:13:37.4518`to `07.09.2018 16:13:22.4748`. I'm pretty sure thats an problem in our test that run infinite. But I wis

[2018-09-09 22:16] ankurkapoor opened #8276 "VSTS giving "Unexpected token \r in JSON during ARM template deployment"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment

https://rankengineering.visualstudio.com/RES/_releaseProgress?_a=release-environment-logs&releaseId=5241&environmentId=13868

- Agent - Hosted or Private:
Private agent running on Win 2012 server (VMDUBUILDAGNT01).
## Issue De

[2018-09-10 05:40] ShreyasRmsft commented on #8159
@phatcher can you provide the entire set of debug logs again for this issue?

Also can you enable fusion logs and see where this dll is trying to be loaded from and what version of the dll is present?

Also there's a chance your assembly config file may not be getting honored when the tests run in the vstest.console.exe process. Please add the following to your runsettings file to prevent app doma

[2018-09-10 05:47] sachinma commented on #7987
Adding @pulkitaggarwl

[2018-09-10 07:03] phatcher commented on #8159
@ShreyasRmsft I've forwarded the latest logs and I will enable the two settings and get back to you.

[2018-09-10 08:14] ShreyasRmsft commented on #8270
Needless to say but just confirming, this is a constant repro (ie. it happens all the time)? Can you provide logs with system.debug set to true in the variables section?

[2018-09-10 08:19] ShreyasRmsft commented on #8159
@phatcher didn't receive your mail again? :(

Is it possible to add them here on github?

[2018-09-10 08:56] pagangil commented on #7836
@elvisFabian Can you please try updating the agent to the latest version and try again? Please tell me if you still face the same issue

[2018-09-10 10:36] kuvinodms commented on #8276
@ankurkapoor Azure Resource Group Deployment task simply using JSON.parse(<File Content>) to parse the JSON template. Can you please try parsing your JSON template using powershell or some online tool to figure out the point of parsing failure.
Else please provide us (on rm_customer_queries@microsoft.com) with your release logs making sure that you've added system.debug=true as a release variable.

[2018-09-10 15:09] NDDeveloper13 commented on #8270
The agent is a virtual machine with no proxy.

Yes, the error is consistent and happens every time. In addition to trying 2 different users and 3 different authentication types, I have also tried with and without a test settings file.

Here are the debug logs:
[TestReleaseDebugLogs.txt](https://github.com/Microsoft/vsts-tasks/files/2367200/TestReleaseDebugLogs.txt)

[2018-09-10 16:29] FlorenceDaniel commented on #7621
Hi  @rajatagrawal-dev ,

We faced the issue again last week even after upgrading to version 2.* of Windows Machine File Copy Task.

![image](https://user-images.githubusercontent.com/35237771/45310687-fe85c680-b4f4-11e8-8e63-840a8712d31d.png)

Please let us know why this issue is observed.
Thanks!
Florence

[2018-09-11 05:56] ShreyasRmsft commented on #8270
@NDDeveloper13 hmmm it could be a firewall or network issue. To rule certain things out is it possible to setup a vsts-agent on a physical machine and try the same build?

If it is failing only from the VM then we can be sure it's something to with the firewall config or network issue with the VM.

[2018-09-11 06:35] pagangil commented on #7836
@elvisFabian I'm able to reproduce the bug. The issue was in one of the dependencies of Publish test results task which was used to search matching files. The issue was present in Publish test results task version 2.0.1. The issue is fixed in the next update of TFS. Till then you can strip off the problem-causing characters from file name.

[2018-09-11 06:49] zhijli opened #8284 "VSTS deployment failed with "The required property 'datasource' is missing from the request." eror."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
VSTS

    - If using VSTS, provide the account name, team project name, build definition name/build number:
    account: Zhijli@microsoft.com
    Project: Universal Store/SCC.MTF.Subpoena

[2018-09-11 07:10] LokiMidgard commented on #7706
I'm not sure if the last information is helpfull. Running multiple builds with logging did blow the Content database untill no more space was available. So it could be possible, that the problem in this case was actually no more space.

I deleted the builds, if I understand it correctly, the database will purge all deleted files once per day. If this has freed the hard disk tomorrow I will start s

[2018-09-11 09:38] HCRSalaun opened #8285 "Release - Download Artifact - Asking for a local issuer certificate"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
VSTS

https://lorealanalytics.visualstudio.com
account : hugo.salaun@loreal.com
Build 25

- Agent - Private:
OS of the machine running the agent : Window Server 2012 R2 with web proxy configured
Agent Version : 2.14 with proxy

[2018-09-11 09:40] johnhydemtm365 commented on #7443
Hi there, I am also experiencing this issue. I have tried using Version 1 and Version 2 (Preview) of the task. I am running powershell 5.6.0, but the error also happens with 5.1.1.

I have rebooted the build machine a couple of times, but no joy.

The following error occurred while loading the extended type data file: Error in TypeData "Microsoft.Azure.Commands.Common.Authentication.Abstractions.I

[2018-09-11 10:01] omeshp commented on #8285
Have you installed the certificates used by your proxy on the agent machine?

[2018-09-11 11:18] cradle77 commented on #8182
Hello, we are experiencing the same issue which is currently preventing us to successfully release to production.

Do you have an ETA for this or, alternatively, a workaround?

Thanks

[2018-09-11 12:19] HCRSalaun commented on #8285
Hi,

I asked administrators of the agent machine but they never heard anything about certificates.

For example, to allow the machine access to Internet, they just modified the "LAN settings" from IE internet Options, mentioning the proxy Server.

Sorry, I'm really not an expert concerning Proxy configuration...
I'm really surprised because during my Build phase, I'm able to generate and move file

[2018-09-11 12:45] omeshp commented on #8285
Are you able to browse https based sites from agent machine without any security warning? The download is failing because proxy is decrypting https traffic and it's not secure to download without verified https connection.

[2018-09-11 13:13] darshankumarys commented on #8263
@kmkumaran did you get chance to look into my query?

[2018-09-11 13:44] vincentdass commented on #8182
@cradle77 , we fixed the issue in master and planning to hotfix the issue.
Will update you once the hotfix  is initiated.

[2018-09-11 13:49] HCRSalaun commented on #8285
I tried with these URLs from the agent machine :

https://www.google.com
https://lorealanalytics.visualstudio.com/

Everything is ok, no security warning.

[2018-09-11 14:52] mpseidel commented on #7990
We just ran into the same error message during Ceckout on a private agent on-prem. We updated the agent and the problem went away so I guess you can close this one.  Thanks for reporting this! Saved us a bunch of headaches :)

[2018-09-11 15:14] farrukh-normuradov opened #8288 "Azure CLI task throws error with no real message after successful execution of nodejs script"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting
Used System.debug to see logs
## Environment
- Server - VSTS or TFS on-premises?
    Azure DevOps (VSTS)
    - If using TFS on-premises, provide the version:
    No
    - If using VSTS, provide the account name, team project name, build defini

[2018-09-11 15:15] farrukh-normuradov commented on #8288
FYI, @andreasgrimm

[2018-09-11 15:38] vincentdass commented on #8182
@Banzboy , we removed the retry in post deployment script that is common for both Windows & Linux.
Also the path to poll for script result is changed.

[2018-09-11 15:39] vmitchell85 commented on #8247
@tilumi Did you resolve your issue? I'm having problems as well and cannot seem to find good documentation on using variables in SSH tasks

[2018-09-11 15:43] vmitchell85 commented on #8247
If anyone is also having issues... you must reference the variables in your Task commands using uppercase as well even though [this doc](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/variables?view=vsts&tabs=shell) seems to indicate otherwise.

[2018-09-11 18:04] NDDeveloper13 commented on #8270
I tried a physical machine and I got the same result. I first tried version 2.131.0 which is what TFS downloads when going to the TFS agent pools page. I then used version 2.139.1. Both of those versions, I got the same error regarding Failure attempting to call the restapis.

Are there settings that our tfs admin should look into?

[2018-09-11 19:03] fuzzybinary commented on #6868
To follow up a bit on this -- it seems like Xamarin.UITest no longer restores to the packages directory, but now only restores to the global nuget cache. Not sure when that changed.

However, in our case we try to run test as part of a pipeline after the build is complete, not as part of the same step. It would be nice if this step allowed you to specify a version of Xamarin UITest and pulled its

[2018-09-11 19:37] guylevy opened #8289 "npm publish ignores NO_PROXY environment var (and AGENT_PROXYBYPASSLIST)"
## Environment
- Server - TFS on-premises 2018.1
- Agent - Private: Win10
- Both agent and TFS server are on premises and behind a proxy

## Issue Description
Using the NPM task -> publish to internal feed (registry I select here and selecting an existing private TFS NPM feed) -> results in error "socket hang up".
Since both
When checking the proxy logs, we see that the task hits it even that both

[2018-09-11 20:49] JohannesDrexler commented on #8135
add a variable named 'system.debug' to your release, set this to true and re-deploy that  environment. this triggers verbose-logs for all tasks, maybe theese logs will help figure out what exactly is going wrong here

[2018-09-11 21:36] johnhydemtm365 commented on #8050
Hi yes it is and I appreciate the help.

Thanks
John

On 11 September 2018 at 19:23, Rajat Agrawal <notifications@github.com>
wrote:

--
*John Hyde*
Technical Operations Manager

*The MTM Agency*      |   Saxon House, Saxon Wharf, Lower York St.,
Southampton,   SO14 5QF
+44 (0) 2380 215 399 <+44%2023%208021%205399> |   themtmagency.com   |
john@themtmagency.com

[2018-09-12 07:53] StefH opened #8291 "After executing `dotnet tool install` command in a yml script for DevOps Pipelines, the installed tool is not found?"
## Environment
- Server : Online Azure DevOps Pipelines

## YML script
[code]

## Issue Description
I get an error when using `dotnet tool install --global ***` in the new **Azure Pipelines** flow.

My command is like (see above YML file):
[code]

This command outputs this:
[code]

And the next step will fail (running the above command in the same _step_ or a _different script step_ make no differ

[2018-09-12 07:58] kuvinodms commented on #8288
Azure CLI expects that the script is a windows batch/shell script. So if you want to run nodeJS script then you will have to prefix it with "node".
If you still face any issue then please share your script and complete debug logs.

[2018-09-12 08:09] kuvinodms commented on #8284
This is not a VSTS task issue, it is failing due to an error in Azure Stream Analytics resource. You need to contact with them. Please raise an issue over here and share logs, inputs and task settings : - https://github.com/Azure/azure-stream-analytics/issues

IMO you might be missing a mandatory field of "datasource" in your input. For more info over inputs -https://docs.microsoft.com/en-us/rest/

[2018-09-12 08:10] #8284 closed

[2018-09-12 08:13] pagangil commented on #7815
@iPiyushPatel I tried to reproduce this issue on my end. I had a large name for the log file (> 70 characters) and a deep folder hierarchy too but I'm seeing the correct number of results being published.

Can you please provide the following details for me to debug this issue further?
- Server (VSTS or TFS on-premise):
- Agent (Hosted or private):
- Agent version:
- VsTest task version used:
- Th

[2018-09-12 08:36] Banzboy commented on #8182
That's clear, thanks for letting me know.

[2018-09-12 08:38] kuvinodms commented on #8276
@ankurkapoor we've seen few similar issues in past and mostly its a syntax issue in json template. Powershell is quite lenient over json syntax but you can verify your syntax using some JSON parsers like http://json.parser.online.fr/

Looking forward for your response over the same.

[2018-09-12 08:44] LokiMidgard commented on #7706
I'm still tiding up the database, and shrinking takes some time.

I'm not sure if I can provide you with a Sample this week.

[2018-09-12 08:46] RoshanKumarMicrosoft commented on #8222
@jamesbannan  Is your agent is running as [interactive mode or as service](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=vsts#service-files) ? Can you also verify your agent service is running through which user ? Has it sufficient permission for agent folder ? Can you also tried by changing agent folder permission chmod -R 777 . If you still face any issue please wr

[2018-09-12 08:52] ShreyasRmsft commented on #7706
@LokiMidgard that's alright we'll try everything from our to see if we can repro and identify the problem. If not we'll wait round till you are free enough to try out a repro. Thank you for your co-operation in trying to identify and fix the issue.

[2018-09-12 08:56] RoshanKumarMicrosoft commented on #8223
@Prashanth-PS  Can you please share complete log on RM_Customer_Queries@microsoft.com ?

[2018-09-12 09:28] RoshanKumarMicrosoft commented on #8262
@qJake  The error message could result due to the following reason:
1. The service associated with Credential Manager does not start.
2.  Some files associated with the application have gone corrupt.
Can you try your custom script locally.? It looks like there is some issue in your custom script . If you want you can use our IIS deployment or IIS management task instead of writing your custom scri

[2018-09-12 09:46] azooinmyluggage opened #8295 "xy"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:

[2018-09-12 10:45] kmkumaran commented on #8263
@darshankumarys -
You can do a GET on specific VM to get more properties using https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/get.

I presume you also are asking how these calls be made from VSTS extension which you own. Is that right? If so, you can enhance your task to use your own datasourcebindings if that is already not defined in endpoint. You can refer https://github.com/

[2018-09-12 11:48] phatcher opened #8297 "Azure App Service Deploy: Can't change which service connection is used"
We moved from a PAYG subscription to an EA one, which means I need to update the service connection used for deployments...

![image](https://user-images.githubusercontent.com/192778/45422948-af24cf00-b689-11e8-9eab-6a71e7b9ecc1.png)

The system won't let me update the existing service connection, presumably because it was authorised in a different AD.  I've successfully created a new service conn

[2018-09-12 12:13] vincentdass commented on #8297
@phatcher , Azure subscription is linked to process parameters.
Click on the Environment name and that will show the process parameters.
Then u can change the Azure subscription.
![image](https://user-images.githubusercontent.com/20121508/45424150-3c304e00-b6b3-11e8-9680-c35e1dcc10af.png)

[2018-09-12 13:03] phatcher commented on #8297
@vincentdass Thanks for that, I have to re-enter the resource group/slot settings, but that's to be expected.

Might be an idea to put another link on the Azure App Deploy that points you at the Deployment process parameters page, e.g. Update vs Manage - I haven't had to touch this for ~9 months or so which is why I forgot.

[2018-09-12 13:35] phatcher commented on #8297
Slightly odd, modifying a different pipeline that was created ~2.5 years ago and this one doesn't have any environment process parameters, but the Azure App Service deploy parameters shows refresh circles...

![image](https://user-images.githubusercontent.com/192778/45428404-1433f100-b699-11e8-8b90-36a2781fdf7c.png)

[2018-09-12 13:58] Jorje65 commented on #5411
Hi @DeV1L ....I'm experiencing similar issues when the 'Run on agent' task fails while deploying on the VSTS release pipeline. It throws similar errors as the ones in your error logs in the screenshot above. How were you able to resolve this?

[2018-09-12 14:01] phatcher commented on #8297
@vincentdass Thanks for the update

[2018-09-12 14:27] #8297 closed

[2018-09-12 15:04] rajatagrawal-dev commented on #7338
I am not able to reproduce this error. I tried with the exact paths mentioned in the logs and even longer paths with no repro. If you face this issue please let us know.

[2018-09-12 15:41] audunfr opened #8298 "vsts release deploy to kubernetes. Container registry throws 400 with inner exception"
## Environment
- Server - VSTS Linux Hosted

## Issue Description

1) Add a "Deploy to kubernetes" task and configure it with Azure resource manager.
2) Expand "secrets" and enter Container registry type, Azure subscription, and try to get a list of azure container registry.

The action fetching the list for the Azure container registry dropdown is failing with a inner exception of:
{"$id":"1","in

[2018-09-12 16:22] letmaik opened #8299 ""Permission denied" error in conda task"
## Environment
- Server - VSTS or TFS on-premises?

  VSTS

- Agent - Hosted or Private:
    Hosted 'Ubuntu 16.04'

## Issue Description

[code]

This task produces permission denied errors which lead to task failure.

### Task logs

[code]

[2018-09-12 17:15] TomasHubelbauer opened #8300 "PublishCodeCoverageResults task relative path for inputs"
Hey, I have a pipeline like this:

[code]

As you can see for the `PublishTestResults` I was able to use a relative path (to the `/s` directory), but for `PublishCodeCoverageResults` it doesn't work. I think it is because it uses the `resolvePathToSingleItem` function whereas the `PublishTestResults` uses just `tl.findMatch`. I am not sure if `PublishCodeCoverageResults` could use just `tl.findMat

[2018-09-12 17:16] sgentile opened #8301 "csproj file type not recognized"
Running a build against our .NET core 2.x project results in this error:

**'....csproj'. The file type was not recognized.**

Sees like the same issue reported years ago is not addressed https://github.com/Microsoft/vsts-tasks/issues/3311 ?

my project runs both for those coding in Visual Code and Visual Studio 2017

2018-09-12T17:06:35.1820101Z The .NET Core tools collect usage data in order to

[2018-09-12 17:31] sgentile commented on #8301
I needed to use the Managed VS 2017 build agent - then it worked

[2018-09-12 17:32] #8301 closed

[2018-09-12 17:53] letmaik commented on #8300
I just stumbled upon the same issue and can confirm that your work-around works.

[2018-09-12 23:09] ColinLaws opened #8305 "PublishTestResults"
This issue exists on AzureDevops

I am running tests in PHPUnit and logging the test to a JUnit xml file. My build pipeline is setup to publish test results using the PublishTestResults task.

Here is my XML file generated by PHPUnit in the JUnit format:
[code]

Here is my build pipeline YAML:
[code]

I receive the following error when the PublishTestResults task runs:
##[warning]Invalid results f

[2018-09-12 23:34] calebcartwright commented on #7987
This should also be helpful, at least for those defining their pipeline in yaml
https://docs.microsoft.com/en-us/azure/devops/pipelines/languages/go?view=vsts#set-up-a-go-workspace

[2018-09-13 03:42] praneetloke commented on #8119
I have the same issue in a hosted agent as well. I don't have any binaries in the folder that is getting published to the drop site. It is just the distribution files for a SPA.

I see that this issue isn't assigned to anyone yet. Can someone please take a look at this?

[2018-09-13 13:26] tlindsay42 commented on #7378
Just ran into this issue again after replacing a SSH key 😢

[2018-09-13 13:35] tlindsay42 commented on #7378
The workaround fixed it

[2018-09-13 14:19] AArnott opened #8306 "DotNetCoreInstaller quietly fails to install .NET Core runtimes where they'll matter"
_From @AArnott on September 13, 2018 13:38_

In trying to workaround Microsoft/azure-pipelines-image-generation#234 by installing the .NET Core SDKs and runtimes that I need myself, I discovered that installing runtimes doesn't work, and displays no error (till I need the runtime to have been installed, then it fails).

Consider [this build](https://andrewarnott.visualstudio.com/OSS/_build/results

[2018-09-13 15:48] AJreddy89 opened #8307 "Finding list of projects referring to different solution"
We have different nodes of our architecture to reuse same code base. So, is there any way to find the list of projects that refer to a different solution.

SOLUTION A ; PROJ A
SOLUTION B; PROJ B

PROJ A have a project reference to PROJ B

This is more like a question rather than an issue. If someone could help me out, it would be very helpful.

[2018-09-13 18:40] stuartleeks opened #8308 "Helm Deploy Task. Error: Endpoint auth data not present when running helm init"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment

    - If using VSTS, provide the account name, team project name, build definition name/build number: VSTS. Account: stuartle-ms, projectname: custom-vison-playground, release definition: New Release Pipeline, release-4

- Age

[2018-09-13 18:41] anand5555 commented on #8135
@JohannesDrexler   i have enabled the system.debug and i see the below error

2018-09-13T18:39:21.7536114Z ##[debug]build.artifactStagingDirectory=undefined
2018-09-13T18:39:21.7559433Z ##[debug][SQ] Publish task error: Path must be a string. Received undefined
2018-09-13T18:39:21.7560322Z ##[debug]task result: Failed
2018-09-13T18:39:21.7563399Z ##[error]Path must be a string. Received undefined

[2018-09-13 18:48] jpaa07 opened #8309 "Npm command execution is failing throwing ECONNRESET"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS
         account name: Juan Arango (jarango@brainshark.com)
         project name: Brainshark
         build definition name: UI Automation - Coaching
         build number: 2558

- Agent - Hosted:
   Hosted Age

[2018-09-13 19:45] JohannesDrexler commented on #8135
$(Build.ArtifactStagingDirectory) is not available during release-process but during build. Looks like this task is supposed to be used in build but not release.

[2018-09-13 20:11] brcrista commented on #7378
You mean you set up your own npm registry?  I think I'm missing how NPM ties in here.

[2018-09-13 20:12] brcrista commented on #7378
Reopening as it seems this is still happening to people

[2018-09-13 20:55] CalvinFengDatacom commented on #6657
Hey guys, any updates of resolving this issue?

[2018-09-13 22:20] NDDeveloper13 commented on #8270
Anything on this? Is there something else I can look into?

[2018-09-14 04:45] nschonni opened #8312 "NodeTool won't work for very EOL versions of Node x64 on Windows"
## Environment
- Server - VSTS
    - If using VSTS, provide the account name, team project name, build definition name/build number:
https://dev.azure.com/SassLang/node-sass/_build/results?buildId=45&view=logs

- Agent - Hosted or Private:
    - If using Hosted agent, provide agent queue name: VS2017-Win2016

## Issue Description

Supper old Node on Windows installers went in a sub-directory of th

[2018-09-14 06:42] harsh-argusoft opened #8313 "Facing issue during use of ZIP deploy and Run from zip"
Hi,

I am using zip deploy method to deploy code on WebApp. But sometimes we are facing issue file missing issue on zip deploy as result server is not working.

Same as Run from zip we are facing permission issue. sometime we are not able to edit files under wwwroot.

Someone please suggest if any solution for this?

Previously we were using WebDeploy but We are deploying nodeJs+Angular(Webpack) a

[2018-09-14 07:02] audunfr commented on #8298
Wonderfull @bansalaseem. Do you know when it will be live at dev.azure.com or the old vsts portal (probarly the same though)?

[2018-09-14 07:54] sundar85 commented on #5318
I get the same error too.

Microsoft.VisualStudio.Services.Common.VssServiceException: TF400898: An Internal Error Occurred. Activity Id: 4c417f0b-fdc7-4a9e-bb0d-cfcddce77209.

[2018-09-14 08:18] mdschweda commented on #8041
Why would that be the case? I can't see any reason to disallow that. As a matter of fact, I can map a single file just fine on a Windows Server agent:

[code]

[2018-09-14 08:30] cy33hc opened #8314 "AZ Cli Task: Add option to configure the AZURE_CONFIG_DIR for fixing concurrency issue"
I have 2 VSTS pipelines that run in parallel, each calling multiple AZ Cli Task at different phases with the same serivce principal. They run under their own agent, but the agent is on the same Private Linux VM.

The issue is that one of the pipeline will always complete before the other and it would then call "az clear" to delete the access tokens. This causes the second pipeline that is still ru

[2018-09-14 10:43] Allendorf231 commented on #7702
Timeout came from unaccessible NuGet Server, Agent failed to log this and retried to open connection until build time out.

[2018-09-14 10:43] #7702 closed

[2018-09-14 12:34] Fredrik-C commented on #6135
Unfortunately this does not work on Linux build agents.
https://developercommunity.visualstudio.com/content/problem/215823/issues-trying-to-build-docker-linux-image-in-vsts.html

[2018-09-14 13:13] bryanmacfarlane commented on #6135
@Fredrik-C - you may want to start a separate issue.  But

Tasks always get the per build bearer token.  That checkbox was intended for ad-hoc scripts (sh, ps1, etc)

For Linux, Try Hosted Ubuntu 1604 just released.  The preview one will be going away

You can use this yaml to run your build in a container on ubuntu 1604:  https://github.com/Microsoft/azure-pipelines-agent/blob/master/docs/preview

[2018-09-14 13:55] rh072005 opened #8315 "Helm package & deploy task. Cannot run helm init --client-only without cluster information"
If you add a Helm package & deploy task, cluster information is required to save the task.
When using Azure Resource Manager, an Azure subscription, resource group, and cluster name are required, or a Kubernetes service endpoint must be configured.

If I want to run ```helm init --client-only``` I can't do this with the task unless I have a cluster

This makes sense as part of a release but not as

[2018-09-14 14:18] SartriX opened #8316 "Code Coverage incorrect when NuGet packages contain pdb's"
## Environment
- VSTS
- Project with nUnit testcases

## Issue Description
VS 2017 Enterprise 15.8.3 reports a total code coverage of 92.97% while VSTS build of the same project reports a coverage of 48.60%
The difference in the coverage files is the inclusion of foreign nuget packages into the results, where the criteria to have them included seem to be:
- Touched by unittest
- .pdb present

My a

[2018-09-14 14:34] farrukh-normuradov commented on #8288
I removed bash code of `curl` from the nodejs code, reimplemented it with javascript. Not then it stopped failing.

[2018-09-14 14:34] #8288 closed

[2018-09-14 16:16] tlindsay42 commented on #7378
Sorry for not being clear @brcrista.  I had an existing job with a InstallSSHKey@0 task that was working fine, but when I replaced the SSH private key secure file a few days ago, the task started failing until I came across this issue and implemented @ericsciple's workaround of switching the branch in the build pipeline > save > restore the desired branch > save > trigger manual build.

[2018-09-14 17:08] bryanmacfarlane opened #8318 "Bash task does not honor script to run and changes meaning of variables like $0"

[2018-09-14 17:38] brcrista commented on #7378
Ok, thanks @tlindsay42 .  In that case, this is a known issue with our resource authorization that we are working to fix.  I'll mark this as closed again.

[2018-09-14 17:38] #7378 closed

[2018-09-14 18:06] ShreyasRmsft commented on #8270
@NDDeveloper13 this is the first we're hearing of this. One thing that can help is trying to capture the network traces of the request going from the agent when it attempts to contact the tfs service. Can you collect the networks dumps/traces?

[2018-09-14 18:45] cwoolum commented on #6135
@Fredrik-C , Not sure why you are having that issue. I use hosted Linux build agents.

[2018-09-14 18:46] cwoolum commented on #6135
@bryanmacfarlane , If I don't have that box checked, my Nuget restore fails with a 401.

[2018-09-14 21:15] qJake commented on #8262
Hi @RoshanKumarMicrosoft,

First, I didn't want to use the IIS Deployment task as it is deprecated.

Second, my PowerShell script is *extremely* simple, it does not have any connectivity by itself, it just moves files and does things locally:

[code]

What else could it be? If we suspect that it's something specific to Azure VMs, I would need something concrete to bring to the Azure team or suppor

[2018-09-14 22:31] kichalla opened #8321 "Unable to access variable set in a VSTS task in another task (bash script)"
## Troubleshooting
Yes, I tried troubleshooting the problem but cannot find the reason my scenario does not work.

## Environment
- Server - VSTS or TFS on-premises?
    VSTS
    - If using VSTS, provide the account name, team project name, build definition name/build number:
      kiranvsts.visualstudio.com, SampleProject, SampleProject

- Agent - Hosted or Private:
    Hosted
    - If using Host

[2018-09-14 22:46] kichalla commented on #8321
Found the following link which fixed my issue:
https://github.com/Microsoft/azure-pipelines-agent/blob/31217c9497cc31ba8807cc01408c4a36ffb7c4ad/docs/preview/yamlgettingstarted-setvariable.md

[2018-09-14 22:46] #8321 closed

[2018-09-15 12:05] bryanmacfarlane commented on #6135
@cwoolum - are you scripting or cli use of nuget or is it the nuget task?  (tasks authors get access to the token, ad-hoc scripts need to check the box)

[2018-09-15 13:31] Fredrik-C commented on #6135
We use "RUN dotnet restore" i the Dockerfile for the build phase/container.

On Sat, 15 Sep 2018, 14:06 Bryan MacFarlane, <notifications@github.com>
wrote:

[2018-09-15 14:34] tomasherceg opened #8322 "Azure App Service Deploy 4.*: Making Zip Deploy as a default method is confusing"
The 4.* version of Azure App Service Deploy task uses Zip Deploy as a default option, but the Run from Package application mode has some limitations that may not be known to the users - for example, the app cannot write in its filesystem.

In order to use another method, I need to expand the Additional Deployment Options section AND check the Select deployment method checkbox. Only after these two

[2018-09-16 10:49] #8295 closed

[2018-09-16 14:59] ArieHein commented on #8041
Remove the ./NuGet.config leave only Nuget.config with nothing infront

[2018-09-16 23:58] jerryjren commented on #5346
@joe45sp

Have you found a solution for your problem? I'm facing the same issue, tried all the possible combinations.

[2018-09-17 03:08] parrainc opened #8324 "Add nuget-task-common as dependency in custom build task"
### Description

I'm in the middle of creating a new build task for Azure DevOps, and one of the dependencies I need to have in my task is the *nugest-task-common*, specifically what I need to do with that dependency is the ability to perform a `nuget  pack` command from my task (yeah, it's about creating custom nuget packages).

Could you please advise and let me know how can I achieve this?
Didn

[2018-09-17 05:50] SumiranAgg commented on #8313
@harsh-argusoft RunFromZip makes file structure under wwwroot ReadOnly by design. If you want to edit something after deployment you should use ZipDeploy.
As for the issue with ZipDeploy, it removes previous files with every deployment. Are you using two Release Definitions to deploy (for instance one for Core app, another for dependencies)? If yes, that might be causing file missing issue.
Can yo

[2018-09-17 08:28] RoshanKumarMicrosoft commented on #8262
@qJake  This is [IIS Web app Deployment through winrm](https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.iiswebapp) which is available as extension. You can also use [IIS web app deployment task for deployment group](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/IISWebAppDeploymentOnMachineGroupV0).

Can you also please try with power shell on target machine having version

[2018-09-17 10:45] kaadhina commented on #8187
@bergmeister are you unblocked on this? If not, can you please share the trx as mentioned above?

[2018-09-17 12:06] Anumita commented on #8308
Are you using the helm template which consists of helm installer , helm init and helm upgrade tasks? This is an known issue if you use the template.

[2018-09-17 12:12] stuartleeks commented on #8308
Yes - that was where I started. Is the issue on GitHub? I had a look but didn't see anything, so apologies if I missed it.

[2018-09-17 12:16] ShreyasRmsft commented on #8159
You can redact sensitive data.

[2018-09-17 12:52] cwjbowler commented on #7621
Hi,

We are still having this issue intermittently, even after upgrading to use 2.* of the Windows Machine File Copy Task. We had the issue previously with 1.* and did notice that changing it to 2.* allowed us to complete the releases (without rebooting the agents). At the time, it was picking up version 2.1.3 of the task.

However now it's picking up 2.1.4, and we are having the issue again. Has

[2018-09-17 13:16] Anumita commented on #8308
A customer raised this issue on developer community(https://developercommunity.visualstudio.com/content/problem/324154/error-endpoint-auth-data-not-present.html). We are still looking into the issue. Could you manually add the helm task for the time being? Sorry for the inconvenience.

[2018-09-17 15:11] andytaw commented on #5066
I had the same problem.
Fixed by using version 15.0.27924.0 of vstest.console.exe.
I found the exe in C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow.

[2018-09-17 15:39] hellosri commented on #4582
I still notice this `##[error]spawn UNKNOWN` intermittently with kubernetes tasks e.g. kubectl delete.
I'm using a hosted windows VS2017 agent.

`2018-09-17T15:06:54.3052029Z ##[section]Starting: Deploy Alarms
2018-09-17T15:06:54.3058633Z ==============================================================================
2018-09-17T15:06:54.3058887Z Task         : Deploy to Kubernetes
2018-09-17T15:06:

[2018-09-17 16:53] ahaleiii commented on #7621
We were also running into this issue. We have a build server that also functions as a host server for our lower environments, so the release for a few of our pipelines will be done on that server to that same server. We were getting the above failure (Multiple connections ...) when the Windows Machine File Copy task was not using the same user that the VSTS agent was running as. After updating the

[2018-09-17 17:33] czb182 opened #8329 "Access Global Packages Folder as Variable"
It VSTS, there is list of predefined variables available for access.

https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=vsts

I'm proposing adding a new one for the global packages directory defined here

https://docs.microsoft.com/en-us/nuget/consume-packages/managing-the-global-packages-and-cache-folders

It would follow the rules in above link, to get value based on t

[2018-09-17 18:53] pulkitaggarwl commented on #7987
Thanks folks for the feedback. Please keep them coming. This has been registered as a request in the backlog. Also, one other forum where you can add this feedback is our [User Voice](https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services?category_id=145269). Similar feedback from the community will help us prioritize this.
Regards, Pulkit

[2018-09-17 20:23] gaborbernat opened #8330 "UsePythonVersion@0 does not configure correctly Python 3.4 and 3.5"
[code]
See tests inside https://github.com/tox-dev/tox/pull/995.

[2018-09-17 20:29] zooba commented on #8330
That’ll be the lack of PEP 514 registry entries. Python 3.6 works because it’s finding a different install than the one installed by this task.

The expected use would be to run "python" rather than "py", but I suspect it wouldn’t be too hard to get the UsePythonVersion task to also update the registry? That might not play well on not-our-machines though. Still, probably better than the vague erro

[2018-09-17 21:49] sita-mexia commented on #8309
https://stackoverflow.com/questions/8874363/npm-install-without-ssl

[2018-09-17 21:50] jlptheman commented on #8309
Try disabling TLS (seems to be a problem in Windows only). Worked for me.

https://stackoverflow.com/questions/8874363/npm-install-without-ssl

[2018-09-17 22:42] brcrista commented on #8330
@zooba is right, the registry entries aren't set on the hosted Windows machines.  They should probably be set at image creation when installing Python rather than by the Use Python Version task.  That will be easier, it won't mess with self-hosted agents, and it will let people use `py` instead of Use Python Version if they're so inclined.

The fix will be straightforward but will need to roll out

[2018-09-18 02:10] iPiyushPatel commented on #7815
Hey @pagangil ,

Thanks for looking into it.

Here are my answers :

1. VSTS - oh no - Azure DevOps :)
2. Private
3. Agent Details :
![image](https://user-images.githubusercontent.com/5212585/45660340-d8c07900-bb15-11e8-9e8d-a9237dcfd093.png)
4. 2.* :
![image](https://user-images.githubusercontent.com/5212585/45660367-fd1c5580-bb15-11e8-949e-e95cc0f2a659.png)
5. No it wasn't containing all results

[2018-09-18 03:40] kmkumaran commented on #8263
@darshankumarys, I am marking this thread closed. Fell free to get back if you have more queries on this.

[2018-09-18 03:40] #8263 closed

[2018-09-18 06:05] gaborbernat commented on #8330
Thanks 😎 I can work around it in the meantime, just noticed that this part does not work for the Python usage.

[2018-09-18 06:11] arjgupta commented on #7621
Hi Guys, thanks for reporting this. We are looking into this issue. We added Remove-PSDrive at the end of the task in order to delete connection that we make. But I see that it does not work in some situations. We are trying to see if in addition to Remove-PSDrive , we can delete shared paths using net use as part of the task itself.

[2018-09-18 06:29] pagangil commented on #7815
@iPiyushPatel I tried on the newer version of agent and the bug wasn't reproducing there. Few things:
1. I guess you already checked that the complete file path was not exceeding windows file path limit of 260 characters.
2. Can you please try upgrading your agent or use a hosted agent. I haven't tried this issue on the older version but it works fine on the newer version of the agent.
- I guess y

[2018-09-18 06:36] dikhakha commented on #8306
The .NET core tool installer will install in the local agent directory (not at global level) and make it available to the next set of tasks. The correct order of the tasks in the given build should be
1. Install .NET core SDK 1.1
2. Build and run test 1.1
3. Install .NET core SDK 2.0
4.  Build and run test 2.0

So you should have a tool installer task with a specific version just before all the ta

[2018-09-18 07:33] gelomarc commented on #8084
Hi @roizentner , did you manage to solve this issue? It seems that I have some issue.

[2018-09-18 07:59] roizentner commented on #8084
@gelomarc, it was the test's fault. It was changed without my knowledge and I was too quick to open this issue.

[2018-09-18 07:59] #8084 closed

[2018-09-18 07:59] akunaatrium opened #8332 "DotNetCoreInstallerV0 task has a grammar mistake"
If it doesn't find the requested version of .NET Core from the cache, it says this:

"Cache does not contains this particular .NET Core. Will be downloaded and installed."

The "contains" should be replaced with "contain", but while we are at it, I would suggest to replace the whole string with the following, but since I am no linguist, feel free to ignore the suggestion:

"The cache does not cont

[2018-09-18 08:57] ShreyasRmsft commented on #8270
@NDDeveloper13 taking a look at the fiddler traces should help with figuring out why the calls are failing

[2018-09-18 10:30] vithati commented on #8091
@AlexRamey, "Azure Container Registry" input is editable dropdown, you can specify varaible also.
Example:-
I have sepecified varaible in "mydoc" taskgroup docker task (In below screenshot-1). And I used this "mydoc" taskgroup in release pipeline (screenshot-2). I have add release variable 'azurerepo' with value "test.azurecr.io" and sepecified 'azurerepo' value in 'myrepo' parameter.  Can you try

[2018-09-18 10:41] #8053 closed

[2018-09-18 10:55] SadagopanRajaram opened #8336 "Control text in a task input field based on selection from a previous input field"
Is there a way to control the text in a multiline input field based on the option selected in a pick list?
I know that there is a way to control the visibility of the input field itself but not this.

[2018-09-18 11:27] bansalaseem commented on #8298
It should be live on dev.azure.com now.

[2018-09-18 11:27] #8298 closed

[2018-09-18 11:27] bansalaseem commented on #8308
Assigned it to Sriram as his team is looking into the issue in endpoint.

[2018-09-18 11:28] bansalaseem commented on #8243
It should be working for you as the outage got resolved 10 days back or so.

[2018-09-18 11:28] #8243 closed

[2018-09-18 11:35] bansalaseem commented on #7609
I am closing this issue as Nishu has posted a workaround and we have fixed it in latest code.

[2018-09-18 11:35] #7609 closed

[2018-09-18 12:50] vithati commented on #8238
@andreujuanc , In linux agent, quotes are not visible in logs if command argument contains spaces, but command will work fine. If you try same in windows agent it will show quotes around the project name.  There is already bug opened to address this issue in vsts-task-lib area https://github.com/Microsoft/vsts-task-lib/issues/383. If you see any with spaces in arguments please reopen the issue.

[2018-09-18 13:06] NDDeveloper13 commented on #8270
The Fiddler trace (below) reveals that it can't even establish a connection, so I am unable to see which rest API it is trying to hit. Note that the first 2 tasks in the job finished successfully, so it's something specific with the Visual Studio Test task.

We are looking into that right now. I have the tfs admin taking a look to see if he can find a setting that's off or something. If you have i

[2018-09-18 14:31] AArnott commented on #8306
Thanks. That ordering requirement strikes me as odd, since I can run the [`dotnet-install.sh` script](https://github.com/AArnott/linux-buildagent/blob/026791b7e1226db8aa315f97a147187a1b6fd437/Dockerfile#L28-L42) as many times in a row as I want and they all "stick". I'm setting `--install-dir` explicitly in my example, but if I didn't and it went to the user's home directory by default, I can stil

[2018-09-18 14:35] cy33hc commented on #8314
Found a workaround for this.

I created a release variable with the name AZURE_CONFIG_DIR=$(System.DefaultWorkingDirectory). This set an Linux ENV prior to az login so that each pipeline has it's own access tokens.

[2018-09-18 14:52] samneirinck commented on #7536
I seem to be getting the same issue now, but only on Task Groups. When I use the task directly on a build or release it remembers my environment variables, but when I use Task Groups it forgets it on save.

Is this issue related?

[2018-09-18 14:57] lasote opened #8337 "UsePythonVersion works intermittently on OSX"
I'm used azure pipelines with hosted agents.

The `UsePythonVersion` almost always fail. Sometimes it passes but the most common is:

[code]

Build link here: https://conanci.visualstudio.com/Conan/_build/results?buildId=70&view=logs

A related issue here: https://github.com/Microsoft/vsts-tasks/issues/8330

[2018-09-18 15:03] joshbouganim commented on #5066
I can't get the code coverage working for me.  All I see is in that tab is "Download Code Coverage results"

here is my yaml:
[code]
i also tried `/Framework:".NETCoreApp,Version=v2.1"` because thats what my app is using

and here is the log for the vstest step:

[code]

[2018-09-18 15:10] bryanmacfarlane commented on #8337
It looks like the hosted mac image doesn't have?  Odd that it's intermittent

[2018-09-18 15:10] bryanmacfarlane commented on #8337
@brcrista ?

[2018-09-18 15:12] lasote commented on #8337
The docs and Mac agent properties say that it has 2.7, 3.6.5 and other versions:

[code]

Here is a link to a build that worked: https://conanci.visualstudio.com/Conan/_build/results?buildId=69&view=logs

[2018-09-18 15:14] ferantivero commented on #8110
@vincentdass just wanted to mention that today I faced this issue working with v4 by switching from DeployToSlotorASE from true to false.

downgrading to v3 does the trick when working without slots.

[2018-09-18 15:29] kentonbmax opened #8338 "Feature Request - CopyFiles:v2"
Feature Request

## Environment
- Server - VSTS
    - If using TFS on-premises, provide the version:

- Agent - Hosted or Private:
    - private agent on target

## Issue Description
- Intermittently directories are not cleaned at times. A redeploy fixes this 98% of the time. I suggest adding a clean retry option allowing the clean process to try again if it fails 1 or n times.

[2018-09-18 15:30] vincentdass commented on #8110
@ferantivero , Can you please share the debug logs to investigate?

[2018-09-18 16:40] brcrista commented on #8337
It appears there are some macOS agents in the hosted pool that don't have Python installed.  Let me follow up with the team that manages that pool.

[2018-09-18 16:51] iPiyushPatel commented on #7815
Thanks @pagangil for looking into it.
1. That's unlikely that it was exceeding 260 char limit.
2. I've updated agents but will test again with removing condition to limit chars.

Thanks again for investigating.

[2018-09-18 16:58] lasote commented on #8337
Apparently now is working.

[2018-09-18 18:14] samanthahuston commented on #8309
Ended up being that I wasn't on my VPN, if this is the case for anyone else.  It's noted in a comment on this SO question and I didn't make the connection initially.

[2018-09-18 20:11] emmenlau commented on #8299
This affects me too. Furthermore the documentation for the CondaEnvironment@1 task is rather poor. For example, the `createCustomEnvironment` option is mandatory to make use of `environmentName` but this is not documented anywhere. If `createCustomEnvironment` is omitted then `environmentName` is silently ignored.

[2018-09-18 21:12] andrewsuiter opened #8343 "Service Endpoints issue with if statements YAML build"
I'm am having issues with deploying to multiple branches.  When I attempt to run the build to 'master' the connection is not recognized.  Here is the message upon queue.

"Step  input azureSubscription references service connection PRODKEYVAULTCONN which could not be found. The service connection does not exist or has not been authorized for use. For authorization details, refer to https://aka.ms/

[2018-09-19 00:00] bryanmacfarlane commented on #8307
This repo is for reporting issues with the tasks in the repo (/Tasks)

[2018-09-19 00:00] #8307 closed

[2018-09-19 00:02] bryanmacfarlane commented on #8336
This is for tracking issues for the in the box tasks (/Tasks).

[2018-09-19 00:02] #8336 closed

[2018-09-19 00:04] bryanmacfarlane commented on #8343
This repo is for issues with the in the box tasks (/Tasks).  You can create an issue / question and tag yaml in the azure-pipelines-agent repo

[2018-09-19 00:04] #8343 closed

[2018-09-19 02:30] Lovakumar commented on #7830
Fixed it in https://github.com/Microsoft/vsts-tasks/commit/a9f87eded35907c1b48bb165817385fb3924b0be

[2018-09-19 02:30] #7830 closed

[2018-09-19 02:34] bryanmacfarlane commented on #8338
doesn't see the role of "copy" can you elaborate on directories that are not cleaned up.  And why would copy own cleaning up?

[2018-09-19 02:37] bryanmacfarlane commented on #8312
Thanks for the heads up.  Also good to document here.  If we get some +1s on this or other hits, we'll consider fixing.  I think the very old versions aren't compelling but I may be wrong :)

[2018-09-19 02:37] #8312 closed

[2018-09-19 02:50] kentonbmax commented on #8338
CopyFiles is a task in VSTS. You are given the options as part of this task
to clean folder, overwrite, or flatten. Clean folder fails from time to
time for websites for directories like app_themes. This is almost always
related to sub directories. Upon inspection after a failure sub directories
still exist but are empty. The ability to re-apply the clean operation is
simply to mitigate the failur

[2018-09-19 02:52] bryanmacfarlane commented on #8338
when would we re-apply? On failure?  Always?

[2018-09-19 03:00] kentonbmax commented on #8338
Retry on failure would work. If the task could confirm that the clean was
successful and re-try only if files remain that would be optimal.

On Tue, Sep 18, 2018 at 10:52 PM Bryan MacFarlane <notifications@github.com>
wrote:

[2018-09-19 05:59] ShreyasRmsft commented on #8270
Both of the below tasks do not talk to tfs so their success is not indicative of successful communication with tfs.

VsTest Platform Installer
Copy Test Assemblies - copies assemblies from a drop location to the agent

Use some task like publish artifacts (publish test results etc. )or some other task that talks to tfs to confirm whether other  tasks are able to talk to tfs

[2018-09-19 06:08] azooinmyluggage commented on #8315
@rh072005 We will fix this. Thanks for the feedback. For other commands like package we made the change but missed out on this. Let me know if you have any other feedback on the container - K8s features in Azure DevOps.

[2018-09-19 06:14] ds-ms commented on #8315
@rh072005 if you're using a `HelmInstaller` task before executing your `HelmDeploy` task, the recent update (hotfixed yesterday) to the `HelmInstaller` task will do `helm init --client-only` for you, as a part of verifying the installation.

[2018-09-19 06:39] dasiths commented on #4712
@hiyadav any idea of how to do it in a yaml build file?

[code]

[2018-09-19 08:12] Zazcallabah opened #8344 "The VSTS powershell task inline script has a too low max length"
If you look at the azure cli task, it has an inline script max length of 5000, which is reasonable. Small, but reasonable.

The Azure powershell task, and the regular powershell task, has an inline script maxlength of 500, which is way to low. You cant use it for pretty much anything without minifying your script beyond readability. I suspect that this is a typo, and that it should actually be 500

[2018-09-19 08:14] Zazcallabah opened #8345 "I can't pass secret variables to an inline powershell script task"
The arguments textbox disappeared with the 2.0 version of the powershell task. This means that the recommended method of accessing secret build variables to a script has been removed.

How can I pass a secret variable to an inline powershell script task?

[2018-09-19 08:26] Ajay-MS commented on #8345
@Zazcallabah

You can access your release variable directly in your script by specifying in the following format.
`$(<VARIABLE_NAME>)`

e.g. if you have defined variable `username` in the release. In the inline script, it could be accessed as `$(username)`

[2018-09-19 08:29] dhashrath-msft commented on #7891
Hi @laurentchicoine In case of 16.122.27409.2 TFS server, it does not have the support for url suffix and the latest task version does not work with old server.

[2018-09-19 08:41] Zazcallabah commented on #8345
Ah, I see, thank you.

    $secret = "$(MySecretVariable)"

works fine.

[2018-09-19 08:41] #8345 closed

[2018-09-19 08:42] Zazcallabah commented on #8344
Thank you. :)

[2018-09-19 08:42] #8344 closed

[2018-09-19 08:51] daantimmer opened #8346 "Feature request, Jenkins download latest artifacts, regardless of status"
## Environment
- Server TFS on-premise:
Microsoft Visual Studio Team Foundation Server
Version 16.122.27102.1

- Agent - Hosted or Private:
N/A

## Issue Description
Currently the Jenkins Download Artifacts can only download either the latest successful or a specific build number. But the option to download the "latest regardless of status" is missing which is very, very, helpful. Because there ar

[2018-09-19 08:54] arbitertl opened #8347 "Azure PowerShell VSTS task might use incorrect Azure Resource Manager endpoint (not selected) if it has access to the same Azure Subscription"
## Environment
- Server - VSTS (can't specify account name etc. because of NDA, but it's not account specific)
- Agent - Private (Windows, version 2.140.0)

## Issue Description

We're using several Service Endpoints for Azure Resource Manager that are using the same subscription, however some of them are scoped to resource group, some has access (Contributor) for the whole subscription.

**When s

[2018-09-19 09:38] ShreyasRmsft commented on #8316
@SartriX you will have to add these to the exclusion filter in the runsettings to prevent code coverage from being calculated for these.

Ideally the platform will not try to understand which is a user dll and which is not. you will have to include/exclude these in the runsettings

[2018-09-19 09:39] sachinma commented on #8314
Thanks for posting the work-around. Adding @pulkitaggarwl  to see if we should make this as a  default experience or as an advanced setting.

[2018-09-19 09:45] knowds opened #8348 "Pass REST API output across build tasks"
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - VSTS or TFS on-premises?
    VSTS
    - If using TFS on-premises, provide the version:

    - If using VSTS, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Priva

[2018-09-19 09:55] vincentdass commented on #8176
Closing this thread as there is already a open thread #8090

[2018-09-19 09:55] #8176 closed

[2018-09-19 09:57] vincentdass commented on #8182
@Banzboy , the issue is fixed in 4.* and the fix will be available n 2-3 weeks.

[2018-09-19 09:57] #8182 closed

[2018-09-19 09:57] vincentdass commented on #8093
The issue is fixed in 4.* and the fix will be available in 2-3 weeks.

[2018-09-19 09:57] #8093 closed

[2018-09-19 10:08] sachinma commented on #8306
The installer set of tasks are meant for consuming the tool in the same pipeline and are not best suited for building an image. (if that is the intent from you earlier description) Installer tasks dont affect the machine/user vide state and only brings the tool in the agent local folder.

DotNetCoreInstaller works well with DotNetCore task. DotNetCore task needs a "dotnet" executable to perform va

[2018-09-19 10:48] GitHubSriramB commented on #8308
@stuartleeks -  We will get this issue fixed & provide an update.

[2018-09-19 11:18] kittenpoop opened #8351 "##[error]Unhandled: Failed find: EISDIR: illegal operation on a directory, lstat..."
## Environment
- TFS on-premises 2018U2
- Private Agent (Windows 2018 Server, 2.131.0)

## Issue Description
Created a release definition that copies files from an netapp server to the local system, this used to work perfectly until the IS dept decide to change the structure on the netapp. So initially the path looked like this:

[code]

After the change the path is visually the same, however the

[2018-09-19 11:40] kittenpoop commented on #8351
I've been editing/debugging in the installed agent's .js file, and 'fs.realpathsync' function chokes on the path.

[code]

[2018-09-19 11:43] kittenpoop commented on #8351
Task.ts
[code]

[2018-09-19 12:11] xenalite opened #8353 "Failure downloading artifacts during Release on Linux agent"
## Environment
- VSTS - rcss-willistowerswatson - PPM
- Agent - Private: 2.139.1
- OS: Red Hat Enterprise Linux 7.4

## Issue Description

**1. Set up a build that publishes 2 artifacts using "Publish Build Artifacts" task.**
One task should publish to a file share, the other task should publish to VSTS.
![image](https://user-images.githubusercontent.com/4509839/45751746-2d91eb80-bc0b-11e8-8524-52

[2018-09-19 12:57] nick-thompson opened #8354 "Run `xcodebuild` from ShellScript task?"
## Issue Description
I have a bash script in my project root that prepares my build artifacts with a call to `xcodebuild`, followed by moving some files around and `pkgbuild` commands. When run locally, this works great. When run on the hosted macOS agent, my `xcodebuild` fails immediately. Is it possible to run `xcodebuild` in this way on the hosted macOS agent? My config file is as follows:

[co

[2018-09-19 13:29] Anumita commented on #8240
We add the filename as keyname by default if a filepath is provided. You just have to provide the filepath in the input. Does that work for you?

[2018-09-19 13:44] Anumita commented on #6718
@radhikaswift are you using a Private Agent or Hosted agent?

[2018-09-19 14:03] CSchulz opened #8355 "Jenkins has received an average of 0.3 REST API calls per minute over the past 15 minutes which do not specify the tree parameter."
## Troubleshooting
Checkout how to troubleshoot failures and collect debug logs: https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

## Environment
- Server - TFS 15.117.27024.0

## Issue Description

Some Jenkins API calls are without a tree parameter. If you have some load on your TFS the Jenkins is called a lot of times.

### Task logs

2018-09-14T07:23:15.1394954Z ##[d

[2018-09-19 14:05] stuartleeks commented on #8308
Thanks!

[2018-09-19 14:12] brcrista commented on #8337
Turns out the WEU region had some VMs that had not been updated.  This should be fixed as of yesterday.  Please reactivate if you continue to see the issue.

[2018-09-19 14:12] #8337 closed

[2018-09-19 14:13] AArnott commented on #8306
I am *not* building an image with this task. I built an image using a Dockerfile *instead* of using this task when the task failed to work. So I'm unblocked because my image has all the SDKs and runtimes installed that I need up front. But I really think the task *should* be able to load up lots of SDKs and runtimes on a single agent for building code (yes in the same pipeline and agent) rather th

[2018-09-19 14:17] AArnott commented on #8306
I'm afraid that's not true. A single *build* can require multiple runtimes to be installed on the box. And running tests requires both the SDK that is offering the `dotnet test` command *and* the runtime that you actually want to test against, which may be two different versions. The Windows and Mac Hosted queues include agents with many SDKs and runtimes installed already. The Linux one has only

[2018-09-19 14:30] AArnott commented on #8306
As an example of how you can install multiple SDKs/runtimes into a single user directory, consider this example. Here, we start with many SDKs/runtimes installed to a machine-wide location. After installing the first "additional" SDK, and appropriately updating the path (by sourcing the script in my case) all the others disappear, but I can then run the installer script again, and it makes an _add

[2018-09-19 14:42] andreujuanc commented on #8238
Hello @vithati this is clearly not the way it works, since my project was failing and I fixed it by removing the white space from my project name.

How is that fix possible if "command will work fine".

It's not a matter of showing the quotes or not, but actually passing them to the commands.