[2016-10-04 14:59] yaananth commented on #2515
@cbenard  so the same json worked fine for me on VSTS, it's quite possible TFS update 3 server has a bug...I need to track it down to see if it's fixed in update 4 or not.

[2016-10-04 15:05] jk1510karti commented on #2740
Hi David,

I have uploaded the recent logs here
https://ufile.io/58c1

[2016-10-04 15:13] DavidStaheli commented on #2740
It looks like Jenkins is reporting that the expected REST endpoint doesn't exist.  Can you please tell us what version of Jenkins you're running?

[2016-10-04 15:20] #2654 closed

[2016-10-04 15:22] yaananth commented on #2515
@cbenard verified that Update 3 doesn't have the bug fix. I will port the fix to RTW, so TFS Dev15 RTW should have the fix. Thanks for reporting and providing data to validate.

[2016-10-04 15:23] EricJizbaMSFT commented on #2558
Closing since the solution was to add the port in the service endpoint. Reopen if you're still having issues.

[2016-10-04 15:45] yacaovsnc commented on #2740
@jk1510karti , what do you see if you visit `http://172.24.199.13:8085/job/Test%20Project/api/json?tree=lastSuccessfulBuild[id,displayname]` from your browser?  Do you see 404?

[2016-10-04 17:30] flaviodamaiajr opened #2762 "Nuget restore - Not found nugetConfigPath"
Hi,

My team have submited the code to our VSO project yesterday and since then the build started throwing an error message about nuget restore.

Log:

[2016-10-04 17:41] alisonjonck commented on #2762
Hi,

The same error is happening in my VSO project too!!

[2016-10-04 17:53] StingyJack opened #2764 "Is TestAgentInstall.ps1 is missing the negative sign on line 71?"
The code segment below from  vsts-tasks/Tasks/DeployVisualStudioTestAgent/TestAgentInstall.ps1  looks like its missing the negative sign preceding the exit code const.

```		if($exitCode -eq 2147205120) ```

Is this intended to be the positive value?

[2016-10-04 17:58] brentarias opened #2765 "Incorporate 3rd Party Provisioning Tools"
I would like to execute Terraform or Ansible scripts in my CD pipeline as tasks.  I expected these tasks would be either built-in or available in the extension marketplace, but they are not.

So I ask:

- Will these be added? Or...
- Am I asking the wrong question?  If there is a reason why such tasks would not make sense as part of a VSTS build definition, I would like to understand why.

[2016-10-04 19:18] DavidStaheli commented on #2765
Hi @brentarias, you are asking the right question.  We are always adding more built-in tasks and extensions, but haven't gotten to Ansible or Terraform yet.  You would always be welcome to create your own extensions for them in the Marketplace.  @RoopeshNair might have a better idea for when we could get to them ourselves.

[2016-10-04 19:19] #2765 closed

[2016-10-04 19:23] DavidStaheli commented on #2492
Hi @sheldonhull, is this still an issue for you and something we can help with?  Otherwise, I will close the issue for now.  Thanks.

[2016-10-04 19:35] DavidStaheli commented on #2538
Hi @penupati, is this still an issue for you and something we can help with?  Otherwise, I will close this issue.  Thank you.

[2016-10-04 19:36] DavidStaheli commented on #2514
Closing this issue now that it has been added to our backlog.

[2016-10-04 19:36] #2514 closed

[2016-10-04 20:06] dsschnau opened #2768 "FTP Upload `Clean` Option only performs a shallow clean"
In the tooltip for VSTS FTP Upload Task, the 'Clean' option states it will Recursively delete the contents of the target folder before the upload.

![cleandir_description](https://cloud.githubusercontent.com/assets/1373329/19090406/3e5fee5a-8a4c-11e6-8da6-c05d3bae938f.png)

It looks like this isn't the case, as I found when trying to use the FTP task to replace the contents in my sites `wwwroot/`

[2016-10-04 20:48] sheldonhull commented on #2492
No, not an issue at this time. I will update if I find further detail
warranting your attention. Thank you!

On Tue, Oct 4, 2016, 2:23 PM David Staheli <notifications@github.com> wrote:

[2016-10-04 23:45] DavidStaheli commented on #2768
Thank you for reporting this, @dsschnau.  It is definitely an oversight.  Would you like to submit the PR?  Otherwise, we'll gladly get to it sometime this week.

[2016-10-04 23:46] DavidStaheli commented on #2768
Thank you for reporting this, @dsschnau.  It is definitely an oversight.  Would you like to submit the PR?  Otherwise, we'll gladly get to it sometime this week.

[2016-10-05 01:01] DavidStaheli commented on #2492
Thanks @sheldonhull!

[2016-10-05 01:01] #2492 closed

[2016-10-05 02:00] DavidStaheli commented on #2477
@chrisrpatterson are you okay if I change **Artifact Type** to **Artifact Location** to describe whether it will be placed on the server or a file share?

[2016-10-05 02:18] DavidStaheli commented on #2420
@zjrunner, would your team own the dotnet restore scenario?  Thanks.

[2016-10-05 03:12] geoffstew4 commented on #2721
I sent the logs to the email you indicated above but it was rejected with this message.  I am attaching them here as well.

The groups only accept messages from people in their organization or on their allowed senders list, and your email address isn't on the lists.
[10_Run Tests AutomatedRegressionTests.dll on AnalyticsMachines.txt](https://github.com/Microsoft/vsts-tasks/files/509956/10_Run.Test

[2016-10-05 03:16] DavidStaheli commented on #609
@bryanmacfarlane and @madhurig, since PR #2701 is merged, is it safe to close this issue?

[2016-10-05 03:33] allendm-msft commented on #2745
@bryanmacfarlane any recommendation on this variable? Should the test task be setting this?
We didnt want to update it with the path we use, assuming that there would be someone taking a dependency on the existing value already.

[2016-10-05 03:37] allendm-msft commented on #2704
@hqer2k9 let us know if you share more details here or on our official email address.

[2016-10-05 04:26] kmkumaran commented on #2551
@richardjharding - at this point there is no way to get the fix to older agent easily without breaking compat. We will keep you informed if there is any opportunity for updates in future that can have this fix.

[2016-10-05 04:26] #2551 closed

[2016-10-05 04:55] kmkumaran commented on #2729
Based on the responses in the thread, I am marking it closed. Feel free to re-open the issue if you need further assistance.

[2016-10-05 04:55] #2729 closed

[2016-10-05 04:56] jk1510karti commented on #2740
Hi @yacaovsnc If i go to http://172.24.199.13:8085/job/Test%20Project/api/json?tree=lastSuccessfulBuild[id,displayname]
There is json.json file downloaded and its content looks like "{"_class":"hudson.model.FreeStyleProject","lastSuccessfulBuild":{"_class":"hudson.model.FreeStyleBuild","id":"14"}}"

@DavidStaheli i'm using Jenkins ver. 2.7.4 , Do you need any screenshots from Jenkins & VS online ?

[2016-10-05 08:33] gustafsons opened #2769 "DeployAzureResourceGroup validation not handling blank override parameters"
When trying to validate the azure resource group deployment I've written using the Azure Resource manager deploy task in VSTS I keep getting an error:
[code]

After some investigation, I figured out that it was because I wasn't specifying any Override Parameters in the task. If I run:
[code]

then it returns `VERBOSE: 09:30:06 - Template is valid.`

but if I give `$overrideParameters=""` then run

[2016-10-05 09:01] Ajay-MS commented on #2737
@abatishchev

Using RMO it was failing on creating firewall rules failed before executing your dacpac but creating firewall should also giving understandable message which is here you getting as object of System.Net.HttpWebResponse. We have created internal bug for this. Since your release is succeeding now I am closing this issue and tracing it as part of internal bug. If you again face this issu

[2016-10-05 09:01] #2737 closed

[2016-10-05 09:07] rohit-batra commented on #2737
@abatishchev

Hi Alexander,

We use REST Apis to Create Firewall Rule & post deploy Operations to Delete Firewall.
As noted by you there were 500s due to an outage, the script was failing out while trying to Create Firewall Rules.
If that part was working correctly, you would have got data loss error, which we do not suppress.
You can try that again(Since there is no outage right now) and will not

[2016-10-05 09:48] allendm-msft commented on #2764
it should be negative. PR raised.

[2016-10-05 10:23] gwendo commented on #2729
How can you close it based upon the comments. The issue is still not resolved. The deploy job is not deploying the WebJob correctly

[2016-10-05 11:11] AmaranAthigaman commented on #2717
Hi All,

I am facing the same issue still and its blocking our test execution builds. It would be great if anyone could share any suggestions.

Thanks.

[2016-10-05 12:37] nigurr opened #2778 "Grunt, Gulp tasks should contain Readme"
* It's good to have documentation available here at task repository for customers

[2016-10-05 13:05] abatishchev commented on #2737
Hi Ajay and Rohit,
Thanks for detailed and thoughtful response!
Yes, the outage has been mitigated, my server loved back to the right control ring, now both Portal and RMO work fine.

P.S.
Can you please email me (alexbat@) the links to those two bugs so I could subscribe?

[2016-10-05 14:18] madhurig commented on #609
@DavidStaheli: I will close the issue once the changes are deployed to Team Services.

[2016-10-05 14:21] geoffstew4 commented on #2721
Attached is the log from the build machine, appears to look the same as the console output.  My account is gstewart at itron dot com.
[Worker_20161005-024157-utc.log.txt](https://github.com/Microsoft/vsts-tasks/files/511401/Worker_20161005-024157-utc.log.txt)

[2016-10-05 14:41] dsschnau commented on #2768
Looks like I'm mistaken - There is a helper function that does include the `recurisve` parameter set to `true` on [line 84](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/FtpUpload/ftputils.ts#L84). My issue must be elsewhere.

I'll close this issue. Thank you for the quick feedback!

[2016-10-05 14:41] #2768 closed

[2016-10-05 15:45] yacaovsnc commented on #2740
@jk1510karti Thanks for confirming.

[2016-10-05 15:45] #2740 closed

[2016-10-05 16:00] DanRigby opened #2783 "XamarinTestCloud Task - Supplying a value for "Optional Arguments" results in a task failure"
Supplying a value for "Optional Arguments" on the Xamarin Test Cloud task in VSTS results in a build failure with the error message:
`Unhandled: testCloudRunner.argString is not a function`

[2016-10-05 16:00] bansalaseem commented on #2748
Joe,

We don't have any automatic grouping of tasks and all the grouping is done by the user itself.

We have heard few feedbacks where people did not get that the drop down in the add tasks action is mainly to create a new phase and based on that feedback, in the latest code we have changed the text of the drop down & have added separator so that is more clear.

In case you still observe some mag

[2016-10-05 16:04] madhurig commented on #2783
@DanRigby: Thanks for reporting the issue and providing a fix

[2016-10-05 16:05] #2783 closed

[2016-10-05 16:44] zjrunner commented on #2420
We don't own a dotnet restore task today if that is the question.  We already have on our backlog general dotnet restore support for auth (dotnet doesn't currently support plugin credential providers or encrypted creds so we're waiting/pushing/working toward that first).

This sounds like an issue to be resolved first with the dotnet-cli or msbuild spaces first.  If it comes down to tasks around p

[2016-10-05 16:45] shmullikah commented on #2094
@GitHubSriramB @ericsciple  @bryanmacfarlane
Hi Guys,
sorry to bother but do you have any news?

[2016-10-05 20:45] maitines commented on #1633
Sorry, but i think that not works yet.

2016-10-05T20:43:26.0571980Z xcodebuild: error: SDK "$(SDK)" cannot be located.
2016-10-05T20:43:26.0741570Z ##[error]Error: /usr/bin/xcodebuild failed with return code: 64

[2016-10-05 21:13] chrisrpatterson opened #2793 "Trailing \ in Path to Publish field fails the copy new .37"
if you leave a trailing '\' in the "Path to Publish" field for the Publish Artifact build step, the copy will fail.  This wasn't a problem with version .34 of the build step. Seems to have been introduced with .37

[2016-10-05 21:21] madhurig commented on #1633
@maitines: Please check the task inputs, It looks like you are passing $(SDK) to the Xcode task but that variable does not exist. You should be able to clear SDK input on the task and continue.

[2016-10-05 21:58] ericsciple opened #2796 "Copy Files task errors attempting to overwrite readonly file"
Tested on Windows copying to a target file on a share. Need to test more scenarios.

[2016-10-05 22:19] chrisrpatterson commented on #2477
No i tis artifact type not the location.

[2016-10-05 23:05] chrisrpatterson commented on #2778
Gulp is documented here https://www.visualstudio.com/en-us/docs/build/steps/build/gulp
Grunt is documented here https://www.visualstudio.com/en-us/docs/build/steps/build/grunt

[2016-10-05 23:05] #2778 closed

[2016-10-05 23:53] JoeBrockhaus commented on #2748
I'll try to repro it again. I was able to consistently across various browsers/sessions while I was troubleshooting the AzureRmWebApp deploy task.

The release had 2 task group steps prior to the feature showing up. There were no groups shown. I clicked Add Task -> Agent, and this is when the 'magic' happened: The two existing steps were grouped as 'Agent Tasks' and the new agent task was similarl

[2016-10-06 03:33] #2764 closed

[2016-10-06 03:53] allendm-msft commented on #2717
@AmaranAthigaman you can work around this limitation by splitting your run up by using multiple deploy test agent + run functional tests tasks.

[2016-10-06 04:24] AmaranAthigaman commented on #2717
@allendm-msft  is there a way to repeat the Functional test task in a loop by changing the filter criteria alone (or) should i add one functional test task for each of my iteration of test execution with different filter criteria?

[2016-10-06 04:42] allendm-msft commented on #2717
There is no repeat in loop option. You would need to add a combo of deploy + run tasks per change in filter

[2016-10-06 04:57] AmaranAthigaman commented on #2717
Thanks for your suggestion @allendm-msft .
I had this in my mind already but it wasn't looking to be a clean solution as the number of tests in my filter condition will be dynamic. So, i will not have predefined number for the combo of deploy and run tasks to be configured. I will have to have make few assumptions and have multiple combos configured.
At this point i think i will have to go with it

[2016-10-06 05:02] allendm-msft commented on #2721
Based on a conversation with the relevant owners it looks like this is an error that can be ignored.
It means there is one batch of console line live feedback didn’t made to server due to http timeout.
Customer may experience few console line missing, but this won’t affect their build quality and build logs.
There is only one batch failed in the attached log, so it might just because some network

[2016-10-06 05:05] geoffstew4 commented on #2721
This causes the tests to abort and the step to fail and no test results to publish so I disagree that this can be ignored

[cid:image001.png@01D21F54.A11900D0]

From: Allen Mathias [mailto:notifications@github.com]
Sent: Wednesday, October 5, 2016 10:03 PM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Stewart, Geoff <Geoff.Stewart@itron.com>; Mention <mention@noreply.github.com>
Sub

[2016-10-06 06:36] hiyadav commented on #2769
@gustafsons thanks for identifying the bug correctly.
We will fix this issue soon.

[2016-10-06 08:48] maitines commented on #1633
Now it seems that builds ok but at the end:

_** BUILD SUCCEEDED **
/usr/bin/xcrun -sdk PackageApplication -v /Users/XXXXXXXXXX/Development/iOS/myagent/_work/2/s/output/Release/Release-/build.dsym/build.sym/Release-watchos/AppWatch.app -o
/Users/XXXXXXXXXX/Development/iOS/myagent/_work/2/s/output/Release/Release-/build.dsym/build.sym/Release-watchos/AppWatch.ipa

xcodebuild: error: SDK "null" cann

[2016-10-06 10:24] madhurig commented on #1633
@maitines: Which version of Xcode are you using? Do you have access to your build server? You are getting the error from "Creating App Package" which is passing in the SDK version to the tool (even if not specified). In the next couple of weeks we will be switching from using xcrun for Xcode7 and 8 to xcodebuild for generating the packages. I will include a fix in that change. If you uncheck "Crea

[2016-10-06 11:12] maitines commented on #1633
I'm using xcode 8 and build server is my mac.
Now i'm compiling now unchecked Creating App Package but it takes about 20 minutes and now finish yet (the same app without apple watch builds ok in about 4 minutes), this is the last line in console:

CompileAssetCatalog output/Release/Release-/build.dsym/build.sym/Release-watchos/AppWatch.app TgWatch/Assets.xcassets
    cd /Users/XXXX/Development/iOS

[2016-10-06 11:30] madhurig commented on #1633
I also found that xcrun does not support creating packages for "WatchKit". So once the new implementation to use xcodebuild for generating package is available on Team Services, you should be able to use that.

I notice that even sample watch kit projects take longer to build but what you are noticing seems drastic. The output from xcodebuild indicates it is taking time in CompileAssetCatalog. Are

[2016-10-06 11:43] maitines commented on #1633
No, it's the same process like other apps that builds ok.
Finally my local agent show a timeout and not build (i tried this preocess two times)

[2016-10-06 11:47] DavidStaheli commented on #2538
Hi @penupati, thank you for reporting this issue.  I will close it for now, but please do not hesitate to comment or reopen it if we can assist you in any way.

[2016-10-06 11:47] #2538 closed

[2016-10-06 13:07] madhurig commented on #1633
@maitines: Can you share the full build log here or email it to me at madhurig at Microsoft dot com?

[2016-10-06 13:23] madhurig commented on #2647
Fix has been merged and will be deployed to Team Services starting Oct 16th and should roll out to all accounts in about a week.

[2016-10-06 13:23] #2647 closed

[2016-10-06 13:24] madhurig commented on #816
Fix has been merged and will be deployed to Team Services starting Oct 16th and should roll out to all accounts in about a week.

[2016-10-06 13:24] #816 closed

[2016-10-06 13:24] madhurig commented on #747
Fix has been merged and will be deployed to Team Services starting Oct 16th and should roll out to all accounts in about a week.

[2016-10-06 13:24] #747 closed

[2016-10-06 13:24] madhurig commented on #609
Fix has been merged and will be deployed to Team Services starting Oct 16th and should roll out to all accounts in about a week.

[2016-10-06 13:24] #609 closed

[2016-10-06 13:25] madhurig commented on #964
We are tracking this on our internal backlog.

[2016-10-06 13:25] #964 closed

[2016-10-06 13:48] madhurig commented on #2708
This is a MacInCloud issue that they are looking into.

[2016-10-06 13:48] #2708 closed

[2016-10-06 13:48] yacaovsnc commented on #439
The master hosted image copy has been updated and we are in the process of verifying the changes now.  The current ETA is by end of next week if there are no surprises.  You should receive the new image by 10/16.

[2016-10-06 13:48] #439 closed

[2016-10-06 13:49] madhurig commented on #2145
This is an old task that is using deprecated Xcode tools. It needs to be re-done to work with new toolset and handle working in both build and release definitions

[2016-10-06 15:23] denikr commented on #1463
We have the same issue with Russian OS
TFS        14.102.25423.0 (Tfs2015.Update3)  Win 2012 server Eng
BuildAgent 14.102.25423.0 Win 10 Rus
TestAgent  14.0.  25420.1 Win 10 Rus or Eng

I have tried to use English and Russian machines and agents. It didn't help. Then I discovered agent log file c:\DtaLogs\DTAExecutionHost.exe.log and lines about test results

[code]

After that were some HTTP requ

[2016-10-06 15:30] #2477 closed

[2016-10-06 15:30] ampetrushenko commented on #1923
Hi!
After we have implemented ordered tests we can see only "Main" test result in TFS Web, but to see test results of individual tests in the ordered test suite we need to download the *.trx file and open it in Visual Studio.

Maybe anybody know how to display test results of individual test in the ordered test suite in TFS Web, without downloading *.trx

Thank you in advance

[2016-10-06 15:33] ampetrushenko opened #2803 "How to display test results of individual test in the ordered test suite in TFS Web"
Hi!
After we have implemented ordered tests we can see only "Main" test result in TFS Web, but to see test results of individual tests in the ordered test suite we need to download the *.trx file and open it in Visual Studio.

Maybe anybody know how to display test results of individual test in the ordered test suite in TFS Web, without downloading *.trx

Thank you in advance

[2016-10-06 16:20] jdshkolnik commented on #2313
@SatishThareja I'm not sure I understand how you want me to go about this. How do I split out the test execution from the trx upload? Where would I find the results of that execution?

[2016-10-06 17:15] #2298 closed

[2016-10-06 18:37] flaviodamaiajr commented on #2762
So, any idea? We need to solve it!

[2016-10-06 18:49] zjrunner commented on #2762
What is the value you have for nugetConfigPath in your task settings?  Is it empty?  If you can set a value for now to unblock I can look into the code to see if there is a new block that wasn't there before.  I would have expected the last rollout to happen for you quite a while ago but it is possible the last ring was delayed so you only saw it on Tues.

[2016-10-06 18:50] jfoshee opened #2806 "Cannot Email "RM_Customer_Queries at microsoft dot com""
The `SqlAzureDacpacDeployment` task documentation suggests emailing `RM_Customer_Queries at microsoft dot com`.  Emailing that address bounces with an error like:

[2016-10-06 19:49] flaviodamaiajr commented on #2762
@zjrunner It works! I changed the configuration of the build to use version 3.5 of NuGet and also set empty the path of nuget.path folder. Before that the nugetConfigPath was empty as well.

[2016-10-06 21:27] geoffstew4 commented on #2721
This causes the tests to abort, the step to fail and no test results to publish so I disagree that this can be ignored

[2016-10-06 21:29] kostrse opened #2808 "Service Fabric Update Application Versions tries to compare against wrong directory"
When **Update only if changed** is set, **Service Fabric Update Application Versions** task tries to compare contents of the application package against a wrong directory of previous package.

### Description

My build creates Service Fabric application package under the path:
`src/Services/ServiceFabricApplication1/pkg/Release`

My **Publish Build Artifacts** task publishes this directory (*Path

[2016-10-06 21:48] zjrunner commented on #2762
@flaviodamaiajr - do you have a few more lines of the log, including any ##[debug] for the nugetConfigPath setting?  I'm trying to see where that error came from.  Your source tree should be rooted at \s\ in your error string so I'm not sure where $\ProjetctName is coming from (and the misspelling there is confusing to me also).  Can you edit your build definition and go to history, then click you

[2016-10-06 22:00] zjrunner commented on #2637
Interesting, but it sounds like a general build infra request and not unique to npm.  I'll take it offline and either get it into our backlog or the generic Build backlog and find it a home.

[2016-10-06 22:00] #2637 closed

[2016-10-07 00:30] Selvaraj1989 opened #2809 "DistributedTests: UnExpected error occured during test execution. Try again."
Hi,

I have tried to run the Coded UI tests using "Test Plan" feature in Run Functional Test task. But I am getting the below error:

2016-10-07T00:24:16.1192690Z DistributedTests: Test run '4280' is in 'InProgress' state.
2016-10-07T00:24:16.1202668Z DistributedTests: Total Tests : 4, Passed Tests : 0
2016-10-07T00:24:26.1825503Z DistributedTests: Test run '4280' is in 'Aborted' state.
2016-10-07

[2016-10-07 03:12] zjrunner commented on #2369
We've stopped using the in-agent nuget.exe at this point as it led to complications with update (which agents were you using vs which tasks were you using).  The newest (around 0.2.19) has a toggle for you to choose a built-in version of nuget or your custom version.  3.3 is still the default for now and is the same one you mentioned as installed on agents, but 3.5 is also an option.  Once we have

[2016-10-07 03:12] #2369 closed

[2016-10-07 03:25] zjrunner commented on #2354
@brunobertechini - Sorry it took me so long to get to this.  In general if you define a variable with a period in it then you are going to use it in-task with an underscore instead:
https://www.visualstudio.com/en-us/docs/build/define/variables#
So you would use GitVersion_NuGetVersionV2 if it was a variable you defined that gets expanded at task time.  When you moved to -Version $(xxx) then that

[2016-10-07 03:25] #2354 closed

[2016-10-07 03:34] zjrunner commented on #2119
I've captured the request internally in our feature board (683673) to consider for the future.

[2016-10-07 03:37] abatishchev commented on #2119
Hey Zack, can you please send me the link to alexbat@?

[2016-10-07 03:50] zjrunner commented on #1756
Copied to our feature backlog (683676) to track with other updates.  We have other tasks to help/drive/fixup dotnet to work with credentialprovider and encrypted credentials, and then we have to figure out how dotnet.exe gets on the agents in a way that the ux decisions make sense to consumers of the common task.  On top of that we have to see if dotnet meets all our scenarios yet or if we'd only

[2016-10-07 03:50] #1756 closed

[2016-10-07 04:01] zjrunner commented on #1285
#2677 integrated our L0s.  Our scenario tests are still outside the code here

[2016-10-07 04:01] #1285 closed

[2016-10-07 04:48] zjrunner commented on #2119
I'll just post it here - nothing to hide, just not accessible to most people:
Feature 683673: Improve NugetPublisher Task
https://mseng.visualstudio.com/VSOnline/_workitems/edit/683673

(gave it a generic name so we could roll up several items in a feature and then expand them out when we take them on.  Helps ensure things don't get lost in a flooded backlog over time)

[2016-10-07 05:24] allendm-msft commented on #2809
@Selvaraj1989 can you share the logs from c:\dtalogs present on your target test machine

[2016-10-07 05:29] allendm-msft commented on #1923
@ampetrushenko Currently this is the only option.

[2016-10-07 05:56] allendm-msft commented on #2803
@ampetrushenko This is a limitation of the run functional test task. You can publish the trx file using the "publish test results" task and it will show you all the tests but you wont know which ".orderedtest" they were associated with etc.

[2016-10-07 05:56] #2752 closed

[2016-10-07 11:13] dawilliams commented on #2752
Sorry for the late response.  @dpksinghal your suggestion did resolve the issue.

[2016-10-07 11:14] dpksinghal commented on #2752
Glad to hear this.

[2016-10-07 15:54] alxbog opened #2825 "No "Clean before build" option in Xamarin.iOS project task"
It'd be very useful option.

Current workaround: explicitly running "xbuild /t:clean" before Xamarin.iOS build task.

[2016-10-07 16:06] allendm-msft commented on #2468
Created a PR on the agent repo
https://github.com/Microsoft/vsts-agent/pull/629

[2016-10-07 16:06] LiohAu commented on #2724
This is the best I can do with the time I have and my limited typescript skills.

[iOSCoverage.zip](https://github.com/Microsoft/vsts-tasks/files/516581/iOSCoverage.zip)

Anyway it worked for me.

[2016-10-07 17:18] Selvaraj1989 commented on #2809
@allendm-msft please find attached the dtalogs from my test agent machine

[DTAExecutionHost.txt](https://github.com/Microsoft/vsts-tasks/files/516732/DTAExecutionHost.txt)

Thanks
Selvaraj C

[2016-10-07 17:20] jsauvexamarin commented on #2825
You can clean by using a variable:
https://www.visualstudio.com/docs/build/define/repository##build_clean_variable

[2016-10-07 17:31] jsauvexamarin opened #2828 "Nuget Installer looking for msbuild.exe on Mac"
I have a Xamarin.Android build that was working fine for many days. Then it suddenly started failing on the Nuget Restore (Installer) task with the following:

https://gist.github.com/jsauvexamarin/1bb9c3242b40560023e3588ab7c1e2d0#file-gistfile1-txt-L134

Indeed `MSBuild.exe` does not exist at that location because this is a Mac build agent. `xbuild.exe`, however, does indeed live at that location

[2016-10-07 17:40] ericsciple commented on #2828
Task version locking is planned for next sprint (locked on major version - minor/patch version will still get latest).

Which task is busted the Xamarin.Android task or the NuGet Install task? I can help route to the appropriate team, but I'm not sure which task.

[2016-10-07 17:41] ericsciple commented on #2828
Sorry I see now that it's the NuGet Installer task.

[2016-10-07 17:42] jsauvexamarin commented on #2828
The build task sequence never makes it to the Xamarin.Android task. It fails on the NuGet Installer task. The output I linked is the detailed verbose output.

[2016-10-07 17:46] ericsciple commented on #2825
@madhurig  fyi regarding feedback

There is also the clean checkbox on the repo tab of the definition. Technically it's a different thing than running the clean target. Repo clean for a git repo is "git clean -fdx ; git reset --hard". For TFVC on OSX it's drop the workspace and re-sync (it's scorch on Windows but scorch is not implemented in TEE CLC yet).

[2016-10-07 17:54] DanRigby commented on #2828
For reference the error in the build log appears as follows (I'm running into this issue as well):

`2016-10-06T01:51:43.6203630Z ##[section]Starting: NuGet restore
2016-10-06T01:51:44.0784240Z Detected NuGet version 3.3.0.212 / 3.3.0
2016-10-06T01:51:44.0820360Z SYSTEMVSSCONNECTION exists true
2016-10-06T01:51:44.0891890Z ##[warning]To connect to NuGet feeds hosted in your Team Services account/T

[2016-10-07 18:36] jsauvexamarin commented on #2828
I'm thinking _maybe_ my problem could be related to using an older version of the Mac build agent. Running some tests now to check.

[2016-10-07 18:42] madhurig commented on #2828
I believe this is a known bug in NuGet that will be fixed in the final NuGet 3.5 release. What version of Xamarin do you have on your Mac? You can try specifying the path to NuGet.exe and the task should run it under Mono.

[2016-10-07 18:43] jsauvexamarin commented on #2828
Okay, yeah, super weird. Just created two brand new build defs that do nothing more than restore Nugets and build Android. One is for my Xamarin native project. The other is for my Forms project. The Xamarin native project succeeds, the Xamarin Forms one fails.

This is on a brand-new build agent machine running version 2.107.0 of the Mac build agent (https://github.com/Microsoft/vsts-agent/releas

[2016-10-07 18:43] jsauvexamarin commented on #2828
@madhurig, this particular build machine is brand new and has all the newest versions of Xamarin stuff on it.

[2016-10-07 18:46] jsauvexamarin commented on #2828
@madhurig, this line seems to indicate that Nuget.exe is found successfully, unless I'm reading it wrong: https://gist.github.com/jsauvexamarin/1bb9c3242b40560023e3588ab7c1e2d0#file-gistfile1-txt-L132

It's two lines down on 134 that's looking for MSBuild.exe for some reason.

[2016-10-07 18:52] madhurig commented on #2828
The bug was in NuGet when it looks for MSBuild: https://github.com/NuGet/Home/issues/3085. I see NuGet task allows passing in a NuGet version or a custom path. It looks like you are using 3.3.0, can you see if using any other options works.

[2016-10-07 18:59] jsauvexamarin commented on #2828
Aaah! So, perhaps when I updated my old build agent machine to the latest version of Xamarin, it also updated NuGet, which in turn introduced this issue. I'm thinking that the failure start date may coincide with the date on which I updated my build agent.

It doesn't quite explain why my Xamarin.Android Forms solution in particular won't build, but it's a step in the right direction towards findi

[2016-10-07 18:59] madhurig commented on #2828
Ah it looks like the NuGet task is using a version of Nuget.exe they package with the task.. You can try using the version that ships with Xamarin and might have better success - it should under /Library/Frameworks/Mono.framework/Versions/4.6.1/lib/mono/nuget/NuGet.exe

[2016-10-07 19:10] jsauvexamarin commented on #2828
That was most definitely the correct workaround, provided that Mono 4.6.x is installed. Thanks @madhurig!

![](https://s3.postimg.org/ja6gee583/Screen_Shot_2016_10_07_at_2_04_57_PM.png)

[2016-10-07 19:16] madhurig commented on #2828
@zjrunner: FYI .. this has come up several times recently with Xamarin builds on Mac. Not sure what the right solution for the Mac case.

[2016-10-07 19:27] jsauvexamarin commented on #2828
Note that I was seeing this issue in Xamarin.Forms-based Xamarin.Android projects, but not in Xamarin-native Xamarin.Android projects. I'm not sure if that's dependency of some kind? Like maybe Xamarin.Forms requires a specific version of Nuget? Or it might be something else in the project. Not sure. But it's worth investigating.

[2016-10-07 20:46] TheSchmoe opened #2832 "Unable to disconnect service endpoint if the user who created it has been removed from subscription"
I'm trying to disconnect a service endpoint in VSTS and the person who created it is no longer a part of our team.  When I click 'Disconnect' I get the following error:

My best guess is that this is a result of the user who created the service endpoint not having a role assignment anymore.  Any help or workarounds would be greatly appreciated.

[2016-10-07 20:51] madhurig commented on #2145
@khronosX: Which version of Xcode are you using? This task uses xcrun that has been marked deprecated since Xcode 7. Xcode 7 swift apps and WatchKit apps will not work with xcrun.

[2016-10-07 20:52] madhurig commented on #2145
Fix to allow task to run in Release builds in the current form (with xcrun): https://github.com/Microsoft/vsts-tasks/pull/2833

[2016-10-07 20:54] madhurig commented on #1983
Fix merged, it will be deployed to Team Services in early November.

[2016-10-07 20:54] #1983 closed

[2016-10-07 20:56] madhurig commented on #2825
@alxbog: I am seeing that xbuild /t:clean does not clean up the IPAs on the latest Xamarin. Does it work for you?

[2016-10-07 20:58] dennisfrostlander opened #2834 "How is service fabric certificate cleared from the store?"
Hi,

I was just curious how Service Fabric Deployment task handles the certificates. This task imports the certificate to the store and then the rest of deployment works as intended.
See https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/ServiceFabricDeploy/utilities.ps1, Add-Certificate script.

But I don't understand one thing - how is the certificate removed from the store after the task

[2016-10-07 21:04] magol opened #2835 "CoApp"
I try to create a NuGet package using [CoApp](http://coapp.org/) and `*.autopkg`
I know it is a dead project, but it is the best alternative for C++ projects (that I know of)

I have installed CoApp on the agent machine, and try to use a PowerShell script to genereate the NuGet.
If I run the PowerShell script localy on the agent machine, everything works. No errors and the nuget package is generat

[2016-10-07 21:05] #2145 closed

[2016-10-07 21:05] madhurig commented on #2145
The fix will be deployed to Team Services in early November.

[2016-10-07 21:29] alxbog commented on #2825
@madhurig Didn't check that in fact. I'm using repo clean now.

[2016-10-08 05:10] allendm-msft commented on #2809
This does not have any failures. Could you rerun your scenario and verify that the logs have an error and then send it across.
If these logs dont have any errors then check the ones in the _diag folder for errors.

[2016-10-08 12:41] madhurig commented on #2825
@alxbog: I will follow up on the right way to cleanup all artifacts created by Xamarin iOS build. If we provide a clean option, it should not just pass /t:Clean if that is not sufficient. I agree this will be a useful option to add!

[2016-10-09 03:49] zjrunner commented on #2835
Where is CoApp installing Write-NuGetPackage?  My guess is it is wiring it up through your profile load or user account as you logon the machine, but you are running the Build Agent as a service (likely Network Service) so you aren't going to see your user hooks.

Since the question is focused on getting a powershell task to call powershell cmdlets installed on a machine, and not something about p

[2016-10-09 06:33] Selvaraj1989 commented on #2809
Hi,

Could you please tell me location of _diag folder.

Thanks
Selvaraj C

[2016-10-09 16:09] shmullikah commented on #2094
i'll try and update, thanks!

[2016-10-09 17:01] allendm-msft commented on #2809
This is a sibdir in your build agent install/xcopy location

[2016-10-09 17:03] allendm-msft commented on #2717
This is on our backlog but I dont have a good timeframe for it.

[2016-10-10 10:36] shmullikah commented on #2094
@ericsciple
worked like a charm, thank you very much guys!

[2016-10-10 11:58] flaviodamaiajr commented on #2762
@zjrunner Follow the complete log:

2016-10-03T22:00:24.4486959Z ##[debug]tf vc resolvePath "$\Nv - SaaS\Dev\Nv.SaaS\Nv.Dominio\NvSaas.Dominio\NvSaas.Dominio.sln" /loginType:OAuth /login:.,******** /noprompt
2016-10-03T22:00:24.8666959Z ##[debug]C:\a\1\s\Nv.Dominio\NvSaas.Dominio\NvSaas.Dominio.sln
2016-10-03T22:00:24.8806942Z ##[debug]tf vc resolvePath "$\Nv - SaaS\Dev\Nv.SaaS" /loginType:OAuth /

[2016-10-10 12:35] DavidStaheli commented on #2420
Hi @johnkattenhorn.  Sorry for the delay.  Did you find a solution, or is this still an issue for you?

[2016-10-10 13:10] ShakedTBolt opened #2836 "Run Functional Tests Queuing"
Hi,

When trying to run more than release definition on the same group of machines, I'm getting warning the following warning:

DistributedTests: You may be using machine across one or more concurrent builds. This is currently not supported. Use an unique machine per build definition and ensure there are no concurrent builds In Progress from any given build definition using a machine.

This is a b

[2016-10-10 13:59] johnkattenhorn commented on #2420
This is still a problem for us but it turned out not to be anything to do with the restore.

The build steps fail regardless of the restore, I've got another issue logged here:

https://github.com/Azure/service-fabric-issues/issues/66

PS. There seems to be a lot of people with this issue in dotnet core and plenty of workarounds but none I've seen so far work for us.

[2016-10-10 15:59] DavidStaheli commented on #2420
Thanks, John.  I'll close this issue since it's tracked by the other one you referenced.  Sorry for the trouble you're seeing and I hope we can resolve the other issue quickly.

[2016-10-10 15:59] #2420 closed

[2016-10-10 16:18] zjrunner commented on #2762
@flaviodamaiajr somehow you did have a path in your task config:
##[debug]nugetConfigPath=C:\a\1\s\$\Nv - SaaS\Dev\Nv.SaaS
this field is a FilePath type so if null it gets the build.sourcesDirectory value.  On reading this value our code says it is not required, but it is checked (so either the provided value has to exist, or if none is provided then build.sourcesDirectory has to exist).  Given ea

[2016-10-10 16:18] #2762 closed

[2016-10-10 16:52] allendm-msft commented on #2745
This is a variable set by the Agent currently and not being updated by the test task. We don't intend to change this to avoid breaking others who have taken dependencies on it as-is. If we introduce a similar variable it will be posted in the docs.

[2016-10-10 16:53] #2803 closed

[2016-10-10 22:34] ericsciple commented on #2834
The hosted image is thrown away after each build. It's essentially a fresh machine every build.

[2016-10-10 22:37] ericsciple commented on #2834
Please reopen if that doesn't fully answer the question.

[2016-10-10 22:37] #2834 closed

[2016-10-11 07:46] zjrunner commented on #2828
@jsauvexamarin Do you have previous working logs that tell you what version of nuget was getting called?  The problem here seems to be agent inconsistencies.  The windows agents all shipped with nuget, and the version that was used in the tasks was 3.3 because of that.  We started shipping in-task because of race conditions on upgrade and so kept 3.3 as the default (with the 3.5 option added).

It

[2016-10-11 07:46] #2828 closed

[2016-10-11 09:24] Selvaraj1989 commented on #2809
Thank you and now i am able to run the tests using "Test Plan" filter after clearing the "Cache" folder contents from build agent and test agent. But, I have another issue now : when I tried to run a test suite with 4 to 10 test cases, it is running without any issues and when I tried to run a test suite with 25 to 30 test cases, only few got running and others are shown as "Pending" status.

Is i

[2016-10-11 12:08] Griffelo opened #2841 "Changeset is linked to arbitrary work items"
Hi,

on TFS 15 RC2 we have an gated checkin build. It has only two task. Visual Studio Build and Visual Studio Test.
Now we have the issue that every changeset that has been checked in is linked to an arbitrary list of additional work items.

I found no solution to change that behavior.

Thanks

[2016-10-11 12:12] magol commented on #2835
It is installed in `C:\Program Files (x86)\Outercurve Foundation\Modules\CoApp`

Is it any way to add the Module to TFS so that all build agents are getting the module?

[2016-10-11 12:22] ronvanpol commented on #2058
@atinb Is there an ETA for the uploading other test generated files? You said it's on your backlog, so I'm curious to know when we could expect this. I too am very interested in adding attachments to the test results. I have not found any way of doing that.

[2016-10-11 13:53] ericsciple commented on #2841
See https://github.com/Microsoft/vsts-agent/issues/559

[2016-10-11 13:53] #2841 closed

[2016-10-11 15:09] Griffelo commented on #2841
Hi,
the workaround works for us.
Thanks a lot!

[2016-10-11 15:22] rs38 commented on #1532
any update or workaround on this? @atinb

[2016-10-11 17:37] ericsciple commented on #2796
https://github.com/Microsoft/vsts-tasks/pull/2839

[2016-10-11 21:01] madhurig commented on #2825
We are tracking this on our internal product backlog.

[2016-10-12 00:32] arangas commented on #2422
@Ajay-MS Apologies, I've been unavailable for over a month due to family illness. Anecdotally, I suspect that there was a timing issue between the VSTS task adding the firewall rule and trying to connect. However I truly don't know. I'll re-open if the issue happens again.

[2016-10-12 01:08] ericsciple commented on #2793
Anyone know what OS the repros on? I can't repro on Win 7 SP 1.

[2016-10-12 01:28] ericsciple commented on #2793
Nevermind I've got a repro. This happens when the source path contains a space and ends with `\`

[2016-10-12 03:04] ericsciple commented on #2793
PR https://github.com/Microsoft/vsts-tasks/pull/2846

[2016-10-12 03:51] allendm-msft commented on #2809
@Selvaraj1989 make sure that all your test cases have associated automation and none with automation status as planned/manual etc. Once you have all automated test cases you shouldnt have any other issue.

[2016-10-12 03:51] #2745 closed

[2016-10-12 04:30] decease opened #2847 "AzureFileCopy Source attribute do not support patterns"
The problem is that Source parameter of **AzureFileCopy** task do not support expressions like _**/_*.zip
So I do not able to copy several files by one step.

[2016-10-12 05:24] amccool opened #2849 "vsbuild task - supported products"
[question tag]

What editions of Visual Studio are supported?
Visual Studio Express for Web?
Express at all?

[2016-10-12 07:10] asranja commented on #2359
Hi,

Can you please confirm whether you are dealing with "Azure File Copy" Task or "Windows Machine File Copy" Task ? Also, need some more information regarding the location of the .CONFIG files that you are editing.

[2016-10-12 10:37] kmkumaran commented on #2567
Invoke-VsTest which is consuming the overrideTestrunParameters doesn't seem to handle special characters if present in environment variables.

@allendm-msft to take it further.

[2016-10-12 12:29] hqer2k9 commented on #2836
As far as i know, there is no way to accomplish what you are trying to do. What you could do is create 1 agent pool with 1 agent and queue everything on that agent so the builds queue one after another. But this may be not the best way considering the build time.

[2016-10-12 12:41] hqer2k9 opened #2854 "Run Functional Tests split into two runs within one build"
We have 2 test runs that run after another, short running tests (110 min) and long running tests (50 min) . is it possible to make those run at the same time with 1 build? like saying short running tests have test machine 1-6 and long running tests machine 7-10 ? currently test distribution can only distribute in one task for all machines. Would speed up the build much.

[2016-10-12 13:02] bansalaseem commented on #2748
Thanks Joe for your feedback, We have done 2 fixes to address this issue.

1. We have started showing the containers by default. So even if you have 1 container with 2 tasks in it, we have started the default container.

2. We have remained the Add Tasks -> Agent option to clearly indicate that it will add a new container so that user select the drop down of Add tasks only if the user wants to add

[2016-10-12 13:54] kmkumaran commented on #2720
Tagging as Core as the issue is relevant in both Build and RM per @GitHubSriramB

[2016-10-12 14:22] ericsciple commented on #2720
@TingluoHuang fixed this recently in the 1.x agent. The fix will be in TFS 2016. If you are on visualstudio.com, then please use the 2.x agent (does not have the bug).

[2016-10-12 14:22] #2720 closed

[2016-10-12 16:01] ampetrushenko commented on #2803
Hi @allendm-msft !
Thank you for your answer!
We have added Publish Test Results Task with the following settings:
![image](https://cloud.githubusercontent.com/assets/20642314/19314919/8597b998-90a4-11e6-971f-499e24c5d58f.png)

But test results still displayed as one test. In log I can see:
No test result files were found using search pattern 'C:\a\r1\a\**\*.trx'

How can i set correct location of

[2016-10-12 16:10] ampetrushenko commented on #2803
@DavidStaheli  Can we reopen this issue?
Thank you in advance!

[2016-10-12 17:32] leantk opened #2856 "JaCoCo coverage data found"
I enabled JaCoCo for my Gradle build task but the completed build says the results are not found. I have 3 separate packages built by the Gradle build. From the logs I see:

2016-10-12T16:16:33.1800310Z Reading code coverage summary from '/home/xplatalm/vsts-agent/_work/5/s/CCReport43F6D5EF/summary.xml'
2016-10-12T16:16:33.4526460Z ##[warning]No coverage data found. Check the build errors/warnings

[2016-10-12 18:27] ericsciple commented on #2793
Fix will go out with the m108 deployment (starts rolling in about 3wks).

[2016-10-12 18:27] #2793 closed

[2016-10-12 18:46] ericsciple commented on #2849
Yes they are all supported. Currently the task uses the value in the dropdown to correlate which version of msbuild to invoke and passes the visualstudio version as a property on the msbuild cmdline (can influence some target decisions e.g. which version of stylecop targets to use).

[2016-10-12 18:46] #2849 closed

[2016-10-12 18:50] Rashun001 commented on #439
I'm seeing the same issue.  I removed mscorlib reference in both the PCL and Droid project.  Also I uncheck the C# settings options in project settings -> "Do not reference mscorlib.dll" option.

I'll test the new image on 10/16

[2016-10-12 20:11] PrashanthReddyAnnedla opened #2858 "AzureRM Web App deployment issue : Cannot read property 'id' of undefined"
We are using Deploy AzreRM Web App task for deployment. Getting below error while deploying

2016-10-12T09:36:10.2957680Z ##[debug]Processing: ##vso[task.issue type=error;]TypeError: Cannot read property 'id' of undefined
2016-10-12T09:36:10.2957680Z ##[error]TypeError: Cannot read property 'id' of undefined

Attaching the log
[Error.txt](https://github.com/Microsoft/vsts-tasks/files/525552/Error.

[2016-10-12 21:49] haydenhancock commented on #2747
I am having a similar issue but I don't see anything mentioned on their blog about thier service being down. Here is my exact error message:

Packages failed to install

[2016-10-12 21:52] haydenhancock commented on #2828
I seem to be having a similar issue with a Xamarin.Forms-based project.

Packages failed to install

There are no other details in the build log.

[2016-10-12 21:52] mack0196 commented on #2745
Why doesn't vstest create the test results in $(Common.TestResultsDirectory)? I don't understand why the same breaking consideration wasn't considered when changing the TestResults directory.

[2016-10-12 23:33] deadlydog commented on #2747
I had a similar error. For me changing to have the build solution task do the nuget package restore did not work. Instead I had to update the NuGet Restore task to use the less stable 3.5.0 preview build, instead of the default 3.3.0 build.

[2016-10-13 03:35] allendm-msft commented on #2854
@hqer2k9 currently this is not possible in build. But you could use release having 2 environments. 1st env having the short running tests and 2nd env having the long running tests and both can be scheduled in parallel by having the release trigger to be associated with your build.

[2016-10-13 04:16] #2696 closed

[2016-10-13 04:17] allendm-msft commented on #2809
@Selvaraj1989 are you unblocked now?

[2016-10-13 04:33] nigurr commented on #2567
Hi,

This issue was fixed recently. This will be available in next [build agent](https://github.com/Microsoft/vsts-agent/releases) release.

With new fix, you can escape with `\` ex: `sqlserver\;8080  =>   sqlserver:8080`

[2016-10-13 04:34] nigurr commented on #2567
Closing this issue and please re open if it's still not fixed.

[2016-10-13 04:34] #2567 closed

[2016-10-13 06:19] nigurr commented on #2856
@leantk
Can you share this info?
1. vsts-agent version and task version
2. please enable `system.debug = true` in build variables and share the build log
3. please attach the `summary.xml`

[2016-10-13 06:25] ampetrushenko opened #2862 "Display test results of individual test in the ordered test suite in TFS Web"
Following your recommendations in Issue #2803  we have added Publish Test Results Task with the following settings:
![image](https://cloud.githubusercontent.com/assets/20642314/19314919/8597b998-90a4-11e6-971f-499e24c5d58f.png)

But test results still displayed as one test. In log I can see:
_No test result files were found using search pattern 'C:\a\r1\a\**\*.trx_'

How can i set correct location

[2016-10-13 06:49] allendm-msft commented on #2745
@mack0196 let me try to explain. The change to the location where the testresults are placed by the vstest task is internal to the task. This location was not published as a output/common variable to be consumed by external tasks. Since another task made the assumption that this location wont change they broke.
This is pretty much similar to using non documented apis.

[2016-10-13 08:06] hqer2k9 opened #2865 "Run Functional Test task run cannot be aborted or stopped"
In TFS 15/ TFS 2015 vNext how can you stop or abort a test run? You can stop the Build that started the test run, but the test run will continue till you shut down the test machines.

[2016-10-13 08:07] hqer2k9 commented on #2854
@allendm-msft Thanks for the fast and good reply! Will definitely try this out :)

[2016-10-13 08:07] #2854 closed

[2016-10-13 09:01] janniklind opened #2866 "Copy and Publish Build Artifacts - Always finds zero files on Mac agent."
Hi.

I am having troubles with the "Copy and Publish Build Artifacts" task, when it is running on a Mac agent. It seems that it never finds any files. The same task runs fine on VSTS hosted agent.

I get the following output from the log:
2016-10-11T17:50:15.7669480Z ##[section]Starting: Copy Publish Artifact: drop
2016-10-11T17:50:16.0421920Z Cleaning staging folder: /Users/vso123456/vsts-agent/_

[2016-10-13 09:46] allendm-msft commented on #2862
$(System.DefaultWorkingDirectory)\TestResults\*.trx

[2016-10-13 09:47] allendm-msft commented on #2865
This is a bug

[2016-10-13 09:49] xingyu217 opened #2868 "Nuget install/restore vsts feed warning"
##[warning]To connect to NuGet feeds
    hosted in your Team Services account/TFS project collection with
    NuGet 3.1 or below, edit your build definition to specify a path
    to a NuGet.config containing the package sources you wish to use.

This warning occurs even though using higher version of Nuget tool or do not restore package from VSTS feed.

[2016-10-13 09:51] hqer2k9 commented on #2865
@allendm-msft  ok,, thanks for the reply! Got any good workarounds or scripts or anything to share? :)

[2016-10-13 10:07] sinapis opened #2870 "[Question] How do I setup SonarQube task in VSTS for PHP?"
Hi,

If I only add "SonarQube for MSBuild - Begin Analysis" and "SonarQube for MSBuild - End Analysis" I get the following error:

But how do I build PHP? Can you please advise what build step I should use?

Note, I have SonarQube analysis up and running for .Net and Java projects for the same account.

[2016-10-13 11:21] bgavrilMS commented on #2870
Hi @sinapis - we don't an out of the box solution for scanning PHP yet, however this is in the plans. By reading on the PHP plugin (http://docs.sonarqube.org/display/PLUG/PHP+Plugin) it seems that the analysis needs to be driven via the SonarQube Scanner.

We are transferring ownership to Sonar Source and it's on their backlog to provide a task that drives the scanner - the tracking item is https:

[2016-10-13 13:30] vincentdass commented on #2858
@PrashanthReddyAnnedla , please add `console.log(url); console.log(headers);` below [azurermutil.**js**](https://github.com/Microsoft/vsts-tasks/blob/releases/m106/Tasks/AzureRmWebAppDeployment/azurermutil.ts#L206)
and  `console.log(body); console.log(webAppIDDetails ); `  below [azurermutil**.js**](https://github.com/Microsoft/vsts-tasks/blob/releases/m106/Tasks/AzureRmWebAppDeployment/azurermuti

[2016-10-13 13:49] haydenhancock commented on #2747
@deadlydog Thanks for the suggestion! I selected the 3.5.0 preview build and still had errors, although different this time (seems to be related to NuGet and the latest version of Xamarin being to long when zipping). I will get back to you with additional information once I figure out more.

[2016-10-13 14:02] Selvaraj1989 commented on #2809
@allendm-msft  Sorry for the late reply. I have checked all my test cases are associated and also the status are 'Automated" but still I am not able to get all the test cases executed via "Test Plan" filter.

Please let me know if any other configuration I need to check to resolve my issue.

Thanks
Selvaraj C

[2016-10-13 14:18] ShakedTBolt commented on #2836
Actually, for now we can create few agents that will use only specific servers. still not perfect.
This is a subject of change?
Got the feeling that microsoft take a step back every new version. Things that were trivial in the past now requires a lot of efforts to accomplish.

[2016-10-13 14:50] ericsciple commented on #2866
Does it work with `**/*` instead?

[2016-10-13 15:46] ffnoname opened #2872 "Run functional tests: System.AccessViolationException"
Hey there,

we are permanently running into test runs that get stuck. it happens quite randomly on different test machines, with different configurations. We had those exact same (virtual) machines running our tests with TFS 2012 in a lab environment just fine.

looking into DTAExecutionHost.exe.txt on the test machines, we always find this error message:

I, 1408, 101, 2016/10/13, 16:15:34.094, T

[2016-10-13 16:10] ShakedTBolt commented on #2704
Hi,

I'm experiencing the same issue. 2 soap requests tests can take more than 2 minutes, while locally the tests take less than a second.
I'm having some difficulties to change the testsettings to runsettings, even with legacy support.
let me know what info do you need for me if any.

Thanks!

[2016-10-13 16:57] allendm-msft commented on #2704
We are investigating this again. @SatishThareja will keep you updated.

[2016-10-13 16:59] allendm-msft commented on #2809
Can you help us with a repro? All details about the type of tests/code/setup etc will help.

[2016-10-13 16:59] nibras85 commented on #2832
I'm getting this same issue. Please fix!

[2016-10-13 17:24] elibarzilay opened #2873 "Obscure failures in publish test results"
We have a build definition with two steps, the first is a Shell Script where the actual build happens, and then we have a "Publish Test Result" step for JUnit format files.  We ran into a few problems with this, two examples: when a JUnit file has no tests (the `testsuite` tag has `tests="0"`), or when there's an ignored test it's reported with a time of `"-0.001"`.  (The tests are actually Scala

[2016-10-13 18:43] janniklind commented on #2866
Unfortunately no.

I have even tried just using `$(Build.SourcesDirectory)` as Copy Root, and then in Contents I have added a complete path to a file I know exists in the source repository.

[2016-10-13 19:15] ericsciple commented on #2866
Are you using forward slashes and case-sensitive?

I'm not able to repro. Can you please provide some sample inputs?

[2016-10-13 19:16] ericsciple commented on #2866
...i mean sample inputs for the case where you are specifying the complete path to the file.

[2016-10-14 19:38] nibras85 commented on #2858
I am getting the same issue. Very frustrating..

[2016-10-14 19:44] PrashanthReddyAnnedla commented on #2858
@vincentdass - We dont have access to the Agent machines hence cannot update the script!

I will try to do it my local agent and see if I am able to repro this issue!

[2016-10-14 19:51] nibras85 commented on #2858
@vincentdass  I was able to add the logging to the task in my local agent and I got the output but it has my subscription ID and other sensitive info that I can't share here... from what I gathered from the logs... I'm guessing that the API call to look up the Azure WebApp... is returning an empty array...

[2016-10-14 22:00] zjrunner commented on #2868
Thanks for reporting.  I see the issue in the code coming from our transition from depending on assets coming with the agent to being deployed with the task.  You can get around this by either (1) choosing to use the Nuget 3.5 version radio button in the task config or (2) supplying a path to your nuget.config.

[2016-10-15 00:11] robertmclaws opened #2879 "Can't specify credentials for AzureRMWebAppDeployment"
I am attempting to deploy a site with this task, and I've configured it to use the AzureRM subscription I configured in VSTS. There are no fields to specify a password, so I assumed it was getting the security through the service configuration. However, when the task executed, I got this error message:

[code]

Any ideas? Thanks!

[2016-10-15 09:41] vincentdass commented on #2858
@nibras85 , thanks for the info. Can you replace header  in [azurermutil.js](https://github.com/Microsoft/vsts-tasks/blob/releases/m106/Tasks/AzureRmWebAppDeployment/azurermutil.ts#L204)  with
`var headers = {
        authorization: 'Bearer '+ accessToken,
        'Cache-Control':  'no-cache'
    };
`
and queue a new build/release ?

[2016-10-15 14:27] janniklind commented on #2866
Hi.

To ensure we are testing at the same I have created a repository:
https://github.com/janniklind/vsts-copy-publish

I have created a build definition with just a single "Copy and Publish Build Artifacts" task:
![image](https://cloud.githubusercontent.com/assets/707081/19410669/169f2422-92f2-11e6-9657-6d0cbb4a23cb.png)

When I run it on the hosted Microsoft Agent in VSTS it copies all the files

[2016-10-15 16:20] ericsciple commented on #2866
Can you try with `**/*` instead of `**\*`?

[2016-10-15 16:38] ericsciple commented on #2866
fyi - `**/*` (forward slash) works for me on OSX using your repository. The approach we generally try to take in the tasks and agent is: the tasks and agent should not convert backslash to forward slash on Linux/OSX, since backslash is a valid file name character. On Windows, in certain places, we take the opposite approach since forward slash is not a valid file name character.

For path pattern

[2016-10-15 23:33] nibras85 commented on #2858
@vincentdass  I did. Same error.

[2016-10-16 06:30] PrashanthReddyAnnedla commented on #2858
@vincentdass ,
One more observation : Selected the slot, resource group in the task. Got the error as 404 not found, though the website exists

[2016-10-16 09:42] vincentdass commented on #2858
@PrashanthReddyAnnedla ,  Did you create a slot from Azure Portal ? (if Slot is not created, it throws 404 error)
![image](https://cloud.githubusercontent.com/assets/20121508/19416605/58a6443e-93b2-11e6-99a8-0483ab623bc8.png)

**Production** slot is applicable only for Azure Classic Web Deployment Task. It should not be explicitly specified as slot for AzureRM web App Deployment task. By default,

[2016-10-16 15:10] patrickmichalina opened #2880 "'System.Collections' already has a dependency defined for 'Microsoft.NETCore.Platforms'."
When running the nuget pack task in VSTS online, the default version of nuget fails when a package references System.Collections. This was discovered when I updated some libraries to a newer version of OData.EDM 7.0.0. This failure does not happen when using the latest version, 3.5.0.rc1. It would be nice if the nuget tasks allowed one to select a version of the exe they run. Instead of having to

[2016-10-16 18:24] pedroasconde commented on #439
Is the new image already available for testing?

[2016-10-16 19:45] janniklind commented on #2866
Today I tried with the `**/*` in the sample project and it worked. Don't know why I didn't test that in the sample project. I thought I had, but I must be wrong.

I still had trouble in my original project, but after removing the build step and adding it again, it now seems to work. I have no idea what it was.

Anyway, this can be closed, thanks for your help! :)

[2016-10-16 19:45] #2866 closed

[2016-10-17 03:23] PrashanthReddyAnnedla commented on #2858
@vincentdass
I am not trying to create a new slot here, deploying to Production slot only.
I will send you the details over the mail.

[2016-10-17 03:26] xingyu217 commented on #2868
Thanks.

[2016-10-17 03:26] #2868 closed

[2016-10-17 04:09] mvvsubbu commented on #2879
Hi Robert,

Sorry for the issue, can you help me with the following details

1.  When you selected the endpoint, is the App Service Names drop down got automatically populated on clicking refresh??
2.  Is the issue consistently happening?
3.  Share task log by setting system.debug variable value to true
4.  Capture fiddler traces and share them.

[2016-10-17 06:38] vincentdass commented on #2858
@nibras85 , Can u mail the log with the debug messsages ?

[2016-10-17 08:43] Zazcallabah commented on #2119
Instead of suppressing the 409, could the build task first check if the current version of the package has already been published - and only attempt publish if not?

also, if you close these issues, there is no way for users (i.e. me) to get a notification when they have been fixed?

[2016-10-17 09:50] andycodecomplove opened #2883 "Regression of #1939 Python installation directory missing from PATH"
After successfully running CasperJS for a while, I suddenly get the following error:

[code]

That is despite me setting PATH (the workaround I used until you changed PATH - see #1939).

Is Python even installed on the build agent anymore?

Please can you suggest a workaround, whilst I await a fix, so my company can keep working.

Cheers,
Andy

[2016-10-17 14:19] snowstormlife commented on #2828
I had not changed a thing with my VSTS build definition, the Mac VSTS build agent, or the source code. I last ran the build a couple of weeks ago and it was successful every time. When I tried to run a build this morning I received these errors during the NuGet package restore step

In the _diag log file on the mac
"MsBuild.exe does not exist at '/Library/Frameworks/Mono.framework/Versions/4.4.2/l

[2016-10-17 14:21] jsauve commented on #2828
You can also use:
"/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/nuget/NuGet.exe"

Not the "Current" instead of a specific version number. There should be a symlinked "Current" folder in there that always points to the most recent version.

[2016-10-17 14:37] cristianomartins commented on #364
I had same problem

******************************************************************************
Starting task: Powershell: C:\Temp\ExecuteSQL.ps1
******************************************************************************
. 'C:\Temp\ExecuteSQL.ps1' -servername DBServer -databasename MyDatabse -filename C:\Temp\Script.sql -username ******** -password ********
Executing the following powershel

[2016-10-17 16:15] debben commented on #2883
I'm having the same issue. My hosted builds in VSTS have been at a halt since Friday. I don't use Python directly in my app, but node-gyp depends on it for building certain native modules. [The documentation still lists Python as included in the hosted agent](https://www.visualstudio.com/en-us/docs/build/admin/agents/hosted-pool), but it's undetectable when running npm install.

[2016-10-17 17:38] tiefling opened #2887 "Unable to read NUnit 3 TestResults.xml files"
VSTS will not read XML file output from NUnit 3. This is crucial for dotnet core support, where the VSTS test runner itself doesn't work.

We have no viable solution here for visibility of build failure.

[2016-10-17 17:53] tiefling commented on #2126
Did you get any decent visible output with xUnit on VSTS in the end using the dotnet tasks to run and the publish task on the output files? I've been trying to get NUnit working and that's a flat no on any kind of visual output at all.

[2016-10-17 17:56] rschiefer commented on #2126
You get some basic pass/fail details:

![image](https://cloud.githubusercontent.com/assets/1071761/19448863/1c45eee2-9469-11e6-8aab-327d7f8e9ab2.png)

[2016-10-17 18:20] #2870 closed

[2016-10-17 18:28] #2825 closed

[2016-10-17 19:40] mattbrooks2010 commented on #2126
Getting quite a bit more detail than that using TFS 2015.3 on-premise.

![image](https://cloud.githubusercontent.com/assets/2045274/19452617/96705258-94a9-11e6-8b26-e8f00185d125.png)

Note that the 'Outcome' filter defaults to 'Failed' for some reason. This seems like a bug.

[2016-10-17 21:42] jsauvexamarin opened #2889 "Xamarin.Android builds suddenly unable to run because of missing requirements on the agent"
My nightly builds have been working great for weeks, and then suddenly last night my Android builds started failing to run:

`No agent could be found with the following capabilities: AndroidSDK, MSBuild, Xamarin.Android`

What got committed within the last 48 hours that would start breaking Android builds???

Nothing has changed on my build agent machine in recent history.

[2016-10-17 23:22] jferlazzo commented on #2828
Is anyone else having an issue with the version of NuGet being used?

When specifying the paths mentioned above:
- "/Library/Frameworks/Mono.framework/Versions/4.6.1/lib/mono/nuget/NuGet.exe"
- "/Library/Frameworks/Mono.framework/Versions/Current/lib/mono/nuget/NuGet.exe"

It uses "Detected NuGet version 2.12.0.0 / undefined". This is regardless of if I choose the NuGet version in the build step.

[2016-10-18 07:26] atinb commented on #2126
@rschiefer You need to change the filter to Outcome = All as @mattbrooks2010 showed above
@mattbrooks2010 The idea was to show the failing tests first as the call to action.
@tiefling We are working on adding support for NUnit 3.0 result format

[2016-10-18 07:29] mattbrooks2010 commented on #2126
@atinb thanks for the insight. That does make sense but I would perhaps suggest, as a usability enhancement, that if there are no failed tests then it would be better to default to one of the other options.

[2016-10-18 07:30] atinb commented on #2887
Same issue as #2468. We are working on adding the support.
Thanks!

[2016-10-18 07:30] #2887 closed

[2016-10-18 08:59] Gimpan opened #2890 "[Question] How to update tasks w/o internet connection"
Hi,

I have a questions about how to get new vsts tasks to my build agents or TFS '15'. Correct me if I'm wrong, but as I understand it:
-Build agents uses vsts tasks
-vsts tasks are downloaded when newer versions are released
-Tasks are updated automatically
-Internet connection is required.

What if my environment does not have internet access?
I need to get a specific task working (#2689) that

[2016-10-18 09:23] turowicz commented on #2769
@hiyadav I've got a similar problem but the other way around. I specify all parameters, but it fails on the one that is a Base64-encoded string of length around 800 chars.

All overrides match template parameters by name. Checked it a dozen times.

The output is:

[code]

[2016-10-18 09:43] turowicz opened #2891 "A positional parameter cannot be found that accepts argument"
to delete

[2016-10-18 09:49] turowicz commented on #2891
BTW this works when I put it through a parameters file, but I'd prefer this to be a deployment variable.

[2016-10-18 09:51] turowicz commented on #2891
Tried the parameters file, no luck. It works only through Azure Portal -> New Template Deployment.

[2016-10-18 09:55] tiefling commented on #2887
Thanks @atinb - I hadn't found that before - I'll follow it.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Atin Bansal <notifications@github.com>
Sent: Tuesday, October 18, 2016 8:30:51 AM
To: Microsoft/vsts-tasks
Cc: Keith Jackson; Author
Subject: Re: [Microsoft/vsts-tasks] Unable to read NUnit 3 TestResults.xml files (#2887)

Closed #2887<https://github.

[2016-10-18 09:55] tiefling commented on #2468
What is the likely time line on this?

[2016-10-18 10:15] SatishThareja commented on #2872
@ffnoname Please share the test execution logs present in 'C:\Dtalogs' and send it to devops_tools@microsoft.com.
Additionally, can you try to execute the tests on fresh VMs and let us know if you hit this issue again?

[2016-10-18 10:30] SatishThareja commented on #2809
@Selvaraj1989 Please share the logs at 'C:\DtaLogs' for this issue (clearing the older logs first).
Additionally please verify a few things:
- Test Case Filter input(available in Test Assembly mode of execution) is empty
- Execute the tests(pending ones) on the test agent machine manually using vstest.console.exe.

The path to vstest console will look something like: "C:\Program Files (x86)\Micros

[2016-10-18 10:39] #2891 closed

[2016-10-18 10:51] SatishThareja commented on #2704
@ShakedTBolt Please share the test execution logs from test agent machine with devops_tools@microsoft.com. You would find logs in 'C:\DtaLogs' folder.

[2016-10-18 10:53] bryanmacfarlane commented on #2890
Tasks are downloaded from the server.  They are downloaded when a new version is available in your server (not the internet).

[2016-10-18 11:10] SatishThareja commented on #2862
@ampetrushenko Did changing the results file pattern unblock you?

[2016-10-18 11:13] SatishThareja commented on #2873
@elibarzilay Can you share the xml file, so that we can repro and debug the issue locally?

[2016-10-18 11:47] DavidStaheli commented on #2889
Hi @jsauvexamarin, thanks for reporting this so quickly.  Can you please tell me the name of your Team Services account, or email me at dastahel at microsoft.com?

[2016-10-18 11:49] atinb commented on #2468
We have a PR out for review. Waiting for a few signoffs. Thanks!

[2016-10-18 12:11] ShakedTBolt commented on #2213
Satish,
We are using tfs 15 rc 2 with agent of 2015 update 3, and we have the same issue. can you please send me the patch? or refer it to it.

Thanks!

[2016-10-18 12:41] Gimpan commented on #2890
@bryanmacfarlane Thanks for your reply, that makes perfect sense now that you mention it!

So to the follow up questions:
How do our tfs server download new versions? Through Windows Update?
Are there ways to "upload" the new tasks to our server? Like manually copy paste/deploy?

[2016-10-18 13:05] glaidler commented on #624
@phatcher thanks! didn't get notified about your response.

@mvvsubbu - how do I get access to this AzureRM Web App Deployment task?  my vsts account is harbourassist.visualstudio.com

[2016-10-18 13:05] yacaovsnc commented on #2889
@jsauvexamarin Just to confirm, are you running builds on hosted agent, or your own agent since you mentioned "nothing has changed on my build agent machine"?

[2016-10-18 13:12] yacaovsnc commented on #439
Sorry for the delay, I was just informed that we may still need couple extra days to rollout the image due to an issue.  :(

[2016-10-18 13:13] mabead commented on #1796
In case anyone wonders: to view the uploaded file, you have to click on "Download all logs as zip". The uploaded file will be part of the zip.

[2016-10-18 13:54] rschiefer commented on #2126
Yep, forgot about that option.  Thanks @atinb!

[2016-10-18 14:25] nibras85 commented on #2858
@vincentdass please share your email address and I can share the logs with you. Thanks.

[2016-10-18 15:12] ShakedTBolt commented on #2704
@SatishThareja  - currently the tests are failing, not sure why. but still, it takes almost 4 minutes to actually fail.

I emailed you the log data.

[2016-10-18 16:00] vincentdass commented on #2858
@nibras85, vinca@micrsoft.com

[2016-10-18 16:03] ffnoname commented on #2872
hey @SatishThareja. We were able to figure out 2 things:
1.) System.AccessViolationException was caused by our code under test
2.) was also happening with the old environment.

That being sad I think the real issue now is, that the System.AccessViolationException is not letting the test fail properly (in contrast to the old environment) but it somehow puts the test agent into an idle state that it

[2016-10-18 16:16] nibras85 commented on #2858
@vincentdass sent. Thanks a lot.

[2016-10-18 22:43] madhurig commented on #2889
@jsauvexamarin: We saw a similar issue on MacInCloud build servers but it was due to how things were installed on those machines. Can you check you agent capabilities in the admin UI and let us know which capability is missing?

Thanks,
Madhuri

[2016-10-18 22:53] jsauvexamarin commented on #2889
@DavidStaheli, a colleague helped me get it resolved.

@yacaovsnc, this is a beefy dedicated MacInCloud server instance. The third column, here: http://www.macincloud.com/pricing/compare

@madhurig, I had to manually add the Xamarin.Android capability to each of my eight agent instances by entering the key `Xamarin.Android` and the value `.`

The issue cropped up overnight. Nothing had changed in

[2016-10-18 23:58] BluMist opened #2893 "[xcode] build task now tries to archive by default"
this is causing our builds to fail; we don't need to run archive on each build
the actions is set to "build" only

[2016-10-19 00:48] madhurig commented on #2893
@BluMist: Can you verify the "Create App Package" option is unchecked in your task? The option is checked by default but if you uncheck it and still have an issue, please attach the build log or email me the debug logs - madhurig at microsoft dot com.

Thanks,
Madhuri

[2016-10-19 00:49] BluMist commented on #2893
Can we still generate .ipa without checking "Create App Package"? archive was not required previously to generate .ipa

[2016-10-19 01:06] madhurig commented on #2893
@BluMist: To generate an IPA you have to check "Create App Package". We recently changed the behavior if using Xcode 7 or 8 to archive and then export which is the recommended method. Can you confirm which version of Xcode you are using?

Please send me the log, so I can investigate why you are hitting an error. To go back to the old behavior, on your build definitions set a variable "useXcrun" to

[2016-10-19 03:16] philcarbone opened #2894 "Upgrade Service Fabric Deployment Scripts to version 2.3"
People are receiving a timeouts on the upload of Service Fabric applications. The 2.3 release has updates to fix this. Could this be updated in the tasks and have the CopyPackageTimeoutSec argument override added to the task settings?

[2016-10-19 04:18] BluMist commented on #2893
Given the magnitude of the changes, would have preferred this to be an opt-in feature instead of having to opt-out with an undocumented parameter.

A few issues:
1. Our team uses archive only for production/appstore builds, so we explicitly disable archive for our scheme and manually enable for archiving, therefore this fails for us.
2. The new method now compiles twice, significantly adding to th

[2016-10-19 04:44] SatishThareja commented on #2872
@ffnoname Glad to hear that your issue got resolved.
I will close this issue now. If you see this again, please do get back and share the logs.

[2016-10-19 04:44] #2872 closed

[2016-10-19 04:47] SatishThareja commented on #2704
@ShakedTBolt Ack, we have received your email with the logs.

[2016-10-19 05:07] zjrunner commented on #2828
The detection there is internal to the task to determine 'quirks' to apply.  It lets us know if the version of nuget we found supports a credentialProvider, support OnPrem(TFS) auth, or needs to fall back to nuget.config management for VSTS Auth.

Are the files you are referencing actual nuget.exe files with the same version resources, or are they shell scripts that redirect to mono+nuget.exe exec

[2016-10-19 05:57] zjrunner commented on #2880
We are looking at making this better, but it needs to coordinate with some task-lib work to make it easier to fetch and cache tools.  For now you can use a powershell task to pull nuget to the machine prior to running the packager if you prefer not to have it checked in.

[2016-10-19 06:23] ShakedTBolt commented on #2704
Hi,

Adding logs from successful running.

Thanks!

Shaked Tuvel
QA Specialist
BOLT Solutions Inc.
Shakedt@boltinc.com<mailto:shakedt@boltinc.com>
www.boltinc.com<http://www.boltinc.com/>

From: Satish Thareja [mailto:notifications@github.com]
Sent: Wednesday, October 19, 2016 7:48 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Shaked Tuvel <ShakedT@boltinc.com>; Mention <mention@

[2016-10-19 07:43] petervandenhout commented on #2883
I think Python is missing from the build agent altogether. If you call python.exe directly ("c:\python27\python.exe") it also gives the error "The system cannot find the path specified".

[2016-10-19 07:44] vincentdass commented on #2858
@nibras85 , @PrashanthReddyAnnedla . It's a genuine issue and will be fixed in the upcoming deployment.

[2016-10-19 09:16] Thaoden commented on #2126
I'm struggling with getting my xUnit tests to run on my TFS. I added the packages paths to the NuGet restore, dotnet restore and VSTest tasks as stated above. When I run the build process, my tests are not discovered (although the test assemblies are found).

When I use a command line task with `dotnet test --no-build -xml ./result.xml` with working directory set to one of the test projects, it fa

[2016-10-19 09:25] tiefling commented on #2126
Check out the end of this Stack Overflow post I wrote for directions on how to get this all working - there's some links there
http://stackoverflow.com/q/40093573/2579219
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Thaoden <notifications@github.com>
Sent: Wednesday, October 19, 2016 10:16:36 AM
To: Microsoft/vsts-tasks
Cc: Keith Jackson; Mention
Subject:

[2016-10-19 10:03] madhurig commented on #2893
@BluMist: Thanks for the feedback. I will consider switching back to "xcrun" as the default for Xcode 7.
1. Do you use the IPA generated by the build since it is not code signed?
2. I understand the building twice for creating the IPA with the new mechanism (this is recommended by Xcode). We have another task "XcodePackageiOS" that uses xcrun. We are considering allowing that to only create IPA or

[2016-10-19 11:37] Thaoden commented on #2126
@tiefling Thanks for the link. I tried but this doesn't work for me as I have an ASP.Net Core app running on full .Net framework as my system under test. Some of the references of the web project cannot be resolved:

[2016-10-19 11:38] LiohAu commented on #2724
@allendm-msft does my contribution changes anything to the backlog?

[2016-10-19 11:46] tiefling commented on #2126
Try changing the imports or framework dependency in the test project to match and see how you go.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Thaoden <notifications@github.com>
Sent: Wednesday, October 19, 2016 12:38:05 PM
To: Microsoft/vsts-tasks
Cc: Keith Jackson; Mention
Subject: Re: [Microsoft/vsts-tasks] Execute and publish xUnit Tests results with

[2016-10-19 12:03] Thaoden commented on #2126
@tiefling To be able to reference my main projects I have to set the test project framework to `net461` and then I'm back at the beginning.

[2016-10-19 12:05] DavidStaheli commented on #2890
Hi @Gimpan, for on-premises installs of TFS (not Team Services), the update mechanism for built-in build/release tasks is installation of quarterly updates (the next being in November).  You could build this repo yourself and use the [tfx](https://github.com/Microsoft/tfs-cli) tool to upload individual task folders in the _build directory to your TFS server, but that is **unsupported** and **doesn

[2016-10-19 15:59] BluMist commented on #2893
Thanks, Madhuri. Any ETA on when this will be deployed?

regarding codesign, the .app is always signed. .ipa is essentially a zip looking at the xcrun script. I'm not sure what xcodebuild archive does differently.

[2016-10-19 16:08] madhurig commented on #2893
@BluMist: I am hoping to deploy today. The .ipa generated by xcrun is invalid if you have some projects like Swift or Watchkit. Apple deprecated xcrun and it is not recommended for generating your app packages with Xcode 7 and 8. I found that is still works for Objective C projects. Can you please share the build definition settings and the error log from your failure?

Thanks,
Madhuri

[2016-10-19 21:15] hqer2k9 opened #2902 "vnext agent disk runs full regulary"
hard disk where VNext agent is running gets full because the _work folder doesn't get cleaned. The "Clean" command within the build definition does not help, there are just getting number folders created (1,2,3,4,5,6,7 and so on..) after 2 or 3 work days, the hard disk is full and the number folders have to be deleted manually

[2016-10-19 21:40] madhurig commented on #2889
@jsauvexamarin: Can you confirm which version of the VSTS build agent you have on your build server? The agent looks for this [file](https://github.com/Microsoft/vsts-agent/blob/f7e9a7ee42d0c30f0d31d449bb51d95bd6e9e0fb/src/Agent.Listener/Capabilities/NixCapabilitiesProvider.cs#L70) to detect Xamarin.Android capability. Do you see this file on your build server?

Please send me the diagnostic logs

[2016-10-19 21:59] BluMist opened #2903 "[feature request][cocoapods] allow for additional parameters for pod install step"
pod install can take on additional parameters, but the default task does not support those options.

https://guides.cocoapods.org/terminal/commands.html#pod_install

[2016-10-19 23:00] Selvaraj1989 commented on #2809
@SatishThareja While trying to execute after verifying the above things, I am getting the below error message shown in the build. Could you please help me to resolve this.

![build_error](https://cloud.githubusercontent.com/assets/22670803/19540537/dc5d0876-967d-11e6-88dd-dbf1d6c47b5b.jpg)

thanks
selvaraj c

[2016-10-20 00:22] jferlazzo commented on #2828
It seems there is also some issues with the mac installer for dotnet core sdk not adding the tools to the path.

In case anyone is having both the Nuget Restore issue above and also has dependencies to restore in a project.json file. I solved the problem by adding two build steps below:

1. Command Line - NuGet Restore
- Added the NuGet.exe file with the version I needed to my respository.
- Set T

[2016-10-20 00:31] bryanmacfarlane commented on #2902
clean command just cleans that repo (git clean -fdx, git reset hard or tf scorch).  How many definitions is that agent building?  There's a repo per definition that the agent builds.  The only time it generates another folder is if the url / repo / endpoint changes on the repo.

Here's how it works:  https://github.com/Microsoft/vso-agent/blob/master/docs/workfolder.md

When the url changes, it wi

[2016-10-20 00:31] #2902 closed

[2016-10-20 03:09] mvvsubbu commented on #624
This task is public available, display name of the task is "Azure App Service Deployment: ARM"

[2016-10-20 05:14] mxa0079 commented on #2858
@vincentdass any work arounds?

[2016-10-20 05:25] bryanmacfarlane commented on #2858
@vincentdass - do we want to patch the task or is it fixed in 107 (rolling now)?

[2016-10-20 06:10] asranja commented on #2879
@robertmclaws Hi Robert, any update on the issue ?

[2016-10-20 06:10] asranja commented on #2359
@schnitty Just a gentle reminder in case you are still facing the issue.

[2016-10-20 06:42] vincentdass commented on #2858
@bryanmacfarlane  - We will patch this issue with 107. We have recently identified the different cause of issue will fix it soon .

[2016-10-20 06:42] SatishThareja commented on #2809
@Selvaraj1989 Can you let us know the following details:
- TFS version
- Build Agent Version
- Test Agent Version

Please attach build logs for this issue as well.

[2016-10-20 06:47] Ajay-MS commented on #2858
@max0079

We have identified different cause of this issue. Need some info from you regarding issue.
1. Does webapp on which you are trying to deploy already exists?
2. Follow steps being mentioned by @vincentdass  in his first reply.
3. Enable debug logs, you can enable debug logs by adding variable 'System.Debug' and set its value to 'true' and share logs at ajya@microsoft.com.

[2016-10-20 07:59] SushantKadam008 commented on #2832
Hi,
Is there any solution for this ? Even I am facing the same issue.

[2016-10-20 11:20] pavanadepu2 commented on #2832
@SushantKadam008 , @nibras85 , @TheSchmoe, If the current user doesn't have enough permissions on the azure subscription, then the disconnect operation throws the above error. To resolve this issue, make sure the current user is an owner of the Azure subscription.

[2016-10-20 12:48] ShakedTBolt commented on #2704
Ok, i think i found out what the issue is.
I had another issue with the DTAExecutionHost.exe - which crash after restart. I replaced the file with one you gave me (version 14.98.25624.0). once the file was replaced, the crash stop, but i start getting issues with the first step:
DTAExecutionHost, FileMonitor: TryReadToken Waiting for file creation
this step have 3 minutes timeout, and it failed ev

[2016-10-20 13:22] himanjanpati opened #2905 "Error in creating SharePoint Site using CSOM"
We are creating SharePoint site collection using CSOM code and the job is hosted in Azure.
here is the code
SpoOperation op = tenant.CreateSite(properties);
 var properties = new SiteCreationProperties()
                                            {
                                                Url = webUrl,
                                                Lcid = iLCID,

[2016-10-20 13:28] Gimpan commented on #2890
@DavidStaheli ,thanks for your reply.

I've not been able to find information on these quarterly updates but  I guess they are not the RC releases? We're currently using TFS '15' RC1.

Is it a Microsoft server update that we need to subscribe to? Not sure about how these updates work and I don't know how to explain to the guys servicing our servers what I need.

This is a temporary fix but I built

[2016-10-20 13:53] DavidStaheli commented on #2890
Unfortunately my use of the word "update" had a different meaning.  :)  The TFS quarterly updates are not automatic updates.  They are actually quarterly releases.  The next major version of TFS will be released in ~November.  Then there are typically 3 "quarterly update" releases yearly that must be installed manually.  This is of course different than the cloud-hosted Team Services that is auto-

[2016-10-20 15:53] debben commented on #2883
I opened a ticket with Microsoft. They informed me Python has been re-added to the hosted build images. My builds seem to be working again.

[2016-10-20 16:12] petervandenhout commented on #2883
It also works again for me. Thanks @debben

[2016-10-20 20:36] jsauvexamarin commented on #2889
Sorry, I reported some bad info in my last comment, because I have two VSTS accounts and two build agent machines (one on-prem and another in MacInCloud). I was confused about which one I was looking at. I'm transitioning from on-prem to MacInCloud, and migrating all my build configs to a new VSTS instance that has a more generic URL.

The behavior I was reporting was in my on-prem agent. And in t

[2016-10-21 01:11] RomanDidenko opened #2908 "ConfigureWinRM.ps1 downloads from non existing urls"
Tasks/PowerShellOnTargetMachines/ConfigureWinRM.ps1 script try to download tools from non existing url https://azurergtaskstorage.blob.core.windows.net/winrm/makecert.exe

[2016-10-21 03:00] zhy2002 commented on #2908
+1

[2016-10-21 07:25] ignacy130 commented on #2908
+1

[2016-10-21 10:16] hqer2k9 opened #2911 "deploy test agent suddenly hangs for unknown reason"
[code]
only 3 lines in the log file, hanging for 2 hours now. worked for like 2 weeks in a row without error.
is this already a known problem? thanks a lot

[2016-10-21 10:37] DavidStaheli commented on #2905
Hi @himanjanpati.  This repo is for TFS/Team Services build tasks.  You will have better luck posting your question to this area on Stack Overflow:  http://stackoverflow.com/questions/tagged/csom

Thanks,
David

[2016-10-21 10:37] #2905 closed

[2016-10-21 11:53] #2883 closed

[2016-10-21 11:53] gep13 commented on #1474
There is no easy way to get the value of a capability. They are not variables. There is a feature on the backlog that will effectively solve the same problem, although in a more useful way.

Can you point me at that feature on the backlog?  Has it been implemented?  Thanks!

[2016-10-21 12:24] k3flo opened #2914 "cURL Upload fails with wildcards since latest TFS update"
Hi,

we are using a cUrl Upload task with the following configuration which worked till 19th October 2016:

![configuration correct](https://cloud.githubusercontent.com/assets/12381373/19602663/5dfb0adc-97ae-11e6-914a-852cdb203076.jpg)

Since yesterday, this build step fails with this error message:

![fail](https://cloud.githubusercontent.com/assets/12381373/19598225/f5652f7a-9799-11e6-9f3d-427fe

[2016-10-21 12:24] ericsciple commented on #1474
Lazily acquiring tools is a feature that is very high on the backlog. It is closely related with the concept of capabilities. https://github.com/Microsoft/vsts-tasks/blob/master/docs/tools.md

[2016-10-21 12:30] dannylgreen commented on #2914
Hello,

Confirming this issue, I am seeing the same thing with version 1.0.19.

[2016-10-21 12:47] dannylgreen commented on #2914
Hello,

If there is legitimate way to have a Task use a specific version I can't find it, but I was able to trick mine to use version 1.0.17 and get my release out.  On my build agent, in the BuildAgent\Tasks\cURLUploader folder, I renamed the 1.0.19 folder to xxx1.0.19, made a copy of the 1.0.17 folder and then renamed it to 1.0.19.

[2016-10-21 13:16] pavanadepu2 commented on #2908
@RomanDidenko , @zhy2002 , @ignacy130 , Thanks much for reporting the issue.
The issue is fixed, you may retry your script to configure the WinRM.

[2016-10-21 14:32] plemanach opened #2917 "NugetPublisher"
Hello,

Since I updated the NugetPublisher task I get 👍

2016-10-21T14:16:16.5586043Z ##[warning]File name doesn't indicate a full path to a executable file.
2016-10-21T14:16:16.5586043Z Set workingFolder to default: D:\Agent1\SourceRootMapping\a3754a9a-4859-4d79-8896-d033da5613ba\Job-06909b89-ae69-457b-a86f-b61ece1a304c
2016-10-21T14:16:16.5742043Z ##[error]The directory name is invalid

Regards,

[2016-10-21 14:34] bryanmacfarlane commented on #2917
Can you clarify what you mean by you updated?  How did you update?

[2016-10-21 14:44] yacaovsnc commented on #2914
@k3flo @dannylgreen It appears there is an path issue (curl expecting forward slashes as path separator and normalized away Windows' path separators) introduced recently, possibly by a library update.

A workaround to this issue is to specify the full path to the file that will be uploaded without any wildcard.  This way we don't attempt to search the file by pattern matching and curl can take Win

[2016-10-21 14:51] k3flo commented on #2914
@yacaovsnc I'm very sorry, I pasted the wrong image. I fixed the image so that the definition matches the log.

[2016-10-21 14:58] yacaovsnc commented on #2914
Thanks @k3flo, assuming your version number is v3.1.16_11010, you could potential unblock yourself by changing the input to:
`$(build.sources.directory)\labs.ETL\Docs\Release Notes\$(VersionNumber)_labs.Flow_Release_Notes.pdf`

I am looking at the root cause at the moment.

Sorry about the trouble.

[2016-10-21 15:16] SatishThareja commented on #2704
@ShakedTBolt We are working on the fix for test agent and will have an update soon.

[2016-10-21 22:20] yacaovsnc commented on #2914
We have hotfixed this issue now.  Sorry it took awhile because of github.com was down today.  Please try again.

[2016-10-22 02:54] patrickmichalina commented on #2880
@zjrunner thanks

[2016-10-22 16:49] Selvaraj1989 commented on #2809
@SatishThareja
All TFS, Build Agent and Test Agent are 2015 Update 3 version.

Thanks
Selvaraj C

[2016-10-22 20:50] jtbatzer opened #2922 "Run Functional Test task fails"
I'm trying to run a Selenium test using the Run Functional Test step from a vNext build definition on TFS 2015, the test project's sources are built on the TFS server and copied to a remote machine running Windows 8.1. However, when it's to run the unit test, nothing happens with a repeated message " test is in state 'InProgress' " in the TFS console. On the DTAExecutionHost log file in the remote

[2016-10-23 20:24] knoxitus commented on #1607
@sebvst I have exactly the same problem that msvcr100.dll is locked by using the AzureRMWebAppDeployment build step, . Enbling or disabling "take app offline" has no effect.

[2016-10-23 23:36] mxa0079 commented on #2858
@Ajay-MS We are using hosted agents,so we cannot make the changes mentioned by @vincentdass (and cannot afford the time to create a dedicated agent to debug this issue) -- however, I will be glad to enable the verbose logs if this will help you.

[2016-10-24 05:29] SatishThareja commented on #2809
@Selvaraj1989 Please share the version number of the build agent. Build agent version is logged at the beginning of the build logs.
If possible, please share build logs as well.

[2016-10-24 05:33] SatishThareja commented on #2922
@jtbatzer We will need build logs to debug this issue. Please collect the build logs by setting build variable 'system.deug' to true and send it to devops_tools@microsoft.com.
Please mention the version for TFS, Test Agent and build agent as well.

[2016-10-24 05:34] SatishThareja commented on #2922
@jtbatzer Please include DtaExecutionHost logs as well.

[2016-10-24 05:44] SatishThareja commented on #2865
@hqer2k9 I have shared a script to stop test execution here: https://1drv.ms/u/s!Aj_8waqf3hLypzPntAPzwx7jWDf5.
Please try the script and let us know if you get unblocked.

[2016-10-24 05:59] SatishThareja commented on #2911
@hqer2k9 Do you suspect any change in the test environment, which could have led to this issue?

To help us debug this issue, please collect the DtaExcutionHostlogs and Event Viewer logs from the test agent machine and send it to devops_tools@microsoft.com.

[2016-10-24 06:00] #2704 closed

[2016-10-24 08:30] SatishThareja commented on #2862
@ampetrushenko Ping. Did your issue get resolved?

[2016-10-24 08:41] markphillips100 opened #2923 "AzureRmWebAppDeployment failing to find package using a windows share"
A recent [change](https://github.com/Microsoft/vsts-tasks/pull/2571) to use a glob library for locating a package causes releases using a windows share to not be located (no feature for this in glob perhaps?).

The following used to work however the glob.sync will not match this.
\WINDOWSBUILD\B\myartifacts\myproduct\mypackage.zip

Can we have this fixed asap as it has broken numerous window agent

[2016-10-24 09:33] #2769 closed

[2016-10-24 12:34] B3nCr commented on #546
We're getting a similar error which I think may be related.

One of our test projects tests some code which uses ClaimsPrincipalPermissionAttribute.

When we run the tests locally they work correctly but when we run the tests on the server the test runner complains that the `system.identityModel` element is missing from the configuration..

That setting is definitely there in our test projects app

[2016-10-24 12:51] jtbatzer commented on #2922
@SatishThareja - I have sent the email with log files to devops_tools@microsoft.com.  Thanks for the quick response.

[2016-10-24 12:57] asranja commented on #2908
Closing this issue as it has been resolved by @pavanadepu2

[2016-10-24 12:57] #2908 closed

[2016-10-24 13:07] madhurig commented on #2889
@jsauvexamarin : Can you clarify if the agent is not able to find the "Xamarin.Android" capability on the machine which has the "generator" file? 104 is slightly older, can you try upgrading to 107 version of the agent and see if you still see the same issue.

[2016-10-24 13:25] asranja commented on #1607
Hey @knoxitus can you mail the release logs to asranja@microsoft.com. Make sure to keep the system.debug variable to true and enable the app offline feature.

[2016-10-24 13:37] jtbatzer commented on #2922
@SatishThareja - I received an undeliverable message with failed delivery to several recipients/groups when sending email to devops_tools@microsoft.com.

[2016-10-24 14:27] Selvaraj1989 commented on #2213
@SatishThareja I am also facing the same issue of crashing the DTAExecutionHost.exe. Could you please help me by pointing out the patch link.
![capture](https://cloud.githubusercontent.com/assets/22670803/19649599/0bba7e92-9a24-11e6-9fab-db0b507b04ab.JPG)

[2016-10-24 14:46] Selvaraj1989 commented on #2809
@SatishThareja Attached the Build logs. Please let me know if any other info is required
[1_Build.txt](https://github.com/Microsoft/vsts-tasks/files/548150/1_Build.txt)

[2016-10-24 17:03] rhan1161 opened #2929 "Upgrading Service Fabric applications now waits while each upgrade rolls to all nodes"
VSTS now upgrades SF applications in a "serialized" mode.  In the past, VSTS would upgrade one application on one node and then move on to the next application.  At the same time, Service Fabric then rolled the upgrades to the other nodes in the background.  After October 20, I noticed that VSTS doesn't do this anymore.  That is, VSTS upgrades one application on the first node, and then wait until

[2016-10-24 17:37] jsauvexamarin commented on #2889
@madhurig, I definitely will upgrade my 8 agents later today on my on-prem build machine. But yes, I am clarifying that my version 104 agent was unable to find the "generator" file in the location specified, even though I can confirm that the file does indeed exists at that exact path (/Library/Frameworks/Xamarin.Android.framework/Commands/generator):
https://github.com/Microsoft/vsts-agent/blob/f

[2016-10-25 04:38] SatishThareja commented on #2809
@Selvaraj1989 Can you check the build agent version from agent pool and share the same with us?

Also, try using the following agent https://github.com/Microsoft/vsts-agent/releases/download/v2.108.0/vsts-agent-win7-x64-2.108.0.zip and let us know if this resolves your issue.

[2016-10-25 08:43] hqer2k9 commented on #2911
Hey @SatishThareja thanks for the reply, unfortenatly the DtaExcutionHostlog only has the 3 lines as shown above, the event viewer has no events at all.
I will monitor the problem

[2016-10-25 08:44] hqer2k9 commented on #2865
Hey @SatishThareja thanks for the reply, It works but its like restarting the test machine, which seems to be the more secure way to abort the test run to make sure there is nothing else running in the background. Do you have a timeframe when this will be implemented with TFS on Prem?

[2016-10-25 10:40] Selvaraj1989 commented on #2809
@SatishThareja the build agent version is 1.95.3. I will give a try using the test agent you provided and will update you in a while.

Apart from the above issue, I have encountered the below issues as well:

1. DTAExecutionHost.exe has stopped working issue
![capture](https://cloud.githubusercontent.com/assets/22670803/19682438/35310dc0-9acb-11e6-972b-f7365cc3d4cd.JPG)

2. While trying to deploy

[2016-10-25 12:18] dpadhya1990 opened #2944 "Sonar build for Visual studio post SonarQube upgrade"
Hello ,

Our sonar build (XAML build )  is getting failed after we upgrade our sonar server, e
following are the error logs

Start Sonar-runner
Exception in thread "main" java.lang.UnsupportedClassVersionError: org/sonar/api/utils/SonarException : Unsupported major.minor version 52.0
○at java.lang.ClassLoader.defineClass1(Native Method
○at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
○a

[2016-10-25 13:02] SatishThareja commented on #2809
@Selvaraj1989
For issue 1:
If you are observing the crash after test agent machine reboot, follow the steps below to resolve the issue -
Download the DtaExecutionHost executable shared @ https://1drv.ms/u/s!Aj_8waqf3hLypyxtiQw9DoD6PG5E .
1. Navigate to ‘C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE’
2. Take backup of DtaExecutionHost.exe
3. Replace the executable with the patched

[2016-10-25 13:23] vincentdass commented on #2858
@mxa0079 , this issue is hotfixed and will be available in a day or two.

[2016-10-25 13:32] bgavrilMS commented on #2944
Hi @dpadhya1990,

This repo is for the TFS Build (i.e. non-XAML build) integration with SonarQube. Please contact SonarQube directly with this query.

As far as I remember, you need to integrate using the SonarQube Scanner for MSBuild and not with the general purpose Sonar Scanner (formerly known as the sonar-runner).

http://docs.sonarqube.org/display/SONARQUBE53/Analyzing+with+SonarQube+Scanner+

[2016-10-25 14:52] #2944 closed

[2016-10-25 19:00] madhurig commented on #2893
@BluMist: The task will continue using xcrun by default. To use xcodebuild archive/export you will need to set a variable useXcrun=true. In the next update we will provide an option in the task.

[2016-10-25 19:00] #2893 closed

[2016-10-25 19:31] nibras85 opened #2948 "App_Data flag isn't respected for Azure App Service Deployment:ARM"
I'm using an Azure App Service Deployment:ARM task to deploy to an Azure web app. My build artifact is a zip file containing a web app and a few webjobs. It looks like this:
![image](https://cloud.githubusercontent.com/assets/11825028/19700946/55e0968e-9ac7-11e6-8463-2fd645055245.png)

and the API.zip file's contents look like this:
![image](https://cloud.githubusercontent.com/assets/11825028/1970

[2016-10-25 20:07] nibras85 commented on #2948
I apologize. This isn't a bug. I had the skip artifact download checkbox turned on in the release definition which I think caused this issue.

[2016-10-25 20:07] #2948 closed

[2016-10-25 22:58] madhurig commented on #2889
@jsauvexamarin: Looks like Xamarin.Android capability is broken with 104 version of agent with latest Xamarin, the fix is included in 105 and higher version of the agent: https://github.com/Microsoft/vsts-agent/commit/b21004ba2a966adfec1bc174cbef232a0bdf4874

[2016-10-25 22:58] #2889 closed

[2016-10-25 23:08] marcwittke commented on #553
@bryanmacfarlane did you finalize the consideration? This issue was closed without any feedback regarding this. My npm install of a react boilerplate js application takes about four minutes on the hosted build agent :(

[2016-10-25 23:12] bryanmacfarlane commented on #553
assigning to zack for thoughts.  Last time we looked at the bottleneck, npm local I/O (updating local cache folders) was dominating the time on hosted agents.  Since then though, we've sped up I/O with D2+SSD.  In addition, resolving the graph of versions might also dominate the time before it ever gets to pulling them from the cache server.  So, it's unclear whether it would help much on perf.

[2016-10-25 23:26] marcwittke commented on #553
@zjrunner for what it's worth, here my (shortened) log. And yes, @bryanmacfarlane might be right with his thoughts about the domination of graph resolution...

[code]
... skipping ~1500 lines of an impressive npm module graph ...
[code]

[2016-10-26 00:12] zeus82 commented on #1903
I just started getting this error today:

2016-10-26T00:07:24.4681508Z ##[error]Error: C:\a\_tasks\NuGetInstaller_333b11bd-d341-40d9-afcf-b32d5ce6f23b\0.2.22\node_modules\nuget-task-common\NuGet\3.3.0\NuGet.exe failed with return code: 1
2016-10-26T00:07:24.4681508Z ##[error]Packages failed to install

I think its related.

[2016-10-26 02:56] mateusrodrigues opened #2950 "Azure CLI Preview task - 'C:\Program' is not recognized as an internal or external command"
The task seems to be throwing some kind of error due to the spaces in the command line that gets the console confused and throwing an "unknown command" error.

The log specifically says:

[2016-10-26 03:15] ericsciple commented on #2950
@mateusrodrigues does one of your args have a space in it? if so, any way to avoid an arg it a space in it? or put the cmd file in a location that does not have a space in the path?

[2016-10-26 03:28] ericsciple commented on #2950
@hiyadav
it looks like this line is the issue `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI\wbin\azure.cmd account set Visual Studio Enterprise: BizSpark`. i'm guessing `Visual Studio Enterprise: BizSpark` is actually quoted on the CreateProcess cmdline.

there is a really bizarre quirk when creating a process for a cmd file on Windows and the file has a space in the path and a quoted arg is pa

[2016-10-26 04:21] SatishThareja commented on #2873
@elibarzilay Ping.

[2016-10-26 04:22] #2862 closed

[2016-10-26 05:28] #2858 closed

[2016-10-26 05:32] hiyadav commented on #2950
@ericsciple
yeah the argument "Visual Studio Enterprise: BizSpark" is quoted when passed to the command line. This seems like the same issue as in the PR, so can I assign the issue to you ?

[2016-10-26 05:55] SatishThareja commented on #546
@B3nCr Can you try manually executing the test assemblies build generated by Build Task, using vstest console command and see if the execution passes/fails?
Vstest console exe's location would be somthing like: "C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe".

[2016-10-26 06:09] ericsciple commented on #2950
I'm not going to modify the Azure CLI task. If you want to wait for my changes to toolrunner, then you can. I'm planning to wrap up those changes soon (probably tomorrow). If this is a super urgent bug and you need to release a fix or workaround sooner than that, then don't wait on my change.

[2016-10-26 06:29] ericsciple commented on #2950
if you do need an urgent workaround and you know you are always executing a cmd/bat file on windows, [this is a workaround](https://nodejs.org/api/child_process.html#child_process_spawning_bat_and_cmd_files_on_windows)

[2016-10-26 09:06] AmaranAthigaman opened #2952 "Control Progressive Test Results updates in Test Runs."
Hi All,

I have a query related to test execution through VSO build Task.

I see the below logs while I am executing the tests from the VSO build Tasks. The batch size here is showing as 1000. Is there a way i can change this batch size so that the test results are updated in the test run more frequently?

I, 4704, 22, 2016/10/25, 17:55:08.630, \DTAExecutionHost, TcmRestApiHelper.UpdateTestResults

[2016-10-26 11:58] hiyadav commented on #2950
hey, we are waiting for your changes to go in, have already verified, the task works fine with your changes even with arguments having spaces in them and also the file path having spaces in them.

[2016-10-26 15:24] pedroasconde opened #2954 "VSTS Xamarin project one build multiple releases"
Is it possible to have a single VSTS build for a single Xamarin (Forms) project (iOS, Android, UWP, ...), with multiple releases based on the single build and each release configured with Variables that will affect the project's configuration (for instance, with PCLAppConfig/app.config.xml file) ?

Resuming, I want to have only one build for the product and multiple releases (each one with his own

[2016-10-26 15:32] B3nCr commented on #546
I've set the app.config to `copy local = true` on the test project and it's miraculously fixed all our tests.

This seems like some black magic. What happens if we set more than one projects app.config to `copy local = true`?

[2016-10-26 16:09] elibarzilay commented on #2873
@SatishThareja, sorry -- it's a new project and things are moving fast so I can't reproduce the results easily (would require tweaking the build definition that people are actively using).

When we run the scala tests, it generates junit-style files by default, and those were giving us these problems -- there is a command-line argument that makes it produce slightly different junit files which see

[2016-10-26 16:29] bryanmacfarlane commented on #2954
Chaining is high on the backlog.  It also depends what you want here - results and history hang off a definition.  For example, for our cross platform agent, I want to see the status and history of the windows, Linux and Mac builds independently.  So, I have a definition for each.  Chaining will show cumulative pass / fail and history.

[2016-10-26 16:43] pedroasconde commented on #2954
Bryan, thank you for your feedback.
Let me clear my issue, probably I didn't explained very well...
I do want one build definition per platform. So, in my case, one for iOS, one for Android and one for UWP, all relying on a Xamarin forms project.

Imagine that you have release environments based on VSTS variables that will affect the application's behavior. Can the release variables be used to rep

[2016-10-26 16:49] zjrunner commented on #2917
@plemanach - do you have an answer for bryan?  Also, more log lines for which file it is looking for would be helpful, and that workingFolder seems odd

[2016-10-26 17:28] mateusrodrigues commented on #2950
@ericsciple @hiyadav no hurries with that one, just making sure you guys knew about it :) when is the fix expected to roll in?

[2016-10-26 18:57] ericsciple commented on #2950
If it goes into this sprint (normal checkin process cutoff is friday), then it will start rolling out next week and continue for a week or so until the deployment reaches all scale units.

If you want a fix before, then after it goes into master I can get you a private build (or you can build it from this repo) and you can upload it to your account.

[2016-10-26 19:25] jtbatzer commented on #2922
@SatishThareja - Just checking in.  Is there any update on the review of the log files?

[2016-10-26 20:50] geoffstew4 commented on #2721
On my past three builds it has a similar failure, all of the tests complete but the final results don't post correctly due to the timeout.  Is this setting something I can configure?  I've tried rebooting the build box and the test machines but get the same result

DistributedTests: Test run is aborted. Logging details of the run logs.
DistributedTests: New test run created.
Test Run queued for Pr

[2016-10-27 00:34] bryanmacfarlane commented on #2954
madhuri can cover the xamarin specific aspects

[2016-10-27 01:34] optiks opened #2957 "Extract Files Task when used as a Release Task fails"
See comments within https://connect.microsoft.com/VisualStudio/feedback/details/3109092/extract-files-task-when-used-as-a-release-task-fails.

"Trying to use the extract files task (https://www.visualstudio.com/en-us/docs/build/steps/utility/extract-files) fails with the error:

TypeError: path must be a string
No path specified for search pattern: **\*.zip defaulting to: undefined
Searching for:

[2016-10-27 06:07] acesiddhu commented on #546
@B3nCr if you set copy local=true for all dlls the app.config will be renamed to dllname.config and will be copied to binaries directory next to dll. It wont be copied as app.config and hence there wont be a conflict.

[2016-10-27 07:14] acesiddhu commented on #2721
@geoffstew4 Looks like publishing of test result attachment is timing out. Do you have any test case level attachments? Whats the size of those?

[2016-10-27 10:41] pavanadepu2 commented on #2832
The above issue has been fixed. Now you should be able to disconnect. Let me know if you still see an issue while disconnecting the service endpoint.

[2016-10-27 11:15] mateusrodrigues commented on #2950
@ericsciple all good, I can wait for it to release. Let me go ahead and close this issue, once it's been solved :) thanks, guys!

[2016-10-27 11:15] #2950 closed

[2016-10-27 13:00] #2890 closed

[2016-10-27 13:23] khymenko opened #2963 "Xamarin.iOS task started failing few days ago"
We have a build for our app setup in Team Services. It is configured to build both iOS and Android version of our Xamarin-based app on a Mac. It was working fine for several month. But suddenly iOS step started failing with following error:
XamariniOS task failed with error Error: Failed cd: cd: no such file or directory: /Users/scanco/Agent/Work/8/b/iOS

To make sure this is not an issue with our

[2016-10-27 13:58] SatishThareja commented on #2873
@elibarzilay Sure, do share the files. If we can repro the issue using the files, it will be easy to debug the issue.

[2016-10-27 14:01] SatishThareja commented on #2922
@jtbatzer Looks like the logs shared by you contain information for  more than one run. Can you download the build logs (setting system.debug to true) from build summary page and share it with us?

[2016-10-27 14:27] Gimpan opened #2964 "VS Test Agent Deployment Unhandled Exception...PSInvalidOperationException"
Hi,

I suspect it might be related to our current TFS '15' RC1 with tasks from 1.0.35 and/or being offline.
Since everytime I try to let the task update the test agent for me, I run into this:

---

2016-10-27T12:57:32.3277152Z DistributedTests: Path to script that installs test agent on remote machine: C:\Agent_work_tasks\DeployVisualStudioTestAgent_52a38a6a-1517-41d7-96cc-73ee0c60d2b6\1.0.35\Tes

[2016-10-27 15:29] madhurig commented on #2954
@pedroasconde: If I understand correctly, you are looking to update the app packages generated by each platform build in your release definitions before releasing. That will depend on individual app packages. For iOS, the IPA can be signed with a different cert than what was used for the build but I don't think you can change say the version after IPA is generated.

[2016-10-27 15:36] geoffstew4 commented on #2721
If you are referring to the TRX files they are relatively small 16 – 18 KB, 4 of my 5 distributed machines were able to publish the results.

[cid:image001.png@01D2301F.72042780]

From: Siddhartha Pandey [mailto:notifications@github.com]
Sent: Thursday, October 27, 2016 12:15 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Stewart, Geoff <Geoff.Stewart@itron.com>; Mention <mention@

[2016-10-27 15:39] madhurig commented on #2963
@khymenko : Can you check what you have set in the Xamarin iOS task for Working directory? The latest version of the agent is 2.108 but your version should work too.

[2016-10-27 15:42] acesiddhu commented on #2721
No I was referring to some other attachments (like intellitrace, system info etc). do you have a testsetting/runsetting? Is any data collector on in that?

[2016-10-27 15:48] geoffstew4 commented on #2721
I don’t specify a testsetting/runsetting file so it is using whatever is default.  I am unclear on what the second question is referring to.

From: Siddhartha Pandey [mailto:notifications@github.com]
Sent: Thursday, October 27, 2016 8:43 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Stewart, Geoff <Geoff.Stewart@itron.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micro

[2016-10-27 16:44] RuslKoval opened #2965 "TFS2015 Coded UI testing fails in build process, can't load assembly"
Hi,
I can't run Coded UI testing in build process on TFS2015.
I get "DistributedTests: Error : Could not load file or assembly" (see screenshot)
![build_error](https://cloud.githubusercontent.com/assets/23101758/19775327/bead556e-9c78-11e6-841c-fa08afd11d75.png)
It's strange, becouse I can run same .dll on the same machine in VS2015 and it works.
I think something is wrong with testagent, although

[2016-10-27 16:51] acesiddhu commented on #2965
@RuslKoval Can you run ildasm on the test dll and check all reference needed for this dll in the manifest? Are all references there on the machine?

[2016-10-27 16:55] RuslKoval commented on #2965
so fast response, cool) I'v sent logs by mail to devops_tools@microsoft.com
and yes, we checked all references are there on the machine

[2016-10-27 16:58] RuslKoval commented on #2965
and can it be for the same .dll is needed different references when executing by Visual Studio or testagent?

[2016-10-27 17:03] acesiddhu commented on #2965
Can you send us Manifest to devops_tools@microsoft.com?

[2016-10-27 17:12] acesiddhu commented on #2965
one more thing. is this dll build on 64 bit platform and the machine where test agent is installed in a 32 bit machine or vice versa?

[2016-10-27 17:14] acesiddhu commented on #2721
From logs I see UITestActionLog.html. Does this look familiar?

[2016-10-27 17:18] geoffstew4 commented on #2721
I can get those for each of the individual aborted tests, is that what you are looking for?

[cid:image001.png@01D2303B.7FF322D0]

From: Siddhartha Pandey [mailto:notifications@github.com]
Sent: Thursday, October 27, 2016 10:14 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Stewart, Geoff <Geoff.Stewart@itron.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vsts-

[2016-10-27 17:56] jtbatzer commented on #2922
@SatishThareja - I emailed the build agent logs and build logs from the summary page to devops_tools@microsoft.com.  Please confirm receipt.  Thanks!

[2016-10-27 18:12] acesiddhu commented on #2721
Yes that will be great if possible. If not let me know the size of these files. By the way how does these file get generated?

[2016-10-27 19:25] blackwellops commented on #1170
@embix I am able to re-create this as well. This is only a problem when using ssh. Can we get this issue re-opened or added to a new issue?

[2016-10-27 20:00] jakebair opened #2967 "Task.json input type of password"
Is there a way to specify an input to be a secured field (masks the input)?

[code]
![image](https://cloud.githubusercontent.com/assets/6116637/19783038/98401040-9c4d-11e6-95eb-33ab4bc5b696.png)

[2016-10-27 20:52] rossedman commented on #1019
@RoopeshNair @NickDarvey Confused on this, is this still only returning output for VMs? It seems like it is. What is the recommended process/example for returning outputs from ARM templates that are using PaaS services?

[2016-10-27 21:05] geoffstew4 commented on #2721
They are generated by our CodedUI tests, I have attached one as an example.  This is the largest one I have seen.

From: Siddhartha Pandey [mailto:notifications@github.com]
Sent: Thursday, October 27, 2016 11:13 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Stewart, Geoff <Geoff.Stewart@itron.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vsts-tasks] Occasiona

[2016-10-28 02:38] bryanmacfarlane commented on #2967
Nope.  Because that would encourage folks to enter passwords in an input field.  Instead, they should enter in variables, tick the lock to secure it and reference it in the input field via $(varname).  There's UX discussions going on for how to automate that a bit (present the lock next to input and it does what I just described behind the scenes).

Variables that are secrets get encrypted and sto

[2016-10-28 04:57] SatishThareja commented on #2965
@RuslKoval Can you try executing the tests manually from the comandline using vstest console command and share the results with us?

The path to vstest console will look something like: "C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe".

[2016-10-28 05:01] SatishThareja commented on #2922
@jtbatzer Ack. Received the logs.

[2016-10-28 06:47] SatishThareja commented on #2911
Closing the issue for now. Will reopen if the issue is observed again.

[2016-10-28 06:47] #2911 closed

[2016-10-28 09:03] atinb commented on #2952
@AmaranAthigaman The publishing of results is done at the end of the set of tests given to the machine to execute. With Visual Studio Test task, that means you only see results at the end of all the tests being run. For Run Functional Test task that distributes tests, it means results are uploaded once the tests being executed on a particular machine are finished execution.

[2016-10-28 09:03] #2952 closed

[2016-10-28 09:09] atinb commented on #2865
@hqer2k9 We have copied this to our backlog. The earliest this would be onprem is dev15 Update1
Thanks!

[2016-10-28 09:09] #2865 closed

[2016-10-28 09:11] atinb commented on #2836
@ShakedTBolt Thanks for the feedback. This is definitely something we are working on addressing. Please stay tuned to our VSTS release notes - we should have something to try and give feedback in a couple of sprints. Thanks!

[2016-10-28 09:11] #2836 closed

[2016-10-28 10:49] RuslKoval commented on #2965
@SatishThareja , I'v just run my .dll from cmd, as You said, and it works!

[2016-10-28 11:12] RuslKoval commented on #2965
I sent a mail  to devops_tools@microsoft.com with my test .dll, Manifest and GAC-file

[2016-10-28 13:20] leslie-baker-engie commented on #825
I'm still getting this issue in the current live version.

I'm using NUnit tests within the test project combined with the Nunit3testrunner which is provided as a nuget package....same problem... runs the tests and produces a report on the tests and creates the .coverage file as can be seen in the log:
2016-10-28T13:06:34.5145287Z ##[debug]Adding run level attachment: C:\a\1\s\TestResults\buildgue

[2016-10-28 14:14] jakebair commented on #2967
Well, that presents an interesting dilemma for my purpose, I want to have multiple build steps that all use the same build task, but have different usernames/passwords. If I use variables, then they would all have the same name.

I thought of a solution, I could have an input for the variable name that your would then have point to the secured variable for that build step. Not perfect but would wo

[2016-10-28 14:14] #2967 closed

[2016-10-28 14:16] bryanmacfarlane commented on #2967
Understood.

Can you have a variable per instance of input?  e.g. task.foo.password, task.bar.password etc...?

[2016-10-28 14:17] jakebair commented on #2967
considering it would be a repeated build step, I'm not sure how to do that.

[2016-10-28 15:55] khymenko commented on #2963
Thanks, @madhurig. After cleaning working directory build is running again :)

[2016-10-28 15:55] #2963 closed

[2016-10-28 16:23] Arapahoe opened #2975 "VSTest.ps1 Calling Find-Files System.IO.PathTooLongException"
We can't run tests because we are getting System.IO.PathTooLongException
This specific error message does not show the path that is too long. What is the root directory?

My biggest problem with Build and Release is that I do not know where and what the paths are for all but magic build and release predefined variables. e.g. $(build.artifactstagingdirectory),Build.BinariesDirectory ... At this is

[2016-10-28 17:35] DavidStaheli commented on #2957
Apologies for the trouble this caused you, @optiks.  Thanks for the great investigation.  This is fixed via pull request #2974, which applies this fix to Extract Files, Archive Files, Gradle, Maven, and Decrypt File.

[2016-10-28 17:35] #2957 closed

[2016-10-28 18:28] ericsciple commented on #2950
fyi i'm still working on the lib changes. i had a setback at home and lost a day. i have some more test cases to added, but the PR is really close. i'm hoping to finish test cases today or tomorrow.

[2016-10-28 19:18] DavidStaheli opened #2976 "VSTest cannot be run in a release definitions"
The VSTest task cannot be run in a release definition because it uses an environment variable that is only available in builds:

**vstest.ts line 42:**
`var sourcesDir = tl.getVariable('build.sourcesdirectory');`

Instead of `Build.SourcesDirectory`, it should use `System.DefaultWorkingDirectory` which contains the same value as `Build.SourcesDirectory` but works in both Build and Release.

[2016-10-28 19:40] bryanmacfarlane commented on #2967
Process:
Step1: FooTask, input password=$(foo1.password)
Step2: FooTask, input password=$(foo2.password)

Variables:
foo1.password=apassword (lock)
foo2.password=diffpassword (lock)

??

[2016-10-28 21:01] daroco commented on #2894
I see that Dev15.Update1 is marked as 100% complete - is there an ETA on when that will be released into VSO?

[2016-10-28 21:14] EricJizbaMSFT commented on #2808
Ideally you could specify whatever you want for the subpath of the previous drop artifact. However, if we implemented a field to specify the subpath, we wouldn't have a good way to set that path when a user's task is upgraded. Since this could break existing users and there's an existing workaround (make sure the subpaths match), closing this as won't-fix for now.

Please re-open if you feel stron

[2016-10-28 21:14] #2808 closed

[2016-10-28 21:42] mikanyg opened #2977 "[feature request] service-fabric-versioning task to replace version numbers in manifests"
The current usage of the service-fabric-versioning task will only append a unique version number to service fabric applications. This makes the Continouos Delivery scenario for SF applications easy to implement, but forces a certain versioning scheme, making it harder to combine it with Semantic Versioning and the Git Version build task.

I would like the option to simply replace the version numbe

[2016-10-28 22:08] EricJizbaMSFT commented on #2894
If you're asking specifically about this issue, we have not implemented a fix yet. We will try to get it in the next sprint, which will release in about a month

[2016-10-28 22:56] mateusrodrigues commented on #2950
@ericsciple all good 👍

[2016-10-28 22:57] smattt opened #2978 "Publish Artifact fails intermittently"
We have a handful of tasks in our Build + Deploy pipeline that fail about 10% of the time. They are causing our overall pipeline to become very unreliable. The Publish Artifact task is fairly solid but we encounter this error a few times each day:

Publish artifact drop
2016-10-28T22:27:39.5644012Z Upload 'C:\booyamiBuild_work\1\a' to file container: '#/140220/drop'
2016-10-28T22:27:39.9378031Z ##

[2016-10-29 00:20] ericsciple commented on #2978
what agent version?

[2016-10-29 00:22] smattt commented on #2978
We had been running 2.07 but I'm upgrading us now to 2.08.

[2016-10-29 00:28] ericsciple commented on #2978
@TingluoHuang thoughts?

fyi you can update from the pool admin UI.

[2016-10-29 00:53] smattt commented on #2978
Thanks, I did try that but it felt like it no-op'ed. After requesting the upgrade, I got no visual feedback. I waited maybe 30 minutes and my build agents were still on 2.07 so then I went ahead and manually upgraded them.

Unfortunately, I see the same issue on 2.08 :(

******************************************************************************
Starting: Publish Artifact: drop
****************

[2016-10-29 01:04] ericsciple commented on #2978
Can you email me (ersciple) the build log (download zip from build summary page) and also grab the worker log from the _diag folder of the agent (email is at microsoft com)?

@TingluoHuang has done a ton of investigation and many improvements for artifact upload resiliency. He's very familiar with the details of that code. I'll chat with him on Monday.

[2016-10-29 10:50] NickDarvey commented on #1019
@rossedman I ended up adding a PowerShell task after to grab the outputs, e.g.:

[code]

[2016-10-30 14:19] yigaldviri opened #2980 "Multiple task inputs"
Hi, I'm trying to create a task that uses an input that may repeat itself several times dynamically. Each time the user enters such an input I will add another field (of the same type) to the task.
So actually i'm talking about the possibility of "n" inputs of some type.
Is there a way to create such inputs (kind of a dynamic array of inputs) in the task.json file?

[2016-10-30 16:39] ericsciple commented on #2980
the only mechanism today is visibility rules. would that enable your scenario? here is an [example](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/MSBuild/task.json#L123)

[2016-10-30 21:05] rhan1161 opened #2981 "Question: Can't create a task group containing Service Fabric deployment tasks"
I have a release definition that contains multiple Service Fabric (SF) deployment tasks.  I would like to group all the SF deployment tasks in one task group so I can create more release definitions for other SF clusters.  SF deployment task, however, requires a cluster connection name which cannot be externalized into a variable.  Is there plan to resolve this issue?  Or is there a different way

[2016-10-30 21:23] rhan1161 opened #2982 "[Feature request] Make $(Build.SourceVersion) to have "All" scope"
I am using $(Build.SourceVersion) as part of my build number so I can easily pick the builds just by looking at the changeset numbers when I'm deploying build.  However,  $(Build.SourceVersion) is only populated when the build is started from CI.  If I start the build manually and not specify the changeset number, the build will automatically build the latest changeset but $(Build.SourceVersion) i

[2016-10-30 21:30] rhan1161 commented on #2929
As an alternative to reduce the deployment time, can we set VSTS to deploy multiple applications to the SF cluster at the same time?  I can manually deploy multiple applications to SF cluster using Powershell so the cluster supports concurrent upgrades. Can VSTS do this?

[2016-10-31 04:11] gregpakes opened #2983 "What is the correct way to debug your scripts in PowerShellOnTargetMachines?"
I have a series of Powershell modules that I am executing with PowerShellOnTargetMachines.

I am trying to see the debug statements within the VSTS build log, but I am having a real hard time getting them to come through.

I understand that **Write-Host** is not recommended for automation, so my question is, what should I use?  I have tried **Write-Debug**, **Write-Verbose** and made sure the pref

[2016-10-31 07:28] yigaldviri commented on #2980
That won't help me because the visibility rule will only apply to a fixed number of inputs and I wont "n" inputs.
Thanks anyway.

[2016-10-31 07:35] Selvaraj1989 commented on #2809
Hi Sathish,

Sorry for late response as I went on sick leave.

I will update you on the latest status on the above issues in couple of days.

Thanks
Selvaraj C

[2016-10-31 10:18] mikanyg opened #2984 "[Feature request] ServiceFabricDeploy control OverwriteBehavior from task"
I would like the option to manual set the OverwriteBehavior of Publish-NewServiceFabricApplication so I can control the scenario where removing existing application and replace with a new application package disregarding versionnumbers.

Basically I want to control the value of -OverwriteBehavior as seen in this line: https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/ServiceFabricDeploy/de

[2016-10-31 11:20] bryanmacfarlane commented on #2980
We have a task type of dictionary (table) on the backlog.  That might help.

[2016-10-31 11:22] bryanmacfarlane commented on #2983
Question likely more appropriate on this repo: https://github.com/Microsoft/vsts-task-lib

[2016-10-31 11:26] bryanmacfarlane commented on #2978
Might be a bug for this repo since upload file is a command in the agent the task calls:  https://github.com/Microsoft/vsts-agent

[2016-10-31 12:09] jmezach opened #2985 "NuGetPublisher tasks fails when nothing to publish"
We've noticed that on VSTS currently when running the NuGetPublisher task it fails when it doesn't find any NuGet packages to publish, whereas with TFS 2015 Update 3 it just ignores it and continues silently.

I'm not sure why this change was made. At the moment some of the teams I've been working with are using "the TFS behaviour" so that they can run both debug and release builds to separate fee

[2016-10-31 13:31] RuslKoval commented on #2965
Is there any news for me?

[2016-10-31 14:18] acesiddhu commented on #2965
@ruslkoval the attachment was removed. Can u zip it again and rename .zip to something else and send it over again.

[2016-10-31 15:08] RuslKoval commented on #2965
@acesiddhu , I'v sent you logs again. Just say if you need something else.

[2016-10-31 15:09] ericsciple commented on #2983
@chshrikh may be able to help redirect to folks who own this task. Owners of this task may have better suggestions.

I dont know the full details of the task implementation, but *I think* this is how powershell remoting works - only the output pipeline and error pipeline come back across the wire. One thing that may work is wrap the contents of your target script inside a script block, and then re

[2016-10-31 15:17] gedeh opened #2986 "Gradle build task use outdated libraries, unable to upgrade directly"
When building Android app with latest SDK, support, and Google services, task gradle:assemble with latest gradle wrapper will fail to upgrade the SDK in hosted build agent.

1. Unable to download due to missing accepted licences of SDK components
2. Unable to update due to agent account restriction (moving downloaded updates into hosted agent SDK is failing)

My workaround to allow me build Androi

[2016-10-31 19:39] smattt commented on #2978
Thank you, Eric. I've sent the build log and the worker log to your MSFT alias email.

Hi Bryan. I'd be happy to create a bug on the agent, if you think that's a better spot for it. I can't really tell, from the logs, where the issue lies:

`
[2016-10-29 01:08:26Z INFO JobServerQueue] Try to append 2 batches web console lines, success rate: 2/2.
[2016-10-29 01:08:27Z INFO JobServerQueue] Try to ap

[2016-10-31 20:02] acesiddhu commented on #2965
The attachments are getting removed. So I will start by running vstest.console.exe on the same test agent machine where you are seeing the error. Do you see the same error?

C:\program files (x86)\microsoft visual studio 14.0\common7\ide\commonextensions\microsoft\testwindow\vstest.console.exe <test dll path>

[2016-10-31 20:02] dudymas commented on #2058
Just a note to others here, if you want to get artifacts into your nodejs tests, you can use the feature branch for https://github.com/bmancini55/node-trx/pull/5 and just update the associated trx exporter to specify the generated files.

No idea when that PR will be approved, but hope this helps while we wait for junit support.

[2016-10-31 20:45] ogoodwin opened #2987 "'Active Directory Password' in SqlAzureDacpacDeployment Task"
Is there currently a way to use 'Active Directory Password' authentication with the SqlAzureDacpacDeployment task for dacpac deployment? I have tried specifying this in the TargetConnectionString parameter but this fails because the task is already using other 'target' parameters like TargetDatabaseName, TargetUser, and TargetPassword which cannot be used at the same time as TargetConnectionString

[2016-10-31 21:08] EricJizbaMSFT commented on #2977
Dupe of #2377

The fix should have been deployed to almost everyone at this point. Check your versioning task to see if a 'Version Behavior' option exists. Re-open if you're still having issues

[2016-10-31 21:08] #2977 closed

[2016-10-31 21:09] mayeager22 commented on #2122
I am getting "System.Exception: Error: Source does not support parameter called 'IIS Web Application Name'. Must be one of ()." when trying to use MSDeploy (through the WinRM - IIS Web App Deployment task) on a zip file that was zipped up from the contents of "dotnet publish".

I do not have a Parameters.xml file, but reading this thread, it seems like I am not supposed to need one.  Can someone c

[2016-10-31 21:47] OguzPastirmaci opened #2988 "Repository names with uppercase letters break Docker tasks"
If the name of the repository has an uppercase letter and the "Image Name" field in the task settings is left default as ($(Build.Repository.Name):$(Build.BuildId), the Docker task fails since Docker fails if the repository name is not all lowercase.

2016-10-31T21:32:10.1156180Z ##[section]Starting: Build an image
2016-10-31T21:32:10.4071990Z 4de0abcf-e253-4b34-b9c7-eb5cdfdd0c7a exists true
2016-

[2016-10-31 22:18] smattt commented on #2978
I saw a new variant pop up today, with a 'security error occurred' WinHttpException.

`******************************************************************************
Async Command End: Upload Artifact
******************************************************************************
Error while copying content to a stream.
System.Net.Http.HttpRequestException: Error while copying content to a stream.

[2016-10-31 23:19] EricJizbaMSFT commented on #2929
The non-"serialized" behavior you saw before was a bug - see #2654. The task _should_ wait so that you get accurate logs if the upgrade passed or failed. This fix just recently rolled out.

That being said, I see your desire for 'parallelized' deployments. The current task is only set up for one application at a time. I assume you have multiple tasks in one release definition (one for each applica

[2016-10-31 23:55] gregpakes commented on #2983
@ericsciple Thanks for your input.  When I do my own PS remoting, I get all the output sent back to the host.  When I use this task, I only get "Write-Output" from the top most page.

[2016-11-01 00:03] rhan1161 commented on #2929
Thank you for the response.  I currently have 18 different applications to be deployed to multiple SF clusters and I put all 18 deployment tasks in one release definition.   I think creating one release definition per application is not practical and error prone, not to mention that I will have to build each application separately which will take longer than building all 18 applications using a si

[2016-11-01 00:31] ericsciple commented on #2978
(continuing on agent repo)

[2016-11-01 00:31] #2978 closed

[2016-11-01 00:34] smattt opened #2990 "[AzureRmWebAppDeployment] Intermittent SSL Failures"
Hello-

We're seeing regular deployment failures related to SSL, but it's not a consistent repro - the deployment task step will fail maybe 10-20% of the time and succeed the rest of the time.

Build Agent: v2.08 (single agent while we resolve these issues)
Build VM is F2 hosted in Azure (West Central US)
Web Apps are primarily located in Central/Eastern US

Thanks!

`2016-10-31T19:54:25.8343413Z

[2016-11-01 00:37] smattt commented on #2990
Other times, it appears that the deployment completed just fine but it errors out while wrapping things up:

`2016-10-31T14:54:03.8557688Z Total changes: 127 (0 added, 0 deleted, 127 updated, 0 parameters changed, 37793618 bytes copied)

2016-10-31T14:54:03.8597680Z Web App successfully deployed at url http://[redacted]alpha-staging.azurewebsites.net

2016-10-31T14:54:03.9822574Z ##[warning]Error:

[2016-11-01 01:01] ericsciple commented on #2983
have you tried setting a variable system.debug to true on the definition. typically in the ps tasks, verbosepreference is set to continue only when that var is set.

[2016-11-01 01:06] gregpakes commented on #2983
Yep - I've set system,debug and I've set VerbosePreference and DebugPreference to Continue.

[2016-11-01 02:44] rossedman commented on #1019
@NickDarvey Thanks a lot! This is great.

[2016-11-01 05:31] MikkelHegn commented on #2929
Please reach out at mikhegn@microsoft.com to discuss the above scenario. I would like to know more in details of your setup. Thanks.

[2016-11-01 06:11] zjrunner commented on #2985
I dug into this a bit -- looks like this happened back in july (commit e0c721b06a47ccd6153e953dabf47bd8cfedbbc4) when the task was moved from powershell to node (and updated in preparation for newer nuget.exe releases).  At this point the release is locked, and since we haven't heard of the concern since the time it went into the cloud release it won't be possible to pull back for a change.

Could

[2016-11-01 06:12] zjrunner commented on #2917
Sorry, can't give any more assistance without more details on the log and/or answers to bryan's questions.  Need to close this one out.

[2016-11-01 06:12] #2917 closed

[2016-11-01 06:13] zjrunner commented on #2835
Removing packaging again, not a packaging question really (about agent manipulation)

[2016-11-01 06:18] zjrunner commented on #1902
Late response, but I agree that the 'arguments' field is somewhat arbitrary.  a Commandline seems sufficient and if the tool has a concept of a Command as the first argument, then parse it out.  We actually have little control over save-time validation extensions today so that is tough, and we try not to make breaking changes in task releases, but this one slipped through (and I think it came in b

[2016-11-01 06:18] #1902 closed

[2016-11-01 07:36] acesiddhu commented on #2964
I think there is a problem in downloading the test agent from internet on build machine. Because of which we try to log the problem and that fails (writing error message is a bug). But the root cause is downloading the test agent fails. is this you own build agent or hosted build agent?

[2016-11-01 07:37] acesiddhu commented on #2964
Also if you can run the scenario with system.debug = true and share the logs it might help.

[2016-11-01 08:00] jmezach commented on #2985
I'm not sure if this will help us much. Perhaps we could merge both NuGet Publisher tasks into one and have them match both debug and release packages, but then how would we make sure that those packages are pushed to the right feeds? From what I understand I can only configure one target feed to publish packages to with the NuGetPublisher task.

[2016-11-01 08:01] RuslKoval commented on #2965
I sent you a link, where you can download all information you need

[2016-11-01 08:04] RuslKoval commented on #2965
@acesiddhu, I didn't understand your last comment

[2016-11-01 08:35] nigurr commented on #2856
Closing this issue as we are not able to repro.
Please feel free to reopen if you are still facing issue

[2016-11-01 08:35] #2856 closed

[2016-11-01 08:38] gedeh commented on #2986
More information:
Gradle version: 2.14.1

Error message on issue #1:
You have not accepted license agreement of the following SDK components:
[Google Repository, Android Support Repository, SDK Patch Applier v1]
Workaround:
Commit accepted licences locally to repository then using Copy files tasks to $(AndroidSDK)/licenses directory

Error message on issue #2:
Warning: an error occurred during ins

[2016-11-01 08:39] nigurr commented on #2975
@Arapahoe Can you please move the test libs to another folder and use that folder?
If there is any file/folder which contains more than 260 chars [Full path], you will encounter this issue.

[2016-11-01 10:18] ghowlett2020 opened #2991 ""PowerShell on Target Machines" error when scipt contains Set-StrictMode"
Hi,

I have a PowerShell script.... a simple example...

`Set-StrictMode -Version Latest

Write-Verbose "test" -Verbose`

Using the Release Management Task - "PowerShell on Target Machines".

When runs it errors with...

2016-11-01T10:10:54.0480931Z System.AggregateException: Failed to apply configuration in the DSC script to the computer. Consult the Logs below for details of the error.

8
2016-1

[2016-11-01 13:10] nigurr commented on #2976
https://github.com/Microsoft/vsts-tasks/pull/2994 will be fixed in this

[2016-11-01 15:11] RuslKoval commented on #2965
It seems I found a reason of failing of my test. As You can see on the 1st screenshot, test agent tries to run .dll from shared path and then fails. I placed .dll to the test machine by path d:\folder and wrote this path as "Test Drop Location" and now it works! As workaround, I'll add additional step to my build definition to copy tests .dll-files from build drop location to the test machine. But

[2016-11-01 15:22] acesiddhu commented on #2965
It is not a test agent limitation. This is how .net works. Even if you try to load the dll from network share in a console app this will happen. I guess there is some policy or OS restriction. See this blog http://www.clearmindsoftware.com/post/Resolution-Error-Could-not-load-file-or-assembly-file5c5cserver5cpath5cfiledll-or-one-of-its-dependencies-(0x80131515)

I will close the issue. Thanks

[2016-11-01 15:22] #2965 closed

[2016-11-01 16:16] andrasg opened #2995 "ExtractFiles mixes up outputs when extracting multiple ZIP files"
When extracting multiple ZIP files which don't have folders in them, their outputs are mixed into each other. Would be nice to have an option (variable) that could be used to separate outputs coming from ZIP files.

[2016-11-01 16:20] DavidStaheli commented on #2995
Good suggestion, @andrasg.  We'll track this here as an enhancement.

[2016-11-01 19:05] jrexdepew opened #2999 "Windows machine file copy task missing powershell dependencies"
When following the guide located [here](https://www.visualstudio.com/en-us/docs/release/examples/other-servers/net-to-workgroup-vm) we are encountering an error when the windows machine file copy task is run.

visual studio account: https://nucor.visualstudio.com

[code]

[2016-11-01 21:31] colindembovsky opened #3002 "DacPac Deploy Task does not log stderr to Build/Release Log"
When using the DacPac Deploy Task, I can see what looks like stdout in the build/release log. However, if the dacpac deployment fails, the stderr output does not appear in the build/release log. I do see:

[code]

However, running the same command in a console gives the actual error (like incorrect SQL version or whatever). It would be great if the stderr was put onto the build/release logs so tha

[2016-11-01 21:45] InquisitorJax commented on #439
Any further feedback on this? Having android CI broken = :(

[2016-11-01 23:54] zjrunner commented on #2985
ah, I missed that you needed them going to different feeds and weren't using versioning as a differentiator.  We can talk internally about a flag to enable what you are after for VSTS, but due to timing it isn't going to make the TFS delivery in-box.  Your options there will be to push a newer version of the task to your collections that has the fix (post-update), or to mimic the task logic in a c

[2016-11-02 01:16] jtbatzer commented on #2922
Hi, Any update?  Thanks!

[2016-11-02 06:23] Ajay-MS commented on #2122
@mayeager22

Can you confirm if your webapp package that being generated using dotnet publish contains a parameters.xml file or not ?

If a parameters file is present task tried to override name of parameter to deploy webapp package at correct website.
[Override parameter WebApp Name](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/Common/webdeployment-common/msdeployutility.ts#L57)

So

[2016-11-02 07:24] don18 opened #3007 "Password with $ sign not handled correctly in PS"
Hi,

We have passwords that include a $ sign.
The password is added as variable in a builddefinition.
When the password is passed to the PowerShell script it is edited after the $ sign.

Example:
Gn$12c1a1Cv ==> Gn
Gn$12c#1@a1Cv  ==> Gn#1@a1Cv

This site gives an example of how we use the password in combination with PS task. https://shiningdragonsoftware.net/2015/06/16/tfs-build-vnext-scripts-and

[2016-11-02 07:30] Mittchel commented on #2985
@zjrunner do you have an estimation of when this will be available in VSTS? @jmezach told me that in Q4 conditional build tasks are planned to be released, which probably makes this 'fix' obsolete.

[2016-11-02 09:05] KrishnaAdityaB commented on #2999
@jrexdepew
I am not able to reproduce this issue with agent versioned 2.108.0
What is your agent version? If it is older - can you upgrade it?

How to get Agent Version:
You can see it in the release logs.
[code]

[2016-11-02 09:12] Gimpan commented on #2964
@acesiddhu ,Ok I'll need a few days to do it with debug on. It is my own build agent.
Can I send the logs somewhere?

[2016-11-02 09:29] acesiddhu commented on #2964
devops_tools AT microsoft.com

[2016-11-02 09:53] #2748 closed

[2016-11-02 09:54] KrishnaAdityaB commented on #2806
@jfoshee we got it fixed. please re-open this if you still face the issue.

[2016-11-02 09:54] #2806 closed

[2016-11-02 10:00] #2832 closed

[2016-11-02 10:05] #2879 closed

[2016-11-02 10:20] alexszilagyi opened #3011 "sh macosx - cannot execute binary file"
I have a build definition in Visual Studio Online which is integrated with [MacInCloud](https://www.macincloud.com/), I'm encountering an issue regarding to **`010_add_platform_class.js`** file permissions.

According to [Microsoft's article](https://www.visualstudio.com/en-us/docs/build/apps/mobile/cordova-command#the-ionic-command-task) I should run this command: **`chmod +x hooks/after_prepare/

[2016-11-02 10:27] #2873 closed

[2016-11-02 10:44] KrishnaAdityaB commented on #2988
@chrisrpatterson  @OguzPastirmaci moved this to the appropriate repo https://github.com/Microsoft/VSTS-Docker-Preview/issues/10

[2016-11-02 11:04] Ajay-MS commented on #2990
@smattt

Can you share complete debug logs at ajya@microsoft.com . [ Debug logs you can enable by adding system.debug variable with its value to be true]

[2016-11-02 11:45] yigaldviri opened #3012 "Build tasks using SSL certificates"
Hi,
I'm not sure if this is the right place to ask but I couldn't find anywhere else.
I wrote a build task that executes Http calls (over NodeJs). I want to support Https as well but I need a certificate for that. I found that in the Docker extension they were able to get the certificate through the service end-point like this:

<img width="450" alt="validate-endpoint" src="https://cloud.githubuse

[2016-11-02 13:19] jrexdepew commented on #2999
vsts agent x64 2.108.0 - Windows Server 2012 R2 Standard.

When following the guide that I posted, I downloaded the agent from VSTS on the agent settings screen.

The windows machine file copy task is version 1.0.36.  Is there any other information that might be useful?

[2016-11-02 14:00] KrishnaAdityaB commented on #2991
@ghowlett2020
I am able to reproduce this issue with v2.108. But not with v2.109 (https://github.com/Microsoft/vsts-agent/releases/tag/v2.109.0).

@ericsciple Can this issue be considered fixed with v2.109 and above?
I am not able to find anything directly related to it in commit descriptions (https://github.com/Microsoft/vsts-agent/commits/v2.109.0). So, I am not sure if this fix is conscious.

[2016-11-02 14:00] Ajay-MS commented on #2987
@ogoodwin

Yes, you are right currently target method is set to 'Server' only for "SQL Azure Dacpac Deployment" task. Target method "connection string" is not being supported yet. I am marking it as enhancement and after a discussion with PM will take it as a feature.

[2016-11-02 14:14] KrishnaAdityaB commented on #3012
@yigaldviri you can download the Docker Extension as VSIX from https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.docker.
Rename the .vsix to .zip and extract the extension.vsomanifest file from it.
You can see how the endpoint was defined to take certificates.

[2016-11-02 14:18] mayeager22 commented on #2122
I have tried a number of combinations:

1) Adding a Parameters.xml file in the *zip file, but the task could not find it, so I tried:

2) Putting the Parameters.xml file separately on the target server, it found it, but then I got this error:
**System.Exception: Error: The parameter 'IIS Web Application Name' has already been defined.**, so I tried

3) Removing the Parameters.xml file from the zip

[2016-11-02 14:18] yigaldviri commented on #3012
@KrishnaAdityaB thanks!

[2016-11-02 14:23] KrishnaAdityaB commented on #3012
@GitHubSriramB for general documentation of all the available options and writing vss-extension.json file.

[2016-11-02 14:50] yacaovsnc commented on #439
Are you still facing issues?

The hosted image should have been update with Android v7 (v24), can you post your build failure in a new issue?   Was your build working before and now it stopped working?  Are you using latest Google support and extra libraries?  Those libraries update quite fast and you may experience some delay in getting the last library on to the hosted image due to scheduling an

[2016-11-02 14:51] GitHubSriramB commented on #3012
This blog has info on how to customize endpoints:
https://blogs.msdn.microsoft.com/sriramb/2016/09/15/service-endpoints-customization/

[2016-11-02 14:54] ericsciple commented on #3007
it's a feature of the powershell task. the arguments are passed to your powershell script *from* powershell, which enables using powershell features (e.g. array syntax, etc). it sounds like you need to add single quotes around the input, e.g. '$(myvar)'.

[2016-11-02 14:56] ericsciple commented on #3007
closing. please reopen if i've missed something.

[2016-11-02 14:56] #3007 closed

[2016-11-02 15:03] ericsciple commented on #2991
since this task uses the old ps handler, it sounds likely that was fixed by the commit that pulled in the client OM update (includes legacy ps host and modules)

[2016-11-02 15:19] InquisitorJax commented on #439
Last successful Android CI build was on 22 Sep - after which something changed that broke it.
using xamarin forms android - so cannot use the latest android support libraries because xamarin forms does not support them yet.

Here's the current error:
C:\Program Files (x86)\MSBuild\Xamarin\Android\Xamarin.Android.Common.targets(1616,5): Error MSB4018: The "LinkAssemblies" task failed unexpectedly.

[2016-11-02 18:22] enJaumec commented on #439
Same issue. Any update on this topic?

[2016-11-02 20:36] bryanmacfarlane commented on #3011
Have you tried command line task:
Tool: chmod
Arguments: +ux ...

[2016-11-02 21:33] ericsciple commented on #2950
@hiyadav fixed in task-lib 1.0.0

[2016-11-03 01:26] zjrunner commented on #2985
the VSTS flag?  not yet (ETA).  Are there folks in here that would use it in VSTS (not just TFS)?  Given how long it has been out there in VSTS already I don't want to push a fix and more options if it isn't going to be used, especially when I think the spirit behind the state is valuable.  Actually, about conditional build tasks -- don't they already have ControlOptions to ContinueOnFailure (I im

[2016-11-03 01:33] Kujawadl commented on #1867
Can we get an update on this? I can't find any other documentation on these commands.

I can't get anything using task.logdetail working...

[2016-11-03 02:04] zjrunner commented on #553
We're just getting into the npm build-task space on my team so we have a bit of ramping up to do on costs and complications to optimize away some of the common pain points.  One point I'd make about a comment earlier in this thread -- there was a question about custom agents and losing clean builds.  From what I've seen your npm cache is maintained in the user profile so you can still do your clea

[2016-11-03 05:24] Ajay-MS commented on #2923
@markphillips100

Thanks for reporting issue. I have created PR corresponding to solution to this issue and will be fixed soon.
[Window Shared Path Fix](https://github.com/Microsoft/vsts-tasks/pull/3014)

[2016-11-03 06:33] #3012 closed

[2016-11-03 06:33] #2991 closed

[2016-11-03 06:35] KrishnaAdityaB commented on #2691
Thanks @goreish
As this is not a functionality bug or automation blocker - we will take it up with the next functionality update to the task

[2016-11-03 06:56] Mittchel commented on #2985
@zjrunner we actually have a few customers on VSTS, yes. But most of them are on TFS though.

And you are correct; ContinueOnError is available on task level, but also on level of multi-configuration. The latest one still keeps everything failing, but if we enable ContinueOnError on the build task the build will get yellow/orange which we indeed would like to avoid.

https://www.visualstudio.com/e

[2016-11-03 09:27] alexszilagyi commented on #3011
@bryanmacfarlane : thanks, that solved.

[2016-11-03 09:27] #3011 closed

[2016-11-03 10:14] jmezach commented on #2985
@zjrunner Although we can work around it by setting the ContinueOnError flag that isn't really a long term solution because if pushing a package to a feed fails it will also be ignored.

@ptoonen What is your take on this?

[2016-11-03 10:17] don18 commented on #3007
Thanks! It works with the single quotes around the input.

[2016-11-03 10:40] yigaldviri commented on #3012
@GitHubSriramB, that blog doesn't talk about certificates. And by the way you should restyle that post since it isn't so readable. Especially the Jsons parts which needs indentation.

[2016-11-03 11:23] #2691 closed

[2016-11-03 12:46] sandorfr opened #3021 "Xamarin task fails to restore netstandard nuget dependencies"
While the project builds and run on the same machine (with xamarin studio), the xamarin task seems to fail when a netstandard nuget package is referenced. Sample log:

[code]

I found [this stackoverflow thread](http://stackoverflow.com/questions/38370304/netstandard-library-not-getting-dependencies-on-vsts-build-agent) but the cause seems to be different.

Edit:
I feel like this might be more of

[2016-11-03 12:49] Ajay-MS commented on #2122
@mayeager22

Can you share your parameters.xml file.Have you manually added paramters.xml file to zip?

Since task is overriding parameter "IIS Web Application Name" , it should be declared first. So parameters.xml file that you are adding to *zip file should declare parameter.

**Sample**

[code]

Don't use param file with setParameter tag as parameter is not yet declared as follow

<parameters>

[2016-11-03 13:08] sandorfr commented on #3021
It looks like it's also failing to build netstandard portable libraries :
[code]

[2016-11-03 13:29] SatishThareja commented on #2922
Issue was due to default configuration missing for the projects and was resolved after a default config was added to the affected projects.

[2016-11-03 13:29] #2922 closed

[2016-11-03 13:43] PriyaGopi commented on #1923
@atinb or Any one else who implemented the orderedtest in TFS successfully.
Can you please share the Test Assembly syntax alone, plz ? It's an emergency for me.

[2016-11-03 14:17] sailajacharan commented on #1923
@PriyaGopi - Test Assembly syntax: CodedUI Build Artifacts\Project1.orderedtest;CodedUI Build Artifacts\Project2.orderedtest

let me know if u still cant figure it out.

[2016-11-03 14:26] mayeager22 commented on #2122
I have tried 2 different contents for Parameters.xml from the comments above

1) <parameters> <parameter name="IIS Web Application Name" defaultValue="..." tags="IisApp"> </parameter> </parameters>

2) <parameters> <parameter name="IIS Web Application Name" defaultValue="SupportServices" tags="IisApp"> </parameter> </parameters>

And both have given the same **System.Exception: Error Code: ERROR_S

[2016-11-03 14:39] Ajay-MS commented on #2122
@mayeager22

Either put content at root folder or use following property in parameters.xml.
<parameterEntry kind="ProviderPath" scope="IisApp" match="^inetpub\\SupportServices$" />

[2016-11-03 14:43] mayeager22 commented on #2122
When you say content at root folder, do you mean the contents of the publish directory?  That is how I have it.  If I unzip SupportService.zip, I get the following under it:

refs
runtimes
Views
wwwroot
*dll
web.config

The property you wanted me to try did not come through in your comment.

[2016-11-03 15:00] Ajay-MS commented on #2122
@mayeager22

Yes content of publish directory. Can you share your email Id so that I can send you invite for call and will look into the issue.

[2016-11-03 15:06] mayeager22 commented on #2122
@Ajay-MS

Yes, please contact me at MaryAnnYeager@Phidiax.com.

[2016-11-03 15:32] justinpatten opened #3023 "Allow steps in definition to be disabled for pull request builds"
We have continuous integration defined to run in our dev branch. The build definition for that branch includes a step to publish to Azure. We do not want to have the PR build also get published to Azure. For now, I have cloned the definition and removed the publish step. Ideally, we want to be able to disable certain steps in the PR builds.

[2016-11-03 16:03] tomkerkhove opened #3024 "Inconclusive tests should be marked as failed in VS-Test Task"
When working with dynamic test data from a 3rd party it can sometime be invalid for your test scenario - This is a good scenario where the test itself can be considered inconclusive because the state is not suitable.

However, when you have inconclusive tests with VS-Test Task it marks it as `Failed` while there should be a different status like `Inconclusive` or `Did not Run` so that we know whic

[2016-11-03 16:12] PriyaGopi commented on #1923
Hi sailajacharan,
My test assemble is : Test Assembly                   **\*SolutionName*.dll
And my orderedtest name is : Sample.orderedtest

I updated the Test Assemble like this : **\*SolutionName*.dll\Sample.orderedtest
And set the "TestFilterCriteria" to empty
But it failed, giving the error :

**Error : Invalid source specification '**\*SolutionName*.dll\Sample.orderedtest'. Provide correct

[2016-11-03 16:48] goofy78270 opened #3025 "PowerShell on Target Machine: Special Characters in password"
I am running into an issue where my admin password contain special characters.  As a result, when executing the script, the authentication fails.

password - %D0`H\\vW'RUc?buZ5

While I could, and probably will, in the short term, update the password to remove special characters, I wanted to bring this issue to your attention.  With password policies becoming more robust, it is only a matter of ti

[2016-11-03 16:59] bryanmacfarlane commented on #3025
Which task are you using?

[2016-11-03 18:33] marag opened #3026 "NotImplementedException for Cmdlet output"
Hi,

I have powershell script which calls cmdlet (C# module) and it executes by my Build Task.  I would like to add logging to cmdlet execution. Never do this before so at first I've merely tried all possible options in  BeginProcessing() method :

[code]

The Task failed  with this exception:

I've commented _WriteDebug("debug info");_  line and try to execute again :

I've commented WriteWarning

[2016-11-03 18:34] yacaovsnc commented on #439
Does compile using Android 6 works?  Android v7 recently introduced to hosted image, maybe that change broke your build?

[2016-11-03 21:12] InquisitorJax commented on #439
I can confirm - build is green if compile target is Android 6.
Would prefer not to have to change that just to get my CI to work though :|

[2016-11-04 00:13] rrfenton opened #3027 "Code Coverage view not rendering linked css / js files in artifact"
I'm creating a javascript test coverage report using the karma-coverage plugin.  It generates an HTML coverage report based on the Istanbul and a Cobertura report file.

I'm using the output directory for the html report as the report directory in the "Publish Code Coverage Results" task.

My build artifact then contains the full contents of the html folder, as well as the Cobertura report.

Build

[2016-11-04 02:45] sandorfr commented on #3021
So after loosing one day on this and trying a lot of setups.

It seems that modern pcl/ netstandard support is very limited on macosx while it works fine on windows. This is due to several things like reference assemblies [not being shipped on MacOS](https://forums.xamarin.com/discussion/6334/problem-with-pcl-support-after-update). Xamarin Studio appears to do a lot to make it work which the vsts

[2016-11-04 04:52] SatishThareja commented on #1486
@lediur @chekkan The hosted agent image has been updated recently. Can you try executing the task and let us know if the issue still exists?

[2016-11-04 06:31] KrishnaAdityaB commented on #3025
@goofy78270
Fixing this is already in our backlog and we are picking it up in the coming weeks.

[2016-11-04 06:40] zjrunner commented on #2985
@bryanmacfarlane - is this what 'conditional tasks' was implying (run or skip on a condition, still let the build go green), and are those still a Q4 planned feature?

[2016-11-04 08:27] zjrunner commented on #3021
@sandorfr - so you are suggesting a nuget restore becomes a default action in the xamarin build template?  Also, do you have more information on what you were trying to do with nuget restore and how it failed (you were attempting to use the built-in 3.3 or 3.5 nuget.exe and they failed to run?)

[2016-11-04 08:58] nickeyyan opened #3029 "Run VSTS Functional Test without Test Owner and Priority"
Hi Guys,

We used VSTS Functional Test, the test result can be pushed to VSTS. But the test owner and priority are not pushed.
![image](https://cloud.githubusercontent.com/assets/6478519/19999899/d57cdc1e-a2af-11e6-931a-7684f2905e8c.png)

[2016-11-04 09:40] ffnoname commented on #3029
+1. I was just about to file the same issue.

[2016-11-04 10:53] KrishnaAdityaB commented on #2923
#3014

[2016-11-04 11:05] bryanmacfarlane commented on #3025
What task?

[2016-11-04 11:54] bryanmacfarlane commented on #3026
This looks like a powershell programming issue (not a CI task issue which is what this repo is for).  Does the powershell script in question work on your machine?

[2016-11-04 12:13] marag commented on #3026
Thanks, that is one of part of my concern. The issue reproduce only  for cmdlet in Build Task. If I run the same script and cmdlet  directly in Powershell, than all messages normally showes.

[2016-11-04 12:32] bryanmacfarlane commented on #2980
Closing since we don't track backlog here.

[2016-11-04 12:32] #2980 closed

[2016-11-04 12:49] PriyaGopi commented on #1923
Hi guys! Any update on my issue.

[2016-11-04 13:11] SatishThareja commented on #2809
@Selvaraj1989 Any update from your side?

[2016-11-04 14:09] ericsciple commented on #3026
prior to calling writewarning, can you log the warning preference variable? it looks like it may be set to inquire and should be either continue or silentlycontinue.

side note, it looks like you are using the PowerShell task execution handler, i would recommend the [Node handler or PowerShell3 handler](https://github.com/Microsoft/vsts-task-lib)

[2016-11-04 14:25] PriyaGopi commented on #1923
Hi,

I even tried to prefix the testccase No. with 1_TCNo.   2_TCNo.   3_TCNo.  4_TCNo.  5_TCNo.
but  still no use, it is running on its own order, but similar order all the time as below :
5, 1, 2, 3, 4
since the 5th Test case's data is dependent from Testcase 4, Testcase 5 will always fail saying 'Data not found in the ComboBox'.

Someone kindly help me to order the execution/flow of the testcas

[2016-11-04 15:10] JulioECastro opened #3031 "SSH task and SSH Service Endpoint"
I've installed SSH task on my TFS 2015 update 3 on-premises.
But I realized no SSH service endpoint option appear. Its possible to install this endpoint type on premises?
![serviceendpoints](https://cloud.githubusercontent.com/assets/5825419/20010630/998d50da-a287-11e6-8743-9dbdd206734d.png)

[2016-11-04 15:35] KrishnaAdityaB commented on #2983
@gregpakes
What are the versions of agent and PowerShell on Target Machines task you have?

I am able to get the logs when I tried with agent version 2.109.1,  task version 1.0.43. Below are the sripts

**verboseModule.psm1**
[code]

**script.ps1**
[code]

**output**
[code]

[2016-11-04 15:51] Abhishek-Heggere commented on #1923
I have the ordered test working and my setting look like this -
Test Drop Location = D:\Builds\MyBuild\Tests
Test Selection = Test Assembly
Test Assembly = **\my.vnext.orderedtest
Test Filter Criteria = <Empty>

1. Just giving the orderedtest file name should be ok :
   "**\Sample.orderedtest"  instead of  "*\SolutionName*.dll\Sample.orderedtest"
2. Test the pattern on vstest.console.exe, if it wo

[2016-11-04 16:24] marag commented on #3026
Thanks! You right about preferences, it help me to find the cause.  It was  '-Debug'  parameter,  which force  operations asks to continue confirmation as for  'Inquire' mode.  Either way, as I understand  for now TFS doesn't support 'Inquire' mode,  does it plan to be supported in future?

[2016-11-04 17:34] ericsciple commented on #3026
no. it's a non-interactive process. paste this into a cmd.exe command prompt: `powershell.exe -noninteractive -command "$warningpreference = 'inquire' ; write-warning 'hello world'`

[2016-11-04 17:34] #3026 closed

[2016-11-04 18:30] smattt commented on #2990
Hi @Ajay-MS,

I just e-mailed over a sample log showing a web deploy failure, please let me know if there is anything else that would be helpful.

Thanks!
Matt

[2016-11-04 20:31] smattt commented on #2990
For those Googling:

[code]

[2016-11-05 14:37] KrishnaAdityaB commented on #2999
@jrexdepew
Can you send me the debug logs?
Set a Release variable with name "System.Debug" and value "true". Queue the release. Please share me the logs of the task and corresponding logs from agent's _diag folder too.

You can mail the logs to me at RM_Customer_Queries at microsoft.com.

[2016-11-05 19:52] gregpakes commented on #2983
@KrishnaAdityaB

I am using TFS "15" RC2.

The agent is 2.105.6.  I 'm afraid I don't know how to check the inbuilt task versions.

[2016-11-05 23:07] sandorfr commented on #3021
I finally found the root cause of the error, trying to reproduce the same commands as vsts on the local agent. It seems that nuget v3 protocol isn't supported. So I had to make sure my `~/.config/NuGet/NuGet.Config` contained nuget only v2 feed urls.

I can't figure out why xamarinstudio and command line behaves differently but at least I'm out of the woods

[2016-11-07 04:37] nigurr commented on #2976
This is handled already https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/VsTest/vstest.ts#L67

[2016-11-07 04:37] #2976 closed

[2016-11-07 04:37] nigurr commented on #2975
If you are still facing this issue, please feel free to re-open

[2016-11-07 04:37] #2975 closed

[2016-11-07 04:50] SatishThareja commented on #2809
Closing this issue for now. Will reopen if required.

[2016-11-07 04:50] #2809 closed

[2016-11-07 04:52] atinb commented on #1923
@PriyaGopi Did the suggestion above help or are you still facing issues?

[2016-11-07 07:11] dragongame opened #3036 "Cobertura coverage: No coverage data found"
Hello,

I'm generating a code coverage [Code Coverage Files_100.zip](https://github.com/Microsoft/vsts-tasks/files/574636/Code.Coverage.Files_100.zip)
file under **linux** using **gcovr**. However, when during the **Publish Code Coverage Results** step, the processing of the file fails, sadly without any further information why.
The file is visible on the server, but the results are not displayed

[2016-11-07 11:00] nigurr commented on #3036
Have checked the file and [noticed the issue](https://github.com/Microsoft/vsts-agent/blob/master/src/Agent.Worker/CodeCoverage/CoberturaSummaryReader.cs#L16).

We are looking `Lines` while the generated XML has `lines` and for the same reason it's failing.
Will be fixed in next agent release and simple way to fix is to change report to `Lines`

[2016-11-07 11:51] shruda opened #3037 "Gradle multi-project detection doesn't work if script needs a property"
The multi-project detection doesn't work if the gradle script needs a porperty e.g. the password of a repository.

**Problem in case of the gradle.ps1 - TFS 2015 Update 3**
Line 104 doesn't use the $options property, therefore execution of "gradlew properties" throws an exception and the build fails with:

2016-11-07T10:58:57.7644413Z ##[debug]Running batch script.

2016-11-07T10:58:57.7800682Z ##

[2016-11-07 14:25] PriyaGopi commented on #1923
Hi, Abhishek/atinb

I treid the solution, but I got the below error.

DistributedTests: Error : Test run directory 'C:\Deploy' does not contain any assemblies that match the specified criteria: '**\Sample.orderedtest'. Verify that the test run directory contains the target assemblies and the source filter is correct.
DistributedTests: Test run aborted. Test run id: 12345
The test run was aborted,

[2016-11-07 15:28] mmikkelson opened #3038 "IIS Web App Management - no certificate selected"
When attempting to add an https binding specifying a certificate thumbprint, the binding is added, but no certificate is selected in IIS. The certificate is installed and I can manually select the certificate by opening the binding and choosing from the drop-down in IIS mgmt., but this task should be correctly assigning the certificate.

[2016-11-07 15:41] Abhishek-Heggere commented on #1923
I have seen this issue before, couple of things to check -
1. Open the orderedtest in notepad and verify the 'storage' property points to the right location of the unit test assembly.
2. Before you run the test through the build definition make sure that the orderedtest can be executed via the vstest.console.exe on the target machine.

[2016-11-07 18:51] #3038 closed

[2016-11-07 18:52] mmikkelson commented on #3038
opening with the extension instead, was opened here in error

[2016-11-07 19:00] schmidtaa opened #3042 "ManualIntervention task cancels entire release"
When running a manual intervention task on the server agent in TFS vNext (Online), the entire release is marked as Rejected instead of being placed into In-progress state waiting for a manual task completion. No banner with link to go to the next step is shown for that rejected Release.

Of note, similar activity in Octopus correctly pauses the release until assignee clicks Continue or Abort of th

[2016-11-07 22:53] mclark1129 opened #3044 "AzureRmWebAppDeployment: Cannot Deploy to Virtual Directory With Standard ZIP File"
This is a follow up to my previous issue #2399.  I've been attempting to build and deploy a website to a virtual directory defined in Azure.  The package I am trying to deploy is simply a ZIP file I create of the root of the web application that I would like to deploy to a virtual directory.

The issue I experience is that when I create a zip file where the application is the root of the package,

[2016-11-08 02:06] #3044 closed

[2016-11-08 02:19] mclark1129 opened #3046 "Cannot use AppOffline rule on first deploy with virtual directory"
I believe this issue is similar to the one reported in Microsoft/vsts-rm-extensions#55.  When I try to deploy an application to a virtual directory for the first time, and I want to use the AppOffline rule, the task fails with the following error message:

If I run the task first without this rule, or manually create the virtual directory on the app service, the task succeeds.  I think that the ta

[2016-11-08 06:58] nigurr commented on #3036
@dragongame sorry for confusion. I overlooked a bit.
We support only http://cobertura.sourceforge.net/xml/coverage-04.dtd schema
Please upgrade the coverage reporting format to latest (04) one and it will work.

[2016-11-08 09:18] Gimpan commented on #2964
I sent the logs!

[2016-11-08 09:55] PriyaGopi commented on #1923
1. 'storage' property correctly points to the build dll's only.
2. Orderedtest executed via vstest.console.exe successfully, see attached screenshot.

![vs test console](https://cloud.githubusercontent.com/assets/23239207/20093350/5d3857d6-a5c2-11e6-9d36-e9269fcb0195.png)

[2016-11-08 11:55] dragongame commented on #3036
@nigurr thank you for your further looking into this.
Looks like for now we won't be able to have code coverage for c++ files from linux, as the tool we are using seems not maintained ([gcovr](https://github.com/gcovr/gcovr)).
I'll see if I can find a newer one.
Thank you again for you time.

[2016-11-08 11:57] #3036 closed

[2016-11-08 11:58] nigurr commented on #2964
@Gimpan Can you try with the latest Agent and see if it's still happening. In the mean time, we will investigate with your logs. thanks for help

[2016-11-08 12:50] Gimpan commented on #2964
I just received a reply:

Your message couldn't be delivered to multiple recipients.
The groups only accept messages from people in their organization or on their allowed senders list, and your email address isn't on the lists.

I tried to send to: devops_tools AT microsoft.com, @ ofc.

[2016-11-08 12:54] RuslKoval opened #3049 "TFS2015 upd3 build definition doesn't copy to shared folder"
Hi,
I have a problem with deploying build to shared folder on my test machine (virtual machine with Windows7).
I just need to copy files from one shared folder (build drop folder) to another shared folder (on my test VM ware) in my build step, but I get error like this:
![image](https://cloud.githubusercontent.com/assets/23101758/20098624/697c7324-a5bd-11e6-8e53-3a146d9acc57.png)
I can execute xco

[2016-11-08 16:23] bojingo opened #3051 "Intermittent 404 error on "Azure SQL Database Deployment" task"
Since 11/4/2016, my team has been frequently getting errors like the following:

[code]

These are intermittent, but very frequent (probably about 50% of the time). We sometimes have to re-run the same release several times to get lucky and have one that succeeds. We use Continuous Deployment for our system in our shared Development environment, which includes deploying any database updates with e

[2016-11-08 16:31] RuslKoval commented on #3049
![image](https://cloud.githubusercontent.com/assets/23101758/20107554/9295a950-a5e1-11e6-8fd7-5a0fdaaf1275.png)

[2016-11-08 17:08] ericsciple commented on #3049
the error message is bad and has been improved a more recent version. the process doesn't have access to the share.

[2016-11-08 17:10] ericsciple commented on #3049
you need to either run the agent interactively from a command prompt while logged in as a user that has access to the share, or run it as a service and the service account should have network access to the share.

[2016-11-08 17:10] #3049 closed

[2016-11-08 17:40] schmidtaa opened #3052 "vNext release definition does not allow to use DayOfYear in the Release name format"
The following format does work in Build definition as Build name format, but doesn't work in Release name format:

Release_$(MajorVersion).$(MinorVersion).$(Year:yy)$(DayOfYear)$(rev:.rr)

[2016-11-08 18:51] sailajacharan commented on #1483
@nigurr I am having similar issue, cld you plz share the solution. Thank you.
[DTAExecutionHostExeLog.txt](https://github.com/Microsoft/vsts-tasks/files/579092/DTAExecutionHostExeLog.txt)
![tfsversion](https://cloud.githubusercontent.com/assets/20461864/20112471/1c9a70de-a5b2-11e6-80ad-2b03dc666381.png)

[2016-11-08 20:22] sailajacharan commented on #2721
@acesiddhu i am having same issue. I have CodedUI tests running on 1 test agent. All tests were running good so far, but from last 3 days, theres some tests failing on build. Looks like these tests are not even being run. Build/Tests, the status of test is Other and theres no test results.

Below is DTA execution host log file, TFS version
![tfsversion](https://cloud.githubusercontent.com/assets/2

[2016-11-08 21:06] Erezinho opened #3053 "TestAgent/DistributedTests/DTAExecutionHost - "TestExecutionCommand received with None" - until timeout"
Working with TFS vNext for more than 2 months with 2 build definitions - suddenly the Test agent ("Run Functional Tests) is stuck on "DistributedTests: Test run '123456' is in 'InProgress' state." up until time out. No test is executed.
This happens on two test machines (Win7/Win10). There is one build machine with 3 Agent which master the two test machines.
Restarting the machines did not help. R

[2016-11-09 05:30] acesiddhu commented on #2721
@sailajacharan this seems to be other issue. Can we track this as a separate issue on GitHub? Also if you can give more details on error etc that will help

[2016-11-09 05:51] Ajay-MS commented on #2923
@markphillips100

PR corresponding to issue has been merged in master. Will be available with next deployment.

[2016-11-09 05:51] #2923 closed

[2016-11-09 09:00] acesiddhu commented on #2964
We got the logs. Checking them now

[2016-11-09 11:34] Red1Bouarour opened #3055 "vstest error 225"
Hi,
I try to Build the solution and execute my test project with vsTest, but i have this errors:

##[error]Unhandled Exception: System.Reflection.ReflectionTypeLoadException: Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.

##[error]   at System.Reflection.RuntimeModule.GetTypes(RuntimeModule module)
##[error]   at System.Reflection.R

[2016-11-09 13:40] sandorfr commented on #3021
@zjrunner I was wrong the nuget restore is already done by the task, but it behaves differently than Xamarin Studio which makes it a bit annoying.

Today I installed the almost mandatory latest alpha (if you need to support ios 10 as current stable xamarin version is completely unstable and does not play nice with XCode 8.1).
As a result, my nuget.config file had been automatically altered and v2

[2016-11-09 15:50] KrishnaAdityaB commented on #2983
@gregpakes
I am able to get the logs with TFS "15" RC2 and agent 2.105.6 too.

My PS version on both agent and target machines is 4.0. Can you provide me yours?

Can you start with simple sample scripts I provided earlier - and check if you are getting logs in your environment?

[2016-11-09 15:57] KrishnaAdityaB commented on #3051
@bojingo What are the agent and task versions?
Can you run the release with the System.Debug variable set to true and share the full verbose log of the task?
We have to compare 2 or 3 such logs to see if the same request failed every time or different one.

[2016-11-09 16:07] RuslKoval commented on #3049
@ericsciple , thanks.
It would be nice if You give me link/instruction "how to update", because after update build agent, I still see the same errors.

[2016-11-09 17:24] bojingo commented on #3051
Here is the version information from the first line of the release log:
`Agent name: Agent-CSGBUILD04, version: 1.105.6, OSVersion: Microsoft Windows NT 6.2.9200.0`

When I remote into the build agent, I see a whole bunch of versioned folders within "C:\agent\tasks\SqlAzureDacpacDeployment". The latest is 1.1.2, the earliest is 1.0.13, and there are 8 others in between. I'm not sure which one is b

[2016-11-09 17:47] bojingo commented on #3051
Below is the debug log for that task (with some detail scrubbed for security):

[code]
That log does reveal that I am using version 1.1.2 of the task.

[2016-11-09 21:36] bojingo commented on #3051
+Urgency: The frequency of this has gone up dramatically today. I haven't seen it succeed since over 2 hours ago, after a couple dozen attempts.

From the logs, it is looking like maybe it is this request that is failing, which is to a VSTS resource: https://*******.vsdtl.visualstudio.com//_apis/vslabs/ipaddress

I put the URL in the browser (since it is a GET) with my VSTS instance name, and sure

[2016-11-09 22:32] iamthegD opened #3059 "Release Management artifact variable information"
Hi, If not appropriate place, feel free to del/move.

We are using Release Management (great tool) and we are wondering if its possible to download parts of a build artifact instead of the whole shebang.

Case is, our builds output artifact are 5GB but to run a release with tests and QA we only need 2gb out of it.

We did try to look for Build.ArtifactSource* or Artifact.DropFolder* but it seems t

[2016-11-10 03:50] bansalaseem commented on #3052
Thanks for reporting it. I have filed an item in our backlog to enhance the list of tokens we support in release name format and include the following tokens. Please take a look at it and do let me know in case there is something else as well which you feel is missed,

$(DayOfMonth)
$(DayOfYear)
$(Hours)
$(Minutes)
$(Month)
$(Seconds)
$(Year:yy)
$(Year:yyyy)

Regards
Aseem Bansal

[2016-11-10 05:16] gregpakes opened #3060 "TestAgent Functional Tests with NUnit Adapter"
I have having issues with getting the Functional Tests task to discover my nunit tests.

The documentation states that the packages folder next to the solution file will be searched automatically for any test adapters.  That's great if you are using the task in the build pipeline, but I fail to see how it works if you are using it in the release pipeline as there is no sln file.

My scenario is:

[2016-11-10 07:44] KrishnaAdityaB commented on #3051
@bojingo can you share your vsts account name? (**** in the above URL)

[2016-11-10 07:58] tanvi-soni commented on #3029
Hi, Can you use the api in https://www.visualstudio.com/en-us/docs/integrate/api/test/results to get a list of test results and verify the value of field Priority

[2016-11-10 08:18] wdrijfhout commented on #1170
I'm using TFS 2015u3 with scheduled builds and having the same issues. As suggested I disabled ssh in the TFS Console.

[2016-11-10 09:15] KrishnaAdityaB commented on #3051
@bojingo you can get unblocked with steps below:

Seems like you are having a private agent and not hosted agent.
Please use the **_IPAddressRange_** option instead of _AutoDetect_ for the **_Specify Firewall Rules Using_** field in the task. See screen shot below.
More info can be found [here](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/SqlAzureDacpacDeployment)

![task-input](https

[2016-11-10 09:19] hubertusgr opened #3062 "Make.js is not properly working if inside a directory that contains a whitespace"
Hi!
This is about the release m108:

I was trying to use your make.js to build the tasks and found out, that when the script is inside a directory that contains a whitespace it does not work.

my path was:
"E:\Documents\VSTS Tasks\vsts-tasks-releases-m108\vsts-tasks-releases-m108"
and the script failed at the first build task and after I have changed the directory name 'VSTS Tasks' to 'VSTS_Tasks'

[2016-11-10 09:37] hubertusgr opened #3064 "XamarinTestClound Build tasks has issues on OSx because it is looking for a file called "xamarintestcloud.js" but the file is acutally named "XamarinTestCloud.js""
This is for Release m108:
In the task.js you see on line 155 the following statement:
    "instanceNameFormat": "Test $(app) with Xamarin.UITest in Xamarin Test Cloud",
    "execution": {
        "Node": {
            "target": "xamarintestcloud.js",
            "argumentFormat": ""
        },

actually in the folder _build\tasks\XamarinTestCloud the task is named "XamarinTestCloud.js" when it is

[2016-11-10 09:58] hubertusgr commented on #3064
EDIT: I just saw that there is a difference on my files and on your release branch. This issue did not occur again after downloading the branch again.

---> Sorry for the wrong post please close this issue

[2016-11-10 11:51] Ajay-MS commented on #3046
@mclark1129

Thanks for reporting this issue, we will fix it soon.

[2016-11-10 11:56] KrishnaAdityaB commented on #2983
@gregpakes
Reg: Difference between download and installed and those just on disk
Can you quickly try with your scripts just on disk?

This along with executing simple scripts should help us narrow down the issue to either _the way they are get_ or _to something in your script_.

[2016-11-10 13:12] friedhelmensch commented on #3029
out put for one test case run by "Run Functional Test" Task

[code]
out put for one test case run by "Visual Studio Test" Task

[code]

[2016-11-10 14:20] dhashrath-msft commented on #3042
@schmidtaa can you please let us know is this still happening in the vsts account you shared with me .

[2016-11-10 15:27] drolevar opened #3069 "[Feature request] Add 'Associate Build Artifacts' task"
Currently Publish Build Artifacts task does not support file shares on Linux. And taking into account complexity of the task might never be supported.
To enable having build artifacts located on a file share I suggest adding a 'Associate Build Artifacts' task which only associates a certain file share location with a build artifact.
The actual copying of the build artifacts will be done by a custo

[2016-11-10 15:59] dhashrath-msft commented on #3042
I am closing this issue as @schmidtaa confirmed it works for him now after todays release management service deployment.

[2016-11-10 15:59] #3042 closed

[2016-11-10 20:04] schmidtaa commented on #3052
Thanks, the list from above looks good. This would allow to have more flexibility to have the release naming according to the versioning approach accepted by the our development team.

[2016-11-10 20:05] ericsciple commented on #3062
i think that's an ok solution since it is dev requirement only. it's probably from some of the command lines that are executed.

[2016-11-10 20:05] #3062 closed

[2016-11-11 00:48] tomkerkhove commented on #3024
Any ideas about this?

[2016-11-11 01:00] ChrisMelinn opened #3070 "[DeployAzureResourceGroup] - Updating Resource Group gives error "Windows PowerShell is in NonInteractive mode. Read and Prompt functionality is not available.""
When using the DeployAzureResourceGroup task in VSTS, we often see errors like the following:

[code]

The same task (release step) executes successfully when **creating** the resource group, but fails when trying to **update** the resource group.  I don't know for sure, but I think it may fail when there have been slight modification to the underlying resources since the last (create) deployment.

[2016-11-11 09:16] tanvi-soni commented on #3029
Can you share your test code snippets, mainly the attributes you are using to specify priority in test methods.

[2016-11-11 09:52] nickeyyan commented on #3029
i  will have a try

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Tanvi Soni <notifications@github.com>
Sent: Friday, November 11, 2016 5:16:47 PM
To: Microsoft/vsts-tasks
Cc: Nickey Yan; Author
Subject: Re: [Microsoft/vsts-tasks] Run VSTS Functional Test without Test Owner and Priority (#3029)

Can you share your test code snippets, mainly the attributes you a

[2016-11-11 10:39] tanvi-soni commented on #3029
Sure, you can send it at devops_tools@microsoft.com

[2016-11-11 12:07] bansalaseem commented on #3059
We don't have this feature right now but it is in our product backlog. I will educate my colleagues about your request so that they know that you are asking also for this feature.

Regards
Aseem Bansal

[2016-11-11 12:26] sidharthnayyar opened #3073 "SSH task - use VSTS variables"
Hi,

Is it possible to use (inject) VSTS variables into SSH task (commands)?

I have:
SSH-Run:Commands
SSH-Commands:
`echo $PATH;pwd;currenttime=$(date +%Y%m%d_%H%M%S);echo currenttime;buildlabel="$env:RELEASE_ARTIFACTS_Web_BUILDNUMBER";echo buildlabel;backupdir="/usr/Anaconda/envs/web_code/backup/$currenttime.$buildlabel";echo backupdir;sudo cp -R /usr/Anaconda/envs/web_code/web $backupdir;`

But

[2016-11-11 13:08] KrishnaAdityaB commented on #3025
@goofy78270
This is fixed in "PowerShell on Target Machines" task. The password you provided works fine with task version 1.0.43.

Which version were you facing this issue with? Or is it some other task?

[2016-11-11 13:31] saschagottfried opened #3074 "Deploy AzureRM Web App task fails because of missing file"
`Deploy AzureRM Web App` task fails with version 2.1.3. Some hours ago this task used version 2.1.2 and everything went fine.

[code]

[2016-11-11 13:34] drageam commented on #3074
I got same problem.
A few hours ago, with 2.1.2, it works. Now 2.1.3 same problem.

[2016-11-11 13:36] AlexRukhlin commented on #3073
Hi,

You probably should use RELEASE_ARTIFACTS_WEB_BUILDNUMBER. Also, the following links might help: [TFS Release Management Artifacts Variable not available](http://stackoverflow.com/questions/39404672/tfs-release-management-artifacts-variable-not-available) and [Artifact variables](https://www.visualstudio.com/en-us/docs/release/author-release-definition/understanding-artifacts#variables).

Ale

[2016-11-11 13:38] #3064 closed

[2016-11-11 13:38] AlexRukhlin commented on #3064
A user mistake.

[2016-11-11 13:47] alxbog opened #3075 "No support for "-Force" option when upgrading Azure cloud service"
I'm using Azure Cloud Services deployment task. **Allow upgrade** flag is set to true.

When I try to change vmsize (via configuration file) this error happens:

[code]

How to include "-Force" flag when using VSTS deployment task?

[2016-11-11 13:52] Larswa commented on #3074
Got same problem with 2.1.3. My last successfull deploy used 2.0.7 and was run Wednesday 9th November

[2016-11-11 13:52] aL3891 opened #3076 "azurermwebappdeployment.js not found on hosted build agent"
Hello, sorry if this is not the proper place for issues like this but as of like an hour ago we get error like this when publishing.

    2016-11-11T13:22:39.8820811Z ##[section]Starting: Deploy QueueAdapter
    2016-11-11T13:22:39.8850822Z     ==============================================================================
    2016-11-11T13:22:39.8850822Z Task         : Azure App Service Deploy

[2016-11-11 13:58] Larswa commented on #3076
It was also reported in this thread. Two lines down ... :-)    https://github.com/Microsoft/vsts-tasks/issues/3074

Where several other people are reporting it as well ..

[2016-11-11 13:59] dhoare12 commented on #3074
Same issue - looks like the task updated to 2.1.3 at midday today and deployments have all been failing since then.
Logging onto the box we see that the "task.zip" file is still present in `/_work/_tasks/AzureRmWebAppDeploy_49.../2.1.3/` and that not all the assets have been extracted from this file. As a workaround **unzipping this zip file in the 2.1.3 folder seems to fix the issue**.

[2016-11-11 14:00] aL3891 commented on #3074
Same problem here :/

[2016-11-11 14:01] aL3891 commented on #3076
ah, thanks, missed that
Closing this one as a duplicate

[2016-11-11 14:01] #3076 closed

[2016-11-11 14:10] LadislavMargai commented on #3074
Same problem here. My last successful deploy was _2016-11-11T10:44:27_ with **2.1.2**

[2016-11-11 14:21] dagus commented on #3074
Same problem here to

[2016-11-11 14:22] treierts commented on #3074
We have the same issue as well, this is the error we get:

`2016-11-11T13:02:04.7551688Z ##[error]File not found: 'C:\agent\_work\_tasks\AzureRmWebAppDeploy_497d490f-eea7-4f2b-ab94-48d9c1acdcb1\2.1.3\azurermwebappdeployment.js'`

This is the timestamp of the first occurence of this today on our build hosts.

[2016-11-11 14:22] PeterOrneholm commented on #3074
Same issue for us :/

[2016-11-11 14:22] shadjamal commented on #3074
Same here :-(

[2016-11-11 14:25] lasrol commented on #3074
Anyway to force it to use 2.1.2?

[2016-11-11 14:28] bojingo commented on #3051
Well, I did not make the changes proposed above, but everything seems to be working for the past dozen or so builds.

**The https://***.vsdtl.visualstudio.com/_apis/vslabs/ipaddress  (where *** is my client's VSTS account name) endpoint was just legitimately down for a period of several days.**

I did not make the above changes because it doesn't seem like an appropriate solution/suggestion. My pr

[2016-11-11 14:30] ogoodwin opened #3077 "Key Vault datasource for Azure Resource Manager Endpoint type"
I am creating a custom build task where I would like to bind a picklist to a key vault datasource from an ARM endpoint. The ARM endpoint type does not appear to define a datasource for retrieving key vaults from an azure subscription. Am I missing something here? Is there an alternative other than creating a new, custom endpoint type? Are there any plans to implement this feature?

Thanks

[2016-11-11 14:31] aadje commented on #3074
We are getting a similar error since 2.1.3 :
[code]

[2016-11-11 14:32] bojingo commented on #3051
404s went away on their own. Using System.Debug helped diagnose the bad endpoint being vsdtl.visualstudio.com/_apis/vslabs/ipaddress to auto-detect the IP address for adding an Azure SQL Database firewall rule.

[2016-11-11 14:33] jakobehn commented on #3074
If you have access to the build server, a temporary workaround is to unzip the task.zip inside the 2.1.3 folder of the AzureRMWebApp task

[2016-11-11 14:34] adonnelly commented on #3074
same here, really bad timing too. Started happening around 2 hours ago. A release at 11:30 GMT succeded. Redeploying the same release 2hrs ago failed. I can see task.zip. Unzipping this zip file in the 2.1.3 folder did not fix the issue as the folder got cleaned next release.

[2016-11-11 14:45] asadsahi opened #3078 "Azure deployment fails?"
Build definition of an application that works:

![image](https://cloud.githubusercontent.com/assets/3470892/20218532/f5ea9bc2-a81c-11e6-944c-9588407d10bc.png)

Created a new build definition having exactly same steps, targetting a different code repository and azure web app, but getting this error:

![image](https://cloud.githubusercontent.com/assets/3470892/20218592/4a690dc8-a81d-11e6-85ae-3810ce

[2016-11-11 14:52] sidharthnayyar commented on #3073
Thanks Alex.

I checked the log and you are right it should be capitalised. Unfortunately both:
`buildlabel="$env:RELEASE_ARTIFACTS_WEB_BUILDNUMBER"`
and
`buildlabel="$RELEASE_ARTIFACTS_WEB_BUILDNUMBER"`
don't seem to work. The top just returns the text RELEASE_ARTIFACTS_WEB_BUILDNUMBER and the latter gives empty

My understanding was if I'm using inline then I need to replace the "." with "_" and

[2016-11-11 14:52] b4rj commented on #3078
Same thing here. Yesterday it was working normaly...

[2016-11-11 14:58] b4rj commented on #3078
By the way, a same post whas open here https://github.com/Microsoft/vsts-tasks/issues/3074  asadsahi

[2016-11-11 14:59] b4rj commented on #3074
Same here

[2016-11-11 15:00] asadsahi commented on #3074
Same here :(

[2016-11-11 15:00] asadsahi commented on #3078
Thanks @b4rj sorry missed that. Closing this one.

[2016-11-11 15:00] #3078 closed

[2016-11-11 15:06] CKGrafico commented on #3074
the same!!!

[2016-11-11 15:10] mravko commented on #3074
Same here...

[2016-11-11 15:12] dsschnau commented on #3074
same

[2016-11-11 15:13] carlwoodhouse commented on #3074
same issues as @aadje

[2016-11-11 15:19] larsJoakimNilsson commented on #3074
@jakobehn (long time no see ;)

Tnx Jacob... that work!

[2016-11-11 15:21] ASeale commented on #3074
The work around worked for me. Not sure why it erased for @adonnelly.

[2016-11-11 15:26] alfredodev commented on #3074
I copied the contents of 2.1.2 inside 2.1.3 and our build worked...