[2019-11-08 14:33] bprodduturi commented on #2147
Hey @ustun, thank you, can you please describe how one can apply your bash script to to an Build definition? Currently I'm using "$(BuildDefinitionName)_$(Date:yyyyMMdd)$(Rev:.r)" in the BuildNumberFormat field, but I want the actual branch name (only the branch name, without dots, slashes, etc.) from the PR.

[2019-11-08 17:02] chernovol commented on #11684
We have the same issue, it's a BIG pain for us.
Any update on when it will be resolved?

[2019-11-08 17:40] MouthOfMadness commented on #11624
@keljos
Some new clues for you.

If I use a java based keystore extension .jks generated by Android Studio, it works with the AndroidSigning@3 task.

If I use the keystore extension .keystore generated by VS2019, it fails.

[2019-11-08 17:45] MattHartz commented on #11645
Is there anyway to use a service connection as a pipeline variable? Trying to wrap a taskgroup with a deploy database and deploy service fabric service that takes in a variable for the service connection.

Any ideas?

[2019-11-08 20:57] brushwood24 commented on #11621
@NickGraham101 I am also seeing this issue in V4.159.3.

[2019-11-08 20:57] KatiaArroyo1 commented on #11656
@20shivangi  any updates on this??

[2019-11-08 20:57] brushwood24 commented on #11672
I am seeing this same issue using a private agent

[2019-11-08 22:18] ivailop commented on #11442
It appears to be working for my use case.

[2019-11-08 23:20] nocarryr opened #11719 "TwineAuthenticateV1 username set incorrectly when using Authentication Token"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-11-08 23:49] Dejulia489 opened #11720 "How to Persist the Response of an HttpRequestChain GET Request to Output Variable"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-11-09 11:54] denravonska commented on #6840
Same problem here. Maybe it does indeed redirect the error to stdout, but since it's indistinguishable from the regular output there's no way of knowing which line that's the culprit.

[2019-11-09 14:13] RickBlouch opened #11722 "NPM Install failing to download node-saas (404)"
## Required Information
Npm install started failing yesterday with a 404 trying to download node-saas.  No changes made to our code or Task configuration.

**Enter Task Name**: NpmV0

## Environment
Azure Pipelines

organization name: HealthPay24
team project name: HealthPay24
build definition name: HP24 Build - Dev
build number: 20191109.1  (All builds have been failing since yesterday for this r

[2019-11-09 17:30] benbuzbee commented on #6840
Yes @denravonska that is correct.

The script I pasted above is intended to allow you to annotate the output of bash with STDERROR for anything that goes there, for example
[code]
Will print
[code]

This has been invaluable for my team to diagnose what actually failed when shelling our to a sufficiently complex command.

I suggest you folks bang on PR #9391 since @damccorm made a simple fix for th

[2019-11-09 18:45] denravonska commented on #6840
@benbuzbee Thanks, I'll try it out. I just assumed that failure triggers would verbosely be printed in the logs.

[2019-11-09 20:51] DanniJuhl opened #11723 "SqlAzureDacpacDeploymentV1 - Improper credential parameter handling"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: SqlAzureDacpacDeploymentV1

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/SqlAzureDacpacDeploymentV1

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipelines

- Agent - Hosted or Private:
    Hosted
    windows-2019, vs2017-win2016
##

[2019-11-09 23:07] eduardostarling commented on #11719
I am facing the same issue, resolved it slightly differently by running the following before `twine upload`:
`sed -i 's/username=build/username=__token__/g' $(PYPIRC_PATH)`

There is even a test case validating the "build" username: https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/TwineAuthenticateV1/Tests/L0.ts

[2019-11-10 04:34] mintyfusion commented on #11722
Guys, the build system is broken and no action has been taken. What is the ETA?

[2019-11-10 13:29] ShreyasRmsft commented on #11703
@WillSullivan could you please provide link to sample repro project? Store the same dummy code on a github repo and create a public project with the definition that runs the build or have a yaml based definition so that i can run straight from your repo.

Additionally to isolate the issue to the hosted machine leaving out whether it's the test tasks that are doing something or simply a hosted mach

[2019-11-10 13:33] ShreyasRmsft commented on #10712
One guideline you can follow is that whatever works in the command line will work here. The same set of arguments in the exact same format.

Also note arguments to the 'test' verb for dotnet can be provided safely using quotes around every param this way:

dotnet test /p:"Param1" /p:"Param2"

You don't need to escape the outer quotes, only the inner ones. If you have inner quotes make sure you alw

[2019-11-10 13:34] ShreyasRmsft commented on #10712
Try converting your arguments to this format, make sure they run on the local command line then try them out in the task. I believe documentation on this topic is scarce i'll see what i can do to enhance it.

But for now please let me know if these simple guide lines work for you.

[2019-11-10 13:36] ShreyasRmsft commented on #10712
Also if your command line is getting longer than 3-4 params i would recommend using a runsettings file to configure the test session. You can pass runsettings using -s|--settings <SETTINGS_FILE>.

Take a look at https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore21 and https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?vi

[2019-11-10 18:36] nocarryr commented on #11719
@eduardostarling your workaround is way cleaner than mine. Mind if I steal it?

[2019-11-10 18:59] jderose9 opened #11724 "npm task - support scoped registries"
**Question, Bug, or Feature?**
Feature (bug?)

**Enter Task Name**:  NpmV1

## Environment
- Server - Azure Pipelines

## Issue Description
I do not wish to use the upstream feeds of the Azure Artifacts feed. I don't care about or want to configure the other registries that consumers of my package want to use in their application.

Instead, I would like to be able to create a scoped registry to ge

[2019-11-11 04:29] bishal-pdMSFT commented on #11684
@luweilevi the custom image in the error message means a [VHD image which has been set using a URI](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sa-upload-generalized#set-the-uri-of-the-vhd). This task does not support updating a VMSS created using a [managed image](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/cli-ps-findimage).

[2019-11-11 05:56] sahitiyerramilli commented on #11141
We tried testing this and the test results were uploaded with the same name as the test run title using the 2.158.0 version of the PublishTestResults task. Please double check with this version or higher and reopen the issue if the problem persists.

[2019-11-11 05:57] #11141 closed

[2019-11-11 06:49] dilandau2001 commented on #11660
Yes, I haven't forget this. But as this is not my main task it would take sometime.
I don't think I will be able to provide all combinations at once, but I will be doing each one on my spare time. I think I will be able to provide case 1, by the end of today

[2019-11-11 08:10] chernovol commented on #11684
@bishal-pdMSFT
What about this?:
in Azure Release Pipeline we are using Task "Azure VM scale set deployment"
Action set to "Update VM Scale set by using image"
OS type: "Windows"
Image Details, Image URL: "$(currentdiskuri)"
Control Options
Control Options, Timeout: 0

**Here is a Log:**
2019-11-08T16:52:26.9213771Z ##[section]Starting: Azure VMSS: Update image
2019-11-08T16:52:26.9391518Z =======

[2019-11-11 09:31] 20shivangi commented on #11672
@NickGraham101 I am working on fixing this issue and will let you know once it is done.

[2019-11-11 09:34] 20shivangi commented on #10262
Feel free to open the issue, if face any

[2019-11-11 09:34] #10262 closed

[2019-11-11 09:35] 20shivangi commented on #10328
Closing the issue.

[2019-11-11 09:35] #10328 closed

[2019-11-11 09:36] 20shivangi commented on #11579
Closing the issue. Feel free to reopen, if face any.

[2019-11-11 09:36] #11579 closed

[2019-11-11 09:39] 20shivangi commented on #10722
The change has been rolled out, thereby closing the issue

[2019-11-11 09:39] #10722 closed

[2019-11-11 09:40] 20shivangi commented on #10880
@BevanG We have fixed the issue, can you please check it now ?

[2019-11-11 10:10] ustun commented on #2147
Hi @bprodduturi you need to add it as a build step (as an inline Bash script), preferable the first step.

If you echo some special outputs in a bash scripts (for example if a line starts with `##vso` as in here: https://gist.github.com/ustun/b14dc73d03dca3cf1319a08ee1772120#file-azure_devops_update_build_number-sh-L31 ) , Azure Devops treats them as commands.

When a build is running, you will se

[2019-11-11 10:52] dusan-suchon commented on #9673
Is there any update? When could we have service connection sharing feature available? Thanks

[2019-11-11 11:13] ShreyasRmsft commented on #10712
Closing this for now. Please re-open if the above guidance doesn't work for you.

[2019-11-11 11:13] #10712 closed

[2019-11-11 11:49] vithati commented on #11716
@GlamTam , Can you elaborate more?  From error I see $(foo-dev) variable not declared in release. Expanding variables inside another variable will not work. $(foo($bar)) will expand to $(foo-dev) if bar value is '-dev', event you declared 'foo-dev' in variables it will not expand $(foo-dev).

[2019-11-11 12:40] shashban commented on #9673
@ashokirla Can you please do the needful?

[2019-11-11 13:38] #11699 closed

[2019-11-11 13:40] onovotny opened #11730 "GitHub release task started breaking"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: GitHub Release

list here (V# not needed):  1
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/bui

[2019-11-11 13:44] ponkumarpandian commented on #11722
I am also facing the same issue. Please let us know any workaround?

[2019-11-11 13:52] onovotny commented on #11730
This is breaking production release flows

[2019-11-11 14:16] RickBlouch commented on #11722
If this is blocking for anyone, until they fix it, you can use the "Node.js tool installer" task and have it target a prior version of Node.

[2019-11-11 14:46] damccorm commented on #11701
Which version of the powershell task are you using?

We don't do this from our side IIRC. If there is a limit, I'm guessing it comes from the agent. I know inputs get put in as env variables, so it might have to do with the size of the environment block. If that's a blocker, I'd recommend just checking in the script.

Not totally sure what you're asking here - we don't inject anything into the scr

[2019-11-11 15:39] brushwood24 commented on #11672
@20shivangi Is there an ETA for the fix or a workaround in the mean time?

[2019-11-11 16:12] spinicist commented on #11260
I am struggling with this issue as well. Why is there not a build variable that contains the current tag name?

[2019-11-11 16:58] brettkc commented on #11661
I'll add that after trying many things to get this to work as expected, reverting this task to the previous version appears to work as intended. Issue appears to only exist in the latest version of the task.

[2019-11-11 17:25] fadnavistanmay commented on #11374
This should be released.

[2019-11-11 17:25] #11374 closed

[2019-11-11 17:25] fadnavistanmay commented on #11442
Glad to hear it's working. :)

[2019-11-11 17:25] #11442 closed

[2019-11-11 18:06] fadnavistanmay commented on #11692
Hi @flyingUnderTheRadar - Can you have 2 caching tasks to cache 2 different folders, and then restore both?

[2019-11-11 18:17] charlie-haley commented on #11714
This is also the response I get when I choose the Azure Container Registry option. (which I am using) it falsely indicates a success even though nothing has been pushed to the registry.

[code]

[2019-11-11 18:45] Dejulia489 commented on #11720
Forcing the request headers to text/plain still returns a JSON object. What is making the http requests on the server side?

[2019-11-11 19:40] damccorm opened #11731 "Tests Needed!"
Right now, lots of our tasks are missing even basic unit test coverage. To help us reach a better place, we'd like help writing some!

The initial goal here is pretty small - get at least one unit test per task that tests a mainline use. The idea here is to lower the entry barrier for writing new tests so that we can make that an expectation with any PR introducing new functionality.

For a full l

[2019-11-11 19:46] damccorm opened #11732 "test - ignore this"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-11-11 19:47] #11732 closed

[2019-11-11 20:09] denravonska commented on #6840
@benbuzbee Your suggestion worked perfectly, without it I would have had no idea how to track down the issue. It goes to show how important such a trivial feature is to the users.

[2019-11-11 20:55] spinicist commented on #11260
@reitermarkus Thanks for the code snippet for manually setting the tag name. I've managed to get my pipeline doing what I want now and wouldn't have managed it without that.

[2019-11-11 22:04] flyingUnderTheRadar commented on #11692
I thought of using different but we have multiple modules in there and having a task for each of those seemed cumbersome and meant that it would require future maintenance when we added or removed a module so I did not try this out.

[2019-11-12 00:45] salvmd commented on #11583
@leantk (per https://github.com/microsoft/azure-pipelines-tasks/blob/master/.github/CODEOWNERS), could you help us route this to the team that owns the Maven task?

[2019-11-12 04:09] vinodkumar3 commented on #11694
I'm not sure what is the ask here.
Use .NET Core task always downloads and installs the specified version until unless the specified version is present in provided path "Path To Install .Net Core" which is $(Agent.ToolsDirectory)/dotnet by default.

[2019-11-12 04:17] vinodkumar3 commented on #11400
Closing this. Feel free to reopen if you face the issue again after trying the suggested approach.

[2019-11-12 04:17] #11400 closed

[2019-11-12 04:57] tristanbarcelon commented on #11701
Hi @damccorm . I'm using Powershell v2 task and I think it's [line 74](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/PowerShellV2/task.json) which enforces this limit.

With regards to the deletion of $filePath, I suppose I should have mentioned that I'm referring to our privately hosted agents and not the ones in Azure. There appears to be a finally block in [powershell.ps1

[2019-11-12 05:18] nishubansal commented on #11720
Can you share details about your use case? What do you want to do with string?

As of now we don't have direct method to convert JSON to string. Although Using HttpRequestChain handler we have written some tasks where we are passing object from 1 request to another.

[Task using HttpRequestChain](https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/CopyStageVariableToRele

[2019-11-12 05:57] bishal-pdMSFT commented on #11694
@IvanAlekseev do you mean that the task should not install the SDK if is installed _anywhere_ (for example C:\ProgramFiles\dotnet) on the machine?

[2019-11-12 06:00] BhanuPrasadMera commented on #9566
I am also facing same issue, from above solutions,

1. Deploy an agent on the network and then copy the files.
How can I deploy an agent on network(Where hosted agents are running) ?

2. Deploy an agent on the target machine and then move the files around with the Publish Pipeline Artifacts and Download Pipeline Artifacts tasks.
How can my target machine(of some X network) can communicate to Hoste

[2019-11-12 07:47] IvanAlekseev commented on #11694
Hello, thanks for your reply.
There is a line in logs about cache
```2019-11-05T17:18:45.6661806Z Version 3.0.100 was not found in cache.```
So I assumed that this task will check what is already installed on machine. And 3.0.100 should be there according to [image description](https://github.com/microsoft/azure-pipelines-image-generation/releases/tag/vs2019%2F20191009.1)

So I was hoping that tas

[2019-11-12 08:05] bishal-pdMSFT commented on #11694
@IvanAlekseev there already another [issue ](https://github.com/microsoft/azure-pipelines-tasks/issues/10405) which is tracking this request. This is currently not a priority items for us as this does not block execution. But we will prioritize in future.

[2019-11-12 08:17] chernovol commented on #11684
@bishal-pdMSFT @damccorm
Can we have any update, as we are blocked currently by this issue?

[2019-11-12 08:32] migheorghe commented on #11659
We have tried with autoBatchSize, and other combinations but the behavior is the same. Please check email. I’m expecting the tests to be distributed evenly(from the execution time point of view) on all the agents. Are we missing something?
How to correctly distribute 4000 tests on 50 agents and have no significant time wasted on each job?

[2019-11-12 08:53] bishal-pdMSFT commented on #11684
@chernovol can you please attach debug logs for failed task?

Also, it looks like a VM extension is failing to install on VMSS. The task does not install any such extension. But I think when VMSS image gets updated, VMSS tries to re-install all extensions which were previously installed on VMSS. If any such extension is failing, then may be image update itself is reported as failure. Can you pleas

[2019-11-12 09:40] dilandau2001 commented on #11660
First case:

[Case 1 - RerunOn_CodeAnalysisOn_WithNoRunSettings.zip](https://github.com/microsoft/azure-pipelines-tasks/files/3835161/Case.1.-.RerunOn_CodeAnalysisOn_WithNoRunSettings.zip)

[2019-11-12 10:34] bishal-pdMSFT commented on #11240
This is completed. We have released a new major version of Azure CLI task which can execute PS / PS Core script.

[2019-11-12 10:34] #11240 closed

[2019-11-12 10:34] hanif-everycity commented on #11684
@bishal-pdMSFT Yes, I can see failure report related to provisioning.

![image](https://user-images.githubusercontent.com/53301515/68662345-8c63a400-0534-11ea-9a24-8368568142dc.png)

What's the quickest way of generating the debug logs for the failed task?

[2019-11-12 10:40] bishal-pdMSFT commented on #5125
Happy to inform that we have released a new major version of Azure CLI task which supports shells like PS (windows only) and PS Core (both windows and linux)

[2019-11-12 10:40] #5125 closed

[2019-11-12 10:48] bishal-pdMSFT commented on #11684
@hanif-everycity can you delete the extension and retry to task?

You can add a pipeline variable with name `system.debug` and value `true` and then create a run.

[2019-11-12 11:47] hanif-everycity commented on #11684
@bishal-pdMSFT Please find attached the log for the task. I've masked some sensitive data.

[18_Azure VMSS MyCompany-UAT Update image.log](https://github.com/microsoft/azure-pipelines-tasks/files/3835955/18_Azure.VMSS.MyCompany-UAT.Update.image.log)

[2019-11-12 11:57] GlamTam commented on #11716
hi vihait, I want variable $(foo($bar)) to expand to $(foo-dev), since 'foo-dev' is the name of a secret in the keyvault. Using the 'get keyvault secrets' tasks I want to replace the variable $(foo-dev) with the value of the secret with the name foo-dev in the keyvault. However, currently the variable expansion from $(foo($bar)) to $(foo-dev) works, but the lookup in the keyvault fails. I would li

[2019-11-12 12:14] Lawls91 opened #11738 "MSTestV2 update will not execute C++ tests using default runsettings"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-11-12 12:40] AdamOrpen commented on #11084
Any update on this enhancement to allow reuse of existing SPN for ACR Service Connection?

[2019-11-12 12:55] psavery opened #11739 "Library files missing for "UsePythonVersion@0" on Windows and Mac"
This issue was moved from [here](https://github.com/MicrosoftDocs/vsts-docs/issues/6330).

If I use the task "UsePythonVersion@0" and try to build some C++ binaries that link to python on the mac, it looks like the `.dylib` file can't be found for the enabled version of python. I am using the image `macos-10.14`.

For example, one of my mac builds is [here](https://dev.azure.com/patrickavery0563/m

[2019-11-12 14:33] goalie7960 opened #11740 "dotnet publish -o functionality has changed"
**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: dotnet

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name: fv-az639

## Issue Description

dotnet publish -o flag seems to place output folder at root instead of inside the project being p

[2019-11-12 14:38] sander1095 commented on #11347
Any updates? I have the same issue!

My current ugly solution would be to copy the nuget push task twice and then write a custom condition to only run the tasks if the previous nuget push failed; essentially giving it X retries.

[2019-11-12 14:39] Jyoti492 commented on #11084
Hi Team , is there any update on this ???

[2019-11-12 14:45] leantk commented on #11583
@salvmd that would be me. I've assigned it to myself and will look into the suggestions above

[2019-11-12 14:49] damccorm commented on #11701
Whoops, so it does. Asked around, it looks like this limit was basically put in place because performance starts to degrade on our side when variables get too large. I don't think its strictly necessary that its _exactly_ 5000, but that we found that was a good limit for the vast majority of use cases.

Is there any reason you can't use checked in scripts?

The tempDirectory [should be cleaned by

[2019-11-12 14:53] Jyoti492 opened #11741 "Docker V2 needs docker registry connection(Security issue)"
Hi Team,

There is a design on docker v2 task to push images to ACR you ll need to have the Docker Registry Service Connection but this Service Connection is not using an existing app registration rather it needs an access to create a new app registration which needs a global admin access. Can we please use the existing one because giving rights to the service principal to create an app registrati

[2019-11-12 15:04] damccorm opened #11742 "TEST - ignore this"

[2019-11-12 15:06] #11742 closed

[2019-11-12 15:06] damccorm opened #11743 "test - ignore this"

[2019-11-12 15:09] #11743 closed

[2019-11-12 15:11] damccorm opened #11744 "Test - ignore this"

[2019-11-12 15:11] #11744 closed

[2019-11-12 17:23] Dejulia489 commented on #11720
This is what I was looking for, do you know if there methods available to server gate tasks are documented anywhere?

jsonpath()
addFieldToJsonAndSerialize()
addObjectToJsonAndSerialize()

[2019-11-12 17:56] WillSullivan commented on #11703
My repro code (included in the question) doesn't try to download anything. Create a byte array from a pfx and try to load it into a cert within a test. In the example, the cert was added as a resource https://docs.microsoft.com/en-us/visualstudio/ide/managing-application-resources-dotnet?view=vs-2019. Standard .NET framework solution, builds fine but the test fails, as is described within the issu

[2019-11-12 20:53] damccorm opened #11748 "test issue - ignore"

[2019-11-12 20:54] #11748 closed

[2019-11-12 22:18] tristanbarcelon commented on #11701
Hi @damccorm . I wouldn't mind using scripts checked into source. However, the task will only be able to access scripts in the same repo as the code being built at that time. It would be troublesome to copy the same scripts to each and every repo that needs it. Likewise, we're staying away from git submodules at this time so that too is not a viable option. In the meantime, any powershell script w

[2019-11-12 23:22] Dejulia489 commented on #11720
Is the EndpointUrl scoped to a different group of variables...

variables['myVariableName'] will return the correct value in the execution options, but when I add this same expression in the EndpointUrl it returns thr following error.

` Variable with name variables['myVariableName could not be found for the given service connection.`

[2019-11-13 01:18] siromega opened #11749 "Windows machine file copy task v1 error on new build server"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Windows Machine File Copy v1

## Environment
- Server - Azure DevOps (cloud)
- Agent - Private (on-prem agent) Windows Server 2016 standard

## Issue Description
Moving agents to a new server. Installed the new agent on the server, but now Windows machine file copy task v1 tasks are failing on the new server a

[2019-11-13 01:21] snew3687 opened #11750 "Visual Studio Test task fails with System.IO.FileNotFoundException on temp file"
**Type**: Bug

**Task Name**: Visual Studio Test

## Environment
- Server - Azure Pipelines
- Agent - Hosted:

    - OS: Windows Server 2016 Standard

    - Visual Studio Version: 2019

    - Agent Version: 2.155.1

## Issue Description

The task has started failing every time it runs. It started failing when the pipeline auto-updated the task from version 2.159.1 to version 2.160.2.

The log for

[2019-11-13 03:04] giggio opened #11751 "HelmDeploy@0 does not play well with values that have spaces"
## Required Information

*Type*: Bug

**Enter Task Name**: HelmDeploy@0

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: simp-cloud/SaaS/pipelineId=50/buildId=1788

- Agent - Private:

    - OS of the machine running the agent and the agent version: Ubuntu 18.04, agent 2.160.0

## Issue Desc

[2019-11-13 04:35] garrettloy commented on #11750
Running into the same error.  I have 6 test tasks in a pipeline and this was happening to two of them - the ones that had "Run only impacted tests" checked. Unchecked that and now the test tasks don't error out.

[2019-11-13 04:42] jldeen commented on #11316
@spowser and @bkaid I just pushed PR #11735 to hopefully resolve this issue ASAP. However, while we wait, I wrote a [blog post](https://jessicadeen.com/using-helm-3-with-azure-devops/) about a work around, if it helps at all.

@shashankbarsin and @Anumita can we get a review of the PR when you have free moment? Thanks!

[2019-11-13 05:19] snew3687 commented on #11750
I tried unchecking that box on my test task...and my pipeline runs OK. That is a good enough workaround for me. Thanks for providing the suggestion.

[2019-11-13 05:40] vinodkumar3 commented on #11694
Closing this. Please refer this [issue ](https://github.com/microsoft/azure-pipelines-tasks/issues/10405)to track progress.

[2019-11-13 05:40] #11694 closed

[2019-11-13 05:51] ShreyasRmsft commented on #11703
Got it. Makes more sense now. I would still request you do the following though

This avoids the whole back and forth where i miss minor details (specific contents of pfx, exact hosted pool you are using etc.) and makes it simpler for me to act on the problem rather than trying to spend time setting up repro where i might miss details. Thanks.

[2019-11-13 06:50] ds-ms commented on #11084
For mitigation, you could enter those details in `Other` authentication type.
Where you set the username as your existing service principal id and password as the service principal key.

[2019-11-13 07:54] cforce opened #11753 "unable to use build variables in maven@3 testRunTitle"
I am not able to make use of pipeline variables (default system one on the one i set myself) in the value of testRunTitle. They are just not evaluated.

[2019-11-13 08:01] tejasd1990 commented on #11612
PR is merged, and no issues observed so far. Closing the issue.

[2019-11-13 08:01] #11612 closed

[2019-11-13 08:01] tejasd1990 commented on #11718
PR is merged, deployed and no issues observed so far. Closing the issue

[2019-11-13 08:01] #11718 closed

[2019-11-13 08:45] fleed opened #11755 "Support for GitHubRelease on Azure DevOps Server"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: GitHubRelease

## Environment
- Server - Azure DevOps Server

    - If using TFS on-premises, provide the version: Version 17.143.28912.1

- Agent - Hosted:

    - Windows_NT, Version 2.144.2

## Issue Description

[2019-11-13 08:46] ShreyasRmsft commented on #11660
I see that test distribution is turned on.

2019-11-12T06:55:13.5382948Z ##[debug]distributionBatchType=basedOnTestCases
2019-11-12T06:55:13.5383237Z ##[debug]batchingBasedOnAgentsOption=customBatchSize

And that you have selected a custom batch size. Is this intentional? May i know why you have this option set?

[2019-11-13 08:47] 20shivangi commented on #11713
@bradwillis
Presently the latest Az version we are supporting is 2.6.0 in AzurePowerShell4. We usually update the Az modules whenever there is some major change in Az module version. We will soon add support of latest version of Az module i.e. 3.0.0 in task

[2019-11-13 10:42] chernovol commented on #11684
@bishal-pdMSFT
did you have a chance to check the log which was provided by @hanif-everycity?

[2019-11-13 11:19] dilandau2001 commented on #11660
Nothing special. This setting was left behind after many tests trying to avoid the use of rerun option.
As we are now using rerun, we forgot to remove this.
Also we identified that giving a batch size was also better in terms of reducing the number of test conflicts, but worst in case of time.

[2019-11-13 11:24] arek-avanade opened #11757 "AppCenterTest fails on Windows agent, works on MacOS"
**Type**: Bug

**AppCenterTest fails on Windows agent, works on MacOS**

## Environment
- Server - Azure Pipelines

- Agent - Hosted:

    - If using Hosted agent, provide agent queue name: windows-latest

## Issue Description

Suddenly AppCenterTest task started to fail in our build without any relevant changes in the repository on our side. This was happening on Windows hosted agent. When switch

[2019-11-13 11:57] bishal-pdMSFT commented on #11684
@chernovol the task does not install this `` extension explicitly and hence I can't comment why it is failing. But I have a hunch that updating image on VMSS somehow triggers this extension installation. This could be due to something specific to this VMSS. Can you make a REST call to get more details about this VMSS `https://management.azure.com/subscriptions/xxxx-xxxx-xxxx-xxxx/resourceGroups/cc

[2019-11-13 12:17] vinodkumar3 commented on #11673
Closing this issue in favor of main tracking [issue](https://github.com/microsoft/azure-pipelines-task-lib/issues/585).

[2019-11-13 12:44] bishal-pdMSFT commented on #11673
Reactivating this issue till the time tracking issue is triaged as a bug

[2019-11-13 12:49] Simon-DevOps commented on #11172
Hello @ShreyasRmsft
We have the same issue as described from Shortchees. Unfortunatelly the workaround you described is not working on our on-premise buils server. Our Proxy need no credentials so I added only the first line. I added also to several nuget.config files I found on the Server, but we still have the Problem that VSTest can not upload any test files.
Thank you

[2019-11-13 12:52] Jyoti492 commented on #11084
Hi Deepak,

But in that case I am not making a ACR connection .

On Wed, 13 Nov 2019 at 7:51 AM, Deepak Sattiraju <notifications@github.com>
wrote:

[2019-11-13 12:53] ds-ms commented on #11084
You would if you set the loginServer url to `https://your-acr.azurecr.io/`

[2019-11-13 14:09] Jyoti492 commented on #11741
Any update about this ?

[2019-11-13 14:11] ds-ms commented on #11741
@Jyoti492 Wouldn't this mitigate your problem right now?

https://github.com/microsoft/azure-pipelines-tasks/issues/11084#issuecomment-553265363

[2019-11-13 15:10] hanif-everycity commented on #11684
Thanks @bishal-pdMSFT . I uninstalled the PowerShell DSC extension and restarted the scale set. This resulted in the deployment completing successfully. I reinstated the exact PowerShell DSC extension and script, restarted the scale set and then run the deployment successfully again. It seems to me the extension got stuck somewhere during installation. The script itself works fine on a standalone.

[2019-11-13 15:30] Spikrit commented on #11750
We have this problem too, only since today...
Task is 2.160.2 but i can't be sure about the previous version.

We never had any issue with the checked option "Run only impacted tests" before today.

The temporary workaround will do but a quick fix or rollback would be great!

[2019-11-13 15:40] Jyoti492 commented on #11084
no it still doesn't work and gives network connection error
##[error]Get ***v2/: read tcp 10.232.61.203:43262->52.236.186.80:443: read: connection reset by peer

##[error]The process '/bin/docker' failed with exit code 1

[2019-11-13 15:48] Jyoti492 commented on #11084
@ds-ms your solution works with public agents but we have above issue with private agent

[2019-11-13 16:24] lukka opened #11759 "Cache task ignores the .artifactignore file"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache

## Environment
Azure Pipelines

- Agent - Hosted or Private:  Hosted

## Issue Description

Cache task ignore the .artifactignore file when creating the cached set of files.

e.g.:
this build did not exclude any file when creating the cache:

https://dev.azure.com/CppBuild/CppBuildTasks/_build/results?buildId=2881&view=logs&j=

[2019-11-13 17:00] johnterickson commented on #11759
Hi @lukka - Thanks for reminding us of this.  For now, you can fall back to old behavior by setting the variable `AZP_CACHING_CONTENT_FORMAT` to `Files`.

[2019-11-13 17:13] fadnavistanmay commented on #11759
I think we should work on the glob pattern for input path - https://github.com/microsoft/azure-pipelines-tasks/issues/11219 , which will encompass the functionality that .artifactignore provides.

[2019-11-13 18:01] salvmd commented on #11588
Thanks for bringing this up. This is a bug in the task. This key is used to look up a localized string, which should be defined in the task configuration. The problem is that [this code](https://github.com/microsoft/azure-pipelines-tasks/blob/775cd939144c2c8bb03596a148358bcb223fdd9f/Tasks/Common/packaging-common/universal/ArtifactToolUtilities.ts#L83) is used in two tasks: UniversalPackages and Do

[2019-11-13 19:20] timtay-microsoft commented on #11757
I'm seeing this same issue as of 11/7

[2019-11-13 19:43] M0ns1gn0r opened #11762 "Deployment from Pipelines to Linux container doesn't copy files"
## Required Information

*Type*: Bug
**Enter Task Name**: AzureFunctionApp@1

## Environment
- Server: Azure Pipelines
- Agent - Hosted latest ubuntu

## Issue Description

**Repro:**
* Create a .NET Function App on Linux Consumption plan.
* Setup deployment in Azure DevOps Pipelines using AzureFunctionApp@1 task.
* Run the pipeline.
* Observe successful deployment in the portal without any error

[2019-11-13 19:47] salvmd commented on #11588
The issue has been fixed in code. It will get released in the next deployment of Azure Pipelines Tasks

[2019-11-13 19:47] #11588 closed

[2019-11-13 20:09] damccorm commented on #10331
;tldr - I think the Bash task is actually behaving correctly here - @nuclear0wl's most recent comment of `set +x` before `##` commands is probably the right thing to do.

@nuclear0wl @dg0yt @kentcb @germaino @Cseverance @sweekarpinto @tomtung @i0pr1m3 @lleszczu - thank you for your comments and sorry for the slow response. This was a hard problem to track down, they all helped. I think a lot of co

[2019-11-13 20:11] fadnavistanmay commented on #11291
I am closing this issue. Please feel free to re-open if it still persists.

Thanks.

[2019-11-13 20:11] #11291 closed

[2019-11-13 20:11] fadnavistanmay commented on #11229
I am closing this issue. Please feel free to re-open if it still persists.

Thanks.

[2019-11-13 20:11] #11229 closed

[2019-11-13 20:13] nodeselector commented on #1227
FYI, this still happens:

[code]
The workarounds don't seem to help.

[2019-11-13 20:35] damccorm commented on #11701
@tristanbarcelon I think right now this is something we're hesitant to increase for the reasons I mentioned above.

I'm a little confused here - won't you currently need to copy the same scripts to each pipeline that uses them? I'm not sure I understand why one is more burdensome than the other.

[2019-11-13 20:42] dg0yt commented on #10331
Any explanation why this happens only in some runs but not all of them?

[2019-11-13 20:44] damccorm commented on #10331
I haven't 100% figured that out yet, but my best guess is that I don't _think_ the ordering of the messages is guaranteed. So in the above example, the output of one run might be:
[code]
and in the next it could be:

[code]

The last one would win here

[2019-11-13 20:56] dkmiller commented on #11750
We are encountering this problem as well.

[2019-11-13 21:00] liliangc2 commented on #11750
We get the same error

[2019-11-13 21:03] KevinCust commented on #11750
FYI - I reached out to @AzureDevOps on twitter yesterday about this. Here is their most recent response:

[2019-11-13 21:51] tristanbarcelon commented on #11701
Hi @damccorm. We have one build definition/pipeline per git repo. With at least 60+ git repos in one team project, it'd be too cumbersome too cumbersome to copy these scripts and their subsequent updates to all of them. This is why we separate these scripts into task groups that are referenced in each repo's build pipeline. Script fixes are made in the task group one time and the next build will i

[2019-11-14 01:10] tomtung commented on #10331
Thanks for the clarification! I guess we made the (incorrect) assumption that `##vso` has to appear at the beginning of a line to be processed

[2019-11-14 01:16] fadnavistanmay commented on #11388
Hi @vadimcn - As John mentioned, we made a design decision to error out if the build fails, based on - since the build failed, the cache might be considered invalid.
I think, we want to keep it that way as of now, hence closing this issue.

We could re-open later if required. Thanks

[2019-11-14 01:16] #11388 closed

[2019-11-14 01:28] vadimcn commented on #11388
Seems like it wouldn't be too hard to let people override the default, but okay, it's your build servers being hammered...  ¯\\\_(ツ)\_/¯

[2019-11-14 05:32] dg0yt commented on #10331
But isn't it a reasonable assumption?
a) Consistency: It picks up everything until the end of the line, so it should start at the beginning.
b) Consistency: If you parse bash output in the bash world, you would not see the `Processed: ` prefix.
c) The documentation gives only examples which start at the beginning of the line.
d) Security: No string echoed to the console by some command should inte

[2019-11-14 05:48] ivailop commented on #11388
In a perfect world all tests would pass all the time...
However, with complexity growing test failures are very common and sometime based on how critical they are and available resources to address them they may persist in the CI for a period of time.
Does it mean in such scenarios caching (especially 3rd party dependencies) would not be possible?

[2019-11-14 07:08] ShreyasRmsft commented on #11660
@dilandau2001 turning off custom batching and re-run should solve the coverage reporting issue for you.

[2019-11-14 07:10] ShreyasRmsft commented on #11660
Once you are unblocked by making these changes we can maybe make a cloned definition and get to the RCA of what is going wrong when you have these options enabled on your current Azure DevOps onprem version

[2019-11-14 07:16] ShreyasRmsft commented on #11172
@Simon-DevOps this workaround was for the VsTest Platform Tool installer task not the VsTest task.

Can you please open a new issue for the uploading test file issues and provide the link here?

[2019-11-14 07:45] Arjan321 commented on #11750
We are facing the same issue, since the auto-upgrade from 2.159.1 to 2.160.2.
We are getting System.IO.FileLoadException loading our CLI/C++ assemblies from C# test projects.

[2019-11-14 07:55] Shortcheese commented on #11172
Hi @Simon-DevOps
Is it the same issue as I describe in issue #11292

[2019-11-14 08:14] dilandau2001 commented on #11660
This is the case 2.
Unfortunatelly I was not able to reproduce my main issue. And it is publishing coverage in all my latest tries. There is some configuration combination I had in the past that reproduced the issue more consistently.
[Case 2 - RerunOn_CodeAnalysisOff_WithRunSettings.zip](https://github.com/microsoft/azure-pipelines-tasks/files/3845311/Case.2.-.RerunOn_CodeAnalysisOff_WithRunSetti

[2019-11-14 08:18] ShreyasRmsft commented on #11660
Note: we do not support re-running of NUnit and XUnit data driven tests today due to naming convention issues.

In this case those failed data driven tests will not get re-run potentially leading to this state.

[2019-11-14 08:20] ShreyasRmsft commented on #11660
The re-run shortcomings are something we are planning on addressing in the later releases.

[2019-11-14 08:24] dilandau2001 commented on #11660
Having or not a custom batching size seems no difference in terms of coverage publishing.

Having rerun activated is the one that really make difference. With it on, Coverage results varies a lot, and also (in the past) sometimes coverage was not published at all. Unable to currently reproduce it.

The thing is we have some "flacky" tests that usually fail and rerun speeds up this blocking points.

[2019-11-14 08:30] Jyoti492 commented on #11741
I am able to connect the ACR via Service Connection only on hosted agents and on our private agents it fails with the error as below although the ACR is open for all networks.
The push refers to repository [mcpsharedreg.azurecr.io/coesd/aab-base-deploy-helm]
Get ***v2/: read tcp 10.232.61.203:43262->52.236.186.80:443: read: connection reset by peer
##[debug]Exit code 1 received from tool '/bin/doc

[2019-11-14 08:31] dilandau2001 commented on #11660
Interesting. didn't know about that.
Although I am surprised we are using special characters unless "_" is a special character. is it?

[2019-11-14 08:34] 20shivangi commented on #11656
@KatiaArroyo1
Sorry for late reply.
From the logs attached, you are running AzurepowershellV4 task. This V4 task requires az module to be installed So, you must uninstall AzureRm module and install the Az module by running command :
Install-Module -Name Az -Repository PSGallery -Force

If you want to run azureRm commands in V4 task, then you can first run command 'Enable-AzureRmAlias' and then you

[2019-11-14 08:34] Jyoti492 opened #11765 "Container Jobs fails with an issue"
Hi Team,

I am creating a multi stage container job while fetching the container from ACR via hosted agent. The pull of container works but the container refuses to run with the below error. Can some one help me with this.

Removing login credentials for mcpsharedreg.azurecr.io
/usr/bin/docker ps --all --filter id=fe872bb4785d398857c036da1c955b46c8db6da478f78c88a8f901194d385209 --filter status=run

[2019-11-14 09:12] ShreyasRmsft commented on #11660
one such sample test, it has a plus (+) in the name

MyCompany.MyProject.Vsm.WebApi.IntegrationTests.Controllers.PtzReservationControllerTests+ClosePtzConnection.WhenCloseIsCalledWithAnUnknownPtzConnectionId_ThenBadRequestExpected

[2019-11-14 09:16] ShreyasRmsft commented on #11639
@ZenoArrow when publishing the test results we look in a predefined place which is either the ResultsDirectory node (takes priority) in the runsettings or agent.temp directory if default.

We blindly pass other console options today to vstest.console.exe and cannot reliably interpret it. Infact were are advising against using other console options in favor of runsettings or first class task UI opt

[2019-11-14 09:17] ShreyasRmsft commented on #11639
Sorry for the late reply on this, this issue got lost in our internal tracking.

[2019-11-14 10:16] tjarkschwartau opened #11767 "Delete Files Task - Content-field does not support exlude pattern"
*Type*: Bug

**Enter Task Name**: Delete Files Task

## Environment
- Server - Azure Pipelines

## Issue Description

When using exclude pattern in 'contents' field of 'Delete files task' they do not work.
Files in folder:
web.dev.php
web.test.php
web.prod.php

Using pattern to delete all except 'web.dev.php':
web.*.php
!web.dev.php

Delete files task will delete all files.
Using this pattern in a

[2019-11-14 10:31] Simon-DevOps commented on #11172
Hi all, sorry for the wrong post and thank you for the reference.

[2019-11-14 10:34] TomDobbelaere commented on #9768
Lost 3+ hours on this cryptic error yesterday, is the fix available on DevOps yet?

[2019-11-14 12:15] hiyadav commented on #11740
Hey @goalie7960,
You're right, this is happening because the Agents have been updated to have latest .Net Core SDK's and CLI. This is the new behaviour in .Net Core CLI 3.0. We tend to keep the same behaviour and not change it.

However, we do understand this can be a problem when publishing multiple projects at once. For that you can do the following:

Use the `Add project name to publish path` (

[2019-11-14 12:21] frankiee88 commented on #11750
We have faced the same issue, since the auto-upgrade from 2.159.1 to 2.160.2. We have found the reason: the generated .runsettings file by the task uses single '\' instead of '\\'. See attached files.

Using the settings file with '\\' solved the issue for us.

[runsettings_2.159.1.runsettings.txt](https://github.com/microsoft/azure-pipelines-tasks/files/3846422/runsettings_2.159.1.runsettings.txt

[2019-11-14 12:29] frankiee88 commented on #11738
We have faced the same issue, since the auto-upgrade from 2.159.1 to 2.160.2. Using the original .runsettings with '\\\\' we solved the issue for us.

See related issue: https://github.com/microsoft/azure-pipelines-tasks/issues/11750

[2019-11-14 13:38] bowka commented on #7880
I am getting this issue as well. But I didn't find any solution. even this issue is closed :(
does somebody know what is causing the issue?

[2019-11-14 14:02] michaeljurek opened #11768 "dotnet restore fails with "GSSAPI operation failed with error" when running on Linux againts Azure DevOps Server"
When running .NET Core task in "dotnet restore" mode the task is not able to authenticate againts on-prem Azure DevOps Server for restoring artifacts. Server uses Windows Authentication and is not able to negotiate a protocol with client. See:
[https://stackoverflow.com/questions/58184148/docker-with-dotnet-restore-causes-error-gssapi-operation-failed-an-unsupporte](https://stackoverflow.com/quest

[2019-11-14 14:11] stan-sz opened #11770 "CacheBeta: the nuget cache keeps growing"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CacheBeta@0

list here (V# not needed):  0

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure Pipelines

- Agent - Hosted or Private:
Private
    - If using Hosted agent, provide agent queue name:

    - If using private agent, provide the OS of the machine running the agent and the agent version: OS: linux, agent:

[2019-11-14 14:28] goalie7960 commented on #11740
@hiyadav
I've tried this but it's not working quite as expected. Given I'm trying to build 2 projects with paths something like this:

:\A\B\C.csproj
:\A\D\E.csproj

What I want to happen is:

:\A\B\test_output
:\A\D\test_output

Instead I get this:

:\A\test_output
:\A\test_output

[2019-11-14 14:53] jklaus commented on #4191
@paonekumar - what did doing this do to datasync?  Does the underlying datasync schema update?  Are you having to maintain the associated triggers as well or are you just modifying the source table's columns?

[2019-11-14 15:17] damccorm commented on #10331
@dg0yt

I definitely get what you're saying here, and don't totally disagree. I think there **are** a fair amount of reasons people would want to have it begin in the middle (e.g. prefixing with description of what's happening, timestamp, etc...) and I can't speak to the history behind this decision, but at this point its somewhat moot - changing this would break a good amount of people so I don't

[2019-11-14 15:19] bcbuddy commented on #11722
OK good so it's not just me. Our build started failing as well with this exact error.

[2019-11-14 15:27] damccorm commented on #11701
Huh, that's an interesting use case. We're looking into making some of these sorts of use cases easier, so hopefully we will have a better solution soon.

One thing that would work here is having a dedicated repo for your scripts. So then, your inline script could look something like:
[code]

[2019-11-14 15:41] Jyoti492 commented on #11765
issue is resolved

[2019-11-14 15:41] #11765 closed

[2019-11-14 16:15] johnterickson commented on #11770
Thanks @stan-sz !

One thing we could take a look at now that we are preserving timestamps is https://www.nuget.org/packages/dotnet-nuget-gc

Unfortunately that uses LastAccessTime which is spotty: https://unix.stackexchange.com/questions/8840/last-time-file-opened

@terrajobst Any suggestions?

[2019-11-14 16:18] johnterickson commented on #11770
@stan-sz : Are you using a lockfile?

One ugly way is to reset on a regular basis: e.g.
[code]

[2019-11-14 16:23] johnterickson commented on #11435
@MarkKharitonov  @gnimor
Are these new builds that you are having trouble setting up or existing builds that were working break? If so, what was the change that triggered the failure?

[2019-11-14 16:45] johnterickson commented on #11435
FYI this is expected
[code]

Those are only for overriding the default of token provided to the build agent:
[code]

It looks like the location service used to allow for anonymous access and now doesn't?
e.g. in hosted this doesn't require auth: https://buildcanary.visualstudio.com//_apis/servicedefinitions/locationservice2/951917ac-a960-4999-8464-e3f0aa25b381
[code]

[2019-11-14 17:09] charitycheckout-azure commented on #11684
@bishal-pdMSFT We are now seeing the following error:

2019-11-14T15:18:05.9429239Z ##[error]Long running operation failed with status 'Failed'. Additional Info:'VM has reported a failure when processing extension 'PowershellDSCExt'. Error message: "The DSC Extension received an incorrect input: Value for password key 'registrationKeyPrivate' is missing. Please provide a valid password..

In Azure

[2019-11-14 17:14] tristanbarcelon commented on #11701
Would that work if a build is occurring for RepoA? I'm thinking out loud here because at that point in time, Build.SourcesDirectory variable for that build agent would reflect root of RepoA that was just cloned or pulled. Do you have an updated guide on how I might create custom tasks and publish them into our azure devops account?

So far, I've gathered this:

- https://github.com/microsoft/azure

[2019-11-14 17:51] #10896 closed

[2019-11-14 17:53] #10857 closed

[2019-11-14 17:57] aasim commented on #10827
The Nuget Authenticate task has been released. You can find the documentation for it here: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops.

[2019-11-14 17:57] #10827 closed

[2019-11-14 18:13] aasim commented on #10463
@salvmd @shubham90 - Zach had written this PR, can either of you get it merged to master and resolve this ticket?

[2019-11-14 18:16] aasim commented on #10420
Will work on getting the docs updated to be clear about using env vars and special chars in paths.

[2019-11-14 18:21] aasim commented on #10399
@phil-hodgson
Verify this [commit](https://github.com/microsoft/azure-pipelines-tasks/commit/da020cd5fe2b9f88d3b5c8c705f5bd02292e4ef9#diff-2167ac79815cbb9808f0d90234539acd) made it into 2019.1.0.

[2019-11-14 18:23] zarenner commented on #10463
@aasim FYI this overall issue was also blocked on getting the rhel6 variant of artifacttool deployed. However, IIRC for some reason the rhel6 variant was hitting test failures for an unknown reason so that didn't progress.

[2019-11-14 18:23] aasim commented on #10377
@satbai Can you verify if this works now for DotNetCoreCLIV2 task?

[2019-11-14 18:26] #10301 closed

[2019-11-14 18:30] #10222 closed

[2019-11-14 18:31] aasim commented on #10222
Fixed and deployed to production.

[2019-11-14 18:32] aasim commented on #10170
@magleaso Can you please verify if this has been deployed, and close this ticket?

[2019-11-14 18:43] aasim commented on #8628
@shubham90 , can you please work with @phil-hodgson to figure out if the issue is reproducible and provide a fix if it is.

[2019-11-14 18:51] aasim commented on #8479
@phil-hodgson can you please verify with an onprem deployment if this issue is reproducible?

[2019-11-14 18:52] damccorm commented on #11701
I'm not sure I follow - what is RepoA in this scenario? Doing a normal git checkout in a script shouldn't change any of your pipeline variables

This is for node, but the walkthrough is more or less the same for powershell, you just need to change your task.json to [target powershell](https://github.com/microsoft/azure-pipelines-tasks/blob/bf54869d9a6a9bca6a8896ed9e37fe9d3d367abe/Tasks/AzurePowerS

[2019-11-14 19:24] satbai commented on #10377
@aasim I don't think we have made any changes to the dotnet tasks to enable any cred providers. Can the [NuGet Authenticate](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops) task help with dotnet as well?

[2019-11-14 19:30] jperl opened #11775 "Azure DevOps Pipeline much slower than CircleCI and GitHub Actions"
Getting a response from theinternet docker service is very slow in comparison to github actions and circleci.

https://dev.azure.com/perljonathan/qawolf/_build/results?buildId=54&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=9c939e41-62c2-5605-5e05-fc3554afc9f5

[Azure](https://dev.azure.com/perljonathan/qawolf/_build/results?buildId=54&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=9c939

[2019-11-14 20:00] aasim commented on #10824
Hi - We have recently released the NuGetAuthenticate task that can be used in a pipeline to authenticate with Azure Artifacts and other NuGet repositories. The design philosophy behind this task is that we would authenticate all the repositories you describe in this task, and get out of the way leaving you fully in control of running your `nuget` or `dotnet` commands in the pipeline as you see fit

[2019-11-14 20:09] magleaso commented on #10170
Verified the versions I bumped to in these PRs have been surpassed in prod. Closing

[2019-11-14 20:09] #10170 closed

[2019-11-14 22:16] aasim commented on #10791
Hi - We have recently released the NuGetAuthenticate task that can be used in a pipeline to authenticate with Azure Artifacts and other NuGet repositories. The design philosophy behind this task is that we would authenticate all the repositories you describe in this task, and get out of the way leaving you fully in control of running your nuget or dotnet commands in the pipeline as you see fit.

Y

[2019-11-14 22:24] AArnott commented on #10791
Thanks. I've already [switched all my repos to that task](https://github.com/AArnott/Library.Template/commit/5ee62bfe3556f392e9e1bfddcf2b25fd640e2b9e) (or rather, the underlying cred provider).

[2019-11-14 22:24] #10791 closed

[2019-11-14 22:54] aasim commented on #8897
Hi - We have recently released the MavenAuthenticate task that can be used in a pipeline to authenticate with Azure Artifacts and other Maven repositories. The design philosophy behind this task is that we would authenticate all the repositories you describe in this task, and get out of the way leaving you fully in control of running your mvn commands in the pipeline as you see fit.

You can read

[2019-11-14 22:54] #8897 closed

[2019-11-14 22:55] #10824 closed

[2019-11-14 22:56] aasim commented on #9110
Hi - We have recently released the MavenAuthenticate task that can be used in a pipeline to authenticate with Azure Artifacts and other Maven repositories. The design philosophy behind this task is that we would authenticate all the repositories you describe in this task, and get out of the way leaving you fully in control of running your mvn commands in the pipeline as you see fit.

You can read

[2019-11-14 22:56] #9110 closed

[2019-11-14 23:01] aasim commented on #7908
Hi - Can you provide us with more information regarding this issue? We have released newer tasks since 2018 which might be able to help you with this. Let me know your requirements and reopen this issue, and we can work on a resolution for you.

Aasim

[2019-11-14 23:01] #7908 closed

[2019-11-14 23:05] aasim commented on #7316
Hi - We have recently released the NpmAuthenticate task that can be used in a pipeline to authenticate with Azure Artifacts and other Npm repositories. The design philosophy behind this task is that we would authenticate all the repositories you describe in this task, and get out of the way leaving you fully in control of running your npm commands in the pipeline as you see fit.

You can read more

[2019-11-14 23:05] #7316 closed

[2019-11-14 23:18] aasim commented on #8672
This has been fixed and released as part of this design: https://github.com/Microsoft/azure-pipelines-yaml/blob/master/design/artifacts-in-pipelines.md#authentication-1.

The new NpmAuthenticate task uses environment variables to authenticate feeds. You can read more about this task here: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/npm-authenticate?view=azure-devops

[2019-11-14 23:18] #8672 closed

[2019-11-14 23:21] Damag3d commented on #5125
Good job! We'll test it.

[2019-11-15 04:51] MarkKharitonov commented on #11435
Well, the anonymous does not work for on-premise. However, I do not understand why even try anonymous. If there is no account name, no token and no AAD, then it must be an on-premise installation. If so, the `-UseDefaultCredentials` makes much more sense, then `-UseBasicParsing`.

[2019-11-15 05:18] DrWala opened #11776 "WAR deploy fails with error"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-11-15 05:28] dilandau2001 commented on #11660
Hi.
In our unit test file format we create a new class per function to test.

class Unitestclass()
{
      classs FunctionToTest()
      {
              [Fact]
              public void Test()
              {
              }
      }
}

during vstest phase, those test are translated in the log as
Unitestclass+FunctionToTest.Test()

That is something that the vstest is doing by itself. Anyway, I don

[2019-11-15 07:26] chernovol commented on #11684
Moring @bishal-pdMSFT Can you help us with the above as this is a huge blocker for us

[2019-11-15 07:32] hiyadav commented on #11740
You must be getting
:\A\test_output\C
:\A\test_output\E

However, if this doesn't solve your case and you absolutely need it to work like it used to work in .NET Core 2.2 and below, then you can use UseDotNetV2 task to download .NET Core SDK 2.2 or one of your preference. It will then provide you with old functionality.

[2019-11-15 07:41] xtrc commented on #11578
Is there a current workaround for this?

[2019-11-15 08:47] reshmaparate opened #11779 "issue with donet publish task"
Bug
dotnet publish task

We are using Azure Pipelines.

Error Logs:
********************************************************************
Downloading binary from https://github.com/sass/node-sass/releases/download/v4.9.3/win32-x64-72_binding.node
  Cannot download "https://github.com/sass/node-sass/releases/download/v4.9.3/win32-x64-72_binding.node":

  HTTP error 404 Not Found
********************

[2019-11-15 09:15] anuj-shukla commented on #11779
I'm also facing the same issue with VS 2017  hosted agent.

[2019-11-15 09:21] bneumann commented on #10670
We have this too and it's quite an annoyance:

[code]

We are starting like so:

[code]

Would be good to see if there are any good workarounds

[2019-11-15 10:15] Roman-Rostovtsev commented on #11573
It looks like the issue was fixed in the new version of VSTest task, thanks

[2019-11-15 10:29] aelray commented on #9470
We have a similar problem, when running make from a Powershell Task on a Windows 10 host: Writes to StdErr are sometimes ignored.

[2019-11-15 11:16] stan-sz commented on #11770
We are not using a lockfile. We rely purely on `ProjectReference`s.

[2019-11-15 12:10] ZenoArrow commented on #11639
Thanks for the reply @ShreyasRmsft , good to know where the VS Test task is looking for test results to publish.

Your advice led me to find the problem I had, turns out it was just a missing character in the path. After changing this...

`/Logger:"trx;LogFileName=$(Common.TestResultsDirectory)$(Build.BuildNumber)_Unit_Test_Results.trx"`
... to this...

`/Logger:"trx;LogFileName=$(Common.TestResul

[2019-11-15 12:39] ghelyar commented on #11623
I had the same problem. Some documentation would be nice, even if it's just here: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops

This github issue is the only thing I've found at all that mentions using `$env:servicePrincipalId`

Also, it would be nice if it said that this was the app id specifically, and not the object id of either the enterprise

[2019-11-15 12:54] bishal-pdMSFT commented on #11684
@chernovol I am not right person for PowerShell DSC extension. As per @hanif-everycity 's [comment](https://github.com/microsoft/azure-pipelines-tasks/issues/11684#issuecomment-553445312) VMSS image update works if PowerShell DSC extension is not installed. The culprit is this extension and you should try to fix it. Unfortunately I can't help with this extension.

[2019-11-15 13:43] shashankbarsin commented on #11316
@jldeen during testing we found that there was a minor issue with https://github.com/microsoft/azure-pipelines-tasks/pull/11735 because of which the task was timing out. The missing 'v' before 2 in the condition check was causing that issue.

@Anumita has fixed this in https://github.com/microsoft/azure-pipelines-tasks/pull/11769/files. This has been tested. She's merged this to m160 as well via h

[2019-11-15 13:43] #11316 closed

[2019-11-15 13:44] droessmj commented on #11578
Internally, our workaround has been just to live with it for the time being.

[2019-11-15 13:49] sinistram commented on #10375
@TingluoHuang  any news?

[2019-11-15 14:09] jldeen commented on #11316
@shashankbarsin Thank you for the update! Good catch on the `v` - I made an assumption the code had `v` baked in and the task just used the numbers. Thanks @Anumita for fixing this and getting this pushed into m160 ASAP. Will keep posted until the changes are live in all rings.

[2019-11-15 14:34] goalie7960 commented on #11740
No that's not what's happening, it's working like I specified.

But I have implemented the UseDotNetV2 and that has solved the problem until I have more time to address the problem.

[2019-11-15 14:36] zachariahcox commented on #9470
@damccorm, is there a way to fail on all stderr writes?

[2019-11-15 14:39] damccorm commented on #9470
@zachariahcox @fredrikaverpil we have a failOnStdError option that should work - https://github.com/microsoft/azure-pipelines-tasks/blob/410b4edce0cf1a4bae4d96bae6c70268dc7565de/Tasks/BashV3/task.json#L88

[2019-11-15 15:06] aelray commented on #9470
@damccorm we are using failOnStderr but it still doesn't fail sometimes.

[2019-11-15 15:22] damccorm commented on #9470
@aelray any chance you're able to share a repro? If the PowerShell script itself writes to stderr then we should be catching it, its possible PowerShell (and/or Bash) is swallowing error from an external tool though, there's not anything we can do about that since we intentionally don't modify the scripts we run.

[2019-11-15 16:19] azooinmyluggage commented on #11316
Thanks @jldeen

[2019-11-15 17:01] jotaylo commented on #11768
Our advice going forward is to use the [NuGetAuthenticate](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops#dotnet) task, followed by dotnet restore (or dotnet build directly). This task uses the new credential provider, which bypasses NuGet/dotnet's NTML behaviour.

[2019-11-15 18:20] fadnavistanmay commented on #11529
Hello, I am closing this issue. Please feel free to re-open in case it still persists.

Thanks.

[2019-11-15 18:20] #11529 closed

[2019-11-15 18:22] fadnavistanmay commented on #11759
Hi @lukka - We are going to track this here - https://github.com/microsoft/azure-pipelines-tasks/issues/11219 - support for globing for caching task.

Thanks.

[2019-11-15 18:22] #11759 closed

[2019-11-15 18:23] fadnavistanmay commented on #11259
Hi folks,

Just wanted to circle back and check if @aasim 's fix resolved the issue for you @rmetzger .

Thanks

[2019-11-15 18:38] jahsu-MSFT commented on #11689
@damccorm This is owned by pipeline team.

[2019-11-15 19:26] avivanoff opened #11784 ""Download Pipeline Artifacts" is missing output variable BuildNumber"
## Required Information
**Type**: Bug

**Task Name**: Download Pipeline Artifacts

## Environment
- Azure Pipelines

## Issue Description
"Download Pipeline Artifacts" task does not have the output variable BuildNumber that makes it impossible to get the id of the build the artifact was downloaded from.

"Download build artifacts" task have this output variable.

[2019-11-15 19:59] aasim commented on #10242
Hi @jbockle - Are you still experiencing this issue? We have deployed fixes to this code since June, where we preserve the user's selection of Guid or names. Can you retry your pipeline and let me know if this is working as expected. If not, let us know here and we can diagnose this issue further.

[2019-11-15 20:10] aasim commented on #8309
@jpaa07 Are you still seeing this issue? If yes, can you do a more recent run with debug logs and attach the logs here?

[2019-11-15 20:12] terrajobst commented on #11770
I thought pipelines will throw the machine's state away when the build is complete. Is that not the case?

@rrelyea what do you think CI servers should do avoid unbounded growth?

[2019-11-15 20:15] fadnavistanmay commented on #11770
Hi @terrajobst " Ithought pipelines will throw the machine's state away when the build is complete. Is that not the case?" -> In this case, it's a self-hosted agent, so the machine will be reused.

[2019-11-15 20:18] terrajobst commented on #11770
Gotcha, I missed that. Yeah, it seems you'll want a similar way to nuke build state, unless you have a lot of trust in your ability to not accidentally depend on machine state between runs 😄

[2019-11-15 20:21] aasim commented on #7160
Hi @Postlagerkarte - sorry for the delay, but I think we do have a solution to your original issue now.

We have recently released the NuGetAuthenticate task that can be used in a pipeline to authenticate with Azure Artifacts and/or other NuGet repositories. The design philosophy behind this task is that we would authenticate all the repositories you describe in this task, and get out of the way l

[2019-11-15 20:24] aasim commented on #10720
The fix has been committed in PR [10782](https://github.com/microsoft/azure-pipelines-tasks/pull/10782). It should be deployed with the next release of TFS.

[2019-11-15 20:39] damccorm commented on #11689
Whoops, @jahsu-MSFT was bulk triaging and didn't read closely enough, sorry about that - I think there are actually probably questions for both me and the artifacts team here. I'll answer for what we own, then defer the rest to you.

@JohnTortugo Basically, I think the artifact.upload command is more or less doing what you want it to do here, but you shouldn't make artifactName unique. Full docs a

[2019-11-15 20:45] jahsu-MSFT commented on #11689
@damccorm I don't really understand you assumption. Maybe there is some misunderstanding here. We don't own file container or the download build artifact task. For Build artifacts, it's owned by Leah's team I believe.

[2019-11-15 20:47] damccorm commented on #11689
Looks like its actually Lova's team, that's my mistake - https://github.com/microsoft/azure-pipelines-tasks/blob/f0bf16d78cba90d72e3ed1bff4a187f6929e2343/.github/CODEOWNERS#L176

Do you know who a good point of contact for that team is at this point? Maybe @omeshp

[2019-11-15 20:51] jahsu-MSFT commented on #11689
@damccorm From my understand, Lova's team used to own build artifacts task but now it's owned by Leah's(pipeline) team but you can double check with them. And from what I heard Omesh has moved to a different team and is no longer working on build artifact tasks.

[2019-11-15 20:55] damccorm commented on #11689
Huh, ok. Assigning to @leantk - if that's wrong please let me know. Would also appreciate it if you could update https://github.com/microsoft/azure-pipelines-tasks/blob/master/.github/CODEOWNERS for easier routing

[2019-11-15 21:22] jahsu-MSFT commented on #11689
Looking at the top of this issue, @Lovakumar  already tried to re-assign this ticket to pipeline team but maybe just assigned to a different sub team.

[2019-11-15 21:25] michaeljurek commented on #11768
Will the NuGetAuthenticate task work for on-premises Azure Devops Server? Will it work on all suporteds OSes? With which Azure Devops Server will it be included?
Thanks,
Michael

[2019-11-15 21:45] damccorm commented on #11779
Hi @reshmaparate  - could you be a little more specific with the task causing this? Is it the DotNetCoreCLI? Would also be helpful to have a repro if you're able to share one.

[2019-11-16 00:58] Wo1fie commented on #9245
Is this not supported by Azure DevOps Server 2019 1.0 or 1.1RC?  I appear to be experiencing this issue using 1.0 and after upgrading to 1.1RC.

[2019-11-16 02:29] jwisener commented on #8655
I too am having this issue and agree @saikrishnav , once again, why does the task configurations state the options are in minutes?

![image](https://user-images.githubusercontent.com/135758/68986571-403f8a80-07e6-11ea-8852-5433b530c9ee.png)

I guess, ms forgets we are trying to provide business values and meet deadlines, so just saying "go implement threading" so it can take more time is a crazy t

[2019-11-16 02:51] jwisener commented on #8655
@bansalaseem  how can this be executed with "agent base job", we run our own agents on our own servers, But I don't see that "azure function task" available when I add an agent based job.

@vithati My apologies and with all due respect, but if that link is what you consider documentation for setting up this polling background thread monitoring, then whoever is in charge of "documentation" for Azur

[2019-11-16 12:52] twsI commented on #7160
This is not really a sastisfying solution to the issue. I expect the dotnet commands to work just like on my own machine. Having to use workarounds is quite annoying.

[2019-11-16 13:03] pl-pack-01 commented on #11684
We are also experiencing this issue is.

[2019-11-16 13:52] tanwarsatya commented on #11316
Looks like it’s fixed now

[2019-11-16 14:38] ShreyasRmsft commented on #11639
Please use a [runsettings ](https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019) file and not a testsettings file as testsettings is deprecated.

You can use environment variables in the ResultsDirectory node in the runsettings. The task expands the env vars in the results directory node.

[2019-11-16 21:27] IvanovOleg opened #11785 "KubernetesManifestV0 support deployment to multiple namespaces"
**Question, Bug, or Feature?**
Feature

**Enter Task Name**: KubernetesManifest

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name:

[2019-11-16 21:32] avivanoff opened #11786 ""Download build artifacts" task "Matching pattern" is case-sensitive on Windows"
**Type**: Bug

**Enter Task Name**: Download build artifacts

## Environment
- Server - Azure Pipelines
- Agent - Private, Windows Server 2019, 2.160.0.

## Issue Description

The "Matching pattern" of "Download build artifacts" task is case-sensitive on Windows.

[2019-11-17 13:42] Koshak118 opened #11787 "MavenV3 task ends with success even if mvn fails with return code 1"
*Type*: Bug

**Enter Task Name**: Maven3
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/MavenV3

## Environment
- Server - Azure Pipelines
    Athenat/Athena, Pipeline Name: Integration Tests

- Agent: Private:
Ubuntu 16.04, 2.160.0

## Issue Description

MavenV3 task ends with success even if mvn fails with return code 1
Regardless the maven process exit code task is always

[2019-11-18 02:13] ThomasManson opened #11788 "NuGetCommand@2 not using the project name in the vstsfeed"
*Type*: Bug

**Enter Task Name**: NugetCommand
## Environment
- Azure Pipelines
  Account name: VSOGD
 Team Project: BUMA-Productivity
 Build Definition: 2385
Build Number: https://vsogd.visualstudio.com/BUMA-OperatorProductivity/_build/results?buildId=223552

- Agent
  Hosted

## Issue Description
This is the task that is failing:
`- task: NuGetCommand@2
  displayName: 'Buma-dev Restore'
  inputs

[2019-11-18 04:56] ThomasManson commented on #11788
This appears to be an issue since project-scoped feeds have been introduced, and new feeds created through the UI can only be project scoped.
https://docs.microsoft.com/en-us/azure/devops/artifacts/feeds/project-scoped-feeds?view=azure-devops

[2019-11-18 05:35] bishal-pdMSFT commented on #11684
@pl-pack-01 you mean you are also hitting PowerShell DSC extension error?

[2019-11-18 05:41] bishal-pdMSFT commented on #11768
@jotaylo, as a workaround, would using "NuGet tool installer" task to installer required version of Nuget.exe work?

[2019-11-18 05:56] Ajay-MS commented on #11723
@DanniJuhl

I am unable to repro the issue from my end. Can you please share the email Id so that we can have a call to better understand the scenario.

[2019-11-18 05:58] bishal-pdMSFT commented on #11623
We can evaluate whether doc/help text needs to get updated.

[2019-11-18 07:23] michaeljurek commented on #11768
@jotaylo It will not work. New version of NuGet comes with "ValidAuthenticationTypes feature" that can possibly solve my problem but the Pipeline task is not using it.

[2019-11-18 07:40] shashankbarsin commented on #11785
The Azure option of K8s service connection is designed in such a way that it'll create ServiceAccount and RoleBinding objects to only allow the service account to operate on a specific namespace. The task interface is designed accordingly to align with this mapping between namespace and service connections. Do not want to support multiple namespaces within the task as a result.

To deploy the same

[2019-11-18 07:40] #11785 closed

[2019-11-18 08:08] ShreyasRmsft commented on #11639
Closing this issue, please keep a watch out for the Results directory input in the task which should simplify things.

[2019-11-18 08:08] #11639 closed

[2019-11-18 08:29] hiyadav commented on #11740
Hey @goalie7960 ,

Glad to know you're unblocked. I would like to investigate why the other method not work for you, can mind sharing the pipeline logs when you tried using the `Add project name to publish path (modifyOutputPath in YAML)` and it did not create sub directories inside the output path.

You can paste the logs here, or send it over to hiyada@microsoft.com

[2019-11-18 08:42] eaarora-ms commented on #11287
@senthilkungumaraj  Are you still facing this issue?

[2019-11-18 08:55] chernovol commented on #11684
Hi @bishal-pdMSFT
who is the right person for PowerShell DSC extension? can such person be attached to the ticket?
or should we create a ticket under another repo? if so where is a right place for the ticket?

[2019-11-18 09:01] eaarora-ms commented on #10815
@TWJH  Are you still facing this issue?

[2019-11-18 09:11] TWJH commented on #10815
@eaarora-ms Yes I am.

[2019-11-18 10:03] anuj-shukla commented on #11779
In my case it is related to version of  @angular/cdk which is internally using node-sass. Upgrading @angular/cdk helped in resolving the issue.

Also, It seems MS has upgraded the build agent VS 2017 for node which caused the earlier working builds to stop working.

[2019-11-18 10:05] aelray commented on #9470
@damccorm I think that would be difficult. We're using GNU make from Powershell to build a C/C++ project. During translation of the individual C/C++-files to object files the Powershell Task detects writes to Stderr. However, in the final linking step (linking object files to an executable) writes to Stderr are not detected. I tested it on my local machine, and when I pipe Stderr to  a file it is

[2019-11-18 11:19] reshmaparate commented on #11779
@damccorm
Yes, it is DotNetCoreCLI.

In Azure Devops build pipelines, I am facing this issue in dotnet publish task, which is based on DotnetCoreCLI , executing the publish command for dotnet builds.
While publishing, the task is trying to restore the node-saas version 4.9.3 from URL https://github.com/sass/node-sass/releases/download/v4.9.3/win32-x64-72_binding.node , which is not available. If w

[2019-11-18 11:45] FrancescElies commented on #11588
@salvmd Wouldn't it have been better to close the issue after the next deployment? When is it going to take place?

[2019-11-18 13:21] #10988 closed

[2019-11-18 13:34] damccorm commented on #11779
@anuj-shukla that sounds like it might be a different issue - would you mind filing image specific issues in https://github.com/microsoft/azure-pipelines-image-generation?

Adding release tag so that they can take a look at the dotnetcorecli issue

[2019-11-18 13:52] pl-pack-01 commented on #11684
I apologize for the ambiguous comment. To clarify, we have VMSS nodes that continue to fail with error messages similar to the ones mentioned above. We have gotten the following; Reports of failing provisioning when it appears that provisioning was successful, Reports of failing provisioning with an error message about the DSC Extension timing out, and Reports of failing provisioning with error me

[2019-11-18 14:17] goalie7960 commented on #11740
@hiyadav Sent

[2019-11-18 15:01] wouterroos commented on #3521
Hi,

Responsing to this thread since I got a similar issue when attempting to deploy a service that uses the new ManagedIdentities tag in the ServiceManifest.xml:

`System.InvalidOperationException: There is an error in XML document (18, 6). ---> System.Xml.Schema.XmlSchemaValidationException: The element 'Resources' in namespace 'http://schemas.microsoft.com/2011/01/fabric' has invalid child elem

[2019-11-18 15:38] StephenLarkin commented on #11722
I think that this is actually something on node-sass's end. I've been seeing this issue cropping up occasionally as well. It seems to happen whenever a new version of node-sass is released. The reason that I think it might be something that node-sass is doing is that it just happened to one of our new starters when they first tried to clone an older version of our repo.

It's something that I've b

[2019-11-18 15:45] tylersouthard commented on #10838
I ran into this as well. The workaround works OK, but it's dicey to do on Windows when the agent is running as the Network Service user...

The task really needs to support multiple known host entries.

[2019-11-18 16:10] TabithaLarkin opened #11790 "Npm task is caching custom commands incorrectly"
## Required Information

**Type**: Bug

**Task Name**: Npm@1

## Environment
### Server - Azure Pipelines
**Account Name**: Xceptor
**Team Project Name**: Xceptor
**Build Definition**: Xceptor-Scans-Sonar-Cloud
**Build Id**: 36697

### Agent - Hosted
**Agent Pool**: Default
**Agent OS**: Windows
**Agent Version**: 2.160.0

## Issue Description
When completing a Pull Request where some npm tasks ar

[2019-11-18 16:27] PeteBoucher commented on #11368
try
`- script: |
    python -m lambda`
to invoke lambda as a python module

[2019-11-18 17:02] jotaylo commented on #11768
@bishal-pdMSFT Yes, because there are breaking changes between various versions of NuGet.exe, we don't update the version of NuGet.exe distributed with the NuGetCommand task. Using the NuGetToolInstaller task to select the version of nuget to use is the recommendation.

@michaeljurek NuGetAuthenticate will work for on-premises Azure Devops Server and on all supported OSes. I believe it will be ava

[2019-11-18 17:28] fadnavistanmay commented on #11784
Adding @jahsu-MSFT .

Which version of download pipeline artifact task are you using. This has been fixed in version 2 .

e.g:
![image](https://user-images.githubusercontent.com/43892780/69075205-c4ac2c00-09e5-11ea-9ca0-cd23cdd0d342.png)

[2019-11-18 18:04] jahsu-MSFT commented on #11784
@avivanoff The build Id should be printed out in the logs. Where do you expect to get the build Id from?

[2019-11-18 19:30] avivanoff commented on #11784
@jahsu-MSFT, I expect it to be available as an output variable, see "Download build artifacts" task:

![image](https://user-images.githubusercontent.com/29612120/69083317-7c056a80-0a07-11ea-8f3c-3b5cf5a2ff87.png)

[2019-11-18 20:15] kelleec commented on #11300
i am having the same problem - @saxenark were you able to figure this problem out?

[2019-11-18 21:10] salvmd commented on #11722
Redirecting since this is an issue related to the version of node shipped in the agents and not Artifacts.

[2019-11-18 22:14] johnterickson commented on #11770
Removing bug label as task is performing as expected. Leaving open to discuss tooling for NuGet.

[2019-11-18 22:19] johnterickson commented on #11259
It looks like `##[debug]Processed: ##vso[task.logissue type=error;]The path provided is invalid.` is being thrown when there are either:
1. No files
2. directory doesn't exist
3. Bad characters in the path

We should clarify in the exception

[2019-11-18 22:21] johnterickson commented on #11034
Sample is added to https://github.com/fadnavistanmay/azure-pipelines-caching-yaml which we will later align with docs

[2019-11-18 22:21] #11034 closed

[2019-11-18 23:42] gneely-credera opened #11792 "Pipeline variable works in one stage but not the other"
## Required Information

**Type**: Bug

**Enter Task Name**: AzureResourceGroupDeployment@2

## Environment
- Server - Azure Pipelines

    - Acct: locumtenensdotcom1
    - Team Project Name: clinician portal
    - Build Def Name: Release Pipeline
    - Release-75

- Agent - Hosted

    - Agent Version: 2.160.1
    - Agent Machine Name: fv-az433

## Issue Description

We are using an ARM Template

[2019-11-19 00:37] bhanu7755 commented on #8309
@aasim  I don't know if @jpaa07 is still facing the issue but I'm still getting that. I'm attaching logs
[logs_51782.zip](https://github.com/microsoft/azure-pipelines-tasks/files/3861331/logs_51782.zip)

[2019-11-19 00:57] chshrikh commented on #11300
@kelleec as of now we don't support using 'deployment pool' ( deployment group pool) in deployment job, you need to use regular pool only in deployment job

[2019-11-19 05:25] tristanbarcelon commented on #11701
Hi @damccorm , if i create a repo with 2 or more custom tasks and want to bundle them as part of an extension, what should the folder structure look like? Likewise, what do I need (in terms of permissions, marketplace account, etc) to make these custom tasks visible in our azure devops organization? Should I be using `tfx extension share` or `tfx extension publish` account?

[2019-11-19 05:41] eaarora-ms commented on #11150
@ahughes257  Are you still facing this issue?

[2019-11-19 07:02] aserraric commented on #10513
We're having these warning as well.

Running Update 1 (Dev17.M153.4) with VS2019

[2019-11-19 07:12] mehmetaltuntas commented on #6894
Hi, I do get the same error via GUI.
Urgent fix pls.

![Capture](https://user-images.githubusercontent.com/322457/69124485-1c3abc80-0af8-11ea-927f-a64657db6bb0.PNG)

[2019-11-19 07:16] mehmetaltuntas opened #11795 "Azure Devops - Add a kubernetes service connection Secret error message"
Hi,
I have added a secret which was taken out from GCP command shell and pasted into the textbox and here is the error.
3225 character.
Error: The string must have at least one character. Parameter name: endpoint.Authorization.Parameters[apitoken]
Screenshot attached. Cannot fix it.
![Capture](https://user-images.githubusercontent.com/322457/69124826-a8e57a80-0af8-11ea-966a-3143e372ed18.PNG)

[2019-11-19 07:33] ahughes257 commented on #11150
There was no build issue locally it only happens withing the build pipeline
therefore I have removed the classifications from the database project
completely due to the issue.

So I am unsure if this issue still exists or not. I would suggest that you
set up your own database project and test the classification key words work
within the build task.

Kind regards

Aaron

On Tue, 19 Nov 2019, 05:41

[2019-11-19 08:11] pgeschwill commented on #10191
@gabriel-a

I can confirm that adding the pathToSources input in the yml solved the issue on my end.

However, I found it pretty confusing that the ReportGenerator only runs if the path is specified. It would be nice to have more descriptive log output from Azure DevOps.

[2019-11-19 09:05] #11242 closed

[2019-11-19 09:13] 20shivangi commented on #11672
@brushwood24
The issue has been fixed in PR : https://github.com/microsoft/azure-pipelines-tasks/pull/11778
It has been merged and it is fixed in new azure powershell version i.e. 5.162.0
It will take at least 3-4 weeks for the change to get deployed.

[2019-11-19 09:15] 20shivangi commented on #10880
@BevanG Feel free to re-open the issue if you are facing any

[2019-11-19 09:15] #10880 closed

[2019-11-19 10:18] abelkbil commented on #10242
i do see the same issue

[2019-11-19 10:46] VitalyDukhota commented on #9157
Same please - I need cache control from v10.

[2019-11-19 10:54] RoopeshNair commented on #9157
We are planning to pick this up in next couple of sprints. Please stay tuned, will update once we have more details

[2019-11-19 12:03] ShreyasRmsft commented on #11750
I believe we have a regression when "run only impacted tests" is selected. We will get the RCA at the soonest and hotfix the task in the next few days. Stay tuned here for updates.

[2019-11-19 12:05] ShreyasRmsft commented on #11750
As for

We have already hotfixed this and the update should reach all accounts in the next 2-3 days.

[2019-11-19 12:24] jayaranigarg commented on #11738
@Lawls91: Please try the resolution suggested by @frankiee88 and let us know if that works for you!

[2019-11-19 12:44] #11256 closed

[2019-11-19 12:54] Gitrathirad opened #11803 "Task Delete files is not able to delete files if the path brackets ( "[" and "]" )"
Bug:
**Enter Task Name**:  Delete files

## Environment
- The issue can be reproduced on both Azure DevOps Server  2019 update 1 and  Azure Devops service.

## Issue Description

The Delete file task is unable to delete contents of a shared folder on the agent machine if there are braces ( "[" and "]" ) in the file path. The logs doesn’t contains any errors, can this issue be classified as bug. If

[2019-11-19 13:47] chernovol commented on #11684
@bishal-pdMSFT @damccorm
Any update?

[2019-11-19 16:38] ShreyasRmsft commented on #11750
I have identified the issue and have made the fix. Will post the hotfix deployment status here once i start the process

[2019-11-19 16:46] ShreyasRmsft commented on #11660
@dilandau2001 sorry got busy the last few days, will get back to this in a bit. Apologies again.

[2019-11-19 16:48] ShreyasRmsft commented on #11660
I will need to testplatform diag files present in the build logs zip to confirm what the names of tests returned by the testplatform and the adapter are. Could you please upload the full zip for this scenario Case 2 - RerunOn_CodeAnalysisOff_WithRunSettings_SuccessWithFails.zip

[2019-11-19 18:20] pfjonesey commented on #9117
In our case the Use NuGet version task fails on the build (log output below).  Is there any fix for this yet?

##[section]Starting: Use NuGet 5.3.1
==============================================================================
Task         : NuGet tool installer
Description  : Acquires a specific version of NuGet from the internet or the tools cache and adds it to the PATH. Use this task to change

[2019-11-19 19:28] avivanoff opened #11804 ""Download Pipeline Artifacts" task fails on UNC artifacts"
**Type**: Bug

**Enter Task Name**: "Download Pipeline Artifacts"

## Environment
- Server - Azure Pipelines
 - Agent - Private, 2.160.1

## Issue Description

Using "Download Pipeline Artifacts" task to download UNC-base drop artifact results in error:

`Microsoft.TeamFoundation.Build.WebApi.BuildArtifact is not of type PipelineArtifact, FileShare or BuildArtifact`

The artifact was published usi

[2019-11-19 20:30] Pwd9000-ML commented on #8655
Hello everybody.
I am another person on the list here who wants to see an improvement here.
Since PowerShell core is now in GA for function apps I am utilising this opportunity to use function apps to perform certain tasks on infrastructure on the azure platform.

Stop / start of VMs for example, build agents, dockerized  build agent containers and so forth.

My function app works perfectly as I’m

[2019-11-19 20:51] Lawls91 commented on #11738
As I said in my original post when I first posted it:

We currently have a runsettings file committed to bypass this issue, but i believe this should be resolved and reviewed as it broke our live CI environment

[2019-11-19 21:11] jwisener commented on #8655
I just dropped down into power shell to make the function call to work around this issue

[2019-11-19 21:25] KevinCust commented on #11750
If something like this occurs in the future, is there a way we can force the pipeline to use a specific previous **minor** version of the task?

In this instance, making it use 2.159.1 would have been an easy workaround until the hotfix version was published.

[2019-11-19 21:29] Pwd9000-ML commented on #8655
@jwisener
Can you clarify what you mean?
Are you invoking the function app using PowerShell using invoke-restmethod?

[2019-11-19 21:49] jwisener commented on #8655
@Pwd9000-ML yes, invoke-webrest

Just look at the ps snippet from (link below) on warming up server, except it will be calling ur azure function http trigger. Assuming it’s an http trigger based.

Link: https://www.finai.com/en/newsroom/how-to-deploy-warm-up-an-application-in-azure-using-vsts/

[2019-11-19 21:52] jwisener commented on #8655
@Pwd9000-ML this article too:

https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/invoke-webrequest?view=powershell-6

[2019-11-19 22:10] Pwd9000-ML commented on #8655
@jwisener
That’s a good method to get the app warmed up but I don’t think this is a suitable solution for a serverless Azure DevOps task. The task you’re running is on an already running agent.
I think my use case is similar but I’m needing to warm up the function from an Azure severless job to actually start the build agent I’m running other builds on.
Unless there’s a method/task available to in

[2019-11-19 22:17] mdobric commented on #10829
I tried this as well as setting the language version value to "latest" but neither worked in the pipeline.

[2019-11-19 22:29] jwisener commented on #8655
@Pwd9000-ML i agree. That was just used as a guide on how i could put the power shell together to call our azure function via rest and get back the correct response.

I am not sure what your end goal is, but mine was run some operations to get data setup for specific purposes.

I do run self hosted agents, so I wasn’t constrained to be agent less.

My apologies that was no help to you.

[2019-11-20 03:44] apobekiaris commented on #11388
this is really counter productive should I reconstruct my cache every time until my step pass? or should I hack my way to it?

[2019-11-20 06:45] bishal-pdMSFT commented on #11684
@chernovol I do not have any contact with PowerShell DSC extension. I did a quick internet search and found this [page](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-windows). You might want to use support section there.

[2019-11-20 06:45] bishal-pdMSFT commented on #11684
Closing this issue as it is not in VM Scale set deployment task

[2019-11-20 06:45] #11684 closed

[2019-11-20 07:50] eaarora-ms commented on #11592
@marcantoinetalbot I am assuming the issue should have been fixed by the newer version. Are you still facing this issue?

[2019-11-20 08:26] eaarora-ms commented on #11287
Closing. Please re-open if you face any further issues.

[2019-11-20 08:26] #11287 closed

[2019-11-20 08:35] itorian commented on #11493
Any update ?

[2019-11-20 09:36] ShreyasRmsft commented on #11750
@KevinCust this is something we've actually thought about before.

There are a few limitations though, a simple roll back is not possible. As of today if i wanted to rollback i would have take the old task package change the task version to something greater than what is present and deploy a hotfix the make the change. And this generally can be completed in 4-5 hours tops. And we have done this on

[2019-11-20 10:25] jochenvanwylick opened #11808 "Azure CLI classic task seems to only evaluate first line in 'inline script' mode"
I'm under the impression that the Azure CLI task ( in the classical editor ) - in 'inline script' mode, evaluates only the first line of the script in Azure.

Steps to recreate:

- Create classic pipeline
- Add Azure CLI task
- Add two lines of 'az group list' for instance:
- ![image](https://user-images.githubusercontent.com/3002474/69230214-1dff9100-0b87-11ea-8050-808193b42da6.png)
- Observe out

[2019-11-20 11:21] gpad opened #11810 "Script in container is not exectued as root"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-11-20 11:31] eaarora-ms commented on #11493
@itorian  I am sorry for the delay in response. I just tried to run the task and I was able to do that successfully. Sharing the YAML  script and a few points due to which the issue could be occurring.

YAML sinnept:

[code]

My folder format:

[code]

Can you tell me if this was of any help?

[2019-11-20 11:33] eaarora-ms commented on #11493
So basically the project path should be: $(System.DefaultWorkingDirectory)/{your_project_name}/{your_zip_folder_name}

[2019-11-20 11:36] eaarora-ms commented on #11493
2019-11-20T11:29:01.1408454Z Task         : File transform
2019-11-20T11:29:01.1408490Z Description  : Replace tokens with variable values in XML or JSON configuration files
2019-11-20T11:29:01.1408514Z Version      : 1.156.3
2019-11-20T11:29:01.1408551Z Author       : Microsoft Corporation
2019-11-20T11:29:01.1408574Z Help         : https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/

[2019-11-20 11:41] gpad opened #11811 "Npm Task fail to install packages"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-11-20 13:09] itorian commented on #11493
thanks for the update.

[2019-11-20 13:09] #11493 closed

[2019-11-20 13:39] ShreyasRmsft commented on #11750
This has been hotfixed for all accounts. You will find the fix in task version 2.160.4 or 2.161.2 and above. Please let me know if you are able to turn on test impact and get things going again. And thank for you bringing this to our notice.

Please note that by adding the "Area: Test" tag you can get the issue routed to us much sooner and reduce the delay for a response.

[2019-11-20 14:12] Spikrit commented on #11750
I gave it a go and can confirm v2.160.4 works as expected while looking for impacted tests again :

[code]

[2019-11-20 14:19] chernovol commented on #11684
@pl-pack-01 Totaly agree with you!

@bishal-pdMSFT @damccorm @vincent1173 @hiyadav @ds-ms @luweilevi @jahsu-MSFT
Can somebody help us?

[2019-11-20 14:23] niadak commented on #11678
@grik001 , This is not a known issue. Can you please share the debug logs for the failed task?

[2019-11-20 16:16] damccorm commented on #10013
Hey @Banner-Keith sorry for the slow response - I can look at making this change, but would also love a PR fixing that if you're up for it - thoughts?

[2019-11-20 16:22] damccorm commented on #10073
I'm a little confused by what you're trying to do here - any chance you could share the yml file you're using? It seems like the environment variable is indeed getting populated - I'm not quite clear what you're trying to do that is behaving differently than you're expecting, a pointer would be helpful

[2019-11-20 16:26] damccorm commented on #10156
Hey, it sounds like this is an agent issue - could you please log it at https://github.com/microsoft/azure-pipelines-agent? That way it gets routed correctly.

I'm going to close here since this isn't a tasks issue, if you think it should be reopened feel free to comment and we can reopen.

[2019-11-20 16:26] damccorm commented on #10156
Hey, it sounds like this is an agent issue - could you please log it at https://github.com/microsoft/azure-pipelines-agent? That way it gets routed correctly.

I'm going to close here since this isn't a tasks issue, if you think it should be reopened feel free to comment and we can reopen.

[2019-11-20 16:26] #10156 closed

[2019-11-20 16:30] damccorm commented on #10279
This is a dupe of the issues we have in the task-lib and also is probably not a bug - there was no performance degradation. I'd say lets follow up in https://github.com/microsoft/azure-pipelines-task-lib/issues/517 and https://github.com/microsoft/azure-pipelines-task-lib/issues/516

[2019-11-20 16:30] #10279 closed

[2019-11-20 16:39] damccorm commented on #10319
This looks like it is probably an environment specific/powershell bug. Given that, I'm pretty hesitant to change how we do this since there are some subtle differences between `Invoke-Expression` and `Start-Job` and I'm not 100% certain that wouldn't break other people.

[2019-11-20 16:40] damccorm commented on #10345
@alucardu does this still repro for you? I'm going to close for now, please comment if its still an issue

[2019-11-20 16:40] #10345 closed

[2019-11-20 16:42] Banner-Keith commented on #10013
@damccorm Thanks for the reply. I'd be happy to get a PR out there. I don't seem to have permissions to create a branch on this repository. Could you let me know the best way to proceed so I can get my PR out there?

[2019-11-20 17:07] navin22 commented on #11292
@Shortcheese and @andersthorsen Please check this issue in the latest version of vstest 2.160.1 and let us know if there are any issues.

[2019-11-20 17:29] damccorm commented on #10013
Sure, the best path is to fork the repository, make your changes in the fork's master branch, and then create a PR from that fork. When you make your updates, there should be a "Create PR" button on your fork's github page right below the commits banner

![image](https://user-images.githubusercontent.com/42773683/69262363-5e640c80-0b91-11ea-9daa-5b0eb5cf5292.png)

[2019-11-20 17:36] damccorm commented on #10375
@sinistram are you able to confirm that its getting written to the file correctly? Are you able to reproduce this using something other than powershell (e.g. the cmdLine task)?

[2019-11-20 17:37] damccorm commented on #10422
Closing since we didn't get a response on this. If this is still an issue feel free to comment with the info requested and we can reopen.

[2019-11-20 17:37] #10422 closed

[2019-11-20 17:41] damccorm commented on #10588
This is working as designed. Secrets are meant only to mask exact matches - e.g. if you mask `abc`, the following output:

[code]

should result in:

[code]

If people are able to arbitrarily run a script, they can just arbitrarily manibulate/send the secret anyways, at that point our security boundary has already been crossed. Closing since I don't think this is an issue, please comment if you th

[2019-11-20 17:41] #10588 closed

[2019-11-20 17:44] damccorm commented on #10670
This looks like its the same issue as https://github.com/microsoft/azure-pipelines-image-generation/issues/740 - I'm going to close and we can follow up there - I think there's not much we can do from our side unfortunately as I've explained in that issue.

[2019-11-20 17:44] #10670 closed

[2019-11-20 17:46] damccorm commented on #11135
Not sure how much we can do about this - it looks like you are indeed just running out of memory. I think the only real option here is to spin up a self-hosted agent with more memory. Any reason to think that we shouldn't be getting this error here?

[2019-11-20 17:49] damccorm commented on #11290
@Headley76 could you try setting a pipeline variable `agent.retainDefaultEncoding` to true and see if that fixes it?

[2019-11-20 17:52] damccorm commented on #11297
Hey @rghodki - it looks like another process has a lock on some of the things in your destination folder so we're not able to remove it. Could you make sure that no other processes are doing this? Antivirus systems often behave similarly to this.

Another thing you could try is running `rm -rf` on your destination folder in a previous step. Right now, I think this is as designed - we don't force d

[2019-11-20 17:54] damccorm commented on #11360
Hey @freeone3000 - could you provide the following info:
- What machine this is running on? It looks like you said hosted, which pool?
- If possible could you provide a link to a repro build with system diagnostics turned on? Or at least share the logs/relevant yml file?

[2019-11-20 17:56] damccorm commented on #11422
Hey @Robjam - I'm not able to reproduce - are you still experiencing this issue? Could you provide an example build by chance?

[2019-11-20 18:13] ohadschn commented on #10319
That's fair, but in order to unblock people who face this, perhaps you could enable some switch that uses `Start-Job` instead?

[2019-11-20 18:13] dominikfoldi commented on #11135
We are having a self-hosted agent with tons of memory but getting the same error.
Our solution was to use a hosted Ubuntu agent, because the problem does not exist there.

[2019-11-20 18:25] damccorm commented on #11604
Hey @robkott sorry for the slow response - the reason this isn't working is that powershell accepts _ as part of a variable name. So its trying to read the above as `$(major_)$(minor_)$(release_)$(revision)`. Just saying `Write-Host "##vso[task.setvariable variable=FullU;isOutput=true]1_2_3_4"` works fine. See my repro here - https://dev.azure.com/damccorm-repros/setVariable/_build/results?buildId

[2019-11-20 18:26] damccorm commented on #11604
I'm going to close since this doesn't seem like a bug, please comment if you have further issues and we can reopen

[2019-11-20 18:26] #11604 closed

[2019-11-20 18:28] damccorm commented on #11576
This looks like an issue with the interaction between the 7z tool and the artifacts on your machine - I don't think there's anything we can do on our side here unfortunately. I'd recommend verifying that you can manually extract some of the 7z files, I'm guessing they're somehow corrupted or not extractable by 7z

[2019-11-20 18:28] damccorm commented on #11576
I'm going to close since I don't think there's anything we can do here, please comment if you think it should be reopened.

[2019-11-20 18:28] #11576 closed

[2019-11-20 18:29] damccorm commented on #11537
This is the same issue as https://github.com/microsoft/azure-pipelines-tasks/issues/10331 - see discussion there.

[2019-11-20 18:29] #11537 closed

[2019-11-20 18:38] damccorm commented on #11468
Hey @sepich - having the `js` intermediary doesn't keep it from getting propogated unless you intentionally swallow the SIGINT - I'm able to verify on my end that we're not doing this, so it has to be something downstream which is swallowing it.

Verifying by running `kill 2338` only verifies that you're listening correctly to SIGTERM events, not necessarily SIGINTs, I'd verify with SIGINT instead

[2019-11-20 18:44] damccorm commented on #10336
@ankit-nitd-zz it looks like your build has expired - could you share another repro?

[2019-11-20 18:48] damccorm commented on #10165
Hey @mjscosta - this looks like it might be the same issue as https://github.com/microsoft/azure-pipelines-tasks/issues/10331

Could you try running `set +x` at the start of your script? If that doesn't work, could you try queuing a build with system diagnostics turned on and sharing the output?

[2019-11-20 18:58] damccorm commented on #11271
I got a repro of this and it looks like its working correctly. Output - https://dev.azure.com/damccorm-repros/shellscriptCwd/_build/results?buildId=242&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=dd349f25-7095-58cb-1ea1-12e8abf37d4a

My yml file - https://dev.azure.com/damccorm-repros/_git/shellscriptCwd?path=%2Fazure-pipelines.yml&version=GBmaster

This doesn't look like a bug to me

[2019-11-20 18:59] damccorm commented on #10331
I'm going to close since I think this is a no-op on our end. Please comment if you think it should be reopened

[2019-11-20 18:59] #10331 closed

[2019-11-20 20:04] robkott commented on #11604
So the 1, 2, 3, 4 are just place holders for this bug. In my actual script, they are computed values.

I was able to make it work using this:
`Write-Host "##vso[task.setvariable variable=FullU;isOutput=true]$($major)_$($minor)_$($release)_$($revision)"`

[2019-11-20 20:18] JonathanBaileyTC commented on #8655
So here's something that I thought should work, using **Callback** as the completion event, and using [this documentation](**https://docs.microsoft.com/en-ca/azure/devops/pipelines/tasks/utility/azure-function?view=azure-devops#qa**) as a guide

[code]

The Invoke Azure Function task does not time out after 20 seconds, but now does not complete at all:

[code]

where it's been stuck now for ~17 mi

[2019-11-20 20:48] damccorm commented on #10295
@stephenmichaelf could you take a look? I think we just need to special case this one.

[2019-11-20 21:02] bayological commented on #3996
Try Write-Host "##vso[task.setvariable testvar=Abhinav]"

[2019-11-20 21:09] damccorm commented on #11767
I think you want:
[code]

These are just the filenames, but when we do the matching, they get appended as part of the whole path. So in the above case, what we are actually trying to match is:

[code]

and the match doesn't work in that context. The pattern I shared should do the job though.

[2019-11-20 21:09] damccorm commented on #11767
I'm going to close since I think this is working as expected, please feel free to comment if you disagree

[2019-11-20 21:09] #11767 closed

[2019-11-20 21:15] damccorm commented on #10319
My instinct is that we probably shouldn't do that. Any time we add an option like this it has to live until we major version the task (which rarely happens). As a policy, we don't add options for individual customers to avoid bloat.

If you feel like you really need this, you can always install a custom version of the task that behaves like you desire.

[2019-11-20 21:19] damccorm commented on #11135
That's probably just a difference in how windows/linux tools are implemented then - from our side there's no difference in how we invoke them. Again I think there's not a whole lot we can do there.

[2019-11-20 21:25] dilandau2001 commented on #11660
After some more investigation you are right.

Those xunit test that make use of [Theory] attribute won't be found during rerun slice and so they are considered correct even though they are not, completelly missleading build results.

This is because the name of the test is not scaping the "(" and ")" that the theory introduces to test names. (Those that just include the + character works fine)

Th

[2019-11-20 21:48] ohadschn commented on #10319
Actually I can't, it's on msazure where I'm not an admin and the admins will never agree to this...
I wonder if an upgrade to PowerShell 6 will solve this, but we may never know as these systems are on a deprecation path :)

[2019-11-20 21:56] damccorm commented on #10319
Not totally sure what you mean there, but I'm not sure if the PowerShell upgrade would solve the issue or not.

Concerning not having admin access, you could also go the route of starting the job from a command line script.

I think I'm going to close here since this seems like a no-op on our end, let me know if you disagree/we should reopen

[2019-11-20 21:56] #10319 closed

[2019-11-20 21:59] damccorm opened #11812 "test - ignore"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-11-20 21:59] #11812 closed

[2019-11-20 22:03] damccorm commented on #11803
This is the same problem as https://github.com/microsoft/azure-pipelines-task-lib/issues/585 - please see there for discussion and https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/file-matching-patterns?view=azure-devops#escaping for guidance on doing this

[2019-11-20 22:03] #11803 closed

[2019-11-20 22:03] damccorm commented on #11810
Hi, this looks like an issue with our agent not our tasks - would you mind filing it in https://github.com/microsoft/azure-pipelines-agent?

[2019-11-20 22:03] #11810 closed

[2019-11-20 22:25] ohadschn commented on #10319
Pretty sure starting `powershell.exe` from the commandline task had its own problems, but none of these are my problems anymore, so no objection from me to closing this.

[2019-11-20 22:25] jasonchester commented on #11517
this is extra frustrating when you consider that `kubectl kustomize ./base` reorders the output putting image above name. this task is pretty much unusable with kustomize at this point

[2019-11-21 01:53] weidongxu-microsoft commented on #11271
@damccorm
Thanks for the investigation.

Our current CI yaml https://github.com/Azure/azure-sdk-for-java/blob/master/eng/pipelines/mgmt.yml
Script that yaml calls https://github.com/Azure/azure-sdk-for-java/blob/master/eng/pipelines/scripts/mgmt_sdk_compiler.sh
Output of CI https://dev.azure.com/azure-sdk/public/_build/results?buildId=192579&view=logs&jobId=572c5e49-83d5-5271-390a-e6dc77f89c6b&j=5

[2019-11-21 03:28] damccorm commented on #11271
Huh, interesting. Could you try a run with system diagnostics enabled?

[2019-11-21 03:33] weidongxu-microsoft commented on #11271
Run with system diagnostics enabled
https://dev.azure.com/weidxu/testCwd/_build/results?buildId=14&view=logs&j=572c5e49-83d5-5271-390a-e6dc77f89c6b&t=ce15895e-78ad-5525-f978-6dca7b73c3f9

[2019-11-21 04:43] bishal-pdMSFT commented on #11768
@michaeljurek does this work around work for you?

[2019-11-21 04:44] nguyenlamlll commented on #8786
Hi, I've run into the same problem and here's my workaround to `specify` a CocoaPods version.

Create a script task of the type you prefer. Here I create a Powershell script task. Uninstall the current version and install a desired one.
[code]

[2019-11-21 04:47] TheLayman commented on #11730
@onovotny  Thanks for reporting this!
This issue has been fixed and the changes have been deployed recently.
Please feel free to reach in case you still see this issue.

[2019-11-21 04:47] #11730 closed

[2019-11-21 05:14] DanniJuhl commented on #11723
@Ajay-MS - You can catch me on daju (at) inspari dot dk

For good measures, here's the repro steps:

1. Use Azure SQL Database Deployment task in release pipeline
2. Connect to Azure through Service Connection
3. Use Active Directory - Password authentication type
4. Specify server, database, login and password (parameters in my case)
5. Set Deploy Type to SQL Script File
6. Reference .sql file fr

[2019-11-21 05:37] 20shivangi commented on #11713
Closing this issue.

[2019-11-21 05:37] #11713 closed

[2019-11-21 05:40] mehmetaltuntas commented on #11795
Apparently the MS website does not contain the same UI fields

https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml#sep-kuber

[2019-11-21 06:10] eaarora-ms commented on #9017
We have a new task for updating connection strings: https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureAppServiceSettingsV1 now.
I hope this solves your query.

[2019-11-21 06:10] #9017 closed

[2019-11-21 06:12] eaarora-ms commented on #9040
We have moved to JSON parsing now in the new task which should resolve this error:
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureAppServiceSettingsV1
Closing this.

[2019-11-21 06:12] #9040 closed

[2019-11-21 06:13] eaarora-ms commented on #10357
Solved in new task : https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureAppServiceSettingsV1
Closing this.

[2019-11-21 06:13] #10357 closed

[2019-11-21 06:56] lindgrend opened #11814 "AzureResourceGroupDeploymentV2 - Multiple deploys detected"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-11-21 07:50] desaiprerak commented on #11722
hi, Is there any progress on the issue fix? This is getting escalated now

[2019-11-21 07:58] Headley76 commented on #11290
I tried it, but not successfully :-(

[2019-11-21 08:05] michaeljurek commented on #11768
@bishal-pdMSFT It will not work. New version of NuGet comes with "ValidAuthenticationTypes feature" that can possibly solve my problem but the Pipeline task is not using it.

[2019-11-21 08:10] pieterv-icloud-com opened #11816 "HelmDeploy@0 fails but the helm upgrade succeeds"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-11-21 08:11] pieterv-icloud-com commented on #11816
Forgot to add, using helm 3.0.0

[2019-11-21 08:18] niadak commented on #11621
@brushwood24  The issue is still there in V4.159.3 version when "Powershell Core" option is enabled and we are fixing the issue in V5 task and the task will be available in next update.

There is no easy workaround for V4.159.3 version if you want to use PowerShell-Core option.

@rajcheval , Which version of the task you are using? You can upload the new version of the task to the TFS 2019 instanc

[2019-11-21 08:27] ShreyasRmsft commented on #11750
Apologies again for the break and thank you everyone for reporting this and being patient while we patched it up.

[2019-11-21 08:27] #11750 closed

[2019-11-21 08:54] pieterv-icloud-com commented on #11816
When system.debug is enabled on the pipeline, debug information is written to the error output as you can see here:

##[error]history.go:52: [debug] getting history for release hello-world-api
upgrade.go:79: [debug] preparing upgrade for hello-world-api
upgrade.go:87: [debug] performing update for hello-world-api
upgrade.go:225: [debug] creating upgraded release for hello-world-api
client.go:149:

[2019-11-21 09:02] #11816 closed

[2019-11-21 09:33] eaarora-ms commented on #11410
@Philo Sorry for the delayed response.  I can see that an extra variable named 'Slot' is being passed in the pipeline when Swap Slots is selected, but the default value for the parameter is set to production which I don't see will cause an error even if it is called (although it is not).
Are you still facing the issue after the version update of the task? If yes could you please share the full log

[2019-11-21 09:43] EnriGrossi opened #11818 "The active test run was aborted. Reason: Unable to communicate with test host process."
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Visual Studio Test (VsTest)

## Environment

- Server - TFS on-premises
- Agent - Private (agent version: '2.153.9')

## Issue Description

Running test step is aborted with this message: `The active test run was aborted. Reason: Unable to communicate with test host process`

I have no further information about what this failure

[2019-11-21 09:46] eaarora-ms commented on #11410
@Philo  I understand your issue that an extra variable named 'Slot' is being passed in the pipeline when Swap Slots is selected. However, since we are not using the Slot variable anywhere it should not throw an error agreed. I will look into it and get back to you.

[2019-11-21 09:48] eaarora-ms commented on #11410
Able to repro the issue. Looking into it.

[2019-11-21 09:48] wouterroos opened #11819 "VSTS task "Update Service Fabric Manifests" removes <ManagedIdentities> tag from ApplicationManifest.xml"
Hi,

After executing the "Update Service Fabric Manifests" task in Azure Pipelines, the `<ManagedIdentities>` tag is removed from the enclosing `<Principals>` tag. I use the task to update the manifest versions.

Regards,

Wouter

[2019-11-21 10:09] gpad commented on #11811
Just to give you some information I have discovered that the issue is caused by the presence in the `pacakage.json` of a package defined in git `"react-edit-inline": "bynhanpham/ReactInlineEdit"` this is legal entry and should be managed by this task ...

[2019-11-21 10:44] mickael-caro-sonarsource opened #11822 "[Gradle Task] Output class dir for JaCoCo is not settable"
Hi There,

I noticed that the configuration field for classFileDirectories (https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/GradleV2/task.json#L133) is not visible because of a bad visibleRule. Is this intentional ?

And, the default value for this one is not anymore right since Gradle 4 (https://docs.gradle.org/4.0/release-notes.html#location-of-classes-in-the-build-directory

[2019-11-21 10:55] wouterroos commented on #11819
So, it turns out that the issue is actually caused by SF's MSBuild tooling 'cleaning' the manifest. I suspect that the sdk/tooling version in Azure Pipelines is not yet updated with a version that supports these tags so they are removed. Running the same MSBuild command on a machine that does have the latest sdk/tooling does not remove the tags.
As a workaround you can update the `.sfproj` files w

[2019-11-21 10:55] #11819 closed

[2019-11-21 11:40] andersthorsen commented on #11292
@navin22 Tested using the Visual Studio Test installer (latest) and it works great. Our pielines suddenly lost their ~5-10 minute delay and test results are visible in AzureDevOps again !

Thanks!

[2019-11-21 11:50] #11292 closed

[2019-11-21 12:19] ShreyasRmsft commented on #11660
I can understand your position. We have it in our backlog to see if we can some how workaround this limitation from our end. But we don't have an exact estimate of when we will be picking it up.

[2019-11-21 13:49] jalajmsft commented on #11623
Updated the help text/readme/docs in PR [11826](https://github.com/microsoft/azure-pipelines-tasks/pull/11826).

[2019-11-21 13:55] rsitrifork commented on #11808
For some reason, it helps to write "call" in front of every line when running az commands on windows. Something to do with bash, it is slightly mentioned in the help popout for the inline script.

[2019-11-21 14:04] rsitrifork opened #11827 "Universal Packages Download Fails"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadPackage@1

## Environment
Azure Pipelines, Hosted Agent, vs2017-win2016

Code from external git, task denifition via UI as a result

## Issue Description
I added a download artifact task. The task UI allows me

[2019-11-21 14:25] gykuma commented on #11786
@avivanoff This behavior is by design. We allow users to publish artifacts with same name but different casing. Since, users can select a particular artifact for download, we need to honor the pattern's casing regardless of agent OS.

[2019-11-21 14:25] #11786 closed

[2019-11-21 14:48] jalajmsft commented on #11808
@rsitrifork is absolutely right here. For windows agent batch script whereas for Linux based agent shell script gets executed.  For batch files use the prefix "call" before every azure command.

**For Azure CLI v1 version**:

You can find details in the tooltip for the InlineScript field in the classic editor.

[2019-11-21 15:24] avivanoff commented on #11786
@gykuma, how do you expect Windows users, who are used to decades of case-insensitive file system names, deal with this? Does it say anywhere in documentation that we now have to pay attention to file casing?

[2019-11-21 16:41] nexaddo commented on #11827
I'm experiencing the same error with a newly created feed from the UI

[2019-11-21 17:24] panmanphil commented on #11827
Also here
`
An unexpected error occurred while trying to download the package. Exit code(19) and error({"@t":"2019-11-20T22:36:40.2603764Z","@m":"The feed with ID 'xxxxxxxxx-b8c7-785d641d3a66' doesn't exist.","@i":"02ddb25b","@l":"Error","SourceContext":"ArtifactTool.Program","UtcTimestamp":"2019-11-20 22:36:40.260Z"})
`

[2019-11-21 18:11] gykuma commented on #11786
@avivanoff, I understand this can be a problem. However, making the pattern match case-insensitive will cause compat issues. Also, this task is no more actively maintained.

Can you please give a try to the new [Publish Pipeline Artifacts task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-pipeline-artifact?view=azure-devops) for publishing the artifact and [Downloa

[2019-11-21 21:25] placidseven commented on #11656
Either remove AzureRM modules from pipelines or add the Aliases. I tired of microsoft not managing their own environments. I don't have time to manage code in 3 different environments!

[2019-11-21 21:27] brwilkinson commented on #11713
@20shivangi  @bradwillis

I'll keep an eye out for the 3.0.0 update.

I am waiting on AZ 2.8.0 or greater so that I can use zero length copy loops in my deployment templates.

[2019-11-21 21:31] avivanoff commented on #11786
@gykuma, if you are saying that artifact names are case-sensitive, you may want to look into [this](https://developercommunity.visualstudio.com/content/problem/830077/changing-pipeline-artifact-name-to-the-one-that-di.html) issue.

[2019-11-21 23:41] avivanoff commented on #11786
@gykuma, unfortunately, [Download Pipeline Artifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops) task [does not work with UNC shares](https://github.com/microsoft/azure-pipelines-tasks/issues/11804).

[2019-11-22 03:41] jalajmsft commented on #11814
Can you set the variable "System.debug" with value "true". Redeploy and share logs at RM_Customer_Queries@microsoft.com

[2019-11-22 05:37] 20shivangi commented on #11671
@winstonhenke
This issue has been fixed in new AzurePowerShell version i.e. 5.162.0 . It will take at least 3-4 weeks to get deployed.

[2019-11-22 05:53] ShreyasRmsft commented on #11818
@EnriGrossi how often is this happening?

In your runsettings please set the

`<DisableAppDomain>` node value to true.

Links for help on why and how to do this:

https://github.com/microsoft/vstest-docs/blob/master/RFCs/0019-Disable-Appdomain-While-Running-Tests.md
https://github.com/microsoft/vstest-docs/blob/master/docs/configure.md

[2019-11-22 06:18] jayaranigarg commented on #11738
@frankiee88  @Lawls91 : Apologies for the inconvenience. We have fixed this issue in 2.160.4 version of task.
2.160.4 version of task has been rolled out and should have been auto-upgraded by now. Please let us know if that fixes the issue for you!

[2019-11-22 06:37] 20shivangi commented on #11636
@smartini Any update ?

[2019-11-22 07:43] 20shivangi commented on #11592
@marcantoinetalbot Can you please share the debug logs by setting system.debug to true ?  Alos, please try the new version of AzurePowerShellV4 and let us know if you are still facing the same issue in new version.

[2019-11-22 07:52] 20shivangi commented on #11656
@placidseven
It is a recommendation that Az and AzureRm modules both must not be installed on the same machine and if you are using AzurePowerShellV4, then you have to install Az module.
But in case, you want to run azureRm commands in AzurePowerShellV4, you have to run command 'Enable-AzureRmAlias' and then execute your script.

If you only want to run azureRm commands, the you must use AzurePowe

[2019-11-22 07:59] EnriGrossi commented on #11818
@ShreyasRmsft the problem is repetitive.

I've already tried to use `<DisableAppDomain>` (you can also see this tag in the log)

Thank you very much.
Enri

[2019-11-22 08:21] ShreyasRmsft commented on #11818
Could change the advanced diagnostics option to collect dump Always and see if you can get a memory dump when the crash occurs?

From the logs it seems like the testhost is crashing during assembly cleanup or during appdomain tear down. This generally happens when the tests leave a handle to some resource open or some thread is still running.

[2019-11-22 08:41] eaarora-ms commented on #11762
@M0ns1gn0r Hi, I am sorry but I am not able to repro the issue. I followed your exact steps and the function app is deployed, the functions are displayed on the portal and can be executed.
Can you check if your package is correct and if the issue continues please share the pipeline logs with system.debug set as true.

[2019-11-22 08:41] EnriGrossi commented on #11818
I've already enabled diagnostic log to connect dump:

![image](https://user-images.githubusercontent.com/12607857/69410808-14ebfc80-0d0c-11ea-8364-a13a541b9e83.png)

but no dump file is created in the set folder

[2019-11-22 08:54] eaarora-ms commented on #11749
@siromega Hi, can you please share the complete pipeline logs with system.debug set as true?

[2019-11-22 09:05] eaarora-ms commented on #11704
@ansariwn Can you please provide the pipeline logs with system.debug set as true.

[2019-11-22 09:07] ShreyasRmsft commented on #11818
Can you please enabled the option in the task. Right now from the logs it is set to collect on abort only. Set it to always

![image](https://user-images.githubusercontent.com/25194518/69412796-973ce680-0d35-11ea-9c3e-30e0bfce6d66.png)

[2019-11-22 09:22] M0ns1gn0r commented on #11762
@eaarora-ms still reproduces, the package is correct because the deployment works from VS Code.

Here is the log: [DeploymentLog.txt](https://github.com/microsoft/azure-pipelines-tasks/files/3878791/DeploymentLog.txt)

[2019-11-22 10:07] EnriGrossi commented on #11818
Here the dump file:

[testhost_8076_65a00340dc484ce2a63e02724f4d281a.zip](https://github.com/microsoft/azure-pipelines-tasks/files/3878988/testhost_8076_65a00340dc484ce2a63e02724f4d281a.zip)

Thank you again
Enri

[2019-11-22 10:35] dilandau2001 commented on #11660
Ok.
We will stop using rerun in the meantime.
Thanks for the feedback.

[2019-11-22 10:35] #11660 closed

[2019-11-22 10:36] mousiefasil opened #11830 "ERROR: When trying to pull from docker hub. Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Bug

**Enter Task Name**: here

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
Azure Pipelines
Agent-Hosted ubuntu-latest

## Issue Description

During docker build and push, when an imag

[2019-11-22 11:06] ansariwn commented on #11704
@eaarora-ms please see below:

On rows 23 and 115 the password is hidden with '***' characters, however, on rows 140, 144 and 147 the password is visible. This is because the password string contains '$' (Dollar) sign.
[code]

[2019-11-22 11:14] ShreyasRmsft commented on #11660
Just a thought, you could split your tests into 2 runs and enabled re-run on the ones which are not data driven.

[2019-11-22 11:20] ShreyasRmsft commented on #11818
I'm unable to see anything that i could read in the dump, with the pdbs on your machine if any of your test code was still running you should be able to see some thread with code you might recognize, then again it could be some native handle.

[2019-11-22 11:21] ShreyasRmsft commented on #11818
Would it be possible for you to share a sample repro project with us where we could reproduce this locally? This issue seems very specific to your test code.

[2019-11-22 11:25] vithati commented on #11751
@giggio, This is logging issue, Are you seeing any issue during execution?

[2019-11-22 11:47] eaarora-ms commented on #11704
Thanks! I will get back to you with the solution.

[2019-11-22 12:45] satano opened #11831 "Publish test results using 'dotnet test' (DotNetCoreCLIV2) is not working behind corporate proxy"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLIV2

## Environment

- Server - Azure Pipelines
- Agent - Private:
  - Current agent version: 2.160.1
  - Agent runs as a service
  - Windows 10 Enterprise (1903)
  - Latest Visual Studio Community is insta

[2019-11-22 13:26] winstonhenke commented on #11671
Thanks!

[2019-11-22 14:03] kaiskhalifa opened #11832 "AzureDevops : Can not run tests from TestPlan based builds"
Hello,

I can't figure out how to run TestPlan based builds in AzureDevops

We have this test plan which contains manuel tests linked to automated tests
![image](https://user-images.githubusercontent.com/36271336/69431641-6d38f380-0d38-11ea-8a66-60dc6fa59aa5.png)

And we have scheduled a build:
![image](https://user-images.githubusercontent.com/36271336/69431781-b5f0ac80-0d38-11ea-8a54-02c3bb90e9e

[2019-11-22 14:11] ScottLangham commented on #11804
I need this too.

[2019-11-22 14:12] jochenvanwylick commented on #11808
Hi @rsitrifork and @jalajmsft - thanks the response, and I'm sure that will solve the issue. I actually read that though and didn't consider it because of the 'for batch files, use ...'. I since I was doing an inline script it wasn't applicable. But you're wrapping the inline script in batch then I suppose.

![image](https://user-images.githubusercontent.com/3002474/69432629-5d221380-0d3a-11ea-831

[2019-11-22 16:02] jalajmsft commented on #11792
Hey @gneely-credera from the logs it seems like there is no variable defined by  **_uat-sql-server-admin-password_**. I am referring to this line in the attached logs

Usually, the variables are substituted by their respective values in the logs, unless the variable is not defined in the pipeline. `**Note:** Please mark your passwords as 'secret variable' to avoid it getting logged as plain text.`

[2019-11-22 16:11] gneely-credera commented on #11792
Howdy @jalajmsft !

Here's the variable in the Library:
![image](https://user-images.githubusercontent.com/55994115/69441330-c0468280-0d07-11ea-8cc7-f9e33814afd6.png)

Additionally, in my troubleshooting above, I get a similar issue running a dev version of that variable (dev-sql-server-admin-password), even though that dev variable works successfully in the development environment deployment task

[2019-11-22 17:22] cawoodm opened #11833 "Need a displayName for a task"
It seems currently impossible to provide a readable description to a task. This would be helpful - at the moment we just see e.g. "PowerShell".

Formerly we were using the `powershell` step...
[code]
...but this only works on Windows so we switched to a double step...
[code]
...which is ugly so we switched to the `PowerShell@2` task:
[code]
Which is gravy but now we see only "PowerShell" instead o

[2019-11-22 17:25] cawoodm opened #11834 "Show Readonly Variables when Running Pipeline Manually"
When creating a variable which cannot be changed at runtime it would nevertheless be useful to *see* the variable at runtime.

![image](https://user-images.githubusercontent.com/498834/69446728-55bc3380-0d55-11ea-8e56-09111c319d7a.png)

![image](https://user-images.githubusercontent.com/498834/69446709-4ccb6200-0d55-11ea-8dc7-33f99b1614eb.png)

Run pipeline:
![image](https://user-images.githubuser

[2019-11-22 17:33] giggio commented on #11751
Yes, it is different to run `helm install` with the variable and the `HelmDeploy@0` task. You get different behaviors.

This is how I'm running it now:

[code]

[2019-11-22 18:12] #11556 closed

[2019-11-22 19:51] sharno opened #11835 "[DownloadPipelineArtifact@2] Unclear error `Input string was not in a correct format`"
## Required Information

*Type*: Bug/Feature

**Enter Task Name**: DownloadPipelineArtifact

## Issue Description

Using this task, I get an error `Input string was not in a correct format` which doesn't indicate which field exactly is wrong, I tried changing the pipelineId to be with quotes (not sure where should I get the pipelineId from too) but it doesn't solve it.

I would prefer if there was

[2019-11-22 20:03] MattGal opened #11836 "Node exited with code 130 from cmdline task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CmdLine (2.151.2)

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
Azure Pipelines
Account

[2019-11-22 20:53] damccorm commented on #11833
You should still be able to use displayName. So it would be:
[code]

[2019-11-22 21:06] damccorm commented on #11836
Exit code 130 means SIGINT. That's also consistent with the other error we see here:

![image](https://user-images.githubusercontent.com/42773683/69460040-1e438c00-0d41-11ea-9ac9-68c6ee560002.png)

It looks like for some reason the agent was killed mid-run. @stbeam it looks like this was a hosted agent - any reason it would've sent a cancellation to the agent?

[2019-11-22 23:14] jahsu-MSFT commented on #11804
@avivanoff  Can you show me your build def and logs for uploading and downloading the artifact?

[2019-11-22 23:41] avivanoff commented on #11804
@jahsu-MSFT, how do you want me to share it with you?

[2019-11-22 23:50] jahsu-MSFT commented on #11804
@avivanoff yes, I'm trying to understand the scenario you are talking about. You can remove the parts that might contain private info or sensitive data.

[2019-11-23 00:12] avivanoff commented on #11804
@jahsu-MSFT, most of the logs contain data I do not want public.

Scenario is as this:

1. Build "A" publishes artifact UNC "drop" using "Publish drop artifact" task.
2. Build "B" tries to download artifact "drop" from the latest build "A" using "Download pipeline artifact" task.

[2019-11-23 00:14] jahsu-MSFT commented on #11804
Could you tell me the specific task name and version for publishing the UNC drop? It's written in the logs I believe.

[2019-11-23 08:42] avivanoff commented on #11804
@jahsu-MSFT, here you go:
[code]

[2019-11-23 10:54] CasperNaudts opened #11837 "msBuild version 16 required for xamarin.iOS build"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-11-23 11:01] ScottLangham commented on #11804
I can share mine too if you need more info. Here's the failing download log:

`2019-11-22T13:56:22.2164691Z ##[section]Starting: Download Pipeline Artifact
2019-11-22T13:56:22.2698002Z ==============================================================================
2019-11-22T13:56:22.2698146Z Task         : Download Pipeline Artifacts
2019-11-22T13:56:22.2698177Z Description  : Download build and p

[2019-11-23 11:09] ScottLangham commented on #11804
If I use the rest api to get json for the artifact, it looks like the following. (I've anonymized values in CAPS):

{
  "count": 1,
  "value": [
    {
      "id": ---ARTIFACT ID--,
      "name": "drop",
      "source": "---GUID---",
      "resource": {
        "type": "filepath",
        "data": "\\\\--SERVERNAME--\\--PATH--",
        "properties": {},
        "url": "https://dev.azure.com/--ORAGN

[2019-11-24 09:46] ShreyasRmsft commented on #11832
@kaiskhalifa can you upload the entire builds logs zip please (this can be obtained by clicking on download all logs in the summary page)?

Is this onprem or hosted? Also can you create a new test plan with a single test suite and test case and try to see if this works?

Also provide the full zup logs where this works on demand.

[2019-11-24 11:03] JunielKatarn commented on #11589
Hi. This issue is still happening.
Any update?

[2019-11-24 11:42] rmetzger commented on #11259
@fadnavistanmay Yes, I was able to resolve the issue.
+1 on improving the error message.

[2019-11-24 13:59] jbockle commented on #10242
i just tested and it is working fine for me now

[code]

[2019-11-24 13:59] #10242 closed

[2019-11-25 03:48] jalajmsft commented on #11623
Changes will roll out in a couple of weeks. Closing this issue. Feel free to reopen/open a new issue for ant further queries.

[2019-11-25 03:48] #11623 closed

[2019-11-25 03:52] jalajmsft commented on #11808
Hey @jochenvanwylick thank you for your inputs, we will update the help text to avoid confusion. Closing this. Feel free to reopen/ open a new issue for further quires.

[2019-11-25 03:52] #11808 closed

[2019-11-25 04:28] vithati commented on #11751
@giggio , We have tried with variable value having spaces but we didn't see any issues. Can you give more example what scenarios HelmDeploy@0 task not working? We will try to repro the issue.

[2019-11-25 05:20] jalajmsft commented on #11792
Hey @gneely-credera did you link Library variable group to Release Pipeline variable group? If that is done can you please also check for stage wise linking to variable group? You can read more about variable group [here ](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/variable-groups?view=azure-devops&tabs=classic)

Let me know if you are still facing this.

[2019-11-25 05:56] arjgupta commented on #11704
@ansariwn you defined the secret variable with the (`) character. And so it is the string pattern that contains the bactick that is treated as a secret and masked. When you print that variable out using write-output powershell interprets the (`) as escape character and now the string that is output no longer contains the backtick and so no longer matches the string that is defined as a secret vari

[2019-11-25 05:57] #11704 closed

[2019-11-25 06:14] vithati commented on #10538
Fixed the issue. https://github.com/microsoft/azure-pipelines-tasks/pull/11794

[2019-11-25 06:14] #10538 closed

[2019-11-25 08:28] kaiskhalifa commented on #11832
@ShreyasRmsft You find the logs attached; one for the TestPlan run and the other for the OnDemand.
About your question, we have a pool which contains 5 machines to run our tests, everything in under our control so it's on premise.
[On_Demand_Log.zip](https://github.com/microsoft/azure-pipelines-tasks/files/3885488/On_Demand_Log.zip)
[TestPlan_Log.zip](https://github.com/microsoft/azure-pipelines-t

[2019-11-25 09:23] SumiranAgg commented on #11762
The logs are for windows app. Please share logs for Linux Function App as well.

[2019-11-25 09:27] SumiranAgg commented on #11440
@ustun I am closing this thread, as you have already taken it up on kudu GitHub issues, which is the right place for the same.
Please feel free to re-open if required.

[2019-11-25 09:27] #11440 closed

[2019-11-25 10:14] M0ns1gn0r commented on #11762
For windows app? I am deploying a function app, there is no mention of windows in my pipeline:

    - task: AzureFunctionApp@1
      displayName: 'Deploy visits'
      inputs:
        azureSubscription: '$(azureSubscription)'
        appType: functionApp
        appName: $(functionAppName)
        package: '$(Pipeline.Workspace)/drop/$(Build.BuildId).zip'
        appSettings: >
          -EventGri

[2019-11-25 10:41] Lawls91 commented on #11738
So, this seems fixed now by 2.160.4, which is great. However I have noticed the default generated runsettings file is no longer output into out (or debug) stream. Having that information was key to analysing our issue. Was this a change made on purpose?

Thanks

[2019-11-25 10:58] NetTecture opened #11840 "UseDotNet task useGlobalJson finding algorithm totally unusable"
Current version.

As per the documentation (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops) that is defined as:

* useGlobalJson: true to enable the function
* workingDirectory to specify the path erhe the global.json files should be searched.

SOMEONE seems to have implemented that as searching from the working directory down and th

[2019-11-25 11:05] eaarora-ms commented on #11762
@M0ns1gn0r  appType:functionApp means that it is a windows function app. For Linux function app it is appType: functionAppLinux. Please check your pipeline variables and let us know if that is the cause of the problem.
Just FYI, my YAML snippet looks like:
[code]

[2019-11-25 11:07] eaarora-ms commented on #11762
@M0ns1gn0r appType:functionApp means that it is a windows function app. For Linux function app it is appType: functionAppLinux. Please check your pipeline variables and let us know if that is the cause of the problem.
Just FYI, my YAML snippet looks like:

steps:
- task: AzureFunctionApp@1
  displayName: 'Azure Function App Deploy: testfapp12'
  inputs:
    azureSubscription: '$(azureSubscription)

[2019-11-25 11:16] eaarora-ms commented on #11705
@bastienmenis Please share debug logs with system.debug set as true.

[2019-11-25 11:41] eaarora-ms commented on #11672
Closing this since the issue is fixed and merged.

[2019-11-25 11:48] eaarora-ms commented on #11636
Closing this due to no response from customer. Please re-open if you're still facing the issue.

[2019-11-25 11:48] #11636 closed

[2019-11-25 12:10] jayaranigarg commented on #11738
@Lawls91 : There are no changes in regards to runsettings being displayed in out stream. Can you share the build logs with us with system.debug set to true for us to analyse and see what might be the issue here?

[2019-11-25 12:13] cawoodm commented on #11833
Oh, I didn't see that in the [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/powershell?view=azure-devops).
Thanks!

[2019-11-25 12:13] #11833 closed

[2019-11-25 12:18] bastienmenis commented on #11705
Here are the logs of the deploy tasks:
[code]

[2019-11-25 12:24] M0ns1gn0r commented on #11762
It indeed works with `appType: functionAppLinux`.

@eaarora-ms Could you please make the task return an error in case the target system OS doesn't match this setting (or even better, auto-detect the OS)? The current `##[debug]Deployment Succeded` message is misleading.

[2019-11-25 13:04] christianteh commented on #11751
if we set the connection string as variable in release pipeline, and add it as argument in helm upgrade, for example --set a.dbconnectionstring = $(dbcon), the task would fail

[2019-11-25 14:16] vithati commented on #11751
@christianteh , if you have spaces in variable value. you need to put quotes around variable. --set a.dbconnectionstring="$(dbcon)".

[2019-11-25 14:27] giggio commented on #11751
That build is still on my system, the error says:

[code]

As you can see from the task logs, I had put quotes on the values:

[code]

I tried different combinations, but could not get it to work. The build and build definition id are on the first comment, can you check the logs?

[2019-11-25 14:28] juanluelguerre commented on #11686
Same problem for me running  .NET Core 2.2 app.
I appreciate any help about it !
Thanks a lot

[2019-11-25 14:51] StephenLarkin commented on #11790
I was wondering if there was any update on this? It's currently blocking a PR from being completed.

Is this something that could be specific to a merge that's happening at Pull Request time that is causing this mis-load from some sort of merged cache?

If so we could put this into master without any issues, but I'm currently holding off on it, as I don't want to impact all of our pull request def

[2019-11-25 14:58] eaarora-ms commented on #11762
@M0ns1gn0r  Sure will add that to our list of enhancements. Closing this.

[2019-11-25 14:58] #11762 closed

[2019-11-25 15:15] Lawls91 commented on #11738
Sure. As you can see, example 1 (before the issue occured) shows the default generated runsettings file. Output 2 (after the issue was fixed) just shows a super empty runsettings with just batch settings in it (can be seen after the "Updated Run Settings" output):

**Pre-Fix (No system.debug, no .runsettingsfile passed in)**

[code]

Post-Fix (system.debug, no .runsettingsfile passed in)

[code]

[2019-11-25 15:17] pspill commented on #11827
This issue is fixed in #11342 and task version 0.160.0, but current hosted pipelines are running 0.158.0.  To address this bug, we need to force an update to the latest version.

[2019-11-25 15:26] gneely-credera commented on #11792
Howdy @jalajmsft, thanks for pointing out the stagewise linking!  We had only given the values scope for our dev and QA stages, not UAT.  Thanks so much for your help!

[2019-11-25 15:26] #11792 closed

[2019-11-25 16:01] Lawls91 commented on #11738
Nevermind, figured this out. Previously I had codecoverage enabled, which was the part that caused the issue. When I checked in a runsettingsfile, I disabled codecoverage in the task which no longer generates that block.

Closing as fixed

[2019-11-25 16:01] #11738 closed

[2019-11-25 17:14] rdelgado-incomm commented on #10499
Has this problem been solved?  This is still an issue with MS Build Tools 2019: https://stackoverflow.com/questions/58998783/where-does-master-dacpac-come-from-in-vs-2019?noredirect=1#comment104249977_58998783

[2019-11-25 17:33] siromega commented on #11749
I have prepared the log files, I need a secure (non-public) way to send them. Thank you.

[2019-11-25 17:56] damccorm commented on #11135
Closing since I don't think there's anything we can do from our end

[2019-11-25 17:56] #11135 closed

[2019-11-25 19:02] samkearney opened #11841 "Only up to 10 warnings logged from a ShellScript task are displayed in the build summary"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: ShellScript

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
        - Org: ETCLabs
        - Project: RD

[2019-11-25 19:06] dhruvanmurthy commented on #10499
A fix for this issue is being reviewed. We will update this thread once the fix is available for download.

[2019-11-25 19:26] jahsu-MSFT commented on #11804
@avivanoff  Can you try using 'download build artifact' task and see if it works? since you published using publish build artifact task.
One thing to note is for copying to a file share (FilePath), the file share artifact must be accessible from the build agent.

[2019-11-25 19:28] drmathias commented on #11596
Would be really nice to have this fixed to be able to use Azure to set up CD to ARM devices like Raspberry Pi. This limitation is a massive turn off for me when it comes to Azure pipelines.

[2019-11-25 19:48] aasim commented on #11724
Hi @jderose9 - Are you using the on-prem or the hosted product?

Aasim

[2019-11-25 21:24] brunoborges commented on #8798
Any update on having a Download task OOTB ?

[2019-11-25 22:39] brunoborges opened #11842 "[DownloadPackage] Won't Extract Unless Nuget/NPM package type"
## Required Information
Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadPackage

## Issue Description

This task supports extracting `zip`, `nupkg` and `tgz` files as per the `extract()` function:

https://github.com/microsoft/azure-pipelines-tasks/blob/a8fd5bc0e8aefec098d20ad37f264

[2019-11-25 22:43] brunoborges opened #11843 "[DownloadPackage] Support variant of tar gz compressed files"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadPackage

## Issue Description

The function `extract()` checks the file extension for `tgz`, but often files are named `tar.gz`.

https://github.com/microsoft/azure-pipelines-tasks/blob/a8fd5bc0e8aefec098d20ad3

[2019-11-25 22:51] avivanoff commented on #11804
@jahsu-MSFT, “Download build artifacts” works just fine.

[2019-11-25 22:55] brunoborges opened #11844 "[DownloadPackage] Parameter extract not fully documented"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DownloadPackage

## Issue Description

The parameter `extract` is not fully documented with its specific conditions.

First, the source code of this task shows it will only extract packages downloaded from `nuget`

[2019-11-25 23:21] lumaxis commented on #8725
I just ran into this too. As a workaround, I did this:

[code]

[2019-11-26 00:15] christianteh commented on #11751
@vithati yes i did that however as giggio mentioned, it's been stripped out by the task

this is what i add in my argument, --set api.DBConnectionString = "$(DBConnectionString)"

i have to work around this issue like giggio, except that i dont use bash script i created the values file during file to be used in the release process

[2019-11-26 04:14] mirsaeedi commented on #9094
I have the same issue. Actually, it's quite unnatural that it does not support executing PowerShell scripts and on top of that, it doesn't generate a helpful error log.

[2019-11-26 04:28] bishal-pdMSFT commented on #9094
Support for PowerShell scripts has been added in Azure CLI v2 task. Please upgrade to that task to use PowerShell/PowerShell Core scripts

[2019-11-26 04:32] ItalyPaleAle opened #11846 "Azure CLI v2: "--allow-no-subscriptions""
I have created a connection to Azure using a Service Principal which is not assigned to any subscription. The SP has permission to make changes only to the Azure AD tenant (I need to run commands like `az ad app update` only).

When using that connection with the AzureCLI v2 task, the task always fails with the error:

[code]

It doesn't look like there's a way to pass the `--allow-no-subscription

[2019-11-26 05:21] eaarora-ms commented on #11749
@siromega  You can mail me at eaarora@microsoft.com

[2019-11-26 07:27] rsitrifork commented on #11827
Sound good that a fix is comming, any timeline? :)

[2019-11-26 07:43] Ajay-MS commented on #11631
@amccool

Just to understand the issue more deeply, is large size of the environment is because of the number of builds only or because of other environment variables too.

Also, share your email id so that we can also try out the task with newer version of the Vsts SDK if that helps.

[2019-11-26 07:44] matthiaswenz opened #11847 "Xcode task does not support determining iCloud entitlement with app extensions"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Xcode V4/V5

## Environment
- Server - Azure Pipelines or TFS on-premises? - n/a, both
- Agent - Hosted or Private: n/a, both

## Issue Description
When building an iOS application and exporting the IPA from it when the application has multiple targets (i.e. a host application and multiple extensions) which ha

[2019-11-26 08:05] shigupt202 commented on #11751
To test this scenario, I executed a simple Helm upgrade command with arguments as:
--set=my-key="$(my-val)"
I've set the variable _my-val_ as _my value_.
There is a space in the variable, but the build is still successful. Although the quotes are stripped in the log, but that doesn't affect the execution of the command.
![spaces_in_set_command](https://user-images.githubusercontent.com/57620559/69

[2019-11-26 08:15] shigupt202 commented on #11751
Attaching the task that I've used:
![task](https://user-images.githubusercontent.com/57620559/69610980-ded3b300-1052-11ea-8309-3aae639693cb.PNG)
The highlighted variable contains space.

[2019-11-26 08:32] davidobrien1985 commented on #9998
@Ajay-MS Hi Ajay, how can I use this task though to run on a hosted agent and use the pipeline's AAD identity to connect to Azure SQL?
We are trying to configure logins that map to AAD groups (based on this: https://techcommunity.microsoft.com/t5/Azure-Database-Support-Blog/Lesson-Learned-23-How-to-add-AAD-Security-Groups-to-Azure-SQL/ba-p/368866 ) but in order for this to run the connection must

[2019-11-26 09:18] roydebalina commented on #11087
Sorry for the late reply Jim.
For Publish Test Results Task, the timestamp parsed from the xml is stored in UTC on the backend but when it is displayed in the UI , it is converted to Locale TimeZone. For the column 'Failing Since', we show the time difference between the failing timestamp and the present time (both always in the 1 particular timezone only that is your Locale Timezone). This time d

[2019-11-26 09:40] eaarora-ms commented on #11686
@juanluelguerre  Can you please share your debug logs with system.debug set as true?
@MisinformedDNA Can you please confirm is it's still happening? We are assuming it might be because of API failure since I am not able to repro the issue at my end.

[2019-11-26 09:42] eaarora-ms commented on #11661
@brettkc  Can you please confirm if it's still happening with the latest version. My assumption is that the latest changes should have fixed the problem.

[2019-11-26 09:43] eaarora-ms commented on #11578
@droessmj Please share pipeline logs with system.debug set as true. Meanwhile, I am trying to repro the issue.

[2019-11-26 09:44] eaarora-ms commented on #11444
@damienwebdev We have made some changes which might potentially fix the issue. We will let you know the updates.

[2019-11-26 10:57] ansariwn commented on #11704
@arjgupta - If we define the exact value as a secret (without backtick) then I'm afraid the Dollar character in the secret value is omitted and does not come through to our script. So our script gets the secret value string but the Dollar character is missing from the secret value string.

We understand what you are suggesting but unfortunately we are forced to use the backtick character in the se

[2019-11-26 11:28] lindgrend commented on #11814
Did you get the logs and are they the ones you expected?

[2019-11-26 11:35] RobHofmann commented on #11122
https://docs.microsoft.com/en-us/cli/azure/group?view=azure-cli-latest#az-group-create

You can simply use Azure CLI to create the resourcegroup with the desired tags.

My pipelines usually look something like this:
1. Create Resourcegroup with Azure CLI
2a. Either create resources with CLI
2b. Or create resources with ARM
3. Do app deploy or post infrastructure steps.

PS. You can not create a re

[2019-11-26 11:47] juanluelguerre commented on #11686
Hey @eaarora-ms ,
In my case, everything works properly after create a new Azure App Service (Containers) from scratch.

Thanks.

[2019-11-26 12:56] jalajmsft commented on #11814
Hey @lindgrend sorry for the delayed response, yes we have received the logs. From logs, it seems like the task AzureResourceGroupDeploymentV2 is deploying only once. It could be the case that the release is cloned or some other release is running in parallel to this one when the schedule condition is met.

Can you please check that there is no duplicate of release? Also, can you please share the

[2019-11-26 13:05] shigupt202 commented on #11795
@mehmetaltuntas Can you share the secret yaml file that you are using here to ensure that the crt and token fields are not NULL?

[2019-11-26 13:07] shigupt202 commented on #11795
You can mask out the crt and token fields.

[2019-11-26 13:09] jderose9 commented on #11724
@aasim I am using the hosted product (Azure DevOps Services).

[2019-11-26 15:09] lindgrend commented on #11814
I went over all our pipelines again and this time I likely found the badly named culprit, I now disabled the automatic trigger and I'll let you know tomorrow if we can close this (and if that is the case sorry for wasting your time)

[2019-11-26 15:48] amccool commented on #11631
the large environment is due to the number of build artifacts (50+)

[2019-11-26 16:16] ramonvos commented on #2058
I am looking for a solution and haven't found any way yet for TestNG and JUnit for the problem. For .NET users is very simple as below just a line of code to solve.
`TestContext.AddTestAttachment(@"C:\\Screenshot.Png");`

![image](https://user-images.githubusercontent.com/11509140/69651084-4e936f00-104e-11ea-8723-3f27c9e8a767.png)

Publishing artifacts does not resolve the issue because attachment

[2019-11-26 17:31] aasim commented on #11842
Hi @brunoborges - This code is only used for extracting NuGet and Npm packages, so its by design that it doesn't support Universal packages. The download and extraction for universal packages is handled by a separate library as seen [here](https://github.com/microsoft/azure-pipelines-tasks/blob/a8fd5bc0e8aefec098d20ad37f264a64bc9ed21a/Tasks/DownloadPackageV1/main.ts#L42).

What is the exact proble

[2019-11-26 17:40] brunoborges commented on #11842
It is not extracting, or if it is then I can't seem to find where it is being put. Is there a way to expand the log/verbosity of this task?

[2019-11-26 17:43] aasim commented on #11842
Yes, can you run the task with the pipeline variable System.debug set to true. That will show you verbose logging.

[2019-11-26 17:57] droessmj commented on #11578
@eaaror Do you have an email I can PM you the logs? Or do you have a specific section you're interested in? I'm not looking to redact the entire log file before posting directly.

[2019-11-26 17:59] aasim commented on #11842
If you need your files to go to a specific directory you can specify the directory name using the downloadPath parameter as shown [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-package?view=azure-devops#download-a-nuget-package-from-an-organization-scoped-feed-and-extract-to-destination-directory)

[2019-11-26 19:01] skotlar commented on #10899
How to run this script?  I get an error on permissions

[2019-11-26 19:12] wrong42 commented on #7654
I'm having the same problem as @JerryWang20.

For some reason, after the AzureAppServiceDeploy@4 task completes, the web app is trying to pull the image from Docker hub, not from Azure Container Registry.

In my AzureAppServiceDeploy@4 task the "Registry or Namespace" filed is set to "my-registry.azurecr.io".

What's the status on this?

[2019-11-26 19:29] wrong42 commented on #7654
Ok, I found why.. Is this part commented out because of the security issue mensioned by @azooinmyluggage?

![image](https://user-images.githubusercontent.com/10200065/69665604-02b2eb00-108b-11ea-854d-c87aedfd5bdf.png)

[2019-11-26 20:58] giggio commented on #11751
I'm using Yaml. Are they different?

[2019-11-27 00:13] mehmetaltuntas commented on #11795
Sorry I do not have it anymore. However, I can assure you that the crt and token fields were populated.
Besides, the secret field only was longer than 300 characters.

[2019-11-27 02:15] christianteh commented on #11751
yeah you are right, my apologies.

The connection string that i used has got , (comma) in it. that explains the issue that i am having. Should have tried it with simple string with space first

[2019-11-27 05:22] eaarora-ms commented on #11339
@psined1  Can you please provide us the required details?

[2019-11-27 05:45] hiyadav commented on #11840
Hey @NetTecture

What you have observed is true, the installer task searches for all global.json files inside the WorkingDirectory. For all the global.json files found, it will install all the versions specified in them. The intent is, that user only has to run the installer task once, to install all versions required by their sub-projects. Otherwise they might have to run the installer task multi

[2019-11-27 06:14] shigupt202 commented on #11751
@giggio There's no difference between Yaml and designer view. I tried the same thing with Yaml, and the build still succeeds. Please make sure that you are not using any variables with special characters (other than spaces), without escaping them.

[2019-11-27 06:14] #11751 closed

[2019-11-27 06:15] shigupt202 commented on #11795
@mehmetaltuntas I am able to create a service connection with a secret generated from the GCP shell. Please try it one more time and if you face the same problem again, reopen the issue.

[2019-11-27 06:15] #11795 closed

[2019-11-27 06:27] mehmetaltuntas commented on #11795
Can you copy a samlle secret over here pls?

[2019-11-27 06:36] shigupt202 commented on #11795
Here's the secret that I got from the GCP shell. (I've stripped the crt and token fields)
apiVersion: v1
data:
  ca.crt: LS0tL...NBVEUtLS0tLQo=
  namespace: ZGVmYXVsdA==
  token: ZXlKaG...TBuUVRTekE=
kind: Secret
metadata:
  annotations:
    kubernetes.io/service-account.name: default
    kubernetes.io/service-account.uid: 72cedd29-1028-11ea-933e-42010a800097
  creationTimestamp: "2019-11-26T08:40

[2019-11-27 06:46] NetTecture commented on #11840
So, basically, it is unsuitable at all to the task of determining which CLI version to use for a specific work directory at all because someone had grand ideas what it should do whatever he thinks makes sense and does not give a crap about the fact that in most case people will use global.json as it is defined in the specs and used by visual studio.

Even today - if you are an enterprise developer

[2019-11-27 06:55] #11814 closed

[2019-11-27 07:23] NetTecture commented on #11840
@hiyadav Thanks for the explanation. Did you bother thinking about it because what you describe is NOT WHAT HAPPENS?

Here is a use case that is valid, is actually used in larger proejcts and quite obviously something outside of your consideration:. It is exactly OUR use case.

Imagine a larger repository than the typical hello world dotnetcore you seem to consider.

* In the root of the repositor

[2019-11-27 07:30] eaarora-ms commented on #11686
Great! Looks like it was because of API failure. Waiting on customer response to close the issue.

[2019-11-27 07:38] eaarora-ms commented on #11749
Received logs. I will get back to you with a solution.

[2019-11-27 07:50] arjgupta commented on #11704
@ansariwn  Can you try adding a powershell task and in that execute the command `write-host "##vso[task.setsecret]<SECRET HERE>"`. Here if you provide the exact value for your secret, then the  logs  will mask that value in the logs

[2019-11-27 07:52] eaarora-ms commented on #11749
@siromega We would recommend you to move to Azure File Copy V3 and check if you're still facing the issue.

[2019-11-27 08:45] al-cheb opened #11852 "[InstallAppleCertificate] Unable to find the certificate SHA1 hash and common name (CN). Verify that the certificate is a valid P12."
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: InstallAppleCertificate@0

## Environment
- Server - Azure Pipelines
    - FAILED : https://buildcanary.visualstudio.com/PipelineCanary/_build/results?buildId=687718
    - GOOD: https://buildcanary.visualstudio.com/PipelineCanary/_build/results?buildId=688845

## Issue Description

We have updated OpenSSL on MacOS images from 1.0.2t

[2019-11-27 09:31] eaarora-ms commented on #11578
@droessmj  You can mail us the logs at RM_Customer_Queries at microsoft dot com
Entire logs would be of more help.

[2019-11-27 10:18] vithati commented on #11596
@drmathias , Sorry for inconvenience.  Can you please use script to download required tool and append tool path to PATH variable, till this issue is fixed.

[2019-11-27 11:25] jalajmsft commented on #11543
It seems like the issue is with Powershell version  5.1.17763 installed in windows-2019. The warning messages are written to the error stream return 1 as exit code instead of 0 resulting in the task to fail. We will update the windows-2019 image with the updated PowerShell version.

[2019-11-27 14:14] kaiskhalifa commented on #11832
Hi @ShreyasRmsft, Today we updated our Azure Devops to the latest version :
https://docs.microsoft.com/en-us/azure/devops/server/release-notes/azuredevops2019u1?view=azure-devops#rc1-release-date-july-2-2019

Luckily, Now the tests are discovered by the build (I run a build with a test plan containing 2 tests), but are failing due to an unknown issue.

Please find the log attached.
[ReleaseLogs_14

[2019-11-27 14:21] tipa commented on #11624
Hitting the same issue. Interestingly only 1 out of my 4 projects fail though. Can't remember when or how I created the keystore files. Signing locally through Visual Studio works without issues.
Any updates on when this is being resolved?

[2019-11-27 15:40] ansariwn commented on #11704
@arjgupta - The above solution will not work for us as we still have to save the secret value somewhere. Also, we would like to avoid creating secret variables using powershell script.

Let me reiterate the issue we are facing. We have a secret value that contains a dollar sign in the value string. The secret value is revealed while using the variable value in a 'Write-Host' command in the powersh

[2019-11-27 16:07] johntyrrell99 opened #11854 "Unable to use Key Vault variable in Install an SSH Key task"
Since the Install an SSH Key task is defined as a pre-job, it runs before all other tasks regardless of position in the pipeline. Therefore it runs before any Key Vault secrets are downloaded. I would prefer to not setup a standalone secret variable in the library for the passphrase but that seems to be the only way I can do it unless I'm missing something.

Am I missing something or is this worki

[2019-11-27 16:09] kaiskhalifa commented on #11832
Hi @ShreyasRmsft After all we found a solution we make it work :)
You can close the ticket

[2019-11-27 16:57] giggio commented on #11751
I didn't, the variable is the same, I only switched from the helm task to the script task, and it worked, and that shows me that the problem exists. I'm fine using scripts, so to me that is ok, I reported to let Microsoft aware. The problem will happen to other users, for sure.

[2019-11-27 17:59] damccorm commented on #11841
Yeah, that's expected. We only render the first 10 in the UI and flag the total number as well (373 in this case)

[2019-11-27 17:59] #11841 closed

[2019-11-27 18:09] siromega commented on #11749
WindowsMachineFileCopyV2 works. However, as stated in the description above, we have 1300+ build pipelines and many (most?) of them use v1. It would be a lot of time spent for staff to change all their build pipelines.

Beyond that, it seems we'd have to update our "PowerShell on Target Machines" tasks from v1 to v2 as well since on our new agents the v1 of that task doesn't seem to work either (t

[2019-11-27 21:13] tillig commented on #1867
I just ran into this myself, wanting to provide some detail about the state of some long running tasks.

It appears [this issue](https://github.com/microsoft/azure-pipelines-tasks/issues/5961) noted that when the build log display changed, the timeline with this info disappeared. The author of the issue was directed to take it up with the [Developer Community website](https://developercommunity.vi

[2019-11-27 21:18] tillig commented on #1867
As a follow up, apparently this [was suggested on the Developer Community site](https://developercommunity.visualstudio.com/idea/381135/vsotasklogdetail-should-show-start-time-finish-tim.html) and was closed due to 90 days of inactivity. It was [reported a second time](https://developercommunity.visualstudio.com/content/problem/341733/per-task-timeline-in-new-preview-ui.html) and summarily closed

[2019-11-27 22:24] samkearney commented on #11841
Thanks @damccorm. I've played around with this a little more and gathered some more info.

When I have the "multi-stage pipelines" view (ostensibly the "new" UI) turned on, there is no indication anywhere in the UI of the total number of warnings. I have to manually inspect the build logs to find out.

![image](https://user-images.githubusercontent.com/5142299/69762718-1a48ad00-1139-11ea-8117-4fd4

[2019-11-28 05:22] eaarora-ms commented on #11749
@siromega  Actually the 'Get-LocalizedString' command is related to the agent and not to the task. You've mentioned using a new agent that does not support PowerShell on Target Machines V1. So to solve the issue you either need to switch to the latest version of the task or the previous version of the agent.

[2019-11-28 05:28] eaarora-ms commented on #11678
@grik001  Can you please share pipeline logs with system.debug set as true?

[2019-11-28 06:10] eaarora-ms commented on #11339
Closing due to inactivity. Please comment if you want to re-open it.

[2019-11-28 06:17] eaarora-ms commented on #11410
The issue is fixed and will be rolled out in a couple of weeks. I hope this is not a blocker for you since you can remove and add the task again to get rid of the old slot name value.

[2019-11-28 07:04] AllanMichaelsen opened #11856 "Different issue points when using FileTransform@2"
**Question, Bug, or Feature?**
Type: Bug

Enter Task Name: FileTransform@2

**Environment**
Server - Azure Pipelines

**Issue Description**
When using FileTransform@2 to tranform config files after build we are experiencing some weird behaviour...

If we run the above pipeline with the same two inputfiles, we get different errors on each run. Some runs it finishes an action at a point where it fai

[2019-11-28 07:20] #11376 closed

[2019-11-28 07:21] #10752 closed

[2019-11-28 07:22] #10088 closed

[2019-11-28 07:36] #11410 closed

[2019-11-28 08:05] MarkKoz commented on #7160
@aasim That is not correct. The [docs state](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops#how-do-i-configure-a-nuget-package-source-that-uses-apikey-nuget-api-keys-such-as-nugetorg) that task also doesn't support service connections using API keys. We basically have to do [this](https://github.com/Microsoft/azure-pipelines-tasks/issues/

[2019-11-28 10:32] ShreyasRmsft commented on #11832
@kaiskhalifa i'm glad you were able to figure out the solution. For the benefit of the community could you please post your solution here? So that if anyone else runs into the same issue they can self diagnose using the steps/data you post here. Thanks.

[2019-11-28 10:32] #11832 closed

[2019-11-28 10:34] avdbrink commented on #11439
@epsmae Thanks for the tip! Disabling the preview feature Service connection fixed the issue for me as well.

[2019-11-28 10:35] kaiskhalifa commented on #11832
First,Test Plan based build was unable to collect the automated tests from the test plan, this issue was solved after updated AzureDevops to Update 1.
The second problem was an issue we had in our Config Transformation file, nothing related to the build.

[2019-11-28 10:41] ShreyasRmsft commented on #11831
@satano adding @navin22 to help look into this.

[2019-11-28 11:07] ShivaLuckily commented on #4996
System.IO.FileLoadException: Could not load file or assembly 'file:///C:\Users\P10401685\Desktop\ADM-TFS-Extension-master\ADM-TFS-Extension-master\installation\UFTWorking\bin\PSModule.dll' or one of its dependencies. Operation is not supported. (Exception from HRESULT: 0x80131515)

How to resolve this issue?please help me

[2019-11-28 11:53] raiyanalam commented on #9754
@romil07  is currently working on this. Adding him to provide updates, if any.

[2019-11-28 12:34] raiyanalam commented on #9736
Closing this feature ask for now as we haven't had similar requests. However, we have taken a note of this requirement and will keep an eye if others need this too in future.

[2019-11-28 12:34] #9736 closed

[2019-11-28 13:06] hiyadav commented on #11840
Hey @NetTecture
In above scenario it does look like a bug and I understand the confusion/pain being caused due to the reverse strategy of UseDotNetV2 task's UseGlobalJson feature. The task documentation needs to be more explanatory.

We understand that current design is leading to confusion (like in above scenario), so we will evaluate on adding upwards lookup along with current global.json lookup

[2019-11-28 13:19] blackchoey commented on #11053
This is not a bug. @hiteshmadan IoT Edge service handled deployment as 2 steps: first accept the deployment request, second apply the deployment to IoT Edge services asynchronously. What Azure IoT Edge do is the first step.
For the second step, it's hard to define the success criteria for it because different users could have their own definition of success according to their scenarios. You can ha

[2019-11-28 14:02] patricknolan opened #11857 "Test step hanging in Azure Devops build pipeline"
Since updating my solution to .NET Core 3.0, EF Core 3.0 and xUnit 2.4.1, the test step is hanging. This step runs tests in about 5 test projects but it seems to hang on the the second project 9 out of 10 times.

How can I work out exactly what is causing this? Even when I run with diagnostics enabled the output doesn't seem to help much. See log below.

Updating my solution also coincided with th

[2019-11-28 18:36] siromega commented on #11749
What previous version of the agent would support this task? 1.x? An early 2.x version?

[2019-11-28 19:10] robs commented on #6621
OMG, this was what was causing it!

It was my first pipeline so I really wasn't sure where to start.

That null ref exception is followed by the rest of the transform actions appearing as if they work fine so it looks like it's just caught it and continued on.
It even reports: Done executing RemoveAttributes

Please can you re-open this and maybe do a null check on the attribute before attempting

[2019-11-28 20:08] ggirard07 commented on #10469
@hiyadav regarding the new logic for "Web"project detection, it will still not detect Azure Functions App project...
Those use `Microsoft.NET.Sdk` by default but are definitively to be considered web project as main purpose is to be deployed on Azure!

[2019-11-29 03:03] bishal-pdMSFT commented on #11846
Thanks for raising this issu @ItalyPaleAle. Although this is a valid scenario, we haven't heard this request from community till now. We would like to gather more feedback before trying to support this scenario.

[2019-11-29 04:27] bishal-pdMSFT commented on #10469
@hiyadav

[2019-11-29 06:38] jalajmsft commented on #11779
@reshmaparate can you please attach yaml file for your pipeline and build logs to understand the issue better.

[2019-11-29 07:09] #11053 closed

[2019-11-29 09:01] hiyadav commented on #11740
Hey @goalie7960,

We have identified a bug and also why it is not working in you pipeline.
**Kindly ensure that `Add project name to publish path (modifyOutputPath in YAML)` is enabled in your pipeline.**
- The folder name for your projects contains `'.'`` like: source.a and source.b.
- Thus the task will end up creating `source` folder inside output folder, and output of projects in source.a and

[2019-11-29 09:55] stilren opened #11859 "workingDirectory not respected for Azure PowerShell task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShellV4

## Environment
- Server - Azure Pipelines

- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name:

## Issue Description

Setting the WorkingDirectory in the UI will not

[2019-11-29 13:53] ustun commented on #11441
See https://github.com/projectkudu/kudu/issues/3041#issuecomment-559796949 for a workaround using `expect`.

[2019-11-29 14:39] MarkKharitonov opened #11861 "Symbols not published for a project containing just enums and interfaces"
**Type**: Bug
**Enter Task Name**: Index Sources & Publish Symbols

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishSymbolsV2

## Environment
- Server - TFS on-premises

    - If using TFS on-premises, provide the version: Dev17.M153.3

- Agent - Private

    - If using private agent, provide the OS of the machine running the agent and the agent version:

Agent.Version

[2019-11-29 16:07] ggirard07 opened #11862 "AzureCLI webapp deployment fails with error 'NoneType' object has no attribute 'server_farm_id'"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureCLI

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: Is it possible t

[2019-11-29 16:55] stijnherreman commented on #9954
Can someone please clarify if the Code Coverage tab is supposed contain only a link to download the results? Or is it supposed to display the results, but it is broken due to a bug in the task?

Not asking you to immediately fix a bug (should there be one), just *some* information would be much appreciated.

[2019-11-30 19:05] robs commented on #6621
Hiya,

I did a bit of digging and the ctt.exe code is still on codeplex https://ctt.codeplex.com
It references .net xdt which is where the null ref exception comes from and what's causing the inconsistent error.

Fixed the error and submitted a PR for it so hopefully it'll get merged and you can just update the nuget ref inside ctt.exe

It's just a typo, PR here - https://github.com/aspnet/xdt/pul

[2019-12-01 09:22] monkeyTrainer opened #11863 "The following error message recieved during "Publish" task ##[error]Error: The process 'C:\Program Files\dotnet\dotnet.exe' failed with exit code 1"
## Required Information

I have a project that is using the default CI pipeline for .net core 2.1. The pipeline had been working fine but has now started failing during the "Publish" task with the following errors;

##[error]Error: The process 'C:\Program Files\dotnet\dotnet.exe' failed with exit code 1
##[error]Dotnet command failed with non-zero exit code on the following projects : D:\a\1\s\Sho

[2019-12-01 12:33] apobekiaris opened #11864 "Cache is slow"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-12-01 18:13] ItalyPaleAle commented on #11846
I understand. My purpose in creating this issue was two-fold:

1. Bring it up so the devs are aware of it.
2. Write my workaround here in hope it can help others. The workaround is quite simple (albeit not very clean :) ) anyways.

[2019-12-01 23:36] ygnr commented on #11034
@johnterickson Thank you. That worked partially for us but in our case, in order to run some integration tests we spin up some dependencies in a docker container (via docker-compose). So these are pulled every time. Any ideas on how can I cache these images?

[2019-12-02 01:54] byroncollins opened #11865 "Unable to pull base image from ACR when building with Docker task"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Docker

## Environment
Azure Pipelines

Azure Pipelines:
sdo-online, Te Ara Manaaki, ei-ping-service, ei-ping-service-213

- Agent - Hosted

    - If using Hosted agent, provide agent queue name: ubuntu-18.04

## Issue Description

Trying to build a docker image using an ACR Image as the base image and the docker build task fails wit

[2019-12-02 03:04] AngryVirginian commented on #9257
I confirm that replacing an entire json array only works in the File Transform task and not in the App Service Deploy task.  Note: this is about replacing the value of the entire array and not replacing value each element via the index position.  E.g., replacing "ids": [1, 2] from the build pipeline with "ids": [1,2,3,4,5] in the release pipeline.

[2019-12-02 05:43] #11088 closed

[2019-12-02 05:44] ObsidianVoid commented on #11088
The issue has been fixed and discussion closed over email.

[2019-12-02 06:21] ShreyasRmsft commented on #11818
@EnriGrossi any updates here?

[2019-12-02 06:29] eaarora-ms commented on #11749
@siromega  Can you share the logs of the previous successful pipeline? We can deduce the agent version from that.

[2019-12-02 06:38] eaarora-ms commented on #11859
@stilren  I am not sure if I understand your question perfectly. However, from what I could understand running dir from your 'mydirectory' should list the contents of that directory and not the directory itself. If this did not solve it can you share the exact expected v/s real output logs here? Thanks!

[2019-12-02 07:31] eaarora-ms commented on #11631
@amccool  You can mail us the logs/personal email id om RM_Customer_Queries at microsoft dot com

[2019-12-02 10:14] EnriGrossi commented on #11818
Hi @ShreyasRmsft, I understood which test causes the problem and at the moment I disabled it.
This problem began to manifest itself when we switched from the 2015 visual studio tools to the current ones (2019).
I'm still trying to figure out how to reproduce the problem (at the moment it is difficult for me to pass the code to you because some of our libraries are used in the test).

Thank you ver

[2019-12-02 12:01] dlyson commented on #11444
I have a similar problem while deployment of my function app. It noticed that at Friday 29 Nov. At that time it didn't upload the zip file to `data\Site Packages` and it mounted the `site\wwwroot` to an empty folder.
If any ZIP file existed in the `data\Site Packages` then it silently used the latest package despite the fact that new deployment has already overriden app settings. I used Deployment

[2019-12-02 14:27] #10013 closed

[2019-12-02 15:05] adrianbumbas opened #11867 "The Kubernetes task should support all the kubectl commands"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Kubernetes@1

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: N/A

- Agent - Hosted or Private: N/A

## Issue Description

The `Kubernetes@1` task should allow any command, one use cases that is missing is support for `kube

[2019-12-02 15:44] JMR09 opened #11868 "r"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-12-02 17:28] avivanoff commented on #11784
@jahsu-MSFT, any updates on the issue? We are planning to switch build artifacts to to pipeline artifacts, and this issue prevents us making the switch.

[2019-12-02 17:30] avivanoff commented on #11804
@jahsu-MSFT, any updates on the issue? We are planning to switch build artifacts to pipeline artifacts, and this is one of the issues that prevents us from making the switch.

[2019-12-02 19:44] fadnavistanmay commented on #11259
Thanks @rmetzger .
@b-barthel is already working on improving the exception message :)

[2019-12-02 19:44] #11259 closed

[2019-12-02 20:56] johnterickson commented on #11864
Hi! 2.3GB in 76 seconds is ~250Mbps. What speed are you expecting?

[2019-12-02 21:50] jabberwik opened #11869 "Cache: Unable to find pipeline caching scopes"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CacheV2

## Environment

- Server - Azure Pipelines
- Agent - Private: Windows Server 2016/1607, Agent 2.160.1

## Issue Description

Receive an error "Unable to find pipeline caching scopes" when using Cache task.

azure-pipelines.yml:
[code]

### Error logs

[code]

[2019-12-02 22:00] johnterickson commented on #11869
Hmm odd! @jabberwik Did this start happening all of a sudden or did some change trigger this?

[2019-12-02 22:10] kiwidave72 commented on #8812
I dont get this... people clearly what the feature, and have asked for this and but no new ticket is created and the issue gets closed as the current feature is working by design (which its not).
I also need this feature but i cant see way this isnt a feature out of the box.

[2019-12-02 22:11] johnterickson commented on #11770
Given that this is primarily an issue with the NuGet client (https://github.com/NuGet/Home/issues/4980)  I will close this.

There is still the (ugly) option to reset it on a regular basis: https://github.com/microsoft/azure-pipelines-tasks/issues/11770#issuecomment-553962034

[2019-12-02 22:11] #11770 closed

[2019-12-02 22:27] jabberwik commented on #11869
I have not gotten this task to work at any point, even on previous versions while it was in preview. To be fair, I haven't tried it in a great diversity of pipeline configurations either. I couldn't find this error message in the code anywhere, so I'm not sure how far upstream this is getting thrown?

[2019-12-02 22:29] johnterickson commented on #11692
I am now realizing this is a dupe of https://github.com/microsoft/azure-pipelines-tasks/issues/11219

[2019-12-02 22:29] #11692 closed

[2019-12-02 22:31] jahsu-MSFT commented on #11804
@avivanoff While we are investigating the issue. Can you try using publish pipeline artifact task to publish the fileshare and download it from download pipeline artifact V2 task?

[2019-12-02 22:54] hiteshmadan commented on #11053
I'm not sure I fully understand the notion of it being hard to define/detect when a deployment succeeded.

The IoT Edge CLI has first class support for monitoring a deployment (link at the end). All thats needed imho is to expose that CLI command's parameters in the AzP Task for iot edge deployment?

cc the IoT Edge CLI PM in case he can clear any doubts you have: @gregman-msft

documentation on h

[2019-12-02 23:10] kakins commented on #6733
I don't have this registry entry.  Has it changed?  I'm not getting a prompt to enter my credentials so I constantly get a 401 when running npm install.

[2019-12-03 00:09] egorpavlikhin commented on #4449
Don't do this. There is no group called "Network Service" and this will corrupt your daemon.json file:

[2019-12-03 00:13] artisticcheese commented on #4449
@egorpavlikhin This is special group in Windows. If you don't have I assume you are running on unsupported version of Windows or it's some other edge case. As you can see from comments above this change works and confirmed by owners.

[2019-12-03 00:22] egorpavlikhin commented on #4449
@artisticcheese I am running current Windows 10 Pro build with Docker Desktop. The issue is likely that this doesn't work for Linux containers. I assume it tries to read the VMs groups, not Windows groups.

[2019-12-03 00:52] egorpavlikhin commented on #4449
Here is the likely answer for Linux containers in Docker Desktop: https://github.com/docker/toolbox/issues/636#issuecomment-555778590

[2019-12-03 01:24] Darko-git commented on #11827
Any updates?

[2019-12-03 02:27] shunkino commented on #11578
Hi, I'm also interested in this warning. I've repro the problem and found workaround.

## Repro steps
This warning only occurs when "scmType" property is [set to "none"](https://github.com/microsoft/azure-pipelines-tasks/blob/dd3cc454ffa296ce8ebd13ac2a69bbc6707cc684/Tasks/AzureRmWebAppDeploymentV4/operations/AzureAppServiceUtility.ts#L20).

Executing "AzureRmWebAppDeploymentV4" task after changing

[2019-12-03 04:32] avivanoff commented on #11804
@jahsu-MSFT, it is amazing how case-inconsistent artifact type names are.
When do you think your changes make it in the build?

[2019-12-03 04:39] avivanoff commented on #11784
@jahsu-MSFT, BuildNumber is a confusing name, as it really is a build id, not a build number. I wander if you should fix the confusion call it BuildId (or better yet PipelineId).

[2019-12-03 05:03] apobekiaris commented on #11864
Hi

Your point is valid however **in each of my Azure builds** the 20% of the time is spent in restoring the same nugets and although caching it helped (before it was around 50%) I would be much more productive if that 20% interval does not exist and my build time in azure matches my local times where I do not re-download the universe constantly.

[2019-12-03 06:08] jalajmsft commented on #11862
Hey @ggirard07  can you please cross-check the subscription used in the task?

If you are still facing this issue, can you please set the variable "System.debug" with value "true". Redeploy and share logs at RM_Customer_Queries@microsoft.com.

[2019-12-03 06:09] 20shivangi commented on #11678
@grik001 Please share the debug logs with system.debug set as true in your pipeline.

[2019-12-03 06:11] 20shivangi commented on #11656
Closing the issue, please feel free to re-open if face any.

[2019-12-03 06:11] #11656 closed

[2019-12-03 07:17] eaarora-ms commented on #11686
Please comment to re-open the issue if you see it again.

[2019-12-03 07:17] #11686 closed

[2019-12-03 07:24] eaarora-ms commented on #11592
Please re-open if you face the issue again.

[2019-12-03 07:24] #11592 closed

[2019-12-03 07:41] eaarora-ms commented on #11578
@shunkino  @droessmj  Thankyou for all your help. We checked that the recent API changes have some back-compatibility problems due to which these issues are arising. It's good to know that it is not a blocker. I have raised a PR and the bug should be fixed by the end of next week.

[2019-12-03 08:43] d0972058277 commented on #11439
@epsmae Thanks you.

[2019-12-03 10:46] stilren commented on #11859
Yeah sorry if that was unclear - I am expecting the contents of the directory to be displayed but its not

[2019-12-03 13:27] saroup opened #11873 "Using setvariable on an env variable makes the file path not found"
In a azure pipeline I am trying to check if a variable exists and assign it a value if it doesn't. However, when I assign the new value the file is not found.
pool:
  vmImage: 'windows-latest'

- name: testspath
  value: $(downloadtestpath)/tests.json
- name: localtestspath
  value: $(System.DefaultWorkingDirectory)/tests/tests.json

- script: echo '##vso[task.setvariable variable=testspath]$(loca

[2019-12-03 14:26] SadokLadhari commented on #11439
@epsmae Thanks a lot for your answer.
Disabling the preview feature Service connection fixed the issue for me as well.
![image](https://user-images.githubusercontent.com/1139512/70059505-350b9d80-15e1-11ea-9403-511d7850dc5c.png)

[2019-12-03 14:34] ggirard07 commented on #11862
@jalajmsft Yes I did and it was the proper one. I even tried to set it again explicitly in my script just to be sure but it did no change anything.
I'll share the logs on the provided email today or tomorrow and keep you posted.

[2019-12-03 15:20] jcoeltjen commented on #11414
Still an issue with task version 0.159.3

[code]

Looking forward to @Anumita  changes to be available!

[2019-12-03 15:30] Uanid opened #11875 "Can't find message resource in MavenAuthenticateV0"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Enter Task Name**: MavenAuthenticate

## Issue Description

![warn](https://user-images.githubusercontent.com/35264628/70064189-71b0b680-162c-11ea-9ab8-47e62523654f.PNG)

When MavenAuthenticateV0 task attempt to get resource message, an warning message shown.
So I added ko-KR mess

[2019-12-03 16:41] Lijo2019 opened #11876 "pipeline is failing with error 403 No valid crumb was included in the request."
Hi,
When I integrated Jenkins through azure devops, and executed the pipeline, the pipeline is failing with below error
Job creation failed.
HttpResponse.statusCode=403
HttpResponse.statusMessage=No valid crumb was included in the request

Jenkins Version  used is 2.190.3

Here i tried below options
1. disabling CSFR Protection.
2. Enable  proxy compatibility, but same error i got while building p

[2019-12-03 17:31] jahsu-MSFT commented on #11804
@avivanoff Which account you are using? We just deployed the new agent version and since we will not do any deployments in late December, the next releases time would be some time in early Jan.

[2019-12-03 18:32] avivanoff commented on #11804
What do you mean by "account"?

[2019-12-03 18:35] jahsu-MSFT commented on #11804
@avivanoff I'm assuming you have an AzureDevops account?

[2019-12-03 18:55] fadnavistanmay commented on #11835
@jahsu-MSFT

[2019-12-03 19:00] jahsu-MSFT commented on #11546
https://github.com/microsoft/azure-pipelines-agent/pull/2635

[2019-12-03 19:04] jahsu-MSFT commented on #11546
@JoeGaggler Thanks for the feedback. The changes for using project name should be released in 1-2 weeks.
For using a name for pipeline, it should already be available in the latest agent version.
Thanks,

[2019-12-03 19:06] #11546 closed

[2019-12-03 22:12] siromega commented on #11749
I looked at the two releases, run on two different agents, and have the following:

Old agent:  Current agent version: '2.140.2' (works)
New agent: Current agent version: '2.160.0' (task doesn't work)

HOWEVER, I installed the 2.140.2 version of the agent on the new server, using and still got the same errors I had with 2.160.0. So I have one computer with Agent 2.140.2 and it works, and one compu

[2019-12-03 22:33] jahsu-MSFT commented on #11835
@sharno Thanks for the feedback. From looking at your yaml schema, I think the pipelineId there is redundant since you already selected to use the "latest from branch".
The pipeline should work by using the below schema -

- task: DownloadPipelineArtifact@2
  inputs:
    buildType: 'specific'
    project: '284k8d13-4263-4e3e-bca1-bf4744fb3dc6'
    artifactName: 'bin_Linux'
    buildVersionToDownlo

[2019-12-03 22:37] sharno commented on #11835
@jahsu-MSFT
Thanks for your reply
I found out that `pipelineId` should actually be just `pipeline` and this worked correctly

seems like the documentation is contradicting between the examples and the YAML snippet:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops

[2019-12-03 22:44] jahsu-MSFT commented on #11835
Thanks for the update. @sharno  and sorry I deleted the previous reply since it's not exactly correct.
 There are actually pipeline input field and pipelineId input field. The old name for the "pipeline" input field was "definition". We are going to update the documentation to avoid confusion. And we'll also be improving our error messages.
Thanks,

[2019-12-03 22:46] sharno commented on #11835
@jahsu-MSFT No worries, thanks for taking care of the issue

[2019-12-03 23:05] ccerghed opened #11877 "Windows Machine File Copy - why are admin credentials required for this task?"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in