[2022-01-15 12:06] #15041 closed

[2022-01-16 00:15] #11674 closed

[2022-01-16 05:35] MiYanni commented on #15605
I'm also seeing the same issue. Does this repo not experience this issue on it's own pipeline? Warning looks like:
[code]

[2022-01-16 15:05] #15044 closed

[2022-01-16 18:05] #15045 closed

[2022-01-16 18:07] ArpanSolanki29 commented on #7799
Hi, I faced the similar problem, this is a spacing issue, if you look at the created JSON Data: {"CosmosDb__Account":"***\n-CosmosDb__Key", **""**:"***"}
In order to make it work, leave a blank space after this line -CosmosDb:Account "$(CosmosDbAccount)"
eg: AppSettings: |
        -CosmosDb:Account $(CosmosDbAccount) [<- leave a blank space here]
        -CosmosDb:Key $(CosmosDbKey)

[2022-01-16 19:59] tomred-net commented on #15532
Hi @v-saikumart,

I am sorry I did not receive a notification of you edits to your original reply, hence I did not notice the request for more information. I will run the deployment now and extract the logs. It is still failing for the same reason.

Dermot

[2022-01-16 20:31] tomred-net commented on #15532
@v-saikumart

Please find attached both the log file and the azure-pipeline.yml

Dermot
[azure-pipeline.yml.txt](https://github.com/microsoft/azure-pipelines-tasks/files/7877883/azure-pipeline.yml.txt)
[failed.deployment.txt](https://github.com/microsoft/azure-pipelines-tasks/files/7877884/failed.deployment.txt)

[2022-01-16 20:32] tomred-net commented on #15532
@RSteeno No fix so far. It is still happening for us.

[2022-01-16 21:05] #15047 closed

[2022-01-16 21:05] #13619 closed

[2022-01-17 00:48] v-saikumart commented on #15532
@tomred-net  Thank you for the response. We will investigate further and share the status accordingly.
Thank you.

[2022-01-17 02:17] ibocon commented on #15605
I set `indexSources` to `false`. And then warnings are disappeared.

[code]

[2022-01-17 04:26] nadesu commented on #7799
@PhilipsonJoseph @v-ibshaik - pls look into it

[2022-01-17 07:21] tatyana-kostromskaya opened #15777 "[JavaToolInstallerV0] Fix critical security issue"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: JavaToolInstallerV0

## Issue Description

JavaToolInstaller has dependencies on npm packages which have critical security vulnerabilities or dependencies on other packages with security vulnerabilities.
We need to upd

[2022-01-17 07:24] tatyana-kostromskaya opened #15778 "[DownloadBuildArtifactsV0] Fix critical security issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadBuildArtifactsV0

## Issue Description

DownloadBuildArtifactsV0 has dependencies on npm packages which have critical security vulnerabilities or dependencies on other packages with security vulnerabilities.
We

[2022-01-17 07:32] tatyana-kostromskaya opened #15779 "[codecoverage-tools common package] Fix critical security issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: "codecoverage-tools" common package (./common-npm-packages/codecoverage-tool)

## Issue Description

"codecoverage-tools" common package has dependencies on npm packages which have critical security vulnerabilities or

[2022-01-17 07:36] tatyana-kostromskaya opened #15780 "[az-blobstorage-provider-v2 common package] Fix critical security issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: "az-blobstorage-provider-v2" common package (./common-npm-packages/az-blobstorage-provider-v2)

## Issue Description

"az-blobstorage-provider-v2" common package has dependencies on npm packages which have critical sec

[2022-01-17 07:38] tatyana-kostromskaya opened #15781 "[codeanalysis-common common package] Fix critical security issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: "codeanalysis-common" common package (./common-npm-packages/codeanalysis-common)

## Issue Description

"codeanalysis-common" common package has dependencies on npm packages which have critical security vulnerabilities

[2022-01-17 09:28] jasric89 commented on #14744
Please can I get an update on this ticket? There is no point re-opening it to let it go dormant to be closed again. I have had a support request with MS, they have confirmed that this task that your team works on does not work with a Management group scope. Which puts into a big problem if you are deploying to multiple subscriptions this simply can not be done with one pipeline because of this tas

[2022-01-17 09:34] jasric89 commented on #15670
Please can I get an update on this. Everytime you scope a Service connection to a management group and give it the relevant rights for example, contributor access. The pipeline fails to deploy into any subscription within that Management group. I have a ticket open with MS, where the only current trying but not tested solution is to some how pass in service connections into a yaml pipeline. Yet we

[2022-01-17 09:58] anatolybolshakov commented on #15593
@MichaelMWW sure, let us take a look at the documentation update here also.

[2022-01-17 10:23] anatolybolshakov commented on #15670
Hi @jasric89 this repo is mostly for pipeline tasks related issues - for Azure DevOps related questions you can open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it.

[2022-01-17 11:32] tatyana-kostromskaya opened #15782 "[Tasks/Common/packaging-common] Fix critical security issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: "Tasks/Common/packaging-common" common package
Affected tasks:
- DownloadGitHubNpmPackageV1
- DownloadGitHubNugetPackageV1
- NpmAuthenticateV0
- NuGetCommandV2
- NuGetInstallerV0
- NuGetPublisherV0
- NuGetRestoreV1
- N

[2022-01-17 11:34] ghost opened #15783 "[Tasks/Common/webdeployment-common-v2] Fix critical security issues"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: "Tasks/Common/webdeployment-common-v2" common package
Affected tasks:
- AzureSpringCloudV0

## Issue Description

"Tasks/Common/webdeployment-common-v2" common package has dependencies on npm packages which have critic

[2022-01-17 11:43] tatyana-kostromskaya commented on #15783
@yevster could you please take a look at this ticket as you own the only affected task?

[2022-01-17 16:33] alexander-smolyakov commented on #14915
Hi all, let me provide an update regarding this ticket:

At the moment the Java 17 is still not available on the following virtual images:
- Ubuntu 18
- Ubuntu 20

However, these images will be updated soon, here is a link to a related ticket:
- actions/virtual-environments/issues/4085

Once all virtual images will contain Java 17, we will update the Maven task.

[2022-01-17 16:35] madhusaragadam1025 commented on #11005
Is there anyway to ignore this explicitly ?  As long as the key doesn't change which includes some lock file, we don't want to miss the cache.

Please let us know if you have anything as such.

Thanks !

[2022-01-17 16:37] madhusaragadam1025 opened #15787 "Is there any way to explicitly ignore Cache Scope on Branches"
Required Information
Entering this information will route you directly to the right team and expedite traction.

Question, Bug, or Feature?
Type: Question (Bug?)

Enter Task Name: CacheBeta@0

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

Environment
AzurePipeline

Agent - Hosted or Private:

If using Hosted agent, provide agent queue name:
 Windo

[2022-01-17 17:41] digiventus-admin commented on #15532
Same problem for me and my team of 15 devs, this is heavily impacting us currently. The only difference to the behavior reported by @tomred-net is that is does not fail always, but very often. This is even more annoying.

[2022-01-17 17:43] jschiessl commented on #15532
Same problem for me and my team of 15 devs, this is heavily impacting us currently. The only difference to the behavior reported by @tomred-net is that is does not fail always, but very often. This is even more annoying.

[2022-01-17 20:30] Fred-Richer commented on #14915
Hi, just wondering, does it mean that it's available on windows images?

I'm still seeing this warning when trying to use Java 17:
Value is not accepted. Valid values: "default", "1.11", "1.10", "1.9", "1.8", "1.7", "1.6".

`stages:
- stage: 'Deploy'
  pool:
    vmImage: 'windows-latest'
  jobs:
  - job: 'job1'
    steps:
    - task: MavenAuthenticate@0
      inputs:
        mavenServiceConnection

[2022-01-17 22:38] t-dedah commented on #15337
@marvinbuss @johndowns Raised a PR for mitigation. https://github.com/microsoft/azure-pipelines-tasks/pull/15788

For first iteration, we are only supporting bicep if azure cli installed >= 2.20.0. we are still looking into installation script for bicep cli.

Also we are only adding this support for "Linked Artifact" case as for the other case url for the template and parameters are directly passe

[2022-01-17 22:44] johndowns commented on #15337
Thanks @t-dedah. Great to see this progressing!

@anthony-c-martin is probably best to review this from a code perspective. I've made a few minor suggestions around wording of messages and Markdown files.

cc @alex-frankel

[2022-01-18 00:32] thorntonrp commented on #9242
I would think that only thing needed to support the Maven wrapper script is an option to pass the commands to `./mvnw` instead of `$MAVEN_HOME/bin/mvn`. The wrapper script simply ensures that the required version of Maven has been downloaded and cached locally. In this way, the Maven wrapper script is analogous to the `gradleWrapperFile` on the Gradle task.

[2022-01-18 00:49] thorntonrp commented on #14999
CORRECTION: The maven wrapper plugin has actually been supported **since 3.0.0**. ( see https://maven.apache.org/wrapper/ )

The maven-wrapper-plugin supported for all versions of Maven 3 using the command mvn wrapper:wrapper. Running that command should be part of project setup since the wrapper script should be added to source control, so the Azure pipeline Maven task doesn't need to execute the

[2022-01-18 06:37] v-ibshaik commented on #15712
Hello jontreynes,

I have tried  to repro issue on my local machine, its working expected only. Could you please provide the complete logs and YAML file.

Thanks.

[2022-01-18 08:41] tatyana-kostromskaya commented on #15781
Affected tasks: GradleV2, GradleV3, MavenV2, MavenV3

[2022-01-18 08:41] tatyana-kostromskaya commented on #15780
Affected tasks: AzureVmssDeployment, JavaToolInstaller

[2022-01-18 08:42] tatyana-kostromskaya commented on #15779
Affected tasks: ANTV1, GradleV2, GradleV3, MavenV2, MavenV3, PublishCodeCoverageResult

[2022-01-18 08:56] v-ibshaik commented on #15656
Hi All,

We have fixed the issue.

Thanks.

[2022-01-18 09:23] marcusrichards commented on #15656
great news thanks. Has it been deployed to the production environment?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: v-ibshaik ***@***.***>
Sent: Tuesday, January 18, 2022 8:56:36 AM
To: microsoft/azure-pipelines-tasks ***@***.***>
Cc: Marcus Richards ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/azure-pipelines-tasks] ***@***.*** to VM with WinRM p

[2022-01-18 12:21] wilanc commented on #13971
We have also encountered this error and raised a support request with MS. One workaround if you don't want to upgrade npm is use the `retryCountOnTaskFailure` on the task:
[code]

[2022-01-18 13:37] v-ibshaik commented on #15656
Hello  marcusrichards,

Yes, We have fixed the issue by updating the Cert Valid dates.

Thanks.

[2022-01-18 13:37] #15656 closed

[2022-01-18 13:50] marcusrichards commented on #15656
Good news, thank you.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: v-ibshaik ***@***.***>
Sent: Tuesday, January 18, 2022 1:37:50 PM
To: microsoft/azure-pipelines-tasks ***@***.***>
Cc: Marcus Richards ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/azure-pipelines-tasks] ***@***.*** to VM with WinRM prerequisites is creating invalid Expired Certific

[2022-01-18 14:29] jontreynes commented on #15712
[code]

There is no log file because the job did not start due to the compatibility issues

This is all that outputs
##[error]No agent found in pool myselfhosted(Windows) which satisfies the specified demands: azureps, Agent.Version -gtVersion 2.163.1

When you repro, does your windows agent have gtVersion 2.163.1?

[2022-01-18 15:40] huysentruitw commented on #15686
I'm having the same issue when trying to do a test deploy to IIS on Windows 11.

When checking the logs, I see that the task executes a `netsh http show sslcert hostnameport=<hostname>:<port>` before executing the `netsh http add sslcert` command. My guess is that the task tries to check if the binding already exists using the `show sslcert` but fails because the CLI output has changed slightly be

[2022-01-18 15:50] huysentruitw commented on #15686
Seems the check uses hardcoded, zero-based, line numbers to extract data from the CLI output, see https://github.com/microsoft/azure-pipelines-tasks/blob/acc64cc7292c98597908325e53af9f898a896189/Tasks/IISWebAppDeployment/MsDeployOnTargetMachines.ps1#L283

This fails on Windows 11 at my end because the `show sslcert` command returns more blank lines in Windows 11:

The left is running IIS 10 on Win

[2022-01-18 16:43] jelsner-nlp commented on #15656
Hello v-ibshaik,
I am confused here.  Does this mean if we are using the AzureFileCopy task in an AzureDevops pipeline, should error be fixed or do we have to do anything on the target servers to update the certs still?

[2022-01-18 16:58] RSteeno commented on #15532
I have an case open with MSFT.  The engineer referenced an ongoing Resource Manager issue dated Jan 13th which could be related.

https://status.azure.com/en-us/status/history/

[2022-01-18 17:59] Hotjava opened #15792 "IISWebAppManagementOnMachineGroup Remove username and password when they are not required"
Is it possible to remove the username and password for Virtual Directory on a website.

I am using yaml to deploy a website which app pool already configured, noted that everytime I use ADO to deploy the applicationhost.config file has been updated as
[code]
The website fails to start with this username and password, the error is "Failed to decrypt attribute 'password' because the keyset does not

[2022-01-18 18:19] giggio commented on #11674
OMG, all the time, this. It is not stale, can someone please reopen it?

[2022-01-18 21:03] mrsquish commented on #15656
I'm not seeing any fix on my release pipelines.

[2022-01-18 21:09] Alin-Dumitrescu commented on #15686
Sounds like there is a good case to fix it. I would be willing to get a preview version and test it on both Win 2019 and 2022 as we have both.

[2022-01-18 22:02] jelsner-nlp commented on #15656
Me neither..

[2022-01-19 08:28] SharePointRadi opened #15793 "Deploy to an Azure Cloud Service (Extended support)"
## Required Information
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AzureCloudPowerShellDeploymentV1

## Environment
Azure Pipelines, Microsoft-hosted agent.

## Issue Description
What is the current recommended way to deploy a VS Cloud Service project to the new ARM-based Cloud Service (extended support)?
Is there relevant documentation?
Azure Cloud Service (Classic) is

[2022-01-19 09:21] v-ibshaik commented on #7799
Hello  All,

I have tried to repro issue on my local machine, its working expected only.

eg: AppSettings: |
-CosmosDb:Account $(CosmosDbAccount) [<- leave a blank space here]
-CosmosDb:Key $(CosmosDbKey)

Please find the below YAML code for your reference.

<img width="445" alt="image" src="https://user-images.githubusercontent.com/89773592/150100778-3a896413-d5d2-40a3-9ed1-a67c7f935668.png">

Th

[2022-01-19 09:59] wokket commented on #7799
@v-ibshaik I notice you have a trailing whitespace between your yaml list items there (L34), similar to @ArpanSolanki29 's comment above.

Is that a documented requirement for this step to work?  I don't recall seeing it noted anywhere (unlike the 'wrap in quotes if you have spaces in your value' requirement...

Personally I find yaml a fragile enough format as it is even before complicating thing

[2022-01-19 12:33] v-ibshaik commented on #15452
Hello Waddlen,

We are closing this issue now. If you are still facing the issue .Could you please raise the new ticket and provide the steps to take backup path in local environment &  task related YAML steps.
Note: For backup limitations  need to work with  msdeploy team.

Thanks.

[2022-01-19 12:33] #15452 closed

[2022-01-19 12:34] v-ibshaik commented on #15712
Hello jontreynes,

As per error "No agent found in pool which satisfies the specified demands: azureps, Agent.Version -gtVersion 2.163.1"

1. You need to install azureps . we can see the azureps details in Capabilities. Go to Agent pools->Agents->your Agent->
Capabilities.

2. Also could you please go through the below links for your reference.
https://developercommunity.visualstudio.com/t/no-agen

[2022-01-19 12:34] v-saikumart commented on #15532
@tomred-net  Could please verify the SPN role and confirm the web app(request-to-pay-service) is present in that subscription.

[2022-01-19 12:42] v-ibshaik commented on #7799
Hi wokket,

We need to update the document for providing the space after key value pair.

Thanks.

[2022-01-19 12:42] tatyana-kostromskaya commented on #15778
PR: https://github.com/microsoft/azure-pipelines-tasks/pull/15794

[2022-01-19 13:00] v-ibshaik commented on #15656
Hi mrsquish,

We don't have any code changes in azure-pipeline-tasks and basically we have updated the code changes  in ==> azure-quickstart-templates/master/demos/vm-winrm-windows/ConfigureWinRM.ps1
Could you please verify the task .

Thanks.

[2022-01-19 13:01] tatyana-kostromskaya commented on #15777
Depends on #15780

[2022-01-19 13:29] tatyana-kostromskaya commented on #15780
PR: https://github.com/microsoft/azure-pipelines-tasks/pull/15795

[2022-01-19 14:02] zac-jacobson opened #15796 "Cache restores files to incorrect subdirectory - PaxHeader"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: cliodev launcher windows 17912

- Agent - Hosted:
    -

[2022-01-19 14:59] zac-jacobson commented on #15796
I tried `windows-2022` agent as well, to no avail.

[2022-01-19 15:10] #15782 closed

[2022-01-19 16:09] jrdouceur commented on #15517
Uh.... ping?

[2022-01-19 16:42] zac-jacobson commented on #15796
Kludgy as all get-out, but my workaround is to add a `Remove-Item` for each thing in the cache that has problems.
eg
[code]

[2022-01-19 17:31] mdubdev commented on #15532
I too am dealing with this issue and have a support case open with MS. Please let me know if there is anything I can provide to assist in resolving this issue as it is causing a lot of issues for our devs.

[2022-01-19 17:44] woodman231 opened #15799 "Unable to build a .NET 4.5 (Database Project) using VSBuild@1 on windows-2022 agent"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-01-19 18:10] woodman231 commented on #15799
Ok. I think I see that because 4.5 is technically end of life is probably why it is not on windows-2022. I was able to target the database project for 4.8, and that actually worked. Not sure for how long that will work. But it fixed it for now. This might help some one else out in the future though. Hopefully there are plans to allow these database projects to target higher .net frameworks in the

[2022-01-19 18:20] jontreynes commented on #15712
is the requirement to downgrade the agent version from 2.196.2 to 2.163.1 on my side? B/c this is a feature request to update the task to be compatible with the latest agent version

[2022-01-19 19:42] chlsmith opened #15800 "SqlDacpacDeploymentTask not finding Accesstoken"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-01-19 20:38] tomred-net commented on #15532
Hi @v-saikumart, the request-to-pay-service is in the PAYGO Subscription. The Service Principle has Azure Service Management API permissions and is a 'Cloud application administrator'. The SPN is capable of deploying Static Web Apps to Microsoft.Web%2FStaticSites and Containers to Microsoft.ContainerRegistry%2Fregistries without issue.

[2022-01-19 21:09] wokket commented on #7799
It's hardly pit of success stuff, but at least documenting the fix gives us a start.  Thank you.

[2022-01-19 21:24] jayserdny opened #15801 "PowerShell Task option "Show warnings as Azure DevOps warnings" not working when raising warnings from a class"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-01-19 21:50] nlighten opened #15802 "HelmDeploy@0 and Kubernetes@1 do not work with kubelogin"
**Question, Bug, or Feature?**
*Type*: bug

**Task Name**:
- *HelmDeploy@0*
- *Kubernetes@1*

## Environment
- Server: Azure Pipelines

- Agent:  Private, ubuntu 18.04, version 2.196.2

## Issue Description
Both `HelmDeploy@0` and `Kubernetes@1` do not work with [kubelogin](https://github.com/Azure/kubelogin) while under the same conditions the plain `helm` and `kubectl` binaries do.

We run AKS w

[2022-01-20 00:49] mrsquish commented on #15656
Thanks v-ibshaik.

So, I assumed I was supposed to run the ConfigureWinRM.ps1 script on the VM, which I did. Using the DNS name as the hostname? After that I ran the release pipeline, this time getting the dreaded "Operation 'PUT Extension' is not allowed on VM extension 'WinRMCustomScriptExtension' since it is marked for deletion.". Tried, restarting the VM (no change). I suspected the restart di

[2022-01-20 02:07] mrsquish commented on #15656
Ok, so I was able to resurrect the VM with a restart --force.
After doing so, the WinRMCustomScript extension had been removed, so I thought, good to go.
Ran the Release pipeline again, and in short, it wouldn't finish (end up stopping it after the AzureCopy task had been running for an hour).
The last two lines from the log was :
[debug]Set-AzVMCustomScriptExtension -ResourceGroupName <REDACTED>

[2022-01-20 04:11] kaito-ms opened #15803 "Is there any way to verify that the DownloadPackage task has completely downloaded the package?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: DownloadPackageV1

## Environment
- Server - Azure Pipelines

    - If using TFS on-premises, provide the version: unknown

    - If using Azure Pipelines, provide the account name, team project name, build defini

[2022-01-20 04:54] v-ibshaik commented on #15712
Hello jontreynes,
Have you verified the Capabilities? Go to Agent pools->Agents->your Agent->Capabilities.

<img width="383" alt="image" src="https://user-images.githubusercontent.com/89773592/150275701-19745b90-a5ce-4eae-bc94-170c5eb99d95.png">
Thanks.

[2022-01-20 08:58] golubev-ivan commented on #15183
VsTestV2 - [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15798)

[2022-01-20 12:50] WolfyUK commented on #8829
The following article helped me resolve this issue. Essentially, export the .json from the task group, customise the `defaultValue` and `visibleRule` and then import back again.

- https://medium.com/objectsharp/how-to-hide-a-task-group-parameter-b95f7c85870c

e.g.
[code]

[2022-01-20 14:57] maikelvanhaaren opened #15806 "AzureRmWebAppDeployment@v4 - Resource should exist before deployment"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-01-20 15:10] #14933 closed

[2022-01-20 16:46] sergeyotro commented on #15404
I was thinking the same, but in practice it didn't.

[2022-01-20 19:03] johnborges commented on #15703
Looks to be fixed after updating the extension to 3.173.0.

[2022-01-20 21:26] nlighten commented on #15802
I found out that my problem was caused by AzureCLI@2 doing `az account clear` at the end. As a result there was no valid login anymore when the HelmDeploy and Kubernetes task where invoked.

If I use plain bash and an explicit login/logout everything works as expected in combination with a MSI:

[code]

Still, I would prefer explicit support for kubelogin as part an ARM Service Connection on the K

[2022-01-20 21:26] #15802 closed

[2022-01-20 23:10] Adebeer commented on #13971
@bensgroi  Thanks for the retry suggestion - nice/easy suggestion until it's fixed properly.
I've added this to our npm steps so hopefully this should get most of our builds working more reliably

[2022-01-21 03:37] v-saikumart commented on #15806
Hi @maikelvanhaaren Could you please share logs by keeping system.debug = true in pipeline.

Thank you.

[2022-01-21 08:47] v-ibshaik commented on #15656
Hello mrsquish,

1. Issue got fixed ,No need to do any update  in Target machine. could you please Try to connect new Target machine from your Task.

2. In your case you have work around with  your target machine. for this you need to  delete the cert ,run the Delete-WinRMListener and clear the cache.

Thanks.

[2022-01-21 10:50] maikelvanhaaren commented on #15806
Our pipeline for the deployment of a feature to Azure looks like this:

![image](https://user-images.githubusercontent.com/18571666/150511704-d6fd38f6-c6f3-43cb-b2e4-a31759bc4871.png)

Context:
1. The building stage is responsible for building the apps and publish artifacts.
2. The stage deployment is responsible for the deployment of the code to a feature resource group in Azure:
1.1. `Infrastruc

[2022-01-21 10:56] tatyana-kostromskaya commented on #15781
PR: https://github.com/microsoft/azure-pipelines-tasks/pull/15804

[2022-01-21 11:40] #15780 closed

[2022-01-21 11:51] #15781 closed

[2022-01-21 15:10] #15062 closed

[2022-01-22 17:31] AbyTJoseph commented on #11151
Hi @NinadKavimandan 👋
I was able to set up a Build (CI) YAML Pipeline like you have mentioned and was able to get an authenticated CLI with Service connection - SP that is scoped at the Management group level, i.e seems it works via YAML.
However, the Release Pipeline using the Classic Editor of the Azure CLI task still doesn't seem to list any Service connections that are scoped at the Management

[2022-01-22 21:56] thorntonrp opened #15814 "Code coverage doesn't work with Gradle Kotlin DSL"
Type: Bug
Task Name: Gradle

When using the Gradle task for Gradle projects that use the Kotlin DSL (build.gradle.kts), the code coverage feature doesn't work because it's looking for build.gradle instead of build.gradle.kts.

[code]

[2022-01-23 20:15] anotherancientalien opened #15815 "Dynamic Values in Azure Resource Manager (ARM) Template Deployment Task"
*Type*: Question

*Task Name**: Azure Resource Manager (ARM) Template Deployment Task

## Environment
Azure Pipelines

Is there anyway to use dynamic values for subscription and resource group in Azure Resource Manager (ARM) Template Deployment Task? (not YAML)

Any advice would be appreciated.

<img width="489" alt="Screen Shot 2022-01-23 at 22 57 23" src="https://user-images.githubusercontent.co

[2022-01-24 06:28] JeffreyH1989 commented on #15001
Hi, it's been awhile, can we expect any update on this

[2022-01-24 08:10] tatyana-kostromskaya commented on #15778
PR was merged and 10 critical issues were fixed

[2022-01-24 09:42] Turnerj commented on #15084
Afaik, the issue is still ongoing. (Hopefully this makes the bot unmark this as stale)

[2022-01-24 11:07] qtpsudhakar commented on #14146
This will be a good feature for Playwright to run in azure

[2022-01-24 12:10] #15077 closed

[2022-01-24 12:14] hansmbakker commented on #12572
Please upvote for wildcards for pre-releases at https://developercommunity.visualstudio.com/t/Support-wildcards-for-prereleases-when-i/1645572

[2022-01-24 12:14] hansmbakker commented on #12810
Please upvote for wildcards for pre-releases at https://developercommunity.visualstudio.com/t/Support-wildcards-for-prereleases-when-i/1645572

[2022-01-24 14:02] jasric89 opened #15818 "AzureWebAppV1 Gives False Error when Deploying Web App Files"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-01-24 15:10] #14774 closed

[2022-01-24 15:49] FWI-95 opened #15819 "Multiple Agents: Tasks not responding / stuck after ##[debug]$LASTEXITCODE: 0"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-01-24 15:52] FWI-95 commented on #15819
It didn't happen any time until now when only running one agent per server

[2022-01-24 18:02] felickz commented on #12178
To re-iterate ... this is still the case. Particularly nasty when you put this in a task group and need to pass around variables

Dropdown Value:            `3.1 (DOTNETCORE|3.1)`
Export JSON and see value:  `"RuntimeStack": "DOTNETCORE|3.1"`

[2022-01-24 20:39] chrisg32 commented on #7611
Ran into this problem today. Assigning the "Storage Blob Data Contributor" role did not help. Dropped to version three seemed to do the trick.

[code]

[2022-01-24 22:04] kevinaschmidt commented on #15451
also looking for an update on this

[2022-01-25 03:05] #15081 closed

[2022-01-25 03:09] mawankhade commented on #7799
Hi All,
Anyone was able to make it work with Timer schedule settings. I tried all the suggested options but none of them worked for me. we are setting app settings values on 'Azure App Service Deploy' task.

Key-: Schedule_ResetUserEmailSettings
Value-: 0 */1 * * * *

**Options tried**

1. Option 1
                   -Schedule_ResetUserEmailSettings 0 */1 * * * *
2. Option 2
                   -Sc

[2022-01-25 08:17] v-ibshaik commented on #7799
Hello mawankhade ,

I have tried to repro issue on my local machine, its working expected only.
Ex: -Schedule_ResetUserEmailSettings "0 */1 * * * *"

<img width="410" alt="image" src="https://user-images.githubusercontent.com/89773592/150937697-7cb65a30-8dbd-4fc4-8479-072054c0f9e0.png">

Thanks.

[2022-01-25 08:27] wokket commented on #7799
@v-ibshaik Given the entire premise for this issue now revolves around whitespace, can you please ensure you show visible whitespace in your screen shots for us?  This thread is currently the only documented working examples that I know of for this stuff.

[2022-01-25 09:03] v-ibshaik commented on #7799
Hello wokket,

Please find the screen shot with space.

<img width="371" alt="image" src="https://user-images.githubusercontent.com/89773592/150945292-a7611be6-c77f-4889-873a-88b8da059eda.png">

Thanks.

[2022-01-25 09:51] v-ibshaik commented on #15560
Hello Jeffrey,

I have verified the your code changes. Its working expected only.
Could you please update the task.json and  few checks are failing in PR please resolve it.

Thanks.

[2022-01-25 10:54] anatolybolshakov commented on #15617
Hi @amitzalamsft as I know there is no ability to download artifact from different organization, but you may probably ask in https://developercommunity.visualstudio.com/search?space=21 to double-check.

[2022-01-25 10:54] lmrisdal commented on #15532
Also dealing with this issue. Seems completely random if it fails or not. Deployed 4 apps just now. 3 of there were successful, but the last one refuses to deploy.

[2022-01-25 11:51] gioce90 commented on #15160
Indeed, this makes no sense: from [Publish Code Coverage Results task - FAQ](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops#is-code-coverage-data-merged-when-multiple-files-are-provided-as-input-to-the-task-or-multiple-tasks-are-used-in-the-pipeline) :

[2022-01-25 11:54] chlsmith commented on #15800
This turned out to be ID 10T.  My mistake.

[2022-01-25 11:54] #15800 closed

[2022-01-25 12:25] golubev-ivan commented on #15183
NuGetToolInstallerV0-V1 PRs:
- https://github.com/microsoft/azure-pipelines-tasks/pull/15822
- https://github.com/microsoft/azure-pipelines-tasks/pull/15824

[2022-01-25 14:06] jsblock78 commented on #15560
Hello @v-ibshaik,

Which task.json gets updated? The changes in the PR only modified the `Tasks/Common/RemoteDeployer/RunPowerShellScriptJob.ps1` file, used by the RemoteDeployer module, which appears to be used by `AzureFileCopy` and `PowerShellOnTargetMachine` tasks. Do both of those tasks get the task.json updated, or neither?

In regards to the checks, I see that two have passed - but it appea

[2022-01-25 14:43] jsblock78 commented on #15560
@v-ibshaik I see that other users whose checks have passed have created a branch directly in this project instead of attempting a PR from a fork. Is this the route I should take? Do I have permissions to do so?

[2022-01-25 16:47] carolynvs opened #15825 "Always use the latest patch for Go?"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: GoTool

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

I would like to use the latest patch for any particular Go version so that I get security patches automatically. It doesn't look like that's supported though. If I use `1.16` for the version, it will use `1.16.0` and

[2022-01-25 18:28] anatolybolshakov commented on #15779
Closed since packages have been published.

[2022-01-25 18:28] #15779 closed

[2022-01-25 18:49] KonstantinTyukalov commented on #14779
XCode task is wrapping the `xcodebuild` CLI tool, which means you are free to make things that can `xcodebuild`.
As I tested, there are no blockers to set up to XCode task of resolving `test-without-building` action.
Here's my test pipeline snippet:

[code]

If it's helpful to you, I was guided by this documentation: https://developer.apple.com/library/archive/technotes/tn2339/_index.html

If you

[2022-01-25 19:26] schnaser commented on #14779
I ended up manually scripting together xcodebuild commands, but that's more so because I have a more complicated use case than I'd expect any XCode task to support out of the box.

[2022-01-25 21:09] alexkhorton opened #15826 "Unclear wording in Azure Resource Manager (ARM) Template Deployment Task readme"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-01-25 22:22] alexkhorton opened #15827 "Failure to retrieve file from connected github repository when running AzureResourceManagerTemplateDeployment@3 - 404 Not Found"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-01-25 22:28] alexkhorton commented on #15827
I forgot to note the environment information:

Environment
Server - Azure Pipelines or TFS on-premises?

If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

Azure Pipelines.
Account name - alexkhorton
Project: ARM_Deployment_Test
Build Number: 20220125.29
Buid Id: 33

Agent - Hosted or Private:

If using Hosted agent, provide agent queue name

[2022-01-25 23:19] WibblyDibbler commented on #13983
This can be reproduced with artifact tool 0.2.204.  An existing artifact named "configuration-poc-x" prevented one named "configuration-poc" from being created using this task.  The Azure DevOps extension to the Azure CLI is able to create this correctly (using an explicit version number), and subsequent use of this task for that artifact works.  So, this bug only is limited to initial publication

[2022-01-26 07:16] remkolodder commented on #13983
We are also facing this, it appears that if the names start the same 'abcdefg' 'abcdefgXXXXX' where XXX can be anything else, it will not release the initial version. We prefixed it with prod- for example, and that allowed us to create the artifacts next to the 'normalname-dev' variant. We are also using artifact tool: ArtifactTool 0.2.204

Request this issue to be reopened, clearly people still r

[2022-01-26 07:44] Apholisha commented on #15581
Hello,
Any progress on this?
Thanks.

[2022-01-26 09:26] ingemarson commented on #14779
many thanks!

[2022-01-26 09:26] #14779 closed

[2022-01-26 10:42] hunyhabib commented on #13789
@bishal-pdMSFT / @alex-frankel - this would be amazing enhancement, as or now i need manually to run azure cli task then make my custom script to fill the output paramaters which can be done much easier if supported in your task

[2022-01-26 17:22] alexkhorton commented on #15827
My difficulties with this task started when I was going through the steps of a tutorial. I made an issue informing the tutorial owners as well: https://github.com/MicrosoftDocs/azure-docs/issues/86958

[2022-01-26 19:05] alexkhorton opened #15831 "Unable to reference a local file when running AzureResourceManagerTemplateDeployment@3"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-01-26 19:07] lkfabu2022 commented on #15532
Having the same issue.
see https://developercommunity.visualstudio.com/t/Error:-Resource-DiagnosisCodeApi-doesn/1646720?viewtype=all&space=21&ftype=problem&sort=newest

[2022-01-26 19:29] emibcn commented on #13194
Bump?

[2022-01-26 19:33] emibcn commented on #13949
#13194 has silently been closed. This one and that have similar intentions, but different approach. I agree that we need this feature, whatever approach is used.

I personally prefer the other one, but this one is still open. So maybe this one is the preferred one by the developers?

[2022-01-26 19:41] biggyspender opened #15832 "AzureFileCopyV4 : Is usage of "Additional Arguments" correct in documentation?"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AzureFileCopyV4

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFileCopyV4

## Issue Description
In the [AzureFileCopyV4 docs](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFileCopyV4#parameters-of-the-task), **Additional Arguments** shows support

[2022-01-26 21:45] lkfabu2022 commented on #15532
I have old resources working fine and resources cloned from an existing app service also working. Issue is just w/ newly created resources. However, both have the same encoding.
test-02 is cloned and working

testing01 is new

[2022-01-27 00:54] joshuasmartin commented on #15532
I am experiencing this same error with new Azure Functions. 1 out of 4 of them showed up in the drop down for the existing service connection and even a new service connection.

[2022-01-27 03:35] Alin-Dumitrescu commented on #15686
Is there a plan or ETA to fix this issue?

[2022-01-27 04:13] JaydeepUniverse commented on #3540
I am facing this issue even though tried with all possible configuration.

In the agent

[code]

But while running through the pipeline
[code]

In the pipeline running through simple commands just to verify if ant is working
[code]

Kindly advise how to resolve this issue?
User is same for which ant is installed and pipeline agent is running

[2022-01-27 04:21] JaydeepUniverse opened #15834 "Ant not found"
## Required Information

**Issue**

**Enter Task Name**: Ant

## Environment
- Server - Azure DevOps Pipelines

- Agent - Private:

    - Ubuntu, Agent version: 2.196.2

## Issue Description

I am facing this issue even though tried with all possible configurations.

In the agent
[code]

But while running through the pipeline
[code]

In the pipeline running through simple commands just to verify i

[2022-01-27 08:02] ElectricLlama commented on #13620
Just confirming I removed the PublishProfile option and instead provided project variables in this format:

`AdditionalArguments: /v:MyVariable=Y /v:Environment=TST`

and finally got this thing to work.

It would be really helpful if we could get the sqlpackage log. Without it we cannot troubleshoot.

[2022-01-27 08:24] adalfa commented on #15532
I can confirm the same problem on a newly created resource, it fails very very often

[2022-01-27 08:50] NecatiMeral commented on #15536
I've managed to implement it by myself with a shell script:

[code]

[2022-01-27 08:50] #15536 closed

[2022-01-27 09:38] wasfree commented on #14316
With this Azure DevOps Tasks ist not working, you have to Use Kubelogin as mentioned in MS Documentation: https://docs.microsoft.com/en-us/azure/aks/managed-aad#non-interactive-sign-in-with-kubelogin

Here is how it should work:
[code]

[2022-01-27 10:56] benjaminoerskov opened #15835 "IISWebAppManagementOnMachineGroup Version 0.5.15 => 0.198.0?"
4 days ago when running the task: IISWebAppManagementOnMachineGroup@0 it defaulted to version 0.5.15 and this ran fine.

When im running it today, its using version 0.198.0 and failing. I have not changed anything in my yaml file, so I dont understand why this is failing now, or while we're getting such a big versionchange?

Its also not possible for me to use version 0.5.15 anymore, as devops is

[2022-01-27 11:15] aformenti commented on #15686
We're having a problem with this as well. Seems to be particular to bindings using SNI

[2022-01-27 11:23] biggyspender commented on #15832
Note. The tooltip in the UI for this task contradicts the docs

![image](https://user-images.githubusercontent.com/1848315/151349494-03f38576-97bd-4486-b2d5-cf0594b23d52.png)

[2022-01-27 11:56] djechelon opened #15836 "Feature request: plaintext File Transform"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: FileTransform

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

- Agent - Hosted or Private: Both

## Issue Description

It would be nicer to also support generic **plaintext** format for FileTransform. Currently the only supported are XML and JSON. There is popular demand for YAML #13918.

But I nee

[2022-01-27 12:27] Prem-Codes commented on #15532
My team have been facing the same issue. It fails sporadically.

[2022-01-27 12:43] brunobertechini commented on #15451
Same issue here

[2022-01-27 13:35] joshuasmartin commented on #15532
All of my Azure Functions have now showed up this morning that were created yesterday. They were not available as of 10:30-11pm last night after being created 4-5 hours previously.

[2022-01-27 13:40] wkoeter commented on #15532
We also have this issue now. Out of the 5 deploys I just did to the same Azure Function, only 3 were successfull.
2 of them failed with:

`##[error]Error: Resource 'demoFunctionApppriv2' doesn't exist. Resource should exist before deployment.`

[2022-01-27 14:26] JaydeepUniverse commented on #15834
@tatyana-kostromskaya Could you please share information about the tag "Bug" added - When shall we expect to resolve it? What's the workaround of it?

[2022-01-27 14:32] davidstaheli commented on #15834
@JaydeepUniverse you might want to try running `echo $PATH` in the pipeline to ensure that ant is in the path for the user that the pipeline is running as.

[2022-01-27 14:32] planetmarshall commented on #11219
The PR that implemented this feature was reverted. Can this issue be reopened?

[2022-01-27 15:10] #13073 closed

[2022-01-27 15:23] lkfabu2022 commented on #15532
The new resource showed up this morning, wasn't showing up yesterday.

[2022-01-27 15:42] benjaminoerskov opened #15837 "IISWebAppManagementOnMachineGroup Version 0.5.15 => 0.198.0?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: IISWebAppManagementOnMachineGroup

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - I

[2022-01-27 15:42] #15835 closed

[2022-01-27 16:05] gioce90 commented on #13703
I have noticed some similar problems.

My pipeline run these tasks:

[code]
Please note that I set a variable `disable.coverage.autogenerate = true` and use a preview nuget package  17.1.0-preview-20211118-03

This works well and pubblish tests and code coverage. In the "code coverage" tab I see this:
![image](https://user-images.githubusercontent.com/6142403/151369836-f1d17d3b-606f-4ccd-8afc-f4a5

[2022-01-27 16:06] StephenHodgson commented on #13194
Agreed bump

[2022-01-27 16:17] nibexo commented on #14915
@alexander-smolyakov Any update?

[2022-01-27 16:18] wkoeter opened #15838 "AzureFunctionApp@1 often fails with 'Resource '****' doesn't exist. Resource should exist before deployment.'"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  AzureFunctionApp@1

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFunctionAppV1

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - Azure Pipelin

[2022-01-27 16:27] v-saikumart commented on #15532
@tomred-net  Is still issue exist, please confirm.

Thank you.

[2022-01-27 17:09] lkfabu2022 commented on #15532
My new resource created on the 25th showed up too, however anything created today isn't showing up.
Clones aren't either showing up, this was working yesterday.

Please, please get this fixed ASAP. We're seriously impeded by this issue.

[2022-01-27 17:59] gioce90 commented on #13632
There is another way to achieve this (the Full coverage on the "Code coverage" tab on the build), without using coverlet.

Now [thanks to](https://github.com/microsoft/vstest/issues/981) https://github.com/microsoft/vstest/issues/981#issuecomment-973994625) is possible to use dotnet test with cobertura format:
[code]
You can also use `publishTestResults: false` instead, followed by `reportgenerato

[2022-01-27 18:53] JaydeepUniverse commented on #15834
@davidstaheli  Thanks for your reply! Here's the output of `echo $PATH`

[code]

Here's how I have configured ANT:
[code]

If I run `echo $PATH` directly from server then I get below output with ant path:
`/usr/local/ant/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin`

I have just one user in the system through I have done the configuration o

[2022-01-27 22:28] slee2525FC commented on #15686
This is something that is affecting my organizations deployments as well

[2022-01-28 00:23] v-saikumart commented on #15599
Hi @virtualvoid Could you please share full logs by keeping system.debug=true.

Thank you

[2022-01-28 05:31] GangaBhavaniTalatam commented on #9954
@joshmouch is this still open ?

[2022-01-28 08:47] anatolybolshakov commented on #15183
NuGetInstallerV0 - [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15828)

[2022-01-28 09:35] borondy commented on #15532
We are facing similar issue as well.
Basically what happens behind the curtains is that deployment tasks are calling the **https://management.azure.com/subscriptions/{subscription-id}/resources** API to validate the target resources of the deployments. Nowadays the result of this call does not contain every resource for some reason, if the target resource is missing, the deployment fails.

[2022-01-28 11:29] ScarWar opened #15839 "Old Node.js version fails post deployment script"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeploymentV4

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - Azure Pipelines https://dev.azure.com/PhilosopherStone/Elmunasseq/_build/results?buildId=941

- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version: Self Host Linu

[2022-01-28 11:41] golubev-ivan commented on #15183
DownloadFileshareArtifactsV0 - [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15840)

[2022-01-28 13:17] TMattes commented on #14587
When will this be finally fixed? On a regular basis, our building servers run out of space due to this issue!

[2022-01-28 14:34] lmrisdal commented on #15532
I have also recently experienced that commands such as "az resource list" not always gives correct results. E.g. a cosmos db account would should up in the Azure Portal and with "az cosmosdb list", but not with "az resource list".

Not a clue if there is a connection, but I figured it might be interesting.

[2022-01-28 15:02] maxkoshevoi opened #15841 "[.NET Core CLI] Doesn't publish worker projects"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-01-28 16:06] olivepedro opened #15843 "Outdated documentation for task SqlDacpacDeploymentOnMachineGroupV0"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: SqlDacpacDeploymentOnMachineGroupV0

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks//SqlDacpacDeploymentOnMachineGroupV0

## Environment
- Server - Azure Pipelines

[2022-01-28 16:56] adalfa commented on #15532
Following yesterday deployment the pipeline seems to work fine today : does anyone experiencing only in new resources? Also does it occurs on  resources that are deployed from an ARM template? It seems to me that  the resource manager api has some consistency issue

[2022-01-28 19:51] safari137 commented on #15838
I'm having the same problem.  I had a problem with this earlier this week but after a couple of hours it worked as expected.  Today it has been 6 hours after creating the resource (function app) and Azure Devops still doesn't think it exists.

[2022-01-28 20:58] safari137 commented on #15532
This is really kind of bizarre.  I'm having the same issue, but it seem to only happen when I use an ARM template.

I was able to work around the issue initially by creating the resource (function app) through the portal.  I was then able to deploy to it fine from Azure Devops.

However, after deploying the ARM template (incremental mode), it stopped working right after.  I was hoping to still use

[2022-01-28 21:14] dannyvv commented on #15662
@carl-tanner: Let me know if you are okay with me contributing this...

[2022-01-28 21:47] cl-zacrollins commented on #15532
I'm seeing same issue as everyone above. My pipeline uses a bicep/arm template to deploy new app services and then deploy my application code to these newly created app services. This worked flawlessly until a couple weeks ago. Now I get ```##[error]Error: Resource '{MyAppServiceName}' doesn't exist. Resource should exist before deployment.``` just about every time I run the deploy pipeline. I fou

[2022-01-28 22:12] Nate129 commented on #13842
I'm having the same issue with .NET 5- Parameterized xunit tests with `[Theory]` are only seen as one test in the test viewer in azure devops despite them being recognized properly as distinct tests in the test browsing table in the same view (they are considered expandable in the view and each result for each parameter set can be seen).

[2022-01-29 00:00] carl-tanner commented on #15662
Let me check on what this does exactly.  I think this call may be responsible for setting the lifetime of the symbol (i.e. symbol is deleted when pipeline is deleted) so it may be important.

[2022-01-29 03:05] #7150 closed

[2022-01-29 09:06] #15093 closed

[2022-01-29 09:06] #15083 closed

[2022-01-29 09:06] #15080 closed

[2022-01-29 09:06] #15040 closed

[2022-01-29 09:06] #15030 closed

[2022-01-29 09:06] #15028 closed

[2022-01-29 09:06] #15024 closed

[2022-01-29 09:06] #15017 closed

[2022-01-29 09:06] #15009 closed

[2022-01-29 09:06] #15003 closed

[2022-01-29 09:06] #15000 closed

[2022-01-29 09:06] #14996 closed

[2022-01-29 09:06] #14993 closed

[2022-01-29 09:06] #14990 closed

[2022-01-29 09:06] #14965 closed

[2022-01-29 09:13] pulla2908 commented on #13842
I don't understand why this issue was not fixed. It is totally confusing.

[2022-01-29 09:43] alexander-smolyakov commented on #14915
@nibexo I have opened a pull request to update the Maven pipeline task (V2/V3). I will update the ticket once the related changes will be merged to master.

Link to related PR:
- #15844

[2022-01-29 18:34] tillig commented on #12634
[I filed an issue to ask if this is a missing doc problem](https://github.com/MicrosoftDocs/azure-devops-docs/issues/11913) but it'd be nice to hear from the team on this.

[2022-01-29 20:29] koder101 commented on #6757
As of today, the issue still persists.
GatewayTimeout: `The gateway did not receive a response from 'Microsoft.Web' within the specified time period.`

[2022-01-29 21:05] #15091 closed

[2022-01-30 00:46] Jernik commented on #15310
@nadesu  Hello, it looks like this issue hasn't been even looked at by a bot for months, is there something I missed while creating it? Sorry if you're the wrong person to ping here, I can't tell who is responsible for these issue triaging.

[2022-01-30 06:06] #15006 closed

[2022-01-30 07:10] adalfa commented on #15838
@safari137,@v-saikumart , @PhilipsonJoseph
it seems related to
https://github.com/microsoft/azure-pipelines-tasks/issues/15532

[2022-01-30 09:43] ransagy opened #15845 "Azure CLI tasks are far too verbose by default distracting from the actual task results"
*Type*: Feature
**Enter Task Name**: AzureCLI

## Environment
- Server - Azure Pipelines
- Agent - Private, both Windows-latest and Ubuntu-latest

    - If using Hosted agent, provide agent queue name:

    - If using private agent, provide the OS of the machine running the agent and the agent version:

## Issue Description

By default, Azure CLI tasks produce a lot of verbose text including the s

[2022-01-30 16:17] 0xUnicorn commented on #15532
I have this issue aswell, when creating a WebApp through the Portal GUI. I'm able to select my WebApp through the release pipeline task when selecting the deployment resource. Resources has existed for more than an hour.

[2022-01-30 18:06] #12901 closed

[2022-01-31 00:39] CZEMacLeod commented on #14460
Hmm, marked as stale, because 3 people asked a question/commented and no-one from the nuget or azure devops team looked at it at all. I know there are a lot of issues in this repository, but it would be nice if someone could shed some light on this as it does slow things down considerably.

[2022-01-31 05:08] nadesu commented on #6757
@PhilipsonJoseph @v-saikumart - pls look into it

[2022-01-31 07:07] alexander-smolyakov commented on #14915
Quick update: A related pull request was completed. The related changes for the Maven pipeline task will be available in the 200th sprint release of Azure DevOps. I will update the ticket once these changes will be deployed and available to all Azure DevOps users.

[2022-01-31 08:32] wkoeter commented on #15838
Over the last weekend I've done c.a. 30 deploys which all were successfull (c.a. 2 days after the resource was created).
So this seems to support that it only affects newly created resources for a period of time (e.g. couple of hours according to @safari137 ).

Is there some kind of consistency issue?

[2022-01-31 08:53] EwanNoble commented on #10903
Not stale

[2022-01-31 09:45] maikelvanhaaren commented on #15806
Any updates regarding this issue we encounter?

[2022-01-31 11:24] tatyana-kostromskaya commented on #15819
@FWI-95 , I was not able to reproduce this problem on my agents configured on one host.
I think that these timeouts can be caused by your "high load" scripts, your servers just don't have enough resources to be able to complete them on time.
Did you try to increase timeouts your steps?

Have you had this problem previously with the same configuration?

[2022-01-31 11:39] N-Usha commented on #10903
@vijayma - Can you please help assign this to the right contact on your team? Thanks!

[2022-01-31 12:17] tatyana-kostromskaya commented on #15834
@JaydeepUniverse , did you restart your agent after ant installation?
Do you run the agent as service or as an interactive process?

[2022-01-31 12:31] nvborisenko opened #15849 "VsTest task discovers tests in `ref` folder if Test Plan approach is selected"
*Type*: Bug

**Task Name**: Visual Studio Test

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/VsTest

## Issue Description

I execute tests based on Test Plan. This option allows to specify folder path where to search for test assemblies `*.dll`. And discovering tests phase fails because it tries to discover tests in `ref\My.dll`. `.net5.0` and `.n

[2022-01-31 12:32] v-saikumart commented on #15806
Hi @maikelvanhaaren
We are already tracking same issue on https://github.com/microsoft/azure-pipelines-tasks/issues/15532, so we are closing this.

Thank you.

[2022-01-31 12:33] #15806 closed

[2022-01-31 12:37] v-saikumart commented on #15838
Hi @wkoeter
We are already tracking same issue on https://github.com/microsoft/azure-pipelines-tasks/issues/15532, so we are closing this.

Thank you.

[2022-01-31 12:37] #15838 closed

[2022-01-31 13:14] FWI-95 commented on #15819
Hi @tatyana-kostromskaya
we actually decreased the timeout because nothing happens for ~60 minutes until the tasks timeout. Now we only have to wait around 10 to 20 minutes until we can rerun failed jobs.

The server specs (for each server) are:
4x 2,19GHz Intel Xeon Silver 4114
16 GB RAM
420GB SSD Storage

Both are virtual Servers in a Hyper-V Cluster

I would rather not expect the resources beca

[2022-01-31 13:46] maikelvanhaaren commented on #15532
Same issue for me. Tried multiple things but none works out. I've created a duplicated ticket which is now closed: #15806. Hope this issue gets fixed soon because it's blocking our development flow.

[2022-01-31 13:50] 0xUnicorn commented on #15806
@maikelvanhaaren - I'm curious, where do you find this view you have posted? I've never seen it before in DevOps GUI.

[2022-01-31 14:01] maikelg commented on #15532
I'm running into the same issue. My deployment process has been working without issue until a couple of weeks ago. Now it regularly fails with this error 'Resource should exist before deployment'.

[2022-01-31 14:39] Jacob-Steentoft commented on #15532
I'm also running into the 'Resource should exist before deployment' error for 2 different tenants and subscriptions, both my personal, and for work.
Are there any workarounds to neatly rerun the failed job from the deployment? This is causing issues for our deployments.

[2022-01-31 15:37] lkfabu2022 commented on #15532
FYI
I didn't check again recently, but my initial issue was with resources created manually in the GUI.

[2022-01-31 15:49] anatolybolshakov commented on #15814
Hi @thorntonrp there is no support for Kotlin DSL at the moment for the Gradle task - let us leave this as possible enhancement for this task. We are currently working on more prioritized tickets, but will get back to this request as soon as we will be able to.

[2022-01-31 15:59] anatolybolshakov commented on #15657
Hi @darkobacicf sorry for the delay - Xcode task is the simple wrapper for xcodebuild cli tool - so if building of your project (including step with tests run) via xcodebuild call works fine with the same set of parameters, it should work.
If you suspect that there is some issue with xcodebuild - I would suggest to reach out to Xcode support for further troubleshooting.
Could you please also provi

[2022-01-31 16:54] anatolybolshakov commented on #15647
Hi @nibexo sorry for delay - we are currently working on more prioritized tickets, but will get back to this once be able to.
As a workaround - you can set up path to the JDK using jdkUserInputPath task input (you can find variables which keep paths to JDKs installed on hosted images in docs - for example, [here's the list ](https://github.com/actions/virtual-environments/blob/main/images/win/Wind

[2022-01-31 17:21] anatolybolshakov commented on #14980
Hi @cforce could you please share more details about this request? Do you use Maven Cache in your pipeline?

[2022-01-31 17:45] anatolybolshakov commented on #15584
Hi @romanrozinov sorry for the delay - we are working on more prioritized issues at the moment, but will back to this request once be able to.
Seems like this issue is related to a lot of child items present in 'D:\agent_A\_work\423\s\' which need to be checked for the pattern matching - as a workaround I would suggest to narrow down glob pattern used - to decrease amount of child paths to be chec

[2022-01-31 17:52] anatolybolshakov commented on #15576
Hi @sharmav "Run Roslyn Analyzers" is a part of Microsoft Security Code Analysis Extension, although this repo is for in-the-box Azure DevOps tasks. I would suggest to reach out to the owners of this extension for further support - since there seems to be some issue with the task itself.

[2022-01-31 17:54] anatolybolshakov commented on #15575
Hi @MichaelReitsma this repo is mostly for pipeline tasks support - I would suggest to open a ticket on https://developercommunity.visualstudio.com/search?space=21 for Azure DevOps related questions to get right eyes on it.

[2022-01-31 17:59] anatolybolshakov commented on #15541
Hi @stephenatwork sorry for the delay - we are working on more prioritized issues at the moment, but will get back to this feature request once be able to.

[2022-01-31 18:06] anatolybolshakov commented on #14862
Hi @GalaxiaGuy sorry for the delay - we are working on more prioritized issues at the moment, but will get back to this request once be able to.

[2022-01-31 18:09] anatolybolshakov commented on #15524
Hi @salgiza sorry for the delay - could you please share your pipeline logs in debug mode? You can send them to my email - v-anbols@microsoft.com

[2022-01-31 18:10] #14303 closed

[2022-01-31 18:19] anatolybolshakov commented on #15515
Hi @luizgrs for the logs you've shared - seems like XamarinAndroid task receives inputs like jdkVersoin specified - although it contradicts the Yaml file above.

[2022-01-31 18:33] anbuanand commented on #12280
Getting the same error, it is 2022 now, is this really fixed as claimed?

[2022-01-31 18:39] anbuanand opened #15850 "Copy over SSH task timeout after 30 secs"
Azure Pipeline, copy over SSH from hosted agent to private agent.
Ssh keys are setup using Service connection, Artifact not getting transferred. Below is the log

022-01-31T17:57:27.3825908Z ##[section]Starting: Copy build artifact to PROD machine
2022-01-31T17:57:27.3929379Z ==============================================================================
2022-01-31T17:57:27.3929860Z Task         :

[2022-01-31 18:49] dannyvv commented on #15662
From the logs, the default is 10 years... I guess the linking takes care of the fact that it gets deleted when the build gets deleted...

[2022-01-31 19:35] adalfa commented on #15532
Hello to all,
since the deployment (by template or portal) does not seems to matter, could it be a regional issue? all the resources affected were for us  in West Europe

[2022-01-31 20:24] johndowns commented on #14608
Please keep this open.

[2022-01-31 20:32] mvdiemen commented on #15532
I just deployed a WebApp in West Europe en was facing the issues as described here (9 out of 10 deployments failed). Deploying the same app to Central US and no issue at all.

[2022-01-31 20:34] cl-zacrollins commented on #15532
@adalfa all my deployments are in the West US 2 region.

[2022-01-31 20:41] nibexo commented on #15647
@anatolybolshakov Thank you for your answer, however if adding latest version JDK LTS to task maven@3 is almost done, so adding it also to Gradle task shouldn't be big problem, or I'm wrong?

@alexander-smolyakov

[2022-01-31 21:04] Nate129 commented on #13842
It does surprise me as well, especially given the popularity of XUnit.

If the table view below understands the distinction between `[Fact]` and `[Theory]` tests then their data structure already supports it, so it'd just be a matter of changing the view's query to update the total.

[2022-01-31 23:25] DenisRumyantsev commented on #13283
Hi @harmeetsingh, using a separate job for each `InstallSSHKey` task (in the same pipeline) works around this issue:
[code]
Is this the solution you are looking for?

[2022-02-01 05:07] fowl2 commented on #15845
It would be great if the log viewer would allow filtering by log level. Probably be a good idea if it would even filter out "info" or "verbose" by default too.

[2022-02-01 05:40] v-saikumart commented on #15532
@here We investigating on the issue, we will provide status on same at earliest.

Thank you

[2022-02-01 05:58] v-ibshaik commented on #15560
@jsblock78 Could you please update the task.json for following tasks and build again.
AzureFileCopyV2,AzureFileCopyV3,AzureFileCopyV4 andPowerShellOnTargetMachinesV3.

Thanks.

[2022-02-01 06:35] EzzhevNikita commented on #15850
Hey @anbuanand, thanks for the issue-reporting in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-01 07:00] maikelvanhaaren commented on #15532
@v-saikumart If you need more information for understanding this issue please reach out.

[2022-02-01 09:36] JaydeepUniverse commented on #15834
@tatyana-kostromskaya @davidstaheli  I was able to resolve this issue.

In azure devops linux based agent we have to run `./env.sh` and then restart agent service in order to sync the environment variables, After doing this it worked.

Thanks for your help.

[2022-02-01 09:40] tatyana-kostromskaya commented on #15834
Thank you for the response.

May I close this issue?

[2022-02-01 10:25] nickyquinn commented on #15456
Did you ever find a solution? We've been facing the same problem since yesterday; there's no filtering and nothing has changed our side but suddenly every build eventually passes after trx publishing errors out.

[2022-02-01 10:33] salgiza commented on #15524
Hi @anatolybolshakov, I just sent the logs to your email (just wanted to confirm that I was the author of the email! 🙂 ).

[2022-02-01 11:23] SquallHalle opened #15854 "Archive Files task fails in Version 2.198.0"
## Required Information

*Type*: Bug

**Enter Task Name**: ArchiveFiles@2

## Environment

- Server - Azure Pipelines

- Agent -  Private:
     OS:Ubuntu x64
    Agend 2.186.1

## Issue Description

Archive Files task with:
[code]
an erlier run a few days ago worked fine, i attached both logs for this step and the only difference seams to be the Archive Files version

### Error logs

Good run:

[c

[2022-02-01 11:34] slaven commented on #15819
We're experiencing exactly the same issue with PowerShell tasks in the last 2-3 weeks.
There is no way to debug this because logs don't show any issue. Basically, tasks randomly hang after `$LASTEXITCODE: 0`, and never reach `Exit code: 0`.
I doubt this has anything to do with "high load" because basic copy operation (Copy-Item) of 10kb file randomly hangs.

As a workaround, I tried setting timeou

[2022-02-01 11:48] tatyana-kostromskaya commented on #15819
Thank you for additional info.

@slaven , @FWI-95 did it happen only with powershell task or maybe you have seen other tasks with the similar problem?

[2022-02-01 12:01] anatolybolshakov commented on #15506
Hi @alimdi could you please share yaml file for your build/pipeline logs in debug mode to take a look? You can send them to my email - v-anbols@microsoft.com

[2022-02-01 12:26] FWI-95 commented on #15819
@slaven yes! this is exactly what we tried as well.

@tatyana-kostromskaya not until now, but we only have builtin tasks like checkout and publishartifacts apart from powershell. Those never failed.

[2022-02-01 12:46] anatolybolshakov commented on #15465
Hi @LeoVisser sorry for the delay - agent masks secrets in agent/pipeline logs, but for the case of using the secrets in powershell commands and powershell logs - I don't see any possibility agent could mask the secrets. This is something which lays outside of the agent, and it's up to the customer to make sure that relevant permissions are set/additional masking was done.

[2022-02-01 12:51] anatolybolshakov commented on #15472
Hi @CarMatt sorry for the delay - at the moment 'keystoreFile' input of AndroidSigningTask has 'secureFile' type - which is not supposed to work this way (I believe there are security concerns to work it like this). Since this is related to more generic issue with secureFile task input types - could you please open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get righ

[2022-02-01 12:54] anatolybolshakov commented on #15455
Hi @me21 sorry for the delay - we are currently working on more prioritized tickets, will get back to this request once be able to.

[2022-02-01 12:57] anatolybolshakov commented on #15442
Hi @BruceHaley this would be a possible breaking change for a customer who are waiting for exception in this case - but we could probably add some input to be able to set up such behavior.
Let us leave this as enhancement - we are working on more prioritized tickets at the moment, but will get back to this item once be able to.

[2022-02-01 13:07] anatolybolshakov commented on #15377
Hi @Solksjaer have you tried to set up heap size using sonar.properties file - as described in docs [here](https://docs.sonarqube.org/6.7/JavaProcessMemory.html#:~:text=You%20can%20increase%20the%20maximum,Java%20process%20in%20your%20sonar.)?

[2022-02-01 13:08] slaven commented on #15819
@tatyana-kostromskaya In our case, this happens only with `PowerShell@2` tasks when using external .ps1 file (`targetType: filePath`).
Can't find timeout example for `targetType: inline` `PowerShell@2` task.

[2022-02-01 13:09] anatolybolshakov commented on #15376
Hi @sureshtadisetty do you some specific build task or do you run the command via some script task in the pipeline?

[2022-02-01 13:55] anatolybolshakov commented on #15363
Hi @DariuszPorowski the 'workingDirectory' specifies current working directory for the Powershell script itself, but not the parent path for 'filePath' value - so you would probably need to use interpolation to specify it properly via 'filePath' input.

[2022-02-01 13:59] anatolybolshakov commented on #15340
Hi @Axemasta sorry for the delay - we are currently working on more prioritized issues, but will get back to this feature request once be able to.

[2022-02-01 14:05] anatolybolshakov commented on #15261
Hi @am11 could you please share more info about your case? Pipeline agent uses pre-installed NodeJS versions for tasks execution (which don't depend on NodeJS version installed on the agent machine), and currently there are Node 6 and Node 10 execution handlers supported for the pipeline tasks.

[2022-02-01 14:09] anatolybolshakov commented on #15348
Hi @doanminhtu this repo is mostly for pipeline tasks related issues - I would suggest to open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it.
Not really sure if this scenario is supported somehow.

[2022-02-01 14:22] mathiash98 commented on #13275
We ended up using follow bash script tasks:
- We also experienced after some bad upgrades that the test result file was created, but contained no results. As the `dotnet test` could not find any unit tests to run.

We rely on running tests inside a docker compose as we also test with database. But if you purely rely on the VSTest task you can use the argument `minimumExpectedTests` https://docs.mi

[2022-02-01 15:00] MoeAbouAli opened #15858 "gradle error"
**Question, Bug, or Feature?**
*Type*: The process '/Users/runner/work/1/s/gradlew' failed with exit code 1

**Enter Task Name**: error when running the pipeline in azure devops for android studio

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipeline
    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team proj

[2022-02-01 17:03] ankurarrah opened #15860 "AzureFileCopy@4 task is faling intermittently"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-02-01 17:29] erossini-chi opened #15862 "Subdirectories are not copied"
I'm trying to deploy from Azure DevOps via FTPS a WordPress to a App Service on Azure. First, I created the resource WordPress. Then I created the repository in Azure DevOps and this is the structure. I created a folder called `Virtuoso` that is a new theme for WordPress.

![image](https://user-images.githubusercontent.com/70210793/152019122-0a94f981-6174-492d-85f3-24fda654573f.png)

Now, this is

[2022-02-01 18:36] malthe opened #15863 "Populate variable with ACR hostname on "login" using Docker task"
It should be possible to derive the ACR hostname having only a service connection available.

That is, for a given service connection, the `Docker` task should make available to hostname, i.e. `<name>.azurecr.io` which is registered with that service connection.

See for example the following unanswered post:

https://stackoverflow.com/questions/67921817/derive-the-acr-name-from-a-service-connecti

[2022-02-01 19:40] richshadman opened #15864 "Cache@2 does not handle junction / symbolic link gracefully (caches and restores as folders/files)"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-02-02 01:44] soenneker opened #15865 "Azure Cosmos DB Docker container stopping"
Copying from: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3010

**Describe the bug**
Using Azure DevOps and a ubuntu-latest hosted agent, when starting the container, the container returns right away the following:

[code]
**To Reproduce**

Create an Azure DevOps pipeline with the following:

[code]

**Expected behavior**
The container should create the partitions and return "Started" a

[2022-02-02 07:45] golubev-ivan commented on #15183
NuGetRestoreV1 - [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15855)

[2022-02-02 09:26] EzzhevNikita commented on #15854
@SquallHalle Thanks for the issue-reporting in this repository, currently, we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-02 09:30] EzzhevNikita commented on #15858
@MoeAbouAli Could you please share more details regarding this issue? Please attach logs for the Gradle task with enabled diagnostics.

[2022-02-02 09:38] tomred-net commented on #15532
@v-saikumart yes - retried today and the issue continues to fail as before.

[2022-02-02 09:51] simonvane commented on #14301
Just in case this helps anyone...
I had a similar "error" but the deployment succeeded:
"There was an error while overriding 'EnvironmentName' parameter because of 'TypeError: Cannot read property 'type' of undefined', make sure it follows JavaScript Object Notation (JSON)"

My issue was that the casing of the parameter name in the yaml pipeline definition was different from the template i.e. Envi

[2022-02-02 11:05] Joren-Thijs-KasparSolutions opened #15866 "DotNetCoreCLI@2 nuget push does not respect --skip-duplicate argument"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    - Account: kasparsolutions.be
    - Team

[2022-02-02 11:24] abedfarvardin commented on #12397
I installed the Web Deploy  3.6 on agent deploy server, and my problem was solved.
![image](https://user-images.githubusercontent.com/46480511/152144820-053794d9-9120-4d31-b233-64442254a454.png)

[2022-02-02 11:27] marvinbuss commented on #15337
@t-dedah I think this can be closed, since https://github.com/microsoft/azure-pipelines-tasks/pull/15788 was merged?

[2022-02-02 12:15] FWI-95 commented on #15819
Newest discoveries of what does not help:
specifying ignoreLASTEXITCODE: true
Adding exit $lastEXITCODE to the end of the scripts

We are currently suspecting two things which are quite complicated to test:
1) Sometimes the Powershell IDE is not responding (on our clients) when out of focus for a bit of time, though not really happening often maybe this may happen with multiple powershell instance

[2022-02-02 12:27] anthony-c-martin commented on #15337
@t-dedah thanks for adding this feature! Would you mind confirming when the next release will occur so that customers can start using this functionality?

[2022-02-02 12:28] marvinbuss commented on #15337
I also just tried to test this feature and I can confirm that the feature was not released yet.

[2022-02-02 14:03] kostukp96 opened #15867 "App service name is empty on Azure - Pipelines - Releases"
After created new function app, i cant added this function to App Service name in release pipeline. Function app becomes available after midnight. If i choose other app task in release pipeline i can see my new function...
Can you help me with this issue ?

[2022-02-02 14:17] Thihup opened #15868 "Update JaCoCo version to allow Java 17"
## Required Information
*Type*: Bug
**Enter Task Name**: Maven

## Issue Description

The current version of JaCoCo injected in the pom.xml is version 0.8.4. However, it doesn't support using Java 17.
Currently, we're blocked to use Java 17 because of that.
One quick fix would be to change the hardcoded version to 0.8.7 and a more flexible one would be allowing the user to specify the JaCoCo versi

[2022-02-02 14:37] jrafamonagas commented on #15837
Hi, I would like to know what is the status here

[2022-02-02 14:49] joe-plumb commented on #1441
Found myself here as I was having issues with the SqlAzureDacpacDeployment@1 task in Azure DevOps, getting one of the above errors `##[error]The 'Query' and the 'InputFile' options are mutually exclusive.`

Didn't find the error to be useful but eventually figured out it is because I was passing in both `additionalArguments:` AND `sqlAdditionalArguments:` to the task - the mutual exclusivity is on

[2022-02-02 15:42] anatolybolshakov commented on #10903
Hi @N-Usha you can use [codeowners](https://github.com/microsoft/azure-pipelines-tasks/blob/master/.github/CODEOWNERS) page to assign it to the relevant team

[2022-02-02 16:01] simonvane opened #15869 "AzureResourceManagerTemplateDeploymentV3 documentation is not detailed enough."
## Required Information

**Question, Bug, or Feature?**
*Bug*

**AzureResourceManagerTemplateDeploymentV3**

## Environment
Azure Pipelines

## Issue Description

The AzureResourceManagerTemplateDeploymentV3 readme.md does not provide detailed enough documentation.
- It does not include the property names to use in the yaml.
- It does not provide the options for each property.
- It does not provid

[2022-02-02 16:13] alex-frankel commented on #15337
@mumian -- can we keep an eye on this thread? Once this change is released, we will need to update our [DevOps CI/CD quickstart](https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/add-template-to-azure-pipelines?tabs=CLI)

[2022-02-02 16:16] mumian commented on #15337
@alex-frankel - I have created a content task to track the issue.

[2022-02-02 17:07] 0xUnicorn commented on #9458
I experienced this issue today on a Linux Azure App Service after I changed from a win2016 agent to a ubuntu-latests.
Reading @sijucm "work around" I tried re-deploying and it worked.

[2022-02-02 19:34] DOMZE commented on #15865
After discussion, it seems there's a problem with ubuntu-latest (ubuntu-20.04) vmImage. ubuntu-18.04 works.

Anyway to understand what has changed from 18 to 20?

[2022-02-02 20:42] dknipper commented on #15532
Hear are my diagnostic logs from a failure. All GUIDs obfuscated.

The exact same deployment with no changes ran successfully a minute before. I've had this problem with function apps, static web apps and app services... across multiple regions... for months.

YAML for the failing step:

- task: AzureFunctionApp@1
      inputs:
        azureSubscription: 'Pay-As-You-Go (***)'
        appType: func

[2022-02-02 21:12] rigardbester commented on #15581
Hi,

I started seeing this on my builds since this morning. Have multiple .Net 3.1 applications, build pipeline specifies
TargetFramework : 'netcoreapp3.1', but get this same error `/usr/share/dotnet/sdk/6.0.101/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.ConflictResolution.targets(112,5): error NETSDK1152: Found multiple publish output files with the same relative path: <list of random project a

[2022-02-03 03:37] RSteeno commented on #15532
Today I did some additional testing but this time I've tried using different agents.  We have a pool of self-hosted windows 2016 agents in our environment, running the same exact pipeline on our agents has been successful 7 times today with 0 failures.

Here are my results using the MSFT Hosted Agents

| Agent Type| Operating System | Agent Version| Results
| ------------- | ------------- | ------

[2022-02-03 08:27] anatolybolshakov commented on #15865
Hi @soenneker @DOMZE for questions regarding changes on hosted images - I would suggest to open a ticket in https://github.com/actions/virtual-environments to get right eyes on it.

[2022-02-03 08:34] #15834 closed

[2022-02-03 12:11] v-ibshaik commented on #7799
Hello wokket,

We have updated the document. we are closing this issue.

Thanks.

[2022-02-03 12:11] #7799 closed

[2022-02-03 14:32] spottedmahn opened #15874 "add warning publishWebProjects required on publish"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: feature

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server - Azure Pipelines or TFS on-premises?  _Azure Pipelines_

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: ca

[2022-02-03 14:53] TroyWitthoeft commented on #14837
Can we either re-open this issue, or link to the solution, please?

When the SAS token expires after one year, the function app can't communicate with Azure Storage account and critically fails in a silent way, and it's tough to diagnose.

I'm listing symptoms here as it might help others.

This function app url erroring with a 503 = `The service is unavailable.`
![image](https://user-images.githu

[2022-02-03 16:49] adalfa commented on #15867
@kostukp96  can you see if https://github.com/microsoft/azure-pipelines-tasks/issues/15532  apply to your case?

[2022-02-03 17:56] Munnwich commented on #15793
Also interested in this.  I have tried a number of different ways to deploy to a Cloud Services (Extended Support) resource (post migration) and I cannot seem to figure it out. Please reach out if more details are necessary.

[2022-02-03 19:33] sangeethnandakumar opened #15875 "Why "ASP.NET Core" has ".NET Framework" in brackets?"
**Scenerio:**
The naming used in Azure tasks are confusing. For a WebAPI developed in ASP.NET Core 5 these are the initial suggessions I got when setting up a Pipeline.

**Issue:**
- Why "ASP.NET Core" has ".NET Framework" in brackets?
- Is ASP.NET Core is a part of .NET Framework? I was in an impression that it was a part of .NET Core.
- "Build & test ASP.NET Core projects targeting the full .NET

[2022-02-03 20:40] ackermangrace commented on #15233
I am having the same issue. What's happening is when the `codeCoverageToolOption: 'JaCoCo'` is set, it automatically injects `-Dsonar.jacoco.reportPaths=/home/vsts/work/1/s/CCReport43F6D5EF/jacoco.exec` into the Maven command that is run in the pipeline, even if the `isJacocoCoverageReportXML: true` is also set in the Maven task. This causes the exec file to be sent over to Sonar regardless (and S

[2022-02-03 22:06] mdubdev commented on #15532
I was actually trying to get away from self-hosted agents, but now that you mention it, I have an older pipeline that uses a self-hosted agent, windows-2016 I think that still works. Maybe a workaround for now, but I too have an open case, which seems to be going nowhere. Alas, thanks for the tip on the self-hosted agent.

[2022-02-03 23:43] delixfe opened #15876 "PublishTestResults@2: SourceCode for TestResultsPublisher.exe"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: PublishTestResults

## Issue Description

Could you also open source TestResultsPublisher.exe and its dependencies?
That would enable us to better understand the parsing and mapping to the DevOps test results and eventually to improve it.

[2022-02-03 23:46] cforce commented on #14980
Yrs

[2022-02-03 23:51] delixfe commented on #15876
@shailesh-sk The [Labeler workflow](https://github.com/microsoft/azure-pipelines-tasks/runs/5059958887?check_suite_focus=true) failed.
But it decided to assign the issue to you :)

[code]

[2022-02-04 02:45] slaven commented on #15819
I just converted more than 10 tasks in our pipeline from external scripts (`targetType: filePath`) to inline (`targetType: inline`) and it actually reduced our task failure count, but it did not fix the problem.
I was wrong in my last comment.

(Next: My rant about some "other" issue which would fix this one)

Let's be pragmatic and see this from real perspective:
Why `timeoutInMinutes` doesn't tr

[2022-02-04 03:37] benjaminoerskov commented on #15837
@jrafamonagas I fixed the issue, by removing an invalid binding in our IIS. However im still courious to know about the rapid versionchange, and why I couldnt specify a specific version to use eg: @0.5.15?

[2022-02-04 07:14] saurabh-mridul opened #15878 "ARM Service connections support for SN+I validations using CA based certificates in Azure AD"
As of now, service connection creation requires SPN to have thumbprint pinning. And requires manually updating the service connection whenever underlying certificate gets renewed.
To avoid manual interventions, we are planning to use SN+I validations based on CA based certificates. Using SN+I validations, application developers can leverage easy certificates roll-over in Azure AD.
MSAL libraries (

[2022-02-04 09:05] #15109 closed

[2022-02-04 09:05] #15112 closed

[2022-02-04 09:05] #14719 closed

[2022-02-04 09:38] mikelneo commented on #15532
I run into very similar issue, in my pipeline I created a resource and then use `AzureRmWebAppDeployment` or `AzureFunctionApp` to deploy web apps or functions to newly created resources. In such case some times I get:

##[error]Error: Resource '****' doesn't exist. Resource should exist before deployment.
(node:1685) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'getApplicatio

[2022-02-04 10:03] ihales-mac commented on #15532
Hi everyone, I explicitly added the `resourceGroupName` for the `AzureWebAppContainer@1` task and it worked for me after:

[code]

[2022-02-04 10:05] jgoyvaerts opened #15879 "AndroidSigningV3 doesn't work correctly with conditions"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*:  Bug

**Enter Task Name**: AndroidSigning

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - Azure Pipelines / macadam-development / MACDEV / build id: 19151

- Agent - Hosted or Private:

- Private / Windows Server / Agent v

[2022-02-04 10:12] maikelvanhaaren commented on #15532
@ihales-mac I have already added the `resourceGroupName` to the task parameters and still getting the error.

[2022-02-04 10:15] ihales-mac commented on #15532
sorry for that @maikelvanhaaren, I have removed the comment, I think it worked by chance, second deployed failed again after that for me

[2022-02-04 10:37] ihales-mac commented on #15532
@maikelvanhaaren so I'm reposting this again, small configuration mistake on my side after I set the resource group as a parameter but I confirm that explicitly setting the resource group works for me now:

[code]

Note: this works for me when using the `AzureWebAppContainer@1` type of deployment, might apply or not to other types of deployments

[2022-02-04 11:10] jrafamonagas commented on #15837
Hi, @benjaminoerskov it fails for me still. I don't have any specific invalid bindings in IIS. Also, this error happens in some of the servers where the agent is installed but not all of them.

[2022-02-04 12:44] maikelvanhaaren commented on #15532
@v-saikumart Any update regarding this issue?

[2022-02-04 15:07] SquallHalle commented on #15854
i tried to run the command in a ssh session direct on the agend-host and it crashes to.
there is one spefic file which leads to the crash.
i dont know why this file and why now but not two weeks ago but i seams like not a problem with the archive files task

[2022-02-04 15:07] #15854 closed

[2022-02-04 15:39] DenisRumyantsev commented on #13283
Hi @harmeetsingh, here is how the `InstallSSHKey` task can be set up to clone multiple repositories via ssh:
[code]
This task can add a new entry into the `/root/.ssh/config` file, which can be further used when cloning repositories via ssh.
You can use `addEntryToConfig`, `configHostAlias`, `configHostname`, `configUser`, and `configPort` options to add a new entry.
These options can be found in

[2022-02-04 15:55] jls-0 opened #15884 "Command line tasks not expanding pipeline variables correctly when value contains the chars -0 (hyphen + zero)"
*Type*: Bug
**Enter Task Name**: PowerShell, Command Line, Bash
Azure Pipelines, javihigh, gitlab, sync-gitlab-azure-repos, build number: 129
Hosted agent

## Issue Description

When defining a pipeline variable value that contains a hyphen + zero character (-0) on it; **myVar** on the image below:
![image](https://user-images.githubusercontent.com/86844531/152556444-50580acf-d5a8-4b4a-8112-cf1c6e

[2022-02-04 16:38] MS-Trev opened #15885 "".Net Core CLI" task's "Learn more about this task" link is broken"
- Add the .NET Core CLI task to an Azure DevOps Services pipeline definition in classic mode.
- Click the "Learn more about this task" link:

![image](https://user-images.githubusercontent.com/17113604/152567049-5a3927ff-178b-4e18-99d3-988c8b4a1145.png)

OBSERVED: http 404. Dead link
EXPECTED: Taken to https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azure-d

[2022-02-05 15:17] matkoch commented on #15131
@DenisRumyantsev

[2022-02-06 00:13] nnellans opened #15886 "Question: When does a new version of a Task go live in Azure Pipelines?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Question*:  I see that a new version of this Task, version 3.199.0 was committed 4 days ago.  However, when I use this Task in my Azure Pipeline, it still uses the old version 3.198.0.  When will Azure Pipelines start using the new version of this Tas

[2022-02-06 12:40] jsblock78 commented on #15560
@v-ibshaik I have updated the tasks. Could you kick off the pipeline again so that the checks complete?

[2022-02-06 15:09] JasonWhall commented on #15139
Not stale, still an issue.

[2022-02-06 18:45] jsblock78 commented on #15886
According to [this page](https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/contribute.md), tasks get updated every 3 weeks for Azure DevOps, and quarterly for TFS.

[2022-02-06 18:46] jsblock78 commented on #15886
Also: https://whatsprintis.it/

Currently it is week 3 of sprint 200.

[2022-02-07 06:16] v-saikumart commented on #15532
@maikelvanhaaren  We are working on it, will provide the update at earliest on same.

Thank you.

[2022-02-07 06:18] v-ibshaik commented on #15712
Hello jontreynes,

There is no active comments. Closing the issue.

Thanks.

[2022-02-07 06:18] #15712 closed

[2022-02-07 07:26] ti-jalopez commented on #15819
Hi,
I've the same error, the pipeline sometimes fails arbitrarily at the end of any phase of the sctipt with timeout error. If I retry the execution it runs fine.
I share a onprem server that runs multiple agents, and usually fails at weekend, when nextminor and nexmajor pipelines are running.
Best resgards,

[2022-02-07 07:41] denis-tikhomirov commented on #15884
@jls-0 , it looks like content of var $MYVAR is recognized as credentials (secret) by secret masker and masked by asterisks for logs. But it must not affect using of the variable in tasks, layout of the variable in logs is affected only.
Does is have any real affect on tasks in pipeline?

[2022-02-07 08:06] jrafamonagas commented on #15837
Hi, @nadesu any progress with this issue?

[2022-02-07 08:23] denis-tikhomirov commented on #15879
@jgoyvaerts, Thanks for the issue-reporting in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-07 08:59] anatolybolshakov commented on #15417
Hi @FrancescElies we are currently working on more prioritized issues, but will get back to this one be able to.

[2022-02-07 09:13] FrancescElies commented on #15417
Thanks for the update

[2022-02-07 11:34] v-nagarajku commented on #15070
Fixed the issue with ref to the below:
 https://github.com/microsoft/azure-pipelines-tasks/pull/15594

[2022-02-07 11:34] #15070 closed

[2022-02-07 11:35] v-nagarajku commented on #14970
Fixed the issue with below ref:
https://github.com/microsoft/azure-pipelines-tasks/pull/15594

[2022-02-07 11:35] #14970 closed

[2022-02-07 11:36] v-nagarajku commented on #14809
Fixed this issue with below ref:
https://github.com/microsoft/azure-pipelines-tasks/pull/15594

[2022-02-07 11:36] #14809 closed

[2022-02-07 12:10] #15124 closed

[2022-02-07 12:10] #15123 closed

[2022-02-07 12:10] #14068 closed

[2022-02-07 12:34] jls-0 commented on #15884
@denis-tikhomirov, yes it's affecting:
I'm trying to mirror a Repo from gitlab to Azure repo; I set up personal access tokens in both. I defined the variables as follows:
**Pipeline Variables**:
[code]
**Command line Task**:
[code]
**Error**:
[code]
I tried entering the full string without using variables and it's working, the issue is when expanding variable.

Note: I tried adding chars to the ri

[2022-02-07 13:15] tatyana-kostromskaya commented on #15819
We are currently working on more prioritized issues, but will get back to this one when be able to.

[2022-02-07 13:47] tzaroon commented on #13342
Same issue. Waiting for it to resolve.

[2022-02-07 13:58] denis-tikhomirov commented on #15884
Thank you for providing this info. Currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-07 15:08] DenisRumyantsev commented on #15183
UniversalPackagesV0 — [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15848)

[2022-02-07 15:51] kernst123 commented on #15559
We are also seeing the same problem.

[2022-02-07 22:33] tomred-net commented on #15532
Hi @ihales-mac we have tried with resource group but still we see the error. As a point of differentiation we are using
`task: AzureRMWebAppDeployment@4`. I will try task: AzureWebAppContainer@1 today.

D

[2022-02-08 00:28] yorkzhang opened #15893 "Question: How to resolve “Unable to fetch script status due to timeout.” error when run script in pipeline?"
I encountered error"[error]Error: Unable to run the script on Kudu Service. Error: Error: Unable to fetch script status due to timeout. You can increase the timeout limit by setting 'appservicedeploy.retrytimeout' variable to number of minutes required."
I wonder how to change this timeout?

Thanks.

[2022-02-08 00:54] ecosgrave commented on #15607
Updating to Microsoft.NET.Test.Sdk Version 17.0.0 made it go away for me.  I was already using .net 6 explicitly.

[2022-02-08 03:27] midanilo commented on #15532
First of all, I'm very thankfuly to see these answers. I'm having the same problem here and I'm be able to finish my pipeline successfully thanks yours hint.
But I have another question. How did you edit the steps in Release pipeline? I didn't find any option to edit a specific task in yaml format.
To do that I export the entire release pipeline in json format, edit the file, fill the resourceGrou

[2022-02-08 04:20] nadesu commented on #9118
@PhilipsonJoseph @v-nagarajku - pls follow up with Product to prioritise this on AppService team

[2022-02-08 07:03] v-ibshaik commented on #15560
@jsblock78  PR got merged.

[2022-02-08 07:03] #15560 closed

[2022-02-08 09:56] hacktick commented on #8920
+1 (i can already see the headlines in the washington post newspaper in the year 2038 - "Microsoft has finalized file copy for linux pipelines - it is now in the testing stage and soon ready for RC stage") :-)

[2022-02-08 10:02] benne commented on #8920
Switched to Windows hosts for the specific project, but would still love to see a cross-platform solution that just works as intented :)

[2022-02-08 10:55] brettpostin commented on #15473
This isn't specific to bicep templates either. I have a release stage to do a what-if analysis for approval on a compiled bicep template (so json).

The colour coding would be really helpful.

[2022-02-08 11:04] nadesu commented on #15837
@v-nagarajku - pls take a look

[2022-02-08 15:07] mumian commented on #15827
Adding @t-dedah, @bishal-pdMSFT, @NAGA-BANDI and @v-abajaj.

[2022-02-08 17:04] alex-frankel commented on #15827
@alexkhorton - has this every worked for you in the past or is this the first time you have tried this tutorial?

[2022-02-08 22:04] tinphamtan opened #15895 "Bake KubernetesManifest issue with Kustomize renderType"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifestV0

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/KubernetesManifest

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipeline
[bakek8smanifestError.log](https://github.com/microsoft/azure-pipelines-tasks/files/8030758

[2022-02-09 08:08] v-nagarajku commented on #15837
Hi @jrafamonagas , we have checked the task by creating sample website using deployment group job and it is working for latest version 0.198.0. Could you please share the complete logs and the configuration details using at your end, so that we will  repro the same in our environment and check for the scenario.

[2022-02-09 09:07] jrafamonagas commented on #15837
Hi, @v-nagarajku this is the error we get:
[](https://docs.microsoft.com/azure/devops/pipelines/tasks/deploy/iis-web-app-deployment-on-machine-group)Deploy IIS

Exit code 1 returned from process: file name 'C:\Agents\UC-On-Site-Deployment-Agent\externals\node10\bin\node.exe', arguments '"C:\Agents\UC-On-Site-Deployment-Agent\_work\_tasks\IISWebAppDeploymentOnMachineGroup_1b467810-6725-4b6d-accd-88

[2022-02-09 10:06] Angelotas commented on #15532
task: AzureRMWebAppDeployment@4. I will try task: AzureWebAppContainer@1 today.

@tomred-net,  Could you try it? Maybe the best solution is to change `AzureRMWebAppDeployment` by `AzureWebAppContainer` in this case.

[2022-02-09 10:14] tomred-net commented on #15532
Hi @angelots

It didn't make a difference for me. Tried with AzureWebAppContainer@1 today.

[2022-02-09 10:32] QiuyongWang commented on #15868
Dear dev team,
this is Frankie from MSFT DevOps support team. One of our premier customer is facing failure when trying to use azure devops yaml pipeline and mavenv3 task to create jacoco code coverage report. The error is known bug in jacoco-maven-plugin 0.8.4, and fixed in 0.8.7. So customer needs to use jacoco-maven-plugin 0.8.7 in azure pipeline.

However, ADO pipeline agent always picks up th

[2022-02-09 11:21] denis-tikhomirov commented on #15879
@jgoyvaerts, could you please provide more info about "conditions" specified by you? Do you mean specifying of non-default mask for apkFiles field?
Also would be great if you can provide us pipeline yaml used by you to have repro of this issue and logs of build failed because of the issue (with enabled "Enable system diagnostics").

[2022-02-09 11:32] jgoyvaerts commented on #15879
@denis-tikhomirov
The condition for AndroidSigning is fairly simple, it's just :
```condition: and(eq(variables['buildProd'], 'false'), succeeded())```

The variable buildProd is set in a different step, before the AndroidSigning task:
[code]

Because the condition is evaluated in the pre-job, buildProd is null, causing the pre-job of the AndroidSigning to fail and not download the secure file.

[2022-02-09 12:05] #15860 closed

[2022-02-09 12:35] denis-tikhomirov commented on #15884
I have investigated this issue. And it was found that this is not related to using of `-0` in variable, it's related to declaring of variable with secret value in pipeline. It looks like there is variable with secret value equal to "jls-0" in affected pipeline. And so any occurrence of text from this variable is masked automatically.
But it looks like as bug that value of variables is corrected by

[2022-02-09 13:11] jls-0 commented on #15884
@denis-tikhomirov, thanks for your time and help, however the variable was not checked as secret, it's actually as plain text.

[2022-02-09 13:17] jiasli opened #15898 "Incorrect doc for wildcard support in Azure File Copy"
## Issue Description

https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureFileCopyV4/README.md#parameters-of-the-task says

This is against what https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-file-copy?view=azure-devops#arguments says:

In the real world, when **Source** is specified as `$(System.DefaultWorkingDirectory)/_Azure.azure-cli/rpm-centos

[2022-02-09 13:59] #15895 closed

[2022-02-09 14:02] denis-tikhomirov commented on #15884
Unfortunately, I can't repro the issue with non-secret value in variable. Only if any variable with the value is marked as secret, then value is replaced.
@jls-0, please make sure that no one other variable marked as secret have this text as value.

[2022-02-09 14:12] denis-tikhomirov commented on #15893
@yorkzhang, please specify which task do you use?

[2022-02-09 14:26] KonstantinTyukalov commented on #15868
Hi! Thanks for the information you provided. We are currently working on resolving this issue.

[2022-02-09 14:28] jls-0 commented on #15884
I've this definition currently:
![image](https://user-images.githubusercontent.com/86844531/153219060-0c27813c-550a-418a-80e9-be42378c8d57.png)
![image](https://user-images.githubusercontent.com/86844531/153220270-9de8e561-e3ce-45c1-b53d-cb0dcc0011f2.png)

None of the variables are set as secret value:
![image](https://user-images.githubusercontent.com/86844531/153219234-707ba1e0-8be9-4311-bfee-2e

[2022-02-09 16:44] tatyana-kostromskaya commented on #15183
NpmAuthenticateV0 - [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15900)

[2022-02-09 17:46] PhilipsonJoseph commented on #14805
Due to inactivity we are closing this. If it is still exists please raise a new bug

[2022-02-09 18:16] marianan commented on #15350
This has been resolved int he latest version of the CICD task. @Ioana37 let us know if the symptoms persist.

[2022-02-09 18:16] #15350 closed

[2022-02-09 19:00] nithingowda29S opened #15901 "JSON variable substitution is missing a variable while transforming"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: IIS Web App Deploy

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - Azure Pipelines

- Agent - Hoste

[2022-02-09 19:37] faraazhabeeb123 opened #15902 "DownloadPackage task for Github Actions"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-02-09 19:51] alexmartinezm commented on #13300
Any updates on this?

[2022-02-09 20:59] avivanoff commented on #12763
@egor-bryzgalov, any updates?

[2022-02-09 22:38] ozbillwang opened #15903 "[question]"
## Required Information

**Question, Bug, or Feature?**  : Question. if not have, will be a feature request
**Enter Task Name**: docker@2

## Issue Description

In one repo, I have several application folders with Dockerfile in each of them. I can't find the option to define the working directory in task `Docker@2`

[code]

So how can I build the images in different folders, that means I need set

[2022-02-10 00:13] Sergey-Nosov-CloudFit commented on #15532
Same issue here. After creating a resource in an existing resource group, the resource is invisible to release pipelines for 15 minutes or so. The service principal permissions are inherited from the resource group.

During these 15 minutes Azure DevOps release pipelines can see other older resources in the resource group, but not the newly created resource.

Region: East US.

I hope this helps.

[2022-02-10 04:21] JoshuaTheMiller commented on #11645
A slightly different take on the linked extension above: [Authenticated Scripts](https://marketplace.visualstudio.com/items?itemName=cloudpup.authenticated-scripts).

It allows you to use a service connection directly within a script _without_ exposing the secrets for longer than the life of the script.

[2022-02-10 07:39] KUGA2 commented on #9026
If this ever will pop up into your work queue, please support the new cmake presets. This feature is the most important now...

[2022-02-10 08:55] rklec commented on #13937
It's 2022 by now and your doc is still misleading or should I say just factually wrong...

![grafik](https://user-images.githubusercontent.com/71322635/153371724-d1680d14-28e7-42c5-bddc-8d58aa724d58.png)

---

Does anyone have any workaround on how to still make this feature work? E.g. by using V1 of this cache task or so? Or would this be a bad idea? (If so, why?)

[2022-02-10 09:02] rklec commented on #15475
Note that you should try a run with debug logging enabled. This error message could also mean you run this on a on-premise Azure DevOps Server for which it is not supported, see: https://github.com/microsoft/azure-pipelines-tasks/issues/13937

[2022-02-10 09:04] rklec commented on #15518
Note that you should try a run with debug logging enabled. This error message could also mean you run this on a on-premise Azure DevOps Server for which it is not supported, see: https://github.com/microsoft/azure-pipelines-tasks/issues/13937

[2022-02-10 09:08] #14969 closed

[2022-02-10 09:08] rklec commented on #13937
Okay got the same errors with `CacheBeta@0` and `CacheBeta@1`, so well...

[2022-02-10 09:09] alexmartinezm opened #15904 "[XamariniOS@2] Implement support for multiple provisioning profiles (specially for app extensions)"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: XamariniOS@2

## Issue Description

In the current implementation of the Xamarin iOS task, there is a limitation that users can provide only one provisioning profile. But to sign an application that contains an extension requires two provisioning profiles. One for applications and another for an extension

[2022-02-10 09:11] rklec commented on #13937
A custom caching with Powershell and copying should work: https://github.com/microsoft/azure-pipelines-artifact-caching-tasks/issues/41#issuecomment-863395122

[2022-02-10 09:36] DiogoCorreiaC opened #15905 "Azure IoT Edge - Build module images - Error: iotedgedev installation failed, see detailed error in debug mode"
*Type*: Bug

**Enter Task Name**: Azure IoT Edge V2

## Environment
- Server - Azure Pipelines
- Agent - Hosted
   vs2017-win2016

## Issue Description

- task: AzureIoTEdge@2
  displayName: 'Azure IoT Edge - Build module images'
  inputs:
    templateFilePath: '$(System.DefaultWorkingDirectory)/_ConnectedFactory_Edge/Modules/deployment.template.json'
    defaultPlatform: 'windows-amd64'

![image]

[2022-02-10 09:36] denis-tikhomirov commented on #15884
@jls-0, I have just used some scenarios to repro this issue. But I still can't do this. Adding of `-0` doesn't mask values of vars in my repro environment. But I have couple of ideas to investigate this more deeply. Please find them below.

Regarding questions above:
1. why `jls-01` is being converted to `***1`?
  - Currently I'm still try to find root cause of this. Please take a look at suggesti

[2022-02-10 10:00] hidegh commented on #15799
Updating DB project to higher .NET framework is simple, just open the database *.sqlproj file and alter:
[code]

[2022-02-10 10:08] alexmartinezm commented on #15904
Finally got it working by manually adding the provisioning profile name in the csproj and also specifying the full CodeSigningKey name (set from VS for Mac, didn't work from Windows).

However, this is an open issue with the Azure Pipeline task and should be fixed to prevent headaches.

Thanks.

[2022-02-10 10:41] jls-0 commented on #15884
@denis-tikhomirov, please see this comment, I discarded `-0` hypothesis, it appears to be something that's masking everything that contains repo username even in variables.

[2022-02-10 11:26] martingalvan-nordic commented on #6840
@[bryanmacfarlane](https://github.com/bryanmacfarlane) was this issue ever fixed?

[2022-02-10 11:32] denis-tikhomirov commented on #15884
@jls-0, it looks like I didn't refresh page with ticket after latest comment is posted. So I missed this previously, sorry fort his.

Anyway would be great if you can check second suggested scenario from my previous message to provide us additional info for investigation and fixing this.
Also maybe you can check similar case with creating of test repo in GitLab and use this with new created projec

[2022-02-10 11:46] SteveLillis commented on #14805
@PhilipsonJoseph This issue is still outstanding.  As you note above, any ARM template deployed without `linuxFxVersion` strips `container` from the `kind` so `app,linux,container` becomes `app,linux`.  This is easily avoided by not using an exact string match for the OS type lookup, but instead case-insensitively searching "linux" in the `kind`.

[2022-02-10 12:37] anatolybolshakov commented on #13300
Hi @alexmartinezm sorry for delay - we are working on more prioritized issues at the moment, but will get back to this once be able to.

[2022-02-10 14:12] denis-tikhomirov commented on #15879
@jgoyvaerts, thank you for providing this info.
Azure Pipelines have feature to declare variables used in build/job outside of steps in build/job - [Set variables in pipeline](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#set-variables-in-pipeline). And function [eq](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expr

[2022-02-10 14:18] v-saikumart commented on #15532
@maikelvanhaaren  Could you please share Correlation ID.

Thank you.

[2022-02-10 14:23] jgoyvaerts commented on #15879
@denis-tikhomirov
Thanks for providing this workaround, however this issue is still a bug, not an enhancement. While I can make the task work by moving the variable declaration upfront and changing the value eq() checks against, this doesn't always work in more complex flows (I simplified my example to explain the bug).

[2022-02-10 14:27] v-nagarajku commented on #15901
Hi @nithingowda29S , can you please share the detailed logs for the failed one.(Machine A).

[2022-02-10 14:32] denis-tikhomirov commented on #15893
It looks like message "[error]Error: Unable to run the script on Kudu Service. Error: Error: Unable to fetch script status due to timeout. You can increase the timeout limit by setting 'appservicedeploy.retrytimeout' variable to number of minutes required." is applicable for ArtifactsAndLibraries's tasks.

@pipeline-environment-team for assistance

[2022-02-10 14:58] Crydust commented on #10900
Any updates on this?

[2022-02-10 15:10] #15130 closed

[2022-02-10 16:10] maikelvanhaaren commented on #15532
@v-saikumart Is this what you requested?

[code]

[2022-02-10 16:18] mbilung commented on #15532
This is happening even for West Europe. Tested for both Azure webapps for Linux and windows

[2022-02-10 17:32] jrafamonagas commented on #15837
Hi, @v-nagarajku
2022-02-10T17:29:07.9524712Z ##[debug]Evaluating condition for step: 'Deploy IIS App'
2022-02-10T17:29:07.9527189Z ##[debug]Evaluating: and(succeeded(), eq('true', 'true'))
2022-02-10T17:29:07.9527931Z ##[debug]Evaluating and:
2022-02-10T17:29:07.9528327Z ##[debug]..Evaluating succeeded:
2022-02-10T17:29:07.9529732Z ##[debug]..=> True
2022-02-10T17:29:07.9530217Z ##[debug]..Evalua

[2022-02-10 18:07] #15043 closed

[2022-02-10 21:59] codehunter13 opened #15909 "Index Sources & Publish Symbols task hangs"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishSymbols

## Environment
- Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
       account: softwel.visualstudio.com, Softwel_Glenn@outlook.com,
      project name: softwel
       build definition: Softwel_MasterBuild

- Agent - Private:
    Windows

[2022-02-10 22:53] hyha0310 commented on #13455
Just ran into this issue as well and resolved it with this solution from @mikanyg.  Agreeing that the documentation isn't quite clear on the syntax when the output variable is set in a deployment job and when it's being consumed in a job in a future stage.

[2022-02-10 22:57] altair43 commented on #15485
Is this specific to PowerShell v5 or do later version also exhibit this behavior?

[2022-02-10 23:07] autosysops commented on #15485
@altair43  as far as I can see it's present on all version. The problem lies in this module it seems:
https://github.com/microsoft/azure-pipelines-task-lib/tree/master/powershell/VstsTaskSdk

So I think I might need to move the issue to there (too).

[2022-02-10 23:08] LeoVisser commented on #15485
Sorry above comment was from me, I was logged in with the wrong account.

[2022-02-10 23:09] LeoVisser commented on #15465
@anatolybolshakov it seems to be in this powershell module:
https://github.com/microsoft/azure-pipelines-task-lib/tree/master/powershell/VstsTaskSdk

I'm not sure if that should be considered to be a bug in this or that it should be mentioned there (too)

[2022-02-10 23:31] altair43 commented on #15485
So, since we are not getting any traction here, what is the next step?

[2022-02-11 00:33] dalehhirt commented on #15136
Any updates on this?

[2022-02-11 00:57] trapgar commented on #9118
Reproduction Steps:
1. Create a new React app with `npx create-react-app my-app`
2. Add a GitHub actions workflow using the sample [node.js-webapp-on-azure.yml](https://github.com/Azure/actions-workflow-samples/blob/master/AppService/node.js-webapp-on-azure.yml)
3. Run the workflow to deploy to a Linux F1 Azure App Service

Unfortunately it does not seem to fail consistently - so I am unsure what

[2022-02-11 02:29] cfauchere commented on #14805
How can this issue be swept under the carpet? This is clearly blocking deployment of Linux container.

[2022-02-11 03:56] nadesu commented on #14805
+ @v-nagarajku

[2022-02-11 05:49] AmrutaKawade commented on #13455
Assigning right team to look into it

[2022-02-11 06:06] #15134 closed

[2022-02-11 06:42] v-nagarajku commented on #15837
@jrafamonagas  can you please provide entire logs instead of task logs alone.

[2022-02-11 08:07] denis-tikhomirov commented on #15904
Related ticket - https://github.com/microsoft/azure-pipelines-tasks/issues/13300.

[2022-02-11 11:21] denis-tikhomirov commented on #15879
Downloading of secret file regardless of condition is not good idea, IMO, by 2 reasons:
- secret file must be downloaded only in cases when it's really required in accordance to security reason
- it produces unnecessary activity - downloading of file in all runs of task, regardless required this or now

I have created new one task for creation of docs about pre-jobs - https://github.com/microsoft/

[2022-02-11 13:32] denis-tikhomirov commented on #15884
Let me answer to question inline

Questions:
1. Why `git clone https://$USERNAME:GITLABPAT@gitlab.com/jls.jl/ado.git` is not expanding var values?.
  - It looks like bug as I specified in start of discussion. And I think it can be investigated more deeply.
2. Why `jls-0` in first scenario is being masked without setting var as secret?.
  - There is only one reason why it's masked - affected pipeli

[2022-02-11 13:38] denis-tikhomirov commented on #15884
Summary of issue in the ticket.
Value of secret variable is replaced to `***` in pipeine execution process. If secret variable `var1` has value `aka`, then command `ping -c 1 $(TESTVAR5).ms` will try to ping `***.ms` instead of ``aka.ms`. But values of secret variables can be successfully used for logging actions as expeted.
So using of secret variables for any content but passwords or PATs is dif

[2022-02-11 14:16] meghandaly commented on #15515
I am also observing this behavior.

Despite specifying the the `jdkOption` as `Path` and the `jdkDirectory`, the build continues to use an internal Java version.

My YAML:

[code]

Pipeline output confirms the `JAVA_HOME` location is set to my JDK 11 package:
![image](https://user-images.githubusercontent.com/42221156/153606941-16b5778b-f70e-4e0a-a2fa-1cb7832dd300.png)

And yet, from the build log

[2022-02-11 15:07] altair43 commented on #15485
@LeoVisser LeoVisser has anyone tested this lately in PSv7 to see if this still is an issue?

[2022-02-11 18:17] mastrzyz opened #15913 "NPMAuthenticate fails to retry successfully"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NpmAuthenticate

## Issue Description

The NPM Authenticate task leverages live services and can be very flaky for us , so we used the `retryOnTaskFailure` setting in the main task to try and mitigate this.

We encount

[2022-02-11 18:52] aasim commented on #15913
I think this looks good, can you create a PR for this?

[2022-02-11 20:13] zhenghao104 commented on #15913
For testing, you can prob manually throw an exception somewhere in the middle for just one time, and check if retries work properly, and without retry, it should fail with the variable issue.

[2022-02-11 20:22] jls-0 commented on #15884
@denis-tikhomirov, now it's working.
I found in docs that we need to map secret-variables in Environment Variables section for each task according to https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#secret-variables: `Unlike a normal variable, they are not automatically decrypted into environment variables for scripts. You need to explic

[2022-02-11 20:22] #15884 closed

[2022-02-11 20:34] jfcroteau commented on #14201
still failing with the same result. I saw the problem both on version 1.195.0 and 1.198.1.

[2022-02-11 21:31] alanmk commented on #9272
In some cases, removing the unnecessary files with the `DeleteFiles@1` task might serve as a workaround.

[2022-02-11 21:50] mastrzyz commented on #15913
[](https://user-images.githubusercontent.com/37447884/153674929-08aabe68-861f-4545-a780-187410bfe951.png)I tried the following code to test out my changes :

Commented out my 'fix' and called main immediately after the failure to fake a retry attempt

main().catch(error => {
    if (tl.getVariable("NPM_AUTHENTICATE_TEMP_DIRECTORY")) {
        tl.rmRF(tl.getVariable("NPM_AUTHENTICATE_TEMP_DIRECTORY

[2022-02-12 07:41] SteveLillis commented on #14805
@nadesu @PhilipsonJoseph @v-nagarajku do you know when we might see a review for this one line correction and an update to the task?

I ask as this is currently blocking my team from being able to use this task as intended, and we will need to make alternative plans if we think this may take some time to make it's way out.

Thank you.

[2022-02-12 16:12] bitbonk commented on #13937
Any chance that this cache task will also be supported in Azure DevOps Server soon? Or is there an alternative to handrolling a custom solution like the above script?

[2022-02-13 11:17] ransagy commented on #15348
I've come across the same thing - essentially, I wanted to create a task group that can be reused where you would pass in the names of the secrets to download from KV and then the rest of the pipeline could use them via env vars or the like - Rather than having the explicit names in design time.

The KV test doesn't seem to have an output variable/reference name either.

As it seems something more

[2022-02-13 12:05] #15145 closed

[2022-02-13 17:41] sandyarmstrong commented on #12590
I'd also still like to have this.

[2022-02-13 20:43] jrafamonagas commented on #15837
@v-nagarajku
[tasklog_45.log](https://github.com/microsoft/azure-pipelines-tasks/files/8056601/tasklog_45.log)

[2022-02-14 06:46] v-nagarajku commented on #15837
@jrafamonagas  can you please provide your YAML configuration file for this task.

[2022-02-14 07:08] jrafamonagas commented on #15837
Hi @v-nagarajku

variables:
  customer: 'customer'

steps:
- task: IISWebAppDeploymentOnMachineGroup@0
  displayName: 'Deploy IIS App'
  inputs:
    WebSiteName: DPAWebSite
    VirtualApplication: '/dap-release-$(customer)-dpp'
    Package: '$(System.DefaultWorkingDirectory)\Backend.Release\$(customer).Debug\DPP.Api.zip'
    TakeAppOfflineFlag: true
    XmlTransformation: true
    XmlVariableSubst

[2022-02-14 08:56] HansMusterWhatElse commented on #15532
Same issue here - please let us know if you need any additional information.

##[debug]Correlation ID from ARM api call response : acbc967c-0914-4129-befa-6e6417085f03
##[debug]Correlation ID from ARM api call response : 230036af-d450-44d7-bc08-83d8cab804cb

[2022-02-14 09:07] awesid commented on #15893
@denis-tikhomirov I am facing the same issue when trying to deploy an App Service

[2022-02-14 11:30] bitbonk opened #15919 "Caching in Azure DevOps Server"
**Question, Bug, or Feature?**
*Type*: Feature

**Task Name**: Cache

## Environment
- Server - Azure DevOps Server 2020 Update 1.1
- Agent - Private: v2.181.2 on Windows Server 2019

## Issue Description

I just learned (https://github.com/microsoft/azure-pipelines-tasks/issues/13937) that the Cache task is not available on Azure DevOps Server. What would be the official or preferred way to cache

[2022-02-14 14:39] FHajHusein commented on #15532
There seems to be an issue with the ARM's "resources" endpoint, which is hit by the "Azure App Service Deploy" task to find the resource (the app), while filtering for the resource type and name. The endpoint doesn't always return the resource.

Endpoint:
https://docs.microsoft.com/en-us/rest/api/resources/resources/list

Corresponding Azure CLI command:
https://docs.microsoft.com/en-us/cli/azure/

[2022-02-14 16:16] DenisRumyantsev commented on #13283
The related documentation update PR has been merged, so I am closing this issue.

[2022-02-14 16:16] #13283 closed

[2022-02-14 16:50] #15919 closed

[2022-02-14 20:49] ChanceyC opened #15921 "Download Secure Files false positive on downloading error string."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-02-14 21:59] carl-tanner commented on #13937
I'm updating the documentation so that it says it is limited to Azure DevOps services.  Pipeline cache is built upon the same infrastructure that pipeline artifacts uses and is not available in the server product.

[2022-02-14 22:18] mastrzyz opened #15922 "PublishTestResults does not follow "retryCountOnTaskFailure" and instead fails immediately after failure"
## Required Information

*Type*: Bug

**Enter Task Name**: PublishTestResults@2

## Environment
- Server - Azure Pipelines Internal Microsoft

## Issue Description

We have encountered flakiness in the Publish Test results task which is critical for us since we use post processing to determine if a test that failed was flaky or not and modify the final build result based on that.

Recently we have

[2022-02-14 23:02] bitbonk commented on #15919
Can you give us a hint how to cache assets between pipelines runs then?

[2022-02-14 23:04] bitbonk commented on #15919
@leidegre Can you give us a hint how to properly cache assets between pipelines runs then?

[2022-02-14 23:05] bitbonk commented on #15919
@johnterickson Can you give us a hint how to cache assets between pipelines runs then?

[2022-02-14 23:11] johnterickson commented on #15919
Most self-host agents for on-premises deployments are not re-imaged between runs.  Assuming, so, all package managers AFAIK can be configured to cache packages in a particular folder.  You can configure that to point to a directory that does not get scorched between runs.

[2022-02-15 06:00] Danxx26hub commented on #9111
I ran into this today, I was able to install zip utility using apt-get. it would be nice to have this included as part of an extension maybe?

[2022-02-15 07:05] bitbonk commented on #15919
Yes for package managers this is no problem but not all assets can be retrieved via package managers, like for example the postgres binaries, vcredist or sometimes even the .NET SDK.

[2022-02-15 08:56] AdamCoulterOz opened #15925 "Feature: Generic Service Connection - Dynamic Auth Token"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**:

Any task using the generic service connection, both agent and agent-less tasks

## Issue Description

Add ability to retrieve an access token for a given resource (e.g. Server URL) from an auth provider (e.g. `https://login.microsoftonline.com`) which is set as the password or token field for the generic service connection using

[2022-02-15 09:32] EzzhevNikita commented on #15858
@MoeAbouAli Is it still an issue for you?

[2022-02-15 10:08] Stevonix commented on #14536
Hi,

we are facing the same problems. Even after updating to V3 the deprication warning is still there.

Please fix this.

regards
Stefan

[code]

[2022-02-15 11:05] golubev-ivan commented on #15925
Hi @AdamCoulterOz, this feature isn't related to tasks repository. Could you please submit the same issue to Microsoft developer community?

[2022-02-15 12:35] ahaeber opened #15927 "CacheV2 fails to create hard links when untar'ing"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CacheV2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
- Agent - Hosted or Private:  Host

[2022-02-15 13:39] nichoio commented on #9565
I'm struggling with a similar issue. I wanted to combine `if` syntax with checking for the output of a previous job, but this doesn't seem to be supported unfortunately:

[code]

This gives me `Unrecognized value: 'dependencies'. Located at position 4 within expression`.
I ended up with duplicating the job and its code except for changing the desired variable value.

[2022-02-15 14:00] MarcoHuib opened #15929 "Azure pipelines tasks "AzureFunctionAppV1" not support .NET 6"
## Note
I like to do a feature requests for Azure pipelines tasks "[AzureFunctionAppV1](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFunctionAppV1)" to make it possible to support .NET 6. Are there any plans to do this?

## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureFunctionAppV1

## Environment
- Server - Azure Pipe

[2022-02-15 14:27] EzzhevNikita commented on #15261
@am11 Is the issue still exist actual for you?

[2022-02-15 15:03] gioce90 commented on #15092
Hi, I have resolved this using two different pipelines as described here: https://github.com/microsoft/vstest/issues/981#issuecomment-1034093540
In this way I can achieve full and diff coverage. I think is what you are searching for.

[2022-02-15 16:04] ChanceyC commented on #15921
It is also worth noting that sometimes the task will fail with the error ##[error]Error: connect ETIMEDOUT 13.107.42.20:443, which is expected. I think the difference is that the ETIMEDOUT is caught in the azure api and the promise is rejected , while the '{"$id":"1","innerException":null,"message":"TF15004: The download request signature has expired.","typeName":"Microsoft.TeamFoundation.Framewor

[2022-02-15 16:09] johnterickson commented on #15927
What is `@LongHardLink`?  We're just invoking `tar` on the tarball we download, so maybe something about the source tree is odd in a way that `tar` can't handle it.

[2022-02-15 16:21] rovangju commented on #14322
Bump....

[2022-02-15 16:52] gluip commented on #15281
any updates on this?

[2022-02-15 17:34] gthvidsten commented on #14795
Thanks for the suggestion, but I'm running .NET Framework, not .NET Core

[2022-02-15 20:07] ahaeber commented on #15927
@johnterickson I don't have `@LongHardLink` locally. Actually, I don't see any hard links locally at all.

Not sure which version of tar you're using in the task, but I did find this piece of code in libarchive which looks to apply if the path becomes too long and would create similar hard links:
<https://fuchsia.googlesource.com/third_party/libarchive/+/refs/heads/upstream/master/libarchive/archi

[2022-02-15 20:41] johnterickson commented on #15927
On Window `7z` is used for `tar` extraction but `tar` is used for `tar` archiving: https://github.com/microsoft/azure-pipelines-agent/blob/cbb6efede9c8b92278f6ba1b7bb66c29706ef9ad/src/Agent.Plugins/PipelineCache/TarUtils.cs#L171

Isn't `-x` just `extract`? Am I missing something?

[2022-02-15 21:39] ahaeber commented on #15927
Sorry for the confusion, it appears that `-x` is an argument to concurse/fly in that issue and not tar.

I tried to re-run the build with a slightly different cache key, changing 'hunter' to 'hunterdep' in the front. It was built and cached ok. The next build got a cache miss, so it cached it again. Then, the third build got a cache hit but again fails to extract the cache archive.

[2022-02-16 08:39] v-nagarajku commented on #15837
@jrafamonagas,  from the above data provided these are all our assumptions for the configuration and we repro with the below configuration as per the YAML shared.
Using Release pipelines with **Deployment group job** with VM as target which has sample website in IIS.
Using **IIS web app deploy** task 0.198.0v
Mimic similar YAML config for deployment

PS: **Task is working fine in the above said co

[2022-02-16 11:00] maikelvanhaaren commented on #15532
@v-saikumart Do you have any update on this issue?

[2022-02-16 11:06] Sholofly commented on #15532
Same issue here!

[2022-02-16 12:43] IanTem commented on #15532
I'm having the same issue, any news?

[2022-02-16 13:05] KonstantinTyukalov commented on #15868
Hi, the related changes will be available in the next release.
We will update the ticket once these changes will be fully rollout to all Azure DevOps users.

[2022-02-16 13:20] KonstantinTyukalov commented on #15535
Quick update: The related changes were successfully rolled out for all Azure DevOps users, so closing this.
If you have any further questions, feel free to request reopening this issue.

[2022-02-16 13:32] KonstantinTyukalov commented on #10900
Hi! Thanks for the information you provided. We are currently working on resolving this issue.

[2022-02-16 16:23] alswinehartMRI commented on #8920
@jamiehaywood thank you so much! Does anyone know how I can narrow down copying to a repo's subfolder? I'm trying this now with wild guesses and it's either erroring out or copying all the unnecessary files, which ends up taking over 60 minutes and erroring out anyway.

[2022-02-16 17:27] mm-gmbd commented on #15532
Jumping in here. Our team has the same issue and it's incredibly frustrating.

We have an App Service that's serving 4x individual Function Apps. We use the `AzureFunctionApp@1` task for deploying each of these Function Apps, and invariably at least one of the four fails. Retry after retry after retry, and eventually they start to succeed.

This significantly impacts our releases because we have s

[2022-02-16 17:36] lancegliser opened #15936 "HelmDeploy install and upgrade overrideValues multi-line documentation issue"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Documentation

**Enter Task Name**: HelmDeploy

## Environment
- Server - Azure Pipelines?
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
      Account: TorchResearchLLC
      Pr

[2022-02-16 20:08] rdepew commented on #10264
Bumping so the clock doesn't run out.

I'm seeing the same issue here.

[2022-02-16 21:49] StingyJack commented on #15020
Stale? Really? How is this getting marked as stale when the assignee has not bothered to comment?

[2022-02-16 22:27] ssrm commented on #14915
any expected date of awailable?

[2022-02-17 00:17] #15607 closed

[2022-02-17 00:42] ryanhatfield commented on #15903
Are you looking for the [buildContext](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/docker?view=azure-devops#:~:text=Default%20value%3A%20**/Dockerfile-,buildContext,-Build%20context) parameter?

[2022-02-17 01:02] ryanhatfield commented on #15652
Is it overly difficult to use the `build` and `push` commands separately?
Can you give an example of how you'd like to pass arguments to the `buildAndPush` command?
I'm curious to hear more about your Rails app and why dealing with precompiled assets is a hinderance.

From a previous [issue here](https://github.com/microsoft/azure-pipelines-tasks/issues/11981#issuecomment-568365337)

If you open u

[2022-02-17 01:28] ryanhatfield commented on #15863
After the `docker login` command is run, the `${DOCKER_CONFIG}` environment variable is set (or reused) and the connection information is saved to `${DOCKER_CONFIG}/config.json`. The config file will not exist before the `login` command though, so you might need to specifically call the `login` command first before any `buildAndPush` or `push` commands.

If logged in with a service connection, thi

[2022-02-17 01:33] ryanhatfield commented on #15574
It doesn't pass validation when using the local JSON schema for pipeline tasks, but the `pull` and `tag` commands do work for me.

<img width="691" alt="image" src="https://user-images.githubusercontent.com/12716395/154387189-a3b5689d-7627-4332-8261-ce9c6b32e064.png">

[2022-02-17 01:59] vkbishnoi opened #15937 "VSTest@2 task looking recursively in folder path specified in pathtoCustomTestAdapters"
I have 2 test adapters kept in a folder hierarchy as mentioned below

C:\TestAdapter: At this folder level there are binary files related to NUnit2 adapter
C:\TestAdapter\Nunit3: At this folder level there are binary files related to NUnit3 adapter

In VSTest@2 task, I have specified
pathtoCustomTestAdapters: 'C:\TestAdapter'

In the test logs I can see that after running tests using NUnit2 test a

[2022-02-17 02:53] ryanhatfield commented on #15936
I would switch your `HelmDeploy@0` Task to use a multiline string, I'm not sure your current usage is valid YAML?

Old value:
[code]

New value:
[code]

According to [this line](https://github.com/microsoft/azure-pipelines-tasks/blob/d088f37bc2ceb858be702aaebce2ffebf7531fd7/Tasks/HelmDeployV0/src/helmcommands/helmupgrade.ts#L57) in the Task, it's using multiple `--set` commands as opposed to comma

[2022-02-17 04:39] sandeep-pant commented on #15451
Is there anything on this please?

[2022-02-17 05:50] EzzhevNikita commented on #15261
@am11 ExtractFiles task is designed to work with Node 10 execution handler, so it should be running under Node 10. The current version of the agent doesn't have an execution handler with Node 14, so if we will update this task to support Node 14, we could potentially see any incompatibilities for the users who are using the Node version that is shipped with an agent. Adding support of Node 14 requ

[2022-02-17 07:02] malthe commented on #15863
I actually did take a look there but found that there is no entry `${DOCKER_CONFIG}/config.json` for the ACR.

[2022-02-17 10:13] anatolybolshakov commented on #10792
Hi everyone! Fix for this issue has been already rolled out - closing it as resolved at the moment. Please let us know if you have any other questions.

[2022-02-17 10:13] #10792 closed

[2022-02-17 11:28] v-nagarajku commented on #15599
Hi @virtualvoid  are still facing this issue? If issue is occurring can you please the complete logs setting system.debug=true.

[2022-02-17 13:04] SteveLillis commented on #14805
For anyone still struggling with this issue, we worked around it by not using the task at all and instead setting `linuxFxVersion` in the ARM just for the staging slot, while continuing to leave `linuxFxVersion` unset for the production slot.

This allowed us to get the staging slot set up correctly with the latest image without disrupting the production slot, perform our testing, etc. then we swa

[2022-02-17 14:16] cstrempfer commented on #15670
Hi @anatolybolshakov, I do not agree with that. There are (very) few Pipeline Tasks that work with Service Connections on Management Groups. Therefore support for Management Groups has to be implemented into the Pipeline Tasks specifically.

[2022-02-17 15:46] FHajHusein commented on #15532
Hi [Angelotas](https://github.com/Angelotas), why not using the "Azure Web App for Container" task?
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-rm-web-app-containers

[2022-02-17 16:19] TroyWalshProf commented on #15344
It think this is more an issue with MSTest V2 then it is with the test task.
See: https://github.com/microsoft/testfx/issues/1023

Note* The change in MSTest also breaks existing data driver test associations in Azure DevOps test cases.

[2022-02-17 16:41] RSteeno commented on #15532
@v-saikumart, I have an active support case open that is with the Azure DevOps Support team.   I've asked the support engineer to reach out to you to collaborate on the issue.  I've included my case # for reference: 2201130040008155

[2022-02-17 16:41] tbolon commented on #15449
I also encountered this problem today.

We wanted to migrate from VS2019 vstest.console.exe because it is still compiled against .NET 4.5.1 and still use TLS 1.0 when running tests, but now that we use v17 of vstest.console.exe we now receive this warning.

Perhaps we could suggest a PR to remove this warning? Do you know if there is a way to get rid of this warning when invoking vstest.console.ex

[2022-02-17 16:45] tbolon commented on #15449
Ok I just found [the resource](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/VsTestV2/Strings/resources.resjson/en-US/resources.resjson#L175) containing this warning. Maybe it's just this task which should be tweaked.

[2022-02-17 16:48] tbolon commented on #15449
And the [function](https://github.com/microsoft/azure-pipelines-tasks/blob/acc64cc7292c98597908325e53af9f898a896189/Tasks/VsTestV2/taskinputparser.ts#L374) which emits a warning if the dll `Microsoft.IntelliTrace.ProfilerProxy.dll` is not found.

Because @jakubch1 said that the IntelliTrace is not expected to be found when using v17, how this function could be updated to handle this case?

There i

[2022-02-17 16:56] lancegliser commented on #15936
Wow. I owe you a beer. That's a great advanced solution. I may move to that in many cases.

Specific to your correction about multi-line. Moving to:

[code]

Produced:
[code]

Looks like it used comma concatenation, but it did work. This becomes just a documentation issue then, instead of a bug. I'd like to see that `|-` syntax called out specifically in the example to correct flawed assumptions l

[2022-02-17 17:00] tbolon opened #15939 "Unable to build VSTestV2"
## Required Information

**Type**: Bug
**Enter Task Name**: VSTestV2 and VSTestV3

## Environment

[code]

## Issue Description

Unable to build VsTestV2

### Task logs

[code]

[2022-02-17 18:52] erik-source commented on #15451
@rmacedo-bh seems to have thoroughly documented the issue and what needs fixed, it seems this just needs a PR? This has been a real thorn in our side for a long time.

[2022-02-17 19:24] ryanhatfield commented on #15936
Glad it worked out 👍

I was wrong in my previous comment about using multiple `--set` commands, now looking back at the source code I referenced I realize it's replacing newlines with commas.

Ya I agree, the multiline YAML string could definitely be called out better in the documentation.

[2022-02-17 23:33] igorzdravkovic opened #15941 "Unable to locate executable file: 'iotedgedev'"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureIoTEdgeV2

- Server - Azure Pipelines
- Agent - Hosted
vmImage windows-2019
agent version 2.198.3
AzureIoTEdge task version 2.199.0

## Issue Description

Error: Unable to locate executable file: 'iotedgedev'. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment

[2022-02-18 00:28] samskiter commented on #11219
@mjroghelia  I noticed you had to revert the PR - is there any chance this could be revisited? @ethanis I believe you authored that PR...

[2022-02-18 00:29] samskiter opened #15942 "Support glob for path"
I cannot reopen #11219 but it was closed after the PR was merged, but the PR was later reverted, so I think it should be reopened?

Thanks

[2022-02-18 02:52] forero08 commented on #15532
I have the same issue, it's really frustrating 😞

[2022-02-18 06:16] v-nagarajku commented on #15532
@RSteeno ,
@v-saikumart  is not working on this issue now. Can you please inform the support engineer to reach out to me. Thanks
cc: @PhilipsonJoseph

[2022-02-18 07:05] #15858 closed, assigned to EzzhevNikita

[2022-02-18 08:05] maikelvanhaaren commented on #15532
@v-nagarajku We have an open ticket at the Azure App Services with number 2201270050001295. We've shared the link to this ticket multiple times.

[2022-02-18 09:21] #15516 closed

[2022-02-18 11:30] golubev-ivan commented on #15942
Hi @johnterickson, Could you take a look at this problem, as far as I see you have been working on the mentioned ticket.

[2022-02-18 12:16] Eagle3386 commented on #10264
@fadnavistanmay would you mind re-opening it as there are several reports of the issue still occurring & not being resolved now?

[2022-02-18 12:45] justanotherspy commented on #15532
We are also having this issue and its a blocker for releases.

[2022-02-18 12:49] v-nagarajku commented on #15532
@maikelvanhaaren  we are not from the Azure App Services team. We are from azure-pipelines-task team. As  a luck or initial workaround can you please add a delay task before the task (e.g: Azure App deploy) and check.

[2022-02-18 13:51] ThumNet opened #15944 "Docker@2 support for --output type=local,dest="
**Question, Bug, or Feature?**
*Type*: Question / Feature

**Enter Task Name**: Docker@2

## Environment
Azure Pipelines

## Issue Description

I am trying to figure out why the `--output type=local,dest=out` parameter is not working for docker.
[Docs](https://docs.docker.com/engine/reference/commandline/build/#custom-build-outputs) about the `--output`

This way it is possible to extract for exam

[2022-02-18 14:15] johanpretoriusza commented on #13729
Downgrading from 4 to 3 did the trick for me too.

[2022-02-18 15:10] #15153 closed

[2022-02-18 15:17] ericvruder commented on #14536
Having the same issue here as well, any news?

[code]

[2022-02-18 17:08] eastjie opened #15945 "Characters after "{" is eliminated in Azure CLI task if variable is passed by argument"
Hello, in Azure Devops pipeline, if I use argument to pass the variable using Azure CLI task with inline script and if the value of the variable has left curly bracket. The characters after "{" will be ignored.

The problem can be reproduced with the following steps:

1. Add a variable "TestVar" with test value **a?bc{^125-_@fc?#** for the pipeline;
2.  Add the following two steps in pipeline:

[2022-02-18 17:41] borondy commented on #15532
Delay task won't solve this issue. Just for investigation, we've executed the https://management.azure.com/subscriptions/{subscriptionId}/resources call every minute for several hours to see if the Azure Mangement API returns our existing resources... there were missing things 5 hours after the successful resource provisioning.
The deployment task validates the existence of the target resources vi

[2022-02-18 18:08] sachip-msft opened #15946 "Device Guard blocking non-signed binaries when executing. System.IO.Abstractions.dll"
## Required Information
[VsTestV2] (https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/VsTestV2) and agent binaries are packaging unsigned dlls, This blocks execution of vstest task on our self-hosted windows agents which have device guard policies enforced.
Error:
Error: Could not load file or assembly 'System.IO.Abstractions, Version=2.1.0.174, Culture=neutral, PublicKeyToken=9

[2022-02-18 18:13] Dejulia489 commented on #8697
Adding the following to your PowerShell script will enable PowerShell debugging when the pipeline's debug output flag is set.

[code]

[2022-02-18 18:22] metaxasa commented on #15532
@bmoore-msft raising for visibility

[2022-02-18 18:34] mdubdev commented on #15532
@borondy This is my experience as well. I was on a call with an ARM engineer earlier today. I'm going to point him to this thread to maybe get some visibility going here. I've had a support case open since this started happening on 1/12.

[2022-02-18 18:38] jschiessl commented on #15532
@safari137 @adalfa I can confirm that the problems occur when using ARM template deployments. I can't comment on the question whether it works if deployed through the Azure Portal. All of our deployments are for West Europe region, so we can rule out that it's specific to any location.

We are dynamically provisioning environments with around 12 different web apps, and typically ~4 of them are not

[2022-02-18 18:59] jschiessl commented on #15532
@v-nagarajku As a shout out to the Azure DevOps team, I feel that this discussion is actually misplaced here, as in my opinion, the task implementation of Azure DevOps is not to blame. It's the underlying API that causes these problems.

Since we're in the repo for azure pipeline tasks, I want to share a solution (or rather a workaround) that we implemented in our team and that completely solved d

[2022-02-18 19:50] troy0820 opened #15947 "Add `DeleteRG` action in AzureResourceManagerTemplateDeploymentV3 in documentation."
Listed in this list of  [actions](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureResourceManagerTemplateDeploymentV3/README.md#parameters-of-the-task) in the AzureResourceManagerTemplateDeployment@3 it shows that the delete action is 'Delete Resource Group'.  In the article that is published, ([public facing docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/a

[2022-02-18 21:12] bkvisiosign opened #15949 "AzureAppServiceSettings appsettings section, max length limited to 5000"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureAppServiceSettings

## Environment
Not relevant

## Issue Description

The AzureAppServiceSettings task allow only 5000 chars in the appsettings input field. We are hitting this limit, with no real way to extend it.

## Suggestion
Either increase the limit of appsettings input and/or allow a referenc

[2022-02-19 15:08] rafek1241 commented on #15144
Bump!

[2022-02-19 18:05] #15169 closed

[2022-02-19 19:28] fjferrand commented on #13177
Hi.
I'm having the same issue.
Any solution found?

Environment
Azure DevOps Server Version Dev17.M153.3
Agent - Private - behind proxy - Agent win-x64-2.177.1

Windows 10 Enterprise
20H2
19042.1526

[2022-02-19 19:43] tedean66 commented on #15949
@bkvisiosign

[2022-02-20 09:21] olivier-voutat commented on #5590
I forgot this issue.

I found out what was wrong in my deployment configuration. Tokenizer was set to all files in the project.

So it was corrupting image and font files.

Don't know it is the same problem that others were having.

Tokenizer should be applied only to files that you're sure that they are pure text files.

[2022-02-20 09:24] BlakesHeaven commented on #14043
It might be stale, but it's still needed and not fixed yet. Please, keep open and fix it.

[2022-02-20 12:07] #15173 closed

[2022-02-20 14:17] tomupson commented on #14686
Tested again on 2.198.0 and still an issue

[2022-02-20 17:57] stewartadam commented on #14848
Commenting as this still needs triage

[2022-02-20 18:06] #15170 closed

[2022-02-20 21:17] adithyasai commented on #15395
i am still facing this with Ubuntu 20.04. what can be the best workaround for that?

[2022-02-20 23:13] EmilAlipiev commented on #9172
Is it possible to delete secure file by name instead of Id or
is it possible to override if secure file with the same name already exist? I get conflict if secure file already exist. I couldnt find any parameter like force or replace etc.

[2022-02-20 23:34] #15925 closed

[2022-02-20 23:35] AdamCoulterOz commented on #15925
I have created it on the developer community ...

https://developercommunity.visualstudio.com/t/Generic-Service-Connection---Add-Dynamic/1671085

[2022-02-21 03:24] ayelen-aguirre commented on #10236
Hola! a mi me salta este problema cuando voy a depurar c# en visual studio code.. Alguien sabra decirme?

[2022-02-21 06:37] yorkzhang commented on #15893
@denis-tikhomirov The task name is "Azure App Service deploy".

[2022-02-21 08:25] DenisRumyantsev opened #15951 "Resolve vulnerabilities for common npm packages"
The following tasks should be tested with updated common npm packages from [this pull request](https://github.com/microsoft/azure-pipelines-tasks/pull/15908) before merging it.
___

### AzureAppServiceManageV0
* azure-pipelines-tasks-azure-arm-rest-v2
* azure-pipelines-tasks-utility-common

### AzureFileCopyV2
* azure-pipelines-tasks-azure-arm-rest-v2

### AzureFileCopyV3
* azure-pipelines-tasks-a

[2022-02-21 11:00] #15683 closed

[2022-02-21 11:00] #15778 closed

[2022-02-21 11:01] #15684 closed

[2022-02-21 12:12] tomkivlin opened #15953 "Bash task has command failing with exit code 2 but the pipeline task doesn't fail"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug, maybe

**Enter Task Name**: BashV3

## Environment
- Server - Azure Pipelines or TFS on-premises?  Azure Pipelines

- Agent - Hosted or Private: Private (Ubuntu 20.04, agent version 2.182.1)

## Issue Description

I am using the BashV3 tas

[2022-02-21 15:24] erwinkramer commented on #14472
bump, still needed

[2022-02-21 16:10] anatolybolshakov commented on #15472
Closing this at the moment here since it's not related to the issue with task itself - please let us know if you have any other questions.

[2022-02-21 16:10] #15472 closed

[2022-02-21 18:05] #15185 closed

[2022-02-21 18:05] #15187 closed

[2022-02-21 20:35] rdepew commented on #15605
Same issue when source resides on Bitbucket Cloud.
[code]

[2022-02-21 21:58] DenisRumyantsev commented on #15951
Hi
@rvairavelu @rohit-batra
@phil-hodgson @aasim @satbai
@bishal-pdMSFT (the `AzureVmssDeploymentV0`, `PackerBuildV0`, and `PackerBuildV1` tasks)
@miwebst @brhopcra (the `AzureStaticWebAppV0` task)
@shailesh-sk @navin22 (the `ContainerStructureTestV0` task)
@richakumar @harshiniks @v-nmursapall (the `JenkinsDownloadArtifactsV1` tasks)
@rasunkar (the `PublishCodeCoverageResultsV1` task)
Could you p

[2022-02-22 06:36] DaniilShmelev commented on #15953
Hi @tomkivlin! Could you please run this script locally and ensure that it outputs anything into stderr, or exits with a non-zero exit code?
My guess here is that your script may only be logging these errors to stdout. I'm pretty sure that your script exits with code 0. The call to 'make' exits with code 2, but it doesn't affect the calling script.

[2022-02-22 09:15] enterprisebug commented on #15532
Just want to mention my observation:

Resource in Azure Portal exists:
![image](https://user-images.githubusercontent.com/1539741/155093990-02509ee0-e57c-4d2d-b4a1-7020e51b1c17.png)

It does make NO difference which Task i use:

`AzureWebApp@1` fails with: `##[error]Error: Resource 'XXXX-api-dev' doesn't exist. Resource should exist before deployment.`

    - task: AzureWebApp@1
        displayNam

[2022-02-22 09:58] spSlaine opened #15955 "UseDotNet: No definition for nugetVersion input"
We are having an issue with the UseDotNet task defaulting to use nuget 4.4.1.

Looking at the task you can override this by specifying nugetVersion: in the yaml

[code]

This does work however warns that the input is Unexpected

The input is not defined in the task json

https://github.com/microsoft/azure-pipelines-tasks/blob/82f0b6a90d45f4c4a728e60fd5e9c809c2517ff5/Tasks/UseDotNetV2/task.json#L34

[2022-02-22 11:22] #15617 closed

[2022-02-22 11:29] anatolybolshakov commented on #14980
@cforce currently jobs are independent units of execution which could be picked up by separate agents - so there is no guarantee that they would be picked up by the same (and artifacts generated in file system will remain the same as well).
If you would need to keep them - you may probably locate all the tasks in one job, so it will be executed on one agent machine by one agent.
For more questions

[2022-02-22 11:29] #14980 closed

[2022-02-22 11:32] anatolybolshakov commented on #15657
Hi @darkobacicf do you have any updates?

[2022-02-22 12:02] anatolybolshakov commented on #15576
@sharmav I'm closing this at the moment as external - please let us know if you have any other questions.

[2022-02-22 12:02] #15576 closed

[2022-02-22 12:02] anatolybolshakov commented on #15575
Closing this as external at the moment - please let us know if you have any other questions.

[2022-02-22 12:02] #15575 closed

[2022-02-22 12:15] anatolybolshakov commented on #15506
Hi @alimdi do you have any updates?

[2022-02-22 12:29] anatolybolshakov commented on #15524
Per logs investigation - seems that this warning comes from msbuild itself, and task generates command properly for this tool - I would suggest to open a ticket in [msbuild repo](https://github.com/dotnet/msbuild) to get right eyes on it.
I'm closing this one as external at the moment - @salgiza please let us know if you have any other questions.

[2022-02-22 12:29] #15524 closed

[2022-02-22 12:40] anatolybolshakov commented on #15465
@LeoVisser [VstsTaskSdk](https://github.com/microsoft/azure-pipelines-task-lib/tree/master/powershell/VstsTaskSdk) module is a part of azure-pipelines-task-lib used by pipeline tasks. In general agent already masks all the secrets in pipeline/agent logs, but it's not possible to make masking in event logs. I would suggest to open a ticket in [repo](https://github.com/PowerShell/PowerShell) to chec

[2022-02-22 12:40] #15465 closed

[2022-02-22 12:41] jschiessl commented on #15532
@enterprisebug There are currently two proposed solutions around that you can try:

1. @FHajHusein 's comment ([direct link to it](https://github.com/microsoft/azure-pipelines-tasks/issues/15532#issuecomment-1039162360)) that uses `AzureWebApp` task as you tried, **but specifying the resource group as well**, because this apparently omits the call to the erroneous API
2. Optionally, [my solution](

[2022-02-22 13:22] anatolybolshakov commented on #15376
Hi @sureshtadisetty do you have any updates? Is this issue still actual for you?

[2022-02-22 13:24] anatolybolshakov commented on #15363
Hi @DariuszPorowski I'm closing this at the moment since there don't seem to be any issue - but please let us know if you have any other questions.

[2022-02-22 13:24] #15363 closed

[2022-02-22 13:29] anatolybolshakov commented on #15348
@doanminhtu I'm closing this at the moment as external here - please let us know if you have any other questions.
@ransagy this seems to be more likely related to how secrets are being tasks rather than task itself - but you can also open a ticket for task itself if you see that there is some possible task related issue (you can also ping owners of this task using [codeowners](https://github.com/m

[2022-02-22 13:29] #15348 closed

[2022-02-22 13:42] #15697 closed

[2022-02-22 14:13] RSteeno commented on #15532
I've also heard that this could be a replication issue for the ARM API.  Another workaround is to use a self-hosted agent which doesn't require any changes to your pipelines.  I have had 100% success when using a self-hosted agent.

[2022-02-22 16:47] Solksjaer commented on #15377
Hi @anatolybolshakov
sorry I had to look at the old code from October.
No, we had them defined on the `gradle.properties` as follows:
[code]

I will try then using the `sonar.properties` configuration and give you an update

[2022-02-22 18:07] Solksjaer commented on #15377
I tried using `sonar.web.javaOpts=-Xmx10240m -Xms8224m -XX:PermSize=8224m -XX:MaxPermSize=8224m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8` (i can provide a link to the job)
and also decided to add the same configuration for the other properties, but the error is still the same.
* For Web: sonar.web.javaOpts
* For ElasticSearch: sonar.search.javaOpts
* For Compute Engine: sonar.ce.javaO

[2022-02-22 18:19] vincentcastagna commented on #15577
@sandorfr any chance you share what you've done to fix this (if you did fix it) ? I'm also having this on CI, but not locally when using openssl.

[2022-02-22 18:31] themattconnolly commented on #15656
In case anyone stumbles on this thread, I had a Windows 2012 R2 VM in Azure created maybe in 2016, with an Azure file copy task in Azure DevOps that started failing due to certificates that had expired in 2021. Updating the task version from 1.* to 4.* and running the release again had no effect on the certificate. I ended up following the script from @[meyemh30](https://github.com/meyemh30)to del

[2022-02-22 18:42] marianan commented on #15395
Thank you for reporting this issue. iotedgedev is not yet updated to support python 3.8. We recommend running it on Ubuntu 18.04 until the python support is upgraded for iotedgedev.

[2022-02-22 18:50] marianan commented on #15941
@igorzdravkovic thanks for reporting this issue. We will investigate and report findings here.

[2022-02-22 19:01] don-petry commented on #15532
Also experiencing this issue.  We're seeing delays of 5+ hours in API showing current state.

[2022-02-22 21:50] GPetrites commented on #15532
I finally abandoned this pipeline action in favor of the Azure CLI one.  It's actually a pretty straight forward replacement.  Here's the before/after YAML:

- task: AzureWebApp@1
  displayName: 'Azure Web Deploy'
  inputs:
    azureSubscription: '**_sssss_**'
    appType: webApp
    appName: **_aaaaaaaaaa_**
    package: '**_$(System.DefaultWorkingDirectory)/Web.zip_**'

- task: AzureCLI@2
  disp

[2022-02-23 07:50] engineering-dotcms commented on #10321
Good morning,
I know the issue Is closed but I'm facing the same problem with our on-prem Azure DevOps installation (server 2019) when we try to create an ARM service connection using an app registration.

Regards,
Graziano

[2022-02-23 08:42] garimakhulbe02 opened #15958 "[azure-pipelines-tasks-azure-arm-rest-v2] Need to update dependency azure-pipelines-task-lib to version 3.2.0"
## Issue Description

Dependency for npm package ```azure-pipelines-tasks-azure-arm-rest-v2``` needs an update.  Current version 2.198.1 is using ```azure-pipelines-task-lib```(version: 3.1.0) which has security vulnerability in dependency in ```shelljs``` package. Here is the report: https://nvd.nist.gov/vuln/detail/CVE-2022-0144.

[code]
Please update to newer version of ```azure-pipelines-task-

[2022-02-23 09:09] FWI-95 commented on #15819
Update: We just discovered the first occurence of a stuck task with only one agent running on a Host. So this is also possible, but very very rare.

[2022-02-23 09:37] tomkivlin commented on #15953
Ah yes, that's the issue - I'd assumed that the call to make would trigger the failure but you're right the calling script still exits with code 0.  Just need some logic round the make command, no problem.  Thanks again.

[2022-02-23 09:37] #15953 closed

[2022-02-23 10:18] rwaal opened #15959 "AzureResourceManagerTemplateDeploymentV3 doesn't recognize bicep files"
## Required Information

According to the README, the `AzureResourceManagerTemplateDeploymentV3` task should now natively support Azure Bicep deployments. However, when using this task it throws an error, indicating it expects a JSON file.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureResourceManagerTemplateDeployment@3

## Environment
- Agent - Hosted: ubuntu-latest

## I

[2022-02-23 11:18] Dolphinsimon opened #15960 "Run XamarinAndroid build task failed"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: XamarinAndroid

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

Can not build Android

[2022-02-23 12:06] SharePointRadi commented on #15793
Hey guys, do you have an update on this question? It has been unanswered for a month and I would imagine you know the answer. Azure Cloud Service )extended support) has been GA since April 5th, 2021. (https://azure.microsoft.com/en-us/blog/cloud-services-extended-support-is-generally-available-migration-tool-in-preview/)

[2022-02-23 12:15] eric-labelle commented on #9340
Brump - Still valid

[2022-02-23 14:01] devops-ninja2021 commented on #13241
Same issue here. We have one repo with multiple scopes.

[2022-02-23 15:26] mortenn opened #15961 "AzureRmWebAppDeployment fails due to missing permission to perform joinViaServiceEndpoint/action on subnet"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeploymentV4

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
Private agent, current version, running on Windows 2019 VM in Azure

## Issue D

[2022-02-23 15:48] Dolphinsimon commented on #15960
The same sources were built successfully with version 1.197.1. The latest version is 1.198.0

[2022-02-23 20:37] nnellans commented on #15959
Hi rwaal :)  Funny seeing you here.

The hosted agents are still using 3.198.0 of this task.  The latest version that includes Bicep support is 3.199.0.

I was curious when the agents would be updated to use this new task, I asked a similar question here:  https://github.com/microsoft/azure-pipelines-tasks/issues/15886

I was told the tasks are updated every 3 weeks.  However, version 3.199.0 was

[2022-02-23 23:55] AlexEyler opened #15963 "Using dotnet workload install with custom feeds"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-02-24 06:49] amitaesthetic commented on #12831
+1

[2022-02-24 07:16] DaniilShmelev commented on #15960
Update from 1.197.1 to 1.198.0 only introduced localization changes: https://github.com/microsoft/azure-pipelines-tasks/pull/15633. Not sure how this could affect task behavior.
Could you please send a pipeline yaml with repro and the pipeline logs for both failing (1.198.0) and successful (1.197.1) cases?
You can send them to v-dshmelev@microsoft.com

[2022-02-24 07:31] Dolphinsimon commented on #15960
@DaniilShmelev I have sent the logs and yaml files.

[2022-02-24 08:30] InternetPseudonym commented on #15919
Binaries do not belong to the inventory of package managers - like: at all. If you mix these two concepts you probably should re-think almost everything regarding your build & deployment - system because you're doing it wrong.

[2022-02-24 08:49] bitbonk commented on #15919
An agent runs many different pipelines for many different products. Each pipeline has a set of dependencies needed to build the artifacts. Some of those dependencies are *not* managed by a package manager and never could be.

The pipeline's tasks is to get these dependencies because it knows best what it needs to build its artifacts.

These dependencies that a pipeline fetched should be cached so

[2022-02-24 08:54] InternetPseudonym commented on #15919
And exactly there is your problem - projects which uses dependencies which cannot be managed are erroneous by design. Simple as that. They need to be rewritten. Porting legacy code over to "modern" CI/CD sometimes can be difficult and time-consuming. Welcome to the world of DevOps.

No - not at all.

No, only projects / repositories themselves "know" anything about dependencies - by design.

Liter

[2022-02-24 09:33] lanneshoa opened #15964 "How to Escape Double quote Into NugetCommand Argument"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NugetCommandV2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide th

[2022-02-24 09:34] bitbonk commented on #15919
One example:

The artifacts that are being built by a pipeline is an application that needs a local postgres server to run. The installer of the application (that is also built by the pipeline) will unpack these postgres binaries so the application can start an instance of it. The app installer will also install a specific version of the Visual C++ redistributable binaries.

The usual idiomatic wa

[2022-02-24 10:05] InternetPseudonym commented on #15919
Thats the next design error right there - applications never should need anything "local". It needs to be rewritten.

see above.

... does not exist because only very few, if anyone professionals create that kind of deployment - which seems to be a semi-permanent system modification on EACH AND EVERY RUN. Thats unnecessary and honestly pretty weird

Because these two products are inherently differ

[2022-02-24 12:33] samskiter commented on #15312
+1 it's not clear if you can rely on the YML pipeline to be the source of truth

[2022-02-24 12:49] vininew921 opened #15965 "CmdLine setting env. variables with wrong name"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CmdLine

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Private 2.153.1

## Issue Description

Environment variable

[2022-02-24 12:55] v-nagarajku commented on #15599
Hi @virtualvoid  are you still facing the issue? If not can we close it?.

[2022-02-24 13:01] v-nagarajku commented on #15837
Hi @jrafamonagas  Can you please confirm here whether you still facing the issue?

[2022-02-24 14:20] jrafamonagas commented on #15837
Hi, @v-nagarajku  same issue still.
After the latest release, our deployment stage broke and since then it is not working again.
Is there a way to manually choose the version that will be used for the deployment?
Thanks very much
Jose M

[2022-02-24 14:35] v-nagarajku commented on #15837
Hi @jrafamonagas  you cannot manually choose the version as the task is updated to 0.198.0. As explained we had mimic the above said configuration, but we do not see any issues in our local environment. Can you please check once in the path variables. As it is blaming as syntax error.

[2022-02-24 14:51] jrafamonagas commented on #15837
@v-nagarajku what do you mean in the path variables? could you guide me there?

[2022-02-24 14:56] v-nagarajku commented on #15837
<img width="473" alt="image" src="https://user-images.githubusercontent.com/96724708/155548446-8ec353ed-31e7-4a21-a1da-1732275aac14.png">

 $customer one. Can you please check once.

[2022-02-24 15:10] #15129 closed

[2022-02-24 15:19] ChristoWolf commented on #11451
Same for me, options seem to be ignored.

[2022-02-24 15:38] sumo300 commented on #6885
We've run into this exact issue.  We need to be able to use environment-specific variables, which are in the stage scope.  Please fix this.  This is a pretty significant defect.

[2022-02-24 17:09] kkuepper commented on #15960
we're experiencing the exact same problem

[2022-02-24 17:17] sven5 opened #15969 "➤ YN0034: Invalid configuration key "configCache" in <environment>"
When using Cache@2 task with yarn 3.2 we see the error message:

`➤ YN0034: Invalid configuration key "configCache" in <environment>`

or this error:
[code]

[2022-02-24 17:28] sven5 commented on #15969
Ok issue fixed.
The variable must be named `YARN_CACHE_FOLDER`.
Now everything works.

[2022-02-24 17:28] #15969 closed

[2022-02-24 17:32] mm-gmbd commented on #15532
Just got a response from Azure Support saying the following:

I'm about to start the process for a new release on our end, but seems like the problem is potentially fixed now by Azure. Will report back here soon.

[2022-02-24 18:20] RSteeno commented on #15532
Thanks for the update.  I have tested my deployment and it is still failing.  I'm going to ping the MSFT engineering working on my case to see if he's heard anything.

[2022-02-24 18:27] mm-gmbd commented on #15532
Just attempted on my end and the problem is definitely still there. Will respond to Microsoft support and attempt one of the workarounds mentioned in the thread, too.

[2022-02-24 19:56] mm-gmbd commented on #15532
Attempted doing the workaround mentioned in [this comment](https://github.com/microsoft/azure-pipelines-tasks/issues/15532#issuecomment-1039162360).

Specifically, I updated the ask from `AzureFunctionApp@1` (which we had been using but broke suddenly) to `AzureWebApp@1`. Turns out I was already specifying `resourceGroupName`, but I went ahead and gave it a shot. Unfortunately I encountered a diff

[2022-02-24 20:04] iury-kc commented on #15960
having the same error trying to debug platform.uno on android emulator

[2022-02-24 21:30] jrafamonagas commented on #15837
Hi @v-nagarajku  i have checked and the variable is there.
We have three stages and for two of them the pipeline is failing with the above mentioned error, for the other stage the pipeline runs correctly.

[2022-02-24 23:19] mm-gmbd commented on #15532
Attempted doing the `az webapp deploy` as suggested in [this comment](https://github.com/microsoft/azure-pipelines-tasks/issues/15532#issuecomment-1048246081). Had to modify slightly because I'm running the task on a Linux Agent, so the I updated the script type to `pscore`.

Unfortunately, no dice there either. Failure was due to the Linux VM not actually supporting that command:

🤷‍♂️ 🤦‍♂️

One

[2022-02-24 23:45] therealmanny commented on #14864
https://github.com/microsoft/azure-pipelines-tasks/issues/11051#issuecomment-632118326 might help.

[2022-02-24 23:59] tillig commented on #14864
In an effort to save folks a click, the referenced comment is:

I have not tried this yet, but I don't think the problem is that it's outputting in the wrong format; it's that the tool runner is trying to capture the output from the tool - the logs - and there's a limit on the _size_ of the output. I don't know how to disable the "capture tool console output as a variable" but I don't think it's c

[2022-02-25 01:42] justinpenguin45 commented on #7694
Still seeit this behavior with app service zip deploy with a post deployment inline script. It's 2022 and this isn't fixed yet 😢

[2022-02-25 04:30] justinpenguin45 commented on #12819
nothing - nice

[2022-02-25 05:08] AdamCoulterOz commented on #15929
Can I add to this lack of dotnet-isolated model / v4, which has been GA for some time.

[2022-02-25 05:50] v-nagarajku commented on #15837
Hi @jrafamonagas , Is there any change in the settings in other 2 stages which is failing and can you compare the one with which is working?. Without proper configuration we cannot repro your issue, we have done our repro based on the above shared YAML and it worked fine.

[2022-02-25 06:48] v-nagarajku commented on #15961
Hi @mortenn , Please limit the service principal access scope to the particular web app trying to deploy as contributor, which we are using in service connection. We have created the service principal and added the service connection with same service principal and provided contributor access to web app scope only. It is working fine.

[2022-02-25 07:09] DaniilShmelev commented on #15965
Thanks for the issue-reporting in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-25 08:19] mortenn commented on #15961
The error did not get logged this time, after I revoked the subscription level access, I am guessing it already did what it tried doing and no longer is trying to do it, thus not hitting the error anymore.

The app service is not working, though, but that is a different issue.
I am getting a "You do not have permission to view this directory or page." message when I open the page.
I've opened the

[2022-02-25 09:08] #14906 closed

[2022-02-25 09:21] DavidRamosTR commented on #12271
I had this problem too, it sees it's because zip archive. when I deploy iis web app without zipping it works fine

[2022-02-25 09:49] rwaal commented on #15959
Hi @nnellans, thanks for the explanation. I was not aware of the update cadance. Hopefully the hosted agents are updated with the new task soon.

[2022-02-25 10:57] DaniilShmelev commented on #15960
Looks like an issue with virtual environment. Just to confirm, could you please pin your XamarinAndroid task version and try to run the pipeline again?
You can do it like this:
[code]

[2022-02-25 11:35] Dolphinsimon commented on #15960
@DaniilShmelev I have tested with 1.197.1. You are right, it may be an issue with azure pipeline environment.

[2022-02-25 11:37] Dolphinsimon commented on #15960
Can you transfer this issue to azure pipeline team?

[2022-02-25 12:14] Brutus5000 commented on #14915
He never mentioned what sprint they're currently at 🤨

[2022-02-25 12:14] jessehouwing commented on #9246
You can also use:

[code]

To register a secret without declaring a variable.

[2022-02-25 12:19] PhilipsonJoseph commented on #15692
@kimjamia  We have merged your PR. Hence closing this ticket

[2022-02-25 12:19] #15692 closed

[2022-02-25 13:54] MatiSanchez commented on #4945
Any updates??

[2022-02-25 14:48] mortenn commented on #15961
Worked out why the app was not working, all good now.
Still not sure about the reason for the original error, though

[2022-02-25 15:08] lkfabu2022 commented on #15532
az webapp deploy doesn't seem to support the options available in the task, such as App Offline or deploy from zip etc. (can someone confirm this?) In that case, we might as well script everything out or rewrite the task.
Then we're basically losing the "ease of use" implied in using the Azure DevOps platform...

[2022-02-25 15:59] CloudyEMS commented on #15818
We are also having this exact warning when deploying azure functions using the **AzureFunctionAppV1** task. The package gets deployed correctly, and we can trigger the function without any problems, but we still get this warning in our logs. Nothing we do manages to get this warning away.

More info about the function: we deploy python functions to an app service that mounts a file share from a st

[2022-02-25 16:30] jhueppauff opened #15970 "Azure CLI Task is emitting a lot of log output"
*Type*: Question (maybe a feature request)

**Enter Task Name**: AzureCLI

## Environment
Azure Pipelines - affects all accounts

- Agent - Hosted or Private:

Hosted agent and private agent

## Issue Description

I am using the AzureCLI Task in a pipeline to build bicep files.

    - task: AzureCLI@2
      displayName: 'Build bicep artifact'
      inputs:
        azureSubscription: ${{ parameters

[2022-02-25 17:24] Brayanhenaor commented on #15960
I have the same issue

[2022-02-25 18:06] #15206 closed

[2022-02-25 18:06] #15205 closed

[2022-02-25 18:06] #15204 closed

[2022-02-25 18:06] #15200 closed

[2022-02-25 18:06] #15199 closed

[2022-02-25 18:06] #15198 closed

[2022-02-25 19:16] kkuepper commented on #15960
Is there a way to pin the task version with the classic pipelines? Or do we need to migrate to yaml for that?

[2022-02-26 10:55] arthurrump commented on #13376
I have to say I was rather surprised to discover that DevOps was installing version 5.0.400, even though there have been patch releases since and I had set rollForward to latestFeature. Given that the flag is called useGlobalJson, I had expected the version resolution to behave like specified in the [global.json docs](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json).

If I understan

[2022-02-26 22:38] baincd commented on #15233
Here is a workaround for getting full code coverage in SonarQube for multi-module maven projects.

(Disclaimer: I am no way affiliated with Microsoft.  I am sharing this information and workaround for anyone who may find it beneficial.  YMMV)

### Background

In the [Maven Azure DevOps task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/maven?view=azure-devops), when `codeCov

[2022-02-26 22:43] attiqmscs004 commented on #9984
Thanks for the solution. I updated my Podfile with the content provided by you but I am getting this error now.

[code]

[2022-02-26 23:04] artisticcheese opened #15971 "Azure App Service Deployment missing task to deploy Web App For Containers (Windows)"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Azure App Service Deployment

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

Ther

[2022-02-28 00:19] #14931 closed

[2022-02-28 05:41] v-nagarajku commented on #15961
Hi @mortenn, Is still issue persists or good to close the ticket?

[2022-02-28 05:52] v-nagarajku commented on #15599
@virtualvoid  Closing, since there is no inputs from 4 weeks.

[2022-02-28 05:52] #15599 closed

[2022-02-28 08:09] DaniilShmelev commented on #15960
@kkuepper no, there is no way to pin the task version in classic pipelines. As we've checked, this failure is not related to task version - the issue seems to be on the side of the virtual image

[2022-02-28 08:10] #15960 closed

[2022-02-28 08:12] sonic1981 commented on #14931
Please don't close this issue. It is not fixed. I may look at providing a solution myself

[2022-02-28 09:08] ivanst0 commented on #14220
It seems that using [config-ini-parser](https://www.npmjs.com/package/config-ini-parser) is not an option here, due to GPL license.

@bothzoli, would you be willing to submit a PR with the original fix you suggested (using [ini](https://www.npmjs.com/package/ini) package to generate .pypirc file and not using it in the test)?

[2022-02-28 11:54] estepangugu opened #15975 "Environment Variable in Python Script"
Hi,

I want to inject client secret from keyvault to python script classic task. But there isn't enviroment variable section in python script. (like powershell or commandline task)

How can set environment variable in python script task (not YAML)

Any advice would be appreciated.

[2022-02-28 12:01] pragasv commented on #13073
@damccorm @PHPirates  this seems to be still exiting ? even trying to update the python path doesnt seem to be working.

[2022-02-28 12:10] Saibamen commented on #15532
This also worked for me (restart, stopped and started again App Service)

[2022-02-28 13:14] mortenn commented on #15961
It's "fixed" for me, but I think it could still happen to someone else setting it up in the future, as the underlying issue should still be there by my reckoning.

I do not know what exactly the deployment did when it had the extra permissions, but it must have done something that made the error go away after revoking the extra permission.

[2022-02-28 13:29] kkuepper commented on #15960
Just to recap:
The issue does not occur if I pin the version of the task in yaml to 1.197.1. But it's not related the azure pipeline task itself. Instead it's introduced by the virtual environments team?
Do I understand this correctly? I also wouldn't mind to get some more technical details about what you learned in the process of finding that out.

[2022-02-28 14:08] v-nagarajku commented on #15961
Hi @mortenn, it could be a transient issue, since in our repro it was not occurred. We will go closure for this ticket post your confirmation.

[2022-02-28 14:55] maikelvanhaaren commented on #15532
Not working for me.

[2022-02-28 15:28] bergmeister commented on #8133
bump

[2022-02-28 16:12] n-pedersen commented on #15959
Looking very much forward to this. A release estimate or date would be greately appriciated.

[2022-02-28 16:21] dennischavez789 opened #15976 "WinRM HTTPS sample link not working"
Hi,
I'm getting a 404 page not found with clicking on the "sample template" link under the "Setting up a virtual machine for WinRM HTTPS using Azure Templates:" paragraph.

Here is the link to the page: https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureResourceGroupDeploymentV2
Here is the "sample template" link that is not working: https://github.com/Azure/azure-quickstart

[2022-02-28 17:04] Sergey-Nosov-CloudFit commented on #15532
It is a timing issue. Sometimes folks would try different things, and all of the sudden it starts working, so they think that is what fixed it. But what really ‘fixed’ it was the time it took to propagate.

[2022-02-28 17:49] mortenn commented on #15961
##[debug][PUT]https://management.azure.com/subscriptions/3febe310-a6e3-REDACTED/resourceGroups/rg-REDACTED-app-tf/providers/Microsoft.Web/sites/web-REDACTED-app-tf/config/web?api-version=2018-02-01
##[debug]Correlation ID from ARM api call response : **c4eb52c8-5660-4d53-b7f1-4da4390d79c4**
##[debug]Processed: ##vso[task.logissue type=error;code=LinkedAuthorizationFailed;]

[2022-02-28 18:34] zultuta commented on #15532
@Sergey-Nosov-CloudFit , could you please explain on what you mean by the "timing issue"? I have the same problem, resource (Azure app service) exist, I could deploy to the app service from my visual studio fine but from the release pipeline in azure devops, it fails regularly ..nd sometimes is juts works. quite random

[2022-02-28 18:38] Sergey-Nosov-CloudFit commented on #15532
Latency, propagation, delay... Basically you have to sit and wait until it starts working. It does not work immediately, and then it starts working after a while. HTH

[2022-02-28 18:46] zultuta commented on #15532
Thank you..so basically I can't create a release pipeline and trust it to just work in devOps? I have to always sit and redploy in case it fails

[2022-02-28 18:54] Sergey-Nosov-CloudFit commented on #15532
If the same pipeline (or a different pipeline executed shortly before) creates the Azure resources targeted for deployment, then yes you are affected. Please read the earlier posts in this thread for possible workarounds.

If you are trying to deploy to Azure resources that are over 24 hours old, than most likely you are having a different issue.

[2022-02-28 19:25] mhesham93 commented on #15532
I never had this bug until today, it's very frustrating that this is happening right now.

[2022-02-28 19:26] PHPirates commented on #13073
@pragasv Yes. If you know some typescript you could try fixing this task, I think it's just an `exec` which needs to add an environment variable. Alternatively, depending on the environment in which you run the task, a plain script step will work fine and no need for this task.

[2022-02-28 20:18] zultuta commented on #15532
I see, indeed I tried to deploy to the app service shortly after creation. Hopefully something would be done about this..it is not okay. Thanks @Sergey-Nosov-CloudFit

[2022-02-28 20:50] michaelspace commented on #15532
Today I got the same problem as well. App service plan is on Linux and the application I wanted to deploy is for NodeJS. Last time it was enough to stop and start the application in the portal to make it work 😢

[2022-02-28 21:12] jnm2 commented on #1867
Again:

[2022-02-28 21:24] mm-gmbd commented on #15532
Started a deployment of 4 Function Apps (Linux function apps on consumption plan, all utilizing the same app service plan under the hood) before noon today. Getting close to end of business today and I'm stuck hitting "rerun failed jobs" over and over because one of the four fails to succeed.

This is pretty outrageous.

[2022-02-28 21:39] AJH16 commented on #12269
We get these issues on 2.194.  Also using Carbon Black.

[2022-02-28 21:52] mdubdev commented on #15532
Welcome to the party. This has been happening for well over a month now. I think "outrageous" barely scratches the surface.

[2022-03-01 06:49] DaniilShmelev commented on #15960
@kkuepper Does the task fail for you on 1.198.0 but succeed on 1.197.1? If so, could you please share the logs for both cases? v-dshmelev@microsoft.com
Update from 197 to 198 only changed task localization, so it shouldn't have affected task behavior.

[2022-03-01 08:16] bayanlouzi opened #15977 "Azure Devops task "Azure App Service deploy" generated 2 restart in each deployment"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-03-01 09:10] #15231 closed

[2022-03-01 09:10] #15230 closed

[2022-03-01 10:05] kgundraju commented on #15281
Hi, Any update on the fix for this issue, we are also facing similar issue.
![image](https://user-images.githubusercontent.com/95614131/156148838-995e5fe5-0bd1-4101-a6ed-472c69a7bf62.png)

[2022-03-01 10:39] AKSNewbie commented on #15971
Great to see i am not the only one that has spotted this. I have tried setting up this task in YAML and Classic but it only seems to work when using a Linux Container deployed to the App Service. I have found nothing in the documentation/Prerequisites that states this task is only for Linux containers.

[2022-03-01 10:42] Soruk commented on #15281
Hello
I have just got this issue on my custom hosted agent.
And it is installed with latest Az Powershell Module

`
##[debug]Unable to disconnect and clear context: A parameter cannot be found that matches parameter name 'and'.
##[warning]A parameter cannot be found that matches parameter name 'and'.
##[debug]Processed: ##vso[task.logissue type=warning;]A parameter cannot be found that matches par

[2022-03-01 12:21] #15242 closed

[2022-03-01 14:13] kkuepper commented on #15960
Oh. I see.
I misunderstood.

[2022-03-01 14:57] ssaarinen commented on #12396
This is still happening. Any workarounds or ideas what might be causing it?

[2022-03-01 15:10] johnynfulleffect commented on #8920
+1, please allow to run on linux

[2022-03-01 18:17] tillig commented on #15250
I opened https://github.com/microsoft/azure-pipelines-tasks/pull/15251 to solve this, still waiting to hear back there.

[2022-03-01 18:31] maikelvanhaaren commented on #15532
Are there more people in contact with Microsoft about this issue through an besides me? We have an Azure Support Plan.

[2022-03-01 18:49] RSteeno commented on #15532
@maikelvanhaaren, yes, a few of us have tickets open with Microsoft on this issue.

[2022-03-01 18:52] lkfabu2022 commented on #15532
Looks like it was being addressed here too, https://developercommunity.visualstudio.com/t/Error:-Resource-DiagnosisCodeApi-doesn/1646720?viewtype=all&space=21&ftype=problem&sort=newest

[2022-03-01 19:16] RSteeno commented on #15532
My current workaround is to use a [self-hosted agent](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser#install).  Issue seems to be isolated to using the Microsoft-hosted agents.

[2022-03-01 19:31] andrkole commented on #15532
Unfortunately it is not. Happening on self-hosted agents as well for quite some time now (West Europe here).

[2022-03-01 20:30] LennardF1989 commented on #10405
How can this still be open after all these years? Downloading .NET 5.x takes 30 seconds while it's already on the windows-latest image. This costs us time, and it costs Microsoft precious server resources.

[2022-03-02 01:42] nnellans commented on #15886
It has been well over 3 weeks now since the new version of the task was committed.  Is there something else that needs to happen for this new version of the task to go live?

[2022-03-02 09:03] mattgenious commented on #10405
Agreed, number of builds times 30 seconds should be an absolutely insane amount of server capacity freed up if this is fixed.

[2022-03-02 09:03] mortenn commented on #15961
It is a contributor on the app service

[2022-03-02 10:11] emikri commented on #15451
We have this issue too

[2022-03-02 11:13] #15646 closed

[2022-03-02 11:40] timClyburn opened #15979 "AzureNLBManagementV1 Disconnect Load Balancer removes VM from all load balancers"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-03-02 13:08] mortenn commented on #15961
I will make the change and test.

the subnet in the message is the subnet the devops build agent is running on, the app does not itself have anything to do with that vnet.

[2022-03-02 13:36] mortenn commented on #15961
Same error after giving the service principal contributor access to the ASP og the web app.

[2022-03-02 13:50] timClyburn commented on #15979
Ok, I have investigated this a little more and I can see a few things.

1. When connecting to a load balancer, this task will add the nic to **all** backend pools of the load balancer, this is probably not expected behaviour for most use cases, but then the task doesn't accept the pool name so that we can explicitly add to a single backend pool.
2. When disconnecting from a load balancer, this tas

[2022-03-02 13:58] mortenn commented on #15961
Granting the service principal contributor access to the subnet makes the error go away.

Before:
[code]

After:
[code]

[2022-03-02 14:09] mortenn commented on #15961
The deployment task appears to be setting up deployment center on the app service at
https://portal.azure.com/#@REDACTED.onmicrosoft.com/resource/subscriptions/3febe310-REDACTED/resourceGroups/rg-REDACTED-app-tf/providers/Microsoft.Web/sites/web-REDACTED-app-tf/vstscd

The page displays this error message, btw;
`We were unable to connect to the Azure Pipeline that is connected to this Web App. Thi

[2022-03-02 14:22] mortenn commented on #15961
I tried setting up the deployment center connection manually, but the organization the repo/pipeline belongs to is not available to me in the dropdown, even though my user does have access to the organization.

[2022-03-02 16:13] vlm--- commented on #9398
Recently I've tried to use one common tools directory for multiple agents on one machine and only after examining the source code for installer task I 've found the solution: There has to be an empty file named `x64.complete` beside the x64 folder for installer to find it there.

[2022-03-02 17:23] jasric89 commented on #15660
I find this works for me with node to install a specific version

`  - task: NodeTool@0
      displayName: 'Install Node .js'
      inputs:
        versionSpec: '14.17.3'
        force32bit: false # Optional
        checkLatest: false # Optional`

        I also dont use the npm task I find I have more control over npm when I do the task as a command like this:

        `- script: |
        npm in

[2022-03-02 18:31] jack-cloud-platform commented on #9754
@raiyanalam @romil07 Hi, is there an update on this?
 It would be great to remove all use of PAT/OAuth GitHub service connections within Azure DevOps.

[2022-03-02 20:57] danmohrmsft opened #15980 "PublishSymbols task fails with 183 (request already exists) during retry"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishSymbols

## Environment
- Server - Azure Pipelines (microsoft)
- Agent - Private

## Issue Description

When symbol publishing fails due to a random, intermittent issue, the retry loop immediately hits a 183 (re

[2022-03-02 20:57] sfuqua commented on #12364
For those interested/still following this topic, my team is investigating no longer using the Xcode build task at all. Between the signing confusion and an issue where we discovered the Xcode task was inadvertently double-building our app (and has been forever), we've opted to just try and call `xcodebuild` directly for our needs:

See this issue on the double-build problem: https://developercommu