[2022-03-02 21:37] rhyous commented on #15231
It is still happening. Has anyone taken a look at this?

[2022-03-02 21:38] rhyous commented on #15231
Why are we closing something without looking at it?

[2022-03-02 23:35] WilliamAntonRohm opened #15982 "Run PowerShell task using AzPipelines VSC extension"
Copied here from:  https://github.com/MicrosoftDocs/azure-devops-docs/issues/12014

per comment:  https://github.com/MicrosoftDocs/azure-devops-docs/issues/12014#issuecomment-1057018514

[2022-03-03 07:47] v-lomer commented on #15281
We are hitting this issue with `AzurePowerShell@5`, and were hitting this issue with `AzureFileCopy@4` but we stopped using that task in the past 20 days (based on telemetry from our pipelines).

Here is a patch for fixing the issue based on the repo earlier today.

[warning_parameter_named_and.patch.log](https://github.com/microsoft/azure-pipelines-tasks/files/8175798/warning_parameter_named_and.

[2022-03-03 08:53] marcelovital commented on #15281
The PR is still stopped. Unbelievable, 3 months completely stopped. (after 3 months of ignoring the thread).
Open-source, Microsoft style.

[2022-03-03 10:34] nvborisenko commented on #12352
Still awaiting it to be implemented.

[2022-03-03 12:41] adalfa commented on #15532
Hello to all,
In my understanding with several cases opened we do not neither received any suggestions from Microsoft or any official acknowledgement of the issue. I understand that  this issue is not related on the pipeline's teams, but this remains the only place where some discussion has taken place and after a month is becoming really frustrating to have no definitive solution...

[2022-03-03 13:20] lukas-mertens opened #15984 "Azure DevOps NPM CI task failes randomly with SyntaxError: Unexpected end of JSON input while parsing near"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question or Bug

**Enter Task Name**: npm

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide t

[2022-03-03 13:32] nnellans commented on #15959
It would be really great to know when we can start using a new version of this task.  The hosted agents are still using version 3.198.0 as of today.  This is now 2 versions behind the repo (3.200.0).  Anybody out there?

[2022-03-03 13:32] max-mayorov commented on #7694
I'm having the same issue...

[2022-03-03 13:48] bayanlouzi commented on #15977
Hi @v-nagarajku Please find the [log]([Logs.txt](https://github.com/microsoft/azure-pipelines-tasks/files/8178326/Logs.txt)) attched file

[2022-03-03 16:12] snelis commented on #13350
Did anyone find a solution or workaround for this ?

[2022-03-03 16:17] OwendotKim commented on #15532
I don't know if it's a coincidence, but it seems that all error handling for pipeline yaml syntax is handled as no appservice.

For example, if "deployToSlotOrASE" is enabled in "AzureRmWebAppDeployment@4", there are parameters (ResourceGroupName, SlotName) that must be specified as required. If the required parameter is not specified, an error is treated as appservice does not exist.

[2022-03-03 16:30] KliemannNoah commented on #14915
Sprint 200 Patch Notes were released on Monday, and I can now see JDK 17 in the dropdown: https://docs.microsoft.com/en-us/azure/devops/release-notes/2022/sprint-200-update
![JDK17](https://user-images.githubusercontent.com/10661642/156596371-35beb38e-6ebe-44ae-b7be-3c0adb19d987.PNG)
@ssrm @Brutus5000 @nibexo

[2022-03-03 18:45] v-lomer commented on #15281
This PR looks to have lost attention and has aged feedback that still needs to be addressed. It would be great if there some resources could be applied to it.

[2022-03-03 19:14] kkuepper commented on #15960
I was able to make the task run again by switching to the latest version of Android NDK.
By default, 21.4.7075529 is used and I switched it to 23.1.7779620 by passing `-p:AndroidNdkDirectory=$(ANDROID_NDK_LATEST_HOME)` in msbuildArguments

See [https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md#android](Windows 2022 Readme) about which versions are available

[2022-03-03 23:33] rhyous commented on #15231
Looks like I'm not the only one reporting this issue: https://github.com/Microsoft/vstest/issues/1899

[2022-03-04 04:37] nzcodarnoc commented on #11438
Is this issue still being investigated?

[2022-03-04 06:22] v-nagarajku commented on #15837
Hi @jrafamonagas  any updates on this??

[2022-03-04 07:35] WenceyWang commented on #15254
Is there any progress on this issue? or should I submit a pr to add the inputs?

[2022-03-04 09:08] #15236 closed

[2022-03-04 09:16] jrafamonagas commented on #15837
Hi, @v-nagarajku there is no changes anywhere at all. The error appeared on the day that the new version was released. Variables are the same. Everything is exactly the same as it was before.
How can we find the issue?
https://github.com/microsoft/azure-pipelines-tasks/issues/15837#issuecomment-1029607260 check this comment. Maybe it can guide us to look in the IIS and not in the agent itself (?)

[2022-03-04 14:30] veetij commented on #11084
Please, enable also to use existing "Service Principles (manual)" with connection to Azure Resources like Container Registry from Azure Pipeline (Service connection settings).

[2022-03-04 15:17] anatolybolshakov commented on #15254
Hi @WenceyWang sorry for the delay - we are currently working on more prioritized tickets at the moment, but will get back to this one once be able to. Yes, feel free to submit the PR if you would like to contribute, thanks!

[2022-03-04 15:46] sdevlin4698 commented on #15839
Having a similar issue, were you ever able to resolve this?

[2022-03-04 19:46] RafaelGruhn commented on #15657
I have a similar problem when running the tests for IOS using the Mac runners from Azure DevOps, but I run the tests using the fastlane "scan" command:

[code]

[2022-03-04 21:22] matman26 opened #15986 "Unable to run DownloadBuildArtifacts task when Pipeline is set to run in container (self-hosted agent)"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  DownloadBuildArtifact

https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DownloadBuildArtifactsV1/

## Environment
- Server - Azure Pipelines
- Agent - Private (self-hosted)
  - OS: CentOS Linux rel

[2022-03-04 22:50] johnsimons opened #15987 "When migrating to Node10, what does "The following fs functions all have incompatibilities" really mean?"
Question regarding migration to Node10.

According to https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/migrateNode10.md#fs-module, it mentions  "The following fs functions all have incompatibilities".

So does this mean we should not use those APIs? What is the recommended migration for these?

Regards
John

[2022-03-05 08:01] DaniilShmelev commented on #13319
This feature will be released in the next few weeks in UsePythonVersion@0.202.0

[2022-03-05 09:10] anatolybolshakov commented on #15987
Hi @johnsimons this means that there could be some behavioral/API changes for these nodejs methods while switching from node 6 to node 10 - so if you use them in your task, or there are some dependencies which use it - we suggest to make additional testing/check tests coverage to make sure that it works as expected.

[2022-03-05 14:06] golubev-ivan commented on #15986
Hi @matman26, I currently investigate this issue, for now as a workaround you can use the CopyFiles task after the DownloadBuildArtifact task to pass the necessary files into the container.

Example of using the workaround:
[code]

[2022-03-05 17:33] ScarWar commented on #15839
@sdevlin4698 Yes, after contacting a Microsoft technician, we used the post-deploy script to install the dependencies. Secondly, we found out that we had a bad configuration in our AppService, we needed to change `WEBSITE_NODE_DEFAULT_VERSION` to one of the valid runtime options. This can be found using this StackOverflow [post](https://stackoverflow.com/questions/45515421/which-versions-of-node-j

[2022-03-06 08:02] ManikandanMani commented on #13632
Hi @pradudev,
Could you let us know, do you able to convert the .coverage file to xml file, like the below command in powershell task
### Powershell Task Inline command to convert to xml file

$coverageFile="$(Common.TestResultsDirectory)\$(build.buildnumber)-$(build.buildid).coverage"
$xmlFile="$(Common.TestResultsDirectory)\$(build.buildnumber)-$(build.buildid).xml"
&"$env:USERPROFILE\.nuget\pac

[2022-03-06 13:32] k290 commented on #15194
Commenting as still relevant to avoid going stale

[2022-03-06 20:59] berkejf opened #15990 "SSH task is not able to send password with option 'Enable interactive session' checked when connection SELinux server"
## Required Information

Entering this information will route you directly to the right team and expedite traction.
*Type*: Bug

**Enter Task Name**: SSH

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/Ssh

## Environment
- Server - Azure Pipelines on-premises
    - If using Azure Pipelines, provide the account name, team project name

- Agent - Pri

[2022-03-06 21:06] #14724 closed

[2022-03-06 23:12] johnsimons opened #15991 "Migrating to Node10 and ES2018"
I am in the process of migrating my tasks to Node 10, and I've updated the target to ES2018 (as per [doc regarding compatibility of Node10](https://node.green)), but it doesn't seem to work.
I use the `"extends": "@tsconfig/node10/tsconfig.json"` in my tsconfig.json file.

According to https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops&viewFallbackFrom=vs

[2022-03-06 23:27] johnsimons opened #15992 "Deprecating specific versions of a task"
Is there a way to deprecate specific versions of a task?
In other words I want my users to migrate to the new versions of the task, what would be the best way to achieve this?

[2022-03-07 08:06] #15987 closed

[2022-03-07 08:07] johnsimons commented on #15991
I figure out the issue with `Callback must be a function`.

But I still would like to know if I am going to run into any issues if I target `ES2018`?

[2022-03-07 11:36] chaoscreater commented on #11592
I'm getting the same error for this part of the script:

[code]

Script works fine locally.

[2022-03-07 12:27] Choonster commented on #14323
This hasn't been implemented yet.

[2022-03-07 15:20] derekrprice commented on #14390
/remove stale

[2022-03-07 17:20] Blitheness commented on #7938
My colleagues just spent a good hour wondering why vsts-npm-auth wouldn't work, turned out it was due to the inconsistency flagged in this issue that we happened to stumble upon. Thanks for the suggestions above.

[2022-03-07 21:10] #15220 closed

[2022-03-07 23:13] nzcodarnoc commented on #6364
It's 2021 and I've just found this issue because I've run into the same problem. I guess I'm going to tar everything before the publish step.

[2022-03-08 06:55] boubou191911 opened #15994 "CopyFilesOverSSH cleanTargetFolder does not delete hidden files"
**Feature?**
*Type*: CopyFilesOverSSH cleanTargetFolder does not delete hidden files

**Enter Task Name**: CopyFilesOverSSHV0

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/CopyFilesOverSSHV0

## Environment
- Server
- Agent Private:

## Issue Description

When using the CopyFilesOverSSH task with the cleanTargetFolder, the hidden files in the targ

[2022-03-08 14:08] tadavid-cae commented on #11980
please reopen!!!!

[2022-03-08 14:42] mortenn opened #15997 "Trouble passing arguments to console app using dotnet run"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLIV2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure Pipelines

    - If using Azure Pipe

[2022-03-08 14:55] mortenn commented on #15997
Same thing happens if I use long-form argument name:
[code]

[2022-03-08 15:10] #14662 closed

[2022-03-08 15:31] mortenn commented on #15997
Seems like this happened because I'd defined the variable "BaseAddress" in the job, as it stopped happening when I changed the variable to a different name

[2022-03-08 15:50] PaulVrugt opened #15998 "SqlAzureDacpacDeploymentV1 doesn't check for VS2022 installation when searching for sqlpackage location using vswhere"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: SqlAzureDacpacDeploymentV1

## Environment
N/A

- Agent - Private agent (but N/A)

## Issue Description
SqlAzureDacpacDeployment@1 doesn't query for visual studio 2022 installation using vswhere. This was fixed before

[2022-03-08 16:31] gasparnagy commented on #3863
@jklaus I reviewed the VsTest task and it is not possible to disable publishing, because the publishing itself is done by the external assemblies the tasks invokes and there is no input to skip it (it is hard coded basically).

For me the problem was that I do the publishing myself (I develop a tool, SpecSync that does that), and since the VsTest task is also publishes the results, they appear twi

[2022-03-08 17:11] fhnaseer commented on #13632
@ManikandanMani You can also use dotnet-coverage cli tool to convert coverage files. https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-coverage#dotnet-coverage-merge
dotnet-coverage merge -f xml sample.coverage

[2022-03-08 17:14] ManikandanMani commented on #13632
@fhnaseer , Thanks for the info I'll try that.

[2022-03-08 18:52] TheFrogPrince commented on #15984
We are having the same issue.  Our issues pretty much started two months ago when we replaced NPM INSTALL in our pipeline with an NPN CI and a package lock file.  NPM CI is doing some kind of additional testing that NPM INSTALL doesn't do, but it's maddening

![2022-03-08 12_48_00-Pipelines - Run 20220308 5 logs](https://user-images.githubusercontent.com/24463685/157305034-fc38baac-0d40-4509-9b08-

[2022-03-09 01:19] helen3141 opened #16003 "DownloadPackageV1 Latest is broken"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadPackageV1

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: Azure Pipelines--all

## Issue Description

The api call to get the latest version of

[2022-03-09 04:28] ozbillwang commented on #15903
builidContext doesn't work (or I am not sure what's proper usage)

I finally fix it by add path directly in `DockerFile: '<path>/Dockerfile'`, seems this task know how to build the image now.

[2022-03-09 04:28] #15903 closed

[2022-03-09 06:39] ManikandanMani commented on #13632
@fhnaseer, I could able to convert into xml file, but this file is generated under userprofile, also I have an Invalid file issue when I downloaded the coverage file by using the below powershell script, but if I directly download the same coverage file from the codecoverage tab in the build, the convertion works. could you take a look on this.
![InvalidFileWhenDownloadedByPs](https://user-images.

[2022-03-09 06:52] suwu150 commented on #12147
I too am having the same issue？ any news?

[2022-03-09 07:29] rikat-ms opened #16005 "AzureFunctionApp@1: Deployment may fail to Azure Functions on Linux"
## Required Information
Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:

list here (V# not needed):   AzureFunctionApp@1
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureFunctionAppV1/deploymentProvider/BuiltInLinuxWebAppDeploymentProvider.ts

## Environment
- Serve

[2022-03-09 07:30] rikat-ms commented on #16005
I filed PR #15983 in advance.

[2022-03-09 08:17] avivanoff commented on #14576
@sdobrodeev, any updates?

[2022-03-09 08:48] fhnaseer commented on #13632
@ManikandanMani You can also provide output path in command line [-o|--output <output>]. Regarding downloading with ps scritp, I am not sure about it. But it seems like 9746.coverage file is not valid.

[2022-03-09 10:07] kmadof commented on #10996
If it is not possible to fix it can we at least get a warning that we use parameter which is not supported for specific commands?

[2022-03-09 10:32] PiotrWachulec commented on #15959
I also would like to follow up on this release, we are waiting for this with my team! It would be really really helpful!

[2022-03-09 11:40] sahaju opened #16006 "Rest api for manual Validation task in Yaml"
cannot find Rest api for manual Validation task in Yaml

[2022-03-09 12:00] vitaliy-ostapchuk93 opened #16008 "Update of vstest.console.exe from 16.1 to 17.1 shows errors in log"
## Bug

We noticed the recent update of the default vstest.console.exe (16.1 -> 17.1) that is used in the VSTest@2 shows error logs despite the tests itself reported as passed and the whole pipeline succeeding.

## Task

    # run unit tests
    - task: VSTest@2
      displayName: 'Release Tests'
      inputs:
        platform: '$(buildPlatform)'
        configuration: 'Release'

## Task logs

[2022-03-09 12:09] sloncho opened #16009 "Add addSpnToEnvironment for DotnetcoreCLI task"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DotNetCoreCLI

## Issue Description

We often find a need to run some integration tests using the service principal credentials to access resources. Currently we resort to do that using the AzureCLI task with "addSpnToEnvironment" and adding "dotnet test ....".

It will be much better if the specific task for the job like DotNetC

[2022-03-09 12:20] shiraZadok commented on #8630
for me also the same problem at ubuntu 1804.
UnhandledPromiseRejectionWarning: Error: Unable to locate executable file: '/__w/1/s/apache-maven-3.8.1/bin/mvn'. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable. Also check the file mode to verify the file is executable

[2022-03-09 16:10] davesmits commented on #15508
What is the current plan about this? we use a 3th party task for DocFX which had this problem in the past; we are considering to fork this build task to overcome the problem since the owner doesn't respond  anymore

[2022-03-09 16:13] btull89 commented on #15451
I also have this issue

[2022-03-09 17:41] Samirat opened #16011 "Bad error output from UseDotNet task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-03-09 18:14] tillig commented on #15272
It appears the GitHub Actions counterpart is interested in a PR for this. It's a little harder, I think, to work in here, but it's still a feature we'd be interested in. Would a PR be accepted for it?

[2022-03-09 18:29] maikelvanhaaren commented on #15532
@nadesu @v-nagarajku Any update?

[2022-03-09 20:08] drokliss commented on #15959
FWIW I did notice that the Feb 28 release was dubbed "Sprint 200 updates":
https://docs.microsoft.com/en-us/azure/devops/release-notes/2022/pipelines/sprint-200-update

So maybe in the next release?

[2022-03-09 21:35] DennisJansenDev commented on #3425
It's been 5 years now since it was put on the backlog, any news on this?

[2022-03-09 22:05] mdubdev commented on #15532
New stuff here that seems related: https://status.azure.com/en-us/status/history/

I have also noticed some builds working on the first run today as well. Not 100%, but I'm starting to think that something is happening on the Azure end of things.

[2022-03-09 22:05] ybadragon opened #16012 "Azure CLI Writing WARNING to StdErr"
**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: Azure CLI

## Environment
*Agent*: Azure Pipelines - Windows 2019

## Issue Description
Version 2.34.1 released on 03/03/2022 has started writing the following WARNING to Standard Error.
[code]

Version 2.33.1 does not output this log

I would expect a non-breaking change in a minor version update, and for warnings to not be written

[2022-03-09 22:58] hassanlatif commented on #15260
Any update on this?

[2022-03-10 05:40] jrett commented on #8434
It's 2022, how is this still broken?
If you specify a property as in /p:Company="$(companyName)"
and you have spaces in your company name (that's why it's quoted), during run time it gets evaluated as:
"/p:Company=ACME Coyote Repair"
Notice where it puts the quotes. No matter what I try, it puts the quotes in the wrong place. I'm getting this with the build command.

[2022-03-10 07:31] DaniilShmelev commented on #13319
@maxim-lobanov has noticed an error in the current implementation: https://github.com/microsoft/azure-pipelines-tasks/pull/15820#issuecomment-1059761030
We've prepared proposals to fix it, but I'll reopen this ticket for now

[2022-03-10 08:27] andy-mishechkin commented on #15449
Hello!
I've faced up with the same issue in "Visual Studio test platform installer" task.
Our smore tests are not worked correctly, when I select "Latest Stable" in Version field of this task, but when I select "Specific version" and "Test Platform Version" 16.11.0 - all works fine.
May you fix it in the last stable version

[2022-03-10 08:50] lindgrend commented on #15532
We are still seeing the issue, so don't get your hopes up to high.

[2022-03-10 11:15] DenisRumyantsev commented on #15992
Hi @johnsimons, task can be marked as `deprecated` via the appropriate property in the `task.json` file.
The related documentation about tasks deprecation can be found [here](https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/deprecatedtasks.md).

[2022-03-10 11:54] golubev-ivan commented on #15986
Hi @matman26, as far as I see the DownloadBuildArtifactsV1 task works as expected. The script task runs in sources directory by default, if you want to use artifacts in the script task, you would put the artifact to $(Build.SourcesDirectory) or specify the custom working directory parameter of the script task. Also, for clarification, artifact are placed in a folder with the same name as the artif

[2022-03-10 13:51] AiHaibara opened #16018 "different actions in 20220227.1 azure-cli 2.33.1 and 20220306.1 azure-cli 2.34.1"
## Required Information
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Azure CLI@2

## Environment
- Agent - Hosted or Private:

[code]
20220227.1 use the azure cli version 2.33.1
[code]
20220306.1 use the azure cli version 2.34.1
## Issue Description
az storage blob upload-batch

2.34.1 recognized arguments: --overwrite if i don't use overwirte, it will tips me blob exists

[2022-03-10 14:43] michaelelleby commented on #15802
This workaround only works if you are using self-hosted agents with managed identity. We are using Microsoft hosted agents and thus we cannot use `az login --identity`, but we are forced to use the AzureCLI@2 task.

As a workaround for that, you can deploy Helm charts using the AzureCLI@2 task:
[code]

[2022-03-10 16:52] dmcweeney commented on #13420
Same problem here...  would love a reliable solution!

[2022-03-10 16:57] Mike-E-angelo commented on #8380
Very frustrating to see this very important documentation not attended to after many years.  Does this mean that Vnet is preserved on the source or target slot?  Both?

[2022-03-10 17:41] golubev-ivan commented on #15183
DownloadGithubNpmPackageV1 - [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/16019)
ContainerStructureTestV0 - [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/15968)

[2022-03-10 17:46] anatolybolshakov commented on #15777
Closing this one since changes has been already rolled out.

[2022-03-10 17:46] #15777 closed

[2022-03-10 18:10] #13247 closed

[2022-03-10 18:56] woter1832 commented on #15260
@Microsoft, care to respond?

[2022-03-10 19:13] PhilipsonJoseph commented on #15281
This PR https://github.com/microsoft/azure-pipelines-tasks/pull/15458 is Merged. Will be available on upcoming release. Hence Closing this issue

[2022-03-10 19:13] #15281 closed

[2022-03-11 03:14] DenisRumyantsev commented on #15975
Hi @estepangugu, could you try to use Python script arguments to pass the environment variable into the script?

Such pipeline works good to me when using the classic editor:

![image](https://user-images.githubusercontent.com/61472718/157794997-b73b6517-a2fe-4cb3-a8fc-f82fbde572d6.png)

The same when using the pipeline yml file:
[code]

[2022-03-11 06:08] #15219 closed

[2022-03-11 06:08] #15193 closed

[2022-03-11 06:08] #15182 closed

[2022-03-11 06:08] #15149 closed

[2022-03-11 06:08] #15146 closed

[2022-03-11 06:08] #15122 closed

[2022-03-11 06:08] #15121 closed

[2022-03-11 06:08] #15097 closed

[2022-03-11 06:08] #15078 closed

[2022-03-11 06:08] #14905 closed

[2022-03-11 09:04] santo2 opened #16021 "AzureFileCopy storageAccount: not found. The selected service connection 'Service Principal' supports storage accounts of Azure Resource Manager type only."
When using AzureFileCopy, we have a transient error (fails half of the time, and happens much more often since 8-9 th of March

using YAML in a build pipeline

[code]

Full output of the task including system.debug info
[rawlog.txt](https://github.com/microsoft/azure-pipelines-tasks/files/8232583/rawlog.txt)

without system debug logging:
[code]

We were using version 3 of this task, this is curre

[2022-03-11 09:26] DenisRumyantsev commented on #15994
Hi @boubou191911, we can not start working on this issue right now, but we will be back as soon as we can.

[2022-03-11 09:27] DenisRumyantsev commented on #15991
Hi @johnsimons, we can not start working on your question right now, but we will be back as soon as we can.

[2022-03-11 09:28] DenisRumyantsev commented on #15990
Hi @berkejf, we can not start working on this issue right now, but we will be back as soon as we can.

[2022-03-11 09:30] johnsimons commented on #15991
@DenisRumyantsev, I am targetting ES2018, and as fast as I can see everything works fine.

[2022-03-11 09:31] DenisRumyantsev commented on #15976
Hi @dennischavez789, thanks for reporting this issue. We can not start working on it and fix broken link right now, but we will be back as soon as we can.

[2022-03-11 09:35] DenisRumyantsev commented on #15991
@johnsimons, thanks for update. Since everything works correctly, could this issue be closed?

[2022-03-11 09:36] johnsimons commented on #15992
@DenisRumyantsev I have read that documentation but to me just marking a task with the `deprecated` property is not very visible, so I ended up changing the display name of the task:
![image](https://user-images.githubusercontent.com/122651/157777717-01868d8f-624b-46fa-9a20-abf60426d755.png)
And also added a warning:
![image](https://user-images.githubusercontent.com/122651/157787292-1716bbb3-8b71

[2022-03-11 09:38] johnsimons commented on #15991
@DenisRumyantsev I guess you can close the issue, but IMO it would still be nice to have some kind of official answer regarding ES2018 vs ES6?

[2022-03-11 11:08] biiiipy commented on #14205
We wasted couple of hours on this. The way this works is just absurd. If we provide `projects` property, why would it go and try to find web projects on it's own? We literally specify what to publish.
`publishWebProjects` and `projects` are mutually exclusive properties, but because `publishWebProjects` is `true` by default, this whole thing just breaks down.
`publishWebProjects` should be `false`

[2022-03-11 12:06] #14964 closed

[2022-03-11 13:15] GeorgeNarcis commented on #13420
@johnterickson do you have any updates on this ? We have a lot of multi stage pipelines that use Powershell modules to do various tasks in the deployment steps, so we could really benefit from this if it would worked as stated in docs.

[2022-03-11 13:55] santo2 commented on #16021
I tried again with a newly created storage account in a new resource group. same behvior: works sometimes.

[2022-03-11 15:10] #15258 closed

[2022-03-11 18:25] nforysinski commented on #15595
This is a big problem as we migrate to the latest Service Fabric project files. We have found that if we manually establish the services, and then use upgrade tasks with package diff from then on, subsequent deployments works fine, but the initial creation does not setup the services and they have to be manually created.

[2022-03-11 20:17] iambernics opened #16022 "minimumAgentVersion of PublishPipelineArtifactV1"
Hello,

The _minimumAgentVersion_ of PublishPipelineArtifactV1 is 2.199.
The value had been commited on Jan 28 ([link](https://github.com/microsoft/azure-pipelines-tasks/commit/6a24d3bab189d1afa29ae9c4d74417de6a456ff9)) but [there is no 2.199 release](https://github.com/Microsoft/azure-pipelines-agent/releases) and the 2.200 had been published 15 days ago only.

Is it a bug with the minimumAgentVe

[2022-03-11 22:17] lancegliser commented on #15936
Wrote a quick post taking your approach just a little further. Thanks again!
https://fragmentedthought.com/blog/2022/azure-devops-helm-upgrade-template-complex-values

[2022-03-12 16:03] MirKml commented on #14584
No response from MS team yet.

[2022-03-13 00:18] #14305 closed

[2022-03-13 07:52] berkejf commented on #15990
Hi @DenisRumyantsev ,

I have included this bug fix in the pull request [15999](https://github.com/microsoft/azure-pipelines-tasks/pull/15999).

if you have time, you can review it.

Cheers

[2022-03-13 08:50] chirangaalwis commented on #14436
This is not stale and requires attention.

[2022-03-13 16:32] hxibrahim commented on #12727
I am not sure why this issue is closed. IMHO, this is a problem and a solution should be provided. As you can see below, using the [PublishCodeCoverageResultsV1](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishCodeCoverageResultsV1) and following the documentation, the artifact generated is a ".coverage" file which can be downloaded but no results are shown.
I kindly as

[2022-03-13 23:25] anewton commented on #15697
@xpouyat I found this issue still exists with windows-2022 and a vdproj in my build.  There is a workaround to this by setting the build step timeout-minutes longer than needed for a good build, then continue on error to the next step (see below).  I tried multiple other ways to detect when the build was finished without success.  As long as the build finishes before the 6 hour global timeout limi

[2022-03-14 04:54] triptijain2112 commented on #14982
Hi @petermicuch , Apologies for delay in the resolution.
Could you please provide access for the pipeline  (triptijain@microsoft.com)

https://dev.azure.com/iii40

[2022-03-14 06:06] #15268 closed

[2022-03-14 06:56] FranzKohl commented on #12935
@damccorm - Danny, is there any hope to get this ever realized?

[2022-03-14 13:12] kcentralsquare commented on #13130
@ShreyasRmsft Looks like the upstream issue was fixed about 9 months ago. Any updates on this one getting fixed?

[2022-03-14 13:16] anatolybolshakov commented on #15982
Hi @Ayanmullick could you please describe your issue in more details? Do you use PowerShell or AzurePowerShell pipeline task?

[2022-03-14 14:35] Ayanmullick commented on #15982
Hi @anatolybolshakov

I was unable to contact you thru Teams.  I'm using the [AzPowerShell pipeline task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/powershell?view=azure-devops). Is there a way to  the pipeline task from VSC using the [AzPipeline extension](https://marketplace.visualstudio.com/items?itemName=ms-azure-devops.azure-pipelines)?

[2022-03-14 14:40] jepperip commented on #13398
Was this fixed somehow? I have the same problem and its very annoying to have the task fail when the binding hasn't actually changed.

[2022-03-14 18:20] mattmiller85 commented on #16018
Same problem here, build failed last week on 3/10 because the az blob upload command couldnt overwrite an existing blob without the --overwrite flag.  So, I added it thinking I'd be good.  Then, today, the cli version is back down to 2.33 in the hosted agents and failing because it doesn't know about the --overwrite flag:
From today
<img width="636" alt="image" src="https://user-images.githubuserc

[2022-03-14 20:38] awithy opened #16024 "AzureRmWebAppDeployment@4 with webAppContainer started failing with BadRequest - The parameter LinuxFxVersion has an invalid value. (CODE: 400)"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeployment@4

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

- Agent - Hosted or Private: Hosted

## Issue Description

The task started failing with 400s and the message: The parameter LinuxFxVersion has an invalid value.  There were no changes to the pipeline configuration.  This same is

[2022-03-15 07:07] cosminstirbu opened #16025 "AzureRMWebAppDeployment and AzureFunctionApp `appSettings` behaviour"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: `AzureRMWebAppDeployment` and  `AzureFunctionApp`

## Issue Description

It seems both `AzureRMWebAppDeployment` and  `AzureFunctionApp` are appending the key-value pairs passed in to `appSettings` instead of beco

[2022-03-15 07:26] BorisWilhelms commented on #16018
We also ran into this issue and simply extended our Azure CLI script to check the version.

[code]

Sure, thats properly not 100% save, but it does work for us.

[2022-03-15 09:04] anatolybolshakov commented on #15982
Hi @Ayanmullick sorry, I have some access issues at the moment - as I know there is know way to run it using this extension.
You can also ask more questions about this extension in https://github.com/Microsoft/azure-pipelines-vscode.

[2022-03-15 09:23] bayanlouzi commented on #15977
Hi @v-nagarajku  any update on above issue ?

[2022-03-15 09:37] anatolybolshakov commented on #15850
Hi @anbuanand is this issue still actual for you? Seems that there is some issue with connection between hosted and your private agent machines.

[2022-03-15 09:40] WimGott opened #16026 "AzureResourceManagerTemplateDeploymentV3 bicep Deployment tries to install bicep first. Fails behind Firewall or Proxy"
## Information

*Type*: Bug

AzureResourceManagerTemplateDeploymentV3

## Environment
- Server - Azure Pipelines or TFS on-premises?

- Azure Pipelines

- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version:
      Ubuntu - 20.04

## Issue Description

When trying to deploy biceps via the above mentioned tasks,  tries to in

[2022-03-15 09:50] anatolybolshakov commented on #15651
Hi @franky920920 could you please share your pipeline/agent logs?

[2022-03-15 09:58] anatolybolshakov commented on #15571
Hi @YoshicoppensE61 this issue should be already resolved since CopyFiles task was migrated to Node 10 execution handler - please let us know if you still see this issue.

[2022-03-15 13:01] vg19gupta commented on #12280
Resolved. I increased the timeout from this SSH task itself using advanced options mentioned at the end. (visible in your image as well)

[2022-03-15 14:36] Ayanmullick commented on #15982
@anatolybolshakov, Is there a way to manage module dependencies for AzPowerShell tasks [like one can in AzFunctions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal#dependency-management)?

[2022-03-15 14:55] anatolybolshakov commented on #15982
cc @rvairavelu as the owner of AzurePowershell task - do you know maybe the answer to this one?

[2022-03-15 17:07] octogonz commented on #15922
We encountered `[error]The HTTP request timed out after 00:00:30` yesterday using Microsoft cloud-hosted Azure DevOps.

(Here's the ID if someone wants to investigate:  `_build/results?buildId=108733&view=logs&jobId=8b5257b2-d883-523e-fd34-84fe1dbbb47f&j=8b5257b2-d883-523e-fd34-84fe1dbbb47f&t=a0de8091-1550-55e0-ec93-68ec4652c8f1&s=96ac2280-8cb4-5df5-99de-dd2da759617d` at `Mar 14, 2022 at 3:25 PM P

[2022-03-15 18:52] max-zaytsev commented on #15990
Hi @berkej,
I was unable to reproduce the issue on Ubuntu 20.04 with SELinux enabled.
Could you please provide a minimal reproducible project?

Also, could you please create a separate PR to fix this particular bug?

[2022-03-15 21:51] hjimenez-ni commented on #12503
Hi @johnterickson! I think this is definitely something that would make things much more efficient in our use case too. Currently, we are using the same template to implement 2 different pipelines. It would be great if we could share the scope of one pipeline with the other one. Is there any feature definition and/or timeline defined for this request?

[2022-03-16 00:22] aressler38 commented on #15292
Either the code should be fixed, or the documentation changed.

[2022-03-16 01:23] franky920920 commented on #15651
@anatolybolshakov  I cannot repro this anymore. Closing this. Thanks!

[2022-03-16 08:01] golubev-ivan commented on #15965
Hi @vininew921, I can't reproduce this issue. I see two environment variables (SECRET and VUE_APP_SECRET) with correct values after these actions. Are you still facing this problem?

[2022-03-16 08:07] QiuyongWang commented on #15868
@KonstantinTyukalov @anatolybolshakov   Does it have a draft ETA plan to finish this bug fix deployment?

[2022-03-16 08:56] riiikawang opened #16030 "Azure Powershell Automation Runbook Error: Select-AzureRMSubscription: Index was out of range. Must be non-negative and less than the size of the collection"
Question, Bug, or Feature?
Type: Bug

## Environment

Azure China  - Azure Automation Powershell Runbook

## Issue Description

Below error happened randomly when executing azure powershell runbook to start virtual machines:
![image](https://user-images.githubusercontent.com/77219080/158551433-b5d3e624-7f39-4913-873e-58eb7cb8ab18.png)

Runbook Content:
$cred = Get-Automationpscredential -Name xxx

[2022-03-16 11:56] denis-tikhomirov commented on #15183
DownloadGithubNugetPackageV1 - [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/16027)
PipAuthenticateV0 and PipAuthenticateV1 - [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/16032)

[2022-03-16 12:04] triptijain2112 commented on #14982
Hi @petermicuch , following up on the above request.

[2022-03-16 12:09] Mahesh01260126 commented on #11334
I am facing the same issue. i don't want to kill java as other process are running on it.
Is there any other solution for it

[2022-03-16 13:17] mregni commented on #15532
Any update on this issue? I'm facing the same problem with a manually created Web App.

[2022-03-16 14:08] WimGott commented on #16026
So we had been able to find the "check" which is performed. For this the following domains are used:

github.com
api.github.com
raw.githubusercontent.com
objects.githubusercontent.com

In Case anyone is trying to figure that out.

Would be great to have a official documentation about it + the path where the installation is checked.

[2022-03-16 14:21] anatolybolshakov commented on #16030
Hi @riiikawang this repo is mostly for pipelines tasks, although this question is more about Azure - I would suggest to reach out to the Azure support using options described here - https://azure.microsoft.com/en-us/support/options/

[2022-03-16 16:37] IanKemp commented on #15297
FIX THE ISSUE INSTEAD OF IGNORING IT.

[2022-03-16 20:32] nnellanspdl commented on #15959
I ran a pipeline today and my task was updated to 3.199.0 and it was able to successfully deploy a bicep template!

[2022-03-16 20:38] PiotrWachulec commented on #15959
Excellent! We'll test it tomorrow also! Thanks @nnellanspdl for your comment!

[2022-03-16 22:04] MikeFlood commented on #15451
Has there been any movement on this issue? Seems relatively straight forward and would fix a lot of headaches.

[2022-03-16 22:44] 1RGB1 commented on #10792
The issue remain the same

[2022-03-17 03:53] cgraf-spiria commented on #16012
Seems your issue is more related to Azure cli (https://github.com/Azure/azure-cli) than azure pipeline tasks (this repo)
Also note that Azure CLI has an option:
`--only-show-errors                      : Only show errors, suppressing warnings.`
Maybe this could work in your situation

[2022-03-17 06:56] eqinox76 opened #16043 "[GoToolV0] Go 1.18 not available"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Bug

**Enter Task Name**:
GoToolV0

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    xtp/Development/Pipelines/XTP.TCA.Ben

[2022-03-17 11:43] maikelvanhaaren commented on #15532
Just received an e-mail from Microsoft where they finally acknowledge the issue:

[2022-03-17 12:11] #15274 closed

[2022-03-17 12:11] #15267 closed

[2022-03-17 12:26] adalfa commented on #15532
I'm asking the support for my case if they had an estimate on the time needed for the consistency of the metadata, many thanks for reporting the finding, a very faint light at the end of the tunnel...

[2022-03-17 13:28] denis-tikhomirov commented on #15183
OpenPolicyAgentInstallerV0 - [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/16044)

[2022-03-17 13:44] ybadragon commented on #16012
Thank you, I've moved my issue over to the other repo

[2022-03-17 19:21] dagood opened #16045 "[GoTool] Make the Go download URL configurable"
## Required Information

*Type*: Feature
**Task Name**: GoTool

## Environment
- Azure Pipelines, any version used in Microsoft internal builds
- Agent - any

## Issue Description

My team is building Go for internal use at Microsoft, but we don't have a good way for people who use the `GoTool@0` task to switch over from the official build of Go to our build of Go. I think all we need is a way to

[2022-03-18 00:18] #15277 closed

[2022-03-18 02:13] riiikawang commented on #16030
@anatolybolshakov thanks. As Azure Automation runs very well I guess no any issues with Azure service, the error details directly point to a powershell error, so I suppose even without any Azure service the powershell commmands would be failed as well randomly.

[2022-03-18 07:53] golubev-ivan commented on #15922
Hi @mastrzyz, I think this problem is related to the agent.
Could you please provide some additional information on this issue?
- What agent are you using, Azure Pipelines or self-hosted?
- What version of the agent are you using? (If you are using self-hosted agent)
- Сould you please share the error logs from _diag folder?

[2022-03-18 11:26] vidarkongsli opened #16047 "AzureResourceManagerTemplateDeployment@3 cannot access Bicep module in private ACR"
## Required Information

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: AzureResourceManagerTemplateDeployment@3

## Environment
- Server - Azure Pipelines
- Agent - Hosted - ubuntu-latest

## Issue Description

When using a Bicep template referring to a module in a private registry, the task does not authenticate to the ACR.

Given:

[code]
The following happens:
![image](https:

[2022-03-18 12:12] awdavies90 opened #16048 "PowerShellV2 ErrorActionPreference"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PowerShellV2

## Environment
- Server - Azure Devops Server
    - Version: Version 17.143.28621.4

## Issue Description

The PowerShellV2 task has an option for setting the ErrorActionPreference of a script. This is great but I've noticed that the task adds the `$ErrorActionPreference = '{selectedOption}'` at the beginning of your ch

[2022-03-18 13:55] denis-tikhomirov commented on #15455
Hello @me21,
I have tried to repro the issue, but each start of JenkinsQueueJobV2 task returns code 201 after successful start of build in Jenkins.
Do you know any specific conditions to have repro of the issue? Could you please share info about used JenkinsQueueJobV2 task configuration (yaml) in Azure DevOps and job in Jenkins? Also would be great if you can provide logs of affected job started w

[2022-03-18 14:35] mediacloudusr commented on #15697
Thanks for the tip. This could a (little painful) workaround

[2022-03-18 17:12] lkfabu2022 opened #16049 "Add option to clear destination blob"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-03-18 17:29] xpouyat commented on #15697
Thanks for the tip. This could a (little painful) workaround

[2022-03-18 18:26] matrix-revolution opened #16050 "VSTS Test run in Azure Pipeline takes longer to complete and fails with TestResultSummary Error"
*Type*: Question

## Environment
- Agent - Private Agent:
    - Current agent version: '2.200.2'
      Operating System - Microsoft Windows Server 2016

## Issue Description

We are facing an issue where the actual test execution time is taking just 40mins but uploading the test results to LogStore and getting TestResultSummary is adding up to total of 1hr56min to the total run.

Can someone us in

[2022-03-18 20:47] RaphaelSilv commented on #11444
Facing the same issue with `AzureWebApp@1`.

Is there a way to simply set `WEBSITE_RUN_FROM_PACKAGE=0`?

[code]

@damienwebdev:

FWIW, this does not apply to AzureWebApp task.

[2022-03-18 22:01] luiszun opened #16051 "DownloadBuildArtifacts' latestFromBranch uses the latest completed by time, not by branch history"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadBuildArtifactsV0

list here (V# not needed):
[DownloadBuildArtifactsV0]
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DownloadBuildArtifactsV0

## Environment
- Server - Azure Pipelines

- Agent - Private:
    - Windows_NT 10.0.17763, Agent 2.200.2

## Issue Description
DownloadBuildArtifacts' latestFro

[2022-03-19 09:07] #11905 closed

[2022-03-19 17:29] asaneh commented on #15181
# ##11905 #15285 #16051 #16033

[2022-03-19 18:06] #13268 closed

[2022-03-19 21:16] virtualvoid commented on #15599
I don’t understand what else do you need. Create web job, deploy it using DevOps via pipeline… then run the pipeline again. The web job will likely can’t be stopped and the pipeline will fail.

[2022-03-19 23:26] IshchenkoRoman opened #16052 "Worker timeout during inference on AksWebservice"
## Issue Description

Hi, I'm trying to to deploy worked pipeline, using `AksWebservice`. Pipeline used multiple steps such as preprocessing and feature engineering with text data. On one of steps my code used trained `ClassificationModel` from `simpletransformers.classification` package and on this step I received next error:

[code]

On the other hand, looking into Deployment logs I got error on

[2022-03-20 06:08] #14622 closed

[2022-03-21 12:12] #13824 closed

[2022-03-21 13:29] balfa666 opened #16053 "Nuget Restore does not use version installed with Nuget Tool Installer"
## Required Information

*Type*: Bug
**Enter Task Name**: NuGetCommandV2

## Environment
- Server - Azure Pipelines
   account: Investpsp
   team: horus
   buildname: horus
   buildId: 182879

- Agent - Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version:
    -  OS: 10.0.14393
    - agent version: 2.200.2

## Issue Description

NugetRestore

[2022-03-21 14:21] arjoh commented on #6083
I found this issue by Googling, but this still does not seem to be natively supported. I'm using SSDT and I'm using the following PreDeployment script to add the database to the correct pool immediately after creation. It's not pretty but it supports dynamic database names (by using SqlCmd variables):
[code]

[2022-03-21 14:59] bugoutfr commented on #15929
Hello, when will this be released plz? v4 was released on November 8th, 2021... How is this minor update to the Azure DevOps task not released yet?

[2022-03-21 15:23] golubev-ivan commented on #15183
NuGetCommandV2 - [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/16054)

[2022-03-21 23:17] segunak commented on #11191
Would you be able to share your pre-deployment scripts? Seeing this same issue using `p:BlockOnPossibleDataLoss = false`.

Same as other commenters, Azure DevOps pipeline deployment failing when attempting to drop columns from an existing table.

[2022-03-22 04:51] drdamour commented on #10353
Bamp/not stale

[2022-03-22 06:58] badsyntax opened #16055 "[KubernetesManifestV0] Unable to set multiple manifest files in Release Pipelines"
**Question, Bug, or Feature?**
Bug

**Enter Task Name**: [KubernetesManifestV0](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/KubernetesManifestV0)

## Environment
- Server: Azure Pipelines
- Agent: Private

    - If using private agent, provide the OS of the machine running the agent and the agent version: MacOS, Agent v2.200.0

## Issue Description

Unable to enter multipl

[2022-03-22 08:31] badsyntax commented on #16055
Closing because a valid workaround exists: to use `kubectl kustomize` to combine multiple manifest files into one.

[2022-03-22 08:31] #16055 closed

[2022-03-22 09:19] alatas commented on #15532
We have more than 50 pipelines that have trouble with this issue. We changed the deployment stage to custom `az cli` commands.

[2022-03-22 09:53] scp-mb commented on #15139
The TLS 1.0 and 1.2 brownout today has highlighted this as still an issue.

@carl-tanner The changes have been approved back in December, are they being merged and a new version pushed any time soon?

[2022-03-22 12:02] Kolossi commented on #14991
Issue still occuring for me, and would like to know fix?

[2022-03-22 13:06] rafalbog commented on #15532
loluzapaluza, same problem, checked everyting and its not working at all...
##[error]Error: Resource 'tailspin-space-game-123456' doesn't exist. Resource should exist before deployment.

[2022-03-22 13:06] KonstantinTyukalov commented on #15868
@QiuyongWang The approximate waiting time for these changes to be available for all ADO users is 2-3 weeks.

[2022-03-22 14:02] denis-tikhomirov commented on #15455
PR with workaround for this issue - https://github.com/microsoft/azure-pipelines-tasks/pull/16058

[2022-03-22 14:44] bayanlouzi opened #16059 "Azure Web App for Container Task created this app setting 'DOCKER_CUSTOM_IMAGE_NAME' programmatically"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-03-22 15:05] eosho commented on #14805
I can verify I have linuxFxVersion set to "DOCKER|<arcInfo>:latest". Web app kind is also set to "app,linux,container". Upon using the task, it sets both linuxFxVersion and windowsFxVersion.

[2022-03-22 17:50] luiszun opened #16063 "DownloadBuildArtifacts' latestFromBranch uses the latest completed by time, not by branch history"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-03-22 17:50] luiszun commented on #16051
This went through automation that failed, opened a new task with the full format
https://github.com/microsoft/azure-pipelines-tasks/issues/16063

[2022-03-22 17:50] #16051 closed

[2022-03-22 19:17] luiszun commented on #16063
[code]

The problem lies there. Perhaps there are other options for getBuilds. However I only see interfaces, I assume the rest is  not open source, but maybe there are other values for BuildQueryOrder?

[2022-03-22 22:23] TheHokieCoder commented on #15845
I agree with @ransagy. By default the task is way too chatty. Microsoft is normally in the habit of making things default to "only what you need to know", with options to increase verbosity. For the AzureCLI task I would recommend that the following steps in the task be suppressed under normal conditions:
- `az --version`
- `az cloud set -n AzureCloud`
- `az login --service-principal -u *** "--pas

[2022-03-23 03:28] awithy commented on #16024
I have some additional information.  On the last pipeline run that succeeded the variable `$(resources.container.buildContainer.tag)` was resolved to the resource that is referenced by the task.  It looks like the variable is no longer being injected.

[2022-03-23 09:06] aryans31 opened #16064 "unable to create pdf from multiple html files in python inside ADO pipeline."
[](https://sap.stackenterprise.co/images/a/ed0f4bfe-9b30-40fe-ab81-ef57816f9384.png)unable to create pdf from multiple html files in python inside ADO pipeline, but if I pass one single file then the report is being generated.

inside bash:
[code]

Python script:
[code]

[code]

error:
but for single HTML file, report is being created in artifacts.and the path of the HTML files are correct.

![ima

[2022-03-23 11:32] krokofant commented on #15309
Bump

[2022-03-23 12:16] stroborobo commented on #16018
pscore version:

[code]

[2022-03-23 12:21] golubev-ivan commented on #16048
Hello @awdavies90, I've investigated your issue. You can set ErrorActionPreference as Default in the task settings and this line will not be added to the ps script.

[2022-03-23 12:40] adalfa commented on #15532
Hello to all, the issue still exists to my finding

[2022-03-23 15:55] trevorbye commented on #12263
Wish msft had more customer empathy with this kind of thing. Yes, this task isn't specific to Unity, but it _is_ specific to xcode, and Unity is a common framework to build in xcode. I agree it probably doesn't warrant an implementation change on your side, but even mentioning something in your docs about how to work around this would be helpful because it is still an issue, rather than simply say

[2022-03-23 20:44] satbai commented on #16053
Why not add the NuGet tool installer to the same job as the nuget restore step?

[code]

Even better to use the recommended [NuGet Authenticate](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops) task instead of the NuGetCommand task.

[2022-03-23 20:45] oliviajain opened #16067 "Twine Authenticate Post Job - No Such File or Directory"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-03-23 20:51] balfa666 commented on #16053
I was trying to build multiple projects in the same yaml file. Downloading it 5 times during my build seemed a little overboard for me, so i tried to download it only once.

[2022-03-24 05:13] franky920920 commented on #15651
This happens again :D
<img width="432" alt="Screen Shot 2022-03-24 at 1 13 37 PM" src="https://user-images.githubusercontent.com/11349917/159846906-44bcb012-6b7a-4e08-a391-117edeb698b9.png">

[2022-03-24 05:15] franky920920 commented on #15651
Pipeline logs: [logs_399.zip](https://github.com/microsoft/azure-pipelines-tasks/files/8338611/logs_399.zip)
cc: @anatolybolshakov

[2022-03-24 05:19] ManikandanMani commented on #15456
I have this same issue and it arises intermittently, any ideas how to resolve this?

[2022-03-24 06:07] #15285 closed

[2022-03-24 06:11] vovikdrg commented on #12597
Ping :)

[2022-03-24 06:17] miniGweek opened #16071 "Documentation of Docker@2 task should be updated - docker pull works fine with ACR"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-03-24 07:12] maikelvanhaaren commented on #15532
Microsoft Support sent me a workaround for this issue. They told me to use the azure cli/powershell for deploying apps, functions and ARM templates:

I don't have the time right now to implement this workaround since it's a big change. Anyone who succeed with this workaround?

[2022-03-24 09:00] christianduerselen commented on #11374
@johnterickson @fadnavistanmay
I would also second @elvirdolic that I didn't find enough documentation how the "read from main" feature for the Cache task is supposed to work. Does the branch have to have a specific name? Any changes to the caching key necessary? Is the cache only used for PRs?
At the moment running the same pipeline on a "dev/[name]" branch does not find an existing cache through

[2022-03-24 10:12] arame commented on #15941
Any news on this? I have the same problem.

[2022-03-24 12:16] adalfa commented on #15532
Actually the supports suggested me to implement the retry task in the pipeline (https://docs.microsoft.com/en-us/azure/devops/release-notes/2021/sprint-195-update#automatic-retries-for-a-task). It is worth a try. In the last deployment the resources came consistently available after 20 hours

[2022-03-24 12:35] arame opened #16072 "2022-03-24T11:19:09.4738512Z ##[error]Error: Unable to locate executable file: 'iotedgedev'. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable. Also check the file mode to verify the file is executable."
I am attempting to create a CD/CI pipeline.
There is something not working in the build, I get this error:
2022-03-24T11:18:52.8882006Z ##[section]Starting: Azure IoT Edge - Build module images
2022-03-24T11:18:52.8894072Z ==============================================================================
2022-03-24T11:18:52.8894437Z Task         : Azure IoT Edge
2022-03-24T11:18:52.8894704Z Descriptio

[2022-03-24 12:49] m-ghaoui commented on #15532
I too have this issue with my release pipelines. Any recent updates?

[2022-03-24 13:00] pravindes commented on #10022
I have also same concern, How can we use Azure pipeline without this options "Use cluster administrator credentials" ,
I have added service connection service principal in azure admin group ,still I am facing the same issue to login kubectl task

[2022-03-24 13:10] anatolybolshakov commented on #15651
Hi @franky920920 thanks! Could you please set up 'Agent.Diagnostic' pipeline variable to 'true', run pipeline in debug mode (you can either set it up via 'Enable system diagnostics' checkbox or set up 'System.Debug' pipeline variable as 'true' before run) and share the logs archive?
+ @tatyana-kostromskaya - this looks like another issue with agent sporadically being stuck we are working on at the

[2022-03-24 13:44] PedroEss commented on #13813
Shall you paste an example? I have not found any for import bacpac file through github actions without using powelshell.

[2022-03-24 14:10] petertheautomator commented on #14640
This is still an issue

[2022-03-24 15:11] #15273 closed

[2022-03-24 19:33] ehanlon commented on #15610
Any updates regarding timeline for the fix?

[2022-03-24 21:19] golubev-ivan commented on #16064
Hello @aryans31, I have investigated your issue. The problem is related to the incorrect installation of the `wkhtmltox` package. To correctly install this package, you should use the following commands:
[code]
*Instead of the above package version, you can use the one you need from https://wkhtmltopdf.org/downloads.html

[2022-03-25 00:27] dagood commented on #16043
(FYI, I'm not on the Azure Pipelines Tasks team, I just also have interest in this build task. 🙂)

I tried out using `GoTool@0` to get 1.18, and it worked for me. I think this is the issue:

If I change my version from 1.18 to 1.18.0, I hit the same failure you do. However, Go doesn't include the trailing `.0` in its official toolset versions, and that makes the `GoTool@0` task calculate the filen

[2022-03-25 00:57] franky920920 commented on #15651
@anatolybolshakov Here you go!
[logs_402.zip](https://github.com/microsoft/azure-pipelines-tasks/files/8346570/logs_402.zip)

note: It says there is an ETIMEDOUT error on sshClient. 😕

[2022-03-25 06:08] #15213 closed

[2022-03-25 06:47] mahdi21174 opened #16073 "# Batch script # Run a Windows command or batch script and optionally allow it to change the environment - task: BatchScript@1 inputs: filename: #arguments: # Optional #modifyEnvironment: False # Optional #workingFolder: # Optional #failOnStandardError: false # Optional"

[2022-03-25 06:47] mahdi21174 commented on #16073
# Batch script
# Run a Windows command or batch script and optionally allow it to change the environment
- task: BatchScript@1
  inputs:
    filename:
    #arguments: # Optional
    #modifyEnvironment: False # Optional
    #workingFolder: # Optional
    #failOnStandardError: false # Optional

[2022-03-25 07:04] max-zaytsev commented on #16073
Hi @mahdi21174, Could you please provide more details about your issue?

[2022-03-25 09:29] anatolybolshakov commented on #15651
@franky920920 hmm.. Seems like there is spontaneous  timeout error when sshclient is trying to close connection - probably due to some network connection issues.
Does it happen constantly or sporadically for you?

[2022-03-25 09:30] franky920920 commented on #15651
@anatolybolshakov Constantly, and I am sure the ssh connection is stable and reachable to me.

[2022-03-25 11:47] tiefling commented on #15499
I am seeing the same error as of several days ago with .Net Framework projects - VSTest just stopped working.

My builds were updated a while ago (on MS insistence) to windows-latest so I assume they just ticked over to being windows-2022.

This is pretty critical stuff. Our deployment pipeline just collapsed.

[2022-03-25 12:55] tiefling commented on #15499
I rectified my issue by removing `vsTestVersion: "16.0"` from the YAML definition.

I can't find a newer version listed in the docs yet but I can only assume there is a new "latest" and removing this just uses that.

[2022-03-25 15:10] #13918 closed

[2022-03-25 15:23] beatcracker commented on #13241
Please re-open, the issue is still there if you have multiple scopes defined for single registry.

[2022-03-25 15:49] ryanfalzon opened #16074 "Setting project version from dotnet pack command"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: [DotNetCoreCLIV2](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DotNetCoreCLIV2)

## Issue Description

Currently, when using `dotnet pack` command with a project file that does not specify the the version within it, the version is not set in the .dll file. It would be nice if we are given the possibility t

[2022-03-25 19:16] ruankr commented on #15929
Also got stuck on this as cannot deploy dotnet 6 function on linux....Any idea when we can expect this to be added?

[2022-03-25 20:13] justinwojo commented on #15515
For anyone trying to specify the JDK version to use on this, the only way I was able to is to ignore all of the JDK options and pass in the JDK path directly into the `msbuildArguments` option, passing in `/p:JavaSdkDirectory=path_to_jdk`.

I used the JavaToolInstaller to set Java to 11, and then just passed in Java_Home below, and it now uses JDK 11 fine.

[code]

[2022-03-26 06:06] #13491 closed

[2022-03-27 06:09] #15054 closed

[2022-03-27 06:09] #14949 closed

[2022-03-27 15:06] #15317 closed

[2022-03-27 15:06] #14253 closed

[2022-03-27 18:05] #13832 closed

[2022-03-27 21:05] #15320 closed

[2022-03-28 03:17] #15325 closed

[2022-03-28 06:41] f2calv commented on #15320
FYI this issue was fixed in https://dev.azure.com/mseng/AzureDevOps/_workitems/edit/1884017

[2022-03-28 08:10] PehrGit opened #16077 "HelmDeploy Task hangs when "useClusterAdmin" is required but not set"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy

## Environment
- Server - **Azure Pipelines**
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    - **Can provide privately if required.**

-

[2022-03-28 08:13] PehrGit commented on #15802
We have a similar setup and for us it works if we use `connectionType: "Azure Resource Manager"` and add `useClusterAdmin: true`. No additional steps or workarounds needed. We need to use `kubelogin` from our workstations but on our privately hosted build agents this just works without any need for kubelogin stuff.

[2022-03-28 11:01] nmaarse commented on #14365
This is still an issue. if you provide the azureSubscription input in a AzureRmWebAppDeployment@4 using a template parameter it fails. it does not expand the parameter.

However it is a bit more specific. Parameters without typing are expanded correctly. so in a template.yml file:
[code]
does work. But what fails is:

[code]
the error message when saving it in to git from the edit pipeline screen

[2022-03-28 11:45] novotnej commented on #15406
I am also running into this issue. Has there been any progress?

[2022-03-28 11:56] VSJames commented on #15105
I'm getting this issue too, I'd like to have a single global.json file to manage across many build tasks instead of specifying the version in the task parameters... However I can't match to the latest 7.0.x version as the logs seem to suggest no version of 7 is available? My global.json is:

[code]

and my UseDotNet task is

[code]

The logs state:

[code]

[2022-03-28 13:45] PehrGit commented on #15802
Fair enough!

[2022-03-28 14:45] anatolybolshakov commented on #15571
Hi @YoshicoppensE61 do you have any updates?

[2022-03-28 14:58] anatolybolshakov commented on #16030
@riiikawang as I understand Azure Automation Powershell Runbook is not related to the [Azure DevOps](https://azure.microsoft.com/en-us/services/devops/), so the support options above should help you to reach out to the right teams to take a look 😃

[2022-03-28 16:13] ColeSiegelTR commented on #13275
been another 4 months any plans to fix this?

[2022-03-28 16:24] 3a4oT opened #16080 "Xcode 13.3"
Hello is there ETA for Xcode 13.3 (and I guess macOS 12 Monterey)?

[2022-03-28 17:15] rick-weyrauch-lol commented on #14043
Any idea if this will be fixed? It seems like an easy thing to get updated.

[2022-03-28 18:10] #15331 closed

[2022-03-29 00:50] JaydenMaalouf commented on #13420
I know this is closed but looking for an update on this too.
Seeing this occur whenever we use Cache@2 in Deployment Jobs.

[2022-03-29 02:13] aryans31 commented on #16064
ThankYou @golubev-ivan :)

[2022-03-29 02:13] #16064 closed

[2022-03-29 03:03] karataliu opened #16084 "PublishCodeCoverageResults should not warn on html generation when reportDirectory is present"
## Required Information

**Question, Bug, or Feature?**
Bug

**Enter Task Name**:
PublishCodeCoverageResults

## Environment
 Azure Pipelines

## Issue Description
1. agent doesn't have dotnet installed
2. the task has reportDirectory set, which already contains html report
[code]

In this case `PublishCodeCoverageResults` still warns about:
`##[warning]Please install dotnet core to enable automat

[2022-03-29 13:15] awdavies90 commented on #16048
![image](https://user-images.githubusercontent.com/21106005/160619388-b195dd65-6918-4e24-bcc5-e2fb6494c3f8.png)
Is this something that can only be done through yaml? There's doesn't seem to be an option for it in the classic view (E.g. A task group).

[2022-03-29 21:48] golubev-ivan commented on #16048
Most likely, your version of Azure DevOps Server doesn't include the fix for this task. I think in future versions of the ADO server this feature will be added. Related PR with the fix: https://github.com/microsoft/azure-pipelines-tasks/pull/15069

[2022-03-30 00:08] fowl2 commented on #14094
[Note that the GitHub actions version of this task already supports using a node version file](https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#node-version-file).

[2022-03-30 01:05] cfauchere commented on #14805
I am using Azure CLI `az webapp config container set` as a workaround

[2022-03-30 02:00] Castone22 commented on #14381
Bump, still an issue

[2022-03-30 03:17] #14690 closed

[2022-03-30 07:41] RicardoLans opened #16086 "PowerShellOnTargetMachines@3 writes ugly amount of machinename lines"
Required Information
---
Question, Bug, or Feature?
Question/Feature

Enter Task Name:
PowerShellOnTargetMachines@3

Environment
---
Azure Pipelines

Issue Description
---
https://github.com/microsoft/azure-pipelines-tasks/blob/438eb1ed55d1f6b481eb5c20dcf516fb91ecebcc/Tasks/Common/RemoteDeployer/JobHelper.ps1#L123

Based on above link provided, the execution of remote scripts is writing a message

[2022-03-30 08:35] paule96 opened #16087 "(S)FTP behind a proxy"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Bug, or Feature**  (depends how you see it)
*Type*: Proxy support

**Enter Task Name**: FtpUpload

## Environment
- Server - Azure DevOps Server on-premises?

    - If using Azure DevOps Server on-premises, provide the version: Version Dev17.M153.5 -  Azure DevOps Server 2020 Upda

[2022-03-30 09:22] AmyJeanes opened #16088 "NuGetCommand defaulting to very old version of NuGet on windows-2022"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: `NuGetCommand@2`

## Environment
- Server: Azure Pipelines
  - Account: exclaimerltd
  - Team Project Id: b677b16d-bceb-42e2-b5b8-c198664edbd8
  - Build Definition Id: 2386
  - Build Id: 219818
- Agent: Hosted Agent / `windows-latest`

## Issue Description

We have been using `windows-latest` to run our build

[2022-03-30 09:47] maxim-lobanov commented on #16088
Some additional context:
- All Hosted images have NuGet 6.1.0.106 installed.
- If you add NuGet task to your pipeline and enable debug logging, you will see that task downloads and install NuGet 4.1 on-flight and place it to "C:\hostedtoolcache\windows\NuGet\4.1.0\x64" folder. This folder doesn't exist on clean images.
- I have also done additional investigation and found that the NuGet task uses

[2022-03-30 10:07] MattJeanes commented on #16088
Super useful insights @maxim-lobanov thank you! That explains perfectly why the switchover from `windows-2019` to `windows-2022` broke some of our builds as VS2019 would have no longer been available.

I wonder why it is that we don't use the latest available version of NuGet on the machine by default here, the hosted agents ship with NuGet 6.1.0 at the moment but if you're using these tasks it wi

[2022-03-30 10:34] johnsimons opened #16089 "Running docker on Windows-2022 agent with linux image"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-03-30 10:36] maxim-lobanov commented on #16088
I think initially tasks were implemented the way to not depend on image somehow and avoid breakage when something goes wrong with image. But I am not really sure why task doesn't install "latest" version of NuGet by default. It would allow to avoid such maintenance problems.

Actually, you can drop the task at all and use pre-installed version of NuGet manually.
Replace NuGetCommand task with Comm

[2022-03-30 10:43] anatolybolshakov commented on #15819
@FWI-95 it would be very helpful to have some minimal repro steps for this one to reproduce it on our side - since we are still unable to reproduce, but continue analyzing.

[2022-03-30 11:42] MATEUSZROGALSKI commented on #15192
IDK if this is still the case for you guys but you can specify `NODE` and `NPM` version using `env` section in your GH Actions.

[code]

[2022-03-30 11:52] richRubie commented on #15656
Hi, we are still experiencing this issue.
The above comments say we don't need to run any scripts or fixes, is this the case?
If not can you advise the correct steps?

Thanks

[2022-03-30 14:02] ChrisBlankDe commented on #15819
i just wanted to let you know that we have the same problem. our pipelines are relatively large so an easy to reproduce scenario is not so easy to provide.
we use the bccontainerhelper (https://github.com/microsoft/navcontainerhelper) like @FWI-95 and @ti-jalopez  . and only steps where this is used run into a timeout after last command.
there may be a connection... @freddydk

Pipeline Task:
[code

[2022-03-30 16:04] meyemh30 commented on #15656
@richRubie  This issue is not closed, it can only be fixed by running the script I posted.

[2022-03-30 16:36] anatolybolshakov commented on #15819
@ChrisBlankDe thanks! Could you please set up Agent.Diagnostic variable as 'true', reproduce this issue and share the logs in debug mode (you can check steps for it [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#view-and-download-logs) - please make sure although that you masked all sensitive info)?
One possible issue would be that work

[2022-03-30 17:22] FWI-95 commented on #15819
If you want to try it yourself, I have prepared a working pipeline where this is reproducable for us. You'll only need one or more Windows Hosts with Docker Engine 20.10.7 running 2 or more agents. Best would be 4 or more to get consistent timeouts.
If there are multiple hosts, the powershell module bccontainerhelper should also be installed on every machine

If you clone my repo
https://github.co

[2022-03-31 08:28] cheahengteong commented on #2147
my repo is connected with Github how can I get the request name like this "Merge pull request #760 from xxx/common-const-174" ? and pass the artifact to the next pipeline in YAML?

[2022-03-31 08:59] mathiash98 commented on #15941
I got the same issue but on following agents:
ubuntu-latest -> Ubuntu 20.04
windows-latest -> windows-2022

It is working on windows-2019 and ubuntu 18

And I have also noticed that the execution time of iotedgedev Generate Deployment Manifest has become slower and slower, I think it started around 30-60s build time, but on ubuntu 18 it increased to 6.5min. So I switched to windows-2019 which exec

[2022-03-31 09:08] KonstantinTyukalov commented on #16087
Hi @paule96! Thank you for providing information.
The `FtpUpload` task does not yet support proxy configuration. We will consider possible solutions once we have dealt with the higher priority tickets.

[2022-03-31 10:04] josesimoes opened #16090 "NuGetCommand@2 wrongly reporting failure on push when duplicate package"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NuGetCommand@2

## Environment
- Server - Azure Pipelines?
Full log here: https://dev.azure.com/nanoframework/nanoFramework.WebServer/_build/results?buildId=31579&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=53bbcbfd-64d9-5856-3a45-a147e3220e82

- Agent - Hosted:  windows-latest

## Issue Description

D

[2022-03-31 10:57] anatolybolshakov commented on #15444
Hi @Mrkenvin1982 could you please share more details about your issue?

[2022-03-31 10:58] anatolybolshakov commented on #15946
@AndreyIvanov42 could you please take a look?

[2022-03-31 15:10] #15307 closed

[2022-03-31 17:24] tejaindupalli commented on #13729
Most of the times it was the issue from Agent, In my case i just put Agent to "Azure Pipelines" and try to run Pipeline.

[2022-03-31 21:53] johnsimons commented on #16089
Hi @KonstantinTyukalov, thanks for getting back to me, yes that is exactly what I am attempting to do.
I have updated the main description and provided a sample yaml pipeline.

[2022-04-01 00:27] #15991 closed

[2022-04-01 00:56] John-Bosch commented on #9458
This issue still plagues our deployments. We currently deploy 11 Azure Functions in one pipeline and regularly hit four or five retries before it will go through. All fail with the same result, all succeed on the next attempt (but a latter one will likely fail and force another attempt).

Going to each of the 11 functions and disconnecting them in the deployment center seems to lessen the chance o

[2022-04-01 03:20] jerobarraco commented on #12187
is still an issue

[2022-04-01 04:23] wrakocy commented on #13842
Same deal here. Wish someone would give this issue some love.

[2022-04-01 06:46] hbuckle commented on #15361
Not stale - someone should review the linked PR

[2022-04-01 09:10] #15342 closed

[2022-04-01 09:25] DenisRumyantsev commented on #15975
Hi @estepangugu, do you have any additional questions?

[2022-04-01 09:28] DenisRumyantsev commented on #15992
Hi @johnsimons, do you have any additional questions?

[2022-04-01 09:40] johnsimons commented on #15992
Nope, all good, thank you

[2022-04-01 09:40] #15992 closed

[2022-04-01 09:43] acgar commented on #8920
+1

[2022-04-01 11:38] mindraptor commented on #9157
@thesushil thanks for sharing :)

Still no plans to support the sync via an Azure task?

[2022-04-01 12:04] simonachmueller commented on #13632
@nehsharmMS mentioned [here](https://github.com/microsoft/azure-pipelines-tasks/issues/12183#issuecomment-581833577) that MS has new preview option to enable for Code Coverage, does it only require .coverage file? Then coverlet etc. would be not needed.

[2022-04-01 12:16] anatolybolshakov commented on #12187
Hi @Tarig0 @jerobarraco we are working on more prioritized issues at the moment, but going to get back to this one once be able to.

[2022-04-01 12:18] ManikandanMani commented on #13632
@simonachmueller, are you meaning to say that the .coverage file generated in the pipelines would also provides individual coverage metrics for each file covered ?,  btw is this can be achieved in vstest.console.exe [ships with visual studio] or using dotnet test cli? correct me if i am wrong here.

[2022-04-01 12:23] ManikandanMani commented on #13632
@fhnaseer , I found out the reason why the downloaded file was corrupted ,because I forgot to add the authentication as headers when downloading the coverage file, after adding the headers downloads the coverage file without any issues

Invoke-RestMethod -Uri $json.psobject.properties["value"].Value.codeCoverageFileUrl Get -ContentType "application/json" -Headers @{Authorization=("Basic {0}" -f $A

[2022-04-01 15:10] #15339 closed, assigned to bishal-pdMSFT

[2022-04-01 15:34] d5han opened #16093 "Cannot checkout to $(Build.SourcesDirectory)"
## Required Information

**Question, Bug, or Feature?**
*Type*: bug

**Enter Task Name**: checkout

## Issue Description
The `checkout` task cannot make use of the `$(Build.SourcesDirectory)` variable in its `path` argument because it is a "rooted" path. This requires working around the issue by knowing what the SourcesDirectory will resolve to, and what working directory the `checkout` task will

[2022-04-01 20:15] andyrooger opened #16094 "ADAL usage in Service Fabric tasks"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question
... though depending on the answer it could become either of the other two options

**Enter Task Name**: ServiceFabricDeploy

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
        - *Can I provide this privately if it'

[2022-04-02 15:16] cstrempfer commented on #14359
Still waiting for a solution...

[2022-04-03 05:28] abatishchev opened #16095 "MSBuild@1 outputs warning ##vso[task.uploadfile] is not allowed in this step due to policy restrictions."
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

Enter Task Name: Task name; MSBuild@1

## Environment

- Agent - Hosted or Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version: windows-2019

## Issue Description

Here's my task:

[code]

Which after it runs also outputs a warning due to the internal compliance settin

[2022-04-03 06:40] abatishchev opened #16096 "Imposible to make Npm@1 log where it puts node_modules, nor to change that"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  Npm@1

## Environment
- Agent - Hosted or Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version: windows-2019

## Issue Description

I'm trying to make the task t

[2022-04-04 06:41] ManikandanMani commented on #12183
Hi @nehsharmMS, could u let us know is the above code coverage details is rendered from the visual studio .coverage file by a seperate step task, or is this actually generated from [Vstest Task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/vstest?view=azure-devops) or the .coverage file is parsed to xml then published using [publish code coverage results task](https://docs.mi

[2022-04-04 08:58] osekodk commented on #15961
I'm experiencing the exact same behaviour.

[2022-04-04 09:06] simonachmueller commented on #13632
As I understood, there is a preview feature on Azure DevOps to use .coverage file to display code coverage in the build results without needing to generate html results separately.

[2022-04-04 09:10] #15315 closed

[2022-04-04 09:10] #14822 closed

[2022-04-04 10:23] anatolybolshakov commented on #16095
@abatishchev do you use 'task.uploadfile' vso command in this task (see more [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/logging-commands?view=azure-devops&tabs=bash) for details)?
Are there some logging command [restrictions ](https://docs.microsoft.com/en-us/azure/devops/pipelines/security/templates?view=azure-devops#agent-logging-command-restrictions) applied on job/s

[2022-04-04 11:28] oxana-viktorovna opened #16097 "Stage is getting skipped eventhough all dependencies seems conditions are present."
*Type*: question

## Environment
- Server - Azure Pipelines
- Agent - Private

## Issue Description

Stage is getting skipped eventhough all dependencies seems conditions are present.

Here are rquirements for a pipeline:
- stage 'NextTest' should be run after stage 'FakeTests' completed
- stage 'NextTest' should not depend on 'FakeTests' stage result (even if 'FakeTests' failed 'NextTest' should

[2022-04-04 11:38] kapoorh opened #16098 "Deploy Azure IoT edge module using yaml deletes existing other modules"
Hi,

We have configured multiple modules on Azure IoT Edge. We have created one yaml pipeline in Azure DevOps to build and push module into Azure Container registry with the latest version and its working fine.
In the yaml pipeline we are using following steps:
1. Build module images
2. Push module images
The above 2 steps build and push the images into ACR, and manually we update the new image on

[2022-04-04 11:46] anatolybolshakov commented on #16093
Hi @d5han at the moment it is by design - checkout task supports only relative paths and chooses root directory by itself - depending on set of repositories used/build definition/project collection (see [docs](https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/checkout-path.md#control-the-checkout-location-of-code) for more details).
We also have another [enhancement ](https://gi

[2022-04-04 12:12] anatolybolshakov commented on #16097
Hi @oxana-viktorovna since 'FakeTests' and 'ToSkip' stages don't depend on each other - order of execution is not determined here, and sometimes 'FakeTests' stage could be executed first (which seems to be the case for the screenshot above). If this stage fails - build will fail too since there is no 'continueOnError' parameter specified for relevant task.
To resolve it - I would suggest to use 'c

[2022-04-04 13:30] toddwalstad-eaton commented on #13913
This is still a valid request.

[2022-04-04 15:00] anatolybolshakov commented on #13913
Hi @toddwalstad-eaton thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one once be able to. This would probably require additional checks from the point of security.

[2022-04-04 17:40] trevonmckay commented on #14449
We recently moved from Classic Releases to Multi-Stage YAML pipelines in our PR workflows. Ideally, we'd like to take the comments from the Manual Validation task and write them back to the PR that triggered the pipeline if the Manual Validation was rejected.

[2022-04-04 17:45] oxana-viktorovna commented on #16097
Thank you @anatolybolshakov fir reply. I've added continueOnError to relevant task. Pipeline become orange but last stage is still skipped.
[code]
![image](https://user-images.githubusercontent.com/102962410/161569215-36f3e439-a0c3-4603-97c0-cab2ee682c5f.png)

[2022-04-04 20:46] abatishchev commented on #16095
Here's a screenshot, it says the warning comes from the task:

![image](https://user-images.githubusercontent.com/351644/161629056-6f48e5ec-00b1-4f16-a2fe-27ccda9b3431.png)

I'm not doing anything special, other than calling it. But I'm also checking with the owner to see if anything special (such as a task wrapper) is done for internal compliance or other reasons.

[2022-04-05 01:05] kumaakh commented on #15097
A typical scenario that I face is that a pull request adds new packages, triggers a build and passed acceptance criterion. A this point the branches "cache" has new packages.
Now when I accept the pull request ideally I'd like to reuse the cache from the pull request branch.

I saw @johnterickson 's [comment](https://github.com/microsoft/azure-pipelines-tasks/issues/12901#issuecomment-628739689) t

[2022-04-05 08:29] anatolybolshakov commented on #16095
@abatishchev could you please share your pipeline logs to take a look - specifically for this task? (please make sure that you masked all data you don't want to share)

[2022-04-05 09:14] anatolybolshakov commented on #15862
@erossini-chi thanks for reporting! Let us investigate it

[2022-04-05 10:36] eqinox76 commented on #16043
I love the latest ability. And thanks for finding a workaround!

[2022-04-05 10:36] #16043 closed

[2022-04-05 10:57] simonachmueller commented on #12183
Could you set system.debug variable to true and run the pipeline, it will provide you more detailed log about what happening behind the hood of the ADO.

Like this in the yml:
![image](https://user-images.githubusercontent.com/3511513/161739466-2b69c50d-05a4-40a8-9968-f47e1c102880.png)

[2022-04-05 12:27] anatolybolshakov commented on #16073
Hi @mahdi21174 do you have any updates?

[2022-04-05 12:34] alsmyr commented on #8380
Ran into this today and this is still ambiguous.

<img width="461" alt="image" src="https://user-images.githubusercontent.com/3719489/161754481-df3a4e54-0b39-4515-b6eb-f3afc9a0514d.png">

Do I transfer/preserve the VNET settings of the Slot or that of my production?

[2022-04-05 13:40] nforysinski commented on #15595
I don't know if it changed with more recent versions of the SDK, but upgrades via package deploys no longer work and simply leave the services completely uncreated (which is an even bigger problem in stateful scenarios). Any idea on a timeline for a fix here? This basically makes moving to the new startup parameters impossible, or I have to deploy without using our typical release pipelines.

[2022-04-05 14:04] pbertie commented on #16071
Interesting to see this worked for you. I've not been able to get this working except if I hardcode the tag. If I use a parameter or variable after the : I get an **invalid reference format** error. If I then switch this out for the actual version it works.

I found that having the Tags Input didn't make any difference whether it was included or not. If you omit the tag from the arguments and only

[2022-04-05 14:32] oliverroer commented on #12427
Perhaps Microsoft could update their documentation? This issue has _only_ been closed for almost a year...

[2022-04-05 14:42] TomasHubelbauer commented on #14322
Hi @LanceSandino, can you please provide details of the way the Docker service connection is set up in Azure DevOps? Are you using `_json_key` for Docker ID and the contents of `azure-pipelines-publisher-oneline.json` for the Docker password to log in to GCR? I am looking at removing the logs that end up printing the subsequent lines of the secret other than the first by reopening and merging @rya

[2022-04-05 17:15] anatolybolshakov commented on #15367
Hi everyone! Seems like this should be resolved with PR https://github.com/microsoft/azure-pipelines-tasks/pull/16054

[2022-04-05 17:31] kbeaugrand commented on #16059
Hi @v-nagarajku @PhilipsonJoseph ,

I am the source of this problem. Please feel free to contact me for more information on this subject.

Best regards,

[2022-04-05 18:24] IvanAlekseev commented on #13448
not stale

[2022-04-05 19:29] rcmosher commented on #15499
I just had this issue show up on VsTest version 2.198.0. So a more recent VsTest version doesn't seem to solve it. I just migrated a testing project to .NET 6 and changed the pipeline to use Windows 2022 to fix not having .NET 6 available.

[2022-04-05 20:21] rcmosher commented on #15499
I was able to resolve this by changing the `Test platform version` to `latest` in my VsTest task. It worked despite the claims this would use VS 2017 or 2015.

[2022-04-05 21:03] abatishchev commented on #16095
Attached the full log:

[code]

[2022-04-05 21:06] mingue commented on #16012
Maybe the only-show-errors options should be the enabled by default on Azure DevOps, it's not the first time that pipelines break for this reason having to disable the flag failOnStandardError on the AzureCLI@2 task, which sometimes it's not possible if you rely on external error to interrupt your pipeline.

`az config set core.only_show_errors=True`

The alternative is having to disable warning o

[2022-04-05 21:08] #12624 closed

[2022-04-05 21:24] abatishchev opened #16099 "DotNetCoreCLI@2 suddenly stopped working, now fails with error CS0006: Metadata file 'D:\mscorlib.dll' could not be found"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

[code]
Build numbers:
- worked: https://dev.azure.com/abatishchev/OpenSource/_build/results?buildId=961&view=results (Feb 13)
- failed: h

[2022-04-05 23:25] coldacid commented on #13471
Still waiting!

[2022-04-06 01:00] StingyJack commented on #12624
necrobump

[2022-04-06 09:15] mammadovtoghrul commented on #15862
@erossini-chi thanks for bringing up the issue. We investigated the issue and tried to recreate it with the instructions that you have indicated above. In our case we didn't find any problem with the task execution. Therefore, here are some suggestions to investigate further:

-  Try to repeat the above mentioned instructions you have indicated. There is has been a recent update related to the exe

[2022-04-06 10:40] ymris opened #16101 "Visual Studio Test not using Proxy authentication settings"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishTestResultsV2

## Environment
- Server - Azure Pipelines

- Agent - Private:
  - Current agent version: '2.195.0'
  - Run as Interactive agent
  - Windows Server 2019 Standard (1809)
  - Configured to run behind corporate proxy conform [Instructions](https://docs.microsoft.com/en-us/azure/devops/pipeli

[2022-04-06 15:10] #11443 closed

[2022-04-06 15:14] dxynnez commented on #13448
I got confused by the same thing... I decided to still give it a try and it did seem to generate correct aggregated coverage report. The only downside I am seeing now is the annoying warning ([warning]Multiple file or directory matches were found. Using the first match)... MSFT never hesitates to surprise me, this time it seems to be in a good way, though.

[2022-04-06 16:26] stevencreaney opened #16102 "Publish Build Artifacts vs Publish Pipeline Artifacts"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Publish Build Artifacts

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure DevOps Server 2020 Update 1.1

- Agent - Hosted or Private: Private on Windows Server 2019 Standard

## Issue Description

More a question about Publish Build Artifacts vs Publish Pipeline Artifacts
We have several private build agents.

[2022-04-06 16:51] vivuu1989 opened #16103 "How to have multiple foreach iteration azurepipeline yaml?"
in azuredevops yaml pipeline, can we have nested forloop ? or multiple for loop.

My requirements here is to iterate the pipeline through the mapped variable values and this should be done across environments.

Eg: In my ADO repo i have 10 folders for each apps and in each apps i have 4 different variabletemplate files for each environment ,namely "vars-development.yaml, vars-staging.yaml, vars-pr

[2022-04-06 16:56] vivuu1989 opened #16104 "How to assign access policies to datalake storage account without recursive option"
It seems the Microsoft document on "az storage fs access update-recursive" is not clear not fully functional as per my testing. is there any way to do update alone without doing the update-recursive?

 I have an azuredevops pipeline to assign new access & default policies to the datalake storage account policies without affecting the exising ACL settings and which is working fine.

 But we are fac

[2022-04-06 17:01] anatolybolshakov commented on #16103
@vivuu1989 I would suggest to open a ticket on [deve](https://developercommunity.visualstudio.com/search?space=21) about this one - this repo is mostly for pipeline tasks related questions...
There is an [each expression ](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?view=azure-devops#each-keyword) which you could probably use, but I have not checked it by myself

[2022-04-06 18:29] tjohnson314 commented on #13946
Hi, my team is now hitting this same issue repeatedly.

Our app service includes a frontend that is deployed to the root, and a backend that is deployed to a /backend virtual path. We used the AzureRmWebAppDeployment@1 task with the VirtualApplication: 'backend' argument, and everything worked fine until last week.

Then we migrated the backend from .NET Core to .NET Framework. Now every time the

[2022-04-07 11:11] hisuwh commented on #5562
For anyone else who ends up here, this is what worked for me:

[code]

[2022-04-07 12:12] #15359 closed

[2022-04-07 12:12] #15351 closed

[2022-04-07 13:50] chrisimcevoy commented on #14647
I'm pretty sure I hit the same thing today. Strangely, on first deployment everything worked fine. But then every subsequent deployment over the next 2.5 hours failed with the same error message as OP had. I took lunch, came back an hour later and it's working again.

[2022-04-07 14:07] anatolybolshakov commented on #16095
@abatishchev could you please also share agent logs to investigate? I have not found any task.uploadfile command in task or relevant modules...
You can [gather](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#view-and-download-logs) these logs by setting up of Agent.Diagnostic variable to 'true' and enabling of diagnostic logs mode. These logs

[2022-04-07 14:12] anatolybolshakov commented on #15850
@anbuanand please ping if you have any questions

[2022-04-07 14:16] anatolybolshakov commented on #16048
Hi @awdavies90 please ping if you have any questions. You can probably build task by yourself and upload it via [tfx-cli](https://www.npmjs.com/package/tfx-cli ) to your local server, although this is not supported. These task changes will be released with one of the next releases of on-prem server.

[2022-04-07 14:42] anatolybolshakov commented on #15965
Hi @vininew921 do you have any updates?

[2022-04-07 14:43] anatolybolshakov commented on #16030
@riiikawang please ping if you have any other questions.

[2022-04-07 19:55] giulianisanches-inbev commented on #15129
I'm having exactly this issue. Is it possible to reopen this bug ?

[2022-04-07 20:55] abatishchev commented on #16095
hi @anatolybolshakov,
I've sent the logs over email. But also found the root cause, here's a fix:

[code]

[2022-04-07 20:55] #16095 closed

[2022-04-07 21:14] jshall commented on #15471
@v-jkarri I have a similar issue. I believe in my case it is because my subscription name contains an `'` which is not escaped in the stringified endpointObject.
I am willing to share my complete log directly, but like the OP I am hesitant to publish the full endpoint data on a public issue.

[2022-04-08 08:22] max-zaytsev commented on #16073
Closing this. @mahdi21174 let us know if it's still relevant for you.

[2022-04-08 09:05] abatishchev commented on #16099
More info. Here's working agent info:

[code]

And after it broke:

[code]

[2022-04-08 09:10] #14796 closed

[2022-04-08 09:19] MarkCallow commented on #12450
I am seeing the exact problem described by @richardgavel. When my program being run by PowerShell writes something to stderr,  PS shows only the first line of the output. When this happens in CI, where re-running is very difficult and time-consuming, it is infuriating. For example when  there is an error in a CMake configuration the only thing printed by PS is (something like) "CMake error:" The e

[2022-04-08 09:28] abatishchev commented on #16099
@bishal-pdMSFT ping on this issue, please. I don't believe I've changed anything between the moments it worked and it stopped. Last known good commit doesn't work either.

[2022-04-08 09:49] anatolybolshakov commented on #12450
Hi @MarkCallow could you please open separate ticket for this for us to take a look?

[2022-04-08 09:51] thisismyself commented on #15030
The issue is still happening, reopen the issue please.
In the output log I see
[code]
while on the UI it shows me 750 tests only (and is reporting like this in output log as well):
[code]
Meanwhile, in Visual Studio 2022, Test Explorer reports 875 tests. Yet another number :-/

[2022-04-08 10:31] MarkCallow commented on #12450
My issue is in PowerShell in Windows 10, nothing to do with Azure. Is this repo the right place to open the ticket?

[2022-04-08 10:35] anbuanand commented on #15850
sure, shall test out and let u know

On Thu, Apr 7, 2022 at 7:42 PM Anatoly Bolshakov ***@***.***>
wrote:

--
Thanks,
Anbu

[2022-04-08 10:46] anatolybolshakov commented on #12450
@MarkCallow got it, for this case I would suggest to probably open ticket in this repo - https://github.com/PowerShell/PowerShell

[2022-04-08 11:33] #16073 closed

[2022-04-08 13:41] richardgavel commented on #12450
@MarkCallow You're saying this happens to you even when just running on a normal command line manually?

[2022-04-08 14:00] anjagusev commented on #15471
I am also facing this issue. I simplified my PowerShell inline script to simply output "test" and it's still failing.

Here is my pipeline

[code]

Here is my service connection
![image](https://user-images.githubusercontent.com/3604461/162450532-dbcb85f4-11e3-4363-b2f9-ad7ddd9173d7.png)

And here are my exceptions
![image](https://user-images.githubusercontent.com/3604461/162450950-c3420093-5982-

[2022-04-08 14:06] janlugt commented on #14220
I spent 2.5 hours on this today, until I ran into this issue. Until this is solved, can it be mentioned as a known issue somewhere in the documentation? This is really hard to troubleshoot right now.

[2022-04-08 14:36] milbrandt opened #16109 "WindowsMachineFileCopy - parameter 'AdminUserName' required, in docu optional"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-04-08 15:20] milbrandt commented on #5738
Unfortunately, I had this issue today with task version Publish Pipeline Artifacts 1.199.0

[2022-04-08 18:11] abatishchev commented on #16099
Workaround: switch back to win2019:

[code]

[2022-04-08 20:54] nnellans opened #16110 "Support the -WhatIf switch on AzureResourceManagerTemplateDeploymentV3"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**:  AzureResourceManagerTemplateDeployment

## Environment
- Server - Azure Pipelines or TFS on-premises:  Azure Pipelines

- Agent - Hosted or Private:  Hosted, ubuntu-latest

## Issue Description

Would really love

[2022-04-08 22:02] KenticoDevTrev commented on #16088
Running into this same issue, thanks for identifying it, i was able to swap out the NuGetCommand with NuGetToolInstaller for now, and notified our team.  I really hope microsoft fixes this asap.

[2022-04-09 09:10] weichensw commented on #14726
Hi bot, keep it alive.

[2022-04-09 12:06] #15079 closed

[2022-04-10 00:19] #11064 closed

[2022-04-10 06:12] wouterroos commented on #13101
Commenting to prevent closure since this hasn’t been solved yet as far as I know.

[2022-04-11 06:57] QiuyongWang commented on #15868
@KonstantinTyukalov  Greetings. How's it going on this issue's fix deployment? Is there any place I could proactively to track that?

[2022-04-11 09:07] ricardoschroeder commented on #14640
This issue is still happening. Any comments on this?

[2022-04-11 09:17] MarkCallow commented on #12450
The issue I have happens on my AppVeyor CI builds. It is that when an external command, such as cmake, exits with an error or even just writes to stderr, only the first line written to stderr is printed by PS. If I do not have ErrorActionPreference set to stop then the entire message is printed, in red, and, of course, processing continues.

I just tried to reproduce this on PS on Windows 10 and t

[2022-04-11 13:09] pravinchopade commented on #15006
We are also facing the same issue, have we got any update on the same.

[2022-04-11 17:01] pradipd opened #16132 "Blob is incomplete (missing block)"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Bug and question

**Enter Task Name**:
- task: PublishBuildArtifacts@1

## Environment
Server: Azure Pipelines
Agent: Private
OS: Ubuntu 20.04 (or 18.04)

## Issue Description
We are running into the following error when trying to publish a zipped vhd

[2022-04-11 17:02] pradipd commented on #16132
@angop95 FYI

[2022-04-11 17:03] max-zaytsev commented on #16087
@paule96, please note that **_FTP Upload task_** supports (`FTP`) and  `FTPS` protocols, not `SFTP` (see [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/ftp-upload?view=azure-devops)).
The task uses [basic-ftp](https://github.com/patrickjuchli/basic-ftp) package under the hood which doesn't provide such [functionality](https://github.com/patrickjuchli/basic-ftp/issues/

[2022-04-11 17:29] MrCordeiro opened #16133 "UsePythonVersion@0 doesn't work with service containers"
*Type*: Bug

**Enter Task Name**: UsePythonVersion@0

## Environment
- Server - Azure Pipelines:
- account name: pluckd
- team project name: pluckd
- build number: #20220410.8

## Issue Description

Whenever I use the `UsePythonVersion@0` task in conjunction with service containers, I get one of the following error whenever I call `pip`, `python3` or `python`:

`/__w/_temp/114bae27-4b79-449b-a114-

[2022-04-11 19:59] paule96 commented on #16087
@max-zaytsev yes I saw this reference on basic-ftp. And as mentioned in your linked issue there is a possibility to implement proxy support.
So maybe we could still bring proxy support in a longer iteration. So the question is, if we can add the support to basic-ftp. The problem for me, is just that I don't have enough know how about ftp as a protocol. So for me it would be a relatively long way.

[2022-04-12 01:05] ranouf commented on #15057
Same here, any updates?

[2022-04-12 06:05] UsmanMohammad commented on #14584
There needs to be a better way for skipping a stage, manual validation step just causes it to register as a fail

[2022-04-12 07:47] abahuja opened #16134 "Exponential backoff retries"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question/Feature

**Enter Task Name**: Exponential backoff retries

## Issue Description

Is there a way to have exponential backoff retries with the tasks?
retryCountOnTaskFailure: number

[2022-04-12 08:22] superandrew opened #16135 "Dynamic secure filename for InstallAppleProvisioningProfile based on variable value set on steps"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-04-12 09:36] superandrew commented on #16135
in the end we managed with dynamic steps.

[2022-04-12 09:36] #16135 closed

[2022-04-12 12:53] maikelvanhaaren commented on #15532
@adalfa What is the preview feature?

[2022-04-12 13:09] adalfa commented on #15532
For what I've understood they changing the storage of the metadata

[2022-04-12 14:49] atindall9041 opened #16137 "PublishPipelineArtifact fails if artifact contains a symbolic link"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishPipelineArtifactV0

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishPipelineArtifactV0

## Environment
- Server: Azure Pipelines

- Agent - Hosted
- Agent q

[2022-04-12 14:59] JWDobken opened #16138 "HelmDeploy: Unable to locate executable file: 'kubectl'"
I have a pipeline task that should simply list all Helm installations;

[code]

But the pipeline task fails with:

[code]

In the same way, with the Kubernetes client, I can list all pods successfully:

[code]

[2022-04-12 18:57] rick-weyrauch-lol opened #16139 "Use an ODBC named DSN with SqlDacpacDeploymentOnMachineGroup"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: SqlDacpacDeploymentOnMachineGroup

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/SqlDacpacDeploymentOnMachineGroup

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - Azure Pipelines

- Agent - Hosted or Private:

    - Private

## Issue Description

Why isn't t

[2022-04-12 21:36] pradipd commented on #16132
We were able to resolve this by moving from publishbuildartifact to publishpipelineartifact.

[2022-04-12 21:36] #16132 closed

[2022-04-13 05:00] pravinchopade commented on #10513
We are also facing the same issue,

##[debug]Processed: ##vso[task.issue type=warning;]Unable to get feature flag: TestExecution.EnableTranslationApi
##[debug]Unable to get feature flag TestExecution.EnableTranslationApi Error:unable to get local issuer certificate
##[warning]Unable to get feature flag: TestExecution.EnableDiagnostics
##[debug]Processed: ##vso[task.issue type=warning;]Unable to ge

[2022-04-13 06:03] AndreyIvanov42 commented on #15946
Hi @sachip-msft
At the moment, the signing and verification process is going at a higher level by using a zip archive with tasks. Therefore, there are no security concerns in the execution of the files themselves, which are included in this archive.
In order to add a signing step for unsigned VstsTaskSdk files, we will need time, because now our team doesn't own access to this package publishing p

[2022-04-13 07:37] cannehag commented on #11640
I find it really annoying that this is, after two years, not fixed? It's an obvious inconsistency in the usage pattern and we just figured out that we are deploying debug builds to our production environment.

Shame on you Microsoft!

[2022-04-13 09:10] #15332 closed

[2022-04-13 11:42] JWDobken commented on #16138
Apperently I have to login first

[code]

[2022-04-13 11:42] #16138 closed

[2022-04-13 11:50] PiotrWachulec commented on #16110
Yes, we are waiting for a long time for that feature! It's reeeeealy needed!

[2022-04-13 12:09] william-li-nintex commented on #15929
Really hope this can be rolled out soon as .net 3.1 will be end of support by end of year

[2022-04-13 12:30] william-li-nintex opened #16143 "Which task to use to deploy azure functions v4 with .NET 6?"
## Note
I have also read in this [post thread](https://github.com/microsoft/azure-pipelines-tasks/issues/15929) that AzureFunctionAppV1 task doesn't support .NET 6, and I have tried [AzureRmWebAppDeploymentV4](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureRmWebAppDeploymentV4) and after deployment, this message shows up saying I should point back to function ~3.

## Req

[2022-04-13 12:35] kaijday opened #16144 "DownloadPackage "undefined" when downloading .tar since 1.202.0"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-04-13 13:08] TomasHubelbauer commented on #14322
I was not able to reproduce creating a SC with a multi-line password through the UI or the API and I see that GCR now offer the single-line version by default, but I still merged the PR which removes the logs that print the secrets. That should solve this.

[2022-04-13 13:08] #14322 closed

[2022-04-13 16:55] knunery commented on #14991
This issue is still occurring.

[2022-04-13 19:34] marat-irgebayev commented on #15584
Hi @romanrozinov, can you please provide minimal sample project that could simulate the same behaviour or may be provide an access to public git repo with mentioned in the logs project.

[2022-04-13 23:25] neoswallow commented on #16080
Fill out the form for the private beta test on the link at https://github.com/actions/virtual-environments/issues/3649#issuecomment-1087979762.
Public ETA is way off.
No ETA is given for private beta yet either but shouldn't be too long as it's started for GitHub Actions.

[2022-04-13 23:37] neoswallow commented on #15500
You have to use export options plist file.
[code]
And this is a Github gist for sample plist: https://gist.github.com/skabber/4f2b20c6bd18e5934909189489549cce

[2022-04-14 02:45] BruceYou2022 commented on #12364
##[warning]The provisioning style was not found in a pbxProject file. Automatic signing will be used. If the project uses manual signing, auto-export may fail. As a workaround, `Export options` can be set to `Plist` or `Specify`.

[2022-04-14 07:49] perosb opened #16151 "HelmDeploy@0 Set values doesn't work with lists/arrays"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy

## Environment
Azure Pipelines with hosted agents. Tried both windows-latest and ubuntu-latest

## Issue Description

When using the HelmDeploy task, you _must_ have quotes around lists/arrays or it will be treated as a single value.
The task seems to remove quotes around values.

![image](https:/

[2022-04-14 08:14] DenisRumyantsev commented on #15975
Hi @estepangugu, let me close this issue for now. Feel free to reopen it if you have any additional questions regarding the PythonScript task.

[2022-04-14 08:14] #15975 closed

[2022-04-14 09:10] #14720 closed

[2022-04-14 10:41] johnwhoffman commented on #7621
This issue just started on a single Test VM. System error 1219 when copying powershell scripts. I Add a "run" task just prior to the file copy task using the aforementioned net use /delete * and that solved the issue. We do have this in a task group so all other VMs will benefit. Thank you to whoever suggested adding the net /use /y /delete *

[2022-04-14 10:54] TripleEmcoder opened #16152 "DockerComposeV0 push actually calls `docker push` instead of `docker-compose push`"
This might be anything from a question through a bug to a feature request...

Is there a reason that this Docker Compose task:

[code]
enumerates services by reading YAML directly and calls `docker push` in a loop, instead of calling `docker-compose push` and relying in that tool's semantics?

https://github.com/microsoft/azure-pipelines-tasks/blob/44541f598e3b59abf5da166573ea7fa913dece67/Tasks/Do

[2022-04-14 11:07] phelje opened #16153 "console.log might reveal secrets"
https://github.com/microsoft/azure-pipelines-tasks/blob/334051d1e2cc122732629fe95b8be2ab3c7b64f7/Tasks/AzurePowerShellV5/azurepowershell.ts#L92

Should only log if debug is enabled, when using this PS task in Linux environment it reveals all the parameters used, if any of the parameters is a secret from another step it gets in the log... not god!

[2022-04-14 12:07] #15391 closed

[2022-04-14 12:29] RafaelGruhn commented on #15657
I solved this problem by installing version 14.5 of the IOS Simulator (by default I was using 15.0) and indicating for the tests to run on the simulators of that version

There seems to be an issue between the MAC version in Azure Pipelines and the version 15 simulators

[2022-04-14 18:42] felixboehm opened #16155 "JenkinsQueueJobV2 jobname with multiple parts "la/le/lu""
*Type*: Bug

**Enter Task Name**: JenkinsQueueJobV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Jenkins jobs can have many parts, like "porject/sub/name".
The jobname slashes are replaced by "/job/", yet in the script it replaces only the first occurance.
Hence the url is wrong for jobnames with multiple parts.

Please change the replace function to replaceAl

[2022-04-14 21:48] jswiniarski opened #16156 "AzureStaticWebApp@0 gets permission denied error when executed on self-hosted agent"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*:  Bug

**Enter Task Name**: AzureStaticWebApp@0

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
      -  Account: nethansa
      -  Proj

[2022-04-14 21:53] mattborja opened #16157 "Please remove extraneous call-to-actions from the default code coverage output template"
I'm noticing some sponsorship buttons in our Code Coverage area, which is under a restricted area:

<img width="1096" alt="image" src="https://user-images.githubusercontent.com/3855027/163482333-23617f4d-dfa8-4a72-90b1-4b6de15ec7d1.png">

Please kindly remove these as this is a red flag and candidate reason for plugin removal/replacement, or advise where would be more appropriate for me to submit

[2022-04-14 23:51] mattborja commented on #5562
@hisuwh Thanks for this lead! Though, I'm not prepared to onboard `PublishCodeCoverageResults` due to an unrecognized dependency it imports, it did help resolve the apparent disconnect that *.coverage files were not being published because the `VSTest` step wasn't producing a usable output.

I was able to successfully publish coverage results while that added step was under initial evaluation, tho

[2022-04-15 00:08] abatishchev commented on #16099
@bishal-pdMSFT @3loka any updated, please?

[2022-04-15 00:36] PavanMudigondaTR commented on #15243
@nadesu nadesu Please provide update on this questions i posted 6 months back !

[2022-04-15 06:18] AdamCoulterOz commented on #15929
It is open source, one of us (users) could submit a PR.

[2022-04-15 09:05] #15394 closed

[2022-04-15 12:07] #15392 closed

[2022-04-15 15:06] #12195 closed

[2022-04-16 06:07] #15398 closed

[2022-04-16 06:07] #14845 closed

[2022-04-16 12:06] #15388 closed

[2022-04-16 18:06] #15368 closed

[2022-04-17 00:35] tingram-hp opened #16159 "IISWebAppDeploymentOnMachineGroup - xmlVariableSubstitution - incorrectly injects values have '$&' inside them"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: IISWebAppDeploymentOnMachineGroup

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

When using the IISWebAppDeploymentOnMachineGroup task with the `xmlVariableSubstitution` setting enabled to inject a connection string that has the character sequence `$&` within it, that character sequence is replaced

[2022-04-17 01:36] tingram-hp commented on #16159
As a workaround, I disabled the `xmlVariableSubstitution` feature on the IISWebAppDeploymentOnMachineGroup task and ran the FileTransform task on my Web.config file it.  The FileTransform task works as expected.

[2022-04-18 07:52] AndreyIvanov42 commented on #16152
Hi @TripleEmcoder  thanks for reporting!
I think your question is more about the way it is implemented. Both implementations lead to same result.

[2022-04-18 08:00] AndreyIvanov42 commented on #16153
Hi @phelje  thanks for reporting! We'll look what we can do.

[2022-04-18 08:46] mammadovtoghrul commented on #15862
Hi @erossini-chi. Trying to reach to you once more. We would appreciate if you could review above mentioned thread and give some feedback.

[2022-04-18 10:58] vininew921 commented on #15965
Hi, I'm no longer working on the project that had these issues, but to answer to @golubev-ivan, there shouldn't be a variable with the name `SECRET` created, that is just the value that should be set for the `VUE_APP_SECRET` variable, which is not created.

[2022-04-18 11:29] KonstantinTyukalov commented on #15868
The related changes were successfully rolled out for all Azure DevOps users, so closing this.
If you have any further questions, feel free to request reopening this issue.

[2022-04-18 11:29] #15868 closed

[2022-04-18 15:58] LarsKemmann commented on #16072
Same issue. It looks like the task is no longer installing the 'iotedgedev' binary correctly for some reason.

This is a blocking issue for us. Please escalate this.

[2022-04-18 15:59] LarsKemmann commented on #15905
Is this connected with #16072?

[2022-04-18 17:28] edgariscoding opened #16163 "Intermittent ModuleNotFoundDuringParse error when using Send-MailKitMessage within a PowerShell script in our pipelines"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PowerShell

list here (V# not needed):  PowerShellV2
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build num

[2022-04-18 20:25] douglasjunior commented on #10935
For me, `yarn install` without cache takes `30s` on average.

<img width="239" alt="image" src="https://user-images.githubusercontent.com/1512341/163871708-24252381-86ff-40cb-89bb-e251baea2090.png">

[code]

And with Cache takes `30s` + `30s` on average.

<img width="273" alt="image" src="https://user-images.githubusercontent.com/1512341/163871945-92bc1f76-8d3b-4a88-8492-f955a369b95c.png">

[code]

[2022-04-19 03:04] konichi3 commented on #16072
Hi @arame

[IoTEdgeDev is a tool](https://github.com/Azure/iotedgedev) that the IoT Edge team built to simplify the dev experience.

You might want to check [previous GitHub issue](https://github.com/microsoft/azure-pipelines-tasks/issues/14167) where you can manually add command in your DevOps tasks to install iotedgedev.

[2022-04-19 03:05] konichi3 commented on #15905
Hi @LarsKemmann

Can you try to upgrade to Py3.8 or Py3.9?

[2022-04-19 03:10] LarsKemmann commented on #15905
I'm not using Python... Nowhere in my YAML is there a Python reference.

I just followed the CI/CD instructions for IoT Edge module development. My module is a C# (.NET 5/6) module.
________________________________
From: Koichi Hirao - MSFT ***@***.***>
Sent: Monday, April 18, 2022 11:06:03 PM
To: microsoft/azure-pipelines-tasks ***@***.***>
Cc: Lars Kemmann ***@***.***>; Mention ***@***.***>
Subj

[2022-04-19 11:11] jerptrs commented on #14550
Still nothing noted about this in the docs. Just searched 2 hours looking for the issue I had.

[2022-04-19 12:32] sean-mcl commented on #15006
Upvote

[2022-04-19 14:27] rantsi opened #16167 "AzureFunctionAppV1 fails due to missing permission to perform joinViaServiceEndpoint/action on subnet"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFunctionAppV1

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment

Private agent Agent.Version: 2.200.2 Agent.OSVersion: 10.0.17763

## Issue Descriptio

[2022-04-19 16:29] mhshami01 commented on #15941
hello @igorzdravkovic, @arame, and @mathiash98.

The issue has been fixed with the latest task version 2.202.0

Thank you

[2022-04-19 19:23] abatishchev commented on #16099
@bishal-pdMSFT @3loka any update, please?

[2022-04-19 22:17] konichi3 commented on #15905
There are two potential workaround that it may be worth trying.

1. Change the agent image to Ubuntu 20.0.4 ([source](https://github.com/microsoft/azure-pipelines-tasks/issues/13641))
or
2. Update cryptography agent version ([source](https://developercommunity.visualstudio.com/t/azure-iot-edge-2-preview-build-module-images-failu/586706))

[2022-04-20 06:01] SimonAlling commented on #14770
A comment from someone at Microsoft would be appreciated.

[2022-04-20 07:22] azurevivekgarg opened #16168 "NPM : The job running on agent Hosted Agent ran longer than the maximum time of 60 minutes"
Job is getting timed out while running the below command in azure pipelines:

**npm run test:integration**

All other commands except "npm run test:integration" are working fine. No error on the terminal

Tried "npm cache clean -f" but no luck.

Job is getting time out after 60 minutes.

![image](https://user-images.githubusercontent.com/100330815/164173183-9c0a1b99-5fd1-4c58-8337-8bcecc941f9c.png

[2022-04-20 08:12] DenisRumyantsev commented on #16048
Hi @awdavies90, let me close this issue for now. Feel free to reopen it if you have any additional questions about the PowerShell task. For now, you can upload it to your local server via tfx-cli, as was mentioned

[2022-04-20 08:12] #16048 closed

[2022-04-20 08:18] DenisRumyantsev commented on #15922
Hi @mastrzyz @octogonz, let me close this issue for now. Feel free to reopen it and provide additional info for further investigation

[2022-04-20 12:24] SvetlanaMaliugina commented on #16168
Hi, @azurevivekgarg! Have you tried to run the `npm run test:integration` command  locally (without using pipelines) or via CmdLine task ?

[2022-04-20 14:18] mmulhearn commented on #16089
I am also running into this issue.  I have a task in my pipeline that requires Windows so my agent is on a Windows image.  I need the Static Web App task to allow linux docker images on Windows agents.

[code]

[2022-04-20 15:14] VillSkog commented on #15097
I would absolutely like an update for that as well. In it's current state, the caching is absolutely useless for our setup with short lived branches. I would consider it a deal breaker for us at the moment.

[2022-04-20 15:21] gpetersOB commented on #8380
Agreed. This needs to be addressed for clarity.

[2022-04-20 20:21] octogonz commented on #15922
Our issue was with Microsoft-hosted agents, not self-hosted.

[2022-04-20 20:24] octogonz commented on #15922
@DenisRumyantsev how do you explain this? Is it expected behavior?

[2022-04-20 21:31] DenisRumyantsev commented on #15922
@octogonz could you please share logs of the failed pipeline with
`System.Debug` and `agent.diagnostic` pipeline variables enabled?
[code]

[2022-04-21 05:18] azurevivekgarg commented on #16168
Hi, @SvetlanaMaliugina Thanks for your response. Yes, we have tried it running locally and it was working fine there.

We are able to identify the root cause of this issue as there is a test data creation script that runs before integration tests start and seems like due to some changes/upgrades in the build agent the test data creation is not working.

Now I am working on it to test it by creatin

[2022-04-21 05:21] ylmcr7 commented on #2380
`jobs:
  backup:
    runs-on: ubuntu-latest
    name: Backup
    timeout-minutes: 60`

[2022-04-21 05:21] ylmcr7 commented on #2380
jobs:
  backup:
    runs-on: ubuntu-latest
    name: Backup
    timeout-minutes: 60

[2022-04-21 05:22] ylmcr7 commented on #2380
jobs:
  backup:
    runs-on: ubuntu-latest
    name: Backup
    timeout-minutes: 60

[2022-04-21 09:04] JohanKlijn opened #16171 "Looks like packDestination of DotNetCoreCLI@2 is not working when using the pack command"
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server: Azure Pipelines
- Agent: Hosted

## Issue Description

In my pipeline I am using the following yaml to create nuget packages for my project.
[code]
I would expect the nuget packages will be stored in  '$(Build.ArtifactStagingDirectory)/nuget/generatedpackages', which should be resolved to '/home/vsts/work/1/a/nuget/generat

[2022-04-21 09:11] #15163 closed

[2022-04-21 09:11] franky920920 commented on #15651
Hi @KonstantinTyukalov Only with MS-Hosted agent. Should I try this on a self-hosted agent?

[2022-04-21 09:40] KonstantinTyukalov commented on #15651
@franky920920 yes, could you please try it? It might be related with some network issues due virtualization. Just as a workaround

[2022-04-21 12:10] limsbeheer opened #16173 "An exception occurred while invoking executor 'executor://nodejstestexecutor/v1'"
## Required Information

**Question, Bug, or Feature?**
Bug

**Enter Task Name**: VsTest (Visual Studio Test)

## Environment
- Server - Azure Pipelines
- Agent - Private, OS: Windows Server 2016 Standard, agent version: 2.181.2

## Issue Description

We have a .NET 6 test project with both XUnit tests and Mocha tests. The Mocha tests are set up as described in https://docs.microsoft.com/en-us/vis

[2022-04-21 13:38] dldldlepl opened #16174 "Helm - Package and deploy task group handling of warnings"
## Issue Description

- The "Package and deploy Helm charts" task can either fail on warnings when "Fail on Standard Error" is selected or ignore the warnings silently by just printing them in the Log when "Fail on Standard Error" is not selected.

- I would like to have a way of showing the Warnings more prominent, because for example the warnings contain important information like a deprecation

[2022-04-21 17:03] fhtino commented on #11700
Any solution, workaround, fix, ...  for this?

[2022-04-21 18:06] #15412 closed

[2022-04-21 18:11] marat-irgebayev commented on #15584
Hi @romanrozinov, the mentioned MSBuild task was tested with a project containing multiple .sln files. The result log didn't show the behaviour you mentioned. Can you please provide your example of project or sample project (may be even pipeline yml file with configs) that can trigger the same result behaviour?

Log snippet that showed no anomalies in duration:
[code]

[2022-04-21 18:34] nilskj commented on #15532
I'm facing this issue in one of my new pipelines I setup today. Previously deployed image worked and app is even served, CLI finds the web app service. Pipeline intermittently fails deploy with the above error message even though the app service exists.

[2022-04-21 21:06] #15316 closed

[2022-04-21 23:38] ddprince-yaksa opened #16175 "Question: Why does DotNetCoreInstaller@1 marked as deprecated?"
Hi,

I was building a pipeline when VS Code brought to my attention that the task DotNetCoreInstaller@1 is marked as deprecated. I then tried to look for alternatives or suggestions, but even under the documentation, I can't find any information regarding its deprecation: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops.

I feel like i

[2022-04-22 06:02] simonachmueller commented on #11677
@ShreyasRmsft @anshii03 this issue needs to be definitely re-opened, we are facing a similar problem (very well described here https://github.com/microsoft/vstest/issues/981#issuecomment-1034093540)

[2022-04-22 08:27] solarist commented on #14362
So because of [this bug](https://github.com/helm/helm/issues/10239) in Helm the `--dependency-update` flag does not work in `helm upgrade`. Can this issue be re-opened again?

[2022-04-22 08:30] solarist commented on #14362
So because of https://github.com/helm/helm/issues/10239 the `--dependency-update` flag does not work in `helm upgrade`. Can this issue be re-opened again?

[2022-04-22 09:09] #15409 closed

[2022-04-22 09:09] #15397 closed

[2022-04-22 11:41] TripleEmcoder commented on #16152
Well, not exactly. The reason I asked is because the behavior is different, actually, or least does not allow the same scenarios. My use case is pushing only a single image from a multi-container (duh) docker-compose.yml (e.g. service1, service2).

Running docker-compose directly and specifying the container name works as expected:
[code]

Things are different when running DockerCompose@0 even wit

[2022-04-22 12:16] DavidUrting commented on #11451
Also an issue for me, I would like to exclude a specific directory with the **/XD option**.

[2022-04-22 13:03] jpolmanstater commented on #16144
Got the same error. Managed to get the 1.198 version from another server. Using that one in our private marketplace.

[2022-04-22 14:45] m-ghaoui commented on #15532
For what it's worth, I changed my deployment Tasks to "Run From Package". That seemed to help, but obviously it's not a solution for everyone.

[2022-04-22 15:16] mrhcongc commented on #16144
Also getting this error for all files downloaded. Their file size are all 9 and contents are "undefined".

[2022-04-22 16:52] rajeevs84 commented on #16144
Same problem. All artifacts are size 9 and "undefined"

[2022-04-22 16:55] niklev commented on #16144
same problem!

[2022-04-22 18:02] MaryanneNjeri opened #16178 "Visible Rule doesn't work with forward slash."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-04-23 07:25] fume commented on #6885
even if late, i would like to say happy birthday to this issue which is still open and now is 4 years old!

Happy Birthday #6885 !!!

[2022-04-23 15:18] jiaw37 commented on #16144
As a temporary workaround for build pipelines you can lock the version of a task with ` - task: DownloadPackage@1.198.0`

[2022-04-23 20:49] bothzoli commented on #14220
@ivanst0 sorry I didn't have much time lately, but I finally started looking into it today.
hopefully I'll be able to get the PR ready within a few days.

[2022-04-23 20:58] SahithKesireddy9 commented on #16144
Microsoft Azure DevOps team released 1.202.4 (Download Package) version to remediate this issue.

[2022-04-23 21:05] #14756 closed

[2022-04-24 10:53] blacksails commented on #6364
Can we reopen this please and get it fixed for the `publish` shorthand and `PublishPipelineArtifacts`?

[2022-04-24 12:07] #15419 closed

[2022-04-24 12:35] bothzoli commented on #14220
I created the PR, although I can see that a few things are still missing.
Please feel free to review though, I'll try to update the PR with the requirements ASAP.

[2022-04-24 12:42] timothy-volvo commented on #14771
Is there any way to re-open this ticket? It is still valid and the PR is still pending review.

cc: @anatolybolshakov, @andy-mishechkin, @vladislav-ryzhov, @max-zaytsev

[2022-04-24 16:07] drdamour commented on #6364
@blacksails they almost never reopen, better to open a new ticket and mention this one

[2022-04-24 17:27] max-zaytsev commented on #16168
@azurevivekgarg Do you have any updates? Could you please provide logs for both the successful and failed pipeline?

[2022-04-24 18:22] Bouke commented on #14328
This issue hasn’t been resolved.

[2022-04-24 21:24] kenhawkins opened #16183 "Azure Web App Deploy Task cannot verify host key though information is present during task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureWebAppDeploy

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment

- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name,

[2022-04-24 22:47] abatishchev commented on #16099
@bishal-pdMSFT @3loka @miskander any response or update or _anything_, please?

[2022-04-25 04:54] bishal-pdMSFT commented on #16099
@abatishchev apologies for missing! I do not own this task anymore. Adding correct owners - @rvairavelu and @naga-bandi

[2022-04-25 06:28] virtualvoid commented on #15599
OK, I have figured it out (the harder way), the jobs have to be deployed into **site\jobs** not into **site\wwwroot\app_data\jobs** or whatever the path in the documentation was.

The wwwwroot is read-only when the package is deployed using devops.

[2022-04-25 08:51] #16178 closed

[2022-04-25 09:26] Nirmal4G commented on #6460
Any status on this? Seems like TAEF is not supported by `VSTest` task. Is it under a different name or is it not supported?

[2022-04-25 11:46] rvairavelu commented on #16099
@abatishchev - can you please check with "DRI-GitHub-Actions-Compute" team/MMS / Actions Compute for any agent related issues, as this issue seems to be with agent @Iccha Sethi

[2022-04-25 12:25] timothy-volvo commented on #14771
@DenisRumyantsev, thanks. Do you know who I can get to look at #14777?

[2022-04-25 15:12] #15416 closed

[2022-04-25 16:26] abatishchev commented on #16099
@rvairavelu the issue is not with internal project but open source. so I don't think ADO DRI is the correct escalation path. can someone else be brough up here to take a look?

[2022-04-25 16:44] marianan commented on #15941
Closing the issue, please update if the symptoms persist.

[2022-04-25 16:44] #15941 closed

[2022-04-25 16:53] abatishchev commented on #13033
Getting this error from `dotnet test` for a test project having multiple target frameworks.

[2022-04-25 17:39] max-zaytsev commented on #14771
Hi @timothy-volvo Thanks for reporting!
We are currently working on more prioritized issues, but will get back to this one as soon as we can

[2022-04-25 18:10] #15426 closed, assigned to nadesu

[2022-04-25 19:24] 50Wliu commented on #14784
Still relevant.

[2022-04-25 19:36] mswilson4040 opened #16186 "Docker repository ***/ prefix"
From the docs:

- Why does the task automatically prefix *****/** to the repository name? Can I disable this so I can run `docker create` without it throwing an exception for reference format?
- The tags property is dependent on repository being present. If no repository is specified, no tags are added.

I am hitting an issue because I am unable to run `docker create -i -t --name pipelinecontainer

[2022-04-25 20:27] b4icurmt commented on #15793
We are also in this situation. We migrated to Cloud Service (Extended Support). But, there is no way to deploy the code.

[2022-04-25 20:49] mattmunich commented on #15793
Ultimately I wound up using powershell to deploy the extended support cloud services and I found this stackoverflow post extremely helpful:

SO: https://stackoverflow.com/a/71564689/4244666
Docs: https://docs.microsoft.com/en-us/azure/cloud-services-extended-support/deploy-powershell

[2022-04-25 20:53] mswilson4040 commented on #16186
After some closer looks at threads, the ***/ is just censored content. The ***/ is just your repository (something.azurecr.io).After figuring that out, the command works just fine.

`docker create -i -t --name pipelinecontainer something.azureacr.io/my-container:$(Build.BuildId)`

[2022-04-25 20:53] #16186 closed

[2022-04-26 07:13] stefanhendriks commented on #16089
Same here:

[code]

Results into:

[code]

Running on:
[code]
(I cannot use `windows-latest` in my case, but it *must* be a windows image)

[2022-04-26 09:34] totalgit74 commented on #13409
Bump

[2022-04-26 09:35] totalgit74 commented on #13409
Bump

[2022-04-26 11:18] Amleto opened #16187 "vstest rerun fails with nunit testcase"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VSTest@2

## Environment
- Server - tfs on-premises

    - If using TFS on-premises, provide the version:
[code]

- Agent - Hosted or Private:
    - private, win 10, Current agent version: '2.181.2'

## Issue Description

- NUnit adapter 3.11.2.0
- Microsoft Test Execution Command Line Tool Version 17.2.0-pre

[2022-04-26 13:18] gprossliner opened #16190 "The Bash@3 task ignores the `target: container` step setting."
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Bash@3,

## Environment
- Server: `TFS on-premises`
- If using TFS on-premises, provide the version:  `Version Dev18.M170.6`

- Agent - Hosted or Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version:
    - Linux Agent, running in Container `uname -a: Lin

[2022-04-26 19:48] jeffersoneagley commented on #2058
This is still broken

[2022-04-26 19:53] jeffersoneagley opened #16193 "Can't attach screenshots from test runs to test runs"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Publish Test Results

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Pipelines
    - If using TFS on-p

[2022-04-27 08:52] msmolka opened #16194 "Cache@2 after cache restore `dotnet build` is not seeing restored packages"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug/Question

**Enter Task Name**: Cache@2

## Environment
- Server - Azure Pipelines

## Issue Description
Cache is properly set and restored. Cache configured based on:
https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/caching-nuget?view=azure-devops#cache-nuget-packages

[code]

Then `dotnet build` is run and task i

[2022-04-27 09:15] stefanhendriks commented on #16089
I worked around this issue by executing this `step` in a separate `job` with a linux image. However, preferred way would be to be able to run this within one and the same vm image.

[2022-04-27 09:25] MarkCallow commented on #12450
I finally got an answer. Appveyor does not use Azure so the issue I am facing, though identical to what is reported here, has a different cause.

[2022-04-27 15:10] johnterickson commented on #16194
Add some directory listing steps to your workflow to see if those files are getting restored.

[2022-04-27 17:07] james1301 commented on #10353
@acesiddhu is there an update on this?

[2022-04-27 18:51] Kozlov-Igor commented on #16190
Hi @gprossliner thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-04-27 19:26] acatuttle commented on #15415
Any progress on this? Support for environment variable mapping as suggested would also solve parsing issues that can be encountered when secret variables contain certain characters that are interpreted by PowerShell or Azure CLI.

[2022-04-28 00:26] #14245 closed

[2022-04-28 06:53] abatishchev commented on #16099
@rvairavelu any update on this issue, please?

[2022-04-28 07:45] msmolka commented on #16194
There is something wrong with documentation or with paths. I'm using windows machine as build.
when I'm using this link:
https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/caching-nuget?view=azure-devops#cache-nuget-packages

`NUGET_PACKAGES: ''`

The empty path is not working.

when I'm using this example:
https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view

[2022-04-28 10:19] gprossliner commented on #16190
Hi @Kozlov-Igor. thank you for the answer.

* In the meantime I checked the code of the task. There is nothing related to container here. Maybe this should be handled by the agent itself?
* I was checking the Agents source, and noticed this PR: https://github.com/microsoft/azure-pipelines-agent/pull/3035
* By using the `agent.containermapping` var, i can run the exec itself, so I have a workaround

[2022-04-28 11:29] SvetlanaMaliugina commented on #16155
Hi @felixboehm  thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-04-28 12:02] SvetlanaMaliugina commented on #16163
Hi @edgariscoding! Thanks for reporting! Could you please provide us minimal reproducible steps (for example: some sample project)?

[2022-04-28 12:10] edgariscoding commented on #16163
@SvetlanaMaliugina I ended up solving this issue, or I guess getting around it, by using an Azure hosted agent to run the script. I was originally running it on a self hosted agent and it seems the issue was due to some missing packages and because Send-MailKitMessage required powershell 7

[2022-04-28 12:10] #16163 closed

[2022-04-28 12:24] QiuyongWang opened #16200 "Bug/new feature - MavenV3 task's JaCoCo built-in code coverage tool can't support multi-module maven project."
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug or new Feature
**Enter Task Name**: MavenV3
CodeCoverage Tool : JaCoCo.

Multi-module maven project can’t use this MavenV3 task’s built-in JaCoCo plugin code coverage tool to create report successfully.
It is caused by the generic error – “Can't add different class with same name.”

For one example questionable class which is used

[2022-04-28 13:28] ethanturk commented on #15451
This is a very annoying problem. Please fix this.

[2022-04-28 13:36] MrMikeJJ opened #16201 "NuGetToolInstaller doesn't abort on web timeout. Waits for job timeout"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-04-28 15:09] #15159 closed

[2022-04-28 17:07] TanayParikh opened #16202 "Azure Pipelines Archive Task With Missing File Produces Vague Error"
I think I have an update on this bug. The ENOENT occurred in a feature branch when the file/folder did not exist. In which case, this is a valid error.

My only suggestion would be to possibly change the "spawnSync" / ENOENT error message so that it mentions "File not found" or "folder not found".

_Originally posted by @tinytone in https://github.com/microsoft/azure-pipelines-tasks/issues/8418#is

[2022-04-28 17:35] kracwarlock opened #16203 "`conda` pipeline cache restoration fails due to `tar` permission errors"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: `Cache@2`

## Environment
- Server - Azure Pipelines
- Agent - Private: `ubuntu-latest`

## Issue Description

`conda` cache restore fails for me when there is a cache hit. My pipeline looks like this:

[code]

### Task logs

[code]

[2022-04-28 17:37] kracwarlock commented on #16203
Similar to https://github.com/microsoft/azure-pipelines-tasks/issues/12179#issuecomment-602318031, I have been using this workaround:
[code]

[2022-04-28 19:52] Bazul99 commented on #13232
In our case I'm fairly certain that the issue stems from the fact that we're deploying to a set of IIS servers running in Shared Configuration.  The deployment agent is running only on one server so a restart or reset before deployment performed by the pipeline via the agent only happens on 1/2 of the Shared Configuration so it doesn't always do the trick if the file is locked by the other server.

[2022-04-28 21:50] MisinformedDNA commented on #11864
I'm seeing this intermittently as well. This run took 2 min and 46 seconds to download 1.7GB. Running a NuGet restore takes less time than that.

[2022-04-28 22:32] taspeotis commented on #11864
We have "solved" this by getting rid of the cache task and using the most recent version of npm with `npm ci` where possible. The most recent versions are faster than the cache task when the cache task misbehaves.

Anyway Microsoft is obviously no longer developing Azure DevOps so the other "solution" is to switch to GitHub Actions. [setup-node has caching built in](https://github.blog/changelog/2

[2022-04-28 22:42] sheldonhull commented on #14584
I found this also looking for a way to mark the pipeline as a skip, warning, or something other than a failure.
I also can't find any mention of output variable that would allow me to just add a post timeout step to write a message to slack for "$(manualvalidation.Reason)" or such to put in timeout rather than decline. That might be a separate issue, but if the state was exposed as a variable outp

[2022-04-29 06:41] jnteisseire-wesoftit commented on #15577
Same here, the .p12 seems correct, the openssl command succeeds on my machine but fails on the agent.

[2022-04-29 08:43] QiuyongWang commented on #16200
@KonstantinTyukalov , ask you requested, I've submitted this new issue with details. Appreciate EG team review and prioritize it.

[2022-04-29 09:43] KonstantinTyukalov commented on #16200
@QiuyongWang thank you for the information provided! We will take a look at this once we've dealt with the higher priority tickets

[2022-04-29 13:35] daniaalnadir commented on #15451
Same issue here, very annoying, any updates

[2022-04-29 15:06] #15288 closed

[2022-04-29 17:06] gabrielkunkel commented on #6561
My 2 cents is let people list multiple feeds, separated by semi-colons. I'm in a case where the streams cannot be combined and I can't just add a nuget.config file. Best idea is whatever makes things possible. More options > less options. This limitation will require me to use Jenkins today.

[2022-04-29 20:20] minj1992 commented on #11876
OMG  after spending  lots of time i did it and found your solution very lately in this forum . anyway nice work :)

[2022-04-30 00:51] georgewfisher commented on #6840
This issue still needs to be fixed for AzureCLI@2 tasks

[2022-04-30 02:50] luiszun opened #16222 "DownloadBuildArtifacts extractTars code is different from the one used by ExtractFiles"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-04-30 03:17] alexstanfx commented on #9460
I get the same "MsBuild or xbuild" not found when using a locally hosted agent on my Mac M1.

The reason I had to install a local agent is that the pipelines on both appcenter and Azure DevOps are not NET6/C# 10 compatible. At least not when running the XamariniOS@2 task.

My question is about the error the OP and I receive: How does the build process know there is no MSBuild or xbuild on my Machi

[2022-04-30 09:06] #15439 closed

[2022-05-01 06:10] #15448 closed

[2022-05-01 06:10] #15428 closed

[2022-05-01 06:10] #15403 closed

[2022-05-01 15:05] #15441 closed

[2022-05-01 15:05] #15421 closed

[2022-05-01 18:07] #15457 closed

[2022-05-01 19:16] thurfir commented on #13223
Up to prevent this issue being closed.

[2022-05-02 03:56] v-mohithgc commented on #16099
Logs of the failed build is not sufficient to proceed with further investigation, can you please set variable system.debug to true.

[2022-05-02 03:59] abatishchev commented on #16099
@v-mohithgc please see https://dev.azure.com/abatishchev/OpenSource/_build/results?buildId=984&view=results

[2022-05-02 06:23] WilliamAntonRohm commented on #15982
#assign:@anatolybolshakov

[2022-05-02 09:06] #15447 closed

[2022-05-02 09:59] SimonAlling commented on #14770
I disagree with this premise. That the task is named `cURLUploader` (not `cURL`) and that the `files` property is required indicate, to me, that the task is specifically intended for uploading files. If it were "just a wrapper", it wouldn't [unconditionally include the `-T` flag](https://github.com/microsoft/azure-pipelines-tasks/blob/c976a428215d2a9fe23e6c64070c787656d42353/Tasks/CUrlUploaderV2/c

[2022-05-02 14:06] DigCamara commented on #15522
Seems to me that this bug should not have been closed. In one of the [changed files](https://github.com/microsoft/azure-pipelines-tasks/blob/c4d2d877b8f1540df02ded60210f00745f330957/Tasks/VsTestV2/inputparser.ts) the validation of the version was not modified (line 246).

[2022-05-02 15:54] neoswallow opened #16225 "AppCenterDistributeV3 distribute to Apple App Store succeeds but the task itself always ends with an error."
*Type*: Bug

**Enter Task Name**: AppCenterDistributeV3

## Environment
- Server - Azure Pipelines
    - Account name: sportsyou
    - Project name: sportsYou App 2
    - Pipeline name: mmrdigital.sy-app-react-v2
    - Build number: 1236

- Agent - Hosted or Private: Happens on both ms-hosted and self-hosted agents.

## Issue Description

When the destinationType is set to 'store' and is for Apple

[2022-05-02 15:59] neoswallow opened #16226 "Add an option to omit sdk for XcodeV5"
## Required Information

*Type*: Feature

**Enter Task Name**: XcodeV5

## Environment
- Server - Azure Pipelines
    - Account name: sportsyou
    - Project name: sportsYou App 2
    - Pipeline name: mmrdigital.sy-app-react-v2

## Issue Description

We're trying to bundle watchOS app on iOS app.
But since that task always specify sdk option, it fails to compile watchOS app.
When we tested locally

[2022-05-02 17:15] jmyersmsft commented on #16096
`npm` always places node_modules in the folder containing package.json or the global folder, depending on whether you specify `--global`. It doesn't look like this can be changed. You could try playing with the `--prefix` option (I suggest replacing the `Npm` task with the `NpmAuthenticate` task plus a script task such as `powershell` to invoke `npm` directly), but that may have unintended effects

[2022-05-02 17:15] #16096 closed

[2022-05-02 19:22] #16226 closed

[2022-05-02 19:23] neoswallow commented on #16226
I think setting it with an empty string rather than not setting it seems to work.

[2022-05-02 20:47] iSureshBadagi commented on #4592
Looking for this feature to be part of NuGetCommand@2.

[2022-05-03 11:19] github-actions[bot] opened #16242 "[AppCenterDistributeV1] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:22] github-actions[bot] opened #16243 "[AppCenterDistributeV2] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:23] github-actions[bot] opened #16244 "[AppCenterDistributeV3] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:25] github-actions[bot] opened #16245 "[AppCenterTestV1] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:25] github-actions[bot] opened #16246 "[AzureMonitorAlertsV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:25] github-actions[bot] opened #16247 "[ContainerStructureTestV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:25] github-actions[bot] opened #16248 "[DownloadGitHubNpmPackageV1] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:25] github-actions[bot] opened #16249 "[DownloadGitHubNugetPackageV1] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:25] github-actions[bot] opened #16250 "[DownloadGitHubReleaseV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:25] github-actions[bot] opened #16251 "[NpmAuthenticateV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:25] github-actions[bot] opened #16252 "[NuGetCommandV2] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:25] github-actions[bot] opened #16253 "[NuGetInstallerV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:25] github-actions[bot] opened #16254 "[NuGetPublisherV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:25] github-actions[bot] opened #16255 "[NuGetRestoreV1] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16256 "[NuGetToolInstallerV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16257 "[NuGetToolInstallerV1] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16258 "[NuGetV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16259 "[OpenPolicyAgentInstallerV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16260 "[PipAuthenticateV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16261 "[PipAuthenticateV1] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16262 "[PublishCodeCoverageResultsV2] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16263 "[PublishTestResultsV1] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16264 "[PyPIPublisherV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16265 "[TwineAuthenticateV0] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16266 "[TwineAuthenticateV1] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16267 "[VsTestPlatformToolInstallerV1] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16268 "[VsTestV2] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 11:26] github-actions[bot] opened #16269 "[XamarinTestCloudV1] Migrate "execution" from Node 6 to Node 10"
The issue uses the Node 6 runtime and should be migrated to Node 10. Once done on the master branch, this issue will self-close.

[2022-05-03 14:00] gprossliner opened #16270 "KubernetesManifest@0 `action: bake` fails silently"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: KubernetesManifest@0

## Environment
- Server: `TFS on-premises`
- If using TFS on-premises, provide the version:  `Version Dev18.M170.6`

- Agent - Hosted or Private:
    - If using private agent, provide the OS of th

[2022-05-03 14:21] neilrees opened #16271 "AzureMonitor@1 DevOps pipeline task uses ADAL"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureMonitor

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
        - Can provide in private if required

- Agent - Hosted or Private:  Neither, this task is Agentless

## Issue Description

When using the AzureMonitorV1 task

[2022-05-03 16:23] zurgur commented on #14323
is this being worked on?

[2022-05-03 16:34] luiszun opened #16272 "DownloadBuildArtifacts extractTars code is different from the one used by ExtractFiles"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadBuildArtifacts

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: mscatapult, buildId:806464

- Agent - Hosted or Private: Hosted

    - If using Hosted agent, provide agent queue name: ubuntu 20.04

## Issue Description

[2022-05-03 16:34] luiszun commented on #16222
Closing as posted new one https://github.com/microsoft/azure-pipelines-tasks/issues/16272

The auto thing run failed, trying luck again there

[2022-05-03 16:34] #16222 closed

[2022-05-03 19:54] dmccolloughOneGas opened #16273 "VSTS Agents self hosted on a Mac"
Question, I would like to run my self hosted Mac build agents as a daemon on my Mac mini so that I don't have to login to the Mac using the service account.

I have them running as launchd services, they work perfectly if I login to the Mac mini using our service account. This presents a problem if the server reboots for something, we are mostly working from home, so if it reboots and the build ag

[2022-05-03 22:49] sapeavy opened #16275 "AzureStaticWebApp using Ubuntu container gives warning and can't find app path"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureStaticWebApp

## Environment
- Server - Azure Pipelines
- Agent - Private, Ubuntu

## Issue Description
I built an Ubuntu-based agent container and set my job to run using this container. The task fails when run in a container. There is a warning about not being able to set an environment variable and it

[2022-05-04 07:03] yuval9313 opened #16276 "Cache task fails when directory not found"
In most of the CI environments, if cache is not found, do nothing, it is not a breaking point of the CI and the pipeline won't fail on these matters

I use caching on the CI pipeline in which I publish artifact to CD pipeline (Release pipeline)

Yet, not everytime I run the CI cache is emitted, which might happen, and I'm ok with this

But when it doesn't, then the containing folder of the cache i

[2022-05-04 09:29] v-mohithgc commented on #16099
Hi, this seems to be Nuget incompatibility issue.
Error CS006 In my opinion is a common cause created by one of the below reasons:

* Different .net version used by some of the libraries.
* Nuget package not updated in one of the referenced libraries.
* Project file with different configuration.

I guess this issue is related to Nuget fix, @phil-hodgson and his team owns Nugget related task.
And a

[2022-05-04 12:15] Kozlov-Igor commented on #16202
Hi @TanayParikh  thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-05-04 12:32] VivekRajagopal commented on #16175
Hey David I came across the same error in VS Code. Switched to [`UseDotNet@2`](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops) and no error :)

[2022-05-04 14:56] hangy opened #16278 "[UseDotNetV2] Task sets user-wide proxy settings"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: UseDotNetV2

## Environment
- Server: Azure DevOps Server 2020 Update 1.1
- Agent: VstsAgent 2.202.0 on Windows Server 2019

## Issue Description

As seen in the following snippet, the UseDotNetV2 task copies the proxy information to `%APPDATA%\NuGet\NuGet.Config` by using `nuget.exe config -set …`.

htt

[2022-05-04 15:24] hangy opened #16279 "[DotNetCoreCLIV2] dotnet tool restore should be a built-in command"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server: Azure DevOps Server 2020 Update 1.1
- Agent: VstsAgent 2.202.0 on Windows Server 2019

## Issue Description

When using a tool manifest (`.config\dotnet-tools.json` in the current directory), you can restore tools using `dotnet tool restore`. Unfortunately, the DotNetCoreCLI task requires

[2022-05-04 16:14] feliasson opened #16280 "Setting output variable directly from AzureResourceManagerTemplateDeployment@3 deployment output value gives leading whitespace"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureResourceManagerTemplateDeployment@3

## Environment
- Server - Azure Pipelines
- Agent - Private, Ubuntu20.04
  - Azure DevOps + VMSS
  - VM-extension (Microsoft.Azure.DevOps.Pipelines.Agent - Microsoft.VisualStudio.Services.TeamServicesAgentLinux - 1.22)

## Issue Description

Setting output variables w

[2022-05-04 16:50] Kozlov-Igor commented on #16273
Hi @dmccolloughOneGas! This repo is related to Azure Pipeline Tasks, if you want to ask a question about agent please create issue on https://github.com/microsoft/azure-pipelines-agent.  But check it out first. Perhaps this documentation will be useful in your case -  https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-osx?view=azure-devops#automatic-login-and-lock.

[2022-05-04 16:53] #16273 closed

[2022-05-04 17:09] fredzach opened #16281 "HelmDeployV0: updatedependency broken for v3+"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeployV0

## Issue Description

This task allows for the parameter `updatedependency`, but this does not work for Helm v3+.

Helm v3 renamed the option `--dep-up` to `--dependency-update`, but this task still only supports the v2 version (without noting this in the docs).

[code]

I'm planning to pick this up myself.

[2022-05-04 17:16] ddprince-yaksa commented on #16175
Oh, I should have thought it was as simple as that eheh! Thanks!

[2022-05-04 17:16] #16175 closed

[2022-05-04 18:34] jmyersmsft commented on #16099
I don't think this is related to the task. See [my comment in the other ticket](https://github.com/actions/virtual-environments/issues/5372#issuecomment-1117673332)

[2022-05-04 18:47] #16099 closed

[2022-05-04 19:02] hbuckle commented on #14300
Not stale - still needs fixing

[2022-05-04 21:10] svrooij commented on #16280
Actually the issue is that the current version of the task encodes values with `JSON.stringify(...)` which results in the variables having `"value"` instead of `value`

[2022-05-04 23:08] rogfut opened #16284 "CopyFilesOverSSH fails on MacOS agent with "Unable to create target folder""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-05-05 00:45] feliasson commented on #16280
@svrooij  Thanks for the input, really appreciate it!
Checked out your issue and commits to understand further why it happened and how you seem to have hopefully solved it once they merge your PR.
As you can see in my issue, I didn't do any deep-dive into the actual code of the AzureResourceManagerTemplateDeployment@3 task, just saw something was not correct trying to directly use these output val

[2022-05-05 06:05] svrooij commented on #16280
No worries, I just discovered the related bug at roughly the same time as you. And was already working on a pr to fix it.

[2022-05-05 07:00] max-zaytsev commented on #16168
@azurevivekgarg is this issue still actual for you?

[2022-05-05 07:17] azurevivekgarg commented on #16168
Yes @max-zaytsev
I have reported this issue back to the MS support team and they are looking into it. After so much analysis and debug it seems like some process is waiting at the backend in the pipeline which is waiting for another process to share the response but still not clear whether that is in the Agent issue or code because the test cases are working fine on local system.

Thanks
Vivek Gar

[2022-05-05 07:19] azurevivekgarg commented on #16168
[Working_April6_Logs.zip](https://github.com/microsoft/azure-pipelines-tasks/files/8629335/Working_April6_Logs.zip)
[Fail_Ubuntu_Latest_logs_74154.zip](https://github.com/microsoft/azure-pipelines-tasks/files/8629337/Fail_Ubuntu_Latest_logs_74154.zip)

@max-zaytsev Here are the logs for your reference.

[2022-05-05 10:52] HejdasGonnaHate commented on #16187
I have the same problem. Since test case arguments are enclosed in parenthesis `( )` in the full name of the test, they need to be escaped via `\` to work. [See vs test docs "Escape Sequences"](https://github.com/Microsoft/vstest-docs/blob/main/docs/filter.md)

In your case the `\` character needs to be escaped as well like this: `\(4\\,2.7068d\\,1.4408d\)`

In my opinion there should be some auto

[2022-05-05 11:32] TMattes commented on #14587
Still no action on this bug. :(

[2022-05-05 12:12] #15461 closed

[2022-05-05 15:10] #15453 closed

[2022-05-05 17:20] hangy opened #16286 "[DownloadBuildArtifactsV0] Should support no_proxy"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadBuildArtifacts@0

## Environment
- Server: Azure DevOps Server 2020 Update 1.1
- Agent: VstsAgent 2.202.0 on Windows Server 2019

## Issue Description

Currently, our (old style) release pipelines are blocked, because the DownloadBuildArtifactsV0 task does not understand the `no_proxy` environment variable, and tries to downl

[2022-05-05 21:05] #15463 closed

[2022-05-06 13:30] itsme112358 opened #16293 "PublishPipelineArtifact fails on a regular basis. Upload to Blob fails/times out."
## Required Information

Entering this information will route you directly to the right team and expedite traction.
*Type*: Bug

**Enter Task Name**: [PublishPipelineArtifactV1](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishPipelineArtifactV1)

## Environment
- Azure Pipelines in DevOps Service (https://dev.azure.com/AareonRelionGmbH/RELion%20Entwicklung%20-%20Core/_b

[2022-05-06 17:41] itsme112358 commented on #16293
I now have a complete verbose log of a failed run. Is there a way I can send the zip to you? I don't want to go through thousands of lines of logs to remove internal data.

[2022-05-07 06:06] #14173 closed

[2022-05-07 18:04] twist250 commented on #6885
OMG, in the last two days I thought I'm doing it wrong, please fix this issue

[2022-05-07 19:32] MohammedQureshi opened #16295 "Gradle Build Fail due to hsqldb"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**:

list here (V# not needed):  Gradle hsqldb support
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premise

[2022-05-07 19:57] #16295 closed

[2022-05-08 19:59] Tetradeus commented on #9242
I did manage to bypass it with a symbolic link + temp path  :
[code]

[2022-05-08 21:06] #15476 closed

[2022-05-09 06:44] Q-er commented on #16286
I have the same problem.
Unfortunately your described solution/workaround did not work for me.
It seems like `azure-devops-node-api` >= `8.0.0` does not support DevOps Server 2020.
So we are stuck with `7.2.0`.

Instead what DID work for me was updating the `typed-rest-client` package inside of ` azure-devops-node-api` to the latest version.
I think this is the PR that made it work:
https://github

[2022-05-09 07:54] itsme112358 commented on #16293
Any news? Since friday only a single build completed, this is getting unacceptable.
The one that completed also took far longer than normal (48 min instead of 18~20min)
![image](https://user-images.githubusercontent.com/16080908/167365237-fe80bc39-b491-4d4e-9174-6d3d2c6195d7.png)

[2022-05-09 10:18] ransagy commented on #15542
Just to be clear - Are we saying people should, in general, not ever use DotNetCoreCLIV2 task anymore and replace it by cmd/bash/pwsh calls? (and maybe NuGetV0/NuGetCommandV2? others?)

[2022-05-09 10:28] Ogglas commented on #15057
Tried it again and the same thing happens. Is anyone looking into this?

[2022-05-09 19:42] beyerleinf commented on #14375
Not currently using Azure DevOps Artifacts but this still seems to be an issue

[2022-05-09 21:28] mattwcole commented on #16152
This tripped me up too. I expected to be able to use this task to push a subset of the services defined in my compose file (like you can [with the CLI](https://docs.docker.com/compose/reference/push/)).

The task supports this when building services (by supplying the service names in `arguments`), but not when pushing them.

[2022-05-10 04:21] doeringp commented on #14812
You can even unset the http proxy only for this single task:

[code]

[2022-05-10 09:56] Khusainov opened #16299 "AzureRmWebAppDeployment ignores AdditionalArguments for PublishProfile provider"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: [AzureRmWebAppDeployment](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureRmWebAppDeploymentV4)

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - NA

- Agent - Hosted or Pr

[2022-05-10 11:12] purijatin commented on #10353
This is a pain point. We have a repo that has java, python and dotnet modules. And cumbersome to merge all of them to a single report.

[2022-05-10 12:11] james1301 opened #16300 "Merge code coverage reports (Chase up issue)"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

Type: bug
Enter Task Name: PublishCodeCoverageResults@1

## Environment
Server - Azure Pipelines

- Agent - Hosted

## Issue Description

This is an a redirection of what is happening to bug: #10353. Somebody is assigned who doesn't seem to be working on the project. Just wondering

[2022-05-10 14:21] DutchBlackOp opened #16301 "Microsoft.TeamFoundation.DistributedTask.MSBuild.Logger.dll does not always find all warnings and fails the build"
### Issue Description

When running builds in azure devops server 2020 Update 1.1 the build sometime fails with the following error.
- ##[error]Value cannot be null. (Parameter 'Parent timeline record has not been created for this new timeline record.')

### Expected Behavior

MSBuild/azure-pipelines-agent to correctly report all warnings that occurred during a build and doesn't fail the build.

#

[2022-05-10 18:24] damienwebdev opened #16302 "HelmInstall@latest installs a very stale version of Helm"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-05-10 18:28] damienwebdev commented on #16302
closing. Caused by https://github.com/helm/helm/issues/10947

[2022-05-10 21:27] DenisRumyantsev commented on #13033
Hi @abatishchev, could you please provide a link to your test project if it is public?
If not, could you provide steps to create such a test project to reproduce this issue?

[2022-05-10 21:32] KirillOsenkov commented on #16301
@anatolybolshakov

[2022-05-10 21:33] DenisRumyantsev commented on #13033
Hi @stesee, could you please provide a hash of the commit on which this issue is reproduced in this project?

[2022-05-10 23:26] gianox opened #16303 "New .NET Core sdk released today crashes my NuGetCommand"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NuGetCommand

## Environment
- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name:
#20220510.14 Update azure-pipelines.yml for Azure Pipelines
Using macos-latest

## Issue Description

NuGetCommand started failing today after .NET Core sdk was updated to 6.0.300

![image](https://user-images.githubuserc

[2022-05-11 03:41] catoxliu opened #16304 "setvariable in bash will add unexpected double quotes at the end of the variable."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: script

## Environment
- Server - Azure Pipelines
- Agent - Private: Azure VM (Windows)

## Issue Description

Follow the doc trying to set a variable during runtime
[code]

get the output:
[code]

And this of course f

[2022-05-11 05:52] stesee commented on #13033
As far as I can remember it was the change in the dependency https://github.com/Codeuctivity/OpenXmlToHtml/commit/9569b6fdc4d5b0dc25562673509ca1d70416023c#diff-5d0f6f7eb881422177fbe495c1b81ac39b4a349ab25c4299dcbe7ec13aa4cfb0L13

There was some disposing missing in the code of PuppeteerSharp.Renderer 1.1.14 which got fixed here
https://github.com/Codeuctivity/PuppeteerSharp.Renderer/compare/1.1.23.

[2022-05-11 12:23] QiuyongWang commented on #15868
@mhainke , wondering if you could go to another issue https://github.com/microsoft/azure-pipelines-tasks/issues/16200 , the developer is asking about some details on the multi-module maven project symptom on the maven task jacoco feature error.

[2022-05-11 12:27] QiuyongWang commented on #16200
@kirill-ivlev The user "mhainke" is facing this issue when using devops mavenV3 task for his multi-module maven project, who has  participated in another issue - https://github.com/microsoft/azure-pipelines-tasks/issues/15868.   I've suggested him to discuss with you in this issue to find appropriate materials for you.

[2022-05-11 14:43] jasric89 commented on #14744
Can we have an update on this please?

[2022-05-11 16:39] thurfir commented on #15497
Hi, this would still be an huge boon for our build times.

[2022-05-11 17:21] anatolybolshakov commented on #16301
Hi @DutchBlackOp could you please share which MSBuild task version do you use? This issue has been fixed in MSBuild task v1.197.0 - usually on-prem server releases receive tasks updates with some delay

[2022-05-11 21:06] #15467 closed

[2022-05-12 06:48] japj commented on #16301
I believe we are currently using v1.198.0 of the MSBuild task, since we needed to have VS2022 support on AzureDevOps 2020 server, but @DutchBlackOp can confirm what exactly are using.

It might not be entirely clear from the issue text, but we did reproduce this issue (using MSBuild replay binlog) on the latest Microsoft.TeamFoundation.DistributedTask.MSBuild.Logger.dll (v5) as referred to from ht

[2022-05-12 07:17] DutchBlackOp commented on #16301
We are currently using v1.198.0. And like @japj mentioned we also tested the issue on the latest Microsoft.TeamFoundation.DistributedTask.MSBuild.Logger.dll (v5)

[2022-05-12 12:13] #13569 closed

[2022-05-12 15:08] anatolybolshakov commented on #16284
Hi @rogfut there was a significant leap in agent/task versions during your upgrade, so it's hard to tell if this is some agent/task issue or side-effect of some updates at the moment. The issue you mentioned was related to UNC paths, but as I see per logs - you don't use UNC paths...
Seems like task is unable to create target folder on remote machine - does the agent user have enough permissions t

[2022-05-12 18:28] rogfut commented on #16284
Hi @anatolybolshakov thanks for the reply.  Correct, we don't use UNC paths but I referenced the bug because the symptom is the same - not necessarily the root cause.  Yes, the vsts agent has access to ssh to the target server and has rwx on the root directory where it is trying to write the files.  I confirmed that the vsts agent is logging into the remote server via ssh by looking at the access

[2022-05-12 22:47] catoxliu commented on #16304
Hi @anatolybolshakov, thanks for your reply, that makes sense.
Yeah, check the docs again, all of them using `bash` or `powershell`, so I must be too careless.

[2022-05-12 22:47] #16304 closed

[2022-05-13 00:06] blogcraft commented on #4945
I also find uploading the code coverage result to be extremely slow making me even considering to remove it.

[2022-05-13 09:10] #15484 closed

[2022-05-13 12:39] anatolybolshakov commented on #16284
Btw have you tried other target folder locations? Does it happen only for specific one?
As I see there is a lack of error details for target folder creation - created [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/16324) to fix this.
I suspect that there could be some other error not related to permissions - could you please also try to copy files to some already existing folder on r

[2022-05-13 15:52] dferretti commented on #10831
Also I think there are differences between `projects` and `searchPatternPack` - I am able to pass a multiline string to `projects` for a restore or build command, but not pack. For example I am trying to build a reusable template to restore/build/pack like this:
[code]
however, if I try to use this template with a multiline string, only restore and build succeed:
[code]
Those 2 projects will be fo

[2022-05-13 17:00] rogfut commented on #16284
Hey @anatolybolshakov thank you for the PR.  I just tried to copy to an existing directory `roger/test`  on the target server and was successful. Additionally, I tried using `ssh2-sftp-client@^5.1.4` - the same lib the task uses - and can successfully create a directory on the target server.  Here is my code:

[code]

 I did notice that the CopyFilesOverSSH task does prepend a `./` to the path if

[2022-05-13 17:08] AlexEyler commented on #15963
Hi @bishal-pdMSFT - is there anything I can do to help get this tracked? It's caused us to have to do some pretty significant hacks in order to make our build pipelines work with workloads.

[2022-05-13 17:17] koljada opened #16325 "Build is failing when PackageVersion is specified using floating version"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment
**Server** Azure Pipelines
https://techfinity.visualstudio.com/Lib.Azure/_build/results?buildId=1192&view=logs&j=85d215f4-f754-5125-7b2d-475e6367e012&t=c0f78b06-671a-5a39-9fbb-99e756047ab8
**Agent** Hosted agent using `windows-2022`

## Issue Description

Dotnet build is failing when PackageVersion in

[2022-05-13 18:32] anatolybolshakov commented on #16284
@rogfut thanks! Yes, seems like there's some error during folder creation definitely (although hidden due to lack of verbosity in related code) - let me take a look what else we could do to troubleshoot it next week.

[2022-05-14 01:41] adrianvmsft commented on #15467
I still think this issue should be revisited. Automatically ignoring test hangs is dangerous.

[2022-05-14 15:05] #15468 closed

[2022-05-14 19:26] kdubau commented on #11934
This is still a bug. At least with NUnit results format.

[2022-05-14 21:19] GaTechThomas commented on #11934
It's there something preventing us from opening a PR to fix this ourselves? I'll dig in if there's a good chance of a PR being accepted.

[2022-05-15 00:29] #15186 closed

[2022-05-16 07:52] DutchBlackOp commented on #16301
Hello @anatolybolshakov, I only have the raw logging of the pipeline. Because this error does not occur 100% of the time I cannot reproduce it easily with extra logging commands. I've added the raw logging privately to my [developercommunity post](https://developercommunity.visualstudio.com/t/MicrosoftTeamFoundationDistributedTask/10036125?space=22&entry=problem&viewtype=all)
Let me know if this i

[2022-05-16 11:49] hangy commented on #16286
I actually never tried it, and only based my assumption on the updated library, which incorporated the fix. Did you just replace the DownloadBuildArtifacts@0 task server-side?

[2022-05-16 11:57] etkr commented on #16270
With bake kompose and `System.Debug: true` get a failure on

`##[debug]Input object is not proper K8s resource object.`

Full log

[code]

[2022-05-16 16:18] anatolybolshakov commented on #16301
@DutchBlackOp yes, I've already examined raw logs, but haven't found this error here - so it would be very helpful to check pipeline logs. I'm not sure if this is the same issue as in  https://github.com/microsoft/azure-pipelines-tasks/issues/14863 - (although it's probably similar)

[2022-05-16 19:40] onionhammer commented on #14805
I just ran into this naturally, tearing my hair out for hours trying to figure out whats going on

[2022-05-16 20:21] ocitrev commented on #15139
This is now a blocking issue, Azure DevOps now requires TLS1.2 on all connections.

https://devblogs.microsoft.com/devops/deprecating-weak-cryptographic-standards-tls-1-0-and-1-1-in-azure-devops-services/

This is causing pipelines to fail.
Can we have a resolution as soon as possible ?

As a workaround, I used the PoweSshell script referenced here: https://github.com/microsoft/azure-devops-tls12

[2022-05-16 21:51] carl-tanner commented on #15139
This should be deployed in symbol publish tasks >= 2.199.  I checked and 2.202 is currently deployed to production.  Can you verify the version of the publish task you are using?

[2022-05-16 21:52] lkfabu2022 commented on #12838
I'm running into this exact thing.
Was there any resolution to this issue?

[2022-05-16 23:20] ocitrev commented on #15139
I did update the agent to version 2.202.0 earlier today and I still got the error before I did the registry changes.

[code]

[2022-05-17 08:48] scp-mb commented on #15139
@carl-tanner Also still seeing the same issue, agent version is `2.200.2` but the publish symbols task seems to be `2.198.0` on a run from a few hours ago

[code]

[2022-05-17 09:38] bertschronja commented on #13983
This is still the case for ArtifactTool 0.2.236.

[2022-05-17 09:43] bertschronja opened #16326 "Universal Package does not create new package if a similar name already exists"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-05-17 11:54] cosminstirbu commented on #16025
Any news on this?

[2022-05-17 12:34] MaceWindu opened #16327 "PublishTestResults@2 uploads doesn't work from linux host"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishTestResults@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name

[2022-05-17 15:18] doggy8088 opened #16329 "AzureRmWebAppDeploymentV4 unable to use Publish Profile if user choose a folder"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: `Bug`

**Enter Task Name**: `AzureRmWebAppDeploymentV4`

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version: `N/A`

    - If using Azure Pipelines, provide the account name, team p

[2022-05-17 15:46] anatolybolshakov commented on #3472
Hi everyone! We've completed related PR and going fully roll out changes in the next 1-2 weeks, will let you know once it's fully available.

[2022-05-18 08:05] Peter-B- commented on #15542
Hello,

I just want to sum up the suggestion by @nkolev92 for reference:

Replace the normal dotnet restore task
[code]

with a separate Nuget authenticate and a Powershell `dotnet restore` task:
[code]

[2022-05-18 09:14] choukimasri commented on #14971
@DenisRumyantsev  I'm commenting so the issue doesn't disappear in the wild, any updates ?

[2022-05-18 12:03] BennyBread commented on #15006
Upvote +

[2022-05-18 13:15] anatolybolshakov commented on #10642
Hi everyone! Current 'ssh2' version for CopyFilesOverSSHV0 task is [1.4.0](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/CopyFilesOverSSHV0/package.json#L20), which should resolve this issue - please let us know if you still see it.

[2022-05-18 14:22] anatolybolshakov commented on #11508
@gpomykala thanks for reporting! Let us take a look at it as possible enhancement - we could probably just use NODE_EXTRA_CA_CERTS variable to set up as Agent.CAInfo value (or consider any other ways of resolution here).

[2022-05-18 14:39] adurangalvis opened #16337 "Exit code -1073741819 - Can't download secure file self-hosted agent."
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Pre-job: DownloadSecureFile, DownloadSecureFile@1

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version: Azure Pipelines with self hosted agent. Agent v2.202.1

    - If using

[2022-05-18 14:42] anatolybolshakov commented on #12673
Hi @tillig I would suggest to open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it - this is more related to ADO side, and interpolation is not supported at the moment for secure file names unfortunately for some security reasons as I understand... (although there could be probably some options to resolve it some other way)

[2022-05-18 14:53] anatolybolshakov commented on #12364
Hi @sfuqua have you tried to use [Install Apple Provisioning Profile task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/install-apple-provisioning-profile?view=azure-devops) - to install related provisioning profile?

[2022-05-18 15:00] anatolybolshakov commented on #12935
Hi @FranzKohl we are working on more prioritized items at the moment, but going to get back to this one as possible enhancement once be able to

[2022-05-18 15:13] anatolybolshakov commented on #14094
@plaa @fowl2 thanks for reporting and contribution! We are currently working on more prioritized items at the moment, but will get back to this one once be able to.

[2022-05-18 15:24] tillig commented on #12673
[I've filed a suggestion there.](https://developercommunity.visualstudio.com/t/Ability-to-use-variables-in-Secure-Files/10046330?space=21&q=Use+variables+in+Secure+Files+task&entry=suggestion) I'll close this and follow up there. Unfortunately, I've had some fairly poor luck with getting traction in that developer community in the past, so here's hoping. 🤞

[2022-05-18 15:24] #12673 closed

[2022-05-18 16:11] zivkan commented on #15542
FWIW, I think it was actually @magleaso's suggestion: https://github.com/microsoft/azure-pipelines-tasks/issues/15542#issuecomment-982018356

[2022-05-18 16:17] sfuqua commented on #12364
Yes, the profiles and certs are installed, that is not the issue.
________________________________
From: Anatoly Bolshakov ***@***.***>
Sent: Wednesday, May 18, 2022 7:54 AM
To: microsoft/azure-pipelines-tasks ***@***.***>
Cc: Steven Fuqua ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azure-pipelines-tasks] Unclear how to use project's provisioning settings using ***@***.*** (#12364)

[2022-05-18 16:51] anatolybolshakov commented on #15232
Hi @proofit404 @asottile @scbedd thanks for reporting and contribution! Let us take a look.

[2022-05-18 22:57] lkfabu2022 commented on #16049
@v-nagarajku
Any update on this?

[2022-05-19 00:25] #15501 closed

[2022-05-19 06:57] microsoft-github-policy-service[bot] opened #16339 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 08:08] Philippe85 commented on #15514
I don't understand this "stale" ! I never have answer on my question.
We need a "preview" mode as the "preview" on Terraform, to see the changes that will be done on Azure ressources, before to execute really the changes.

[2022-05-19 10:25] vjoshi-msft commented on #12183
@simonachmueller  Just to confirm is this bug resolved?

[2022-05-19 10:51] jongrey opened #16341 "No matching tcm test case result found issue."
Agent: Virtual machine scale set INF-TA-VMSS2
Task: Visual Studio Test
Version: 2.203.0
Test Platform: Visual Studio 2019

Issue: Since last week, all new tests and tests with updated namespace/class name/test name exceeding 150 symbols cause a warning message to be posted in the test run log, and such tests are not included in the test result dashboard (marked as "Others" but not displayed when "

[2022-05-19 12:48] dbabineau-vr commented on #7208
for those struggling with this across platforms the only thing that worked for me across Linux / Windows was the following without quotes but with a single leading '\':

[code]

anything else either failed the task, failed silently or inserted unwanted quotes in the build number in one platform or another, we shouldn't have to resort to platform conditionals for such a simple function

[2022-05-19 14:20] anandsowm opened #16342 "SqlServer Dacpac - Deployment fails when parameter has hyphen character"
**Question, Bug, or Feature?**
*Type*:  Bug

**Enter Task Name**:  SQL Data project - Dacpac Deploy - post deployment script unable to handle hyphen in parameter values

## Environment
- Server - Deploying to on prem or Azure SQL server
- Microsoft.SqlServer.Dac - ver 150.18208

## Issue Description

 when SqlDacPac Deploy method is called with parameters, when the parameter has a hyphen character

[2022-05-19 14:24] adrien-constant opened #16343 "KubernetesManifest@0 createSecret fails when value contains a space (multiline) with error "exactly one NAME is required, got 3""
## Required Information

*Type*: BUG

**Enter Task Name**:  KubernetesManifest@0

## Environment
- Server - Azure Pipelines
- Account name: scamark
- Team Project Name: Website/IdentityServer
- Build number: 0.1.168

- Agent - Hosted or Private: HOSTED

## Issue Description

When using task `KubernetesManifest@0` with action `createSecret` and multiline secrets, the task fails when the value used

[2022-05-19 16:10] kirill-ivlev commented on #16200
@QiuyongWang
This issue was discussed offline, the customer agreed that we could close this thread.

Quick summary:
If you want to include code coverage & test results in ADO you have two ways to achieve that:
1. Configure project dependency and coverage module (as described here: https://cylab.be/blog/97/compute-code-coverage-for-a-multi-module-maven-project-with-jacoco).
2. Don't include any add

[2022-05-19 20:06] drewkg commented on #15409
Please re open, as this is still an existing bug.  If you are not going to actually fix it at least have the decency to say Won't Fix!

[2022-05-20 00:33] G-Rath commented on #14869
This is not stale - I've had a PR open that'd fix this for 6+ months now

[2022-05-20 06:34] robmaas commented on #16341
Yes, having the same issue in `windows-latest` in a `VSTest@2` task.

[2022-05-20 07:16] daweedz commented on #16341
We have had the same issue using v17.2 (latest stable)

[2022-05-20 08:04] kaylumah commented on #15449
Ran into this issue after updating VisualStudioTestPlatformInstaller has any progress been made regarding this?

[2022-05-20 10:43] redeeze commented on #16325
I added   **arguments: --no-build** to the build step and it got me past it, but then fails with the same error during pack.

[2022-05-20 10:54] Nidolai commented on #16341
Experiencing the same issue using v17.2.0.

[2022-05-20 11:40] daweedz commented on #16341
We tried to use 17.1, 17.0, 16.11.0 as explicit versions to try if that would not show those warnings anymore in our pipelines but to no avail :(

[2022-05-20 11:48] jongrey commented on #16341
It seems that the issue is reproduced only for tasks with "Test selection type" = Test Assembly, and "Test filter criteria" = Test Category.

![image](https://user-images.githubusercontent.com/5725128/169521787-50dc2074-ba6e-4bee-8284-7dae08e3e892.png)

When "Test selection type" = Test Plan, or "Test filter criteria" = Test Name, the issue is not reproduced.

[2022-05-20 11:50] daweedz commented on #16341
Interesting since that is exactly what we use as well.

[2022-05-20 12:07] FreeFrags commented on #13232
We solved our issue by stopping the application pool then deploying and restarting the application pool

[2022-05-20 14:41] ashish-tamhane commented on #15449
Running into the same issue. Any progress on this yet?

[2022-05-20 14:43] jakubch1 commented on #15449
@andy-mishechkin @kaylumah @ashish-tamhane is code coverage really missing or you are just getting this warning?

[2022-05-20 14:47] AftabMultani opened #16345 "Issue occurred during deployment process using SQLFile"
## Note
Issue is coming during deployment process using type as SQL File.

For a List:
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/SqlAzureDacpacDeploymentV1

When we are using Deployment method as SQL Files then its having an issue when there's an error in between the file.
Generally when we are running this kind of file in SQL Server manually, it will only skip the erron

[2022-05-20 14:47] ashish-tamhane commented on #15449
I am just getting this warning. Code Coverage is being generated perfectly.

[2022-05-20 14:59] jakubch1 commented on #15449
@phanikmmsft could you please simply remove this warning from your code? Code coverage is using now CLR Instrumentation Engine and Intellitrace files are not needed anymore so this warning is useless.