[2017-02-16 20:56] ericsciple commented on #3111
...oops the change is only in master, not in releases/m112

[2017-02-16 21:03] ericsciple commented on #3111
and tfx is here: https://github.com/Microsoft/tfs-cli
the build tasks upload command is what you want

[2017-02-16 23:50] dbreshears commented on #3521
@rh78.    Can you try the localized tooling again. This should be fixed.

[2017-02-17 08:37] nigurr commented on #3528
@cgapeart sorry If I am unable to get this right.

By default the working dir -> agent/work/1/s/
the pattern is -> **/Test*.xml
in windows -> it's case insensitive
in linux -> it's case sensitive

This should work if your files are under /s/ path. if windows version is doing something out of this directory, that's a bug.

I hope this answers your query. feel free to post your build configuration a

[2017-02-17 08:37] vimegh commented on #3352
@jasonbrome I am closing this issue on github for now as the main cause for this issue was that the jacoco report creation was getting skipped. You can further send us the sample project at devops_tools@microsoft.com in order for us to help you out in resolving your problem. Please feel free to reopen the issue, in case required.

[2017-02-17 08:37] #3352 closed

[2017-02-17 08:38] arjgupta commented on #3554
Hi @jaquelinecramos , Thanks for reporting this issue. Can you tell whether you are facing this issue intermittently or continuously. Also, Can you please send the full debug logs at RM_Customer_Queries@microsoft.com

[2017-02-17 08:49] nixel2007 opened #3639 "TFS 2015 U3 - custom task isn't visible"
Hello.
I've create an extension with some custom tasks.
When I upload this extension to VSTS, I can found them in build-def steps.
Then I've tried to install this extension on (on prem) TFS 2015, project collection also was selected. But I can't find my tasks at build-def (i've checked the `all` category also).
Any tips I missed?

My task.json looks like this:
[code]

P.S. Sorry, if I post in wron

[2017-02-17 08:51] nixel2007 commented on #3639
Want to add - I've tried install other extensions ([this](https://marketplace.visualstudio.com/items?itemName=nkdagility.gittasks&targetId=a0d9ff6d-52a1-4e04-aa95-4dc437ec6ab9) for example) - I can add them to my build-def without any problems

[2017-02-17 08:51] dersteve opened #3640 "Execute UWP Unit tests projects on Windows Server 2016 Build Controller with TFS 2015 Build Agent (non xaml)"
On a Windows Server 2016 machine with a TFS 2015 Build Agent (TFS Build System - not the old XAML Builds) the execution of UWP Unit Tests hangs/fails.

When logging on to the server the UWP unit test app is started, but it seems to fail to communicate back to the test runner. The test runner runs into a timeout, when looking into the logs.

[2017-02-17 08:57] jamesatgithub commented on #2067
@madhurig
logs of two of attempts of using different wild card path copied below:

2017-02-10T01:59:15.2404750Z ##[section]Starting: Test Mobile/App.IOS/bin/iPhone/Release/**/*.ipa with Xamarin.UITest in Xamarin Test Cloud
2017-02-10T01:59:15.3112540Z ==============================================================================
2017-02-10T01:59:15.3127260Z Task         : Xamarin Test Cloud
2017-0

[2017-02-17 08:57] nigurr commented on #3605
@lmussier Currently we do support latest version (coverage-04.dtd).
We do welcome your support in improving this.

Please do vote for this in user voice forum so that we can prioritize the same
https://visualstudio.uservoice.com/forums/330519-team-services/category/145281-test

[2017-02-17 08:57] #3605 closed

[2017-02-17 10:24] podgito commented on #3587
I investigated further. Everything is fine with regards the MSDeploy (using single quotes instead of double)

The issue I'm actually seeing now is that **redeploying the same build with new setParam value is not seen on the server's web.config**. It requires me to create a new build and release that, then the new value is seen.

You can close this issue and I will investigate this other issue. Wou

[2017-02-17 12:18] jaquelinecramos commented on #3554
Hi, Arjun!

Yes, this issue is continuously.

Follows log files.

Thanks!

Jaqueline Ramos

+55 11 94139-5980

Skype: jaqueline.cramos1

Blog: jaquelinecramos.com

________________________________
De: Arjun Gupta <notifications@github.com>
Enviado: sexta-feira, 17 de fevereiro de 2017 08:38
Para: Microsoft/vsts-tasks
Cc: jaquelinecramos; Mention
Assunto: Re: [Microsoft/vsts-tasks] Azure File Copy

[2017-02-17 13:01] arjgupta commented on #3312
Hi @onionhammer , do these intermittent errors occurs even when the app offline option is set?

[2017-02-17 13:39] onionhammer commented on #3312
@arjgupta yes.

[2017-02-17 15:05] eliasnawfal opened #3644 "RemotePowershell Fails When Firewall Applied to Agent"
If I apply a **External** firewall to my Agent :  Blocking all TCP connection but allowing all TCP connections from server.
RemotePowershell Fails after timeout.
`##[debug]Fetched Endpoint:SystemVssConnection
2017-02-17T14:54:16.2806533Z ##[debug]AuthorizationType : OAuth
2017-02-17T14:54:16.6244136Z ##[debug]VssConnection created
2017-02-17T14:54:16.6244136Z ##[debug]Starting Register-Environment

[2017-02-17 16:31] bgavrilMS opened #3645 "Build Variables should not be capitalized"
If I set a custom build variable, for example: **hello = world**
And then I run a script that prints all the env variables
I get back:

**HELLO                          world**

This is a problem because many systems are case sensitive. In our case, we are using Appium (a well known test framework) to run Android and iOS tests. The tests are configured to listen to environment variables that we th

[2017-02-17 16:35] mjcheetham commented on #3645
Looks like [this](https://github.com/Microsoft/vsts-agent/blob/d830baaacc55701b3a05c0c35cf84fe5cf09161d/src/Agent.Worker/Handlers/Handler.cs#L138) is the place where `ToUpperInvariant()` is being called.

**[src/Agent.Worker/Handlers/Handler.cs:138](https://github.com/Microsoft/vsts-agent/blob/d830baaacc55701b3a05c0c35cf84fe5cf09161d/src/Agent.Worker/Handlers/Handler.cs#L138)**
[code]

[2017-02-17 16:40] ericsciple commented on #3645
not an issue with the tasks in this repo. i'll start a mail thread offline

[2017-02-17 16:40] #3645 closed

[2017-02-17 17:03] renatotkr commented on #3111
@ericsciple
Thanks for the info, I managed to install the latest version following your steps

Did couple of tests and it appears to be working fine

I would like to suggest to automatically update all the in the box tasks more often, 4 months is a long time (if I understood correctly, only for on premise TFS)

Thanks for the help

[2017-02-17 17:58] bgavrilMS commented on #3588
Might work with a .runsettings file - have a look at DeleteDeploymentDirectoryAfterTestRunIsComplete property https://msdn.microsoft.com/en-us/library/jj635153.aspx

[2017-02-17 18:03] UsmanMohammad commented on #3312
[code]

Had this happen just now on one of our deploys. The following options are ticked
``
Publish using Web Deploy
Remove Additional Files at Destination
Take App Offline
``

Why does "Take App Offline" not shutdown the web app?

[2017-02-17 20:01] vip32 commented on #3311
hi @sachinma any ETA for building core on vsts (hosted build)? will it be available when vs2017 RTMs early march?

[2017-02-17 20:18] amccool opened #3648 "Task for deploying SSRS reports"
deploying SSRS reports can be very convulsed active, requiring either custom code, bizarre scripting, or a combination of both

a task using [Reporting Services PowerShell](https://github.com/Microsoft/ReportingServicesTools) behind the scenes would of great help

[2017-02-18 02:44] lczc1988 commented on #3051
@mvvsubbu

Seem same issue for customer projectell2.visualstudio.com

2017-02-18T00:48:23.9313041Z ==============================================================================
2017-02-18T00:48:23.9313041Z Task         : Azure SQL Database Deployment
2017-02-18T00:48:23.9313041Z Description  : Deploy Azure SQL DB using DACPAC or run scripts using SQLCMD
2017-02-18T00:48:23.9313041Z Version      :

[2017-02-18 18:13] yuvallb commented on #3485
I am using my own windows build server (VM on Azure), and transferring a zip file to a linux server (~35MB).

[2017-02-20 04:26] cltshivash commented on #3588
@marianogenovese We don't have plans to do that. We will take up the ask an enhancement request.

[2017-02-20 04:26] #3588 closed

[2017-02-20 04:27] #1486 closed

[2017-02-20 04:56] #3625 closed

[2017-02-20 04:57] nigurr commented on #3583
Please let us know if it fixed your issue

[2017-02-20 05:01] #3492 closed

[2017-02-20 05:03] nigurr commented on #3471
@juramicrosoft this seems to be not an issue with the task. Can you confirm is it because of your custom implementation?

[2017-02-20 05:03] #3471 closed

[2017-02-20 05:07] #3440 closed

[2017-02-20 05:10] nigurr commented on #3563
@ardz With v2 version, we are supporting Windows 8 and newer OS versions.
http://stackoverflow.com/questions/32960388/creating-a-scheduled-task-on-windows-7-using-powershell-4

[2017-02-20 05:10] #3563 closed

[2017-02-20 05:12] #3490 closed

[2017-02-20 05:13] nigurr commented on #2717
Closing this issue as there' no response. feel free to reopen it :)

[2017-02-20 05:13] #2717 closed

[2017-02-20 05:13] #3024 closed

[2017-02-20 05:17] nigurr commented on #3640
@dersteve Can you give more information on how you are running your tests and share your build logs with us? [please do enable `system.debug=true` in build variables

[2017-02-20 05:32] nigurr commented on #3473
@codito Can you help with this?

[2017-02-20 07:02] Cva2904 commented on #3583
@nigurr

The above solution is working for some times and is not working some times.

I will explain in detail that things I am performing.

I am scheduling multiple build definitions on the same remote machine, that are working fine earlier and started failing from a month or so throwing the error "DTAExecutionHost.exe is stopped working".

i have performed the same steps provided by you and the

[2017-02-20 07:24] nigurr commented on #3583
@Cva2904 If the process gets crashed, it should generate logs in Events. Can you please send the `Event Viewer\Windows\Application` logs
and you can find process logs in `C:\DTALogs\` folder

[2017-02-20 08:17] OsirisTerje commented on #3024
@prawalagarwal   The NUnit3 adapter issue is clear on needing a change in the vstest task.  See @charliepoole 's comment
"On January 8, @prawalagarwal noted on that issue that it was being discussed here. As you can see, that's not the case. There has been no further discussion since I outlined the problem as we see it on January 6."
So you can reopen this, and also remove the question tag and mar

[2017-02-20 08:20] Cva2904 commented on #3583
@nigurr

Please find attached DTA logs

[DTAExecutionHost.exe.docx](https://github.com/Microsoft/vsts-tasks/files/786881/DTAExecutionHost.exe.docx)

[2017-02-20 08:32] nigurr commented on #3583
@Cva2904 Can you please clear the log and attach the only failed case log.
Additionally please report crash logs [Event Viewer logs]?

[2017-02-20 10:30] tomkerkhove commented on #3024
@nigurr Did you close the issue because it was moved to https://github.com/Microsoft/vstest/issues/525 a dedicated issue to get this fixed or what is the reason?

[2017-02-20 11:09] Cva2904 commented on #3583
@nigurr

it was done by mistake...

[2017-02-20 11:10] Cva2904 commented on #3583
@nigurr

i am unable to upload the document.

[2017-02-20 11:37] nigurr commented on #3024
@tomkerkhove I moved it to vstest repo so that right set of people can address this issue. Since vsts-task reads TRX and publishes the information, and this issue is more closely related to vstest.console and Nunit adapter.

We already notified the product team about this issue.

[2017-02-20 11:38] nigurr commented on #3583
please send us the mail devops_tools at microsoft dot com

[2017-02-20 12:11] rajbalakrish opened #3656 "Cordova Build"
- The cordova build task is failing in the iOS step citing the below error
- Please specify a build.json file according to https://taco.visualstudio.com/en-us/docs/vs-taco-2017-ios-guide/#xcode8 - Detailed [logs_5153.zip](https://github.com/Microsoft/vsts-tasks/files/787362/logs_5153.zip) attached
- However the same codebase without any changes is successfully built in my local environment
- Using

[2017-02-20 13:28] tomkerkhove commented on #3024
@nigurr Thanks for the update!

[2017-02-20 14:31] isaacabraham opened #3657 "SQL Database deploy to Azure fails when re-creating the DB"
Using locally installed SSDT / SqlPackage.exe, I can correctly deploy a pre-built .dacpac file to an pre-existing SQL Azure server + db. I've set the publish profile to completely re-create the database on deploy.

However, when I try to do this through VSTS, whilst the database is successfully dropped from the server, the new one is not created, with the following error: -

[code]

[2017-02-20 19:31] madhurig commented on #2067
@jamesatgithub: It looks like the wild card pattern is not correct. Can you try setting the IPA path to Mobile/App.iOS/**/*.ipa or just **/*.ipa and see if the task finds the IPA.

Thanks,
Madhuri

[2017-02-20 19:38] MaheshPesani opened #3658 "gulp task build showing succeeded with errors"
We are experiencing an issue with VSTS gulp task. The gulp build showing succeeded with error.

below is the log:

2017-02-20T19:35:29.4835800Z ##[debug]arguments=null
2017-02-20T19:35:29.4849350Z ##[debug]exec tool: /usr/local/bin/gulp
2017-02-20T19:35:29.4865490Z ##[debug]Arguments:
2017-02-20T19:35:29.4879020Z ##[debug]   build
2017-02-20T19:35:29.4893450Z ##[debug]   --gulpfile
2017-02-20T19:3

[2017-02-20 22:46] schwaizi commented on #946
You can try extension below until fix deployed

@[SSIS Build & Deploy](https://marketplace.visualstudio.com/items?itemName=TG.VSTS-SSIS)

[2017-02-20 22:58] peterfeller68 commented on #3355
Have the build VMs been upgraded to Cycle 9? If not, when is that happening?

[2017-02-21 02:47] jamesatgithub commented on #2067
@madhurig yes **/*.ipa works. I wanted to use a path like **/$(BuildConfiguration)/**/*.ipa as we have several build configuration and need to pick up the correct ipa to send to Test Cloud, but this path didn't work. Is the path wrong or not supported for my case?

[2017-02-21 04:00] nigurr commented on #3473
Closing this thread as it's been answered here https://github.com/Microsoft/vstest/issues/285#issuecomment-268286300
Further discussion can happen in that thread as it's more related to vstest.console.exe behaviour

[2017-02-21 04:00] #3473 closed

[2017-02-21 05:23] mvvsubbu commented on #3051
@arjgupta

Adding Arjun to help in resolving the issue.

[2017-02-21 06:55] Cva2904 commented on #3583
@nigurr

DTA log file is getting updated as we are executing different builds on the same machine.

[DTAExecutionHost.DOCX](https://github.com/Microsoft/vsts-tasks/files/789301/DTAExecutionHost.DOCX)

[2017-02-21 08:08] acosmici opened #3661 "Run powershell script on Azure VM failed"
Hello guys,

I am encountering an error when trying to run a powershell script on Azure VM;

##[error]System.Management.Automation.RuntimeException: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: C:\inetpub\wwwroot\AzureSitecore\Website\Unicorn\Feature\Identity\SERIAL~1 - The directory is not empty. ---> System.Management.Aut

[2017-02-21 09:01] arjgupta commented on #3587
Hi @podgito , can you verify that in your parameter.xml file , the parameter that you are trying to substitute, is declared and scope and match are correctly specified.

[2017-02-21 09:10] arjgupta commented on #3507
Hi @seanrockster , is the connection string issue that you are facing similar to this: #3495

[2017-02-21 09:22] seanrockster commented on #3507
@arjgupta My issue is xml transformations, i.e. xml files included with the app, rather than substitutions (key/values specified in azure). However it seems using the app settings feature in azure is the preferred method - and in fact does work for us. However it only handles appSettings and connectionStrings.

[2017-02-21 12:41] PBoraMSFT commented on #3564
@matthew-horrocks: Thank you for the suggestion - I have added it to the backlog and closing this issue here. I would also recommend making this suggestion on user voice https://visualstudio.uservoice.com/forums/330519-team-services/category/145281-test, so that other users that may be interested in it can vote as well.

[2017-02-21 12:41] #3564 closed

[2017-02-21 13:14] PBoraMSFT commented on #3620
@gustavgahm: Thank you for the suggestion - I have added this to the backlog.
I also recommend raising this issue on user voice https://visualstudio.uservoice.com/forums/330519-team-services/category/145281-test so that other users that may be interested can vote for it too.
I will close this issue as we are not tracking backlog items here.

[2017-02-21 13:14] #3620 closed

[2017-02-21 13:35] gustavgahm commented on #3620
Thank you! I have now created an entry on user voice. https://visualstudio.uservoice.com/forums/330519-team-services/suggestions/18405742-display-name-property-from-xunit-test-result-xml-f

[2017-02-21 14:18] madhurig commented on #3355
Cycle 9 is not available in the Stable channel yet, it is in Beta: https://releases.xamarin.com/release-candidate-cycle-9-rc6-refresh/. We will update the Hosted build VMs to Cycle 9 after it is available in the Stable channel.

Thanks,
Madhuri

[2017-02-21 14:59] madhurig commented on #2067
@jamesatgithub: That should work too as long as the value of $(BuildConfiguration) is in the path to the .ipa. It works in my build for a sample application as expected. **/$(BuildConfiguration)/**/*.ipa finds "/Users/madhurig/coreCLRAgent/2.111.1/_work/1/s/Xamarin/Quickstarts/CreditCardValidator.iOS/CreditCardValidator.iOS/bin/iPhone/**Release**/CreditCardValidatoriOS 2017-02-20 12-28-01/**Credit

[2017-02-21 16:28] qetza opened #3662 "VsTest 2.0 preview is not finding test adapter"
Hi,
I've tried using the 2.0 preview of the vstest task and it fails to find the xunit test adapter which is present as a nuget package.

I've done some analysis and think the issue is that the matching to find test adapter is using the pattern `**\packages\**\*TestAdapter.dll` and is not specifying the `nocase` option to minimatch but the xunit test adapter has the name `xunit.runner.visualstudio

[2017-02-21 16:50] asmaarabie opened #3663 "Deploying Azure cloud service fails with internal error"
I'm trying to deploy a cloud service through TFS continuous deployment and it fails:

Retrying the request several times also results in a failure.

[2017-02-21 18:39] StingyJack opened #3664 "WindowsMachineFileCopy doesnt work or the docs arent clear"
Source value like `$(Build.Repository.LocalPath)\**` copies some files but not others.

It doesnt fail outright (wildcards in path supported?), it just skips some files silently.

Docs say wildcards like *\.zip are not supported but im not using that kind (i dont know what that would actually find). It just doesnt copy some of the files in subfolders.

[2017-02-22 04:24] vincentdass commented on #3544
@weltan , This issue is resolved and the fix will be available in upcoming deployment.
The issue was with copying the sourceDirectory to temp folder (sub folder of source directory).

[2017-02-22 04:24] #3544 closed

[2017-02-22 05:25] prawalagarwal commented on #3631
Hi @Mertsch,

This seems like a bug. Thanks for reporting. Will update this thread with ETA for the fix.

Thanks

[2017-02-22 06:46] Cva2904 commented on #3583
@nigurr

i have mailed dtaexecutionhost error logs.

[2017-02-22 07:57] xingyu217 opened #3668 "Cloud-based Web Performance Test issue"
Succeed setup test agent (Article: [Use cloud load agents on your infrastructure](https://blogs.msdn.microsoft.com/visualstudioalm/2016/08/22/use-cloud-load-agents-on-your-infrastructure/)), after that, the load test works fine on web access and via Visual Studio load test with VSTS by using self-provisioned agents.
But, failed to run load test through VSTS Build with Cloud-based Web Performance T

[2017-02-22 08:13] CosminGramada commented on #3668
Reproducible, with the original posts submitted [here](http://stackoverflow.com/questions/42367634/visual-studio-and-jmeter-web-performance-tests-are-unable-to-find-free-machines) and [here](https://social.msdn.microsoft.com/Forums/vstudio/en-US/5616bc22-5898-4eea-a3cb-dd1ec898dfcc/visual-studio-and-jmeter-web-performance-tests-are-unable-to-find-free-machines-on-the?forum=TFService).

Besides thi

[2017-02-22 09:48] arjgupta commented on #3507
Hi @seanrockster , please send the full debug logs to RM_Customer_Queries@microsoft.com. Also, what kind of xml transformation are you trying to apply and what is the syntax that you are using for it?

[2017-02-22 09:54] arjgupta commented on #3312
Hi @onionhammer , @UsmanMohammad  , can you please tell us what kind of web app are you running? Also, are you using web jobs? If yes, then what type?

[2017-02-22 10:28] arjgupta commented on #3664
Hi @StingyJack , can you please share the debug logs at RM_Customer_Queries@microsoft.com. Meanwhile, you can try Giving the source like so: `$(Build.Repository.LocalPath)`. It should copy all files from the folder specified.

[2017-02-22 12:37] mohit1606 commented on #3492
Hi,
Thank you. We are able to see the logs now and also download them from VSTS logs.
For this we have made some small changes in our ANT script.

Thanks

[2017-02-22 13:54] StingyJack commented on #3664
I want to use 'folder\**' like every other task, not whatever that forbidden wildcard pattern is.

Are *all* wildcards forbidden? I can't see how that would be very useful. Is this a build task that is being obsoleted?

[2017-02-22 13:54] onionhammer commented on #3312
@arjgupta not using any web jobs. It's an ASP.NET core app running on full .NET 4.6.2.

[2017-02-22 14:38] abhiphirke commented on #1113
Hi. Its been more than 6 months for last comment on this thread. Do we have something of this sort available now? I want to tag a build so that i can choose to trigger different release configurations.

[2017-02-22 15:22] mmajcica commented on #1113
I have built a build task a while ago, if interested, I can share it.

[2017-02-22 17:26] gedeh commented on #2986
Hi @dozgunyal, sorry being away lately, will attach the script soon tonight. Thanks!

[2017-02-22 19:10] gedeh commented on #2986
hi @dozgunyal,

My build tasks to download, extract, update, and accept SDK licenses scripts content are inline:

**PowerShell: Download Android SDK to sources directory**
`$url = "https://dl.google.com/android/android-sdk_r24.4.1-windows.zip"`
`$output = "$(Build.SourcesDirectory)\android-sdk_r24.4.1-windows.zip"`
`Write-Host "Download '$url' to '$output'"`
`$wc = New-Object System.Net.WebClient`

[2017-02-22 20:23] mikanyg opened #3678 "Exception in ServiceFabricDeploy - Authority is null when using AAD credentials"
Got the following exception upon deployment after I had changed the AAD credentials for the SF Connection.

##[error]Exception calling ".ctor" with "1" argument(s): "Value cannot be null.
##[error]Parameter name: authority"

I have tried to update the AAD credentials for the connection once more, but same result.

The debug output shows the following exception and stacktrace:

... AAD Authority:
.

[2017-02-22 22:33] Jonathan34 commented on #3311
It would be great if VSTS kept up more closely with .net core... right now, we re a bit stuck without any real timeline.

[2017-02-23 01:34] bryanmacfarlane commented on #3311
Yes.  When it RTMs, it will be on our image.  We've been keeping up with it.  The issue is we have one hosted image.  That image is at max size (128GB) due to all the versions of VS and other tools.  So for that reason, we will have to pull older versions and replace with 2017.  In parallel we have multi image support in the pipeline to address the main problem.  With that, we'll have an image per

[2017-02-23 02:55] chrisrpatterson opened #3679 "Question-Is it possible to upload attachments to the test results screen in TFS?"
When one of our tests fails it dumps some information to an external log file that would be really great to attach to the test results? Is this possible to do?

[2017-02-23 04:12] nigurr commented on #3662
Addressed in this PR: https://github.com/Microsoft/vsts-tasks/pull/3677

Thanks for reporting the issue. It will be available with next VSTS deployment

[2017-02-23 04:12] #3662 closed

[2017-02-23 06:02] apestchanker commented on #439
Hi Everyone!! Could this be related with the proguard version issue, documented by Xamarin?
The Android SDK is shipping with an old proguard version that crashes when the target version of the project is Android 7.0+, the workaround is to update the proguard tool by hand within the android-sdk folder. I'm now able to build release version (proguard) within VisualStudio, but I'm still unable to bui

[2017-02-23 06:32] sachinjoshi27 commented on #3418
@yaananth

We are facing exact same issue today (just now).

Account name GTILeap.

I just created a new build definition and its not even allowing me to queue the build. We are not using any extension.

[2017-02-23 07:36] opcodewriter commented on #439
Why can't the tools on the hosted build VMs be kept up to date with Xamarin releases?
Xamarin is part of Microsoft for a year now...
Part of their release it should be updating the hosted build VMs.

[2017-02-23 09:37] arjgupta commented on #3664
Hi @StingyJack , No, currently we do not support regular expression like so `folder\**` . You also mentioned that  using the `$(Build.Repository.LocalPath)\**`, you were able to copy some files and not others. Can you clean your destination Directory, and try to copy again and see if you observe the same behaviour?

[2017-02-23 10:26] golfguy0082 commented on #415
@chrisrpatterson I just hit this same issue on a machine that has both VS2015 and VS2017 RC installed, so it seems there is anther problem.  Modifying the registry manually feels like a workaround instead of a "fix".  Can we re-open this issue?

[2017-02-23 13:23] StingyJack commented on #3664
it was skipping files that exist in the source but not the target.  i replaced the task with both a powershell script and the other copy task and they work fine. dropping the "all file and subfolders" wildcard from this task also worked.

i've not seen regex wildcarding used for windows filesystems. clearly it works in some cases, but my intent was to mimic a dos `xcopy *.*`, and the unsupported w

[2017-02-23 13:33] arjgupta commented on #3661
Hi @acosmici , Can you please share the full debug logs for the task at RM_Customer_Queries@microsoft.com. You can generate the debug logs by setting the system.debug variable to true in the variables tab

[2017-02-23 13:41] acosmici commented on #3661
Hi Arjun,

Please find the log attached to this email.

Regards,
Adrian Cosmici

From: Arjun Gupta [mailto:notifications@github.com]
Sent: Thursday, February 23, 2017 3:34 PM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Adrian Cosmici <Adrian.Cosmici@endava.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vsts-tasks] Run powershell script on Azure VM failed (#3661

[2017-02-23 14:39] madhurig commented on #439
@apestchanker: This failure happens when you target 7.1 even without dependency on proguard. Once the tools on the hosted build VMs are updated, the error with LinkAssemblies should go away when targeting 7.1. The proguard version not being updated with Android SDK is also known and being tracked: https://github.com/Microsoft/vsts-tasks/issues/3355

@opcodewriter : I hear your frustration. One of

[2017-02-23 14:48] opcodewriter commented on #439
@madhurig Thanks, it makes sense. I guess the best would be if VSTS would be able to figure out the version of Xamarin from .csproj and use it to build the app.
I wonder how soon can we expect this, I guess not anytime "soon", like months.

[2017-02-23 14:49] ericbrunner opened #3681 "Xamarin: Error MSB4018: The "LinkAssemblies" task failed unexpectedly."
Hi,

Today I updated the Xamarin.Forms and System.Net.Http nugets from

[code]

to

[code]

and the VSTS build failed with that error:

The previous builds worked.

The first I saw in file compare that the new nugets target monoandroid71.

hope someone can help me. In the meanwhile I revert to the previous versions that target monoandroid70

best
Eric

[2017-02-23 15:37] VDanylevskyi commented on #3657
I also faced with this problem.
After deleting DB using Remove-AzureRmSqlDatabase or Invoke-Sqlcmd (drop), I can not re-create DB using SqlPackage.exe, I have the same error:
`Database '<database name>' already exists. Choose a different database name`

After several minutes I be able to re-create DB.
Maybe exists a way how to force updating the list of resources in Azure.

[2017-02-23 15:43] SamKni8 opened #3682 "Vnext Zip Drop Location"
Hi, I am new to TFS and when i build my app and Package binaries by passing inline MSBuild Argument:
/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation=$(build.artifactstagingdirectory)
Also used "Publish Build Artifact" task and provided path to publish as "$(build.artifactstagingdirectory)"
And the binaries are copie

[2017-02-23 16:10] yezr commented on #3075
hey for everyone waiting on this the workaround I found was to change the azure deployment slot on my release to 'Staging', which is not as worried about 'local data loss' :),  and then swap them through the azure console!

[2017-02-23 16:33] isaacabraham commented on #3657
I've also tried using the latest SqlPackage exe from NuGet (via the Microsoft.Data.Tools.Msbuild package) but it still has the same problem.

[2017-02-23 16:35] ericsciple commented on #3682
@SamKni8 it sounds like you may want to customize the OutDir or OutputPath in your msbuild targets file.

[2017-02-23 16:36] madhurig commented on #3656
Cordova build task issues are part of an extension. Please report issues here: https://github.com/Microsoft/vsts-cordova-tasks/issues

Thanks,
Madhuri

[2017-02-23 17:13] SamKni8 commented on #3682
Yes, but have less idea as to how i could customize it.
Currently when I publish my app to IIS Physical Path(\\Devserver\e$\WebDemoRoot\Website\) It is dropped with following path \\Devserver\e$\WebDemoRoot\Website\code\drop\Projectname.zip\Content\E_C\WebWork\1\s\Dev\ProviderGeoSearch\obj\Release\Package\PackageTmp\bin.
I want it to drop bin to Publish path here "\\Devserver\e$\WebDemoRoot\Websit

[2017-02-23 19:09] degantpuri commented on #2954
@madhurig: I have a similar requirement as the OP. We have a Xamarin forms app with one build definition and one release definition which are both working fine right now. However, we want to build a few versions of the app (say Dev, PPE or INT, and PROD) - all these versions will be pointing to different dependent services and will have different properties such as hockey app ID for instrumentatio

[2017-02-23 19:26] degant commented on #3575
Sure will share it right away. Thanks!

[2017-02-23 19:52] degant commented on #2954
@madhurig: I have a similar requirement as the OP. We have a Xamarin forms app with one build definition and one release definition which are both working fine right now. However, we want to build a few versions of the app (say Dev, PPE or INT, and PROD) - all these versions will be pointing to different dependent services and will have different properties such as hockey app ID for instrumentatio

[2017-02-23 20:07] jaquelinecramos commented on #3554
Updates?

[2017-02-23 21:49] tousinn opened #3683 "Task "Azure Cloud Service Deployment" does not support the storage account created via ARM template"
Hi there,

It looks like task "Azure Cloud Service Deployment" does not support the storage account created via ARM template.

When we pass a storage account created via ARM template to parameter "Storage Account", the task will end with error

It seems that in the function "Get-DiagnosticsExtensions", it will get the primary key of the storage like this

However, this will not be able to get the

[2017-02-24 08:55] VDanylevskyi commented on #3657
I found one workaround that works for me. In order to avoid such problem I do following:
1. Delete an original database from the Azure (AzureDBName)
2. Create BACPAC using SqlPackage.exe from a local server
3. Import BACPAC using SqlPackage.exe to the Azure, but use a temporary name for the DB (AzureDBName_2017_02_14_9_15)
4. Rename the temporary DB (AzureDBName_2017_02_14_9_15) to the original na

[2017-02-24 10:14] jerone commented on #439
@madhurig Is there an overview of the currently supported (Android) SDK versions?

[2017-02-24 14:30] madhurig commented on #439
https://www.visualstudio.com/en-us/docs/build/concepts/agents/hosted has a "Software" section that is kept up to date with all the software installed on the hosted build VMs.

[2017-02-24 19:45] jpricketMSFT commented on #3683
Hi @tousinn,

It appears that you already have a good understanding of the problem. Do you have a proposed solution? If so, you can fork this repository and submit a pull request with your solution. See the contributing document (https://github.com/Microsoft/vsts-tasks/blob/master/docs/contribute.md) for more details.
If you don't have a solution, we will try to prioritize the work, and get a solu

[2017-02-24 21:50] Jonathan34 commented on #3418
Just had the same on VSTS. Created a build, saved as a template, created another build from the template, changed 2 variables, tried to save & queue, failed.

[2017-02-24 21:54] Jonathan34 opened #3686 "" One or more of the steps defined in the build does not have an associated task definition" follow up on #3418"
Just had the same on VSTS. Created a build, saved as a template, created another build from the template, changed 2 variables, tried to save & queue, failed.
not sure how to reopen the issue, but ill create a new one.

https://slb-swt.visualstudio.com/UCP/_build/index?context=allDefinitions&path=%5C&definitionId=299&_a=completed

[2017-02-24 22:44] sanyogitaranade commented on #3418
@Jonathan34 , are you using any task which was installed as a part of extension? If yes, what is the VSO account name and Extension Name?

[2017-02-24 22:54] deisterhold opened #3687 "Gradle Build Task"
When building a project with gradle, the Android SDK is downloaded properly, but afterwards the license agreement for the SDK is not accepted so the project fails to build.

Output:

[code]

[2017-02-24 23:01] sanyogitaranade commented on #3418
@sachinjoshi27, are you still facing this issue?

[2017-02-24 23:06] Jonathan34 commented on #3418
@sachinjoshi27 we have no extension AFAIK, or at least i am not using them.
i do use a lot the tasks groups with variables groups though. so the template is based off that.

[2017-02-25 07:26] sachinjoshi27 commented on #3418
@sanyogitaranade : I was able to get around this issue and able to queue builds now.

@Jonathan34  : You might want to remove any meta-tasks (task groups) and re-add them. This worked for me.

[2017-02-25 07:35] #3644 closed

[2017-02-25 10:35] rh78 commented on #3521
OK now I also run into the VSTS Hosted Agent issue as we're working on release. Please fix that.

[2017-02-25 10:53] rh78 commented on #3521
I fixed it in the meanwhile by creating a separate ServiceManifest.xml/ApplicationManifest, without environmentoverride, and handled passing parameter through command line arguments. Then upon VSTS build I replace the files, effectively working around the problem

[2017-02-25 17:18] MikkelHegn commented on #3521
Thanks @rh78 - we are working on getting the SDK updated on the hosted build agents. As soon as I have an eta, we'll let you know.

[2017-02-25 18:55] liamnichols commented on #1268
+1 for this. I want to use the VSTS build system for our mobile projects but back it via Jenkins jobs as the Xcode support is somewhat lacking for my needs.

My problem is that I have to mark the Jenkins job as unstable as I can only download artefacts (my junit results) from the "last successful build". This then means that my build appears to have succeeded if the user doesn't actually click int

[2017-02-26 11:25] Mertsch commented on #3631
@prawalagarwal Yes, it was a non-test-impacting code change

[2017-02-26 19:31] Ajay102 commented on #2480
we are also facing the same issue.
Please help us in resolve this.

[2017-02-27 03:53] tousinn commented on #3683
Hi @jpricketMSFT

Thanks for you reply.

I have tried to submit my solution in the pull request
https://github.com/Microsoft/vsts-tasks/pull/3690

Please let me know if you have any questions.

Cheers,
Jin

[2017-02-27 05:05] nigurr commented on #3528
As there's no response, closing this thread. Please reopen if needed

[2017-02-27 05:05] #3528 closed

[2017-02-27 05:06] nigurr commented on #3583
Closing this issue as it's not getting reproduced. please reopen if needed

[2017-02-27 05:06] #3583 closed

[2017-02-27 05:06] nigurr commented on #3640
Closing this issue as there's no further information available. Please do reopen if needed

[2017-02-27 08:06] prawalagarwal commented on #3631
@Mertsch  The fix has been pushed. You will not see this log from next release. (10-15 days)

Thanks

[2017-02-27 08:06] #3631 closed

[2017-02-27 10:19] #3587 closed

[2017-02-27 11:53] dersteve commented on #3640
Here is the **test log**: You can see that there is timeout at the end.

V, 3464, 1, 2017/02/15, 10:21:54.487, 1714666733072, vstest.console.exe, AddPackage(eb61e043-d453-43ae-bda3-569724225115_1.0.0.0_x64__41zkwv185hb04) Error Code:0 and Error Message:
V, 3464, 1, 2017/02/15, 10:21:54.675, 1714668560193, vstest.console.exe, Established network loopback.
V, 3464, 1, 2017/02/15, 10:21:54.675, 17146

[2017-02-27 11:54] dersteve commented on #3640
Please reopen the ticket @nigurr and sorry for the small delay in my answer.

[2017-02-27 12:44] bgavrilMS commented on #2480
Please log a new issue so that the team can properly triage.

[2017-02-27 13:49] sergeytunnik commented on #2441
Hi.
We are facing exactly the same issue. We have Dynamics CRM deployment and were going to utilize TFS release management for deploying. It is quite frustrating that MS core products can't work together.

[2017-02-27 14:04] cwoolumtechnossus commented on #2480
Can't we reopen this issue? It was never resolved

[2017-02-27 14:11] bgavrilMS commented on #2480
I no longer work for VSTS, so it would be better to have this re-triaged

[2017-02-27 14:34] Jonathan34 commented on #3418
@sachinjoshi27 yes i can remove/re-add everything, but that's going to be a bit painful :)

[2017-02-27 14:53] mikanyg commented on #3678
Switched to the Hosted Agent Pool, and everything was working as expected.

The private agents are running version 1.105.6, could that be the cause of the issue?

[2017-02-27 18:05] bhojan commented on #1549
Any updates on this issue

[2017-02-27 19:29] tagwise-eu commented on #2441
Hi Sergey,

I do have a workaround available;
- First create specific SPN's for the portnumbers of the WinRM service (elevated PowerShell)
SetSPN.exe -s HTTP/$($env:COMPUTERNAME):5985 $env:COMPUTERNAME
SetSPN.exe -s HTTP/$($env:COMPUTERNAME).$($env:USERDNSDOMAIN):5985 $env:COMPUTERNAME

- Make the user used for the deployments part of the "Administrators" group (you could login by Local Security P

[2017-02-27 19:47] sergeytunnik commented on #2441
@tagwise-eu thank you for complete solution.
I'm currently also checking something more sophisticated for deployment such as PSDeploy  or PSCI.

[2017-02-28 01:38] aaronwjha commented on #3196
I am having this issue as well with TFS 2015 update 2 and macos Sierra. What are my options to get this working?

[2017-02-28 03:54] nigurr commented on #3640
@dersteve I didn't get the issue. Can you please describe in details what's expected and what's happening

[2017-02-28 03:56] nigurr commented on #1549
How many number of test DLLs are present [associated with the test suite]?
Currently we distribute by number of test assemblies. If you happen to have single test dll, only one machine will be used for test execution.

We have added distribution by number of machines in TFS 2017. Please let me know if you still require any info

[2017-02-28 03:56] #1549 closed

[2017-02-28 07:02] xingyu217 opened #3694 "Docker Integration install issue"
When install this extension to VSTS: https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.docker, it throws:
Extension operation denied by event callback. All the task versions belonging to Contribution tasks/docker should have the same task id. Tasks with version 0.3.1 and version 0.3.4 do not have same ids.

[2017-02-28 08:21] singlewind opened #3697 ".NET Core (PREVIEW) error: Cannot find module './Utility'"
2017-02-28T07:38:57.2794910Z ##[section]Starting: dotnet restore
2017-02-28T07:38:57.4336470Z ==============================================================================
2017-02-28T07:38:57.4357290Z Task         : .NET Core (PREVIEW)
2017-02-28T07:38:57.4382100Z Description  : Build, test and publish using dotnet core command-line.
2017-02-28T07:38:57.4412920Z Version      : 0.4.0
2017-02-28T07

[2017-02-28 10:27] harshad-kathiriya commented on #3694
I got the same issue.
![image](https://cloud.githubusercontent.com/assets/15572545/23401643/6fcfab24-fdce-11e6-9539-cb140b5f1747.png)

[2017-02-28 11:39] dersteve commented on #3640
I have a Windows Server 2016 machine where there is a TFS Build Agent running.

My build definition builds via the VS-Build task a solution that contains a UWP Test Project to execute UWP Unit tests. The test runner is vstest.console.exe as we use the normal VS/MS Unit Test libraries/infrastructure.

When I execute the build the test execution task fails with a timeout. When opening up the Windows

[2017-02-28 12:42] ds-ms commented on #3697
@singlewind We have fixed the bug, you won't be seeing that error anymore.
You should be able to see those changes shortly.

https://github.com/Microsoft/vsts-tasks/pull/3695 => Fix for this issue.

I am closing this issue.

[2017-02-28 12:42] #3697 closed

[2017-02-28 12:44] karluiz commented on #3694
Same problema here!

[2017-02-28 12:48] acosmici commented on #3661
Hi guys,

Any updates on solving this issue?

Thanks,
Adrian

[2017-02-28 16:48] sanyogitaranade commented on #3418
@Jonathan34. @sachinjoshi27 , Actually this is not exactly related to tasks, so I have forwarded it to the team which works on Task Groups. They will do further investigation.

[2017-02-28 17:09] aaronwjha commented on #3196
I see the fix, thanks. But I’m having a hard time building. Where can I find instructions?

From: Madhuri Gummalla [mailto:notifications@github.com]
Sent: Tuesday, February 28, 2017 7:44 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Aaron Watson <AWatson@jackhenry.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vsts-tasks] Xcode 8 on Sierra build issue regardin

[2017-02-28 17:12] MikkelHegn commented on #3521
Hi all, we expect to have the hosted build agents updated in the next 7-10 days. If you need a workaround, then currently the best is to ring you own agent in the meantime.

[2017-02-28 18:13] madhurig commented on #3196
@aaronwjha: The instructions for building for TFS 2015 Update2 are at : https://github.com/Microsoft/vsts-tasks/blob/releases/m95/docs/contribute.md

Please try it. I will look into uploading the built task to GitHub for other customers to access.

Thanks,
Madhuri

[2017-02-28 18:36] yacaovsnc commented on #3135
[TFS plugin 5.3.3](https://wiki.jenkins-ci.org/display/JENKINS/Team+Foundation+Server+Plugin) has been released and it supports triggering Pipeline and Multibranch job now.

To trigger a Multibranch job, please enter "Jobname/BranchName" as the jobname in the task.

[2017-02-28 19:02] phatcher commented on #3416
Did you close this because you've done it?

It's bad practice to close it just because you say you're going to do it.

[2017-02-28 19:23] aaronwjha commented on #3196
Thanks. I was able to build it.

[2017-02-28 21:03] mikeycooper commented on #3495
We have v3.0.7 of the task now, but it looks like it's HTML-encoding the variable during substitution. The connection string being set is:

`Url=https://primary;Database=db1;ApiKey=11111111-1111-1111-1111-111111111111;Failover = {Url:&apos;https://secondary&apos;, ApiKey:&apos;11111111-1111-1111-1111-111111111111&apos;}`

when it should be:

`Url=https://primary;Database=db1;ApiKey=11111111-1111-1

[2017-02-28 21:23] jeffyoung commented on #3658
Hi @MaheshPesani.

The gulp build task (pretty much) just runs the gulpfile.js you point it at.  In one of my projects I had the same issue and discovered I didn't have the proper error handler on my 'build' task.  See https://github.com/Microsoft/vsts-vscode/pull/135/commits/7c45cb76e7b7deec4cfead00ab7784fb923b6e87 for the change I needed to make in my gulpfile.js so that the build would properly

[2017-02-28 21:40] Jonathan34 commented on #3418
thanks, the remove/add does the trick in the meanwhile.

[2017-02-28 21:57] yaananth commented on #3686
#3418 has good information on this issue, let's use the same. I am reactivating it.

[2017-02-28 21:57] #3686 closed

[2017-02-28 22:00] yaananth commented on #3418
Reopening the issue.
To summarize:

- If the task is coming from an extension -> this issue should be fixed in VSTS and TFS Update 1 RC2 (at min)

- If the task is not coming from an extension and uses task groups - seems like workaround is to remove and add all of them back - needs investigation

[2017-02-28 22:26] aaronwjha commented on #3196
What are the steps to install to TFS 2015?

[2017-03-01 00:55] arjgupta commented on #3661
Hi @acosmici , the logs show that the error is originating from the powershell script that you are trying to execute. The Script name suggests that you are trying to remove a directory. Can you verify whether you are using the correct options with the deletion command. For eg. If you are using the Remove-Item cmdlet of powershell to delete your folder and if the folder you are trying to delete has

[2017-03-01 03:29] deepab1971 commented on #3668
We are also getting the similar exception while using the Self-provisioned agent.
Exception "Test run has been aborted and marked as 'Error' due to an error while provisioning test agents for the run."

1)  We have setup this agent in on-premise
We tried executing  Visual Studio test by uploading webtest file in the VisualStudio web access. We are able to see our self-provisioned agent in the list

[2017-03-01 03:55] MaheshPesani commented on #3658
Thank you @jeffyoung , we modified the gulpfile with exit codes to bubble up the error.

[2017-03-01 03:55] #3658 closed

[2017-03-01 03:57] cltshivash commented on #3668
@xingyu217 @CosminGramada We currently aren't exposing the agent group as an input in the tasks. We will update the task to accept the agent group as an input.

@deepab1971 Can you please send your account name to vsoloadtest at microsoft dot com ? We will look into the failures.

[2017-03-01 06:51] harshad-kathiriya commented on #3694
Suddenly, Issue resolved. Not sure what microsoft did for that.

[2017-03-01 06:55] Franklin89 commented on #3694
Still not working on my side. Just retried after your comment :-(

[2017-03-01 07:03] vincentdass commented on #3495
@mikeycooper , the above changes failed your deployment ?
If so, Can you please share the details from where you viewed the changes ?

Can you please check whether the web.config has the expected changes from **Kudu Console** ?
Follow the below steps to view file in Kudu console.
open https://<your_app_name>.scm.azurewebsites.net
1. In the header menu, select '`Debug Console' -> 'cmd'`
2. cd into

[2017-03-01 07:49] CosminGramada commented on #3668
@cltshivash Thank you for the update. Do you have a timeline on when this will be deployed and available?

[2017-03-01 09:15] arjgupta commented on #3312
Hi @onionhammer , If you get the FILE_IN_USE again, can you please try the following in kudu console:
  -  Check whether dotnet.exe is running in Process Explorer
  -  Create a file named app_offline.htm in D:\home\site\wwwroot. You can use the sample content from the attached file
  -  After creating the app_offline.htm, go to Process Explorer, and check if dotnet.exe is still running. It should

[2017-03-01 11:27] mikeycooper commented on #3495
Deployment succeeded. Just the transformed and substituted value is incorrect (and possibly invalid) because the apostrophes are being replaced by &amp;apos;.

I confirmed it by looking at the web.config inside the App Service Editor. There, I see the connection string with &amp;apos; in it.

[2017-03-01 13:12] vincentdass commented on #3495
@mikeycooper , thanks for the info.
We found the root cause for this issue and working on it.

[2017-03-01 13:43] fvoncina opened #3709 "Dotnet tasks failed with Unhandled: Cannot find module './Utility'"
Since yesterday my build jobs running on ubuntu 16.04 starting to fail with "Unhandled: Cannot find module './Utility'" error.

It seems that it couldn't find the module nuget-task-common/Utility

[2017-03-01 13:48] fvoncina commented on #3709
I think there is a problem with the ts transpiling because I don't have an Utility.js in _work/_tasks/DotNetCoreCLI_5541a522-603c-47ad-91fc-a4b1d163081b/0.4.0/node_modules/nuget-task-common/ folder while I've the others .js for the corresponding .ts files

![capture](https://cloud.githubusercontent.com/assets/453930/23462417/8604b71a-fe6c-11e6-8dc3-7753119cc18f.JPG)

[2017-03-01 13:58] fvoncina commented on #3709
I've cloned the repo and tried to build the DotNetCoreCLI task and it fails:
`node make.js build --task DotNetCoreCLI`

Log:
tsc tool:
Version 1.8.7
C:\Work\Github\vsts-tasks\node_modules\.bin\tsc
npm tool:
4.0.5
C:\Program Files\nodejs\npm

------------------------------------------------------------
Building: DotNetCoreCLI
------------------------------------------------------------

Building mo

[2017-03-01 14:01] x1c0 opened #3710 "PhantomJS 2.1.1 (Windows 8 0.0.0) ERROR during our tests run"
We had our VSTS agents running gulp karma just fine for several months. Since we increased the number of tests PhamtomJS simply disconnects in the middle of our tests run.

we tried to increase karma timeouts without any results. this is the output:

<img width="1277" alt="screen shot 2017-03-01 at 15 00 27" src="https://cloud.githubusercontent.com/assets/2421483/23462886/e2775f02-fe8f-11e6-85df-1

[2017-03-01 14:18] arjgupta commented on #1441
Hi @karthik25 , can you please update on the results of running the task for on prem agent.

[2017-03-01 14:22] onionhammer commented on #3312
Just ran into it when deploying;

- dotnet.exe is not running in Process Explorer

[code]

- Ran `"test" | Out-File -FilePath app_offline.htm` from powershell, adding an app offline in wwwroot

Back in process explorer 'MyApp.exe' is no longer runniong, the two w3wp.exes are. The app is now offline.

[2017-03-01 14:58] karluiz commented on #3694
solved !

[2017-03-01 15:26] madhurig commented on #3196
@aaronwjha: Were you able to upload the task to your server? I use the [TFS CLI](https://github.com/Microsoft/tfs-cli). Since it is on-premise Basic authentication needs to be enabled to upload the task, it can be disabled after the upload. Instructions for setting up basic auth are [here](https://github.com/Microsoft/tfs-cli/blob/master/docs/configureBasicAuth.md)

tfx login --auth-type basic
tfx

[2017-03-01 16:40] Franklin89 commented on #3694
@karluiz How did you get this solved? I am still having the same issue...

[2017-03-01 16:42] jeffyoung commented on #3687
Hi @deisterhold.  This is a case of your app requiring a later version of the tools than are installed on the hosted build image.  (We've seen it before.)  Until we deploy a new hosted image, another customer posted information on a possible workaround at #2986.  And, unfortunately, always having the latest (and using the latest during a build) is problematic (as some discussions in that thread po

[2017-03-01 17:13] Franklin89 commented on #3694
solved here aswell....gave it some more time :-)

[2017-03-01 17:53] Tasteful commented on #3089
I think my slow publishing is related to this and regarding to the log it is starting to iterating over one parent directory level wrong.

I fixed my problem with replacing the first `*` in the globbing pattern with the correct artifacts name and then everything was going fast again.

The new version 0.2.27 or higher, when will that be available to TFS 2017 onprem?

[code]

@zjrunner @ericsciple

[2017-03-01 18:03] aaronwjha commented on #3196
I have run the build and package commands, but I do not see a 'task.zip' package for the common/ios-signing-common task.  I see this error at the end of the package:

[2017-03-01 18:24] madhurig commented on #3196
@ericsciple : Any idea on the error @aaronwjha is seeing?

[2017-03-01 21:00] ericsciple commented on #3196
@aaronwjha you can just run `npm install && node make.js build --task <task name here>` and the layout for the task you are interested in will be created under the _build folder. the package command is for our CI

[2017-03-01 21:04] madhurig commented on #3196
@ericsciple: This is for TFS 2015 Update 2, so releases/m95 branch and not master.

[2017-03-01 21:05] ericsciple commented on #3196
oh ok, then build instructions for releases/m95 are listed in that branch. the readme should contain a link to the contribute doc, which contains the build instructions.

same idea though, the files you're interested in will be under _build.

[2017-03-02 02:43] brett3210 opened #3712 "Missing Documentation on "Azure PowerShell" Task"
I'm struggling to find documentation on the "Azure PowerShell" Task.  The "More Information" link for the Task takes you to the link below, which in turn takes you to the VSTS Tasks Code page in GitHub:
https://www.visualstudio.com/en-gb/docs/build/steps/deploy/azure-powershell

In particular, I'd like to understand what the "Azure PowerShell" task does (and doesn't do) compared to the "PowerShell

[2017-03-02 05:07] ericsciple commented on #3712
@brett3210 depending on which type of endpoint you are using, the azure powershell task attempts to find/load the azure or azure rm modules on your machine, and initialize the connection, before running your script. So when your script runs, you can move forward with running azure powershell commands, and don't need to worry about initializing the connection. The specific commands that it runs are

[2017-03-02 05:47] brett3210 commented on #3712
Thanks.  How does the Task know which machine(s) to apply the steps (which you mentioned) to, given there isn't a "Machines" field for the Task (unlike the "PowerShell on Target Machines" Task)

[2017-03-02 05:50] ericsciple commented on #3712
The Azure PowerShell task just runs as task in your build (whatever machine your build lands on). The bootstrapper script initializes the azure powershell connection before invoking your script.

[2017-03-02 07:53] acosmici commented on #3661
Hi @arjgupta, yes indeed with this script I am trying to remove a folder and subfolders, but as I mentioned before there is no error when I am going remote on that VM and run the script from there. I only receive that error when I am running from VSTS.
In the attachment you can see the script that I am running for this task. Please note that all the lines that are commented were previously execute

[2017-03-02 16:03] ddobric opened #3719 "Issue with package restore and custom feed"
Hi all,

I use a custom feed (hosted as package library in vs online).
Unfortunately I'm getting following error inside of NugetInstall task (restore):

Error: D:\a\_tasks\NuGetInstaller_333b11bd-d341-40d9-afcf-b32d5ce6f23b\0.2.29\node_modules\nuget-task-common\NuGet\3.3.0\NuGet.exe failed with return code: 1
Packages failed to install

In the log file I see that feed is correctly bound:

Feeds us

[2017-03-02 16:19] Jsmiiii commented on #3165
Adding the port number of Azure SQL DB to the end of the server name (,1433) within the VSTS build definition also worked for us. This was based on deployment of a DACPAC into Azure SQL DB, using a hosted build agent. Also ensure that your Azure SQL DB firewall rules allow traffic from the VSTS build agent.

[2017-03-02 18:36] eliasnawfal opened #3720 "Deploy Service Fabric Task"
There are a 75% chance that this step fails with error Object Closed when copying application to image store.
Please fix it

[2017-03-03 00:56] madhurig commented on #2825
Cycle 9 of Xamarin has the changes to respect /t:Clean i.e. all build output is cleaned. The IPAs no longer are generated under a timestamped folder.

[2017-03-03 01:55] arjgupta commented on #3661
Hi @acosmici , It seems you are trying to remove a folder in an iis website. Do you Stop your website, before running this script? If not, can you try stopping the website, then run the script, then start the website. You can use the iis web server administration cmdlets for this purpose: `start-website` and `stop-website` . You can find more about them [here](https://technet.microsoft.com/en-us/l

[2017-03-03 05:01] shashban commented on #1113
"[##vso[build.addbuildtag]](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md )" command is available to tasks for this functionality.

[2017-03-03 07:14] piquet-h commented on #3311
Why is this marked as closed though? It's clearly not fixed yet.

[2017-03-03 12:05] vip32 commented on #3311
this is really holding us back from doing any .net core projects at the moment. hope it will be fixed as soon as RTM releases next week! private agents are no solution, as we use this whole vsts as a service to stay out of that nightmare.

[2017-03-03 13:32] Cva2904 opened #3728 "Handling KendoUI controls using coded ui"
Hi Everyone,

i have written customised coded using UITestControl and UITestControlCollection to select values from KendoUI Dropdown using CodedUI.

I am able to select value from dropdown, but i having performance issue [it takes time while selecting the values].

Need inputs on who we can reduce time while selecting values from dropdowns.

Thanks in advance,
Siva Kumar.

[2017-03-03 15:09] Mertsch opened #3729 "Visual Studio Test 2.0.17 completely ignores invalid .runsettings"
[code]

When the specified `.runsettings` do not exist, there is no warning or anything during the build. `vstest.console.exe` will just be called without `/Settings:`.

**Expected**
A warning should be issued to the log (visible in build summary)
(OR) the test run should fail, because essential runsettings are missing

[2017-03-03 17:33] memark commented on #3636
Yes, please, this would be very useful. Now I have to provide my own nuget.exe just to use SemVer 2 version strings.

[2017-03-06 10:08] RoopeshNair commented on #431
@lehne  National cloud support for ARM endpoints is getting deployed. If you are looking for an early preview drop a note to us at rm_customer_queries at microsoft dot com

[2017-03-06 12:03] acosmici commented on #3661
Hi @arjgupta, I've tried to stop and start the website but still facing this issue.

[2017-03-06 12:11] BhaskarDasari commented on #3322
@vincentdass @RoopeshNair  Hi Did you manage to fix this issue? i am running into the same issue..

Upload to container: '' in storage account: '' with blobprefix: '' failed with error: '' For more info please refer to https://aka.ms/azurefilecopyreadme

PS: I am using team services.. azure file copy task to upload file in to the blob container

[2017-03-06 23:06] DavizOWNS commented on #2986
thanks @gedeh
I am interested where did you find that link to download android SDK (https://dl.google.com/android/android-sdk_r24.4.1-windows.zip). I would like to know it in case I need to download different version.

[2017-03-07 05:06] vincentdass commented on #3322
@BhaskarDasari , the fix is in progress.
For a workaround, please use other containers, until the issue is resolved.

[2017-03-07 10:52] aelij opened #3742 "ServiceFabricDeploy: Add a task parameter for SkipPackageValidation"
`SkipPackageValidation` can significantly improve the deployment time of a large package. Since validation is also performed on the cluster, it's safe to use.

Additionally, it would be helpful to write an informational message before starting validation (e.g. "Validating package..."). Without it, the deployment script seems to be "stuck" on connecting or locating paths.

[2017-03-07 11:08] superjulius commented on #3051
I just experienced this issue as well. The task executed properly after retrying it 3 times.

[2017-03-07 13:24] arjgupta commented on #3051
Hi @superjulius , can you please tell us your vsts account

[2017-03-07 14:09] Nimrod20 commented on #1774
@phklemmensen  can you share what was the problem with the certificate setup? I'm encountering the same issue.
Thnaks,
Nimrod.

[2017-03-07 17:20] wouterroos opened #3744 "Exception : Index was out of range. Must be non-negative and less than the size of the collection. on VSTest\2.0.17\TestSelector\TestSelector.exe UpdateTestResults"
Hi,

Today I was playing with the 'Run only impacted tests' feature of the 'Run Tests using Visual Studio task'. My  test run succeeds, but I get the following error when `VSTest\2.0.17\TestSelector\TestSelector.exe UpdateTestResults` is executed (see below).

[code]

Am I missing something?

[2017-03-07 17:56] superjulius commented on #3051
Thx @arjgupta, it is tpsop.visualstudio.com

[2017-03-07 18:31] aciechomski commented on #3311
VS 2017 released and still not working

[2017-03-07 19:22] Jonathan34 commented on #2126
vs.test.console.exe should support .net core 1.0 and 1.1, i hope it is coming soon, anyone knows?

[2017-03-07 20:22] matttrakker opened #3746 "NuGet Packager tasks failed due to old version"
Dear all,

the nuget packager task is failing with the following error:
##[error]'System.ComponentModel.EventBasedAsync' already has a dependency defined for 'System.Runtime'.

EventBasedAsync is version 4.3.0 downgrading to 4.0.11 has not solved it.

I found a walkaround by downloading the latest nuget exe before the packaging task and then using this nuget.exe for the package task.
I think is no

[2017-03-07 20:30] nperno commented on #3311
Not working for me either. Is the .Net Core (Preview) build step still the right one to use or should we be using the MSBuild step?

[2017-03-07 21:17] aciechomski opened #3747 "ASP.NET Core 1.1 - Error MSB4041"
Build error with project.json not found.

[2017-03-07 21:20] aciechomski commented on #3747
Why closed issue #3311?

[2017-03-07 21:26] PelleB commented on #3747
@aciechomski  #3311 Seems to be about *.csproj and not project.json

[2017-03-07 21:36] aciechomski commented on #3747
In VS 2017 project.json is depreciated and csproj doesn't work

[2017-03-07 21:36] AlaricDelany commented on #3311
Is there a plan when the new (and now Released) Csproj Format Support will be there for Hosted Agents?
It would be helpfull to know, because when someone would say Q3 2017 then (for me) it would make sence to spent time to build a Strategy for Automating the Setup of Build Agents and just forget about the Hosted Agents. (And when i would have to care about the Agents why then not using directly an

[2017-03-07 21:45] Jonathan34 commented on #3747
csproj does work. could you please provide muc more information?
dotnet --info to get started and what error message you get?

[2017-03-07 21:54] aciechomski commented on #3747
Error MSB4041: The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please add xmlns="http://schemas.microsoft.com/developer/msbuild/2003" to the <Project> element. If the project has been authored in the old 1.0 or 1.2 format, please convert it to MSBuild 2003 format.

[2017-03-07 22:41] abatishchev commented on #2119
hi @zjrunner, do you know what is current status? the link above doesn't work anymore, at least to me.

[2017-03-07 23:24] ekumlin commented on #3746
NuGet 3.3 also fails (silently -- it produces the `Unsupported0.0` framework) when attempting to pack something with a target of `netstandard1.6`. Other tasks allow us to choose between 3.5 and 3.3, and the same would be helpful here.

[2017-03-08 00:25] srpeterson commented on #3311
Not working for me, either... sigh... Brand new core 1.1 we app project created in VS 2017, new VSO project collection. New  build definition from the .NET Core (PREVIEW) template.. Bombs. Says that .csproj file not recognized. All rainbows and lollipops in the VS launch demos today, but in real life.. sigh..

[2017-03-08 00:41] rbarschaw commented on #3311
I am having the same problem

2017-03-08T00:31:16.8747494Z ##[section]Starting: Restore
2017-03-08T00:31:16.9217495Z ==============================================================================
2017-03-08T00:31:16.9217495Z Task         : .NET Core (PREVIEW)
2017-03-08T00:31:16.9217495Z Description  : Build, test and publish using dotnet core command-line.
2017-03-08T00:31:16.9217495Z Version

[2017-03-08 02:19] jeffputz commented on #3311
This is endlessly frustrating... the end to end tooling still isn't there. Every time you think we're good to start using Core in a meaningful way, something else isn't "done."

[2017-03-08 04:47] patrickmichalina commented on #553
Please! Heroku Speeds should be your target. They are orders of magnitude faster.

[2017-03-08 06:37] lostmsu commented on #3311
That is clearly not out yet.

[2017-03-08 07:58] raffaeu commented on #2126
So, yesterday they announced VS 2017 and the new VSTS but if I am looking online at the build editor, nothing changed yet.
Any news?

[2017-03-08 09:50] kirkone opened #3750 "dotnet Task: should exit with error if no project found?"
Hello,

I am in the process to migrate my projects to the 1.0 SDK and did mess up with the "Project(s)" field of the ".NET Core (PREVIEW)" Task. I entered "/src/**/*.csproj" instead of "src/**/*.csproj".
So the error was definetly on my side but I would expect the Task to fail.
All I got was a Warning and the Task marked as green and completed.

[code]

Maybe I got it wrong but I think it is woth

[2017-03-08 09:57] dieterhowest commented on #3311
still not working :(

[2017-03-08 10:42] canbilgin commented on #2602
here are some details - Package Restore failing on macbuild machine using tfs 2015 - without package restore, we are back to checking in the packages folder:

`2017-03-08T10:30:30.9213890Z ##[section]Starting: NuGet restore **\*.sln
2017-03-08T10:30:31.0358690Z ==============================================================================
2017-03-08T10:30:31.0376980Z Task         : NuGet Installer

[2017-03-08 12:36] mbp commented on #3358
I have the same problem on a newly installed build server with Visual Studio 2017

[2017-03-08 13:27] arjgupta commented on #3051
Hi @superjulius , we have applied a fix for you account, can you please check and verify , whether you are still getting this issue.

[2017-03-08 14:22] gedeh commented on #2986
Hi @DavizOWNS,

I get the link from Android SDK Manager window. See the details in Android SDK Manager Log window

[2017-03-08 15:20] Jonathan34 commented on #3311
for those who are blocked, i created a task group that downloads the latest tools and unzip in my sources directory. i then use command lines with what i downloaded. works fine if you don't mind downloading and unpacking everytime.

alternatively, you may use the [dotnet install script](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-install-script). havent tried that one...

[2017-03-08 15:23] nickeyyan opened #3755 "Abort Tests belong to Others is not reasonable"
Hi VS Team,

We're using "VSTS Task - Run Functional Tests" to run our test cases. Sometimes due to Agent issue or network issue, test case execution aborted. After we checked the result, we assume that aborted test cases should be under failed. But now it under others with excluded test cases. It will make misunderstanding there. Is it possible to add abort category or make the aborted test cases

[2017-03-08 15:39] Pitterling commented on #3358
**TFS2017 Update 1 - issue still exist - Nuget Installer 0.2.29**

******************************************************************************
Starting: NuGet restore **\*.sln
******************************************************************************
Task         : NuGet Installer
Description  : Installs or restores missing NuGet packages
Version      : 0.2.29
Author       : Microsoft Corpo

[2017-03-08 15:43] KZeronimo commented on #3746
Agreed.  NuGet Restore and Publisher tasks allow the choice of NuGet version - NuGet Packager needs to behave the same manner.

[2017-03-08 15:45] rmarinho commented on #962
As some feedback i think we could have a GetSources as a task,where we have a primary source  but can i have other sources.. TeamCity allows this with multiple VCS roots

[2017-03-08 15:53] KZeronimo opened #3756 "Align VSTS Tasks NuGet Restore, Packager, and Publisher to Select NuGet version - include version 4"
Now that VS 2017, .Net Core Tools 1.0, and NuGet 4.0 are released the appropriate build tasks need to be bumped to leverage

An open question is will NuGet Restore be necessary for new solutions/projects with the availability of [background restore and msbuild /t:restore](http://blog.nuget.org/20161121/introducing-nuget4.0.html)

[2017-03-08 15:53] ericsciple commented on #962
@rmarinho agreed. we are working toward that.

[2017-03-08 19:21] superjulius commented on #3051
Thank you @arjgupta ! We did a build/release today and no issue. Will update you in case we see the issue again.

[2017-03-08 19:56] rmarinho commented on #439
it's not that updated.. so what's the process this keeps updated? Can we make a pr?

C9 stable is out, i would hope the next day support on VSTS ...

[2017-03-09 02:56] dcarl1 commented on #3311
Why is this closed? It is currently impossible to build csproj based .NET Core projects on VSO.

Is there an ETA at least? Every reference I can find says "by RTM".

Some people rely on VSO for dev-ops and production...

[2017-03-09 05:30] #3694 closed

[2017-03-09 07:49] kbulte commented on #3521
@MikkelHegn I saw the  hosted build agent uses the latest SF SDK today:

![image](https://cloud.githubusercontent.com/assets/1887008/23740735/3d7fd17a-04a5-11e7-9d30-29787d69db66.png)

Thank you for your help.

[2017-03-09 07:49] #3521 closed

[2017-03-09 08:28] arjgupta commented on #3661
Hi @acosmici , it seems, that there is some process that has a handle on the directory that you are attempting to delete. Can you please ensure that before running the script, no process has a handle on the directory. You can also try to stop the App Pool of the website before running the script. You can use the IIS Web Administration Module cmdlets to start, stop websites and app pools. You can a

[2017-03-09 08:44] carlosinit opened #3758 "FTP Upload Service Endpoint variable"
Hello,

I tried to make the field "FTP Service Endpoint" of the FTP upload task use a variable defined in the environment. I need to pick a different endpoint for each of the environments.

I could save my configuration with the use of the variable without any problem but at run-time I get issues.

I tried to put the friendly name in the variable and it says that it cannot find the endpoint.

I ch

[2017-03-09 09:08] arjgupta commented on #3312
Hi @onionhammer , any update for the case when you enable the 'Take App Offline' feature and get the file_in_use error?

[2017-03-09 09:35] aswinraaj commented on #3747
I have exactly the same problem as aciechomski. VSTS throws the above error for ASPNET Core project

[2017-03-09 09:56] moattarwork commented on #3311
+1

[2017-03-09 11:24] DavidStaheli commented on #3758
Hi @carlosinit, thanks for asking.  Just last week, @yacaovsnc enhanced the FTP Upload task so that connection details can be specified inline instead of using a service endpoint.  This will let you set the URL, username, and password using variables.  If you're interested, [here](https://github.com/Microsoft/vsts-tasks/pull/3646) is the pull request.

Are you running TFS on-premises, or Team Serv

[2017-03-09 12:00] srpeterson commented on #3311
I agree with with dcarl.. Why is this closed???? I spent all day yesterday trying to get a VS 2017 .csproj to build on VSO. Tried MSbuild, Visual Studio 2017 build steps.. no success. In addition, another unit test project that was still project.json based starting failing on VSO the minute I upped it to .NET Core App 1.1.1. Had to rollback to 1.1.0. Sigh... I am really getting tired of the consta

[2017-03-09 12:07] bryanmacfarlane commented on #3311
I'll reopen till your scenario works.

There's two separate things - the tasks (this repo) and the hosted pool image which doesn't have 2017 and new dotnet cli tooling installed on it (not covered in this repo).

Good news is that image is rolling out now ( we were waiting for final build which we have).

You will see another Queue for your def to target (VS2017).

Other piece of good news for the

[2017-03-09 12:13] srpeterson commented on #3311
Thank you for your quick response. I will give it another shot later on today and provide feedback

[2017-03-09 12:43] bryanmacfarlane commented on #3747
Both are the same issue.  The hosted image doesn't have VS2017 yet.  Read my last comment in #3311

You can create a private agent if you're blocked (on azure VM)

[2017-03-09 12:43] #3747 closed

[2017-03-09 13:07] mousumid opened #3761 "Windows Machine File Copy task fails - System error 53 has occurred. the network path was not found."
Hi
I am tried to deploy build artifacts in two different environments in VSTS using two different agents. In my DEV environment deployment is done where I am using default agent but in QA environment I am getting below error, where i am using hosted agent.

Preparing task execution handler.
2017-03-09T10:36:24.4694061Z Executing the powershell script: D:\a\_tasks\WindowsMachineFileCopy_731004d4-1d

[2017-03-09 14:32] onionhammer commented on #3312
Nope, so far it seems to work with that option set.

[2017-03-09 15:02] gorillapower commented on #3507
@seanrockster did this get resolved? Im experiencing similar issues where Ive included my *.config transforms in an artifact, published the artifact and then  applied xml transformations in a Release environment definition. To no avail.

[2017-03-09 15:04] seanrockster commented on #3507
Not as far as I'm aware.

On 9 March 2017 at 15:02, gorillapower <notifications@github.com> wrote:

[2017-03-09 15:22] matttrakker opened #3762 "NuGet Restore task fails for .Net Core project migrated with VS 2017"
Dear all,

I have .Net Core project which has been converted with Visual Studio 2017.
The build plan especially the task NuGet Restore worked for that one before the migration.

Afterwards the build fails with the error:
##[error]C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Sdks\Microsoft.NET.Sdk\build\Microsoft.PackageDependencyResolution.targets(154,5): Error : Assets f

[2017-03-09 15:29] matttrakker commented on #3762
ok, the dotnet restore task is working, but it still seems like a bug(for me)...

so close if as expected ;)

[2017-03-09 16:15] mbowman8 commented on #3311
@bryanmacfarlane Good day. I understand the image is quite big, and may take some time to roll out. As of right now, I do not see that new Queue option. Is there an expected ETA for this to be completed?

[2017-03-09 16:30] dcarl1 commented on #3311
@bryanmacfarlane Thank you. With newly released dev tools Github is the best (and often only) resource to get information about what is working within the tool chain. Having the ticket open until it works at least prevents people from wasting time trying to get it to work.

[2017-03-09 16:37] alexmullans commented on #2119
@abatishchev we're spec'ing these improvements now, hoping to start on them next sprint. Feature 564185: NuGet producer build tasks v2 https://mseng.visualstudio.com/VSOnline/_workitems/edit/564185?fullScreen=false

[2017-03-09 16:54] ppptrevoro opened #3763 "DistributedTests: Error "Value cannot be null. Parameter name: uriString""
I am getting this error when trying to run CodedUITests on a windows 7 virtual machine using the DistributedTests task.  The tests are found but never execute and I am hit with the following error message:

DistributedTests: UnExpected error occured during test execution. Try again.
DistributedTests: Error : One or more errors occurred.--->Value cannot be null.
Parameter name: uriString

*TFS 2015

[2017-03-09 17:13] raffaeu commented on #2126
Oh come'n guys now you removed the -xml results.xml switch??
Between 1.0 to 1.1 version of dotnet CLI?
Do you have Product Owner/Agile Process to follow in MS?

[2017-03-09 17:18] Jonathan34 commented on #2126
@raffaeu you can use `-l trx`

[2017-03-09 18:10] niadak commented on #3712
AzurePowerShell task is equivalent to PowerShell task under Utility category except it set up Azure connection and allow user to execute Azure PowerShell commmands. Both run on the Automation agent machine.

On the other hand "PowerShell on Target Machines" task run the PowerShell task to a Remote machine.

[2017-03-09 18:15] niadak commented on #3663
@asmaarabie Thanks for reporting the issue. Can you please share the details logs with us. You can set System.Debug = true in variable tab and requeue the deployment to generate details log. You can send the logs to RM_Customer_Queries@microsoft.com

[2017-03-09 18:17] ds-249 commented on #3709
@fvoncina This error has been fixed, it was due to a casing mismatch. You seem to be using 0.4.0 version of the task. Kindly update to 0.4.1 version of the task.

Just to be sure, I have built the task on Ubuntu-16.04, Ubuntu-14.04 and Windows-10, the build was succeeding without any errors.

[2017-03-09 18:22] ds-249 commented on #3543
@ericmaino try updating to the 2.x version of the task, and let me know if you're still facing this issue. I apologize for the delay in response.

[2017-03-09 18:28] carlosinit commented on #3758
Hi @DavidStaheli,

It is on Team Services that I face this problem. But your solution will indeed fix it! I will use it as soon as deployed.

Thanks a lot for your feedback

[2017-03-09 18:41] #3758 closed

[2017-03-09 18:46] ekumlin commented on #3762
The downside to `dotnet restore` is that it does not work with VSTS's authenticated feeds. We would need NuGet 4.0 to work with **both** authenticated feeds *and* VS2017 csproj, which I believe is part of the ask in #3756.

[2017-03-09 19:19] ericmaino commented on #3543
Thanks I'll give that a try and provide feedback if I see issues.

[2017-03-09 19:19] pentp opened #3765 "WindowsMachineFileCopy does not work with UNC paths with subdirectories"
When _Destionation Folder_ is of the form `\\srvname.domain\sharename\subdirname` and the subdirectory doesn't exist then it fails:

Failed to connect to the path \\srvname.domain\sharename\subdirname with the user srvname\tfs for copying.
System error 55 has occurred.
The specified network resource or device is no longer available.

[2017-03-09 19:20] necoras commented on #3747
@bryanmacfarlane I'm seeing this same behavior running MsBuild in a jenkins script. The build works fine locally in VS2017. Will there be a new BuildTools release which supports VS2017/dotnetcore incoming soon? (Sorry that this isn't a VSTS specific issue; please feel free to point me at the appropriate GitHub repo.)

[2017-03-09 19:22] moattarwork commented on #3311
I don't see any difference too. That would be ideal if you add a quick steps as well.
Currently you have two templates for build in VSO both in preview which one is ASP.net Core and the other one is ASP.net and the latter has support for solution build but it can't find and compatible agent.

[2017-03-09 22:04] RealDotNetDave commented on #3719
I'm having the same issue too.

[2017-03-09 22:19] NCarlsonMSFT commented on #3720
Could you please provider more information about your project, the settings you are using, and the full output of the error? I have not seen anything like this with my own deployments.

[2017-03-09 22:57] srpeterson commented on #3311
Hi. I just fired off another .NET Core (Preview) build on my VS 2017 .csproj web app. Sorry to say, but it is  still failing. It fails on the "Restore" step before it actually builds:

rror: Invalid input 'D:\a\1\s\DocumentDb.Poc.Api\DocumentDb.Poc.Api.csproj'. The file type was not recognized.
Dotnet command failed with non-zero exit code: 1.
C:\Program Files\dotnet\dotnet.exe restore D:\a\1\s\Do

[2017-03-09 23:07] alexmullans commented on #3719
This is likely due to NuGet 3.3. Can you try changing the NuGet version to 3.5 and see if that fixes your issue?

[2017-03-09 23:30] balage-amarasena commented on #3051
Hi @arjgupta, I am also seeing the issue.

2017-03-09T22:58:51.3035704Z ##[error]The remote server returned an error: (404) Not Found.
2017-03-09T22:58:51.3185687Z ##[section]Finishing: Execute Azure SQL : DacpacTask
2017-03-09T22:58:51.3275686Z ##[section]Finishing: Release

the issue started yesterday and seems to be what people here are seeing. Can you please advice us on how to resolve this is

[2017-03-09 23:39] alexmullans commented on #3756
We're planning this work now, using the upcoming [tool installers](https://github.com/Microsoft/vsts-tasks/blob/master/docs/tools.md) to decouple version management from all the NuGet tasks.

In the meantime, here's a workaround if you need NuGet 4 immediately.

1. Add a PowerShell Script step before your NuGet steps. Choose the Inline Script option and enter Invoke-WebRequest https://dist.nuget.o

[2017-03-10 04:52] amccool opened #3768 "question: how to upgrade a built-in task"
I need to update vstest, I am at
\tasks\VSTest\1.0.32  on premise tfs 2015

what is the process for upgrading this build task?

[2017-03-10 04:57] KZeronimo commented on #3756
Perfect - thank you!

Taking the exact same approach with getting the release version of the .NET Core CLI tools installed on the hosted agent

Feel free to close

[2017-03-10 06:26] karluiz commented on #3311
Also, restore doesn't do anything. It's very frustrating.

******************************************************************************
Finishing: Restore Common
******************************************************************************
******************************************************************************
Starting: Restore Data
*******************************************************

[2017-03-10 08:40] niadak commented on #3765
@pentp  Thanks for reporting the issue. For UNC path as destination in this task, the path required to be already present. Is there any specific scenario where you need the sub directory to be created by the task?

[2017-03-10 08:45] richardpike opened #3770 "Xamarin.Android linking fails with TargetFramework 7.1"
Essentially this issue is a copy of #3191 but for the increased target framework.

Is there an expected date for the Hosted VM's to be updated so I can build 7.1?

[2017-03-10 08:45] niadak commented on #3761
@mousumid Thanks for reporting the issue. We dont support WindowsFileCopy task in Hosted agent as hosted agent will not able to connect to local machine. Please use private agent for this scenario.

[2017-03-10 08:59] MikalJ opened #3771 "FTP Upload randomly fails at the "Clean remote directory" step"
Using an FTP Upload task to upload some doxygen generated documentation to a subfolder in an Azure website. And it randomly fails with the following log.

Once this problem starts, it only goes away by restarting the website.

[2017-03-10 10:54] bishalpd commented on #3522
@mani-ramaswamy is there a doc which specifies why secure linux clsuter is not supported in PowerShell? I don't think we can do much in the task if PS itself does not support connecting to secure linux cluster.

[2017-03-10 11:27] bishalpd commented on #2929
@MikkelHegn now that service fabric powershell task is available, should we close this issue or are you considering adding option to support parallel deployment?

[2017-03-10 11:48] DavidStaheli commented on #3771
Thanks for reporting this.  I'm forwarding it to people who work on Azure Web Apps and will reply with more later.

[2017-03-10 11:51] koenmetsu commented on #3311
Are we talking hours, days, weeks, .. here?

[2017-03-10 11:56] benc-uk commented on #3311
This is hardly a surprise, this change to .NET Core has been coming for many, many months, and there has been the SDK tooling that supports .csproj and project.json availble for almost as long

[2017-03-10 12:16] bryanmacfarlane commented on #3311
It should go out with our current (114) sprints rollout.   Sprints take 1 - 2 weeks to roll through scale units.

Per above, you will know you have it when you see a VS2017 queue.  The hosted pool queue image does not have VS2017.

@benc-uk - correct this isn't a surprise.  We've been working with .net core since it's inception.  Our agent is even built with .net core and we've followed it's tooli

[2017-03-10 13:44] #3193 closed

[2017-03-10 13:48] cltshivash commented on #3728
Not related to the VSTS Tasks. Please work with Microsoft Support for Coded UITest Issues.

[2017-03-10 13:48] #3728 closed

[2017-03-10 13:51] jeffputz commented on #3311
What does it mean "see a VS2017 queue?" You guys are talking about pools, images and queues as if we all know and understand the underlying infrastructure of VSTS. I understand build definitions and steps within them.

[2017-03-10 13:54] aloneguid commented on #3311
@jeffputz I think it means agent queues, we should see another one for VS 2017 appearing soon here:

![image](https://cloud.githubusercontent.com/assets/3155189/23797707/058ec0a6-0599-11e7-9d8c-00c9e09954e5.png)

@bryanmacfarlane  please correct me if I'm wrong

[2017-03-10 15:39] mbowman8 commented on #3311
For those in a non-production testing environment, I found creating a private agent on my local PC does the trick. It seems odd to push code up to VSTS, only for it to push it back to perform the build and tasks, but regardless, it allows continued movement on testing out the new features using VSTS.

[2017-03-10 15:47] aloneguid commented on #3311
@mbowman8 I originally moved to VSTS because I don't want to manage local infrastructure.

[2017-03-10 16:18] RealDotNetDave commented on #3719
Thanks, I finally got it working. It was really an issue with the project references. For some reason it's been building fine for months on my machine, but when  moved to TS, that's when it cropped up. Once I figured it out, it's running fine now.

My issue now is that the test project won't build. I sent in a separate issue for that.

David

________________________________
From: Alex Mullans <no

[2017-03-10 20:32] rposener commented on #3311
+1 - any updates?

[2017-03-10 20:36] dcarl1 commented on #3311
Since it sounds like this is a week or two away from roll out I've spun up a private build agent on Azure. The process is pretty simple, I (roughly) documented it here:

- Create an Azure VM
- Install dotnet core on the VM
- Install dotnet 462 SDK on the VM
- Install any other agent requirements (IE Node for NODE/NPM, Gulp.)
- Install Web Deploy (https://www.microsoft.com/en-us/download/details.as

[2017-03-10 20:37] jeffputz commented on #3311
Pretty simple unless, as others have pointed out, you're in this in the first place to get out of the business of maintaining your own infrastructure.

[2017-03-10 20:38] dcarl1 commented on #3311
@jeffputz Yes, but it is a temporary work around while the images roll out.

[2017-03-10 21:04] bensgroi opened #3774 "PhantomJS failing"
Starting today (3/10), our Karma tests running in PhantomJS have been failing. This appears to have coincided with release of karma-phantomjs-launcher@1.0.3. Looking through the changes in that package, I found this path-related change: https://github.com/karma-runner/karma-phantomjs-launcher/commit/482eba50

Maybe this is the problem? I read that VSO agents have a globally-installed version of Ph

[2017-03-10 21:05] bensgroi commented on #3774
Current workaround is to lock karma-phantomjs-launcher to 1.0.2.

[2017-03-10 21:38] zthun commented on #3774
I ran into the same issue.  Reverting to karma-phantomjs-launcher and forcing version =1.0.2 with phantom-js-prebuilt =2.1.14 seems to resolve the issue.

[2017-03-10 21:43] zthun commented on #3774
I ran into this issue today (3/10/2017) as well.  I reverted karma-phantomjs-launcher and forced it to =1.0.2.  This resolves the capture issue, but this still has issues with phantomjs timing out multiple times and having to retry at a minimum of 4 times before a connection is made.  It looks like the PhantomJS version on the Hosted agents is 2.1.1 and we currently run with 2.1.14.

[2017-03-10 21:56] rhan1161 commented on #2929
Does the new SF powershell task allow me to run the deployment scripts with Administrative rights?  I'm deploying/upgrading services to a secured SF environment?

[2017-03-11 09:09] benc-uk commented on #3311
If anyone is using Docker I've created an VSTS build agent image with the latest .NET Core SDK installed. I've used this with VSTS to successfully build & publish .csproj based projects
https://hub.docker.com/r/bencuk/vsts-agent/

[2017-03-12 14:09] robpex opened #3776 "Path to Custom Test Adaptors has trouble finding xunit.runner.visualstudio.2.2.0"
The Visual Studio Test Task is not able to find the xunit test adapter, even when specifying part of the path.  I reproduced this on our build server and found that it won't work until you specify the full path, including "_common"  (eg. "D:\agent\_work\57\s\src\Fabrikam\packages\xunit.runner.visualstudio.2.2.0\build\_common").  If you only provide the path up until "packages" or anything before "

[2017-03-12 14:36] robpex commented on #3776
After looking at the code, this probably belongs in Microsoft/vstest.  I will move it yet again once I confirm.

[2017-03-13 04:46] ds-ms commented on #3768
Download this repo.
run `npm install`, then build the task using `node ./make.js build --task <task_name>`
Install tfx-cli
Generate a PAT from your onPrem setup.
then run `tfx build tasks upload --task-path _build\Tasks\<task_name> --serviceUrl <url_to_your_onPrem_Setup> --token <PAT>`
This will update it to the latest version.

[2017-03-13 10:29] nigurr commented on #3776
This is addressed here. Should be fixed with next deployment [week or 2 week max]
https://github.com/Microsoft/vsts-tasks/pull/3677

[2017-03-13 10:29] #3776 closed

[2017-03-13 10:41] nigurr commented on #3763
@ppptrevoro This is something not expected. Seems like you are using Visual Studio Test Agent 2015 Update 2. Can you please install Update 3 and try running the tests.

[2017-03-13 12:00] vincentdass commented on #3322
The issue is resolved and the fix will be available in upcoming deployment.

[2017-03-13 12:00] #3322 closed

[2017-03-13 12:48] artberri opened #3779 "Azure CLI 2.0 Support"
Hi,

Are you planning to add support to the Azure CLI 2.0?

I mean, right now, Azure related tasks are implemented based on the Node.js Azure CLI, for example:
https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/AzureResourceGroupDeployment

Will these tasks work in the future with the Azure CLI 2.0?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

Thanks in advance

[2017-03-13 12:49] girishgoudar opened #3780 "Access denied when deploying the test agent"
I am trying to deploy the test agent on a machine with .net 4.6.1 and remoting enabled . I get access denied for connecting to the test agent machine.

[2017-03-13 13:23] DarqueWarrior opened #3781 "Help text for avgResponseTimeThreshold of QuickPerfTest is wrong"
The help text for QuickPerfTest avgResponseTimeThreshold  reads
"Load test run duration in seconds."
which is a copy and paste error from runDuration and needs to updated.

[2017-03-13 14:53] #3656 closed

[2017-03-13 14:56] madhurig commented on #3568
We added a "clean" option to the Xamarin.iOS task which will be available with the next VSTS deployment in early April.

[2017-03-13 14:56] #3568 closed

[2017-03-13 14:57] #3261 closed

[2017-03-13 15:06] colinmcbride opened #3782 "System.Management.Automation.ParameterBindingException: A parameter cannot be found that matches parameter name 'testSelector'."
I am using pretty much all of the defaults when trying to run unit tests as part of the automated build proces. It keeps failing with the error: System.Management.Automation.ParameterBindingException: A parameter cannot be found that matches parameter name 'testSelector'. LegacyVSTSPowerShellHost.exe completed with return code: -1.

Full Error:
=====================================================

[2017-03-13 15:47] madhurig commented on #3770
Hosted build VMs have been updated and they have Xamarin Android 7.1 and Android SDK 25.0.2. The documentation will be updated today.

Thanks,
Madhuri

[2017-03-13 15:48] madhurig commented on #3687
Android SDK 25.0.2 is now available on the hosted build VMs.

[2017-03-13 15:48] #3687 closed

[2017-03-13 15:49] madhurig commented on #3353
Cycle 9 which has the fix is now available on the hosted build VMs.

[2017-03-13 15:49] #3353 closed

[2017-03-13 15:50] madhurig commented on #439
@rmarinho: Cycle 9 is now available on the hosted build VMs. We would like to speed up the update process and are working on some improvements. The process is not open source, so we can't accept PRs currently.

[2017-03-13 16:09] robpex commented on #3776
@nigurr i don't know if this is the same issue.  I turned on diagnostics and ran vstest and it had a lot of errors using reflection when it found the .net core versions of the xunit adapter (I'm not using any .net core stuff yet).  Those errors are silently ignored, so, to the VSTS user, it just looks like no tests were found.  I didn't have enough time to take it further than that, unfortunately.

[2017-03-13 16:19] rmarinho commented on #439
Awesome, thanks!

[2017-03-13 19:49] jerone commented on #439
[**@madhurig**](https://github.com/madhurig) commented on [13 mrt. 2017 16:50 CET](https://github.com/Microsoft/vsts-tasks/issues/439#issuecomment-286149609 "2017-03-13T15:50:24Z - Replied by Github Reply Comments"):

Can you update the [hosted agents software list](https://www.visualstudio.com/en-us/docs/build/concepts/agents/hosted#software).

[2017-03-13 19:51] madhurig commented on #439
@thechrisjohnson is updating it today

[2017-03-13 20:22] mikanyg commented on #3346
@NickDarvey a new option, SkipUpgradeSameTypeAndVersion has been merged to master in PR #3529, hopefully it will show up in VSTS soon.

[2017-03-13 23:04] rmarinho commented on #439
Also de capabilities seem to not be correct does the agent version number changes for example when you update Xamarin ?

[2017-03-14 04:27] nigurr commented on #3776
@robpex can you try running 'vstest.console.exe' in local box and see if it works out. if it doesn't it should be reported here https://github.com/Microsoft/vstest
If it's working with vstest.console.exe and but if there's a problem with vsts pipeline, let us know the issue.

Thanks

[2017-03-14 04:29] nigurr commented on #3780
@girishgoudar can you attach the build logs?

Can you please check your build definition - Deploy Test Agent task where the username and password are correct

[2017-03-14 05:00] prawalagarwal commented on #3744
Hi @wouterroos,

Answer to a few questions will help us:

1) Did you see this error only in your first run or are you seeing this in every run? Are you able to see only impacted tests running? Please share the logs with us after setting system.debug to true in the build variables.

2) The error log says "Test Run Updation Failed". Can you verify if you are not able to see run information in "Summa

[2017-03-14 06:30] girishgoudar commented on #3780
Hi @nigurr

The username and passowrd is correct

I have followed this link
https://www.visualstudio.com/en-us/docs/build/apps/cd/deploy-webdeploy-iis-winrm

and ran the powershell script as below

ConfigureWinRM.ps1 {FQDN} http

find the logs attached . I am getting access denied
[log.txt](https://github.com/Microsoft/vsts-tasks/files/840424/log.txt)

Do we need install the certficate for HTTP?

[2017-03-14 07:42] niadak commented on #3663
@asmaarabie, Are you still facing the issue? If so please send the details logs to RM_Customer_Queries@microsoft.com

[2017-03-14 07:45] niadak commented on #3661
@acosmici , Are you still facing the issue? Can you please stop the App Pool of the website before running the script and try once as @arjgupta has suggested earlier.

[2017-03-14 07:56] acesiddhu commented on #3780
@girishgoudar can you check if the issue is similar to http://stackoverflow.com/questions/14127050/powershell-remoting-giving-access-is-denied-error
From logs it looks like while connecting via remote powershell we are getting access denied.

Also I suggest to check out https://blogs.msdn.microsoft.com/deployment_service/2015/09/11/windows-remote-management-winrm-troubleshooting-guide-for-remote-s

[2017-03-14 08:05] acosmici commented on #3661
@niadak, it appears that solved my issue. Thanks for the support.

[2017-03-14 08:05] #3661 closed

[2017-03-14 09:47] wouterroos commented on #3744
Hi,

1. I saw the error multiple times, but sometimes the run finished with some 'not impacted' tests in the results. I'm currently trying to reproduce the issue at the moment, but I'm having some issues with the 'Path to custom test adapters' field (set to 'packages' for our repo, since we're using xunit) which causes the test run to fail with errors similar to: `The test source file "(187a4a28b0

[2017-03-14 10:04] asmaarabie commented on #3663
It disappeared after a couple of hours
ᐧ

On Tue, Mar 14, 2017 at 9:43 AM, Niadak <notifications@github.com> wrote:

[2017-03-14 10:29] fred2u commented on #3311
You can download the latest version of the .net core SDK on the hosted agent https://social.msdn.microsoft.com/Forums/vstudio/en-US/f05d8aea-e917-4711-b7ef-93ed5ade84d0/csproj-the-file-type-was-not-recognized?forum=TFService&prof=required#0f1b77f4-ab11-4b66-aba3-4ebe58c0b3ca

[2017-03-14 11:19] pentp commented on #3765
I was hoping to use a deployment model where I only need access to an UNC share (i.e., no WinRM). I could create the proper folder structure with a script beforehand, but that kind of defeats the purpose of this copy task - I could just as well call robocopy directly from my script.

In any case, the error message is really confusing.

[2017-03-14 11:24] hanwesh commented on #3311
@sachinma Could you provide an update? Clearly still not working at this point. I mean host does not build VS2017 with asp.net core issue.

Thanks

[2017-03-14 11:31] ChristophB125 commented on #3311
@sachinma  As already pointed out, a current workaround is to install it as part of the build (it only takes about 3 minutes). Just copy [this](https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/obtain/dotnet-install.ps1) PowerShell script into your repository and call it as follows in a PowerShell build step (note that the installation and build somehow have to be in the same build step)
$curre

[2017-03-14 11:58] niadak commented on #3406
@Ricconnect , IIS team has acknowledged that there is some issue with few commands due to which we are not getting the logs. For example, 'Get-WebSiteState' command has this issue and we can work around this by using (Get-WebSite  -Name "WebSiteName").State command instead.

Form logs it seems like we the first missing log is "Stopped application pool UMO-releaseManagement1". Can you confirm that

[2017-03-14 13:11] benlaan opened #3787 "Visual Studio version '15.0' not found for VSTS Hosted Build"
I upgraded my project to VS2017 and now my build is broken - I modified the code to use some new C# constructs (which seemed like a good idea at the time!)

It looks like, even though I modified my build agent task to use 'VS 2017', it is still using MSBuild 14.0.

Is there something I can do to get working, without resorting to a custom build agent (or reverting my shiny new C# code)?

[2017-03-14 14:08] andershermansen commented on #553
There is a suggestion on user voice to use a cache to improve install time
https://visualstudio.uservoice.com/forums/330519-team-services/suggestions/11063364--tfsbuild-vnext-add-a-npm-cache-mirror-on-hosted

[2017-03-14 14:52] richardpike commented on #3770
Thanks. Just ran a successful build.

[2017-03-14 14:52] #3770 closed

[2017-03-14 17:05] madhurig commented on #439
@rmarinho : Agent version need not change with every hosted build update.

[2017-03-14 18:56] steve-torchia commented on #3311
the above workaround (while not ideal) seems to work.

[2017-03-14 20:04] koenmetsu commented on #3311
I followed instructions provided by @fred2u (https://social.msdn.microsoft.com/Forums/vstudio/en-US/f05d8aea-e917-4711-b7ef-93ed5ade84d0/csproj-the-file-type-was-not-recognized?forum=TFService&prof=required#0f1b77f4-ab11-4b66-aba3-4ebe58c0b3ca). It worked well and quicker than I had expected.

[2017-03-14 20:11] ggirard07 commented on #962
@ericsciple is there any reference on [VSTS features timeline](https://www.visualstudio.com/en-us/articles/news/features-timeline) about it I can look for to know when this will be completed and actually released?

[2017-03-14 20:19] madhurig commented on #3196
For convenience of any other users who might run into this, I have compiled the code and tested it against TFS 2015 Update 3.

[Xcode.zip](https://github.com/Microsoft/vsts-tasks/files/842559/Xcode.zip)

Compatible stable build agent download location: https://github.com/Microsoft/vsts-agent/releases/tag/v2.112.0

How to install the task on the TFS 2015 server:
1.	Install tfx CLI: https://github.c

[2017-03-14 20:47] BaskiGIT opened #3788 "Running the "DeployVisualStudioTestAgent" task reboots the machine; Is it by design?"
We have TFS 2017.

As part of TFS build we are deploying Test Agent with this task "Deploy Visual Studio Test Agent".

When it is used for the first time in a machine, it works fine, running Test AGent as User2, while another user is logged in to the machine as User1.

On a consecutive build to the same machine when User1 is logged to the machine, the machine gets rebooted, as the build runs the t

[2017-03-15 01:05] bonnici commented on #1486
In case anyone else lands here, the fix I found via [stackoverflow](http://stackoverflow.com/questions/38355882/phantomjs-not-captured-when-ran-via-build-server) is to add a build variable with the key "PHANTOMJS_BIN" and the value "C:\NPM\Modules\PhantomJS.cmd".

[2017-03-15 05:07] acesiddhu commented on #3782
@colinmcbride I tried to repro this but I am not able to repro this. Can you put system.debug = true in build definition variables, queue the build again and share the build logs.

[2017-03-15 05:34] acesiddhu commented on #3679
@bbusacker if the test prints the information as console logs we will automatically show it in test run summary (see below image).

![image](https://cloud.githubusercontent.com/assets/1168823/23934947/cb5aefde-096e-11e7-8a65-373663e8c3bd.png)

[2017-03-15 05:42] acesiddhu commented on #3744
@wouterroos can you share the build logs (after enabling system.debug = true) for "test source file ..." issue

[2017-03-15 05:43] acesiddhu commented on #3744
For "Index was out of range. Must be non-negative and less than the size of the collection" issue let me check the code to see where the problem could be

[2017-03-15 06:59] mickyd commented on #3782
+1 getting this too

[2017-03-15 07:08] wouterroos commented on #3744
@acesiddhu see the attachment for the logs, I've anonymized them so there could by 'duplicate' file references which can be disregarded. If you need anything else just ask.

[log.txt](https://github.com/Microsoft/vsts-tasks/files/843622/log.txt)

[2017-03-15 07:42] arjgupta commented on #3554
Hi @jaquelinecramos , We are closing this issue as it is resolved. Feel free to open it up again, if this problem still happens for you

[2017-03-15 07:42] #3554 closed

[2017-03-15 08:26] vferras commented on #3782
Hello,

I'm still facing the same issue, here the outputs:

PowerShellHandler.Execute - AddCommand(D:\a\_tasks\VSTest_ef087383-ee5e-42c7-9a53-ab56c98420f9\1.0.84\VSTest.ps1)
PowerShellHandler.Execute - Add inputParameters
PowerShellHandler.Execute - AddParameter(testAssembly=**\bin\Integration\*UnitTest*.dll)
PowerShellHandler.Execute - AddParameter(testFiltercriteria=)
PowerShellHandler.Execute -

[2017-03-15 08:26] niadak commented on #3765
@pentp thanks for your reply. We use net use command internally to map the destination before copy and that command fails if the destination folder does not present. In that case, the error message "**The specified network resource or device is no longer available.**" is correctly indicating the folder is not present.

I agree that this is a good scenario when the sub directory does not present we

[2017-03-15 08:28] #3761 closed

[2017-03-15 08:29] niadak commented on #3761
I am closing the issue. Please feel free to reopen if you need any additional information.

[2017-03-15 08:30] niadak commented on #3663
@asmaarabie Thanks for your confirmation.

[2017-03-15 08:30] #3663 closed

[2017-03-15 08:36] niadak commented on #3312
@onionhammer, @UsmanMohammad
I am assuming "Take App offline" feature resolve your issue. I am closing the issue. Please feel free to reopen if you are still facing the issue.

[2017-03-15 08:36] #3312 closed

[2017-03-15 09:13] vincentdass commented on #3575
@degant , the issue is resolved and the fix will be available in upcoming deployment.

[2017-03-15 09:13] #3575 closed

[2017-03-15 10:42] acesiddhu commented on #3782
Few more question
1) which version of the task are you using? From logs I see version 1 but the parameters it is using is of version 2.
2) is this happening in build or release pipeline?
3) can you share the json from history tab in build definition with me. you can just share contents of "id": "ef087383-ee5e-42c7-9a53-ab56c98420f9", task in the json. it will look something like . you can mail me

[2017-03-15 10:45] kimptoc commented on #3540
The method for finding maven provides a bit more feedback, maybe something similar/better could be adopted for the ant task too. :)

[2017-03-15 10:46] acesiddhu commented on #3782
also if you can mail me the account name (<**accountname**>.visualstudio.com) at devops_tools AT Microsoft DOT com, it will be great

[2017-03-15 11:08] VaughanJ commented on #3782
This was resolved for me by using the version 2 task. I was originally running version 1 and getting this error and simply upgraded to version 2 and the issue went away.

[2017-03-15 11:20] acesiddhu commented on #3782
@VaughanJ  you should be able to use version 1 as well. I am trying to see why did we hit this error in first place

[2017-03-15 11:24] asadsahi opened #3790 "csproj based asp.net core website vsts issue"
The error I getting when trying to publish asp.net core website which is csproj based is:

![image](https://cloud.githubusercontent.com/assets/3470892/23943870/caddbb5a-0968-11e7-9eb2-a06ba47c5e0f.png)

This is my task definition:
![image](https://cloud.githubusercontent.com/assets/3470892/23946314/d9db27d8-0971-11e7-9a77-26bc46716341.png)

There is new csproj file at the root, there is no project

[2017-03-15 11:27] vferras commented on #3782
Indeed I'm using version 1, and using the Build pipeline.
About the json you asked, I don't know how to get it :/
And also I've sent you by email my account name.

[2017-03-15 11:29] vferras commented on #3782
By the way, the email is being rejected

[2017-03-15 11:30] acesiddhu commented on #3782
@vferras I got the mail. Let me check.

[2017-03-15 12:02] acesiddhu commented on #3782
Ok I got a repro. Can you confirm if you are using latest build definition editor? if yes can you use the old editor and save the build definition and try again?

[2017-03-15 13:18] DavidStaheli commented on #3540
@ericsciple, people are finding this error message pretty cryptic:
`Error: Failed which: Not found ant: null`

Can the task-lib's [task.ts line 1003](https://github.com/Microsoft/vsts-task-lib/blob/master/node/task.ts#L1003) supplement the error to output something more, like:
`Error: Failed which: the tool was not found in the path: ant`

[2017-03-15 13:58] vferras commented on #3782
I can confirm I was using the new editor, and with the old one is working fine. Thanks!!

[2017-03-15 14:05] ericsciple commented on #3540
makes sense

[2017-03-15 14:32] girishgoudar opened #3791 "Run Functional test task in VSTS"
We are using specflow in the our ptoject to run functional task.
We getting the following issues .

Could not load file or assembly 'file://\\*****.FunctionalTests.dll' or one of its dependencies. Operation is not supported. (Exception from HRESULT: 0x80131515)

[2017-03-15 14:52] ghostinside opened #3792 "cURLUploader add -T, unpossuble to use -F"
I think we should have an option to decide how to uplod file, -T or if i need multipart form use -F instead

[2017-03-15 15:51] brettjacobson commented on #3358
I experienced this error using VSTS with an on premise build agent (not using TFS 2017).  Things work fine as long as I choose 3.3, but I get this error when I choose nuget 3.5 in the task.
Our build agent *ONLY* has VS2017 installed.

[2017-03-15 18:07] DavidStaheli commented on #3160
Update: we've reported this and related issues to the Azure Web App team to be fixed.  I'm closing this issue, but will update it with progress as received.

[2017-03-15 18:07] #3160 closed

[2017-03-15 20:29] MattPitlyk opened #3793 "AzureRmWebAppDeployment ignores unchecked "Publish using Web Deploy""
I am trying to deploy Python code to a Webapp using VSTS. I have a custom deploy.cmd file that helps deploy the code when I use a local git repo and Kudu. (That is, I can successfully git push my python code to my Webapp, and Kudu recognizes the changes and runs my deploy.cmd script which deploys the webapp correctly).
I now have my code in a VSTS repository and am creating a build definition to d

[2017-03-15 21:14] onionhammer commented on #3312
@niadak Nevermind. Just happened again

[code]

[2017-03-15 21:22] jarrichvdv commented on #3312
I'm also having issues deploying right now. Not exactly the same issue; but feels similar.

[code]

[2017-03-16 01:56] acesiddhu commented on #3782
we are tracking the bug in new editor internally. I am closing the issue now. Let me know if the workaround doesn't work

[2017-03-16 01:57] #3782 closed

[2017-03-16 02:35] ericsciple commented on #962
@ggirard07 no but we've been wanting to do it for a long time and we're working a feature now that i think is going to force it (next few months would be my best guess). we've also been making incremental steps along the way to decouple get sources from the agent.

for a workaround today you could clone the repo yourself. if you check Allow scripts access to OAuth token then you can use the token

[2017-03-16 03:56] mickyd commented on #3782
How do I revert to the **old editor**?  I can no longer see the hat switch in VSTS.

Also, after changing the Test step to **v2**, I now get:

Thanks

[2017-03-16 05:02] ds-ms commented on #3790
@asadsahi are you using a Hosted Agent or your own?

[2017-03-16 05:21] vincentdass commented on #3793
@MattPitlyk , thanks for reporting the issue.
As you know, Azure App Service Deploy task uses MSdeploy (for Windows platform) and Kudu Rest call (for other platforms).

- MSdeploy option is used when "publish using web deploy" is selected or the agent is in windows.
- Kudu rest call copies the web package to site/wwwroot (or other location provided in Application settings of App Service).

Recentl

[2017-03-16 06:24] acesiddhu commented on #3782
@mickyd check https://www.visualstudio.com/en-us/articles/news/2017/jan-05-team-services#try-out-new-features-we-are-working-on . you can turn off "New Build Editor" from here.
@AbhitejJohn any idea here for the ClassInit error?

[2017-03-16 08:09] martinfletcher commented on #3787
This is a very big issue for me, as we are currently starting a new project and want to target netstandard, using the new project templates. Currently we can not implement any CI builds through hosted agents on VSTS. We want to stay away from private agents, as we do not have the resource to maintain them for one, and two, this really should have been implemented and pushed out at the same time VS

[2017-03-16 08:22] AbhitejJohn commented on #3782
@mickyd : VS 2017 is defaulting to the new cross-plat nuget based MSTest Framework for a new test project. The above exception in ClassInit should throw when you refer **Microsoft.VisualStudio.QualityTools.UnitTestFramework** as well. Can you paste the signature of your class initialize method please?

[2017-03-16 09:58] nielsen72 commented on #3687
@madhurig is this available already? We still see this issue
[code]

[2017-03-16 10:55] asadsahi commented on #3790
I believe its hosted:

![image](https://cloud.githubusercontent.com/assets/3470892/23993068/0efb7aa6-0a37-11e7-9a42-fdd6170e64cb.png)

[2017-03-16 11:56] niadak commented on #3657
@isaacabraham , The issue mostly because of Azure SQL latency during drop database.
Are you able to deploy to an existing database with same publish profile directly use SqlPackage.exe?

If you are still blocked, can you please try the following:
1. Add one more "Azure Sql Database Deployment" task with inline script to Remove the database before the deployment task.

You can follow @VDanylevskyi'

[2017-03-16 12:04] ds-ms commented on #3790
The version of dotnet on the hosted agents is "1.0.0-preview2-1-003177" which doesn't support any dotnetcore commands with _.csproj_ files.
The reason you're getting that confusing error message is, the task supports searching and using .csproj files, so if you see the command which was executed, it gave the .csproj file as a parameter; when dotnet command expected a project.json file.

You could

[2017-03-16 13:11] dibble-james opened #3798 "VS2017 on Private Agent, new CSProj fails to reference Nuget assemblies"
We have  VS2017 installed on a private agent.  When we build a "mixed" solution of old and new CSProj files using the Visual Studio Build task it fails to build with assembly reference errors, eg:
`
The type or namespace name 'AutoMapper' could not be found (are you missing a using directive or an assembly reference?)
`

Opening and build the solution manually with Visual Studio on the agent itsel

[2017-03-16 13:26] madhurig commented on #3687
@nielsen72: The SDK version was updated to 25.2.5 but a couple of build tools versions 25.0.2 and 25.0.3 were not installed. There is an update in progress that should bring those. I will update once those are deployed.

[2017-03-16 13:49] marcwmiller opened #3799 "Cannot specify /UseVsixExtensions:true in Visual Studio Test task version 2.0.17"
I was able to specify other console options /UseVsixExtensions:true in version 2.0.13 in order for my .NET core/xUnit tests to be discovered and run. The other console options have been removed from UI. What is recommendation to provide this option through the latest Visual Studio Test task UI?

Here is command line for a VSTS build using version 2.0.13 of VSTest task on 2/25/2017 that was able to

[2017-03-16 14:07] ericsciple commented on #3798
The VSBuild task is a thin wrapper over msbuild.exe (cmdline printed in cyan in the log). The NuGet restore task should also print the cmdline it runs. To troubleshoot, I would recommend trying to repro locally on your box by running running the same/similar command lines.

If the correct version of msbuild is being called and the correct vsversion property passed on the command line, then the VS

[2017-03-16 14:27] dibble-james commented on #3798
Running the MSBuild command locally raw on a fresh checkout yields the same errors.  Now to find what magic Visual Studio is doing...

I'll close the issue.  Sorry for jumping to conclusions!

[2017-03-16 14:59] Ricconnect commented on #3406
@niadak  I can confirm that I use the Stop-WebAppPool command

[2017-03-16 15:49] madhurig commented on #3792
@ghostinside : The cURLUploader task is a convenience task for uploading files, hence -T is passed. If you want to use cURL with -F option, you can write a script and run it using the [Shell script task](https://www.visualstudio.com/en-us/docs/build/steps/utility/shell-script) or the [Batch script task](https://www.visualstudio.com/en-us/docs/build/steps/utility/batch-script) .

Thanks,
Madhuri

[2017-03-16 16:03] dibble-james commented on #3798
For anyone who comes across this, I found that adding `/t:restore` in the "MSBuild Arguments" solved the issue.  Visual Studio does this for you when building inside the IDE.

[2017-03-16 16:08] ericsciple commented on #3798
@zjrunner fyi - it sounds like the nuget restore task is not restoring everything?

[2017-03-16 16:26] dibble-james commented on #3798
@ericsciple @zjrunner  In my case, I had a Unit Test project using old style CSProj that coincidentally used the same Nuget references as my new format CSProj it was testing.  Therefore, all the references I required were available in `\packages` but MSBuild didn't seem to want to use them.  Does Nuget 4.X do something different than Nuget 3.5.0...?  That was my suspicion but I couldn't find a 4.X

[2017-03-16 16:40] zjrunner commented on #3798
Yep, was half way through that response.  4.0 is the only nuget.exe that can find msbuild 15 and correctly parse the projects to understand PackageReference.  In the nuget restore task you should be able to use the ()Custom option and put the path to where nuget 4 sits on a machine with 2017 on it, or you could write a task up front that pulls it onto the agent in a known location and uses that pa

[2017-03-16 17:45] SrivatsaMarichi opened #3800 "Visual Studio Test Task fails on TFS 2017 RTM during build"
Hi,

I am running Unit Tests as part of my build in TFS 2017 RTM. I am using VS Test task to do that. When i pass Test Filter Criteria as "TestCategory=UnitTests", the test fails. But it would have identified the tests and shown in the Test Summary post build. PFA logs for the same. Request any help here.

Thanks,
Srivatsa
[5_Test Assemblies.txt](https://github.com/Microsoft/vsts-tasks/files/84858

[2017-03-16 18:20] MattPitlyk commented on #3793
This is great news! I can use the script I am already including in my repo, as soon as that option shows up in my v3 template (currently mine looks different than your screenshots).

Looking forward to the python template as well, so please do keep me posted!

[2017-03-16 18:26] smattt opened #3801 "Remote Powershell started consistently timing out"
[smattt_tasklog_5.txt](https://github.com/Microsoft/vsts-tasks/files/848655/smattt_tasklog_5.txt)

Hi-

We've been using the Remote Powershell task successfully for a few months now, but on Tuesday they started consistently timing out and breaking our deployments. The logs are pretty lacking when it comes to useful messages. I've remoted in to our build machine in Azure and confirmed that WinRM is

[2017-03-17 02:11] mickyd commented on #3782
@AbhitejJohn sure.  ClassInit is simply the code from the wizard that I uncommented:

[code]

I should point out that this code was **working** on my **local** machine, even with the default VS NuGet reference.  It was not until I tried to run it on **VSTS** that it failed.

However, replacing the NuGet with an reference to the non-NuGet **Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll*

[2017-03-17 06:12] AbhitejJohn commented on #3782
Thanks @mickyd. Does your solution have projects with older/different versions of the MSTest nuget? Is it possible to point us to a link of your build where this failed? The logs for the vstest task should help us understand this better. @acesiddhu Any other thoughts?

On a side note, please refer to 10.0.0.0 of the old QualityTools.UnitTestFramework instead of 10.1.0.0 if you choose to move there

[2017-03-17 07:52] mickyd commented on #3782
Hi @AbhitejJohn ,

No.

Sure,  not sure if you can get in though:  https://medicaldirector.visualstudio.com/TED/_build/index?buildId=9505&_a=summary

Will do!

[2017-03-17 08:06] isaacabraham commented on #3657
Yeah that does seem to be the problem. I actually don't see it with S1 databases - just with Basic. I could do that workaround - another workaround I've thought of is to deploy two databases *without* using "drop and create", but **with** "drop objects not in source": -

1. A completely empty database DACPAC, which should remove the old database tables etc. etc. without doing a drop/recreate.
2. T

[2017-03-17 08:47] AbhitejJohn commented on #3782
Nah. 401. Can you attach the diagnostic logs for the vstest task please?

[2017-03-17 09:06] hallatore commented on #3311
I see that you can now choose **Hosted VS2017** in `Edit / General / Default agent queue`.
Seems to work great :+1:

[2017-03-17 09:14] aloneguid commented on #3311
@hallatore I can't find this, can you share a screenshot of where it is please?

[2017-03-17 09:20] niadak commented on #3801
@smattt  Thanks for reporting the issue. Can you please check the Task input **"Timeout"** under **"Control options"** section. I believe  that is set to 5 mins and because the task taking more than 5 mins it is timing out. Please set the Timeout field to 0 (means infinite) and try.

Please let us know if you need any other help..

[2017-03-17 09:24] hallatore commented on #3311
@aloneguid I think it's rolling out atm. So not sure it's available to everyone yet.

![](http://i.imgur.com/XYTelt8.jpg)

[2017-03-17 09:26] benc-uk commented on #3311
The VS2017 agent queue has just appeared in my account, and my .NET Core .csproj builds are working fine with it. Thanks guys

[2017-03-17 09:26] aloneguid commented on #3311
@hallatore ah thank you, probably still rolling out, I don't have it:

![image](https://cloud.githubusercontent.com/assets/3155189/24036943/c75425e6-0af3-11e7-96a4-05ee2a06bc8d.png)

![image](https://cloud.githubusercontent.com/assets/3155189/24036961/d4df5ee2-0af3-11e7-8841-2f88796a85da.png)

[2017-03-17 09:32] niadak commented on #3801
@smattt In case it is not honoring the time out input, please share the full worker log (Worker_20170317-090636-utc.log). Thanks.

[2017-03-17 09:33] acesiddhu commented on #1923
@Blinkk did you copy the dll to c:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\Extensions\Microsoft.VisualStudio.TestPlatform.Extensions.OrderedTestAdapter.dll? or you just copied it to test folder. can you try putting the dll at Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\Extensions\Micro

[2017-03-17 09:49] jasond-s commented on #3787
It seems that the build uses the csc.exe from the `Microsoft.Net.Compilers` nuget package (have just bumped to 2.0.1) to actually build the projects, so all the C#7 features work fine. Not sure if having the wrong VS version matters too much here. I am however getting a lot of tests failing due to missing methods, sadly 2017 isn't an option for tests yet.

[2017-03-17 10:03] niadak commented on #3657
Yes. This is a good and more systematic work around i would say.
Please let us know if you need any other help regarding this. Please fell free to close the issue otherwise.

Thanks a lot for reporting the issue.

[2017-03-17 10:09] niadak commented on #3406
@Ricconnect Thanks for your confirmation. We will get back to you if we get any work around from IIS team.

[2017-03-17 10:13] acesiddhu commented on #3782
@mickyd can you download the build logs and share that. Link to the build don't work as we don't have access

[2017-03-17 10:13] acesiddhu commented on #3782
Also make sure you set system.debug = true in definition before running the build

[2017-03-17 10:15] bryanmacfarlane commented on #3311
Yeah, last ring is around mon/tue hopefully.

Thanks for confirming it works for you

[2017-03-17 10:19] #3657 closed

[2017-03-17 11:22] mutee88 opened #3803 "Functional test step fails with no failure"
Hello,

I have a functional test step which fails since the Coded UI tests don't pass. But the tests don't fail either so am wondering if the tests run in the first place. See attached screenshots.
![nonfailednonpassed](https://cloud.githubusercontent.com/assets/6734562/24041010/b621f0ea-0b1c-11e7-95b6-1543e15bcfe3.PNG)
![results_others](https://cloud.githubusercontent.com/assets/6734562/24041069/

[2017-03-17 11:52] Selvaraj1989 commented on #2032
Hi,
I have created .testsettings file with **Video Recorder and System Info** and pointed it to "Run Settings File" in Run Functional test task. I am able to see the "SystemInformation.xml" attached to the test result of the test case. But i am not able to find the video recording either in the test result as well in the test case.

Please help me to find where the video is located.

Thanks in adv

[2017-03-17 12:09] byatis commented on #3311
Thanks. .Net Core preview tasks seems to run fine now. But now when I try to add nuget publisher as a last task I get an error stating that there are no available agents for 'Cmd' requirement.

[2017-03-17 12:16] rwlnd commented on #3311
I really find it incomprehensible that you would let people upgrade their solution without having the necessary tooling in place on VSTS! Lost an hour trying to fix my CI build before stumbling on this issue page. This is the reason why, for now, I am only using dotnet core for hobby projects and would not recommend using it for enterprise solutions at all!

[2017-03-17 14:05] allanmoller opened #3804 "The container XXX could not be found. (hope someone can help)"
Hey all,

hope someone can help before i go crazy :-) until yesterday i was able to add artifacts from other VSTS projects, this suddenly stopped. Initially i thought it was an issue with my GIT repo so tried rebuilding with no success, now i have tried setting up a test project with below settings.

VSTS test project1 -> GIT repo with a folder containing a single ps1 file (scripts\helloworld.ps1)

[2017-03-17 15:30] henning-krause opened #3805 "NPM authentication with On-Premise TFS2017Update1 Pakage feed"
We created an NPM feed on our on-premise TFS 2017 Update 1 server.

Added the required .npmrc file to our project and the build process runs just fine on our developer machines using the Access token in our profile folder .npmrc.

But the Build on the server failed.

We enabled the OAuth-Token in the Build definition (Options -> Allow Scripts to Access OAuth Token).

Here is the log from the build

[2017-03-17 16:02] keithrob commented on #3805
Thanks for reaching out.  Couple of questions for you...

1. Is your build agent connected to the account identified by [tfsserver].  IOW, if you have multiple accounts you need to ensure that this build agent is connected to the same account identified by "registry =".
2. Is the build agent running on win or *nix?

Keith

[2017-03-17 16:09] henning-krause commented on #3805
Hi Keith,

1. agent under a domain account.... I'm not sure what you mean exactly. Find our .npmrc file below.
2. Windows

Contents of the .npmrc file in the project:
[code]

[2017-03-17 16:48] Lyra1337 commented on #3287
Hey, i'm running into a similar problem. I tried your steps, but can't find any account by pasting the Guid. I added then the "Project Collection Build Service"-Account by the name - but the problem is still here.

Any help is appreciated!

[2017-03-17 17:03] Lyra1337 commented on #3287
I'm able to run this powershell script:
`C:\BuildAgent2017.1\_work\_tasks\NuGetPublisher_333b11bd-d341-40d9-afcf-b32d5ce6f25b\0.2.30\node_modules\nuget-task-common\NuGet\3.5.0\NuGet.exe push C:\BuildAgent2017.1\_work\1\s\MyPackage.2.0.0.0.nupkg -Source <feed-url> -ApiKey VSTS -Verbosity Detailed`
and that works...

[2017-03-17 17:10] Selvaraj1989 opened #3806 "Where to see the recorded video of CodedUI Tests using vNext Build?"
Hi all,

I have created .testsettings file with Video Recorder and System Info and pointed it to "Run Settings File" in Run Functional test task. I am able to see the "SystemInformation.xml" attached to the test result of the test case. But i am not able to find the video recording either in the test result as well in the test case.

Please help me to find where the video is located.

[2017-03-17 18:48] thechrisjohnson commented on #3311
@byatis, that is an issue with our capabilities we have listed for the new virtual agent. For now, you should be able to add a custom capability for CMD (you can copy it from the current setting in the regular hosted agent). I'm pushing a fix that should go out Monday to add this to the regular set of capabilities.

[2017-03-17 19:38] GersonDias opened #3807 "SonarQube analysis report not showing on build summary when using Gradle Build Task"
Hello,

I have a lot of builds using Gradle with Sonar Analysis and after upgrading to TFS 2017.1, the sonar's section that used to be in Build Summary won't appear anymore.

Another Code Analysis tools are working well (eg. checkstyle), but Sonar not... how can I troubleshoot that?

[2017-03-17 20:33] varnk opened #3808 "Run Functional Tests does not supply Suite and/or TestCase info the test engine."
When I use a Test Plan / Suites / Test Case in Run Functional Tests step, the test step runs the associated automation for each Test Case, but there are no parameters set for the TestMethod to read such as is done when the same tests are run using MTM.   Seems like the Run Distributed Tests task should pass the Plan / Suite / and Test Case information to the Test Method.  In particular, I need cus

[2017-03-17 20:46] divyau12 opened #3809 "Multi select picklist does not work with custom input"
When Trying to enter a custom input in a multiselect pick list, it doesn't work if the custom input is not one the options of the picklist. This is not an issue when multiselect is turned off i.e I am able to put in a custom input and works just fine. Please guide how to get the scenario working

[2017-03-18 04:01] mickyd commented on #3782
@AbhitejJohn sure, here you go

[5_Test Assemblies debughoratio.tests.dll;-obj.txt](https://github.com/Microsoft/vsts-tasks/files/852145/5_Test.Assemblies.debughoratio.tests.dll.-obj.txt)

[2017-03-18 06:00] hanwesh commented on #3311
still not working for me

[2017-03-18 06:53] AbhitejJohn commented on #3782
Ah I see the problem. You have a testsettings file. Do we need that? The new MSTest Framework no longer supports the legacy test settings. Can you please consider moving over to a [runsettings](https://msdn.microsoft.com/en-us/library/jj635153.aspx)?

[2017-03-18 12:32] bryanmacfarlane commented on #3311
@hanwash - we need specifics.  Are you not seeing the hosted vs2017 queue?  ( my comment above says it's mon / tue for last rings ).  Or is it issue with cod capability?  Or is it something else?  Maybe an error message?

[2017-03-18 20:37] bishalpd commented on #3624
@miker1423 can you please provide more details:

- are you using hosted agent?

- which VS version have you selected in the build sfproj task - VS2015 or VS2017?

- Please provide more detailed error log by adding a variable "system.debug" with value true in build definition and creating a new build

- Would be great if you can provide repro steps/sample app to repro this issue

[2017-03-19 04:57] bishal-pdMSFT commented on #3419
Closing this issue as CMD has been added as demand.

[2017-03-19 04:57] #3419 closed

[2017-03-19 09:07] degant commented on #3575
@vincentdass, @arjgupta What version will this be fixed in? And when will it be available?

[2017-03-19 09:30] NickDarvey commented on #3346
Awesome, thank you @mikanyg

[2017-03-19 09:30] #3346 closed

[2017-03-19 11:21] hanwesh commented on #3311
@bryanmacfarlane I am not seeing the hosted vs2017. I did not your last comment. I will give it to Wed given the time diff. Thanks

[2017-03-19 17:14] danieljaguiar commented on #3237
@madhurig I am getting this error now. Does this one came back? I am using 7.1...

[2017-03-19 21:10] chrisnott commented on #3746
Yes, this is essential. Please add support for this.

[2017-03-19 21:53] slamotte commented on #3311
@bryanmacfarlane I just created a new project in a new TFS account and Hosted VS2017 is not listed. :(

Is there anything I can do to accelerate the process?

[2017-03-19 22:48] mabbashm110 opened #3810 "Incremental build for files changed only (Wordpress)"
Hi

I have a build and release pipeline for Wordpress php files, but I only want to create a build for the files changed in source control. I am not using a Visual Studio Build task as this does not apply in case of php files I guess.

Here is how the pipeline is configured:
Currently under the **build** I am using publish artifacts only from $(Build.SourcesDirectory) and under the **release** pip

[2017-03-19 23:15] miker1423 commented on #3624
Hello,
- I'm using hosted agent
- VS2017
- Even adding the variable "system.debug" I get the same  error
- I'm just picking the template that is found in VS Team Services, the only thing I change is the version of VS from 2015 to 2017, and the architecture from x86 to x64.

[2017-03-19 23:35] balage-amarasena commented on #3051
I am still seeing this issue. Today had 2 release attempts fail with the same error. Is there a fix for this or should we abandon Dacpacs and use something like Flyway to deploy our databases ?

Thank you

[2017-03-20 06:06] acesiddhu commented on #3806
@Selvaraj1989 can u attach the test settings? you should see the video in for each test case (test results). do u see this for failed test results?

[2017-03-20 06:16] niadak commented on #3051
@balage-amarasena Thanks for reporting the issue. This is a known issue and has been fixed permanently. The fix will be available (deployed) to all in 3 weeks. We can apply a work around to unblock you for now.

Can you please share your VSTS account name so that we can unblock you?

P.S: It is recommended to Reopen the issue if you are facing any closed issue to get immediate attention.

[2017-03-20 06:39] balage-amarasena commented on #3051
thanks, I emailed you our VSTS account.

[2017-03-20 07:24] bipindas opened #3816 "Error 404 Not Found"
I keep getting a 404 not found error in the SQL DACPAC deployment task. This was working well before. Suddenly stopped working 2-3 weeks back.

[2017-03-20 07:46] GitHubSriramB commented on #3804
@allanmoller - Could you pl. clarify if the release was able to download the artifacts from "test project1" build definition before and it started to fail later on?

Also, could you share your account name?

[2017-03-20 08:03] cltshivash commented on #3791
@girishgoudar Can you please send us the task logs and the DTAExecution logs from the machines where the test is being run ?

[2017-03-20 08:21] acesiddhu commented on #3781
Thanks @DarqueWarrior . Here is the PR with the fix https://github.com/Microsoft/vsts-tasks/pull/3817/files

[2017-03-20 08:24] GitHubSriramB commented on #3804
@allanmoller - Could you also confirm that the build used for the release is not deleted?

[2017-03-20 08:30] niadak commented on #3051
@balage-amarasena We have applied the work around to your account. Please verify if the issue got resolved.

[2017-03-20 08:46] #3781 closed

[2017-03-20 09:02] Selvaraj1989 commented on #3806
Hi @acesiddhu , please find attached the test settings file and i am able to see only the SystemInformation.xml file only attached with the failed test case.

**Test Result Attachment Screenshot:**
![attachment1](https://cloud.githubusercontent.com/assets/22670803/24093391/8e73f548-0d79-11e7-9f88-41e471fe7583.JPG)

[TestSettings.txt](https://github.com/Microsoft/vsts-tasks/files/854281/TestSetting

[2017-03-20 09:24] cltshivash commented on #3640
@dersteve Are you able to run the test on the 2016 build machine from cmdline directly ?

[2017-03-20 09:56] dersteve commented on #3640
@cltshivash I get the same problem, when executing them from the cmdline - it also hangs - via vstest.console.exe

[2017-03-20 10:11] cltshivash commented on #3640
@dersteve I believe the changes called out here [2016 RTM](https://blogs.technet.microsoft.com/nanoserver/2016/10/04/appreciating-the-windows-server-2016-desktop-experience/) are impacting this scenario. Please try running the tests on windows 10 and use a build agent on windows 10.

[2017-03-20 10:15] niadak commented on #3816
@bipindas  Thanks for reporting the issue. This is a known issue and has been fixed permanently. The fix will be available (deployed) to all in 3 weeks. We can apply a work around to unblock you for now.

Can you please share your VSTS account name so that we can unblock you?

[2017-03-20 10:17] acesiddhu commented on #3806
@Selvaraj1989 I see <MediaRecorder sendRecordedMediaForPassedTestCase="false" xmlns="" />
in the settings. Did this test failed? this will create video for failed test case only

[2017-03-20 10:54] acesiddhu commented on #3806
Saw your comment about the failing test. Let me try this out. Are you using vsts or tfs on prem? if it is TFS which version?

[2017-03-20 11:41] #3640 closed

[2017-03-20 11:53] girishgoudar commented on #3791
Hi

Find the log files

[DTAExecutionHostfile.txt](https://github.com/Microsoft/vsts-tasks/files/854639/DTAExecutionHostfile.txt)

Tasks logs

2017-03-20T10:50:16.0198388Z ##[section]Starting: Run Tests COM.Services.FunctionalTests.dll on enc-cap-coa-22

2017-03-20T10:50:16.0354842Z ==============================================================================

2017-03-20T10:50:16.0354842Z Task

[2017-03-20 11:56] acesiddhu commented on #3679
Closing this. Let me know if there are more questions

[2017-03-20 11:56] #3679 closed

[2017-03-20 12:06] acesiddhu commented on #3791
Looks like you are loading test assemblies from network share. Is it possible to copy the share to local machine?
Or else you need to put below configuration in dtaexecutionhost.exe.config, vstest.discoveryengine.exe.config,  vstest.discoveryengine.x86.exe.config, vstest.executionengine.exe.config, vstest.executionengine.x86.exe.config

[code]

[2017-03-20 12:17] acesiddhu commented on #3788
If the task is configured to run as interactive process for UI Tests it tries its best effort to make sure the test user has a active UI session . If this is Windows Client OS it tries to get user2 (test agent is configured as this user) an active session by rebooting the machine and adding a EnableAutoLogon settings.

[2017-03-20 12:21] acesiddhu commented on #3763
Closing this issue for now. Assuming @nigurr 's suggestion worked. Please re open if this doesn't work

[2017-03-20 12:21] #3763 closed

[2017-03-20 12:33] acesiddhu commented on #3800
@SrivatsaMarichi looks like you are using nunit tests. Below error from logs suggest that this is not a valid filter that nunit understands. Please use nunit filters instead.

"Exception filtering tests: No tests matched the filter because it contains one or more properties that are not valid (Category). Specify filter expression containing valid properties (DisplayName, FullyQualifiedName) and tr

[2017-03-20 12:41] acesiddhu commented on #3780
@girishgoudar did this help? Assuming it worked as I see another issue on GitHub which is a step after winrm connections. I am closing this issue for now. Please reactivate this is this is still an issue.

[2017-03-20 12:41] #3780 closed

[2017-03-20 12:44] allanmoller commented on #3804
before it started not to work i was able to consume artifacts from anther project (Azure PS scripts) but now it dosnt, only difference is that i tried adding some files (using VSTS) to GIT rep (test project 1) after which i cannot consume artifacts from this project!

[2017-03-20 13:14] bpsmicro commented on #3799
I found a problem which may be related. In my Other Console Options, I have:

`**/UseVsixExtensions:true /Platform:x64**`

That throws an error during the test process to the effect "/Platform:x64 is an unexpected parameter for
UseVisxExtensions option". When you look at the command line, it has quoted the entire Other Console Options string, so the command line looks similar to:

`**...\vstest.co

[2017-03-20 13:23] marcwmiller commented on #3799
Unfortunately in the 2.0.17 version of VSTest task, the Other Console Options text box in the UI has been removed, and therefore no way to provide any command line options, causing my unit tests to no longer be discovered and run.

[2017-03-20 13:43] BrianMikinski commented on #1486
@ntziolis I was coming across the same issue and was able to resolve it by changing from **"Hosted"** to **"Hosted VS2017"** agent in the **Options** tab of my builds. Not sure if that's an option for you but something seems to have changed on the default **"Hosted"** agents that Microsoft is spinning up for us

[2017-03-20 14:39] martinfletcher commented on #3787
is there any update on this?

[2017-03-20 15:55] Selvaraj1989 commented on #3806
@acesiddhu Yes, the test case got failed and i am not able to see the video recording.

I am using TFS 2015 Update 3 and i am running the automated tests using vNext build.

Thanks
Selvaraj C

[2017-03-20 16:06] yacaovsnc commented on #3807
We can start troubleshooting by enable debug logs.  Set "system.debug" to "true" from the Variables tab in your build definition.  The log should give us more context.

Thanks!

[2017-03-20 16:11] pportnoy commented on #3311
@bryanmacfarlane Is the Mon/Tue comment still in good standing? Have been checking agent queues for last 3-4 days, still don't have it there:
![image](https://cloud.githubusercontent.com/assets/8800831/24109204/4e9640b0-0d66-11e7-8dc1-b86b3065f9b7.png)

[2017-03-20 17:19] GersonDias commented on #3807
I attached the log here. Although every thing looks ok for me, there are no sonar section in build summary...
[log_gradle.txt](https://github.com/Microsoft/vsts-tasks/files/855781/log_gradle.txt)

ps: The sonar is on version 5.6.2

[2017-03-20 18:07] bryanmacfarlane commented on #3311
Yes, it's on schedule to start rolling to ring 4 (our last ring) today (Mon).  It's in progress now.  Hopefully it's everywhere today or tomorrow.   It's also carrying a patch for the CMD capability issue noted above.

[2017-03-20 18:47] bryanmacfarlane commented on #3810
VSTS is the CI system.  We run command line tools like msbuild, gradle, xcodebuild etc... which are build tools.  We don't create build tools.

So the key question is, as a php developer, how would you build/create a package with only the files that changed from your development desktop?

Once that is identified, a task can be created to run it.

Consider tools like robocopy, rcopy etc... which al

[2017-03-20 18:47] #3810 closed

[2017-03-20 18:49] bryanmacfarlane commented on #3787
Dupe of #3311

See latest comment in that issue

[2017-03-20 18:49] #3787 closed

[2017-03-20 19:25] yohanb opened #3822 "Accessing the current build logs"
Hi,
I've been meaning to write a custom build step to analyze the current build logs and fail if a condition is met (ex: if the string 'error' is found, fail the current build).  This is a feature I'm currently using in TeamCity and would really enjoy seeing it in VSTS.
Is it possible to access the build logs within a VSTS task?
Thanks,

Yohan

[2017-03-20 19:35] yacaovsnc commented on #3807
Thanks for the log.  I think there is a bug in the code.  I will create a pull request with a fix soon.

[2017-03-20 22:54] balage-amarasena commented on #3051
I triggered a build/release and that succeeded. Will let you know if this issue reoccurs.
Thank you for the fix.

[2017-03-21 01:13] slamotte commented on #3311
IT'S ALIVE! Thanks @bryanmacfarlane and crew! 👍 👍 👍
![image](https://cloud.githubusercontent.com/assets/255800/24128378/7d6ce39c-0da9-11e7-95d0-989f84738722.png)

[2017-03-21 02:43] hanwesh commented on #3311
Yap. It shows as above !

[2017-03-21 02:44] mickyd commented on #3782
Got ya.   All fixed now.  Thanks for your help everyone

[2017-03-21 02:48] awcab commented on #3311
I'm running into a problem with nuget on the new VS 2017 queue:

[command]C:\Windows\system32\chcp.com 65001
2017-03-21T02:38:20.1855569Z Active code page: 65001
2017-03-21T02:38:20.2205594Z Detected NuGet version 3.5.0.1938 / 3.5.0
2017-03-21T02:38:20.2266017Z SYSTEMVSSCONNECTION exists true
2017-03-21T02:38:20.2295597Z [command]C:\a\_tasks\NuGetInstaller_333b11bd-d341-40d9-afcf-b32d5ce6f23b\0.2.

[2017-03-21 03:02] girishgoudar commented on #3791
Hi  Siddharth  @acesiddhu
The issue got resolved once i copy the files to local Test agent machine. Is copying to the local test agent machine the recomended way because we had to use multiple windows copy task?

Thanks
Girish

[2017-03-21 04:00] niadak commented on #3801
@smattt any update on this?

[2017-03-21 04:10] niadak commented on #3406
@Ricconnect We have checked with IIS team. They acknowledged that Stop-WebAppPool command has the issue and suggested to use one of the following command as work around until they fix the issue.

Stop-WebItem IIS:\AppPools\{AppPoolName}
Or,
(get-item IIS:\AppPools\{AppPoolName}).Stop

Please try the above workaround to get unblocked. Please let us know if you are facing the issue for any other IIS

[2017-03-21 04:12] niadak commented on #3051
@balage-amarasena We have fixed the issue for your account. I am closing the the issue. Please feel free to Re-open if the issue reoccures.

[2017-03-21 04:12] #3051 closed

[2017-03-21 04:32] acesiddhu commented on #3791
@girishgoudar Yes copying drop to local test agent machine is recommended. you can use a single Windows File copy task and give all machine name in it.

[2017-03-21 04:32] #3791 closed

[2017-03-21 04:33] acesiddhu commented on #3782
Great!

[2017-03-21 05:39] lostmsu commented on #3311
I have a problem trying to build https://github.com/losttech/NKeyValue/ using new VS2017 hosted queue

[code]

Those errors appear in pretty much every file. I tried MSBuild, Visual Studio Build and simple Run Command  `dotnet run` all with the same result. I can build it locally no problem.

[2017-03-21 06:20] girishgoudar opened #3824 "Unable to see the test details on using the "Run functional Tests" task"
We are not able to see the test result after using the "run functional test task"
![testresult](https://cloud.githubusercontent.com/assets/12731096/24134753/4f89c14c-0e2c-11e7-89a6-dce0ce481544.png)

Task configuration
![taskconfiguration](https://cloud.githubusercontent.com/assets/12731096/24134812/9ce2fdfa-0e2c-11e7-9995-c12f2c3da23f.png)

[2017-03-21 06:25] astegmaier commented on #3311
I'm excited to see the "Hosted VS2017" agent queue option now appears in my account as of today. However, when I select it, I get a new error on restoring:

[code]

My .csproj looks like this. I don't know if this is relevant, but I made the project with the dotnet CLI, rather than with Visual Studio 2017. "dotnet restore" works fine on both my mac and my windows PC.

[code]

[2017-03-21 07:27] acesiddhu commented on #3824
@girishgoudar there is a outcome filter in the summary page. it is selected as Failed and no test failed. Hence you are not able to see any test results
![image](https://cloud.githubusercontent.com/assets/1168823/24136667/dd7d7bac-0e35-11e7-8348-c9a719c600fb.png)

[2017-03-21 08:54] niadak commented on #3712
@brett3210 I am assuming you have clarity on Azure PowerShell task behavior. I am closing the issue. Please feel free to repopen if you need any more info.

[2017-03-21 08:54] #3712 closed

[2017-03-21 08:55] #3824 closed

[2017-03-21 09:12] aloneguid commented on #3311
The queue has finally appeared for me as well, no problems with builds so far.

While this was going on I had to wrap my build process in a self-contained powershell script, which can do everything end-to-end. It was a good thing for the project as I'm not relying on a particular build server anymore. Now I just invoke the script from VSTS task and it just works.

I'm still using quite a few VSTS

[2017-03-21 10:54] BaskiGIT commented on #3788
Hi I have below queries:

1. With Win 7 SP1 machine the user with which the Tests are run, is already logged on in the PC. But the reboot is still happening.

2. After running for the first time, the service is left installed. But the service is stopped. During the next run why does the task try to reinstall the agent?

[2017-03-21 11:46] acesiddhu commented on #3806
@Selvaraj1989 what is the OS you are using. if this is a server SKU did u enable Desktop experience

[2017-03-21 11:49] acesiddhu commented on #3806
Check this blog for pre reqs
https://blogs.msdn.microsoft.com/rubel/2009/11/25/recording-video-of-desktop-while-testing-through-test-runner/

Desktop experience is needed for all server SKUs. Also the test agent should be configured as process in such cases

[2017-03-21 11:53] srpeterson commented on #3311
I'm happy to report that my .NET Core (Preview) build steps work correctly now.

[2017-03-21 12:04] vincentdass commented on #3495
@mikeycooper , As a workaround , can you please provide the values without single quotes ?
Other possible workaround is to set the value in Web.<Environment_Name>.config and enabling XML Transformation.

[2017-03-21 12:18] mkontula commented on #3311
Hosted 2017 has been there for me since morning, but simple test with dotnet --info shows this:
[code]

[2017-03-21 14:36] chrisrpatterson commented on #3311
@lostmsu  my guess is you are not restoring your packages.

[2017-03-21 14:51] yacaovsnc commented on #3807
#3823 merged.  Since you are on TFS, we need to manually apply the patch with [tfx cli](https://github.com/Microsoft/tfs-cli/blob/master/docs/buildtasks.md) tool.

[2017-03-21 14:54] awcab commented on #3311
I think I ran into [this bug](https://github.com/NuGet/Home/issues/4091). Switching to nuget 3.3 allowed packages to restore.

[2017-03-21 14:54] chrisrpatterson commented on #3311
@awcab you can also just run dotnet restore.  In addition NuGet 4 will be rolling out starting next week.

[2017-03-21 14:57] awcab commented on #3311
Ah, thanks @chrisrpatterson !  I didn't think about that.  Still getting used to the new core tools.

[2017-03-21 15:34] wouterroos commented on #3744
@acesiddhu @prawalagarwal I tried to reproduce the issue on my own machine based on the logging I sent you and it seems that the tests will run fine when the `(187a4a28b02d5c896372aaea0625e2440ffa3315)` part of the test names are not appended. It seems to only append that part for `xunit` tests but I'm unable to trace where these test names are coming from (my guess is from the Test Impact Analysi

[2017-03-21 16:08] acesiddhu commented on #3744
@wouterroos we got a repro today at our end using xunit tests. in the mean time can you tell if you are using VS 2015?
187a4a28b02d5c896372aaea0625e2440ffa3315 should not come from Test Impact Analysis feature. Did this test case name come when you disable test impact analysis?
Also can you ping me ur account name? you can mail me at devops_tools AT Microsoft DOT com. you might get mail delivery f

[2017-03-21 16:22] bishal-pdMSFT commented on #3624
@miker1423 i think this is same issue as https://github.com/Microsoft/vsts-tasks/issues/3747
@bryanmacfarlane, do you agree?
Hosted agent does not support VS2017. A new queue called "Hosted agent VS2017" is being rolled out which will fix this.

[2017-03-21 17:42] miker1423 commented on #3624
@bishal-pdMSFT yes, it's the same issue, do you have more info on when its going to roll out the new queue??

[2017-03-21 18:50] leftler commented on #3756
Here is a little more complicated script that still fits within the space requirements of a inline script. It will only download the 4.0 nuget if it detects that 4.0 or newer has not been installed yet.

[code]

Note this script uses `$(Build.BinariesDirectory)\nuget.exe` instead of `$(build.artifactstagingdirectory)\nuget.exe` for the custom NuGet path as that folder would be more approprate for

[2017-03-21 18:56] GiusepeCasagrande commented on #3355
Hello :)
Any update on this? It's been some days since the Cycle 9 was released and I'm still getting the error
` java.io.IOException: Can't read [C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\MonoAndroid\v7.0\mono.android.jar] (Can't process class [android/app/ActivityTracker.class] (Unsupported class version number [52.0] (maximum 51.0, Java 1.7)))`

[2017-03-21 19:01] wouterroos commented on #3744
@acesiddhu we use Visual Studio 2015 Update 3 on our build server. If I look at older, successful logs I don't see these kind of numbers in the test execution logs. Which account name do you mean exactly?

[2017-03-21 19:01] madhurig commented on #3355
@GiusepeCasagrande : What Java version are you targeting? Please update your build task to use Java8 and see if helps.

[2017-03-21 19:02] leftler commented on #3756
Here is a slightly more complex version that still fits within the space limits of a inline script

[code]

This script checks to see if nuget.exe already exists and is version 4.0.0 or newer. if it does not exist or is a old version it downloads it.

Note this saves to `$(Build.BinariesDirectory)\nuget.exe` instead of `$(build.artifactstagingdirectory)\nuget.exe` as the binaries folder is not cle

[2017-03-21 19:05] GiusepeCasagrande commented on #3355
Hi @madhurig,

Just checked, I'm already using JDK8
![screen shot 2017-03-21 at 16 05 05](https://cloud.githubusercontent.com/assets/3471760/24165825/3dd617f6-0e50-11e7-9167-905b8981b38d.png)

[2017-03-21 19:11] madhurig commented on #3355
@GiusepeCasagrande : This was marked as fixed in Cycle 9: https://github.com/xamarin/xamarin-android/pull/267, so it should have worked. I will follow up .

[2017-03-21 19:14] GiusepeCasagrande commented on #3355
@madhurig I'll give it a few more tries, maybe I'm making something wrong here. But please, let me know if you find something else about it.
And thanks for your help so far :)

[2017-03-21 19:23] sumalik opened #3830 "Test: Default sorting missing"
The functional test task does not do a default sort of the Test Plans. This cause issues when there are a lot of test plans and not sorting order.

[2017-03-21 19:50] GersonDias commented on #3807
It's worked! Thanks!

Since the version with bug is bundled in TFS 2017.1, I suppose that I'll have to manually update this task in every install, is it correct? I'm asking that because i'm act as ALM Consultant and I manage many TFS installations...

[2017-03-21 20:24] markolazic88 commented on #3355
Hello, I am experiencing the same issue as Guisepe.
I have both MultiDex and ProGuard enabled. I tried targeting API 24 and API 25, but I am getting the same issue. I spent the day trying various workaround, but without luck on hosted VSTS machines, although it's building fine on my local machine.

I followed [advice](https://social.msdn.microsoft.com/Forums/en-US/b304ad43-b361-4f3b-88aa-1763b5102

[2017-03-21 20:25] yacaovsnc commented on #3807
Unfortunately you need to update all affected servers.  :(  Sorry for the inconvenience.

[2017-03-21 20:29] codearoo commented on #3747
When is the hosted image going to get VS2017??  This is big drawback in using VS Team Services..  they should be coming out BEFORE everyone else gets it.

[2017-03-21 20:41] tiagorosendo commented on #3311
I got this errror:

2017-03-21T18:52:33.6424886Z
2017-03-21T18:52:33.6424886Z   'gulp' is not recognized as an internal or external command,
2017-03-21T18:52:33.6424886Z   operable program or batch file.

anyone can help-me ?

[2017-03-21 21:24] dsteinweg opened #3832 "NuGetPackager task stripping suffix from build number"
We're using TFS2017 Update 1, and we have a build that has a suffix on the build number, e.g. "1.0.0-dev".  We want that exact build number to be used in the NuGetPackager task, thus NuGet would consider it a "prerelease" package because it detects an arbitrary suffix.  We have "Automatic package versioning" set to "Use the build number".

However, it seems like the NuGetPackager task script is st

[2017-03-21 21:43] dracan commented on #3311
I got a similar one about Bower. Worked fine in VSTS before I upgraded to 2017 csproj. Not had chance yet to work out why though.

[2017-03-21 21:56] thechrisjohnson commented on #3311
@tiagorosendo, @dracan The VS 2017 does not have any npm packages installed globally, like the old image did (due to not installing Cordova). Do you have gulp or bower in your project.json file as a requirement? The tasks should be able to find those in the local npm module cache without a problem.

[2017-03-21 21:57] JacobAtchley commented on #3311
@tiagorosendo I ran into this issue today as well. My resolution was to invoke the npm, bower, and gulp task outside of the MSBuild using the VSTS tasks.

you will need to remove "PrepareForPublish" target in your csproj

[code]

![image](https://cloud.githubusercontent.com/assets/10537213/24172699/27d96726-0e57-11e7-84a8-5922aa504121.png)

[2017-03-21 21:57] bbraun-edf commented on #3287
We just upgraded from TFS 2015 Up2 to TFS 2017 Up1 and we are having a similar issue on our build server.  The path to our local nuget server seems to be losing a slash.  Ctrl-F on \\nuget and you'll see the original debug states two slashes, but the actual command and error only have one ???

2017-03-21T21:50:56.0222350Z ##[debug]C:\VSTS_Service_Agent\tasks\NuGetInstaller\0.2.29\node_modules\nuge

[2017-03-21 21:59] JacobAtchley commented on #3311
I also had an issue with including dotnet core web jobs into the project.
this is my work around. If anyone knows of a better solution i'd love to hear it:

[code]

[2017-03-21 22:06] Jonathan34 commented on #3311
tested and working. much easier now :) thanks

[2017-03-21 22:28] mikanyg commented on #3746
Yes all 3 nuget tasks should be aligned with regards to nuget version selection.

[2017-03-21 23:08] bryanmacfarlane commented on #3747
It's there.  Read the link above.  It shows up as the "hosted vs2017" queue in your definitions queue picker

Also note this is not a limitation of the vsts build system.  You could hook up any agent on any vm with any tool sets you want.

It is a limitation of the convenience hosted pool machines.  But as I outlined in that link we are improving that with multiple hosted images via multiple queue

[2017-03-21 23:17] awcab opened #3833 "Output path error for sfproj"
Trying to build a service fabric project (vs2017) with core dependencies.  Builds fine locally with msbuild, but I get the error below on vsts.  I ensured that there is a valid Release/x64 and output path configuration for all of the projects.

[error]C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(737,5): Error : The OutputPa

[2017-03-21 23:26] smattt commented on #3801
Hi niadak-

The task is honoring the time out value, when I specify one. The problem is that this task has run reliably since October-November and it has only recently begun timing out (30 minute timeout) - the task used to take 1 minute or so.  We recently installed the Qualys extension on all of our VMs, including our build machine VM and the other VM we are using the remote powershell task to t

[2017-03-21 23:48] bbraun-edf commented on #3287
Just to follow up, our build definition was pointing to a network file path, not a URL.  We have a temporary fix to remove this location from the build and put the nupkg files on the build service accounts repository on the build server.  We are investigating alternatives, like getting our local Nuget server to properly publish our packages over http or to switch to the TFS Nuget server.

[2017-03-22 00:15] smattt commented on #3644
What did you end up doing to resolve the issue?

It sounds similar to what I'm experiencing.

Thanks!

[2017-03-22 00:47] GitHubSriramB commented on #3804
Thanks for the update. We will investigate and get back to you with our findings.

[2017-03-22 01:42] keithrob commented on #3805
At this point, I think we should probably take this off line and triage together.  Would you mind reaching out to me at kerobert AT microsoft.com?  I will work with you to resolve the issue.
Thanks,
Keith

[2017-03-22 02:40] acesiddhu commented on #3744
@wouterroos your vsts accountname. <accountname>.visualstudio.com

[2017-03-22 02:45] LarryRothOakton commented on #2480
I'm also having this issue. We're using VSTS, an on-prem Build Server, Visual Studio 2015, C#/TypeScript/JavaScript analysers, SonarQube 6.3 & SQL Server on Windows Server 2016.

[2017-03-22 04:23] SrivatsaMarichi commented on #3800
@acesiddhu I have passed the filters in my tests as "TestCategory=UnitTests" for MSTests. It just works fine. I have couple of Nunit and Xunit tests as well. I have passed the test filter for each test method as [Category=Nunit]. But still the tests are not getting picked up during my build. If i don't specify any filter criteria, then it considers all the tests including my selenium scripts and w

[2017-03-22 06:01] wouterroos commented on #3744
@acesiddhu Great, I sent it to the email address provided earlier.

[2017-03-22 06:16] acesiddhu commented on #3800
can you ping me the test method body here for both kind of tests. I want to see attributes in the test method

[2017-03-22 06:56] SrivatsaMarichi commented on #3800
For NUnit:

 using System.Web.Mvc;
    using FabrikamFiber.DAL.Data;
    using FabrikamFiber.Web.Controllers;
    using NUnit.Framework;
    using NUnit.Mocks;
    using Xunit;
    using Xunit.Extensions;
    using Microsoft.VisualStudio.TestTools.UnitTesting;

    [TestFixture]
    public class HomeControllerTest
    {
        [Xunit.Fact]
        [Category("UnitTests")]
        public void Index

[2017-03-22 07:04] SrivatsaMarichi commented on #3800
PFA scripts for the same.

[CustomersControllerTest.txt](https://github.com/Microsoft/vsts-tasks/files/860567/CustomersControllerTest.txt)
[HomeControllerTest.txt](https://github.com/Microsoft/vsts-tasks/files/860568/HomeControllerTest.txt)
[ServiceTicketsControllerTest.txt](https://github.com/Microsoft/vsts-tasks/files/860569/ServiceTicketsControllerTest.txt)

Thanks,
Srivatsa

[2017-03-22 07:12] niadak commented on #3801
Can you please see the task debug log and see in what step it is taking time? Is it happening to a specific script? Can you please run a sample PowerShell script with few Verbose statement to understand where it is taking time.

Anyway, it is good to know your release is unblocked.

[2017-03-22 09:22] girishgoudar opened #3834 "Unable to run test when using Run Functional test with a settings in app.config file"
Hi

We are unbale to run a specflow test which takes the configuration from the app.config file. We have already copied the app.config to the test agent drop folder along with dll. We are replacing the value in app.config using tokenization. The value is getting replaced but unable to run the test

vsts task log

2017-03-22T09:04:17.1055773Z ##[section]Starting: Run Tests *FunctionalTests.dll on e

[2017-03-22 09:27] girishgoudar commented on #3824
Hi

I have logged a new issue for runnung functional test .issue id #3834

Can you please look into it

Thanks
Girish

Sent from my Windows Phone
________________________________
From: Siddhartha Pandey<mailto:notifications@github.com>
Sent: ‎3/‎21/‎2017 12:57 PM
To: Microsoft/vsts-tasks<mailto:vsts-tasks@noreply.github.com>
Cc: Girish Goudar<mailto:girish@wiprooffice15.onmicrosoft.com>; Mention<m

[2017-03-22 10:30] bgavrilMS commented on #2480
The SonarQube tasks are now maintained by SonarSource - see this blog post for details and how to get support https://blogs.msdn.microsoft.com/visualstudioalm/2016/12/13/sonarsource-have-announced-their-own-sonarqube-team-services-tfs-integration/

[2017-03-22 10:30] #2480 closed

[2017-03-22 11:11] Benalink commented on #3799
Is it possible to test csproj dotnet core tests with the VSTest task without this option? I'm still not sure if this task is supposed to work with core or if we are supposed to use dotnet test.

[2017-03-22 11:20] satender2017 commented on #3499
Even i was trying to do the same thing,got the same error
File size 11.38KB is invalid for PageBlob, must be a multiple of 512 bytes.
Actully ,for SIT eneviroment we are using standard storages based VM,so it was succesfull for SIT,but for PROD we are using premium storage based VMs and the task failed for PROD.

Would be really nice if task can handle the premium storage based VMs also.
Is there

[2017-03-22 12:31] marcwmiller commented on #3799
No, without the /UseVsixExtenstions:true, the xUnit tests go undiscovered and therefore cannot be run. This task did work with core when the option is provided to the command line.

I believe this task is supposed to work with core as this was the guidance indicated by Pratap Lakshman in his post [https://blogs.msdn.microsoft.com/visualstudioalm/2016/09/01/announcing-mstest-v2-framework-support-fo

[2017-03-22 12:44] bpsmicro commented on #3799
Should I create a new issue covering the problem I mentioned above ("Other Console Options" won't work with more than one option)? I guess it's separate from, but related to this one.

[2017-03-22 13:13] marcwmiller commented on #3799
Issue still observed in VSTest task 2.0.19 - additionally documentation indicates existence of "Other console options" [https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/VsTest/README.md](url), which is no longer the case.

[2017-03-22 13:22] madhurig commented on #3355
@GiusepeCasagrande : My xamarin android project with ProGuard enabled builds without errors on the hosted build VMs. Can you share your debug build logs for further investigation? You can upload here or email me: madhurig at microsoft dot com.

My build definition settings look like this:
![untitled picture](https://cloud.githubusercontent.com/assets/3269636/24199730/1c777c44-0ee1-11e7-9144-5a6ae0

[2017-03-22 13:28] codearoo commented on #3747
Unfortunately that is not working.. that host fails at the Build step for me, which is just a VS2017 build of the SLN.

[2017-03-22 13:30] bpsmicro commented on #3799
So if I'm reading correctly, earlier versions of the v2 VSTest task were broken because of errant quotes around the "Other Console Options"; and later versions are **more** broken because we can't specify the options **at all**. That's bad, very bad. I was kinda hoping to start playing with the new "impacted tests" stuff, but I guess not anytime soon. :-(

[2017-03-22 13:33] marcwmiller commented on #3799
You are reading it correctly.

[2017-03-22 13:38] acesiddhu commented on #3799
I will take a look at this one. If possible if there is a repro test proje t available i can quickly work on getting this working or providing workaround. Else i will try to repro

[2017-03-22 13:39] marcwmiller commented on #3799
Thank you. I have a repo test project, but its not in a github repo. Should I zip and attach file?

[2017-03-22 13:58] acesiddhu commented on #3799
yes that will help

[2017-03-22 14:03] marcwmiller commented on #3799
Please find attached a zipped Visual Studio 2015 solution using the ASP.NET Core Web Application template and an xUnit test project.
[BuildTest.zip](https://github.com/Microsoft/vsts-tasks/files/861606/BuildTest.zip)

[2017-03-22 14:14] acesiddhu commented on #3799
@marcwmiller are you using vs2015? Also are you using your own pool or hosted pool? also r u using runsettings?

[2017-03-22 14:15] marcwmiller commented on #3799
I am using vs2015, hosted pool and a runsettings file.

[2017-03-22 14:16] acesiddhu commented on #3799
@bpsmicro are your tests .net core tests? or normal xunit tests? if it is normal you can create another issue on GitHub. also r u using version 1 of the task?

[2017-03-22 14:22] bpsmicro commented on #3799
Ours are nunit tests. Right now I've reverted to version 1 of the task because we need both /UseVsixExtensions:true and /Platform:x64 options, and v1 works.
For my specific issue with the v2 task, I guess I want to see Other Console Options put back **and** no longer quoted in the actual command line. I can log that separately if you wish.

[2017-03-22 14:26] #3807 closed

[2017-03-22 14:29] acesiddhu commented on #3799
@bpsmicro lets have another issue opened for your scenario. will check that out once I am done with this issue

[2017-03-22 14:31] dracan commented on #3311
@JacobAtchley Thanks for that info. I've tried what you described, but I get the following error in the bower install task ...

Did you have to do anything additional to set that PATH?

[2017-03-22 14:38] awcab commented on #3311
@dracan Since node is included with visual studio, you can bootstrap the whole install like this:

[code]

[2017-03-22 14:39] bpsmicro opened #3836 "VSTest task: Put back Other Console Options, and don't quote the string"
See also [https://github.com/Microsoft/vsts-tasks/issues/3799](https://github.com/Microsoft/vsts-tasks/issues/3799).

I was testing with the v2 VSTest task shipped with TFS 2017 Update 1. I haven't tried later versions (mostly because I can't figure out how to install them). Our tests are ordinary nUnit and some xUnit tests against .NET project on an in-house TFS 2017 setup, using VS2017 on the bu

[2017-03-22 14:40] bpsmicro commented on #3799
Done: [https://github.com/Microsoft/vsts-tasks/issues/3836](https://github.com/Microsoft/vsts-tasks/issues/3836)

[2017-03-22 15:07] acesiddhu commented on #3799
@marcwmiller can you put this in ur runsettings and see if it works

[code]

[2017-03-22 15:10] acesiddhu commented on #3836
@bpsmicro are you using nugget package for nunit and xunit? if yes ideally the task should auto detect nunit and xunit adapters to run the test.

for x64 you can put this in runsettings file. check runsettings example here
https://msdn.microsoft.com/en-us/library/jj635153.aspx

[2017-03-22 15:15] bpsmicro commented on #3836
I'm not familiar with "nugget package". But assuming that's auto-correct "helping" and you meant "NuGet package", that answer is No. But I'm not opposed to trying.

I'll also look at the runsettings approach. We're currently not using that, but I'm not opposed to trying that either.

I'll poke at this and get back to you.

[2017-03-22 15:24] acesiddhu commented on #3836
yup nuget is what I meant (auto correct)

[2017-03-22 15:31] marcwmiller commented on #3799
Unfortunately, it did not work. Please see attached VSTS build log.
[logs_581.zip](https://github.com/Microsoft/vsts-tasks/files/861916/logs_581.zip)

[2017-03-22 15:33] JacobAtchley commented on #3311
@dracan i did not have to do anything in the npm install task in VSTS. the only thing i changed in the task was my working folder to the root of my asp.net core app (where the .csproj and packages.json files are located)

[2017-03-22 15:53] cltshivash commented on #3834
Please look into the run logs/trx to understand the issue and fix it. I dont see an infra issue based on the info provided here.

[2017-03-22 15:53] #3834 closed

[2017-03-22 16:24] NikolayKash opened #3837 "Visual Studio Test Agent Deployment v2.preview can't run DTAExecutionHost.exe"
Hi.

We can't deploy Test Agents 2017 to our Windows 8.1 industry pro x32 machine

Log below:

2017-03-22T15:49:34.7289245Z ##[section]Starting: Deploy TestAgent on VMMachine
2017-03-22T15:49:34.7289245Z ==============================================================================
2017-03-22T15:49:34.7289245Z Task         : Visual Studio Test Agent Deployment
2017-03-22T15:49:34.7289245Z Descript

[2017-03-22 18:04] millimike commented on #3816
We've got the same problem. Could you, please, apply the workaround for us as well? pcisae.visualstudio.com

[2017-03-22 18:51] Blackbaud-MikeBentley opened #3838 "Tests not found when using version 2"
I'm creating a TFBuild definition when the "Run tests" step is not finding any unit tests.  This works in my old school xaml build definitions.  I've included the content of my .runsettings file just in case it's something that i'm not doing correctly.

[code]

[2017-03-23 02:25] dbreshears commented on #3833
Do you have the NuGet restore build step as the first step in the task?   I can repro this if I disable the "Nuget restore **\*.sln step".    If you do have this step, can you reply with the Nuget restore log

[2017-03-23 02:51] sandorfr commented on #1644
@vincentdass  I can confirm that the issue is fixed as far as I'm concerned (with 2.0). We were using the command (as described [here](http://geeklearning.io/the-9-steps-to-deploy-your-aspnet-core-10-application-to-azure-from-vsts/)).
[code]

And it now deploys just fine without any extra steps.

Thanks.

[2017-03-23 04:33] #3790 closed

[2017-03-23 05:44] niadak commented on #1441
Hi @karthik25 Any update on this?

[2017-03-23 06:12] willemodendaal commented on #3837
Same issue here. Been trying to get VSTS to run GUI tests on a physical machine for two days now. What a mission. Any luck with this issue?

[2017-03-23 06:42] niadak commented on #3816
@millimike , We have applied the work around for pcisae.visualstudio.com. Please validate the fix.

[2017-03-23 08:14] nigurr commented on #3837
Hi,

This is known issue and we fixed it recently [https://github.com/Microsoft/vsts-tasks/commit/0342e8d3e0f8c337470e7b4f65db1dda617231c8]
This should be fixed with next VSTS deployment.

Temporary work around:
1. Open RDP to Test Agent machine with same username provided in Deploy Test agent task
2. Keep it open till the deploy test agent task is completed
3. Close the RDP session and it should

[2017-03-23 08:33] mvvsubbu opened #3843 "Gulp build is not considering shrinkwrap file"
To lockdown the versions of direct and indirect dependencies to a module, task author can create npm-shrinkwrap.json file. This file locks down the version of dependencies, currently for webdeployment-common folder there is a npm-shrinkwrap.json file added but this is not honored during build process.

[2017-03-23 09:28] acesiddhu commented on #3799
@marcwmiller sorry for the trouble. Here are two short term workarounds till we get this fixed
1) add two cmd line task in ur build definition.
copy "c:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\DotNet\ProjectSystem\*.*" $(Build.Repository.LocalPath)

![image](https://cloud.githubusercontent.com/assets/1168823/24240805/e62db6b4-0fd8-11e7-9c30-b636cf23888f.pn

[2017-03-23 10:47] anthyme commented on #415
Same for me with VS2017 RTM

[2017-03-23 11:32] acesiddhu commented on #415
@anthyme @golfguy0082
are you using tfs on prem or vsts. if on prem whats the version? which version of vstest task are you using?
and whats the error.

[2017-03-23 11:33] eliasnawfal commented on #3644
@smattt  I ended up opening **Source** port 443 for any **Destination** port

[2017-03-23 12:25] acesiddhu commented on #3729
here is the PR https://github.com/Microsoft/vsts-tasks/pull/3847/files

[2017-03-23 12:34] marcwmiller commented on #3799
@acesiddhu thank you very much for the workaround - it worked well. I look forward to the final resolution.

FWIW - anyone else reading these comments who has encountered the same issue before the VSTest task is fixed, **item 1** in the workaround **instructions** above is missing a backslash in the first copy argument `ProjectSystem*.*`, which results in a copy error. However, the image of the fi

[2017-03-23 13:21] niadak commented on #3507
@seanrockster, @gorillapower, Hi, if you are still facing any issue please send the logs to  RM_Customer_Queries@microsoft.com.

@gorillapower , The XML transformations are applied on all the *.config files which are present inside the zip package. Please make sure your *.config file is inside the zip.

[2017-03-23 13:48] acesiddhu commented on #3806
I am closing this issue. Let me know if the above links doesn't help. I tried locally and things were working for me.

[2017-03-23 13:48] #3806 closed

[2017-03-23 13:48] acesiddhu commented on #1923
I am closing this issue. Let me know if the above step didn't help

[2017-03-23 13:48] #1923 closed

[2017-03-23 13:54] acesiddhu commented on #3729
PR is merged. Should be available in next deployment in vsts

[2017-03-23 13:54] #3729 closed

[2017-03-23 16:31] Serjster commented on #3804
Yes, we are experiencing the exact same problem. This seems to be a fairly recent break, it was working about 2 weeks ago.

[2017-03-23 16:41] DanJ210 commented on #3756
Hey all. Really appreciate the work. I am new to all of this but I can no longer run .NET Core builds in BitBucket anymore. I get the error: "Can't find project.json" as obviously that has been replaced by .csproj. Is this something I have to fix or that BitBucket has to change? Below is my very simple and basic .yml file. Thanks in advance for any guidance, I've been searching a lot.

`# This is

[2017-03-23 17:39] #3792 closed

[2017-03-23 18:08] yuriydk commented on #3447
@tomap You can trick it using browser dev tools ;) Just increase maxlength with whatever you need, paste script in textarea and save :)

[2017-03-23 18:28] awcab commented on #3833
Thanks so much @dbreshears!  Any idea why this is the case?  I was thinking dotnet restore should handle everything nuget does?

[2017-03-23 20:26] SayusiAndo commented on #3805
Hey Guys, Sorry for polluting this thread, but I don't know where can I ask my questions regarding vsts-npm-auth. Is this place what I'm looking for? Thanks!

[2017-03-23 21:50] ianrathbone commented on #3747
Same issue here, but can't find a workaround at the moment.
Started a new WebAPI project in VS2017 - and got the issue:

[2017-03-23 22:56] keithrob commented on #3805
@SayusiAndo, ask your question and we can decide if it is related to this thread or not.

[2017-03-23 23:10] thiago-Malaca commented on #3747
Same issue here!

[2017-03-23 23:52] JamesNK opened #3853 "Error when getting source from TFS"
A build is intermittently getting this error when fetching source from TFS:

[code]

[2017-03-24 02:49] girishgoudar opened #3854 "Run Functional task not considering the Integration Tests in the pipeline"
Hi

We are using functional test task to execute the integation tests. We see that the dll are getting dropped to the test agent machine. when the task is getting exeuted it runs only the unit tets and not the integration tests.

When we run vstest.console.exe against the Integration dll on the test agent agent machine. even then the tests are not recognized

![error](https://cloud.githubuserconte

[2017-03-24 04:46] acesiddhu commented on #3838
@Blackbaud-MikeBentley anything in build logs that is interesting. I also see platform x64. is this correct?

[2017-03-24 07:16] SayusiAndo commented on #3805
Ok, thanks.

It seems my issue is similar what @henning-krause has.
I have a build where I need packages from Telerik private, @progress, repository. I have the following build steps setup in our VSTS build (it is company VSO account).

**Info**:

- our account is companyiname.visualstudio.com
- build agents: managed by vso infrastructure pooling system (I don't know the proper word for it, sorry)

[2017-03-24 07:50] dracan commented on #3311
I didn't have any luck getting that to work, so I tried recreating my project and copying my own code files back in, and it worked fine. I had previously created it a while back using the Yeoman tooling. This time I created it using the dotnet cli. I didn't need the additional VSTS build steps in this case either.

[2017-03-24 08:54] PBoraMSFT commented on #3854
The task basically relies on vstest.console to discover the tests. If vstest.console.exe is no able to recognize the tests, the failure in the task is expected.
What framework are your tests based on? 3rd party framework based tests (such as xUnit, NUnit), etc. can be discovered only when their adapters can be found. Can you validate that the relevant adapters are also present on the test agent ma

[2017-03-24 09:09] golfguy0082 commented on #415
@acesiddhu
I'm using vsts with a local build agent.  I tried again today, and it looks like the latest version of the task (2.0.19) fixed this issue for me.

[2017-03-24 09:26] podgito commented on #3587
I have encountered an issue when using single quotes instead of double quotes.

In the Additional Arguments I have -setParam:'tickets_v5Entities-Web.config Connection String'='$(ConnectionString)'

My connection string is an entity framework connection string which as you probably know contains single quotes for example

metadata=res://*/Models.Domain.EventsModel.csdl|res://*/Models.Domain.EventsM

[2017-03-24 09:43] acesiddhu commented on #415
@golfguy0082 thanks for confirming.

[2017-03-24 10:52] kedigby commented on #788
I'd like to use the outputs from the template, to update values in the app.config prior to deploying into the arm template.

[2017-03-24 12:21] girishgoudar commented on #3854
hi

We are not using any 3rd part framework. we are just using specflow tests which uses MStest framework. All the dll in the packages folder are copied to test drop location.

following are teh executors available on the machine

![files](https://cloud.githubusercontent.com/assets/12731096/24293980/6c8e45d4-10ba-11e7-8db1-7efab9eeff3f.png)

Should i install VS on the machine?

[2017-03-24 14:47] mmajcica opened #3858 "Intermittent issue with async calls from PS task"
Dear,

I started experiencing an intermittent issue with my build/release task.

At the certain point I do the following:

[code]

This succeeds or fails with no apparent reason. Sometimes the build or a deployment in the release goes well and this succeeds, other times I do get the following exception:

[code]

I can't reproduce this locally (by running the script used by the build task from the

[2017-03-24 14:47] Blackbaud-MikeBentley commented on #3838
Here's what it outputs in the build log.  It just says that it's not able to find any tests.  The assembly is set to build for "AnyCPU".  My other solutions that use v1 of MSTest work fine with basically the same settings though, but perhaps v2 is more strict with the platform target?

I also noticed this in the log.  As far as I can tell, besides the platform being specifically set to x64, everyt

[2017-03-24 14:52] ericsciple commented on #3858
is this from an ad-hoc powershell script, or a custom task? if custom task, which execution handler?

[2017-03-24 14:53] mmajcica commented on #3858
It is a custom task with PowerShell3 execution handler.

[2017-03-24 15:00] wertzui commented on #3747
I have the same problem on a private agent when building a netstandard1.5 csproj project.
The build machine has VS2017 installed.

[2017-03-24 15:01] ericsciple commented on #3858
That handler launches powershell with `-STA -NonInteractive` and also the entry script is wrapped in a try/catch. Those two things might influence something differently than when you run it locally.

[2017-03-24 15:01] acesiddhu commented on #3838
Can you check if you remove this node TargetPlatform>x64</TargetPlatform does things work?

Also i am assuming the test doesnot use xunit or nunit adapters and purely are mstest based test

[2017-03-24 15:02] ericsciple commented on #3858
Have you considered using the request cmdlets that powershell exposes? or is there a synchronous function you can call?

[2017-03-24 15:02] ericsciple commented on #3858
what http client class are you using?

[2017-03-24 15:07] mmajcica commented on #3858
The problem is that Invoke-WebRequest or other similar Cmdlets can't do the type of call I'm using. I need a Multipart/form-data request and I'm using a technique I described here http://blog.majcica.com/2016/01/13/powershell-tips-and-tricks-multipartform-data-requests/.
For a year I had no issues with this code and a couple of weeks ago I started facing the above.
If I used this in, at example, t

[2017-03-24 15:11] Blackbaud-MikeBentley commented on #3838
Oops, I forgot to mention that I had tried setting it to x86.  I'll try removing it completely next.  Thanks acesiddhu!

[2017-03-24 15:23] millimike commented on #3816
11 deployments - all green! Thank you!

[2017-03-24 15:54] NikolayKash commented on #3837
@nigurr ,that for the workaround, but it won't work for us.    Do you have an idea when your change be available e,g,  version of task to that we turn to use it?

[2017-03-24 15:54] thiago-Malaca commented on #3747
I changed the agent "Hosted VS2017" inside VSTS. And it worked!
![hosted vs2017](https://cloud.githubusercontent.com/assets/1699113/24302165/815c291a-1090-11e7-8f36-1f1fb319a188.png)

[2017-03-24 16:03] henning-krause commented on #3805
Thanks to @keithrob, we can wrap this up quickly: The vsts-npm-auth does not yet support on-premise installations.

To work around this, we just followed the instructions in https://www.visualstudio.com/en-us/docs/package/npm/npmrc and put the .npmrc file containing the auth token in the home directory of the user running our build agent...

[2017-03-24 16:03] #3805 closed

[2017-03-24 16:14] SayusiAndo opened #3862 "Unable to load service index for source error when install nuget package from VSTS Package Feed"
Hi All,

I want to install nuget packages at every build from VSTS nuget feed at every build, but it fails.

**Scenario**:

My application is getting bigger and bigger and it must be splitted. It means multiple modules with with a git repository, two builds (one for release, one for feature branches) and a nuget feed per. And there is a main build where the module packages are met. This build resp

[2017-03-24 16:37] keithrob commented on #3805
@SayusiAndo,
Your problem is indeed different than Henning's and we should start a new thread.  However, I will say that it looks like you are using a private scoped registry with the default npm task.  The 'vsts-npm-auth' clearly isn't handling this external private registry very well (*.npm.telerik.com) and we will fix that.

In the meantime, I would suggest you use a powershell script to do an

[2017-03-24 16:40] keithrob commented on #3805
Thanks @henning-krause for allowing us to triage with you today.

For everyone else that reads this thread, vsts-npm-auth is unable to get credentials from an on-premise TFS server.  We will be fixing this; however, the near term solution is to generate a token and place it into the home directory of your build agent as Henning suggested.  The npm client will discover the token there and  successf

[2017-03-24 16:46] ericsciple commented on #3853
can you run a build with a definition variable `system.debug` set to `true` and send ersciple the build log zip download from the build summary page (at microsoft com)

[2017-03-24 16:50] ericsciple commented on #3853
It's strange that it's intermittent. Any pattern (fails on one machine, not others). The only other thing I can think offhand is whether the file file exists in the workspace mappings at the changeset being build.

Also would want to rule out whether it's a permissions problem. Either the identity *Project Collection Build Service* or *Project Build Service* will need permission to download the so

[2017-03-24 16:56] peteakalad opened #3863 "Unable to disable publishing to tfs"
There is no option to disable the publish to TFS.  I want to be able to disable the publishing to TFS, to do a number of separate test tasks (one parallel, one not) and then merge the results via a separate publish tests task.

I've manage to easily do the same with an adapted version of this task with a boolean flag in the reporting section of the config to turn publishing on/off - cant see why s

[2017-03-24 16:56] #3863 closed

[2017-03-24 16:56] peteakalad commented on #3863
wrong task

[2017-03-24 18:06] madhurig commented on #3355
@markolazic88: I checked the [blog you linked to](http://motzcod.es/post/157589380047/xamarin-cycle-9-preparing-machines). The hosted build VMs don't have all the android build tools versions that the blog lists. We have an update with those in the pipeline but I can't be sure if it will fix your problem since I can't repro it.

If you continue to have the issue after our next update, please open

[2017-03-24 18:07] madhurig commented on #3237
@danieljaguiar: We were tracking this issue for Android 7. If you are seeing an issue with 7.1, please open a new issue with the build logs.

[2017-03-24 18:41] madhurig commented on #2954
@degant : For release to multiple environments - Dev, PPE, PROD I understand you want the output of multiple builds to trigger a release. That is not possible today out of the box, so a you said doing the build also as part of the release definition is a workaround.

Features that will make it simpler to setup scenarios like yours are being considered. You can check [uservoice](https://visualstudi

[2017-03-24 19:11] vks222 commented on #3747
I'm also getting the same error in VS2017 using wix 311

	Windows Installer XML Toolset Toolset Harvester version 3.10.3.3007
	Copyright (c) .NET Foundation and contributors. All rights reserved.
heat.exe(0,0): error HEAT5305: Failed to load project xxx.csproj: The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please

[2017-03-24 21:06] amccool opened #3866 "vstest TRX file not being uploaded"
since upgrading vstest we are no longer getting the test results uploaded.   We see this in the logs

[code]

[2017-03-24 21:28] leftler opened #3868 "AzureResourceGroupDeployment does not support deallocating VMs"
[AzureResourceGroupDeployment](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/AzureResourceGroupDeployment) does not support deallocating a VM.

It would be very nice to add a check box to the stop virtual machine action to deallocate the VM. The box should default to false so it will remain backwards compatible when scripts update.

[2017-03-25 03:19] acesiddhu commented on #3866
Whats thw version build agent you are using?

[2017-03-25 07:19] jpsfs commented on #3027
Hi!

I was also looking for the same feature described by @rrfenton. At least the css files could be loaded, without any additional javascript.

@nigurr Do you have any update on this?

Best,

[2017-03-25 07:53] marvinpuethe commented on #3358
Experiencing this error on VS2017 hosted agent in VSTS too. When using 3.3 things work fine as brettjacobson noticed too. Maybe an error relating to the image.

_2017-03-25T07:50:06.7076029Z [command]C:\a\_tasks\NuGetInstaller_333b11bd-d341-40d9-afcf-b32d5ce6f23b\0.2.29\node_modules\nuget-task-common\NuGet\3.5.0\NuGet.exe restore -NonInteractive C:\a\1\s\Clients.sln
2017-03-25T07:50:07.4507062Z Fa

[2017-03-25 18:26] amccool commented on #3866
PS C:\r5eBldAgent> .\agent\VsoAgent.exe /Version
1.95.3

on premise TFS 2105 Update 3

[2017-03-25 18:49] bishal-pdMSFT commented on #3624
@miker1423 It is already being rolled out. Please re-check for your account.

[2017-03-26 04:49] acesiddhu commented on #3866
sorry for more questions.
Are you on TFS on prem 2015 update 3 or you are using vsts?
What version of vstest task are you using? version 1 or version 2?

[2017-03-26 10:04] mutee88 opened #3872 "Run Distributed Tests on TFS 2015.3 could not load file or assembly Microsoft.TeamFoundation.TestPlatform.Client"
I am experiencing exactly the same issue as #2387.

I have tried all the resolutions outlined including:-

1. Re-installing agents by hand
2. Repairing the installation.

What doesn't make sense is that the DLL is nowhere to be found in any installation.

Task version : 1.0.49

Error
DistributedTests: Test discovery started.
DistributedTests: Test Run Discovery Aborted . Test run id : 38037
Distri

[2017-03-26 14:11] wasabii opened #3873 "Service Fabric Deploy task should support Windows Authentication"
I use an on-premise cluster, with Windows Authentication as the auth method. There's no option for this in the external resource definition.

It's as simple as adding a new radio button and putting -WindowsCredential on the Connect-ServiceFabricCluster call.

[2017-03-26 21:00] mmajcica commented on #3858
I made some progress here. If I do wrap my, incriminated, cmdlet into a Start-Job and wait for it to finish, the error doesn't occur anymore.
So it has to do something with the way the agent is executing this code...
Unfortunately I can't still tell what, however I will continue digging. If you have any suggestions they will be more than welcome.

[2017-03-26 23:10] JamesNK commented on #3853
I don't see a pattern. Also getting this error from build:

[code]

[2017-03-27 03:48] nigurr commented on #3027
@jpsfs We have this work under our backlog and currently we don't have any timelines to share.

[2017-03-27 03:53] niadak commented on #3816
@bipindas Are you still block on this? If so, please share your VSTS account name with us so that we can unblock you. You can email to RM_Customer_Queries@microsoft.com for the same.

[2017-03-27 03:54] nigurr commented on #3837
@NikolayKash 2.0.9 has the fix. It should start rolling out from this week.
Is the test user account is admin in that machine? You can drop us mail at devops_tools at microsoft.com

If we can have skype call and will help you out resolving the issue.

[2017-03-27 04:51] dmccaffery commented on #2147
Missing this is starting to hurt a bit -- any plans to implement it? I am more interested in knowing the target branch of the PR than I am the source branch; but both would be nice to have.

[2017-03-27 04:53] SrivatsaMarichi commented on #3800
Any updates here?

[2017-03-27 05:17] acesiddhu commented on #3800
@SrivatsaMarichi we will take a look at this today. Will keep you posted

[2017-03-27 07:03] vincentdass commented on #3793
@MattPitlyk , Post Deployment script feature is available in all the regions now.
Please do give a try an provide your feedback. :)
Closing this thread as there is no action item.

[2017-03-27 11:52] PBoraMSFT commented on #3668
I don't have the exact dates to share, but we will pick this up in 2-3 sprints from now, once the current set of deliverables are done.
I am closing this issue since we don't use the issues list to track backlog items.

[2017-03-27 11:52] #3668 closed

[2017-03-27 13:10] SrivatsaMarichi commented on #3800
@acesiddhu Thanks for the update.

[2017-03-27 14:26] ericsciple commented on #3858
closing this is also tracked here https://github.com/Microsoft/vsts-agent/issues/881

[2017-03-27 14:26] #3858 closed

[2017-03-27 14:54] marvinpuethe commented on #3756
see #873 5 days ago

For all those waiting ;)

[2017-03-27 15:23] amccool commented on #3866
on premise TFS 2105 Update 3

2.0.19

[2017-03-27 15:46] markolazic88 commented on #3355
@madhurig Thank you for the info. Could you please share the date when those tools are going to be updated? That info is important for us, as we are still blocked, and we would have to create private build machine if the update is not going to happen any time soon.

[2017-03-27 17:15] acesiddhu commented on #3866
in that case how did you get vstest 2.0.19. did you upload it? vstest works only with agent version 2.

[2017-03-27 17:16] DanJ210 commented on #3756
@marvinpuethe In deeper investigation from VSTS I saw that there are version check boxes in the nuget package area in settings of the builds and saw there was not a 4.0. I did turn it off entirely but I still get a bunch of errors. So do you think that the above issue fix being rolled out will fix that entirely?

My other question would be if this affects bitbucket at all or is this something that

[2017-03-27 17:17] acesiddhu commented on #3800
@tanvi-soni can you check this out? Thanks

[2017-03-27 17:19] bryanmacfarlane commented on #3866
@acesiddhu - the task should demand 2.x agent in the task.json.  Does it do that?

[2017-03-27 17:22] acesiddhu commented on #3866
@bryanmacfarlane it doesn't do that as this was shipped in update 1 where only agent version 2 is supported. is that correct?

[2017-03-27 17:24] acesiddhu commented on #3744
@wouterroos I got a repro and I am working on a fix. Will keep you posted

[2017-03-27 17:35] acesiddhu commented on #3800
@SrivatsaMarichi for nunit test you need to put this filter

TestCategory=UnitTests
This will be valid if the test has attribute [Category("UnitTests")]

Can you try with this property name.

[2017-03-27 18:13] MikkelHegn commented on #3873
Backlogged...

[2017-03-27 19:03] amccool commented on #3866
we were having alot of issues with the 1.x version not looking thru sub-directories to find nuget'ed test adapters.   version 2.x appears to do this much better.

We upgraded using https://github.com/Microsoft/vsts-tasks/issues/3768

[2017-03-27 19:54] NikolayKash commented on #3837
@nigurr, yes, the user is admin. I will check if new task version solves the issue, if not I'll drop an email.

cheers!

PS.  I also improved this script https://github.com/Microsoft/customer-scripts/blob/master/test/build/orderedtest/throwif-trxfromtestrun-ofbuild-hasfailedoutcome.ps1  as it does not work  out of the box. We use it in release pipeline.

[2017-03-27 19:57] madhurig commented on #3355
Adding @thechrisjohnson for timeline on the update.

[2017-03-27 21:53] amccool commented on #3866
Is it possible to leave the 2.x task installed (1.x is installed as well), and make the "demands" use the 1.x task?  forgive my syntax and nouns, these vNext tasks and agent internal bits are new to me.

[2017-03-28 02:24] acesiddhu commented on #3866
@amccool not sure if this can be done in tfs 2015 update 3. Feature to choose a select major version of task was introduced in tfs 2017 update 1. @bryanmacfarlane any suggestions here?

@amccool you can also continue to use vstest v2 task and to publish results you can use publish teet results task and choose vstest option in that. But I am not sure if there can be any other issues if you continue

[2017-03-28 03:19] nigurr commented on #3837
@NikolayKash feel free to raise the PR and we will happy to add improvements.

[2017-03-28 03:19] nigurr commented on #3837
Closing this issue and please feel free to reopen if not resolved with new task

[2017-03-28 03:19] #3837 closed

[2017-03-28 03:42] bipindas commented on #3816
Hello,

Sorry for the delayed response. We don't have any immediate SQL deployments scheduled. I have anyway sent the email to the address mentioned.

Thanks!

[2017-03-28 08:46] henning-krause opened #3887 "MSTestV2 Test upload fails when using paramerterized tests"
Environment: TFS 2017 with SP1
Task: Visual Studio Test Task
Version: 2.x
Run in parallel: Yes
Run only impacted tests: Yes
VSTest Version: 2017

Normal unittests run just fine.

Now I added a like this one:

[code]

This tests works as expected on my dev machine.

On the build server however, the mstests tasks runs the test and than fails afterwards with this exception:

[code]