[2022-11-02 13:54] geralexgr commented on #17094
@abatishchev we use Managed Service Fabric clusters on Azure. Is there a way to configure that through a policy?

[2022-11-02 15:17] flowbrain opened #17119 "Visual Studio Test - Location of .coverage file"
**Question**
The code coverage binary file can be downloaded here:
![image](https://user-images.githubusercontent.com/39569034/199527549-64812174-6667-4457-ae7c-5f101cb792d6.png)

but where can it be found on agent ? ( it doesn't seem to be stored anywhere ) I need to access it from pipeline to Convert the Code Coverage Report from Binary into XML using:
`"%VSINSTALLDIR%\Team Tools\Dynamic Code Co

[2022-11-02 15:30] Strayfe commented on #17051
This is affecting us too.

We need to be able to use BuildKit which is now the default in docker compose v2+ and the variable `DOCKER_BUILDKIT: 1` does not appear to be working correctly in the current version of `DockerCompose@0`.

For now, the workaround my colleague Joe 'big'ol brass nuts' de Ronde has created is to:

- use a self-hosted build agent
- create an alias file `/bin/docker-compose`

[2022-11-02 15:45] gimlichael commented on #17051
Nice workaround; however, I need to be able to switch between managed and VMSS for my pipeline, so I opt-in for adding a custom script to the "Extensions + applications" blade.

[code]

Not pretty, but at least it is compatible with that old version.

[2022-11-02 16:14] abatishchev commented on #17094
Try this:

[code]

See https://learn.microsoft.com/en-us/azure/templates/microsoft.servicefabric/managedclusters?pivots=deployment-language-arm-template#resource-format-1

[2022-11-02 16:34] abatishchev commented on #17107
@kirill-ivlev can you please see if this is the same issue? "labeler" fails with 403: https://github.com/microsoft/azure-pipelines-tasks/actions/runs/3353238575/jobs/5603855160#step:6:123

[2022-11-02 16:35] abatishchev commented on #17106
@kirill-ivlev sorry for bugging, I wonder what's the process now to update the SDK version in the task?

[2022-11-02 17:16] davidcorrigan714 commented on #17099
I just noticed that some details are on the Azure DevOps Roadmap page [here](https://learn.microsoft.com/en-us/azure/devops/release-notes/features-timeline#pipelines-agent-node-lifecycle). Looks like they should all be Node 16 relatively soon actually. Though there's still the challenge of figuring out what other versions the rest of our extensions are actually using. Some flag in the runner to re

[2022-11-02 18:36] jessehouwing commented on #17099
What's missing in the documentation is how to properly handle targeting multiple TFS/ADS and Azure DevOps versions.

If I need to make changes to the code or pull in different dependency versions for say TFS 2018 support, should I package 2 folders with 2 cross compiled versions of the task each with their own node_modules? Cause in that case I'm likely going to hit the 20MB size limit for extensi

[2022-11-02 18:53] chrisbehanna commented on #16998
Per D&I, we are supposed to default to `main` these days, as GitHub itself does when you create a new repository.  Is this going to be fixed anytime soon?  If it would help, we can submit a PR, if you'll tell us where to find the appropriate repo.

Chris BeHanna
cbehanna@microsoft.com
Minecraft Bedrock Build Engineering Lead

[2022-11-02 19:32] hangy commented on #16278
Not done, yet.

[2022-11-02 19:32] hangy commented on #16279
Not done, yet.

[2022-11-02 20:09] mattleibow commented on #14536
I am sure this is going to increase the security risk with all these fake warnings hiding the real warnings:

![image](https://user-images.githubusercontent.com/1096616/199592653-f8982e48-0df6-456f-b0dc-cca197ef6954.png)

[2022-11-02 20:45] timmkrause commented on #14536
They don't care about us anymore. GitHub all the things...

[2022-11-02 21:31] kirill-ivlev commented on #17116
@SteveGoodman thank for reporting that!
We will have a look on it once we will have capacity.

[2022-11-03 00:22] RyDoug opened #17121 "Feature: Choose the ACR authentication type from the deploy task."
## Required Information

*Type*: Feature

**Enter Task Name**: AzureRmWebAppDeploymentV4

## Issue Description

When deploying a custom container in an ACR to an App Service, the authentication type defaults to Username and Password.  There doesn't seem to be a flag in the task to specify Managed Identity instead.

In the Azure Portal, we have the following:
- ![image](https://user-images.githubus

[2022-11-03 00:28] #13223 closed

[2022-11-03 07:17] kirill-ivlev commented on #17118
@sebschmeister thank you for reporting that!
We will have a look.
Could you please share the part of YML with task input parameters?

[2022-11-03 08:26] DmitriiBobreshev commented on #15232
Hi @proofit404 @asottile @scbedd, the PR was merging and now waiting for deployment, when these changes will be available for all customers I'll let you know

[2022-11-03 08:58] #17094 closed

[2022-11-03 10:12] sebschmeister commented on #17118
Sure, here it is:

[code]

[2022-11-03 10:40] kirill-ivlev commented on #16301
@DutchBlackOp could you please confirm that problem is still actual for you?

[2022-11-03 11:05] sbirq opened #17124 "Certificate issue with NPM install using MS hosted agents"
*Type*: Bug

**Task Name**: npm package restore including cypress

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

In our DevOps organization, we use Microsoft-hosted agents for the build pipeline. In this pipeline, an NPM task is failing which we first noticed on Monday, October 31st. In the NPM task, with an Install command, it is trying to use the registry 'ht

[2022-11-03 11:52] DutchBlackOp commented on #16301
This is still an issue for us.
The release of Azure Devops Server 2022 is releasing soon. And we are going to be moving to that version.
I don't if this would have any impact because I have not checked if the new version also comes with a new version of the Microsoft.TeamFoundation.DistributedTask.MSBuild.Logger.dll > v5

[2022-11-03 12:02] kalozoya-gregal opened #17125 "FTP Upload V2 Task fails with an "FTPError: 426 Failure reading network stream.""
*Type*: Bug

**Enter Task Name**: FTP Upload V2

## Environment

- Pool: Azure Pipelines
- Agent: Hosted Agent

## Issue Description

FTP Upload V2 Task fails with an "FTPError: 426 Failure reading network stream."
Protocol: ftps://

I am using.
![imagen](https://user-images.githubusercontent.com/47449787/199712800-62658163-9914-4f81-8cc1-67f6a2430a5f.png)

with "windows-latest" also fails.

### T

[2022-11-03 14:31] mortenbock commented on #14805
I just spent an hour debugging this as well. The `kind` was set to `app,linux` and that seemingly caused the image to be written to `WindowsFxVersion`

[2022-11-03 15:09] sanalkumarp opened #17126 "Error if ADF templates goes beyond 2 MB. 'Downloading files larger than 2MB is not supported'"
## Required Information
'Downloading files larger than 2MB is not supported'. The limit could not be found anywhere in the documentation

**Enter Task Name**: Azure Resource Group Deployment

## Issue Description

The task fails to download data factory template when size is largre than 2 MB.
Error: 'Downloading files larger than 2MB is not supported'.

The limit could not be found anywhere in the

[2022-11-03 15:10] Eonasdan commented on #16789
I just came across this issue as well. What's a timeframe for fixing this?

[2022-11-03 15:47] DmitriiBobreshev commented on #17124
Hi @sbirq, thank's for reporting. Unfortunately, I don't have access to your logs, so could you please provide more info such as:
- Part of the pipeline with  npm package restore command if it's possible
- As I understood, you're using [Azure Artifacts feed](https://learn.microsoft.com/en-us/azure/devops/artifacts/npm/npmrc?view=azure-devops&tabs=windows%2Cclassic) in your project. Is this a feed

[2022-11-03 16:44] mihmilicio commented on #11869
The issue persists
Tried with a macOS agent with a deployment in a multi staged yaml

[2022-11-03 16:58] Nodnarb3 commented on #4945
How is this thread over 5 years old and this is still an issue?? hello?

[2022-11-03 17:07] jsloan117 opened #17127 "Warnings about Resource file already set when using AzureKeyVault v1.212.0"
## Required Information

*Type*: Bug

**Enter Task Name**: AzureKeyVault

## Environment
- Agent - Private:
  - OS: RHEL7
  - Version: 2.211.1

## Issue Description

Dozens of warnings about "Resource file already set". This started today, from what I can tell.

[code]

[2022-11-03 17:27] v-kevinwong commented on #15139
Seeing this issue with 2.210

[2022-11-03 18:52] jessehouwing commented on #17100
@JoeGaggler I opened a case with the security response center, they ask for your email to keep you updated.

Can you reply to
[them directly](Mailto:security@microsoft.com?subject=RE:%20Boosting%20visibility%20of%20security%20issue%20in%20pipelines%20CRM:0305004345)

Or reach out to me so I can add you to the case?

[2022-11-03 19:16] JoeGaggler commented on #17100
@jessehouwing thanks! I used your link to request updates on the issue.

[2022-11-03 19:59] michaelsaxbury commented on #16943
i am getting same error, did you get any further resolving it?

[2022-11-03 22:18] jdaugherty commented on #17127
For us, this started happening in a build done on Nov 1st at 1:51 PM.  It did not occur in the previous build that ran on Oct 26 at 6:01 PM.  It's happening in the pre-job task for us, where it transfers secrets from the keyvault to populate the library values.

[2022-11-03 23:59] toddthomas commented on #12364
I too have encountered this issue. Looking at the [code](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/XcodeV5/xcode.ts) for the Xcode task, I think I see why it's happening.

We want the Xcode task to use the signing configuration defined in the project file, so we've set `signingOption` to `default`. We also want the convenience of the task generating the export options pl

[2022-11-04 05:47] Daemonson commented on #16982
https://github.com/fastlane/fastlane/issues/20810#issuecomment-1303004100

[2022-11-04 06:37] Poovamma commented on #17127
+1 .
We are facing issues with the same. We are seeing multiple warnings while fetching secrets from Azure Key vault using the task
- task: AzureKeyVault@1

Error

` ##[warning]Resource file has already set to: /azp/agent/_work/_tasks/AzureKeyVault_1e244d32-2dd4-4165-96fb-b7441ca9331e/1.212.0/node_modules/azure-pipelines-tasks-azure-arm-rest-v2/module.json`

[2022-11-04 09:38] cirio commented on #9272
Any news about this feature? It's would be very useful

[2022-11-04 11:11] IanMoroney commented on #17127
This just started happening for us too, and i get 12+ warnings in some pipelines.

[2022-11-04 11:17] IanMoroney commented on #17127
@chshrikh , @thesattiraju , @tauhid621 could someone get this bug assigned and resolved? It's causing too many false positives and devs have now started ignoring warnings altogether in the pipelines.

[2022-11-04 12:09] #16267 closed

[2022-11-04 12:09] #16259 closed

[2022-11-04 12:42] Pentadome commented on #10935
[code]

The caching Task often seems to pause for no reason at all. This happens on multiple agents...

[2022-11-04 15:05] #16271 closed

[2022-11-04 15:15] mortenbock commented on #14805
Just FYI, I switche to the `AzureRmWebAppDeployment@4` task in DevOps, that does it correctly:

    - task: AzureRmWebAppDeployment@4
      displayName: Deploy to Azure
      inputs:
        ConnectionType: 'AzureRM'
        azureSubscription: ${{ parameters.azure_subscription }}
        appType: 'webAppContainer'
        WebAppName: ${{ parameters.app_service_name }}
        DockerNamespace: ${{

[2022-11-04 15:28] fmck commented on #17127
We are seeing the same issue, multiple warnings per build all on a pre-job to grab secrets from key vault.

[2022-11-04 17:18] Turbofroggy commented on #17127
We are seeing this in our pipelines as well.

[2022-11-04 17:46] toddthomas commented on #12364
I haven't had time to try this. For now I've replaced the Xcode build task in my team's pipelines with these two bash scripts:
[code]
This is working with our projects that use enterprise provisioning profiles. I haven't yet tested the App Store profile case.

[2022-11-04 21:05] #16272 closed

[2022-11-04 21:05] #14323 closed

[2022-11-05 12:07] #16276 closed

[2022-11-05 14:10] PingvinB commented on #16021
I also ran into this issue when using the AzureFileCopy task.

@Yasston Hi, as a workaround I replaced the AzureFileCopy task with an AzurePowerShell task in the Release pipeline.
Here's the exported yaml including a demo inline script for uploading a file to blob storage.

[code]

In addition, make sure the Service principal used by the pipeline has the " Storage Blob Data Contributor" role.

[2022-11-05 21:05] #16281 closed

[2022-11-06 07:58] abdulla-allaith commented on #17084
Any update on this issue?
It's breaking all iOS pipelines.

[2022-11-06 11:29] DmitriiBobreshev commented on #17125
Hi @kalozoya-gregal, thank you for reporting I checked the task with my ftps server on uploading ~10k files in different sizes and it seems working.
Are you sure that the problem is exactly with the task? FTPUploader task using basic-ftp library to connect and upload files, and I found some explanation from the author why the [error appears](https://github.com/patrickjuchli/basic-ftp/issues/170),

[2022-11-07 03:47] #15337 closed

[2022-11-07 08:46] james1301 commented on #16300
Nobody has responded???

[2022-11-07 11:04] DmitriiBobreshev commented on #17114
Hi @charmipatalia, could you please say do you have some not native project like Apache Cordova/React Native? This code means that some Input Data is incorrect in [some way](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man3/sysexits.3.html).

Probably it happens because you switch xcode version without update the project. In case if it's some note n

[2022-11-07 11:29] kalozoya-gregal commented on #17125
More information from server:
![imagen](https://user-images.githubusercontent.com/47449787/200295956-492d0b7b-01a5-47b2-bbb6-83e224991904.png)

FTPUploader task:
![imagen](https://user-images.githubusercontent.com/47449787/200298427-2e1ab19d-631f-4134-ab03-70a77c3bac00.png)

At the moment, it happens with files larger than 30 KB

I have tried with retryCountOnTaskFailure option to 2, but I have th

[2022-11-07 11:44] schrx1964 commented on #17127
we are seeing this in our buil pipelines again since a couple of days. Last Tuesday everything was still ok.

[2022-11-07 15:17] gpkrieger commented on #17127
We are seeing this in our build pipelines as well, the pipelines finish successfully, but it doesn't seem to be actually updating with values from the keyvault.  to test, I deleted one of my keys used in the pipeline, and the pipeline still finished successfully, and the app still used the old key value.

[2022-11-07 20:22] myflashlab commented on #9172
a summary of all above conversations:

[code]

[2022-11-07 20:35] Gakk commented on #17084
Upgraded to MacOS 13 today (prior to reading this), and the pipeline stopped working 😟

[2022-11-07 21:05] Gakk commented on #17084
@Roman-Shchukin:

It seems that the old bug focused on change in output, expecting `/` as separator and getting comma (`,`):

This seems not to be the case now, as both working MacOS 12 and failing MacOS 13 uses semicolon (`;`), so parsing seems to work:

**MacOS 12:**

**MacOS 13:**

I therefore believe that this is a **new** issue, and **not** related to #11852

[2022-11-08 05:37] JagadeeshVenkatesan commented on #17127
+1
I started seeing these warnings from Friday onwards and still see them in all my pipelines(100+), can anyone help me with it?

[2022-11-08 06:13] fuhuifang opened #17133 "AzureCLI@2 in Azure DevOps overrides python version"
Reposting as internal ICM

[2022-11-08 06:26] SamHard commented on #8798
You can write a quick PowerShell task for this using the Invoke-WebRequest commandlet.
`Invoke-WebRequest https://example/file.txt -OutFile C:\file.txt`

[2022-11-08 07:22] #17133 closed

[2022-11-08 08:04] phille968 opened #17134 "Authentication-Exception while deploying bicep-file pointing to ACR-module from AzureResourceManagerTemplateDeployment@3 in classic releases"
A while back I created [this](https://github.com/Azure/bicep/issues/8730) issue in the [bicep](https://github.com/Azure/bicep)-repo, about not being able to deploy a bicep file using the [AzureResourceManagerTemplateDeployment@3](https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/reference/azure-resource-manager-template-deployment-v3?view=azure-pipelines)-task from the devops classic

[2022-11-08 09:01] Roman-Shchukin commented on #17084
Hi @abdulla-allaith! We are already working on this issues.

[2022-11-08 11:38] WilliamRaphaWyde commented on #13250
FYI we have been experiencing the same issue on our end today. It was working fine until yesteday, but it failed 3 times today for our daily build.

eg. https://dev.azure.com/mphasis-wyde/Wynsure%20Product/_build/results?buildId=3390&view=logs&j=c1abedab-6e8a-5acb-7f25-be4ece04f074&t=7727b2dc-7902-526f-78b7-45d9a2b1af14

[2022-11-08 12:21] nohwnd opened #17135 "Make default test pattern narrower"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-11-08 14:51] ismayilov-ismayil commented on #17084
the problem is solved with this PR [https://github.com/microsoft/azure-pipelines-tasks/pull/17110](https://github.com/microsoft/azure-pipelines-tasks/pull/17110)
and now awaiting deployment

[2022-11-08 15:02] AndyGettingAn opened #17136 "ArchiveFiles includes MacOS pointer files in generated files on MacOS 13"
Archive Files includes MacOS pointer files (._) in generated .tar file on new MacOS 13
*Type*: Bug

**Enter Task Name**: ArchiveFilesV2

## Environment
Private Agent with MacOS 13

## Issue Description
After updating private agent to MacOS 13 the ArchiveFiles task includes the MacOS pointer files in the generated tar. Works fine on MacOS 11.

Task:
[code]
Valid Result on MacOS 11:
[code]

Invalid

[2022-11-08 16:19] DmitriiBobreshev commented on #17136
Hi @AndyGettingAn, thank you for reporting, checked the ArchiveFiles task on macOS 11 and macos 12, seems like files with pointers are always included in the archive. You can check it by yourself by running a pipeline like this [example.txt](https://github.com/microsoft/azure-pipelines-tasks/files/9963113/example.txt)

Are you sure that aren't some other tasks that won't clean pointer files after

[2022-11-08 19:07] xecollons commented on #16089
I encountered this and it's very frustrating. I'm trying to create some integration tests against a SQL Server contained database from a windows image (since our compilation has to be done in windows for reasons) and I can't since it can run linux containers.

And what is even more absurd is that Microsoft doesn't even provide any Windows SQL Server image that can be pulled from docker hub.

Anyon

[2022-11-08 20:07] gorziza commented on #17127
We have the same problem!

[2022-11-08 20:41] cek-cek commented on #16943
Getting this issue on the newly released VsTest version **17.4.0 x64**. Pipeline runs up to that point that were using **17.3.2 x64** and succeeded without any problems.

So our current fix is to lock VsTest at specific version using task:
[code]

[2022-11-08 21:32] AndyGettingAn commented on #17136
@DmitriiBobreshev
Executing this pipeline on macOS 11/12 and macOS 13 results in different files.
[code]

You can see the pointer files when opening the tar files on Mac. Our problem occurred when uploading to Artifactory.

The yml above produces following files on macOS 11 and macOS 13:

<img width="421" alt="Screenshot 2022-11-08 at 22 28 39" src="https://user-images.githubusercontent.com/246364

[2022-11-08 21:42] AndyGettingAn commented on #17136
Current workaround is using `gnu-tar` from homebrew

[https://formulae.brew.sh/formula/gnu-tar](https://formulae.brew.sh/formula/gnu-tar)

[2022-11-08 22:20] patelchandni commented on #15532
Error is generated from the code here:
1. https://github.com/microsoft/azure-pipelines-tasks/blob/058d7a428080b089cf50473960839972d3b60612/common-npm-packages/AzureRmDeploy-common-v3/operations/AzureResourceFilterUtility.ts#L11-L13
2. https://github.com/microsoft/azure-pipelines-tasks/blob/058d7a428080b089cf50473960839972d3b60612/common-npm-packages/AzureRmDeploy-common-v3/azure-arm-rest/azure-arm

[2022-11-09 04:00] charmipatalia commented on #17114
Hey @DmitriiBobreshev , Thanks for looking into it. I have the native iOS application and if I try to deploy the app with Xcode than it is working fine but failing in this step in the pipeline.

[2022-11-09 09:24] at-besa commented on #17127
+1 We also started seeing this issue in our pipelines about a week ago. This also turned out that most of the people ignore the warnings now.

[2022-11-09 09:25] AnkitPathak41 commented on #17127
+1 We are also facing the same issue more than 300 warnings for keyvault task in Azure DevOps pipeline

[2022-11-09 10:23] empty-space commented on #11869
Strange. I dont have the issue for old pipelines (I created them previous week). Only for new I created yesterday

[2022-11-09 11:02] DmitriiBobreshev commented on #17114
@charmipatalia, thanks for the answer, are you using Xcode 14 on your machine? Seems like Xcode on your machine modified some input data to be able to build the project. Do you use [Cocoapod install](https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/package/cocoapods?view=azure-devops) before building in your pipeline?
Also, you can specify the version of Xcode by using the bash task:

[2022-11-09 12:34] jcontti-axa commented on #17127
+ 1 same problem here, more than 200 warnings :(

[2022-11-09 13:32] v-mohithgc commented on #17127
Task version has been rolled back to 1.211.2

[2022-11-09 14:07] manokara commented on #13661
I'm trying to run some Powershell code on a Windows Server VM through SSH. The default shell is Powershell 7.x, and the interpreter is set to blank as recommended, but the task fails because it tries to run `tr` to clean up carriage returns as if it was running on bash, rightfully complaining about the `<` redirection operator. There should be an option on the SSH task to specify that the target m

[2022-11-09 14:14] jwikman commented on #17127
We've got AzureKeyVault auto updated to v1.212.0 on a lot of our self-hosted server agents.

Is there any easy way to revert all those to v1.211.2?

[2022-11-09 15:15] andre9494 commented on #16877
Looking foward to it as well, this feature will be very important for us too

[2022-11-09 16:03] larohra commented on #16605
I see the same issue on the `macOS-latest` MS hosted images too since they don't have docker installed by default. Using the `DockerInstaller@0` task only installs the CLI, but what extra steps do we need to do to download/install the docker daemon on the agent machines?

[2022-11-09 16:11] v-mohithgc commented on #17127
Hi, you can try to clean agent tasks cache.

Example path:
<agentname>\_work\_tasks\*

[2022-11-09 16:45] kingli-crypto commented on #15802
Will this ever be fixed by MS? The workaround works but it's something that should work out of the box?

[2022-11-09 17:08] at-besa commented on #17127
I already tried that and it does not help, these warnings appear immediatly with the first run after cleaning.

[2022-11-09 18:05] mstrent commented on #17084
We are also blocked by this issue. Hoping for a quick turnaround on releasing the fix!

[2022-11-09 18:06] wrakocy opened #17152 "UseDotNet@2 Does Not Propogate SDK Version to All Downstream Tasks When Using .NET 7"
## Question, Feature or Bug?
Possible Bug

##  Task Names
- UseDotNet@2
- DotNetCoreCLI@2

## Environment
- Server: Azure Pipelines hosted agent using windows-latest
- SDK version: 7.0.x

## Issue Description
After upgrading our pipeline to use .NET 7, attempts to run restore via DotNetCoreCLI@2 are failing. Based on the task logs, it appears that restore is still using the .NET 6 SDK, despite set

[2022-11-09 18:55] Trolldemorted commented on #10831
Was this fixed in the meanwhile?

[2022-11-09 18:55] That1Guy007 commented on #17127
We are also running into this issue. Any resolution so far? It is for our download secrets task from a variable group that is linked to an azure key vault.

[2022-11-09 19:45] Turbofroggy commented on #16998
@johnterickson any update on this?

[2022-11-09 20:00] seskid commented on #12089
What did you find as a good alternative?

[2022-11-09 20:29] mstrent commented on #17084
@ismayilov-ismayil is there any way to get a rough timeline estimate on when this fix might be rolled out and usable? We need to understand whether we should wait or start something drastic like rebuilding our Mac build server.

[2022-11-09 23:20] charmipatalia commented on #17114
Hello @DmitriiBobreshev , yeah I am using Xcode 14.0.1 in my machine and also using cocoapods install in the pipeline. So here you mean I need to mention the version of xcode in script? Pipeline is already using 14.0.1 by default.

I am also wondering that if I use 'macOS-Latest' instead of 'macOS-12' than it is working fine(It will use XCode 13) but there is warning that you need to use macOS-12

[2022-11-10 01:01] johnterickson commented on #16998
I'm working on a PR for this:

This one is trickier:

The scopes are provided by the server and the client is untrusted - otherwise a fork PR build could include a change in the YAML giving itself access to things it shouldn't.  Main worry there is `write` access, so there's a possibility to do something with read access - hmm...

[2022-11-10 06:32] v-mohithgc commented on #17127
https://github.com/microsoft/azure-pipelines-tasks/pull/17151 revert is completed, will take time to roll out 213

[2022-11-10 07:12] anantoghosh commented on #13511
This is still an issue, no differentiation between errors and warnings.

[2022-11-10 08:39] DmitriiBobreshev commented on #17114
Hi @charmipatalia, thank's for your answer,  I just thought that maybe your app wasn't built on Xcode 14 yet, so it's not migrated.
In that case could you please run the pipeline with [debug variable](https://learn.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#systemdebug) and attach the logs. In case if you don't want to share logs here you can write me by

[2022-11-10 09:06] #16293 closed

[2022-11-10 09:09] rodrigo-67 commented on #16877
This feature will be very important for our development!

[2022-11-10 09:16] thiagoalexsilva commented on #16877
Looking forward to this fix too! It will make the project I'm working on continue ahead more smoothly

[2022-11-10 09:19] RodolfoCIM commented on #16877
Hello everyone!
Do you know any news about this request? It would be great if you could fix this issue!
Thank you!

[2022-11-10 09:38] azachar opened #17156 "Do not ignore by default the return code for BashV3 and CMDLineV2"
Hello,

By default any tasks represented by for example:

[code]

running on linux should do not fail when a return code is non zero.  Which is super confusing. By default you want that if something goes wrong, the pipeline fails not the opposite!

But this line in the code prevent that, could you please change it, otherwise we are force to set to each and every script command `set -e` which is su

[2022-11-10 10:51] bkarstaedt commented on #17066
For me this bug/feature makes the "preview environments" for my use case useless, too :(.

As a workaround I now use the [named environments](https://learn.microsoft.com/en-us/azure/static-web-apps/named-environments?tabs=azure-devops) with the PR ID as the name:

[code]

This way I have a stable _unique_ environment per PR.

The above example is a simplified version of my pipeline. If the branch

[2022-11-10 11:54] DenisRumyantsev commented on #17113
Here are the options to use —
* use the `artifactDropTask` task to publish something to the drop service;
* use the `artifactDropDownloadTask` task to download something from the drop service;
* use the `PublishBuildArtifacts` and `PublishPipelineArtifact` tasks to publish something to the artifacts' storage;
* use the `DownloadBuildArtifacts` and `DownloadPipelineArtifact` tasks to download somet

[2022-11-10 11:54] #17113 closed

[2022-11-10 13:26] sychare commented on #15497
Shame this still isn't supported. Lots of network traffic for what could be an on-disk/local cache for self-hosted agents.

[2022-11-10 13:43] jasontempleman-eaton opened #17162 "openssl 1.0.2 vulnerability CVE-2022-3602 and CVE-2022-3786"
This is installing openssl 1.0.2 (last updated 12/2019) and has known vulnerabilities.
OpenSSL has strongly recommended upgrading vulnerable versions to the latest patch of 3.0.7 to address the potential impact of the vulnerabilities.

https://securitylabs.datadoghq.com/articles/openssl-november-1-vulnerabilities/

ADDENDUM:
Was just informed by our Cyber Security team that this version is not aff

[2022-11-10 14:54] jasontempleman-eaton commented on #17162
As this is not really an issue and I don't see a discussion section for this repo is there some place I can raise the question as to when openssl will get updated to a newer version?

[2022-11-10 15:14] onarres opened #17164 "Docker build doesn't fail the task when docker errors from a bad filename"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Docker@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - Azure Pipelines

- Agent - Hosted or Private:
    - Hosted

## Issue Description

[Include task name(s), screenshots and any other relevant details]
When an inv

[2022-11-11 00:29] #16152 closed

[2022-11-11 00:30] flcdrg opened #17165 "Docker task should optionally add OCI Annotations"
*Type*: Feature

**Enter Task Name**: Docker

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Issue Description

Currently the Docker task can add labels when building an image that start with `com.azure.dev.image` (when addPipelineData is true) and `image.base` (when addBaseImageData is true)

The OCI specification documents a number of annotati

[2022-11-11 00:32] flcdrg commented on #17165
Dup of https://github.com/microsoft/azure-pipelines-tasks/issues/15655

[2022-11-11 00:32] #17165 closed

[2022-11-11 06:06] #14812 closed

[2022-11-11 07:40] jessehouwing commented on #17116
From my experience with the Azure-Pipelines-Task-Lib, this is expected behavior:

https://github.com/microsoft/azure-pipelines-task-lib/blob/9ba99acd102ba825041bcc8aaed8f6e9a69791ca/node/taskcommand.ts#L105-L119

https://github.com/microsoft/azure-pipelines-task-lib/blob/9ba99acd102ba825041bcc8aaed8f6e9a69791ca/powershell/VstsTaskSdk/LoggingCommandFunctions.ps1#L477-L497

Some escaping/unescaping

[2022-11-11 09:18] SteveGoodman commented on #17116
Ultimately what we're trying to do is pass a connection string into a DotNetCoreCLI custom msbuild task, and the only way that will handle a connection string is by encoding it as the `;` throws it off.

However, if I do the encoding in a PowerShell task, store it to a variable, and then attempt to use it in a DotNetCoreCLI task it is no longer encoding the `;` hence my simplified example above.

[2022-11-11 09:51] eltimmo commented on #16353
I started having this issue as well, you can install the service as a user like this

[DevOps agent install](https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops#install)

```sudo ./svc.sh install [username]```

[2022-11-11 09:57] janode commented on #17152
Exact same issue here as well, but for Publish. Using UseDotNet@2 setup for `version: '7.x'`, which works fine for DotNetCoreCLI@2 on `build` and `test`, but fails on `publish` because it seemingly defaults to .NET 6.

`error NU1201: Project <Redacted> is not compatible with net6.0 (.NETCoreApp,Version=v6.0). Project <Redacted> supports: net7.0 (.NETCoreApp,Version=v7.0)`

[2022-11-11 12:08] #16299 closed

[2022-11-11 12:30] cceeci99 commented on #13787
I have created an Azure VM and enabled System Assigned Managed Identity, also i registered it as Agent and it's online.
But when i run the pipeline i get the same error... do i need to create another managed identity and assign it on the VM? or i need to add some RBAC?
I thought that the system assigned managed identity allows the connection of the vm
Any help?

[2022-11-11 12:52] Khusainov commented on #16299
This issue is not fixed yet

[2022-11-11 16:25] jessehouwing commented on #17116
The behavior also changed over time...in 2018 or so, the encoding got added and over time more stuff got encoded.

But it's more of an undocumented feature now than a bug.

If you steal the writecommand function from the tasklib, it should carry over without issues.

[2022-11-11 17:32] miqm commented on #15802
+1

[2022-11-11 18:00] miqm commented on #15802
Can someone reopen this ticket? I think the problem is still valid although the author had found a workaround.

[2022-11-11 20:06] epasch commented on #16598
We are running into this as well while setting up a new Ubuntu Server 22.04 server. The workaround provided above is fine for the short term but looking forward to this getting fixed so we can use a more secure key.

[2022-11-11 20:42] ngcdev commented on #8920
I wonder if the "roadmap" is that kind of map of "where do you see yourself in 10 years"... a bunch of tasks work flawlessly in Linux hosts, but this one gets no attention

[2022-11-12 00:18] bluedog13 opened #17169 "Job preparation parameters displays sensitive information from previous stage passed values"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-11-12 00:27] #16303 closed

[2022-11-12 00:53] hughesjs opened #17170 "Maths Mode in ARM Template Deployment Readme"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureResourceManagerTemplateDeployment

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Issue Description

Some weird maths-mode rendering going on in the README.

![

[2022-11-12 00:55] hughesjs commented on #17170
Not sure if bug is the right type here... It's a bug in the docs if that counts... Either way, I've submitted a patch

[2022-11-12 01:19] hughesjs opened #17172 "Running incremental ARM Template Deploy Seems to Rollback Functionapp"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**:  AzureResourceManagerTemplateDeployment

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Account name, team project nam

[2022-11-12 15:07] vsilvar opened #17179 "UseDotNetV2 doesn't respect rollForward in global.json"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: UseDotNet

## Environment
- Server - Azure Pipelines
- Agent - Hosted ubuntu-latest

## Issue Description

I'm using the UseDotNetV2 task with "Use Global.json" set to true. My global.json is in the solution directory and the contents are:
[code]
It could be argued that this should install the latest available .NET SDK (`7.0.100`

[2022-11-12 18:06] #15818 closed

[2022-11-12 18:06] #14744 closed

[2022-11-14 07:35] bmargula opened #17193 "AzurePolicyV0 task doesn't work with Management Group scoped service connections"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePolicyV0

## Issue Description

When using management group scoped service connections, then the AzurePolicyV0 task will fail since it expects a subscription scoped service connection.

[2022-11-14 07:56] doggy8088 commented on #16329
@nadesu Do you have time to deal with this issue?

[2022-11-14 08:28] FabianBigler commented on #16942
Any news here of how to fix this? We are having the same issue.

[2022-11-14 10:18] AlWoe commented on #15285
We are having the same issue on our build pipeline, so we could still use the answers to @luizgrs 's questions!
How can I find out, what causes the problem?
And as we are not missing anything from this successful test task: can we just turn off the attempt to publish the test attatchments?
Our problem is just that the duration of the entire build is dominated by what seems to be a pointless wait o

[2022-11-14 12:13] tisis2 opened #17196 "UseDotNet@2 does not use version set for build"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: [UseDotNetV2](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/UseDotNetV2)

## Environment
* Azure DevOps Server 2020 Update 1.2
* Windows Agent - 2.181.2

## Issue Description
i created a branch for our project to migrate from net6 to net7. after the first build with net7 i recognized that also our master builds

[2022-11-14 15:12] lucasmior opened #17198 "Task Bash version 3.211.0 requires agent version 2.206.1 and no agents with that version are registered."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Bash | Script

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the

[2022-11-14 17:02] bannus commented on #3472
@anatolybolshakov Was this change ever rolled out? I see recent failing builds still failing with message `##[error]Error: The process 'D:\a\_work\1\s\_BuildCommon\path1st\gradlew.bat' failed with exit code 1`

[2022-11-14 17:38] hilari0n commented on #17127
We're using Azure DevOps and Hosted Agents and we're not directly referencing this task in our pipelines, but we are using variable groups, defined based on Azure KeyVault, which probably causes implicit use of this task. This basically translates to all of our pipelines being affected by this issue, with no way to address it, without remaking all our pipelines to explicitly use the task in a corr

[2022-11-14 17:43] abatishchev commented on #17127
@v-mohithgc can you please share the status of the rollout? namely when the new version is expected to land on `msazure`?

[2022-11-14 17:59] hilari0n commented on #17127
The issue is also being [raised on the StackOverflow](https://stackoverflow.com/questions/74288802).

[2022-11-14 18:02] hilari0n commented on #14536
A similar issue is also happening for other types of tasks, e.g. [Azure KeyVault](https://github.com/microsoft/azure-pipelines-tasks/issues/17127), [Gradle](https://github.com/microsoft/azure-pipelines-tasks/issues/13916).

[2022-11-14 18:06] #15963 closed

[2022-11-14 18:24] JustinSchneiderPBI commented on #11451
Thanks, anatolybolshakov. Any luck?

[2022-11-14 18:49] vsilvar commented on #17179
Indeed, I omitted the fact that VS/CLI doesn't actually install the SDK for simplicity.
And while I agree that the only way of making sure the developer's environment and the build server are completely consistent is to specify a specific SDK version, when a developer specifies a `rollForward` policy, they are accepting a degree of variability between other developer's machines and possibly the bu

[2022-11-15 06:42] jwikman commented on #17127
I'm having the same setup as @hilari0n, on hosted agents with variable groups.
My agents are still downloading 1.212.0 of AzureKeyVault...
I've tried to delete the 1.212.0 folder and files from the `[agent folder]\_work\_tasks\AzureKeyVault_1e244d32-2dd4-4165-96fb-b7441ca9331e` folder, but 1.212.0 is downloaded as soon as I start a pipeline. The agent is running version 2.213.2.

When can we expec

[2022-11-15 07:48] FranzKohl commented on #12935
@damccorm & @anatolybolshakov

Yesterday I found that the .NET Tool Installer (in Azure DevOps 2020.1) is even able to download the brand-new .NET 7 SDK... so it looks to me, that the team behind this tool installer did a good job.

In that context I'm really sad to see, that after more than two years there still isn't a similar solution available for the Java Tool Installer. This will be my last

[2022-11-15 08:22] tomaustin700 commented on #17127
Like others have said; this happens when a pipeline references a variable group linked to a Key Vault. It doesn't seem to cause any actual issues but I've got 252 warnings thrown in one of my largest pipelines.

[2022-11-15 09:13] DmitriiBobreshev commented on #17156
Hi @azachar, as I see this behaviour started 7 years ago from [this commit](https://github.com/microsoft/azure-pipelines-tasks/commit/e6da15a0c2e41229501219289c184c6690c7ba21), and unfortunately can't be undone, because now tasks like CmdLine using a lot of customers and it will break a lot of pipelines which expect `failOnStderr: false`  as the default behaviour.
But, I think you can use it with

[2022-11-15 09:35] DmitriiBobreshev commented on #17124
Hi @sbirq, do you have any updates?

[2022-11-15 14:39] Gakk commented on #17084
I see that the task _"Install Apple Certificate"_ within the last few days was updated from the failing versjon _2.200.0_ to a new version _2.212.0_ that also fails.

It is starting to hurt a lot not being able to push new updates of our iOS apps 😟

But it looks like the PR #17195 targets release branch `m213`, and hopefully that means a new release 2.213.0 very soon 😇 ?

[2022-11-15 16:10] wrakocy commented on #17196
Same issue [here](https://github.com/microsoft/azure-pipelines-tasks/issues/17152).

[2022-11-15 23:56] ForteUnited opened #17207 "Download Pipeline Artifact Task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-11-16 02:34] ForteUnited commented on #13350
How is this still an issue? omg

[2022-11-16 02:53] ForteUnited commented on #13350
So what is the solution here?

[2022-11-16 03:46] G-Rath commented on #14869
@EzzhevNikita @anatolybolshakov would you consider merging this if I rebased? We'd still really like this feature

[2022-11-16 07:09] KonstantinTyukalov commented on #17198
Hi @lucasmior, thank you for the information provided. It seems this changes made by mistake, we will fix that

[2022-11-16 09:33] amsga commented on #11451
Encountered the same problem on Azure DevOps Server 2020.1.1

[2022-11-16 09:45] IanMoroney commented on #17127
it's fixed for me after the revert

[2022-11-16 11:06] qasimrider opened #17212 "AndroidSigning@3 is returning failed with exit code 1"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2022-11-16 12:57] Herve-M commented on #13376
@bishal-pdMSFT Would it be possible to share how to `A workaround exists to use a well tested complete version in global.json.` ?

[2022-11-16 15:09] krokofant commented on #15449
Still a problem

[2022-11-16 15:17] benwarrick opened #17216 "New function apps not appearing in Azure devops pipeline release under App Service name"
I'm seeing this issue: https://developercommunity.visualstudio.com/t/cant-find-App-Service-name-azure-devops/1651959?q=app+service+name

I add a function app to a Resource Group, but when I create the release pipeline, using "Deploy Azure Function App", the new function app doesn't appear in the "App service name" list. Sometimes it appears later, like after an hour. But right now I have one I cre

[2022-11-16 16:43] Simas1 opened #17217 "Powershell task yaml - silently ignore script and show only "Hello World""
This is very weird bug, when you add incorrect parameter to the Powershell task - it will not fail, but it will ignore your script and show you "Hello World" message - and mark task as completed successful, even with 'failOnStderr: true'.

How to reproduce:
`- task: PowerShell@2
  displayName: Show Hello World
  inputs:
    targetType: inline
    inline: |
      Write-Host "Test Test Test..."

[2022-11-16 16:47] leandromsft opened #17218 "AzureCLI input connectedServiceNameARM references service connection $(azureServiceConnection) which could not be found"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureCLI@2

## Environment
- Azure DevOps Services
  - Account name: asset-toolbox
  - Team project name: container-app
  - Build definition name/build number: container-app-iac

- Agent - Hosted (ubuntu-latest)

## Is

[2022-11-16 23:12] kilasuit opened #17219 "Add PwshVersion to AzurePowerShell5 task"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzurePowerShell5

## Environment

General suggestion for any environment whether hosted by Microsoft of self-hosted (inc agents)

## Issue Description

To help with issues like this one in [Azure PowerShell](https://github.com/Azure/azure-powershell/issues/18721) where Azure Pipelines are using the AzureP

[2022-11-17 02:21] carlin-q-scott commented on #11770
@johnterickson This is isn't an issue with NuGet client. The recommended cache fallback key matches all caches for the build definition. So it will always restore and persist the same cache. I removed the fallback key from my build definition and it had a cache miss, but the Post-job cache step matched the generic cache fingerprint and decided to not do anything since it thought the generic cache

[2022-11-17 10:30] KerbalSpike commented on #10405
It is really mind-boggling, that there has not been any fix for this. I mean I could understand it if it would only be affecting and annoying users, but this must be a pretty big resource hog for Microsoft's infrastructure, assuming that there must be thousands of pipelines running with this task each and every day...

[2022-11-17 10:56] kaffarell commented on #14370
I am facing the same issue, has this been resolved?

[2022-11-17 12:08] #16270 closed

[2022-11-17 15:31] mikemutpo commented on #13885
@Rutix I've found that publishing with Azure Function Core Tools CLI is 100% reliable compared to this nonsense.

[2022-11-17 15:56] joxenford commented on #17114
I am seeing similar behavior on Xcode@5.   I cannot reproduce this error using Xcode locally using the same `xcodebuild` command.
[2022-11-17T15:38:48.2771670Z ##[debug]Ev.txt](https://github.com/microsoft/azure-pipelines-tasks/files/10033195/2022-11-17T15.38.48.2771670Z.debug.Ev.txt)

[code]

This was working fine about 4 days ago and just started to fail this week

[2022-11-17 16:22] andrii-lundiak commented on #17127
**BAD**
At first I used variables group defined in AzureDevOps Library section with reusing dedicated (filtered out) KeyVault values (via KeyVault Connection) and as turned out AzureKeyVault was `1.212.0` was in usage and the the issue flow is almost exactly as @hilari0n described.

[code]

I tried different combinations with library and KeyVault, but issue still was happening.

**OK**
I then deta

[2022-11-17 17:02] carlin-q-scott commented on #11770
@johnterickson That says we need to modify the FS behavior using a powershell command in order to track "last accessed" tracking. Will that even work with a nuget cache? I suspect even if "last accessed" is being tracked by the Windows VM, it won't be persisted to the cache in blob storage.

Since you didn't respond to my bug report here, I will open a new one.

[2022-11-17 17:25] carlin-q-scott opened #17227 "Cache task always uses the same cache fingerprint"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache

## Environment

### Server

https://dev.azure.com/ancorasoftware/ancoraDocs/_build/results?buildId=1565

### Hosted Agent

Agent machine name: 'fv-az175-665'
Current agent version: '2.213.2'
Operating System
Mic

[2022-11-17 18:00] johnterickson commented on #17227
Thoughts on what the `restoreKeys` should be?

As I pointed out in the other issue, "unbounded NuGet package cache growth" is fundamentally a problem with NuGet - the same behavior/problem exists on my local dev machine.  A dev on the NuGet team wrote https://github.com/chrisraygill/NuGetCleaner to help with this.

From https://github.com/microsoft/azure-pipelines-tasks/issues/11770#issuecomment-1

[2022-11-17 18:06] #16284 closed

[2022-11-17 18:37] vijayma commented on #17099
A blog post for task authors is coming up soon.

[2022-11-17 19:45] lucasmior commented on #17198
Do you know why we were affected by this change just this week?
The mistaken pull request was merged on Sep 15, and we just got errors on Nov 14, almost 3 months after that.
What is the release lifecycle of the tasks? Does master code means release? I don't think so.

[2022-11-17 20:01] stevecrisci2 commented on #10873
Seems you changed the Application Pool in IIS.  I would like to do this inside an Azure Release Pipeline without manually going into IIS.  Our Application Pool names are dynamic and I don't want everything going into the default app pool.

[2022-11-17 20:16] carlin-q-scott commented on #17227
@johnterickson The cache is supposed to be invalidated when my cache key changes. It is not doing that right now. If this is supposed to act like the local filesystem on a dev machine, then I think calling it a cache is confusing. What's the point of the cache key supporting a file hash if it is just ignored?

Regarding the last accessed time, I don't think tar preserves that: https://stackoverflo

[2022-11-17 20:30] johnterickson commented on #17227
@carlin-q-scott ah I think I confused a more general issue from the other thread  with the one you are seeing.

 For your scenario, the key question is "why is the fingerprint changing during the build?" You may need to set "system.debug" to "true" for the cache task to show how it came up with the fingerprint value.

[2022-11-17 20:45] alin-antohe commented on #14999
Hi @anatolybolshakov 👋 Any update on this? We would be keen to use this feature at Vodafone.

[2022-11-17 22:29] mattdurak commented on #16482
@microsoft/github-actions how do I get the bot to label/triage this?

[2022-11-17 22:30] TiTi commented on #8380
Agreed this is unclear.
We raised a ticket and support basically told us this parameter is now overriden anyway so its value doesn't matter.
VNET settings do not change between your slots. Cf https://learn.microsoft.com/en-us/azure/app-service/deploy-staging-slots#which-settings-are-swapped

[2022-11-18 07:01] FahadSHK commented on #14171
I have got this issue recently when i tried to change the lang version to C# 8. I am using `macOS-latest` agent

`error CS8370: Feature 'nullable reference types' is not available in C# 7.3. Please use language version 8.0 or greater.`

Have also tried this bash script instead of using Xamarin.iOS@2 task but that also didn't work.
[code]
I am getting below error message with this bash script.

[co

[2022-11-18 07:42] ihordyrman commented on #16942
I am facing the same problem with my new function.
Consumption plan, Linux.

[2022-11-18 08:13] MaceWindu commented on #16501
Workaround: because task taskes architecture from [PROCESSOR_ARCHITECTURE](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/UseDotNetV2/externals/get-os-platform.ps1#L4) environment variable, it is possible to install x86 SDK by overriding variable for task:
[code]

[2022-11-18 08:49] salgiza commented on #14171
@FahadSHK I had another bug with the Android Task where someone at MS involved with Xamarin compilation mentioned that he didn't know who was maintaining the Xamarin.iOS and Xamarin.Android tasks (very reassuring), and recommended just running the msbuild task directly.

I did that, as @breyed mentions in the comment previous to yours, and that solved the C# version error (still no idea why the Xa

[2022-11-18 08:56] DmitriiBobreshev commented on #17114
@jstoker, based on your logs it might be related to [react-native](https://github.com/facebook/react-native/issues/25240) itself, are you using code version 14.0.1 locally(the same as in pipeline)?

[2022-11-18 12:03] DmitriiBobreshev commented on #17156
@azachar closing this, please feel free to reopen it if you have some questions.

[2022-11-18 12:03] #17156 closed

[2022-11-18 13:36] KonstantinTyukalov commented on #17217
Hi @Simas1 thank you for the reporting. We will check this issue once we've deal with higher priority tickets

[2022-11-18 13:58] mohammads-axs commented on #9922
Still getting these warnings, is there a fix?

he names of some imported commands from the module 'AzureRM.Websites' include unapproved verbs that might make them less discoverable. To find the commands with unapproved verbs, run the Import-Module command again with the Verbose parameter. For a list of approved verbs, type Get-Verb.

[2022-11-18 14:15] bdbvb commented on #17127
@v-mohithgc

When I run a YAML pipeline with a build stage and a deployment stage, the build stage gets the offending version (1.212.0), whereas the deployment stage gets the reverted version (1.211.2).

Steps to reproduce:

- In Azure Devops create a project with a Git repo and a YAML pipeline. The YAML is listed below.
- In Azure, create a Key Vault with a secret named “a-secret” with an arbitra

[2022-11-18 15:06] #16327 closed

[2022-11-18 16:53] Socolin commented on #15652
I'm looking for this too, could you re-open this ?

I want to add arguments  `arguments: --no-cache --pull` and for now, the  only solution is to double the size of my yml already hard to read with all the steps...

I would really appreciate if it was possible with like `buildArguments` and `pushArguments`.

[2022-11-19 15:05] #14971 closed

[2022-11-19 16:45] jtheisen opened #17234 "How to read multi-line variable for use in Docker release task?"
I have a working build pipeline that can release to Docker Hub with the Docker@2 target:

[code]

I now struggle to bring the release over to a proper release pipeline.

The target accepts the tags as a multi-line value, but now that multi-line value needs to be passed from the build pipeline to the release pipeline, ie. I need to read it from an artifact in the release pipeline:

[code]

That, ho

[2022-11-19 18:06] #11508 closed

[2022-11-20 02:55] JustinSchneiderPBI commented on #16355
That's correct. The issue hasn't had a response in 180 days.

[2022-11-20 04:39] marcjimz commented on #9754
This is really a shame that this isn't implemented. We just migrated from Enterprise Server to Cloud where the grant model is slightly different; we had services accounts repo owners could grant access to either organizations or repositories which would allow them to be onboarded to our CI plugins. In the Github Cloud model, this is no longer the case (PAT's have to go through the SAML flow) and t

[2022-11-20 04:50] marcjimz commented on #9754
It's a shame this is still an issue. I'm unsure why it's so tightly coupled to the OAuth flow in enabling this as a service connection. We just migrated from Enterprise Server to Cloud (Github) and this is the biggest issue in our adoption for our platform plugins. Once an app is granted access, it should be able to assume the scoped permissions that it was approved for. We were able to do this in

[2022-11-20 07:38] ArPharazon commented on #17127
I'm still seeing keyvault version 1.212.0 in our hosted build agent logs.

`2022-11-20T07:05:34.5946940Z ##[section]Starting: Download secrets: xxxxxxxxxxxxxxxxxx
2022-11-20T07:05:34.6201738Z ==============================================================================
2022-11-20T07:05:34.6202822Z Task         : Azure Key Vault
2022-11-20T07:05:34.6203471Z Description  : Download Azure Key Vault

[2022-11-20 08:39] FahadSHK commented on #14171
@salgiza Thanks for the reply, I have tried your code but i guess this time i ran into a different problem and when i see the error message it just says that
`MSBUILD : error MSB4177: Invalid property. The name " xyz -p:CodesignProvision" contains an invalid character " ".`

looking closely at the message i found out that my code signing key value has a whitespace in the text and i think the msbui

[2022-11-20 17:46] Shahyads opened #17236 "How to specify resultSelector and resultTemplate for a dropdown/combo where the picklist is the property names"
How to implement a picklist for library variables?
The first picklist is working fine. i can pick the variable group id
but for the second picklist i have an issue.
here is a simplified  json returned by the azure devops api /_apis/distributedtask/variablegroups?groupIds={{VariableGroupId}}&api-version=4.1-preview.1
[code]
1- I need a jsonpath to return the name of variables.  `[version,deployment

[2022-11-20 18:05] #16343 closed

[2022-11-20 18:05] #16342 closed

[2022-11-21 08:50] salgiza commented on #14171
@FahadSHK In my case I still use the InstallAppleProvisioningProfile and InstallAppleCertificate tasks, which download the provision and p12 files from DevOps Library/Secure Files, and automatically assign the variables that you saw in my example: "$(APPLE_PROV_PROFILE_UUID)" and "$(APPLE_CERTIFICATE_SIGNING_IDENTITY)", and I haven't had any problems.

That being said, I also uploaded both files w

[2022-11-21 09:39] DmitriiBobreshev commented on #17124
Hi @sbirq, I'm closing the task due to inactive, please feel free to reopen it in any case of the problem.

[2022-11-21 09:39] #17124 closed

[2022-11-21 10:18] zionyx commented on #17164
Same issue here.

Is there a dev guide to help the community to produce fix to these bugs?

[2022-11-21 11:23] nietras commented on #16501
@MaceWindu nice trick, but this does not allow both being present at the same time does it?

[2022-11-21 11:56] nietras commented on #16501
@MaceWindu have you tried it? Having two tasks:
[code]
what happens then? This is installed to default `_tool` directory which has no concept of both having x86 and x64 at the same time. Perhaps it can be done with `installationPath` and `DOTNET_ROOT(x86)` which I am trying now, but currently suffering from some nuget issues that I am unsure are related to this.

[2022-11-21 12:21] AlWoe commented on #13798
Even today, we still have the same problem. Our build time more than triples just for waiting on the timeout...

Why has the issue been automatically closed, if there has never been so much as a suggested work-around?

[2022-11-21 12:22] sebschmeister commented on #17118
Thank you for fixing this. Just curious, when will this be released?

[2022-11-21 12:39] anandsowm commented on #16342
wonder how come no one else faced this issue. can it be relooked into ?

[2022-11-21 12:50] freakalot commented on #13937
I don't understand why this should not work for OnPremise installation except of a business strategy forcing users into the managed service. But for complex environments this is not an option at all because of 3rd party dependencies. Caching must be provided for OnPremise installations as well.

[2022-11-21 13:24] TripleEmcoder commented on #16152
These bots are ridiculous. Can't they at least close issues "as stale" and not with the awfully misleading "as completed"?

[2022-11-21 15:06] #16345 closed

[2022-11-21 15:06] #16325 closed

[2022-11-21 20:32] kcaswick commented on #12083
Still need this you silly bot, if anything more so the more people move to more secure authentication.

[2022-11-21 20:45] ChristopherHaws commented on #14961
Now the recommended way to configure app insights is via the `APPLICATIONINSIGHTS_CONNECTION_STRING` environment variable which contains the instrumentation  (`InstrumentationKey=[INSTRUMENTATION KEY];` so this should be supported as well.

[2022-11-21 23:13] abatishchev opened #17252 "Failed MSBuild task doesn't fail build"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: MSBuild

## Environment
- Server - Azure Pipelines or TFS on-premises? msazure/One.
- Agent - Hosted or Private: Private (OneBranch Pipelines on 1ES Hosted Pools) on Windows

## Issue Description

YAML configuration:

[2022-11-21 23:36] abatishchev opened #17253 "Workflow to label issues failed with 401"
See also https://github.com/microsoft/azure-pipelines-tasks/issues/17107.

A workflow for https://github.com/microsoft/azure-pipelines-tasks/issues/17252 failed with an error:

[code]

See https://github.com/microsoft/azure-pipelines-tasks/actions/runs/3518879727/jobs/5898253969#step:6:126

[2022-11-22 00:08] ForteUnited commented on #14365
Seriously guys. This is crazy. Please fix this!

[2022-11-22 00:11] ForteUnited commented on #14365
If they don't think it is a bug then at least give some guidance on HOW to parameterize the service connection name. How do you use reusable workflows/templates. How? Please explain guys.

[2022-11-22 06:56] qxg commented on #11950
@fadnavistanmay could you share the reason behind the decision? At least you should give the control to end users.

[2022-11-22 08:50] Melekaygaz commented on #7247
Hello
I get this error when I want to add Azure pipeline how can I fix it

[2022-11-22 09:43] Heatmanofurioso commented on #16877
@vmapetr Sorry for tagging, but any possibility on giving a look into the referenced PR?

[2022-11-22 09:50] woeterman94 commented on #11536
Any updates on this feature request?

[2022-11-22 09:51] woeterman94 opened #17255 "Allow dotnet test with publish --results-directory to be customized"
_Type_: Feature

**Enter Task Name**: .NET Core - test

 ## Environment
Server - Azure Pipelines

## Issue Description
Issue Description
Checking the Publish test results and code coverage option sets --results-directory to the **agent's temporary directory**, making it difficult to isolate a single build's test output when publishing the results of multiple data collectors.

Recommendation: Allow

[2022-11-22 09:54] woeterman94 commented on #17255
Passing in --results-directory actually sets the parameter twice because it is already set by default and causes an error:
![image](https://user-images.githubusercontent.com/5755057/203282976-4ee48253-45c4-462c-8fe5-a06dd6f7c926.png)

[code]

[2022-11-22 09:57] cT-m00cat commented on #14365
@ForteUnited we now paramerize the service connection names - one is unable to pass it as a variable.. but can make it a parameter...

extends:
  template: /SomePath/My_Root_Pipeline.yml
  parameters:
    keyvaultSecrets: false
    environments:
      - environment: QA
        variableGroup: Variables-QA
        AzureServiceConnection: 'Dev_Tenant'
      - environment: UAT
        variableGroup: V

[2022-11-22 10:05] woeterman94 commented on #11536
Workaround set publishTestResults to false.
_Enabling this option will generate a test results TRX file in $(Agent.TempDirectory) and results will be published to the server.
This option appends --logger trx --results-directory $(Agent.TempDirectory) to the command line arguments.
Code coverage can be collected by adding --collect "Code coverage" to the command line arguments._

[2022-11-22 10:13] Roman-Shchukin commented on #17118
Hi @sebschmeister. Codecoverage lib was published yesterday. It contains the necessary fix. The PR with the fix for this task has already done. This task will be released next week.

[2022-11-22 10:41] Roman-Shchukin commented on #17253
Hi @abatishchev  thanks for reporting! Fixed.

[2022-11-22 10:41] #17253 closed

[2022-11-22 10:42] Roman-Shchukin commented on #17108
Fixed

[2022-11-22 10:42] #17108 closed

[2022-11-22 11:58] vmapetr commented on #17252
Hi @abatishchev,  thank you for reporting that!
We will have a look at it once we will have the capacity.

[2022-11-22 12:53] KonstantinTyukalov commented on #17198
The mistaken pull request was merged on Sep 15, and we just got errors on Nov 14, almost 3 months after that.
What is the release lifecycle of the tasks? Does master code means release? I don't think so.

@lucasmior after merging to master the new versions are gradually rolling out to all users.
In general, the interval between merging changes and release is between 3 weeks and 2 months.

Could yo

[2022-11-22 13:38] jeromelaban commented on #16365
This was fixed.

[2022-11-22 13:38] #16365 closed

[2022-11-22 15:12] edenroz commented on #3990
This issue still persiste for me:
In Azure DevOps Pipeline while getting sources I get

##[error]One or more errors occurred. (One or more errors occurred. (One or more errors occurred. (One or more errors occurred. (The startIndex argument must be greater than or equal to zero. (Parameter 'startIndex'))) (The startIndex argument must be greater than or equal to zero. (Parameter 'startIndex')))) (

[2022-11-22 15:18] edenroz opened #17258 "SVN GetSources Fails"
I randomly get this error while updating my sources in Azure Devops.

I tried this solution but it does not work: https://stackoverflow.com/questions/44235938/svn-update-broken-on-tfs2017

Starting: Checkout svn/XXX/branches/YYYto s

==============================================================================

Task         : Get sources
Description  : Get sources from a repository. Supports Git,

[2022-11-23 06:50] andrew-sumner commented on #13170
This is still an issue that causes endless frustration in our pipelines.

[2022-11-23 09:39] skkulla commented on #17127
I am running into the same issue using Variable group, is there a way to define Azure Key Vault version to use when defining the variable group in pipelines.

[2022-11-23 12:08] #16348 closed

[2022-11-23 14:07] sergey-koryshev commented on #17169
@bluedog13 if you don't want to expose value of variable in logs so you need to operate it as secret. I don't understand exactly your problem around actual value of secret in second stage. I created a simple pipeline to reproduce it:

[code]

In last script you can see that value of each variable is correct (to expose value of secret I had to split it into two parts because `ADO` always masks secr

[2022-11-23 17:27] swenkeratmicrosoft commented on #17127
@chshrikh , @thesattiraju , @tauhid621 - my team is completely ignoring all warnings in pipelines until this is fixed because it's showing us so many false alarms - hundreds per day.

I'm a Microsoft internal FTE, so whomever owns this in Azure can feel free to contact me directly for a repro, logs, anything you need to get this resolved.

[2022-11-23 17:50] abatishchev commented on #17252
@DenisRumyantsev I think it was my misunderstanding or incorrect assumption that yes, when a build task outputs an error - that would fail the build.

CadlCompile.cs is built and shipped as NuGet packages called `Microsoft.Cadl.MSBuild`, which internal for now but I think the plan is to make it public soon.

[2022-11-23 18:45] DenisRumyantsev commented on #17252
@abatishchev, so, does the `MSBuild` task work as expected? If so, can this issue be closed?

[2022-11-23 19:34] #17252 closed

[2022-11-24 00:11] SavindaSenevirathne commented on #11074
@fadnavistanmay Any update on this? Facing the same issue and could not use caching because of the above restriction.

[2022-11-24 08:30] itayang commented on #15030
Was this resolved?

I also noticed that there's a difference between VSTest@2 step and DotNetCoreCLI@2 in terms of numbers.
VSTest@2 recently (or when moving to VS2022 / more recent MSBuild) started counting theory inline data as a stand alone test (which is fine) but DotNetCoreCLI step (with test command) seems to have stayed behind.

[2022-11-24 09:05] v-mohithgc commented on #17127
Hi all, Quick update: Azure KV version 213 (both task and variable group) which fixes the warning issue, has been rolled out to south Brazil and EUS2 region for now. There is a slight delay, but version 213 will be rolled out to all regions and users by end of December 1st week.

[2022-11-24 09:16] Roman-Shchukin commented on #17118
PR has been merged. The task is released on next week

[2022-11-24 09:16] #17118 closed

[2022-11-24 12:08] #16349 closed

[2022-11-24 13:43] KevinRossUWV commented on #16619
I've also run into this problem. Only way to have multiple ManualValidation tasks working if you have no approval configured on your environment for this stage.

[2022-11-24 15:28] joaocpribeiro opened #17278 "DotNetCoreCLI dotnet test with coverage not working properly"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLIV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted - windows-2022

## Issue Description

YAML:
[code]

Yesterday (2022/11/23) it was working properly. Today (2022/11/24) the issue started. It does not fail on the referred step, but it does not generate the expected coverage output and

[2022-11-24 16:06] SupportNubersia opened #17279 "Kubectl diff should not break the execution of a yaml pipeline"
Hi all,
the following piece of code uses the Kubernetes@1 task in order to run the "kubectl diff" command.
[code]
If the diff returns diferences, (exit status 1) it breaks the pipeline. How can I apply my kubectl diff and see the differences without breaking the code?

[2022-11-24 16:39] nilekirk commented on #17196
We're seing this too, from today. And we're dependent on stuff that does not work in the presence of net7. So this is really bad - we have no working CI-builds, we can't ship stuff. And it just happened; we didn't change a thing.

[2022-11-24 16:55] tisis2 commented on #17196
@nilekirk i placed a global.json in my repository root that sets sdk to 6.0.0 and only allows minor roll forward. maybe that helps as a workaround to be able to ship

[2022-11-24 18:28] #17279 closed

[2022-11-24 21:42] joaocpribeiro commented on #17278
I see that the agent was updated to .net7. https://github.com/actions/runner-images/commit/4c8dc87a28adade72c3c7f8b436bbe4121f0c3fd
Could this be the trigger?

[2022-11-25 04:47] nilekirk commented on #17196
@tisis2 Thanks, a global.json helped.

This is still a bug though - the task does not do what it says it does.

[2022-11-25 08:15] foz1284 commented on #13977
Hi @cindydeng1998 We have the same problem with slow execution, we have many deployments, if there are dependancies would it be possible to generate/deploy multiple manifests in a single command thereby only loading the dependancies once?

[2022-11-25 08:57] i3anaan commented on #15532
We ran into the same issue (EU West).
Once it took about an hour to resolve itself, another time about a day.

We tried some things on our end to fix it, but nothing seems to have helped: It seems to have magically resolved itself

[2022-11-25 09:14] oskrabanek opened #17280 "Parameter `azureSubscription` is in fact `serviceConnectionName` which is confusing"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Task Name**: AzureCLIV2

## Issue Description

The parameter `azureSubscription` is in fact `serviceConnectionName`. This is quite confusing considering the Service Connection can be scoped not only to subscription but also to resource group.
Even the [documentation](https://learn.microsoft.com/en-us/azure/devops/pipelines/

[2022-11-25 09:31] kastrodev commented on #17278
Having the same issues

[2022-11-25 10:20] nikitashum commented on #13783
Worked for us too, thank you.

[2022-11-25 11:53] ablersch commented on #17278
I had the same issuse. Take a look at https://stackoverflow.com/questions/74386402/coverlet-does-not-create-report-in-azure-devops.

[2022-11-25 12:02] joaocpribeiro commented on #17278
@ablersch Thank you, I will test that.
For now my workaround was to use .net6 specifically in my pipeline.

[2022-11-25 12:57] jochemdevos commented on #16167
We also see this issue when deploying function app, no 'functional' impact except for the error message and failed job state. Any findings?

[2022-11-25 13:25] artemkozlenkovvzug commented on #10525
this is a bug withing the Azure Keyvault, in which it requires to use hypen pattern when dotnet app consumes only undescored environment variables. Breaking change between native services.

[2022-11-25 13:32] tisis2 commented on #17196
@nilekirk yes its also a bug in my opinion... especially because one pipeline running on an agent can cause other pipelines to fail when they run later... happened that way to me... so i had to add the global.json to all my repos just because i created a branch for upgrading to net7 in one of them...

[2022-11-25 13:37] sergey-koryshev commented on #16301
@DutchBlackOp can you please provide a log of affected pipeline since it seems the log file you mentioned above is not available anymore?

[2022-11-25 14:11] joaocpribeiro commented on #17278
@ablersch I tried that, the pipeline is successful, but I don't have "tests" tab anymore. Also the "Tests and coverage" section is not showing anything anymore. Here are the screenshots of older runs.
![image](https://user-images.githubusercontent.com/26253757/204002409-1e9009f2-8954-4aa2-9f59-5f62b248c445.png)
![image](https://user-images.githubusercontent.com/26253757/204002614-e0804603-e4f9-403

[2022-11-25 14:14] kastrodev commented on #17278
I noticed that as well but added a separate PublishTestResults@2 task and now I got both code coverage and test results

[2022-11-25 15:05] #16360 closed

[2022-11-25 15:38] joaocpribeiro commented on #17278
Thank you, @kastrodev. I instead reverted the `publishTestResults: false` and started looking at opencover file in temp directory: `$(Agent.TempDirectory)/*/coverage.opencover.xml`

So, summarizing:
1. Replace the parameters of `dotnet test`:
Before: `-p:CollectCoverage=true -p:CoverletOutput=$(Build.SourcesDirectory)/TestResults/XUnit/Coverage/ -p:CoverletOutputFormat=cobertura%2copencover`
After

[2022-11-25 15:38] #17278 closed

[2022-11-25 20:47] Mortana89 commented on #16990
One month later, what is the status here?

[2022-11-25 21:05] #16361 closed

[2022-11-26 00:27] DHowett commented on #15493
Stalebot, cut it out. This is not a way to run an opensource community.

[2022-11-26 03:10] #16363 closed

[2022-11-26 03:10] #16362 closed

[2022-11-26 13:31] StingyJack opened #17285 "Turn off the stalebot"
Quoted from the great @TomasHubelbauer, who expresses the sentiment in a far less hostile way than I can.

[2022-11-26 18:05] #16364 closed

[2022-11-27 08:12] hannahchan commented on #14640
I have stopped using Azure DevOps now so I can't say if this issue is still happening. I'm sure this is still valuable to someone.

[2022-11-27 10:27] sj-net commented on #14280
This task only does the basic report generating. There are some additional options that report generator is supporting. Is there any way to supply those options from this task to the report generator ?

[2022-11-27 10:36] kmkumaran commented on #9922
+ @vijayma

[2022-11-27 10:37] kmkumaran commented on #10873
Adding @vijayma

[2022-11-27 21:05] #16371 closed

[2022-11-28 09:24] MaceWindu commented on #16501
@nietras I don't have use case for same SDK version with different architectures, so couldn't say how it will behave here (I just need x86 SDK for some of tasks).

[2022-11-28 10:45] HenrikSommer-eng commented on #17093
We have the same problem any update on this?

[2022-11-28 12:08] #16374 closed

[2022-11-28 15:06] #16269 closed

[2022-11-28 15:06] #16268 closed

[2022-11-28 15:06] #10295 closed

[2022-11-28 15:36] faceoffers28 opened #17293 "Azure DevOps Pipeline doesn't support .NET 7 & macos-latest for building .Net Maui iOS apps"
I'm using the xamarin-sdk.sh 17_4_0_301 version. I've noticed that I can't target iOS 16 using Visual Studio. I'm using Asp.net 7.0.100. It's failing at the DotNetCoreCLI@2 Task.

Looks like it's supposed to support iOS 16.0. https://devblogs.microsoft.com/dotnet/dotnet-maui-dotnet-7/

Here are some error messages coming from the DotNetCoreCLI@2 Task.

ILLINK : warning MT0079: The recommended Xcod

[2022-11-28 16:06] lkfabu2022 commented on #15532
Wow, it's hitting a year now, with this issue still unresolved.

[2022-11-28 17:00] alimdi opened #17295 "Error: /usr/bin/xcodebuild failed with return code: 65 apparent without reason"
## Required Information

*Type*: Bug

**Enter Task Name**: Xcode

## Environment
- Server - Azure Pipelines

    - Account name, team project name, build definition name/build number: Confidential

- Agent -  Private:

## Issue Description

##[error]Error: /usr/bin/xcodebuild failed with return code: 65
**There is no apparent error and the verbose option doesn't reveal any clue on the error source

[2022-11-28 18:41] Shuvajyoti commented on #17093
Facing similar issue with function app using keyvault reference.

[2022-11-28 19:17] magliok-wwt commented on #14365
How is this still not fixed, and we still have to use workarounds?

@AmrutaKawade
@PhilipsonJoseph

Please reclassify this as a BUG.

This still does not work inside a **deployment job** inside a template, passing it as a parameter...  it fails.

[2022-11-28 19:26] dct2012 commented on #8920
+1

[2022-11-28 21:31] max-zaytsev commented on #17258
This is not an issue with tasks from this repo. Please open a ticket on  https://developercommunity.visualstudio.com/AzureDevOps to get right eyes on it

[2022-11-28 21:31] #17258 closed

[2022-11-29 00:06] itsvijayid commented on #15610
I had come across this one as well and have raised with Microsoft as mentioned and worked on a work around utilising azure storage upload-batch as In [https://learn.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-upload-batch](url)

Command : az storage blob upload-batch -d '$(ContainerName)' -s $sourceDirectory --account-name $storageAccountName --auth-mode login

[2022-11-29 04:22] praveen-jayaraman-arch commented on #14282
Was there any resolution for this issue?

[2022-11-29 07:34] kaiaschulz opened #17298 "DevOps Pipeline AzurePowerShell@5 is using old/outdated "Az"-module 7.5.0 and "Az.Resources"-module 5.6.0"
### Description

Hi,
I am using an Azure DevOps Pipeline with `AzurePowerShell@5`:
[code]

Within the Microsoft documentation [AzurePowerShell@5 - Azure PowerShell v5 task
](https://learn.microsoft.com/en-us/azure/devops/pipelines/tasks/reference/azure-powershell-v5?view=azure-pipelines) the latest `azurePowerShellVersion` seem to be `3.1.0` which is related to the `Az`-module if I am not wrong?
I

[2022-11-29 08:03] HenrikSommer-eng commented on #17093
The same problem seem to be here:
https://github.com/MicrosoftDocs/azure-docs/issues/27555
And it contains a workaround how ever it will give some downtime.

[2022-11-29 10:03] martingalvan-nordic commented on #10653
Why is this closed? This is an undocumented bug that still exists and hasn't been fixed yet.

[2022-11-29 15:51] bluedog13 commented on #17169
Thank you very much for the example and the solution.  What you have illustrated above works and I have verified this on our end as well.

My concern in regards to YAML pipeline are (our use case)

1. In the initial stage, the secrets are being read from azure key vault and in that stage, the secrets are maintained by the pipeline because they are being read from key vault.
2. However, if they hav

[2022-11-29 20:00] kappmeier commented on #10125
@stodirascu that does not sound correct. `failOnStderr` lets a task fail when there is any output on the error stream, there is no check whether or not the output of a command is 0 (or any failure).

[2022-11-30 03:05] AltusBaard commented on #17093
Having the exact same issue, everything works fine, just one giant error showing as a warning on the pipeline

Don't think that is the same issue, our connection string resolves fine in the keyvault reference, only error is in the deployment pipeline. I did try set the specific version as they mentioned, but no joy

[2022-11-30 03:12] phil000 commented on #17093
We are also not having any issue at runtime.
Our issue is that the deployment task reports phoney errors as warnings.
1. _"Invalid connection string"_ -> The connection string is not invalid, as a key vault reference is perfectly valid.
2. _"Function app is NOT VNet integrated"_ -> We don't have to do that. This is informational at best.

[2022-11-30 03:15] AltusBaard commented on #17093
I am starting to think that the pipeline somehow needs permission to see the keyvault secret, or at least if its seeing a keyvault reference it should not try to see if its in a connection string format.

We do make use of vnets, but as soon as I set the actual connection string, it deploys perfect with no mention of the vnet issue

[2022-11-30 03:17] phil000 commented on #17093
These phoney warnings\errors do not affect our deployments. The deployment succeeds with "2 warnings".

[2022-11-30 03:20] AltusBaard commented on #17093
Yes, ours deploys fine as well, but seeing those warning/errors is not a very nice experience when viewing some of our larger pipelines, especially if there are actual errors that you need to concern yourself with

[2022-11-30 03:47] AltusBaard commented on #17093
Had a look into the source now and I think I can see where the issue is coming from.
In AzureAppServiceUtility there is a method isAzureWebJobsStorageAccessible which has a call to AzureAppService method getConnectionStringValidation in there it calls of a service client with a connectionstringvalidation url.
Now I assume in that call it fails validation, returns a MalformedConnectionString status

[2022-11-30 12:08] #15994 closed

[2022-11-30 15:23] stevenvolckaert commented on #15057
Any news on this issue?

[2022-11-30 16:53] FinVamp1 commented on #17093
Hello, we will look into this and will work on resolving this. @AltusBaard thanks for looking into this a bit further and this could be related to the Validation methods.

[2022-11-30 16:56] lvasco commented on #9585
Hi @Spikrit  and @mitchdenny  How to solve this problem ? i have the same error

[2022-11-30 18:52] keith-bennett-airmap commented on #17164
My team moved a Dockerfile from where it was expected. We forgot to update the azure_pipelines.yaml file and I was surprised that CI passed without a Dockerfile. Some teams _rely_ on CI to tell them when something broke. Telling that CI is green when it surely failed is not good.

[2022-11-30 20:43] stodirascu commented on #10125
Aha, I see, @kappmeier. Then +1 for this to be reopened.