[2020-04-29 11:17] alexander-smolyakov commented on #10390
Hello, @borjapuerta!

Regarding "EPERM: operation not permitted, stat" issue - this error may be triggered by many reasons, at this point, it's difficult to say what exactly triggers this error in your case without additional information.

Could you please try the steps below?
1) Update your self-hosted agent (You can find instruction for deploying by [link](https://docs.microsoft.com/en-us/azure/

[2020-04-29 11:32] alexander-smolyakov commented on #10390
Hello, @hamtiko!

Regarding the findAndroidTool function - this function checks that `ANDROID_HOME` environment variable exists in the system. If it exists, the function takes a path to the folder that exists in variable, searches necessary tool, and returns a full system path for the found tool, so it doesn't seem to be the issue here...

More likely this is a problem with your private agent. Cou

[2020-04-29 13:13] JakobRahrBorkJensen commented on #12756
We managed to solve our issue simply by disabling the WinRM prerequisite in our template task.

For some reason, we thought WinRM was needed to allow us to use the Custom Script Extension, but even when disabled, the script was still executed and everything works like a charm.

[2020-04-29 14:22] v-vrusse commented on #12791
Web App on Windows

![image](https://user-images.githubusercontent.com/62967613/80607263-28ea0780-89ea-11ea-9c40-23755fa2bb5d.png)

[2020-04-29 16:11] #11854 closed

[2020-04-29 16:16] Tofalvy commented on #9046
I still experience this issue.
Is it fixed yet?

[2020-04-29 16:45] robwe opened #12796 "Add Output Variable ArtifactBuildNumber"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DownloadBuildArtifacts

https://github.com/microsoft/azure-pipelines-tasks/commits/master/Tasks/DownloadBuildArtifactsV0

## Issue Description

There is already an Output Variable called BuildNumber. Unfortunately it does not contain the BuildNumber, but the BuildId. Requests to change the name from BuildNumber to BuildId have be

[2020-04-29 16:57] robwe opened #12797 "Correct the description of the BuildNumber Output Variable"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadBuildArtifacts

https://github.com/microsoft/azure-pipelines-tasks/commits/master/Tasks/DownloadBuildArtifactsV0

## Issue Description

The Output Variable called BuildNumber does not contain the BuildNumber, but the BuildId. Requests to change the name from BuildNumber to BuildId have been denied in the past with regards to

[2020-04-29 17:06] jahsu-MSFT commented on #12790
Thanks for reporting. Assigning to @fadnavistanmay who is maintaining the Pipeline Artifact tasks to investigate the issue.

[2020-04-29 17:15] #12688 closed

[2020-04-29 17:15] avivanoff commented on #12688
Finally, published.

[2020-04-29 18:03] jonstelly commented on #11864
I followed [the docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops) to enable npm and nuget caching.  Nuget cache restore is super-slow to restore for me.  I've got a multi-stage build, 1 build stage, 1 test stage, 1 deploy stage.  build and test run concurrently.  Agents are running at home, gigabit internet connection that pretty consistently hits ~10

[2020-04-29 18:19] AceHack commented on #10842
What does the new way look like?

[2020-04-29 18:32] AceHack commented on #11600
I still don't understand restore keys, can someone please elaborate?  How do I use this to update cache?

[2020-04-29 18:49] padeshaies opened #12798 "HelmDeploy with debugging returns a warning even with failOnStderr at false"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy@0

## Environment
- Server - Azure Pipelines

- Agent - Hosted (ubuntu-latest)

## Issue Description

We had the same issue as #11414 and we had the properties `failOnStderr: false` to our task. Doing so, the deployment passes though we are now getting the following warning and no further logs :

[

[2020-04-29 19:02] winniehell commented on #11259
(from https://github.com/microsoft/azure-pipelines-tasks/issues/11259#issuecomment-535938080)

This behavior is now at least documented: https://github.com/MicrosoftDocs/azure-devops-docs/pull/8142 (though I would prefer to have the Maven task respect the global variable)

[2020-04-29 21:10] Blackbaud-BobbyEarl commented on #11558
Thank you so much for the [suggestion](https://github.com/microsoft/azure-pipelines-tasks/issues/11558#issuecomment-609012453suggestion) @Sipkab!

I needed to tweak slightly to accommodate [updating an existing service connection](https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/update%20service%20endpoint?view=azure-devops-rest-5.1), but you steered me to the quick

[2020-04-29 21:39] JustinGrote opened #12799 "[PowershellV2] Powershell 7 errors not being captured correctly unless ErrorView set to NormalView"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Powershell

## Environment
Hosted (All forms, windows/linux/etc.)

## Issue Description

With Powershell 7, the default `$ErrorView` is now ConciseView. These errors are not being emitted to the log output. I suspect t

[2020-04-30 00:19] weznagwama commented on #8920
Another bump for an update on this.

[2020-04-30 04:10] aksm-ms commented on #12791
Currently only .bat and .cmd files are supported as post deployment scripts for non linux app service types.

[2020-04-30 04:25] v-vrusse commented on #12791
Is there a way to run a powershell script within the App Service using the Powershell task?
Or do I just need to give up on powershell and switch to a cmd file?

[2020-04-30 04:26] chshrikh commented on #12794
we will do internal investigation why it got regressed, could you please confirm if you have changed any PS version in task

[2020-04-30 04:35] KorKiak commented on #12794
I have not changed any configuration in my pipeline task. The task version changed from 4.167.0 to 4.168.0 by itself.

[2020-04-30 05:07] aksm-ms commented on #12791
Powershell task cannot be used to run script within App service.

[2020-04-30 06:53] colinbull commented on #9040
@eaarora-ms It is worth noting that this task now fails if you have a comma anywhere in your settings. Which given that DB connection strings typically do, this can be problematic.

[2020-04-30 06:55] eaarora-ms commented on #9040
@colinbull  Are you talking about Azure App Service Settings? If yes, can you please create a new issue in the same repo please?

[2020-04-30 06:57] 20shivangi commented on #12747
Closing this issue, feel free to reopen if facing further issue

[2020-04-30 06:57] #12747 closed

[2020-04-30 07:03] aksm-ms commented on #12760
Closing this issue, feel free to reopen if you have further queries

[2020-04-30 07:03] #12760 closed

[2020-04-30 07:12] eaarora-ms commented on #12721
@Alexplose  If you're deploying different packages every time and you want the previous packages to clean up you can deploy them to a slot. And delete that slot at the start of your pipeline during the next deployment.
You can use the Azure App Service Manage task to create/delete slots.
Please let me know if this helps.

[2020-04-30 07:14] eaarora-ms commented on #12721
Read more about slots here: https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots
And more about the task here: https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureAppServiceManageV0/README.md

[2020-04-30 07:44] colinbull opened #12800 "Azure Functions Deploy Task Fails if setting contains a comma"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-04-30 07:45] colinbull commented on #9040
@eaarora-ms Done see #12800

[2020-04-30 07:49] eaarora-ms commented on #12800
@colinbull Please confirm which task are you using.

[2020-04-30 08:08] Alexplose commented on #12721
This seems to be a good solution, but I'm in a development process with a free F1 App service plan.
That's why my disk space is so limited.
Slots are not available in these plan.

[2020-04-30 08:33] colinbull commented on #12800
@eaarora-ms Sorry it was this task https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFunctionAppV1 Azure Function App

[2020-04-30 08:51] eaarora-ms commented on #12800
Please use Azure App Service Settings for updating app/configuration settings. We have added JSON parsing which handles all the special characters.

[2020-04-30 08:51] #12800 closed

[2020-04-30 09:10] eaarora-ms commented on #12721
@Alexplose  Nothing to worry about. Please try out the following steps and let me know if they work:
1. Clean your sitePackages folder before the deployment.
2. In the task please goto Additional Deployment Options and select Zip Deploy. You will see your folder will be mounted on wwwroot instead of sitePackages now.
3. For every further deployment it will replace the current folder in wwwroot and

[2020-04-30 10:44] goorallab opened #12802 "Feature Request: Add “–ConfiguratioName” parameter to ‘PowerShell on Target Machines task’"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: PowerShell on Target Machines task

## Issue Description

I would like to request ability to specify which PowerShell Configuration will be used while using ‘PowerShell on Target Machines task’.

Currently while us

[2020-04-30 11:36] iambernics opened #12803 "Speed-up the Job initialization phase: pre-deploy the ADO Tasks"
Dear All,

We are building our Agents via IaC.
The Agent VMs are reverted from snapshot after the Jobs are completed, the solution is similar like on the Azure Pipelines (Hosted Agents).
All Jobs are getting a blank environment in this method due to security and compliance reasons.

The Job initialization phase is a bit longer than the "static" Agents due to the continuous Tasks deployments to the

[2020-04-30 13:07] Alexplose commented on #12721
This is working, as you described, the sitePackages folder is not used anymore, my package is now unzipped in the wwwroot folder.
Thanks for you help

[2020-04-30 13:07] #12721 closed

[2020-04-30 16:13] v-vrusse commented on #12791
Thanks for the additional clarification.  Looks like I'm stuck with a cmd file.  Can we get support for powershell post deployment scripts in the future?

[2020-04-30 16:51] ranouran commented on #12633
@sachenko-igor this seems more like an issue on your instance, please open a support ticket for this issue.

[2020-04-30 17:01] MikaelEliasson commented on #12725
I'm pretty sure that's not the case.

1) It removes about 2000 characters
2) Moving the content at the first *** and running it again doesn't make the *** move. It's locked to an index, not the content which should be the case if it was the secret replacement.

[2020-04-30 17:04] damccorm commented on #12725
Its possible its the same issue as https://github.com/microsoft/azure-pipelines-agent/issues/2842 - could you try upgrading your agents and seeing if the issue still appears?

[2020-04-30 17:40] #10853 closed

[2020-04-30 18:55] ArunKaarthick commented on #12067
Hi...I am facing a similar issue as like this: /vsts/agent/_work/8/s/target/antrun/build-main.xml: /vsts/agent/_work/8/s/CCReport43F6D5EF/jacoco.exec (No such file or directory)......
kindly let me know whether any solution has been provided for it

[2020-04-30 19:01] Xoib commented on #12067
Hi @ArunKaarthick , I am in the same situation. I was hopping for @tsaibabu4u to contact me so we can work things out directly.

[2020-04-30 19:52] kohtenko opened #12806 "GitHubComment task doesn't accept `Token` connection type"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: GitHubCommentV0

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/GitHubCommentV0

## Environment
- Server - Azure Pipelines
   N/A
- Agent - Private:
    N/A

## Issue Description
The GitHubComment task doesn't accept `Token` type of connection, although it reads the `Token` scheme in i

[2020-04-30 20:43] Zanatta99 commented on #12195
Hi guys, I find a solution, in you pipeline you have to add the task 'Node.js tool installer' after CocoaPods install task and the build we'll be successful.

[2020-04-30 21:00] jnoyola commented on #1677
@jtourlamain did you ever find a solution to this? What you describe here is exactly what I would like to do but I'm wondering if it's been fixed or if there's a workaround.

[2020-05-01 00:04] jsco2t commented on #11151
Hi @bishal-pdMSFT I tried passing a `subscriptionId` on input to the AzureCLI pipeline task - but I am still not seeing any impact.

Here is what I am trying:
[code]

Is there something I am doing wrong here? Or maybe I'm not following your work-around?

[2020-05-01 00:15] v-lomer opened #12807 "MSBuild task falls back to older version when specific msbuild version selected (other than latest)"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-01 01:22] leantk commented on #9783
The fix here is to move from using `vsts-task-lib` to `azure-pipelines-task-lib` library. An example of this is in the PR https://github.com/microsoft/azure-pipelines-tasks/pull/12489. A few updates have to be made along with the library change to account for some differences in them

[2020-05-01 01:27] Adebeer opened #12808 "Recent builds failing frequently with VsTest CodeCoverage Shim Method not found"
*Type*: BUG

**Enter Task Name**: VsTest

## Environment
Server:
Azure Pipelines

alsdevelopmentna.visualstudio.com/AngleNextGen%20Core%20Product%20Pipeline

Build: AnglePlus-Dev, 20200501.1
Pool: Azure Pipelines
Image: windows-2019
Agent: Hosted Agent

## Issue Description

Below error seem to have started few days ago - have to repeat builds 2-3 times WITHOUT changes until it succeeds. Occurs du

[2020-05-01 01:36] Adebeer commented on #12701
Thanks - haven't noticed this error anymore.
You can probably close this issue - although bit disappointed as, since yesterday, getting new error popping up (#12808)

[2020-05-01 09:53] rajdeol commented on #11593
Has the PR been merged ? I am waiting for this

[2020-05-01 10:12] jtourlamain commented on #1677
@jnoyola I use a powershell script that generates random characters (based on [https://devblogs.microsoft.com/scripting/generate-random-letters-with-powershell/](https://devblogs.microsoft.com/scripting/generate-random-letters-with-powershell/))
At the end of the script I inject it into the pipeline via

    Write-Host ("##vso[task.setvariable variable=$outputVariableName;issecret=true;]$randomPas

[2020-05-01 10:30] ShreyasRmsft commented on #12808
Did the testplatform or Coverage Collection Tool Version change around the time you started noticing these issues?

[2020-05-01 11:00] jessehouwing opened #12810 "[Universal Download] Fails with "Package not found" while the package is certainly there."
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UniversalPackages

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
https://unit4.visualstudio.com/SME/_build/results?buildId=107376&view=logs&j=fd896be6-bf06-5b3e-7230-2613a03eac3c&t=1e8b92dc-94e5-5063-acc7-303b93b41912&l=15

-

[2020-05-01 12:08] alexangas commented on #8920
I've written a YAML task template for Azure Pipelines that fills this gap for now. You can find it on my blog here: https://www.alexangas.com/blog/missing-azurefilecopy-azcopy-task-solved/

Feedback is very welcome! Please raise as an issue on the [repo for my blog](https://github.com/alexangas/alexangas-web) rather than polluting this thread, thanks.

[2020-05-01 12:14] sowsan opened #12811 "Azure Function App default to .NET core 2.2 image for Linux for web app"
**Feature**
*Type*: Azure Function App default to .NET core 2.2 image for linux for web app

Since .NET core 3.1 is out and 5.0 is already in preview, the function app task should provide the dotnetcore runtime with all of the major latest versions. Looking for 3.1 support. Here is the code snippet for the same: https://github.com/microsoft/azure-pipelines-tasks/blob/b5eeb9453ad90c8cd229212462fecc

[2020-05-01 15:18] #12799 closed

[2020-05-01 16:21] jrybacek commented on #11593
I'm excited to have this fixed as well.  We are waiting on migrating to Azure DevOps until this is fixed.  Stephen, I'm sure you are quite busy, but we appreciate your help.  Once its committed, do you know how long it will take to end up in Azure DevOps services?

[2020-05-01 18:58] FabienLavocat commented on #10264
I was having the same issue and using this syntax worked:
[code]

[2020-05-01 19:26] #12743 closed

[2020-05-01 19:33] rikogeln commented on #12743
@bishal-pdMSFT - thanks for the fix. Some translation strings still contain the release-index.json e.g the [japanese translation](https://github.com/microsoft/azure-pipelines-tasks/blob/91c78025f96435f93745d96bc64ca8352e29894c/Tasks/UseDotNetV2/Strings/resources.resjson/ja-jp/resources.resjson).

[2020-05-01 19:45] bishal-pdMSFT commented on #12708
@phanikmmsft can you please look at this - it is related to test command in .Net Core task.

[2020-05-01 19:53] bishal-pdMSFT commented on #12657
@phanikmmsft please take a look

[2020-05-01 20:03] #12540 closed

[2020-05-01 20:11] bishal-pdMSFT commented on #12577
@Astersss please use latest version of Azure CLI task.

Also, try to uncheck "fail on standard error" input. May be the warning in "az --version" commands are being pushed to stderr which will fail the task.

[2020-05-01 20:12] bishal-pdMSFT commented on #12507
I don't think this is the intention of Azure CLI task. If you want to use Az powershell modules, please use Azure PowerShell task.

[2020-05-01 20:12] #12507 closed

[2020-05-01 20:15] #12338 closed

[2020-05-01 20:19] #12322 closed

[2020-05-02 01:20] gynet opened #12813 "Azure App Service deploy Pipeline Failed on Deployment. Error ETIMEDOUT"
The release pipeline was working before, and VS studio deployment works fine.
- **Task version: version 4.***
- **Task YAML**
--------------------------------------------------------------
[code]
--------------------------------------------------------------

- **Logs:**
--------------------------------------------------------------
2020-05-02T01:13:42.7364395Z ##[error]Failed to deploy web packag

[2020-05-02 01:43] gynet commented on #12813
Detailed debug logs
2020-05-02T01:26:43.2728684Z ##[debug][POST]https://$XXX-api-appservice-int:***@XXX-api-appservice-int.scm.azurewebsites.net/api/zipdeploy?deployer=VSTS&message=%7B%22type%22%3A%22deployment%22%2C%22commitId%22%3A%2238fce75abf3ce6378912bc862b8307b86d29fb4b%22%2C%22buildId%22%3A%2223283028%22%2C%22releaseId%22%3A%221399371%22%2C%22buildNumber%22%3A%221.0.20122.4%22%2C%22releaseN

[2020-05-02 12:50] dmglennie-diveplane commented on #9673
please enable for diveplane

[2020-05-02 13:35] iashishmittal commented on #9673
sharing of service connections is enabled for Escribainformatica, diveplane

[2020-05-02 15:47] GoMino commented on #11219
+1 would be really usefull for mono repos which will have dependencies at the root level as well as at the sub repo levels as well (as referenced in https://github.com/microsoft/azure-pipelines-tasks/issues/11692)

[2020-05-03 08:51] #12696 closed

[2020-05-03 10:28] veton commented on #8920
For the time being, using **windows image** as a workaround:

[code]

[2020-05-03 17:02] sethi-ishmeet opened #12814 "App Center iOS Test Run fails: Unable to find test runner app"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Xcode & App Center Test

## Environment
- Server - Azure Pipelines
- If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

Account Name: ishmeet@simplifiedautomation.ca / Simplified Automation Inc.
Team Project Name: PET Mobile
Build Definition Name: PR Build - 2 / #20200503.

[2020-05-03 23:11] Adebeer commented on #12808
@ShreyasRmsft

I haven't noticed any differences in this version recently - the code coverage tool version was 16.0.30319.200 even mid last month.

Thanks for investigating

[2020-05-04 04:15] aksm-ms commented on #12791
Please create a bug, we will review it.

[2020-05-04 04:18] #12791 closed

[2020-05-04 05:08] chshrikh commented on #12813
is it consistent  ? did you tired to deploy using different agent ?

[2020-05-04 05:32] JoseFMP commented on #7654
Same issue here. Cannot deploy from Azure DevOps a new image that is hosted in Azure Container Registry.

[2020-05-04 06:33] Skoucail commented on #12471
Thanks for this work around.
I wasted like half a day just to fix my dotnet nuget push... But this finally fixed it.
Just a little question.
Now i manually uploaded the task, if it ever gets released will this give issues?

[2020-05-04 06:56] dhilgarth commented on #10893
I am seeing this today:
![image](https://user-images.githubusercontent.com/1180105/80942480-29691080-8de5-11ea-9193-c9b2504369d3.png)

[2020-05-04 08:59] vsd-codesode opened #12815 "Job hangs for a good amount of time after finishing file copy."
## Note
I have a repository in Azure DevOps, pipeline of this repos copy the generated `tar` file to a remote server. Every step of the pipeline works very smooth. But, CopyFilesOverSSH task keeps waiting for the finish for good 30 minutes.
I have checked on the server that file is fully copied in 5 minutes, but the task is still showing `Copying file ****`

For a list:
https://github.com/Microsof

[2020-05-04 09:09] mjsabby opened #12816 "PublishSymbolsV2 does not index PDBs embedded inside PE files"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-04 09:11] mjsabby commented on #12816
Fixing this is trivial so I can probably fix it soon, just wanted to open it before I forgot.

[2020-05-04 10:31] sten-rosendahl commented on #10859
The cache task explicitly forbids multi-segment key wildcards, even though shells like bash or even the ls tool in Git for Windows allows it. Is this by accident or by design? Should I raise a new issue for it?

[2020-05-04 11:39] #12701 closed

[2020-05-04 12:26] ifehri177 commented on #12180
Hello, i am also facing the same issue with special characters in variable (SAS token, composed of @ = & characters.
I have yet to find a workaround, let me know if anyone has !
PS: shouldnt a system automatically parse a string?

[2020-05-04 12:33] mjsabby commented on #12816
Hmm I can't find how this is working for Portable PDBs on Linux. @tmat does SymStore now support Portable PDBs? I see no reference to S.R.M in these Powershell scripts.

Anyway, some Powershell script would need to call this code to extract it.

[code]

[2020-05-04 12:33] damccorm commented on #12793
Hey @eddiecalm this looks like an issue with the Azure Pipelines Service, not with tasks specifically. For general issues not relating to specific tasks, please open a ticket here - https://developercommunity.visualstudio.com/spaces/21/index.html

[2020-05-04 12:33] #12793 closed

[2020-05-04 13:24] KnutNiehaus commented on #12788
What I could investigate so far by having a closer look at the Connect-ServiceFabricClusterFromServiceEndpoint.ps1 script, that somehow the Hashtable $ConnectedServiceEndpoint does have the Parameter $ConnectedServiceEndpoint.Auth.Parameters.UseWindowsSecurity set to true when called with a newly created service endpoint. When I, for evaluationg only, remove the row `if ($ConnectedServiceEndpoint.

[2020-05-04 13:32] Ivan-L commented on #9673
hi @iashishmittal, please would you enable it for outsurance

[2020-05-04 14:42] AndreFo commented on #12471
I have used node version 11.15 and successfully uploaded these task to an on-premise devops server. Using tfx build tasks --list the NuGetAuthenticate task appears with following entry:

[code]
However, it does not work to use it in a pipeline with
[code]
The pipeline cannot be started. Azure DevOps Server complains that the task is missing.

Any hint, what I could have missed here?

[2020-05-04 14:47] sgerace commented on #12480
I'd like to add another use case to this request, simply to make sure it is captured. We are using  parallel builds (i.e., `strategy: parallel: N`, where `N > 1`) to speed up our user interface testing. Each parallel run is producing a similar (but distinct) set of test result artifacts (as json files), one json file for each suite of tests (we are using [Cypress.io](https://www.cypress.io/) for t

[2020-05-04 15:03] vhhughes commented on #10893
We've never seen this error before, and we're just now seeing it intermittently begin happening for a number of our builds. It's intermittent. All our builds run on private agents hosted on-prem. There should be no proxy involved for HTTP calls to Azure DevOps from our servers.

[2020-05-04 15:07] dhilgarth commented on #10893
Same here: never saw it before, running on-prem agents

[2020-05-04 15:12] chai-deshpande opened #12818 "Parameter for choosing the version of SqlPackage.exe"
*Type*: Feature

**Enter Task Name**:  SqlDacpacDeploymentOnMachineGroupV0

## Issue Description
There should be a way to specify which version of SqlPackage.exe should be used. Always using the latest version installed on the Agent does not work.

### Error logs
I was getting this error:
`*** Error parsing connection string: The type initializer for 'Microsoft.SqlServer.Dac.DacProfile' threw an e

[2020-05-04 15:18] v-vrusse opened #12819 "Azure App Service Deploy - Add support for Powershell as post deployment script"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-04 18:38] bishal-pdMSFT commented on #12788
Thanks @KnutNiehaus we will investigate this.

[2020-05-04 19:01] pandey-laxman commented on #12263
@Paul-ICS can you please be more specific about where you specified **"CODE_SIGNING_ALLOWED=No"** . is it in task: Xcode@5 ? on somewhere in xcode project.
I have some embedded framework for those getting below error.

**error: Domain does not support provisioning profiles. Domain does not support provisioning profiles, but provisioning profile xxxxx has been manually specified. Set the provisioni

[2020-05-04 19:34] JaneTeichmann commented on #9673
H, Could you please enable the feature to dev.azure.com/localiza?

[2020-05-04 20:27] TomBruyneel commented on #9754
Any updates on this?

[2020-05-04 20:51] jkotalik opened #12823 "Issues getting docker daemon running on Windows/MacOS with DockerInstaller"
*Type*: Bug

**Enter Task Name**: DockerInstaller@0

## Environment
- Server - AzurePipelines

- Agent - Hosted or Private:
    - I think we have our own custom pools, but they are defined here: https://github.com/dotnet/tye/blob/master/azure-pipelines.yml#L48

## Issue Description

I'm trying to run unit tests on Windows, MacOS, and Linux which required docker to be running. For example, I have a

[2020-05-04 21:16] scsloan opened #12824 "Error when Setting Username from AzureKeyVault"
*Type*:  Question

**Enter Task Name**:  IISWebAppManagementOnMachineGroup@0

- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Given the following Yaml snippet

[code]
### Error logs

[error]Exception calling ".ctor" with "2" argument(s): "Cannot process argument because the value of argument "userName" is not valid. Change the value of the "userName" argument and run the operati

[2020-05-04 22:35] gynet commented on #12813
@chshrikh  I tried different agent pool, it works now, thanks

[2020-05-04 22:35] #12813 closed

[2020-05-05 04:19] nachiketrss commented on #10378
@azooinmyluggage - Since this topic is regarding docker image, did you mean `image prune -f`?

[2020-05-05 09:55] sdobrodeev commented on #5046
@Franklin89 can you please run pipeline in diagnostic mode and provide more logs? This will help a lot with the investigation.

[2020-05-05 10:20] 20shivangi commented on #12794
@KorKiak The change was made due to security reasons.
Earlier what was happening : if you have a pipeline with azurepowershell task on a agent and in the same pipeline you add another agent job with same agent and task powershell, it was saving az context as it was not scoped properly. So if you run some az command in powershell task, it was giving correct results which should not be the required

[2020-05-05 10:44] #12610 closed

[2020-05-05 10:48] anton-erofeev commented on #9783
Hello, @shogerr !
According to your logs, you are using version 2.158.0.
This error is fixed in version 2.164.0 (https://github.com/microsoft/azure-pipelines-tasks/pull/12207), so could you please update the version and try to run it again? If this warning still occurs, please let me know.

[2020-05-05 11:03] monastorm opened #12827 "Error setting up Azcopy on newly created VM"
*Type*: Bug

**Task Name**: Azure File Copy V4.* (preview)

## Environment
- Server - Azure Pipelines
- Agent - Private:

## Issue Description

When I run Azure File Copy task as the next task after creating an Azure VM, the task fails. When I run the pipeline again (using the same VM), the tasks succeeds.

### Error logs

2020-05-05T09:57:23.1013405Z VERBOSE: Preparing to expand...
2020-05-05T09:

[2020-05-05 12:37] phanikmmsft commented on #12708
I believe this was already fixed.
@shailesh-sk  please confirm and close

[2020-05-05 13:18] shailesh-sk commented on #12708
Yes this issue is already mitigated last week. Please let us know if you are still seeing the issue again.

[2020-05-05 13:43] murugan-mp commented on #11593
@stephenmichaelf  We're waiting for your response and PR.

[2020-05-05 14:29] sebastienros opened #12828 "[Bug] Custom timeout ignored in PublishToAzureServiceBusV1"
In Azure Pipelines.
Task: **PublishToAzureServiceBusV1**

## Issue Description
Following the documentation to define the timeout of a Task: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/tasks?view=azure-devops&tabs=yaml#task-control-options

I defined it to 30 minutes like in this example:

[code]

However a task is canceled after 10 minutes exactly as shown here:

![image](https

[2020-05-05 14:48] snpdev commented on #12195
Same problem today. I had no problem running my pipeline on May 4, 2020. Interestingly, I specify Azure Pipelines Image `ubuntu-18.04` but the pipeline actually uses `ubuntu-16.04`. I'll try again later.

**Phase 1**
[code]

**The error in task Build an image**
[code]

[2020-05-05 15:51] KorKiak commented on #12794
Thanks for your explaination! But can you please explain why the `Enable-AzContextAutoSave` command then ended up not saving anything to the context?
Will `Enable-AzContextAutoSave -Scope Process` work?

[2020-05-05 16:10] #12051 closed

[2020-05-05 16:50] sebastienros commented on #12828
Closing as I found something in my code that could trigger a 10 minutes timeout too.

[2020-05-05 16:50] #12828 closed

[2020-05-05 17:36] singhsarab commented on #12740
@annthom01 Are you sure that the test assemblies are present in the given location ?
Build definition usually would have the test assemblies as they are built as part of the build definition.
For releases, you need to make sure the test assemblies are part of the artifacts, which get downloaded on the release agents.

What agents are you using to run the tests? Are these private agents or hosted a

[2020-05-05 18:25] phanikmmsft commented on #12657
@singhsarab  can you pls check this
@ShreyasRmsft FYI

[2020-05-05 19:43] connelhooley commented on #12657
I'm also getting the same error. My tests pass locally fine, however when I try and run these selenium tests on an Azure Agent I get the following error when newing up the driver:

[code]

This is how I'm newing up the driver:

[code]

[2020-05-05 19:55] connelhooley commented on #12657
Same error appears to have occurred in this issue:

https://github.com/microsoft/azure-pipelines-tasks/issues/10001

I can't see where it was resolved though. From what I've read online, this error can occur when the chrome version doesn't match the chrome driver version. Both of which are installed by default for us by Microsoft on these boxes. Is that the issue here?

[2020-05-06 04:40] chshrikh commented on #12827
can you share the debug logs, you can create debug logs by adding system.debug variable with value as true

[2020-05-06 05:32] BlairMcc opened #12829 "DotNetCoreCLI@2 failing on .Net Core 3.1 web app build and publish"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-06 05:54] tejasd1990 commented on #12778
Hi @saikiran-karumuri-jdas,
If you are using [checkout](https://github.com/actions/checkout#checkout-v2) action, you can use the _$GITHUB_WORKSPACE_ environment variable.
The[Azure CLI](https://github.com/marketplace/actions/azure-cli-action#note) action executes the script inside a container. As the document says,
_"GITHUB_WORKSPACE directory in host is mapped to working directory inside containe

[2020-05-06 05:58] jahead commented on #6364
@mitchdenny Are we able to get an update on this? It's been over a year, and no feedback?

[2020-05-06 06:00] mitchdenny commented on #6364
Adding @johnterickson

[2020-05-06 06:03] eaarora-ms commented on #12827
@monastorm Can you try adding a delay of around 30-40 seconds after the VM creation and before the Az File Copy task and let us know if that helps?

[2020-05-06 06:11] eaarora-ms commented on #12739
Hi, @Surendra-thota1640  Please provide an update on whether you were able to figure out what is getting deployed by setting "system.debug" as true in pipeline variables.

[2020-05-06 06:15] PhucNgo1711 opened #12830 "Github not picking up jobs results"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question/Bug

## Environment
- Server - Azure Pipelines

- Agent - Hosted and Private

## Issue Description

My repo PRs are not picking up the jobs results from Azure Pipelines. When the jobs have finished successfully on Azure, the CI/CD chec

[2020-05-06 07:01] monastorm commented on #12827
@eaarora-ms I already tried to add a 60 seconds sleep in my AzurePS script that runs immediately before the Azure File Copy task. This script also runs an Invoke-AzVMRunCommand on the newly created VM, and that command works fine

[2020-05-06 07:11] eaarora-ms commented on #12827
Can you please set the variable "System.debug" with value "true". Redeploy and share logs.

[2020-05-06 07:32] eaarora-ms commented on #12668
@MichielCornilleESC Can you try deploying it using ZipDeploy?
In the task, please go to Additional Deployment Options -> Deployment Method -> Zip Deploy.
This seemed to work for me. Waiting for your response.

[2020-05-06 08:09] monastorm commented on #12827
@eaarora-ms @chshrikh, attached please find the debug log.
[tasklog_9.log](https://github.com/microsoft/azure-pipelines-tasks/files/4585497/tasklog_9.log)

[2020-05-06 08:41] romandres commented on #12668
@eaarora-ms
The switch from runFromPackage to zipDeploy worked for me. This replaces the existing files. But there is one issue: It leaves behind files that are no longer relevant to the deployment rather than deleting them. For example: If your deployment included a DLL before but no longer does, it will remain in the FunctionApps folder, even though it is no longer used by the app.

[2020-05-06 09:36] eaarora-ms commented on #12668
@romandres If you read the document here: https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push, the zip deploy will only delete files that were part of a previous deployment and are not in the deployment artifact.

[2020-05-06 09:44] romandres commented on #12668
@eaarora-ms Maybe I'm missing something, but that page says:

[2020-05-06 09:46] issacnitin commented on #12689
@Tobnac The only case I could repro this scenario is when the variables are locked in the variable group but redefined and open in pipeline variables. Can you confirm that's not the case with you?

[2020-05-06 10:01] Tobnac commented on #12689
Can confirm. The only one single place where this variable is defined is in one said variable group and not in any pipeline variables, output variables, etc.

[2020-05-06 10:02] romandres commented on #12668
I think I get it now, sorry 🙈 So this will only delete files from previous ZIP deployments. If the files got there any other way, they will be left there. I think in my case, the files that are left behind are from App Service Deployment tasks. We used those tasks before the Azure Function Deployment tasks were available.

Thank you so much @eaarora-ms!

[2020-05-06 10:50] eaarora-ms commented on #12668
@romandres  Glad to help!
@MichielCornilleESC Waiting for your comments.

[2020-05-06 11:08] SamYuan1990 commented on #10838
Some update here.

I want to start a docker container, as `myContainer` with port `8080` exported.
Then starts test code as `curl myContainer:8080`

The container doesn't have ssh support, so ... what I excepted is that on `/etc/hosts`
having
`myContainer 127.0.0.1`

So that can avoid `myContainer, host not found`

[2020-05-06 11:11] MichielCornilleESC commented on #12668
@eaarora-ms Is there a known issue with **run from package** related to mine?
I'd prefer using run from package.

I remember that during our tests we tried auto-detect, zip deploy and run from package, with the same results.

Since this issue was created a month ago, we migrated our function app to 3.1 and made several other changes. I have yet to see the issue happen since these changes. (We are

[2020-05-06 11:15] alexander-smolyakov commented on #12759
Hello, @bgaprogrammer!

Thanks for your patience.

As I can see you use the virtual image with macOS-10.15- this image already uses the latest version of xamarin, mono, and xcode by default, so you don't need to manually set versions for your pipeline. Furthermore, this image frequently updated so you always can get the latest versions of tools by default.

As far as I know symlink doesn't intende

[2020-05-06 11:16] eaarora-ms commented on #12668
@MichielCornilleESC No there are no issues wrt RunFromPackage. It is mostly due to some app service settings that were set in other operations that you might see Function App not getting updated after deploying. In fact RunFromPackage is the preferred deployment method and hence is selected in Auto-Detect logic too.

If you are not facing this issue anymore I will be closing the issue and I apolog

[2020-05-06 11:16] #12668 closed

[2020-05-06 11:37] cpratap994 commented on #12544
@rmarinho
I just downloaded  *.trx files from both runs:
**Issue Run:-**
https://devdiv.visualstudio.com/DevDiv/_releaseProgress?releaseId=646425&environmentId=3523733&_a=release-environment-extension&extensionId=ms.vss-test-web.test-result-in-release-environment-editor-tab
![failed](https://user-images.githubusercontent.com/6858862/81171738-8c5fd080-8fba-11ea-9f17-acd7e46b3197.PNG)

**working Run

[2020-05-06 12:11] qetza opened #12831 "AzureCLIV2 allow hiding 'az login' output"
Currently when we use the AzureCLI v2 task it is doing automatically for us the `az login` command. This command returns an array of all the subscription the logged in user has access to.

Our service principal has access to hundreds of subscriptions and this is polluting our logs as we get almost 5000 lines of logs just for this output.

It would be great to have a parameter to disable `az login`

[2020-05-06 12:31] cysecops commented on #11151
FYI the azure resource group deployment (ARM Template) supports management groups is you use version 3 (preview). Still waiting on CLI support

[2020-05-06 12:43] egor-bryzgalov commented on #10829
@TechWatching @mdobric  Could you please provide us with contents of your .csproj file? If not please check if 'LangVersion' 7.0 or less is not specified explicitly in the property group related to the aimed build configuration in the .csproj file. You can do it by following steps:
1. Open .csproj file with any text editor (e.g. Visual Studio Code, Notepad etc.);
2.  Find 'PropertyGroup' tag which

[2020-05-06 13:05] bgaprogrammer commented on #12759
Hello @alexander-smolyakov

Regarding the reason of changing manually the versions, It was because at the time I created the pipeline the build was throwing and error rsaying my app was intended to be compiled with a version of xcode (iOS in fact) not available in the macOS-10.15 image, so I decided to target it manually (because the image documentation said the tools were there).

It seems that p

[2020-05-06 13:09] TechWatching commented on #10829
I won't be able to answer as I don't work on the project where I had the problem and have no access to the code anymore. From what I remember it was not explicitely set to 7 lang version but to the "latest" value. Setting to a specific version like 7.1 would work however I think. But "latest" should have work. Sorry no be able to help more, it has been a while since I created this issue. The easie

[2020-05-06 13:51] egor-bryzgalov commented on #10829
@TechWatching Thank you for the response! We didn't manage to reproduce the issue by testing the task the way you described until the wrong C# version was specified explicitly.

@mdobric @ryanbuening Could you please let us know if the issue is still reproduced?

[2020-05-06 14:14] alexander-smolyakov commented on #12759
Hello, @bgaprogrammer!

Glad to hear that's all works now.

Regarding images update notifications - for now, there's no mechanism that sends notifications about images update, but you can check actual information about macOS images in [this file](https://github.com/microsoft/azure-pipelines-image-generation/blob/master/images/macos/macos-10.15-Readme.md).

If you will find some issues about toolki

[2020-05-06 14:38] Camble commented on #8450
One year on, this issue still exists.

[2020-05-06 15:48] Xoib commented on #12499
Hopefully #12122 will be merged soon, I just did a review of it.

[2020-05-06 17:17] jeffpatton1971 opened #12834 "Option for SPN credentials or Service Connection details"
*Type*: Feature

**Enter Task Name**: AzureResourceManagerTemplateDeploymentV3

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Azure Pipelines
- Agent - Private:
    - Windows Server 2019 2.165.2

## Feature Description

While ServiceConnections are nice in the GUI I would love to be able to leverage your task in a pipeline and be

[2020-05-06 18:25] alohaninja opened #12835 "Swap Slots Exceptions - Bad Request"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Unable to Swap Slots - HTTP 400 Bad Request

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: tenant: azurecom, team project: ACOM, release id: 49840

- Agent - Hosted

[2020-05-06 18:30] singhsarab commented on #12740
It would be great if you could share the diagnostic logs with us. set system.debug = true to enable the diagnostic logs.

[2020-05-06 18:33] annthom01 commented on #12740
yes, the test assemblies are in the location. I infact hardcoded the test assemblies path to search for also.

[2020-05-06 18:55] singhsarab commented on #12740
@annthom01 Thanks for your note. Please share with us the diagnostic logs and also please answer all the questions I have asked above.

[2020-05-06 19:32] whitleykeith commented on #11128
I'm seeing these errors still with gradle caching. Is there something specific we have to do to avoid this issue?

[2020-05-06 19:51] whitleykeith commented on #11864
I noticed the same issue on the Cache@2 task, but saw it go away when I switched to the CacheBeta@1 definition. Not sure if it was just luck or if there's some underlying issue with the Cache@2 Task.

[2020-05-06 20:02] mshasib commented on #11261
Is there a way to

Is there a way to do this for classic pipelines?

[2020-05-06 21:33] ryanbuening commented on #10829
@egor-bryzgalov Sorry, I am scrapped my Xamarin pipeline for the time being so I cannot tell you if it is still happening for me.

[2020-05-06 22:46] dhammma commented on #4743
Hi everyone! Is it possible to use stageDependencies for stage conditions?

I'm trying to do next:

[code]

and it doesn't work, but on job level it works:

[code]

and it's not good for me, because I can't skip whole stage depends on previous stage job output...

[2020-05-06 23:11] stealthcold commented on #4743
@dhammma , I think that the last update gonna help us:

https://docs.microsoft.com/en-us/azure/devops/release-notes/2020/sprint-168-update#azure-pipelines-1

[2020-05-06 23:40] lukeschlather commented on #12529
I added the NuGet Authenticate task to a different pipeline, which seemed to yield better behavior except it's intermittently barfing despite using Nuget 5.5.x

https://developercommunity.visualstudio.com/content/problem/1014284/nuget-restore-fails-due-to-credentialprovidermicro.html
https://developercommunity.visualstudio.com/content/problem/1015250/intermittent-nuget-restore-failure-credentialpr

[2020-05-07 06:13] eaarora-ms commented on #12683
@ds-ms  @vithati  Could you please look into this issue? Thanks.

[2020-05-07 06:13] sit-md commented on #4743
@dhammma Did you try conditional insertion instead?
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?view=azure-devops#conditional-insertion

[2020-05-07 06:22] baoduy opened #12836 "Static Site deployment"
Hi, I got this issue when deploying a static site to Azure Storage. using version 3 or 4-Preview. it is fine with v2.

`##[error]Upload to container: '$web' in storage account: 'xxx' with blob prefix: '' failed with error: 'AzCopy.exe exited with non-zero exit code while uploading files to blob storage.' For more info please refer to https://aka.ms/azurefilecopyreadme`

[2020-05-07 06:54] MohanSairam423 commented on #8655
Hello,

Is there a way to pause an agent job and wait for callback. Currently I'm able to see this feature(wait for completion) only for server jobs. I would like to know if it is supported in agent jobs as well.

[2020-05-07 07:59] Herve-M commented on #12702
@tejasd1990 I specified `Destination directory` and used an empty `Feeds to use` making the task use the temporal generated nuget config file who end to be empty. In this case, NuGet should read the user config. file who isn't the case.

I tried with the last version of NuGet and it's running for testing. Apart for all 4.6.x and 4.7.x (who we use in our CI/CD)

[2020-05-07 08:04] issacnitin commented on #12788
I've raised a PR https://github.com/microsoft/azure-pipelines-tasks/pull/12837 for the bug. Thanks @KnutNiehaus

[2020-05-07 08:09] dhammma commented on #4743
@stealthcold I hoped that last update helps me

![image](https://user-images.githubusercontent.com/20638114/81269073-7c470000-9051-11ea-8863-8b25b66b7f21.png)

but, seems like I can use `stageDependencies.stageName.jobName.outputs['stepName.variableName']` only for jobs, but not stages

What I'm trying to do:

`stageA -> jobA` defines some variables
`stageB` and `stageC` should depends on those va

[2020-05-07 08:27] sit-md commented on #4743
@dhammma As far as I know this is currently not possible. I had the same issue with environment-specific variables. I resolved it by putting the needed values into variable groups that are linked into the pipeline depending on a condition. Of course if you need to compute something during the run this doesn't help you.
What could work is defining a variable on the pipeline level and then setting t

[2020-05-07 09:15] ekaterina-tatanova commented on #10838
Hello, @AnticliMaxtic, @yahalawa, @berney, @natebunton, @tylersouthard!
Using [txf-cli](https://www.npmjs.com/package/tfx-cli), upload the patch from [attachments](https://github.com/microsoft/azure-pipelines-tasks/files/4591959/InstallSSHKeyMultilineHostEntryV0.zip). To do that use [these instructions](https://github.com/Microsoft/tfs-cli/blob/HEAD/docs/buildtasks.md#upload).
Upload command examp

[2020-05-07 09:27] KnutNiehaus commented on #12788
Hi @issacnitin ,

I tested your fix by manually changing the powerhellscript locally.  I think you must use

` if ($ConnectedServiceEndpoint.Auth.Parameters.Unsecured -ne "true")`

instead of

`if ($ConnectedServiceEndpoint.Auth.Parameters.Unsecured -eq "false")`

because if (and this is the case here) the unsecured parameter is null the -eq "false" will not work.

[2020-05-07 09:35] issacnitin commented on #12788
You're right, thanks

[2020-05-07 10:21] ekaterina-tatanova commented on #10838
Hello, @AnticliMaxtic, @yahalawa, @berney, @natebunton, @tylersouthard!
Using [txf-cli](https://www.npmjs.com/package/tfx-cli), upload the patch from [attachments](https://github.com/microsoft/azure-pipelines-tasks/files/4592345/InstallSSHKeyMultilineHostEntryV0.zip). To do that use [these instructions](https://github.com/Microsoft/tfs-cli/blob/HEAD/docs/buildtasks.md#upload).
Upload command examp

[2020-05-07 10:21] AlexandrKravchuk commented on #11247
Hi @meriturva
The updated version was deployed, please re-run your task pipeline with 'Enable system diagnostics' on and please attach the logs file to the answer! I hope it will help us to fix your problem asap.

[2020-05-07 10:58] jpdias92 commented on #12010
I'm having the exact same problem.

If instead of using the task I use the Azure CLI task with `az keyvault secret ...` then I can retrieve the secret but of course, that's not a great workaround...

A solution for this issue would be great

[2020-05-07 12:02] annthom01 commented on #12740
Hi,
As I mentioned in my problem, when I select Test Assemblies the test run is not triggered. I have to select Test Plan to get the test run triggered.

This is the message I get when I select Test Assemblies.

![image](https://user-images.githubusercontent.com/64204425/81292155-1a7a9c00-9039-11ea-87f0-784fc4fcf89d.png)

[2020-05-07 12:08] alexander-smolyakov commented on #10774
Hello, @Ryan-Palmer!

Thanks for your patience! Is this issue still actual for you?

If it's still actual, could you please run the pipeline again with the debug option set on and send logs? Also, it would be great if you are able to provide the YAML file for your pipeline.

[2020-05-07 12:12] vern-mix opened #12838 ""Ambiguous project name" when using yaml build file."
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server - Azure Pipelines?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: MiXTelematics/Comms/MiX.Quarry/master_2020.05.07.2

- Agent - Private:

    - If using private agent, provide the OS of the machine running the agent and the age

[2020-05-07 13:16] meriturva commented on #11247
@AlexandrKravchuk Here log file with debug information.
[4_Securely copy files to the remote machine.log](https://github.com/microsoft/azure-pipelines-tasks/files/4593133/4_Securely.copy.files.to.the.remote.machine.log)

[2020-05-07 13:35] AlexandrKravchuk commented on #11247
@meriturva For some reason, you still have an old version of the Task. Let me find out why. I'll write you back.

[2020-05-07 13:49] meriturva commented on #11247
@AlexandrKravchuk  Just to clarify, I'm on a release pipeline.

[2020-05-07 14:35] drdamour commented on #4743
@sit-md i thought @Falven confirmed we could ise them for stage conditions in this response https://github.com/microsoft/azure-pipelines-tasks/issues/4743#issuecomment-614721900 If not oh boy what a Huge miss! This is the most important part

[2020-05-07 14:39] sit-md commented on #4743
@drdamour That is true and on the job level in another stage that worked for me. It didn't work for me on a stage level itself though. Of course there's a good chance that I missed something but those were my findings when trying out the new feature.

[2020-05-07 14:57] anatolybolshakov commented on #10574
@LukaszGrela @sideez could you please let us know if this issue is still actual for you?

[2020-05-07 15:20] guillermomartinez-accenture commented on #9458
Was this issue solved?

[2020-05-07 15:24] damccorm commented on #12751
Hey @jamoham - are you running this inside of a container? Any chance its related to this issue https://github.com/microsoft/azure-pipelines-tasks/issues/11448? I think its probably the same issue that I explained here - https://github.com/microsoft/azure-pipelines-tasks/issues/11448#issuecomment-610619531

[2020-05-07 17:12] ds-ms commented on #12683
@ksingh3 did you try to use `v1` version of the gate to do it?

[2020-05-07 17:24] jameswilson281 commented on #10968
This is happening to us today!

[2020-05-07 17:52] Ryan-Palmer commented on #10774
Hi @alexander-smolyakov , I am no longer working at that company so I can't say for sure if it is still an issue. I have built apps with similar setups recently and had no problem so it may well have gone away. Perhaps https://github.com/PaulAxten might know if it is still happening for them?

[2020-05-07 17:53] henry-padilla opened #12842 "Powershell inline task throws 'Convert-FromJson' is not recognized as the name of a cmdlet"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PowerShell@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/PowerShell

## Environment
- Server - Azure Pipelines
https://wkaxcess.visualstudio.com/Axcess/_build/result

[2020-05-07 18:35] AltarBeastiful opened #12843 "Deploy jar to virtual application not using specified physical path"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeploymentV4

## Environment
- Azure Pipelines
- Agent - Hosted or Private:

    - If using Hosted agent, provide agent queue name:
Agent machine name: 'WIN-3R7VL9VDHJQ'
Current agent version: '2.166.4'
Current image version: '20200430.2'
 ReleaseId=1544, TeamProjectId=a139cb74-e3ed-4b6b-8fce-e49dd5c510f8
## Issue Descri

[2020-05-07 18:49] LukaszGrela commented on #10574
HI,

we've actually dropped this, so can't confirm or dismiss this issue. You
can close it though.

czw., 7 maj 2020 o 15:57 Anatoly Bolshakov <notifications@github.com>
napisał(a):

[2020-05-07 18:50] damccorm commented on #12803
Hey @iambernics - we don't offer this since generally task download is pretty fast, most of our built in tasks are pretty small. If you'd like to suggest it as a feature, https://developercommunity.visualstudio.com/spaces/21/index.html is probably the best place for that so that it finds its way to the right eyes :)

[2020-05-07 18:50] #12803 closed

[2020-05-07 18:53] damccorm commented on #12835
Hey @alohaninja - is this an issue with a specific task? If so, could you provide the task you're seeing this behavior in? If not, please close here and open an issue at https://developercommunity.visualstudio.com/spaces/21/index.html

[2020-05-07 18:55] damccorm commented on #12830
Hey @PhucNgo1711 this repo is for issues with specific tasks - since this is an issue with the larger service, please file it at https://developercommunity.visualstudio.com/spaces/21/index.html

[2020-05-07 18:55] #12830 closed

[2020-05-07 19:00] damccorm commented on #12842
Hey @henry-padilla could you try adding `Import-Module Microsoft.PowerShell.Utility` to the start of your script - https://stackoverflow.com/questions/22256706/running-powershell-script-in-c-sharp-converttojson-error

[2020-05-07 19:01] alohaninja commented on #12835
@damccorm  - yes this is a specific task (_[just followed this similar example](https://github.com/microsoft/azure-pipelines-tasks/issues/5566)_) - sorry for the confusion.

**Task**: [Azure App Service](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureAppServiceManageV0/README.md)
![image](https://user-images.githubusercontent.com/26234626/81333999-33e01000-905a-11ea-87f5

[2020-05-07 19:11] damccorm commented on #12835
Thanks - I'll get it routed to the right team

[2020-05-07 19:11] sideez commented on #10574
You may close it as I am unable to confirm at this time if the issue is related to AndroidSigningTask or project. Need more time to investigate.

[2020-05-07 19:31] henry-padilla commented on #12842
It's already there.
I even moved it to the second line (after $PSVersionTable) and it made no impact.

[2020-05-07 20:13] danielmariz commented on #7611
Me too, I've also tried 4 (preview) version that does not work. Only version 2

[2020-05-07 20:38] beatcracker opened #12844 "Multiple checkout with custom paths fails in the container job"
## Required Information

*Type*: Bug

**Task Name**:  `checkout` aka `6d15af64-176c-496d-b583-fd2ae21d4df4@1`

## Environment

- Server - Azure Pipelines

  This is a private CI setup, I can provide the account name, team project name, build definition name/build number via email.

- Agent - Hosted, Azure Pipelines, `ubuntu-latest`

## Issue Description

When trying to use multiple checkout featur

[2020-05-07 20:38] damccorm commented on #12842
Oh, I see the issue. The correct command is `ConvertFrom-Json`, not `Convert-FromJson`

[2020-05-07 21:19] MisinformedDNA opened #12845 "DownloadGitHubNugetPackageV1 fails to restore all NuGet packages, even though it shouldn't even be trying"
Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadGitHubNugetPackageV1

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DownloadGitHubNugetPackageV1

## Environment
- Server - [Azure Pipelines](https://dev.azure.com/yellowcounter/Swashbu

[2020-05-08 00:01] kevinwedwards commented on #12397
we too are getting this....

[2020-05-08 00:06] kevinwedwards commented on #12397
Should we still be doing this work around in May?

[2020-05-08 04:32] eaarora-ms commented on #12843
@AltarBeastiful Can you please make sure you're giving virtual application name in the task and share your pipeline logs by setting "system.debug = true" in the pipeline variables.

[2020-05-08 04:36] eaarora-ms commented on #12835
@alohaninja Can you please let me know if you are facing this issue everytime you try to swap slot or it happened just once?

[2020-05-08 04:37] eaarora-ms commented on #12827
@20shivangi  To look into it.

[2020-05-08 04:38] chshrikh commented on #12836
please provide detailed logs,

[2020-05-08 04:41] eaarora-ms commented on #12795
@Debbus72 Thanks for reporting the issue. We will add it to our list of enhancements for the task.

[2020-05-08 04:48] eaarora-ms commented on #12739
@Surendra-thota1640  I am closing the issue. Please feel free to comment to re-open If you're still facing the same issue.

[2020-05-08 04:48] #12739 closed

[2020-05-08 04:54] eaarora-ms commented on #12836
@baoduy  If you are still facing this issue, can you please set the variable "System.debug" with value "true". Redeploy and share pipeline zip logs here.

[2020-05-08 05:00] eaarora-ms commented on #12836
Also, can you try deploying via CLI as a workout:

[2020-05-08 06:51] bishal-pdMSFT commented on #12397
This issue could still be happening if your script is writing to stderr.

In v2 of Azure CLI task we have made improvements to print the stderr logs. You can upgrade to v2 and see what logs are being written to stderr by your script.

[2020-05-08 08:06] ankit-arora12 commented on #12727
@TekuSP @zingaroo
Thank you for expressing interest in trying the new feature.
Due to some unforeseen circumstances, we are unable to enroll new customers for the private preview at this time.
Right now, we don’t have an ETA to share on when we can roll this out more broadly for customers to try. Sorry !

[2020-05-08 08:16] PaszkoKaminski commented on #12603
It looks like it was fixed in 2.167.0
Thank you

[2020-05-08 08:33] jessehouwing opened #12847 "[UniversalPackages] Publish succeeds with 2 random guids"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UniversalPackages

## Environment
- Server - Azure Pipelines
https://dev.azure.com/devopsmkb/Multivers/_build/results?buildId=19708&view=results

- Agent - Hosted
[code]

## Issue Description

Using the following YAML:

[2020-05-08 11:02] anatolybolshakov commented on #10574
Thanks! I'm closing it at the moment

[2020-05-08 11:02] #10574 closed

[2020-05-08 12:38] henry-padilla commented on #12842
That can't be it.
Please don't let that be it.
Please, please, please, plea... crap.
That was it.

Please close this (and don't tell anyone. Just between you and me).

[2020-05-08 13:32] damccorm commented on #12842
Your secret is safe with me 😉

[2020-05-08 13:32] #12842 closed

[2020-05-08 13:56] Lectem opened #12848 "CMake cmakeArgs does not evaluate environment variables"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:

CMake

## Environment
- Server - Azure Pipelines

- Agent - Private:

Agent name: 'Hosted Agent'
Agent machine name: 'fv-az598'
Current agent version: '2.166.4'
Current image version: '20200430.2'
Agent running as: 'vsts'
Prepare build directory.
Set build variables.
Download all required tasks.
Downloading task: CmdLine (2.164.0)
D

[2020-05-08 14:39] TheRealWaldo commented on #2147
It's not clear here, and I see the question asked, is it possible to access the Pull Request TITLE from the pipelines?

We need this for Standards Validation.

[2020-05-08 15:17] DhirajKhot opened #12850 "Code Coverage Summary in Build"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-08 15:24] DhirajKhot opened #12851 "Blocking Pull Request based on Full Code Coverage"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Ask

**Enter Task Name**: Visual Studio Test v2

## Environment
- Server - Azure Pipelines
https://office.visualstudio.com/Project/_build?definitionId=10497&_a=summary

- Agent - Hosted or Private:
[code]
## Issue Description
I have enabled the

[2020-05-08 15:57] alexander-smolyakov commented on #12773
Hello, @AlbertoDePena!

Could you provide more details about the agent that you use for pipelines? Is this self-hosted agent or its Microsoft-hosted? And which OS (and what version) you use on this agent?  (You can read information about agents on [docs.microsoft.com](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser))

Could you please run the pi

[2020-05-08 16:25] jmyersmsft commented on #12847
I'm not sure how, but our logs indicate the only publishes with that package name actually did publish to the correct feed (116c2548-4364-48b3-bf7b-70a619dd785c in project 514f8a3e-5a1a-4502-b236-2c7abd5d0516)

[2020-05-08 16:40] jessehouwing commented on #12847
I don't know how either. The first few build must have failed, but clearly
didn't.

On Fri, May 8, 2020, 18:25 Jonathan Myers <notifications@github.com> wrote:

[2020-05-08 17:08] jmyersmsft commented on #12847
Was any of this done by "rename" or "move" actions, or is all the new stuff logically independent of all the old stuff?

[2020-05-08 17:20] jessehouwing commented on #12847
Git clone --mirror
Git push --mirror
Pipelines, new pipeline, point to get repo
Save & run

On Fri, May 8, 2020, 19:08 Jonathan Myers <notifications@github.com> wrote:

[2020-05-08 17:21] jessehouwing commented on #12847
The source account is

Unit4.visualstudio.com/SME

On Fri, May 8, 2020, 19:20 Jesse Houwing <jesse.houwing@gmail.com> wrote:

[2020-05-08 17:46] jmyersmsft commented on #12847
Could you try a few URLs for me in a web browser?
1. https://pkgsprodsu3weu.pkgs.visualstudio.com/A47f96b3c-3739-4d80-afc3-9271a07ce4de/Multivers/_packaging/ff9c1e5c-2c23-7652-b3a8-55f5b2652ba0/upack/packages/sme-resxsync/versions/0.0.1?intent=FetchMetadataOnly
1. https://pkgs.dev.azure.com/devopsmkb/Multivers/_packaging/ff9c1e5c-2c23-7652-b3a8-55f5b2652ba0/upack/packages/sme-resxsync/versions/0.0

[2020-05-08 18:07] jmyersmsft commented on #12847
ok, nevermind on that. I think I know approximately what's going on. The wrong guids in the URLs are actually "provenance sessions" - fake feeds that just help us associate some metadata about the build with the upload. There's still a bug, but I think it's in the actual task where it attempts to resolve the GUIDs to names. Still don't know why *that*'s picking the wrong feed instead of failing, b

[2020-05-08 18:25] jessehouwing commented on #12847
So much fun with guids and resolving madness.

On Fri, May 8, 2020, 20:08 Jonathan Myers <notifications@github.com> wrote:

[2020-05-08 19:00] tony-box opened #12852 "Add a "hide all output" feature to Kubernetes@1 task"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Kubernetes@1

- Agent: Hosted

## Issue Description

Please include an additional option under the Advanced -> outputFormat to include "No output"

If you are creating a k8s secret, there is no way to hide the output from the ADO console as the default option is set to '-o json'. Can we please add another parameter option to hide

[2020-05-08 19:44] esunilkumare commented on #9984
@hugo-retro Your solution helped me solve same issue on an Ionic iOS build created from Azure Build Pipelines

[2020-05-08 19:53] #12719 closed

[2020-05-08 20:35] damccorm commented on #12778
Hey @saikiran-karumuri-jdas - this repo is for Azure Pipelines tasks issues, not GitHub Actions. If you have an issue with actions please file it in one of the actions repos (e.g. checkout - https://github.com/actions/checkout#checkout-v2). Actions is a different product and doesn't use our tasks

[2020-05-08 20:35] #12778 closed

[2020-05-09 01:41] devsh4 commented on #11697
Yes, this happened a couple months ago. I added in `npm cache clean --force` and it reduced the number of failed builds substantially, however didn't treat the root cause. FYI, it looks like it's a npm race condition issue.

[2020-05-09 02:24] macromania commented on #12593
I have just tried this task on Azure Pipelines and getting the same error.

pipeline:

[code]

the error message from build logs

[code]

[2020-05-09 08:50] Thilas opened #12854 "Publish artifact fails when retry failed job"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishPipelineArtifact
(and its `publish` yaml alias)

## Environment
- Server - Azure Pipelines

    - account name, team project name, build definition name/build number: https://dev.azure.com/totodem/Test/_build?definitionId=13 (this is just a reproduction environment, it is not my actual pipeline)

- Age

[2020-05-09 10:32] bishal-pdMSFT commented on #12788
@KnutNiehaus this fix will of course help you, but during the course of fixing it we realized that the service connection should actually be having `$ConnectedServiceEndpoint.Auth.Parameters.UseWindowsSecurity` property. But there one small bug due to which it is not present in some connections.
Can you please go to the service connection which is being used in this task for you and try to edit it

[2020-05-09 10:54] bishal-pdMSFT commented on #11151
Thanks to @mbrancato a [PR ](https://github.com/microsoft/azure-pipelines-tasks/pull/12516) is out for adding this support. Please see if the PR is sufficient to handle this issue.

[2020-05-09 11:44] KnutNiehaus commented on #12788
Hi @bishal-pdMSFT, this would be great if this works ;-)  My fast, first try over my smartphone seems to work, but it's hard to read logs on the small screen.  I will evaluate on Monday on my full-size work screen and give you feedback!

BR

Knut

[2020-05-09 12:19] imSaurabh09 opened #12855 "Resync keys of Azure workspace returns error “504 Gateway Time-out”"
I ran resync keys for my active directory Azure workspace. I followed the instructions given at the following links:

(using Try It) https://docs.microsoft.com/en-us/rest/api/azureml/workspacesandcomputes/workspaces/resynckeys#code-try-0

and

(Using Azure Bash) https://docs.microsoft.com/en-us/azure/machine-learning/how-to-change-storage-access-key#code-try-2

But both the cases I got a response

[2020-05-09 21:38] leahwicz opened #12856 "[DTS 12345] Test DTS- Ignore"
Test DTS- please ignore

[2020-05-09 22:52] scheffler commented on #11593
Hit this today. Any update on timing?

[2020-05-09 23:23] jrybacek commented on #11593
As far as I can tell, Microsoft is the only one that can actually accept the pull request.  I could be wrong here, but we are still waiting on Microsoft.  Please keep adding comments to the thread, it appears to be the only way it will get noticed.  Microsoft ignores our complains through our enterprise contract.  I wonder why we even pay it.

[2020-05-10 00:01] alohaninja commented on #12835
@eaarora-ms - this happens across multiple datcenters and is intermittent. It's happened several times this week so we figured we would post to see if others are experiencing this.

 We swap numerous times per day using multi agent config task for global deploys - it's inconsistent but when it happens it makes for a painful user experience as our regions are serving up inconsistent versions. We ar

[2020-05-10 02:22] JohnFF commented on #11593
I had to use the standard copy files as a work around. @stephenmichaelf we need this merged asap!

[2020-05-10 02:22] JohnFF commented on #11593
Just seen 167 open pull requests. WTH!?

[2020-05-10 02:31] leantk opened #12857 "[DTS 1704891] Xamarin.iOS task failure -The specified iOS provisioning profile xxx could not be found"
Please look at DTS 1704891 that has been opened here:
https://dev.azure.com/mseng/_workitems/edit/1704891

[2020-05-10 02:31] leantk opened #12858 "[DTS 1674974] Bug in Java tool installer task with JDK Source option Local Directory"
Please look at DTS 1674974 that has been opened here:
https://dev.azure.com/mseng/_workitems/edit/1674974

[2020-05-10 02:32] leantk opened #12859 "[DTS 1674974] Bug in Java tool installer task with JDK Source option Local Directory"
Please look at DTS 1674974 that has been opened here:
https://dev.azure.com/mseng/_workitems/edit/1674974

[2020-05-10 02:32] leantk opened #12860 "[DTS 1704891] Xamarin.iOS task failure -The specified iOS provisioning profile xxx could not be found"
Please look at DTS 1704891 that has been opened here:
https://dev.azure.com/mseng/_workitems/edit/1704891

[2020-05-10 02:32] #12859 closed

[2020-05-10 02:32] #12860 closed

[2020-05-10 09:53] baoduy commented on #12836
@eaarora-ms sure let me try

[2020-05-10 15:55] Thrameos opened #12861 "JavaToolInstaller needs option for Predefined JDK"
As a prior user requested in
https://github.com/MicrosoftDocs/azure-devops-docs/issues/6630

Unlike the Python tool installer, the Java one requires a large number of required arguments.  I tried now for multiple hours to get it to do the simple task of switching from one preinstalled JDK to another to test a Jar file against multiple Java versions when doing a cross platform testing of a native l

[2020-05-10 16:19] romil07 commented on #12845
This task is not supposed to be used for packages from Nuget.org. It is meant for only packages that live in GitHub.
If you want to use packages from Nuget.org, use the generic Nuget task NuGetCommandV2.

Are you trying to use this as part of yaml pipeline?

[2020-05-10 16:24] romil07 commented on #9754
@TomBruyneel
We did some work around this but we haven't published it. This is going to be a part of release 170.

Expect this to land in 3 weeks from now.

[2020-05-10 16:30] romil07 commented on #11558
This has been fixed in a later version of the task. Closing this.

[2020-05-10 16:30] #11558 closed

[2020-05-10 18:18] MisinformedDNA commented on #12845
Right, I'm trying to install a package from GitHub, but it is trying to restore dependent packages that are _not_ on GitHub.

And yes, this is part of a YAML pipeline. (YAML snippet, logs and build link are included in the OP.)

[2020-05-10 22:00] rdtechie commented on #11136
It should be fixed yes; but the issue is somewhere in the combination of nodejs and sync-request. I encountered the same issue when trying to build the AzurePowerShellV5 task.

For me it started to work after I installed nodejs v8.17.0 and npm v6.9.0.

[2020-05-11 00:37] tj-incycle opened #12862 "Failed to download task 'Download' when using YAML Pipeline"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadPipelineArtifact

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using T

[2020-05-11 04:07] FernandoKGA commented on #12254
@sulabh-msft Hey, know that has been a while, I'm not even using the feature anymore, but how it is going with the bug?

[2020-05-11 05:14] jjburr opened #12863 "Publish Test Results - not working on docker hosted agent"
**Question, Bug, or Feature?**
*Type*: BUG

**Enter Task Name**: Publish Test Results Task

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

- Agent - Hosted or Private: Private servercore:ltsc2019  v2.166.4

## Issue Description

When trying to upload NUnit test results o

[2020-05-11 05:14] GeromeRen commented on #9172
@wahmed23 Yes, i was able to test it out:

test.ps1:

`param
(
    [Parameter(Mandatory=$true)] [string] $PAT,
    [Parameter(Mandatory=$True)][ValidateNotNullOrEmpty()]$AzureDevOpsOrg,
    [Parameter(Mandatory=$True)][ValidateNotNullOrEmpty()]$AzureDevOpsProjectID,
    [Parameter(Mandatory=$true)] [string] $SecureNameFile2Upload,
    [Parameter(Mandatory=$true)] [string] $SecureNameFilePath2Uploa

[2020-05-11 05:48] joerianto83 commented on #12862
Hi guys,

got the same issue here, in Azure Devops, on MS hosted agent.
But what i see is that it happends "randomly".
i have just run the pipeline again , 2 jobs which contains the download steps, seems it is successfull now, but after(now) i tried another pipeline with a download task , it fails again.

**Error:**
Starting: Initialize job
Agent name: 'Hosted Agent'
Agent machine name: 'WIN-E0GLM

[2020-05-11 07:24] eaarora-ms commented on #12229
@ShawnMcGough Hi, I am unable to repro the issue on my end. Please let me know if you're still facing this issue.

[2020-05-11 07:27] eaarora-ms commented on #12836
@baoduy Sure, Please do let us know the results.

[2020-05-11 07:42] prabdeb opened #12864 "Task Docker@2 : Feature request for supporting user provided labels for Docker Image build"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Docker@2

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DockerV2

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
- Agent - Hosted or Private: Hosted (ubuntu-18.04)

## Issue Description

Feature request for supporting user pr

[2020-05-11 07:44] eaarora-ms commented on #12835
@alohaninja  Yes it might be possible that the two operations are colliding with each other since the retry operation is successful. We will add the retry logic as a feature request in our list of enhancements. Thanks for reporting this.

[2020-05-11 09:02] KnutNiehaus commented on #12788
Hey @bishal-pdMSFT , this works!

I edited the not working connections, check the unsecured, uncheck it and then saved them. After that they are working again.

Thank you!

BR

Knut

[2020-05-11 09:23] ds-ms commented on #12864
You can use the `arguments` input right? You'll have to use `build` and `push` separately to provide custom label info.

[2020-05-11 09:27] NickDarvey commented on #10996
...?

[2020-05-11 09:50] prabdeb commented on #12864
@ds-ms Yes, I mainly wanted to avoid having build and push separate

[2020-05-11 10:55] sdobrodeev commented on #12815
@vsd-codesode Can you please provide information about size of the file that you copied?

[2020-05-11 11:00] eaarora-ms commented on #12606
@stelone I understand the error is generated by the task but from what I understood this is not an error we give in our task. This error is related to the Node.
The task fails even when the error is generated by Node.

[2020-05-11 11:01] #12606 closed

[2020-05-11 11:06] nachiketrss opened #12867 "Docker task (build) does not add pipeline metadata labels to all images created using dockerfile"
## Required Information

**Bug**
*Type*: Docker task (build) does not add pipeline metadata labels to all images created using dockerfile

**Enter Task Name**: Docker Task

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Task documentation (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/docker?view=azure-devops) mentions "Metadata added as lab

[2020-05-11 11:39] egor-bryzgalov commented on #12848
Hello, @Lectem!

Thanks for your report! Could you please try to use macro syntax to reference EMSCRIPTEN variable in 'cmakeArgs' by wrapping the variable in parentheses like this?

`'...-DCMAKE_TOOLCHAIN_FILE=$(EMSCRIPTEN)/cmake/Modules/...'`

Please, let us know if it helps. You may also find more information about variables here:
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/v

[2020-05-11 12:00] Lectem commented on #12848
Yes I tried this too and it gave me the following:

[code]

I think it can probably be easily reproduced with any CMake variable and a small CMakeLists.txt

[code]

and something using an env var such as

[code]

(I do not have time to test this right now, but it should help reproduce the issue)

[2020-05-11 12:48] stelone commented on #12606
@eaarora-ms This is **NOT** Node !!!
The log are from task "IIS web app deploy" in a Deploy Pipeline.

The error is due to a package which contain a large number of file.
The package contain Node File, okay, **BUT** there no Node excution there.
It's a task "IIS web app deploy" which is execute there !

Please Re Open this issue !

[2020-05-11 13:00] motorreiziger commented on #11191
Same Issue here with yaml sqldacpactask
##[error]is being dropped, data loss could occur.

[2020-05-11 13:10] jayanta525 commented on #12784
Any solution to this?

[2020-05-11 13:10] snapfisher opened #12868 "AzureAppServiceSettings@1 should not continue until the app service has restarted"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-11 13:11] shw1231 commented on #7659
Is there any update on this issue? I am also facing issue while attaching xunit.xml file

[2020-05-11 13:11] ronbuchanan commented on #11191
Apologies for the long wait for my reply, but I have not changed our DevOps pipeline back to the DACPAC deploy. I am still using a Powershell script to execute SqlPackage.exe with all of the correct parameters. I can provide you with the output, but I'm not sure what good that would do since it is successful.

I will try to get to this test today and post the $LASTEXITCODE.

Example CLI:
[code]

[2020-05-11 13:32] mez12345 commented on #11191
Is there any update on this. I am getting the same behaviour when using DevOps Release Pipelines

[2020-05-11 14:03] eaarora-ms commented on #12606
@stelone I do understand that you are using the task IIS web app deploy. However it's not the task execution logic that has failed here, in fact the task execution logic did not even start.
The first debug statement that the task prints when it starts executing is: "Copying Web Packge" (Please refer: https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/IISWebAppDeploymentOnMachineG

[2020-05-11 15:39] JoostVoskuilAegon commented on #11864
Same here. Normally 1,5 min for 720MB, now it is taking up to 22 min. Lot's of SSL connect errors.

[2020-05-11 17:03] #12857 closed

[2020-05-11 17:33] leantk opened #12869 "[DTS 1712801] TFS failing due to wait on Jenkins"
Please look at DTS 1712801 that has been opened here:
https://dev.azure.com/mseng/_workitems/edit/1712801

[2020-05-11 17:54] ShawnMcGough commented on #12229
Hi @eaarora-ms ! Yes, this is still very much an issue. I can reproduce consistently.

In order to reproduce, it **requires** an Active Directory User with a password that contains a dollar sign ($). I've been able to reproduce this issue consistently by setting the User's Active Directory password to include or not include a dollar sign. It fails with a dollar sign. It succeeds without a dollar s

[2020-05-11 18:13] jpdias92 commented on #12010
In my case, the culprit was the corporate proxy I had configured the agents with. I solved the problem by adding a proxy bypass rule, following these instructions: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/proxy?view=azure-devops&tabs=windows#specify-proxy-bypass-urls

The specific url to add to the rule, I got by enabling the system diagnostics. In the case of Azure Key Vault

[2020-05-11 18:16] ronbuchanan commented on #11191
Here are the results after printing the value for `$LASTEXITCODE`, as requested.

NOTES:
- `***` is a redacted value, not wildcards

[code]

I will most likely continue to use my PS script because it allows me to deploy all of my databases in parallel.

[2020-05-11 19:05] derekrprice opened #12870 "Publish Helm Chart to ACR"
## Required Information
*Type*: Feature

**Enter Task Name**: HelmDeploy

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: PartechGSS/TDP

- Agent - Hosted

    - If using Hosted agent, provide agent queue name: default

## Issue Description
Looking to push our Helm Charts to Azure Container

[2020-05-11 22:21] BlairMcc commented on #12829
I goofed up, there is an extra apostrophe at the end of the arguments line that was throwing everything off
![image](https://user-images.githubusercontent.com/16471369/81617834-42537080-943a-11ea-90c0-474d8e48ec70.png)

[2020-05-11 22:21] #12829 closed

[2020-05-12 00:05] cconrado opened #12872 "Azure Resource Manager (ARM) Template Deployment Task have the WhatIf function"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-12 00:26] fabio-muramatsu opened #12873 "Settting locked mode in nuget restore task to enable caching"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: NuGetCommand

## Environment
- Server - Azure Pipelines
- Agent - Hosted, `windows-latest`

## Issue Description
I'm following [this documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#netnuget) to enable caching for the nuget restore task of my pipeline. The idea is to use th

[2020-05-12 01:25] msebolt commented on #11291
We're still seeing this issue, see https://github.com/MicrosoftDocs/azure-devops-docs/issues/8146.

[2020-05-12 03:35] kulsandesh commented on #6960
I am getting this error when I run build pipeline in azure
##[error]Error: Not found antBuildFile: /home/vsts/work/1/s/build.xml

please suggest
thanks
Sandesh

[2020-05-12 04:40] hbuckle opened #12874 "Azure CLI task errors, but task is marked as success"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureCLIV2

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: cbinfrastructure/cbi buildId=161260

- Agent - Hos

[2020-05-12 05:07] bishal-pdMSFT commented on #12874
@hbuckle can you please enable debug logs and attach it here?
Also can you please attach the yaml for your task instance.
The task will typically not fail if the script returns exit code 0

[2020-05-12 05:44] eaarora-ms commented on #12868
@snapfisher Yes we agree that the app restarts once the settings are applied and adding some timeout after the task is a workaround for that.
We have taken note of this issue and will add it to our feature requests in our list of future enhancements. Thanks for reporting.

[2020-05-12 05:46] eaarora-ms commented on #12843
@AltarBeastiful  Please provide us with the logs to help us debug the issue further.

[2020-05-12 06:27] AltarBeastiful commented on #12843
Fixed it by switching from deploying a single jar file to deploying a folder containing the jar and the web.config needed.

I guess that make sense as it won't have worked without the web.config

[2020-05-12 06:27] #12843 closed

[2020-05-12 07:03] anton-erofeev opened #12876 "Verify the provisioning profile file extension"
**Question, Bug, or Feature?**
*Type*:  Bug

**Enter Task Name**: InstallAppleProvisioningProfile@1

## Issue Description
There is currently no validation of the provisioning profile file extension after reading it from the input. Need to add a validation that the file is a provisioning profile and has the extension ".mobileprovision".

Related issue: https://dev.azure.com/mseng/_workitems/edit/17

[2020-05-12 08:15] bada09089 opened #12877 "Please reopen #12532"
*Type*: Feature

**Enter Task Name**: HelmDeploy@0

## Issue Description

Please reopen the following issue: #12532

[2020-05-12 09:26] dariogriffo opened #12878 "Docker@2 'build' command build context not correct"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-12 09:42] gsscoder commented on #12173
It happens the same with `webapp config access-restriction`.

[2020-05-12 10:22] alexander-smolyakov commented on #11508
Hello, @gpomykala!

Closing now this issue due to a lack of reproducible information, please feel free to reopen it.

[2020-05-12 10:24] alexander-smolyakov commented on #10390
Hello, @borjapuerta!

Closing now this issue due to a lack of response from you, please feel free to reopen it.

[2020-05-12 10:24] #10390 closed

[2020-05-12 10:25] alexander-smolyakov commented on #12759
@bgaprogrammer, closing this since the issue is resolved.

[2020-05-12 10:25] #12759 closed

[2020-05-12 10:25] WPMGPRoSToTeMa opened #12879 "AndroidSigning@3: `zipalign` fails with libz.so.1 not found on Ubuntu"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AndroidSigning@3

## Environment
- Server - Azure Pipelines
- Agent - Hosted (image `Ubuntu-latest`)

## Issue Description

Here is the definition of the pipeline:
https://dev.azure.com/15509/Timetracker-project/_git/timetracker-client?version=GC8818861d040fdeb46b4c8d658abf84a005c74516&path=%2Fci%2Fazure-pipe

[2020-05-12 10:56] dariogriffo commented on #12878
FOund the issue, the dotnet cli publish is deleting the folder I was expecting, so adding zipAfterPublish: false in the previous task solves the problem

[2020-05-12 10:56] #12878 closed

[2020-05-12 11:51] haefele commented on #7749
I have a build script based on [bullseye](https://github.com/adamralph/bullseye) that manually calls into MSBuild.
That allows us to trigger builds manually, independent of Azure DevOps.

Having this logger available would be extremely useful for us tho, so our PR build validation errors show up properly in Azure Pipelines.

[2020-05-12 12:24] #12856 closed

[2020-05-12 13:10] miks commented on #8793
Any news on this? We need to scope docker images with PR name in tag and it seems that this "very advanced" is not available for Azure Devops. GitLab to rescue?

[2020-05-12 13:11] miks commented on #8793
`$System.PullRequest.SourceBranch` is not available from Azure Git repository....

[2020-05-12 13:12] miks commented on #2147
@chrispat why this has been closed?

[2020-05-12 13:24] chrispat commented on #2147
https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#system-variables

System.PullRequest.IsFork | If the pull request is from a fork of the repository, this variable is set to True. Otherwise, it is set to False. | Yes
-- | -- | --
System.PullRequest.PullRequestId | The ID of the pull request that caused this build. For example: 17. (This variable is

[2020-05-12 13:33] bishal-pdMSFT commented on #7749
I did not realize that this issue was still open. As @Blackbaud-TommyVernieri commented [above](598897092) the fix is already done via PR https://github.com/microsoft/azure-pipelines-tasks/pull/12358/files

Regarding the ask for a nuget package so that it can be used outside of ADO, I think this repo is not the right target for such ask as it only tracks task issues. May be a better place is to st

[2020-05-12 13:33] #7749 closed

[2020-05-12 13:33] avilde commented on #10353
I use `jest-junit` and `cobertura` reports both from front-end (create react app, jest) and back-end (.NET Core 3.0) but there is no merge option for both reports.
What a pity.

+1

[2020-05-12 13:35] miks commented on #2147
Is it possible to modify $(System.PullRequest.SourceBranch) variable prior using as container image tag? Otherwise there is no use for it my case (and seems same for others).

[2020-05-12 13:48] TheRealWaldo commented on #2147
Hi @chrispat , none of those expose the pull request Title.

[2020-05-12 13:58] Crispried commented on #12382
Hello,

Any information about this? I got same problem on my machine.

[2020-05-12 14:25] zimmale commented on #10893
@dhilgarth @vhhughes  I notice the same thing, it started a couple of days ago.
As well we are using on-premise agents (behind corporate proxy) and Azure DevOps Services (cloud)
Any suggestions? Report Microsoft?
This is super annoying, to retry 3-5 times... :-(

[2020-05-12 14:35] Crispried commented on #12382
Hello again,

The problem is that probably you have you HOMEDRIVE variable set to U

you can check it by executing echo %HOMEDRIVE% in your cmd

you have to set it to proper system drive (in my case it's C:)
To do it execute in cmd (don't forget to run it as admin) SET HOMEDRIVE=C:

Then just execute vsts-npm-auth -config .npmrc once again

[2020-05-12 14:35] TONYFECTEAU commented on #12382
We recently had to troubleshoot this... it is caused the the environment HOMEDRIVE being set incorrectly.

PS> $env:HOMEDRIVE=c:

You can set the environment variable to C:, and check if this fixes the issue for you.

[2020-05-12 15:12] PaulAxten commented on #10774
Thanks @Ryan-Palmer!

Hi @alexander-smolyakov,

Thanks for picking this one up. Yes, it is still an issue that we're facing. As Ryan says, all other aspects of the transform occur properly, including the package name, but the apk filename appears to be picked up before the package name is transformed.

I've attached the yaml and build log, please let me know if you need anything else.

[PRA6.1-And

[2020-05-12 16:12] ksingh3 commented on #12683
Yes, I ran this with both the versions 0 and 1.

[2020-05-12 17:28] speedcodenet commented on #10399
This worked for me. Thank you!

[2020-05-12 17:34] zimmale commented on #10893
FYI I've reported the issue here: https://developercommunity.visualstudio.com/content/problem/1027334/pipeline-nuget-push-error-failed-to-find-api-locat.html

[2020-05-12 17:37] adrien-constant commented on #7611
I also got this error, and I got it working by setting the **Storage Blob Data Contributor** role to the connection principal of the service connection, as @ChristosMonogios mentioned.

[2020-05-12 21:40] gradyal opened #12885 "Deployment Gate URL suffix field doesn't evaluate user-defined variable"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Invoke REST API Deployment Gate task

## Environment
- Server - Azure Pipelines

    - If using TFS on-premises, provide the version:

    - Account name: ctg1
    - Team project name: CTG Projects
    - Release definition name: Driver Profile (uses classic release, not YAML)

- Agent - Private:

    - OS: Windows NT version 6.3.9600

[2020-05-12 22:09] #12523 closed

[2020-05-13 00:01] leantk commented on #10350
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-13 00:01] leantk commented on #10254
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-13 00:01] leantk commented on #9905
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-13 00:01] leantk commented on #9864
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-13 00:01] leantk commented on #9812
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-13 02:53] EFanZh commented on #11459
Hi @kaadhina, I think this issue still exists. See [this page](https://dev.azure.com/EFanZh/a142a4f5-d1aa-4ad6-9e36-c326724a6f11/_apis/test/CodeCoverage/browse/4809904/Code%20Coverage%20Report_174/section_12_3_insertion_and_deletion_mod.htm). Can you check?

[2020-05-13 06:03] #12827 closed

[2020-05-13 06:48] eaarora-ms commented on #12836
@baoduy Can you please let me know if you were able to try the workaround?

[2020-05-13 06:54] eaarora-ms commented on #11191
Yes, SQLPackage.exe should have ignored the warning when /BlockOnPossibleDataLoss is being set to false. I will check it.

Meanwhile, can you please check in your DB project properties ( project > properties > debug) that checkbox for "Block on incremental deployment if data loss occurs" is disabled.

Screenshot

https://user-images.githubusercontent.com/16772764/41333279-e0828ede-6efe-11e8-9a8b-f

[2020-05-13 06:55] zimplerconsulting commented on #8793
@ustun Thanks for the information on this script. We also have a .ps1 script in our Pipeline where I have a $url as parameter coming from the pipeline. In this variable I try to give the branch name of the PR like this:

`-url https://$(System.PullRequest.SourceBranch).test.mydomain.nl`

For some reason this is still always 'merge'. I'm not sure if your bash script could be of help here?

[2020-05-13 07:32] hbuckle commented on #12874
@bishal-pdMSFT - It has only happened twice so I don't have a debug log, but this is the yaml

[code]

The `throw` statement combined with `powerShellErrorActionPreference: stop` should cause a terminating error and fail the task, which is what usually happens

[2020-05-13 07:54] Paul-ICS commented on #12263
@pandey-laxman, sorry missed this email!

It needs to go in the arguments field in the Xcode task.
This is how my Xcode task looks (in yaml):
[code]

[2020-05-13 08:30] singhsarab commented on #12670
@MarkKharitonov This seems by design for now. We are working on the new experience.
Thanks for sharing the workaround.

[2020-05-13 08:30] #12670 closed

[2020-05-13 08:34] #12589 closed

[2020-05-13 08:51] mmuffins commented on #12515
The issue occurs for us occasionally, the last time being about two hours ago on a hosted windows-2019 agent, with agent version 2.168.2, image version 20200430.2 and task version  0.168.0.
It's not the biggest problem since just rerunning the stage fixes the issue, but it's annoying as it fails a build, kicking off notifications, prompting manual intervention.

[2020-05-13 12:04] ShreyasRmsft commented on #12388
Closing this here as this is being tracked on the developer community ticket by the Test Plans team.

https://developercommunity.visualstudio.com/content/problem/923467/vstest-no-longer-runs-all-tests-in-a-suite-with-a.html

[2020-05-13 12:04] #12388 closed

[2020-05-13 12:41] KevinSibue commented on #6416
Hi @madhurig,

I know it's an old post, but it fits my current problem perfectly. I want to use codesign directly from a Bash script. However, when I do that, I get a "Permission denied" error. And I can't figure out how to give the rights to my script to use keychain temp.

Can you help me?

Kévin

[2020-05-13 14:10] egor-bryzgalov commented on #12879
@WPMGPRoSToTeMa Thank you for the report!
Could you please try to add Bash task with this command to your pipeline:
`sudo apt-get -y install lib32z1`
It seems that this package is missing.

[2020-05-13 14:21] WPMGPRoSToTeMa commented on #12879
@egor-bryzgalov this helped, thank you. Here is a link to the successful build:
https://dev.azure.com/15509/Timetracker-project/_build/results?buildId=53&view=results

As I can see this bug was here for a long time, but no one reported about it:
`Let’s change the vmImage to a Mac one, this will fix a problem of path for the zipalign tool:`
https://damienaicheh.github.io/azure/devops/2019/06/13/how

[2020-05-13 14:30] ricohomewood opened #12891 "Azure Powershell Task intermittently throwing "504 Gateway Timeout""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShell

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide t

[2020-05-13 15:01] c-eliasson opened #12892 "Error in post-job step of CacheV2 task when caching yarn packages"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CacheV2 (https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/CacheV2)

## Environment
- Server - Azure Pipelines
    - Account name: markethype
    - Team project name: MarketHype
    - Build ID: 1563

[2020-05-13 16:47] V-vltru opened #12894 "PublishTestResults@2 task encapsulates all the test results in a single test run"
Hello,

Could anybody please help me with making "PublishTestResults" task upload test results correctly without merging them in a single test run? Some details are below.

I have several test runs which results I need to upload to ADO. They are stored in several *trx files. How can I upload these test results without merging them into one test suite? I need to have the same amount of test suites

[2020-05-13 17:42] boxrick commented on #9673
Good afternoon, please can you enable this for gregorypennington org.

[2020-05-13 18:22] qwertylolman opened #12895 "NuGetCommand@2 ignores vstsFeed argument when command is set to 'custom'"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NuGetCommand@2

## Environment
- Server - Azure Pipelines
- Agent - any hosted agent

## Issue Description
task ignores vstsFeed argument

- task: NuGetCommand@2
    displayName: 'Install Dotfuscator package'
    inputs:
      feedsToUse: 'select'
      vstsFeed: '$(NugetFeedToRestoreFrom)'
      command: 'cus

[2020-05-13 20:35] ustun commented on #8793
@zimplerconsulting sorry, I haven't used azure in a while and my memory is a bit fuzzy. The way I used to debug this would be to output all the vars (`env` in bash). Maybe that helps in your case?

Also maybe you could trigger the ps1 script not via the pipeline, but from another ps1 script which has access to env vars? I vaguely remember doing funny stuff like that to overcome azure's shortcoming

[2020-05-13 22:59] leantk commented on #11247
@meriturva we are still deploying the change out and it most likely hasn't reached your org yet. What is your org name and I can double check when it should get to you?

[2020-05-14 00:01] leantk commented on #9701
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-14 00:01] leantk commented on #9614
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-14 00:01] leantk commented on #9505
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-14 00:01] leantk commented on #9501
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-14 00:01] leantk commented on #9450
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-14 00:45] heaths commented on #9450
I would expect the feature team to triage appropriately, either to backlog it or close it. There's nothing more I can really add: the request stands, and would make this consistent with many (most?) other tasks that allow one to override the path to tools for this very reason (not everything is on the PATH). That said, there are workarounds (like adding it to the PATH in another task).

[2020-05-14 02:02] mwanchap commented on #11322
For other confused Googlers like me landing on this page: if you're only doing a substitution rather than a transformation, and it's being applied successfully but you're still getting this weird error for no apparent reason, it's because there's a sneaky undocumented default transformation happening. Remove the default transformation by adding `xmlTransformationRules: ''` as pointed out by Nishan

[2020-05-14 02:06] rifuller commented on #8920
This also left me very confused.  This obviously should work on linux hosts.

[2020-05-14 02:34] Blackbaud-BobbyEarl commented on #11558
Could you provide more details @romil07?  Perhaps link to a commit or PR?  Does "later version" mean the same V0 of the task or something else?  Thanks!

[2020-05-14 05:23] meriturva commented on #11247
@leantk here the name: https://dev.azure.com/gruppo-raffaello/

[2020-05-14 06:57] ds-ms commented on #12867
@sonayak to check it out!

[2020-05-14 07:36] iashishmittal commented on #9673
Sharing service connection is now GA and available to all ADO customers.
Following doc contains all information related to service connection new experience
https://docs.microsoft.com/en-us/azure/devops/pipelines/library/service-endpoints?view=azure-devops&tabs=yaml

[2020-05-14 07:37] Miles-Davies-HORIBA commented on #7243
I am currently suffering from this issue also. I will work around in the shell but this issue should really be fixed. Open for 2 years now :-(

[2020-05-14 08:04] Miles-Davies-HORIBA commented on #11593
@ShreyasRmsft please review this. I have had to use pwsh to work around this issue which should be a simple fix for you guys :-)

[2020-05-14 08:20] lukas-ais commented on #8793
Once again, I do not want to use a script to update the build name. This is only a work-around.

I would like to have a build variable providing the brach name, independent whether this a branch build or a merge build.

[2020-05-14 08:30] nachiketrss opened #12900 "Docker task - Label keys depend on the agent config (azure pipeline agent vs self-hosted agent)"
**Question, Bug ?**
*Type*: Docker task - Label keys depend on the agent config (azure pipeline agent vs self-hosted agent)

**Enter Task Name**: Docker task

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description

Pipeline's docker task (build) automatically adds meta data to the docker image if the 'Add Pipeline metadata to image(s)' setting is enabled. However, the la

[2020-05-14 08:40] Bidthedog opened #12901 "Feature: Share cache across pipelines"
## Required Information

*Type*: Feature

**Enter Task Name**: Cache (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/cache?view=azure-devops / https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/CacheV2)

## Environment
- Azure Pipelines (yml)
- Can provide account / build / pipeline information privately
- Agent - Hosted vs2017-win2016

## Issue Description

[2020-05-14 08:41] Bidthedog commented on #12901
I am considering taking a look into producing a PR for this, let me know if its something you're interested in.

[2020-05-14 08:46] ds-ms commented on #12900
Do you have any examples?

[2020-05-14 09:09] GaryStrange commented on #11261
Could you share the exact Yaml syntax?

Doesn't like mine...

- task: DotNetCoreCLI@2
  enabled: true
  displayName: 'Run GremlinApp'
  inputs:
    command: 'run'
    projects: './GremlinApp/GremlinApp.csproj'
    workingDirectory: './GremlinApp'
  env: AUTHKEY KEY

[2020-05-14 09:20] nachiketrss commented on #12900
Please see below. I have also added to the original post.

Self hosted agent adds labels starting with:
com.visualstudio.OrgName.image.build...... where OrgName is name of organization

Where as this documentation says (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/docker?view=azure-devops) azure pipelines agent adds labels starting with:
com.azure.dev.image....

[2020-05-14 09:59] ShreyasRmsft commented on #11593
@Miles-Davies-HORIBA sadly i'm not the owner for this task and the practice is generally for code owners or the team that owns the task to approve the PR.

Also FYI a couple of tests are failing https://github.com/microsoft/azure-pipelines-tasks/pull/11594/checks?check_run_id=673857387

I'll see what I can do and drop a mail to @stephenmichaelf and a few others who might be able to help here.

[2020-05-14 10:39] NickDarvey commented on #11840
I just stumbled on this as I had to use the `UseDotNet@2` task for the first time to install a recently released version of the SDK. The current behaviour of the task is excellent,

This is exactly what I needed, and after I enabled it with `useGlobalJson: true`, it worked exactly as expected. Thanks for this feature!

[2020-05-14 12:59] leantk commented on #11247
Thanks @meriturva! Yes, the change has not made it to you yet. Hopefully by tomorrow if all things go according to plan

[2020-05-14 13:07] sdobrodeev commented on #9765
@soooraj Please confirm that this issue is still actual for you.

[2020-05-14 13:12] PierrickMarchand opened #12904 "Unable to download a secure file from Azure Devops Server, on a Private Agent"
## Required Information

*Type*: bug

**Enter Task Name**: DownloadSecureFileV1

## Environment
- Server - TFS on-premises

    - If using TFS on-premises, provide the version:
    Azure DevOps 2019.1

- Agent - Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version:
Private agent, running on Docker (default base image from Microsoft). Ubuntu

[2020-05-14 13:13] damccorm commented on #9246
Hey, sorry for the slow response here. To set a secret variable using `##` commands, you need to set `issecret=true` in your command, e.g. `##vso[task.setvariable variable=testvar;issecret=true]testvalue`.

See https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/authoring/commands.md for full docs

[2020-05-14 13:13] #9246 closed

[2020-05-14 13:14] damccorm commented on #9046
@Tofalvy could you share your logs from the failing build?

I think this should've been fixed, so I'm surprised to hear you're still encountering the issue

[2020-05-14 13:15] damccorm commented on #8778
I'm going to close here since this isn't a task specific issue, sorry its sat so long. If you'd still like this, please open a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html

[2020-05-14 13:15] #8778 closed

[2020-05-14 13:16] damccorm commented on #8681
Is this still an issue? If it is, please file an issue at https://github.com/microsoft/azure-pipelines-agent. The checkout task is actually built into the agent, so that's the best place to address issues with it - sorry this has sat for so long.

[2020-05-14 13:16] #8681 closed

[2020-05-14 13:18] damccorm commented on #8585
@jtpetty I think this one is worth having someone investigate even though its been sitting a while

[2020-05-14 13:22] damccorm commented on #8475
I don't think we want to do this for the reasons Matt and Bryan listed above - there's just not a great cross-plat way of doing this - so I'm going to close.

@deadlydog I think you're talking about a different task entirely (PowerShell vs PowerShell on target machines)

[2020-05-14 13:22] #8475 closed

[2020-05-14 13:23] damccorm commented on #8455
Closing since we don't have a repro. If anyone else is running into similar issues, I'd recommend filing a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html which is for more general service issues like this

[2020-05-14 13:23] #8455 closed

[2020-05-14 13:23] damccorm commented on #8418
Hey all, sorry this has sat for a while - are people still running into this issue?

[2020-05-14 13:26] damccorm commented on #8351
@kittenpoop are you still experiencing this issue? It seems like there is probably some issue here with the underlying file system

[2020-05-14 13:28] damccorm commented on #8348
Yep, I'd echo that advice - using output variables is probably the easiest thing here. I'm going to close since it seems like this has been answered and has been inactive for a while. If you'd like it reopened, comment and we can do that

[2020-05-14 13:28] #8348 closed

[2020-05-14 13:29] damccorm commented on #8318
I think this was fixed separately by https://github.com/microsoft/azure-pipelines-tasks/pull/11760

[2020-05-14 13:29] #8318 closed

[2020-05-14 13:30] damccorm commented on #8132
Hey @jo3yk are you still running into this issue? Sorry its sat for a while here - since this is more of a service issue and not a task specific issue, would you mind opening a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html? That will help it get triaged and seen by the right people

[2020-05-14 13:30] #8132 closed

[2020-05-14 13:33] giggio commented on #11261
This works:

[code]

[2020-05-14 13:34] ricohomewood commented on #12891
Seems this _could_ be related: https://github.com/Azure/azure-powershell/issues/9467

[2020-05-14 13:38] damccorm commented on #10333
This was fixed in https://github.com/microsoft/azure-pipelines-tasks/commit/b1ca02a94b456f61fdb9e1d01ec6633e52b1f40c, sorry we missed updating here

[2020-05-14 13:38] #10333 closed

[2020-05-14 13:40] damccorm commented on #10441
Hey, sorry this slipped through the cracks. Since this is a more general issue with the service and not a specific task, would you mind opening a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html? That's the best place for issues like this that aren't for a individual task since this repo's code base doesn't include input validation.

Again, sorry for the delayed response

[2020-05-14 13:40] #10441 closed

[2020-05-14 13:41] damccorm commented on #10449
@SergiyDivnych sorry for the slow response here - are you still running into this issue?

[2020-05-14 13:46] SergiyDivnych commented on #10449
Fixed, thanks

[2020-05-14 13:47] #11303 closed

[2020-05-14 13:50] damccorm commented on #11448
I'm going to close here since the issue should be resolved. If that's not the case, please make sure you've upgraded to the most recent agent version and comment here and we can reopen

[2020-05-14 13:50] #11448 closed

[2020-05-14 13:53] #10449 closed

[2020-05-14 15:33] singhsarab commented on #12657
@connelhooley Your issue seems to be different from the original issue filed. Can you please file a separate one? Ideally there should be no mismatch of the version, hosted agents get updated regularly.

[2020-05-14 16:17] johnterickson commented on #12901
Hi @Bidthedog - Thanks for offering to help! Unfortunately, the code changes required here are server-side.  This is trickier than it might seem at first because this is an insidious attack vector.

Even if I don't have write access to a repo or it's CI build, I could go create a new pipeline that reads from that repo, but puts something "evil" in the cache.  The CI build (that I don't have access

[2020-05-14 16:23] Bidthedog commented on #12901
OK, thank you for your response. It's not the end of the world, it just means that MUCH more cache space is taken up, and less-frequently-run builds do not take advantage of the cache; some of the pipelines - as you might imagine - are not executed regularly, so it would be handy if they used the cache when they do run. Others run multiple times per day.

Tbh, I'd much rather do this with a single

[2020-05-14 16:52] singhsarab commented on #12657
@KitoCoding This seems to be an issue with the dotnet test verb itself. If you run dotnet test locally, I am sure you'd get exit code as 1. I would suggest file/move issue to https://github.com/microsoft/vstest

[2020-05-14 18:48] leantk opened #12905 "[DTS 1716250] DTS [Pipelines]: Task CopyFilesOverSSH SSH service connection Unsupported key format"
Please look at DTS 1716250 that has been opened here:
https://dev.azure.com/mseng/_workitems/edit/1716250

[2020-05-14 18:56] andschwa commented on #2147
FWIW, for a _PR release pipeline_ using artifacts from a _PR build pipeline_, a similar issue occurs. On inspection, at least of today, the variable `BUILD_PULLREQUEST_SOURCEBRANCHNAME` will be correct (i.e. the PR's branch name, not "merge").

I _think_ the difference in name is due to `System.PullRequest.SourceBranch` being passed along to the release pipeline.

[2020-05-14 19:42] miks commented on #2147
Why so many things on Azure DevOps is very complicated and at the same time there is no support for basic things like manual jobs?
The current state of Azure DevOps is something like infamous IE6 with hacks, mysterious UIX, bugs, and half baked features everywhere (but at least some guys from Microsoft board can say - we have cloud DevOps service, too, yiiihaah). Does it really need to be as a for

[2020-05-14 21:43] johnterickson commented on #12784
Are you out of disk space?

[2020-05-15 00:01] leantk commented on #9351
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-15 00:01] leantk commented on #9272
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-15 00:01] leantk commented on #9239
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-15 00:01] leantk commented on #9196
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-15 00:01] leantk commented on #9185
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-15 00:01] leantk commented on #9028
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-15 00:01] leantk commented on #9021
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-15 00:01] leantk commented on #8964
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-15 00:03] stephenmichaelf commented on #11593
PR in progress here, almost done with testing then will merge: https://github.com/microsoft/azure-pipelines-tasks/pull/12902

[2020-05-15 02:37] Lemmih commented on #12784
I'm using a hosted agent and it fails while saving a snapshot using the built-in caching job. Maybe azure is out of disk space or maybe I've hit a quota or something. I'm not sure how to tell.

[2020-05-15 03:19] mrdavidkendall opened #12908 "azurecli fails login if password starts with hyphen"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-15 03:20] mrdavidkendall commented on #12908
https://github.com/microsoft/azure-pipelines-tasks/pull/12909

[2020-05-15 03:21] leantk commented on #11548
Closing as a duplicate to this open issue: https://github.com/microsoft/azure-pipelines-tasks/issues/11852

[2020-05-15 04:12] Lemmih commented on #12784
I ran the pipeline again and the issue has gone away. Oh well.

[2020-05-15 04:12] #12784 closed

[2020-05-15 07:13] DhirajKhot commented on #12850
@ShreyasRmsft Can you provide anything on this?

[2020-05-15 07:14] DhirajKhot commented on #12851
@ShreyasRmsft Can you provide anything on this?

[2020-05-15 08:03] phwecker opened #12911 "AzureFunctionsApp@1 : deployment with 'Runtime Stack' value is breaking app service"
Question, Bug, or Feature?
Type: Bug

Enter Task Name: AzureFunctionsApp@1 Task

Environment
Server - Azure Pipelines
Agent - Hosted

this is similar to issue described in #12514, which was closed (unfortunately "normal users" on github cannot re-open an issue), please merge back this one if required.

### issue

when selecting a value from "Runtime Stack" in task, the resulting value seems to be

[2020-05-15 10:25] navin22 commented on #12863
@jjburr Can you try passing the searchFolder input, like in issue https://github.com/microsoft/azure-pipelines-tasks/issues/10072

[2020-05-15 11:04] #12879 closed

[2020-05-15 13:11] MattDavisRM commented on #9021
It is a feature request asking for some uniformity across how selection of the build pipeline works.  The pipeline names are not constrained to be unique across folders, so selection can become difficult if the name is duplicated.

[2020-05-15 15:04] jdallegion commented on #2116
Can we even get an idea of WHAT the issue was?  Experiencing the same issue today.

[2020-05-15 15:37] brvaland commented on #11570
Any update on this issue?

[2020-05-15 16:14] eaarora-ms commented on #12836
Closing due to no response from the customer. Please comment to re-open the issue.

[2020-05-15 16:14] #12836 closed

[2020-05-15 20:40] sec23206 opened #12912 "Azure DevOps release pipeline fails on kubectl command"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-15 21:53] orktopus opened #12913 "AzureCLI@V2: documentation should have examples"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-16 00:01] leantk commented on #10281
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-16 00:01] leantk commented on #10271
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-16 00:01] leantk commented on #10158
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-16 00:01] leantk commented on #8947
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-16 00:01] leantk commented on #8914
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-16 00:01] leantk commented on #8885
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-16 00:01] leantk commented on #8737
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-16 00:01] leantk commented on #8730
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-16 00:01] leantk commented on #8701
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-16 04:44] jjburr commented on #12863
Hi Narin

We are running with a search folder defined.

However no results are uploaded.

On 15/05/2020, at 10:26 PM, Navin <notifications@github.com> wrote:

﻿

This message originated from outside the company.

@jjburr<https://github.com/jjburr> Can you try passing the searchFolder input, like in issue #10072<https://github.com/microsoft/azure-pipelines-tasks/issues/10072>

—
You are receiving t

[2020-05-16 06:29] pandey-laxman commented on #12263
@Paul-ICS  Thank you very much, Now I am getting different error couldn't find path for **exportOptionsPlist: 'pipelines/export.debug.plist'**.

[2020-05-16 09:01] jjburr commented on #12863
I should add that the task doesn’t fail, it exits without error in this case but also doesn’t upload the test results.

On 16/05/2020, at 4:44 PM, Joe Burrows <joe.burrows@cireson.com> wrote:

﻿
Hi Narin

We are running with a search folder defined.

However no results are uploaded.

On 15/05/2020, at 10:26 PM, Navin <notifications@github.com> wrote:

﻿

This message originated from outside the co

[2020-05-16 11:02] ManuInNZ opened #12914 "Azure IoT Edge - Deploy to IoT Edge devices Error: Error: Endpoint auth data not present:"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureIoTEdgeV2

## Environment
- Server - **Azure Pipelines**
- Agent - **Hosted or Private  (happens on both)**

    - If using Hosted agent, provide agent queue name: **Azure Pipelines**
    - If using private agent, provide the OS of the machine running the agent and the agent version:
      **Ubuntu 16 + edge image from the marke

[2020-05-16 14:12] krokofant commented on #12799
@damccorm This will probably be properly fixed by PowerShell 7.0.1

Via this issue: https://github.com/PowerShell/PowerShell/issues/11827

[2020-05-16 15:20] fluffy-cakes opened #12915 "[InstallSSHKey@0] AzDO agent insufficient permissions to run SSH task when installed as a service"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: InstallSSHKey@0

## Environment
- Server - Azure Pipelines:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

Account Name: fluffypaulmackinnon
Project N

[2020-05-16 16:18] #8947 closed

[2020-05-16 17:03] #11548 closed

[2020-05-16 17:45] anandchugh commented on #12598
Used this task to check for code coverage
[code]

[2020-05-16 19:34] krispenner commented on #9673
This is great, just searched to see if this was possible - perfect timing :)

I'd prefer the project name not be appended onto the shared service connection name, curious why you chose to do that as there would be no naming conflict to not append it. Just shared 3 service connections across 50 projects and then spent an hour opening every single project and editing each shared service connection t

[2020-05-16 23:05] ManuInNZ commented on #12914
@prativen , @kmkumaran ,

Happy to have a quick Teams meeting on it if it helps.

Cheers
Manu

[2020-05-16 23:34] saleelpk95 commented on #11444
+1
Only after I manually delete the WEBSITE_RUN_FROM_PACKAGE setting, the function becomes visible in the portal. I believe that this setting is being added automatically. I had deployed using ARM templates and I didn't have this setting in it. If this setting is enabled by default, is there a way to override and disable it using ARM templates?

[2020-05-16 23:41] brminnick commented on #10281
This feature is still not implemented in the App Center Test Task for Xamarin.UITest

[2020-05-16 23:50] mustafaoral commented on #11640
@bjorn-ali-goransson You can use the `custom` command. This will allow you to specify arguments.

[code]

[2020-05-16 23:50] ManuInNZ commented on #12914
to me looks like the agent is not able to get the auth token for ARM.
 e.g. on my agent

[code]
When I get the token I can then have successful API calls to management.azure.com.
I suppose the task is doing this but not sure.

[2020-05-17 00:01] leantk commented on #8552
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-17 00:01] leantk commented on #8511
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-17 00:01] leantk commented on #8419
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-17 00:01] leantk commented on #8415
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-17 00:01] leantk commented on #8406
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-17 00:01] leantk commented on #8398
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-17 00:01] leantk commented on #8338
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-17 00:01] leantk commented on #8240
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-17 00:01] leantk commented on #8133
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-17 00:01] leantk commented on #8085
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-17 00:01] leantk commented on #8073
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-17 08:15] bergmeister commented on #8133
Please re-consider keeping it on the backlog since it is a reasonable request.

[2020-05-17 13:48] digitalinfinity commented on #12771
This doesn't seem to be limited to self-hosted agents- I can repro this on the hosted pool with the following yaml:
[code]

I'm not sure if there's a workaround here short of what @waynesi did (using a self-hosted agent + dummy parameter patch)

[2020-05-17 16:23] Sike123 commented on #12548
@vineetmimrot  @jaliyaudagedara  Thank you both for reporting and solving this issue here. I almost lost a day trying to make it work out. The issue with me was i didnt install dotnetsdk.

[2020-05-17 21:29] craigkc commented on #8450
+1... I was shocked to see that instructing the pipeline to publish a package that doesn't exist or couldn't be found isn't an error.  It should at least provide an _option_ to specify the severity of that event.

[2020-05-17 21:49] yojanmorales commented on #11424
Hey there!
Any solution?

[2020-05-17 22:45] paulw11 commented on #11424
Did you check the value you have entered carefully as per my previous comment. This task works for me

[2020-05-17 23:01] yojanmorales commented on #11424
Works fine, thanks a lot

[2020-05-18 00:01] leantk commented on #8066
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #8025
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7987
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7844
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7795
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7573
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7559
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7557
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7550
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7549
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7492
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7429
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7426
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7390
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7268
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7230
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7174
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #7117
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6955
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6942
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6860
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6816
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6748
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6681
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6671
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6634
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6617
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6492
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6445
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6425
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6245
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:01] leantk commented on #6231
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-18 00:09] amrmahdi commented on #7268
This is still an issue

[2020-05-18 03:18] GeromeRen commented on #9673
is it possible to share a service connection between different organizations for now?

[2020-05-18 04:42] Adebeer commented on #12808
This issue is still occurring for me - any update on this?

[2020-05-18 05:06] Capellio commented on #11424
This is the answer

[2020-05-18 05:56] bergmeister commented on #6617
Bump

[2020-05-18 08:04] joaomoreno commented on #6671
Well, we just found workarounds for this, don't really need it any more.

[2020-05-18 08:20] ds-ms commented on #12824
@josh-01 to take a look!

[2020-05-18 08:24] ds-ms commented on #12400
@josh-01 to take a look

[2020-05-18 08:26] ds-ms commented on #12885
@ankitk94 to take a look

[2020-05-18 08:40] ranjak commented on #12644
Hi, I know it isn't very polite to bump my own issue, but since it hasn't received any feedback I figured it might have flown under the radar?

[2020-05-18 09:13] ukhan262 opened #12919 "task: AzureAppServiceSettings@1 - false error while validating JSON"
Question, Bug, or Feature?
Type: Bug

Enter Task Name: AzureAppServiceSettings@1 Task

## Environment
- Server - Azure Pipelines
    - Account Name: Wedgewoodco
    - Team Project: Fortress
    - BuildId: 57

- Agent - Private:
    - OS: Windows Server 2016

## Issue Description

This task is reporting false positive related to json being not valid. I would like to have this checked out. I have va

[2020-05-18 11:11] egor-bryzgalov commented on #10829
@mdobric Could you please confirm that the issue is still reproduced? Thank you!

[2020-05-18 11:19] sec23206 commented on #12912
Also posted this to StackOverflow and a response there pointed out that the command option should only be the "get" and "pods" is an argument.  Even though I now have a different issue, that appears to be the solution to the original question.   Though it is odd that the syntax of the resulting command is now `kubectl --kubeconfig _<file>_ get -n rpaapis pods`; so it stuck the namespace option bet

[2020-05-18 11:19] #12912 closed

[2020-05-18 11:23] ds-ms commented on #12900
cc: @tauhid621 to take a look at this.

[2020-05-18 11:25] ds-ms commented on #12642
cc: @ganeshrockz to take a look

[2020-05-18 12:23] NFGodoy opened #12921 "Azure CLI task seems to have a problem with <"
I need to create alert rules. It seems that the < is what is causing the error. I can run those 'az
 monitor' commands successfully in the cloud shell. So the syntax is correct.

call az monitor metrics alert create -n alert1 -g rgcanary  --condition 'avg availabilityresults/availabilitypercentage < 99' --scopes /subscriptions/XXXXXXXXXXX/resourceGroups/RGCanary/providers/microsoft.insights/compon

[2020-05-18 12:24] singhsarab commented on #12740
@annthom01 Can you please share the diagnotics logs for us to look further into this issue?

[2020-05-18 12:38] PierrickMarchand commented on #12904
As a workaround:

Set Environment variable
NODE_TLS_REJECT_UNAUTHORIZED=0

Not the cleanest.

[2020-05-18 12:58] ankitk94 commented on #12885
Hi @gradyal , we do support use of custom variables in deployment gates, but as of now we don't support resolving variables for more than 1 level for server task (or agentless task). You are able to see the value in "Initialize Job" because that is a part of agent job (and hence able to resolve variable).

If you try to provide a simple value to a user defined variable (and not another variable as

[2020-05-18 13:07] scsloan commented on #12824
This wasn't fully setup on our end. Azure KeyVault was holding a empty string for username. After supplying a value, this worked as expected.

[2020-05-18 13:07] #12824 closed

[2020-05-18 13:11] damccorm commented on #12771
;tldr be careful using versions of Node > 6 in containers to execute tasks.

I added a PR to fix this particular issue. With that said, there's a larger issue here that could cause other issues here. Right now, our agents use Node 6 to execute tasks (I know Node 6 is pretty old) - Node 6 is packaged with the agent. All our tasks are guaranteed to work with Node 6, but beyond that all bets are off

[2020-05-18 13:17] waynesi commented on #12771
@damccorm Thanks a lot for fixing this issue. Regarding the recommended Node version for bespoke containers, I'm sure you know the best. However I was following this https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azure-devops#bring-your-own-nodejs which says Node 10 LTS is a safe choice. Maybe the document needs update?

[2020-05-18 13:22] damccorm commented on #12771
@waynesi thanks for calling that out, I'll try to get that updated

[2020-05-18 14:13] 1stewart opened #12924 "AzurePowerShell with Az 3.8.0 causing false positives in Pester"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzurePowerShell

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

**Account Name:** MerlinPlatform.
**Team Pro

[2020-05-18 14:45] vicky252046 opened #12925 "Gateway Timeout Error on Azure"
Getting the below error while creating any resource on my Azure Portal. Please help
FYI : Its a free tier account
{
    "error": {
        "code": "GatewayTimeout",
        "message": "The gateway did not receive a response from 'Microsoft.Storage' within the specified time period."
    }
}

[2020-05-18 15:17] damccorm commented on #12925
Hey @vicky252046 is this an issue with a task? This seems like a more general Azure issue, not Azure DevOps (we're a different product). Could you open an issue with Azure Support https://support.microsoft.com/en-us/help/4026305/sql-contact-microsoft-azure-support?

If this is an issue with an Azure DevOps task, feel free to comment with the task name and we can reopen.

[2020-05-18 15:17] #12925 closed

[2020-05-18 15:55] alexander-smolyakov commented on #12773
@AlbertoDePena, please let me know if this issue is still actual for you.

[2020-05-18 16:44] eegabeeva opened #12926 "How can I use AzureAppServiceSettings to set an App Service/Function to "Always On"?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AzureAppServiceSettings

## Environment
- Server - Azure Pipelines
    - account name: vale-devops
    - team project name: Digital-Lab
    - build definition name: covid19-import-data
    - build number:

- Agent

[2020-05-18 16:50] #12771 closed

[2020-05-18 16:55] SteffenMangold opened #12927 "Docker push without tags"
## Note
The command `docker push` from Docker task 2.0 throws an exception if you do not provide Tag.

Background:
I have two separate build pipelines. First is a pure build with `docker save` into artifacts.
The second use the created image with `docker load`.
The image is tagged with `latest` and `$(Build.BuildId)`.
I now simply want to run `docker push`  without any tags to push all local tags

[2020-05-18 17:14] #6955 closed

[2020-05-18 18:25] gradyal commented on #12885
@ankitk94 Thanks for the response. Can you tell me if multiple levels will be supported at some point? Is there a feature request out there for that?

[2020-05-18 20:35] marncosta commented on #7621
Restart the windows services was enough to solve my problem..

[2020-05-18 20:35] jonstelly commented on #4743
Out of curiosity, should output variables be usable in a deployment environment name?

I've got a multi-stage build with a `build`, `test` and `deploy_dev` stage...  I can use variables like `Build.SourceBranchName` in the environment name but not output variables.

I'm running agent version `2.168.2`.

None of the commented out environment fields works.  Is it something simple I'm missing?

Here

[2020-05-18 20:50] MorganRodgers commented on #12927
This issue on VisualStudio is related: https://developercommunity.visualstudio.com/content/problem/1031312/cannot-read-property-split-of-null.html. I believe that the issue lies in the lack of `null` checking here:

https://github.com/microsoft/azure-pipelines-tasks/blame/master/Tasks/DockerV2/dockerbuild.ts#L45

Previously it wasn't a naive `split`, although I haven't tracked down what `getDelimi

[2020-05-18 21:16] MorganRodgers commented on #12927
Found it: `getDelimitedInput` defined in [azure-pipelines-task-lib](https://github.com/microsoft/azure-pipelines-task-lib/blob/2e3cdea38f49c7a1a225ebde1b2e353a0abacaf1/node/task.ts#L259-L273) only supported a string as a delimiter instead of the Regexp that is now being used to support both comma and newline. There are tests covering this job, those tests do not cover the case where there are no G

[2020-05-18 22:14] #12921 closed

[2020-05-18 22:17] NFGodoy commented on #12921
I found the problem. I simply replaced single quotes by double quotes. Interestingly this is not an issue in cloud shell. if it had failed straight away in cloud shell i would not have spent so much time trying to figure out the issue.

[2020-05-18 22:55] Chris113113 opened #12928 "Using build logging commands for tag management"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-19 00:01] #10350 closed

[2020-05-19 00:01] #10254 closed

[2020-05-19 00:01] #9905 closed

[2020-05-19 00:01] #9864 closed

[2020-05-19 00:01] #9812 closed

[2020-05-19 00:01] #9701 closed

[2020-05-19 00:01] #9614 closed

[2020-05-19 00:01] #9501 closed

[2020-05-19 00:01] #9505 closed

[2020-05-19 00:01] leantk commented on #6092
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-19 00:01] leantk commented on #5116
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-19 00:01] leantk commented on #5043
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-19 00:01] leantk commented on #5019
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-19 00:01] leantk commented on #5018
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-19 00:01] leantk commented on #4417
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-19 00:01] leantk commented on #4283
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-19 00:01] leantk commented on #4129
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-19 00:40] leantk commented on #11247
@meriturva we are still blocked on our current deployment so my apologies, it's taking a few more days to get to you

[2020-05-19 01:50] bishal-pdMSFT commented on #11640
Agree with @mustafaoral 's suggestion. Although not consistent, it is reasonable workaround. I would love to hear feedbacks though.

[2020-05-19 03:54] nexsodev commented on #5577
Download the source code, compile, install packages and create a tar file.
Or just [click here](https://drive.google.com/open?id=1aJypGRMLEa-hyr43filHhloCsyyh3VMX). I already done this for you.
Simple install the tar:
`npm i ./securefiles-common.tar`

[2020-05-19 05:30] ankitk94 commented on #12885
@gradyal As of now we are not planning to add support for the same. We do have a support of resolving it to 2 levels in yaml pipelines but not in classic release. You can try to use it and instead of deployment gates policy in RM you can add Invoke REST API check on a resource for yaml pipelines for similar experience.

[2020-05-19 05:32] eaarora-ms commented on #12926
Hi @eegabeeva  We have already mentioned the setting in our readme here : https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureAppServiceSettingsV1

[code]

[2020-05-19 05:33] #12926 closed

[2020-05-19 05:37] eaarora-ms commented on #12919
@ukhan262 The issue is not with the JSON being invalid. It is actually failing at updating the app settings part: https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureAppServiceSettingsV1/azurewebappsettings.ts#L62

We will resolve the error logs issue, however, to find out the actual reason why your pipeline is failing can you please attach your release debug logs here after

[2020-05-19 05:50] #11846 closed

[2020-05-19 06:11] ukhan262 commented on #12919
@eaarora-ms please check out full logs in the pipeline in the zipped folder. The logs for the specific function app deployment are attached separately as well in the text file.
[logs_4398.zip](https://github.com/microsoft/azure-pipelines-tasks/files/4648515/logs_4398.zip)
[Deploy_FunctionApps_Project.txt](https://github.com/microsoft/azure-pipelines-tasks/files/4648517/Deploy_FunctionApps_Project.

[2020-05-19 06:38] issacnitin commented on #12689
@Tobnac I was able to repro the issue, seems like this is an issue with the specific password you're using
[code]
As a workaround, please change the password to alphanumeric while we fix the issue. Thanks a lot for raising this issue!

[2020-05-19 07:01] eaarora-ms commented on #12919
@ukhan262  Hi I see from the logs that you are updating the app service settings immediately after deploying it. Can you please try adding a sleep of about 15-20 seconds after the deployment and before the app service settings task and let us know the results?

[2020-05-19 07:15] Ganeshrockz commented on #12642
@eegeeZA  The current behaviour is by design that we had and we dont intend to change it in the near future.You can add the different tag/repo combinations with the docker tag command in the subsequent steps.For different registries you can use multiple logins like you have suggested as a workaround.

[2020-05-19 07:32] issacnitin commented on #12689
This is happening because ```^``` is escape character in command prompt. You can either use ```"$(SslCertPassword)"``` or add an extra ```^``` before ```^```

[2020-05-19 08:06] sonayak commented on #12867
@nachiketrss I am assuming that you are doing a multi-stage docker build. Docker command line tool does not provide the support to tag or label intermediate images. We can put tags and labels only on the final image. The intermediate images are supposed to be temporary images.
Can you explain your use case to understand this requirement?

[2020-05-19 08:15] nachiketrss commented on #12867
On a self-hosted agent once the docker build/push is completed (using the docker task), I wanted to prune the images created as part of the build. So I did docker image prune based on `buildnumber` filter only to realize that the intermediate image is not getting pruned.

[2020-05-19 08:18] ukhan262 commented on #12919
@eaarora-ms still facing the same issue. I added a ps command after the azure function deployment and before the AzureAppServiceSettings task to sleep the thread for 20 seconds.
`sleep -s 20`
please check out the logs in the attachment.
[deploy logs with sleep.txt](https://github.com/microsoft/azure-pipelines-tasks/files/4649074/deploy.logs.with.sleep.txt)

[2020-05-19 08:48] eaarora-ms commented on #12919
PR for updating error logs: https://github.com/microsoft/azure-pipelines-tasks/pull/12931

[2020-05-19 08:50] insanity13 commented on #1441
So what the issue?
1. Got "The 'Query' and the 'InputFile' options are mutually exclusive." when passing "/p:CommandTimeout=3600"
2. Got "
A positional parameter cannot be found that accepts argument '/p:CommandTimeout=3600'." when passing "/p:CommandTimeout=3600 /TargetTimeout:3600"
3. Without parameters getting "Execution Timeout Expired.  The timeout period elapsed prior to completion of the op

[2020-05-19 08:58] eaarora-ms commented on #12919
Please confirm :
1. If you are able to update the app settings from the Azure portal
2. If you are able to successfully run the tasks with all the other tasks disabled.

[2020-05-19 08:59] eaarora-ms commented on #12919
@ukhan262 Please confirm :
1. If you are able to update the app settings from the Azure portal (if not. please tell us the error which you are seeing there).
2. If you are able to successfully run the tasks with all the other tasks disabled.
3. You app service is up and running.

[2020-05-19 09:10] insanity13 commented on #1441
Used a different task "Execute SQL Script" it worked well.

[2020-05-19 09:14] larssb commented on #12771
Sorry for writing on a closed issue. But I can't see where else I should go with this @damccorm.

I'm having the same issue with an Azure pipeline. The error: `Callback must be a function` is thrown. I can that #12923 has been successfully merged. However, I guess it hasn't been released to Azure DevOps just yet? When and how does such a fix get into Azure Pipelines and its helper components?
Furt

[2020-05-19 09:28] freewheelnat opened #12932 "Randomly getting "504 Gateway timeout" in Gradle task"
The last 7 days, we have been seeing about 50% failures of our builds, due to 504 Gateway Timeout.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Gradle

## Environment
- Server: Azure Pipelines
thameswater
Fieldworks
Several pipelines affected: TW-Digital-Android-App-PR, TW-Digital-Android-App-QA, TW-Digital-Android-App-PR-UAT, TW-Digital-Android-App-Commit_Build
Example build

[2020-05-19 09:41] #12795 closed

[2020-05-19 09:44] lawrencegripper opened #12933 "Azure `addSpnToEnvironment` has a casing bug which causes environment variables to not be published"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: BUG

**Enter Task Name**: AzureCLI Task

list here:
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureCLIV2/azureclitask.ts#L112

## Environment
- Server - Azure Pipelines
- Agent - Hosted or Private:

[code]

## Issue D

[2020-05-19 09:49] lawrencegripper commented on #12933
Added a PR to resolve - https://github.com/microsoft/azure-pipelines-tasks/pull/12934

What is the best way to test this one out? I've just made the change in an editor and pushed at the moment.

[2020-05-19 10:46] waynesi commented on #12771
Hi @larssb

You can patch the task code on your local. Go to the machine running your agent, and open the agent working folder. Then go into `{YOUR_AGENT_WORKING_FOLDER}\_work\_tasks`, where you can see something like `PowerShell_e213ff0f-5d5c-4791-802d-52ea3e7be1f1`. If you don't see such folder, you need to run your pipeline on that agent at least once so that the agent will download this task.

[2020-05-19 11:18] ArieHein commented on #4417
Cant comment more then my original feature request that imho should be very easy to implement.
Allowing both extension creators but also pipeline creators and implementers to document the steps within the pipeline (both UI and YAML) is extremely important for future management and maintenance of pipelines.
I would even add now, 3 years later that if we in the notes filed point to a wiki md file it

[2020-05-19 11:19] #4417 closed

[2020-05-19 11:22] sonayak commented on #12867
Thanks @nachiketrss for sharing the use case. As per solution specified in Docker forums for this specific problem, people are using custom LABELs in intermediate builds to help in pruning only those intermediate builds. They are putting the LABELs in Dockerfile. I am providing the links below for reference.
https://github.com/moby/moby/issues/34151#issuecomment-478802490
https://forums.docker.com

[2020-05-19 12:01] #12867 closed

[2020-05-19 13:04] AlexandrKravchuk opened #12935 "JavaToolInstaller - usage of public libraries to Install"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: JavaToolInstaller

Make the support of picking up the JDK archive from public libraries.

[2020-05-19 13:53] shigupt202 commented on #12798
@padeshaies Thanks for bringing this to our attention. This seems to be the same bug as reported in this issue: https://github.com/microsoft/azure-pipelines-tasks/issues/11931.
I'm working on a fix for this.

[2020-05-19 14:17] damccorm commented on #12771
Sorry about this, forgot that my pr would close this issue, I meant to circle back here when it did. All of our in the box tasks go out with the hosted service. Are you using Azure DevOps Server (on-prem) or are you using our cloud hosted service? If you're using the cloud hosted service you should get the patch automatically in the next few weeks. We don't roll our patches everywhere at once, we

[2020-05-19 14:22] waynesi commented on #12771
Hi @damccorm thanks a lot for mentioning tfx-cli; I didn't know it before. I'm also wondering, if I delete the powershell task from the `{AGENT_WORKING_FOLDER}\_work\_tasks` folder, will the agent pull down the latest patched version?

[2020-05-19 14:30] damccorm commented on #12771
@waynesi it won't until its published to your account (and once its published it will replace your cached version anyways). It gets published to your account as part of our release process which will be rolling over the next 3 weeks

[2020-05-19 15:14] zachariahcox commented on #12928
@wnjenkin @jtpetty I think there's an API for this right?

[2020-05-19 17:24] kim3er commented on #9046
Still affecting me. Here is my log:

[code]

[2020-05-19 18:45] Josh-01 commented on #12536
Hi,

The 'waitForCompletion' option is currently not available for HttpChainRequest task by design.
You could raise it as a feature request, which we could look at in coming sprint.

For hiding the variable could you please try the following :
Add 'access_token' or the bearer token variable as an environment variable and set it as secret :
value as $(<variableName that needs to be hidden in respon

[2020-05-19 18:53] abatishchev opened #12937 "DownloadPipelineArtifact: Object reference not set to an instance of an object."
## Required Information

**Question, Bug, or Feature?**  Bug
**Enter Task Name**: `DownloadPipelineArtifact@2`

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines,

Org: microsoft
Project: Universal Store
Build: 50530

- Agent - Hosted or Private:

Pool: Universal Store

## Issue Description

DownloadPipelineArtifact fails with `NullReferenceException` and without any fu

[2020-05-19 19:24] ukhan262 commented on #12919
@eaarora-ms thanks for fixing the error log. Do you know when would that be rolled out?

[2020-05-19 19:41] kim3er commented on #9046
I can also confirm that manually deleting the *.app file/folder solves the problem.

[2020-05-19 20:54] ukhan262 commented on #12919
for #1, I was able to update on Azure portal.
for #2, running my builds now. I will share the results.
for #3, the app service is up and running.

[2020-05-19 21:38] abatishchev commented on #12368
+1. Right now running the pipeline with diagnostic logs on adds nothing to the output of DownloadPipelineArtifact.

[2020-05-19 21:42] lucasledesma commented on #12467
Same issue here

Test task
- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: 'test'
    arguments: ' -s .\Accuv.Workflow.Test\test.runsettings'
    projects: '$(System.DefaultWorkingDirectory)/Accu.Workflow.sln'- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: 'test'
    arguments: ' -s .\Accuv.Workflow.Test\test.runsettings'
    projects: '$(Sys

[2020-05-20 00:01] #9196 closed

[2020-05-20 00:01] #9185 closed

[2020-05-20 00:01] #8964 closed

[2020-05-20 00:01] #9028 closed

[2020-05-20 00:01] leantk commented on #7887
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-20 00:01] leantk commented on #6976
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-20 02:10] gaz91au opened #12938 "IIS Web App Manage - Error when using double back slash in Physical Path"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: IIS Web App Manage

## Environment
- Server - Azure Pipelines
- Account Name: gary.huynh@thedocyard.co
- Project Name: tdyapp

- If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    - Project Name: tdyapp
    - Build Definition Id: 12
    - Build Defin

[2020-05-20 05:27] eaarora-ms commented on #12911
Not able to repro the issue. It is working fine on my end.
@phwecker Please share your pipeline logs as zip after setting system.debug as true and redeploying the pipeline.

[2020-05-20 05:28] eaarora-ms commented on #12919
@ukhan26 It will take around 4-5 weeks for the changes to reach all the accounts.

[2020-05-20 05:37] eaarora-ms commented on #12938
@gaz91au Can you please set system.debug as true in pipeline variables, redeploy and share the logs?

[2020-05-20 06:09] gaz91au commented on #12938
Thanks for the quick response @eaarora-ms , much appreciated! I have turned system.debug on and got the following logs:

[code]

[2020-05-20 06:29] gaz91au commented on #12938
sorry @eaarora-ms , i just edited to show the correct logs with **The parameter is incorrect.**

[2020-05-20 07:03] gaz91au commented on #12938
@eaarora-ms if it helps, this is my task yaml
[code]

[2020-05-20 07:20] eaarora-ms commented on #12938
@gaz91au  Mostly this error occurs when your IIS website is not assigned to a valid application pool. Can you please verify that the default app pool exists and let us know?
Also, can you try using the Create/Update App pool option from the task and let us know the results?

[2020-05-20 07:27] bishal-pdMSFT commented on #6860
This is work is completed and service connection now has an option to use server cert common name

[2020-05-20 07:27] #6860 closed

[2020-05-20 07:51] gaz91au commented on #12938
@eaarora-ms i can confirm that the IIS Website already is up and running and has a valid application pool assigned to it.

Im hesitant to use Create/Update App pool because ive already got a valid application pool and dont want to override any existing settings.

[2020-05-20 08:10] Mobrockers opened #12939 "UseDotNet fails to resolve older version dotnet 3.1.202 sdk package"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UseDotNet

## Environment
Azure Devops Server 2019.1.1

Private agent with version 2.153.1 on windows server 2016
## Issue Description
UseDotNet fails to install dotnet 3.1.202 since last night yet it is available in https://github.com/dotnet/core/blob/master/release-notes/releases-index.json

Changing to 3.1

[2020-05-20 08:34] ruijarimba commented on #10262
I have the same issue as @mozts2005.

Migrating all scripts (probably hundreds) to use Az module is not an option. Also, adding `Enable-AzureRMAlias` to the top of each script is not a great idea, at least according to me.

`You can use V4 tasks for the scripts which is already updated with Az commands and keep using V3 task for old scripts.` - this doesn't seem a good idea as well as we don't wan

[2020-05-20 08:46] eaarora-ms commented on #12938
@gaz91au Can you please try restarting the IIS Website and let us know the result?

[2020-05-20 08:59] lawrencegripper opened #12940 "NPM Flags 11 security vulnerabilities in Javascript deps"
Running `npm install` shows 11 vulnerabilities using `npm audit` creates the following output.

I'm unclear of the impact of these but wanted to flag for review by someone more familiar with the project.

[code]

[2020-05-20 08:59] #12657 closed

[2020-05-20 09:50] hvinett commented on #12851
Hey @DhirajKhot ,as above information is very trivial we could  proceed to next step. can you please provide the follwing details
1)debug logs (system.debug = true)
2)sample public repo with this yaml definition and test project

[2020-05-20 09:52] hvinett commented on #12817
Hey @TroyWalshProf  ,as above information is very trivial we could  proceed to next step. can you please provide the follwing details
1)debug logs (system.debug = true)
2)sample public repo with this yaml definition and test project

[2020-05-20 10:11] sdobrodeev commented on #12200
Hi @MarkKharitonov! I tried to reproduce this. Partially successful, but the error message is different from what is contained in the description. Could you please provide the content of your azure-pipelines.yml file? It was also noticed that such an error message occurs when there is no access to the source archive with Java. Could you make sure that the file is available at the task execution mo

[2020-05-20 10:13] SuperDuperOne commented on #8818
Hi,
I'm experiencing the same issue with the Azure Copy SSH Task,
where do I actually use ssh-keygen -t rsa -m PEM when i'm simply trying to copy over files via SSH?
do I need an additional task for this?

![image](https://user-images.githubusercontent.com/23457220/82434553-e799c480-9a8a-11ea-87f7-ce24cd95b9a5.png)

[2020-05-20 10:52] jkonecki commented on #12835
I'm runing into the same problem, but in my case it's happening every time I try to swap slots on different AppServices (although they use the same App Service Plan).

The same error appears when trying to swap though pipeliens (standard task) and also through the Portal.

![image](https://user-images.githubusercontent.com/1775247/82438039-54638d80-9a90-11ea-851f-fe40b5242ca8.png)

This started ha

[2020-05-20 11:52] larssb commented on #12771
@damccorm ... using Azure DevOps, then I understand your latest input in the way that the following are my options:

1. Wait a few weeks until the patch hits our account and thereby will be fetched by our on-prem build agents
1. Do as @waynesi explains, patch locally on all my agents

?? Thank you

[2020-05-20 11:53] jkonecki commented on #12835
I've stopped some of the slots - didn't help.
I've finally managed to swap after scaling App Service plan up from S1 to S2.

@eaarora-ms please reclasify this issue as a bug. I'm happy to provide more info if needed.

[2020-05-20 11:58] gaz91au commented on #12938
@eaarora-ms still getting the same error after restarting the IIS Website

[2020-05-20 12:47] jtpetty commented on #12928
@Chris113113 -  There is a REST API call to get the details for a build which should include the tags.

https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/get?view=azure-devops-rest-5.1

[2020-05-20 12:55] ChrisFulstow commented on #12938
@gaz91au does the path `\\AzureFileShare\Website\1.1.0` already exist? Could it be trying to create the directory but not have permissions? Just looking at the log:
`##[debug] Creating website physical path \\AzureFileShare\Website\1.1.0`

[2020-05-20 13:11] damccorm commented on #12771
If you are using the on-prem version of the software (Azure DevOps Server) this won't work - we don't push any updates there. If just your agents are hosted on-prem that's fine and it will work.

I wouldn't recommend this path, if you need this immediately then I'd recommend you upload a patched version of the task yourself using the [tfx-cli](https://www.npmjs.com/package/tfx-cli)

[2020-05-20 13:25] ActualReverend commented on #9649
Could this process be shown here?

[2020-05-20 13:42] TroyWalshProf commented on #12817
@hvinett - The point of this is for y'all to test/use your nuget package before it gets generally  released.
This would help avoid issues such as https://github.com/microsoft/vstest/issues/2408

@nohwnd as to your comment:
"but vstest is then consumed in multiple ways, including azdo vstest task. The task is owned by a different team and I believe this would belong into their validation pipeline i

[2020-05-20 13:53] ShreyasRmsft commented on #12817
@TroyWalshProf we have a task in our backlog to come up with a pipeline that can consume the testplatform package from a private myget feed (un-released packages that are candidates for release).

[2020-05-20 14:02] chuck-hunter opened #12949 "Visual Studio Test deleting trx files and other artifacts on task completion rather than waiting until pipeline completes"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Visual Studio Test

## Environment
If using Azure Pipelines, provide the account name, team project name, build definition name/build number:  I can provide this information privately.

## Agent
Private, Windows 10 Pro

[2020-05-20 14:18] #12861 closed

[2020-05-20 14:22] larssb commented on #12771
Okay I'll try with `tfx-cli`. Just how do I find the collection URI for e.g. the `tfx-cli upload ....` cmd.

[2020-05-20 14:26] joshmgross commented on #8818
👋 @SuperDuperOne please open a new issue, this one is closed.

[2020-05-20 14:28] nohwnd commented on #12817
@TroyWalshProf that's okay. I don't think we even disagreed on anything, I am just saying that the linked pipeline is probably not the best place to test this.

[2020-05-20 14:37] Ettores88 commented on #12927
When the PR 638 will be merged in **master** are you going to replace the `split `with the `getDelimitedInput `?

There is an ETA to the resolution of this bug?

This issue forced us to edit twelve pipelines.

[2020-05-20 15:24] joshan1120 opened #12951 "noob question..."
Resolved on my own thanks closing

[2020-05-20 15:46] damccorm commented on #12751
Closing due to inactivity

[2020-05-20 15:46] #12751 closed

[2020-05-20 15:49] damccorm commented on #12725
Closing due to inactivity

[2020-05-20 15:49] #12725 closed

[2020-05-20 15:50] #12629 closed

[2020-05-20 15:53] damccorm commented on #12450
Closing due to inactivity

[2020-05-20 15:53] #12450 closed

[2020-05-20 15:54] damccorm commented on #12240
Closing due to inactivity

[2020-05-20 15:54] #12240 closed

[2020-05-20 16:34] #12876 closed

[2020-05-20 17:00] mananshah19 opened #12953 "AzureFileCopy@4 : Unable to get FQDN for all resources in ResourceGroup"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-20 17:05] AlexandrKravchuk commented on #11247
@meriturva It seems like we have the changes deployed. I'm sorry about this delay. Could you please run it again and share the logs. Thank you!

[2020-05-20 17:16] MarkKharitonov commented on #12200
I have worked around the problem by copying the zip file locally. The code I finally use is this:
[code]
I do not have cycles to investigate it any further.

[2020-05-20 18:13] V-vltru commented on #12894
Hello, I looked through the source code of PublishTestResults@2 task and found a constraint there which encapsulates all runs in one when the amount of .trx files is more than 100. But for the enterprise project I'm working on it is too few. We have about 500 ones.

Is it possible somehow to get around this restriction? I would like to be added as a contributor and make this task better and more f

[2020-05-20 18:57] BillyONeal opened #12954 "Powershell task goes into 'debug' mode for some errors which hangs the pipeline forever"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Bug.

**Enter Task Name**: PowerShell@2

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: dev.azure.com/vcpkg, "public", "microsoft.vcpkg.pr".

-

[2020-05-20 18:59] BillyONeal commented on #12954
(I'm not sure exactly what is causing it to get stuck but if I had to guess, I'd guess we're emitting something not accepted in the encoding the powershell task thinks we're using)

[2020-05-20 18:59] satbai commented on #12562
I have discussed this with the team and we have decided not to add this functionality to the task. Instead of using these "bulkier" tasks we now recommend using the [NuGet Authenticate](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops) task to authenticate to Azure DevOps Artifacts feeds and to use a script task with nuget/dotnet to use the

[2020-05-20 18:59] #12562 closed

[2020-05-20 19:06] strega-nil commented on #12954
Should we downgrade?

[2020-05-20 19:14] MorganRodgers commented on #12927
@Ettores88 I've opened a PR that could be used as a fix for this issue: https://github.com/microsoft/azure-pipelines-tasks/pull/12955. As for an ETA that'll be up to the good folks at Microsoft.

So far I've only had to work around two broken pipelines, but there could be up to 8 more for me; agreed that this is frustrating.

[2020-05-20 19:20] meriturva commented on #11247
@AlexandrKravchuk here new log file:
[4_Securely copy files to the remote machine.log](https://github.com/microsoft/azure-pipelines-tasks/files/4658855/4_Securely.copy.files.to.the.remote.machine.log)

[2020-05-20 19:58] joshan1120 commented on #12951
This may help show what I mean.

![image](https://user-images.githubusercontent.com/22891676/82491533-5fc3b280-9aaa-11ea-8e70-59a1810e4728.png)

[2020-05-20 21:51] BillyONeal commented on #12954
@strega-nil  Downgrade what?

[2020-05-20 22:12] ssorokoski commented on #4743
I am currently running a hosted agent 2.169.0 and I was able to access the output variables from inside a "deployment" job as you have indicated above.

However what lead me here is that I am not able to access the output of a deployment job from any other job, just steps inside the deployment job. It doesn't seem to matter if I use powershell to write an output value or if I use the deploymentOut

[2020-05-20 22:42] gaz91au commented on #12938
@ChrisFulstow yes `\\AzureFileShare\Website\1.1.0` exists.

[2020-05-20 23:05] olga-microsoft commented on #12240
I worked around by not using Powershell and using bash in the Pipelines and haven't tried again.

[2020-05-20 23:34] magleaso commented on #12895
When using YAML there's no clear indication of this, but the custom command means all inputs except "arguments" are ignored. The user passes arguments to the NuGet client without any assistance from the task. We are winding down support for this heavyweight task. We recommend moving to the [NuGet Authenticate task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authent

[2020-05-21 00:01] leantk commented on #10101
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-21 00:10] #12951 closed

[2020-05-21 00:12] gaz91au commented on #12938
@ChrisFulstow @eaarora-ms Its definitely a permissions issue, im using the VMSS TeamServicesAgent Extension which executes this pipeline and when it checks if the path exists, it fails to find the path. Is it because its trying to check a path that is a authenticated Azure File Share path?
- `##[debug]Checking website physical path exists \\AzureFileShare\Website\1.1.0`

[2020-05-21 02:21] ChrisFulstow commented on #12938
@gaz91au I'm pretty sure this task does a `Test-Path` to first check whether the physical path exists before updating IIS. Which credentials is it using to connect to the file share? I think it should be:
[code]

[2020-05-21 04:24] chshrikh commented on #12953
are some VMs are behind some kind of proxy / firewall ?

[2020-05-21 05:23] anshi03 commented on #12850
@DhirajKhot  We are developing new code coverage feature where you will be able to see code coverage data in the tab itself. But  due to some unforeseen circumstances, we are unable to make it GA .
Right now we don't have an ETA to share on when we can roll this out for customers to try. Sorry !

[2020-05-21 05:47] Marco-Santoni opened #12958 "AzureFunctionApp: Python remote build via requirements.txt"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureFunctionAppV1

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFunctionAppV1

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Descript

[2020-05-21 06:53] #12373 closed

[2020-05-21 07:10] #12933 closed

[2020-05-21 07:24] lbalceda commented on #11658
Please!

[2020-05-21 08:20] Styxxy commented on #12562
Thanks for the feedback.
Seems this means we should abandon any tasks all together and go back to scripting...

[2020-05-21 09:08] SuperDuperOne opened #12962 "Copy Files Over SSH: Cannot parse privateKey: Unsupported key format"
Hi,
I'm experiencing the same issue with the Azure Copy SSH Task,
where do I actually use ssh-keygen -t rsa -m PEM when i'm simply trying to copy over files via SSH?
do I need an additional task for this?

![image](https://user-images.githubusercontent.com/23457220/82434553-e799c480-9a8a-11ea-87f7-ce24cd95b9a5.png)

[2020-05-21 10:06] Zac-HD commented on #9302
@vtbassmatt - any updates to share?

I'm adding Python 3.9 to our build in https://github.com/HypothesisWorks/hypothesis/pull/2445, and I'd love to have an allowed-to-fail matrix entry for 3.10 / nightly too.

[2020-05-21 10:08] hvinett commented on #12740
@annthom01 any updates on this?

[2020-05-21 10:49] dazinator opened #12963 "AzureWebAppContainerV1 hidden param ends up being used"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureWebAppContainerV1

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account na

[2020-05-21 10:59] kuchniak opened #12964 "Error when deploying nginx-controller using helm with Azure Pipelines to AKS cluster"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy@0

## Environment
- Server - Azure Pipelines

- Agent - Hosted Hosted (ubuntu-latest)

## Issue Description

When trying to deploy nginx ingress controller using helm from Azure Pipelines to AKS cluster I am reviving following error:

` ##[error]Error: rendered manifests contain a resource that already exists. Unable to co

[2020-05-21 11:02] dazinator commented on #12963
I think I have finally found the issue that has cost me about 6 hours of investigation.

![image](https://user-images.githubusercontent.com/3176632/82552489-1df24500-9b5a-11ea-902f-280372737705.png)
![image](https://user-images.githubusercontent.com/3176632/82552576-45e1a880-9b5a-11ea-8ce4-79930b7ee044.png)

If you untick that checkbox in the above screenshot, for some reason, the task when it exe

[2020-05-21 11:29] egor-bryzgalov commented on #10829
Closing the issue due to lack of information, please feel free to reopen it.

[2020-05-21 11:29] #10829 closed

[2020-05-21 11:48] einko commented on #11051
Any update for this?

[2020-05-21 11:52] vtbassmatt commented on #9302
@Zac-HD sorry, still nothing. It hasn't been forgotten, but we've had a number of other priorities. Does one of the above workarounds help at all?

[2020-05-21 11:56] Zac-HD commented on #9302
No worries, I'll look into setting up a separate job for it, or might just get around to moving to GitHub Actions as I have for smaller projects :smile:

[2020-05-21 12:28] PDostalek opened #12966 "[loc][Query][azure-pipelines-tasks /VSOAgent_BuildTask] Localizability of strings"
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Thanks in advance for the reply

Id | File Name Live Page Extended | String Resource ID | Full Source String | Extended Description | Answer Needed By
-- | -- | -- | -- | -- | --
50,187 | AzureAppServiceSettingsV1\Stri

[2020-05-21 12:38] mapo80 commented on #12823
Hi, I've the same problem on MacOS, I have:

What to do?

[2020-05-21 12:38] alexander-smolyakov commented on #12773
Hello, @AlbertoDePena!

Closing now this issue due to a lack of response from you, please feel free to reopen it.

[2020-05-21 12:38] #12773 closed

[2020-05-21 13:06] RajatDoshi opened #12967 "Error in "Build using AppService-Build""
I am trying to deploy my web-app on azure but when I try to build and deploy my python web-app, I get the following error in the GitHub actions area.

Build using AppService-Build4s
Error: Couldn't detect a version for the platform 'python' in the repo.
Run azure/appservice-build@v1
/usr/bin/docker run --name be76db05733f291aa64600801e34fd0af54828_771a97 --label be76db --workdir /github/workspace

[2020-05-21 13:25] anton-erofeev commented on #9783
Hello, @shogerr , @denis-panov !

Could you please provide your organization name from Azure DevOps? This will help us make sure that you receive a bug fix update.

[2020-05-21 14:29] ds-ms commented on #11051
If you set `outputFormat: ''` like this.. it won't add `-o` to the commands!

[2020-05-21 14:29] #11051 closed

[2020-05-21 14:40] djj0809 commented on #9565
Hi @vtbassmatt, what do you mean by "Not supported"?

[2020-05-21 14:43] manikantabandaru commented on #12800
I am using  Azure App Service Settings  but still i got below error

[code]
I see while pipeline is pushing the settings, the key is missing in the start, you can find in above code also

[2020-05-21 14:52] pllim commented on #9302
@Zac-HD , if you have "allowed to fail" working for Actions, I would like the recipe. Thank you!

[2020-05-21 14:57] anton-erofeev commented on #12478
Closed as duplicate https://github.com/microsoft/azure-pipelines-tasks/issues/10683

[2020-05-21 14:57] #12478 closed

[2020-05-21 15:00] manikantabandaru commented on #12800
The real problem lies that we should not give the settings in JSON format and should follow -Key value format

We should update the documentation here https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-app-service-settings?view=azure-devops  where appsettings  is still json format as below
`  [
        {
          "name": "APPINSIGHTS_INSTRUMENTATIONKEY",
          "value":

[2020-05-21 15:11] kdubau commented on #6492
Given it's well over two years later, I don't work on this project any longer and don't have the means to let you know if it's still an issue or not. If no one else has complained, I suspect we can close it. Thanks!

[2020-05-21 15:11] #6492 closed

[2020-05-21 15:18] Zac-HD commented on #9302
@pllim I'll be experimenting with https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idcontinue-on-error and will let you know how it goes.

[2020-05-21 15:22] MarkKharitonov commented on #10405
Is there an ETA for this? We have an issue where cisco has blacklisted the IP address 199.232.36.133 and all of our pipelines are failing now because of this. If this issue was fixed, at least we could have fetched it from the cache until the cisco issue is resolved.

Here is what we get:
Failed to download or parse release-index.json with error: {"errno":"ETIMEDOUT","code":"ETIMEDOUT","syscall":"

[2020-05-21 15:22] vtbassmatt commented on #9565
Designer-based builds don't accept output variables from other jobs. That's a feature only in YAML.

[2020-05-21 17:20] vsd-codesode commented on #12815
File size is around 530mb.

[2020-05-21 18:20] #12642 closed

[2020-05-21 18:50] strega-nil commented on #12954
Azure pipelines

[2020-05-21 20:00] mananshah19 commented on #12953
Yes its an AD VM and is behind firewall

[2020-05-21 20:13] arek-avanade commented on #12229
@ShawnMcGough Many thanks for reporting this issue! I spent last 2h trying to figure out why my script is failing.

@eaarora-ms @Ajay-MS I'm also able to easily reproduce this. If my AD password contains $ sign, the task fails exactly like Shawn described. When I changed my password by replacing $ sign with @ for example for the same account, everything suddenly started to work fine.

[2020-05-21 21:59] leantk commented on #11288
Closing out since we haven't heard anything back but please reopen if you are still seeing the issue

[2020-05-21 21:59] #11288 closed

[2020-05-21 22:01] leantk commented on #10779
Closing out since we haven't heard anything back. Please feel free to reopen if you are still seeing the issue

[2020-05-21 22:01] #10779 closed

[2020-05-21 22:03] leantk commented on #11362
This is the location for the most current Mac image
https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md#xcode

[2020-05-21 22:03] #11362 closed

[2020-05-21 22:11] leantk commented on #10758
There hasn't been any response back so I'm going to close this out but please feel free to re-open if you are still seeing this issue

[2020-05-21 22:11] #10758 closed

[2020-05-21 23:44] gaz91au commented on #12938
@ChrisFulstow You're right, it fails at `Test-Path`, Ive updated the task to use `AZURE\<storage-account-name>` but that didnt fix it.

One thing to note is that im using the VMSS Azure Agent Extension, and it installs the agent under `NT AUTHROTY\SYSTEM` account, which i think doesnt have permissions to do the `Test-File`.

When i remote into the VMSS Instance as an admin and manuially do a `Test

[2020-05-22 00:04] ChrisFulstow commented on #12938
@gaz91au can you save the Azure file share credentials using `cmdkey`?

[2020-05-22 04:56] p2bauer commented on #10341
@bishal-pdMSFT @kmkumaran  We're also running into this issue as part of moving our CI/CD processes to linux-based VMs.  Is there any update to this issue, or any indication of when it might be re-assessed?

[2020-05-22 05:02] bishal-pdMSFT commented on #10341
@pulkitaggarwl can you please track this feature request

[2020-05-22 06:02] gaz91au commented on #12938
@ChrisFulstow, i have added the credentials into cmdkey and its working now, Thank you for your help, much appreciated. 🙂

[2020-05-22 06:06] #12938 closed

[2020-05-22 06:18] eaarora-ms commented on #12938
@ChrisFulstow  Thanks for the help!

[2020-05-22 07:30] ukhan262 commented on #12919
@eaarora-ms thanks for the update.. Did you see my above comments?

[2020-05-22 07:34] sdobrodeev commented on #5046
@Franklin89, @aloksaxenazohohotmail this issue is still actual for you? If yes - can you please run pipeline in diagnostic mode and provide more logs? This will help a lot with the investigation.

[2020-05-22 08:30] sdobrodeev commented on #10774
Hi @PaulAxten It would be nice to have the new feature to set the name of the APK manually. We can create feature request for it. If you want you can help with the design of this feature (briefly describe how this should work from your point of view)

[2020-05-22 08:33] freewheelnat commented on #12932
Closing this as not seen the issue last 2 days, so it was probably an intermittent issue.

[2020-05-22 08:33] #12932 closed

[2020-05-22 08:38] #12858 closed

[2020-05-22 08:53] koushdey commented on #12852
@tony-box: This feature will take time to roll out. As a work around you can try putting `outputFormat: ''` that should do the work until the feature rolls out.

[2020-05-22 08:54] PaulAxten commented on #10774
Hi @sdobrodeev, thanks for looking into this.

From our perspective, this feature comes from a desire to have a different APK filename for each build configuration, and for those build configurations to be controlled by a multi-configuration execution plan.

As long as we could use the build configuration variable in part of the filename, this would achieve our ends.

[2020-05-22 09:05] leantk opened #12977 "[DTS 1674974] Bug in Java tool installer task with JDK Source option Local Directory"
Please look at work item 1674974 that has been opened here:
https://dev.azure.com/mseng/_workitems/edit/1674974

[2020-05-22 10:53] pontuskindh opened #12980 "Permissions in C:\Windows\system32\inetsrv\config"
## Required Information
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: IIS Web Application Deployment

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/IISWebAppDeploymentOnMachineGroupV0

## Issue Description
Getting the bellow error when running this task using a non administrative account.
My question is regarding giving read access to the C:\Windows\s

[2020-05-22 11:16] anshi03 commented on #12808
@Adebeer  Can you please share your pipeline or small demo project for this ?

[2020-05-22 13:21] hansmbakker opened #12982 "Creating pipeline artifact of source folder silently fails"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishPipelineArtifact or DownloadPipelineArtifact

## Environment
- Server - Azure Pipelines

## Issue Description
`PublishPipelineArtifact@1` does not upload files from source folder. It seems that the deduplication step removes all files and nothing is uploaded?
Maybe because it is not changed from the pre

[2020-05-22 13:40] hansmbakker commented on #12982
The issue is that the download and upload should happen in separate stages. Otherwise it simply does not work, and it gives no hints on why it seems to ignore the yaml.

[2020-05-22 14:30] #12852 closed

[2020-05-22 15:55] jkonecki commented on #12835
The issue has now disappeared.

[2020-05-22 18:29] krispenner commented on #9673
@iashishmittal
Do you know why it requires `roleassignments/write` access on the Azure subscription to rename a shared service connection? The user is the Project Administrator for the DevOps project, yet they are unable to rename the shared service connection that is shared with their project.

[2020-05-22 19:42] danielp37 opened #12985 "Error publishing code coverage when running dotnet test task on solution with multiple test projects"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishTestResultsV1 or PublishTestResultsV2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - TFS on-premises 2017 Version 15.117.27414.0

- Ag

[2020-05-23 00:01] leantk commented on #9761
This issue is stale because it has been open for a year with no activity. Remove the stale label or comment on the issue otherwise this will be closed in 5 days

[2020-05-23 02:20] sxlino commented on #9761
Just started with this program and hadn’t had a computer to fix these
issues but will get to it as soon as possible. Give me a little more time.

On Friday, May 22, 2020, Leah Antkiewicz <notifications@github.com> wrote:

[2020-05-23 08:57] ctyar commented on #11258
The `publishVstsFeed` value should follow this pattern:
`publishVstsFeed: '<projectName>/<feed>'`
More information: https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/nuget?view=azure-devops&tabs=yaml#publish-your-packages

[2020-05-23 08:57] #11258 closed

[2020-05-23 14:38] Jetski5822 opened #12986 "Feature Request: Expose Github PullRequest Title"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Git

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition na

[2020-05-24 05:15] ManuInNZ commented on #12914
Just confirming that using a regular service principal it does work but was failing with VM managed identity.

[2020-05-24 08:15] dhheeraj opened #12987 "Deploying multiple webjobs on same app service replacing all with the last webjob"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-05-24 16:35] Rinnegatamante commented on #12454
Same here. Happening for both GitHubRelease V1 and V0.

[2020-05-24 21:10] saraswat40 opened #12988 "How to set value of variable for Azure Pipeline FileTransform conditionally"
In my yaml I have a task defined like so:

[code]
The servicedefinition.csdef has a line like this:

`<WorkerRole name="CRWorkerRole" vmsize="#{VMSIZE}#">`
If I define the VMSIZE variable from the Azure Pipeline UI, the FileTransform works correctly. However, if I define a variable within the YAML like so:

[code]
it doesn't work. I have tried without quotes and also assume that the spacing is cor

[2020-05-25 02:34] ryyaeg commented on #12593
I have also confirmed that this Issue will reproduce.

- This issue occurs when using Gradle 6.0 or higher and JDK 11.
- It does not occur with Gradle 5.6.4 or lower and with JDK 1.8.
- Therefore, this Issue is a Gradle and JDK version-dependent issue.

The following repositories do not generate an Issue, but the image of the code coverage is broken.
https://github.com/ryyaeg/pipelines-java

[2020-05-25 06:42] tomaustine commented on #4743
Will this be available in classic release pipelines?

[2020-05-25 07:31] rybczak opened #12989 ".NET Core tasks are ignoring VersionPrefix value provided in *.csproj files during build process"
**Question, Bug, or Feature?**
*Type*:
**Question**

**Enter Task Name**:
- .NET Core

## Environment
- Server - Azure Pipelines
  - Account name: kmddk
  - Project name: combas
  - BuildId: 365750

- Agent - Hosted or Private:
  - Pool: Azure Pipelines
  - Spec: windows-2019

## Issue Description

.NET Core tasks (both _build_ and _pack_) are ignoring **VersionPrefix** property which is provided

[2020-05-25 08:44] AlexandrKravchuk opened #12990 "ADO 1610008 - Address Failling Canary Tests for Integration"
Several builds were failing on our canary account.  I turned off the ones below that are assigned to your team and put them in https://github.com/microsoft/azure-pipelines-canary/blob/master/_excluded_failing_canary.json

Please determine how you want to proceed with the test (fix or remove if no longer needed).

repo: https://github.com/microsoft/azure-pipelines-canary
project: https://buildcanar

[2020-05-25 09:13] Adebeer commented on #12808
@anshi03
Here's a link to our pipeline [build](https://alsdevelopmentna.visualstudio.com/AngleNextGen%20Core%20Product%20Pipeline/_build/results?buildId=62850&view=results)

Not sure if it matters, but late last week (20th May) I upgraded some nuget packages - specifically, Microsoft.NET.Test.Sdk from 16.5.0 to 16.6.1 - I don't recall seeing it since then but we may simply not have pushed through

[2020-05-25 09:40] andmig-ilty commented on #12919
@eaarora-ms We are suffering the same issue rised by @ukhan262 . I also confirm that the Setting step fails even if it's the only task in the job and target App Service normally up&running.
We haven't identified a pattern. Eg. we have two "twin" app services and the configuration settings is failing only in one of the two. If i retry few hours later, everything may work fine...