[2017-08-10 06:44] dei79 commented on #5004
I'm using the following

2017-08-09T22:17:22.3577440Z ==============================================================================
2017-08-09T22:17:22.3600040Z Task         : .NET Core
2017-08-09T22:17:22.3665130Z Description  : Build, test and publish using dotnet core command-line.
2017-08-09T22:17:22.3694240Z Version      : 1.0.2
2017-08-09T22:17:22.3715180Z Author       : Microsoft Corporati

[2017-08-10 07:07] Allann commented on #4834
@cltshivash thanks for getting back to me on this, i'll try to add that tomorrow when i'm back at work.
Just as an aside, I find it strange that a ASP.Net Core solution template which includes tests doesn't actually support the tests project. Maybe that is just me?  Is there an expected delivery on this?
To prevent others from having the same issue, shouldn't the ASP.Net Core (preview) template ha

[2017-08-10 08:30] PatrizioR commented on #4272
As a workaround:
You can change the inline task length for tfs online with F12 Developer Tools:
![image](https://user-images.githubusercontent.com/30840878/29161492-b8a7c1c0-7db6-11e7-9725-031d5905084d.png)

To something like:
![image](https://user-images.githubusercontent.com/30840878/29161531-dff677a8-7db6-11e7-927e-553e103ad367.png)

I tried myself and it's working

[2017-08-10 08:38] ds-ms commented on #4985
The change has been reverted. This shouldn't be blocking your releases now.

The problem was with the editor you guys were using. Since you guys were using the old release definition editor, certain parameters weren't passed to the agent which are required for updating this output variable upon execution.

The old editor is not deprecated yet, so we'll enable this feature once we fix it in the old

[2017-08-10 08:38] #4985 closed

[2017-08-10 10:18] cltshivash commented on #4666
Update from Sudipta:

"The behavior is unchanged in U2. We are looking at fixing the issue for future releases"

[2017-08-10 10:18] #4666 closed

[2017-08-10 10:22] xenalite commented on #4982
We are experiencing the same issue using the same task and agent versions.
The only difference is that the deployment task fails for us and tests are not ran.

Step log:
[tasklog_6.txt](https://github.com/Microsoft/vsts-tasks/files/1214513/tasklog_6.txt)

[2017-08-10 12:37] asranja commented on #4880
Thanks for pointing this out to us @chrisnicholson .

The preview IIS Web App Manage task currently supports managing virtual directories of the form - Site/Vdir or Site/App/Vdir.

We will add the support for nested virtual directories and virtual directories within nested applications.

[2017-08-10 13:07] jkewley commented on #4985
Just for completeness - I used the new editor for everything but pre-deployment configuration. The new editor doesn't allow you to specify that pre-deployment notifications should be sent via email, so I had to use the old editor for that.

[2017-08-10 13:11] ds-ms commented on #4985
Aah! As soon as you save your definition from the old editor, the required value is set to null; because it's irrelevant to it.

[2017-08-10 13:12] jkewley commented on #4985
For completeness, then - If the last save was in the new editor, would this have worked?

[2017-08-10 13:15] ds-ms commented on #4985
I guess so; It also depends on the Release Management service which was being served to your account. If it was the latest build of RM service, it definitely would have.

When I tested earlier this morning, it worked just fine with the new editor.

[2017-08-10 13:22] ds-ms commented on #5004
If you see the logs, you can find the exact command which is being executed. We don't disable caching. The default behavior of dotnet-core is maintained.

[Here's](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore) some documentation about the restore command. The description has information about where the nuget packages are restored to in different environments.

PS: To avoid cac

[2017-08-10 13:27] artisticcheese commented on #4666
Why this big is closed though if it's still not fixed?

[2017-08-10 13:27] lkillgore commented on #3976
Hi @ratcashdev, we made some changes recently, and I believe this is currently set to the behavior you're requesting, so I'm closing this ticket.  If that's not the case or if need a change in functionality, please open a new ticket for our consideration.  Thanks!

(Additionally, we've asked SonarQube to take over the development of the SonarQube logic, so this may change in the future.)

[2017-08-10 13:27] #3976 closed

[2017-08-10 14:12] iratherscribble commented on #4985
Keep in mind that some people are using Task Groups and the tasks are being edited in the editor presented in that UI (the old editor).

[2017-08-10 16:10] vincentdass commented on #4734
@gongdo , thanks for the repro steps, really appreciated.
We have found the root cause of the issue and working on the fix.

Please follow any of the workaround provided below to unblock yourself:
- Remove Archive files task and provide the folder path in "`Package or Folder`" input of Azure App Service Deploy Task
- Use Post Deployment Script feature in Azure App Service Deploy Task to run your *

[2017-08-10 17:03] BiribiriJaNai commented on #4906
When I say the 'default' nuget.config file, I'm talking about the one created by default when you install Visual Studio: `%ProgramData%\NuGet\Config\` or now `%ProgramFiles(x86)%\NuGet\Config\`.

Today developers are asked to update this file (using Visual Studio) to use Nexus Repository as a package source . This is done manually on private build agents.

[2017-08-10 18:03] jebbissononehsn opened #5011 "SqlDacpacDeploymentOnMachineGroup System.Debug does not show all output."
When using System.Debug = True, the output returned does not contain the output of sqlpackage making it appear as though the step that executes the package does nothing.
This was only tested on a machine running PowerShell 4 and I noticed there was a split in the logic where sqlpackage is executed so it could be only a powershell 4 or lower issue.

It would be nice to see all the package output wh

[2017-08-10 18:04] pan-wang commented on #1607
@AaronRM @mehalick Once ANCM module detects the creation of app_offline.htm (case insensitive), it will try to gracefully shutdown the backend process (default timeout 10s). If failed, ANCM will kill the backend and log a warning to Windows event log. Could you please enable collecting windows event log on Portal during deployment and share the log?

[2017-08-10 18:06] asranja commented on #4526
@rubenfa this issue generally happens when the user doesn't have enough permissions to run as service on the machine.
You can refer [this](https://technet.microsoft.com/en-us/library/cc794944(v=ws.10).aspx) if you want to know how to add log on as a service right.
Also, if the machine is domain joined, please provide the username as domain\username.

[2017-08-10 20:47] aligneddev opened #5013 "Is there a bucket size setting for runsettings and Run Functional Tests?"
I'm on TFS 2017 update 1 (update 2 is getting installed on 8/26/17), so maybe this is already fixed.

**Scenario:**
I have about 30 VMs running Selenium UI tests. I am moving from the testsettings and Run #C tests to Run Functional Tests. I have 4 sets of the Deploy Test Agent and the Run Functional Tests with a runsettings file specified to run in different configurations and browser sizes. Each

[2017-08-10 21:11] alexmullans commented on #4973
The docs are updated: https://www.visualstudio.com/en-us/docs/build/steps/package/nuget

[2017-08-10 21:21] dei79 commented on #5004
So what I can say now after reading logs and understanding more. I used the task with the pattern **/*.csproj which means a nuget restore was executed for all projects in my solution. I learned then that nuget restore for my master project is restoring also all packages for the dependencies. After changing the pattern to a dedicate project it's clear that the caching is working. Now the restore ju

[2017-08-10 21:21] #5004 closed

[2017-08-10 23:35] AaronRM commented on #1607
@pan-wang Where is the setting in the Azure Portal to enable collecting the Windows Event Log during deployments?

[2017-08-11 01:23] bryanmacfarlane commented on #5004
@dei79 - thanks for following up

[2017-08-11 01:25] bryanmacfarlane commented on #5003
Sounds like a release artifact and deployment scenario.  Looks like files aren't getting pulling into release artifact.

[2017-08-11 02:10] Adebeer opened #5014 "Publish-UpgradedServiceFabricApplication Action=Upgrade bug"
When doing Action=Upgrade in this powershell script, and there is an update error, the script shouldn't try to do an unregister inside catch block. This fails in my scenario as the package is in use by another app.

Specifically, in my scenario, I use same package with multiple environments (package contains profiles for multiple environments - e.g. testing, staging, production). As such, only the

[2017-08-11 03:15] thuru commented on #1607
@AaronRM : yes I experience the same, and the builds one after the other gets succeeded, this pattern is a very consistent from last week.

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">2/2 occurring from Aug 3rd. When queued again it goes success. Every build one after the other getting success. <a href="https://twitter.com/VSTS">@VSTS</a> <a href="https://t.co/QVIunduzx

[2017-08-11 09:19] SashaSidorenko commented on #2103
Also would like to see where we are on long time regression testing :)

[2017-08-11 09:55] NetTecture commented on #4694
@cltshivash Yes, as I said in the original post. The chromedriver is set as part of the deployed files. This also works for SOME machines, intermittently (I.e. it is random after a restart whether it will work or not until the next restart). There is no runsettings - things work without (at least where the chromedriver is found). The chromedriver is just part of the deployed files (similar to the

[2017-08-11 12:59] milla opened #5016 ".net core 2.0 preview app w/ Docker problem in linux"
I just upgraded our project from netcoreapp1.1 to netcoreapp2.0, in which run in Docker, built by VSTS private Linux build agent. Yet I got this error in build agent.

[code]

Does this mean now .net core 2.0 app w/ docket is not supported when built in Linux?

[2017-08-11 13:03] mehalick commented on #1607
I can consistently reproduce the issue in Kudu with an ASP.NET Core 1.1 site running on the full framework (Net47). When creating App_Offline.htm manually in Kudu I log the shutdown process starting but failing with a 404:

`Sent shutdown HTTP message to process '8468' and received http status '404'.`

Within a few seconds I log a second message:

`Failed to gracefully shutdown process '8468'.`

H

[2017-08-11 13:17] milla commented on #5016
Please close this, I've raised in .net core repo
https://github.com/dotnet/core/issues/803

[2017-08-11 13:17] #5016 closed

[2017-08-11 16:46] pan-wang commented on #1607
@mehalick  This is a regression in ANCM (build 1983) which added graceful shutdown support allowing the application to finish long running request in given time. The change somehow ignored some failure path. As result, ANCM will wait for timeout (default 10 seconds)  in some code path instead of aggressively terminating the backend process.  This regression has been fixed in new ANCM (build 1984)

[2017-08-11 16:48] hkusulja commented on #1607
@pan-wang any expected date when this is expected to be fixed on Azure production? Thank you

[2017-08-11 17:35] mehalick commented on #1607
@pan-wang I can confirm that adding a retry to my deployment is a successful workaround, thank you.

For the record I'm deploying via VSTS, while there's not exactly a retry option this can be achieved by duplicating the deployment task but set to run only on failure of a previous task. This isn't a great long-term solution but it's acceptable for now.

[2017-08-11 18:14] davidebbo commented on #1607
@hkusulja the fix should be deployed by the end of the month.

[2017-08-11 21:37] svandekrol commented on #4338
Is there a workaround for this?  We switched our VS 2015 project to VS 2017, and can't deploy now, as one of the steps uses sqlpackage.exe!

[2017-08-11 22:48] alexmullans commented on #4906
Makes sense; thanks.

We'll take this scenario (constructing a NuGet.config using Service Endpoints) as a potential improvement for v3 of the NuGet task. I'm going to close the GitHub issue and move this to our internal work tracking system so it doesn't get lost. Thanks for your input and for using VSTS!

[2017-08-11 22:48] #4906 closed

[2017-08-12 20:47] natelaff opened #5018 "Add a SignTool task for using Secure Files"
I really feel like there needs to be a SignTool task that will allow use of Secure Files library.

[2017-08-12 21:15] DavidStaheli commented on #5018
We completely agree, @madmunsterdaddy.  We've got it on our backlog and should have it available in VSTS very soon.  If you are using TFS on-premises, not VSTS, please let me know so that I can tell you how to upload it to your TFS server when it comes out.

[2017-08-13 00:00] madmunsterdaddy commented on #5018
Perfect! Was looking for VSTS.

[2017-08-13 00:01] madmunsterdaddy commented on #5018
Well, why not do a full SignTool task? That tool is never where you expect it to be.

[2017-08-13 00:02] DavidStaheli commented on #5018
Makes sense.  Perhaps a SignTool task and the generic task described above are both in order.

[2017-08-13 00:36] madmunsterdaddy commented on #5018
Yeah. The vsts-authenticode repo (you just commented on it) is a good example. This needs to just be built in to vsts-tasks I think (but with secureFile support).

[2017-08-13 02:26] cltshivash commented on #4694
@NetTecture Can you please check if chromedriver.exe is specified as a deploymentitem ([DeploymentItem("chromedriver.exe")]) in your test code ? it is possible that it is specified in one of the test classes and not in all of them.

[2017-08-13 02:31] cltshivash commented on #5013
@aligneddev : Currently it is not available. There are two options. VSTest task in update2 will support distribution in release pipeline. [Link to blogpost](https://blogs.msdn.microsoft.com/devops/2017/03/26/vstest-task-dons-a-new-avatar-testing-with-unified-agents-and-phases/ ). The agentcount of the phase setting will determine the number of batches being created. You can also specify the 4 mach

[2017-08-13 14:41] cltshivash commented on #4996
@raman91dogra Could you please provide more details on the task that you are using and if possible the build logs (with system.debug='true') ?

[2017-08-13 14:44] degant commented on #4985
@ds-ms We're facing the same issue in our deployment task (Version: 2.2.3). This looks like the same issue or a similar one? I tried saving from new as well as old editor and trying but getting the same results. Is there a workaround available?

    2017-08-13T14:33:42.2096101Z ##[error]Unable to process command '##vso[task.setvariable isOutput=true;variable=DeploymentOutputs;]{}' successfully. Pl

[2017-08-13 14:56] degant opened #5019 "[Azure Key Vault] Option to download only secrets or certificates"
The access policies for Azure Key Vault now differentiate between certificates and secrets. It would be great if we had an option to configure the task only to retrieve either `secrets` or `certificates`.

_In our scenario, we're using the the Key Vault Task to retrieve certificates and use them for a deployment. We aren't using secrets at all. We configured out SPN with get, list permissions on C

[2017-08-13 17:32] wasabii commented on #1785
I dont' think his issue was that it was "pull" or "push". It's that it uses WinRM, which is wholly unnecessary to executing SqlPackage.exe

[2017-08-14 03:01] gongdo commented on #4734
@vincentdass Your solution is working, but that's what exactly what I wanted to avoid.
If you deploy your Node app with node_modules but not zipping, it would take numerous network round-trips between CI and target.
If you deploy it without node_modules and `npm install` on the target machine, it would consume (relatively) huge resources on the server and it might affect service performance.

I'm

[2017-08-14 07:17] lovakumar commented on #4927
Yes - same steps will work for script file as well.

[2017-08-14 08:39] takazm opened #5020 "Docker Build an image task error"
i have configured a build task to build a docker image in a .net core app using on-prem build agent. All other tasks succeed except the image build part.  Docker is installed and running on build agent. I get the following error:

**open //./pipe/docker_engine: Access is denied. In the default daemon configuration on Windows, the docker client must be run elevated to connect. This error may also i

[2017-08-14 09:41] larserikfinholt opened #5021 "Azure App Service Deploy Task - Could not find the End of Central Directory Record"
The task has been running for several weeks, but suddenly stopped with the following error:

2017-08-14T09:32:31.2397851Z ##[section]Starting: Azure App Service Deploy: xxxx
2017-08-14T09:32:31.2410405Z ==============================================================================
2017-08-14T09:32:31.2410405Z Task         : Azure App Service Deploy
2017-08-14T09:32:31.2410405Z Description  : Updat

[2017-08-14 11:29] brentnewbury opened #5022 "Command Line task does not output command"
The Command Line 2.0 task no longer outputs the command being executed, which differs from 1.0. This causes a problem for us as it makes it difficult to determine what was executed when looking at the build logs.

[2017-08-14 12:19] GitHubSriramB commented on #5003
@sprider

The gulpfile.js path in the screen shot above ($(System.DefaultWorkingDirectory)/build/release/s/gulpfile.js) is not the same as the one that you have mentioned in the error message (d:\r1\a\gulpfile.js). Are you sure the screen-shot corresponds to the task in the failing release?

Is gulpfile.js supposed to be part of an artifact associated with release?

[2017-08-14 12:57] sprider commented on #5003
Hi Sriram,

I fixed the issue by allowing warning in the gulp package task.

It was failing with --ship argument. All good now.

Thank you.

[2017-08-14 12:57] #5003 closed

[2017-08-14 14:35] tanvi-soni commented on #4982
Can you share testagentconfig.log file at devops_tools@microsoft.com. You will find the file in %temp% folder in test agent machine. Please share the build logs as well with system.debug set to true under in build definition.

[2017-08-14 14:38] ericsciple commented on #5022
it sounds like you may want to add `echo on` to the top of your script

[2017-08-14 14:50] tanvi-soni commented on #4978
Can you send c:\dtalogs\dtaexecutionhost.exe.log and event viewer logs from test agent machine to devops_tools@microsoft.com

[2017-08-14 14:51] tanvi-soni commented on #4817
@marcopierobon Can you share the release logs for the project where it works so that we can compare the two scenarios.

[2017-08-14 15:46] rposener commented on #1441
+1 - still getting this.  Reports it about 6 times then fails deploy everytime.  I know my postdeploy has a rebuild SP that runs which takes about 7 minutes.  Don't see this deploying from VS locally.

[2017-08-14 16:45] matthieugd commented on #1607
We are using a Powershell script to publish our app. We tried to set the retryAttemps but it doesn't fix the problem. It seems that the retryAttemps value is not correctly handled?

Log:

`[Step 1/4] PowerShell Executable: C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe
[10:26:21][Step 1/4] Working directory: C:\Data\teamcity\server\buildAgent\work\392f4ac975965f5\scripts_backend
[10:26:

[2017-08-14 17:07] vincentdass commented on #5021
@larserikfinholt ,  can you please set `system.debug` variable to true, re-run the release and share the logs?

[2017-08-14 18:59] chaholl opened #5025 "Deploy Service Fabric cluster with AAD authentication"
As far as I can tell, as part of a release management process, it's impossible to deploy a Service Fabric cluster with AAD authentication. There are two reasons for this:

Firstly, configuring AAD requires the `tenantId` for the tenancy that hosts the AD applications. As far as I can tell there's no way to get this value via PowerShell on the build server. Normally it would be easily obtained via

[2017-08-14 19:03] hammer5280 opened #5026 "Deploy Azure App Service 3.*- XML transformation onto WWWROOT/Web.config Fails"
During a release XML transformation works for:

BIN\Web.Production.config transformed ONTO BIN\Web.config

How can I get:

PackageTmp\bin\Web.Production.config to transform ONTO \PackageTmp\Web.config aka (WWWROOT/Web.config)

Thanks!

[2017-08-15 01:01] duoxu opened #5028 "Failures in publish test results: Test result completed date must be greater than test result start date"
Hi guys,

We are using VSTS to build our project and using Publish Test Results task to publish the Junit test results.

I have attached the TEST-*.xml files.

Question:

1. How did you determine the start date and complete date?

For example, one test xml file contains

`<testsuite errors="0" failures="0" hostname="duoxu-ubuntu" name="org.apache.zookeeper.server.DeserializationPerfTest" skipped="

[2017-08-15 07:43] lukemcnally84 opened #5029 "NuGetCommand (preview) task authorization failure on push"
**Problem**
Authorization failure when pushing to internal TFS NuGet feed using the NuGetCommand task on a mac build agent.

**Background**
We're developing a Xamarin application so we need our builds to work on mac build agents. There is plenty of documentation on pushing NuGet packages using the "NuGet Publisher" task, but this doesn't work on a mac build agent (as far as I'm aware). We have suc

[2017-08-15 08:13] vincentdass commented on #5026
@hammer5280 , currently XML transformation is applied when the config and transform files are in the **same folder**. We do have a story for `Advanced transformation` in our backlog, which will be taken based on the priority.

[2017-08-15 08:17] vincentdass commented on #4127
@skylerjokiel , thanks for reaching out.
Can you please share the following details for debugging?
- Agent platform (Windows or Linux) and version
- Debug logs (by setting `system.debug` variable to true)
- Package Size

[2017-08-15 13:13] dudi938 commented on #3761
Hi,
I also have the same error :
"Failed to connect to the path \\IP address with the user Administrator for copying.
 System error 53 has occurred.
The network path was not found."

What can the issue?
My agent is installed on my work machine and the distination machine to cope the files is a simple windows server VM on AWS.
Thanks

[2017-08-15 13:15] hammer5280 commented on #5026
@vincentdass, Thanks for the clarification.  Do you know of a "work-around" so during the build process the Web.Production.config is copied to the root folder in the .zip artifact during the MsBuild step?

[2017-08-15 14:41] cgravill commented on #4890
We're seeing a similar problem with VSTS, the issue started between 12th and 14th August and is still present.

It was failing with:

[code]

I configured the agents a while ago so I then upgraded PowerShell to the latest, https://github.com/Azure/azure-powershell/releases/tag/v4.3.0-August2017 and the error changed to this:

[code]

I saw you recommend 1.3.2 here: https://github.com/Microsoft/vst

[2017-08-15 15:08] vincentdass commented on #5026
@hammer5280 , checkout this [stackoverflow post](https://stackoverflow.com/q/5915610) on copying files to different folder during MSBuild.

[2017-08-15 15:35] gunjain commented on #2326
Is there any update on this? If it is not fixed, is there anyway to avoid getting this error?

[2017-08-15 19:33] #5013 closed

[2017-08-16 05:15] ds-ms commented on #4985
@degant we have hotfixed this; could you run your deployment again and see if this problem persists.

[2017-08-16 05:16] bishal-pdMSFT commented on #4842
@RoopeshNair , please look at this doc bug.

[2017-08-16 05:17] #4399 closed

[2017-08-16 05:18] #4292 closed

[2017-08-16 07:26] vimegh commented on #4717
@manmp Please let us know a free time to meet and resolve this out. If not possible, can you please share C:\\Dtalogs\DtaExecutionHost.Exe.log generated in your test machine.
Also can you please enable screen recording by providing test settings to the Run Functional test task ( To create testsettings refer https://msdn.microsoft.com/en-us/library/dd286596.aspx ) . Screen recording will give us so

[2017-08-16 08:44] bishal-pdMSFT commented on #5025
@chaholl Are you using "Service fabric deploy" task? https://www.visualstudio.com/en-us/docs/build/steps/deploy/service-fabric-deploy

[2017-08-16 08:57] chaholl commented on #5025
My problem isn't with deploying an app to an existing cluster, it's with actually creating the cluster in the first place. The **Service Fabric Deploy** task will only allow me to deploy an app to an existing cluster.

To give a bit more background: I have various DevOps PowerShell scripts to provision all elements of my solution including a Service Fabric cluster. In an ideal world, I'd run them

[2017-08-16 09:21] degant commented on #4985
@ds-ms working fine today! Thanks!

[2017-08-16 09:44] bishal-pdMSFT commented on #5025
Adding @kmkumaran to comment why `Get-AzureRmContext` or `Get-AzureRmTenant` work when using within Azure powershell task.
@chaholl Can't you use "Azure Resource group deployment" task? You can have a ARM template for service fabric cluster and this task will deploy that template.

[2017-08-16 09:54] chaholl commented on #5025
@bishal-pdMSFT An ARM template would work around the missing AzureRM.ServiceFabric problem but it doesn't help with the configuration of AAD authentication on the cluster because I'd still need to pass the tenantId as a parameter.

Eg:
[code]

Ultimately the DevOps script that I'm using populates and uses an ARM template to deploy the cluster. There are so many other dynamic parameters that need t

[2017-08-16 10:06] degant commented on #5025
Hi @chaholl we're doing something similar right now in our release pipeline. We have pre-requisite steps such as getting certificate URLs, uploading a custom script into a blob etc. and then setting them as variables during the `Azure Powershell Task`. These dynamic parameters are later passed on to the ARM template to deploy the cluster.

For our scenario, we've already created the Azure AD Appli

[2017-08-16 10:17] bishal-pdMSFT commented on #5014
@Adebeer "Service fabric deploy" task always sets action as "RegisterAndUpgrade" and hence it is fine to always unregister the application-type if upgrade fails.
Are you running this task parallely in different release environments? Interesting that you are not getting error when second environment will try to register the app-type while first env has already registered it.

[2017-08-16 10:24] chaholl commented on #5025
Hi @Degant. That sounds like a pretty similar approach to the one I'm taking at the moment. Essentially I'm adding 'tenantId' as an additional VSTS environment variable and manually setting it when configuring the release. It just doesn't seem right though. I can see a situation where the Azure connection points to one tenancy but the 'tenantId' property points to another.

I've found that doing a

[2017-08-16 10:57] chris31389 opened #5035 "after dotnet tool installer, fails on Nuget.Targets file"
When trying to use an alternative .netstandard sdk version, the dotnet restore uses the sdk version you have installed but it fails at a later point when it tries to use the Nuget.Targets file.

@bryanmacfarlane asked me to raise the issue here after creating an issue under the vsts-agent repo https://github.com/Microsoft/vsts-agent/issues/1146

[code]

[code]

[code]

This is a log output from fl

[2017-08-16 11:06] rmarinho commented on #5035
same issue here, stucked deploying my updated website

[2017-08-16 11:08] bryanmacfarlane commented on #5035
@rmarinho - just to be clear, were you capable of deploying your 2.0 website previously?  Or was it 1.0 using vsts2017 hosted and you updated it to 2.0?  Just trying to understand your scenario.

[2017-08-16 11:11] rmarinho commented on #5035
Yap, everything was working with 1.0 the VSTS build was setup automactly from azure portal CI integration, it does a dotnet restore, dotnet build and dotnet publish .. i updated locally on my OSX to 2.0 everything works, i commit my code and the build started breaking and so then i can't deploy

[2017-08-16 11:14] rmarinho commented on #5035
Log : https://gist.github.com/rmarinho/ad9eee136a1538a0343aab1f067530c1

[2017-08-16 12:52] don18 opened #5036 "Edit BuildNumberFormat from release VSTS"
Hi,

I would like to add my own versionnumber to the build number format of a release. [Release-$(MyVariable)-$(rev:r)]

I have a build that starts a release when completed.
The build has the VersionNumber in a package that I want to use in $(MyVariable).
So when the release is created or if it is finished it has to have a title like Release-2017.3-1.

Is this possible? Or is there a way that I ca

[2017-08-16 13:51] raman91dogra commented on #4996
@cltshivash Hi, I am trying to run HP UFT Script using VSTS Build.
I have used UFT_TFS Plugin Task, First I run the Build . It actually invokes my Script and it runs end to end but still Overall Build gets failed.
Now I want to run a Test Case under Tests Folder using same Build i ran from Test Suite>> right Click Test Plan Settings.
Now I run Test using Run with Options Command and it gives me Ab

[2017-08-16 15:00] lkruger commented on #4961
[logs_125125.zip](https://github.com/Microsoft/vsts-tasks/files/1228577/logs_125125.zip)

Here are the build logs for the failure to find any tests (This occurs by just setting the "Path to NuGet.config" in the restore step.

[2017-08-16 15:02] lkruger commented on #4961
[logs_125128.zip](https://github.com/Microsoft/vsts-tasks/files/1228585/logs_125128.zip)

Here are the build logs for the same repo with the the "Path to NuGet.config" cleared and where it finds all of the tests that were missed when the "Path to NuGet.config" was set.

[2017-08-16 15:47] kimpenhaus opened #5039 "Index Sources & Publish Symbols <--> portable PDBs"
Hi all,

this is more a question like an issue - hope that's ok :)

As Visual Studio 2017 update 15.3 is released and now supports [Visual Studio Team Services Symbol Server](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes#a-iddebugging-adebugging-and-diagnostics)  we've added the _Index Sources & Publish Symbols_ task to our Release Task-Group of .NET core NuGet packages:

![

[2017-08-16 15:59] Liero commented on #4533
Final .net 2.0 is out and still not solved.

I've added `NuGet Tool Installer` task that installs v4.3.0 as well as` .NET Core Tool Installer` and still getting:

[code]

[code]

[2017-08-16 16:56] ericbrunner commented on #4884
When will that work in VSTS ?

[2017-08-16 17:39] bryanmacfarlane commented on #5035
@rmarinho - OK, thanks.  Confirmed my suspicion, you're moving faster than the images are :)

[2017-08-16 17:51] dennis-yemelyanov commented on #3312
Started seeing this error happening intermittently a few days ago for an ASP.NET Core project. The "Take app offline" option is checked. There are no webjobs or Application Insights projects running for this app

[2017-08-16 18:51] dandancode commented on #5039
In Visual Studio, you'll need to turn on "Enable source link support" under Debug->Options->General. The readme [here](https://github.com/ctaggart/SourceLink) provides more details on how to use Source Link. @mjsabby do you have more insights here?

Thanks,
Dandan

[2017-08-16 21:55] abatishchev commented on #5001
As per Marina at https://stackoverflow.com/questions/45601861/how-to-to-produce-both-release-and-pre-release-packages-from-one-nuspec-in-vsts/45607639 currently you don't support wildcard for custom nuget command. Can you please plan this? Currently for release I can have 1 task for all 10 projects but for pre-release I have to clone 1 task 10 times.

[2017-08-16 22:37] Adebeer commented on #5014
@bishal-pdMSFT
Thanks for your reply. I think you are misunderstanding my scenario a bit, so I'll try to explain bit more.

I've got a VSTS build definition defined that creates a versioned package for my Service Fabric Application - let's call this V1. This V1 package also contains the application parameter files Testing.xml, Staging.xml and Production.xml for my 3 environments. Note: These Appli

[2017-08-16 23:02] PureKrome commented on #5035
Ah. Same here with me??

NOTE: This csproj should be targetting `NETSTANDARD2_0`

[code]

[2017-08-16 23:18] markr007 commented on #4701
@alexmullans I think this may need rethinking. Nuget pack gives me lots of options to make packing nice and easy (as the old Packager task did). However, I use the NuGet arguments to specify a suffix for pre-release builds with the buildid which ensures a unique version and allows us to test them properly in other projects before the new packages are fully released. With the new tool I can't see a

[2017-08-16 23:44] bryanmacfarlane commented on #5022
@ericsciple - are we saying it's required that everyone at that at the top to get the transparency?

[2017-08-16 23:58] bryanmacfarlane commented on #4997
That's not correct and I can't repro.  Is it a little like or exactly like?  Using the browse should produce a relative path (folder/otherFolder) to the root of the repo.  Preceding it with / tells it that it's absolute and goes to the root of the drive.

It's essentially what would happen if you cd from the root of the repo.

Re-open with repro steps if you see differently.

[2017-08-16 23:58] #4997 closed

[2017-08-17 00:01] #4784 closed

[2017-08-17 00:09] bryanmacfarlane commented on #4701
Opening for re-evaluation since old tasks supported?  @alexmullans to make the call

[2017-08-17 01:03] d-haxton opened #5040 "AzureVMs File Copy fails due to FileNotFoundException"
Relevant error below.

Nothing has been changed as far as build definitions

[code]

[2017-08-17 01:06] bryanmacfarlane commented on #5040
The RM team is aware of this issue.  An image with a fix is in the works.

[2017-08-17 03:43] lvsezhufu opened #5041 ".NET Core task preview version 2.* failed the .NET Core restore step"
For the  .net core standard library project with targetframework **.NETStandard 1.6** and **NETStandard version 2.0.0**, if it build by the .NET Core restore task with preview version (2.0.5), it will failed with the message:
`Unable to resolve 'NETStandard.Library (>= 1.6.1)' for '.NETStandard,Version=v2.0'`

But if the project build with .NET Core restore  task with the version 1.* (1.0.2), it c

[2017-08-17 04:26] bishal-pdMSFT commented on #5014
Thanks @Adebeer, I understand your flow now. However, I don't understand how "Deploy-FabricApplication.ps1" is coming into picture. Are you using this script directly instead of "Service fabric deploy" task? That script is released by VS IDE team and we don't contribute to it.

We do use `Publish-NewServiceFabricApplication.ps1` and `Publish-UpgradedServiceFabricApplication.ps1` released by them a

[2017-08-17 05:26] ericsciple opened #5043 "Pattern matching consistency"
## Goals:

1. For inputs that accept a glob pattern, the helpmarkdown for the input should provide a link for users to understand what syntax is supported.<br /><br />Ideally this should be a link to the task's help topic (see the Copy Files task). This allows the task's help topic to give specific examples (relevant to that task). And then the task's help topic links over to the generic syntax re

[2017-08-17 05:59] Adebeer commented on #5014
@bishal-pdMSFT
You can ignore my changes to Deploy-FabricApplication.ps1 - I'm using this (modified) script directly in my VSTS build processes.

I'd appreciate it though if you could apply the fixes to the Publish-* scripts as they are part of SDK and I can't simply modify these and run them directly (I tried...but had some runtime errors due to its dependency on other scripts etc...again, i'm no

[2017-08-17 06:01] vincentdass commented on #5026
Closing the thread, as there is no action item.

[2017-08-17 06:01] #5026 closed

[2017-08-17 06:13] bishal-pdMSFT commented on #5014
@Adebeer we do not own Publish-* scripts and hence can't modify them. Adding @MikkelHegn for that.

However, I would suggest you to use "Service fabric deploy" task instead of these scripts directly. You can list any issues (like the current one) and we would be happy to improve the task.

[2017-08-17 06:24] asranja commented on #5040
@d-haxton From the logs it appears like Azure Storage module is missing. Can you manually install it on the agent (assuming it is a private agent) and try again.

[2017-08-17 07:04] bishal-pdMSFT commented on #5025
@asranja can you please look at the Azure powershell issue?

[2017-08-17 07:06] kimpenhaus commented on #5039
Thanks for your quick answer @dandancode

My VS settings include source link support:

![image](https://user-images.githubusercontent.com/575109/29399199-83dab5f2-8328-11e7-9604-d8afd7d8c965.png)

But from what I understood is, that the build-server or msbuild (automatically) are weaving some additional information into the of the PDB CustomDebugInformation table according to the [spec](https://gi

[2017-08-17 07:38] tanvi-soni commented on #4993
@xenalite Thank you for the bringing the issue to our notice.
We have reproduced the issue at our end and are currently investigating it.

[2017-08-17 07:51] #5041 closed

[2017-08-17 08:07] bansalaseem commented on #5036
You can create release names from build numbers, build branches as mentioned here.

https://www.visualstudio.com/en-us/docs/build/concepts/definitions/release/index#numbering

If you can assign 2017.3 to your build number, then you can use it in the release name.

[2017-08-17 09:25] lovakumar commented on #5019
@degant currently task supports only secrets and it doesn't support certificates and keys. Can you please elaborate on how did you create certificates? Is it through azure portal or using certificate cmdlets?

What you create certificates (screen below) in azure portal they are not completely certificates. They are secrets only.
![image](https://user-images.githubusercontent.com/26891187/29405397-

[2017-08-17 10:42] cgravill commented on #4890
Thanks to assistance from @asranja we identified the the root cause as an in issue in the 4.3.0 release. There's now an updated 4.3.1 release on here https://github.com/Azure/azure-powershell/releases that has my build working again.

[2017-08-17 10:56] chrisrpatterson commented on #5022
Another option would be to turn echo on as part of our script generation and then if people want to opt out they can simply put echo off at the top of their script.

[2017-08-17 11:48] bryanmacfarlane commented on #5035
Does it help if you add NuGet tool installer task up front and select version 4.1.0?

[2017-08-17 12:45] Franklin89 opened #5046 "Copy Files Over SSH - Permission Denied"
I am trying to upload my docker-compose.yml in a release step to my docker host using the "Copy Files Over SSH" task.

I keep getting an error saying:

I checked the permissions of the folder ~/tridoo. They seem correct. Also granted this folder full access with `chmod 777 ~/tridoo`

Using `scp` from my local computer with the same publickey works with no problem. Writing a file using the ssh comm

[2017-08-17 12:45] Ajay-MS commented on #4338
@svandekrol

We have recently fixed this issue of detection of SQLPackage.exe with VS2017.  Following are PR's with fix

Detection of SQLPackage.exe in SQLAzureDacpacDeployment
https://github.com/Microsoft/vsts-tasks/pull/4915

Detection of SQLPackage.exe in agent capabilities
https://github.com/Microsoft/vsts-agent/pull/1098

Detection logic in the task has already been deployed to production but

[2017-08-17 12:50] don18 commented on #5036
Thanks for your reply.
But that means that I have to create a variable for the build and update it before the build is queued?

[2017-08-17 13:01] psergey commented on #5035
@bryanmacfarlane Hi Bryan,
We have the similar issue with our build

[code]

[2017-08-17 13:12] cilerler opened #5047 "VSTS build task fails on a .NetFramework4.6.1 project references .NetStandard2.0"
- a **.Net Framework 4.6.1** project that references **.NetStandard2.0** _(not preview)_ project
- **Visual Studio 2017 Update 3** _(not preview, VisualStudio.15.Release/15.3.0+26730.3)_

so far everything is working fine in LOCAL environment.
When I run a build on **Visual Studio Team Services** it throws the error/s below

## Error message

[code]

Please advise 🤗

[2017-08-17 13:41] chris31389 commented on #5035
@bryanmacfarlane Just tried it and it didn't work https://gist.github.com/chris31389/85f1abfa5d2c8802c6274b32fa9f6095

[2017-08-17 14:04] chrispoulter commented on #5035
Had this issue after upgrading a project from 1.1 to 2.0.

Fixed it by adding a ".NET Core Tool Installer" task at the beginning of the build and specifying "2.0.0" as the version.

![capture](https://user-images.githubusercontent.com/1412772/29416156-28fb1520-835d-11e7-97f4-b9e919f095cb.PNG)

Looks like 2.0 is not installed on all the build images yet.

[2017-08-17 14:07] madhurig commented on #4995
@gdavocap: Good suggestion! We have it on our backlog but it hasn't been scheduled yet.

Thanks,
Madhuri

[2017-08-17 14:26] chris31389 commented on #5035
@chrispoulter That worked! I didn't realise there was a dropdown where I had to select the SDK.  All this time I had been running the tool installer installing just the runtime.

Thanks for your help @bryanmacfarlane

[2017-08-17 14:53] bryanmacfarlane commented on #5035
NP!  We will get that fixed where SDK is the default.  This is the "tool" installer :)

[2017-08-17 15:34] bdbvb opened #5048 "IIS Web App Manage(Preview): SSL Certificate thumbprint contains non-hexadecimal characters in binding"
For the IIS Web App Manage(Preview) task, I've configured a valid, hex thumbprint, with no spaces or punctuation, just a-f, A-F, and 0-9.

But I get this warning:

"SSL Certificate thumbprint contains non-hexadecimal characters in binding : ( https/All Unassigned:443 ) . Trimming all non-hexadecimal characters."

Binding configuration looks like this:

![image](https://user-images.githubuserconten

[2017-08-17 15:49] psergey commented on #5035
@bryanmacfarlane, @chrispoulter Thanks for your help!  That worked for us too

[2017-08-17 16:09] chrisrpatterson commented on #5047
We don't have the images updated across all pools with VS2017.3 and .NET Core 2.0 yet.  You can try to add a NuGet Tool Installer to the front of your build and have it install NuGet 4.* to get the latest and then have a .NET Core Tool Installer and select the SDK options and put 2.0.0 in for the version.

[2017-08-17 16:43] MikkelHegn commented on #5014
For the subsequent deployments to other "environments" (which in Service Fabric lingo is creating new Named Application Instances of the same Application Type and Version), simply run the New-ServiceFabricApplication cmdlet. https://docs.microsoft.com/en-us/powershell/module/servicefabric/new-servicefabricapplication?view=azureservicefabricps

[2017-08-17 16:50] SandipAhluwalia opened #5049 "NuGet restore task fails from the Xamarin.Android template in TFS 2017 update 2"
Hi,

After looking all the NuGet restore issues here, none of them seems to resolve and/or are related to my issues.

I getting the following after updating the version of NuGet to 4.0.0 in the NuGet restore task:

**_Detected NuGet version 4.0.0.2283 / 4.0.0
SYSTEMVSSCONNECTION exists true
C:\agent\_work\_tasks\NuGetInstaller_333b11bd-d341-40d9-afcf-b32d5ce6f23b\0.2.31\node_modules\nuget-task-com

[2017-08-17 18:19] cilerler commented on #5047
thank you, unfortunately I already tried that but didn't solve it.

[2017-08-17 18:52] bootrider commented on #1112
One year later I can confirm that @yiminghan report still happens:

and it happens when the account of the Agent Service is changed, as @donald-slagle mentioned.

any solution?

this issue belongs here or belongs to [VSTS Agent](https://github.com/Microsoft/vsts-agent)?

[2017-08-17 19:52] ShakeySnake commented on #366
Even though the code has changed quite a bit here I'm still getting this error at the gulp step:

![image](https://user-images.githubusercontent.com/15676920/29430823-bd59884a-834a-11e7-9a08-e1a0b5b7d572.png)

![image](https://user-images.githubusercontent.com/15676920/29430804-b34d5372-834a-11e7-8a78-4a7e6554ee70.png)

![image](https://user-images.githubusercontent.com/15676920/29430781-a181efa4-

[2017-08-17 19:57] iyerusad opened #5050 "Hosted agent - Task: Azure CLI Preview - ERROR: Failed which: Not found az: null"
Testing out VSTS:
Attempting to deploy to an environment, which has a agent step `Azure CLI Preview`.

![image](https://user-images.githubusercontent.com/25647368/29430989-9d296d48-8353-11e7-98cc-d28ebe0cce5d.png)

Error in Deploy Log:
[code]
![image](https://user-images.githubusercontent.com/25647368/29431034-c7f0e8bc-8353-11e7-9b49-1d6e3f3c7d2b.png)

Am I missing something basic here?

[2017-08-17 20:17] alexmullans commented on #4533
@Liero sorry to hear that. The NuGet tool installer won't help at all here - you'll want the .NET Core Tool Installer task and .NET Core task for your scenario. You mentioned you'd tried the .NET Core Tool Installer but were still having issues. Did you use "2.0.0" for the Version field in that task? If so, could you share the output here? I'd expect that to have been able to resolve the issue you

[2017-08-17 21:35] kyleherzog commented on #4701
When I originally opened this, I was trying to get at the -Version parameter.  I too was trying to generate my own version number based on a combination of other environment variables but also included a suffix for pre-release builds.  I ended up using the "Use an environment variable" setting of the pack options.  This required me to add a custom task prior to the Nuget task that actually sets my

[2017-08-17 22:18] Adebeer commented on #5014
@MikkelHegn Thanks Millel.
I don't have any issues calling either New/Update-ServiceFabricApplication cmdlet. My problem is there is a bug with the Update-ServiceFabricApplication cmdlet as per above which I would like fixed

[2017-08-17 22:35] jjbrunton commented on #3355
Hiya,

I'm currently experiencing the same issue, we are unable to build on both Mac in The Cloud Agents and also hosted VSTS agents.

We've had to revert to running jenkins internally as a build server for the Android portion of our Xamarin project.

Is this likely to be fixed soon?

[2017-08-17 22:36] MikkelHegn commented on #5014
Yes - I opened a bug here to get this fixed in the SDK: https://github.com/Azure/service-fabric-issues/issues/408

For the VSTS task, someone will have to update the script here, as the task do not rely on the SDK: https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/ServiceFabricDeploy

[2017-08-18 01:01] sandorfr opened #5051 "dotnet task does not find cli tools"
When trying to run a cli command (other than builtin ones), it will fail because dotnet working directory is not set to the project working directory.

so the following task would fail :
![image](https://user-images.githubusercontent.com/2660262/29440182-18ecc102-8406-11e7-90c0-7cc92863287e.png)

[code]

where a cmd task with working folder set would work:
![image](https://user-images.githubuserco

[2017-08-18 01:08] sandorfr commented on #3021
This has been completely fixed with the new xamarin and nuget tasks + visual studio for mac :). As far as I'm concerned everything works as expected now.

[2017-08-18 02:54] vincentdass commented on #3312
@dennis-yemelyanov , Currently there is an [thread](https://github.com/Microsoft/vsts-tasks/issues/1607) for the same issue.
Can you please add `-retryInterval:6000 -retryAttempts:10` in Additional arguments under Publish Using web deploy option and re-queue the release (to unblock from the issue)?

[2017-08-18 07:23] asranja commented on #5048
@bdbvb Can you enter the thumbprint directly (instead of the varibale $(SSLThumbprint) in the SSL certificate thumbprint input to see if there is any non-hexadecimal character in the input. In case of error, the UI shows :

![bindingsssl](https://user-images.githubusercontent.com/20986928/29448398-19ca3b6e-8414-11e7-8ad3-c033c48d193e.PNG)

[2017-08-18 07:46] sachinma commented on #5050
This task expects az to be present on the agent machine. The error indicates that az is not present on the agent. If you are using Hosted queues, then you can use Hosted VS2017 where it is present.

[2017-08-18 07:47] #5050 closed

[2017-08-18 09:33] kasubram commented on #4006
This if fixed.

[2017-08-18 09:33] #4006 closed

[2017-08-18 10:53] SandipAhluwalia commented on #5049
Hi again,

Further to my post above, I tried getting it to work with NuGet v3.5 as some people on various forums have indicated this version seems to work. So after looking at the error messages again for when I initially tried NuGet v3.5 (see above post), I noticed it was trying to find msbuild v14.0, so as my build agent only has Visual Studio 2017, I had to separately install the MS Build Tools

[2017-08-18 12:39] Liero commented on #4533
Actually, three steps vere required to make it work: https://stackoverflow.com/questions/45717283/vsts-build-packages-failed-to-restore-unable-to-resolve-netstandard-library/45726277?noredirect=1#comment78457101_45726277

I believe it could work by default without the three steps...

[2017-08-18 13:07] bdbvb commented on #5048
Weird. I did a select/copy of the value from the release definition, and pasted into the Add Bindings dialog, and though it looks perfect, I do get the error you mention:

![image](https://user-images.githubusercontent.com/11095196/29460040-4c102360-83f4-11e7-892b-dc6ffd93af4d.png)

I originally copy/pasted the value from the thumbprint of the built-in Windows certificate viewer and deleted the sp

[2017-08-18 13:25] bdbvb commented on #5048
Using a Unicode converter, I see my thumbprint is actually something like:

&#x200E;61e22fb554ac0db05c2b32a4cfee821b05963135

200E is the Left to Right Mark (https://en.wikipedia.org/wiki/Left-to-right_mark)

I'm guessing (maybe) when copying that value from the Windows certificate viewer, it includes this hidden character.

So I suppose it's technically not a bug :-)

However, would be nice for i

[2017-08-18 13:33] bdbvb commented on #5048
(Update: I did try selecting and copying the thumbprint value from the certificate viewer and pasting it into a unicode converter, and it indeed is the culprit.)

![image](https://user-images.githubusercontent.com/11095196/29461015-27eaaaf6-83f8-11e7-86fc-3d24c52c1170.png)

![image](https://user-images.githubusercontent.com/11095196/29461040-3d88a82c-83f8-11e7-865b-6b9638b6fc45.png)

[2017-08-18 14:47] SandipAhluwalia commented on #5049
UPDATE: Resolved

It looks like I am talking to myself in this post :) So after further studying the error messages in my post and doing more research, I realized that the connection to the NuGet server errors was related to my company proxy that my machine was using. In the end, on top of the changes I mentioned above, I had to configure my TFS server 2017 to use my domain user account instead of

[2017-08-18 16:14] asranja commented on #5048
@bdbvb Yes, you are right. The thumbprint from the certificate manager does append an invisible Unicode at the beginning of the thumbprint. Currently we are not trimming it out in the UI. We let the task trim out any non-hexadecimal character and spaces.

[2017-08-18 16:58] NetTecture commented on #4694
@cltshivash It is not. As in: not specificed in ANY SINGLE TEST. Is it necesssary? It seems not to be documented anywhere. If it is - why does it work on some machines? (which change after every reset). Here is the code I am using to load the chromedriver:

        [AssemblyInitialize]
        public static void SetUp(TestContext context) {
            var baseDir = Path.GetDirectoryName((typeof(A

[2017-08-18 17:29] cilerler commented on #5047
Closing this one and will follow up at dotnet/standard#454

[2017-08-18 18:15] sweetsruthi commented on #5040
I have the same issue. The release task was working until last week and now it started giving the module not found error. tried upgrading the Modules in Azure PowerShell but no luck

[2017-08-18 18:24] asranja commented on #5040
@sweetsruthi What version of Azure PS are you using? Also, may i know how you upgraded the modules.

[2017-08-18 19:27] cilerler commented on #5047
I have to re-open this one, since it is either going to be solved by dotnet/standard team _(via new tooling)_ or through VSTS team _(rolling VS2017.3 to all agents or providing a method etc.)_

@chrisrpatterson is there any time frame to complete rolling VS2017.3? or magic syntax to pull an agent that has it?

a show stopper at this point. 😢

[2017-08-18 20:10] bryanmacfarlane commented on #5047
It doesn't have to be a show stopper.  You can deploy a private agent on your own vm.

15.3 on the convenient hosted pool is in progress

[2017-08-18 20:43] mayeager22 opened #5059 "How to call a function when using "Powershell on Target Machines"?"
I have a Powershell script with functions that I can call directly from the command-line if I dot source that script first:

 . .\Install-BizTalkApplication.ps1 ; FullInstallProcess-BizTalkApplication {arguments}

Is there a way to dot source the script in the Powershell on Target Machines task?

[2017-08-18 21:01] cilerler commented on #5047
Thanks @bryanmacfarlane.

Easier workaround came from **dotnet/standard** team, wanted to share it here incase someone else hits the same bump.

https://www.nuget.org/packages/NETStandard.Library.NETFramework/2.0.0-preview2-25405-01 solves the issue.

[2017-08-18 21:01] #5047 closed

[2017-08-18 21:25] bryanmacfarlane commented on #5047
Cool.  15.3 is rolling now.  Early next week everywhere

[2017-08-19 02:13] flightlevel commented on #5035
Above advice allowed me to get further along thank you, but was still getting weird (to me) NuGet issues

Found this which got me going! Might help someone else https://stackoverflow.com/questions/45717283/vsts-build-packages-failed-to-restore-unable-to-resolve-netstandard-library

[2017-08-19 04:18] abatishchev commented on #5001
hi @bryanmacfarlane, what do you think about wildcard support? thanks.

[2017-08-19 17:12] vincentdass commented on #4884
@ericbrunner , we have the story in our backlog and will be taken based on the priority.
Will be updating the thread once the fix is deployed.

[2017-08-20 14:37] christophedemey opened #5062 "Xamarin Android build task"
Hi,

I just had a very unpleasant experience with the xamarin android build task and took me over a day to figure everything out.
Maybe some stuff can be improved to prevent people from losing this much time over this.

My problem and the solutions are posted in this thread :
https://developercommunity.visualstudio.com/content/problem/96957/xamarin-android-build-failing.html

[2017-08-20 20:24] iangavr commented on #4982
Same issue. Agent version is 15.3.26730.8

[2017-08-21 02:46] sandorfr opened #5063 "Seems impossible to get visual studio task or msbuild task to build *.sqlproj on Hosted Agent wit VS 2017"
It does not produce any output, just a warning:
[code]

According to this blog post it should work out of the box on hosted agents : https://blogs.msdn.microsoft.com/ssdt/2016/04/06/sqldb-cicd-part2-build/

I tried to install the nuget package and override `SQLDBExtensionsRefPath` variable without any success.

[2017-08-21 04:42] #5048 closed

[2017-08-21 05:40] sandorfr commented on #5063
It actually works if I target the project and not the solution which is really weird.

[2017-08-21 06:02] #4981 closed

[2017-08-21 07:17] abhishekkumawat23 commented on #4684
@structre40 @ChrisLGardner : We tried to repro this issue on our end with various scenarios but we were unable to repro the issue.
Following are the ways to unblock from the issue:

Way 1: Base snapshot shouldn’t have any TestAgent installed and there shouldn’t be any RFT/DTA tests ran on this base snap. Now, take a clone of this machine and run the tests. This way is little time consuming for 1st

[2017-08-21 07:17] sandorfr commented on #5063
I have very random behavior around this issue between builds. I'm closing it for now, I'll reopen if I can narrow down a 100% reproduction scenario.

[2017-08-21 07:17] #5063 closed

[2017-08-21 07:26] sandersaares opened #5065 "NuGet restore fails when encountering netcoreapp2.0 -> netstandard2.0 references"
It appears that the NuGet restore task in VSTS uses some old version of NuGet that is unable to deal with netcoreapp2.0 projects that reference netstandard2.0 projects.

This is running on a custom agent with VS 2017 update 3 and .NET Core SDK 2.0.0.

Directly invoking `nuget.exe restore` with NuGet 4.3.0 instead of using the NuGet task works fine. I would expect the NuGet task to also work fine h

[2017-08-21 07:36] sandorfr commented on #5063
Ok found the issue, this is a problem with msbuild which hides the real issue behind this message. Nothing to do with the task. (in this case in one build, the sqlproj had invalid data injected by the build process)

[2017-08-21 07:45] sandersaares opened #5066 "VSTest task fails to execute tests in .NET Core 2.0 test project"
If I provide a .NET Core 2.0 test project DLL as input to the VSTest task (version 2.0.70), I encounter the following error: `2017-08-21T07:42:45.2798678Z Warning: Unable to load types from the test source 'C:\Agent1\_work\34\s\Tests.NetCore\bin\Release\netcoreapp2.0\Tests.NetCore.dll'. Some or all of the tests in this source may not be discovered.`

Indeed, no tests from this assembly are actuall

[2017-08-21 08:30] sandersaares commented on #5066
Possibly related: https://github.com/Microsoft/vstest/issues/596

The workaround from there of manually invoking a different vstest.console.exe and providing /Framework:FrameworkCore10 results in successfully executed tests (but prevents me actually using the VStest task).

[2017-08-21 08:53] gregkalapos commented on #4186
Btw I created a screencast which shows my current setup and explains how I solved this problem: http://kalapos.net/Blog/ShowPost/cicdpipelinescreencast

[2017-08-21 08:55] Cva2904 opened #5068 "Test Agent Deployment time is varying from one build definition to another."
Dear Team,

We have implemented build definition as part of continuous integration, to check the application on different machine.

The problem we are facing is, test agent deployment is taking more time in one build definition and less time in another build definition.

Do let me know if you need further inputs on the same.

Thanks,Siva. A

[2017-08-21 09:14] #4684 closed

[2017-08-21 12:53] sandersaares opened #5073 "Feature request: run PowerShell as admin/sudo"
I use the PowerShell task to deploy software as part of a release process. To facilitate the needed activities, I would like to run the script as Administrator (on Windows) or via sudo (on Linux). At the moment, there does not seem to be any direct mechanism to do this.

[2017-08-21 14:52] cilerler opened #5074 "Chain build/release"
is there a native way of trigger a build on another project when a release get completed?

I found that there is a marketplace item exist for this but wondering if this is available by Microsoft?

https://marketplace.visualstudio.com/items?itemName=benjhuser.tfs-extensions-build-tasks

[2017-08-21 14:55] sweetsruthi commented on #5040
Hi, I was using Azure PS 1.0.2 but upgraded to latest 4.3.1 using commands "Install-Module Azure" and "Install-Module Azure.Storage". Please let me know if there is any other way to do it.

[2017-08-21 15:16] asranja commented on #5040
Alternatively, you can install it from the msi [here](https://github.com/Azure/azure-powershell/releases). Let us know if it works.

[2017-08-21 16:32] rmarinho commented on #5035
i thought this was going to be fixed last week with new image of Hosted 2017 ?!

[2017-08-21 16:37] bryanmacfarlane commented on #5035
We started rolling late last week.  By EOD it will be in 3 of 4 rings.

[2017-08-21 17:39] cilerler commented on #5047
just to inform if anyone hits here, it has been rolled and VSTS is working just fine... 😎

[2017-08-21 19:09] apwillies opened #5075 "Xamarin.iOS msbuild fails"
We have been unsuccessful so far in getting this task to work in our CI process. We are using this code installed onto our TFS server on prem. The build server is a Mac running VS for Mac, all updates applied. The Build definition has the Build Tool set to "MS Build (Visual Studio for Mac)". At the end of the process, the build fails with this error:

The first error that we get is this:

The same

[2017-08-21 21:32] alexmullans commented on #4701
Thanks @kyleherzog and @markr007 for the feedback. These seem like reasonable feature requests and I've added them to the NuGet task v3 workitem on our backlog. In light of that, I'm going to close the GitHub issue.

[2017-08-21 21:32] #4701 closed

[2017-08-21 22:04] mivano opened #5077 "AzureCLI task is unable to find Python"
Trying to run a build with a simple Azure CLI task. Task is set to inline script with as contents **az vm list**. When run on a Hosted VS2017 agent, it indicates it cannot find Python (##[error]Script failed with error: 'python' is not recognized as an internal or external command,).

![image](https://user-images.githubusercontent.com/668535/29540081-08eccf3a-86cd-11e7-8aea-7eedf656bc4e.png)

A co

[2017-08-21 22:35] keithrob commented on #5049
@SandipAhluwalia ,
Apologies for the delay.  Here are a couple of thoughts:

- I'm not sure how your corporate proxy is configured, but I would suggest using a service account as opposed to your domain user account when running the agent.  Running the agent as you is a security risk.

- The new 2.* versions of the nuget task will respect the proxy settings of the agent.  IOW, if you configure the

[2017-08-21 22:35] #5049 closed

[2017-08-22 00:07] keithrob commented on #4959
It is a innocuous warning.  We'll try to clean it up in a future release.

[2017-08-22 00:07] #4959 closed

[2017-08-22 00:55] FBNitro opened #5078 "Service Fabric Cluster Deploy - 64K Environment Variable Limit"
According to the VSTS Task Lib, there was a defect with Environment Variables stopping if you had > 64K of Environment variables.  VSTS Task Lib has claimed that this was fixed, and that tasks need to update to the latest version.  I recently hit this scenario with the Service Fabric Cluster Deploy.

Please release an updated version with this fix, this defect is blocking production release of our

[2017-08-22 04:42] bishal-pdMSFT commented on #5014
Thanks @MikkelHegn , we will take updated scripts from SDK once the referenced issue is fixed.

@Adebeer If we change the VSTS task("ServiceFabricDeploy") behavior to support both RegisterAndUpdate and Update, would you start consuming the task instead of raw scripts? Or is there some other issues as well blocking you from using task?

[2017-08-22 06:07] jikuma commented on #5020
Have you installed docker toolbox for windows or docker for windows on the build agent ? Can you try running docker build command directly on build agent and let me know the result.

[2017-08-22 07:49] melborp commented on #5077
I am also hitting it. Azure CLI is a core part of the azure deployment, and this is blocking all releases currently.

[2017-08-22 07:52] MattiasHognas commented on #5077
Same error here, our full CI/CD is in VSTS hosted agents..

[2017-08-22 09:11] k-ljung commented on #4001
@vincentdass I still have this problem on some .config file. Currently I'm running Umbraco CMS with the uSync add-on and it creates a lots of config files. The IIS Web App Deploy(Preview) task is trying to substitute variables in all of this files.

I'm running version 0.0.21 of the task, the uSync files is stored under a subfolder uSync\data in the root.

I can send over log files in private.

[2017-08-22 09:16] rgovardhms commented on #5077
We are looking into this issue. Will update after the investigation.
Thanks!

[2017-08-22 09:36] prawalagarwal commented on #4961
Hi @lkruger,

It looks like you are trying to select the Feed source as your own Nuget.config file, and the warning pops up when you leave the Nuget.config file empty. If you are not specifying any particular feeds in your config file you can let the default option be your feed source:

![image](https://user-images.githubusercontent.com/13520100/29558961-4e9e9bca-874b-11e7-81f2-4e36a399f0bd.png)

[2017-08-22 09:39] prawalagarwal commented on #4978
Hi @cpoDesign,

Were you able to resolve the issue? If not, can you please send the logs to devops_tools@microsoft.com

Thanks.

[2017-08-22 09:45] prawalagarwal commented on #4988
Hi @Maheshkhandave ,

Any updates here? Were you able to resolve the issue?

Thanks

[2017-08-22 09:47] nigurr commented on #4982
Can you please try using Admin account for running the tests instead of different account? This should unblock. We have tracking bug for the same.

[2017-08-22 11:55] bansalaseem commented on #5036
I am treating the build numbers as a black box w.r.t. release names, so if you have the correct values in the build number, then you will able to use it in the release.

We do have a concept of draft release where we allow you to change the variables and those changes gets reflected in the release names. For example: - I can have a format mask $(System.TeamProject).$(Foo)Release-$(rev:r) and I can

[2017-08-22 12:28] vincentdass commented on #4001
@k-ljung , Please share the debug logs (set variable **system.debug**=**true** and rerun the release) to `RM_Customer_Queries@Microsoft.com` ?

[2017-08-22 12:31] k-ljung commented on #4001
@vincentdass, done

[2017-08-22 13:18] Pitterling opened #5086 "Nuget pack *.nuspec - System.IO.FileNotFoundException: File not found:."
Hi,
I'm trying to convert from deprecated Nuget Packager task .. using nuget pack with my *.nuspec file ends in FileNotFoundException for the files to be packed. I tried to copy the files beforehand to different locations without luck.

Unfortunately the debug and verbose output do not list where the task is expecting the files.

Where do i need to put the files to be packed?

Thanks

[2017-08-22 14:11] IvanAlekseev commented on #5065
I am having the same issue. Using [this](
https://github.com/Microsoft/vsts-tasks/issues/3798#issuecomment-287105240) workaround allowed to build on hosted agent

[2017-08-22 14:18] SandipAhluwalia commented on #5049
@keithrob , Thanks for the tips. In my TFS 2017 update 2 Express edition, it doesn't seem to have 2.* version of the NuGet restore task. I am hoping it will have it in the full professional edition or is it only available via VSTS?

[2017-08-22 14:49] keithrob commented on #5049
@SandipAhluwalia,
Version 1.* of the Nuget task also respects the [proxy settings](https://www.visualstudio.com/en-us/docs/build/actions/agents/v2-windows#how-do-i-configure-the-agent-to-work-through-a-web-proxy-and-connect-to-team-services) of the agent.  In fact, if you [enable debug](https://www.visualstudio.com/en-us/docs/build/define/variables#control-variables) you should see a line that loo

[2017-08-22 14:50] axelheer commented on #1830
Hm, I'm having quite the same issue with the newest xunit and TFS versions.

The xunit file contains the (culture invariant) dot '.' as a decimal separator, but our build accounts should have the german culture (note: the newer windows versions don't use the dot as a thousand separator but some kind of special unicode character for german users...).

Since the run duration is always zero, I assume

[2017-08-22 15:02] keithrob commented on #4958
@asiffermann,
I'm not sure I understand your scenario.  It sounds like you're packing a project, un-tgzing it, and then publishing it.  That seems odd.  Feel free to respond back with clarifications.

Here are a few suggestions:

- If you "npm publish" from the same directory as your package.json NPM will correctly bundle everything up and push the resulting .tgz to your configured registry.  As l

[2017-08-22 15:38] styfle commented on #4361
Today, I started getting failing builds for the Hosted 2017 yet no configuration was changed. The error was the following:

[code]

I found a workaround in https://github.com/Microsoft/vsts-tasks/issues/415 which says to update the Test Task from `1.x` to `2.x` and this seemed to work.

@bryanmacfarlane It's a shame that every couple months, these tasks are breaking 😞

[2017-08-22 15:46] keithrob commented on #4956
@asiffermann ,
When you put the public registry's token into [1], what happened when you clicked "Verify connection"?  This option should work for the public registry although the verbiage is confusing and something we will change.
Keith

[1]
![image](https://user-images.githubusercontent.com/908203/29573937-0e1fc9d8-8715-11e7-8b3e-600c72ffef33.png)

[2017-08-22 15:47] #4852 closed

[2017-08-22 15:48] #4826 closed

[2017-08-22 15:49] cltshivash commented on #4694
@NetTecture The chromedriver.exe will be copied over to the test run directory based on the below

1. If there's a test that has a compile time dependency on it
2. If it has been specified as a deployment item in the test class or in the testsettings.

Without looking at the code it is hard to comment on point no.1. Kindly add "chromedriver.exe" as a deploymentitem in the test code and verify if i

[2017-08-22 15:52] keithrob commented on #4812
@PArpagaus,
Are you still having this issue, and if so can you let me know which version of the Nuget build task you are using?

In fact, running the build again with [debug enabled](https://www.visualstudio.com/en-us/docs/build/define/variables#control-variables) and attaching those logs would be helpful.

Keith

[2017-08-22 15:54] keithrob commented on #4794
Closing the issue pending further information.  Reopen as needed.

[2017-08-22 15:54] #4794 closed

[2017-08-22 15:56] cltshivash commented on #4717
@Manmp The error is a clear indicator of the interactive session no longer being active (window being minimized or remote session closed or locked explicitly). Please view the screen recording or take a snap when the failure happens to understand the situation better. The below code can be used to take a snap when the error happens.
[code]

[2017-08-22 16:12] keithrob commented on #4759
@acgritt,
The message you are seeing is related to some code in the nuget task where we are trying to detect the nuget version and its associated 'quirks'.  Newer versions of nuget (e.g. 4.x) have fewer issues.

I don't have too much information about your build env but using the nuget tool installer with the latest nuget build tasks provide a solid alternative to some of the legacy issues.

I'm g

[2017-08-22 16:12] #4759 closed

[2017-08-22 16:15] keithrob commented on #4427
@mqlkmd,
Still having this problem?
Keith

[2017-08-22 16:21] keithrob commented on #3279
@stan-dcip ,
We have made a bunch of improvements to how the NPM build task handles authentication.  Please take a look at the new options [here](https://www.visualstudio.com/en-us/docs/build/steps/package/npm).

[2017-08-22 16:21] #3279 closed

[2017-08-22 16:50] KrishnaAdityaB commented on #4972
@sameer-kumar
If you have any _Write-Host_ statements in your script, replace them with _Write-Verbose -Verbose_.
More details can be found at https://github.com/Microsoft/vsts-tasks/issues/612

[2017-08-22 17:02] keithrob commented on #553
@RDalziel,
Are you still experiencing slowness with your NPM builds?  I'm curious if you're still using Sinopia and whether or not you've tried using shrinkwrap or newer versions of NPM.
Keith

[2017-08-22 17:08] KrishnaAdityaB commented on #4957
@rhlgupta1383 This is the design of the task, right now.
You can add an Azure PowerShell task and modify the access type using cmdlets.

Thanks for bringing up the scenario.
 @RoopeshNair Is there is a specific reason we didn't expose this option? If not, can we consider this as enhancement?

[2017-08-22 17:12] Manmp commented on #4717
I will send the details with this.
Also for Microsoft case I will be using my corporate Id

Manisha.parmar@allscripts.com

On Aug 22, 2017 9:26 PM, "Shiva Shankar" <notifications@github.com> wrote:

[2017-08-22 18:18] keithrob commented on #5001
@abatishchev,
Are you using hosted VSTS?  If so you should be able to add two v2.* nuget pack build steps to your build definition.  In each nuget pack build step, expand the section titled "Pack Options" and notice "Automatic Package Versioning"[1].  Here you can specify an environment variable and add the suffix (or not).  In the "Variables" section of your build you should create 2 variables Pa

[2017-08-22 22:20] a135009 commented on #5077
Same same. The hosted and linux preview also fail with:
`2017-08-22T22:14:29.4776390Z ##[error]Unhandled: Failed which: Not found az: null
`

[2017-08-22 22:57] IvanAlekseev commented on #5066
Same here, for some reason vstest task uses old version of test platform as described [here](https://github.com/Microsoft/vstest/issues/443#issuecomment-277467717)
But even with TPv2 I am unable to get coverage results, here is my log:
[code]

[2017-08-23 02:01] sandorfr commented on #2119
The `Allow duplicates to be skipped` option is missing on External Nuget Server. I think this is needed there as well  ;)

[2017-08-23 02:49] alexmullans commented on #2119
Unfortunately, that feature relies on a custom NuGet client and APIs that are only available in Visual Studio Team Services, so we can't enable it for external NuGet servers.

[2017-08-23 03:07] abatishchev commented on #2119
It's impossible to catch HTTP exceptions and swallow those which have status 409 Conflict? I understand that internally it's more complex but in the end or the day that's what it is, isn't it?

[2017-08-23 03:15] ridomin opened #5092 "VSMobileCenterUpload fails"
Tryed to upload UWP app from VSTS build to MobileCenter.

The task fails with error:
Cannot POST /v0.1/apps/https://mobile.azure.com/users/*****

Looks like the app slug is not in the correct format, although I could not find documentation (well, just an empty page here: https://www.visualstudio.com/en-us/docs/build/steps/deploy/mobile-center-upload ) so I followed the instructions in the tooltips

[2017-08-23 04:00] Maheshkhandave commented on #4988
Hi Prawal,
This issue is still unresolved. I think it  is a known issue in TFS 2017 Update-1 which will be resolved in update-2.

Thanks,
Mahesh Khandave,
Test Automation Lead,
Global In-house Center(GIC), Pune
Wolters Kluwer Tax & Accounting
91.206.731.2747 tel
91.986.059.1870 mobile

From: Prawal Agarwal [mailto:notifications@github.com]
Sent: Tuesday, August 22, 2017 3:15 PM
To: Microsoft/vsts-

[2017-08-23 05:16] sandorfr commented on #2119
If what @abatishchev is suggesting is not possible, maybe having the task skipping symbols automatically would be great.

[2017-08-23 05:34] Jinwenxin opened #5093 ""Object reference not set to an instance of an object" error happens all the time we run test cases."
![image](https://user-images.githubusercontent.com/7763785/29600211-2d737dbe-8807-11e7-8439-19858907eed6.png)
All tests are running failed with such errors. But nothing changes on my side. Any ideas?
Configuration of my release:
![image](https://user-images.githubusercontent.com/7763785/29600302-a21ae08a-8807-11e7-87d2-bff1da3067dc.png)

[2017-08-23 07:44] zjrunner commented on #2119
@abatishchev , when using nuget.exe your response codes have historically been only 0 or 1.  It was success or failure.  In this case, ignoring a conflict would also ignore invalid uploads and other types of connectivity errors.  To go beyond that you need to get into verbose output and log scraping which generally aren't reliable, especially across user-configurable nuget versions.  Since we own

[2017-08-23 08:08] jakubsvobodacz opened #5094 "Cannot build in VSTS - Dotnet command failed with non-zero exit code"
Without making any changes to our project files, just regular code update, our builds started to fail from this monday - 21/08/2017. During the build, in the log, we get the following error at the _Restore step_:

`Error: C:\Program Files\dotnet\dotnet.exe failed with return code: 1`

And

`Dotnet command failed with non-zero exit code on the following projects : d:\a\1\s\BD.YRD.Tests\BD.YRD.Tests

[2017-08-23 08:33] mivano commented on #5077
Is there any update on this issue? Or should we raise a formal case with MS so it can be picked up?

[2017-08-23 08:53] samurairod commented on #2747
In my case it was caused by package(s)/version that can not be found by nuget. These packages are hosted in our corporate nuget server.  To fix the issue I added  our corporate nuget package source in my solution's NugGet.config.

I added this under <packageSources>:

    <add key="Corporate Package" value="http://mydomainOrIP/nuget" />

This will inform nuget to check the package in this source.

[2017-08-23 08:55] raman91dogra commented on #4996
@SadagopanRajaram Any updates. Do you need any help from me. Please reply

[2017-08-23 11:14] melborp commented on #5077
We added azure powershell based scripts as alternative, unfortunately swapping using azure powershell is way slow compared to azure cli. But it works as alternative until the image gets fixed.

[2017-08-23 12:03] sachinma commented on #5077
You can install az cli just in time by adding powershell task  with following inline script in your build/release process on VS2017 pool. This will ensure that Azure CLI task will work:

&'C:\Program Files\Python36\python.exe' -m pip install --user azure-cli
Write-host '##vso[task.prependpath]C:\Program Files\Python36\'

[2017-08-23 12:28] abatishchev commented on #2119
I see. Should we then we/you go to the NuGet team and ask to expose HTTP statuses properly?

[2017-08-23 12:37] chrisrpatterson commented on #5094
Do you have a global.json in your project that locks you to a particular version of the SDK?

[2017-08-23 12:39] dbtfsbre opened #5095 "Visual Studio Test Agent Deployment fails to connect to test agent FQDN with error 67"
After updating to TFS 2017 SP2, V1 of "Visual Studio Test Agent Deployment" starts to produce a lot of errors in our environment and V2 fails the build.
During the task, CopyFilesToTestAgent is called which throws error 67 ("The network name cannot be found.")

The test agent machines are not in a domain, but they have their own primary DNS suffix.
They are reachable via ping from the build agent,

[2017-08-23 12:43] chrisrpatterson commented on #5065
If you need a more recent version of NuGet you need to specify that in your definition. Due to a wide variety of compatibility issues in NuGet.exe we can't blindly update everyone to more recent versions

[2017-08-23 12:44] jakubsvobodacz commented on #5094
Hi chrisrpatterson, no we do not have global.json. Actually, that was the first thing I tried to do - adding a global.json with targetting the SDK that we use locally but that did not help, so I took it out again.

[2017-08-23 13:15] PBoraMSFT commented on #5066
@IvanAlekseev, @sandersaares - VSTest task cannot run .NET core tests as it uses the Test platform version 1. To run .NET core tests, we recommend using the .NET core task with the test command.

@IvanAlekseev - Code coverage and other data collection is not supported in test platform v2 yet.

[2017-08-23 13:37] mqlkmd commented on #4427
@keithrob ,
We had to abandon the NPM tasks and just use plain cmd tasks.
I just tried another run using npm tasks and the problem unfortunately remains.
We are not blocked by this now since we are not using the npm tasks, but we might be sometime in the future if we need some of the features of npm task, like auth using buildagent's accesstoken.

[2017-08-23 13:41] IvanAlekseev commented on #5066
@PBoraMSFT it is woking in VS Enterprise locally, and documentation mentions it should work from console https://github.com/Microsoft/vstest-docs/blob/master/docs/analyze.md#working-with-code-coverage

As you can see in logs posted above I was able to use TPv2 by specifying correct path and have coverage report created, but failed to upload because task is looking for it in different path.

And th

[2017-08-23 13:51] IvanAlekseev commented on #5065
Thank you @chrisrpatterson, I just found a vsts task to update a nuget. Is there an option to always use the most recent one?

[2017-08-23 13:53] madhurig commented on #5092
The appslug should be username/appname (the help has some details)
<img width="300" alt="appslug" src="https://user-images.githubusercontent.com/3269636/29619323-d12edecc-87e8-11e7-9158-6c16ee017326.png">
The best way to find these values is from the mobile center url.

We are trying to improve the experience here, so you can just pick your app without having to figure this out.

Thanks,
Madhuri

[2017-08-23 14:28] ridomin commented on #5092
what is not clear from the help is the final format.
Should be http://mobile.azure.com/users/rido/apps/myapp or just rido/myapp ?

[2017-08-23 14:52] KrishnaAdityaB commented on #5059
Try
`.  $PSScriptRoot\Install-BizTalkApplication.ps1 ; FullInstallProcess-BizTalkApplication {arguments}`

_.\file.ps1_ - searches the file.ps1 in current working directory instead of the directory of script file.
_$PSScriptRoot_ gives the script file's directory.

[2017-08-23 14:53] SamuelMcAravey-NVP opened #5097 "Cannot Run Service Fabric Tasks on Deployment Groups"
Hi everyone, so we ran into an issue this week where we need to run the Service Fabric related tasks in a Deployment Group (details below). I found these pull requests (#3412, #3527) that add the `runsOn` property that limits the tasks to only build agents, making it so that we can't use them on Deployment Groups. I can create a pull request if needed (created: #5098), but in the short term I crea

[2017-08-23 15:12] SamuelMcAravey-NVP commented on #5097
#5098

[2017-08-23 15:17] keithrob commented on #4427
@mqlkmd,
Glad to hear you worked around the issue.

Also, we are going to be releasing a new build task soon which will inject credentials into a .npmrc and leave them around for the lifespan of the build.  This should allow you to authenticate to a Feed using your custom scripts without some of the clunky/insecure work-a-rounds (e.g. userlevel .npmrc on build system or checked in credentials).

K

[2017-08-23 15:17] #4427 closed

[2017-08-23 15:39] #5092 closed

[2017-08-23 15:41] madhurig commented on #5092
@ridomin: Ah I see, it should be rido/myapp and not the full URL.

[2017-08-23 16:00] KrishnaAdityaB commented on #4782
@lukewis the input that @Fizcko suggested above should work. Which you tried and got Access Denied error (your approach 2).
Make sure the local user on the remote machine has admin rights. Find more details below.

**Scenario**
Let's say you have two machines _AgentMachine_ and _TargetMachine_.
You want to copy a folder from _AgentMachine_ to _TargetMachine_.
The source for copying is on _AgentMac

[2017-08-23 16:08] zjrunner commented on #2119
Yes, but it has been an open request in nuget since 2015 (https://github.com/NuGet/Home/issues/1630).  The last workable suggestion in that thread was to list, then publish.  That still is exposed to race failures.

[2017-08-23 16:41] IvanAlekseev commented on #5066
Also [here](https://github.com/Microsoft/vstest/issues/579#issuecomment-301458975) VS test team says that it is ready

[2017-08-23 17:32] madhurig commented on #5062
@christophedemey : Thank you for sharing your experience and solution. We don't have an automated way to pick up the right agent queue based on what you are building currently. It is something we are investing to make it easier to get started. We will take your feedback into account.

Thanks,
Madhuri

[2017-08-23 17:52] christophedemey commented on #5062
@madhurig thank you.

Things you could include that i believe could make life allot easier :
- The makelink script that is required because the sdk is in program files and java cant handle the space.
- Version patching in AndroidManifest.xml (i did this myself with a console app and shell script task).
- A decent android app will not build if JDK is not set to x64 (out of memory exception elsewise

[2017-08-23 18:17] chrisrpatterson commented on #5097
@SamuelMcAravey-NVP why not join the agent on the jump box to a normal pool in VSTS that would work as well.  The deployment group and the deployment model it follows does not really fit for ServiceFabric.

[2017-08-23 18:19] alexmullans commented on #2119
@sandorfr great feedback, we used to exclude those, and I think we could add that back to the default. For existing builds, you can add ;!$(Build.ArtifactStagingDirectory)/*.symbols.nupkg to your publish path to exclude symbols packages.

[2017-08-23 18:49] SamuelMcAravey-NVP commented on #5097
While yes, I can join the jump box as a build agent but it makes the following scenario untenable.

I have several environments set up (call it 6 of them), each with their own fabric cluster and jump box, and I want the same application to be released to all environments. By having the jump boxes as build agents only 1 out of the 6 will get the updated package. But by having them all as part of a

[2017-08-23 21:34] iyerusad commented on #5077
@sachinma thank you for the workaround. Pretty crappy this is a thing.

![image](https://user-images.githubusercontent.com/25647368/29639580-75c2715e-8818-11e7-9b77-df4fcd8a75d1.png)

[2017-08-23 21:38] bryanmacfarlane commented on #5073
@sandersaares - can you run a private agent as admin?  Or are you referring to a hosted pool?

[2017-08-23 21:39] richlander commented on #5094
Can we get access to the customer's project or at least the full build log to investigate why 2.0 is failing to restore? You can send me mail at rlander@ms.

[2017-08-23 23:04] alexmullans commented on #5065
If you're using the NuGet Tool Installer task, you can use wildcards (e.g. 4.* or *) to always use the latest version available from https://dist.nuget.org. Note that things sometimes break or change between (even minor) versions, so this can introduce some instability to your build.

[2017-08-23 23:04] #5065 closed

[2017-08-23 23:12] IvanAlekseev commented on #5065
Thanks @alexmullans, 4.3.0 works for us now

[2017-08-24 00:23] chrisrpatterson commented on #5094
@jakubsvobodacz what is your account name and what is the name of the build definition in question?

[2017-08-24 04:05] rolandh commented on #2147
Can anyone answer why BUILD_SOURCEVERSIONMESSAGE is not available when pulling from bitbucket via VSTS?

Here is my question in detail
https://stackoverflow.com/questions/45852685/vsts-missing-certain-build-flag-envbuild-sourceversionmessage

[2017-08-24 04:36] SadagopanRajaram commented on #4996
I assume you are refering to the feature documented at https://www.visualstudio.com/en-us/docs/test/continuous-testing/run-automated-tests-from-test-hub
Can you please confirm that the test cases is associated with automation using the directions below?
https://www.visualstudio.com/en-us/docs/test/continuous-testing/associate-automated-test-with-test-case for Visual Studio 2017
https://msdn.micros

[2017-08-24 05:59] sandersaares commented on #5073
Yes, this is about a private agent. The user does have admin/sudo rights, it is just a question of actually doing the elevation when a task is run.

[2017-08-24 07:37] jakubsvobodacz commented on #5094
Hi both,

Our vsts is on: https://nnit-code.visualstudio.com/YardstickApp
Build definition name: `YardstickApp-ASP.NET Core-CI`

![build_definition_steps](https://user-images.githubusercontent.com/21977019/29655045-e262ec34-88af-11e7-9684-a2fd3a2978f2.PNG)
[logs_322.zip](https://github.com/Microsoft/vsts-tasks/files/1248065/logs_322.zip)

[2017-08-24 08:10] Itfly opened #5106 "NuGet pack task stop without packing after log 11 lines"
![image](https://user-images.githubusercontent.com/3993505/29656295-a397472a-88e6-11e7-897f-d7097e4a049d.png)

[2017-08-24 08:11] Itfly commented on #5106
This issue is because the task can not find the csproj or nuspec file, could you log the error message?

[2017-08-24 08:18] mivano commented on #5077
Adding the powershell step will get met an Azure CLI on the Hosted 2017 agents. Cannot run the shell scripts, so had to convert to batch. Would be nice if this works out of the box and with the Linux agents.

[2017-08-24 08:27] nigurr commented on #5095
@dbtfsbre Can you please let us know the OS version of build agent and test agent machine?

[2017-08-24 08:30] nigurr commented on #4988
@Maheshkhandave It's known issue for v2 only. version 1 should continue to work with test agent 2015

[2017-08-24 08:32] dbtfsbre commented on #5095
The build agent is on Windows Server 2012 R2 (6.3.9600.0) and the test agent runs Windows 10 (10.0.14393.0).

[2017-08-24 08:34] nigurr commented on #5068
@Cva2904 Can you please provide more info on this?

1. Do test agent machines belongs to on-prem or azure?
2. What's the version of Deploy Test agent are you using?
3. Is it consistently producing the same delay?
4. Can you please share build/release logs if it's getting repro continuously.

[2017-08-24 09:36] raman91dogra commented on #4996
@SadagopanRajaram The Links you provided only works for Stuff to be run through Visual Studio. I have my Test Repository in HP UFT and not using Visual Studio. Does this Test worked only for Visual Studio related Code.

[2017-08-24 09:50] vincentdass commented on #5021
@larserikfinholt , can you please share the logs for investigation?

[2017-08-24 10:33] RDalziel commented on #553
Reading back i mentioned installs taking around 10-15 minutes.

These days - it's around 2-4  minutes so i really haven't felt the need to improve on this further. Fairly happy with that speed at the moment. Although - SPA builds do generally feel like they take much longer than .NET builds - but i doubt that'll ever change due to the much larger number of files that are transferred during NPM Ins

[2017-08-24 12:26] henning-krause opened #5109 "Support for arbitrary Nuget versions in Nuget installer package"
The version 0.x of the task allows a user to select an arbitrary nuget.exe which it should use to restore the packages.

It would be nice to have this option in the current version as well.

Reason:
I've just converted a package of ours to a netstandard2.0 assembly and published it to our TFS nuget feed. Then I added it as a <PackageReference> to a couple of projects which target .Net 4.6.2. In th

[2017-08-24 13:39] bryanmacfarlane commented on #5109
There's a tool installer task for nuget that does that.  By having it as an upfront task it sets up the env for multiple task invocations or scripts

I agree that it should also be available as a convenience on the task( with the default being PATH)

[2017-08-24 13:42] henning-krause commented on #5109
Which task would that be? I didn't find it in my On-Premise installation and a quick glance on the market place also didn't yield any results.

[2017-08-24 13:47] bryanmacfarlane commented on #5109
What version is your on prem tfs?

[2017-08-24 13:48] henning-krause commented on #5109
2017.2

[2017-08-24 14:08] madhurig commented on #5062
@christophedemey: Thanks for the details!
- We are working with Xamarin team to fix the issue with their build tools not being able to handle the space in android SDK path.
- This is a common request, we have a few tasks in the [marketplace](https://marketplace.visualstudio.com/search?term=versioning&target=VSTS&category=All%20categories&sortBy=Relevance)  that I know customers use. I have persona

[2017-08-24 14:16] lukewis commented on #4782
@KrishnaAdityaB thanks for the response!  The target machine that I was copying to just died today so it will likely take me a few days to stand up a new one and retry things using your sugestions.

[2017-08-24 15:50] DeveloperUniversity opened #5111 ""Deploy Azure App Service" task not actually deploying a migrated ASP.NET MVC Core 2.0 web app"
Hi, I've documented this issue extensively on StackOverflow:

[https://stackoverflow.com/questions/45851749/vsts-continuous-deployment-of-asp-net-mvc-core-2-0-app-to-azure-web-apps-not-dep](https://stackoverflow.com/questions/45851749/vsts-continuous-deployment-of-asp-net-mvc-core-2-0-app-to-azure-web-apps-not-dep)

In brief, after 100 successful releases to Azure Web Apps Web Sites using VSTS CD,

[2017-08-24 16:19] KrishnaAdityaB commented on #5111
@kmkumaran @vincentdass
Quick question - Does the Deploy Azure App Service task support ASP.NET Core 2.0?

[2017-08-24 16:33] Pitterling commented on #5086
Please tell me, what is the [BasePath ](https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#pack ) for the files specified in *.nuspec?

[2017-08-24 16:37] kzu opened #5112 "Add support for custom conditions on task groups"
Currently, individual tasks can be assigned a [custom condition](https://www.visualstudio.com/en-us/docs/build/concepts/process/conditions). Task groups don't have that capability though.

[2017-08-24 16:41] bryanmacfarlane commented on #5112
Yeah, it's in the works.  It's not a task issue but a service side issue.  task group support is coming soon (the main issue is the task group UI is still using the old editor)

[2017-08-24 16:45] abatishchev commented on #5001
hi @keithrob, not sure frankly what the term hosted VSTS stands for. Do you mean VSTS/VSO vs, on-prem TFS? We're using the microsoft.visualstudio.com instance.

Package version is kept into the nuspec file to avoid creating new version (two of them if include beta) on each build. Because this is a repo for shared components it includes several projects, each producing its own package based on its

[2017-08-24 17:04] DavidDAmato commented on #2398
I am also having this same problem, here's a code snippet used from PowerShell that's throwing the error:

$connectionName = "AzureRunAsConnection"
    $servicePrincipalConnection=Get-AutomationConnection -Name $connectionName
    Add-AzureRmAccount `
        -ServicePrincipal `
        -TenantId $servicePrincipalConnection.TenantId `
        -ApplicationId $servicePrincipalConnection.ApplicationI

[2017-08-24 17:21] keithrob commented on #553
@RDalziel ,
Thanks for the update.  Closing this issue.
Keith

[2017-08-24 17:21] #553 closed

[2017-08-24 18:00] DeveloperUniversity commented on #5111
One new pertinent detail as I continue to debug this.

The new (preview) App Service Editor shows that the .zip file has been moved to the /wwwroot folder, **however it does not unzip it.**

![6](https://user-images.githubusercontent.com/19307883/29681040-2319c33a-88cc-11e7-82cf-4cee2e265fb2.png)

[2017-08-24 18:33] BennieCopeland commented on #3358
How do I get this update on my local TFS server?

[2017-08-24 18:34] wli3 commented on #5094
@jakubsvobodacz i think he means @microsoft.com

[2017-08-24 19:36] leftler opened #5115 "V3 of AzureRmWebAppDeployment does not allow you to deploy to a slot for a API app."
The deploy to slot option defined in https://github.com/Microsoft/vsts-tasks/blob/fe3532c4dee9c9e0a882d6d621055777366e9dae/Tasks/AzureRmWebAppDeployment/task.json#L81-L89

is only visible when `WebAppKind = app || WebAppKind = functionapp || WebAppKind = applinux`, if you have a `WebAppKind = api` the slots option will not be visible.

This does not appear to be intended behavior as this behavior

[2017-08-24 20:12] jgovednik opened #5116 "Add conditional logic capability for required"
[enhancement to task.json schema]
As with visibleRule, which triggers visibility of an input based on other input values; there should be a similar capability for Required. Such that Required field can be toggled for Inputs that were not by default considered required, which may become required (or vice-versa) due to other selections in the task. Suggest adding an input property requiredRule with

[2017-08-24 21:47] ManuelGalindo opened #5117 "Copy Filter is not being honored on FTP Task"
Hello team seems the export function findFiles(ftpOptions: FtpOptions): string[]  its not being honored I try to exclude this files but seems not working

2017-08-22T03:09:14.1925626Z ##[section]Starting: FTP Upload: $//Main/Deployment/test
2017-08-22T03:09:14.2135164Z ==============================================================================
2017-08-22T03:09:14.2135164Z Task         : FTP Upl

[2017-08-24 22:14] rjaesguerra opened #5118 "Add a feature for passing arguments to the test adapter"
Our tests is written in TAEF and is using the TAEF adapter. We have our tests classified so as we can select which test methods to run. Right now, there is no way of running the Visual Studio test task and passing a query to the TAEF adapter. I think this is an important feature to add.

[2017-08-24 22:29] iyerusad commented on #375
These variables do not appear to persist **across phases**, only _**tasks** within the same phase_.

Is there a method to have the variables persist across release phases?

CC: @whihathac @chrisrpatterson et al.

[2017-08-24 23:12] a0z0ra commented on #5066
Please reopen this, seems clear to me that the mismatch paths could be the issue.

[2017-08-25 02:12] YogeshBandiwadekar opened #5119 "Jenkins Queue Job does not pass parameter to Jenkins Job"
Hi All

**Configuration I have is below**

1) TFS 2017 Update 2
2) Added Jenkins Service End Point
3) Jenkins Server & Many Slaves Running CI & CD pipelines. **( No Plugin installed to  sync with TFS)**

**TFS Build**
Created wrapper build just to trigger Jenkins parametric job, which can be only triggered manually.
I have passed parameter with key=value pair format in TFS build  but looks like it

[2017-08-25 03:25] wli3 commented on #5094
@jakubsvobodacz I cannot access the VSTS account, what is the target framework of your test project and the "main" project?

from the error, it could be a variation of ,
https://developercommunity.visualstudio.com/content/problem/95070/could-not-load-file-or-assembly-systemruntime-vers.html

[2017-08-25 04:59] whihathac commented on #375
no clue, I am waiting for an answer too :)

[2017-08-25 04:59] pauldalyii commented on #4830
Sorry, to expand on this... I really need _both_ the AzureRM module and the **AzureAD** modules to be loaded in the Azure PowerShell task - and I'd like to explicitly specify both of their module versions _separately_.

There is some overlap in functionality between the two, but there's a lot missing from AzureRM in terms of AD functionality.

[2017-08-25 08:11] Adebeer commented on #5014
@bishal-pdMSFT: That's exactly what I want - i'd love to be able to use the task directly; thank you so much! :)

[2017-08-25 08:54] jakubsvobodacz commented on #5094
I deleted the test project. We did not have any tests. The project was basically empty for now. the Target framework for web project is .NET Core 1.1
then we have Database project with target platform Azure SQL db V12

[2017-08-25 09:01] joalmeid opened #5120 "Using instanceNameFormat with a picklist input variable"
I’m trying to format the task name using the instanceNameFormat:
"instanceNameFormat": "Deploy App: $(osApplication)",

However this input from where I’m getting the variable, is a picklist. So the $(osApplication) returns the value of the picklist, not the name, as expected.

So I end up getting the task name similar to: Deploy App: dc81d3d1-de91-4433-ad96-b1c83e7ba74f
Is it possible to access th

[2017-08-25 09:57] bishal-pdMSFT commented on #5014
Great. We will plan the fix.

[2017-08-25 10:08] bishal-pdMSFT commented on #4153
@ChristianMes do you have any plan to raise PR for this?

[2017-08-25 10:09] bishal-pdMSFT commented on #5025
@asranja did you take a look at this?

[2017-08-25 10:12] #4870 closed

[2017-08-25 10:12] bishal-pdMSFT commented on #4868
This is fixed

[2017-08-25 10:53] Semant1ka commented on #5119
I was going to file exactly the same issue two days ago but I solved the problem by referencing parameters like this in Jenkins pipeline "${params.BRANCH}", all other references are not working.

[2017-08-25 13:26] stevematdavies commented on #2348
This issue has caused a failure of our VST to Azure deployment, so badly with no solution from MS, we have considered dropping Azure alltogether

[2017-08-25 13:43] stevematdavies commented on #1660
I don't fully get this, were not using any manual commands, we are running inside VSTS builds thus and deploying directly to Azure, but all of a sudden our deployment task has failed with this nonsensical error. We have been using the same build definitions for months without change, but just today we are receiving:

Cannot bind argument to parameter 'files' because it is an empty string.

Id like

[2017-08-25 13:54] stevematdavies commented on #1870
Having this issue, no solution, MS dont seem bothered, no one wants to provide steps to solve. Just cryptic answers.

[2017-08-25 14:44] jgovednik opened #5121 "VSIX does not validate if file path depth exceeds 105 characters"
Creating new VSTS extension where I intended to include the xWebAdministration (v1.18.0.0 from the PSGallery) module within the ps_modules folder. The tfx utility packaged and published the vsix, but the marketplace hung while "verifying" (tfx calls it "validate") the extension package. I let the validation run overnight and it never completed. I tracked it down to the length of the files within t

[2017-08-25 15:17] mayeager22 commented on #5073
I am wondering this same thing.  There are spaces for "Admin Login" and "Password", but the remote powershell does not run with elevated permissions.

[2017-08-25 15:43] wli3 commented on #5094
@jakubsvobodacz so the problem still persists? Or there was no test project from the beginning?
From the log, the build try to restore the test project,

[code]

And then, it seems failed due to the p2p reference from the Tests.csproj to the Web.csproj
[code]

[2017-08-25 16:57] pauldalyii commented on #3312
FWIW, adding -retryInterval:6000 -retryAttempts:10 (and variations on that) does not seem to unblock this issue for me

In my case, I'm deploying a functionapp on a dynamic service plan using the new tooling that came with vs 15.3.  I'm currently running 15.3.2.

[2017-08-25 17:54] joalmeid opened #5122 "MultiSelectFlatList picklist rendering"
`In a pickList input, if it is defined as a MultiSelectFlatList, the selected values are not correctly rendered when I reopen the task details.

In my example, I have this pickList input:
{
            "name": "osApplication",
            "type": "pickList",
            "label": "Application",
            "defaultValue": "",
            "required": true,
            "helpMarkDown": "Select one or

[2017-08-25 18:58] iyerusad opened #5123 "Azure CLI Task - Can't run more than 1 command?"
Is there some sort of arbitrary limit on Azure CLI task to only run 1 command? Is this a bug or feature?

**Below code:**
![image](https://user-images.githubusercontent.com/25647368/29728405-f3cc83d2-8994-11e7-9827-380e560825b8.png)

[code]

**Results in** only the first command running (`az --version ;` in this case):
[code]

**edit:**
Adding batch and command + escape character allows "multiple

[2017-08-25 20:07] iyerusad opened #5125 "Azure CLI task - Upgrade to Modern Shell?"
It appears Azure CLI task uses batch/CMD.exe as the shell interpreter.
![image](https://user-images.githubusercontent.com/25647368/29730644-3e12d686-899e-11e7-8513-5a6f83d689bb.png)
Can we get this to use something more modern? Powershell? Bash?

Is there some reason cmd.exe/batch was chosen here that makes something like Powershell or Bash not feasible options? I want to add some logic within Azu

[2017-08-25 22:41] keithrob commented on #5001
@abatishchev,
I'm going to close this since you have a work-a-round.  As we discussed, offline, I believe that release views will be the best long term solution and I appreciate that we do not have the automation in place to make their usage easy at this point.  We are taking steps to make promotion to release views easier and more automated so that, in the future, you can simply use views and not

[2017-08-25 22:41] #5001 closed

[2017-08-25 22:49] tmat commented on #5039
@kimpenhaus
You are right, SourceLink should produce an entry in the PDB CustomDebugInformation table.
Could you try newer version of SourceLink package: https://www.nuget.org/packages/SourceLink.Create.CommandLine/2.2.0 and see if that helps?
If not would you mind sharing build log (```msbuild YouProject.csproj /bl:build.binlog```) so I can take a look what's going on?

[2017-08-26 03:31] stack111 commented on #1660
this the last I remember on this thread since it is so old. I believe these VSTS tasks depend on Azure Poweshell and in our agents some of them had higher version(s) of AzurePs installed and the task was not compatible with the higher version.

I hope that helps provide a starting point to investigate.

[2017-08-26 16:23] vincentdass commented on #5111
@DeveloperUniversity, Can you please share the debug logs for both Build and Release?
To enable debug logs, set '**system.debug**' variable to '**true**' in both Build and Release Definition.
Once you trigger the Build, on successful completion, Release will also be triggered.

Please share both the logs. If you want to share them in private, send the same to `RM_Customer_Queries.@Microsoft.com`

[2017-08-26 19:39] YARG commented on #3355
We are experiencing the same problem using VSTS Hosted or Hosted 2017, any ETA on a fix?

[2017-08-27 03:29] vincentdass commented on #3312
@pauldalyii, can you please share the logs for the release?
Is Application Insights extension enabled in Azure app service?

[2017-08-27 14:59] kasubram commented on #4318
@Symbianx We are thinking of adding a branchname parameter while linking the artifact. After you choose the main MultiBranch pipeline job, there will be one more drop down to choose the branch you are interested in. Would that work for you? what is your opinion?

In your comment you mentioned this also applies for folder jobs. What do you mean by the folder job here?

[2017-08-28 01:56] debasisj opened #5127 "DTAExecutionHost.exe Error : System.Exception: NUnit Adapter 3.7.0.0:"
Hi,
We are trying to run Selenium tests with Nunit framework. However when build and run tests on the remote agent, getting error - DistributedTests: UnExpected error occurred during test execution. Try again.

Close inspection of log  - DTAExecutionHost.exe Error: 0 : ExecutionTaskStateModel.AbortSlice : System.Exception: NUnit Adapter 3.7.0.0: Test discovery complete

Build sequence -
NuGet rest

[2017-08-28 06:00] nigurr commented on #5066
Hi,

We are fixing this issue as part of this https://github.com/Microsoft/vsts-agent/pull/1149/files
Will update the thread once fix is gone and new agent is released. thread https://github.com/microsoft/vstest/issues/579#issuecomment-324401462

[2017-08-28 06:00] #5066 closed

[2017-08-28 06:38] jakubsvobodacz commented on #5094
But we do not have any references in the csproj or I do not see any:

[code]

[2017-08-28 06:52] sandersaares commented on #5066
Do I understand you right that when you say "we are fixing this" you mean that VSTest task will be fixed to be able to run .NET Core tests? That is the expected behavior but your later statement there confuses me.

[2017-08-28 06:57] KrishnaAdityaB commented on #2348
@stevematdavies
1. Did you face the issue with 'files' or 'storageKey"?
2. Can you share the debug logs with RM_Customer_Queries@Microsoft.com? (Run the release with System.Debug variable set to true)
3. Can you give details about the agent?
3.1 Hosted Agent? If yes, what is the queue name?
3.2 Private Agent? If yes, what is the agent version? what is the AzurePS version? - if possible, share the

[2017-08-28 07:12] stevematdavies commented on #2348
1. No, only with Files.
2. No, Im not our VSTS or Azure Admin,
3. Hosted, and I'm not sure I can even divulge the queue name, its a private company account

This issue arose many months ago. (No clear or concise solution offered, just more overly complex questions). We removed all our builds and started from scratch, which temporarily fixed the issue. We have recently done the same at considerable

[2017-08-28 08:33] ds-ms commented on #5123
Since you're running it on a windows agent; you need to append `call` infront of the multiple commands to execute all of them.

You should replace your current inline script with this;
[code]

If you were running it in a Linux environment, the `call` should be removed.
This is how batch scripts run multiple commands otherwise it would be treated as a oneliner.

[2017-08-28 08:33] #5123 closed

[2017-08-28 09:25] sixfootfour opened #5128 "Unable to pick a specific project to deploy"
Regarding Azure App Service Deploy...

In many of my projects, there are several web projects (think admin, api, frontend).

I don't see a way to pick which project, I want to deploy.

Do I need to create a solution/build config per web project I want to deploy, or am I missing something?

[2017-08-28 09:28] ISAF87 opened #5129 "TFS 2017 - DeployTestAgent failed - caused infinite reboot loop"
25T22:03:39.3077144Z ##[error]Error occured on '<machinename>:5985'. Details : 'Exception calling "StopService" : "Not found "'. For troubleshooting, refer https://aka.ms/remotevstest.
2017-08-25T22:03:39.3077144Z ##[error]System.Exception: Error occured on '<machinename>:5985'. Details : 'Exception calling "StopService" : "Not found "'. For troubleshooting, refer https://aka.ms/remotevstest.
2017

[2017-08-28 09:30] Ajay-MS commented on #2348
@stevematdavies

I apologize that you are still facing issue being mentioned in above thread.

Above mentioned issue was being reported in Azure App Service task with version 1.* ( written in PowerShell).  In PS based implementation of Find-VstsFiles ( a utility method for resolving actual path with regex) was failing if the path contains regex + BackSlash. In case of regex with a back slash, it w

[2017-08-28 09:32] tlisiecki commented on #5078
Hi,
I have just run into the same problem with that task. Really hoped to never see that error again...
This is happening on the latest, available for me, agent version:
Agent.Version: 2.120.2

[2017-08-28 09:59] Symbianx commented on #4318
@kasubram, thanks for getting back to us.
Although that would be an improvement, it still wouldn't fully fit our needs.
In our MultiBranch pipeline job there are 2 branches that we want to deploy, **dev** and **master**, having the branch parameter in the artifact source would force us to create a release definition per branch which is not ideal.

I have some suggestions to share with you:
1. Have

[2017-08-28 10:49] Cva2904 commented on #5068
@nigurr

we are using Test Agent 2015 on IBM server.
there are no logs generated and we are facing this issue atleast once in a week.

Thanks.
Siva

[2017-08-28 11:57] SickAmente opened #5132 "Process 'msbuild.exe' exited with code '1'."
The build job on vsts always runned fine. But now the build job is broken and i don't know why.
We use our own build agent (not the hosted agent) and we get always this error since some days.

I attached the log files of the vsts build job.
Maybe you can figure out what is the problem here?

For your information we have a second build for another .NET product that is running fine... So i think the

[2017-08-28 12:12] bryanmacfarlane commented on #5132
If msbuild returned 1 and the build failed then the CI system ( and this task which runs msbuild ) did its job correctly.  You have to figure out why your build failed

[2017-08-28 12:12] #5132 closed

[2017-08-28 12:18] arjgupta commented on #4830
Hi @pauldalyii , currently there are no plans on supporting the selection of both Azure and AzureRM module versions separately. However, we have added support for specifying Azure PowerShell version in the major version 2 of the task. We have also updated VS2017 Hosted Pool Agent for supporting multiple azure powershell versions. From the dropdown associated with the “Azure PowerShell Version” inp

[2017-08-28 12:21] arjgupta commented on #1660
Hi @stevematdavies , please send the debug logs to RM_Customer_Queries@microsoft.com . Also, are you using a Hosted Agent? If yes, then which Pool? "Hosted" or "Hosted VS2017" . If not, then can you tell what is the version of Azure PowerShell on your private agent.

[2017-08-28 12:23] ericsciple opened #5133 "64k environment variable limit"
The following tasks need to be updated to the task lib 0.8.2 or higher to get the fix:

- [x] DeployVisualStudioTestAgent
- [x] ServiceFabricComposeDeploy
- [x] ServiceFabricDeploy
- [x] ServiceFabricPowerShell
- [x] ServiceFabricUpdateAppVersions
- [x] XamarinAndroid

[2017-08-28 12:25] ericsciple commented on #5133
https://github.com/Microsoft/vsts-tasks/issues/5078

[2017-08-28 12:26] ericsciple commented on #5133
PR to use as an example: https://github.com/Microsoft/vsts-tasks/pull/4660

[2017-08-28 12:48] prawalagarwal commented on #4978
Closing the issue. Please re open if you are still facing this.

[2017-08-28 12:48] #4978 closed

[2017-08-28 13:00] nigurr commented on #5129
Can you please let us know the version of Deploy Test Agent task? and please share the build logs.

[2017-08-28 13:02] nigurr commented on #5068
@Cva2904 can you please share the requested information?

[2017-08-28 13:04] nigurr commented on #4993
This issue is addressed here: https://github.com/Microsoft/vsts-tasks/pull/5089
It will be fixed with next deployment of VSTS. Closing this issue.

[2017-08-28 13:04] #4993 closed

[2017-08-28 13:05] nigurr commented on #4982
This issue is getting addressed here: https://github.com/Microsoft/vsts-tasks/pull/5089
It will be available with next task release. Closing this issue.

[2017-08-28 13:05] #4982 closed

[2017-08-28 13:07] nigurr commented on #4694
Please reach us if the problem persists. closing this issue. Thanks for your support

[2017-08-28 13:07] #4694 closed

[2017-08-28 13:19] nigurr commented on #5093
@Jinwenxin Thanks for reporting this issue. This is hotfixed and thanks for support.

[2017-08-28 13:19] #5093 closed

[2017-08-28 13:37] iangavr commented on #4982
Already running under admin

Sent from my Sony Xperia™ smartphone

---- Nitin Gurram wrote ----

This issue is getting addressed here: #5089<https://github.com/Microsoft/vsts-tasks/pull/5089>
It will be available with next task release. Closing this issue.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/Microsoft/vsts-tasks/issues

[2017-08-28 13:54] SickAmente commented on #5132
Hi Bryan,

but the Log of the VSTS Console shows that there are no build errors. For what shall I search then?

![image](https://user-images.githubusercontent.com/31407374/29776544-2f406bb0-8c09-11e7-896d-1f7bb72f631a.png)

[2017-08-28 13:59] ISAF87 commented on #5129
Please see the attached file for logs.
The task version number is 1.*

[deploy test agent build logs.txt](https://github.com/Microsoft/vsts-tasks/files/1256962/deploy.test.agent.build.logs.txt)

[2017-08-28 14:42] hammer5280 opened #5134 "Deploy Azure App Service 3.*- XML transformation fails onto WebJobName.exe.config"
During a release XML transformation does not work for the Azure WebJob Config:

App.Production.Config transformed ONTO WebJobName.exe.config

Is this supported?

The warnings I receive from the release log are:

Unable to apply transformation for the given package. Verify the following.
1. Whether the Transformation is already applied for the MSBuild generated package during build. If yes, remove

[2017-08-28 15:05] xenalite opened #5135 "Run functional tests - Side by side VS15 and VS17 Test agent installations cause intermittent failures"
I have 2 release definitions that fail to run tests intermittently.
Here is the log from the task:
[25_Run system tests on target.txt](https://github.com/Microsoft/vsts-tasks/files/1257202/25_Run.system.tests.on.target.txt)

Here is the log from Test Agent host:
[DTAExecutionHost.exe.txt](https://github.com/Microsoft/vsts-tasks/files/1257215/DTAExecutionHost.exe.txt)

Here is test agent deployment

[2017-08-28 15:26] asiffermann commented on #4958
Hi,

The key part of my scenario is that I have two different pipelines: a build definition which creates the package (with the `npm pack` command), and a release definition which deploys the same package to different registries.

## Build definition
### Create the package
![build1](https://user-images.githubusercontent.com/12293953/29779536-25f1612c-8c13-11e7-8e55-fd422536688d.PNG)
### Copy it in

[2017-08-28 15:44] asiffermann commented on #4956
Hi,

I tried it before (was suspecting the verbiage issue), but it does not work:

![image](https://user-images.githubusercontent.com/12293953/29780916-c6d57a20-8c17-11e7-8115-8559f5db755f.png)

What I put in the PAT field is just the authentication token from npmjs, which looks like a GUID and is working when used from a .npmrc file.

[2017-08-28 15:51] keithrob commented on #4958
@asiffermann,
Thanks for the clarification.  I  think it makes sense to add pattern matching to the "publish" command so that you could publish either a .tgz or package.json.  I'll reach back out when we've got something in place for you.

In the near term, you should know that [NPM 5+ doesn't support publishing a .tgz](https://github.com/npm/npm/issues/16723) so be careful upgrading.  In fact, I

[2017-08-28 16:22] YARG commented on #3355
@smedel did you ever get this working?  I'm now getting the same error as you

2017-08-28T16:02:29.4246673Z ##[error]C:\Program Files (x86)\MSBuild\Xamarin\Android\Xamarin.Android.Common.targets(2037,3): Error MSB6006: "java.exe" exited with code 1.

Any help would be appreciated.

Thanks in advance,

Stephen

[2017-08-28 16:28] Pitterling commented on #5086
it seems that it is looking for the files in the location where the *.nuspec file is located. In my case this is a sub-subdirectory ... please provide the option again to specify the basepath parameter

[2017-08-28 16:39] a0z0ra commented on #5066
Actually, according to https://github.com/Microsoft/vstest/issues/579#issuecomment-301458975 VSTest can run .NET core tests by /Framework:FrameworkCore10 .  I've tried this w/ one test, although it's still buggy and reporting 2 instead of 1 successful test, it is indeed ran by VSTest successfully.

[2017-08-28 17:20] Symbianx opened #5136 "External Git artifact source on Release Management"
Hello,
It would be handy to have an External Git artifact source for Release Management, just like the Builds have.
Although it may seem counter-intuitive it is helpful for artifacts that don't require compilation.

In our case we have our integration tests kept in a separate repository from the source code and would like to link them to the release for testing the various environments.

As a work

[2017-08-28 18:20] JacobHenner commented on #4743
Hello,

Are there any updates regarding the availability of this feature?

Regards,
Jacob Henner

[2017-08-28 19:37] eschrader commented on #5117
Thank you Manuel, I too would like to see this resolved.

I find it hard to understand why files can be copied using *, */* and ** logic but ! does not work when excluding files or folders.

Right now, I am considering using Cloak rules on the get source before the build to filter out my environments config files to an Azure Web App (pretty basic operation).

Please escalate this for our client.

[2017-08-28 19:40] eschrader commented on #5046
I blogged a work around I was using here:
https://eschrader.com/2017/05/17/using-visual-studio-team-services-build-tasks-for-linux-over-ssh/

Basically, you run a script to reset ownership to the same user you are using in the SSH Copy command, then after the copy you run a second script to set any permissions or ownership back. These scripts are also stored in source control.

[2017-08-28 19:46] keithrob commented on #4956
@asiffermann,
We are going to add a 3rd option for registries that use bearer auth (i.e. npmjs).  However, in the meantime might still be able to use basic auth with npmjs and ignore the verify connection button.  The build task should appropriately configure the .npmrc to use basic with npmjs.  This will work as long as [npmjs has basic enabled](http://blog.npmjs.org/post/160809090595/basic-auth-

[2017-08-28 20:13] madhurig commented on #3355
The VMs on **Hosted VS2017** queue have been updated with latest Xamarin version which has the fix for the original issue on this thread - Xamarin build fail with ProGuard + multidex when there are spaces in the AndroidSDK folder. So we are closing this issue.

In my offline conversation with @smedel, we found that removing spaces in output paths helped him resolve the issue as well.

I am closing

[2017-08-28 20:13] #3355 closed

[2017-08-28 20:17] ManuelGalindo commented on #5117
Eric, we have this investigation running on this item

https://github.com/Microsoft/vsts-tasks/issues/5043

Seems there are some filter inconsistency, we need to get the update on the tasks and we are going to be able to test the filter patterns to confirm the behavior

[2017-08-28 20:41] eschrader commented on #5043
Thanks Eric for identifying this issue. I believe this is what is preventing me from excluding files from VS TS to an Azure Web App using FTP Copy. How can I exclude files, aside from adding a Cloak on the get source for the entire project? I have quote a few filters I want for files I want to exclude:

1. **
2. !**/wwwRoot/assets/**
3. !**/wwwRoot/App_Data/**
4. !**/wwwRoot/App_Start/**
5. !**/ww

[2017-08-28 20:48] simmdan opened #5137 "How can I checkout the same git revision on a second build?"
We have a system that allows us to have a VSTS build spawn one or more "child build(s)" which run in parallel to the parent build and then consolidate the results of the children so that we get an overall pass or failure on the main build.  We do this with a utility that calls out to the VSTS REST API to create the child builds and then later to monitor their status.  This part works fine and has

[2017-08-28 20:50] bryanmacfarlane commented on #5137
move this to the vsts-agent repo.  That's where the get sources logic is.

we also have a feature about to come in preview which is multi phase (and parallel) support in build which may solve what you want as a first class feature.

[2017-08-28 20:50] #5137 closed

[2017-08-28 20:56] simmdan commented on #5137
New issue in the vsts-agent repo is [here](https://github.com/Microsoft/vsts-agent/issues/1169).  Thx.

[2017-08-28 21:55] mayeager22 opened #5138 "PS on remote machines: Only part of first line of Write-Verbose goes to Release Management logs."
I have a command-line task calling Psexec to call a Powershell script (because the "Powershell on remote machines" will not allow me to run as an admin user).

I have several Write-Verbose ... -Verbose lines in that Powershell script, but it seems that only the part of the first one is written to the vsts logs.  How can I get all of the Write-Verbose commands to go to the vsts logs?

Below is my s

[2017-08-28 22:02] antispinward opened #5139 "Determining Status of Build within a Task"
Hello,

I am writing a custom task that performs some work every time the build is run(regardless of success) and part of this process we want to know whether the build has succeeded or not up to this point.

I believe according to https://github.com/Microsoft/vsts-tasks/issues/958 `$env:AGENT_JOBSTATUS`  should be valid however in our case it is not being set to any value.

Are there scenarios wh

[2017-08-29 00:02] aaron-bozit opened #5140 "VSTS tasks failing with insufficient system resources"
Hi,

We have TFS2017 Update 2 installed on-premises and we are trying to perform a build, this issue is stopping us so far from effectively using the new build agents (both 2.117.2 and 2.120.2 agent versions)

Even publishing Artifacts fails.

As part of the build we are doing an Archive.

As part of the build, we are also doing a NuGet Restore.

During this we receive the following error from the

[2017-08-29 01:00] JacobHenner commented on #5136
Would also be helpful for Subversion. In my case, I have deployment scripts in repositories, so being able to pull the scripts from the repositories and then execute them without an additional build step or a manual call to git/svn would be quite helpful.

[2017-08-29 01:08] bryanmacfarlane commented on #5132
The log clearly shows that msbuild exited with a return code of 1, that's a failure.

[2017-08-29 03:41] wli3 commented on #5094
@jakubsvobodacz Is this project _BD.YRD.Web.csproj_? Could you also show me _BD.YRD.Tests.csproj_?

As the error shows, there is a file "BD.YRD.Tests\BD.YRD.Tests.csproj", if you removed the test project, could you double check if it is building the latest branch? Could you run the build again to see if it still has the error on the test project file?

Also could you try to restore both  _BD.YRD.W

[2017-08-29 03:58] nigurr commented on #5129
@ISAF87 This has been addressed in TFS 2017 Update 2 if you are using On-Prem.
And same is available with v2 version of task in VSTS

Please try out the same and let us know if you are still facing the issue.
For more info - please check this blog https://blogs.msdn.microsoft.com/devops/2017/07/03/deploy-visual-studio-test-agent-task-test-machine-rebooting-scenarios/

[2017-08-29 03:58] #5129 closed

[2017-08-29 06:12] vincentdass commented on #5134
@hammer5280 , thanks for reaching out.
XML transformation is applied for config files named `*.config` matching transformation files `*.Release.config` and `*.<environment_name>.config`. (More info [here](https://www.visualstudio.com/en-us/docs/build/steps/transforms-variable-substitution#configuration-transform-file-naming-conventions))

As you know, during build, `App.config `is renamed to `WebJ

[2017-08-29 07:30] ISAF87 commented on #5129
Can you briefly explain the cause, so I can clarify on the project what is happening and why we should upgrade?

[2017-08-29 07:39] jakubsvobodacz commented on #5094
Ok, we did not notice that the test project was still present in the master branch. I deleted it directly in our vsts and now the build succeeded.

[2017-08-29 08:49] lorenz31 commented on #4713
I'm having the same issue. I tried adding NuGet Tool Installer version 4.1.0 but it didn't fix the issue. Any work around with this?

[2017-08-29 09:20] christophedemey opened #5145 "Nuget pack does not respect version number"
Hi

This is my assemblyinfo.vb after patching prior to the nuget pack :

[code]

Nuget task output is :
[code]

As you can see my build number is 1.0.9.0808 but after packing it is 1.0.9.808, the 0 is lost.
With the deprecated nuget task :

[code]

You can see the 0 is retained : Standard.Logger.1.0.6.0408.nupkg
We use the ddMM in our builds and it would be nice to retain the 0 as now we have buil

[2017-08-29 09:39] IvanAlekseev commented on #5066
@nigurr can we please have more clarification here? Is it going to be fixed for VSTest task or we have to wait for another .net core release to support coverage in `dotnet test` command?

[2017-08-29 09:51] grantwar commented on #5115
Is there any progress on this issue? Having to downgrade all my releases is becoming tedious.

[2017-08-29 10:06] vincentdass commented on #5115
@grantwar, currently we are working on this issue.
As a workaround, Can you please replace the App Name with some Release variable (say `$(appname)`) and set the release variable to your App Service name?
In this way, WebAppKind is changed to 'app' and slot option will be visible.

[2017-08-29 10:09] nigurr commented on #5129
@ISAF87 For running automated UI tests, we reboot the machine to get interactive session. Due to corporate group policies/Registry settings, we may not be able to auto logon to that machine for running the tests.
In this case, we will end up rebooting continuously. In later releases, we have added proper warnings and reboot limits to let users inform why we failed to get "auto logon" session for r

[2017-08-29 10:42] YARG commented on #3355
@madhurig thanks for the update, awesome timing !!  The project now builds if I just have just multidex on, which is fine for me.

FYI if I have ProGuard + multidex on I get:

[code]

Thanks again for all your help.  Awesome! 👍

[2017-08-29 10:51] ramyzbeidy commented on #3355
@madhurig  same here as @YARG

[2017-08-29 10:58] madhurig commented on #3355
@ramyzbeidy @YARG: Seems like you are seeing another issue. Please open a new issue with details. If you can attach the logs from your build or email them to me (madhurig at microsoft.com), I can investigate.

Thanks,
Madhuri

[2017-08-29 11:48] bansalaseem commented on #4469
I missed replying on this issue but you can use the steps mentioned here to push the [images ](https://blogs.msdn.microsoft.com/aseemb/2017/08/29/how-to-use-vsts-docker-task-to-push-to-aws-registry/) to aws registry. Please try them out and do let us know in case it does not work.

[2017-08-29 12:02] artisticcheese commented on #4469
@bansalaseem  This works only for 12 hours. AWS Docker username/password have limited lifetime.

[2017-08-29 12:33] alexmullans commented on #4713
If this is a netcore or netstandard project, you may need to switch to the .NET Core task. Use the 2.* preview version of that task (available in the dropdown below the task name, once you insert it) to get access to all the NuGet-related dotnet commands (e.g. dotnet nuget push, dotnet restore, etc.)

[2017-08-29 13:39] Oddleif commented on #4187
I am still having this issue. My issue though seems to be that the app service originally was created as an API App. So every time I choose that all the input fields dissapear for v3. v2 appears as expected though, except I really need the JSON variable substitution feature in v3...

[2017-08-29 13:54] Oddleif opened #5147 "Azure App Service Deploy V3 - options missing"
It seems that Azure App Service Deploy task does not like API Apps, as every time I choose an App Service API app as target for deployment all the deployment options dissaper. Similar to what is described in #4187.

If I select v2 the fields for that version appears as expected, except I really need the JSON variable substitution feature in v3...

[2017-08-29 14:07] KZeronimo opened #5148 "dotnet pack vs nuget pack"
Apologize in advance - I've done some cursory digging but I'm not sure I'm clear on the use cases

In the past if I've had a solution that mixed .net framework lib output and .net standard lib output I used the deprecated nuget packaging task the framework projects and dotnet pack for the .net standard projects - going forward is that bifurcation going to continue to exist or should nuget pack be

[2017-08-29 14:29] PBoraMSFT commented on #5066
@IvanAlekseev - The VSTest task uses the test platform version 1.
.NET core tests require the test platform version 2, which at this time does not support all the scenarios that are provided by Test platform version 1. The platform team is working on the convergence and once that is done, the task will also be able to consume the converged platform.

If using the vstest.console.exe of the Test pla

[2017-08-29 14:51] DeveloperUniversity commented on #5111
@vincentdass Here's a screencast that displays the build and release steps and the steps I'm taking to reproduce this, etc. AND the logs w/ the debugging flag added:

https://youtu.be/qKFd1XrCK5s

Build Logs w/ debug flag
https://1drv.ms/u/s!AvZL4t4dMuo5lq0fYpt0toHyW_vifA

Release Logs w/ debug flag
https://1drv.ms/u/s!AvZL4t4dMuo5lq0eQt7XwgAClI3Y6w

[2017-08-29 14:58] chrisrpatterson commented on #5139
You shouldn't need to code that into the task the system will enable users to specify your task runs even on failure.

[2017-08-29 15:02] chrisrpatterson commented on #5128
You need to publish each web app as its own package if you need to deploy them independently.  MSBuild against the solution does not do that so you will need to have a build command for the solution and then one per project that passes the packaging properties.

[2017-08-29 15:02] antispinward commented on #5139
Apologies if I wasn't clear. I am not trying to code the always run aspect, that is achieved with the task options. The issue is how to determine if the job is failing or succeeding when agent.jobstatus is null

[2017-08-29 15:44] IvanAlekseev commented on #5066
@PBoraMSFT thanks for you reply. We are currently using hosted agents, so we wait for them to update. Is there any timeline for it and is there any specific place where you notify about updates?

[2017-08-29 15:53] PBoraMSFT commented on #5066
We will update on this thread.

[2017-08-29 16:03] sixfootfour commented on #5128
That makes sense - just like when I publish directly to Azure Web Apps from inside Visual Studio.

However, I don't know how to "have one per project, that passes the packaging properties".

This is outside the scope of an issue here, but any chance you could push me in the right direction? What should I google to learn more about how to do that? Are we talking parameters to MSBuild or something l

[2017-08-29 16:46] vincentdass commented on #5111
@DeveloperUniversity , thanks for the logs and video, really appreciated. 👍
It looks like you are already archiving the published folder in `.NetCore Publish` Task.
![image](https://user-images.githubusercontent.com/20121508/29832350-856abf16-8d05-11e7-9fbf-819c579e4a14.png)

Since, `Add Project Name to publish path` is enabled, the zip is named as `<WebProjectName>.zip`
![image](https://user-imag

[2017-08-29 16:48] pauldalyii commented on #4830
Would it be possible to have a second VSTS Task for the AzureAD module, that would function in the same way that the AzureRM task does today instead of overloading the Azure Powershell task to do both?

Thanks!

[2017-08-29 19:04] DeveloperUniversity commented on #5111
That was it.  THANK YOU for taking the time to understand and resolve the problem.

Off to the next hurdle ...

[2017-08-29 19:05] #5111 closed

[2017-08-29 20:44] mclark1129 opened #5151 "VSTS Task fails to restore certain project references"
This issue seems to have cropped up sometime in the past week, and I'm not entirely sure why.  One of my builds stopped working and fails to restore a unit test project which has a project reference to a web app within my solution.

2017-08-29T20:14:57.6398410Z

I experience this behavior when trying to run `dotnet restore` via the following tasks
.NET Core Task: dotnet restore 1.*
Command Line 1.

[2017-08-29 20:46] bryanmacfarlane commented on #5151
getting this over to some packaging folks.  Thanks for reporting

[2017-08-30 01:03] kngrace opened #5152 "npm not installing jest resulting in npm test failing"
My team's project in VSO is using the NPM vsts-task and it handles most dependencies with no issue.

We recently started working with jest as a testing framework and have included its dependencies in our package.json (and thus package-lock.json) files. Our package.json script was updated so that "test" : "jest" and will trigger jest off of command line: "npm test"

When building on our local dev m

[2017-08-30 02:36] KrishnaAdityaB commented on #5138
@mayeager22 what did you mean by

The task uses the credentials provided as input. Those credentials can be admin's on the remote machine. If this is not working for you - can you share the debug logs of that instance?

[2017-08-30 03:10] lorenz31 commented on #4713
@alexmullans is this what you mean by "switch to the .NET Core task. Use the 2.* preview version of that task"?

This is my first time working with this stuff.

![screenshot2](https://user-images.githubusercontent.com/4074698/29853647-bb6b207e-8d73-11e7-85ba-4414da127ef1.png)

[2017-08-30 04:39] nigurr commented on #5135
@xenalite Can you please share the below information?

Are you using TFS On-Prem or VSTS?
This was addressed in TFS 2017 Update 2.

[2017-08-30 06:54] KrishnaAdityaB commented on #1660
https://github.com/Microsoft/vsts-tasks/issues/2348

[2017-08-30 07:33] shyama1208 commented on #5122
@joalmeid Can you please let us know which task you are using. Otherwise, can you provide some other repro for the issue ?
Also, we have MultiSelectFlatList input in 'Azure App Service Manage' task. The input is 'Install Extensions' and is visible when 'Action' = 'Install Extensions'. If possible, can you try out this task and see if same issue appears?

[2017-08-30 07:50] xenalite commented on #5135
We are on VSTS.

[2017-08-30 09:36] nigurr commented on #5135
@xenalite Can you please enable "Update Test agent" verify once. We do recommend **not** to install 2015 and 2017 test agents side by side.

[2017-08-30 09:41] joalmeid commented on #5122
Provided access to my sub, where the issue occurs.
Just tried the input is 'Install Extensions'  in 'Azure App Service Manage' task, and in fact it didn't repro.

[2017-08-30 10:27] asranja commented on #5122
The "PopulateDefaultValue": "true" property doesn't support multi-select picklists. Can you remove the property and retry ?

[2017-08-30 10:45] joalmeid commented on #5122
Removed PopulateDefaultValue from input properties. Totally worked.
Thanks @asranja and @shyama1208

[2017-08-30 10:49] #5122 closed

[2017-08-30 11:38] bishal-pdMSFT commented on #5078
We are planning this work next week and should be hot-fixed by EOD next week(09/08)

[2017-08-30 12:02] CodedBeard opened #5161 "ServiceFabricComposeDeploy: A communication error caused the operation to fail."
I've been using 2 test clusters with the preview release for service fabric 5.7, which have been working fine, but as 5.7 has been released now, I decided to go ahead and build a new cluster, using the same ARM template as before, just updating the version from preview to release.

This appeared to work fine, the cluster came online and I was able to browse the cluster explorer, and connect to the

[2017-08-30 12:49] alexmullans commented on #4713
Yep, that's right!

[2017-08-30 12:57] nhilaire opened #5163 "Error in JenkinsDownloadArtifacts : unhandled socket hang up"
Using VSTS task, with an on-premise jenkins server running on windows (ver 2.76), I received an "Unhanded: Error: socket hang up".

The artifact is composed of many files, when I activate the debug switch, I can see that some are successfully downloaded, but some others results with a socket hang up.

2017-08-30T08:42:09.1277659Z ##[debug]Processed: ##vso[task.issue type=error;]Unhandled: Error: s

[2017-08-30 14:25] Mardoxx opened #5164 "Nuget restore fails on net461 project referencing netstandard2.0 project"
Similar to https://github.com/Microsoft/vsts-tasks/issues/5047 and workaround https://github.com/Microsoft/vsts-tasks/issues/5065#issuecomment-324486955 solves it.

1. Create solution
1. Create netstandard2.0 library (A)
1. Create net461 library (B)
1. Reference (B) in (A)
1. Try NuGet restore task on solution

[code]

Seems this task is using Nuget 4.0.0. This works with Nuget 4.3.0 (as in workar

[2017-08-30 14:30] mayeager22 commented on #5138
@KrishnaAdityaB

When I try to run a "Powershell on remote machines" command with a user that is an admin on the remote machine, it is not running as elevated and commands (such as editing the registry) are failing.  There is another issue, #5073 that I believe talks about this.

[2017-08-30 14:41] pspill opened #5165 "Missing leading characters from date and time in DotNetCoreCLI messes up ordering"
This is the same issue that was found previously for NuGetCommand, #4752, needs to be fixed in DotNetCoreCLI as well.

Build time: 17:04:05
result: package name - CI - yyyyMMdd-1745
Build time: 17:13:13
result: package name - CI - yyyyMMdd-171313

The ordering result in Visual Studio (list of packages is descending order) will be you can find below which is not correct.

package name - CI - yyyyMM

[2017-08-30 14:50] pspill opened #5166 "DotNetCoreCLI pack off by one calculating month in version string"
DotNetCoreCLI task is generating a version string with the incorrect month/

For example, in a build 20170830.2, dotnet.exe is being invoked with "dotnet.exe pack /p:PackageVersion=1.3.0-CI-2017730-115639 (etc.)"

[2017-08-30 16:04] KrishnaAdityaB commented on #5147
Similar to #5115 . Closing this thread and tracking it there.

[2017-08-30 16:04] #5147 closed

[2017-08-30 17:32] apwillies commented on #5075
@madhurig We finally found a solution to this problem. Here's a post we found
[https://stackoverflow.com/questions/42737784/visual-studio-2017-build-agent-fails-to-build-with-error-cs0400](url). Issue was that the version of Nuget.exe on the build server was out-of-date. The post explains it this way:

The solution is to update Nuget: **nuget update -Self** on the build server.

I believe this iss

[2017-08-30 17:59] joalmeid commented on #5120
There is no way today to reference the display name portion from a picklist in the instance name format.

[2017-08-30 17:59] #5120 closed

[2017-08-30 18:04] #5075 closed

[2017-08-30 18:33] bishal-pdMSFT commented on #5161
@CodedBeard
1. is this consistent or a transient connection error problem?
2. what agent pool are you using? is it private or hosted or hostedVS2017?
3. Please attach a gist containing task log when "system.debug=true"

[2017-08-30 18:45] ericsciple commented on #5117
if a workaround is needed, the copy files task can be used to stage the files, then upload from that folder

[2017-08-30 19:17] FBNitro commented on #5078
Thanks for the status update.

[2017-08-30 19:34] KrishnaAdityaB commented on #4543
@zivillian @Rajat-Jindal
Were you able to successfully run the DSC from PowerShell remote session manually instead of through VSTS task?

[2017-08-30 19:35] KrishnaAdityaB commented on #4885
Closing this thread. This will be tracked at #4543

[2017-08-30 19:53] KrishnaAdityaB commented on #5025
@chaholl Thanks for reporting the issue.

If I understand correctly - you are using Hosted Agent.
Hosted agents come-up with a certain version of Azure PowerShell modules.
When you install some missing packages, they inturn install different versions of existing packages. This causes conflicts and you may end up with error similar to "_Azure PowerShell session is not initalized properly_".
Is my u

[2017-08-30 20:06] chaholl commented on #5025
@KrishnaAdityaB That makes sense and I'll try the workaround you suggested.

The bigger issue is that there's no way to access the _tenantId_ for the Azure context and I need that to configure the cluster for AAD authentication. I haven't tried creating the cluster using the **AzureRM.ServiceFabric** stuff yet but I'd imagine I'll have the same problem

[2017-08-30 20:56] keithrob commented on #5152
I have a couple of suggestions:

1. Are you certain that npm install is occurring in the same directory as the task which runs "npm run test"?  Validate this by inspecting the "Working folder with package.json" and by inserting a shell task between "npm install" and "npm run test" that does a "dir".  You should see node_modules

2. I'm not sure how you're calling 'jest' from your npm run script; h

[2017-08-30 21:32] pauldalyii commented on #3312
Here's the log for the deployment step that is failing in the release:
[tasklog_7.log.txt](https://github.com/Microsoft/vsts-tasks/files/1265132/tasklog_7.log.txt)

After adding the Application Insights site extention, I get the following error on the scm page:

[2017-08-30 22:33] peggybear commented on #4666
Is there a workaround for this?

[2017-08-31 01:15] rgovardhms commented on #5077
The issue is fixed now.

Thanks!

[2017-08-31 04:53] #5077 closed

[2017-08-31 05:20] Rajat-Jindal commented on #4543
@KrishnaAdityaB  Yes i am able to run the DSC from PowerShell remote session manually and it will work on rebooting as well.

[2017-08-31 05:37] RoopeshNair commented on #4830
@pauldalyii, can you please elaborate, "second task for AzureAD module". Are you referring to having another Azure PowerShell task wherein you can specify both AzurePS and AzureAD versions or just AzureAD version? Can you install AzureRD as part of your powershell script?

Right now, we don't have plans to add additional AzurePS task.

[2017-08-31 06:04] aaron-bozit commented on #5140
Closing issue as it appears that this was related to a Group Policy that was being applied to the server (not sure which), it would be good if the error message was a bit more clear.

[2017-08-31 06:04] #5140 closed

[2017-08-31 06:34] yiqzhou opened #5174 "Publish .trx Test Results Doesn't Contain Test Owners"
VSTS task "Publishing Test Result" doesn't show test owners while the owners information exist in the published .trx file. It began in 1 or 2 hours.

![image](https://user-images.githubusercontent.com/29744299/29909579-2c2cc5a2-8e59-11e7-9ed9-b822cc679bf1.png)

[2017-08-31 07:35] CodedBeard commented on #5161
@bishal-pdMSFT

1. Consistent, It hasn't worked once with the new cluster. I even built another new cluster to make sure it wasn't some random issue with the first cluster.
2. HostedVS2017

Will get the log output cleaned and uploaded shortly.

Another thing I noticed yesterday, If I leave the application deployed via manual PowerShell, and then run the vsts release, it correctly detects the appli

[2017-08-31 07:57] CodedBeard commented on #5161
@bishal-pdMSFT

Here's the output for the release targeting the 5.7 "preview" cluster, which works as expected: https://gist.github.com/CodedBeard/84cfa1651792f49bab124d1caa7cd9f0

Here's the output for the first 5.7 "release" cluster, which always fails from VSTS, but works fine from PowerShell:
https://gist.github.com/CodedBeard/a5208b278faee2d817e644bcc83915b9

Finally, here's the output from t

[2017-08-31 09:13] ba55ie commented on #3805
Our working fix is:

1. Put a `.npmrc` file with the authentication token in the same folder as your `package.json`.
1. Include this file in your repository (we use a read-only user token).
1. In your build definitions NPM install task:
    - Set the `working folder` to the folder containing the `.npmrc` and `package.json` files.
    - Add the argument `--userconfig=./.npmrc`.
1. Success!

You can

[2017-08-31 09:21] ba55ie commented on #4614
When you are running an older version of the NPM task, then this was our fix: https://github.com/Microsoft/vsts-tasks/issues/3805#issuecomment-326238301

[2017-08-31 10:51] vimegh commented on #4717
We are closing this issue in github, as customer has opened Microsfot case for it. We will be following with them there.

[2017-08-31 10:51] #4717 closed

[2017-08-31 11:28] PeterVeenendaal commented on #2163
We fixed the problem for TFS-2017 on-premise with the agent 2...

We add the following text to the task:
Write-Host "##vso[task.setvariable variable=agent.jobstatus;]canceled"
Write-Host "##vso[task.complete result=Canceled;]DONE"

And the task and build were canceled.

[2017-08-31 11:46] martinnormark opened #5180 "Azure Powershell cannot use secret variable"
I am using the Azure Powershell tasks to run database copy, backup and delete tasks.

I have some secret variables, among others the SQL server admin password:
![image](https://user-images.githubusercontent.com/67565/29921429-d7e95980-8e51-11e7-8ebc-79031b1c3924.png)

In the export task I use [`New-AzureRmSqlDatabaseExport`](https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/New-AzureR

[2017-08-31 12:10] xenalite commented on #5135
@nigurr I enabled "Update Test Agent" option in the deploy task. I ran a few more test runs afterwards. One of them just failed with the same error.
I will uninstall VS15u3 agent from test VM as per recommendation and see if I can still reproduce this issue.

[2017-08-31 13:09] KrishnaAdityaB opened #5182 "AzurePowerShell task should expose an option to not "Fail on Standard Error""
I have a script that throws non-terminating errors. I don't want my task to fail on these error messages.
As of today, AzurePowerShell task fails on any standard error. It should expose an option like the PowerShell task to skip this behavior.

[2017-08-31 14:00] dee-see opened #5183 "The VsTest task's "Path to Custom Test Adapters" hover help should be a bit more specific."
The help mentions "Nuget restored adapters are automatically searched for.".

I wasted quite a bit of time wondering why it didn't work before heading over to the [readme](https://github.com/Microsoft/vsts-tasks/blob/releases/m109/Tasks/VsTest/README.md) that added "If there is a packages folder in the sources directory, it is automatically searched for testadapters.". We don't restore our package

[2017-08-31 14:44] lukemcnally84 commented on #5029
Is there any progress on this? Is there something wrong with the way I've configured my build definition? Do you need any more information from me?

[2017-08-31 16:32] artisticcheese commented on #4666
I run following powershell script at the end of execution run to fix the issue

`move-item -Path (join-path -path $path -Childpath (get-childitem -Path $path -Name "in" -Directory -Recurse)) -Destination $path\webtest`

[2017-08-31 17:18] bishal-pdMSFT commented on #5161
@CodedBeard
HostedVS2017 agent is using 2.7 **preview** SDK version. There could be compatibility issue between 2.7 preview SDK and 5.7 release runtime. Are you using 2.7 **release** SDK when running commands through powershell directly?
@MikkelHegn, are you aware of any compat issue?

[2017-08-31 17:50] CodedBeard commented on #5161
@bishal-pdMSFT yea, the machine I'm running the commands from is using the 2.7 release SDK

[2017-08-31 17:59] peggybear commented on #4666
@artisticcheese I am running my tests and reporting testresults&code coverage all in one `visual studio test task` step. This is the only way to publish code coverage without converting it to cobertura or jacoco format. Are you using `visual studio test task`?

[2017-08-31 18:08] bishal-pdMSFT commented on #5161
@CodedBeard Would you be able to use a private agent with 2.7 release SDK to un-block yourself. Are you able to deploy to 2.7 preview cluster using your machine with powershell commands?

[2017-08-31 18:11] iyerusad commented on #4272
@bryanmacfarlane Is there a subscribe-able issue for keeping track of? I have traversed 3+ issues that have the exact same inquiry and would seem indicates enough of a interest to get the backlog item to include acceptance criteria to update subsequent issue. Ditto for yaml (arguably supersedes this in superior fashion).

[2017-08-31 18:16] bryanmacfarlane commented on #4272
We added this support in the V2 versions of those tasks as part of the yaml work (about to go into preview).  You should be able to use those tasks today.

https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/powerShell/task.json#L73

[2017-08-31 18:16] bryanmacfarlane commented on #4272
Fixed in V2 versions of tasks

[2017-08-31 18:16] #4272 closed

[2017-08-31 18:17] bryanmacfarlane commented on #4272
Usage in YAML coming soon: https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-powershell.md

[2017-08-31 19:01] artisticcheese commented on #4666
I run tests manually in script like below

[code]

[2017-08-31 19:11] Saabertooth opened #5188 "NPM Publish: Authentication Fails for VSTS NPM Package Feed"
I have added an NPM Publish task to my CI Build and I have selected the proper Target Registry for which the package should publish (Using the "Registry I select here" dropdown).

I have the working folder pointed to my package.json which specifies this registry in it's "publishConfig":
`"publishConfig": {
    "registry": "https://intellitraks.pkgs.visualstudio.com/_packaging/IntelliTraks/npm/regi

[2017-08-31 19:26] KrishnaAdityaB commented on #5180
@martinnormark The secret variable value entered in Release Definition is available as _System.String_ in the tasks.
_Invoke-SqlCmd_ expects a _System.String_ for _-P_. And so it was successful.
But _New-AzureRmSqlDatabaseExport_ expects a _System.Security.SecureString_ for _-AdministratorLoginPassword_. And so the error.

You have to convert the value from one type to other. See if this link help

[2017-08-31 19:36] iyerusad commented on #4272
Thanks Bryan.

I gotta ask - Is YAML availability only for specific tasks?

I noticed the documentation is targeting powershell and https://github.com/Microsoft/vsts-agent/tree/master/docs/preview contains others... but I don't see one for AZ CLI and was wondering if the YAML implementation here was preview for only certain tasks.

[2017-08-31 19:51] KrishnaAdityaB commented on #5138
@mayeager22
Can you share the debug logs of the "PowerShell on remote machines" task and the Command Line task you used with psexec?
You can send them to RM_Customer_Queries at Microsoft dot com

[2017-08-31 20:35] CodedBeard commented on #5161
@bishal-pdMSFT will give the private agent a go tomorrow.

[2017-08-31 20:49] peggybear commented on #4666
FYI, looks like they fixed it here https://github.com/Microsoft/vsts-agent/pull/1149/files

[2017-08-31 20:50] artisticcheese commented on #4666
Not sure how to install it on TFS 2017 U2 on premises

[2017-08-31 21:21] martinnormark commented on #5180
@KrishnaAdityaB God damn, I was sure I'd already tried this - it works 🎉

Setting the `$pwd` variable should be done like this, for it to work:
[code]

[2017-08-31 21:21] #5180 closed

[2017-08-31 21:55] pauldalyii commented on #4830
Hi @RoopeshNair, At first I asked for the current Azure PowerShell task to load both the AzureRM and AzureAD modules and authenticate both of them using the Azure service connection selected for the task:

However @arjgupta indicated that there were no plans to do that:

So as a follow up, I asked that in absence of loading both modules in the same task, would you be able to create a separate task

[2017-09-01 03:40] GitHubSriramB commented on #5074
@cilerler - We do not have any native support for triggering build on a release completion.

The task that you pointed to in the extension is a good alternative. The other option would be to have your own PS script that can invoke the Build REST API to trigger build and include it within the appropriate environment in Release.

[2017-09-01 03:47] GitHubSriramB commented on #5163
This is an issue with Jenkins Download Artifact task.
@DavidStaheli - could you pl. investigate?

[2017-09-01 03:47] GitHubSriramB commented on #4655
@g-guth - I'm closing this issue assuming the above suggestion will work. Pl. let us know if this isn't the case.

[2017-09-01 03:47] #4655 closed

[2017-09-01 05:04] vincentdass commented on #3312
@pauldalyii , thanks for the logs. If Application Insight extension is enabled in your App Service, there is a possibility of hitting FILE_IN_use issue.  The error you are facing is quite different. Taking this thread with Azure App Service team to debug the issue.

[2017-09-01 06:04] dbtfsbre commented on #5095
@nigurr Is this combination not supported?

[2017-09-01 06:17] rihei commented on #5094
We also had this error in VSTS today, after updating the global.json's sdk version from 1.0.0 to 1.1.0.

d:\a\1\s\src\Test\Test.csproj : error NU1105: Unable to find project information for 'd:\a\1\s\src\Web\Web.csproj'. The project file may be invalid or missing targets required for restore.

The build succeed's when I change the sdk version back to 1.0.0.
Apparently the VSTS hosted build agent d

[2017-09-01 06:20] prawalagarwal commented on #4961
Hi @lkruger ,

Were you able to resolve the issue?

[2017-09-01 09:21] alexdrl commented on #5006
This is related to https://github.com/NuGet/Home/issues/5832 and not related to the build task. We made a workaround using `GeneratePackageOnBuild` for .NET Standard libraries.

[2017-09-01 10:03] CodedBeard commented on #5161
@bishal-pdMSFT I've just confirmed it works fine when using a private agent with the 2.7 release SDK, so looks like there is an issue with the HostedVS2017 agent's version

[2017-09-01 10:20] bishal-pdMSFT commented on #5161
Thanks @CodedBeard
@MikkelHegn do you see any issue if we update HostedVS2017 image's SF SDK to 2.7 version?

[2017-09-01 11:42] mivano commented on #5077
Working fine now. Thanks!

[2017-09-01 12:38] nshr87 commented on #4003
Same here.
Locked on outdated MTM, xaml builds and 2013 agents till this issue will be fixed...

[2017-09-01 13:49] smiggleworth commented on #5018
This is exactly what I am looking for. When you say soon, how soon?

[2017-09-01 14:44] AndrewASel opened #5197 "Run Tests via test plan where multiple test cases are associated with the same test method"
Hello,

In our coded UI test solution we have cases when multiple test cases associated with one test method. I tying to run this tests:
Run Test>Test selection>Test plan, select suite contained two or more duplicate test name, IDs etc.
And getting error in DTAExecutionHost.exe.log
VstestAdapter.Execution - RunMessage : An item with the same key has already been added.

I also changed Test selecti

[2017-09-01 15:08] MikkelHegn commented on #5161
No we should go ahead and do that.

[2017-09-01 15:23] ChrisBertrand commented on #4920
What was the solution for this? I'm getting a similar error

[2017-09-01 16:57] apryiomka commented on #3762
How do you add dotnet restore task? I am having the same issue after adding a new .Net Core 2.0 project to the existing .Net 4.7 projects solution.

[2017-09-01 17:02] alexmullans commented on #3762
Look for the .NET Core task in the catalog, and select Version 2.* from the version picker.

[2017-09-01 17:32] pauldalyii commented on #3312
Thanks.  Let me know if I can provide any other information.  My alias is padal if you want to hop on a skype call.

[2017-09-01 17:55] peggybear commented on #4666
they'll update hosted agents as well (hopefully) so I don't think you need to install it on premise.

[2017-09-01 20:25] bryanmacfarlane commented on #4272
YAML will be available for all tasks.

[2017-09-01 20:33] JuanZamudioGBM opened #5205 "vsts task dotnet test fails with .net core 2 and resources"
Hi, I'm creating a build  definition on VSTS, for some tests I'm adding files inside a resx file, works on my machine but  in VSTS I'm getting this error:

2017-09-01T20:07:32.3731498Z [command]d:\a\_tool\dncs\2.0.0\x64\dotnet.exe test d:\a\1\s\src\Tests\Ommited.UnitTests.csproj --logger trx;logfilename=TEST.xml
2017-09-01T20:07:34.3419920Z Build started, please wait...
2017-09-01T20:07:39.7888511

[2017-09-01 23:18] yorhpokie opened #5209 "Some tests result in pending state when testsettings file specified in Run Functional Tests task"
If I specify a .testsettings file in the Run Functional Tests v1.* task, as many as 75 test cases out of 291 show pending status.  Even if the .testsettings file contains no sub elements, many tests still show pending status.  The second issue is these test results don't explain why these tests show pending status and why they didn't run.  This is a worse experience than MTM.  I have attached 2 .t

[2017-09-02 04:13] kalin-toshev commented on #4684
I hit the same issue (System.IO.FileLoadException/E_UNEXPECTED) while trying to hook up Functional Tests task, preceded by Deploy TestAgent in my VSTS release definition. I also spent some time to investigate the root cause and I think I found the problem.

Basically, during startup, DTAExecutionHost.exe (via [Microsoft_VisualStudio_TestService_Utility]) installs an AssemblyResolver handler, which

[2017-09-02 14:40] davidobrien1985 commented on #5077
I'm still getting this error with the Hosted Linux agent.

Plus, using NPM to install the CLI gives me hundreds of permission errors.

@rgovardhms can you check this for Linux please?

[2017-09-02 14:49] phatcher commented on #3459
@RoopeshNair  Why did you close this if you haven't done it yet?

[2017-09-02 14:52] davidobrien1985 commented on #5077
This is what I'm getting over and over again:

[code]

[2017-09-02 15:21] davidobrien1985 commented on #5077
Okay, was able to hack something together...

[code]

[2017-09-03 01:22] kalin-toshev opened #5213 "Run Functional Tests Hangs on 'InProgress' state (re-opened)"
_[re-opening the issue, since the original one ( #4684) is closed; pasting content below...]_

I hit the same issue (System.IO.FileLoadException/E_UNEXPECTED) while trying to hook up Functional Tests task, preceded by Deploy TestAgent in my VSTS release definition. I also spent some time to investigate the root cause and I think I found the problem.

Basically, during startup, DTAExecutionHost.exe

[2017-09-03 08:30] JiriZidek commented on #4403
After upgrading to VS 2017 BuildTools 15.3.3 this bug appeared again - agent cannot find them...

[2017-09-03 10:20] xenalite commented on #5135
@nigurr
I uninstalled VS15u3 and VS17 TAs and let the task deploy the most recent version.
Afterwards, I am still able to reproduce the same issue with only VS17 TA installed.

[2017-09-03 17:27] sachinma commented on #5077
@davidobrien1985 az tool was never available on Hosted Linux Agent. Consider opening a new issue as enhancement to track installing az in the Hosted Linux Agent.

[2017-09-03 19:37] davidobrien1985 commented on #5077
Okay, no worries, but npm is, right?
My problem actually looks more like an npm issue.

Sent from my iPhone

On 4 Sep 2017, at 3:27 am, Sachin Mangla <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidobrien1985<https://github.com/davidobrien1985> az tool was never available on Hosted Linux Agent. Consider opening a new issue as enhancement to track installing az in the Host

[2017-09-03 20:36] nmaier26 commented on #5213
This has also been a major issue for us as well.  If there is anything more that I can add that hasn't already been provided let me know.  But wanted to comment to hopefully increase urgency.

[2017-09-04 00:55] davidobrien1985 opened #5217 "NPM on Hosted Linux agent fails"
Hi guys,

referring to #5077 .

I'm trying to install the azure cli on the hosted Linux agent via npm and I'm getting this error:

[code]

Using `npm install azure-cli` (not `--global`) also fails.

Any ideas what I'm doing wrong?

[2017-09-04 05:14] yiqzhou commented on #5174
Add some details recently got:
For "Publish Test Results", it seems recordings of a test's owner fade after hours. If result of the test is published again, even in another build or release, test owner in the older build can be fetched.
We've got 3 tests as example:
1.Microsoft.Ads.UcmApi.Database.FunctionalTests.UcmTicketingTests.GetFilteredTicketGrid
2.Microsoft.Ads.UcmApi.FunctionalTests.Ticket

[2017-09-04 06:15] sachinma commented on #5217
Just to clarify, that node based azure-cli is older version of azure cli (different from python based az tool). From the failure, it looks like an issue installing fibers. From here, https://www.npmjs.com/package/fibers, it looks like it is tested with node 6.x version. You can try to use "Node tool installer" task with version 6.x and then try this script to install azure-cli. I have been able to

[2017-09-04 06:43] KrishnaAdityaB commented on #4972
@sameer-kumar Please reopen the issue, if above solution doesn't work or the root cause is different

[2017-09-04 06:43] #4972 closed

[2017-09-04 06:49] KrishnaAdityaB opened #5218 ""Powershell on remote machines" will not allow me to run as an admin user"
Forked from #5138

[2017-09-04 06:50] KrishnaAdityaB commented on #5138
@mayeager22 I got the logs on e-mail.
I will look into the Remote PS issue. Forked a separate thread for that #5218
I will leave this thread to continue on the logs issue. @bryanmacfarlane can help you here. I will forward the corresponding debug logs in our internal e-mails.

[2017-09-04 06:56] KrishnaAdityaB commented on #5059
Please reopen the issue if above solution doesn't work.

[2017-09-04 06:56] #5059 closed

[2017-09-04 08:11] ljani opened #5219 "Document overriding nuget.exe path with v1.* task"
Currently there is no public documentation how to override `nuget.exe` path with the `v1.*` restore task. The related changeset is [`2b50ca`](https://github.com/Microsoft/vsts-tasks/commit/2b50ca67d6f8347ebfaf6f5b940b345d97411392). (Thank you for open sourcing your stuff.)

Overriding nuget path is currently needed to fix eg. #5164 to upgrade `nuget.exe` with on-premises TFS 2017 Update 2. The too

[2017-09-04 08:28] Cva2904 commented on #5068
@nigurr

we are using IBM server with windows 8.1 enterprise edition operating system.
when ever the issue its producing the same delay and we are timed out message after the wait time.
the logs are getting updated with the latest build executions.

Kind Regards,
Siva.

[2017-09-04 09:06] arjgupta commented on #4830
@pauldalyii , the current task also supports loading the Azure Module, you have to use a classic endpoint for it to be imported. And for the Azure RM module to be loaded , you need to use an AzureRM endpoint.

[2017-09-04 09:21] bansalaseem commented on #4469
Thanks for raising this, I have tagged it as an enhancement and have assigned it to our PM so that he can put it in the backlog with the right priority.

[2017-09-04 09:37] debasisj commented on #5127
I have now updated nUnit to 3.7 but getting same issue.. any idea?

[2017-09-04 10:37] davidobrien1985 commented on #5217
@sachinma thanks, I believe I was a bit confused already when I tried everything.
I also just checked my build logs and this approach here

[code]

failed multiple times on Saturday.
It now just works.

[2017-09-04 10:38] davidobrien1985 commented on #5217
I'll close this issue.

[2017-09-04 10:38] #5217 closed

[2017-09-04 10:56] prawalagarwal commented on #4961
Closing this thread. Please reopen if you are still facing the issue.

[2017-09-04 10:56] #4961 closed

[2017-09-04 10:57] KrishnaAdityaB commented on #5115
Fix was checked-in. This will be deployed to production in next 3-4 weeks

[2017-09-04 10:57] #5115 closed

[2017-09-04 11:01] KrishnaAdityaB commented on #4782
After I tested the scenario, I am closing this issue. Please re-open if above solution didn't work for you.

[2017-09-04 11:17] nigurr commented on #5095
@dbtfsbre it's supported. but we haven't seen this (tried repro internally). Are all these machines are connected to same domain group?

[2017-09-04 11:47] prawalagarwal commented on #4817
@mkonkolowicz @marcopierobon  Are you still facing this issue?

[2017-09-04 12:27] vincentdass commented on #5021
Closing this thread as there is no response from customer.
Please re-open the thread, if required and provide Debug logs too.

[2017-09-04 12:27] #5021 closed

[2017-09-04 12:58] MeliSantana commented on #5205
Did you find a solution? I just found the same problem

[2017-09-04 13:41] lovakumar commented on #4989
Ack - we are looking into this.

[2017-09-04 14:36] dbtfsbre commented on #5095
@nigurr Our test machines are not domain-joined. The build agent is domain-joined.

Currently on the test agents we have WinRM configured for HTTP only, not HTTPS. The build tasks are configured to use HTTP. This is to skip the certificate generation when deploying virtual machines.

[2017-09-04 15:33] JuanZamudioGBM commented on #5205
@MeliSantana nop, not yet

[2017-09-04 16:02] pravekdadhwal commented on #4329
Hello ynijs, were you able to resolve this issue? I am coming across similar issue, when trying to get the agent to run tests from a test plan instead of from assembly.

[2017-09-04 16:12] pravekdadhwal opened #5224 "VS Test task 2.* throws unable to connect error E_TIMEOUT"
Dear All,
I have been trying to get the agent to run the tests from a 'Test Plan' instead of 'Test assemblies'. Using 'Test assemblies' it just works fine, but moment I switch to 'Test plan', it starts throwing an error '[error]Error : created the test agent entry in DTA service, so retrying => retries pending  : 2error details :Error: connect ETIMEDOUT 40.68.97.137:443'

2017-09-04T16:08:15.89198

[2017-09-04 22:03] dmytro-ielkin commented on #5018
I really like the idea of a generic "Install Secure File" task. That is precisely what I'm looking for. Fell free to let us know when we can expect it.

[2017-09-04 23:14] mkonkolowicz commented on #4817
Hey guys,

Sorry, I haven't re-examined the issue in a few weeks, due to having to moved on to a different project. I will re-examine sometime in the next two weeks are reply.

Thanks for following up!

[2017-09-05 01:55] nigurr commented on #5224
@pravekdadhwal Can you please let us know your Build agent version and any proxy settings are being used?

[2017-09-05 01:57] nigurr commented on #5213
@kalin-toshev, @nmaier26  Can you select "Enable UI Testing" in Deploy Test agent task and try running the scenario and let us know is it still happening?

[2017-09-05 01:59] nigurr commented on #5205
@smadala can you please look into this?

[2017-09-05 02:05] nigurr commented on #5209
@yorhpokie sorry for the inconvenience.  Please feel free to share your feedback: https://visualstudio.uservoice.com/forums/330519-team-services. We will be glad to improve the experience.

Seems like these test cases are skipped/ignored. Do you have any filters on Run Functional Test task? Can you please attach DTAExecutionHost.exe.log file from Test agent machine [C:\dtalogs\dtaexecutionhost.exe

[2017-09-05 02:08] nigurr commented on #5197
@AndrewASel Sorry for the trouble. Unfortunately, currently there is no work around for the same. We have fixed this issue in 15.3 Test Agent.
For older versions, you can duplicate the test method and associate to two test cases separately.

[2017-09-05 02:08] #5197 closed

[2017-09-05 02:12] nigurr commented on #5095
@dbtfsbre does domain joined account has write permission to the test agent machine? I am suspecting that would be the case. Does Windows file copy task works on the same machine?

[2017-09-05 02:13] nigurr commented on #5068
@Cva2904 Can you please share the details which are requested earlier?

   1.  Do test agent machines belongs to on-prem or azure?
   2.  What's the version of Deploy Test agent are you using?
   3.  Is it consistently producing the same delay?
   4.  Can you please share build/release logs if it's getting repro continuously.

[2017-09-05 02:15] nigurr commented on #5135
@xenalite can you please enable "Run UI Tests" and check if it fixes your issue. We are suspecting that "test user account" doesn't have active session on the remote machine.

[2017-09-05 02:16] #4988 closed

[2017-09-05 05:00] prawalagarwal commented on #5118
Hi @rjaesguerra ,

Thanks for your feedback. Since this is a feature request, please reach out to us at devops_tools[at]microsoft[dot]com and we will pick it up from there.

[2017-09-05 05:00] #5118 closed

[2017-09-05 05:42] RoopeshNair commented on #3459
@phatcher we are tracking this internally.

[2017-09-05 05:45] smadala commented on #5205
@MeliSantana @JuanZamudioGBM Can you share repro project?

[2017-09-05 05:50] prawalagarwal commented on #5133
This is done for [DeployVisualStudioTestAgent](https://github.com/Microsoft/vsts-tasks/pull/5222) task. @ericsciple please verify.

[2017-09-05 06:03] wil55n commented on #4598
I had the same issue. Once I reverted to UITest version 1.x the error went away.

[2017-09-05 06:32] atulsureka opened #5226 "Unable to run remote powershell without credentials"
Hi

I created a **PowerShell on Target Machines** task which executes a power shell on remote machine. This task is created as a part of release definition.

Logically speaking when I trigger a new release then build agent executes this power shell on remote machine. Let's say target machine is M1 & my build agent is running under a user account u1. I made u1 as administrator on M1.

If the accoun

[2017-09-05 07:55] lukewis commented on #4782
I apologize for the delay, but I was finally able to stand up a new machine to test this scenario.  I'm experiencing similar issues with both solutions you described.
Senario 1:  I'm now receiving error 55 which states that "The specified network resource or device is no longer available."
Scenario 2: I'm still receiving an "Access Denied" error
I"m available around 4:30 Eastern if you'd like to d

[2017-09-05 08:19] karpis opened #5228 "Build tag 'XYZ' was not added successfully"
Using
`
Write-Host ##vso[build.addbuildtag]XYZ
`
from PowerShell within a build.

The tag _is_ properly added to the build, but the error message

is dispalyed in logs and the build fails because of that.

The command is _successful_ if build tag 'XYZ' _does not exist_ for the team project.
The command is _successful_ if build tag 'XYZ' _exists_ for the team project.
The command **_fails_** if a b

[2017-09-05 09:03] KrishnaAdityaB commented on #5226
@atulsureka This behavior is the current design.
So, we will consider this thread as a suggestion not an issue. Please log the suggestion at https://visualstudio.uservoice.com. We will prioritize it based on voting.

To maintain backward compatibility - we were not able to fail during RD saving.

[2017-09-05 09:03] #5226 closed

[2017-09-05 09:08] yiqzhou commented on #5174
I've ran the script to detect test owner of Microsoft.Ads.UcmApi.Database.FunctionalTests.UcmTicketingTests.GetFilteredTicketGrid() for 24 hours and here's the result:
![image](https://user-images.githubusercontent.com/29744299/30053877-d2a13844-925c-11e7-87dc-e16a54e41e83.png)
1. There is a cycle of about 1 hour but not precisely.
2. At each reappearance of test owner, I found a test result publi

[2017-09-05 09:57] KrishnaAdityaB commented on #5218
@mayeager22 I was not able to reproduce this issue.
My "PowerShell on Target Machine" task is successfully executing with admin permissions. I tried with below script
[code]

If you face any Access Denied errors when using this task - Please execute the same script manually in a Remote PS session. If it is failing, you have to fix the permissions. If it is passing, you can reopen the issue by atta

[2017-09-05 10:32] raman91dogra commented on #4996
@SadagopanRajaram I am running the Build having Tasks and  getting Error
1. Publish Test Results
2. UFT File System Execution
3. Copy Files
4. Publish Build Artifacts
Build Errors:-
[logs_35.zip](https://github.com/Microsoft/vsts-tasks/files/1277083/logs_35.zip)

**1. The HTTP request   timed out after 00:01:40.
2. System.IO.FileLoadException:   Could not load file or assembly   'file:///C:\Users\

[2017-09-05 11:53] naresh1990 opened #5232 "Service Fabric: Could not find Local.xml in build error after upgrading Solution to Latest SF version"
We were upgrading Service Fabric package version for our application from 5.4 to 5.7. with this change, Local.xml in publish profiles got changed to Local.1Node.xml and Local.5Node.xml and there is no Local.xml anymore.

I was able to build the solution and deploy my local cluster as SF SDK 5.7 is installed in my machine.

But when it comes to VSTS CI, Build is failing with the below error.

[code

[2017-09-05 12:45] santosh47billion commented on #847
I am facing this issue
Use regions/landmarks to skip ahead to chart.
0%
Long description.
0% of Tests passed.
Structure.
Chart type: pie chart.
pie with 1 slice.
Chart graphic.
0%
0/0Tests passed
Use regions/landmarks to skip ahead to chart.
0%
Long description.
0% of Devices passed.
Structure.
Chart type: pie chart.
pie with 1 slice.
Chart graphic.
0%
0/1Devices passed
Something went wrong while

[2017-09-05 12:56] IPO-srh-sloan commented on #5224
I have this same error when retrieving key vault items using linked variable groups or the task in a release.
[AGENT_VERSION] --> [2.119.1]
AzureKeyVault task is v1.0.6.

Agent is behind a proxy which is correctly set in [AGENT_PROXYURL]. We can't see the calls that are timing out below in either the access or the block log for the proxy so is the key vault task ignoring the proxy settings?

Thank

[2017-09-05 13:38] IPO-srh-sloan opened #5233 "connect ETIMEDOUT when retrieving secrets from Azure Key Vault"
I get the error below when trying to retrieve secrets from an azure key vault. I get the same error whether using the linked variable groups or the azure key vault task. If I run on the hosted queue it workes fine, when I run in our private queue on an on-prem agent behind a proxy, I get the errors below.
We can't see the calls that are timing out below in either the access or the block log for th

[2017-09-05 14:31] xenalite commented on #5135
@nigurr We run tests with a service account that has explicitly denied logon rights. This is not an option for us and in fact fails with this:

[2017-09-05 14:35] mayeager22 commented on #5218
The file was missing because a command failed to run that creates the file.

Thank you,

Mary Ann Yeager | Software Configuration Manager
Phidiax, LLC | www.phidiax.com<http://www.phidiax.com/>
Phone: 303-669-6944 | Main Office: 720-310-0161 | Email: MaryAnnYeager@phidiax.com<mailto:MaryAnnYeager@phidiax.com>
[Phidiax_Logo_Basic_with_Phidias_SubLabel_ReDraw_Phi_Black_W180]

[inc5000_num_317_withSt

[2017-09-05 15:14] apryiomka commented on #3762
I need to use .NET Core with authenticated VSTS nuget feed? I am getting a 401 error now. How do i authenticate with user name and VSTS PAT?
C:\Program Files\dotnet\sdk\2.0.0\NuGet.targets(102,5): error : Unable to load the service index for source https://vsts.url.com/nuget/v3/index.json. [d:\a\1\s\myproject.csproj]
2017-09-05T15:06:52.4907364Z C:\Program Files\dotnet\sdk\2.0.0\NuGet.targets(102,

[2017-09-05 15:35] DivineOps commented on #3312
@pauldalyii any updates? I just got the same error.

[2017-09-05 15:42] alexmullans commented on #3762
Are you trying to use .NET Core in build or on your local machine? If the latter: https://www.visualstudio.com/en-us/docs/package/nuget/dotnet-exe

[2017-09-05 17:01] vincentdass commented on #3312
@DivineOps , Can you share the logs and the app type (Web App / Function App) that you are trying to deploy?

[2017-09-05 17:10] DivineOps commented on #3312
@vincentdass  just a plain ARM template with a Web App resource tied to an Application Insights resource (from an Agile hackathon lab, if that helps)

[2017-09-05 17:56] sachinma commented on #3972
With 2.0 version of the task, now there is an option to not change the default behavior by appending the container path. With this control is in user's hands.
The reason for still having the option to preserve the old behavior is that the task can work with multiple projects. In such a case, if an ouput path is provided, this behavior lets you have cleanly publish all of them.

[2017-09-05 17:56] #3972 closed

[2017-09-05 18:24] MisinformedDNA commented on #5151
Is there a known workaround? It works locally, but fails in VSTS. Using .NET Core SDK 1.1 and tried both the .NET Core tasks 1.* and 2.* and both failed.

[2017-09-05 18:25] alexmullans commented on #5151
Make sure you're using .NET Core 2.*, and also add a new .NET Core Tool Installer and set the version parameter to 2.0.0.

[2017-09-05 18:36] MisinformedDNA commented on #5151
Is there a workaround if I stay on .NET Core 1.1? It's weird that some projects restore fine and others do not.

[2017-09-05 18:51] alexmullans commented on #5151
You might try keeping the Tool Installer, but specifying a different release from the table [here](https://github.com/dotnet/core/blob/master/release-notes/releases.csv). Make sure to also select SDK or Runtime based on the version you enter.

[2017-09-05 19:18] izefler opened #5236 "Packages failed nuget restore VS 2017 in VSTS projects .net standard"
Hello,

I need help!

I am using an on-premises build server, Windows with VS 2017 installed, I have other applications with the same features and works perfectly.

However for a specific application the error occurs!

In the task nuget restore it can not restore all the packages, the following error occurs:

Committing restore...
Generating MSBuild file d:\a\15\s\src\dev\mobile\shared\MRV.Obras.M

[2017-09-05 19:31] mclark1129 commented on #5151
I used the installer task to install version 1.0.4 of the SDK now my build is able to complete successfully.

[2017-09-05 19:37] nmaier26 commented on #5213
Selecting "Enable UI Testing" does appear to work around the issue, though not ideal as we aren't wanting to auto-login a user.

[2017-09-05 19:57] kalin-toshev commented on #5213
This was one of the first things that I tried, but it failed, because auto-logon could not be enabled.

[2017-09-05 20:04] kalin-toshev commented on #5213
For the workaround, I am using the attached PS script. I am calling the script 2 times - once in the beginning of the sequence and once at the end (with -unlock switch). Because I am disconnecting the PS (remote) session, the user's hive remains loaded and everything works. During unlock, I (try to) reconnect to the session and close it (which cleans things up). I think I pinpoint the problem abov

[2017-09-05 20:06] kalin-toshev commented on #5213
Also, following the steps above, you can reliably reproduce the problem 100% (just make sure that no logon session is active for the selected user).

[2017-09-05 20:50] bryanmacfarlane commented on #5228
please create an issue in the vsts-agent repo.  not a task issue

[2017-09-05 20:50] #5228 closed

[2017-09-05 23:07] yorhpokie commented on #5209
_Hi nigurr and prawalagarwal,

I don't have any filters on Run Functional Test task.  In the latest test run where I specify only 2 test agents, half of the tests ran and the other half resulted in pending state.  I have attached a zip file that contains the dtaexecutionhost.exe.log files for both test agents.  Please let me know what you find out.  Thank you!
[DTAExecutionHost.exe.zip](https://gi

[2017-09-05 23:25] trbngr commented on #5094
I'm hitting this issue as well.

For me, it seems that `BundlerMinifier.Core` is the offender. If you remove that tool, `restore` succeeds.

[2017-09-05 23:53] JuanZamudioGBM commented on #5205
@smadala Here you, this fails in vsts when i build and then run the test (both Tasks are .NET Core (Preview) 2)
[TaskRepro.zip](https://github.com/Microsoft/vsts-tasks/files/1279310/TaskRepro.zip)

[2017-09-06 00:44] aldoms commented on #5188
It looks like your package.json has the "publishConfig" property set with the registry set to your feed, we use a different format when injecting credentials so this property may be overriding our auth. Can you try removing the registry from "publishConfig" and trying again?

[2017-09-06 03:33] nigurr commented on #5213
@kalin-toshev We have tried creating new user and never logged in/no session exists with that user :)
But thanks for inputs. we will try little more

[2017-09-06 03:40] nigurr commented on #5209
@yorhpokie

Are you running the tests using Test Plan/Test suites?

[2017-09-06 03:45] nigurr commented on #5135
@xenalite Thanks for letting know. This issue is being tracked here: https://github.com/Microsoft/vsts-tasks/issues/5213

For Non-UI tests, we advice you to use "Test Agent 2015" or alternatively, can you please login to the test machine with test user account and disconnect from the computer. this will make sure the user is logged in and it will unblock your scenario.

[2017-09-06 03:45] #5135 closed

[2017-09-06 05:01] PArpagaus commented on #4812
Hello

If have still the same issue, temporary I copied the necessary assemblies to the GAC to let work the tasks. The version is as follow:

2017-09-05T20:01:37.7746575Z ==============================================================================

2017-09-05T20:01:37.7746575Z Task         : NuGet Packager

2017-09-05T20:01:37.7746575Z Description  : Creates nupkg outputs from csproj or nuspec f

[2017-09-06 06:10] LokiMidgard opened #5241 "Is there a reason you can't select VS2010 in VSBuild task?"
It seems like the scripts support VS2010: [VSBuild.ps1](https://github.com/Microsoft/vsts-tasks/blob/c7abcd615d8232c392c37db186dcd893c283596d/Tasks/VSBuild/VSBuild.ps1#L56)
But in the UI it is missing: [task.json](https://github.com/Microsoft/vsts-tasks/blob/5fbcd26e49fa469346b71ffc16b1d2d66ff3a754/Tasks/VSBuild/task.json#L51)

I could use this. Are there known problems with vs2010?

[2017-09-06 07:27] GuofuZhong opened #5243 "What's the best practice for manage more and more VSTS build release definition?"
Hi All, we have more and more build/ release definitions.
how to manage them and upgrade task info/version?

[2017-09-06 07:48] ericsciple commented on #5241
I dont know if the custom msbuild logger will work with it. You can use the MSBuild task and specify the location to msbuild.exe and try it. If not, a script calling msbuild.exe and checking exit code would be the workaround.

[2017-09-06 07:48] #5241 closed

[2017-09-06 08:08] LokiMidgard commented on #2032
I have the same problem.
```SystemInformation.xml``` is created but the video is missing.

[2017-09-06 09:30] prawalagarwal commented on #4817
We cannot reproduce the scenario on our side. The source control and the test task have no relation and are completely independent. Once the code is pulled from the appropriate version control, the test task uses that code to proceed further and is not dependent on what version control exists.

The error might be due to some other issue. Please reopen if you are still facing this.

[2017-09-06 09:30] #4817 closed

[2017-09-06 09:30] kardinal3000 opened #5244 "Pass all variables include secret variables to the PowerShell script argument"
Hello guys,
I am using On-Prem TFS 2017 U2, version of agent 2.117
I have some challenges maybe you give me advice to how can it be solved
I have release definition which has more than 50 variables. The count of variables always change. In my release pipe I use task "run PowerShell on remote machine".

How can I pass all variables include secret variables to the my PowerShell script argument as an

[2017-09-06 09:36] prawalagarwal commented on #5133
Removing test label as DTA task changes are done. Let me know if it is required.

[2017-09-06 09:51] russelldyas opened #5245 "Azure App Service Deploy Task Question - Multiple Sites"
Hello

I am sure I am missing something obvious.

Is there an easy way to deploy to multiple resources groups or sites with out having to create 100 tasks?

Our current setup...

A number of resources groups each have a separate portal in them. Need to create release process that deploys a new build to all the resource groups. I could create a separate task for each site however that becomes unman

[2017-09-06 12:26] GitHubSriramB commented on #5244
@kardinal3000 - secret variables can be only passed as explicit argument.

@ericsciple - is there any other suggestion to address this scenario?

[2017-09-06 12:31] ericsciple commented on #5244
The only way currently is explicit argument. Don't you have to update your downstream script each time also? Why do your variable names constantly change? Can you provide more details about the scenario?

[2017-09-06 13:13] kardinal3000 commented on #5244
My case, I have release definition with 7 environments (Dev, QC, INT, Stage, etc)  where I use Variable groups (15), Variables (12) and Configure Variables (32) in each layer I have secret variables.
I use only one task "Run PowerShell on Remote Machine". This task has field "Session Variables" where I specify all variables, if I skip it this step my script will not work. I do it this action on  e

[2017-09-06 13:44] mclark1129 commented on #5151
Closoing as I have an acceptable workaround for the issue.

[2017-09-06 13:44] #5151 closed

[2017-09-06 15:51] northtyphoon commented on #4496
You can add the following MSDeploy arguments to avoid deleting ApplicationInsightsProfiler web job

`-skip:skipaction='Delete',objectname='filePath',absolutepath='\\App_Data\\jobs\\continuous\\ApplicationInsightsProfiler2\\.*'
-skip:skipaction='Delete',objectname='dirPath',absolutepath='\\App_Data\\jobs\\continuous\\ApplicationInsightsProfiler2\\.*'
`

In VSTS CI/CD, you can add the above argument

[2017-09-06 16:48] vincentdass commented on #3312
@DivineOps , Can you please share the link to the ARM template your are using?
To Share the details in private, Mail the details to `RM_Customer_Queries@Microsoft.com`

[2017-09-06 17:04] Saabertooth commented on #5188
Removing the "publishConfig" from my package.json did indeed fix the issue.

This should be documented at: [https://www.visualstudio.com/en-us/docs/package/build/team-build-npm](url) as this property is often used to publish to registries using alternatives such as manually publishing or gulp builds.

[2017-09-06 17:04] #5188 closed

[2017-09-06 18:25] Mctalian opened #5250 "Add Verbose option to AzureResourceGroup Deploy"
Visual Studio IDE does a great job of showing what's happening during deployments. It would be nice to have that same visibility during Release Definition or CD deployments if it is possible.

[2017-09-06 20:29] iyerusad commented on #4743
Discovered this similar limitation, was going to also post issue under title "Persisting Variables to different Phases", but checking in here.

My scenario is I use `Azure CLI` task to query some data , this runs on a `Hosted VS2017` Agent Phase. Then I need `ansible` which does not run on Windows - New phase created using `Hosted Linux` Agent. `Azure CLI` task is not available on `Hosted Linux` a

[2017-09-06 20:31] iyerusad commented on #375
@whihathac variables across phases has issue here: https://github.com/Microsoft/vsts-tasks/issues/4743

[2017-09-06 23:02] yorhpokie commented on #5209
Yes, the Test Plan/Test suites are from MTM.

[2017-09-06 23:32] whihathac commented on #4743
In my scenario, I have only Windows based Agents. Would really love to see this! Today, to avoid this, we are writing this info to a shared queue which being read by the next phase.

[2017-09-07 04:45] nigurr commented on #5209
@yorhpokie Are there any test cases are associated to same test method?
This is known issue where if multiple test cases are associated to same test method, there will be an error and tests wont be executed. This is fixed in VS 15.3 and later versions. We suggest you to remove duplicated test cases or duplicate the test methods and re associate test cases.

[2017-09-07 04:50] nigurr commented on #5068
Please open the issue with the required details if it's reproducible continuously.
For optimizing test agent installation we recommend using offline installation as mentioned here: https://blogs.msdn.microsoft.com/devops/2017/05/05/using-visual-studio-agent-deployment-task-on-machines-not-connected-to-the-internet/

[2017-09-07 04:50] #5068 closed

[2017-09-07 05:59] prawalagarwal commented on #5127
Hi @debasisj,

From your previous logs : vsts-agent-win7-x64-2.119.1\_work\2\s\packages\NUnit3TestAdapter.3.7.0\tools\NUnit3.TestAdapter.dll is getting picked up as the adapter, which means your task is restoring 3.7 adapter instead of 3.6.1. Have you tried running the tests locally directly from vstest.console by providing this adapter? If this works and task is still failing, please clear/delete

[2017-09-07 06:03] raman91dogra commented on #4996
@SadagopanRajaram , @cltshivash Can you guys take a look on my above comments please.

[2017-09-07 09:07] smadala commented on #5205
@JuanZamudioGBM Thanks for repro.
I was able to repro the issue local dev machine.
There was difference between "Visual Stusio build" and "dotnet build"(which is used by "dotnet test" ).
If I run tests(`dotnet test --no-build`) after building with VS, test works fine.
VS Msbuild.exe file version: 15.3.409.57025
dotnet sdk Microsoft.Build.dll file version: 15.3.246.41955

/cc @nigurr @eerhardt Do y

[2017-09-07 09:59] lukemcnally commented on #5029
It may be helpful to know that I experienced the same 401 auth error when trying to restore packages from the internal TFS NuGet server on a mac build agent. This happens with NuGet Command task and NuGet Restore task, which I guess suggests the issue is with the common authentication implementation, rather than the preview NuGet Command task itself.

[2017-09-07 10:44] dbtfsbre commented on #5095
@nigurr Windows file copy does not work on this same machine. The reason behind should be that it uses Robocopy and we provide something like ".\username" as Admin login name. Robocopy does not accept this, it needs a domain. Our test machines all have different machine names, so I can't provide a domain.

The credentials which I provide to "Visual Studio Test Agent Deployment" are the admin crede

[2017-09-07 11:23] KrishnaAdityaB commented on #2398
@NicolasRiou Are you facing the issue exactly as mentioned by Bunty-Thakkur?
If yes, can you share you visualstudio.com account name?
If no, can you share the screenshots like Bunty-Thakkur did.

You can mail the details to RM_Customer_Queries at Microsoft.com.

[2017-09-07 11:56] IvanAlekseev commented on #1607
@davidebbo what is a current state of this issue? It is really annoying

[2017-09-07 12:12] grantwar commented on #5164
@Mardoxx Thanks for posting the workaround to this, much obliged.
VSTS team, when can we expect a bump to the nuget task to use >=4.3 of nuget?

[2017-09-07 15:27] eerhardt commented on #5205
It looks like the test is using a resource that looks like:

[code]

This uses `System.Windows.Forms`, which is not a supported on .NET Core.  When building using `dotnet build|run|test`, MSBuild is running on .NET Core and can only load assemblies that work properly on .NET Core.  When building in VS or using `msbuild.exe` on Windows, MSBuild is running on the full .NET Framework, which can load

[2017-09-07 15:39] JuanZamudioGBM commented on #5205
@eerhardt do you know how do I avoid this? This is a new project started from scratch in VS2017 and.net core 2 and I created the Resx file from within VS2017.

Checking my resource files all have this

[code]

[2017-09-07 15:52] davidebbo commented on #1607
@IvanAlekseev The fixed ANCM @pan-wang's refers to is fully deployed. So if you are still running into issues, it is likely something different, and it may be best to open a new issue.

[2017-09-07 16:17] IvanAlekseev opened #5259 "Azure App Service Deploy fails for .net core 2.0 with ERROR_FILE_IN_USE"
I am trying to deploy an Asp.Net Core 2.0 web app to Azure App Service and receive this error
[code]

I've tried some workarounds from similar issue without any luck https://github.com/Microsoft/vsts-tasks/issues/1607

Any ideas on what should I do to fix this?

[2017-09-07 16:27] eerhardt commented on #5205
I've opened https://github.com/dotnet/sdk/issues/1568 for this issue.  This issue can be closed as a dupe.

@JuanZamudioGBM - I'm not exactly sure what those `reader` and `writer` nodes are actually used for.  But I think you can ignore them.

I know we've tested pure string resources.  Here is an example in our tests:

https://github.com/dotnet/sdk/blob/master/TestAssets/TestProjects/KitchenSink/

[2017-09-07 16:59] MassicotteB opened #5260 ".Net Core (Preview) Foreach is undefined"
When saving a new build definition with a single task
".Net Core (Preview)" version 2.* (Preview)
I get the following error message. It works fine with version 0.*
This also breaks the build definition, when I try to edit, the webpage is blank.

Cannot read property 'forEach' of undefined
TypeError: Cannot read property 'forEach' of undefined
    at t.<anonymous> (http://MyHostname/tfs/_public/_Bu

[2017-09-07 20:48] iyerusad commented on #4971
@chrisrpatterson

Alas, unless I am mistaken, this breaks ability to use data retrieved from `Azure Key Vault` task. Actually using `inline script` **appears to break all capability to retrieve ANY secret variables**.
1. Use `Azure Key Vault` task to pull down a vault.
![image](https://user-images.githubusercontent.com/25647368/30184005-a8f2bddc-93d9-11e7-9dc8-f183cf8cc43d.png)
2. Attempt to refer

[2017-09-07 21:49] Rabadash8820 opened #5265 "Use Multiple Package Feeds in .NET Core Restore Task"
I have a build definition and several package feeds in the same VSTS account, and I would like to use these package feeds in the build's .NET Core Restore task.  I am using the 2.* preview version of the Restore task, but unfortunately it looks like only one feed can be selected at a time in the Task UI (see screenshot below).  We can of course add multiple feeds to a nuget.config file, but this i

[2017-09-07 22:30] JuanZamudioGBM commented on #5205
@eerhardt Thanks, that worked

[2017-09-07 22:30] #5205 closed

[2017-09-07 23:20] yorhpokie commented on #5209
@nigurr All of our test cases have unique test method.  This issue only happens if a .testsettings file is specified in the Run Functional Test task, even when the .testsettings file is mostly empty.  Please investigate further.  This is blocking us from moving to the test infrastructure in TFS 2017, especially considering MTM will be deprecated in TFS 2018.

[2017-09-07 23:36] eschrader commented on #5117
Awesome, that worked for me!

From: ericsciple [mailto:notifications@github.com]
Sent: Wednesday, August 30, 2017 11:46 AM
To: Microsoft/vsts-tasks <vsts-tasks@noreply.github.com>
Cc: Eric Schrader <Eric@eschrader.com>; Manual <manual@noreply.github.com>
Subject: Re: [Microsoft/vsts-tasks] Copy Filter is not being honored on FTP Task (#5117)

if a workaround is needed, the copy files task can be u

[2017-09-08 03:27] Itfly opened #5266 "VS build failed because nuget restore task install packages into a wrong location"
I set the repositoryPath with a relative location (.\packages) in nuget.config wich is under my code base's root path. It can restore/build in visual studio 2017. However, it failed in vsts build task because it can not locate the packages.

The reason is that NuGet restore install would copy the nuget.config to a tempory file then run the restore command which cause the repository path is not rel

[2017-09-08 03:32] iyerusad commented on #5125
**Workaround:** Use Linux Agent

Linux hosted agent doesn't (currently) ship with AZ CLI installed, but if you can install it you will find the AZ CLI task on the linux agent uses the bash shell interpreter:
![image](https://user-images.githubusercontent.com/25647368/30194942-8b6e1e70-9413-11e7-9afa-b30697ee8a49.png)

AZ CLI/python needs to be installed on Linux hosted agent (thanks, @davidobrien1

[2017-09-08 04:38] vincentdass commented on #5259
@IvanAlekseev , Can you please share the full logs for the release?

[2017-09-08 04:51] nigurr commented on #5209
@yorhpokie We are happy to help you on this and help you to migrate. Can you please raise support ticket with Microsoft Customer Service? Please let me know if you need any assistance regarding the same.

[2017-09-08 06:30] KrishnaAdityaB commented on #5218
@mayeager22 reopening the issue to investigate further.

[2017-09-08 08:25] ratrakapil commented on #5174
We will investigate this issue and get back by Monday. Thanks for details.

[2017-09-08 08:53] kalin-toshev commented on #5213
Let me provide a bit more information.

In order to reproduce the problem, it's critical to allow DTAExecutionHost.exe to 'cache' the HKEY_CURRENT_USER (HANDLE) in the process (during startup) *before* the user hive is unloaded. In our case, this would happen during process startup here (from ETW trace) -

[Root]
  ntdll.dll!_RtlUserThreadStart
  ntdll.dll!__RtlUserThreadStart
  kernel32.dll!BaseT