[2020-11-18 14:07] phasmatic2k commented on #13746
Any update on this ?

[2020-11-18 14:49] DaniilShmelev commented on #13853
Hi @cawoodm!

I think I've found the cause of this issue: ENV variables can't contain lowercase letters, so your variable JAVA_HOME_8_x86 is invalid. So the fix is to run:

`export JAVA_HOME_8_X86=/etc/alternatives/jre_1.8.0_openjdk/`

Our task's debug message includes 'jdkArchitectureOption' input without transforming it to uppercase, which might have confused you. I'm going to roll out a little

[2020-11-18 15:17] GerryWilko commented on #13746
@ammohant Is someone looking into this? This only seems to affect Docker builds on Windows machines and is extremely frustrating. Its a month since I opened this issue and I provided all the information that you guys need to look into it.

[2020-11-18 15:45] ds-ms commented on #13746
@ajinkya599 could you take a look?

[2020-11-18 16:04] chris-codeflow opened #13921 "Authoring documentation for the logging command task.setvariable is missing details for the isOutput property"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: N/A

## Environment
N/A

## Issue Description
The documentation for the [Logging command](https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/authoring/commands.md) is missing details for the `isOutput` property.

### Task logs
N/A

## Troubleshooting
N/A

### Error logs
N/A

[2020-11-18 17:11] TekuSP commented on #12727
Okay, then why TAB IS STILL THERE?
![image](https://user-images.githubusercontent.com/13198444/99563341-726f6380-29c9-11eb-804d-8e2929e38835.png)
If this is a feature which is not implemented, remove the whole TAB.
@shashban

[2020-11-18 17:32] android-dataticket commented on #10574
ok so - when I change the gradle plugin version in the app level build.gradle file from 4.1.1 to 4.0.0, it builds successfully....

how weird.. because I'm still using gradle 6.5.. and gradle plugin 4.0.0 says it needs gradle 6.1.1 to run...  but all I did was change the gradle plugin to 4.0.0 and left the gradle version at 6.5 and it built/zipaligned successfully...

again just to reiterate, the

[2020-11-18 17:43] pierowman opened #13922 "HelmDeploy not able to find chart using search pattern in yaml deploy stage"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadArtifact or HelmDeploy

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
https://de

[2020-11-18 18:27] aleksandra-majchrzak commented on #13863
@anatolybolshakov you were right. I found this issue report https://issuetracker.google.com/issues/162117652
It seems that in the latest Gradle release the apk is built using a new library (`zipflinger`) which automatically alignes the apk, and `zipalign` fails when trying to align the apk that is already aligned (zipalign verification returns success on the initial apk)...
This sounds really stra

[2020-11-18 18:31] aleksandra-majchrzak commented on #10574
@android-dataticket there already is an issue reported: https://issuetracker.google.com/issues/162117652
It seems that zipalign is not needed anymore.

[2020-11-18 18:38] android-dataticket commented on #10574
cheers to this, thank you very much, this thread was enlightening!

[2020-11-18 19:04] J3remyD commented on #12593
Same here ! It's really blocking us for quality monitoring :(

[2020-11-18 20:22] BlairMcc commented on #13895
We've starting seeing this error the last few days, our own build VM does not yet have the lastest VS Build Tools / .Net 5.0 installed

[2020-11-18 21:08] RobertoBorges commented on #13797
Sample problem here, the ARM deployment happens fine, no errors detected.

[2020-11-19 00:31] yuriy1337 opened #13924 "UniversalPackages task doesn't have file-filter option"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: UniversalPackages task doesn't have file-filter option

list here (V# not needed):
hhttps://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/UniversalPackagesV0

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure Pipelines, internal

- Agent - Hosted or Private:
    Private, Windows OS

## Issue Descr

[2020-11-19 06:08] #11424 closed

[2020-11-19 06:48] 20shivangi opened #13925 "AzurePowerShellV5 task doesn't failure on non-zero exit code when using filescript in Azure Devops Services"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-11-19 06:59] suyash691 commented on #13791
That is not a requirement but some of the customers facing this issue said that this fixed their problem so I just suggested that as a workaround.

Also I tried reproducing this issue on a onprem setup without test plans and I was unable to.
I would need more information from you regarding the onprem setup. Was it a fresh onprem install? or was it an upgraded server? If so from which version was t

[2020-11-19 09:15] #12644 closed

[2020-11-19 09:41] Liran-Dobrish commented on #13863
Then how can i validate that the APK is aligned?

[2020-11-19 09:42] aleksandra-majchrzak commented on #13863
@Liran-Dobrish I believe you can run zipalign with `-c` flag, like this: `zipalign -c -v 4 /path/to/app-release.apk`

[2020-11-19 10:36] Ragamabhilash commented on #12932
I saw this on 20th Oct and again today, on 19th Nov.

[2020-11-19 11:00] XristophD commented on #13380
I also do have issues here that seems to be related:
Secrets with the following format are being shortened:

Secret: aaaa$bbbbb@!c#cc
Value returned: aaaa@!c#cc

Seems like $bbbbb is shortened away.

[2020-11-19 12:08] sandupetrasco commented on #13380
@XristophD, indeed, we also found out the issue with the dollar sign ($). It looks like the Azure Key Vault task is, somehow, parsing the output.
In order to solve that, we managed to come with a .yml template solution, that has a `AzurePowerShell` task that uses the `Set-AzKeyVaultAccessPolicy` and `Get-AzKeyVaultSecret` commands to have access to the Azure Key Vault and extract all the info. The

[2020-11-19 12:50] shigupt202 commented on #13910
@Heisenberg74 You can ignore the warning. This is something that the task is doing to collect metadata which will be used for better customer experience eventually.

[2020-11-19 13:27] aafnan10 opened #13931 "Gradle build in Azure Devops Failure"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Gradle

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - Azure Pipelines

- Agent - Hosted or Private

[2020-11-19 13:29] aafnan10 commented on #13916
Is there any updates on this issue. I'm still facing it.

[2020-11-19 13:30] TheBishopOfSoho commented on #13916
Im having this issue too, and for some reason Im seeing much longer build times which I assume is related as nothing else has changed from builds before this.

[2020-11-19 13:34] aafnan10 commented on #13916
Yes, Gradle builds are taking longer time than expected.

[2020-11-19 14:44] EzzhevNikita commented on #13931
@aafnan10 Could you please provide some additional logs:
* Run pipeline with enabled diagnostics ([Here](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#configure-verbose-logs) the info how to enable this option)
* Pass '--debug' option to the [Options ](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/gradle?view=azure-devop

[2020-11-19 14:55] opticyclic commented on #4127
MS Support have clearly just copied that response from the comments here rather than doing any actual investigation or trying to fix it.

[2020-11-19 15:53] arvenil commented on #6739
Except DownloadPipelineArtifact doesn't work for me for some magical reason, and the only way we have is to use Build Artifact 🤦

[2020-11-19 18:07] #12904 closed

[2020-11-19 18:08] Heisenberg74 commented on #13910
Hi @shigupt202 ,

Thank you for your answer but it is something disturbing while checking our pipelines status.

Orange lines are something we don't want to see 😀

Do you think this issue can be solved ?
Or at least, can we disable metadata collect ?

Thanks

[2020-11-19 20:31] ljani commented on #13791
It was updated in-place from Azure DevOps Server 2019 Update 1.1 Patch 5 to Azure DevOps Server 2020.

But as said, my problem was somehow fixed, feel free to close this issue, if I'm the only one who experienced this.

[2020-11-19 20:49] aressler38 commented on #13914
This is happening to me too. I confirm, it is also happening with the 1.175.2 version. I have a previous run on version 1.175.1 that *worked*, so something broke in 1.175.2.

[code]

[2020-11-19 21:18] ryanrodemoyer commented on #13858
As of today we abandoned the Visual Studio Test task in favor a direct call to powershell.exe and nunit3-console.exe.

[2020-11-19 21:18] #13858 closed

[2020-11-19 22:06] illay1994 opened #13934 "Tasks/KubernetesManifestV0 Fail on run"
## Note

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Can't run task on linux

https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

    - https://coopitdevelopment.visualstudio.com/coop-self-checkout/_bu

[2020-11-19 22:08] illay1994 commented on #13934
I think it is related to commit
https://github.com/microsoft/azure-pipelines-tasks/commit/dd0d2b0d936fe44821f202e4fd34dd5fdf438b4d

[2020-11-19 22:10] MatthiasNistl commented on #13914
Can confirm this issue with version 1.175.2. Earlier pipeline runs with version 1.175.0 worked fin, now I'm running into the same error messages.

[2020-11-19 22:18] illay1994 commented on #13934
Look like fixed in PR
https://github.com/microsoft/azure-pipelines-tasks/pull/13915
Please release to  prod

[2020-11-20 02:11] davidmw opened #13935 "AzureFileCopyV4 has modified destination path"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFileCopyV4

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
     Account: become-education/Development  Release for AccountsCenter-CD > Release-154

## Issue Description
Destination path for file copy into storage account b

[2020-11-20 04:14] qin-guan commented on #10969
just got the same issue today as well

[2020-11-20 04:48] shigupt202 commented on #13910
I'll discuss this within the team.
@anraghun @ds-ms Can we introduce a boolean field to disable the metadata collection step?

[2020-11-20 05:10] suyash691 commented on #13791
Ok. Thanks for confirming

[2020-11-20 05:11] andyhammar commented on #11013
Also having this problem, getting this in a Release pipeline just as @aodj
Thanks @owenhuynMSFT

[2020-11-20 05:36] ds-ms commented on #13934
The release for this fix is in progress. 😄

[2020-11-20 05:42] ds-ms commented on #13910
@shigupt202 I'd suggest let's hotfix this today if the deployment hasn't reached all the rings yet and we'll deliberate on the future of this feature in a separate conversation offline. What say?

[2020-11-20 05:43] ds-ms commented on #13910
There's already a boolean at the project level for disabling this; don't you think that should suffice?

[2020-11-20 05:47] shigupt202 commented on #13910
I'm not sure if that controls this part of the code. I'll explore that option.

[2020-11-20 07:48] abeggchr opened #13937 "CacheV2 task fails with: "API resource location ... is not registered on ...""
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: CacheV2

## Environment
- Azure DevOps Server 2020 (Product version 18.170.30525.1)
- Self hosted agents on Windows in version 2.170.1 (7-zip and GNU Tar in path)

## Issue Description

The CacheV2 task fails with the following error: "API resource location ... is not registered on ..."

1. The first question is: Is this task ev

[2020-11-20 08:16] bvdwalt commented on #13342
I also have this probelm, I'm using a private GitHub repo, but I have the GitHub Connection set properly on the Download GitHub Release task in my Azure build Pipeline.

Mine also just shows this:
Downloading assets of release 'v1.0.0' from: https://api.github.com/repos/***/***/releases/***/assets
Total Files: 0, Processed: 0, Skipped: 0, Failed: 0, Download time: 1.009 secs, Download size: 0Bytes

[2020-11-20 08:21] adamconnelly commented on #13914
I can confirm this as well. I've managed to work around the problem by explicitly pinning the task to an older version, like this:

[code]

I can also confirm that both 1.175.0 and 1.175.1 work correctly, but 1.175.2 doesn't. The strange thing about it is that from looking at the commit history, it looks like the only thing that changed between 1.175.1 and 1.175.2 was the version number being bump

[2020-11-20 08:30] adamconnelly commented on #13062
It looks like the change in https://github.com/microsoft/azure-pipelines-tasks/pull/13861 to quote the path to the ReportGenerator.dll causes this task to break on Linux agents. I've added a full description of the problem here: https://github.com/microsoft/azure-pipelines-tasks/issues/13914#issuecomment-731019183.

Can this change be temporarily reverted until a fix that doesn't break the task ca

[2020-11-20 09:18] knom commented on #13914
+1 one!
I'm hitting this as well - on several of my projects...

Pinning of minor version wasn't something I was aware of..
So a good workaround for now..

Looking forward to a bugfix on this..

[2020-11-20 09:45] ShreyasRmsft commented on #13062
@adamconnelly yes. We will try and patch this immediately.

[2020-11-20 09:49] ShreyasRmsft commented on #13914
We will try and patch this immediately.

[2020-11-20 09:49] dkstringer commented on #13914
I have observed the same bug. Most of my pipelines are using vmIImage: ubuntu-latest, and they all have the same error.

I have just seen a pipeline using vmImage: windows-latest work correctly with the exact same PublicCodeCoverageResults@1 (v1.175.2) task.
It successfully located the file D:\a\_tasks\PublishCodeCoverageResults_2a7ebc54-c13e-490e-81a5-d7561ab7cd97\1.175.2\netcoreapp2.0\ReportGene

[2020-11-20 11:47] anatolybolshakov commented on #13863
@aleksandra-majchrzak ok, thanks for reference!
@Liran-Dobrish could you please check if it works for you? We could also add this as an enhancement for zipalign task - to allow it to run in verification mode only

[2020-11-20 13:12] #13791 closed

[2020-11-20 13:13] #13297 closed

[2020-11-20 13:15] HasaMatej commented on #10969
Seen today as well

[2020-11-20 13:23] shigupt202 commented on #13934
The fix has been deployed.

[2020-11-20 13:23] #13934 closed

[2020-11-20 13:40] egor-bryzgalov commented on #13914
@dkstringer @adamconnelly @knom @MatthiasNistl @aressler38 @trangevi
Hi everyone!

Thank you for the information you've provided!
The fix was applied. Could you please confirm that it works fine for you at the moment?
The fixed version is `1.178.0`.
Thank you!

[2020-11-20 13:41] cawoodm commented on #13853
Cool, thanks. I think I copy-pasted that code from somewhere.

[2020-11-20 13:41] #13853 closed

[2020-11-20 13:56] algarciatech opened #13943 "Azure Pipelines hosted agents have been updated to contain .Net Core 3.x (3.1) SDK/Runtime along with 2.1."
![image](https://user-images.githubusercontent.com/74774814/99807312-41ad3c80-2b37-11eb-9a52-3da59adcb97c.png)

Hello, I am trying to make automatic deployments our portal is in .net core 2.2 but when I install it I get the following error

![image](https://user-images.githubusercontent.com/74774814/99807274-30fcc680-2b37-11eb-8ec9-43fd9ba499c1.png)

I have tried applying the global.json to apply

[2020-11-20 15:09] aressler38 commented on #13914
Thanks @egor-bryzgalov. I can see it working now in 1.178.0.

[2020-11-20 15:10] egor-bryzgalov commented on #13914
@aressler38
Thank you!
Closed this issue as resolved. Please feel free to reopen if you have any issues.

[2020-11-20 15:10] #13914 closed

[2020-11-20 15:45] IronSean commented on #12224
I'm also using 4.5 as a .Net framework version and experiencing this issue. Unfortunately, I can't update the framework version right now, but it only just became an issue in the past month. Surely something else has changed too?

[2020-11-20 16:26] trangevi commented on #13914
I confirmed it's working for me now as well. Thank you for the quick turn around!

[2020-11-20 18:16] mattgrande commented on #13178
@WardenGnaw - I'm getting this intermittently on one of my repos. Did you ever figure out why it was happening?

[2020-11-20 18:27] ankushbindlish2 opened #13944 "DotNetCoreCLI dotnet pack task with /p:OutputPath"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-11-20 18:39] adamconnelly commented on #13914
Me too - thanks for getting it sorted so quickly!

[2020-11-20 19:11] ErniepDev commented on #13111
I'm also experiencing this issue and have attempted the workaround (nothing in slot setting in the task), but no luck.

Is there a different fix for this?

[2020-11-20 19:43] WardenGnaw commented on #13178
For us, we worked around the issue by rebuilding/redeploying machine and it has not gotten into that state for a while.

However, we think the issue should be there because it does not stop `nuget` before overwriting its own DLLs.

[2020-11-20 21:46] armanik11 commented on #13944
I'm not quite sure but can you try this?

  arguments:
            -OutputPath $(ServicesBuildOutput)

[2020-11-20 23:40] illay1994 commented on #13934
@ds-ms and @shigupt202 Thanks

[2020-11-20 23:56] iansul opened #13945 "PublishTestResults V2 task: What is the best way to report on retried tests"
## Required Information
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**:
PublishTestResultsV2

## Environment
Server

## Issue Description
I'm publishing a "hand-rolled" NUnit v2 results file, that my custom testing tool generates.

When a tests fails, after retry, the results file contains multiple \<failure\> elements under the \<test-case\> element, one for each failed atte

[2020-11-21 18:07] #12817 closed

[2020-11-21 18:23] ddivanshu commented on #13780
@dirkslab I think you are trying to deploy from azure powershell and not arm pipelinetask. Could you reach out https://github.com/Azure/azure-powershell for this.

[2020-11-21 19:29] anatolybolshakov commented on #13916
Hi @TheBishopOfSoho @aafnan10 could you please share your logs in debug mode?

[2020-11-21 23:16] shoter opened #13946 "Azure App Service Deploy overwrites content of wwwroot with old version of application"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure App Service deploy (v4.*)

## Environment
Azure DevOps (hosted agent)
Agent - Private Windows NT 2.170.1
## Issue Description

Issue is very similar and started as this one https://github.com/microsoft/azure-pipelines-tasks/issues/11661

When I started developing pipeline for our project I needed to deploy 2 web apps on 1 app s

[2020-11-21 23:51] Justin-DynamicD opened #13947 "HelmDeploy@0 requires connectionType defined when using envrionment resources that are not AKS"
## Required Information

When using an en envrionment role that points to a generic kubernetes cluster (tested with AWS EKS), HelmDeploy@0 will require you to declare the `ConnectionType`.  According to all documentation, this should be unnesisary as the resource already contains this information.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy@0

## Environment
- Serv

[2020-11-22 00:20] #10281 closed

[2020-11-22 00:20] #10101 closed

[2020-11-22 00:20] #9021 closed

[2020-11-22 00:20] #8914 closed

[2020-11-22 00:20] #8737 closed

[2020-11-22 00:20] #8885 closed

[2020-11-22 00:20] #8730 closed

[2020-11-22 00:20] #8511 closed

[2020-11-22 00:20] #8415 closed

[2020-11-22 00:20] #8338 closed

[2020-11-22 00:20] #7559 closed

[2020-11-22 00:20] #7550 closed

[2020-11-22 00:20] #7549 closed

[2020-11-22 00:20] #7492 closed

[2020-11-22 00:20] #7429 closed

[2020-11-22 00:20] #7390 closed

[2020-11-22 00:20] #7426 closed

[2020-11-22 00:20] #7268 closed

[2020-11-22 00:20] #7230 closed

[2020-11-22 00:20] #7174 closed

[2020-11-22 00:20] #7117 closed

[2020-11-22 00:20] #6942 closed

[2020-11-22 00:20] #6976 closed

[2020-11-22 03:07] #8240 closed

[2020-11-22 03:07] #8085 closed

[2020-11-22 03:07] #8025 closed

[2020-11-22 03:07] #7887 closed

[2020-11-22 03:07] #7795 closed

[2020-11-22 03:07] #7844 closed

[2020-11-22 10:44] aafnan10 commented on #13916
[3_Build Automation Test.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5579327/3_Build.Automation.Test.txt)
Gradle build logs in debug mode.

[2020-11-22 11:09] Heisenberg74 commented on #13910
Hi,

Could you tell me where is this setting ?

Thank you

[2020-11-22 11:15] Marco-Santoni commented on #12958
Comment to keep the issue open.

[2020-11-22 14:05] kingjan1999 opened #13948 "FileTransform task doesn't work with absolute paths for -transform parameter"
##  Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  FileTransform

## Environment
- Server: Azure Pipelines, [example build / project](https://janbeckmann.visualstudio.com/Test%203/_build/results?buildId=24&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9)

- Agent -

[2020-11-22 15:21] ddivanshu commented on #13807
@andrejpk let me know if we are good to close on this.

[2020-11-22 16:02] andrejpk commented on #13807
Hey sorry, missed this notification.. I'll try it out this week!

[2020-11-22 18:07] #9302 closed

[2020-11-22 18:18] StephenHodgson opened #13949 "[Improvement] PipelineCaching: provide a mechanism to upload and download cache at specific times"
*Type*: Feature, Improvement

**Enter Task Name**:  Cache@2, Azure Pipelines

## Issue Description

My job processes many build variations, but bc of the software I'm using the cache is located in the same folder for each platform I'm building to. I'd like to have a mechanism to trigger when the post build cache event uploads the cache.

for example:

[code]

[2020-11-22 19:09] JamesHough commented on #11649
I had the same error message as the OP.

The only way that I could get it to work was to force the generation of a new token using the `-f` flag.  I didn't delete any files or change the registry at all before running.  If you are only downloading packages from your private npm on Azure DevOps, then the token can be read-only, you don't need a full access token.  Read-only worked for me.

I used t

[2020-11-23 00:02] marcelopontipedra commented on #8812
Just do the same thing I've done. I hope Microsoft will allow this feature soon so we will do this alternative solution.

[2020-11-23 00:20] #6816 closed

[2020-11-23 00:20] #6681 closed

[2020-11-23 00:20] #6445 closed

[2020-11-23 00:20] #6634 closed

[2020-11-23 00:20] #6425 closed

[2020-11-23 00:20] #6245 closed

[2020-11-23 00:20] #6231 closed

[2020-11-23 00:20] #4283 closed

[2020-11-23 00:20] #4129 closed

[2020-11-23 03:07] #6748 closed

[2020-11-23 03:09] drdamour commented on #6364
Stale but important

[2020-11-23 04:34] AmrutaKawade commented on #13243
Closing this issue due to inactivity.

[2020-11-23 04:34] #13243 closed

[2020-11-23 04:37] AmrutaKawade commented on #13888
@N-Usha can you look into this enhancement request?

[2020-11-23 04:59] tejasd1990 commented on #13895
Hi @pakrym , are you still getting this error? Does it occur always, or is it intermittent? Can you share the debug logs of a failure scenario, so that we can investigate?

[2020-11-23 06:03] jmalak commented on #6364
It was already resolved by adding note in artifact documentation that permission are not preserved due to Windows filesystem.
Don't expect any solution. It works as designed. Nice way how to fix problem 🥇

[2020-11-23 07:34] Liran-Dobrish commented on #13863
@anatolybolshakov i verified and the the file was aligned after "assemblyrelease".
adding a verification switch is a good idea

[2020-11-23 07:34] #13863 closed

[2020-11-23 07:45] AmrutaKawade commented on #13885
Currently only Run from package deploy using url is supported for Linux Function apps running on consumption plan.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-technologies#external-package-url

[remote builds ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-technologies#remote-build-on-linux) are not supported currently in task.

As Fun

[2020-11-23 08:06] AmrutaKawade commented on #13935
@davidmw AzureFileCopy4 uses azcopy v10 module vs v7 module in AzureFileCopy3. For task version 4 you can set source as `D:\a\r1\a_AccountsCenter-CI\drop\*` which will copy contents instead of whole directory

[2020-11-23 08:40] Timo-Weike opened #13952 "Error running NuGetToolInstaller@0"
*Type*: Bug

**Enter Task Name**: NuGetToolInstaller@0

## Environment
Azure Pipeline on a Microsoft hosted agend `Image: windows-2019`

## Issue Description

The NuGetToolInstaller@0 task seams brocken to me running it with the yaml `- task: NuGetToolInstaller@0` gives the error
[code]

The last time it worked for us was on the 12. November with the task version `0.174.0`

I would think that the

[2020-11-23 08:42] loicwolff commented on #13746
@GerryWilko Did you find a workaround for this? We've also been having this issue quite a few times in the last month or two.

[2020-11-23 08:55] shigupt202 commented on #13910
The setting is present in Project Settings > Pipelines > Settings > Publish metadata from pipelines.

[2020-11-23 08:55] cawoodm commented on #8812
You mean releasing with a "build" pipeline? There are pros and cons to doing this. Personally I like a code (yaml) approach and dislike the drag&drop approach but releases are integrated into the whole DevOps experience and dropping them drops some interesting functionality.

[2020-11-23 08:58] johanclawson commented on #13893
Any updates? This is a showstopper for us as well and we´re not able to change the stack after deploy (linux web app). Does it exist any workarounds like instead setting the linuxFxVersion in the configuration?

[2020-11-23 09:13] phasmatic2k commented on #13746
Probably not the best workaround, but I added a powershell task that deletes this folder before that failing task. Works for me until it's fixed properly.
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'Remove-Item -LiteralPath "C:\agent\_work\_temp" -Force -Recurse'
            errorActionPreference: 'continue'

[2020-11-23 09:17] dirkslab commented on #13780
both powershell and azure arm pipeline same result.

[2020-11-23 09:18] dirkslab commented on #13780
@ddivanshu powershell and arm template pipeline same result. easily testable by using supplied templates above.

[2020-11-23 10:02] GerryWilko commented on #13746
@loicwolff No unfortunately not. Its strange its so sporadic. Seems to be no rhyme or reason for it.

@phasmatic2k Problem is at least for me this folder doesn't exist at the start of the Docker Build and Push task. It seems to be created and errors within the same task.

[2020-11-23 11:31] Heisenberg74 commented on #13910
Thanks

[2020-11-23 11:37] komoreka commented on #1102
+1

[2020-11-23 11:57] rcomanne opened #13954 "Unexpected behaviour in finding Dockerfile"
## Required Information

**Question, Bug, or Feature?**
*Type*: Question or a bug

**Enter Task Name**:

- Docker@2

## Environment

Agent on custom build agents, running version 2.175.2 on Ubuntu 16.04

## Issue Description

When providing the Dockerfile argument on a docker build task, it uses an incorrect pattern when including the `$(System.DefaultWorkingDirectory)` variable, causing the build

[2020-11-23 12:14] AmrutaKawade commented on #13902
@error0327 Container name has some limitations as mentioned below thats why we convert it to lower case.

`This name may only contain lowercase letters, numbers, and hyphens, and must begin with a letter or a number. Each hyphen must be preceded and followed by a non-hyphen character. The name must also be between 3 and 63 characters long.`

You can pass container name as `test` and then in blob p

[2020-11-23 12:23] AmrutaKawade commented on #13893
@johanclawson we use https://docs.microsoft.com/en-us/rest/api/appservice/provider/getavailablestacks to list available runtime stack. and this version of .Net is not available in this API response currently. but you can manually type required runtimestack dropdown is editable.

[2020-11-23 12:59] phasmatic2k commented on #13746
@GerryWilko :  You can split the docker build and push tasks into two separate tasks, then add the powershell delete command in between: ex:

        - task: Docker@2
          displayName: 'Build docker image'
          inputs:
            containerRegistry: $(dockerEndpoint)
            repository: '$(repository)'
            command: 'build'
            Dockerfile: '$(dockerFile)'
            b

[2020-11-23 13:35] rcomanne commented on #13954
Seems like this is due object parameters overwriting instead of merging.

[2020-11-23 13:35] #13954 closed

[2020-11-23 13:50] damccorm commented on #13904
Hey @kingwang-git this looks like an issue with the service, not a specific task. This repo is meant for issues/code for specific tasks, would you mind opening an issue at https://developercommunity.visualstudio.com/spaces/21/index.html - that will help get the right eyes on it.

[2020-11-23 13:50] #13904 closed

[2020-11-23 13:58] ddivanshu commented on #13877
Closing this issue, since user is no longer blocked. Feel free to reopen/create new issue for any other problem.

[2020-11-23 13:58] #13877 closed

[2020-11-23 14:06] ddivanshu commented on #13780
@dirkslab tested the above template with AzureResourceManagerTemplateDeployment task could not reproduce it.
steps:
- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'ARM Template deployment: Subscription scope'
  inputs:
    deploymentScope: Subscription
    azureResourceManagerConnection: 'xxxxxxx'
    subscriptionId: 'xxxxxx'
    location: 'Central US'
    csmFile: 'subscriptionde

[2020-11-23 14:07] GerryWilko commented on #13746
@phasmatic2k ahh yes good point! I forgot there were two separate tasks for this too.

I might implement your fix as MSFT don't seem to be too keen in fixing this problem...

[2020-11-23 14:12] dirkslab commented on #13780
Please can you clarify when you say you cannot reproduce the issue? Are you saying that if you go to the deployment output in the portal the secrets are not visible? I want to make sure we are aligned at what we are looking at. Please be as specific as possible.

my pipeline:
steps:
- task: AzureResourceManagerTemplateDeployment@3
  displayName: vault1
  inputs:
    deploymentScope: Subscription

[2020-11-23 14:14] dirkslab commented on #13780
I will also double check my deployment and give more detailed feedback

[2020-11-23 14:27] dirkslab commented on #13780
https://github.com/ddivanshu

please find attach. Screenshot of pipeline task.
json output from portal. Secret values all visible. This does not happen with resource group deployment, only subscription deployment.
[ExportedTemplate-demo01-dev-vault-core-we (1).zip](https://github.com/microsoft/azure-pipelines-tasks/files/5583593/ExportedTemplate-demo01-dev-vault-core-we.1.zip)
![2020-11-23_16-16-5

[2020-11-23 14:34] marksolbergerbjorkerot commented on #13935
Why has there been a change through commit 0e9c3c69d2e3c7be17b69dd27cb77f44ebf75e9b on Utility.ps1 where the destination path gets a "/" suffixed to it? This makes the copying of files to be made to a VD which is clearly a breaking change and thus rendering our core pipeline functionality to not work as expected.

[2020-11-23 14:38] temelj opened #13955 "Question - resolving the serviceUri"
I hope it is appropriate that I ask a very specific question.

I have looked at this function and observed (from our build pipeline for our organisation) that it always returns the older (legacy?) uri - https://tenant.visualstudio.com/ instead of the newer uri https;//dev.azure.com/tenant/

https://github.com/microsoft/azure-pipelines-tasks/blob/f596b2a08daf83574fea0861f7a4c76b3eda4fa7/Tasks/Commo

[2020-11-23 14:43] dirkslab commented on #13780
When deploying as Resource Group Images, expected behavior. Doing a good job at masking secrets.
![rsg-example-2020-11-23_16-37-02](https://user-images.githubusercontent.com/20906463/99975477-f4d19c00-2daa-11eb-867f-02316023ef6e.jpg)
![rsg-examples-2020-11-23_16-38-49](https://user-images.githubusercontent.com/20906463/99975491-fa2ee680-2daa-11eb-8ff6-bb1a036e5fc7.jpg)
![rsg-example-2020-11-23_16-

[2020-11-23 15:07] #12982 closed

[2020-11-23 16:16] pakrym commented on #13895
Yes, it's still occurring but the error is intermittent so unfortunately, I'm not able to repro it with debug logs enabled. I suspect you can reproduce it by stacking ~30 UseDotNet steps with 5.0 that install to different directories.

[2020-11-23 16:46] TomBonnerAtTFL opened #13956 "CI doesn't delete CodeSignSummary file correctly"
## Required Information

Type: Bug within your CI

Your CI has the step "Remove CodeSignSummary file from package folder" which as you can see [here](https://dev.azure.com/mseng/PipelineTools/_build/results?buildId=13677835&view=logs&j=9784995b-f699-5f68-c70b-00631acf7dd7&t=1ad8a498-d10d-5079-f8d5-b8b7ce9c5182) can fail silently.

This goes on to fail the CI in the "Stage milestone" step with: "Er

[2020-11-23 16:59] johnknoop commented on #10314
@RoopeshNair any idea if "environments" will eventually support Azure Webapp deployment slots as well?

[2020-11-23 19:02] mattgrande commented on #13178
I ended up bumping the timeout from (the default) 5s to 60s and haven't had another failure since, so hopefully that's all it needed?

[2020-11-23 20:14] ajinkya599 commented on #12342
@ankitkumarr Apologies for the delay in picking this up. I need some help to understand the right changes to make this task stable. In my understanding, there are two changes that are required. I have some questions regarding the same:

1. **Make `.../azure-functions-cli/gozip` executable in Linux env.**
- _This is required only for Linux, nothing to be done for Windows/MacOs?_
- _Will this binary

[2020-11-23 21:06] lehne commented on #13893
@johanclawson it looks like DOTNETCORE|5.0 is indeed the right one. That works for me. I had tried DOTNET|5.0 and it did not work.

[2020-11-23 22:47] ArieHein commented on #10314
environments is for VM Scale and K8s , why would you need that for slots when the actual deploy webapp task already supports slots ?
if you want to use WebApps for containers, then you dont need environments.

[2020-11-24 02:01] AmrutaKawade commented on #13935
@marksolbergerbjorkerot to make it consistent with V3 of task. VDs are not getting created in V4 of Task https://developercommunity.visualstudio.com/content/problem/1109500/azure-file-copy-task-drops-file-name-when-using-pr.html

[2020-11-24 02:29] chinaysun commented on #13897
Hey @EzzhevNikita

Thanks for reaching out. sorry for the late reply.

We eventually solved the problem by changing the Xcode version to 12.1.

Looks like there is some issue on running Xcode 11.7 on macOS 10.15 (which suppose to be the latest version).

[2020-11-24 03:07] #9761 closed

[2020-11-24 05:34] weng5e opened #13964 "[Jenkins Queue Job task] is not sending correct cromb header to Jenkins"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-11-24 05:35] weng5e commented on #13964
Please feel free to ping me for additional context: wuweng@microsoft.com

[2020-11-24 05:51] EzzhevNikita commented on #13897
As this issue was resolved for you, I'm closing this ticket.

[2020-11-24 05:51] #13897 closed

[2020-11-24 07:32] dirkslab commented on #13780
@ddivanshu please advice on your results.

[2020-11-24 07:48] johanclawson commented on #13893
Thanks for the response! Strange, I don't think "DOTNETCORE|5.0" worked for me - but it could be that I possible misspelled it (doh).. Anyway what finally worked for me was setting the linuxFxVersion to "DOTNETCORE|5.0" in a seperate release step after publishing the app as a DOTNETCORE|3.1 app.

[2020-11-24 10:54] BennyBread commented on #6587
Had the same Problem. Clearing the "Working directory" solved the problem.

[2020-11-24 11:00] BrahmmaK commented on #13719
@KiranManaguli-git1  Gentle reminder, can you please share the logs

[2020-11-24 11:14] AmrutaKawade commented on #13893
Great to hear that you are unblocked now. Closing this issue

[2020-11-24 11:14] #13893 closed

[2020-11-24 11:54] wasfree commented on #13910
Hi,
since we have updated to latest helm task version we get similar issue, see below:
[code]
As mentioned before this could be prevented by disabling Publish metadata from pipelines. But it's already disabled and we still see this warning.
![ados](https://user-images.githubusercontent.com/26707368/100090804-0b7ffd80-2e54-11eb-89f3-57a898afd455.png)

[2020-11-24 11:59] BassaForte commented on #12609
It seems the "Use .NET Core" task does not work at all. I added the task at the beginning of my pipeline to use dotnet core 3.1.403; the task passes, but it runs the following dotnet cli tasks with version 2.177.1. The weird thing is, my pipeline was working fine 3 days ago with no changes to dotnet version ¯\_(ツ)_/¯

[2020-11-24 12:19] Frederic-roamler commented on #13729
I had the issue with version 4, changing it back to v2 solved it for me

[2020-11-24 12:26] bishal-pdMSFT commented on #12609
@BassaForte @matthoulb this is a closed issue with [details ](https://github.com/microsoft/azure-pipelines-tasks/issues/12609#issuecomment-611728794)provided.

If you feel that such behavior is not good, please open a new issue and share more details/thoughts there.

[2020-11-24 12:29] BassaForte commented on #12609
Sorry, I should have included some vital information in my comment. I tried the global.json workaround, that also didn't work. My agent refuses to use any dotnet core version other than 2.177.1. I felt my issue was directly associated with this issue, and that's why I commented. People are obviously still having issues with the dotnet cli task, directly related to this issue, so maybe it should ha

[2020-11-24 12:32] Timo-Weike commented on #13952
Since it is reporting
[code]

as an error I think the problem is the version string from the msbuild program, which does not meet the syntax described by the [semver package](https://semver.org/#backusnaur-form-grammar-for-valid-semver-versions).

However I don't know why it now comes to problem regarding the version comparison, since it seams rather unchanged to me https://github.com/microsoft/az

[2020-11-24 14:40] ddivanshu commented on #13807
Closing this.Feel free to reopen if issue persists.

[2020-11-24 14:40] #13807 closed

[2020-11-24 17:29] radujipa opened #13968 "How to get a PR TargetBranch in YAML when using another pipeline as resource and trigger"
Hi!

I'm trying to figure out how to pass `System.PullRequest.TargetBranch` from one YAML pipeline to another when the first is triggered via a pull request. There doesn't seem to be any [pipeline resource variable](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/resources?view=azure-devops&tabs=schema#pipeline-resource-variables) for this.

Example:
 - [CI pipeline YAML](https://g

[2020-11-24 18:22] Heisenberg74 commented on #13910
Ok, so we should wait for a fix.

[2020-11-24 19:04] vikramdadwal commented on #9094
### Ok For me the following worked:

- **My Agent was ubuntu-20.04**

- **Changed Script Type to "Powershell Core"**

`I guess the reason it worked because Linux agent only support **core** version of **PowerShell**`

[2020-11-24 19:06] AtOMiCNebula commented on #13895
Looks like retries are being added for releases-index.json with #13923.

[2020-11-24 19:17] TianyuHou commented on #13703
Any updates on this issue? our project faced the same issue.
![image](https://user-images.githubusercontent.com/31544262/100140947-83472b80-2e46-11eb-8f6b-a80ed85efad7.png)
![image](https://user-images.githubusercontent.com/31544262/100141054-a4a81780-2e46-11eb-96d5-49669e0e763a.png)

[2020-11-24 19:54] remyjette commented on #12620
Hitting this too.

Looks like a similar issue for downloading packed was identified in #8934 for downloading p

[2020-11-24 20:26] ThadHouse commented on #13879
Is there any update to this? This have been broken for over 2 weeks with no response from the team.

[2020-11-24 22:25] chr0m1ng opened #13970 "List all CI variables"
Hi, I'm trying to list all my CI defined variables of the tab "variables" with a bash script but I couldn't find any information on how to, just to get the value of a specific variable.

Example:
At my Pipeline I have created these variables.

![image](https://user-images.githubusercontent.com/11679657/100158097-66344c00-2e8a-11eb-9e13-5212528f165f.png)

And at my bash script I wan't to iterate ov

[2020-11-25 01:09] fowl2 commented on #13952
Workaround: change `NuGetToolInstaller@0` to `NuGetToolInstaller@1`.

I can't seem to find any documentation about what the [difference](https://github.com/MicrosoftDocs/azure-devops-docs/commit/ab0df9f2623d73e17285c7e8b1b93bd88a2bd9ab) is. :/

[2020-11-25 06:19] jahead commented on #6364
@jmalak Maybe I've missed something in the history of this issue and the issues referencing this one. But no where was it communicated as resolved AFAIK or working as designed.

We have a workaround

Would suggest that there was the intent of at least the possibility supporting this natively.

Hopefully we get some feedback soon

[2020-11-25 07:08] jmalak commented on #6364
It should be resolved proper way, what I commented is Microsoft quick solution.
I am using my own solution that I encapsulate artifact into archive with permission and if I need it I restore it from archive (7z format on Windows and tar.gz on NIX).

[2020-11-25 07:27] ruankr commented on #13163
@AmrutaKawade I think this needs to be re-opened. We are using Task groups and Libraries and I can see the password in clear text every time. So I think this is only solved (maybe, haven't tried) for direct variables on the task.

Variable (Library):
![image](https://user-images.githubusercontent.com/63055439/100195536-6286e080-2eef-11eb-9b8e-7430ca022215.png)

Then within the Task group we specif

[2020-11-25 07:43] AmrutaKawade commented on #13163
can you tell me minor version of task which you are seeing in this run?

[2020-11-25 07:44] ruankr commented on #13163
@AmrutaKawade

2020-11-24T12:17:09.6386954Z ==============================================================================
2020-11-24T12:17:09.6387420Z Task         : Azure SQL Database deployment
2020-11-24T12:17:09.6387819Z Description  : Deploy an Azure SQL Database using DACPAC or run scripts using SQLCMD
2020-11-24T12:17:09.6388174Z Version      : 1.171.5
2020-11-24T12:17:09.6388475Z Author

[2020-11-25 08:10] ajinkya599 commented on #13746
It'w weird that this issue is intermittent. 🤔
@GerryWilko @phasmatic2k Can you please share the debug logs to help identify the exact place where the issue is (to generate debug logs, add the variable `system.debug` with value `true` in your pipeline).

[2020-11-25 08:23] AmrutaKawade commented on #13163
Fix is in 1.178.0 minor version. Here is PR https://github.com/microsoft/azure-pipelines-tasks/pull/13728 wait till next week it will be deployed to your org

[2020-11-25 08:51] Rwing commented on #7518
Hi @liri2006,

I got same problem now. Is there any solution to solve it?

[2020-11-25 10:16] buckleyGI opened #13971 "cb() never called"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Npm

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

https://dev.azure.com/selligentsim/ES/_build/results?bui

[2020-11-25 11:13] maxim-lobanov opened #13972 "Track "ImageOS" variable to telemetry"
## Note
Some tasks track telemetry for inputs and usage.
They use different methods for that:
1) https://github.com/microsoft/azure-pipelines-tasks/blob/master/common-npm-packages/artifacts-common/telemetry.ts#L10
2) https://github.com/microsoft/azure-pipelines-tasks/blob/master/common-npm-packages/java-common/java-common.ts#L147
3) https://github.com/microsoft/azure-pipelines-tasks/blob/master/co

[2020-11-25 11:19] maxim-lobanov opened #13973 "Track additional environment variables for Java tasks"
## Note
Currently, there are a bunch of tasks that you `javacommon` to publish telemetry:
- https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/ANTV1/anttask.ts#L233
- https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/GradleV2/gradletask.ts#L152
- https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/MavenV2/maventask.ts#L114
- https://github.com/

[2020-11-25 15:28] sopelt commented on #13935
We are facing a similar issue where blob prefixes are handled differently between 4.175.4 and 4.175.4:

As a disclaimer ... we might have been using the task a bit strange/wrong in the first place but nevertheless the behavior changes and our build/release broke.

We had roughly the following settings:

[code]

which previously resulted in

`& "AzCopy\AzCopy.exe" copy "D:\a\1\a\OData\OData.Web.zip

[2020-11-25 16:09] bishal-pdMSFT commented on #12609
Can you please share the pipeline yaml/json to understand better of how you are using the tasks. Also, specify whether you are using hosted or private agent.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chris <notifications@github.com>
Sent: Tuesday, November 24, 2020 5:59:56 PM
To: microsoft/azure-pipelines-tasks <azure-pipelines-tasks@noreply.github.com

[2020-11-25 16:16] BassaForte commented on #12609
This is my yaml. It's running on a private agent, and the step that is failing due to wrong .net core version is "Build Server".

`trigger:
- master

stages:
- stage: BuildAll
  jobs:
  - job: BuildAndroid
    steps:

    # Checkout (LFS)
    - script: git clean -ffdx -e "*/[Ll]ibrary/" -e "*/[Pp]ackages/" -e "*.sln" -e "*.csproj"
      displayName: 'Clean'
      condition: false
      continueOnE

[2020-11-25 16:16] damccorm commented on #13708
Hey @ihnorton - this is controlled by the image, not the task itself. I'm going to close here since https://github.com/actions/virtual-environments/issues/1740#issuecomment-708452336 is a more correct place for tracking this kind of issue

[2020-11-25 16:16] #13708 closed

[2020-11-25 16:22] damccorm commented on #9727
Hey folks, sorry this has sat so long without a response - it seems like it slipped through the cracks. With that said, this is probably not the best place to get attention for issues with cloning. The clone task exists on the agent itself - would someone mind filing an issue at https://github.com/microsoft/azure-pipelines-agent/issues? That will help get the right eyes on it

[2020-11-25 16:22] #9727 closed

[2020-11-25 16:24] damccorm commented on #9172
I'm going to close this issue since we are not planning on adding a task for this and I believe all questions have been answered. If there are any further issues with these APIs, please open a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html or open a docs bug at https://github.com/MicrosoftDocs/azure-devops-docs/issues/new

[2020-11-25 16:24] #9172 closed

[2020-11-25 16:26] damccorm commented on #11978
Hey @Chaouki-Tiouassiouine and @CKenrick sorry this slipped through the cracks - are you still experiencing this issue?

[2020-11-25 16:33] damccorm commented on #6219
I'm going to close this since it seems like the initial ask has been addressed. If there are further issues, please open a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html since this isn't a directly tasks related issue

[2020-11-25 16:33] #6219 closed

[2020-11-25 16:34] damccorm commented on #11527
Closing since there's no longer demand for this feature

[2020-11-25 16:34] #11527 closed

[2020-11-25 16:49] damccorm commented on #12928
Closing since it seems like the question has been answered

[2020-11-25 16:49] #12928 closed

[2020-11-25 16:51] damccorm commented on #10360
It looks like this request has been addressed so I'm going to close here. If this is still an issue I'd recommend opening a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html since this repo is mostly for tasks related issues

[2020-11-25 16:51] #10360 closed

[2020-11-25 17:04] jharlanhorn commented on #11435
We also have the same issue with our 2019 on prem and it is deeply frustrating and unfortunate.

[2020-11-25 17:45] Caiptain1 commented on #13632
@pradudev I had the same thing. I had reached out to support for ADO but they weren't very helpful. I basically drove the full process and figured out the cause of this.
### The findings
I came to the conclusion that if the VsTest task uploads the test results, your custom report being uploaded is ignored. When the VsTest task is uploading the test report to ADO, the coverage is an attachment to t

[2020-11-25 17:49] ds-ms commented on #13846
You should still be able to supply that as an input, especially because it's an editable dropdown. I'm sure it'll work.

Yes it is, but it still allows you to use the task like this:
![image](https://user-images.githubusercontent.com/25762922/100264308-abcd4380-2f74-11eb-87b3-e7636131d557.png)

I'm closing this issue for now, if you run into some issues while trying the same feel free to reopen it

[2020-11-25 17:49] #13846 closed

[2020-11-25 17:51] ds-ms commented on #13786
Closing this issue. If you still think this needs attention, feel free to reopen this.

[2020-11-25 17:51] #13786 closed

[2020-11-25 17:51] ds-ms commented on #13639
@Ganeshrockz could you take a look

[2020-11-25 17:51] Caiptain1 commented on #13632
P.S. Microsoft support said they won't do anything about it unless it gets community support on their developer communities. There was an idea raised some time ago to bring back the .coverage conversion directly in ADO: https://developercommunity.visualstudio.com/idea/366142/support-vstest-coverage-code-coverage-build-result.html
I asked my colleagues and some friends to give some support to the i

[2020-11-25 17:54] ds-ms commented on #13639
@JamesMiera / @josefschabasser I apologise for the delay.  This seems like a UI issue, for which as a work around, you could basically just change it to a different command which makes the input field visible, add your arguments and then switch back to your custom command after.

You should still be able to use `arguments` for custom commands in your YAML pipelines.

[2020-11-25 17:55] ds-ms commented on #13704
Closing this issue. Feel free to reopen this if you don't agree with my solution 😄

[2020-11-25 17:55] #13704 closed

[2020-11-25 17:59] ds-ms commented on #13268
We are still tracking this issue. Would you (@bmarinov) be willing to raise a PR for the same?

PS: @sonayak has left the team

[2020-11-25 18:07] #12454 closed

[2020-11-25 18:49] bishal-pdMSFT commented on #12609
The yaml looks pretty straightforward. Could you please share the build logs to check any anomaly there?

[2020-11-25 18:58] BassaForte commented on #12609
Sure thing, here are the log files for those two steps (UseDotNet and Build Server).

[4_Install .NET Core 3.1 SDK.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5598724/4_Install.NET.Core.3.1.SDK.txt)
[6_Build Server.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5598732/6_Build.Server.txt)

[2020-11-25 19:31] marcowenneker commented on #13935
(Like @sopelt)
We deploy 'immutable versioned zip files' from a DevOps release pipeline.
e.g. `ACC-SomeProductApi-b20201002.4-v1.24.0.1857-d9e95a1.zip`
Recent change breaks this.
Currently we get a blob in the form `folder/file.zip`
`ACC-SomeProductApi-b20201002.4-v1.24.0.1857-d9e95a1/SomeProductApi.zip `

[2020-11-25 19:35] bishal-pdMSFT commented on #12609
@BassaForte I am sure why you think dotnet version being used is not 3.1.403. I think you might have perceived the task version (wchich is actually 2.177) to be .Net Core version.
I would request two things:
1. Set debug flags and collect the build logs again. This will print more information which would be helpful.
2. Add one more step immeditely after `UseDotNet` step to run a simple shell comma

[2020-11-25 20:30] BassaForte commented on #12609
@bishal-pdMSFT You're right, I was confused about that task version, I had thought it was the dotnet core version. I ran the build again with debug flags (I assume you meant changing the configuration from release to debug) and running `dotnet --info` right after. Here are the build logs:

[6_CmdLine.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5599129/6_CmdLine.txt)
[7_Build Serv

[2020-11-25 20:53] jamierytlewski commented on #13130
@saquibkhan I tried with the `%22` and it's still not working. I was trying to use multiple formats for coverlet and was able to use `%2c` to change out the commas.

[2020-11-26 03:25] Ravi-Macha commented on #11444
I am facing same issue where I am doing "deploymentMethod: runFromPackage" and setting WEBSITE_RUN_FROM_PACKAGE to 1.

Why its deploying as ZIP ?  My Zip file in /sitepackages is valid one. Same code is deploying in another environment.

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name = "Site Unavailable

[2020-11-26 04:29] asranja commented on #13948
Thanks @kingjan1999 for bringing this up to our attention.

Why do we need to provide an absolute path in the `xmlTransformationRules` input ? The input currently expects a path relative to the `folderPath` input. Can you explain a a scenario when a user needs to provide an absolute path ?

[2020-11-26 04:49] bishal-pdMSFT commented on #12609
IMO some settings might be missing from csproj. Are you able to build this project using similar steps manually on your dev box?

I would suggest you to create issue in dotnet repo and get their help about this build error

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chris <notifications@github.com>
Sent: Thursday, November 26, 2020 2:00:53 AM
To: microso

[2020-11-26 05:12] BassaForte commented on #12609
It doesn't look like there are any settings missing from the csproj, but perhaps you're right. I am able to build this project using dotnet build both on my dev machine, as well as on the agent machine (although again I understand the agent runs on a different environment).

Now that I understand that it's not the UseDotNet command, I'll seek help elsewhere. Thanks again for your assistance, and h

[2020-11-26 07:00] SqueedWalz commented on #12593
Will you also update the task to supoport the new spotBugs parameter (previously "findBugs")?
In the yaml task it is called findBugsRunAnalysis.

[2020-11-26 08:33] AmrutaKawade commented on #13935
we are reverting this change for now. sorry for inconvenience caused

[2020-11-26 09:07] #12990 closed

[2020-11-26 09:12] maxkoshevoi commented on #5112
+1

[2020-11-26 09:37] oliverchristen opened #13977 "IoT Edge Task is quite slow"
*Type*: Bug

**Enter Task Name**: AzureIoTEdgeV2

## Environment
- Server - Azure Pipelines

- Agent - Hosted

    - agent pool name: Azure Pipelines

## Issue Description

When executing any of the action of this this takes so long. We even replaced actions build and push with docker tasks because this is much faster. Unfortunetely for _Generate Deployment manifest_ and _Deploy to IoT Edge device

[2020-11-26 09:44] Timo-Weike commented on #13952
@fowl2 another workaround that I found was to specify the nuget version that should be installed. So with the yaml
[code]
it will work just fine.

This workaround also strength my guess that something in the determination of the nuget version is broken.

[2020-11-26 11:27] mercuriete commented on #11527
ok, thanks for your work!
:+1:

[2020-11-26 12:02] StephanZaat opened #13979 "Helm Task in ADO Pipeline"
## Required Information

When I use the Helm task to deploy a Helm chart to AKS I receive an error message.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Helm Deploy

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

[code]
Running this pipeline task gives the following Helm command:
`/usr/local/bin/helm upgrade --namespace default --install --wa

[2020-11-26 12:40] ds-ms commented on #13979
@StephanZaat did this helm chart work out locally for you?
Also side note; could you supply the debug logs as well as the chart for us to help debug it.

[2020-11-26 12:45] anatolybolshakov commented on #12593
@SqueedWalz could you please create a separate issue for it? It seems like an enhancement we could implement also

[2020-11-26 13:01] anatolybolshakov commented on #5112
Attached [link](https://developercommunity.visualstudio.com/idea/365689/task-group-custom-conditions-at-group-and-task-lev.html) to related Developer community issue - since it would be better place to get last updates about it's status.

[2020-11-26 13:02] #5112 closed

[2020-11-26 13:12] SqueedWalz commented on #12593
@anatolybolshakov Will do!

[2020-11-26 13:18] StephanZaat commented on #13979
Well it seems to be an issue with running the out-of-the-box Helm commands.

[code]

[2020-11-26 13:30] SqueedWalz opened #13980 "Gradle v2 FindBugs plugin has been removed and deprecated in Gradle v6 or higher"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-11-26 13:49] ds-ms commented on #13979
You could use `HelmInstaller` task to fix the version in your runtime

[2020-11-26 13:58] kingjan1999 commented on #13948
@asranja Well, I can think of two reasons why this might be helpful:

1. The user specifies an absolute path by accident, e.g. he prefixes the file path with $(SystemDefaultWorkingDirectory)
2. The transform file is outside the working directory / the checked out project (mostly applies to hosted agents only, where you can place these files in the regular filesystem). This is how I discovered this

[2020-11-26 16:56] mpoiron commented on #13232
Can we have an update on this issue ? I am still having this issue and having to kill the app pool each time is quite annoying.

[2020-11-26 17:41] ezavgorodniy opened #13982 "Bug: DotNetCoreCLI@2 task couldn't finish"
Our task is failing after timeout

- task: DotNetCoreCLI@2
  inputs:
    command: test
    projects: 'ProjectName/src/**/*Tests/*.csproj'
    arguments: '--configuration Release --settings "$(Build.SourcesDirectory)/ProjectName/src/test.runsettings" --collect "Code coverage" --logger trx --filter "Category!=Integration&Category!=Functional&Category!=spec"'

After all of tests passed it's publishin

[2020-11-27 03:55] Jazzinghen opened #13983 "UniversalPackages task fails to publish package if a package with a similar name already exists"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: UniversalPackages

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - Azure Pipelines
    - **Account Name:** ascentai
    - **Team project name:** "Industrial Robotics"
    - **Build ID:** 20509

- Agent - Hosted or Private:
    - Private Agent
    - **OS:** Ubuntu 18.04
    - **Agent Versio

[2020-11-27 03:56] UmairSyed opened #13984 "HelmDeploy@0 not masking secrets when provided as overrideValues""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-11-27 04:01] UmairSyed opened #13985 "HelmDeploy@0 not masking secrets in pipeline logs when provided as "overrideValues""
I am trying to pass app insights instrumentation key as a parameter to the Helm Chart so that it can be used as a value for environment variable for azure function that is running as a container. The issue is that the step that is using HelmDeploy@0 is actually printing the key in the logs like so:
2020-11-26xx [command]/usr/local/bin/helm upgrade --namespace dev --install --set functions.podIdent

[2020-11-27 05:37] ds-ms commented on #13984
@UmairSyed could you provide some details? Perhaps some debug logs or the setup etc. You didn't seem to have provided any information, the entire description seems to be just the template.

[2020-11-27 05:38] ds-ms commented on #13979
Closing this issue, feel free to reopen if this problem still persists.

[2020-11-27 05:38] #13979 closed

[2020-11-27 05:51] ds-ms commented on #13985
This command should help you set the secret. But the syntax is probably wrong

`##vso[task.setvariable variable=APP_INSIGHTS_INSTRUMENTATION_KEY;issecret=true;]$appInsightsInstrumentationKey` Use it like this and try again. I'm assuming you're fetching this value, during runtime and setting it to this variable: `appInsightsInstrumentationKey`

You should be doing it before this task's step. If you

[2020-11-27 05:51] ds-ms commented on #13984
Duplicate issue: https://github.com/microsoft/azure-pipelines-tasks/issues/13985

[2020-11-27 05:51] #13984 closed

[2020-11-27 07:16] vivek425ster commented on #13945
@iansul This is the desired behaviour. We only get the first failure inside the testcase for displaying in the UI.
If you want more help, can you please share your xml file.

[2020-11-27 09:43] #13639 closed

[2020-11-27 09:49] shigupt202 commented on #13947
@Justin-DynamicD Can you please confirm whether you created a kubernetes resource in the environment and referred that in the pipeline, like this `<environment-name>.<resource-name>`?  Please share that part of the pipeline where you have specified the environment.

[2020-11-27 10:08] josefschabasser commented on #13639
Funny this got implemented after someone wrote "it's an UI issue"...

[2020-11-27 10:13] ds-ms commented on #13639
Haha, it was my bad, I got the issue wrong. @Ganeshrockz and I synced up offline to discuss the fix.

[2020-11-27 14:22] marcoadasilvaa commented on #7598
+1

[2020-11-27 17:47] YoeriVD commented on #13257
+1

[2020-11-27 17:54] vishnuprakash9845 commented on #7708
I am too getting the same error. @CharanPendyala9  did you resolved this error by any method. If you have any solution can you provide please.

[2020-11-27 17:54] vishnuprakash9845 commented on #7708
I am too getting the same error. @CharanPendyala9 did you resolved this error by any method. If you have any solution can you provide please.

[2020-11-27 19:03] StephenHodgson commented on #13949
See also https://github.com/microsoft/azure-pipelines-tasks/issues/13194

[2020-11-27 19:04] StephenHodgson commented on #13949
See also https://github.com/microsoft/azure-pipelines-tasks/issues/13625

[2020-11-27 22:17] marcoadasilvaa commented on #12067
+1

[2020-11-28 04:00] paulroreilly commented on #13703
Same problem for our project - DevOps Pipeline shows 70% code coverage, but same tests in VS2019 show 95%.

Not ideal to have to lower the threshold so much to make sure the builds are failed when the coverage is good.

[2020-11-28 16:46] dasuma opened #13990 "BUG-Deploy-azure"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-11-29 00:22] #9999 closed

[2020-11-30 00:22] #13031 closed

[2020-11-30 00:22] #5250 closed

[2020-11-30 04:04] MarkKharitonov commented on #10996
Is it that hard to fix?

[2020-11-30 07:01] jwbrindle commented on #8920
umm, have been hoping to see some kind of update on this for over a year, what gives guys, can we get some support on this? GA opened since azcopy v10 for linux, why couldnt this be integrated?

[2020-11-30 07:02] ds-ms commented on #13919
@damccorm This looks like a task-lib issue, could you take a look?
I believe there's a similar issue raised in the repo: https://github.com/microsoft/azure-pipelines-task-lib/issues/648

[2020-11-30 08:15] DaniilShmelev commented on #13062
Hi @DevRCRun, we've fixed this issue, but it may take a few weeks until the changes are deployed. We'll let you know once they're available.

[2020-11-30 08:27] 7even7 commented on #12083
I'm researching our options to create environment specific permissions to our dev/test/prod SQL databases (including ASQLDBs and ASQLDW:s).
Ideally I'd like to have parameterized post scripts in our database projects that would handle the permissions with AD groups.

The inability to do this is really a feature breaking thing for dacpac deployments.

The work arounds are all bad
* Using username /

[2020-11-30 09:33] ds-ms commented on #13985
Closing this issue. Feel free to reopen if the problem persists.

[2020-11-30 09:33] #13985 closed

[2020-11-30 10:43] koushdey commented on #13055
@worldspawn Is this issue still occurring during build when you don't provide an absolute path? The issue seems to be from the tasklib module that we use to detect files. It might be due to the large repo size.

[2020-11-30 10:52] FrancescElies opened #13996 "Cancel a jobs does nothing, jobs continue operation"
## Note
⚠ Not sure if this is the right place to report this bug.

Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces

[2020-11-30 10:59] J3remyD commented on #12593
Any news on this @anatolybolshakov ?

[2020-11-30 11:01] EzzhevNikita commented on #13931
Hey @aafnan10, is still actual issue for you?

[2020-11-30 11:04] aafnan10 commented on #13931
Hi @EzzhevNikita, This issue is now resolved. It is not occurring now.

[2020-11-30 11:09] EzzhevNikita commented on #13931
As the issue is resolved for you now, I'm closing this ticket. Feel free to reopen it at any time if the problem will appear once again.

[2020-11-30 11:09] #13931 closed

[2020-11-30 11:13] FrancescElies commented on #13996
closing, seems to work again

[2020-11-30 11:13] #13996 closed

[2020-11-30 12:52] dirkslab commented on #13780
@ddivanshu please advice on your results.

[2020-11-30 13:09] kanika1894 commented on #13780
Hey @dirkslab , thank you for the details. Looking into it.

[2020-11-30 16:42] jmyersmsft commented on #13178
We can't kill nuget or the cred provider from the task, because there may be multiple agents running builds on the same machine, and we have no way of knowing which processes correspond to this agent. If we did, we'd risk killing other unrelated builds.

[2020-11-30 16:42] #13178 closed

[2020-11-30 18:19] lindt commented on #13879
@AmrutaKawade : Amruta. Could you support here somehow?

[2020-11-30 20:37] glloyd2010f opened #13997 "Display Detailed ARM template deployment tasks error messages within task execution output"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureResourceGroupDeploymentV2 and AzureResourceManagerTemplateDeploymentV3

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureResourceGroupDeploymentV2
https://github.com/microsoft/azure-pi

[2020-11-30 20:45] MattGal opened #13998 "AzureKeyVaultV1 does not retry in the event of transient network troubles"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureKeyVault

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure pipelines.

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
Account: d

[2020-12-01 01:39] agilekevin opened #13999 "HELMDEPLOY1_HELMOUTPUT exceeds maximum length for lint command"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Bug*: helm deploy `lint` command fail due to variable overrun when writing output to `helmoutput` variable.
`template` and `update` commands are still successful

## Environment
- Server - Azure Pipelines

- Agent - Hosted windows latest and ubuntu-la

[2020-12-01 02:30] AmrutaKawade commented on #13902
@error0327 let me know if above solution works

[2020-12-01 08:12] shigupt202 commented on #13999
This PR should fix the issue: https://github.com/microsoft/azure-pipelines-tasks/pull/13884
The deployment will take a few days to rollout to all the customers.

[2020-12-01 08:45] Yush0 commented on #13232
We are facing the same problem since upgrading to 3.1 from 2.1. (on premise, InApp hosting model)

It only occurs when some longer running requests are still going on during deployment. Its quite a regression not being able to reliably hot deploy the application.

MSDEPLOY_RENAME_LOCKED_FILES is really needed for on premise too.

[2020-12-01 09:12] anatolybolshakov commented on #13703
Hi @vishwanathsrikanth this issue doesn't seem to be related to pipeline tasks - could you please create an issue on https://developercommunity.visualstudio.com - to get the right eyes on it?

[2020-12-01 09:34] asranja commented on #13618
The problem is because of the way Azure DevOps treats variables with dots(.). ADO converts dot characters to underscores in variables. So in this case, there is a conflict in the variable name `Authenticaion.Domain` which gets interpreted as `authentication_domain`. Since there is already a variable `authentication_domain` defined in the variable group, there is a conflict, so only one of either `

[2020-12-01 09:52] shigupt202 commented on #13922
@pierowman Can you please try with path `*/$(projectName)-*.tgz` or just `$(projectName)-*.tgz`?

[2020-12-01 09:57] phasmatic2k commented on #13746
@ajinkya599 I've tried several times, but when I enable system.debug the error disappears. My guess is that it's a race condition where some delete task hasn't completed yet

[2020-12-01 10:17] jogelin commented on #11317
I have the same issue, sometimes my artifact folder doesn't exist but it is normal in my process.

@marcussonestedtbarium did solve this since ?

[2020-12-01 10:54] johnknoop commented on #10314
@ArieHein it's not the deployment that is lacking. That part works fine. The slots in our case represent different logical environments (staging, production etc), and we've set up corresponding environments in Azure Devops to represent the. So when we promote a release from staging to production, it carries out a slot swap. But then the problem arises: Azure Devops doesn't understand that the stag

[2020-12-01 10:59] GerryWilko commented on #13746
I am also unable to recreate with debug turned on. It happens so randomly. Sometimes I go a week or two without getting it, then it happens again.

Surely its safe to clear that directory and its contents? Inside the task, much like @phasmatic2k has done?

[2020-12-01 13:13] joferrao commented on #8762
Still happening.

[2020-12-01 14:59] pierowman commented on #13922
Both result in the same out come:

Download Artifact step
Downloaded drop/testapp-v0.2.0.tgz to /home/vsts/work/1/drop/testapp-v0.2.0.tgz

HelmDeploy step
chartPath: */$(projectName)-*.tgz

##[error]Can not resolve pattern in file path /home/vsts/work/1/s/*/testapp-*.tgz.

Download Artifact step
Downloaded drop/testapp-v0.2.0.tgz to /home/vsts/work/1/drop/testapp-v0.2.0.tgz

HelmDeploy step
chartP

[2020-12-01 15:05] bmarinov commented on #13268
Hi @ds-ms ,
I can take a look the coming days, I may need a bit of hand holding in case I can't get some parts of the setup to run out of the box. Will get back at you when I have something :)

[2020-12-01 16:51] shigupt202 commented on #13922
This seems to be the expected behaviour as HelmDeploy task searches for the file patterns under `System.DefaultWorkingDirectory`. However, the artifacts are present one folder up. See [this](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/HelmDeployV0/src/utils.ts#L41) for more information.
You can consider publishing the artifacts to `System.DefaultWorkingDirectory`, if you w

[2020-12-01 16:56] pierowman commented on #13922
The Download artifact step is controlled by ADO and inserted automatically there is no configuration there that I'm aware of.

As a work around I have named my drop folder 's' in the "PublishBuildArtifacts" step.

[2020-12-01 17:52] damccorm commented on #13968
Hey @radujipa this looks like an issue with the Azure Pipelines service, not a specific task. This repo mostly houses issue/code for the tasks themselves, could you please open a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html? That will help get the right eyes on it

[2020-12-01 17:52] #13968 closed

[2020-12-01 18:45] fadnavistanmay commented on #13879
Hi All, apologies for this. We did release an  agent version - 2.177.0 which broke the cache task. And we have reverted it with the patch 2.177.1 . Please use 2.177.1 agent and NOT 2.177.0 which has the breaking change.

Thanks

[2020-12-01 18:45] zachariahcox commented on #13250
in the json that comes back from the above preview API, we can see the file length is way higher than the actual downloaded bytes.
From the related ICM, 177158735, Luke checked that the server actually sent all the bytes, so it's still likely that a networking problem is to blame here.
Regardless, it seems reasonable to check that the downloaded bytes match the expected bytes and retry if it didn'

[2020-12-01 18:46] ThadHouse commented on #13879
@fadnavistanmay When will the AZP hosted machines update to this? We're noticing it on the AZP hosted machines.

[2020-12-01 18:48] fadnavistanmay commented on #13879
The AZP hosted machines should have upgraded with the newer version.

[2020-12-01 18:49] fadnavistanmay commented on #13879
@mjroghelia - the AZP hosted machines do get the agent update after a new patch release as well, right?

[2020-12-01 21:15] agilekevin commented on #13999
Awesome, thanks!

[2020-12-01 21:45] Paul-Dempsey commented on #13124
More than the task readme needs to be updated -- the [documentation for the AzCopy task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-file-copy?view=azure-devops) needs to be updated. In addition the changes described in the readme aren't correct: the link to Azure from the UI goes to the IAM page at subscription, but the role assignment must be made at the Storage IA

[2020-12-01 22:29] agilekevin commented on #13999
It seems that after this PR, the task will print a warning in the ADO pipeline.  Is there some way for me to prevent or suppress this warning?

From my side, I have a big Chart, hence lots of output.  I don't think I'm doing anything wrong here, so I'm not sure what I'm supposed to do with this warning.

[2020-12-01 23:10] TheOnlyWei opened #14004 "Self-Hosted Agent Environment Variable Not Visible in Powershell Task"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Powershell

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipelines
    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build de

[2020-12-02 00:13] TheOnlyWei commented on #14004
I found the solution, I had to restart the Powershell session that was running the agent.

[2020-12-02 01:32] ngarg-panw opened #14006 "Cache Task giving permissions error"
**Question**
*Type*: Release Pipeline

**Enter Task Name**: Cache Task

## Environment
- Server - Azure Pipelines ?

## Issue Description
 In my extension, I am downloading an executable everytime a pipeline runs. So, to avoid that I thought of using the Cache task. I defined my task as follows:

`steps:
- task: Cache@2
  displayName: Cache
  inputs:
    key: 'twsictli | $(Agent.OS) '
    path: 't

[2020-12-02 04:16] shigupt202 commented on #13999
There's no way to suppress this warning. You can safely ignore it.

[2020-12-02 05:00] shigupt202 commented on #13922
You can use `DownloadBuildArtifacts` to download the artifacts to desired location. Otherwise, copying the artifacts to `System.DefaultWorkingDirectory` also seems to be a valid workaround.
We'll see if we can give an option to update the default working directory in task if this is something multiple customers would want. cc: @ds-ms

[2020-12-02 05:35] AmrutaKawade commented on #13902
Closing this issue. feel free to reopen if solution doesn’t work

[2020-12-02 05:35] #13902 closed

[2020-12-02 05:37] AmrutaKawade commented on #13935
This will get deployed by end of this week. Closing this issue

[2020-12-02 05:37] #13935 closed

[2020-12-02 05:59] AmrutaKawade commented on #13990
this is not right place to raise this issue. Can you raise issue on this repo https://github.com/Azure/appservice-settings?

Also can you check if your RBAC (AZURE_CREDENTIALS) has proper access. https://github.com/Azure/appservice-settings#configure-github-secrets-with-azure-credentials-app-settings-and-connection-strings.

Closing this issue. check above solution. if it doesn't work raise issue

[2020-12-02 05:59] #13990 closed

[2020-12-02 06:18] #13999 closed

[2020-12-02 06:39] anraghun commented on #13685
@Sudharma Thanks for bringing this up. There isn't enough traction to consider this feature enhancement for the time being. We believe there is enough flexibility for customers to use the K8s service connection to suit their respective scenarios. If there's enough traction in the future, we might consider it.

[2020-12-02 07:56] hvinett commented on #13091
@Kurtz1993 , closing this issue. if you still facing the issue, please feel to reopen this.

[2020-12-02 08:02] ds-ms commented on #13268
I'd be happy to help you out in fixing this bug.
You can also use this https://github.com/microsoft/azure-pipelines-tasks/pull/13291 PR for reference.

[2020-12-02 08:08] #13685 closed

[2020-12-02 08:09] hvinett commented on #13690
hey @smsnyder-pai , closing this issue. If you still facing the problem, please feel free to reopen the issue

[2020-12-02 08:15] Sudharma commented on #13685
@anraghun Thank you !

[2020-12-02 09:16] amit-avit commented on #4127
This issue has been fixed it should get deployed in ~3 weeks with the next deployment.

[2020-12-02 10:26] wembleyford opened #14010 "Available Az module versions in Azure Powershell@4 task"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzurePowershell@4

## Environment

Azure devops Pipelines.

## Issue Description

There appears to be a bug in the az module that is only exposed when running in Azure Devops pipelines.
See:
https://github.com/Azure/azure-powershell/issues/13425

It has been suggested that this bug no longer occurs with the az module version 5.0

[2020-12-02 10:33] ncourtiller commented on #13076
I have the same issue with Publish Test Results version 2.171.0 and .Net 4.0. For me this issue looks like this one : #12300.

[2020-12-02 11:13] nadesu commented on #14010
@chshrikh - pls take a look

[2020-12-02 12:06] ganesp commented on #12597
@adityasirohi Can you please share the repro and screenshots where you are using publish code coverage results task and seeing this rendering issue?

@ankit-arora12

[2020-12-02 12:56] anatolybolshakov commented on #9046
Hi @ahmadkhudeish @sergiuturus we have rolled out the fix for this issue - I'm closing it at the moment, please feel free to reopen or let us know if this issue still actual for you.

[2020-12-02 12:56] #9046 closed

[2020-12-02 12:58] anatolybolshakov commented on #12593
Hi everyone! We have rolled out the fix for this issue - please let us know if it's still actual for you.

[2020-12-02 13:59] shamglam opened #14012 "AzureRMWebAppDeployment@4 doesn't seem to repect the SetParametersFile parameters"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-12-02 13:59] mfiumara opened #14013 "Caching storage capacity"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Cache@2

## Environment
- Server - Azure Pipelines
bGridSolutions is our team name.

- Agent - Hosted or Private:
Virtual Machine Scaling Set

## Issue Description

Cache@2 task fails when trying to store files bigger than the OS disk. It is failing on the post-cache step as it looks like it is using a temp di

[2020-12-02 14:03] dylancourt commented on #14013
+1 for this! Been looking everywhere for the .tar staging in the cache task to be done on a different path that has more storage space.

[2020-12-02 14:24] celambert commented on #13934
We continue to see this issue on 0.178.0

[code]

[2020-12-02 16:10] craigsmitham commented on #4127
Thank you @amit-avit and team! Look forward to the fix.

[2020-12-02 16:34] johnterickson commented on #14013
Can you change the tmp directory to point to the better/bigger disk?

[2020-12-02 16:40] johnterickson commented on #14006
Is this on a release or not on Git? It looks like it can’t find the branch name.

[2020-12-02 16:43] johnterickson commented on #13937
It is not supported on-premises. @fadnavistanmay  can you update the incorrect docs?

[2020-12-02 16:45] johnterickson commented on #13896
This is YAML fighting against you. It is “eating” the double quotes before the task gets it. Wrap the double quotes in single quotes or use the pipe/newline syntax so the YAML parser passes the double quotes to the task

[2020-12-02 17:28] ngarg-panw commented on #14006
Its on a release.
I have 2 task in that release,
Cache and "Prisma Cloud Compute Scan" which is the. extension I am using.
There is no git or repo involved.
<img width="1190" alt="Screen Shot 2020-12-02 at 9 28 09 AM" src="https://user-images.githubusercontent.com/54907685/100908779-bd38b300-3480-11eb-8404-edc518e44fdd.png">

[2020-12-02 17:59] recintoit commented on #13916
Hello, I also have experienced this.  A release pipeline was created on Monday and worked with no issue.  I ran it today and recieved the warning, but fails with error code exit 1.

[2020-12-02 18:09] BrettThePark commented on #13916
+1

[2020-12-02 18:32] lindt commented on #13879
could confirm now that it is solves. Just had a call with @fadnavistanmay.

But due to the broken agent version there might be some broken cache artifacts. We needed to invalidate the cache written from 2.177.0 Agents (just by updating the key).

Guess the issue can be closed.
Also Path is working again. @gbusch

[2020-12-02 22:47] dmgonch opened #14015 "NuGet Authenticate v. 0.179.0 started failing with 'File not found'"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-12-02 23:14] asranja commented on #14012
Publish Profile based deployment uses the web app's deploy.cmd file to publish web package. If you look at the contents of this file, you will notice that `_DeploySetParametersFile` is explicitly set to point to SetParameters.xml file.
[code]
The deploy.cmd file doesn't seem to provide a way to override the value of `_DeploySetParametersFile`.

If you want to use a different SetParameters file, tr

[2020-12-03 00:26] asranja commented on #14012
Thanks for bringing this up to our attention. This will be fixed as part of the above PR.

If you want to quickly unblock yourself, set the variable `_DeploySetParametersFile` in pipeline with value equal to your expected set parameters file path.

[code]

[2020-12-03 01:36] satbai commented on #14015
Updated the NuGet Authenticate task to 0.179.1 with a fix, this should now be resolved.

[2020-12-03 01:36] #14015 closed

[2020-12-03 01:36] ngarg-panw commented on #14006
Does the Cache Task need to be on a git. In my task, i am making an API call to download an artifact which i would like to reuse in the subsequent pipeline executions.Is this not the right way?

[2020-12-03 06:15] Almeonamy commented on #13746
I tried @phasmatic2k's way, but it doesn't work for me. With this solution the push task fails, because it can't find required files.

[2020-12-03 08:35] dylancourt commented on #14013
We're using VSS hosts so /etc/fstab is out of the question. However I think I've found a solution with changing the environment variables and then capturing the image for the VSS. I guess this is more of a nice to have to have a parameter that allows you to specify where the .tar file is staged. However this would work as well.

However I stumbled across the VSS update command to extend the OS dis

[2020-12-03 08:41] iamalexmang commented on #13779
This issue SHOULD not be closed. Considering that more tasks receive this capability (of using a Management Group scoped service connection) by using the subscription Id parameter (e.g. the AzureCLI@2 etc., the AzureResourceManagerTemplateDeployment@3 task etc.), not having the ability of passing in a subscriptionId parameter makes this task less flexible and incompatible with the rest of the pipe

[2020-12-03 08:48] khauser opened #14020 "Variable command execution does not work in pipeline AzureCLI@2 task"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AcureCLI@2

## Environment
- Server - Azure Pipelines or TFS on-premises?

Azure Pipelines (ish-eng/ISTE/Pipelines/iste-testrun-mssql/20201202.11/Mount datadisk)

- Agent - Hosted or Private:

Hosted agent ubuntu-18.04 (with 16 the problem does also happen

## Issue Description
We want to automate disk partit

[2020-12-03 08:50] mfiumara commented on #14013
Hi we tried pointing the `/tmp` disk somewhere else from within the pipeline but that causes a lot of other things that break. So for now we have solved it with a bigger OS disk but implementation wise I think it's better to have to have the cache task work from the same disk as that's being tarred.

[2020-12-03 09:08] #13008 closed

[2020-12-03 09:19] cawoodm commented on #13896
So this:

    - task: Cache@2
      displayName: Check General Cache
      inputs:
        key: '"GeneralCache$(SomeVersionNumber)"'
        path: $(CachePath)
        cacheHitVar: GENERAL_CACHE_RESTORED

OR

    - task: Cache@2
      displayName: Check General Cache
      inputs:
        key: |
          "GeneralCache$(SomeVersionNumber)"
        path: $(CachePath)
        cacheHitVar: GENERAL_CA

[2020-12-03 09:50] abeggchr commented on #13937
@johnterickson thanks for the clarification!

[2020-12-03 12:14] IamRui commented on #12101
same here

[2020-12-03 12:17] declankilker commented on #13931
@aafnan10 - Do you know how this issue was resolved? We're still seeing the same warning on our Azure build pipeline.

[2020-12-03 12:24] aafnan10 commented on #13931
Hi @declankilker, This issue was related to Gradle task failure. The Gradle task in Azure DevOps was unable to download certain packages.  It may be due to some incident that happened in Azure US and it was fixed later. But the warnings are still occurring. I have opened another [issue](https://github.com/microsoft/azure-pipelines-tasks/issues/13916) on the warnings.  It is not fixed yet.

[2020-12-03 12:26] declankilker commented on #13931
Great, thanks @aafnan10

[2020-12-03 13:15] iamalexmang opened #14021 "Passing in an Array for OverrideParameters, in AzureResourceManagerTemplateDeployment task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-12-03 14:54] WizX20 commented on #11444
Facing this issue today with deploy-as-package (zip) to Web App's. Multiple times, on different resource groups on different Web Apps. This is hindering us in deploying to production environments!

YAML:
[code]

[2020-12-03 14:57] cee-money commented on #8920
+1, it would be great to see an update on this

[2020-12-03 16:43] khauser commented on #14020
With escaping double quotes and the dollar it works:
[code]

I followed this article: https://community.atlassian.com/t5/Bitbucket-Pipelines-questions/How-do-I-properly-quote-Pipelines-pipe-variables-and-escape/qaq-p/1021713

[2020-12-03 16:43] #14020 closed

[2020-12-03 17:30] sdipesh commented on #14006
I am also facing similar issue. I am trying to create a release pipeline with only one Cache task having a path pointing to build pipeline drop folder. When I execute the release pipeline it is giving access denied error. Not able to find resolution. Please help.

![image](https://user-images.githubusercontent.com/40672740/101065434-27c21f80-3563-11eb-84ea-2248ae2591c7.png)
![image](https://user-i

[2020-12-03 18:08] #13015 closed

[2020-12-03 18:36] johnterickson commented on #13879
Apologies for the disruption @lindt .  It looks like our canary tests to protect against this were running, but we're wired up process-wise to block further deployment.

[2020-12-03 18:36] #13879 closed

[2020-12-03 20:05] bishal-pdMSFT commented on #13780
@dirkslab this is an ARM deployment behavior and not pipeline task issue. You are using nested templates. When doing nested template deployment, ARM does not treat parent secure strings as secure in child templates. That's the reason it appears in plain text.

[2020-12-03 20:06] bishal-pdMSFT commented on #13780
I could not find a good doc, but this [doc](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/linked-templates#expression-evaluation-scope-in-nested-templates) talk about that. Essentially, you will need to define parameters explicitly in child template and set the expression scope.

[2020-12-03 20:08] bishal-pdMSFT commented on #13780
I made changes in your template and now it works fine

[code]

[2020-12-04 05:08] asranja commented on #13232
Please try using IIS Web App Manage task to stop the application pool before deploying and then start the app pool again.

[code]

[2020-12-04 05:13] chshrikh commented on #14010
@wembleyford today hosted agent does not have support for 5.0.0 or 5.1.0 support, if you are blocked on this, you can opt to set-up your own agent for now.

Thanks for pointing out stale doc issue, we will update the doc.

[2020-12-04 05:18] KuroroSam commented on #13232
We tried to this approach, it works on some deployment but not for all. We have more than 500 sites manage by Azure DevOps On-Permises. The deployment may be locked by HTTP keep-alive connection, we have assumed StopAppPool should terminate all of IIS connections in that AppPool.

[2020-12-04 06:33] dirkslab commented on #13780
Thanks @bishal-pdMSFT I will have a look at the feedback.

[2020-12-04 08:21] lin404 opened #14024 "Throw `Could not find the module path with given version`"
## Note

https://github.com/microsoft/azure-pipelines-tasks/blob/a1502bbe67561f5bec8402f32c997406f798a019/Tasks/AzurePowerShellV4/Utility.ps1#L42

## Required Information

**Type**: Bug?
**Task Name**:  AzurePowerShell@4

## Environment

- Azure Pipelines
- MSHosted Agent

## Issue Description

Pipeline using `AzurePowerShell@4`
[code]
Throw the error:

[code]

## Troubleshooting

I found error oc

[2020-12-04 08:31] hvinett commented on #13810
hey @tomaustin700, seems the issue is specific to vstest.console.exe. you can raise the issue [here](https://github.com/microsoft/vstest)

[2020-12-04 08:40] tomaustin700 commented on #13810
Hi @hvinett, can you explain what you mean by 'try one with vstest.console.exe'? Apologies.

Tom

[2020-12-04 09:06] hvinett commented on #11905
@ioananicu, we are picking very limited issues on priority. we will inform you after we resolve the issue.

[2020-12-04 09:14] dirkslab commented on #13780
@bishal-pdMSFT cannot thank you enough. I have updated my template builder to action as per your suggestion and it now works as expected. Really thought this was a bug, happy to confirm it's working as expected.

This makes me wonder about my other big issue. I had 2 issues stopping me from reaching Subscription level template Nirvana and this resolves one of them.
The existing issue:
If there is

[2020-12-04 10:23] quentled opened #14028 "python task : adding azureSubscription input and temporary workaround"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-12-04 12:45] #13910 closed

[2020-12-04 15:36] MyMirelHub commented on #13153
I got tripped up too. We run pipeline artefacts where the directory changes often, and it's hard to standardise templates when you have to change the script path rather than keeping it relative the `workingDirectory`.

[2020-12-04 15:51] JonathanLydall commented on #8171
@kepikoi

Try use a different task type instead, we do something like the following and it then shows output:
[code]

[2020-12-04 19:32] sdipesh commented on #14006
I found that cache task is not supported by classic release pipelines. Please ignore my query.

[2020-12-04 20:08] sampacos opened #14030 "NugetToolInstaller: Invalid version"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NugetToolInstaller@0

## Environment
- Server - Azure Pipelines
   metabolondev/LabVatantageLIMS/LaVcoat
   build ID: 69249

- Agent - hosted

## Issue Description

NugetToolInstaller@0 failing with "invalid version" error but the version parameter is not given, so it's meant to be automatic.

![image](https://user-images.githubuserc

[2020-12-04 20:40] sampacos commented on #14030
Looks like the version referenced was the version of msbuild on the agent. Updated to NuGetToolInstaller@1 and that resolved it.

[2020-12-04 20:40] #14030 closed

[2020-12-05 03:46] bishal-pdMSFT commented on #13982
@phanikmmsft @ShreyasRmsft can you please look at this test command related issue

[2020-12-05 09:09] #12914 closed

[2020-12-05 09:59] ezavgorodniy commented on #13982
Actually we found the problem. Problem with Mongo2Go runner wasn’t disposed, so we’ve just made our class IDisposable and clean up after ourselves.

Sorry, was confused with messaging. Perhaps better messaging may help others in a future to troubleshoot this sort of issues

[2020-12-05 12:11] #12259 closed

[2020-12-05 13:51] #13982 closed

[2020-12-05 15:18] josesimoes commented on #13065
Still waiting for the implementation.

[2020-12-05 21:07] #12544 closed

[2020-12-05 22:29] Yariksychov commented on #9458
Issue persists

[2020-12-06 01:57] Turochamp opened #14032 "error NU1202: Package Microsoft.EntityFrameworkCore.SqlServer 5.0.0 is not compatible with net50 (.NETFramework,Version=v5.0)"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Docker

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

https://dev.azure.com/turochamp/TuroPhoto/_build?definitionId=4
https://dev.azure.com/turochamp/TuroPhoto/_build/results?buildId=24&view=results

- Agent - Hosted or Private:

Hosted Agen

[2020-12-07 02:14] blackchoey commented on #13442
@marianan @konichi3 could you help on this?

[2020-12-07 06:10] #12036 closed

[2020-12-07 08:45] SqueedWalz commented on #13980
@anatolybolshakov Any update about when this might be fixed and available?

[2020-12-07 09:51] ShreyasRmsft commented on #13810
@tomaustin700 I'm transferring this issue to the [vstest repo](https://github.com/microsoft/vstest/issues).

Can you get a repro with system.debug = true (which will include the testplatform diag log) that will help the testplatform team get to the bottom of this.

[2020-12-07 09:58] tomaustin700 commented on #13810
Thanks @ShreyasRmsft, I've turned on debug so will report back when I have some logs. Thanks

[2020-12-07 09:59] mmarseu commented on #11944
I have a hunch this is because the FTPUpload task is suppressing the underlying basic-ftp package's feature to connect using implicit TLS negotiation.
I've had the same issue and was only able to solve it because my FTP server also supports explicit TLS.

Basically, the basic-ftp client has an option named "secure", which can be either "true" (explicit TLS), "false" (no TLS) or "implicit" (implici

[2020-12-07 10:10] JacobVarghese1992 opened #14034 "CMake no longer respects CODE_SIGNING_REQUIRED = NO and still tries to sign"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-12-07 10:32] mmarseu opened #14035 "Add custom cmd on upload success to FTPUpload"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: FTPUpload

## Environment

All environments

## Issue Description

The FTPUpload task offers the `customCmds` option for specifying FTP commands that will be submitted to server after connecting, **before upload**.

[2020-12-07 10:54] #13922 closed

[2020-12-07 11:31] NatGra opened #14036 "Export a task to YAML is not working"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: confirmed with bash v3, helm v0, docker v1, .NET Core v2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

## Issue Description
When trying to export the YAML representation of a pipeline task via the Azure DevOps featu

[2020-12-07 16:48] damccorm commented on #14036
Hey @NatGra - this looks like an issue related to the service, not the tasks in this repo, so the developer community tickets are probably better for tracking. I'm going to close here, lets use those tickets as the source of truth for updates

[2020-12-07 16:48] #14036 closed

[2020-12-07 19:35] ngarg-panw commented on #14006
@sdipesh Can you pls elaborate more. What other type of release pipeline do I need to create to take advantage of cache task?

[2020-12-07 20:08] sdipesh commented on #14006
In Azure DevOps, you have to create a yml pipeline and use the cache task within the pipeline. It works in yml pipelines but not classic pipelines.

[2020-12-07 20:45] ngarg-panw commented on #14006
This makes sense. Thanks for your answer. I am unblocked.

[2020-12-07 20:45] #14006 closed

[2020-12-07 22:22] konichi3 commented on #13442
@shoop Thanks for reporting the issue. We have put this issue in our backlog.

[2020-12-07 22:31] android-dataticket commented on #13916
also getting 5 of these warnings each build now

[2020-12-08 07:46] 20shivangi commented on #13890
@Jeej From the logs of AzurePowerShellV5, it can be seen that module is correctly loaded from path of PowerShell core module only, which is what was expected. Please let us know if you are still facing some issue

[2020-12-08 07:55] 20shivangi commented on #13819
@M0ns1gn0r If you run exit 666 on powershell task also, the task fails with "PowerShell exited with code '1'". So, it is expected behavior that when any non-zero code is given with exit command, the task will give this error

[2020-12-08 08:06] M0ns1gn0r commented on #13819
It is an unexpected behavior for me, the user of Azure DevOps. I explicitly tell the system what error code it should return and it ignores it.

[2020-12-08 09:06] anatolybolshakov commented on #12593
Closing this at the moment since we have rolled out the fix - please let us know if there are still any issues

[2020-12-08 09:06] #12593 closed

[2020-12-08 09:41] egor-bryzgalov commented on #14034
Hi @JacobVarghese1992
Thank you for opening the issue.
It seems to be an Xcode issue and not related to the CMake task. Has the XCode version changed since the last successful build?

[2020-12-08 10:08] anatolybolshakov commented on #13980
Hi @SqueedWalz currently we are working on more prioritized issues, we are planning to handle this in the near time.
Please feel free to contribute also here!

[2020-12-08 13:25] JoshuaRHolden commented on #7599
This was happening a bunch to me, turned out I copied and pasted the thumbprint in from the certificate, when i copied it in it included a hidden character, make sure you sanitise the string if copying and pasting (or manually type it in.

[2020-12-08 14:08] Andrei- commented on #7599
Oh yes, forgot about this post, but in my case it was because the customer has updated ssl certificates on the target server and the thumbprint was no longer valid in the release pipeline settings. Took me some (irritating) hours to find the problem.

[2020-12-08 16:09] nichojo89 commented on #12521
Bump

[2020-12-08 16:36] ludovicroland commented on #13916
I am also facing this issue :)

[2020-12-08 16:39] nichojo89 commented on #9783
We are still getting this issue when deploying an ad-hoc Xamarin app .ipa file to AppCenter using an App Center Deploy task. I've tried re-creating AppCenter token, recreating release task. Gets stuck on `(node:7356) Warning: Use Cipheriv for counter mode of aes-256-ctr` and fails to deploy to AppCenter. No changes were made to this release task this just suddenly started happening.

[2020-12-08 16:49] evilpilaf commented on #11864
As stated by others here, we're seeing cache restore times that are way too high, 10mins for under 2GB

[2020-12-08 18:00] hacst opened #14042 "DownloadPackageV1 multifile downloads not working in Azure DevOps Server 2020"
## Required Information
*Type*: Bug
**Enter Task Name**: DownloadPackageV1

## Environment
Azure DevOps Server 2020

## Issue Description
If you try to download any maven package using `DownloadPackage@1` in Azure DevOps Server 2020 it will report success and it will create files named like the files in the package. However all files are 9 bytes in size and only contain the string "undefined".

I'

[2020-12-08 18:25] King-of-Spades commented on #9783
@nichojo89 I'm from the App Center Support team.

The only known cause of that Cipheriv warning I'm familiar with is if the signing files contain special characters in the name. That limitation is warned about in our code-signing doc here: https://docs.microsoft.com/en-us/appcenter/build/ios/code-signing#signing-files

I don't know for certain if that's the only way to trigger the warning, or if s

[2020-12-08 18:54] johnybaryah commented on #12147
Here to report the same issue using App Center Distribute, Task Version 3.*

[2020-12-08 19:02] johnybaryah commented on #9783
@nichojo89 I can also confirm the same issue using app-center-distribute version 3.*

[2020-12-08 19:02] ssensegar commented on #12195
Same for me as well.

[2020-12-08 19:15] mwc360 opened #14043 "SQL server database deploy is not logging verbose with inline sql"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: SQL server database deploy

## Environment
- Server - Azure Pipelines

- Agent - Azure Hosted Agent

## Issue Description

Adding verbose does not result in any logged outputs via print messages. This was also a bug in

[2020-12-08 19:20] adrianblakey commented on #9172
Any ideas why this fails:
$ curl --trace-ascii /tmp/dump.txt  -v -H 'Content-Length: 1634' -L -X POST -H 'Content-Type: application/octet-stream' --data-binary keys.tgz 'https://dev.azure.com/YY/XX/_apis/distributedtask/securefiles?name=foo_test.tgz&api-version=5.0-preview.1'
Warning: -v, --verbose overrides an earlier trace/verbose option
* About to connect() to dev.azure.com port 443 (#0)
*   Tr

[2020-12-08 20:33] King-of-Spades commented on #9783
@nichojo89 @johnybaryah

## Observations
I don't believe this error message is sufficient to diagnose a single, consistent issue:

I've observed the warning appearing in both Android and iOS builds that successfully completed building as well as running automated UI tests on most (though not 100%) of devices. Repo: https://github.com/microsoft/appcenter-Xamarin.UITest-Demo/

Maybe it still indicat

[2020-12-08 21:18] lapellaniz opened #14044 "Powershell Task fails to run in Microsoft-Hosted Windows Agent"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PowershellV2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

https://bddigitalhealth.visualstudio.com/IntegratedDiabetesManag

[2020-12-08 21:54] tgearig commented on #10302
Same here. Legacy Build is turned off and greyed out.

[2020-12-09 06:58] faizkhan7896 opened #14045 "npm exited with non-zero code: 4294963238"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo
npm exited with non-zero code: 4294963238
Error: npm exited with non-zero code: 4294963238
    at ChildProcess.completionListener (C:\Users\Admin\AppData\Roaming\npm\node_modules\expo-cli\node_modules\@expo\spawn-async\src\spawnAsync.ts:65:13)
    at Object.onceWrapper (events.js:422:26)

[2020-12-09 07:37] pawi90de opened #14047 "AppCenterDistributeV3 should use new appcenter-cli (>2.7.0)"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AppCenterDistributeV3

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure DevOps Server
Version Dev17.M153.5
Selfhosted - Windows 10 Enterprise 1909

- Agent - Hosted or Private:
Private Agents - macOS

[2020-12-09 09:09] KEiberg commented on #14047
Same issue here.

Microsoft Visual Studio Team Foundation Server
Version 16.131.28226.3

I wrote to their support yesterday telling them we are using their distribute task in TFS and it is failing.
The response I received was just that we needed to use the latest CLI versions (2.7.0 or above) or if we use a pipeline task from ADO we need to use the App Center Distribute Task, which I already told

[2020-12-09 09:36] max-zaytsev commented on #14044
Hi @lapellaniz ,
Does this task fails only on this agent "Azure Pipelines 4?"
Do you have other tasks in this pipeline besides this one?

[2020-12-09 09:41] 20shivangi commented on #13819
@M0ns1gn0r This is the expected behavior that when any non-zero code is given with exit command, the task will give this error only. However, we will discuss this issue with our product management team and will come back on this. Thanks for your patience.

[2020-12-09 10:16] 20shivangi commented on #13867
@Eneuman  It is assumed that agent running has permission on the sourcePath so credentials need not be passed while validating the sourcePath. However, we pass machineName when validating destination path as can be seen [here](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/WindowsMachineFileCopyV2/WindowsMachineFileCopy.ps1#L36)

[2020-12-09 10:16] Symorp commented on #14047
Hello I have same problem. I am using:
Azure DevOps Server 2019 17.153.29522.3 (AzureDevOps2019.Update1.1
and
Task         : App Center distribute
Version      : 3.154.1

[2020-12-09 10:28] Edgaras91 commented on #14047
Same issue here. Task only allows to select version 3.* and ends up being a lower version than the fixed version

[2020-12-09 11:39] Symorp commented on #14047
@Edgaras91 thx for link on appcenter-cli I forgot :)

[2020-12-09 12:52] JensSuessmeyer opened #14051 "Deployment for ARM templates (AzureResourceManagerTemplateDeployment) breaks when switched on HostedAgent from 3.176.0 to 3.179.0"
When running a deployment through major version 3 in a MSFT Hosted Agent, execution is broken when apparantly versions changed from 3.176.0 to 3.179.0 for a deyployment of a template for ""type": "microsoft.insights/scheduledqueryrules",":

2020-12-08T07:00:19.3543526Z ##[error]The request content was invalid and could not be deserialized: 'Could not find member 'description' on object of type 'Te

[2020-12-09 13:08] alaendle opened #14052 "Azure IoT Edge - Deploy to IoT Edge devices failed (if DTR is not accessible from cloud)"
## Required Information

*Type*: Question
**Enter Task Name**: Azure IoT Edge - Deploy to IoT Edge

## Environment
- Cloud Azure-DevOps
- Agent - Hosted

## Issue Description

Task fails if deployment manifest contains images that aren't available to the deployment agent, because they reside inside a private DTR that is only available within the enterprise network (and is not accessible from the p

[2020-12-09 13:33] ha-gg-i commented on #14052
Hi Andreas,

you can set the environment variable named `SKIP_MODULE_IMAGE_VALIDATION=true` to skip the image validation.
So far I could not find this hint in the documentation. [Here](https://github.com/microsoft/azure-pipelines-tasks/blob/cc65d6bc9b9db7da933d6c80c7d50c32c454b062/Tasks/AzureIoTEdgeV2/deployimage.ts#L171) is the code line that checks if a check should be performed.

[2020-12-09 13:40] rforest42 commented on #13916
+ 1

[2020-12-09 14:12] lapellaniz commented on #14044
I will be closing this issue down today. I tried a few troubleshooting steps (create a new simple pipeline, comment out other tasks in the pipeline). I found that one task which runs before the powershell task seems to cause this issue but ONLY on a windows agent. It works on macosx.

We do have other pipelines and tasks which work on Azure Pipelines 4. This one failed on other agents as well whic

[2020-12-09 14:33] pskofod commented on #14047
We have same problem running pipeline on azure devops pipeline:
https://brunataht5.visualstudio.com/HT/_build/results?buildId=6413&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=b8255e82-683b-5838-1018-7dd714b61f14&l=27

[2020-12-09 15:37] marcroussy commented on #11864
I'm experiencing the same thing. What's even stranger is that the upload seems to run twice as fast as the download. Typical upload of 400mbs takes about 40s, download takes about 1m15s.

[2020-12-09 16:01] dazinator commented on #11864
@marcroussy - well that explains it. Someone has plugged the ethernet cable in _the wrong way around_.

[2020-12-09 16:53] kawazoe opened #14053 "App Center distribute fails with a DatabaseError when marking the package as available"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: App Center distribute v3.173

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the accou

[2020-12-09 16:56] kawazoe commented on #14047
I am running the latest version using Azure DevOps with a hosted agent and I'm still getting issues. You can check it out here: https://github.com/microsoft/azure-pipelines-tasks/issues/14053

[2020-12-09 16:59] alaendle commented on #14052
Thanks @ha-gg-i for the hint - this seems to work; @nadesu if this is the official recommendation feel free to just close this issue - but maybe the `SKIP_MODULE_IMAGE_VALIDATION` could be mentioned somewhere in the documentation for the "Azure IoT Edge" task (at least I haven't found it in the documentation).

[2020-12-09 17:49] JacobVarghese1992 commented on #14034
There was indeed a bump in the default version of Xcode for the Microsoft Hosted macos-latest ADO agents.
May be I can try setting default to a lower version in my build task.

https://github.com/actions/virtual-environments/commit/a25022f6a79452ca8899c093d6c1d560c77e08dc#diff-7a1606bd717fc0cf55f9419157117d9ca306f91bd2fdfc294720687d7be1b2c7

[2020-12-09 18:09] #10375 closed

[2020-12-09 20:48] Cadacious commented on #13569
Was this fix pushed to production? We are on version 0.177.1 of this task and seeing this exact issue intermittently in our pipeline.

[2020-12-09 21:27] robatwilliams commented on #9272
This is still relevant.

The symmetry of having the `Contents` option like the sibling CopyFiles and DeleteFiles tasks would be good.

[2020-12-09 22:49] shaynemarriage commented on #14047
Our workaround was to add an NPM task to the beginning of the release.
`install appcenter-cli -g`

[2020-12-09 22:51] spkearns commented on #14047
Same issue

[2020-12-10 00:28] MattGal opened #14054 "Updated PowerShellV2 task changes Powershell behavior for users."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PowerShell

## Environment
 Not applicable - Any Windows
## Issue Description

[This change](https://github.com/microsoft/azure-pipelines-tasks/commit/2cc8530e85abcbda8da45e13a4fc7d453db04b8d) broke our pipelines' usag

[2020-12-10 02:44] Cadacious commented on #13569
@anatolybolshakov following up on my previous comment on this.

We were able to track this down to a race condition where multiple pipelines were running the maven authenticate task at the same time. Because this file is written to the `%USERPROFILE%\.m2\settings.xml` location (on Windows) this task can only be in active execution by one agent on a server a time. We host 5 agents per server in our

[2020-12-10 06:02] 20shivangi commented on #13890
@Jeej Any update here ?

[2020-12-10 06:06] egor-bryzgalov commented on #14034
@JacobVarghese1992 I would suggest setting up a self-hosted agent with the previous CMake version on board since the task doesn't support version switching at the moment. Would you mind trying this?

[2020-12-10 06:19] pawi90de commented on #14047
This doesn't work for me. I also install the new cli on all my agents but there is still the deprecated error message.
The task use the API with HTTP Post request and not the cli commands. Therefore i don't unterstand why this step is fixing the problem for you.

[2020-12-10 06:19] 20shivangi commented on #14052
Moving this issue to correct owner as mentioned [here](https://github.com/microsoft/azure-pipelines-tasks/blob/master/.github/CODEOWNERS#L48). Please check if this issue can be closed.

[2020-12-10 07:18] blackchoey commented on #14052
@mariana Can you help take a look?
@20shivangi Can you remove me from the codeowners and assign @mariana as primary owner for better issue tracking?

[2020-12-10 07:44] poserdonut commented on #10366
@mronnblom Hey! Did you manage to actually package this into a vix-file and upload it? I'm trying to do the same thing but I can't even build the project.

`node make.js build --task FileTransformV1`

Leads to:
[code]

[2020-12-10 08:13] pawi90de commented on #14047
**New Answer from AppCenter Support:**

We apologize for the inconvenience and issues with the deprecation of the App Center Release Upload APIs and corresponding deprecation of old versions of the App Center CLI and other clients that talked to these APIs. The deprecation was tied to the HockeyApp shutdown as these APIs rely on HockeyApp backend services.

We have heard your feedback and we are t

[2020-12-10 08:25] 20shivangi commented on #14052
@blackchoey I am unable to assign this to @mariana
Can you assign this? I have removed you from this issue as an owner.

[2020-12-10 08:37] blackchoey commented on #14052
@20shivangi Sorry I can't, I have limited permission to this repo...

[2020-12-10 08:54] 20shivangi commented on #14052
@blackchoey Even I am unable to assign this issue to @mariana. I tried to assign to other persons who were mentioned as code owners, but unable to do the same. So, I just assigned this to you
Is there someone other to whom we can assign this?

[2020-12-10 10:35] Tviljan commented on #14047
AppCenter still says thay we should use the latest version of the Azure DevOps task which is currently the AppCenterDistributeV3 which is still using the soon to be obsolete API

[2020-12-10 10:48] pawi90de commented on #14047
If i understand it right than there is a newer Version of the Distribution task but the azure devops server version installed at our machine could not fetch the new minor version. The version which actual run at our machine is 3.154.1 but the AppCenter Support says we must use 3.173.0 as you can see on the image below.
![image](https://user-images.githubusercontent.com/56336072/101762117-4b461680-

[2020-12-10 10:54] 20shivangi commented on #13232
As mentioned in [doc](https://github.com/projectkudu/kudu/wiki/Dealing-with-locked-files-during-deployment#for-msdeploy-try-enabling-app-offline) :
If you have enabled App Offline and you're still seeing issues with files in use, there are two main possibilities:
1. The first is that the runtime is completely failing to detect App_Offline.htm
2. The second is that the runtime detects it, but it ta

[2020-12-10 11:07] Edgaras91 commented on #14047
I also understood that we need to update the task to 3.173.0.

We are also using the dev-ops server (on-premise). How can we update the version of the task to 3.173.0? Does it self-update? Do we need to update our dev ops?

Do we just need to wait for the task to be updated by itself? as can only select version 3.*

Please someone confirm.

[2020-12-10 11:46] 20shivangi commented on #13618
@ajbrun Have you tried out the suggestion given above ?

[2020-12-10 12:08] anatolybolshakov commented on #14054
Hi @MattGal we are working on the fix for this issue currently, we will let you know once it's resolved to verify

[2020-12-10 12:49] anatolybolshakov commented on #9783
@King-of-Spades looks like you use old versions of InstallProvisioningProfile and CommandLine tasks - are you using on-prem solution? If so - you need to update it to receive last version of in-the-box pipeline tasks containing a fix for this issue.

[2020-12-10 13:17] anatolybolshakov commented on #14051
Hi @JensSuessmeyer this seems to be related to [last changes](https://github.com/microsoft/azure-pipelines-tasks/pull/13870/files) for AzureResourceManagerTemplateDeployment  task, not the agent.
@bishal-pdMSFT @anuragc617 could you take a look?

[2020-12-10 14:34] max-zaytsev commented on #14044
@lapellaniz Do you have some logs from the 'previous' task which cause this?

[2020-12-10 15:08] BrianVallelunga opened #14061 "Add condition to AzureAppServiceManageV0"
*Type*: Feature
**Enter Task Name**: AzureAppServiceManageV0

## Issue Description
I use the `condition` property on some tasks to avoid doing re-deployments of code that has not changed. For example, in my deployment process, I might not redeploy an App Service. By not having the `condition` available to AzureAppServiceManageV0, I cannot also have my slot-swapping task skipped. This results in a

[2020-12-10 15:09] #13017 closed

[2020-12-10 15:22] BrianVallelunga opened #14062 "Consider adding a meta-task that contains multiple sub-tasks"
**Question, Bug, or Feature?**
*Type*: Feature

## Issue Description

Within a deployment job of a YAML pipeline, I often want to skip several tasks, in an effort to avoid re-deploying code that hasn't changed. Right now I'm using the `condition` field on most tasks for this. It would be more helpful to have a meta-task that I could assign a `condition` to that did nothing more but run its other t

[2020-12-10 16:23] JacobVarghese1992 commented on #14034
I was able to switch the default XCode version in the pipeline on the Microsoft Hosted agents using
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#xcode

Bringing it down to 11.7 fixed the issue
although I thought it would work at 12.0.1 but it didn't.

Thanks.

[2020-12-10 16:26] kawazoe commented on #14053
After a lot of fumbling around, our team figured out that while the previous API we were using required to pass the distribution group as names, the tasks needed the ids...

I will keep this bug opened as this should return a 400 with a validation error on the distribution group field.

[2020-12-10 16:44] MattGal commented on #14054
Awesome, thank you!  I didn't expect this outcome.  For the parts of our infrastructure this broke _which we noticed_ I think we've found a workaround but I'll keep an eye out for anything else unusual.

[2020-12-10 17:26] jotatoledo commented on #13427
I just saw this behavior as well, seems like the issue is still present?

[2020-12-10 17:42] MattGal commented on #14054
@EzzhevNikita at least as of this morning, I am still seeing 2.179.0 get used and that it still contains this behavior.

[2020-12-10 17:53] EzzhevNikita commented on #14054
@MattGal Could you please share you organisation name? I'll check if the fix was applied for it

[2020-12-10 17:54] MattGal commented on #14054
Sure, it's https://devdiv.visualstudio.com/

[2020-12-10 19:24] jiyoon-koo commented on #13916
Same problem for me.
[code]

[2020-12-10 21:52] slandsaw commented on #14015
I get this error with task version 0.179.1

    ##[debug]nuGetServiceConnections=undefined
    ##[debug]Finding the URI for the packaging service
    ##[debug]Getting credentials for local feeds
    ##[debug]SYSTEMVSSCONNECTION exists true
    ##[debug]Got auth token
    ##[debug]System.TeamFoundationCollectionUri=https://dev.azure.com/foo/
    ##[debug]System.ServerType=Hosted
    ##[debug]Agent.

[2020-12-10 23:12] wujenny15 commented on #12738
I changed the "failOnSterr:false"  then I do not have this error

[2020-12-11 05:08] AmrutaKawade commented on #13427
@jotatoledo we are working on fix. for now you can correct linuxFxVersion of your app manually and then remove runtimestack selection from task. deployment should work.

[2020-12-11 06:37] upadhyayap commented on #13076
@colindembovsky upgrading to .net framework 4.7.2 should fix the problem. We will update the docs and now closing this issue.

[2020-12-11 08:46] egor-bryzgalov commented on #14034
@JacobVarghese1992
Thank you for your feedback! I'm closing this issue then.

[2020-12-11 08:46] #14034 closed

[2020-12-11 08:54] EzzhevNikita commented on #14054
Hotfix was provided and @MattGal confirmed in Teams that updated task appeared in his org. So closing this.

[2020-12-11 08:54] #14054 closed

[2020-12-11 09:02] jotatoledo commented on #13427
@AmrutaKawade if the issue is still being worked on, can this be reopened? Finding this information took me longer than expected as I considered it to be fixed...

[2020-12-11 09:39] 20shivangi commented on #13867
Any update here?

[2020-12-11 09:44] 20shivangi commented on #13618
@ajbrun Please let us know if you got unblocked

[2020-12-11 09:44] 20shivangi commented on #13890
@Jeej Please let us know if you got unblocked

[2020-12-11 10:19] shigupt202 commented on #13947
Closing stale issue. Feel free to reopen if more clarification is needed or the problem still exists.

[2020-12-11 10:19] #13947 closed

[2020-12-11 10:32] Eneuman commented on #13867
@20shivangi

Hi

The problem we have is that the release agent on machine A tries to copy files from Machine B to Machine C (using UNC paths).
The relase agent account does not have permissions to machine B or C, and we though the account information, entered into the task, would be used to access both source and destination, but as I understand that is not the case?

[2020-12-11 10:52] ds-ms commented on #14032
@Turochamp the problem seems to be with `.NET Core` task. It's got nothing to do with Docker.

@bishal-pdMSFT could take a look

[2020-12-11 10:53] ds-ms commented on #13977
@blackchoey to take a look

[2020-12-11 10:55] ds-ms commented on #13845
@ajinkya599 could you address @damianon question.

[2020-12-11 10:57] Jeej commented on #13890
@20shivangi I have missed your message before, I am unfortunately quit busy... I will see if I can execute another try today.

Like I put in the initial message, I have on the VM AzureRM and Azure Powershell. AzureRM is installed on the system and is used in the "old" powershell, the Windows Powershell. The Azure Powershell is installed in Powershell Core (7) and only there to avoid conflicts.  Th

[2020-12-11 10:59] ds-ms commented on #13701
@anraghun could you take a look

[2020-12-11 12:11] #8793 closed

[2020-12-11 12:33] 20shivangi commented on #13890
@Jeej I got your point. But with AzurePowerShellV5, initialization and script execution happens in same session. So, wanted to know if you are facing this issue with V5 version also

[2020-12-11 18:04] cetindogu commented on #13223
Please add the Rename locked files option to the "IIS web app deploy" release task

[2020-12-11 18:44] patriziobrunoms opened #14067 "AzureFunction@1 ignores "key" from a secret variable in a variable group."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFunction

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFunctionV1

## Environment
- Server - Azure Pipelines, microsoft, OSGCXE, csd.build.pipeline/29650231

[2020-12-12 02:58] bfreezer99 opened #14068 "Publish Test Results task - please add output variable for RunId"
*Type*: Feature Request

**Enter Task Name**: Publish Test Results task
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishTestResultsV2

## Environment
Azure Devops Server 2020 On-Premise
Private Agent - Windows 10 with agent version 2.175

## Issue Description

Hello,
I really need the 'RunId' from the Publish Test task as an output variable.  I was able to do this easil

[2020-12-12 11:15] 20shivangi commented on #13867
@Eneuman Yeah we are not supporting this scenario.  In or task it is assumed that agent running has permission on the sourcePath so credentials are not passed
Please feel free to re-open if you are facing any issue.

[2020-12-12 11:15] #13867 closed

[2020-12-12 13:06] mronnblom-cint commented on #10366
@poserdonut I'm afraid not. I think we made a workaround with Powershell in TFS instead. It was quite a while ago, I'm not on the same project anymore, so I can't check unfortunately.

[2020-12-12 13:58] CiaranWelsh commented on #12150
On a related question, is it possible to use the same strategy to download an artifact produced by a different project but within the same organization?

[2020-12-12 18:05] bishal-pdMSFT commented on #14051
@JensSuessmeyer can you please provide [debug ](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops) logs

[2020-12-12 18:23] bishal-pdMSFT commented on #14032
@Turochamp it seems the .NET SDK being used in docker build is version `2.1`.
[code]
I would suggest using .NET 5 sdk. Infact, I see that prior to docker build, there is a DotNetCoreCLI@2 task which uses .NET 5.0 and build is successful for that.

[2020-12-13 07:19] bishal-pdMSFT commented on #14021
@iamalexmang you should pass the override value as stringified JSON e.g. override value for a array parameter can be a string ` -arrayParam ["value 1", "value 2"]`

[2020-12-13 07:26] bishal-pdMSFT commented on #13997
@glloyd2010f the task should be printing the error in some level of details. user needs to go to Azure portal only if they need more inner details of error. Can you please attach the task logs?

[2020-12-13 07:47] iamalexmang commented on #14021
That is specifically what I tried: pass in the stringified JSON returned from an ARM output, and that results in the task specifying that rather than passing an array in, I specified a string.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bishal Prasad <notifications@github.com>
Sent: Sunday, December 13, 2020 9:19:28 AM
To: microsoft/azure-pipelines-tasks <azu

[2020-12-13 08:18] bishal-pdMSFT commented on #14021
Could you please attach yamp/screenshot of your pipeline?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Alex Mang <notifications@github.com>
Sent: Sunday, December 13, 2020 1:17:48 PM
To: microsoft/azure-pipelines-tasks <azure-pipelines-tasks@noreply.github.com>
Cc: Bishal Prasad <biprasad@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [mic

[2020-12-13 09:25] JensSuessmeyer commented on #14051
Hi,

I attached the debug log for the failing alert rule.

[AlertRuleLog.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5684390/AlertRuleLog.txt)

[2020-12-14 01:40] blackchoey commented on #14052
@20shivangi  can you reach admin of this repo for help? I have no idea about why only me in the code owners can be assigned an issue.

[2020-12-14 01:54] blackchoey commented on #13977
@mariana can you help on this?

[2020-12-14 01:55] blackchoey commented on #13977
@marianan can you help on this?

[2020-12-14 05:39] 20shivangi commented on #14052
@alaendle Are you still facing this issue?
If not, I will close the issue. If yes, then we will see whom to assign this issue. Please let us know

[2020-12-14 06:08] 20shivangi commented on #13618
@ajbrun Any update here ?

[2020-12-14 06:10] 20shivangi commented on #13232
@mpoiron Any update here

[2020-12-14 08:48] anraghun commented on #13701
@efeerdogru This is under consideration but we'll wait for more requests for this.

[2020-12-14 08:55] mpoiron commented on #13232
I seem to have the 2nd problem, I'll try the retry arguments and check back if I still have any issue.

[2020-12-14 09:13] hangar18rip commented on #13117
Hi, the pull request #13770 has been merge to solve this issue

[2020-12-14 10:32] 20shivangi commented on #13890
@Jeej Let us know if you still are facing issue with V5 version

[2020-12-14 11:46] Jeej commented on #13890
@20shivangi I have tried it now with V5 and yes it is working. The error was in the script, because I was using inline I had to set ScriptType to inlineScript. You can see above that it was missing in the script that I run.

[2020-12-14 11:57] 20shivangi commented on #13890
@Jeej It is great that you got unblocked using V5 version of task. Please use the latest version of task i.e. V5.
I am closing this issue. Please feel free to re-open it if you face any issue. :)

[2020-12-14 11:57] #13890 closed

[2020-12-14 12:41] jeanfrancoislarente opened #14072 "Different private registries as source and destination from within docker-compose (dockercompose) build task?"
## Required Information

*Type*: **Question, Feature**

**Enter Task Name**: dockercomposebuild

list here (V# not needed):  DockerCompose

## Environment
- Server - Azure Pipelines

- Agent - Private

## Issue Description

I can successfully use the DockerCompose Build task to build against a private registry, which I can pass into the task using my service connection (`azureContainerRegistry: $(

[2020-12-14 12:57] lionerez1 commented on #13916
Same issue for me. It not only slow down the pipeline for me, the job also failing often and at retry passes..

[2020-12-14 13:33] mdailey77 commented on #13937
The documentation still hasn't been updated: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/cache?view=azure-devops. Still says the Cache task is available in DevOps Server 2020.
Why is my organization paying for a DevOps Server license when some of the promised features don't actually work? Talk about misleading.

[2020-12-14 13:34] MarkKharitonov commented on #10405
Any update on this?

[2020-12-14 14:14] damccorm commented on #14062
Hey @BrianVallelunga - this looks like a feature request for the service more generally, not for a specific task. This repo houses issues for specific tasks, would you mind opening a ticket at https://developercommunity.visualstudio.com/spaces/21/index.html so that it gets the right eyes on it?

FWIW, the current recommended way to do this in Yaml is to use templates. I know it isn't maybe _exactl

[2020-12-14 14:14] #14062 closed

[2020-12-14 14:27] AdamDiament commented on #12521
Bump

[2020-12-14 15:05] coldacid commented on #11443
Still waiting for this.

[2020-12-14 16:01] LauraFoulquier commented on #9094
Thanks @vikramdadwal - I have managed to run the inline script.

However I am still getting the error:
`##[error]Script failed with error: Error: Script file could not be found at specified script location: '/home/vsts/work/1/s...`
If I am trying to use an existing .sh script in my repository.

(Using Agent Ubuntu latest, and Powershell Core for script type)

Has anyone managed to run .sh script w

[2020-12-14 16:39] alaendle commented on #14052
Hello @20shivangi, yes and no, the problem for sure is still present, but the workaround mentioned by the community seems to work.
So if the solution from @F-Joachim is the official solution/recommendation to solve my problem feel free to just close this issue - but maybe the SKIP_MODULE_IMAGE_VALIDATION could be mentioned somewhere in the documentation for the "Azure IoT Edge" task (at least I ha

[2020-12-14 20:16] marcroussy commented on #11864
I've done a lot of experimentation over the last few days and have discovered a few additional details.
1) The cache task is faster on a (private) Linux build agent than on a (private) Windows agent. Anti-virus might have something to do here.
2) the download time seems to get better with every subsequent download of the cache. It starts at around 2 minutes to download, eventually bottoming out at

[2020-12-14 22:11] PatrickMessierGoC opened #14075 "Azure Database for MySQL Deployment Crashes when Additional MySQL Arguments are provided"
**Question, Bug, or Feature?**
*Type*: Bug
**Enter Task Name**: AzureMysqlDeploymentV1

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
- Agent - Hosted or Private: Hosted
2020-12-14T21:31:55.8269455Z Agent name: 'Hosted Agent'
2020-12-14T21:31:55.8269986Z Agent machine name: 'fv-az31-369'
2020-12-14T21:31:55.8270275Z Current agent version: '2.179.0'
2020-12-14T21:31:

[2020-12-14 22:40] kachkaev commented on #4945
Task performance is indeed disappointing. The task takes over three minutes for a project with ≈2K files. That’s about a third of how long the tests take to run 😞 Not much joy for PR authors and reviewers.

[2020-12-15 00:15] MattGal commented on #13681
+1, seen here: https://dev.azure.com/dnceng/public/_build/results?buildId=910780&view=logs&j=05e92ac1-194e-59cf-664a-fa72d1cdd19b

@zachariahcox FYI.

[2020-12-15 06:35] chshrikh commented on #14052
@blackchoey  can you please check this

[2020-12-15 08:03] chshrikh commented on #14024
this is by design. radio "Azure PowerShell Version" input is defaulted to "specify other version", this means one need mandatory provide input "Preferred Azure PowerShell Version".
Refer below sample in case latest az version need to be use

[code]

[2020-12-15 08:03] #14024 closed

[2020-12-15 08:57] ShreyasRmsft commented on #13754
Closing due to no reply

[2020-12-15 08:57] #13754 closed

[2020-12-15 09:49] pi3k14 commented on #12850
@anshi03 dotnet test task has the same problem.
When will this be fixed?

[2020-12-15 09:51] pi3k14 commented on #12850
@ShreyasRmsft this is a bug, not a question.

[2020-12-15 11:57] javi-additio commented on #13916
Same issue for me.

`##[warning]Resource file has already set to: D:\a\_tasks\Gradle_8d8eebd8-2b94-4c97-85af-839254cc6da4\2.178.0\node_modules\azure-pipelines-tasks-codecoverage-tools\module.json
##[warning]Resource file has already set to: D:\a\_tasks\Gradle_8d8eebd8-2b94-4c97-85af-839254cc6da4\2.178.0\node_modules\azure-pipelines-tasks-codecoverage-tools\module.json
##[warning]Resource file has

[2020-12-15 13:53] glloyd2010f commented on #13997
@bishal-pdMSFT there are times where it will publish the error message, but it seems like that is limited to when there is only one error. What we are seeing on the run in the attached log is where there are multiple errors.

**Error Message**
![image](https://user-images.githubusercontent.com/36274646/102223276-7b613100-3eb2-11eb-9784-3c4062c1cf16.png)

**Deployment Log**
[armTemplateV3_Deploymen

[2020-12-15 16:08] ffloimair commented on #9094
From what I have understood this combination does not work. You need to use .sh file ending for bash scripts and .ps1 for Powershell.

[2020-12-15 17:19] akshayamathi commented on #9801
Build.sourceversionmessage is no longer working, can anyone tell me if there is any alternative to get the commit messages in the azure?

[2020-12-15 19:16] Carolhaha commented on #9984
@davidstaheli @hugo-retro Hi, I tried both solutions, but all these two will stuck in the uninstalling step without moving on, are there anything else I need to take care to make sure it keep going?
![Capture1](https://user-images.githubusercontent.com/32686035/102261714-0dcbf980-3ee0-11eb-934e-d3350df745a4.PNG)
![Capture2](https://user-images.githubusercontent.com/32686035/102261720-0f95bd00-3ee0

[2020-12-15 20:18] tero-dev commented on #11443
Looks like some effort is being made https://github.com/microsoft/azure-pipelines-agent/issues/3042#issuecomment-739942994

[2020-12-15 22:00] krispenner commented on #13094
Not stale.

[2020-12-15 22:01] krispenner commented on #13093
Not stale.

[2020-12-15 22:16] gcedil opened #14085 "NuGet Tool Installer Task - ERR:read ECONNRESET"
*Type*: Bug

**Enter Task Name**: NuGet Tool Installer

## Environment
- Server - Azure Pipelines

- Agent - Private: Windows OS

## Issue Description

The NuGet Tool Installer Task has started failing without any changes as of 12/14 with the following error - **ERR:read ECONNRESET**.

## Troubleshooting
Tried different versions.

### Error logs

Starting: Use NuGet 4.6.2
=========================

[2020-12-16 01:58] blackchoey commented on #14052
@marianan can help
@chshrikh As mentioned before, please remove me from codeowners so issues can be routed correctly.

[2020-12-16 04:57] chshrikh commented on #13618
please feel free to reopen for further assistance

[2020-12-16 04:57] #13618 closed

[2020-12-16 04:59] chshrikh commented on #13948
@N-Usha to track this for doc updates

[2020-12-16 12:55] acharaj commented on #12914
I have also having this issue. Here are the logs

2020-12-16T08:51:20.2903783Z ##[section]Starting: Azure IoT Edge - Deploy to IoT Edge devices
2020-12-16T08:51:20.3070600Z ==============================================================================
2020-12-16T08:51:20.3070917Z Task         : Azure IoT Edge
2020-12-16T08:51:20.3071199Z Description  : Build and deploy an Azure IoT Edge image
2020

[2020-12-16 13:00] delucaezequiel opened #14088 "Microsoft.IdentityModel.Clients.ActiveDirectory not loading on Azure DevOps PowerShell"
Hi:

I am having some issue with Azure DevOps PowerShell when attempting to create a ClientCredential and or ClientAssertion. I have the following code which was working on the past for creating a ClientCredential based on the following variables:

- TenantId
- ClientID (SPN)
- Password (SPN Password)

[code]
but recently this code stop working. It seems that the AzureAD module is not longer loadi

[2020-12-16 14:06] marianan commented on #13977
@oliverchristen thank you for reporting this issue. We have added it to our backlog for investigations and will follow up with any findings on this thread.

[2020-12-16 14:23] marianan commented on #14052
@alaendle thank you for reporting this issue, we have added it to our backlog for investigations and will follow up with any findings in this thread.

[2020-12-16 15:27] timothy-volvo commented on #12641
This feature enhancement is still valid. Can I get this ticket re-opened?

[2020-12-16 15:34] gillg opened #14090 "PublisPipelineArtifact@1 badly documented ?"
## Required Information

**Question / Bug**

Hi,

While I was trying to publish an artifact with

[code]

I got an error "path not found"...

But if I add `archiveFilePatterns` it works. Is it a lack of documentation or a side effect of something ?

[code]

## Environment
- Server - Azure Pipelines

[2020-12-16 16:57] Warzinski opened #14091 "Inline scripts not working in v5 with space in the filename"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure PowerShell

## Environment
- Server - Azure Pipelines

- Agent - Private

## Issue Description

Running an inline script does not work on a private agent if the folder path for the agent contains a space.  I've i

[2020-12-16 18:21] mikedzikowski commented on #6558
Hello!

Is there any workaround for this issue? Can this be re-opened?

[2020-12-16 19:24] gaziqbal commented on #13847
I am encountering the same and have a temporary workaround to delete this package after restoring the cache to force a redownload from npm.

[code]

[2020-12-16 21:03] Carolhaha opened #14092 "Xcode builds failing with message 'error: <pod> does not support provisioning profiles"
**Question, Bug, or Feature?**
*Type*: Bug or Question

**Enter Task Name**: Xcode@5

## Environment

- Azure Pipelines

- Agent :
    -  MacOS, xcode 8.0

## Issue Description

IOS Object-C app, want to build a pipeline for it, but it failing with error code 65.
   -  error: <podname> does not support provisioning profiles. <podname> does not support provisioning profiles but provisioning profile

[2020-12-17 01:38] briggsy87 commented on #13614
@shigupt202 i stumbled across this issue since I was also getting a "[error]Error: unknown flag: --name" error.

The original poster was commenting about that issue and --dep-up not working.

Somehow, a few comments in this seemed to get bundled into the other issue mentioned in the PR about the kubeconfig permissions.

While that error was in the log that the original poster later commented, I do

[2020-12-17 06:23] shigupt202 commented on #13614
@briggsy87 Because of the issue that I have referred [here](https://github.com/microsoft/azure-pipelines-tasks/pull/13581), the task was not able to identify the [Helm version](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/HelmDeployV0/src/helmcommands/helminstall.ts#L53) in use appropriately. Hence it assumed the version to be 2.x by default and that's why the install comma

[2020-12-17 09:23] ajbrun commented on #13618
Hi - sorry for the delay.

The mixing up of dots and underscores makes sense. I've tested it by keeping the dots in the web.config and having hyphens as the variable names instead and it worked.

The only other one was the apparent case sensitivity.

If I have a variable in a group named "isLive":
* I can echo it using $(isLive) or $(IsLive)
* But it only appears to get replaced if it has the same

[2020-12-17 09:34] adsurg commented on #13916
+1

[2020-12-17 11:44] tbeswick96 opened #14093 "Web App Deployment hangs on zip extract"
## Required Information

*Type*: Bug
*Task*: AzureRmWebAppDeployment 4.179.0

## Environment
- Server - Azure Pipelines
  - codat/Codat - Release-174 - releaseId=23987 environmentId=84280

- Agent - Hosted
  - windows-2019

## Issue Description

During web deployment of a zipped artifact, the zip extraction causes the task to hang, due to asking
[code]

This blocks the entire task from finishing.

[2020-12-17 12:42] plaa opened #14094 "Allow installing Node.js version based on .nvmrc"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Node.js Tool Installer

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Please add an option to install the Node.js version defined in `.nvmrc`.  This would be useful for fixing a

[2020-12-17 13:18] svarnik commented on #8811
Hello @alombard

I have followed your advices, but it still displays 2 errors:

[code]

[2020-12-17 13:21] svarnik commented on #13776
Hi. How you don't support multiple profiles, if another developer was able to make this on pipeline:
https://github.com/microsoft/azure-pipelines-tasks/issues/8811

[2020-12-17 13:39] tbeswick96 commented on #14093
This turned out to be an error with two `web.config` files in the artifact.
The build pipeline is an ubuntu agent, and was packaging two files, `web.config` and `Web.config` with different casing.
When running the release on a windows agent, the unzip process did not allow both files even with the different casing.

Regardless of the root cause of the issue, is there anything that can be done to a

[2020-12-17 14:08] alexander-smolyakov commented on #14092
Hi, @Carolhaha! Could you please re-run the pipeline with the “[Enable system diagnostics](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#configure-verbose-logs)” option enabled and share the following information:
- YAML file of your pipeline
- Pipeline logs with system diagnostics information

Thanks!

[2020-12-17 14:49] johnybaryah commented on #5472
Dont think this is a pipeline-task issue. In my case, I was deploying a windows service but previous installation (.exe) was sitting in a suspended state and it was holding on to one of the dlls hence I wasn't able to clean the folder. I couldn't manually kill the process either.. ended up rebooting the server

[2020-12-17 14:51] framinosona opened #14095 "Limited to 30 assets visible in DownloadGitHubReleaseV0"
When listing assets on [this line](https://github.com/microsoft/azure-pipelines-tasks/blob/eefd4d4842fddaa16dfb6c579f780338b8563f18/Tasks/DownloadGitHubReleaseV0/main.ts#L186) the "assets/" endpoint is used.

https://github.com/microsoft/azure-pipelines-tasks/blob/eefd4d4842fddaa16dfb6c579f780338b8563f18/Tasks/DownloadGitHubReleaseV0/main.ts#L186

As per [this documentation](https://docs.github.co

[2020-12-17 15:09] #13106 closed

[2020-12-17 15:09] #12966 closed

[2020-12-17 15:56] Sanan07 opened #14096 "Exit code when no tests discovered/executed"
Hi.
I am from vstest team.

Recently we introduced new RunConfiguration parameter called TreatNoTestsAsError - [TreatNoTestsAsError](https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019)
The idea here – if no tests were found during test execution, so vstest.console.exe returns non-zero code - if that parameter has value true.

I was

[2020-12-17 16:42] gbrueckl opened #14097 "Changed behavior of deployment outputs variable"
## Note
The way how the deployment outputs variable of the **Azure resource group deployment** task seem to have changed from task version 2.175.2 to 2.179.0

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: here

**Enter Task Name**: here

list here (V# not needed):
https://github.com/Micros

[2020-12-17 18:59] Carolhaha commented on #14092
@alexander-smolyakov , Yes, here is the Yaml and the Pipeline log which has the downgrade task

YAML:
[code]

And here is the pipeline log:
[log17.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5711572/log17.txt)

[2020-12-18 00:13] johnterickson commented on #6135
Reminder: Do NOT NOT NOT put secrets/credentials as ENV vars into layers that you ship. Docker *loves* to store your environment variables as part of the layer. If you are not careful you will ship your credentials with the layers you create.

See:
https://github.com/dotnet/dotnet-docker/blob/master/documentation/scenarios/nuget-credentials.md
https://medium.com/@cwoolum/using-nuget-restore-secure

[2020-12-18 07:46] NaagAlgates commented on #14053
I'm facing this error today. Is there any temporary solution until this is fixed?

[2020-12-18 08:43] Roman-Rostovtsev opened #14099 "VSTest task forms a wrong filter to rerun failed tests"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VSTest

## Environment
- Server - Azure Pipelines
- If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
Account name: nsq20040061
Build definition: CC-23860 ( https://dev.azure.com/nsq20040061/VSTestExperiment/_build?definitionId=18 )
Build number:  398
-

[2020-12-18 09:00] koushdey commented on #13055
Closing the issue as there is no response on this.

[2020-12-18 09:00] #13055 closed

[2020-12-18 09:22] m1nkeh commented on #13885
i would be keen for this, as a deployment to my function app is updating the settings each time, and therefore messing up my infra deployment script..

[2020-12-18 09:33] eswarbudda opened #14100 "Azure pipeline is failing to build maven project with self-hosted agent"
Unhandled: Unable to locate executable file: 'mvn'. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable. Also check the file mode to verify the file is executable.

I've installed Maven version 3.6.3 but when the pipeline fails with above error it show below version:

2020-12-18T09:11:50.3988367Z ##[section]Starting: Mave

[2020-12-18 09:53] kanika1894 commented on #14051
Hey @JensSuessmeyer ,
Can you please share the repective template? As I am facing difficulties to repro.

[2020-12-18 10:02] JensSuessmeyer commented on #14051
Hi, I attached the template.

[DTL_InternalAPI_500Errors.json.txt](https://github.com/microsoft/azure-pipelines-tasks/files/5714971/DTL_InternalAPI_500Errors.json.txt)

[2020-12-18 10:22] kanika1894 commented on #14051
I am able to repro the issue with the template, though faced no issues with another template.
To verify whether it's a template related issue, I cross-checked using az cli and face the same error.
![image](https://user-images.githubusercontent.com/58769601/102603392-ba101900-4148-11eb-9cf2-06db8964640b.png)
It seems that a fix is required on the template end.

[2020-12-18 11:06] obohaciak opened #14101 "Azure App Service Deploy task does not offer .NET 5.0 in the Runtime Stack dropdown"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeploymentV4 (4.179.0)

## Environment
- Server - Azure Pipelines
  Account name: soliteacr
  Build definition: Nightly build (https://dev.azure.com/soliteacr/IRIS/_releaseDefinition?definitionId=1)
  Build number: Release-296 (releaseId 343)

- Agent - Hosted
  Agent pool: Azure Pipelines
  Agen

[2020-12-18 11:47] gbrueckl commented on #14097
it further seems like not all outputs are generated as individual environment variables!

[2020-12-18 12:08] Josh-01 commented on #13831
Hi @ackermann81 ,

This behaviour is by design - the resources (with approvals and checks) in the stage are evaluated before the stage is run.
Since the build agent name is inferred from a config and then used in next job , could you please try the following:

`
stages:
  - stage: SetStage
    jobs:
      - job:  SetJob
        pool:
          vmimage: Windows-latest
        steps:
        - check

[2020-12-18 13:43] sommmen commented on #13916
Same issue here:

`  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      command: 'pack'
      packagesToPack: '${{ parameters.packagesToPack }}'
      versioningScheme: 'byEnvVar'
      versionEnvVar: 'NuGetPackageVersion'
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'Files'
      publishLocation: 'C

[2020-12-18 15:11] #9403 closed

[2020-12-18 15:55] successhawk commented on #9515
Why wouldn't you update the documentation/help to specify this?

[2020-12-18 16:07] kawazoe commented on #14053
@NaagAlgates There is nothing to fix. The bug is only opened because the error should be more clear to the user.

It happened because you are using distribution group names instead of their guid.

[2020-12-18 16:33] giannisioannou-tomtom opened #14104 "Allow "scale" command in Kubectl task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-12-18 16:43] m1nkeh commented on #13885
after waaaaaaaaaaaay too much time doing trial and error deployments, i eventually figured out this will work:

[code]

This will allow me to deploy a Python project to a FunctionApp running on consumption plan, it uses SCM just like the normal deployment 🎉

there a has to be a better way at *.yaml discovery.. it a total mess, and now Azure DevOps has removed the button that used to allow you to e

[2020-12-18 17:51] k-farhan opened #14105 "Decrypt a file using OpenSSL is failing"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-12-18 18:17] #6617 closed

[2020-12-18 18:17] #10653 closed

[2020-12-18 18:30] jrpacheco commented on #12204
I have been going through the same problem. Some files and folders in the build were not going to my FTP server.
I added a bar before the destination folder and everything was resolved.

![image](https://user-images.githubusercontent.com/6079514/102648178-f2225680-415e-11eb-8478-8a7e1ac5917a.png)

[2020-12-18 20:41] hensleyrob commented on #13916
+1 to getting this error on the NuGet Authentication task.

[2020-12-18 21:38] dorlandode opened #14106 "Issue Setting symbolsVersion"
## Note
I am using GitVersion which produces a Env variable called $(GitVersion.NuGetVersion).  I am trying to use this as the symbolsVersion, but it is not working.  Everytime it uses the $(Build.BuildNumber) variable instead.  I have a step that outputs the variable right before calling the PublishSymbols@2 task.  I have tried setting the symbolsArtifactName, symbolsProduct, and symbolsVersion.

[2020-12-18 21:46] dorlandode opened #14107 "symbolsVersion not working"
## Note
I am using GitVersion which produces a Env variable called $(GitVersion.NuGetVersion). I am trying to use this as the symbolsVersion, but it is not working. Everytime it uses the $(Build.BuildNumber) variable instead. I have a step that outputs the variable right before calling the PublishSymbols@2 task. I have tried setting the symbolsArtifactName, symbolsProduct, and symbolsVersion. None

[2020-12-18 21:46] #14106 closed

[2020-12-18 21:47] dorlandode commented on #14106
moved to new issue with more details.

[2020-12-18 22:08] berndgoetz commented on #13916
Same issues with with Gradle 6.7.1 build, Spring Boot 2.3.6:

##[warning]Resource file has already set to: /workspace/_tasks/Gradle_8d8eebd8-2b94-4c97-85af-839254cc6da4/2.178.0/node_modules/azure-pipelines-tasks-codecoverage-tools/module.json
##[warning]Resource file has already set to: /workspace/_tasks/Gradle_8d8eebd8-2b94-4c97-85af-839254cc6da4/2.178.0/node_modules/azure-pipelines-tasks-codecov

[2020-12-19 01:35] beatcracker commented on #12844
Just checked, I can still reproduce the issue using the example I provided in the description.

[code]

It works if I add ```target: host``` to checkout steps.

[2020-12-19 15:10] wouterroos commented on #13101
Please do not close this.

[2020-12-19 18:13] #12937 closed

[2020-12-20 00:16] jeffwilcox commented on #9458
Hey @awentzel, good to see you on here... did you ever make any progress? I hit this on a personal coding project over the break... sigh!

[2020-12-20 18:14] #12854 closed

[2020-12-20 18:17] czerwinskilukasz1 commented on #13946
Hello @chshrikh and @arjgupta , it's been a while since we submitted this issue.
Are there any updates?

I wish you Happy Holidays soon.
Best,
Łukasz

[2020-12-20 19:02] trajano commented on #12862
It needs a better error message that's for sure @AArnott comment at least let me realize what went wrong.

[2020-12-21 00:26] Yariksychov commented on #9458
Just a quick update from my side: issue got resolved after changing the plan for the web app services. Once I did that, the issue got resolved. Tried the same a few times more and experienced failed deployment on free plan only. Thank you.

[2020-12-21 04:52] eswarbudda commented on #14100
Any comments? Please let me know if my questions is not clear?

[2020-12-21 06:31] Ganeshrockz commented on #14067
@patriziobrunoms I tried the similar scenario and looks like the task reads secrets from variable groups

[code]

Both the variables `url` and `key` are present inside a variable group. `key` is a secret variable. This triggered the azure function in the expected manner without throwing a 401.

[2020-12-21 08:01] alexander-smolyakov commented on #14100
Hi, @eswarbudda!

Could you please re-run the pipeline with the “[Enable system diagnostics](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#configure-verbose-logs)” option enabled and share the following information:
- YAML file of your pipeline
- Pipeline logs with system diagnostics information

Thanks!

[2020-12-21 08:02] egor-bryzgalov commented on #13916
This issue has been resolved for the Gradle task in 2.179 version. I'll let you know once the fix is available.

[2020-12-21 08:38] maxim-lobanov opened #14110 "Adding support for more PyPy versions and installing them on-flight"
## Note
Recently, GitHub Actions task [actions/setup-python](https://github.com/actions/setup-python) was updated to allow installation of PyPy on-flight. We have changed syntax and now customers can specify exact PyPy and Python version via syntax like
[code]
We propose integration these changes to UsePython task too.
You can find detailed information in https://github.com/actions/setup-python/pu

[2020-12-21 11:54] patriziobrunoms commented on #14067
@Ganeshrockz Thanks for testing this out. I understand that you weren't able to reproduce my problem, which for my pipeline still persists. Is your key stored in the variable group or is it a reference to a keyvault. In my case the secret is stored in a keyvault.

To make the task work I had to use a work-around, which reduces the security of my pipeline. I added a task to a job running on an agen

[2020-12-21 11:59] Ganeshrockz commented on #14067
@patriziobrunoms  I didn't have them in a keyvault. I saw that you were able to print the value of the secret from the keyvault inside a script. This proves that the variable group gets the value from the Keyvault. If the variable is set properly in the VG then it should be accessible by the task. I can try reproducing this by placing it in a vault.

[2020-12-21 12:53] patriziobrunoms commented on #14067
@Ganeshrockz is there any way to make the AzureFunction task log a debug message with the key?

[2020-12-21 14:35] sgtwilko commented on #13101
This is also affecting us on a single stage pipleine.

[2020-12-21 14:52] alexweininger commented on #12195
Experiencing this issue as well. @ssensegar or @PaulVrugt what exact version of npm 7? And were you installing that in your dev environment or somehow forcing the pipeline agent to use npm 7?

[2020-12-21 15:10] #13144 closed

[2020-12-21 15:38] PaulVrugt commented on #12195
@alexweininger installing npm7 locally doesn't make sense since the error occurs in the pipeline. You can install npm7 during the pipeline process by using the following task before any npm command:
[code]

[2020-12-21 15:59] nuno-tiago-reis commented on #14075
@PatrickMessierGoC Could you please share the syntax of the **Additional MySQL Arguments** input that you're using? I'd like to use that input as well for a script but I can't figure out what syntax to use.

[2020-12-21 16:02] alexweininger commented on #12195
@PaulVrugt Thanks, I just tried adding that to my .yml and that task fails with the following error:

[code]

I'm not sure what's happening here.

[2020-12-21 22:54] avishnyakov opened #14117 "AzurePowerShell@4/5 fails on Ubuntu agents, unable to find az module"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-12-22 03:08] Ganeshrockz commented on #14067
We generally make use of the `System.Debug` variable by setting its value to `True`

[2020-12-22 03:53] kasunchandrasiri opened #14118 "New Location For Stable and Incubator Charts"
**Question, Bug, or Feature?**
Bug

## Issue Description
Error: error initializing: Looks like "https://kubernetes-charts.storage.googleapis.com" is not a valid chart repository or cannot be reached: Failed to fetch https://kubernetes-charts.storage.googleapis.com/index.yaml : 403 Forbidden

## Troubleshooting
The new location for the stable repository is https://charts.helm.sh/stable and the new

[2020-12-22 05:16] raswinraaj commented on #13451
@blake-mealey can you please let me know what was the misconfiguration in the service configuration? I am having the same issue as well. I have attached my settings
![env1](https://user-images.githubusercontent.com/50330414/102851841-d5c63880-4442-11eb-8e95-846d5cc3de59.jpg)
![resource](https://user-images.githubusercontent.com/50330414/102851842-d6f76580-4442-11eb-8f79-cc2f5fdaed5c.jpg)
![svcconn

[2020-12-22 05:31] raswinraaj opened #14119 "Helm deploy task fails with Environment in YAML Release Pipeline"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

HelmDeploy@0 tas

[2020-12-22 05:33] raswinraaj commented on #14119
I have event tried changing the service connection of type kubeconfig and manually updating it as well. I get the same issue even after trying that.

[2020-12-22 06:48] GiCManilaWerewolves commented on #14118
Is there any actions required when we're using Microsoft Hosted Agents?

[2020-12-22 08:44] tiwarishub commented on #13899
Hi @marcosfriasraet,
  Apologies for late reply, this seems to be connection issue. Is your machine able to connect to  https://login.microsoftonline.com ?

[2020-12-22 08:45] DaniilShmelev commented on #13824
Hi @frochi42 @elFarto @lamamakara!
We've added an option to restore original pom.xml file after maven task execution. It might take a few weeks for this change to be deployed

[2020-12-22 09:25] tiwarishub commented on #13797
hi @stas-sultanov / @RobertoBorges , we have merged and deployed. Please let us know, if you are still seeing this issue

[2020-12-22 10:00] tiwarishub commented on #13674
Hi @nandun5 , we have merged the fix . Please let us know if you are still seeing this issue

[2020-12-22 10:10] aidenfry1 commented on #14118
Is there any way that we know to work around this while waiting for a fix for the pipeline?

[2020-12-22 10:14] shashwath-m commented on #14118
i think we need to upgrade helm version to 2.17.0 minimum to make this work

anything below helm version 2.14.0 will give the same error.

[2020-12-22 11:23] patriziobrunoms commented on #14067
@Ganeshrockz it is set, and there's a log message with the full URL of the function, but the key querystring-parameter is empty. Is it empty because debug messages don't include secret variables? Or does it mean the variable is not received by the task?

[2020-12-22 12:58] Sanan07 commented on #14096
Hi. Has anyone looked at this issue?

[2020-12-22 13:04] aidenfry1 commented on #14118
Yes upgrade to 2.17.0 resolve for me. Thanks

[2020-12-22 13:36] anatolybolshakov commented on #14096
Hi @Sanan07
This repo is for pipeline tasks mostly, but as I see this error comes from Azure DevOps side - could you please create ticket on https://developercommunity.visualstudio.com/ to get right eyes on it?

[2020-12-22 13:47] Sanan07 commented on #14096
@anatolybolshakov Thank you for response. I created the one : [ticket](https://developercommunity.visualstudio.com/content/problem/1294096/exit-code-when-no-tests-discoveredexecuted.html).

This can be closed then.

[2020-12-22 13:47] #14096 closed

[2020-12-22 15:49] GiCManilaWerewolves commented on #14118
Server should be upgraded as well else subsequent HelmDeploy task would fail with error like below

Error: incompatible versions client[v2.17.0] server[v2.16.5]
##[error]Error: UPGRADE FAILED: incompatible versions client[v2.17.0] server[v2.16.5]

[2020-12-22 16:50] MZade commented on #13548
Dear, We try to upload a package and also get the HTTP 503 error as followed.
The package is about 500 MB (microsoft.dynamics.ax.application.devalm.buildxpp.10.0.644.10018.nupkg).
Could you please help us on this one as it is a really blocking point.

C:\Temp\Temp>**nuget.exe push -Source "Unified_Operations_Platform_Build_Artifacts" -ApiKey az C:\Temp\Temp\Packages\microsoft.dynamics.ax.applicati

[2020-12-22 16:54] soodputter opened #14127 "Tasks/VsTestV2 Keep TestSettings instead of deletion after the test run"
Task         : Visual Studio Test
Version      : 2.153.9
Author       : Microsoft Corporation
Help         : https://docs.microsoft.com/azure/devops/pipelines/tasks/test/vstest
==============================================================================

There is some tooling dependent on TestSettings file available with the results. Since some updates this testsetting are deleted after the test

[2020-12-22 17:23] jmegner commented on #6868
I think I have a workaround that is not so fragile: use a PowerShell script with wildcards to get the tools folder regardless of Xamarin.UITest version:

[code]

[2020-12-22 18:01] PatrickMessierGoC commented on #14075
@nuno-tiago-reis This what I used in the "Additional MySQL Arguments" field of the "Azure Database for MySQL Deployment" task but but it didn't work for - I believe - the reason detailed in the initial report.
`-e "set @DBDataBase='myDb'; set @dbUsername='myUsername'; set @dbPassword='myPassword';"`

[2020-12-23 01:48] GiCManilaWerewolves commented on #14118
Question: will this be fixed or are we forced to upgrade/update version?

[2020-12-23 02:14] harvinders opened #14128 "NuGetCommand fails to push packages - Provided block hash does not match computed value."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

*Type*: Bug

**Enter Task Name**: NuGetCommandV2
## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
https://dev.azure.com/TestEngineering-Resmed/Senna/_build/results?buildId=2811&

[2020-12-23 07:11] frochi42 commented on #13824
Hi @DaniilShmelev ,
that's wonderful news, thank you.
I had a brief look over the changes, and I think there is an issue. Correct me if I'm wrong.
The restore-action is applied at the end of the maven-task. That means, if the maven goal is "maven deploy" (what is very common I guess if you have to push the result artifacts to a maven repo), it is too late if the pom-file is restored afterwards.

I

[2020-12-23 12:08] DaniilShmelev commented on #13824
@frochi42, thanks for your feedback, I've completely missed that. We're going to explore our options here.

[2020-12-23 12:15] MZade commented on #13548
@phil-hodgson, could you please reopen this topic for further improvement as the GTTP 503 error during the upload is block8bg us from using some certain nuget packages which are crucial for our build process. Thanks in advance!

[2020-12-23 12:41] tiwarishub commented on #13797
Closing this thread as issue  is fixed. Feel free to open a new ticket if you see this error again

[2020-12-23 13:56] tiwarishub commented on #14032
Hi  @Turochamp, Please let us know if it worked with .NET 5.0 sdk

[2020-12-23 13:59] tiwarishub commented on #14021
Hi @iamalexmang , If you are still facing this issue then please share the yaml/Screenshot of your pipeline.

[2020-12-23 14:00] iamalexmang commented on #14021
My apologies. Will send you a set of YAMLs in a moment

From: Shubham Tiwari <notifications@github.com>
Sent: Wednesday, December 23, 2020 4:00 PM
To: microsoft/azure-pipelines-tasks <azure-pipelines-tasks@noreply.github.com>
Cc: Alex Mang <amang@keyticket.eu>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/azure-pipelines-tasks] Passing in an Array for OverrideParameters, in AzureRe

[2020-12-23 14:05] gnegnegne opened #14130 "GradleV2 fails with JaCoCo on multiproject build"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: GradleV2

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - Azure Pipelines

- Agent - Hosted or Private:

    - Self Hosted Agent on Windows 10, agent version 2.174.3

## Issue Description

Gradle task fails on multi project with JaCoCo enabled, error caused by set of a readonly property. The problem seems related

[2020-12-23 14:12] pacorreia opened #14131 "ARM template deployment v3 - Parameter overriding UI doesn't support Release.PrimaryArtifactSourceAlias in the path of source files"
*Type*: Bug

**Enter Task Name**: AzureResourceManagerTemplateDeploymentV3

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Azure Pipelines

    - Account Name: COFCOInternational
    - Team Project Name: Integration Platform
    - Build Definition Name: zema/adf-release

- Agent: Private

    - If using private agent, provide the O

[2020-12-23 14:21] Kolky commented on #12412
Thanks, that solved it for me!

[2020-12-23 15:16] Ganeshrockz commented on #14067
@patriziobrunoms We generally mask secrets when they get printed as logs. One way to test whether we get the value from the keyvault is to do a equality check in a separate task.

[2020-12-23 16:43] Kolky commented on #12412
Would love to see this resolved. Does not work for me with any kind of variable or parameter. Tried it all :(

[2020-12-23 16:56] Kolky commented on #12412
Same thing happens with; task AzureResourceGroupDeployment btw.

[2020-12-23 17:02] patriziobrunoms commented on #14067
@Ganeshrockz I have a separate task in a separate job that does equality check and the test returns true. The value of the secret from the keyvault is the expected one

[2020-12-23 20:13] kanika1894 commented on #14051
As discussed with @JensSuessmeyer, as it was a template issue, closing this issue.

[2020-12-23 20:13] #14051 closed

[2020-12-23 21:13] MuckT commented on #11864
As @whitleykeith mentioned Switching to CacheBeta@1 from Cache@2 reduced our cache download times significantly on identical builds with a total content size of 1.45GB.
| Version | Download Time |
| --- | --- |
| Cache@2 | 10:30 |
CacheBeta@1 | 6:04 |

[2020-12-23 22:18] JensSuessmeyer commented on #14051
After swapping and validating the template again, execution worked. Probably not a problem of the execution engine but the template. Thanks @kanika1894 and @bishal-pdMSFT for the support!

[2020-12-24 06:56] amit-avit commented on #4127
This issue is fixed now and has been deployed.

[2020-12-24 06:56] #4127 closed

[2020-12-24 08:00] 20shivangi commented on #14117
@avishnyakov We are not able to repro the issue. I ran the task with latest version of az module on Hosted ubuntu agent. It is passing for me.
can you please let us know which az module version you are using ?

![image](https://user-images.githubusercontent.com/45754171/103072704-17deae00-45ec-11eb-84e3-11d54a50b8a2.png)

[2020-12-24 08:24] max-zaytsev commented on #14044
Closed due to inactivity. Please feel free to reopen if you have any questions

[2020-12-24 08:24] #14044 closed

[2020-12-24 08:56] tiwarishub commented on #13895
Closing as retries are added for this and its released as well

[2020-12-24 08:56] #13895 closed

[2020-12-24 08:57] tiwarishub commented on #13797
Closing as issue  is fixed and deployed

[2020-12-24 08:57] #13797 closed

[2020-12-24 08:58] tiwarishub commented on #13674
Closing as this is resolved

[2020-12-24 08:58] #13674 closed

[2020-12-24 09:44] GerryWilko commented on #13746
I haven't had this issue for quite a while now but I did recently rebuilt all our Windows build agents. Not sure if its a docker update that fixed an issue or something but it doesn't seem to happen for me anymore.

[2020-12-24 10:06] tauhid621 commented on #13582
@mayankmaheshwari18 This does not look like an issue with AzureKeyVaultV1 task.

You are not assigning secret variable in right way.
Instead of "$CaptchaPrivateKey = $env:CaptchaPrivateKey", it should be $CaptchaPrivateKey = '$(CaptchaPrivateKey)'

[2020-12-24 10:06] #13582 closed

[2020-12-24 10:37] NaagAlgates commented on #14053
Yes. Thanks. You're right.

[2020-12-24 12:42] shashwath-m commented on #14118
Yes i forgot to mention about that. Thanks for pointing that

[2020-12-24 15:49] anatolybolshakov commented on #13836
Hi @d-miles did it ever work before in the pipeline? Is it still actual for you?

[2020-12-24 18:28] #13120 closed

[2020-12-24 23:31] xtez commented on #12172
Issue persists, reopening will help users to track the progress.

[code]

[2020-12-25 13:49] DaniilShmelev commented on #13860
Hi @js-hdl!
We've implemented a fix, but it might take a few weeks to roll out. I'll update you on the progress.

[2020-12-26 08:29] sayedsaad07 commented on #9789
Any updates on this issue please
I tried different combinations but nothing seems to work
Working-directory is ignored
even below does not work
dotnet restore ${{github.workspace}}/webapi

[2020-12-27 14:46] StephenHodgson commented on #13194
Bunp

[2020-12-27 16:53] dadakleinedler commented on #7654
I might be too late to answer but I encountered the same issue just today when setting up my Azure Pipeline; and I was able to fix it. I set up the task as "Azure App Service Deploy" and it is important to choose the correct subscription where the Container Registry and the App Service both under with (just like one of the comments pointed out in this post). My task looks like this in my yml file:

[2020-12-27 17:00] BrachyN commented on #14032
I have the same issue. the build works fine in local machine but failed in the Azure DevOps pipeline with:

We don't use docker in this pipeline.

@tiwarishub, it does not work with SDK .NET 5.0
@Turochamp, Did you solve the issue? If so, please share ....

[2020-12-28 00:32] #12480 closed

[2020-12-28 07:16] AmrutaKawade commented on #14091
@Warzinski can you try putting folder path in double quotes ?

[2020-12-28 09:25] BrachyN commented on #14032
The fix was to replace the package **System**.Data.SqlClient with **Microsoft**.Data.SqlClient and change nuget task in the build pipeline to 'dotnet restore'.
Thanks to my TL!

[2020-12-28 10:19] tiwarishub commented on #14032
Hi @BrachyN , thanks for suggestion. I think @Turochamp  is already using Microsoft.Data.SqlClient package. And before his docker build , his build with task in which .net sdk version is 5 worked fine for him.

Hi @Turochamp , please let us know your results.

[2020-12-28 11:37] tejaswivangaveeti commented on #4972
got error while run the build pipeline:
system.management.automation.runtimeexception: scan cannot be completed failed to login
in azure devops security static code analysis task

[2020-12-28 13:11] Warzinski commented on #14091
No, because the folder path isn't a parameter.  That just happens to be where our agents are located.  v4 doesn't have this problem, although I admit that I didn't see a difference in how the folders are treated.

[2020-12-28 15:47] klodoma commented on #9272
+1

[2020-12-28 15:51] klodoma commented on #9272
Any workaround to this one? Or do I have to remove everything we don't want before creating the archive?

[2020-12-28 18:28] #13145 closed

[2020-12-28 18:56] katiekloss commented on #14099
I'm also having this issue. In my pipeline, the VSTest2 task passes the TestCaseFilter parameter to vstest as:

`/TestCaseFilter:"FullyQualifiedName=CPP.Tests.Rules_CA_CADriverBase_DriverAgeMinimumValidation.Rules_CA_CADriverBase_DriverAgeMinimumValidation(CPP.Tests.Rules_CA_CADriverBase_DriverAgeMinimumValidation+DriverAgeMinimumValidationTestCaseData)"`

VSTest throws the error "An exception occ

[2020-12-28 19:03] alexander-smolyakov commented on #14100
@eswarbudda is this issue still actual to you?

[2020-12-28 19:10] katiekloss opened #14145 "VSTest task doesn't correctly escape TestCaseFilter argument"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Task Name**: [VSTest](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/VsTestV2)

## Environment
- Server - Azure Pipelines; account amtrust, project AmTrust, [build task group 897c078e-2b5a-409e-96a2-0f9264f74a74](https://dev.azure.com/amtrust/Amtrust/_taskgroup/897c078e-2b5a-409e-96a2-0f9264f74a74)

- Agen

[2020-12-29 00:09] dsusca commented on #8194
Any Update ? 12/28/2020 exactly the same problem.

[2020-12-29 07:33] EzzhevNikita commented on #13970
@chr0m1ng All the user defined variables is injected as environment variables for your platform. In case it seems that you are expecting that variable will be _framework_ but in fact it will be _FRAMEWORK_ because when variables are turned into environment variables, variable names become uppercase.
You can find more info about it [documentation](https://docs.microsoft.com/en-us/azure/devops/pipel

[2020-12-29 07:35] EzzhevNikita commented on #14004
@TheOnlyWei Is still actual issue for you?

[2020-12-29 07:37] amit-avit commented on #14101
The AzureRmWebAppDepolyment task uses the stacks api to fetch this list of runtimes:
{{{endpoint.url}}}/providers/Microsoft.Web/availableStacks?api-version=2016-03-01&osTypeSelected=Linux
We would need to notify the kudu team to update their api on their end.
@sanchitmehta can you please take a look.

[2020-12-29 07:41] georambo commented on #12831
+1 this request.  There should be some way to llimit the output.

[2020-12-29 09:15] TheOnlyWei commented on #14004
Nope it can be closed, sorry.

[2020-12-29 09:15] #14004 closed

[2020-12-29 12:21] AmrutaKawade commented on #14043
@mwc360 are you passing `-verbose` option in additional arguments?

![image](https://user-images.githubusercontent.com/65217380/103283408-7e096d80-49fe-11eb-8543-09a523414d10.png)

[2020-12-29 13:51] JimInNC commented on #14032
I'm having the save issue.  I am not using System.Data.SqlClient.  I am using Nuget 5.0.  I am doing this through an Azure Devops Pipeline.

[2020-12-29 16:56] BrachyN commented on #14032
@JimInNC , Are you using the 'Nuget Restore' task or the 'dotnet restore' task in the Azure pipeline?

[2020-12-29 17:50] Meir017 opened #14146 "Feature: Playwright task"
*Type*: Feature

**Enter Task Name**: Playwright

## Environment
- Server - Azure Pipelines

## Issue Description

provide utility task to use for installing playwright when running in azure-pipelines
could be based on https://github.com/microsoft/playwright-github-action

[2020-12-29 18:58] JimInNC commented on #14032
Do you have the yml block to do that with?

[2020-12-30 08:07] kmkumaran commented on #13170
@nadesu / @chshrikh - Can you review this.

[2020-12-30 08:35] nadesu commented on #13170
@AmrutaKawade - pls take a look. Did we miss triaging it earlier?

[2020-12-30 09:26] #13134 closed

[2020-12-30 09:28] AmrutaKawade commented on #13225
This is been fixed. closing this issue

[2020-12-30 09:28] #13225 closed

[2020-12-30 09:53] AmrutaKawade commented on #13607
@Divjyot Can you share your task yml for all 3 tasks?

[2020-12-30 09:57] AmrutaKawade commented on #13170
@andrew-sumner Is it possible to upgrade AzureDevOps server. the one which you are using is very old with older task version.

[2020-12-30 10:09] AmrutaKawade commented on #13946
@czerwinskilukasz1 Are you deploying both of your apps with UseWebDeploy option?

[2020-12-30 11:05] shoter commented on #13946
@AmrutaKawade please read the issue. Information to answer this question and other fix attempts is inside. Thank you.

[2020-12-30 12:27] tiwarishub commented on #14131
Hi @pacorreia, For override template parameter you need to select template and parameter file path using more option icon (...) and select the path  Or add the path using DEFAULT variables , then override template parameter option will parse the template parameters.

[2020-12-30 12:38] tiwarishub commented on #14032
Hi @JimInNC ,  Can you please share your pipeline logs with system.debug to true and you tried with .NET 5 sdk right ?

[2020-12-30 14:15] pacorreia commented on #14131
@tiwarishub I think you didn't get the entire picture on this issue

The fact is that, the UI is not able to solve the path to the template f and template parameter files when theri location are specified using variables as described earlier in this issue here's a screenshot of my issue description:

![image](https://user-images.githubusercontent.com/54323159/103356623-2d9b1a00-4aa9-11eb-9ad0-0d28

[2020-12-30 18:11] tiwarishub commented on #13899
Hi @marcosfriasraet , any update on this

[2020-12-30 18:18] tiwarishub commented on #14131
Hi @pacorreia, thanks for your response.
   Rendering of template params when path is mentioned with variables (not selected via more icon) , then only option is write to parameter template parameters to override in the textbox. Example``–storageName fabrikam``
Rendering of template parameter when path is mentioned with variables is not currently supported and it is per its design.
Is there any sp

[2020-12-30 18:21] tiwarishub commented on #14021
Hi @iamalexmang , If you are still facing this issue then please share the yaml/Screenshot of your pipeline.

[2020-12-30 18:47] pacorreia commented on #14131
@tiwarishub actually, there's a reason for it, a convention inside company to prevent hard coded paths whenever possible.

For us makes sense to have generic paths instead of customs ones, also for some reusability.

Since this is by design I would like you to consider for a future improvement.

[2020-12-31 00:44] andrew-sumner commented on #13170
I’ve got the latest version of azure devops server installed

[2020-12-31 03:05] niteenkole opened #14155 "install of 3rd party CLI works and then gets blocked if task is run multiple times"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-12-31 04:28] doittjdoughty opened #14156 "No Login Output Flag"
https://github.com/microsoft/azure-pipelines-tasks/blob/37b7beed4f89a64e51b2fcc8fe50eb6cc900e680/Tasks/AzureCLIV2/azureclitask.ts#L137

We have dozens of pipelines running over 100 Azure subscriptions and each time our pipelines run the AzureCLI@2 task is used to log into Azure all of our subscriptions are logged to the pipeline output. This means that the important pipeline content that we care a

[2020-12-31 07:37] nishantms commented on #12850
@pi3k14
We had tried a closed preview of the capability to view code coverage details for a build. Based on the feedback and monitoring of the limited usage, we have now taken it back.
The behavior you are observing above is not a bug, it is the by design behavior as of now. @anshii03 shared the available alternatives earlier on this thread.

We don't have a timeline to share for when we may be wo

[2020-12-31 10:52] Turochamp commented on #14032
Hi @bishal-pdMSFT and @tiwarishub
I've tested changing the dockerbuild net sdk to 5 and it works.

The issue is now resolved. Thanks!

[2020-12-31 10:52] #14032 closed

[2020-12-31 11:13] k-farhan commented on #14105
So, the issue was OpenSSL has been updated and we encrypt the key with old openSSL version.

[2020-12-31 11:13] #14105 closed

[2020-12-31 14:51] gabrielmccoll opened #14157 "AzureFunctionApp@1 doesn't seem to honor the zip file name for deploying to kudu"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2020-12-31 15:13] #13135 closed

[2020-12-31 15:13] #11521 closed

[2020-12-31 17:04] junalmeida opened #14158 "PublishPipelineArtifact fails when using .artifactignore"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishPipelineArtifact

## Environment
- Server: Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    - account: permission-click
    - project: permission-click
    - build-definition: app
    - build-number: #2020.12.31.7

- Agent: Hosted
    - If usin

[2020-12-31 21:30] bishal-pdMSFT commented on #14131
@pacorreia
1. Agree that a generic path makes it easier to keep things generic
2. But the root cause is not with ARM deploy task. At design time, the task uses functionality exposed by UI platform and that itself does not support any other variable except `$(System.DefaultWorkingDirectory)`
3. This limitation is by design as at design time many system variables do not exist (they only get alive du

[2020-12-31 21:55] bishal-pdMSFT commented on #13899
The error mostly looks to be a proxy issue: `(Caused by ProxyError('Cannot connect to proxy.'`
@marcosfriasraet
1. If your proxy setup is new, you can configure the ADO agent to use the proxy when running tasks
2. If the proxy settings were already there, I would suggest you to get in touch with your networking team to ensure that proxy is not issue, Also, ensure that credentials specified in ADO

[2021-01-01 17:15] e3b0c442 opened #14159 "GoTool: Unable to install go1.16beta1"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-01-02 14:58] Suhas-Chandrashekar commented on #12305
Hi @eaarora-ms , Am still facing the same issue. I am using ARM template to create the function Apps.
"name": "APPINSIGHTS_INSTRUMENTATIONKEY",
 "value": "[reference(concat('Microsoft.insights/components/', variables('ApplicationinsightsName'))).InstrumentationKey]",
"slotSetting": true

The Deployment slot settings are not enabled after the execution. Could you please help?

[2021-01-02 20:48] shayl commented on #12611
still waiting for a response...

[2021-01-02 23:09] hannwang1 opened #14160 "Please upgrade Az module to 4.8.0 and above and Az.Accounts to 1.9.5 and above"
The latest Az module is 5.3.0 and Az.Accounts module is 2.2.2, but the Azure Powershell v5 task only has Az 3.1.0 which is almost one year old.  Many Azure Powershell cmdlet are not available in this old version.  For example, I need to create a pipeline to config Azure databricks,  the Az.Databricks module only work with Az.Accounts version >= 1.9.5.

Please upgrade Az module to latest released v

[2021-01-03 15:54] shayki5 commented on #6314
We also faced this issue.
Any ETA for fix?

[2021-01-03 20:43] JimInNC commented on #10181
@Valay14 This has to be set at the service app level.  Go to the App Service in your Azure Portal.  On the left hand navigation, look for Settings section and click on Configuration.  There on the landing screen you can add AppSettings variables.

[2021-01-04 02:33] ayeltsov opened #14162 "DotNetCoreCLI@2 publish task does not respect "nobuild: true" and "configuration: Retail""
## Required Information

**Bug**

**Enter Task Name**: DotNetCoreCLI@2 (with command:publish nobuild:true)

## Environment

    - Server - Azure Pipelines

    - Account name, team project name, build definition name/build number: will be happy to provide in private message

## Issue Description

dotnet publish task below has **nobuild: true** specified

[code]

When this is built, nobuild is not

[2021-01-04 04:28] OK-UNDP commented on #13233
Hi, I had to use a workaround of zipping/unzipping to preserve permissions, but is there a better way?

[2021-01-04 04:30] chshrikh commented on #14045
please provide more details on scenario for better understanding the issue

[2021-01-04 04:31] #14131 closed

[2021-01-04 04:33] tiwarishub commented on #13899
closing this as we have not received any response. Please feel free to open a issue, if you face this issue

[2021-01-04 04:33] #13899 closed

[2021-01-04 05:41] suyash691 commented on #13945
@iansul Is the issue resolved for you?

[2021-01-04 05:51] suyash691 commented on #8979
We pick up feature requests based on popular demand, as of now this is low priority in our backlog.

cc: @shashban

[2021-01-04 06:21] amit-avit commented on #14160
There is already a plan to make the newer modules available.
Meanwhile as a workaround you can add a step before AzurePowerShell task to add a PowerShell Script task with inline script to download the required module:

For Linux:
`
Save-Module -Path /usr/share/az_5.3.0 -Name Az -RequiredVersion 5.3.0 -Force -ErrorAction Stop
`

For Windows:
`
Save-Module -Path C:\Modules\az_5.3.0 -Name Az -Require

[2021-01-04 07:17] pi3k14 commented on #12850
<sarcasm> I wonder why a closed preview had limited usage </sarcasm>

[2021-01-04 09:22] balanza opened #14165 "NpmV1 publish scoped packages with public access"
**Feature**

**Enter Task Name**: Npm@V1 (with command=publish)

## Environment
- Server - Azure Pipelines
- Account name, team project name, build definition name/build number: will be happy to provide in private message

- Agent - Hosted or Private:
  - `ubuntu-latest`

## Issue Description

When publishing a scoped package there's no option to tell `npm` which kind of access it needs to assign.

[2021-01-04 10:22] oliverchristen opened #14167 "Unable to locate executable file: 'iotedgedev'"
*Type*: Bug

**Enter Task Name**: AzureIoTEdgeV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted
vmImage ubuntu 20.04.1
agent version 2.179.0
AzureIoTEdge task version 2.4.5

## Issue Description
##[error]Error: Unable to locate executable file: 'iotedgedev'. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable

[2021-01-04 10:45] photomoose opened #14168 "Nuget Push to Github Packages fails with 401 Unauthorized"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- NuGetCommandV2
- DotNetCoreCLIV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

When using a Nuget Service Connection, the Azure Pipeline tasks add the "--api-key" switch to the nu

[2021-01-04 10:46] photomoose opened #14169 "Nuget Push to GitHub Packages fails with 401 Unauthorized"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:
- NuGetCommandV2
- DotNetCoreCLIV2

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

When using a Nuget Service Connection, the Azure Pipeline tasks add the "--api-key" switch to the nu

[2021-01-04 14:11] kamal1203 commented on #5831
For me the issue was that i had invalid Arguments. Removed those and it worked.

[2021-01-04 14:44] Duracell1989 opened #14170 "Artifacts can't be found if artifactname and containerfolder aren't the same"
# Required Information
I'm not sure if this is a _bug_ or that I'm doing something wrong (_question_).

## Environment
- Server - Azure Pipelines
- Agent - Private
  - Agent.Version: 2.175.2
  - Agent.OS: Windows_NT
  - Agent.OSArchitecture: X64
  - Agent.OSVersion: 10.0.17763

## Issue Description
I'm trying to move my Azure pipeline (yaml) build towards Nuke.
Via Nuke; we're uploading artifacts

[2021-01-04 15:12] #11922 closed

[2021-01-04 15:26] nishantms commented on #12850
@shashban Can you please help @pi3k14 with the query.

[2021-01-04 16:11] MasterEmit opened #14171 "Xamarin.iOS C# 9 - Invalid option '9' for /langversion - MacOS Hosted Agent"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: XamariniOS

## Environment
- Server - Azure Pipelines

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private:

    - Agent name: 'Azure Pipelines 3'
    - Agent machine name: 'Mac-16097646

[2021-01-04 17:21] bgk0018 opened #14173 "AzureResourceGroupDeployment@3 TemplateLink ID can only be used with api-version '2019-11-01' or later"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureResourceGroupDeployment

## Environment
Server - Azure Pipelines or TFS on-premises?
    Azure Pipelines

ben.kennedy@cecentertainment.com
Reservations
PPPFunnel
20210104.6

Agent - Hosted or Private: Hosted

## Issue Description

Running `AzureResourceGroupDeployment@3` returns an error on ARM template

[2021-01-04 17:41] doittjdoughty commented on #14156
Hi @bishal-pdMSFT Any thoughts on this? It would be extremely helpful to organizations/enterprises with more than one Azure subscription to limit the login output to a few lines instead of thousands of lines.

[2021-01-04 17:44] balanza commented on #14165
It seems there's a workaround that just get things done:
[code]

Basically, use a custom command to solve the problem.

[2021-01-04 23:13] fabio-muramatsu opened #14174 "AzureResourceGroupDeployment validation failing with Forbidden error"
*Type*: Bug

**Enter Task Name**: AzureResourceGroupDeployment@2

## Environment
Azure Pipelines
* Organization: onedrive
* Project name: OneDrive Service
* Build definition id: 4655
* Build id with repro: 8759490

Hosted Agent
* Queue name: Azure Pipelines

## Issue Description
We've started getting Forbidden errors in our AzureRM validation task using `AzureResourceGroupDeployment@2`. This task

[2021-01-05 06:19] #13018 closed

[2021-01-05 06:20] #13355 closed

[2021-01-05 06:20] #13076 closed

[2021-01-05 06:42] AmrutaKawade commented on #13170
@andrew-sumner Are you facing this issue with latest server?

[2021-01-05 07:23] AmrutaKawade commented on #14157
@gabrielmccoll Can you try deploying using REST API and check if zip file name persists.
https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push#rest