[2021-04-23 05:48] Shafi263 commented on #14763
@AmrutaKawade I have already used above task (File transforms and variable substitution). But still defined variables have not been replaced with respective values in XML file (Web.config)

[2021-04-23 05:51] AmrutaKawade commented on #14752
@bilalmalik777 while archiving you can archive contents inside build folder instead of whole build folder like this

[code]

or

while deploying give path till wwwroot

[code]

[2021-04-23 05:56] AmrutaKawade commented on #14763
`Variable substitution takes effect only on the applicationSettings, appSettings, connectionStrings, and configSections elements of configuration files.`

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/transforms-variable-substitution?view=azure-devops&tabs=Classic#xml-variable-substitution

[xml-variable-substitution-example](https://docs.microsoft.com/en-us/azure/devops/pipelines/

[2021-04-23 06:04] Shafi263 commented on #14763
then how to perform variable substitution out side above mentioned sections in configuration files. Please suggest.

[2021-04-23 06:11] ds-ms commented on #14768
The command section of the task is flexible, we added a generic handler for all the other commands (i.e. the ones not listed in task.json).
Add the exact snippet of pipeline.yaml you added to the description; it'll work out for you.

[2021-04-23 06:38] greengumby commented on #14754
Yes @AmrutaKawade you can see from above it definitely is replacing the right element.

[2021-04-23 08:11] leepowelldev opened #14774 "Npm@1 Publish support --dry-run with Azure Feed"
Hi

We have a step in our pipeline like this:

[code]

However we'd like the ability on occasions to use `--dry-run` flag when we're testing our pipelines. Could this be considered as a new feature?

[2021-04-23 11:25] royforeman commented on #8076
@kmkumaran What is the latest with array and object substition not working in IIS Web App Deploy? It does work with the File Transform Task?
Examples
variable application.hosts                     value ["Alpha", "Beta" ]  only works in File transform
variable application.settings.alpha       value { } also only works in File transform

[2021-04-23 11:49] kaysho commented on #10851
I'm facing this same situation after following @alexander-smolyakov workaround.

[2021-04-23 11:53] chshrikh commented on #8076
@AmrutaKawade to check this

[2021-04-23 13:14] loxy commented on #12892
Same here for Maven:

[code]

[2021-04-23 13:24] jasric89 commented on #14677
I did that and it didn't work, I got the same syntax error.

[2021-04-23 13:52] jasric89 commented on #14744
Can I get an update please?

[2021-04-23 15:49] anatolybolshakov commented on #14130
Hi @gnegnegne we have rolled out related changes - you can set 'gradle5xOrHigher' currently - to signalize that you use Gradle >= 5.x if there is JaCoCo code coverage enabled.

[2021-04-23 15:50] anatolybolshakov commented on #14130
Let me close it at the moment since it's resolved - please let us know if you have any further questions!

[2021-04-23 15:50] #14130 closed

[2021-04-23 15:51] anatolybolshakov commented on #14514
Hi @anupam128 we have rolled out related changes - closing it at the moment since it's resolved, please let us know if you have further questions.

[2021-04-23 15:51] #14514 closed

[2021-04-23 16:20] TekuSP commented on #12728
Bad bot, no closing, make devs work.

[2021-04-24 09:02] #13743 closed

[2021-04-24 11:47] marcelljung commented on #10969
Hi,

I am getting error with that the agent cannot access the file on GitHub even though the link works in a browser.
I am following the guides from azure docs and it still throws this error:
##vso[task.issue type=error;]Failed to download the file. URL:

[2021-04-24 16:23] anuragc617 commented on #14677
@jasric89 Can you please share the latest logs with the suggested changes in task? Are you seeing this line in logs `az webapp create --resource-group ClassroomInTheCloud --plan Visual Studio Professional Subscription (237bc9da-22ad-49ea-8411-6cf6a190c18f) --name %1'`. ?

[2021-04-24 19:25] lbouriez commented on #13350
Any workaround ?
The ${{ variables.XXX }} doesn't work in our case :/

[2021-04-24 23:41] Zachery2008 commented on #13350
Did you check out my above comment? You can save the variables in the group and import it.

[2021-04-24 23:46] lbouriez commented on #13350
Yes, i used this one for the moment but my stage is inside a template and i wanted it to have the variables too... Not to load the variables group from the top of the pipeline :(

[2021-04-25 07:54] psdewar2 opened #14775 "Clang error in gRPC-Core and xcodebuild failed with return code: 65"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Xcode@5

## Environment
- Server - Azure Pipelines
    - Account name: psdewar2@live.com
    - Organization: hacksnextdoor
    - Project name: Lyrist
    - Build: #20210425.10 Update pipeline-ios.yml for Azure Pipelines

- Agent - Hosted
    - Not sure where to find agent queue name. Pipeline name is **Lyrist CI-ios**.

## Issue

[2021-04-25 11:14] devizer opened #14776 "[Bash task] explicit 'failOnStderr: false' is ignored on self-hosted agent on Windows ARM64"
**Bug**: explicit 'failOnStderr: false' is ignored on self-hosted agent on Windows ARM64, but works on self-hosted agent on Linux and on a hosted agent on windows

**Task Name**: Bash

## Environment
Self Hosted Agent 2.184.1, 2.184.2, both x86 and x64
OS: Windows 10 ARM64 Insider Preview 21359

Direct link to the step: https://devizer.visualstudio.com/Universe.CpuUsage/_build/results?buildId=1930

[2021-04-26 00:12] ElvenSpellmaker commented on #12002
How do we remove the stale tag?

[2021-04-26 00:13] ElvenSpellmaker commented on #12002
It's ridiculous Microsoft can just close stuff with a bot without any interaction from people.

[2021-04-26 04:41] JacekMSFT opened #14778 "Java Tool Installer task is not respecting jdkDestinationDirectory"
## Note
Java Tool Installer task is not respecting jdkDestinationDirectory and always creates a folder inside it with name "JAVA_HOME_8_X64_".

For a given:
steps:
- task: JavaToolInstaller@0
  displayName: 'Use openjdk'
  inputs:
    jdkArchitectureOption: x64
    jdkSourceOption: LocalDirectory
    jdkFile: AndroidExternalTools/OpenJDK.zip
    jdkDestinationDirectory: 'C:\Program Files\Unity\Hub

[2021-04-26 05:17] ninallam commented on #14650
@ajinkya599 If we meed a quick mitigation, let's have a similar task input for all the versions of the task.

[2021-04-26 05:23] shigupt202 commented on #14731
You can specify the cpu count in your pod spec, or use the [limits](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands) flag in the arguments.

[2021-04-26 07:27] musema commented on #14712
@anuragc617 We are facing the same issue, the challenge is how can we effectively define an` integer` variable in Azure DevOps Classic release pipeline and pass as override parameter to **ARM template deployment** [task](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureResourceManagerTemplateDeploymentV3/README.md)? This task is assuming the value as `String`
**Task versio

[2021-04-26 08:19] ingemarson opened #14779 "xcode task: test-without-building"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: XCode Task: test-without-building

## Environment
Azure Pipelines, Hosted agent

## Issue Description

Is it possible to run: **test-without-building** with the provided XCode Task? If not, is it planned to support in near future?

[2021-04-26 09:12] tomkuijsten commented on #14766
Anyone?

[2021-04-26 13:51] danieeis commented on #9954
I have the same issue, my tab is empty but the files is generate in an artifact
It doesn't even show me to download the results
The code coverage tab empty
![image](https://user-images.githubusercontent.com/12900146/116093057-5a84c580-a674-11eb-948a-86940ecfd6e7.png)

The code coverage report generate
![image](https://user-images.githubusercontent.com/12900146/116093156-71c3b300-a674-11eb-9aad-d12

[2021-04-26 14:22] TekuSP commented on #9954
@danieeis Welcome to the club. They don't care.

[2021-04-26 17:12] stewartadam commented on #14167
Since specific version of Python and/or dependencies are required, can this task be moved to using a Docker container?

[2021-04-26 17:55] johnmckenna commented on #14768
@ds-ms  thank you for your reply, I'm having trouble with this and kubelogin and was wondering if you could help, here's what I have:

    - task: AzureCLI@2
      displayName: Connect to AKS
      inputs:
        azureSubscription: ${{ parameters.service_connection }}
        scriptType: bash
        scriptLocation: inlineScript
        addSpnToEnvironment: true
        inlineScript: |

[2021-04-26 22:32] gotjaytoday opened #14780 "code for run this task condition"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-04-27 08:28] harshiniks commented on #14320
I tested this with Jenkins server 2.6 and later upgraded it to 2.7 and could reproduce the issue. After debugging, issue seems to be with Jenkins server compression, artifacts folder that gets downloaded from Jenkins has all the files but the type of the file is missing in its metadata which is resulting in this failure.

Example file detail from debugging:
 FileDetails {
    _offset: 418,
    _ma

[2021-04-27 12:36] nick5454 commented on #10839
Please fix this, this is the problem with classic. Cake always works

[2021-04-27 13:12] johnmckenna commented on #14768
@ds-ms  I have tested this, but I get the following error -o json is not suppoted for kubectl diff:

==============================================================================
Task         : Kubectl
Description  : Deploy, configure, update a Kubernetes cluster in Azure Container Service by running kubectl commands
Version      : 1.181.0
Author       : Microsoft Corporation
Help         : https

[2021-04-27 13:22] johnmckenna commented on #14768
@ds-ms I think adding diff to this line would work, is that right?  Thanks

https://github.com/microsoft/azure-pipelines-tasks/blob/c345a936435f9f21eb81f39065999f56322a67bd/Tasks/KubernetesV1/src/kubernetescommand.ts#L95

[2021-04-27 19:32] begroff commented on #14637
Andy,

Sorry for the late reply. We ended up solving our problem in a couple of ways.

First after our update to the ADOS version mentioned in the ticket, we noticed that during builds our agent version was reverting back from version 2.184.1, to version 2.170.1 and multiple PowerShell tasks were failing. What we ended up doing is installing the agent version 2.170.1 directly and that seemed to fi

[2021-04-27 21:10] johnmckenna commented on #14768
I added a PR for this one, can someone help to review, please?  Sorry, I didn't seem to have permissions to add reviewers or set the label as mentioned in the https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/contribute.md
I converted it to a draft to see if I could make changes, but I couldn't and now can't change it back from draft either, thanks!

[2021-04-27 22:57] 50Wliu opened #14784 "[UniversalPackages@0] Support cache directory when downloading"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: UniversalPackages@0

## Environment

Sorry, but I don't think I can share this...

## Issue Description

The UniversalPackages task leverages artifacttool.exe to do the actual downloading, which supports caching th

[2021-04-28 06:55] greengumby commented on #14754
I think the problem is due to the Json.Parse as the array does not conform?

[2021-04-28 07:25] greengumby commented on #14754
Sorted.. json did not actually conform to standard..

[2021-04-28 07:25] #14754 closed

[2021-04-28 07:56] harshiniks commented on #14320
Workaround is to downgrade Jenkins.
We will reopen this if we hear back from Jenkins end.

[2021-04-28 09:13] peterjgrainger opened #14786 "PublishTestResults task Warning `Failed to read` should fail task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Feature

PublishTestResults@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Issue Description

If test results can't be parsed there is currently a warning. This should be a failure of a task, or a

[2021-04-28 11:11] andy-mishechkin commented on #14780
Hello, @chshrikh
As far, as I understood - you try to add PowerShell task in classic editor.
"Run this task" this is a feature of Azure DevOps, not of PowerShell task.
We have no access to Azure DevOps source code.

Thank you.

[2021-04-28 12:01] vladislav-ryzhov commented on #13980
Hi @SqueedWalz
A fix for this issue has been added and will be available within 4 weeks.
I'll let you know when it's deployed.
Related PR: https://github.com/microsoft/azure-pipelines-tasks/pull/14625

[2021-04-28 12:03] nick3389 commented on #14278
@anatolybolshakov We need to re open this because the keychain issue was fixed as I enabled keychain sharing in the hosted app in my project. But again many tests are failing and I can't understand why...

[2021-04-28 14:10] tomaustin700 opened #14787 "Inconsistency between building using VS2019 locally and using Visual Studio Build task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VSBuildV1

## Environment
Azure Pipelines

Account Name: Streets-Heaver
Team Project Name: TA Build Issue
Build Definition Id: 351

- Agent - Hosted or Private:
Private - Windows 10 Enterprise 2004 - 2.183.1

## Issue

[2021-04-28 18:20] dfbaskin commented on #13971
The build is still failing, but for a different reason now (after the upgrade of npm):

[code]

[2021-04-28 22:50] annieEllenberger commented on #12521
Not stale. Running into this and don't have the option of "deleting and re-creating the distribution group" as this should work for the default "Contributors" group!

[2021-04-29 05:50] rick20 commented on #13552
Is there any solution to this issue?
I need to run a deployment script on the container as part of our deployment process.

[2021-04-29 06:29] japj opened #14789 "DeleteFiles fails on NetApp SnapMirror Volume with "EISDIR: illegal operation on a directory, lstat""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DeleteFiles

## Environment
- AzureDevOps Server Dev18.M170.8
- Private Agent:
  - Windows Server 2019
  - Agent 2.175.2
  - DeleteFiles task 1.166.2

## Issue Description

Artifacts of a build that are stored on a Net

[2021-04-29 06:36] japj commented on #14789
@vladislav-ryzhov unfortunately after testing #14459 with a Windows Server 2019 agent I ran into this other issue

[2021-04-29 07:06] japj commented on #14789
it seems my initial assumption of it being tied to a certain nodejs version was not correct.
during retesting it failed on all node versions, but there is higher chance of success when re-running the `fs.realpathSync` call multiple times

[2021-04-29 08:15] mike-thompson-h commented on #14085
I am experiencing the same issue as well, but with version 5.9.1. An earlier version works, but I need a later version to run with .net 5.0

[2021-04-29 09:08] patotskiy commented on #14731
Hi @shigupt202 ,could you please explain how to do this?

[2021-04-29 09:42] t-l-k commented on #13552
@rick20  if you're using the `az webapp create-remote-connection` then the workaround which worked for me (from memory) was using `setsid` and `kill`, found in the OP troubleshooting script. This is the abridged example, missing the ssh key & `known_hosts` dance :

[code]

[2021-04-29 09:51] mike-thompson-h commented on #14085
@gcedil What Build agent is using this pipeline? This version of Nuget might need installing on that machine

[2021-04-29 13:01] shigupt202 commented on #14731
Can you put all your arguments in a single string, in one line instead of separating them by newline? Also, if `limits` flag is deprecated, you can raise an issue on `kubectl` repo and ask their team about how to provide limits through commands. This is not something that the task can control.

[2021-04-29 13:18] patotskiy commented on #14731
@shigupt202 When I use local Kubernetes cluster (same version as on cloud), I see this property --limits, but on cloud this property doesn't present in --help output. Look like that Microsoft has own build of Kubernetes server version 1.19.7 version

[2021-04-29 13:49] willynagel commented on #14173
We have this issue for months already. Waiting patiently for this issue to be resolved. When can we expect a solution?
We have dozens of DSC tasks in Azure DevOps that give these errors.

[2021-04-29 14:06] #14085 closed

[2021-04-29 14:45] nick3389 commented on #14278
@anatolybolshakov Finally we can close this. The issue I was getting was this one:
`Internal error when a required entitlement isn't present, client has neither application-identifier nor keychain-access-groups entitlements.`
The solution was to manually sign the application that is hosted in the project, install the provisioning profile as a pipeline task and select the Project Defaults options i

[2021-04-29 15:16] shigupt202 commented on #14731
The cluster you connect to are specified in your service connection. So, that cluster is owned by you. You can control the version, or maybe try with another cluster which has an old/same version of the API server.
You can also try changing the kubectl version so that it matches your local kubectl version. The task has an input for that. You can also use KubectlInstallerV0 task for this.

[2021-04-29 21:40] marlenabowen commented on #14487
Would love to see this fix released soon so that the task will fail if it finds that the package already exists.

[2021-04-30 01:38] Craigoss commented on #14594
We are also getting this same error since updating to 16.9.4. Is there an update on this issue?

[2021-04-30 05:14] chshrikh commented on #14763
@Shafi263 unfortunately as per design of task the scenario you are asking is not supported. We will track this as enhancement request

[2021-04-30 05:15] chshrikh commented on #14761
@winklevos if is possible for you to share the task execution detailed logs so that we can debug this further

[2021-04-30 05:16] chshrikh commented on #14752
@bilalmalik777 did suggetion from @AmrutaKawade helped you to unblock

[2021-04-30 06:23] #14325 closed

[2021-04-30 06:44] bilalmalik777 commented on #14752
so far, we did not apply @AmrutaKawade recommended changes in the YAML file, next week, soon I will update here after making changes in the file either the issue fixed or not.

[2021-04-30 07:01] #14780 closed

[2021-04-30 08:59] EzzhevNikita commented on #14670
@DVGY  Is it still an actual issue for you or we could close that case?

[2021-04-30 09:54] DavidAtTfL commented on #14536
@ddivanshu thank you for the update and the prognosis!

Although as you say this doesn't affect pipeline behaviour, it definitely affects developer behaviour! Our pipelines are drowning in false alarms and it has already become the cases the our teams just ignore warnings on pipelines now ("oh that's just another bug with the task"). False warnings are more than a nuisance.

All this to really jus

[2021-04-30 12:25] Shafi263 commented on #14763
@chshrikh Thanks for the update

[2021-04-30 14:03] patotskiy commented on #14731
Version of Kubernetes Server and Kubernetes Client in cloud:
==============================================================================
			Kubectl Client Version: v1.21.0
			Kubectl Server Version: v1.19.7
==============================================================================

Local version:
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a

[2021-04-30 14:06] shigupt202 commented on #14731
Can you please raise an issue on kubectl repo and mention this issue there? The problem seems to be out of the scope of this task.

[2021-04-30 18:09] #12796 closed

[2021-04-30 23:19] aaronla-ms opened #14793 "UseDotNet@2 task failed on 503, didn't retry appropriately"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-05-01 12:02] #8651 closed

[2021-05-02 01:27] AArnott commented on #10264
This is still worth fixing.

[2021-05-02 01:28] AArnott commented on #13821
It would be great to hear if this aligns with the product team's backlog.

[2021-05-02 03:20] focusedq opened #14794 "HI, I am trying to add application insights and i am getting this error. Failed to enable continuous monitoring. Error: Error: Failed to update Application Insights 'CICD' Resource. Error: BadRequest - WorkspaceResourceId can be set only on api-version 2020-02-02 (CODE: 400)"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-05-02 10:00] john-forrest commented on #14320
@harshiniks could you post the reference to the Jenkins ticket you have I assume by now raised?

[2021-05-02 15:03] #10399 closed

[2021-05-02 21:53] gokhancelik commented on #14171
I sorted this issue using my own msbuild script that uses visual studio msbuild.
I created a msbuild file in the root of the solution folder like this
[code]
I used this msbuild script for **Build path tool** property of the Xamarin.iOS task.
![image](https://user-images.githubusercontent.com/4319348/116828749-4c213700-aba9-11eb-8cc5-af08b265a058.png)

You should add visualstudio to demands list o

[2021-05-03 05:22] NinadKavimandan commented on #14677
Hi @jasric89 can you please share the latest logs for investigation?

[2021-05-03 05:25] NinadKavimandan commented on #14766
Hi @tomkuijsten, apologies for the delayed response. Is this happening for only the first pipeline runs? Does the deployment succeed in subsequent runs? Is this observed when you deploy using az cli as well?

[2021-05-03 05:43] chshrikh commented on #14761
in case issue still persists, please feel free to reopen with debug logs

[2021-05-03 05:43] #14761 closed

[2021-05-03 06:12] chshrikh commented on #14663
@eocrawford could you please run the given script manually, we are suspecting if you run manually the given script you will still get the same error, this is specific to the target how you have configured

[2021-05-03 11:36] PaulVrugt commented on #13832
Yeah great that this issue has been marked as stale. The reason for this is the lack of any response to the question

[2021-05-03 11:39] gthvidsten opened #14795 "VsTest Code Coverage is not published as artifact"
*Type*: Bug
*Task name*: VSTest

## Environment
*Server*: Azure Pipelines
*Account name, team project name, build definition name/build number*: Can be provided on demand. I do not want to share business information here.

*Agent*: Private
| Agent variable | Value |
|-- | -- |
| Agent.Version | 2.168.2 |
| Agent.OS | Windows_NT |
| Agent.OSArchitecture | X64 |
| Agent.OSVersion | 10.0.14393 |

##

[2021-05-03 13:56] marianan commented on #14167
Thanks @stewartadam, your suggestion has been added to our backlog. As there are no recent symptoms of this issue, I am closing it.

[2021-05-03 13:56] #14167 closed

[2021-05-03 14:21] DillonAd opened #14796 ".NET 5 Function Deployment"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: AzureFunctionApp@1

## Environment
- Server - Azure Pipelines
   - Account Name: Momentum3
   - Project Name: Customer-Cloverleaf
   - Build Definition Name: Web
   - Build Number: 12150

- Agent - Hosted or Priva

[2021-05-03 14:21] choukimasri opened #14797 "Azure ADF Complete Deployment Stalls"
Hey,

I think my ADF Full deployment is stalling because the task isn't verifying locks on resource group and is trying to remove the old ADF without sucess.

I also have a problem where I cannot deploy without disabling all triggers.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Deploy ADF

## Environment

Azure Pipelines

- Agent - Hosted

### Error logs

No errors, runs infi

[2021-05-03 15:02] dirtygooback commented on #13455
This is currently not working for me, regardless of how I structure the dependencies

[2021-05-03 19:42] LanceSandino commented on #14322
bump

[2021-05-03 23:00] snapfisher commented on #13729
This should be re-opened @kurt-hardy

There is something going on here and it has to do with version 4 interfacing with older storage accounts.  I have a pipeline, it copies a file to two storage accounts in two different subscriptions.  It's a demo.  I had not used it for a while -- months, and both subscriptions gave me issues.  I created new storage accounts and use them and all works fine.  Th

[2021-05-04 00:02] danquirk opened #14799 "vstest reports passing tests into Summary as errors due to rerun"
**Question, Bug, or Feature?**
*Type*: Bug

Task Name**: vstest

## Environment
- Agent - Hosted

## Issue Description
I'm using vstest to execute xUnit tests in an ADO hosted pipeline. I have set rerunFailedTests=true and tests are correctly rerun. However, for each individual test failure ADO adds an error line to the Summary page of the build job. This means the list of errors for every build i

[2021-05-04 02:15] andreacapriplexure commented on #14365
Hello is anyone going to look at this issue it is a real blocker. I'm not sure why it was removed from bugs, @chshrikh without any reasoning.

[2021-05-04 02:16] andreacapriplexure commented on #14365
Judging by this ticket here it is an issue that many people are facing https://developercommunity.visualstudio.com/t/using-a-variable-for-the-service-connection-result/676259?from=email&viewtype=all#T-ND1412705

[2021-05-04 03:11] appasaheb4 commented on #4734
<img width="1372" alt="Screenshot 2021-05-04 at 8 40 49 AM" src="https://user-images.githubusercontent.com/24726539/116957063-862b2f80-acb4-11eb-941a-c7a8d91721f3.png">

i am facing same issue. any solution?

[2021-05-04 07:39] bilalmalik777 commented on #14752
we implemented your recommended changes and  getting the errors.
First made change in **ArchiveFiles** task as per your direction and in the result build failed, logs are given below
`2021-04-30T11:03:58.7616660Z ##[section]Starting: ArchiveFiles
2021-04-30T11:03:58.7628801Z ==============================================================================
2021-04-30T11:03:58.7629075Z Task         : A

[2021-05-04 08:13] songpr commented on #12195
Thanks for your solution `npm prune --production` is work for me too.
We use npm prune after

- `npm install`
- run test
- publish test case
- `npm prune --production`, to left only production module

[2021-05-04 08:19] MrzJkl commented on #4734
@appasaheb4
Local or Azure Pipeline?

[2021-05-04 08:51] jikuja commented on #14645
The linked documentation is really bad and does not describe that multiline JSON support is done on the client-side as a template preprocessing step.

That is the reason why deploying templates with multiline strings or comments works with Az CLI or with Powershell. The documentation should clearly state that other deployment methods will FAIL:
- Deployments directly calling API will fail
- Deploy

[2021-05-04 09:27] jikuja commented on #14511
Maybe the parameter definition should be then string instead of multiline to give some guidance for end users?

ref: https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureResourceManagerTemplateDeploymentV3/task.json#L177-L178

[2021-05-04 10:14] bisonlou commented on #13405
I used the flag `--ignore-failed-sources` and the error was gone

[2021-05-04 10:58] suyash691 commented on #14304
@hollowdrutt Any data available as per @vivek425ster and @navin22's request

[2021-05-04 11:07] henry-padilla commented on #14511
Yes, exactly! That was my entire point of listing this as a bug. Your documentation states that this is a multiline parameter. So when it turns out not to be... that's a bug.

[2021-05-04 12:00] artisticcheese commented on #14645
@jikuja You are saying that powershell cmdlet before submitting deployment to Azure backplane transpiles multi-line string into single line string?

[2021-05-04 12:28] jikuja commented on #14645
Might be. Not sure what is the state of the current code but clients usually requires special code to handle JSON comments and/or multiline strings if they are parsing template file instead of passing contents of a file as a string to API.

Requires more testing by end-users for end-users to understand the current situation OR serious documentation updates.

[2021-05-04 13:32] hollowdrutt commented on #14304
@vivek425ster  @navin22 @suyash691
I have run builds at different times of day, I have not had any time outs during these attempts, but the time to upload the code coverage varies between 1m 50s - 5m 52s

The calls are to etqtcmprodweu11.vstmrblob.vsassets.io
The time stamps are in UTC
[code]

[2021-05-04 14:23] #14670 closed

[2021-05-04 14:23] DVGY commented on #14670
Yes it solved

[2021-05-04 15:21] anatolybolshakov commented on #14713
Hi @kmadof do you have any updates?

[2021-05-04 15:38] anatolybolshakov commented on #14408
Hi @Korijn I'm closing this ticket at the moment since this issue doesn't seem to be related to the task itself - please feel free to share additional info in related developer community ticket.

[2021-05-04 15:38] #14408 closed

[2021-05-04 17:49] Korijn commented on #14408
Sure. I am a little sour about the whole affair though because my ticket at the other site got closed because I can't provide an example to reproduce. But my pipeline keeps exhibiting the issue every now and then.

[2021-05-04 18:10] cforce commented on #10094
Actually this dotnet tools is used under the covers to create the reports
https://github.com/danielpalme/ReportGenerator/
The question is, is it enough to in .net runtime to your worker pool where you run the CI jobs.

[2021-05-04 19:22] psdewar2 commented on #14775
@DaniilShmelev, any thoughts on this? I updated some dependencies and the build succeeded locally using the following command for Xcode 12.5 (Build version 12E262):
`xcodebuild -sdk iphoneos -configuration Debug -workspace ios/Lyrist.xcworkspace -scheme Lyrist clean build CODE_SIGNING_ALLOWED=NO`

I don't get the same luck in CI. Is it possible the hosted agent is using stale DerivedData? I tried

[2021-05-04 22:50] sergeysolod17 commented on #13462
I got the same problem but the reason for it was the task of running tests as `--no-restore` when how I forgot to run `dotnet restore` before

[2021-05-05 01:11] pax0001 commented on #14422
@SimonAlling I've gotten this to work by first inviting the email address of the teams channel to the Azure DevOps project.

[2021-05-05 07:14] Philippe85 commented on #14730
Hi @anatolybolshakov, do you have any updates on these several bugs ?

[2021-05-05 08:27] anatolybolshakov commented on #14775
Hi @psdewar2 there is a header file 'src/core/lib/gprpp/inlined_vector.h' which was not found during compilation according to logs, and there is also warning meaning that 'IPHONEOS_DEPLOYMENT_TARGET' is set to 7.0, but the supported range is 9.0 to 14.4.99. Did you try to set it to some value between 9.0 - 14.4.99?
This error doesn't seem to be related to issue on devops side - there could be a di

[2021-05-05 09:12] anupam99 commented on #9984
This worked for me. In my case, the Podfile was generated as part of azure devops pipeline build.

So i used a PowerShell task, (before my XCode task) that inserted the missing code signing exclusions.
Here's the script for anyone trying to make these changes in pipeline. ( your file paths may differ)

[code]

[2021-05-05 16:24] ggirard07 commented on #12399
@ajinkya599  Are you sure the workaround you proposed to use an existing service principal actually works?

Just tried it on an existing service principal while adding a new secret to it, then use this pair in the `Others` configuration of the service connection, but this result in `denied: retrieving permissions failed` when trying to run a `docker push` from a bash task right after running the `

[2021-05-05 17:18] psdewar2 commented on #14775
I updated IPHONEOS_DEPLOYMENT_TARGET and still got the same error. As you mentioned, it's probably as simple as Xcode versions. MacOS-latest supports Xcode 12.4. According to https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#software, macOS 11 which would support Xcode 12.5 is not yet available on Microsoft-hosted agents. Is there an ETA for supporti

[2021-05-05 17:54] anatolybolshakov commented on #14775
@psdewar2 there was a related changes on macOS 11 image - https://github.com/actions/virtual-environments/issues/3226, so it should be available soon.

[2021-05-05 17:59] psdewar2 commented on #14775
@anatolybolshakov thanks. Do you know if it's as soon as this month or later in the summer?

[2021-05-05 22:06] andreacapriplexure commented on #14365
If it helps for anyone else running into this issue, I did a dirty hack to get this working by implementing this workaround in a generic way.
I run this code here to replace the subscription passed in the with the correct subscription
[code]

[2021-05-05 22:33] tomkuijsten commented on #14766
It always fails the first run, it always succeeds in the second. It's like this for weeks now, with multiple of our pipelines.

[2021-05-05 23:18] DamianEdwards commented on #12590
Just want to add to @clairernovotny's voice here. This is needed and right now it's extremely difficult to discover how to achieve this.

[2021-05-06 00:02] jbowtie opened #14805 "AzureWebAppContainerV1 incorrectly sets 'windowsFxVersion' for linux container"
## Required Information

*Type*: Bug

*Task Name*: AzureWebAppContainer

## Issue Description

When a Linux Web App with kind: `app,linux,container` does not have linuxFxVersion set (as can happen with an ARM Template), the AzureWebAppContainer incorrectly sets windowsFxVersion instead. This is difficult to debug as the deployment succeeds but the site does not come up.

However, if linuxFxVersion

[2021-05-06 00:02] DamianEdwards opened #14806 "DotNetCli task incorrectly identifies Razor class library projects as web projects when publishWebProjects is 'true'"
The DotNetCli task defaults to publishing web projects (`publishWebProjects` is true) but the logic it uses to identity web projects incorrectly includes Razor class libraries if they contain a `wwwroot` directory. This is common in Razor class libraries to automatically bundle static assets for inclusion in projects that reference the class library.

Attempting to publish a Razor class library le

[2021-05-06 05:20] ganesp opened #14808 "DotNetCoreCLIV2: invoke patch code coverage API call after coverage attachment upload"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: DotNetCoreCLIV2

https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/DotNetCoreCLIV2

## Environment
- Server - Azure Pipelines or TFS on-premises?
 Azure Pipelines

- Agent - Hosted or Private:
  Not applicable

## Issue Description

The test command of this task has an option to collect

[2021-05-06 06:34] luweilevi opened #14809 "Please update azcopy10.8 to azcopy10.10 for azure file copy task v4.0"
## Required Information

**Enter Task Name**: azure file copy task v4.0

## Environment

Azure Pipelines

vs2017-window2016

## Issue Description
Azure file copy task v4.0 failed to copy some of the files to azure storage blob. It seems to be caused by a bug for azcopy10.8 see issue [here](https://github.com/Azure/azure-storage-azcopy/issues/1359).

Please update [azure file copy task](https://git

[2021-05-06 06:35] luweilevi commented on #14809
@Eavanshi Arora @Amit Kumar  @20shivangi
Could you guys please look at this issue? Thanks

[2021-05-06 06:38] amit-avit commented on #14809
@chshrikh @AmrutaKawade

[2021-05-06 06:55] in-fke commented on #10900
If this was done for Gradle, can we also do it for Maven?
https://github.com/microsoft/azure-pipelines-tasks/pull/14625

[2021-05-06 08:07] hussainsam opened #14811 "Question on "Files" field"
In the "Files" field, if I enter something like this **$(ApplicationPath)\ui-tests\reports\cucumber-html** . Will the files and folders inside **cucumber-html** be selected for upload ? and will cucumber-html also be uploaded ?

I wanted to upload all the files and folders inside cucumber-html

[2021-05-06 08:10] hussainsam commented on #14811
Sorry I accidently hit enter and couldnt enter the description.

Here's the question

In the "Files" field, if I enter something like this **$(ApplicationPath)\ui-tests\reports\cucumber-html** . Will the files and folders inside cucumber-html be selected for upload ?

[2021-05-06 08:36] Ravio1i opened #14812 "DownloadBuildArtifacts@0 error when inside container"
When using DownloadBuildArtifacts to download artifacts in a [container job](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azure-devops) the `getBuildAPI` cannot download the artifact.

Without using a container it works. Working without a container is no option for me.

## Required Information

**Type**: **Bug**
**Task Name**:  `DownloadBuildArtifacts@0`

#

[2021-05-06 08:51] ganesp commented on #14808
@bishal-pdMSFT
We are going to add this small change in the DotNetCoreCLIV2 task -- to add call to the PATCH code coverage API.
Please see the issue description on why we are doing this change and let me know if you have any feedback / concerns on the proposal.

//cc: @nadesu , @ankit-arora12

[2021-05-06 09:02] ankit-arora12 commented on #14314
Since these are private agents, we need some help from you to debug the issue better. Can you please add console.log around a js file mentioned below and rerun the pipeline and share the debug logs with us?

Lines where these logs need to be added:
1. https://github.com/microsoft/azure-pipelines-tasks/blob/acc64cc7292c98597908325e53af9f898a896189/Tasks/VsTestV2/nondistributedtest.ts#L92
https://gi

[2021-05-06 09:10] anatolybolshakov commented on #14730
Hi @Philippe85 you don't need to provide optional parameters - please see the [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops#yaml-snippet).
This issue with task alias is not related to the pipeline task itself, but this repo is mostly for pipeline tasks issues - could you please create ticket on https://developercommunity.v

[2021-05-06 09:12] anatolybolshakov commented on #14775
@psdewar2 yes, as far as I know it should be no later than the end of current month.

[2021-05-06 09:15] anatolybolshakov commented on #10900
Hi @in-fke yes, we are planning to add support for Maven task too - reopened this issue to track it.

[2021-05-06 10:00] anatolybolshakov commented on #14713
Hi @kmadof I'm closing this due to inactivity at the moment - please feel free to ask any further questions.

[2021-05-06 10:00] #14713 closed

[2021-05-06 10:18] NinadKavimandan commented on #14766
Deploying with az cli will help us narrow down if the problem is with ARM deployment call or the task.

[2021-05-06 10:20] DenisRumyantsev commented on #9122
@jimmylewis, @JensLeible, @mika76 Is this issue still actual to you?

[2021-05-06 12:19] tomkuijsten commented on #14766
Ok, I'll test is asap.

[2021-05-06 12:39] mika76 commented on #9122
Thanks for the summary @DenisRumyantsev - We have updated to azure devops server and it uses the latest msbuild now so no this isn't a problem for me any more.

[2021-05-06 12:40] tomkuijsten commented on #14766
Same result using CLI.

First time:

[code]

Second time:

[code]

[2021-05-06 12:50] NinadKavimandan commented on #14766
So we see the same behavior on az CLI as well.
Okay, will it be possible for you to share the arm template? Are there any dependencies between the resources being deployed? Do they need to be deployed in some particular order?

[2021-05-06 13:15] tomkuijsten commented on #14766
I'm ok with sharing the ARM, but can it be done in a "private" way?

[2021-05-06 13:27] NinadKavimandan commented on #14766
sure. Share it over email - ninadkavimandan@github.com

[2021-05-06 18:23] timheuer commented on #14806
@DenisRumyantsev this looks like some of the scanning code is picking kind of "first winner" in looking at the csproj files https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DotNetCoreCLIV2/dotnetcore.ts#L357 and thus the isWebSdk was resolved as isWebSdk true, but then didn't evaluate the other project as false (microsoft.net.sdk.razor)

[2021-05-06 18:32] ascott18 commented on #8920
This is a terrible experience for your customers. Why is something so basic as copying files not supported on Linux agents the same as it is supported on Windows?

[2021-05-06 18:46] tsulli commented on #11261
I know this is closed and it's been a year, but it took me a while to track this down so sharing to possibly help someone else. For classic pipelines you can add a Powershell task with an inline script to set your environment variable just before your dotnet test task. Script should be in the following format:

[code]

EnvironmentVariableName should be the name of the environment variable you are

[2021-05-07 03:29] nadesu commented on #8920
@vijayma pls triage

[2021-05-07 06:33] appasaheb4 commented on #4734
yes my issue fixed. don't use @matrial-ui/icons use alternative lib for icons

[2021-05-07 06:37] cmcnicholas commented on #10839
This is still causing us an issue, paying for both devops and ms app centre and this ticket has been open almost 2 years.

[2021-05-07 07:32] alaingiller commented on #9743
This issue is not fixed, it still not possible to add tag.
even after `npm publish --tag=prerelease mypackage`, the command `npm dist-tag mypackage` still return only the tag "latest".

So it's currently impossible with azure artifact do to something like `npm i mypackage@beta`

[2021-05-07 08:26] Theuno commented on #14487
To try to get some fix sooner I've reported ticket: https://developercommunity.visualstudio.com/t/UniversalPackages-publish-doesnt-fail-w/1416051

[2021-05-07 08:26] DenisRumyantsev commented on #9122
@mika76 Thanks! Let me close this one since this resolved - please feel free to ask any further questions

[2021-05-07 08:26] #9122 closed

[2021-05-07 08:30] mmajcica commented on #14608
This would be a nice addition. I see this has been assigned, any idea when will something be available?

[2021-05-07 09:25] japj commented on #14789
I am currently testing a workaround/fix in task.js:788 where I made the following modification:
[code]
to
[code]

So far this seems a promising 'workaround' for the issue we are seeing (I was able to successfully delete 2 different builds)
I will test this during this weekend for verification of the normal retention mechanism and let you know the status on monday

[2021-05-07 09:26] henryju opened #14816 "Gradle@2 publishJUnitResults fails with Failed find: ENOENT: no such file or directory, stat '/home/vsts/work/1/s/xxxx'"
## Required Information

*Type*: Bug

**Enter Task Name**: Gradle

## Environment

- [Azure Pipelines](https://dev.azure.com/sonarsource/DotNetTeam%20Project/_build/results?buildId=31710&view=logs&j=a26a64ae-104b-5839-d5b0-a28bc5f0b563&t=2a693003-2f18-558f-f96a-63f5ece7a93f&l=4985)
- Agent - Hosted

## Issue Description

The Gradle build ends successfully, but then an error occurred, and I guess t

[2021-05-07 11:39] Kumar-Ashwin-Hubert commented on #14796
Facing the same issue.
I would like to use the `AzureFunctionApp@1` task to deploy .Net 5 Functions instead of using the Azure Function core tools in the deployment pipelines.
Any updates on this @nadesu.

[2021-05-07 13:38] Kumar-Ashwin-Hubert commented on #14796
@DillonAd I was able to successfully deploy Azure Function .Net 5 isolated function using the `AzureFunctionApp@1` task without any configuration changes.

But can you confirm how you had created the Azure Function resource ?
Using ARM templates ? If so please verify the following are set rightly in the ARM template:

- `linuxFxVersion` inside `siteConfig` is set to `"DOTNET-ISOLATED|5.0"`
- `FUNC

[2021-05-07 14:42] #14637 closed

[2021-05-07 16:22] andmig-ilty commented on #14449
That would be really great! In general it'd be great to have some sort of "data entry" facilities for already running pipelines.

Since ManualValidation must be in a Agentless Job, that output variable would most likely be read from other jobs with dependsOn relationship.

[2021-05-07 17:22] Kumar-Ashwin-Hubert commented on #14796
@DillonAd I was able to successfully deploy Azure Function .Net 5 isolated function using the `AzureFunctionApp@1` task without any configuration changes.

But can you confirm how you had created the Azure Function resource ?
Using ARM templates ? If so please verify the following are set rightly in the ARM template for a **Linux** Server:
- `linuxFxVersion` inside `siteConfig` is set to `"DOTNET-

[2021-05-07 21:48] tig opened #14819 "Failed to fetch Kudu App Settings. Internal Server Error (CODE: 500)"
*Type*: Bug

**Enter Task Name**: Azure/functions-action@v1

## Environment
- Server - Github actions

## Issue Description

My app was working for months and I recently tried to update it and got this error.

I have searched the 'net high and low and have found similar errors, but nothing that matches this. None of the suggestions in those Issues/SO posts have helped. Examples:

https://stackover

[2021-05-07 21:50] rchiodo opened #14820 "Question: Tests seem to run in duplicate for each job?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: VSTest

## Environment
- Server - Azure Pipelines

## Issue Description

VSTest multi configuration seems to run the same tests multiple times? Maybe I'm misunderstanding how this works.

I have a release setup to

[2021-05-07 21:57] tig commented on #14819
FWIW, I just went to the Azure Portal/Deployment Center and did `Disconnect` and reconnected, having it re-generate the workflow file.

![image](https://user-images.githubusercontent.com/585482/117512380-598d4700-af44-11eb-8821-677d84482e52.png)

After doing this, I found I had to change 'AZURE_FUNCTIONAPP_PACKAGE_PATH` from `.` to `Api` (because that's what my client for this function expects).

[2021-05-07 22:03] jiaw37 opened #14821 "Testing stale bot"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-05-07 22:52] maxisam opened #14822 "Bug on Kubernetes manifest task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  Kubernetes manifest task

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment

Azure Pipelines:
millerslab
LabSuppor
buildId=1298

- Agent - Hosted or Privat

[2021-05-08 12:43] sgissinger commented on #10792
My workaround is to install additional certificates manually.
That is, download the secure file and register in the keychain created by InstallAppleCertificate@2 task.

In my case, creating a custom keychain did not work because it does not seem to be registered in the system.
The certificates added in the custom keychain weren’t listed by `security find-certificate -aZ` command.

With this workar

[2021-05-09 10:59] tohewi commented on #12280
TimeOut setting does not seem to work:
I have timeout=50000 (ms, i.e. 50 s)

Outcome is "timeout in 20 seconds".
![image](https://user-images.githubusercontent.com/82122655/117569523-c2082f80-b0ce-11eb-91b4-c138aba6f870.png)

[2021-05-09 11:52] tohewi opened #14823 "Handshake connection timeout in SSH setting does not change timeout"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: SshV0

## Environment
- Server - Azure Pipelines
    - Account: outokumpu
    - Project: Outokumpu business object library
    - Pipeline: Deploy ShinyApp
    - any release on any build.

- Agent - Hosted or Private:
    - private agent
    - Windows 2019
    - 2.183.1

## Issue Description
SSH task Time Out Setting for SSH Handshake

[2021-05-09 19:42] tomkuijsten commented on #14766
@NinadKavimandan received my mail?

[2021-05-09 23:40] Fitmavincent opened #14824 "NodeTool@0 Node & NPM version not matched"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  NodeTool@0, NodeTool

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    - Account name: TandmInternationa,
    - Project: Tandm,
    - Pipeline: Tandm-Infra-CDK-PR
    - Build Number: 20210509.6

- A

[2021-05-10 02:30] marceloaugusto80 commented on #12204
we were also having issues with the ftp task returning code 550 and making a mess with the folder structure.

the solution provided by @jrpacheco solved the problem.

thanks, brother.

![azure-pipeline](https://user-images.githubusercontent.com/36957419/117598543-66fe2900-b11e-11eb-845f-f674313b627f.jpg)

[2021-05-10 06:07] japj commented on #14789
I can confirm this solution indeed fixed our problem

[2021-05-10 11:51] Grusinator opened #14827 "PipAuthenticate seems to generate a wrong url"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PipAuthenticate

## Environment
    - Server: Azure Pipelines
    - account name: dongenergy-p
    - team project name: OF Engineering
    - build definition name: optisoil engineeering tools - App
    - build number: #20210510.3

## Issue Description
when i run PipAuthenticate from the pipeline, the following pip install fails by sa

[2021-05-10 15:36] jovere commented on #14786
I personally don't see this as a feature, but a bug.  If something can't be parsed, it shouldn't be a warning, but an error.  If this occurs, it could be months before somebody realizes it's an actual issue, because the parse passes with no failures and therefore the tests pass with no failures because there are no tests.

[2021-05-10 16:09] DillonAd commented on #14796
@Kumar-Ashwin-Hubert Thanks for the information! We aren't using ARM templates quite yet, but I did specify those values (or at least what I perceived to be the equivalent for a Windows function) in the function definition and I'm still having the same issue of the functions not loading properly after the deployment. I checked the function's settings from the Azure CLI and all of those settings ar

[2021-05-10 22:29] dougclutter commented on #13232
We've been having this problem since .NET Core 2.2.  Here's a PS script that helps us work around it:

param (
	[string]$appPoolOperation = $(Throw "Valid values are RecycleAppPool, StartAppPool, StopAppPool, UnloadAppDomain."),
    [string[]]$servers = $(Throw "Please provide a server URL."),
    [string]$iisSite = $(Throw "Please provide the IIS site name."),
    [string]$webApp = $(Throw "Pleas

[2021-05-11 06:18] bishal-pdMSFT commented on #14808
@ganesp looks good to me considering that this change does not have impact outside test command. Is that correct assumption?

@tejasd1990 do you want to take a quick look as well?

[2021-05-11 06:18] SqueedWalz commented on #13980
Thanks :)

[2021-05-11 06:20] ganesp commented on #14808
@bishal-pdMSFT Yes, no impact outside test command.

[2021-05-11 06:58] AmrutaKawade commented on #14819
This is not correct repo to raise this issue.
Can you raise issue on this repo https://github.com/azure/functions-action?

[2021-05-11 06:58] #14819 closed

[2021-05-11 07:14] AmrutaKawade commented on #14805
are you sure kind property is set to `app,linux,container` ?

[2021-05-11 07:33] AmrutaKawade commented on #14796
can you set `system.debug = true` and share detail logs?

[2021-05-11 08:03] alexander-smolyakov commented on #14811
Hi @hussainsam, could you please tell us which pipeline task are you trying to use?

[2021-05-11 11:05] msrinivascharan opened #14830 "How to switch to a different user on same agent to run a particular task in AzureDevOps pipeline"
I have a pipeline with 6 tasks in one job, this job runs on agent01(self-hosted), there are two users, user1 and user2(more privileges) on agent01.

My requirement is, my pipeline job running on agent01 must use user1 for task 1,2,3 and use2 for task 4,5,6. How to achieve this ? please suggest.

[2021-05-11 12:39] vladislav-ryzhov commented on #14701
Hi @duindain
Could you please share your yaml file also?
If you use the classic editor, you can find instructions for downloading the yaml file [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/migrate/from-classic-pipelines?view=azure-devops#export-your-classic-pipeline).
You can send it to my email: v-vryzhov@microsoft.com

[2021-05-11 13:21] timstokman commented on #14167
@marianan I just got this issue again today, so it doesn't seem fixed:

[code]

[2021-05-11 15:17] rodriguesevident opened #14831 "npm audit - runs twice on different agents ignoring the working directory"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: npm audit

- Agent - Hosted or Private:
    - Private agent
    - OS : Windows 10
    - Agent version : 2.179.0

## Issue Description

While running npm audit with the [workaround](https://docs.microsoft.com/en-us/azure/devops/artifacts/npm/npm-audit?view=azure-devops&tabs=yaml) the task appears to run multiple unrelated tasks in dif

[2021-05-11 20:20] timstokman commented on #14167
@stewartadam It's set to "ubuntu-latest"

[2021-05-11 20:54] jbowtie commented on #14805
Yes, I can confirm this.

I've done some experimentation - I think the heuristic being followed is "if linuxFxVersion is set, update that, otherwise update windowsFxVersion" - I don't think the isLinux flag is being passed down to whatever common code is actually setting this property.

[2021-05-12 04:53] oliverchristen commented on #14167
@marianan since this issue still persists on the default agent, I would suggest to reopen this issue and only close it when the fix is released. What do you think?

[2021-05-12 05:27] AmrutaKawade commented on #14805
Can you set `system.debug=true` in variables and run pipeline again?
share detail logs

[2021-05-12 05:32] marianan commented on #14167
Hi @oliverchristen , I suggest filing a new issue to track the work for Ubuntu 20.04 support and linking it here. The root cause for this issue has been resolved so I feel that it will be more clear if we start a new thread. Also, supporting Ubuntu 20.04 is already in our backlog but it doesn't hurt to have a tracking thread on GitHub for everyone's awareness. Does this sound like a plan?

[2021-05-12 05:47] oliverchristen commented on #14167
Thanks for the suggestion @marianan. But I don't see the necessity to start a new thread. The initial issue still persists since it's probably related to Ubuntu 20.04. It would also be nice to link the backlog item for the Ubuntu 20.04 support here. It's not yet, isn't it?
For me it only works with the workaround
`pip install -U iotedgedev`
which I don't understand why this works - but it does. I

[2021-05-12 06:10] karakal commented on #14167
I have the same problem and the same workaround "works".
It also doesn't work anymore at all with 18.0.4.

I would also prefer to keep this bug open and not start another thread
anywhere...

Oliver Christen ***@***.***> schrieb am Mi., 12. Mai 2021,
07:47:

[2021-05-12 08:47] andrewx82 commented on #14725
I too am getting this problem

[code]

  I used cache busting on the modules to try make sure that I wasn't getting stale deps. My pipeline was also working correctly with no problem until this happened

[2021-05-12 09:09] andrewx82 commented on #14725
@lancegliser  This appears to be linked to an `npm audit fix` that had occurred. When I reverted the package-lock.json it worked correctly

[2021-05-12 09:11] DavidJFowler commented on #14639
This change has made the behaviour of AzureWebApp@1 and AzureFunctionApp@1 inconsistent.

I fear that a change will be made to AzureWebApp@1 without warning as well.

[2021-05-12 11:57] vladislav-ryzhov commented on #14701
@duindain
Since we haven't changed this task, it looks like it's an external issue, and your solution with the "restore" command looks good enough. You can find out more about the causes of this problem [here](https://docs.microsoft.com/en-us/dotnet/core/tools/sdk-errors/netsdk1004)
Also, could you please give us a minimum reproducible sample? We will continue our investigation.

[2021-05-12 13:20] anatolybolshakov commented on #14816
Hi @henryju could you please share your yaml file and logs in debug mode?

[2021-05-12 14:16] lancegliser commented on #14725
I did try firing an `npm audit fix` to test out the changes it suggests. The result is the same. I can run the code locally using `npm ci`, but it fails during the pipeline step running the same command.

[2021-05-12 14:21] mikemonteith opened #14837 "AzureFunctionAppV1 SAS token expires after 1 year, resulting in 503 response"
## Required Information

**Question, Bug, or Feature?**
Question / Bug

**Enter Task Name**: AzureFunctionAppV1

## Issue Description

When using the AzureFunctionAppV1 task, a SAS token is generated with a 1 year expiry. This means that after 1 year, the function stops working (returning 503 response).
This functionality should at least be documented, or changed so that the sas token doesn't expi

[2021-05-12 14:31] andrewx82 commented on #14725
@lancegliser Can you grep and print your package-lock.json for es-abstract ?

[2021-05-12 14:46] lancegliser commented on #14725
[code]

[code]

[2021-05-12 14:52] andrewx82 commented on #14725
For what its worth, here is mine that is now currently working

[code]
        Notice the lack of anything higher than `1.18.0-next.0` I'd suggest trying to roll back the versions to use that instead of the newer `1.18.0-next.1` and `1.18.0-next.2` versions

[2021-05-12 15:10] lancegliser commented on #14725
That's good sleuthing. Might well fix it, but again I feel the need to point out this isn't an issue for me, or you. There's something wrong with the pipeline tasks themselves as we can succeed outside their context. For the moment, I've been getting by in this one package by not using pipelines, bad business for Azure DevOps.

[2021-05-12 16:11] sander1095 commented on #13971
I can try using npm7 at some point as some people suggest this helps, but another approach where I need some help with is the following.

I use an .npmrc with the official npm repo, and my private repo with 1 private package.
Locally i use that vsts-auth package to make this work, but in azure pipelines I dont use my npmrc but point towards my private feed which has npm as an upstream source. I do

[2021-05-12 18:04] sholu opened #14840 "PythonScriptV0 : Task Should Fail on any Stderr, Currently It Direct all output to stdout but does not fail pipeline task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PythonScriptV0

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - Genral

- Agent - Hosted or Private:

    - Both

## Issue Description

[PythonScriptV0, Pipeline task Should Fail on Error Option]

[2021-05-12 19:13] petersendidit commented on #14725
I am having the same problem with Github Actions.  Seems like there is some combination of `npm ci` `es-abstract` and the environments that both Azure and Github use that is causing this.

[2021-05-12 20:12] freemstr commented on #13232
Maybe worth revisiting with
https://github.com/Microsoft/azure-pipelines-tasks/issues/9596

[2021-05-12 20:12] freemstr commented on #9596
Maybe this is worth revisiting?
https://github.com/microsoft/azure-pipelines-tasks/issues/13232#issuecomment-818428529

[2021-05-12 21:57] jbowtie commented on #14805
I'll have to set up a new pipeline to repro but will make some time to do so.

[2021-05-13 04:21] YustinS commented on #7659
Any chance there is an update for this?

Makes it really hard to use the Test Publisher at scale as it collapses all the test results into a single level, meaning general test case names (such as "Content Header should be X") end up duplicated by each test, and you have to dive into the JUnit file to actually find out where the issue occurred.
This can be worked around by ensuring each name is uni

[2021-05-13 06:27] ChoChoHtet opened #14841 "Gradle Test Executor in Azure DevOps failure"
Type: Bug
Task Name: Gradle
Environment
Server - Azure pipeline
Agent - Hosted

 it's working on android studio but  Gradle build failed frequently on Azure pipeline and Gradle build took more than 36 mins it's too much . though I had passed 100 %  tests and coverage, gradle build still failed
ISSUE
*** What went wrong:
Execution failed for task ':app:testProdReleaseUnitTest'.

  This problem migh

[2021-05-13 23:11] Daniel127 commented on #14169
Any news about this? I have the same problem using basic and apikey authentication.

[2021-05-14 01:28] Justin-DynamicD commented on #12002
Original owner back at it: I have clever work arounds but but I cant escape the feeling that this just ... isn't how it should be.

Is this at least being road-mapped?

[2021-05-14 03:09] Andycharalambous commented on #10967
For what it's worth, i just had the same problems just now, and after about an hour of fighting it I spotted that my package-lock.json file referenced my private packages under a slightly different base url to the one setup in the project .npmrc registry=xxxx line, and so I amended that and modified it in the user .npmr where my credentials are and bam it only went and bloody worked.

[2021-05-14 04:34] mtene commented on #12844
The issue is still not fixed. Checkouts are central to pipeline operations, so this needs to be given high priority.

[2021-05-14 06:28] chenzhen0592 commented on #13033
Same issue with you.
Do you fix the issue, or have some workarounds?
@alanwales

[2021-05-14 07:00] eduralph commented on #13703
This error occurred for me when I had 2 different test runs - a Unit Test & then later an Integration Test. In this case, the percentage shown on the summary page was from the Unit Test **only** while on the detail page, it showed the **accumulated** coverage by Unit & Integration Test.

[2021-05-14 09:59] alanwales commented on #13033
We worked around it by outputting the logs to a file and failing the pipeline if issues were found. We added this to a PowerShell file which runs the build:

dotnet build "$buildFile" --configuration "Release" -warnaserror | tee build.log

foreach($line in [System.IO.File]::ReadLines("build.log")){
    if($line -contains "Build FAILED.") {
        Write-Error "Build forced as fail in powershell be

[2021-05-14 11:05] Loreno10 commented on #9046
I think the problem is still there. In my case I just want to copy some yaml files from one directory to another.
Here's a part of my pipeline:

[code]

The first task has the following output:

[code]

This just confirms that `$(Pipeline.Workspace)/this_repo/update_procedure/config` exists and has some files.

The second task fails, with the following error:

[2021-05-14 12:05] stefankip opened #14844 "AzureKeyVault - SecretsFilter error (EditableOptions)"
**Question, Bug, or Feature?**
*Type*: Bug

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description
The `AzureKeyVault@1` task has a parameter called `SecretsFilter`. If I enter the name of a secret, I get an error:
`Value is not accepted. Valid values: "EditableOptions".`
The task how I defined it:
[code]

[2021-05-14 12:27] sladg commented on #3027
Why is the issue closed? It is currently not working.

[2021-05-14 12:47] leepowelldev opened #14845 "NPM Task and npm v7 authentication issue"
Type: BUG
Task Name: NPM
Environment: Azure Pipelines
Org Name: asdjh8923 (for test purposes)
Build Number: 20210514.1
Agent: Hosted

Issue:
Currently Azure is accesible via two urls for legacy reasons -

`https://ORG_NAME.visualstudio.com/PROJECT_NAME`

and

`https://dev.azure.com/ORG_NAME/PROJECT_NAME`

And depending on which url you use, when you visit the Artifacts section you are given differ

[2021-05-14 13:16] Grimlek commented on #5919
As a workaround what I did, build everything on the linux box, and publish the artifact.

On a windows agent download the artifact (don't forget - checkout: none), rename the .snupkg to .zip, and extract the .zip file. From there I pushed the .pdb file to the symbol server.

`stages:
- stage: BuildAndPublish
  displayName: 'Linux Build/Publish & Windows Publish Symbols'
  jobs:
  - job: LinuxBuild

[2021-05-14 15:01] cmenzi commented on #5919
I've created an Azure Function and upload the nuget to its blob. Then I unzip it and use symbol.exe to index them.

[2021-05-14 15:14] DenisRumyantsev commented on #14823
Hey @tohewi, It seems that this issue is related to some intermediate error, not to the SSH task itself since this error is related to the fact that the task cannot connect to the remote host. So could you please re-check that authentication data in the service connection is correct and share more details about the remote host and your environment?

Also, it will be great if you can provide a samp

[2021-05-14 21:24] groogiam commented on #12470
@ajinkya599 This does not appear to fixed. I am getting this warning on my self hosted windows agent.

[2021-05-17 05:18] alexander-smolyakov commented on #14811
@hussainsam is this question still actual to you?

[2021-05-17 05:19] 24mu13 opened #14846 "Ability to transform Json"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**:
- FileTransform
- AzureRmWebAppDeployment
- IISWebAppDeploymentOnMachineGroup

## Issue Description

With the above tasks you can apply variable transformation on both XML/JSON but you can transform only XML using XDT.
Would be very useful to extend also the transform ability to JSON.

For instance, we could use [dotnet-jdt](http

[2021-05-17 06:28] shigupt202 commented on #14700
@vyckou Did you try using Kubeconfig approach to create service connection, instead of service account? You can configure your kubeconfig with all the correct certificates and use it without having to pass it manually for each run.

[2021-05-17 06:29] shigupt202 commented on #14731
Closing the issue. Feel free to reopen if there are any task specific concerns.

[2021-05-17 06:29] #14731 closed

[2021-05-17 07:22] ganesp commented on #14280
Not enough information to proceed further with the investigation.

[2021-05-17 07:22] #14280 closed

[2021-05-17 07:55] henryju commented on #14816
Hi @anatolybolshakov

The project is public: https://github.com/SonarSource/sonarlint-intellij/blob/master/azure-pipelines.yml

The problem only appeared once so far, so I can't easily produce debug logs, sorry (I don't want to run all builds with debug logs enabled).

[2021-05-17 08:51] luweilevi commented on #14809
Any update for this issue?

[2021-05-17 08:55] anatolybolshakov commented on #14816
@henryju ENOENT is a general error which could happen for different reasons - please share pipeline logs once you reproduce it again - so we could investigate it.

[2021-05-17 09:13] KasperPurunen commented on #14805
I'm having the same issue. We are setting the kind to `app,linux,container` as well but the logs from Azure DevOps says the following when deploying with the task: `{"appCommandLine":null,"windowsFxVersion":"DOCKER| ... " }`

[2021-05-17 11:19] DmytroSokhach commented on #8408
This link has pretty good manual: [https://www.programmingwithwolfgang.com/deploy-dacpac-linux-azure-devops/](url) "Automatically Deploy your Database with Dacpac Packages using Linux and Azure DevOps"

[2021-05-17 13:01] cravecode commented on #3832
@dsteinweg, thanks for posting this. I thought i was going crazy.
This still exists in the new DotNetCoreCli pack command. https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DotNetCoreCLIV2/packcommand.ts#L64

For those looking for assistance with their YAML build files; here is my pack step:
[code]

[2021-05-17 14:47] rahulroy9202 commented on #14704
Hi @EzzhevNikita  I can confirm that the change has been deployed to our Project sometime last week.

[2021-05-17 17:43] stewartadam opened #14848 "[AzureRmDeploy-common] Correlation ID missing from errors"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureWebAppV1 & many others (anything with dependency on [AzureResourceFilterUtility.ts](https://github.com/microsoft/azure-pipelines-tasks/blob/master/common-npm-packages/AzureRmDeploy-common/operations/AzureResourceF

[2021-05-18 10:12] ds-ms commented on #14822
@Ganeshrockz could you take a look?

[2021-05-18 11:18] Shikha1405 opened #14851 "Unable to export the solution to $Build.ArtifactStagingDirectory via Powershell"
Unable to export the solution to $Build.ArtifactStagingDirectory via Powershell

How can i achieve this?

$SolutionFilePath= $env:BUILD_ARTIFACTSDIRECTORY$solutionName
Export-CrmSolution -conn $BuildConnection -SolutionName "$solutionName" -SolutionFilePath "$SolutionFilePath" -SolutionZipFileName "$solutionName.zip"

Also tried,
$SolutionFilePath= $(Build.ArtifactStagingDirectory)\$(Solution Name

[2021-05-18 11:34] anatolybolshakov commented on #14851
Hi @Shikha1405 did you miss slash between $(Build.ArtifactStagingDirectory) and solution name? Does the result path looks right for you in logs?
Build.ArtifactStagingDirectory variable value does not contain slash at the end by default.

[2021-05-18 11:53] anatolybolshakov commented on #11508
Hi everyone, reopened this to investigate further

[2021-05-18 12:16] anatolybolshakov commented on #6458
@wilmol could you please create a separate issue for this and share more details?

[2021-05-18 12:19] Shikha1405 commented on #14851
Hi @anatolybolshakov  - i checked my logs and after putting a slash

$SolutionFilePath1= $env:BUILD_ARTIFACTSDIRECTORY\$solutionName

It prints as \solutionName, $env:BUILD_ARTIFACTSDIRECTORY variable is blank

[2021-05-18 12:27] anatolybolshakov commented on #6558
Hi @ppanyukov @StefanSchoof @mikedzikowski looks like this would require more effort than task changes only (some changes for service connection also). This repo is mostly for pipeline tasks - could you please open a ticket on https://developercommunity.visualstudio.com/search?space=21?

[2021-05-18 12:46] anatolybolshakov commented on #14851
@Shikha1405 looks like $env:BUILD_ARTIFACTSDIRECTORY is invalid variable name - it should be $env:BUILD_ARTIFACTSTAGINGDIRECTORY

[2021-05-18 12:59] Shikha1405 commented on #14851
Thanks @anatolybolshakov , it worked..

[2021-05-18 12:59] #14851 closed

[2021-05-18 13:38] elliot-nelson commented on #4945
Huge +1 to this issue -- if this were task changes I'd happily put up a PR, but it seems like this might not be fixable without server-side changes.

In my case, although I only have about 1600 source files, it takes 1m30s to upload the Cobertura XML file and generated the coverage HTML; if I generate the HTML files myself with nyc and disable autogeneration as per the suggestion above, it takes _

[2021-05-18 14:08] VemundH opened #14852 "PublishSymbols: Wrong path to source in URL with multi git repo build pipeline"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishSymbols

## Environment
- Server - Azure Pipelines
- Agent - Private:
    - VMSS - Windows Server 2019
    - Agent version 2.185.1

## Issue Description

We have a build pipeline that includes multiple Azure DevOps git repositories as documented here: https://docs.microsoft.com/en-us/azure/devops/pipel

[2021-05-18 14:21] kirillkanyukov commented on #3116
Oh my God! You've saved my ass:))) I have spent four days looking how to set pipeline variable in powershell wondering why "##vso[task.setvariable variable...." doesn't work!
THANK YOU SO MUCH!
Great workaround solution!!!

[2021-05-19 05:25] ddivanshu commented on #14772
@tovVAar   Could you share the full debug logs including the time stamp.

[2021-05-19 05:26] ddivanshu commented on #14806
@DamianEdwards Could you pls share the debug logs.

[2021-05-19 06:02] dvasdekis commented on #11227
If I click 'Create Pipeline' in DevOps, and use 'Azure SQL Database Deployment' template with the 'Active Directory - Integrated' authentication type, I get the below template which creates this issue:
[code]
As you can see there's no #azureConnectionType:, #azureClassicSubscription or #azureSubscription entries

[2021-05-19 07:23] ddivanshu commented on #14712
@musema pls share debug logs

[2021-05-19 08:23] anatolybolshakov commented on #14730
Hi @Philippe85 I'm closing this at the moment due to inactivity - please let us know if you have any further questions.

[2021-05-19 08:23] #14730 closed

[2021-05-19 09:46] ddivanshu commented on #14677
Closing this since user didn't reply.
Feel free to open incase of issue.

[2021-05-19 09:46] #14677 closed

[2021-05-19 10:17] ceteongvanness commented on #10314
any update for the blue green deployment by using visual designer?

[2021-05-19 10:39] frankfuu commented on #6885
@anatolybolshakov , i think this idea has already been "rejected" https://developercommunity.visualstudio.com/t/installsshkey-task-cant-resolve-variable-reference/984321

It's kind of sad really. Imagine a company that needs to build different versions of an app based on a branch/brand/variant etc, that relies on using a different certificate (secure file) running from the same code base.

[2021-05-19 10:48] drewwilliams1982 commented on #14550
Fully appreciate this isn't getting fixed - but can the documentation be updated to reflect this please?

[2021-05-19 11:11] nerijusk opened #14855 "publishing maven with gradle into artifacts suddenly started erroring out"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Gradle@2

## Environment
- Agent - Hosted or Private:
    - If using private agent, provide the OS of the machine running the agent and the agent version:
Ubuntu 18.04LTS, 2.186.1

## Issue Description

Publishing Mave

[2021-05-19 11:21] nerijusk commented on #14855
A similar message is produced in another pipeline that also publishes maven artifacts:
[code]

Please note, that exactly the same pipeline with exactly the same code had no errors a couple of days ago.

[2021-05-19 11:33] nerijusk commented on #14855
Oh, and the funniest thing is that the artifact actually appears in artifact feed! But the pipeline cannot continue and report a success, because of that error message.

[2021-05-19 12:26] ddivanshu commented on #14793
@aaronla-ms This download url is of microsoft.com and should be pretty stable.Although we are retrying it 2 times , could you pls tell how frequently you are getting this issue.

[2021-05-19 12:54] Zanchee commented on #6885
@frankfuu we do exactly that in my current job. We build 4 applications all from the same codebase. They all utilize different certificates, and they all go to different App Store connects. This problem is solvable in Azure's current state.

[2021-05-19 12:57] larsduelfer commented on #14855
We experience the same issues since a couple of hours now.

[2021-05-19 13:15] nerijusk commented on #14855
Issue also reported in developer community: https://developercommunity.visualstudio.com/t/Unable-to-deploy-artifacts-using-maven-w/1426117

[2021-05-19 15:02] nerijusk commented on #14855
yep, the report in developer community also has a number of comments about fix.

[2021-05-19 15:02] #14855 closed

[2021-05-19 16:51] DamianEdwards commented on #14806
@ddivanshu not sure how helpful this is but it's below. As @timheuer says, the [logic is pretty clear in the task source code](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/DotNetCoreCLIV2/dotnetcore.ts#L361), it's assuming any project with a "wwwroot" dir is a web project to be published but that's not correct.

[code]

[2021-05-19 16:53] aaronla-ms commented on #14793
@ddivanshu I believe we've seen it twice. The second time I hit it, we retried the job less than 5 minutes later and it worked.

What's the delay you have between the 3 attempts? One common failure mode is for a networking stack to be reset -- all requests for a short (e.g. 1 second) interval just fail immediately. If you don't have backoff between your retries, that can cause all 3 attempts to ge

[2021-05-19 16:54] Anmol007 opened #14857 "AzureFunctionAppContainer@1 sets WEBSITES_ENABLE_APP_SERVICE_STORAGE to false even if user provides 'appSettings: -WEBSITES_ENABLE_APP_SERVICE_STORAGE true'"
**Describe the bug**
To enable persisted storage for Linux hosted FunctionApp, `WEBSITES_ENABLE_APP_SERVICE_STORAGE` need to be set true.
Ref: https://docs.microsoft.com/en-us/archive/blogs/waws/things-you-should-know-web-apps-and-linux#NoStorage

To enforce this setting from start, I set the configuration setting `WEBSITES_ENABLE_APP_SERVICE_STORAGE` to true while creating /updating the infrastru

[2021-05-19 17:43] ganesp commented on #14594
@bwstaal , @Craigoss
Can you please try the following workaround?
Use Visual Studio Test Platform Tools Installer task in your pipeline, insert it before Visual Studio Test task (VSTestV2) and specify the VSTestV2 task to use the test platform installed by the tools installer in previous task.

Please go through this document for more details:
https://docs.microsoft.com/en-us/azure/devops/pipeline

[2021-05-19 17:48] ShrinivasKR commented on #14300
I too have been encountering the issue. We are using self hosted Ubuntu-18.04 Linux agents.
The task usually takes between 2-6 minutes. It also often hangs for much longer periods (Last instance was ~15 minutes).

[code]

This is pretty much the log every time the task is run. It doesn't look like the package is being cached correctly. The download appears to be attempted every time, and the time

[2021-05-19 17:53] ddivanshu commented on #14586
Closing this .
Feel free to reopen if issue occurs again.

[2021-05-19 17:53] #14586 closed

[2021-05-19 18:05] ddivanshu commented on #14793
@aaronla-ms Exponential backoff is definitely a good approach but since this issue is not reported much times, wont be taking this on priority.
Closing this as of now.Feel free to open if you experience this much frequently.

[2021-05-19 18:05] #14793 closed

[2021-05-19 20:53] BrianMouncer commented on #14214
@egor-bryzgalov
I am running into this same issue.

to work around this, I had to upload the OpenJKS package needed to the root of our blob storage container, rather than into an OpenJDK folder inside the container.

It also feed like a waist and a danger, that the installer searches the entire drop folder looking for all zip files in the container, if it is going to fail to install it if the zip

[2021-05-20 00:31] Craigoss commented on #14594
@ganesp
Changes worked for us, thanks for the feedback.

[2021-05-20 02:00] frankfuu commented on #6885
Thanks @Zanchee , I'll give it a go.

[2021-05-20 06:14] sumer9999 opened #14859 "Azure DevOps CI/CD, Release pipeline deployment directly to A slot causes error on slot web page "You do not have permission to view this directory or page.""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-05-20 06:34] farlop commented on #14697
Any idea about this?

[2021-05-20 06:53] vyckou commented on #14700
@shigupt202 np, later is better than never 😸
You can choose kubeconfig, when you create the serviceConnection directly in Project settings, but if you are creating the Pipelines Environments, and want to add (create) Kubernetes resource via that path, you do not have an option to choose it as you are forced to go via serviceAccount path

[2021-05-20 07:29] shigupt202 commented on #14700
That's right. It's possible only in case of service connections.
But even if we expose an input for certificate-authority, you'd have to enter it manually in at least the login step for Kubernetes task. Instead of that, can you create a service connection with the right Kubeconfig and give that as an input to `kubernetesServiceEndpoint` in the same task? (So instead of relying on the connection pr

[2021-05-20 08:21] vkelempekis commented on #6458
I still have exactly the same issue. I use maven task (v3) in a build, with goals "clean package" and Jackocko + Sonarqube analysis turned on(see below screenshots). The tests are still ran twice, so I'm wondering if there's something I need to update now that the PR with the fix has been merged, or should it just work by default now.

<img width="1222" alt="image" src="https://user-images.githubu

[2021-05-20 08:30] whiskeysierra commented on #6458
To those struggling with this, as a viable workaround (or even replacement?), my team moved away from the maven task and switched towards individual tasks, i.e.:

- SonarCloudPrepare (optional)
- JavaToolInstaller
- Bash (to run [mvnw](https://github.com/takari/maven-wrapper))
- PublishTestResults
- PublishCodeCoverageResults
- SonarCloudPublish (optional)

[2021-05-20 08:41] vkelempekis commented on #6458
@whiskeysierra how do you generate your code coverage summary this way? The PublishCodeCoverageResults expects that

[2021-05-20 08:50] whiskeysierra commented on #6458
[code]

JaCoCo Maven Plugin:

[code]

[2021-05-20 11:08] ddivanshu commented on #14765
@Tiberriver256  pls set DOTNET_NOLOGO to 1 in your azure pipeline variables. Above message will be hidden by that.

[2021-05-20 11:09] DynaSpan commented on #11649
So after having it working for a while, today I ran into this issue again `The acquired token is not a JWT`:

[code]

My .npmrc in my users folder:
[code]

I don't see any dialog whatsoever prompting me for a login. I also have access to the feeds, because I can use the package URL `npm i` throws to download the package directly from the browser.

[2021-05-20 11:12] Tiberriver256 commented on #14765
I am aware I can do this manually. My request here is to do it automatically. There is no reason to have it in headless CI/CD pipelines so let's have it off by default.

[2021-05-20 12:28] GalaxiaGuy opened #14862 "Add support for buiding Xamarin.Android via solution file"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: XamarinAndroid

## Issue Description

`XamariniOSV2` supports building via a solution file. `XamarinAndroidV1` only supports building via a project file. This is a problem if the build depends on the solution (for

[2021-05-20 12:46] vkelempekis commented on #6458
@whiskeysierra Thanks for your help already! I am able to successfully publish the results of code coverage to the build itself, but can't seem to have a working setup that can be published to sonarqube. Do the Prepare analysis on SonarQube and Run Sonarqube Analysis tasks do the trick for you? and if so, how are they configured?

[2021-05-20 13:35] bwstaal commented on #14594
@ganesp I've tried to add the Visual Studio Test Platform Tools Installer task and modified the Visual Studio Test task (VSTestV2) to use the test platform version that was installed by the Visual Studio Test Platform Tools Installer task. Unfortunately for me, collecting code coverage still doesn't work. FYI: at the moment VS2019 16.9.6 and Azure DevOps pipelines agent v2.186.1 are at the moment

[2021-05-20 17:11] BenVillalobos opened #14863 "Microsoft.TeamFoundation.DistributedTask.MSBuild.Logger.dll sometimes does not write warning/errors to console?"
### Issue transferred from: https://github.com/dotnet/msbuild/issues/6124

### Issue Description

After we upgraded from VS2019Update5 to VS2019Update7 we see the following occurring every once in a while:
- MSBuild does not seem to 'report' build issues to the AzureDevOps server, we only see "MSBuild exited with exit code 1"

### Steps to Reproduce

Unfortunately we cannot reproduce it 1 on 1.
It

[2021-05-20 17:27] japj commented on #14863
Summary (from discussion at https://github.com/dotnet/msbuild/issues/6124):

- (Private) binlog files are provided at https://developercommunity2.visualstudio.com/t/Error-msbuildexe-exited-with-code-1/1346765
- problem can be produced by replaying the binlog
- Microsoft.TeamFoundation.DistributedTask.MSBuild.Logger.dll doesn't preserve the parent-child relationship between projects, and orphans ne

[2021-05-20 17:51] KirillOsenkov commented on #14863
@anatolybolshakov

[2021-05-20 18:41] whiskeysierra commented on #6458
[code]

Maven is being executed with:

[code]

[2021-05-20 22:04] tillig opened #14864 "Kubernetes@1 'log' command causes build warning"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Kubernetes@1

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

If you use the `Kubernetes@1` task to execute logs, the task tries to set an output variable with the result, which generates a warning because the logs are generally larger than the maximum allowed size.

Here's a

[2021-05-20 22:34] shunkino commented on #13605
This seems to be a designed behavior. Following line filters out releases with "EarlyAccessPreview" tag.
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/Common/packaging-common/nuget/NuGetToolGetter.ts#L202

Not sure if there is any possible side effect when letting user to install preview release of nuget.exe. Would love to here opinion from contributors here.
I am now using

[2021-05-21 00:36] jonsamwell commented on #14690
This would be very useful

[2021-05-21 00:38] jonsamwell opened #14865 "AzureResourceManagerTemplateDeploymentV3: Template parameters to be able to take more than one file"
## Required Information

AzureResourceManagerTemplateDeploymentV3 should allow more than one file to be specified in the `Template parameters` argument

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureResourceManagerTemplateDeploymentV3

list here (V# not needed):  3
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
Azure Pipelines
Hoste

[2021-05-21 00:43] shunkino commented on #13605
Also, following doc states that this task is capable of installing pre-release version of nuget.

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/nuget?view=azure-devops#arguments
[code]

Is this a doc bug or are we supposed to be able install pre-release version through this task?
@phil-hodgson Do you have thoughts on this?

[2021-05-21 00:58] davija commented on #9996
Why was this closed?  The issue was not resolved.  A workaround is nice, but this kind of bug causes headaches and MANY lost hours trying to debug and find out what is happening.

[2021-05-21 01:49] patrickgalbraith commented on #10574
For a new React Native project using Gradle 4.1+ I needed to add the following line to my `gradle.properties` file to get it to work with app center.

[code]

[2021-05-21 06:06] LouisBernath opened #14866 "Error in Jenkins Queue Job network error retry"
*Type*: Bug
**Task Name**: JenkinsQueueJob
[code]
## Environment
Azure DevOps Server on-premise Version:
Self-hosted Agent: 2.153.1 on Windows Server 2016 x64
## Issue Description
This issue occurs consistently when queuing a long running Jenkins job. The job runs for around 3 hours.

The JenkinsQueueJob task tracks the progress of the job as expected. Suddenly there is the error of "socket hang u

[2021-05-21 07:17] alexander-smolyakov commented on #14811
@hussainsam, closing this issue due to inactivity, please feel free to reopen it.

[2021-05-21 07:17] #14811 closed

[2021-05-21 08:19] DynaSpan commented on #11649
@edgarrs any workaround for this? I can't download my work packages meaning I can't do anything useful at work right now.

[2021-05-21 09:41] walliski commented on #13275
Coming in yet half year later.

This would be really essential for the pipelines I am working on. In the current setup I want to do, I would not want to fail the build based on the exit status of the tests step, but continue and later use the published test results further down in the pipeline. This means that both this task, and the Powershell task that runs the tests is set to not fail the build

[2021-05-21 09:46] walliski commented on #14786
I very much agree on both this and #13275. If you configure your pipeline to read test result files from one place, and it cannot find them there, it should very much be an error that should fail the build, since something has gone wrong during the build!

[2021-05-21 10:18] walliski commented on #11136
I wanted to contribute a bit, but cannot build the PublishTestresultsV2 task due to this error. Failed on Nodejs `v14.17.0` (Current LTS). Haven't yet tried downgrading to older npm versions, but lets see.

[2021-05-21 12:46] anmalkov commented on #7160
I confirm - the issue is still there. Unfortunately, it's affected my customer. But using NuGetCommand@2 instead of DotNetCoreCLI@2 solved the problem. But I think it is not a solution, just a workaround.

[2021-05-21 13:43] cbrennan45 commented on #13156
@anatolybolshakov just FYI our issue was a firewall/load balancer issue causing the slowness!
Thanks for inquiring

[2021-05-21 20:05] photomoose commented on #14169
@Daniel127 I had to resort to using the dotnet CLI via an explicit script task instead:

[code]

[2021-05-23 10:01] vladislav-ryzhov commented on #14701
Hi @duindain
Is it still an actual issue for you?

[2021-05-24 01:50] G-Rath opened #14869 "Provide a way to suppress `ExactVersionNotRecommended` warnings"
*Type*: Feature
**Task Name**: `UseRubyVersion@0`

## Issue Description

#13513 implemented a `ExactVersionNotRecommended` warning in `UsePythonVersion` & `UseRubyVersion` which triggers when you pass an exact version of Python or Ruby - the underlying principle behind this makes sense, but there are situations where you want to pass an exact version.

Specifically in our case we lock the version

[2021-05-24 08:56] ddivanshu commented on #14765
Currently since these is already a workaround available (just setting a variable in the pipeline) , we are not prioritising it as of now.
Feel free to open any other issue if you face another problem with task.

[2021-05-24 08:56] #14765 closed

[2021-05-24 10:19] anatolybolshakov commented on #14869
Hi @G-Rath there is a limited amount of Ruby versions installed on hosted agents, so it is still not preferred way to specify exact version of Ruby - even if it has been specified in `.ruby-version` file.
You can find the current list of available Ruby versions [here.](https://github.com/actions/virtual-environments/tree/main/images/linux)

[2021-05-24 10:30] anatolybolshakov commented on #14704
Closing this since changes has been already rolled out - feel free to ask any further questions.

[2021-05-24 10:30] #14704 closed

[2021-05-24 10:46] anatolybolshakov commented on #13309
Hi @japj the fix for this version has been already rolled out for cloud, so I'm closing this at the moment - but it could take some time for this change to be rolled out for on-prem.

[2021-05-24 10:46] #13309 closed

[2021-05-24 11:16] anatolybolshakov commented on #14775
Hi @psdewar2 I'm closing this at the moment since it's not related to pipeline tasks - feel free to track progress about this in https://github.com/actions/virtual-environments/issues/2486

[2021-05-24 11:16] #14775 closed

[2021-05-24 11:30] DenisRumyantsev commented on #14823
Hi @tohewi, is this issue still actual to you?

[2021-05-24 12:04] ncook-hxgn opened #14871 "Add Support for Build Tools Installations"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug/Feature

**Enter Task Name**:
VSBuild
MSBuild

## Environment
- Server - Azure Pipelines
  - hexagonmi, PS-SharedComponents, MachiningEngine, any build number.

- Agent - Hosted or Private:
    - Self-Hosted Agent: Windows 2019 Standard Ret

[2021-05-24 16:29] anatolybolshakov commented on #14515
Hi @myanakiev thanks for contribution! We rolled out related changes - closing it at the moment.

[2021-05-24 16:29] #14515 closed

[2021-05-24 18:41] vladislav-ryzhov commented on #13980
Hi @SqueedWalz  we have rolled out related changes.

[2021-05-24 18:41] vladislav-ryzhov commented on #13980
Let me close it at the moment since it's resolved - please let us know if you have any further questions!

[2021-05-24 18:41] #13980 closed

[2021-05-24 18:44] vladislav-ryzhov commented on #9457
Hi, @cremor we have rolled out related changes.

[2021-05-24 18:44] vladislav-ryzhov commented on #9457
Let me close it at the moment since it's resolved - please let us know if you have any further questions!

[2021-05-24 19:31] G-Rath commented on #14869
@anatolybolshakov I don't think that actually matters in this case, because as I said:

So if the hosted agent doesn't have the exact version we're using, we're going to fail anyway - so the best place to be told about this in CI is when we attempt to install the ruby version via this task because that tells you the problem (that the Ruby version isn't available on the agent) *and* provides a hand

[2021-05-24 20:50] ddivanshu commented on #14485
Closing this as user has not replied for a long time.
Feel free to reopen if you face any issue

[2021-05-24 20:50] #14485 closed

[2021-05-24 20:54] ddivanshu commented on #14197
Closing this .
Feel free to reopen if issue persists again

[2021-05-24 20:54] #14197 closed

[2021-05-24 20:58] ddivanshu commented on #14097
Closing this as issue is resolved with updated version.
Feel free to reopen if issue persists.

[2021-05-24 20:58] #14097 closed

[2021-05-24 21:01] ddivanshu commented on #14712
Closing this .
Feel free to reopen if issue persists.

[2021-05-24 21:01] #14712 closed

[2021-05-24 21:03] datran-msft commented on #12263
We are currently hitting this issue with Unity 2019 too.

We signed manually on Unity 2018 as automatic signing is not an option for us, but updating to Unity 2019 is causing the `<Framework> does not support provisioning profiles.`

Setting `CODE_SIGNING_ALLOWED=No` doesn't address the issue since we still need to sign it.

Is there a workaround? Is there a task we can use that has supports for t

[2021-05-24 21:07] ddivanshu commented on #14452
Closing this.
Feel free to reopen if issue persists.

[2021-05-24 21:07] #14452 closed

[2021-05-24 21:24] mindlessroman commented on #11136
@walliski - I believe the recommended Node version is 10? https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops#prerequisites Though you may have seen this.

[2021-05-25 00:39] agray commented on #13062
@ganesp
Thanks for replying. I looked at that docs link you provided and removed my 'Create Code coverage report' (which was running reportgenerator@4) step as you suggested.  My comment from March 11th still applies.  It does not work.

Extract of my YAML
` # UnitTests
    - task: DotNetCoreCLI@2
      displayName: 'Unit Tests'
      inputs:
        command: test
        projects: '$(APEX_SOLUTIO

[2021-05-25 00:51] G-Rath commented on #8762
I've hit this today:

[code]

This is using `ubuntu-latest`.

[2021-05-25 02:24] mzhrbbs commented on #14589
@estebanes22  is there a workaround that you found for this issue? I am also seeing this.

[2021-05-25 03:19] agray commented on #13062
@DevRCRun Would you mind please reopening this issue as I don't believe it is fixed.  Open to hearing if there is something I am not seeing or doing correctly.  See my above comment

[2021-05-25 06:23] tejasd1990 commented on #14806
hi @DamianEdwards ,
the web project selection behavior is also documented [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azure-devops#arguments). In dotnet convention, if `wwwroot` is present, it is for static assets only, whether it is for razor, blazor or webapp, so i don't get why you say only razor projects should be excempted.

I suspect the er

[2021-05-25 11:30] anatolybolshakov commented on #14589
Hi @estebanes22 @mzhrbbs agent does not have permissions to create directories in '/builds' folder - you can extract it for example to "$(Build.ArtifactStagingDirectory)/builds/binaries/externals".
For more questions about permissions - please reach out to https://github.com/actions/virtual-environments
Let me close this one at the moment since this is expected behavior.

[2021-05-25 11:30] #14589 closed

[2021-05-25 11:59] #14645 closed

[2021-05-25 12:00] vladislav-ryzhov commented on #14701
Hi @duindain I'm closing this due to inactivity at the moment - please feel free to ask any further questions.

[2021-05-25 12:00] #14701 closed

[2021-05-25 12:21] Gimly opened #14876 "CopyFile fails when dealing with files containing `[]`"
*Type*: Bug
**Enter Task Name**:  CopyFiles

## Environment

- Server: Azure Pipelines
   - Account name: gimly81
     Team project name: Test Project
     Build definition: Test Project
     Build number: 20210525.1

- Agent: Hosted
    - Agent queue name: ubuntu-latest

## Issue Description

When trying to copy files that contain square brackets (`[ ]`), we're experiencing a weird issue where th

[2021-05-25 12:37] rcomanne opened #14877 "MavenAuthenticate not removing credentials"
*Type*: Feature
**Enter Task Name**: MavenAuthenticate

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - Azure Pipelines

- Agent - Hosted or Private:
    - Ubuntu Linux self hosted agents, version 2.148.2

## Issue Description

After running the MavenAuthenticate task, the credentials are always left on the host machine.
This is already unexpected behaviour imo, but also if the

[2021-05-25 12:38] #14877 closed

[2021-05-25 12:57] AzizAbdullaev commented on #10302
Legacy build is available with Xcode version: 10.0  to 11.7

[2021-05-25 14:24] irajbalakrish commented on #11714
Hi @marianan Is it possible variable substitution still has a bug ?

1.  generate deployment manifest step in ( releases ) was failing on a ubuntu agent when the pipeline variable was set as **CONTAINER_REGISTRY_USERNAME** to be substituted in the deployment template

![image](https://user-images.githubusercontent.com/17502477/119514502-5c29d200-bd75-11eb-8b6c-47ea8704bd6f.png)

2. but it started

[2021-05-25 15:47] sussexrick opened #14879 "Setting HTTP/2 on app service using AzureAppServiceSettings@1 not working (or undocumented)"
I am attempting to set an app service to use HTTP/2 using the AzureAppServiceSettings@1 task. The [documentation in this repo](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureAppServiceSettingsV1) only gives syntax for a couple of the `generalSettings` and links to a page about modifying them in the Azure portal.

Looking at the examples given they match the names used in

[2021-05-25 16:27] SakshiS-harma commented on #14528
Can you please elaborate on what task details are required here?

[2021-05-25 22:49] marianan commented on #11714
Hi @irajbalakrish thanks for our post. Based on your description, please make sure that the environment variable is named the same in the yaml file and in the variables section in the pipeline. The name is not predefined and you can use any name that you need. Let us know if you are still running into issues.

[2021-05-26 02:17] chshrikh commented on #14528
the ICM mentioned is not having any detailed about Azure devops, I was looking for issue details with azure devops

[2021-05-26 02:20] MichaelSayko commented on #14361
I encountered the same issue intermittently with Kubernetes@1. KubectlOutput returns the expected value, but with a leading comma or with a leading and training comma. For example, KubectlOutput returns ",blue," when the expected return value is "blue"

Server: Azure DevOps Server 2020
Agent: Private, Linux, 2.170.1

steps:
- task: Kubernetes@1
  displayName: 'Get Live Ingress'
  inputs:
    kuber

[2021-05-26 04:40] DamianEdwards commented on #14806
@tejasd1990 thanks for pointing out the documentation. It seems to confirm what Tim and I are saying though. Razor Class Libraries will end up being included in the projects to be published by default based on them containing a `wwwroot` dir. This seems incorrect given the intent is to auto-discover web applications and publish those. Rather than "only razor projects should be exempted" I'm sugges

[2021-05-26 06:13] vyckou commented on #14700
Technically it is possible, but in such a scenario, if I am using environments - it gets disjointed, as the environment loses coupling with service connection

What comes to my mind is to make
https://github.com/microsoft/azure-pipelines-tasks/blob/6a642b5be3cdee15bad13ea06d65f1397d0e3b00/Tasks/Common/utility-common-v2/kubectlutility.ts#L54
`"certificate-authority-data"` JSON field and
https://git

[2021-05-26 07:25] titans2016 opened #14882 "YAML task for download artifacts does not work with variable"
I have been working in Azure Devops Services.
I’ve added to my azure devops pipeline step to download artifact from CI pipeline.
It is working perfect, but I tried to change artifact name to variables, because this names is using in many places.

[code]

When I execute this code I receive error:

I think this is a bug.
I want to ask to fix this ASAP. Because it is block our production pipeline.
Th

[2021-05-26 08:58] dsfrederic opened #14884 "AzureFileCopy@4 fails while copy is done"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFileCopy

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureFileCopyV4

## Environment
- Server
    - Self-hosted
    - build: https://dev.azure.com/KRCGenk/KRCGenk-Data/_build/results?buildId=355&view=results
    - OS: Windows_NT
    -  agent.version 2.186.1

## Issue Descripti

[2021-05-26 09:39] irajbalakrish commented on #11714
Hi @marianan Thanks much for your response. I did make sure the variable in my deployment.template.json / YAML is the same as that of pipeline variables in each case. Am not able to explain why it doesn't pick up other variable KEYs other than what is mentioned in the doc link ☹ is it an idea to send you more details on your email ( mine is r.balakrishnan@agrifirm.com )

[2021-05-26 09:43] anatolybolshakov commented on #14882
Hi @titans2016 I can't reproduce this issue - could you please share your full logs and minimal sample to reproduce it?

[2021-05-26 11:24] elninoisback commented on #9954
Any update on this? I'm seeing the HTML report artifacts are generated properly but the code coverage tab is not picking them up. Are there any workarounds to push that index.html down devops throat?

[2021-05-26 12:11] anatolybolshakov commented on #14278
@nick3389 got it thanks! Closing this since it's not related to issues on task side. Please feel free to ask any other questions.

[2021-05-26 12:11] #14278 closed

[2021-05-26 15:00] msrinivascharan opened #14888 "How to exclude stages from a release in Azure DevOps?"
I have a CD pipeline in Azure DevOps. There are total 4 stages in my pipeline, stage1-qa1, stage2-qa2, stage3-qa3 and finally stage3-production deployment. stage3-qa3 not applicable for some app features in a particular release

My requirement is, sometimes, for a particular release I have to exclude qa3 stage and include/run only qa1 and qa2 and production deployment stages.

How to achieve this

[2021-05-26 15:46] marktew opened #14889 "Implement new AKS access profile APIs in azure-arm-aks-service.ts"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:

Kubernetes:
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/KubernetesV1

HelmDeploy:
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/HelmDeployV0

## Environment
- Server
    - Azure Pipelines
    - Build: https://dev.azure.com/investec/blockchain-and-cryptocurrency/_build/results?buildId=4

[2021-05-26 18:14] MichaelSayko commented on #14361
Below is the log from the latest occurrence of the issue.

The expected result of the kubect get command is "green"

The Kubectl task returned ",green" on the first and second attempts to execute the task. The Kubectl task returned "green" on the third attempt to execute the task.

First attempt:

2021-05-26T16:35:02.8470783Z ##[section]Starting: Get Live Ingress
2021-05-26T16:35:02.8679412Z =====

[2021-05-26 19:08] titans2016 commented on #14882
Here my code.
Just add you ci pipeline name to line 12.

[code]

[2021-05-26 20:02] c4tachan opened #14890 "AzureResourceManagerTemplateDeployment Needs to be updated to use the latest ARM API"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureResourceManagerTemplateDeployment

## Environment
- Server - Azure Pipelines

- Agent - Hosted

## Issue Description
The ARM API is out of date now.
![image](https://user-images.githubusercontent.com/2130211/119723445-7332f780-be3b-11eb-8677-2227c309220e.png)

### Task logs
N/A

### Error logs

`[error]T

[2021-05-26 21:24] techtor opened #14892 "copy files task fails when run across multiple agents"
https://github.com/microsoft/azure-pipelines-tasks/blob/a1bfdc1cc5a04d6177fa607ced515c96b1455498/Tasks/CopyFilesV2/copyfiles.ts#L87

I've got a pipeline where I'm spreading a testing task across multiple agents. Once the testing is complete on a particular agent, we copy the results* to a share. In apparently non-deterministic fashion, we occasionally see an error when copying the files:

`2021-05

[2021-05-26 22:23] pbcahill commented on #14361
@shigupt202  looks like we don't have a way to reopen this issue. Can you reopen please? Or should we open a new issue for this problem?

This problem started for us after we upgraded our on-premises Azure DevOps Server 2019.1 to 2020.01. The Kubectl task was working fine on v1.53.8, and is now experiencing the above behavior with the output on v1.169.2

[2021-05-27 07:13] shigupt202 commented on #14361
Reopening this issue.

[2021-05-27 08:06] tejakrishnam commented on #13268
any update on this issue ?
and would it be fixed in the next task version ?

[2021-05-27 08:44] djfr commented on #14608
I've just tested the `AzurePowerShell@5` on `latestVertion` task and it doesn't have the Bicep CLI installed. It would be great to get it there 👍

Alternatively, this marketplace task works well:
https://marketplace.visualstudio.com/items?itemName=piraces.bicep-tasks

[2021-05-27 12:02] shigupt202 commented on #14361
@pbcahill @MichaelSayko Can you try to use -o json along with the command and see if that works? I have figured out the actual cause of the problem. [This line](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/KubernetesV1/src/kubernetes.ts#L139) is actually trying to create a comma separated array of json's, but it's impacting other outputs as well. I'll check if changing this

[2021-05-27 13:15] zioalex opened #14895 "Packerbuild debug option"
## Note
Would be great to have the possibility to debug packer if needed. Today is not possible to pass the "-debug" option on the packer executable and I didn't find any way to pass it as environment variable or in the template.

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Feature**
*Type*: Possibility to add the -debug op

[2021-05-27 13:29] csteague7 opened #14896 "Visual Studio Test fails with error "VsTest task failed""
Visual Studio Test fails with error "VsTest task failed", and does not run the nunit tests. But if I disable the "Visual Studio Test" and add and run the following command line the tests do run.

cd C:\automation-api\partnerapi\bin\Debug\netcoreapp2.1
vstest.console partnerapi.dll /TestCaseFilter:"Category=Smoke"

How do I determine with is wrong with my Visual Studio Test?

When I run a different

[2021-05-27 15:13] SakshiS-harma commented on #14528
So the customer was originally using Azure devops to deploy dacpac file, but for the purpose of our investigation and to figure out if the issue is with DacFx product code, we ask our customers to use Sqlpackage. And that is the reason why the ICM doesn't have any information about Azure devops.
We are just looking for Azure Devops to pick the latest DacFx build.
What are the details required for

[2021-05-27 16:56] MrOwen commented on #12844
Just a heads-up for anyone else implementing this fix: the workaround using `target: host` means that the working directory for the build lives on the host OS and shared to the container but is not cleaned up automatically (another bug 🙄). I found out about this the hard way because I ended up eating all the disk space on our company-shared agent pool..

The aim of the fix is to remove the content

[2021-05-27 17:10] DenisRumyantsev commented on #14823
@tohewi, for now, I am closing the issue. Feel free to reopen it if you still have trouble with this task.

[2021-05-27 17:11] #14823 closed

[2021-05-27 17:31] anatolybolshakov commented on #14882
@titans2016 still can't reproduce it.. Could you please share pipeline logs in debug mode - to understand where this error comes from?

[2021-05-27 19:42] FullyFerret opened #14901 "FileTransform - Zipping after transform modifies dates of files to UTC"
After running the FileTransform utility _directly_ on a `.zip` file, the transform task seems to modify the dates of the files to UTC date. This causes an issue when running through a private agent on a server with a different timezone and can appear to have "futuristic" dates if the timezone is behind. This impacts processes that rely on up-to-date timestamps of files.

Please fix this by either

[2021-05-27 21:03] codytipton-hpg opened #14902 "Release Pipeline pulling DownloadBuildArtifact Task v1.188.0 | Failing"
**Question, Bug, or Feature?**
*Type*:  Question, potentially bug

**Enter Task Name**: DownloadBuildArtifact

## Environment
Azure Pipelines

## Issue Description

![image](https://user-images.githubusercontent.com/52749096/119927512-2fc1b180-bf3f-11eb-9c58-088fc6f212c4.png)

Our release pipelines began failing today and the logs are marked by a new version of the download build artifact task, sp

[2021-05-27 22:29] kythin commented on #13913
Not stale, still an issue :(

[2021-05-28 00:18] #12685 closed

[2021-05-28 00:18] #12403 closed

[2021-05-28 00:20] abatishchev commented on #12368
@damccorm please reopen. The fact this issue hasn't been addressed for whooping 180 days is a good reason to escalate and prioritize, not the other way around and close it.

[2021-05-28 00:35] pbcahill commented on #14361
@shigupt202  thank you for the response and reopening. Glad you have figured out the cause for the problem and can try updating when able.

As for using "-o json" instead of "-o jsonpath", that didn't really work as the -o json returns the entire json response. The -o jsonpath filters the response to return just the value of the annotation we consume in a subsequent task.

[2021-05-28 04:10] chshrikh commented on #14859
could you please share the debug logs of pipeline execution

[2021-05-28 04:12] chshrikh commented on #14879
are you seeing any warning / error in execution logs, please share the execution debug logs here

[2021-05-28 04:17] chshrikh commented on #14884
can you attempt to change the blobPrefix input` blobPrefix: 'deliverykit/'` to `blobPrefix: 'deliverykit'` and re-run the pipeline

[2021-05-28 04:54] dsfrederic commented on #14884
@chshrikh your proposed solution resulted in the exactly same output.

PS: Can I ask why you would remove the bug label without knowing if you're solution works?  Pls reopen this. There'sm something here, especially since it worked perfectly on a MS hosted agent.

[2021-05-28 05:14] sumer9999 commented on #14859
Sure , can you please tell what's context of this, which project etc?

Regards

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Chaitanya Shrikhande ***@***.***>
Sent: Friday, May 28, 2021 12:10:18 PM
To: microsoft/azure-pipelines-tasks ***@***.***>
Cc: Sumer Singh ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/azure-pipelines-tasks] Azure DevOps

[2021-05-28 05:32] chshrikh commented on #14859
@sumer9999 this in context of above  issue you filed, where you are having issue with deployment to a slot

[2021-05-28 05:41] sumer9999 commented on #14859
Thanks, when it was filled?
What is resource group name?

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Chaitanya Shrikhande ***@***.***>
Sent: Friday, May 28, 2021 1:32:18 PM
To: microsoft/azure-pipelines-tasks ***@***.***>
Cc: Sumer Singh ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azure-pipelines-tasks] Azure DevOps CI/CD, Release pipelin

[2021-05-28 05:45] chshrikh commented on #14884
@dandancode
1) the labels used are here are for internal tracking purpose, we have not closed this issue
2) are you seeing this issue only when using private agent ? Are you saying this works fine with hosted agent ?

[2021-05-28 05:51] chshrikh commented on #14859
@sumer9999 I think there is disconnect, isnt this issue filed by you ? we are looking for more details in context of this issue

[2021-05-28 05:55] rohit-batra commented on #14864
This is owned by @ajinkya599

[2021-05-28 06:00] sumer9999 commented on #14859
Yes, because I can't backtrack with only the issue id. We have multiple accounts with multiple projects.
Having some idea about that would help me understand.
Otherwise just ignore for me now.
Thanks and regards,
Sumer

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Chaitanya Shrikhande ***@***.***>
Sent: Friday, May 28, 2021 1:52:11 PM
To: microsoft/azure-

[2021-05-28 06:02] chshrikh commented on #14859
closing this as per above comment, feel free to file a new issue with required details like task name, task version, debug pipeline logs

[2021-05-28 06:02] #14859 closed

[2021-05-28 06:25] rohit-batra commented on #14888
Hi ,
This is pipeline task repo. issue is not related to tasks per say. For any release related issues,  You can send a mail to rbatra[at]microsoft[dot]com or for any azure devops related questions.  and i will try to get the right person involved. (on Pipelines side)

Feature to allow Cherry picking stages (for automated triggers) based on some releases is not possible. You can right some scripts

[2021-05-28 07:49] dsfrederic commented on #14884
@chshrikh I'm seeing this issue only when using private agent. This works fine on a hosted agent

[2021-05-28 08:16] titans2016 commented on #14882
Here my log.
[logs_13.zip](https://github.com/microsoft/azure-pipelines-tasks/files/6559341/logs_13.zip)

[2021-05-28 11:09] anatolybolshakov commented on #14902
Hi @codytipton-hpg I can't reproduce it at the moment using yaml and release pipelines - do you still see this issue?

[2021-05-28 11:21] codytipton-hpg commented on #14902
Yes, we are still facing the issue.  I also updated the target agents (2.177.1).

When you test, is your DownloadBuildArtifacts Task for the release pulling version 1.188.0 as well?

As a note, for the associated builds producing the artifacts, we're using PublishBuildArtifacts Task v1

[2021-05-28 13:00] hugovk commented on #13319
Still valid. Would be nice to have this in place for the Python 3.10 release in October.

[2021-05-28 14:19] anatolybolshakov commented on #12368
Hi @abatishchev I reopened it since it's still actual.

[2021-05-28 14:54] shigupt202 commented on #14361
@pbcahill I meant use -o json before -o jsonpath. Your command should look something like this:
`kubectl get -n main ingress main -o json -o jsonpath="{.metadata.annotations.color}"`

[2021-05-28 14:55] lbalceda commented on #11658
@anatolybolshakov could you elaborate on that ? I think the issue is that we cannot use the file name

[2021-05-28 14:58] pulla2908 commented on #13842
Does anybody have some input here? Is that by design? If yes, then close it, otherwise please fix it.

[2021-05-28 15:20] rainersigwald opened #14904 "Azure Devops pipelines crashing in MSBuild logger, as of 5/25 VS2019 image"
---
**Issue moved from dotnet/msbuild#6498**
- Please respond to @Scottj1s.

---

_From @Scottj1s on Friday, May 28, 2021 1:10:09 AM_

Beginning on 5/25, a stage of the WinUI build which executes on hosted VS2019 agents, began failing intermittently with the stack below.  Subsequent runs of the pipeline produce different combinations of success/failure.

[code]

[2021-05-28 15:23] anatolybolshakov commented on #11658
Hi @lbalceda @idubnori could you please create ticket on https://developercommunity.visualstudio.com/search?space=21? This looks like an issue related to secure files and how they are handled - I guess it's possible to apply fix, but it requires additional check specifically about security implications and backward compatibility. There is nothing we could do on tasks side at the moment.
Please als

[2021-05-28 15:33] max-zaytsev opened #14905 "[AzureVmssDeploymentV0] Update out of date dependencies with security vulnerabilities"
AzureVmssDeploymentV0  depends on _artifact-engine_ that has vulnerabilities in handlebars lib
Artifact-engine comes to this task as a dependency of _az-blobstorage-provider-v2_, which was recently updated ([PR](https://github.com/microsoft/azure-pipelines-tasks/pull/14885))

We need to upgrade a version of _az-blobstorage-provider-v2_ in AzureVmssDeploymentV0 task to fix this vulnerability issue

[2021-05-28 15:35] codytipton-hpg commented on #14902
@anatolybolshakov

Update:  I found a workaround by using the Publish**Pipeline**Artifact Task in my builds.  Releases will thus use the DownloadPipelineArtifact task over the DownloadBuildArtifact Task, avoiding the issue.

Looking at [this issue comment](https://github.com/MicrosoftDocs/azure-devops-docs/issues/2341#issuecomment-439483135) I see that the task is intended to replace Publish**Buil

[2021-05-28 15:36] anatolybolshakov commented on #14904
Hi @Scottj1s could you please share your logs? You can also send them to my email - v-anbols@microsoft.com

[2021-05-28 15:46] Trolldemorted commented on #10831
Was this fixed in the meanwhile?

[2021-05-28 16:01] daniel-anova opened #14906 "AzureFileCopy@4 azureSubscription from library variable isn't correctly parsed"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  AzureFileCopy@4

list here (V# not needed):  4
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment

using Azure Pipelines:
    - https://dev.azure.com/anovateam/Mapleleaf/_git/Pipeline

[2021-05-28 16:05] goponugo opened #14907 "Azure Key Vault Task- unable download a certificate"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-05-28 16:29] MichaelSayko commented on #14361
@shigupt202 I can run the following command from the kubectl command line and get the desired result.

$ kubectl get -n main ingress main -o json -o jsonpath="{.metadata.annotations.color}"
green

However, I am not clear on how to modify the Kubectl task in the pipeline given that the task specifies an oututFormat of 'jsonpath="{.metadata.annotations.color}"'

steps:
- task: Kubernetes@1
  display

[2021-05-28 16:34] richshadman commented on #14361
You should be able to change your output format to “none” and add the output formats to your arguments.

From: Michael Sayko ***@***.***>
Sent: Friday, May 28, 2021 12:30 PM
To: microsoft/azure-pipelines-tasks ***@***.***>
Cc: Rich Shadman ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/azure-pipelines-tasks] Kubernetes@V1 .KubectlOutput is wrong (#14361)

@shigupt202<https://github.com/

[2021-05-28 16:41] shigupt202 commented on #14361
Give none in the outputFormat, and `-o json -o jsonpath="{.metadata.annotations.color}"` in the arguments.

[2021-05-28 16:42] Scottj1s commented on #14904
Direct emailed binlogs of failed builds.

A bit more investigation shows that the build failure is not intermittent, as supposed.  It is 100% correlated with the image update on 5/25.  Stages of our build pipeline that happen to land on agents with the 5/16 image always succeed.  Those that are queued to an agent with the 5/25 image always fail.

[2021-05-28 16:43] richshadman commented on #14361
I meant to post a log to this ticket some time back - other priorities came up. We still see the commas however.

For this particular issue, I am using this task to automate execution a distributed jmeter load test across multiple pods simultaneously and capturing the output so we get quite a bit of verbose output and it is almost always riddled with commas.

Fortunately the output from jmeter doe

[2021-05-28 21:11] #14821 closed

[2021-05-28 21:11] #14169 closed

[2021-05-28 21:11] #9743 closed

[2021-05-28 21:11] #10057 closed

[2021-05-28 21:11] #9584 closed

[2021-05-29 00:30] AngeloWalsh commented on #13842
Can confirm this is happening with Xunit. Searching for how to resolve this. After setting up the pipeline and running it, on the Tests tab, the number shown reflects the number of methods in the Xunit test project that was run. Then there is a drop down to click, and there its shown all the inline data that ran. These inline data tests are not reflected in the total test count.

[2021-05-29 09:24] NickDarvey commented on #12083
Are there any updates on this?

[2021-05-29 19:04] mattgenious commented on #10405
This seems like it would remove a lot of unnecessary queue time in pipelines and download traffic from sdk sources if applied.
What is the progress on this?

[2021-05-29 19:31] preston-scott-cruz commented on #14169
I can't find this issue on the developer community.  Did they close it without migrating it?

[2021-05-30 10:25] XFox111 opened #14908 "401 Unauthorized for GitHub Packages. NuGetCommandV2"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: NuGetCommand

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: eugene@xfox111.net (org name: xfox111), 'GitHub CI', 'SimpleOTP release pipeline' (definition ID: 3, Release pipeline) / 'Release-3' (pipeli

[2021-05-30 21:56] ankit-arora12 commented on #14659
Closing this issue since there is no response.

[2021-05-30 21:56] #14659 closed

[2021-05-31 00:05] StephenHodgson commented on #13949
Bump

[2021-05-31 02:42] atrauzzi commented on #9584
Not helpful.

[2021-05-31 06:13] JohanLarsson opened #14909 "Can VSTest@2 be used for net5?"
I tried a couple of permutations with no success

[code]

^ Builds but does not run tests

[code]

^ Builds and runs tests but fails CI due to stuff like:

[code]

Builds and runs tests but produced 247k false warnings.

Would be nice if something minimal like the first yml could work.

[2021-05-31 08:58] walliski commented on #13014
I am also still seeing this issue now and then, very inconvenient.

[2021-05-31 11:44] torbjoernk opened #14912 "How to use Docker task to use NO build context at all?"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Docker

## Environment
- Server - Azure Pipelines or TFS on-premises?
     Azure Pipelines

- Agent - Hosted or Private:
    Hosted

## Issue Description

The default build context for Docker images is the current working directory.

As the build context counts towards the image's size, there are situations where having no build

[2021-05-31 13:00] AmrutaKawade commented on #14752
@bilalmalik777 sorry i did not understand this part

[2021-05-31 13:10] bilalmalik777 commented on #14752
i have solved the issue by setting the **includeRootFolder: false**

[2021-05-31 13:25] AmrutaKawade commented on #14796
@DillonAd Can you add `deploymentMethod: zipDeploy` to the task.
also from attached logs I can see that configuration setting `-windowsFxVersion DOTNET-ISOLATED|5.0` is not getting set. have you attached correct logs?

[2021-05-31 13:26] AzizAbdullaev commented on #10574
Thank you 👍

[2021-05-31 13:30] AmrutaKawade commented on #14805
@KasperPurunen can you share debug logs?

[2021-05-31 13:40] AmrutaKawade commented on #14752
Great!!!
I will close this issue since its resolved

[2021-05-31 13:40] #14752 closed

[2021-05-31 13:52] matteotumiati opened #14913 "DownloadPipelineArtifact@2 not taking input parameters for artifact and path"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadPipelineArtifact

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
- Agent - Hosted or Private: Hosted agents

## Issue Description

I have a pretty simple template defined as follo

[2021-05-31 14:53] AmrutaKawade commented on #14884
@dsfrederic which version of azcopy.exe installed on your agent?

[2021-05-31 15:09] AmrutaKawade commented on #14906
Can you remove double qoutes around parameter value

[code]

[2021-05-31 15:17] daniel-anova commented on #14906
Without double quotes it exhibits the same behavior. The quotes were added in an attempt to workaround it.

[2021-05-31 17:15] anatolybolshakov commented on #13014
Hi @Nekto89 @ericstrongDevOps @walliski could you please share the logs with this error - for us to understand better how we could fix this? We could add retry logic - but we need to determine where exactly this issue happens.

[2021-05-31 19:17] sfragata opened #14915 "Use more recent java version in Maven@3"
Feature
*Type*: Upgrade Maven task to more updated java version

**Enter Task Name**: Maven@3 (https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/MavenV3)

## Environment
- Server - Azure Pipelines

## Issue Description

The more updated `jdkVersionOption` used by task `Maven@3` is 11
 (#jdkVersionOption: 'default' # Optional. Options: default, 1.11, 1.10, 1.9, 1.8, 1.7, 1.6)

ht

[2021-05-31 19:57] eric-labelle commented on #13903
bump. not stale :)

[2021-06-01 07:43] AmrutaKawade commented on #14879
you need to set it like this.
`[ { "http20Enabled": true} ]`

[2021-06-01 07:54] SheGe commented on #14882
I was affected by similar issue. If variable is a static pipeline variable (variable specified in yaml file and its value is not changing during pipeline execution) you could use a templating language as a temporary fix: `artifact: ${{ variables.artifactName }}`

[2021-06-01 08:00] titans2016 commented on #14882
When I put artifact: ${{ variables.artifactName }} I've got an error:
/azure-pipelines-CD.yml (Line: 14, Col: 13): A template expression is not allowed in this context

[2021-06-01 08:16] SheGe commented on #14882
From what I know usage of variables is not supported yet today in definition of `resources`: https://developercommunity.visualstudio.com/t/Allow-variables-at-resourcesrepositori/816606

Hope that's your issue. Temporary fix I proposed was working fine for me with a standard jobs (not deployment jobs). I do not have any yaml based release def today to verify if usage of templating language on deplo

[2021-06-01 08:28] 375gnu commented on #14440
I face the same (or similar) issue: if i have artifacts built in branch `foo` all consequent builds of this branch will use artifacts from cache. But for other branches (`bar`, `baz`, etc) there are initial cache misses and new caches are created for them. I believe if you remove additional scopes everything will be fine.

[2021-06-01 09:25] BKJackson commented on #12147
This is still happening when I try to push a docker image from the Azure build pipeline.

[2021-06-01 09:39] svrooij commented on #13918
This is still a vary much liked feature. Please don't close

[2021-06-01 09:48] sussexrick commented on #14879
@AmrutaKawade Thank you, your solution worked.

[2021-06-01 09:48] #14879 closed

[2021-06-01 12:01] lg2de commented on #13491
Disabling McAfee does not solve the problem.

[2021-06-01 13:09] DannyBoyIT commented on #13232
Got this error today while deploying a hotfix that took our whole webapp down.
![image](https://user-images.githubusercontent.com/22036071/120328710-630f9200-c2eb-11eb-84d1-05d03a5851a6.png)

Is there any workarround for this in Azure Devops classic deployment?
I guess one workarround should be to deploy each time to a new folder and then changing the app directory in the IIS but I don't know if I

[2021-06-01 13:47] NecatiMeral opened #14917 "WindowsMachineFileCopyV2 - Copy file on remote machine"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: WindowsMachineFileCopyV2

## Environment
- Server - Azure Pipelines or TFS on-premises?
    - TFS on-premises version: **2020.1**
- Agent - Hosted or Private:
    - private agent, OS of the machine running the agent an

[2021-06-01 14:31] DillonAd commented on #14796
@AmrutaKawade I added the `deploymentMethod: zipDeploy` setting and got the same result. Here are the logs from the latest run. Thanks!

[FunctionDeployLog.txt](https://github.com/microsoft/azure-pipelines-tasks/files/6576987/FunctionDeployLog.txt)

[2021-06-01 15:06] babukotha commented on #11876
In the Azure DevOps - project settings - Jenkins service connection. Please use the Jenkins API token which is generated under -your user, configure section - API token.

After that Azure Devops pipeline was success without this error.

[2021-06-01 21:33] #13983 closed

[2021-06-01 21:34] #13964 closed

[2021-06-01 21:34] #13952 closed

[2021-06-01 21:34] #13944 closed

[2021-06-01 21:34] #13921 closed

[2021-06-01 21:34] #13924 closed

[2021-06-01 21:34] #13840 closed

[2021-06-01 21:34] #13837 closed

[2021-06-01 21:34] #13646 closed

[2021-06-01 21:34] #13812 closed

[2021-06-01 21:34] #13009 closed

[2021-06-01 22:43] getvivekv commented on #7446
Hi @sureshtadisetty I do not think this is working. Just got this error when trying to setup a gate

https://orgName.vsrm.visualstudio.com/0743fde1-7465-47b2-8226-0c3b84142d6e/_apis/distributedtask/hubs/gates/plans/44eea82e-db9c-44b1-a46b-3bd1820b9296/events?api-version=2.0-preview.1

{"name":"TaskCompleted","result":"succeeded","jobId":"7031c3e2-1099-4464-982a-5e6c5ca776d2","taskId":"1f9ce5cc-fab

[2021-06-02 00:28] #13905 closed

[2021-06-02 00:28] #13881 closed

[2021-06-02 00:28] #13875 closed

[2021-06-02 00:28] #13869 closed

[2021-06-02 00:28] #11978 closed

[2021-06-02 00:28] #8552 closed

[2021-06-02 00:28] #11544 closed

[2021-06-02 00:28] #8073 closed

[2021-06-02 00:28] #7598 closed

[2021-06-02 02:34] asklar commented on #14904
This is now hitting React Native for Windows pipelines: https://dev.azure.com/ms/react-native-windows/_build/results?buildId=174255&view=logs&jobId=f933640c-866b-5d69-8f9e-c72a61865db3&j=f933640c-866b-5d69-8f9e-c72a61865db3&t=cc5f9f17-41e7-537a-c494-777e5536ceae

[code]

@anatolybolshakov Can this be prioritized as it is affecting a production pipeline?

[2021-06-02 02:35] asklar commented on #14904
CC @AgneLukoseviciute @dannyvv

[2021-06-02 05:03] davidljuba15031979 commented on #13262
If there is

[code]

in replacement to

[code]

then there is no exception.

[2021-06-02 10:24] shigupt202 commented on #14700
But I don't think it would be right to assume that the agent contains the certificates in all the scenarios. Service connections are meant to provide all kind of information required to communicate with an external entity, and that's why tasks are depending on them to extract all the information. If we assume that some parts of the kubeconfig will be fetched from the agent, it'll break a lot of ex

[2021-06-02 10:41] kim3er opened #14922 "VSBuild & MSBuild fails when target is specified"
## Required Information

Bug, VSBuild@1 & MSBuild@1

## Environment

Server: Azure Pipelines
Account: WriteUpp
Project: WriteUpp
Build Number: 20210528.4 onwards

Agent: Hosted
Queue: Azure Pipelines
Image: windows-latest

## Issue Description
We have a single solution with multiple web projects and shared libraries. We build and deploy each web project in separate jobs within the same pipeline. W

[2021-06-02 10:59] AnnaOpareva commented on #14776
@devizer
Hello. Could you send us your logs with checked “Enable system diagnostics” for closer review of your issue?
The Azure Pipelines agents don’t have official support for Windows ARM64 and there are maybe compatibility issues with the use of x64 and x86 builds of agent on the Windows ARM platform.

[2021-06-02 11:55] walliski commented on #13014
@anatolybolshakov

I managed to reproduce the problem with debug on, by queuing a job in Jenkins that simply had a `sleep` step, and following the (non-existent) console output.

This is what I got in the logs in AzDo:
[code]

Before and after this was a long list of debug messages for the tracking. So it seems like even if it sets the build as failed, it still continues to poll and run the task i

[2021-06-02 14:13] damien-urruty-sonarsource commented on #14816
Hello,

We were able to reproduce the problem a couple times since we raised this issue but I was not able to get logs.

My 2 cents: just at the end of our Gradle `test` task,  we asynchronously trigger the shutdown of our test environment (an IntelliJ instance) which in turn results in `its/build/idea-sandbox/system/port` file to be deleted. In some cases, the deletion happens while the publishJU

[2021-06-02 14:19] tomkuijsten commented on #14766
And? Any progress?

[2021-06-02 14:55] slmagus commented on #9172
Actually you need to use a DELETE method. Not a PUT method in order to remove a secure file. This will return a HTTP status code 204 when successful with an empty response.

[2021-06-02 15:27] milbrandt opened #14923 "MavenAuthenticate@0 relies on NodeJS 6 which is blocked"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-02 18:59] menees commented on #11130
I worked around it by removing the `--output $(build.artifactstagingdirectory)` argument and letting each project publish into its default relative subfolder (e.g., `Apps/Proj1/bin/Release/net5.0/publish`). Then I added a single PowerShell script step to the pipeline to copy each `publish` subfolder to the `$(build.artifactstagingdirectory)` using the relative paths of my choice. The projects to p

[2021-06-02 23:29] jbowtie commented on #14805
Here is the debug log for the deploy azure resources stage:
[azure-resource-log.txt](https://github.com/microsoft/azure-pipelines-tasks/files/6587902/azure-resource-log.txt)

Here is the debug log for the AzureWebAppContainer stage:
[web-container-log.txt](https://github.com/microsoft/azure-pipelines-tasks/files/6587900/web-container-log.txt)

[2021-06-03 08:19] AmrutaKawade commented on #14917
Our task doesn’t support this scenario copying from one server to another

[2021-06-03 09:11] tauhid621 commented on #14387
This is the expected behaviour. The 'target' input can be a commit or branchName. So the task checks if there is any branch with the provided target. In case the response is 200 we know that the target was a branch other wise target is considered as a commit.

https://github.com/microsoft/azure-pipelines-tasks/blob/3d006dc5d5d66a880c039f8ee50bdb319a89c69a/Tasks/GitHubReleaseV1/operations/Helper.ts

[2021-06-03 09:11] #14387 closed

[2021-06-03 09:25] NecatiMeral commented on #14917
Hello Amruta,

thanks für you reply. In my use case it's from and to the same host.

But I think with a few tweaks, it could be implemented for even multiple hosts.

[2021-06-03 09:28] tauhid621 commented on #14610
Closing this as V2 of this task is being rolled out which fixes the issue

[2021-06-03 09:28] #14610 closed

[2021-06-03 09:28] tauhid621 commented on #13380
Closing this as V2 of this task is being rolled out which fixes the issue

[2021-06-03 09:28] #13380 closed

[2021-06-03 10:25] YarekTyshchenko opened #14929 "AzureIoTEdge Task fails with a cryptic error"
*Type*: Bug

**Enter Task Name**: AzureIoTEdge

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

- Agent - Hosted or Private: Hosted
    - If using Hosted agent, provide agent queue name:

## Issue Description
Deploy command fails:

[code]
- Pipeline vmImage: ubuntu-latest
- Agent: Hosted Age

[2021-06-03 11:40] AnnaOpareva commented on #13470
Hello @harvinders, I can't reproduce this issue, and seems like it mostly related to the agent configuration.
* The first suggestion is just to try to reconfigure the agent.
* Also the problem could be caused that there is a firewall or proxy in your network and the agent is not configured to work properly with them. Is proxy or firewall set up in your network?

[2021-06-03 11:40] rsmit3 commented on #14929
I was getting the same error on Ubuntu-20.04 using AzureIoTEdge@2.4.5

I found this bulletpoint in the **News** section of the Readme for the [azure-iot-cli-extension](https://github.com/Azure/azure-iot-cli-extension),

Adding the `azure-iot` extension update before using the AzureIoTEdge task appears to fix the problem for me:
[code]

[2021-06-03 12:01] anatolybolshakov commented on #14922
This seems to be related to recent Visual Studio update on images - since there was no changes for pipeline tasks.

[2021-06-03 12:04] kim3er commented on #14922
That seems to be confirmed by this ticket, https://github.com/actions/virtual-environments/issues/3475.

[2021-06-03 12:48] jasric89 commented on #12919
Did this get fixed? As I am having the exact same issue on the smallest amount of App Setting information being applied.

[2021-06-03 14:32] anatolybolshakov commented on #13973
Reopened since it's still actual

[2021-06-03 14:33] anatolybolshakov commented on #13972
Reopened since it's still actual

[2021-06-03 16:01] Manbearpiet opened #14930 "Forcing AzurePowerShell@5 to use Az PowerShell 6.0.0 fails, using LatestVersion (which is 6.0.0) does work"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-03 16:03] vaindil commented on #13971
I haven't been able to get a PR through today because our build gate (which uses `npm ci`) has been failing for hours with this error. Normally we can re-queue once or twice and it'll go through, but I'm on my 11th try in a row now and it's just not working. We did try switching to npm 7, but that doesn't work per npm/cli#2619. This is an issue that _needs_ to be addressed.

[2021-06-03 16:12] anatolybolshakov commented on #14816
@damien-urruty-sonarsource thanks for additional info here!
Gradle tasks uses task-lib findMatch method - this method scans files in build directory and applies some filtering. If there is some file removed between scanning and filtering phases - it will fail.
So currently it's not prefferable to any files in build directory be changed during tests publishing - but let us take a look how we could

[2021-06-03 16:20] rreis27 commented on #12140
I am relatively new to Azure pipelines and specifically agents, but I have my self-hosted linux agent running in a docker container.  I just cannot get docker to work properly within the container.  I am trying to follow how to use the socket bind, but right now I don't have anything working, docker will not start in the container as it has some issues with iptables.  It feels like I'm missing som

[2021-06-03 17:11] cindydeng1998 commented on #14929
Hello @YarekTyshchenko and @rsmit3, thank you for letting us know about this issue. We are aware of this error and have deployed a hotfix to the DevOps Task that will be effective next week. Meanwhile, the solution provided by @rsmit3 is a good work around, and you can reference this [Github issue here](https://github.com/Azure/azure-iot-cli-extension/issues/357) to track our bugfix progress.

Tha

[2021-06-03 17:26] anatolybolshakov commented on #11658
@idubnori @lbalceda let me close this one here at the moment since it requires changes not only related to pipeline tasks side.

[2021-06-03 17:26] #11658 closed

[2021-06-03 17:31] anatolybolshakov commented on #14882
@titans2016 do you use PublishPipelinesArtifacts task to publish artifacts? Looks like original artifact was generated by publish build artifacts task - so some field has wrong format, which causes this issue.

[2021-06-03 17:35] titans2016 commented on #14882
Here is my CI pipeline for create artifact.
Nothing special.

[code]

[2021-06-03 17:43] anatolybolshakov commented on #13014
@Nekto89 @walliski thanks! Let us take a look - probably it make sense to add some retry logic for these requests - to avoid intermittent issues.

[2021-06-03 18:34] IanKemp commented on #11658
@anatolybolshakov this has already been reported at https://developercommunity.visualstudio.com/t/Unable-to-overwrite-secure-file-in-Azure/1181160?space=21 and closed as "not a bug" which is bulls**t. This is an obvious defect in DevOps and I don't particularly care if it's only in the non-YAML pipeline or your only priority is closing bug reports that "aren't your responsibility", you don't get t

[2021-06-03 19:15] josesimoes commented on #13065
Still waiting

[2021-06-03 19:50] SaraJonnas commented on #11493
I followed the same steps. In the log, i see the values substituted in appsetting.json however when i do not see the new values in the appsettings under artifact. Any thoughts.

[2021-06-03 20:48] whamilton-airbus commented on #11478
Would also be useful for me; tasked with running testing as part of the pipeline in an environment with limited ingress.

[2021-06-03 21:48] reedptaylor commented on #12470
Also getting this error with ```docker image save``` command run by ```Docker@2```

[2021-06-04 07:15] AmrutaKawade commented on #14930
can you run by setting `system.debug=true` in variables and share logs?

[2021-06-04 07:19] AmrutaKawade commented on #14917
I mean currently we just support copying from local to remote.
I will take it as enhancement request.

Feel free to raise PR if you know the solution. we will review it

[2021-06-04 07:19] SqueedWalz commented on #13980
Thanks! Seems to work now

[2021-06-04 09:33] anatolybolshakov commented on #14882
@titans2016 CopyPublishBuildArtifactsV1 task is deprecated and it's not recommended to use it - this tasks publish build artifacts, but you are trying to download artifact using DownloadPipelineArtifacts task. This causes such issue probably.

[2021-06-04 09:50] IvanAlekseev commented on #13257
Hello, is there any update?
![image](https://user-images.githubusercontent.com/23052247/120783143-a273f380-c522-11eb-9571-60862cce80b6.png)

[2021-06-04 10:25] worldspawn commented on #12140
@rreis27 this expects that that docker is installed and running on the container host AND the docker cli is installed in the container. The volume bind just makes the docker cli connect to the docker daemon that is running on the host. Does that describe your scenario?

[2021-06-04 14:00] rreis27 commented on #12140
Thank you @worldspawn!  I found the issue as I had docker running on the container host, however it was not properly configured as I had an error in my docker systemctl file.  Once I was able to resolve that my container could connect to the socket and I'm working on my first container agent build, very exciting!!!

Thank you all for the posts!

[2021-06-04 14:16] mouellet opened #14931 "DockerV2: Invalid base image name with multi-stage builds using COPY --from"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DockerV2

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/DockerV2

## Environment
- Server - Azure Pipelines
- Agent - Private

## Issue Description

Sample Dockerfile to reproduce this issue:

[code]

The `COPY --from=builder` command is picked up  as `FROM` c

[2021-06-04 16:13] ylr-research opened #14932 "DotNetCoreCLI publish timeout"
I'm trying to publish a Blazor project with AOT [On] and I'm getting a timeout error. Below are the snapshots of task and result.

![image](https://user-images.githubusercontent.com/63487874/120830007-0f3fbb80-c52c-11eb-85de-8b3bf839990d.png)

![image](https://user-images.githubusercontent.com/63487874/120829869-e5869480-c52b-11eb-9cc2-8c8e9ca70f01.png)

[2021-06-04 16:23] clairernovotny opened #14933 "UseDotNet install task on Pipelines broken with msbuild.exe"
Not sure when this started, but I’m getting errors that a .NET SDK isn’t being found (use InPrivate mode if you need, it’s a public pipeline):
https://dev.azure.com/clairernovotny/GitBuilds/_build/results?buildId=5041&view=logs&j=afbd19f9-04b8-5541-fe1c-f607ec1d72d6&t=436cf0bd-0259-53f3-c80f-06fba914ebdb

It’s installing a preview SDK, which I use for `dotnet publish` but there’s no global.json as

[2021-06-04 18:33] timheuer commented on #14933
@maxim-lobanov can you help route?

[2021-06-04 18:40] #13956 closed

[2021-06-04 18:41] #13906 closed

[2021-06-04 19:45] ylr-research commented on #14932
I just increased the timeout threshold to 90 min. However, this takes to long to publish though.

[2021-06-05 21:08] #13406 closed

[2021-06-06 12:15] #14013 closed

[2021-06-06 12:15] #13896 closed

[2021-06-06 12:15] #13886 closed

[2021-06-06 14:06] jikuja opened #14934 "AzurePowerShellV5 task cannot find bicep from path, bicep related commands are failing"
## Required Information
*Type*: Bug

**Enter Task Name**: AzurePowerShellV5

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

The task does not find bicep command from path

### Task logs

[code]
when running following task

[code]

[2021-06-06 15:07] #13524 closed

[2021-06-07 06:46] ylr-research commented on #14932
Now it's not timing out but rather going out of memory

(_WasmBuildNative target) ->
         EXEC : LLVM error : out of memory [my project's path]
         emcc : error : 'C:\hostedtoolcache\windows\dotnet\packs\Microsoft.NET.Runtime.Emscripten.2.0.12.Sdk.win-x64\6.0.0-preview.4.21220.1\tools\bin\wasm-ld.exe @C:\Users\VSSADM~1\AppData\Local\Temp\emscripten_c2hlbfgo.rsp' failed (3221225501) [my pr

[2021-06-07 12:03] doggy8088 opened #14935 "FtpUpload@2 interpret wrong filePatterns"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: FtpUpload@2

list here (V# not needed):

- FtpUploadV2

## Environment

- Server - **Azure Pipelines**

    Account name: `willh`

    Team Project Name: `Mocky-Test`

    Build definition name: `Mocky-Test-CI`

    Bu

[2021-06-07 13:04] DenisRumyantsev commented on #14789
Hi @japj, we are currently investigating this issue, could you please share pipeline debug logs for the `DeleteFiles` step with the related error? You can send them to my email:  v-denisr@microsoft.com

Also, could you please try to build the latest version of the `DeleteFiles` task and upload it via the [tfx-cli](https://github.com/Microsoft/tfs-cli) tool into your AzureDevOps on-prem instance to

[2021-06-07 13:29] actionthomas opened #14936 "Impossible to restore packages if a feed in nuget.config contains a parenthesis in its name"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI

## Environment
- Server - Azure Pipelines or TFS on-premises?
TFS On-Prem (Version Azure DevOps Server 2020 Update 1 RC2)

- Agent - Hosted or Private:
 Private agent (2.186.1 on windows)

## Issue Descr

[2021-06-07 14:19] rebecca-makar opened #14937 "Go@0 task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-07 15:27] #14028 closed

[2021-06-07 17:16] walczakp opened #14939 "JenkinsQueueJob fails on writing summary markdown, even though Jenkins job itself is successful"
## Required Information
**Question, Bug, or Feature?**
Bug

**Enter Task Name**: JenkinsQueueJob

## Environment
- Server - Azure Pipelines

- Agent:  private (I think), version 2.187.2 on Linux x86-64

## Issue Description
I'm having an issue with JenkinsQueueJob. With parameters provided below, it fails despite underlying remote Jenkins build finishes correctly.
[code]

Underlying Jenkins Job is

[2021-06-07 17:22] Meir017 commented on #14146
@pavelfeldman do you think this would be useful?

[2021-06-07 18:07] tejasd1990 commented on #14772
@tovVAar , ping!

[2021-06-07 23:45] ggirard07 commented on #12900
@tauhid621 Documentation is still not up-to-date...

Also having variable keys to declare keys for metadata is just a nightmare for users. This is a really bad design!
In my case it looks like the suffix for the keys is based on the URL an end-user uses to queue the pipeline run, and not the one use to register the agent (if browser URL is pointing to https://dev.azure.com/org or https://org.visua

[2021-06-08 05:25] tejasd1990 opened #14942 "AzureKeyVaultV2 task should not always encode percents"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-08 05:33] japj commented on #14789
@DenisRumyantsev I would gladly send full debug logging.

However there are some problems that prevent me from actually doing that for our existing pipeline:
- The DeleteTask is done by a job generated by the Azure DevOps Server based on retention schedule or delete action from the web ui. I have no control over its debug settings, so I cannot enable debug logging for this specific job
- Once the

[2021-06-08 08:56] motim6026 opened #14948 "UPGRADE FAILED: failed to create resource: Ingress.extensions "server" is invalid"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-08 09:04] motim6026 commented on #14948
My mistake, forgot to set the path for values.yaml file.

[2021-06-08 09:04] motim6026 commented on #14948
My mistake, forgot to set the path for values.yaml file.

[2021-06-08 09:04] #14948 closed

[2021-06-08 11:48] Berthelmaster opened #14949 "Release Pipeline unable to stop application pool without powershell.exe crashing!"
Hi guys

We're having issues with a specific server that is unable to receive commands to stop applications pools.

I get the following message when attempting to stop the application pool of X website:

`Exit code 1 returned from process: file name 'C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe', arguments '-NoLogo -Sta -NoProfile -NonInteractive -ExecutionPolicy Unrestricted -Command

[2021-06-08 14:38] jdorecae opened #14950 "AzureIoTEdgeV2 deployimage should use subscriptionID instead of subscriptionName"
## Required Information

*Type*: Bug

**Enter Task Name**: AzureIoTEdgeV2 / deployimage

https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureIoTEdgeV2/deployimage.ts

## Environment
- Server - Azure Pipelines
    - account name : caeglobal
    - team project name : Digital
    - build definition name/build number : SentinelLocalGateway-CI #180557

- Agent - Hosted
    -  agen

[2021-06-08 15:58] michc-msft commented on #9998
@Garand-Gary @Ajay-MS What permissions do I need to configure (on both the DB and on the Azure portal) to set up the Active Directory - Password option on the SQL Dacpac task? I have been struggling with this for a bit now.

[2021-06-08 16:31] mhshami01 commented on #14950
Thank you @jdorecae for logging this request. We have added a work item our backlog to track this work.

[2021-06-08 17:12] brwilkinson commented on #14934
One more comment on this one...

I believe the current AZ version on this AzurePowerShell@5 task is: 3.4.0

[code]
That particular version has a known issue with failing on warnings. That has been fixed on newer versions.

So appplying the 3.4.1 patch release would be the easiest way to resolve the issue.

Also for @jikuja in the meantime to get past the issue, you can manually install bicep with

[2021-06-08 17:17] hitch45 commented on #1534
Updating the gradle version fixed the issue in my case

[2021-06-08 20:05] michc-msft opened #14951 "What permissions are needed to use the Active Directory - password option?"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-08 20:52] japj commented on #14789
@DenisRumyantsev please also note that I have a pullrequest for the azure-pipelines-task-lib that provides a fix/workaround of the issue. We have not seen any problems since deploying this fix locally (in the agent task cache on disk)

[2021-06-09 00:00] braidenstiller opened #14952 "Cosmos DB Linux Preview"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Cosmos DB Emulator Linux Preview

## Environment
- Server - Azure Pipelines

- Agent - Hosted

##
Hi,
The Cosmos DB team have created a linux preview of the cosmos db emulator:
https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emulator?tabs=ssl-netstd21#run-on-linux

It would be useful to have this s

[2021-06-09 00:21] omexus commented on #12503
we use short-lived branches a lot so this would be really useful

[2021-06-09 04:58] chshrikh commented on #14930
is this on private agent or hosted agent ?

[2021-06-09 05:01] chshrikh commented on #14934
please share the debug logs

[2021-06-09 05:05] brwilkinson commented on #14934
Debug logs? Bicep.exe is an external tool used for deploying ARM templates to Azure.

https://github.com/azure/bicep

Are you able to update to the newer AZ module for this task?

[2021-06-09 05:12] chshrikh commented on #14934
@brwilkinson if you can share the "Azure PowerShell" task's debug logs from pipeline, we will able to  identify the source of error.

[2021-06-09 05:18] brwilkinson commented on #14934
I have outlined that above.

The source of the error is a known issue in AZ.resources 3.4.0.

Also Bicep is new. Also info above on installing it with the AZ cli.

[2021-06-09 05:22] tejasd1990 commented on #14936
Hi @actionthomas ,
can you share a sample nuget.config file contanining the paranthesie?

[2021-06-09 05:40] agray commented on #13062
I have resolved my issue. https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/dotnet-core?view=azure-devops&tabs=netearlierversions#collect-code-coverage-metrics-with-coverlet section helped.  I was the PEBKAC. I updated all my NuGet packages this morning that were compatible with my core3.1 application and emitted cobertura rather than opencover xml from my unit tests.  Thanks all.

[2021-06-09 06:05] brwilkinson commented on #14934
What is the criteria to move to AzurePowerShell@6?

Is it a breaking change I.E. Major version change of the AZ modules?

Is it possible to just bump the minor Version of AZ modules and stay with AzurePowerShell@5?

[2021-06-09 07:19] AmrutaKawade commented on #14934
There are three ways to update Az modules version.

1. In the task instead of latest version use preferred version
2. On private agent install required Az modules and then use latest
3. For hosted agent add issue here https://github.com/actions/virtual-environments/issues to update

[2021-06-09 08:32] actionthomas commented on #14936
Hi !
Here it is (I have to change some data because it's public in here)
[Nuget.Config](https://github.com/microsoft/azure-pipelines-tasks/files/6622282/Nuget.Config.txt)

If you need the original one I'll have to send it to you privately :)

[2021-06-09 09:37] tejasd1990 commented on #14936
@actionthomas ,
no this is good enough.
I was able to repro this issue, even with running cli commands myself from a shell, so this is not a task issue.
The error comes because xml tags cannt contain such special cahracters. Can you check [this](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesourcecredentials) example, and make changes to your nugetconfig file to unblock

[2021-06-09 09:42] tejasd1990 commented on #14890
@c4tachan,
can you share the arm template you are deploying? This looks like a template issue to me and not a task one.

[2021-06-09 09:56] actionthomas commented on #14936
Yes I removed the parenthesis yesterday to be able to build :)

[2021-06-09 10:02] tejasd1990 commented on #14936
ok, glad to know that. Since this is not a task issue, closing, thanks.

[2021-06-09 10:02] #14936 closed

[2021-06-09 10:24] ggciteo opened #14956 "'build' build all stages, even if nothing depends on it"
Task 'build' does build ALL the stages of the Dockerfile, even if nothing depends on it.

Considering the following stage chain :
[code]
A normal 'docker build' would build A, B, and final, but NOT S. Building S would require '--stage S'

The plugin build ALL the stages : A, B, final, AND S

Running on AzureDevops, task Devops@2

Testfile :
[code]
Logs from Azure :
[code]
Logs from local 'docker b

[2021-06-09 12:08] jasper-d commented on #13919
@ds-ms @damccorm Any updates?

[2021-06-09 12:37] pragnesh1234 opened #14958 "Could not download groovy-all.jar (org.codehaus.groovy:groovy-all:2.4.15) Azure DevOps Build pipeline run not executed and getting this error"
=> Azure DevOps Build pipeline run not executed and getting this error. Anyway, build the project in Android Studio 4.2 (local machine) successfully without error. I don't know what is causing it to stop downloading or not allowing it to download the groovy file but I am stuck here and can't release my app :(

**Error logs:**
- Execution failed for task ':app:lint'.

           * Try: Run with --s

[2021-06-09 13:34] ylr-research commented on #14932
@chshrikh does the Release label means is to be fixed by Release?

[2021-06-09 13:45] M0ns1gn0r commented on #13819
@20shivangi have had a chance to discuss this issue with the product management team?

[2021-06-09 14:43] pk0511 opened #14959 "az functionapp config appsettings bulk setting updates is taking value as false"
We are using azure cli task with power shell to add multiple appsetting to function app using az functionapp config appsettings set az functionapp config appsettings set --name $(fnname) --resource-group $(rg) --settings "@$(System.ArtifactsDirectory)\drop\test.json".  This was updating the appsetting properly untill May 18th and the CLI version was azure-cli : 2.23.0 but now the cli 2.24.* is bei

[2021-06-09 14:54] felickz commented on #11151
Same issue with the `[Azure File Copy task](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureFileCopyV1/README.md)`

Cannot choose a service connection that is scoped to a management group, even though it has contrib permissions to the underlying subscription.

[2021-06-09 16:59] alexander-smolyakov commented on #14958
Hi @pragnesh1234, it seems the issue is related to problems with the internet connection. As a workaround, could you please try to increase the timeout for the connection?

For Gradle it can be done by adding the following parameters to your build command:
[code]

[2021-06-09 17:01] alex-peck commented on #14902
This is caused by an out of date agent. When the new task is used, it should request your agents to automatically update. Is your system configured to block agent updates?

[2021-06-09 17:35] brwilkinson commented on #14934
@jikuja I opened this issue to track your Bicep query.

https://github.com/actions/virtual-environments/issues/3558

I believe it should be okay to close this issue now ?

[2021-06-09 17:53] codytipton-hpg commented on #14902
At the time of the issue, updating the agent on both build server and the deployment target did not resolve.  Though I'm prepared to believe a later agent update resolves this issue, we've moved to PublishPipelineArtifact tasks and don't have a need to revert and retest PublishBuildArtifacts.

[2021-06-09 17:53] #14902 closed

[2021-06-09 18:34] anatolybolshakov commented on #13919
Hi @jasper-d - sure, let us check this

[2021-06-09 21:43] ganesp commented on #14594
@bwstaal Sorry for the delay here.
From the logs you shared, I see that the latest stable version was 16.9.4.

Can you please re-try as I see new latest stable version available is 16.10.0
https://www.nuget.org/packages/Microsoft.TestPlatform

If the problem still repros then please do share the logs.

[2021-06-09 21:45] twurm commented on #13376
@bishal-pdMSFT can you point me in the direction of the workaround, or did you just mean the full version you want to use?  I would think that keeping feature parity with what happens in the local developer experience and that of Azure DevOps would make everyone's life easier.

It might be helpful to update the [documentation ](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dot

[2021-06-10 00:59] ChristopherHaws opened #14961 "[FEATURE] Add support for `ApplicationInsights:InstrumentationKey` app setting when creating release annotations"
## Required Information
**Question, Bug, or Feature?**
*Type*: Feature
**Enter Task Name**: Common/AzureRmDeploy-common

## Environment
- Azure Pipelines
- Hosted (windows-latest)

## Issue Description
Recently the `ReleaseAnnotations` task was deprecated due to the release annotations now being created automatically when using an AppService deployment task. The current implementation looks for th

[2021-06-10 05:54] pragnesh1234 commented on #14958
@alexander-smolyakov
Thanks for the replay.

I have added it in gradle.properties file but it is not working, still getting the same error in Azure DevOps build.
I have attached the code snippet of gradle.properties file please check it.

android.enableJetifier=true
org.gradle.jvmargs=-Xmx1024M -Dkotlin.daemon.jvm.options\="-Xmx1024M"
org.gradle.internal.http.connectionTimeout =120000
org.gradle.i

[2021-06-10 06:00] AmrutaKawade commented on #14934
yes. we will close this issue

[2021-06-10 06:00] #14934 closed

[2021-06-10 07:07] thurfir commented on #13223
Up to prevent this issue being closed.

[2021-06-10 10:01] tejasd1990 commented on #14937
Hi @rebecca-makar,
this looks like an issue to me with the package rather than go tool, or the task. The package [documentation](https://github.com/Azure/azure-sdk-for-go#azure-sdk-for-go) says that they support the latest 2 releases of go, so 1.13(which you are using) can run into compatibility issues with it. Can you use the latest go version and see if it works?

[2021-06-10 10:21] tejasd1990 commented on #14772
Closing this because of inactivity. @tovVAar , feel free to reopen in case you hit this issue again, and please attach the full debug logs.

[2021-06-10 10:21] #14772 closed

[2021-06-10 11:07] eriawan commented on #14909
@JohanLarsson

Yes. as long as your ,NET 5.0 unit test project is purely using .NET 5.0 as the only target framework, using MSTest as the test platform, and you are not using the parameter of `/Framework:.NETCoreApp,Version=v5.0`.

[2021-06-10 11:51] NorbertNemec opened #14963 "VSTest@2 with GoogleTestAdapter does not fail on test discovery timeout"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VSTest@2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines (Microsoft-internal)
- Agent - Hosted,
- Image - windows-2019

## Issue Description

The discovery timeout in the GoogleTestAdapter causes an error in the log output which also shows up

[2021-06-10 11:53] Manbearpiet commented on #14930
This is on private agent.

We can't :( regulatory compliance

[2021-06-10 12:01] jper commented on #14173
Still an issue today, very annoying to have false negatives in your release pipeline

[2021-06-10 13:02] twurm opened #14964 "DotNetCoreCLI@2 - LangVersion Issue with SDK 5.0.100"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI@2

## Environment
- Server - Azure Pipelines

- Agent - Hosted
Pool: Azure Pipelines
Image: ubuntu-18.04
Agent: Azure Pipelines 2

## Issue Description

When building an application using SDK 5.0.100 we are seeing the following exception:

[code]

The yaml for our DotNetCoreCLI build call is below:

[code]

We aren't sp

[2021-06-10 13:03] JohanLarsson commented on #14909
The test project is:

[code]

[2021-06-10 13:25] AmrutaKawade commented on #14930
can you add your az modules at this location `/usr/share/` ? Let me know if that works

[2021-06-10 13:28] Kolky commented on #13033
Seems to happen more frequent now. Still happening when executing a `dotnet tool restore` after a `NuGet Authenticate` step (0.181.0). Setup is still similar to the one suggested by me above.

[2021-06-10 13:38] eriawan commented on #14909
Since you're not using MSTest, it is recommended that you use `dotnet test` to run your NUnit-based unit tests.

[2021-06-10 15:10] #14035 closed

[2021-06-10 15:49] surlemur opened #14965 "Docker base image info extraction fails with multistage COPY --from="
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Docker@2

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definiti

[2021-06-10 16:19] thepaulmacca commented on #11151
Wow can't believe this is still open 😆

[2021-06-10 22:38] jbowtie commented on #14805
@AmrutaKawade Were those logs helpful?  Do you need any more detail?

[2021-06-11 03:48] tejasd1990 commented on #13033
ack, will look into this and update today

[2021-06-11 05:15] AmrutaKawade commented on #14951
As discussed, try connecting to Azure SQL database with active directory password from SSMS. if you are able to connect then you should be able to connect from Task as well. for Task no additional permissions are required.

Closing this issue.

[2021-06-11 06:35] tejasd1990 commented on #14890
@c4tachan , ping!

[2021-06-11 07:44] Manbearpiet commented on #14930
Just to check I have to deviate from /usr/local/share/powershell/Modules?

![image](https://user-images.githubusercontent.com/43993129/121650217-a1e6da00-ca99-11eb-83a9-658e40ea966d.png)

[2021-06-11 08:29] severity1 opened #14966 "Add hcl support for PackerBuildV1"
As of version 1.7.0, HCL2 is the preferred way to write Packer templates. Please add support for HCL2 templates.

*Type*: Feature

**Enter Task Name**: PackerBuildV1

[2021-06-11 08:51] Jon889 commented on #12901
You can use pipeline artefacts to do this. I have one pipeline that downloads the caches every night and uploads them to Azure Pipeline Artifacts which is free (not Azure Artifacts which costs per GB), then my other pipelines download the pipeline artefact at the beginning of each run.

[2021-06-11 09:08] surlemur commented on #14965
Duplicate of https://github.com/microsoft/azure-pipelines-tasks/issues/14931

[2021-06-11 13:51] Oliver-Piorun commented on #14931
Comments like `# Copy files from A to B` are also taken into account when trying to get the base image name. The current implementation seems to be very immature.

Greetings!

[2021-06-11 13:55] thyme51 opened #14967 "Update the AzCopy tool installed with the self hosted agents"
**Question, Bug, or Feature?**
*Question*: Our agents have updated to version 2.187.2. How do we update the version of azcopy.exe to the latest version (10.0)

**Enter Task Name**:   AzureFileCopy@4

## Environment
-  Azure Pipelines

https://kmddk.visualstudio.com/Gandalf
Pipeline "FacTools" failing when deploying to static website in blob storage

- Agent - Hosted

Microsoft Windows [Version 10.

[2021-06-11 14:19] jikuja commented on #14934
This should be re-opened and wait to see if bicep binary is added for hosted agents images or not. The current workarounds given in the virtual-environments ticket are kind of unfeasible:

1) Run a task to install binary. Do I really need to use third-party tasks for using all AZ.Resources features?
2) Run curl without any caching to download and install 40MB binary without any caching.

Maybe AZ.

[2021-06-11 16:05] brwilkinson commented on #14934
@jikuja I somewhat agree, however this is not the only task that would require Bicep.

As an example the "AzureResourceGroupDeploymentV2" and "AzureCLIV2" task would also need it.

Then there are GitHub workflows and DevOps pipelines to consider.

So this may not be the best place, ... there should be a solution that is easy to manage... We can see if we can figure that out.

[2021-06-11 19:32] bishal-pdMSFT commented on #14806
AFAIK, the logic to detect web projects based on `wwwroot` and `web.config` was created during early days of .Net Core. Later during .Net Core 3.x timeframe, a fallback check of web SDK was added but the original check was not removed so as to not break existing behavior.
We still should ensure that we do not introduce a breaking behavior by removing the check for `wwwroot` and `web.config`
@timhe

[2021-06-12 00:08] #14042 closed

[2021-06-12 15:36] #13262 closed

[2021-06-13 15:05] #14047 closed

[2021-06-14 01:55] GW00D opened #14969 "Allow installing Node.js version based on label such as 'lts'"
NodeTool@0
Feature enhancement

Enter Task Name: Allow installing Node.js version based on label such as 'lts'

Environment
Server - Azure Pipelines
Agent - Hosted

Issue Description
It would be good to be able to specify a label of 'lts', 'current' or 'latest', instead of a specific node version.

[2021-06-14 04:22] singara-velan opened #14970 "AzureFileCopy@4 - Incorrect content type when copy file to azure storage blob in pipeline"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  AzureFileCopy@4

## Environment
- Server - Azure Pipelines

- Agent - Hosted
  Pool: Azure Pipelines
  Image: windows-latest
  Agent: Azure Pipelines

## Issue Description

Using AzureFileCopy@4 to copy MS office files(docs. excel, ppt) content type been incorrectly set as "application/zip"

**Pipeline Task**
![image](https://user-i

[2021-06-14 05:01] AmrutaKawade commented on #14930
Yes. your az_6.0.0 folder should be at this location `/usr/share/az_6.0.0`

[2021-06-14 05:11] AmrutaKawade commented on #14967
You can login to your agent machine and install there directly

https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10

[2021-06-14 05:21] AmrutaKawade commented on #14970
Our task internally uses azcopy.exe and automatically setting content-type is feature provided by azcopy

https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-copy#advanced

we don not set content-type in task

[2021-06-14 05:41] singara-velan commented on #14970
Is that means bug in azcopy itself?

Standalone azcopy in local pc, copying the file with correct content-type. When its been used with pipeline it is getting incorrect.

[2021-06-14 08:41] joaomoreno commented on #13625
It would be great to have this implemented.

[2021-06-14 09:10] #14061 closed

[2021-06-14 09:14] tomkuijsten commented on #14766
Well I don't think this will be resolved, but I did find something that might be the problem. We use custom hostnames with certificates, but that's been done in a different step. I think that this might be the issue, my first step will not have this custom hostname and Azure will remove the custom host binding, and that might result in the conflict. Not sure yet, but something to check if you run

[2021-06-14 11:12] choukimasri commented on #10525
Hello !, we're still having this issue despite the task promising a global scope on the prejob flag, and failing to deliver variables in file scripts, any updates ?

Thank you !

[2021-06-14 11:42] choukimasri opened #14971 "Unexpected Behavior when linking KeyVault to Library Group Var"
Hello !

We're having an issue using Variables from the Azure KeyVault Task in our powershell script.

Best Regards !

## Required Information

**Question, Bug, or Feature?**
*Type*: Bug/Feature

**Task Name**:
Azure Key Vault Task

## Environment
Azure Pipelines

- Agent - Hosted or Private:
 Hosted windows-latest

## Issue Description
We created a Library Variable Group that streams our secrets

[2021-06-14 12:22] a99cl208 commented on #14640
Same issue here. @ganesp isn't this issue is related to #14808 ? If yes do you have any information about the fix rollout?

[2021-06-14 12:25] choukimasri commented on #14967
@thyme51  hey !, I wrote this as a workaround, adapt to your needs
[code]

[2021-06-14 13:19] ylr-research commented on #14932
Is there any update on this?

[2021-06-14 15:55] coldacid commented on #11443
And still waiting for this.

[2021-06-14 15:56] c4tachan commented on #14890
sorry, I'll get you a sample template ASAP

[2021-06-14 16:00] c4tachan commented on #14890
[code]

[2021-06-14 16:01] c4tachan commented on #14890
The problem is that we are using the new "relativePath" syntactic sugar added sometime in API 5.*

If we deploy this template using the powershell cmdlets it validates and deploys just fine as well.

[2021-06-14 19:10] Jharr20210609 opened #14972 "Build Pipeline Powershell task exposes a variable's sensitive information in the Activity Log on a Parse Error"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-14 20:29] josiahlaivins commented on #11864
I am using the docker caching and I'm pretty sure downloading the image from ACR is faster that using the cache... I do not think cache is supposed to be this slow. If anyone wants me to do a detailed comparison let me know. I'm just surprised that the cache is this slow.

[2021-06-14 22:20] kanukhosla commented on #10274
Experiencing the same issue. I uploaded the 4_ProvisionKeyVaultPermissions.ps1 file to /home/username via powershell in azure portal.

Executed -->

1. az account set --subscription $SUBSCRIPTION_NAME
2. ./4_ProvisionKeyVaultPermissions.ps1
3.
PS /home/username> .\4_ProvisionKeyVaultPermissions.ps1
WARNING: Interactive authentication is not supported in this session, please run cmdlet 'Connect-AzA

[2021-06-14 22:23] rebecca-makar commented on #14937
@tejasd1990  i am trying with the version in their pipeline now, 1.14.0 and I am still getting the same: https://msazure.visualstudio.com/One/_build/results?buildId=43539946&view=logs&j=a9c89324-43ed-57fa-5130-aac963f1a151&t=321595da-8c92-5238-e9d3-1ea24cfba352&l=30

Let me know if I should be doing something else. Have tried a variety of things over last few days from versions, to paths and somew

[2021-06-15 00:05] shahzaibj opened #14973 "Github status check not updated by builds triggered by "Other build reason""
Opening this issue here as I saw very similar issue here: https://github.com/microsoft/azure-pipelines-tasks/issues/5639

## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: N/A

## Issue Description

When a pipeline is triggered and the build reason is classified a

[2021-06-15 05:42] shailaja-devops commented on #13155
Hi @saquibkhan
Even i am facing the same issue...installed tool installer  where i have used official nuget packages yet not working....
here are the logs...

Publishing Attachments: 2
Execution Result Code 1 is non zero, checking for failed results
Completed TestExecution Model...
##[warning]Vstest failed with error. Check logs for failures. There might be failed tests.
##[error]Error: The proces

[2021-06-15 07:09] lle-beep commented on #13937
On june 2021, still present in documentation and the same issue still happening on Dev18.M170.6 on-premise version.

[2021-06-15 10:18] #14967 closed

[2021-06-15 10:29] thyme51 opened #14974 "How to reference build artifacts correctly in task AzureFileCopy@4"
**Question**

In my task, I have to use "../" to avoid the empty directory - my build files that I want to deploy is in the "drop" directory.
The code belows works perfectly but looks odd
[code]
This is the files on my deploy agent which is different from the build agent:
![billede](https://user-images.githubusercontent.com/8446402/122037214-a7fbf400-cdd4-11eb-9415-705bbc5124a5.png)

**Enter Task

[2021-06-15 10:34] kim3er commented on #14922
I can confirm the targets cli parameter is work on VSBuild 1.187.0.

[2021-06-15 10:34] #14922 closed

[2021-06-15 10:51] skelso01 commented on #12673
Is there something new on this issue? We also need to use secure file in a more dynamic way
Best regards
skelso01

[2021-06-15 11:59] k290 commented on #8408
Fixing the link Dmytro posted. When you click it it goes to the wrong URL
https://www.programmingwithwolfgang.com/deploy-dacpac-linux-azure-devops/

[2021-06-15 13:40] roy-uijting commented on #14766
+1

[2021-06-15 18:40] jotatoledo commented on #11013
Do release pipelines support the cache task at all?

[2021-06-15 19:57] fadnavistanmay commented on #11013
Nope, it doesn't

[2021-06-15 21:40] LadyCailin commented on #14915
I've figured out a workaround that's relatively easy enough. You just need an azure blob store where you can store the java version you want to use, then use the JavaToolInstaller to install it, then tell the maven tool to use that version. (It will give a warning, but you can ignore that.) See [here](https://github.com/EngineHub/CommandHelper/blob/master/azure-pipelines.yml) for how I'm doing it.

[2021-06-15 21:53] LadyCailin opened #14975 "Provide Java 16 build for the PreInstalled type in JavaToolInstaller"
**Question, Bug, or Feature?**
Feature

**Enter Task Name**:  JavaToolInstaller

## Environment
Hosted

## Issue Description

JavaToolInstaller provides JDK 8 and JDK 11 by default. However, Java 16 is the latest version, and should also be supported by default, especially given that there's an [official Microsoft build of it](https://docs.microsoft.com/en-us/java/openjdk/download). Currently, in

[2021-06-16 01:10] sfragata commented on #14915
My workaround was not use Maven@3 :)
I used a container maven with java 16
[code]

[2021-06-16 10:22] gthvidsten commented on #14795
Anybody have any updates about this?

[2021-06-16 12:35] cforce commented on #12901
Don't forget if you say "Cache per Pipeline" that is wrong for me, because actually it's  "cache per job per pipeline.
I can repeatable  prove that running one a sequence of 3  jobs where one i and 3 is maven caching under the same key, i don't see items restored on 3 which has been produced (and cached) in 1 even although  job 2 in between is taking at least 5 minutes.
So what is really the relia

[2021-06-16 12:41] AnnaOpareva commented on #14776
Hi, @divizer Is it still an actual issue for you?

[2021-06-16 12:42] AnnaOpareva commented on #13470
Hi, @harvinders Is it still an actual issue for you?

[2021-06-16 13:12] devizer commented on #14776
Sorry for late answer, but my ARM64 PC is running linux now. I can attach logs later in June.

Regarding compatibility, ARM64 Windows 10 runs well x86 and x64 apps including azure pipeline agent.

[2021-06-16 13:44] blinkyblink opened #14976 "`packer` user is present in a sudoers file in images created with PackerBuildV1"
## Required Information
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PackerBuildV1

## Environment
Server is Azure Pipelines.

Agent is Hosted.

## Issue Description
Images created with the Packer build step still have the packer user present in a sudoers file.
Here is the relevant file after provisioning a VM from an image created with the PackerBuild task.
[code]

`testadminu

[2021-06-16 14:49] harvinders commented on #13470
Yes it is still an issue. Yes we are behind firewall, seems like we have netskope installed which wants to look into communication.

If I disable SSL using git command it works, but that is going to be security risk I suppose.

[2021-06-16 15:02] bwstaal commented on #14594
@ganesp I have some good news! The issue is solved!

After upgrading Visual Studio to version 16.10.1, the Azure DevOps pipelines agent to v2.187.2, and updating the NuGet packages "MSTest.TestAdapter" and "MSTest.TestFramework" to their latest versions, I triggered a build with collecting code coverage enabled. Before I did that, I configured the pipeline, to let the Visual Studio Test Platform T

[2021-06-16 15:54] wibblemonkey commented on #9754
Today I had occasion to create my first new Azure Pipeline in a while and upon discovering that the Azure Pipelines GitHub App isn't supported in the GitHub Release task and that I'm expected to provide a PAT or OAuth token, I assumed that there must be an open issue to have this added - only to find that there is, and *I raised it over two years ago!*
It looks like there have been a number of fal

[2021-06-16 16:30] clairernovotny opened #14977 "Azure File Copy task v4 fails with same parameters as v1 - doesn't recognize agent variable"
In the Azure File Copy task, the v4 version of the task fails with

[code]

[code]

The Source parameter is set to `$(build.artifactstagingdirectory)\toupload1`

This works on the v1 task and fails with the v4.

![image](https://user-images.githubusercontent.com/1427284/122258051-9ed75980-ce9e-11eb-9a19-11d37c953cda.png)
![image](https://user-images.githubusercontent.com/1427284/122258060-a26ae080

[2021-06-16 17:00] smichtch commented on #11898
Also ran into this (and #13881 seems to be same), re-saving the file with UTF8 or ASCII encoding gets rid of the error.
Seems like UseDotNet task doesn't like the BOM character at the beginning of the file.

[2021-06-16 18:24] adilsonmenechini commented on #13350
[code]

[2021-06-16 18:53] anatolybolshakov commented on #14975
Hi @LadyCailin this is related to JDK versions being pre-installed on hosted images and not related to the task itself - transferring this to https://github.com/actions/virtual-environments

[2021-06-16 18:55] #14975 closed

[2021-06-17 07:59] japj commented on #14904
Is this a similar problem to #14863 due to logger ProjectTrees parent/child tracking?

[2021-06-17 09:09] k290 commented on #8408
Since people continue to post relatively difficult to figure out and implement workarounds in this thread I thought it might be worthwhile to open a feature request for people to vote on:
https://developercommunity.visualstudio.com/t/Allow-Azure-SQL-Publish-SqlAzureDacpacD/1453203
Please cast your vote if you think it would be worthwhile

[2021-06-17 09:28] anatolybolshakov commented on #14904
@japj hmm, not sure at the moment... But this one looks different

[2021-06-17 09:49] tejasd1990 commented on #13033
hi all, since we have not been able to repro this issue, will need the pipeline(including any src) and debug logs for one of your failure instance(as i had said earlier) for investigating. It will be helpful in figuring out what kind of projects see this error. If you need to share in private, you can mail me at tejasd1990@github.com
Also, can anyone tell how frequently you see this error(what per

[2021-06-17 09:51] anatolybolshakov commented on #14882
Hi @titans2016 do you have any updates?

[2021-06-17 10:20] titans2016 commented on #14882
Based that old task won't work, I switched to tasks which provided on library:

[code]

On CD pipeline I put everything on variable:

[code]

But I got error:
/azure-pipelines-CD.yml (Line: 13, Col: 15): Pipeline Resource $(artifactPipe) Input Must be Valid.

If I change code to:
[code]

Pipeline is starting but I get an error:
##[error]No task definition found matching ID 30f35852-3f7e-4c0c-9a88-

[2021-06-17 12:46] stesee commented on #13033
The issue was 100% reproducable with https://github.com/Codeuctivity/OpenXmlToHtml as long, as I missed closing every spawned chromium processes before the unit tests end.

After fixing the missing disposing of chromium processes, the pipeline stopped failing.

romanko also found out, that orphaned browsers could lead to the same issue https://stackoverflow.com/questions/55953465/azure-devops-pipe

[2021-06-17 14:39] Kolky commented on #13033
@tejasd1990 I've send an email with our pipeline and log-files.

[2021-06-17 15:10] #13117 closed

[2021-06-17 15:17] mstfn commented on #14320
I have located the bug.
The OSS dependency `"decompress-zip": "0.3.0"` defaults to `'undefined'` file type for directory entries in zip files if the zip file is labeled as created on UNIX.
I made a small test program to extract the Jenkins generated zip in the same way as the task, and this bug causes the extraction failure with the same error message.

Solution is to update to `"decompress-zip":

[2021-06-17 21:01] cpuguy83 opened #14979 "Add other metadata about test results supported by API"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: PublishTestResults

## Environment
- Server - Azure Pipelines
    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
https://dev.azure.com/containerd/testin

[2021-06-17 22:49] lipalath-ms commented on #4712
Could someone please let me know how I could exclude projects Repositories.* and Entities from below task? This is what I tried:

[code]

[2021-06-18 03:06] #13681 closed

[2021-06-18 05:16] chshrikh commented on #14974
can you check if this doc is helping you https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-file-copy?view=azure-devops

[2021-06-18 05:22] michc-msft commented on #14951
I followed up with the SQL AAD team who confirmed the issue is not on their end. Would love support with this issue

[2021-06-18 05:51] chshrikh commented on #14906
with "template.yml" which job you are using ? Is it regular job or deployment job ?

[2021-06-18 05:56] cforce opened #14980 "cache restore not happening for sequential jobs in same pipeline"
I can repeatable prove that running a sequence of 3 jobs where first and third  using maven caching under the same key, i don't find released artifacts produced in job 1 in restored cache of third job -  even although second job is between first and third and is taking at least 5 minutes - so enough time to let the cache state being finally committed on the storage blade.
So what is really the rel

[2021-06-18 05:58] chshrikh commented on #14977
could you try using variable name with this case "Build.ArtifactStagingDirectory"

[2021-06-18 07:14] john-forrest commented on #14320
@harshiniks will you take the change suggested by @mstfn ?

[2021-06-18 09:50] kwiecek commented on #14173
there is an easy workaround:
[code]

[2021-06-18 11:02] AlessandroDalMas commented on #13033
In my case, we see this log:

[code]

In this case it refers to a project with only classes and business logic inside. no dependency or anything more.
But sometimes it changes the project that cause this.
One of the way we have to repro the problem is starting two or more pipelines for the same repo.

[2021-06-18 11:05] daniel-anova commented on #14906
The template.yml is included in the attached in the azure-pipelines.zip i'll also add it here

[code]

[2021-06-18 11:21] chshrikh commented on #14906
today with deployment job the template variables as task inputs are not supported, one need to use the global variable.

[2021-06-18 13:06] asbiin commented on #13257
It's been a while since @IvanAlekseev and there is no answer to the only question: Do you have any plans on publishing PublishCodeCoverageResults@2 to public?

Is there an issue with the V2 of PublishCodeCoverageResults?
Is this new version not supported somehow?
Is it a question of priority?

A "no" will be easier to understand that no answer at all...
Thank you

[2021-06-18 13:42] ekaragic commented on #9157
I completely agree. This issue should not be closed as it clearly states AzCopy v10 and the sync command in the title.

[2021-06-18 13:47] rgong-cfn opened #14981 "AzureBlob File Copy partially failed (Copy failed on 30/304 files)"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Azure File Copy

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipeline; https://dev.azure.com/commonwealthbrandstudio/BrandStudio/_releaseProgress?_a=release-environment-logs&releaseId=2457&environmentId=2457

-

[2021-06-18 14:48] masterjs commented on #14981
I also have the same issue and error message this morning.
Guessing an issue with `4.185.0`. My files are also partially copied. The biggest are not, so it might be the pattern.
Hope this will be fixed soon!
JS

[2021-06-18 15:11] tasha-rooney-ul commented on #14981
We are seeing the same issue as well. The same 4 files, which are our largest files, consistently return the error below. Our largest file is only 181KB

`ERR: [P#0-T#1] UPLOADFAILED: <filename> : 000 : source modified during transfer.`

The difference with our pipeline is that the files are all successfully uploaded to our storage account, but the script thinks they're not when it first checks fo

[2021-06-18 20:12] rawatmanish commented on #14981
Same error in our pipelines also

[2021-06-19 06:05] #13093 closed

[2021-06-19 06:05] #13094 closed

[2021-06-19 06:07] ivanst0 commented on #14220
@aasim, @phil-hodgson
The solution suggested by @bothzoli seems reasonable. I don't think it makes sense to use npm [ini](https://www.npmjs.com/package/ini) package in the test, since the generated config file is later read by twine - it uses [configparser](https://docs.python.org/3/library/configparser.html) which is not compatible with the npm ini package (for one thing, configparser doesn't und

[2021-06-20 00:10] #13847 closed

[2021-06-20 05:51] xxfast opened #14983 "AppCenterDistribute silently fails without distributing any releases"
*Type*: Bug

**Enter Task Name**: AppCenterDistribute@3

## Environment
- Server - Azure Pipelines (msi-cie/Gridstone/5620065)
- Agent - Private: `ubuntu-latest` '2.188.1'

## Issue Description
The `AppCenterDistribute` passes successfully but no releases are distributed on app center

### Task logs

[logs_5620065.zip](https://github.com/microsoft/azure-pipelines-tasks/files/6681788/logs_5620065.z

[2021-06-20 12:07] bothzoli commented on #14220
I've also found this package: [config-ini-parser](https://www.npmjs.com/package/config-ini-parser), which does the job (see below).
although I don't know how it's LGPL-3.0 License is compatible with MIT.

[code]

[2021-06-20 15:05] #13925 closed

[2021-06-20 22:42] anatolybolshakov commented on #14882
@titans2016 you still publish artifacts as build artifacts (PublishBuildArtifacts task), but download it using DownloadPipelineArtifacts task - could you please try to switch to PublishPipelineArtifacts task too?

[2021-06-20 23:28] anatolybolshakov commented on #14561
Hi @nishi1612 sorry for delay - we observed several issues with MacOS pools which have been resolved - does this issue still happen for you?

[2021-06-21 06:22] snewz opened #14984 "PublishBuildArtifacts: Not useable for single file copy"
*Type*: Bug

## Environment

Azure DevOps Server version: Azure DevOps Server 2020 Update 1
PublishBuildArtifacts version: 1.158.3
Agent version: 2.187.2

## Issue Description

The help text of "Path to publish" in PublishBuildArtifacts task says: "The folder or file path to publish."

**Actual:** When specifying a single file in PublishBuildArtifacts all other subdirectories in source location ar

[2021-06-21 07:13] alexander-smolyakov commented on #14958
@pragnesh1234, could you please try to upgrade the Gradle to the 6.7.1 version and see if the issue is resolved?

[2021-06-21 07:51] petermicuch commented on #14982
Hi @anatolybolshakov which other task that does the same job do you propose to use? Or can fix for this issue be expected shortly? Thank you.

[2021-06-21 08:38] AnnaOpareva commented on #14776
@devizer
Thank you for your answer. We will wait for your logs with checked “Enable system diagnostics” for closer review of your issue.

[2021-06-21 11:04] masterjs commented on #14981
This morning it started working again. Since its still version `4.185.0` there was another issue elsewhere that was likely resolved.

[2021-06-21 11:23] anatolybolshakov commented on #14320
HI @john-forrest let us take a look

[2021-06-21 11:35] anatolybolshakov commented on #13257
Hi everyone, PublishCodeCoverageResultsV2 was a work in progress, and it was paused/deprioritized.
cc @ganesp

[2021-06-21 19:13] dcristoloveanu commented on #14529
I hit exactly the same issue. The Nuget restore task succeeded, although a timeout occured
![image](https://user-images.githubusercontent.com/8507399/122815251-0ff58300-d28a-11eb-87fe-c37f2c0629f8.png)

[2021-06-21 20:15] dcristoloveanu opened #14987 "NugetCommandv2 does not fail for restore if there is a timeout"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-21 20:34] bpred754 commented on #12143
@ronnetzer I am experiencing the same thing. Did you find a solution?

[2021-06-22 08:31] asklar commented on #14529
I hit a similar issue where pack succeded, but no package was produced 🙃

[2021-06-22 08:36] asklar opened #14988 "NuGet pack task will wrongly succeed if it can't find the nuspec"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-06-22 09:44] rafstef commented on #14320
We have the same problem, the azure unzip return: ExtractionFailed Error: Unsupported file type "undefined"

Are there workaround that not ask the jenkins downgrade?

[2021-06-22 13:07] anatolybolshakov commented on #13470
Hi @harvinders there is a 'self signed certificate in certificate chain' which means that self signed certificate was detected in certificate chain - do you use self signed certificates somewhere in your network?
Please see docs about how to use agent with self signed certificate - https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/certificate?view=azure-devops-2020