[2021-03-18 10:09] rudfoss commented on #14602
I've enabled slot deployment for my app and it suddenly says I don't have access. The only difference is the two additional parameters:

[code]

[code]

The same configuration works if I run the steps in isolation outside of my other jobs.

[2021-03-18 10:55] ankit-arora12 commented on #14314
I guess there was some miscommunication regarding my asks. I meant to check 'Agent Diagnostics logs'. The tagged logs are for vstest task logs. And in the third point, I meant for you to validate if the issue goes away if you switch to hosted agents.

But good to know that the issue is now fixed.

[2021-03-18 11:04] prasad-sunkara commented on #11905
Have the same issue. Would like to see it resolved soon.

[2021-03-18 12:12] kalfilla opened #14616 "HelmDeploy could not able to work with SECRET variable in azureSubscription input"
## Required Information

#**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy@0

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/HelmDeployV0

## Environment
- Server - Azure Pipelines
    - https://dev.azure.com/ctsatos/CTSDevelopmentServices/_build/results?buildId=1133&view=logs&j=e572bac3-1281-5687-754d-21f269fb95f6&t=bb589

[2021-03-18 12:16] #14616 closed

[2021-03-18 12:16] kalfilla opened #14617 "HelmDeploy could not able to work with SECRET variable in azureSubscription input"
## Required Information

#**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: HelmDeploy@0

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/HelmDeployV0

## Environment
- Server - Azure Pipelines
    - https://dev.azure.com/ctsatos/CTSDevelopmentServices/_build/results?buildId=1133&view=logs&j=e572bac3-1281-5687-754d-21f269fb95f6&t=bb589

[2021-03-18 13:33] chshrikh commented on #14614
we will suggest to mark the environment variable as permanent option. We got customer feedback like 7 zip is creating issues for them and powershell unzip logic work fine for them, to ensure all scenarios should work fine, we have come up with this new solution. Appreciate your continuous feedback and support to improve the product.

https://github.com/microsoft/azure-pipelines-tasks/issues/14607

[2021-03-18 13:54] GeorgePotterCivica commented on #14595
That didn't work for us, but installing PowerShell Core did, so we're happy with the new setup now that it's working again. Thank you :)

[2021-03-18 14:22] ebcdavid commented on #14595
I can verify that the pipeline variable solved the same issue for us; however, we are running many locally hosted agents that will need powershell approved/installed,  or we have many release pipelines that will need an edit.  Will there be a fix for this issue so this isn't work we have to do, or is it a permanent (breaking) change?  CI/CD is broken for us at the moment.

[2021-03-18 14:50] cutecycle commented on #14176
I've opened a PR to fix this: https://github.com/microsoft/azure-pipelines-tasks/pull/14533

[2021-03-18 15:33] anon65856 commented on #14608
Would love to see this too!

[2021-03-18 15:50] fenton-nick commented on #14607
Hello,  I'm now receiving an "the term 'Expand-Archive' is not recognized" error from my IISWebAppDeploymentOnMachineGroup release task, Target machine has powershell v4.0 installed. Logs attached.

[tasklog_7.log](https://github.com/microsoft/azure-pipelines-tasks/files/6165376/tasklog_7.log)

[2021-03-18 17:00] alfhj commented on #14536
Any update? This doesn't seem to affect the pipelines, but it creates some clutter. Related issue: #14284

[2021-03-18 17:07] pixelnix commented on #14595
The thing that the developer called "experimental" in the PR is now the official accepted way to back out the breaking change to this task. Good times.

[2021-03-18 17:10] pixelnix commented on #14595
I'll also note that our servers are Azure-hosted windows server instances that were created as recently as December, and they don't have the requisite version of Powershell to run this task. Seems like this change could easily cause problems for far more users than for whom it fixes the issue with UTF8 characters in filenames.

[2021-03-18 17:13] ransagy commented on #13372
Same thing. Is this not supported for Linux? (not sure what THIS is in the context..)
Is it a bug?

[2021-03-18 17:33] ddivanshu commented on #14536
Since this is warning and not affecting pipeline behavior, we are not currently prioritising it. However based upon code changes , fix does n't seems to be too hard.Will be resolving it somewhere in April.

[2021-03-18 18:18] carterlist commented on #14595
I have the same situation as ebcdavid- CI/CD is broken at the moment.

[2021-03-18 18:45] VincentPost-TomTom commented on #12468
Hi, it would be great if that feature could still be added.

[2021-03-18 18:45] brunobritorj commented on #14614
Hello all,

I have the same issue in the Windows 2016 hosted agent, it happens only in some pipeline releases.

My concern is that we can use this env variable to force old version (7zip) now, but I some moment this old version (maybe) won't be no longer supported.

Couldn't 7zip remains at default in the 0* version of the task and a newer version comes up with the new solution?

Thanks

[2021-03-18 20:09] hinterlandcreative commented on #14171
Any updates? Thanks!

[2021-03-18 21:10] donmooz commented on #13372
I'm experimenting with a workaround. I set the azureSubscription property in the task to be an SPN type service connection. Then use "connect-azaccount -identity' as the first line of the powershell script. The SPN is basically a dummy, so it can have very limited perms. This approach does eliminate the error and enable use of managed identity. Too kludgy?

[2021-03-18 21:53] abergie commented on #14614
Same issue, would be nice in future to bump Task version when introducing possible breaking changes like in #14445

[2021-03-18 22:44] anil-khatter commented on #14595
I have the exact same situation as @ebcdavid. As a matter of fact, we have to cancel our Production deployment because we saw this issue surface all of a sudden. Do we have a timeline for a permanent fix for this? Also, if we could tag such breaking changes to a different major version so as to be backward compatible. I didn't find any way to specify the old working version in release pipelines. T

[2021-03-18 23:56] lukepat commented on #14595
We had the same issue, installing powershell core 7.1 as shown by penihel resolved the issue, thankfully we didn't have many servers to apply the workaround to.

[2021-03-19 03:11] #13540 closed

[2021-03-19 03:17] penihel commented on #14614
#14595

[2021-03-19 05:25] AmrutaKawade commented on #14597
@ellierutherford any update on this?

[2021-03-19 05:59] rorychatterton opened #14622 "Enable alternative to service connection for AzureRmWebAppDeploymentV4"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureRmWebAppDeploymentV4

## Environment
Azure Pipelines
- Account / Team Project / Build: N/A
- Agent - Hosted or Private: N/A

## Issue Description

We leverage Hashicorp Vault to manage short-lived secrets for

[2021-03-19 08:00] natrajsr opened #14624 "Task dotnet custom with tool install command is failing to install from private nuget feed"
## Environment
- Server - Azure Pipelines
- Agent - Hosted
- Task    - dotnet custom

## Issue Description

I am trying to install a dotnet tool from our private feed. I am using the task dotnet custom.
This is the pipeline YAML task. I get the below error message

**Variation 1 - Directly use the private feed reference**

[code]

**Variation 2  - Download package locally on the agent and initiate

[2021-03-19 08:42] AmrutaKawade commented on #14602
I don't think runtimestack which is being used here is valid.

`runtimeStack: 'DOCKER|microsoft/azure-functions-node8:2.0'`

If your runtime stack is node8 then use `node|8`

[2021-03-19 08:44] AmrutaKawade commented on #14394
@mssanjay any update on this?

[2021-03-19 08:49] rudfoss commented on #14602
That may be it, but what would be the correct stack? I'm configuring my app in ARM with `"linuxFxVersion": "Node|14"` And I'd like to use node v14 for my functions. I don't remember where I got that runtimeStack variant from, but I may have just used the default from somewhere. In any case, looking at the editor in DevOps I see that I can select `NODE|14` which seems to be right?

But I get an err

[2021-03-19 08:52] AmrutaKawade commented on #14358
@AntonioNH Thanks for reporting this. If possible can you raise PR as well?

[2021-03-19 09:26] AmrutaKawade commented on #14329
Our task internally uses azcopy.exe and automatically setting content-type is feature provided by azcopy

https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-copy#advanced

I am not sure whether content-encoding  can be set automatically with this exe.

you can pass optional arguments though to set `--content-encoding` in the task
![image](https://user-images.githubusercontent

[2021-03-19 09:41] AmrutaKawade commented on #14365
What i am suggesting is change below part of your pipeline

[code]

like this

- name: SubscriptionName
  ${{ if ne(lower(variables['EnvironmentType']), 'prod') }}:
    value: 'SubPAYGDevTest'
  ${{ if eq(lower(variables['EnvironmentType']), 'prod') }}:
    value: 'SubPAYG'

[2021-03-19 09:50] AmrutaKawade commented on #14602
yes NODE|14 is valid value.

[2021-03-19 10:15] Soruk commented on #14365
Hi,

Yes, it will be workaround.

But it is still a bug: we cannot use the variables from the library to choose subscription.

And therefore we cannot use the same template across multiple pipelines that deploys to different subscriptions that are set on given Azure DevOps projects.

[2021-03-19 10:29] lvlie commented on #11980
Should this be reopened? I'm facing the exact same issue. Have to resort to cleaning out the artifact before publish (strip out symlinks and duplicate stuff) or tar first (but dont want to need to untar before release, as its a big artifact). Both are not valid options imho and this really is a bug that should be fixed.

[2021-03-19 10:34] #14604 closed

[2021-03-19 12:29] jrahlf commented on #14593
We changed the linker setting to ` /DEBUG:FULL` as per [here](https://docs.microsoft.com/de-de/cpp/build/reference/debug-generate-debug-info?view=msvc-160) and now it works fine.

[2021-03-19 12:29] #14593 closed

[2021-03-19 12:33] mvonballmo commented on #10057
@andrewdmoreno : has your PR been accepted yet? Can you please link it here so we can check it out?

[2021-03-19 12:35] AmrutaKawade commented on #14388
this issue doesn't look like related to task. We create container level SAS token.

If you create token manually outside of the task using [Powershell]((https://docs.microsoft.com/en-us/powershell/module/az.storage/new-azstoragecontainersastoken?view=azps-5.6.0) or on portal
![image](https://user-images.githubusercontent.com/65217380/111778949-7cec2c00-88db-11eb-8b78-49a8296f10ac.png)

that time a

[2021-03-19 12:36] andrewdmoreno commented on #10057
@mvonballmo - No, it has not unfortunately. It's linked above my previous comment.

[2021-03-19 12:51] bjh1977 commented on #12720
It is silly that tags can't be applied to the resource group using this step. A lot of organisations, including mine, have deny policies which prevent resource groups from being created without certain tags, which renders this task useless, and also necessitates extra steps to be added up front.

[2021-03-19 13:21] irontoby commented on #14614
Why would the `ADO_FORCE_USE_7ZIP` workaround be an environment variable instead of just an input parameter to the task? Amazing that this change was introduced with no documentation and started breaking all of our deploys with no obvious way to fix it.

Can this be switched to a 3-way task parameter (7Zip, PowerShell, or AutoDetect) and have the AutoDetect improved for cases where the `Expand-Arc

[2021-03-19 13:26] irontoby commented on #14595
This is a terrible way to introduce a breaking change. The version number of the Task should have been increased so we could at least choose the old behavior. We spent 2 hours last night trying to figure out why all our release pipelines started failing before finally finding the obscure `ADO_FORCE_USE_7ZIP` setting.

The logic to detect whether to use PowerShell or 7Zip should at least check to s

[2021-03-19 13:41] mvonballmo commented on #10057
@andrewdmoreno : Thanks for the quick reply. I see that integration has completely foundered on that PR.

For those that come after: I was able to strip down a workaround from the PR comments a bit more. The following steps worked for me:

[code]

Where:

- `<INTERNALFEEDURL>` is obtained from your Azure project
- `<INTERNALFEEDNAME>` doesn't matter, as long as it doesn't conflict with any default

[2021-03-19 13:51] AmrutaKawade commented on #14365
Sorry its not a bug you are using variables inside variables. Currently its not possible to do that.

If you want generic pipeline you can change your main yml like this

[code]

[2021-03-19 13:58] Soruk commented on #14365
As I said it works for normal jobs, but not for the deployment jobs. And therefore in my opinion it is a bug.

For the workaround, I use use similar approach with the conditional insertion to chose right subscription but in each sub template. I will try your global approach.

[2021-03-19 14:47] henrycity commented on #12195
Have you found out how to fix it? I have the same issue as well.

[2021-03-19 17:37] tmilnthorp commented on #13540
For anyone who finds themselves in a similar situation, I found a way around this issue:
[code]

[2021-03-19 18:13] #11926 closed

[2021-03-19 18:17] marianan commented on #11714
Thanks all for your feedback. A couple of follow ups below:

1. Format for env variables in deployment.json
We are updating the documentation to be explicit on the format of the env variables in the deployment manifest - @alevincenzi , you have it all correctly setup.
"registryCredentials": {
      "<ACR name>": { // Your Azure Container Registry **Registry name** value
        "username": "${ACR_

[2021-03-19 20:44] xuzhg commented on #14169
I met the similar issue.

These days, I am testing to push nuget package to github using Azure pipeline nuget task.

I have the service connection using basic authentication with my PAT.

## 1) If I use the NuGet task as:

![image](https://user-images.githubusercontent.com/9426627/111839649-549f0600-88b8-11eb-80a7-5b55e73e9c6d.png)

### **I got the following error:**

The nuget command failed with

[2021-03-20 00:35] vmalik2 opened #14630 "The release pipeline task "Azure App Service deploy" broken for appType Java_SpringBoot"
## Required Information
Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: The release pipeline task "Azure App Service deploy" broken for appType Java_SpringBoot

list here (V# not needed):  AzureRmWebAppDeployment@4
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Env

[2021-03-20 03:35] Manishd79 commented on #12480
I am hitting similar issue and would like to understand what can be done. [Here ](https://dev.azure.com/azure-sdk/29ec6040-b234-4e31-b139-33dc4287b756/_apis/build/builds/788712/logs/42) is the build failure link. I read the comments and I am unable to understand why this is closed when this is impacting the developers. Can someone please help me know why it is not being prioritized when it blocks

[2021-03-20 04:34] ayswaryabg commented on #8925
Is this issue resolved?

[2021-03-20 12:26] taspeotis commented on #12512
This is still valuable

[2021-03-20 13:28] ModestasKul opened #14631 "add minimum duration for steady results in InvokeRESTAPI@1"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: InvokeRESTAPI@1

## Issue Description

To easily switch from classic pipelines to yaml we need same options as gates has. Currently there is no option to set minimum steady duration in InvokeRESTAPI@1.

[2021-03-20 17:09] d-miles commented on #13836
Hi @egor-bryzgalov,

Let me try to put together a new pipeline that produces the result and I'll get back to you with that info!

[2021-03-20 21:11] jing-x opened #14632 "SqlAzureDacpacDeploymentV1 - Service Principal Authentication Bug"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: SqlAzureDacpacDeploymentV1

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure Pipelines

- Agent - Hosted or Private:

    Hosted

## Issue Description

Unable to establish database connection with Servi

[2021-03-21 00:17] motart commented on #6416
Running into the same issue. When I reproduced my build steps, I realized that the cert is marked as "not trusted". When the build gets to the point where it hangs, I get a prompt asking to enter the keychain password. This is what causes the process to hang since it never receives an input.

[2021-03-21 09:43] allanlw commented on #14608
Seems like the AzureCLI task is now 2.20 with auto bicep support so you can just use `az deployment group create` via that if you don't need the extra features of the ARM Template Deployment task

[2021-03-21 15:09] #13357 closed

[2021-03-21 21:23] MarkIannucci commented on #13509
I think we're still affected by, but working around this.  Not sure how the authentication would cause a variable value to not be what we expect.

[2021-03-22 02:26] javafun opened #14634 "Enable XML transformation and receive 'Parameters.ArtifactName' is not recognized as the name of a cmdlet"
## Note
I'm using IIS web app deploy to an ASP.Net application to external IIS webserver hosted with a third party provider.

Everything works fine in the last 5 months, and it failed to deploy to our webserver 3 days ago. The only difference I can see is the `IISWebAppDeploymentOnMachineGroupV0 ` task has been silent upgraded from **0.179.0** to **0.184.0**, and the issue starts happening.

## Re

[2021-03-22 02:46] javafun commented on #14614
It seems breaking the `XML transformation` as well. See details [here](https://github.com/microsoft/azure-pipelines-tasks/issues/14634)

[2021-03-22 04:04] chshrikh commented on #14634
please share the pipeline detailed logs ( detailed logs can be obtain by setting sytem.debug variable with value true )

[2021-03-22 05:05] shigupt202 commented on #12798
@4devnull What's the Helm version that's installed on your agent?

[2021-03-22 06:17] AmrutaKawade commented on #14602
@rudfoss is it resolved?

[2021-03-22 06:20] rudfoss commented on #14602
@AmrutaKawade Hi, I'll test this multiple times throughout the day. I've not seen ECONNRESET in any tests after changing the runtime stack so I'll try reverting it in order to see if the error comes back. I'll get back to you as soon as I've tested it. Thanks for your help!

[2021-03-22 06:30] maxim-lobanov commented on #14566
Duplicate of https://github.com/actions/virtual-environments/issues/2968
Track updates in referred thread.

[2021-03-22 07:11] vanderthiel commented on #10057
Another workaround that is a bit iffy but works, you can install tool with a custom nuget.config. what I did was check in a default.nuget.config that only points to standard feed. Then you don't need these steps.

[2021-03-22 07:16] mark-mybaggage commented on #14634
I encountered the same issue following the update to 0.184.0.  In my case, it was an issue with my build pipline - essentially something that was always wrong, but 7zip (0.179.0) didn't complain about.

The screenshot shows the changes I made to correct this issue:

![build](https://user-images.githubusercontent.com/52959261/111953113-1551fe80-8ade-11eb-8c1f-c8ec89961b85.png)

When I looked at old

[2021-03-22 08:55] chshrikh commented on #14634
@mark-mybaggage in case you add one pipeline variable "ADO_FORCE_USE_7ZIP" with value 'true', task will use 7 zip. Could you please try if this helps you to unblock your scenario

[2021-03-22 08:59] mark-mybaggage commented on #14634
@chshrikh, thanks.  I've done that and created #14614 to track the issue.

[2021-03-22 09:30] rudfoss commented on #14602
Hi again @AmrutaKawade.

I've run multiple tests both with and without the old (incorrect) runtime stack, but now I can't get it to fail at all anymore. Since I'm not able to reproduce it myself either I'm closing this.

Thanks for your help! If it occurs again I'll try to narrow it down more before I jump on github to report anything.

[2021-03-22 09:30] #14602 closed

[2021-03-22 10:05] AmrutaKawade commented on #14630
can you set `system.debug = true` in variables and run pipeline. share your run link.

also in your first web config generation by task. jar file has been added. but path looks incorrect

**-jar &quot;D:\home\site\wwwroot\D:\home\site\wwwroot\app.jar&quot;**

[code]

[2021-03-22 10:25] AmrutaKawade commented on #14329
Closing this issue. Do try above steps. Let me know if it doesn't work

[2021-03-22 10:25] #14329 closed

[2021-03-22 10:26] #14388 closed

[2021-03-22 10:27] AmrutaKawade commented on #14394
Closing this issue. Do try above solution. Let me know if it doesn't work

[2021-03-22 10:27] #14394 closed

[2021-03-22 10:32] AmrutaKawade commented on #14632
@jing-x

what error are you getting? we already set `access_token` value to `$accessToken`

https://github.com/microsoft/azure-pipelines-tasks/blob/5b187c1e2ea3961fead03a521c67677cd9602e51/Tasks/SqlAzureDacpacDeploymentV1/DeploySqlAzure.ps1#L104

[2021-03-22 10:45] ahsan-cc commented on #13156
Hey, I just wanted to check if we have any update on this?

[2021-03-22 10:48] 4devnull commented on #12798
Hi,
Version of Helm :
[code]

[2021-03-22 11:24] #14317 closed

[2021-03-22 11:50] ellierutherford commented on #14597
Hi @chshrikh and @AmrutaKawade ! Apologies for the late reply, i was on annual leave last week without access to my laptop :)

Also apologies for the confusing log - I should have clarified that I had truncated the log to remove the names of the files which were copied. Here is the full log with file names replaced with generic names and server name and share path redacted too :)

And to answer yo

[2021-03-22 13:08] blesuer commented on #14581
Hello @anatolybolshakov Can you see anything from the trace that I might be doing wrong. What I am trying to do seems very basic yet the 'which' function does not appear to be able to find any .exe on my machine. Thanks again for your assistance.

[2021-03-22 13:25] natrajsr commented on #14624
Okay. I have fixed the issue based on the same understanding how it worked on my local machine.

Download package task - was downloading the package without any issues. But it package file name did not have the version number as the suffix. {package-name}.1.0.0.nupkg

dotnet custom - tool install - task doesn't work with file path, but it works if you run and point the current directory as (.) dot

[2021-03-22 13:25] #14624 closed

[2021-03-22 13:27] s-leonard commented on #14388
On further investigation, the tokens seem to change when stored as variables in YAML pipelines on windows hosted agents.

If I create a SAS token in the portal and store it as a variable it still doesn't work, but I can see from the log the variable gets encoded. There is definitely an issue here, but its not a bug with the Azure File Copy task.

Thanks

[2021-03-22 13:33] placidseven commented on #11158
This issue needs to be reopened. These "work arounds" either don't work or are unacceptable.

[2021-03-22 13:36] placidseven commented on #11158
Unbelievable. This is unacceptable. Question. Did you open a support case with Microsoft? I'm opening one, RIGHT NOW. I've been using Azure File Copies in my build pipeline (though it is still a huge pain), but can't get them working in the release.

I've confirmed that WinRM is enabled, and my SP has the correct permissions. I'm not going through my release to put everything in a deplpoyment grou

[2021-03-22 15:23] shawnbeeson commented on #14595
This also broke all of our release pipelines and has delayed a production release.  Are you really not going to roll back this change?  Installing the powershell core requires taking production machines offline and scheduling a maintenance window (causing further delays).

I would simply like a answer as to whether or not this is going to be fixed so the the IIS Web App Deploy activity functions p

[2021-03-22 15:26] shawnbeeson commented on #14595
Should we all take this to mean that you will NOT be rolling this back?

[2021-03-22 15:35] GeorgePotterCivica commented on #14595
I do like how the status of this ticket is clearly being updated but no one's bothered to answer any of the questions yet.

Surely this isn't complex to fix? Either roll back the change **or** issue some workaround guidance **or** do a patch to have it default back to 7zip if Powershell Core isn't installed.

[2021-03-22 15:50] mattsteinRRD commented on #14595
This is affecting us now too.  We have hundreds of servers.  The log says that it is falling back to Powershell but the extract does not actually work.  Please fix this quickly!

[2021-03-22 16:10] pixelnix commented on #14595
Official responses notwithstanding, there appears to be a PR to back this out by reversing the sense of the change - keeping PowerShell as a method of archive extraction but making 7zip the default.
https://github.com/microsoft/azure-pipelines-tasks/pull/14626

[2021-03-22 18:28] cindydeng1998 commented on #14052
@alaendle Thank you for your feedback, the docs have been updated with the environment variable SKIP_MODULE_IMAGE_VALIDATION option. Please let us know if you run into any other issues

[2021-03-22 18:45] shawnbeeson commented on #14595
Looking at #14626 is still appears that they are going to force/require that we add a pipeline variable: ADO_FORCE_USE_PSUNZIP in order for the current IIS Web App Deploy step to work properly....Complete hack IMO.  Its going to require Admins to update every pipeline currently that currently uses the IIS Web App Deploy action.

Also, It appears the PR was merged into master.  Can an Op please res

[2021-03-22 18:58] pixelnix commented on #14595
FWIW I read that PR differently; I think all your pipelines that do not declare any hacky variables will work as they did before. Only if a pipeline is run with ADO_FORCE_USE_PSUNZIP=true will the extraction task use PowerShell, otherwise it'll use 7zip as it did before the breaking change. Users who are experiencing the original issue Azure devs tried to fix (UTF characters in filenames) will nee

[2021-03-22 21:51] begroff opened #14637 "Multiple PowerShell tasks in a build/release causing timeouts with agent"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:
https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this inf

[2021-03-22 22:58] Charlove commented on #14595
Below are the coordinates that helped me get around this problem

  - I installed the version PowerShell 7.1.3
  - I accessed Windows services (services.msc)
  - I restarted Azure services

When you restart Azure services on Windows, the settings are updated.

Hope this helps

[2021-03-23 02:18] andreacapriplexure commented on #11864
Is this issue dead in the water? I get this issue as well for dotnet caches.

[2021-03-23 02:49] AmrutaKawade commented on #14580
Adding this before downloading azcopy zip on target VM, solved the problem

[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12

[2021-03-23 05:47] chshrikh commented on #14595
@pixelnix you are correct

[2021-03-23 06:55] amit-avit commented on #14160
@allantargino now you wouldn't need to do `save-module` manually and directly specifying the module version in task will work as we have updated the task. Also in windows we are already bundling version 5.5.0 locally and in a few weeks time similarly newer version of modules will be made available locally in ubuntu as well.

[2021-03-23 06:55] #14160 closed

[2021-03-23 06:56] chshrikh commented on #14595
Sorry for the inconvenience caused.
We are working on fix which will solve both the issues 1) defaulting to existing 7 zip tooling and 2) Handling the special characters with msbuild packages.
Only customers who are facing issues with special character in msbuild need to update their pipelines and add a special variable "ADO_FORCE_USE_PSUNZIP" with value 'true', other customer does not need to upd

[2021-03-23 09:22] jmg48 opened #14639 "Recent breaking change now ignores SlotName and deploys straight to Production!"
This recent [change](https://github.com/microsoft/azure-pipelines-tasks/pull/14455/files) breaks existing behaviour in quite a dangerous way, by silently removing the `SlotName` setting if the `DeployToSlotOrASEFlag` setting is not supplied.

The [documentation ](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-function-app?view=azure-devops)is not super clear on the rela

[2021-03-23 09:43] ericlemes commented on #14580
@AmrutaKawade, can you let me know when this is deployed?

[2021-03-23 10:15] tejasd1990 commented on #14586
@nekdima ,
the syntax `$(templateVariableName)` used in the tasks' `overrideParameters` input is for pipeline variables, not arm template variables.
Does [this parameter naming](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-parameters?tabs=json) not achieve what you are looking for? Going by the examples from the document, you can use something like
[code]

or

[

[2021-03-23 10:50] nekdima commented on #14586
@tejasd1990
Thank you for your reply. I'm actually already ARM-template parameter file.
The idea of the above is to overwrite single parameters file depending on environment you deploy to.
So in the end I'll have multiple pipeline parameter files which will be overwriting defaults of ARM-parameter file AND pipeline variables depending on the stage.

[2021-03-23 11:08] tejasd1990 commented on #14452
Hi @BartNetJS ,
is this issue intermittent or persistent?
Also, can you share the debug logs of a failure instance so that we can investigate more?

[2021-03-23 11:14] AmrutaKawade commented on #14580
I updated issue based on our yesterdays discussion. I haven't fixed it yet

[2021-03-23 11:28] BartNetJS commented on #14452
Hi @tejasd1990 ,

I haven't checked it anymore.
But the error 'task has timed out' and causing the task to fail is because of the other message 'The STDIO did not close....'
I have added a comment in this thread were more people have this issue:
https://github.com/microsoft/azure-pipelines-tasks/issues/13033

[2021-03-23 12:13] anatolybolshakov commented on #14408
Hi @Korijn does it happen only when you use interpolation in bash script? Do you have some example of script for which it is constantly reproducible?

[2021-03-23 12:14] anatolybolshakov commented on #14566
Closing this one since it's not related to the pipeline task itself.

[2021-03-23 12:14] #14566 closed

[2021-03-23 12:18] chshrikh commented on #14614
Sorry for the inconvenience caused.
We are working on fix which will solve both the issues 1) defaulting to existing 7 zip tooling and 2) Handling the special characters with msbuild packages.
Only customers who are facing issues with special character in msbuild need to update their pipelines and add a special variable "ADO_FORCE_USE_PSUNZIP" with value 'true', other customer does not need to upd

[2021-03-23 12:18] chshrikh commented on #14634
Sorry for the inconvenience caused.
We are working on fix which will solve both the issues 1) defaulting to existing 7 zip tooling and 2) Handling the special characters with msbuild packages.
Only customers who are facing issues with special character in msbuild need to update their pipelines and add a special variable "ADO_FORCE_USE_PSUNZIP" with value 'true', other customer does not need to upd

[2021-03-23 12:24] hannahchan opened #14640 "PublishCodeCoverageResults@1 - Displays Code Coverage only after Deployment Jobs have been Approved"
I have a pipeline with three stages. In the first stage I build and test my application and collect code coverage. In the last stage, I have a deployment job targeting an environment that requires approval.

When my pipeline runs, the first and second stage complete successfully and then waits for approval for the last stage. At this point I cannot see the Code Coverage tab even though this task h

[2021-03-23 12:41] Korijn commented on #14408
Yes.

I do not, which is why I came here to ask for help. It literally just happens every now and then. If I retry the same build a bunch of times it sometimes fails and sometimes passes.

[2021-03-23 13:11] anatolybolshakov commented on #14581
@blesuer which azure-pipelines-task-lib version do you use? Could you please share logs for run in debug mode? (you can turn it on by setting 'Enable system diagnostics' option to 'true' during pipeline run or by setting 'System.Debug' variable to 'true' before run.

[2021-03-23 13:20] allantargino commented on #14160
That's awesome news @amit-avit ! Thanks for it!

[2021-03-23 14:06] AmrutaKawade commented on #14639
Sorry to say but this [document](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-function-app?view=azure-devops) clearly specifies that slot Name is required field when `deployToSlotOrASE` is true

![image](https://user-images.githubusercontent.com/65217380/112159026-b93ac780-8c0e-11eb-9221-d8780ff22dcf.png)

this fix was made to solve this issue

[2021-03-23 14:36] jmg48 commented on #14639
What you're saying is correct, but that's not really the point I'm making here. You're correct that the docs say slotName is required if deployToSlotOrASE is set to true, but this implies that slotName is optional if deployToSlotOrASE is not set to false, and indeed this has been the behaviour of the service up to this point.

Nowhere in the docs does it say that the flag is only allowed if deploy

[2021-03-23 14:41] AmrutaKawade commented on #14093
Can you run build pipeline also on windows agent?

[2021-03-23 14:51] AmrutaKawade commented on #14639
We will update documentation.

[2021-03-23 14:52] ngcdev commented on #14320
I'm too experiencing this issue and it seems related to a change in Jenkins output. Although I see the same folder structure, the file must be different in some way that Azure cannot identify. I upgraded to Jenkins 2.277.1 and the issue still remains. So, as mentioned by others, I'm sticking with 2.263.1
Based on the error logs, it seems like it might be an issue with the Node package used for unz

[2021-03-23 15:03] jmg48 commented on #14639
...and a validation error if `slotName `is supplied but `deployToSlotOrASE` is not?

Changing from respecting the slot name to ignoring it, without so much as emitting a warning to logs, still feels wrong to me, especially since we're agreed the docs are not clear that the previous behaviour is unsupported.

[2021-03-23 15:06] muttech commented on #14639
I ran into this as well - previously just setting the slotName deployed to the slot but with this change it silently just deploys to the Production slot.  Luckily we noticed it in our development environment versus production.  When I setup the pipeline it definitely deployed to the slot with just the slotName specified, so I never expected another property needed to be set.

[2021-03-23 15:16] yacinelazaar commented on #13451
@Shaked Did you figure this out?

[2021-03-23 15:39] blesuer commented on #14581
Hello @anatolybolshakov I am using: 3.1.0
  "_from": "azure-pipelines-task-lib",
  "_id": "azure-pipelines-task-lib@3.1.0",
I'll run with debug mode an post a log shortly
thanks
Brian

[2021-03-23 15:49] blesuer commented on #14581
@anatolybolshakov
Here is the raw log with debug on:
2021-03-23T15:47:49.6353335Z ##[debug]Evaluating condition for step: 'ascentialtestrun'
2021-03-23T15:47:49.6354445Z ##[debug]Evaluating: SucceededNode()
2021-03-23T15:47:49.6354815Z ##[debug]Evaluating SucceededNode:
2021-03-23T15:47:49.6355543Z ##[debug]=> True
2021-03-23T15:47:49.6355945Z ##[debug]Result: True
2021-03-23T15:47:49.6356378Z ##[

[2021-03-23 15:50] AmrutaKawade commented on #14639
For classic pipeline, slot name field is not visible on UI unless you select deploy to slot option

![image](https://user-images.githubusercontent.com/65217380/112174983-db3b4680-8c1c-11eb-8c9e-506a87dcb02c.png)

Even if you unselect Deploy to slot option value was persisting and user who was expecting it to deploy to prod was getting deployed to slot.

Due this buggy behaviour it was working for

[2021-03-23 17:00] yacinelazaar commented on #13451
Did anyone manage to solve this issue @shigupt202? Im encountering the same:
![image](https://user-images.githubusercontent.com/1111396/112186462-71617380-8c01-11eb-802a-eb0c98d6b3fb.png)
The deployment task fails to connect the cluster:
![image](https://user-images.githubusercontent.com/1111396/112186690-ae2d6a80-8c01-11eb-992b-959aade8b61b.png)

[2021-03-23 17:07] shigupt202 commented on #13451
@yacinelazaar This is what I suggested @Shaked: https://github.com/microsoft/azure-pipelines-tasks/issues/12964#issuecomment-791141562
See if this works for you.

[2021-03-23 17:09] Jarlotee commented on #11084
For my use case, SPN's are automatically generated and assigned to my devops project, I dont have access to the raw credentials.

I would love to be able to choose an existing SPN to connect to ACR

[2021-03-23 17:21] yacinelazaar commented on #13451
With the underlying service connection that comes with the environment, why do i need to create a new one to make it work.
The docs clearly mention that service connections are not needed when specifying an environment.
The new service connection could be created and hooked but it feels redundant and unnecessary as the same parameters were used to create the environment.

[2021-03-23 17:32] shigupt202 commented on #13451
You DON'T need to create service connections when you're using environments. But if you are trying to access resources which are outside your environment (which is namespace scoped) like something at cluster level, you do need something to authenticate at that scope, hence a service connection with wider permissions. This is a very specific scenario, and usually not required in most of the cases.

[2021-03-23 17:51] yacinelazaar commented on #13451
Look at the error. It says the connection could not be established to the cluster (and not an authz issue). All helm operation are scoped to one namespace.
My kuberetes cluster is not hosted locally, its AKS in fact.
Adding the service connection works but there is absolutely no need for it. It makes the YAML cluttered with unnecessary config parameters.
![image](https://user-images.githubusercont

[2021-03-23 17:58] jmg48 commented on #14639
Right, so imo the fix here ought to be that the UI should be clearing the value of `slotName` when the screen is saved with "deploy to slot" unchecked. That would avoid the breaking change you've made here to the behaviour with yaml pipelines. It also just seems like a bad idea from a UI or elsewhere to persist a setting that you know you're going to ignore at runtime - why not just not persist th

[2021-03-23 17:58] shigupt202 commented on #13451
As I mentioned in my previous comment, you do not need to create a new service connection if you have configured your environment correctly. And no where did I say that yours is an auth issue.
Also, the screenshot that you shared in your first comment shows that Get call to http://localhost:8080 is being made which means that the cluster information passed to the task through your environment is n

[2021-03-23 18:07] marianan commented on #11714
The MSDN article at https://docs.microsoft.com/en-us/azure/iot-edge/how-to-continuous-integration-continuous-deployment?view=iotedge-2018-06#verify-iot-edge-cicd-with-the-build-and-release-pipelines has been updated with the expected format for the environment variables in the deployment templates as well as with isntructions how to collect debug logs.

[2021-03-23 18:07] #11714 closed

[2021-03-23 18:10] yacinelazaar commented on #13451
I created the environment using the dashboard and it got validated. In no step i have configured the cluster to be accessed through http://localhost:8080 (Thats why im here). I have set the env name, type, provider, subscription, cluster, namespaces and grant it access to all pipelines in the project. How does anyone screw this up?

[2021-03-23 20:26] jgibbonsosisft opened #14643 "Service Fabric Upgrade stuck in Exception occurred: System.Fabric.FabricTransientException"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: ServiceFabricDeployV1

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/ServiceFabricDeployV1/ServiceFabricSDK/Utilities.ps1

## Environment
- Server - Azure Pipelines

- Agent - Private:
    - If using private agent, p

[2021-03-23 21:20] cheslijones commented on #4743
I think I just came across this issue as well, if I'm understanding it correctly...

I have a stage, the first stage, that produces:
[code]
The next stages uses it and it evaluates to true (like it should):
[code]
Then the stage after that uses it, but it evaluates to `null` and skips it:
[code]
Am I understanding this is an ongoing issue that really isn't documented?

[2021-03-23 22:22] loganwol opened #14644 "VSTest Test timesout after 60 minutes in ADO build pipeline but continues to run in release pipeline"
**Question, Bug, or Feature?**  Question
*Type*: Timeout

**Enter Task Name**: VSTest

I have a test library that has an MSTest method with DynamicData attribute that results in the actual number of tests run about 100. When I run this test in Azure Devops Build pipeline (through yml file), the VSTest task times out around 60 minutes every single time in the build pipeline.

When I tried the same

[2021-03-24 01:04] vmalik2 commented on #14630
About the jar path - it looks like another bug in pipeline task. As per the definition copied in description. JAR_PATH was set as (JAR_PATH D:\home\site\wwwroot\app.jar). But it came out as D:\home\site\wwwroot\D:\home\site\wwwroot\app.jar" in web.config.
![image](https://user-images.githubusercontent.com/22838017/112237170-5988f000-8bff-11eb-8ed2-f84c399a7563.png)

From logs:
2021-03-24T01:00:16.

[2021-03-24 01:11] andreacapriplexure commented on #12412
I still run into this issue, has this been looked at

[2021-03-24 04:25] tejasd1990 commented on #14485
Hi @schmidtd-enb ,
can you try with `appId%20eq%20'${{ parameters.appId }}'` or `appId%20eq%20%27${{ parameters.appId }}%27` ?
The app id should be enquoted.

[2021-03-24 05:55] AmrutaKawade commented on #14358
@AntonioNH I am not able to repro this. even for camelCase of `-appType Java_SpringBoot`  its working

Can you share your value for this field?

![image](https://user-images.githubusercontent.com/65217380/112262366-8e468700-8c93-11eb-83e4-4ae70c460d45.png)

Nevertheless we need to change error message

[2021-03-24 08:19] SDedik opened #14645 "AzureResourceManagerTemplateDeployment fails on multiline strings"
## Required Information
*Type*: Bug

**Enter Task Name**: AzureResourceManagerTemplateDeployment@3

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Consider following very minimal ARM template `poc.json`:
[code]
and Azure Pipeline to run it:
[code]
Pipeline fails with the following error message
**##[error]Check out the troubleshooting guide to see if your issue i

[2021-03-24 08:33] ganesp commented on #14280
@RoykoSerhiy
Can you please clarify what do you mean by built-in report generator here?
Are you using this task to publish code coverage results?
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops

[2021-03-24 08:36] #14342 closed

[2021-03-24 10:16] shigupt202 commented on #14617
@kalfilla I don't think you can refer secret variables in pipelines like that. You need to explicitly map them to environment variables, as explained in the [documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#secret-variables). It also appears as message when you are adding secrets to pipeline.
![image](https://user-images.g

[2021-03-24 10:29] danielfen commented on #14470
Hi @AmrutaKawade, we would just like to confirm, did the logs provided previously give you everything you need, or is there any other information that might help?

[2021-03-24 11:58] ganesp commented on #13062
@agray
We recommend using the following task to publish the code coverage results:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops

You are using the report generator tool directly, which will generate the report but wont publish it.
Publish code coverage results task uses report generator tool internally to generate the report and

[2021-03-24 12:13] rudfoss opened #14647 "AzureFileCopyV4: Storage account not found but exists in portal and storage explorer"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFileCopyV4

## Environment
Server: `Azure Pipelines`
Build ID: `60`
Build number: `3900`
Agent: `Microsoft Hosted windows-latest`

## Issue Description

The task reports that the storage account cannot be found ev

[2021-03-24 15:42] AmrutaKawade commented on #14647
is it classic storage account?

[2021-03-24 15:51] rudfoss commented on #14647
The account is a `StorageV2` kind. Below is the complete ARM template for its deployment:

[code]

[2021-03-24 15:54] rudfoss commented on #14647
After failing 8 times in a row it suddenly worked once then failed again twice. All with the exact same error. The Azure Resources have not changed between runs.

[2021-03-24 16:40] phanikmmsft commented on #14644
@ganesp @ankit-arora12 pls check

[2021-03-24 18:22] anatolybolshakov commented on #13156
Hi @ahsan-cc I reopen it at the moment to investigate it currently.

[2021-03-24 20:16] jcfiorenzano opened #14650 "Add labels with base image information to docker images"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Docker

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Issue Description

Add labels _org.opencontainers.image.base.digest_ with the base image digest and _org.opencontainers.image.base.ref.name_ for the base image name. In the case of multistage builds

[2021-03-24 21:47] sudadwalms opened #14651 "Some ADO tasks hang at 100% forever until the job timesout"
Environment:
ADO online: https://dev.azure.com/Intentional

We are seeing that some of our long-running ADO tasks will remain in the 100% state until the job times out:
![image](https://user-images.githubusercontent.com/68205320/112388007-be9c1e80-8caf-11eb-8dbf-fcc0166fff82.png)

This has been observed with the dotnet test task and the jenkins queue job task

[2021-03-24 22:04] kalyankharade opened #14652 "linux jenkin slave unable to connect to npm registry hosted in azure devops"
## Note
What steps i should take so that npm install and npm run run:build commands will work on Linux server (jenkins slave)

## Required Information
As of now i have below
proxy servers details to connect to npm repository(in azure devops)
PAT token
nodejs v  - v12.18.2 setup on linux
.npmrc file with below lines
registry=https://XXXX
proxy=http://XXXX
always-auth=true
strict-ssl=false

## Envir

[2021-03-24 23:32] LordZoltan commented on #14012
For anyone who's been trying to get this to work with an AzureRM connection type , I can confirm it works if you explicitly set the `useWebDeploy` and `deploymentType` task parameters:

[code]

If you look at the `task.json` files you'll see that these values must also be set in order for the UI to show the `SetParametersFile` field.  This is a bit broken, because I think it means that even if the

[2021-03-25 00:43] lordlycastle commented on #11864
This issue is so dead-&-revived-&-dead... that Frankenstein was it’s granddaddy! 🥁

[2021-03-25 05:49] shigupt202 commented on #14446
Closing stale issue. Feel free to reopen if you're still facing the issue and can provide the requested information.

[2021-03-25 05:49] #14446 closed

[2021-03-25 08:04] ajinkya599 commented on #14325
`versionSpec` is to specify the `kubectl` client version that should be used by the task to communicate with the cluster. It doesn't intend to resolve what's running in the cluster.

In the above case it seems that the server is some times not available while checking for version. It is a conscious call to not block the task execution in such a case as the version logging is intended for debugging

[2021-03-25 09:02] #12010 closed

[2021-03-25 09:26] SujeetKulkarnii opened #14654 "How to create resources in Azure Portal using Devops CI/CD pipeline and ARM Template"
I am working on creating QnAMaker based bot and for this I have ARM template and PowerShell script used for creating and deploying resources on azure .
PowerShell script is being used to create knowledge base once all the resources are created .
This process works just fine when I am executing PowerShell script from local PowerShell tool
Now I want to do CI/CD for this deployment process .
Creatin

[2021-03-25 10:11] anatolybolshakov commented on #14561
Hi @nishi1612 could you please share agent logs for the last stuck? You can send them to my email: v-anbols@microsoft.com

[2021-03-25 10:11] anatolybolshakov commented on #14561
@nishi1612 does it happen for you for self-hosted and hosted agents?

[2021-03-25 10:47] ankit-arora12 commented on #14328
Hi, The issue is in NUnit test adapter, not NUnit runner. The NUnit test adapter is invoked from the [Test Platform](https://github.com/microsoft/vstest).
The Test Platform which is used internally by the VSTest Task has the contract which the NUnit Test Adapter needs to adhere to and send the appropriate termination signal to fail the execution which is not happening.

As you can see from the sta

[2021-03-25 11:03] ankit-arora12 commented on #14644
@loganwol Please share full logs with System.Debug variable set to true.

[2021-03-25 11:03] tejasd1990 commented on #14645
Multiline strings like the one in your example are not valid in JSON, a JSON parser/editor will highlight the error. Multilple lines need to be separated by `\n`.  You will not face issues with a valid JSON template file.
The task does JSON parsing to determining that the template is a valid JSON, the error you see is before the deployment takes place. It appears that az cli and az powershell migh

[2021-03-25 11:08] tejasd1990 commented on #12412
@lecamarade @andreacapriplexure  ,
as suggested by @JodyPetroni , `${{ variables.azureConnection }}` should work, i had explained this in an [earlier issue](https://github.com/microsoft/azure-pipelines-tasks/issues/11555#issuecomment-542980569).
What error are you getting when using the expression? Can you attach full debug logs for us to investigate?

[2021-03-25 11:09] SDedik commented on #14645
Please see the https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-syntax#multi-line-strings

Multiline strings are supported in ARM template json

[2021-03-25 11:23] SDedik commented on #14645
Exactly. During, or to be more precise, right before the deployment the json is validated once again by the Azure Deployment engine (Resource Manager?). So why validate it twice: by the task and by Azure itself? Isn't Azure knows better what is valid and what is not?

[2021-03-25 11:37] cbellee opened #14657 "Re-use previous Azure CLI task login session in subsequent CLI tasks"
**Question**
We are trying to optimize the execution speed of our DevOps pipeline as much as possible and are using multiple instances of the Azure CLI task (rather than multiple azure cli scripts in one task), as we want granular observability on the tasks (e.g. at a quick glance of a pipeline, they can see specifically which task has failed).

From an inspection of the Azure CLI Azure DevOps tas

[2021-03-25 12:03] #13253 closed

[2021-03-25 12:03] #12855 closed

[2021-03-25 12:59] tejasd1990 commented on #14326
closing since this has been fixed

[2021-03-25 12:59] #14326 closed

[2021-03-25 13:45] buckleyGI opened #14659 "VSTest Test fails midway, continues and then reports overall success"
**Question, Bug, or Feature?** Question
Type: Error handling

**Enter Task Name**: VSTest  2.170.1

Hi,

We are noticing that our test suite execution fails but that the job still succeeds.

`##[error]The active test run was aborted. Reason: Test host process crashed`

The above error is logged during the test execution.
At the end you see `##[error]Test Run Aborted.` but then it exits with a gree

[2021-03-25 15:04] kalfilla commented on #14617
Hi @shigupt202 , the issue is when you use a secret var (from Library connected or not with KeyVualt, see image) even the secret exists and its resolvable you will get the error expose in the issue kubernetesServiceEndPoint is required. If the other inputs like azureResourceGroup or kubernetesCluster works also with encrypted vars the task works fine. The issue only happens with azureSubscription

[2021-03-25 15:08] #12697 closed

[2021-03-25 15:08] #11439 closed

[2021-03-25 15:31] Kolky commented on #13033
Small update; we've changed nothing and it hasn't occured in several days. Maybe something was changed at the agent level?

[2021-03-25 15:50] shigupt202 commented on #14617
I totally agree that it would work with any other inputs of the task.  But service connections are resources which need to be authorized before the pipeline runs (and that's why they are different from other inputs). And at this point, the secrets won't be resolved.
Another thing is that mapping secrets to environment variables is mandatory, otherwise they would be treated as empty values (which y

[2021-03-25 15:50] #14617 closed

[2021-03-25 16:40] JoAlbahari commented on #14659
We are also hitting this exact same issue. Do you think this is expected behavior? It should fail as soon as there is an error right.

[2021-03-25 18:17] vmalik2 commented on #14630
@AmrutaKawade , @chshrikh Could you provide an ETA for fix?

[2021-03-25 18:31] nishi1612 commented on #14561
Hi @anatolybolshakov ,

It happens always on hosted agents only. We do run our pipelines on self hosted agents and never found this issue there.
However, task getting stuck is found almost once a week on azure hosted agent.

I will share the logs with you over email.

Thanks,
Nishi Doshi

[2021-03-25 19:50] huangbolun commented on #14534
@AmrutaKawade, I am not an expert down the stack so I am not able to raise a PR. This is a usability gap or a legit bug.. To be clear the bug is like this:
Issue: When click on "Authorize" subscription in the Azure File Copy V4 task, it doesn't add `Storage Blob Data Contributor` for me; Hence, when using the task it throws unauthorized exception when copying to the storage account in the subscrip

[2021-03-25 20:09] andreacapriplexure commented on #12412
And here is the error I get when I configure it at the stage level

[2021-03-26 02:56] saigiridharak opened #14660 "FileTransform@1 fails to replace value when variables in Azure Variable Group has _ (underscore) in the name"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: FileTransform@1

## Environment
Azure Pipelines

- Agent - Hosted

## Issue Description
I have been struggling with file transform task which did not replace values in appsettings.json file. This is really a random issue. attempt 1 may skip few variables and attempt 2 might replace those skipped previously but skip few other. I could

[2021-03-26 04:35] chshrikh commented on #14651
can you specify which tasks not working and which tasks works fine ?

[2021-03-26 04:41] luanbon commented on #14432
I am facing the same problem here, I can't restore packages using task DotNetCoreCLI@2 passing Nuget.Config as parameters, it's always using a temporary Nuget configuration. I am using raw dotnet commands instead of DotNetCoreCLI@2.

[2021-03-26 04:52] luanbon commented on #14432
I managed to get this working using '- task: NugetToolInstaller@1' before restore command !

[2021-03-26 05:01] ajinkya599 commented on #14650
@N-Usha Are you okay with these labels?

[2021-03-26 06:29] chshrikh commented on #14595
The deployment of 0.184.1 has been completed, as stated with previous comment, existing pipeline should was as expected and defaulted to use 7 zip

[2021-03-26 06:29] #14595 closed

[2021-03-26 06:30] chshrikh commented on #14614
The deployment of 0.184.1 has been completed, as stated with previous comment, existing pipeline should was as expected and defaulted to use 7 zip

[2021-03-26 06:30] #14614 closed

[2021-03-26 06:30] chshrikh commented on #14634
The deployment of 0.184.1 has been completed, as stated with previous comment, existing pipeline should work as expected and defaulted to use 7 zip

[2021-03-26 06:30] #14634 closed

[2021-03-26 07:55] JoAlbahari commented on #14659
One trick to mitigate the problem for now is to add a task in the end that checks for an expected number of tests and make it fail when there is a drop in the tests.

[2021-03-26 07:57] tejasd1990 commented on #13033
Hi all,
the dotnet task uses the [task-lib](https://github.com/microsoft/azure-pipelines-task-lib) to run dotnet commands, and the error is coming from there. From the task-lib code, it seems that the wait for streams to close(default 10000, which is 10 seconds) can be increased through the `TASKLIB_TEST_TOOLRUNNER_EXITDELAY` environment variable. Can you try to set it to 60000 or even more and se

[2021-03-26 07:58] tejasd1990 commented on #14452
@BartNetJS , can you try [this](https://github.com/microsoft/azure-pipelines-tasks/issues/13033#issuecomment-808017800)

[2021-03-26 08:09] buckleyGI commented on #14659
**Environment**
Server: Azure DevOps
Account name: selligentsim
Team: Test

Agent - Hosted or Private:
Hosted. Current agent version: '2.165.0'

[2021-03-26 08:09] tejasd1990 commented on #14586
@nekdima ,
if you want multiple parameter files for multiple stages, a single [stagelevel variable](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch) with different values for different stages should work as the `csmParametersFile`/`csmParametersFileLink` input, and you can set stagelevel values for override parameters as well.

[2021-03-26 08:42] vineetmimrot commented on #14444
@John-Bosch We have fixed and deployed this fix 3 weeks back. So we are closing this issue. Let us know if the issue still persists.

[2021-03-26 08:42] #14444 closed

[2021-03-26 09:03] AmrutaKawade commented on #13888
version is updated 10.8. closing this enhancement

[2021-03-26 09:03] #13888 closed

[2021-03-26 09:07] AmrutaKawade commented on #14647
Its failing at this command

`Get-AzureRmStorageAccount -ErrorAction Stop | Where-Object { $_.StorageAccountName -eq $storageAccountName }`

can you run this locally/AzurePowershell task using same service principal?

[2021-03-26 09:18] AmrutaKawade commented on #14632
Closing this issue this change is not required.

[2021-03-26 09:18] #14632 closed

[2021-03-26 09:20] AmrutaKawade commented on #14093
Closing this issue due inactivity. Feel free to reopen if issue still persists

[2021-03-26 09:20] #14093 closed

[2021-03-26 09:21] rudfoss commented on #14647
Hi @AmrutaKawade I've run the command locally and it works fine (using Az module):
[code]

Since yesterday evening our builds are working again as well without any changes. All I did was re-queue it so I don't actually have a failing environment to test with at the moment. I will remove it and try again to reproduce the error.

Could there be a delay in some registry somewhere? I was able to see t

[2021-03-26 09:58] HoLengZai commented on #4743
By doing some testing, I found the way to access to a job deployment from another stage
I used multiple stages/deployment job to use "environment" and to use the approval mechanism system that we have in Azure Release Classic.
I didn't find any example to get a variable from another deployment job output from another stage. Hope it will help someone who read my post.
My example it's to perform som

[2021-03-26 10:04] tejasd1990 commented on #14156
Hi @doittjdoughty @georambo @maxim-nyc3 ,
apart from command line options, cli configuration can also be set through [environment variables](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration#cli-configuration-values-and-environment-variables).
A workaround to fix this is to set the `AZURE_CORE_OUTPUT` environment variable to `none`(you can also set it to `table`, which prints 1 li

[2021-03-26 10:20] AmrutaKawade commented on #14612
How are you zipping your files?

[2021-03-26 10:29] AmrutaKawade commented on #14647
@rudfoss I am not sure about powershell modules but some ARM rest APIs read data from cache and even if you see resources immediately on portal, API will take 30-40 min to return those resources.

[2021-03-26 10:32] rudfoss commented on #14647
@AmrutaKawade Understood. I expect this is the problem then. We've usually always been able to successfully run the job after about an hour or so. Is there anything we can do to mitigate this? We are deploying new environments from scratch with every PR in  order to test both clean installs and upgrade scenarios so it would be great if we didn't have to wait for an hour every time a new PR environ

[2021-03-26 10:38] tejasd1990 commented on #14450
Hi @zeeshanmcp12,
The user defined variables will be only get substituted during runtime(when the pipeline executes), so the template file path is expected to be a literal string, not consisting of variables. You can also put the override parameters values manually(like you are doing for template path). Provided that there are no syntax errors in the manually substituted(you won't be able to valid

[2021-03-26 10:56] josesimoes commented on #13128
Revisiting this! Any plans to make this happen? 😃

[2021-03-26 12:12] rudfoss commented on #14647
@AmrutaKawade I've deployed environments a couple of times now and the error has not resurfaced. Not sure how I can go about reproducing it now. As soon as I see it again I'll try running Get-AzStorageAccount in context and report back.

[2021-03-26 12:25] AmrutaKawade commented on #14660
https://github.com/microsoft/azure-pipelines-tasks/issues/13618

[2021-03-26 13:10] Haeavar commented on #14167
We have the same issue. It appears since yesterday without any changes.

AzureIoTEdge task version 2.4.5
Pool: Azure Pipelines
Image: ubuntu-18.04
Agent: Azure Pipelines 4

[2021-03-26 14:06] sei-eschwartz opened #14662 "GithubRelease Non-deterministically Failing to Create Release"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug
**Enter Task Name**: GithubRelease@0

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: edmcman@gmail.com, seiphar

[2021-03-26 14:19] sei-eschwartz commented on #14662
Here are both successful and failing logs
[logs.zip](https://github.com/microsoft/azure-pipelines-tasks/files/6212353/logs.zip)

One interesting thing is that in `fail.log` the `browser_download_url` returned from github is `https://github.com/sei-eschwartz/kaiju/releases/download/untagged-c9e81e49199b7d215d62/ghidra_9.2.2_PUBLIC_20210326_kaiju.zip`.  In the ok log, the git tag appears instead of

[2021-03-26 14:19] oliverchristen commented on #14167
It will disappear after some hours magically probably.
What you could try is to install iotedgedev manually
[code]

[2021-03-26 14:24] sei-eschwartz commented on #14662
Also, the release url listed in the failing log doesn't exist: https://api.github.com/repos/sei-eschwartz/kaiju/releases/40542873

[code]

Unclear if this is an azure bug or a bug in the github API.

[2021-03-26 14:42] randomstring384540 commented on #14167
+1. Not liking the idea of manually installing dependencies for devops tasks

[2021-03-26 14:53] oliverchristen commented on #14167
Totally agree. The suggestion is meant as a workaround.

But for deploying deploment manifests to IoT hub, we switched to custom azure CLI script. This is weirdly much faster than the IoT Edge pipeline task.

[2021-03-26 15:26] Banzboy commented on #14612
It gets created from the task DotNetCoreCLI@2 publish task.

[2021-03-26 16:35] sijucm commented on #12429
Microsoft just closed the issue after half-analysis and without confirming with the bug reporter and does not respond now for an year. Now I face this issue when trying to deploy to a vnet integrated App-service-plan Function-App. It just waits 20 minutes and gives a 503 error. I cannot look at the kudu logs because it says I do not have a subscription. The microsoftiness of the whole thing.

[2021-03-26 18:11] #13590 closed

[2021-03-26 18:11] #13339 closed

[2021-03-26 18:20] blesuer commented on #14581
@anatolybolshakov Should I be trying a new version of azure-pipelines-task-lib. What I am doing is very basic and it works perfectly in PowerShell. Is it possible that although the message suggests that the .exe that I want to run can not be found that it is really something else like perhaps a permissions issue ???

[2021-03-26 19:58] tldavies commented on #4945
We have this problem where publishing the code coverage report increased the build by 50%. Disabling the autogenerate didnt help decrease the time.

Currently to get around this we zip and upload the whole coverage report as an artifact of the build. Thus allowing engineers to access it. All of this takes less than a 1 minute. While publishing the coverage report(8500+ files) takes 10 minutes.

[2021-03-26 20:38] sivetic commented on #13380
Any updates on whether this is considered a priority?  I've filed an identical bug without realizing it is this old: #14610

The issues seems to be in how AzureKeyVault passes values to be set using ##vso task.setvariable

[2021-03-26 21:02] #10469 closed

[2021-03-26 21:38] eocrawford opened #14663 "task: PowerShellOnTargetMachines@3 fails connecting to TLS 1.2-only VMs"
## Required Information

**Question, Bug, or Feature?**
Bug

**Enter Task Name**:
PowerShellOnTargetMachines@3

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/PowerShellOnTargetMachinesV3

## Environment
Azure Pipelines

- Agent - Private:

Agent.OSVersion | 10.0.17763
Agent.Version | 2.183.1

## Issue Description
Task cannot connect to VMs with onl

[2021-03-26 21:40] eocrawford commented on #14663
Presumably a securityProtolType input that sets the provided value similar to below would do the trick?
[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12

[2021-03-26 21:50] kachkaev commented on #4945
Does this mean that you don’t have the Code Coverage tab in Azure UI and your devs need to download the archive?

[2021-03-26 21:57] tldavies commented on #4945
Yes, the devs have to download the report if they want more detail. We do have the Code Coverage tab in the Azure UI, it just empty. We do fail our builds for code coverage and the devs only care about the report when the builds fails.

[2021-03-27 06:07] #12702 closed

[2021-03-27 15:03] #11570 closed

[2021-03-27 17:38] bishal-pdMSFT commented on #14657
We do not have any plans for this enhancement.

You could try to use bash/PowerShell task run az cli commands directly to see if that works.

[2021-03-27 17:38] #14657 closed

[2021-03-27 18:19] bishal-pdMSFT commented on #12412
Assigning to @nadesu as the issue is with how yaml pipeline platform handles azure service connection variables.

[2021-03-27 18:26] bishal-pdMSFT commented on #14645
@SDedik could you please attach debug logs for the failure

[2021-03-27 19:04] kachkaev commented on #7659
not stale

[2021-03-27 20:34] georambo commented on #14156
Hi @tejasd1990  , it seems i have gotten that to work by setting var AZURE_CORE_OUTPUT=none in our pipeline, then as you said, setting back to empty string in our azure cli script.  I have concerns w/ this solution though, as it will be a global var, and suppress output for all azure commands?  so now anywhere we want output, we need to override this value?

it would be much nicer if we could just

[2021-03-28 01:59] cribeiro84 commented on #11130
Hey Team
I'm also facing the same problem. Is there any real workaround without having to create multiple tasks once I have 30 projects to be published?

[2021-03-28 21:02] #11103 closed

[2021-03-29 05:42] chshrikh commented on #14663
@eocrawford could you run below command from agent box PS prompt. This command connect to target box from agent, and helps to determine if there is any cert issue or winrm config issue.

[code]

[2021-03-29 06:13] SDedik commented on #14645
Sure thing, please see full logs attached below
<details>
<summary>Debug Logs</summary>

[code]
</details>

[2021-03-29 06:42] oocx opened #14664 "Invoke REST API environment check - how to deny approval by using a callback?"
**Question, Bug, or Feature?**
*Type*: question

**Enter Task Name**: InvokeRestApi

## Environment
About Azure DevOps Server
Version Dev18.M170.6

## Issue Description

I'm trying to use the "Invoke REST API" environment check to trigger an approval process in our IT service management tool.
I am using "callback" as completion event.

I can successfully approve the request in my callback by sendi

[2021-03-29 07:59] fvdthillart-rabo opened #14665 "Please add an env input to Azure Powershell task so environment variables can be passed to Azure Powershell task"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

*Type*: Feature
*Task*: Azure Powershell task

## Environment
- Server - Azure Pipelines

    -  Account: raboweb
    - team project: Obelix - EDL

- Agent - Hosted
- Agent name: 'Rabo-Windows-Production'

## Issue Description

I'm creating a yaml template with a single Azure powers

[2021-03-29 10:16] kawycki opened #14666 "How to download an artifact published in one pipeline to another pipeline in the same project?"
Required Information
Type: Question

Task Name: DownloadPipelineArtifactV2

Environment
Azure Pipelines

Agent - Hosted, Ubuntu-20.04

Issue Description
I have 2 pipelines, both defined as YAML, in the same project. The first pipeline builds and publishes some configuration to specific location. The second pipeline's job is to do some deployment using configuration created and published in the fir

[2021-03-29 11:34] WolfyUK commented on #13971
For me this was an expired PAT. Renewed and now all is good.

[2021-03-29 11:39] machielvisser opened #14667 "AzureFunctionApp randomly fails to deploy the zip package"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFunctionApp

## Environment
Azure Pipelines
Account name: Can be provided on request in a non public way.
Project: Can be provided on request in a non public way.
Build definition: Can be provided on request in a non public way.
Build number: 20210329.1
Agent: Hosted
Pool: Azure Pipelines

## Issue Description
The deploy of the

[2021-03-29 12:16] m-gug commented on #13535
Hi!
I'm having the same problem. We use Cypress.io for our E2E test and becaus the npm package takes 10 - 15min to install i wanted to cache all packages.
When there is one of the E2E tests failing during the test run, the npm packages are not cached, which is kind of a problem if there is a failing test during your first run.

Should a open a new issue?

[2021-03-29 12:17] anatolybolshakov commented on #14581
@blesuer yes, I would suggest to try last task-lib version

[2021-03-29 12:20] TMattes commented on #14587
Is there any update on this issue?

[2021-03-29 12:24] TMattes commented on #12306
Please see also issue #14587

[2021-03-29 13:38] ellierutherford commented on #14597
Hi @chshrikh and @AmrutaKawade , any update here? Thanks, Eleanor

[2021-03-29 16:36] holmeren commented on #14167
I just stumbled upon this issue aswell. Did you just wait a few hours, and ran the pipeline again?

[2021-03-29 16:52] randomstring384540 commented on #14167
Our pipeline still failed today in the moring. Therefore we replaced the devops task with a custom script.

[2021-03-29 19:30] pjcollins opened #14668 "Unable to authenticate with private Azure Artifacts NuGet feed during a PR build from a fork"
**Question, Bug, or Feature?**
*Type*: Question/Bug

**Enter Task Name**:

NuGetAuthenticate / NuGetCommand

## Environment
- Azure Pipelines DevDiv / DevDiv:
 https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=4601450&view=logs&j=8100f0f7-e86c-5b6e-6a78-6808e1478ee9&t=42af177b-ff79-5186-66d4-85d6daf30dd1

- Private Ubuntu 20.04 VMSS - Agent Version 2.184.2

## Issue Description

Attemp

[2021-03-29 19:31] holmeren commented on #14167
Did the script include the 'pip install -U iotedgedev' mentioned above?

I'm not sure how to install iotedgedev

[2021-03-29 20:28] max-zaytsev commented on #13839
Hi @kenotron, is the issue still relevant for you?

[2021-03-29 22:15] johnterickson commented on #14432
In case other come here for debugging, the documentation states that one should use either `feedsToUse` or `nugetConfigPath`.  The either/or means that one should not supply both.  Usually, it is best to commit a NuGet.config, so that devs building locally have the same flow as the CI machine.

I'm not sure about @luanbon 's case, but, generally speaking, using `NugetToolInstaller` and `NuGetAuthe

[2021-03-29 22:15] #14432 closed

[2021-03-30 04:20] chshrikh commented on #14667
1. Enable [system.debug](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#systemdebug) with pipeline.
2. Post adding the variable into pipeline, next time when task fails, share the pipeline logs here

[2021-03-30 05:51] oliverchristen commented on #14167
@holmeren This happened to me about three times. In my case it disappeared every time after some hours, when I retried to run the pipeline.
The command `pip install -U iotedgedev` installs iotedgedev.

[2021-03-30 05:59] oliverchristen commented on #14167
@randomstring384540 could you share your custom script to replace the IoTEdge pipeline task `Generate deployment manifest`?

[2021-03-30 06:01] oliverchristen commented on #14167
@randomstring384540 Oh, I just saw, its logged in the pipeline run:
`/usr/local/bin/iotedgedev genconfig --file /home/vsts/work/1/s/<path to deployment template>/deployment.template.json --platform amd64 --fail-on-validation-error`

[2021-03-30 06:46] vladislav-ryzhov commented on #14570
Hi @mercer !
Could you please enable system diagnostic by adding <code>System.Debug: true</code>to variables in your YAML file (screenshot #1) and send the pipeline logs? (screenshot #2)
Could you tell us which version of the azure devops server you are using? On prem or cloud?
If there is some sensitive information and you don't want to share it publicly, you can send it to me by email v-vryzhov@

[2021-03-30 07:26] holmeren commented on #14167
After 14 hours and no success, i tried updating Agent Specification fromubunto-18.04 -> ubunto-20.04, and it seems to work :)

[2021-03-30 07:44] MasterEmit commented on #14171
With the workaround mentioned above I'm able to build Android and iOS Xamarin Forms apps with C# 9. Thats not nice or perfect but at least its working.

[2021-03-30 08:04] anatolybolshakov commented on #14581
@blesuer would it be possible to share content of your PATH variable?

[2021-03-30 08:20] anatolybolshakov commented on #14408
@Korijn do you use cloud or on-premise product version?

[2021-03-30 08:26] anatolybolshakov commented on #13943
Hi @algarciatech I'm closing it due to inactivity at the moment - please let us know if it still actual for you.

[2021-03-30 08:26] #13943 closed

[2021-03-30 08:43] anshii03 commented on #14336
@msft-mw  As we didn't get any logs yet , we are closing this issue . Please reopen it if issue still persists .

[2021-03-30 08:43] #14336 closed

[2021-03-30 09:58] ajinkya599 commented on #14537
This is expected behavior for `DockerV0` and `DockerV1`.
Closing as confirmed offline that this is not happening for `DockerV2`.

[2021-03-30 09:58] #14537 closed

[2021-03-30 10:43] Korijn commented on #14408
Cloud!

[2021-03-30 12:44] blesuer commented on #14581
@anatolybolshakov I did check to be sure that the executables are in my path, C:\WINDOWS\system32\ and C:\Program Files (x86)\Zeenyx\AscentialTest\ are the two that I am attempting to call. Thanks
Brian

C:\Program Files\dotnet\;C:\Program Files (x86)\Intel\iCLS Client\;C:\Program Files\Intel\iCLS Client\;%SystemRoot%\system32;%SystemRoot%;%SystemRoot%\System32\Wbem;%SYSTEMROOT%\System32\WindowsPo

[2021-03-30 14:28] brunodefrancavalli opened #14669 "How to Update Tasks?"
**Question**
How do I update my tasks on Azure DevOps Server 2020. I cannot find these instructions anywhere.
How do you build these tasks? I keep getting missing libraries when trying to use tsc.
Are there packages I can just apply to Azure DevOps Server 2020?

**Enter Task Name**: All tasks

## Environment
- Server - TFS on-premises

    - If using TFS on-premises, provide the version: 18.170.31

[2021-03-30 16:39] DVGY opened #14670 "nodemon app.js stops execution of succeeding steps"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: `npm install`
                                   `npm run dev`

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - Using Azure Pipelines,
    - account name: GYadav0882,
    -  team project name:  Cypress-Integration,
    -  Jobs in run #20210330.1:

- Agent -
- Agent name: 'Hosted Agent'
- Agent machine name:

[2021-03-30 17:59] ATripathy1 commented on #14487
Is this hotfix merged as a solution to master? Have a lot of impact to builds as all builds are always green even when the errors are in the logs.

[2021-03-30 20:44] glaenzesch commented on #13409
@damccorm: Any updates on this issue? This would bring Azure DevOps Server and GitHub Enterprise closer together, Unfortunatelly not all allowed to use the cloud alternatives in an enterprise environment.

[2021-03-31 04:33] chshrikh commented on #5590
@olivier-voutat are you saying "Copy Files" task is not working for you ?

[2021-03-31 04:46] mercer commented on #14570
I'm afraid I don't have that setup at hand anymore.

Please try to reproduce with the data I provided.

1. create a fresh java project + pipeline with a task configured as in the ticket (or similarly)
2. have a test that passes and a test that fails
3. execute the pipeline, test results are published
4. however, the pipeline is green

Expected behavior is that the pipeline fails when the test is r

[2021-03-31 05:15] ankit-arora12 commented on #14659
@buckleyGI Please share full logs zip with System.Debug variable set to true.

[2021-03-31 06:06] #11438 closed

[2021-03-31 12:13] BaskaranSelvaraj opened #14672 "File Not Found (caching-docker.yml) - Caching Docker image"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: here

**Enter Task Name**: here

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

   - If using Azure Pipelines, provide the account name, team project n

[2021-03-31 13:31] dtrifiro commented on #13535
Please do

[2021-03-31 16:48] dcorns commented on #12195
If you notice that along with the problem that you get this error: npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but package-lock.json was generated for lockfileVersion@2. I'll try to do my best with it! Then this link may help you.[https://stackoverflow.com/questions/64813775/is-there-any-way-to-fix-package-lock-json-lockfileversion-so-npm-uses-a-specific](url

[2021-03-31 19:50] zamasiel opened #14673 "Unable to Connect to AzureUSGovernment using an MSI"
## Required Information

**Question, Bug, or Feature?**
Bug

**Enter Task Name:**
Common/VstsAzureHelpers_/InitializeAzModuleFunctions

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/Common/VstsAzureHelpers_/InitializeAzModuleFunctions.ps1

## Environment
Azure Pipelines

- Agent - Private:
Agent Version: 2.182.1
Agent OS Version: 10.0.17763

## Iss

[2021-03-31 20:11] michael-hawker commented on #12562
NuGet Authenticate doesn't work:

[code]

It doesn't let me select the connection I had before. This is too complicated. The previous task was simple, it just needed an option exposed. This is causing so much headache for so many folks, please just re-open and fix this issue.

[2021-04-01 06:27] anshii03 commented on #14594
@bwstaal  Can you please set System.debug = true , and share full logs with us to investigate ?

[2021-04-01 08:17] ds-ms commented on #14672
I don't think this has anything to do with Docker. The failure seems to be related to the Cache task.

Adding @johnterickson (Found from CODEOWNERS)

[2021-04-01 09:12] freedge opened #14676 "FtpUpload task fails because ##[error]FTPError: 500 'STRU': command unrecognized."
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: FtpUpload@2

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: https://github.com/freedge/freedge.github.io/blob/master/azure-pipelines.yml, https://dev.azure.com/freedge/freedge/_build/results?buildId=38

[2021-04-01 09:31] jasric89 opened #14677 "Syntax Error when running Azure CLI in Azure Pipeline"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-04-01 10:04] anatolybolshakov commented on #13836
Hi @d-miles do you have any updates?

[2021-04-01 10:53] freedge commented on #14676
Seems to be fixed upstream there:
https://github.com/patrickjuchli/basic-ftp/commit/42e20cd15331943f3cb6a0bbb8c7a0ac81e289f3
in v4.0.0, yet Azure Pipelines is stuck with v3.4.3

Is it possible to bump the version?

[2021-04-01 11:11] Theuno commented on #14487
This causes high impact issues, can this be resolved quickly.

@mihairatoiu ; do you expect this fix to be merged soon?

[2021-04-01 11:19] BaskaranSelvaraj commented on #14672
I figure it out the issue. we need to provide some valid physical fine from the  application source file so it will act a key for the cache task.

[2021-04-01 11:19] #14672 closed

[2021-04-01 11:20] mihairatoiu commented on #14487
As soon as it is reviewed

[2021-04-01 11:33] shigupt202 commented on #14325
@tbuico-premera The version in the logs are just for information and, as @ajinkya599 mentioned, are not supposed to interfere with the execution of task and it's results. It's an expected behaviour for the task to not be able to log server version for the first time since Kubeconfig is not present on the agent at this point. Once the login action is successful and the Kubeconfig is present on the

[2021-04-01 13:31] olivier-voutat commented on #5590
"IIS WebApp Deploy" corrupts the .woff, .woff2 files. This is the main problem @chshrikh

[2021-04-01 13:54] anatolybolshakov commented on #14171
Hi everyone, this seems to be external issue since Xamarin.iOS pipeline task users tools already installed on agent environment.
@microsoft/akvelon-ecosystem-team do you know if C#9 is supported currently by msbuild on macos images at the moment?

[2021-04-01 14:05] AlenaSviridenko commented on #14171
@anatolybolshakov this is a known issue, by default, msbuild from mono is used, and it doesn't support C#9 yet, but the msbuild from VS4Mac does, so workaround is to use msbuild from VS4Mac (more details here https://github.com/microsoft/appcenter/issues/86#issuecomment-770435202)

[2021-04-01 15:09] #10158 closed

[2021-04-01 15:39] mossywell commented on #11444
I am getting exactly this issue (again). But the issue is still Closed (and so no on MS's radar). Worth opening new bug and linking to this?

[2021-04-01 16:09] papagalu commented on #14677
subscribe, i have the same issue, when using the bash step, the expansion seems to be done wrong, sometimes i get EOF when using $(variable), sometimes it fails when using the az cli --name $(variable)

[2021-04-01 17:22] toolboc opened #14679 "Build Modules Task - Fails to install iotedgedev package on execution"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  AzureIoTEdgeV2 - Build Moules Task

## Environment
- Server - Azure Pipelines
  - Account Name - pdecarlo
  - Team Project - IoTEdge-DevOps
  - Release 28 - Create Deployment Step

- Agent - Hosted

    - Hosted Ubunt

[2021-04-01 19:30] cindydeng1998 commented on #14679
Hello @toolboc , thank you for filing this issue. We are aware that the current version of the DevOps task is facing issues and we are working to resolve it as soon as we can by deploying a new version. We will let you know as soon as possible when the new version goes live

[2021-04-01 20:51] bwstaal commented on #14594
@anshii03 Yes, sure! But due to all the sensitive data in them, I rather don't want to share them publicly here. So what's the best way to provide them to you?

[2021-04-02 05:02] ssinfod commented on #12490
I think this enhancement should be implemented.
The task should offer an option to check if the pool is already stopped.

[2021-04-02 07:37] samvdd-247 commented on #14320
Facing the same problems when using ubuntu 16.04 and Jenkins 2.277.1

[2021-04-02 07:47] machielvisser commented on #14667
Hi Chaitanya, how can I share the logging without making company specific information public?

[2021-04-02 13:04] wjvii commented on #14460
I am interested in this as well because the NuGet Push is the slowest part of our pipeline. The builds and all other tasks in the pipeline take less time than pushing the NuGet packages.

[2021-04-02 14:39] pjcollins commented on #14668
I noticed a new pipeline setting related to PR builds:

    Make fork builds have the same permissions as regular builds

This seems to have fixed this issue for us. I am going to mark this as closed.

[2021-04-02 14:39] #14668 closed

[2021-04-02 14:58] doittjdoughty commented on #14156
@tejasd1990 I completely agree with @georambo. After reviewing the code it is a simple fix to add a var to hold a bool that can then be appended to the end of the login function that would suppress the output. We use a lot of azure cli calls in our pipelines and this means we have to constantly switch back and forth to view content.

[2021-04-02 17:26] swells opened #14684 "CodeSignValidationInjected task on Linux/Hosted ‘bash\r’: No such file or directory\n.""
We notices this error/warning a few days ago with the `CodeSignValidationInjected` task on Linux/Hosted-ubuntu-16.04

Not sure if this in some Windows-style "\r\n" line endings in the file `get-os-distro.sh` or something on my end, however these jobs have been running ok for a long while.  Please see below. Thank you.

## Required Information

Entering this information will route you directly to t

[2021-04-02 18:03] tusharb86 commented on #13444
@ds-ms The documentation does not indicate that one can use "pull" in the command field. Please consider updating the documentation to make it more clear that other commands can be used.

Documentation link: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/docker

[2021-04-02 18:38] ropstah commented on #13066
@Josh-01 this does not work:

[code]

[2021-04-02 19:10] joshuadmatthews opened #14685 "Service Fabric Deploy Task - no way to toggle DeployOnly (Action) parameter"
## Note
 Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this i

[2021-04-02 19:22] anatolybolshakov commented on #14171
@AlenaSviridenko thanks!
@MasterEmit @hinterlandcreative @Eastrall this seems to be external issue relatively to pipeline task - let me close this ticket then here.

[2021-04-02 19:22] #14171 closed

[2021-04-04 00:10] #12235 closed

[2021-04-04 04:31] agilenut commented on #14640
I also experience the same issue

[2021-04-04 13:55] tomupson opened #14686 "FileTransform json variable substitution substitutes the wrong value for numbers larger than 53 bits"
**Question, Bug, or Feature?**
*Type*: Bug

**Task Name**: FileTransform

## Environment
- Agent - Private

    - OS: Ubuntu 20.04.2

## Issue Description

When using FileTransform version 1 or 2, where the variable value is an integer greater than Javascript's Number.MAX_SAFE_INTEGER constant (2<sup>53</sup>-1), the wrong value is substituted.

For example, I am using the unsigned long value 4883

[2021-04-04 18:12] #13645 closed

[2021-04-05 03:08] #13522 closed

[2021-04-05 04:58] chshrikh commented on #14667
1. you can remove the PI data from logs and upload here OR
2. Create a [dev community ticket ](https://azure.microsoft.com/en-gb/support/devops/), there you can see option to share the logs privately

[2021-04-05 06:54] japj commented on #13309
@anatolybolshakov any update on this?

[2021-04-05 08:39] jlamhp commented on #13409
@damccorm +1 for this feature as well. please consider adding this when possible. issue is also seen with the cloud-based version of ADO.

[2021-04-05 10:07] Herve-M commented on #12702
Re-opening the issue, for tracking purpose.

[2021-04-05 10:26] anatolybolshakov commented on #14669
@brunodefrancavalli let me close this one at the moment since it looks resolved - but please feel free to ask any further questions.

[2021-04-05 10:26] #14669 closed

[2021-04-05 10:29] max-zaytsev commented on #13839
Feel free to reopen this issue if it still happens to you.

[2021-04-05 10:29] #13839 closed

[2021-04-05 11:40] AmrutaKawade commented on #14686
@tomupson can you add your value in qoutes?

[2021-04-05 11:43] AmrutaKawade commented on #14663
@eocrawford any update on this?

[2021-04-05 11:49] AmrutaKawade commented on #14358
Closing this issue will track with this issue https://github.com/microsoft/azure-pipelines-tasks/issues/14630

[2021-04-05 11:49] #14358 closed

[2021-04-05 11:55] AmrutaKawade commented on #12412
@lecamarade can you try setting global variables as suggested here https://github.com/microsoft/azure-pipelines-tasks/issues/14365

[2021-04-05 12:37] #14427 closed

[2021-04-05 12:41] #13677 closed

[2021-04-05 12:50] max-zaytsev commented on #13677
"Xcode 12" option is now available in xcodeVersion input:

![image](https://user-images.githubusercontent.com/16704239/113575324-890e0400-95d2-11eb-9cf8-9f1e791c2afe.png)

[2021-04-05 13:06] blesuer commented on #14581
Hello @anatolybolshakov. Do you see anything wrong with my PATH? Is there an alternative to using the ToolRunner? It seems to not work at all for me no matter what I try to launch from it. Thanks. Brian

[2021-04-05 13:06] StingyJack commented on #12624
@github-actions - please have your configurer use a stale age that is longer than the time it takes to add new features from customer requests. AFAIK that takes _years_

[2021-04-05 14:05] anatolybolshakov commented on #14167
Hi @holmeren @oliverchristen is this issue still reproducible for you?

[2021-04-05 14:08] oliverchristen commented on #14167
@anatolybolshakov not for me at the moment.

[2021-04-05 14:28] damccorm commented on #14684
Hey @swells this looks like an issue with a 3rd party task (in this case a Microsoft internal one), not an Azure DevOps first party task. Please reach out to the task owner for support

[2021-04-05 14:28] #14684 closed

[2021-04-05 14:57] anatolybolshakov commented on #13309
Hi @japj we are working on testing of these changes at the moment.

[2021-04-05 17:28] anatolybolshakov commented on #14581
Hi @blesuer just to double check - could you please share the content of 'PATHEXT' environment variable on your machine? task-lib uses this variable to retrieve executable files extensions and use it during search.

[2021-04-05 19:12] BenVillalobos commented on #11451
+1 on not being able to pass args to robocopy.

[2021-04-05 19:21] mafideju commented on #10967
You need to place two .npmrc files: user root and project root. The user root file contains your usual credentials, in your project it must to contain the project credentials.

[2021-04-05 19:36] blesuer commented on #14581
Hello @anatolybolshakov. Here is the value of PATHEXT: .COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC
Nothing unusual on this machine.

[2021-04-05 19:37] blesuer commented on #14581
Hello again @anatolybolshakov, I forgot to answer your second question. Our Azure is not self-hosted.

[2021-04-05 20:24] KZeronimo commented on #14359
@20shivangi  any update on this - in general, the Tasks ecosystem needs to catch up with management group scoped service connections - [AzureResourceManagerTemplateDeployment@3](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureResourceManagerTemplateDeploymentV3) is a good pattern with a clear separation of the required params

`azureResourceManagerConnection` for the serv

[2021-04-05 21:02] #13648 closed

[2021-04-05 21:51] tomupson commented on #14686
Hi @AmrutaKawade. If I add quotes around the value in the source json (pre-substitution), it works, but only because the value is now being interpreted as a string instead of a number. This is fine for me since the json library I'm using for deserialisation supports quoted numbers, but if a number is absolutely required then this workaround is not suitable.

[2021-04-05 22:30] yantang-msft opened #14689 "AzureRmWebAppDeploymentV4: Failed to update App service application settings. Error: Conflict - Parameter with name ASPNETCORE_ENVIRONMENT already exists. ("
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureRmWebAppDeploymentV4

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureRmWebAppDeploymentV4

## Environment
- Server - Azure Pipelines or TFS on-premises?

 Azur

[2021-04-06 00:40] ozbillwang opened #14690 "[feature] AzureResourceManagerTemplateDeployment@3 - need dry-run option (what-if)"
## Note

feature requests

For a list:

* AzureResourceManagerTemplateDeployment@3

## Required Information

need dry-run option (what-if) when deploy ARM template

Something like this:
[code]
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: here

list here (V# not needed):

https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureResourceManagerTemplateDeploym

[2021-04-06 00:59] mderriey commented on #13335
This is a random comment to keep this issue open.

[2021-04-06 02:57] ozbillwang commented on #14690
Seems there is an option called `Validation only`, looks like the what-if (dry-run) feature. Let me test it.

[2021-04-06 03:31] ozbillwang commented on #14690
Another feature is missed in this task:

* workingDirectory

With that, I can nominate the working directory, where not always put the templates under root directory.

[2021-04-06 07:02] machielvisser commented on #14667
Hi Chaitanya, I will do 2, open een ticket in the dev community.

[2021-04-06 07:29] 928PJY opened #14691 "The app service doesn't restart to use the latest deployment asset by using `AzureRmWebAppDeployment@4`"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question/Bug

**Enter Task Name**: AzureRmWebAppDeployment@4

## Environment
- Server - Azure Pipelines or TFS on-premises?
    Azure pipeline: https://ceapex.visualstudio.com/Engineering/_build/results?buildId=407258&view=results

- Agent - Ho

[2021-04-06 08:18] jasric89 commented on #14677
Any Update on this please? When I put actual values the task runs but when putting variabeles in I get syntax error.

[2021-04-06 08:19] DaniilShmelev commented on #6364
Hey everyone! We've added optional inputs to PublishBuildArtifacts and DownloadBuildArtifacts tasks to store artifacts as tar archives, which preserve file permissions.
These changes are going to be deployed over the next few weeks.

[2021-04-06 08:19] #6364 closed

[2021-04-06 08:42] AmrutaKawade commented on #14691
@928PJY Can you share what app service type and additional deployment options you are using?

[2021-04-06 09:14] ellierutherford commented on #14597
@chshrikh can I provide any more info here to help with the investigation? :)

[2021-04-06 09:28] 928PJY commented on #14691
For sure, here are the detail configuration of the step:
[code]

[2021-04-06 10:13] bgawale commented on #12720
can someone confirm - is there any update on this?

[2021-04-06 10:57] AmrutaKawade commented on #14673
Its duplicate of this issue https://github.com/microsoft/azure-pipelines-tasks/issues/14176 and there is already PR raised for this https://github.com/microsoft/azure-pipelines-tasks/pull/14533 hence closing this issue

[2021-04-06 10:57] #14673 closed

[2021-04-06 12:01] raswinraaj opened #14693 "Deployment fails using AzureIoTEdge@2 task since March 29,2021"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-04-06 12:19] LodewijkSioen commented on #8672
Is there a way to use version 1 of this task in non-yaml pipelines? We're stuck on the classic pipelines as our repo is still hosted in Subversion.
![afbeelding](https://user-images.githubusercontent.com/122718/113709667-10e33380-96e3-11eb-88de-5c4cd99ec29d.png)

[2021-04-06 13:23] biltongza opened #14694 "AzureAppServiceManage@0 Start/Stop ignores Slot parameter"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureAppServiceManage@0

## Environment
- Server - Azure Pipelines
- Agent - Hosted - windows-latest

## Issue Description

Specifying slot name when starting/stopping an app service/function app has no effect.

### Ta

[2021-04-06 13:38] michaelfaith commented on #14206
Definitely need this.  PublishBuildArtifacts has been deprecated in favor of this task, which doesn't seem to work on-prem.  Big gap in capability

[2021-04-06 13:40] anatolybolshakov commented on #14408
@Korijn I tried to run it several times but it's still not reproducible - looks like something could go wrong at the stage of variable substitution. Since Bash pipeline task doesn't handle this - could you please create ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2021-04-06 14:21] AmrutaKawade commented on #14694
Input name for slot is slot not sourceslot

[code]

[2021-04-06 14:44] biltongza commented on #14694
Then there's an issue with the yaml editor on devops itself, because that's what was generated for me... which I suddenly can't reproduce :(

[2021-04-06 14:56] Korijn commented on #14408
Sure, here it is: https://developercommunity.visualstudio.com/t/intermittent-quote-failure-in-bash-taskvariable-su/1391412

[2021-04-06 15:25] AmrutaKawade commented on #14694
@biltongza is it working with above setting? because I am not able to repro issue as well. its perfectly starting and stopping slots for me

[2021-04-06 15:34] blesuer commented on #14581
Hello @anatolybolshakov . I'm reading about hosted agents and it seems as though that is the problem. Based on what I read, pipeline jobs run on a vm that is spun up for the job and then discarded. If the .exe that I want to run are not on the vm, how is it that they would be executed? In my case, I am running a test tool that is installed on the local machine. Is there a way to have the hosted ag

[2021-04-06 15:37] biltongza commented on #14694
Yes, working fine with the correct setting.

[2021-04-06 15:37] #14694 closed

[2021-04-06 15:52] AmrutaKawade commented on #14691
@928PJY are you using AzureRmWebAppDeployment@4 or AzureRmWebAppDeployment@3?
inputs which you are using are compatible to AzureRmWebAppDeployment@3.

Can you use settings option in yaml?

![image](https://user-images.githubusercontent.com/65217380/113740307-36416300-971e-11eb-88b7-ef0d3967b555.png)

[2021-04-06 15:55] AmrutaKawade commented on #14667
@machielvisser can you add dev community issue link here as well?

[2021-04-06 16:51] anatolybolshakov commented on #14581
@blesuer no, there is no way to run program which is installed on your local machine using hosted agent (self-hosted agent would be a good solution for this) - hosted agents use tools already preinstalled on VM.

[2021-04-06 17:05] blesuer commented on #14581
Thanks @anatolybolshakov. I am in the process of attempting to create a self-hosted agent now.

[2021-04-06 17:05] #14581 closed

[2021-04-06 17:44] afeblot commented on #6364
That's very cool, thanks.
That said, those tasks are now deprecated in favor of PublishPipelineArtifacts and DownloadPipelineArtifacts. Are you going to apply the same change to these new tasks? Or were they not affected by the issue?

[2021-04-06 20:19] lachlann562 opened #14696 "In variable groups page, it should be possible to view a tabular format showing variable group and scope"
I have a need to define multiple variable groups with different standard configurations:
GroupA: Var1=a, Var2=b, etc
GroupB: Var1=c, Var2=d, etc
GroupC: Var1=e, Var2=f, etc

However only 1 of these groups should be assigned to a given stage. I need a way to quickly visualize if the same "class" of variable group is linked multiple times. ie if GroupA is assigned then i don't want B or C. the curre

[2021-04-06 21:05] drdamour commented on #6364
PublishPipelineArtifacts  has the same issue

[2021-04-07 01:11] 928PJY commented on #14691
@AmrutaKawade I am using `AzureRmWebAppDeployment@4`, just like what I paste in the last comments.

[2021-04-07 03:25] mattduguid commented on #13033
we have just had this start happening in a "AzurePowerShell@4" task where we run terraform from.

_The STDIO streams did not close within 10 seconds of the exit event from process '/usr/bin/pwsh'. This may indicate a child process inherited the STDIO streams and has not yet exited._

Have tried the env var of TASKLIB_TEST_TOOLRUNNER_EXITDELAY=60000 but doesnt have any effect on the issue

[2021-04-07 04:52] AmrutaKawade commented on #14691
@928PJY for `AzureRmWebAppDeployment@4` use like this. inputs you are using are compatible to `AzureRmWebAppDeployment@3`

[code]

[2021-04-07 05:09] ajinkya599 commented on #14650
@ninallam Can you please review the labels?

[2021-04-07 05:24] KirillOsenkov commented on #9122
Also would be nice to be able to collect a binary log and (optionally) automatically publish as artifact

[2021-04-07 06:45] 928PJY commented on #14691
@AmrutaKawade  from the readme of this task or the official document of this task, I have found any config like `packageForLinux`, but anyway, I have given a try of the new configs you suggested, but it still doesn't work.

[2021-04-07 07:25] farlop opened #14697 "AppCenterDistributeV3 question: how to distribute a release to Collaborators and Groups"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
Question

**Enter Task Name**:
AppCenterDistributeV3

## Environment
- Server - Azure Pipelines or TFS on-premises?
Azure DevOps Server 2020.0.1

- Agent - Hosted or Private:
- Private (Windows 2012 R2 - v2.182.1)

## Issue Description

When trying to

[2021-04-07 07:28] AmrutaKawade commented on #14691
@928PJY it was auto generated yaml with settings option both `Package` and `packageForLinux` should work

[2021-04-07 07:31] kiranpradeep commented on #14167
@anatolybolshakov Yes. It is reproducible for me if I don't specify a build agent. It goes away if I add below to YAML.

[code]

[2021-04-07 08:56] andy-mishechkin commented on #14637
Hello @begroff
Have you got this error sometimes or always when you got a second task ?
I've checked log files, which you included to this ticket.
Would you please provide powershell script ToggleAppPool.ps1, which you tried to execute in task or perhaps we can fork your repository for investigation, if it possible ?
Also I see, you tried to stop\start IIS application pool in your task - what a ki

[2021-04-07 10:02] alineutron opened #14698 "The 'Install Docker 17.09.0-ce' task is failing"
## Required Information

The task to 'Install Docker 17.09.0-ce' is failing with the following error
2021-04-07T08:22:52.4385093Z ##[error]Error: Failed to download Docker from location https://download.docker.com/win/static/stable/x86_64/docker-17.09.0-ce.zip. Error Error: Unexpected HTTP response: 404

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Docker CLI installer - Docker

[2021-04-07 10:25] kaveenr commented on #14698
I'm also encountering the same.

**Pool Details**
[code]
**Task**
[code]
**Exception**
[code]

[2021-04-07 11:02] anatolybolshakov commented on #14696
Hi @lachlann562 this issue is more related to Azure DevOps, but this repo is for pipeline tasks - could you please create ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?
It would be great also if you could leave link here to created ticket.
Let me close this issue here since it's not related to pipeline tasks.

[2021-04-07 11:02] #14696 closed

[2021-04-07 12:04] anatolybolshakov commented on #14167
@microsoft/akvelon-ecosystem-team this seem to be related to some difference between ubuntu-18.04 and ubuntu-20.04 - do you know if this is some known issue?

[2021-04-07 12:04] xinfli commented on #14698
Seems the root cause is windows packages is removed from https://download.docker.com

Is there any solution for it? thanks!

[2021-04-07 12:12] kaveenr commented on #14698
At the moment I converted the pipeline to `ubuntu-20.04` and it works.

[2021-04-07 12:20] miketimofeev commented on #14167
@anatolybolshakov it's not known. We will take a look

[2021-04-07 12:31] xinfli commented on #14698
Our pipeline need run with windows image, so change it to `ubuntu` doesn't helps.

By now I added a temporary task to download a docker CLI to replace the task `DockerInstaller@0`:
`
$repo = "StefanScherer/docker-cli-builder"
$tag = "20.10.5"
$file = "docker.exe"

$targetDir = "C:\hostedtoolcache\windows\docker-stable\$tag\x64"
New-Item -ItemType Directory -Force -Path $targetDir

$targetFile = "$

[2021-04-07 13:30] miketimofeev commented on #14167
@kiranpradeep @holmeren I'm unable to reproduce the issue on Ubuntu 18 Image version **20210330.1**.
These steps from the task work correctly and I'm able to call iotedgedev:
https://github.com/microsoft/azure-pipelines-tasks/blob/8c190dc05cd7e13575a16e3a25f069f5dfed8452/Tasks/AzureIoTEdgeV2/util.ts#L88-L94
Could you please clarify, on which version do you see the issue? It can be found here
![ima

[2021-04-07 13:35] kiranpradeep commented on #14167
Version: 20210327.1

[2021-04-07 13:38] coldacid commented on #13471
Still hoping for this to be added. Our pipeline breaks as soon as Azure Pipelines starts enforcing read-only status for Release.* variables.

[2021-04-07 13:58] Lucasjuv commented on #13342
I have this problem too.

[2021-04-07 14:04] alineutron commented on #14698
We found out that the agent that we are using is already equipped with docker so we skipped this step altgeather.
Stated here https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md

We can close this issue.

[2021-04-07 14:05] roofiq opened #14699 "IISWebAppDeploymentOnMachineGroup error - DLL not found - exit code 3762504530"
**Bug**
Hello,
From yestarday evening our CD pipelines are failing. We are using deployment groups targeting to windows VMs on Azure.
I was trying to upgrade targets (agents) to the newest version but the issue persist.

I checked on the server and this DLL - Microsoft.Web.Deployment.Tracing - is in the folder where msbuild is being invoked from.
Don't know how to fix it.
Below some details and lo

[2021-04-07 14:28] anatolybolshakov commented on #13309
@japj we merged related fix, will let you know once these changes are rolled out to production.

[2021-04-07 14:43] andy-mishechkin commented on #14605
Hello @kalfilla

As I understood you have an issue on Azure DevOps hosted agent. I see the old version of Ubuntu 20.04 image in your ticket - when did you try to run this task on hosted agent last time ?
Java 11 is included to software on Azure DevOps hosted agent, for Ubuntu 20.04 you can check it here:
https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md
Al

[2021-04-07 14:56] japj commented on #13309
@anatolybolshakov please note that we are on Azure DevOps Server (2020 atm). Is this fix target for inclusion in an Update 1 RC2? Or will it be in Update 2?

[2021-04-07 15:01] vyckou opened #14700 "Certificate issue when using Kubernetes serviceconnection with Kubernetes@1 Task"
*Type*: Bug

**Enter Task Name**: KubernetesV1

## Environment
- Server Azure DevOps 2020

- Agent - Private

## Issue Description

Kubernetes API endpoint certificate validity issue when running any type of Kubernetes task using Kubernetes Service Connection (ServiceAccount type)

When following kubectl commands to get the json representation for the kubernetes serviceaccount secret, we need to p

[2021-04-07 15:05] miketimofeev commented on #14167
@kiranpradeep it looks like if you don't specify the vmImage the pipeline will run on Ubuntu **16**.04, which is not supported by the task I guess.
@anatolybolshakov do you happen to know if the task worked on Ubuntu16?

[2021-04-07 15:12] roofiq commented on #14699
I checked few things, I'm quite sure this error is for 2.184.2 version, previous one works fine.
The thing that has change is also folder structure in node_modules. It's moved to `azure-pipelines-tasks-webdeployment-common` and before it was in `webdeployment-common-v2`.

[2021-04-07 17:04] anuragc617 commented on #14654
@SujeetKulkarnii you can use AzureResourceManagerTemplateDeploymentV3 task to create Azure resource using ARM templates. You can use deployment outputs to reference the output of ARM template in subsequent tasks. For powershell script, you can add PowerShell or Azure CLI task and run the script in it.

[2021-04-07 17:36] #13142 closed

[2021-04-07 17:44] anuragc617 commented on #14677
@jasric89 for referencing the command line arguments in bash script you should use $1 instead %1. Can you please try that?

[2021-04-08 03:04] kiranpradeep commented on #14167
As on 2021-03-12T12:47:51.4740078Z, the task worked for Ubuntu 16.04.7. The Version field then was 20210302.0.

[2021-04-08 03:19] duindain opened #14701 "Xamarin Android build in pipeline failing since 6th April"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Xamarin.Android

## Environment
- Server - Azure Pipelines
Richard.humphrey@dese.gov.au
jedi-jobs
MobileApps
All Android apps - CI and Job Seeker Android - Build
1679

- Agent - Hosted Windows 2019 with VS2019
All Andr

[2021-04-08 04:07] 928PJY commented on #14691
@AmrutaKawade Yep, I are using the `AzureAppServiceManage@0` to manually restart the app as a workaround for now, that works for me, but still hope the root cause can be founded for this issue.

[2021-04-08 05:27] duindain commented on #14701
Running
`msbuild /restore slnName.sln /p:configuration="Release"`
 for msbuild locally resolved the .netstandard library issue and I cannot recreate the issue we are getting from the pipelines in devops

[2021-04-08 05:42] duindain commented on #14701
I've added an additional argument to the Xamarin.Android build task in devops
`/restore`

And it can now build successfully again, is this a good solution or is it masking a deeper problem?

[2021-04-08 06:24] karakal commented on #14167
As of today we have the same problem. Our Build-Pipeline is not running anymore with any agent (I event tried the Windows one...)
Environment: ubuntu-18.04
Version: 20210330.1

[2021-04-08 07:15] miketimofeev commented on #14167
@karakal could you please share the logs?

[2021-04-08 07:42] miketimofeev commented on #14167
@kiranpradeep @anatolybolshakov it looks like some of the pip modules drop support for python 3.5, which is the default one on Ubuntu 16

[2021-04-08 08:23] karakal commented on #14167
Here you find my log. I removed all private parts of the log, I hope the requested information can be find within....

[azure-pipeline.log](https://github.com/microsoft/azure-pipelines-tasks/files/6277167/azure-pipeline.log)

[2021-04-08 08:24] karakal commented on #14167
I tried the build on:

- Ubuntu 20.04
- Ubuntu 18.04
- Ubuntu 16.04
- even Windows-2019

The build failed with all agents.

[2021-04-08 09:17] AmrutaKawade commented on #14660
@saigiridharak please find details in this issue https://github.com/microsoft/azure-pipelines-tasks/issues/13618

[2021-04-08 09:21] PureRandom opened #14702 "Failed to patch App Service"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  Azure App Service deploy

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Private:
 Windows 10 Environment Agent V2

[2021-04-08 09:35] rcomanne commented on #13444
We've seen issues with the `pull` argument where it would **not** resolve parameters or variables provided to it.
[code]
These parameters are variables provided to the pipelines, and we've seen that they are filled by printing them in a Bash task before the pull step.

[2021-04-08 09:38] vladislav-ryzhov commented on #14570
Hello @mercer
We have a similar ticket #14514, and it looks like you have the same problems.
We've already fixed this issue, and I think this will fix your issue as well.
The changes will be rolled out in a few weeks.
Let me close this ticket. Please feel free to ask any further questions.

[2021-04-08 09:38] #14570 closed

[2021-04-08 10:06] AmrutaKawade commented on #14689
is it happening consistently?

[2021-04-08 10:07] AmrutaKawade commented on #14702
@PureRandom can you set system.debug=true and run pipeline?

[2021-04-08 10:13] Zinxhir commented on #14702
We're having same issue, we're in process of massive deployment to production and all our pipelines are down due to this issue.

[2021-04-08 10:41] AmrutaKawade commented on #14702
@Zinxhir Can you share debug logs?

[2021-04-08 10:44] PureRandom commented on #14702
I have swapped names out but the report and structure are the same.

[code]

[2021-04-08 10:51] Zinxhir commented on #14702
Unfortunately I can't share my logs due to company policy but my logs looks nearly the same as PureRandom's. Is there any specific bit you're interested in ? @AmrutaKawade

[2021-04-08 10:56] AmrutaKawade commented on #14702
@Zinxhir no thanks. above logs would suffice

[2021-04-08 11:16] syamkova commented on #14702
previous successful deployment had "appCommandLine":null
Trying to update App Service Configuration settings. Data: {"appCommandLine":null,"linuxFxVersion":"DOCKER

now it  failed with {} :
Trying to update App Service Configuration settings. Data: {"appCommandLine":{},

[2021-04-08 11:29] lukesammy commented on #14702
We are experiencing the same issue since a couple of hours ago, let us know if there is anything we can do to help diagnose the issue @AmrutaKawade

[2021-04-08 11:36] doittjdoughty commented on #13380
We are having the same issue.
When retrieving Key Vault secrets that contain $ the **incorrect** value is returned to the pipeline causing login failures. We created two work arounds for this issue but would like to see the task code updated to correct the underlying problem.

1. Temp Work Around - add a \ in front of each $ in the stored secret value. By adding a \ before the problem characters t

[2021-04-08 12:51] miketimofeev commented on #14167
@karakal what version of task do you use?
@anatolybolshakov it seems that for ubuntu 16 we need a workaround regarding cryptolib installation — these steps work:
[code]

[2021-04-08 12:56] karakal commented on #14167
2.* I don't have any other choice?

[2021-04-08 13:23] JasonBodley commented on #14702
Have been experiencing this issue today; the workaround for me was to add `dotnet` to prevent it sending `appCommandLine` as '{}'. Assume most will be able to add a similar no-op type command while this is being investigated.

[2021-04-08 13:36] AmrutaKawade commented on #14702
we have fixed this issue and deployed. you will see newer version of task 4.184.4 with the fix. Please verify and let me know

[2021-04-08 13:55] PureRandom commented on #14702
We have successfully built our project. Thank you

[2021-04-08 13:57] rahulroy9202 opened #14704 "DownloadBuildArtifacts : Missing log : Downloading artifact ArtifactName from: ArtifactPath"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadBuildArtifacts

## Issue Description

Task  Download Build Artifacts changed from Version : 0.178.0 to Version : 0.183.0 and removed a log line which was very helpful,

Version : 0.178.0
Downloading artifact Ar

[2021-04-08 14:11] marianan commented on #14693
@raswinraaj we are investigating.

[2021-04-08 15:05] japj commented on #14459
@vladislav-ryzhov the server already has long path support enabled (and is able to publish long paths without issues).
The removing of files (through azure-pipelines-task-lib) seems to have an issue as mentioned earlier

[2021-04-08 16:14] miketimofeev commented on #14167
@karakal Sorry, I meant the exact version, found it from the logs — `2021-04-08T07:00:59.8075822Z Version      : 2.4.5`
.
I'm asking because there are significant changes between versions 2.4.5 and 2.4.6.

[2021-04-08 17:28] anatolybolshakov commented on #14701
Hi @duindain there was no changes for pipeline task in this period, so it's not a pipeline task regression.
Do you use on prem or cloud solution?

[2021-04-08 18:12] #12378 closed

[2021-04-08 20:42] brunodefrancavalli opened #14706 "Got almost to compile"
This is related to issue #14669

I got this command to work fine to build:
[code]

But when I try to compile this other task:
[code]

I get this instead:

[code]

I have noticed any Task that uses the ```node_modules\sync-request\index.js``` fails.

Am I doing something wrong?

Please help me correct my noob mistakes

[2021-04-08 21:08] FlsZen opened #14707 "PublishSymbols with multiple checkouts produces incorrect source file locations"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PublishSymbols

## Environment
- Server - Azure Pipelines (https://dev.azure.com/lecord/IndexRepro/_build?definitionId=35)
- Agent - Hosted (`windows-latest`)

## Issue Description
When multiple repositories are checke

[2021-04-08 21:26] eocrawford commented on #14663
I'm investigating now and will update this issue by EOD tomorrow.

[2021-04-08 23:13] mrchops1024 opened #14708 "[feature] IISWebAppDeploymentOnMachineGroup - Ability to pass custom provider settings"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-04-09 03:17] duindain commented on #14701
Hi @anatolybolshakov are you checking AU times or US it looks like the last successful build was on the 1st of April then when we started checking in new changes it was failing from the 6th with the Nuget package errors but the build could have been broken any time after the 1st

It is a cloud solution

[2021-04-09 06:17] raczeja commented on #12591
Issue still can be reproduced

[2021-04-09 07:51] dastevens commented on #14167
I have the same issue, I am using ubuntu-latest, the build started failing when the version number of the Azure IoT Edge was bumped from 2.4.5 (working) to 2.4.6 (no longer working):

![image](https://user-images.githubusercontent.com/13847173/114147477-07dba780-9919-11eb-9c84-f811ef572ca6.png)

![image](https://user-images.githubusercontent.com/13847173/114147493-0b6f2e80-9919-11eb-9f41-1894a012e

[2021-04-09 09:01] dastevens commented on #14167
When I pin the task version to 2.4.5 the build passes:

![image](https://user-images.githubusercontent.com/13847173/114156370-cb14ae00-9922-11eb-956b-ed9732408ff0.png)

[2021-04-09 09:04] #12602 closed

[2021-04-09 09:04] #12030 closed

[2021-04-09 09:22] karakal commented on #14167
My build fails also with 2.4.5 :-(
![grafik](https://user-images.githubusercontent.com/2448293/114159245-df0ddf00-9925-11eb-9b25-b0a6fc882f2d.png)

[2021-04-09 09:26] oliverchristen commented on #14167
I think its more related to the vmimage version than the task version. I could think that iotedgedev is preinstalled normally but isn't on some versions of the vmimage.

[2021-04-09 09:56] miketimofeev commented on #14167
@oliverchristen iotedgedev is not preinstalled on the image, it's being installed during the task

[2021-04-09 09:59] RobDBob commented on #7975
Any further update on this @ShreyasRmsft ?

I'm interested in having this available, i would like to post summary from trx test results to teams

[2021-04-09 10:38] karakal commented on #14167
So what should we do do get it working again? i should do a productive
release for days now...

Mikhail Timofeev ***@***.***> schrieb am Fr., 9. Apr. 2021,
11:56:

[2021-04-09 10:50] oliverchristen commented on #14167
@karakal did you try this? What's the result?
https://github.com/microsoft/azure-pipelines-tasks/issues/14167#issuecomment-808256842

[2021-04-09 12:39] karakal commented on #14167
Another error of not matching docker-versions...

[azure-log.txt](https://github.com/microsoft/azure-pipelines-tasks/files/6285733/azure-log.txt)

[2021-04-09 12:50] anatolybolshakov commented on #13309
@japj I can't say exactly at the moment, but this should be available in the next release.
As another option to get these changes quickly - you can build MSBuild task from source and upload it to your organization via [tfx-cli](https://www.npmjs.com/package/tfx-cli) tool.

[2021-04-09 12:54] SvenEV opened #14711 "Override parameters with brackets '(', '[', '{' parsed incorrectly (AzureResourceGroupDeploymentV2)"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-04-09 12:57] karakal commented on #14167
Okay, sorry, with Ubuntu 20.04 the build process did run through...

[2021-04-09 13:54] anatolybolshakov commented on #14167
@miketimofeev @karakal @oliverchristen thanks for investigation!
@marianan could you please take a look? Looks like we need to change installation commands here to adopt to last updates:
https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureIoTEdgeV2/util.ts#L88

[2021-04-09 13:59] anatolybolshakov commented on #14701
@duindain there was no rolled out changes for XamarinAndroid pipeline task since March, so I assume timezones would not affect..
Could you please share your logs for last successful run also? This would help to determine if there were image changes for hosted agents.
You can send them to my email: v-anbols@microsoft.com

[2021-04-09 14:07] marianan commented on #14167
@anatolybolshakov we are investigating

[2021-04-09 14:37] johncrim commented on #11064
Please remove stale - see my last comment.

[2021-04-09 15:00] karakal commented on #14167
2.4.5

`Task         : Azure IoT Edge
Description  : Build and deploy an Azure IoT Edge image
Version      : 2.4.5
Author       : Microsoft Corporation
Help         : https://docs.microsoft.com/***/devops/pipelines/tasks/build/***-iot-edge
==============================================================================`

[2021-04-09 15:03] #13571 closed

[2021-04-09 15:16] jhgdenver commented on #7247
I was able to resolve this issue by building to the Artifact Staging Directory:

pool:
  vmImage: 'vs2017-win2016'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    **msbuildArgs: '/p:Outpu

[2021-04-09 15:21] jhgdenver commented on #7247
I was able to resolve this by building to the Artifact Staging Directory:

[code]

[2021-04-09 16:23] Aokrip commented on #14433
Hello, any news about this issue ?

Thanks and regards,

Cyril

[2021-04-09 19:57] sarahkang58 opened #14712 "Override template parameters: Unexpected token $"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: ARM Template Deployment

## Environment
- Server - Azure Pipelines

## Issue Description

We are getting this error with the ARM template deployment task:

In the Override Template Parameters multiline input box,

[2021-04-09 20:31] kmadof opened #14713 "Self hosted agent can't delete Oryx source code on subsequent deployment using AzureStaticWebApp@0"
## Environment
- Server - Azure Pipelines

- Agent - Private:

    - CentOS Linux 7 (Core)

    - Agent Version 2.165.0

## Issue Description

On subsequent run when agent tries to clean folder I got warning

[code]

which ends up as error failing build because agent can't delete oryx folder

[code]

### Workaround

Setting clean to false on checkout helps avoid this issue:

[code]

[2021-04-09 20:53] eocrawford commented on #14663
Output is the same as the PSSession attempt:

Starting: Create CIM session
==============================================================================
Task         : PowerShell
Description  : Run a PowerShell script on Linux, macOS, or Windows
Version      : 2.180.1
Author       : Microsoft Corporation
Help         : https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/powershell
===

[2021-04-09 21:03] #13666 closed

[2021-04-09 21:03] #11877 closed

[2021-04-09 21:29] cindydeng1998 commented on #14167
Thank you for your comments @anatolybolshakov @karakal and all. At this point, iotedgedev only supports python version 3.6 and python 3.7. The default Python version on Linux 20.04 hosted agents is 3.8, so we anticipate it not working in that environment. The fix provided earlier seems to install an earlier version of iotedgedev from our internal test, 0.81. We are coming out with a fix for this i

[2021-04-09 23:57] artisticcheese commented on #14645
Same with comments. It fails if there are comments in document which are not allowed in JSON but allowed in JSONC

[2021-04-10 00:14] msft-mw commented on #14336
@anshii03 the logs were sent on 3/10, subject line: `logs for issue 14336`.

Please let me know if I should resend or to a different alias. I have reopened as the issue is still occuring.

[2021-04-10 03:08] #12146 closed

[2021-04-10 06:03] #13570 closed

[2021-04-10 06:03] #13413 closed

[2021-04-10 06:03] #13514 closed

[2021-04-10 06:03] #13398 closed

[2021-04-10 09:02] #13251 closed

[2021-04-10 09:02] #13211 closed

[2021-04-10 09:02] #13089 closed

[2021-04-10 09:02] #12868 closed

[2021-04-10 09:02] #13072 closed

[2021-04-10 09:02] #12583 closed

[2021-04-10 09:02] #10594 closed

[2021-04-10 09:02] #10322 closed

[2021-04-10 17:33] Anderman opened #14714 "parameter Machinenames is not optional in WindowsMachineFileCopy@2"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

*Type*: Bug

WindowsMachineFileCopy@2

##

[2021-04-11 12:03] #13678 closed

[2021-04-11 12:03] #13622 closed

[2021-04-11 13:05] jirifranc commented on #12268
I had the same problem with npm when using `$(Pipeline.Workspace)/.npm` directly in the task. I solved it by creating a variable `npm_config_cache: $(Pipeline.Workspace)/.npm` and referencing it instead.

[2021-04-11 14:12] jozefizso commented on #13678
Hi @johnterickson, why was this issue closed?

[2021-04-11 21:02] #11238 closed

[2021-04-11 21:02] #11090 closed

[2021-04-11 22:26] atrauzzi commented on #9584
Not stale.

[2021-04-12 01:00] jnm2 commented on #1867
Hi, the outstanding need has not been addressed. The bot should not close this issue without a response from the team which sets some expectations.

[2021-04-12 02:35] chshrikh commented on #14714
Machine name is not optional, port is optional.

[Machines: Specify comma separated list of machine FQDNs/ip addresses along with port(optional). For example dbserver.fabrikam.com, dbserver_int.fabrikam.com:5986,192.168.34:5986.](https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/WindowsMachineFileCopyV2#the-different-parameters-of-the-task-are-explained-below)

[2021-04-12 03:33] inverted360 commented on #6302
Please enable this feature in Azure DevOps or equivalent in Github.

'support output variables across phases within an environment.'

[2021-04-12 04:10] anshii03 commented on #14594
@bwstaal  Please mail to devops_tools@microsoft.com

[2021-04-12 05:09] AmrutaKawade commented on #12412
@andreacapriplexure please check above solution if it works

[2021-04-12 05:11] AmrutaKawade commented on #14667
Closing this issue. since its raise on dev community

[2021-04-12 05:11] #14667 closed

[2021-04-12 05:18] andreacapriplexure commented on #12412
So while I wouldn't call that a solution, more like an attempt at a workaround for the real issue. Using this would not be feasible for anything less than 5 different subscriptions. I'm not sure there is much point hacking everything to avoid fixing the issue in the first place.
I'll try do that but it is a bug and should not be the solution for this ticket. @AmrutaKawade

[2021-04-12 05:53] AmrutaKawade commented on #12412
There is already issue opened for this, will close this issue and track with https://github.com/microsoft/azure-pipelines-tasks/issues/14365

[2021-04-12 05:53] #12412 closed

[2021-04-12 05:57] andreacapriplexure commented on #14365
I believe it is a bug as well as variable scoping is not being respected. https://github.com/microsoft/azure-pipelines-tasks/issues/12412

[2021-04-12 06:03] #11095 closed

[2021-04-12 06:45] hkusulja commented on #5590
AzCopy still does not set the "Content-Encoding" property of file in azure blob storage, which should be set to brotli, or gzip etc.

[2021-04-12 07:08] iamalexmang commented on #10594
Let's please not remove this issue since it wasn't yet fixed. Or was it?

[2021-04-12 08:18] duindain commented on #14701
Hi @anatolybolshakov, I've forwarded on the log of the previous CI build before the issue started occurring

[2021-04-12 08:21] anatolybolshakov commented on #14713
Hi @kmadof you can check related [ticket](https://developercommunity.visualstudio.com/t/unable-to-run-git-clean-ffdx-and-git-reset-hard-he/1148789) for this issue - attaching the short summary from this:

[2021-04-12 08:47] RobDBob commented on #14068
Is there way to capture run id via variable? Is there an example?

[2021-04-12 10:26] johnnyreilly commented on #10108
Hey @yaananth!

As far as I can tell, Azure Pipelines doesn't support colors if you're using a package like chalk.  There was mention of support being added - but as far as I can tell it hasn't been.  Do you know if this is still planned?  (Or if I'm doing it wrong!)

[2021-04-12 10:53] Anderman commented on #14714
Okee, I think there is a documentation error see
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/windows-machine-file-copy?view=azure-devops

[2021-04-12 13:09] rahulroy9202 commented on #14704
Hi @anatolybolshakov, when can I expect this to be deployed to Azure Devops/Pipelines.
Is there anything I need to update on my end?

My environment is
- Server - Azure Pipelines
- Agents - Private

Thank You

[2021-04-12 13:28] EzzhevNikita commented on #14704
Hi @rahulroy9202, these changes will be deployed during the next sprint which starts in two weeks. Deployment of the changes to all organizations usually takes about three weeks (until 17 of May). Tasks will be updated automatically, there no need to perform any additional steps from your side.

[2021-04-12 15:11] AmrutaKawade commented on #14699
@roofiq yes there is change in `webdeployment-common` folder but its just folder structure change. nothing else changed inside folder.

Can you login to your private agent machine and delete this folder `C:\Program Files\VSTSAgents\VM-machine\_work\_tasks\IISWebAppDeploymentOnMachineGroup_1b467810-6725-4b6d-accd-886174c09bba`?

[2021-04-12 15:26] AmrutaKawade commented on #14660
Please refer above issue for reason why . and _ doesn't work.  Closing this issue. Feel free to reopen if you need any more info

[2021-04-12 17:29] roofiq commented on #14699
Thanks for answer @AmrutaKawade. I have fixed it already by re-registering each agent nn `C:\azagent` directory. This should be the recommend folder to use on windows VM?
I'm not sure if deleting this folder would help anyway. When I have registered it in new location, the command used to deploy website in the logs is like this (same task is being used).
`[command]"C:\azagent\CM-machine\_work\_tas

[2021-04-12 18:10] NathanPrado opened #14717 "AzurePowershell Task - Feature request addSpnToEnvironment functionality"
## Required Information
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzurePowershell

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

- Agent - Private, Windows

## Issue Description
Is there any plan to add similar functionality to the `addSpnToEnvironment` input that is exposed by

[2021-04-12 21:24] stewartadam commented on #14167
@cindydeng1998 several users are reporting the same issue with 18.x though - so I suspect the Python3 issue might be separate from this one.

[2021-04-12 21:55] stewartadam commented on #14167
Enabling System.Debug and looking at the failed IoT Edge task shows:
[code]

[2021-04-13 01:11] yantang-msft commented on #14689
@AmrutaKawade Yes, as you can see, it failed consistently for 8 times
https://devdiv.visualstudio.com/OnlineServices/_releaseProgress?_a=release-environment-logs&releaseId=43585&environmentId=429844

The only time it succeeded is because I manually removed the existing app setting

[2021-04-13 03:31] mattleibow opened #14718 "Add SkipDuplicate to NuGetCommand "push""
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: NuGetCommand

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

Even though I can do a custom push and pass in skip duplicates, this will be really nice for the push command because I am pushing to an Azure feed. I can use API keys and all that, but it will be really nice t

[2021-04-13 04:30] Bazul99 commented on #13232
We're running into this problem with msvcr120.dll and that's even stopping the Application Pool.  Maybe a shared configuration and multiple websites with 2 IIS servers makes this even harder problem to solve?

[2021-04-13 07:53] LodewijkSioen opened #14719 ""npm Authenticate (for task runners)" version '1' not available for classic pipelines"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question/Bug

**Enter Task Name**: "npm Authenticate (for task runners)"

## Environment
- Azure Pipelines
- Private Agent (but doesn't matter for this issue)

## Issue Description

Issue #8672 was fixed in a new version of this task (version '

[2021-04-13 09:11] thijsvanbloemendaal opened #14720 "Update tasks to newer version of node"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-04-13 13:39] vladislav-ryzhov commented on #14459
Hi @japj
We have reproduced this issue and it looks like an external issue. The DeleteFiles task works as expected on all images. It doesn't work in Windows server 2016, but this is due to image or environment errors.
Alternatively, you can try to delete this file using the PowerShell "Remove-item" cmdlet. After our investigation, it deletes files with a pathname longer than 260 characters.
Please

[2021-04-13 13:39] #14459 closed

[2021-04-13 15:48] mikejwhat opened #14722 "AzureFunctionApp@1 unable to resolve Kudu instance"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureFunctionApp

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using TFS on-premises, provide the version:

    - If using Azure Pipelines, provide the account name, team project name, build definition name/buil

[2021-04-13 15:58] mikejwhat commented on #14722
Note that the logs here aren't showing the Kudu URL properly. Part of the URL was appearing as a series or asterisks in the logs for me. I assumed this was the problem so I moved the function name from a secret variable to a cleartext parameter but this appeared to be a red herring. Could this be some kind of container networking issue or am I missing something?

[2021-04-13 16:38] PavanGurram-DevOpsQA opened #14723 "ExtractFiles@1 task in Azure DevOps is failed with error 'locate executable file: 'unzip'"
Hi Team,

I have received the below error in my CI pipeline at ExtractFiles@1 task and the full error message is **"##[error]Unable to locate executable file: 'unzip'. Please verify either the file path exists or the file can be found within a directory specified by the PATH environment variable. Also check the file mode to verify the file is executable."**. I believe that this task should have th

[2021-04-13 16:43] anuragc617 commented on #14677
@jasric89 Have you got the chance to try above suggestion?

[2021-04-13 16:50] anatolybolshakov commented on #14723
Hi @PavanGurram-DevOpsQA ExtractFiles searches for unzip tool on agent machine - do you use self-hosted agent or ms hosted?

[2021-04-13 16:52] EzzhevNikita commented on #14723
Hi @PavanGurram-DevOpsQA, if you are using self-hosted agent, you need manually install unzip tool, since the task doesn't contain a bundled version of this tool.

[2021-04-13 17:19] anatolybolshakov commented on #13836
Hi @d-miles is this issue still actual for you?

[2021-04-13 17:28] c4tachan opened #14724 "##[error]The deployment definition is invalid; TemplateLink RelativePath can only be used with api-version '2020-06-01' or later."
**Question, Bug, or Feature?**
*Type*: Bug/Feature

**Enter Task Name**: ARM Template Deployment

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:

## Issue Description

The relativePath property

[2021-04-13 18:50] papagalu commented on #14677
@anuragc617 the issue is not related to %1 or $1

if you pay attention to the debug log you can see an extra quote( ' ) the weird thing is that it gets there at "compile" time, when azure devops replaces variables/secretes, etc with actual values, and passes the script to an actual bash shell

those extra ' are breaking everyones build

[2021-04-13 20:53] lancegliser opened #14725 "npm ci task - ERR! string.prototype.trimend not accessible from es-abstract"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Bug**
*Type*: NPM task logical tree dependency error

**Enter Task Name**: npm

list here (V# not needed):
https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks/NpmV1

## Environment
- Server - Azure Pipelines
    - Account: TorchResearchLLC
    - Project name: Inte

[2021-04-13 20:56] lancegliser commented on #14725
I'm unsure if it will matter, but perhaps you'll need the depednencies in the project:

[code]

[2021-04-14 00:14] weichensw opened #14726 "Hard coding of .npmrc file name for getLocalNpmRegistries detection."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-04-14 04:03] AmrutaKawade commented on #14722
part which is being shown in asterisks is username:password used for authenticating api
`https://user:password@sitename.scm.azurewebsites.net/api/zipdeploy`
can you try this way locally?

You can get username password from publish profile

![image](https://user-images.githubusercontent.com/65217380/114652745-20c2cf00-9d04-11eb-9ac7-ddbb0b0e4677.png)

[code]

form url like this

`username:password@

[2021-04-14 04:08] AmrutaKawade commented on #14699
Yes this the recommended folder to use for agent.
Good to know that you resolved your problem.
Closing this issue

[2021-04-14 04:08] #14699 closed

[2021-04-14 05:53] japj commented on #14459
@vladislav-ryzhov thanks for clarifying that it doesn't work in Windows Server 2016.
I can reproduce and confirm that the underlying error with "rd" is indeed fixed on a Windows Server 2019 (Version 1809, Build 17763.1817) with LongPathsEnabled.

Related to your alternative solution, that is unfortunately not usable in this case since one of the core issues here is that the DeleteFiles task is par

[2021-04-14 06:05] AmrutaKawade commented on #14691
@928PJY from our task we don't have logic to restart app after deployment since we don't want automatically restart app without user's consent. we just copy your project contents to app service.

I talked to app service team whether they have any option available for auto restarting
Even app service doesn't restart apps automatically
Read this for more info
https://github.com/projectkudu/kudu/wiki

[2021-04-14 06:24] #14691 closed

[2021-04-14 07:41] kmadof commented on #14713
I see your point and I will try to check what process makes this issue. But in perfect world, it should not happen. If I had to guess it is something related to this task itself, as I really didn't have issue like this with other tasks. What's else? It could be missed on MS hosted agents due to cleaning which is made once they finish running a job.

[2021-04-14 10:30] Philippe85 opened #14730 "Can't use a template parameter to give pipeline name in DownloadPipelineArtifactV2 task"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DownloadPipelineArtifactV2

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
Pool: Azure Pipelines
Image: windows-latest
Agent: Azure Pipelines 5

## Issue Description
I can't use a template parameter to define the pipeline Name in the download ta

[2021-04-14 10:48] patotskiy opened #14731 "KubernetesV1 task: increase CPU count for docker container"
## Required Information

*Type*: Feature

**Enter Task Name**: KubernetesV1

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
pool: Azure Pipelines
vm-mage: ubuntu-latest

**Issue description**:
I have following configuration for task:
[code]

How can I increase CPU cores count for this docker container?

[2021-04-14 11:12] mikejwhat commented on #14722
ah... I tried publishing from my local machine with the Az CLI (just with Azure AD auth provisionally) and I got the same DNS error. Sorry, I should have tried this first. I don't understand though because the sitename.scm.azurewebsites.net URL resolves fine in public DNS. It's obviously not an issue with the AzureFunctionApp task though.

[2021-04-14 11:29] mikejwhat commented on #14722
Looks like the az functionapp deployment command was changed recently. Assuming that's what this task uses under the hood? https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md can we route this issue to the Az CLI team? Can see a few similar issues i.e. https://github.com/Azure/azure-cli/issues/17533

[2021-04-14 11:53] anuragc617 commented on #14590
@JamesMacClaranet build_resource_group_name input is for using existing resource group for packer build. If you don't want to use existing resource group then give location and optionally add temp_resource_group_name which packer will create for building image and delete during clean-up.
For more reference check this https://www.packer.io/docs/builders/azure/arm#resource-group-usage
Closing this a

[2021-04-14 11:55] anuragc617 commented on #14654
Closing this, please feel free to open an issue if you need more assistance.

[2021-04-14 11:55] #14654 closed

[2021-04-14 11:55] #14590 closed

[2021-04-14 12:19] luEbe opened #14732 "Signing a UWP Application using either VSBuild or MSBuild not working as expected"
## Required Information

**Bug**
*Type*: Signing a UWP application.

**Enter Task Name**: MSBuildV1 / VSBuildV1

## Environment
- Server - Azure Pipelines

    - Account Name: ringana
    - Team project name: Herald
    - Build number: 1.0.21090.5

- Agent - Hosted:

    - Queue name: Azure Pipelines 2

## Issue Description

We used the VSBuild task to build a UWP application and sign it with a ce

[2021-04-14 12:34] AmrutaKawade commented on #14722
we don't use az cli in our task we use kudu apis for deployment. but since you are getting same error with both approaches may be there is issue with App itself.

Can you check this thread https://social.msdn.microsoft.com/Forums/azure/en-US/5a219955-849b-49ed-9080-dfe5e008b1f8/function-app-host-error-microsoftwindowsazurestorage-the-remote-name-could-not-be-resolved?forum=AzureFunctions?

[2021-04-14 12:38] AmrutaKawade commented on #14689
@yantang-msft sorry I am not able to repro this issue.
if your appsetting going to remain same for both slots. can you add it manually on portal instead from task?

[2021-04-14 12:56] mikejwhat commented on #14722
Storage account is ok and resolvable. The function also publishes fine via Visual Studio.

[2021-04-14 13:00] AmrutaKawade commented on #14722
try restarting your app once

[2021-04-14 13:49] msrinivascharan commented on #10353
I have a project with three different modules, two Java and one Python. all three modules generate Cobertura based code coverage reports. I am able to merge all three into one using @danielpalme "ReportGenerator" extension. able to apply gating condition using merged coverage report. Please refer [this](https://github.com/coverlet-coverage/coverlet/issues/474).

[2021-04-14 14:20] EzzhevNikita commented on #14732
Hi @luEbe, it looks like it is not an issue with tasks themselves (since you have said that you have tried to use the previous task version and that didn't help to resolve the issue), I think the problem is mostly coming from the changed Visual Studio and MSBuild version on the virtual images that agents are using. I suggest you create the ticket in this repo - https://github.com/actions/virtual-e

[2021-04-14 14:46] yaananth commented on #10108
👋  sorry I am not on this and not actively working, you might have to open new issue to get some attention 🙇

[2021-04-14 14:49] luEbe commented on #14732
Ok, I created an issue there https://github.com/actions/virtual-environments/issues/3183

Thanks @EzzhevNikita

[2021-04-14 14:49] #14732 closed

[2021-04-14 15:07] mikejwhat commented on #14722
No luck. I'm now suspecting the sync API is down https://stackoverflow.com/questions/47294382/azure-functions-continuous-deployment-failing-on-syncing-function-triggers-step https://github.com/Azure/azure-functions-core-tools/issues/1457

[2021-04-14 16:40] AmrutaKawade commented on #14722
we would have received more issues if thats the case.

[2021-04-14 16:47] anatolybolshakov commented on #14713
@kmadof sure! Please let us know once there are any updates

[2021-04-14 17:01] yantang-msft commented on #14689
@AmrutaKawade The setting is already there for both slots, the problem is it says "conflict" that the parameter is there already. Does the log provide any useful information regarding why it think it's "conflict"?

[2021-04-14 17:16] AmrutaKawade commented on #14689
@yantang-msft From your task its being set again.

![image](https://user-images.githubusercontent.com/65217380/114751744-2c99aa00-9d73-11eb-9c12-0c78b9f729dd.png)

[2021-04-14 17:17] Spikrit commented on #13088
Can we have an update or at least an acknowledgement on this issue?
We are still locked on old agent versions when using Universal Packages only because it doesn't take our proxy configuration into account...

[2021-04-14 17:40] yantang-msft commented on #14689
@AmrutaKawade Yes, but we also do that for other tasks, but only the South East Asia one failed. Isn't there a force override option that I missed?
![image](https://user-images.githubusercontent.com/15950190/114753246-17d5fb80-9d0c-11eb-861a-12f5e25c9f49.png)

[2021-04-14 17:52] AmrutaKawade commented on #14689
Sorry for not explaining it properly.

conflit error is not because you have already set that setting on portal and then again trying to set it from task.

I think setting update API call is taking time to respond and before it responds next retry call is made which is giving 409 conflit error.

This is just an assumption as we had seen similar behaviour for some other API.
I don't have repro so I

[2021-04-14 18:09] #13693 closed

[2021-04-14 20:14] yantang-msft commented on #14689
@AmrutaKawade I figured out why. Appsetting keys are case insensitive.
We have configured "ASPNETCORE_environment" in the web app, while the deployment task is to update "ASPNETCORE_ENVIRONMENT". The deployment task would skip updating the appsettings if it's already there, but since it's doing case sensitive comparison, it failed for our case.
We can workaround on our side, but this is indeed a b

[2021-04-15 03:43] anuragc617 commented on #14645
Hi @SDedik and @artisticcheese yes, you are right. This is the limitation of task as for parsing and validation csm file we are using javascript JSON.parse which expects valid JSON. The multiline string and comments is supported in the latest version of ARM templates as mentioned in this [doc](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-syntax#multi-line-string

[2021-04-15 03:54] anuragc617 commented on #14677
@papagalu, sorry for confusion. I already mentioned this`it is giving error there because of '(' in subscription name`. It should be a valid app service plan name not a subscription name here.
@papagalu Can you provide more details and provide logs for your issue, so that we can have a look at it.

[2021-04-15 05:01] AmrutaKawade commented on #14689
Yes you are correct task skips when appsettings is already there.
But even if its case insensitive this API updates value correctly
https://docs.microsoft.com/en-us/rest/api/appservice/webapps/updateapplicationsettingsslot

Suppose in webapp you have `ASPNETCORE_environment` key
and API updates with `ASPNETCORE_ENVIRONMENT` key
this key `ASPNETCORE_environment` will be changed to `ASPNETCORE_ENVIR

[2021-04-15 05:22] johndowns opened #14740 "AzureResourceManagerTemplateDeploymentV3 - Support tenant-scope deployments"
**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: AzureResourceManagerTemplateDeploymentV3

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises?

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number: all/any

- Agent

[2021-04-15 06:03] #9499 closed

[2021-04-15 06:09] AmrutaKawade commented on #14706
@brunodefrancavalli can you tell me what version of `sync-request` is being used in package.json?

[2021-04-15 06:17] yantang-msft commented on #14689
@AmrutaKawade I tried that API and you are correct that the API itself would let it pass.
[code]
Then I don't know why it's giving 409 here, from the log this is the first PUT request. Also, if I just remove the appsettings from the web app, this task will pass without problem.
We have worked around this issue by updating the case so this task just doesn't try to update the appsettings.

[2021-04-15 06:31] SDedik commented on #14645
@anuragc617, the root cause of the failure is well understood, as we as possible workarounds like switching to AzureCLI task or AzurePowerShell task. However...
Think of it this way. I have an ARM template file which can be fed to the Azure Resource Manager via the Azure Portal, Azure API, Azure PowerShell and Azure CLI and it works as intended with all of the above. But, when I try to use the Azu

[2021-04-15 06:45] AmrutaKawade commented on #14689
Its good to hear that workaround is working for you.
Unfortunately I am not able to repro this so can't debug and provide fix for this issue.

I will close this issue for now.

[2021-04-15 07:15] #14689 closed

[2021-04-15 08:22] sandrosuter commented on #14414
How do I find out when this is no longer necessary?

[2021-04-15 08:23] japj commented on #13257
@egor-bryzgalov @stephenmichaelf do you have any update on when this will be available (e.g. also on premise server)

[2021-04-15 10:14] anatolybolshakov commented on #14730
Hi @Philippe85 could you please try to use DownloadPipelineArtifactV2 task without as alias - as described here?
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops

[2021-04-15 10:34] anatolybolshakov commented on #13257
@SadagopanRajaram do you know if there are any plans to publish it at the moment?

[2021-04-15 10:37] oliverchristen commented on #14167
Today it happens to me again as well.

[2021-04-15 11:40] drdamour commented on #13257
it's extra confusing because now the docs reference @2 see https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-code-coverage-results?view=azure-devops

[2021-04-15 11:51] artisticcheese commented on #14645
In addition to that please at least provide better explanation for failures. It tooks me hours to figure out what the issue is since error message so non-descriptive

[2021-04-15 11:52] ellierutherford commented on #14597
@chshrikh @nadesu any update here? I am still seeing this task fail intermittently in my pipeline - I think it's likely this is because the file it is trying to overwrite is being accessed by another process, or because of intermittent network issues, which is why it would be great if robocopy did an auto retry. Can you confirm whether this should be happening or not?

[2021-04-15 12:03] #11367 closed

[2021-04-15 12:07] mikejwhat commented on #14722
This was resolved by redeploying the function app and re-publishing the code. Bit frustrating because I was getting 502 errors on the root function app URL but there was nothing showing in Azure service status. This was obviously nothing to do with this task though. Anything we can try our side if we get 502 errors again?

[2021-04-15 12:07] #14722 closed

[2021-04-15 12:10] IvanAlekseev commented on #13257
Oh I haven't seen that updated doc. There was a bug open there why v2 is not working
https://github.com/MicrosoftDocs/azure-devops-docs/issues/9821

[2021-04-15 12:15] chshrikh commented on #14597
The current logic of task is - mapp the source path and then execute the robocopy. in case if source mapped drive gets un-mapped robocopy retry will not help as source is not more available.

From both the logs we can see one common error `2021-03-11T14:40:57.9597836Z ##[debug]Found parent path
2021-03-11T14:40:57.9888134Z ##[debug]Caught exception: The path is not of a legal form..Exception.Messa

[2021-04-15 12:39] ajinkya599 commented on #14650
@ajinkya599, @ds-ms and @ammohant discussed this and here are our thoughts on the required changes:
@ninallam - Please let us know if you have any other thoughts.

- Add an environment variable `DOCKER_TASK_BUILT_IMAGES` that captures the list of built images. Each build from Docker (V0, V1, V2) should append to this list.

- Add a new output variable `DockerOutputPath` in `DockerV0` and `DockerV1

[2021-04-15 12:57] cbrennan45 commented on #13156
Is there an update on this issue?  We are also experiencing this but its intermittent.  Run it once and it finishes in seconds. The next run takes 15 mins.  When this happens i do notice this process maybe having something to do with it??
   00:00:03 /**home/localadmin/azagent/externals/node10/bin/node** /home/localadmin/azagent/_work/_tasks/CopyFilesOverSSH_67cec91b-0351-4c2f-8465-d74b3d2a2d96/0.

[2021-04-15 13:04] jasric89 commented on #11151
I'm having the same issue when will this be fixed? I'm having to recode my whole pipeline in terraform because I can't pass a simple variable value from a PowerShell script that does some stuff before my pipeline runs...

Does PR 12922 work for Management Group and Azure CLI, or just ARM?

[2021-04-15 13:09] brunodefrancavalli commented on #14706
@AmrutaKawade I got whatever version was on master when I opened this issue. Is that what you mean? The sync-request call is in the code itself right? Sorry I am not very familiar with npm so I might be understanding your question.

[2021-04-15 13:42] jasric89 commented on #14677
You guys seriously don't work together or read, posts properly do you.... You have an open bug see PR12922 that If I specify a management group/ service plan you get an error stating that CLI can not find the Azure Subscription.... Therefore you then go down the road of referencing the Azure Subscription and you get this bug that you are replying too, a syntax error. Please can you all work as a t

[2021-04-15 13:51] MaxThom commented on #14167
Same for me, on my self hosted agent and on microsoft hosted agent.

[2021-04-15 14:05] blackalbum commented on #11339
As mwc360 mentioned, "data_0" and "log" are files. You can see that if you run  SELECT * FROM sys.database_files

In my case, I was able to get rid of data_0 and log errors by adding "Files" to these parameters

/p:DoNotDropObjectTypes=Users;Logins;RoleMembership;Permissions;Credentials;ExternalTables;ExternalDataSources;DatabaseScopedCredentials;Files;Filegroups;FileTables
/p:ExcludeObjectTypes=U

[2021-04-15 14:21] oliverchristen commented on #14167
@MaxThom [This workaround](https://github.com/microsoft/azure-pipelines-tasks/issues/14167#issuecomment-808256842) works for me.

[2021-04-15 18:11] #9994 closed

[2021-04-15 18:15] brunodefrancavalli commented on #14706
Thank you so much, that fixed the issue :)

[2021-04-15 18:15] #14706 closed

[2021-04-15 20:51] jamers99 commented on #14314
Well, it happened again today. Same machine. Same issue. I'll uninstall and reinstall again so it doesn't happen, but it seems like there is still an issue here...

[2021-04-15 20:53] jamers99 commented on #14314
@ankit-arora12, can this be reopened?

[2021-04-15 21:51] Philippe85 commented on #14730
I don't know how to use the DownloadPipelineArtifactV2 task without as alias, with pipeline name as parameter. Could you show how to do ?

[2021-04-16 00:08] #13691 closed

[2021-04-16 04:29] ninallam commented on #14650
The above approach looks good.

[code]
Regarding giving a control the to add the new labels, we should have this in Docker V2. For Docker V0, V1 we will add these by default. If customers want to turn off the labels they can  upgrade to the latest version.

[2021-04-16 05:56] ajinkya599 commented on #14650
@ninallam - Shouldn't we have a way to turn it off even for the older versions as well? The idea is to have a quick mitigation if hypothetically it breaks something for the users. The default can be on in all the versions.

[2021-04-16 06:35] anuragc617 commented on #14586
@nekdima Does the above suggested workaround work for you?

[2021-04-16 06:42] anuragc617 commented on #14485
@schmidtd-enb Does the above workaround suggested by tejasd1990 work for you?

[2021-04-16 06:44] anuragc617 commented on #14450
@zeeshanmcp12 Does the above workaround work for you?

[2021-04-16 08:49] BCOps opened #14743 "Azure App Service Settings task does not overwrite values as expected"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-04-16 09:30] jasric89 opened #14744 "AzureWebAppV1 Doesnt work with Azure Management Group"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-04-16 09:38] AmrutaKawade commented on #14744
Management group service connections are not supported currently. We use ARM APIs at many places where we need subscriptionId information

[2021-04-16 09:40] BCOps commented on #14743
Additional testing information on this bug:

There is some weird behaviour where the app service seems to "remember" the previous setting and slotSetting value combination. If a setting has "slotSetting = True" and you delete it, when you re-add it through the pipeline YML task with a value of false, this is ignored and it comes back as true. To fix this you seem to have to manually amend the slot

[2021-04-16 09:56] ikocev commented on #14300
Any light on this? It is quite annoying to download the same tool for multiple packages in single pipeline, the execution is totally random due to this sometimes even taking 5 minutes to download the ArtifactTool.

[2021-04-16 11:02] anuragc617 commented on #14645
@SDedik yes, we acknowledge that this is a bug in AzureResourceManagerTemplateDeployment task. We have started internal discussion on how to address this bug.
Sorry, my bad, yes it is t should be Azure CLI version 2.3.0 **and below**
@artisticcheese we will look at it as well if we can provide better message while error in template parsing

[2021-04-16 11:09] AmrutaKawade commented on #14743
@BCOps
slotSetting can be updated only while adding new app setting it can not be updated if there is no change in app setting value.
can you explain me your business scenario why do you want to update just slotSetting at runtime?

[2021-04-16 11:15] BCOps commented on #14743
@AmrutaKawade Thanks for getting back to me. An example would be if the settings was applied in error and needed to be rectified in code. Another example would be that during testing slotSetting was found to require changing and so again you just want to amend the value in code.
I would expect that the whole appsetting value set would be considered unique and could be changed in code, but from you

[2021-04-16 11:18] AmrutaKawade commented on #14744
@jasric89 You can create subscription level service connection

Can you explain your scenario of using management group subscription for webapp?

[2021-04-16 12:15] anuragc617 commented on #14711
@SvenEV This is an expected behaviour, if an override template parameter value contains value contains '{', '{', '\', '[' user needs to escape such characters.  Can you try passing the pipeline variables enclosed with double quotes in override template parameters. Ex -> -param2 "$(variable2)". I have tried it out and it is working fine.

[2021-04-16 12:28] SvenEV commented on #14711
@anuragc617

This is what we are already doing. We specify something like `-param1 "$(variable1)"` which I guess expands to something like
`-param1 "{"ClientId": "...", "ClientSecret": "abc[de", ...}"`.
I'm not sure if the inner quotes are automatically escaped like this:
`-param1 "{\"ClientId\": \"...\", \"ClientSecret\": \"abc[de\", ...}"`
But it does not matter anyway, the issue occurs in both

[2021-04-16 12:36] PavanGurram-DevOpsQA commented on #14723
@anatolybolshakov / @EzzhevNikita  - I'm using self hosted agent so installed Unzip on it and used the task, it works fine now. Thanks for your response.

[2021-04-16 12:36] #14723 closed

[2021-04-16 14:07] YarekTyshchenko commented on #14167
That workaround no longer works:
[code]

This is on:
[code]

[2021-04-16 14:15] nk111 commented on #12850
Any idea what could be the reason for a different coverage result (percentage) in the devops build summary vs visual studio when opening the .coverage file?

[2021-04-16 14:48] nk111 commented on #13703
In my case it was the difference between "% of blocks covered" which is displayed in VS by default and "% of lines covered" which seems to be displayed in the build summary!

[2021-04-16 16:21] anatolybolshakov commented on #13156
@cbrennan45 does it happen for the same file size? Intermittent nature of issue could point to some network issues between agent and target machine.

[2021-04-16 16:43] anatolybolshakov commented on #14730
@Philippe85 you can use it just like in this example:

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops#download-a-specific-artifact

[2021-04-16 16:45] stewartadam commented on #14167
Tagging @cindydeng1998 again, per above there's a confirmed report with older versions of Ubuntu as well, so it's not a Python 3.8-specific issue. Given its intermittency, I think it [might be something on the build agent side causing this](https://github.com/microsoft/azure-pipelines-tasks/issues/14167#issuecomment-818268294).

[2021-04-16 17:30] StingyJack commented on #13703
You should be able to change the columns in VS to see if the counts match up

[2021-04-16 17:36] marianan commented on #14167
Thanks @stewartadam , we saw this issue a couple times but could not reproduce consistently. We are investigating.

[2021-04-16 17:49] marianan commented on #14167
@YarekTyshchenko which version of the AzureIoTEdge task is showing the issue? We released yesterday 2.4.7 which should resolve the py3 issues.

[2021-04-16 18:06] nk111 commented on #13703
Yepp, your screenshot made me aware of this option actually ;)

[2021-04-16 18:48] CMIRA0906 commented on #2380
It works. Thanks

[2021-04-16 19:16] YarekTyshchenko commented on #14167
@marianan It would have been the `2.4.5` i think, the task was specified with `@2` but I also tried actual `2.4.5`.
Upgrading to ubuntu-latest and performing install of iotedgedev via pip works.
I can try `2.4.7` on monday. Is there any docs on what versions of tasks are available?

[2021-04-16 19:48] stewartadam commented on #14167
From the comment history, it looks like 2.4.6 had it happen for more people but it's been observers with 2.4.5 as well. I'm not sure it's task-version-specific.

Given the pypi packages listed in the debug output were not matching the upstream page, my guess might be old cache on certain build agents.

[2021-04-16 20:11] hbuckle opened #14751 "Go tool installer failing with 403"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Go tool installer

## Environment
- Server - Azure Pipelines
- Agent - Hosted
    - If using Hosted agent, provide agent queue name: Azure Pipelines

## Issue Description
[code]

[2021-04-16 20:31] bpeake-illuscio commented on #14751
Getting the same thing:

Go Version 1.16:

[code]

Go Version 1.16.3:

[code]

[2021-04-16 21:05] marianan commented on #14167
@stewartadam and @YarekTyshchenko thanks for your replies. We updated the AzureIoTEdge task to use python 3 instead of python 2 and we recommend using the latest version of the AzureIoTEdge task - 2.4.7. Please continue updating this thread to let us know if 2.4.7 is still showing the original symptoms.

[2021-04-16 21:31] jmontesr101 commented on #14751
Hi...
It works with any version listed on: https://storage.googleapis.com/golang/

[2021-04-16 21:41] mamckee commented on #14751
The link was broken for everyone, but should be working now: https://github.com/golang/go/issues/45603

[2021-04-17 10:56] bilalmalik777 opened #14752 "azure devops doing overwriting issue with reactjs"
I create a build pipeline in Azure DevOps for reactjs, it builds the code into **somerandomNumber.zip**. Under zip file, there is build folder in which all publish code exist. In **iis web app manage task in release**, the physical path is given following **%SystemDrive%\inetpub\wwwroot\build**. it deploys the code in **wwwroot/build/build**, actually it must deploy into **wwwroot/build/** not in

[2021-04-17 16:47] cforce commented on #11869
I try using it in "- deployment" job  and it does not work!

[2021-04-18 01:41] gaelian opened #14753 "Build Xamarin.Forms iOS app with F# 5?"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: XamariniOS

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

I have a Xamarin.Forms app that I'm trying to build with an Azure DevOps pipeline. The app uses the Fabulous F# MVU fra

[2021-04-18 07:06] Afikoman commented on #14167
Hi,
I'm experiencing the same issue.
On the 13.4 (5 days ago) I successfully worked with the iotedgedev with the Azure DevOps Release, but today it's failing with the error "Unable to locate executable file: 'iotedgedev"

Both were running on Azure Pipelines - Hosted Agent - Ubuntu 20.04.2, agent version 2.184.2.
The difference was in 2 things:
* Ubuntu Version - The working was version 20210405.1

[2021-04-18 18:11] bwstaal commented on #14594
@anshii03 Alright, I will collect and email them as soon I have some time available to do so.

[2021-04-18 22:24] zeeshanmcp12 commented on #14450
Thank you for the comment @tejasd1990 was damn busy in some deliverables. I will try this out and let you know with the results.

[2021-04-19 04:04] marianan commented on #14167
Hello @Afikoman, Ubuntu 20.04 has Python 3.8 by default. IoTEdgeDev is only supported on python 3.6 and 3.7 at the moment. Could you try your pipeline on Ubuntu 18.04 instead and let us know if the issue still happens?

[2021-04-19 05:19] vivek425ster commented on #14304
@hollowdrutt Is this still happening for you?
If yes, can you please share some recent timestamps during which this happened ?
Also, Is this issue persistent or it happens transiently ?

[2021-04-19 06:46] anuragc617 commented on #14711
@SvenEV can you please share the debug logs with `system.debug` set to `true` to confirm it is an issue in PoweShellParameters?

[2021-04-19 07:40] anuragc617 commented on #14677
@jasric89 I am not sure which PR12922 you are referring to, can you please share the link. The issue you have posted here is happening because you are passing Azure subscription instead App service plan to web app create command. As azure subscription is expanded to `Visual Studio Professional Subscription (237bc9da-22ad-49ea-8411-6cf6a190c18f)` which contains `(` , the Azure CLI is failing with u

[2021-04-19 07:53] greengumby opened #14754 "FileTransform json using variables in groups"
Question/Bug?

FileTransform@1

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

I am using the FileTransform task to replace a chunk of json from variable groups however when I substitute an array of values the transform seems to be escaping the string.

For instance when replace the value of "ReRoutes" in

[code]

I get the following (note the \ and have snipped

[2021-04-19 07:54] YarekTyshchenko commented on #14167
Tried version 2.4.7 of the task. It still didn't install iotedgedev. Attempting to install it via `pip install -U iotedgedev` brings back the same cryptography error as before.

[code]
On

[code]

Technically we don't need to stay at 16.04 so upgrading to latest fixes it, but happy to help, if you want me to debug it further @marianan

It seems to me that the task should ensure iotedgedev is insta

[2021-04-19 08:42] JamesMacClaranet commented on #14590
@anuragc617 apologies for any confusion here.

The default Packer CLI supports build_resource_group_name when providing your own packer files yes, you are right. However, the Azure DevOps Task "PackerBuild@1" when using the build type of "builtin" to autogenerate the Packer files does not support providing an existing resource group for the build.

[code]

The above snippet works fine since the bu

[2021-04-19 08:53] SvenEV commented on #14711
@anuragc617 Here's an excerpt from the debug logs (I removed some sensitive information):
[code]

The "Override template parameters" field in the release definition contains these three parameters (and a few more):
[code]

All three variables contain valid JSON. For example, the value for "api-client-credential-no-permissions" is `{"ClientId":"1234","ClientSecret":"abc[def"}`.

Note that the logs

[2021-04-19 09:11] nlighten opened #14756 "Packer V1 task fails to parse packer version since packer 1.7.1"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: PackerBuild@1

## Environment
- Server:  Azure Pipelines
- Agent: Private, using latest ubuntu-20.04 from actions/virtual-environments

## Issue Description
The latest virtual environment image uses packer 1.7.1 has a slightly different output logging of `packer --version` which is parsed incorrectly resulting in installation of (old

[2021-04-19 09:38] anuragc617 commented on #14711
@SvenEV thanks for sharing logs. This is not an issue in PoweShellParameters. It is failing in [castToType](https://github.com/microsoft/azure-pipelines-tasks/blob/acc64cc7292c98597908325e53af9f898a896189/Tasks/AzureResourceGroupDeploymentV2/operations/ResourceGroup.ts#L305) as it is going to case: string  because you would have defined ARM template parameters as string. If you define these ARM te

[2021-04-19 10:46] maxim-lobanov commented on #14753
@andy-mishechkin , Hosted macOS 10.15 images contain two versions of F#
1) Mono F#
[code]
2) .NET F#
[code]

I am not sure how exactly XamarinIOS task works and why it still refers F# 4.5

[2021-04-19 10:57] SvenEV commented on #14711
@anuragc617 It **is** an issue in PowerShellParameters. I think we are talking about two different issues here.

The error you see in the debug log is not directly related. I understand that defining the ARM template parameter as object or secureobject may prevent the error message. However, in [updateOverrideParameters(...)](https://github.com/microsoft/azure-pipelines-tasks/blob/acc64cc7292c9859

[2021-04-19 11:39] andy-mishechkin commented on #14753
@gaelian,
would you please provide link to you pipeline definition or some logs, where you've got this error on macOS agent
Thank you

[2021-04-19 12:59] andy-mishechkin commented on #13871
Hello, @Talha-B
Is this question still actual for you ? If no - may we close this ticket

Thank you

[2021-04-19 13:06] ankit-arora12 commented on #14314
Can you please try if the issue goes away when you switch to the hosted agent?

[2021-04-19 13:08] jasric89 commented on #14744
I have multiple developers with their own Visual Studio Subscription, each of these devs needs to deploy a particular pipeline to their own env. When I added the subscriptions into a Management group, and then replaced the subscription with the name of the management group as per your documentation, the deployment under the WebApp task does not work. Under CLI 2, it does work as the AZ CLI team ha

[2021-04-19 13:54] jamers99 commented on #14314
We cannot run this build on a hosted agent

[2021-04-19 16:13] ellierutherford commented on #14597
Thanks for getting back to me @chshrikh. I think this error could be a red herring, as I can see it in all passing logs as well where the copy has succeeded 100%?

[2021-04-19 16:41] pabbott-starbucks commented on #13257
Does anyone have a link to the docs `PublishCodeCoverageResults@1` while we wait for version 2 to become available ?

[2021-04-19 17:04] anatolybolshakov commented on #13836
@d-miles I'm closing this due to inactivity at the moment - please let us know if it's still actual for you.

[2021-04-19 17:04] #13836 closed

[2021-04-19 17:25] hkusulja commented on #14329
The point is that AzCopy.exe knows automatically to set content-type, the same way it should support and set automatically content-enconding. So you are saying this is a feature request and currently not supported?

This is needed for example when DevOps pipeline/build and release/deploy , static web files to azure storage, which is behind CDN, , which needs to know if file is gzip, or brotli etc,

[2021-04-19 22:44] gaelian commented on #14753
Thanks for confirming what's installed on the MacOS 10.15 image. This got me looking further back in the pipeline and I noticed there was a script included (for only historical reasons now, from when we were using the MacOS 10.14 image with an older version of the app) that set the Xamarin SDK to version 6.8.0. Disabling this script allowed the default Xamarin SDK version (currently 6.12.7) on the

[2021-04-20 01:54] jonsamwell opened #14759 "AzureFileCopy V4 CleanTarget"
AzureFileCopyV4 - https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureFileCopyV4/README.md

The readme says that the target folder can be cleaned but there is no option for this on the devops UI when the destination type is an AzureBlob?  With AzCopy V10 files can be synced with a target to remove old files.  It would be great to be able to do this to avoid old resources pers

[2021-04-20 05:24] AmrutaKawade commented on #14329
yes its not supported currently please raise feature request here  https://github.com/Azure/azure-storage-azcopy/issues

[2021-04-20 06:59] hkusulja commented on #14329
opened - https://github.com/Azure/azure-storage-azcopy/issues/1415

[2021-04-20 07:21] andy-mishechkin commented on #14753
Thank you for confirmation, @gaelian
I think we can close this ticket. If you'll impact with this issues again - feel free to reopen.

[2021-04-20 07:21] #14753 closed

[2021-04-20 09:39] Vic152 commented on #14167
Hello All, We noticed the same issue:

![image](https://user-images.githubusercontent.com/6089679/115373953-44828b00-a1c4-11eb-9525-e235de6f7b02.png)
![image](https://user-images.githubusercontent.com/6089679/115374070-6419b380-a1c4-11eb-87d5-1af632b60b9d.png)

This is a critical issue with no known workaround. What is the ETA for the fix?

[2021-04-20 10:48] #13720 closed

[2021-04-20 11:07] Vic152 commented on #14167
@marianan I tried building with Ubuntu 18.04 with following configuration and it worked:

![image](https://user-images.githubusercontent.com/6089679/115385070-9bda2880-a1cf-11eb-9e44-6e5388aa5483.png)
![image](https://user-images.githubusercontent.com/6089679/115385944-aea12d00-a1d0-11eb-815b-fa3786f3713f.png)

It is not a critical issue for us anymore as the workaround exists. Thanks for your hel

[2021-04-20 11:37] EzzhevNikita commented on #14670
@DVGY You need to start your backend and frontend servers as a background process.
You can do it by adding _&_ symbol at the end of the commands, it will look like this:
`npm run dev&`
`npm run build&`

[2021-04-20 13:02] pb6 commented on #12503
I would like to cache things like gradle OWASP dependency check plugin/db, which is used as templated tasks in multiple pipelines for different apps. I would expect all pipelines to share the same cache. Inability to control this is quite shortsighted.

Currently we get different scopes in different pipelines, and thus no caching.
553;o229ccae-8570-41ze-886b-fa2da5c359dd;refs/heads/develop;df19414

[2021-04-20 13:29] dfbaskin commented on #13971
It's definitely an intermittent error.  Also, I can't seem to make it fail if I "enable system diagnostics".

[2021-04-20 13:48] marianan commented on #14167
@YarekTyshchenko and @Vic152 thanks for your follow ups. The issue on Ubuntu 20.04 seems to originate from the python version (3.8) but we have yet to narrow down the root cause. At this point Ubuntu 16.04 and Ubuntu 18.04 are expected to both work well with the Azure IoT Edge V2 task 2.4.7.

[2021-04-20 15:51] b926vb commented on #11135
We are facing the same issue with this task in a deployment job. When will this be resolved?

[2021-04-20 15:53] b926vb commented on #7243
We are facing the same issue with this task in a deployment job. When will this be resolved?

[2021-04-20 19:09] trytocatchme commented on #5472
I had almost the same issue, maybe is not strictly related this one but looked for solution I found this topic, so on my side, problem was caused by account that was used by azure agent(window service). By default during agent installation service account is set to "NT AUTHORITY\SYSTEM", that doesn't have enough rights to copy files to the destination folder.
I suggest to change folder/shared fold

[2021-04-20 20:13] vviotto commented on #4945
Adding my voice to this, code coverage is taking around 6 minutes to upload 649 files, we're going to remove this step because its really slowing down our pipeline.
![image](https://user-images.githubusercontent.com/73895378/115458056-9f83a480-a1fb-11eb-920f-99b6fd5b1cc0.png)

[2021-04-21 04:52] winklevos opened #14761 "Update AzureMysqlDeployment to support TLS 1.2"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-04-21 05:03] raswinraaj commented on #14693
@marianan  This is probably linked to https://github.com/Azure/azure-iot-cli-extension/issues/325. I think we can close this if both are linked since that is resolved.

[2021-04-21 06:06] anuragc617 commented on #14751
Closing this issue as link was broken and it is fixed now.

[2021-04-21 06:06] #14751 closed

[2021-04-21 06:10] anuragc617 commented on #14531
@JorgeDios AzureResourceGroupDeploymentV2 is using ARM api-version 2016-07-01 and TemplateLink ID are supported for api version '2019-11-01' or later. We are working on a fix for it.

[2021-04-21 06:38] sriramdasbalaji opened #14762 "In DockerV2 task is it possible to get input parameters entered in Container Registry and Container repository values as output variables"
Hi,

In DockerV2 task is it possible to get input parameters entered in Container Registry and Container repository values as output variables. We would like to make use of these values in another script after this task.

Thanks

[2021-04-21 07:10] danielpalme commented on #4945
You can use the following approach to speed things up:

Generate coverage report with this task: https://marketplace.visualstudio.com/items?itemName=Palmmedia.reportgenerator

Use the `PublishCodeCoverageResults` task only to publish the report and disable report regeneration.

Relevant YAML looks like this:
[code]

[2021-04-21 07:16] ds-ms commented on #14762
You could try extracting those values from the DockerOutput though, right?
We expose a path to the docker task's output. You could read that file and extract that information from the script.

If you're pushing in your previous step, you could look for the `docker push` string in the output, I'm sure it'll have the container registry and repository information

[2021-04-21 07:25] Shafi263 opened #14763 "Values are not being relplaced with key using Pipeline Variables in Web.Config"
Hi,

I’ve been facing issue with pipeline variables and values have not been replaced in Web.config after Web App deployment task in Azure Releases.

Please find the attached screenshots for the same.

In web.config I’ve defined variables called 1. RedisHost 2. RedisAccesskey 3. RedisAppName and all these keys needed to be replace with respective values from Pipeline variable (As I have attached p

[2021-04-21 07:49] Christ0phH commented on #13475
@fedorbirjukov have you resolved the issue with updating the task?

[2021-04-21 08:11] kachkaev commented on #4945
@danielpalme We generate the report using `nyc` and `PublishCodeCoverageResults` only uploads files. Because it sends the files individually and not in the form of a single zip archive, the upload takes minutes. Each file is a separate HTTP request, so it’s >1K requests to make.

[2021-04-21 08:25] andy-mishechkin commented on #14637
Closed, because no any activity in 14 days.
@begroff , please feel free to reopen, if you'll have any updates

[2021-04-21 08:26] andy-mishechkin commented on #14605
Closed, because no any activity in 14 days.
@kalfilla, please feel free to reopen, if you'll have any updates

[2021-04-21 08:26] #14605 closed

[2021-04-21 09:29] DaniilShmelev commented on #14320
@narula0781 hi, do you have any progress on this issue?
We found that it is reproducible on the latest jenkins server

[2021-04-21 09:51] anatolybolshakov commented on #14730
Hi @Philippe85 do you have any updates?

[2021-04-21 10:23] oliverchristen commented on #14167
@marianan @cindydeng1998 For an unknown reason [this](https://github.com/microsoft/azure-pipelines-tasks/issues/14167#issuecomment-808256842) workaround still works for me with vmImage 20.04.

[2021-04-21 10:27] karakal commented on #14167
For me too. But it doesn't work on Ubuntu 18.04....

[2021-04-21 13:21] DenisRumyantsev commented on #9122
@jimmylewis, @JensLeible, @mika76

It looks like you have old TFS version installed and VS2019 support was added in a higher version.

I would suggest next options to resolve this issue:

1) update TFS (recommended).

2) use the solution that was suggested by @mika76:
add `msbuildLocationMethod: 'location'` and `msbuildLocation: 'C:\path\to\MSBuild.exe'` into MSBuild task inputs in your azure-pipe

[2021-04-21 13:36] petermicuch opened #14982 "Self-hosted linux agent ignores proxy settings during PublishTestResults step"
## Agent Version and Platform
2.185.1 (also tested with 2.181.0)

OS of the machine running the agent? Linux Ubuntu 18.04

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

If dev.azure.com, what is your organization name? https://dev.azure.com/iii40

## What's not working?
When running tests on selfhosted linux agent, tests are running fine, agent is online all the time,

[2021-04-21 13:46] Tiberriver256 opened #14765 "DotnetCoreCLIV2 - Should set 'DOTNET_NOLOGO' to 1"
**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: DotNetCoreCLI

## Environment
Applies to all environments

## Issue Description

The current implementation displays the following dotnet welcome message:

[code]

This message can be hidden by setting the environment variable `DOTNET_NOLOGO` to `1`.

## Why is this an issue?

1. Clutters the logs needlessly
2. Performance. My experi

[2021-04-21 13:53] cbrennan45 commented on #13156
@anatolybolshakov we copy mostly war files avg 40MB-60MB and it seems to matter that size.  I run top and do not see any thing suspect except the node process which seems to be running at the time of the copyoverssh task.  Other than that I was thinking something over the network because it our IVT environment it is not happening.

Thanks!

[2021-04-21 17:12] anuragc617 commented on #14712
@sarahkang58 I am not able to reproduce it. Can you please share the debug logs with variable system.debug set to true?

[2021-04-21 17:12] vincehorst33 commented on #12562
For those of you that arrived here looking for an answer, the official Microsoft documentation for [NuGet Authenticate](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/nuget-authenticate?view=azure-devops) helped me to implement 'SkipDuplicates' in my Azure DevOps-hosted YAML pipeline:

`
steps:
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: 'build'
    p

[2021-04-21 17:42] ralph-tice commented on #13097
this is relatively high search result for "azure devops redirect stderr", adding resolution here instead of abandoning would be ideal

[2021-04-21 18:50] anuragc617 commented on #14711
@SvenEV sorry by looking at error logs I looked into different issue. For the issue you are pointing out in  PowerShellParameters.parse(...), this is an expected behaviour and user has to escape the special characters like double quotes by "\\".
For your example try override parameters as:
-param1 "{\\"ClientId\\": \\"...\\", \\"clientSecret\\":\\"abc[as\\"\\}" -param2 "value2"` -param2 "value2"
U

[2021-04-21 19:06] stewartadam commented on #14167
@marianan I can confirm in addition to the folks above that it still fails on 2.4.7, same issue with PyPI package that's available upstream not being found on build agents:

[code]

[2021-04-21 20:58] tomkuijsten opened #14766 "Always getting "There was a concurrency exception." on first try of deploy"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: AzureResourceManagerTemplateDeploymentV3

## Environment
- Server - Azure Pipelines
- If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
Account name: Longskip
Te

[2021-04-21 23:06] marianan commented on #14167
@stewartadam you are correct; Ubuntu 20.04 defaults to python 3.8 which isn't yet supported by iotedgedev.

[2021-04-21 23:12] marianan commented on #14693
@raswinraaj you are correct, the issue should be resolved by using the latest version of the Azure IoT Edge V2 devops task (2.4.7). Please confirm that your original scenario is now working and we can close this issue. Otherwise, share the new symptoms and we will follow up.

[2021-04-22 05:45] DVGY commented on #14670
@EzzhevNikita Thanks

[2021-04-22 05:56] EzzhevNikita commented on #14670
Is it mean that the issue resolved for you?

[2021-04-22 07:01] Shafi263 commented on #14763
Hi Team,

Any update on above issue.

Regards,
Shafi

[2021-04-22 07:57] chshrikh commented on #14761
please provide the detailed logs

[2021-04-22 07:59] chshrikh commented on #14763
please provide more details on pipeline like which task are getting used to replace the variable, which task is getting used for deployment

[2021-04-22 08:07] tknerr commented on #11980
Very same issue here - is there a workaround for that?

[2021-04-22 09:51] anatolybolshakov commented on #13097
Hi @ralph-tice could you please describe your case in more details and provide some repro steps/sample?
You can use errorActionPreference and failOnStderr task inputs - to control Powershell behavior regarding stderr.

[2021-04-22 10:30] Shafi263 commented on #14763
Hi,

I'm using Web app Deployment task with XML variable substitiution to update values with respective keys in Web.config file.

[2021-04-22 10:35] johnmckenna opened #14768 "Add support for kubectl diff"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2021-04-22 13:45] Philippe85 commented on #14730
The build of applications is done by a first pipeline named "Full-CI", which is triggering a second pipeline "Full-CD" to deploy on Azure. Here is an extract of my CD pipeline "Full-CD" :

[code]
With this step :
[code]
I have this error :
![image](https://user-images.githubusercontent.com/25458469/115689021-fb653f00-a35b-11eb-8fbc-b94cd04777d8.png)

With this step :
[code]
The DownloadPipelineArt

[2021-04-22 13:58] raswinraaj commented on #14693
WE ARE GOOD TO CLOSE IT

[2021-04-22 13:58] #14693 closed

[2021-04-22 14:05] chshrikh commented on #14763
are you seeing this as regression or you are trying get this work first time ?

[2021-04-22 16:14] SvenEV commented on #14711
@anuragc617 Thanks for your patience with this! I can now confirm that escaping the double quotes solves the issue.

What I think is unfortunate is the fact that escaping is not needed in most cases, only in edge cases like the one I presented (opening, but no closing bracket). But the conclusion for me is that, to be on the safe side, we should always escape double quotes.

I'd suggest to documen

[2021-04-22 16:14] #14711 closed

[2021-04-22 16:21] Shafi263 commented on #14763
Hi,

We were using Octopu deploy previoulsy for deployment activities. Now we have moved to Azure DevOps for CI/CD pipelines.

So this is first time I'm trying to do deployment activity through ADO and this is where I got stuck.

Please help me with alternate solution to update keys with respective values as  I have shown in Screenshots.

Regards,
Shafi

[2021-04-22 16:22] dfbaskin commented on #13971
Added a step to upgrade npm to the latest (v7.10.0) to see if that has an effect.

[code]

[2021-04-22 16:34] SimonAlling opened #14770 "cURLUploader succeeds on 4xx and 5xx response status codes"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: CURLUploader

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines
- Agent - Hosted or Private: I believe it's a hosted agent, and it's running Ubuntu 20.04.

## Issue Description

To our surpr

[2021-04-22 18:12] #13715 closed

[2021-04-22 18:12] #13700 closed

[2021-04-22 18:37] timothy-volvo opened #14771 "Add support for exporting existing XCArchive folder to Xcode task"
## Required Information

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: Xcode

## Issue Description

I would like to be able to use the Xcode task to export/sign existing XCArchive folders. Currently the task runs xcodebuild -archive before -exportArchive

The flow is as follows, in my Build Pipeline all unit test, etc are executed and the app archived for the different confi

[2021-04-22 19:04] tovVAar opened #14772 "Use .NET V2 Task intermittent failures"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: BUG

**Enter Task Name**: Use .NET V2 Task

list here (V# not needed):
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/UseDotNetV2

## Environment
- Server: Azure Pipelines
    - Account name: devdiv
    - Team project name

[2021-04-22 20:26] msaxbury commented on #14422
@SimonAlling  Is this in an On-prem version? I cannot get the gui to pause let alone send email, it is as if the task is not read or processed. Azure On-Prem 2020.0.1

[2021-04-23 04:25] vivek306 commented on #10507
@elbatk I cant seem to get ur suggestion to work

[code]

 error : Unable to load the service index for source
 error :   Response status code does not indicate success: 401 (Unauthorized).

[2021-04-23 05:43] AmrutaKawade commented on #14763
@Shafi263 Refer this doc https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/transforms-variable-substitution?view=azure-devops&viewFallbackFrom=vsts&tabs=Classic#xml-transformation

[2021-04-23 05:45] AmrutaKawade commented on #14754
@greengumby are you assigning json value to `ReReoutes`?